{
  "openapi": "3.0.3",
  "info": {
    "title": "Newie Public API",
    "description": "The Newie Public API provides a REST hooks implementation for creating and subscribing to webhooks. It supports webhook subscriptions for purchases, subscriptions, payments, and payouts events.",
    "version": "1.0.0",
    "contact": {
      "name": "Newie Support",
      "url": "https://newie.notion.site/Newie-Public-API-Docs-1a39847cced780839cd6d6b90782e1be"
    }
  },
  "servers": [
    {
      "url": "https://us-central1-newie-production.cloudfunctions.net",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apiToken": []
    }
  ],
  "paths": {
    "/api_testAuth": {
      "get": {
        "summary": "User Auth Test",
        "description": "Returns a summary of the current user as represented via the token, to verify authentication works.",
        "operationId": "testAuth",
        "tags": ["Authentication"],
        "responses": {
          "200": {
            "description": "Successful authentication test",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "userID": {
                      "type": "string",
                      "example": "xyz123-user-id-here"
                    },
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  },
                  "required": ["success", "userID", "user"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API token"
          }
        }
      }
    },
    "/restHooks_create": {
      "post": {
        "summary": "Create Rest Hook",
        "description": "Creates a new webhook subscription for the specified event.",
        "operationId": "createRestHook",
        "tags": ["Rest Hooks"],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "The target URL for the webhook.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "event",
            "in": "query",
            "required": true,
            "description": "The event to subscribe to. Wildcards (*) are permissible.",
            "schema": {
              "type": "string",
              "enum": [
                "purchase.created",
                "subscription.created",
                "subscription.started",
                "subscription.renewed",
                "subscription.paused",
                "subscription.ended",
                "payment.created",
                "payment.paid",
                "payment.overdue",
                "payment.skipped",
                "payment.voided",
                "payment.uncollectible",
                "payout.created",
                "*"
              ]
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "description": "A scope ID to filter to, typically an offering ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rest hook created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestHookCreateResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API token"
          }
        }
      }
    },
    "/restHooks_destroy": {
      "delete": {
        "summary": "Destroy Rest Hook",
        "description": "Removes or disables an existing rest hook.",
        "operationId": "destroyRestHook",
        "tags": ["Rest Hooks"],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "The URL the given hook is subscribed to.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "restHookID",
            "in": "query",
            "required": true,
            "description": "The rest hook ID passed in from the result of creating a hook.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rest hook destroyed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestHookDestroyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API token"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-TOKEN",
        "description": "API token retrieved from within the Newie app as a Provider."
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "userID": {
            "type": "string",
            "example": "xyz123-user-id-here"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "darcy@newie.app"
          },
          "name": {
            "type": "string",
            "example": "Darcy Laycock"
          }
        },
        "required": ["userID", "email", "name"]
      },
      "RestHookCreateResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "userID": {
            "type": "string",
            "example": "xyz123-user-id-here"
          },
          "restHookID": {
            "type": "string",
            "example": "XYZ_abc"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "your-url-for-call"
          },
          "scope": {
            "type": "string",
            "example": "your-optional-scope"
          },
          "event": {
            "type": "string",
            "example": "your.event.name"
          }
        },
        "required": ["success", "userID", "restHookID", "url", "event"]
      },
      "RestHookDestroyResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "userID": {
            "type": "string",
            "example": "xyz123-user-id-here"
          },
          "restHookID": {
            "type": "string",
            "example": "XYZ_abc"
          }
        },
        "required": ["success", "userID", "restHookID"]
      }
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "Authentication test endpoints"
    },
    {
      "name": "Rest Hooks",
      "description": "Webhook subscription management"
    }
  ]
}