{
  "swagger": "2.0",
  "info": {
    "description": "Api encargada de la administracion de llaves",
    "version": "v1",
    "title": "API Visanet Key Management",
    "termsOfService": "http://www.visanet.com.pe",
    "contact": {
      "name": "VisaNet",
      "url": "http://www.visanet.com.pe",
      "email": "visanet@gmail.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/pgaldamez/api.keymanagement/v1/swagger.json"
  },
  "host": "apitestenv.vnforapps.com",
  "basePath": "/api.keymanagement/v1",
  "tags": [
    {
      "name": "Key Management Api",
      "description": "RESTful API to manage keys."
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/key/configure": {
      "post": {
        "tags": [
          "Key Management Api"
        ],
        "summary": "Configure vault",
        "description": "RESTful API to configure key vault.",
        "operationId": "configure",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Configuration request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/EncryptVaultResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/key/decrypt": {
      "post": {
        "tags": [
          "Key Management Api"
        ],
        "summary": "Decrypt payload",
        "description": "RESTful API to decrypt payloads.",
        "operationId": "decrypt",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Decrypt value request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EncryptVaultRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/EncryptVaultResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/key/encrypt": {
      "post": {
        "tags": [
          "Key Management Api"
        ],
        "summary": "Encrypt payload",
        "description": "RESTful API to encrypt payloads.",
        "operationId": "encrypt",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Encrypt value request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EncryptVaultRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/EncryptVaultResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/key/init": {
      "post": {
        "tags": [
          "Key Management Api"
        ],
        "summary": "Initialize derived key",
        "description": "RESTful API to init derived keys.",
        "operationId": "initializeDerivedKey",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Initialize derived key request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KeyInitRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/KeyInitResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/key/master/init": {
      "post": {
        "tags": [
          "Key Management Api"
        ],
        "summary": "Initialize master key",
        "description": "RESTful API to init master keys.",
        "operationId": "initializeMasterKey",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Initialize master key request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KeyMasterRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/KeyManagement"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/key/master/retrieve": {
      "post": {
        "tags": [
          "Key Management Api"
        ],
        "summary": "Retrieve master key",
        "description": "RESTful API to retrieve master keys.",
        "operationId": "retrieveMasterKey",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Retrieve master key request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RetrieveMasterRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/KeyManagement"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/key/retrieve/{issuerId}/{terminalId}": {
      "get": {
        "tags": [
          "Key Management Api"
        ],
        "summary": "Query key",
        "description": "RESTful API to query keys.",
        "operationId": "retrieveKey",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "issuerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "terminalId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/KeyInitResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "description": "Access token obtained from api.security",
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "definitions": {
    "ConfigurationRequest": {
      "type": "object",
      "properties": {
        "mkToken": {
          "type": "string"
        },
        "bdkToken": {
          "type": "string"
        }
      }
    },
    "EncryptVaultRequest": {
      "type": "object",
      "properties": {
        "issuerId": {
          "type": "string"
        },
        "terminalId": {
          "type": "string"
        },
        "payload": {
          "type": "string"
        },
        "padding": {
          "type": "boolean"
        },
        "hex": {
          "type": "boolean"
        }
      }
    },
    "EncryptVaultResult": {
      "type": "object",
      "properties": {
        "result": {
          "type": "string"
        }
      }
    },
    "KeyInitRequest": {
      "type": "object",
      "properties": {
        "issuerId": {
          "type": "string"
        },
        "channelId": {
          "type": "string"
        },
        "terminalId": {
          "type": "string"
        },
        "cpuId": {
          "type": "string"
        },
        "reference": {
          "type": "string"
        },
        "regenerate": {
          "type": "boolean"
        }
      }
    },
    "KeyInitResponse": {
      "type": "object",
      "properties": {
        "ewk": {
          "type": "string"
        },
        "salt": {
          "type": "string"
        },
        "keyId": {
          "type": "string"
        },
        "creationTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "KeyManagement": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "token": {
          "type": "string"
        },
        "encryptedKey": {
          "type": "string"
        },
        "active": {
          "type": "boolean"
        },
        "creationTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "KeyMasterRequest": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "RetrieveMasterRequest": {
      "type": "object",
      "properties": {
        "token": {
          "type": "string"
        }
      }
    }
  }
}