{
  "openapi": "3.0.3",
  "info": {
    "title": "15Five Public API",
    "version": "1.0",
    "description": "",
    "x-logo": {
      "url": "https://www.15five.com/wp-content/uploads/2021/01/Logo.svg",
      "altText": "15Five logo"
    },
    "x-jentic-source-url": "https://my.15five.com/api/public/"
  },
  "servers": [
    {
      "description": "production",
      "url": "https://my.15five.com/"
    }
  ],
  "tags": [
    {
      "name": "Answer",
      "description": "Retrieve check-in answers.\n"
    },
    {
      "name": "People Attribute",
      "description": "Manage people attributes.\n"
    },
    {
      "name": "People Attribute Value",
      "description": "Manage people attribute values.\n"
    },
    {
      "name": "Bulk User Operations",
      "description": "Import users in bulk.\n"
    },
    {
      "name": "Department",
      "description": "Manage company departments.\n"
    },
    {
      "name": "Feature",
      "description": "Check feature statuses.\n"
    },
    {
      "name": "Group",
      "description": "Manage company groups.\n"
    },
    {
      "name": "Group Type",
      "description": "Manage company group types.\n"
    },
    {
      "name": "Introduction",
      "description": "Welcome to the 15Five API. Our API allows you to access the functionality of 15Five platform\nand integrate it into your own applications. The documentation is designed to help developers\nquickly and easily understand how to use our API to build innovative and powerful solutions.\nWhether you're a seasoned developer or just getting started, we're here to help you every step\nof the way. Feel free to reach out to us with any questions or suggestions, and we'll do our\nbest to assist you.\n\nThe 15Five API is organized around REST. Our API has predictable resource-oriented URLs,\naccepts form-encoded request bodies, returns JSON-encoded responses, and uses standard HTTP\nresponse codes and authentication.\n\n# Authentication\n\nThe 15Five API uses API keys to authenticate requests. You can create, view and manage your\nAPI keys in 15Five: **Settings -> Features -> Integrations -> Public API**.\n\nYour API keys carry many privileges, so be sure to keep them secure. Do not share your secret\nAPI keys in publicly accessible areas such as GitHub, client-side code, etc.\n\nAuthentication to the API is performed via HTTP Basic Auth. Provide your API key as the basic\nauth username value. You do not need to provide a password.\n\n    curl -H \"Authorization: $MY_15FIVE_API_KEY\" https://api.15five.com/api/public/hello\n\nAll API requests must be made over HTTPS. Calls made over plain HTTP will fail with 301\nredirect responses. API requests without authentication will fail.\n\n# Pagination\n\nMany top-level API resources have support for bulk fetches via \"list\" API methods.\nFor instance, you can list users, groups, people attributes, etc. These list API methods\nshare a common structure and in response include the following data:\n`count`, `next`, `previous`, and `results`.\n\nThe 15Five API also supports bulk user updates for easier and more efficient employee record\nupdates.\n\n# Rate limiting\n\nRequests to the 15Five API are limited to 5 per second. If you exceed this threshold your\nsubsequent API calls will be dropped. Exceeding the threshold doesn't result in your API\nkey suspension.\n\n# Versioning\n\nWhen backwards-incompatible changes are made to the API, a new, dated version is released.\nRead our API upgrades guide to learn more about backwards compatibility. For all API updates,\nview our API changelog below.\n\n# Changelog\n\n### October 2025\n- Updated **List objectives** endpoint (`/objective/`)\n  - Added `weight` field to the response\n\n- Updated **Create objectives** endpoint (`/objective/`)\n  - Added `weight` field to the request body and response\n  - Added `weight` field to key_results in the request body and response\n  - **Deprecated** `is_progress_aligned` field in favor of `weight` field\n\n- Updated **Update objectives** endpoint (`/objective/`)\n  - Added `weight` field to the request body and response\n  - Added `weight` field to key_results in the response\n  - **Deprecated** `is_progress_aligned` field in favor of `weight` field\n\n- Updated **Get objective details** endpoint (`/objective/{id}/`)\n  - Added `weight` field to the response\n  - Added `weight` field to key_results in the response\n\n- Updated **Create key results** endpoint (`/key-result/`)\n  - Added `weight` field to the request body and response\n\n- Updated **Update key results** endpoint (`/key-result/`)\n  - Added `weight` field to the request body and response\n\n### April 2024\n- Updated **List users** (`/user/`) and **Get user details** endpoint (`/user/{id}/`)\n  - Added `mention_name` field to the response\n\n- Updated **List groups** (`/group/`) and **Get group details** endpoint (`/group/{id}/`)\n  - Added `mention_name` field to the response\n\n### December 2023\n\n- Updated **List review cycles** endpoint (`/review-cycle/`)\n  - Added `hierarchy_update_ts` to the response (currently in testing phase, available on request)\n  - Added `hierarchy_update_ts` as ordering field option\n  - Added query parameters `hierarchy_updated_after`, `hierarchy_updated_before`\n    to enable filtering by hierarchy last update timestamp\n\n- Updated **Retrieve cycle participants information** endpoint\n  (`review-cycle/{id}/participants/`)\n  - Added `hierarchy_update_ts` to the response (currently in testing phase, available on request)\n  - Added `hierarchy_update_ts` as ordering field option\n  - Added query parameters `hierarchy_updated_after`, `hierarchy_updated_before`\n    to enable filtering by hierarchy last update timestamp\n\n- Updated **Reviews list** endpoint (`/review-cycle/{cycle_id}/reviews/`)\n  - Added `hierarchy_update_ts` to the response (currently in testing phase, available on request)\n  - Added `hierarchy_update_ts` as ordering field option\n  - Added query parameters `hierarchy_updated_after`, `hierarchy_updated_before`\n    to enable filtering by hierarchy last update timestamp\n\n### October 2023\n\n- Updated **List users** endpoint (`/user`)\n  - Added query parameter `is_company_admin` to enable filtering by company admin.\n\n- Updated **Retrieve cycle questions and answers** endpoint\n  (`/review-cycle/{cycle_id}/results/answers/`)\n  - Added `status` and `completed_on` fields to items in the `answers` array.\n  - Added query parameters `created_after`, `created_before`, `updated_after`,\n    `updated_before` to enable filtering by creation and last update timestamp\n\n- Updated **Retrieve cycle participants information** endpoint\n  (`review-cycle/{id}/participants/`)\n  - Added query parameters `created_after`, `created_before`, `updated_after`,\n    `updated_before` to enable filtering by creation and last update timestamp\n  - Added query parameter `user_id` to enable filtering by selected user\n  - Added query parameter `group_id` to enable filtering by selected group\n  - Added query parameter `order_by` to enable ordering by selected fields\n\n### September 2023\n\n- Added **Get all objectives history** endpoint (`/objective/history/`)\n  - Lists all objectives history\n  - Added a new section in the navigation to group objective history endpoints\n\n- Updated **List users** (`/user`), **Get user details** and **Edit user** endpoints (`/user/{id}`)\n  - Added `global_id` fields to the user object response\n\n- Updated **Retrieve cycle questions and answers** endpoint\n  (`/review-cycle/{cycle_id}/results/answers/`)\n  - Added `review_types` field to the items in the `questions` array,\n    and `metrics_display` field to items in the `answers` array.\n\n- Added **Retrieve cycle participants information** endpoint\n  (`review-cycle/{id}/participants/`)\n  - Lists all cycle participants, along with the information about their manager and\n    additional managers, nominated peers, and all existing reviews.\n\n- Updated **List review cycles** endpoint (`/review-cycle/`)\n  - Added `does_manager_review` and `does_self_review` fields to the response in order\n    to be able to determine all review types enabled for a cycle.\n\n- Updated **Get review cycle details** endpoint (`/review-cycle/{id}/`)\n  - Added `does_manager_review` and `does_self_review` fields to the response in order\n    to be able to determine all review types enabled for a cycle.\n\n- Updated **Create key results** endpoint (`/key-result/`)\n  - Added `create_ts` and `update_ts` to the response\n\n- Updated **Update key results** endpoints (`/key-result/`)\n  - Added `create_ts` and `update_ts` to the response\n\n- Updated **List objectives** endpoint (`/objective/`)\n  - Added query parameters `created_after`, `created_before`, `updated_after`,\n    `updated_before` to enable filtering by creation and last update timestamp\n  - Added query parameter `order_by` to enable ordering by selected fields\n  - Added `create_ts` and `update_ts` to the response\n\n- Updated **Create objectives** endpoint (`/objective/`)\n  - Added `create_ts` and `update_ts` to the response\n\n- Updated **Update objectives** endpoint (`/objective/`)\n  - Added `create_ts` and `update_ts` to the response\n\n- Updated **Get objective details** endpoint (`/objective/{id}/`)\n  - Added `create_ts` and `update_ts` to the response\n\n- Updated **Get objective history** endpoint (`/objective/{objective_id}/history/`)\n  - Added query parameters `created_after`, `created_before`, `updated_after`,\n    `updated_before` to enable filtering by creation and last update timestamp\n  - Added query parameter `order_by` to enable ordering by selected fields\n  - Added `update_ts` to the response\n  - Added `objective_id` to the response\n\n### August 2023\n\n- Updated **List people attributes value** endpoint (`/attribute_value`)\n  - Added query parameters `created_after`, `created_before`, `updated_after`,\n    `updated_before` to enable filtering by creation and last update timestamp\n  - Added query parameter `order_by` to enable ordering by selected fields\n\n- Updated **List people attributes** endpoint (`/attribute`)\n  - Added query parameters `created_after`, `created_before`, `updated_after`,\n    `updated_before` to enable filtering by creation and last update timestamp\n  - Added query parameter `order_by` to enable ordering by selected fields\n\n- Updated **List high fives** endpoint (`/high-five`)\n  - Added query parameters `created_after`, `created_before`, `updated_after`,\n    `updated_before` to enable filtering by user creation and last update timestamp\n  - Added query parameter `order_by` to enable ordering by selected fields\n\n- Updated **List answers** endpoint (`/answer`)\n  - Added query parameters `created_after`, `created_before`, `updated_after`,\n    `updated_before` to enable filtering by user creation and last update timestamp\n  - Added query parameter `order_by` to enable ordering by selected fields\n\n- Updated **List questions** endpoint (`/question`)\n  - Added query parameters `created_after`, `created_before`, `updated_after`,\n    `updated_before` to enable filtering by user creation and last update timestamp\n  - Added query parameter `order_by` to enable ordering by selected fields\n\n- Updated **List check-ins** endpoint (`/report`)\n  - Added query parameters `created_after`, `created_before`, `submitted_after`,\n    `submitted_before` to enable filtering by user creation and last update timestamp\n  - Added query parameter `order_by` to enable ordering by selected fields\n\n- Updated **List pulse answers** endpoint (`/pulse`)\n  - Added query parameters `created_after`, `created_before`, `updated_after`,\n    `updated_before` to enable filtering by user creation and last update timestamp\n  - Added query parameter `order_by` to enable ordering by selected fields\n\n- Updated **List Priorities** endpoint (`/priority`)\n  - Added query parameters `created_after`, `created_before`, `updated_after`,\n    `updated_before` to enable filtering by user creation and last update timestamp\n  - Added query parameter `order_by` to enable ordering by selected fields\n\n- Updated **List security audit events** endpoint (`/security-audit`)\n  - Added query parameters `created_after`, `created_before` to enable filtering by user creation timestamp\n  - Added query parameter `order_by` to enable ordering by selected fields\n\n- Updated **List vacations** endpoint (`/vacations`)\n  - Added query parameters `created_after`, `created_before` to enable filtering by user creation timestamp\n  - Added query parameter `order_by` to enable ordering by selected fields\n\n- Updated **List security audit events** endpoint (`/security-audit`)\n  - Added query parameters `created_after`, `created_before` to enable filtering by user creation timestamp\n  - Added query parameter `order_by` to enable ordering by selected fields\n\n- Updated **Reviews cycle** endpoint (`/review-cycle`)\n  - Added query parameters `updated_on_start`, `updated_on_end`,\n    to enable filtering by last update timestamp\n  - Added query parameter `order_by` to enable ordering by selected fields\n  - Added query parameter `create_ts`, `update_ts` fields to cycle response\n\n- Updated **Reviews > answers > list** endpoint (`/review-cycle/{cycle_id}/results/answers`)\n  - Added query parameter `create_ts`, `update_ts` fields\n    to participant, authors, questions and answers response\n\n- Updated **Reviews > performance-measurements > list** endpoint (`/review-cycle/{cycle_id}/results/performance-measurements/`)\n  - Added query parameter `update_ts` field to measurement response\n  - Added query parameters `updated_on_start`, `updated_on_end`,\n    to enable filtering by last update timestamp\n  - Added query parameter `order_by` to enable ordering by selected fields\n\n- Updated **Reviews list** endpoint (`/review-cycle/{cycle_id}/reviews/`)\n  - Added query parameters `updated_on_start`, `updated_on_end`,\n    to enable filtering by last update timestamp\n  - Added query parameter `order_by` to enable ordering by selected fields\n  - Added query parameter `create_ts`, `update_ts` fields to cycle response\n\n### July 2023\n\n- Updated **List users** endpoint (`/user`)\n  - Added query parameters `created_after`, `created_before`, `updated_after`,\n    `updated_before` to enable filtering by user creation and last update timestamp\n  - Added query parameter `order_by` to enable ordering by selected fields\n\n- Updated **List users** (`/user`), **Get user details** and **Edit user** endpoints (`/user/{id}`)\n  - Added `create_ts` and `update_ts` fields to the user object response\n"
    },
    {
      "name": "High Five",
      "description": "Manage high fives.\n"
    },
    {
      "name": "Key Result",
      "description": "Manage key results.\n"
    },
    {
      "name": "Objective",
      "description": "Manage objectives.\n"
    },
    {
      "name": "1-on-1",
      "description": "Manage 1-on-1s.\n"
    },
    {
      "name": "Priority",
      "description": "Manage priorities.\n"
    },
    {
      "name": "Pulse",
      "description": "Retrieve pulse data.\n"
    },
    {
      "name": "Question",
      "description": "Manage check-in questions.\n"
    },
    {
      "name": "Check-in",
      "description": "Manage check-ins.\n"
    },
    {
      "name": "Review Cycle",
      "description": "Retrieve review cycle data. Reviews data access is limited to API key creators who have cycle administrator access\n"
    },
    {
      "name": "Security Audit",
      "description": "Retrieve security audit events.\n"
    },
    {
      "name": "User",
      "description": "Manage company users.\n"
    },
    {
      "name": "Vacation",
      "description": "Manage company and user vacations.\n"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Overview",
      "tags": [
        "Introduction"
      ]
    },
    {
      "name": "User Management",
      "tags": [
        "User",
        "Bulk User Operations",
        "People Attribute",
        "People Attribute Value",
        "User Vacation"
      ]
    },
    {
      "name": "Group Management",
      "tags": [
        "Group",
        "Group Type",
        "Department"
      ]
    },
    {
      "name": "Company Management",
      "tags": [
        "Feature",
        "Security Audit",
        "Company Vacation"
      ]
    },
    {
      "name": "Check-ins",
      "tags": [
        "Question",
        "Check-in",
        "Pulse",
        "Priority",
        "Answer"
      ]
    },
    {
      "name": "1-on-1s",
      "tags": [
        "1-on-1"
      ]
    },
    {
      "name": "High Fives",
      "tags": [
        "High Five"
      ]
    },
    {
      "name": "Objectives",
      "tags": [
        "Objective",
        "Objective History",
        "Key Result"
      ]
    },
    {
      "name": "Best-Self Review\u00ae",
      "tags": [
        "Review Cycle"
      ]
    }
  ],
  "paths": {
    "/hello": {
      "get": {
        "summary": "Check API connection",
        "description": "Check API connection and API key validity. Returns 15Five's server current timestamp.",
        "operationId": "hello",
        "tags": [
          "Introduction"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "timestamp": {
                      "type": "integer",
                      "description": "15Five's server current timestamp"
                    }
                  }
                },
                "examples": {
                  "User submits report": {
                    "value": {
                      "timestamp": 1670536702
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: API key is missing, invalid, or expired. API key owner or organization might be inactive.\n"
          },
          "403": {
            "description": "Forbidden: you don't have access to this resource.\n"
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "source": "$ curl -v -H \"Authorization: <TOKEN>\" https://<company subdomain>.15five.com/api/public/hello/\n"
          },
          {
            "lang": "JavaScript",
            "source": "var coreapi = window.coreapi;\nvar token = new coreapi.auth.TokenAuthentication({token: \"<TOKEN>\"})\nvar client = new coreapi.Client({auth: token});\nclient.get(\"https://<company subdomain>.15five.com/api/public/hello/\")\n    .then((data) => {\n        console.log(\"Status: \", data);\n    })\n    .catch((error) => {\n        console.log(\"Error: \", error);\n    });\n"
          },
          {
            "lang": "Python",
            "source": "import coreapi\nauth = coreapi.auth.TokenAuthentication(token='<TOKEN>')\nclient = coreapi.Client(auth=auth)\nresponse = client.get(\"https://<company subdomain>.15five.com/api/public/hello/\")\n"
          }
        ]
      }
    },
    "/api/public/answer/": {
      "get": {
        "tags": [
          "Answer"
        ],
        "summary": "List answers",
        "description": "Get a list of answers.\n\nReturns check-in answers for all users within the company.\n\nResponse is paginated, with a default page size of 50 objects.\n",
        "parameters": [
          {
            "name": "question_id",
            "in": "query",
            "description": "Include only answers for a question/questions with the specified ID.\n\nIn order to query for answers for multiple questions, specify questions' ids as a list of parameters, eg.: ?question_id=1&question_id=2\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Include only answers given by a user or users with the specified ID.\n\nIn order to query for answers given by multiple users, specify users' ids as a list of parameters, eg.: ?user_id=1&user_id=2\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "created_on_start",
            "in": "query",
            "description": "Only include answers having creation date greater than or equal to the date time specified in the YYYY-MM-DD HH:MM:SS format.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_on_end",
            "in": "query",
            "description": "Only include answers having creation date less than or equal to the date time specified in the YYYY-MM-DD HH:MM:SS format.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Available sorting fields (id, user, question, create_ts), defaults to \"create_ts\".\n\nAdd a \"-\" before the field name to reverse the order e.g. \"-create_ts\".\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Results page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "created_after",
            "in": "query",
            "description": "Only include users with creation date greater than or equal to the value.\n",
            "schema": {
              "type": "string",
              "pattern": " YYYY-MM-DD or YYYY-MM-DD HH:MM:SS"
            }
          },
          {
            "name": "created_before",
            "in": "query",
            "description": "Only include users with creation date less than or equal to the value.\n",
            "schema": {
              "type": "string",
              "pattern": " YYYY-MM-DD or YYYY-MM-DD HH:MM:SS"
            }
          },
          {
            "name": "updated_after",
            "in": "query",
            "description": "Only include users with updated date greater than or equal to the value.\n",
            "schema": {
              "type": "string",
              "pattern": " YYYY-MM-DD or YYYY-MM-DD HH:MM:SS"
            }
          },
          {
            "name": "updated_before",
            "in": "query",
            "description": "Only include users with updated date less than or equal to the value.\n",
            "schema": {
              "type": "string",
              "pattern": " YYYY-MM-DD or YYYY-MM-DD HH:MM:SS"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Results page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "description": "Total number of results",
                      "type": "integer"
                    },
                    "next": {
                      "description": "URL of the next page of results",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "previous": {
                      "description": "URL of the previous page of results",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "minItems": 0,
                      "maxItems": 50,
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "Answers's ID\n",
                            "type": "integer"
                          },
                          "report_id": {
                            "description": "Report's ID\n",
                            "type": "integer"
                          },
                          "question": {
                            "description": "Question that this answer answers\n",
                            "type": "string"
                          },
                          "user": {
                            "description": "User that gave the answer\n",
                            "type": "string"
                          },
                          "create_ts": {
                            "description": "The actual date this answer was saved (submitted) by user\n",
                            "type": "string"
                          },
                          "answer_text": {
                            "description": "Answer's content\n",
                            "type": "string"
                          },
                          "metrics_value": {
                            "description": "Answer's metrics value\n",
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request: missing or incorrect request parameters.\n"
          },
          "401": {
            "description": "Unauthorized: API key is missing, invalid, or expired. API key owner or organization might be inactive.\n"
          },
          "403": {
            "description": "Forbidden: you don't have access to this resource.\n"
          }
        }
      }
    },
    "/api/public/answer/{id}/": {
      "get": {
        "tags": [
          "Answer"
        ],
        "summary": "Get answer details",
        "description": "Get answer object details.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Answers's ID\n",
                      "type": "integer"
                    },
                    "report_id": {
                      "description": "Report's ID\n",
                      "type": "integer"
                    },
                    "question": {
                      "description": "Question that this answer answers\n",
                      "type": "string"
                    },
                    "user": {
                      "description": "User that gave the answer\n",
                      "type": "string"
                    },
                    "create_ts": {
                      "description": "The actual date this answer was saved (submitted) by user\n",
                      "type": "string"
                    },
                    "answer_text": {
                      "description": "Answer's content\n",
                      "type": "string"
                    },
                    "metrics_value": {
                      "description": "Answer's metrics value\n",
                      "type": "number"
                    },
                    "comments": {
                      "description": "List of comments related to this answer\n",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "user": {
                            "description": "User who left the comment\n",
                            "type": "object"
                          },
                          "comment_text": {
                            "description": "Content of comment\n",
                            "type": "string"
                          }
                        }
                      }
                    },
                    "goal_status": {
                      "description": "Status code or None\n",
                      "type": "integer"
                    },
                    "goal_completed_ts": {
                      "description": "Timestamp of when goal was completed\n",
                      "type": "string"
                    },
                    "goal_status_comments": {
                      "description": "Comments related to goal status\n",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request: missing or incorrect request parameters.\n"
          },
          "401": {
            "description": "Unauthorized: API key is missing, invalid, or expired. API key owner or organization might be inactive.\n"
          },
          "403": {
            "description": "Forbidden: you don't have access to this resource.\n"
          },
          "404": {
            "description": "Resource not found.\n"
          }
        }
      }
    },
    "/api/public/attribute/": {
      "get": {
        "tags": [
          "People Attribute"
        ],
        "summary": "List people attributes",
        "description": "Get a list of people attributes.\n\nResponse is paginated, with a default page size of 50 objects.\n",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Results page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Use to specify ordering. Defaults to \"id\".\nAdd a \"-\" before the field name to reverse the order, e.g. \"-create_ts\".\n",
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "name",
                "slug",
                "datatype",
                "create_ts",
                "update_ts"
              ]
            }
          },
          {
            "name": "created_after",
            "in": "query",
            "description": "Only include attributes with creation date greater than or equal to the value.\n",
            "schema": {
              "type": "string",
              "pattern": " YYYY-MM-DD or YYYY-MM-DD HH:MM:SS"
            }
          },
          {
            "name": "created_before",
            "in": "query",
            "description": "Only include attributes with creation date less than or equal to the value.\n",
            "schema": {
              "type": "string",
              "pattern": " YYYY-MM-DD or YYYY-MM-DD HH:MM:SS"
            }
          },
          {
            "name": "updated_after",
            "in": "query",
            "description": "Only include attributes with updated date greater than or equal to the value.\n",
            "schema": {
              "type": "string",
              "pattern": " YYYY-MM-DD or YYYY-MM-DD HH:MM:SS"
            }
          },
          {
            "name": "updated_before",
            "in": "query",
            "description": "Only include attributes with updated date less than or equal to the value.\n",
            "schema": {
              "type": "string",
              "pattern": " YYYY-MM-DD or YYYY-MM-DD HH:MM:SS"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "description": "Total number of results",
                      "type": "integer"
                    },
                    "next": {
                      "description": "URL of the next page of results",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "previous": {
                      "description": "URL of the previous page of results",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "minItems": 0,
                      "maxItems": 50,
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "ID of the people attribute\n",
                            "type": "integer"
                          },
                          "name": {
                            "description": "Name of the people attribute\n",
                            "type": "string"
                          },
                          "slug": {
                            "description": "Name representation without spaces or special characters\n",
                            "type": "string"
                          },
                          "datatype": {
                            "description": "Datatype for the people attribute\n",
                            "enum": [
                              "text",
                              "date"
                            ],
                            "type": "string"
                          },
                          "is_default": {
                            "description": "True if people attribute is a default field\n",
                            "type": "boolean"
                          },
                          "is_only_admin_editable": {
                            "description": "True if people attribute is editable only by company admins\n",
                            "type": "boolean"
                          },
                          "create_ts": {
                            "description": "Attribute creation timestamp\n",
                            "type": "string",
                            "format": "date-time"
                          },
                          "update_ts": {
                            "description": "Attribute last update timestamp\n",
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: API key is missing, invalid, or expired. API key owner or organization might be inactive.\n"
          },
          "403": {
            "description": "Forbidden: you don't have access to this resource.\n"
          }
        }
      },
      "post": {
        "tags": [
          "People Attribute"
        ],
        "summary": "Create people attribute",
        "description": "Endpoint for creating a people attribute.\n\nMaximum 50 attributes per company.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "Name of the people attribute\n",
                    "type": "string"
                  },
                  "datatype": {
                    "description": "Datatype for the people attribute\n",
                    "enum": [
                      "text",
                      "date"
                    ],
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "datatype"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request: missing or incorrect request parameters.\n"
          },
          "401": {
            "description": "Unauthorized: API key is missing, invalid, or expired. API key owner or organization might be inactive.\n"
          },
          "403": {
            "description": "Forbidden: you don't have access to this resource.\n"
          }
        }
      }
    },
    "/api/public/attribute/{id}/": {
      "get": {
        "tags": [
          "People Attribute"
        ],
        "summary": "Get people attribute details",
        "description": "Get people attribute object by id.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "ID of the people attribute\n",
                      "type": "integer"
                    },
                    "name": {
                      "description": "Name of the people attribute\n",
                      "type": "string"
                    },
                    "slug": {
                      "description": "Name representation without spaces or special characters\n",
                      "type": "string"
                    },
                    "datatype": {
                      "description": "Datatype for the people attribute\n",
                      "enum": [
                        "text",
                        "date"
                      ],
                      "type": "string"
                    },
                    "is_default": {
                      "description": "True if people attribute is a default field\n",
                      "type": "boolean"
                    },
                    "is_only_admin_editable": {
                      "description": "True if people attribute is editable only by company admins\n",
                      "type": "boolean"
                    },
                    "create_ts": {
                      "description": "Attribute creation timestamp\n",
                      "type": "string",
                      "format": "date-time"
                    },
                    "update_ts": {
                      "description": "Attribute last update timestamp\n",
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request: missing or incorrect request parameters.\n"
          },
          "401": {
            "description": "Unauthorized: API key is missing, invalid, or expired. API key owner or organization might be inactive.\n"
          },
          "403": {
            "description": "Forbidden: you don't have access to this resource.\n"
          },
          "404": {
            "description": "Resource not found.\n"
          }
        }
      }
    },
    "/api/public/attribute_value/": {
      "get": {
        "tags": [
          "People Attribute Value"
        ],
        "summary": "List people attribute values",
        "description": "Get a list of people attribute values.\n\nResponse is paginated, with a default page size of 50 objects.\n",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Results page",
            "schema": {
              "type": "integer - name"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Use to specify ordering. Defaults to \"id\".\nAdd a \"-\" before the field name to reverse the order, e.g. \"-create_ts\".\n",
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "create_ts",
                "update_ts"
              ]
            }
          },
          {
            "name": "created_after",
            "in": "query",
            "description": "Only include attribute values with creation date greater than or equal to the value.\n",
            "schema": {
              "type": "string",
              "pattern": " YYYY-MM-DD or YYYY-MM-DD HH:MM:SS"
            }
          },
          {
            "name": "created_before",
            "in": "query",
            "description": "Only include attribute values with creation date less than or equal to the value.\n",
            "schema": {
              "type": "string",
              "pattern": " YYYY-MM-DD or YYYY-MM-DD HH:MM:SS"
            }
          },
          {
            "name": "updated_after",
            "in": "query",
            "description": "Only include attribute values with updated date greater than or equal to the value.\n",
            "schema": {
              "type": "string",
              "pattern": " YYYY-MM-DD or YYYY-MM-DD HH:MM:SS"
            }
          },
          {
            "name": "updated_before",
            "in": "query",
            "description": "Only include attribute values with updated date less than or equal to the value.\n",
            "schema": {
              "type": "string",
              "pattern": " YYYY-MM-DD or YYYY-MM-DD HH:MM:SS"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "description": "Total number of results",
                      "type": "integer"
                    },
                    "next": {
                      "description": "URL of the next page of results",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "previous": {
                      "description": "URL of the previous page of results",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "minItems": 0,
                      "maxItems": 50,
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "ID of the people attribute value\n",
                            "type": "integer"
                          },
                          "attribute__is_only_admin_editable": {
                            "description": "Attribute is only admin editable\n",
                            "type": "boolean"
                          },
                          "attribute__is_default": {
                            "description": "Attribute is default\n",
                            "type": "boolean"
                          },
                          "attribute__id": {
                            "description": "ID of the people attribute\n",
                            "type": "integer"
                          },
                          "attribute__name": {
                            "description": "Name of the people attribute\n",
                            "type": "string"
                          },
                          "attribute__slug": {
                            "description": "Slug of the people attribute\n",
                            "type": "string"
                          },
                          "attribute__datatype": {
                            "description": "Datatype of the people attribute\n",
                            "type": "string"
                          },
                          "attribute__category": {
                            "description": "Category of the people attribute\n",
                            "type": "string"
                          },
                          "user_id": {
                            "description": "User ID for whom the people attribute value is set\n",
                            "type": "integer"
                          },
                          "value": {
                            "description": "Value for the people attribute\n",
                            "type": "string"
                          },
                          "create_ts": {
                            "description": "Attribute value creation timestamp\n",
                            "type": "string",
                            "format": "date-time"
                          },
                          "update_ts": {
                            "description": "Attribute value last update timestamp\n",
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: API key is missing, invalid, or expired. API key owner or organization might be inactive.\n"
          },
          "403": {
            "description": "Forbidden: you don't have access to this resource.\n"
          }
        }
      },
      "post": {
        "tags": [
          "People Attribute Value"
        ],
        "summary": "Create people attribute value",
        "description": "Endpoint for creating a people attribute value.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "Name of attribute to create value for\n",
                    "type": "string"
                  },
                  "user_id": {
                    "description": "User ID to set value for, default to API key user\n",
                    "type": "integer"
                  },
                  "value": {
                    "description": "Value for the People Attribute\n",
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "value"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request: missing or incorrect request parameters.\n"
          },
          "401": {
            "description": "Unauthorized: API key is missing, invalid, or expired. API key owner or organization might be inactive.\n"
          },
          "403": {
            "description": "Forbidden: you don't have access to this resource.\n"
          }
        }
      }
    },
    "/api/public/attribute_value/{id}/": {
      "get": {
        "tags": [
          "People Attribute Value"
        ],
        "summary": "Get people attribute details",
        "description": "Get people attribute object by id.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "ID of the people attribute value\n",
                      "type": "integer"
                    },
                    "value": {
                      "description": "Value of the people attribute value\n",
                      "type": "string"
                    },
                    "user": {
                      "description": "Hyperlink to user for people attribute value\n",
                      "type": "string"
                    },
                    "attribute": {
                      "description": "Hyperlink to attribute for people attribute value\n",
                      "type": "string"
                    },
                    "create_ts": {
                      "description": "Attribute value creation timestamp\n",
                      "type": "string",
                      "format": "date-time"
                    },
                    "update_ts": {
                      "description": "Attribute value last update timestamp\n",
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request: missing or incorrect request parameters.\n"
          },
          "401": {
            "description": "Unauthorized: API key is missing, invalid, or expired. API key owner or organization might be inactive.\n"
          },
          "403": {
            "description": "Forbidden: you don't have access to this resource.\n"
          },
          "404": {
            "description": "Resource not found.\n"
          }
        }
      }
    },
    "/api/public/bulk-user-import/": {
      "post": {
        "tags": [
          "Bulk User Operations"
        ],
        "summary": "Import users in bulk",
        "description": "Endpoint for uploading a bulk user import file.\n\nReturns the result of processing of the bulk import: ok, error, or queued.\n\nSee Settings: [People > Import page](https://app.15five.com/company/users/bulk-import/) for details on CSV file formatting.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "csv_file": {
                    "description": "The file to upload, encoded as UTF-8.\n",
                    "type": "string",
                    "format": "binary"
                  },
                  "unique_identifier": {
                    "description": "Field used to identify existing profiles. If not provided, the company's \"Employee identifier\" setting (Company settings > Import settings) will be used.\n",
                    "type": "string",
                    "enum": [
                      "email",
                      "employee_id"
                    ]
                  },
                  "email": {
                    "description": "Email address where the results will be emailed.\n",
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request: missing or incorrect request parameters.\n"
          },
          "401": {
            "description": "Unauthorized: API key is missing, invalid, or expired. API key owner or organization might be inactive.\n"
          },
          "403": {
            "description": "Forbidden: you don't have access to this resource.\n"
          }
        }
      }
    },
    "/api/public/department/": {
      "get": {
        "tags": [
          "Department"
        ],
        "summary": "List departments",
        "description": "Get a list of departments.\n\nResponse is paginated, with a default page size of 50 objects.\n\nWarning: deprecated in favor of /api/public/group\n",
        "deprecated": true,
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Include only departments with the specified name.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Results page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "description": "Total number of results",
                      "type": "integer"
                    },
                    "next": {
                      "description": "URL of the next page of results",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "previous": {
                      "description": "URL of the previous page of results",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "minItems": 0,
                      "maxItems": 50,
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "Department's ID\n",
                            "type": "integer"
                          },
                          "name": {
                            "description": "Department's name\n",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request: missing or incorrect request parameters.\n"
          },
          "401": {
            "description": "Unauthorized: API key is missing, invalid, or expired. API key owner or organization might be inactive.\n"
          },
          "403": {
            "description": "Forbidden: you don't have access to this resource.\n"
          }
        }
      }
    },
    "/api/public/department/{id}/": {
      "get": {
        "tags": [
          "Department"
        ],
        "summary": "Get department details",
        "description": "Get department object by id.\n\nWarning: deprecated in favor of /api/public/group\n",
        "deprecated": true,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Department's ID\n",
                      "type": "integer"
                    },
                    "name": {
                      "description": "Department's name\n",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request: missing or incorrect request parameters.\n"
          },
          "401": {
            "description": "Unauthorized: API key is missing, invalid, or expired. API key owner or organization might be inactive.\n"
          },
          "403": {
            "description": "Forbidden: you don't have access to this resource.\n"
          },
          "404": {
            "description": "Resource not found.\n"
          }
        }
      }
    },
    "/api/public/feature-status/": {
      "get": {
        "tags": [
          "Feature"
        ],
        "summary": "Retrieve feature statuses",
        "description": "Gets current feature statuses for company.\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pulse": {
                      "description": "Value is 'enabled' if the company can access Pulse and 'disabled' if not\n",
                      "type": "string"
                    },
                    "demographic_attributes": {
                      "description": "Value is 'enabled' if the Demographic Attributes feature is enabled for the company and 'disabled' if not\n",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: API key is missing, invalid, or expired. API key owner or organization might be inactive.\n"
          },
          "403": {
            "description": "Forbidden: you don't have access to this resource.\n"
          }
        }
      }
    },
    "/api/public/group/": {
      "get": {
        "tags": [
          "Group"
        ],
        "summary": "List groups",
        "description": "Get a list of groups.\n\nResponse is paginated, with a default page size of 50 objects.\n",
        "parameters": [
          {
            "name": "name__in",
            "in": "query",
            "description": "Include only groups with the specified names.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Results page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "description": "Total number of results",
                      "type": "integer"
                    },
                    "next": {
                      "description": "URL of the next page of results",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "previous": {
                      "description": "URL of the previous page of results",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "minItems": 0,
                      "maxItems": 50,
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "Group id\n",
                            "type": "integer"
                          },
                          "name": {
                            "description": "Group name\n",
                            "type": "string"
                          },
                          "group_type_name": {
                            "description": "Plural name of the group type\n",
                            "type": "string"
                          },
                          "members_count": {
                            "description": "Count of group members",
                            "type": "integer"
                          },
                          "mention_name": {
                            "description": "Group's mention name\n",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request: missing or incorrect request parameters.\n"
          },
          "401": {
            "description": "Unauthorized: API key is missing, invalid, or expired. API key owner or organization might be inactive.\n"
          },
          "403": {
            "description": "Forbidden: you don't have access to this resource.\n"
          }
        }
      },
      "post": {
        "tags": [
          "Group"
        ],
        "summary": "Create groups",
        "description": "Creates user groups\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "description": "Group name\n",
                      "type": "string"
                    },
                    "group_type_id": {
                      "description": "Group type id. Defaults to id of group type \"Groups\"\n",
                      "type": "integer"
                    },
                    "group_admins_ids": {
                      "description": "List of user ids to be assigned as group admins\n",
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "member_ids": {
                      "description": "List of user ids to be assigned as group members\n",
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "is_peer_drilldown": {
                      "description": "Designates if it is peer drilldown\n",
                      "type": "boolean"
                    },
                    "is_priorities_access_on": {
                      "description": "Designates if it priorities access is on\n",
                      "type": "boolean"
                    },
                    "is_peer_view": {
                      "description": "Designates if it is peer view\n",
                      "type": "boolean"
                    },
                    "skip_company_wide_questions": {
                      "description": "Does not answer company-wide questions\n",
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "description": "Group id\n",
                        "type": "integer"
                      },
                      "name": {
                        "description": "Group name\n",
                        "type": "string"
                      },
                      "group_type_id": {
                        "description": "Group type id. Defaults to id of group type \"Groups\"\n",
                        "type": "integer"
                      },
                      "group_admins_ids": {
                        "description": "List of user ids to be assigned as group admins\n",
                        "type": "array",
                        "items": {
                          "type": "integer"
                        }
                      },
                      "member_ids": {
                        "description": "List of user ids to be assigned as group members\n",
                        "type": "array",
                        "items": {
                          "type": "integer"
                        }
                      },
                      "is_peer_drilldown": {
                        "description": "Designates if it is peer drilldown\n",
                        "type": "boolean"
                      },
                      "is_priorities_access_on": {
                        "description": "Designates if it priorities access is on\n",
                        "type": "boolean"
                      },
                      "is_peer_view": {
                        "description": "Designates if it is peer view\n",
                        "type": "boolean"
                      },
                      "skip_company_wide_questions": {
                        "description": "Does not answer company-wide questions\n",
                        "type": "boolean"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request: missing or incorrect request parameters.\n"
          },
          "401": {
            "description": "Unauthorized: API key is missing, invalid, or expired. API key owner or organization might be inactive.\n"
          },
          "403": {
            "description": "Forbidden: you don't have access to this resource.\n"
          }
        }
      },
      "put": {
        "tags": [
          "Group"
        ],
        "summary": "Update groups",
        "description": "Update user groups\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Group id\n",
                      "type": "integer"
                    },
                    "name": {
                      "description": "Group name\n",
                      "type": "string"
                    },
                    "group_type_id": {
                      "description": "Group type id. Defaults to id of group type \"Groups\"\n",
                      "type": "integer"
                    },
                    "group_admins_ids": {
                      "description": "List of user ids to be assigned as group admins\n",
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "member_ids": {
                      "description": "List of user ids to be assigned as group members\n",
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "is_peer_drilldown": {
                      "description": "Designates if it is peer drilldown\n",
                      "type": "boolean"
                    },
                    "is_priorities_access_on": {
                      "description": "Designates if it priorities access is on\n",
                      "type": "boolean"
                    },
                    "is_peer_view": {
                      "description": "Designates if it is peer view\n",
                      "type": "boolean"
                    },
                    "skip_company_wide_questions": {
                      "description": "Does not answer company-wide questions\n",
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "description": "Group id\n",
                        "type": "integer"
                      },
                      "name": {
                        "description": "Group name\n",
                        "type": "string"
                      },
                      "group_type_id": {
                        "description": "Group type id. Defaults to id of group type \"Groups\"\n",
                        "type": "integer"
                      },
                      "group_admins_ids": {
                        "description": "List of user ids to be assigned as group admins\n",
                        "type": "array",
                        "items": {
                          "type": "integer"
                        }
                      },
                      "member_ids": {
                        "description": "List of user ids to be assigned as group members\n",
                        "type": "array",
                        "items": {
                          "type": "integer"
                        }
                      },
                      "is_peer_drilldown": {
                        "description": "Designates if it is peer drilldown\n",
                        "type": "boolean"
                      },
                      "is_priorities_access_on": {
                        "description": "Designates if it priorities access is on\n",
                        "type": "boolean"
                      },
                      "is_peer_view": {
                        "description": "Designates if it is peer view\n",
                        "type": "boolean"
                      },
                      "skip_company_wide_questions": {
                        "description": "Does not answer company-wide questions\n",
                        "type": "boolean"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request: missing or incorrect request parameters.\n"
          },
          "401": {
            "description": "Unauthorized: API key is missing, invalid, or expired. API key owner or organization might be inactive.\n"
          },
          "403": {
            "description": "Forbidden: you don't have access to this resource.\n"
          }
        }
      }
    },
    "/api/public/group/{id}/": {
      "get": {
        "tags": [
          "Group"
        ],
        "summary": "Get group details",
        "description": "Get company group object by id.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "ID of the company group\n",
                      "type": "integer"
                    },
                    "name": {
                      "description": "Name of the company group\n",
                      "type": "string"
                    },
                    "members": {
                      "description": "Users in this company group\n",
                      "type": "array"
                    },
                    "group_admins": {
                      "description": "Admins for this company group\n",
                      "type": "array"
                    },
                    "group_type": {
                      "description": "ID of the group type\n",
                      "type": "string"
                    },
                    "group_type_name": {
                      "description": "Plural name of the group type\n",
                      "type": "string"
                    },
                    "mention_name": {
                      "description": "Group's mention name\n",
                      "type": "string"
                    },
                    "is_peer_drilldown": {
                      "description": "Designates if it is peer drilldown\n",
                      "type": "boolean"
                    },
                    "is_peer_view": {
                      "description": "Designates if it is peer view\n",
                      "type": "boolean"
                    },
                    "skip_company_wide_questions": {
                      "description": "Does not answer company-wide questions\n",
                      "type": "boolean"
                    },
                    "create_ts": {
                      "description": "Group's creation timestamp\n",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request: missing or incorrect request parameters.\n"
          },
          "401": {
            "description": "Unauthorized: API key is missing, invalid, or expired. API key owner or organization might be inactive.\n"
          },
          "403": {
            "description": "Forbidden: you don't have access to this resource.\n"
          },
          "404": {
            "description": "Resource not found.\n"
          }
        }
      }
    },
    "/api/public/group-type/": {
      "get": {
        "tags": [
          "Group Type"
        ],
        "summary": "List group types",
        "description": "Get a list of group types.\n\nResponse is paginated, with a default page size of 50 objects.\n",
        "parameters": [
          {
            "name": "name_plural",
            "in": "query",
            "description": "Include only group_types with the specified plural name.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Results page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "description": "Total number of results",
                      "type": "integer"
                    },
                    "next": {
                      "description": "URL of the next page of results",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "previous": {
                      "description": "URL of the previous page of results",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "minItems": 0,
                      "maxItems": 50,
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "Group Type's ID\n",
                            "type": "integer"
                          },
                          "name_plural": {
                            "description": "Group Type's plural name\n",
                            "type": "string"
                          },
                          "name_singular": {
                            "description": "Group Type's singular name\n",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request: missing or incorrect request parameters.\n"
          },
          "401": {
            "description": "Unauthorized: API key is missing, invalid, or expired. API key owner or organization might be inactive.\n"
          },
          "403": {
            "description": "Forbidden: you don't have access to this resource.\n"
          }
        }
      },
      "post": {
        "tags": [
          "Group Type"
        ],
        "summary": "Create group type",
        "description": "Create a group type within a company.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name_plural": {
                    "description": "Plural name of the company group type\n",
                    "type": "string"
                  },
                  "name_singular": {
                    "description": "Name of the company group type\n",
                    "type": "string"
                  }
                },
                "required": [
                  "name_plural"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Group Type's ID\n",
                      "type": "integer"
                    },
                    "name_plural": {
                      "description": "Group Type's plural name\n",
                      "type": "string"
                    },
                    "name_singular": {
                      "description": "Group Type's singular name\n",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request: missing or incorrect request parameters.\n"
          },
          "401": {
            "description": "Unauthorized: API key is missing, invalid, or expired. API key owner or organization might be inactive.\n"
          },
          "403": {
            "description": "Forbidden: you don't have access to this resource.\n"
          },
          "409": {
            "description": "Group type with `name_plural` already exists.\n"
          }
        }
      }
    },
    "/api/public/group-type/{id}/": {
      "get": {
        "tags": [
          "Group Type"
        ],
        "summary": "Get group type details",
        "description": "Get company group type object by id.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "ID of the company group type\n",
                      "type": "integer"
                    },
                    "name_plural": {
                      "description": "Name of the company group type\n",
                      "type": "string"
                    },
                    "name_singular": {
                      "description": "Name of the company group type\n",
                      "type": "string"
                    },
                    "companygroup_set": {
                      "description": "Groups in this company group type\n",
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "create_ts": {
                      "description": "Group type's creation timestamp\n",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request: missing or incorrect request parameters.\n"
          },
          "401": {
            "description": "Unauthorized: API key is missing, invalid, or expired. API key owner or organization might be inactive.\n"
          },
          "403": {
            "description": "Forbidden: you don't have access to this resource.\n"
          },
          "404": {
            "description": "Resource not found.\n"
          }
        }
      },
      "put": {
        "tags": [
          "Group Type"
        ],
        "summary": "Update group type",
        "description": "Update group type.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name_singular": {
                    "description": "Name of the company group type\n",
                    "type": "string"
                  },
                  "name_plural": {
                    "description": "Plural name of the company group type\n",
                    "type": "string"
                  },
                  "companygroup_set": {
                    "description": "Groups in this company group type\n",
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request: missing or incorrect request parameters.\n"
          },
          "401": {
            "description": "Unauthorized: API key is missing, invalid, or expired. API key owner or organization might be inactive.\n"
          },
          "403": {
            "description": "Forbidden: you don't have access to this resource.\n"
          },
          "404": {
            "description": "Resource not found.\n"
          }
        }
      },
      "patch": {
        "tags": [
          "Group Type"
        ],
        "summary": "Update group type",
        "description": "Update group type.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name_singular": {
                    "description": "Name of the company group type\n",
                    "type": "string"
                  },
                  "name_plural": {
                    "description": "Plural name of the company group type\n",
                    "type": "string"
                  },
                  "companygroup_set": {
                    "description": "Groups in this company group type\n",
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request: missing or incorrect request parameters.\n"
          },
          "401": {
            "description": "Unauthorized: API key is missing, invalid, or expired. API key owner or organization might be inactive.\n"
          },
          "403": {
            "description": "Forbidden: you don't have access to this resource.\n"
          },
          "404": {
            "description": "Resource not found.\n"
          }
        }
      },
      "delete": {
        "tags": [
          "Group Type"
        ],
        "summary": "Delete group type",
        "description": "Delete group type.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "400": {
            "description": "Bad request: missing or incorrect request parameters.\n"
          },
          "401": {
            "description": "Unauthorized: API key is missing, invalid, or expired. API key owner or organization might be inactive.\n"
          },
          "403": {
            "description": "Forbidden: you don't have access to this resource.\n"
          },
          "404": {
            "description": "Resource not found.\n"
          }
        }
      }
    },
    "/api/public/high-five/": {
      "get": {
        "tags": [
          "High Five"
        ],
        "summary": "List high fives",
        "description": "Get a list of high fives within the company.\n\nResponse is paginated, with a default page size of 50 objects.\n",
        "parameters": [
          {
            "name": "report_id",
            "in": "query",
            "description": "Include only high fives within the report with the specified ID.\n\nIn order to query for high fives given by multiple reports, specify report ids as a list of parameters, eg.: ?report_id=1&report_id=2\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "receiver_id",
            "in": "query",
            "description": "Include only high fives received by the provided user ID(s).\n\nIn order to query for high fives received by multiple IDs, specify receiver ids as a list of parameters, eg.: ?receiver_id=1&receiver_id=2\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "created_on_start",
            "in": "query",
            "description": "Only include high fives having creation date greater than or equal to the date time specified in the YYYY-MM-DD HH:MM:SS format.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_on_end",
            "in": "query",
            "description": "Only include high fives having creation date less than or equal to the date time specified in the YYYY-MM-DD HH:MM:SS format.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Available sorting fields (id, report, create_ts), defaults to \"create_ts\".\n\nAdd a \"-\" before the field name to reverse the order e.g. \"-create_ts\"\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Results page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "created_after",
            "in": "query",
            "description": "Only include users with creation date greater than or equal to the value.\n",
            "schema": {
              "type": "string",
              "pattern": " YYYY-MM-DD or YYYY-MM-DD HH:MM:SS"
            }
          },
          {
            "name": "created_before",
            "in": "query",
            "description": "Only include users with creation date less than or equal to the value.\n",
            "schema": {
              "type": "string",
              "pattern": " YYYY-MM-DD or YYYY-MM-DD HH:MM:SS"
            }
          },
          {
            "name": "updated_after",
            "in": "query",
            "description": "Only include users with updated date greater than or equal to the value.\n",
            "schema": {
              "type": "string",
              "pattern": " YYYY-MM-DD or YYYY-MM-DD HH:MM:SS"
            }
          },
          {
            "name": "updated_before",
            "in": "query",
            "description": "Only include users with updated date less than or equal to the value.\n",
            "schema": {
              "type": "string",
              "pattern": " YYYY-MM-DD or YYYY-MM-DD HH:MM:SS"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "description": "Total number of results",
                      "type": "integer"
                    },
                    "next": {
                      "description": "URL of the next page of results",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "previous": {
                      "description": "URL of the previous page of results",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "minItems": 0,
                      "maxItems": 50,
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "High fives's ID\n",
                            "type": "integer"
                          },
                          "report": {
                            "description": "Report that contains the high five\n",
                            "type": "string"
                          },
                          "create_ts": {
                            "description": "The actual date this high five was saved (submitted) by user\n",
                            "type": "string"
                          },
                          "text": {
                            "description": "High Five's content\n",
                            "type": "string"
                          },
                          "creator_id": {
                            "description": "High five creator's ID\n",
                            "type": "integer"
                          },
                          "creator": {
                            "description": "Link to high five's creator\n",
                            "type": "string"
                          },
                          "creator_details": {
                            "description": null,
                            "type": "object",
                            "properties": {
                              "id": {
                                "description": "creator id\n",
                                "type": "integer"
                              },
                              "full_name": {
                                "description": "full creator name\n",
                                "type": "string"
                              },
                              "email": {
                                "description": "creator email\n",
                                "type": "string",
                                "format": "email"
                              }
                            }
                          },
                          "receivers": {
                            "description": "list of all mentioned users (incl. users mentioned by all, and groups)\n",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "description": "user id\n",
                                  "type": "integer"
                                },
                                "url": {
                                  "description": "link to user details\n",
                                  "type": "string"
                                },
                                "full_name": {
                                  "description": "full user name\n",
                                  "type": "string"
                                },
                                "email": {
                                  "description": "user email\n",
                                  "type": "string",
                                  "format": "email"
                                }
                              }
                            }
                          },
                          "email_receivers": {
                            "description": "list of email mentions\n",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "email": {
                                  "description": "mentioned email\n",
                                  "type": "string",
                                  "format": "email"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request: missing or incorrect request parameters.\n"
          },
          "401": {
            "description": "Unauthorized: API key is missing, invalid, or expired. API key owner or organization might be inactive.\n"
          },
          "403": {
            "description": "Forbidden: you don't have access to this resource.\n"
          }
        }
      },
      "post": {
        "tags": [
          "High Five"
        ],
        "summary": "Create high five",
        "description": "Create a High five within a company.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "description": "Text of the high five. SHould include the @mention of the persons, and/or the emails mention\n",
                    "type": "string"
                  },
                  "creator_id": {
                    "description": "ID of the user creating the high five\n",
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "High fives's ID\n",
                      "type": "integer"
                    },
                    "report": {
                      "description": "Report that contains the high five\n",
                      "type": "string"
                    },
                    "create_ts": {
                      "description": "The actual date this high five was saved (submitted) by user\n",
                      "type": "string"
                    },
                    "text": {
                      "description": "High Five's content\n",
                      "type": "string"
                    },
                    "creator_id": {
                      "description": "High five creator's ID\n",
                      "type": "integer"
                    },
                    "creator": {
                      "description": "Link to high five's creator\n",
                      "type": "string"
                    },
                    "creator_details": {
                      "description": null,
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "creator id\n",
                          "type": "integer"
                        },
                        "full_name": {
                          "description": "full creator name\n",
                          "type": "string"
                        },
                        "email": {
                          "description": "creator email\n",
                          "type": "string",
                          "format": "email"
                        }
                      }
                    },
                    "receivers": {
                      "description": "list of all mentioned users (incl. users mentioned by all, groups and email)\n",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "user id\n",
                            "type": "integer"
                          },
                          "url": {
                            "description": "link to user details\n",
                            "type": "string"
                          },
                          "full_name": {
                            "description": "full user name\n",
                            "type": "string"
                          },
                          "email": {
                            "description": "user email\n",
                            "type": "string",
                            "format": "email"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request: missing or incorrect request parameters.\n"
          },
          "401": {
            "description": "Unauthorized: API key is missing, invalid, or expired. API key owner or organization might be inactive.\n"
          },
          "403": {
            "description": "Forbidden: you don't have access to this resource.\n"
          }
        }
      }
    },
[...]
