{
  "openapi": "3.0.3",
  "info": {
    "title": "BitMEX API",
    "description": "## REST API for the BitMEX Trading Platform\n\n_If you are building automated tools, please subscribe to the_\n_[BitMEX API RSS Feed](https://blog.bitmex.com/api_announcement/feed/) for changes. The feed will be updated_\n_regularly and is the most reliable way to get downtime and update announcements._\n\n[View Changelog](/app/apiChangelog)\n\n---\n\n#### Getting Started\n\nBase URI: [https://www.bitmex.com/api/v1](/api/v1)\n\n##### Fetching Data\n\nAll REST endpoints are documented below. You can try out any query right from this interface.\n\nMost table queries accept `count`, `start`, and `reverse` params. Set `reverse=true` to get rows newest-first.\n\nAdditional documentation regarding filters, timestamps, and authentication\nis available in [the main API documentation](/app/restAPI).\n\n_All_ table data is available via the [Websocket](/app/wsAPI). We highly recommend using the socket if you want\nto have the quickest possible data without being subject to ratelimits.\n\n##### Return Types\n\nBy default, all data is returned as JSON. Send `?_format=csv` to get CSV data or `?_format=xml` to get XML data.\n\n##### Trade Data Queries\n\n_This is only a small subset of what is available, to get you started._\n\nFill in the parameters and click the `Try it out!` button to try any of these queries.\n\n- [Pricing Data](#!/Quote/Quote_get)\n\n- [Trade Data](#!/Trade/Trade_get)\n\n- [OrderBook Data](#!/OrderBook/OrderBook_getL2)\n\n- [Settlement Data](#!/Settlement/Settlement_get)\n\n- [Exchange Statistics](#!/Stats/Stats_history)\n\nEvery function of the BitMEX.com platform is exposed here and documented. Many more functions are available.\n\n##### Swagger Specification\n\n[\u21e9 Download Swagger JSON](swagger.json)\n\n---\n\n## All API Endpoints\n\nClick to expand a section.\n",
    "termsOfService": "https://www.bitmex.com/app/terms",
    "contact": {
      "email": "support@bitmex.com"
    },
    "version": "1.2.0"
  },
  "servers": [
    {
      "url": "https://www.bitmex.com/api/v1",
      "description": "BitMEX Production API"
    },
    {
      "url": "https://testnet.bitmex.com/api/v1",
      "description": "BitMEX Testnet API"
    }
  ],
  "paths": {
    "/announcement": {
      "get": {
        "tags": [
          "Announcement"
        ],
        "summary": "Get site announcements.",
        "operationId": "Announcement.get",
        "parameters": [
          {
            "name": "columns",
            "in": "query",
            "description": "Array of column names to fetch. If omitted, will return all columns.",
            "schema": {
              "type": "string",
              "format": "JSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Announcement"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parameter Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/announcement/urgent": {
      "get": {
        "tags": [
          "Announcement"
        ],
        "summary": "Get urgent (banner) announcements.",
        "operationId": "Announcement.getUrgent",
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Announcement"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parameter Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/apiKey": {
      "get": {
        "tags": [
          "APIKey"
        ],
        "summary": "Get your API Keys.",
        "operationId": "APIKey.get",
        "parameters": [
          {
            "name": "reverse",
            "in": "query",
            "description": "If true, will sort results newest first.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/APIKey"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parameter Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/apiKey/self": {
      "get": {
        "tags": [
          "APIKey"
        ],
        "summary": "Get the API key used to make this request.",
        "operationId": "APIKey.self",
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKey"
                }
              }
            }
          },
          "400": {
            "description": "Parameter Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/chat/pinned": {
      "get": {
        "tags": [
          "Chat"
        ],
        "summary": "Get pinned message for a channel.",
        "operationId": "Chat.getPinnedMessage",
        "parameters": [
          {
            "name": "channelID",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PinnedMessage"
                }
              }
            }
          },
          "400": {
            "description": "Parameter Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/chat": {
      "get": {
        "tags": [
          "Chat"
        ],
        "summary": "Get chat messages.",
        "operationId": "Chat.get",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Number of results to fetch.",
            "schema": {
              "type": "number",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Starting ID for results.",
            "schema": {
              "type": "number",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "reverse",
            "in": "query",
            "description": "If true, will sort results newest first.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "channelID",
            "in": "query",
            "description": "Channel id. GET /chat/channels for ids. Global English by default",
            "schema": {
              "type": "number",
              "format": "double",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Chat"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parameter Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      },
      "post": {
        "tags": [
          "Chat"
        ],
        "summary": "Send a chat message.",
        "operationId": "Chat.new",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string"
                  },
                  "channelID": {
                    "type": "number",
                    "format": "double",
                    "default": 1,
                    "description": "Channel to post to. Default 1 (English)."
                  }
                },
                "required": [
                  "message"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string"
                  },
                  "channelID": {
                    "type": "number",
                    "format": "double",
                    "default": 1,
                    "description": "Channel to post to. Default 1 (English)."
                  }
                },
                "required": [
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chat"
                }
              }
            }
          },
          "400": {
            "description": "Parameter Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/chat/channels": {
      "get": {
        "tags": [
          "Chat"
        ],
        "summary": "Get available channels.",
        "operationId": "Chat.getChannels",
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChatChannel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parameter Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/chat/connected": {
      "get": {
        "tags": [
          "Chat"
        ],
        "summary": "Get connected users.",
        "description": "Returns an array with browser users in the first position and API users (bots) in the second position.",
        "operationId": "Chat.getConnected",
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectedUsers"
                }
              }
            }
          },
          "400": {
            "description": "Parameter Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/execution": {
      "get": {
        "tags": [
          "Execution"
        ],
        "summary": "Get all raw executions for your account.",
        "description": "This returns all raw transactions, which includes order opening and cancelation, and order status\nchanges. It can be quite noisy. More focused information is available at `/execution/tradeHistory`.\n\nYou may also use the `filter` param to target your query. Specify an array as a filter value, such as\n`{\"execType\": [\"Settlement\", \"Trade\"]}` to filter on multiple values.\n\nSee [the FIX Spec](http://www.onixs.biz/fix-dictionary/5.0.SP2/msgType_8_8.html) for explanations of these fields.\n",
        "operationId": "Execution.get",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "Instrument symbol. Send a bare series (e.g. XBT) to get data for the nearest expiring contract in that series.\n\nYou can also send a timeframe, e.g. `XBT:quarterly`. Timeframes are `nearest`, `daily`, `weekly`, `monthly`, `quarterly`, `biquarterly`, and `perpetual`.\n\nSymbols are case-insensitive.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Generic table filter. Send JSON key/value pairs, such as `{\"key\": \"value\"}`. You can key on individual fields, and do more advanced querying on timestamps. See the [Timestamp Docs](https://www.bitmex.com/app/restAPI#Timestamp-Filters) for more details.",
            "schema": {
              "type": "string",
              "format": "JSON"
            }
          },
          {
            "name": "columns",
            "in": "query",
            "description": "Array of column names to fetch. If omitted, will return all columns.\n\nNote that this method will always return item keys, even when not specified, so you may receive more columns that you expect.",
            "schema": {
              "type": "string",
              "format": "JSON"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of results to fetch. Must be a positive integer.",
            "schema": {
              "type": "number",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Starting point for results.",
            "schema": {
              "type": "number",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "reverse",
            "in": "query",
            "description": "If true, will sort results newest first.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "description": "Starting date filter for results.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "Ending date filter for results.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Execution"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parameter Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/execution/tradeHistory": {
      "get": {
        "tags": [
          "Execution"
        ],
        "summary": "Get all balance-affecting executions.",
        "operationId": "Execution.getTradeHistory",
        "parameters": [
          {
            "name": "targetAccountId",
            "in": "query",
            "description": "AccountId fetching the trade history, must be a paired account with main user.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "targetAccountIds",
            "in": "query",
            "description": "AccountIds fetching the trade history, must be a paired account with main user. Can be wildcard * to get all accounts linked to the authenticated user",
            "schema": {
              "type": "string",
              "format": "JSON"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "description": "Instrument symbol. Send a bare series (e.g. XBT) to get data for the nearest expiring contract in that series.\n\nYou can also send a timeframe, e.g. `XBT:quarterly`. Timeframes are `nearest`, `daily`, `weekly`, `monthly`, `quarterly`, `biquarterly`, and `perpetual`.\n\nSymbols are case-insensitive.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Generic table filter. Send JSON key/value pairs, such as `{\"key\": \"value\"}`. You can key on individual fields, and do more advanced querying on timestamps. See the [Timestamp Docs](https://www.bitmex.com/app/restAPI#Timestamp-Filters) for more details.",
            "schema": {
              "type": "string",
              "format": "JSON"
            }
          },
          {
            "name": "columns",
            "in": "query",
            "description": "Array of column names to fetch. If omitted, will return all columns.\n\nNote that this method will always return item keys, even when not specified, so you may receive more columns that you expect.",
            "schema": {
              "type": "string",
              "format": "JSON"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of results to fetch. Must be a positive integer.",
            "schema": {
              "type": "number",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Starting point for results.",
            "schema": {
              "type": "number",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "reverse",
            "in": "query",
            "description": "If true, will sort results newest first.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "description": "Starting date filter for results.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "Ending date filter for results.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Execution"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parameter Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/funding": {
      "get": {
        "tags": [
          "Funding"
        ],
        "summary": "Get funding history.",
        "operationId": "Funding.get",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "Instrument symbol. Send a bare series (e.g. XBT) to get data for the nearest expiring contract in that series.\n\nYou can also send a timeframe, e.g. `XBT:quarterly`. Timeframes are `nearest`, `daily`, `weekly`, `monthly`, `quarterly`, `biquarterly`, and `perpetual`.\n\nSymbols are case-insensitive.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Generic table filter. Send JSON key/value pairs, such as `{\"key\": \"value\"}`. You can key on individual fields, and do more advanced querying on timestamps. See the [Timestamp Docs](https://www.bitmex.com/app/restAPI#Timestamp-Filters) for more details.",
            "schema": {
              "type": "string",
              "format": "JSON"
            }
          },
          {
            "name": "columns",
            "in": "query",
            "description": "Array of column names to fetch. If omitted, will return all columns.\n\nNote that this method will always return item keys, even when not specified, so you may receive more columns that you expect.",
            "schema": {
              "type": "string",
              "format": "JSON"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of results to fetch. Must be a positive integer.",
            "schema": {
              "type": "number",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Starting point for results.",
            "schema": {
              "type": "number",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "reverse",
            "in": "query",
            "description": "If true, will sort results newest first.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "description": "Starting date filter for results.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "Ending date filter for results.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Funding"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parameter Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/instrument": {
      "get": {
        "tags": [
          "Instrument"
        ],
        "summary": "Get instruments.",
        "description": "This returns all instruments and indices, including those that have settled or are unlisted.\nUse this endpoint if you want to query for individual instruments or use a complex filter.\nUse `/instrument/active` to return active instruments, or use a filter like `{\"state\": \"Open\"}`.\n\nThe instrument type is specified by the `typ` param.\n\n- Perpetual Contracts - `FFWCSX`\n- Perpetual Contracts (FX underliers) - `FFWCSF`\n- Spot - `IFXXXP`\n- Futures - `FFCCSX`\n- BitMEX Basket Index - `MRBXXX`\n- BitMEX Crypto Index - `MRCXXX`\n- BitMEX FX Index - `MRFXXX`\n- BitMEX Lending/Premium Index - `MRRXXX`\n- BitMEX Volatility Index - `MRIXXX`\n",
        "operationId": "Instrument.get",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "Instrument symbol. Send a bare series (e.g. XBT) to get data for the nearest expiring contract in that series.\n\nYou can also send a timeframe, e.g. `XBT:quarterly`. Timeframes are `nearest`, `daily`, `weekly`, `monthly`, `quarterly`, `biquarterly`, and `perpetual`.\n\nSymbols are case-insensitive.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Generic table filter. Send JSON key/value pairs, such as `{\"key\": \"value\"}`. You can key on individual fields, and do more advanced querying on timestamps. See the [Timestamp Docs](https://www.bitmex.com/app/restAPI#Timestamp-Filters) for more details.",
            "schema": {
              "type": "string",
              "format": "JSON"
            }
          },
          {
            "name": "columns",
            "in": "query",
            "description": "Array of column names to fetch. If omitted, will return all columns.\n\nNote that this method will always return item keys, even when not specified, so you may receive more columns that you expect.",
            "schema": {
              "type": "string",
              "format": "JSON"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of results to fetch. Must be a positive integer.",
            "schema": {
              "type": "number",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Starting point for results.",
            "schema": {
              "type": "number",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "reverse",
            "in": "query",
            "description": "If true, will sort results newest first.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "description": "Starting date filter for results.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "Ending date filter for results.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Instrument"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parameter Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/instrument/active": {
      "get": {
        "tags": [
          "Instrument"
        ],
        "summary": "Get all active instruments and instruments that have expired in <24hrs.",
        "operationId": "Instrument.getActive",
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Instrument"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parameter Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/instrument/indices": {
      "get": {
        "tags": [
          "Instrument"
        ],
        "summary": "Get all price indices.",
        "operationId": "Instrument.getIndices",
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Instrument"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parameter Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/instrument/activeAndIndices": {
      "get": {
        "tags": [
          "Instrument"
        ],
        "summary": "Helper method. Gets all active instruments and all indices. This is a join of the result of /indices and /active.",
        "operationId": "Instrument.getActiveAndIndices",
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Instrument"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parameter Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/instrument/activeIntervals": {
      "get": {
        "tags": [
          "Instrument"
        ],
        "summary": "Return all active contract series and interval pairs.",
        "description": "This endpoint is useful for determining which pairs are live. It returns two arrays of   strings. The first is intervals, such as `[\"XBT:perpetual\", \"XBT:quarterly\", \"XBT:biquarterly\", \"ETH:quarterly\", ...]`. These identifiers are usable in any query's `symbol` param. The second array is the current resolution of these intervals. Results are mapped at the same index.",
        "operationId": "Instrument.getActiveIntervals",
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstrumentInterval"
                }
              }
            }
          },
          "400": {
            "description": "Parameter Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/instrument/compositeIndex": {
      "get": {
        "tags": [
          "Instrument"
        ],
        "summary": "Show constituent parts of an index.",
        "description": "Composite indices are built from multiple external price sources.\n\nUse this endpoint to get the underlying prices of an index. For example, send a `symbol` of `.BXBT` to\nget the ticks and weights of the constituent exchanges that build the \".BXBT\" index.\n\nA tick with reference `\"BMI\"` and weight `null` is the composite index tick.\n",
        "operationId": "Instrument.getCompositeIndex",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "The composite index symbol.",
            "schema": {
              "type": "string",
              "default": ".BXBT"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Generic table filter. Send JSON key/value pairs, such as `{\"key\": \"value\"}`.",
            "schema": {
              "type": "string",
              "format": "JSON"
            }
          },
          {
            "name": "columns",
            "in": "query",
            "description": "Array of column names to fetch. If omitted, will return all columns.\n\nNote that this method will always return item keys, even when not specified, so you may receive more columns that you expect.",
            "schema": {
              "type": "string",
              "format": "JSON"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of results to fetch. Must be a positive integer.",
            "schema": {
              "type": "number",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Starting point for results.",
            "schema": {
              "type": "number",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "reverse",
            "in": "query",
            "description": "If true, will sort results newest first.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "description": "Starting date filter for results.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "Ending date filter for results.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IndexComposite"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parameter Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/instrument/usdVolume": {
      "get": {
        "tags": [
          "Instrument"
        ],
        "summary": "Get a summary of exchange statistics in USD.",
        "operationId": "Instrument.getUsdVolume",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "Filter by symbol.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "columns",
            "in": "query",
            "description": "Array of column names to fetch.",
            "schema": {
              "type": "string",
              "format": "JSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatsUSDBySymbol"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parameter Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/insurance": {
      "get": {
        "tags": [
          "Insurance"
        ],
        "summary": "Get insurance fund history.",
        "operationId": "Insurance.get",
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "description": "Instrument symbol. Send a bare series (e.g. XBT) to get data for the nearest expiring contract in that series.\n\nYou can also send a timeframe, e.g. `XBT:quarterly`. Timeframes are `nearest`, `daily`, `weekly`, `monthly`, `quarterly`, `biquarterly`, and `perpetual`.\n\nSymbols are case-insensitive.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Generic table filter. Send JSON key/value pairs, such as `{\"key\": \"value\"}`. You can key on individual fields, and do more advanced querying on timestamps. See the [Timestamp Docs](https://www.bitmex.com/app/restAPI#Timestamp-Filters) for more details.",
            "schema": {
              "type": "string",
              "format": "JSON"
            }
          },
          {
            "name": "columns",
            "in": "query",
            "description": "Array of column names to fetch. If omitted, will return all columns.\n\nNote that this method will always return item keys, even when not specified, so you may receive more columns that you expect.",
            "schema": {
              "type": "string",
              "format": "JSON"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of results to fetch. Must be a positive integer.",
            "schema": {
              "type": "number",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Starting point for results.",
            "schema": {
              "type": "number",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "reverse",
            "in": "query",
            "description": "If true, will sort results newest first.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "description": "Starting date filter for results.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "Ending date filter for results.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Insurance"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parameter Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/leaderboard": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Get current leaderboard. Use \"method\" param for v1 format (notional/ROE), or \"sortBy\" + \"period\" for v2.",
        "operationId": "Leaderboard.get",
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "V1 ranking type. Options: \"notional\", \"ROE\"",
            "schema": {
              "type": "string",
              "default": "notional"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Options: \"PNL_TOP\", \"PNL_BOTTOM\", \"ROI_TOP\", \"ROI_BOTTOM\", \"VOLUME_TOP\", \"VOLUME_BOTTOM\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "Time period for flexible mode. Options: \"ONE_DAY\", \"ONE_WEEK\", \"ONE_MONTH\", \"ONE_YEAR\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of results to return (1-1000, default: 100). Only used with sortBy/period.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Starting position for pagination. Only used with sortBy/period.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "description": "V1 (method param): Array of {profit, isRealName, name}. V2 (sortBy/period params): {endTime: string, data: [{name, isRealName, pnl, roi, tradingVolume}], userRank?: {rank, name, isRealName, pnl, roi, tradingVolume}}",
                  "$ref": "#/components/schemas/x-any"
                }
              }
            }
          },
          "400": {
            "description": "Parameter Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/leaderboard/name": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Get your alias on the leaderboard.",
        "operationId": "Leaderboard.getName",
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parameter Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leagueoftrader/myRankings": {
      "get": {
        "tags": [
          "LeagueOfTrader"
        ],
        "summary": "Get leaderboard with rankings for all leader accounts owned by the authenticated user.",
        "operationId": "LeagueOfTrader.myRankings",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "description": "Timeframe for ranking evaluation in days. Options: 1, 7, 30, 90, 180. Default: 30",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Metric to sort by. Options: roi, pnl, mdd, aum, copiers, sharpe, risk, win_ratio. Default: roi",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asc",
            "in": "query",
            "description": "Sort order: 0 for descending (default), 1 for ascending",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "min_roi",
            "in": "query",
            "description": "Minimum ROI filter (%)",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "max_roi",
            "in": "query",
            "description": "Maximum ROI filter (%)",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "min_mdd",
            "in": "query",
            "description": "Minimum Maximum Drawdown filter (%)",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "max_mdd",
            "in": "query",
            "description": "Maximum Maximum Drawdown filter (%)",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "min_aum",
            "in": "query",
            "description": "Minimum Assets Under Management filter (USD)",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "max_aum",
            "in": "query",
            "description": "Maximum Assets Under Management filter (USD)",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "min_copier",
            "in": "query",
            "description": "Minimum number of copiers filter",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "max_copier",
            "in": "query",
            "description": "Maximum number of copiers filter",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "min_balance",
            "in": "query",
            "description": "Minimum account balance filter (USD)",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "max_balance",
            "in": "query",
            "description": "Maximum account balance filter (USD)",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "min_pnl",
            "in": "query",
            "description": "Minimum Profit/Loss filter (USD)",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "max_pnl",
            "in": "query",
            "description": "Maximum Profit/Loss filter (USD)",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "min_copier_pnl",
            "in": "query",
            "description": "Minimum copier Profit/Loss filter (USD)",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "max_copier_pnl",
            "in": "query",
            "description": "Maximum copier Profit/Loss filter (USD)",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by leader name (case-insensitive fuzzy search). When provided, other filters except period, sort_by, and asc are ignored",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookmarks",
            "in": "query",
            "description": "Filter only bookmarked leaders. 0 = all, 1 = only bookmarked. Default: 0",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "copied",
            "in": "query",
            "description": "Filter only copied leaders. 0 = all, 1 = only copied. Default: 0",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "kind",
            "in": "query",
            "description": "Filter by leader type. Options: normal, hyper",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Parameter Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/liquidation": {
      "get": {
        "tags": [
          "Liquidation"
        ],
        "summary": "Get liquidation orders.",
        "operationId": "Liquidation.get",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "Instrument symbol. Send a bare series (e.g. XBT) to get data for the nearest expiring contract in that series.\n\nYou can also send a timeframe, e.g. `XBT:quarterly`. Timeframes are `nearest`, `daily`, `weekly`, `monthly`, `quarterly`, `biquarterly`, and `perpetual`.\n\nSymbols are case-insensitive.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Generic table filter. Send JSON key/value pairs, such as `{\"key\": \"value\"}`. You can key on individual fields, and do more advanced querying on timestamps. See the [Timestamp Docs](https://www.bitmex.com/app/restAPI#Timestamp-Filters) for more details.",
            "schema": {
              "type": "string",
              "format": "JSON"
            }
          },
          {
            "name": "columns",
            "in": "query",
            "description": "Array of column names to fetch. If omitted, will return all columns.\n\nNote that this method will always return item keys, even when not specified, so you may receive more columns that you expect.",
            "schema": {
              "type": "string",
              "format": "JSON"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of results to fetch. Must be a positive integer.",
            "schema": {
              "type": "number",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Starting point for results.",
            "schema": {
              "type": "number",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "reverse",
            "in": "query",
            "description": "If true, will sort results newest first.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "description": "Starting date filter for results.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "Ending date filter for results.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Liquidation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parameter Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/globalNotification": {
      "get": {
        "tags": [
          "GlobalNotification"
        ],
        "summary": "Get your current GlobalNotifications.",
        "description": "This is an upcoming feature and currently does not return data.",
        "operationId": "GlobalNotification.get",
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GlobalNotification"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parameter Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/order": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Get your orders.",
        "description": "To get open orders only, send {\"open\": true} in the filter param.\n\nSee <a href=\"http://www.onixs.biz/fix-dictionary/5.0.SP2/msgType_D_68.html\">the FIX Spec</a> for explanations of these fields.",
        "operationId": "Order.getOrders",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "Instrument symbol. Send a bare series (e.g. XBT) to get data for the nearest expiring contract in that series.\n\nYou can also send a timeframe, e.g. `XBT:quarterly`. Timeframes are `nearest`, `daily`, `weekly`, `monthly`, `quarterly`, `biquarterly`, and `perpetual`.\n\nSymbols are case-insensitive.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Generic table filter. Send JSON key/value pairs, such as `{\"key\": \"value\"}`. You can key on individual fields, and do more advanced querying on timestamps. See the [Timestamp Docs](https://www.bitmex.com/app/restAPI#Timestamp-Filters) for more details.",
            "schema": {
              "type": "string",
              "format": "JSON"
            }
          },
          {
            "name": "columns",
            "in": "query",
            "description": "Array of column names to fetch. If omitted, will return all columns.\n\nNote that this method will always return item keys, even when not specified, so you may receive more columns that you expect.",
            "schema": {
              "type": "string",
              "format": "JSON"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of results to fetch. Must be a positive integer.",
            "schema": {
              "type": "number",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Starting point for results.",
            "schema": {
              "type": "number",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "reverse",
            "in": "query",
            "description": "If true, will sort results newest first.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "description": "Starting date filter for results.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "Ending date filter for results.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parameter Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Create a new order.",
        "description": "## Placing Orders\n\nThis endpoint is used for placing orders. See individual fields below for more details on their use.\n\n#### Order Types\n\nAll orders require a `symbol`. All other fields are optional except when otherwise specified.\n\nThese are the valid `ordType`s:\n\n- **Limit**: The default order type. Specify an `orderQty` and `price`.\n- **Market**: A traditional Market order. A Market order will execute until filled or your bankruptcy price is reached, at\n  which point it will cancel.\n- **Stop**: A Stop Market order. Specify an `orderQty` and `stopPx`. When the `stopPx` is reached, the order will be entered\n  into the book.\n  - On sell orders, the order will trigger if the triggering price is lower than the `stopPx`. On buys, higher.\n  - Note: Stop orders do not consume margin until triggered. Be sure that the required margin is available in your\n    account so that it may trigger fully.\n  - `Close` Stops don't require an `orderQty`. See Execution Instructions below.\n- **StopLimit**: Like a Stop Market, but enters a Limit order instead of a Market order. Specify an `orderQty`, `stopPx`,\n  and `price`.\n- **MarketIfTouched**: Similar to a Stop, but triggers are done in the opposite direction. Useful for Take Profit orders.\n- **LimitIfTouched**: As above; use for Take Profit Limit orders.\n- **Pegged**: Pegged orders allow users to submit a limit price relative to the current market price. Specify a\n  `pegPriceType`, and `pegOffsetValue`.\n  - Pegged orders **must** have an `execInst` of `Fixed`. This means the limit price is set at the time the order\n    is accepted and does not change as the reference price changes.\n  - `PrimaryPeg`: Price is set relative to near touch price.\n  - `MarketPeg`: Price is set relative to far touch price.\n  - A `pegPriceType` submitted with no `ordType` is treated as a `Pegged` order.\n\n#### Execution Instructions\n\nThe following `execInst`s are supported. If using multiple, separate with a comma (e.g. `LastPrice,Close`).\n\n- **ParticipateDoNotInitiate**: Also known as a Post-Only order. If this order would have executed on placement, it will cancel instead.\n  This is intended to protect you from the far touch moving towards you while the order is in transit.\n  It is not intended for speculating on the far touch moving away after submission - we consider such behaviour abusive and monitor for it.\n- **MarkPrice, LastPrice, IndexPrice**: Used by stop and if-touched orders to determine the triggering price.\n  Use only one. By default, `MarkPrice` is used. Also used for Pegged orders to define the value of `LastPeg`. IndexPrice is not applicable to spot trading symbols.\n- **ReduceOnly**: A `ReduceOnly` order can only reduce your position, not increase it. If you have a `ReduceOnly`\n  limit order that rests in the order book while the position is reduced by other orders, then its order quantity will\n  be amended down or canceled. If there are multiple `ReduceOnly` orders the least aggressive will be amended first. Not applicable to spot trading symbols.\n- **Close**: `Close` implies `ReduceOnly`. A `Close` order will cancel other active limit orders with the same side\n  and symbol if the open quantity exceeds the current position. This is useful for stops: by canceling these orders, a\n  `Close` Stop is ensured to have the margin required to execute, and can only execute up to the full size of your\n  position. If `orderQty` is not specified, a `Close` order has an `orderQty` equal to your current position's size. Not applicable to spot trading symbols.\n  - Note that a `Close` order without an `orderQty` requires a `side`, so that BitMEX knows if it should trigger\n    above or below the `stopPx`.\n- **LastWithinMark**: Used by stop orders with `LastPrice` to allow stop triggers only when:\n  - For Sell Stop Market / Stop Limit Order\n    - Last Price &lt= Stop Price\n    - Last Price &gt= Mark Price \u00d7 (1 - 5%)\n  - For Buy Stop Market / Stop Limit Order:\n    - Last Price &gt= Stop Price\n    - Last Price &lt= Mark Price \u00d7 (1 + 5%)\n  - Not applicable to spot trading symbols.\n- **Fixed**: Pegged orders **must** have an `execInst` of `Fixed`. This means the limit price is set at the time\n  the order is accepted and does not change as the reference price changes.\n\n#### Pegged Orders\n\nPegged orders allow users to submit a limit price relative to the current market price.\nThe limit price is set once when the order is submitted and does not change with the reference price.\nThis order type is not intended for speculating on the far touch moving away after submission - we consider such behaviour abusive and monitor for it.\n\nPegged orders have an `ordType` of `Pegged`, and an `execInst` of `Fixed`.\n\nA `pegPriceType` and `pegOffsetValue` must also be submitted:\n\n- `PrimaryPeg` - price is set relative to the **near touch** price\n- `MarketPeg` - price is set relative to the **far touch** price\n\n#### Trailing Stop Pegged Orders\n\nUse `pegPriceType` of `TrailingStopPeg` to create Trailing Stops.\n\nThe price is set at submission and updates once per second if the underlying price (last/mark/index) has moved by\nmore than 0.1%. `stopPx` then moves as the market moves away from the peg, and freezes as the market moves toward it.\n\nUse `pegOffsetValue` to set the `stopPx` of your order. The peg is set to the triggering price specified in the\n`execInst` (default `MarkPrice`). Use a negative offset for stop-sell and buy-if-touched orders.\n\nRequires `ordType`: `Stop`, `StopLimit`, `MarketIfTouched`, `LimitIfTouched`.\n\n#### Linked Orders\n\nLinked Orders are an advanced capability. It is very powerful, but its use requires careful coding and testing.\nPlease follow this document carefully and use the [Testnet Exchange](https://testnet.bitmex.com) while developing.\n\nBitMEX offers four advanced Linked Order types:\n\n- **OCO**: _One Cancels the Other_. A very flexible version of the standard Stop / Take Profit technique.\n  Multiple orders may be linked together using a single `clOrdLinkID`. Send a `contingencyType` of\n  `OneCancelsTheOther` on the orders. The first order that fully or partially executes (or activates\n  for `Stop` orders) will cancel all other orders with the same `clOrdLinkID`.\n- **OTO**: _One Triggers the Other_. Send a `contingencyType` of `'OneTriggersTheOther'` on the primary order and\n  then subsequent orders with the same `clOrdLinkID` will be not be triggered until the primary order fully executes.\n\n#### Trailing Stops\n\nYou may use `pegPriceType` of `'TrailingStopPeg'` to create Trailing Stops. The pegged `stopPx` will move as the market\nmoves away from the peg, and freeze as the market moves toward it.\n\nTo use, combine with `pegOffsetValue` to set the `stopPx` of your order. The peg is set to the triggering price\nspecified in the `execInst` (default `'MarkPrice'`). Use a negative offset for stop-sell and buy-if-touched orders.\n\nRequires `ordType`: `'Stop', 'StopLimit', 'MarketIfTouched', 'LimitIfTouched'`.\n\n#### Simple Quantities\n\n[Simple Quantities are deprecated as of 2018/10/26](https://blog.bitmex.com/api_announcement/deprecation-of-simpleorderqty-functionality/)\n\n#### Rate Limits\n\nYou can improve your reactivity to market movements while staying under your rate limit by using the\n[Amend](#!/Order/Order_amend) endpoint (PUT /order). This allows you to stay\nin the market and avoids the cancel/replace cycle.\n\n#### Tracking Your Orders\n\nIf you want to keep track of order IDs yourself, set a unique `clOrdID` per order.\nThis `clOrdID` will come back as a property on the order and any related executions (including on the WebSocket),\nand can be used to get or cancel the order. Max length is 36 characters.\n\nYou can also change the `clOrdID` by amending an order, supplying an `origClOrdID`, and your desired new\nID as the `clOrdID` param, like so:\n\n```\n# Amends an order's leavesQty, and updates its clOrdID to \"def-456\"\nPUT /api/v1/order {\"origClOrdID\": \"abc-123\", \"clOrdID\": \"def-456\", \"leavesQty\": 1000}\n```\n",
        "operationId": "Order.new",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "symbol": {
                    "type": "string",
                    "description": "Instrument symbol. e.g. 'XBTUSD'."
                  },
                  "strategy": {
                    "type": "string",
                    "description": "Order strategy. e.g. 'OneWay', 'Long', 'Short'."
                  },
                  "side": {
                    "type": "string",
                    "description": "Order side. Valid options: Buy, Sell. Defaults to 'Buy' unless `orderQty` is negative."
                  },
                  "simpleOrderQty": {
                    "type": "number",
                    "format": "double",
                    "description": "Deprecated: simple orders are not supported after 2018/10/26"
                  },
                  "orderQty": {
                    "type": "number",
                    "format": "int32",
                    "description": "Order quantity in units of the instrument (i.e. contracts, for spot it is base currency in minor currency for spot (e.g. XBt quantity for XBT))."
                  },
                  "price": {
                    "type": "number",
                    "format": "double",
                    "description": "Optional limit price for 'Limit', 'StopLimit', and 'LimitIfTouched' orders."
                  },
                  "displayQty": {
                    "type": "number",
                    "format": "int32",
                    "description": "Optional quantity to display in the book. Use 0 for a fully hidden order."
                  },
                  "stopPx": {
                    "type": "number",
                    "format": "double",
                    "description": "Optional trigger price for 'Stop', 'StopLimit', 'MarketIfTouched', and 'LimitIfTouched' orders. Use a price below the current price for stop-sell orders and buy-if-touched orders. Use `execInst` of 'MarkPrice' or 'LastPrice' to define the current price used for triggering."
                  },
                  "clOrdID": {
                    "type": "string",
                    "description": "Optional Client Order ID. This clOrdID will come back on the order and any related executions."
                  },
                  "clOrdLinkID": {
                    "type": "string",
                    "description": "Optional Client Order Link ID for contingent orders"
                  },
                  "pegOffsetValue": {
                    "type": "number",
                    "format": "double",
                    "description": "Optional trailing offset from the current price for 'Stop', 'StopLimit', 'MarketIfTouched', and 'LimitIfTouched' orders; use a negative offset for stop-sell orders and buy-if-touched orders. Optional offset from the peg price for 'Pegged' orders."
                  },
                  "pegPriceType": {
                    "type": "string",
                    "description": "Optional peg price type. Valid options: MarketPeg, PrimaryPeg, TrailingStopPeg."
                  },
                  "ordType": {
                    "type": "string",
                    "default": "Limit",
                    "description": "Order type. Valid options: Market, Limit, Stop, StopLimit, MarketIfTouched, LimitIfTouched, Pegged. Defaults to 'Limit' when `price` is specified. Defaults to 'Stop' when `stopPx` is specified. Defaults to 'StopLimit' when `price` and `stopPx` are specified."
                  },
                  "timeInForce": {
                    "type": "string",
                    "description": "Time in force. Valid options: Day, GoodTillCancel, ImmediateOrCancel, FillOrKill. Defaults to 'GoodTillCancel' for 'Limit', 'StopLimit', and 'LimitIfTouched' orders."
                  },
                  "execInst": {
                    "type": "string",
                    "description": "Optional execution instructions. Valid options: ParticipateDoNotInitiate, AllOrNone, MarkPrice, IndexPrice, LastPrice, Close, ReduceOnly, Fixed, LastWithinMark. 'AllOrNone' instruction requires `displayQty` to be 0. 'MarkPrice', 'IndexPrice' or 'LastPrice' instruction valid for 'Stop', 'StopLimit', 'MarketIfTouched', and 'LimitIfTouched' orders. 'LastWithinMark' instruction valid for 'Stop' and 'StopLimit' with instruction 'LastPrice'. IndexPrice, LastWithMark, Close and ReduceOnly are not applicable to spot trading symbols."
                  },
                  "contingencyType": {
                    "type": "string",
                    "description": "Optional contingency type for use with `clOrdLinkID`. Valid options: OneCancelsTheOther, OneTriggersTheOther."
                  },
                  "text": {
                    "type": "string",
                    "description": "Optional order annotation. e.g. 'Take profit'."
                  },
                  "maxSlippagePct": {
                    "type": "number",
                    "format": "double",
                    "description": "Optional maximum slippage percentage for the order."
                  }
                },
                "required": [
                  "symbol"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "symbol": {
                    "type": "string",
                    "description": "Instrument symbol. e.g. 'XBTUSD'."
                  },
                  "strategy": {
                    "type": "string",
                    "description": "Order strategy. e.g. 'OneWay', 'Long', 'Short'."
                  },
                  "side": {
                    "type": "string",
                    "description": "Order side. Valid options: Buy, Sell. Defaults to 'Buy' unless `orderQty` is negative."
                  },
                  "simpleOrderQty": {
                    "type": "number",
                    "format": "double",
                    "description": "Deprecated: simple orders are not supported after 2018/10/26"
                  },
                  "orderQty": {
                    "type": "number",
                    "format": "int32",
                    "description": "Order quantity in units of the instrument (i.e. contracts, for spot it is base currency in minor currency for spot (e.g. XBt quantity for XBT))."
                  },
                  "price": {
                    "type": "number",
                    "format": "double",
                    "description": "Optional limit price for 'Limit', 'StopLimit', and 'LimitIfTouched' orders."
                  },
                  "displayQty": {
                    "type": "number",
                    "format": "int32",
                    "description": "Optional quantity to display in the book. Use 0 for a fully hidden order."
                  },
                  "stopPx": {
                    "type": "number",
                    "format": "double",
                    "description": "Optional trigger price for 'Stop', 'StopLimit', 'MarketIfTouched', and 'LimitIfTouched' orders. Use a price below the current price for stop-sell orders and buy-if-touched orders. Use `execInst` of 'MarkPrice' or 'LastPrice' to define the current price used for triggering."
                  },
                  "clOrdID": {
                    "type": "string",
                    "description": "Optional Client Order ID. This clOrdID will come back on the order and any related executions."
                  },
                  "clOrdLinkID": {
                    "type": "string",
                    "description": "Optional Client Order Link ID for contingent orders"
                  },
                  "pegOffsetValue": {
                    "type": "number",
                    "format": "double",
                    "description": "Optional trailing offset from the current price for 'Stop', 'StopLimit', 'MarketIfTouched', and 'LimitIfTouched' orders; use a negative offset for stop-sell orders and buy-if-touched orders. Optional offset from the peg price for 'Pegged' orders."
                  },
                  "pegPriceType": {
                    "type": "string",
                    "description": "Optional peg price type. Valid options: MarketPeg, PrimaryPeg, TrailingStopPeg."
                  },
                  "ordType": {
                    "type": "string",
                    "default": "Limit",
                    "description": "Order type. Valid options: Market, Limit, Stop, StopLimit, MarketIfTouched, LimitIfTouched, Pegged. Defaults to 'Limit' when `price` is specified. Defaults to 'Stop' when `stopPx` is specified. Defaults to 'StopLimit' when `price` and `stopPx` are specified."
                  },
                  "timeInForce": {
                    "type": "string",
                    "description": "Time in force. Valid options: Day, GoodTillCancel, ImmediateOrCancel, FillOrKill. Defaults to 'GoodTillCancel' for 'Limit', 'StopLimit', and 'LimitIfTouched' orders."
                  },
                  "execInst": {
                    "type": "string",
                    "description": "Optional execution instructions. Valid options: ParticipateDoNotInitiate, AllOrNone, MarkPrice, IndexPrice, LastPrice, Close, ReduceOnly, Fixed, LastWithinMark. 'AllOrNone' instruction requires `displayQty` to be 0. 'MarkPrice', 'IndexPrice' or 'LastPrice' instruction valid for 'Stop', 'StopLimit', 'MarketIfTouched', and 'LimitIfTouched' orders. 'LastWithinMark' instruction valid for 'Stop' and 'StopLimit' with instruction 'LastPrice'. IndexPrice, LastWithMark, Close and ReduceOnly are not applicable to spot trading symbols."
                  },
                  "contingencyType": {
                    "type": "string",
                    "description": "Optional contingency type for use with `clOrdLinkID`. Valid options: OneCancelsTheOther, OneTriggersTheOther."
                  },
                  "text": {
                    "type": "string",
                    "description": "Optional order annotation. e.g. 'Take profit'."
                  },
                  "maxSlippagePct": {
                    "type": "number",
[...]
