{
  "openapi": "3.0.3",
  "info": {
    "title": "SSL Labs API",
    "version": "4.0.0",
    "description": "Qualys SSL Labs Assessment API v4 for testing SSL/TLS servers available on the public Internet. Provides detailed analysis of SSL configuration, certificate chain, and security vulnerabilities.",
    "x-jentic-source-url": "https://github.com/ssllabs/ssllabs-scan/blob/master/ssllabs-api-docs-v4.md"
  },
  "servers": [
    {
      "url": "https://api.ssllabs.com/api/v4",
      "description": "Production"
    },
    {
      "url": "https://api.dev.ssllabs.com/api/v4",
      "description": "Development"
    }
  ],
  "paths": {
    "/register": {
      "post": {
        "operationId": "register",
        "tags": [
          "Registration"
        ],
        "summary": "Register for API access",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "firstName",
                  "lastName",
                  "email",
                  "organization"
                ],
                "properties": {
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "description": "Organization email (no Gmail/Yahoo/Hotmail)"
                  },
                  "organization": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registration successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/info": {
      "get": {
        "operationId": "getInfo",
        "tags": [
          "Information"
        ],
        "summary": "Check SSL Labs availability and get engine info",
        "security": [],
        "responses": {
          "200": {
            "description": "Service info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Info"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/analyze": {
      "get": {
        "operationId": "analyze",
        "tags": [
          "Analysis"
        ],
        "summary": "Invoke assessment or check progress",
        "parameters": [
          {
            "name": "host",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Hostname to assess"
          },
          {
            "name": "publish",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "on",
                "off"
              ],
              "default": "off"
            },
            "description": "Publish results on public boards"
          },
          {
            "name": "startNew",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "on",
                "off"
              ]
            },
            "description": "Force start new assessment"
          },
          {
            "name": "fromCache",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "on",
                "off"
              ],
              "default": "off"
            },
            "description": "Return cached results if available"
          },
          {
            "name": "maxAge",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Max cache age in hours"
          },
          {
            "name": "all",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "on",
                "done"
              ],
              "default": "on"
            },
            "description": "Return full endpoint info"
          },
          {
            "name": "ignoreMismatch",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "on",
                "off"
              ],
              "default": "off"
            },
            "description": "Ignore certificate mismatch"
          },
          {
            "name": "email",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Registered email address"
          }
        ],
        "responses": {
          "200": {
            "description": "Host assessment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Host"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable"
          },
          "529": {
            "description": "Service overloaded"
          }
        }
      }
    },
    "/getEndpointData": {
      "get": {
        "operationId": "getEndpointData",
        "tags": [
          "Analysis"
        ],
        "summary": "Retrieve detailed endpoint information",
        "parameters": [
          {
            "name": "host",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Endpoint IP address"
          },
          {
            "name": "fromCache",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "on",
                "off"
              ],
              "default": "off"
            }
          },
          {
            "name": "email",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Endpoint details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Endpoint"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/getStatusCodes": {
      "get": {
        "operationId": "getStatusCodes",
        "tags": [
          "Information"
        ],
        "summary": "Retrieve known status codes",
        "security": [],
        "responses": {
          "200": {
            "description": "Status codes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusDetails": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/getRootCertsRaw": {
      "get": {
        "operationId": "getRootCertsRaw",
        "tags": [
          "Information"
        ],
        "summary": "Retrieve root certificates used for trust validation",
        "security": [],
        "parameters": [
          {
            "name": "trustStore",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4,
                5
              ]
            },
            "description": "1=Mozilla, 2=Apple, 3=Android, 4=Java, 5=Windows"
          }
        ],
        "responses": {
          "200": {
            "description": "Root certificates in PEM format",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "emailAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "email",
        "description": "Registered email address for API access"
      }
    },
    "schemas": {
      "Info": {
        "type": "object",
        "properties": {
          "engineVersion": {
            "type": "string"
          },
          "criteriaVersion": {
            "type": "string"
          },
          "maxAssessments": {
            "type": "integer"
          },
          "currentAssessments": {
            "type": "integer"
          },
          "newAssessmentCoolOff": {
            "type": "integer"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Host": {
        "type": "object",
        "properties": {
          "host": {
            "type": "string"
          },
          "port": {
            "type": "integer"
          },
          "protocol": {
            "type": "string"
          },
          "isPublic": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "DNS",
              "ERROR",
              "IN_PROGRESS",
              "READY"
            ]
          },
          "statusMessage": {
            "type": "string"
          },
          "startTime": {
            "type": "integer",
            "format": "int64"
          },
          "testTime": {
            "type": "integer",
            "format": "int64"
          },
          "engineVersion": {
            "type": "string"
          },
          "criteriaVersion": {
            "type": "string"
          },
          "endpoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Endpoint"
            }
          },
          "certHostnames": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Endpoint": {
        "type": "object",
        "properties": {
          "ipAddress": {
            "type": "string"
          },
          "serverName": {
            "type": "string"
          },
          "statusMessage": {
            "type": "string"
          },
          "grade": {
            "type": "string"
          },
          "gradeTrustIgnored": {
            "type": "string"
          },
          "futureGrade": {
            "type": "string"
          },
          "hasWarnings": {
            "type": "boolean"
          },
          "isExceptional": {
            "type": "boolean"
          },
          "progress": {
            "type": "integer"
          },
          "eta": {
            "type": "integer"
          },
          "delegation": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "emailAuth": []
    }
  ],
  "tags": [
    {
      "name": "Analysis",
      "description": "SSL/TLS analysis endpoints"
    },
    {
      "name": "Information",
      "description": "Service information"
    },
    {
      "name": "Registration",
      "description": "API registration"
    }
  ]
}