{
  "openapi": "3.0.3",
  "info": {
    "title": "Duffel API",
    "description": "The Duffel API allows you to search, book, and manage flights, stays, and cars. This spec covers the Flights domain.",
    "version": "1.0.0",
    "contact": {
      "name": "Duffel",
      "url": "https://duffel.com"
    },
    "x-jentic-source-url": "https://github.com/duffelhq/duffel-api-python (generated from SDK source)"
  },
  "servers": [
    {
      "url": "https://api.duffel.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/air/offer_requests": {
      "post": {
        "operationId": "createOfferRequest",
        "summary": "Create an offer request (search flights)",
        "description": "To search for flights, create an offer request describing the passengers and where and when they want to travel.",
        "parameters": [
          {
            "name": "return_offers",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "default": "false"
            },
            "description": "When true, offers are returned inline with the offer request."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOfferRequestBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Offer request created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferRequestResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listOfferRequests",
        "summary": "List offer requests",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of offer requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/air/offer_requests/{id}": {
      "get": {
        "operationId": "getOfferRequest",
        "summary": "Get a single offer request",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Offer request details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferRequestResponse"
                }
              }
            }
          }
        }
      }
    },
    "/air/offers": {
      "get": {
        "operationId": "listOffers",
        "summary": "List offers for an offer request",
        "parameters": [
          {
            "name": "offer_request_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The offer request to retrieve offers for."
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_connections",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of offers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/air/offers/{id}": {
      "get": {
        "operationId": "getOffer",
        "summary": "Get a single offer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "return_available_services",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Offer details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataWrapper"
                }
              }
            }
          }
        }
      }
    },
    "/air/offers/{offer_id}/passengers/{passenger_id}": {
      "patch": {
        "operationId": "updateOfferPassenger",
        "summary": "Update a passenger on an offer",
        "parameters": [
          {
            "name": "offer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "passenger_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePassengerBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Passenger updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataWrapper"
                }
              }
            }
          }
        }
      }
    },
    "/air/orders": {
      "post": {
        "operationId": "createOrder",
        "summary": "Create an order (book a flight)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataWrapper"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listOrders",
        "summary": "List orders",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pay_by",
                "-pay_by"
              ]
            }
          },
          {
            "name": "awaiting_payment",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of orders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/air/orders/{id}": {
      "get": {
        "operationId": "getOrder",
        "summary": "Get a single order",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataWrapper"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateOrder",
        "summary": "Update an order's metadata",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "metadata": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataWrapper"
                }
              }
            }
          }
        }
      }
    },
    "/air/airports": {
      "get": {
        "operationId": "listAirports",
        "summary": "List airports",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of airports",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/air/airports/{id}": {
      "get": {
        "operationId": "getAirport",
        "summary": "Get a single airport",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Airport details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataWrapper"
                }
              }
            }
          }
        }
      }
    },
    "/air/airlines": {
      "get": {
        "operationId": "listAirlines",
        "summary": "List airlines",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of airlines",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/air/airlines/{id}": {
      "get": {
        "operationId": "getAirline",
        "summary": "Get a single airline",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Airline details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataWrapper"
                }
              }
            }
          }
        }
      }
    },
    "/air/seat_maps": {
      "get": {
        "operationId": "listSeatMaps",
        "summary": "Get seat maps for an offer",
        "parameters": [
          {
            "name": "offer_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Seat map data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataWrapper"
                }
              }
            }
          }
        }
      }
    },
    "/air/aircraft": {
      "get": {
        "operationId": "listAircraft",
        "summary": "List aircraft",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of aircraft",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/air/aircraft/{id}": {
      "get": {
        "operationId": "getAircraft",
        "summary": "Get a single aircraft",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Aircraft details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataWrapper"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Access token from the Duffel dashboard (Developers > Access Tokens). Test tokens start with 'duffel_test_', live tokens with 'duffel_live_'."
      }
    },
    "schemas": {
      "CreateOfferRequestBody": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "object",
            "required": [
              "passengers",
              "slices"
            ],
            "properties": {
              "cabin_class": {
                "type": "string",
                "enum": [
                  "first",
                  "business",
                  "premium_economy",
                  "economy"
                ]
              },
              "passengers": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Passenger"
                },
                "minItems": 1
              },
              "slices": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Slice"
                },
                "minItems": 1
              },
              "max_connections": {
                "type": "integer",
                "minimum": 0,
                "default": 1
              }
            }
          }
        }
      },
      "Passenger": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "adult",
              "child",
              "infant_without_seat"
            ]
          },
          "age": {
            "type": "integer"
          }
        }
      },
      "Slice": {
        "type": "object",
        "required": [
          "departure_date",
          "destination",
          "origin"
        ],
        "properties": {
          "departure_date": {
            "type": "string",
            "format": "date",
            "description": "ISO 8601 date (YYYY-MM-DD)"
          },
          "destination": {
            "type": "string",
            "description": "IATA airport or city code"
          },
          "origin": {
            "type": "string",
            "description": "IATA airport or city code"
          }
        }
      },
      "CreateOrderBody": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "object",
            "required": [
              "selected_offers",
              "passengers",
              "payments"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "instant",
                  "hold"
                ],
                "default": "instant"
              },
              "selected_offers": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "minItems": 1,
                "maxItems": 1
              },
              "passengers": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/OrderPassenger"
                },
                "minItems": 1
              },
              "payments": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Payment"
                },
                "minItems": 1
              },
              "services": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Service"
                }
              }
            }
          }
        }
      },
      "OrderPassenger": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "born_on": {
            "type": "string",
            "format": "date"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "family_name": {
            "type": "string"
          },
          "given_name": {
            "type": "string"
          },
          "gender": {
            "type": "string",
            "enum": [
              "m",
              "f"
            ]
          },
          "phone_number": {
            "type": "string"
          },
          "title": {
            "type": "string",
            "enum": [
              "mr",
              "ms",
              "mrs",
              "miss",
              "dr"
            ]
          }
        }
      },
      "Payment": {
        "type": "object",
        "required": [
          "amount",
          "currency",
          "type"
        ],
        "properties": {
          "amount": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "arc_bsp_cash",
              "balance"
            ]
          }
        }
      },
      "Service": {
        "type": "object",
        "required": [
          "id",
          "quantity"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          }
        }
      },
      "UpdatePassengerBody": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "object",
            "required": [
              "family_name",
              "given_name",
              "loyalty_programme_accounts"
            ],
            "properties": {
              "family_name": {
                "type": "string"
              },
              "given_name": {
                "type": "string"
              },
              "loyalty_programme_accounts": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "airline_iata_code",
                    "account_number"
                  ],
                  "properties": {
                    "airline_iata_code": {
                      "type": "string"
                    },
                    "account_number": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "OfferRequestResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "offers": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "slices": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Slice"
                }
              },
              "passengers": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Passenger"
                }
              },
              "cabin_class": {
                "type": "string"
              }
            }
          }
        }
      },
      "DataWrapper": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object"
          }
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "after": {
                "type": "string"
              },
              "before": {
                "type": "string"
              },
              "limit": {
                "type": "integer"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}