{
  "openapi": "3.0.3",
  "info": {
    "title": "Telegram Bot API",
    "version": "9.5",
    "description": "The Telegram Bot API allows you to build bots that interact with Telegram users. All methods are accessed via HTTPS POST or GET requests to https://api.telegram.org/bot<token>/METHOD_NAME.",
    "x-jentic-source-url": "https://core.telegram.org/bots/api"
  },
  "servers": [
    {
      "url": "https://api.telegram.org/bot{token}",
      "description": "Telegram Bot API server",
      "variables": {
        "token": {
          "description": "Bot authentication token obtained from @BotFather",
          "default": "YOUR_BOT_TOKEN"
        }
      }
    }
  ],
  "paths": {
    "/getMe": {
      "get": {
        "operationId": "getMe",
        "summary": "Get bot information",
        "description": "Returns basic information about the bot in form of a User object.",
        "tags": [
          "Bot"
        ],
        "responses": {
          "200": {
            "description": "Bot information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid bot token"
          }
        }
      }
    },
    "/getUpdates": {
      "post": {
        "operationId": "getUpdates",
        "summary": "Get incoming updates",
        "description": "Receive incoming updates using long polling.",
        "tags": [
          "Updates"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offset": {
                    "type": "integer",
                    "description": "Identifier of the first update to be returned"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Limits the number of updates to be retrieved (1-100)",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 100
                  },
                  "timeout": {
                    "type": "integer",
                    "description": "Timeout in seconds for long polling"
                  },
                  "allowed_updates": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of update types to receive"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Array of Update objects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/setWebhook": {
      "post": {
        "operationId": "setWebhook",
        "summary": "Set webhook",
        "description": "Specify a URL to receive incoming updates via an outgoing webhook.",
        "tags": [
          "Updates"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "HTTPS URL to send updates to"
                  },
                  "certificate": {
                    "type": "string",
                    "description": "Public key certificate (upload as InputFile)"
                  },
                  "ip_address": {
                    "type": "string",
                    "description": "Fixed IP address for webhook requests"
                  },
                  "max_connections": {
                    "type": "integer",
                    "description": "Maximum allowed number of simultaneous connections (1-100)",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 40
                  },
                  "allowed_updates": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "drop_pending_updates": {
                    "type": "boolean",
                    "description": "Drop all pending updates"
                  },
                  "secret_token": {
                    "type": "string",
                    "description": "Secret token for X-Telegram-Bot-Api-Secret-Token header"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook set successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/deleteWebhook": {
      "post": {
        "operationId": "deleteWebhook",
        "summary": "Delete webhook",
        "description": "Remove webhook integration.",
        "tags": [
          "Updates"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "drop_pending_updates": {
                    "type": "boolean",
                    "description": "Drop all pending updates"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/getWebhookInfo": {
      "get": {
        "operationId": "getWebhookInfo",
        "summary": "Get webhook info",
        "description": "Get current webhook status.",
        "tags": [
          "Updates"
        ],
        "responses": {
          "200": {
            "description": "WebhookInfo object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sendMessage": {
      "post": {
        "operationId": "sendMessage",
        "summary": "Send a text message",
        "description": "Send text messages to a chat.",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chat_id",
                  "text"
                ],
                "properties": {
                  "chat_id": {
                    "description": "Unique identifier for the target chat or username of the target channel",
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "text": {
                    "type": "string",
                    "description": "Text of the message to be sent"
                  },
                  "parse_mode": {
                    "type": "string",
                    "description": "Mode for parsing entities in the message text",
                    "enum": [
                      "MarkdownV2",
                      "HTML",
                      "Markdown"
                    ]
                  },
                  "entities": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MessageEntity"
                    },
                    "description": "List of special entities that appear in message text"
                  },
                  "disable_web_page_preview": {
                    "type": "boolean",
                    "description": "Disables link previews for links in this message"
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends the message silently"
                  },
                  "protect_content": {
                    "type": "boolean",
                    "description": "Protects the contents of the sent message from forwarding and saving"
                  },
                  "reply_parameters": {
                    "$ref": "#/components/schemas/ReplyParameters"
                  },
                  "reply_markup": {
                    "description": "Additional interface options (InlineKeyboardMarkup, ReplyKeyboardMarkup, etc.)",
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/forwardMessage": {
      "post": {
        "operationId": "forwardMessage",
        "summary": "Forward a message",
        "description": "Forward messages of any kind from one chat to another.",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chat_id",
                  "from_chat_id",
                  "message_id"
                ],
                "properties": {
                  "chat_id": {
                    "description": "Target chat identifier",
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "from_chat_id": {
                    "description": "Source chat identifier",
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message_id": {
                    "type": "integer",
                    "description": "Message identifier in the source chat"
                  },
                  "disable_notification": {
                    "type": "boolean"
                  },
                  "protect_content": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message forwarded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/copyMessage": {
      "post": {
        "operationId": "copyMessage",
        "summary": "Copy a message",
        "description": "Copy messages of any kind. The method is analogous to forwardMessage but the copied message doesn't have a link to the original.",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chat_id",
                  "from_chat_id",
                  "message_id"
                ],
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "from_chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message_id": {
                    "type": "integer"
                  },
                  "caption": {
                    "type": "string"
                  },
                  "parse_mode": {
                    "type": "string"
                  },
                  "disable_notification": {
                    "type": "boolean"
                  },
                  "protect_content": {
                    "type": "boolean"
                  },
                  "reply_parameters": {
                    "$ref": "#/components/schemas/ReplyParameters"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message copied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sendPhoto": {
      "post": {
        "operationId": "sendPhoto",
        "summary": "Send a photo",
        "description": "Send photos to a chat.",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "chat_id",
                  "photo"
                ],
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "photo": {
                    "type": "string",
                    "format": "binary",
                    "description": "Photo to send (file_id, URL, or upload)"
                  },
                  "caption": {
                    "type": "string"
                  },
                  "parse_mode": {
                    "type": "string"
                  },
                  "disable_notification": {
                    "type": "boolean"
                  },
                  "protect_content": {
                    "type": "boolean"
                  },
                  "reply_parameters": {
                    "type": "string",
                    "description": "JSON-serialized ReplyParameters"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Photo sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sendDocument": {
      "post": {
        "operationId": "sendDocument",
        "summary": "Send a document",
        "description": "Send general files to a chat.",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "chat_id",
                  "document"
                ],
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "document": {
                    "type": "string",
                    "format": "binary"
                  },
                  "caption": {
                    "type": "string"
                  },
                  "parse_mode": {
                    "type": "string"
                  },
                  "disable_notification": {
                    "type": "boolean"
                  },
                  "protect_content": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sendVideo": {
      "post": {
        "operationId": "sendVideo",
        "summary": "Send a video",
        "description": "Send video files to a chat.",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "chat_id",
                  "video"
                ],
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "video": {
                    "type": "string",
                    "format": "binary"
                  },
                  "caption": {
                    "type": "string"
                  },
                  "parse_mode": {
                    "type": "string"
                  },
                  "duration": {
                    "type": "integer"
                  },
                  "width": {
                    "type": "integer"
                  },
                  "height": {
                    "type": "integer"
                  },
                  "disable_notification": {
                    "type": "boolean"
                  },
                  "protect_content": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sendAudio": {
      "post": {
        "operationId": "sendAudio",
        "summary": "Send an audio file",
        "description": "Send audio files to a chat.",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "chat_id",
                  "audio"
                ],
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "audio": {
                    "type": "string",
                    "format": "binary"
                  },
                  "caption": {
                    "type": "string"
                  },
                  "parse_mode": {
                    "type": "string"
                  },
                  "duration": {
                    "type": "integer"
                  },
                  "performer": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "disable_notification": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audio sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sendLocation": {
      "post": {
        "operationId": "sendLocation",
        "summary": "Send a location",
        "description": "Send a point on the map.",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chat_id",
                  "latitude",
                  "longitude"
                ],
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "latitude": {
                    "type": "number",
                    "format": "float"
                  },
                  "longitude": {
                    "type": "number",
                    "format": "float"
                  },
                  "horizontal_accuracy": {
                    "type": "number",
                    "format": "float"
                  },
                  "live_period": {
                    "type": "integer"
                  },
                  "heading": {
                    "type": "integer"
                  },
                  "proximity_alert_radius": {
                    "type": "integer"
                  },
                  "disable_notification": {
                    "type": "boolean"
                  },
                  "protect_content": {
                    "type": "boolean"
                  },
                  "reply_parameters": {
                    "$ref": "#/components/schemas/ReplyParameters"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Location sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sendContact": {
      "post": {
        "operationId": "sendContact",
        "summary": "Send a contact",
        "description": "Send phone contacts.",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chat_id",
                  "phone_number",
                  "first_name"
                ],
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "phone_number": {
                    "type": "string"
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "vcard": {
                    "type": "string"
                  },
                  "disable_notification": {
                    "type": "boolean"
                  },
                  "protect_content": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sendPoll": {
      "post": {
        "operationId": "sendPoll",
        "summary": "Send a poll",
        "description": "Send a native poll.",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chat_id",
                  "question",
                  "options"
                ],
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "question": {
                    "type": "string"
                  },
                  "options": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "is_anonymous": {
                    "type": "boolean",
                    "default": true
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "regular",
                      "quiz"
                    ]
                  },
                  "allows_multiple_answers": {
                    "type": "boolean"
                  },
                  "correct_option_id": {
                    "type": "integer"
                  },
                  "disable_notification": {
                    "type": "boolean"
                  },
                  "protect_content": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Poll sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sendDice": {
      "post": {
        "operationId": "sendDice",
        "summary": "Send an animated emoji",
        "description": "Send an animated emoji that will display a random value.",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chat_id"
                ],
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "emoji": {
                    "type": "string",
                    "description": "Emoji on which the dice throw animation is based"
                  },
                  "disable_notification": {
                    "type": "boolean"
                  },
                  "protect_content": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dice sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sendChatAction": {
      "post": {
        "operationId": "sendChatAction",
        "summary": "Send chat action",
        "description": "Tell the user that something is happening on the bot's side (typing, uploading, etc.).",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chat_id",
                  "action"
                ],
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "typing",
                      "upload_photo",
                      "record_video",
                      "upload_video",
                      "record_voice",
                      "upload_voice",
                      "upload_document",
                      "find_location",
                      "record_video_note",
                      "upload_video_note"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Action sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/setMessageReaction": {
      "post": {
        "operationId": "setMessageReaction",
        "summary": "Set message reaction",
        "description": "Change the chosen reactions on a message.",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chat_id",
                  "message_id"
                ],
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message_id": {
                    "type": "integer"
                  },
                  "reaction": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    },
                    "description": "List of reaction types to set"
                  },
                  "is_big": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reaction set",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/editMessageText": {
      "post": {
        "operationId": "editMessageText",
        "summary": "Edit message text",
        "description": "Edit text and game messages.",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message_id": {
                    "type": "integer"
                  },
                  "inline_message_id": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  },
                  "parse_mode": {
                    "type": "string"
                  },
                  "entities": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MessageEntity"
                    }
                  },
                  "disable_web_page_preview": {
                    "type": "boolean"
                  },
                  "reply_markup": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message edited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/deleteMessage": {
      "post": {
        "operationId": "deleteMessage",
        "summary": "Delete a message",
        "description": "Delete a message.",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chat_id",
                  "message_id"
                ],
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/getChat": {
      "post": {
        "operationId": "getChat",
        "summary": "Get chat information",
        "description": "Get up-to-date information about the chat.",
        "tags": [
          "Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chat_id"
                ],
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/getChatMember": {
      "post": {
        "operationId": "getChatMember",
        "summary": "Get chat member",
        "description": "Get information about a member of a chat.",
        "tags": [
          "Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chat_id",
                  "user_id"
                ],
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "user_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat member information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/promoteChatMember": {
      "post": {
        "operationId": "promoteChatMember",
        "summary": "Promote chat member",
        "description": "Promote or demote a user in a supergroup or channel.",
        "tags": [
          "Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chat_id",
                  "user_id"
                ],
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "user_id": {
                    "type": "integer"
                  },
                  "is_anonymous": {
                    "type": "boolean"
                  },
                  "can_manage_chat": {
                    "type": "boolean"
                  },
                  "can_post_messages": {
                    "type": "boolean"
                  },
                  "can_edit_messages": {
                    "type": "boolean"
                  },
                  "can_delete_messages": {
                    "type": "boolean"
                  },
                  "can_manage_video_chats": {
                    "type": "boolean"
                  },
                  "can_restrict_members": {
                    "type": "boolean"
                  },
                  "can_promote_members": {
                    "type": "boolean"
                  },
                  "can_change_info": {
                    "type": "boolean"
                  },
                  "can_invite_users": {
                    "type": "boolean"
                  },
                  "can_pin_messages": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member promoted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sendVenue": {
      "post": {
        "operationId": "sendVenue",
        "summary": "Send venue information",
        "description": "Send information about a venue.",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chat_id",
                  "latitude",
                  "longitude",
                  "title",
                  "address"
                ],
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "latitude": {
                    "type": "number",
                    "format": "float"
                  },
                  "longitude": {
                    "type": "number",
                    "format": "float"
                  },
                  "title": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  },
                  "foursquare_id": {
                    "type": "string"
                  },
                  "foursquare_type": {
                    "type": "string"
                  },
                  "google_place_id": {
                    "type": "string"
                  },
                  "google_place_type": {
                    "type": "string"
                  },
                  "disable_notification": {
                    "type": "boolean"
                  },
                  "protect_content": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Venue sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "botToken": {
        "type": "apiKey",
        "in": "path",
        "name": "token",
        "description": "Bot token obtained from @BotFather, included in the URL path"
      }
    },
    "schemas": {
      "ApiResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "description": "Whether the request was successful"
          },
          "result": {
            "description": "Result of the request (type varies by method)"
          },
          "description": {
            "type": "string",
            "description": "Human-readable description of the result"
          },
          "error_code": {
            "type": "integer",
            "description": "Error code (only present on failure)"
          }
        },
        "required": [
          "ok"
        ]
      },
      "MessageEntity": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the entity",
            "enum": [
              "mention",
              "hashtag",
              "cashtag",
              "bot_command",
              "url",
              "email",
              "phone_number",
              "bold",
              "italic",
              "underline",
              "strikethrough",
              "spoiler",
              "code",
              "pre",
              "text_link",
              "text_mention",
              "custom_emoji"
            ]
          },
          "offset": {
            "type": "integer",
            "description": "Offset in UTF-16 code units to the start of the entity"
          },
          "length": {
            "type": "integer",
            "description": "Length of the entity in UTF-16 code units"
          },
          "url": {
            "type": "string",
            "description": "URL (for text_link type only)"
          },
          "user": {
            "type": "object",
            "description": "Mentioned user (for text_mention type only)"
          },
          "language": {
            "type": "string",
            "description": "Programming language (for pre type only)"
          },
          "custom_emoji_id": {
            "type": "string",
            "description": "Custom emoji identifier"
          }
        },
        "required": [
          "type",
          "offset",
          "length"
        ]
      },
      "ReplyParameters": {
        "type": "object",
        "properties": {
          "message_id": {
            "type": "integer",
            "description": "Identifier of the message to reply to"
          },
          "chat_id": {
            "description": "Chat containing the message to reply to",
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ]
          },
          "allow_sending_without_reply": {
            "type": "boolean"
          },
          "quote": {
            "type": "string"
          },
          "quote_parse_mode": {
            "type": "string"
          }
        },
        "required": [
          "message_id"
        ]
      }
    }
  },
  "security": [
    {
      "botToken": []
    }
  ],
  "tags": [
    {
      "name": "Copymessage"
    },
    {
      "name": "Deletemessage"
    },
    {
      "name": "Deletewebhook"
    },
    {
      "name": "Editmessagetext"
    },
    {
      "name": "Forwardmessage"
    },
    {
      "name": "Getchat"
    },
    {
      "name": "Getchatmember"
    },
    {
      "name": "Getme"
    },
    {
      "name": "Getupdates"
    },
    {
      "name": "Getwebhookinfo"
    },
    {
      "name": "Promotechatmember"
    },
    {
      "name": "Sendaudio"
    },
    {
      "name": "Sendchataction"
    },
    {
      "name": "Sendcontact"
    },
    {
      "name": "Senddice"
    },
    {
      "name": "Senddocument"
    },
    {
      "name": "Sendlocation"
    },
    {
      "name": "Sendmessage"
    },
    {
      "name": "Sendphoto"
    },
    {
      "name": "Sendpoll"
    },
    {
      "name": "Sendvenue"
    },
    {
      "name": "Sendvideo"
    },
    {
      "name": "Setmessagereaction"
    },
    {
      "name": "Setwebhook"
    }
  ]
}