{
  "openapi": "3.0.3",
  "info": {
    "title": "OystEHR API",
    "description": "OystEHR healthcare platform API for managing applications, users, M2M clients, and FHIR-based resources, plus specialized services for messaging, payments, telemedicine, lab, eRx, fax, and cloud storage.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api-reference.oystehr.com/reference"
  },
  "servers": [
    {
      "url": "https://api.oystehr.com",
      "description": "OystEHR API Production"
    }
  ],
  "paths": {
    "/application": {
      "get": {
        "operationId": "listApplications",
        "summary": "List applications",
        "description": "Retrieve a list of all applications.",
        "tags": [
          "Applications"
        ],
        "responses": {
          "200": {
            "description": "Applications retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Application"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createApplication",
        "summary": "Create an application",
        "description": "Create a new application.",
        "tags": [
          "Applications"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Application created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/application/{applicationId}": {
      "get": {
        "operationId": "getApplication",
        "summary": "Get application details",
        "description": "Retrieve a specific application by ID.",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Application identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "Application details returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "400": {
            "description": "Invalid application ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateApplication",
        "summary": "Update an application",
        "description": "Partially update an application.",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Application identifier."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteApplication",
        "summary": "Delete an application",
        "description": "Remove an application.",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Application identifier."
          }
        ],
        "responses": {
          "204": {
            "description": "Application deleted."
          },
          "400": {
            "description": "Invalid application ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/application/{applicationId}/rotate-secret": {
      "post": {
        "operationId": "rotateApplicationSecret",
        "summary": "Rotate application secret",
        "description": "Rotate the client secret for an application.",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Application identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "Secret rotated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "client_secret": {
                      "type": "string",
                      "description": "New client secret."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid application ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/application/{applicationId}/revoke-refresh-token": {
      "post": {
        "operationId": "revokeRefreshToken",
        "summary": "Revoke refresh token",
        "description": "Revoke a refresh token for an application.",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Application identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "Refresh token revoked."
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/application/{applicationId}/revoke-access-token": {
      "post": {
        "operationId": "revokeAccessToken",
        "summary": "Revoke access token",
        "description": "Revoke an access token for an application.",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Application identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "Access token revoked."
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user": {
      "get": {
        "operationId": "listUsers",
        "summary": "List all users",
        "description": "Retrieve a list of all users.",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Users retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/me": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Get current user",
        "description": "Retrieve information about the currently authenticated user.",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Current user details returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/{userId}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get user by ID",
        "description": "Retrieve a specific user by their ID.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "User details returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Invalid user ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateUser",
        "summary": "Update a user",
        "description": "Partially update user information.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User identifier."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteUser",
        "summary": "Delete a user",
        "description": "Remove a user.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User identifier."
          }
        ],
        "responses": {
          "204": {
            "description": "User deleted."
          },
          "400": {
            "description": "Invalid user ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/invite": {
      "post": {
        "operationId": "inviteUser",
        "summary": "Invite a new user",
        "description": "Send an invitation to a new user.",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteUserRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Invitation sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/{userId}/reset-mfa": {
      "post": {
        "operationId": "resetUserMfa",
        "summary": "Reset user MFA",
        "description": "Reset multi-factor authentication for a user.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "MFA reset successful."
          },
          "400": {
            "description": "Invalid user ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/{userId}/reset-password-link": {
      "post": {
        "operationId": "sendPasswordResetLink",
        "summary": "Send password reset link",
        "description": "Generate and send a password reset link for a user.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "Password reset link sent.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resetLink": {
                      "type": "string",
                      "format": "uri",
                      "description": "Password reset URL."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid user ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/m2m": {
      "get": {
        "operationId": "listM2mClients",
        "summary": "List M2M clients",
        "description": "Retrieve all machine-to-machine clients.",
        "tags": [
          "M2M Clients"
        ],
        "responses": {
          "200": {
            "description": "M2M clients retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/M2MClient"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createM2mClient",
        "summary": "Create M2M client",
        "description": "Create a new machine-to-machine client.",
        "tags": [
          "M2M Clients"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateM2MClientRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "M2M client created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/M2MClient"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/m2m/{m2mId}": {
      "get": {
        "operationId": "getM2mClient",
        "summary": "Get M2M client",
        "description": "Retrieve a specific M2M client.",
        "tags": [
          "M2M Clients"
        ],
        "parameters": [
          {
            "name": "m2mId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "M2M client identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "M2M client details returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/M2MClient"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateM2mClient",
        "summary": "Update M2M client",
        "description": "Partially update an M2M client.",
        "tags": [
          "M2M Clients"
        ],
        "parameters": [
          {
            "name": "m2mId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "M2M client identifier."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateM2MClientRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "M2M client updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/M2MClient"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteM2mClient",
        "summary": "Delete M2M client",
        "description": "Remove an M2M client.",
        "tags": [
          "M2M Clients"
        ],
        "parameters": [
          {
            "name": "m2mId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "M2M client identifier."
          }
        ],
        "responses": {
          "204": {
            "description": "M2M client deleted."
          },
          "400": {
            "description": "Invalid ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fhir/{resourceType}": {
      "get": {
        "operationId": "searchFhirResources",
        "summary": "Search FHIR resources",
        "description": "Search for FHIR resources of a specific type.",
        "tags": [
          "FHIR"
        ],
        "parameters": [
          {
            "name": "resourceType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "FHIR resource type (e.g. Patient, Encounter, Observation)."
          },
          {
            "name": "_count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page."
          },
          {
            "name": "_offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Offset for pagination."
          }
        ],
        "responses": {
          "200": {
            "description": "FHIR Bundle of matching resources.",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FhirBundle"
                }
              }
            }
          },
          "400": {
            "description": "Invalid search parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createFhirResource",
        "summary": "Create a FHIR resource",
        "description": "Create a new FHIR resource of the specified type.",
        "tags": [
          "FHIR"
        ],
        "parameters": [
          {
            "name": "resourceType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "FHIR resource type."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/FhirResource"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created.",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FhirResource"
                }
              }
            }
          },
          "400": {
            "description": "Invalid resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fhir/{resourceType}/{resourceId}": {
      "get": {
        "operationId": "getFhirResource",
        "summary": "Get a FHIR resource",
        "description": "Retrieve a specific FHIR resource by type and ID.",
        "tags": [
          "FHIR"
        ],
        "parameters": [
          {
            "name": "resourceType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "FHIR resource type."
          },
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "Resource returned.",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FhirResource"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateFhirResource",
        "summary": "Update a FHIR resource",
        "description": "Update an existing FHIR resource.",
        "tags": [
          "FHIR"
        ],
        "parameters": [
          {
            "name": "resourceType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "FHIR resource type."
          },
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource identifier."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/FhirResource"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resource updated.",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FhirResource"
                }
              }
            }
          },
          "400": {
            "description": "Invalid resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchFhirResource",
        "summary": "Partially update a FHIR resource",
        "description": "Apply a partial update to an existing FHIR resource.",
        "tags": [
          "FHIR"
        ],
        "parameters": [
          {
            "name": "resourceType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "FHIR resource type."
          },
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource identifier."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/JsonPatchOperation"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resource patched.",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FhirResource"
                }
              }
            }
          },
          "400": {
            "description": "Invalid patch.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteFhirResource",
        "summary": "Delete a FHIR resource",
        "description": "Delete a FHIR resource by type and ID.",
        "tags": [
          "FHIR"
        ],
        "parameters": [
          {
            "name": "resourceType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "FHIR resource type."
          },
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource identifier."
          }
        ],
        "responses": {
          "204": {
            "description": "Resource deleted."
          },
          "400": {
            "description": "Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fhir/{resourceType}/{resourceId}/history": {
      "get": {
        "operationId": "getFhirResourceHistory",
        "summary": "Get FHIR resource version history",
        "description": "Retrieve the version history of a FHIR resource.",
        "tags": [
          "FHIR"
        ],
        "parameters": [
          {
            "name": "resourceType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "FHIR resource type."
          },
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "Version history returned.",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FhirBundle"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Bearer token obtained via M2M authentication or user login."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error code."
          },
          "message": {
            "type": "string",
            "description": "Error message."
          },
          "statusCode": {
            "type": "integer",
            "description": "HTTP status code."
          }
        }
      },
      "Application": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Application identifier."
          },
          "name": {
            "type": "string",
            "description": "Application name."
          },
          "clientId": {
            "type": "string",
            "description": "Client ID."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateApplicationRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Application name."
          }
        }
      },
      "UpdateApplicationRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Updated application name."
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "User identifier."
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "User roles."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UpdateUserRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "InviteUserRequest": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email to invite."
          },
          "name": {
            "type": "string",
            "description": "User name."
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Roles to assign."
          }
        }
      },
      "M2MClient": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "M2M client identifier."
          },
          "name": {
            "type": "string"
          },
          "clientId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateM2MClientRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "M2M client name."
          }
        }
      },
      "UpdateM2MClientRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "FhirResource": {
        "type": "object",
        "description": "A FHIR R4 resource. Structure varies by resource type.",
        "properties": {
          "resourceType": {
            "type": "string",
            "description": "FHIR resource type."
          },
          "id": {
            "type": "string",
            "description": "Resource identifier."
          },
          "meta": {
            "type": "object",
            "properties": {
              "versionId": {
                "type": "string"
              },
              "lastUpdated": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        },
        "additionalProperties": true
      },
      "FhirBundle": {
        "type": "object",
        "description": "A FHIR Bundle containing search results or history.",
        "properties": {
          "resourceType": {
            "type": "string",
            "enum": [
              "Bundle"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "searchset",
              "history"
            ]
          },
          "total": {
            "type": "integer",
            "description": "Total number of matching resources."
          },
          "entry": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "resource": {
                  "$ref": "#/components/schemas/FhirResource"
                },
                "fullUrl": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "link": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "relation": {
                  "type": "string"
                },
                "url": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          }
        }
      },
      "JsonPatchOperation": {
        "type": "object",
        "required": [
          "op",
          "path"
        ],
        "properties": {
          "op": {
            "type": "string",
            "enum": [
              "add",
              "remove",
              "replace",
              "move",
              "copy",
              "test"
            ]
          },
          "path": {
            "type": "string",
            "description": "JSON Pointer path."
          },
          "value": {
            "description": "Value for the operation."
          },
          "from": {
            "type": "string",
            "description": "Source path for move/copy."
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Applications",
      "description": "Application management and credential rotation"
    },
    {
      "name": "Users",
      "description": "User management, invitations, and authentication"
    },
    {
      "name": "M2M Clients",
      "description": "Machine-to-machine client management"
    },
    {
      "name": "FHIR",
      "description": "FHIR R4 resource operations"
    },
    {
      "name": "Messaging",
      "description": "Conversations and SMS messaging"
    },
    {
      "name": "Telemedicine",
      "description": "Video meeting management"
    },
    {
      "name": "Payments",
      "description": "Payment methods and charge processing"
    },
    {
      "name": "Storage",
      "description": "Z3 bucket and object management"
    }
  ]
}