{
  "openapi": "3.0.3",
  "info": {
    "title": "TCGdex API",
    "version": "2.0.0",
    "description": "Multilingual Pokemon Trading Card Game API. Access card data, sets, and series information in 10+ languages.",
    "x-jentic-source-url": "https://tcgdex.dev/"
  },
  "servers": [
    {
      "url": "https://api.tcgdex.net/v2"
    }
  ],
  "paths": {
    "/{lang}/cards": {
      "get": {
        "operationId": "listCards",
        "summary": "List all cards",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "fr",
                "es",
                "it",
                "pt",
                "de",
                "ja",
                "zh-tw",
                "id",
                "th"
              ]
            },
            "description": "Language code"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by card name"
          },
          {
            "name": "hp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by HP"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by type"
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by category"
          },
          {
            "name": "rarity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by rarity"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "List of cards",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CardBrief"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/{lang}/cards/{cardId}": {
      "get": {
        "operationId": "getCard",
        "summary": "Get a specific card",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "fr",
                "es",
                "it",
                "pt",
                "de",
                "ja",
                "zh-tw",
                "id",
                "th"
              ]
            }
          },
          {
            "name": "cardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Card ID (e.g., base1-1)"
          }
        ],
        "responses": {
          "200": {
            "description": "Card details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          },
          "404": {
            "description": "Card not found"
          }
        }
      }
    },
    "/{lang}/sets": {
      "get": {
        "operationId": "listSets",
        "summary": "List all sets",
        "tags": [
          "Sets"
        ],
        "parameters": [
          {
            "name": "lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "fr",
                "es",
                "it",
                "pt",
                "de",
                "ja",
                "zh-tw",
                "id",
                "th"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of sets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SetBrief"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{lang}/sets/{setId}": {
      "get": {
        "operationId": "getSet",
        "summary": "Get a specific set",
        "tags": [
          "Sets"
        ],
        "parameters": [
          {
            "name": "lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "fr",
                "es",
                "it",
                "pt",
                "de",
                "ja",
                "zh-tw",
                "id",
                "th"
              ]
            }
          },
          {
            "name": "setId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Set ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Set details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Set"
                }
              }
            }
          },
          "404": {
            "description": "Set not found"
          }
        }
      }
    },
    "/{lang}/series": {
      "get": {
        "operationId": "listSeries",
        "summary": "List all series",
        "tags": [
          "Series"
        ],
        "parameters": [
          {
            "name": "lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "fr",
                "es",
                "it",
                "pt",
                "de",
                "ja",
                "zh-tw",
                "id",
                "th"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of series",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SerieBrief"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{lang}/series/{serieId}": {
      "get": {
        "operationId": "getSerie",
        "summary": "Get a specific series",
        "tags": [
          "Series"
        ],
        "parameters": [
          {
            "name": "lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "fr",
                "es",
                "it",
                "pt",
                "de",
                "ja",
                "zh-tw",
                "id",
                "th"
              ]
            }
          },
          {
            "name": "serieId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Series details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Serie"
                }
              }
            }
          },
          "404": {
            "description": "Series not found"
          }
        }
      }
    },
    "/{lang}/categories": {
      "get": {
        "operationId": "listCategories",
        "summary": "List card categories",
        "tags": [
          "Other Fields"
        ],
        "parameters": [
          {
            "name": "lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "fr",
                "es",
                "it",
                "pt",
                "de",
                "ja",
                "zh-tw",
                "id",
                "th"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of categories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{lang}/types": {
      "get": {
        "operationId": "listTypes",
        "summary": "List card types",
        "tags": [
          "Other Fields"
        ],
        "parameters": [
          {
            "name": "lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "fr",
                "es",
                "it",
                "pt",
                "de",
                "ja",
                "zh-tw",
                "id",
                "th"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{lang}/rarities": {
      "get": {
        "operationId": "listRarities",
        "summary": "List card rarities",
        "tags": [
          "Other Fields"
        ],
        "parameters": [
          {
            "name": "lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "fr",
                "es",
                "it",
                "pt",
                "de",
                "ja",
                "zh-tw",
                "id",
                "th"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of rarities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{lang}/retreats": {
      "get": {
        "operationId": "listRetreats",
        "summary": "List retreat costs",
        "tags": [
          "Other Fields"
        ],
        "parameters": [
          {
            "name": "lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "fr",
                "es",
                "it",
                "pt",
                "de",
                "ja",
                "zh-tw",
                "id",
                "th"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of retreat costs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{lang}/hps": {
      "get": {
        "operationId": "listHps",
        "summary": "List possible HP values",
        "tags": [
          "Other Fields"
        ],
        "parameters": [
          {
            "name": "lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "fr",
                "es",
                "it",
                "pt",
                "de",
                "ja",
                "zh-tw",
                "id",
                "th"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of HP values",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CardBrief": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "localId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "image": {
            "type": "string"
          }
        }
      },
      "Card": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "localId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "illustrator": {
            "type": "string"
          },
          "rarity": {
            "type": "string"
          },
          "hp": {
            "type": "integer",
            "nullable": true
          },
          "types": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "evolveFrom": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "stage": {
            "type": "string",
            "nullable": true
          },
          "attacks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "cost": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "damage": {
                  "type": "string"
                },
                "effect": {
                  "type": "string"
                }
              }
            },
            "nullable": true
          },
          "weaknesses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            },
            "nullable": true
          },
          "resistances": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            },
            "nullable": true
          },
          "retreat": {
            "type": "integer",
            "nullable": true
          },
          "set": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "logo": {
                "type": "string"
              },
              "symbol": {
                "type": "string"
              }
            }
          }
        }
      },
      "SetBrief": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "logo": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "cardCount": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "official": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Set": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "logo": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "serie": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "tcgOnline": {
            "type": "string",
            "nullable": true
          },
          "cardCount": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "official": {
                "type": "integer"
              }
            }
          },
          "cards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CardBrief"
            }
          }
        }
      },
      "SerieBrief": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "logo": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Serie": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "logo": {
            "type": "string",
            "nullable": true
          },
          "sets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SetBrief"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}