{
  "openapi": "3.0.3",
  "info": {
    "title": "WebinarFuel API",
    "version": "1.0",
    "description": "WebinarFuel API for managing webinars, sessions, registrations, and attendees",
    "x-jentic-source-url": "https://webinarfuel.docs.apiary.io/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.webinarfuel.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/webinars": {
      "get": {
        "summary": "Retrieve all webinars",
        "description": "Retrieve all webinars with ready state. Returns webinars and pagination metadata.",
        "operationId": "listWebinars",
        "parameters": [
          {
            "name": "sessions_limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 50
            },
            "description": "Number of sessions to include"
          },
          {
            "name": "exact_recurring_dates",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Exact dates for recurring sessions"
          },
          {
            "name": "time_zone",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "TimeZone name for formatted_scheduled_at"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 50
            },
            "description": "Results per page"
          }
        ],
        "responses": {
          "200": {
            "description": "List of webinars",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webinars": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Webinar"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "webinars"
        ]
      }
    },
    "/webinars/{id}": {
      "get": {
        "summary": "Retrieve a webinar",
        "description": "Returns a specific webinar with ready state",
        "operationId": "getWebinar",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Webinar ID"
          },
          {
            "name": "sessions_limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "exact_recurring_dates",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "time_zone",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webinar details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webinar": {
                      "$ref": "#/components/schemas/Webinar"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "tags": [
          "webinars"
        ]
      }
    },
    "/webinars/{id}/registrations": {
      "get": {
        "summary": "List webinar registrations",
        "description": "Retrieve registrations for a specific webinar",
        "operationId": "listWebinarRegistrations",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of registrations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "registrations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Registration"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "webinars"
        ]
      },
      "post": {
        "summary": "Create webinar registration",
        "description": "Register someone for a webinar",
        "operationId": "createWebinarRegistration",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "first_name"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Registration created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Registration"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "webinars"
        ]
      }
    },
    "/webinars/{id}/sessions": {
      "get": {
        "summary": "List webinar sessions",
        "description": "Retrieve sessions for a webinar",
        "operationId": "listWebinarSessions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of sessions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Session"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "webinars"
        ]
      }
    },
    "/sessions/{id}/attendances": {
      "get": {
        "summary": "List session attendances",
        "description": "Retrieve attendance records for a session",
        "operationId": "listSessionAttendances",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of attendances",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "attendances": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Attendance"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "sessions"
        ]
      }
    },
    "/registrations/{id}": {
      "get": {
        "summary": "Get registration",
        "description": "Retrieve a specific registration",
        "operationId": "getRegistration",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Registration details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Registration"
                }
              }
            }
          }
        },
        "tags": [
          "registrations"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication with API key"
      }
    },
    "schemas": {
      "Webinar": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "time_zone": {
            "type": "string"
          },
          "sessions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Session"
            }
          },
          "hosts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Host"
            }
          }
        }
      },
      "Session": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "scheduled_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "formatted_scheduled_at": {
            "type": "string"
          }
        }
      },
      "Host": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "bio": {
            "type": "string",
            "nullable": true
          },
          "organizer": {
            "type": "boolean"
          },
          "avatar_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Registration": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "webinar_id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Attendance": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "registration_id": {
            "type": "integer"
          },
          "session_id": {
            "type": "integer"
          },
          "attended": {
            "type": "boolean"
          },
          "attendance_duration": {
            "type": "integer"
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "total_items": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Authentication failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFoundError": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "ErrorResponse": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "registrations"
    },
    {
      "name": "sessions"
    },
    {
      "name": "webinars"
    }
  ]
}
