{
  "openapi": "3.0.3",
  "info": {
    "title": "Documentation of Opencart Rest Admin Api",
    "description": "For this demo, you can use the api key `123` to test the API services. Click on the `Authorize` button and set the secret key.<br/><br/><strong>You have to send the `X-Oc-Restadmin-Id` extra header parameter with the secret key if you want to call the API on your site.</strong>",
    "version": "1.1"
  },
  "servers": [
    {
      "url": "https://api.opencart-api.com/api/rest_admin/"
    }
  ],
  "x-jentic-source-url": "https://opencart-api.com/",
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Oc-Restadmin-Id",
        "description": "API key for authenticating requests"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  },
  "paths": {
    "/manufacturers/limit/{limit}/page/{page}": {
      "get": {
        "summary": "Get list of manufacturers",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/manufacturers/limit/{limit}/page/{page}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/manufacturer_admin/manufacturer&limit={limit}&page={page}</span>",
        "operationId": "manufacturer.list",
        "tags": [
          "Manufacturer"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "path",
            "required": true,
            "description": "Limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "path",
            "required": true,
            "description": "Page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/manufacturers": {
      "post": {
        "summary": "Add new manufacturer to store",
        "description": "<span class=\"bold\">Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/manufacturers</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/manufacturer_admin/manufacturer</span>",
        "operationId": "manufacturer.create",
        "tags": [
          "Manufacturer"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/Manufacturer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete manufacturers",
        "description": "<span class=\"bold\">Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/manufacturers</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/manufacturer_admin/manufacturer</span>",
        "operationId": "manufacturer.delete_multiple",
        "tags": [
          "Manufacturer"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/DeleteManufacturer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/manufacturers/{id}/images": {
      "post": {
        "summary": "Add image to manufacturer by manufacturer ID",
        "description": "<span class=\"bold\">Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/manufacturers/{id}/images</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/manufacturer_admin/manufacturerimages&id={id}</span>",
        "operationId": "manufacturer.update.image",
        "tags": [
          "Manufacturer"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Manufacturer Id",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/manufacturers/{id}": {
      "put": {
        "summary": "Update manufacturer by ID",
        "description": "<span class=\"bold\">Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/manufacturers/{id}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/manufacturer_admin/manufacturer&id={id}</span>",
        "operationId": "manufacturer.update",
        "tags": [
          "Manufacturer"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Manufacturer Id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/Manufacturer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete manufacturer by ID",
        "description": "<span class=\"bold\">Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/manufacturers/{id}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/manufacturer_admin/manufacturer&id={id}</span>",
        "operationId": "manufacturer.delete",
        "tags": [
          "Manufacturer"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Manufacturer Id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/categories": {
      "get": {
        "summary": "Get list of categories (default 1 level)",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/categories</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/category_admin/category</span>",
        "operationId": "categories.list",
        "tags": [
          "Category"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add new category to store",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/categories</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/category_admin/category</span>",
        "operationId": "category.create",
        "tags": [
          "Category"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/Category"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete categories",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/categories</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/category_admin/category</span>",
        "operationId": "categories.delete",
        "tags": [
          "Category"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/DeleteCategories"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/categories/level/{level}": {
      "get": {
        "summary": "Get list of categories by depth level",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/categories/level/{level}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/category_admin/category&level={level}</span>",
        "operationId": "categories.by_level",
        "tags": [
          "Category"
        ],
        "parameters": [
          {
            "name": "level",
            "in": "path",
            "required": true,
            "description": "Level number",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/categories/parent/{parent}": {
      "get": {
        "summary": "Get list of categories by parent ID",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/categories/parent/{parent}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/category_admin/category&parent={parent}</span>",
        "operationId": "categories.by_parent_id",
        "tags": [
          "Category"
        ],
        "parameters": [
          {
            "name": "parent",
            "in": "path",
            "required": true,
            "description": "Parent Category ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/categories/parent/{parent}/level/{level}": {
      "get": {
        "summary": "Get list of categories by parent ID and level",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/categories/parent/{parent}/level/{level}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/category_admin/category&parent={parent}&level={level}</span>",
        "operationId": "categories.by_parent_id_and_level",
        "tags": [
          "Category"
        ],
        "parameters": [
          {
            "name": "level",
            "in": "path",
            "required": true,
            "description": "Level",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "parent",
            "in": "path",
            "required": true,
            "description": "Parent Category ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/categories/extended/limit/{limit}/page/{page}": {
      "get": {
        "summary": "Get list of categories (all in one request)",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/categories/extended/limit/{limit}/page/{page}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/category_admin/category&extended=1&limit={limit}&page={page}</span>",
        "operationId": "Category.extended_list_pagination",
        "tags": [
          "Category"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "path",
            "required": true,
            "description": "Limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "path",
            "required": true,
            "description": "Page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/categories/{id}": {
      "get": {
        "summary": "Get category details by ID",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/categories/{id}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/category_admin/category&id={category_id}</span>",
        "operationId": "categories.details",
        "tags": [
          "Category"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Category Id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Edit category",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/categories/{category_id}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/category_admin/category&id={category_id}</span>",
        "operationId": "category.edit",
        "tags": [
          "Category"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Category id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/CategoryEditObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete category by ID",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/categories/{id}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/category_admin/category&id={category_id}</span>",
        "operationId": "categories.delete_by_id",
        "tags": [
          "Category"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Category Id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/categories/{id}/images": {
      "post": {
        "summary": "Add image to category by category ID",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/categories/{id}/images</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/category_admin/categoryimages&id={id}</span>",
        "operationId": "category.update.image",
        "tags": [
          "Category"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Category Id",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "get": {
        "summary": "Get list of orders",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/orders</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/order_admin/orders</span>",
        "operationId": "orders.list",
        "tags": [
          "Order"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/limit/{limit}/page/{page}": {
      "get": {
        "summary": "Get list of orders",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/orders/limit/{limit}/page/{page}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/order_admin/orders&limit={limit}&page={page}</span>",
        "operationId": "orders.list_pagination",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "path",
            "required": true,
            "description": "Limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "path",
            "required": true,
            "description": "Page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/status/{status_id}": {
      "get": {
        "summary": "Get list of orders filtered by status id",
        "description": "You can send only one status, or you can send more statuses with comma separated.<br><span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/orders/status/{status_id}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/order_admin/orders&filter_order_status_id={status_id}</span>",
        "operationId": "orders.list.status_id",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "status_id",
            "in": "path",
            "required": true,
            "description": "Order status id or ids",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/added_on/{added_on}": {
      "get": {
        "summary": "Get list of orders filtered by  date parameter (on)",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/orders/added_on/{added_on}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/order_admin/orders&filter_date_added_on={added_on}</span>",
        "operationId": "orders.list.added_on",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "added_on",
            "in": "path",
            "required": true,
            "description": "Orders added on date",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/added_from/{added_from}": {
      "get": {
        "summary": "Get list of orders filtered by date parameter (from)",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/orders/added_from/{added_from}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/order_admin/orders&filter_date_added_from={added_from}</span>",
        "operationId": "orders.list.added_from",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "added_from",
            "in": "path",
            "required": true,
            "description": "From date added",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/added_from/{added_from}/added_to/{added_to}": {
      "get": {
        "summary": "Get list of orders filtered by date parameter (between)",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/orders/added_from/{added_from}/added_to/{added_to}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/order_admin/orders&filter_date_added_from={added_from}&filter_date_added_to={added_to}</span>",
        "operationId": "orders.list.added_between",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "added_from",
            "in": "path",
            "required": true,
            "description": "From date added",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "added_to",
            "in": "path",
            "required": true,
            "description": "To date added",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/modified_on/{modified_on}": {
      "get": {
        "summary": "Get list of orders filtered by modified date parameter (on)",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/orders/modified_on/{modified_on}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/order_admin/orders&filter_date_modified_on={modified_on}</span>",
        "operationId": "orders.list.modified_on",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "modified_on",
            "in": "path",
            "required": true,
            "description": "Orders modified on date",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/modified_from/{modified_from}": {
      "get": {
        "summary": "Get list of orders filtered by modified date parameter (from)",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/orders/modified_from/{modified_from}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/order_admin/orders&filter_date_modified_from={modified_from}</span>",
        "operationId": "orders.list.modified_from",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "modified_from",
            "in": "path",
            "required": true,
            "description": "From date modified",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/modified_from/{modified_from}/modified_to/{modified_to}": {
      "get": {
        "summary": "Get list of orders filtered by modified date parameter (between)",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/orders/modified_from/{modified_from}/modified_to/{modified_to}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/order_admin/orders&filter_date_modified_from={modified_from}&filter_date_modified_to={modified_to}</span>",
        "operationId": "orders.list.modified_between",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "modified_from",
            "in": "path",
            "required": true,
            "description": "From date modified",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modified_to",
            "in": "path",
            "required": true,
            "description": "To date modified",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/id_lower_than/{id}": {
      "get": {
        "summary": "Get list of orders with id lower than {id}",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/orders/id_lower_than/{id}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/order_admin/orders&filter_id_lower_than={id}</span>",
        "operationId": "orders.list.id_lower_than",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Order id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/id_larger_than/{id}": {
      "get": {
        "summary": "Get list of orders with id larger than {id}",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/orders/id_larger_than/{id}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/order_admin/orders&filter_id_larger_than={id}</span>",
        "operationId": "orders.list.id_larger_than",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Order id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/details/limit/{limit}/page/{page}": {
      "get": {
        "summary": "Get list of orders",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/orders/limit/{limit}/page/{page}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/order_admin/orders&limit={limit}&page={page}</span>",
        "operationId": "orders.list_pagination_with_details",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "path",
            "required": true,
            "description": "Limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "path",
            "required": true,
            "description": "Page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/details/status/{status_id}": {
      "get": {
        "summary": "Get list of orders with details filtered by status id",
        "description": "You can send only one status, or you can send more statuses with comma separated.<br><span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/orders/details/status/{status_id}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/order_admin/listorderswithdetails&filter_order_status_id={status_id}</span>",
        "operationId": "orders.list.details.status_id",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "status_id",
            "in": "path",
            "required": true,
            "description": "Order status id or ids",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/details/added_on/{added_on}": {
      "get": {
        "summary": "Get list of orders with details filtered by  date parameter (on)",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/orders/details/added_on/{added_on}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/order_admin/listorderswithdetails&filter_date_added_on={added_on}</span>",
        "operationId": "orders.list.details.added_on",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "added_on",
            "in": "path",
            "required": true,
            "description": "Orders added on date",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/details/added_from/{added_from}": {
      "get": {
        "summary": "Get list of orders with details filtered by date parameter (from)",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/orders/details/added_from/{added_from}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/order_admin/listorderswithdetails&filter_date_added_from={added_from}</span>",
        "operationId": "orders.list.details.added_from",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "added_from",
            "in": "path",
            "required": true,
            "description": "From date added",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/details/added_from/{added_from}/added_to/{added_to}": {
      "get": {
        "summary": "Get list of orders with details filtered by date parameter (between)",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/orders/details/added_from/{added_from}/added_to/{added_to}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/order_admin/listorderswithdetails&filter_date_added_from={added_from}&filter_date_added_to={added_to}</span>",
        "operationId": "orders.list.details.added_between",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "added_from",
            "in": "path",
            "required": true,
            "description": "From date added",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "added_to",
            "in": "path",
            "required": true,
            "description": "To date added",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/details/modified_on/{modified_on}": {
      "get": {
        "summary": "Get list of orders with details filtered by modified date parameter (on)",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/orders/details/modified_on/{modified_on}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/order_admin/listorderswithdetails&filter_date_modified_on={modified_on}</span>",
        "operationId": "orders.list.details.modified_on",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "modified_on",
            "in": "path",
            "required": true,
            "description": "Orders modified on date",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/details/modified_from/{modified_from}": {
      "get": {
        "summary": "Get list of orders with details filtered by modified date parameter (from)",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/orders/details/modified_from/{modified_from}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/order_admin/listorderswithdetails&filter_date_modified_from={modified_from}</span>",
        "operationId": "orders.list.details.modified_from",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "modified_from",
            "in": "path",
            "required": true,
            "description": "From date modified",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/details/modified_from/{modified_from}/modified_to/{modified_to}": {
      "get": {
        "summary": "Get list of orders with details filtered by modified date parameter (between)",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/orders/details/modified_from/{modified_from}/modified_to/{modified_to}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/order_admin/listorderswithdetails&filter_date_modified_from={modified_from}&filter_date_modified_to={modified_to}</span>",
        "operationId": "orders.list.details.modified_between",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "modified_from",
            "in": "path",
            "required": true,
            "description": "From date modified",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modified_to",
            "in": "path",
            "required": true,
            "description": "To date modified",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/details/id_lower_than/{id}": {
      "get": {
        "summary": "Get list of orders with id lower than {id}",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/orders/details/id_lower_than/{id}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/order_admin/listorderswithdetails&filter_id_lower_than={id}</span>",
        "operationId": "orders.list.details.id_lower_than",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Order id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/details/id_larger_than/{id}": {
      "get": {
        "summary": "Get list of orders with id larger than {id}",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/orders/details/id_larger_than/{id}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/order_admin/listorderswithdetails&filter_id_larger_than={id}</span>",
        "operationId": "orders.list.details.id_larger_than",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Order id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/details": {
      "get": {
        "summary": "Get list of orders with details",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/orders/details</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/order_admin/listorderswithdetails</span>",
        "operationId": "orders.list.details",
        "tags": [
          "Order"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{id}": {
      "get": {
        "summary": "Get order details by ID",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/orders/{order_id}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/order_admin/orders&id={order_id}</span>",
        "operationId": "orders.details",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Order Id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update order by ID",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/orders/{order_id}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/order_admin/orders&id={order_id}</span>",
        "operationId": "orders.update",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Order Id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/OrderStatusSetter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete order by ID",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/orders/{order_id}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/order_admin/orders&id={order_id}</span>",
        "operationId": "orders.delete",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Order Id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/user/{id}": {
      "get": {
        "summary": "Get order details by customer ID",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/orders/user/{user_id}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/order_admin/userorders&user={user_id}</span>",
        "operationId": "orders.details_by_customer",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Customer Id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orderhistory/{id}": {
      "put": {
        "summary": "Add order history",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/orderhistory/{order_id}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/order_admin/orderhistory&id={order_id}</span><br/>Set 'notify' value to 1, to send notification to your customer",
        "operationId": "orderhistory.update",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Order Id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/History"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/order_status/{id}": {
      "put": {
        "summary": "Update order status by order ID",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/order_status/{order_id}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/order_admin/orderstatus&id={order_id}</span>",
        "operationId": "orders.update_status",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Order Id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/OrderStatusSetterName"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/trackingnumber/{id}": {
      "put": {
        "summary": "Update order tracking number by order ID",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/trackingnumber/{order_id}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/order_admin/trackingnumber&id={order_id}</span>",
        "operationId": "orders.update_trackingnumber",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Order Id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/OrdertrackingnumberSetter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/invoice/{id}": {
      "post": {
        "summary": "Generate invoice number to the orders",
        "description": "It generates an invoice number for the order.<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/invoice/{order_id}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/order_admin/invoice&id={order_id}</span>",
        "operationId": "invoice.create",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Order Id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Set custom invoice number to the orders",
        "description": "You can set your custom invoice number to the order.<br><br><span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/invoice/{order_id}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/order_admin/invoice&id={order_id}</span>",
        "operationId": "invoice.update",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Order Id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/InvoiceNumber"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orderadmin": {
      "post": {
        "summary": "Add new order to database",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/orderadmin</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/order_admin/order</span>",
        "operationId": "orderadmin.addv2",
        "tags": [
          "Create order"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/Order"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products": {
      "get": {
        "summary": "Get list of products",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/products</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/product_admin/products</span>",
        "operationId": "products.list",
        "tags": [
          "Products"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add new product to store",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/products</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/product_admin/products</span><br><br>You can send option value's sku, if your system support this feature<pre>\"product_option_value\": [<br/>&#9;{<br/>&#9;\"price\": 10,<br/>&#9;\"price_prefix\": \"+\",<br/>&#9;\"subtract\": \"0\",<br/>&#9;\"shipping\": \"0\",<br/>&#9;\"points\": \"0\",<br/>&#9;\"points_prefix\": \"0\",<br/>&#9;\"weight\": \"0\",<br/>&#9;\"weight_prefix\":\"0\",<br/>&#9;\"option_value_id\": \"46\",<br/>&#9;\"quantity\": \"300\",<br/>&#9;\"option_sku\": \"demo_option_sku\"<br/>}<br/>]</pre>",
        "operationId": "products.create",
        "tags": [
          "Products"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/Product"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/category/{id}": {
      "get": {
        "summary": "Get list of products by category ID",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/products/category/{category_id}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/product_admin/products&category={category_id}</span>",
        "operationId": "products.by_level",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Product's category id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/category/{id}/limit/{limit}/page/{page}": {
      "get": {
        "summary": "Get list of products by category ID and page and limit",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/products/category/{category_id}/limit/{limit}/page/{page}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/product_admin/products&category={category_id}&limit={limit}&page={page}</span>",
        "operationId": "products.by_category_pagination",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Product's category id",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "path",
            "required": true,
            "description": "Limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "path",
            "required": true,
            "description": "Page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/{id}": {
      "get": {
        "summary": "Get product details by ID",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/products/{product_id}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/product_admin/products&id={product_id}</span>",
        "operationId": "products.details",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Product Id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update product by ID",
        "description": "<strong>IMPORTANT: You should send all option, category, attribute if you want to modify one of these information, because if you miss an item for example from the category array, it will be removed.This is the way how you can remove an option or category.</strong><br><br><span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/products/{product_id}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/product_admin/products&id={product_id}</span><br><br>You can send option value's sku, if your system support this feature<pre>\"product_option_value\": [<br/>&#9;{<br/>&#9;\"price\": 10,<br/>&#9;\"price_prefix\": \"+\",<br/>&#9;\"subtract\": \"0\",<br/>&#9;\"points\": \"0\",<br/>&#9;\"points_prefix\": \"0\",<br/>&#9;\"weight\": \"0\",<br/>&#9;\"weight_prefix\":\"0\",<br/>&#9;\"option_value_id\": \"46\",<br/>&#9;\"quantity\": \"300\",<br/>&#9;\"option_sku\": \"demo_option_sku\"<br/>}<br/>]</pre><br/><b>Possible update only specific fields /sku, model, quantity, status, price, manufacturer_id, sort_order, tax_class_id/</b><br/><br/><i>ONLY product_id is mandatory</i><br/><pre><br/>{<br/>&#9;\"model\": \"test_model\",<br/>&#9;\"quantity\": \"2\" <br/>}</pre><br/>OR<br/><pre><br/>{<br/>&#9;\"quantity\": \"2\"<br/>&#9;<br/>}</pre><br/>If you only want to update the quantity of the product options and some product data:<pre>{<br/>&#9;&#9;\"product_id\": \"30\",<br/>&#9;&#9;\"quantity\": \"996\",<br/>&#9;&#9;\"price\": \"198\",<br>&#9;&#9;\"product_option_quantity_update\": \"1\",<br/>&#9;&#9;\"product_option\": [<br/>&#9;&#9;{<br/>&#9;&#9;\"product_option_value\":<br/>&#9;&#9;[<br/>&#9;&#9;&#9;{<br/>&#9;&#9;&#9;&#9;\"product_option_value_id\": \"15\",<br/>&#9;&#9;&#9;&#9;\"quantity\": \"122\"<br/>&#9;&#9;&#9;},<br/>&#9;&#9;&#9;{<br/>&#9;&#9;&#9;&#9;\"product_option_value_id\": \"16\",<br/>&#9;&#9;&#9;&#9;\"quantity\": \"211\"<br/>&#9;&#9;&#9;}<br/>&#9;&#9;&#9;]<br/>&#9;&#9;&#9;}<br/>&#9;&#9;]<br/>&#9;}</pre><br/>If you only want to update the quantity and price of the product options and some product data:<pre>{<br/>&#9;&#9;\"product_id\": \"30\",<br/>&#9;&#9;\"quantity\": \"996\",<br/>&#9;&#9;\"price\": \"198\",<br>&#9;&#9;\"product_option_update\": \"1\",<br/>&#9;&#9;\"product_option\": [<br/>&#9;&#9;{<br/>&#9;&#9;\"product_option_value\":<br/>&#9;&#9;[<br/>&#9;&#9;&#9;{<br/>&#9;&#9;&#9;&#9;\"product_option_value_id\": \"15\",<br/>&#9;&#9;&#9;&#9;\"quantity\": \"122\",<br/>&#9;&#9;&#9;&#9;\"price\": \"10\"<br/>&#9;&#9;&#9;},<br/>&#9;&#9;&#9;{<br/>&#9;&#9;&#9;&#9;\"product_option_value_id\": \"16\",<br/>&#9;&#9;&#9;&#9;\"quantity\": \"211\",<br/>&#9;&#9;&#9;&#9;\"price\": \"5\"<br/>&#9;&#9;&#9;}<br/>&#9;&#9;&#9;]<br/>&#9;&#9;&#9;}<br/>&#9;&#9;]<br/>&#9;}</pre>",
        "operationId": "products.update",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Product Id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/ProductEditObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete product by ID",
        "description": "<span class='bold'>Service urls:</span><br><span class='links'>http://yourdomain.com/api/rest_admin/products/{product_id}</span><br>OR<br><span class='links'>http://yourdomain.com/index.php?route=rest/product_admin/products&id={product_id}</span>",
        "operationId": "products.delete",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Product Id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/search/{search}": {
      "get": {
        "summary": "Search products",
[...]
