{
  "openapi": "3.0.3",
  "info": {
    "title": "Expertease apis",
    "version": "1.0.0",
    "description": "Your API Description",
    "x-jentic-source-url": "https://backend.experteaseai.com/api/redoc/"
  },
  "servers": [
    {
      "url": "https://backend.experteaseai.com"
    }
  ],
  "paths": {
    "/api/schema/": {
      "get": {
        "operationId": "api_schema_retrieve",
        "description": "OpenApi3 schema for this API. Format can be selected via content negotiation.\n\n- YAML: application/vnd.oai.openapi\n- JSON: application/vnd.oai.openapi+json",
        "parameters": [
          {
            "in": "query",
            "name": "format",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "yaml"
              ]
            }
          },
          {
            "in": "query",
            "name": "lang",
            "schema": {
              "type": "string",
              "enum": [
                "af",
                "ar",
                "ar-dz",
                "ast",
                "az",
                "be",
                "bg",
                "bn",
                "br",
                "bs",
                "ca",
                "ckb",
                "cs",
                "cy",
                "da",
                "de",
                "dsb",
                "el",
                "en",
                "en-au",
                "en-gb",
                "eo",
                "es",
                "es-ar",
                "es-co",
                "es-mx",
                "es-ni",
                "es-ve",
                "et",
                "eu",
                "fa",
                "fi",
                "fr",
                "fy",
                "ga",
                "gd",
                "gl",
                "he",
                "hi",
                "hr",
                "hsb",
                "hu",
                "hy",
                "ia",
                "id",
                "ig",
                "io",
                "is",
                "it",
                "ja",
                "ka",
                "kab",
                "kk",
                "km",
                "kn",
                "ko",
                "ky",
                "lb",
                "lt",
                "lv",
                "mk",
                "ml",
                "mn",
                "mr",
                "ms",
                "my",
                "nb",
                "ne",
                "nl",
                "nn",
                "os",
                "pa",
                "pl",
                "pt",
                "pt-br",
                "ro",
                "ru",
                "sk",
                "sl",
                "sq",
                "sr",
                "sr-latn",
                "sv",
                "sw",
                "ta",
                "te",
                "tg",
                "th",
                "tk",
                "tr",
                "tt",
                "udm",
                "uk",
                "ur",
                "uz",
                "vi",
                "zh-hans",
                "zh-hant"
              ]
            }
          }
        ],
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          },
          {}
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.oai.openapi": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {}
                }
              },
              "application/yaml": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {}
                }
              },
              "application/vnd.oai.openapi+json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {}
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "description": ""
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/admin/available-models/": {
      "get": {
        "operationId": "api_v1_admin_available_models_retrieve",
        "description": "Retrieves all available Azure OpenAI models formatted for frontend dropdown. Returns value/label pairs suitable for select options. Only accessible to admin users.",
        "summary": "Get all available Azure OpenAI models (Admin only)",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "description": "JWT token for authentication (e.g., Bearer <token>)",
            "required": true
          }
        ],
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v1/admin/bot-transfers/": {
      "get": {
        "operationId": "api_v1_admin_bot_transfers_retrieve",
        "description": "Fetches the history of bot ownership transfers. Can be filtered by bot ID. Only accessible to admin users.",
        "summary": "Retrieve bot transfer history (Admin only)",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "description": "JWT token for authentication (e.g., Bearer <token>)",
            "required": true
          },
          {
            "in": "query",
            "name": "bot_id",
            "schema": {
              "type": "integer"
            },
            "description": "Filter history by bot ID (optional)"
          }
        ],
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "bot_id": {
                            "type": "integer"
                          },
                          "bot_name": {
                            "type": "string"
                          },
                          "transferred_from": {
                            "type": "string"
                          },
                          "transferred_to": {
                            "type": "string"
                          },
                          "transferred_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "description": ""
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": "Admin access required"
                  }
                }
              }
            },
            "description": ""
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": "Failed to retrieve transfer history"
                  }
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v1/admin/bots/": {
      "get": {
        "operationId": "api_v1_admin_bots_list",
        "description": "Fetches all bots in the system. Only accessible to superusers (admins). Can be filtered by bot type (chat or voice).",
        "summary": "Retrieve all bots (Admin only)",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "description": "JWT token for authentication (e.g., Bearer <token>)",
            "required": true
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string",
              "enum": [
                "chat",
                "voice"
              ]
            },
            "description": "Filter bots by type (chat or voice). If not specified, returns all bot types."
          }
        ],
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedBotList"
                }
              }
            },
            "description": ""
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v1/admin/bots/{bot_id}/trigger-maintenance/": {
      "post": {
        "operationId": "api_v1_admin_bots_trigger_maintenance_create",
        "description": "Manually triggers the embedding update process for a specific bot. This checks for updated URLs and re-embeds any changed content.",
        "summary": "Trigger bot embedding maintenance (Admin only)",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "description": "JWT token for authentication (e.g., Bearer <token>)",
            "required": true
          },
          {
            "in": "path",
            "name": "bot_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v1/admin/bots/{id}/": {
      "get": {
        "operationId": "api_v1_admin_bots_retrieve",
        "description": "Fetches a specific bot by ID. Only accessible to superusers (admins).",
        "summary": "Retrieve a bot (Admin only)",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "description": "JWT token for authentication (e.g., Bearer <token>)",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "pk",
            "schema": {
              "type": "string"
            },
            "description": "UUID of the bot to retrieve",
            "required": true
          }
        ],
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bot"
                }
              }
            },
            "description": ""
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v1/admin/feature-requests/": {
      "get": {
        "operationId": "api_v1_admin_feature_requests_retrieve",
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "No response body"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/admin/feature-requests/{feature_request_id}/": {
      "patch": {
        "operationId": "api_v1_admin_feature_requests_partial_update",
        "description": "Allows admins to update feature request status, priority, assignment, and notes",
        "summary": "Update feature request (Admin only)",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "description": "JWT token for authentication",
            "required": true
          },
          {
            "in": "path",
            "name": "feature_request_id",
            "schema": {
              "type": "string"
            },
            "description": "UUID of the feature request to update",
            "required": true
          }
        ],
        "tags": [
          "api"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchedAdminFeatureRequestUpdate"
              },
              "examples": {
                "AdminUpdateExample": {
                  "value": {
                    "status": "approved",
                    "priority": "high",
                    "admin_notes": "Great idea, approved for Q2 implementation",
                    "estimated_effort": "2 weeks",
                    "assigned_to": 5
                  },
                  "summary": "Admin Update Example"
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PatchedAdminFeatureRequestUpdate"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/PatchedAdminFeatureRequestUpdate"
              }
            }
          }
        },
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureRequest"
                }
              }
            },
            "description": ""
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v1/admin/feature-requests/{id}/delete/": {
      "delete": {
        "operationId": "api_v1_admin_feature_requests_delete_destroy",
        "description": "Allows admin users to delete any feature request by its UUID. This is an administrative operation with full access to all feature requests regardless of ownership.",
        "summary": "Delete a feature request (Admin only)",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "description": "JWT token for authentication (e.g., Bearer <token>)",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "UUID of the feature request to delete",
            "required": true
          }
        ],
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v1/admin/support-queries/": {
      "get": {
        "operationId": "api_v1_admin_support_queries_retrieve",
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "No response body"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/admin/support-queries/{id}/": {
      "put": {
        "operationId": "api_v1_admin_support_queries_update",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "No response body"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/admin/support-queries/{id}/delete/": {
      "delete": {
        "operationId": "api_v1_admin_support_queries_delete_destroy",
        "description": "Allows admin users to delete any support query by its UUID. This is an administrative operation with full access to all tickets regardless of ownership.",
        "summary": "Delete a support query (Admin only)",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "description": "JWT token for authentication (e.g., Bearer <token>)",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "pk",
            "schema": {
              "type": "string"
            },
            "description": "UUID of the support query to delete",
            "required": true
          }
        ],
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v1/admin/transfer-bot/": {
      "post": {
        "operationId": "api_v1_admin_transfer_bot_create",
        "description": "Transfers ownership of a bot to another user in the system. Only accessible to admin users.",
        "summary": "Transfer a bot to another user (Admin only)",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "description": "JWT token for authentication (e.g., Bearer <token>)",
            "required": true
          }
        ],
        "tags": [
          "api"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bot_id": {
                    "type": "integer",
                    "description": "ID of the bot to transfer"
                  },
                  "user_id": {
                    "type": "integer",
                    "description": "ID of the user to transfer the bot to"
                  }
                },
                "required": [
                  "bot_id",
                  "user_id"
                ]
              }
            }
          }
        },
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v1/admin/users/": {
      "get": {
        "operationId": "api_v1_admin_users_retrieve",
        "description": "Fetches all users who are not superusers or do not have admin user_type. Only accessible to admin users. Supports pagination and search.",
        "summary": "Retrieve all non-superuser users",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "description": "JWT token for authentication (e.g., Bearer <token>)",
            "required": true
          },
          {
            "in": "query",
            "name": "ordering",
            "schema": {
              "type": "string"
            },
            "description": "Field to sort by. Prefix with '-' for descending order. Options: last_login, date_joined, username, email, user_type, user_plan (default: last_login)"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "page_size",
            "schema": {
              "type": "integer"
            },
            "description": "Number of users per page (default: 10, max: 100)"
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search users by username, email, or user_type"
          }
        ],
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "nullable": true
                    },
                    "results": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "username": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "is_superuser": {
                                "type": "boolean"
                              },
                              "user_type": {
                                "type": "string",
                                "enum": [
                                  "normal",
                                  "admin"
                                ]
                              },
                              "user_plan": {
                                "type": "string",
                                "enum": [
                                  "Free",
                                  "Basic",
                                  "quarterly",
                                  "yearly"
                                ]
                              },
                              "login_type": {
                                "type": "string",
                                "enum": [
                                  "email",
                                  "google",
                                  "microsoft"
                                ]
                              },
                              "date_joined": {
                                "type": "string"
                              },
                              "last_login": {
                                "type": "string"
                              },
                              "is_active": {
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "description": ""
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": "Admin access required"
                  }
                }
              }
            },
            "description": ""
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": "Failed to retrieve users"
                  }
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v1/analytics/activities/": {
      "get": {
        "operationId": "api_v1_analytics_activities_retrieve",
        "description": "Get paginated activity logs with filtering",
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "No response body"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/analytics/endpoints/": {
      "get": {
        "operationId": "api_v1_analytics_endpoints_retrieve",
        "description": "Get analytics for API endpoints",
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "No response body"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/analytics/export/": {
      "get": {
        "operationId": "api_v1_analytics_export_retrieve",
        "description": "Export analytics data in various formats",
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "No response body"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/analytics/leaderboard/": {
      "get": {
        "operationId": "api_v1_analytics_leaderboard_retrieve",
        "description": "Get top users by various metrics",
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "No response body"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/analytics/realtime/": {
      "get": {
        "operationId": "api_v1_analytics_realtime_retrieve",
        "description": "Get real-time activity statistics",
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "No response body"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/analytics/system/": {
      "get": {
        "operationId": "api_v1_analytics_system_retrieve",
        "description": "Get system-wide analytics overview",
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "No response body"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/analytics/user/{user_id}/": {
      "get": {
        "operationId": "api_v1_analytics_user_retrieve",
        "description": "Get activity summary for a specific user",
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "No response body"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/bot-files/": {
      "post": {
        "operationId": "api_v1_bot_files_create",
        "description": "Creates a new bot file for a specific bot owned by the authenticated user. The request body must include the bot ID and file details.",
        "summary": "Create a bot file",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "description": "JWT token for authentication (e.g., Bearer <token>)",
            "required": true
          }
        ],
        "tags": [
          "api"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BotFile"
              },
              "examples": {
                "CreateBotFileExample": {
                  "value": {
                    "bot": "uuid-of-bot",
                    "filename": "example.txt",
                    "filepath": "/path/to/file",
                    "containerName": "container1",
                    "embedded": false
                  },
                  "summary": "Create Bot File Example"
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/BotFile"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/BotFile"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BotFile"
                }
              }
            },
            "description": ""
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          }
        }
      },
      "put": {
        "operationId": "api_v1_bot_files_update",
        "description": "Updates a specific bot file by ID for a bot owned by the authenticated user. Editable fields include filename, filepath, containerName, and embedded.",
        "summary": "Update a bot file",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "description": "JWT token for authentication (e.g., Bearer <token>)",
            "required": true
          },
          {
            "in": "path",
            "name": "pk",
            "schema": {
              "type": "string"
            },
            "description": "UUID of the bot file to update",
            "required": true
          }
        ],
        "tags": [
          "api"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BotFile"
              },
              "examples": {
                "UpdateBotFileExample": {
                  "value": {
                    "filename": "updated-example.txt",
                    "filepath": "/new/path/to/file",
                    "containerName": "container2",
                    "embedded": true
                  },
                  "summary": "Update Bot File Example"
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/BotFile"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/BotFile"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BotFile"
                }
              }
            },
            "description": ""
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v1/bot-files/{id}/": {
      "delete": {
        "operationId": "api_v1_bot_files_destroy",
        "description": "Deletes a specific bot file by ID for any bot and updates the bot's total file size.",
        "summary": "Delete a bot file",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "description": "JWT token for authentication (e.g., Bearer <token>)",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "pk",
            "schema": {
              "type": "string"
            },
            "description": "UUID of the bot file to delete",
            "required": true
          }
        ],
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "204": {
            "description": "No response body"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v1/bot-files/{id}/update/": {
      "post": {
        "operationId": "api_v1_bot_files_update_create",
        "description": "Creates a new bot file for a specific bot owned by the authenticated user. The request body must include the bot ID and file details.",
        "summary": "Create a bot file",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "description": "JWT token for authentication (e.g., Bearer <token>)",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "api"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BotFile"
              },
              "examples": {
                "CreateBotFileExample": {
                  "value": {
                    "bot": "uuid-of-bot",
                    "filename": "example.txt",
                    "filepath": "/path/to/file",
                    "containerName": "container1",
                    "embedded": false
                  },
                  "summary": "Create Bot File Example"
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/BotFile"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/BotFile"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BotFile"
                }
              }
            },
            "description": ""
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          }
        }
      },
      "put": {
        "operationId": "api_v1_bot_files_update_update",
        "description": "Updates a specific bot file by ID for a bot owned by the authenticated user. Editable fields include filename, filepath, containerName, and embedded.",
        "summary": "Update a bot file",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "description": "JWT token for authentication (e.g., Bearer <token>)",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "pk",
            "schema": {
              "type": "string"
            },
            "description": "UUID of the bot file to update",
            "required": true
          }
        ],
        "tags": [
          "api"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BotFile"
              },
              "examples": {
                "UpdateBotFileExample": {
                  "value": {
                    "filename": "updated-example.txt",
                    "filepath": "/new/path/to/file",
                    "containerName": "container2",
                    "embedded": true
                  },
                  "summary": "Update Bot File Example"
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/BotFile"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/BotFile"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BotFile"
                }
              }
            },
            "description": ""
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v1/bots/": {
      "get": {
        "operationId": "api_v1_bots_list",
        "description": "Fetches all bots belonging to the authenticated user. Returns a list of bots with their details, including associated files and chat history. Can be filtered by bot type (chat or voice).",
        "summary": "Retrieve a list of bots",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "description": "JWT token for authentication (e.g., Bearer <token>)",
            "required": true
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string",
              "enum": [
                "chat",
                "voice"
              ]
            },
            "description": "Filter bots by type (chat or voice). If not specified, returns all bot types."
          }
        ],
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Bot"
                  }
                }
              }
            },
            "description": ""
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "api_v1_bots_create",
        "description": "Creates a new bot for the authenticated user. The request body must include the bot's name, and can optionally include description, color, bot_image, temperature, selected_model, max_characters, bot_context, and bot_tune.",
        "summary": "Create a new bot",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "description": "JWT token for authentication (e.g., Bearer <token>)",
            "required": true
          }
        ],
        "tags": [
          "api"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Bot"
              },
              "examples": {
                "CreateBotExampleWithGPT-4o": {
                  "value": {
                    "name": "MyBot",
                    "description": "A bot for testing",
                    "color": "#FF0000",
                    "bot_image": "http://example.com/image.jpg",
                    "temperature": 0.7,
                    "selected_model": "gpt-4o",
                    "max_characters": 1000,
                    "bot_context": "This bot provides customer support for tech products.",
                    "bot_tune": "Respond in a friendly and professional tone."
                  },
                  "summary": "Create Bot Example with GPT-4o"
                },
                "CreateBotExampleWithDeepSeek": {
                  "value": {
                    "name": "DeepSeekBot",
                    "description": "A bot using DeepSeek model",
                    "color": "#00FF00",
                    "bot_image": "http://example.com/deepseek.jpg",
                    "temperature": 0.8,
                    "selected_model": "DeepSeek-V3-0324",
                    "max_characters": 1500,
                    "bot_context": "This bot assists with programming queries.",
                    "bot_tune": "Use a technical and concise tone."
                  },
                  "summary": "Create Bot Example with DeepSeek"
                },
                "CreateBotExampleWithPhi-4": {
                  "value": {
                    "name": "PhiBot",
                    "description": "A bot using Phi-4 model",
                    "color": "#0000FF",
                    "bot_image": "http://example.com/phi.jpg",
                    "temperature": 0.6,
                    "selected_model": "Phi-4",
                    "max_characters": 800,
                    "bot_context": "This bot answers general knowledge questions.",
                    "bot_tune": "Be informative and engaging."
                  },
                  "summary": "Create Bot Example with Phi-4"
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Bot"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Bot"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bot"
                }
              }
            },
            "description": ""
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v1/bots/{bot_id}/conversations/": {
      "get": {
        "operationId": "api_v1_bots_conversations_list",
        "description": "List all message conversations for a specific bot with pagination\nSupports filtering by platform and search by sender info",
        "parameters": [
          {
            "in": "path",
            "name": "bot_id",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "is_active",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by active status"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "in": "query",
            "name": "page_size",
            "schema": {
              "type": "integer"
            },
            "description": "Number of items per page (max 50)"
          },
          {
            "in": "query",
            "name": "platform",
            "schema": {
              "type": "string"
            },
            "description": "Filter by platform (whatsapp, messenger, instagram)"
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search by sender name, phone, or ID"
          }
        ],
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedMessageConversationListList"
                }
              }
            },
            "description": ""
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/bots/{bot_id}/conversations-stats/": {
      "get": {
        "operationId": "api_v1_bots_conversations_stats_retrieve",
        "description": "Get statistics for message conversations for a specific bot",
        "parameters": [
          {
            "in": "path",
            "name": "bot_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_conversations": {
                      "type": "integer"
                    },
                    "active_conversations": {
                      "type": "integer"
                    },
                    "platform_breakdown": {
                      "type": "object"
                    },
                    "total_messages": {
                      "type": "integer"
                    },
                    "recent_activity": {
                      "type": "object"
                    }
                  }
                }
              }
            },
            "description": ""
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/bots/{bot_id}/conversations/{conversation_id}/": {
      "get": {
        "operationId": "api_v1_bots_conversations_retrieve",
        "description": "Get detailed view of a specific conversation with all messages\nGET: Includes pagination for messages if there are too many\nDELETE: Deletes the conversation and all associated messages",
        "parameters": [
          {
            "in": "path",
            "name": "bot_id",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "conversation_id",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "message_page",
            "schema": {
              "type": "integer"
            },
            "description": "Page number for messages pagination"
          },
          {
            "in": "query",
            "name": "message_page_size",
            "schema": {
              "type": "integer"
            },
            "description": "Number of messages per page (max 100)"
          }
        ],
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageConversationDetail"
                }
              }
            },
            "description": ""
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "api_v1_bots_conversations_destroy",
        "description": "Deletes a specific conversation and all its associated messages for a bot owned by the authenticated user. Admin users can delete conversations from any bot.",
        "summary": "Delete a conversation",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "description": "JWT token for authentication (e.g., Bearer <token>)",
            "required": true
          },
          {
            "in": "path",
            "name": "bot_id",
            "schema": {
              "type": "string"
            },
            "description": "ID of the bot",
            "required": true
          },
          {
            "in": "path",
            "name": "conversation_id",
            "schema": {
              "type": "string"
            },
            "description": "ID of the conversation to delete",
            "required": true
          }
        ],
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "204": {
            "description": "No response body"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v1/bots/{bot_id}/cron-job/": {
      "get": {
        "operationId": "api_v1_bots_cron_job_retrieve",
        "description": "Get or update cron job for a specific bot",
        "parameters": [
          {
            "in": "path",
            "name": "bot_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CronJob"
                }
              }
            },
            "description": ""
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "api_v1_bots_cron_job_update",
        "description": "Get or update cron job for a specific bot",
        "parameters": [
          {
            "in": "path",
            "name": "bot_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "api"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CronJob"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CronJob"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CronJob"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CronJob"
                }
              }
            },
            "description": ""
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "api_v1_bots_cron_job_partial_update",
        "description": "Get or update cron job for a specific bot",
        "parameters": [
          {
            "in": "path",
            "name": "bot_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "api"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchedCronJob"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PatchedCronJob"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/PatchedCronJob"
              }
            }
          }
        },
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CronJob"
                }
              }
            },
            "description": ""
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/bots/{bot_id}/embedding-items/": {
      "get": {
        "operationId": "api_v1_bots_embedding_items_retrieve",
        "description": "Retrieves all embedding items (scraped content) for a specific bot. Only the bot owner can access their bot's embedding items.",
        "summary": "Get embedding items for a specific bot",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "description": "JWT token for authentication (e.g., Bearer <token>)",
            "required": true
          },
          {
            "in": "path",
            "name": "bot_id",
            "schema": {
              "type": "string"
            },
            "description": "UUID of the bot to retrieve embedding items for",
            "required": true
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination (default: 1)"
          },
          {
            "in": "query",
            "name": "page_size",
            "schema": {
              "type": "integer"
            },
            "description": "Number of items per page (default: 10, max: 50)"
          }
        ],
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "api_v1_bots_embedding_items_destroy",
        "description": "Clears all embedding items for a specific bot. Only the bot owner can modify their bot's embedding items.",
        "summary": "Clear all embedding items for a bot",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "description": "JWT token for authentication (e.g., Bearer <token>)",
            "required": true
          },
          {
            "in": "path",
            "name": "bot_id",
            "schema": {
              "type": "string"
            },
            "description": "UUID of the bot to clear embedding items for",
            "required": true
          }
        ],
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v1/bots/{bot_id}/embedding-items/delete/": {
      "post": {
        "operationId": "api_v1_bots_embedding_items_delete_create",
        "description": "Deletes specific embedding items from a bot's stored embeddings. Only the bot owner can delete their bot's embedding items. Returns information about which items were deleted and which were not found.",
        "summary": "Delete specific embedding items from a bot",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "description": "JWT token for authentication (e.g., Bearer <token>)",
            "required": true
          },
          {
            "in": "path",
            "name": "bot_id",
            "schema": {
              "type": "string"
            },
            "description": "UUID of the bot to delete embedding items from",
            "required": true
          }
        ],
        "tags": [
          "api"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items_to_delete": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of keys (URLs/filenames) to delete from embedding items"
                  }
                },
                "required": [
                  "items_to_delete"
                ],
                "example": {
                  "items_to_delete": [
                    "https://example.com/page1",
                    "https://example.com/page2",
                    "document1.pdf"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v1/bots/{bot_id}/integrations/": {
      "get": {
        "operationId": "api_v1_bots_integrations_retrieve",
        "description": "Get integration status for all services for a specific bot.\nReturns a JSON object with service names as keys and boolean connection status as values.",
        "parameters": [
          {
            "in": "path",
            "name": "bot_id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "No response body"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "api_v1_bots_integrations_create",
        "description": "Create or update integration settings for a specific service.\nExpected payload: {\"service\": \"google_calendar\", \"enabled\": true, \"config\": {...}}",
        "parameters": [
          {
            "in": "path",
            "name": "bot_id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "No response body"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "api_v1_bots_integrations_destroy",
        "description": "Delete integration for a specific service.\nExpected payload: {\"service\": \"google_calendar\"}",
        "parameters": [
          {
            "in": "path",
            "name": "bot_id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "204": {
            "description": "No response body"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/bots/{bot_id}/leads/": {
      "get": {
        "operationId": "api_v1_bots_leads_retrieve",
        "description": "Retrieves all leads captured by a specific bot. Supports pagination and search functionality. Only the bot owner can access their bot's leads.",
        "summary": "Get leads for a specific bot",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "description": "JWT token for authentication (e.g., Bearer <token>)",
            "required": true
          },
          {
            "in": "path",
            "name": "bot_id",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "page_size",
            "schema": {
              "type": "integer"
            },
            "description": "Number of leads per page (default: 20, max: 100)"
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search leads by name or email"
          }
        ],
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v1/bots/{bot_id}/leads-stats/": {
      "get": {
        "operationId": "api_v1_bots_leads_stats_retrieve",
        "description": "Retrieves statistical information about leads captured by a specific bot.",
        "summary": "Get lead statistics for a bot",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "description": "JWT token for authentication (e.g., Bearer <token>)",
            "required": true
          },
          {
            "in": "path",
            "name": "bot_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v1/bots/{bot_id}/leads/{lead_id}/": {
      "get": {
        "operationId": "api_v1_bots_leads_retrieve_2",
        "description": "Retrieves detailed information about a specific lead. Only the bot owner can access their bot's leads.",
        "summary": "Get a specific lead",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "description": "JWT token for authentication (e.g., Bearer <token>)",
            "required": true
          },
          {
            "in": "path",
            "name": "bot_id",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "lead_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "api_v1_bots_leads_destroy",
        "description": "Deletes a specific lead. Only the bot owner can delete their bot's leads.",
        "summary": "Delete a specific lead",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "description": "JWT token for authentication (e.g., Bearer <token>)",
            "required": true
          },
          {
            "in": "path",
            "name": "bot_id",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "lead_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "204": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Unspecified response body"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v1/bots/{bot_id}/voice-history/": {
      "get": {
        "operationId": "api_v1_bots_voice_history_retrieve",
        "description": "Retrieve a paginated list of voice call histories for a specific bot with optional filtering by call status, phone numbers, and date range. Only authenticated users can access voice histories for their own bots (or all bots for admin users).",
        "summary": "Get voice call histories for bot",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "description": "JWT token for authentication (e.g., Bearer <token>)",
            "required": true
          },
          {
            "in": "path",
            "name": "bot_id",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "call_status",
            "schema": {
              "type": "string"
            },
            "description": "Filter by call status (completed, in_progress, completed_timeout)"
          },
          {
            "in": "query",
            "name": "date_from",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Filter by start date (YYYY-MM-DD format)"
          },
          {
            "in": "query",
            "name": "date_to",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Filter by end date (YYYY-MM-DD format)"
          },
          {
            "in": "query",
            "name": "from_number",
            "schema": {
              "type": "string"
            },
            "description": "Filter by caller phone number (partial match)"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "page_size",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of items per page (max 100)"
          },
          {
            "in": "query",
            "name": "to_number",
            "schema": {
              "type": "string"
            },
            "description": "Filter by recipient phone number (partial match)"
          }
        ],
        "tags": [
          "api"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bot_id": {
                      "type": "string"
                    },
                    "bot_name": {
                      "type": "string"
                    },
                    "voice_histories": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "bot_id": {
                            "type": "string"
                          },
[...]
