{
  "openapi": "3.0.1",
  "info": {
    "version": "1.3.3",
    "title": "Account Information Service",
    "description": "Open Banking Platform PSD2 API - Account Information\n\n# Summary\nThe **NextGenPSD2** *Framework Version 1.3.3* offers a modern, open, harmonised and interoperable set of \nApplication Programming Interfaces (APIs) as the safest and most efficient way to provide data securely. \nThe NextGenPSD2 Framework reduces XS2A complexity and costs, addresses the problem of multiple competing standards \nin Europe and, aligned with the goals of the Euro Retail Payments Board,\nenables European banking customers to benefit from innovative products and services ('Banking as a Service') \nby granting TPPs safe and secure (authenticated and authorised) access to their bank accounts and financial data.\n\nThe possible Approaches are:\n  * Redirect SCA Approach\n  * OAuth SCA Approach\n  * Decoupled SCA Approach\n  * Embedded SCA Approach without SCA method\n  * Embedded SCA Approach with only one SCA method available\n  * Embedded SCA Approach with Selection of a SCA method\n\n  Not every message defined in this API definition is necessary for all approaches. \n  Furthermore this API definition does not differ between methods which are mandatory, conditional, or optional\n  Therefore for a particular implementation of a Berlin Group PSD2 compliant API it is only necessary to support \n  a certain subset of the methods defined in this API definition.\n\n  **Please have a look at the implementation guidelines if you are not sure \n  which message has to be used for the approach you are going to use.**\n\n## Some General Remarks Related to this version of the OpenAPI Specification:\n* **This API definition is based on the Implementation Guidelines of the Berlin Group PSD2 API.** \n  It is not an replacement in any sense.\n  The main specification is (at the moment) always the Implementation Guidelines of the Berlin Group PSD2 API.\n* **This API definition contains the REST-API for requests from the PISP to the ASPSP.**\n* **This API definition contains the messages for all different approaches defined in the Implementation Guidelines.**\n* According to the OpenAPI-Specification [https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md]\n  \n    \"If in is \"header\" and the name field is \"Accept\", \"Content-Type\" or \"Authorization\", the parameter definition SHALL be ignored.\"\n  \n  The element \"Accept\" will not be defined in this file at any place.\n  \n  The elements \"Content-Type\" and \"Authorization\" are implicitly defined by the OpenApi tags \"content\" and \"security\".\n  \n* There are several predefined types which might occur in payment initiation messages, \n  but are not used in the standard JSON messages in the Implementation Guidelines.\n  Therefore they are not used in the corresponding messages in this file either.\n  We added them for the convenience of the user.\n  If there is a payment product, which need these field, one can easily use the predefined types.\n  But the ASPSP need not to accept them in general.\n  \n* **We omit the definition of all standard HTTP header elements (mandatory/optional/conditional) \n  except they are mention in the Implementation Guidelines.**\n  Therefore the implementer might add the in his own realisation of a PSD2 comlient API in addition to the elements define in this file.\n   \n## General Remarks on Data Types\n\nThe Berlin Group definition of UTF-8 strings in context of the PSD2 API have to support at least the following characters\n\na b c d e f g h i j k l m n o p q r s t u v w x y z\n\nA B C D E F G H I J K L M N O P Q R S T U V W X Y Z\n\n0 1 2 3 4 5 6 7 8 9\n\n/ - ? : ( ) . , ' +\n\nSpace\n",
    "license": {
      "name": "Creative Commons Attribution 4.0 International Public License",
      "url": "https://creativecommons.org/licenses/by/4.0/"
    },
    "contact": {
      "name": "The Berlin Group - A European Standards Initiative",
      "url": "https://www.berlin-group.org/",
      "email": "info@berlin-group.org"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/openpayments/AccountInformationService/1.3.3/swagger.json"
  },
  "externalDocs": {
    "description": "Full Documentation of NextGenPSD2 Access to Account Interoperability Framework\n(General Introduction Paper, Operational Rules, Implementation Guidelines)\n",
    "url": "https://www.berlin-group.org/nextgenpsd2-downloads"
  },
  "servers": [
    {
      "url": "https://api.sandbox.openbankingplatform.com/psd2/accountinformation",
      "description": "PSD2 sandbox server"
    }
  ],
  "security": [
    {
      "oAuth2": [
        "paymentinitiation"
      ]
    }
  ],
  "paths": {
    "/v1/accounts": {
      "get": {
        "summary": "Read Account List",
        "description": "Read the identifiers of the available payment account together with \nbooking balance information, depending on the consent granted.\n\nIt is assumed that a consent of the PSU to this access is already given and stored on the ASPSP system. \nThe addressed list of accounts depends then on the PSU ID and the stored consent addressed by consentId, \nrespectively the OAuth2 access token. \n\nReturns all identifiers of the accounts, to which an account access has been granted to through \nthe /consents endpoint by the PSU. \nIn addition, relevant information about the accounts and hyperlinks to corresponding account \ninformation resources are provided if a related consent has been already granted.\n\nRemark: Note that the /consents endpoint optionally offers to grant an access on all available \npayment accounts of a PSU. \nIn this case, this endpoint will deliver the information about all available payment accounts \nof the PSU at this ASPSP.\n",
        "operationId": "getAccountList",
        "tags": [
          "Account Information Service (AIS)"
        ],
        "security": [
          {
            "oAuth2": [
              "accountinformation"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/withBalanceQuery"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-BicFi"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/consentId_HEADER_mandatory"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address_conditionalForAis"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Port"
          },
          {
            "$ref": "#/components/parameters/PSU-Accept"
          },
          {
            "$ref": "#/components/parameters/PSU-Accept-Charset"
          },
          {
            "$ref": "#/components/parameters/PSU-Accept-Encoding"
          },
          {
            "$ref": "#/components/parameters/PSU-Accept-Language"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/PSU-Http-Method"
          },
          {
            "$ref": "#/components/parameters/PSU-Device-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-Geo-Location"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK_200_AccountList"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_AIS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_AIS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_AIS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_AIS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_AIS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_AIS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_AIS"
          },
          "409": {
            "$ref": "#/components/responses/CONFLICT_409_AIS"
          },
          "412": {
            "$ref": "#/components/responses/PRECONDITION_FAILED_412"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_AIS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_AIS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_AIS"
          }
        }
      }
    },
    "/v1/accounts/{account-id}": {
      "get": {
        "summary": "Read Account Details",
        "description": "Reads details about an account, with balances where required. \nIt is assumed that a consent of the PSU to \nthis access is already given and stored on the ASPSP system. \nThe addressed details of this account depends then on the stored consent addressed by consentId, \nrespectively the OAuth2 access token.\n\n**NOTE:** The account-id can represent a multicurrency account. \nIn this case the currency code is set to \"XXX\".\n\nGive detailed information about the addressed account.\n\nGive detailed information about the addressed account together with balance information\n",
        "operationId": "readAccountDetails",
        "tags": [
          "Account Information Service (AIS)"
        ],
        "security": [
          {
            "oAuth2": [
              "accountinformation"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/withBalanceQuery"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-BicFi"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/consentId_HEADER_mandatory"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address_conditionalForAis"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Port"
          },
          {
            "$ref": "#/components/parameters/PSU-Accept"
          },
          {
            "$ref": "#/components/parameters/PSU-Accept-Charset"
          },
          {
            "$ref": "#/components/parameters/PSU-Accept-Encoding"
          },
          {
            "$ref": "#/components/parameters/PSU-Accept-Language"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/PSU-Http-Method"
          },
          {
            "$ref": "#/components/parameters/PSU-Device-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-Geo-Location"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK_200_AccountDetails"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_AIS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_AIS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_AIS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_AIS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_AIS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_AIS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_AIS"
          },
          "409": {
            "$ref": "#/components/responses/CONFLICT_409_AIS"
          },
          "412": {
            "$ref": "#/components/responses/PRECONDITION_FAILED_412"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_AIS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_AIS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_AIS"
          }
        }
      }
    },
    "/v1/accounts/{account-id}/balances": {
      "get": {
        "summary": "Read Balance",
        "description": "Reads account data from a given account addressed by \"account-id\". \n\n**Remark:** This account-id can be a tokenised identification due to data protection reason since the path \ninformation might be logged on intermediary servers within the ASPSP sphere. \nThis account-id then can be retrieved by the \"GET Account List\" call.\n\nThe account-id is constant at least throughout the lifecycle of a given consent.\n",
        "operationId": "getBalances",
        "tags": [
          "Account Information Service (AIS)"
        ],
        "security": [
          {
            "oAuth2": [
              "accountinformation"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-BicFi"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/consentId_HEADER_mandatory"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address_conditionalForAis"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Port"
          },
          {
            "$ref": "#/components/parameters/PSU-Accept"
          },
          {
            "$ref": "#/components/parameters/PSU-Accept-Charset"
          },
          {
            "$ref": "#/components/parameters/PSU-Accept-Encoding"
          },
          {
            "$ref": "#/components/parameters/PSU-Accept-Language"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/PSU-Http-Method"
          },
          {
            "$ref": "#/components/parameters/PSU-Device-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-Geo-Location"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK_200_Balances"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_AIS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_AIS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_AIS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_AIS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_AIS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_AIS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_AIS"
          },
          "409": {
            "$ref": "#/components/responses/CONFLICT_409_AIS"
          },
          "412": {
            "$ref": "#/components/responses/PRECONDITION_FAILED_412"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_AIS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_AIS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_AIS"
          }
        }
      }
    },
    "/v1/accounts/{account-id}/transactions": {
      "get": {
        "summary": "Read transaction list of an account",
        "description": "Read transaction reports or transaction lists of a given account ddressed by \"account-id\", depending on the steering parameter \n\"bookingStatus\" together with balances.\n\nFor a given account, additional parameters are e.g. the attributes \"dateFrom\" and \"dateTo\". \nThe ASPSP might add balance information, if transaction lists without balances are not supported.\n",
        "operationId": "getTransactionList",
        "tags": [
          "Account Information Service (AIS)"
        ],
        "security": [
          {
            "oAuth2": [
              "accountinformation"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/dateFrom"
          },
          {
            "$ref": "#/components/parameters/dateTo"
          },
          {
            "$ref": "#/components/parameters/entryReferenceFrom"
          },
          {
            "$ref": "#/components/parameters/bookingStatus"
          },
          {
            "$ref": "#/components/parameters/deltaList"
          },
          {
            "$ref": "#/components/parameters/withBalanceQuery"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-BicFi"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/consentId_HEADER_mandatory"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address_conditionalForAis"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Port"
          },
          {
            "$ref": "#/components/parameters/PSU-Accept"
          },
          {
            "$ref": "#/components/parameters/PSU-Accept-Charset"
          },
          {
            "$ref": "#/components/parameters/PSU-Accept-Encoding"
          },
          {
            "$ref": "#/components/parameters/PSU-Accept-Language"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/PSU-Http-Method"
          },
          {
            "$ref": "#/components/parameters/PSU-Device-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-Geo-Location"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK_200_AccountsTransactions"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_AIS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_AIS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_AIS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_AIS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_AIS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_AIS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_AIS"
          },
          "409": {
            "$ref": "#/components/responses/CONFLICT_409_AIS"
          },
          "412": {
            "$ref": "#/components/responses/PRECONDITION_FAILED_412"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_AIS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_AIS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_AIS"
          }
        }
      }
    },
    "/v1/accounts/{account-id}/transactions/{transactionId}": {
      "get": {
        "summary": "Read Transaction Details",
        "description": "Reads transaction details from a given transaction addressed by \"transactionId\" on a given account addressed by \"account-id\". \nThis call is only available on transactions as reported in a JSON format.\n\n**Remark:** Please note that the PATH might be already given in detail by the corresponding entry of the response of the \n\"Read Transaction List\" call within the _links subfield.\n",
        "operationId": "getTransactionDetails",
        "tags": [
          "Account Information Service (AIS)"
        ],
        "security": [
          {
            "oAuth2": [
              "accountinformation"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/transactionId"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-BicFi"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/consentId_HEADER_mandatory"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address_conditionalForAis"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Port"
          },
          {
            "$ref": "#/components/parameters/PSU-Accept"
          },
          {
            "$ref": "#/components/parameters/PSU-Accept-Charset"
          },
          {
            "$ref": "#/components/parameters/PSU-Accept-Encoding"
          },
          {
            "$ref": "#/components/parameters/PSU-Accept-Language"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/PSU-Http-Method"
          },
          {
            "$ref": "#/components/parameters/PSU-Device-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-Geo-Location"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK_200_TransactionDetails"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_AIS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_AIS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_AIS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_AIS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_AIS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_AIS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_AIS"
          },
          "409": {
            "$ref": "#/components/responses/CONFLICT_409_AIS"
          },
          "412": {
            "$ref": "#/components/responses/PRECONDITION_FAILED_412"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_AIS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_AIS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_AIS"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oAuth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://auth.sandbox.openbankingplatform.com/connect/authorize",
            "tokenUrl": "https://auth.sandbox.openbankingplatform.com/connect/token",
            "refreshUrl": "https://auth.sandbox.openbankingplatform.com/connect/token",
            "scopes": {
              "accountinformation": "Account Information"
            }
          }
        }
      }
    },
    "schemas": {
      "accountId": {
        "description": "This identification is denoting the addressed account, where the transaction has been performed.",
        "type": "string",
        "example": "qwer3456tzui7890"
      },
      "consentId": {
        "description": "ID of the corresponding consent object as returned by an Account Information Consent Request.\n",
        "type": "string"
      },
      "transactionId": {
        "description": "This identification is given by the attribute transactionId of the corresponding entry of a transaction list.\n",
        "type": "string",
        "example": "3dc3d5b3-7023-4848-9853-f5400a64e80f"
      },
      "hrefType": {
        "description": "Link to a resource",
        "type": "object",
        "properties": {
          "href": {
            "$ref": "#/components/schemas/hrefEntry"
          }
        }
      },
      "hrefEntry": {
        "description": "Link to a resource",
        "type": "string",
        "example": "/v1/payments/sepa-credit-transfers/1234-wertiq-983"
      },
      "accountReference": {
        "description": "Reference to an account by either\n  * IBAN, of a payment accounts, or\n  * BBAN, for payment accounts if there is no IBAN, or \n  * the Primary Account Number (PAN) of a card, can be tokenised by the ASPSP due to PCI DSS requirements, or\n  * the Primary Account Number (PAN) of a card in a masked form, or\n  * an alias to access a payment account via a registered mobile phone number (MSISDN).\n",
        "type": "object",
        "properties": {
          "iban": {
            "$ref": "#/components/schemas/iban"
          },
          "bban": {
            "$ref": "#/components/schemas/bban"
          },
          "pan": {
            "$ref": "#/components/schemas/pan"
          },
          "maskedPan": {
            "$ref": "#/components/schemas/maskedPan"
          },
          "msisdn": {
            "$ref": "#/components/schemas/msisdn"
          },
          "currency": {
            "$ref": "#/components/schemas/currencyCode"
          }
        }
      },
      "balanceType": {
        "description": "The following balance types are defined:\n  - \"closingBooked\": \n    Balance of the account at the end of the pre-agreed account reporting period. \n    It is the sum of the opening booked balance at the beginning of the period and all entries booked \n    to the account during the pre-agreed account reporting period.\n    \n    For card-accounts, this is composed of\n    \n      - invoiced, but not yet paid entries\n    \n  - \"expected\":\n    Balance composed of booked entries and pending items known at the time of calculation, \n    which projects the end of day balance if everything is booked on the account and no other entry is posted.\n    \n    For card accounts, this is composed of \n      - invoiced, but not yet paid entries, \n      - not yet invoiced but already booked entries and\n      - pending items (not yet booked)\n    \n  - \"authorised\":\n    The expected balance together with the value of a pre-approved credit line the ASPSP makes permanently available to the user.\n    \n    For card-accounts:\n    \n    \"money to spend with the value of a pre-approved credit limit on the card account\"\n    \n  - \"openingBooked\":\n    Book balance of the account at the beginning of the account reporting period. \n    It always equals the closing book balance from the previous report.\n  - \"interimAvailable\":\n    Available balance calculated in the course of the account ?servicer?s business day, \n    at the time specified, and subject to further changes during the business day. \n    The interim balance is calculated on the basis of booked credit and debit items during the calculation \n    time/period specified.\n    \n    For card-accounts, this is composed of\n      - invoiced, but not yet paid entries, \n      - not yet invoiced but already booked entries\n  - \"forwardAvailable\":\n    Forward available balance of money that is at the disposal of the account owner on the date specified.\n  - \"nonInvoiced\": \n    Only for card accounts, to be checked yet. \n",
        "type": "string",
        "enum": [
          "closingBooked",
          "expected",
          "authorised",
          "openingBooked",
          "interimAvailable",
          "interimBooked",
          "forwardAvailable",
          "nonInvoiced"
        ]
      },
      "cashAccountType": {
        "description": "ExternalCashAccountType1Code from ISO 20022.\n",
        "type": "string"
      },
      "accountStatus": {
        "description": "Account status. The value is one of the following:\n  - \"enabled\": account is available\n  - \"deleted\": account is terminated\n  - \"blocked\": account is blocked e.g. for legal reasons\nIf this field is not used, than the account is available in the sense of this specification.\n",
        "type": "string",
        "enum": [
          "enabled",
          "deleted",
          "blocked"
        ]
      },
      "accountDetails": {
        "description": "The ASPSP shall give at least one of the account reference identifiers:\n  - iban\n  - bban\n  - pan\n  - maskedPan\n  - msisdn\nIf the account is a multicurrency account currency code in \"currency\" is set to \"XXX\".\n",
        "type": "object",
        "required": [
          "currency"
        ],
        "properties": {
          "resourceId": {
            "description": "This shall be filled, if addressable resource are created by the ASPSP on the /accounts or /card-accounts endpoint.",
            "type": "string"
          },
          "iban": {
            "$ref": "#/components/schemas/iban"
          },
          "bban": {
            "$ref": "#/components/schemas/bban"
          },
          "msisdn": {
            "$ref": "#/components/schemas/msisdn"
          },
          "currency": {
            "$ref": "#/components/schemas/currencyCode"
          },
          "name": {
            "description": "Name of the account given by the bank or the PSU in online-banking.",
            "type": "string",
            "maxLength": 35
          },
          "product": {
            "description": "Product name of the bank for this account, proprietary definition.",
            "type": "string",
            "maxLength": 35
          },
          "cashAccountType": {
            "$ref": "#/components/schemas/cashAccountType"
          },
          "status": {
            "$ref": "#/components/schemas/accountStatus"
          },
          "bic": {
            "$ref": "#/components/schemas/bicfi"
          },
          "linkedAccounts": {
            "description": "Case of a set of pending card transactions, the APSP will provide the relevant cash account the card is set up on.",
            "type": "string",
            "maxLength": 70
          },
          "usage": {
            "description": "Specifies the usage of the account\n  * PRIV: private personal account\n  * ORGA: professional account\n",
            "type": "string",
            "maxLength": 4,
            "enum": [
              "PRIV",
              "ORGA"
            ]
          },
          "details": {
            "description": "Specifications that might be provided by the ASPSP\n  - characteristics of the account\n  - characteristics of the relevant card\n",
            "type": "string",
            "maxLength": 140
          },
          "balances": {
            "$ref": "#/components/schemas/balanceList"
          },
          "_links": {
            "$ref": "#/components/schemas/_linksAccountDetails"
          }
        }
      },
      "accountList": {
        "description": "List of accounts with details.\n",
        "type": "object",
        "required": [
          "accounts"
        ],
        "properties": {
          "accounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/accountDetails"
            }
          }
        }
      },
      "accountReport": {
        "description": "JSON based account report.\nThis account report contains transactions resulting from the query parameters.\n\n'booked' shall be contained if bookingStatus parameter is set to \"booked\" or \"both\".\n\n'pending' is not contained if the bookingStatus parameter is set to \"booked\".\n",
        "type": "object",
        "required": [
          "_links"
        ],
        "properties": {
          "booked": {
            "$ref": "#/components/schemas/transactionList"
          },
          "pending": {
            "$ref": "#/components/schemas/transactionList"
          },
          "_links": {
            "$ref": "#/components/schemas/_linksAccountReport"
          }
        }
      },
      "transactionList": {
        "description": "Array of transaction details",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/transactionDetails"
        }
      },
      "transactionDetails": {
        "description": "Transaction details",
        "type": "object",
        "required": [
          "transactionAmount"
        ],
        "properties": {
          "transactionId": {
            "description": "the Transaction Id can be used as access-ID in the API, where more details on an transaction is offered. \nIf this data attribute is provided this shows that the AIS can get access on more details about this \ntransaction using the GET Transaction Details Request \n",
            "type": "string"
          },
          "entryReference": {
            "description": "Is the identification of the transaction as used e.g. for reference for deltafunction on application level. \nThe same identification as for example used within camt.05x messages.\n",
            "type": "string",
            "maxLength": 35
          },
          "endToEndId": {
            "description": "Unique end to end identity.",
            "type": "string",
            "maxLength": 35
          },
          "mandateId": {
            "description": "Identification of Mandates, e.g. a SEPA Mandate ID.",
            "type": "string",
            "maxLength": 35
          },
          "checkId": {
            "description": "Identification of a Cheque.",
            "type": "string",
            "maxLength": 35
          },
          "creditorId": {
            "description": "Identification of Creditors, e.g. a SEPA Creditor ID.",
            "type": "string",
            "maxLength": 35
          },
          "bookingDate": {
            "$ref": "#/components/schemas/bookingDate"
          },
          "valueDate": {
            "description": "The Date at which assets become available to the account owner in case of a credit.",
            "type": "string",
            "format": "date"
          },
          "transactionAmount": {
            "$ref": "#/components/schemas/amount"
          },
          "currencyExchange": {
            "$ref": "#/components/schemas/reportExchangeRateList"
          },
          "creditorName": {
            "$ref": "#/components/schemas/creditorName"
          },
          "creditorAccount": {
            "$ref": "#/components/schemas/accountReference"
          },
          "ultimateCreditor": {
            "$ref": "#/components/schemas/ultimateCreditor"
          },
          "debtorName": {
            "$ref": "#/components/schemas/debtorName"
          },
          "debtorAccount": {
            "$ref": "#/components/schemas/accountReference"
          },
          "ultimateDebtor": {
            "$ref": "#/components/schemas/ultimateDebtor"
          },
          "remittanceInformationUnstructured": {
            "$ref": "#/components/schemas/remittanceInformationUnstructured"
          },
          "remittanceInformationStructured": {
            "description": "Reference as contained in the structured remittance reference structure (without the surrounding XML structure).\n\nDifferent from other places the content is containt in plain form not in form of a structered field.\n",
            "type": "string",
            "maxLength": 140
          },
          "additionalInformation": {
            "description": "Might be used by the ASPSP to transport additional transaction related information to the PSU.\n",
            "type": "string",
            "maxLength": 512
          },
          "purposeCode": {
            "$ref": "#/components/schemas/purposeCode"
          },
          "bankTransactionCode": {
            "$ref": "#/components/schemas/bankTransactionCode"
          },
          "proprietaryBankTransactionCode": {
            "$ref": "#/components/schemas/proprietaryBankTransactionCode"
          },
          "_links": {
            "$ref": "#/components/schemas/_linksTransactionDetails"
          }
        }
      },
      "reportExchangeRateList": {
        "description": "Array of exchange rates",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/reportExchangeRate"
        }
      },
      "reportExchangeRate": {
        "description": "Exchange Rate",
        "type": "object",
        "required": [
          "sourceCurrency",
          "exchangeRate",
          "unitCurrency",
          "targetCurrency",
          "quotationDate"
        ],
        "properties": {
          "sourceCurrency": {
            "$ref": "#/components/schemas/currencyCode"
          },
          "exchangeRate": {
            "type": "string"
          },
          "unitCurrency": {
            "type": "string"
          },
          "targetCurrency": {
            "$ref": "#/components/schemas/currencyCode"
          },
          "quotationDate": {
            "type": "string",
            "format": "date"
          },
          "contractIdentification": {
            "type": "string"
          }
        }
      },
      "balance": {
        "description": "A single balance element\n",
        "type": "object",
        "required": [
          "balanceAmount",
          "balanceType"
        ],
        "properties": {
          "balanceAmount": {
            "$ref": "#/components/schemas/amount"
          },
          "balanceType": {
            "$ref": "#/components/schemas/balanceType"
          },
          "lastChangeDateTime": {
            "description": "This data element might be used to indicate e.g. with the expected or booked balance that no action is known \non the account, which is not yet booked.\n",
            "type": "string",
            "format": "date-time"
          },
          "referenceDate": {
            "description": "Reference date of the balance",
            "type": "string",
            "format": "date"
          },
          "lastCommittedTransaction": {
            "description": "\"entryReference\" of the last commited transaction to support the TPP in identifying whether all \nPSU transactions are already known.\n",
            "type": "string",
            "maxLength": 35
          }
        }
      },
      "balanceList": {
        "description": "A list of balances regarding this account, e.g. the current balance, the last booked balance.\nThe list migght be restricted to the current ballance.\n",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/balance"
        }
      },
      "bicfi": {
        "description": "BICFI\n",
        "type": "string",
        "pattern": "[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}",
        "example": "AAAADEBBXXX"
      },
      "pan": {
        "description": "Primary Account Number according to ISO/IEC 7812.\n",
        "type": "string",
        "maxLength": 35,
        "example": "5409050000000000"
      },
      "maskedPan": {
        "description": "Masked Primary Account Number\n",
        "type": "string",
        "maxLength": 35,
        "example": "123456xxxxxx1234"
      },
      "bban": {
        "description": "Basic Bank Account Number (BBAN) Identifier\n\nThis data element can be used in the body of the Consent Request\n  Message for retrieving Account access Consent from this Account. This\n  data elements is used for payment Accounts which have no IBAN.\n  ISO20022: Basic Bank Account Number (BBAN). \n  \n  Identifier used nationally by financial institutions, i.e., in individual countries, \n  generally as part of a National Account Numbering Scheme(s), \n  which uniquely identifies the account of a customer.\n",
        "type": "string",
        "pattern": "[a-zA-Z0-9]{1,30}",
        "example": "BARC12345612345678"
      },
      "msisdn": {
        "type": "string",
        "maxLength": 35,
        "description": "Mobile phone number.",
        "example": "+49 170 1234567"
      },
      "iban": {
        "type": "string",
        "description": "IBAN of an account",
        "pattern": "[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}",
        "example": "FR7612345987650123456789014"
      },
      "amount": {
        "type": "object",
        "required": [
          "currency",
          "amount"
        ],
        "properties": {
          "currency": {
            "$ref": "#/components/schemas/currencyCode"
          },
          "amount": {
            "$ref": "#/components/schemas/amountValue"
          }
        },
        "example": {
          "currency": "EUR",
          "amount": "123"
        }
      },
      "currencyCode": {
        "description": "ISO 4217 Alpha 3 currency code\n",
        "type": "string",
        "pattern": "[A-Z]{3}",
        "example": "EUR"
      },
      "amountValue": {
        "description": "The amount given with fractional digits, where fractions must be compliant to the currency definition.\nUp to 14 significant figures. Negative amounts are signed by minus.\nThe decimal separator is a dot.\n\n**Example:**\nValid representations for EUR with up to two decimals are:\n\n  * 1056\n  * 5768.2\n  * -1.50\n  * 5877.78\n",
        "type": "string",
        "pattern": "-?[0-9]{1,14}(\\.[0-9]{1,3})?",
        "example": "5877.78"
      },
      "remittanceInformationUnstructured": {
        "description": "Unstructured remittance information\n",
        "type": "string",
        "maxLength": 140,
        "example": "Ref Number Merchant"
      },
      "purposeCode": {
        "description": "ExternalPurpose1Code from ISO 20022.\n\nValues from ISO 20022 External Code List ExternalCodeSets_1Q2018 June 2018.\n",
        "type": "string",
        "enum": [
          "BKDF",
          "BKFE",
          "BKFM",
          "BKIP",
          "BKPP",
          "CBLK",
          "CDCB",
          "CDCD",
          "CDCS",
          "CDDP",
          "CDOC",
          "CDQC",
          "ETUP",
          "FCOL",
          "MTUP",
          "ACCT",
          "CASH",
          "COLL",
          "CSDB",
          "DEPT",
          "INTC",
          "LIMA",
          "NETT",
          "BFWD",
          "CCIR",
          "CCPC",
          "CCPM",
          "CCSM",
          "CRDS",
          "CRPR",
          "CRSP",
          "CRTL",
          "EQPT",
          "EQUS",
          "EXPT",
          "EXTD",
          "FIXI",
          "FWBC",
          "FWCC",
          "FWSB",
          "FWSC",
          "MARG",
          "MBSB",
          "MBSC",
          "MGCC",
          "MGSC",
          "OCCC",
          "OPBC",
          "OPCC",
          "OPSB",
          "OPSC",
          "OPTN",
          "OTCD",
          "REPO",
          "RPBC",
          "RPCC",
          "RPSB",
          "RPSC",
          "RVPO",
          "SBSC",
          "SCIE",
          "SCIR",
          "SCRP",
          "SHBC",
          "SHCC",
          "SHSL",
          "SLEB",
          "SLOA",
          "SWBC",
          "SWCC",
          "SWPT",
          "SWSB",
          "SWSC",
          "TBAS",
          "TBBC",
          "TBCC",
          "TRCP",
          "AGRT",
          "AREN",
          "BEXP",
          "BOCE",
          "COMC",
          "CPYR",
          "GDDS",
          "GDSV",
          "GSCB",
          "LICF",
          "MP2B",
          "POPE",
          "ROYA",
          "SCVE",
          "SERV",
          "SUBS",
          "SUPP",
          "TRAD",
          "CHAR",
          "COMT",
          "MP2P",
          "ECPG",
          "ECPR",
          "ECPU",
          "EPAY",
          "CLPR",
          "COMP",
          "DBTC",
          "GOVI",
          "HLRP",
          "HLST",
          "INPC",
          "INPR",
          "INSC",
          "INSU",
          "INTE",
          "LBRI",
          "LIFI",
          "LOAN",
          "LOAR",
          "PENO",
          "PPTI",
          "RELG",
          "RINP",
          "TRFD",
          "FORW",
          "FXNT",
          "ADMG",
          "ADVA",
          "BCDM",
          "BCFG",
          "BLDM",
          "BNET",
          "CBFF",
          "CBFR",
          "CCRD",
          "CDBL",
          "CFEE",
          "CGDD",
          "CORT",
          "COST",
          "CPKC",
          "DCRD",
          "DSMT",
          "DVPM",
          "EDUC",
          "FACT",
          "FAND",
          "FCPM",
          "FEES",
          "GOVT",
          "ICCP",
          "IDCP",
          "IHRP",
          "INSM",
          "IVPT",
          "MCDM",
          "MCFG",
          "MSVC",
          "NOWS",
          "OCDM",
          "OCFG",
          "OFEE",
          "OTHR",
          "PADD",
          "PTSP",
          "RCKE",
          "RCPT",
          "REBT",
          "REFU",
          "RENT",
          "REOD",
          "RIMB",
          "RPNT",
          "RRBN",
          "RVPM",
          "SLPI",
          "SPLT",
          "STDY",
          "TBAN",
          "TBIL",
          "TCSC",
          "TELI",
          "TMPG",
          "TPRI",
          "TPRP",
          "TRNC",
          "TRVC",
          "WEBI",
          "ANNI",
          "CAFI",
          "CFDI",
          "CMDT",
          "DERI",
          "DIVD",
          "FREX",
          "HEDG",
          "INVS",
          "PRME",
          "SAVG",
          "SECU",
          "SEPI",
          "TREA",
          "UNIT",
          "FNET",
          "FUTR",
          "ANTS",
          "CVCF",
          "DMEQ",
          "DNTS",
          "HLTC",
          "HLTI",
          "HSPC",
          "ICRF",
          "LTCF",
          "MAFC",
          "MARF",
          "MDCS",
          "VIEW",
          "CDEP",
          "SWFP",
          "SWPP",
          "SWRS",
          "SWUF",
          "ADCS",
          "AEMP",
          "ALLW",
          "ALMY",
          "BBSC",
          "BECH",
          "BENE",
          "BONU",
          "CCHD",
          "COMM",
          "CSLP",
          "GFRP",
          "GVEA",
          "GVEB",
          "GVEC",
          "GVED",
          "GWLT",
          "HREC",
          "PAYR",
          "PEFC",
          "PENS",
          "PRCP",
          "RHBS",
          "SALA",
          "SSBE",
          "LBIN",
          "LCOL",
          "LFEE",
          "LMEQ",
          "LMFI",
          "LMRK",
          "LREB",
          "LREV",
          "LSFL",
          "ESTX",
          "FWLV",
          "GSTX",
          "HSTX",
          "INTX",
          "NITX",
          "PTXP",
          "RDTX",
          "TAXS",
          "VATX",
          "WHLD",
          "TAXR",
          "B112",
          "BR12",
          "TLRF",
          "TLRR",
          "AIRB",
          "BUSB",
          "FERB",
          "RLWY",
          "TRPT",
          "CBTV",
          "ELEC",
          "ENRG",
          "GASB",
          "NWCH",
          "NWCM",
          "OTLC",
          "PHON",
          "UBIL",
          "WTER"
        ]
      },
      "bankTransactionCode": {
        "description": "Bank transaction code as used by the ASPSP and using the sub elements of this structured code defined by ISO 20022. \n\nThis code type is concatenating the three ISO20022 Codes \n  * Domain Code, \n  * Family Code, and \n  * SubFamiliy Code \nby hyphens, resulting in \u00ef\u00bf\u00bdDomainCode\u00ef\u00bf\u00bd-\u00ef\u00bf\u00bdFamilyCode\u00ef\u00bf\u00bd-\u00ef\u00bf\u00bdSubFamilyCode\u00ef\u00bf\u00bd.\n",
        "type": "string",
        "example": "PMNT-RCDT-ESCT"
      },
      "proprietaryBankTransactionCode": {
        "description": "Proprietary bank transaction code as used within a community or within an ASPSP e.g. \nfor MT94x based transaction reports.\n",
        "type": "string",
        "maxLength": 35
      },
      "creditorName": {
        "description": "Creditor Name",
        "type": "string",
        "maxLength": 70,
        "example": "Creditor Name"
      },
      "debtorName": {
        "description": "Debtor Name",
        "type": "string",
        "maxLength": 70,
        "example": "Debtor Name"
      },
      "ultimateDebtor": {
        "description": "Ultimate Debtor",
        "type": "string",
        "maxLength": 70,
        "example": "Ultimate Debtor"
      },
      "ultimateCreditor": {
        "description": "Ultimate Creditor",
        "type": "string",
        "maxLength": 70,
        "example": "Ultimate Creditor"
      },
      "bookingDate": {
        "description": "The Date when an entry is posted to an account on the ASPSPs books.\n",
        "type": "string",
        "format": "date"
      },
      "readAccountBalanceResponse-200": {
        "description": "Body of the response for a successful read balance for an account request.",
        "type": "object",
        "required": [
          "balances"
        ],
        "properties": {
          "account": {
            "$ref": "#/components/schemas/accountReference"
          },
          "balances": {
            "$ref": "#/components/schemas/balanceList"
          }
        }
      },
      "transactionsResponse-200_json": {
        "description": "Body of the JSON response for a successful read transaction list request.\nThis account report contains transactions resulting from the query parameters.\n",
        "type": "object",
        "properties": {
          "account": {
            "$ref": "#/components/schemas/accountReference"
          },
          "transactions": {
            "$ref": "#/components/schemas/accountReport"
          },
          "balances": {
            "$ref": "#/components/schemas/balanceList"
          },
          "_links": {
            "$ref": "#/components/schemas/_linksDownload"
          }
        }
      },
      "_linksAll": {
        "description": "A _link object with all availabel link types\n",
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/hrefType"
        },
        "properties": {
          "scaRedirect": {
            "$ref": "#/components/schemas/hrefType"
          },
          "scaOAuth": {
            "$ref": "#/components/schemas/hrefType"
          },
          "startAuthorisation": {
            "$ref": "#/components/schemas/hrefType"
          },
          "startAuthorisationWithPsuIdentification": {
            "$ref": "#/components/schemas/hrefType"
          },
          "updatePsuIdentification": {
            "$ref": "#/components/schemas/hrefType"
          },
          "startAuthorisationWithProprietaryData": {
            "$ref": "#/components/schemas/hrefType"
          },
          "updateProprietaryData": {
            "$ref": "#/components/schemas/hrefType"
          },
          "startAuthorisationWithPsuAuthentication": {
            "$ref": "#/components/schemas/hrefType"
          },
          "updatePsuAuthentication": {
            "$ref": "#/components/schemas/hrefType"
          },
          "startAuthorisationWithEncryptedPsuAuthentication": {
            "$ref": "#/components/schemas/hrefType"
          },
          "updateEncryptedPsuAuthentication": {
            "$ref": "#/components/schemas/hrefType"
          },
          "startAuthorisationWithAuthenticationMethodSelection": {
            "$ref": "#/components/schemas/hrefType"
          },
          "selectAuthenticationMethod": {
            "$ref": "#/components/schemas/hrefType"
          },
          "startAuthorisationWithTransactionAuthorisation": {
            "$ref": "#/components/schemas/hrefType"
          },
          "authoriseTransaction": {
            "$ref": "#/components/schemas/hrefType"
          },
          "self": {
            "$ref": "#/components/schemas/hrefType"
          },
          "status": {
            "$ref": "#/components/schemas/hrefType"
          },
          "scaStatus": {
            "$ref": "#/components/schemas/hrefType"
          },
          "account": {
            "$ref": "#/components/schemas/hrefType"
          },
          "balances": {
            "$ref": "#/components/schemas/hrefType"
          },
          "transactions": {
            "$ref": "#/components/schemas/hrefType"
          },
          "transactionDetails": {
            "$ref": "#/components/schemas/hrefType"
          },
          "cardAccount": {
            "$ref": "#/components/schemas/hrefType"
          },
          "cardTransactions": {
            "$ref": "#/components/schemas/hrefType"
          },
          "first": {
            "$ref": "#/components/schemas/hrefType"
          },
          "next": {
            "$ref": "#/components/schemas/hrefType"
          },
          "previous": {
            "$ref": "#/components/schemas/hrefType"
          },
          "last": {
            "$ref": "#/components/schemas/hrefType"
          },
          "download": {
            "$ref": "#/components/schemas/hrefType"
          }
        }
      },
      "_linksDownload": {
        "description": "A list of hyperlinks to be recognised by the TPP.\n\nType of links admitted in this response:\n  - \"download\": a link to a resource, where the transaction report might be downloaded from in \n  case where transaction reports have a huge size.\n\nRemark: This feature shall only be used where camt-data is requested which has a huge size.\n",
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/hrefType"
        },
        "required": [
          "download"
        ],
        "properties": {
          "download": {
            "$ref": "#/components/schemas/hrefType"
          }
        }
      },
      "_linksAccountReport": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/hrefType"
        },
        "required": [
          "account"
        ],
        "properties": {
          "account": {
            "$ref": "#/components/schemas/hrefType"
          },
          "first": {
            "$ref": "#/components/schemas/hrefType"
          },
          "next": {
            "$ref": "#/components/schemas/hrefType"
          },
          "previous": {
            "$ref": "#/components/schemas/hrefType"
          },
          "last": {
            "$ref": "#/components/schemas/hrefType"
          }
        }
      },
      "_linksTransactionDetails": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/hrefType"
        },
        "required": [
          "transactionDetails"
        ],
        "properties": {
          "transactionDetails": {
            "$ref": "#/components/schemas/hrefType"
          }
        }
      },
      "_linksAccountDetails": {
        "description": "Links to the account, which can be directly used for retrieving account information from this dedicated account.\n\nLinks to \"balances\" and/or \"transactions\"\n\nThese links are only supported, when the corresponding consent has been already granted.\n",
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/hrefType"
        },
        "properties": {
          "balances": {
            "$ref": "#/components/schemas/hrefType"
          },
          "transactions": {
            "$ref": "#/components/schemas/hrefType"
          }
        }
      },
      "tppMessageCategory": {
        "description": "Category of the TPP message category",
        "type": "string",
        "enum": [
          "ERROR",
          "WARNING"
        ]
      },
      "MessageCode400_AIS": {
        "description": "Message codes defined for AIS for HTTP Error code 400 (BAD_REQUEST).",
        "type": "string",
        "enum": [
          "FORMAT_ERROR",
          "PARAMETER_NOT_CONSISTENT",
          "PARAMETER_NOT_SUPPORTED",
          "SERVICE_INVALID",
          "RESOURCE_UNKNOWN",
          "RESOURCE_EXPIRED",
          "RESOURCE_BLOCKED",
          "TIMESTAMP_INVALID",
          "PERIOD_INVALID",
          "SCA_METHOD_UNKNOWN",
          "CONSENT_UNKNOWN",
          "SESSIONS_NOT_SUPPORTED"
        ]
      },
      "MessageCode401_AIS": {
        "description": "Message codes defined for AIS for HTTP Error code 401 (UNAUTHORIZED).",
        "type": "string",
        "enum": [
          "CERTIFICATE_INVALID",
          "CERTIFICATE_EXPIRED",
          "CERTIFICATE_BLOCKED",
          "CERTIFICATE_REVOKE",
          "CERTIFICATE_MISSING",
          "SIGNATURE_INVALID",
          "SIGNATURE_MISSING",
          "CORPORATE_ID_INVALID",
          "PSU_CREDENTIALS_INVALID",
          "CONSENT_INVALID",
          "CONSENT_EXPIRED",
          "TOKEN_UNKNOWN",
          "TOKEN_INVALID",
          "TOKEN_EXPIRED"
        ]
      },
      "MessageCode403_AIS": {
        "description": "Message codes defined for AIS for HTTP Error code 403 (FORBIDDEN).",
        "type": "string",
        "enum": [
          "CONSENT_UNKNOWN",
          "SERVICE_BLOCKED",
          "RESOURCE_UNKNOWN",
          "RESOURCE_EXPIRED"
        ]
      },
      "MessageCode404_AIS": {
        "description": "Message codes defined for AIS for HTTP Error code 404 (NOT FOUND).",
        "type": "string",
        "enum": [
          "RESOURCE_UNKNOWN"
        ]
      },
      "MessageCode405_AIS": {
        "description": "Message codes defined for AIS for HTTP Error code 405 (METHOD NOT ALLOWED).",
        "type": "string",
        "enum": [
          "SERVICE_INVALID"
        ]
      },
      "MessageCode406_AIS": {
        "description": "Message codes defined for AIS for HTTP Error code 406 (NOT ACCEPTABLE).",
        "type": "string",
        "enum": [
          "REQUESTED_FORMATS_INVALID"
        ]
      },
      "MessageCode409_AIS": {
        "description": "Message codes defined for AIS for HTTP Error code 409 (CONFLICT).",
        "type": "string",
        "enum": [
          "STATUS_INVALID"
        ]
      },
      "MessageCode429_AIS": {
        "description": "Message codes for HTTP Error code 429 (TOO MANY REQUESTS).",
        "type": "string",
        "enum": [
          "ACCESS_EXCEEDED"
        ]
      },
      "tppMessageText": {
        "description": "Additional explaining text to the TPP.",
        "type": "string",
        "maxLength": 512
      },
      "tppMessage400_AIS": {
        "type": "object",
        "required": [
          "category",
          "code"
        ],
        "properties": {
          "category": {
            "$ref": "#/components/schemas/tppMessageCategory"
          },
          "code": {
            "$ref": "#/components/schemas/MessageCode400_AIS"
          },
          "path": {
            "type": "string"
          },
          "text": {
            "$ref": "#/components/schemas/tppMessageText"
          }
        }
      },
      "tppMessage401_AIS": {
        "type": "object",
        "required": [
          "category",
          "code"
        ],
        "properties": {
          "category": {
            "$ref": "#/components/schemas/tppMessageCategory"
          },
          "code": {
            "$ref": "#/components/schemas/MessageCode401_AIS"
          },
          "path": {
            "type": "string"
          },
          "text": {
            "$ref": "#/components/schemas/tppMessageText"
          }
        }
      },
      "tppMessage403_AIS": {
        "type": "object",
        "required": [
          "category",
          "code"
        ],
        "properties": {
          "category": {
            "$ref": "#/components/schemas/tppMessageCategory"
          },
          "code": {
            "$ref": "#/components/schemas/MessageCode403_AIS"
          },
          "path": {
            "type": "string"
          },
          "text": {
            "$ref": "#/components/schemas/tppMessageText"
          }
        }
      },
      "tppMessage404_AIS": {
        "type": "object",
        "required": [
          "category",
          "code"
        ],
        "properties": {
          "category": {
            "$ref": "#/components/schemas/tppMessageCategory"
          },
          "code": {
            "$ref": "#/components/schemas/MessageCode404_AIS"
          },
          "path": {
            "type": "string"
          },
          "text": {
            "$ref": "#/components/schemas/tppMessageText"
          }
        }
      },
      "tppMessage405_AIS": {
        "type": "object",
        "required": [
          "category",
          "code"
        ],
        "properties": {
          "category": {
            "$ref": "#/components/schemas/tppMessageCategory"
          },
          "code": {
            "$ref": "#/components/schemas/MessageCode405_AIS"
          },
          "path": {
            "type": "string"
          },
          "text": {
            "$ref": "#/components/schemas/tppMessageText"
          }
        }
      },
      "tppMessage406_AIS": {
        "type": "object",
        "required": [
          "category",
          "code"
        ],
        "properties": {
          "category": {
            "$ref": "#/components/schemas/tppMessageCategory"
          },
          "code": {
            "$ref": "#/components/schemas/MessageCode406_AIS"
          },
          "path": {
            "type": "string"
          },
          "text": {
            "$ref": "#/components/schemas/tppMessageText"
          }
        }
      },
      "tppMessage409_AIS": {
        "type": "object",
        "required": [
          "category",
          "code"
        ],
        "properties": {
          "category": {
            "$ref": "#/components/schemas/tppMessageCategory"
          },
          "code": {
            "$ref": "#/components/schemas/MessageCode409_AIS"
          },
          "path": {
            "type": "string"
          },
          "text": {
            "$ref": "#/components/schemas/tppMessageText"
          }
        }
      },
      "tppMessage429_AIS": {
        "type": "object",
        "required": [
          "category",
          "code"
        ],
        "properties": {
          "category": {
            "$ref": "#/components/schemas/tppMessageCategory"
          },
          "code": {
            "$ref": "#/components/schemas/MessageCode429_AIS"
          },
          "path": {
            "type": "string"
          },
          "text": {
            "$ref": "#/components/schemas/tppMessageText"
          }
        }
      },
      "tppErrorTitle": {
        "description": "Short human readable description of error type. \nCould be in local language. \nTo be provided by ASPSPs.\n",
        "type": "string",
        "maxLength": 70
      },
      "tppErrorDetail": {
        "description": "Detailed human readable text specific to this instance of the error. \nXPath might be used to point to the issue generating the error in addition.\nRemark for Future: In future, a dedicated field might be introduced for the XPath.\n",
        "type": "string",
        "maxLength": 512
      },
      "Error400_AIS": {
        "description": "Standardised definition of reporting error information according to [RFC7807] \nin case of a HTTP error code 400 for AIS.\n",
        "type": "object",
        "required": [
          "type",
          "code"
        ],
        "properties": {
          "type": {
            "description": "A URI reference [RFC3986] that identifies the problem type. \nRemark For Future: These URI will be provided by NextGenPSD2 in future.\n",
            "type": "string",
            "format": "uri",
            "maxLength": 70
          },
          "title": {
            "description": "Short human readable description of error type. \nCould be in local language. \nTo be provided by ASPSPs.\n",
            "type": "string",
            "maxLength": 70
          },
          "detail": {
            "description": "Detailed human readable text specific to this instance of the error. \nXPath might be used to point to the issue generating the error in addition.\nRemark for Future: In future, a dedicated field might be introduced for the XPath.\n",
            "type": "string",
            "maxLength": 512
          },
          "code": {
            "$ref": "#/components/schemas/MessageCode400_AIS"
          },
          "additionalErrors": {
            "description": "Array of Error Information Blocks.\n\nMight be used if more than one error is to be communicated\n",
            "type": "array",
            "items": {
              "description": "This is a data element to support the declaration of additional errors in the context of [RFC7807].",
              "type": "object",
              "required": [
                "code"
              ],
              "properties": {
                "title": {
                  "$ref": "#/components/schemas/tppErrorTitle"
                },
                "detail": {
                  "$ref": "#/components/schemas/tppErrorDetail"
                },
                "code": {
                  "$ref": "#/components/schemas/MessageCode400_AIS"
                }
              }
            }
          },
          "_links": {
            "$ref": "#/components/schemas/_linksAll"
          }
        }
      },
      "Error401_AIS": {
        "description": "Standardised definition of reporting error information according to [RFC7807] \nin case of a HTTP error code 401 for AIS.\n",
        "type": "object",
        "required": [
          "type",
          "code"
        ],
        "properties": {
          "type": {
            "description": "A URI reference [RFC3986] that identifies the problem type. \nRemark For Future: These URI will be provided by NextGenPSD2 in future.\n",
            "type": "string",
            "format": "uri",
            "maxLength": 70
          },
          "title": {
            "description": "Short human readable description of error type. \nCould be in local language. \nTo be provided by ASPSPs.\n",
            "type": "string",
            "maxLength": 70
          },
          "detail": {
            "description": "Detailed human readable text specific to this instance of the error. \nXPath might be used to point to the issue generating the error in addition.\nRemark for Future: In future, a dedicated field might be introduced for the XPath.\n",
            "type": "string",
            "maxLength": 512
          },
          "code": {
            "$ref": "#/components/schemas/MessageCode401_AIS"
          },
          "additionalErrors": {
            "description": "Array of Error Information Blocks.\n\nMight be used if more than one error is to be communicated\n",
            "type": "array",
            "items": {
              "description": "This is a data element to support the declaration of additional errors in the context of [RFC7807].",
              "type": "object",
              "required": [
                "code"
              ],
              "properties": {
                "title": {
                  "$ref": "#/components/schemas/tppErrorTitle"
                },
                "detail": {
                  "$ref": "#/components/schemas/tppErrorDetail"
                },
                "code": {
                  "$ref": "#/components/schemas/MessageCode401_AIS"
                }
              }
            }
          },
          "_links": {
            "$ref": "#/components/schemas/_linksAll"
          }
        }
      },
      "Error403_AIS": {
        "description": "Standardised definition of reporting error information according to [RFC7807] \nin case of a HTTP error code 403 for AIS.\n",
        "type": "object",
        "required": [
          "type",
          "code"
        ],
        "properties": {
          "type": {
            "description": "A URI reference [RFC3986] that identifies the problem type. \nRemark For Future: These URI will be provided by NextGenPSD2 in future.\n",
            "type": "string",
            "format": "uri",
            "maxLength": 70
          },
          "title": {
            "description": "Short human readable description of error type. \nCould be in local language. \nTo be provided by ASPSPs.\n",
            "type": "string",
            "maxLength": 70
          },
          "detail": {
            "description": "Detailed human readable text specific to this instance of the error. \nXPath might be used to point to the issue generating the error in addition.\nRemark for Future: In future, a dedicated field might be introduced for the XPath.\n",
            "type": "string",
            "maxLength": 512
          },
          "code": {
            "$ref": "#/components/schemas/MessageCode403_AIS"
          },
          "additionalErrors": {
            "description": "Array of Error Information Blocks.\n\nMight be used if more than one error is to be communicated\n",
            "type": "array",
            "items": {
              "description": "This is a data element to support the declaration of additional errors in the context of [RFC7807].",
              "type": "object",
              "required": [
                "code"
              ],
              "properties": {
                "title": {
                  "$ref": "#/components/schemas/tppErrorTitle"
                },
                "detail": {
                  "$ref": "#/components/schemas/tppErrorDetail"
                },
                "code": {
                  "$ref": "#/components/schemas/MessageCode403_AIS"
                }
              }
            }
          },
          "_links": {
            "$ref": "#/components/schemas/_linksAll"
          }
        }
      },
      "Error404_AIS": {
        "description": "Standardised definition of reporting error information according to [RFC7807] \nin case of a HTTP error code 404 for AIS.\n",
        "type": "object",
        "required": [
          "type",
          "code"
        ],
        "properties": {
          "type": {
            "description": "A URI reference [RFC3986] that identifies the problem type. \nRemark For Future: These URI will be provided by NextGenPSD2 in future.\n",
            "type": "string",
            "format": "uri",
            "maxLength": 70
          },
          "title": {
            "description": "Short human readable description of error type. \nCould be in local language. \nTo be provided by ASPSPs.\n",
            "type": "string",
            "maxLength": 70
          },
          "detail": {
            "description": "Detailed human readable text specific to this instance of the error. \nXPath might be used to point to the issue generating the error in addition.\nRemark for Future: In future, a dedicated field might be introduced for the XPath.\n",
            "type": "string",
            "maxLength": 512
          },
          "code": {
            "$ref": "#/components/schemas/MessageCode404_AIS"
          },
          "additionalErrors": {
            "description": "Array of Error Information Blocks.\n\nMight be used if more than one error is to be communicated\n",
            "type": "array",
            "items": {
              "description": "This is a data element to support the declaration of additional errors in the context of [RFC7807].",
              "type": "object",
              "required": [
                "code"
              ],
              "properties": {
                "title": {
                  "$ref": "#/components/schemas/tppErrorTitle"
                },
                "detail": {
                  "$ref": "#/components/schemas/tppErrorDetail"
                },
                "code": {
                  "$ref": "#/components/schemas/MessageCode404_AIS"
                }
              }
            }
          },
          "_links": {
            "$ref": "#/components/schemas/_linksAll"
          }
        }
      },
      "Error405_AIS": {
        "description": "Standardised definition of reporting error information according to [RFC7807] \nin case of a HTTP error code 405 for AIS.\n",
        "type": "object",
        "required": [
          "type",
          "code"
        ],
        "properties": {
          "type": {
            "description": "A URI reference [RFC3986] that identifies the problem type. \nRemark For Future: These URI will be provided by NextGenPSD2 in future.\n",
            "type": "string",
            "format": "uri",
            "maxLength": 70
          },
          "title": {
            "description": "Short human readable description of error type. \nCould be in local language. \nTo be provided by ASPSPs.\n",
            "type": "string",
            "maxLength": 70
          },
          "detail": {
            "description": "Detailed human readable text specific to this instance of the error. \nXPath might be used to point to the issue generating the error in addition.\nRemark for Future: In future, a dedicated field might be introduced for the XPath.\n",
            "type": "string",
            "maxLength": 512
          },
          "code": {
            "$ref": "#/components/schemas/MessageCode405_AIS"
          },
          "additionalErrors": {
            "description": "Array of Error Information Blocks.\n\nMight be used if more than one error is to be communicated\n",
            "type": "array",
            "items": {
              "description": "This is a data element to support the declaration of additional errors in the context of [RFC7807].",
              "type": "object",
              "required": [
                "code"
              ],
              "properties": {
                "title": {
                  "$ref": "#/components/schemas/tppErrorTitle"
                },
                "detail": {
                  "$ref": "#/components/schemas/tppErrorDetail"
                },
                "code": {
                  "$ref": "#/components/schemas/MessageCode405_AIS"
                }
              }
            }
          },
          "_links": {
            "$ref": "#/components/schemas/_linksAll"
          }
        }
      },
      "Error406_AIS": {
        "description": "Standardised definition of reporting error information according to [RFC7807] \nin case of a HTTP error code 406 for AIS.\n",
        "type": "object",
        "required": [
          "type",
          "code"
        ],
        "properties": {
          "type": {
            "description": "A URI reference [RFC3986] that identifies the problem type. \nRemark For Future: These URI will be provided by NextGenPSD2 in future.\n",
            "type": "string",
            "format": "uri",
            "maxLength": 70
          },
          "title": {
            "description": "Short human readable description of error type. \nCould be in local language. \nTo be provided by ASPSPs.\n",
            "type": "string",
            "maxLength": 70
          },
          "detail": {
            "description": "Detailed human readable text specific to this instance of the error. \nXPath might be used to point to the issue generating the error in addition.\nRemark for Future: In future, a dedicated field might be introduced for the XPath.\n",
            "type": "string",
            "maxLength": 512
          },
          "code": {
            "$ref": "#/components/schemas/MessageCode406_AIS"
          },
          "additionalErrors": {
            "description": "Array of Error Information Blocks.\n\nMight be used if more than one error is to be communicated\n",
            "type": "array",
            "items": {
              "description": "This is a data element to support the declaration of additional errors in the context of [RFC7807].",
              "type": "object",
              "required": [
                "code"
              ],
              "properties": {
                "title": {
                  "$ref": "#/components/schemas/tppErrorTitle"
                },
                "detail": {
                  "$ref": "#/components/schemas/tppErrorDetail"
                },
                "code": {
                  "$ref": "#/components/schemas/MessageCode406_AIS"
                }
              }
            }
          },
          "_links": {
            "$ref": "#/components/schemas/_linksAll"
          }
        }
      },
      "Error409_AIS": {
        "description": "Standardised definition of reporting error information according to [RFC7807] \nin case of a HTTP error code 409 for AIS.\n",
        "type": "object",
        "required": [
          "type",
          "code"
        ],
        "properties": {
          "type": {
            "description": "A URI reference [RFC3986] that identifies the problem type. \nRemark For Future: These URI will be provided by NextGenPSD2 in future.\n",
            "type": "string",
            "format": "uri",
            "maxLength": 70
          },
          "title": {
            "description": "Short human readable description of error type. \nCould be in local language. \nTo be provided by ASPSPs.\n",
            "type": "string",
            "maxLength": 70
          },
          "detail": {
            "description": "Detailed human readable text specific to this instance of the error. \nXPath might be used to point to the issue generating the error in addition.\nRemark for Future: In future, a dedicated field might be introduced for the XPath.\n",
            "type": "string",
            "maxLength": 512
          },
          "code": {
            "$ref": "#/components/schemas/MessageCode409_AIS"
          },
          "additionalErrors": {
            "description": "Array of Error Information Blocks.\n\nMight be used if more than one error is to be communicated\n",
            "type": "array",
            "items": {
              "description": "This is a data element to support the declaration of additional errors in the context of [RFC7807].",
              "type": "object",
              "required": [
                "code"
              ],
              "properties": {
                "title": {
                  "$ref": "#/components/schemas/tppErrorTitle"
                },
                "detail": {
                  "$ref": "#/components/schemas/tppErrorDetail"
                },
                "code": {
                  "$ref": "#/components/schemas/MessageCode409_AIS"
                }
              }
            }
          },
          "_links": {
            "$ref": "#/components/schemas/_linksAll"
          }
        }
      },
      "Error429_AIS": {
        "description": "Standardised definition of reporting error information according to [RFC7807] \nin case of a HTTP error code 429 for AIS.\n",
        "type": "object",
        "required": [
          "type",
          "code"
        ],
        "properties": {
          "type": {
            "description": "A URI reference [RFC3986] that identifies the problem type. \nRemark For Future: These URI will be provided by NextGenPSD2 in future.\n",
            "type": "string",
            "format": "uri",
            "maxLength": 70
          },
          "title": {
            "description": "Short human readable description of error type. \nCould be in local language. \nTo be provided by ASPSPs.\n",
            "type": "string",
            "maxLength": 70
          },
          "detail": {
            "description": "Detailed human readable text specific to this instance of the error. \nXPath might be used to point to the issue generating the error in addition.\nRemark for Future: In future, a dedicated field might be introduced for the XPath.\n",
            "type": "string",
            "maxLength": 512
          },
          "code": {
            "$ref": "#/components/schemas/MessageCode429_AIS"
          },
          "additionalErrors": {
            "description": "Array of Error Information Blocks.\n\nMight be used if more than one error is to be communicated\n",
            "type": "array",
            "items": {
              "description": "This is a data element to support the declaration of additional errors in the context of [RFC7807] \nin case of a HTTP error code 429 for. \n",
              "type": "object",
              "required": [
                "code"
              ],
              "properties": {
                "title": {
                  "$ref": "#/components/schemas/tppErrorTitle"
                },
                "detail": {
                  "$ref": "#/components/schemas/tppErrorDetail"
                },
                "code": {
                  "$ref": "#/components/schemas/MessageCode429_AIS"
                }
              }
            }
          },
          "_links": {
            "$ref": "#/components/schemas/_linksAll"
          }
        }
      },
      "Error400_NG_AIS": {
        "description": "NextGenPSD2 specific definition of reporting error information in case of a HTTP error code 400.\n",
        "type": "object",
        "properties": {
          "tppMessages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/tppMessage400_AIS"
            }
          },
          "_links": {
            "$ref": "#/components/schemas/_linksAll"
          }
        }
      },
      "Error401_NG_AIS": {
        "description": "NextGenPSD2 specific definition of reporting error information in case of a HTTP error code 401.\n",
        "type": "object",
        "properties": {
          "tppMessages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/tppMessage401_AIS"
            }
          },
          "_links": {
            "$ref": "#/components/schemas/_linksAll"
          }
        }
      },
      "Error403_NG_AIS": {
        "description": "NextGenPSD2 specific definition of reporting error information in case of a HTTP error code 403.\n",
        "type": "object",
        "properties": {
          "tppMessages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/tppMessage403_AIS"
            }
          },
          "_links": {
            "$ref": "#/components/schemas/_linksAll"
          }
        }
      },
      "Error404_NG_AIS": {
        "description": "NextGenPSD2 specific definition of reporting error information in case of a HTTP error code 404.\n",
        "type": "object",
        "properties": {
          "tppMessages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/tppMessage404_AIS"
            }
          },
          "_links": {
            "$ref": "#/components/schemas/_linksAll"
          }
        }
      },
      "Error405_NG_AIS": {
        "description": "NextGenPSD2 specific definition of reporting error information in case of a HTTP error code 401.\n",
        "type": "object",
        "properties": {
          "tppMessages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/tppMessage405_AIS"
            }
          },
          "_links": {
            "$ref": "#/components/schemas/_linksAll"
          }
        }
      },
      "Error406_NG_AIS": {
        "description": "NextGenPSD2 specific definition of reporting error information in case of a HTTP error code 406.\n",
        "type": "object",
        "properties": {
          "tppMessages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/tppMessage406_AIS"
            }
          },
          "_links": {
            "$ref": "#/components/schemas/_linksAll"
          }
        }
      },
      "Error409_NG_AIS": {
        "description": "NextGenPSD2 specific definition of reporting error information in case of a HTTP error code 409.\n",
        "type": "object",
        "properties": {
          "tppMessages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/tppMessage409_AIS"
            }
          },
          "_links": {
            "$ref": "#/components/schemas/_linksAll"
          }
        },
        "example": [
          {
            "category": "ERROR",
            "code": "STATUS_INVALID",
            "text": "additional text information of the ASPSP up to 512 characters"
          }
        ]
      },
      "Error429_NG_AIS": {
        "description": "NextGenPSD2 specific definition of reporting error information in case of a HTTP error code 429.\n",
        "type": "object",
        "properties": {
          "tppMessages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/tppMessage429_AIS"
            }
          },
          "_links": {
            "$ref": "#/components/schemas/_linksAll"
          }
        },
        "example": [
          {
            "category": "ERROR",
            "code": "ACCESS_EXCEEDED",
            "text": "additional text information of the ASPSP up to 512 characters"
          }
        ]
      }
    },
    "parameters": {
      "accountId": {
        "name": "account-id",
        "in": "path",
        "description": "This identification is denoting the addressed account. \nThe account-id is retrieved by using a \"Read Account List\" call. \nThe account-id is the \"id\" attribute of the account structure. \nIts value is constant at least throughout the lifecycle of a given consent.\n",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/accountId"
        }
      },
      "transactionId": {
        "name": "transactionId",
        "in": "path",
        "description": "This identification is given by the attribute transactionId of the corresponding entry of a transaction list.\n",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/transactionId"
        }
      },
      "consentId_HEADER_optional": {
        "name": "Consent-ID",
        "in": "header",
        "description": "This data element may be contained, if the payment initiation transaction is part of a session, i.e. combined AIS/PIS service.\nThis then contains the consentId of the related AIS consent, which was performed prior to this payment initiation.\n",
        "required": false,
        "schema": {
          "$ref": "#/components/schemas/consentId"
        }
      },
      "consentId_HEADER_mandatory": {
        "name": "Consent-ID",
        "in": "header",
        "description": "This then contains the consentId of the related AIS consent, which was performed prior to this payment initiation.\n",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/consentId"
        }
      },
      "withBalanceQuery": {
        "name": "withBalance",
        "in": "query",
        "description": "If contained, this function reads the list of accessible payment accounts including the booking balance, \nif granted by the PSU in the related consent and available by the ASPSP. \nThis parameter might be ignored by the ASPSP. \n",
        "required": false,
        "schema": {
          "type": "boolean"
        }
      },
      "dateFrom": {
        "name": "dateFrom",
        "in": "query",
        "description": "Conditional: Starting date (inclusive the date dateFrom) of the transaction list, mandated if no delta access is required.\n\nFor booked transactions, the relevant date is the booking date. \n\nFor pending transactions, the relevant date is the entry date, which may not be transparent \nneither in this API nor other channels of the ASPSP.\n",
        "required": false,
        "schema": {
          "type": "string",
          "format": "date"
        }
      },
      "dateTo": {
        "name": "dateTo",
        "in": "query",
        "description": "End date (inclusive the data dateTo) of the transaction list, default is \"now\" if not given. \n\nMight be ignored if a delta function is used.\n\nFor booked transactions, the relevant date is the booking date. \n\nFor pending transactions, the relevant date is the entry date, which may not be transparent \nneither in this API nor other channels of the ASPSP.\n",
        "required": false,
        "schema": {
          "type": "string",
          "format": "date"
        }
      },
      "entryReferenceFrom": {
        "name": "entryReferenceFrom",
        "in": "query",
        "description": "This data attribute is indicating that the AISP is in favour to get all transactions after \nthe transaction with identification entryReferenceFrom alternatively to the above defined period. \nThis is a implementation of a delta access. \nIf this data element is contained, the entries \"dateFrom\" and \"dateTo\" might be ignored by the ASPSP \nif a delta report is supported.\n\nOptional if supported by API provider.\n",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "bookingStatus": {
        "name": "bookingStatus",
        "in": "query",
        "description": "Permitted codes are \n  * \"booked\",\n  * \"pending\" and \n  * \"both\"\n\"booked\" shall be supported by the ASPSP.\nTo support the \"pending\" and \"both\" feature is optional for the ASPSP, \nError code if not supported in the online banking frontend\n",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "booked",
            "pending",
            "both"
          ]
        }
      },
      "deltaList": {
        "name": "deltaList",
        "in": "query",
        "description": "This data attribute is indicating that the AISP is in favour to get all transactions after the last report access for this PSU on the addressed account. This is another implementation of a delta access-report.\nThis delta indicator might be rejected by the ASPSP if this function is not supported.\nOptional if supported by API provider",
        "schema": {
          "type": "boolean"
        }
      },
      "X-Request-ID": {
        "name": "X-Request-ID",
        "in": "header",
        "description": "ID of the request, unique to the call, as determined by the initiating party.",
        "required": true,
        "example": "99391c7e-ad88-49ec-a2ad-99ddcb1f7721",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "X-BicFi": {
        "name": "X-BicFi",
        "in": "header",
        "description": "BICFI",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}",
          "example": "AAAADEBBXXX"
        }
      },
      "Digest": {
        "name": "Digest",
        "in": "header",
        "description": "Is contained if and only if the \"Signature\" element is contained in the header of the request.",
        "schema": {
          "type": "string"
        },
        "required": false,
        "example": "SHA-256=hl1/Eps8BEQW58FJhDApwJXjGY4nr1ArGDHIT25vq6A="
      },
      "Signature": {
        "name": "Signature",
        "in": "header",
        "description": "A signature of the request by the TPP on application level. This might be mandated by ASPSP.\n",
        "schema": {
          "type": "string"
        },
        "required": false,
        "example": "keyId=\"SN=9FA1,CA=CN=D-TRUST%20CA%202-1%202015,O=D-Trust%20GmbH,C=DE\",algorithm=\"rsa-sha256\", headers=\"Digest X-Request-ID PSU-ID TPP-Redirect-URI Date\", signature=\"Base64(RSA-SHA256(signing string))\"\n"
      },
      "TPP-Signature-Certificate": {
        "name": "TPP-Signature-Certificate",
        "in": "header",
        "description": "The certificate used for signing the request, in base64 encoding. \nMust be contained if a signature is contained.\n",
        "schema": {
          "type": "string",
          "format": "byte"
        },
        "required": false
      },
      "TPP-Redirect-Preferred": {
        "name": "TPP-Redirect-Preferred",
        "in": "header",
        "description": "If it equals \"true\", the TPP prefers a redirect over an embedded SCA approach.\nIf it equals \"false\", the TPP prefers not to be redirected for SCA. The ASPSP will then choose between the Embedded or the Decoupled\nSCA approach, depending on the choice of the SCA procedure by the TPP/PSU.\nIf the parameter is not used, the ASPSP will choose the SCA approach to be applied depending on the SCA method chosen by the\nTPP/PSU.\n",
        "schema": {
          "type": "string",
          "enum": [
            "true",
            "false"
          ]
        },
        "required": false
      },
      "TPP-Redirect-URI": {
        "name": "TPP-Redirect-URI",
        "in": "header",
        "description": "URI of the TPP, where the transaction flow shall be redirected to after a Redirect.\n\nMandated for the Redirect SCA Approach, specifically \nwhen TPP-Redirect-Preferred equals \"true\".\nIt is recommended to always use this header field.\n\n**Remark for Future:** \nThis field might be changed to mandatory in the next version of the specification.\n",
        "schema": {
          "type": "string",
          "format": "uri"
        },
        "required": false
      },
      "TPP-Nok-Redirect-URI": {
        "name": "TPP-Nok-Redirect-URI",
        "in": "header",
        "description": "If this URI is contained, the TPP is asking to redirect the transaction flow to this address instead of the TPP-Redirect-URI in case\nof a negative result of the redirect SCA method. This might be ignored by the ASPSP.\n",
        "schema": {
          "type": "string",
          "format": "uri"
        },
        "required": false
      },
      "TPP-Explicit-Authorisation-Preferred": {
        "name": "TPP-Explicit-Authorisation-Preferred",
        "in": "header",
        "description": "If it equals \"true\", the TPP prefers to start the authorisation process separately, \ne.g. because of the usage of a signing basket. \nThis preference might be ignored by the ASPSP, if a signing basket is not supported as functionality.\n\nIf it equals \"false\" or if the parameter is not used, there is no preference of the TPP. \nThis especially indicates that the TPP assumes a direct authorisation of the transaction in the next step, \nwithout using a signing basket.\n",
        "schema": {
          "type": "string",
          "enum": [
            "true",
            "false"
          ]
        },
        "required": false
      },
      "TPP-Rejection-NoFunds-Preferred": {
        "name": "TPP-Rejection-NoFunds-Preferred",
        "in": "header",
        "description": "If it equals \"true\" then the TPP prefers a rejection of the payment initiation in case the ASPSP is \nproviding an integrated confirmation of funds request an the result of this is that not sufficient \nfunds are available.\n\nIf it equals \"false\" then the TPP prefers that the ASPSP is dealing with the payment initiation like \nin the ASPSPs online channel, potentially waiting for a certain time period for funds to arrive to initiate the payment.\n\nThis parameter might be ignored by the ASPSP.\n",
        "schema": {
          "type": "string",
          "enum": [
            "true",
            "false"
          ]
        },
        "required": false
      },
      "TPP-Notification-URI": {
        "name": "TPP-Notification-URI",
        "in": "header",
        "description": "URI for the Endpoint of the TPP-API to which the status of the payment initiation should be sent.\nThis header field may by ignored by the ASPSP.\n",
        "schema": {
          "type": "string"
        },
        "required": false
      },
      "TPP-Notification-Content-Preferred": {
        "name": "TPP-Notification-Content-Preferred",
        "in": "header",
        "description": "The string has the form \n\nstatus=X1, ..., Xn\n\nwhere Xi is one of the constants SCA, PROCESS, LAST and where constants are not\nrepeated.\nThe usage of the constants supports the of following semantics:\n\n  SCA: A notification on every change of the scaStatus attribute for all related authorisation processes is preferred by the TPP.\n\n  PROCESS: A notification on all changes of consentStatus or transactionStatus attributes is preferred by the TPP.\n  LAST: Only a notification on the last consentStatus or transactionStatus as available in the XS2A interface is preferred by the TPP.\n\nThis header field may be ignored, if the ASPSP does not support resource notification services for the related TPP.\n",
        "schema": {
          "type": "string"
        },
        "required": false
      },
      "PSU-ID": {
        "name": "PSU-ID",
        "in": "header",
        "description": "Client ID of the PSU in the ASPSP client interface. Might be mandated in the ASPSP's documentation.\nIs not contained if an OAuth2 based authentication was performed in a pre-step or an OAuth2 based SCA was performed in an preceding\nAIS service in the same session.\n",
        "schema": {
          "type": "string"
        },
        "required": false,
        "example": "PSU-1234"
      },
      "PSU-ID-Type": {
        "name": "PSU-ID-Type",
        "in": "header",
        "description": "Type of the PSU-ID, needed in scenarios where PSUs have several PSU-IDs as access possibility.\n",
        "schema": {
          "type": "string"
        },
        "required": false
      },
      "PSU-Corporate-ID": {
        "name": "PSU-Corporate-ID",
        "in": "header",
        "description": "Might be mandated in the ASPSP's documentation. Only used in a corporate context.\n",
        "schema": {
          "type": "string"
        },
        "required": false
      },
      "PSU-Corporate-ID-Type": {
        "name": "PSU-Corporate-ID-Type",
        "in": "header",
        "description": "Might be mandated in the ASPSP's documentation. Only used in a corporate context.\n",
        "schema": {
          "type": "string"
        },
        "required": false
      },
      "PSU-IP-Address_mandatory": {
        "name": "PSU-IP-Address",
        "in": "header",
[...]
