{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "name": "Web API Support",
      "url": "https://dev.fitbit.com/build/reference/web-api/help/"
    },
    "description": "Fitbit provides a Web API for accessing data from Fitbit activity trackers, Aria scale, and manually entered logs. Anyone can develop an application to access and modify a Fitbit user's data on their behalf, so long as it complies with Fitbit Platform Terms of Service. These Swagger UI docs do not currently support making Fitbit API requests directly. In order to make a request, construct a request for the appropriate endpoint using this documentation, and then add an Authorization header to each request with an access token obtained using the steps outlined here: https://dev.fitbit.com/build/reference/web-api/developer-guide/authorization/.",
    "termsOfService": "https://dev.fitbit.com/legal/platform-terms-of-service/",
    "title": "Fitbit Web API Explorer",
    "version": "1",
    "x-jentic-source-url": "https://dev.fitbit.com/build/reference/web-api/explore/fitbit-web-api-swagger.json"
  },
  "servers": [
    {
      "url": "https://api.fitbit.com/"
    }
  ],
  "paths": {
    "/1.1/oauth2/introspect": {
      "post": {
        "responses": {
          "200": {
            "description": "A successful request."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satisfied."
          },
          "401": {
            "description": "Authentication was unsuccessful due to invalid client credentials."
          },
          "409": {
            "description": "Request conflict due to multiple clients"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "tags": [
          "Authorization"
        ],
        "description": "Retrieves the active state of an OAuth 2.0 token. It follows https://tools.ietf.org/html/rfc7662.",
        "operationId": "introspect",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "token": {
                    "description": "OAuth 2.0 token to retrieve the state of",
                    "type": "string"
                  }
                },
                "required": [
                  "token"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Retrieve the active state of an OAuth 2.0 token"
      }
    },
    "/1.1/user/-/friends.json": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful request."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "403": {
            "description": "The user's privacy settings prevent you from seeing their friends."
          }
        },
        "security": [
          {
            "oauth2": [
              "social"
            ]
          }
        ],
        "tags": [
          "Friends"
        ],
        "description": "Returns data of a user's friends in the format requested using units in the unit system which corresponds to the Accept-Language header provided.",
        "operationId": "getFriends",
        "summary": "Get Friends"
      }
    },
    "/1.1/user/-/leaderboard/friends.json": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful request."
          },
          "401": {
            "description": "The request requires user authentication."
          }
        },
        "security": [
          {
            "oauth2": [
              "social"
            ]
          }
        ],
        "tags": [
          "Friends"
        ],
        "description": "Returns data of a user's friends in the format requested using units in the unit system which corresponds to the Accept-Language header provided.",
        "operationId": "getFriendsLeaderboard",
        "summary": "Get Friends Leaderboard"
      }
    },
    "/1.2/user/-/sleep.json": {
      "post": {
        "parameters": [
          {
            "description": "Start time includes hours and minutes in the format HH:mm.",
            "in": "query",
            "name": "startTime",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Duration in milliseconds.",
            "in": "query",
            "name": "duration",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Log entry in the format yyyy-MM-dd.",
            "in": "query",
            "name": "date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "403": {
            "description": "The server understood the request, but is refusing to fulfill it."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Sleep"
        ],
        "description": "Creates a log entry for a sleep event and returns a response in the format requested.",
        "operationId": "addSleep",
        "summary": "Log Sleep"
      }
    },
    "/1.2/user/-/sleep/date/{base-date}/{end-date}.json": {
      "get": {
        "parameters": [
          {
            "description": "The date of records to be returned. In the format yyyy-MM-dd.",
            "in": "path",
            "name": "base-date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "The date of records to be returned. In the format yyyy-MM-dd.",
            "in": "path",
            "name": "end-date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "403": {
            "description": "The server understood the request, but is refusing to fulfill it."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Sleep"
        ],
        "description": "The Get Sleep Logs by Date Range endpoint returns a list of a user's sleep log entries (including naps) as well as detailed sleep entry data for a given date range (inclusive of start and end dates).",
        "operationId": "getSleepByDateRange",
        "summary": "Get Sleep Logs by Date Range"
      }
    },
    "/1.2/user/-/sleep/date/{date}.json": {
      "get": {
        "parameters": [
          {
            "description": "The date of records to be returned. In the format yyyy-MM-dd.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "403": {
            "description": "The server understood the request, but is refusing to fulfill it."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Sleep"
        ],
        "description": "The Get Sleep Logs by Date endpoint returns a summary and list of a user's sleep log entries (including naps) as well as detailed sleep entry data for a given day.",
        "operationId": "getSleepByDate",
        "summary": "Get Sleep Log"
      }
    },
    "/1.2/user/-/sleep/goal.json": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful request."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "403": {
            "description": "The server understood the request, but is refusing to fulfill it."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Sleep"
        ],
        "description": "Returns the user's sleep goal.",
        "operationId": "getSleepGoal",
        "summary": "Get Sleep Goal"
      },
      "post": {
        "parameters": [
          {
            "description": "Duration of sleep goal.",
            "in": "query",
            "name": "minDuration",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "403": {
            "description": "The server understood the request, but is refusing to fulfill it."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Sleep"
        ],
        "description": "Create or update the user's sleep goal and get a response in the JSON format.",
        "operationId": "updateSleepGoal",
        "summary": "Update Sleep Goal"
      }
    },
    "/1.2/user/-/sleep/list.json": {
      "get": {
        "parameters": [
          {
            "description": "The date in the format yyyy-MM-ddTHH:mm:ss. Only yyyy-MM-dd is required. Either beforeDate or afterDate should be specified.",
            "in": "query",
            "name": "beforeDate",
            "required": false,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "The date in the format yyyy-MM-ddTHH:mm:ss.",
            "in": "query",
            "name": "afterDate",
            "required": false,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "The sort order of entries by date asc (ascending) or desc (descending).",
            "in": "query",
            "name": "sort",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The offset number of entries.",
            "in": "query",
            "name": "offset",
            "required": true,
            "schema": {
              "default": "0",
              "type": "integer"
            }
          },
          {
            "description": "The maximum number of entries returned (maximum;100).",
            "in": "query",
            "name": "limit",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "403": {
            "description": "The server understood the request, but is refusing to fulfill it."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Sleep"
        ],
        "description": "The Get Sleep Logs List endpoint returns a list of a user's sleep logs (including naps) before or after a given day with offset, limit, and sort order.",
        "operationId": "getSleepList",
        "summary": "Get Sleep Logs List"
      }
    },
    "/1.2/user/-/sleep/{log-id}.json": {
      "delete": {
        "parameters": [
          {
            "description": "The ID of the sleep log to be deleted.",
            "in": "path",
            "name": "log-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content.  The request was successful."
          },
          "400": {
            "description": "Bad Request.  The request likely contained bad syntax."
          },
          "401": {
            "description": "Unauthorized.  The request requires user authentication."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Sleep"
        ],
        "description": "Deletes a user's sleep log entry with the given ID.",
        "operationId": "deleteSleep",
        "summary": "Delete Sleep Log"
      }
    },
    "/1/activities.json": {
      "get": {
        "responses": {
          "200": {
            "description": "A successful request."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "409": {
            "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Activity"
        ],
        "description": "Retreives a tree of all valid Fitbit public activities from the activities catelog as well as private custom activities the user created in the format requested.",
        "operationId": "getActivitiesTypes",
        "summary": "Browse Activity Types"
      }
    },
    "/1/activities/{activity-id}.json": {
      "get": {
        "parameters": [
          {
            "description": "The activity ID.",
            "in": "path",
            "name": "activity-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful request."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "409": {
            "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Activity"
        ],
        "description": "Returns the detail of a specific activity in the Fitbit activities database in the format requested. If activity has levels, it also returns a list of activity level details.",
        "operationId": "getActivitiesTypeDetail",
        "summary": "Get Activity Type"
      }
    },
    "/1/foods/locales.json": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful request."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "403": {
            "description": "The server understood the request, but is refusing to fulfill it."
          }
        },
        "security": [
          {
            "oauth2": [
              "nutrition"
            ]
          }
        ],
        "tags": [
          "Nutrition"
        ],
        "description": "Returns the food locales that the user may choose to search, log, and create food in.",
        "operationId": "getFoodsLocales",
        "summary": "Get Food Locales"
      }
    },
    "/1/foods/search.json": {
      "get": {
        "parameters": [
          {
            "description": "The URL-encoded search query.",
            "in": "query",
            "name": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful request."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "403": {
            "description": "The server understood the request, but is refusing to fulfill it."
          }
        },
        "security": [
          {
            "oauth2": [
              "nutrition"
            ]
          }
        ],
        "tags": [
          "Nutrition"
        ],
        "description": "Returns a list of public foods from the Fitbit food database and private food the user created in the format requested.",
        "operationId": "getFoodsList",
        "summary": "Search Foods"
      }
    },
    "/1/foods/units.json": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful request."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "403": {
            "description": "The server understood the request, but is refusing to fulfill it."
          }
        },
        "security": [
          {
            "oauth2": [
              "nutrition"
            ]
          }
        ],
        "tags": [
          "Nutrition"
        ],
        "description": "Returns a list of all valid Fitbit food units in the format requested.",
        "operationId": "getFoodsUnits",
        "summary": "Get Food Units"
      }
    },
    "/1/foods/{food-id}.json": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the food.",
            "in": "path",
            "name": "food-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "403": {
            "description": "The server understood the request, but is refusing to fulfill it."
          }
        },
        "security": [
          {
            "oauth2": [
              "nutrition"
            ]
          }
        ],
        "tags": [
          "Nutrition"
        ],
        "description": "Returns the details of a specific food in the Fitbit food databases or a private food that an authorized user has entered in the format requested.",
        "operationId": "getFoodsInfo",
        "summary": "Get Food"
      }
    },
    "/1/user/-/activities.json": {
      "get": {
        "responses": {
          "200": {
            "description": "A successful request."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "409": {
            "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Activity"
        ],
        "description": "Updates a user's daily activity goals and returns a response using units in the unit system which corresponds to the Accept-Language header provided.",
        "operationId": "getActivitiesLog",
        "summary": "Get Lifetime Stats"
      },
      "post": {
        "parameters": [
          {
            "description": "The ID of the activity, directory activity or intensity level activity.",
            "in": "query",
            "name": "activityId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Custom activity name. Either activityId or activityName must be provided.",
            "in": "query",
            "name": "activityName",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Calories burned that are manaully specified. Required with activityName must be provided.",
            "in": "query",
            "name": "manualCalories",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Activity start time. Hours and minutes in the format HH:mm:ss.",
            "in": "query",
            "name": "startTime",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Duration in milliseconds.",
            "in": "query",
            "name": "durationMillis",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Log entry date in the format yyyy-MM-dd.",
            "in": "query",
            "name": "date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "Distance is required for logging directory activity in the format X.XX and in the selected distanceUnit.",
            "in": "query",
            "name": "distance",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Distance measurement unit. Steps units are available only for Walking (activityId=90013) and Running (activityId=90009) directory activities and their intensity levels.",
            "in": "query",
            "name": "distanceUnit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful request."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "409": {
            "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Activity"
        ],
        "description": "The Log Activity endpoint creates log entry for an activity or user's private custom activity using units in the unit system which corresponds to the Accept-Language header provided (or using optional custom distanceUnit) and get a response in the format requested.",
        "operationId": "addActivitiesLog",
        "summary": "Log Activity"
      }
    },
    "/1/user/-/activities/active-zone-minutes/date/{date}/1d/{detail-level}.json": {
      "get": {
        "parameters": [
          {
            "description": "The date in the format yyyy-MM-dd or today",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "The detail for which data will be returned. **Supported:** 1min | 5min | 15min",
            "in": "path",
            "name": "detail-level",
            "required": true,
            "schema": {
              "enum": [
                "1min",
                "5min",
                "15min"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful request."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "403": {
            "description": "The API client is not authorized by Fitbit to access the resource requested."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity"
            ]
          }
        ],
        "tags": [
          "Active Zone Minutes Intraday Time Series"
        ],
        "description": "Returns the active zone minutes intraday data for a 24 hour period by specifying a date and/or time range.",
        "operationId": "getAZMByDateIntraday",
        "summary": "Get AZM Intraday by Date"
      }
    },
    "/1/user/-/activities/active-zone-minutes/date/{date}/1d/{detail-level}/time/{start-time}/{end-time}.json": {
      "get": {
        "parameters": [
          {
            "description": "The date in the format yyyy-MM-dd or today",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "The detail for which data will be returned. **Supported:** 1min | 5min | 15min",
            "in": "path",
            "name": "detail-level",
            "required": true,
            "schema": {
              "enum": [
                "1min",
                "5min",
                "15min"
              ],
              "type": "string"
            }
          },
          {
            "description": "The start of the period in the format HH:mm.",
            "in": "path",
            "name": "start-time",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The end of the period in the format HH:mm.",
            "in": "path",
            "name": "end-time",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful request."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "403": {
            "description": "The API client is not authorized by Fitbit to access the resource requested."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity"
            ]
          }
        ],
        "tags": [
          "Active Zone Minutes Intraday Time Series"
        ],
        "description": "Returns the active zone minutes intraday data for a 24 hour period by specifying a date and/or time range.",
        "operationId": "getAZMByDateTimeSeriesIntraday",
        "summary": "Get AZM Intraday by Date"
      }
    },
    "/1/user/-/activities/active-zone-minutes/date/{date}/{period}.json": {
      "get": {
        "parameters": [
          {
            "description": "The date in the format yyyy-MM-dd or today",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "The range for which data will be returned. **Supported:** 1d | 7d | 30d | 1w | 1m | 3m | 6m | 1y",
            "in": "path",
            "name": "period",
            "required": true,
            "schema": {
              "enum": [
                "1d",
                "7d",
                "30d",
                "1w",
                "1m",
                "3m",
                "6m",
                "1y"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful request."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "403": {
            "description": "The API client is not authorized by Fitbit to access the resource requested."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity"
            ]
          }
        ],
        "tags": [
          "Active Zone Minutes Time Series"
        ],
        "description": "Returns the daily summary values over a period of time by specifying a date and time period.",
        "operationId": "getAZMTimeSeriesByDate",
        "summary": "Get AZM Time Series by Date"
      }
    },
    "/1/user/-/activities/active-zone-minutes/date/{start-date}/{end-date}.json": {
      "get": {
        "parameters": [
          {
            "description": "The date in the format yyyy-MM-dd or today",
            "in": "path",
            "name": "start-date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "The date in the format yyyy-MM-dd or today",
            "in": "path",
            "name": "end-date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful request."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "403": {
            "description": "The API client is not authorized by Fitbit to access the resource requested."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity"
            ]
          }
        ],
        "tags": [
          "Active Zone Minutes Time Series"
        ],
        "description": "Returns the daily summary values over an interval by specifying a date range.",
        "operationId": "getAZMTimeSeriesByInterval",
        "summary": "Get AZM Time Series by Interval"
      }
    },
    "/1/user/-/activities/active-zone-minutes/date/{start-date}/{end-date}/time/{start-time}/{end-time}.json": {
      "get": {
        "parameters": [
          {
            "description": "The date in the format yyyy-MM-dd or today",
            "in": "path",
            "name": "start-date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "The date in the format yyyy-MM-dd or today",
            "in": "path",
            "name": "end-date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "The detail for which data will be returned. **Support:** 1min | 5min | 15min",
            "in": "path",
            "name": "detail-level",
            "required": true,
            "schema": {
              "enum": [
                "1min",
                "5min",
                "15min"
              ],
              "type": "string"
            }
          },
          {
            "description": "The start of the period in the format HH:mm.",
            "in": "path",
            "name": "start-time",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The end of the period in the format HH:mm.",
            "in": "path",
            "name": "end-time",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful request."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "403": {
            "description": "The API client is not authorized by Fitbit to access the resource requested."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity"
            ]
          }
        ],
        "tags": [
          "Active Zone Minutes Intraday Time Series"
        ],
        "description": "Returns the active zone minutes intraday data for a 24 hour period by specifying a date range and/or time range.",
        "operationId": "getAZMByIntervalTimeSeriesIntraday",
        "summary": "Get AZM Intraday by Interval"
      }
    },
    "/1/user/-/activities/active-zone-minutes/date/{start-date}/{end-date}/{detail-level}.json": {
      "get": {
        "parameters": [
          {
            "description": "The date in the format yyyy-MM-dd or today",
            "in": "path",
            "name": "start-date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "The date in the format yyyy-MM-dd or today",
            "in": "path",
            "name": "end-date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "The detail for which data will be returned. **Support:** 1min | 5min | 15min",
            "in": "path",
            "name": "detail-level",
            "required": true,
            "schema": {
              "enum": [
                "1min",
                "5min",
                "15min"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful request."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "403": {
            "description": "The API client is not authorized by Fitbit to access the resource requested."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity"
            ]
          }
        ],
        "tags": [
          "Active Zone Minutes Intraday Time Series"
        ],
        "description": "Returns the active zone minutes intraday data for a 24 hour period by specifying a date range and/or time range.",
        "operationId": "getAZMByIntervalIntraday",
        "summary": "Get AZM Intraday by Interval"
      }
    },
    "/1/user/-/activities/date/{date}.json": {
      "get": {
        "parameters": [
          {
            "description": "The date in the format yyyy-MM-dd",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful request."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "409": {
            "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Activity"
        ],
        "description": "Retrieves a summary and list of a user's activities and activity log entries for a given day.",
        "operationId": "getActivitiesByDate",
        "summary": "Get Activity Summary by Date "
      }
    },
    "/1/user/-/activities/favorite.json": {
      "get": {
        "responses": {
          "200": {
            "description": "A successful request."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "409": {
            "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Activity"
        ],
        "description": "Returns a list of a user's favorite activities.",
        "operationId": "getFavoriteActivities",
        "summary": "Get Favorite Activities"
      }
    },
    "/1/user/-/activities/favorite/{activity-id}.json": {
      "delete": {
        "parameters": [
          {
            "description": "The ID of the activity to be removed.",
            "in": "path",
            "name": "activity-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content.  The request was successful."
          },
          "400": {
            "description": "Bad Request.  The request likely contained bad syntax."
          },
          "401": {
            "description": "Unauthorized.  The request requires user authentication."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Activity"
        ],
        "description": "Removes the activity with the given ID from a user's list of favorite activities.",
        "operationId": "deleteFavoriteActivities",
        "summary": "Delete Favorite Activity"
      },
      "post": {
        "parameters": [
          {
            "description": "The encoded ID of the activity.",
            "in": "path",
            "name": "activity-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful request."
          },
          "201": {
            "description": "The request fulfilled and new resource being created."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "409": {
            "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Activity"
        ],
        "description": "Adds the activity with the given ID to user's list of favorite activities.",
        "operationId": "addFavoriteActivities",
        "summary": "Add Favorite Activity"
      }
    },
    "/1/user/-/activities/frequent.json": {
      "get": {
        "responses": {
          "200": {
            "description": "A successful request."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "409": {
            "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Activity"
        ],
        "description": "Retreives a list of a user's frequent activities in the format requested using units in the unit system which corresponds to the Accept-Language header provided.",
        "operationId": "getFrequentActivities",
        "summary": "Get Frequent Activities"
      }
    },
    "/1/user/-/activities/goals/{period}.json": {
      "get": {
        "parameters": [
          {
            "description": "daily or weekly.",
            "in": "path",
            "name": "period",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful request."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "409": {
            "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Activity"
        ],
        "description": "Retreives a user's current daily or weekly activity goals using measurement units as defined in the unit system, which corresponds to the Accept-Language header provided.",
        "operationId": "getActivitiesGoals",
        "summary": "Get Activity Goals"
      },
      "post": {
        "parameters": [
          {
            "description": "daily or weekly.",
            "in": "path",
            "name": "period",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "goal type",
            "in": "query",
            "name": "type",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "goal value",
            "in": "query",
            "name": "value",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful request."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "409": {
            "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Activity"
        ],
        "description": "Updates a user's daily or weekly activity goals and returns a response using units in the unit system which corresponds to the Accept-Language header provided.",
        "operationId": "addUpdateActivitiesGoals",
        "summary": "Update Activity Goals"
      }
    },
    "/1/user/-/activities/heart/date/{base-date}/{end-date}.json": {
      "get": {
        "parameters": [
          {
            "description": "The range start date in  the format yyyy-MM-dd or today.",
            "in": "path",
            "name": "base-date",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The end date of the range.",
            "in": "path",
            "name": "end-date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "403": {
            "description": "The server understood the request, but is refusing to fulfill it."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Heart Rate Time Series"
        ],
        "description": "Returns the time series data in the specified range for a given resource in the format requested using units in the unit systems that corresponds to the Accept-Language header provided.",
        "operationId": "getHeartByDateRange",
        "summary": "Get Heart Rate Time Series"
      }
    },
    "/1/user/-/activities/heart/date/{date}/1d/{detail-level}.json": {
      "get": {
        "parameters": [
          {
            "description": "The date in the format of yyyy-MM-dd or today.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "The number of data points to include either 1sec, 1min, 5min or 15min.",
            "in": "path",
            "name": "detail-level",
            "required": true,
            "schema": {
              "default": "1min",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "403": {
            "description": "The server understood the request, but is refusing to fulfill it."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Heart Rate Intraday Time Series"
        ],
        "description": "Returns the intraday time series for a given resource in the format requested. If your application has the appropriate access, your calls to a time series endpoint for a specific day (by using start and end dates on the same day or a period of 1d), the response will include extended intraday values with a one-minute detail level for that day. Unlike other time series calls that allow fetching data of other users, intraday data is available only for and to the authorized user.",
        "operationId": "getHeartByDateIntraday",
        "summary": "Get Heart Rate Intraday Time Series"
      }
    },
    "/1/user/-/activities/heart/date/{date}/1d/{detail-level}/time/{start-time}/{end-time}.json": {
      "get": {
        "parameters": [
          {
            "description": "The date in the format of yyyy-MM-dd or today.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "The number of data points to include either 1sec, 1min, 5min or 15min.",
            "in": "path",
            "name": "detail-level",
            "required": true,
            "schema": {
              "default": "1min",
              "type": "string"
            }
          },
          {
            "description": "The start of the period in the format of HH:mm.",
            "in": "path",
            "name": "start-time",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The end time of the period in the format of HH:mm.",
            "in": "path",
            "name": "end-time",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "403": {
            "description": "The server understood the request, but is refusing to fulfill it."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Heart Rate Intraday Time Series"
        ],
        "description": "Returns the intraday time series for a given resource in the format requested. If your application has the appropriate access, your calls to a time series endpoint for a specific day (by using start and end dates on the same day or a period of 1d), the response will include extended intraday values with a one-minute detail level for that day. Unlike other time series calls that allow fetching data of other users, intraday data is available only for and to the authorized user.",
        "operationId": "getHeartByDateTimestampIntraday",
        "summary": "Get Heart Rate Intraday Time Series"
      }
    },
    "/1/user/-/activities/heart/date/{date}/{end-date}/{detail-level}.json": {
      "get": {
        "parameters": [
          {
            "description": "The date in the format of yyyy-MM-dd or today.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "The end date in the format of yyyy-MM-dd or today.",
            "in": "path",
            "name": "end-date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "The number of data points to include either 1sec, 1min, 5min or 15min.",
            "in": "path",
            "name": "detail-level",
            "required": true,
            "schema": {
              "default": "1min",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "403": {
            "description": "The server understood the request, but is refusing to fulfill it."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Heart Rate Intraday Time Series"
        ],
        "description": "Returns the intraday time series for a given resource in the format requested. If your application has the appropriate access, your calls to a time series endpoint for a specific day (by using start and end dates on the same day or a period of 1d), the response will include extended intraday values with a one-minute detail level for that day. Unlike other time series calls that allow fetching data of other users, intraday data is available only for and to the authorized user.",
        "operationId": "getHeartByDateRangeIntraday",
        "summary": "Get Heart Rate Intraday Time Series"
      }
    },
    "/1/user/-/activities/heart/date/{date}/{end-date}/{detail-level}/time/{start-time}/{end-time}.json": {
      "get": {
        "parameters": [
          {
            "description": "The date in the format of yyyy-MM-dd or today.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "The end date in the format of yyyy-MM-dd or today.",
            "in": "path",
            "name": "end-date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "The number of data points to include either 1sec, 1min, 5min or 15min.",
            "in": "path",
            "name": "detail-level",
            "required": true,
            "schema": {
              "default": "1min",
              "type": "string"
            }
          },
          {
            "description": "The start of the period in the format of HH:mm.",
            "in": "path",
            "name": "start-time",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The end time of the period in the format of HH:mm.",
            "in": "path",
            "name": "end-time",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "403": {
            "description": "The server understood the request, but is refusing to fulfill it."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Heart Rate Intraday Time Series"
        ],
        "description": "Returns the intraday time series for a given resource in the format requested. If your application has the appropriate access, your calls to a time series endpoint for a specific day (by using start and end dates on the same day or a period of 1d), the response will include extended intraday values with a one-minute detail level for that day. Unlike other time series calls that allow fetching data of other users, intraday data is available only for and to the authorized user.",
        "operationId": "getHeartByDateRangeTimestampIntraday",
        "summary": "Get Heart Rate Intraday Time Series"
      }
    },
    "/1/user/-/activities/heart/date/{date}/{period}.json": {
      "get": {
        "parameters": [
          {
            "description": "The end date of the period specified in the format yyyy-MM-dd or today.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "The range of which data will be returned. Options are 1d, 7d, 30d, 1w, and 1m.",
            "in": "path",
            "name": "period",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "403": {
            "description": "The server understood the request, but is refusing to fulfill it."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Heart Rate Time Series"
        ],
        "description": "Returns the time series data in the specified range for a given resource in the format requested using units in the unit systems that corresponds to the Accept-Language header provided.",
        "operationId": "getHeartByDatePeriod",
        "summary": "Get Heart Rate Time Series"
      }
    },
    "/1/user/-/activities/list.json": {
      "get": {
        "parameters": [
          {
            "description": "The date in the format yyyy-MM-ddTHH:mm:ss. Only yyyy-MM-dd is required. Either beforeDate or afterDate should be specified.",
            "in": "query",
            "name": "beforeDate",
            "required": false,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "The date in the format yyyy-MM-ddTHH:mm:ss.",
            "in": "query",
            "name": "afterDate",
            "required": false,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "The sort order of entries by date asc (ascending) or desc (descending).",
            "in": "query",
            "name": "sort",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The offset number of entries.",
            "in": "query",
            "name": "offset",
            "required": true,
            "schema": {
              "default": "0",
              "type": "integer"
            }
          },
          {
            "description": "The maximum number of entries returned (maximum;100).",
            "in": "query",
            "name": "limit",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful request."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "409": {
            "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Activity"
        ],
        "description": "Retreives a list of user's activity log entries before or after a given day with offset and limit using units in the unit system which corresponds to the Accept-Language header provided.",
        "operationId": "getActivitiesLogList",
        "summary": "Get Activity Log List"
      }
    },
    "/1/user/-/activities/recent.json": {
      "get": {
        "responses": {
          "200": {
            "description": "A successful request."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "409": {
            "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Activity"
        ],
        "description": "Retreives a list of a user's recent activities types logged with some details of the last activity log of that type using units in the unit system which corresponds to the Accept-Language header provided.",
        "operationId": "getRecentActivities",
        "summary": "Get Recent Activity Types"
      }
    },
    "/1/user/-/activities/tracker/{resource-path}/date/{base-date}/{end-date}.json": {
      "get": {
        "parameters": [
          {
            "description": "The resource-path; see options in the Resource Path Options section in the full documentation.",
            "in": "path",
            "name": "resource-path",
            "required": true,
            "schema": {
              "default": "steps",
              "enum": [
                "calories",
                "caloriesBMR",
                "steps",
                "distance",
                "floors",
                "elevation",
                "minutesSedentary",
                "minutesLightlyActive",
                "minutesFairlyActive",
                "minutesVeryActive",
                "activityCalories"
              ],
              "type": "string"
            }
          },
          {
            "description": "The range start date in the format yyyy-MM-dd or today.",
            "in": "path",
            "name": "base-date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "The end date of the range.",
            "in": "path",
            "name": "end-date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful request."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "409": {
            "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Activity Time Series"
        ],
        "description": "Returns time series data in the specified range for a given resource.",
        "operationId": "getActivitiesTrackerResourceByDateRange",
        "summary": "Get Activity Tracker Resource by Date Range Time Series"
      }
    },
    "/1/user/-/activities/tracker/{resource-path}/date/{date}/{period}.json": {
      "get": {
        "parameters": [
          {
            "description": "The resource-path; see options in the Resource Path Options section in the full documentation.",
            "in": "path",
            "name": "resource-path",
            "required": true,
            "schema": {
              "default": "steps",
              "enum": [
                "calories",
                "caloriesBMR",
                "steps",
                "distance",
                "floors",
                "elevation",
                "minutesSedentary",
                "minutesLightlyActive",
                "minutesFairlyActive",
                "minutesVeryActive",
                "activityCalories"
              ],
              "type": "string"
            }
          },
          {
            "description": "The end date of the period specified in the format yyyy-MM-dd or today.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "The range for which data will be returned. Options are 1d, 7d, 30d, 1w, 1m, 3m, 6m, 1y, or max.",
            "in": "path",
            "name": "period",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful request."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "409": {
            "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Activity Time Series"
        ],
        "description": "Returns time series data in the specified range for a given resource in the format requested using units in the unit system that corresponds to the Accept-Language header provided.",
        "operationId": "getActivitiesTrackerResourceByDatePeriod",
        "summary": "Get Activity Time Series"
      }
    },
    "/1/user/-/activities/{activity-log-id}.json": {
      "delete": {
        "parameters": [
          {
            "description": "The id of the activity log entry.",
            "in": "path",
            "name": "activity-log-id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content.  The request was successful."
          },
          "400": {
            "description": "Bad Request.  The request likely contained bad syntax."
          },
          "401": {
            "description": "Unauthorized.  The request requires user authentication."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Activity"
        ],
        "description": "Deletes a user's activity log entry with the given ID.",
        "operationId": "deleteActivitiesLog",
        "summary": "Delete Activity Log"
      }
    },
    "/1/user/-/activities/{log-id}.tcx": {
      "get": {
        "parameters": [
          {
            "description": "The activity's log ID.",
            "in": "path",
            "name": "log-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Include TCX points regardless of GPS data being present",
            "in": "query",
            "name": "includePartialTCX",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful request."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "403": {
            "description": "The request was a valid request, but the server is refusing to respond to it."
          },
          "409": {
            "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Activity"
        ],
        "description": "Retreives the details of a user's location and heart rate data during a logged exercise activity.",
        "operationId": "getActivitiesTCX",
        "summary": "Get Activity TCX"
      }
    },
    "/1/user/-/activities/{resource-path}/date/{base-date}/{end-date}.json": {
      "get": {
        "parameters": [
          {
            "description": "The resource-path; see options in the Resource Path Options section in the full documentation.",
            "in": "path",
            "name": "resource-path",
            "required": true,
            "schema": {
              "default": "steps",
              "enum": [
                "calories",
                "caloriesBMR",
                "steps",
                "distance",
                "floors",
                "elevation",
                "minutesSedentary",
                "minutesLightlyActive",
                "minutesFairlyActive",
                "minutesVeryActive",
                "activityCalories"
              ],
              "type": "string"
            }
          },
          {
            "description": "The range start date in the format yyyy-MM-dd or today.",
            "in": "path",
            "name": "base-date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "The end date of the range.",
            "in": "path",
            "name": "end-date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful request."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "409": {
            "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Activity Time Series"
        ],
        "description": "Returns activities time series data in the specified range for a given resource.",
        "operationId": "getActivitiesResourceByDateRange",
        "summary": "Get Activity Resource by Date Range"
      }
    },
    "/1/user/-/activities/{resource-path}/date/{base-date}/{end-date}/{detail-level}.json": {
      "get": {
        "parameters": [
          {
            "description": "The resource-path; see options in the Resource Path Options section in the full documentation.",
            "in": "path",
            "name": "resource-path",
            "required": true,
            "schema": {
              "default": "steps",
              "enum": [
                "calories",
                "steps",
                "distance",
                "floors",
                "elevation"
              ],
              "type": "string"
            }
          },
          {
            "description": "The date in the format yyyy-MM-dd or today.",
            "in": "path",
            "name": "base-date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "The date in the format yyyy-MM-dd or today.",
            "in": "path",
            "name": "end-date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "Number of data points to include. Either 1min or 15min. Optional.",
            "in": "path",
            "name": "detail-level",
            "required": true,
            "schema": {
              "default": "1min",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful request."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "409": {
            "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Activity Intraday Time Series"
        ],
        "description": "Returns the Activity Intraday Time Series for a given resource in the format requested.",
        "operationId": "getActivitiesResourceByDateRangeIntraday",
        "summary": "Get Activity Intraday Time Series"
      }
    },
    "/1/user/-/activities/{resource-path}/date/{date}/1d/{detail-level}.json": {
      "get": {
        "parameters": [
          {
            "description": "The resource-path; see options in the Resource Path Options section in the full documentation.",
            "in": "path",
            "name": "resource-path",
            "required": true,
            "schema": {
              "default": "steps",
              "enum": [
                "calories",
                "steps",
                "distance",
                "floors",
                "elevation"
              ],
              "type": "string"
            }
          },
          {
            "description": "The date in the format yyyy-MM-dd or today.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "Number of data points to include. Either 1min or 15min. Optional.",
            "in": "path",
            "name": "detail-level",
            "required": true,
            "schema": {
              "default": "1min",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful request."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "409": {
            "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Activity Intraday Time Series"
        ],
        "description": "Returns the Intraday Time Series for a given resource in the format requested.",
        "operationId": "getActivitiesResourceByDateIntraday",
        "summary": "Get Intraday Time Series"
      }
    },
    "/1/user/-/activities/{resource-path}/date/{date}/1d/{detail-level}/time/{start-time}/{end-time}.json": {
      "get": {
        "parameters": [
          {
            "description": "The resource-path; see options in the Resource Path Options section in the full documentation.",
            "in": "path",
            "name": "resource-path",
            "required": true,
            "schema": {
              "default": "steps",
              "enum": [
                "calories",
                "steps",
                "distance",
                "floors",
                "elevation"
              ],
              "type": "string"
            }
          },
          {
            "description": "The date in the format yyyy-MM-dd or today.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "Number of data points to include. Either 1min or 15min.",
            "in": "path",
            "name": "detail-level",
            "required": true,
            "schema": {
              "default": "1min",
              "type": "string"
            }
          },
          {
            "description": "The start of the period in the format HH:mm.",
            "in": "path",
            "name": "start-time",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The end of the period in the format HH:mm.",
            "in": "path",
            "name": "end-time",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful request."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "409": {
            "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Activity Intraday Time Series"
        ],
        "description": "Returns the Intraday Time Series for a given resource in the format requested.",
        "operationId": "getActivitiesResourceByDateTimeSeriesIntraday",
        "summary": "Get Intraday Time Series"
      }
    },
    "/1/user/-/activities/{resource-path}/date/{date}/{end-date}/{detail-level}/time/{start-time}/{end-time}.json": {
      "get": {
        "parameters": [
          {
            "description": "The resource-path; see options in the Resource Path Options section in the full documentation.",
            "in": "path",
            "name": "resource-path",
            "required": true,
            "schema": {
              "default": "steps",
              "enum": [
                "calories",
                "steps",
                "distance",
                "floors",
                "elevation"
              ],
              "type": "string"
            }
          },
          {
            "description": "The date in the format yyyy-MM-dd or today.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "The date in the format yyyy-MM-dd or today.",
            "in": "path",
            "name": "end-date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "Number of data points to include. Either 1min or 15min.",
            "in": "path",
            "name": "detail-level",
            "required": true,
            "schema": {
              "default": "1min",
              "type": "string"
            }
          },
          {
            "description": "The start of the period in the format HH:mm.",
            "in": "path",
            "name": "start-time",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The end of the period in the format HH:mm.",
            "in": "path",
            "name": "end-time",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful request."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "409": {
            "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Activity Intraday Time Series"
        ],
        "description": "Returns the Intraday Time Series for a given resource in the format requested.",
        "operationId": "getActivitiesResourceByDateRangeTimeSeriesIntraday",
        "summary": "Get Activity Intraday Time Series"
      }
    },
    "/1/user/-/activities/{resource-path}/date/{date}/{period}.json": {
      "get": {
        "parameters": [
          {
            "description": "The resource-path; see options in the Resource Path Options section in the full documentation.",
            "in": "path",
            "name": "resource-path",
            "required": true,
            "schema": {
              "default": "steps",
              "enum": [
                "calories",
                "caloriesBMR",
                "steps",
                "distance",
                "floors",
                "elevation",
                "minutesSedentary",
                "minutesLightlyActive",
                "minutesFairlyActive",
                "minutesVeryActive",
                "activityCalories"
              ],
              "type": "string"
            }
          },
          {
            "description": "The end date of the period specified in the format yyyy-MM-dd or today.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "The range for which data will be returned. Options are 1d, 7d, 30d, 1w, 1m, 3m, 6m, 1y, or max.",
            "in": "path",
            "name": "period",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful request."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          },
          "409": {
            "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Activity Time Series"
        ],
        "description": "Returns time series data in the specified range for a given resource in the format requested using units in the unit system that corresponds to the Accept-Language header provided.",
        "operationId": "getActivitiesResourceByDatePeriod",
        "summary": "Get Activity Time Series"
      }
    },
    "/1/user/-/badges.json": {
      "get": {
        "responses": {
          "200": {
            "description": "A successful request."
          },
          "201": {
            "description": "Returned if a new subscription was created in response to your request."
          },
          "409": {
            "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "User"
        ],
        "description": "Retrieves the user's badges in the format requested. Response includes all badges for the user as seen on the Fitbit website badge locker (both activity and weight related.) The endpoint returns weight and distance badges based on the user's unit profile preference as on the website.",
        "operationId": "getBadges",
        "summary": "Get Badges"
      }
    },
    "/1/user/-/body/log/fat.json": {
      "post": {
        "parameters": [
          {
            "description": "Body fat in the format of X.XX in the unit system that corresponds to the Accept-Language header provided.",
            "in": "query",
            "name": "fat",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Log entry date in the format yyyy-MM-dd.",
            "in": "query",
            "name": "date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "Time of the measurement in hours and minutes in the format HH:mm:ss that is set to the last second of the day if not provided.",
            "in": "query",
            "name": "time",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful request."
          },
          "201": {
            "description": "The request has been fulfilled and resulted in a new resouce being created."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Body"
        ],
        "description": "Creates a log entry for body fat and returns a response in the format requested.",
        "operationId": "addBodyFatLog",
        "summary": "Log Body Fat"
      }
    },
    "/1/user/-/body/log/fat/date/{base-date}/{end-date}.json": {
      "get": {
        "parameters": [
          {
            "description": "The range start date in the format yyyy-MM-dd or today.",
            "in": "path",
            "name": "base-date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "The end date of the range.",
            "in": "path",
            "name": "end-date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful request."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Body"
        ],
        "description": "Retreives a list of all user's body fat log entries for a given day in the format requested.",
        "operationId": "getBodyFatByDateRange",
        "summary": "Get Body Fat Logs"
      }
    },
    "/1/user/-/body/log/fat/date/{date}.json": {
      "get": {
        "parameters": [
          {
            "description": "The date in the format yyyy-MM-dd.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful request."
          },
          "400": {
            "description": "The request had bad syntax or was inherently impossible to be satified."
          },
          "401": {
            "description": "The request requires user authentication."
          }
        },
        "security": [
          {
            "oauth2": [
              "activity",
              "heartrate",
              "location",
              "nutrition",
              "profile",
              "settings",
              "sleep",
              "social",
              "weight"
            ]
          }
        ],
        "tags": [
          "Body"
        ],
[...]
