{
  "openapi": "3.0.3",
  "info": {
    "title": "Shippify API",
    "description": "Shippify provides powerful logistics tools with the most advanced technology on the market to deliver and track your shipments. The API allows creating deliveries, getting quotes, managing routes, and tracking shipments.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.shippify.co/deliveries/general/create-deliveries/create-delivery"
  },
  "servers": [
    {
      "url": "https://api.shippify.co",
      "description": "Shippify Production API"
    }
  ],
  "paths": {
    "/v1/country": {
      "get": {
        "operationId": "getCountries",
        "summary": "Get countries",
        "description": "Test endpoint for validating credentials and API connectivity.",
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/deliveries": {
      "post": {
        "operationId": "createDeliveries",
        "summary": "Create deliveries",
        "description": "Create one or more deliveries (up to 100 per request).",
        "tags": [
          "Deliveries"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDeliveriesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deliveries created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDeliveriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/deliveries/{id}/complete": {
      "get": {
        "operationId": "getDeliveryInfo",
        "summary": "Get delivery information",
        "description": "Retrieve complete information about a specific delivery.",
        "tags": [
          "Deliveries"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Delivery ID or reference ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryCompleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/deliveries/dropoff": {
      "patch": {
        "operationId": "modifyDelivery",
        "summary": "Modify delivery dropoff",
        "description": "Modify dropoff details for one or more deliveries (up to 10).",
        "tags": [
          "Deliveries"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModifyDeliveryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Delivery modified successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/deliveries/{id}/status": {
      "patch": {
        "operationId": "changeDeliveryStatus",
        "summary": "Change delivery status",
        "description": "Update the status of a specific delivery.",
        "tags": [
          "Deliveries"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Delivery ID or reference ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status changed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/deliveries/token/{id}": {
      "get": {
        "operationId": "getTrackingLink",
        "summary": "Get delivery tracking link",
        "description": "Retrieve the tracking link and token for a specific delivery.",
        "tags": [
          "Tracking"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Delivery ID or reference ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tracking link retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/pricing/quotes/available": {
      "post": {
        "operationId": "getDeliveryQuote",
        "summary": "Get delivery quotation",
        "description": "Get pricing quotes for deliveries before creating them.",
        "tags": [
          "Pricing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDeliveriesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quotation retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuotationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/integrations/deliveries/labels": {
      "post": {
        "operationId": "printDeliveryLabels",
        "summary": "Print delivery labels",
        "description": "Generate and download PDF labels for one or more deliveries.",
        "tags": [
          "Tracking"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrintLabelsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PDF labels generated successfully",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/routes/create": {
      "post": {
        "operationId": "createRoutes",
        "summary": "Create routes",
        "description": "Create optimized routes from given deliveries.",
        "tags": [
          "Routes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRoutesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Routes created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/routes/add": {
      "patch": {
        "operationId": "addDeliveryToRoute",
        "summary": "Add delivery to route",
        "description": "Add one or more deliveries to an existing route.",
        "tags": [
          "Routes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddDeliveryToRouteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deliveries added to route successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/routes/{id}/assign": {
      "post": {
        "operationId": "assignDriverToRoute",
        "summary": "Assign driver to delivery or route",
        "description": "Assign a courier/driver to a delivery or route by courier ID, vehicle ID, vehicle reference, or by creating a new driver.",
        "tags": [
          "Routes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Delivery or route ID or reference ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignDriverRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Driver assigned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/routes/{id}/status": {
      "patch": {
        "operationId": "changeRouteStatus",
        "summary": "Change route status",
        "description": "Update the status of a specific route.",
        "tags": [
          "Routes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Route ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Route status changed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Authentication using APP_ID and APP_SECRET obtained from the Shippify dashboard."
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Authentication failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "BasicResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "JobResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "jobs": {
                "type": "string"
              }
            }
          }
        }
      },
      "ContactInfo": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Contact name"
          },
          "email": {
            "type": "string",
            "description": "Contact email"
          },
          "phonenumber": {
            "type": "string",
            "description": "Contact phone number"
          }
        },
        "required": [
          "name"
        ]
      },
      "LocationInfo": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "Full address"
          },
          "instructions": {
            "type": "string",
            "description": "Special instructions for the location"
          },
          "lat": {
            "type": "string",
            "description": "Latitude"
          },
          "lng": {
            "type": "string",
            "description": "Longitude"
          },
          "warehouse": {
            "type": "integer",
            "description": "Pre-configured warehouse ID"
          }
        },
        "required": [
          "address"
        ]
      },
      "PackageInfo": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Package name"
          },
          "qty": {
            "type": "integer",
            "description": "Quantity"
          },
          "size": {
            "type": "string",
            "enum": [
              "xs",
              "s",
              "m",
              "l",
              "xl"
            ],
            "description": "Package size"
          },
          "weight": {
            "type": "number",
            "description": "Package weight"
          },
          "price": {
            "type": "number",
            "description": "Package price"
          }
        },
        "required": [
          "name",
          "qty",
          "size"
        ]
      },
      "PickupInfo": {
        "type": "object",
        "properties": {
          "contact": {
            "$ref": "#/components/schemas/ContactInfo"
          },
          "location": {
            "$ref": "#/components/schemas/LocationInfo"
          }
        },
        "required": [
          "contact",
          "location"
        ]
      },
      "DropoffInfo": {
        "type": "object",
        "properties": {
          "contact": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ContactInfo"
              }
            ],
            "description": "Dropoff contact (email is required)"
          },
          "location": {
            "$ref": "#/components/schemas/LocationInfo"
          }
        },
        "required": [
          "contact",
          "location"
        ]
      },
      "DeliveryItem": {
        "type": "object",
        "properties": {
          "pickup": {
            "$ref": "#/components/schemas/PickupInfo"
          },
          "dropoff": {
            "$ref": "#/components/schemas/DropoffInfo"
          },
          "packages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PackageInfo"
            },
            "minItems": 1,
            "description": "List of packages"
          },
          "referenceId": {
            "type": "string",
            "maxLength": 40,
            "description": "External order identifier"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Digital labels for filtering"
          },
          "extraData": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            },
            "description": "Additional metadata key-value pairs"
          },
          "cod": {
            "type": "number",
            "description": "Cash-on-delivery amount"
          }
        },
        "required": [
          "pickup",
          "dropoff",
          "packages"
        ]
      },
      "CreateDeliveriesRequest": {
        "type": "object",
        "properties": {
          "companyId": {
            "type": "integer",
            "description": "Company identifier where the delivery will be created"
          },
          "type": {
            "type": "string",
            "enum": [
              "flex",
              "express",
              "slot"
            ],
            "default": "slot",
            "description": "Delivery type"
          },
          "deliveries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeliveryItem"
            },
            "maxItems": 100,
            "description": "List of deliveries to create"
          }
        },
        "required": [
          "deliveries"
        ]
      },
      "CreateDeliveriesResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "payload": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreatedDelivery"
            }
          }
        }
      },
      "CreatedDelivery": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer"
          },
          "id": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "currencyCode": {
            "type": "string"
          },
          "distance": {
            "type": "number"
          },
          "cityId": {
            "type": "integer"
          },
          "destinationCityId": {
            "type": "integer"
          },
          "insurance": {
            "type": "number"
          },
          "statusDelivery": {
            "type": "string"
          },
          "vehicleCapacity": {
            "type": "integer"
          },
          "deliveryDate": {
            "type": "string",
            "format": "date-time"
          },
          "trackLink": {
            "type": "string"
          },
          "referenceId": {
            "type": "string"
          }
        }
      },
      "DeliveryCompleteResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Delivery identifier"
          },
          "route": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "order": {
                "type": "integer"
              }
            }
          },
          "recipient": {
            "$ref": "#/components/schemas/ContactInfo"
          },
          "pickup": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string"
              }
            }
          },
          "dropoff": {
            "type": "object",
            "properties": {
              "location": {
                "$ref": "#/components/schemas/LocationInfo"
              },
              "date": {
                "type": "string"
              }
            }
          },
          "courier": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              },
              "vehicle": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string"
                  },
                  "brand": {
                    "type": "string"
                  },
                  "licensePlate": {
                    "type": "string"
                  }
                }
              },
              "currentLocation": {
                "type": "object",
                "properties": {
                  "lat": {
                    "type": "number"
                  },
                  "lng": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PackageInfo"
            }
          },
          "status": {
            "type": "integer"
          },
          "_status": {
            "type": "string"
          },
          "status_lang": {
            "type": "string"
          },
          "distance": {
            "type": "number"
          },
          "company": {
            "type": "string"
          },
          "referenceId": {
            "type": "string"
          },
          "reasonId": {
            "type": "string"
          },
          "reasonText": {
            "type": "string"
          },
          "problem_note": {
            "type": "string"
          },
          "lastStatusDate": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ModifyDeliveryRequest": {
        "type": "object",
        "properties": {
          "deliveryIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 10,
            "description": "List of delivery IDs to modify (use either this or referenceIds)"
          },
          "referenceIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 10,
            "description": "List of reference IDs to modify (use either this or deliveryIds)"
          },
          "deliveryChanges": {
            "$ref": "#/components/schemas/DeliveryChanges"
          },
          "recalculatePrice": {
            "type": "boolean",
            "description": "Recalculate price after modification"
          },
          "reorderRoute": {
            "type": "boolean",
            "description": "Reorder route if delivery belongs to one"
          },
          "recalculateCity": {
            "type": "boolean",
            "description": "Recalculate city after modification"
          }
        },
        "required": [
          "deliveryChanges"
        ]
      },
      "DeliveryChanges": {
        "type": "object",
        "properties": {
          "location": {
            "$ref": "#/components/schemas/LocationInfo"
          },
          "contact": {
            "$ref": "#/components/schemas/ContactInfo"
          },
          "packages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PackageInfo"
            }
          },
          "cod": {
            "type": "number",
            "minimum": 0,
            "description": "Cash-on-delivery amount"
          },
          "referenceId": {
            "type": "string",
            "maxLength": 40,
            "description": "External order identifier"
          },
          "addTags": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Tag IDs to add"
          },
          "removeTags": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Tag IDs to remove"
          }
        }
      },
      "StatusEnum": {
        "type": "string",
        "enum": [
          "pending_to_review",
          "processing",
          "broadcasting",
          "assigned",
          "confirmed_to_pickup",
          "going_to_pickup",
          "at_pickup",
          "on_delivery",
          "going_to_dropoff",
          "at_dropoff",
          "dropped_off",
          "completed",
          "canceled",
          "going_to_return",
          "at_return_point",
          "returned",
          "not_picked_up",
          "not_picked_up_payable",
          "hold_by_courier"
        ]
      },
      "AuthorInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "User identifier"
          },
          "type": {
            "type": "string",
            "enum": [
              "operator",
              "admin"
            ],
            "description": "User type"
          },
          "name": {
            "type": "string",
            "description": "User name"
          },
          "email": {
            "type": "string",
            "description": "User email"
          }
        },
        "required": [
          "id",
          "type",
          "name",
          "email"
        ]
      },
      "ReasonByCompany": {
        "type": "object",
        "properties": {
          "reasonId": {
            "type": "integer"
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "ChangeStatusRequest": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/StatusEnum"
          },
          "comment": {
            "type": "string",
            "description": "Description of the status change"
          },
          "author": {
            "$ref": "#/components/schemas/AuthorInfo"
          },
          "reasonByCompany": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReasonByCompany"
            },
            "description": "Predefined reasons for the status change"
          }
        },
        "required": [
          "status",
          "comment",
          "author"
        ]
      },
      "TrackingLinkResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "Authentication token for tracking"
          },
          "url": {
            "type": "string",
            "description": "Tracking URL with token"
          },
          "recipient": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              }
            }
          }
        }
      },
      "QuotationResponse": {
        "type": "object",
        "properties": {
          "quotes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "timeWindows": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "totalPrice": {
                  "type": "number"
                }
              }
            }
          },
          "deliveries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "distance": {
                  "type": "number"
                },
                "currency": {
                  "type": "string"
                },
                "quoteId": {
                  "type": "string"
                }
              }
            }
          },
          "type": {
            "type": "string"
          }
        }
      },
      "PrintLabelsRequest": {
        "type": "object",
        "properties": {
          "deliveryIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Delivery IDs for which to print labels"
          },
          "referenceIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Reference IDs for which to print labels"
          }
        }
      },
      "CreateRoutesRequest": {
        "type": "object",
        "properties": {
          "routes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "deliveries": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 2,
                  "description": "Delivery IDs to include in the route"
                }
              },
              "required": [
                "deliveries"
              ]
            },
            "description": "Routes to create"
          },
          "iterations": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10,
            "description": "Optimization level (1=minimal, 10=maximum)"
          }
        },
        "required": [
          "routes",
          "iterations"
        ]
      },
      "AddDeliveryToRouteRequest": {
        "type": "object",
        "properties": {
          "routeId": {
            "type": "string",
            "description": "Route ID to add deliveries to"
          },
          "deliveries": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Delivery IDs to add to the route"
          }
        },
        "required": [
          "routeId",
          "deliveries"
        ]
      },
      "AssignDriverRequest": {
        "type": "object",
        "properties": {
          "courierId": {
            "type": "integer",
            "description": "Courier ID to assign"
          },
          "vehicleId": {
            "type": "integer",
            "description": "Vehicle ID to assign"
          },
          "vehicleReferenceId": {
            "type": "string",
            "description": "Vehicle reference ID to assign"
          },
          "driver": {
            "type": "object",
            "properties": {
              "firstName": {
                "type": "string"
              },
              "lastName": {
                "type": "string"
              },
              "dni": {
                "type": "string"
              },
              "mobile": {
                "type": "string"
              }
            },
            "required": [
              "firstName",
              "lastName",
              "dni",
              "mobile"
            ],
            "description": "Create and assign a new driver"
          },
          "vehicle": {
            "type": "object",
            "properties": {
              "capacity": {
                "type": "integer",
                "minimum": 1,
                "maximum": 5
              },
              "model": {
                "type": "string"
              },
              "brand": {
                "type": "string"
              },
              "licensePlate": {
                "type": "string"
              },
              "referenceId": {
                "type": "string"
              }
            },
            "required": [
              "capacity",
              "model",
              "brand",
              "licensePlate",
              "referenceId"
            ],
            "description": "Create and assign a new vehicle"
          }
        }
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Deliveries",
      "description": "Create, modify, and manage deliveries"
    },
    {
      "name": "Pricing",
      "description": "Delivery quotation and pricing"
    },
    {
      "name": "Routes",
      "description": "Create and manage delivery routes"
    },
    {
      "name": "Tracking",
      "description": "Delivery tracking and labels"
    },
    {
      "name": "Health",
      "description": "API health and connectivity checks"
    }
  ]
}