{
  "openapi": "3.0.3",
  "info": {
    "title": "Ticketbud API",
    "version": "1.0.0",
    "description": "The Ticketbud API allows you to access event and ticket data from Ticketbud. Authenticate using OAuth 2.0 to access events, tickets, check-in functionality, and sales data.",
    "contact": {
      "name": "Ticketbud Developer Support",
      "url": "https://api.ticketbud.com"
    },
    "x-jentic-source-url": "https://api.ticketbud.com"
  },
  "servers": [
    { "url": "https://api.ticketbud.com" }
  ],
  "security": [
    { "oauth2": [] }
  ],
  "tags": [
    { "name": "User", "description": "User account operations" },
    { "name": "Events", "description": "Event management" },
    { "name": "Tickets", "description": "Ticket management and check-in" }
  ],
  "paths": {
    "/me.json": {
      "get": {
        "operationId": "getCurrentUser",
        "tags": ["User"],
        "summary": "Get current user",
        "description": "Get current user credentials if logged in and authorized.",
        "parameters": [
          { "name": "access_token", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UserResponse" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/events.json": {
      "get": {
        "operationId": "listEvents",
        "tags": ["Events"],
        "summary": "List events",
        "description": "Get a JSON response of all your events.",
        "parameters": [
          { "name": "access_token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EventsResponse" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/events/{id}.json": {
      "get": {
        "operationId": "getEvent",
        "tags": ["Events"],
        "summary": "Get a single event",
        "description": "Get JSON response for a single event.",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "name": "access_token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EventResponse" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/events/{id}/totals.json": {
      "get": {
        "operationId": "getEventTotals",
        "tags": ["Events"],
        "summary": "Get event totals",
        "description": "Get JSON response for event totals to a single event.",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "name": "access_token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EventTotalsResponse" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/events/{event_id}/tickets.json": {
      "get": {
        "operationId": "listEventTickets",
        "tags": ["Tickets"],
        "summary": "List tickets for an event",
        "description": "Get JSON response for all tickets to an event.",
        "parameters": [
          { "name": "event_id", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "name": "access_token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TicketsResponse" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/events/{event_id}/tickets/{id}.json": {
      "get": {
        "operationId": "getTicket",
        "tags": ["Tickets"],
        "summary": "Get a single ticket",
        "description": "Get JSON response for a single ticket by ID or barcode.",
        "parameters": [
          { "name": "event_id", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "access_token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TicketResponse" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/events/{event_id}/tickets/{id}/check_in.json": {
      "put": {
        "operationId": "checkInTicket",
        "tags": ["Tickets"],
        "summary": "Check in a ticket",
        "description": "Check in or un-check in a single ticket.",
        "parameters": [
          { "name": "event_id", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "access_token", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "reverse", "in": "query", "required": false, "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CheckInResponse" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/events/{event_id}/ticket_sales": {
      "get": {
        "operationId": "getTicketSales",
        "tags": ["Events"],
        "summary": "Get ticket sales",
        "description": "Get JSON response for event totals by ticket type.",
        "parameters": [
          { "name": "event_id", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "name": "access_token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EventTotalsResponse" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "operationId": "getAccessToken",
        "tags": ["User"],
        "summary": "Get OAuth access token",
        "description": "Exchange authorization code for access token.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["client_id", "client_secret", "code", "grant_type", "redirect_uri"],
                "properties": {
                  "client_id": { "type": "string" },
                  "client_secret": { "type": "string" },
                  "code": { "type": "string" },
                  "grant_type": { "type": "string", "enum": ["authorization_code"] },
                  "redirect_uri": { "type": "string", "format": "uri" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TokenResponse" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.ticketbud.com/oauth/authorize",
            "tokenUrl": "https://api.ticketbud.com/oauth/token",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "full_name": { "type": "string" },
          "first_name": { "type": "string" },
          "last_name": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "default_subdomain": { "type": "string" },
          "image": { "type": "string" },
          "event_ids": { "type": "array", "items": { "type": "integer" } }
        }
      },
      "UserResponse": {
        "type": "object",
        "properties": {
          "user": { "$ref": "#/components/schemas/User" }
        }
      },
      "EventLocation": {
        "type": "object",
        "properties": {
          "address": { "type": "string", "nullable": true },
          "address2": { "type": "string", "nullable": true },
          "city": { "type": "string", "nullable": true },
          "state": { "type": "string", "nullable": true },
          "zip": { "type": "string", "nullable": true },
          "country": { "type": "string", "nullable": true },
          "latitude": { "type": "string" },
          "longitude": { "type": "string" },
          "name": { "type": "string", "nullable": true },
          "location": { "type": "string" }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "title": { "type": "string" },
          "event_start": { "type": "string", "format": "date-time" },
          "event_end": { "type": "string", "format": "date-time" },
          "time_zone": { "type": "string" },
          "image": { "type": "string" },
          "tickets_available": { "type": "integer" },
          "sold_out": { "type": "boolean" },
          "over": { "type": "boolean" },
          "organizer_id": { "type": "integer" },
          "event_location": { "$ref": "#/components/schemas/EventLocation" }
        }
      },
      "EventsResponse": {
        "type": "object",
        "properties": {
          "events": { "type": "array", "items": { "$ref": "#/components/schemas/Event" } }
        }
      },
      "EventResponse": {
        "type": "object",
        "properties": {
          "event": { "$ref": "#/components/schemas/Event" }
        }
      },
      "EventTotals": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "uuid": { "type": "string" },
          "currency": { "type": "string" },
          "free_tickets_count": { "type": "string" },
          "sold_tickets_count": { "type": "integer" },
          "sales_total": { "type": "number" },
          "total_payout": { "type": "number" },
          "sales_by_ticket_type": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": { "type": "string" },
                "quantity": { "type": "integer" },
                "sold": { "type": "integer" },
                "available": { "type": "integer" }
              }
            }
          }
        }
      },
      "EventTotalsResponse": {
        "type": "object",
        "properties": {
          "event": { "$ref": "#/components/schemas/EventTotals" }
        }
      },
      "Purchaser": {
        "type": "object",
        "properties": {
          "status": { "type": "string" },
          "full_name": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "price_paid": { "type": "number" },
          "total_quantity": { "type": "integer" }
        }
      },
      "CustomField": {
        "type": "object",
        "properties": {
          "label": { "type": "string" },
          "response": { "type": "string" }
        }
      },
      "Ticket": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "event_id": { "type": "integer" },
          "name_on_ticket": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "checked_in": { "type": "boolean" },
          "barcode": { "type": "string" },
          "barcode_url": { "type": "string" },
          "ticket_type": { "type": "string" },
          "purchaser": { "$ref": "#/components/schemas/Purchaser" },
          "custom_fields": { "type": "array", "items": { "$ref": "#/components/schemas/CustomField" } }
        }
      },
      "TicketsResponse": {
        "type": "object",
        "properties": {
          "tickets": { "type": "array", "items": { "$ref": "#/components/schemas/Ticket" } }
        }
      },
      "TicketResponse": {
        "type": "object",
        "properties": {
          "ticket": { "$ref": "#/components/schemas/Ticket" }
        }
      },
      "CheckInResponse": {
        "type": "object",
        "properties": {
          "ticket": { "$ref": "#/components/schemas/Ticket" },
          "meta": {
            "type": "object",
            "properties": {
              "check_in_count": { "type": "integer" },
              "total_to_scan": { "type": "integer" }
            }
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": { "type": "string" },
          "token_type": { "type": "string" },
          "expires_in": { "type": "integer" },
          "refresh_token": { "type": "string" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "message": { "type": "string" }
        }
      }
    }
  }
}
