{
  "openapi": "3.0.3",
  "servers": [
    {
      "url": "https://app.trackfront.com/api/v1"
    }
  ],
  "info": {
    "version": "1.0.0",
    "title": "TrackFront V1",
    "description": "",
    "x-jentic-source-url": "https://app.trackfront.com/api/swagger/index.php"
  },
  "paths": {
    "/accounts/contacts": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Returns list of contacts by account",
        "description": "",
        "operationId": "getContacts",
        "parameters": [],
        "security": [
          {
            "oAuth2ClientCredentials": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contacts"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/contacts/{organization_id}": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Returns list of contacts in organization",
        "description": "",
        "operationId": "getContactsByOrg",
        "parameters": [
          {
            "in": "path",
            "name": "organization_id",
            "schema": {
              "type": "integer"
            },
            "description": "Id of the organization",
            "required": true
          }
        ],
        "security": [
          {
            "oAuth2ClientCredentials": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contacts"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/contacts/{searchstring}": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Returns list of contacts that match search string",
        "description": "",
        "operationId": "getContactsBySearch",
        "security": [
          {
            "oAuth2ClientCredentials": [
              "read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "searchstring",
            "schema": {
              "type": "string"
            },
            "description": "Search string ",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/contacts/{contact_id}": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Returns contact by id",
        "security": [
          {
            "oAuth2ClientCredentials": [
              "read"
            ]
          }
        ],
        "description": "",
        "operationId": "getContact",
        "parameters": [
          {
            "in": "path",
            "name": "contact_id",
            "schema": {
              "type": "integer"
            },
            "description": "Id contact",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "accounts"
        ],
        "summary": "Deletes contact from account",
        "description": "",
        "operationId": "deleteContact",
        "parameters": [
          {
            "in": "path",
            "name": "contact_id",
            "description": "Id contact",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/accounts/contact/": {
      "post": {
        "tags": [
          "accounts"
        ],
        "summary": "Create contact",
        "description": "",
        "operationId": "postContact",
        "requestBody": {
          "description": "Contact Object",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "accounts"
        ],
        "summary": "Update existing contact",
        "description": "",
        "operationId": "putContact",
        "requestBody": {
          "description": "Contact Object",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/users": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Returns list of users by account",
        "description": "",
        "operationId": "getUsers",
        "parameters": [],
        "security": [
          {
            "oAuth2ClientCredentials": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/users/{organization_id}": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Returns list of users in organization",
        "description": "",
        "operationId": "getUsersByOrg",
        "parameters": [
          {
            "in": "path",
            "name": "organization_id",
            "schema": {
              "type": "integer"
            },
            "description": "Id of the organization",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/users/{searchstring}": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Returns list of users that match search string",
        "description": "",
        "operationId": "getUsersBySearch",
        "parameters": [
          {
            "name": "searchstring",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "description": "Search string ",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/users/{contact_id}": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Returns user by id",
        "description": "",
        "operationId": "getUser",
        "parameters": [
          {
            "in": "path",
            "name": "contact_id",
            "schema": {
              "type": "integer"
            },
            "description": "Id of the organization",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "accounts"
        ],
        "summary": "Deletes user from account",
        "description": "",
        "operationId": "deleteUser",
        "parameters": [
          {
            "in": "path",
            "name": "contact_id",
            "schema": {
              "type": "integer"
            },
            "description": "Id of the organization",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/user/": {
      "post": {
        "tags": [
          "accounts"
        ],
        "summary": "Create user",
        "description": "",
        "operationId": "postUser",
        "requestBody": {
          "description": "Contact Object",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "accounts"
        ],
        "summary": "Update existing user",
        "description": "",
        "operationId": "putUser",
        "requestBody": {
          "description": "Contact Object",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/estimates": {
      "get": {
        "tags": [
          "estimates"
        ],
        "summary": "Returns list of estimates by filter",
        "parameters": [
          {
            "in": "query",
            "name": "fields",
            "required": false,
            "description": "List of fields to show",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Estimates"
                }
              }
            }
          }
        }
      }
    },
    "/projects/tracking": {
      "post": {
        "tags": [
          "tracking"
        ],
        "summary": "create new tracking object",
        "description": "",
        "operationId": "putTracking",
        "requestBody": {
          "description": "Tracking Object",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tracking"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tracking"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "tracking"
        ],
        "summary": "update existing tracking object",
        "description": "",
        "operationId": "putTracking",
        "requestBody": {
          "description": "Tracking Object",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tracking"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tracking"
                }
              }
            }
          }
        }
      }
    },
    "/projects/tracking/{tracking_id}": {
      "get": {
        "tags": [
          "tracking"
        ],
        "summary": "Returns tracking objecty by id",
        "parameters": [
          {
            "in": "path",
            "name": "tracking_id",
            "schema": {
              "type": "integer"
            },
            "description": "Id of the tracking object",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tracking"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "tracking"
        ],
        "summary": "Deletes tracking object",
        "description": "",
        "operationId": "deleteTracking",
        "parameters": [
          {
            "in": "path",
            "name": "tracking_id",
            "schema": {
              "type": "integer"
            },
            "description": "Id of the tracking object",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/trackings/start/{project_id}/{estimate_item_id}": {
      "get": {
        "tags": [
          "tracking"
        ],
        "summary": "Starts a tracking time and returns object",
        "parameters": [
          {
            "in": "path",
            "name": "project_id",
            "schema": {
              "type": "integer"
            },
            "description": "Id Project",
            "required": true
          },
          {
            "in": "path",
            "name": "estimate_item_id",
            "schema": {
              "type": "integer"
            },
            "description": "Id Estimate Item",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tracking"
                }
              }
            }
          }
        }
      }
    },
    "/trackings/stop/{note}": {
      "get": {
        "tags": [
          "tracking"
        ],
        "summary": "stops a tracking time",
        "parameters": [
          {
            "in": "path",
            "name": "note",
            "schema": {
              "type": "string"
            },
            "description": "Note",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tracking"
                }
              }
            }
          }
        }
      }
    },
    "/trackings/projects/": {
      "get": {
        "tags": [
          "tracking"
        ],
        "summary": "Returns list  of open projects assigned to user",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/projecttracker"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/trackings/items/{project_id}": {
      "get": {
        "tags": [
          "tracking"
        ],
        "summary": "Returns a list of tracking groups and items for a project",
        "parameters": [
          {
            "in": "path",
            "name": "project_id",
            "schema": {
              "type": "integer"
            },
            "description": "Id Project",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/estimategroup"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/trackings/recent/{tracking_type}": {
      "get": {
        "tags": [
          "tracking"
        ],
        "summary": "return last 20 time entries for user",
        "parameters": [
          {
            "in": "path",
            "name": "tracking_type",
            "schema": {
              "type": "integer"
            },
            "description": "Itracking type",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/tracking"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "projecttracker": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "estimate_id": {
            "type": "integer"
          },
          "start_date": {
            "type": "string"
          }
        }
      },
      "estimategroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/estimateitem"
            }
          }
        }
      },
      "estimateitem": {
        "type": "object",
        "properties": {
          "estimate_title": {
            "type": "string"
          },
          "estimate_id": {
            "type": "integer"
          },
          "group_id": {
            "type": "integer"
          },
          "item_id": {
            "type": "integer"
          },
          "item_name": {
            "type": "string"
          },
          "item_description": {
            "type": "string"
          }
        }
      },
      "projecttime": {
        "type": "object",
        "properties": {
          "project_id": {
            "type": "integer"
          },
          "project_name": {
            "type": "string"
          }
        }
      },
      "tracking": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "start_time": {
            "type": "string"
          },
          "duration": {
            "type": "integer"
          },
          "note": {
            "type": "string"
          },
          "project_id": {
            "type": "integer"
          },
          "estimate_item_id": {
            "type": "integer"
          },
          "tracking_type": {
            "type": "integer"
          },
          "amount": {
            "type": "number"
          }
        }
      },
      "Estimate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "estimate_ref_id": {
            "type": "integer"
          },
          "parent_version_id": {
            "type": "integer"
          },
          "estimate_id": {
            "type": "integer"
          },
          "default_selected": {
            "type": "boolean"
          },
          "version_id": {
            "type": "integer"
          },
          "type_id": {
            "type": "integer"
          },
          "dated": {
            "type": "string"
          },
          "organization_id": {
            "type": "integer"
          },
          "category_id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "creator_id": {
            "type": "integer"
          },
          "owner_id": {
            "type": "integer"
          },
          "client_id": {
            "type": "integer"
          },
          "status_id": {
            "type": "integer"
          },
          "inside_address": {
            "type": "string"
          },
          "template": {
            "type": "boolean"
          },
          "template_name": {
            "type": "string"
          },
          "content_footer": {
            "type": "string"
          },
          "content_terms_conditions": {
            "type": "string"
          },
          "acceptance_user_id": {
            "type": "integer"
          },
          "acceptance_time": {
            "type": "string"
          },
          "account_id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string"
          },
          "archived": {
            "type": "boolean"
          },
          "visibility": {
            "type": "boolean"
          },
          "total": {
            "type": "integer"
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "contacts": {
            "$ref": "#/components/schemas/Contacts"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "avatar": {
            "type": "string"
          },
          "organizations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrganizationShort"
            }
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "organization_name": {
            "type": "string"
          },
          "role": {
            "$ref": "#/components/schemas/Role"
          }
        }
      },
      "Role": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "user_role_id": {
            "type": "integer"
          },
          "account_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "machine_name": {
            "type": "string"
          },
          "permission": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/machine_name"
            }
          }
        }
      },
      "Organization": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "addresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "line1": {
            "type": "string"
          },
          "line2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "is_default": {
            "type": "integer"
          }
        }
      },
      "Status": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "machine_name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "PaymentTerm": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "sort": {
            "type": "integer"
          }
        }
      },
      "machine_name": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "machine_name": {
            "type": "string"
          },
          "permission": {
            "type": "boolean"
          }
        }
      },
      "UserShort": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          }
        }
      },
      "Estimates": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Estimate"
        }
      },
      "Contacts": {
        "type": "object",
        "properties": {
          "internal": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactShort"
            }
          },
          "external": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactShort"
            }
          }
        }
      },
      "OrganizationShort": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "ContactShort": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "primary": {
            "type": "boolean"
          },
          "avatar": {
            "type": "string"
          }
        }
      },
      "TOC": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "oAuth2ClientCredentials": {
        "type": "oauth2",
        "description": "This API uses OAuth 2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "v1/oauth/access_token",
            "scopes": {
              "read": "Grants read access"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "oAuth2ClientCredentials": []
    }
  ]
}