{
  "openapi": "3.0.3",
  "info": {
    "title": "Shiptheory API",
    "description": "Shiptheory provides a REST API that allows you to communicate directly with all supported carriers. This API covers creating and searching shipments, printing shipping labels and return labels, as well as returning lists of available delivery services and package sizes.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://shiptheory.com/developer/",
    "contact": {
      "name": "Shiptheory Support",
      "email": "support@shiptheory.com",
      "url": "https://shiptheory.com"
    }
  },
  "servers": [
    {
      "url": "https://api.shiptheory.com/v1"
    }
  ],
  "paths": {
    "/token": {
      "post": {
        "operationId": "authenticate",
        "summary": "Obtain authentication token",
        "description": "Use your Shiptheory email and password to request a bearer token. Tokens expire after 60 minutes.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized - Invalid credentials"
          }
        }
      }
    },
    "/shipments": {
      "post": {
        "operationId": "bookShipment",
        "summary": "Book a shipment",
        "description": "Add a shipment to Shiptheory and book it with a carrier.",
        "tags": [
          "Shipments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BookShipmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Shipment booked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookShipmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/shipments/{reference}": {
      "get": {
        "operationId": "viewShipment",
        "summary": "View shipment details",
        "description": "Retrieve the status, created and last modified datetime, tracking number and label data of an existing shipment. Shipping label PDFs are returned as a base64 encoded string.",
        "tags": [
          "Shipments"
        ],
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "description": "The unique reference used when creating the shipment",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shipment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ViewShipmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Shipment not found"
          }
        }
      }
    },
    "/shipments/list": {
      "get": {
        "operationId": "listShipments",
        "summary": "List shipments",
        "description": "Search shipments in a Shiptheory account by specifying GET parameters. Supports pagination with max 100 results per page.",
        "tags": [
          "Shipments"
        ],
        "parameters": [
          {
            "name": "created",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "YYYY-MM-DD. The shipment created date"
          },
          {
            "name": "modified",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "YYYY-MM-DD. The shipment last modified date"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Failed",
                "Complete",
                "Ready",
                "Ignored",
                "Not Ready",
                "Print Error",
                "Waiting",
                "PROCESSING"
              ]
            },
            "description": "Shipment status (case sensitive)"
          },
          {
            "name": "channel_name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sales channel name, e.g. Magento"
          },
          {
            "name": "channel_reference_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Unique reference from sales channel"
          },
          {
            "name": "channel_reference_id_2",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Second sales channel reference"
          },
          {
            "name": "Couriers.couriername",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Case sensitive carrier name"
          },
          {
            "name": "Countries.code",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "3 character country ISO code"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "modified"
              ]
            },
            "description": "Sort field"
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort direction"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 100
            },
            "description": "Results per page (max 100)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of shipments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListShipmentsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/shipments/search": {
      "get": {
        "operationId": "searchShipments",
        "summary": "Search shipments",
        "description": "Search shipments with date range filters. Max date range is 365 days.",
        "tags": [
          "Shipments"
        ],
        "parameters": [
          {
            "name": "created_from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "YYYY-MM-DD. Date range start"
          },
          {
            "name": "created_to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "YYYY-MM-DD. Date range end (max 365 days)"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Results to return (1-100)"
          },
          {
            "name": "include_products",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1"
              ]
            },
            "description": "Set to 1 to include product data"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Failed",
                "Complete",
                "Ready",
                "Ignored",
                "Not Ready",
                "Print Error",
                "Waiting",
                "PROCESSING"
              ]
            },
            "description": "Shipment status (case sensitive)"
          },
          {
            "name": "channel_name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sales channel name"
          },
          {
            "name": "channel_reference_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Unique reference from sales channel"
          },
          {
            "name": "channel_reference_id_2",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Second sales channel reference"
          },
          {
            "name": "Couriers.couriername",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Case sensitive carrier name"
          },
          {
            "name": "Countries.code",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "3 character country ISO code"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListShipmentsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/picking_lists/download": {
      "post": {
        "operationId": "downloadPickingList",
        "summary": "Download picking list PDF",
        "description": "Download a picking list PDF for specified shipments.",
        "tags": [
          "Picking Lists"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PickingListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Picking list PDF as base64",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PickingListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/returns": {
      "post": {
        "operationId": "createReturnLabel",
        "summary": "Create a return label",
        "description": "Create a return label from an existing shipment. Address, order and product data are taken from the existing shipment.",
        "tags": [
          "Returns"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReturnRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return label created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnLabelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "operationId": "listReturns",
        "summary": "List return shipments",
        "description": "Search return shipments. Max date range is 365 days. Supports pagination with max 100 results per page.",
        "tags": [
          "Returns"
        ],
        "parameters": [
          {
            "name": "created_from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "YYYY-MM-DD. Start date"
          },
          {
            "name": "created_to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "YYYY-MM-DD. End date (defaults to today)"
          },
          {
            "name": "tracking_numbers",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of shipment tracking numbers"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created"
              ]
            },
            "description": "Sort field"
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort direction"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 100
            },
            "description": "Results per page (max 100)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of returns",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListReturnsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/services": {
      "get": {
        "operationId": "listOutgoingServices",
        "summary": "List outgoing delivery services",
        "description": "Returns a list of outgoing delivery services available on your Shiptheory account.",
        "tags": [
          "Delivery Services"
        ],
        "responses": {
          "200": {
            "description": "Delivery services",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutgoingServicesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/services/incoming": {
      "get": {
        "operationId": "listIncomingServices",
        "summary": "List incoming (return) delivery services",
        "description": "Returns a list of incoming (return) delivery services available on your Shiptheory account.",
        "tags": [
          "Delivery Services"
        ],
        "responses": {
          "200": {
            "description": "Return services",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncomingServicesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/packages/sizes": {
      "get": {
        "operationId": "listPackageSizes",
        "summary": "List package sizes",
        "description": "Returns a list of the package sizes set up on your Shiptheory account. Supports pagination.",
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "name",
                "length",
                "width",
                "height",
                "active"
              ]
            },
            "description": "Sort field"
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort direction"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 100
            },
            "description": "Results per page (max 100)"
          }
        ],
        "responses": {
          "200": {
            "description": "Package sizes list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PackageSizesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/products": {
      "post": {
        "operationId": "addProduct",
        "summary": "Add a product",
        "description": "Add a single product with a unique SKU to your Shiptheory account.",
        "tags": [
          "Products"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "operationId": "listProducts",
        "summary": "List products",
        "description": "Returns a list of products in your account. Supports pagination with max 100 results per page.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "sku",
                "name",
                "price",
                "weight",
                "created",
                "modified"
              ]
            },
            "description": "Sort field"
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort direction"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 100
            },
            "description": "Results per page (max 100)"
          }
        ],
        "responses": {
          "200": {
            "description": "Products list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListProductsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/products/view/{sku}": {
      "get": {
        "operationId": "viewProduct",
        "summary": "View a product",
        "description": "Returns a single product based on the SKU.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Product SKU"
          }
        ],
        "responses": {
          "200": {
            "description": "Product details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Product not found"
          }
        }
      }
    },
    "/products/update/{sku}": {
      "put": {
        "operationId": "updateProduct",
        "summary": "Update a product",
        "description": "Update a single product by SKU.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Product SKU"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/rating/couriers": {
      "get": {
        "operationId": "listRatingCouriers",
        "summary": "List rating couriers",
        "description": "Get a list of couriers which can be used in rating requests.",
        "tags": [
          "Rating"
        ],
        "responses": {
          "200": {
            "description": "List of couriers available for rating",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RatingCourier"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/rating": {
      "post": {
        "operationId": "rateShipment",
        "summary": "Get live shipping rates",
        "description": "Get live rates from multiple couriers. This action does not add shipments to Shiptheory's database.",
        "tags": [
          "Rating"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RateShipmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Live rates from couriers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateShipmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/tags": {
      "post": {
        "operationId": "createTag",
        "summary": "Create a tag",
        "description": "Create a new tag.",
        "tags": [
          "Tags"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "operationId": "listTags",
        "summary": "List tags",
        "description": "List all tags.",
        "tags": [
          "Tags"
        ],
        "responses": {
          "200": {
            "description": "Tags list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tag"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/tags/{tagId}": {
      "get": {
        "operationId": "getTag",
        "summary": "Get a tag",
        "description": "Get a single tag by ID.",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "tagId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Tag ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Tag details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Tag not found"
          }
        }
      },
      "patch": {
        "operationId": "updateTag",
        "summary": "Update a tag",
        "description": "Update a tag by ID.",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "tagId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Tag ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteTag",
        "summary": "Delete a tag",
        "description": "Delete a tag by ID.",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "tagId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Tag ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Tag deleted"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/pudo": {
      "get": {
        "operationId": "listPudoLocations",
        "summary": "List PUDO locations",
        "description": "List pickup/drop-off locations.",
        "tags": [
          "PUDO"
        ],
        "responses": {
          "200": {
            "description": "PUDO locations"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token obtained from POST /token. Tokens expire after 60 minutes."
      }
    },
    "schemas": {
      "AuthRequest": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "description": "Shiptheory account email"
          },
          "password": {
            "type": "string",
            "description": "Shiptheory account password"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "token": {
                "type": "string",
                "description": "Bearer token for API requests"
              }
            }
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "company": {
            "type": "string"
          },
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "address_line_1": {
            "type": "string"
          },
          "address_line_2": {
            "type": "string"
          },
          "address_line_3": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "county": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "description": "2 character ISO country code"
          },
          "postcode": {
            "type": "string"
          },
          "telephone": {
            "type": "string"
          },
          "mobile": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "tax_number": {
            "type": "string"
          },
          "what3words": {
            "type": "string"
          },
          "tax_numbers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaxNumber"
            }
          }
        }
      },
      "TaxNumber": {
        "type": "object",
        "properties": {
          "tax_number_type": {
            "type": "string",
            "description": "Tax number type enum"
          },
          "tax_number": {
            "type": "string",
            "description": "Tax number value"
          }
        }
      },
      "ShipmentProduct": {
        "type": "object",
        "required": [
          "name",
          "sku",
          "value",
          "weight"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "sku": {
            "type": "string"
          },
          "qty": {
            "type": "integer"
          },
          "value": {
            "type": "number"
          },
          "weight": {
            "type": "number",
            "description": "Weight in kilograms"
          },
          "commodity_code": {
            "type": "string"
          },
          "commodity_description": {
            "type": "string"
          },
          "commodity_manucountry": {
            "type": "string"
          },
          "commodity_composition": {
            "type": "string"
          },
          "mid_code": {
            "type": "string",
            "maxLength": 25
          },
          "stock_location": {
            "type": "string",
            "maxLength": 100
          },
          "dangerous_goods": {
            "$ref": "#/components/schemas/DangerousGoods"
          }
        }
      },
      "DangerousGoods": {
        "type": "object",
        "properties": {
          "is_dangerous": {
            "type": "boolean"
          },
          "un_number": {
            "type": "string",
            "description": "UN number 0000-9999, no UN prefix"
          },
          "amount": {
            "type": "integer",
            "description": "Deprecated. Use volume/weight instead"
          },
          "unit": {
            "type": "string",
            "enum": [
              "ml",
              "g"
            ],
            "description": "Deprecated"
          },
          "volume": {
            "type": "integer",
            "description": "Volume in ml (1-99999)"
          },
          "weight": {
            "type": "number",
            "description": "Weight in kg (0.001-99999.999)"
          },
          "category": {
            "type": "string",
            "description": "Dangerous goods category, defaults to LQDG"
          },
          "package_type": {
            "type": "string"
          },
          "packing_group": {
            "type": "string",
            "enum": [
              "I",
              "II",
              "III"
            ]
          },
          "is_accessible": {
            "type": "boolean",
            "description": "Whether goods need to be accessible on aircraft (IATA)"
          }
        }
      },
      "ShipmentDetail": {
        "type": "object",
        "required": [
          "weight",
          "parcels",
          "value"
        ],
        "properties": {
          "weight": {
            "type": "number",
            "description": "Weight in kilograms, to three decimal places"
          },
          "parcels": {
            "type": "integer",
            "description": "Number of boxes or labels"
          },
          "value": {
            "type": "number",
            "description": "Monetary shipment cost to customer"
          },
          "shipping_price": {
            "type": "number"
          },
          "reference3": {
            "type": "string"
          },
          "sales_source": {
            "type": "string"
          },
          "ship_date": {
            "type": "string",
            "format": "date"
          },
          "rules_metadata": {
            "type": "string",
            "maxLength": 50
          },
          "duty_tax_number": {
            "type": "string"
          },
          "duty_tax_number_type": {
            "type": "string",
            "enum": [
              "ABN",
              "ARN",
              "IOSS",
              "EORI",
              "IRD",
              "OSS",
              "VOEC"
            ]
          },
          "enhancement_id": {
            "type": "integer"
          },
          "enhancements": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "format_id": {
            "type": "integer"
          },
          "instructions": {
            "type": "string"
          },
          "gift_message": {
            "type": "string"
          },
          "channel_shipservice_name": {
            "type": "string"
          },
          "currency_code": {
            "type": "string",
            "description": "3-letter currency code"
          }
        }
      },
      "BookShipmentRequest": {
        "type": "object",
        "required": [
          "reference",
          "reference2",
          "shipment_detail",
          "recipient"
        ],
        "properties": {
          "reference": {
            "type": "string",
            "maxLength": 25,
            "description": "Unique shipment reference"
          },
          "reference2": {
            "type": "string",
            "description": "Second non-unique reference"
          },
          "delivery_service": {
            "type": "integer",
            "description": "Shiptheory delivery service ID"
          },
          "increment": {
            "type": "integer"
          },
          "mark_for_approval": {
            "type": "boolean"
          },
          "shipment_detail": {
            "$ref": "#/components/schemas/ShipmentDetail"
          },
          "customs_details": {
            "type": "object",
            "properties": {
              "goods_description": {
                "type": "string",
                "maxLength": 100
              }
            }
          },
          "recipient": {
            "$ref": "#/components/schemas/Address"
          },
          "sender": {
            "$ref": "#/components/schemas/Address"
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShipmentProduct"
            }
          },
          "packages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "weight": {
                  "type": "number"
                }
              }
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "pickup_detail": {
            "type": "object",
            "properties": {
              "pickup_identifier": {
                "type": "string"
              }
            }
          }
        }
      },
      "BookShipmentResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "status": {
            "type": "string"
          },
          "carrier_result": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string"
              },
              "tracking": {
                "type": "string"
              },
              "tracking_url": {
                "type": "string"
              },
              "carrier": {
                "type": "string"
              },
              "alternate_carrier_name": {
                "type": "string"
              },
              "no_tracking": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ViewShipmentResponse": {
        "type": "object",
        "properties": {
          "shipment": {
            "type": "object",
            "properties": {
              "channel_reference_id": {
                "type": "string"
              },
              "channel_reference_id_2": {
                "type": "string"
              },
              "channel_reference_id_3": {
                "type": "string"
              },
              "created": {
                "type": "string",
                "format": "date-time"
              },
              "modified": {
                "type": "string",
                "format": "date-time"
              },
              "status": {
                "type": "string"
              },
              "tracking_number": {
                "type": "string"
              },
              "carrier": {
                "type": "string"
              },
              "label": {
                "type": "string",
                "description": "Base64 encoded PDF"
              },
              "duty_tax_number": {
                "type": "string"
              },
              "duty_tax_number_type": {
                "type": "string"
              },
              "shipping_price": {
                "type": "number"
              },
              "shipment_cost": {
                "type": "number"
              }
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tag"
            }
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "created": {
                  "type": "string",
                  "format": "date-time"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "error",
                    "info",
                    "success"
                  ]
                },
                "help_link": {
                  "type": "string"
                }
              }
            }
          },
          "label": {
            "type": "string",
            "description": "Base64 encoded PDF"
          }
        }
      },
      "ShipmentListItem": {
        "type": "object",
        "properties": {
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "modified": {
            "type": "string",
            "format": "date-time"
          },
          "channel_reference_id": {
            "type": "string"
          },
          "channel_reference_id_2": {
            "type": "string"
          },
          "channel_name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "courier": {
            "type": "object",
            "nullable": true,
            "properties": {
              "couriername": {
                "type": "string"
              }
            }
          },
          "courierservice": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "integer"
              },
              "serviceName": {
                "type": "string"
              }
            }
          },
          "shipment_detail": {
            "type": "object",
            "properties": {
              "tracking_number": {
                "type": "string",
                "nullable": true
              },
              "weight": {
                "type": "number"
              },
              "grams": {
                "type": "integer"
              },
              "shipping_price": {
                "type": "number",
                "nullable": true
              },
              "gift_message": {
                "type": "string"
              },
              "instructions": {
                "type": "string"
              },
              "value": {
                "type": "number"
              },
              "parcels": {
                "type": "integer"
              },
              "width": {
                "type": "number",
                "nullable": true
              },
              "height": {
                "type": "number",
                "nullable": true
              },
              "depth": {
                "type": "number",
                "nullable": true
              },
              "channel_reference_id_3": {
                "type": "string"
              },
              "ship_date": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "delivery_address": {
            "type": "object",
            "properties": {
              "company": {
                "type": "string"
              },
              "address_line_1": {
                "type": "string"
              },
              "address_line_2": {
                "type": "string"
              },
              "address_line_3": {
                "type": "string",
                "nullable": true
              },
              "city": {
                "type": "string"
              },
              "county": {
                "type": "string"
              },
              "postcode": {
                "type": "string"
              },
              "telephone": {
                "type": "string"
              },
              "mobile": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "firstname": {
                "type": "string"
              },
              "lastname": {
                "type": "string"
              },
              "tax_number": {
                "type": "string",
                "nullable": true
              },
              "what_3_words": {
                "type": "string"
              },
              "country": {
                "type": "object",
                "properties": {
                  "country": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "products": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "qty": {
                  "type": "integer"
                },
                "sku": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                },
                "catalog_price": {
                  "type": "string"
                },
                "barcode": {
                  "type": "string",
                  "nullable": true
                },
                "weight": {
                  "type": "string"
                },
                "grams": {
                  "type": "string"
                },
                "length": {
                  "type": "string"
                },
                "width": {
                  "type": "string"
                },
                "height": {
                  "type": "string"
                },
                "commodity_description": {
                  "type": "string",
                  "nullable": true
                },
                "commodity_code": {
                  "type": "string",
                  "nullable": true
                },
                "commodity_manucountry": {
                  "type": "string",
                  "nullable": true
                },
                "commodity_composition": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "latest_public_reference": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "pages": {
            "type": "integer"
          },
          "results": {
            "type": "integer"
          },
          "results_per_page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          }
        }
      },
      "ListShipmentsResponse": {
        "type": "object",
        "properties": {
          "shipments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShipmentListItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "PickingListRequest": {
        "type": "object",
        "required": [
          "shipments"
        ],
        "properties": {
          "shipments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "reference_1": {
                  "type": "string",
                  "description": "Shipment reference"
                },
                "reference_2": {
                  "type": "string",
                  "description": "Order reference"
                }
              }
            }
          }
        }
      },
      "PickingListResponse": {
        "type": "object",
        "properties": {
          "pdf": {
            "type": "string",
            "description": "Base64 encoded PDF"
          }
        }
      },
      "CreateReturnRequest": {
        "type": "object",
        "required": [
          "outgoing_reference",
          "delivery_postcode",
          "return_service",
          "expiry"
        ],
        "properties": {
          "outgoing_reference": {
            "type": "string",
            "description": "Reference on the original shipment"
          },
          "delivery_postcode": {
            "type": "string",
            "description": "Original outgoing postcode/zip code"
          },
          "return_service": {
            "type": "integer",
            "description": "Return service ID from GET /services/incoming"
          },
          "expiry": {
            "type": "string",
            "format": "date",
            "description": "Label expiry date (max 30 days from now)"
          }
        }
      },
      "ReturnLabelResponse": {
        "type": "object",
        "properties": {
          "tracking": {
            "type": "string"
          },
          "label": {
            "type": "string",
            "description": "Base64 encoded PDF"
          }
        }
      },
      "ListReturnsResponse": {
        "type": "object",
        "properties": {
          "returns": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "tracking_number": {
                  "type": "string"
                },
                "created": {
                  "type": "string",
                  "format": "date-time"
                },
                "shipment": {
                  "type": "object",
                  "properties": {
                    "channel_reference_id": {
                      "type": "string"
                    },
                    "channel_reference_id_2": {
                      "type": "string"
                    },
                    "created": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "tracking_number": {
                      "type": "string"
                    }
                  }
                },
                "return_service": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "courier": {
                      "type": "string"
                    },
                    "service_name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "OutgoingServicesResponse": {
        "type": "object",
        "properties": {
          "delivery_services": {
            "type": "object",
            "description": "Map of carrier names to their services",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "courier_increment_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "IncomingServicesResponse": {
        "type": "object",
        "properties": {
          "return_services": {
            "type": "object",
            "description": "Map of carrier names to their return services",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  },
                  "collection_or_dropoff": {
                    "type": "string"
                  },
                  "upper_limit_weight": {
                    "type": "number"
                  },
                  "upper_length_limit": {
                    "type": "number"
                  },
                  "upper_width_limit": {
                    "type": "number"
                  },
                  "upper_height_limit": {
                    "type": "number"
                  },
                  "incoming_countries": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "outgoing_countries": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "PackageSizesResponse": {
        "type": "object",
        "properties": {
          "package_sizes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                },
                "length": {
                  "type": "number"
                },
                "width": {
                  "type": "number"
                },
                "height": {
                  "type": "number"
                },
                "active": {
                  "type": "boolean"
                },
                "created": {
                  "type": "string",
                  "format": "date-time"
                },
                "modified": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "ProductInput": {
        "type": "object",
        "required": [
          "sku"
        ],
        "properties": {
          "sku": {
            "type": "string",
            "maxLength": 100
          },
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "price": {
            "type": "number",
            "minimum": 0,
            "maximum": 9999999.99
          },
          "weight": {
            "type": "number",
            "minimum": 0,
            "maximum": 9999999.99,
            "description": "Weight in kg"
          },
          "barcode": {
            "type": "string",
            "maxLength": 15
          },
          "commodity_code": {
            "type": "string",
            "maxLength": 100
          },
          "commodity_description": {
            "type": "string",
            "maxLength": 100
          },
          "commodity_manucountry": {
            "type": "string",
            "maxLength": 100
          },
          "commodity_composition": {
            "type": "string",
            "maxLength": 100
          },
          "length": {
            "type": "number"
          },
          "width": {
            "type": "number"
          },
          "height": {
            "type": "number"
          },
          "mid_code": {
            "type": "string",
            "maxLength": 25
          },
          "thumbnail_url": {
            "type": "string",
            "maxLength": 200
          },
          "stock_location": {
            "type": "string",
            "maxLength": 100
          },
          "dangerous_goods": {
            "$ref": "#/components/schemas/DangerousGoods"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "sku": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "weight": {
            "type": "number"
          },
          "barcode": {
            "type": "string"
          },
          "commodity_code": {
            "type": "string"
          },
          "commodity_description": {
            "type": "string"
          },
          "commodity_manucountry": {
            "type": "string"
          },
          "commodity_composition": {
            "type": "string"
          },
          "length": {
            "type": "number"
          },
          "width": {
            "type": "number"
          },
          "height": {
            "type": "number"
          },
          "mid_code": {
            "type": "string"
          },
          "thumbnail_url": {
            "type": "string"
          },
          "stock_location": {
            "type": "string"
          },
          "dangerous_goods": {
            "$ref": "#/components/schemas/DangerousGoods"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "modified": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ProductResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "product": {
            "$ref": "#/components/schemas/Product"
          }
        }
      },
      "ListProductsResponse": {
        "type": "object",
        "properties": {
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "RatingCourier": {
        "type": "object",
        "properties": {
          "alias": {
            "type": "string"
          },
          "increment": {
            "type": "integer"
          },
          "display_name": {
            "type": "string"
          }
        }
      },
      "RateShipmentRequest": {
        "type": "object",
        "required": [
          "reference",
          "reference2",
          "rating_couriers",
          "shipment_detail",
          "recipient"
        ],
        "properties": {
          "reference": {
            "type": "string",
            "maxLength": 25
          },
          "reference2": {
            "type": "string"
          },
          "rating_couriers": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "alias",
                "increment"
              ],
              "properties": {
                "alias": {
                  "type": "string"
                },
                "increment": {
                  "type": "integer"
                }
              }
            }
          },
          "shipment_detail": {
            "$ref": "#/components/schemas/ShipmentDetail"
          },
          "customs_details": {
            "type": "object",
            "properties": {
              "goods_description": {
                "type": "string",
                "maxLength": 100
              }
            }
          },
          "recipient": {
            "$ref": "#/components/schemas/Address"
          },
          "sender": {
            "$ref": "#/components/schemas/Address"
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShipmentProduct"
            }
          },
          "packages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "weight": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "RateShipmentResponse": {
        "type": "object",
        "properties": {
          "live_rates": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "alias": {
                  "type": "string"
                },
                "increment": {
                  "type": "integer"
                },
                "error": {
                  "type": "boolean"
                },
                "error_message": {
                  "type": "string"
                },
                "display_name": {
                  "type": "string"
                },
                "rates": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "cost": {
                        "type": "number"
                      },
                      "currency": {
                        "type": "string"
                      },
                      "service_id": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "TagInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "description": "Error details - can be a string or object with field-specific errors"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}