{
  "openapi": "3.0.3",
  "info": {
    "title": "Writer AI Studio API",
    "version": "1.0.0",
    "description": "AI platform API providing chat completion, text generation, file management, knowledge graphs, AI detection, translation, and vision capabilities.",
    "x-jentic-source-url": "https://dev.writer.com/"
  },
  "servers": [
    {
      "url": "https://api.writer.com"
    }
  ],
  "paths": {
    "/v1/chat": {
      "post": {
        "operationId": "chatCompletion",
        "summary": "Chat completion",
        "tags": [
          "Completion"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/completions": {
      "post": {
        "operationId": "textGeneration",
        "summary": "Text generation",
        "tags": [
          "Completion"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "prompt"
                ],
                "properties": {
                  "model": {
                    "type": "string"
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "max_tokens": {
                    "type": "integer"
                  },
                  "temperature": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated text"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/models": {
      "get": {
        "operationId": "listModels",
        "summary": "List available models",
        "tags": [
          "Completion"
        ],
        "responses": {
          "200": {
            "description": "Model list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "models": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/applications": {
      "get": {
        "operationId": "listApplications",
        "summary": "List applications",
        "tags": [
          "Applications"
        ],
        "responses": {
          "200": {
            "description": "Application list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/applications/{applicationId}": {
      "get": {
        "operationId": "getApplication",
        "summary": "Get application details",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application details"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/applications/{applicationId}/generate": {
      "post": {
        "operationId": "generateFromApplication",
        "summary": "Generate from application",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/applications/{applicationId}/jobs": {
      "get": {
        "operationId": "listApplicationJobs",
        "summary": "Retrieve all jobs for application",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/applications/{applicationId}/jobs/{jobId}": {
      "get": {
        "operationId": "getApplicationJob",
        "summary": "Get single job",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job details"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/applications/{applicationId}/jobs/{jobId}/retry": {
      "post": {
        "operationId": "retryJob",
        "summary": "Retry job execution",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retried"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/files": {
      "get": {
        "operationId": "listFiles",
        "summary": "List files",
        "tags": [
          "Files"
        ],
        "responses": {
          "200": {
            "description": "File list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "uploadFile",
        "summary": "Upload file",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "Content-Disposition",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "graphId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/files/{fileId}": {
      "get": {
        "operationId": "getFile",
        "summary": "Retrieve file",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File info"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteFile",
        "summary": "Delete file",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/files/{fileId}/download": {
      "get": {
        "operationId": "downloadFile",
        "summary": "Download file",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File content"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/graphs": {
      "get": {
        "operationId": "listGraphs",
        "summary": "List knowledge graphs",
        "tags": [
          "Knowledge Graphs"
        ],
        "responses": {
          "200": {
            "description": "Graph list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createGraph",
        "summary": "Create knowledge graph",
        "tags": [
          "Knowledge Graphs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 255
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Graph created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/graphs/{graphId}": {
      "get": {
        "operationId": "getGraph",
        "summary": "Retrieve knowledge graph",
        "tags": [
          "Knowledge Graphs"
        ],
        "parameters": [
          {
            "name": "graphId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Graph details"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateGraph",
        "summary": "Update knowledge graph",
        "tags": [
          "Knowledge Graphs"
        ],
        "parameters": [
          {
            "name": "graphId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteGraph",
        "summary": "Delete knowledge graph",
        "tags": [
          "Knowledge Graphs"
        ],
        "parameters": [
          {
            "name": "graphId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/graphs/{graphId}/file": {
      "post": {
        "operationId": "addFileToGraph",
        "summary": "Add file to graph",
        "tags": [
          "Knowledge Graphs"
        ],
        "parameters": [
          {
            "name": "graphId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Added"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/graphs/{graphId}/file/{fileId}": {
      "delete": {
        "operationId": "removeFileFromGraph",
        "summary": "Remove file from graph",
        "tags": [
          "Knowledge Graphs"
        ],
        "parameters": [
          {
            "name": "graphId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Removed"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/graphs/question": {
      "post": {
        "operationId": "questionGraph",
        "summary": "Query knowledge graph",
        "tags": [
          "Knowledge Graphs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Answer"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/tools/ai-detect": {
      "post": {
        "operationId": "detectAI",
        "summary": "AI content detection",
        "tags": [
          "Tools"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "input"
                ],
                "properties": {
                  "input": {
                    "type": "string",
                    "minLength": 350
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detection result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string",
                      "enum": [
                        "fake",
                        "real"
                      ]
                    },
                    "score": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/tools/comprehend-medical": {
      "post": {
        "operationId": "comprehendMedical",
        "summary": "Medical text comprehension",
        "tags": [
          "Tools"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/tools/pdf-parser": {
      "post": {
        "operationId": "parsePdf",
        "summary": "Parse PDF document",
        "tags": [
          "Tools"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Parsed content"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/tools/web-search": {
      "post": {
        "operationId": "webSearch",
        "summary": "Web search",
        "tags": [
          "Tools"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/translation": {
      "post": {
        "operationId": "translate",
        "summary": "Translate text",
        "tags": [
          "Translation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TranslationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Translation result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/translation/languages": {
      "get": {
        "operationId": "listLanguages",
        "summary": "List supported languages",
        "tags": [
          "Translation"
        ],
        "responses": {
          "200": {
            "description": "Language list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/vision/analyze": {
      "post": {
        "operationId": "analyzeImages",
        "summary": "Analyze images",
        "tags": [
          "Vision"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Analysis result"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                }
              }
            },
            "minItems": 1
          },
          "max_tokens": {
            "type": "integer"
          },
          "temperature": {
            "type": "number",
            "default": 1
          },
          "top_p": {
            "type": "number"
          },
          "n": {
            "type": "integer"
          },
          "stop": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "stream": {
            "type": "boolean",
            "default": false
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "response_format": {
            "type": "object"
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "object": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "created": {
            "type": "integer"
          },
          "model": {
            "type": "string"
          },
          "usage": {
            "type": "object",
            "properties": {
              "prompt_tokens": {
                "type": "integer"
              },
              "completion_tokens": {
                "type": "integer"
              },
              "total_tokens": {
                "type": "integer"
              }
            }
          }
        }
      },
      "FileResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "graph_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string"
          }
        }
      },
      "TranslationRequest": {
        "type": "object",
        "required": [
          "model",
          "source_language_code",
          "target_language_code",
          "text"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "palmyra-translate"
            ]
          },
          "source_language_code": {
            "type": "string"
          },
          "target_language_code": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "formality": {
            "type": "boolean"
          },
          "length_control": {
            "type": "boolean"
          },
          "mask_profanity": {
            "type": "boolean"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}