{
  "openapi": "3.0.3",
  "info": {
    "title": "Mocono Zapier API",
    "version": "1.0.0",
    "description": "Mocono platform API for authentication and subscription tracking. Provides triggers for activated and cancelled subscriptions.",
    "x-jentic-source-url": "https://app.mocono.io/MOCONO-ZAPIER-API-DOCUMENT.pdf"
  },
  "servers": [
    {
      "url": "https://app.mocono.io"
    }
  ],
  "paths": {
    "/api/user": {
      "get": {
        "operationId": "getUser",
        "summary": "Get authenticated user",
        "description": "Verify authentication and retrieve user details",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "403": {
            "description": "API key missing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/zapier/subscribe": {
      "post": {
        "operationId": "subscribeActivation",
        "summary": "Subscribe to subscription activation events",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "API_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "hookUrl"
                ],
                "properties": {
                  "hookUrl": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/zapier/unsubscribe": {
      "post": {
        "operationId": "unsubscribeActivation",
        "summary": "Unsubscribe from subscription activation events",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "API_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "hookUrl"
                ],
                "properties": {
                  "hookUrl": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/zapier/subscription-activated": {
      "get": {
        "operationId": "pollSubscriptionActivated",
        "summary": "Poll for activated subscriptions",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "name": "API_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionEvent"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/zapier/cancelled/subscription/subscribe": {
      "post": {
        "operationId": "subscribeCancellation",
        "summary": "Subscribe to subscription cancellation events",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "API_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "hookUrl"
                ],
                "properties": {
                  "hookUrl": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/zapier/cancelled/subscription/unsubscribe": {
      "post": {
        "operationId": "unsubscribeCancellation",
        "summary": "Unsubscribe from subscription cancellation events",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "API_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "hookUrl"
                ],
                "properties": {
                  "hookUrl": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/zapier/subscription-cancelled": {
      "get": {
        "operationId": "pollSubscriptionCancelled",
        "summary": "Poll for cancelled subscriptions",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "name": "API_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelled subscription data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionEvent"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "address1": {
            "type": "string"
          },
          "address2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "post_code": {
            "type": "string"
          }
        }
      },
      "SubscriptionEvent": {
        "type": "object",
        "properties": {
          "user_name": {
            "type": "string"
          },
          "user_email": {
            "type": "string"
          },
          "address1": {
            "type": "string"
          },
          "address2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "post_code": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "subscription_status": {
            "type": "string"
          },
          "company_name": {
            "type": "string"
          },
          "currency_code": {
            "type": "string"
          },
          "currency_sign": {
            "type": "string"
          },
          "billing_period_date": {
            "type": "string",
            "format": "date"
          },
          "tax": {
            "type": "string"
          },
          "subscription_price": {
            "type": "string"
          },
          "subscription_is_paid": {
            "type": "string"
          },
          "sub_paywall_type": {
            "type": "string"
          },
          "subscription_type": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      },
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "API_key"
      }
    }
  },
  "security": [
    {
      "apiKeyHeader": [],
      "apiKeyQuery": []
    }
  ]
}