{
  "openapi": "3.0.0",
  "info": {
    "title": "Kindoo.Tech",
    "description": "Kindoo Tech APIS",
    "version": "4.2.5",
    "x-jentic-source-url": "https://api.kindoo.tech/doc/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.kindoo.tech/v3/webservice.asmx",
      "description": "Version 4.2.5"
    }
  ],
  "tags": [
    {
      "name": "Authentication and Session Management"
    },
    {
      "name": "Environment Management"
    },
    {
      "name": "User Management"
    },
    {
      "name": "Access Rule Management"
    },
    {
      "name": "Entry Point Management"
    },
    {
      "name": "Kin Management"
    },
    {
      "name": "Organization Data"
    },
    {
      "name": "Kindoo Get Timezones"
    },
    {
      "name": "Licenses Provisioning"
    },
    {
      "name": "Master Licenses"
    }
  ],
  "components": {
    "securitySchemes": {
      "SessionTokenID": {
        "type": "apiKey",
        "name": "SessionTokenID",
        "in": "header"
      }
    },
    "schemas": {
      "EUArray": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/EUObject"
        }
      },
      "LightUserObjectArray": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/LightUserObject"
        }
      },
      "LogsArray": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Logs"
        }
      },
      "entryPointObjectArray": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/entryPointObject"
        }
      },
      "accessScheduleObjectArray": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/accessScheduleObject"
        }
      },
      "ruleArray": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/rule"
        }
      },
      "AccessRuleLightArray": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/AccessRuleLight"
        }
      },
      "invoiceArray": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/invoice"
        }
      },
      "Agents": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer"
          },
          "Name": {
            "type": "string"
          }
        }
      },
      "EuObjectFull": {
        "type": "object",
        "properties": {
          "DepartmentID": {
            "type": "integer"
          },
          "Description": {
            "type": "string"
          },
          "EnvironmentID": {
            "type": "integer"
          },
          "HasAccepted": {
            "type": "boolean"
          },
          "ID": {
            "type": "string"
          },
          "InvitedBy": {
            "type": "string"
          },
          "InvitedByUser": {
            "type": "object",
            "items": {
              "$ref": "#/components/schemas/userObject"
            }
          },
          "InvitedOn": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "IsTempUser": {
            "type": "boolean"
          },
          "PositionID": {
            "type": "integer"
          },
          "RevokedBy": {
            "type": "string"
          },
          "RevokedOn": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "TempUserFromDate": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "TempUserFromDateTicks": {
            "type": "integer"
          },
          "TempUserToDate": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "TempUserToDateTicks": {
            "type": "integer"
          },
          "TempUserToDateTimeZone": {
            "type": "string"
          },
          "TimeZone": {
            "type": "string"
          },
          "UserID": {
            "type": "string"
          },
          "department": {
            "type": "object",
            "items": {
              "$ref": "#/components/schemas/departmentObject"
            }
          },
          "environment": {
            "type": "object",
            "items": {
              "$ref": "#/components/schemas/environmentObject"
            }
          }
        }
      },
      "environmentObject": {
        "description": "the site created object",
        "type": "object",
        "properties": {
          "AllowManagersToEditGuestsInvitedByAdmin": {
            "type": "boolean"
          },
          "CardTransferSetting": {
            "type": "integer"
          },
          "ContactEmail": {
            "type": "string"
          },
          "ContactNumber": {
            "type": "string"
          },
          "FreePINLicenseCount": {
            "type": "integer"
          },
          "FreeUsersCount": {
            "type": "integer"
          },
          "HasAtLeastOneProtocol": {
            "type": "boolean"
          },
          "ID": {
            "type": "integer"
          },
          "IsKinD": {
            "type": "integer"
          },
          "ManagersAllowedToOnlyLinkGuestsToAccessRules": {
            "type": "boolean"
          },
          "MKGaScmCSAj3QtYxX8Uzf1ohyHsYT81Deh": {
            "type": "integer"
          },
          "MaximumPINLicenseLimitNow": {
            "type": "integer"
          },
          "MaximumUsersLimitNow": {
            "type": "integer"
          },
          "ModifiedBy": {
            "type": "string"
          },
          "ModifiedOn": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "MonthlyUsersCount": {
            "type": "integer"
          },
          "Name": {
            "type": "string"
          },
          "PINLicenseCount": {
            "type": "integer"
          },
          "PartnerAssignedOn": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "PartnerID": {
            "type": "integer"
          },
          "PermanentUsersCount": {
            "type": "integer"
          },
          "SSOProviderID": {
            "type": "integer"
          },
          "TimeZone": {
            "type": "string"
          },
          "TotalActiveUsers": {
            "type": "integer"
          },
          "third_parties": {
            "type": "object",
            "items": {
              "$ref": "#/components/schemas/thirdPartyObject"
            }
          }
        }
      },
      "thirdPartyObject": {
        "type": "object",
        "properties": {
          "AccountingEmail": {
            "type": "string"
          },
          "AccountingName": {
            "type": "string"
          },
          "AccountingPhone": {
            "type": "string"
          },
          "ActivationDate": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "ApprovedBy": {
            "type": "string"
          },
          "ApprovedDate": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "BillingAddress": {
            "type": "string"
          },
          "BusinessName": {
            "type": "string"
          },
          "BusinessType": {
            "type": "string"
          },
          "CancellationDate": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "CancelledBy": {
            "type": "string"
          },
          "CompanyWebsite": {
            "type": "string"
          },
          "Currency": {
            "type": "string"
          },
          "DeactivationDate": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "FedTaxIDNumber": {
            "type": "string"
          },
          "FileName1": {
            "type": "string"
          },
          "FileName2": {
            "type": "string"
          },
          "FirstName": {
            "type": "string"
          },
          "HowDidYourHear": {
            "type": "string"
          },
          "ID": {
            "type": "integer"
          },
          "IsAssociate": {
            "type": "boolean"
          },
          "IsOem": {
            "type": "boolean"
          },
          "IsPartner": {
            "type": "boolean"
          },
          "LastName": {
            "type": "string"
          },
          "NumberOfEmployees": {
            "type": "integer"
          },
          "NumberOfServiceVehicles": {
            "type": "integer"
          },
          "NumberOfTechnicians": {
            "type": "integer"
          },
          "OwnerEmail": {
            "type": "string"
          },
          "OwnerName": {
            "type": "string"
          },
          "OwnerPhone": {
            "type": "string"
          },
          "Pin": {
            "type": "string"
          },
          "RegistrationDate": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "SalesEmail": {
            "type": "string"
          },
          "SalesNames": {
            "type": "string"
          },
          "SalesPhone": {
            "type": "string"
          },
          "Telephone": {
            "type": "string"
          },
          "YearsInBusiness": {
            "type": "string"
          },
          "YearsOfExperience": {
            "type": "string"
          }
        }
      },
      "departmentObject": {
        "type": "object",
        "properties": {
          "EnvironmentID": {
            "type": "integer"
          },
          "ID": {
            "type": "integer"
          },
          "Name": {
            "type": "string"
          },
          "NameFrench": {
            "type": "string"
          },
          "Type": {
            "type": "integer"
          }
        }
      },
      "EUObject": {
        "type": "object",
        "properties": {
          "MaximumPINLicenseLimitNow": {
            "type": "integer"
          },
          "Description": {
            "type": "string"
          },
          "IsTempUser": {
            "type": "boolean"
          },
          "TempUserToDate": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "TempUserToTime": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "TempUserToDateTimeZone": {
            "type": "string"
          },
          "_Token": {
            "type": "string"
          },
          "ID": {
            "type": "string"
          },
          "Status": {
            "type": "integer"
          },
          "HasAccepted": {
            "type": "boolean"
          },
          "UserID": {
            "type": "string"
          },
          "Username": {
            "type": "string"
          },
          "UserDisplayName": {
            "type": "string"
          },
          "UserIcon": {
            "type": "string"
          },
          "InvitedByUser": {
            "type": "string"
          },
          "TimeZone": {
            "type": "string"
          },
          "UserHasCard": {
            "type": "boolean"
          },
          "UserHasPendingCard": {
            "type": "boolean"
          },
          "EUCards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EUCARDDTO"
            }
          },
          "EnvironmentID": {
            "type": "integer"
          },
          "EnvKinwID": {
            "type": "integer"
          },
          "IsKinD": {
            "type": "integer"
          },
          "EnvironmentName": {
            "type": "string"
          },
          "LocalAuthenticationUrl": {
            "type": "string"
          },
          "MaximumUsersLimitNow": {
            "type": "integer"
          },
          "TotalActiveUsers": {
            "type": "integer"
          },
          "TotalActivePINLicense": {
            "type": "integer"
          },
          "PINLicenseCount": {
            "type": "integer"
          },
          "PermanentUsersCount": {
            "type": "integer"
          },
          "MonthlyUsersCount": {
            "type": "integer"
          },
          "FreeUsersCount": {
            "type": "integer"
          },
          "HasAtLeastOneProtocol": {
            "type": "boolean"
          },
          "PartnerName": {
            "type": "string"
          },
          "CardTransferSetting": {
            "type": "integer"
          },
          "DepartmentID": {
            "type": "integer"
          },
          "DepartmentType": {
            "type": "integer"
          },
          "PositionID": {
            "type": "integer"
          },
          "FileName1": {
            "type": "string"
          },
          "FileName2": {
            "type": "string"
          },
          "PartnerBrandingPhoto": {
            "type": "string"
          },
          "MKGaScmCSAj3QtYxX8Uzf1ohyHsYT81Deh": {
            "type": "integer"
          },
          "ScheduleLicenseCount": {
            "type": "integer"
          },
          "TermsAndConditionsApprovedOn": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "FetchTimeStamp": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          }
        }
      },
      "AccessRuleLightEntryPoint": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer",
            "format": "int64"
          },
          "Name": {
            "type": "string"
          }
        }
      },
      "EUCARDDTO": {
        "type": "object",
        "properties": {
          "CardNumber": {
            "type": "string"
          },
          "FacilityCode": {
            "type": "string"
          },
          "FileName": {
            "type": "string"
          },
          "ID": {
            "type": "integer",
            "format": "int64"
          },
          "PhoneName": {
            "type": "string"
          },
          "ProtocolID": {
            "type": "integer",
            "format": "int64"
          },
          "ProtocolName": {
            "type": "string"
          },
          "RevokeDate": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          }
        }
      },
      "AccessRuleLightUser": {
        "type": "object",
        "properties": {
          "EUID": {
            "type": "integer",
            "format": "uuid"
          },
          "UserID": {
            "type": "integer",
            "format": "uuid"
          },
          "FirstName": {
            "type": "string"
          },
          "LastName": {
            "type": "string"
          },
          "Username": {
            "type": "string"
          },
          "HasAcceptedInvitation": {
            "type": "boolean"
          },
          "HasVerifiedAccount": {
            "type": "boolean"
          }
        }
      },
      "AccessRuleAccessScheduleWeekly": {
        "type": "object",
        "properties": {
          "DayOfWeekName": {
            "type": "string"
          },
          "DayOfWeek": {
            "type": "integer"
          },
          "FromHour": {
            "type": "string"
          },
          "ToHour": {
            "type": "string"
          },
          "TimeZone": {
            "type": "string"
          }
        }
      },
      "AccessRuleAccessScheduleFromTo": {
        "type": "object",
        "properties": {
          "FromDateTime": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "ToDateTime": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "TimeZone": {
            "type": "string"
          }
        }
      },
      "AccessRuleAccessSchedule": {
        "type": "object",
        "properties": {
          "IsAlways": {
            "type": "boolean"
          },
          "IsWeekly": {
            "type": "boolean"
          },
          "IsFromTo": {
            "type": "boolean"
          },
          "WeeklyAccessRights": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccessRuleAccessScheduleWeekly"
            }
          },
          "FromToAccessRights": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccessRuleAccessScheduleFromTo"
            }
          }
        }
      },
      "AccessRuleHolidaysAndSpecialEventsDTO": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer",
            "format": "int64"
          },
          "FromDate": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "ToDate": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "TimeZone": {
            "type": "string"
          },
          "IsHoliday": {
            "type": "boolean"
          },
          "GrantAccessRights": {
            "type": "boolean"
          },
          "HolidayOrSpecialEventName": {
            "type": "string"
          },
          "HolidayCountryID": {
            "type": "integer"
          },
          "HolidayCountryName": {
            "type": "string"
          }
        }
      },
      "LightUserObject": {
        "type": "object",
        "properties": {
          "AccessPermissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/rule"
            }
          },
          "AccessSchedules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/rulesSetsEnvironmentUsersObject"
            }
          },
          "CanBeRevoked": {
            "type": "boolean"
          },
          "CanResendRegistrationEmail": {
            "type": "boolean"
          },
          "DepartmentType": {
            "type": "integer"
          },
          "Description": {
            "type": "string"
          },
          "DisplayName": {
            "type": "string"
          },
          "EUID": {
            "type": "string",
            "format": "uuid"
          },
          "EnvironmentID": {
            "type": "integer"
          },
          "ExpiryDate": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "StartAccessDoorsDate": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "SSOID": {
            "type": "string"
          },
          "ExpiryTimeZone": {
            "type": "string"
          },
          "FileName": {
            "type": "string",
            "format": "uri"
          },
          "FirstName": {
            "type": "string"
          },
          "IsTempUser": {
            "type": "boolean"
          },
          "IsSelected": {
            "type": "boolean"
          },
          "IsVisible": {
            "type": "boolean"
          },
          "LastName": {
            "type": "string"
          },
          "UserID": {
            "type": "string",
            "format": "uuid"
          },
          "Username": {
            "type": "string"
          },
          "ViewerDepartmentType": {
            "type": "integer"
          },
          "dummy": {
            "type": "boolean"
          },
          "InvitedBy": {
            "type": "object",
            "items": {
              "$ref": "#/components/schemas/userObject"
            }
          },
          "InvitedOn": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "HasAcceptedInvitation": {
            "type": "boolean"
          },
          "third_party_ref": {
            "type": "string"
          }
        }
      },
      "AccessRuleLight": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer",
            "format": "int64"
          },
          "Name": {
            "type": "string"
          },
          "SiteID": {
            "type": "integer",
            "format": "int64"
          },
          "SiteName": {
            "type": "string"
          },
          "IsSetForAllEntryPoints": {
            "type": "boolean"
          },
          "LinkedEntryPoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccessRuleLightEntryPoint"
            }
          },
          "LinkedUsers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccessRuleLightUser"
            }
          },
          "AccessSchedule": {
            "$ref": "#/components/schemas/AccessRuleAccessSchedule"
          },
          "HolidayAndSpecialEvents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccessRuleHolidaysAndSpecialEventsDTO"
            }
          }
        }
      },
      "rulesSetsEnvironmentUsersObject": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "type": "string",
            "format": "uuid"
          },
          "CreatedOn": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "EUID": {
            "type": "string",
            "format": "uuid"
          },
          "ID": {
            "type": "integer",
            "format": "int64"
          },
          "RuleID": {
            "type": "integer",
            "format": "int64"
          },
          "rules_sets": {
            "type": "object",
            "items": {
              "$ref": "#/components/schemas/accessScheduleObject"
            }
          }
        }
      },
      "SessionObject": {
        "type": "object",
        "properties": {
          "Token": {
            "type": "string"
          },
          "UserID": {
            "type": "string"
          },
          "DisplayName": {
            "type": "string"
          },
          "LoggedInOn": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "IPAddress": {
            "type": "string"
          }
        }
      },
      "bulkPinCodeDTO": {
        "description": "An array of the following object (up to maximum of 10 pin codes): ExpiryDate format yyyy-MM-DD HH:mm:ss. If ExpiryDate is not null, ExpiryTimeZone should be provided",
        "example": [
          {
            "PIN": 1122,
            "Description": "Security PIN",
            "ExpiryDate": null,
            "ExpiryTimeZone": null,
            "WorkOrderNumberIsMandatory": true
          },
          {
            "PIN": 2222,
            "Description": "Backup Security PIN",
            "ExpiryDate": null,
            "ExpiryTimeZone": null,
            "WorkOrderNumberIsMandatory": false
          },
          {
            "PIN": 1234,
            "Description": null,
            "ExpiryDate": "2028-11-05T08:15:00",
            "ExpiryTimeZone": "Coordinated Universal Time",
            "WorkOrderNumberIsMandatory": false
          },
          {
            "PIN": 3344,
            "Description": null,
            "ExpiryDate": "2042-09-12T03:09:00",
            "ExpiryTimeZone": "Coordinated Universal Time",
            "WorkOrderNumberIsMandatory": true
          },
          {
            "PIN": 5656,
            "Description": null,
            "ExpiryDate": null,
            "ExpiryTimeZone": null,
            "WorkOrderNumberIsMandatory": false
          },
          {
            "PIN": 3333,
            "Description": null,
            "ExpiryDate": "2029-10-30T06:45:00",
            "ExpiryTimeZone": "Coordinated Universal Time",
            "WorkOrderNumberIsMandatory": false
          },
          {
            "PIN": 9055,
            "Description": null,
            "ExpiryDate": null,
            "ExpiryTimeZone": null,
            "WorkOrderNumberIsMandatory": true
          },
          {
            "PIN": 8766,
            "Description": null,
            "ExpiryDate": "2029-09-12T03:09:00",
            "ExpiryTimeZone": "Coordinated Universal Time",
            "WorkOrderNumberIsMandatory": false
          },
          {
            "PIN": 9999,
            "Description": null,
            "ExpiryDate": null,
            "ExpiryTimeZone": null,
            "WorkOrderNumberIsMandatory": false
          },
          {
            "PIN": 1098,
            "Description": null,
            "ExpiryDate": "2026-05-25T20:20:00",
            "ExpiryTimeZone": "Coordinated Universal Time",
            "WorkOrderNumberIsMandatory": true
          }
        ],
        "type": "object",
        "properties": {
          "PIN": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "ExpiryDate": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "ExpiryTimeZone": {
            "type": "string"
          },
          "WorkOrderNumberIsMandatory": {
            "type": "boolean"
          }
        }
      },
      "kinObject": {
        "type": "object",
        "properties": {
          "Action1Name": {
            "type": "string"
          },
          "Action1Pulse": {
            "type": "string"
          },
          "Action1Rest": {
            "type": "string"
          },
          "Action2Name": {
            "type": "string"
          },
          "Action2Pulse": {
            "type": "string"
          },
          "Action2Rest": {
            "type": "string"
          },
          "BatchID": {
            "type": "integer"
          },
          "BatchName": {
            "type": "string"
          },
          "CalibratorPhoneID": {
            "type": "string"
          },
          "CalibratorPhoneListID": {
            "type": "integer"
          },
          "DistanceThreshold": {
            "type": "number"
          },
          "DistanceThresholdUnit": {
            "type": "string"
          },
          "EditCode": {
            "type": "integer"
          },
          "EnvironmentID": {
            "type": "integer"
          },
          "EnvironmentName": {
            "type": "string"
          },
          "ID": {
            "type": "integer"
          },
          "IsAuto": {
            "type": "boolean"
          },
          "IsResetInitiated": {
            "type": "boolean"
          },
          "IsSeenBeyondThreshold": {
            "type": "boolean"
          },
          "IsSelected": {
            "type": "boolean"
          },
          "IsTypeC": {
            "type": "boolean"
          },
          "KINSatusInEmission": {
            "type": "boolean"
          },
          "LastSavedINC": {
            "type": "integer"
          },
          "MaxTemperature": {
            "type": "number"
          },
          "MaximumNumberOfPins": {
            "type": "integer"
          },
          "ModifiedBy": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "NumberOfRelay": {
            "type": "integer"
          },
          "PulsePeriod": {
            "type": "integer"
          },
          "RSSI": {
            "type": "number"
          },
          "RestPeriod": {
            "type": "integer"
          },
          "TypeCPushToNearbyKins": {
            "type": "boolean"
          },
          "VID1": {
            "type": "string"
          },
          "_CurrentTemperature": {
            "type": "integer"
          },
          "_IsVerified": {
            "type": "boolean"
          },
          "_LastCheckChipTime": {
            "type": "integer"
          },
          "_LastCommandTime": {
            "type": "integer"
          },
          "_RemainingBattery": {
            "type": "integer"
          },
          "_Temperature": {
            "type": "integer"
          },
          "_Url": {
            "type": "string"
          },
          "batch": {
            "type": "string"
          },
          "dailyRules": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "door_relays": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/doorRelayObject"
            }
          },
          "dummy": {
            "type": "boolean"
          },
          "isBuzzer": {
            "type": "boolean"
          },
          "isSendNotification": {
            "type": "boolean"
          },
          "rules": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "vids_pin": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "doorRelayObject": {
        "type": "object",
        "properties": {
          "Action1": {
            "type": "string"
          },
          "Action1Name": {
            "type": "string"
          },
          "Action1Response": {
            "type": "string"
          },
          "Action2": {
            "type": "string"
          },
          "Action2Name": {
            "type": "string"
          },
          "Action2Response": {
            "type": "string"
          },
          "BuzzerDuration": {
            "type": "integer"
          },
          "CommandUpdateDuration": {
            "type": "integer"
          },
          "CommandUpdateID": {
            "type": "string"
          },
          "CommandUpdateState": {
            "type": "integer"
          },
          "DeniedAction": {
            "type": "string"
          },
          "DeniedResponse": {
            "type": "string"
          },
          "DiodeDuration": {
            "type": "integer"
          },
          "ID": {
            "type": "integer"
          },
          "IsAutomaticWithinThreshold": {
            "type": "boolean"
          },
          "IsSeenBeyondThreshold": {
            "type": "boolean"
          },
          "ModifiedBy": {
            "type": "string"
          },
          "ModifyedOn": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "NumberOfKindooCommands": {
            "type": "integer"
          },
          "PIO": {
            "type": "integer"
          },
          "Protocol": {
            "type": "string"
          },
          "RelayName": {
            "type": "string"
          },
          "State": {
            "type": "integer"
          },
          "VIDID": {
            "type": "integer"
          },
          "access_rules": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "user": {
            "type": "object"
          }
        }
      },
      "vidPinObject": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "type": "string"
          },
          "CreatedOn": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "Description": {
            "type": "string"
          },
          "DoorID": {
            "type": "integer"
          },
          "ExpiryDate": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "ExpiryDateTicks": {
            "type": "integer"
          },
          "ExpiryTimeZone": {
            "type": "string"
          },
          "PIN": {
            "type": "string"
          },
          "VIDID": {
            "type": "integer"
          },
          "WorkOrderNumberIsMandatory": {
            "type": "boolean"
          },
          "user": {
            "type": "object",
            "items": {
              "$ref": "#/components/schemas/userObject"
            }
          }
        }
      },
      "entryPointObject": {
        "type": "object",
        "properties": {
          "DeniedResponse": {
            "type": "string"
          },
          "EnvironmentID": {
            "type": "integer"
          },
          "ID": {
            "type": "integer"
          },
          "IsContractorAccess": {
            "type": "boolean"
          },
          "IsSelected": {
            "type": "boolean"
          },
          "IsSentNotification": {
            "type": "boolean"
          },
          "IsVisible": {
            "type": "boolean"
          },
          "MaximumNumberOfPins": {
            "type": "integer"
          },
          "ModifiedBy": {
            "type": "string"
          },
          "ModifiedOn": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "Name": {
            "type": "string"
          },
          "SuccessResponse": {
            "type": "string"
          },
          "VIDID": {
            "type": "integer"
          },
          "rules_sets": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "rules_sets_vids": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ruleSetVIDObject"
            }
          },
          "vid": {
            "$ref": "#/components/schemas/kinObject"
          },
          "vids_pin": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/vidPinObject"
            }
          }
        }
      },
      "KeywordCustomObject": {
        "type": "object",
        "properties": {
          "KeyWord": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          }
        }
      },
      "countryWithHolidayObject": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "countryHolidayObject": {
        "type": "object",
        "properties": {
          "CountryID": {
            "type": "integer"
          },
          "CountryName": {
            "type": "string"
          },
          "From": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "To": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "HolidayName": {
            "type": "string"
          },
          "Year": {
            "type": "integer"
          }
        }
      },
      "holidayObject": {
        "type": "object",
        "properties": {
          "DoorID": {
            "type": "integer"
          },
          "DoorRelayID": {
            "type": "integer"
          },
          "FromDate": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "HolidayCountryID": {
            "type": "integer"
          },
          "HolidayCountryName": {
            "type": "string"
          },
          "HolidayName": {
            "type": "string"
          },
          "ID": {
            "type": "integer"
          },
          "IncludeInAccessRules": {
            "type": "boolean"
          },
          "IsHoliday": {
            "type": "boolean"
          },
          "RuleSetID": {
            "type": "boolean"
          },
          "TimeZone": {
            "type": "string"
          },
          "ToDate": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          }
        }
      },
      "ruleSetVIDObject": {
        "type": "object",
        "properties": {
          "DoorID": {
            "type": "integer"
          },
          "RuleID": {
            "type": "integer"
          },
          "VIDID": {
            "type": "integer"
          }
        }
      },
      "accessScheduleObject": {
        "type": "object",
        "properties": {
          "AccessRules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/rule"
            }
          },
          "EnvironmentID": {
            "type": "integer"
          },
          "HolidaysAndSpecialEvents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/holidayObject"
            }
          },
          "ID": {
            "type": "integer"
          },
          "IsForAllKins": {
            "type": "boolean",
            "example": true
          },
          "ModifiedBy": {
            "type": "string",
            "format": "uuid"
          },
          "ModifiedOn": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "Name": {
            "type": "string"
          },
          "Type": {
            "type": "integer"
          },
          "doors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/entryPointObject"
            }
          },
          "rules_sets_vids": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ruleSetVIDObject"
            }
          }
        }
      },
      "Logs": {
        "type": "object",
        "properties": {
          "ActionCommand": {
            "type": "string"
          },
          "ActionName": {
            "type": "string"
          },
          "CommandProtocol": {
            "type": "string"
          },
          "ControllerID": {
            "type": "string",
            "format": "uuid"
          },
          "ControllerName": {
            "type": "string"
          },
          "CurrentChipTime": {
            "type": "integer"
          },
          "DeviceName": {
            "type": "string"
          },
          "DeviceSource": {
            "type": "string"
          },
          "DoorID": {
            "type": "integer"
          },
          "DoorName": {
            "type": "string"
          },
          "DoorRelayID": {
            "type": "integer"
          },
          "EnvironmentID": {
            "type": "integer"
          },
          "EnvironmentName": {
            "type": "string"
          },
          "FunctionName": {
            "type": "string"
          },
          "ID": {
            "type": "integer"
          },
          "IsArchived": {
            "type": "boolean"
          },
          "LastCheckChipTime": {
            "type": "integer"
          },
          "PIN": {
            "type": "string"
          },
          "ReasonNumber": {
            "type": "integer"
          },
          "ReasonText": {
            "type": "string"
          },
          "RelayName": {
            "type": "string"
          },
          "ScheduleName": {
            "type": "string"
          },
          "SignatureError": {
            "type": "integer"
          },
          "Success": {
            "type": "boolean"
          },
          "Timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "UserID": {
            "type": "string",
            "format": "uuid"
          },
          "Username": {
            "type": "string"
          },
          "VIDID": {
            "type": "integer"
          },
          "WorkOrderNumber": {
            "type": "string"
          }
        }
      },
      "userObject": {
        "type": "object",
        "properties": {
          "ControllerKey2": {
            "type": "string"
          },
          "SessionType": {
            "type": "integer",
            "description": "Kindoo, API, LocalAuth, Proprietary"
          },
          "_PhoneListName": {
            "type": "string"
          },
          "_PhoneListID": {
            "type": "integer"
          },
          "_DeviceUUIDorIP": {
            "type": "string"
          },
          "_IPAddress": {
            "type": "string"
          },
          "_ConnectionID": {
            "type": "string"
          },
          "_Server": {
            "type": "string"
          },
          "_DeviceOSVersion": {
            "type": "string"
          },
          "_Token": {
            "type": "string",
            "format": "uuid"
          },
          "_AppVersion": {
            "type": "integer"
          },
          "_OpenIDToken": {
            "type": "string"
          },
          "_OpenIDAccessToken": {
            "type": "string"
          },
          "_State": {
            "type": "string",
            "format": "uuid"
          },
          "_SSOProviderID": {
            "type": "integer"
          },
          "LastActivityDate": {
            "type": "string",
            "format": "date-time"
          },
          "UserRole": {
            "type": "integer"
          },
          "_IsOnline": {
            "type": "boolean"
          },
          "_LastSeen": {
            "type": "string",
            "format": "date-time"
          },
          "EnvIsLocal": {
            "type": "boolean"
          },
          "tempPassword": {
            "type": "string"
          },
          "_MidnightNotified": {
            "type": "integer"
          },
          "LoggedInSince": {
            "type": "string",
            "format": "date-time"
          },
          "LocalEnvs": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "DisplayName": {
            "type": "string"
          },
          "FileName1Fixed": {
            "type": "string"
          },
          "FileName2Fixed": {
            "type": "string"
          },
          "FileName3Fixed": {
            "type": "string"
          },
          "_adminLastLoginDate": {
            "type": "string",
            "format": "date-time"
          },
          "_adminRegistrationDate": {
            "type": "string",
            "format": "date-time"
          },
          "TempPhone": {
            "type": "string"
          },
          "TempFirstName": {
            "type": "string"
          },
          "TempLastName": {
            "type": "string"
          },
          "CertifiedExams": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "TwoFaDevices": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "RequestsCounter": {
            "type": "object"
          },
          "ID": {
            "type": "string",
            "format": "uuid"
          },
          "EnvironmentID": {
            "type": "integer"
          },
          "Username": {
            "type": "string"
          },
          "Password": {
            "type": "string",
            "description": "Password (internal use only)"
          },
          "FirstName": {
            "type": "string"
          },
          "LastName": {
            "type": "string"
          },
          "Phone": {
            "type": "string"
          },
          "Mobile": {
            "type": "string"
          },
          "LastLoginDate": {
            "type": "string",
            "format": "date-time"
          },
          "InvalidPasswordAttempts": {
            "type": "integer"
          },
          "FailedLoginAttempTime": {
            "type": "string",
            "format": "date-time"
          },
          "RegistrationDate": {
            "type": "string",
            "format": "date-time"
          },
          "VerificationCode": {
            "type": "string",
            "format": "uuid"
          },
          "VerificationDate": {
            "type": "string",
            "format": "date-time"
          },
          "DeactivationDate": {
            "type": "string",
            "format": "date-time"
          },
          "FileName1": {
            "type": "string"
          },
          "FileName2": {
            "type": "string"
          },
          "FileName3": {
            "type": "string"
          },
          "KindooUserID": {
            "type": "string",
            "format": "uuid"
          },
          "RunInBackground": {
            "type": "boolean"
          },
          "PreferredLanguage": {
            "type": "string"
          },
          "ManagerOfThirdParty": {
            "type": "integer"
          },
          "IsController": {
            "type": "boolean"
          },
          "ControllerKey": {
            "type": "string",
            "description": "Controller key (internal use only)"
          },
          "IsoFileName": {
            "type": "string"
          },
          "IsoFileDownloadedOn": {
            "type": "string",
            "format": "date-time"
          },
          "IsoFileDownloadedBy": {
            "type": "integer"
          },
          "AcceptedTermsAndConditionsOn": {
            "type": "string",
            "format": "date-time"
          },
          "InvitedByUser": {
            "type": "boolean"
          },
          "ManagementApiKey": {
            "type": "string",
            "format": "uuid"
          },
          "IsProgrammer": {
            "type": "boolean"
          },
          "ProgrammerAcceptedOn": {
            "type": "string",
            "format": "date-time"
          },
          "ProgrammerAcceptedBy": {
            "type": "integer"
          },
          "ProgrammerDeniedOn": {
            "type": "string",
            "format": "date-time"
          },
          "ProgrammerDeniedBy": {
            "type": "integer"
          },
          "InvoiceFileName": {
            "type": "string"
          },
          "IsSuperApi": {
            "type": "boolean"
          },
          "BlockDate": {
            "type": "string",
            "format": "date-time"
          },
          "InvalidOtpAttempt": {
            "type": "integer"
          },
          "InvalidOtpAttemptDate": {
            "type": "string",
            "format": "date-time"
          },
          "IsSuperApiData": {
            "type": "boolean"
          },
          "SSOID": {
            "type": "string"
          },
          "environment_user_third_party_ref": {
            "type": "string"
          }
        }
      },
      "customEmailObject": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer"
          },
          "EnvironmentID": {
            "type": "integer"
          },
          "EmailType": {
            "type": "integer"
          },
          "SubjectEnglish": {
            "type": "string"
          },
          "BodyEnglish": {
            "type": "string"
          },
          "SubjectFrench": {
            "type": "string"
          },
          "BodyFrench": {
            "type": "string"
          },
          "SubjectSpanish": {
            "type": "string"
          },
          "BodySpanish": {
            "type": "string"
          },
          "SubjectPortugueseEuropean": {
            "type": "string"
          },
          "BodyPortugueseEuropean": {
            "type": "string"
          },
          "SubjectPortugueseBrazilian": {
            "type": "string"
          },
          "BodyPortugueseBrazilian": {
            "type": "string"
          },
          "CreatedBy": {
            "type": "string",
            "format": "uuid"
          },
          "CreatedOn": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "ModifiedBy": {
            "type": "string",
            "format": "uuid"
          },
          "ModifiedOn": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "created_by_user": {
            "type": "object"
          },
          "modified_by_user": {
            "type": "object"
          }
        }
      },
      "MasterLicenseObject": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "string",
            "format": "uuid"
          },
          "ThirdPartyID": {
            "type": "integer"
          },
          "UserID": {
            "type": "string",
            "format": "uuid"
          },
          "HasAccepted": {
            "type": "boolean"
          },
          "CreatedOn": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "CreatedBy": {
            "type": "string",
            "format": "uuid"
          },
          "RevokedOn": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "RevokedBy": {
            "type": "string",
            "format": "uuid"
          },
          "user_created_by": {
            "type": "object",
            "items": {
              "$ref": "#/components/schemas/userObject"
            }
          },
          "user_revoked_by": {
            "type": "object",
            "items": {
              "$ref": "#/components/schemas/userObject"
            }
          },
          "user_allocated_to": {
            "type": "object",
            "items": {
              "$ref": "#/components/schemas/userObject"
            }
          }
        }
      },
      "UserMasterInvitationType": {
        "type": "object",
        "properties": {
          "ConsumeLicense": {
            "type": "boolean"
          },
          "UserEmail": {
            "type": "string"
          },
          "InviteType": {
            "type": "integer",
            "description": "integer value from 1 to 6. 1: NewKindooUser, 2: ExistingUserNewMasterLicense, 3: ExistingUserMasterLicenseExistUserDidNotReply, 4: ExistingUserMasterLicenseExistAccepted, 5:ExistingUserMasterLicenseExistNotAccepted, 6: ExistingUserMasterLicenseRevoked"
          },
          "InviteTypeName": {
            "type": "string",
            "description": "string type name, on of the following values: NewKindooUser, ExistingUserNewMasterLicense, ExistingUserMasterLicenseExistUserDidNotReply, ExistingUserMasterLicenseExistAccepted, ExistingUserMasterLicenseExistNotAccepted, ExistingUserMasterLicenseRevoked"
          },
          "UserObj": {
            "type": "object",
            "items": {
              "$ref": "#/components/schemas/userObject"
            }
          }
        }
      },
      "UserMasterInvitationTypeResult": {
        "type": "object",
        "properties": {
          "InviteType": {
            "type": "integer",
            "description": "integer value from 1 to 6. 1: NewKindooUser, 2: ExistingUserNewMasterLicense, 3: ExistingUserMasterLicenseExistUserDidNotReply, 4: ExistingUserMasterLicenseExistAccepted, 5:ExistingUserMasterLicenseExistNotAccepted, 6: ExistingUserMasterLicenseRevoked"
          },
          "InviteTypeName": {
            "type": "string",
            "description": "string type name, on of the following values: NewKindooUser, ExistingUserNewMasterLicense, ExistingUserMasterLicenseExistUserDidNotReply, ExistingUserMasterLicenseExistAccepted, ExistingUserMasterLicenseExistNotAccepted, ExistingUserMasterLicenseRevoked"
          },
          "UserObj": {
            "type": "object",
            "items": {
              "$ref": "#/components/schemas/userObject"
            }
          },
          "TransactionID": {
            "type": "string",
            "format": "uuid"
          },
          "MasterLicenseID": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "bankAvailablePropsObj": {
        "type": "object",
        "properties": {
          "AvailablePermanentUserCount": {
            "type": "integer",
            "format": "int64"
          },
          "AvailablePinLicenseCount": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "bankTransactionObj": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "string",
            "format": "uuid"
          },
          "Quantity": {
            "type": "integer",
            "format": "int64"
          },
          "Type": {
            "type": "integer"
          },
          "TypeStr": {
            "type": "string"
          },
          "MovedToEnvironmentID": {
            "type": "integer",
            "format": "int64"
          },
          "MovedToEnvironmentName": {
            "type": "string"
          },
          "FileName": {
            "type": "string"
          },
          "RequestedBy": {
            "type": "object",
            "properties": {
              "ID": {
                "type": "string",
                "format": "uuid"
              },
              "FirstName": {
                "type": "string"
              },
              "LastName": {
                "type": "string"
              },
              "Email": {
                "type": "string"
              }
            }
          },
          "RequestedOn": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          }
        }
      },
      "invoice": {
        "type": "object",
        "properties": {
          "StatusID ": {
            "type": "integer"
          },
          "StatusStr ": {
            "type": "string"
          },
          "Year ": {
            "type": "integer"
          },
          "InvoiceNumber": {
            "type": "string"
          },
          "EnvironmentID ": {
            "type": "integer"
          },
          "EnvironmentName ": {
            "type": "string"
          },
          "CreatedOn": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "CreatedBy": {
            "type": "string"
          },
          "Currency": {
            "type": "string"
          },
          "SubTotalPrice": {
            "type": "number",
            "format": "double"
          },
          "TotalVAT": {
            "type": "number",
            "format": "double"
          },
          "TotalPrice": {
            "type": "number",
            "format": "double"
          },
          "TransactionFee": {
            "type": "number",
            "format": "double"
          },
          "Details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/invoiceDetail"
            }
          }
        }
      },
      "invoiceDetail": {
        "type": "object",
        "properties": {
          "Title": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "UnitType": {
            "type": "string"
          },
          "InvoiceNumber": {
            "type": "string"
          },
          "Quantity": {
            "type": "integer"
          },
          "UnitPrice": {
            "type": "number",
            "format": "double"
          },
          "DiscountPercentage": {
            "type": "number",
            "format": "double"
          },
          "SubTotalPrice": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "kindooLanguagesObj": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer"
          },
          "IsoCode": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          }
        }
      },
      "kindooCustomEmailObj": {
        "type": "object",
        "properties": {
          "EnvironmentID": {
            "type": "integer"
          },
          "IsoLanguageCode": {
            "type": "string"
          },
          "Language": {
            "type": "string"
          },
          "Subject": {
            "type": "string"
          },
          "Body": {
            "type": "string"
          }
        }
      },
      "kindooThirdPartyCustomEmailObj": {
        "type": "object",
        "properties": {
          "IsoLanguageCode": {
            "type": "string"
          },
          "Language": {
            "type": "string"
          },
          "Subject": {
            "type": "string"
          },
          "Body": {
            "type": "string"
          }
        }
      },
      "userInvitationObject": {
        "description": "This should be an array of the following object: UserEmail is the email of the user you want to invite. UserRole set 0 for administrator, 1 for manager, 2 for guest, 3 for installer. Description is a open text field to set a small description for the user invited. CCInEmail set to true if you want to be CC in the invitation email. IsTempUser set to true if you want the user to be temporary, if set to true ExpiryDate StartAccessDoorsDate and ExpiryTimeZone properties should be set. ExpiryDate is of format YYYY-MM-DDTHH:mm:ss and is the date and time of when the user will be removed from the site. StartAccessDoorsDate is of format YYYY-MM-DDTHH:mm:ss and is the date and time the user access rights are activated. ExpiryTimeZone is the standard name of the C# timezone can be fetched by api call KindooGetTimeZones, ExpiryDate and StartAccessDoorsDate will be transformed to UTC according to the timezone set",
        "example": [
          {
            "UserEmail": "johndoe@domain.com",
            "UserRole": 0,
            "Description": null,
            "CCInEmail": true,
            "IsTempUser": false,
            "ExpiryDate": null,
            "StartAccessDoorsDate": null,
            "ExpiryTimeZone": null,
            "ThirdPartyRef": null
          },
          {
            "UserEmail": "Johndoe2@domain.com",
            "UserRole": 0,
            "Description": null,
            "CCInEmail": true,
            "IsTempUser": false,
            "ExpiryDate": null,
            "StartAccessDoorsDate": null,
            "ExpiryTimeZone": null,
            "ThirdPartyRef": null
          }
        ],
        "type": "object",
        "properties": {
          "UserEmail": {
            "type": "string",
            "description": "The email of the user."
          },
          "UserRole": {
            "type": "integer",
            "enum": [
              0,
              1,
              2
            ],
            "description": "The role of the user (0=admin, 1=manager, 2=guest and 3=installer)."
          },
          "Description": {
            "type": "string",
            "description": "Description of the user only on type D sites (if not set, it will default to null)."
          },
          "CCInEmail": {
            "type": "boolean",
            "description": "Whether to CC the user in the email."
          },
          "IsTempUser": {
            "type": "boolean",
            "description": "Only on type D sites (if not set, it will default to false)."
          },
          "ExpiryDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time when the user's access expires."
          },
          "StartAccessDoorsDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time when the user's access to doors starts."
          },
          "ExpiryTimeZone": {
            "type": "string",
            "description": "Time zone for the expiry date."
          }
        }
      },
      "userInvitationEmail": {
        "description": "This should be an array user emails",
        "example": [
          "johndoe@domain.com",
          "Johndoe2@domain.com"
        ],
        "type": "string"
      },
      "licenseRevokeExample": {
        "description": "This should be an array of license IDs (GUID)",
        "example": [
          "01406020-5517-4566-82eb-c5b56d0d27d4",
          "30027ec0-9eb9-4812-a4f2-56a98cb9628d"
        ],
        "type": "string"
      },
      "betweenScheduleObject": {
        "description": "An array of the following object: id is always set to -1. FROM of format YYYY-MM-DDTHH:mm:ss. TO of format YYYY-MM-DDTHH:mm:ss. DayOfWeek set to -1",
        "example": [
          {
            "id": -1,
            "FROM": "2024-04-28T08:00:00",
            "TO": "2024-05-01T17:00:00",
            "DayOfWeek": -1
          },
          {
            "id": -1,
            "FROM": "2024-06-28T08:00:00",
            "TO": "2024-07-01T17:00:00",
            "DayOfWeek": -1
          }
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "FROM": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "TO": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "DayOfWeek": {
            "type": "integer"
          }
        }
      },
      "weeklyScheduleObject": {
        "description": "An array of the following object: id is always set to -1. FROM of format YYYY-MM-DDTHH:mm:ss, the date is not relative here, the time is important. TO of format YYYY-MM-DDTHH:mm:ss, the date is not relative here, the time is important. DayOfWeek set 0 for Sunday, 1 for monday, 2 for tuesday, 3 for wednesday, 4 for thursday, 5 for friday, 6 for saturday",
        "example": [
          {
            "id": -1,
            "FROM": "0001-01-01T08:00:00",
            "TO": "0001-01-01T17:00:00",
            "DayOfWeek": 1
          },
          {
            "id": 124,
            "FROM": "0001-01-01T08:00:00",
            "TO": "0001-01-01T17:00:00",
            "DayOfWeek": 3
          },
          {
            "id": -1,
            "FROM": "0001-01-01T08:00:00",
            "TO": "0001-01-01T17:00:00",
            "DayOfWeek": 5
          }
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "FROM": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "TO": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "DayOfWeek": {
            "type": "integer"
          }
        }
      },
      "entryPointParamObject": {
        "description": "Array of entry point IDs. set to [] if AllEntryPoints is set to true",
        "example": [
          1728,
          1800,
          2001
        ],
        "type": "object"
      },
      "ruleIDParamWithoutAllDescObject": {
        "description": "Array of rule IDs",
        "example": [
          1765,
          1800,
          2001
        ],
        "type": "object"
      },
      "AccessRightIDsParamWithoutAllDescObject": {
        "description": "Array of access right IDs",
        "example": [
          1765,
          1800,
          2001
        ],
        "type": "object"
      },
      "childrenIDParamWithoutAllDescObject": {
        "description": "The ChildrenIDs property from a fetched weekly access rule.",
        "example": [
          1765,
          1800,
          2001
        ],
        "type": "object"
      },
      "pinObject": {
        "description": "Array of PIN objects. maximum 10",
        "example": [
          {
            "PIN": "1231415112131551",
            "Description": "Monday cleaner access",
            "ExpiryDate": "2024-09-17T17:00:00",
            "ExpiryTimeZone": "Coordinated Universal Time"
          },
          {
            "PIN": "1515161314156167335",
            "Description": "All contractor access",
            "ExpiryDate": null,
            "ExpiryTimeZone": null
          }
        ],
        "type": "object",
        "properties": {
          "PIN": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "ExpiryDate": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "ExpiryTimeZone": {
            "type": "string"
          }
        }
      },
      "holidayEventObject": {
        "description": "an array of object with the following properties: FROM is of format YYYY-MM-DDTHH:mm:ss, if IsHoliday is true this property should be fetched from /KindooGetHolidaysByCountryAndYear, if IsHoliday is false then you can set it to any date you want. TO is of format YYYY-MM-DDTHH:mm:ss, if IsHoliday is true this property should be fetched from /KindooGetHolidaysByCountryAndYear, if IsHoliday is false then you can set it to any date you want. InludeInAccessRules set to true if you want to give access rights according to FROM-TO you set, set to false if you want to deny access rights according to FROM-TO you set. IsHoliday set to true if it is a holiday fetched by KindooGetHolidaysByCountryAndYear, set false to make it a special event. HolidayName, if the IsHoliday is set to true then set from the name fetched from KindooGetHolidaysByCountryAndYear, if the IsHoliday is set to false you can set a free text to specify your special event. HolidayCountryID, if the IsHoliday is set to true set it as the CountryID fetched from KindooGetHolidaysByCountryAndYear, if the IsHoliday is set to false set it to null",
        "example": [
          {
            "FROM": "2024-01-01T00:00:00",
            "TO": "2024-01-01T23:59:00",
            "InludeInAccessRules": false,
            "IsHoliday": true,
            "HolidayName": "New Year's Day",
            "HolidayCountryID": 41
          },
          {
            "FROM": "2024-03-31T00:00:00",
            "TO": "2024-03-31T23:59:00",
            "InludeInAccessRules": true,
            "IsHoliday": true,
            "HolidayName": "Easter Sunday",
            "HolidayCountryID": 41
          },
          {
            "FROM": "2024-04-06T00:00:00",
            "TO": "2024-04-06T23:59:00",
            "InludeInAccessRules": false,
            "IsHoliday": false,
            "HolidayName": "Wedding reservation",
            "HolidayCountryID": null
          }
        ],
        "type": "object",
        "properties": {
          "FROM": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "TO": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "InludeInAccessRules": {
            "type": "boolean"
          },
          "IsHoliday": {
            "type": "boolean"
          },
          "HolidayName": {
            "type": "string"
          },
          "HolidayCountryID": {
            "type": "integer"
          }
        }
      },
      "timezoneObject": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string"
          },
          "DisplayName": {
            "type": "string"
          },
          "StandardName": {
            "type": "string"
          },
          "DaylightName": {
            "type": "string"
          },
          "BaseUtcOffset": {
            "type": "string"
          },
          "AdjustmentRules": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "SupportsDaylightSavingTime": {
            "type": "boolean"
          }
        }
      },
      "UserSitesDTO": {
        "type": "object",
        "properties": {
          "SiteID": {
            "type": "string",
            "format": "int64"
          },
          "SiteName": {
            "type": "string"
          },
          "EUID": {
            "type": "integer",
            "format": "uuid"
          },
          "UserID": {
            "type": "integer",
            "format": "uuid"
          },
          "UserRole": {
            "type": "integer"
          }
        }
      },
      "rule": {
        "type": "object",
        "properties": {
          "AcceptedInvitation": {
            "type": "boolean"
          },
          "AccessScheduleID": {
            "type": "integer"
          },
          "AccessScheduleName": {
            "type": "string"
          },
          "AccessScheduleRules": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "AddedByAccessSchedule": {
            "type": "boolean"
          },
          "ChildrenIDs": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            }
          },
          "DepartmentType": {
            "type": "integer"
          },
          "Description": {
            "type": "string"
          },
          "DoorID": {
            "type": "integer"
          },
          "EUID": {
            "type": "string",
            "format": "uuid"
          },
          "EnvironmentID": {
            "type": "integer"
          },
          "F": {
            "type": "object"
          },
          "FromDate": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "ID": {
            "type": "integer"
          },
          "IsAlways": {
            "type": "boolean"
          },
          "IsMain": {
            "type": "boolean"
          },
          "IsParsed": {
            "type": "boolean"
          },
          "IsValid": {
            "type": "boolean"
          },
          "IsWeeklyRecurrent": {
            "type": "boolean"
          },
          "LastCommand": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "M": {
            "type": "object"
          },
          "PrimaryKey": {
            "type": "string",
            "format": "uuid"
          },
          "S": {
            "type": "object"
          },
          "SU": {
            "type": "object"
          },
          "T": {
            "type": "object"
          },
          "TH": {
            "type": "object"
          },
          "TimeZone": {
            "type": "string"
          },
          "TimeZoneDiff": {
            "type": "integer"
          },
          "TimeZoneInfo": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "ToDate": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "UserDisplayName": {
            "type": "string"
          },
          "UserEmail": {
            "type": "string"
          },
          "UserFirstName": {
            "type": "string"
          },
          "UserID": {
            "type": "string",
            "format": "uuid"
          },
          "UserLastName": {
            "type": "string"
          },
          "UserProfilePic": {
            "type": "string"
          },
          "VID": {
            "type": "string"
          },
          "VidName": {
            "type": "string"
          },
          "W": {
            "type": "object"
          },
          "WiegandID": {
            "type": "string"
          },
          "DayOfWeek": {
            "type": "integer"
          },
          "GrantedBy": {
            "type": "object",
            "items": {
              "$ref": "#/components/schemas/userObject"
            }
          },
          "GrantedOn": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          }
        }
      },
      "userInvitationDescriptionObject": {
        "type": "object",
        "properties": {
          "InviteType": {
            "type": "integer"
          },
          "IsEditing": {
            "type": "boolean"
          },
          "Role": {
            "type": "integer"
          },
          "UserEmail": {
            "type": "string"
          },
          "UserVerified": {
            "type": "boolean"
          },
          "VerificationCode": {
            "type": "string",
            "format": "uuid"
          },
          "eu": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EuObjectFull"
            }
          },
          "UserInvitedToSite": {
            "type": "boolean"
          },
          "ErrorMessage": {
            "type": "string"
          }
        }
      },
      "rulesSetsEnvironmentUsers": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "type": "string",
            "format": "uuid"
          },
          "CreatedOn": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "EUID": {
            "type": "string",
            "format": "uuid"
          },
          "ID": {
            "type": "integer",
            "format": "int64"
          },
          "RuleID": {
            "type": "integer",
            "format": "int64"
          },
          "rules_sets": {
            "type": "object"
          }
        }
      },
      "environmentWiegandCards": {
        "type": "object",
        "properties": {
          "AcceptanceDate": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "AllocationDate": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "CardNumber": {
            "type": "string"
          },
          "DeviceUUIDorIP": {
            "type": "string"
          },
          "EUID": {
            "type": "string",
            "format": "uuid"
          },
          "EnvironmentID": {
            "type": "integer",
            "format": "int64"
          },
          "FacilityCode": {
            "type": "string"
          },
          "ID": {
            "type": "integer",
            "format": "int64"
          },
          "IncEnvCardID": {
            "type": "integer",
            "format": "int64"
          },
          "IsRedeemed": {
            "type": "boolean"
          },
          "LoggedOutFromInitialDevice": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "PhoneID": {
            "type": "integer",
            "format": "int64"
          },
          "ProtocolID": {
            "type": "integer",
            "format": "int64"
          },
          "PurchasedBy": {
            "type": "string",
            "format": "uuid"
          },
          "PurchasedByUserName": {
            "type": "string"
          },
          "PurchasedOn": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "RevokeDate": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "RevokedBy": {
            "type": "string",
            "format": "uuid"
          },
          "RevokedByUserName": {
            "type": "string"
          },
          "RevokedFromUsername": {
            "type": "string"
          },
          "TransferApprovedBy": {
            "type": "string",
            "format": "uuid"
          },
          "TransferApprovedOn": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "TransferRequestedOn": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "UserID": {
            "type": "string",
            "format": "uuid"
          },
          "Username": {
            "type": "string"
          },
          "phone_list": {
            "type": "object"
          },
          "user2": {
            "type": "object"
          },
          "wiegand_protocols": {
            "type": "object"
          }
        }
      },
      "revokedUserObject": {
        "type": "object",
        "properties": {
          "DepartmentID": {
            "type": "integer"
          },
          "EnvironmentID": {
            "type": "integer"
          },
          "HasAccepted": {
            "type": "boolean"
          },
          "ID": {
            "type": "string"
          },
          "InvitedBy": {
            "type": "string"
          },
          "InvitedByUser": {
            "$ref": "#/components/schemas/userObject"
          },
          "InvitedOn": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "KindooAccessCode": {
            "type": "string"
          },
          "PositionID": {
            "type": "integer"
          },
          "RevokedBy": {
            "type": "string"
          },
          "RevokedOn": {
            "type": "string",
            "format": "date-time",
            "description": "format YYYY-MM-DDTHH:mm:ss"
          },
          "Status": {
            "type": "integer"
          },
          "TimeZone": {
            "type": "string"
          },
          "USerID": {
            "type": "string"
          },
          "WiegandUserFaciltyCode": {
            "type": "string"
          },
          "WiegandUserID": {
            "type": "string"
          },
          "_Token": {
            "type": "string"
          },
          "department": {
            "type": "object",
            "properties": {
              "EnvironmentID": {
                "type": "integer"
              },
              "ID": {
                "type": "integer"
              },
              "Name": {
                "type": "string"
              },
              "NameFrench": {
                "type": "string"
              },
              "Type": {
                "type": "integer"
              },
              "environment": {
                "type": "object"
              },
              "positions": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          },
          "environment": {
            "type": "object"
          },
          "environment_wiegand_cards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/environmentWiegandCards"
            }
          },
          "position": {
            "type": "object"
          },
          "rules_sets_environment_users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/rulesSetsEnvironmentUsers"
            }
          },
          "user": {
            "$ref": "#/components/schemas/userObject"
          },
          "vids": {
            "$ref": "#/components/schemas/kinObject"
          }
        }
      }
    },
    "responses": {
      "successResponse": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "type": "string",
              "example": "1"
            }
          }
        }
      },
      "unauthorizedResponse": {
        "description": "Unauthorized - your session is not valid",
        "content": {
          "text/html": {
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "errorMessage": {
        "description": "See Other",
        "content": {
          "text/plain": {
            "schema": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "SessionTokenID": []
    }
  ],
  "paths": {
    "/ApiLogin": {
      "post": {
        "operationId": "ApiLogin",
        "summary": "Authenticate user",
        "tags": [
          "Authentication and Session Management"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "ApiKey": {
                    "type": "string",
                    "description": "An API key for authentication purposes"
                  },
                  "AdminUsername": {
                    "type": "string",
                    "description": "The username for an admin account"
                  },
                  "AdminPassword": {
                    "type": "string",
                    "description": "The password for an admin account"
                  }
                },
                "required": [
                  "ApiKey",
                  "AdminUsername",
                  "AdminPassword"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "303": {
            "description": "See Other",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorizedResponse"
          }
        }
      }
    },
    "/KindooGetAPISessions": {
      "post": {
        "tags": [
          "Authentication and Session Management"
        ],
        "summary": "Get a list of all your api sessions",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SessionObject"
                  }
                }
              }
            }
          },
          "303": {
            "$ref": "#/components/responses/errorMessage"
          },
          "401": {
            "$ref": "#/components/responses/unauthorizedResponse"
          }
        }
      }
    },
    "/KillAllApiSessions": {
      "post": {
        "summary": "Kill all active sessions",
        "tags": [
          "Authentication and Session Management"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/successResponse"
          },
          "303": {
            "$ref": "#/components/responses/errorMessage"
          },
          "401": {
            "$ref": "#/components/responses/unauthorizedResponse"
          }
        }
      }
    },
    "/KillMySession": {
      "post": {
        "summary": "Kill a selected session",
        "tags": [
          "Authentication and Session Management"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "TokenIdToKill": {
                    "type": "string",
                    "description": "String value representing the specific session token that the user wants to terminate."
                  }
                },
                "required": [
                  "TokenIdToKill"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/successResponse"
          },
          "303": {
            "$ref": "#/components/responses/errorMessage"
          },
          "401": {
            "$ref": "#/components/responses/unauthorizedResponse"
          }
        }
      }
    },
    "/KindooGetEnvironments": {
      "post": {
        "summary": "Get a list of EU objects or a single EU object",
        "tags": [
          "Environment Management"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "EID": {
                    "type": "integer",
                    "format": "int64"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/EUArray"
                    },
                    {
                      "$ref": "#/components/schemas/EUObject"
                    }
                  ],
                  "description": "If the request is successful, this endpoint returns either an array of EU objects or a single EU object, depending on the input provided. If the `EID` parameter is provided, a single EU object is returned. If the `EID` parameter is not provided, an array of all EU objects is returned."
                }
              }
            }
          },
          "303": {
            "$ref": "#/components/responses/errorMessage"
          },
          "401": {
            "$ref": "#/components/responses/unauthorizedResponse"
          }
        }
      }
    },
    "/KindooGetEnvironmentUsersLight": {
      "post": {
        "tags": [
          "Environment Management"
        ],
        "summary": "Get a list of light user objects based on specified parameters",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "EID": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The environment id."
                  },
                  "Start": {
                    "type": "integer"
                  },
                  "End": {
                    "type": "integer"
                  },
                  "KeyWord": {
                    "type": "string",
                    "description": "Keyword to search by first name or last name or email"
                  },
                  "FetchInvitedOnInvitedByData": {
                    "type": "boolean",
                    "description": "Send true to populate the invited by user object and invited on"
                  }
                },
                "required": [
                  "EID",
                  "Start",
                  "End"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LightUserObject"
                  }
                }
              }
            }
          },
          "303": {
            "$ref": "#/components/responses/errorMessage"
          },
          "401": {
            "$ref": "#/components/responses/unauthorizedResponse"
          }
        }
      }
    },
    "/KindooGetEnvironmentEntryPoints": {
      "post": {
        "tags": [
          "Environment Management"
        ],
        "summary": "Get list of entry points for a specific site.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "EID": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The ID of the site to retrieve entry points for."
                  },
                  "EntryPointID": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The ID of a specific entry point in a site. You can pass null to fetch all the entry points in a site"
                  },
                  "WithLinkedKins": {
                    "type": "boolean",
                    "description": "Send true to fetch the KINs linked to the entry point"
                  },
                  "WithLinkedKinsRelays": {
                    "type": "boolean",
                    "description": "Send true to fetch the door relays of the KINs linked to the entry point"
                  }
                },
                "required": [
                  "EID"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/entryPointObject"
                  }
                }
              }
            }
          },
          "303": {
            "$ref": "#/components/responses/errorMessage"
          },
          "401": {
            "$ref": "#/components/responses/unauthorizedResponse"
          }
        }
      }
    },
    "/KindooGetSiteUserEntryPointLogs": {
      "post": {
        "tags": [
          "Environment Management"
        ],
        "summary": "Retrieve the site logs for an entry point or user or all logs",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "EntryPointID": {
                    "type": "integer",
                    "description": "The ID of an entry point. Send null if you do not want to filter by entry point"
                  },
                  "EID": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The environment id."
                  },
                  "UID": {
                    "type": "string",
                    "description": "User id (Exact match of Kindoo user ID). Send null if you do not want to filter by user"
                  },
                  "StartDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "start date format YYYY-MM-DDTHH:mm:ssZ"
                  },
                  "EndDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "end date format YYYY-MM-DDTHH:mm:ssZ"
                  },
                  "KeyWord": {
                    "type": "string"
                  }
                },
                "required": [
                  "EID",
                  "StartDate",
                  "EndDate"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Logs"
                  },
                  "description": "If the request is successful, this endpoint returns either an array of kins logs or an array of user logs, depending on the input provided. If the `UID` parameter is provided and the \"kin\" parameter is null, an array of user logs is returned. If the `UID` parameter is not provided and the 'Kin' parameter is provided, an array of kins logs is returned."
                }
              }
            }
          },
          "303": {
            "$ref": "#/components/responses/errorMessage"
          },
          "401": {
            "$ref": "#/components/responses/unauthorizedResponse"
          }
        }
      }
    },
    "/KindooGetEnvironmentRules": {
      "post": {
        "tags": [
          "Environment Management"
        ],
        "summary": "Retrieve a list of access rules for a given site ID",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "EID": {
                    "type": "integer",
                    "format": "int64",
                    "description": "An integer representing the site ID to retrieve access rules from."
                  }
                },
                "required": [
                  "EID"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/accessScheduleObject"
                  }
                }
              }
            }
          },
          "303": {
            "$ref": "#/components/responses/errorMessage"
          },
          "401": {
            "$ref": "#/components/responses/unauthorizedResponse"
          }
        }
      }
    },
    "/KindooGetEnvRuleWithEntryPoints": {
      "post": {
        "tags": [
          "Environment Management"
        ],
        "summary": "Retrieve a specific environment access rule",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "EID": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The environment id."
                  },
                  "RuleID": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The ID of the specific rule to retrieve."
                  }
                },
                "required": [
                  "EID"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accessScheduleObject"
                }
              }
            }
          },
          "303": {
            "$ref": "#/components/responses/errorMessage"
          },
          "401": {
            "$ref": "#/components/responses/unauthorizedResponse"
          }
        }
      }
    },
    "/KindooSearchAgents": {
      "post": {
        "summary": "Search for an agent to get the agent ID for site creation",
        "tags": [
          "Environment Management"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "Keyword": {
                    "type": "string"
                  }
                },
                "required": [
                  "Keyword"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Agents"
                  },
                  "description": "If the request is successful, this endpoint returns list of agents."
                }
              }
            }
          },
          "303": {
            "$ref": "#/components/responses/errorMessage"
          },
          "401": {
            "$ref": "#/components/responses/unauthorizedResponse"
          }
        }
      }
    },
    "/KindooSaveEnvironmentNewWithoutType": {
      "post": {
        "summary": "Creating a new site in Kindoo",
        "tags": [
          "Environment Management"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "EnvName": {
                    "type": "string"
                  },
                  "KindooPartnerID": {
                    "description": "Get the partner ID from calling KindooSearchAgents",
                    "type": "integer"
                  },
                  "PartnerPIN": {
                    "description": "Only set the PIN if KindooPartnerID is set",
                    "type": "integer",
                    "format": "int64"
                  },
                  "Language": {
                    "type": "string"
                  },
                  "UserTimezones": {
                    "description": "Set only one standard name of the C# timezone can be fetched by api call KindooGetTimeZones.",
[...]
