{
  "openapi": "3.0.3",
  "info": {
    "title": "Mailjet API",
    "description": "Mailjet is a transactional and marketing email API. Send emails, manage contacts and contact lists, create campaigns, view statistics, and manage templates. Supports both Send API v3.1 for transactional emails and REST API v3 for resource management.",
    "version": "3.1.0",
    "contact": {
      "name": "Mailjet",
      "url": "https://www.mailjet.com"
    }
  },
  "servers": [
    {
      "url": "https://api.mailjet.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "BasicAuth": []
    }
  ],
  "paths": {
    "/v3.1/send": {
      "post": {
        "operationId": "sendEmail",
        "summary": "Send transactional email",
        "description": "Send one or more transactional emails using the Send API v3.1. Supports HTML and text content, attachments, inline images, templates, and custom variables.",
        "tags": ["Send"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendEmailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Emails sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendEmailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized - invalid API credentials"
          }
        }
      }
    },
    "/v3/REST/contact": {
      "get": {
        "operationId": "listContacts",
        "summary": "List contacts",
        "description": "Retrieve a list of all contacts.",
        "tags": ["Contacts"],
        "parameters": [
          {
            "name": "Limit",
            "in": "query",
            "description": "Number of results per page (max 1000)",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 1000
            }
          },
          {
            "name": "Offset",
            "in": "query",
            "description": "Pagination offset",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "Sort",
            "in": "query",
            "description": "Sort field and direction",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IsExcludedFromCampaigns",
            "in": "query",
            "description": "Filter by campaign exclusion status",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of contacts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createContact",
        "summary": "Create a contact",
        "description": "Create a new contact with an email address.",
        "tags": ["Contacts"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContactRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v3/REST/contact/{contact_id}": {
      "get": {
        "operationId": "getContact",
        "summary": "Get a contact",
        "description": "Retrieve a specific contact by ID or email address.",
        "tags": ["Contacts"],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "description": "Contact ID or email address",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found"
          }
        }
      },
      "put": {
        "operationId": "updateContact",
        "summary": "Update a contact",
        "description": "Update an existing contact's properties.",
        "tags": ["Contacts"],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "description": "Contact ID or email address",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContactRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found"
          }
        }
      }
    },
    "/v3/REST/contactslist": {
      "get": {
        "operationId": "listContactLists",
        "summary": "List contact lists",
        "description": "Retrieve all contact lists.",
        "tags": ["Contact Lists"],
        "parameters": [
          {
            "name": "Limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 1000
            }
          },
          {
            "name": "Offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "Name",
            "in": "query",
            "description": "Filter by list name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of contact lists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactsListListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createContactList",
        "summary": "Create a contact list",
        "description": "Create a new contact list.",
        "tags": ["Contact Lists"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContactListRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact list created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactsListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/REST/contactslist/{list_id}": {
      "get": {
        "operationId": "getContactList",
        "summary": "Get a contact list",
        "description": "Retrieve a specific contact list.",
        "tags": ["Contact Lists"],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact list details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactsListResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateContactList",
        "summary": "Update a contact list",
        "description": "Update an existing contact list.",
        "tags": ["Contact Lists"],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContactListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact list updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactsListResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteContactList",
        "summary": "Delete a contact list",
        "description": "Delete a specific contact list.",
        "tags": ["Contact Lists"],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Contact list deleted"
          }
        }
      }
    },
    "/v3/REST/contactslist/{list_id}/managemanycontacts": {
      "post": {
        "operationId": "manageContactListMembers",
        "summary": "Manage multiple contacts in a list",
        "description": "Add or remove multiple contacts from a contact list in a single request.",
        "tags": ["Contact Lists"],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Action": {
                    "type": "string",
                    "enum": ["addforce", "addnoforce", "remove", "unsub"],
                    "description": "Action to perform on contacts"
                  },
                  "Contacts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Email": {
                          "type": "string",
                          "format": "email"
                        },
                        "Name": {
                          "type": "string"
                        },
                        "Properties": {
                          "type": "object",
                          "additionalProperties": true
                        }
                      },
                      "required": ["Email"]
                    }
                  }
                },
                "required": ["Action", "Contacts"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Batch job created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Count": {
                      "type": "integer"
                    },
                    "Data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "JobID": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "Total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/REST/listrecipient": {
      "get": {
        "operationId": "listListRecipients",
        "summary": "List contact-list associations",
        "description": "Retrieve list recipient records showing contact-list membership.",
        "tags": ["List Recipients"],
        "parameters": [
          {
            "name": "Contact",
            "in": "query",
            "description": "Filter by contact ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ContactsList",
            "in": "query",
            "description": "Filter by contact list ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 1000
            }
          },
          {
            "name": "Offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of list recipient records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Count": {
                      "type": "integer"
                    },
                    "Data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ListRecipient"
                      }
                    },
                    "Total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createListRecipient",
        "summary": "Subscribe a contact to a list",
        "description": "Create a list recipient record to subscribe a contact to a contact list.",
        "tags": ["List Recipients"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["ContactID", "ListID"],
                "properties": {
                  "ContactID": {
                    "type": "integer"
                  },
                  "ListID": {
                    "type": "integer"
                  },
                  "IsActive": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "List recipient created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Count": {
                      "type": "integer"
                    },
                    "Data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ListRecipient"
                      }
                    },
                    "Total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/REST/message": {
      "get": {
        "operationId": "listMessages",
        "summary": "List messages",
        "description": "Retrieve a list of sent messages with delivery status information.",
        "tags": ["Messages"],
        "parameters": [
          {
            "name": "Limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 1000
            }
          },
          {
            "name": "Offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "Campaign",
            "in": "query",
            "description": "Filter by campaign ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Contact",
            "in": "query",
            "description": "Filter by contact ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "MessageState",
            "in": "query",
            "description": "Filter by message state",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of messages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/REST/message/{message_id}": {
      "get": {
        "operationId": "getMessage",
        "summary": "Get a message",
        "description": "Retrieve details of a specific sent message.",
        "tags": ["Messages"],
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "404": {
            "description": "Message not found"
          }
        }
      }
    },
    "/v3/REST/statcounters": {
      "get": {
        "operationId": "getStatCounters",
        "summary": "Get statistics",
        "description": "Retrieve email sending statistics with various counters.",
        "tags": ["Statistics"],
        "parameters": [
          {
            "name": "CounterSource",
            "in": "query",
            "required": true,
            "description": "Source of counters",
            "schema": {
              "type": "string",
              "enum": ["APIKey", "Campaign", "List", "Sender"]
            }
          },
          {
            "name": "CounterResolution",
            "in": "query",
            "required": true,
            "description": "Time resolution for statistics",
            "schema": {
              "type": "string",
              "enum": ["Lifetime", "Day", "Hour"]
            }
          },
          {
            "name": "CounterTiming",
            "in": "query",
            "required": true,
            "description": "Timing for the statistics",
            "schema": {
              "type": "string",
              "enum": ["Message", "Event"]
            }
          },
          {
            "name": "FromTS",
            "in": "query",
            "description": "Start timestamp (Unix)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ToTS",
            "in": "query",
            "description": "End timestamp (Unix)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "SourceID",
            "in": "query",
            "description": "ID of the source entity (campaign ID, list ID, etc.)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Statistics data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatCountersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/REST/template": {
      "get": {
        "operationId": "listTemplates",
        "summary": "List templates",
        "description": "Retrieve a list of email templates.",
        "tags": ["Templates"],
        "parameters": [
          {
            "name": "Limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 1000
            }
          },
          {
            "name": "Offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "OwnerType",
            "in": "query",
            "description": "Filter by owner type",
            "schema": {
              "type": "string",
              "enum": ["apikey", "user"]
            }
          },
          {
            "name": "Name",
            "in": "query",
            "description": "Filter by template name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of templates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createTemplate",
        "summary": "Create a template",
        "description": "Create a new email template.",
        "tags": ["Templates"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Template created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/REST/template/{template_id}/detailcontent": {
      "get": {
        "operationId": "getTemplateContent",
        "summary": "Get template content",
        "description": "Retrieve the HTML and text content of a template.",
        "tags": ["Templates"],
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Count": {
                      "type": "integer"
                    },
                    "Data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Html-part": {
                            "type": "string"
                          },
                          "Text-part": {
                            "type": "string"
                          },
                          "MJMLContent": {
                            "type": "string"
                          },
                          "Headers": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "Total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateTemplateContent",
        "summary": "Update template content",
        "description": "Update the HTML and text content of a template.",
        "tags": ["Templates"],
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Html-part": {
                    "type": "string",
                    "description": "HTML content of the template"
                  },
                  "Text-part": {
                    "type": "string",
                    "description": "Plain text content of the template"
                  },
                  "MJMLContent": {
                    "type": "string",
                    "description": "MJML content of the template"
                  },
                  "Headers": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template content updated"
          }
        }
      }
    },
    "/v3/REST/sender": {
      "get": {
        "operationId": "listSenders",
        "summary": "List senders",
        "description": "Retrieve a list of registered sender addresses.",
        "tags": ["Senders"],
        "parameters": [
          {
            "name": "Limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 1000
            }
          },
          {
            "name": "Offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of senders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SenderListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createSender",
        "summary": "Create a sender",
        "description": "Register a new sender email address.",
        "tags": ["Senders"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["Email"],
                "properties": {
                  "Email": {
                    "type": "string",
                    "format": "email",
                    "description": "Sender email address"
                  },
                  "Name": {
                    "type": "string",
                    "description": "Sender display name"
                  },
                  "EmailType": {
                    "type": "string",
                    "enum": ["transactional", "bulk", "unknown"],
                    "description": "Type of emails to send from this address"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sender created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SenderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/REST/newsletter": {
      "get": {
        "operationId": "listCampaignDrafts",
        "summary": "List campaign drafts",
        "description": "Retrieve a list of campaign draft newsletters.",
        "tags": ["Campaigns"],
        "parameters": [
          {
            "name": "Limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 1000
            }
          },
          {
            "name": "Offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of campaign drafts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Count": {
                      "type": "integer"
                    },
                    "Data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Newsletter"
                      }
                    },
                    "Total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCampaignDraft",
        "summary": "Create a campaign draft",
        "description": "Create a new campaign draft newsletter.",
        "tags": ["Campaigns"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNewsletterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Campaign draft created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Count": {
                      "type": "integer"
                    },
                    "Data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Newsletter"
                      }
                    },
                    "Total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/REST/newsletter/{newsletter_id}/send": {
      "post": {
        "operationId": "sendCampaign",
        "summary": "Send a campaign",
        "description": "Send a campaign draft newsletter to its recipients.",
        "tags": ["Campaigns"],
        "parameters": [
          {
            "name": "newsletter_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Campaign sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Count": {
                      "type": "integer"
                    },
                    "Data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Status": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "Total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic authentication using your Mailjet API Key as username and Secret Key as password"
      }
    },
    "schemas": {
      "SendEmailRequest": {
        "type": "object",
        "required": ["Messages"],
        "properties": {
          "Messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmailMessage"
            },
            "description": "Array of messages to send"
          },
          "SandboxMode": {
            "type": "boolean",
            "description": "If true, messages are validated but not sent",
            "default": false
          },
          "Globals": {
            "type": "object",
            "description": "Global properties applied to all messages",
            "properties": {
              "From": {
                "$ref": "#/components/schemas/EmailAddress"
              },
              "Subject": {
                "type": "string"
              },
              "TextPart": {
                "type": "string"
              },
              "HTMLPart": {
                "type": "string"
              },
              "TemplateID": {
                "type": "integer"
              },
              "TemplateLanguage": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "EmailMessage": {
        "type": "object",
        "required": ["To"],
        "properties": {
          "From": {
            "$ref": "#/components/schemas/EmailAddress"
          },
          "To": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmailAddress"
            }
          },
          "Cc": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmailAddress"
            }
          },
          "Bcc": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmailAddress"
            }
          },
          "ReplyTo": {
            "$ref": "#/components/schemas/EmailAddress"
          },
          "Subject": {
            "type": "string"
          },
          "TextPart": {
            "type": "string",
            "description": "Plain text content"
          },
          "HTMLPart": {
            "type": "string",
            "description": "HTML content"
          },
          "TemplateID": {
            "type": "integer",
            "description": "Template ID to use"
          },
          "TemplateLanguage": {
            "type": "boolean",
            "description": "Enable template language processing"
          },
          "Variables": {
            "type": "object",
            "additionalProperties": true,
            "description": "Template variables"
          },
          "CustomID": {
            "type": "string",
            "description": "Custom ID for tracking"
          },
          "CustomCampaign": {
            "type": "string",
            "description": "Custom campaign name for grouping"
          },
          "Attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Attachment"
            }
          },
          "InlinedAttachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Attachment"
            }
          },
          "Headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Custom email headers"
          },
          "Priority": {
            "type": "integer",
            "description": "Sending priority"
          }
        }
      },
      "EmailAddress": {
        "type": "object",
        "required": ["Email"],
        "properties": {
          "Email": {
            "type": "string",
            "format": "email"
          },
          "Name": {
            "type": "string"
          }
        }
      },
      "Attachment": {
        "type": "object",
        "required": ["ContentType", "Filename", "Base64Content"],
        "properties": {
          "ContentType": {
            "type": "string",
            "description": "MIME type of the attachment"
          },
          "Filename": {
            "type": "string"
          },
          "Base64Content": {
            "type": "string",
            "description": "Base64-encoded file content"
          },
          "ContentID": {
            "type": "string",
            "description": "Content-ID for inline attachments"
          }
        }
      },
      "SendEmailResponse": {
        "type": "object",
        "properties": {
          "Messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "string",
                  "enum": ["success", "error"]
                },
                "CustomID": {
                  "type": "string"
                },
                "To": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Email": {
                        "type": "string"
                      },
                      "MessageUUID": {
                        "type": "string"
                      },
                      "MessageID": {
                        "type": "integer"
                      },
                      "MessageHref": {
                        "type": "string"
                      }
                    }
                  }
                },
                "Cc": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "Bcc": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer"
          },
          "Email": {
            "type": "string",
            "format": "email"
          },
          "Name": {
            "type": "string"
          },
          "IsExcludedFromCampaigns": {
            "type": "boolean"
          },
          "CreatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "DeliveredCount": {
            "type": "integer"
          },
          "LastActivityAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateContactRequest": {
        "type": "object",
        "required": ["Email"],
        "properties": {
          "Email": {
            "type": "string",
            "format": "email"
          },
          "Name": {
            "type": "string"
          },
          "IsExcludedFromCampaigns": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "UpdateContactRequest": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "IsExcludedFromCampaigns": {
            "type": "boolean"
          }
        }
      },
      "ContactResponse": {
        "type": "object",
        "properties": {
          "Count": {
            "type": "integer"
          },
          "Data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          },
          "Total": {
            "type": "integer"
          }
        }
      },
      "ContactListResponse": {
        "type": "object",
        "properties": {
          "Count": {
            "type": "integer"
          },
          "Data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          },
          "Total": {
            "type": "integer"
          }
        }
      },
      "ContactsList": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer"
          },
          "Name": {
            "type": "string"
          },
          "SubscriberCount": {
            "type": "integer"
          },
          "IsDeleted": {
            "type": "boolean"
          },
          "CreatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateContactListRequest": {
        "type": "object",
        "required": ["Name"],
        "properties": {
          "Name": {
            "type": "string",
            "description": "Name of the contact list"
          }
        }
      },
      "UpdateContactListRequest": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          }
        }
      },
      "ContactsListResponse": {
        "type": "object",
        "properties": {
          "Count": {
            "type": "integer"
          },
          "Data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactsList"
            }
          },
          "Total": {
            "type": "integer"
          }
        }
      },
      "ContactsListListResponse": {
        "type": "object",
        "properties": {
          "Count": {
            "type": "integer"
          },
          "Data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactsList"
            }
          },
          "Total": {
            "type": "integer"
          }
        }
      },
      "ListRecipient": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer"
          },
          "ContactID": {
            "type": "integer"
          },
          "ListID": {
            "type": "integer"
          },
          "IsActive": {
            "type": "boolean"
          },
          "IsUnsubscribed": {
            "type": "boolean"
          }
        }
      },
      "Message": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer"
          },
          "ArrivedAt": {
            "type": "string",
            "format": "date-time"
          },
          "ContactID": {
            "type": "integer"
          },
          "CampaignID": {
            "type": "integer"
          },
          "Status": {
            "type": "string",
            "description": "Delivery status"
          },
          "Subject": {
            "type": "string"
          },
          "MessageSize": {
            "type": "integer"
          },
          "SenderID": {
            "type": "integer"
          }
        }
      },
      "MessageListResponse": {
        "type": "object",
        "properties": {
          "Count": {
            "type": "integer"
          },
          "Data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          },
          "Total": {
            "type": "integer"
          }
        }
      },
      "MessageResponse": {
        "type": "object",
        "properties": {
          "Count": {
            "type": "integer"
          },
          "Data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          },
          "Total": {
            "type": "integer"
          }
        }
      },
      "StatCountersResponse": {
        "type": "object",
        "properties": {
          "Count": {
            "type": "integer"
          },
          "Data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "APIKeyID": {
                  "type": "integer"
                },
                "EventClickDelay": {
                  "type": "integer"
                },
                "EventClickedCount": {
                  "type": "integer"
                },
                "EventOpenDelay": {
                  "type": "integer"
                },
                "EventOpenedCount": {
                  "type": "integer"
                },
                "EventSpamCount": {
                  "type": "integer"
                },
                "EventUnsubscribedCount": {
                  "type": "integer"
                },
                "MessageBlockedCount": {
                  "type": "integer"
                },
                "MessageBounceCount": {
                  "type": "integer"
                },
                "MessageDeferredCount": {
                  "type": "integer"
                },
                "MessageHardBouncedCount": {
                  "type": "integer"
                },
                "MessageQueuedCount": {
                  "type": "integer"
                },
                "MessageSentCount": {
                  "type": "integer"
                },
                "MessageSoftBouncedCount": {
                  "type": "integer"
                },
                "Timeslice": {
                  "type": "string",
                  "format": "date-time"
                },
                "Total": {
                  "type": "integer"
                }
              }
            }
          },
          "Total": {
            "type": "integer"
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer"
          },
          "Name": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "OwnerType": {
            "type": "string"
          },
          "Purposes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "CreatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "LastUpdatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateTemplateRequest": {
        "type": "object",
        "required": ["Name"],
        "properties": {
          "Name": {
            "type": "string",
            "description": "Template name"
          },
          "Description": {
            "type": "string"
          },
          "Purposes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["transactional", "marketing"]
            }
          }
        }
      },
      "TemplateResponse": {
        "type": "object",
        "properties": {
          "Count": {
            "type": "integer"
          },
          "Data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Template"
            }
          },
          "Total": {
            "type": "integer"
          }
        }
      },
      "TemplateListResponse": {
        "type": "object",
        "properties": {
          "Count": {
            "type": "integer"
          },
          "Data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Template"
            }
          },
          "Total": {
            "type": "integer"
          }
        }
      },
      "Sender": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer"
          },
          "Email": {
            "type": "string",
            "format": "email"
          },
          "Name": {
            "type": "string"
          },
          "Status": {
            "type": "string",
            "description": "Validation status"
          },
          "EmailType": {
            "type": "string"
          },
          "CreatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SenderResponse": {
        "type": "object",
        "properties": {
          "Count": {
            "type": "integer"
          },
          "Data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Sender"
            }
          },
          "Total": {
            "type": "integer"
          }
        }
      },
      "SenderListResponse": {
        "type": "object",
        "properties": {
          "Count": {
            "type": "integer"
          },
          "Data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Sender"
            }
          },
          "Total": {
            "type": "integer"
          }
        }
      },
      "Newsletter": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer"
          },
          "Subject": {
            "type": "string"
          },
          "SenderEmail": {
            "type": "string",
            "format": "email"
          },
          "SenderName": {
            "type": "string"
          },
          "ContactsListID": {
            "type": "integer"
          },
          "Status": {
            "type": "integer"
          },
          "CreatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateNewsletterRequest": {
        "type": "object",
        "required": ["Subject", "SenderEmail", "ContactsListID"],
        "properties": {
          "Subject": {
            "type": "string",
            "description": "Campaign subject line"
          },
          "SenderEmail": {
            "type": "string",
            "format": "email",
            "description": "Sender email address"
          },
          "SenderName": {
            "type": "string",
            "description": "Sender display name"
          },
          "ContactsListID": {
            "type": "integer",
            "description": "Target contact list ID"
          },
          "Title": {
            "type": "string",
            "description": "Internal campaign title"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Send",
      "description": "Send transactional emails"
    },
    {
      "name": "Contacts",
      "description": "Manage email contacts"
    },
    {
      "name": "Contact Lists",
      "description": "Manage contact lists"
    },
    {
      "name": "List Recipients",
      "description": "Manage contact-list memberships"
    },
    {
      "name": "Messages",
      "description": "View sent message details"
    },
    {
      "name": "Statistics",
      "description": "Email sending statistics"
    },
    {
      "name": "Templates",
      "description": "Manage email templates"
    },
    {
      "name": "Senders",
      "description": "Manage sender addresses"
    },
    {
      "name": "Campaigns",
      "description": "Create and send marketing campaigns"
    }
  ]
}