{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "mastercard@mastercard.com",
      "name": "Mastercard"
    },
    "description": "MasterCard Bin Table Listing API",
    "license": {
      "name": "mastercard",
      "url": "http://www.mastercard.com"
    },
    "title": "MasterCard Bin Table Listing",
    "version": "1.0",
    "x-artifactId": "bintable",
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/mastercard.com/BINTableResource/1.0/swagger.json",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://developer.mastercard.com/devzone/api/portal/swagger/bin-table-resource",
        "version": "2.0"
      }
    ],
    "x-providerName": "mastercard.com",
    "x-serviceName": "BINTableResource",
    "x-test-on-environment": {
      "environment": "SANDBOX_MTF"
    }
  },
  "servers": [
    {
      "url": "https://api.mastercard.com/fraud/mtf/bintable/v1"
    }
  ],
  "paths": {
    "/binlisting": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BinTableResponse"
                }
              }
            },
            "description": "Successfully retrieved the BIN Table Listing file and available to Merchants"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoResource"
                }
              }
            },
            "description": "Resource Not Found"
          }
        },
        "tags": [
          "BIN Table Listing Service"
        ],
        "description": "REST service will retrieve and return the BIN Table file to Merchants.",
        "operationId": "get-binlisting",
        "summary": "BIN Table Listing file",
        "x-samples": [
          {
            "keyId": "default2",
            "name": "example_BinTAble_Getrequest",
            "request": {
              "application/json": "{\n }     "
            },
            "response": {
              "application/json": "{\n   \"data\":\"04241000000000000000424109999999999999MSI0000004782FIFTH\"\n\n }"
            }
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "BinTableResponse": {
        "properties": {
          "data": {
            "description": "BIN Table Listing file.",
            "example": "001234",
            "type": "string"
          }
        },
        "required": [
          "data"
        ],
        "type": "object"
      },
      "NoResource": {
        "properties": {
          "ReasonCode": {
            "description": "RESOURCE_UNKOWN",
            "example": "RESOURCE_UNKOWN",
            "type": "string"
          },
          "Source": {
            "description": "System.",
            "example": "System",
            "type": "string"
          },
          "description": {
            "description": "Resource not found",
            "example": "Resource not found",
            "type": "string"
          },
          "recoverable": {
            "example": false,
            "type": "boolean"
          }
        },
        "type": "object"
      }
    }
  },
  "tags": [
    {
      "name": "BIN Table Listing Service"
    }
  ]
}