{
  "openapi": "3.0.3",
  "info": {
    "title": "NCBI Genes Clinical Table Search Service",
    "version": "3.0.0",
    "description": "NIH Clinical Table Search Service API for searching NCBI Gene database for human genes.",
    "x-jentic-source-url": "https://clinicaltables.nlm.nih.gov/apidoc/ncbi_genes/v3/doc.html"
  },
  "servers": [
    {
      "url": "https://clinicaltables.nlm.nih.gov"
    }
  ],
  "paths": {
    "/api/ncbi_genes/v3/search": {
      "get": {
        "operationId": "searchGenes",
        "summary": "Search NCBI genes",
        "description": "Searches the NCBI Gene database for human genes matching specified criteria",
        "tags": [
          "Genes"
        ],
        "parameters": [
          {
            "name": "terms",
            "in": "query",
            "required": true,
            "description": "Search string",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxList",
            "in": "query",
            "description": "Number of results",
            "schema": {
              "type": "integer",
              "default": 7,
              "maximum": 500
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Page size",
            "schema": {
              "type": "integer",
              "default": 7,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Starting position",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Additional query constraints",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "df",
            "in": "query",
            "description": "Display fields",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sf",
            "in": "query",
            "description": "Fields to search",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cf",
            "in": "query",
            "description": "Code field",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ef",
            "in": "query",
            "description": "Extra fields",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}