{
  "openapi": "3.0.3",
  "info": {
    "title": "Pl@ntNet API",
    "version": "2.0.0",
    "description": "The Pl@ntNet API provides plant identification from images using deep learning. Submit photos and receive species identification with confidence scores.",
    "x-jentic-source-url": "https://my.plantnet.org/doc/api/openapi"
  },
  "servers": [
    {
      "url": "https://my-api.plantnet.org/v2"
    }
  ],
  "paths": {
    "/identify/{project}": {
      "post": {
        "operationId": "identifyPlant",
        "summary": "Identify a plant",
        "description": "Submit one or more images of a plant to identify its species",
        "tags": [
          "Identification"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "all"
            },
            "description": "Flora project (e.g., all, weurope, namerica)"
          },
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          },
          {
            "name": "include-related-images",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include related reference images"
          },
          {
            "name": "no-reject",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Never reject identification"
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            },
            "description": "Language for common names"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "kt",
                "legacy"
              ]
            },
            "description": "Model type"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "images": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "Plant images"
                  },
                  "organs": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "flower",
                        "leaf",
                        "fruit",
                        "bark",
                        "habit",
                        "other"
                      ]
                    },
                    "description": "Organ type for each image"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful identification",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentificationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/identify/{project}/url": {
      "get": {
        "operationId": "identifyPlantByUrl",
        "summary": "Identify a plant from image URLs",
        "description": "Identify a plant from publicly accessible image URLs",
        "tags": [
          "Identification"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "all"
            },
            "description": "Flora project"
          },
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          },
          {
            "name": "images",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Image URLs"
          },
          {
            "name": "organs",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Organ types"
          },
          {
            "name": "include-related-images",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Include reference images"
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Language for common names"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful identification",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentificationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/_count": {
      "get": {
        "operationId": "getIdentificationCount",
        "summary": "Get identification count",
        "description": "Returns the number of identifications remaining for the API key",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "identify": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "IdentificationResponse": {
        "type": "object",
        "properties": {
          "query": {
            "type": "object",
            "properties": {
              "project": {
                "type": "string"
              },
              "images": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "organs": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "language": {
            "type": "string"
          },
          "preferedReferential": {
            "type": "string"
          },
          "bestMatch": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IdentificationResult"
            }
          },
          "version": {
            "type": "string"
          },
          "remainingIdentificationRequests": {
            "type": "integer"
          }
        }
      },
      "IdentificationResult": {
        "type": "object",
        "properties": {
          "score": {
            "type": "number"
          },
          "species": {
            "type": "object",
            "properties": {
              "scientificNameWithoutAuthor": {
                "type": "string"
              },
              "scientificNameAuthorship": {
                "type": "string"
              },
              "scientificName": {
                "type": "string"
              },
              "genus": {
                "type": "object",
                "properties": {
                  "scientificNameWithoutAuthor": {
                    "type": "string"
                  },
                  "scientificName": {
                    "type": "string"
                  }
                }
              },
              "family": {
                "type": "object",
                "properties": {
                  "scientificNameWithoutAuthor": {
                    "type": "string"
                  },
                  "scientificName": {
                    "type": "string"
                  }
                }
              },
              "commonNames": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "organ": {
                  "type": "string"
                },
                "author": {
                  "type": "string"
                },
                "license": {
                  "type": "string"
                },
                "date": {
                  "type": "object",
                  "properties": {
                    "timestamp": {
                      "type": "integer"
                    },
                    "string": {
                      "type": "string"
                    }
                  }
                },
                "url": {
                  "type": "object",
                  "properties": {
                    "o": {
                      "type": "string"
                    },
                    "m": {
                      "type": "string"
                    },
                    "s": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "gbif": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "api-key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}