{
  "openapi": "3.0.3",
  "info": {
    "title": "Skipio API",
    "description": "Skipio OAuth API for SMS messaging and contact management. All API requests require a valid access_token obtained through the OAuth 2.0 Authorization Code grant flow.",
    "version": "2.0.0",
    "x-jentic-source-url": "https://documenter.getpostman.com/view/1836147/TVspjUH6",
    "contact": {
      "email": "support@skipio.com"
    }
  },
  "servers": [
    {
      "url": "https://app.skipio.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "oauth2": ["public_api"]
    }
  ],
  "paths": {
    "/oauth/authorize": {
      "get": {
        "summary": "Request OAuth Authorization Code",
        "description": "Redirect your users to this URL, they will be prompted to login (if not logged in) to give access to their Skipio account.",
        "operationId": "requestAuthorizationCode",
        "tags": ["Authentication"],
        "security": [],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "description": "OAuth application client ID provided by Skipio",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "description": "The redirect URI registered with your OAuth application",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "response_type",
            "in": "query",
            "description": "Must be set to 'code'",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["code"]
            }
          },
          {
            "name": "scope",
            "in": "query",
            "description": "OAuth scope - must be 'public_api'",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["public_api"]
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirects to redirect_uri with authorization code",
            "headers": {
              "Location": {
                "description": "Redirect URL with code parameter",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "summary": "Get or Refresh Access Token",
        "description": "Exchange authorization code for access token, or refresh an expired access token. The response includes access_token, refresh_token, expires_in (seconds), and created_at (Unix timestamp).",
        "operationId": "getAccessToken",
        "tags": ["Authentication"],
        "security": [],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "description": "OAuth application client ID provided by Skipio",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_secret",
            "in": "query",
            "description": "OAuth application client secret provided by Skipio",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "grant_type",
            "in": "query",
            "description": "Grant type: 'authorization_code' for initial token, 'refresh_token' to refresh",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["authorization_code", "refresh_token"]
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "Authorization code from OAuth flow (required when grant_type is authorization_code)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "description": "Redirect URI (required when grant_type is authorization_code)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "refresh_token",
            "in": "query",
            "description": "Refresh token (required when grant_type is refresh_token)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully obtained access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials or expired token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/custom_fields": {
      "get": {
        "summary": "Get All Custom Fields",
        "description": "Retrieve all custom fields for the authenticated user.",
        "operationId": "getAllCustomFields",
        "tags": ["Custom Fields"],
        "responses": {
          "200": {
            "description": "Successful response with custom fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomField"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/contact_fields": {
      "get": {
        "summary": "Get All Contact Fields",
        "description": "Retrieve all contact fields with pagination and filtering options.",
        "operationId": "getAllContactFields",
        "tags": ["Contact Fields"],
        "parameters": [
          {
            "name": "per",
            "in": "query",
            "description": "Number of results per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "show_disabled",
            "in": "query",
            "description": "Include disabled contact fields",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "show_all",
            "in": "query",
            "description": "Show all contact fields",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with contact fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactField"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/batch_contacts": {
      "post": {
        "summary": "Create Multiple Contacts",
        "description": "Create multiple contacts with one request. If contact_group_ids is set, all created contacts will be added to those groups. For Team accounts, use assign_to_email or assign_to_id fields for contact assignment.",
        "operationId": "createBatchContacts",
        "tags": ["Contacts"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchContactsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns an array parallel to the array of contacts in the request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BatchContactResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/contacts": {
      "get": {
        "summary": "Get All Contacts",
        "description": "Get all contacts for the authenticated user with pagination, sorting, and filtering options.",
        "operationId": "getAllContacts",
        "tags": ["Contacts"],
        "parameters": [
          {
            "name": "per",
            "in": "query",
            "description": "Number of results per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Field to sort by",
            "required": false,
            "schema": {
              "type": "string",
              "default": "first_name"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "asc"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Search query string",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "only_deleted",
            "in": "query",
            "description": "Return only deleted contacts",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "contact_group_id",
            "in": "query",
            "description": "Filter by contact group ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updated_at_after",
            "in": "query",
            "description": "Filter contacts updated after this date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updated_at_before",
            "in": "query",
            "description": "Filter contacts updated before this date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with contacts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/groups": {
      "get": {
        "summary": "Get List of Groups",
        "description": "Retrieve a paginated list of contact groups.",
        "operationId": "getListOfGroups",
        "tags": ["Groups"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per",
            "in": "query",
            "description": "Number of results per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "user_created",
            "in": "query",
            "description": "Filter for user-created groups",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactGroup"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/groups/{contact_group_id}/contacts": {
      "post": {
        "summary": "Add Contact to Group",
        "description": "Add a single contact to a contact group.",
        "operationId": "addContactToGroup",
        "tags": ["Groups"],
        "parameters": [
          {
            "name": "contact_group_id",
            "in": "path",
            "description": "Contact group ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddContactToGroupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully added contact to group",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddContactToGroupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 Authorization Code flow",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://app.skipio.com/oauth/authorize",
            "tokenUrl": "https://app.skipio.com/oauth/token",
            "scopes": {
              "public_api": "Access to Skipio public API endpoints"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "error_description": {
            "type": "string",
            "description": "Detailed error description"
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "OAuth access token"
          },
          "token_type": {
            "type": "string",
            "description": "Token type (Bearer)",
            "enum": ["Bearer"]
          },
          "expires_in": {
            "type": "integer",
            "description": "Token expiration time in seconds (typically 86400 for 1 day)"
          },
          "refresh_token": {
            "type": "string",
            "description": "Refresh token for obtaining new access tokens"
          },
          "scope": {
            "type": "string",
            "description": "OAuth scope",
            "enum": ["public_api"]
          },
          "created_at": {
            "type": "integer",
            "description": "Unix timestamp of token creation",
            "format": "int64"
          }
        },
        "required": ["access_token", "token_type", "expires_in", "refresh_token", "scope", "created_at"]
      },
      "CustomField": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Custom field name/key"
          },
          "label": {
            "type": "string",
            "description": "Custom field display label"
          }
        }
      },
      "ContactField": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Contact field name/key"
          },
          "label": {
            "type": "string",
            "description": "Contact field display label"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the field is enabled"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Contact ID"
          },
          "first_name": {
            "type": "string",
            "description": "First name"
          },
          "last_name": {
            "type": "string",
            "description": "Last name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address"
          },
          "phone_mobile": {
            "type": "string",
            "description": "Mobile phone number"
          },
          "company_name": {
            "type": "string",
            "description": "Company name"
          },
          "custom_fields": {
            "type": "object",
            "additionalProperties": true,
            "description": "Custom field key-value pairs"
          },
          "contact_field_values": {
            "type": "object",
            "additionalProperties": true,
            "description": "Contact field key-value pairs"
          },
          "street_address": {
            "type": "string",
            "description": "Street address"
          },
          "city": {
            "type": "string",
            "description": "City"
          },
          "state": {
            "type": "string",
            "description": "State"
          },
          "zip_code": {
            "type": "string",
            "description": "ZIP code"
          },
          "send_birthday_greeting": {
            "type": "boolean",
            "description": "Whether to send birthday greetings"
          },
          "birth_month": {
            "type": "integer",
            "description": "Birth month (1-12)"
          },
          "birth_day": {
            "type": "integer",
            "description": "Birth day (1-31)"
          },
          "birthday_greeting_body": {
            "type": "string",
            "description": "Birthday greeting message text"
          },
          "is_sms_enabled": {
            "type": "boolean",
            "description": "Whether SMS is enabled for this contact"
          },
          "is_starred": {
            "type": "boolean",
            "description": "Whether the contact is starred"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Contact tags"
          },
          "birthday_greeting_media_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "URLs of media to include in birthday greeting"
          },
          "birthday_greeting_media_mime_types": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "MIME types of birthday greeting media"
          },
          "assign_to_id": {
            "type": "string",
            "description": "User ID to assign contact to (Team accounts only)"
          },
          "assign_to_email": {
            "type": "string",
            "format": "email",
            "description": "User email to assign contact to (Team accounts only)"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          }
        }
      },
      "BatchContactsRequest": {
        "type": "object",
        "properties": {
          "contact_group_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Group IDs to add contacts to"
          },
          "contacts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactInput"
            },
            "description": "Array of contacts to create"
          }
        },
        "required": ["contacts"]
      },
      "ContactInput": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string",
            "description": "First name"
          },
          "last_name": {
            "type": "string",
            "description": "Last name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address"
          },
          "phone_mobile": {
            "type": "string",
            "description": "Mobile phone number"
          },
          "company_name": {
            "type": "string",
            "description": "Company name"
          },
          "custom_fields": {
            "type": "object",
            "additionalProperties": true,
            "description": "Custom field key-value pairs"
          },
          "contact_field_values": {
            "type": "object",
            "additionalProperties": true,
            "description": "Contact field key-value pairs"
          },
          "street_address": {
            "type": "string",
            "description": "Street address"
          },
          "city": {
            "type": "string",
            "description": "City"
          },
          "state": {
            "type": "string",
            "description": "State"
          },
          "zip_code": {
            "type": "string",
            "description": "ZIP code"
          },
          "send_birthday_greeting": {
            "type": "boolean",
            "description": "Whether to send birthday greetings"
          },
          "birth_month": {
            "type": "integer",
            "description": "Birth month (1-12)",
            "minimum": 1,
            "maximum": 12
          },
          "birth_day": {
            "type": "integer",
            "description": "Birth day (1-31)",
            "minimum": 1,
            "maximum": 31
          },
          "birthday_greeting_body": {
            "type": "string",
            "description": "Birthday greeting message text"
          },
          "is_sms_enabled": {
            "type": "boolean",
            "description": "Whether SMS is enabled for this contact"
          },
          "is_starred": {
            "type": "boolean",
            "description": "Whether the contact is starred"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Contact tags"
          },
          "birthday_greeting_media_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "URLs of media to include in birthday greeting"
          },
          "birthday_greeting_media_mime_types": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "MIME types of birthday greeting media"
          },
          "assign_to_id": {
            "type": "string",
            "description": "User ID to assign contact to (Team accounts only)"
          },
          "assign_to_email": {
            "type": "string",
            "format": "email",
            "description": "User email to assign contact to (Team accounts only)"
          }
        }
      },
      "BatchContactResult": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "object",
            "description": "Validation errors for this contact"
          },
          "created": {
            "type": "boolean",
            "description": "Whether the contact was created"
          },
          "updated": {
            "type": "boolean",
            "description": "Whether the contact was updated"
          },
          "undeleted": {
            "type": "boolean",
            "description": "Whether a deleted contact was undeleted"
          },
          "contact_id": {
            "type": "string",
            "description": "ID of the created/updated contact"
          }
        }
      },
      "ContactGroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Group ID"
          },
          "name": {
            "type": "string",
            "description": "Group name"
          },
          "user_created": {
            "type": "boolean",
            "description": "Whether this group was created by the user"
          },
          "contact_count": {
            "type": "integer",
            "description": "Number of contacts in this group"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          }
        }
      },
      "AddContactToGroupRequest": {
        "type": "object",
        "properties": {
          "contact_id": {
            "type": "string",
            "description": "ID of the contact to add to the group"
          }
        },
        "required": ["contact_id"]
      },
      "AddContactToGroupResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the operation was successful"
          },
          "message": {
            "type": "string",
            "description": "Response message"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "OAuth 2.0 authentication endpoints"
    },
    {
      "name": "Contacts",
      "description": "Contact management endpoints"
    },
    {
      "name": "Groups",
      "description": "Contact group management endpoints"
    },
    {
      "name": "Custom Fields",
      "description": "Custom field management endpoints"
    },
    {
      "name": "Contact Fields",
      "description": "Contact field management endpoints"
    }
  ]
}
