{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://aq.elagy.com/api/v1",
      "description": "Production environment"
    },
    {
      "url": "https://training.aq.elagy.com/api/v1",
      "description": "Training environment for onboarding new users"
    },
    {
      "url": "https://qa.aq.elagy.com/api/v1",
      "description": "QA environment"
    }
  ],
  "info": {
    "title": "AccuQuote AgentCloud REST API",
    "description": "REST API for third-party access to the AccuQuote AgentCloud platform.\n\nThe key words \"MUST\", \"MUST NOT\", \"REQUIRED\", \"SHALL\", \"SHALL NOT\", \n\"SHOULD\", \"SHOULD NOT\", \"RECOMMENDED\", \"NOT RECOMMENDED\", \"MAY\", and \n\"OPTIONAL\" in this document are to be interpreted as described in \nBCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals,\nas shown here.\n\n## Authentication\nThe API authenticates requests using HTTP basic authentication as described \nin [RFC 7617](https://tools.ietf.org/html/rfc7617). Primarily, this means \nthat each request MUST include an `Authorization` header with the value \n`Basic <token>`, where `<token>` is the string `<username>:<password>`\nencoded in base 64. \n\nBecause basic authentication credentials are not encrypted, and because the \ndata may contain sensitive information, the request MUST be made over HTTPS \nusing TLS version 1.2 or higher.\n\nHTTP basic authentication is intended for server-to-server communication and \nMUST NOT be used from the client side, where end users and malicious parties \ncould potentially gain access to the unencrypted credentials.\n\n## Request Format\nEach action or resource in the API is associated with an endpoint and an \nHTTP method. Each of these defines a specific request format that MUST be \nused when making requests to the API. In general, requests with bodies \n(e.g. `POST` or `PUT`) MUST have the content type `application/json` and \nMUST have a body consisting of a single JSON value (typically an object or \narray, as defined by the specification here).\n\nRequest URIs are typically of the form `https://aq.elagy.com/api/v1/<resource>`, \nwhere `<resource>` is the path to the specific resource or action being \nrequested.\n\n### Validation\nThe following are some common requirements for individual fields in the API. \nThe requirements MUST be satisfied for a request to validate successfully.\n\n- \"MUST NOT be empty.\" The value of the field MUST NOT be an empty value, \ne.g. an empty string or array. If the field is required, then the key MUST \nbe present in the body, and the value MUST NOT be empty. If the field is \noptional, then the key MAY be omitted; however, if it is present, the value \nMUST NOT be empty.\n- \"Optional.\" This field MAY be omitted. If the field is present, the value \nMUST satisfy all other requirements. If omitted, other requirements do not \napply.\n- \"Required for [source] leads.\" Certain additional fields MAY be required \nif the lead comes from a particular source, e.g. Homebridge. In those cases, \nthe field SHALL be marked \"Required for [source] leads,\" where \"[source]\" \nwill be replaced with the name of the source for which the field is \nrequired. For leads from other sources, the field MAY be omitted.\n- \"Valid IPv4 or IPv6 address.\" If present, the field MUST be a string whose \ncontents are a valid Internet Protocol version 4 or 6 address. IPv4 is \ndefined in [RFC 791](https://tools.ietf.org/html/rfc791), and IPv6 is\ndefined in [RFC 8200](https://tools.ietf.org/html/rfc791). \n- \"Valid email address.\" If present, the field MUST contain exactly one `@` \nsymbol, with at least one character on each side.\n- \"Valid phone number.\" The number MUST be valid under the North American \nNumbering Plan (NANP). The first digit of the area code MUST NOT contain 0 \nor 1. The first digit of the prefix MUST NOT contain 0 or 1. The area code \nand prefix MUST NOT match the pattern `[2-9]11`. See \n[Wikipedia](https://en.wikipedia.org/wiki/North_American_Numbering_Plan#Modern_plan)\nfor a detailed explanation of the NANP.\n",
    "version": "1.0.1",
    "contact": {
      "email": "support@jaroop.com"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/jaroop/agentcloud-rest-api/1.0.1/swagger.json"
  },
  "tags": [
    {
      "name": "Leads"
    },
    {
      "name": "Opportunities"
    },
    {
      "name": "Emails"
    },
    {
      "name": "Agents"
    },
    {
      "name": "Contacts"
    },
    {
      "name": "Medicare"
    }
  ],
  "paths": {
    "/leads": {
      "post": {
        "summary": "Creates a new lead",
        "tags": [
          "Leads"
        ],
        "operationId": "createLead",
        "responses": {
          "201": {
            "description": "Lead successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "A failed response typically indicating that the data was not valid\nin some way. For example, the JSON body may be malformed, the data\nmay be invalid (e.g. an unsupported product type), or the lead may\nhave failed the TCPA audit.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Indicates that the user was not authorized to perform the requested\naction. Typically, this means the client lacks permission to create\nleads or that the campaign is not linked to the credentials used to\nmake the request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadCreateRequest"
              }
            }
          }
        }
      }
    },
    "/leads/{leadId}": {
      "put": {
        "summary": "Updates a lead",
        "tags": [
          "Leads"
        ],
        "operationId": "updateLead",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "The AgentCloud ID of the lead that is being updated.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lead successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "A failed response typically indicating that the data was not valid\nin some way. For example, the JSON body may be malformed, the data\nmay be invalid (e.g. an unsupported product type), or the lead may\nhave failed the TCPA audit.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Indicates that the user was not authorized to perform the requested\naction. Typically, this means the client lacks permission to create\nleads or that the campaign is not linked to the credentials used to\nmake the request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The lead with the given ID could not be found.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "Per RFC 7231, HTTP 410 (Gone) \"indicates that access to the target \nresource is no longer available at the origin server and that this \ncondition is likely to be permanent.\" The server SHALL return this \nstatus code when the client attempts to update a lead that is no \nlonger able to be updated.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/emails/do-not-contact": {
      "post": {
        "summary": "Adds email addresses to the do-not-contact list.",
        "tags": [
          "Emails"
        ],
        "operationId": "unsubscribeEmails",
        "responses": {
          "200": {
            "description": "Emails successfully unsubscribed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailDoNotContactResponse"
                }
              }
            }
          },
          "400": {
            "description": "A failed response, typically indicating an invalid payload. Remember \nthat at least one of the `emails` and `leads` fields in the request \nMUST be present. \n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Indicates that one or more IDs in the request did not match any\nknown leads.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailDoNotContactRequest"
              }
            }
          }
        }
      }
    },
    "/agents/available": {
      "get": {
        "summary": "Gets the number of agents available to field calls, filtered by the \ngiven parameters.\n",
        "tags": [
          "Agents"
        ],
        "operationId": "getAvailableAgents",
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "description": "A two-letter USPS state code",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2
            }
          },
          {
            "name": "campaignTag",
            "in": "query",
            "description": "An identifier provided that will narrow the count of agents to \nspecific campaigns.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A success response containing the number of agents available \nmatching the query.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailableAgents"
                }
              }
            }
          },
          "400": {
            "description": "A failed response, typically indicating that parameters were\nmissing or malformed.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Indicates that too many requests were sent to this endpoint \nrecently.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/opportunities/match": {
      "get": {
        "summary": "Gets a list of opportunities matching a set of filter parameters",
        "description": "This endpoint attempts to return limited data from opportunities\nmatching the set of filters. It is not intended to be a general search\nendpoint. Rather, the goal is to provide a way to identify the ID\nof an opportunity based on exact, case-insensitive matches on a \nlimited number of fields. While all query string parameters are \noptional, at least one must be provided\n",
        "tags": [
          "Opportunities"
        ],
        "parameters": [
          {
            "name": "medicareBeneficiaryId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastName",
            "in": "query",
            "required": false,
            "description": "Last name of one of the insured",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dob",
            "in": "query",
            "required": false,
            "description": "Date of birth of one of the insured",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zip",
            "in": "query",
            "required": false,
            "description": "ZIP code of one of the insured",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "planId",
            "in": "query",
            "required": false,
            "description": "Medicare plan ID (not the AgentCloud ID)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "partAEffectiveDate",
            "in": "query",
            "required": false,
            "description": "When the insured was enrolled in Medicare Part A. Must be an \nISO 8601-compatible date.\n",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "partBEffectiveDate",
            "in": "query",
            "required": false,
            "description": "When the insured was enrolled in Medicare Part A. Must be an \nISO 8601-compatible date.\n",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "Email address of the insured",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "required": false,
            "description": "Phone number of the insured",
            "schema": {
              "type": "string",
              "format": "phone"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A success response containing the matching opportunities.\nThis response does not indicate that any matching opportunities\nwere found. It simply means that the request was executed without\nerrors. Check the request body to determine if any opportunities\nwere returned.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MatchingOpportunities"
                }
              }
            }
          },
          "400": {
            "description": "A failed response, typically indicating that parameters were\nmissing or malformed.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/opportunities/{opportunityId}": {
      "get": {
        "summary": "Gets information about an opportunity",
        "description": "The opportunity model is the central model to which most data in the \nsales process is attached. The actual opportunity object itself has\nrelatively little data. Rather, most of the fields are IDs referencing\nother objects, which in most cases contain the actually useful \ninformation. Those IDs can be used to retrieve the data from other\nendpoints. For example, the insured, owner, payor, authorized user,\nand power of attorney IDs are all contact IDs, so the contact \ninformation for, e.g. the owner of the opportunity can be retrieved\nfrom `/contacts/{ownerId}`. In some cases, shortcut endpoints like\n`/opportunities/{opportunityId}/owner` are also available to reduce\nthe number of roundtrips required when you know the specific data you\nwant to request.\n",
        "tags": [
          "Opportunities"
        ],
        "parameters": [
          {
            "name": "opportunityId",
            "in": "path",
            "required": true,
            "description": "The AgentCloud ID of the opportunity to retrieve",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the requested opportunity.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Opportunity"
                }
              }
            }
          },
          "400": {
            "description": "A failed response, typically indicating that the request data was\nmalformed or invalid.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The client lacks permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The given ID does not match any known opportunities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "summary": "Updates an opportunity",
        "description": "Because the opportunity model itself is mostly just a collection of IDs,\nthe only field that can currently be updated through this endpoint is\nthe status. To update fields on child objects, e.g. contacts or \npolicies, call the appropriate endpoints for those resources.\n",
        "tags": [
          "Opportunities"
        ],
        "parameters": [
          {
            "name": "opportunityId",
            "in": "path",
            "required": true,
            "description": "The AgentCloud ID of the opportunity to update",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Opportunity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Indicates that the update was successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Opportunity"
                }
              }
            }
          },
          "400": {
            "description": "A failed response, typically indicating that the request data was\nmalformed or invalid or that the status transition is not allowed.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The client lacks permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The given ID does not match any known opportunities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/opportunities/{opportunityId}/medicare": {
      "get": {
        "summary": "Retrieves Medicare and policy information for an opportunity",
        "description": "If the opportunity has the Medicare product type, this endpoint returns\nall Medicare and policy information for the opportunity. All other\nproduct types return an error, as they do not have Medicare data.\n",
        "tags": [
          "Opportunities",
          "Medicare"
        ],
        "parameters": [
          {
            "name": "opportunityId",
            "in": "path",
            "required": true,
            "description": "The AgentCloud ID of the opportunity whose data is being retrieved.\n",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all Medicare-related data for the opportunity.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpportunityMedicare"
                }
              }
            }
          },
          "400": {
            "description": "A failed response, typically indicating that the request data was\nmalformed or invalid, e.g. the opportunity is not for Medicare.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The client lacks permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The given ID does not match any known opportunities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "summary": "Updates Medicare and policy information for an opportunity",
        "description": "If the opportunity has the Medicare product type, this endpoint will \nall Medicare and policy information for the opportunity. All other\nproduct types return an error, as they do not have Medicare data.\n\nUse this endpoint with caution. When a contact is updated through this\nendpoint, all eligible fields will be overwritten with the data \nincluded in the request. Fields that are null or omitted will be\noverwritten with a null value, and it may not be possible to recover the \noriginal value. It is recommended that you pull the latest data \nbefore updating if you don't want to accidentally overwrite something.\n",
        "tags": [
          "Opportunities",
          "Medicare"
        ],
        "parameters": [
          {
            "name": "opportunityId",
            "in": "path",
            "required": true,
            "description": "The AgentCloud ID of the opportunity whose data is being updated.\n",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpportunityMedicare"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated Medicare and policy data for the opportunity.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpportunityMedicare"
                }
              }
            }
          },
          "400": {
            "description": "A failed response, typically indicating that the request data was\nmalformed or invalid, e.g. the opportunity is not for Medicare.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The client lacks permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The given ID does not match any known opportunities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/opportunities/{opportunityId}/medicare/doctors": {
      "get": {
        "summary": "Gets all doctors listed for a Medicare patient's opportunity",
        "tags": [
          "Opportunities",
          "Medicare"
        ],
        "parameters": [
          {
            "name": "opportunityId",
            "in": "path",
            "required": true,
            "description": "The AgentCloud ID of a Medicare opportunity",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the doctors for an opportunity. Note that \nthe array may be empty even though the request was successful.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Doctor"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The client lacks permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The given ID does not match any known opportunities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "summary": "Updates a Medicare opportunity's doctors",
        "description": "This endpoint performs an upsert operation to associate doctors\nwith a Medicare opportunity. The doctor's NPI is used to dedupe\ndoctors on a per-opportunity basis (in other words, the same NPI\nmay only be associated with one doctor per opportunity). If the\nNPI matches an existing doctor for this opportunity, then the \ndoctor's data is updated to match the request. If the NPI does\nnot match any doctors for this opportunity, a new doctor is created\nwith the data in the request.\n",
        "tags": [
          "Opportunities",
          "Medicare"
        ],
        "parameters": [
          {
            "name": "opportunityId",
            "in": "path",
            "required": true,
            "description": "The AgentCloud ID of a Medicare opportunity",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "minLength": 1,
                "items": {
                  "$ref": "#/components/schemas/Doctor"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the complete list of ALL doctors associated with this\nopportunity, including doctors that were not part of the original\nrequest.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Doctor"
                  }
                }
              }
            }
          },
          "400": {
            "description": "A failed response, typically indicating that the request data was\nmalformed or invalid, e.g. a state abbreviation is not valid.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The client lacks permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The given ID does not match any known opportunities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/opportunities/{opportunityId}/medicare/drugs": {
      "get": {
        "summary": "Gets all drugs listed for a Medicare patient's opportunity",
        "tags": [
          "Opportunities",
          "Medicare"
        ],
        "parameters": [
          {
            "name": "opportunityId",
            "in": "path",
            "required": true,
            "description": "The AgentCloud ID of a Medicare opportunity",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the drugs for an opportunity. Note that \nthe array may be empty even though the request was successful.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Drug"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The client lacks permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The given ID does not match any known opportunities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "summary": "Updates a Medicare opportunity's drugs",
        "description": "This endpoint performs an upsert operation to associate drugs\nwith a Medicare opportunity. The drug's `drugId` field (not to be \nconfused with the `id` field assigned by AgentCloud) is used to dedupe\ndrugs on a per-opportunity basis. In other words, the same drug ID\nmay only be associated with one drug per opportunity. If the\n`drugId` matches an existing drug for this opportunity, then the \ndrug's data is updated to match the request. If the `drugId` does\nnot match any drugs for this opportunity, a new drug is created\nwith the data in the request.\n",
        "tags": [
          "Opportunities",
          "Medicare"
        ],
        "parameters": [
          {
            "name": "opportunityId",
            "in": "path",
            "required": true,
            "description": "The AgentCloud ID of a Medicare opportunity",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "minLength": 1,
                "items": {
                  "$ref": "#/components/schemas/Drug"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the complete list of ALL drugs associated with this\nopportunity, including drugs that were not part of the original\nrequest.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Drug"
                  }
                }
              }
            }
          },
          "400": {
            "description": "A failed response, typically indicating that the request data was\nmalformed or invalid.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The client lacks permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The given ID does not match any known opportunities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/opportunities/{opportunityId}/medicare/emergency-contacts": {
      "get": {
        "summary": "Gets all emergency contacts listed for a Medicare opportunity",
        "tags": [
          "Opportunities",
          "Medicare"
        ],
        "parameters": [
          {
            "name": "opportunityId",
            "in": "path",
            "required": true,
            "description": "The AgentCloud ID of a Medicare opportunity",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the emergency contacts for an opportunity. \nNote that the array may be empty even though the request was \nsuccessful.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmergencyContact"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The client lacks permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The given ID does not match any known opportunities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "summary": "Updates a Medicare opportunity's emergency contacts",
        "description": "This endpoint performs an upsert operation to associate emergency \ncontacts with a Medicare opportunity. The emergency contact's full\nname is used to deduplicate contacts for a given opportunity. If \nan emergency contact submitted to this endpoint is a case-insensitive\nmatch for an existing emergency contact on the same opportunity, then\nthe original contact will be updated. Otherwise a new contact will be\ncreated.\n",
        "tags": [
          "Opportunities",
          "Medicare"
        ],
        "parameters": [
          {
            "name": "opportunityId",
            "in": "path",
            "required": true,
            "description": "The AgentCloud ID of a Medicare opportunity",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "minLength": 1,
                "items": {
                  "$ref": "#/components/schemas/EmergencyContact"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the complete list of ALL emergency contacts associated with \nthis opportunity, including contacts that were not part of the \noriginal request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmergencyContact"
                  }
                }
              }
            }
          },
          "400": {
            "description": "A failed response, typically indicating that the request data was\nmalformed or invalid.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The client lacks permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The given ID does not match any known opportunities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/contacts/{contactId}": {
      "get": {
        "summary": "Gets information about a contact",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "description": "The AgentCloud ID of the contact to retrieve",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested opportunity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "403": {
            "description": "The client lacks permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The given ID does not match any known opportunities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "summary": "Updates a contact",
        "description": "Use this endpoint with caution. When a contact is updated through this\nendpoint, all eligible fields will be overwritten with the data \nincluded in the request. Fields that are null or omitted will be\noverwritten, and it may not be possible to recover the original value.\nIt is recommended that you pull the latest contact data before updating\nif you don't want to accidentally overwrite something.\n\nPhones and emails are an exception to this rule. Any phone numbers or\nemail addresses included in the request will be added to the contact.\nIf the phone numbers or email addresses are already associated with the \ncontact, they will be ignored. Phone numbers and email addresses not \nincluded in the request will be left alone; no phones or emails will \nbe removed from the contact through this endpoint.\n",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "description": "The AgentCloud ID of the opportunity to update",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the successfully updated contact.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "description": "A failed response, typically indicating that the request data was\nmalformed or invalid.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The client lacks permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The given ID does not match any known opportunities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/medicare/plans": {
      "get": {
        "summary": "List all Medicare plans",
        "tags": [
          "Medicare"
        ],
        "responses": {
          "200": {
            "description": "Returns a list of all Medicare plans, sorted by ID.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MedicarePlan"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "summary": "Upsert a batch of new Medicare plans",
        "tags": [
          "Medicare"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "minLength": 1,
                "items": {
                  "$ref": "#/components/schemas/CreateMedicarePlanRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the newly created or updated plans, sorted by ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MedicarePlan"
                }
              }
            }
          },
          "400": {
            "description": "A failed response, typically indicating that the request data was\nmalformed or invalid.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The client lacks permission to access some related resources,\nlike carriers or policy types.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/medicare/plans/{planId}": {
      "get": {
        "summary": "Get a Medicare plan by ID",
        "tags": [
          "Medicare"
        ],
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "required": true,
            "description": "The AgentCloud ID of the plan",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Medicare plan with the given ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MedicarePlan"
                }
              }
            }
          },
          "403": {
            "description": "The client lacks permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The given ID does not match any known plans.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/medicare/carriers": {
      "get": {
        "summary": "List all Medicare carriers",
        "tags": [
          "Medicare"
        ],
        "responses": {
          "200": {
            "description": "Returns a list of all Medicare carriers, sorted by ID.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MedicareCarrier"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "summary": "Upsert a batch of new Medicare carriers",
        "tags": [
          "Medicare"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "minLength": 1,
                "items": {
                  "$ref": "#/components/schemas/CreateMedicareCarrierRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the newly created or updated carriers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MedicareCarrier"
                }
              }
            }
          },
          "400": {
            "description": "A failed response, typically indicating that the request data was\nmalformed or invalid.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/medicare/carriers/{carrierId}": {
      "get": {
        "summary": "Get a Medicare carrier by ID",
        "tags": [
          "Medicare"
        ],
        "parameters": [
          {
            "name": "carrierId",
            "in": "path",
            "required": true,
            "description": "The AgentCloud ID of the carrier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Medicare carrier with the given ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MedicareCarrier"
                }
              }
            }
          },
          "403": {
            "description": "The client lacks permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The given ID does not match any known carriers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/medicare/policy-types": {
      "get": {
        "summary": "List all Medicare policy types",
        "tags": [
          "Medicare"
        ],
        "responses": {
          "200": {
            "description": "Returns a list of all Medicare policy types, sorted by ID.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MedicarePolicyType"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "summary": "Upsert a batch of new Medicare policy type",
        "tags": [
          "Medicare"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "minLength": 1,
                "items": {
                  "$ref": "#/components/schemas/CreateMedicarePolicyType"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the newly created or updated policy types.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MedicarePolicyType"
                }
              }
            }
          },
          "400": {
            "description": "A failed response, typically indicating that the request data was\nmalformed or invalid.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/medicare/policy-types/{typeId}": {
      "get": {
        "summary": "Get a Medicare policy type by ID",
        "tags": [
          "Medicare"
        ],
        "parameters": [
          {
            "name": "typeId",
            "in": "path",
            "required": true,
            "description": "The AgentCloud ID of the policy type",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Medicare policy type with the given ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MedicarePolicyType"
                }
              }
            }
          },
          "403": {
            "description": "The client lacks permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The given ID does not match any known policy types.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/dentalvision/products": {
      "post": {
        "summary": "Upsert a batch of new Dental/Vision products",
        "tags": [
          "Medicare"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "minLength": 1,
                "items": {
                  "$ref": "#/components/schemas/DentalVisionProductInputType"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the newly created or updated Dental/Vision products.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DentalVisionProductType"
                }
              }
            }
          },
          "400": {
            "description": "A failed response, typically indicating that the request data was\nmalformed or invalid.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The client lacks permission to access one of the associated carriers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "InternalServerError": {
        "description": "Indicates that an unexpected error occurred that the server could not\nhandle. Every bad response will include the request's UUID, which SHOULD\nbe included with trouble reports.\n",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "RequestId": {
        "type": "string",
        "format": "uuid",
        "example": "33110038-1bba-47c1-97ea-b10eaeadddc3",
        "description": "A unique ID that can be used to identify the request for \nsupport and debugging purposes.\n"
      },
      "LeadCreateRequest": {
        "type": "object",
        "required": [
          "clientRef",
          "contact",
          "campaignName"
        ],
        "properties": {
          "clientRef": {
            "type": "string",
            "minLength": 1,
            "description": "A unique ID provided by you that corresponds to this lead. \nWe will use this to identify the lead when making outbound requests. \nMUST NOT be empty.\n"
          },
          "contact": {
            "$ref": "#/components/schemas/LeadContact"
          },
          "policyDetails": {
            "$ref": "#/components/schemas/LeadDetails"
          },
          "mortgageDetails": {
            "$ref": "#/components/schemas/MortgageDetails"
          },
          "medicareDetails": {
            "$ref": "#/components/schemas/LeadMedicareDetails"
          },
          "clientIp": {
            "type": "string",
            "format": "ip",
            "example": "fe80::1",
            "description": "The lead's remote internet address, formatted as a valid IPv4 or \nIPv6 address. Optional.\n"
          },
          "referringUrl": {
            "type": "string",
            "format": "url",
            "example": "https://www.example.com/sign-up",
            "description": "The url the lead is referred from. Optional."
          },
          "trustedFormCert": {
            "type": "string",
            "format": "url",
            "example": "https://www.example.com/sign-up",
            "description": "An additional URL optionally provided by Healthcare users."
          },
          "tcpaToken": {
            "type": "string",
            "format": "uuid",
            "example": "123e4567-e89b-12d3-a456-426655440000",
            "description": "A LeadiD/Jornaya token for this lead. Optional.",
            "minLength": 1
          },
          "companion": {
            "$ref": "#/components/schemas/LeadCompanion"
          },
          "product": {
            "type": "string",
            "enum": [
              "TERM",
              "SITERM",
              "FE"
            ],
            "description": "The kind of insurance product to sell to the lead. This is required \nfor all leads not from HomeBridge. HomeBridge leads are always SI \nTerm.\n"
          },
          "campaignName": {
            "type": "string",
            "example": "My Test Campaign",
            "description": "The name of the campaign with which the lead is associated. MUST be \na case-sensitive match for a campaign configured in AgentCloud. \nAllowed values will be provided by AccuQuote and are unique to\neach partner.\n(Note: For backwards compatibility, this is not required for \npartners who began using this API prior to June 2020.)\n"
          },
          "sessionId": {
            "type": "string",
            "example": "20200415034956.e9a2827aa987",
            "maxLength": 124,
            "description": "A client-set ID that links the lead back to the session on the\nsystem from which it originated.\n"
          }
        }
      },
      "LeadUpdateRequest": {
        "type": "object",
        "required": [
          "clientRef",
          "contact"
        ],
        "properties": {
          "clientRef": {
            "type": "string",
            "minLength": 1,
            "description": "A unique ID provided by the client that corresponds to this lead. \nWe will use this to identify the lead when making outbound requests. \nMUST NOT be empty.\n"
          },
          "contact": {
            "$ref": "#/components/schemas/LeadContact"
          },
          "policyDetails": {
            "$ref": "#/components/schemas/LeadDetails"
          },
          "mortgageDetails": {
            "$ref": "#/components/schemas/MortgageDetails"
          },
          "medicareDetails": {
            "$ref": "#/components/schemas/LeadMedicareDetails"
          },
          "clientIp": {
            "type": "string",
            "format": "ip",
            "example": "fe80::1",
            "description": "The lead's remote internet address, formatted as a valid IPv4 or \nIPv6 address. Optional.\n"
          },
          "referringUrl": {
            "type": "string",
            "format": "url",
            "example": "https://www.example.com/sign-up",
            "description": "The url the lead is referred from. Optional."
          },
          "trustedFormCert": {
            "type": "string",
            "format": "url",
            "example": "https://www.example.com/sign-up",
            "description": "An additional URL optionally provided by Healthcare users."
          },
          "product": {
            "type": "string",
            "enum": [
              "TERM",
              "SITERM",
              "FE"
            ],
            "description": "The kind of insurance product to sell to the lead. This is required \nfor all leads not from HomeBridge. HomeBridge leads are always SI \nTerm.\n"
          },
          "sessionId": {
            "type": "string",
            "example": "20200415034956.e9a2827aa987",
            "maxLength": 124,
            "description": "A client-set ID that links the lead back to the session on the\nsystem from which it originated.\n"
          }
        }
      },
      "LeadContact": {
        "type": "object",
        "required": [
          "firstName",
          "lastName",
          "state",
          "phones"
        ],
        "properties": {
          "firstName": {
            "type": "string",
            "example": "Alan",
            "minLength": 1,
            "maxLength": 124,
            "description": "The first name of the lead contact. MUST NOT be empty. MUST be 124 \ncharacters or less.\n"
          },
          "middleName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 124,
            "description": "The middle name of the lead contact. Optional. If present, MUST NOT \nbe empty. MUST be 124 characters or less.\n"
          },
          "lastName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 124,
            "example": "Smith",
            "description": "The last name of the lead contact. MUST NOT be empty. MUST be 124 \ncharacters or less.\n"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date",
            "example": "1970-07-14",
            "description": "The birthday of the lead contact. The format is ISO8601. Optional.\n"
          },
          "street": {
            "type": "string",
            "minLength": 1,
            "maxLength": 124,
            "example": "521 Pine St.",
            "description": "The first line of the street address of the lead contact. Optional. \nMUST be 124 characters or less.\n"
          },
          "street2": {
            "type": "string",
            "minLength": 1,
            "maxLength": 124,
            "example": "Unit 42A",
            "description": "The second line of the street address of the lead contact. Optional. \nMUST be 124 characters or less.\n"
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 124,
            "example": "Omaha",
            "description": "The city of the street address of the lead contact. Optional. \nMUST be 124 characters or less.\n"
          },
          "state": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "example": "NE",
            "description": "The state where the lead resides. MUST be a USPS 2-letter state \ncode. MUST be one of the 50 states or DC.\n"
          },
          "zip": {
            "type": "string",
            "minLength": 5,
            "maxLength": 10,
            "example": "68022",
            "description": "The ZIP code where the lead resides. Optional. MUST be between 5 \nand 10 characters, inclusive.\n"
          },
          "phones": {
            "type": "array",
            "minLength": 1,
            "items": {
              "$ref": "#/components/schemas/LeadPhone"
            },
            "description": "A list of telephone numbers with which to reach the lead contact. \nMUST contain at least one phone number. The numbers MUST be valid \nphone numbers. If any of the phone numbers match leads that are \nalready in the AgentCloud database, regardless of the source of the \noriginal lead, the lead SHALL be rejected.\n"
          },
          "email": {
            "type": "string",
            "format": "email",
            "minLength": 3,
            "example": "alan.smith@mail.example.com",
            "description": "An e-mail address at which the lead can be reached. MUST contain\nexactly one `@` symbol with at least one character on either side.\n"
          },
          "gender": {
            "type": "string",
            "description": "The lead's gender. Optional.",
            "enum": [
              "Male",
              "Female"
            ]
          }
        }
      },
      "LeadPhone": {
        "type": "object",
        "description": "A phone number and related metadata.",
        "required": [
          "phoneNumber",
          "phoneType"
        ],
        "properties": {
          "phoneNumber": {
            "type": "string",
            "format": "phone",
            "minLength": 10,
            "maxLength": 10,
            "example": "8605551234",
            "description": "The number MUST be valid under the North American Numbering Plan \n(NANP). The first digit of the area code MUST NOT contain 0 or 1. \nThe first digit of the prefix MUST NOT contain 0 or 1. The area code \nand prefix MUST NOT match the regular expression `[2-9]11`. \nSee [Wikipedia](https://en.wikipedia.org/wiki/North_American_Numbering_Plan#Modern_plan)\nfor a detailed explanation of the NANP.\n"
          },
          "phoneType": {
            "type": "string",
            "format": "phone",
            "enum": [
              "Work",
              "Cell",
              "Home",
              "Other"
            ]
          }
        }
      },
      "LeadDetails": {
        "type": "object",
        "description": "Detailed information about the lead and sought policy.\n",
        "properties": {
          "termLength": {
            "type": "integer",
            "example": 10,
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Length of the sought policy, in years. MUST be greater than zero.\n"
          },
          "tobacco": {
            "type": "boolean",
            "example": true,
            "description": "True if the lead has a history of tobacco use."
          },
          "riskClass": {
            "type": "string",
            "enum": [
              "Standard",
              "Preferred",
              "Preferred Plus"
            ]
          },
          "optInDateTime": {
            "type": "string",
            "format": "date-time",
            "example": "2011-12-03T10:15:30-00:00",
            "description": "The date and time the lead gave TCPA consent, with offset. \nThe format is ISO8601.\n"
          },
          "faceAmount": {
            "type": "integer",
            "example": 50000,
            "description": "The face amount of the sought policy, in US dollars. \nMUST be greater than zero.\n"
          },
          "height": {
            "type": "integer",
            "example": 70,
            "description": "Height of the lead in inches. MUST be greater than or \nequal to 12. MUST be less than 96.\n"
          },
          "weight": {
            "type": "integer",
            "example": 180,
            "description": "Weight of the lead in pounds. MUST be greater than or \nequal to 50. MUST be less than 1000.\n"
          },
          "usCitizen": {
            "type": "boolean",
            "example": true,
            "description": "Whether or not the lead is a citizen of the United States.\n"
          },
          "familyStatus": {
            "type": "string",
            "enum": [
              "Single",
              "Couple",
              "Single w/kids",
              "Couple w/kids"
            ]
          },
          "incomeMonthly": {
            "type": "integer",
            "example": 5000,
            "minimum": 5000,
            "exclusiveMinimum": true,
            "description": "Monthly income of the lead, in US Dollars. MUST be greater than \nzero.\n"
          }
        }
      },
      "MortgageDetails": {
        "type": "object",
        "description": "Mortgage information related to this lead, if applicable. REQUIRED for \nHomebridge leads. Optional otherwise.\n",
        "required": [
          "borrowerId",
          "borrowerStatus",
          "mortgageId",
          "mortgageCloseDate",
          "insurancePurpose",
          "faceAmount",
          "termLength",
          "loanOfficerFirstName",
          "loanOfficerLastName",
          "loanOfficerPhone",
          "loanOfficerEmail",
          "processorFirstName",
          "processorLastName",
          "processorEmail"
        ],
        "properties": {
          "borrowerId": {
            "type": "string",
            "example": "123789",
            "description": "The ID of the borrower that the mortgage is made through. \nMUST NOT be empty.\n"
          },
          "borrowerStatus": {
            "type": "string",
            "description": "The latest borrower status for the lead.\n\n`Open`: If the lead should be considered open, but not ready for \nautodialing. For HomeBridge, this is leads with more than 3 days \nleft prior to close.\n\n`AutoDial`: If the lead should be considered open and ready for \nautodialing. For HomeBridge, this is leads with fewer than 3 days \nleft prior to close, or leads that have already closed on their \nmortgage.\n\n`Inactive`: If the lead should be considered closed.\n",
            "enum": [
              "Open",
              "AutoDial",
              "Inactive"
            ]
          },
          "mortgageId": {
            "type": "string",
            "example": "123789",
            "minLength": 1,
            "description": "The ID of the mortgage for the lead. MUST NOT be empty."
          },
          "mortgageCloseDate": {
            "type": "string",
            "format": "date",
            "example": "1996-08-20",
            "description": "The closing date for the mortgage. The format is ISO8601."
          },
          "insurancePurpose": {
            "type": "string",
            "example": "Mortgage Protection",
            "description": "The reason the lead is seeking a policy. \nMUST NOT be empty.\n"
          },
          "faceAmount": {
            "type": "integer",
            "example": 250000,
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "The face amount of the mortgage, in US Dollars. \nMUST be greater than zero.\n"
          },
          "termLength": {
            "type": "integer",
            "example": 30,
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "The term length of the mortgage, in years. \nMUST be greater than zero.\n"
          },
          "loanOfficerFirstName": {
            "type": "string",
            "example": "Charlie",
            "maxLength": 124,
            "description": "The loan officer's first name. MUST NOT be empty. MUST be 124 \ncharacters or less.\n"
          },
          "loanOfficerLastName": {
            "type": "string",
            "example": "Tuna",
            "maxLength": 124,
            "description": "The loan officer's last name. MUST NOT be empty. MUST be 124 \ncharacters or less.\n"
          },
          "loanOfficerPhone": {
            "type": "string",
            "format": "phone",
            "example": "2035551234",
            "description": "Telephone number for the loan officer. MUST be a valid phone number.\n"
          },
          "loanOfficerEmail": {
            "type": "string",
            "format": "email",
            "example": "charlie.tuna@mail.example.com",
            "description": "E-mail address for the loan officer. MUST be a valid email address.\n"
          },
          "processorFirstName": {
            "type": "string",
            "example": "Dave",
            "description": "The loan processor's first name. MUST NOT be empty. MUST be 124 \ncharacters or less.\n"
          },
          "processorLastName": {
            "type": "string",
            "example": "Stone",
            "description": "The loan processor's last name. MUST NOT be empty. MUST be 124 \ncharacters or less.\n"
          },
          "processorPhone": {
            "type": "string",
            "format": "phone",
            "example": "2035551234",
            "description": "Telephone number for the loan processor. MUST be a valid phone \nnumber.\n"
          },
          "processorEmail": {
            "type": "string",
            "format": "email",
            "example": "dave.stone@mail.example.com",
            "description": "E-mail address for the loan processor. MUST be a valid email\naddress.\n"
          }
        }
      },
      "LeadMedicareDetails": {
        "type": "object",
        "description": "Information about the policy type(s) sought by a medicare lead.",
        "properties": {
          "medicareType": {
            "enum": [
              "Medicare Supplement",
              "Medicare Advantage"
            ]
          },
          "medicareCoverage": {
            "enum": [
              "A",
              "B",
              "AB"
            ]
          }
        }
      },
      "LeadCompanion": {
        "type": "object",
        "description": "A second contact for the lead, generally someone who is related to the \nprimary contact, a spouse or other family member. Optional.\n",
        "required": [
          "borrowerId",
          "firstName",
          "lastName",
          "state",
          "phones"
        ],
        "properties": {
          "borrowerId": {
            "type": "string",
            "example": "123789",
            "minLength": 1,
            "description": "The ID of the borrower that the companion's mortgage is made \nthrough. MUST NOT be empty.\n"
          },
          "firstName": {
            "type": "string",
            "example": "Alan",
            "minLength": 1,
            "maxLength": 124,
            "description": "The first name of the lead contact. MUST NOT be empty. MUST be 124 \ncharacters or less.\n"
          },
          "middleName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 124,
            "description": "The middle name of the lead contact. Optional. If present, MUST NOT \nbe empty. MUST be 124 characters or less.\n"
          },
          "lastName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 124,
            "example": "Smith",
            "description": "The last name of the lead contact. MUST NOT be empty. MUST be 124 \ncharacters or less.\n"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date",
            "example": "1970-07-14",
            "description": "The birthday of the lead contact. The format is ISO8601. Optional.\n"
          },
          "street": {
            "type": "string",
            "minLength": 1,
            "maxLength": 124,
            "example": "521 Pine St.",
            "description": "The first line of the street address of the lead contact. Optional. \nMUST be 124 characters or less.\n"
          },
          "street2": {
            "type": "string",
            "minLength": 1,
            "maxLength": 124,
            "example": "Unit 42A",
            "description": "The second line of the street address of the lead contact. Optional. \nMUST be 124 characters or less.\n"
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 124,
            "example": "Omaha",
            "description": "The city of the street address of the lead contact. Optional. \nMUST be 124 characters or less.\n"
          },
          "state": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "example": "NE",
            "description": "The state where the lead resides. MUST be a USPS 2-letter state \ncode. MUST be one of the 50 states or DC.\n"
          },
          "zip": {
            "type": "string",
            "minLength": 5,
            "maxLength": 10,
            "example": "68022",
            "description": "The ZIP code where the lead resides. Optional. MUST be between 5 \nand 10 characters, inclusive.\n"
          },
          "phones": {
            "type": "array",
            "minLength": 1,
            "items": {
              "$ref": "#/components/schemas/LeadPhone"
            },
            "description": "A list of telephone numbers with which to reach the lead contact. \nMUST contain at least one phone number. The numbers MUST be valid \nphone numbers. If any of the phone numbers match leads that are \nalready in the AgentCloud database, regardless of the source of the \noriginal lead, the lead SHALL be rejected.\n"
          },
          "email": {
            "type": "string",
            "format": "email",
            "minLength": 3,
            "example": "alan.smith@mail.example.com",
            "description": "An e-mail address at which the lead can be reached. MUST contain\nexactly one `@` symbol with at least one character on either side.\n"
          },
          "gender": {
            "type": "string",
            "description": "The lead's gender. Optional.",
            "enum": [
              "Male",
              "Female"
            ]
          },
          "termLength": {
            "type": "integer",
            "example": 25,
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Term length of the sought policy for the companion. If present, \nMUST be greater than zero.\n"
          },
          "faceAmount": {
            "type": "integer",
            "example": 35000,
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "The value of the companion's sought policy, in US dollars. \nIf present, MUST be greater than zero.\n"
          },
          "incomeMonthly": {
            "type": "integer",
            "example": 5000,
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "The companion's monthly income, in US dollars. MUST be greater than \nzero.\n"
          }
        }
      },
      "Error": {
        "type": "object",
        "description": "A failed response. Contains a message describing the error and a\nunique request ID that can be used to look up the error in the \napplication logs for debugging. Users of the API SHOULD include this\nID when submitting a request for support so that the support team\ncan quickly identify the request in the logs and determine what went \nwrong.\n",
        "required": [
          "message",
          "requestId"
        ],
        "properties": {
          "message": {
            "type": "string",
            "example": "An error occurred while processing your request."
          },
          "requestId": {
            "$ref": "#/components/schemas/RequestId"
          },
          "errors": {
            "type": "array",
            "description": "An array of more granular messages that may help in \ntroubleshooting the problem.\n",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "LeadCreateResponse": {
        "type": "object",
        "required": [
          "leadId",
          "requestId",
          "clientRef"
        ],
        "properties": {
          "leadId": {
            "description": "The ID of the newly created lead in the AgentCloud platform.\n",
            "type": "integer",
            "format": "int64",
            "example": 123456789
          },
          "requestId": {
            "$ref": "#/components/schemas/RequestId"
          },
          "clientRef": {
            "type": "string",
            "description": "A unique value provided by the client to identify this lead.\nTypically corresponds to an ID in the client system.\n"
          }
        }
      },
      "LeadUpdateResponse": {
        "type": "object",
        "required": [
          "leadId",
          "requestId"
        ],
        "properties": {
          "leadId": {
            "description": "The ID of the updated lead in the AgentCloud platform.\n",
            "type": "integer",
            "format": "int64",
            "example": 123456789
          },
          "requestId": {
            "$ref": "#/components/schemas/RequestId"
          }
        }
      },
      "EmailDoNotContactRequest": {
        "type": "object",
        "properties": {
          "leads": {
            "type": "array",
            "description": "An array of lead IDs (which MUST be numbers). All email addresses \nassociated with these leads will be added to the do-not-contact list.\nEither this or the `emails` field (or both) MUST be present.\n",
            "items": {
              "type": "number"
            }
          },
          "emails": {
            "type": "array",
            "description": "An array of email addresses to add to the do-not-contact list.\nEither this field or the `leads` field (or both) MUST be present.\n",
            "items": {
              "type": "string",
              "format": "email"
            }
          }
        }
      },
      "EmailDoNotContactResponse": {
        "type": "object",
        "required": [
          "requestId"
        ],
        "properties": {
          "requestId": {
            "type": "string",
            "format": "uuid",
            "example": "ee6fda2c-16cd-4446-aedf-9800e13b7628",
            "description": "A random UUID that may be used to identify this request."
          }
        }
      },
      "AvailableAgents": {
        "type": "object",
        "required": [
          "available",
          "requestId"
        ],
        "properties": {
          "requestId": {
            "type": "string",
            "format": "uuid",
            "example": "ee6fda2c-16cd-4446-aedf-9800e13b7628",
            "description": "A random UUID that may be used to identify this request."
          },
          "available": {
            "type": "integer",
            "description": "The number of agents available to take calls.",
            "example": 3
          }
        }
      },
      "MatchingOpportunities": {
        "type": "object",
        "required": [
          "matches"
        ],
        "properties": {
          "matches": {
            "type": "array",
            "description": "An array of matching opportunities, if any.",
            "minLength": 0,
            "maxLength": 10,
            "items": {
              "$ref": "#/components/schemas/Opportunity"
            }
          }
        }
      },
      "OpportunityStatus": {
        "type": "object",
        "readOnly": true,
        "description": "Represents possible states of an opportunity.\n* 1 - Reached Not Quoted\n* 2 - Not Interested\n* 3 - No Response\n* 4 - Declined\n* 5 - Postponed\n* 6 - In Force\n* 7 - Lapsed\n* 8 - Replaced\n* 9 - Withdrawn\n* 10 - Converted - Full\n* 12 - App Completed\n* 13 - App Sent To Carrier\n* 14 - Policy In House\n* 15 - Del Reqs Sent to Client\n* 16 - Del Reqs Sent to Carrier\n* 17 - Not Taken\n* 19 - Issued As Approved\n* 20 - Issued Other Than Approved\n* 21 - Verified In Force\n* 22 - Deceased\n* 23 - App In Progress\n* 24 - Ineligible\n* 25 - Reached Quoted\n* 26 - App Processed\n* 27 - App Sent to Client\n* 28 - App Received\n* 29 - Underwriting\n* 30 - Tentative Offer\n* 31 - Resell\n* 34 - Await Policy\n* 35 - Del Reqs Received\n* 36 - Lapse Pending\n* 37 - Reissue Requested\n* 38 - Needs Sales Review\n* 39 - Needs Sales Review Changes\n* 40 - Policy Created in Error\n* 41 - Canceled\n* 42 - Denied\n\nThe statuses Postponed, Declined, Withdrawn, Del Reqs Sent To Carrier, Ineligible, Not Interested, Not Taken, No Response, Deceased, Lapsed, Canceled, and Denied should also include a reason code. See the ReasonCode schema for more details.\n",
        "required": [
          "id",
          "displayName"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "example": 1,
            "description": "The ID of the status"
          },
          "displayName": {
            "type": "string",
            "minLength": 1,
            "example": "Reached Not Quoted",
            "description": "The name of the status"
          }
        }
      },
      "ProductType": {
        "type": "object",
        "readOnly": true,
        "description": "Represents categories of product that may be sold in AgentCloud.\n* 1 - Final Expense\n* 2 - Simplified Issue Term\n* 3 - HomeBridge SI Term\n* 4 - Term\n* 5 - New Benefits\n* 6 - Children's Whole Life\n* 7 - Fidelity ADB\n* 8 - ReliaShield\n* 9 - Conversion\n* 10 - Medicare\n",
        "required": [
          "id",
          "displayName"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "example": 1,
            "description": "The ID of the product type"
          },
          "displayName": {
            "type": "string",
            "minLength": 1,
            "example": "Term",
            "description": "The name of the product type"
          }
        }
      },
      "ContactStatus": {
        "type": "object",
        "readOnly": true,
        "description": "Represents possible states of a contact.\n* 1 - Active\n* 2 - Inactive\n",
        "required": [
          "id",
          "displayName"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "example": 1,
            "description": "The ID of the status"
          },
          "displayName": {
            "type": "string",
            "minLength": 1,
            "example": "Active",
            "description": "The name of the status"
          }
        }
      },
      "Gender": {
        "type": "object",
        "readOnly": true,
        "description": "Gender options available for a contact.\n* 1 - Male\n* 2 - Female\n",
        "required": [
          "id",
          "displayName"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "example": 1,
            "description": "The ID of the gender"
          },
          "displayName": {
            "type": "string",
            "minLength": 1,
            "example": "Male",
            "description": "The name of the gender"
          }
        }
      },
      "ResidencyStatus": {
        "type": "object",
        "readOnly": true,
        "description": "Contact's US residency/immigration status.\n* 1 - US Citizen\n* 2 - Non-Citizen\n* 3 - Green Card\n* 4 - Visa A - Government Official\n* 5 - Visa B1 - Visitor/Business\n* 6 - Visa B2 - Visitor/Medical Treatment\n* 7 - Visa C - Transit\n* 8 - Visa D - Crewman\n* 9 - Visa E1 - Treaty Trader\n* 10 - Visa E2 - Treaty Investor\n* 11 - Visa E3-5 - Misc Employment Visas\n* 12 - Visa F1-4 - Family Based/Academic Studies\n* 13 - Visa G - Representative to International Organization\n* 14 - Visa H-1B - Temporary Worker: Distinguished Merit/Ability\n* 15 - Visa H-2A/B - Temporary Worker: General Labor\n* 16 - Visa H-3 - Temporary Worker: Trainee\n* 17 - Visa H-4 - Spouse of Child of H1, 2, or 3\n* 18 - Visa I - Information Media Representative\n* 19 - Visa J - USIA Education/Cultural Exchange\n* 20 - Visa K1 - Fiance/Fiancee I: Information Media Red\n* 21 - Visa L - Intra Company Transfer\n* 22 - Visa M - Vocational/Non-Academic Studies\n* 23 - Visa O1-2 - Science/Art\n* 24 - Visa P1-3 - Athletes, Artists, Entertainers\n* 25 - Visa Q1 - INS International Cultural Exchange\n* 26 - Visa R - Non Immigrant Religious\n* 27 - Visa SB-1 - Returning Resident Alien\n* 28 - Visa SD - Immigrant Religious\n* 29 - Visa TN - NAFTA Professionals\n",
        "required": [
          "id",
          "displayName"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "example": 1,
            "description": "The ID of the gender"
          },
          "displayName": {
            "type": "string",
            "minLength": 1,
            "example": "Male",
            "description": "The name of the gender"
          }
        }
      },
      "Contact": {
        "type": "object",
        "required": [
          "id",
          "created",
          "status",
          "agentId",
          "homeAddress",
          "mailingAddress",
          "orgId",
          "phones",
          "emails"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "example": 1234567,
            "description": "AgentCloud ID of the contact",
            "readOnly": true
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "example": "2021-07-20T20:04:46.278815-04:00",
            "description": "When the contact was created in AgentCloud.",
            "readOnly": true
          },
          "status": {
            "$ref": "#/components/schemas/ContactStatus"
          },
          "statusId": {
            "type": "integer",
            "example": 1,
            "description": "ID of the desired contact status. Used when updating a contact.\nSee ContactStatus schema.\n",
            "writeOnly": true
          },
          "agentId": {
            "type": "integer",
            "example": 1234,
            "description": "ID of the agent assigned to this contact",
            "readOnly": true
          },
          "homeAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "mailingAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "orgId": {
            "type": "integer",
            "example": 2,
            "description": "ID of the organization to which this contact belongs",
            "readOnly": true
          },
          "firstName": {
            "type": "string",
            "example": "John",
            "description": "Given name of the contact",
            "minLength": 1,
            "maxLength": 124,
            "nullable": true
          },
          "middleName": {
            "type": "string",
            "example": "Quincy",
            "minLength": 1,
            "maxLength": 124,
            "description": "Middle name of the contact",
            "nullable": true
          },
          "lastName": {
            "type": "string",
            "example": "Adams",
            "minLength": 1,
            "maxLength": 124,
            "description": "Surname of the contact",
            "nullable": true
          },
          "birthday": {
            "type": "string",
            "format": "date",
            "example": "2021-07-20",
            "description": "Date of birth of the contact",
            "nullable": true
          },
          "phones": {
            "type": "array",
            "description": "Phone numbers associated with this contact",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/ContactPhone"
            }
          },
          "phoneNumbers": {
            "type": "array",
            "description": "Phone numbers to be added to this contact. New phone numbers\nwill be associated with the contact. Phone numbers\nalready associated with the contact will be ignored. \nNo phone numbers will be removed from the contact, even if\nthey are not included in this array.\n",
            "writeOnly": true,
            "items": {
              "type": "string",
              "format": "phone",
              "example": "(860) 357-2060",
              "description": "Must be a valid phone number in the NANP"
            }
          },
          "emails": {
            "type": "array",
            "description": "Email addresses associated with this contact",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/ContactEmail"
            }
          },
          "emailAddresses": {
            "type": "array",
            "description": "Email addresses to be added to this contact. New emails\nwill be associated with the contact. Email addresses\nalready associated with the contact will be ignored. \nNo emails will be removed from the contact, even if\nthey are not included in this array.\n",
            "writeOnly": true,
            "items": {
              "type": "string",
              "format": "email",
              "example": "test@example.com",
              "description": "Must be a valid email address."
            }
          },
          "notes": {
            "type": "string",
            "description": "Notes added by staff to the contact record",
            "readOnly": true
          },
          "gender": {
            "$ref": "#/components/schemas/Gender"
          },
          "genderName": {
            "type": "string",
            "example": "Male",
            "enum": [
              "Male",
              "Female"
            ],
            "writeOnly": true,
            "nullable": true,
            "description": "Gender of the contact. Used only when updating.\n"
          },
          "residencyStatus": {
            "$ref": "#/components/schemas/ResidencyStatus"
          },
          "nickname": {
            "type": "string",
            "example": "Johnny",
            "nullable": true,
            "description": "Nickname to use when addressing the contact"
          },
          "prefix": {
            "type": "string",
            "example": "Dr.",
            "nullable": true,
            "description": "Prefix to use when addressing the contact."
          }
        }
      },
      "Address": {
        "type": "object",
        "description": "Represents a physical address in the United States",
        "properties": {
          "street": {
            "type": "string",
            "example": "123 Main Street",
            "nullable": true,
            "minLength": 1,
            "maxLength": 124,
            "description": "First line of the street address"
          },
          "street2": {
            "type": "string",
            "example": "Unit 456",
            "nullable": true,
            "minLength": 1,
            "maxLength": 124,
            "description": "Second line of the street address"
          },
          "city": {
            "type": "string",
            "example": "Hartford",
            "nullable": true,
            "minLength": 1,
            "maxLength": 124
          },
          "state": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "nullable": true,
            "example": "CT",
            "description": "Two-letter USPS abbreviation of the state"
          },
          "zip": {
            "type": "string",
            "minLength": 5,
            "maxLength": 10,
            "nullable": true,
            "example": "06101",
            "description": "Postal code of the address"
          }
        }
      },
      "ContactPhone": {
        "type": "object",
        "description": "A phone number and related metadata",
        "required": [
          "id",
          "created",
          "updated",
          "phoneNumber",
          "orgId",
          "doNotContact",
          "tcpaStatus",
          "phoneType",
          "tcpaText"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "example": 1234567,
            "readOnly": true,
            "description": "ID of the phone number"
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "example": "2021-07-20T20:04:46.278815-04:00",
            "description": "When the phone number was created in AgentCloud.",
            "readOnly": true
          },
          "updated": {
            "type": "string",
            "format": "date-time",
            "example": "2021-07-20T20:04:46.278815-04:00",
            "description": "When the phone number was last updated in AgentCloud.",
            "readOnly": true
          },
          "phoneNumber": {
            "type": "string",
            "format": "phone",
            "example": "(860) 357-2060",
            "description": "Must be a valid phone number in the NANP"
          },
          "orgId": {
            "type": "integer",
            "example": 2,
            "description": "Organization with which the phone number is associated",
[...]
