{
  "openapi": "3.0.0",
  "info": {
    "version": "3.0.0",
    "title": "av_microservice_utils",
    "description": "Microservice containing a number of handy end-points that can be used by other micro-services or 3rd-parties",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/airvantage-team/av_microservice_utils/3.0.0/swagger.json"
  },
  "paths": {
    "/getMNO": {
      "get": {
        "operationId": "GET_getMNO",
        "summary": "Returns the associated mobile network operator.",
        "tags": [
          "Subscriber"
        ],
        "description": "Returns the Mobile Network Operator this MSISDN is registered on.",
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_queryParamMsisdn_msisdn"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "detail": {
                      "type": "object",
                      "properties": {
                        "mno": {
                          "type": "string"
                        },
                        "msisdn": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "success": true,
                      "detail": {
                        "mno": "VODACOM",
                        "msisdn": "27796422999"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getRandomMsisdn": {
      "get": {
        "operationId": "GET_getRandomMsisdn",
        "summary": "Returns a random MSISDN based on selection criteria.",
        "tags": [
          "Subscriber"
        ],
        "description": "Returns a random MSISDN based on the constraints given in the query parameters.\n\nTypically, the endpoint will be called with a single number range:\n\n<b>Example:</b> \n\n/getRandomMSISDN<b>?numberRanges</b>=600000000..929999999<b>&countryPrefix</b>=27\n\n\u2192 <font color=red><b>27623108888</b></font> <sup>(See * below)</sup>\n\n\n<B>Note:</b>\nOne can even add multiple ranges to (with equal probability) select a number from the complete set defined by these ranges:\n\n/getRandomMSISDN<b>?numberRanges</b>=600000000..639999999<b>,</b>720000000..749999999<b>&countryPrefix</b>=27\n\n<i>Finally, one can limit the number to that belonging to a certain MNO</i>\n\n/getRandomMSISDN<b>?numberRanges</b>=600000000..929999999<b>&countryPrefix</b>=27<b>&forMNO</b>=MTN\n\nCurrent available options:\nMTN, VODACOM, CELLC, or TELKMOBL\n\n<b>* IMPORTANT NOTE:</b>\n\nThe routine uses the java.security.SecureRandom implementation from Oracle, (see <a href=\"https://docs.oracle.com/javase/8/docs/api/java/security/SecureRandom.html\">explanation</a>).   This algorithm produces a statistically random number in the range of the java <b>int</b> primitive.  It is thus not possible to generate a number larger than <b><i>2,147,483,647</i></b>.  For this reason, it is advised to define the number ranges to the <b><font color=red>right-most 9 digits</font></b>.",
        "parameters": [
          {
            "name": "numberRanges",
            "in": "query",
            "description": "Ranges are in the form of\nnnnnnn..mmmmmm, oooooo..pppppp\n\nNumerous ranges can be defined, separated by commas.\n\nExample:\nnumberRangges=830000000..880000000,720000000..729999999",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryPrefix",
            "in": "query",
            "description": "Number/String to prepend the generated number with.\n\nExample: countryPrefix=27\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "forMNO",
            "in": "query",
            "description": "If present, will only return a random number from set Mobile Network Operator\n\nValues:\nMTN, VODACOM, CELLC, or TELKMOBL\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "detail": {
                      "type": "object",
                      "properties": {
                        "msisdn": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "success": true,
                      "detail": {
                        "msisdn": "27824564856"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Subscriber"
    }
  ],
  "servers": [
    {
      "url": "http://airvantage.donotuse.com/av_microservice_utils"
    },
    {
      "url": "https://airvantage.donotuse.com/av_microservice_utils"
    }
  ],
  "components": {
    "parameters": {
      "trait_queryParamActiondate_actionDate": {
        "name": "actionDate",
        "in": "query",
        "description": "Used to represent event Dates",
        "required": true,
        "schema": {
          "type": "string",
          "format": "date"
        }
      },
      "trait_queryParamAdvanceid_advanceId": {
        "name": "advanceId",
        "in": "query",
        "description": "Unique identifier of new Advance (/addAdvance) or which advance to repay (/addRepayment)",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "trait_queryParamLoanamount_loanAmt": {
        "name": "loanAmt",
        "in": "query",
        "description": "Amount borrowed by subscriber OR\nAmount being allocated to repaying the Loan (/addRepayment)",
        "required": true,
        "schema": {
          "type": "number"
        }
      },
      "trait_queryParamDenomlistid_denomListId": {
        "name": "denomListId",
        "in": "query",
        "description": "Which list of denominations should be displayed?  ",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 3,
          "default": 1
        }
      },
      "trait_queryParamEntitytype_entityType": {
        "name": "entityType",
        "in": "query",
        "description": "1. MoMo\n2. Airtime\n3. Data",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 3,
          "default": 2
        }
      },
      "trait_queryParamLoandate_loanDate": {
        "name": "loanDate",
        "in": "query",
        "description": "Timestamp of loan taken\nyyyy/mm/dd HH:mm:ss",
        "schema": {
          "type": "string"
        }
      },
      "trait_queryParamMsisdn_msisdn": {
        "name": "msisdn",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 8,
          "maxLength": 13
        }
      },
      "trait_queryParamProfiletierid_profileTierId": {
        "name": "profileTierId",
        "in": "query",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 999
        }
      },
      "trait_queryParamRechargeamt_rechargeAmt": {
        "name": "rechargeAmt",
        "in": "query",
        "description": "Amount being recharged ",
        "required": true,
        "schema": {
          "type": "number"
        }
      },
      "trait_queryParamRechargedate_rechargeDate": {
        "name": "rechargeDate",
        "in": "query",
        "description": "Timestamp of recharge\nyyyy/mm/dd HH:mm:ss",
        "schema": {
          "type": "string"
        }
      },
      "trait_queryParamReconcilesource_source": {
        "name": "source",
        "in": "query",
        "description": "1 - CDR\n2 - Daily/Periodical Recon Task",
        "schema": {
          "type": "integer",
          "default": 1
        }
      },
      "trait_queryParamRepaydate_repayDate": {
        "name": "repayDate",
        "in": "query",
        "description": "Timestamp of loan repaid\nyyyy/mm/dd HH:mm:ss",
        "schema": {
          "type": "string"
        }
      },
      "trait_queryParamServiceamt_serviceAmt": {
        "name": "serviceAmt",
        "in": "query",
        "description": "Amount being allocated to the service fee",
        "required": true,
        "schema": {
          "type": "number"
        }
      },
      "trait_queryParamServiceid_serviceId": {
        "name": "serviceId",
        "in": "query",
        "description": "This is the service ID which will indicate </br>1 - Airtime Once-off; </br>2 - Airtime Auto_Topup and </br>3 - Data",
        "schema": {
          "type": "string"
        }
      },
      "trait_queryParamStatusid_statusId": {
        "name": "statusId",
        "in": "query",
        "description": "2 - Confirmed advance/payment\n3 - Cancelled advance/payment\n6 -  Queued advance/payment",
        "required": true,
        "schema": {
          "type": "integer",
          "enum": [
            1,
            2,
            3,
            6
          ],
          "default": 1
        }
      },
      "trait_queryParamTimestamp_timestamp": {
        "name": "timestamp",
        "in": "query",
        "description": "Timestamp of the event, comprising Date AND Time.\nE.g. 2016/09/02 11:10:02",
        "required": true,
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      }
    }
  }
}