{
  "openapi": "3.0.3",
  "info": {
    "title": "Judge0 CE API",
    "description": "Judge0 CE (Community Edition) is an open-source online code execution system. It supports 60+ programming languages and provides endpoints for submitting code, retrieving results, and managing submissions with configurable resource limits.",
    "version": "1.13.1",
    "contact": {
      "name": "Judge0",
      "url": "https://judge0.com"
    },
    "license": {
      "name": "GNU General Public License v3.0",
      "url": "https://github.com/judge0/judge0/blob/master/LICENSE"
    },
    "x-jentic-source-url": "https://ce.judge0.com/"
  },
  "servers": [
    {
      "url": "https://ce.judge0.com",
      "description": "Judge0 CE Public Instance"
    }
  ],
  "tags": [
    {
      "name": "Submissions",
      "description": "Code submission and execution"
    },
    {
      "name": "Batch Submissions",
      "description": "Batch code submission operations"
    },
    {
      "name": "Languages",
      "description": "Programming language information"
    },
    {
      "name": "Statuses",
      "description": "Submission status codes"
    },
    {
      "name": "System",
      "description": "System and configuration information"
    },
    {
      "name": "Authentication",
      "description": "Authentication and authorization"
    },
    {
      "name": "Health",
      "description": "Health and statistics"
    },
    {
      "name": "Information",
      "description": "General information endpoints"
    }
  ],
  "security": [
    {
      "authToken": []
    }
  ],
  "paths": {
    "/authenticate": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Authenticate",
        "description": "Validate the authentication token.",
        "operationId": "authenticate",
        "responses": {
          "200": {
            "description": "Token is valid"
          },
          "401": {
            "description": "Token is invalid or missing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/authorize": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Authorize",
        "description": "Check if the user is authorized.",
        "operationId": "authorize",
        "responses": {
          "200": {
            "description": "User is authorized"
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/submissions": {
      "post": {
        "tags": ["Submissions"],
        "summary": "Create submission",
        "description": "Create a new code execution submission.",
        "operationId": "createSubmission",
        "parameters": [
          {
            "name": "base64_encoded",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Set to true if source_code, stdin, expected_output are Base64 encoded"
          },
          {
            "name": "wait",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Set to true to wait for execution to complete before responding"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmissionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Submission created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionToken"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable - queue is full",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Submissions"],
        "summary": "List submissions",
        "description": "Get a paginated list of all submissions.",
        "operationId": "listSubmissions",
        "parameters": [
          {
            "name": "base64_encoded",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to return"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of submissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "submissions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Submission"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "next_page": {
                          "type": "integer",
                          "nullable": true
                        },
                        "prev_page": {
                          "type": "integer",
                          "nullable": true
                        },
                        "total_pages": {
                          "type": "integer"
                        },
                        "total_count": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/submissions/{token}": {
      "get": {
        "tags": ["Submissions"],
        "summary": "Get submission",
        "description": "Retrieve a single submission by its token.",
        "operationId": "getSubmission",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Submission token"
          },
          {
            "name": "base64_encoded",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Submission details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Submission"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Submissions"],
        "summary": "Delete submission",
        "description": "Delete a submission by its token.",
        "operationId": "deleteSubmission",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Submission token"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to return from deleted submission"
          }
        ],
        "responses": {
          "200": {
            "description": "Submission deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Submission"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/submissions/batch": {
      "post": {
        "tags": ["Batch Submissions"],
        "summary": "Create batch submission",
        "description": "Create multiple submissions in a single request.",
        "operationId": "createBatchSubmission",
        "parameters": [
          {
            "name": "base64_encoded",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["submissions"],
                "properties": {
                  "submissions": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/SubmissionRequest"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Batch submissions created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SubmissionToken"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Batch Submissions"],
        "summary": "Get batch submissions",
        "description": "Retrieve multiple submissions by their tokens.",
        "operationId": "getBatchSubmissions",
        "parameters": [
          {
            "name": "tokens",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of submission tokens"
          },
          {
            "name": "base64_encoded",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Batch submission details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "submissions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Submission"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/languages": {
      "get": {
        "tags": ["Languages"],
        "summary": "List active languages",
        "description": "Get a list of all active programming languages.",
        "operationId": "listLanguages",
        "responses": {
          "200": {
            "description": "List of active languages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Language"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/languages/{id}": {
      "get": {
        "tags": ["Languages"],
        "summary": "Get language",
        "description": "Get details of a specific programming language.",
        "operationId": "getLanguage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Language ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Language details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Language"
                }
              }
            }
          }
        }
      }
    },
    "/languages/all": {
      "get": {
        "tags": ["Languages"],
        "summary": "List all languages",
        "description": "Get a list of all programming languages including archived ones.",
        "operationId": "listAllLanguages",
        "responses": {
          "200": {
            "description": "List of all languages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Language"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/statuses": {
      "get": {
        "tags": ["Statuses"],
        "summary": "List statuses",
        "description": "Get all possible submission status codes and descriptions.",
        "operationId": "listStatuses",
        "responses": {
          "200": {
            "description": "List of statuses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Status"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/system_info": {
      "get": {
        "tags": ["System"],
        "summary": "Get system info",
        "description": "Get system information including CPU and memory details.",
        "operationId": "getSystemInfo",
        "responses": {
          "200": {
            "description": "System information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cpu": {
                      "type": "object",
                      "properties": {
                        "model": {
                          "type": "string"
                        },
                        "cores": {
                          "type": "integer"
                        },
                        "threads_per_core": {
                          "type": "integer"
                        },
                        "mhz": {
                          "type": "string"
                        }
                      }
                    },
                    "memory": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "string"
                        },
                        "used": {
                          "type": "string"
                        },
                        "free": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/config_info": {
      "get": {
        "tags": ["System"],
        "summary": "Get config info",
        "description": "Get Judge0 configuration details.",
        "operationId": "getConfigInfo",
        "responses": {
          "200": {
            "description": "Configuration information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/statistics": {
      "get": {
        "tags": ["Health"],
        "summary": "Get statistics",
        "description": "Get instance statistics. Results are cached for 10 minutes.",
        "operationId": "getStatistics",
        "parameters": [
          {
            "name": "invalidate_cache",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Force cache invalidation"
          }
        ],
        "responses": {
          "200": {
            "description": "Instance statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/workers": {
      "get": {
        "tags": ["Health"],
        "summary": "Get workers",
        "description": "Get worker queue status.",
        "operationId": "getWorkers",
        "responses": {
          "200": {
            "description": "Worker status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "queue": {
                        "type": "string"
                      },
                      "size": {
                        "type": "integer"
                      },
                      "available": {
                        "type": "integer"
                      },
                      "idle": {
                        "type": "integer"
                      },
                      "working": {
                        "type": "integer"
                      },
                      "paused": {
                        "type": "integer"
                      },
                      "failed": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/about": {
      "get": {
        "tags": ["Information"],
        "summary": "About",
        "description": "Get general information about the Judge0 instance.",
        "operationId": "getAbout",
        "security": [],
        "responses": {
          "200": {
            "description": "About information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string"
                    },
                    "homepage": {
                      "type": "string",
                      "format": "uri"
                    },
                    "source_code": {
                      "type": "string",
                      "format": "uri"
                    },
                    "maintainer": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/version": {
      "get": {
        "tags": ["Information"],
        "summary": "Get version",
        "description": "Get the current Judge0 version.",
        "operationId": "getVersion",
        "security": [],
        "responses": {
          "200": {
            "description": "Version string",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/isolate": {
      "get": {
        "tags": ["Information"],
        "summary": "Get isolate version",
        "description": "Get the isolate sandbox version.",
        "operationId": "getIsolateVersion",
        "security": [],
        "responses": {
          "200": {
            "description": "Isolate version string",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/license": {
      "get": {
        "tags": ["Information"],
        "summary": "Get license",
        "description": "Get the license text.",
        "operationId": "getLicense",
        "security": [],
        "responses": {
          "200": {
            "description": "License text",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "authToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Auth-Token",
        "description": "Authentication token. Always send via header, not URI parameter."
      },
      "authUser": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Auth-User",
        "description": "Authorization user token for elevated operations."
      }
    },
    "schemas": {
      "SubmissionRequest": {
        "type": "object",
        "required": ["source_code", "language_id"],
        "properties": {
          "source_code": {
            "type": "string",
            "description": "Program source code"
          },
          "language_id": {
            "type": "integer",
            "description": "Language ID from /languages endpoint"
          },
          "compiler_options": {
            "type": "string",
            "maxLength": 512,
            "description": "Compiler options"
          },
          "command_line_arguments": {
            "type": "string",
            "maxLength": 512,
            "description": "Command line arguments"
          },
          "stdin": {
            "type": "string",
            "description": "Standard input"
          },
          "expected_output": {
            "type": "string",
            "description": "Expected output for comparison"
          },
          "cpu_time_limit": {
            "type": "number",
            "format": "float",
            "description": "CPU time limit in seconds"
          },
          "cpu_extra_time": {
            "type": "number",
            "format": "float",
            "description": "Extra CPU time in seconds"
          },
          "wall_time_limit": {
            "type": "number",
            "format": "float",
            "description": "Wall clock time limit in seconds"
          },
          "memory_limit": {
            "type": "number",
            "format": "float",
            "description": "Memory limit in kilobytes"
          },
          "stack_limit": {
            "type": "integer",
            "description": "Stack size limit in kilobytes"
          },
          "max_processes_and_or_threads": {
            "type": "integer",
            "description": "Maximum number of processes and/or threads"
          },
          "enable_per_process_and_thread_time_limit": {
            "type": "boolean",
            "description": "Enable per-process and thread time limit"
          },
          "enable_per_process_and_thread_memory_limit": {
            "type": "boolean",
            "description": "Enable per-process and thread memory limit"
          },
          "max_file_size": {
            "type": "integer",
            "description": "Maximum file size in kilobytes"
          },
          "redirect_stderr_to_stdout": {
            "type": "boolean",
            "description": "Redirect stderr to stdout"
          },
          "enable_network": {
            "type": "boolean",
            "description": "Enable network access"
          },
          "number_of_runs": {
            "type": "integer",
            "description": "Number of times to run the program"
          },
          "additional_files": {
            "type": "string",
            "format": "byte",
            "description": "Base64 encoded ZIP archive of additional files"
          },
          "callback_url": {
            "type": "string",
            "format": "uri",
            "description": "Webhook URL called when submission is done"
          }
        }
      },
      "SubmissionToken": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "format": "uuid",
            "description": "Unique submission token"
          }
        }
      },
      "Submission": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "format": "uuid"
          },
          "source_code": {
            "type": "string"
          },
          "language_id": {
            "type": "integer"
          },
          "language": {
            "$ref": "#/components/schemas/Language"
          },
          "stdin": {
            "type": "string"
          },
          "expected_output": {
            "type": "string"
          },
          "stdout": {
            "type": "string",
            "description": "Standard output"
          },
          "stderr": {
            "type": "string",
            "description": "Standard error"
          },
          "compile_output": {
            "type": "string",
            "description": "Compiler output"
          },
          "message": {
            "type": "string",
            "description": "Judge message"
          },
          "exit_code": {
            "type": "integer"
          },
          "exit_signal": {
            "type": "integer"
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "finished_at": {
            "type": "string",
            "format": "date-time"
          },
          "time": {
            "type": "string",
            "description": "Execution time in seconds"
          },
          "wall_time": {
            "type": "string",
            "description": "Wall clock time in seconds"
          },
          "memory": {
            "type": "number",
            "format": "float",
            "description": "Memory used in kilobytes"
          },
          "number_of_runs": {
            "type": "integer"
          },
          "cpu_time_limit": {
            "type": "string"
          },
          "cpu_extra_time": {
            "type": "string"
          },
          "wall_time_limit": {
            "type": "string"
          },
          "memory_limit": {
            "type": "number",
            "format": "float"
          },
          "stack_limit": {
            "type": "integer"
          },
          "max_processes_and_or_threads": {
            "type": "integer"
          },
          "enable_per_process_and_thread_time_limit": {
            "type": "boolean"
          },
          "enable_per_process_and_thread_memory_limit": {
            "type": "boolean"
          },
          "max_file_size": {
            "type": "integer"
          },
          "compile_output_limit": {
            "type": "integer"
          },
          "redirect_stderr_to_stdout": {
            "type": "boolean"
          },
          "enable_network": {
            "type": "boolean"
          },
          "callback_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Language": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "is_archived": {
            "type": "boolean"
          },
          "source_file": {
            "type": "string"
          },
          "compile_cmd": {
            "type": "string"
          },
          "run_cmd": {
            "type": "string"
          }
        }
      },
      "Status": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Status ID"
          },
          "description": {
            "type": "string",
            "description": "Status description (e.g., In Queue, Processing, Accepted, Wrong Answer, etc.)"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  }
}
