{
  "openapi": "3.0.1",
  "info": {
    "title": "ArvanCloud S3 Services",
    "x-logo": {
      "url": "/images/other/arvan-api-docs-logo.svg",
      "backgroundColor": "white",
      "altText": "arvancloud"
    },
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/junior-frontend/arvan-cloud_s_3_services/1.0.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://s3.ir-thr-at1.arvanstorage.com",
      "description": "Arvan Cloud Endpoint URL"
    }
  ],
  "tags": [
    {
      "name": "Bucket",
      "description": "APIs related to bucket"
    },
    {
      "name": "Bucket Policy",
      "description": "APIs related to bucket policy"
    },
    {
      "name": "Bucket ACL",
      "description": "APIs related to bucket ACL"
    },
    {
      "name": "Bucket Tagging",
      "description": "APIs related to bucket tagging"
    },
    {
      "name": "Bucket CORS",
      "description": "APIs related to bucket CORS"
    },
    {
      "name": "Bucket Versioning",
      "description": "APIs related to bucket versioning"
    },
    {
      "name": "Bucket Lifecycle Configuration",
      "description": "APIs related to bucket lifecycle configuration"
    },
    {
      "name": "Bucket Website Configuration",
      "description": "APIs related to bucket website configuration"
    },
    {
      "name": "Object",
      "description": "APIs related to objects"
    },
    {
      "name": "Object ACL",
      "description": "APIs related to object ACL"
    },
    {
      "name": "Object Tagging",
      "description": "APIs related to object Tagging"
    },
    {
      "name": "Multipart",
      "description": "APIs related to object multipart operations"
    }
  ],
  "paths": {
    "/{bucket}": {
      "put": {
        "tags": [
          "Bucket"
        ],
        "summary": "Create new bucket",
        "operationId": "createBucket",
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "description": "Bucket you desire to create",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:PUT\\n\\n\\n{date}\\n/{bucket}/"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "HTTP/1.1 200 OK"
                }
              }
            }
          }
        }
      },
      "head": {
        "tags": [
          "Bucket"
        ],
        "summary": "Checks bucket existence",
        "operationId": "headBucket",
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "description": "Bucket you desire to check for existence",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:HEAD\\n\\n\\n{date}\\n/{bucket}/"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "HTTP/1.1 200 OK"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "HTTP/2 404"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Bucket"
        ],
        "summary": "Returns some or all (up to 1,000) of the objects in a bucket",
        "operationId": "listObjects",
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "description": "Bucket you desire to list its objects",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:GET\\n\\n\\n{date}\\n/{bucket}/"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ListBucketResult"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Bucket"
        ],
        "summary": "Deletes bucket",
        "operationId": "deleteBucket",
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "description": "Bucket you desire to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:HEAD\\n\\n\\n{date}\\n/{bucket}/"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "HTTP/1.1 204 No Content"
                }
              }
            }
          }
        }
      }
    },
    "/": {
      "get": {
        "tags": [
          "Bucket"
        ],
        "summary": "Lists user's buckets",
        "operationId": "listBucket",
        "parameters": [
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:GET\\n\\n\\n{date}\\n/"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ListBucket"
                }
              }
            }
          }
        }
      }
    },
    "/{policyBucket}": {
      "put": {
        "tags": [
          "Bucket Policy"
        ],
        "summary": "Creates bucket policy",
        "operationId": "putBucketPolicy",
        "parameters": [
          {
            "name": "policyBucket",
            "in": "path",
            "description": "Bucket you desire to create",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "policy",
            "description": "Policy query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:PUT\\n\\n\\n{date}\\n/{bucket}/?policy"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutBucketPolicy"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "HTTP/1.1 200 OK"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Bucket Policy"
        ],
        "summary": "Retrieves bucket policy",
        "operationId": "getBucketPolicy",
        "parameters": [
          {
            "name": "policyBucket",
            "in": "path",
            "description": "Bucket you desire to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "policy",
            "description": "Policy query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:GET\\n\\n\\n{date}\\n/{bucket}/?policy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBucketPolicy"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Bucket Policy"
        ],
        "summary": "Deletes bucket policy",
        "operationId": "deleteBucketPolicy",
        "parameters": [
          {
            "name": "policyBucket",
            "in": "path",
            "description": "Bucket you desire to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "policy",
            "description": "Policy query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:DELETE\\n\\n\\n{date}\\n/{bucket}/?policy"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "HTTP/1.1 204 No Content"
                }
              }
            }
          }
        }
      }
    },
    "/{policyStatusBucket}": {
      "get": {
        "tags": [
          "Bucket Policy"
        ],
        "summary": "Retrieves bucket policy status",
        "operationId": "getBucketPolicyStatus",
        "parameters": [
          {
            "name": "policyStatusBucket",
            "in": "path",
            "description": "Bucket you desire to get status",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "policyStatus",
            "description": "Policy status query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:GET\\n\\n\\n{date}\\n/{bucket}/?policyStatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyStatus"
                }
              }
            }
          }
        }
      }
    },
    "/{aclBucket}": {
      "put": {
        "tags": [
          "Bucket ACL"
        ],
        "summary": "Modifies bucket access-list",
        "operationId": "putBucketAcl",
        "parameters": [
          {
            "name": "aclBucket",
            "in": "path",
            "description": "Bucket you desire to put acl upon",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "acl",
            "description": "ACL query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "x-amz-acl",
            "in": "header",
            "description": "private, public-read, public-read-write, authenticated-read",
            "required": true,
            "schema": {
              "type": "string",
              "default": "private"
            }
          },
          {
            "name": "Content-Length",
            "in": "header",
            "description": "Content Length",
            "required": true,
            "schema": {
              "type": "string",
              "default": "0"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:PUT\\n\\n\\n{date}\\n{acl}\\n/{bucket}/?acl"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "HTTP/1.1 200 OK"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Bucket ACL"
        ],
        "summary": "Retrieves bucket access-list",
        "operationId": "getBucketAcl",
        "parameters": [
          {
            "name": "aclBucket",
            "in": "path",
            "description": "Bucket you desire to retrieve its access-list",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "acl",
            "description": "ACL query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:GET\\n\\n\\n{date}\\n/{bucket}/?acl"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccessControlPolicy"
                }
              }
            }
          }
        }
      }
    },
    "/{tagBucket}": {
      "put": {
        "tags": [
          "Bucket Tagging"
        ],
        "summary": "Creates bucket tagging",
        "operationId": "putBucketTagging",
        "parameters": [
          {
            "name": "tagBucket",
            "in": "path",
            "description": "Bucket you desire to put tag on",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "tagging",
            "description": "Tagging query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:PUT\\n\\n\\n{date}\\n/{bucket}/?tagging"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Tagging"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "HTTP/1.1 200 OK"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Bucket Tagging"
        ],
        "summary": "Retrieves bucket tagging",
        "operationId": "getBucketTagging",
        "parameters": [
          {
            "name": "tagBucket",
            "in": "path",
            "description": "Bucket you desire to retrieve its tags",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "tagging",
            "description": "Tagging query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:GET\\n\\n\\n{date}\\n/{bucket}/?tagging"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Tagging"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Bucket Tagging"
        ],
        "summary": "Deletes bucket tagging",
        "operationId": "deleteBucketTagging",
        "parameters": [
          {
            "name": "tagBucket",
            "in": "path",
            "description": "Bucket you desire to delete it tags",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "tagging",
            "description": "Tagging query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:DELETE\\n\\n\\n{date}\\n/{bucket}/?tagging"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "HTTP/1.1 204 No Content"
                }
              }
            }
          }
        }
      }
    },
    "/{corsBucket}": {
      "put": {
        "tags": [
          "Bucket CORS"
        ],
        "summary": "Adds bucket CORS rules",
        "operationId": "putBucketCors",
        "parameters": [
          {
            "name": "corsBucket",
            "in": "path",
            "description": "Bucket you desire to put cors rules on",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cors",
            "description": "CORS query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:PUT\\n\\n\\n{date}\\n/{bucket}/?cors"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/CORSConfiguration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "HTTP/1.1 200 OK"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Bucket CORS"
        ],
        "summary": "Retrieves bucket CORS rules",
        "operationId": "getBucketCors",
        "parameters": [
          {
            "name": "corsBucket",
            "in": "path",
            "description": "Bucket you desire to retrieve its CORS rules",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cors",
            "description": "CORS query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:GET\\n\\n\\n{date}\\n/{bucket}/?cors"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CORSConfiguration"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Bucket CORS"
        ],
        "summary": "Deletes bucket CORS rules",
        "operationId": "deleteBucketCors",
        "parameters": [
          {
            "name": "corsBucket",
            "in": "path",
            "description": "Bucket you desire to delete its cors rules",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cors",
            "description": "CORS query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:DELETE\\n\\n\\n{date}\\n/{bucket}/?cors"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "HTTP/1.1 204 No Content"
                }
              }
            }
          }
        }
      }
    },
    "/{versioningBucket}": {
      "put": {
        "tags": [
          "Bucket Versioning"
        ],
        "summary": "Modifies bucket versioning",
        "operationId": "putBucketVersioning",
        "parameters": [
          {
            "name": "versioningBucket",
            "in": "path",
            "description": "Bucket you desire to modify it versioning",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "versioning",
            "description": "Versioning query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:PUT\\n\\n\\n{date}\\n/{bucket}/?versioning"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/VersioningConfiguration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "HTTP/1.1 200 OK"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Bucket Versioning"
        ],
        "summary": "Retrieves bucket versioning",
        "operationId": "getBucketVersioning",
        "parameters": [
          {
            "name": "versioningBucket",
            "in": "path",
            "description": "Bucket you desire to retrieve its versioning",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "versioning",
            "description": "Versioning query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:GET\\n\\n\\n{date}\\n/{bucket}/?versioning"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VersioningConfiguration"
                }
              }
            }
          }
        }
      }
    },
    "/{lifecycleConfigurationBucket}": {
      "put": {
        "tags": [
          "Bucket Lifecycle Configuration"
        ],
        "summary": "Modifies bucket lifecycle configuration",
        "operationId": "putBucketLifecycleConfiguration",
        "parameters": [
          {
            "name": "lifecycleConfigurationBucket",
            "in": "path",
            "description": "Bucket you desire to modify its lifecycle configuration",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "lifecycle",
            "description": "Lifecycle query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "description": "Base64 encoded md5 hash of message",
            "required": true,
            "schema": {
              "type": "string",
              "default": "nBCUp4d/HBz0dngtJ6pU+A=="
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:PUT\\n{Content-MD5}\\n\\n{date}\\n/{bucket}/?lifecycle"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/LifecycleConfiguration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "HTTP/1.1 200 OK"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Bucket Lifecycle Configuration"
        ],
        "summary": "Retrieves bucket lifecycle configuration",
        "operationId": "getBucketLifecycleConfiguration",
        "parameters": [
          {
            "name": "lifecycleConfigurationBucket",
            "in": "path",
            "description": "Bucket you desire to retrieve its lifecycle configuration",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "lifecycle",
            "description": "Lifecycle query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:GET\\n\\n\\n{date}\\n/{bucket}/?lifecycle"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LifecycleConfiguration"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Bucket Lifecycle Configuration"
        ],
        "summary": "Deletes bucket lifecycle configurations",
        "operationId": "deleteBucketLifecycleConfiguration",
        "parameters": [
          {
            "name": "lifecycleConfigurationBucket",
            "in": "path",
            "description": "Bucket you desire to delete its lifecycle configurations",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "lifecycle",
            "description": "Lifecycle query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:DELETE\\n\\n\\n{date}\\n/{bucket}/?lifecycle"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "HTTP/1.1 204 No Content"
                }
              }
            }
          }
        }
      }
    },
    "/{websiteBucket}": {
      "put": {
        "tags": [
          "Bucket Website Configuration"
        ],
        "summary": "Modifies bucket website configuration",
        "operationId": "putBucketWebsite",
        "parameters": [
          {
            "name": "websiteBucket",
            "in": "path",
            "description": "Bucket you desire to modify its website configuration",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "website",
            "description": "Website query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:PUT\\n\\n\\n{date}\\n/{bucket}/?website"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/WebsiteConfiguration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "HTTP/1.1 200 OK"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Bucket Website Configuration"
        ],
        "summary": "Retrieves bucket website configuration",
        "operationId": "getBucketWebsite",
        "parameters": [
          {
            "name": "websiteBucket",
            "in": "path",
            "description": "Bucket you desire to retrieve its website configuration",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "website",
            "description": "Website query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:GET\\n\\n\\n{date}\\n/{bucket}/?website"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebsiteConfiguration"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Bucket Website Configuration"
        ],
        "summary": "Deletes bucket website configurations",
        "operationId": "deleteBucketWebsite",
        "parameters": [
          {
            "name": "websiteBucket",
            "in": "path",
            "description": "Bucket you desire to delete its website configurations",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "website",
            "description": "Website query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:DELETE\\n\\n\\n{date}\\n/{bucket}/?website"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "HTTP/1.1 204 No Content"
                }
              }
            }
          }
        }
      }
    },
    "/{bucket}/{object}": {
      "put": {
        "tags": [
          "Object"
        ],
        "summary": "Uploads object to bucket",
        "operationId": "putObject",
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "description": "Bucket you desire to upload object",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "object",
            "in": "path",
            "description": "Object you desire to upload to bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:PUT\\n\\n\\n{date}\\n/{bucket}/{object}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "HTTP/1.1 200 OK"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Object"
        ],
        "summary": "Retrieves objects from bucket",
        "operationId": "getObject",
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "description": "Bucket you desire to retrieve object from",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "object",
            "in": "path",
            "description": "Object you desire to retrieve from bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:GET\\n\\n\\n{date}\\n/{bucket}/{object}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "434234 bytes of object data"
                }
              }
            }
          }
        }
      },
      "head": {
        "tags": [
          "Object"
        ],
        "summary": "Retrieves metadata from an object without returning the object itself",
        "operationId": "headObject",
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "description": "Bucket you desire to retrieve object's metadata",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "object",
            "in": "path",
            "description": "Object you desire to retrieve its metadata",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:HEAD\\n\\n\\n{date}\\n/{bucket}/{object}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "HTTP/1.1 200 OK"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Object"
        ],
        "summary": "Removes the null version (if there is one) of an object",
        "operationId": "deleteObject",
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "description": "Bucket you desire to delete its object",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "object",
            "in": "path",
            "description": "Object you desire to delete from bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:DELETE\\n\\n\\n{date}\\n/{bucket}/{object}"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "HTTP/1.1 204 No Content"
                }
              }
            }
          }
        }
      }
    },
    "/{objectVersionsBucket}": {
      "get": {
        "tags": [
          "Object"
        ],
        "summary": "Lists bucket objects' versions",
        "operationId": "listObjectVersions",
        "parameters": [
          {
            "name": "objectVersionsBucket",
            "in": "path",
            "description": "Bucket you desire to retrieve its objects' versions",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "versions",
            "description": "Versions query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:GET\\n\\n\\n{date}\\n/{bucket}/?versions"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ListVersionsResult"
                }
              }
            }
          }
        }
      }
    },
    "/{deleteObjectsBucket}": {
      "post": {
        "tags": [
          "Object"
        ],
        "summary": "Enables you to delete multiple objects from a bucket",
        "operationId": "deleteObjects",
        "parameters": [
          {
            "name": "deleteObjectsBucket",
            "in": "path",
            "description": "Bucket you desire to delete objects from",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "delete",
            "description": "Delete query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:POST\\n\\n\\n{date}\\n/{bucket}/?delete"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Delete"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResult"
                }
              }
            }
          }
        }
      }
    },
    "/{bucket}/{aclObject}": {
      "put": {
        "tags": [
          "Object ACL"
        ],
        "summary": "Set the access control list (ACL) permissions for a new or existing object",
        "operationId": "putObjectAcl",
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "description": "Bucket that contains the object",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aclObject",
            "in": "path",
            "description": "Object you desire to put ACL on",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "acl",
            "description": "ACL query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:PUT\\n\\n\\n{date}\\n/{bucket}/{object}?acl"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AccessControlPolicy"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "HTTP/1.1 200 OK"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Object ACL"
        ],
        "summary": "Returns the access control list (ACL) of an object.",
        "operationId": "getObjectAcl",
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "description": "Bucket that contains desired object",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aclObject",
            "in": "path",
            "description": "Object you desire to retrieve its tags",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "acl",
            "description": "ACL query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:GET\\n\\n\\n{date}\\n/{bucket}/{object}?acl"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccessControlPolicy"
                }
              }
            }
          }
        }
      }
    },
    "/{bucket}/{tagObject}": {
      "put": {
        "tags": [
          "Object Tagging"
        ],
        "summary": "Sets the supplied tag-set to an object that already exists in a bucket.",
        "operationId": "putObjectTagging",
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "description": "Bucket that contains the object",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagObject",
            "in": "path",
            "description": "Object you desire to put tags on",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "tagging",
            "description": "Tagging query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:PUT\\n\\n\\n{date}\\n/{bucket}/{object}?tagging"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Tagging"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "HTTP/1.1 200 OK"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Object Tagging"
        ],
        "summary": "Returns the tag-set of an object.",
        "operationId": "getObjectTagging",
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "description": "Bucket that contains desired object",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagObject",
            "in": "path",
            "description": "Object you desire to retrieve its tags",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "tagging",
            "description": "Tagging query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:GET\\n\\n\\n{date}\\n/{bucket}/{object}?tagging"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Tagging"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Object Tagging"
        ],
        "summary": "Removes the entire tag set from the specified object.",
        "operationId": "deleteObjectTagging",
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "description": "Bucket that contains desired object",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagObject",
            "in": "path",
            "description": "Object you desire to delete its tag-set",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "tagging",
            "description": "Tagging query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:DELETE\\n\\n\\n{date}\\n/{bucket}/{object}?tagging"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "HTTP/1.1 204 No Content"
                }
              }
            }
          }
        }
      }
    },
    "/{bucket}/{createMultipartObject}": {
      "post": {
        "tags": [
          "Multipart"
        ],
        "summary": "Initiates a multipart upload and returns an upload ID",
        "operationId": "createMultipartUpload",
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "description": "Bucket that contains the object",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createMultipartObject",
            "in": "path",
            "description": "Object you desire to create multipart upload for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "uploads",
            "description": "Uploads query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:POST\\n\\n\\n{date}\\n/{bucket}/{object}?uploads"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/InitiateMultipartUploadResult"
                }
              }
            }
          }
        }
      }
    },
    "/{multipartBucket}": {
      "get": {
        "tags": [
          "Multipart"
        ],
        "summary": "Lists in-progress multipart uploads.",
        "operationId": "listMultipartUploads",
        "parameters": [
          {
            "name": "multipartBucket",
            "in": "path",
            "description": "Bucket you desire to list its in-progress multipart uploads",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "uploads",
            "description": "Uploads query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:GET\\n\\n\\n{date}\\n/{bucket}/?uploads"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ListMultipartUploadsResult"
                }
              }
            }
          }
        }
      }
    },
    "/{bucket}/{multipartObject}": {
      "put": {
        "tags": [
          "Multipart"
        ],
        "summary": "Uploads a part in a multipart upload.",
        "operationId": "uploadPart",
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "description": "Bucket that contains the object",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "multipartObject",
            "in": "path",
            "description": "Object you desire to upload to bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "partNumber",
            "description": "Part Number query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "uploadId",
            "description": "Uploads ID query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:POST\\n\\n\\n{date}\\n/{bucket}/{object}?partNumber=$PART_NUMBER&uploadId=$UPLOAD_ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "HTTP/1.1 200 OK"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Multipart"
        ],
        "summary": "Completes a multipart upload by assembling previously uploaded parts.",
        "operationId": "completeMultipartUpload",
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "description": "Bucket that contains the object",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "multipartObject",
            "in": "path",
            "description": "Object you desire to complete upload",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "uploadId",
            "description": "Uploads ID query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:POST\\n\\n\\n{date}\\n/{bucket}/{object}?uploadId=$UPLOAD_ID"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/CompleteMultipartUpload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "HTTP/1.1 200 OK"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Multipart"
        ],
        "summary": "Lists the parts that have been uploaded for a specific multipart upload.",
        "operationId": "listParts",
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "description": "Bucket that contains the object",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "multipartObject",
            "in": "path",
            "description": "Object you desire to list its parts",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "uploadId",
            "description": "Uploads ID query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:GET\\n\\n\\n{date}\\n/{bucket}/{object}?uploadId=$UPLOAD_ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ListPartsResult"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Multipart"
        ],
        "summary": "This action aborts a multipart upload.",
        "operationId": "abortMultipartUpload",
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "description": "Bucket that contains the object",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "multipartObject",
            "in": "path",
            "description": "Object you desire to abort multipart upload for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "uploadId",
            "description": "Uploads ID query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Host",
            "in": "header",
            "description": "Arvan Cloud Endpoint URL",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://{bucket}.s3.ir-thr-at1.arvanstorage.com"
            }
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Current Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Mon, 11 Apr 2016 12:00:00 GMT"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "User authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "AWS {S3KEY}:GET\\n\\n\\n{date}\\n/{bucket}/{object}?uploadId=$UPLOAD_ID"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "HTTP/1.1 204 No Content"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ListBucket": {
        "type": "object",
        "properties": {
          "ListAllMyBucketsResult": {
            "type": "object",
            "properties": {
              "Buckets": {
                "type": "object",
                "properties": {
                  "Bucket": {
                    "type": "object",
                    "properties": {
                      "CreationDate": {
                        "type": "string"
                      },
                      "Name": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "Owner": {
                "type": "object",
                "properties": {
                  "DisplayName": {
                    "type": "string"
                  },
                  "ID": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "ListVersionsResult": {
        "type": "object",
        "properties": {
          "IsTruncated": {
            "type": "boolean"
          },
          "KeyMarker": {
            "type": "string"
          },
          "VersionIdMarker": {
            "type": "string"
          },
          "NextKeyMarker": {
            "type": "string"
          },
          "NextVersionIdMarker": {
            "type": "string"
          },
          "Version": {
            "type": "object",
            "properties": {
              "ETag": {
                "type": "string"
              },
              "IsLatest": {
                "type": "boolean"
              },
              "Key": {
                "type": "string"
              },
              "LastModified": {
                "type": "string"
              },
              "Owner": {
                "type": "object",
                "properties": {
                  "DisplayName": {
                    "type": "string"
                  },
                  "ID": {
                    "type": "string"
                  }
                }
              },
              "Size": {
                "type": "integer"
              },
              "StorageClass": {
                "type": "string"
              },
              "VersionId": {
                "type": "string"
              }
            }
          },
          "DeleteMarker": {
            "type": "object",
            "properties": {
              "IsLatest": {
                "type": "boolean"
              },
              "Key": {
                "type": "string"
              },
              "LastModified": {
                "type": "string"
              },
              "Owner": {
                "type": "object",
                "properties": {
                  "DisplayName": {
                    "type": "string"
                  },
                  "ID": {
                    "type": "string"
                  }
                }
              },
              "VersionId": {
                "type": "string"
              }
            }
          },
          "Name": {
            "type": "string"
          },
          "Prefix": {
            "type": "string"
          },
          "Delimiter": {
            "type": "string"
          },
          "MaxKeys": {
            "type": "integer"
          },
          "CommonPrefixes": {
            "type": "object",
            "properties": {
              "Prefix": {
                "type": "string"
              }
            }
          },
          "EncodingType": {
            "type": "string"
          }
        }
      },
      "ListBucketResult": {
        "type": "object",
        "properties": {
          "IsTruncated": {
            "type": "boolean"
          },
          "Marker": {
            "type": "string"
          },
          "NextMarker": {
            "type": "string"
          },
          "Contents": {
            "type": "object",
            "properties": {
              "ETag": {
                "type": "string"
              },
              "Key": {
                "type": "string"
              },
              "LastModified": {
                "type": "string"
              },
              "Owner": {
                "type": "object",
                "properties": {
                  "DisplayName": {
                    "type": "string"
                  },
                  "ID": {
                    "type": "string"
                  }
                }
              },
              "Size": {
                "type": "integer"
              },
              "StorageClass": {
                "type": "string"
              }
            }
          },
          "Name": {
            "type": "string"
          },
          "Prefix": {
            "type": "string"
          },
          "Delimiter": {
            "type": "string"
          },
          "MaxKeys": {
            "type": "integer"
          },
          "CommonPrefixes": {
            "type": "object",
            "properties": {
              "Prefix": {
                "type": "string"
              }
            }
          },
          "EncodingType": {
            "type": "string"
          }
        }
      },
      "PutBucketPolicy": {
        "type": "object",
        "properties": {
          "Version": {
            "type": "string"
          },
          "Statement": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Effect": {
                  "type": "string"
                },
                "Principal": {
                  "type": "object",
                  "properties": {
                    "AWS": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "Action": {
                  "type": "string"
                },
                "Resource": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "GetBucketPolicy": {
        "type": "object",
        "properties": {
          "Version": {
            "type": "string"
          },
          "Id": {
            "type": "string"
          },
          "Statement": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Effect": {
                  "type": "string"
                },
                "sid": {
                  "type": "string"
                },
                "Principal": {
                  "type": "object",
                  "properties": {
                    "AWS": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "Action": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "Resource": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "PolicyStatus": {
        "type": "object",
        "properties": {
          "IsPublic": {
            "type": "string"
          }
        }
      },
      "AccessControlPolicy": {
        "type": "object",
        "properties": {
          "Owner": {
            "type": "object",
            "properties": {
              "DisplayName": {
                "type": "string"
              },
              "ID": {
                "type": "string"
              }
            }
          },
          "AccessControlList": {
            "type": "object",
            "properties": {
              "Grant": {
                "type": "object",
                "properties": {
                  "Grantee": {
                    "type": "object",
                    "properties": {
                      "DisplayName": {
                        "type": "string"
                      },
                      "EmailAddress": {
                        "type": "string"
                      },
                      "ID": {
                        "type": "string"
                      },
                      "xsi:type": {
                        "type": "string"
                      },
                      "URI": {
                        "type": "string"
                      }
                    }
                  },
                  "Permission": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "Tagging": {
        "type": "object",
        "properties": {
          "TagSet": {
            "type": "object",
            "properties": {
              "Tag": {
                "type": "object",
                "properties": {
                  "Key": {
                    "type": "string"
                  },
                  "Value": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "CORSConfiguration": {
        "type": "object",
        "properties": {
          "CORSRule": {
            "type": "object",
            "properties": {
              "AllowedHeader": {
                "type": "string"
              },
              "AllowedMethod": {
                "type": "string"
              },
              "AllowedOrigin": {
                "type": "string"
              },
              "ExposeHeader": {
                "type": "string"
              },
              "ID": {
                "type": "string"
              },
              "MaxAgeSeconds": {
                "type": "integer"
              }
            }
          }
        }
      },
      "VersioningConfiguration": {
        "type": "object",
        "properties": {
          "MfaDelete": {
            "type": "string"
          },
          "Status": {
            "type": "string"
          }
        }
      },
      "LifecycleConfiguration": {
        "type": "object",
        "properties": {
          "Rule": {
            "type": "object",
            "properties": {
              "AbortIncompleteMultipartUpload": {
                "type": "object",
                "properties": {
                  "DaysAfterInitiation": {
                    "type": "integer"
                  }
                }
              },
              "Expiration": {
                "type": "object",
                "properties": {
                  "Date": {
                    "type": "string"
                  },
                  "Days": {
                    "type": "integer"
                  },
                  "ExpiredObjectDeleteMarker": {
                    "type": "boolean"
                  }
                }
              },
              "Filter": {
                "type": "object",
                "properties": {
                  "And": {
                    "type": "object",
                    "properties": {
                      "ObjectSizeGreaterThan": {
                        "type": "integer"
                      },
                      "ObjectSizeLessThan": {
                        "type": "integer"
                      },
                      "Prefix": {
                        "type": "string"
                      },
                      "Tag": {
                        "type": "object",
                        "properties": {
                          "Key": {
[...]
