{
  "openapi": "3.0.0",
  "info": {
    "description": "The Microsoft Azure management API provides create, read, update, and delete functionality for Azure PostgreSQL resources including servers, databases, firewall rules, VNET rules, security alert policies, log files and configurations with new business model.",
    "title": "PostgreSQLManagementClient",
    "version": "2017-12-01-preview",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/azure.com/postgresql/2017-12-01-preview/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2017-12-01-preview/postgresql.json",
        "version": "2.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "azure.com",
    "x-serviceName": "postgresql",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.DBforPostgreSQL/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationListResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available REST API operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "OperationList": {
            "parameters": {
              "api-version": "2017-12-01-preview"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "display": {
                        "description": "Returns the list of Performance Tiers available.",
                        "operation": "List Performance Tiers",
                        "provider": "Microsoft DB for PostgreSQL",
                        "resource": "Performance Tiers"
                      },
                      "name": "Microsoft.DBforPostgreSQL/locations/performanceTiers/read"
                    },
                    {
                      "display": {
                        "description": "Return the list of servers or gets the properties for the specified server.",
                        "operation": "List/Get PostgreSQL Servers",
                        "provider": "Microsoft DB for PostgreSQL",
                        "resource": "PostgreSQL Server"
                      },
                      "name": "Microsoft.DBforPostgreSQL/servers/read"
                    },
                    {
                      "display": {
                        "description": "Creates a server with the specified parameters or update the properties or tags for the specified server.",
                        "operation": "Create/Update PostgreSQL Server",
                        "provider": "Microsoft DB for PostgreSQL",
                        "resource": "PostgreSQL Server"
                      },
                      "name": "Microsoft.DBforPostgreSQL/servers/write"
                    },
                    {
                      "display": {
                        "description": "Deletes an existing server.",
                        "operation": "Delete PostgreSQL Server",
                        "provider": "Microsoft DB for PostgreSQL",
                        "resource": "PostgreSQL Server"
                      },
                      "name": "Microsoft.DBforPostgreSQL/servers/delete"
                    },
                    {
                      "display": {
                        "description": "Returns the list of Performance Tiers available.",
                        "operation": "List Performance Tiers",
                        "provider": "Microsoft DB for PostgreSQL",
                        "resource": "Performance Tiers"
                      },
                      "name": "Microsoft.DBforPostgreSQL/performanceTiers/read"
                    },
                    {
                      "display": {
                        "description": "Return the list of firewall rules for a server or gets the properties for the specified firewall rule.",
                        "operation": "List/Get Firewall Rules",
                        "provider": "Microsoft DB for PostgreSQL",
                        "resource": "Firewall Rules"
                      },
                      "name": "Microsoft.DBforPostgreSQL/servers/firewallRules/read"
                    },
                    {
                      "display": {
                        "description": "Creates a firewall rule with the specified parameters or update an existing rule.",
                        "operation": "Create/Update Firewall Rule",
                        "provider": "Microsoft DB for PostgreSQL",
                        "resource": "Firewall Rules"
                      },
                      "name": "Microsoft.DBforPostgreSQL/servers/firewallRules/write"
                    },
                    {
                      "display": {
                        "description": "Deletes an existing firewall rule.",
                        "operation": "Delete Firewall Rule",
                        "provider": "Microsoft DB for PostgreSQL",
                        "resource": "Firewall Rules"
                      },
                      "name": "Microsoft.DBforPostgreSQL/servers/firewallRules/delete"
                    },
                    {
                      "display": {
                        "description": "Return types of metrics that are available for databases",
                        "operation": "Get database metric definitions",
                        "provider": "Microsoft DB for PostgreSQL",
                        "resource": "Database Metric Definition"
                      },
                      "name": "Microsoft.DBforPostgreSQL/servers/providers/Microsoft.Insights/metricDefinitions/read",
                      "properties": {
                        "serviceSpecification": {
                          "metricSpecifications": [
                            {
                              "aggregationType": "Average",
                              "displayDescription": "CPU percent",
                              "displayName": "CPU percent",
                              "fillGapWithZero": true,
                              "name": "cpu_percent",
                              "unit": "Percent"
                            },
                            {
                              "aggregationType": "Average",
                              "displayDescription": "Compute Unit limit",
                              "displayName": "Compute Unit limit",
                              "name": "compute_limit",
                              "unit": "Count"
                            },
                            {
                              "aggregationType": "Average",
                              "displayDescription": "Compute Unit percentage",
                              "displayName": "Compute Unit percentage",
                              "fillGapWithZero": true,
                              "name": "compute_consumption_percent",
                              "unit": "Percent"
                            },
                            {
                              "aggregationType": "Average",
                              "displayDescription": "Memory percent",
                              "displayName": "Memory percent",
                              "fillGapWithZero": true,
                              "name": "memory_percent",
                              "unit": "Percent"
                            },
                            {
                              "aggregationType": "Average",
                              "displayDescription": "IO percent",
                              "displayName": "IO percent",
                              "fillGapWithZero": true,
                              "name": "io_consumption_percent",
                              "unit": "Percent"
                            },
                            {
                              "aggregationType": "Average",
                              "displayDescription": "Storage percentage",
                              "displayName": "Storage percentage",
                              "name": "storage_percent",
                              "unit": "Percent"
                            },
                            {
                              "aggregationType": "Average",
                              "displayDescription": "Storage used",
                              "displayName": "Storage used",
                              "name": "storage_used",
                              "unit": "Bytes"
                            },
                            {
                              "aggregationType": "Average",
                              "displayDescription": "Storage limit",
                              "displayName": "Storage limit",
                              "name": "storage_limit",
                              "unit": "Bytes"
                            },
                            {
                              "aggregationType": "Average",
                              "displayDescription": "Total active connections",
                              "displayName": "Total active connections",
                              "fillGapWithZero": true,
                              "name": "active_connections",
                              "unit": "Count"
                            },
                            {
                              "aggregationType": "Average",
                              "displayDescription": "Total failed connections",
                              "displayName": "Total failed connections",
                              "fillGapWithZero": true,
                              "name": "connections_failed",
                              "unit": "Count"
                            }
                          ]
                        }
                      }
                    },
                    {
                      "display": {
                        "description": "Gets the disagnostic setting for the resource",
                        "operation": "Read diagnostic setting",
                        "provider": "Microsoft DB for PostgreSQL",
                        "resource": "Database Metric Definition"
                      },
                      "name": "Microsoft.DBforPostgreSQL/servers/providers/Microsoft.Insights/diagnosticSettings/read"
                    },
                    {
                      "display": {
                        "description": "Creates or updates the diagnostic setting for the resource",
                        "operation": "Write diagnostic setting",
                        "provider": "Microsoft DB for PostgreSQL",
                        "resource": "Database Metric Definition"
                      },
                      "name": "Microsoft.DBforPostgreSQL/servers/providers/Microsoft.Insights/diagnosticSettings/write"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DBforPostgreSQL/checkNameAvailability": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NameAvailability"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "CheckNameAvailability"
        ],
        "description": "Check the availability of name for resource",
        "operationId": "CheckNameAvailability_Execute",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NameAvailabilityRequest"
              }
            }
          },
          "description": "The required parameters for checking if resource name is available.",
          "required": true
        },
        "x-ms-examples": {
          "NameAvailability": {
            "parameters": {
              "api-version": "2017-12-01-preview",
              "nameAvailabilityRequest": {
                "name": "name1",
                "type": "Microsoft.DBforPostgreSQL"
              },
              "subscriptionId": "ffffffff-ffff-ffff-ffff-ffffffffffff"
            },
            "responses": {
              "200": {
                "body": {
                  "message": "",
                  "nameAvailable": true,
                  "reason": ""
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DBforPostgreSQL/locations/{locationName}/performanceTiers": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/LocationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerformanceTierListResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "LocationBasedPerformanceTier"
        ],
        "description": "List all the performance tiers at specified location in a given subscription.",
        "operationId": "LocationBasedPerformanceTier_List",
        "x-ms-examples": {
          "PerformanceTiersList": {
            "parameters": {
              "api-version": "2017-12-01-preview",
              "locationName": "WestUS",
              "subscriptionId": "ffffffff-ffff-ffff-ffff-ffffffffffff"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "Basic",
                      "serviceLevelObjectives": [
                        {
                          "edition": "Basic",
                          "hardwareGeneration": "Gen4",
                          "id": "B_Gen4_1",
                          "maxBackupRetentionDays": 35,
                          "maxStorageMB": 1048576,
                          "minBackupRetentionDays": 7,
                          "minStorageMB": 5120,
                          "vCore": 1
                        },
                        {
                          "edition": "Basic",
                          "hardwareGeneration": "Gen4",
                          "id": "B_Gen4_2",
                          "maxBackupRetentionDays": 35,
                          "maxStorageMB": 1048576,
                          "minBackupRetentionDays": 7,
                          "minStorageMB": 5120,
                          "vCore": 2
                        }
                      ]
                    },
                    {
                      "id": "GeneralPurpose",
                      "serviceLevelObjectives": [
                        {
                          "edition": "GeneralPurpose",
                          "hardwareGeneration": "Gen4",
                          "id": "GP_Gen4_2",
                          "maxBackupRetentionDays": 35,
                          "maxStorageMB": 2097152,
                          "minBackupRetentionDays": 7,
                          "minStorageMB": 5120,
                          "vCore": 2
                        },
                        {
                          "edition": "GeneralPurpose",
                          "hardwareGeneration": "Gen4",
                          "id": "GP_Gen4_4",
                          "maxBackupRetentionDays": 35,
                          "maxStorageMB": 2097152,
                          "minBackupRetentionDays": 7,
                          "minStorageMB": 5120,
                          "vCore": 4
                        },
                        {
                          "edition": "GeneralPurpose",
                          "hardwareGeneration": "Gen4",
                          "id": "GP_Gen4_8",
                          "maxBackupRetentionDays": 35,
                          "maxStorageMB": 2097152,
                          "minBackupRetentionDays": 7,
                          "minStorageMB": 5120,
                          "vCore": 8
                        },
                        {
                          "edition": "GeneralPurpose",
                          "hardwareGeneration": "Gen4",
                          "id": "GP_Gen4_16",
                          "maxBackupRetentionDays": 35,
                          "maxStorageMB": 2097152,
                          "minBackupRetentionDays": 7,
                          "minStorageMB": 5120,
                          "vCore": 16
                        },
                        {
                          "edition": "GeneralPurpose",
                          "hardwareGeneration": "Gen4",
                          "id": "GP_Gen4_32",
                          "maxBackupRetentionDays": 35,
                          "maxStorageMB": 2097152,
                          "minBackupRetentionDays": 7,
                          "minStorageMB": 5120,
                          "vCore": 32
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DBforPostgreSQL/servers": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerListResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Servers"
        ],
        "description": "List all the servers in a given subscription.",
        "operationId": "Servers_List",
        "x-ms-examples": {
          "ServerList": {
            "parameters": {
              "api-version": "2017-12-01-preview",
              "subscriptionId": "ffffffff-ffff-ffff-ffff-ffffffffffff"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforPostgreSQL/servers/pgtestsvc1",
                      "location": "westus",
                      "name": "pgtestsvc1",
                      "properties": {
                        "administratorLogin": "testuser",
                        "earliestRestoreDate": "2018-03-04 21:01:55.149847+00:00",
                        "fullyQualifiedDomainName": "pgtestsvc1.postgres.database.azure.com",
                        "sslEnforcement": "Enabled",
                        "storageProfile": {
                          "backupRetentionDays": 10,
                          "geoRedundantBackup": "Disabled",
                          "storageMB": 5120
                        },
                        "userVisibleState": "Ready",
                        "version": "9.5"
                      },
                      "sku": {
                        "capacity": 1,
                        "family": "Gen4",
                        "name": "B_Gen4_1",
                        "tier": "Basic"
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforPostgreSQL/servers/pgtestsvc2",
                      "location": "westus",
                      "name": "pgtestsvc2",
                      "properties": {
                        "administratorLogin": "testuser",
                        "earliestRestoreDate": "2018-03-07 21:01:55.149847+00:00",
                        "fullyQualifiedDomainName": "pgtestsvc2.postgres.database.azure.com",
                        "sslEnforcement": "Enabled",
                        "storageProfile": {
                          "backupRetentionDays": 7,
                          "geoRedundantBackup": "Disabled",
                          "storageMB": 5120
                        },
                        "userVisibleState": "Ready",
                        "version": "9.6"
                      },
                      "sku": {
                        "capacity": 2,
                        "family": "Gen4",
                        "name": "GP_Gen4_2",
                        "tier": "GeneralPurpose"
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg1/providers/Microsoft.DBforPostgreSQL/servers/pgtestsvc3",
                      "location": "westus",
                      "name": "pgtestsvc3",
                      "properties": {
                        "administratorLogin": "testuser",
                        "earliestRestoreDate": "2018-03-01 00:11:08.550000+00:00",
                        "fullyQualifiedDomainName": "pgtestsvc3.postgres.database.azure.com",
                        "sslEnforcement": "Enabled",
                        "storageProfile": {
                          "backupRetentionDays": 35,
                          "geoRedundantBackup": "Enabled",
                          "storageMB": 204800
                        },
                        "userVisibleState": "Ready",
                        "version": "9.6"
                      },
                      "sku": {
                        "capacity": 4,
                        "family": "Gen4",
                        "name": "GP_Gen4_4",
                        "tier": "GeneralPurpose"
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers"
                    },
                    {
                      "tags": {
                        "ElasticServer": "1"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforPostgreSQL/servers/pgtestsvc4",
                      "location": "westus",
                      "name": "pgtestsvc4",
                      "properties": {
                        "administratorLogin": "cloudsa",
                        "earliestRestoreDate": "2018-03-14 21:08:24.637000+00:00",
                        "fullyQualifiedDomainName": "pgtestsvc4.postgres.database.azure.com",
                        "sslEnforcement": "Enabled",
                        "storageProfile": {
                          "backupRetentionDays": 7,
                          "geoRedundantBackup": "Disabled",
                          "storageMB": 128000
                        },
                        "userVisibleState": "Ready",
                        "version": "9.6"
                      },
                      "sku": {
                        "capacity": 2,
                        "family": "Gen4",
                        "name": "B_Gen4_2",
                        "tier": "Basic"
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/servers": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerListResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Servers"
        ],
        "description": "List all the servers in a given resource group.",
        "operationId": "Servers_ListByResourceGroup",
        "x-ms-examples": {
          "ServerListByResourceGroup": {
            "parameters": {
              "api-version": "2017-12-01-preview",
              "resourceGroupName": "TestGroup",
              "subscriptionId": "ffffffff-ffff-ffff-ffff-ffffffffffff"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforPostgreSQL/servers/pgtestsvc1",
                      "location": "westus",
                      "name": "pgtestsvc1",
                      "properties": {
                        "administratorLogin": "testuser",
                        "earliestRestoreDate": "2018-03-04 21:01:55.149847+00:00",
                        "fullyQualifiedDomainName": "pgtestsvc1.postgres.database.azure.com",
                        "sslEnforcement": "Enabled",
                        "storageProfile": {
                          "backupRetentionDays": 10,
                          "geoRedundantBackup": "Disabled",
                          "storageMB": 5120
                        },
                        "userVisibleState": "Ready",
                        "version": "9.5"
                      },
                      "sku": {
                        "capacity": 1,
                        "family": "Gen4",
                        "name": "B_Gen4_1",
                        "tier": "Basic"
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforPostgreSQL/servers/pgtestsvc2",
                      "location": "westus",
                      "name": "pgtestsvc2",
                      "properties": {
                        "administratorLogin": "testuser",
                        "earliestRestoreDate": "2018-03-07 21:01:55.149847+00:00",
                        "fullyQualifiedDomainName": "pgtestsvc2.postgres.database.azure.com",
                        "sslEnforcement": "Enabled",
                        "storageProfile": {
                          "backupRetentionDays": 7,
                          "geoRedundantBackup": "Disabled",
                          "storageMB": 5120
                        },
                        "userVisibleState": "Ready",
                        "version": "9.6"
                      },
                      "sku": {
                        "capacity": 2,
                        "family": "Gen4",
                        "name": "GP_Gen4_2",
                        "tier": "GeneralPurpose"
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers"
                    },
                    {
                      "tags": {
                        "ElasticServer": "1"
                      },
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforPostgreSQL/servers/pgtestsvc4",
                      "location": "westus",
                      "name": "pgtestsvc4",
                      "properties": {
                        "administratorLogin": "cloudsa",
                        "earliestRestoreDate": "2018-03-14 21:08:24.637000+00:00",
                        "fullyQualifiedDomainName": "pgtestsvc4.postgres.database.azure.com",
                        "sslEnforcement": "Enabled",
                        "storageProfile": {
                          "backupRetentionDays": 7,
                          "geoRedundantBackup": "Disabled",
                          "storageMB": 128000
                        },
                        "userVisibleState": "Ready",
                        "version": "9.6"
                      },
                      "sku": {
                        "capacity": 2,
                        "family": "Gen4",
                        "name": "B_Gen4_2",
                        "tier": "Basic"
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/servers/{serverName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          }
        },
        "tags": [
          "Servers"
        ],
        "description": "Deletes a server.",
        "operationId": "Servers_Delete",
        "x-ms-examples": {
          "ServerDelete": {
            "parameters": {
              "api-version": "2017-12-01-preview",
              "resourceGroupName": "TestGroup",
              "serverName": "testserver",
              "subscriptionId": "ffffffff-ffff-ffff-ffff-ffffffffffff"
            },
            "responses": {
              "200": {},
              "202": {},
              "204": {}
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Server"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Servers"
        ],
        "description": "Gets information about a server.",
        "operationId": "Servers_Get",
        "x-ms-examples": {
          "ServerGet": {
            "parameters": {
              "api-version": "2017-12-01-preview",
              "resourceGroupName": "testrg",
              "serverName": "pgtestsvc1",
              "subscriptionId": "ffffffff-ffff-ffff-ffff-ffffffffffff"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforPostgreSQL/servers/pgtestsvc1",
                  "location": "westus",
                  "name": "pgtestsvc1",
                  "properties": {
                    "administratorLogin": "testuser",
                    "earliestRestoreDate": "2018-03-04 21:00:58.924354+00:00",
                    "fullyQualifiedDomainName": "pgtestsvc1.postgres.database.azure.com",
                    "masterServerId": "",
                    "replicationRole": "",
                    "sslEnforcement": "Enabled",
                    "storageProfile": {
                      "backupRetentionDays": 10,
                      "geoRedundantBackup": "Disabled",
                      "storageMB": 5120
                    },
                    "userVisibleState": "Ready",
                    "version": "9.5"
                  },
                  "sku": {
                    "capacity": 1,
                    "family": "Gen4",
                    "name": "B_Gen4_1",
                    "tier": "Basic"
                  },
                  "type": "Microsoft.DBforPostgreSQL/servers"
                }
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Server"
                }
              }
            },
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          }
        },
        "tags": [
          "Servers"
        ],
        "description": "Updates an existing server. The request body can contain one to many of the properties present in the normal server definition.",
        "operationId": "Servers_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServerUpdateParameters"
              }
            }
          },
          "description": "The required parameters for updating a server.",
          "required": true
        },
        "x-ms-examples": {
          "ServerUpdate": {
            "parameters": {
              "parameters": {
                "properties": {
                  "administratorLoginPassword": "newpassword",
                  "sslEnforcement": "Disabled"
                }
              },
              "api-version": "2017-12-01-preview",
              "resourceGroupName": "testrg",
              "serverName": "pgtestsvc4",
              "subscriptionId": "ffffffff-ffff-ffff-ffff-ffffffffffff"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "ElasticServer": "1"
                  },
                  "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforPostgreSQL/servers/pgtestsvc4",
                  "location": "westus",
                  "name": "pgtestsvc4",
                  "properties": {
                    "administratorLogin": "cloudsa",
                    "earliestRestoreDate": "2018-03-14 21:08:24.637000+00:00",
                    "fullyQualifiedDomainName": "pgtestsvc4.postgres.database.azure.com",
                    "sslEnforcement": "Enabled",
                    "storageProfile": {
                      "backupRetentionDays": 7,
                      "geoRedundantBackup": "Disabled",
                      "storageMB": 128000
                    },
                    "userVisibleState": "Ready",
                    "version": "9.6"
                  },
                  "sku": {
                    "capacity": 2,
                    "family": "Gen4",
                    "name": "B_Gen4_2",
                    "tier": "Basic"
                  },
                  "type": "Microsoft.DBforPostgreSQL/servers"
                }
              },
              "202": {}
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Server"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Server"
                }
              }
            },
            "description": "Created"
          },
          "202": {
            "description": "Accepted"
          }
        },
        "tags": [
          "Servers"
        ],
        "description": "Creates a new server, or will overwrite an existing server.",
        "operationId": "Servers_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServerForCreate"
              }
            }
          },
          "description": "The required parameters for creating or updating a server.",
          "required": true
        },
        "x-ms-examples": {
          "Create a database as a point in time restore": {
            "parameters": {
              "parameters": {
                "tags": {
                  "ElasticServer": "1"
                },
                "location": "brazilsouth",
                "properties": {
                  "createMode": "PointInTimeRestore",
                  "restorePointInTime": "2017-12-14 00:00:37.467000+00:00",
                  "sourceServerId": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/SourceResourceGroup/providers/Microsoft.DBforPostgreSQL/servers/sourceserver"
                },
                "sku": {
                  "capacity": 2,
                  "family": "Gen4",
                  "name": "B_Gen4_2",
                  "tier": "Basic"
                }
              },
              "api-version": "2017-12-01-preview",
              "resourceGroupName": "TargetResourceGroup",
              "serverName": "targetserver",
              "subscriptionId": "ffffffff-ffff-ffff-ffff-ffffffffffff"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "ElasticServer": "1"
                  },
                  "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforPostgreSQL/servers/targetserver",
                  "location": "brazilsouth",
                  "name": "targetserver",
                  "properties": {
                    "administratorLogin": "cloudsa",
                    "earliestRestoreDate": "2017-12-14 21:08:24.637000+00:00",
                    "fullyQualifiedDomainName": "targetserver.postgres.database.azure.com",
                    "sslEnforcement": "Enabled",
                    "storageProfile": {
                      "backupRetentionDays": 7,
                      "geoRedundantBackup": "Disabled",
                      "storageMB": 128000
                    },
                    "userVisibleState": "Ready",
                    "version": "9.6"
                  },
                  "sku": {
                    "capacity": 2,
                    "family": "Gen4",
                    "name": "B_Gen4_2",
                    "tier": "Basic"
                  },
                  "type": "Microsoft.DBforPostgreSQL/servers"
                }
              },
              "201": {
                "body": {
                  "tags": {
                    "ElasticServer": "1"
                  },
                  "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforPostgreSQL/servers/targetserver",
                  "location": "brazilsouth",
                  "name": "targetserver",
                  "properties": {
                    "administratorLogin": "cloudsa",
                    "earliestRestoreDate": "2017-12-14 21:08:24.637000+00:00",
                    "fullyQualifiedDomainName": "targetserver.postgres.database.azure.com",
                    "sslEnforcement": "Enabled",
                    "storageProfile": {
                      "backupRetentionDays": 7,
                      "geoRedundantBackup": "Disabled",
                      "storageMB": 128000
                    },
                    "userVisibleState": "Ready",
                    "version": "9.6"
                  },
                  "sku": {
                    "capacity": 2,
                    "family": "Gen4",
                    "name": "B_Gen4_2",
                    "tier": "Basic"
                  },
                  "type": "Microsoft.DBforPostgreSQL/servers"
                }
              },
              "202": {}
            }
          },
          "Create a new server": {
            "parameters": {
              "parameters": {
                "tags": {
                  "ElasticServer": "1"
                },
                "location": "westus",
                "properties": {
                  "administratorLogin": "cloudsa",
                  "administratorLoginPassword": "password",
                  "createMode": "Default",
                  "sslEnforcement": "Enabled",
                  "storageProfile": {
                    "backupRetentionDays": 7,
                    "geoRedundantBackup": "Enabled",
                    "storageMB": 128000
                  }
                },
                "sku": {
                  "capacity": 2,
                  "family": "Gen5",
                  "name": "B_Gen5_2",
                  "tier": "Basic"
                }
              },
              "api-version": "2017-12-01-preview",
              "resourceGroupName": "TestGroup",
              "serverName": "pgtestsvc4",
              "subscriptionId": "ffffffff-ffff-ffff-ffff-ffffffffffff"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "ElasticServer": "1"
                  },
                  "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforPostgreSQL/servers/pgtestsvc4",
                  "location": "westus",
                  "name": "pgtestsvc4",
                  "properties": {
                    "administratorLogin": "cloudsa",
                    "earliestRestoreDate": "2018-03-14 21:08:24.637000+00:00",
                    "fullyQualifiedDomainName": "pgtestsvc4.postgres.database.azure.com",
                    "sslEnforcement": "Enabled",
                    "storageProfile": {
                      "backupRetentionDays": 7,
                      "geoRedundantBackup": "Enabled",
                      "storageMB": 128000
                    },
                    "userVisibleState": "Ready",
                    "version": "9.6"
                  },
                  "sku": {
                    "capacity": 2,
                    "family": "Gen5",
                    "name": "B_Gen5_2",
                    "tier": "Basic"
                  },
                  "type": "Microsoft.DBforPostgreSQL/servers"
                }
              },
              "201": {
                "body": {
                  "tags": {
                    "ElasticServer": "1"
                  },
                  "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforPostgreSQL/servers/pgtestsvc4",
                  "location": "westus",
                  "name": "pgtestsvc4",
                  "properties": {
                    "administratorLogin": "cloudsa",
                    "earliestRestoreDate": "2018-03-14 21:08:24.637000+00:00",
                    "fullyQualifiedDomainName": "pgtestsvc4.postgres.database.azure.com",
                    "sslEnforcement": "Enabled",
                    "storageProfile": {
                      "backupRetentionDays": 7,
                      "geoRedundantBackup": "Enabled",
                      "storageMB": 128000
                    },
                    "userVisibleState": "Ready",
                    "version": "9.6"
                  },
                  "sku": {
                    "capacity": 2,
                    "family": "Gen5",
                    "name": "B_Gen5_2",
                    "tier": "Basic"
                  },
                  "type": "Microsoft.DBforPostgreSQL/servers"
                }
              },
              "202": {}
            }
          },
          "Create a replica server": {
            "parameters": {
              "parameters": {
                "location": "westcentralus",
                "properties": {
                  "createMode": "Replica",
                  "sourceServerId": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup_WestCentralUS/providers/Microsoft.DBforPostgreSQL/servers/testserver-master"
                },
                "sku": {
                  "capacity": 2,
                  "family": "Gen5",
                  "name": "GP_Gen5_2",
                  "tier": "GeneralPurpose"
                }
              },
              "api-version": "2017-12-01-preview",
              "resourceGroupName": "TestGroup_WestCentralUS",
              "serverName": "testserver-replica1",
              "subscriptionId": "ffffffff-ffff-ffff-ffff-ffffffffffff"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup_WestCentralUS/providers/Microsoft.DBforPostgreSQL/servers/testserver-replica1",
                  "location": "westcentralus",
                  "name": "testserver-replica1",
                  "properties": {
                    "administratorLogin": "postgres",
                    "earliestRestoreDate": "2018-06-20 00:17:56.677000+00:00",
                    "fullyQualifiedDomainName": "testserver-replica1.postgres.database.azure.com",
                    "masterServerId": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup_WestCentralUS/providers/Microsoft.DBforPostgreSQL/servers/testserver-master",
                    "replicaCapacity": 0,
                    "replicationRole": "Replica",
                    "sslEnforcement": "Disabled",
                    "storageProfile": {
                      "backupRetentionDays": 7,
                      "geoRedundantBackup": "Disabled",
                      "storageMB": 2048000
                    },
                    "userVisibleState": "Ready",
                    "version": "9.6"
                  },
                  "sku": {
                    "capacity": 2,
                    "family": "Gen4",
                    "name": "GP_Gen5_2",
                    "tier": "GeneralPurpose"
                  },
                  "type": "Microsoft.DBforPostgreSQL/servers"
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup_WestCentralUS/providers/Microsoft.DBforPostgreSQL/servers/testserver-replica1",
                  "location": "westcentralus",
                  "name": "testserver-replica1",
                  "properties": {
                    "administratorLogin": "postgres",
                    "earliestRestoreDate": "2018-06-20 00:17:56.677000+00:00",
                    "fullyQualifiedDomainName": "testserver-replica1.postgres.database.azure.com",
                    "masterServerId": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup_WestCentralUS/providers/Microsoft.DBforPostgreSQL/servers/testserver-master",
                    "replicaCapacity": 0,
                    "replicationRole": "Replica",
                    "sslEnforcement": "Disabled",
                    "storageProfile": {
                      "backupRetentionDays": 7,
                      "geoRedundantBackup": "Disabled",
                      "storageMB": 2048000
                    },
                    "userVisibleState": "Ready",
                    "version": "9.6"
                  },
                  "sku": {
                    "capacity": 2,
                    "family": "Gen5",
                    "name": "GP_Gen5_2",
                    "tier": "GeneralPurpose"
                  },
                  "type": "Microsoft.DBforPostgreSQL/servers"
                }
              },
              "202": {}
            }
          },
          "Create a server as a geo restore ": {
            "parameters": {
              "parameters": {
                "tags": {
                  "ElasticServer": "1"
                },
                "location": "Japan West",
                "properties": {
                  "createMode": "GeoRestore",
                  "sourceServerId": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/SourceResourceGroup/providers/Microsoft.DBforPostgreSQL/servers/sourceserver"
                },
                "sku": {
                  "capacity": 2,
                  "family": "Gen4",
                  "name": "GP_Gen4_2",
                  "tier": "GeneralPurpose"
                }
              },
              "api-version": "2017-12-01",
              "resourceGroupName": "TargetResourceGroup",
              "serverName": "targetserver",
              "subscriptionId": "ffffffff-ffff-ffff-ffff-ffffffffffff"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "ElasticServer": "1"
                  },
                  "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforPostgreSQL/servers/targetserver",
                  "location": "westus",
                  "name": "targetserver",
                  "properties": {
                    "administratorLogin": "cloudsa",
                    "earliestRestoreDate": "2018-03-14 21:08:24.637000+00:00",
                    "fullyQualifiedDomainName": "targetserver.postgres.database.azure.com",
                    "sslEnforcement": "Enabled",
                    "storageProfile": {
                      "backupRetentionDays": 7,
                      "geoRedundantBackup": "Disabled",
                      "storageMB": 128000
                    },
                    "userVisibleState": "Ready",
                    "version": "9.6"
                  },
                  "sku": {
                    "capacity": 2,
                    "family": "Gen4",
                    "name": "GP_Gen4_2",
                    "tier": "GeneralPurpose"
                  },
                  "type": "Microsoft.DBforPostgreSQL/servers"
                }
              },
              "201": {
                "body": {
                  "tags": {
                    "ElasticServer": "1"
                  },
                  "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforPostgreSQL/servers/targetserver",
                  "location": "westus",
                  "name": "targetserver",
                  "properties": {
                    "administratorLogin": "cloudsa",
                    "earliestRestoreDate": "2018-03-14 21:08:24.637000+00:00",
                    "fullyQualifiedDomainName": "targetserver.postgres.database.azure.com",
                    "sslEnforcement": "Enabled",
                    "storageProfile": {
                      "backupRetentionDays": 7,
                      "geoRedundantBackup": "Disabled",
                      "storageMB": 128000
                    },
                    "userVisibleState": "Ready",
                    "version": "9.6"
                  },
                  "sku": {
                    "capacity": 2,
                    "family": "Gen4",
                    "name": "GP_Gen4_2",
                    "tier": "GeneralPurpose"
                  },
                  "type": "Microsoft.DBforPostgreSQL/servers"
                }
              },
              "202": {}
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/servers/{serverName}/Administrators/activeDirectory": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerAdministratorResource"
                }
              }
            },
            "description": "OK"
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerAdministratorResource"
                }
              }
            },
            "description": "Accepted"
          },
          "204": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerAdministratorResource"
                }
              }
            },
            "description": "NoContent"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ServerAdministrators"
        ],
        "description": "Deletes AAD Administrator.",
        "operationId": "ServerAdministrators_Delete",
        "x-ms-examples": {
          "ServerAdministratorsDelete": {
            "parameters": {
              "administratorName": "activeDirectory",
              "api-version": "2017-12-01-preview",
              "resourceGroupName": "testrg",
              "serverName": "pgtestsvc4",
              "subscriptionId": "ffffffff-ffff-ffff-ffff-ffffffffffff"
            },
            "responses": {
              "200": {
                "body": "OK"
              },
              "202": {
                "body": "Accepted"
              },
              "204": {
                "body": "No Content"
              }
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerAdministratorResource"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ServerAdministrators"
        ],
        "description": "Gets information about a AAD server administrator.",
        "operationId": "ServerAdministrators_Get",
        "x-ms-examples": {
          "ServerAdministratorGet": {
            "parameters": {
              "administratorName": "activeDirectory",
              "api-version": "2017-12-01-preview",
              "resourceGroupName": "testrg",
              "serverName": "pgtestsvc4",
              "subscriptionId": "ffffffff-ffff-ffff-ffff-ffffffffffff"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforPostgreSQL/servers/pgtestsvc4/administrators/activeDirectory",
                  "name": "activeDirectory",
                  "properties": {
                    "administratorType": "ActiveDirectory",
                    "login": "bob@contoso.com",
                    "sid": "c6b82b90-a647-49cb-8a62-0d2d3cb7ac7c",
                    "tenantId": "c6b82b90-a647-49cb-8a62-0d2d3cb7ac7c"
                  },
                  "type": "Microsoft.DBforPostgreSQL/servers/administrators"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerAdministratorResource"
                }
              }
            },
            "description": "OK"
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerAdministratorResource"
                }
              }
            },
            "description": "Accepted"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ServerAdministrators"
        ],
        "description": "Creates or update active directory administrator on an existing server. The update action will overwrite the existing administrator.",
        "operationId": "ServerAdministrators_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServerAdministratorResource"
              }
            }
          },
          "description": "The required parameters for creating or updating an AAD server administrator.",
          "required": true
        },
        "x-ms-examples": {
          "ServerAdministratorCreate": {
            "parameters": {
              "administratorName": "activeDirectory",
              "api-version": "2017-12-01-preview",
              "properties": {
                "properties": {
                  "administratorType": "ActiveDirectory",
                  "login": "bob@contoso.com",
                  "sid": "c6b82b90-a647-49cb-8a62-0d2d3cb7ac7c",
                  "tenantId": "c6b82b90-a647-49cb-8a62-0d2d3cb7ac7c"
                }
              },
              "resourceGroupName": "testrg",
              "serverName": "pgtestsvc4",
              "subscriptionId": "ffffffff-ffff-ffff-ffff-ffffffffffff"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforPostgreSQL/servers/pgtestsvc4/administrators/activeDirectory",
                  "name": "activeDirectory",
                  "properties": {
                    "administratorType": "ActiveDirectory",
                    "login": "bob@contoso.com",
                    "sid": "c6b82b90-a647-49cb-8a62-0d2d3cb7ac7c",
                    "tenantId": "c6b82b90-a647-49cb-8a62-0d2d3cb7ac7c"
                  },
                  "type": "Microsoft.DBforPostgreSQL/servers/administrators"
                }
              },
              "202": {
                "body": "Accepted"
              }
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/servers/{serverName}/Replicas": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerListResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Replicas"
        ],
        "description": "List all the replicas for a given server.",
        "operationId": "Replicas_ListByServer",
        "x-ms-examples": {
          "ReplicasListByServer": {
            "parameters": {
              "api-version": "2017-12-01-preview",
              "resourceGroupName": "TestGroup_WestCentralUS",
              "serverName": "testserver-master",
              "subscriptionId": "ffffffff-ffff-ffff-ffff-ffffffffffff"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup_WestCentralUS/providers/Microsoft.DBforPostgreSQL/servers/testserver-replica1",
                      "location": "westcentralus",
                      "name": "testserver-replica1",
                      "properties": {
                        "administratorLogin": "postgres",
                        "earliestRestoreDate": "2018-06-12 00:05:03.269575+00:00",
                        "fullyQualifiedDomainName": "testserver-replica1.postgres.database.azure.com",
                        "masterServerId": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup_WestCentralUS/providers/Microsoft.DBforPostgreSQL/servers/testserver-master",
                        "replicaCapacity": 0,
                        "replicationRole": "Replica",
                        "sslEnforcement": "Disabled",
                        "storageProfile": {
                          "backupRetentionDays": 7,
                          "geoRedundantBackup": "Disabled",
                          "storageMB": 2048000
                        },
                        "userVisibleState": "Ready",
                        "version": "9.6"
                      },
                      "sku": {
                        "capacity": 16,
                        "family": "Gen4",
                        "name": "GP_Gen4_16",
                        "tier": "GeneralPurpose"
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup_WestCentralUS/providers/Microsoft.DBforPostgreSQL/servers/testserver-replica2",
                      "location": "westcentralus",
                      "name": "testserver-replica2",
                      "properties": {
                        "administratorLogin": "postgres",
                        "earliestRestoreDate": "2018-06-12 00:05:03.269575+00:00",
                        "fullyQualifiedDomainName": "testserver-replica2.postgres.database.azure.com",
                        "masterServerId": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup_WestCentralUS/providers/Microsoft.DBforPostgreSQL/servers/testserver-master",
                        "replicaCapacity": 0,
                        "replicationRole": "Replica",
                        "sslEnforcement": "Disabled",
                        "storageProfile": {
                          "backupRetentionDays": 7,
                          "geoRedundantBackup": "Disabled",
                          "storageMB": 2048000
                        },
                        "userVisibleState": "Ready",
                        "version": "9.6"
                      },
                      "sku": {
                        "capacity": 16,
                        "family": "Gen4",
                        "name": "GP_Gen4_16",
                        "tier": "GeneralPurpose"
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup_WestCentralUS/providers/Microsoft.DBforPostgreSQL/servers/testserver-replica3",
                      "location": "westcentralus",
                      "name": "testserver-replica3",
                      "properties": {
                        "administratorLogin": "postgres",
                        "earliestRestoreDate": "2018-06-12 00:05:03.269575+00:00",
                        "fullyQualifiedDomainName": "testserver-replica3.postgres.database.azure.com",
                        "masterServerId": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup_WestCentralUS/providers/Microsoft.DBforPostgreSQL/servers/testserver-master",
                        "replicaCapacity": 0,
                        "replicationRole": "Replica",
                        "sslEnforcement": "Disabled",
                        "storageProfile": {
                          "backupRetentionDays": 7,
                          "geoRedundantBackup": "Disabled",
                          "storageMB": 2048000
                        },
                        "userVisibleState": "Ready",
                        "version": "9.6"
                      },
                      "sku": {
                        "capacity": 16,
                        "family": "Gen4",
                        "name": "GP_Gen4_16",
                        "tier": "GeneralPurpose"
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup_WestCentralUS/providers/Microsoft.DBforPostgreSQL/servers/testserver-replica4",
                      "location": "westcentralus",
                      "name": "testserver-replica4",
                      "properties": {
                        "administratorLogin": "postgres",
                        "earliestRestoreDate": "2018-06-12 00:05:03.269575+00:00",
                        "fullyQualifiedDomainName": "testserver-replica4.postgres.database.azure.com",
                        "masterServerId": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup_WestCentralUS/providers/Microsoft.DBforPostgreSQL/servers/testserver-master",
                        "replicaCapacity": 0,
                        "replicationRole": "Replica",
                        "sslEnforcement": "Disabled",
                        "storageProfile": {
                          "backupRetentionDays": 7,
                          "geoRedundantBackup": "Disabled",
                          "storageMB": 2048000
                        },
                        "userVisibleState": "Ready",
                        "version": "9.6"
                      },
                      "sku": {
                        "capacity": 16,
                        "family": "Gen4",
                        "name": "GP_Gen4_16",
                        "tier": "GeneralPurpose"
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup_WestCentralUS/providers/Microsoft.DBforPostgreSQL/servers/testserver-replica5",
                      "location": "westcentralus",
                      "name": "testserver-replica5",
                      "properties": {
                        "administratorLogin": "postgres",
                        "earliestRestoreDate": "2018-06-12 00:05:03.269575+00:00",
                        "fullyQualifiedDomainName": "testserver-replica5.postgres.database.azure.com",
                        "masterServerId": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup_WestCentralUS/providers/Microsoft.DBforPostgreSQL/servers/testserver-master",
                        "replicaCapacity": 0,
                        "replicationRole": "Replica",
                        "sslEnforcement": "Disabled",
                        "storageProfile": {
                          "backupRetentionDays": 7,
                          "geoRedundantBackup": "Disabled",
                          "storageMB": 2048000
                        },
                        "userVisibleState": "Ready",
                        "version": "9.6"
                      },
                      "sku": {
                        "capacity": 16,
                        "family": "Gen4",
                        "name": "GP_Gen4_16",
                        "tier": "GeneralPurpose"
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/servers/{serverName}/administrators": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerAdministratorResourceListResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ServerAdministrators"
        ],
        "description": "Returns a list of server Administrators.",
        "operationId": "ServerAdministrators_ListByServer",
        "x-ms-examples": {
          "get a list of server administrators": {
            "parameters": {
              "api-version": "2017-12-01-preview",
              "resourceGroupName": "testrg",
              "serverName": "pgtestsvc4",
              "subscriptionId": "ffffffff-ffff-ffff-ffff-ffffffffffff"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforPostgreSQL/servers/pgtestsvc4/administrators/activeDirectory",
                      "name": "ActiveDirectory",
                      "properties": {
                        "administratorType": "ActiveDirectory",
                        "login": "bob@contoso.com",
                        "sid": "c6b82b90-a647-49cb-8a62-0d2d3cb7ac7c",
                        "tenantId": "c6b82b90-a647-49cb-8a62-0d2d3cb7ac7c"
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers/administrators"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/servers/{serverName}/configurations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationListResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Configurations"
        ],
        "description": "List all the configurations in a given server.",
        "operationId": "Configurations_ListByServer",
        "x-ms-examples": {
          "ConfigurationList": {
            "parameters": {
              "api-version": "2017-12-01-preview",
              "resourceGroupName": "TestGroup",
              "serverName": "testserver",
              "subscriptionId": "ffffffff-ffff-ffff-ffff-ffffffffffff"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/array_nulls",
                      "name": "array_nulls",
                      "properties": {
                        "allowedValues": "on,off",
                        "dataType": "Boolean",
                        "defaultValue": true,
                        "description": "Enable input of NULL elements in arrays.",
                        "source": "system-default",
                        "value": true
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/backslash_quote",
                      "name": "backslash_quote",
                      "properties": {
                        "allowedValues": "safe_encoding,on,off",
                        "dataType": "Enumeration",
                        "defaultValue": "safe_encoding",
                        "description": "Sets whether \"\\'\" is allowed in string literals.",
                        "source": "system-default",
                        "value": "safe_encoding"
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/bytea_output",
                      "name": "bytea_output",
                      "properties": {
                        "allowedValues": "escape,hex",
                        "dataType": "Enumeration",
                        "defaultValue": "hex",
                        "description": "Sets the output format for bytea.",
                        "source": "system-default",
                        "value": "hex"
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/check_function_bodies",
                      "name": "check_function_bodies",
                      "properties": {
                        "allowedValues": "on,off",
                        "dataType": "Boolean",
                        "defaultValue": true,
                        "description": "Check function bodies during CREATE FUNCTION.",
                        "source": "system-default",
                        "value": true
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/client_encoding",
                      "name": "client_encoding",
                      "properties": {
                        "allowedValues": "BIG5,EUC_CN,EUC_JP,EUC_JIS_2004,EUC_KR,EUC_TW,GB18030,GBK,ISO_8859_5,ISO_8859_6,ISO_8859_7,ISO_8859_8,JOHAB,KOI8R,KOI8U,LATIN1,LATIN2,LATIN3,LATIN4,LATIN5,LATIN6,LATIN7,LATIN8,LATIN9,LATIN10,MULE_INTERNAL,SJIS,SHIFT_JIS_2004,SQL_ASCII,UHC,UTF8,WIN866,WIN874,WIN1250,WIN1251,WIN1252,WIN1253,WIN1254,WIN1255,WIN1256,WIN1257,WIN1258",
                        "dataType": "Enumeration",
                        "defaultValue": "sql_ascii",
                        "description": "Sets the client's character set encoding.",
                        "source": "system-default",
                        "value": "sql_ascii"
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/client_min_messages",
                      "name": "client_min_messages",
                      "properties": {
                        "allowedValues": "debug5,debug4,debug3,debug2,debug1,log,notice,warning,error",
                        "dataType": "Enumeration",
                        "defaultValue": "notice",
                        "description": "Sets the message levels that are sent to the client.",
                        "source": "system-default",
                        "value": "notice"
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/constraint_exclusion",
                      "name": "constraint_exclusion",
                      "properties": {
                        "allowedValues": "partition,on,off",
                        "dataType": "Enumeration",
                        "defaultValue": "partition",
                        "description": "Enables the planner to use constraints to optimize queries.",
                        "source": "system-default",
                        "value": "partition"
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/cpu_index_tuple_cost",
                      "name": "cpu_index_tuple_cost",
                      "properties": {
                        "allowedValues": "0-1.79769e+308",
                        "dataType": "Numeric",
                        "defaultValue": "0.005",
                        "description": "Sets the planner's estimate of the cost of processing each index entry during an index scan.",
                        "source": "system-default",
                        "value": "0.005"
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/cpu_operator_cost",
                      "name": "cpu_operator_cost",
                      "properties": {
                        "allowedValues": "0-1.79769e+308",
                        "dataType": "Numeric",
                        "defaultValue": "0.0025",
                        "description": "Sets the planner's estimate of the cost of processing each operator or function call.",
                        "source": "system-default",
                        "value": "0.0025"
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/cpu_tuple_cost",
                      "name": "cpu_tuple_cost",
                      "properties": {
                        "allowedValues": "0-1.79769e+308",
                        "dataType": "Numeric",
                        "defaultValue": "0.01",
                        "description": "Sets the planner's estimate of the cost of processing each tuple (row).",
                        "source": "system-default",
                        "value": "0.01"
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/cursor_tuple_fraction",
                      "name": "cursor_tuple_fraction",
                      "properties": {
                        "allowedValues": "0-1",
                        "dataType": "Numeric",
                        "defaultValue": "0.1",
                        "description": "Sets the planner's estimate of the fraction of a cursor's rows that will be retrieved.",
                        "source": "system-default",
                        "value": "0.1"
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/datestyle",
                      "name": "datestyle",
                      "properties": {
                        "allowedValues": "(iso|postgres|sql|german)\\,\\s(dmy|mdy|ymd)",
                        "dataType": "String",
                        "defaultValue": "iso, mdy",
                        "description": "Sets the display format for date and time values.",
                        "source": "system-default",
                        "value": "iso, mdy"
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/deadlock_timeout",
                      "name": "deadlock_timeout",
                      "properties": {
                        "allowedValues": "1-2147483647",
                        "dataType": "Integer",
                        "defaultValue": "1000",
                        "description": "Sets the amount of time, in milliseconds, to wait on a lock before checking for deadlock.",
                        "source": "system-default",
                        "value": "1000"
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/debug_print_parse",
                      "name": "debug_print_parse",
                      "properties": {
                        "allowedValues": "on,off",
                        "dataType": "Boolean",
                        "defaultValue": false,
                        "description": "Logs each query's parse tree.",
                        "source": "system-default",
                        "value": false
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/debug_print_plan",
                      "name": "debug_print_plan",
                      "properties": {
                        "allowedValues": "on,off",
                        "dataType": "Boolean",
                        "defaultValue": false,
                        "description": "Logs each query's execution plan.",
                        "source": "system-default",
                        "value": false
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/debug_print_rewritten",
                      "name": "debug_print_rewritten",
                      "properties": {
                        "allowedValues": "on,off",
                        "dataType": "Boolean",
                        "defaultValue": false,
                        "description": "Logs each query's rewritten parse tree.",
                        "source": "system-default",
                        "value": false
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/default_statistics_target",
                      "name": "default_statistics_target",
                      "properties": {
                        "allowedValues": "1-10000",
                        "dataType": "Integer",
                        "defaultValue": "100",
                        "description": "Sets the default statistics target.",
                        "source": "system-default",
                        "value": "100"
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/default_text_search_config",
                      "name": "default_text_search_config",
                      "properties": {
                        "allowedValues": "[A-Za-z\\._]+",
                        "dataType": "String",
                        "defaultValue": "pg_catalog.english",
                        "description": "Sets default text search configuration.",
                        "source": "system-default",
                        "value": "pg_catalog.english"
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/default_transaction_deferrable",
                      "name": "default_transaction_deferrable",
                      "properties": {
                        "allowedValues": "on,off",
                        "dataType": "Boolean",
                        "defaultValue": false,
                        "description": "Sets the default deferrable status of new transactions.",
                        "source": "system-default",
                        "value": false
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/default_transaction_isolation",
                      "name": "default_transaction_isolation",
                      "properties": {
                        "allowedValues": "serializable,repeatable read,read committed,read uncommitted",
                        "dataType": "Enumeration",
                        "defaultValue": "read committed",
                        "description": "Sets the transaction isolation level of each new transaction.",
                        "source": "system-default",
                        "value": "read committed"
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/default_transaction_read_only",
                      "name": "default_transaction_read_only",
                      "properties": {
                        "allowedValues": "on,off",
                        "dataType": "Boolean",
                        "defaultValue": false,
                        "description": "Sets the default read-only status of new transactions.",
                        "source": "system-default",
                        "value": false
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/default_with_oids",
                      "name": "default_with_oids",
                      "properties": {
                        "allowedValues": "on,off",
                        "dataType": "Boolean",
                        "defaultValue": false,
                        "description": "Create new tables with OIDs by default.",
                        "source": "system-default",
                        "value": false
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/enable_bitmapscan",
                      "name": "enable_bitmapscan",
                      "properties": {
                        "allowedValues": "on,off",
                        "dataType": "Boolean",
                        "defaultValue": true,
                        "description": "Enables the planner's use of bitmap-scan plans.",
                        "source": "system-default",
                        "value": true
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/enable_hashagg",
                      "name": "enable_hashagg",
                      "properties": {
                        "allowedValues": "on,off",
                        "dataType": "Boolean",
                        "defaultValue": true,
                        "description": "Enables the planner's use of hashed aggregation plans.",
                        "source": "system-default",
                        "value": true
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/enable_hashjoin",
                      "name": "enable_hashjoin",
                      "properties": {
                        "allowedValues": "on,off",
                        "dataType": "Boolean",
                        "defaultValue": true,
                        "description": "Enables the planner's use of hash join plans.",
                        "source": "system-default",
                        "value": true
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/enable_indexonlyscan",
                      "name": "enable_indexonlyscan",
                      "properties": {
                        "allowedValues": "on,off",
                        "dataType": "Boolean",
                        "defaultValue": true,
                        "description": "Enables the planner's use of index-only-scan plans.",
                        "source": "system-default",
                        "value": true
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/enable_indexscan",
                      "name": "enable_indexscan",
                      "properties": {
                        "allowedValues": "on,off",
                        "dataType": "Boolean",
                        "defaultValue": true,
                        "description": "Enables the planner's use of index-scan plans.",
                        "source": "system-default",
                        "value": true
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/enable_material",
                      "name": "enable_material",
                      "properties": {
                        "allowedValues": "on,off",
                        "dataType": "Boolean",
                        "defaultValue": true,
                        "description": "Enables the planner's use of materialization.",
                        "source": "system-default",
                        "value": true
                      },
                      "type": "Microsoft.DBforPostgreSQL/servers/configurations"
                    },
                    {
                      "id": "/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforPostgreSQL/servers/testserver/configurations/enable_mergejoin",
                      "name": "enable_mergejoin",
                      "properties": {
                        "allowedValues": "on,off",
                        "dataType": "Boolean",
                        "defaultValue": true,
                        "description": "Enables the planner's use of merge join plans.",
                        "source": "system-default",
                        "value": true
[...]
