{
  "openapi": "3.0.3",
  "info": {
    "title": "MaxMind GeoIP Web Services API",
    "version": "2.1",
    "description": "MaxMind GeoIP and GeoLite web services provide IP geolocation data including country, city, and insights lookups. Supports querying specific IP addresses or the requesting client IP.",
    "x-jentic-source-url": "https://dev.maxmind.com/geoip/docs/web-services"
  },
  "servers": [
    {
      "url": "https://geoip.maxmind.com/geoip/v2.1",
      "description": "GeoIP production server"
    },
    {
      "url": "https://geolite.info/geoip/v2.1",
      "description": "GeoLite free tier server"
    }
  ],
  "paths": {
    "/country/{ipAddress}": {
      "get": {
        "operationId": "getCountryByIp",
        "summary": "GeoIP Country lookup",
        "description": "Returns country-level geolocation data for the specified IP address.",
        "tags": [
          "GeoIP"
        ],
        "parameters": [
          {
            "name": "ipAddress",
            "in": "path",
            "required": true,
            "description": "IPv4 or IPv6 address to look up, or 'me' for the requesting IP.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pretty",
            "in": "query",
            "required": false,
            "description": "If present, returns formatted JSON output.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Country geolocation data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid IP address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/city/{ipAddress}": {
      "get": {
        "operationId": "getCityByIp",
        "summary": "GeoIP City Plus lookup",
        "description": "Returns city-level geolocation data for the specified IP address, including postal code, coordinates, and accuracy radius.",
        "tags": [
          "GeoIP"
        ],
        "parameters": [
          {
            "name": "ipAddress",
            "in": "path",
            "required": true,
            "description": "IPv4 or IPv6 address to look up, or 'me' for the requesting IP.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pretty",
            "in": "query",
            "required": false,
            "description": "If present, returns formatted JSON output.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "City geolocation data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid IP address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/insights/{ipAddress}": {
      "get": {
        "operationId": "getInsightsByIp",
        "summary": "GeoIP Insights lookup",
        "description": "Returns the most detailed geolocation data available, including ISP, organization, domain, and risk scoring for the specified IP address.",
        "tags": [
          "GeoIP"
        ],
        "parameters": [
          {
            "name": "ipAddress",
            "in": "path",
            "required": true,
            "description": "IPv4 or IPv6 address to look up, or 'me' for the requesting IP.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pretty",
            "in": "query",
            "required": false,
            "description": "If present, returns formatted JSON output.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Insights geolocation data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsightsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid IP address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CountryResponse": {
        "type": "object",
        "properties": {
          "continent": {
            "$ref": "#/components/schemas/Continent"
          },
          "country": {
            "$ref": "#/components/schemas/Country"
          },
          "registered_country": {
            "$ref": "#/components/schemas/Country"
          },
          "represented_country": {
            "$ref": "#/components/schemas/Country"
          },
          "traits": {
            "$ref": "#/components/schemas/Traits"
          }
        }
      },
      "CityResponse": {
        "type": "object",
        "properties": {
          "city": {
            "$ref": "#/components/schemas/City"
          },
          "continent": {
            "$ref": "#/components/schemas/Continent"
          },
          "country": {
            "$ref": "#/components/schemas/Country"
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "postal": {
            "$ref": "#/components/schemas/Postal"
          },
          "registered_country": {
            "$ref": "#/components/schemas/Country"
          },
          "subdivisions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Subdivision"
            }
          },
          "traits": {
            "$ref": "#/components/schemas/Traits"
          }
        }
      },
      "InsightsResponse": {
        "type": "object",
        "properties": {
          "city": {
            "$ref": "#/components/schemas/City"
          },
          "continent": {
            "$ref": "#/components/schemas/Continent"
          },
          "country": {
            "$ref": "#/components/schemas/Country"
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "postal": {
            "$ref": "#/components/schemas/Postal"
          },
          "registered_country": {
            "$ref": "#/components/schemas/Country"
          },
          "subdivisions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Subdivision"
            }
          },
          "traits": {
            "$ref": "#/components/schemas/Traits"
          }
        }
      },
      "City": {
        "type": "object",
        "properties": {
          "confidence": {
            "type": "integer",
            "description": "Confidence that the city is correct (0-100)."
          },
          "geoname_id": {
            "type": "integer"
          },
          "names": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Map of locale codes to city names."
          }
        }
      },
      "Continent": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Two-letter continent code."
          },
          "geoname_id": {
            "type": "integer"
          },
          "names": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "Country": {
        "type": "object",
        "properties": {
          "confidence": {
            "type": "integer"
          },
          "geoname_id": {
            "type": "integer"
          },
          "iso_code": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code."
          },
          "names": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "accuracy_radius": {
            "type": "integer",
            "description": "Accuracy radius in kilometers."
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "time_zone": {
            "type": "string"
          }
        }
      },
      "Postal": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "confidence": {
            "type": "integer"
          }
        }
      },
      "Subdivision": {
        "type": "object",
        "properties": {
          "confidence": {
            "type": "integer"
          },
          "geoname_id": {
            "type": "integer"
          },
          "iso_code": {
            "type": "string"
          },
          "names": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "Traits": {
        "type": "object",
        "properties": {
          "autonomous_system_number": {
            "type": "integer"
          },
          "autonomous_system_organization": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "ip_address": {
            "type": "string"
          },
          "isp": {
            "type": "string"
          },
          "organization": {
            "type": "string"
          },
          "network": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Error code identifier."
          },
          "error": {
            "type": "string",
            "description": "Human-readable error message."
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Authentication using MaxMind account ID as username and license key as password."
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}