{
  "openapi": "3.0.3",
  "info": {
    "title": "ReachInbox API",
    "version": "1.0.0",
    "description": "ReachInbox API enables cold email campaign management, including campaigns, accounts, leads, analytics, and inbox placement testing.",
    "x-jentic-source-url": "https://docs.reachinbox.ai/"
  },
  "servers": [
    { "url": "https://api.reachinbox.ai" }
  ],
  "paths": {
    "/api/v1/campaigns/create": {
      "post": {
        "operationId": "createCampaign", "summary": "Create campaign", "tags": ["Campaigns"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CampaignCreate" } } } },
        "responses": {
          "200": { "description": "Campaign created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Campaign" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/v1/campaigns/add-sequence": {
      "post": {
        "operationId": "addSequence", "summary": "Add sequence to campaign", "tags": ["Campaigns"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "campaignId": { "type": "string" }, "sequence": { "type": "object" } } } } } },
        "responses": {
          "200": { "description": "Sequence added" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/v1/campaigns/set-schedule": {
      "put": {
        "operationId": "setSchedule", "summary": "Set campaign schedule", "tags": ["Campaigns"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "campaignId": { "type": "string" }, "schedule": { "type": "object" } } } } } },
        "responses": {
          "200": { "description": "Schedule set" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/v1/campaigns/start": {
      "post": {
        "operationId": "startCampaign", "summary": "Start campaign", "tags": ["Campaigns"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "campaignId": { "type": "string" } } } } } },
        "responses": {
          "200": { "description": "Campaign started" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/v1/campaigns/pause": {
      "post": {
        "operationId": "pauseCampaign", "summary": "Pause campaign", "tags": ["Campaigns"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "campaignId": { "type": "string" } } } } } },
        "responses": {
          "200": { "description": "Campaign paused" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/v1/campaigns/all": {
      "get": {
        "operationId": "listCampaigns", "summary": "List all campaigns", "tags": ["Campaigns"],
        "responses": {
          "200": { "description": "Campaign list", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Campaign" } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/v1/account/all": {
      "get": {
        "operationId": "listAccounts", "summary": "List all accounts", "tags": ["Accounts"],
        "responses": {
          "200": { "description": "Account list", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Account" } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/v1/account/create": {
      "post": {
        "operationId": "createAccount", "summary": "Connect IMAP account", "tags": ["Accounts"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AccountCreate" } } } },
        "responses": {
          "200": { "description": "Account connected", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Account" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/v1/account/warmup/enable": {
      "post": {
        "operationId": "enableWarmup", "summary": "Enable account warmup", "tags": ["Accounts"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "accountId": { "type": "string" } } } } } },
        "responses": {
          "200": { "description": "Warmup enabled" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/v1/account/{id}": {
      "delete": {
        "operationId": "deleteAccount", "summary": "Delete account", "tags": ["Accounts"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Account deleted" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/v1/leads": {
      "get": {
        "operationId": "listLeads", "summary": "List leads", "tags": ["Leads"],
        "responses": {
          "200": { "description": "Lead list", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Lead" } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/v1/leads/add": {
      "post": {
        "operationId": "addLeads", "summary": "Add leads", "tags": ["Leads"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LeadCreate" } } } },
        "responses": {
          "200": { "description": "Leads added" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/v1/leads/delete": {
      "post": {
        "operationId": "deleteLeads", "summary": "Delete leads", "tags": ["Leads"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "leadIds": { "type": "array", "items": { "type": "string" } } } } } } },
        "responses": {
          "200": { "description": "Leads deleted" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/v1/leads/change-state": {
      "post": {
        "operationId": "changeLeadState", "summary": "Pause or resume leads", "tags": ["Leads"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "leadIds": { "type": "array", "items": { "type": "string" } }, "state": { "type": "string" } } } } } },
        "responses": {
          "200": { "description": "Lead state changed" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/v1/analytics": {
      "post": {
        "operationId": "getCampaignAnalytics", "summary": "Get campaign analytics", "tags": ["Analytics"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "campaignId": { "type": "string" } } } } } },
        "responses": {
          "200": { "description": "Analytics data", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Analytics" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/v1/analytics/warmup-analytics": {
      "get": {
        "operationId": "getWarmupAnalytics", "summary": "Get warmup analytics", "tags": ["Analytics"],
        "responses": {
          "200": { "description": "Warmup analytics", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Analytics" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/v1/inbox-placement/create": {
      "post": {
        "operationId": "createInboxPlacementTest", "summary": "Create inbox placement test", "tags": ["Inbox Placement"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } },
        "responses": {
          "200": { "description": "Test created" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Campaign": { "type": "object", "properties": { "id": { "type": "string" }, "name": { "type": "string" }, "status": { "type": "string" }, "createdAt": { "type": "string", "format": "date-time" } } },
      "CampaignCreate": { "type": "object", "required": ["name"], "properties": { "name": { "type": "string" } } },
      "Account": { "type": "object", "properties": { "id": { "type": "string" }, "email": { "type": "string", "format": "email" }, "status": { "type": "string" } } },
      "AccountCreate": { "type": "object", "properties": { "email": { "type": "string", "format": "email" }, "imapHost": { "type": "string" }, "imapPort": { "type": "integer" }, "smtpHost": { "type": "string" }, "smtpPort": { "type": "integer" }, "password": { "type": "string" } } },
      "Lead": { "type": "object", "properties": { "id": { "type": "string" }, "email": { "type": "string", "format": "email" }, "firstName": { "type": "string" }, "lastName": { "type": "string" }, "company": { "type": "string" } } },
      "LeadCreate": { "type": "object", "properties": { "campaignId": { "type": "string" }, "leads": { "type": "array", "items": { "$ref": "#/components/schemas/Lead" } } } },
      "Analytics": { "type": "object", "properties": { "sent": { "type": "integer" }, "opened": { "type": "integer" }, "replied": { "type": "integer" }, "bounced": { "type": "integer" } } },
      "ErrorResponse": { "type": "object", "properties": { "status": { "type": "string", "enum": ["error"] }, "code": { "type": "string" }, "message": { "type": "string" } } }
    },
    "securitySchemes": {
      "apiKey": { "type": "apiKey", "in": "header", "name": "Authorization", "description": "API Key from Dashboard > Settings > Integrations > API" }
    }
  },
  "security": [{ "apiKey": [] }]
}