{
  "openapi": "3.0.3",
  "info": {
    "title": "Speechnotes Transcription API",
    "version": "1.0.0",
    "description": "Speechnotes provides automatic audio-to-text transcription using AI-powered speech recognition engines. Submit audio or video files via URL for transcription and receive results via webhook.",
    "x-jentic-source-url": "https://speechnotes.co/files/guides/api/"
  },
  "servers": [
    {
      "url": "https://speechlogger.com",
      "description": "Speechnotes API server"
    }
  ],
  "paths": {
    "/api/transcribe": {
      "post": {
        "operationId": "transcribeAudio",
        "summary": "Submit audio/video file for transcription",
        "description": "Submits an audio or video file for transcription with configurable parameters including language, speaker count, and optional time range selection. Results are delivered asynchronously via webhook.",
        "tags": [
          "Transcription"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TranscribeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transcription job submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscribeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid API key or secret"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TranscribeRequest": {
        "type": "object",
        "required": [
          "apiKey",
          "apiSecret",
          "type",
          "fileUrl",
          "fileName",
          "language",
          "numSpeakers"
        ],
        "properties": {
          "apiKey": {
            "type": "string",
            "description": "User's API key from the Speechnotes dashboard"
          },
          "apiSecret": {
            "type": "string",
            "description": "User's API secret from the Speechnotes dashboard"
          },
          "type": {
            "type": "string",
            "enum": [
              "upload"
            ],
            "description": "Must be 'upload'"
          },
          "fileUrl": {
            "type": "string",
            "format": "uri",
            "description": "Publicly accessible URL to the audio/video file"
          },
          "fileName": {
            "type": "string",
            "description": "Name for the file"
          },
          "language": {
            "type": "string",
            "description": "Language code in BCP-47 format (e.g., 'en-US')"
          },
          "numSpeakers": {
            "type": "string",
            "description": "Number of speakers as a string (e.g., '1', '2')"
          },
          "api_custom": {
            "type": "string",
            "description": "Custom metadata forwarded to webhook"
          },
          "fromSeconds": {
            "type": "string",
            "description": "Start time in seconds for partial transcription"
          },
          "toSeconds": {
            "type": "string",
            "description": "End time in seconds for partial transcription"
          }
        }
      },
      "TranscribeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the job was accepted"
          },
          "jobId": {
            "type": "string",
            "description": "Unique job identifier"
          }
        }
      },
      "WebhookPayload": {
        "type": "object",
        "description": "Payload sent to the user's configured webhook URL when transcription completes",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates job success or failure"
          },
          "fullText": {
            "type": "string",
            "description": "Complete transcript text (if successful)"
          },
          "errorCode": {
            "type": "string",
            "description": "Failure stage identifier (if unsuccessful)"
          },
          "errorMessage": {
            "type": "string",
            "description": "Human-readable error message (if unsuccessful)"
          },
          "fileUrl": {
            "type": "string",
            "description": "Original file URL or 'device_uploaded'"
          },
          "jobId": {
            "type": "string",
            "description": "Unique Speechnotes job identifier"
          },
          "fileName": {
            "type": "string",
            "description": "Submitted file name"
          },
          "apiKey": {
            "type": "string",
            "description": "User's API key"
          },
          "apiSignature": {
            "type": "string",
            "description": "Secret signature for verification"
          },
          "api_custom": {
            "type": "string",
            "description": "Custom data passed during upload"
          },
          "remainingDollarBalance": {
            "type": "string",
            "description": "Account balance after job completion"
          },
          "wordsCount": {
            "type": "string",
            "description": "Transcript word count"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyInBody": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API authentication is handled via apiKey and apiSecret fields in the request body. Obtain credentials from the Speechnotes dashboard at https://speechnotes.co/files/"
      }
    }
  },
  "security": []
}