{
  "openapi": "3.0.3",
  "info": {
    "title": "Zivvy Web Forms API",
    "version": "1.0.0",
    "description": "Zivvy (powered by AddMembers/RainMaker) provides APIs for adding web leads and retrieving age groups for martial arts schools.",
    "x-jentic-source-url": "https://intercom.help/zivvy/en/articles/355486-web-forms-api"
  },
  "servers": [
    {
      "url": "https://addmembers.com/RainMaker/api"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "addWebLead",
        "summary": "Add a web lead",
        "description": "Add a new web lead contact to the system via GET request.",
        "tags": [
          "Leads"
        ],
        "parameters": [
          {
            "name": "SID",
            "in": "query",
            "required": true,
            "description": "School ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "query",
            "required": true,
            "description": "Action to perform",
            "schema": {
              "type": "string",
              "enum": [
                "addWebLead"
              ]
            }
          },
          {
            "name": "FName",
            "in": "query",
            "required": true,
            "description": "First name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LName",
            "in": "query",
            "required": true,
            "description": "Last name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "description": "Email address",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "agegroup",
            "in": "query",
            "required": true,
            "description": "Age group category",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mobile",
            "in": "query",
            "required": true,
            "description": "Mobile phone number",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lead added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddLeadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addWebLeadPost",
        "summary": "Add a web lead (POST)",
        "description": "Add a new web lead contact to the system via POST request.",
        "tags": [
          "Leads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddLeadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddLeadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/?action=GetAgeGroups": {
      "get": {
        "operationId": "getAgeGroups",
        "summary": "Get age groups",
        "description": "Retrieve available age group categories.",
        "tags": [
          "Age Groups"
        ],
        "parameters": [
          {
            "name": "SID",
            "in": "query",
            "required": true,
            "description": "School ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "GetAgeGroups"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Age groups list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AddLeadRequest": {
        "type": "object",
        "required": [
          "SID",
          "apikey",
          "action",
          "FName",
          "LName",
          "email",
          "agegroup",
          "mobile"
        ],
        "properties": {
          "SID": {
            "type": "integer"
          },
          "apikey": {
            "type": "string"
          },
          "action": {
            "type": "string"
          },
          "FName": {
            "type": "string"
          },
          "LName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "agegroup": {
            "type": "string"
          },
          "mobile": {
            "type": "string"
          }
        }
      },
      "AddLeadResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "contactId": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "apikey",
        "in": "query"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}