{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "API para la validaci\u00f3n de una tarjeta",
    "description": "API que permite la validaci\u00f3n de una tarjeta",
    "termsOfService": "http://www.visanet.com.pe",
    "contact": {
      "name": "VisaNet",
      "url": "http://www.visanet.com.pe",
      "email": "integraciones.visanet@necomplus.com"
    },
    "x-logo": {
      "url": "http://www.ligaempresasperu.com/Images/Equipos/IMGEQU00000230.png",
      "altText": "Logo de VisaNet"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/VisaNetPeru/api.visanet.validate/1.0.0/swagger.json"
  },
  "externalDocs": {
    "description": "P\u00e1gina Web de VisaNet",
    "url": "http://www.visanet.com.pe"
  },
  "tags": [
    {
      "name": "Validaci\u00f3n",
      "description": "RESTful API Validaci\u00f3n"
    }
  ],
  "x-tagGroups": [
    {
      "name": "General",
      "tags": [
        "Validaci\u00f3n"
      ]
    }
  ],
  "servers": [
    {
      "url": "https://apitestenv.vnforapps.com/api.validate/v1",
      "description": "Url que corresponde al entorno de integraci\u00f3n"
    },
    {
      "url": "https://apiprod.vnforapps.com/api.validate/v1",
      "description": "Url que corresponde al entorno de producci\u00f3n"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/validate/{product}/{merchantId}": {
      "post": {
        "tags": [
          "Validaci\u00f3n"
        ],
        "summary": "RESTful API para la validaci\u00f3n de una tarjeta",
        "parameters": [
          {
            "in": "path",
            "name": "product",
            "schema": {
              "type": "string",
              "enum": [
                "ecommerce"
              ],
              "default": "ecommerce"
            },
            "required": true,
            "description": "Identificador del producto. Puede ser uno de los siguientes valores:\n- `ecommerce` Para el producto comercio electr\u00f3nico\n"
          },
          {
            "in": "path",
            "name": "merchantId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "C\u00f3digo de comercio VisaNet. Ejemplo `341198210`"
          }
        ],
        "requestBody": {
          "description": "Request a enviar para la validaci\u00f3n de una tarjeta",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BodyValidateRQ"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validaci\u00f3n de tarjeta realizada con \u00e9xito",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BodyValidateOKRS"
                }
              }
            }
          },
          "400": {
            "description": "Error en la validaci\u00f3n de una tarjeta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BodyValidateNARS"
                }
              }
            }
          },
          "401": {
            "description": "Error relacionado a acceso no autorizado",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Unauthorized access"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "OrderRQ": {
        "type": "object",
        "description": "Entidad que representa la informaci\u00f3n del pedido",
        "required": [
          "purchaseNumber",
          "amount",
          "currency"
        ],
        "properties": {
          "purchaseNumber": {
            "description": "N\u00famero de pedido generado por el comercio",
            "type": "string",
            "minLength": 1,
            "maxLength": 12,
            "example": "1234567890"
          },
          "amount": {
            "description": "Importe del pedido autorizado. Precisi\u00f3n hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": 12.35
          },
          "currency": {
            "description": "C\u00f3digo de moneda en la que se ejecuta la transacci\u00f3n",
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "PEN",
            "enum": [
              "PEN",
              "USD"
            ]
          }
        }
      },
      "Card": {
        "type": "object",
        "description": "Entidad que representa informaci\u00f3n de la tarjeta",
        "required": [
          "cardNumber",
          "expirationMonth",
          "expirationYear"
        ],
        "properties": {
          "cardNumber": {
            "description": "N\u00famero de tarjeta / (No se env\u00eda para una tarjeta tokenizada)",
            "type": "string",
            "minLength": 14,
            "maxLength": 16,
            "example": "4551478422045511"
          },
          "expirationMonth": {
            "description": "Mes de expiraci\u00f3n de la tarjeta / (No se env\u00eda para una tarjeta tokenizada)",
            "type": "integer",
            "format": "int32",
            "example": 12
          },
          "expirationYear": {
            "description": "A\u00f1o de expiraci\u00f3n de la tarjeta / (No se env\u00eda para una tarjeta tokenizada)",
            "type": "integer",
            "format": "int32",
            "example": 2021
          },
          "tokenId": {
            "description": "Token de la tarjeta generado por el formulario de tokenizaci\u00f3n. Solo para comercios con flujo de tokenizaci\u00f3n.",
            "type": "string",
            "minLength": 14,
            "maxLength": 16,
            "example": "7000010000000848"
          },
          "cvv2": {
            "description": "N\u00famero de CVV2 de la tarjeta",
            "type": "string",
            "minLength": 3,
            "maxLength": 4,
            "example": "329"
          }
        }
      },
      "CardHolder": {
        "type": "object",
        "description": "Entidad que representa la informaci\u00f3n del tarjetahabiente. Es de env\u00edo obligatorio cuando el atributo `tokenize` tiene el valor `true`",
        "required": [
          "email"
        ],
        "properties": {
          "firstName": {
            "description": "Nombres del tarjetahabiente",
            "type": "string",
            "minLength": 1,
            "maxLength": 25,
            "example": "Juan"
          },
          "lastName": {
            "description": "Apellidos del tarjetahabiente",
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "example": "Crespo"
          },
          "email": {
            "description": "Correo electr\u00f3nico del tarjetahabiente",
            "type": "string",
            "minLength": 1,
            "maxLength": 35,
            "example": "juan.c@latinmail.com"
          },
          "phoneNumber": {
            "description": "Tel\u00e9fono del tarjetahabiente",
            "type": "string",
            "minLength": 1,
            "maxLength": 10,
            "example": "5112223333"
          }
        }
      },
      "Sponsored": {
        "type": "object",
        "description": "Entidad que representa informaci\u00f3n relacionada al comercio hijo. Es de ingreso obligatorio si se esta integrando un facilitador de pagos",
        "required": [
          "merchantId",
          "name",
          "mcci",
          "address",
          "phoneNumber"
        ],
        "properties": {
          "merchantId": {
            "description": "C\u00f3digo de comercio hijo",
            "type": "string",
            "minLength": 9,
            "maxLength": 9,
            "example": "406123567"
          },
          "name": {
            "description": "Nombre de comercio hijo",
            "type": "string",
            "minLength": 1,
            "maxLength": 25,
            "example": "Netflix"
          },
          "mcci": {
            "description": "MCC internacional de comercio hijo",
            "type": "string",
            "minLength": 4,
            "maxLength": 4,
            "example": "0425"
          },
          "address": {
            "description": "Direcci\u00f3n de comercio hijo",
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "example": "Av. Pardo 323 Lima Per\u00fa"
          },
          "phoneNumber": {
            "description": "Tel\u00e9fono de comercio hijo",
            "type": "string",
            "minLength": 1,
            "maxLength": 10,
            "example": "2132300"
          }
        }
      },
      "Header": {
        "type": "object",
        "description": "Entidad que representa el encabezado de respuesta a la petici\u00f3n",
        "properties": {
          "ecoreTransactionUUID": {
            "description": "Identificador \u00fanico de transacci\u00f3n para la plataforma",
            "type": "string",
            "format": "uuid",
            "example": "76dda510-0088-4b82-bed2-4b4225187690"
          },
          "ecoreTransactionDate": {
            "description": "Fecha de la operaci\u00f3n expresada en formato UNIX TimeStamp",
            "type": "string",
            "example": 1550355747781
          },
          "millis": {
            "description": "Tiempo de ejecuci\u00f3n de la operaci\u00f3n",
            "type": "integer",
            "format": "int32",
            "example": 294
          }
        }
      },
      "OrderRS": {
        "type": "object",
        "description": "Entidad que representa la informaci\u00f3n del pedido",
        "properties": {
          "purchaseNumber": {
            "description": "N\u00famero de pedido generado por el comercio",
            "type": "string",
            "minLength": 1,
            "maxLength": 12,
            "example": "1234567890"
          },
          "amount": {
            "description": "Importe del pedido autorizado. Precisi\u00f3n hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": 12.35
          },
          "currency": {
            "description": "C\u00f3digo de moneda en la que se ejecuta la transacci\u00f3n",
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "PEN",
            "enum": [
              "PEN",
              "USD"
            ]
          },
          "authorizedAmount": {
            "description": "Importe del pedido confirmado. Precisi\u00f3n hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": 12.35
          },
          "authorizationCode": {
            "description": "C\u00f3digo de autorizaci\u00f3n asignado a la aprobaci\u00f3n de la transacci\u00f3n por la entidad resolutora",
            "type": "string",
            "minLength": 1,
            "maxLength": 6,
            "example": "170921"
          },
          "traceNumber": {
            "description": "N\u00famero asignado para identificar de forma un\u00edvoca a la transacci\u00f3n",
            "type": "string",
            "minLength": 1,
            "maxLength": 6,
            "example": "77821"
          },
          "transactionDate": {
            "description": "Fecha de la transacci\u00f3n expresada en formato nativo yyMMddHHmmSS",
            "type": "string",
            "example": "190216172227"
          },
          "transactionId": {
            "description": "Identificador de la transacci\u00f3n asociado a la autorizaci\u00f3n",
            "type": "string",
            "minLength": 15,
            "maxLength": 15,
            "example": "990172014359425"
          }
        }
      },
      "TokenRS": {
        "type": "object",
        "description": "Entidad que representa informaci\u00f3n de la tokenizaci\u00f3n para la tarjeta utilizada",
        "properties": {
          "tokenId": {
            "description": "Token identificador del objeto tokenizado",
            "type": "string",
            "minLength": 16,
            "maxLength": 16,
            "example": "7000010032209946"
          },
          "hash": {
            "description": "Hash identificador del objeto tokenizado",
            "type": "string",
            "minLength": 64,
            "maxLength": 64,
            "example": "bf2a948c94c420ddb0e8a1b6a75138ea4a996c3b40045fd53b2fbb809c1900ac"
          },
          "expiration": {
            "description": "Fecha de caducidad del token expresado en formato nativo yyMMddHHmmSS",
            "type": "string",
            "example": "191023160647"
          }
        }
      },
      "Product": {
        "type": "object",
        "description": "Entidad que representa informaci\u00f3n complementaria del producto tarjeta",
        "properties": {
          "code": {
            "description": "C\u00f3digo del producto",
            "type": "string",
            "minLength": 1,
            "maxLength": 1,
            "example": "F"
          },
          "description": {
            "description": "Descripci\u00f3n del producto",
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "example": "Visa Classic"
          }
        }
      },
      "Source": {
        "type": "object",
        "description": "Entidad que representa informaci\u00f3n complementaria al tipo de tarjeta",
        "properties": {
          "code": {
            "description": "C\u00f3digo del tipo de tarjeta",
            "type": "string",
            "minLength": 1,
            "maxLength": 1,
            "example": "C"
          },
          "description": {
            "description": "Descripci\u00f3n del tipo de tarjeta",
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "example": "Credit"
          }
        }
      },
      "BinDetail": {
        "type": "object",
        "description": "Entidad que representa informaci\u00f3n complementaria del BIN de la tarjeta",
        "properties": {
          "bin": {
            "description": "N\u00famero de BIN",
            "type": "string",
            "minLength": 6,
            "maxLength": 6,
            "example": "422052"
          },
          "region": {
            "description": "C\u00f3digo de regi\u00f3n para el BIN",
            "type": "string",
            "minLength": 1,
            "maxLength": 5,
            "example": "5"
          },
          "country": {
            "description": "C\u00f3digo de pa\u00eds para el BIN",
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "example": "PE"
          },
          "product": {
            "$ref": "#/components/schemas/Product"
          },
          "source": {
            "$ref": "#/components/schemas/Source"
          }
        }
      },
      "Data": {
        "type": "object",
        "description": "Entidad que representa informaci\u00f3n complementaria del pedido",
        "properties": {
          "CURRENCY": {
            "description": "C\u00f3digo num\u00e9rico de moneda en la que se ejecuta la transacci\u00f3n",
            "type": "string",
            "minLength": 4,
            "maxLength": 4,
            "example": "0604"
          },
          "TRANSACTION_DATE": {
            "description": "Fecha de la transacci\u00f3n expresada en formato nativo yyMMddHHmmSS",
            "type": "string",
            "example": "190216172227"
          },
          "TERMINAL": {
            "description": "N\u00famero de terminal asociado a la transacci\u00f3n",
            "type": "string",
            "minLength": 1,
            "maxLength": 8,
            "example": "1"
          },
          "ACTION_CODE": {
            "description": "C\u00f3digo que identifica la acci\u00f3n a tomar o tomada, as\u00ed como la raz\u00f3n de la misma. Define la respuesta a la petici\u00f3n de autorizaci\u00f3n realizada",
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "754"
          },
          "ACTION_DESCRIPTION": {
            "description": "Texto descriptivo de la autorizaci\u00f3n o denegaci\u00f3n",
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "example": "Comercio o terminal no valido"
          },
          "TRACE_NUMBER": {
            "description": "N\u00famero asignado para identificar de forma un\u00edvoca a la transacci\u00f3n",
            "type": "string",
            "minLength": 1,
            "maxLength": 6,
            "example": "77821"
          },
          "MERCHANT": {
            "description": "C\u00f3digo de comercio VisaNet al cual pertenece la transacci\u00f3n",
            "type": "string",
            "minLength": 9,
            "maxLength": 9,
            "example": "341198210"
          }
        }
      },
      "BodyValidateRQ": {
        "type": "object",
        "description": "Entidad que representa informaci\u00f3n para la petici\u00f3n de validaci\u00f3n de tarjeta",
        "required": [
          "channel",
          "captureType",
          "order",
          "card"
        ],
        "properties": {
          "channel": {
            "description": "Canal desde donde se origin\u00f3 la operaci\u00f3n. Puede ser uno de los siguientes valores:\n- `web` Si son operaciones realizadas con el bot\u00f3n de pago web\n- `mobile` Si son operaciones realizadas con la librer\u00eda de pago app\n- `pasarela` Si son operaciones realizadas con la API de validaci\u00f3n de tarjeta para el producto comercio electr\u00f3nico\n",
            "type": "string",
            "example": "web",
            "enum": [
              "web",
              "mobile",
              "pasarela"
            ]
          },
          "captureType": {
            "description": "Tipo de captura en el canal. Siempre es el valor `manual`",
            "type": "string",
            "example": "manual"
          },
          "tokenize": {
            "description": "Indica si la tarjeta a validar ser\u00e1 o no tokenizada. Si es el valor `true` la tarjeta ser\u00e1 tokenizada, si es el valor `false` la tarjeta no ser\u00e1 tokenizada",
            "type": "boolean",
            "example": true
          },
          "order": {
            "$ref": "#/components/schemas/OrderRQ"
          },
          "card": {
            "$ref": "#/components/schemas/Card"
          },
          "cardHolder": {
            "$ref": "#/components/schemas/CardHolder"
          },
          "sponsored": {
            "$ref": "#/components/schemas/Sponsored"
          }
        }
      },
      "BodyValidateOKRS": {
        "type": "object",
        "description": "Entidad que representa informaci\u00f3n para la respuesta satisfactoria a la petici\u00f3n de validaci\u00f3n de tarjeta",
        "properties": {
          "header": {
            "$ref": "#/components/schemas/Header"
          },
          "order": {
            "$ref": "#/components/schemas/OrderRS"
          },
          "token": {
            "$ref": "#/components/schemas/TokenRS"
          },
          "binDetail": {
            "$ref": "#/components/schemas/BinDetail"
          }
        }
      },
      "BodyValidateNARS": {
        "type": "object",
        "description": "Entidad que representa informaci\u00f3n para la respuesta no satisfactoria a la petici\u00f3n de validaci\u00f3n de tarjeta",
        "properties": {
          "errorCode": {
            "type": "integer",
            "format": "int32",
            "description": "C\u00f3digo de error de la operaci\u00f3n. Siempre es el valor `400`",
            "example": 400
          },
          "errorMessage": {
            "type": "string",
            "description": "Mensaje de error de la operaci\u00f3n",
            "example": "Not Verified"
          },
          "header": {
            "$ref": "#/components/schemas/Header"
          },
          "data": {
            "$ref": "#/components/schemas/Data"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "description": "Token de acceso obtenido en la respuesta del api.security",
        "name": "Authorization",
        "in": "header"
      }
    }
  }
}