{
  "openapi": "3.0.3",
  "info": {
    "title": "PulpMiner API",
    "description": "PulpMiner is a tool that lets you convert any webpage to a realtime JSON API. Access your data via simple API requests.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.pulpminer.com"
  },
  "servers": [
    {
      "url": "https://api.pulpminer.com",
      "description": "PulpMiner API"
    }
  ],
  "paths": {
    "/external/{apiId}": {
      "get": {
        "operationId": "getStaticEndpoint",
        "summary": "Retrieve static API data",
        "description": "Retrieves JSON data from a saved static API endpoint configuration.",
        "tags": [
          "Endpoints"
        ],
        "parameters": [
          {
            "name": "apiId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the API endpoint",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EndpointDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": []
          }
        ]
      },
      "post": {
        "operationId": "getDynamicEndpoint",
        "summary": "Retrieve dynamic API data",
        "description": "Retrieves JSON data using dynamic variables passed in the request body.",
        "tags": [
          "Endpoints"
        ],
        "parameters": [
          {
            "name": "apiId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the API endpoint",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DynamicEndpointRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EndpointDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "name": "apikey",
        "in": "header",
        "description": "API key provided in the apikey header"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      },
      "DynamicEndpointRequest": {
        "type": "object",
        "additionalProperties": {
          "type": "string"
        },
        "description": "Key-value pairs of dynamic variables to inject into the endpoint configuration"
      },
      "EndpointDataResponse": {
        "type": "object",
        "additionalProperties": true,
        "description": "JSON data as configured during API creation. Structure varies per endpoint configuration."
      }
    }
  },
  "tags": [
    {
      "name": "Endpoints",
      "description": "API endpoint operations"
    }
  ]
}