{
  "openapi": "3.0.0",
  "info": {
    "description": "These APIs allow end users to operate on Azure Machine Learning Workspace resources.",
    "title": "Azure Machine Learning Workspaces",
    "version": "2019-06-01",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/azure.com/machinelearningservices-machineLearningServices/2019-06-01/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-06-01/machineLearningServices.json",
        "version": "2.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "azure.com",
    "x-serviceName": "machinelearningservices-machineLearningServices",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.MachineLearningServices/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/APIVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationListResult"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineLearningServiceError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "Operation"
        ],
        "description": "Lists all of the available Azure Machine Learning Workspaces REST API operations.",
        "operationId": "Operations_List",
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/locations/{location}/Quotas": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "The location for which resource usage is queried.",
            "in": "path",
            "name": "location",
            "required": true,
            "schema": {
              "pattern": "^[-\\w\\._]+$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWorkspaceQuotas"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Quota"
        ],
        "description": "Gets the currently assigned Workspace Quotas based on VMFamily.",
        "operationId": "Quotas_List",
        "x-ms-examples": {
          "List workspace quotas by VMFamily": {
            "parameters": {
              "api-version": "2019-06-01",
              "location": "eastus",
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/quotas/Standard_D_Family_Cluster_Dedicated_vCPUs",
                      "limit": 48,
                      "name": {
                        "localizedValue": "Standard D Family Cluster Dedicated vCPUs",
                        "value": "Standard D Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/vmFamily/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_D_Family_Cluster_Dedicated_vCPUs",
                      "limit": 12,
                      "name": {
                        "localizedValue": "Standard D Family Cluster Dedicated vCPUs",
                        "value": "Standard D Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_D_Family_Cluster_Dedicated_vCPUs",
                      "limit": 12,
                      "name": {
                        "localizedValue": "Standard D Family Cluster Dedicated vCPUs",
                        "value": "Standard D Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace3/quotas/Standard_D_Family_Cluster_Dedicated_vCPUs",
                      "limit": 24,
                      "name": {
                        "localizedValue": "Standard D Family Cluster Dedicated vCPUs",
                        "value": "Standard D Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/quotas/Standard_DSv2_Family_Cluster_Dedicated_vCPUs",
                      "limit": 24,
                      "name": {
                        "localizedValue": "Standard DSv2 Family Cluster Dedicated vCPUs",
                        "value": "Standard DSv2 Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/vmFamily/quota",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_DSv2_Family_Cluster_Dedicated_vCPUs",
                      "limit": 24,
                      "name": {
                        "localizedValue": "Standard DSv2 Family Cluster Dedicated vCPUs",
                        "value": "Standard DSv2 Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_DSv2_Family_Cluster_Dedicated_vCPUs",
                      "limit": 12,
                      "name": {
                        "localizedValue": "Standard DSv2 Family Cluster Dedicated vCPUs",
                        "value": "Standard DSv2 Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace3/quotas/Standard_DSv2_Family_Cluster_Dedicated_vCPUs",
                      "limit": 12,
                      "name": {
                        "localizedValue": "Standard DSv2 Family Cluster Dedicated vCPUs",
                        "value": "Standard DSv2 Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/quotas/Standard_Dv2_Family_Cluster_Dedicated_vCPUs",
                      "limit": 24,
                      "name": {
                        "localizedValue": "Standard Dv2 Family Cluster Dedicated vCPUs",
                        "value": "Standard Dv2 Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/vmFamily/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_Dv2_Family_Cluster_Dedicated_vCPUs",
                      "limit": 0,
                      "name": {
                        "localizedValue": "Standard Dv2 Family Cluster Dedicated vCPUs",
                        "value": "Standard Dv2 Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_Dv2_Family_Cluster_Dedicated_vCPUs",
                      "limit": 24,
                      "name": {
                        "localizedValue": "Standard Dv2 Family Cluster Dedicated vCPUs",
                        "value": "Standard Dv2 Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace3/quotas/Standard_Dv2_Family_Cluster_Dedicated_vCPUs",
                      "limit": 0,
                      "name": {
                        "localizedValue": "Standard Dv2 Family Cluster Dedicated vCPUs",
                        "value": "Standard Dv2 Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/quotas/Standard_FSv2_Family_Cluster_Dedicated_vCPUs",
                      "limit": 24,
                      "name": {
                        "localizedValue": "Standard FSv2 Family Cluster Dedicated vCPUs",
                        "value": "Standard FSv2 Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/vmFamily/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_FSv2_Family_Cluster_Dedicated_vCPUs",
                      "limit": 0,
                      "name": {
                        "localizedValue": "Standard FSv2 Family Cluster Dedicated vCPUs",
                        "value": "Standard FSv2 Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_FSv2_Family_Cluster_Dedicated_vCPUs",
                      "limit": 24,
                      "name": {
                        "localizedValue": "Standard FSv2 Family Cluster Dedicated vCPUs",
                        "value": "Standard FSv2 Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace3/quotas/Standard_FSv2_Family_Cluster_Dedicated_vCPUs",
                      "limit": 12,
                      "name": {
                        "localizedValue": "Standard FSv2 Family Cluster Dedicated vCPUs",
                        "value": "Standard FSv2 Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/quotas/Standard_NC_Family_Cluster_Dedicated_vCPUs",
                      "limit": 24,
                      "name": {
                        "localizedValue": "Standard NC Family Cluster Dedicated vCPUs",
                        "value": "Standard NC Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/vmFamily/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_NC_Family_Cluster_Dedicated_vCPUs",
                      "limit": 24,
                      "name": {
                        "localizedValue": "Standard NC Family Cluster Dedicated vCPUs",
                        "value": "Standard NC Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_NC_Family_Cluster_Dedicated_vCPUs",
                      "limit": 24,
                      "name": {
                        "localizedValue": "Standard NC Family Cluster Dedicated vCPUs",
                        "value": "Standard NC Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace3/quotas/Standard_NC_Family_Cluster_Dedicated_vCPUs",
                      "limit": 24,
                      "name": {
                        "localizedValue": "Standard NC Family Cluster Dedicated vCPUs",
                        "value": "Standard NC Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/quotas/Standard_NCv2_Family_Cluster_Dedicated_vCPUs",
                      "limit": 0,
                      "name": {
                        "localizedValue": "Standard NCv2 Family Cluster Dedicated vCPUs",
                        "value": "Standard NCv2 Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/vmFamily/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_NCv2_Family_Cluster_Dedicated_vCPUs",
                      "limit": 0,
                      "name": {
                        "localizedValue": "Standard NCv2 Family Cluster Dedicated vCPUs",
                        "value": "Standard NCv2 Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_NCv2_Family_Cluster_Dedicated_vCPUs",
                      "limit": 0,
                      "name": {
                        "localizedValue": "Standard NCv2 Family Cluster Dedicated vCPUs",
                        "value": "Standard NCv2 Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace3/quotas/Standard_NCv2_Family_Cluster_Dedicated_vCPUs",
                      "limit": 0,
                      "name": {
                        "localizedValue": "Standard NCv2 Family Cluster Dedicated vCPUs",
                        "value": "Standard NCv2 Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/quotas/Standard_NCv3_Family_Cluster_Dedicated_vCPUs",
                      "limit": 0,
                      "name": {
                        "localizedValue": "Standard NCv3 Family Cluster Dedicated vCPUs",
                        "value": "Standard NCv3 Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/vmFamily/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_NCv3_Family_Cluster_Dedicated_vCPUs",
                      "limit": 0,
                      "name": {
                        "localizedValue": "Standard NCv3 Family Cluster Dedicated vCPUs",
                        "value": "Standard NCv3 Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_NCv3_Family_Cluster_Dedicated_vCPUs",
                      "limit": 0,
                      "name": {
                        "localizedValue": "Standard NCv3 Family Cluster Dedicated vCPUs",
                        "value": "Standard NCv3 Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace3/quotas/Standard_NCv3_Family_Cluster_Dedicated_vCPUs",
                      "limit": 0,
                      "name": {
                        "localizedValue": "Standard NCv3 Family Cluster Dedicated vCPUs",
                        "value": "Standard NCv3 Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/quotas/Standard_ND_Family_Cluster_Dedicated_vCPUs",
                      "limit": 0,
                      "name": {
                        "localizedValue": "Standard ND Family Cluster Dedicated vCPUs",
                        "value": "Standard ND Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/vmFamily/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_ND_Family_Cluster_Dedicated_vCPUs",
                      "limit": 0,
                      "name": {
                        "localizedValue": "Standard ND Family Cluster Dedicated vCPUs",
                        "value": "Standard ND Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_ND_Family_Cluster_Dedicated_vCPUs",
                      "limit": 0,
                      "name": {
                        "localizedValue": "Standard ND Family Cluster Dedicated vCPUs",
                        "value": "Standard ND Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace3/quotas/Standard_ND_Family_Cluster_Dedicated_vCPUs",
                      "limit": 0,
                      "name": {
                        "localizedValue": "Standard ND Family Cluster Dedicated vCPUs",
                        "value": "Standard ND Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/quotas/Standard_NDv2_Family_Cluster_Dedicated_vCPUs",
                      "limit": 0,
                      "name": {
                        "localizedValue": "Standard NDv2 Family Cluster Dedicated vCPUs",
                        "value": "Standard NDv2 Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/vmFamily/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_NDv2_Family_Cluster_Dedicated_vCPUs",
                      "limit": 0,
                      "name": {
                        "localizedValue": "Standard NDv2 Family Cluster Dedicated vCPUs",
                        "value": "Standard NDv2 Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_NDv2_Family_Cluster_Dedicated_vCPUs",
                      "limit": 0,
                      "name": {
                        "localizedValue": "Standard NDv2 Family Cluster Dedicated vCPUs",
                        "value": "Standard NDv2 Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace3/quotas/Standard_NDv2_Family_Cluster_Dedicated_vCPUs",
                      "limit": 0,
                      "name": {
                        "localizedValue": "Standard NDv2 Family Cluster Dedicated vCPUs",
                        "value": "Standard NDv2 Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/quotas/Standard_NV_Family_Cluster_Dedicated_vCPUs",
                      "limit": 24,
                      "name": {
                        "localizedValue": "Standard NV Family Cluster Dedicated vCPUs",
                        "value": "Standard NV Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/vmFamily/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_NV_Family_Cluster_Dedicated_vCPUs",
                      "limit": 24,
                      "name": {
                        "localizedValue": "Standard NV Family Cluster Dedicated vCPUs",
                        "value": "Standard NV Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_NV_Family_Cluster_Dedicated_vCPUs",
                      "limit": 24,
                      "name": {
                        "localizedValue": "Standard NV Family Cluster Dedicated vCPUs",
                        "value": "Standard NV Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace3/quotas/Standard_NV_Family_Cluster_Dedicated_vCPUs",
                      "limit": 24,
                      "name": {
                        "localizedValue": "Standard NV Family Cluster Dedicated vCPUs",
                        "value": "Standard NV Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                      "unit": "Count"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/locations/{location}/updateQuotas": {
      "post": {
        "parameters": [
          {
            "description": "The location for update quota is queried.",
            "in": "path",
            "name": "location",
            "required": true,
            "schema": {
              "pattern": "^[-\\w\\._]+$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateWorkspaceQuotasResult"
                }
              }
            },
            "description": "The operation was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineLearningServiceError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Quota"
        ],
        "description": "Update quota for each VM family in workspace.",
        "operationId": "Quotas_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuotaUpdateParameters"
              }
            }
          },
          "description": "Quota update parameters.",
          "required": true
        },
        "x-ms-examples": {
          "update quotas": {
            "parameters": {
              "parameters": {
                "value": [
                  {
                    "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_DSv2_Family_Cluster_Dedicated_vCPUs",
                    "limit": 100,
                    "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                    "unit": "Count"
                  },
                  {
                    "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_DSv2_Family_Cluster_Dedicated_vCPUs",
                    "limit": 200,
                    "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                    "unit": "Count"
                  }
                ]
              },
              "api-version": "2019-06-01",
              "location": "eastus",
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_DSv2_Family_Cluster_Dedicated_vCPUs",
                      "limit": 100,
                      "status": "Success",
                      "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                      "unit": "Count"
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_DSv2_Family_Cluster_Dedicated_vCPUs",
                      "limit": 200,
                      "status": "Success",
                      "type": "Microsoft.MachineLearningServices/workspaces/quotas",
                      "unit": "Count"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/locations/{location}/usages": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/components/parameters/ExpandChildrenParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "The location for which resource usage is queried.",
            "in": "path",
            "name": "location",
            "required": true,
            "schema": {
              "pattern": "^[-\\w\\._]+$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListUsagesResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Usage"
        ],
        "description": "Gets the current usage information as well as limits for AML resources for given subscription and location.",
        "operationId": "Usages_List",
        "x-ms-examples": {
          "List Usages": {
            "parameters": {
              "api-version": "2019-06-01",
              "location": "eastus",
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "currentValue": 7,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/usages",
                      "limit": 100,
                      "name": {
                        "localizedValue": "Clusters",
                        "value": "Clusters"
                      },
                      "type": "Microsoft.MachineLearningServices/totalCores/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 14,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/usages",
                      "limit": 24,
                      "name": {
                        "localizedValue": "Total Cluster Dedicated Regional vCPUs",
                        "value": "Total Cluster Dedicated Regional vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/dedicatedCores/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 0,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_D_Family_Cluster_Dedicated_vCPUs",
                      "limit": 48,
                      "name": {
                        "localizedValue": "Standard D Family Cluster Dedicated vCPUs",
                        "value": "Standard D Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/vmFamily/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 2,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_DSv2_Family_Cluster_Dedicated_vCPUs",
                      "limit": 24,
                      "name": {
                        "localizedValue": "Standard DSv2 Family Cluster Dedicated vCPUs",
                        "value": "Standard DSv2 Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/vmFamily/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 2,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/usages/Standard_DSv2_Family_Cluster_Dedicated_vCPUs",
                      "limit": 24,
                      "name": {
                        "localizedValue": "Standard DSv2 Family Cluster Dedicated vCPUs",
                        "value": "Standard DSv2 Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 2,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/computes/demo_cluster1_dsv2/usages/Standard_DSv2_Family_Cluster_Dedicated_vCPUs",
                      "limit": 24,
                      "name": {
                        "localizedValue": "Standard DSv2 Family Cluster Dedicated vCPUs",
                        "value": "Standard DSv2 Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/computes/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 0,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/computes/demo_cluster2_dsv2/usages/Standard_DSv2_Family_Cluster_Dedicated_vCPUs",
                      "limit": 24,
                      "name": {
                        "localizedValue": "Standard DSv2 Family Cluster Dedicated vCPUs",
                        "value": "Standard DSv2 Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/computes/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 0,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_Dv2_Family_Cluster_Dedicated_vCPUs",
                      "limit": 24,
                      "name": {
                        "localizedValue": "Standard Dv2 Family Cluster Dedicated vCPUs",
                        "value": "Standard Dv2 Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/vmFamily/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 0,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_FSv2_Family_Cluster_Dedicated_vCPUs",
                      "limit": 24,
                      "name": {
                        "localizedValue": "Standard FSv2 Family Cluster Dedicated vCPUs",
                        "value": "Standard FSv2 Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/vmFamily/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 12,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_NC_Family_Cluster_Dedicated_vCPUs",
                      "limit": 24,
                      "name": {
                        "localizedValue": "Standard NC Family Cluster Dedicated vCPUs",
                        "value": "Standard NC Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/vmFamily/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 6,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/usages/Standard_NC_Family_Cluster_Dedicated_vCPUs",
                      "limit": 24,
                      "name": {
                        "localizedValue": "Standard NC Family Cluster Dedicated vCPUs",
                        "value": "Standard NC Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspace/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 6,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/computes/demo_cluster1_nc/usages/Standard_NC_Family_Cluster_Dedicated_vCPUs",
                      "limit": 24,
                      "name": {
                        "localizedValue": "Standard NC Family Cluster Dedicated vCPUs",
                        "value": "Standard NC Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspace/computes/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 6,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/usages/Standard_NC_Family_Cluster_Dedicated_vCPUs",
                      "limit": 24,
                      "name": {
                        "localizedValue": "Standard NC Family Cluster Dedicated vCPUs",
                        "value": "Standard NC Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 6,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/computes/demo_cluser1_nc/usages/Standard_NC_Family_Cluster_Dedicated_vCPUs",
                      "limit": 24,
                      "name": {
                        "localizedValue": "Standard NC Family Cluster Dedicated vCPUs",
                        "value": "Standard NC Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces/computes/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 0,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_NCv2_Family_Cluster_Dedicated_vCPUs",
                      "limit": 0,
                      "name": {
                        "localizedValue": "Standard NCv2 Family Cluster Dedicated vCPUs",
                        "value": "Standard NCv2 Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/vmFamily/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 0,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_NCv3_Family_Cluster_Dedicated_vCPUs",
                      "limit": 0,
                      "name": {
                        "localizedValue": "Standard NCv3 Family Cluster Dedicated vCPUs",
                        "value": "Standard NCv3 Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/vmFamily/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 0,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_ND_Family_Cluster_Dedicated_vCPUs",
                      "limit": 0,
                      "name": {
                        "localizedValue": "Standard ND Family Cluster Dedicated vCPUs",
                        "value": "Standard ND Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/vmFamily/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 0,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_NDv2_Family_Cluster_Dedicated_vCPUs",
                      "limit": 0,
                      "name": {
                        "localizedValue": "Standard NDv2 Family Cluster Dedicated vCPUs",
                        "value": "Standard NDv2 Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/vmFamily/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 0,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_NV_Family_Cluster_Dedicated_vCPUs",
                      "limit": 24,
                      "name": {
                        "localizedValue": "Standard NV Family Cluster Dedicated vCPUs",
                        "value": "Standard NV Family Cluster Dedicated vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/vmFamily/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 18,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/usages",
                      "limit": 50,
                      "name": {
                        "localizedValue": "Total Cluster LowPriority Regional vCPUs",
                        "value": "Total Cluster LowPriority Regional vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/lowPriorityCores/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 0,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_D_Family_Cluster_LowPriority_vCPUs",
                      "limit": -1,
                      "name": {
                        "localizedValue": "Standard D Family Cluster LowPriority vCPUs",
                        "value": "Standard D Family Cluster LowPriority vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/vmFamily/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 0,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_DSv2_Family_Cluster_LowPriority_vCPUs",
                      "limit": -1,
                      "name": {
                        "localizedValue": "Standard DSv2 Family Cluster LowPriority vCPUs",
                        "value": "Standard DSv2 Family Cluster LowPriority vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/vmFamily/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 0,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_Dv2_Family_Cluster_LowPriority_vCPUs",
                      "limit": -1,
                      "name": {
                        "localizedValue": "Standard Dv2 Family Cluster LowPriority vCPUs",
                        "value": "Standard Dv2 Family Cluster LowPriority vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/vmFamily/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 0,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_FSv2_Family_Cluster_LowPriority_vCPUs",
                      "limit": -1,
                      "name": {
                        "localizedValue": "Standard FSv2 Family Cluster LowPriority vCPUs",
                        "value": "Standard FSv2 Family Cluster LowPriority vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/vmFamily/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 18,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_NC_Family_Cluster_LowPriority_vCPUs",
                      "limit": -1,
                      "name": {
                        "localizedValue": "Standard NC Family Cluster LowPriority vCPUs",
                        "value": "Standard NC Family Cluster LowPriority vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/vmFamily/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 6,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/usages/Standard_NC_Family_Cluster_LowPriority_vCPUs",
                      "limit": -1,
                      "name": {
                        "localizedValue": "Standard NC Family Cluster LowPriority vCPUs",
                        "value": "Standard NC Family Cluster LowPriority vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspace/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 6,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/computes/demo_cluster1_lowPriority_nc/usages/Standard_NC_Family_Cluster_LowPriority_vCPUs",
                      "limit": -1,
                      "name": {
                        "localizedValue": "Standard NC Family Cluster LowPriority vCPUs",
                        "value": "Standard NC Family Cluster LowPriority vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspace/computes/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 12,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/usages/Standard_NC_Family_Cluster_LowPriority_vCPUs",
                      "limit": -1,
                      "name": {
                        "localizedValue": "Standard NC Family Cluster LowPriority vCPUs",
                        "value": "Standard NC Family Cluster LowPriority vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspace/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 6,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/computes/demo_cluster2_lowPriority_nc/usages/Standard_NC_Family_Cluster_LowPriority_vCPUs",
                      "limit": -1,
                      "name": {
                        "localizedValue": "Standard NC Family Cluster LowPriority vCPUs",
                        "value": "Standard NC Family Cluster LowPriority vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspace/computes/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 6,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/computes/demo_cluster3_lowPriority_nc/usages/Standard_NC_Family_Cluster_LowPriority_vCPUs",
                      "limit": -1,
                      "name": {
                        "localizedValue": "Standard NC Family Cluster LowPriority vCPUs",
                        "value": "Standard NC Family Cluster LowPriority vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/workspace/computes/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 0,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_NCv2_Family_Cluster_LowPriority_vCPUs",
                      "limit": -1,
                      "name": {
                        "localizedValue": "Standard NCv2 Family Cluster LowPriority vCPUs",
                        "value": "Standard NCv2 Family Cluster LowPriority vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/vmFamily/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 0,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_NCv3_Family_Cluster_LowPriority_vCPUs",
                      "limit": -1,
                      "name": {
                        "localizedValue": "Standard NCv3 Family Cluster LowPriority vCPUs",
                        "value": "Standard NCv3 Family Cluster LowPriority vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/vmFamily/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 0,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_ND_Family_Cluster_LowPriority_vCPUs",
                      "limit": -1,
                      "name": {
                        "localizedValue": "Standard ND Family Cluster LowPriority vCPUs",
                        "value": "Standard ND Family Cluster LowPriority vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/vmFamily/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 0,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_NDv2_Family_Cluster_LowPriority_vCPUs",
                      "limit": -1,
                      "name": {
                        "localizedValue": "Standard NDv2 Family Cluster LowPriority vCPUs",
                        "value": "Standard NDv2 Family Cluster LowPriority vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/vmFamily/usages",
                      "unit": "Count"
                    },
                    {
                      "currentValue": 0,
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_NV_Family_Cluster_LowPriority_vCPUs",
                      "limit": -1,
                      "name": {
                        "localizedValue": "Standard NV Family Cluster LowPriority vCPUs",
                        "value": "Standard NV Family Cluster LowPriority vCPUs"
                      },
                      "type": "Microsoft.MachineLearningServices/vmFamily/usages",
                      "unit": "Count"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/locations/{location}/vmSizes": {
      "get": {
        "parameters": [
          {
            "description": "The location upon which virtual-machine-sizes is queried.",
            "in": "path",
            "name": "location",
            "required": true,
            "schema": {
              "pattern": "^[-\\w\\._]+$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualMachineSizeListResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "VirtualMachineSizes"
        ],
        "description": "Returns supported VM Sizes in a location",
        "operationId": "VirtualMachineSizes_List",
        "x-ms-examples": {
          "List VM Sizes": {
            "parameters": {
              "api-version": "2019-06-01",
              "location": "eastus",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "amlCompute": [
                    {
                      "family": "standardFSv2Family",
                      "gpus": 0,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 16384,
                      "memoryGB": 4,
                      "name": "Standard_F2s_v2",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": true,
                      "vCPUs": 2
                    },
                    {
                      "family": "standardFSv2Family",
                      "gpus": 0,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 32768,
                      "memoryGB": 8,
                      "name": "Standard_F4s_v2",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": true,
                      "vCPUs": 4
                    },
                    {
                      "family": "standardFSv2Family",
                      "gpus": 0,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 65536,
                      "memoryGB": 16,
                      "name": "Standard_F8s_v2",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": true,
                      "vCPUs": 8
                    },
                    {
                      "family": "standardFSv2Family",
                      "gpus": 0,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 131072,
                      "memoryGB": 32,
                      "name": "Standard_F16s_v2",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": true,
                      "vCPUs": 16
                    },
                    {
                      "family": "standardFSv2Family",
                      "gpus": 0,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 262144,
                      "memoryGB": 64,
                      "name": "Standard_F32s_v2",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": true,
                      "vCPUs": 32
                    },
                    {
                      "family": "standardFSv2Family",
                      "gpus": 0,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 524288,
                      "memoryGB": 128,
                      "name": "Standard_F64s_v2",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": true,
                      "vCPUs": 64
                    },
                    {
                      "family": "standardFSv2Family",
                      "gpus": 0,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 589824,
                      "memoryGB": 144,
                      "name": "Standard_F72s_v2",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": true,
                      "vCPUs": 72
                    },
                    {
                      "family": "standardDv2Family",
                      "gpus": 0,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 51200,
                      "memoryGB": 3.5,
                      "name": "Standard_D1_v2",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": false,
                      "vCPUs": 1
                    },
                    {
                      "family": "standardDv2Family",
                      "gpus": 0,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 102400,
                      "memoryGB": 7,
                      "name": "Standard_D2_v2",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": false,
                      "vCPUs": 2
                    },
                    {
                      "family": "standardDv2Family",
                      "gpus": 0,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 204800,
                      "memoryGB": 14,
                      "name": "Standard_D3_v2",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": false,
                      "vCPUs": 4
                    },
                    {
                      "family": "standardDv2Family",
                      "gpus": 0,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 409600,
                      "memoryGB": 28,
                      "name": "Standard_D4_v2",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": false,
                      "vCPUs": 8
                    },
                    {
                      "family": "standardDv2Family",
                      "gpus": 0,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 102400,
                      "memoryGB": 14,
                      "name": "Standard_D11_v2",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": false,
                      "vCPUs": 2
                    },
                    {
                      "family": "standardDv2Family",
                      "gpus": 0,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 204800,
                      "memoryGB": 28,
                      "name": "Standard_D12_v2",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": false,
                      "vCPUs": 4
                    },
                    {
                      "family": "standardDv2Family",
                      "gpus": 0,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 409600,
                      "memoryGB": 56,
                      "name": "Standard_D13_v2",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": false,
                      "vCPUs": 8
                    },
                    {
                      "family": "standardDv2Family",
                      "gpus": 0,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 819200,
                      "memoryGB": 112,
                      "name": "Standard_D14_v2",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": false,
                      "vCPUs": 16
                    },
                    {
                      "family": "standardDSv2Family",
                      "gpus": 0,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 7168,
                      "memoryGB": 3.5,
                      "name": "Standard_DS1_v2",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": true,
                      "vCPUs": 1
                    },
                    {
                      "family": "standardDSv2Family",
                      "gpus": 0,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 14336,
                      "memoryGB": 7,
                      "name": "Standard_DS2_v2",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": true,
                      "vCPUs": 2
                    },
                    {
                      "family": "standardDSv2Family",
                      "gpus": 0,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 28672,
                      "memoryGB": 14,
                      "name": "Standard_DS3_v2",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": true,
                      "vCPUs": 4
                    },
                    {
                      "family": "standardDSv2Family",
                      "gpus": 0,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 57344,
                      "memoryGB": 28,
                      "name": "Standard_DS4_v2",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": true,
                      "vCPUs": 8
                    },
                    {
                      "family": "standardDSv2Family",
                      "gpus": 0,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 114688,
                      "memoryGB": 56,
                      "name": "Standard_DS5_v2",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": true,
                      "vCPUs": 16
                    },
                    {
                      "family": "standardDSv2Family",
                      "gpus": 0,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 28672,
                      "memoryGB": 14,
                      "name": "Standard_DS11_v2",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": true,
                      "vCPUs": 2
                    },
                    {
                      "family": "standardDSv2Family",
                      "gpus": 0,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 57344,
                      "memoryGB": 28,
                      "name": "Standard_DS12_v2",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": true,
                      "vCPUs": 4
                    },
                    {
                      "family": "standardDSv2Family",
                      "gpus": 0,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 114688,
                      "memoryGB": 56,
                      "name": "Standard_DS13_v2",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": true,
                      "vCPUs": 8
                    },
                    {
                      "family": "standardDSv2Family",
                      "gpus": 0,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 229376,
                      "memoryGB": 112,
                      "name": "Standard_DS14_v2",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": true,
                      "vCPUs": 16
                    },
                    {
                      "family": "standardDSv2Family",
                      "gpus": 0,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 286720,
                      "memoryGB": 140,
                      "name": "Standard_DS15_v2",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": true,
                      "vCPUs": 20
                    },
                    {
                      "family": "standardNCSv2Family",
                      "gpus": 1,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 344064,
                      "memoryGB": 112,
                      "name": "Standard_NC6s_v2",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": true,
                      "vCPUs": 6
                    },
                    {
                      "family": "standardNCSv2Family",
                      "gpus": 2,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 688128,
                      "memoryGB": 224,
                      "name": "Standard_NC12s_v2",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": true,
                      "vCPUs": 12
                    },
                    {
                      "family": "standardNCSv2Family",
                      "gpus": 4,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 1376256,
                      "memoryGB": 448,
                      "name": "Standard_NC24rs_v2",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": true,
                      "vCPUs": 24
                    },
                    {
                      "family": "standardNCSv2Family",
                      "gpus": 4,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 1376256,
                      "memoryGB": 448,
                      "name": "Standard_NC24s_v2",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": true,
                      "vCPUs": 24
                    },
                    {
                      "family": "standardNCSv3Family",
                      "gpus": 1,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 344064,
                      "memoryGB": 112,
                      "name": "Standard_NC6s_v3",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": true,
                      "vCPUs": 6
                    },
                    {
                      "family": "standardNCSv3Family",
                      "gpus": 2,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 688128,
                      "memoryGB": 224,
                      "name": "Standard_NC12s_v3",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": true,
                      "vCPUs": 12
                    },
                    {
                      "family": "standardNCSv3Family",
                      "gpus": 4,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 1376256,
                      "memoryGB": 448,
                      "name": "Standard_NC24rs_v3",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": true,
                      "vCPUs": 24
                    },
                    {
                      "family": "standardNCSv3Family",
                      "gpus": 4,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 1376256,
                      "memoryGB": 448,
                      "name": "Standard_NC24s_v3",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": true,
                      "vCPUs": 24
                    },
                    {
                      "family": "standardNCFamily",
                      "gpus": 1,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 389120,
                      "memoryGB": 56,
                      "name": "Standard_NC6",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": false,
                      "vCPUs": 6
                    },
                    {
                      "family": "standardNCFamily",
                      "gpus": 2,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 696320,
                      "memoryGB": 112,
                      "name": "Standard_NC12",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": false,
                      "vCPUs": 12
                    },
                    {
                      "family": "standardNCFamily",
                      "gpus": 4,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 1474560,
                      "memoryGB": 224,
                      "name": "Standard_NC24",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": false,
                      "vCPUs": 24
                    },
                    {
                      "family": "standardNCFamily",
                      "gpus": 4,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 1474560,
                      "memoryGB": 224,
                      "name": "Standard_NC24r",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": false,
                      "vCPUs": 24
                    },
                    {
                      "family": "standardNVFamily",
                      "gpus": 1,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 389120,
                      "memoryGB": 56,
                      "name": "Standard_NV6",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": false,
                      "vCPUs": 6
                    },
                    {
                      "family": "standardNVFamily",
                      "gpus": 2,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 696320,
                      "memoryGB": 112,
                      "name": "Standard_NV12",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": false,
                      "vCPUs": 12
                    },
                    {
                      "family": "standardNVFamily",
                      "gpus": 4,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 1474560,
                      "memoryGB": 224,
                      "name": "Standard_NV24",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": false,
                      "vCPUs": 24
                    },
                    {
                      "family": "standardNDSFamily",
                      "gpus": 1,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 344064,
                      "memoryGB": 112,
                      "name": "Standard_ND6s",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": true,
                      "vCPUs": 6
                    },
                    {
                      "family": "standardNDSFamily",
                      "gpus": 2,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 688128,
                      "memoryGB": 224,
                      "name": "Standard_ND12s",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": true,
                      "vCPUs": 12
                    },
                    {
                      "family": "standardNDSFamily",
                      "gpus": 4,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 1376256,
                      "memoryGB": 448,
                      "name": "Standard_ND24rs",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": true,
                      "vCPUs": 24
                    },
                    {
                      "family": "standardNDSFamily",
                      "gpus": 4,
                      "lowPriorityCapable": true,
                      "maxResourceVolumeMB": 1376256,
                      "memoryGB": 448,
                      "name": "Standard_ND24s",
                      "osVhdSizeMB": 1047552,
                      "premiumIO": true,
                      "vCPUs": 24
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/workspaces": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/PaginationParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceListResult"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineLearningServiceError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "Workspaces"
        ],
        "description": "Lists all the available machine learning workspaces under the specified subscription.",
        "operationId": "Workspaces_ListBySubscription",
        "x-ms-examples": {
          "Get Workspaces by subscription": {
            "parameters": {
              "api-version": "2019-06-01",
              "subscriptionId": "00000000-1111-2222-3333-444444444444"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": "nextLink",
                  "value": [
                    {
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace",
                      "location": "eastus2euap",
                      "name": "testworkspace",
                      "properties": {
                        "applicationInsights": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights",
                        "containerRegistry": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry",
                        "creationTime": "2017-03-01 23:14:37.070780+00:00",
                        "description": "test description",
                        "discoveryUrl": "http://example.com",
                        "friendlyName": "HelloName",
                        "keyVault": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv",
                        "storageAccount": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces"
                    },
                    {
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-5678/providers/Microsoft.MachineLearningServices/workspaces/testworkspace",
                      "location": "eastus2euap",
                      "name": "testworkspace",
                      "properties": {
                        "applicationInsights": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights",
                        "containerRegistry": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistryNew",
                        "creationTime": "2017-03-01 23:14:37.070780+00:00",
                        "description": "test description",
                        "discoveryUrl": "http://example.com",
                        "friendlyName": "HelloName",
                        "keyVault": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkvNew",
                        "storageAccount": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccountOld"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/PaginationParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceListResult"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineLearningServiceError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "Workspaces"
        ],
        "description": "Lists all the available machine learning workspaces under the specified resource group.",
        "operationId": "Workspaces_ListByResourceGroup",
        "x-ms-examples": {
          "Get Workspaces by Resource Group": {
            "parameters": {
              "api-version": "2019-06-01",
              "resourceGroupName": "workspace-1234",
              "subscriptionId": "00000000-1111-2222-3333-444444444444"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": "nextLink",
                  "value": [
                    {
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace",
                      "location": "eastus2euap",
                      "name": "testworkspace",
                      "properties": {
                        "applicationInsights": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights",
                        "containerRegistry": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry",
                        "creationTime": "2017-03-01 23:14:37.070780+00:00",
                        "description": "test description",
                        "discoveryUrl": "http://example.com",
                        "friendlyName": "HelloName",
                        "keyVault": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv",
                        "storageAccount": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces"
                    },
                    {
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace1",
                      "location": "eastus2euap",
                      "name": "testworkspace1",
                      "properties": {
                        "applicationInsights": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights",
                        "containerRegistry": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistryNew",
                        "creationTime": "2017-03-01 23:14:37.070780+00:00",
                        "description": "test description",
                        "discoveryUrl": "http://example.com",
                        "friendlyName": "HelloName 1",
                        "keyVault": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkvNew",
                        "storageAccount": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccountOld"
                      },
                      "type": "Microsoft.MachineLearningServices/workspaces"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkspaceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "204": {
            "description": "The machine learning workspace does not exist in the subscription."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineLearningServiceError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "Workspaces"
        ],
        "description": "Deletes a machine learning workspace.",
        "operationId": "Workspaces_Delete",
        "x-ms-examples": {
          "Delete Workspace": {
            "parameters": {
              "api-version": "2019-06-01",
              "resourceGroupName": "workspace-1234",
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "workspaceName": "testworkspace"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkspaceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineLearningServiceError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "Workspaces"
        ],
        "description": "Gets the properties of the specified machine learning workspace.",
        "operationId": "Workspaces_Get",
        "x-ms-examples": {
          "Get Workspace": {
            "parameters": {
              "api-version": "2019-06-01",
              "resourceGroupName": "workspace-1234",
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "workspaceName": "testworkspace"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace",
                  "location": "eastus2euap",
                  "name": "testworkspace",
                  "properties": {
                    "applicationInsights": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights",
                    "containerRegistry": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry",
                    "creationTime": "2017-03-01 23:14:37.070780+00:00",
                    "description": "test description",
                    "discoveryUrl": "http://example.com",
                    "friendlyName": "HelloName",
                    "keyVault": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv",
                    "storageAccount": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount"
                  },
                  "type": "Microsoft.MachineLearningServices/workspaces"
                }
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkspaceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineLearningServiceError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "Workspaces"
        ],
        "description": "Updates a machine learning workspace with the specified parameters.",
        "operationId": "Workspaces_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceUpdateParameters"
              }
            }
          },
          "description": "The parameters for updating a machine learning workspace.",
          "required": true
        },
        "x-ms-examples": {
          "Update Workspace": {
            "parameters": {
              "parameters": {
                "properties": {
                  "description": "new description",
                  "friendlyName": "New friendly name"
                }
              },
              "api-version": "2019-06-01",
              "resourceGroupName": "workspace-1234",
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "workspaceName": "testworkspace"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace",
                  "location": "eastus2euap",
                  "name": "testworkspace",
                  "properties": {
                    "applicationInsights": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights",
                    "containerRegistry": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry",
                    "creationTime": "2017-03-01 23:14:37.070780+00:00",
                    "description": "new description",
                    "discoveryUrl": "http://example.com",
                    "friendlyName": "New friendly name",
                    "keyVault": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv",
                    "storageAccount": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount"
                  },
                  "type": "Microsoft.MachineLearningServices/workspaces"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkspaceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineLearningServiceError"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "Workspaces"
        ],
        "description": "Creates or updates a workspace with the specified parameters.",
        "operationId": "Workspaces_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Workspace"
              }
            }
          },
          "description": "The parameters for creating or updating a machine learning workspace.",
          "required": true
        },
        "x-ms-examples": {
          "Create Workspace": {
            "parameters": {
              "parameters": {
                "location": "eastus2euap",
                "properties": {
                  "applicationInsights": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights",
                  "containerRegistry": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry",
                  "description": "test description",
                  "friendlyName": "HelloName",
                  "keyVault": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv",
                  "storageAccount": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount"
                }
              },
              "api-version": "2019-06-01",
[...]
