{
  "openapi": "3.0.3",
  "info": {
    "title": "Mercury API",
    "description": "Mercury's API for business banking account balances, transaction histories, recipients, payments, cards, events, webhooks, and organization information. API tokens are created in Mercury settings and are sent as bearer tokens.",
    "version": "1.0.0",
    "termsOfService": "https://mercury.com/legal",
    "license": {
      "name": "Proprietary",
      "url": "https://mercury.com/legal"
    },
    "contact": {
      "name": "Mercury Support",
      "url": "https://mercury.com/contact"
    },
    "x-jentic-source-url": "https://docs.mercury.com/llms.txt"
  },
  "servers": [
    {
      "url": "https://api.mercury.com/api/v1",
      "description": "Mercury API"
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "operationId": "getAccounts",
        "summary": "Get all accounts",
        "description": "Retrieve a paginated list of accounts. Supports cursor-based pagination with limit, order, start_after, and end_before query parameters.",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Order"
          },
          {
            "$ref": "#/components/parameters/StartAfter"
          },
          {
            "$ref": "#/components/parameters/EndBefore"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated accounts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsPaginatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/accounts/{accountId}/transactions": {
      "get": {
        "operationId": "listAccountTransactions",
        "summary": "List account transactions",
        "description": "Retrieve a paginated list of transactions for a specific account. Supports date, status, search, and cursor filters.",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Order"
          },
          {
            "$ref": "#/components/parameters/StartAfter"
          },
          {
            "$ref": "#/components/parameters/EndBefore"
          },
          {
            "$ref": "#/components/parameters/StartDate"
          },
          {
            "$ref": "#/components/parameters/EndDate"
          },
          {
            "$ref": "#/components/parameters/Status"
          },
          {
            "$ref": "#/components/parameters/Search"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated transactions for an account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionsPaginatedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{accountId}/cards": {
      "get": {
        "operationId": "getAccountCards",
        "summary": "Get cards for account",
        "description": "Retrieve all debit and credit cards associated with a specific account.",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "Cards associated with the account.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cards": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Card"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/transactions": {
      "get": {
        "operationId": "listTransactions",
        "summary": "List all transactions",
        "description": "Retrieve a paginated list of all transactions across all accounts. Supports advanced filtering by date ranges, status, categories, accounts, cards, and cursor pagination.",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Order"
          },
          {
            "$ref": "#/components/parameters/StartAfter"
          },
          {
            "$ref": "#/components/parameters/EndBefore"
          },
          {
            "$ref": "#/components/parameters/StartDate"
          },
          {
            "$ref": "#/components/parameters/EndDate"
          },
          {
            "$ref": "#/components/parameters/Status"
          },
          {
            "$ref": "#/components/parameters/Search"
          },
          {
            "name": "accountId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "cardId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "categoryId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "mercuryCategory",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated transactions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionsPaginatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/transactions/{transactionId}": {
      "get": {
        "operationId": "getTransactionById",
        "summary": "Get a transaction by ID",
        "description": "Retrieve a single transaction by its ID, including attachments and related metadata.",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TransactionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateTransaction",
        "summary": "Update transaction metadata",
        "description": "Update the note and/or category of an existing transaction. Use null values to clear existing data.",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TransactionId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "note": {
                    "type": "string",
                    "nullable": true
                  },
                  "categoryId": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/recipients": {
      "get": {
        "operationId": "getRecipients",
        "summary": "Get all recipients",
        "description": "Retrieve a paginated list of all recipients.",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Order"
          },
          {
            "$ref": "#/components/parameters/StartAfter"
          },
          {
            "$ref": "#/components/parameters/EndBefore"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated recipients.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipientsPaginatedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createRecipient",
        "summary": "Add a new recipient",
        "description": "Create a new recipient for making payments.",
        "tags": [
          "Recipients"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRecipientRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created recipient.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recipient"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/recipients/{recipientId}": {
      "get": {
        "operationId": "getRecipient",
        "summary": "Get recipient by ID",
        "description": "Retrieve details of a specific recipient by ID.",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipientId"
          }
        ],
        "responses": {
          "200": {
            "description": "Recipient details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recipient"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/transactions/pay": {
      "post": {
        "operationId": "createTransaction",
        "summary": "Send money to a recipient",
        "description": "Send money from an account to a recipient. Creates a transaction that will be processed immediately or may require approval.",
        "tags": [
          "Transactions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created payment transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/cards": {
      "get": {
        "operationId": "listCards",
        "summary": "List cards",
        "description": "Retrieve a paginated list of cards.",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Order"
          },
          {
            "$ref": "#/components/parameters/StartAfter"
          },
          {
            "$ref": "#/components/parameters/EndBefore"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated cards.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardsPaginatedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/categories": {
      "get": {
        "operationId": "listCategories",
        "summary": "List all categories",
        "description": "Retrieve a paginated list of custom expense categories for the organization.",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Order"
          },
          {
            "$ref": "#/components/parameters/StartAfter"
          },
          {
            "$ref": "#/components/parameters/EndBefore"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated categories.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoriesPaginatedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/events": {
      "get": {
        "operationId": "getEvents",
        "summary": "Get all events",
        "description": "Retrieve auditable resource-change events for the authenticated organization.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Order"
          },
          {
            "$ref": "#/components/parameters/StartAfter"
          },
          {
            "$ref": "#/components/parameters/EndBefore"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated events.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventsPaginatedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/events/{eventId}": {
      "get": {
        "operationId": "getEvent",
        "summary": "Get event by ID",
        "description": "Retrieve a single Mercury event by ID.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EventId"
          }
        ],
        "responses": {
          "200": {
            "description": "Event details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "operationId": "getWebhooks",
        "summary": "Get webhook endpoints",
        "description": "Retrieve a paginated list of webhook endpoints for the organization. Supports filtering by status.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Order"
          },
          {
            "$ref": "#/components/parameters/StartAfter"
          },
          {
            "$ref": "#/components/parameters/EndBefore"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated webhook endpoints.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhooksPaginatedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Create a new webhook endpoint",
        "description": "Register a webhook endpoint to receive Mercury event notifications.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created webhook endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpoint"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/organization": {
      "get": {
        "operationId": "getOrganization",
        "summary": "Get organization information",
        "description": "Retrieve information about the authenticated Mercury organization, including legal business name and DBAs.",
        "tags": [
          "Organization"
        ],
        "responses": {
          "200": {
            "description": "Organization information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/oauth/authorize": {
      "get": {
        "operationId": "startOAuth2Flow",
        "summary": "Start OAuth2 web flow",
        "description": "Initiate the OAuth2 authorization flow and redirect the user to Mercury's consent page.",
        "tags": [
          "OAuth"
        ],
        "security": [],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "response_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "code"
              ]
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OAuth authorization page."
          },
          "302": {
            "description": "Redirect to Mercury consent."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "operationId": "obtainAccessToken",
        "summary": "Obtain an access token",
        "description": "Exchange an authorization code for an access token.",
        "tags": [
          "OAuth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type",
                  "code",
                  "redirect_uri",
                  "client_id",
                  "client_secret"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "authorization_code"
                    ]
                  },
                  "code": {
                    "type": "string"
                  },
                  "redirect_uri": {
                    "type": "string",
                    "format": "uri"
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OAuth2 token response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthTokenResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication for Mercury API. Use an API token in the Authorization header, including Mercury's secret-token prefix when applicable."
      }
    },
    "parameters": {
      "AccountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "TransactionId": {
        "name": "transactionId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "RecipientId": {
        "name": "recipientId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "EventId": {
        "name": "eventId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 1000,
          "default": 1000
        }
      },
      "Order": {
        "name": "order",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "asc",
            "desc"
          ],
          "default": "asc"
        }
      },
      "StartAfter": {
        "name": "start_after",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "EndBefore": {
        "name": "end_before",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "StartDate": {
        "name": "start",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "description": "Earliest date to filter for. Accepts YYYY-MM-DD or ISO 8601 strings."
        }
      },
      "EndDate": {
        "name": "end",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "description": "Latest date to filter for. Accepts YYYY-MM-DD or ISO 8601 strings."
        }
      },
      "Status": {
        "name": "status",
        "in": "query",
        "required": false,
        "schema": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/TransactionStatus"
          }
        },
        "style": "form",
        "explode": true
      },
      "Search": {
        "name": "search",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request."
      },
      "Unauthorized": {
        "description": "Authentication is missing or invalid."
      },
      "NotFound": {
        "description": "Requested resource was not found."
      }
    },
    "schemas": {
      "Page": {
        "type": "object",
        "properties": {
          "nextPage": {
            "type": "string",
            "nullable": true
          },
          "previousPage": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "accountNumber",
          "routingNumber",
          "name",
          "status",
          "type",
          "createdAt",
          "availableBalance",
          "currentBalance"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "accountNumber": {
            "type": "string"
          },
          "routingNumber": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "nickname": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "deleted",
              "pending",
              "archived"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "mercury",
              "external",
              "recipient"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "availableBalance": {
            "type": "number"
          },
          "currentBalance": {
            "type": "number"
          },
          "legalBusinessName": {
            "type": "string"
          },
          "dashboardLink": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "AccountsPaginatedResponse": {
        "type": "object",
        "required": [
          "accounts",
          "page"
        ],
        "properties": {
          "accounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          },
          "page": {
            "$ref": "#/components/schemas/Page"
          }
        }
      },
      "TransactionStatus": {
        "type": "string",
        "enum": [
          "pending",
          "sent",
          "cancelled",
          "failed",
          "reversed",
          "blocked"
        ]
      },
      "Transaction": {
        "type": "object",
        "required": [
          "id",
          "amount",
          "createdAt",
          "status",
          "counterpartyName",
          "kind",
          "accountId"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "accountId": {
            "type": "string",
            "format": "uuid"
          },
          "amount": {
            "type": "number"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "postedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "status": {
            "$ref": "#/components/schemas/TransactionStatus"
          },
          "counterpartyName": {
            "type": "string"
          },
          "counterpartyId": {
            "type": "string",
            "nullable": true
          },
          "kind": {
            "type": "string"
          },
          "note": {
            "type": "string",
            "nullable": true
          },
          "dashboardLink": {
            "type": "string",
            "format": "uri"
          },
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Attachment"
            }
          }
        }
      },
      "TransactionsPaginatedResponse": {
        "type": "object",
        "required": [
          "transactions",
          "page"
        ],
        "properties": {
          "transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          },
          "page": {
            "$ref": "#/components/schemas/Page"
          }
        }
      },
      "Recipient": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "status": {
            "type": "string"
          },
          "dashboardLink": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "RecipientsPaginatedResponse": {
        "type": "object",
        "properties": {
          "recipients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Recipient"
            }
          },
          "page": {
            "$ref": "#/components/schemas/Page"
          }
        }
      },
      "CreateRecipientRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          }
        }
      },
      "CreatePaymentRequest": {
        "type": "object",
        "required": [
          "accountId",
          "recipientId",
          "amount"
        ],
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid"
          },
          "recipientId": {
            "type": "string",
            "format": "uuid"
          },
          "amount": {
            "type": "number"
          },
          "paymentMethod": {
            "type": "string"
          },
          "idempotencyKey": {
            "type": "string"
          },
          "note": {
            "type": "string"
          }
        }
      },
      "Card": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "accountId": {
            "type": "string",
            "format": "uuid"
          },
          "nickname": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "spendingLimits": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "CardsPaginatedResponse": {
        "type": "object",
        "properties": {
          "cards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Card"
            }
          },
          "page": {
            "$ref": "#/components/schemas/Page"
          }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "visibleForCardSpend": {
            "type": "boolean"
          },
          "visibleForOther": {
            "type": "boolean"
          },
          "visibleForReimbursements": {
            "type": "boolean"
          }
        }
      },
      "CategoriesPaginatedResponse": {
        "type": "object",
        "properties": {
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Category"
            }
          },
          "page": {
            "$ref": "#/components/schemas/Page"
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "eventType": {
            "type": "string",
            "example": "transaction.created"
          },
          "resourceType": {
            "type": "string"
          },
          "resourceId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "changes": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "EventsPaginatedResponse": {
        "type": "object",
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          },
          "page": {
            "$ref": "#/components/schemas/Page"
          }
        }
      },
      "WebhookEndpoint": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "status": {
            "type": "string"
          },
          "eventTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "WebhooksPaginatedResponse": {
        "type": "object",
        "properties": {
          "webhooks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEndpoint"
            }
          },
          "page": {
            "$ref": "#/components/schemas/Page"
          }
        }
      },
      "CreateWebhookRequest": {
        "type": "object",
        "required": [
          "url",
          "eventTypes"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "eventTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Organization": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "legalBusinessName": {
            "type": "string"
          },
          "ein": {
            "type": "string"
          },
          "doingBusinessAs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Attachment": {
        "type": "object",
        "properties": {
          "fileName": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "attachmentType": {
            "type": "string"
          }
        }
      },
      "OAuthTokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "token_type": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer"
          },
          "refresh_token": {
            "type": "string"
          },
          "scope": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": "Mercury account balances and statements."
    },
    {
      "name": "Transactions",
      "description": "Transaction history, metadata, attachments, and payments."
    },
    {
      "name": "Recipients",
      "description": "Payment recipients and recipient invites."
    },
    {
      "name": "Cards",
      "description": "Debit and credit card records."
    },
    {
      "name": "Events",
      "description": "Auditable changes to Mercury resources."
    },
    {
      "name": "Webhooks",
      "description": "Webhook endpoints for real-time Mercury event delivery."
    },
    {
      "name": "Organization",
      "description": "Authenticated organization information."
    },
    {
      "name": "OAuth",
      "description": "OAuth2 authorization flow for integrations."
    }
  ]
}