{
  "openapi": "3.1.0",
  "info": {
    "title": "Kraken Spot REST API",
    "description": "Kraken cryptocurrency exchange REST API for market data, account management, trading, and funding operations.",
    "version": "1.0.0",
    "contact": {
      "name": "Kraken Support",
      "url": "https://support.kraken.com"
    },
    "termsOfService": "https://www.kraken.com/legal"
  },
  "servers": [
    {
      "url": "https://api.kraken.com/0",
      "description": "Kraken REST API"
    }
  ],
  "security": [],
  "paths": {
    "/public/Time": {
      "get": {
        "operationId": "getServerTime",
        "summary": "Get Server Time",
        "description": "Get the server's time.",
        "tags": ["Market Data"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "array", "items": { "type": "string" } },
                    "result": {
                      "type": "object",
                      "properties": {
                        "unixtime": { "type": "integer", "description": "Unix timestamp" },
                        "rfc1123": { "type": "string", "description": "RFC 1123 time format" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public/SystemStatus": {
      "get": {
        "operationId": "getSystemStatus",
        "summary": "Get System Status",
        "description": "Get the current system status or trading mode.",
        "tags": ["Market Data"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/Assets": {
      "get": {
        "operationId": "getAssetInfo",
        "summary": "Get Asset Info",
        "description": "Get information about the assets available for trading on Kraken.",
        "tags": ["Market Data"],
        "parameters": [
          {
            "name": "asset",
            "in": "query",
            "description": "Comma-delimited list of assets to get info on.",
            "schema": { "type": "string" }
          },
          {
            "name": "aclass",
            "in": "query",
            "description": "Asset class (default: currency).",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/public/AssetPairs": {
      "get": {
        "operationId": "getTradableAssetPairs",
        "summary": "Get Tradable Asset Pairs",
        "description": "Get tradable asset pairs with their details including fees, leverage, and margins.",
        "tags": ["Market Data"],
        "parameters": [
          {
            "name": "pair",
            "in": "query",
            "description": "Comma-delimited list of asset pairs to get info on.",
            "schema": { "type": "string" }
          },
          {
            "name": "info",
            "in": "query",
            "description": "Info to retrieve: info (all, default), leverage, fees, margin.",
            "schema": { "type": "string", "enum": ["info", "leverage", "fees", "margin"] }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/public/Ticker": {
      "get": {
        "operationId": "getTickerInformation",
        "summary": "Get Ticker Information",
        "description": "Get ticker information for given asset pairs.",
        "tags": ["Market Data"],
        "parameters": [
          {
            "name": "pair",
            "in": "query",
            "required": true,
            "description": "Comma-delimited list of asset pairs to get info on.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/public/OHLC": {
      "get": {
        "operationId": "getOHLCData",
        "summary": "Get OHLC Data",
        "description": "Get OHLC (open, high, low, close) data for a given asset pair.",
        "tags": ["Market Data"],
        "parameters": [
          {
            "name": "pair",
            "in": "query",
            "required": true,
            "description": "Asset pair to get data for.",
            "schema": { "type": "string" }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Time frame interval in minutes (default: 1).",
            "schema": { "type": "integer", "enum": [1, 5, 15, 30, 60, 240, 1440, 10080, 21600] }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Return committed OHLC data since given Unix timestamp.",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/public/Depth": {
      "get": {
        "operationId": "getOrderBook",
        "summary": "Get Order Book",
        "description": "Get the current order book for a given asset pair.",
        "tags": ["Market Data"],
        "parameters": [
          {
            "name": "pair",
            "in": "query",
            "required": true,
            "description": "Asset pair to get data for.",
            "schema": { "type": "string" }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Maximum number of asks/bids.",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/public/Trades": {
      "get": {
        "operationId": "getRecentTrades",
        "summary": "Get Recent Trades",
        "description": "Get recent trades for a given asset pair.",
        "tags": ["Market Data"],
        "parameters": [
          {
            "name": "pair",
            "in": "query",
            "required": true,
            "description": "Asset pair to get data for.",
            "schema": { "type": "string" }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Return trade data since given timestamp.",
            "schema": { "type": "string" }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of results (default: 1000).",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/public/Spread": {
      "get": {
        "operationId": "getRecentSpreads",
        "summary": "Get Recent Spreads",
        "description": "Get recent spread data for a given asset pair.",
        "tags": ["Market Data"],
        "parameters": [
          {
            "name": "pair",
            "in": "query",
            "required": true,
            "description": "Asset pair to get data for.",
            "schema": { "type": "string" }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Return spread data since given timestamp.",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/private/Balance": {
      "post": {
        "operationId": "getAccountBalance",
        "summary": "Get Account Balance",
        "description": "Retrieve all cash balances, net of pending withdrawals.",
        "tags": ["Account Data"],
        "security": [{ "ApiKeyAuth": [] }, { "ApiSignAuth": [] }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "nonce": { "type": "integer", "description": "Nonce used in construction of API-Sign header." }
                },
                "required": ["nonce"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/private/BalanceEx": {
      "post": {
        "operationId": "getExtendedBalance",
        "summary": "Get Extended Balance",
        "description": "Retrieve all extended account balances including credits and holds.",
        "tags": ["Account Data"],
        "security": [{ "ApiKeyAuth": [] }, { "ApiSignAuth": [] }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": { "$ref": "#/components/schemas/PrivateRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/private/TradeBalance": {
      "post": {
        "operationId": "getTradeBalance",
        "summary": "Get Trade Balance",
        "description": "Retrieve a summary of collateral balances, margin position valuations, equity, and margin level.",
        "tags": ["Account Data"],
        "security": [{ "ApiKeyAuth": [] }, { "ApiSignAuth": [] }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "allOf": [
                  { "$ref": "#/components/schemas/PrivateRequest" },
                  {
                    "type": "object",
                    "properties": {
                      "asset": { "type": "string", "description": "Base asset used to determine balance (default: ZUSD)." }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/private/OpenOrders": {
      "post": {
        "operationId": "getOpenOrders",
        "summary": "Get Open Orders",
        "description": "Retrieve information about currently open orders.",
        "tags": ["Account Data"],
        "security": [{ "ApiKeyAuth": [] }, { "ApiSignAuth": [] }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "allOf": [
                  { "$ref": "#/components/schemas/PrivateRequest" },
                  {
                    "type": "object",
                    "properties": {
                      "trades": { "type": "boolean", "description": "Whether to include trades related to position in output." },
                      "userref": { "type": "integer", "description": "Restrict results to given user reference id." }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/private/ClosedOrders": {
      "post": {
        "operationId": "getClosedOrders",
        "summary": "Get Closed Orders",
        "description": "Retrieve information about orders that have been closed.",
        "tags": ["Account Data"],
        "security": [{ "ApiKeyAuth": [] }, { "ApiSignAuth": [] }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "allOf": [
                  { "$ref": "#/components/schemas/PrivateRequest" },
                  {
                    "type": "object",
                    "properties": {
                      "trades": { "type": "boolean" },
                      "userref": { "type": "integer" },
                      "start": { "type": "integer", "description": "Starting Unix timestamp or order tx ID." },
                      "end": { "type": "integer", "description": "Ending Unix timestamp or order tx ID." },
                      "ofs": { "type": "integer", "description": "Result offset for pagination." }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/private/QueryOrders": {
      "post": {
        "operationId": "queryOrdersInfo",
        "summary": "Query Orders Info",
        "description": "Retrieve order information for specific orders.",
        "tags": ["Account Data"],
        "security": [{ "ApiKeyAuth": [] }, { "ApiSignAuth": [] }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "allOf": [
                  { "$ref": "#/components/schemas/PrivateRequest" },
                  {
                    "type": "object",
                    "properties": {
                      "txid": { "type": "string", "description": "Comma-delimited list of transaction IDs to query." },
                      "trades": { "type": "boolean" }
                    },
                    "required": ["txid"]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/private/TradesHistory": {
      "post": {
        "operationId": "getTradesHistory",
        "summary": "Get Trades History",
        "description": "Retrieve information about trades and fills.",
        "tags": ["Account Data"],
        "security": [{ "ApiKeyAuth": [] }, { "ApiSignAuth": [] }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "allOf": [
                  { "$ref": "#/components/schemas/PrivateRequest" },
                  {
                    "type": "object",
                    "properties": {
                      "type": { "type": "string", "description": "Type of trade." },
                      "trades": { "type": "boolean" },
                      "start": { "type": "integer" },
                      "end": { "type": "integer" },
                      "ofs": { "type": "integer" }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/private/OpenPositions": {
      "post": {
        "operationId": "getOpenPositions",
        "summary": "Get Open Positions",
        "description": "Get information about open margin positions.",
        "tags": ["Account Data"],
        "security": [{ "ApiKeyAuth": [] }, { "ApiSignAuth": [] }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "allOf": [
                  { "$ref": "#/components/schemas/PrivateRequest" },
                  {
                    "type": "object",
                    "properties": {
                      "txid": { "type": "string" },
                      "docalcs": { "type": "boolean", "description": "Whether to include P&L calculations." }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/private/Ledgers": {
      "post": {
        "operationId": "getLedgersInfo",
        "summary": "Get Ledgers Info",
        "description": "Retrieve information about ledger entries.",
        "tags": ["Account Data"],
        "security": [{ "ApiKeyAuth": [] }, { "ApiSignAuth": [] }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "allOf": [
                  { "$ref": "#/components/schemas/PrivateRequest" },
                  {
                    "type": "object",
                    "properties": {
                      "asset": { "type": "string" },
                      "aclass": { "type": "string" },
                      "type": { "type": "string", "description": "Type of ledger: all, deposit, withdrawal, trade, margin." },
                      "start": { "type": "integer" },
                      "end": { "type": "integer" },
                      "ofs": { "type": "integer" }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/private/TradeVolume": {
      "post": {
        "operationId": "getTradeVolume",
        "summary": "Get Trade Volume",
        "description": "Get trade volume and fee information.",
        "tags": ["Account Data"],
        "security": [{ "ApiKeyAuth": [] }, { "ApiSignAuth": [] }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "allOf": [
                  { "$ref": "#/components/schemas/PrivateRequest" },
                  {
                    "type": "object",
                    "properties": {
                      "pair": { "type": "string", "description": "Comma-delimited list of asset pairs to get fee info on." }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/private/AddOrder": {
      "post": {
        "operationId": "addOrder",
        "summary": "Add Order",
        "description": "Place a new order.",
        "tags": ["Trading"],
        "security": [{ "ApiKeyAuth": [] }, { "ApiSignAuth": [] }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "allOf": [
                  { "$ref": "#/components/schemas/PrivateRequest" },
                  {
                    "type": "object",
                    "properties": {
                      "ordertype": { "type": "string", "description": "Order type.", "enum": ["market", "limit", "stop-loss", "take-profit", "stop-loss-limit", "take-profit-limit", "settle-position"] },
                      "type": { "type": "string", "description": "Order direction.", "enum": ["buy", "sell"] },
                      "volume": { "type": "string", "description": "Order quantity in terms of the base asset." },
                      "displayvol": { "type": "string", "description": "Used to create an iceberg order." },
                      "pair": { "type": "string", "description": "Asset pair." },
                      "price": { "type": "string", "description": "Price (limit price for limit orders, trigger for stop orders)." },
                      "price2": { "type": "string", "description": "Secondary price." },
                      "trigger": { "type": "string", "description": "Price signal type.", "enum": ["index", "last"] },
                      "leverage": { "type": "string", "description": "Amount of leverage desired." },
                      "reduce_only": { "type": "boolean", "description": "If true, order is reduce-only." },
                      "stptype": { "type": "string", "description": "Self trade prevention type.", "enum": ["cancel-newest", "cancel-oldest", "cancel-both"] },
                      "oflags": { "type": "string", "description": "Comma-delimited order flags (post, fcib, fciq, nompp, viqc)." },
                      "timeinforce": { "type": "string", "description": "Time in force.", "enum": ["GTC", "IOC", "GTD"] },
                      "starttm": { "type": "string", "description": "Scheduled start time." },
                      "expiretm": { "type": "string", "description": "Expiration time." },
                      "close[ordertype]": { "type": "string", "description": "Conditional close order type." },
                      "close[price]": { "type": "string", "description": "Conditional close order price." },
                      "close[price2]": { "type": "string", "description": "Conditional close order secondary price." },
                      "deadline": { "type": "string", "description": "RFC3339 timestamp deadline for order." },
                      "validate": { "type": "boolean", "description": "Validate inputs only, do not submit order." },
                      "userref": { "type": "integer", "description": "User reference id." }
                    },
                    "required": ["ordertype", "type", "pair"]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/private/AmendOrder": {
      "post": {
        "operationId": "amendOrder",
        "summary": "Amend Order",
        "description": "Amend an existing open order.",
        "tags": ["Trading"],
        "security": [{ "ApiKeyAuth": [] }, { "ApiSignAuth": [] }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "allOf": [
                  { "$ref": "#/components/schemas/PrivateRequest" },
                  {
                    "type": "object",
                    "properties": {
                      "txid": { "type": "string", "description": "Original order transaction ID." },
                      "pair": { "type": "string" },
                      "volume": { "type": "string" },
                      "displayvol": { "type": "string" },
                      "price": { "type": "string" },
                      "price2": { "type": "string" },
                      "oflags": { "type": "string" },
                      "deadline": { "type": "string" }
                    },
                    "required": ["txid"]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/private/CancelOrder": {
      "post": {
        "operationId": "cancelOrder",
        "summary": "Cancel Order",
        "description": "Cancel a particular open order or set of open orders.",
        "tags": ["Trading"],
        "security": [{ "ApiKeyAuth": [] }, { "ApiSignAuth": [] }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "allOf": [
                  { "$ref": "#/components/schemas/PrivateRequest" },
                  {
                    "type": "object",
                    "properties": {
                      "txid": { "type": "string", "description": "Open order transaction ID or user reference to cancel." }
                    },
                    "required": ["txid"]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/private/CancelAll": {
      "post": {
        "operationId": "cancelAllOrders",
        "summary": "Cancel All Orders",
        "description": "Cancel all open orders.",
        "tags": ["Trading"],
        "security": [{ "ApiKeyAuth": [] }, { "ApiSignAuth": [] }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": { "$ref": "#/components/schemas/PrivateRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/private/CancelAllOrdersAfter": {
      "post": {
        "operationId": "cancelAllOrdersAfter",
        "summary": "Cancel All Orders After X",
        "description": "Set, extend, or unset a dead man's switch timer to cancel all orders after a timeout.",
        "tags": ["Trading"],
        "security": [{ "ApiKeyAuth": [] }, { "ApiSignAuth": [] }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "allOf": [
                  { "$ref": "#/components/schemas/PrivateRequest" },
                  {
                    "type": "object",
                    "properties": {
                      "timeout": { "type": "integer", "description": "Timeout in seconds (0 to disable)." }
                    },
                    "required": ["timeout"]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/private/AddOrderBatch": {
      "post": {
        "operationId": "addOrderBatch",
        "summary": "Add Order Batch",
        "description": "Send an array of orders (up to 15) in a single request.",
        "tags": ["Trading"],
        "security": [{ "ApiKeyAuth": [] }, { "ApiSignAuth": [] }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": { "$ref": "#/components/schemas/PrivateRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/private/CancelOrderBatch": {
      "post": {
        "operationId": "cancelOrderBatch",
        "summary": "Cancel Order Batch",
        "description": "Cancel multiple orders by transaction ID or user reference in a single request.",
        "tags": ["Trading"],
        "security": [{ "ApiKeyAuth": [] }, { "ApiSignAuth": [] }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": { "$ref": "#/components/schemas/PrivateRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/private/GetWebSocketsToken": {
      "post": {
        "operationId": "getWebSocketsToken",
        "summary": "Get Websockets Token",
        "description": "Obtain a token to use for authenticating with WebSocket connections.",
        "tags": ["Trading"],
        "security": [{ "ApiKeyAuth": [] }, { "ApiSignAuth": [] }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": { "$ref": "#/components/schemas/PrivateRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/private/DepositMethods": {
      "post": {
        "operationId": "getDepositMethods",
        "summary": "Get Deposit Methods",
        "description": "Retrieve methods available for depositing a particular asset.",
        "tags": ["Funding"],
        "security": [{ "ApiKeyAuth": [] }, { "ApiSignAuth": [] }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "allOf": [
                  { "$ref": "#/components/schemas/PrivateRequest" },
                  {
                    "type": "object",
                    "properties": {
                      "asset": { "type": "string", "description": "Asset being deposited." }
                    },
                    "required": ["asset"]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/private/DepositAddresses": {
      "post": {
        "operationId": "getDepositAddresses",
        "summary": "Get Deposit Addresses",
        "description": "Retrieve (or generate a new) deposit addresses for a particular asset and method.",
        "tags": ["Funding"],
        "security": [{ "ApiKeyAuth": [] }, { "ApiSignAuth": [] }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "allOf": [
                  { "$ref": "#/components/schemas/PrivateRequest" },
                  {
                    "type": "object",
                    "properties": {
                      "asset": { "type": "string" },
                      "method": { "type": "string" },
                      "new": { "type": "boolean", "description": "Whether to generate a new address." }
                    },
                    "required": ["asset", "method"]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/private/DepositStatus": {
      "post": {
        "operationId": "getDepositStatus",
        "summary": "Get Status of Recent Deposits",
        "description": "Retrieve information about recent deposits.",
        "tags": ["Funding"],
        "security": [{ "ApiKeyAuth": [] }, { "ApiSignAuth": [] }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "allOf": [
                  { "$ref": "#/components/schemas/PrivateRequest" },
                  {
                    "type": "object",
                    "properties": {
                      "asset": { "type": "string" },
                      "method": { "type": "string" }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/private/WithdrawMethods": {
      "post": {
        "operationId": "getWithdrawalMethods",
        "summary": "Get Withdrawal Methods",
        "description": "Retrieve a list of withdrawal methods available for the user.",
        "tags": ["Funding"],
        "security": [{ "ApiKeyAuth": [] }, { "ApiSignAuth": [] }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "allOf": [
                  { "$ref": "#/components/schemas/PrivateRequest" },
                  {
                    "type": "object",
                    "properties": {
                      "asset": { "type": "string" }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/private/WithdrawAddresses": {
      "post": {
        "operationId": "getWithdrawalAddresses",
        "summary": "Get Withdrawal Addresses",
        "description": "Retrieve a list of withdrawal addresses available for the user.",
        "tags": ["Funding"],
        "security": [{ "ApiKeyAuth": [] }, { "ApiSignAuth": [] }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "allOf": [
                  { "$ref": "#/components/schemas/PrivateRequest" },
                  {
                    "type": "object",
                    "properties": {
                      "asset": { "type": "string" },
                      "method": { "type": "string" }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/private/WithdrawInfo": {
      "post": {
        "operationId": "getWithdrawalInfo",
        "summary": "Get Withdrawal Information",
        "description": "Retrieve fee information about a potential withdrawal.",
        "tags": ["Funding"],
        "security": [{ "ApiKeyAuth": [] }, { "ApiSignAuth": [] }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "allOf": [
                  { "$ref": "#/components/schemas/PrivateRequest" },
                  {
                    "type": "object",
                    "properties": {
                      "asset": { "type": "string" },
                      "key": { "type": "string", "description": "Withdrawal key name." },
                      "amount": { "type": "string", "description": "Amount to withdraw." }
                    },
                    "required": ["asset", "key", "amount"]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/private/Withdraw": {
      "post": {
        "operationId": "withdrawFunds",
        "summary": "Withdraw Funds",
        "description": "Make a withdrawal request.",
        "tags": ["Funding"],
        "security": [{ "ApiKeyAuth": [] }, { "ApiSignAuth": [] }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "allOf": [
                  { "$ref": "#/components/schemas/PrivateRequest" },
                  {
                    "type": "object",
                    "properties": {
                      "asset": { "type": "string" },
                      "key": { "type": "string" },
                      "amount": { "type": "string" },
                      "address": { "type": "string", "description": "Crypto address for withdrawal." }
                    },
                    "required": ["asset", "key", "amount"]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/private/WithdrawStatus": {
      "post": {
        "operationId": "getWithdrawalStatus",
        "summary": "Get Status of Recent Withdrawals",
        "description": "Retrieve information about recent withdrawals.",
        "tags": ["Funding"],
        "security": [{ "ApiKeyAuth": [] }, { "ApiSignAuth": [] }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "allOf": [
                  { "$ref": "#/components/schemas/PrivateRequest" },
                  {
                    "type": "object",
                    "properties": {
                      "asset": { "type": "string" },
                      "method": { "type": "string" }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/private/WithdrawCancel": {
      "post": {
        "operationId": "cancelWithdrawal",
        "summary": "Request Withdrawal Cancellation",
        "description": "Cancel a recently requested withdrawal, if it has not already been processed.",
        "tags": ["Funding"],
        "security": [{ "ApiKeyAuth": [] }, { "ApiSignAuth": [] }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "allOf": [
                  { "$ref": "#/components/schemas/PrivateRequest" },
                  {
                    "type": "object",
                    "properties": {
                      "asset": { "type": "string" },
                      "refid": { "type": "string", "description": "Withdrawal reference ID." }
                    },
                    "required": ["asset", "refid"]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/private/WalletTransfer": {
      "post": {
        "operationId": "walletTransfer",
        "summary": "Request Wallet Transfer",
        "description": "Transfer from the Kraken spot wallet to a Kraken Futures wallet.",
        "tags": ["Funding"],
        "security": [{ "ApiKeyAuth": [] }, { "ApiSignAuth": [] }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "allOf": [
                  { "$ref": "#/components/schemas/PrivateRequest" },
                  {
                    "type": "object",
                    "properties": {
                      "asset": { "type": "string" },
                      "from": { "type": "string", "description": "Source wallet." },
                      "to": { "type": "string", "description": "Destination wallet." },
                      "amount": { "type": "string" }
                    },
                    "required": ["asset", "from", "to", "amount"]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/private/Earn/Allocate": {
      "post": {
        "operationId": "allocateEarnFunds",
        "summary": "Allocate Earn Funds",
        "description": "Allocate funds to the specified earn strategy.",
        "tags": ["Earn"],
        "security": [{ "ApiKeyAuth": [] }, { "ApiSignAuth": [] }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": { "$ref": "#/components/schemas/PrivateRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/private/Earn/Deallocate": {
      "post": {
        "operationId": "deallocateEarnFunds",
        "summary": "Deallocate Earn Funds",
        "description": "Deallocate funds from the specified earn strategy.",
        "tags": ["Earn"],
        "security": [{ "ApiKeyAuth": [] }, { "ApiSignAuth": [] }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": { "$ref": "#/components/schemas/PrivateRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/private/Earn/Strategies": {
      "post": {
        "operationId": "listEarnStrategies",
        "summary": "List Earn Strategies",
        "description": "List earn strategies along with their parameters.",
        "tags": ["Earn"],
        "security": [{ "ApiKeyAuth": [] }, { "ApiSignAuth": [] }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": { "$ref": "#/components/schemas/PrivateRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    },
    "/private/Earn/Allocations": {
      "post": {
        "operationId": "listEarnAllocations",
        "summary": "List Earn Allocations",
        "description": "List all allocations for the user.",
        "tags": ["Earn"],
        "security": [{ "ApiKeyAuth": [] }, { "ApiSignAuth": [] }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": { "$ref": "#/components/schemas/PrivateRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "API-Key",
        "description": "Your Kraken API key."
      },
      "ApiSignAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "API-Sign",
        "description": "HMAC-SHA512 signature of the request using your API secret."
      }
    },
    "schemas": {
      "GenericResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Array of error messages."
          },
          "result": {
            "description": "Response data (varies by endpoint)."
          }
        }
      },
      "PrivateRequest": {
        "type": "object",
        "properties": {
          "nonce": {
            "type": "integer",
            "description": "Nonce used in construction of API-Sign header. Must be an always increasing unsigned 64-bit integer."
          },
          "otp": {
            "type": "string",
            "description": "Two-factor authentication password (if enabled)."
          }
        },
        "required": ["nonce"]
      }
    }
  },
  "tags": [
    { "name": "Market Data", "description": "Public market data endpoints." },
    { "name": "Account Data", "description": "Private account data endpoints requiring authentication." },
    { "name": "Trading", "description": "Private trading endpoints requiring authentication." },
    { "name": "Funding", "description": "Private funding endpoints requiring authentication." },
    { "name": "Earn", "description": "Private earn/staking endpoints requiring authentication." }
  ]
}