{
  "openapi": "3.0.3",
  "info": {
    "title": "Commerzbank PSD2 API",
    "version": "8.0.0",
    "description": "Commerzbank PSD2 API implementing BerlinGroup XS2A specifications v1.3.11 for Payment Initiation Services (PIS), Account Information Services (AIS), and Funds Confirmation Services (FCS).",
    "x-jentic-source-url": "https://psd2.developer.commerzbank.com/apis"
  },
  "servers": [{"url": "https://psd2.api.commerzbank.com"}],
  "paths": {
    "/berlingroup/v1/{payment-service}/{payment-product}": {
      "post": {
        "operationId": "initiatePayment", "summary": "Initiate a payment", "description": "Payment initiation request for single and periodic payments", "tags": ["PaymentInitiation"],
        "parameters": [
          {"name": "payment-service", "in": "path", "required": true, "schema": {"type": "string", "enum": ["payments", "periodic-payments"]}},
          {"name": "payment-product", "in": "path", "required": true, "schema": {"type": "string", "enum": ["sepa-credit-transfers", "instant-sepa-credit-transfers", "cross-border-credit-transfers"]}}
        ],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaymentInitiationRequest"}}}},
        "responses": {
          "201": {"description": "Payment initiated", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaymentInitiationResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/berlingroup/v1/{payment-service}/{payment-product}/{paymentId}/status": {
      "get": {
        "operationId": "getPaymentStatus", "summary": "Get payment status", "tags": ["PaymentInitiation"],
        "parameters": [
          {"name": "payment-service", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "payment-product", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "paymentId", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Payment status", "content": {"application/json": {"schema": {"type": "object", "properties": {"transactionStatus": {"type": "string"}}}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/berlingroup/v1/{payment-service}/{payment-product}/{paymentId}": {
      "delete": {
        "operationId": "cancelPayment", "summary": "Cancel a payment", "tags": ["PaymentInitiation"],
        "parameters": [
          {"name": "payment-service", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "payment-product", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "paymentId", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Payment cancelled"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/berlingroup/v1/payments/{payment-product}/{paymentId}": {
      "get": {
        "operationId": "getPaymentInfo", "summary": "Get payment information for single payments", "tags": ["PaymentInitiation"],
        "parameters": [
          {"name": "payment-product", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "paymentId", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Payment information", "content": {"application/json": {"schema": {"type": "object"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/berlingroup/v1/periodic-payments/{payment-product}/{paymentId}": {
      "get": {
        "operationId": "getPeriodicPaymentInfo", "summary": "Get periodic payment information", "tags": ["PaymentInitiation"],
        "parameters": [
          {"name": "payment-product", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "paymentId", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Periodic payment info", "content": {"application/json": {"schema": {"type": "object"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/berlingroup/v1/bulk-payments/{payment-product}": {
      "post": {
        "operationId": "initiateBulkPayment", "summary": "Initiate bulk payment", "tags": ["PaymentInitiation"],
        "parameters": [{"name": "payment-product", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}},
        "responses": {
          "201": {"description": "Bulk payment initiated", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaymentInitiationResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/berlingroup/v1/{payment-service}/{payment-product}/{paymentId}/{payment-authorisation}": {
      "get": {
        "operationId": "listAuthorisations", "summary": "List authorisation sub-resources", "tags": ["Authorisation"],
        "parameters": [
          {"name": "payment-service", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "payment-product", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "paymentId", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "payment-authorisation", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Authorisation list", "content": {"application/json": {"schema": {"type": "object"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "startAuthorisation", "summary": "Start authorisation process", "tags": ["Authorisation"],
        "parameters": [
          {"name": "payment-service", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "payment-product", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "paymentId", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "payment-authorisation", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {"content": {"application/json": {"schema": {"type": "object"}}}},
        "responses": {
          "201": {"description": "Authorisation started", "content": {"application/json": {"schema": {"type": "object"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PaymentInitiationRequest": {
        "type": "object",
        "properties": {
          "instructedAmount": {"type": "object", "properties": {"currency": {"type": "string"}, "amount": {"type": "string"}}},
          "debtorAccount": {"type": "object", "properties": {"iban": {"type": "string"}}},
          "creditorName": {"type": "string"},
          "creditorAccount": {"type": "object", "properties": {"iban": {"type": "string"}}},
          "remittanceInformationUnstructured": {"type": "string"}
        }
      },
      "PaymentInitiationResponse": {
        "type": "object",
        "properties": {
          "transactionStatus": {"type": "string"},
          "paymentId": {"type": "string"},
          "_links": {"type": "object"}
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "tppMessages": {"type": "array", "items": {"type": "object", "properties": {"category": {"type": "string"}, "code": {"type": "string"}, "text": {"type": "string"}}}}
        }
      }
    },
    "securitySchemes": {
      "oauth2": {"type": "oauth2", "flows": {"authorizationCode": {"authorizationUrl": "https://psd2.api.commerzbank.com/berlingroup/v1/oauth/authorize", "tokenUrl": "https://psd2.api.commerzbank.com/berlingroup/v1/oauth/token", "scopes": {}}}}
    }
  },
  "security": [{"oauth2": []}]
}
