{
  "openapi": "3.0.3",
  "info": {
    "title": "TableConvert API",
    "description": "TableConvert provides a table data conversion API supporting over 370 different conversion formats. Convert between Excel, CSV, JSON, HTML, Markdown, and many more table formats.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://tableconvert.com/api/"
  },
  "servers": [
    {
      "url": "https://api.tableconvert.com",
      "description": "TableConvert API"
    }
  ],
  "paths": {
    "/api/convert/excel-to-json": {
      "post": {
        "operationId": "convertExcelToJson",
        "summary": "Convert Excel to JSON",
        "description": "Convert Excel table data to JSON format.",
        "tags": [
          "Conversion"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ConversionRequest"
        },
        "responses": {
          "200": {
            "description": "Conversion successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/convert/csv-to-json": {
      "post": {
        "operationId": "convertCsvToJson",
        "summary": "Convert CSV to JSON",
        "description": "Convert CSV table data to JSON format.",
        "tags": [
          "Conversion"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ConversionRequest"
        },
        "responses": {
          "200": {
            "description": "Conversion successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/convert/json-to-csv": {
      "post": {
        "operationId": "convertJsonToCsv",
        "summary": "Convert JSON to CSV",
        "description": "Convert JSON table data to CSV format.",
        "tags": [
          "Conversion"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ConversionRequest"
        },
        "responses": {
          "200": {
            "description": "Conversion successful",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/convert/html-to-markdown": {
      "post": {
        "operationId": "convertHtmlToMarkdown",
        "summary": "Convert HTML to Markdown",
        "description": "Convert HTML table data to Markdown format.",
        "tags": [
          "Conversion"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ConversionRequest"
        },
        "responses": {
          "200": {
            "description": "Conversion successful",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/convert/markdown-to-html": {
      "post": {
        "operationId": "convertMarkdownToHtml",
        "summary": "Convert Markdown to HTML",
        "description": "Convert Markdown table data to HTML format.",
        "tags": [
          "Conversion"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ConversionRequest"
        },
        "responses": {
          "200": {
            "description": "Conversion successful",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/convert/csv-to-markdown": {
      "post": {
        "operationId": "convertCsvToMarkdown",
        "summary": "Convert CSV to Markdown",
        "description": "Convert CSV table data to Markdown format.",
        "tags": [
          "Conversion"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ConversionRequest"
        },
        "responses": {
          "200": {
            "description": "Conversion successful",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "requestBodies": {
      "ConversionRequest": {
        "required": true,
        "content": {
          "multipart/form-data": {
            "schema": {
              "$ref": "#/components/schemas/ConversionInput"
            }
          }
        }
      }
    },
    "schemas": {
      "ConversionInput": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "string",
            "description": "The input table data to convert."
          }
        }
      },
      "ConversionResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "string",
            "description": "The converted output data."
          },
          "format": {
            "type": "string",
            "description": "The output format."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message."
          },
          "code": {
            "type": "integer",
            "description": "Error code."
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key provided as a Bearer token in the Authorization header."
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}