{
  "openapi": "3.0.3",
  "info": {
    "title": "Nimble CRM API",
    "description": "Nimble CRM API provides access to contacts, deals, pipelines, messages, and related resources. Supports OAuth 2.0 authorization code flow.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://www.nimble.com/developers/docs/"
  },
  "servers": [
    {
      "url": "https://api.nimble.com/api/v1",
      "description": "Nimble API server"
    }
  ],
  "paths": {
    "/myself": {
      "get": {
        "operationId": "getcurrentuser",
        "summary": "Get current user info",
        "description": "Returns authenticated user information including company details.",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfo"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contacts": {
      "get": {
        "operationId": "listcontacts",
        "summary": "List contacts",
        "description": "Returns a filtered contact list with pagination.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search keyword"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to return"
          },
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by tags"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort criteria"
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Advanced query filter"
          },
          {
            "name": "record_type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by record type (person or company)"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30
            },
            "description": "Number of results per page"
          },
          {
            "name": "contexts",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by contexts"
          }
        ],
        "responses": {
          "200": {
            "description": "List of contacts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createcontact",
        "summary": "Create a contact",
        "description": "Create a new contact record.",
        "tags": [
          "Contacts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deletecontacts",
        "summary": "Batch delete contacts",
        "description": "Delete contacts matching a search query.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search keyword"
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Advanced query filter"
          },
          {
            "name": "record_type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Record type filter"
          },
          {
            "name": "preflight_checks",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Run preflight checks before deletion"
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "push_data": {
                      "type": "object"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/ids": {
      "get": {
        "operationId": "listcontactids",
        "summary": "Get contact IDs list",
        "description": "Returns only contact IDs (faster than full list).",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search keyword"
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Advanced query filter"
          },
          {
            "name": "record_type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Record type filter"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30
            },
            "description": "Results per page"
          }
        ],
        "responses": {
          "200": {
            "description": "List of contact IDs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resources": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contact": {
      "get": {
        "operationId": "getcontactsbyids",
        "summary": "Get contacts by identifiers",
        "description": "Retrieve specific contacts by ID list (max 30).",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated contact IDs (max 30)"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated fields to return"
          },
          {
            "name": "meta",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Include metadata"
          },
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Include tags"
          },
          {
            "name": "contexts",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by contexts"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contact/{contact_id}": {
      "put": {
        "operationId": "updatecontact",
        "summary": "Update a contact",
        "description": "Modify existing contact information.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Contact ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Contact not found"
          }
        }
      },
      "delete": {
        "operationId": "deletecontact",
        "summary": "Delete a contact",
        "description": "Remove a single contact record.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Contact ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Contact not found"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contact/{contact_id}/notes": {
      "get": {
        "operationId": "getcontactnotes",
        "summary": "Get contact notes",
        "description": "Retrieve all notes for a contact.",
        "tags": [
          "Contact Notes"
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Contact ID"
          }
        ],
        "responses": {
          "200": {
            "description": "List of notes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resources": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Note"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createcontactnote",
        "summary": "Create a contact note",
        "description": "Add a note to a contact record.",
        "tags": [
          "Contact Notes"
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Contact ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoteInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Note created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Note"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contact/{contact_id}/notes/{note_id}": {
      "put": {
        "operationId": "updatecontactnote",
        "summary": "Update a contact note",
        "description": "Modify an existing contact note.",
        "tags": [
          "Contact Notes"
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Contact ID"
          },
          {
            "name": "note_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Note ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoteInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Note updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Note"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Note not found"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletecontactnote",
        "summary": "Delete a contact note",
        "description": "Remove a contact note.",
        "tags": [
          "Contact Notes"
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Contact ID"
          },
          {
            "name": "note_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Note ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Note deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Note not found"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contact/{contact_id}/tags": {
      "put": {
        "operationId": "assigncontacttags",
        "summary": "Assign tags to a contact",
        "description": "Add or update tags on a contact.",
        "tags": [
          "Contact Tags"
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Contact ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of tag names"
                  }
                },
                "required": [
                  "tags"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags assigned"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Contact not found"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contact/fields": {
      "get": {
        "operationId": "listcontactfields",
        "summary": "List contact field metadata",
        "description": "Retrieve available contact field definitions.",
        "tags": [
          "Contact Fields"
        ],
        "responses": {
          "200": {
            "description": "Contact fields metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resources": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ContactField"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createcontactfield",
        "summary": "Create a custom contact field",
        "description": "Define a new custom contact field.",
        "tags": [
          "Contact Fields"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactFieldInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Field created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactField"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contact/fields/{field_id}": {
      "put": {
        "operationId": "updatecontactfield",
        "summary": "Update a contact field",
        "description": "Modify a contact field definition.",
        "tags": [
          "Contact Fields"
        ],
        "parameters": [
          {
            "name": "field_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Field ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactFieldInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Field updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactField"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Field not found"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletecontactfield",
        "summary": "Delete a contact field",
        "description": "Remove a custom contact field.",
        "tags": [
          "Contact Fields"
        ],
        "parameters": [
          {
            "name": "field_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Field ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Field deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Field not found"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contact/fields/group": {
      "post": {
        "operationId": "createfieldgroup",
        "summary": "Create a field group",
        "description": "Organize fields into a group.",
        "tags": [
          "Contact Fields"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldGroupInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Group created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldGroup"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contact/fields/group/{group_id}": {
      "put": {
        "operationId": "updatefieldgroup",
        "summary": "Update a field group",
        "description": "Modify a field group.",
        "tags": [
          "Contact Fields"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldGroupInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldGroup"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Group not found"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletefieldgroup",
        "summary": "Delete a field group",
        "description": "Remove a field group.",
        "tags": [
          "Contact Fields"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Group deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Group not found"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/deals": {
      "get": {
        "operationId": "listdeals",
        "summary": "List deals",
        "description": "Retrieve all user deals with filtering.",
        "tags": [
          "Deals"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30
            },
            "description": "Results per page"
          }
        ],
        "responses": {
          "200": {
            "description": "List of deals",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DealListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createdeal",
        "summary": "Create a deal",
        "description": "Create a new deal record.",
        "tags": [
          "Deals"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DealInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Deal created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deal"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/deals/stats": {
      "get": {
        "operationId": "getdealstats",
        "summary": "Get deal stats",
        "description": "Retrieve the sum of won deals amount for the last month.",
        "tags": [
          "Deals"
        ],
        "responses": {
          "200": {
            "description": "Deal statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "amount_won": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/deal/{deal_id}": {
      "get": {
        "operationId": "getdeal",
        "summary": "Get a deal",
        "description": "Retrieve specific deal details.",
        "tags": [
          "Deals"
        ],
        "parameters": [
          {
            "name": "deal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Deal ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deal details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deal"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Deal not found"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updatedeal",
        "summary": "Update a deal",
        "description": "Modify deal information.",
        "tags": [
          "Deals"
        ],
        "parameters": [
          {
            "name": "deal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Deal ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DealInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deal updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deal"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Deal not found"
          }
        }
      },
      "delete": {
        "operationId": "deletedeal",
        "summary": "Delete a deal",
        "description": "Remove a deal record.",
        "tags": [
          "Deals"
        ],
        "parameters": [
          {
            "name": "deal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Deal ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deal deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Deal not found"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/deal/{deal_id}/notes": {
      "post": {
        "operationId": "createdealnote",
        "summary": "Create a deal note",
        "description": "Add a note to a deal.",
        "tags": [
          "Deal Notes"
        ],
        "parameters": [
          {
            "name": "deal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Deal ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoteInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Note created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Note"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/deal/{deal_id}/notes/{note_id}": {
      "put": {
        "operationId": "updatedealnote",
        "summary": "Update a deal note",
        "description": "Modify a deal note.",
        "tags": [
          "Deal Notes"
        ],
        "parameters": [
          {
            "name": "deal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Deal ID"
          },
          {
            "name": "note_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Note ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoteInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Note updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Note"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Note not found"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletedealnote",
        "summary": "Delete a deal note",
        "description": "Remove a deal note.",
        "tags": [
          "Deal Notes"
        ],
        "parameters": [
          {
            "name": "deal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Deal ID"
          },
          {
            "name": "note_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Note ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Note deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Note not found"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/deal/{deal_id}/file": {
      "post": {
        "operationId": "storeDealFile",
        "summary": "Store a deal file",
        "description": "Upload and attach a file to a deal.",
        "tags": [
          "Deal Files"
        ],
        "parameters": [
          {
            "name": "deal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Deal ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "File to attach to the deal"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File stored successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DealFile"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Deal not found"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/deal/{deal_id}/file/{file_id}": {
      "put": {
        "operationId": "updateDealFile",
        "summary": "Update a deal file",
        "description": "Update an existing file attached to a deal.",
        "tags": [
          "Deal Files"
        ],
        "parameters": [
          {
            "name": "deal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Deal ID"
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "File ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Updated file"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DealFile"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "File or deal not found"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteDealFile",
        "summary": "Delete a deal file",
        "description": "Remove a file attached to a deal.",
        "tags": [
          "Deal Files"
        ],
        "parameters": [
          {
            "name": "deal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Deal ID"
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "File ID"
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "File or deal not found"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pipelines": {
      "get": {
        "operationId": "listpipelines",
        "summary": "List deal pipelines",
        "description": "Retrieve all deal pipelines.",
        "tags": [
          "Pipelines"
        ],
        "responses": {
          "200": {
            "description": "List of pipelines",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resources": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Pipeline"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createpipeline",
        "summary": "Create a deal pipeline",
        "description": "Create a new sales pipeline.",
        "tags": [
          "Pipelines"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PipelineInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Pipeline created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pipeline"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pipeline/{pipeline_id}": {
      "get": {
        "operationId": "getpipeline",
        "summary": "Get a pipeline",
        "description": "Retrieve specific pipeline details.",
        "tags": [
          "Pipelines"
        ],
        "parameters": [
          {
            "name": "pipeline_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pipeline ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Pipeline details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pipeline"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Pipeline not found"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updatepipeline",
        "summary": "Update a pipeline",
        "description": "Modify pipeline configuration.",
        "tags": [
          "Pipelines"
        ],
        "parameters": [
          {
            "name": "pipeline_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pipeline ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PipelineInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pipeline updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pipeline"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Pipeline not found"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletepipeline",
        "summary": "Delete a pipeline",
        "description": "Remove a pipeline.",
        "tags": [
          "Pipelines"
        ],
        "parameters": [
          {
            "name": "pipeline_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pipeline ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Pipeline deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Pipeline not found"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pipeline/{pipeline_id}/archive": {
      "post": {
        "operationId": "archivepipeline",
        "summary": "Archive a pipeline",
        "description": "Archive a deal pipeline.",
        "tags": [
          "Pipelines"
        ],
        "parameters": [
          {
            "name": "pipeline_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pipeline ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Pipeline archived"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Pipeline not found"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pipeline/{pipeline_id}/unarchive": {
      "post": {
        "operationId": "unarchivepipeline",
        "summary": "Unarchive a pipeline",
        "description": "Restore an archived pipeline.",
        "tags": [
          "Pipelines"
        ],
        "parameters": [
          {
            "name": "pipeline_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pipeline ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Pipeline unarchived"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Pipeline not found"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/messages/drafts": {
      "get": {
        "operationId": "listmessagedrafts",
        "summary": "List message drafts",
        "description": "Retrieve draft messages.",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "List of drafts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resources": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MessageDraft"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createmessagedraft",
        "summary": "Create a draft message",
        "description": "Create a new message draft.",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageDraftInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Draft created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageDraft"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth 2.0 Bearer token. Pass via Authorization header."
      },
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://app.nimble.com/oauth/authorize",
            "tokenUrl": "https://app.nimble.com/api/oauth/token",
            "scopes": {
              "basic": "Access user and company info",
              "contacts": "Access contacts",
              "deals": "Access deals"
            }
          }
        }
      }
    },
    "schemas": {
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "pages": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "UserInfo": {
        "type": "object",
        "properties": {
          "company_id": {
            "type": "string"
          },
          "company_size": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "record_type": {
            "type": "string"
          },
          "fields": {
            "type": "object",
            "additionalProperties": true
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "updated": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ContactInput": {
        "type": "object",
        "properties": {
          "record_type": {
            "type": "string",
            "enum": [
              "person",
              "company"
            ],
            "description": "Type of contact record"
          },
          "fields": {
            "type": "object",
            "additionalProperties": true,
            "description": "Contact field values"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags for the contact"
          }
        },
        "required": [
          "fields"
        ]
      },
      "ContactListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          }
        }
      },
      "ContactField": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "group": {
            "type": "string"
          },
          "presentation": {
            "type": "object"
          }
        }
      },
      "ContactFieldInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Field name"
          },
          "label": {
            "type": "string",
            "description": "Display label"
          },
          "type": {
            "type": "string",
            "description": "Field type"
          },
          "group": {
            "type": "string",
            "description": "Group ID to place field in"
          }
        },
        "required": [
          "name",
          "type"
        ]
      },
      "FieldGroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "order": {
            "type": "integer"
          }
        }
      },
      "FieldGroupInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Group name"
          },
          "label": {
            "type": "string",
            "description": "Display label"
          }
        },
        "required": [
          "name"
        ]
      },
      "Note": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "note": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "updated": {
            "type": "string",
            "format": "date-time"
          },
          "author": {
            "type": "string"
          }
        }
      },
      "NoteInput": {
        "type": "object",
        "properties": {
          "note": {
            "type": "string",
            "description": "Note content"
          }
        },
        "required": [
          "note"
        ]
      },
      "Deal": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "stage": {
            "type": "string"
          },
          "pipeline_id": {
            "type": "string"
          },
          "contact_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "updated": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DealInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Deal name"
          },
          "amount": {
            "type": "number",
            "description": "Deal amount"
          },
          "stage": {
            "type": "string",
            "description": "Deal stage"
          },
          "pipeline_id": {
            "type": "string",
            "description": "Pipeline ID"
          },
          "contact_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Associated contact IDs"
          }
        },
        "required": [
          "name"
        ]
      },
      "DealListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Deal"
            }
          }
        }
      },
      "Pipeline": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "stages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "order": {
                  "type": "integer"
                }
              }
            }
          },
          "archived": {
            "type": "boolean"
          }
        }
      },
      "PipelineInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Pipeline name"
          },
          "stages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "order": {
                  "type": "integer"
                }
              }
            },
            "description": "Pipeline stages"
          }
        },
        "required": [
          "name"
        ]
      },
      "MessageDraft": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "to": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "created": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MessageDraftInput": {
        "type": "object",
        "properties": {
          "subject": {
            "type": "string",
            "description": "Message subject"
          },
          "body": {
            "type": "string",
            "description": "Message body"
          },
          "to": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Recipient email addresses"
          }
        },
        "required": [
          "subject",
          "body"
        ]
      },
      "DealFile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "File ID"
          },
          "name": {
            "type": "string",
            "description": "File name"
          },
          "size": {
            "type": "integer",
            "description": "File size in bytes"
          },
          "content_type": {
            "type": "string",
            "description": "MIME type of the file"
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "File creation timestamp"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "status": {
                "type": "integer",
                "description": "HTTP status code"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    },
    {
      "oauth2": [
        "basic",
        "contacts",
        "deals"
      ]
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "OAuth 2.0 authentication endpoints"
    },
    {
      "name": "User",
      "description": "Current user information"
    },
    {
      "name": "Contacts",
      "description": "Contact management"
    },
    {
      "name": "Contact Fields",
      "description": "Contact field metadata and customization"
    },
    {
      "name": "Contact Notes",
      "description": "Notes on contacts"
    },
    {
      "name": "Contact Tags",
      "description": "Contact tagging"
    },
    {
      "name": "Deals",
      "description": "Deal management"
    },
    {
      "name": "Deal Notes",
      "description": "Notes on deals"
    },
    {
      "name": "Deal Files",
      "description": "File attachments on deals"
    },
    {
      "name": "Pipelines",
      "description": "Deal pipeline management"
    },
    {
      "name": "Messages",
      "description": "Message draft management"
    }
  ]
}