{
  "openapi": "3.0.3",
  "info": {
    "title": "TrailerAddict API",
    "description": "Easily embed trailers from TrailerAddict. Provides access to movie trailer data including searching for trailers, fetching embed codes, and browsing featured and recently added trailers.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://www.traileraddict.com/trailerapi"
  },
  "servers": [
    {
      "url": "https://api.traileraddict.com",
      "description": "TrailerAddict API server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Trailers",
      "description": "Trailer lookup and search operations"
    },
    {
      "name": "Films",
      "description": "Film information and browsing"
    },
    {
      "name": "Featured",
      "description": "Featured and popular trailers"
    }
  ],
  "paths": {
    "/trailer/{imdbId}": {
      "get": {
        "operationId": "getTrailerByImdb",
        "summary": "Get trailer by IMDB ID",
        "description": "Retrieve trailer information and embed code for a film using its IMDB ID.",
        "tags": ["Trailers"],
        "parameters": [
          {
            "name": "imdbId",
            "in": "path",
            "required": true,
            "description": "IMDB ID of the film",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "width",
            "in": "query",
            "description": "Width of the embed player in pixels",
            "schema": {
              "type": "integer",
              "default": 680
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of trailers to return",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with trailer data",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TrailerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/trailer/{filmId}": {
      "get": {
        "operationId": "getTrailerByFilmId",
        "summary": "Get trailer by TrailerAddict film ID",
        "description": "Retrieve trailer information using a TrailerAddict-specific film ID.",
        "tags": ["Trailers"],
        "parameters": [
          {
            "name": "filmId",
            "in": "path",
            "required": true,
            "description": "TrailerAddict film ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "width",
            "in": "query",
            "description": "Width of the embed player in pixels",
            "schema": {
              "type": "integer",
              "default": 680
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with trailer data",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TrailerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "operationId": "searchTrailers",
        "summary": "Search for trailers",
        "description": "Search for trailers by film title or keywords.",
        "tags": ["Trailers"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query string (film title or keywords)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of results to return",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful search results",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TrailerListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/featured": {
      "get": {
        "operationId": "getFeaturedTrailers",
        "summary": "Get featured trailers",
        "description": "Retrieve a list of currently featured trailers.",
        "tags": ["Featured"],
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Number of featured trailers to return",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with featured trailers",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TrailerListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/just-added": {
      "get": {
        "operationId": "getJustAddedTrailers",
        "summary": "Get recently added trailers",
        "description": "Retrieve a list of the most recently added trailers.",
        "tags": ["Featured"],
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Number of recently added trailers to return",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with recent trailers",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TrailerListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/film/{filmId}": {
      "get": {
        "operationId": "getFilmInfo",
        "summary": "Get film information",
        "description": "Retrieve detailed information about a film including all associated trailers.",
        "tags": ["Films"],
        "parameters": [
          {
            "name": "filmId",
            "in": "path",
            "required": true,
            "description": "TrailerAddict film ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with film data",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/FilmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "apikey",
        "in": "query",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "Trailer": {
        "type": "object",
        "properties": {
          "trailer_id": {
            "type": "integer",
            "description": "Unique trailer identifier"
          },
          "title": {
            "type": "string",
            "description": "Trailer title"
          },
          "film_title": {
            "type": "string",
            "description": "Associated film title"
          },
          "link": {
            "type": "string",
            "format": "uri",
            "description": "URL to the trailer page"
          },
          "embed": {
            "type": "string",
            "description": "HTML embed code for the trailer"
          },
          "publish_date": {
            "type": "string",
            "format": "date-time",
            "description": "Date the trailer was published"
          },
          "thumb": {
            "type": "string",
            "format": "uri",
            "description": "URL to the trailer thumbnail image"
          }
        }
      },
      "Film": {
        "type": "object",
        "properties": {
          "film_id": {
            "type": "integer",
            "description": "Unique film identifier"
          },
          "title": {
            "type": "string",
            "description": "Film title"
          },
          "imdb_id": {
            "type": "string",
            "description": "IMDB ID"
          },
          "release_date": {
            "type": "string",
            "format": "date",
            "description": "Release date of the film"
          },
          "trailers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Trailer"
            }
          }
        }
      },
      "TrailerResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "trailer": {
            "$ref": "#/components/schemas/Trailer"
          }
        }
      },
      "TrailerListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "count": {
            "type": "integer"
          },
          "trailers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Trailer"
            }
          }
        }
      },
      "FilmResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "film": {
            "$ref": "#/components/schemas/Film"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Error status"
          },
          "message": {
            "type": "string",
            "description": "Error message describing the issue"
          }
        },
        "required": ["status", "message"]
      }
    }
  }
}
