{
  "openapi": "3.0.3",
  "info": {
    "title": "Eventbrite API",
    "description": "Eventbrite API v3 for searching and retrieving event information. Find events by location, date, category, and keyword. Free to use with OAuth 2.0 authentication.",
    "version": "3.0.0",
    "contact": {
      "name": "Eventbrite",
      "url": "https://www.eventbrite.com/platform"
    },
    "x-jentic-source-url": "https://www.eventbrite.com/platform/api"
  },
  "servers": [
    {
      "url": "https://www.eventbriteapi.com/v3",
      "description": "Eventbrite API v3 production server"
    }
  ],
  "paths": {
    "/events/search/": {
      "get": {
        "operationId": "searchEvents",
        "summary": "Search events",
        "description": "Search for events by location, date range, category, and keyword. Returns paginated event results.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search query keyword."
          },
          {
            "name": "location.latitude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Latitude for location-based search."
          },
          {
            "name": "location.longitude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Longitude for location-based search."
          },
          {
            "name": "location.within",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Distance radius (e.g. 10km, 5mi)."
          },
          {
            "name": "location.address",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Address to geocode for location search."
          },
          {
            "name": "start_date.range_start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Start of date range (ISO 8601)."
          },
          {
            "name": "start_date.range_end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "End of date range (ISO 8601)."
          },
          {
            "name": "start_date.keyword",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "today",
                "tomorrow",
                "this_week",
                "this_weekend",
                "next_week",
                "this_month"
              ]
            },
            "description": "Predefined date keyword."
          },
          {
            "name": "categories",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated category IDs."
          },
          {
            "name": "subcategories",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated subcategory IDs."
          },
          {
            "name": "formats",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated format IDs (conference, seminar, etc.)."
          },
          {
            "name": "price",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "free",
                "paid"
              ]
            },
            "description": "Filter by free or paid events."
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "date",
                "distance",
                "best"
              ]
            },
            "description": "Sort order."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Number of results per page."
          }
        ],
        "responses": {
          "200": {
            "description": "Event search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventSearchResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Invalid parameters"
          }
        }
      }
    },
    "/events/{event_id}/": {
      "get": {
        "operationId": "getEvent",
        "summary": "Get event details",
        "description": "Retrieve detailed information about a specific event.",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Eventbrite event ID."
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated expansions (e.g. venue, ticket_classes, organizer)."
          }
        ],
        "responses": {
          "200": {
            "description": "Event details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "404": {
            "description": "Event not found"
          }
        }
      }
    },
    "/categories/": {
      "get": {
        "operationId": "getCategories",
        "summary": "List event categories",
        "description": "Get all available event categories.",
        "responses": {
          "200": {
            "description": "List of categories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "categories": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "short_name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth 2.0 Bearer token."
      }
    },
    "schemas": {
      "EventSearchResponse": {
        "type": "object",
        "properties": {
          "pagination": {
            "type": "object",
            "properties": {
              "object_count": {
                "type": "integer"
              },
              "page_number": {
                "type": "integer"
              },
              "page_size": {
                "type": "integer"
              },
              "page_count": {
                "type": "integer"
              },
              "has_more_items": {
                "type": "boolean"
              }
            }
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "object",
            "properties": {
              "text": {
                "type": "string"
              },
              "html": {
                "type": "string"
              }
            }
          },
          "description": {
            "type": "object",
            "properties": {
              "text": {
                "type": "string"
              },
              "html": {
                "type": "string"
              }
            }
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "start": {
            "type": "object",
            "properties": {
              "timezone": {
                "type": "string"
              },
              "local": {
                "type": "string"
              },
              "utc": {
                "type": "string"
              }
            }
          },
          "end": {
            "type": "object",
            "properties": {
              "timezone": {
                "type": "string"
              },
              "local": {
                "type": "string"
              },
              "utc": {
                "type": "string"
              }
            }
          },
          "is_free": {
            "type": "boolean"
          },
          "capacity": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "category_id": {
            "type": "string"
          },
          "subcategory_id": {
            "type": "string"
          },
          "format_id": {
            "type": "string"
          },
          "venue": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "address": {
                "type": "object",
                "properties": {
                  "address_1": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "region": {
                    "type": "string"
                  },
                  "postal_code": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "latitude": {
                    "type": "string"
                  },
                  "longitude": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "logo": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri"
              }
            }
          },
          "organizer": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "url": {
                "type": "string",
                "format": "uri"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}