{
  "openapi": "3.0.3",
  "info": {
    "title": "Sprout Social API",
    "version": "1.0.0",
    "description": "Sprout Social API provides access to social media management features including analytics, messaging, publishing, listening, and case management across multiple social networks.",
    "x-jentic-source-url": "https://api.sproutsocial.com/docs/"
  },
  "servers": [
    {
      "url": "https://api.sproutsocial.com"
    }
  ],
  "paths": {
    "/v1/metadata/client": {
      "get": {
        "operationId": "listClients",
        "summary": "Retrieve customer IDs and names accessible to user",
        "tags": [
          "Metadata"
        ],
        "responses": {
          "200": {
            "description": "List of clients",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/{customerId}/metadata/customer": {
      "get": {
        "operationId": "listCustomerProfiles",
        "summary": "List all social profiles with metadata for a customer",
        "tags": [
          "Metadata"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "description": "The customer ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of social profiles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomerProfile"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/{customerId}/metadata/customer/tags": {
      "get": {
        "operationId": "listCustomerTags",
        "summary": "Retrieve all tags (active and archived)",
        "tags": [
          "Metadata"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tags",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/{customerId}/metadata/customer/groups": {
      "get": {
        "operationId": "listCustomerGroups",
        "summary": "List customer groups",
        "tags": [
          "Metadata"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of groups",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/{customerId}/metadata/customer/users": {
      "get": {
        "operationId": "listCustomerUsers",
        "summary": "List active users",
        "tags": [
          "Metadata"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/{customerId}/metadata/customer/topics": {
      "get": {
        "operationId": "listListeningTopics",
        "summary": "List listening topics with theme groups",
        "tags": [
          "Metadata"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of topics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/{customerId}/metadata/customer/teams": {
      "get": {
        "operationId": "listCustomerTeams",
        "summary": "List active teams",
        "tags": [
          "Metadata"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of teams",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/{customerId}/metadata/customer/queues": {
      "get": {
        "operationId": "listCaseQueues",
        "summary": "List case queues",
        "tags": [
          "Metadata"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of queues",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/{customerId}/analytics/profiles": {
      "post": {
        "operationId": "getProfileAnalytics",
        "summary": "Get profile-level metrics aggregated by day",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyticsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/{customerId}/analytics/posts": {
      "post": {
        "operationId": "getPostAnalytics",
        "summary": "Get individual post data with lifetime metrics",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostAnalyticsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/{customerId}/messages": {
      "post": {
        "operationId": "getMessages",
        "summary": "Get detailed message data with metadata",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessagesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Messages data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/{customerId}/listening/topics/{topicId}/messages": {
      "post": {
        "operationId": "getListeningMessages",
        "summary": "Get messages within a listening topic",
        "tags": [
          "Listening"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "topicId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListeningRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Listening messages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListeningMessagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/{customerId}/listening/topics/{topicId}/metrics": {
      "post": {
        "operationId": "getListeningMetrics",
        "summary": "Get aggregated metrics for listening topics",
        "tags": [
          "Listening"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "topicId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListeningMetricsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Listening metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/{customerId}/publishing/posts": {
      "post": {
        "operationId": "createPublishingPost",
        "summary": "Create a draft publishing post",
        "tags": [
          "Publishing"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublishingPostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Publishing post created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishingPostResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/{customerId}/publishing/posts/{publishingPostId}": {
      "get": {
        "operationId": "getPublishingPost",
        "summary": "Retrieve a publishing post by ID",
        "tags": [
          "Publishing"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "publishingPostId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Publishing post details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishingPostResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/{customerId}/media/": {
      "post": {
        "operationId": "uploadMedia",
        "summary": "Upload media in a single request (max 50MB)",
        "tags": [
          "Media"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "media": {
                    "type": "string",
                    "format": "binary",
                    "description": "Binary file upload"
                  },
                  "media_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL to download media from"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Media uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/{customerId}/media/submission": {
      "post": {
        "operationId": "initiateMultipartUpload",
        "summary": "Initiate multipart media upload",
        "tags": [
          "Media"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filename": {
                    "type": "string"
                  },
                  "media_type": {
                    "type": "string"
                  }
                },
                "required": [
                  "filename",
                  "media_type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Multipart upload initiated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "submission_id": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/{customerId}/media/submission/{submissionId}/part/{partNumber}": {
      "post": {
        "operationId": "uploadMediaPart",
        "summary": "Upload a media part (5MB chunks)",
        "tags": [
          "Media"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "submissionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "partNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Part uploaded"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/{customerId}/media/submission/{submissionId}": {
      "get": {
        "operationId": "completeMultipartUpload",
        "summary": "Complete multipart media upload",
        "tags": [
          "Media"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "submissionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Upload completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/{customerId}/cases/filter": {
      "post": {
        "operationId": "filterCases",
        "summary": "Retrieve cases with filtering",
        "tags": [
          "Cases"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "limit": {
                    "type": "integer",
                    "default": 50
                  },
                  "page": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cases list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DataResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "CustomerProfile": {
        "type": "object",
        "properties": {
          "customer_profile_id": {
            "type": "integer"
          },
          "network_type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "native_name": {
            "type": "string"
          },
          "native_id": {
            "type": "string"
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "network_metadata": {
            "type": "object"
          }
        }
      },
      "AnalyticsRequest": {
        "type": "object",
        "properties": {
          "filters": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter expressions like customer_profile_id.eq(1234), reporting_period.in(2018-08-01...2018-10-01)"
          },
          "metrics": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Metrics to retrieve (e.g. impressions, reactions)"
          },
          "page": {
            "type": "integer",
            "default": 1
          },
          "limit": {
            "type": "integer",
            "default": 1000
          }
        },
        "required": [
          "filters",
          "metrics"
        ]
      },
      "PostAnalyticsRequest": {
        "type": "object",
        "properties": {
          "fields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "filters": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "metrics": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "timezone": {
            "type": "string"
          },
          "page": {
            "type": "integer",
            "default": 1
          },
          "limit": {
            "type": "integer",
            "default": 50
          },
          "sort": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "filters"
        ]
      },
      "AnalyticsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "dimensions": {
                  "type": "object"
                },
                "metrics": {
                  "type": "object"
                }
              }
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "MessagesRequest": {
        "type": "object",
        "properties": {
          "filters": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "limit": {
            "type": "integer",
            "default": 50,
            "maximum": 100
          },
          "timezone": {
            "type": "string"
          },
          "page_cursor": {
            "type": "string"
          },
          "sort": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "filters"
        ]
      },
      "MessagesResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          },
          "paging": {
            "type": "object",
            "properties": {
              "next_cursor": {
                "type": "string"
              }
            }
          }
        }
      },
      "Message": {
        "type": "object",
        "properties": {
          "post_type": {
            "type": "string"
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "text": {
            "type": "string"
          },
          "perma_link": {
            "type": "string"
          },
          "internal": {
            "type": "object",
            "properties": {
              "tags": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    }
                  }
                }
              },
              "sent_by": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "ListeningRequest": {
        "type": "object",
        "properties": {
          "filters": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "metrics": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "limit": {
            "type": "integer",
            "default": 50
          },
          "page": {
            "type": "integer",
            "default": 1
          },
          "sort": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "timezone": {
            "type": "string"
          }
        },
        "required": [
          "filters"
        ]
      },
      "ListeningMetricsRequest": {
        "type": "object",
        "properties": {
          "filters": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "metrics": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "dimensions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "timezone": {
            "type": "string"
          }
        },
        "required": [
          "filters",
          "metrics"
        ]
      },
      "ListeningMessagesResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "content_category": {
                  "type": "string"
                },
                "guid": {
                  "type": "string"
                },
                "text": {
                  "type": "string"
                },
                "perma_link": {
                  "type": "string"
                },
                "network": {
                  "type": "string"
                },
                "hashtags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "created_time": {
                  "type": "string",
                  "format": "date-time"
                },
                "listening_metadata": {
                  "type": "object",
                  "properties": {
                    "sentiment": {
                      "type": "string"
                    },
                    "language": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "PublishingPostRequest": {
        "type": "object",
        "properties": {
          "group_id": {
            "type": "integer"
          },
          "customer_profile_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "is_draft": {
            "type": "boolean",
            "default": true
          },
          "text": {
            "type": "string"
          },
          "media": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "media_id": {
                  "type": "string"
                },
                "media_type": {
                  "type": "string"
                }
              }
            }
          },
          "delivery": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "SCHEDULED"
                ]
              },
              "scheduled_times": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          },
          "tag_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        },
        "required": [
          "group_id",
          "customer_profile_ids",
          "is_draft"
        ]
      },
      "PublishingPostResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "post_type": {
                  "type": "string"
                },
                "customer_profile_id": {
                  "type": "string"
                },
                "internal": {
                  "type": "object",
                  "properties": {
                    "publishing": {
                      "type": "object",
                      "properties": {
                        "publishing_post_id": {
                          "type": "integer"
                        },
                        "group_id": {
                          "type": "integer"
                        },
                        "is_draft": {
                          "type": "boolean"
                        },
                        "text": {
                          "type": "string"
                        },
                        "perma_link": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "MediaUploadResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "media_id": {
                  "type": "string"
                },
                "expiration_time": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "Paging": {
        "type": "object",
        "properties": {
          "current_page": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "OAuth 2.0 or API token passed as Bearer token"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}