{
  "openapi": "3.0.3",
  "info": {
    "title": "NMKR Studio API",
    "version": "1.0.0",
    "description": "NMKR Studio API for NFT project management on the Cardano blockchain. Supports address reservation, payment processing, NFT sales, wallet validation, project creation, and NFT management. Note: The original API at studio-api.nmkr.io is marked as deprecated.",
    "x-jentic-source-url": "https://studio-api.nmkr.io/swagger/index.html"
  },
  "servers": [
    {
      "url": "https://studio-api.nmkr.io"
    }
  ],
  "paths": {
    "/CancelAddressReservation/{apikey}/{projectuid}/{paymentaddress}": {
      "get": {
        "operationId": "cancelAddressReservation",
        "summary": "Cancel address reservation",
        "description": "Cancels an existing address reservation for an NFT project.",
        "tags": ["Address Reservation"],
        "parameters": [
          {
            "name": "apikey",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "API key"
          },
          {
            "name": "projectuid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Project unique identifier"
          },
          {
            "name": "paymentaddress",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Payment address to cancel"
          }
        ],
        "responses": {
          "200": {
            "description": "Reservation cancelled",
            "content": { "application/json": { "schema": { "type": "object" } } }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    },
    "/CheckAddress/{apikey}/{projectuid}/{address}": {
      "get": {
        "operationId": "checkAddress",
        "summary": "Check address status",
        "description": "Checks the status of an address for an NFT project.",
        "tags": ["Address Reservation"],
        "parameters": [
          {
            "name": "apikey",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "API key"
          },
          {
            "name": "projectuid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Project unique identifier"
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Address to check"
          }
        ],
        "responses": {
          "200": {
            "description": "Address status returned",
            "content": { "application/json": { "schema": { "type": "object" } } }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    },
    "/CheckWalletValidation/{apikey}/{validationuid}/{lovelace}": {
      "get": {
        "operationId": "checkWalletValidation",
        "summary": "Check wallet validation",
        "description": "Validates a wallet for a given amount of lovelace.",
        "tags": ["Wallet"],
        "parameters": [
          {
            "name": "apikey",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "API key"
          },
          {
            "name": "validationuid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Validation unique identifier"
          },
          {
            "name": "lovelace",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "Amount in lovelace"
          }
        ],
        "responses": {
          "200": {
            "description": "Validation result",
            "content": { "application/json": { "schema": { "type": "object" } } }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    },
    "/CreateProject/{apikey}": {
      "post": {
        "operationId": "createProject",
        "summary": "Create a new NFT project",
        "description": "Creates a new NFT project on the Cardano blockchain.",
        "tags": ["Projects"],
        "parameters": [
          {
            "name": "apikey",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "API key"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateProjectRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project created",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Project" } } }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    },
    "/DeleteNft/{apikey}/{nftuid}": {
      "get": {
        "operationId": "deleteNft",
        "summary": "Delete an NFT",
        "description": "Deletes a specific NFT by its unique identifier.",
        "tags": ["NFTs"],
        "parameters": [
          {
            "name": "apikey",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "API key"
          },
          {
            "name": "nftuid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "NFT unique identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "NFT deleted",
            "content": { "application/json": { "schema": { "type": "object" } } }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    },
    "/GetAddressForRandomNftSale/{apikey}/{projectuid}/{countnft}": {
      "get": {
        "operationId": "getAddressForRandomNftSale",
        "summary": "Get address for random NFT sale",
        "description": "Gets a payment address for purchasing a random NFT from a project.",
        "tags": ["Sales"],
        "parameters": [
          {
            "name": "apikey",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "API key"
          },
          {
            "name": "projectuid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Project unique identifier"
          },
          {
            "name": "countnft",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "Number of NFTs to purchase"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment address returned",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PaymentAddress" } } }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    },
    "/GetAddressForRandomNftSale/{apikey}/{projectuid}/{countnft}/{lovelace}": {
      "get": {
        "operationId": "getAddressForRandomNftSaleWithPrice",
        "summary": "Get address for random NFT sale with custom price",
        "description": "Gets a payment address for purchasing a random NFT with a specified price in lovelace.",
        "tags": ["Sales"],
        "parameters": [
          {
            "name": "apikey",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "API key"
          },
          {
            "name": "projectuid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Project unique identifier"
          },
          {
            "name": "countnft",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "Number of NFTs"
          },
          {
            "name": "lovelace",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "Price in lovelace"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment address returned",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PaymentAddress" } } }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    },
    "/GetAddressForSpecificNftSale/{apikey}/{nftuid}/{tokencount}": {
      "get": {
        "operationId": "getAddressForSpecificNftSale",
        "summary": "Get address for specific NFT sale",
        "description": "Gets a payment address for purchasing a specific NFT.",
        "tags": ["Sales"],
        "parameters": [
          {
            "name": "apikey",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "nftuid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "NFT unique identifier"
          },
          {
            "name": "tokencount",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "Number of tokens"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment address returned",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PaymentAddress" } } }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    },
    "/GetCounts/{apikey}/{projectuid}": {
      "get": {
        "operationId": "getProjectCounts",
        "summary": "Get project counts",
        "description": "Gets NFT counts and statistics for a project.",
        "tags": ["Projects"],
        "parameters": [
          {
            "name": "apikey",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "projectuid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Project unique identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Counts returned",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProjectCounts" } } }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    },
    "/GetNftDetails/{apikey}/{nftprojectid}/{nftname}": {
      "get": {
        "operationId": "getNftDetailsByName",
        "summary": "Get NFT details by name",
        "description": "Retrieves details for a specific NFT by project ID and NFT name.",
        "tags": ["NFTs"],
        "parameters": [
          {
            "name": "apikey",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "nftprojectid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "NFT project identifier"
          },
          {
            "name": "nftname",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "NFT name"
          }
        ],
        "responses": {
          "200": {
            "description": "NFT details returned",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NftDetails" } } }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    },
    "/GetNftDetailsById/{apikey}/{nftuid}": {
      "get": {
        "operationId": "getNftDetailsById",
        "summary": "Get NFT details by ID",
        "description": "Retrieves details for a specific NFT by its unique identifier.",
        "tags": ["NFTs"],
        "parameters": [
          {
            "name": "apikey",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "nftuid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "NFT unique identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "NFT details returned",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NftDetails" } } }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    },
    "/GetNfts/{apikey}/{nftprojectid}/{state}": {
      "get": {
        "operationId": "getNftsByState",
        "summary": "Get NFTs by state",
        "description": "Retrieves NFTs filtered by their distribution state.",
        "tags": ["NFTs"],
        "parameters": [
          {
            "name": "apikey",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "nftprojectid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "NFT project identifier"
          },
          {
            "name": "state",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "NFT state filter"
          }
        ],
        "responses": {
          "200": {
            "description": "NFTs returned",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/NftDetails" } } } }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Project": {
        "type": "object",
        "properties": {
          "projectId": { "type": "string" },
          "projectUid": { "type": "string" },
          "name": { "type": "string" },
          "policyId": { "type": "string" }
        }
      },
      "CreateProjectRequest": {
        "type": "object",
        "properties": {
          "projectName": { "type": "string" },
          "description": { "type": "string" },
          "policyExpires": { "type": "boolean" },
          "policyExpiresDate": { "type": "string", "format": "date-time" }
        }
      },
      "NftDetails": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "uid": { "type": "string" },
          "name": { "type": "string" },
          "displayName": { "type": "string" },
          "state": { "type": "string" },
          "metadata": { "type": "object" }
        }
      },
      "PaymentAddress": {
        "type": "object",
        "properties": {
          "address": { "type": "string", "description": "Cardano payment address" },
          "lovelace": { "type": "integer", "description": "Price in lovelace" },
          "expiresAt": { "type": "string", "format": "date-time" }
        }
      },
      "ProjectCounts": {
        "type": "object",
        "properties": {
          "totalNfts": { "type": "integer" },
          "sold": { "type": "integer" },
          "free": { "type": "integer" },
          "reserved": { "type": "integer" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "enum": ["error"] },
          "code": { "type": "string" },
          "message": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "apiKeyPath": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key passed as path parameter in all endpoints"
      }
    }
  },
  "security": [
    {
      "apiKeyPath": []
    }
  ]
}
