{
  "openapi": "3.0.3",
  "info": {
    "title": "Xodo Sign API",
    "version": "1.0.0",
    "description": "Xodo Sign (formerly eversign) is a RESTful JSON API for digital document signing and management. Supports document creation, templates, bulk sending, and more.",
    "x-jentic-source-url": "https://eversign.com/api/documentation"
  },
  "servers": [
    {
      "url": "https://api.eversign.com"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/business": {
      "get": {
        "summary": "List businesses",
        "description": "Retrieve all businesses associated with the API key",
        "operationId": "listBusinesses",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of businesses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "business_id": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string"
                      },
                      "is_primary": {
                        "type": "boolean"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/document": {
      "get": {
        "summary": "Get or list documents",
        "description": "Retrieve a specific document or list documents based on type",
        "operationId": "getDocuments",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "document_hash",
            "in": "query",
            "description": "Specific document hash to retrieve",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Document type filter",
            "schema": {
              "type": "string",
              "enum": ["all", "my_action_required", "waiting_for_others", "completed", "drafts", "cancelled", "templates", "templates_archived", "template_drafts"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 500
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document(s) retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create document or template",
        "description": "Create a new document or template for signing",
        "operationId": "createDocument",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["files", "signers"],
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  },
                  "is_template": {
                    "type": "integer",
                    "description": "Set to 1 to create template"
                  },
                  "sandbox": {
                    "type": "integer",
                    "description": "Set to 1 for sandbox mode"
                  },
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "file_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "signers": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["name", "email"],
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "role": {
                          "type": "string"
                        },
                        "order": {
                          "type": "integer"
                        }
                      }
                    }
                  },
                  "redirect": {
                    "type": "string",
                    "format": "uri"
                  },
                  "redirect_decline": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Document created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete, trash, or cancel document",
        "description": "Delete, move to trash, or cancel a document",
        "operationId": "deleteDocument",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "document_hash",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trash",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cancel",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document deleted/trashed/cancelled"
          }
        }
      }
    },
    "/file": {
      "post": {
        "summary": "Upload file",
        "description": "Upload a file for use in document creation",
        "operationId": "uploadFile",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "file_id": {
                      "type": "string"
                    },
                    "total_pages": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/download_raw_document": {
      "get": {
        "summary": "Download original PDF",
        "description": "Download the original uploaded PDF",
        "operationId": "downloadRawDocument",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "document_hash",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF file",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/download_final_document": {
      "get": {
        "summary": "Download final PDF",
        "description": "Download the final signed PDF",
        "operationId": "downloadFinalDocument",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "document_hash",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "audit_trail",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF file",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/send_reminder": {
      "post": {
        "summary": "Send reminder",
        "description": "Send a reminder to a signer",
        "operationId": "sendReminder",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["document_hash", "signer_id"],
                "properties": {
                  "document_hash": {
                    "type": "string"
                  },
                  "signer_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reminder sent"
          }
        }
      }
    },
    "/template/{template_hash}/bulk/csv/blank": {
      "get": {
        "summary": "Generate blank CSV",
        "description": "Generate a blank CSV template for bulk sending",
        "operationId": "generateBlankCSV",
        "parameters": [
          {
            "name": "template_hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CSV template",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/template/{template_hash}/bulk/job": {
      "post": {
        "summary": "Create bulk job",
        "description": "Create a bulk sending job (max 250 documents)",
        "operationId": "createBulkJob",
        "parameters": [
          {
            "name": "template_hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "maxItems": 250,
                "items": {
                  "type": "array"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Bulk job created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "job_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bulk_job/{bulkSendingJobId}": {
      "get": {
        "summary": "Get bulk job",
        "description": "Retrieve bulk job details",
        "operationId": "getBulkJob",
        "parameters": [
          {
            "name": "bulkSendingJobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bulk job details"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "access_key",
        "description": "API key obtained from Developer settings"
      }
    },
    "schemas": {
      "Document": {
        "type": "object",
        "properties": {
          "document_hash": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "is_completed": {
            "type": "boolean"
          },
          "is_cancelled": {
            "type": "boolean"
          },
          "signers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "signed": {
                  "type": "boolean"
                }
              }
            }
          },
          "created": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "error": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
