{
  "openapi": "3.0.3",
  "info": {
    "title": "Verkada API",
    "version": "1.0.0",
    "description": "Verkada security platform API for managing cameras, access control, sensors, and guest management.",
    "x-jentic-source-url": "https://apidocs.verkada.com/reference/introduction"
  },
  "servers": [
    {
      "url": "https://api.verkada.com"
    }
  ],
  "paths": {
    "/login/api-key/view/v2": {
      "post": {
        "operationId": "getApiToken",
        "summary": "Get API token",
        "description": "Get API token",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiToken"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/notifications/view/v1": {
      "get": {
        "operationId": "getAlerts",
        "summary": "Get camera alerts",
        "description": "Get camera alerts",
        "tags": [
          "Cameras"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/camera/info/view/v1": {
      "get": {
        "operationId": "getCameraData",
        "summary": "Get camera information",
        "description": "Get camera information",
        "tags": [
          "Cameras"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Camera"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/access/groups/view/v1": {
      "get": {
        "operationId": "getAccessGroups",
        "summary": "Get all access groups",
        "description": "Get all access groups",
        "tags": [
          "Access"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessGroup"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/access/admin-api/unlock/view/v1": {
      "post": {
        "operationId": "unlockDoor",
        "summary": "Unlock a door",
        "description": "Unlock a door",
        "tags": [
          "Access"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessGroup"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/audit-logs/view/v1": {
      "get": {
        "operationId": "getAuditLogs",
        "summary": "Get audit logs",
        "description": "Get audit logs",
        "tags": [
          "Core"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditLog"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/view/v1": {
      "post": {
        "operationId": "createUser",
        "summary": "Create a user",
        "description": "Create a user",
        "tags": [
          "Core"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/sensor/alerts/view/v1": {
      "get": {
        "operationId": "getSensorAlerts",
        "summary": "Get sensor alerts",
        "description": "Get sensor alerts",
        "tags": [
          "Sensors"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SensorAlert"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/guest/event/view/v2": {
      "get": {
        "operationId": "getGuestEvents",
        "summary": "Get guest events",
        "description": "Get guest events",
        "tags": [
          "Guest"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuestEvent"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ApiToken": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "expiry": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Camera": {
        "type": "object",
        "properties": {
          "camera_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "serial": {
            "type": "string"
          },
          "site_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "CameraList": {
        "type": "object",
        "properties": {
          "cameras": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Camera"
            }
          }
        }
      },
      "Alert": {
        "type": "object",
        "properties": {
          "alert_id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "camera_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AccessGroup": {
        "type": "object",
        "properties": {
          "group_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "member_count": {
            "type": "integer"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          }
        }
      },
      "AuditLog": {
        "type": "object",
        "properties": {
          "log_id": {
            "type": "string"
          },
          "action": {
            "type": "string"
          },
          "actor": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SensorAlert": {
        "type": "object",
        "properties": {
          "alert_id": {
            "type": "string"
          },
          "sensor_id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "GuestEvent": {
        "type": "object",
        "properties": {
          "event_id": {
            "type": "string"
          },
          "guest_name": {
            "type": "string"
          },
          "check_in": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      },
      "verkadaAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-verkada-auth"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}