{
  "openapi": "3.0.3",
  "info": {
    "title": "Nationalize API",
    "version": "1.0.0",
    "description": "Predicts the nationality of a person based on their name. Supports single and batch name lookups with statistical probability results.",
    "x-jentic-source-url": "https://nationalize.io/documentation"
  },
  "servers": [
    {
      "url": "https://api.nationalize.io"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "predictNationality",
        "summary": "Predict nationality by name",
        "description": "Estimates the nationality of a person based on their last name. Supports single name or batch of up to 10 names.",
        "tags": [
          "Nationality"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "A single name to predict nationality for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name[]",
            "in": "query",
            "description": "Array of names for batch prediction (max 10).",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "maxItems": 10
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "description": "API key for authenticated requests (optional for free tier).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Nationality prediction results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NationalityPrediction"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing or invalid name parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "NationalityPrediction": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Number of data points used for prediction."
          },
          "name": {
            "type": "string",
            "description": "The name that was analyzed."
          },
          "country": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CountryProbability"
            }
          }
        }
      },
      "CountryProbability": {
        "type": "object",
        "properties": {
          "country_id": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code."
          },
          "probability": {
            "type": "number",
            "format": "float",
            "description": "Probability of the name belonging to this nationality."
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "apikey"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}