{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "Yango proxy server",
      "url": "https://b2b-authproxy.taxi.yandex.net"
    }
  ],
  "info": {
    "version": "1.0.1",
    "title": "BGK info handler",
    "description": "This api to get order information for BGK customer",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Gmacem/BGK-info/1.0.1/swagger.json"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/bgk/v1/order/info": {
      "get": {
        "summary": "Get order information",
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "responses": {
          "200": {
            "description": "Order info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "response": {
        "type": "object",
        "properties": {
          "route_id": {
            "$ref": "#/components/schemas/route_id"
          },
          "courier_phone_ext": {
            "$ref": "#/components/schemas/courier_phone_ext"
          },
          "courier_order_id": {
            "$ref": "#/components/schemas/courier_order_id"
          },
          "request_id": {
            "$ref": "#/components/schemas/request_id"
          },
          "request": {
            "$ref": "#/components/schemas/request"
          },
          "state": {
            "$ref": "#/components/schemas/state"
          },
          "full_items_price": {
            "$ref": "#/components/schemas/full_items_price"
          },
          "pricing": {
            "$ref": "#/components/schemas/pricing"
          },
          "courier_name": {
            "$ref": "#/components/schemas/courier_name"
          },
          "courier_phone": {
            "$ref": "#/components/schemas/courier_phone"
          },
          "photo": {
            "$ref": "#/components/schemas/photo"
          },
          "pod_info": {
            "$ref": "#/components/schemas/pod_info"
          },
          "courier": {
            "$ref": "#/components/schemas/courier"
          },
          "courier_info": {
            "$ref": "#/components/schemas/courier_info"
          }
        },
        "required": [
          "request",
          "state",
          "full_items_price",
          "pricing",
          "courier_name",
          "courier_phone"
        ]
      },
      "route_id": {
        "type": "string",
        "format": "nullable"
      },
      "courier_phone_ext": {
        "type": "string",
        "example": null
      },
      "courier_order_id": {
        "type": "string",
        "example": 100000000
      },
      "request_id": {
        "type": "string",
        "example": "bc338c38-cd3a-4777-8a0c-e770f4c81447"
      },
      "request": {
        "type": "object",
        "properties": {
          "info": {
            "type": "object",
            "properties": {
              "operator_request_id": {
                "type": "string",
                "example": "BGK00000001"
              },
              "comment": {
                "type": "string",
                "example": "There was no one at home"
              },
              "referral_source": {
                "type": "string",
                "example": null
              }
            }
          },
          "source": {
            "type": "object",
            "properties": {
              "platform_station": {
                "type": "object",
                "properties": {
                  "platform_id": {
                    "type": "string",
                    "example": "51361bc0-430b-4985-8d5e-e999ff68f020"
                  }
                }
              }
            }
          },
          "destination": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "custom_location"
              },
              "custom_location": {
                "type": "object",
                "properties": {
                  "latitude": {
                    "type": "number",
                    "example": 29.0
                  },
                  "longitude": {
                    "type": "number",
                    "example": 41.0
                  },
                  "details": {
                    "type": "object",
                    "properties": {
                      "room": {
                        "type": "string",
                        "example": null
                      },
                      "comment": {
                        "type": "string",
                        "example": null
                      },
                      "full_address": {
                        "type": "string",
                        "example": "Turkey ATAT\u00dcRK MAHALLESI \u00c7AVU\u015eBA\u015eI CADDESI NO 11 /\u0130stanbul"
                      }
                    }
                  }
                }
              },
              "interval": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "integer",
                    "format": "int32",
                    "example": 1600000000
                  },
                  "to": {
                    "type": "integer",
                    "format": "int32",
                    "example": 1600000001
                  }
                }
              },
              "interval_utc": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string",
                    "example": "2023-05-01T19:00:00.000000Z"
                  },
                  "to": {
                    "type": "string",
                    "example": "2023-05-01T20:00:00.000000Z"
                  }
                }
              }
            }
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "barcode": {
                  "type": "string",
                  "example": "BGK00000001"
                },
                "refused_count": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "example": 1
                },
                "name": {
                  "type": "string",
                  "example": "bgk-kargo"
                },
                "article": {
                  "type": "string",
                  "example": 5500000
                },
                "billing_details": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string",
                      "example": "RUB"
                    },
                    "tax_system_code": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "inn": {
                      "type": "string",
                      "example": 7700000000
                    },
                    "nds": {
                      "type": "integer",
                      "format": "int32",
                      "example": 20
                    },
                    "unit_price": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "assessed_unit_price": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    }
                  }
                },
                "physical_dims": {
                  "type": "object",
                  "properties": {
                    "dx": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "dy": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "dz": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "predefined_volume": {
                      "type": "integer",
                      "format": "int32",
                      "example": 1
                    }
                  }
                },
                "place_barcode": {
                  "type": "string",
                  "example": "BGK00000001"
                }
              }
            }
          },
          "places": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "physical_dims": {
                  "type": "object",
                  "properties": {
                    "dx": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "dy": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "dz": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "predefined_volume": {
                      "type": "integer",
                      "format": "int32",
                      "example": 1
                    }
                  }
                },
                "barcode": {
                  "type": "string",
                  "example": "BGK00000001"
                }
              }
            }
          },
          "billing_info": {
            "type": "object",
            "properties": {
              "payment_method": {
                "type": "string",
                "example": "already_paid"
              },
              "delivery_cost": {
                "type": "integer",
                "format": "int32",
                "example": 0
              }
            }
          },
          "recipient_info": {
            "type": "object",
            "properties": {
              "first_name": {
                "type": "string",
                "example": "John"
              },
              "phone": {
                "type": "string",
                "example": 900000000000
              }
            }
          },
          "available_actions": {
            "type": "object",
            "properties": {
              "update_dates_available": {
                "type": "boolean"
              },
              "update_address_available": {
                "type": "boolean"
              },
              "update_courier_to_pickup_available": {
                "type": "boolean"
              },
              "update_pickup_to_courier_available": {
                "type": "boolean"
              },
              "update_pickup_to_pickup_available": {
                "type": "boolean"
              },
              "update_items": {
                "type": "boolean"
              },
              "update_recipient": {
                "type": "boolean"
              },
              "update_places": {
                "type": "boolean"
              }
            }
          },
          "particular_items_refuse": {
            "type": "boolean"
          }
        }
      },
      "state": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "example": "2023-06-05T10:14:15.000000Z"
          },
          "timestamp_unix": {
            "type": "integer",
            "format": "int32",
            "example": 1600000000
          },
          "status": {
            "type": "string",
            "example": "DELIVERY_TRANSMITTED_TO_RECIPIENT"
          },
          "description": {
            "type": "string",
            "example": "Delivered"
          }
        }
      },
      "full_items_price": {
        "type": "integer",
        "format": "int32",
        "example": 0
      },
      "pricing": {
        "type": "object",
        "properties": {
          "price": {
            "type": "object",
            "properties": {
              "total_without_vat": {
                "type": "integer",
                "format": "int32",
                "example": 0
              }
            }
          }
        }
      },
      "courier_name": {
        "type": "string",
        "example": "Akbaba Deniz"
      },
      "courier_phone": {
        "type": "string",
        "example": 900000000000
      },
      "photo": {
        "type": "object",
        "properties": {
          "created_at": {
            "type": "string",
            "example": "2023-06-05T12:44:02.806805+00:00"
          },
          "link": {
            "type": "string",
            "example": "https://cargo-photofixation.s3-private.mds.yandex.net/photos/c1ffd56a-8dc1-4bd5-a749-659bc44142ea_CAP2409399771183035278.jpg?AWSAccessKeyId=Emzb9VBoUXGbVnOLHz0u&Signature=zDNFGWMxiMFp72kv7eJVVxS4TR8%3D&Expires=1686296451"
          },
          "point": {
            "type": "object",
            "properties": {
              "lon": {
                "type": "number",
                "example": 29.0
              },
              "lat": {
                "type": "number",
                "example": 41.0
              }
            }
          }
        }
      },
      "pod_info": {
        "type": "object",
        "properties": {
          "recipient_name": {
            "type": "string",
            "example": "John"
          },
          "recipient_type": {
            "type": "string",
            "example": "initial_receiver"
          }
        }
      },
      "courier": {
        "type": "object",
        "properties": {
          "courier_name": {
            "type": "string",
            "example": "Akbaba Deniz"
          },
          "legal_name": {
            "type": "string",
            "example": "Turkey Test Delivery 2.0"
          },
          "car_model": {
            "type": "string",
            "example": "Hyundai Solaris"
          },
          "car_number": {
            "type": "string",
            "example": "34KM0000"
          },
          "car_color": {
            "type": "string",
            "example": "white"
          },
          "car_color_hex": {
            "type": "string",
            "example": "E4E8ED"
          },
          "transport_type": {
            "type": "string",
            "example": "car"
          },
          "name": {
            "type": "string",
            "example": "Deniz"
          },
          "phone": {
            "type": "string",
            "example": null
          },
          "location": {
            "type": "object",
            "properties": {
              "lon": {
                "type": "number",
                "example": 29.0
              },
              "lat": {
                "type": "number",
                "example": 41.0
              }
            }
          }
        }
      },
      "courier_info": {
        "type": "object",
        "properties": {
          "courier_name": {
            "type": "string",
            "example": "Deniz"
          },
          "legal_name": {
            "type": "string",
            "example": "Turkey Test Delivery 2.0"
          },
          "car_model": {
            "type": "string",
            "example": "Hyundai Solaris"
          },
          "car_number": {
            "type": "string",
            "example": "34KM0000"
          },
          "car_color": {
            "type": "string",
            "example": "white"
          },
          "car_color_hex": {
            "type": "string",
            "example": "E4E8ED"
          },
          "transport_type": {
            "type": "string",
            "example": "car"
          },
          "name": {
            "type": "string",
            "example": "Deniz"
          },
          "phone": {
            "type": "string",
            "example": null
          },
          "location": {
            "type": "object",
            "properties": {
              "lon": {
                "type": "number",
                "example": 29.0
              },
              "lat": {
                "type": "number",
                "example": 41.0
              }
            }
          }
        }
      },
      "ErrorResponseModel": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "error_details": {
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorDetails"
                    },
                    {
                      "type": "string"
                    }
                  ]
                }
              },
              {
                "type": "object",
                "additionalProperties": true,
                "x-taxi-additional-properties-true-reason": "Unknown"
              },
              {
                "type": "string"
              }
            ]
          },
          "details": {
            "type": "object",
            "additionalProperties": true,
            "x-taxi-additional-properties-true-reason": "Unknown"
          }
        }
      },
      "ErrorDetails": {
        "additionalProperties": false,
        "type": "object",
        "properties": {
          "fallback_text": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "args": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": [
          "fallback_text",
          "code",
          "args"
        ]
      }
    },
    "parameters": {
      "AcceptLanguage": {
        "in": "header",
        "description": "Accept language",
        "name": "Accept-Language",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "en"
      },
      "RequestId": {
        "name": "request_id",
        "description": "Yango request_id",
        "required": true,
        "in": "query",
        "schema": {
          "type": "string"
        }
      }
    }
  }
}