{
  "openapi": "3.0.3",
  "info": {
    "title": "Netzero Energy API",
    "description": "Netzero Energy Developer API for managing Tesla Powerwall configuration and monitoring live status.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.netzero.energy/docs/tesla/API.html"
  },
  "servers": [
    {
      "url": "https://api.netzero.energy/api/v1"
    }
  ],
  "paths": {
    "/{site_id}/config": {
      "get": {
        "operationId": "getSiteConfig",
        "summary": "Get site configuration and live status",
        "description": "Returns the current configuration values and live status including power metrics and wall connector data for a site.",
        "tags": [
          "Configuration"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "description": "The site identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Site configuration and live status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteConfigResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid or missing bearer token"
          }
        }
      },
      "post": {
        "operationId": "updateSiteConfig",
        "summary": "Modify site configuration",
        "description": "Update one or more configuration parameters for a site.",
        "tags": [
          "Configuration"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "description": "The site identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteConfigUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated site configuration and live status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteConfigResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid configuration parameters"
          },
          "401": {
            "description": "Unauthorized - invalid or missing bearer token"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token obtained from Netzero app account settings under Developer API"
      }
    },
    "schemas": {
      "SiteConfigUpdate": {
        "type": "object",
        "properties": {
          "backup_reserve_percent": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "description": "Backup reserve percentage (0-100)"
          },
          "operational_mode": {
            "type": "string",
            "enum": [
              "autonomous",
              "self_consumption",
              "backup"
            ],
            "description": "Operational mode of the system"
          },
          "energy_exports": {
            "type": "string",
            "enum": [
              "pv_only",
              "battery_ok",
              "never"
            ],
            "description": "Energy export setting"
          },
          "grid_charging": {
            "type": "boolean",
            "description": "Whether grid charging is enabled"
          }
        }
      },
      "SiteConfigResponse": {
        "type": "object",
        "properties": {
          "backup_reserve_percent": {
            "type": "integer",
            "description": "Current backup reserve percentage"
          },
          "operational_mode": {
            "type": "string",
            "description": "Current operational mode"
          },
          "energy_exports": {
            "type": "string",
            "description": "Current energy export setting"
          },
          "grid_charging": {
            "type": "boolean",
            "description": "Whether grid charging is enabled"
          },
          "percentage_charged": {
            "type": "number",
            "description": "Current battery charge percentage"
          },
          "grid_status": {
            "type": "string",
            "description": "Current grid connection status"
          },
          "live_status": {
            "type": "object",
            "description": "Live power metrics and wall connector data",
            "properties": {
              "solar_power": {
                "type": "number"
              },
              "battery_power": {
                "type": "number"
              },
              "grid_power": {
                "type": "number"
              },
              "load_power": {
                "type": "number"
              },
              "wall_connectors": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "din": {
                      "type": "string"
                    },
                    "wall_connector_power": {
                      "type": "number"
                    },
                    "wall_connector_state": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}