{
  "openapi": "3.0.3",
  "info": {
    "title": "Customer.guru API",
    "version": "2.0.0",
    "description": "Customer.guru NPS survey platform API for sending surveys and retrieving customer and rating data.",
    "x-jentic-source-url": "https://customer.guru/api/documentation/v2"
  },
  "servers": [
    {
      "url": "https://customer.guru"
    }
  ],
  "paths": {
    "/api/v2/survey": {
      "post": {
        "operationId": "sendSurvey",
        "summary": "Send or schedule survey",
        "tags": [
          "Surveys"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SurveyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Survey sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/export/customers": {
      "get": {
        "operationId": "exportCustomers",
        "summary": "Export customers",
        "tags": [
          "Export"
        ],
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CSV export of customers"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/export/ratings": {
      "get": {
        "operationId": "exportRatings",
        "summary": "Export ratings",
        "tags": [
          "Export"
        ],
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CSV export of ratings"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SurveyRequest": {
        "type": "object",
        "required": [
          "api_token",
          "api_secret",
          "scheduled_for",
          "customers"
        ],
        "properties": {
          "api_token": {
            "type": "string"
          },
          "api_secret": {
            "type": "string"
          },
          "test": {
            "type": "boolean"
          },
          "scheduled_for": {
            "type": "string"
          },
          "survey_id": {
            "type": "integer"
          },
          "customers": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "email"
              ],
              "properties": {
                "email": {
                  "type": "string"
                },
                "language": {
                  "type": "string"
                },
                "properties": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "SurveyResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "successfully_sent": {
            "type": "integer"
          },
          "failed_to_send": {
            "type": "integer"
          },
          "test": {
            "type": "boolean"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "api_token"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ]
}