{
  "openapi": "3.0.3",
  "info": {
    "title": "SignatureAPI",
    "description": "Electronic signature API for creating envelopes, managing documents, recipients, ceremonies, and deliverables.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://signatureapi.com/docs"
  },
  "servers": [
    {
      "url": "https://api.signatureapi.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/v1/envelopes": {
      "post": {
        "operationId": "createEnvelope",
        "summary": "Create an envelope",
        "description": "Creates a new envelope containing documents and recipients for signing.",
        "tags": [
          "Envelopes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEnvelopeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Envelope created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listEnvelopes",
        "summary": "List envelopes",
        "description": "Returns a paginated list of envelopes.",
        "tags": [
          "Envelopes"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter by envelope status.",
            "schema": {
              "type": "string",
              "enum": [
                "processing",
                "in_progress",
                "completed",
                "failed",
                "canceled"
              ]
            }
          },
          {
            "name": "topic",
            "in": "query",
            "description": "Filter by topic tag.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return (1-20, default 20).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of envelopes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvelopeList"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/envelopes/{envelope_id}": {
      "get": {
        "operationId": "getEnvelope",
        "summary": "Retrieve an envelope",
        "description": "Returns the details of an envelope.",
        "tags": [
          "Envelopes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EnvelopeId"
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateEnvelope",
        "summary": "Update an envelope",
        "description": "Updates an envelope's label.",
        "tags": [
          "Envelopes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EnvelopeId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "string",
                    "maxLength": 500,
                    "nullable": true,
                    "description": "Internal identification label, not shown to recipients."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Envelope updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteEnvelope",
        "summary": "Delete an envelope",
        "description": "Deletes an envelope. Only envelopes with status canceled, completed, or failed can be deleted.",
        "tags": [
          "Envelopes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EnvelopeId"
          }
        ],
        "responses": {
          "204": {
            "description": "Envelope deleted successfully"
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/envelopes/{envelope_id}/cancel": {
      "post": {
        "operationId": "cancelEnvelope",
        "summary": "Cancel an envelope",
        "description": "Cancels an in-progress envelope. Only envelopes with status in_progress can be canceled. This action is irreversible.",
        "tags": [
          "Envelopes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EnvelopeId"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "maxLength": 2000,
                    "description": "Explanation for cancellation. Internal use only, included in webhook payload."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Envelope canceled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/envelopes/{envelope_id}/events": {
      "get": {
        "operationId": "listEnvelopeEvents",
        "summary": "List envelope events",
        "description": "Returns a paginated list of events for an envelope.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EnvelopeId"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by event type.",
            "schema": {
              "type": "string",
              "enum": [
                "envelope.created",
                "envelope.started",
                "envelope.completed",
                "envelope.canceled",
                "recipient.completed",
                "recipient.sent",
                "recipient.soft_bounced",
                "ceremony.completed",
                "ceremony.canceled",
                "ceremony.failed",
                "deliverable.generated"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (1-20, default 20).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventList"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/envelopes/{envelope_id}/deliverables": {
      "post": {
        "operationId": "createDeliverable",
        "summary": "Create a deliverable",
        "description": "Creates a new deliverable for a completed envelope.",
        "tags": [
          "Deliverables"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EnvelopeId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliverableInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Deliverable created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deliverable"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/recipients/{recipient_id}": {
      "get": {
        "operationId": "getRecipient",
        "summary": "Retrieve a recipient",
        "description": "Returns the details of a recipient.",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipientId"
          }
        ],
        "responses": {
          "200": {
            "description": "Recipient retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recipient"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/recipients/{recipient_id}/replace": {
      "post": {
        "operationId": "replaceRecipient",
        "summary": "Replace a recipient",
        "description": "Replaces a recipient who has not yet completed their actions. The new recipient inherits the original's type, key, routing position, and assigned places.",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipientId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "email"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Full name of the replacement recipient."
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address of the replacement recipient."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Recipient replaced successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recipient"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/recipients/{recipient_id}/resend": {
      "post": {
        "operationId": "resendRecipient",
        "summary": "Resend to a recipient",
        "description": "Resends the signing invitation to a recipient. Subject to rate limiting. Recipient status must be sent or soft_bounced.",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipientId"
          }
        ],
        "responses": {
          "200": {
            "description": "Resend successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "can_resend_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Time after which the next resend can be initiated, in ISO 8601 format."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/recipients/{recipient_id}/events": {
      "get": {
        "operationId": "listRecipientEvents",
        "summary": "List recipient events",
        "description": "Returns a paginated list of events for a recipient.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipientId"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by event type.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (1-20, default 20).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventList"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/recipients/{recipient_id}/ceremonies": {
      "post": {
        "operationId": "createCeremony",
        "summary": "Create a ceremony",
        "description": "Creates a new signing ceremony for a recipient.",
        "tags": [
          "Ceremonies"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipientId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCeremonyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Ceremony created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ceremony"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/deliverables/{deliverable_id}": {
      "get": {
        "operationId": "getDeliverable",
        "summary": "Retrieve a deliverable",
        "description": "Returns the details of a deliverable including a pre-signed download URL that expires after 1 hour.",
        "tags": [
          "Deliverables"
        ],
        "parameters": [
          {
            "name": "deliverable_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the deliverable.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deliverable retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deliverable"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/uploads": {
      "post": {
        "operationId": "createUpload",
        "summary": "Upload a file",
        "description": "Uploads a file (PDF, DOCX, or PNG) for use in envelope documents. Maximum file size is 5 MB.",
        "tags": [
          "Uploads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/pdf": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "application/vnd.openxmlformats-officedocument.wordprocessingml.document": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "image/png": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "File uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Upload"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for authentication. Test keys start with key_test_, live keys start with key_live_."
      }
    },
    "parameters": {
      "EnvelopeId": {
        "name": "envelope_id",
        "in": "path",
        "required": true,
        "description": "The unique identifier of the envelope, in UUID format.",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "RecipientId": {
        "name": "recipient_id",
        "in": "path",
        "required": true,
        "description": "The unique identifier of the recipient.",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "description": "Error response conforming to RFC 7807.",
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "description": "URL identifying the problem type."
          },
          "title": {
            "type": "string",
            "description": "Short human-readable summary of the problem."
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code."
          },
          "detail": {
            "type": "string",
            "description": "Specific explanation of the problem."
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "description": "Validation error response conforming to RFC 7807.",
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "description": "URL identifying the problem type."
          },
          "title": {
            "type": "string",
            "description": "Short human-readable summary."
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code (422)."
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of validation issues."
          }
        }
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "next": {
            "type": "string",
            "nullable": true,
            "description": "URL to the next page of results."
          },
          "previous": {
            "type": "string",
            "nullable": true,
            "description": "URL to the previous page of results."
          }
        }
      },
      "Envelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Envelope identifier."
          },
          "title": {
            "type": "string",
            "description": "Envelope title."
          },
          "label": {
            "type": "string",
            "nullable": true,
            "description": "Internal identification label."
          },
          "message": {
            "type": "string",
            "nullable": true,
            "description": "Custom message to recipients."
          },
          "topics": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Classification tags."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Custom key-value pairs."
          },
          "status": {
            "type": "string",
            "enum": [
              "processing",
              "in_progress",
              "completed",
              "failed",
              "canceled"
            ],
            "description": "Current envelope status."
          },
          "mode": {
            "type": "string",
            "enum": [
              "test",
              "live"
            ],
            "description": "Test or live mode."
          },
          "routing": {
            "type": "string",
            "enum": [
              "sequential",
              "parallel"
            ],
            "description": "Signing order."
          },
          "language": {
            "type": "string",
            "enum": [
              "en",
              "es",
              "fr",
              "it",
              "pt",
              "de",
              "zh",
              "hu"
            ],
            "description": "Language code."
          },
          "timezone": {
            "type": "string",
            "description": "IANA timezone identifier."
          },
          "timestamp_format": {
            "type": "string",
            "description": "MomentJS format tokens for timestamps."
          },
          "attestation": {
            "type": "string",
            "enum": [
              "none",
              "mx_nom151"
            ],
            "description": "Regulatory attestation type."
          },
          "sender": {
            "$ref": "#/components/schemas/Sender"
          },
          "branding": {
            "$ref": "#/components/schemas/Branding"
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Document"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Recipient"
            }
          },
          "deliverable": {
            "$ref": "#/components/schemas/DeliverableConfig"
          },
          "captures": {
            "type": "object",
            "additionalProperties": true,
            "description": "Captured field values from recipients."
          },
          "snapshot_url": {
            "type": "string",
            "nullable": true,
            "description": "Snapshot URL."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp in ISO 8601 format."
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Completion timestamp in ISO 8601 format."
          }
        }
      },
      "EnvelopeList": {
        "type": "object",
        "properties": {
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Envelope"
            }
          }
        }
      },
      "CreateEnvelopeRequest": {
        "type": "object",
        "required": [
          "title",
          "documents",
          "recipients"
        ],
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500,
            "description": "Envelope title."
          },
          "message": {
            "type": "string",
            "maxLength": 2000,
            "description": "Custom message for recipients."
          },
          "routing": {
            "type": "string",
            "enum": [
              "sequential",
              "parallel"
            ],
            "default": "sequential",
            "description": "Signing order."
          },
          "language": {
            "type": "string",
            "enum": [
              "en",
              "es",
              "fr",
              "it",
              "pt",
              "de",
              "zh",
              "hu"
            ],
            "description": "Language for the signing interface."
          },
          "timezone": {
            "type": "string",
            "description": "IANA timezone identifier."
          },
          "timestamp_format": {
            "type": "string",
            "description": "MomentJS format tokens."
          },
          "label": {
            "type": "string",
            "maxLength": 500,
            "description": "Internal identification label."
          },
          "topics": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 32
            },
            "maxItems": 10,
            "description": "Classification tags."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Up to 10 custom key-value pairs."
          },
          "attestation": {
            "type": "string",
            "enum": [
              "none",
              "mx_nom151"
            ],
            "default": "none",
            "description": "Regulatory attestation type."
          },
          "sender": {
            "$ref": "#/components/schemas/SenderInput"
          },
          "branding": {
            "$ref": "#/components/schemas/BrandingInput"
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentInput"
            },
            "minItems": 1,
            "maxItems": 10,
            "description": "Documents to include in the envelope."
          },
          "recipients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RecipientInput"
            },
            "minItems": 1,
            "maxItems": 10,
            "description": "Recipients of the envelope."
          },
          "deliverable": {
            "$ref": "#/components/schemas/DeliverableInput"
          }
        }
      },
      "DocumentInput": {
        "type": "object",
        "required": [
          "url",
          "format"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Publicly accessible URL to the document file."
          },
          "format": {
            "type": "string",
            "enum": [
              "pdf",
              "docx"
            ],
            "description": "Document file format."
          },
          "key": {
            "type": "string",
            "maxLength": 32,
            "pattern": "^[a-z][a-z0-9_]*$",
            "description": "Unique document key."
          },
          "title": {
            "type": "string",
            "maxLength": 500,
            "description": "Display name for the document."
          },
          "data": {
            "type": "object",
            "additionalProperties": true,
            "description": "Template variables for DOCX documents."
          },
          "places": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlaceInput"
            },
            "description": "Signature fields, text inputs, and other interactive elements."
          },
          "fixed_positions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FixedPosition"
            },
            "description": "Coordinate-based positions for places."
          }
        }
      },
      "Document": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Document identifier."
          },
          "envelope_id": {
            "type": "string",
            "format": "uuid",
            "description": "Parent envelope identifier."
          },
          "title": {
            "type": "string",
            "description": "Document title."
          },
          "key": {
            "type": "string",
            "description": "Document key."
          },
          "page_count": {
            "type": "integer",
            "description": "Number of pages."
          },
          "url": {
            "type": "string",
            "description": "Document URL."
          },
          "format": {
            "type": "string",
            "enum": [
              "pdf",
              "docx"
            ],
            "description": "Document format."
          },
          "places": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlaceInput"
            }
          },
          "fixed_positions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FixedPosition"
            }
          }
        }
      },
      "PlaceInput": {
        "type": "object",
        "required": [
          "key",
          "type"
        ],
        "description": "A place defines a field or interactive element on a document. The type determines which additional fields are required.",
        "properties": {
          "key": {
            "type": "string",
            "maxLength": 32,
            "pattern": "^[a-z][a-z0-9_]*$",
            "description": "Unique place identifier."
          },
          "type": {
            "type": "string",
            "enum": [
              "signature",
              "initials",
              "text",
              "text_input",
              "boxed_text_input",
              "multiline_text_input",
              "checkbox",
              "dropdown",
              "recipient_completed_date",
              "envelope_completed_date",
              "recipient_name",
              "recipient_email"
            ],
            "description": "Type of place."
          },
          "recipient_key": {
            "type": "string",
            "description": "Key of the associated recipient."
          },
          "height": {
            "type": "number",
            "description": "Height in points."
          },
          "width": {
            "type": "number",
            "description": "Width in points."
          },
          "font_size": {
            "type": "number",
            "description": "Font size in points."
          },
          "font_color": {
            "type": "string",
            "description": "Hex color code (e.g., #000000)."
          },
          "value": {
            "type": "string",
            "maxLength": 1000,
            "description": "Text value for text type places."
          },
          "capture_as": {
            "type": "string",
            "maxLength": 32,
            "description": "Key for captured value."
          },
          "hint": {
            "type": "string",
            "description": "Tooltip message."
          },
          "prompt": {
            "type": "string",
            "description": "Placeholder text."
          },
          "requirement": {
            "type": "string",
            "enum": [
              "required",
              "optional"
            ],
            "description": "Whether the field is required or optional."
          },
          "format": {
            "type": "string",
            "description": "Validation format (email, zipcode-us, or regex pattern)."
          },
          "format_message": {
            "type": "string",
            "description": "Validation error message."
          },
          "box_count": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "description": "Number of boxes for boxed_text_input."
          },
          "line_count": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "description": "Number of lines for multiline_text_input."
          },
          "line_height": {
            "type": "number",
            "description": "Line height in points for multiline_text_input."
          },
          "symbol": {
            "type": "string",
            "enum": [
              "check",
              "xmark"
            ],
            "description": "Symbol for checkbox type."
          },
          "options": {
            "description": "Options for dropdown type. Can be an array of label/value objects or a predefined enum string.",
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "label",
                    "value"
                  ]
                }
              },
              {
                "type": "string",
                "enum": [
                  "world_countries_names",
                  "world_countries_2_letter_codes",
                  "world_countries_3_letter_codes",
                  "world_countries_numeric_codes",
                  "us_states_names",
                  "us_states_2_letter_codes"
                ]
              }
            ]
          },
          "default": {
            "type": "string",
            "description": "Default selected option for dropdown."
          },
          "behavior": {
            "type": "string",
            "enum": [
              "auto",
              "select",
              "combobox"
            ],
            "description": "Behavior mode for dropdown."
          },
          "date_format": {
            "type": "string",
            "description": "Date format using Moment.js syntax."
          }
        }
      },
      "FixedPosition": {
        "type": "object",
        "required": [
          "place_key",
          "page",
          "top",
          "left"
        ],
        "properties": {
          "place_key": {
            "type": "string",
            "maxLength": 32,
            "description": "Key of the place to position."
          },
          "page": {
            "type": "integer",
            "minimum": 1,
            "description": "Page number (starting at 1)."
          },
          "top": {
            "type": "number",
            "description": "Distance from top edge in points."
          },
          "left": {
            "type": "number",
            "description": "Distance from left edge in points."
          }
        }
      },
      "RecipientInput": {
        "type": "object",
        "required": [
          "type",
          "key",
          "name",
          "email"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "signer",
              "approver",
              "preparer"
            ],
            "description": "Recipient role."
          },
          "key": {
            "type": "string",
            "maxLength": 32,
            "pattern": "^[a-z][a-z0-9_]*$",
            "description": "Unique recipient identifier."
          },
          "name": {
            "type": "string",
            "description": "Full name of the recipient."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the recipient."
          },
          "delivery_type": {
            "type": "string",
            "enum": [
              "email",
              "none"
            ],
            "description": "How the invitation is delivered."
          },
          "signature_options": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "typed",
                "drawn"
              ]
            },
            "description": "Allowed signature input methods."
          },
          "ceremony": {
            "$ref": "#/components/schemas/CeremonyInput"
          }
        }
      },
      "Recipient": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Recipient identifier."
          },
          "envelope_id": {
            "type": "string",
            "format": "uuid",
            "description": "Parent envelope identifier."
          },
          "type": {
            "type": "string",
            "enum": [
              "signer",
              "approver",
              "preparer"
            ],
            "description": "Recipient role."
          },
          "key": {
            "type": "string",
            "description": "Recipient key."
          },
          "name": {
            "type": "string",
            "description": "Recipient name."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Recipient email."
          },
          "status": {
            "type": "string",
            "description": "Current recipient status."
          },
          "status_updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the status last changed."
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When the recipient completed their actions."
          },
          "delivery_type": {
            "type": "string",
            "enum": [
              "email",
              "none"
            ],
            "description": "Delivery method."
          },
          "signature_options": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "typed",
                "drawn"
              ]
            }
          },
          "ceremony": {
            "$ref": "#/components/schemas/Ceremony"
          },
          "ceremony_creation": {
            "type": "string",
            "description": "How the ceremony was created (e.g., automatic)."
          }
        }
      },
      "CeremonyInput": {
        "type": "object",
        "properties": {
          "authentication": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuthenticationInput"
            },
            "description": "Authentication methods for the ceremony."
          },
          "redirect_url": {
            "type": "string",
            "format": "uri",
            "description": "HTTPS URL for post-ceremony redirect."
          },
          "redirect_delay": {
            "type": "integer",
            "minimum": 0,
            "maximum": 20,
            "default": 3,
            "description": "Seconds before redirect."
          },
          "url_variant": {
            "type": "string",
            "enum": [
              "standard",
              "short"
            ],
            "default": "standard",
            "description": "URL format variant."
          },
          "embeddable_in": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Origins allowed to embed the ceremony in an iframe."
          }
        }
      },
      "AuthenticationInput": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "email_link",
              "email_code",
              "custom"
            ],
            "description": "Authentication method type."
          },
          "subject_override": {
            "type": "string",
            "maxLength": 500,
            "description": "Custom email subject (for email_link type)."
          },
          "message_override": {
            "type": "string",
            "maxLength": 2000,
            "description": "Custom email message with Markdown support (for email_link type)."
          },
          "provider": {
            "type": "string",
            "description": "Company or application name (required for custom type)."
          },
          "data": {
            "type": "object",
            "additionalProperties": true,
            "description": "Key-value metadata (required for custom type)."
          }
        }
      },
      "Ceremony": {
        "type": "object",
        "properties": {
          "authentication": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuthenticationInput"
            }
          },
          "redirect_url": {
            "type": "string",
            "nullable": true,
            "description": "Post-ceremony redirect URL."
          },
          "redirect_delay": {
            "type": "integer",
            "description": "Seconds before redirect."
          },
          "url_variant": {
            "type": "string",
            "enum": [
              "standard",
              "short"
            ]
          },
          "embeddable_in": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "url": {
            "type": "string",
            "nullable": true,
            "description": "Ceremony access URL."
          }
        }
      },
      "CreateCeremonyRequest": {
        "type": "object",
        "required": [
          "authentication"
        ],
        "properties": {
          "authentication": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuthenticationInput"
            },
            "description": "Authentication methods."
          },
          "redirect_url": {
            "type": "string",
            "format": "uri",
            "description": "HTTPS URL for post-ceremony redirect."
          },
          "redirect_delay": {
            "type": "integer",
            "minimum": 0,
            "maximum": 20,
            "default": 3,
            "description": "Seconds before redirect."
          },
          "url_variant": {
            "type": "string",
            "enum": [
              "standard",
              "short"
            ],
            "default": "standard"
          },
          "embeddable_in": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Origins allowed for iframe embedding."
          }
        }
      },
      "SenderInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 500,
            "description": "Sender name."
          },
          "email": {
            "type": "string",
            "maxLength": 320,
            "format": "email",
            "description": "Sender email."
          },
          "organization": {
            "type": "string",
            "maxLength": 500,
            "description": "Sender organization."
          }
        }
      },
      "Sender": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Sender name."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Sender email."
          },
          "organization": {
            "type": "string",
            "nullable": true,
            "description": "Sender organization."
          }
        }
      },
      "BrandingInput": {
        "type": "object",
        "properties": {
          "logo": {
            "type": "string",
            "format": "uri",
            "description": "URL to a PNG logo file."
          },
          "accent_color": {
            "type": "string",
            "pattern": "^#[0-9a-fA-F]{6}$",
            "default": "#2463eb",
            "description": "Hex color code with minimum 4.5:1 contrast ratio."
          },
          "email": {
            "type": "object",
            "properties": {
              "footer": {
                "type": "string",
                "maxLength": 10000,
                "description": "Email footer text with Markdown support."
              },
              "logo_position": {
                "type": "string",
                "enum": [
                  "left",
                  "center",
                  "right"
                ],
                "default": "left",
                "description": "Logo position in emails."
              }
            }
          }
        }
      },
      "Branding": {
        "type": "object",
        "properties": {
          "logo": {
            "type": "string",
            "nullable": true,
            "description": "Logo URL."
          },
          "accent_color": {
            "type": "string",
            "description": "Accent color hex code."
          },
          "email": {
            "type": "object",
            "properties": {
              "footer": {
                "type": "string",
                "nullable": true
              },
              "logo_position": {
                "type": "string",
                "enum": [
                  "left",
                  "center",
                  "right"
                ]
              }
            }
          }
        }
      },
      "DeliverableInput": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "standard",
              "simple"
            ],
            "description": "Deliverable type. Standard includes an audit log."
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 32,
            "pattern": "^[a-z][a-z0-9_]*$",
            "description": "Deliverable name."
          },
          "language": {
            "type": "string",
            "enum": [
              "en",
              "es",
              "fr",
              "it",
              "pt",
              "de",
              "zh",
              "hu"
            ],
            "description": "Audit log language (standard type only)."
          },
          "timezone": {
            "type": "string",
            "description": "IANA timezone for audit log (standard type only)."
          },
          "timestamp_format": {
            "type": "string",
            "description": "MomentJS format for audit log timestamps (standard type only)."
          },
          "included_documents": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "maxItems": 10,
            "description": "Document keys to include."
          },
          "password": {
            "type": "string",
            "minLength": 4,
            "maxLength": 32,
            "pattern": "^[a-zA-Z0-9]+$",
            "description": "Password to protect the deliverable."
          }
        }
      },
      "CreateDeliverableRequest": {
        "$ref": "#/components/schemas/DeliverableInput"
      },
      "DeliverableConfig": {
        "type": "object",
        "description": "Deliverable configuration as returned in an envelope.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Deliverable identifier."
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Deliverable name."
          },
          "type": {
            "type": "string",
            "enum": [
              "standard",
              "simple"
            ],
            "description": "Deliverable type."
          },
          "status": {
            "type": "string",
            "description": "Current status (processing, generated)."
          },
          "url": {
            "type": "string",
            "nullable": true,
            "description": "Download URL when generated."
          }
        }
      },
      "Deliverable": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Deliverable identifier."
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Deliverable name."
          },
          "envelope_id": {
            "type": "string",
            "format": "uuid",
            "description": "Associated envelope identifier."
          },
          "type": {
            "type": "string",
            "enum": [
              "standard",
              "simple"
            ],
            "description": "Deliverable type."
          },
          "status": {
            "type": "string",
            "enum": [
              "processing",
              "generated"
            ],
            "description": "Current status."
          },
          "url": {
            "type": "string",
            "nullable": true,
            "description": "Pre-signed download URL (expires after 1 hour)."
          },
          "language": {
            "type": "string",
            "description": "Audit log language."
          },
          "timezone": {
            "type": "string",
            "description": "Audit log timezone."
          },
          "timestamp_format": {
            "type": "string",
            "description": "Audit log timestamp format."
          },
          "included_documents": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Document keys included."
          },
          "password": {
            "type": "string",
            "nullable": true,
            "description": "Masked as ******** when set."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp."
          },
          "generated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Generation completion timestamp."
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Event identifier."
          },
          "type": {
            "type": "string",
            "enum": [
              "envelope.created",
              "envelope.started",
              "envelope.completed",
              "envelope.canceled",
              "recipient.completed",
              "recipient.sent",
              "recipient.soft_bounced",
              "ceremony.completed",
              "ceremony.canceled",
              "ceremony.failed",
              "deliverable.generated"
            ],
            "description": "Event type."
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Event timestamp in ISO 8601 format."
          },
          "data": {
            "type": "object",
            "properties": {
              "object_id": {
                "type": "string",
                "description": "Related object identifier."
              },
              "object_type": {
                "type": "string",
                "description": "Related object type."
              },
              "envelope_id": {
                "type": "string",
                "description": "Related envelope identifier."
              },
              "envelope_metadata": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                },
                "description": "Custom envelope metadata."
              },
              "recipient_type": {
                "type": "string",
                "description": "Recipient classification."
              },
              "recipient_key": {
                "type": "string",
                "description": "Recipient identifier key."
              },
              "session_id": {
                "type": "string",
                "description": "Session identifier (for recipient events)."
              }
            }
          }
        }
      },
      "EventList": {
        "type": "object",
        "properties": {
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          }
        }
      },
      "Upload": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Upload identifier."
          },
          "retention": {
            "type": "string",
            "enum": [
              "temporary"
            ],
            "description": "Retention policy."
          },
          "url": {
            "type": "string",
            "description": "URL for use in envelope documents."
          },
          "format": {
            "type": "string",
            "enum": [
              "pdf",
              "docx",
              "png"
            ],
            "description": "File format."
          },
          "sha_256": {
            "type": "string",
            "description": "SHA-256 hash of the file."
          },
          "size": {
            "type": "integer",
            "description": "File size in bytes."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Upload timestamp."
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "Expiration timestamp (24 hours after creation)."
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}