{
  "openapi": "3.0.3",
  "info": {
    "title": "Sirv REST API",
    "description": "Sirv is an image management and CDN platform. The REST API provides programmatic access to account management, file operations, image processing, statistics, and more. Authentication uses JWT bearer tokens obtained via client credentials.",
    "version": "2.0.0",
    "contact": {
      "name": "Sirv",
      "url": "https://sirv.com"
    },
    "x-jentic-source-url": "https://apidocs.sirv.com/"
  },
  "servers": [
    {
      "url": "https://api.sirv.com/v2",
      "description": "Sirv API v2 production server"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Token management"
    },
    {
      "name": "Account",
      "description": "Account management operations"
    },
    {
      "name": "Billing",
      "description": "Billing and plan information"
    },
    {
      "name": "User",
      "description": "User management"
    },
    {
      "name": "Files",
      "description": "File operations (upload, download, search, manage)"
    },
    {
      "name": "Statistics",
      "description": "Usage statistics"
    }
  ],
  "paths": {
    "/token": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Get API token",
        "description": "Obtain a JWT bearer token using client credentials. Tokens expire after 1200 seconds (20 minutes).",
        "operationId": "getToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clientId": {
                    "type": "string",
                    "description": "API client ID"
                  },
                  "clientSecret": {
                    "type": "string",
                    "description": "API client secret"
                  }
                },
                "required": ["clientId", "clientSecret"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token issued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "JWT bearer token"
                    },
                    "expiresIn": {
                      "type": "integer",
                      "description": "Token lifetime in seconds",
                      "example": 1200
                    },
                    "scope": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Granted scopes"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/account": {
      "get": {
        "tags": ["Account"],
        "summary": "Get account information",
        "description": "Get information about the account, including its CDN URL.",
        "operationId": "getAccount",
        "responses": {
          "200": {
            "description": "Account information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": ["Account"],
        "summary": "Update account settings",
        "description": "Modify account settings such as minify and fetching options.",
        "operationId": "updateAccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "minify": {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean"
                      }
                    }
                  },
                  "fetching": {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean"
                      },
                      "type": {
                        "type": "string"
                      },
                      "http": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "format": "uri"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/account/limits": {
      "get": {
        "tags": ["Account"],
        "summary": "Get API rate limits",
        "description": "Check the allowed number of API requests.",
        "operationId": "getAccountLimits",
        "responses": {
          "200": {
            "description": "Rate limit information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "plan": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "integer"
                        },
                        "count": {
                          "type": "integer"
                        },
                        "reset": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/account/storage": {
      "get": {
        "tags": ["Account"],
        "summary": "Get storage usage",
        "description": "Check the current storage usage of an account.",
        "operationId": "getAccountStorage",
        "responses": {
          "200": {
            "description": "Storage usage",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "plan": {
                      "type": "integer",
                      "description": "Storage limit in bytes"
                    },
                    "used": {
                      "type": "integer",
                      "description": "Storage used in bytes"
                    },
                    "files": {
                      "type": "integer",
                      "description": "Number of files"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/account/users": {
      "get": {
        "tags": ["Account"],
        "summary": "Get account users",
        "description": "Get a list of all users of an account.",
        "operationId": "getAccountUsers",
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserInfo"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/account/sub-account": {
      "post": {
        "tags": ["Account"],
        "summary": "Create sub-account",
        "description": "Create a new sub-account.",
        "operationId": "createSubAccount",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "alias": {
                    "type": "string",
                    "description": "Sub-account alias"
                  }
                },
                "required": ["alias"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sub-account created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "alias": {
                      "type": "string"
                    },
                    "clientId": {
                      "type": "string"
                    },
                    "clientSecret": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": ["Account"],
        "summary": "Close sub-account",
        "description": "Close a sub-account.",
        "operationId": "deleteSubAccount",
        "parameters": [
          {
            "name": "alias",
            "in": "query",
            "required": true,
            "description": "Sub-account alias to close",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sub-account closed"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Sub-account not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/account/custom-domain": {
      "post": {
        "tags": ["Account"],
        "summary": "Configure custom domain",
        "description": "Configure a custom CDN domain for the account.",
        "operationId": "setCustomDomain",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "alias": {
                    "type": "string",
                    "description": "Account alias"
                  },
                  "domain": {
                    "type": "string",
                    "description": "Custom domain name"
                  }
                },
                "required": ["alias", "domain"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Custom domain configured"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": ["Account"],
        "summary": "Remove custom domain",
        "description": "Remove a custom CDN domain.",
        "operationId": "removeCustomDomain",
        "parameters": [
          {
            "name": "alias",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom domain removed"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Domain not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/account/events/search": {
      "post": {
        "tags": ["Account"],
        "summary": "Search account events",
        "description": "List all events triggered for account.",
        "operationId": "searchAccountEvents",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Start date for events"
                  },
                  "to": {
                    "type": "string",
                    "format": "date-time",
                    "description": "End date for events"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Events list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Event"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/account/events/seen": {
      "post": {
        "tags": ["Account"],
        "summary": "Mark events as seen",
        "description": "Mark events as viewed.",
        "operationId": "markEventsSeen",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Event IDs to mark as seen"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Events marked as seen"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/billing/plan": {
      "get": {
        "tags": ["Billing"],
        "summary": "Get billing plan",
        "description": "Get all the billing plan information of an account.",
        "operationId": "getBillingPlan",
        "responses": {
          "200": {
            "description": "Billing plan information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "storage": {
                      "type": "integer"
                    },
                    "dataTransferLimit": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/user": {
      "get": {
        "tags": ["User"],
        "summary": "Get user info",
        "description": "Get information about a user.",
        "operationId": "getUser",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "User ID to look up",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfo"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/files/upload": {
      "post": {
        "tags": ["Files"],
        "summary": "Upload a file",
        "description": "Upload a file to the Sirv account.",
        "operationId": "uploadFile",
        "parameters": [
          {
            "name": "filename",
            "in": "query",
            "required": true,
            "description": "Path and filename for the uploaded file (e.g. /path/to/image.jpg)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/files/download": {
      "get": {
        "tags": ["Files"],
        "summary": "Download a file",
        "description": "Download a file from the Sirv account.",
        "operationId": "downloadFile",
        "parameters": [
          {
            "name": "filename",
            "in": "query",
            "required": true,
            "description": "Path to the file to download",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File content",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "File not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/files/delete": {
      "post": {
        "tags": ["Files"],
        "summary": "Delete a file",
        "description": "Delete a file from the Sirv account.",
        "operationId": "deleteFile",
        "parameters": [
          {
            "name": "filename",
            "in": "query",
            "required": true,
            "description": "Path to the file to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "File not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/files/copy": {
      "post": {
        "tags": ["Files"],
        "summary": "Copy a file",
        "description": "Copy a file to a new location.",
        "operationId": "copyFile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string",
                    "description": "Source file path"
                  },
                  "to": {
                    "type": "string",
                    "description": "Destination file path"
                  }
                },
                "required": ["from", "to"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File copied"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Source file not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/files/rename": {
      "post": {
        "tags": ["Files"],
        "summary": "Rename a file",
        "description": "Rename or move a file.",
        "operationId": "renameFile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string",
                    "description": "Current file path"
                  },
                  "to": {
                    "type": "string",
                    "description": "New file path"
                  }
                },
                "required": ["from", "to"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File renamed"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Source file not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/files/readdir": {
      "get": {
        "tags": ["Files"],
        "summary": "List directory contents",
        "description": "List files and folders in a directory.",
        "operationId": "readDirectory",
        "parameters": [
          {
            "name": "dirname",
            "in": "query",
            "required": true,
            "description": "Directory path to list",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Directory listing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contents": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FileInfo"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Directory not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/files/stat": {
      "get": {
        "tags": ["Files"],
        "summary": "Get file metadata",
        "description": "Get metadata about a file or directory.",
        "operationId": "getFileStat",
        "parameters": [
          {
            "name": "filename",
            "in": "query",
            "required": true,
            "description": "File path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileInfo"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "File not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/files/search": {
      "post": {
        "tags": ["Files"],
        "summary": "Search files",
        "description": "Search for files using various filters.",
        "operationId": "searchFiles",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Search query"
                  },
                  "from": {
                    "type": "integer",
                    "description": "Offset for pagination"
                  },
                  "size": {
                    "type": "integer",
                    "description": "Number of results to return"
                  },
                  "sort": {
                    "type": "object",
                    "description": "Sort parameters"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hits": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FileInfo"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/files/mkdir": {
      "post": {
        "tags": ["Files"],
        "summary": "Create directory",
        "description": "Create a new directory.",
        "operationId": "createDirectory",
        "parameters": [
          {
            "name": "dirname",
            "in": "query",
            "required": true,
            "description": "Directory path to create",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Directory created"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/files/meta": {
      "get": {
        "tags": ["Files"],
        "summary": "Get file custom metadata",
        "description": "Read custom metadata of a file.",
        "operationId": "getFileMeta",
        "parameters": [
          {
            "name": "filename",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "File not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": ["Files"],
        "summary": "Set file custom metadata",
        "description": "Write custom metadata for a file.",
        "operationId": "setFileMeta",
        "parameters": [
          {
            "name": "filename",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Custom metadata key-value pairs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Metadata updated"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "File not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/files/video2spin": {
      "post": {
        "tags": ["Files"],
        "summary": "Convert video to spin",
        "description": "Convert a video file to a 360 spin.",
        "operationId": "videoToSpin",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filename": {
                    "type": "string",
                    "description": "Path to the video file"
                  }
                },
                "required": ["filename"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conversion started"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Video file not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/files/spin2video": {
      "post": {
        "tags": ["Files"],
        "summary": "Convert spin to video",
        "description": "Convert a 360 spin to a video file.",
        "operationId": "spinToVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filename": {
                    "type": "string",
                    "description": "Path to the spin file"
                  }
                },
                "required": ["filename"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conversion started"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Spin file not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/stats/http": {
      "get": {
        "tags": ["Statistics"],
        "summary": "Get transfer statistics",
        "description": "Get HTTP transfer statistics for the account.",
        "operationId": "getHttpStats",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Start date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transfer statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/stats/spins": {
      "get": {
        "tags": ["Statistics"],
        "summary": "Get spin view counts",
        "description": "Get spin view count statistics.",
        "operationId": "getSpinStats",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Spin statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/stats/storage": {
      "get": {
        "tags": ["Statistics"],
        "summary": "Get storage statistics",
        "description": "Get storage usage statistics over time.",
        "operationId": "getStorageStats",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Storage statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token obtained from POST /token using clientId and clientSecret. Expires after 1200 seconds."
      }
    },
    "schemas": {
      "Account": {
        "type": "object",
        "properties": {
          "alias": {
            "type": "string",
            "description": "Account alias"
          },
          "cdnURL": {
            "type": "string",
            "format": "uri",
            "description": "CDN base URL for the account"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "minify": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean"
              }
            }
          },
          "fetching": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean"
              },
              "type": {
                "type": "string"
              },
              "http": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        }
      },
      "UserInfo": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          }
        }
      },
      "FileInfo": {
        "type": "object",
        "properties": {
          "filename": {
            "type": "string"
          },
          "mtime": {
            "type": "string",
            "format": "date-time",
            "description": "Last modified time"
          },
          "ctime": {
            "type": "string",
            "format": "date-time",
            "description": "Creation time"
          },
          "size": {
            "type": "integer",
            "description": "File size in bytes"
          },
          "isDirectory": {
            "type": "boolean"
          },
          "contentType": {
            "type": "string",
            "description": "MIME type"
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "message": {
            "type": "string"
          },
          "seen": {
            "type": "boolean"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Error name"
          },
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "statusCode": {
            "type": "integer",
            "description": "HTTP status code"
          }
        }
      }
    }
  }
}
