{
  "openapi": "3.0.3",
  "info": {
    "title": "Cashfree Payments API",
    "version": "2025-01-01",
    "description": "Cashfree Payments API for India. Create orders, process payments, manage settlements, payment links, and token vault for saved instruments.",
    "x-jentic-source-url": "https://www.cashfree.com/"
  },
  "servers": [
    {"url": "https://api.cashfree.com/pg", "description": "Production"},
    {"url": "https://sandbox.cashfree.com/pg", "description": "Sandbox"}
  ],
  "paths": {
    "/orders": {
      "post": {"operationId": "createOrder", "summary": "Create an order", "tags": ["Orders"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["order_amount", "order_currency"], "properties": {"order_amount": {"type": "number"}, "order_currency": {"type": "string"}, "customer_details": {"type": "object"}}}}}}, "responses": {"200": {"description": "Order created", "content": {"application/json": {"schema": {"type": "object"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/orders/{orderId}": {
      "get": {"operationId": "getOrder", "summary": "Get order details", "tags": ["Orders"], "parameters": [{"name": "orderId", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Order details", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/payments/pay": {
      "post": {"operationId": "processPayment", "summary": "Process a payment", "tags": ["Payments"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Payment processed", "content": {"application/json": {"schema": {"type": "object"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/payments/authorize": {
      "post": {"operationId": "authorizePayment", "summary": "Capture or void preauthorized payment", "tags": ["Payments"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Authorized", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/orders/{orderId}/payments": {
      "get": {"operationId": "listOrderPayments", "summary": "List payments for order", "tags": ["Payments"], "parameters": [{"name": "orderId", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Payments list", "content": {"application/json": {"schema": {"type": "array", "items": {"type": "object"}}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/settlements": {
      "get": {"operationId": "listSettlements", "summary": "List settlements", "tags": ["Settlements"], "responses": {"200": {"description": "Settlements", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/payment-links": {
      "post": {"operationId": "createPaymentLink", "summary": "Create payment link", "tags": ["PaymentLinks"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Link created", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/payment-links/{linkId}": {
      "get": {"operationId": "getPaymentLink", "summary": "Get payment link", "tags": ["PaymentLinks"], "parameters": [{"name": "linkId", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Link details", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/payment-links/{linkId}/cancel": {
      "patch": {"operationId": "cancelPaymentLink", "summary": "Cancel payment link", "tags": ["PaymentLinks"], "parameters": [{"name": "linkId", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Cancelled"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/customers/{customerId}/instruments": {
      "get": {"operationId": "listInstruments", "summary": "List saved instruments", "tags": ["TokenVault"], "parameters": [{"name": "customerId", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Instruments", "content": {"application/json": {"schema": {"type": "array", "items": {"type": "object"}}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/reconcile/settlements": {
      "get": {"operationId": "reconcileSettlements", "summary": "Settlement reconciliation", "tags": ["Reconciliation"], "responses": {"200": {"description": "Reconciliation data", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/reconcile/payments": {
      "get": {"operationId": "reconcilePayments", "summary": "Payment reconciliation", "tags": ["Reconciliation"], "responses": {"200": {"description": "Reconciliation data", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {"type": "object", "properties": {"message": {"type": "string"}, "code": {"type": "string"}, "type": {"type": "string"}}}
    },
    "securitySchemes": {
      "XClientId": {"type": "apiKey", "in": "header", "name": "x-client-id"},
      "XClientSecret": {"type": "apiKey", "in": "header", "name": "x-client-secret"}
    }
  },
  "security": [{"XClientId": [], "XClientSecret": []}]
}
