{
  "openapi": "3.0.3",
  "info": {
    "version": "1.0.0",
    "title": "APIs - Santanense",
    "description": "APIs de integra\u00e7\u00e3o TOTVs Datasul - Santanense.\n\nAlguns links \u00fateis:\n- [Sigma](https://sigma.santanense.com.br)\n- [Institucional Santanense](https://www.santanense.com.br/)",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/santanense/apis_santanense/1.0.0/swagger.json"
  },
  "externalDocs": {
    "description": "Termos de uso",
    "url": "https://sigma.santanense.com.br/apisUseTerms"
  },
  "servers": [
    {
      "url": "https://pasoe.santanense.com.br/santanense"
    }
  ],
  "tags": [
    {
      "name": "lotes",
      "description": "Lotes"
    },
    {
      "name": "clientes",
      "description": "Clientes"
    }
  ],
  "paths": {
    "/flex/ind/ConsultaLote?lote=lote": {
      "get": {
        "tags": [
          "lotes"
        ],
        "summary": "Consulta Lote",
        "description": "Consulta lote informado",
        "operationId": "findLoteByLote",
        "parameters": [
          {
            "name": "lote",
            "in": "query",
            "description": "C\u00f3digo do lote",
            "required": true,
            "schema": {
              "type": "string",
              "example": "19248480"
            }
          }
        ],
        "responses": {
          "success": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lote": {
                      "properties": {
                        "item": {
                          "type": "string",
                          "example": "099XX9999990000"
                        },
                        "lote": {
                          "type": "string",
                          "example": "19248480"
                        },
                        "cla_nua": {
                          "type": "string",
                          "example": ""
                        },
                        "num_pon": {
                          "type": "number",
                          "example": 0
                        },
                        "largura": {
                          "type": "number",
                          "example": 1.62
                        },
                        "peso": {
                          "type": "number",
                          "example": 12.27
                        },
                        "quantidade": {
                          "type": "number",
                          "example": 34
                        },
                        "dt_fabric": {
                          "type": "string",
                          "example": "2024-09-19"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "error": {
            "description": "Erro",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "erro": {
                      "properties": {
                        "codErro": {
                          "type": "string",
                          "example": "17006"
                        },
                        "descErro": {
                          "type": "string",
                          "example": "Lote n\u00e3o localizado!"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "name"
            ]
          }
        ]
      }
    },
    "/flex/ind/ConsultaNotaLotes?nota=nota": {
      "get": {
        "tags": [
          "lotes"
        ],
        "summary": "Consulta Lotes da nota",
        "description": "Consulta lotes da nota informada",
        "operationId": "findLoteByNota",
        "parameters": [
          {
            "name": "nota",
            "in": "query",
            "description": "N\u00famero da nota",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0859801"
            }
          }
        ],
        "responses": {
          "success": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "nota": {
                      "properties": {
                        "nr_nota": {
                          "type": "string",
                          "example": "0859841"
                        },
                        "serie": {
                          "type": "string",
                          "example": "00"
                        },
                        "peso_liquido": {
                          "type": "number",
                          "example": 1248.486
                        },
                        "peso_bruto": {
                          "type": "number",
                          "example": 1269.494
                        },
                        "itens": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "item": {
                                "type": "string",
                                "example": "099XX9999990000"
                              },
                              "descricao": {
                                "type": "string",
                                "example": "DESCRICAO DO ITEM"
                              },
                              "peso_liquido": {
                                "type": "number",
                                "example": 0.416
                              },
                              "peso_bruto": {
                                "type": "number",
                                "example": 0.444
                              },
                              "un": {
                                "type": "string",
                                "example": "m"
                              },
                              "qt_tot_item": {
                                "type": "number",
                                "example": 14.36
                              },
                              "lotes": {
                                "type": "array",
                                "items": {
                                  "properties": {
                                    "lote": {
                                      "type": "string",
                                      "example": "19218416"
                                    },
                                    "cla_nua": {
                                      "type": "string",
                                      "example": "545"
                                    },
                                    "num_pon": {
                                      "type": "number",
                                      "example": 16.09
                                    },
                                    "largura": {
                                      "type": "number",
                                      "example": 1.6
                                    },
                                    "peso": {
                                      "type": "number",
                                      "example": 42.02
                                    },
                                    "quantidade": {
                                      "type": "number",
                                      "example": 101
                                    },
                                    "dt_fabric": {
                                      "type": "string",
                                      "example": "2024-07-02"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "error": {
            "description": "Erro",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "erro": {
                      "properties": {
                        "codErro": {
                          "type": "string",
                          "example": "17006"
                        },
                        "descErro": {
                          "type": "string",
                          "example": "Nota Fiscal Inv\u00e1lida!"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "name"
            ]
          }
        ]
      }
    },
    "/flex/ind/ConsultaClientes": {
      "post": {
        "tags": [
          "clientes"
        ],
        "summary": "Consulta dados de clientes",
        "description": "Consulta dados de clientes",
        "operationId": "ConsultaClientes",
        "requestBody": {
          "description": "Array de clientes",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "cnpj"
                ],
                "type": "object",
                "properties": {
                  "clientes": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "cnpj": {
                          "type": "string",
                          "example": "99998887000100"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "cnpj"
                  ],
                  "type": "object",
                  "properties": {
                    "clientes": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "codigo": {
                            "type": "integer",
                            "example": 123456
                          },
                          "cnpj": {
                            "type": "string",
                            "example": "99998887000100"
                          },
                          "nome_emit": {
                            "type": "string",
                            "example": "RAZ\u00c3O SOCIAL CLIENTE"
                          },
                          "nome_abrev": {
                            "type": "string",
                            "example": "NOME ABREVIADO"
                          },
                          "nome_matriz": {
                            "type": "string",
                            "example": "NOME ABREVIADO DA MATRIZ"
                          },
                          "dt_implant": {
                            "type": "string",
                            "example": "2001-01-24"
                          },
                          "situacao": {
                            "type": "string",
                            "example": "Liberado"
                          },
                          "dt_lim_cred": {
                            "type": "string",
                            "example": "31/12/2024"
                          },
                          "dt_ult_venda": {
                            "type": "string",
                            "example": "2022-07-18"
                          },
                          "credito": {
                            "type": "string",
                            "example": "Somente a Vista"
                          },
                          "Lim_credito": {
                            "type": "number",
                            "example": 5000000
                          },
                          "ins_estadual": {
                            "type": "string",
                            "example": "999888777654"
                          },
                          "endereco": {
                            "type": "string",
                            "example": "RUA TESTE, SEM NUMERO"
                          },
                          "cidade": {
                            "type": "string",
                            "example": "CIDADE"
                          },
                          "bairro": {
                            "type": "string",
                            "example": "BAIRRO"
                          },
                          "cep": {
                            "type": "string",
                            "example": "00999000"
                          },
                          "uf": {
                            "type": "string",
                            "example": "UF"
                          },
                          "pais": {
                            "type": "string",
                            "example": "BRASIL"
                          },
                          "contato": {
                            "type": "string",
                            "example": "contato@email.com"
                          },
                          "telefone": {
                            "type": "string",
                            "example": ""
                          },
                          "suframa": {
                            "type": "string",
                            "example": ""
                          },
                          "dt_ult_nota": {
                            "type": "string",
                            "example": "10/10/2024"
                          },
                          "vl_ult_nota": {
                            "type": "number",
                            "example": 3000.57
                          },
                          "vl_total_fat": {
                            "type": "number",
                            "example": 15000.95
                          },
                          "dt_maior_nota": {
                            "type": "string",
                            "example": "01/10/2023"
                          },
                          "vl_maior_nota": {
                            "type": "number",
                            "example": 2500
                          },
                          "vl_aberto": {
                            "type": "number",
                            "example": 50000.75
                          },
                          "vl_atrasado": {
                            "type": "number",
                            "example": 0
                          },
                          "liquid": {
                            "type": "array",
                            "items": {
                              "properties": {
                                "seq": {
                                  "type": "string",
                                  "example": "202312"
                                },
                                "periodo": {
                                  "type": "string",
                                  "example": "12/2023"
                                },
                                "atm": {
                                  "type": "integer",
                                  "example": -3
                                },
                                "pmr": {
                                  "type": "integer",
                                  "example": 2
                                },
                                "vendas": {
                                  "type": "number",
                                  "example": 49372.03
                                }
                              }
                            }
                          },
                          "estat": {
                            "type": "array",
                            "items": {
                              "properties": {
                                "seq": {
                                  "type": "integer",
                                  "example": 1
                                },
                                "periodo": {
                                  "type": "string",
                                  "example": "11/2024"
                                },
                                "per": {
                                  "type": "string",
                                  "example": "202411"
                                },
                                "atm": {
                                  "type": "integer",
                                  "example": 0
                                },
                                "pmr": {
                                  "type": "integer",
                                  "example": 0
                                },
                                "vendas": {
                                  "type": "number",
                                  "example": 0
                                },
                                "pedido": {
                                  "type": "number",
                                  "example": 0
                                },
                                "metrag": {
                                  "type": "number",
                                  "example": 0
                                },
                                "premed": {
                                  "type": "number",
                                  "example": 0
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "name"
            ]
          }
        ]
      }
    },
    "/flex/ind/AtuCliValues": {
      "post": {
        "tags": [
          "clientes"
        ],
        "summary": "Atualiza dados de clientes",
        "description": "Atualiza dados financeiros de clientes",
        "operationId": "AtuCliValues",
        "requestBody": {
          "description": "Array de clientes ",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "cnpj"
                ],
                "type": "object",
                "properties": {
                  "clientes": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "cnpj": {
                          "type": "string",
                          "example": "99998887000100"
                        },
                        "dt_lim_cred": {
                          "type": "string",
                          "example": "31/12/2024"
                        },
                        "tip_credito": {
                          "type": "string",
                          "example": "TIPO DO CR\u00c9DITO"
                        },
                        "lim_credito": {
                          "type": "number",
                          "example": 5000000
                        },
                        "dt_ult_nota": {
                          "type": "string",
                          "example": "10/10/2024"
                        },
                        "val_ult_nota": {
                          "type": "number",
                          "example": 3000.57
                        },
                        "val_fat_total": {
                          "type": "number",
                          "example": 15000.95
                        },
                        "val_maior_nota": {
                          "type": "number",
                          "example": 2500
                        },
                        "dt_maior_nota": {
                          "type": "string",
                          "example": "01/10/2023"
                        },
                        "val_aberto": {
                          "type": "number",
                          "example": 50000.75
                        },
                        "val_atraso": {
                          "type": "number",
                          "example": 1000
                        },
                        "prazo_medio": {
                          "type": "integer",
                          "example": 10
                        },
                        "liquid": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "seq": {
                                "type": "string",
                                "example": "202312"
                              },
                              "periodo": {
                                "type": "string",
                                "example": "12/2023"
                              },
                              "atm": {
                                "type": "integer",
                                "example": -3
                              },
                              "pmr": {
                                "type": "integer",
                                "example": 2
                              },
                              "vendas": {
                                "type": "number",
                                "example": 49372.03
                              }
                            }
                          }
                        },
                        "estat": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "seq": {
                                "type": "integer",
                                "example": 1
                              },
                              "periodo": {
                                "type": "string",
                                "example": "11/2024"
                              },
                              "per": {
                                "type": "string",
                                "example": "202411"
                              },
                              "atm": {
                                "type": "integer",
                                "example": 0
                              },
                              "pmr": {
                                "type": "integer",
                                "example": 0
                              },
                              "vendas": {
                                "type": "number",
                                "example": 0
                              },
                              "pedido": {
                                "type": "number",
                                "example": 0
                              },
                              "metrag": {
                                "type": "number",
                                "example": 0
                              },
                              "premed": {
                                "type": "number",
                                "example": 0
                              },
                              "a_vencer": {
                                "type": "number",
                                "example": 1879.9
                              },
                              "pago": {
                                "type": "number",
                                "example": 852.15
                              }
                            }
                          }
                        },
                        "receb": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "seq": {
                                "type": "integer",
                                "example": 1
                              },
                              "periodo": {
                                "type": "string",
                                "example": "11/2024"
                              },
                              "a_vencer": {
                                "type": "number",
                                "example": 1879.9
                              },
                              "pago": {
                                "type": "number",
                                "example": 852.15
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "success": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "cnpj": {
                            "type": "string",
                            "example": "99998887000100"
                          },
                          "mensagem": {
                            "type": "string",
                            "example": "Dados integrados com sucesso!"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "error": {
            "description": "Erro",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "cnpj": {
                            "type": "string",
                            "example": "99998887000100"
                          },
                          "mensagem": {
                            "type": "string",
                            "example": "Cliente nao localizado!"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "name"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "x_api_key",
        "in": "header"
      }
    }
  }
}