{
  "openapi": "3.0.3",
  "info": {
    "description": "This is the interface for interacting with the [Asana Platform](https://developers.asana.com). Our API reference is generated from our [OpenAPI spec] (https://raw.githubusercontent.com/Asana/openapi/master/defs/asana_oas.yaml).",
    "x-public-description": "This is the interface for interacting with the [Asana Platform](https://developers.asana.com). Our API reference is generated from our [OpenAPI spec] (https://raw.githubusercontent.com/Asana/openapi/master/defs/asana_oas.yaml).",
    "title": "Asana",
    "termsOfService": "https://asana.com/terms",
    "contact": {
      "name": "Asana Support",
      "url": "https://asana.com/support"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    },
    "version": "1.0",
    "x-docs-schema-whitelist": [
      "AsanaResource",
      "AsanaNamedResource",
      "AuditLogEvent",
      "AttachmentResponse",
      "AttachmentCompact",
      "BatchResponse",
      "CustomFieldSettingResponse",
      "CustomFieldSettingCompact",
      "CustomTypeResponse",
      "CustomTypeBase",
      "CustomTypeCompact",
      "CustomTypeStatusOptionResponse",
      "CustomTypeStatusOptionBase",
      "CustomTypeStatusOptionCompact",
      "CustomFieldResponse",
      "CustomFieldCompact",
      "CustomFieldMembershipCompact",
      "CustomFieldMembershipResponse",
      "EnumOption",
      "EventResponse",
      "ErrorResponse",
      "GoalResponse",
      "GoalCompact",
      "GoalMembershipCompact",
      "GoalMembershipBase",
      "GoalMembershipResponse",
      "GoalRelationshipResponse",
      "GoalRelationshipCompact",
      "GraphExportResponse",
      "GraphExportCompact",
      "JobResponse",
      "JobCompact",
      "OrganizationExportResponse",
      "OrganizationExportCompact",
      "PortfolioMembershipResponse",
      "PortfolioMembershipCompact",
      "PortfolioResponse",
      "PortfolioCompact",
      "ProjectBriefResponse",
      "ProjectBriefCompact",
      "ProjectMembershipCompactResponse",
      "ProjectMembershipNormalResponse",
      "ProjectMembershipCompact",
      "ProjectResponse",
      "ProjectCompact",
      "ProjectStatusResponse",
      "ProjectStatusCompact",
      "ProjectTemplateCompact",
      "ProjectTemplateResponse",
      "RuleTriggerResponse",
      "ResourceExportResponse",
      "ResourceExportCompact",
      "ResourceExportCompact",
      "RbacRoleResponse",
      "RbacRoleCompact",
      "SectionResponse",
      "SectionCompact",
      "StatusUpdateResponse",
      "StatusUpdateCompact",
      "StoryResponse",
      "StoryCompact",
      "TagResponse",
      "TagCompact",
      "TaskResponse",
      "TaskCompact",
      "TaskCountResponse",
      "TeamMembershipResponse",
      "TeamMembershipCompact",
      "TeamResponse",
      "TeamCompact",
      "TimePeriodResponse",
      "TimePeriodCompact",
      "UserTaskListResponse",
      "UserTaskListCompact",
      "UserResponse",
      "UserCompact",
      "WebhookFilter",
      "WebhookResponse",
      "WebhookCompact",
      "WorkspaceMembershipResponse",
      "WorkspaceMembershipCompact",
      "WorkspaceResponse",
      "WorkspaceCompact"
    ],
    "x-jentic-source-url": "https://raw.githubusercontent.com/Asana/openapi/master/defs/asana_oas.yaml"
  },
  "servers": [
    {
      "url": "https://app.asana.com/api/1.0",
      "description": "Main endpoint."
    }
  ],
  "security": [
    {
      "personalAccessToken": []
    },
    {
      "oauth2": []
    }
  ],
  "x-readme": {
    "proxy-enabled": false
  },
  "tags": [
    {
      "name": "Access requests",
      "description": "An access request object represents a user's request to an item, such as a project or portfolio, that they do not have access to. The request is sent to the owner of the item for approval."
    },
    {
      "name": "Allocations",
      "description": "An allocation object represents how much of a resource (e.g. person, team) is dedicated to a specific work object (e.g. project, portfolio) over a specific period of time. The effort value of an allocation object can be a percentage or number of hours."
    },
    {
      "name": "Attachments",
      "description": "An *attachment* object represents any file attached to a task in Asana, whether it's an uploaded file or one associated via a third-party service such as Dropbox or Google Drive."
    },
    {
      "name": "Audit log API",
      "description": "Asana's audit log is an immutable log of [important events](/docs/audit-log-events#supported-audit-log-events) in your organization's Asana instance.\n\nThe audit log API allows you to monitor and act upon important security and compliance-related changes. Organizations might use this API endpoint to:\n\n* Set up proactive alerting with a Security Information and Event Management (SIEM) tool like [Splunk](https://asana.com/guide/help/api/splunk)\n* Conduct reactive investigations when a security incident takes place\n* Visualize key domain data in aggregate to identify security trends\n\nNote that since the API provides insight into what is happening in an Asana instance, the data is [read-only](/reference/getauditlogevents). That is, there are no \"write\" or \"update\" endpoints for audit log events.\n\nOnly [Service Accounts](https://asana.com/guide/help/premium/service-accounts) in [Enterprise Domains](https://asana.com/enterprise) can access audit log API endpoints. Authentication with a Service Account's [personal access token](/docs/personal-access-token) is required.\n\nFor a full list of supported events, see [supported AuditLogEvents](/docs/audit-log-events#supported-audit-log-events)."
    },
    {
      "name": "Batch API",
      "description": "There are many cases where you want to accomplish a variety of work in the Asana API but want to minimize the number of HTTP requests you make. For example:\n\n* Modern browsers limit the number of requests that a single web page can\n  make at once.\n* Mobile apps will use more battery life to keep the cellular radio on\n  when making a series of requests.\n* There is an overhead cost to developing software that can make multiple\n  requests in parallel.\n* Some cloud platforms handle parallelism poorly, or disallow it\n  entirely.\n\n\nTo make development easier in these use cases, Asana provides a **batch API** that enables developers to perform multiple “actions” by making only a single HTTP request.\n\n#### Making a batch request\n\nTo make a batch request, send a `POST` request to `/batch`. Like other `POST` endpoints, the body should contain a `data` envelope. Inside this envelope should be a single `actions` field, containing a list of “action” objects.  Each action represents a standard request to an existing endpoint in the Asana API.\n\n**The maximum number of actions allowed in a single batch request is 10**. Making a batch request with no actions in it will result in a `400 Bad Request`.\n\nWhen the batch API receives the list of actions to execute, it will dispatch those actions to the already-implemented endpoints specified by the `relative_path` and `method` for each action. This happens in parallel, so all actions in the request will be processed simultaneously. There is no guarantee of the execution order for these actions, nor is there a way to use the output of one action as the input of another action (such as creating a task and then commenting on it).\n\nThe response to the batch request will contain (within the `data` envelope) a list of result objects, one for each action. The results are guaranteed to be in the same order as the actions in the request (e.g., the first result in the response corresponds to the first action in the request)\n\nThe batch API will always attempt to return a `200 Success` response with individual result objects for each individual action in the request. Only in certain cases (such as missing authorization or malformed JSON in the body) will the entire request fail with another status code. Even if every individual action in the request fails, the batch API will still return a `200 Success` response, and each result object in the response will contain the errors encountered with each action.\n\n#### Rate limiting\n\nThe batch API fully respects all of our rate limiting. This means that a batch request counts against *both* the standard rate limiter and the concurrent request limiter as though you had made a separate HTTP request for every individual action. For example, a batch request with five actions counts as five separate requests in the standard rate limiter, and counts as five concurrent requests in the concurrent request limiter. The batch request itself incurs no cost.\n\nIf any of the actions in a batch request would exceed any of the enforced limits, the *entire* request will fail with a `429 Too Many Requests` error. This is to prevent the unpredictability of which actions might succeed if not all of them could succeed.\n\n#### Restrictions\n\nNot every endpoint can be accessed through the batch API. Specifically, the following actions cannot be taken and will result in a `400 Bad Request` for that action:\n\n* Uploading attachments\n* Creating, getting, or deleting organization exports\n* Any SCIM operations\n* Nested calls to the batch API"
    },
    {
      "name": "Budgets",
      "description": "A *budget* object represents a budget for a specific *parent* resource (such as a project).\n\nEach budget tracks values either in *time* or *cost*, as determined by the *budget_type* field.\n\nWhen *budget_type* is `time`, all values are expressed in minutes. When *budget_type* is `cost`, all values are expressed in the domain’s currency.\n\nA budget can include up to three value objects: *estimate*, *actual*, and *total*. Each contains a `value`, `units`, and may include a `billable_status_filter` field.\n\n**estimate** Represents the aggregated estimated effort on tasks attributed to the *parent*. For time budgets: total estimated minutes. For cost budgets: total estimated cost, computed as (estimated time × resource rate).\n\n**actual** Represents the aggregated actual time logged on tasks attributed to the *parent*. For time budgets: total actual minutes from time tracking entries. For cost budgets: total actual cost, computed as (actual time × resource rate). The optional `billable_status_filter` limits aggregation to `billable`, `non_billable`, or `any` entries.\n\n**total** A user-defined target value for the budget. Stored independently per budget type, so switching between *time* and *cost* preserves each type's value. For time budgets: stored and read as minutes. For cost budgets: stored and read in the domain's currency."
    },
    {
      "name": "Custom field settings",
      "description": "Custom fields are attached to a particular project with the custom field settings resource. This resource both represents the many-to-many join of the custom field and project as well as stores information that is relevant to that particular pairing. For instance, the `is_important` property determines some possible application-specific handling of that custom field."
    },
    {
      "name": "Custom fields",
      "description": "_Note: Custom fields are a premium feature. Integrations which work with custom fields need to handle an assortment of use cases for free and premium users in context of free and premium organizations. For a detailed examination of which data users will have access in different circumstances, review the section below on access control._\n\nIn the Asana application, tasks, projects, and portfolios can hold user-specified [custom fields](https://asana.com/guide/help/premium/custom-fields) which provide extra information (e.g., a \"priority\" property with an associated value, or a number representing the time required to complete a task). This lets a user define the type of information that each item within a project or portfolio can contain in addition to the built-in fields that Asana provides.\n`display_value` is a read-only field that will always be a string. For apps that use custom fields, this is a great way to safely display/export the value of a custom field, regardless of its type. We suggest apps use this field in order to future-proof for changes to custom fields.\n\n#### Characteristics of custom fields\n\n* There is metadata that defines the custom field. This metadata can be shared across an entire workspace, or be specific to a project or portfolio.\n* Creating a custom field setting on a project or portfolio means each direct child will have the custom field. This is conceptually akin to adding columns in a database or a spreadsheet: every task (row) in the project (table) can contain information for that field, including \"blank\" values (i.e., `null` data). For portfolio custom fields, every project (row) in the portfolio (table) will contain information for the custom field.\n* Custom field settings only go one child deep. This means that a custom field setting on a portfolio will give each project the custom field, but not each task within those projects.\n* Tasks have custom field _values_ assigned to them.\n\n#### Types of custom fields\n\nIntegrations using custom fields need to be aware of the six basic types that a custom field can adopt. These types are:\n\n* `text` - an arbitrary, relatively short string of text\n* `number` - a number with a defined level of precision\n* `enum` - a selection of a single option from a defined list of options (i.e., mutually exclusive selections)\n* `multi_enum` - a selection of one or more options from a defined list of options (i.e., mutually inclusive selections)\n* `date` - a reference date with an optional time value\n* `people` - a list of active contributors (i.e., where their relationship to the work is defined in the custom field title)\n\n#### Example use case\n\nConsider an organization that has defined a custom field for \"Priority\". This field is of `enum` type and can have user-defined values of `Low`, `Medium`, or `High`. This is the field metadata, and it is visible within, and shared across, the entire organization.\n\nA project is then created in the organization, called \"Bugs\", and the \"Priority\" custom field is associated with that project. This will allow all tasks within the \"Bugs\" project to have an associated \"Priority\".\n\nA new task is created within \"Bugs\". This task, then, has a field named \"Priority\" which can take on the custom field value of one of `[null]`, `Low`, `Medium`, and `High`.\n\n#### Custom fields in the API\n\nThese custom fields are accessible via the API through a number of endpoints at the top level (e.g. `/custom_fields` and `/custom_field_settings`) and through requests on workspaces, portfolios, projects, and tasks resources. The API also provides a way to fetch both the metadata and data which define each particular custom field, so that a client application may render proper UI to display or edit the values.\n\nText fields are currently limited to 1024 characters. On tasks, their custom field value will have a `text_value` property to represent this field.\n\nNumber fields can have an arbitrary `precision` associated with them; for example, a precision of `2` would round its value to the second (hundredths) place (e.g., `1.2345` would round to `1.23`). On tasks, the custom field value will have a `number_value` property to represent this field.\n\n#### Enum fields\n\nEnum fields represent a selection from a list of options. On the metadata, they will contain all of the options in an array. Each option has 4 properties:\n\n* `gid` - the GID of this enum option. Note that this is the GID of the individual _option_. The custom field itself has a separate `gid`.\n* `name` - the name of the option (e.g., \"Choice #1\")\n* `enabled` - whether this field is enabled. Disabled fields are not available to choose from when disabled, and are visually hidden in the Asana application, but they remain in the metadata for custom field values which were set to the option before the option was disabled.\n* `color` - a color associated with this choice.\n\nOn the task's custom field value, the enum will have an `enum_value` property which will be the same as one of the choices from the list defined in the custom field metadata.\n\n#### Querying an organization for its custom fields\n\nFor custom fields shared across the workspace or organization, the workspace [can be queried](/reference/getcustomfieldsforworkspace) for its list of defined custom fields. Like other collection queries, the fields will be returned as a compact record; slightly different from most other compact records is the fact that the compact record for custom fields includes `type` as well as `gid` and `name`.\n\n#### Accessing custom field definitions\n\nThe [custom fields](/reference/getcustomfield) reference describes how the metadata which defines a custom field is accessed. A GET request with a `gid` can be issued on the `/custom_fields` endpoint to fetch the full definition of a single custom field given its `gid` from (for instance) listing all custom fields on a workspace, or getting the `gid` from a custom field settings object or a task.\n\n#### Associating custom fields with a project or portfolio\n\nA mapping between a custom field and a project or portfolio is handled with a [custom field settings](/reference/custom-field-settings) object. This object contains a reference for each of the custom fields and the project or portfolio, as well as additional information about the status of that particular custom field (e.g., `is_important`, which defines whether or not the custom field will appear in the list/grid on the Asana application).\n\n#### Accessing custom field values on tasks or projects\n\nThe [tasks](/reference/gettask) reference has information on how custom fields look on tasks. custom fields will return as an array on the property `custom_fields`, and each entry will contain, side-by-side, the compact representation of the custom field metadata and a `{typename}_value` property that stores the value set for the custom field.\n\nOf particular note is that the top-level `gid` of each entry in the `custom_fields` array is the `gid` of the custom field metadata, as it is the compact representation of this metadata. This can be used to refer to the full metadata by making a request to the `/custom_fields/{custom_fields_id}` endpoint as described above.\n\nCustom fields can be set just as in the Asana-defined fields on a task via `POST` or `PUT` requests. You can see an example in the [update a task](/reference/updatetask) endpoint.\n\nCustom fields on projects follow this same pattern.\n\n#### Warning: Program defensively with regards to custom field definitions\n\nAsana application users have the ability to change the definitions of custom field metadata. This means that as you write scripts or applications to work with them, it is possible for the definitions to change at any time, which may cause an application using them to break or malfunction if it makes assumptions about the metadata for a particular custom field. When using custom fields, it is a good idea to program *defensively*, meaning you your application should double-check that the custom field metadata are what it expects.\n\nStoring the state of the custom field metadata for too long if you dynamically create a model for it can cause your model to become out of sync with the model stored in Asana. For example, if you encounter an `enum` value on a task that does not match any option in your metadata model, your metadata model has become out of date with the custom field metadata.\n\n#### Enabled and disabled values\n\nWhen information that is contained in a custom field value loses a logical association with its metadata definition, the value becomes disabled. This can happen in a couple of simple ways, for example, if you remove the custom field metadata from a project, or move a task with a custom field to a different project which does not have the custom field metadata associated with it. The value remains on the task, and the custom field metadata can still be found and examined, but as the context in which the custom field makes sense is gone, the custom field cannot change its value; it can only be cleared.\n\n_Note: Tasks that are associated with multiple projects do not become disabled, so long as at least one of the projects is still associated with the custom field metadata. In other words, tasks with multiple projects will retain logically associated to the set of custom field metadata represented by all of their projects._\n\nMoving the task back under a project with that custom field applied to it or applying the custom field metadata to the current project will return the custom field value to an enabled state. In this scenario, the custom field will be re-enabled and editable again.\n\nIn the Asana application, disabled fields are grayed out and not allowed to change, other than to be discarded. In the API, we return a property `enabled: false` to inform the external application that the value has been disabled.\n\nNote that the API enforces the same operations on disabled custom field values as hold in the Asana application: they may not have their values changed, since the lack of context for the values of a custom field in general doesn't provide enough information to know what new values should be. Setting the custom field value to `null` will clear and remove the custom field value from the task.\n\n#### Custom field access control\n\nCustom fields are a complex feature of the Asana platform, and their access in the Asana application and in the API vary based on the status of the user and project. When building your application, it is best to be defensive and not assume the given user will have read or write access to a custom field, and fail gracefully when this occurs."
    },
    {
      "name": "Custom types",
      "description": "A custom type allows distinct categorizations of objects based on their specific purpose or functionality. Structuring objects through a defined custom type provides greater flexibility in work management allowing users to better match the object to their use case"
    },
    {
      "name": "Events",
      "description": "An event is an object representing a change to a resource that was observed by an event subscription. Event streams rely on the same infrastructure as webhooks, which ensures events are delivered within a minute (on average). This system is designed for at most once delivery, meaning in exceptional circumstances a small number of events may be missing from the stream. For this reason, if your use case requires strong guarantees about processing all changes on a resource and cannot tolerate any missing events, regardless of how rare that might be, we recommend building a fallback polling system that fetches the resource periodically as well. Note that while webhooks cannot be replayed once delivered, events are retrievable from the event stream for 24 hours after being processed.\n\nIn general, requesting events on a resource is faster and subject to higher rate limits than requesting the resource itself. Additionally, change events \"bubble up\" (e.g., listening to events on a project would include when stories are added to tasks in the project, and even to subtasks).\n\nEstablish an initial sync token by making a request with no sync token. The response will be a `412 Precondition Failed` error - the same as if the sync token had expired.\n\nSubsequent requests should always provide the sync token from the immediately preceding call.\n\nSync tokens may not be valid if you attempt to go \"backward\" in the history by requesting previous tokens, though re-requesting the current sync token is generally safe, and will always return the same results.\n\nWhen you receive a `412 Precondition Failed` error, it means that the sync token is either invalid or expired. If you are attempting to keep a set of data in sync, this signals you may need to re-crawl the data.\n\nSync tokens always expire after 24 hours, but may expire sooner, depending on load on the service."
    },
    {
      "name": "Exports",
      "description": "Exports are a way to download data from Asana. The following types of exports are available:\n* **Graph exports**: Export of data about objects starting from a parent object, such as a team, portfolio, or project.\n* **Resource exports**: Bulk exports of resources such as tasks, teams, and messages for a workspace.\n* **Organization exports**: Exports the complete data of an organization in JSON format. Please refer to [Organization exports](/reference/organization-exports) for more details.\n\n## Graph exports\nA `graph_export` object represents a request to export the\ndata about objects starting from a parent object. Parent object can be a team, portfolio, or project.\n\nTo create an export using this API:\n1. Create a `graph_export` [request](/reference/createGraphExport) and store the ID that is returned.\n2. Request the [jobs](/reference/getjob) endpoint every few minutes, until `status` field contains 'succeeded'.\n3. Download the file located at the URL in the `download_url` field.\n\nExports can take a long time, from several minutes to a few hours for large portfolios.\n\n*Note: Graph exports are only available to accounts of an\n[Enterprise](https://asana.com/enterprise)/Enterprise+ organization.*\n\n## Resource exports\nA `resource_export` object represents a request to bulk export resources for a workspace.\nTo create an export using this API:\n1. Create a `resource_export` [request](/reference/createResourceExport) and store the job ID that is returned.\n2. Request the [jobs](/reference/getjob) endpoint at some interval, until `status` field contains 'succeeded' and a `download_url` is available.\n3. Download the file located at the URL in the `download_url` field.\n\nExports can take a long time, from several minutes to a few hours for large workspaces.\n\n*Note: Resource exports are only available to [Service Accounts](https://asana.com/guide/help/premium/service-accounts)\nfrom an Enterprise+ organization or an organization with the Compliance Management Add-on."
    },
    {
      "name": "Goal relationships",
      "description": "A goal relationship is an object representing the relationship between a goal and another goal, a project, a task, or a portfolio."
    },
    {
      "name": "Goals",
      "description": "A goal is an object in the goal-tracking system that helps your organization drive measurable results."
    },
    {
      "name": "Jobs",
      "description": "Jobs represent processes that handle asynchronous work. A job created when an endpoint requests an action that will be handled asynchronously, such as project or task duplication.\n\nOnly the creator of the duplication process can access the duplication status of the new object.\n\n*Note*: With any work that is handled asynchronously (e.g., [project instantation from a template](/reference/instantiateproject), duplicating a [task](/reference/duplicatetask) or [project](/reference/duplicateproject), etc.), the *intermittent states* of newly-created objects may not be consistent. That is, object properties may return different values each time when polled until the job `status` has returned a `succeeded` value."
    },
    {
      "name": "Memberships",
      "description": "A membership object represents the relationship between a team or user and an object in Asana. Currently, the\nsupported types of memberships are for goals, projects, custom fields, custom types,and portfolios. For example, a project membership\ncan be used to add a user to a project."
    },
    {
      "name": "Organization exports",
      "description": "An `organization_export` object represents a request to export the complete data of an organization in JSON format.\n\nTo export an organization using this API:\n\n* Create an `organization_export`\n  [request](/reference/createorganizationexport)\n  and store the ID that is returned.\n* Request the `organization_export` every few minutes, until the\n  `state` field contains ‘finished’.\n* Download the file located at the URL in the `download_url` field. * Exports can take a long time, from several minutes to a few hours\n  for large organizations.\n\n\n*Note: These endpoints are only available to [Service Accounts](https://asana.com/guide/help/premium/service-accounts) of an [Enterprise](https://asana.com/enterprise) organization.*"
    },
    {
      "name": "Portfolio memberships",
      "description": "This object determines if a user is a member of a portfolio."
    },
    {
      "name": "Portfolios",
      "description": "A portfolio gives a high-level overview of the status of multiple initiatives in Asana. Portfolios provide a dashboard overview of the state of multiple projects, including a progress report and the most recent [status update](/reference/status-updates).\nPortfolios have some restrictions on size. Each portfolio has a max of 1500 items and, like projects, a maximum of 20 custom fields."
    },
    {
      "name": "Project briefs",
      "description": "A project brief object represents a rich text document that describes a project.\n\nPlease note that this API is in *preview*, and is expected to change. This API is to be used for development and testing only as an advance view into the upcoming rich text format experience in the task description. For more information, see [this post](https://forum.asana.com/t/project-brief-api-now-available-as-a-preview/150885) in the developer forum."
    },
    {
      "name": "Project memberships",
      "description": "With the introduction of “comment-only” projects in Asana, a user’s membership in a project comes with associated permissions. These permissions (i.e., whether a user has full access to the project or comment-only access) are accessible through the project memberships endpoints described here."
    },
    {
      "name": "Project portfolio settings",
      "description": "A project portfolio setting represents the relationship between a project and a portfolio. It controls configuration such as whether portfolio members inherit access to the project."
    },
    {
      "name": "Project statuses",
      "description": "*Deprecated: new integrations should prefer using [status updates](/reference/status-updates)*\n\nA project status is an update on the progress of a particular project,\nand is sent out to all project followers when created. These updates\ninclude both text describing the update and a color code intended to\nrepresent the overall state of the project: \"green\" for projects that\nare on track, \"yellow\" for projects at risk, \"red\" for projects that\nare behind, and \"blue\" for projects on hold.\n\nProject statuses can be created and deleted, but not modified."
    },
    {
      "name": "Project templates",
      "description": "A project template is an object that allows new projects to be created\nwith a predefined setup, which may include tasks, sections, rules, etc.\nIt simplifies the process of running a workflow that involves a similar\nset of work every time.\n\n\nProject templates in organizations are shared with a single team. Currently, the\nteam of a project template cannot be changed via the API."
    },
    {
      "name": "Projects",
      "description": "A project represents a prioritized list of tasks in Asana or a board with columns of tasks represented as cards. A project exists in a single workspace or organization and is accessible to a subset of users in that workspace or organization, depending on its permissions.\n\nProjects in organizations are shared with a single team. Currently, the team of a project cannot be changed via the API. Non-organization workspaces do not have teams and so you should not specify the team of project in a regular workspace.\n\nFollowers of a project are a subset of the members of that project. Followers of a project will receive all updates including tasks created, added and removed from that project. Members of the project have access to and will receive status updates of the project. Adding followers to a project will add them as members if they are not already, removing followers from a project will not affect membership.\n\n**Note:** You can use certain project endpoints to operate on [user task lists](/reference/user-task-lists) ([My Tasks](https://asana.com/guide/help/fundamentals/my-tasks)) by substituting the `{project_gid}` with the `{user_task_list_gid}`. For example, you can perform operations on the custom fields of a user task list by using the following projects endpoints: [Add a custom field to a project](/reference/addcustomfieldsettingforproject), [Remove a custom field from a project](/reference/removecustomfieldsettingforproject) and [Get a project's custom fields](/reference/getcustomfieldsettingsforproject)"
    },
    {
      "name": "Rates",
      "description": "A rate object represents the rate of a resource for a parent object."
    },
    {
      "name": "Reactions",
      "description": "A reaction is an object that represents a user's emoji reaction on a status update, comment, task completion, or attachment."
    },
    {
      "name": "Roles",
      "description": "Roles allow workspaces to create and manage workspace-level custom user roles, providing centralized control over what users can do in Asana via Role-Based Access Control (RBAC).\nSuper admins can define roles with specific permission sets and assign users to these roles, helping workspaces meet security and compliance requirements and standardizing how users work in Asana."
    },
    {
      "name": "Rules",
      "description": "[Asana rules](https://help.asana.com/s/article/rules?language=en_US) allow you to automate common patterns\nand workflows in Asana. Rules comprise triggers that will automatically perform actions. For example, you\ncan create a rule to automatically assign a task (action) when a due date is set (trigger).\n\nTo support cross-application workflows, the API supports\n[incoming web requests](https://developers.asana.com/docs/incoming-web-requests) as a generic trigger to\nconnect external applications to Asana through rules. This API allows users to set up workflows outside\nof Asana that can perform operations on data within Asana."
    },
    {
      "name": "Sections",
      "description": "A section is a subdivision of a project that groups tasks together. It can either be a header above a list of tasks in a list view or a column in a board view of a project.\n\nSections are largely a shared idiom in Asana’s API for both list and board views of a project regardless of the project’s layout.\n\nThe ‘memberships’ property when [getting a task](/reference/gettask) will return the information for the section or the column under ‘section’ in the response."
    },
    {
      "name": "SSPM",
      "description": "SSPM (SaaS Security Posture Management) is a set of APIs which allows centralized inspection and management of a customer's deployed SaaS apps via an SSPM provider."
    },
    {
      "name": "Status updates",
      "description": "A status update is an update on the progress of a particular object, and is sent out to all followers when created. These updates include both text describing the update and a `status_type` intended to represent the overall state of the object.\nThe valid values for `status_type` depend on the parent of the status update: - Projects: `on_track`, `at_risk`, `off_track`, `on_hold`, `complete`, `dropped`. - Portfolios: `on_track`, `at_risk`, `off_track`, `on_hold`, `complete`, `dropped`. - Goals: `on_track`, `at_risk`, `off_track`, `achieved`, `partial`, `missed`, `dropped`.\nStatus updates can be created and deleted, but not modified."
    },
    {
      "name": "Stories",
      "description": "*See [our forum post](https://forum.asana.com/t/no-more-parsing-story-text-new-fields-on-stories/42924) for more info on when conditional fields are returned.*\n\nA story represents an activity associated with an object in the Asana system. Stories are generated by the system whenever users take actions such as creating or assigning tasks, or moving tasks between projects. \"Comments\" are also a form of user-generated story."
    },
    {
      "name": "Tags",
      "description": "A tag is a label that can be attached to any task in Asana. It exists in a single workspace or organization.\n\nTags have some metadata associated with them, but it is possible that we will simplify them in the future so it is not encouraged to rely too heavily on it. Unlike projects, tags do not provide any ordering on the tasks they are associated with."
    },
    {
      "name": "Task templates",
      "description": "A task template is an object that allows new tasks to be created with a predefined setup, which may include followers, dependencies, custom fields, etc. It simplifies the process of running a workflow that involves a similar set of work every time.\nTask templates are contained within a single project."
    },
    {
      "name": "Tasks",
      "description": "The task is the basic object around which many operations in Asana are centered. In the Asana application, multiple tasks populate the middle pane according to some view parameters, and the set of selected tasks determines the more detailed information presented in the details pane.\n\nSections are unique in that they will be included in the `memberships` field of task objects returned in the API when the task is within a section. They can also be used to manipulate the ordering of a task within a project.\n\n[Queries](/reference/gettasks) return a [compact representation of each task object](/reference/tasks). To retrieve *all* fields or *specific set* of the fields, use [field selectors](/docs/inputoutput-options) to manipulate what data is included in a response."
    },
    {
      "name": "Team memberships",
      "description": "This object determines if a user is a member of a team."
    },
    {
      "name": "Teams",
      "description": "A team is used to group related projects and people together within an organization. Each project in an organization is associated with a team."
    },
    {
      "name": "Time periods",
      "description": "A time period is an object that represents a domain-scoped date range that can be set on [goals](/reference/goals)."
    },
    {
      "name": "Time tracking entries",
      "description": "Asana's native time tracking feature allows you to estimate the time needed to complete a task, as well as record the actual time spent."
    },
    {
      "name": "Timesheet approval statuses",
      "description": "A timesheet approval status represents the approval state for a user's timesheet for a date range. It tracks whether the timesheet is in draft, submitted, approved, or rejected status."
    },
    {
      "name": "Typeahead",
      "description": "The typeahead search API provides search for objects from a single workspace."
    },
    {
      "name": "User task lists",
      "description": "A user task list represents the tasks assigned to a particular user. This list is the user's [My Tasks](https://asana.com/guide/help/fundamentals/my-tasks) list."
    },
    {
      "name": "Users",
      "description": "A user object represents an account in Asana that can be given access to various workspaces, projects, and tasks.\n\nLike other objects in the system, users are referred to by numerical IDs. However, the special string identifier `me` can be used anywhere a user ID is accepted, to refer to the current authenticated user (e.g, `GET /users/me`)."
    },
    {
      "name": "Webhooks",
      "description": "Webhooks allow you to subscribe to notifications about events that occur on Asana resources (e.g., tasks, projects, stories, etc.).\n\nFor a more detailed explanation of webhooks see the [overview of webhooks](/docs/webhooks-guide)."
    },
    {
      "name": "Workspace memberships",
      "description": "This object determines if a user is a member of a workspace."
    },
    {
      "name": "Workspaces",
      "description": "A *workspace* is the highest-level organizational unit in Asana. All projects and tasks have an associated workspace.\n\nAn *organization* is a special kind of workspace that represents a company. In an organization, you can group your projects into teams. You can read more about how organizations work on the Asana Guide. To tell if your workspace is an organization or not, check its `is_organization` property.\n\nOver time, we intend to migrate most workspaces into organizations and to release more organization-specific functionality. We may eventually deprecate using workspace-based APIs for organizations. Currently, and until after some reasonable grace period following any further announcements, you can still reference organizations in any `workspace` parameter."
    }
  ],
  "components": {
    "parameters": {
      "pretty": {
        "name": "opt_pretty",
        "in": "query",
        "description": "Provides “pretty” output.\nProvides the response in a “pretty” format. In the case of JSON this means doing proper line breaking and indentation to make it readable. This will take extra time and increase the response size so it is advisable only to use this during debugging.",
        "required": false,
        "allowEmptyValue": true,
        "schema": {
          "type": "boolean"
        },
        "style": "form",
        "example": true
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Results per page.\nThe number of objects to return per page. The value must be between 1 and 100.",
        "example": 50,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100
        }
      },
      "offset": {
        "name": "offset",
        "in": "query",
        "description": "Offset token.\nAn offset to the next page returned by the API. A pagination request will return an offset token, which can be used as an input parameter to the next request. If an offset is not passed in, the API will return the first page of results.\n*Note: You can only pass in an offset that was returned to you via a previously paginated request.*",
        "example": "eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9",
        "schema": {
          "type": "string"
        }
      },
      "access_request_gid": {
        "name": "access_request_gid",
        "in": "path",
        "description": "Globally unique identifier for the access request.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "12345",
        "x-env-variable": "access_request"
      },
      "attachment_path_gid": {
        "name": "attachment_gid",
        "in": "path",
        "description": "Globally unique identifier for the attachment.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "12345",
        "x-env-variable": "attachment"
      },
      "budget_path_gid": {
        "name": "budget_gid",
        "in": "path",
        "description": "Globally unique identifier for the budget.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "12345",
        "x-env-variable": "budget"
      },
      "custom_field_path_gid": {
        "name": "custom_field_gid",
        "in": "path",
        "description": "Globally unique identifier for the custom field.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "12345",
        "x-env-variable": "custom_field"
      },
      "custom_id": {
        "name": "custom_id",
        "in": "path",
        "description": "Generated custom ID for a task.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "EX-1"
      },
      "custom_type_gid": {
        "name": "custom_type_gid",
        "in": "path",
        "description": "Globally unique identifier for the custom type.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "12345"
      },
      "goal_path_gid": {
        "name": "goal_gid",
        "in": "path",
        "description": "Globally unique identifier for the goal.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "12345",
        "x-env-variable": "goal"
      },
      "goal_relationship_path_gid": {
        "name": "goal_relationship_gid",
        "in": "path",
        "description": "Globally unique identifier for the goal relationship.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "12345",
        "x-env-variable": "goal_relationship"
      },
      "job_path_gid": {
        "name": "job_gid",
        "in": "path",
        "description": "Globally unique identifier for the job.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "12345",
        "x-env-variable": "job"
      },
      "membership_path_gid": {
        "name": "membership_gid",
        "in": "path",
        "description": "Globally unique identifier for the membership.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "12345",
        "x-env-variable": "membership"
      },
      "organization_export_path_gid": {
        "name": "organization_export_gid",
        "in": "path",
        "description": "Globally unique identifier for the organization export.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "12345",
        "x-env-variable": "organization_export"
      },
      "project_brief_path_gid": {
        "name": "project_brief_gid",
        "in": "path",
        "description": "Globally unique identifier for the project brief.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "12345",
        "x-env-variable": "project_brief"
      },
      "project_path_gid": {
        "name": "project_gid",
        "in": "path",
        "description": "Globally unique identifier for the project.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "1331",
        "x-env-variable": "project"
      },
      "project_query_param": {
        "name": "project",
        "in": "query",
        "description": "Globally unique identifier for the project, which is used as a filter when retrieving all custom types.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "1331",
        "x-env-variable": "project"
      },
      "project_template_path_gid": {
        "name": "project_template_gid",
        "in": "path",
        "description": "Globally unique identifier for the project template.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "1331",
        "x-env-variable": "project_template"
      },
      "project_membership_path_gid": {
        "name": "project_membership_gid",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "1331",
        "x-env-variable": "project_membership"
      },
      "project_portfolio_setting_path_gid": {
        "name": "project_portfolio_setting_gid",
        "in": "path",
        "description": "Globally unique identifier for the project portfolio setting.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "1331",
        "x-env-variable": "project_portfolio_setting"
      },
      "project_status_path_gid": {
        "name": "project_status_gid",
        "in": "path",
        "required": true,
        "description": "The project status update to get.",
        "schema": {
          "type": "string"
        },
        "example": "321654",
        "x-env-variable": "project_status"
      },
      "rate_path_gid": {
        "name": "rate_gid",
        "in": "path",
        "description": "Globally unique identifier for the rate.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "12345",
        "x-env-variable": "rate"
      },
      "status_update_path_gid": {
        "name": "status_update_gid",
        "in": "path",
        "required": true,
        "description": "The status update to get.",
        "schema": {
          "type": "string"
        },
        "example": "321654",
        "x-env-variable": "status"
      },
      "portfolio_path_gid": {
        "name": "portfolio_gid",
        "in": "path",
        "description": "Globally unique identifier for the portfolio.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "12345",
        "x-env-variable": "portfolio"
      },
      "portfolio_membership_path_gid": {
        "name": "portfolio_membership_gid",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "1331",
        "x-env-variable": "portfolio_membership"
      },
      "portfolio_query_param": {
        "name": "portfolio",
        "in": "query",
        "description": "The portfolio to filter results on.",
        "schema": {
          "type": "string"
        },
        "example": "12345",
        "x-env-variable": "portfolio"
      },
      "rule_trigger_path_gid": {
        "name": "rule_trigger_gid",
        "in": "path",
        "required": true,
        "description": "The ID of the incoming web request trigger. This value is a path parameter that is automatically generated for the API endpoint.",
        "schema": {
          "type": "string"
        },
        "example": "12345",
        "x-env-variable": "rule"
      },
      "section_path_gid": {
        "name": "section_gid",
        "in": "path",
        "required": true,
        "description": "The globally unique identifier for the section.",
        "schema": {
          "type": "string"
        },
        "example": "321654",
        "x-env-variable": "section"
      },
      "story_path_gid": {
        "name": "story_gid",
        "in": "path",
        "description": "Globally unique identifier for the story.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "35678",
        "x-env-variable": "story"
      },
      "target_query_param": {
        "name": "target",
        "in": "query",
        "description": "Globally unique identifier for the target object.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "1331",
        "x-env-variable": "target"
      },
      "tag_path_gid": {
        "name": "tag_gid",
        "in": "path",
        "description": "Globally unique identifier for the tag.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "11235",
        "x-env-variable": "tag"
      },
      "task_path_gid": {
        "name": "task_gid",
        "in": "path",
        "required": true,
        "description": "The task to operate on.",
        "schema": {
          "type": "string"
        },
        "example": "321654",
        "x-env-variable": "task"
      },
      "task_template_path_gid": {
        "name": "task_template_gid",
        "in": "path",
        "description": "Globally unique identifier for the task template.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "1331",
        "x-env-variable": "task_template"
      },
      "team_path_gid": {
        "name": "team_gid",
        "in": "path",
        "description": "Globally unique identifier for the team.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "159874",
        "x-env-variable": "team"
      },
      "team_membership_path_gid": {
        "name": "team_membership_gid",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "724362",
        "x-env-variable": "team_membership"
      },
      "time_period_path_gid": {
        "name": "time_period_gid",
        "in": "path",
        "description": "Globally unique identifier for the time period.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "917392",
        "x-env-variable": "time_period"
      },
      "time_tracking_entry_path_gid": {
        "name": "time_tracking_entry_gid",
        "in": "path",
        "description": "Globally unique identifier for the time tracking entry.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "917392",
        "x-env-variable": "time_tracking_entry"
      },
      "timesheet_approval_status_path_gid": {
        "name": "timesheet_approval_status_gid",
        "in": "path",
        "description": "Globally unique identifier for the timesheet approval status.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "917392",
        "x-env-variable": "timesheet_approval_status"
      },
      "user_query_param": {
        "name": "user",
        "in": "query",
        "description": "A string identifying a user. This can either be the string \"me\", an email, or the gid of a user.",
        "schema": {
          "type": "string"
        },
        "x-env-variable": "user",
        "example": "me"
      },
      "user_path_gid": {
        "name": "user_gid",
        "in": "path",
        "description": "A string identifying a user. This can either be the string \"me\", an email, or the gid of a user.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-env-variable": "user",
        "example": "me"
      },
      "user_task_list_path_gid": {
        "name": "user_task_list_gid",
        "in": "path",
        "description": "Globally unique identifier for the user task list.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "12345",
        "x-env-variable": "user_task_list"
      },
      "webhook_path_gid": {
        "name": "webhook_gid",
        "in": "path",
        "description": "Globally unique identifier for the webhook.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "12345",
        "x-env-variable": "webhook"
      },
      "workspace_path_gid": {
        "name": "workspace_gid",
        "in": "path",
        "description": "Globally unique identifier for the workspace or organization.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "12345",
        "x-env-variable": "workspace"
      },
      "workspace_query_param": {
        "name": "workspace",
        "in": "query",
        "description": "The workspace to filter results on.",
        "schema": {
          "type": "string"
        },
        "example": "12345",
        "x-env-variable": "workspace"
      },
      "workspace_membership_path_gid": {
        "name": "workspace_membership_gid",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "12345",
        "x-env-variable": "workspace_membership"
      },
      "audit_log_start_at": {
        "name": "start_at",
        "in": "query",
        "description": "Filter to events created after this time (inclusive).",
        "required": false,
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "audit_log_end_at": {
        "name": "end_at",
        "in": "query",
        "description": "Filter to events created before this time (exclusive).",
        "required": false,
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "audit_log_event_type": {
        "name": "event_type",
        "in": "query",
        "description": "Filter to events of this type.\nRefer to the [supported audit log events](/docs/audit-log-events#supported-audit-log-events) for a full list of values.",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "audit_log_actor_type": {
        "name": "actor_type",
        "in": "query",
        "description": "Filter to events with an actor of this type.\nThis only needs to be included if querying for actor types without an ID. If `actor_gid` is included, this should be excluded.",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "user",
            "asana",
            "asana_support",
            "anonymous",
            "external_administrator"
          ]
        }
      },
      "audit_log_actor_gid": {
        "name": "actor_gid",
        "in": "query",
        "description": "Filter to events triggered by the actor with this ID.",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "audit_log_resource_gid": {
        "name": "resource_gid",
        "in": "query",
        "description": "Filter to events with this resource ID.",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "completed_since": {
        "name": "completed_since",
        "in": "query",
        "required": false,
        "description": "Only return tasks that are either incomplete or that have been completed since this time. Accepts a date-time string or the keyword *now*.\n",
        "schema": {
          "type": "string"
        },
        "example": "2012-02-22T02:06:58.158Z"
      },
      "allocation_path_gid": {
        "name": "allocation_gid",
        "in": "path",
        "description": "Globally unique identifier for the allocation.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "77688",
        "x-env-variable": "allocation"
      },
      "role_path_gid": {
        "name": "role_gid",
        "in": "path",
        "description": "Globally unique identifier for the role.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "12345",
        "x-env-variable": "role"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "This usually occurs because of a missing or malformed parameter. Check the documentation and the syntax of your request and try again.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "A valid authentication token was not provided with the request, so the API could not associate a user with the request.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "PaymentRequired": {
        "description": "The request was valid, but the queried object or object mutation specified in the request is above your current premium level.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Forbidden": {
        "description": "The authentication and request syntax was valid but the server is refusing to complete the request. This can happen if you try to read or write to objects or properties that the user does not have access to.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Either the request method and path supplied do not specify a known action in the API, or the object specified by the request does not exist.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "You have exceeded one of the enforced rate limits in the API. See the [documentation on rate limiting](https://developers.asana.com/docs/#rate-limits) for more information.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "There was a problem on Asana’s end. In the event of a server error the response body should contain an error phrase. These phrases can be used by Asana support to quickly look up the incident that caused the server error. Some errors are due to server load, and will not supply an error phrase.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "BadGateway": {
        "description": "There is an issue between the load balancers and Asana's API.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Either the upstream service is unavailable to the API, or the API has been intentionally shut off.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "This request took too long to complete.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "AllocationBase": {
        "description": "A generic Asana Resource, containing a globally unique identifier.",
        "type": "object",
        "properties": {
          "gid": {
            "description": "Globally unique identifier of the resource, as a string.",
            "type": "string",
            "readOnly": true,
            "example": "12345",
            "x-insert-after": false
          },
          "resource_type": {
            "description": "The base type of this resource.",
            "type": "string",
            "readOnly": true,
            "example": "allocation",
            "x-insert-after": "gid"
          },
          "start_date": {
            "type": "string",
            "format": "date",
            "description": "The localized day on which the allocation starts.",
            "example": "2024-02-28"
          },
          "end_date": {
            "type": "string",
            "format": "date",
            "description": "The localized day on which the allocation ends.",
            "example": "2024-02-28"
          },
          "effort": {
            "type": "object",
            "nullable": true,
            "description": "The amount of time associated with the allocation, represented as a percentage or number of hours.",
            "properties": {
              "type": {
                "type": "string",
                "description": "The units used for tracking effort on an allocation, either \"hours\" or \"percent\".",
                "enum": [
                  "hours",
                  "percent"
                ]
              },
              "value": {
                "type": "number",
                "description": "The numeric effort value on the allocation.",
                "example": 50
              }
            }
          }
        }
      },
      "AllocationResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AllocationBase"
          },
          {
            "type": "object",
            "properties": {
              "assignee": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UserCompact"
                  },
                  {
                    "type": "object",
                    "description": "The user or placeholder assigned to the allocation.",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name of allocation resource.",
                        "example": "Greg Sanchez"
                      }
                    }
                  }
                ]
              },
              "created_by": {
                "$ref": "#/components/schemas/UserCompact"
              },
              "parent": {
                "$ref": "#/components/schemas/ProjectCompact"
              },
              "resource_subtype": {
                "description": "The subtype of the allocation.",
                "type": "string",
                "example": "project_allocation"
              }
            }
          }
        ]
      },
      "AllocationRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AllocationBase"
          },
          {
            "type": "object",
            "properties": {
              "assignee": {
                "type": "string",
                "description": "Globally unique identifier for the user or placeholder assigned to the allocation."
              },
              "parent": {
                "type": "string",
                "description": "Globally unique identifier for the project the allocation is on."
              }
            }
          }
        ]
      },
      "AddCustomFieldSettingRequest": {
        "type": "object",
        "required": [
          "custom_field"
        ],
        "properties": {
          "custom_field": {
            "oneOf": [
              {
                "type": "string",
                "description": "The custom field to associate with this container.",
                "example": "14916"
              },
              {
                "$ref": "#/components/schemas/CustomFieldCreateRequest"
              }
            ]
          },
          "is_important": {
            "description": "Whether this field should be considered important to this container (for instance, to display in the list view of items in the container).",
            "type": "boolean",
            "example": true
          },
          "insert_before": {
            "description": "A gid of a Custom Field Setting on this container, before which the new Custom Field Setting will be added.  `insert_before` and `insert_after` parameters cannot both be specified.",
            "type": "string",
            "example": "1331"
          },
          "insert_after": {
            "description": "A gid of a Custom Field Setting on this container, after which the new Custom Field Setting will be added.  `insert_before` and `insert_after` parameters cannot both be specified.",
            "type": "string",
            "example": "1331"
          }
        }
      },
      "AddFollowersRequest": {
        "type": "object",
        "required": [
          "followers"
        ],
        "properties": {
          "followers": {
            "description": "An array of strings identifying users. These can either be the string \"me\", an email, or the gid of a user.",
            "type": "string",
            "example": "521621,621373"
          }
        }
      },
      "AddMembersRequest": {
        "type": "object",
        "required": [
          "members"
        ],
        "properties": {
          "members": {
            "description": "An array of strings identifying users. These can either be the string \"me\", an email, or the gid of a user.",
            "type": "string",
            "example": "521621,621373"
          }
        }
      },
      "AsanaNamedResource": {
        "description": "A generic Asana Resource, containing a globally unique identifier.",
        "type": "object",
        "properties": {
          "gid": {
            "description": "Globally unique identifier of the resource, as a string.",
            "type": "string",
            "readOnly": true,
            "example": "12345",
            "x-insert-after": false
          },
          "resource_type": {
            "description": "The base type of this resource.",
            "type": "string",
            "readOnly": true,
            "example": "task",
            "x-insert-after": "gid"
          },
          "name": {
            "description": "The name of the object.",
            "type": "string",
            "example": "Bug Task"
          }
        }
      },
      "AsanaResource": {
        "description": "A generic Asana Resource, containing a globally unique identifier.",
        "type": "object",
        "properties": {
          "gid": {
            "description": "Globally unique identifier of the resource, as a string.",
            "type": "string",
            "readOnly": true,
            "example": "12345",
            "x-insert-after": false
          },
          "resource_type": {
            "description": "The base type of this resource.",
            "type": "string",
            "readOnly": true,
            "example": "task",
            "x-insert-after": "gid"
          }
        }
      },
      "AttachmentBase": {
        "$ref": "#/components/schemas/AttachmentCompact"
      },
      "AttachmentCompact": {
        "description": "An *attachment* object represents any file attached to a task in Asana, whether it's an uploaded file or one associated via a third-party service such as Dropbox or Google Drive.",
        "type": "object",
        "properties": {
          "gid": {
            "description": "Globally unique identifier of the resource, as a string.",
            "type": "string",
            "readOnly": true,
            "example": "12345",
            "x-insert-after": false
          },
          "resource_type": {
            "description": "The base type of this resource.",
            "type": "string",
            "readOnly": true,
            "example": "attachment",
            "x-insert-after": "gid"
          },
          "name": {
            "description": "The name of the file.",
            "type": "string",
            "readOnly": true,
            "example": "Screenshot.png"
          },
          "resource_subtype": {
            "description": "The service hosting the attachment. Valid values are `asana`, `dropbox`, `gdrive`, `onedrive`, `box`, `vimeo`, and `external`.",
            "type": "string",
            "example": "dropbox"
          }
        }
      },
      "AttachmentRequest": {
        "type": "object",
        "required": [
          "parent"
        ],
        "properties": {
          "resource_subtype": {
            "description": "The type of the attachment. Must be one of the given values. If not specified, a file attachment of type `asana` will be assumed. Note that if the value of `resource_subtype` is `external`, a `parent`, `name`, and `url` must also be provided.\n",
            "type": "string",
            "example": "external",
            "enum": [
              "asana",
              "external"
            ]
          },
          "file": {
            "description": "Required for `asana` attachments.\n",
            "type": "string",
            "format": "binary"
          },
          "parent": {
            "description": "Required identifier of the parent task, project, or project_brief, as a string.\n",
            "type": "string"
          },
          "url": {
            "description": "The URL of the external resource being attached. Required for attachments of type `external`.\n",
            "type": "string"
          },
          "name": {
            "description": "The name of the external resource being attached. Required for attachments of type `external`.\n",
            "type": "string"
          },
          "connect_to_app": {
            "description": "*Optional*. Only relevant for external attachments with a parent task.\nA boolean indicating whether the current app should be connected with\nthe attachment for the purposes of showing an app components widget.\nRequires the app to have been added to a project the parent task is in.\nThis property can only be set if an OAuth token is used to authenticate the request.\n\nCriteria for displaying app widget:\n1. An OAuth token must be used to authenticate the request\n2. The app needs to have its `widget_metadata_url` configured in the developer console\n3. The task the attachment is being attached to must be in a project with the app installed",
            "type": "boolean"
          }
        }
      },
      "AttachmentResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AttachmentBase"
          },
          {
            "type": "object",
            "properties": {
              "created_at": {
                "description": "The time at which this resource was created.",
                "type": "string",
                "format": "date-time",
                "readOnly": true,
                "example": "2012-02-22T02:06:58.147Z"
              },
              "download_url": {
                "description": "The URL containing the content of the attachment.\n*Note:* May be null if the attachment is hosted by [Box](https://www.box.com/) and will be null if the attachment is a Video Message hosted by [Vimeo](https://vimeo.com/). If present, this URL may only be valid for two minutes from the time of retrieval. You should avoid persisting this URL somewhere and just refresh it on demand to ensure you do not keep stale URLs.",
                "type": "string",
                "format": "uri",
                "readOnly": true,
                "nullable": true,
                "example": "https://s3.amazonaws.com/assets/1234/Screenshot.png"
              },
              "permanent_url": {
                "description": "A stable URL for accessing the attachment through the Asana web application. This URL redirects to the file download location (e.g., an S3 link) if the user is authenticated and authorized to view the parent object (e.g., a task). Unauthorized users will receive a `403 Forbidden` response. This link is persistent and does not expire, but requires an active session to resolve.",
                "type": "string",
                "format": "uri",
                "readOnly": true,
                "nullable": true,
                "example": "https://app.asana.com/app/asana/-/get_asset?asset_id=1234567890"
              },
              "host": {
                "description": "The service hosting the attachment. Valid values are `asana`, `dropbox`, `gdrive`, `onedrive`, `box`, `vimeo`, and `external`.",
                "type": "string",
                "readOnly": true,
                "example": "dropbox"
              },
              "parent": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TaskCompact"
                  },
                  {
                    "type": "object",
                    "nullable": true,
                    "description": "The task this attachment is attached to.",
                    "readOnly": true,
                    "properties": {
                      "resource_subtype": {
                        "description": "The resource subtype of the parent resource that the filter applies to.",
                        "type": "string",
                        "example": "default_task",
                        "nullable": true
                      }
                    }
                  }
                ]
              },
              "size": {
                "description": "The size of the attachment in bytes. Only present when the `resource_subtype` is `asana`.",
                "type": "integer",
                "readOnly": true,
                "example": 12345
              },
              "view_url": {
                "description": "The URL where the attachment can be viewed, which may be friendlier to users in a browser than just directing them to a raw file. May be null if no view URL exists for the service.",
                "type": "string",
                "format": "uri",
                "readOnly": true,
                "nullable": true,
                "example": "https://www.dropbox.com/s/123/Screenshot.png"
              },
              "connected_to_app": {
                "description": "Whether the attachment is connected to the app making the request for the purposes of showing an app components widget. Only present when the `resource_subtype` is `external` or `gdrive`.",
                "type": "boolean",
                "readOnly": true
              }
            }
          }
        ]
      },
      "AuditLogEvent": {
        "description": "An object representing a single event within an Asana domain.\n\nEvery audit log event is comprised of an `event_type`, `actor`, `resource`, and `context`. Some events will include additional metadata about the event under `details`. See our [currently supported list of events](/docs/audit-log-events#supported-audit-log-events) for more details.",
        "type": "object",
        "properties": {
          "gid": {
            "description": "Globally unique identifier of the `AuditLogEvent`, as a string.",
            "type": "string",
            "example": "12345",
            "x-insert-after": false
          },
          "created_at": {
            "description": "The time the event was created.",
            "type": "string",
            "format": "date-time",
            "example": "2021-01-01T00:00:00.000Z"
          },
          "event_type": {
            "description": "The type of the event.",
            "type": "string",
            "example": "task_deleted"
          },
          "event_category": {
            "description": "The category that this `event_type` belongs to.",
            "type": "string",
            "example": "deletion"
          },
          "actor": {
            "$ref": "#/components/schemas/AuditLogEventActor"
          },
          "resource": {
            "$ref": "#/components/schemas/AuditLogEventResource"
          },
          "details": {
            "$ref": "#/components/schemas/AuditLogEventDetails"
          },
          "context": {
            "$ref": "#/components/schemas/AuditLogEventContext"
          }
        }
      },
      "AuditLogEventActor": {
        "description": "The entity that triggered the event. Will typically be a user.",
        "type": "object",
        "properties": {
          "actor_type": {
            "description": "The type of actor.\nCan be one of `user`, `asana`, `asana_support`, `anonymous`, or `external_administrator`.",
            "type": "string",
            "enum": [
              "user",
              "asana",
              "asana_support",
              "anonymous",
              "external_administrator"
            ],
            "example": "user"
          },
          "gid": {
            "description": "Globally unique identifier of the actor, if it is a user.",
            "type": "string",
            "example": "1111"
          },
          "name": {
            "description": "The name of the actor, if it is a user.",
            "type": "string",
            "example": "Greg Sanchez"
          },
          "email": {
            "description": "The email of the actor, if it is a user.",
            "type": "string",
            "example": "gregsanchez@example.com"
          }
        }
      },
      "AuditLogEventContext": {
        "description": "The context from which this event originated.",
        "type": "object",
        "properties": {
          "context_type": {
            "description": "The type of context.\nCan be one of `web`, `desktop`, `mobile`, `asana_support`, `asana`, `email`, or `api`.",
            "type": "string",
            "enum": [
              "web",
              "desktop",
              "mobile",
              "asana_support",
              "asana",
              "email",
              "api"
            ],
            "example": "web"
          },
          "api_authentication_method": {
            "description": "The authentication method used in the context of an API request.\nOnly present if the `context_type` is `api`. Can be one of `cookie`, `oauth`, `personal_access_token`, or `service_account`.",
            "type": "string",
            "enum": [
              "cookie",
              "oauth",
              "personal_access_token",
              "service_account"
            ]
          },
          "client_ip_address": {
            "description": "The IP address of the client that initiated the event, if applicable.",
            "type": "string",
            "example": "1.1.1.1"
          },
          "user_agent": {
            "description": "The user agent of the client that initiated the event, if applicable.",
            "type": "string",
            "example": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36"
          },
          "oauth_app_name": {
            "description": "The name of the OAuth App that initiated the event.\nOnly present if the `api_authentication_method` is `oauth`.",
            "type": "string"
          },
          "rule_name": {
            "description": "The name of the automation rule that initiated the event.",
            "type": "string",
            "example": "When Task is added to this project"
          },
          "on_behalf_of_user_id": {
            "description": "The ID of the user who requested a change via support.",
            "type": "integer",
            "example": 12345
          }
        }
      },
      "AuditLogEventDetails": {
        "description": "Event specific details. The schema will vary depending on the `event_type`.",
        "type": "object",
        "properties": {
          "old_value": {
            "description": "The previous value of the field that was modified in the audited event.",
            "type": "string",
            "nullable": true
          },
          "new_value": {
            "description": "The new value after the modification in the audited event.",
            "type": "string",
            "nullable": true
          },
          "group": {
            "description": "The division or organizational unit where the event occurred. Primarily used to scope role change events (e.g., `user_division_admin_role_changed`), but may appear in other contexts involving group-level changes.",
            "type": "object",
            "additionalProperties": true
          },
          "saml_response": {
            "description": "The response received from the IdP when a user logs in with SAML SSO. Present on `user_login_failed` and `user_login_succeeded` events.",
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": true
      },
      "AuditLogEventResource": {
        "description": "The primary object that was affected by this event.",
        "type": "object",
        "properties": {
          "resource_type": {
            "description": "The type of resource.",
            "type": "string",
            "example": "task"
          },
          "resource_subtype": {
            "description": "The subtype of resource. Most resources will not have a subtype.",
            "type": "string",
            "example": "milestone"
          },
          "gid": {
            "description": "Globally unique identifier of the resource.",
            "type": "string",
            "example": "1111"
          },
          "name": {
            "description": "The name of the resource.",
            "type": "string",
            "nullable": true,
            "example": "Example Task"
          },
          "email": {
            "description": "The email of the resource, if applicable.",
            "type": "string"
          }
        }
      },
      "BatchRequest": {
        "description": "A request object for use in a batch request.",
        "type": "object",
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BatchRequestAction"
            }
          }
        }
      },
      "BatchRequestAction": {
        "description": "An action object for use in a batch request.",
        "type": "object",
        "properties": {
          "relative_path": {
            "description": "The path of the desired endpoint relative to the API’s base URL. Query parameters are not accepted here; put them in `data` instead.",
            "type": "string",
            "example": "/tasks/123"
          },
          "method": {
            "description": "The HTTP method you wish to emulate for the action.",
            "type": "string",
            "enum": [
              "get",
              "post",
              "put",
              "delete",
              "patch",
              "head"
            ],
            "example": "get"
          },
          "data": {
            "description": "For `GET` requests, this should be a map of query parameters you would have normally passed in the URL. Options and pagination are not accepted here; put them in `options` instead. For `POST`, `PATCH`, and `PUT` methods, this should be the content you would have normally put in the data field of the body.",
            "type": "object",
            "example": {
              "assignee": "me",
              "workspace": "1337"
            }
          },
          "options": {
            "description": "Pagination (`limit` and `offset`) and output options (`fields` or `expand`) for the action. “Pretty” JSON output is not an available option on individual actions; if you want pretty output, specify that option on the parent request.",
            "type": "object",
            "properties": {
              "limit": {
                "description": "Pagination limit for the request.",
                "type": "integer",
                "example": 50
              },
              "offset": {
                "description": "Pagination offset for the request.",
                "type": "integer"
              },
              "fields": {
                "description": "The fields to retrieve in the request.",
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": [
                  "name",
                  "gid",
                  "notes",
                  "completed"
                ]
              }
            },
            "example": {
              "limit": 3,
              "fields": [
                "name",
                "notes",
                "completed"
              ]
            }
          }
        },
        "required": [
          "relative_path",
          "method"
        ]
      },
      "BatchResponse": {
        "description": "A response object returned from a batch request.",
        "type": "object",
        "properties": {
          "status_code": {
            "description": "The HTTP status code that the invoked endpoint returned.",
            "type": "integer",
            "example": 200
          },
          "headers": {
            "description": "A map of HTTP headers specific to this result. This is primarily used for returning a `Location` header to accompany a `201 Created` result.  The parent HTTP response will contain all common headers.",
            "type": "object",
            "example": {
              "location": "/tasks/1234"
            }
          },
          "body": {
            "description": "The JSON body that the invoked endpoint returned.",
            "type": "object",
            "example": {
              "data": {
                "gid": "1967",
                "completed": false,
                "name": "Hello, world!",
                "notes": "How are you today?"
              }
            }
          }
        }
      },
      "BudgetCompact": {
        "description": "A *budget* object represents a budget for a given parent.",
        "type": "object",
        "properties": {
          "gid": {
            "description": "Globally unique identifier of the resource, as a string.",
            "type": "string",
            "readOnly": true,
            "example": "12345",
            "x-insert-after": false
          },
          "resource_type": {
            "description": "The base type of this resource.",
            "type": "string",
            "readOnly": true,
            "example": "budget",
            "x-insert-after": "gid"
          },
          "budget_type": {
            "type": "string",
            "description": "The type of the budget, in \"cost\" or \"time\". The value of this property will dictate how the corresponding values for actual, estimate, and total are interpreted.",
            "enum": [
              "cost",
              "time"
            ]
          }
        }
      },
      "BudgetResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BudgetCompact"
          },
          {
            "type": "object",
            "properties": {
              "estimate": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BudgetEstimateResponse"
                  }
                ]
              },
              "actual": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BudgetActualResponse"
                  }
                ]
              },
              "total": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BudgetTotalResponse"
                  }
                ]
              },
              "parent": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ProjectCompact"
                  },
                  {
                    "type": "object"
                  }
                ]
              }
            }
          }
        ]
      },
      "BudgetRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BudgetCompact"
          },
          {
            "type": "object",
            "properties": {
              "estimate": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BudgetEstimateRequest"
                  }
                ]
              },
              "actual": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BudgetActualRequest"
                  }
                ]
              },
              "total": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BudgetTotalRequest"
                  }
                ]
              },
              "parent": {
                "description": "Globally unique ID of the parent object: project. Can only be set on create, immutable thereafter.",
                "type": "string",
                "example": "181636"
              }
            }
          }
        ]
      },
      "BudgetEstimateRequest": {
        "description": "Defines how the estimate portion of a budget is configured. This object controls whether the estimate is enabled, what data source it uses, and which tasks (by billable status) are included in calculating the estimate value. When disabled (enabled: false and source: none), the estimate is hidden and the API response will return `value: null` and `units: null` for this field.",
        "type": "object",
        "properties": {
          "billable_status_filter": {
            "description": "Billable status filter applied to the estimate when `source` is `tasks`. Ignored when `source` is `capacity_plans` or `none`. When not provided, defaults to `billable`.",
            "type": "string",
            "enum": [
              "billable",
              "non_billable",
              "any"
            ]
          },
          "source": {
            "description": "The data source for the estimate. `tasks`: use task-level estimated time attributed to the parent. `capacity_plans`: use capacity plan estimates attributed to the parent. `none`: disables the estimate; only valid when `enabled` is `false`. When `enabled` is `true`, `source` must not be `none`.",
            "type": "string",
            "example": "tasks",
            "enum": [
              "none",
              "tasks",
              "capacity_plans"
            ]
          },
          "enabled": {
            "description": "Controls whether the estimate is displayed in the budget. This flag primarily affects UI presentation and the response payload. When `false` (and `source` is `none`), the estimate is hidden and the API response will return `value: null` and `units: null` for this field.",
            "type": "boolean",
            "example": true
          }
        }
      },
      "BudgetEstimateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BudgetEstimateRequest"
          },
          {
            "type": "object",
            "description": "Represents the computed estimate portion of a budget. This object includes the calculated estimate value and its corresponding units. The estimate reflects aggregated data from the configured source, and when source is tasks, the specified billable_status_filter determines which tasks contribute. When disabled (enabled: false and source: none), both value and units will be null.",
            "properties": {
              "units": {
                "description": "The units of the estimate value. When `budget_type` is `time`, units are `\"minutes\"`. When `budget_type` is `cost`, units are the ISO 4217 currency code configured at the domain level. When `source` is `none` and `enabled` is `false`, this field will be `null`.",
                "type": "string",
                "example": "USD",
                "readOnly": true
              },
              "value": {
                "description": "The aggregated estimate value for the budget. This value is computed based on the selected `source` and, when `source` is `tasks`, the specified `billable_status_filter`. When `budget_type` is `time`, represents the aggregated estimated minutes on the parent. When `budget_type` is `cost`, represents the aggregated estimated cost on the parent (estimated time x resource rate). When `source` is `none` and `enabled` is `false`, this field will be `null`.",
                "type": "number",
                "example": 100,
                "readOnly": true
              }
            }
          }
        ]
      },
      "BudgetActualRequest": {
        "type": "object",
        "description": "Defines the configuration of the actual portion of a budget. The actual value represents aggregated time tracking data attributed to the budget’s parent. This object controls which time entries are included based on their billable status. When no entries match the selected filter, the value will be 0.",
        "properties": {
          "billable_status_filter": {
            "type": "string",
            "description": "Billable status filter applied to time tracking entries contributing to the actual value. Determines which entries are included in aggregation. When not provided, defaults to `billable`.",
            "enum": [
              "billable",
              "non_billable",
              "any"
            ],
            "example": "billable"
          }
        }
      },
      "BudgetActualResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BudgetActualRequest"
          },
          {
            "type": "object",
            "description": "Represents the computed actual portion of a budget. The actual value is derived from time tracking entries attributed to the budget’s parent, filtered according to the specified billable_status_filter. When budget_type is time, it represents minutes; when budget_type is cost, it represents total cost (actual time × resource rate). When no applicable entries exist, value will be 0.",
            "properties": {
              "value": {
                "description": "The aggregated actual value for the budget. * When `budget_type` is `time`, represents the total actual minutes from time tracking entries. * When `budget_type` is `cost`, represents the total actual cost, computed as (actual time × resource rate).",
                "type": "number",
                "example": 100,
                "readOnly": true
              },
              "units": {
                "description": "The units of the actual value. * When `budget_type` is `time`, units are `\"minutes\"`. * When `budget_type` is `cost`, units are the ISO 4217 currency code configured at the domain level.",
                "type": "string",
                "example": "USD",
                "readOnly": true
              }
            }
          }
        ]
      },
      "BudgetTotalRequest": {
        "type": "object",
        "description": "Defines how the total portion of a budget is configured. The total represents a user-defined target value, not an aggregated one. This object specifies whether the total is displayed and the current value for the selected budget_type.",
        "properties": {
          "enabled": {
            "description": "Indicates whether the total value is active and should be displayed in the budget. This flag primarily affects UI presentation and the response payload.",
            "type": "boolean",
            "example": true
          },
          "value": {
            "description": "The user-set value for the total budget. When `budget_type` is `time`, represents minutes. When `budget_type` is `cost`, represents the monetary amount in the domain's currency. This value is stored separately for each `budget_type`, so switching between types preserves each value.",
            "type": "number",
            "example": 100
          }
        }
      },
      "BudgetTotalResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BudgetTotalRequest"
          },
          {
            "type": "object",
            "description": "Represents the configured total portion of a budget. The total value is user-defined and may differ for each budget_type. When budget_type is time, it is expressed in minutes; when budget_type is cost, it is expressed in the domain’s ISO 4217 currency code. When enabled is false, both value and units will be null.",
            "properties": {
              "units": {
[...]
