{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://admin.asuite.org/{tenantshortname}/api",
      "variables": {
        "tenantshortname": {
          "default": "tenantshortname",
          "description": "Tenant short name can be found in Admin Console -> Settings"
        }
      }
    }
  ],
  "info": {
    "version": "1.0.0-oas3",
    "title": "ASuite Admin API",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ASuite-Developers/Admin/1.0.0-oas3/swagger.json"
  },
  "paths": {
    "/wp/v2/users": {
      "get": {
        "parameters": [
          {
            "name": "context",
            "in": "query",
            "description": "Scope under which the request is made; determines fields present in response.",
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "embed",
                "edit"
              ],
              "default": "view"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Current page of the collection.",
            "schema": {
              "type": "integer",
              "format": "number",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Maximum number of items to be returned in result set.",
            "schema": {
              "type": "integer",
              "format": "number",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Limit results to those matching a string.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude",
            "in": "query",
            "description": "Ensure result set excludes specific IDs.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Limit result set to specific IDs.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset the result set by a specific number of items.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order sort attribute ascending or descending.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Sort collection by object attribute.",
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "include",
                "name",
                "registered_date",
                "slug",
                "include_slugs",
                "email",
                "url"
              ],
              "default": "name"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "Limit result set to users with one or more specific slugs.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "roles",
            "in": "query",
            "description": "Limit result set to users matching at least one specific role provided. Accepts csv list or single role.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/user"
                  }
                }
              }
            }
          },
          "default": {
            "description": "error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "operationId": "GetWpV2Users"
      },
      "post": {
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user"
                }
              }
            }
          },
          "201": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user"
                }
              }
            }
          },
          "default": {
            "description": "error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "operationId": "PostWpV2Users",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "description": "Login name for the user.",
                    "type": "string"
                  },
                  "name": {
                    "description": "Display name for the user.",
                    "type": "string"
                  },
                  "first_name": {
                    "description": "First name for the user.",
                    "type": "string"
                  },
                  "last_name": {
                    "description": "Last name for the user.",
                    "type": "string"
                  },
                  "email": {
                    "description": "The email address for the user.",
                    "type": "string",
                    "format": "email"
                  },
                  "url": {
                    "description": "URL of the user.",
                    "type": "string",
                    "format": "uri"
                  },
                  "description": {
                    "description": "Description of the user.",
                    "type": "string"
                  },
                  "locale": {
                    "description": "Locale for the user.",
                    "type": "string",
                    "enum": [
                      "",
                      "en_US"
                    ]
                  },
                  "nickname": {
                    "description": "The nickname for the user.",
                    "type": "string"
                  },
                  "slug": {
                    "description": "An alphanumeric identifier for the user.",
                    "type": "string"
                  },
                  "roles": {
                    "description": "Roles assigned to the user.",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "password": {
                    "description": "Password for the user (never included).",
                    "type": "string"
                  },
                  "meta": {
                    "description": "Meta fields.",
                    "type": "string"
                  }
                },
                "required": [
                  "username",
                  "email",
                  "password"
                ]
              }
            }
          }
        }
      }
    },
    "/wp/v2/users/{id}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Unique identifier for the user.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "context",
            "in": "query",
            "description": "Scope under which the request is made; determines fields present in response.",
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "embed",
                "edit"
              ],
              "default": "view"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user"
                }
              }
            }
          },
          "default": {
            "description": "error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "operationId": "GetWpV2UsersById"
      },
      "post": {
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user"
                }
              }
            }
          },
          "default": {
            "description": "error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "operationId": "PostWpV2UsersById",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "description": "Unique identifier for the user.",
                    "type": "integer"
                  },
                  "username": {
                    "description": "Login name for the user.",
                    "type": "string"
                  },
                  "name": {
                    "description": "Display name for the user.",
                    "type": "string"
                  },
                  "first_name": {
                    "description": "First name for the user.",
                    "type": "string"
                  },
                  "last_name": {
                    "description": "Last name for the user.",
                    "type": "string"
                  },
                  "email": {
                    "description": "The email address for the user.",
                    "type": "string",
                    "format": "email"
                  },
                  "url": {
                    "description": "URL of the user.",
                    "type": "string",
                    "format": "uri"
                  },
                  "description": {
                    "description": "Description of the user.",
                    "type": "string"
                  },
                  "locale": {
                    "description": "Locale for the user.",
                    "type": "string",
                    "enum": [
                      "",
                      "en_US"
                    ]
                  },
                  "nickname": {
                    "description": "The nickname for the user.",
                    "type": "string"
                  },
                  "slug": {
                    "description": "An alphanumeric identifier for the user.",
                    "type": "string"
                  },
                  "roles": {
                    "description": "Roles assigned to the user.",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "password": {
                    "description": "Password for the user (never included).",
                    "type": "string"
                  },
                  "meta": {
                    "description": "Meta fields.",
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Unique identifier for the user.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "force",
            "in": "query",
            "description": "Required to be true, as users do not support trashing.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "reassign",
            "in": "query",
            "description": "Reassign the deleted user's posts and links to this user ID.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user"
                }
              }
            }
          },
          "default": {
            "description": "error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "operationId": "DeleteWpV2UsersById"
      }
    },
    "/wp/v2/settings": {
      "get": {
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/settings"
                  }
                }
              }
            }
          },
          "default": {
            "description": "error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "operationId": "GetWpV2Settings"
      },
      "post": {
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/settings"
                }
              }
            }
          },
          "201": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/settings"
                }
              }
            }
          },
          "default": {
            "description": "error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "operationId": "PostWpV2Settings",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "description": "Site title.",
                    "type": "string"
                  },
                  "description": {
                    "description": "Site tagline.",
                    "type": "string"
                  },
                  "timezone": {
                    "description": "A city in the same timezone as you.",
                    "type": "string"
                  },
                  "date_format": {
                    "description": "A date format for all date strings.",
                    "type": "string"
                  },
                  "time_format": {
                    "description": "A time format for all time strings.",
                    "type": "string"
                  },
                  "start_of_week": {
                    "description": "A day number of the week that the week should start on.",
                    "type": "integer"
                  },
                  "language": {
                    "description": "WordPress locale code.",
                    "type": "string"
                  },
                  "use_smilies": {
                    "description": "Convert emoticons like :-) and :-P to graphics on display.",
                    "type": "boolean"
                  },
                  "default_category": {
                    "description": "Default post category.",
                    "type": "integer"
                  },
                  "default_post_format": {
                    "description": "Default post format.",
                    "type": "string"
                  },
                  "posts_per_page": {
                    "description": "Blog pages show at most.",
                    "type": "integer"
                  },
                  "default_ping_status": {
                    "description": "Allow link notifications from other blogs (pingbacks and trackbacks) on new articles.",
                    "type": "string",
                    "enum": [
                      "open",
                      "closed"
                    ]
                  },
                  "default_comment_status": {
                    "description": "Allow people to post comments on new articles.",
                    "type": "string",
                    "enum": [
                      "open",
                      "closed"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "cookieAuth": {
        "type": "oauth2",
        "description": "For more information, visit docs.developer.asuite.org",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://admin.asuite.org/{tenantshortname}/api/oauth2",
            "tokenUrl": "https://admin.asuite.org/{tenantshortname}/api/oauth2/access_token",
            "scopes": {
              "users:read": "Read user information",
              "users:write": "Modify user information",
              "im:read": "Read messages",
              "im:write": "Write messages",
              "im:history": "Access the message archive",
              "search:read": "Search messages, files, and so on"
            }
          }
        }
      }
    },
    "schemas": {
      "error": {
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "status": {
                "type": "integer"
              }
            }
          }
        }
      },
      "type": {
        "type": "object",
        "properties": {
          "capabilities": {
            "description": "All capabilities used by the post type.",
            "type": "object"
          },
          "description": {
            "description": "A human-readable description of the post type.",
            "type": "string"
          },
          "hierarchical": {
            "description": "Whether or not the post type should have children.",
            "type": "boolean"
          },
          "labels": {
            "description": "Human-readable labels for the post type for various contexts.",
            "type": "object"
          },
          "name": {
            "description": "The title for the post type.",
            "type": "string"
          },
          "slug": {
            "description": "An alphanumeric identifier for the post type.",
            "type": "string"
          },
          "supports": {
            "description": "All features, supported by the post type.",
            "type": "object"
          },
          "taxonomies": {
            "description": "Taxonomies associated with post type.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "rest_base": {
            "description": "REST base route for the post type.",
            "type": "string"
          }
        }
      },
      "user": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique identifier for the user.",
            "type": "integer"
          },
          "username": {
            "description": "Login name for the user.",
            "type": "string"
          },
          "name": {
            "description": "Display name for the user.",
            "type": "string"
          },
          "first_name": {
            "description": "First name for the user.",
            "type": "string"
          },
          "last_name": {
            "description": "Last name for the user.",
            "type": "string"
          },
          "email": {
            "description": "The email address for the user.",
            "type": "string",
            "format": "email"
          },
          "url": {
            "description": "URL of the user.",
            "type": "string",
            "format": "uri"
          },
          "description": {
            "description": "Description of the user.",
            "type": "string"
          },
          "link": {
            "description": "Author URL of the user.",
            "type": "string",
            "format": "uri"
          },
          "locale": {
            "description": "Locale for the user.",
            "type": "string",
            "enum": [
              "en_US"
            ]
          },
          "nickname": {
            "description": "The nickname for the user.",
            "type": "string"
          },
          "slug": {
            "description": "An alphanumeric identifier for the user.",
            "type": "string"
          },
          "registered_date": {
            "description": "Registration date for the user.",
            "type": "string",
            "format": "date-time"
          },
          "roles": {
            "description": "Roles assigned to the user.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "password": {
            "description": "Password for the user (never included).",
            "type": "string"
          },
          "capabilities": {
            "description": "All capabilities assigned to the user.",
            "type": "object"
          },
          "extra_capabilities": {
            "description": "Any extra capabilities assigned to the user.",
            "type": "object"
          },
          "avatar_urls": {
            "description": "Avatar URLs for the user.",
            "type": "object",
            "properties": {
              "24": {
                "description": "Avatar URL with image size of 24 pixels.",
                "type": "string",
                "format": "uri"
              },
              "48": {
                "description": "Avatar URL with image size of 48 pixels.",
                "type": "string",
                "format": "uri"
              },
              "96": {
                "description": "Avatar URL with image size of 96 pixels.",
                "type": "string",
                "format": "uri"
              }
            }
          },
          "meta": {
            "description": "Meta fields.",
            "type": "object",
            "properties": {}
          }
        }
      },
      "settings": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Site title.",
            "default": null
          },
          "description": {
            "type": "string",
            "description": "Site tagline.",
            "default": null
          },
          "timezone": {
            "type": "string",
            "description": "A city in the same timezone as you.",
            "default": null
          },
          "date_format": {
            "type": "string",
            "description": "A date format for all date strings.",
            "default": null
          },
          "time_format": {
            "type": "string",
            "description": "A time format for all time strings.",
            "default": null
          },
          "start_of_week": {
            "type": "integer",
            "description": "A day number of the week that the week should start on.",
            "default": null
          },
          "language": {
            "type": "string",
            "description": "WordPress locale code.",
            "default": "en_US"
          },
          "use_smilies": {
            "type": "boolean",
            "description": "Convert emoticons like :-) and :-P to graphics on display.",
            "default": true
          },
          "default_category": {
            "type": "integer",
            "description": "Default post category.",
            "default": null
          },
          "default_post_format": {
            "type": "string",
            "description": "Default post format.",
            "default": null
          },
          "posts_per_page": {
            "type": "integer",
            "description": "Blog pages show at most.",
            "default": 10
          },
          "default_ping_status": {
            "type": "string",
            "description": "Allow link notifications from other blogs (pingbacks and trackbacks) on new articles.",
            "default": null,
            "enum": [
              "open",
              "closed"
            ]
          },
          "default_comment_status": {
            "type": "string",
            "description": "Allow people to post comments on new articles.",
            "default": null,
            "enum": [
              "open",
              "closed"
            ]
          }
        }
      }
    }
  }
}