{
  "openapi": "3.0.3",
  "info": {
    "title": "Tally API",
    "description": "Tally's API",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0",
    "x-jentic-source-url": "https://developers.tally.so/api-reference"
  },
  "servers": [
    {
      "url": "https://api.tally.so"
    }
  ],
  "paths": {
    "/forms": {
      "get": {
        "operationId": "listForms",
        "summary": "Retrieve a list of forms",
        "description": "Returns a paginated array of form objects.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (default: 1)",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of forms per page (default: 50, max: 500)",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 500
            }
          },
          {
            "name": "workspaceIds",
            "in": "query",
            "required": false,
            "description": "Filter forms by specific workspace IDs (encoded strings)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of forms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Form"
                      }
                    },
                    "page": {
                      "type": "number",
                      "description": "Current page number"
                    },
                    "limit": {
                      "type": "number",
                      "description": "Number of items per page"
                    },
                    "total": {
                      "type": "number",
                      "description": "Total number of items"
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Whether there are more pages available"
                    }
                  },
                  "required": [
                    "items",
                    "page",
                    "limit",
                    "total",
                    "hasMore"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createForm",
        "summary": "Create a new form",
        "description": "Creates a new form, optionally based on a template or within a specific workspace.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "workspaceId": {
                    "type": "string",
                    "description": "ID of the workspace to create the form in. If not provided, uses the user's default workspace"
                  },
                  "templateId": {
                    "type": "string",
                    "description": "ID of the template to base the form on"
                  },
                  "status": {
                    "$ref": "#/components/schemas/FormStatus",
                    "description": "Initial status of the form"
                  },
                  "blocks": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Block"
                    }
                  },
                  "settings": {
                    "$ref": "#/components/schemas/FormSettings"
                  }
                },
                "required": [
                  "blocks",
                  "status"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Form created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Form"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/forms/{formId}": {
      "get": {
        "operationId": "getForm",
        "summary": "Retrieve a form",
        "description": "Returns a single form by its ID with all its blocks and settings.",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "The ID of the form to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Form retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Form"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "settings": {
                          "$ref": "#/components/schemas/FormSettings"
                        },
                        "blocks": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Block"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Form not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteForm",
        "summary": "Delete a form",
        "description": "Deletes a form by its ID and moves it to the trash.",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "The ID of the form to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Form successfully deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Form not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "operationId": "updateForm",
        "summary": "Update a form",
        "description": "Updates a form's settings, blocks, or status.",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "The ID of the form to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "New name for the form"
                  },
                  "status": {
                    "$ref": "#/components/schemas/FormStatus",
                    "description": "New status for the form"
                  },
                  "blocks": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Block"
                    },
                    "description": "Updated blocks for the form"
                  },
                  "settings": {
                    "$ref": "#/components/schemas/FormSettings",
                    "description": "Updated settings for the form"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Form updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Form"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Form not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/users/me": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Retrieve current user information",
        "description": "Returns information about the current authenticated user.",
        "responses": {
          "200": {
            "description": "User information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/User"
                    }
                  ],
                  "properties": {
                    "subscriptionPlan": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/workspaces": {
      "get": {
        "operationId": "listWorkspaces",
        "summary": "Retrieve a list of workspaces",
        "description": "Returns a paginated array of workspace objects with associated users and pending invites.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (default: 1)",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of workspaces",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Workspace"
                      }
                    },
                    "page": {
                      "type": "number",
                      "description": "Current page number"
                    },
                    "limit": {
                      "type": "number",
                      "description": "Number of items per page"
                    },
                    "total": {
                      "type": "number",
                      "description": "Total number of items"
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Whether there are more pages available"
                    }
                  },
                  "required": [
                    "items",
                    "page",
                    "limit",
                    "total",
                    "hasMore"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "createWorkspace",
        "summary": "Create a new workspace",
        "description": "Creates a new workspace and assigns the authenticated user as a member. Requires a Pro subscription.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the workspace"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Workspace created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User doesn't have a Pro subscription"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/workspaces/{workspaceId}": {
      "get": {
        "operationId": "getWorkspace",
        "summary": "Retrieve a workspace",
        "description": "Returns a single workspace by its ID with associated members.",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "The ID of the workspace to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Workspace not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "operationId": "updateWorkspace",
        "summary": "Update a workspace",
        "description": "Updates a workspace's information by its ID.",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "The ID of the workspace to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The new name for the workspace"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Workspace updated successfully"
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Workspace not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteWorkspace",
        "summary": "Delete a workspace",
        "description": "Deletes a workspace and all its associated forms. The workspace and forms are moved to trash and can be restored later. Forms in DRAFT or PUBLISHED state will be marked as DELETED.",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "The ID of the workspace to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Workspace successfully deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User doesn't have required permissions or Pro subscription"
          },
          "404": {
            "description": "Workspace not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/organizations/{organizationId}/users": {
      "get": {
        "operationId": "listOrganizationUsers",
        "summary": "List organization users",
        "description": "Returns a list of all users in your organization.",
        "tags": [
          "Organization"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "description": "The ID of the organization",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of organization users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - User doesn't have required permissions"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/organizations/{organizationId}/users/{userId}": {
      "delete": {
        "operationId": "removeOrganizationUser",
        "summary": "Remove user from organization",
        "description": "Removes a user from your organization. Only the organization creator can remove other members, or users can remove themselves.",
        "tags": [
          "Organization"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "description": "The ID of the organization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The ID of the user to remove from the organization",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "User removed from organization successfully"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - User doesn't have permission to remove this member or user doesn't exist in organization"
          },
          "404": {
            "description": "Organization not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/organizations/{organizationId}/invites": {
      "get": {
        "operationId": "listOrganizationInvites",
        "summary": "List organization invites",
        "description": "Returns a list of all invites in your organization.",
        "tags": [
          "Organization"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "description": "The ID of the organization",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of organization invites",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "organizationId": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - User doesn't have required permissions"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "createOrganizationInvites",
        "summary": "Create organization invites",
        "description": "Invites users to join specific workspaces within your organization.",
        "tags": [
          "Organization"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "description": "The ID of the organization",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "workspaceIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of workspace IDs to invite users to"
                  },
                  "emails": {
                    "type": "string",
                    "description": "Comma or semicolon separated list of email addresses to invite"
                  }
                },
                "required": [
                  "workspaceIds",
                  "emails"
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Invites created successfully. Existing users were added to workspaces and new users received invitation emails."
          },
          "400": {
            "description": "Invalid request body - Invalid email format or missing required fields"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - User doesn't have required permissions or Pro subscription"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/organizations/{organizationId}/invites/{inviteId}": {
      "delete": {
        "operationId": "cancelOrganizationInvite",
        "summary": "Cancel an organization invite",
        "description": "Cancels a pending invitation to join workspaces within your organization. Only the user who created the invite can cancel it.",
        "tags": [
          "Organization"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "description": "The ID of the organization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inviteId",
            "in": "path",
            "required": true,
            "description": "The ID of the invite to cancel",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Invite cancelled successfully"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - User doesn't have permission to cancel this invite or invite doesn't exist"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/forms/{formId}/questions": {
      "get": {
        "operationId": "listFormQuestions",
        "summary": "List form questions",
        "description": "Returns a list of all questions in a form.",
        "tags": [
          "Forms"
        ],
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "The ID of the form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of questions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "questions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Question"
                      }
                    },
                    "hasResponses": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found - Form not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/forms/{formId}/questions/{questionId}": {
      "patch": {
        "operationId": "updateFormQuestion",
        "summary": "Update a form question",
        "description": "Updates a specific question in a form.",
        "tags": [
          "Forms"
        ],
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "The ID of the form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "questionId",
            "in": "path",
            "required": true,
            "description": "The ID of the question",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "The new title for the question"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Question updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Question"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found - Form or question not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/forms/{formId}/blocks": {
      "get": {
        "operationId": "listFormBlocks",
        "summary": "List form blocks",
        "description": "Returns a list of all blocks in a form.",
        "tags": [
          "Forms"
        ],
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "The ID of the form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of blocks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "blocks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Block"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found - Form not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "operationId": "updateFormBlocks",
        "summary": "Update form blocks",
        "description": "Updates blocks in a form.",
        "tags": [
          "Forms"
        ],
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "The ID of the form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "blocks": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Block"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Blocks updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Block"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found - Form not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/forms/{formId}/submissions": {
      "get": {
        "operationId": "listFormSubmissions",
        "summary": "List form submissions",
        "description": "Returns a paginated list of form submissions with their responses.",
        "tags": [
          "Forms"
        ],
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "The ID of the form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (default: 1)",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter submissions by status",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "completed",
                "partial"
              ]
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "Filter submissions submitted on or after this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Filter submissions submitted on or before this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "afterId",
            "in": "query",
            "required": false,
            "description": "Get submissions that came after a specific submission ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of submissions to return per page (default: 50, max: 500)",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 500,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of form submissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "number",
                      "description": "Current page number"
                    },
                    "limit": {
                      "type": "number",
                      "description": "Number of submissions per page"
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Whether there are more pages available"
                    },
                    "totalNumberOfSubmissionsPerFilter": {
                      "type": "object",
                      "properties": {
                        "all": {
                          "type": "number",
                          "description": "Total number of all submissions"
                        },
                        "completed": {
                          "type": "number",
                          "description": "Total number of completed submissions"
                        },
                        "partial": {
                          "type": "number",
                          "description": "Total number of partial submissions"
                        }
                      }
                    },
                    "questions": {
                      "type": "array",
                      "description": "List of form questions",
                      "items": {
                        "$ref": "#/components/schemas/Question"
                      }
                    },
                    "submissions": {
                      "type": "array",
                      "description": "List of form submissions",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Submission ID"
                          },
                          "formId": {
                            "type": "string",
                            "description": "Form ID"
                          },
                          "isCompleted": {
                            "type": "boolean",
                            "description": "Whether the submission is completed"
                          },
                          "submittedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the submission was submitted"
                          },
                          "responses": {
                            "type": "array",
                            "description": "List of responses to form questions. Note: Only questions that have been answered will appear in this array.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Response ID"
                                },
                                "formId": {
                                  "type": "string",
                                  "description": "Form ID"
                                },
                                "questionId": {
                                  "type": "string",
                                  "description": "Question ID"
                                },
                                "respondentId": {
                                  "type": "string",
                                  "description": "Respondent ID"
                                },
                                "submissionId": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "Submission ID"
                                },
                                "sessionUuid": {
                                  "type": "string",
                                  "format": "uuid",
                                  "description": "Session UUID"
                                },
                                "answer": {
                                  "description": "The answer value for this question. Type varies based on question type.",
                                  "nullable": true,
                                  "oneOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "boolean"
                                    },
                                    {
                                      "type": "array",
                                      "items": {}
                                    },
                                    {
                                      "type": "object"
                                    }
                                  ]
                                },
                                "formattedAnswer": {
                                  "type": "string",
                                  "description": "Formatted answer (e.g., for number inputs with custom formatting)"
                                },
                                "createdAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "When the response was created"
                                },
                                "updatedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "When the response was last updated"
                                }
                              },
                              "required": [
                                "id",
                                "formId",
                                "questionId",
                                "respondentId",
                                "sessionUuid",
                                "answer",
                                "createdAt",
                                "updatedAt"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Form not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/forms/{formId}/submissions/{submissionId}": {
      "get": {
        "operationId": "getFormSubmission",
        "summary": "Retrieve a form submission",
        "description": "Returns a specific form submission with all its responses and the form questions.",
        "tags": [
          "Forms"
        ],
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "The ID of the form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "submissionId",
            "in": "path",
            "required": true,
            "description": "The ID of the submission to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Form submission retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "questions": {
                      "type": "array",
                      "description": "List of form questions with their fields",
                      "items": {
                        "$ref": "#/components/schemas/Question"
                      }
                    },
                    "submission": {
                      "type": "object",
                      "description": "The form submission with responses",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Submission ID"
                        },
                        "formId": {
                          "type": "string",
                          "description": "Form ID"
                        },
                        "isCompleted": {
                          "type": "boolean",
                          "description": "Whether the submission is completed"
                        },
                        "submittedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "When the submission was submitted"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "When the submission was created"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "When the submission was last updated"
                        },
                        "responses": {
                          "type": "array",
                          "description": "List of responses to form questions. Note: Only questions that have been answered will appear in this array.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Response ID"
                              },
                              "formId": {
                                "type": "string",
                                "description": "Form ID"
                              },
                              "questionId": {
                                "type": "string",
                                "description": "Question ID"
                              },
                              "respondentId": {
                                "type": "string",
                                "description": "Respondent ID"
                              },
                              "submissionId": {
                                "type": "string",
                                "nullable": true,
                                "description": "Submission ID"
                              },
                              "sessionUuid": {
                                "type": "string",
                                "format": "uuid",
                                "description": "Session UUID"
                              },
                              "answer": {
                                "description": "The answer value for this question. Type varies based on question type.",
                                "nullable": true,
                                "oneOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "boolean"
                                  },
                                  {
                                    "type": "array",
                                    "items": {}
                                  },
                                  {
                                    "type": "object"
                                  }
                                ]
                              },
                              "formattedAnswer": {
                                "type": "string",
                                "description": "Formatted answer (e.g., for number inputs with custom formatting)"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "When the response was created"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "When the response was last updated"
                              }
                            },
                            "required": [
                              "id",
                              "formId",
                              "questionId",
                              "respondentId",
                              "sessionUuid",
                              "answer",
                              "createdAt",
                              "updatedAt"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Form or submission not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteFormSubmission",
        "summary": "Delete a form submission",
        "description": "Deletes a specific submission from a form.",
        "tags": [
          "Forms"
        ],
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "The ID of the form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "submissionId",
            "in": "path",
            "required": true,
            "description": "The ID of the submission to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Submission deleted successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Form or submission not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List webhooks",
        "description": "Returns a paginated list of all webhooks across your accessible forms and workspaces.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (default: 1)",
            "schema": {
              "type": "number",
              "minimum": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of webhooks per page (default: 25, max: 100)",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhooks": {
                      "type": "array",
                      "description": "List of webhooks",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Webhook ID"
                          },
                          "formId": {
                            "type": "string",
                            "description": "Form ID the webhook is attached to"
                          },
                          "url": {
                            "type": "string",
                            "description": "The webhook endpoint URL"
                          },
                          "signingSecret": {
                            "type": "string",
                            "nullable": true,
                            "description": "Secret used to sign webhook payloads"
                          },
                          "httpHeaders": {
                            "type": "array",
                            "nullable": true,
                            "description": "Custom HTTP headers to include in webhook requests",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "Header name"
                                },
                                "value": {
                                  "type": "string",
                                  "description": "Header value"
                                }
                              }
                            }
                          },
                          "eventTypes": {
                            "type": "array",
                            "description": "Types of events this webhook subscribes to",
                            "items": {
                              "$ref": "#/components/schemas/EventType"
                            }
                          },
                          "externalSubscriber": {
                            "type": "string",
                            "nullable": true,
                            "description": "External subscriber identifier"
                          },
                          "isEnabled": {
                            "type": "boolean",
                            "description": "Whether the webhook is enabled"
                          },
                          "lastSyncedAt": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true,
                            "description": "When the webhook was last synced"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the webhook was created"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the webhook was last updated"
                          }
                        }
                      }
                    },
                    "page": {
                      "type": "number",
                      "description": "Current page number"
                    },
                    "limit": {
                      "type": "number",
                      "description": "Number of webhooks per page"
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Whether there are more pages available"
                    },
                    "totalCount": {
                      "type": "number",
                      "description": "Total number of webhooks"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Create a webhook",
        "description": "Creates a new webhook for a form to receive form events.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "formId": {
                    "type": "string",
                    "description": "The ID of the form to create the webhook for"
                  },
                  "url": {
                    "type": "string",
                    "description": "The URL to send webhook events to"
                  },
                  "signingSecret": {
                    "type": "string",
                    "description": "Optional secret used to sign webhook payloads",
                    "nullable": true
                  },
                  "httpHeaders": {
                    "type": "array",
                    "description": "Optional custom HTTP headers to include in webhook requests",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The header name"
                        },
                        "value": {
                          "type": "string",
                          "description": "The header value"
                        }
                      },
                      "required": [
                        "name",
                        "value"
                      ]
                    }
                  },
                  "eventTypes": {
                    "type": "array",
                    "description": "Types of events to receive",
                    "items": {
                      "$ref": "#/components/schemas/EventType"
                    }
                  },
                  "externalSubscriber": {
                    "type": "string",
                    "description": "Optional identifier for the external subscriber"
                  }
                },
                "required": [
                  "formId",
                  "url",
                  "eventTypes"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "eventTypes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EventType"
                      }
                    },
                    "isEnabled": {
                      "type": "boolean"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/webhooks/{webhookId}": {
      "patch": {
        "operationId": "updateWebhook",
        "summary": "Update a webhook",
        "description": "Updates an existing webhook configuration.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "description": "The ID of the webhook to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "formId": {
                    "type": "string",
                    "description": "The ID of the form the webhook is for"
                  },
                  "url": {
                    "type": "string",
                    "description": "The URL to send webhook events to"
                  },
                  "signingSecret": {
                    "type": "string",
                    "description": "Optional secret used to sign webhook payloads",
                    "nullable": true
                  },
                  "httpHeaders": {
                    "type": "array",
                    "description": "Optional custom HTTP headers to include in webhook requests",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The header name"
                        },
                        "value": {
                          "type": "string",
                          "description": "The header value"
                        }
                      },
                      "required": [
                        "name",
                        "value"
                      ]
                    }
                  },
                  "eventTypes": {
                    "type": "array",
                    "description": "Types of events to receive",
                    "items": {
                      "$ref": "#/components/schemas/EventType"
                    }
                  },
                  "isEnabled": {
                    "type": "boolean",
                    "description": "Whether the webhook is enabled"
                  }
                },
                "required": [
                  "formId",
                  "url",
                  "eventTypes",
                  "isEnabled"
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Webhook updated successfully"
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Webhook not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete a webhook",
        "description": "Deletes a webhook. If this is the last webhook for a form, the webhooks integration will also be marked as deleted.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "description": "The ID of the webhook to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook deleted successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Webhook not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/webhooks/{webhookId}/events": {
      "get": {
        "operationId": "listWebhookEvents",
        "summary": "List webhook events",
        "description": "Returns a paginated list of webhook delivery events for a specific webhook, including delivery status, response codes, and retry information.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "description": "The ID of the webhook",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (default: 1)",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of webhook events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "number",
                      "description": "Current page number"
                    },
                    "limit": {
                      "type": "number",
                      "description": "Number of events per page (25)"
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Whether there are more pages available"
                    },
                    "totalNumberOfEvents": {
                      "type": "number",
                      "description": "Total number of webhook events"
                    },
                    "events": {
                      "type": "array",
                      "description": "List of webhook events",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Event ID"
                          },
                          "webhookId": {
                            "type": "string",
                            "description": "Webhook ID"
                          },
                          "webhookUrl": {
                            "type": "string",
                            "description": "The URL the webhook was sent to"
                          },
                          "eventType": {
                            "type": "string",
                            "enum": [
                              "FORM_RESPONSE"
                            ],
                            "description": "Type of event"
                          },
                          "deliveryStatus": {
                            "type": "string",
                            "enum": [
                              "QUEUED",
                              "SUCCEEDED",
                              "FAILED",
                              "DROPPED"
                            ],
                            "description": "Delivery status of the webhook"
                          },
                          "statusCode": {
                            "type": "number",
                            "nullable": true,
                            "description": "HTTP status code returned by the webhook endpoint"
                          },
                          "response": {
                            "type": "string",
                            "nullable": true,
                            "description": "Response body from the webhook endpoint"
                          },
                          "retry": {
                            "type": "number",
                            "description": "Number of retry attempts"
                          },
                          "payload": {
                            "type": "object",
                            "description": "The webhook payload that was sent"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the event was created"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the event was last updated"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Webhook not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/webhooks/{webhookId}/events/{eventId}": {
      "post": {
        "operationId": "retryWebhookEvent",
        "summary": "Retry webhook event",
        "description": "Retries sending a failed webhook event. This will attempt to deliver the webhook payload again to the configured endpoint.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "description": "The ID of the webhook",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "description": "The ID of the webhook event to retry",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook event retry initiated successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User doesn't have access to this webhook or event"
          },
          "404": {
            "description": "Webhook or event not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "FormStatus": {
        "type": "string",
        "enum": [
          "BLANK",
          "DRAFT",
          "PUBLISHED",
          "DELETED"
        ]
      },
      "BlockUuid": {
        "type": "string",
        "format": "uuid",
        "description": "Unique identifier for this block."
      },
      "GroupUuid": {
        "type": "string",
        "format": "uuid",
        "description": "Groups related blocks together. For standalone blocks, use the block's own uuid. For child blocks (e.g., dropdown options, multiple choice options), use the parent block's uuid so all children share the same groupUuid."
      },
      "IsHidden": {
        "type": "boolean",
        "description": "When true, hides the field from respondents. Hidden fields don't appear on the form but can be shown via conditional logic."
      },
      "IsFolded": {
        "type": "boolean",
        "description": "When true, collapses the question group in the form builder UI, hiding child blocks while showing a count indicator. Only applies to Title and Label blocks."
      },
      "IsRequired": {
        "type": "boolean",
        "description": "When true, the field must be filled out before the form can be submitted. Respondents will see a required indicator."
      },
      "HasDefaultAnswer": {
        "type": "boolean",
        "description": "When true, the field is pre-populated with the value from defaultAnswer when the form loads."
      },
      "HasMinCharacters": {
        "type": "boolean",
        "description": "Set to true to enable minCharacters validation. When true, minCharacters must be provided."
      },
      "MinCharacters": {
        "type": "number",
        "description": "The minimum number of characters allowed. Required when hasMinCharacters is true."
      },
      "HasMaxCharacters": {
        "type": "boolean",
        "description": "Set to true to enable maxCharacters validation. When true, maxCharacters must be provided."
      },
      "MaxCharacters": {
        "type": "number",
        "description": "The maximum number of characters allowed. Required when hasMaxCharacters is true."
      },
      "HasMinChoices": {
        "type": "boolean",
        "description": "Set to true to enable minChoices validation. When true, minChoices must be provided."
      },
      "MinChoices": {
        "type": "number",
        "minimum": 0,
        "description": "Minimum number of selections required. Required when hasMinChoices is true."
      },
      "HasMaxChoices": {
        "type": "boolean",
        "description": "Set to true to enable maxChoices validation. When true, maxChoices must be provided."
      },
      "MaxChoices": {
        "type": "number",
        "minimum": 0,
        "description": "Maximum number of selections allowed. Required when hasMaxChoices is true."
      },
      "OptionIndex": {
        "type": "number",
        "description": "Position of this option within the group (0-indexed)."
      },
      "IsFirstOption": {
        "type": "boolean",
        "description": "True if this is the first option in the group."
      },
      "IsLastOption": {
        "type": "boolean",
        "description": "True if this is the last option in the group."
      },
      "AllowMultiple": {
        "type": "boolean",
        "description": "Allow selecting multiple options. Only needs to be set on the first option in the group."
      },
      "ColorCodeOptions": {
        "type": "boolean",
        "description": "Enable color-coded options display. Only needs to be set on the first option in the group."
      },
      "OptionColor": {
        "type": "string",
        "enum": [
          "red",
          "orange",
          "yellow",
          "green",
          "blue",
          "purple",
          "pink",
          "gray"
        ],
        "description": "Color name for this option when colorCodeOptions is enabled."
      },
      "DefaultAnswerString": {
        "description": "The default value for this field. Can be either a raw string value or a Field reference to dynamically populate from another field's answer.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/Field"
          },
          {
            "type": "string"
          }
        ]
      },
      "DefaultAnswerNumber": {
        "description": "The default value for this field. Can be either a raw number value or a Field reference to dynamically populate from another field's answer.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/Field"
          },
          {
            "type": "number"
          }
        ]
      },
      "Button": {
        "type": "object",
        "description": "Customizes the button text for form navigation.",
        "properties": {
          "label": {
            "type": "string",
            "description": "The text displayed on the button (e.g., \"Start\", \"Next\", \"Submit\")."
          }
        }
      },
      "Name": {
        "type": "string",
        "description": "Optional identifier for this block. Can be used to reference the block in integrations or conditional logic."
      },
      "Html": {
        "type": "string",
        "description": "Rich text content. Supports basic formatting: bold, italic, underline, links, and mentions."
      },
      "EmbedProvider": {
        "type": "string",
        "description": "The name of the content provider. Auto-detected from the URL via oEmbed protocol or pattern matching. Common values include: YouTube, Loom, Twitch, Twitter, Canva, Google Maps, Imgur, JSFiddle, GitHub Gist, Video, Audio, Image, PDF. May also be any other oEmbed-supported provider."
      },
      "EmbedUrl": {
        "type": "string",
        "format": "uri",
        "description": "The URL of the content to embed. Supports video platforms (YouTube, Loom, Twitch, etc.) and audio platforms. The URL is used to auto-detect the provider and fetch embed data via oEmbed."
      },
      "FormSettings": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "maxLength": 12,
            "nullable": true
          },
          "isClosed": {
            "type": "boolean",
            "default": false
          },
          "closeMessageTitle": {
            "type": "string",
            "nullable": true
          },
          "closeMessageDescription": {
            "type": "string",
            "nullable": true
          },
          "closeTimezone": {
            "type": "string",
            "maxLength": 256,
            "nullable": true
          },
          "closeDate": {
            "type": "string",
            "maxLength": 12,
            "nullable": true
          },
          "closeTime": {
            "type": "string",
            "maxLength": 12,
            "nullable": true
          },
          "submissionsLimit": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "nullable": true
          },
          "uniqueSubmissionKey": {
            "type": "string",
            "nullable": true
          },
          "redirectOnCompletion": {
            "type": "string",
            "nullable": true
          },
          "hasSelfEmailNotifications": {
            "type": "boolean",
            "default": false
          },
          "selfEmailTo": {
            "type": "string",
            "nullable": true
          },
          "selfEmailReplyTo": {
            "type": "string",
            "nullable": true
          },
          "selfEmailSubject": {
            "type": "string",
            "nullable": true
          },
          "selfEmailFromName": {
            "type": "string",
            "nullable": true
          },
          "selfEmailBody": {
            "type": "string",
            "nullable": true
          },
          "hasRespondentEmailNotifications": {
            "type": "boolean",
            "default": false
          },
          "respondentEmailTo": {
            "type": "string",
            "nullable": true
          },
          "respondentEmailReplyTo": {
            "type": "string",
            "nullable": true
          },
          "respondentEmailSubject": {
            "type": "string",
            "nullable": true
          },
          "respondentEmailFromName": {
            "type": "string",
            "nullable": true
          },
          "respondentEmailBody": {
            "type": "string",
            "nullable": true
          },
          "hasProgressBar": {
            "type": "boolean",
            "default": false
          },
          "hasPartialSubmissions": {
            "type": "boolean",
            "default": false
          },
          "pageAutoJump": {
            "type": "boolean",
            "default": false
          },
          "saveForLater": {
            "type": "boolean",
            "default": true
          },
          "styles": {
            "type": "string",
            "nullable": true
          },
          "password": {
            "type": "string",
            "nullable": true
          },
          "submissionsDataRetentionDuration": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "nullable": true
          },
          "submissionsDataRetentionUnit": {
            "type": "string",
            "maxLength": 12,
            "nullable": true
          }
        }
      },
      "Form": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/FormStatus"
          },
          "numberOfSubmissions": {
            "type": "number"
          },
          "isClosed": {
            "type": "boolean"
          },
          "payments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "amount": {
                  "type": "number"
                },
                "currency": {
                  "type": "string"
                }
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "workspaceId",
          "status",
          "numberOfSubmissions",
          "isClosed",
          "createdAt",
          "updatedAt"
        ]
      },
      "Block": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/FormTitleBlock"
          },
          {
            "$ref": "#/components/schemas/TitleBlock"
          },
          {
            "$ref": "#/components/schemas/QuestionBlock"
          },
          {
            "$ref": "#/components/schemas/TextBlock"
          },
          {
            "$ref": "#/components/schemas/LabelBlock"
          },
          {
            "$ref": "#/components/schemas/Heading1Block"
          },
          {
            "$ref": "#/components/schemas/Heading2Block"
          },
          {
            "$ref": "#/components/schemas/Heading3Block"
          },
          {
            "$ref": "#/components/schemas/ImageBlock"
          },
          {
            "$ref": "#/components/schemas/EmbedBlock"
          },
          {
            "$ref": "#/components/schemas/EmbedVideoBlock"
          },
          {
            "$ref": "#/components/schemas/EmbedAudioBlock"
          },
          {
            "$ref": "#/components/schemas/DividerBlock"
          },
          {
            "$ref": "#/components/schemas/PageBreakBlock"
          },
          {
            "$ref": "#/components/schemas/InputTextBlock"
          },
          {
            "$ref": "#/components/schemas/TextareaBlock"
          },
          {
            "$ref": "#/components/schemas/InputNumberBlock"
          },
          {
            "$ref": "#/components/schemas/InputEmailBlock"
          },
          {
            "$ref": "#/components/schemas/InputLinkBlock"
          },
          {
            "$ref": "#/components/schemas/InputPhoneNumberBlock"
          },
          {
            "$ref": "#/components/schemas/InputDateBlock"
          },
          {
            "$ref": "#/components/schemas/InputTimeBlock"
          },
          {
            "$ref": "#/components/schemas/MultipleChoiceBlock"
          },
          {
            "$ref": "#/components/schemas/MultipleChoiceOptionBlock"
          },
          {
            "$ref": "#/components/schemas/CheckboxesBlock"
          },
          {
            "$ref": "#/components/schemas/CheckboxBlock"
          },
          {
            "$ref": "#/components/schemas/DropdownBlock"
          },
          {
            "$ref": "#/components/schemas/DropdownOptionBlock"
          },
          {
            "$ref": "#/components/schemas/RankingOptionBlock"
          },
          {
            "$ref": "#/components/schemas/MultiSelectBlock"
          },
          {
            "$ref": "#/components/schemas/MultiSelectOptionBlock"
          },
          {
            "$ref": "#/components/schemas/LinearScaleBlock"
          },
          {
            "$ref": "#/components/schemas/RatingBlock"
          },
          {
            "$ref": "#/components/schemas/MatrixBlock"
          },
          {
            "$ref": "#/components/schemas/MatrixRowBlock"
          },
          {
            "$ref": "#/components/schemas/MatrixColumnBlock"
          },
          {
            "$ref": "#/components/schemas/FileUploadBlock"
          },
          {
            "$ref": "#/components/schemas/SignatureBlock"
          },
          {
            "$ref": "#/components/schemas/PaymentBlock"
          },
          {
            "$ref": "#/components/schemas/WalletConnectBlock"
          },
          {
            "$ref": "#/components/schemas/HiddenFieldsBlock"
          },
          {
            "$ref": "#/components/schemas/ConditionalLogicBlock"
          },
          {
            "$ref": "#/components/schemas/CalculatedFieldsBlock"
          },
          {
            "$ref": "#/components/schemas/CaptchaBlock"
          },
          {
            "$ref": "#/components/schemas/RespondentCountryBlock"
          }
        ],
        "discriminator": {
          "propertyName": "type"
        }
      },
      "CalculatedField": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "$ref": "#/components/schemas/Name",
            "description": "Name your calculated field to easily retrieve it in calculations later on."
          },
          "type": {
            "$ref": "#/components/schemas/CalculatedFieldType"
          },
          "value": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "An initial value as a starting point of your calculation. This can be zero (for numbers) or left blank (for text)."
          }
        },
        "required": [
          "uuid",
          "name",
          "type",
          "value"
        ]
      },
      "HiddenField": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "$ref": "#/components/schemas/Name"
          }
        },
        "required": [
          "uuid"
        ]
      },
      "EventType": {
        "type": "string",
        "enum": [
          "FORM_RESPONSE"
        ]
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "fullName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "avatarUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "organizationId": {
            "type": "string"
          },
          "isDeleted": {
            "type": "boolean"
          },
          "hasTwoFactorEnabled": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "subscriptionPlan": {
            "type": "string",
            "enum": [
              "FREE",
              "PRO",
              "BUSINESS"
            ]
          }
        }
      },
      "Workspace": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "members": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User"
            }
          },
          "invites": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "workspaceIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "createdByUserId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "members",
          "invites",
          "createdByUserId",
          "createdAt",
          "updatedAt"
        ]
      },
      "Invite": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "email",
          "createdAt",
          "updatedAt"
        ]
      },
      "QuestionField": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "$ref": "#/components/schemas/BlockType"
          },
          "blockGroupUuid": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "Question": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/BlockType"
          },
          "title": {
            "type": "string"
          },
          "isTitleModifiedByUser": {
            "type": "boolean"
          },
          "formId": {
            "type": "string"
          },
          "isDeleted": {
            "type": "boolean"
          },
          "numberOfResponses": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QuestionField"
            }
          }
        }
      },
      "Field": {
        "type": "object",
        "description": "A reference to a form field, used to dynamically access another field's value (e.g., for default answers or mentions).",
        "properties": {
          "uuid": {
            "oneOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "$ref": "#/components/schemas/UtilityUuid"
              }
            ],
            "description": "Unique identifier of the referenced field. A UUID for regular fields, or a UtilityUuid value when type is UTILITY."
          },
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FieldType"
              }
            ],
            "description": "The category of field being referenced."
          },
          "questionType": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FieldQuestionType"
              }
            ],
            "description": "The block type of the referenced field."
          },
          "blockGroupUuid": {
            "oneOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "$ref": "#/components/schemas/UtilityUuid"
              }
            ],
            "description": "Identifier of the block group containing the referenced field. A UUID for regular fields, or a UtilityUuid value when type is UTILITY."
          },
          "title": {
            "type": "string",
            "description": "Display title of the referenced field."
          },
          "calculatedFieldType": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CalculatedFieldType"
              }
            ],
            "description": "For calculated fields, specifies whether the result is NUMBER or TEXT."
          },
          "payload": {
            "type": "object",
            "description": "Additional configuration for utility fields. Only present when type is UTILITY."
          }
        },
        "required": [
          "uuid",
          "type",
          "questionType",
          "blockGroupUuid"
        ]
      },
      "FieldType": {
        "type": "string",
        "description": "The category of a field reference.",
        "enum": [
          "INPUT_FIELD",
          "CALCULATED_FIELD",
          "HIDDEN_FIELD",
          "UTILITY"
        ]
      },
      "UtilityUuid": {
        "type": "string",
        "description": "Identifier used as uuid and blockGroupUuid for utility field references.",
        "enum": [
          "utility::today()"
        ]
      },
      "FieldQuestionType": {
        "type": "string",
        "description": "Block types that produce answer values and can be referenced as field sources.",
        "enum": [
          "INPUT_TEXT",
          "INPUT_NUMBER",
          "INPUT_EMAIL",
          "INPUT_LINK",
          "INPUT_PHONE_NUMBER",
          "INPUT_DATE",
          "INPUT_TIME",
          "TEXTAREA",
          "RATING",
          "LINEAR_SCALE",
          "CHECKBOX",
          "MULTIPLE_CHOICE_OPTION",
          "DROPDOWN_OPTION",
          "RANKING_OPTION",
          "MULTI_SELECT_OPTION",
          "HIDDEN_FIELDS",
          "CALCULATED_FIELDS"
        ]
      },
      "CalculatedFieldType": {
        "type": "string",
        "enum": [
          "NUMBER",
          "TEXT"
        ],
        "description": "Choose whether the value will be text or a numeric value (number)."
      },
      "Mention": {
        "type": "object",
        "description": "A dynamic placeholder that references another field's value. Used to personalize form content (e.g., \"Hello @name\").",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for this mention."
          },
          "field": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Field"
              }
            ],
            "description": "The field being referenced. Its value replaces the mention placeholder at runtime."
          },
          "defaultValue": {
            "description": "Fallback value displayed when the referenced field has no data.",
            "nullable": true
          }
        },
        "required": [
          "uuid",
          "field"
        ]
      },
      "BlockType": {
        "type": "string",
        "enum": [
          "FORM_TITLE",
          "TEXT",
          "LABEL",
          "TITLE",
          "HEADING_1",
          "HEADING_2",
          "HEADING_3",
          "DIVIDER",
          "PAGE_BREAK",
          "IMAGE",
          "EMBED",
          "EMBED_VIDEO",
          "EMBED_AUDIO",
          "QUESTION",
          "MATRIX",
          "INPUT_TEXT",
          "INPUT_NUMBER",
          "INPUT_EMAIL",
          "INPUT_LINK",
          "INPUT_PHONE_NUMBER",
          "INPUT_DATE",
          "INPUT_TIME",
          "TEXTAREA",
          "FILE_UPLOAD",
          "LINEAR_SCALE",
          "RATING",
          "HIDDEN_FIELDS",
          "MULTIPLE_CHOICE_OPTION",
          "CHECKBOX",
          "DROPDOWN_OPTION",
          "RANKING_OPTION",
          "MULTI_SELECT_OPTION",
          "PAYMENT",
          "SIGNATURE",
          "MATRIX_ROW",
          "MATRIX_COLUMN",
          "WALLET_CONNECT",
          "CONDITIONAL_LOGIC",
          "CALCULATED_FIELDS",
          "CAPTCHA",
          "RESPONDENT_COUNTRY"
        ]
      },
      "DisableDays": {
        "type": "string",
        "description": "Days or date ranges to disable in the date picker.",
        "enum": [
          "IN_THE_PAST",
          "IN_THE_FUTURE",
          "MONDAYS",
          "TUESDAYS",
          "WEDNESDAYS",
          "THURSDAYS",
          "FRIDAYS",
          "SATURDAYS",
          "SUNDAYS"
        ]
      },
      "DecimalSeparator": {
        "type": "string",
        "enum": [
          "COMMA",
          "DOT"
        ]
      },
      "ThousandsSeparator": {
        "type": "string",
        "enum": [
          "COMMA",
          "DOT",
          "SPACE",
          "NONE"
        ]
      },
      "NumberFormat": {
        "type": "string",
        "enum": [
          "NUMBER",
          "CURRENCY",
          "PERCENTAGE"
        ]
      },
      "Currency": {
        "type": "string",
        "enum": [
          "USD",
          "EUR",
          "GBP",
          "CAD",
          "AUD",
          "JPY",
          "CNY",
          "INR"
        ]
      },
      "AllowedFiles": {
        "type": "object",
        "description": "Allowed file types for upload. Keys are MIME type categories, values are arrays of file extensions or ['*'] for all types in that category.",
        "properties": {
          "image/*": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                ".jpg",
                ".jpeg",
                ".png",
                ".gif",
                ".svg",
                ".heic",
                ".webp",
                ".bmp",
                ".psd"
              ]
            },
            "description": "Image file extensions or ['*'] for all image types."
          },
          "video/*": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                ".mp4",
                ".mov",
                ".webm"
              ]
            },
            "description": "Video file extensions or ['*'] for all video types."
          },
          "audio/*": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                ".mp3",
                ".wav",
                ".m4a"
              ]
            },
            "description": "Audio file extensions or ['*'] for all audio types."
          },
          "text/*": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                ".txt",
                ".csv",
                ".html",
                ".xml"
              ]
            },
            "description": "Text file extensions or ['*'] for all text types."
          },
          "application/*": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                ".pdf",
                ".doc",
                ".docx",
                ".xls",
                ".xlsx",
                ".ppt",
                ".pptx",
                ".zip",
[...]
