{
  "openapi": "3.0.3",
  "info": {
    "title": "SignEasy API",
    "version": "v3",
    "description": "SignEasy API for electronic signature workflows including document upload, envelope creation, signing, templates, and embedded signing experiences.",
    "x-jentic-source-url": "https://docs.signeasy.com"
  },
  "servers": [
    {
      "url": "https://api.signeasy.com/v3"
    }
  ],
  "paths": {
    "/user": {
      "get": {
        "operationId": "getUser",
        "summary": "Fetch user",
        "description": "Fetch user details including account information and envelope credits.",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "User details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/originals": {
      "post": {
        "operationId": "uploadOriginal",
        "summary": "Upload an original document",
        "description": "Upload an original document to the platform.",
        "tags": [
          "Originals"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The document file to upload"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Original"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listOriginals",
        "summary": "Fetch all originals",
        "description": "Fetch all original documents.",
        "tags": [
          "Originals"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of original documents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OriginalsListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/originals/{id}": {
      "get": {
        "operationId": "getOriginal",
        "summary": "Fetch an original",
        "description": "Fetch an original document by ID.",
        "tags": [
          "Originals"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Original document identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Original document details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Original"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteOriginal",
        "summary": "Delete an original",
        "description": "Delete an original document.",
        "tags": [
          "Originals"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Original document identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document deleted successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/envelopes": {
      "post": {
        "operationId": "createEnvelope",
        "summary": "Create or send an envelope",
        "description": "Create or send an envelope for signature collection.",
        "tags": [
          "Envelopes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEnvelopeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Envelope created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listEnvelopes",
        "summary": "Fetch all envelopes",
        "description": "Fetch all envelopes with filtering options.",
        "tags": [
          "Envelopes"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of envelopes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvelopesListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/envelopes/{id}": {
      "get": {
        "operationId": "getEnvelope",
        "summary": "Fetch an envelope",
        "description": "Fetch an envelope details and current status.",
        "tags": [
          "Envelopes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Envelope identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/envelopes/{id}/remind": {
      "post": {
        "operationId": "remindSigners",
        "summary": "Remind pending signers",
        "description": "Remind pending signers of a signature request.",
        "tags": [
          "Envelopes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Envelope identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reminders sent successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/envelopes/{id}/cancel": {
      "post": {
        "operationId": "cancelEnvelope",
        "summary": "Cancel a signature request",
        "description": "Cancel a signature request.",
        "tags": [
          "Envelopes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Envelope identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope cancelled successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/signed_envelopes": {
      "get": {
        "operationId": "listSignedEnvelopes",
        "summary": "Fetch all signed envelopes",
        "description": "Fetch all signed envelopes.",
        "tags": [
          "Signed Envelopes"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of signed envelopes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignedEnvelopesListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/signed_envelopes/{id}": {
      "get": {
        "operationId": "getSignedEnvelope",
        "summary": "Fetch a signed envelope",
        "description": "Fetch a signed envelope with completed signatures.",
        "tags": [
          "Signed Envelopes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Signed envelope identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signed envelope details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignedEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/signed_envelopes/{id}/download": {
      "get": {
        "operationId": "downloadSignedEnvelope",
        "summary": "Download a signed envelope",
        "description": "Download a signed envelope as PDF.",
        "tags": [
          "Signed Envelopes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Signed envelope identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signed document PDF",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/signed_envelopes/{id}/certificate": {
      "get": {
        "operationId": "downloadCertificate",
        "summary": "Download certificate",
        "description": "Download the certificate of a signed envelope.",
        "tags": [
          "Signed Envelopes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Signed envelope identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Certificate document",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/embedded_sending_url": {
      "post": {
        "operationId": "getEmbeddedSendingUrl",
        "summary": "Fetch embedded sending URL",
        "description": "Fetch embedded sending URL for in-app document preparation.",
        "tags": [
          "Embedded"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbeddedUrlRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Embedded sending URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddedUrlResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/embedded_signing_url": {
      "post": {
        "operationId": "getEmbeddedSigningUrl",
        "summary": "Fetch embedded signing URL",
        "description": "Fetch embedded signing URL for recipient signature interface.",
        "tags": [
          "Embedded"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbeddedSigningUrlRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Embedded signing URL (valid for 1 hour)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddedUrlResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/templates": {
      "post": {
        "operationId": "uploadTemplate",
        "summary": "Upload a template",
        "description": "Upload a template for reusable signature workflows.",
        "tags": [
          "Templates"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Template document file"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/templates/{id}": {
      "get": {
        "operationId": "getTemplate",
        "summary": "Fetch a template",
        "description": "Fetch a template by identifier.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Template identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateTemplate",
        "summary": "Update a template",
        "description": "Update template with modifications.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Template identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteTemplate",
        "summary": "Delete a template",
        "description": "Delete a template.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Template identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template deleted successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "User identifier"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "User email"
          },
          "name": {
            "type": "string",
            "description": "User name"
          },
          "envelope_credits_available": {
            "type": "integer",
            "description": "Available envelope credits"
          },
          "envelope_credits_consumed": {
            "type": "integer",
            "description": "Consumed envelope credits"
          },
          "grace_credits": {
            "type": "integer",
            "description": "Grace credits available"
          }
        }
      },
      "Original": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Document identifier"
          },
          "name": {
            "type": "string",
            "description": "Document name"
          },
          "status": {
            "type": "string",
            "description": "Document status"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          }
        }
      },
      "OriginalsListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Original"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "CreateEnvelopeRequest": {
        "type": "object",
        "properties": {
          "original_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "IDs of original documents to include"
          },
          "recipients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Recipient"
            },
            "description": "Signature recipients"
          },
          "message": {
            "type": "string",
            "description": "Message to include with the signature request"
          },
          "subject": {
            "type": "string",
            "description": "Subject line for the signature request"
          }
        }
      },
      "Recipient": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Recipient email"
          },
          "name": {
            "type": "string",
            "description": "Recipient name"
          },
          "order": {
            "type": "integer",
            "description": "Signing order"
          }
        }
      },
      "Envelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Envelope identifier"
          },
          "status": {
            "type": "string",
            "description": "Envelope status"
          },
          "recipients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Recipient"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EnvelopesListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Envelope"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "SignedEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Signed envelope identifier"
          },
          "envelope_id": {
            "type": "integer",
            "description": "Original envelope identifier"
          },
          "status": {
            "type": "string",
            "description": "Signed envelope status"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "description": "Completion timestamp"
          },
          "signers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Recipient"
            }
          }
        }
      },
      "SignedEnvelopesListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SignedEnvelope"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "EmbeddedUrlRequest": {
        "type": "object",
        "properties": {
          "original_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "IDs of documents for embedded sending"
          },
          "redirect_url": {
            "type": "string",
            "description": "URL to redirect after sending"
          }
        }
      },
      "EmbeddedSigningUrlRequest": {
        "type": "object",
        "properties": {
          "envelope_id": {
            "type": "integer",
            "description": "Envelope identifier"
          },
          "recipient_email": {
            "type": "string",
            "format": "email",
            "description": "Email of the recipient to sign"
          },
          "redirect_url": {
            "type": "string",
            "description": "URL to redirect after signing"
          }
        }
      },
      "EmbeddedUrlResponse": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "Temporary URL (valid for 1 hour)"
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Template identifier"
          },
          "name": {
            "type": "string",
            "description": "Template name"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UpdateTemplateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Template name"
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Template field definitions"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "string",
            "description": "Error code"
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authorization",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.signeasy.com/oauth2/authorize",
            "tokenUrl": "https://api.signeasy.com/oauth2/token",
            "scopes": {}
          }
        }
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token from OAuth 2.0 flow"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}