{
  "openapi": "3.0.3",
  "info": {
    "title": "Stannp Direct Mail API",
    "description": "API for sending direct mail (postcards, letters), managing recipients, groups, and campaigns through the Stannp platform.",
    "version": "1.0.0",
    "contact": {
      "name": "Stannp",
      "url": "https://www.stannp.com"
    },
    "x-jentic-source-url": "https://www.stannp.com/uk/direct-mail-api"
  },
  "servers": [
    {
      "url": "https://api-eu1.stannp.com/v1",
      "description": "Stannp EU Production API"
    }
  ],
  "security": [
    {
      "apiKeyQuery": []
    },
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/user/info": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get user account information",
        "operationId": "getUserInfo",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        },
        "description": "Get user account information"
      }
    },
    "/recipients/list": {
      "get": {
        "tags": [
          "Recipients"
        ],
        "summary": "List recipients",
        "operationId": "listRecipients",
        "parameters": [
          {
            "name": "group_id",
            "in": "query",
            "description": "Filter by group ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination limit",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List recipients"
      }
    },
    "/recipients/get/{id}": {
      "get": {
        "tags": [
          "Recipients"
        ],
        "summary": "Get a single recipient",
        "operationId": "getRecipient",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Recipient not found"
          }
        },
        "description": "Get a single recipient"
      }
    },
    "/recipients/new": {
      "post": {
        "tags": [
          "Recipients"
        ],
        "summary": "Create a new recipient",
        "operationId": "createRecipient",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "group_id",
                  "address1",
                  "city",
                  "postcode",
                  "country"
                ],
                "properties": {
                  "group_id": {
                    "type": "integer",
                    "description": "Target group ID"
                  },
                  "firstname": {
                    "type": "string"
                  },
                  "lastname": {
                    "type": "string"
                  },
                  "address1": {
                    "type": "string"
                  },
                  "address2": {
                    "type": "string"
                  },
                  "address3": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "postcode": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string",
                    "description": "ISO 3166-1 Alpha 2 code"
                  },
                  "email": {
                    "type": "string"
                  },
                  "phone_number": {
                    "type": "string"
                  },
                  "on_duplicate": {
                    "type": "string",
                    "enum": [
                      "update",
                      "ignore",
                      "duplicate"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recipient created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a new recipient"
      }
    },
    "/recipients/delete": {
      "post": {
        "tags": [
          "Recipients"
        ],
        "summary": "Delete a recipient",
        "operationId": "deleteRecipient",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recipient deleted"
          }
        },
        "description": "Delete a recipient"
      }
    },
    "/recipients/import": {
      "post": {
        "tags": [
          "Recipients"
        ],
        "summary": "Import recipients from a data file",
        "operationId": "importRecipients",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file",
                  "group_id"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "CSV or XLS file"
                  },
                  "group_id": {
                    "type": "integer"
                  },
                  "duplicates": {
                    "type": "string"
                  },
                  "no_headings": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Import successful"
          }
        },
        "description": "Import recipients from a data file"
      }
    },
    "/groups/list": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "List all groups",
        "operationId": "listGroups",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "description": "List all groups"
      }
    },
    "/groups/new": {
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Create a new group",
        "operationId": "createGroup",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group created"
          }
        },
        "description": "Create a new group"
      }
    },
    "/groups/add/{group_id}": {
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Add recipients to a group",
        "operationId": "addRecipientsToGroup",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "recipients"
                ],
                "properties": {
                  "recipients": {
                    "type": "string",
                    "description": "Comma-separated recipient IDs"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recipients added"
          }
        },
        "description": "Add recipients to a group"
      }
    },
    "/groups/remove/{group_id}": {
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Remove recipients from a group",
        "operationId": "removeRecipientsFromGroup",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "recipients"
                ],
                "properties": {
                  "recipients": {
                    "type": "string",
                    "description": "Comma-separated recipient IDs"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recipients removed"
          }
        },
        "description": "Remove recipients from a group"
      }
    },
    "/groups/purge": {
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Purge a group",
        "operationId": "purgeGroup",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "delete_recipients": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group purged"
          }
        },
        "description": "Purge a group"
      }
    },
    "/groups/delete": {
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Delete a group",
        "operationId": "deleteGroup",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "delete_recipients": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group deleted"
          }
        },
        "description": "Delete a group"
      }
    },
    "/groups/calculate/{group_id}": {
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Recalculate a group",
        "operationId": "recalculateGroup",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group recalculated"
          }
        },
        "description": "Recalculate a group"
      }
    },
    "/postcards/create": {
      "post": {
        "tags": [
          "Postcards"
        ],
        "summary": "Create and send a single postcard",
        "operationId": "createPostcard",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "size",
                  "recipient"
                ],
                "properties": {
                  "test": {
                    "type": "boolean",
                    "description": "Generate sample PDF without dispatch"
                  },
                  "size": {
                    "type": "string",
                    "enum": [
                      "A6",
                      "A5",
                      "A5-ENV"
                    ]
                  },
                  "recipient": {
                    "type": "string",
                    "description": "Existing recipient ID or JSON object with recipient details"
                  },
                  "template": {
                    "type": "integer",
                    "description": "Pre-configured template ID"
                  },
                  "message": {
                    "type": "string",
                    "description": "Back-of-card message"
                  },
                  "front": {
                    "type": "string",
                    "format": "binary",
                    "description": "Front image (JPG or PDF)"
                  },
                  "back": {
                    "type": "string",
                    "format": "binary",
                    "description": "Back image (JPG or PDF)"
                  },
                  "padding": {
                    "type": "integer",
                    "description": "Border control (0 removes default white border)"
                  },
                  "post_unverified": {
                    "type": "boolean"
                  },
                  "clearzone": {
                    "type": "boolean"
                  },
                  "tags": {
                    "type": "string",
                    "description": "Comma-separated reference tags"
                  },
                  "addons": {
                    "type": "string",
                    "description": "Upgrade codes e.g. FIRST_CLASS"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Postcard created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailpieceResponse"
                }
              }
            }
          }
        },
        "description": "Create and send a single postcard"
      }
    },
    "/postcards/get/{id}": {
      "get": {
        "tags": [
          "Postcards"
        ],
        "summary": "Get a single postcard",
        "operationId": "getPostcard",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailpieceResponse"
                }
              }
            }
          }
        },
        "description": "Get a single postcard"
      }
    },
    "/postcards/cancel": {
      "post": {
        "tags": [
          "Postcards"
        ],
        "summary": "Cancel a postcard",
        "operationId": "cancelPostcard",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Postcard cancelled"
          }
        },
        "description": "Cancel a postcard"
      }
    },
    "/letters/create": {
      "post": {
        "tags": [
          "Letters"
        ],
        "summary": "Create and send a single letter",
        "operationId": "createLetter",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "recipient"
                ],
                "properties": {
                  "test": {
                    "type": "boolean",
                    "description": "Generate sample PDF without dispatch"
                  },
                  "recipient": {
                    "type": "string",
                    "description": "Existing recipient ID or JSON object with recipient details"
                  },
                  "template": {
                    "type": "integer",
                    "description": "Pre-configured template ID"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "PDF/DOC file (max 10 pages)"
                  },
                  "duplex": {
                    "type": "boolean",
                    "description": "Double-sided printing",
                    "default": true
                  },
                  "clearzone": {
                    "type": "boolean",
                    "default": true
                  },
                  "post_unverified": {
                    "type": "boolean",
                    "default": true
                  },
                  "tags": {
                    "type": "string"
                  },
                  "addons": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Letter created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailpieceResponse"
                }
              }
            }
          }
        },
        "description": "Create and send a single letter"
      }
    },
    "/letters/post": {
      "post": {
        "tags": [
          "Letters"
        ],
        "summary": "Post an already mail-merged letter",
        "operationId": "postLetter",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "country"
                ],
                "properties": {
                  "test": {
                    "type": "boolean"
                  },
                  "country": {
                    "type": "string",
                    "description": "ISO alpha-2 code"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Pre-merged PDF"
                  },
                  "duplex": {
                    "type": "boolean",
                    "default": true
                  },
                  "transactional": {
                    "type": "boolean"
                  },
                  "tags": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Letter posted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailpieceResponse"
                }
              }
            }
          }
        },
        "description": "Post an already mail-merged letter"
      }
    },
    "/letters/get/{id}": {
      "get": {
        "tags": [
          "Letters"
        ],
        "summary": "Get a single letter",
        "operationId": "getLetter",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailpieceResponse"
                }
              }
            }
          }
        },
        "description": "Get a single letter"
      }
    },
    "/letters/cancel": {
      "post": {
        "tags": [
          "Letters"
        ],
        "summary": "Cancel a letter",
        "operationId": "cancelLetter",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Letter cancelled"
          }
        },
        "description": "Cancel a letter"
      }
    },
    "/campaigns/list": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "List all campaigns",
        "operationId": "listCampaigns",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "description": "List all campaigns"
      }
    },
    "/campaigns/get/{id}": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get a single campaign",
        "operationId": "getCampaign",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "description": "Get a single campaign"
      }
    },
    "/campaigns/create": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Create a new campaign",
        "operationId": "createCampaign",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "type",
                  "group_id"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "a6-postcard",
                      "a5-postcard",
                      "letter"
                    ]
                  },
                  "template_id": {
                    "type": "integer"
                  },
                  "group_id": {
                    "type": "integer"
                  },
                  "what_recipients": {
                    "type": "string",
                    "enum": [
                      "all",
                      "valid",
                      "not_valid"
                    ]
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "front": {
                    "type": "string",
                    "format": "binary"
                  },
                  "back": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign created"
          }
        },
        "description": "Create a new campaign"
      }
    },
    "/campaigns/sample": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Produce a campaign sample PDF",
        "operationId": "campaignSample",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sample PDF URL returned"
          }
        },
        "description": "Produce a campaign sample PDF"
      }
    },
    "/campaigns/approve": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Approve a campaign",
        "operationId": "approveCampaign",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign approved"
          }
        },
        "description": "Approve a campaign"
      }
    },
    "/campaigns/cost": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get campaign cost breakdown",
        "operationId": "campaignCost",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cost breakdown returned"
          }
        },
        "description": "Get campaign cost breakdown"
      }
    },
    "/campaigns/availableDates": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get available booking dates",
        "operationId": "campaignAvailableDates",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "start": {
                    "type": "string",
                    "format": "date",
                    "description": "YYYY-mm-dd format"
                  },
                  "end": {
                    "type": "string",
                    "format": "date",
                    "description": "YYYY-mm-dd format"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Available dates returned"
          }
        },
        "description": "Get available booking dates"
      }
    },
    "/campaigns/book": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Book a campaign for dispatch",
        "operationId": "bookCampaign",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "send_date"
                ],
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "send_date": {
                    "type": "string",
                    "format": "date"
                  },
                  "next_available_date": {
                    "type": "boolean",
                    "default": true
                  },
                  "use_balance": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign booked"
          }
        },
        "description": "Book a campaign for dispatch"
      }
    },
    "/campaigns/delete": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Delete a campaign",
        "operationId": "deleteCampaign",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign deleted"
          }
        },
        "description": "Delete a campaign"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key"
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "schemas": {
      "ApiResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "MailpieceResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "pdf": {
                "type": "string",
                "format": "uri"
              },
              "created": {
                "type": "string",
                "format": "date-time"
              },
              "format": {
                "type": "string"
              },
              "cost": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Campaigns"
    },
    {
      "name": "Groups"
    },
    {
      "name": "Letters"
    },
    {
      "name": "Postcards"
    },
    {
      "name": "Recipients"
    },
    {
      "name": "User"
    }
  ]
}
