{
  "openapi": "3.0.3",
  "info": {
    "title": "Re-Leased API",
    "version": "1.0.0",
    "description": "Re-Leased is a property management API for managing accounts, companies, contacts, credit notes, invoices, inspections, and maintenance records.",
    "x-jentic-source-url": "https://api.re-leased.com/"
  },
  "servers": [
    {
      "url": "https://api.re-leased.com"
    }
  ],
  "paths": {
    "/api/accounts": {
      "get": {
        "operationId": "listAccounts",
        "summary": "Retrieve accounts list",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "Account list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/companies": {
      "get": {
        "operationId": "listCompanies",
        "summary": "Retrieve all companies",
        "tags": [
          "Companies"
        ],
        "responses": {
          "200": {
            "description": "Company list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/companies/{id}": {
      "get": {
        "operationId": "getCompany",
        "summary": "Retrieve single company",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company details"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/contacts": {
      "get": {
        "operationId": "listContacts",
        "summary": "Retrieve contacts",
        "tags": [
          "Contacts"
        ],
        "responses": {
          "200": {
            "description": "Contact list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createContact",
        "summary": "Create a contact",
        "tags": [
          "Contacts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateContact",
        "summary": "Update a contact",
        "tags": [
          "Contacts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/credit-notes": {
      "get": {
        "operationId": "listCreditNotes",
        "summary": "Retrieve credit notes",
        "tags": [
          "Credit Notes"
        ],
        "responses": {
          "200": {
            "description": "Credit note list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createCreditNote",
        "summary": "Create credit note",
        "tags": [
          "Credit Notes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateCreditNote",
        "summary": "Update credit note",
        "tags": [
          "Credit Notes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/credit-notes/{id}": {
      "get": {
        "operationId": "getCreditNote",
        "summary": "Retrieve single credit note",
        "tags": [
          "Credit Notes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credit note details"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/credit-notes/{id}/allocations": {
      "post": {
        "operationId": "allocateCreditNote",
        "summary": "Allocate credit note",
        "tags": [
          "Credit Notes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Allocated"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "unallocateCreditNote",
        "summary": "Un-allocate credit note",
        "tags": [
          "Credit Notes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Un-allocated"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "healthCheck",
        "summary": "Health check",
        "tags": [
          "System"
        ],
        "responses": {
          "200": {
            "description": "Healthy"
          }
        }
      }
    },
    "/api/Inspections": {
      "get": {
        "operationId": "listInspections",
        "summary": "Retrieve inspections",
        "tags": [
          "Inspections"
        ],
        "responses": {
          "200": {
            "description": "Inspection list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createInspection",
        "summary": "Create inspection",
        "tags": [
          "Inspections"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateInspection",
        "summary": "Update inspection",
        "tags": [
          "Inspections"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/invoices": {
      "get": {
        "operationId": "listInvoices",
        "summary": "Retrieve invoices",
        "tags": [
          "Invoices"
        ],
        "responses": {
          "200": {
            "description": "Invoice list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createInvoice",
        "summary": "Create invoice",
        "tags": [
          "Invoices"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateInvoice",
        "summary": "Update invoice",
        "tags": [
          "Invoices"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/invoices/{id}": {
      "get": {
        "operationId": "getInvoice",
        "summary": "Retrieve single invoice",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice details"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/Maintenance": {
      "get": {
        "operationId": "listMaintenance",
        "summary": "Retrieve maintenance list",
        "tags": [
          "Maintenance"
        ],
        "responses": {
          "200": {
            "description": "Maintenance list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.re-leased.com/authorise",
            "tokenUrl": "https://api.re-leased.com/token",
            "scopes": {}
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ]
}