{
  "openapi": "3.0.3",
  "info": {
    "title": "Storm Glass API",
    "description": "Global marine weather data from multiple sources. Provides weather, bio, tide, astronomy, and elevation data for any point on the globe.",
    "version": "2.0.0",
    "contact": {
      "name": "Storm Glass",
      "url": "https://stormglass.io"
    },
    "x-jentic-source-url": "https://stormglass.io/"
  },
  "servers": [
    {
      "url": "https://api.stormglass.io/v2",
      "description": "Storm Glass API v2"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Weather",
      "description": "Weather and marine data from multiple sources"
    },
    {
      "name": "Bio",
      "description": "Biological and ocean chemistry data"
    },
    {
      "name": "Tide",
      "description": "Tide data including extremes and sea level"
    },
    {
      "name": "Astronomy",
      "description": "Sunrise, sunset, moonrise, moonset data"
    },
    {
      "name": "Elevation",
      "description": "Elevation data for coordinates"
    }
  ],
  "paths": {
    "/weather/point": {
      "get": {
        "operationId": "getWeatherPoint",
        "summary": "Get weather data for a point",
        "description": "Retrieve weather data from multiple sources for a given coordinate. Returns data from various weather models which can be averaged or used individually.",
        "tags": ["Weather"],
        "parameters": [
          {
            "$ref": "#/components/parameters/LatParam"
          },
          {
            "$ref": "#/components/parameters/LngParam"
          },
          {
            "name": "params",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of weather parameters to retrieve (e.g., airTemperature,pressure,humidity,windSpeed,windDirection,cloudCover,precipitation,swellHeight,swellDirection,swellPeriod,waveHeight,waveDirection,wavePeriod,waterTemperature,currentSpeed,currentDirection,visibility,gust,seaLevel)",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/StartParam"
          },
          {
            "$ref": "#/components/parameters/EndParam"
          },
          {
            "name": "source",
            "in": "query",
            "description": "Comma-separated list of data sources to use (e.g., sg,noaa,dwd,smhi,yr,meteo)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with weather data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WeatherPointResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required - API quota exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bio/point": {
      "get": {
        "operationId": "getBioPoint",
        "summary": "Get biological ocean data for a point",
        "description": "Retrieve biological and ocean chemistry data including chlorophyll, iron, nitrate, oxygen, pH, phytoplankton, phosphate, salinity, silicate, and soil moisture.",
        "tags": ["Bio"],
        "parameters": [
          {
            "$ref": "#/components/parameters/LatParam"
          },
          {
            "$ref": "#/components/parameters/LngParam"
          },
          {
            "name": "params",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of biological parameters (e.g., chlorophyll,iron,nitrate,oxygen,ph,phytoplankton,phosphate,salinity,silicate,soilMoisture,soilTemperature)",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/StartParam"
          },
          {
            "$ref": "#/components/parameters/EndParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with biological data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BioPointResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tide/extremes/point": {
      "get": {
        "operationId": "getTideExtremes",
        "summary": "Get tide extreme data",
        "description": "Retrieve high and low tide data for a given coordinate.",
        "tags": ["Tide"],
        "parameters": [
          {
            "$ref": "#/components/parameters/LatParam"
          },
          {
            "$ref": "#/components/parameters/LngParam"
          },
          {
            "$ref": "#/components/parameters/StartParam"
          },
          {
            "$ref": "#/components/parameters/EndParam"
          },
          {
            "name": "datum",
            "in": "query",
            "description": "Datum to use for tide calculations (e.g., MSL, MLLW, LAT)",
            "schema": {
              "type": "string",
              "default": "MSL"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with tide extremes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TideExtremesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tide/sea-level/point": {
      "get": {
        "operationId": "getTideSeaLevel",
        "summary": "Get sea level data",
        "description": "Retrieve hourly sea level data for a given coordinate.",
        "tags": ["Tide"],
        "parameters": [
          {
            "$ref": "#/components/parameters/LatParam"
          },
          {
            "$ref": "#/components/parameters/LngParam"
          },
          {
            "$ref": "#/components/parameters/StartParam"
          },
          {
            "$ref": "#/components/parameters/EndParam"
          },
          {
            "name": "datum",
            "in": "query",
            "description": "Datum to use for sea level calculations",
            "schema": {
              "type": "string",
              "default": "MSL"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with sea level data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TideSeaLevelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tide/station/area": {
      "get": {
        "operationId": "getTideStationsArea",
        "summary": "List tide stations in area",
        "description": "Retrieve a list of tide stations within a specified bounding box.",
        "tags": ["Tide"],
        "parameters": [
          {
            "name": "box",
            "in": "query",
            "required": true,
            "description": "Bounding box as topRight_lat,topRight_lng:bottomLeft_lat,bottomLeft_lng",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with tide stations list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TideStationsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/astronomy/point": {
      "get": {
        "operationId": "getAstronomyPoint",
        "summary": "Get astronomy data for a point",
        "description": "Retrieve sunrise, sunset, moonrise, moonset, dawn, dusk, and other astronomical data.",
        "tags": ["Astronomy"],
        "parameters": [
          {
            "$ref": "#/components/parameters/LatParam"
          },
          {
            "$ref": "#/components/parameters/LngParam"
          },
          {
            "$ref": "#/components/parameters/StartParam"
          },
          {
            "$ref": "#/components/parameters/EndParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with astronomy data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AstronomyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/elevation/point": {
      "get": {
        "operationId": "getElevationPoint",
        "summary": "Get elevation data for a point",
        "description": "Retrieve elevation data for a given coordinate.",
        "tags": ["Elevation"],
        "parameters": [
          {
            "$ref": "#/components/parameters/LatParam"
          },
          {
            "$ref": "#/components/parameters/LngParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with elevation data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ElevationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key for authentication. Pass your API key in the Authorization header."
      }
    },
    "parameters": {
      "LatParam": {
        "name": "lat",
        "in": "query",
        "required": true,
        "description": "Latitude of the point",
        "schema": {
          "type": "number",
          "format": "float",
          "minimum": -90,
          "maximum": 90
        }
      },
      "LngParam": {
        "name": "lng",
        "in": "query",
        "required": true,
        "description": "Longitude of the point",
        "schema": {
          "type": "number",
          "format": "float",
          "minimum": -180,
          "maximum": 180
        }
      },
      "StartParam": {
        "name": "start",
        "in": "query",
        "description": "Start time as UNIX timestamp or ISO 8601 string",
        "schema": {
          "type": "string"
        }
      },
      "EndParam": {
        "name": "end",
        "in": "query",
        "description": "End time as UNIX timestamp or ISO 8601 string",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string",
                "description": "Error identifier"
              },
              "message": {
                "type": "string",
                "description": "Error message"
              }
            }
          }
        }
      },
      "WeatherDataPoint": {
        "type": "object",
        "description": "A single weather data point with values from multiple sources",
        "additionalProperties": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "source": {
                "type": "string",
                "description": "Data source name"
              },
              "value": {
                "type": "number",
                "description": "Data value"
              }
            }
          }
        },
        "properties": {
          "time": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the data point"
          }
        }
      },
      "WeatherPointResponse": {
        "type": "object",
        "properties": {
          "hours": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WeatherDataPoint"
            },
            "description": "Array of hourly weather data points"
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "BioDataPoint": {
        "type": "object",
        "description": "A single biological data point",
        "additionalProperties": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "source": {
                "type": "string"
              },
              "value": {
                "type": "number"
              }
            }
          }
        },
        "properties": {
          "time": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BioPointResponse": {
        "type": "object",
        "properties": {
          "hours": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BioDataPoint"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "TideExtremesResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "height": {
                  "type": "number",
                  "description": "Tide height in meters"
                },
                "time": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Time of the extreme"
                },
                "type": {
                  "type": "string",
                  "description": "Type of extreme (high or low)",
                  "enum": ["high", "low"]
                }
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "TideSeaLevelResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "sg": {
                  "type": "number",
                  "description": "Sea level value in meters"
                },
                "time": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "TideStationsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Station identifier"
                },
                "name": {
                  "type": "string",
                  "description": "Station name"
                },
                "lat": {
                  "type": "number",
                  "description": "Station latitude"
                },
                "lng": {
                  "type": "number",
                  "description": "Station longitude"
                },
                "source": {
                  "type": "string",
                  "description": "Data source"
                }
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "AstronomyResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "time": {
                  "type": "string",
                  "format": "date-time"
                },
                "astronomicalDawn": {
                  "type": "string",
                  "format": "date-time"
                },
                "astronomicalDusk": {
                  "type": "string",
                  "format": "date-time"
                },
                "civilDawn": {
                  "type": "string",
                  "format": "date-time"
                },
                "civilDusk": {
                  "type": "string",
                  "format": "date-time"
                },
                "moonFraction": {
                  "type": "number",
                  "description": "Moon illumination fraction"
                },
                "moonPhase": {
                  "type": "object",
                  "properties": {
                    "closest": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string"
                        },
                        "time": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "value": {
                          "type": "number"
                        }
                      }
                    },
                    "current": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string"
                        },
                        "time": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "value": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "moonrise": {
                  "type": "string",
                  "format": "date-time"
                },
                "moonset": {
                  "type": "string",
                  "format": "date-time"
                },
                "nauticalDawn": {
                  "type": "string",
                  "format": "date-time"
                },
                "nauticalDusk": {
                  "type": "string",
                  "format": "date-time"
                },
                "sunrise": {
                  "type": "string",
                  "format": "date-time"
                },
                "sunset": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "ElevationResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "elevation": {
                "type": "number",
                "description": "Elevation in meters above sea level"
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "ResponseMeta": {
        "type": "object",
        "properties": {
          "cost": {
            "type": "integer",
            "description": "API request cost in credits"
          },
          "dailyQuota": {
            "type": "integer",
            "description": "Total daily quota"
          },
          "end": {
            "type": "string",
            "description": "End time of requested data"
          },
          "lat": {
            "type": "number",
            "description": "Latitude used"
          },
          "lng": {
            "type": "number",
            "description": "Longitude used"
          },
          "params": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Parameters requested"
          },
          "requestCount": {
            "type": "integer",
            "description": "Number of requests made today"
          },
          "start": {
            "type": "string",
            "description": "Start time of requested data"
          }
        }
      }
    }
  }
}
