{
  "openapi": "3.0.3",
  "info": {
    "title": "Mendeley API",
    "version": "1.0.0",
    "description": "Mendeley API provides programmatic access to Mendeley's reference management platform. Manage documents, annotations, files, folders, and collaborate via groups.",
    "x-jentic-source-url": "https://api.mendeley.com/apidocs"
  },
  "servers": [
    {
      "url": "https://api.mendeley.com",
      "description": "Mendeley production API"
    }
  ],
  "paths": {
    "/documents": {
      "get": {
        "operationId": "listDocuments",
        "summary": "List documents in user library",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "view",
            "in": "query",
            "description": "View type (bib, client, tags, all)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profile_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modified_since",
            "in": "query",
            "description": "ISO 8601 timestamp",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "deleted_since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of documents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Document"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      },
      "post": {
        "operationId": "createDocument",
        "summary": "Create a new document",
        "tags": [
          "Documents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Document created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    },
    "/documents/{id}": {
      "get": {
        "operationId": "getDocument",
        "summary": "Retrieve a document",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication required"
          },
          "404": {
            "description": "Document not found"
          }
        }
      },
      "patch": {
        "operationId": "updateDocument",
        "summary": "Update a document",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      },
      "delete": {
        "operationId": "deleteDocument",
        "summary": "Permanently delete a document",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Document deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication required"
          },
          "404": {
            "description": "Document not found"
          }
        }
      }
    },
    "/documents/{id}/trash": {
      "post": {
        "operationId": "trashDocument",
        "summary": "Move document to trash",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Document trashed"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication required"
          },
          "404": {
            "description": "Document not found"
          }
        }
      }
    },
    "/annotations": {
      "get": {
        "operationId": "listAnnotations",
        "summary": "List annotations",
        "tags": [
          "Annotations"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "document_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modified_since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "deleted_since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "marker",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of annotations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Annotation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      },
      "post": {
        "operationId": "createAnnotation",
        "summary": "Create a new annotation",
        "tags": [
          "Annotations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Annotation"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Annotation created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Annotation"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    },
    "/annotations/{id}": {
      "patch": {
        "operationId": "updateAnnotation",
        "summary": "Update an annotation",
        "tags": [
          "Annotations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Annotation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Annotation updated"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      },
      "delete": {
        "operationId": "deleteAnnotation",
        "summary": "Delete an annotation",
        "tags": [
          "Annotations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Annotation deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication required"
          },
          "404": {
            "description": "Annotation not found"
          }
        }
      }
    },
    "/catalog": {
      "get": {
        "operationId": "searchCatalog",
        "summary": "Search catalog by identifier",
        "tags": [
          "Catalog"
        ],
        "parameters": [
          {
            "name": "doi",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "arxiv",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isbn",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "issn",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pmid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scopus",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filehash",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CatalogDocument"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    },
    "/catalog/{id}": {
      "get": {
        "operationId": "getCatalogDocument",
        "summary": "Retrieve a catalog document",
        "tags": [
          "Catalog"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog document details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogDocument"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication required"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/search/catalog": {
      "get": {
        "operationId": "searchCatalogByQuery",
        "summary": "Search catalog documents",
        "tags": [
          "Catalog"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "author",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_year",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "max_year",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "open_access",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CatalogDocument"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    },
    "/files": {
      "get": {
        "operationId": "listFiles",
        "summary": "List files in library",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "document_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "added_since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "deleted_since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of files",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/File"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      },
      "post": {
        "operationId": "uploadFile",
        "summary": "Upload a file",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "Content-Disposition",
            "in": "header",
            "required": true,
            "description": "Filename for the upload",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Link",
            "in": "header",
            "required": true,
            "description": "Link to associated document",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "File uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    },
    "/files/{id}": {
      "get": {
        "operationId": "downloadFile",
        "summary": "Download a file",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "303": {
            "description": "Redirect to file download URL"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication required"
          },
          "404": {
            "description": "File not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteFile",
        "summary": "Delete a file",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "File deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication required"
          },
          "404": {
            "description": "File not found"
          }
        }
      }
    },
    "/folders": {
      "get": {
        "operationId": "listFolders",
        "summary": "List folders",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "marker",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of folders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Folder"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      },
      "post": {
        "operationId": "createFolder",
        "summary": "Create a folder",
        "tags": [
          "Folders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Folder created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    },
    "/folders/{id}": {
      "patch": {
        "operationId": "updateFolder",
        "summary": "Update a folder",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "parent_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Folder updated"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      },
      "delete": {
        "operationId": "deleteFolder",
        "summary": "Delete a folder",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Folder deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication required"
          },
          "404": {
            "description": "Folder not found"
          }
        }
      }
    },
    "/folders/{id}/documents": {
      "get": {
        "operationId": "listFolderDocuments",
        "summary": "List documents in a folder",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of documents in folder",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Document"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      },
      "post": {
        "operationId": "addDocumentToFolder",
        "summary": "Add a document to a folder",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Document ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Document added to folder"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    },
    "/folders/{id}/documents/{documentId}": {
      "delete": {
        "operationId": "removeDocumentFromFolder",
        "summary": "Remove a document from a folder",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Document removed from folder"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    },
    "/academic_statuses": {
      "get": {
        "operationId": "listAcademicStatuses",
        "summary": "List all academic statuses",
        "tags": [
          "Reference Data"
        ],
        "responses": {
          "200": {
            "description": "List of academic statuses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    },
    "/disciplines": {
      "get": {
        "operationId": "listDisciplines",
        "summary": "List all disciplines and subdisciplines",
        "tags": [
          "Reference Data"
        ],
        "responses": {
          "200": {
            "description": "List of disciplines",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "subdisciplines": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    },
    "/metadata": {
      "get": {
        "operationId": "lookupMetadata",
        "summary": "Find best matching catalog entry by metadata",
        "tags": [
          "Catalog"
        ],
        "parameters": [
          {
            "name": "doi",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "arxiv",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pmid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filehash",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authors",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching catalog document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogDocument"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Document": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "Document type (journal, book, etc.)"
          },
          "authors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "first_name": {
                  "type": "string"
                },
                "last_name": {
                  "type": "string"
                }
              }
            }
          },
          "year": {
            "type": "integer"
          },
          "source": {
            "type": "string"
          },
          "identifiers": {
            "type": "object",
            "properties": {
              "doi": {
                "type": "string"
              },
              "isbn": {
                "type": "string"
              },
              "issn": {
                "type": "string"
              },
              "pmid": {
                "type": "string"
              }
            }
          },
          "abstract": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "last_modified": {
            "type": "string",
            "format": "date-time"
          },
          "profile_id": {
            "type": "string"
          },
          "group_id": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "pages": {
            "type": "string"
          },
          "volume": {
            "type": "string"
          },
          "issue": {
            "type": "string"
          },
          "websites": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "DocumentCreate": {
        "type": "object",
        "required": [
          "title",
          "type"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "authors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "first_name": {
                  "type": "string"
                },
                "last_name": {
                  "type": "string"
                }
              }
            }
          },
          "year": {
            "type": "integer"
          },
          "source": {
            "type": "string"
          },
          "abstract": {
            "type": "string"
          },
          "identifiers": {
            "type": "object",
            "properties": {
              "doi": {
                "type": "string"
              },
              "isbn": {
                "type": "string"
              },
              "issn": {
                "type": "string"
              },
              "pmid": {
                "type": "string"
              }
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CatalogDocument": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "authors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "first_name": {
                  "type": "string"
                },
                "last_name": {
                  "type": "string"
                }
              }
            }
          },
          "year": {
            "type": "integer"
          },
          "source": {
            "type": "string"
          },
          "identifiers": {
            "type": "object"
          },
          "link": {
            "type": "string"
          }
        }
      },
      "Annotation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "Annotation type (highlight, note, etc.)"
          },
          "text": {
            "type": "string"
          },
          "document_id": {
            "type": "string"
          },
          "positions": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "color": {
            "type": "object"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "last_modified": {
            "type": "string",
            "format": "date-time"
          },
          "profile_id": {
            "type": "string"
          }
        }
      },
      "File": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "document_id": {
            "type": "string"
          },
          "mime_type": {
            "type": "string"
          },
          "file_name": {
            "type": "string"
          },
          "size": {
            "type": "integer"
          },
          "filehash": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Folder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "parent_id": {
            "type": "string",
            "nullable": true
          },
          "group_id": {
            "type": "string",
            "nullable": true
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "modified": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authentication",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.mendeley.com/oauth/authorize",
            "tokenUrl": "https://api.mendeley.com/oauth/token",
            "scopes": {
              "all": "Full access to user's Mendeley data"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": [
        "all"
      ]
    }
  ],
  "tags": [
    {
      "name": "Academic Statuses"
    },
    {
      "name": "Annotations"
    },
    {
      "name": "Catalog"
    },
    {
      "name": "Disciplines"
    },
    {
      "name": "Documents"
    },
    {
      "name": "Files"
    },
    {
      "name": "Folders"
    },
    {
      "name": "Metadata"
    },
    {
      "name": "Search"
    }
  ]
}