{
  "openapi": "3.0.3",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0",
    "x-jentic-source-url": "https://lapis.cov-spectrum.org/open/v2/api-docs",
    "description": "OpenAPI definition provides programmatic access to component, query, sample resources."
  },
  "servers": [
    {
      "url": "https://lapis.cov-spectrum.org/open/v2",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/sample/unalignedNucleotideSequences": {
      "get": {
        "tags": [
          "single-segmented-sequence-controller"
        ],
        "description": "Returns a string of unaligned nucleotide sequences. Only sequences matching the \n    specified sequence filters are considered.",
        "operationId": "getUnalignedNucleotideSequences",
        "parameters": [
          {
            "name": "sequenceFilters",
            "in": "query",
            "description": "Valid filters for sequence data. This may be empty. Only provide the fields that should be filtered by.",
            "required": false,
            "style": "form",
            "schema": {
              "$ref": "#/components/schemas/SequenceFilters"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "The parts of the fasta header to order by. By default, only the primary key and 'random' are allowed. The other fields are only allowed if they are part of the 'fastaHeaderTemplate'.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/NucleotideSequencesOrderByFields"
            }
          },
          {
            "name": "nucleotideMutations",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/NucleotideMutations"
            }
          },
          {
            "name": "aminoAcidMutations",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AminoAcidMutations"
            }
          },
          {
            "name": "nucleotideInsertions",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/NucleotideInsertions"
            }
          },
          {
            "name": "aminoAcidInsertions",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AminoAcidInsertions"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of entries to return in the response",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset of the first entry to return in the response. \n    This is useful for pagination in combination with \\\"limit\\\".",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Offset"
            }
          },
          {
            "name": "dataFormat",
            "in": "query",
            "description": "The format of the sequences in the response.\nAlternatively, the data format can be specified by setting the \\\"Accept\\\"-header.\nWhen both are specified, the request parameter takes precedence over the header.\n",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SequencesDataFormat"
            }
          },
          {
            "name": "fastaHeaderTemplate",
            "in": "query",
            "description": "Use this to customize the header of the FASTA file.\nThis parameter will be ignored if the data format is not FASTA.\nIt supports free-form text, placeholders of the form \"{<metadataField>}\" to include metadata fields in the header and\n\"the keyword {.segment}\" to include the segment name in the header.\n",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/NucleotideFastaHeaderTemplate"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
            "required": false,
            "content": {
              "text/plain": {
                "schema": {}
              }
            }
          },
          {
            "name": "downloadAsFile",
            "in": "query",
            "description": "\nSet to true to make your browser trigger a download instead of showing the response content by setting the\n'Content-Disposition' header to 'attachment'.\n",
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "\nSet to true to make your browser trigger a download instead of showing the response content by setting the\n'Content-Disposition' header to 'attachment'.\n"
            }
          },
          {
            "name": "downloadFileBasename",
            "in": "query",
            "description": "\nSpecify the download file basename, for example, specifying 'myFile' will result in a file named 'myFile.json' \n(when no compression is selected). \nThis parameter only takes effect when 'downloadAsFile' is set to true.\n",
            "schema": {
              "type": "string",
              "description": "\nSpecify the download file basename, for example, specifying 'myFile' will result in a file named 'myFile.json' \n(when no compression is selected). \nThis parameter only takes effect when 'downloadAsFile' is set to true.\n"
            }
          },
          {
            "name": "compression",
            "in": "query",
            "description": "\nOptionally set this to return the response compressed in the specified format.\nAlternatively, you can set the 'Accept-Encoding' header to the respective value.\n",
            "schema": {
              "type": "string",
              "description": "\nOptionally set this to return the response compressed in the specified format.\nAlternatively, you can set the 'Accept-Encoding' header to the respective value.\n",
              "enum": [
                "gzip",
                "zstd"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Request-ID": {
                "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "Lapis-Data-Version": {
                "description": "The data version of data in SILO. Same as the value returned in the info object in the response body.",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NucleotideSequencesResponse"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "$ref": "#/components/schemas/NucleotideSequencesResponse",
                  "description": "An NDJSON stream of nucleotide sequences. The schema is to be understood per line"
                }
              },
              "text/x-fasta": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LapisErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "single-segmented-sequence-controller"
        ],
        "description": "Returns a string of unaligned nucleotide sequences. Only sequences matching the \n    specified sequence filters are considered.",
        "operationId": "postUnalignedNucleotideSequence",
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
            "required": false,
            "content": {
              "text/plain": {
                "schema": {}
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NucleotideSequenceRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/NucleotideSequenceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Request-ID": {
                "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "Lapis-Data-Version": {
                "description": "The data version of data in SILO. Same as the value returned in the info object in the response body.",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NucleotideSequencesResponse"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "$ref": "#/components/schemas/NucleotideSequencesResponse",
                  "description": "An NDJSON stream of nucleotide sequences. The schema is to be understood per line"
                }
              },
              "text/x-fasta": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LapisErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sample/phyloSubtree": {
      "get": {
        "tags": [
          "lapis-controller"
        ],
        "description": "Returns the phylogenetic subtree of sequences matching the filter.\n    If sequences included in the filter do not exist in the phylogenetic tree they are ignored.",
        "operationId": "getPhyloSubtreeAsNewick",
        "parameters": [
          {
            "name": "sequenceFilters",
            "in": "query",
            "description": "Valid filters for sequence data. This may be empty. Only provide the fields that should be filtered by.",
            "required": false,
            "style": "form",
            "schema": {
              "$ref": "#/components/schemas/SequenceFilters"
            }
          },
          {
            "name": "phyloTreeField",
            "in": "query",
            "description": "The field that contains the node labels in the phylogenetic tree.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/PhyloTreeField"
            }
          },
          {
            "name": "nucleotideMutations",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/NucleotideMutations"
            }
          },
          {
            "name": "aminoAcidMutations",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AminoAcidMutations"
            }
          },
          {
            "name": "dataFormat",
            "in": "query",
            "description": "The format of the phylogenetic tree in the response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/TreeDataFormat"
            }
          },
          {
            "name": "nucleotideInsertions",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/NucleotideInsertions"
            }
          },
          {
            "name": "aminoAcidInsertions",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AminoAcidInsertions"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
            "required": false,
            "content": {
              "text/plain": {
                "schema": {}
              }
            }
          },
          {
            "name": "downloadAsFile",
            "in": "query",
            "description": "\nSet to true to make your browser trigger a download instead of showing the response content by setting the\n'Content-Disposition' header to 'attachment'.\n",
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "\nSet to true to make your browser trigger a download instead of showing the response content by setting the\n'Content-Disposition' header to 'attachment'.\n"
            }
          },
          {
            "name": "downloadFileBasename",
            "in": "query",
            "description": "\nSpecify the download file basename, for example, specifying 'myFile' will result in a file named 'myFile.json' \n(when no compression is selected). \nThis parameter only takes effect when 'downloadAsFile' is set to true.\n",
            "schema": {
              "type": "string",
              "description": "\nSpecify the download file basename, for example, specifying 'myFile' will result in a file named 'myFile.json' \n(when no compression is selected). \nThis parameter only takes effect when 'downloadAsFile' is set to true.\n"
            }
          },
          {
            "name": "compression",
            "in": "query",
            "description": "\nOptionally set this to return the response compressed in the specified format.\nAlternatively, you can set the 'Accept-Encoding' header to the respective value.\n",
            "schema": {
              "type": "string",
              "description": "\nOptionally set this to return the response compressed in the specified format.\nAlternatively, you can set the 'Accept-Encoding' header to the respective value.\n",
              "enum": [
                "gzip",
                "zstd"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the phylogenetic subtree of sequences matching the filter.\n    If sequences included in the filter do not exist in the phylogenetic tree they are ignored.",
            "headers": {
              "X-Request-ID": {
                "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "Lapis-Data-Version": {
                "description": "The data version of data in SILO. Same as the value returned in the info object in the response body.",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/x-nh": {
                "example": "(seq1:3,(seq2:2,seq3:1)node2:1)node1:1;"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LapisErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "lapis-controller"
        ],
        "operationId": "postPhyloSubtreeAsNewick",
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
            "required": false,
            "content": {
              "text/plain": {
                "schema": {}
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhyloSubtreeRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PhyloSubtreeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the phylogenetic subtree of sequences matching the filter.\n    If sequences included in the filter do not exist in the phylogenetic tree they are ignored.",
            "headers": {
              "X-Request-ID": {
                "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "Lapis-Data-Version": {
                "description": "The data version of data in SILO. Same as the value returned in the info object in the response body.",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/x-nh": {
                "example": "(seq1:3,(seq2:2,seq3:1)node2:1)node1:1;"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LapisErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sample/nucleotideMutations": {
      "get": {
        "tags": [
          "lapis-controller"
        ],
        "description": "Returns the number of sequences matching the specified sequence filters, grouped by nucleotide mutations.\n    Additionally, the relative frequency of each mutation is returned. It is relative to the total number of sequences \n    matching the specified sequence filters with non-ambiguous reads at that position.",
        "operationId": "getNucleotideMutationsAsCsv",
        "parameters": [
          {
            "name": "sequenceFilters",
            "in": "query",
            "description": "Valid filters for sequence data. This may be empty. Only provide the fields that should be filtered by.",
            "required": false,
            "style": "form",
            "schema": {
              "$ref": "#/components/schemas/SequenceFilters"
            }
          },
          {
            "name": "nucleotideMutations",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/NucleotideMutations"
            }
          },
          {
            "name": "aminoAcidMutations",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AminoAcidMutations"
            }
          },
          {
            "name": "minProportion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double",
              "default": 0.05
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "\nThe fields of the response to order by.\nYou can also use \\\"random\\\" or \\\"random(SEED)\\\" where SEED is an integer.\n",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/MutationsOrderByFields"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of entries to return in the response",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset of the first entry to return in the response. \n    This is useful for pagination in combination with \\\"limit\\\".",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Offset"
            }
          },
          {
            "name": "nucleotideInsertions",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/NucleotideInsertions"
            }
          },
          {
            "name": "aminoAcidInsertions",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AminoAcidInsertions"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "The fields that the response items should contain.\nIf empty, all fields are returned.\nIf requesting CSV or TSV data, the columns are ordered in the same order as the fields are specified here.\n",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/MutationsFields"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
            "required": false,
            "content": {
              "text/plain": {
                "schema": {}
              }
            }
          },
          {
            "name": "dataFormat",
            "in": "query",
            "description": "The data format of the response.\nAlternatively, the data format can be specified by setting the \\\"Accept\\\"-header.\nYou can include the parameter to return the CSV/TSV without headers: \"text/csv;headers=false\". \nWhen both are specified, the request parameter takes precedence over the header.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/DataFormat"
            }
          },
          {
            "name": "downloadAsFile",
            "in": "query",
            "description": "\nSet to true to make your browser trigger a download instead of showing the response content by setting the\n'Content-Disposition' header to 'attachment'.\n",
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "\nSet to true to make your browser trigger a download instead of showing the response content by setting the\n'Content-Disposition' header to 'attachment'.\n"
            }
          },
          {
            "name": "downloadFileBasename",
            "in": "query",
            "description": "\nSpecify the download file basename, for example, specifying 'myFile' will result in a file named 'myFile.json' \n(when no compression is selected). \nThis parameter only takes effect when 'downloadAsFile' is set to true.\n",
            "schema": {
              "type": "string",
              "description": "\nSpecify the download file basename, for example, specifying 'myFile' will result in a file named 'myFile.json' \n(when no compression is selected). \nThis parameter only takes effect when 'downloadAsFile' is set to true.\n"
            }
          },
          {
            "name": "compression",
            "in": "query",
            "description": "\nOptionally set this to return the response compressed in the specified format.\nAlternatively, you can set the 'Accept-Encoding' header to the respective value.\n",
            "schema": {
              "type": "string",
              "description": "\nOptionally set this to return the response compressed in the specified format.\nAlternatively, you can set the 'Accept-Encoding' header to the respective value.\n",
              "enum": [
                "gzip",
                "zstd"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the number of sequences matching the specified sequence filters, grouped by nucleotide mutations.\n    Additionally, the relative frequency of each mutation is returned. It is relative to the total number of sequences \n    matching the specified sequence filters with non-ambiguous reads at that position.",
            "headers": {
              "X-Request-ID": {
                "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "Lapis-Data-Version": {
                "description": "The data version of data in SILO. Same as the value returned in the info object in the response body.",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NucleotideMutationsResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              },
              "text/tab-separated-values": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LapisErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "lapis-controller"
        ],
        "description": "Returns the number of sequences matching the specified sequence filters, grouped by nucleotide mutations.\n    Additionally, the relative frequency of each mutation is returned. It is relative to the total number of sequences \n    matching the specified sequence filters with non-ambiguous reads at that position.",
        "operationId": "postNucleotideMutations",
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
            "required": false,
            "content": {
              "text/plain": {
                "schema": {}
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SequenceFiltersWithMinProportion"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SequenceFiltersWithMinProportion"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the number of sequences matching the specified sequence filters, grouped by nucleotide mutations.\n    Additionally, the relative frequency of each mutation is returned. It is relative to the total number of sequences \n    matching the specified sequence filters with non-ambiguous reads at that position.",
            "headers": {
              "X-Request-ID": {
                "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "Lapis-Data-Version": {
                "description": "The data version of data in SILO. Same as the value returned in the info object in the response body.",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NucleotideMutationsResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              },
              "text/tab-separated-values": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LapisErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sample/nucleotideInsertions": {
      "get": {
        "tags": [
          "lapis-controller"
        ],
        "description": "Returns the number of sequences matching the specified sequence filters, grouped by nucleotide insertions.",
        "operationId": "getNucleotideInsertionsAsCsv",
        "parameters": [
          {
            "name": "sequenceFilters",
            "in": "query",
            "description": "Valid filters for sequence data. This may be empty. Only provide the fields that should be filtered by.",
            "required": false,
            "style": "form",
            "schema": {
              "$ref": "#/components/schemas/SequenceFilters"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "\nThe fields of the response to order by.\nYou can also use \\\"random\\\" or \\\"random(SEED)\\\" where SEED is an integer.\n",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/InsertionsOrderByFields"
            }
          },
          {
            "name": "nucleotideMutations",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/NucleotideMutations"
            }
          },
          {
            "name": "aminoAcidMutations",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AminoAcidMutations"
            }
          },
          {
            "name": "nucleotideInsertions",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/NucleotideInsertions"
            }
          },
          {
            "name": "aminoAcidInsertions",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AminoAcidInsertions"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of entries to return in the response",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset of the first entry to return in the response. \n    This is useful for pagination in combination with \\\"limit\\\".",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Offset"
            }
          },
          {
            "name": "dataFormat",
            "in": "query",
            "description": "The data format of the response.\nAlternatively, the data format can be specified by setting the \\\"Accept\\\"-header.\nYou can include the parameter to return the CSV/TSV without headers: \"text/csv;headers=false\". \nWhen both are specified, the request parameter takes precedence over the header.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/DataFormat"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
            "required": false,
            "content": {
              "text/plain": {
                "schema": {}
              }
            }
          },
          {
            "name": "downloadAsFile",
            "in": "query",
            "description": "\nSet to true to make your browser trigger a download instead of showing the response content by setting the\n'Content-Disposition' header to 'attachment'.\n",
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "\nSet to true to make your browser trigger a download instead of showing the response content by setting the\n'Content-Disposition' header to 'attachment'.\n"
            }
          },
          {
            "name": "downloadFileBasename",
            "in": "query",
            "description": "\nSpecify the download file basename, for example, specifying 'myFile' will result in a file named 'myFile.json' \n(when no compression is selected). \nThis parameter only takes effect when 'downloadAsFile' is set to true.\n",
            "schema": {
              "type": "string",
              "description": "\nSpecify the download file basename, for example, specifying 'myFile' will result in a file named 'myFile.json' \n(when no compression is selected). \nThis parameter only takes effect when 'downloadAsFile' is set to true.\n"
            }
          },
          {
            "name": "compression",
            "in": "query",
            "description": "\nOptionally set this to return the response compressed in the specified format.\nAlternatively, you can set the 'Accept-Encoding' header to the respective value.\n",
            "schema": {
              "type": "string",
              "description": "\nOptionally set this to return the response compressed in the specified format.\nAlternatively, you can set the 'Accept-Encoding' header to the respective value.\n",
              "enum": [
                "gzip",
                "zstd"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the number of sequences matching the specified sequence filters, grouped by nucleotide insertions.",
            "headers": {
              "X-Request-ID": {
                "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "Lapis-Data-Version": {
                "description": "The data version of data in SILO. Same as the value returned in the info object in the response body.",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NucleotideInsertionsResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              },
              "text/tab-separated-values": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LapisErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "lapis-controller"
        ],
        "description": "Returns the number of sequences matching the specified sequence filters, grouped by nucleotide insertions.",
        "operationId": "postNucleotideInsertions",
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
            "required": false,
            "content": {
              "text/plain": {
                "schema": {}
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InsertionsRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/InsertionsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the number of sequences matching the specified sequence filters, grouped by nucleotide insertions.",
            "headers": {
              "X-Request-ID": {
                "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "Lapis-Data-Version": {
                "description": "The data version of data in SILO. Same as the value returned in the info object in the response body.",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NucleotideInsertionsResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              },
              "text/tab-separated-values": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LapisErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sample/mostRecentCommonAncestor": {
      "get": {
        "tags": [
          "lapis-controller"
        ],
        "description": "Returns the most recent common ancestor of sequences matching the filter.\n    If sequences included in the filter do not exist in the phylogenetic tree they are ignored and the count \n    is added to the field missingNodeCount. To include these sequences in the response set the `printNodesNotInTree`\n     parameter to true.",
        "operationId": "getMostRecentCommonAncestorAsCsv",
        "parameters": [
          {
            "name": "sequenceFilters",
            "in": "query",
            "description": "Valid filters for sequence data. This may be empty. Only provide the fields that should be filtered by.",
            "required": false,
            "style": "form",
            "schema": {
              "$ref": "#/components/schemas/SequenceFilters"
            }
          },
          {
            "name": "phyloTreeField",
            "in": "query",
            "description": "The field that contains the node labels in the phylogenetic tree.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/PhyloTreeField"
            }
          },
          {
            "name": "printNodesNotInTree",
            "in": "query",
            "description": "If true, the response will include a comma separated list of nodes that fit the filter criteria \n    but are not present in the phylogenetic tree. The field \\\"missingNodeCount\\\" will contain the number of \n    sequences that were not included in the phylogenetic tree.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "nucleotideMutations",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/NucleotideMutations"
            }
          },
          {
            "name": "aminoAcidMutations",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AminoAcidMutations"
            }
          },
          {
            "name": "dataFormat",
            "in": "query",
            "description": "The data format of the response.\nAlternatively, the data format can be specified by setting the \\\"Accept\\\"-header.\nYou can include the parameter to return the CSV/TSV without headers: \"text/csv;headers=false\". \nWhen both are specified, the request parameter takes precedence over the header.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/DataFormat"
            }
          },
          {
            "name": "nucleotideInsertions",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/NucleotideInsertions"
            }
          },
          {
            "name": "aminoAcidInsertions",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AminoAcidInsertions"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
            "required": false,
            "content": {
              "text/plain": {
                "schema": {}
              }
            }
          },
          {
            "name": "downloadAsFile",
            "in": "query",
            "description": "\nSet to true to make your browser trigger a download instead of showing the response content by setting the\n'Content-Disposition' header to 'attachment'.\n",
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "\nSet to true to make your browser trigger a download instead of showing the response content by setting the\n'Content-Disposition' header to 'attachment'.\n"
            }
          },
          {
            "name": "downloadFileBasename",
            "in": "query",
            "description": "\nSpecify the download file basename, for example, specifying 'myFile' will result in a file named 'myFile.json' \n(when no compression is selected). \nThis parameter only takes effect when 'downloadAsFile' is set to true.\n",
            "schema": {
              "type": "string",
              "description": "\nSpecify the download file basename, for example, specifying 'myFile' will result in a file named 'myFile.json' \n(when no compression is selected). \nThis parameter only takes effect when 'downloadAsFile' is set to true.\n"
            }
          },
          {
            "name": "compression",
            "in": "query",
            "description": "\nOptionally set this to return the response compressed in the specified format.\nAlternatively, you can set the 'Accept-Encoding' header to the respective value.\n",
            "schema": {
              "type": "string",
              "description": "\nOptionally set this to return the response compressed in the specified format.\nAlternatively, you can set the 'Accept-Encoding' header to the respective value.\n",
              "enum": [
                "gzip",
                "zstd"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the most recent common ancestor of sequences matching the filter.\n    If sequences included in the filter do not exist in the phylogenetic tree they are ignored and the count \n    is added to the field missingNodeCount. To include these sequences in the response set the `printNodesNotInTree`\n     parameter to true.",
            "headers": {
              "X-Request-ID": {
                "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "Lapis-Data-Version": {
                "description": "The data version of data in SILO. Same as the value returned in the info object in the response body.",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MostRecentCommonAncestorResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              },
              "text/tab-separated-values": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LapisErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "lapis-controller"
        ],
        "description": "Returns the most recent common ancestor of sequences matching the filter.\n    If sequences included in the filter do not exist in the phylogenetic tree they are ignored and the count \n    is added to the field missingNodeCount. To include these sequences in the response set the `printNodesNotInTree`\n     parameter to true.",
        "operationId": "postMostRecentCommonAncestor",
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
            "required": false,
            "content": {
              "text/plain": {
                "schema": {}
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MostRecentCommonAncestorRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/MostRecentCommonAncestorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the most recent common ancestor of sequences matching the filter.\n    If sequences included in the filter do not exist in the phylogenetic tree they are ignored and the count \n    is added to the field missingNodeCount. To include these sequences in the response set the `printNodesNotInTree`\n     parameter to true.",
            "headers": {
              "X-Request-ID": {
                "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "Lapis-Data-Version": {
                "description": "The data version of data in SILO. Same as the value returned in the info object in the response body.",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MostRecentCommonAncestorResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              },
              "text/tab-separated-values": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LapisErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sample/details": {
      "get": {
        "tags": [
          "lapis-controller"
        ],
        "description": "Returns the specified metadata fields of sequences matching the filter.",
        "operationId": "getDetailsAsCsv",
        "parameters": [
          {
            "name": "sequenceFilters",
            "in": "query",
            "description": "Valid filters for sequence data. This may be empty. Only provide the fields that should be filtered by.",
            "required": false,
            "style": "form",
            "schema": {
              "$ref": "#/components/schemas/SequenceFilters"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "The fields that the response items should contain.\nIf empty, all fields are returned.\nIf requesting CSV or TSV data, the columns are ordered in the same order as the fields are specified here.\n",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/DetailsFields"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "The fields of the response to order by. Fields specified here must also be present in \\\"fields\\\".\n    You can also use \\\"random\\\" or \\\"random(SEED)\\\" where SEED is an integer.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/DetailsOrderByFields"
            }
          },
          {
            "name": "nucleotideMutations",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/NucleotideMutations"
            }
          },
          {
            "name": "aminoAcidMutations",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AminoAcidMutations"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of entries to return in the response",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset of the first entry to return in the response. \n    This is useful for pagination in combination with \\\"limit\\\".",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Offset"
            }
          },
          {
            "name": "nucleotideInsertions",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/NucleotideInsertions"
            }
          },
          {
            "name": "aminoAcidInsertions",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AminoAcidInsertions"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
            "required": false,
            "content": {
              "text/plain": {
                "schema": {}
              }
            }
          },
          {
            "name": "dataFormat",
            "in": "query",
            "description": "The data format of the response.\nAlternatively, the data format can be specified by setting the \\\"Accept\\\"-header.\nYou can include the parameter to return the CSV/TSV without headers: \"text/csv;headers=false\". \nWhen both are specified, the request parameter takes precedence over the header.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/DataFormat"
            }
          },
          {
            "name": "downloadAsFile",
            "in": "query",
            "description": "\nSet to true to make your browser trigger a download instead of showing the response content by setting the\n'Content-Disposition' header to 'attachment'.\n",
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "\nSet to true to make your browser trigger a download instead of showing the response content by setting the\n'Content-Disposition' header to 'attachment'.\n"
            }
          },
          {
            "name": "downloadFileBasename",
            "in": "query",
            "description": "\nSpecify the download file basename, for example, specifying 'myFile' will result in a file named 'myFile.json' \n(when no compression is selected). \nThis parameter only takes effect when 'downloadAsFile' is set to true.\n",
            "schema": {
              "type": "string",
              "description": "\nSpecify the download file basename, for example, specifying 'myFile' will result in a file named 'myFile.json' \n(when no compression is selected). \nThis parameter only takes effect when 'downloadAsFile' is set to true.\n"
            }
          },
          {
            "name": "compression",
            "in": "query",
            "description": "\nOptionally set this to return the response compressed in the specified format.\nAlternatively, you can set the 'Accept-Encoding' header to the respective value.\n",
            "schema": {
              "type": "string",
              "description": "\nOptionally set this to return the response compressed in the specified format.\nAlternatively, you can set the 'Accept-Encoding' header to the respective value.\n",
              "enum": [
                "gzip",
                "zstd"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the specified metadata fields of sequences matching the filter.",
            "headers": {
              "X-Request-ID": {
                "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "Lapis-Data-Version": {
                "description": "The data version of data in SILO. Same as the value returned in the info object in the response body.",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetailsResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              },
              "text/tab-separated-values": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LapisErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "lapis-controller"
        ],
        "description": "Returns the specified metadata fields of sequences matching the filter.",
        "operationId": "postDetails",
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
            "required": false,
            "content": {
              "text/plain": {
                "schema": {}
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DetailsPostRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/DetailsPostRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the specified metadata fields of sequences matching the filter.",
            "headers": {
              "X-Request-ID": {
                "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "Lapis-Data-Version": {
                "description": "The data version of data in SILO. Same as the value returned in the info object in the response body.",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetailsResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              },
              "text/tab-separated-values": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LapisErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sample/aminoAcidMutations": {
      "get": {
        "tags": [
          "lapis-controller"
        ],
        "description": "Returns the number of sequences matching the specified sequence filters, grouped by amino acid mutations. \n    Additionally, the relative frequency of each mutation is returned. It is relative to the total number of sequences\n    matching the specified sequence filters with non-ambiguous reads at that position.",
        "operationId": "getAminoAcidMutationsAsCsv",
        "parameters": [
          {
            "name": "sequenceFilters",
            "in": "query",
            "description": "Valid filters for sequence data. This may be empty. Only provide the fields that should be filtered by.",
            "required": false,
            "style": "form",
            "schema": {
              "$ref": "#/components/schemas/SequenceFilters"
            }
          },
          {
            "name": "nucleotideMutations",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/NucleotideMutations"
            }
          },
          {
            "name": "aminoAcidMutations",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AminoAcidMutations"
            }
          },
          {
            "name": "minProportion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double",
              "default": 0.05
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "\nThe fields of the response to order by.\nYou can also use \\\"random\\\" or \\\"random(SEED)\\\" where SEED is an integer.\n",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/MutationsOrderByFields"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of entries to return in the response",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset of the first entry to return in the response. \n    This is useful for pagination in combination with \\\"limit\\\".",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Offset"
            }
          },
          {
            "name": "dataFormat",
            "in": "query",
            "description": "The data format of the response.\nAlternatively, the data format can be specified by setting the \\\"Accept\\\"-header.\nYou can include the parameter to return the CSV/TSV without headers: \"text/csv;headers=false\". \nWhen both are specified, the request parameter takes precedence over the header.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/DataFormat"
            }
          },
          {
            "name": "nucleotideInsertions",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/NucleotideInsertions"
            }
          },
          {
            "name": "aminoAcidInsertions",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AminoAcidInsertions"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "The fields that the response items should contain.\nIf empty, all fields are returned.\nIf requesting CSV or TSV data, the columns are ordered in the same order as the fields are specified here.\n",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/MutationsFields"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
            "required": false,
            "content": {
              "text/plain": {
                "schema": {}
              }
            }
          },
          {
            "name": "downloadAsFile",
            "in": "query",
            "description": "\nSet to true to make your browser trigger a download instead of showing the response content by setting the\n'Content-Disposition' header to 'attachment'.\n",
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "\nSet to true to make your browser trigger a download instead of showing the response content by setting the\n'Content-Disposition' header to 'attachment'.\n"
            }
          },
          {
            "name": "downloadFileBasename",
            "in": "query",
            "description": "\nSpecify the download file basename, for example, specifying 'myFile' will result in a file named 'myFile.json' \n(when no compression is selected). \nThis parameter only takes effect when 'downloadAsFile' is set to true.\n",
            "schema": {
              "type": "string",
              "description": "\nSpecify the download file basename, for example, specifying 'myFile' will result in a file named 'myFile.json' \n(when no compression is selected). \nThis parameter only takes effect when 'downloadAsFile' is set to true.\n"
            }
          },
          {
            "name": "compression",
            "in": "query",
            "description": "\nOptionally set this to return the response compressed in the specified format.\nAlternatively, you can set the 'Accept-Encoding' header to the respective value.\n",
            "schema": {
              "type": "string",
              "description": "\nOptionally set this to return the response compressed in the specified format.\nAlternatively, you can set the 'Accept-Encoding' header to the respective value.\n",
              "enum": [
                "gzip",
                "zstd"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the number of sequences matching the specified sequence filters, grouped by amino acid mutations. \n    Additionally, the relative frequency of each mutation is returned. It is relative to the total number of sequences\n    matching the specified sequence filters with non-ambiguous reads at that position.",
            "headers": {
              "X-Request-ID": {
                "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "Lapis-Data-Version": {
                "description": "The data version of data in SILO. Same as the value returned in the info object in the response body.",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AminoAcidMutationsResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              },
              "text/tab-separated-values": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LapisErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "lapis-controller"
        ],
        "description": "Returns the number of sequences matching the specified sequence filters, grouped by amino acid mutations. \n    Additionally, the relative frequency of each mutation is returned. It is relative to the total number of sequences\n    matching the specified sequence filters with non-ambiguous reads at that position.",
        "operationId": "postAminoAcidMutations",
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
            "required": false,
            "content": {
              "text/plain": {
                "schema": {}
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SequenceFiltersWithMinProportion"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SequenceFiltersWithMinProportion"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the number of sequences matching the specified sequence filters, grouped by amino acid mutations. \n    Additionally, the relative frequency of each mutation is returned. It is relative to the total number of sequences\n    matching the specified sequence filters with non-ambiguous reads at that position.",
            "headers": {
              "X-Request-ID": {
                "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "Lapis-Data-Version": {
                "description": "The data version of data in SILO. Same as the value returned in the info object in the response body.",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AminoAcidMutationsResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              },
              "text/tab-separated-values": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LapisErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sample/aminoAcidInsertions": {
      "get": {
        "tags": [
          "lapis-controller"
        ],
        "description": "Returns a list of mutations along with the counts and proportions whose proportions are greater \n    than or equal to the specified minProportion. Only sequences matching the specified sequence filters are\n    considered.",
        "operationId": "getAminoAcidInsertionsAsCsv",
        "parameters": [
          {
            "name": "sequenceFilters",
            "in": "query",
            "description": "Valid filters for sequence data. This may be empty. Only provide the fields that should be filtered by.",
            "required": false,
            "style": "form",
            "schema": {
              "$ref": "#/components/schemas/SequenceFilters"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "\nThe fields of the response to order by.\nYou can also use \\\"random\\\" or \\\"random(SEED)\\\" where SEED is an integer.\n",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/InsertionsOrderByFields"
            }
          },
          {
            "name": "nucleotideMutations",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/NucleotideMutations"
            }
          },
          {
            "name": "aminoAcidMutations",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AminoAcidMutations"
            }
          },
          {
            "name": "nucleotideInsertions",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/NucleotideInsertions"
            }
          },
          {
            "name": "aminoAcidInsertions",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AminoAcidInsertions"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of entries to return in the response",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset of the first entry to return in the response. \n    This is useful for pagination in combination with \\\"limit\\\".",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Offset"
            }
          },
          {
            "name": "dataFormat",
            "in": "query",
            "description": "The data format of the response.\nAlternatively, the data format can be specified by setting the \\\"Accept\\\"-header.\nYou can include the parameter to return the CSV/TSV without headers: \"text/csv;headers=false\". \nWhen both are specified, the request parameter takes precedence over the header.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/DataFormat"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
            "required": false,
            "content": {
              "text/plain": {
                "schema": {}
              }
            }
          },
          {
            "name": "downloadAsFile",
            "in": "query",
            "description": "\nSet to true to make your browser trigger a download instead of showing the response content by setting the\n'Content-Disposition' header to 'attachment'.\n",
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "\nSet to true to make your browser trigger a download instead of showing the response content by setting the\n'Content-Disposition' header to 'attachment'.\n"
            }
          },
          {
            "name": "downloadFileBasename",
            "in": "query",
            "description": "\nSpecify the download file basename, for example, specifying 'myFile' will result in a file named 'myFile.json' \n(when no compression is selected). \nThis parameter only takes effect when 'downloadAsFile' is set to true.\n",
            "schema": {
              "type": "string",
              "description": "\nSpecify the download file basename, for example, specifying 'myFile' will result in a file named 'myFile.json' \n(when no compression is selected). \nThis parameter only takes effect when 'downloadAsFile' is set to true.\n"
            }
          },
          {
            "name": "compression",
            "in": "query",
            "description": "\nOptionally set this to return the response compressed in the specified format.\nAlternatively, you can set the 'Accept-Encoding' header to the respective value.\n",
            "schema": {
              "type": "string",
              "description": "\nOptionally set this to return the response compressed in the specified format.\nAlternatively, you can set the 'Accept-Encoding' header to the respective value.\n",
              "enum": [
                "gzip",
                "zstd"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of mutations along with the counts and proportions whose proportions are greater \n    than or equal to the specified minProportion. Only sequences matching the specified sequence filters are\n    considered.",
            "headers": {
              "X-Request-ID": {
                "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "Lapis-Data-Version": {
                "description": "The data version of data in SILO. Same as the value returned in the info object in the response body.",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AminoAcidInsertionsResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              },
              "text/tab-separated-values": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LapisErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "lapis-controller"
        ],
        "description": "Returns a list of mutations along with the counts and proportions whose proportions are greater \n    than or equal to the specified minProportion. Only sequences matching the specified sequence filters are\n    considered.",
        "operationId": "postAminoAcidInsertions",
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
            "required": false,
            "content": {
              "text/plain": {
                "schema": {}
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InsertionsRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/InsertionsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a list of mutations along with the counts and proportions whose proportions are greater \n    than or equal to the specified minProportion. Only sequences matching the specified sequence filters are\n    considered.",
            "headers": {
              "X-Request-ID": {
                "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "Lapis-Data-Version": {
                "description": "The data version of data in SILO. Same as the value returned in the info object in the response body.",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AminoAcidInsertionsResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              },
              "text/tab-separated-values": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LapisErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sample/alignedNucleotideSequences": {
      "get": {
        "tags": [
          "single-segmented-sequence-controller"
        ],
        "description": "Returns a string of aligned nucleotide sequences. Only sequences matching the \n    specified sequence filters are considered.",
        "operationId": "getAlignedNucleotideSequences",
        "parameters": [
          {
            "name": "sequenceFilters",
            "in": "query",
            "description": "Valid filters for sequence data. This may be empty. Only provide the fields that should be filtered by.",
            "required": false,
            "style": "form",
            "schema": {
              "$ref": "#/components/schemas/SequenceFilters"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "The parts of the fasta header to order by. By default, only the primary key and 'random' are allowed. The other fields are only allowed if they are part of the 'fastaHeaderTemplate'.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/NucleotideSequencesOrderByFields"
            }
          },
          {
            "name": "nucleotideMutations",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/NucleotideMutations"
            }
          },
          {
            "name": "aminoAcidMutations",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AminoAcidMutations"
            }
          },
          {
            "name": "nucleotideInsertions",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/NucleotideInsertions"
            }
          },
          {
            "name": "aminoAcidInsertions",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AminoAcidInsertions"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of entries to return in the response",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset of the first entry to return in the response. \n    This is useful for pagination in combination with \\\"limit\\\".",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Offset"
            }
          },
          {
            "name": "dataFormat",
            "in": "query",
            "description": "The format of the sequences in the response.\nAlternatively, the data format can be specified by setting the \\\"Accept\\\"-header.\nWhen both are specified, the request parameter takes precedence over the header.\n",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SequencesDataFormat"
            }
          },
          {
            "name": "fastaHeaderTemplate",
            "in": "query",
            "description": "Use this to customize the header of the FASTA file.\nThis parameter will be ignored if the data format is not FASTA.\nIt supports free-form text, placeholders of the form \"{<metadataField>}\" to include metadata fields in the header and\n\"the keyword {.segment}\" to include the segment name in the header.\n",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/NucleotideFastaHeaderTemplate"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
            "required": false,
            "content": {
              "text/plain": {
                "schema": {}
              }
            }
          },
          {
            "name": "downloadAsFile",
            "in": "query",
            "description": "\nSet to true to make your browser trigger a download instead of showing the response content by setting the\n'Content-Disposition' header to 'attachment'.\n",
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "\nSet to true to make your browser trigger a download instead of showing the response content by setting the\n'Content-Disposition' header to 'attachment'.\n"
            }
          },
          {
            "name": "downloadFileBasename",
            "in": "query",
            "description": "\nSpecify the download file basename, for example, specifying 'myFile' will result in a file named 'myFile.json' \n(when no compression is selected). \nThis parameter only takes effect when 'downloadAsFile' is set to true.\n",
            "schema": {
              "type": "string",
              "description": "\nSpecify the download file basename, for example, specifying 'myFile' will result in a file named 'myFile.json' \n(when no compression is selected). \nThis parameter only takes effect when 'downloadAsFile' is set to true.\n"
            }
          },
          {
            "name": "compression",
            "in": "query",
            "description": "\nOptionally set this to return the response compressed in the specified format.\nAlternatively, you can set the 'Accept-Encoding' header to the respective value.\n",
            "schema": {
              "type": "string",
              "description": "\nOptionally set this to return the response compressed in the specified format.\nAlternatively, you can set the 'Accept-Encoding' header to the respective value.\n",
              "enum": [
                "gzip",
                "zstd"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Request-ID": {
                "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "Lapis-Data-Version": {
                "description": "The data version of data in SILO. Same as the value returned in the info object in the response body.",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NucleotideSequencesResponse"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "$ref": "#/components/schemas/NucleotideSequencesResponse",
                  "description": "An NDJSON stream of nucleotide sequences. The schema is to be understood per line"
                }
              },
              "text/x-fasta": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LapisErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "single-segmented-sequence-controller"
        ],
        "description": "Returns a string of aligned nucleotide sequences. Only sequences matching the \n    specified sequence filters are considered.",
        "operationId": "postAlignedNucleotideSequence",
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
            "required": false,
            "content": {
              "text/plain": {
                "schema": {}
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NucleotideSequenceRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/NucleotideSequenceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Request-ID": {
                "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              },
              "Lapis-Data-Version": {
                "description": "The data version of data in SILO. Same as the value returned in the info object in the response body.",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NucleotideSequencesResponse"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "$ref": "#/components/schemas/NucleotideSequencesResponse",
                  "description": "An NDJSON stream of nucleotide sequences. The schema is to be understood per line"
                }
              },
              "text/x-fasta": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LapisErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sample/alignedAminoAcidSequences": {
      "get": {
        "tags": [
          "lapis-controller"
        ],
        "description": "Returns the sequences of all requested genes that match the given filter criteria.",
        "operationId": "getAllAlignedAminoAcidSequences",
        "parameters": [
          {
            "name": "genes",
            "in": "query",
            "description": "List of genes to retrieve sequences for. If not provided, all genes will be returned.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Gene"
              }
            }
          },
          {
            "name": "sequenceFilters",
            "in": "query",
            "description": "Valid filters for sequence data. This may be empty. Only provide the fields that should be filtered by.",
            "required": false,
            "style": "form",
            "schema": {
              "$ref": "#/components/schemas/SequenceFilters"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "The parts of the fasta header to order by. By default, only the primary key and 'random' are allowed. The other fields are only allowed if they are part of the 'fastaHeaderTemplate'.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AminoAcidSequencesOrderByFields"
            }
          },
          {
            "name": "nucleotideMutations",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/NucleotideMutations"
            }
          },
          {
            "name": "aminoAcidMutations",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AminoAcidMutations"
            }
          },
          {
            "name": "nucleotideInsertions",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/NucleotideInsertions"
            }
          },
          {
            "name": "aminoAcidInsertions",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AminoAcidInsertions"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of entries to return in the response",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset of the first entry to return in the response. \n    This is useful for pagination in combination with \\\"limit\\\".",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Offset"
            }
          },
          {
            "name": "dataFormat",
            "in": "query",
            "description": "The format of the sequences in the response.\nAlternatively, the data format can be specified by setting the \\\"Accept\\\"-header.\nWhen both are specified, the request parameter takes precedence over the header.\n",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SequencesDataFormat"
            }
          },
          {
            "name": "fastaHeaderTemplate",
            "in": "query",
            "description": "Use this to customize the header of the FASTA file.\nThis parameter will be ignored if the data format is not FASTA.\nIt supports free-form text, placeholders of the form \"{<metadataField>}\" to include metadata fields in the header and\n\"the keyword {.gene}\" to include the gene name in the header.\n",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AminoAcidFastaHeaderTemplate"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "\nA UUID that uniquely identifies the request for tracing purposes.\nIf none is provided in the request, LAPIS will generate one.\n",
            "required": false,
            "content": {
              "text/plain": {
                "schema": {}
              }
            }
          },
          {
            "name": "downloadAsFile",
            "in": "query",
            "description": "\nSet to true to make your browser trigger a download instead of showing the response content by setting the\n'Content-Disposition' header to 'attachment'.\n",
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "\nSet to true to make your browser trigger a download instead of showing the response content by setting the\n'Content-Disposition' header to 'attachment'.\n"
            }
          },
          {
            "name": "downloadFileBasename",
            "in": "query",
[...]
