{
  "openapi": "3.0.0",
  "info": {
    "description": "API spec for Microsoft.Security (Azure Security Center) resource provider",
    "title": "Security Center",
    "version": "2017-08-01-preview",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/azure.com/security/2017-08-01-preview/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/security.json",
        "version": "2.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "azure.com",
    "x-serviceName": "security",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/autoProvisioningSettings": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutoProvisioningSettingList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "AutoProvisioningSettings"
        ],
        "description": "Exposes the auto provisioning settings of the subscriptions",
        "operationId": "AutoProvisioningSettings_List",
        "x-ms-examples": {
          "Get auto provisioning settings for subscription": {
            "parameters": {
              "api-version": "2017-08-01-preview",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/autoProvisioningSettings/default",
                      "name": "default",
                      "properties": {
                        "autoProvision": true
                      },
                      "type": "Microsoft.Security/autoProvisioningSettings"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/autoProvisioningSettings/{settingName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/AutoProvisioningSettingName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutoProvisioningSetting"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "AutoProvisioningSettings"
        ],
        "description": "Details of a specific setting",
        "operationId": "AutoProvisioningSettings_Get",
        "x-ms-examples": {
          "Get an auto provisioning setting for subscription": {
            "parameters": {
              "api-version": "2017-08-01-preview",
              "settingName": "default",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/autoProvisioningSettings/default",
                  "name": "default",
                  "properties": {
                    "autoProvision": true
                  },
                  "type": "Microsoft.Security/autoProvisioningSettings"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/AutoProvisioningSettingName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutoProvisioningSetting"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "AutoProvisioningSettings"
        ],
        "description": "Details of a specific setting",
        "operationId": "AutoProvisioningSettings_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutoProvisioningSetting"
              }
            }
          },
          "description": "Auto provisioning setting key",
          "required": true
        },
        "x-ms-examples": {
          "Create auto provisioning settings for subscription": {
            "parameters": {
              "api-version": "2017-08-01-preview",
              "setting": {
                "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/autoProvisioningSettings/default",
                "name": "default",
                "properties": {
                  "autoProvision": true
                },
                "type": "Microsoft.Security/autoProvisioningSettings"
              },
              "settingName": "default",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/autoProvisioningSettings/default",
                  "name": "default",
                  "properties": {
                    "autoProvision": true
                  },
                  "type": "Microsoft.Security/autoProvisioningSettings"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/pricings": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PricingList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Pricings"
        ],
        "description": "Security pricing configurations in the subscription",
        "operationId": "Pricings_List",
        "x-ms-examples": {
          "Get pricings on subscription": {
            "parameters": {
              "api-version": "2017-08-01-preview",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/default",
                      "name": "default",
                      "properties": {
                        "pricingTier": "Standard"
                      },
                      "type": "Microsoft.Security/pricings"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/pricings/{pricingName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/PricingName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pricing"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Pricings"
        ],
        "description": "Security pricing configuration in the subscriptionSecurity pricing configuration in the subscription",
        "operationId": "Pricings_GetSubscriptionPricing",
        "x-ms-examples": {
          "Get pricings on subscription": {
            "parameters": {
              "api-version": "2017-08-01-preview",
              "pricingName": "default",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/default",
                  "name": "default",
                  "properties": {
                    "pricingTier": "Standard"
                  },
                  "type": "Microsoft.Security/pricings"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/PricingName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pricing"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Pricings"
        ],
        "description": "Security pricing configuration in the subscription",
        "operationId": "Pricings_UpdateSubscriptionPricing",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Pricing"
              }
            }
          },
          "description": "Pricing object",
          "required": true
        },
        "x-ms-examples": {
          "Update pricings on subscription": {
            "parameters": {
              "api-version": "2017-08-01-preview",
              "pricing": {
                "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/default",
                "name": "default",
                "properties": {
                  "pricingTier": "Standard"
                },
                "type": "Microsoft.Security/pricings"
              },
              "pricingName": "default",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/default",
                  "name": "default",
                  "properties": {
                    "pricingTier": "Standard"
                  },
                  "type": "Microsoft.Security/pricings"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/securityContacts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityContactList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Security Contacts"
        ],
        "description": "Security contact configurations for the subscription",
        "operationId": "SecurityContacts_List",
        "x-ms-examples": {
          "Update security contact data full": {
            "parameters": {
              "api-version": "2017-08-01-preview",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default1",
                      "name": "default1",
                      "properties": {
                        "alertNotifications": true,
                        "alertsToAdmins": true,
                        "email": "john@contoso.com",
                        "phone": "(214)275-4038"
                      },
                      "type": "Microsoft.Security/securityContacts"
                    }
                  ]
                }
              }
            }
          },
          "Update security contact data minimal": {
            "parameters": {
              "api-version": "2017-08-01-preview",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default2",
                      "name": "default2",
                      "properties": {
                        "alertNotifications": true,
                        "alertsToAdmins": true,
                        "email": "chen@contoso.com"
                      },
                      "type": "Microsoft.Security/securityContacts"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/securityContacts/{securityContactName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/SecurityContactName"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Security Contacts"
        ],
        "description": "Security contact configurations for the subscription",
        "operationId": "SecurityContacts_Delete",
        "x-ms-examples": {
          "Delete security contact data": {
            "parameters": {
              "api-version": "2017-08-01-preview",
              "securityContactName": "default1",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "204": {}
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/SecurityContactName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityContact"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Security Contacts"
        ],
        "description": "Security contact configurations for the subscription",
        "operationId": "SecurityContacts_Get",
        "x-ms-examples": {
          "Get security contact data full": {
            "parameters": {
              "api-version": "2017-08-01-preview",
              "securityContactName": "default1",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default1",
                  "name": "default1",
                  "properties": {
                    "alertNotifications": true,
                    "alertsToAdmins": true,
                    "email": "john@contoso.com",
                    "phone": "(214)275-4038"
                  },
                  "type": "Microsoft.Security/securityContacts"
                }
              }
            }
          },
          "Get security contact data minimal": {
            "parameters": {
              "api-version": "2017-08-01-preview",
              "securityContactName": "default2",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default2",
                  "name": "default2",
                  "properties": {
                    "alertNotifications": true,
                    "alertsToAdmins": true,
                    "email": "chen@contoso.com"
                  },
                  "type": "Microsoft.Security/securityContacts"
                }
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/SecurityContactName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityContact"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Security Contacts"
        ],
        "description": "Security contact configurations for the subscription",
        "operationId": "SecurityContacts_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecurityContact"
              }
            }
          },
          "description": "Security contact object",
          "required": true
        },
        "x-ms-examples": {
          "Update security contact data full": {
            "parameters": {
              "api-version": "2017-08-01-preview",
              "securityContact": {
                "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default1",
                "name": "default1",
                "properties": {
                  "alertNotifications": true,
                  "phone": "(214)275-4038"
                },
                "type": "Microsoft.Security/securityContacts"
              },
              "securityContactName": "john",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default1",
                  "name": "default1",
                  "properties": {
                    "alertNotifications": true,
                    "alertsToAdmins": false,
                    "email": "john@contoso.com",
                    "phone": "(214)275-4038"
                  },
                  "type": "Microsoft.Security/securityContacts"
                }
              }
            }
          },
          "Update security contact data minimal": {
            "parameters": {
              "api-version": "2017-08-01-preview",
              "securityContact": {
                "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default2",
                "name": "default2",
                "properties": {
                  "alertNotifications": true
                },
                "type": "Microsoft.Security/securityContacts"
              },
              "securityContactName": "default2",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default2",
                  "name": "default2",
                  "properties": {
                    "alertNotifications": true,
                    "alertsToAdmins": false,
                    "email": "chen@contoso.com"
                  },
                  "type": "Microsoft.Security/securityContacts"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/SecurityContactName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityContact"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Security Contacts"
        ],
        "description": "Security contact configurations for the subscription",
        "operationId": "SecurityContacts_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecurityContact"
              }
            }
          },
          "description": "Security contact object",
          "required": true
        },
        "x-ms-examples": {
          "Create security contact data full": {
            "parameters": {
              "api-version": "2017-08-01-preview",
              "securityContact": {
                "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default1",
                "name": "default1",
                "properties": {
                  "alertNotifications": true,
                  "alertsToAdmins": true,
                  "email": "john@contoso.com",
                  "phone": "(214)275-4038"
                },
                "type": "Microsoft.Security/securityContacts"
              },
              "securityContactName": "default1",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default1",
                  "name": "default1",
                  "properties": {
                    "alertNotifications": true,
                    "alertsToAdmins": true,
                    "email": "john@contoso.com",
                    "phone": "(214)275-4038"
                  },
                  "type": "Microsoft.Security/securityContacts"
                }
              }
            }
          },
          "Create security contact data minimal": {
            "parameters": {
              "api-version": "2017-08-01-preview",
              "securityContact": {
                "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default2",
                "name": "default2",
                "properties": {
                  "alertNotifications": true,
                  "alertsToAdmins": true,
                  "email": "chen@contoso.com"
                },
                "type": "Microsoft.Security/securityContacts"
              },
              "securityContactName": "default2",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default2",
                  "name": "default2",
                  "properties": {
                    "alertNotifications": true,
                    "alertsToAdmins": true,
                    "email": "chen@contoso.com"
                  },
                  "type": "Microsoft.Security/securityContacts"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/settings": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettingsList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Settings"
        ],
        "description": "Settings about different configurations in security center",
        "operationId": "Settings_List",
        "x-ms-examples": {
          "Get settings of subscription": {
            "parameters": {
              "api-version": "2017-08-01-preview",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/settings/MCAS",
                      "kind": "DataExportSetting",
                      "name": "MCAS",
                      "properties": {
                        "enabled": true
                      },
                      "type": "Microsoft.Security/settings"
                    },
                    {
                      "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/settings/WDATP",
                      "kind": "DataExportSetting",
                      "name": "WDATP",
                      "properties": {
                        "enabled": false
                      },
                      "type": "Microsoft.Security/settings"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/settings/{settingName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/SettingName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Setting"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Settings"
        ],
        "description": "Settings of different configurations in security center",
        "operationId": "Settings_Get",
        "x-ms-examples": {
          "Get a setting on subscription": {
            "parameters": {
              "api-version": "2017-08-01-preview",
              "settingName": "MCAS",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/settings/MCAS",
                  "kind": "DataExportSetting",
                  "name": "MCAS",
                  "properties": {
                    "enabled": true
                  },
                  "type": "Microsoft.Security/settings"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/SettingName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Setting"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Settings"
        ],
        "description": "updating settings about different configurations in security center",
        "operationId": "Settings_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Setting"
              }
            }
          },
          "description": "Setting object",
          "required": true
        },
        "x-ms-examples": {
          "Update a setting for subscription": {
            "parameters": {
              "api-version": "2017-08-01-preview",
              "setting": {
                "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/settings/MCAS",
                "kind": "DataExportSetting",
                "name": "MCAS",
                "properties": {
                  "enabled": true
                },
                "type": "Microsoft.Security/settings"
              },
              "settingName": "MCAS",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/settings/MCAS",
                  "kind": "DataExportSetting",
                  "name": "MCAS",
                  "properties": {
                    "enabled": true
                  },
                  "type": "Microsoft.Security/settings"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/workspaceSettings": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceSettingList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Workspace Settings"
        ],
        "description": "Settings about where we should store your security data and logs. If the result is empty, it means that no custom-workspace configuration was set",
        "operationId": "WorkspaceSettings_List",
        "x-ms-examples": {
          "Get workspace settings on subscription": {
            "parameters": {
              "api-version": "2017-08-01-preview",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/workspaceSettings/default",
                      "name": "default",
                      "properties": {
                        "scope": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23",
                        "workspaceId": "/subscriptions/c4930e90-cd72-4aa5-93e9-2d081d129569/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace1"
                      },
                      "type": "Microsoft.Security/workspaceSettings"
                    },
                    {
                      "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Security/workspaceSettings/myRg",
                      "name": "myRg",
                      "properties": {
                        "scope": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg",
                        "workspaceId": "/subscriptions/c4930e90-cd72-4aa5-93e9-2d081d129569/resourceGroups/myOtherRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace2"
                      },
                      "type": "Microsoft.Security/workspaceSettings"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/workspaceSettings/{workspaceSettingName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/WorkspaceSettingName"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Workspace Settings"
        ],
        "description": "Deletes the custom workspace settings for this subscription. new VMs will report to the default workspace",
        "operationId": "WorkspaceSettings_Delete",
        "x-ms-examples": {
          "Delete a workspace setting data for resource group": {
            "parameters": {
              "api-version": "2017-08-01-preview",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23",
              "workspaceSettingName": "default"
            },
            "responses": {
              "204": {}
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/WorkspaceSettingName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceSetting"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Workspace Settings"
        ],
        "description": "Settings about where we should store your security data and logs. If the result is empty, it means that no custom-workspace configuration was set",
        "operationId": "WorkspaceSettings_Get",
        "x-ms-examples": {
          "Get a workspace setting on subscription": {
            "parameters": {
              "api-version": "2017-08-01-preview",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23",
              "workspaceSettingName": "default"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/workspaceSettings/default",
                  "name": "default",
                  "properties": {
                    "scope": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23",
                    "workspaceId": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace"
                  },
                  "type": "Microsoft.Security/workspaceSettings"
                }
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/WorkspaceSettingName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceSetting"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Workspace Settings"
        ],
        "description": "Settings about where we should store your security data and logs",
        "operationId": "WorkspaceSettings_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceSetting"
              }
            }
          },
          "description": "Security data setting object",
          "required": true
        },
        "x-ms-examples": {
          "Update a workspace setting data for subscription": {
            "parameters": {
              "api-version": "2017-08-01-preview",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23",
              "workspaceSetting": {
                "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/workspaceSettings/default",
                "name": "default",
                "properties": {
                  "workspaceId": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace"
                },
                "type": "Microsoft.Security/workspaceSettings"
              },
              "workspaceSettingName": "default"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/workspaceSettings/default",
                  "name": "default",
                  "properties": {
                    "scope": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23",
                    "workspaceId": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace"
                  },
                  "type": "Microsoft.Security/workspaceSettings"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/WorkspaceSettingName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceSetting"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Workspace Settings"
        ],
        "description": "creating settings about where we should store your security data and logs",
        "operationId": "WorkspaceSettings_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceSetting"
              }
            }
          },
          "description": "Security data setting object",
          "required": true
        },
        "x-ms-examples": {
          "Create a workspace setting data for subscription": {
            "parameters": {
              "api-version": "2017-08-01-preview",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23",
              "workspaceSetting": {
                "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/workspaceSettings/default",
                "name": "default",
                "properties": {
                  "scope": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23",
                  "workspaceId": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace"
                },
                "type": "Microsoft.Security/workspaceSettings"
              },
              "workspaceSettingName": "default"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/workspaceSettings/default",
                  "name": "default",
                  "properties": {
                    "scope": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23",
                    "workspaceId": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace"
                  },
                  "type": "Microsoft.Security/workspaceSettings"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/pricings": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PricingList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Pricings"
        ],
        "description": "Security pricing configurations in the resource group",
        "operationId": "Pricings_ListByResourceGroup",
        "x-ms-examples": {
          "Get pricings on subscription": {
            "parameters": {
              "api-version": "2017-08-01-preview",
              "resourceGroupName": "myRg",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/myRg",
                      "name": "myRg",
                      "properties": {
                        "pricingTier": "Standard"
                      },
                      "type": "Microsoft.Security/pricings"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/pricings/{pricingName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/components/parameters/PricingName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pricing"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Pricings"
        ],
        "description": "Security pricing configuration in the resource group",
        "operationId": "Pricings_GetResourceGroupPricing",
        "x-ms-examples": {
          "Get pricings on subscription": {
            "parameters": {
              "api-version": "2017-08-01-preview",
              "pricingName": "myRg",
              "resourceGroupName": "myRg",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/myRg",
                  "name": "myRg",
                  "properties": {
                    "pricingTier": "Standard"
                  },
                  "type": "Microsoft.Security/pricings"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/components/parameters/PricingName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pricing"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Pricings"
        ],
        "description": "Security pricing configuration in the resource group",
        "operationId": "Pricings_CreateOrUpdateResourceGroupPricing",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Pricing"
              }
            }
          },
          "description": "Pricing object",
          "required": true
        },
        "x-ms-examples": {
          "Update pricings on resource group": {
            "parameters": {
              "api-version": "2017-08-01-preview",
              "pricing": {
                "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Security/pricings/myRg",
                "name": "myRg",
                "properties": {
                  "pricingTier": "Standard"
                },
                "type": "Microsoft.Security/pricings"
              },
              "pricingName": "myRg",
              "resourceGroupName": "myRg",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/myRg",
                  "name": "myRg",
                  "properties": {
                    "pricingTier": "Standard"
                  },
                  "type": "Microsoft.Security/pricings"
                }
              }
            }
          }
        }
      }
    },
    "/{resourceId}/providers/Microsoft.Security/advancedThreatProtectionSettings/{settingName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          },
          {
            "$ref": "#/components/parameters/AdvancedThreatProtectionSettingName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdvancedThreatProtectionSetting"
                }
              }
            },
            "description": "Successful request to get Advanced Threat Protection settings."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "AdvancedThreatProtection"
        ],
        "description": "Gets the Advanced Threat Protection settings for the specified resource.",
        "operationId": "AdvancedThreatProtection_Get",
        "x-ms-examples": {
          "Gets the Advanced Threat Protection settings for the specified resource.": {
            "parameters": {
              "api-version": "2017-08-01-preview",
              "resourceId": "subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/SampleRG/providers/Microsoft.Storage/storageAccounts/samplestorageaccount",
              "settingName": "current"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/SampleRG/providers/Microsoft.Storage/storageAccounts/samplestorageaccount/providers/Microsoft.Security/advancedThreatProtectionSettings/current",
                  "name": "current",
                  "properties": {
                    "isEnabled": true
                  },
                  "type": "Microsoft.Security/advancedThreatProtectionSettings"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          },
          {
            "$ref": "#/components/parameters/AdvancedThreatProtectionSettingName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdvancedThreatProtectionSetting"
                }
              }
            },
            "description": "Successful request to put Advanced Threat Protection settings."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "AdvancedThreatProtection"
        ],
        "description": "Creates or updates the Advanced Threat Protection settings on a specified resource.",
        "operationId": "AdvancedThreatProtection_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdvancedThreatProtectionSetting"
              }
            }
          },
          "description": "Advanced Threat Protection Settings",
          "required": true
        },
        "x-ms-examples": {
          "Creates or updates the Advanced Threat Protection settings on a specified resource.": {
            "parameters": {
              "advancedThreatProtectionSetting": {
                "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/SampleRG/providers/Microsoft.Storage/storageAccounts/samplestorageaccount/providers/Microsoft.Security/advancedThreatProtectionSettings/current",
                "name": "current",
                "properties": {
                  "isEnabled": true
                },
                "type": "Microsoft.Security/advancedThreatProtectionSettings"
              },
              "api-version": "2017-08-01-preview",
              "resourceId": "subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/SampleRG/providers/Microsoft.Storage/storageAccounts/samplestorageaccount",
              "settingName": "current"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/SampleRG/providers/Microsoft.Storage/storageAccounts/samplestorageaccount/providers/Microsoft.Security/advancedThreatProtectionSettings/current",
                  "name": "current",
                  "properties": {
                    "isEnabled": true
                  },
                  "type": "Microsoft.Security/advancedThreatProtectionSettings"
                }
              }
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Security/compliances": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/Scope"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComplianceList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Compliances"
        ],
        "description": "The Compliance scores of the specific management group.",
        "operationId": "Compliances_List",
        "x-ms-examples": {
          "Get security compliance data over time": {
            "parameters": {
              "api-version": "2017-08-01-preview",
              "scope": "subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/compliances/2018-01-01Z",
                      "name": "2018-01-01Z",
                      "properties": {
                        "assessmentResult": [
                          {
                            "percentage": 77.77777777777779,
                            "segmentType": "Compliant"
                          }
                        ],
                        "assessmentTimestampUtcDate": "2018-01-01 00:00:00+00:00",
                        "resourceCount": 18
                      },
                      "type": "Microsoft.Security/compliances"
                    },
                    {
                      "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/compliances/2018-01-02Z",
                      "name": "2018-01-02Z",
                      "properties": {
                        "assessmentResult": [
                          {
                            "percentage": 94.44444444444444,
                            "segmentType": "Compliant"
                          }
                        ],
                        "assessmentTimestampUtcDate": "2018-01-02 00:00:00+00:00",
                        "resourceCount": 18
                      },
                      "type": "Microsoft.Security/compliances"
                    },
                    {
                      "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/compliances/2018-01-03Z",
                      "name": "2018-01-03Z",
                      "properties": {
                        "assessmentResult": [
                          {
                            "percentage": 100,
                            "segmentType": "Compliant"
                          }
                        ],
                        "assessmentTimestampUtcDate": "2018-01-03 00:00:00+00:00",
                        "resourceCount": 18
                      },
                      "type": "Microsoft.Security/compliances"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.Security/compliances/{complianceName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/Scope"
          },
          {
            "$ref": "#/components/parameters/ComplianceName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Compliance"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Compliances"
        ],
        "description": "Details of a specific Compliance.",
        "operationId": "Compliances_Get",
        "x-ms-examples": {
          "Get security compliance data for a day": {
            "parameters": {
              "api-version": "2017-08-01-preview",
              "complianceName": "2018-01-01Z",
              "scope": "subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/compliances/2018-01-01Z",
                  "name": "2018-01-01Z",
                  "properties": {
                    "assessmentResult": [
                      {
                        "percentage": 77.77777777777779,
                        "segmentType": "Compliant"
                      }
                    ],
                    "assessmentTimestampUtcDate": "2018-01-01 00:00:00+00:00",
                    "resourceCount": 18
                  },
                  "type": "Microsoft.Security/compliances"
                }
              }
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Security/informationProtectionPolicies": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/Scope"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InformationProtectionPolicyList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "InformationProtectionPolicies"
        ],
        "description": "Information protection policies of a specific management group.",
        "operationId": "InformationProtectionPolicies_List",
        "x-ms-examples": {
          "Get information protection policies": {
            "parameters": {
              "api-version": "2017-08-01-preview",
              "scope": "providers/Microsoft.Management/managementGroups/148059f7-faf3-49a6-ba35-85122112291e"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/providers/Microsoft.Management/managementGroups/148059f7-faf3-49a6-ba35-85122112291e/providers/Microsoft.Security/informationProtectionPolicies/effective",
                      "name": "effective",
                      "properties": {
                        "informationTypes": {
                          "3bf35491-99b8-41f2-86d5-c1200a7df658": {
                            "custom": true,
                            "displayName": "Custom",
                            "enabled": true,
                            "keywords": [
                              {
                                "canBeNumeric": false,
                                "custom": true,
                                "pattern": "%networking%"
                              }
                            ],
                            "order": 1400,
                            "recommendedLabelId": "7aa516c7-5a53-4857-bc6e-6808c6acd542"
                          },
                          "5856f35c-8e08-4d08-9bf7-87a146150569": {
                            "custom": false,
                            "displayName": "Contact Info",
                            "enabled": true,
                            "keywords": [
                              {
                                "canBeNumeric": false,
                                "custom": false,
                                "pattern": "%email%"
                              },
                              {
                                "canBeNumeric": false,
                                "custom": false,
                                "pattern": "%e-mail%"
                              },
                              {
                                "canBeNumeric": false,
                                "custom": false,
                                "pattern": "%addr%"
                              },
                              {
                                "canBeNumeric": true,
                                "custom": false,
                                "pattern": "%street%"
                              },
                              {
                                "canBeNumeric": false,
                                "custom": false,
                                "pattern": "%city%"
                              }
                            ],
                            "order": 200,
                            "recommendedLabelId": "575739d2-3d53-4df0-9042-4c7772d5c7b1"
                          },
                          "7fb9419d-2473-4ad8-8e11-b25cc8cf6a07": {
                            "custom": false,
                            "displayName": "Networking",
                            "enabled": true,
                            "keywords": [
                              {
                                "canBeNumeric": false,
                                "custom": false,
                                "pattern": "%ip%"
                              },
                              {
                                "canBeNumeric": false,
                                "custom": false,
                                "pattern": "ip%address%"
                              },
                              {
                                "canBeNumeric": false,
                                "custom": false,
                                "pattern": "%mac%address%"
                              },
                              {
                                "canBeNumeric": true,
                                "custom": true,
                                "pattern": "%networking%"
                              }
                            ],
                            "order": 100,
                            "recommendedLabelId": "575739d2-3d53-4df0-9042-4c7772d5c7b1"
                          }
                        },
                        "labels": {
                          "1345da73-bc5a-4a8f-b7dd-3820eb713da8": {
                            "displayName": "Public",
                            "enabled": true,
                            "order": 100
                          },
                          "575739d2-3d53-4df0-9042-4c7772d5c7b1": {
                            "displayName": "Confidential",
                            "enabled": true,
                            "order": 300
                          },
                          "7aa516c7-5a53-4857-bc6e-6808c6acd542": {
                            "displayName": "General",
                            "enabled": true,
                            "order": 200
                          }
                        }
                      },
                      "type": "Microsoft.Security/informationProtectionPolicies"
                    },
                    {
                      "id": "/providers/Microsoft.Management/managementGroups/148059f7-faf3-49a6-ba35-85122112291e/providers/Microsoft.Security/informationProtectionPolicies/custom",
                      "name": "custom",
                      "properties": {
                        "informationTypes": {
                          "3bf35491-99b8-41f2-86d5-c1200a7df658": {
                            "custom": true,
                            "displayName": "Custom",
                            "enabled": true,
                            "keywords": [
                              {
                                "canBeNumeric": true,
                                "custom": true,
                                "pattern": "%custom%"
                              }
                            ],
                            "order": 1400,
                            "recommendedLabelId": "7aa516c7-5a53-4857-bc6e-6808c6acd542"
                          },
                          "7fb9419d-2473-4ad8-8e11-b25cc8cf6a07": {
                            "custom": false,
                            "displayName": "Networking",
                            "enabled": true,
                            "keywords": [
                              {
                                "canBeNumeric": false,
                                "custom": true,
                                "pattern": "%networking%"
                              }
                            ],
                            "order": 100,
                            "recommendedLabelId": "575739d2-3d53-4df0-9042-4c7772d5c7b1"
                          }
                        },
                        "labels": {
                          "1345da73-bc5a-4a8f-b7dd-3820eb713da8": {
                            "displayName": "Public",
                            "enabled": true,
                            "order": 100
                          },
                          "575739d2-3d53-4df0-9042-4c7772d5c7b1": {
                            "displayName": "Confidential",
                            "enabled": true,
                            "order": 300
                          },
                          "7aa516c7-5a53-4857-bc6e-6808c6acd542": {
                            "displayName": "General",
                            "enabled": true,
                            "order": 200
                          }
                        }
                      },
                      "type": "Microsoft.Security/informationProtectionPolicies"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.Security/informationProtectionPolicies/{informationProtectionPolicyName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/Scope"
          },
          {
            "$ref": "#/components/parameters/InformationProtectionPolicyName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InformationProtectionPolicy"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "InformationProtectionPolicies"
        ],
        "description": "Details of the information protection policy.",
        "operationId": "InformationProtectionPolicies_Get",
        "x-ms-examples": {
          "Get the customized information protection policy for a management group": {
            "parameters": {
              "api-version": "2017-08-01-preview",
              "informationProtectionPolicyName": "custom",
              "scope": "providers/Microsoft.Management/managementGroups/148059f7-faf3-49a6-ba35-85122112291e"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/providers/Microsoft.Management/managementGroups/148059f7-faf3-49a6-ba35-85122112291e/providers/Microsoft.Security/informationProtectionPolicies/custom",
                  "name": "custom",
                  "properties": {
                    "informationTypes": {
                      "3bf35491-99b8-41f2-86d5-c1200a7df658": {
                        "custom": true,
                        "displayName": "Custom",
                        "enabled": true,
                        "keywords": [
                          {
                            "canBeNumeric": true,
                            "custom": true,
                            "pattern": "%custom%"
                          }
                        ],
                        "order": 1400,
                        "recommendedLabelId": "7aa516c7-5a53-4857-bc6e-6808c6acd542"
                      },
                      "7fb9419d-2473-4ad8-8e11-b25cc8cf6a07": {
                        "custom": false,
                        "displayName": "Networking",
                        "enabled": true,
                        "keywords": [
                          {
                            "canBeNumeric": false,
                            "custom": true,
                            "pattern": "%networking%"
                          }
                        ],
                        "order": 100,
                        "recommendedLabelId": "575739d2-3d53-4df0-9042-4c7772d5c7b1"
                      }
                    },
                    "labels": {
                      "1345da73-bc5a-4a8f-b7dd-3820eb713da8": {
                        "displayName": "Public",
                        "enabled": true,
                        "order": 100
                      },
                      "575739d2-3d53-4df0-9042-4c7772d5c7b1": {
                        "displayName": "Confidential",
                        "enabled": true,
                        "order": 300
                      },
                      "7aa516c7-5a53-4857-bc6e-6808c6acd542": {
                        "displayName": "General",
                        "enabled": true,
                        "order": 200
                      }
                    }
                  },
                  "type": "Microsoft.Security/informationProtectionPolicies"
                }
              }
            }
          },
          "Get the effective information protection policy for a management group": {
            "parameters": {
              "api-version": "2017-08-01-preview",
              "informationProtectionPolicyName": "effective",
              "scope": "providers/Microsoft.Management/managementGroups/148059f7-faf3-49a6-ba35-85122112291e"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/providers/Microsoft.Management/managementGroups/148059f7-faf3-49a6-ba35-85122112291e/providers/Microsoft.Security/informationProtectionPolicies/effective",
                  "name": "effective",
                  "properties": {
                    "informationTypes": {
                      "3bf35491-99b8-41f2-86d5-c1200a7df658": {
                        "custom": true,
                        "displayName": "Custom",
                        "enabled": true,
                        "keywords": [
                          {
                            "canBeNumeric": false,
                            "custom": true,
                            "pattern": "%networking%"
                          }
                        ],
                        "order": 1400,
                        "recommendedLabelId": "7aa516c7-5a53-4857-bc6e-6808c6acd542"
                      },
                      "5856f35c-8e08-4d08-9bf7-87a146150569": {
                        "custom": false,
                        "displayName": "Contact Info",
                        "enabled": true,
                        "keywords": [
                          {
                            "canBeNumeric": false,
                            "custom": false,
                            "pattern": "%email%"
                          },
                          {
                            "canBeNumeric": false,
                            "custom": false,
                            "pattern": "%e-mail%"
                          },
                          {
                            "canBeNumeric": false,
                            "custom": false,
                            "pattern": "%addr%"
                          },
                          {
                            "canBeNumeric": true,
                            "custom": false,
                            "pattern": "%street%"
                          },
                          {
                            "canBeNumeric": false,
                            "custom": false,
                            "pattern": "%city%"
                          }
                        ],
                        "order": 200,
                        "recommendedLabelId": "575739d2-3d53-4df0-9042-4c7772d5c7b1"
                      },
                      "7fb9419d-2473-4ad8-8e11-b25cc8cf6a07": {
                        "custom": false,
                        "displayName": "Networking",
                        "enabled": true,
                        "keywords": [
                          {
                            "canBeNumeric": false,
                            "custom": false,
                            "pattern": "%ip%"
                          },
                          {
                            "canBeNumeric": false,
                            "custom": false,
                            "pattern": "ip%address%"
                          },
                          {
                            "canBeNumeric": false,
                            "custom": false,
                            "pattern": "%mac%address%"
                          },
                          {
                            "canBeNumeric": true,
                            "custom": true,
                            "excluded": true,
                            "pattern": "%networking%"
                          }
                        ],
                        "order": 100,
                        "recommendedLabelId": "575739d2-3d53-4df0-9042-4c7772d5c7b1"
                      }
                    },
                    "labels": {
                      "1345da73-bc5a-4a8f-b7dd-3820eb713da8": {
                        "displayName": "Public",
                        "enabled": true,
                        "order": 100
                      },
                      "575739d2-3d53-4df0-9042-4c7772d5c7b1": {
                        "displayName": "Confidential",
                        "enabled": true,
                        "order": 300
                      },
                      "7aa516c7-5a53-4857-bc6e-6808c6acd542": {
                        "displayName": "General",
                        "enabled": true,
                        "order": 200
                      }
                    }
                  },
                  "type": "Microsoft.Security/informationProtectionPolicies"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/Scope"
          },
          {
            "$ref": "#/components/parameters/InformationProtectionPolicyName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InformationProtectionPolicy"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InformationProtectionPolicy"
                }
              }
            },
            "description": "Created"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "InformationProtectionPolicies"
        ],
        "description": "Details of the information protection policy.",
        "operationId": "InformationProtectionPolicies_CreateOrUpdate",
        "x-ms-examples": {
          "Create or update an information protection policy for a management group": {
            "parameters": {
              "InformationProtectionPolicy": {
                "id": "/providers/Microsoft.Management/managementGroups/148059f7-faf3-49a6-ba35-85122112291e/providers/Microsoft.Security/informationProtectionPolicies/custom",
                "name": "custom",
                "properties": {
                  "informationTypes": {
                    "3bf35491-99b8-41f2-86d5-c1200a7df658": {
                      "custom": true,
                      "displayName": "Custom",
                      "enabled": true,
                      "keywords": [
                        {
                          "canBeNumeric": true,
                          "custom": true,
                          "pattern": "%custom%"
                        }
                      ],
                      "order": 1400,
                      "recommendedLabelId": "7aa516c7-5a53-4857-bc6e-6808c6acd542"
                    },
                    "7fb9419d-2473-4ad8-8e11-b25cc8cf6a07": {
                      "custom": false,
                      "displayName": "Networking",
                      "enabled": true,
                      "keywords": [
                        {
                          "canBeNumeric": false,
                          "custom": true,
                          "pattern": "%networking%"
                        }
                      ],
                      "order": 100,
                      "recommendedLabelId": "575739d2-3d53-4df0-9042-4c7772d5c7b1"
                    }
                  },
                  "labels": {
                    "1345da73-bc5a-4a8f-b7dd-3820eb713da8": {
                      "displayName": "Public",
                      "enabled": true,
                      "order": 100
                    },
                    "575739d2-3d53-4df0-9042-4c7772d5c7b1": {
                      "displayName": "Confidential",
                      "enabled": true,
                      "order": 300
                    },
                    "7aa516c7-5a53-4857-bc6e-6808c6acd542": {
                      "displayName": "General",
                      "enabled": true,
                      "order": 200
                    }
                  }
                },
                "type": "Microsoft.Security/informationProtectionPolicies"
              },
              "api-version": "2017-08-01-preview",
              "informationProtectionPolicyName": "custom",
              "scope": "providers/Microsoft.Management/managementGroups/148059f7-faf3-49a6-ba35-85122112291e"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/providers/Microsoft.Management/managementGroups/148059f7-faf3-49a6-ba35-85122112291e/providers/Microsoft.Security/informationProtectionPolicies/custom",
                  "name": "custom",
                  "properties": {
                    "informationTypes": {
                      "3bf35491-99b8-41f2-86d5-c1200a7df658": {
                        "custom": true,
                        "displayName": "Custom",
                        "enabled": true,
                        "keywords": [
                          {
                            "canBeNumeric": true,
                            "custom": true,
                            "pattern": "%custom%"
                          }
                        ],
                        "order": 1400,
                        "recommendedLabelId": "7aa516c7-5a53-4857-bc6e-6808c6acd542"
                      },
                      "7fb9419d-2473-4ad8-8e11-b25cc8cf6a07": {
                        "custom": false,
                        "displayName": "Networking",
                        "enabled": true,
                        "keywords": [
                          {
                            "canBeNumeric": false,
                            "custom": true,
                            "pattern": "%networking%"
                          }
                        ],
                        "order": 100,
                        "recommendedLabelId": "575739d2-3d53-4df0-9042-4c7772d5c7b1"
                      }
                    },
                    "labels": {
                      "1345da73-bc5a-4a8f-b7dd-3820eb713da8": {
                        "displayName": "Public",
                        "enabled": true,
                        "order": 100
                      },
                      "575739d2-3d53-4df0-9042-4c7772d5c7b1": {
                        "displayName": "Confidential",
                        "enabled": true,
                        "order": 300
                      },
                      "7aa516c7-5a53-4857-bc6e-6808c6acd542": {
                        "displayName": "General",
                        "enabled": true,
                        "order": 200
                      }
                    }
                  },
                  "type": "Microsoft.Security/informationProtectionPolicies"
                }
              },
              "201": {
                "body": {
                  "id": "/providers/Microsoft.Management/managementGroups/148059f7-faf3-49a6-ba35-85122112291e/providers/Microsoft.Security/informationProtectionPolicies/custom",
                  "name": "custom",
                  "properties": {
                    "informationTypes": {
                      "3bf35491-99b8-41f2-86d5-c1200a7df658": {
                        "custom": true,
                        "displayName": "Custom",
                        "enabled": true,
                        "keywords": [
                          {
                            "canBeNumeric": true,
                            "custom": true,
                            "pattern": "%custom%"
                          }
                        ],
                        "order": 1400,
                        "recommendedLabelId": "7aa516c7-5a53-4857-bc6e-6808c6acd542"
                      },
                      "7fb9419d-2473-4ad8-8e11-b25cc8cf6a07": {
                        "custom": false,
                        "displayName": "Networking",
                        "enabled": true,
                        "keywords": [
                          {
                            "canBeNumeric": false,
                            "custom": true,
                            "pattern": "%networking%"
                          }
                        ],
                        "order": 100,
                        "recommendedLabelId": "575739d2-3d53-4df0-9042-4c7772d5c7b1"
                      }
                    },
                    "labels": {
                      "1345da73-bc5a-4a8f-b7dd-3820eb713da8": {
                        "displayName": "Public",
                        "enabled": true,
                        "order": 100
                      },
                      "575739d2-3d53-4df0-9042-4c7772d5c7b1": {
                        "displayName": "Confidential",
                        "enabled": true,
                        "order": 300
                      },
                      "7aa516c7-5a53-4857-bc6e-6808c6acd542": {
                        "displayName": "General",
                        "enabled": true,
                        "order": 200
                      }
                    }
                  },
                  "type": "Microsoft.Security/informationProtectionPolicies"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "AdvancedThreatProtectionSettingName": {
        "description": "Advanced Threat Protection setting name.",
        "in": "path",
        "name": "settingName",
        "required": true,
        "schema": {
          "enum": [
            "current"
          ],
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ApiVersion": {
        "description": "API version for the operation",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "enum": [
            "2017-08-01-preview"
          ],
          "type": "string"
        }
      },
      "AutoProvisioningSettingName": {
        "description": "Auto provisioning setting key",
        "in": "path",
        "name": "settingName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ComplianceName": {
        "description": "name of the Compliance",
        "in": "path",
        "name": "complianceName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "InformationProtectionPolicyName": {
        "description": "Name of the information protection policy.",
        "in": "path",
        "name": "informationProtectionPolicyName",
        "required": true,
        "schema": {
          "enum": [
            "effective",
            "custom"
          ],
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "PricingName": {
        "description": "name of the pricing configuration",
        "in": "path",
        "name": "pricingName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ResourceGroupName": {
        "description": "The name of the resource group within the user's subscription. The name is case insensitive.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "maxLength": 90,
          "minLength": 1,
          "pattern": "^[-\\w\\._\\(\\)]+$",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ResourceId": {
        "description": "The identifier of the resource.",
        "in": "path",
        "name": "resourceId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "Scope": {
        "description": "Scope of the query, can be subscription (/subscriptions/0b06d9ea-afe6-4779-bd59-30e5c2d9d13f) or management group (/providers/Microsoft.Management/managementGroups/mgName).",
        "in": "path",
        "name": "scope",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SecurityContactName": {
        "description": "Name of the security contact object",
        "in": "path",
        "name": "securityContactName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SettingName": {
        "description": "Name of setting: (MCAS/WDATP)",
        "in": "path",
        "name": "settingName",
        "required": true,
        "schema": {
          "enum": [
            "MCAS",
            "WDATP"
          ],
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionId": {
        "description": "Azure subscription ID",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "pattern": "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
          "type": "string"
        }
      },
      "WorkspaceSettingName": {
        "description": "Name of the security setting",
        "in": "path",
        "name": "workspaceSettingName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "requestBodies": {
      "Pricing": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Pricing"
            }
          }
        },
        "description": "Pricing object",
        "required": true
      },
      "SecurityContact": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SecurityContact"
            }
          }
        },
        "description": "Security contact object",
        "required": true
      },
      "WorkspaceSetting": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/WorkspaceSetting"
[...]
