{
  "openapi": "3.0.3",
  "info": {
    "title": "NOAA Climate Data Online (CDO) API",
    "description": "NOAA Climate Data Online Web Services API v2 provides access to climate datasets, data categories, data types, locations, stations, and observed data values.",
    "version": "2.0.0",
    "x-jentic-source-url": "https://www.ncdc.noaa.gov/cdo-web/webservices/v2"
  },
  "servers": [
    {
      "url": "https://www.ncei.noaa.gov/cdo-web/api/v2",
      "description": "NOAA CDO API v2"
    }
  ],
  "paths": {
    "/datasets": {
      "get": {
        "operationId": "listDatasets",
        "summary": "List datasets",
        "description": "List available datasets or filter by parameters.",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DataTypeIdParam"
          },
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/StationIdParam"
          },
          {
            "$ref": "#/components/parameters/StartDateParam"
          },
          {
            "$ref": "#/components/parameters/EndDateParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/OffsetParam"
          },
          {
            "$ref": "#/components/parameters/SortFieldParam"
          },
          {
            "$ref": "#/components/parameters/SortOrderParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of datasets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid or missing token"
          }
        }
      }
    },
    "/datasets/{id}": {
      "get": {
        "operationId": "getDataset",
        "summary": "Get dataset by ID",
        "description": "Retrieve information about a specific dataset.",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Dataset identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Dataset not found"
          }
        }
      }
    },
    "/datacategories": {
      "get": {
        "operationId": "listDataCategories",
        "summary": "List data categories",
        "description": "List available data categories.",
        "tags": [
          "DataCategories"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DatasetIdParam"
          },
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/StationIdParam"
          },
          {
            "$ref": "#/components/parameters/StartDateParam"
          },
          {
            "$ref": "#/components/parameters/EndDateParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/OffsetParam"
          },
          {
            "$ref": "#/components/parameters/SortFieldParam"
          },
          {
            "$ref": "#/components/parameters/SortOrderParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of data categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/datacategories/{id}": {
      "get": {
        "operationId": "getDataCategory",
        "summary": "Get data category by ID",
        "description": "Retrieve a specific data category.",
        "tags": [
          "DataCategories"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Data category identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Data category details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Data category not found"
          }
        }
      }
    },
    "/datatypes": {
      "get": {
        "operationId": "listDataTypes",
        "summary": "List data types",
        "description": "List available data types.",
        "tags": [
          "DataTypes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DatasetIdParam"
          },
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/StationIdParam"
          },
          {
            "$ref": "#/components/parameters/DataCategoryIdParam"
          },
          {
            "$ref": "#/components/parameters/StartDateParam"
          },
          {
            "$ref": "#/components/parameters/EndDateParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/OffsetParam"
          },
          {
            "$ref": "#/components/parameters/SortFieldParam"
          },
          {
            "$ref": "#/components/parameters/SortOrderParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of data types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/datatypes/{id}": {
      "get": {
        "operationId": "getDataType",
        "summary": "Get data type by ID",
        "description": "Retrieve a specific data type.",
        "tags": [
          "DataTypes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Data type identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Data type details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Data type not found"
          }
        }
      }
    },
    "/locationcategories": {
      "get": {
        "operationId": "listLocationCategories",
        "summary": "List location categories",
        "description": "List location category groupings.",
        "tags": [
          "LocationCategories"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DatasetIdParam"
          },
          {
            "$ref": "#/components/parameters/StartDateParam"
          },
          {
            "$ref": "#/components/parameters/EndDateParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/OffsetParam"
          },
          {
            "$ref": "#/components/parameters/SortFieldParam"
          },
          {
            "$ref": "#/components/parameters/SortOrderParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of location categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/locationcategories/{id}": {
      "get": {
        "operationId": "getLocationCategory",
        "summary": "Get location category by ID",
        "description": "Retrieve a specific location category.",
        "tags": [
          "LocationCategories"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Location category identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Location category details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Location category not found"
          }
        }
      }
    },
    "/locations": {
      "get": {
        "operationId": "listLocations",
        "summary": "List locations",
        "description": "List available locations.",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DatasetIdParam"
          },
          {
            "$ref": "#/components/parameters/LocationCategoryIdParam"
          },
          {
            "$ref": "#/components/parameters/DataCategoryIdParam"
          },
          {
            "$ref": "#/components/parameters/StartDateParam"
          },
          {
            "$ref": "#/components/parameters/EndDateParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/OffsetParam"
          },
          {
            "$ref": "#/components/parameters/SortFieldParam"
          },
          {
            "$ref": "#/components/parameters/SortOrderParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of locations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/locations/{id}": {
      "get": {
        "operationId": "getLocation",
        "summary": "Get location by ID",
        "description": "Retrieve details for a specific location.",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Location identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Location details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Location not found"
          }
        }
      }
    },
    "/stations": {
      "get": {
        "operationId": "listStations",
        "summary": "List stations",
        "description": "List weather observing stations.",
        "tags": [
          "Stations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DatasetIdParam"
          },
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/DataCategoryIdParam"
          },
          {
            "$ref": "#/components/parameters/DataTypeIdParam"
          },
          {
            "name": "extent",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Desired geographical extent for stations in format: lat1,lon1,lat2,lon2"
          },
          {
            "$ref": "#/components/parameters/StartDateParam"
          },
          {
            "$ref": "#/components/parameters/EndDateParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/OffsetParam"
          },
          {
            "$ref": "#/components/parameters/SortFieldParam"
          },
          {
            "$ref": "#/components/parameters/SortOrderParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of stations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/stations/{id}": {
      "get": {
        "operationId": "getStation",
        "summary": "Get station by ID",
        "description": "Retrieve details for a specific station.",
        "tags": [
          "Stations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Station identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Station details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Station not found"
          }
        }
      }
    },
    "/data": {
      "get": {
        "operationId": "getData",
        "summary": "Get data",
        "description": "Fetch actual observed data values. Requires datasetid, startdate, and enddate parameters.",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "datasetid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Dataset identifier"
          },
          {
            "name": "startdate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date in ISO format (YYYY-MM-DD)"
          },
          {
            "name": "enddate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date in ISO format (YYYY-MM-DD)"
          },
          {
            "name": "stationid",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Station identifier"
          },
          {
            "name": "datatypeid",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Data type identifier"
          },
          {
            "name": "locationid",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Location identifier"
          },
          {
            "name": "units",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "standard",
                "metric"
              ]
            },
            "description": "Unit system"
          },
          {
            "name": "includemetadata",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Whether to include metadata in the response"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/OffsetParam"
          },
          {
            "$ref": "#/components/parameters/SortFieldParam"
          },
          {
            "$ref": "#/components/parameters/SortOrderParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Observed data values",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "token",
        "description": "NOAA CDO API token. Rate limited to 5 requests/second and 10,000 requests/day."
      }
    },
    "parameters": {
      "DatasetIdParam": {
        "name": "datasetid",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Filter by dataset identifier"
      },
      "DataTypeIdParam": {
        "name": "datatypeid",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Filter by data type identifier"
      },
      "LocationIdParam": {
        "name": "locationid",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Filter by location identifier"
      },
      "StationIdParam": {
        "name": "stationid",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Filter by station identifier"
      },
      "DataCategoryIdParam": {
        "name": "datacategoryid",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Filter by data category identifier"
      },
      "LocationCategoryIdParam": {
        "name": "locationcategoryid",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Filter by location category identifier"
      },
      "StartDateParam": {
        "name": "startdate",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date"
        },
        "description": "Start date in ISO format (YYYY-MM-DD)"
      },
      "EndDateParam": {
        "name": "enddate",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date"
        },
        "description": "End date in ISO format (YYYY-MM-DD)"
      },
      "LimitParam": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 25,
          "maximum": 1000
        },
        "description": "Maximum number of results to return"
      },
      "OffsetParam": {
        "name": "offset",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 0
        },
        "description": "Start record number"
      },
      "SortFieldParam": {
        "name": "sortfield",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "id",
            "name",
            "mindate",
            "maxdate",
            "datacoverage"
          ]
        },
        "description": "Field to sort by"
      },
      "SortOrderParam": {
        "name": "sortorder",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "asc",
            "desc"
          ],
          "default": "asc"
        },
        "description": "Sort order"
      }
    },
    "schemas": {
      "Dataset": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "datacoverage": {
            "type": "number"
          },
          "mindate": {
            "type": "string",
            "format": "date"
          },
          "maxdate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "DatasetList": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        }
      },
      "DataList": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataValue"
            }
          }
        }
      },
      "DataValue": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "datatype": {
            "type": "string"
          },
          "station": {
            "type": "string"
          },
          "attributes": {
            "type": "string"
          },
          "value": {
            "type": "number"
          }
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "resultset": {
            "type": "object",
            "properties": {
              "offset": {
                "type": "integer"
              },
              "count": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "tokenAuth": []
    }
  ],
  "tags": [
    {
      "name": "Datasets",
      "description": "Dataset information"
    },
    {
      "name": "DataCategories",
      "description": "Data category information"
    },
    {
      "name": "DataTypes",
      "description": "Data type information"
    },
    {
      "name": "LocationCategories",
      "description": "Location category information"
    },
    {
      "name": "Locations",
      "description": "Location information"
    },
    {
      "name": "Stations",
      "description": "Weather station information"
    },
    {
      "name": "Data",
      "description": "Observed data values"
    }
  ]
}