{
  "openapi": "3.0.3",
  "info": {
    "title": "Automizy API",
    "version": "1.0.0",
    "description": "Automizy is an email marketing automation platform. The API provides access to contacts, lists, campaigns, automations, and email sending.",
    "x-jentic-source-url": "https://automizy.com"
  },
  "servers": [
    { "url": "https://gateway.automizy.com/v2", "description": "Automizy API v2" }
  ],
  "security": [{ "BearerAuth": [] }],
  "tags": [
    { "name": "Contacts", "description": "Contact management" },
    { "name": "Lists", "description": "Contact list management" },
    { "name": "Campaigns", "description": "Email campaign management" },
    { "name": "Automations", "description": "Email automation management" },
    { "name": "Custom Fields", "description": "Custom field management" },
    { "name": "Tags", "description": "Tag management" },
    { "name": "Forms", "description": "Signup form management" }
  ],
  "paths": {
    "/contacts": {
      "get": {
        "tags": ["Contacts"], "summary": "List contacts", "operationId": "listContacts",
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } },
          { "name": "email", "in": "query", "description": "Filter by email", "schema": { "type": "string" } },
          { "name": "listId", "in": "query", "description": "Filter by list ID", "schema": { "type": "integer" } },
          { "name": "tagId", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": { "200": { "description": "Contacts list", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ContactsListResponse" } } } } }
      },
      "post": {
        "tags": ["Contacts"], "summary": "Create contact", "operationId": "createContact",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ContactCreate" } } } },
        "responses": { "200": { "description": "Contact created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Contact" } } } }, "422": { "description": "Validation error" } }
      }
    },
    "/contacts/{id}": {
      "get": {
        "tags": ["Contacts"], "summary": "Get contact", "operationId": "getContact",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "responses": { "200": { "description": "Contact details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Contact" } } } }, "404": { "description": "Not found" } }
      },
      "patch": {
        "tags": ["Contacts"], "summary": "Update contact", "operationId": "updateContact",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ContactUpdate" } } } },
        "responses": { "200": { "description": "Contact updated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Contact" } } } } }
      },
      "delete": {
        "tags": ["Contacts"], "summary": "Delete contact", "operationId": "deleteContact",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "responses": { "204": { "description": "Contact deleted" } }
      }
    },
    "/smart-lists": {
      "get": {
        "tags": ["Lists"], "summary": "List smart lists", "operationId": "listSmartLists",
        "responses": { "200": { "description": "Smart lists", "content": { "application/json": { "schema": { "type": "object", "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/SmartList" } } } } } } } }
      },
      "post": {
        "tags": ["Lists"], "summary": "Create smart list", "operationId": "createSmartList",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SmartListCreate" } } } },
        "responses": { "200": { "description": "Smart list created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SmartList" } } } } }
      }
    },
    "/smart-lists/{id}": {
      "get": {
        "tags": ["Lists"], "summary": "Get smart list", "operationId": "getSmartList",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "responses": { "200": { "description": "Smart list details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SmartList" } } } } }
      },
      "patch": {
        "tags": ["Lists"], "summary": "Update smart list", "operationId": "updateSmartList",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SmartListCreate" } } } },
        "responses": { "200": { "description": "Smart list updated" } }
      },
      "delete": {
        "tags": ["Lists"], "summary": "Delete smart list", "operationId": "deleteSmartList",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "responses": { "204": { "description": "Smart list deleted" } }
      }
    },
    "/campaigns": {
      "get": {
        "tags": ["Campaigns"], "summary": "List campaigns", "operationId": "listCampaigns",
        "responses": { "200": { "description": "Campaigns list", "content": { "application/json": { "schema": { "type": "object", "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/Campaign" } } } } } } } }
      },
      "post": {
        "tags": ["Campaigns"], "summary": "Create campaign", "operationId": "createCampaign",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CampaignCreate" } } } },
        "responses": { "200": { "description": "Campaign created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Campaign" } } } } }
      }
    },
    "/automations": {
      "get": {
        "tags": ["Automations"], "summary": "List automations", "operationId": "listAutomations",
        "responses": { "200": { "description": "Automations list", "content": { "application/json": { "schema": { "type": "object", "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/Automation" } } } } } } } }
      }
    },
    "/custom-fields": {
      "get": {
        "tags": ["Custom Fields"], "summary": "List custom fields", "operationId": "listCustomFields",
        "responses": { "200": { "description": "Custom fields", "content": { "application/json": { "schema": { "type": "object", "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/CustomField" } } } } } } } }
      },
      "post": {
        "tags": ["Custom Fields"], "summary": "Create custom field", "operationId": "createCustomField",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CustomFieldCreate" } } } },
        "responses": { "200": { "description": "Custom field created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CustomField" } } } } }
      }
    },
    "/tags": {
      "get": {
        "tags": ["Tags"], "summary": "List tags", "operationId": "listTags",
        "responses": { "200": { "description": "Tags list", "content": { "application/json": { "schema": { "type": "object", "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/Tag" } } } } } } } }
      },
      "post": {
        "tags": ["Tags"], "summary": "Create tag", "operationId": "createTag",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TagCreate" } } } },
        "responses": { "200": { "description": "Tag created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Tag" } } } } }
      }
    },
    "/forms": {
      "get": {
        "tags": ["Forms"], "summary": "List forms", "operationId": "listForms",
        "responses": { "200": { "description": "Forms list", "content": { "application/json": { "schema": { "type": "object", "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/Form" } } } } } } } }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": { "type": "http", "scheme": "bearer", "description": "API token obtained from Automizy account settings" }
    },
    "schemas": {
      "Contact": { "type": "object", "properties": { "id": { "type": "integer" }, "email": { "type": "string" }, "status": { "type": "string", "enum": ["ACTIVE", "INACTIVE", "BANNED", "UNSUBSCRIBED", "BOUNCED"] }, "firstname": { "type": "string" }, "lastname": { "type": "string" }, "customFields": { "type": "object" }, "tags": { "type": "array", "items": { "type": "object" } }, "lists": { "type": "array", "items": { "type": "object" } }, "createdAt": { "type": "string", "format": "date-time" }, "updatedAt": { "type": "string", "format": "date-time" } } },
      "ContactCreate": { "type": "object", "required": ["email"], "properties": { "email": { "type": "string" }, "firstname": { "type": "string" }, "lastname": { "type": "string" }, "customFields": { "type": "object", "additionalProperties": true }, "tags": { "type": "array", "items": { "type": "string" } }, "listId": { "type": "integer", "description": "List ID to add contact to" }, "status": { "type": "string", "enum": ["ACTIVE", "INACTIVE"] } } },
      "ContactUpdate": { "type": "object", "properties": { "email": { "type": "string" }, "firstname": { "type": "string" }, "lastname": { "type": "string" }, "customFields": { "type": "object" }, "status": { "type": "string" } } },
      "ContactsListResponse": { "type": "object", "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/Contact" } }, "pageCount": { "type": "integer" }, "totalCount": { "type": "integer" } } },
      "SmartList": { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" }, "contactCount": { "type": "integer" }, "createdAt": { "type": "string", "format": "date-time" } } },
      "SmartListCreate": { "type": "object", "required": ["name"], "properties": { "name": { "type": "string" } } },
      "Campaign": { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" }, "status": { "type": "string" }, "subject": { "type": "string" }, "sentAt": { "type": "string", "format": "date-time" }, "openRate": { "type": "number" }, "clickRate": { "type": "number" } } },
      "CampaignCreate": { "type": "object", "required": ["name"], "properties": { "name": { "type": "string" }, "subject": { "type": "string" }, "senderName": { "type": "string" }, "senderEmail": { "type": "string" }, "htmlBody": { "type": "string" }, "textBody": { "type": "string" }, "smartListId": { "type": "integer" } } },
      "Automation": { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" }, "status": { "type": "string" }, "createdAt": { "type": "string", "format": "date-time" } } },
      "CustomField": { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" }, "type": { "type": "string", "enum": ["TEXT", "NUMBER", "DATE", "BOOLEAN"] } } },
      "CustomFieldCreate": { "type": "object", "required": ["name", "type"], "properties": { "name": { "type": "string" }, "type": { "type": "string", "enum": ["TEXT", "NUMBER", "DATE", "BOOLEAN"] } } },
      "Tag": { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" } } },
      "TagCreate": { "type": "object", "required": ["name"], "properties": { "name": { "type": "string" } } },
      "Form": { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" }, "type": { "type": "string" }, "status": { "type": "string" } } }
    }
  }
}
