{
  "openapi": "3.0.0",
  "info": {
    "description": "Calculation of planned route. Planned route is the detailed view of transit time where all stops and transports are included. Production points identifiers (id, type and country) are NOTIS identifiers.\nAdditional attribute to responses may be added at any time without prenotice. Consumers must be tolerant to unknown attributes.\nSee [Transit Time service API documentation](https://developer.postnord.com/apis/details?systemName=transport-v1-transittime-calculation) for more information about transit time and planned route.\n",
    "title": "Transit Time Planned route calculation",
    "version": "1.0.4.6",
    "x-attributes": [
      {
        "key": "Api Classification",
        "value": "public"
      },
      {
        "key": "Business Owner Name",
        "value": "Jonas Åberg"
      },
      {
        "key": "Business Owner Email",
        "value": "jonas.aberg@postnord.com"
      },
      {
        "key": "Team Name",
        "value": "Nordic Planned Route"
      },
      {
        "key": "Team Slack Channel",
        "value": "#nordic-planned-route"
      },
      {
        "key": "Team Email",
        "value": ""
      },
      {
        "key": "Team Members",
        "value": "allan.dahl@postnord.com,dinuka.lakmal-jayadewa@postnord.com,enrico.resaba@postnord.com,faisel-shezad.bahader@postnord.com,hemika-yasinda.kodikara@postnord.com,shahin.kordasti@postnord.com,vincent.bacalso@postnord.com,yukti.dwivedi@postnord.com"
      },
      {
        "key": "Team Tagging",
        "value": "@team-eta"
      },
      {
        "key": "Search Tags",
        "value": [
          "Transport",
          "Transit Time",
          "Planned Route",
          "Before Order"
        ]
      }
    ],
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/postnord/transport-v1-transittime-plannedroute/1.0.4.6"
  },
  "servers": [
    {
      "url": "https://atapi2.postnord.com/rest/transport"
    }
  ],
  "paths": {
    "/v1/plannedroute/addresstoaddress": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apikeyParam"
          },
          {
            "$ref": "#/components/parameters/startTimeParam"
          },
          {
            "$ref": "#/components/parameters/serviceCodeParam"
          },
          {
            "$ref": "#/components/parameters/additionalServiceCodesParam"
          },
          {
            "$ref": "#/components/parameters/originStreetNameParam"
          },
          {
            "$ref": "#/components/parameters/originStreetNumberParam"
          },
          {
            "$ref": "#/components/parameters/originPostCodeParam"
          },
          {
            "$ref": "#/components/parameters/originCountryCodeParam"
          },
          {
            "$ref": "#/components/parameters/destinationStreetNameParam"
          },
          {
            "$ref": "#/components/parameters/destinationStreetNumberParam"
          },
          {
            "$ref": "#/components/parameters/destinationPostCodeParam"
          },
          {
            "$ref": "#/components/parameters/destinationCountryCodeParam"
          },
          {
            "$ref": "#/components/parameters/currentProductionPointIdParam"
          },
          {
            "$ref": "#/components/parameters/currentProductionPointTypeParam"
          },
          {
            "$ref": "#/components/parameters/currentProductionPointCountryCodeParam"
          },
          {
            "$ref": "#/components/parameters/isUnderDistributionParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PlannedRoute"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "tags": [
          "Planned route"
        ],
        "description": "Planned route between two addresses",
        "operationId": "plannedRouteAddressToAddress",
        "summary": "From address to address"
      }
    },
    "/v1/plannedroute/addresstolocation": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apikeyParam"
          },
          {
            "$ref": "#/components/parameters/startTimeParam"
          },
          {
            "$ref": "#/components/parameters/serviceCodeParam"
          },
          {
            "$ref": "#/components/parameters/additionalServiceCodesParam"
          },
          {
            "$ref": "#/components/parameters/originStreetNameParam"
          },
          {
            "$ref": "#/components/parameters/originStreetNumberParam"
          },
          {
            "$ref": "#/components/parameters/originPostCodeParam"
          },
          {
            "$ref": "#/components/parameters/originCountryCodeParam"
          },
          {
            "$ref": "#/components/parameters/destinationProductionPointIdParam"
          },
          {
            "$ref": "#/components/parameters/destinationProductionPointTypeParam"
          },
          {
            "$ref": "#/components/parameters/destinationProductionPointCountryCodeParam"
          },
          {
            "$ref": "#/components/parameters/currentProductionPointIdParam"
          },
          {
            "$ref": "#/components/parameters/currentProductionPointTypeParam"
          },
          {
            "$ref": "#/components/parameters/currentProductionPointCountryCodeParam"
          },
          {
            "$ref": "#/components/parameters/isUnderDistributionParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PlannedRoute"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "tags": [
          "Planned route"
        ],
        "description": "Planned route between an address and a location defined in NOTIS",
        "operationId": "plannedRouteAddressToLocation",
        "summary": "From address to location"
      }
    },
    "/v1/plannedroute/locationtoaddress": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apikeyParam"
          },
          {
            "$ref": "#/components/parameters/startTimeParam"
          },
          {
            "$ref": "#/components/parameters/serviceCodeParam"
          },
          {
            "$ref": "#/components/parameters/additionalServiceCodesParam"
          },
          {
            "$ref": "#/components/parameters/originProductionPointIdParam"
          },
          {
            "$ref": "#/components/parameters/originProductionPointTypeParam"
          },
          {
            "$ref": "#/components/parameters/originProductionPointCountryCodeParam"
          },
          {
            "$ref": "#/components/parameters/destinationStreetNameParam"
          },
          {
            "$ref": "#/components/parameters/destinationStreetNumberParam"
          },
          {
            "$ref": "#/components/parameters/destinationPostCodeParam"
          },
          {
            "$ref": "#/components/parameters/destinationCountryCodeParam"
          },
          {
            "$ref": "#/components/parameters/currentProductionPointIdParam"
          },
          {
            "$ref": "#/components/parameters/currentProductionPointTypeParam"
          },
          {
            "$ref": "#/components/parameters/currentProductionPointCountryCodeParam"
          },
          {
            "$ref": "#/components/parameters/isUnderDistributionParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PlannedRoute"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "tags": [
          "Planned route"
        ],
        "description": "Planned route between a location defined in NOTIS and an address",
        "operationId": "plannedRouteLocationToAddress",
        "summary": "From location to address"
      }
    },
    "/v1/plannedroute/locationtolocation": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apikeyParam"
          },
          {
            "$ref": "#/components/parameters/startTimeParam"
          },
          {
            "$ref": "#/components/parameters/serviceCodeParam"
          },
          {
            "$ref": "#/components/parameters/additionalServiceCodesParam"
          },
          {
            "$ref": "#/components/parameters/originProductionPointIdParam"
          },
          {
            "$ref": "#/components/parameters/originProductionPointTypeParam"
          },
          {
            "$ref": "#/components/parameters/originProductionPointCountryCodeParam"
          },
          {
            "$ref": "#/components/parameters/destinationProductionPointIdParam"
          },
          {
            "$ref": "#/components/parameters/destinationProductionPointTypeParam"
          },
          {
            "$ref": "#/components/parameters/destinationProductionPointCountryCodeParam"
          },
          {
            "$ref": "#/components/parameters/currentProductionPointIdParam"
          },
          {
            "$ref": "#/components/parameters/currentProductionPointTypeParam"
          },
          {
            "$ref": "#/components/parameters/currentProductionPointCountryCodeParam"
          },
          {
            "$ref": "#/components/parameters/isUnderDistributionParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PlannedRoute"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "tags": [
          "Planned route"
        ],
        "description": "Planned route between two locations defined in NOTIS",
        "operationId": "plannedRouteLocationToLocation",
        "summary": "From location to location"
      }
    },
    "/v1/plannedroute/manage/health": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apikeyParam"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/health"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "tags": [
          "Health"
        ],
        "description": "API will respond with \"UP\" if healthy",
        "operationId": "healthCheck",
        "summary": "Health check"
      }
    }
  },
  "components": {
    "parameters": {
      "additionalServiceCodesParam": {
        "description": "PostNord additional service codes (comma separated)\n* 10 (Before 9:00)\n* 20 (Before 12:00)\n* ..\n",
        "in": "query",
        "name": "additionalServiceCodes",
        "required": false,
        "schema": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "style": "form"
      },
      "apikeyParam": {
        "description": "The unique consumer (client) identifier 32 characters",
        "in": "query",
        "name": "apikey",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-data-threescale-name": "user_keys"
      },
      "currentProductionPointCountryCodeParam": {
        "description": "Current production point country code as ISO 3166-1 alpha-2, example DE. The parcel might have begun at the origin and is going to destination, but where is it currently? This information helps the API to better calculate a route.",
        "in": "query",
        "name": "currentProductionPointCountryCode",
        "required": false,
        "schema": {
          "pattern": "^[A-Za-z]{2}$",
          "type": "string"
        }
      },
      "currentProductionPointIdParam": {
        "description": "Id of current production point. The parcel might have begun at the origin and is going to destination, but where is it currently? This information helps the API to better calculate a route.",
        "in": "query",
        "name": "currentProductionPointId",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "currentProductionPointTypeParam": {
        "description": "Current production point type. The parcel might have begun at the origin and is going to destination, but where is it currently? This information helps the API to better calculate a route.",
        "in": "query",
        "name": "currentProductionPointType",
        "required": false,
        "schema": {
          "enum": [
            "hub",
            "depot",
            "servicepoint"
          ],
          "type": "string"
        }
      },
      "destinationCountryCodeParam": {
        "description": "Destination country code as ISO 3166-1 alpha-2, example FI",
        "in": "query",
        "name": "destinationCountryCode",
        "required": true,
        "schema": {
          "pattern": "^[A-Za-z]{2}$",
          "type": "string"
        }
      },
      "destinationPostCodeParam": {
        "description": "Post code of destination address",
        "in": "query",
        "name": "destinationPostCode",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "destinationProductionPointCountryCodeParam": {
        "description": "Destination production point country code as ISO 3166-1 alpha-2, example NO",
        "in": "query",
        "name": "destinationProductionPointCountryCode",
        "required": true,
        "schema": {
          "pattern": "^[A-Za-z]{2}$",
          "type": "string"
        }
      },
      "destinationProductionPointIdParam": {
        "description": "Id of destination production point id",
        "in": "query",
        "name": "destinationProductionPointId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "destinationProductionPointTypeParam": {
        "description": "Destination production point type",
        "in": "query",
        "name": "destinationProductionPointType",
        "required": true,
        "schema": {
          "enum": [
            "hub",
            "depot",
            "servicepoint"
          ],
          "type": "string"
        }
      },
      "destinationStreetNameParam": {
        "description": "Street name of destination address. Providing this will allow for more accurate results",
        "in": "query",
        "name": "destinationStreetName",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "destinationStreetNumberParam": {
        "description": "Street number of destination address. Providing this will allow for more accurate results",
        "in": "query",
        "name": "destinationStreetNumber",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "isUnderDistributionParam": {
        "description": "Is the parcel under distribution or not? Sometimes a production point might appear more than once in the route, once for pickup and once for distribution. If underDistribution is set to true, then the API will assume the parcel is at the end of its journey and calculate the route accordingly.\n",
        "in": "query",
        "name": "underDistribution",
        "required": false,
        "schema": {
          "default": false,
          "type": "boolean"
        }
      },
      "originCountryCodeParam": {
        "description": "Origin country code as ISO 3166-1 alpha-2, example SE",
        "in": "query",
        "name": "originCountryCode",
        "required": true,
        "schema": {
          "pattern": "^[A-Za-z]{2}$",
          "type": "string"
        }
      },
      "originPostCodeParam": {
        "description": "Post code of origin address",
        "in": "query",
        "name": "originPostCode",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "originProductionPointCountryCodeParam": {
        "description": "Origin production point country code as ISO 3166-1 alpha-2, example DK",
        "in": "query",
        "name": "originProductionPointCountryCode",
        "required": true,
        "schema": {
          "pattern": "^[A-Za-z]{2}$",
          "type": "string"
        }
      },
      "originProductionPointIdParam": {
        "description": "Id of origin production point id",
        "in": "query",
        "name": "originProductionPointId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "originProductionPointTypeParam": {
        "description": "Origin production point type",
        "in": "query",
        "name": "originProductionPointType",
        "required": true,
        "schema": {
          "enum": [
            "hub",
            "depot",
            "servicepoint"
          ],
          "type": "string"
        }
      },
      "originStreetNameParam": {
        "description": "Street name of origin address. Providing this will allow for more accurate results",
        "in": "query",
        "name": "originStreetName",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "originStreetNumberParam": {
        "description": "Street number of origin address. Providing this will allow for more accurate results",
        "in": "query",
        "name": "originStreetNumber",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "serviceCodeParam": {
        "description": "PostNord service code (comma separated)\n* 17 (Mypack Home) \n* 18 (Parcel)\n* 19 (Mypack Collect)\n* ..\n",
        "in": "query",
        "name": "serviceCode",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "startTimeParam": {
        "description": "Local date-time for origin ('yyyy-MM-ddTHH:mm:ss', without timezone)",
        "in": "query",
        "name": "startTime",
        "required": true,
        "schema": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "responses": {
      "BadRequest": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/errorResponse"
            }
          }
        },
        "description": "The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing)"
      },
      "InternalServerError": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/errorResponse"
            }
          }
        },
        "description": "The server encountered an unexpected condition that prevented it from fulfilling the request."
      },
      "MethodNotAllowed": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/errorResponse"
            }
          }
        },
        "description": "The method received in the request-line is known by the origin server but not supported by the target resource."
      },
      "NotFound": {
        "content": {
          "application/json": {
            "examples": {
              "response": {
                "value": {
                  "noPlannedRouteReasonCode": "No next stop was found for production point 3-hub-SE",
                  "plannedRoute": {
                    "complete": false,
                    "daysPickup": [
                      "MONDAY",
                      "TUESDAY",
                      "WEDNESDAY",
                      "THURSDAY",
                      "FRIDAY"
                    ],
                    "eveningPickup": false,
                    "links": [
                      {
                        "countryCode": "SE",
                        "deviation": false,
                        "function": "PICKUP",
                        "hubFunction": false,
                        "id": "160101",
                        "inboundSort": false,
                        "latestBooking": "2021-08-27T14:00:00",
                        "name": "Norrköping HUB",
                        "type": "DEPOT"
                      },
                      {
                        "countryCode": "SE",
                        "deviation": false,
                        "function": "OUTBOUND_SORT",
                        "hubFunction": false,
                        "id": "701",
                        "inboundSort": false,
                        "name": "Örebro",
                        "type": "HUB"
                      },
                      {
                        "countryCode": "SE",
                        "deviation": false,
                        "function": "DISTRIBUTION",
                        "hubFunction": false,
                        "id": "114101",
                        "inboundSort": false,
                        "name": "Segeltorp City SB",
                        "type": "DEPOT"
                      },
                      {
                        "countryCode": "SE",
                        "deviation": false,
                        "function": "COLLECTION",
                        "hubFunction": false,
                        "id": "550171",
                        "inboundSort": false,
                        "name": "ICA KVANTUM LIDINGÖ",
                        "type": "SERVICE_POINT"
                      }
                    ],
                    "service": {
                      "code": "19",
                      "distribution": false,
                      "groupCode": "SE",
                      "name": "PostNord MyPack Collect",
                      "pickup": true
                    }
                  }
                }
              }
            },
            "schema": {
              "$ref": "#/components/schemas/PlannedRouteResponse"
            }
          }
        },
        "description": "The request was valid but no **complete** route was found for the given parameters.\n"
      },
      "PlannedRoute": {
        "content": {
          "application/json": {
            "examples": {
              "response": {
                "value": {
                  "metadata": {
                    "dataVersion": "2021-08-29T05:20:25.619Z"
                  },
                  "plannedRoute": {
                    "complete": true,
                    "daysPickup": [
                      "MONDAY",
                      "TUESDAY",
                      "WEDNESDAY",
                      "THURSDAY",
                      "FRIDAY"
                    ],
                    "deviationMayOccur": false,
                    "estimatedTimeOfArrival": "2021-08-30T18:00:00",
                    "eveningPickup": false,
                    "links": [
                      {
                        "countryCode": "SE",
                        "deviation": false,
                        "function": "PICKUP",
                        "hubFunction": false,
                        "id": "160101",
                        "inboundSort": false,
                        "latestBooking": "2021-08-27T14:00:00",
                        "name": "Norrköping HUB",
                        "stopTimeIn": "2021-08-27T17:40:00",
                        "stopTimeOut": "2021-08-27T17:40:00",
                        "type": "DEPOT"
                      },
                      {
                        "deviation": false,
                        "function": "TRANSPORT",
                        "hubFunction": false,
                        "id": "MDT 602706",
                        "inboundSort": false,
                        "name": "DIP Norrköping - Örebro",
                        "stopTimeIn": "2021-08-27T18:30:00",
                        "stopTimeOut": "2021-08-27T20:30:00",
                        "transportLegs": [
                          {
                            "fromProductionPoint": {
                              "countryCode": "SE",
                              "id": "160101",
                              "type": "DEPOT"
                            },
                            "name": "DIP Norrköping - Örebro",
                            "sequenceNumber": 0,
                            "timeOfArrival": "2021-08-27T20:30:00",
                            "timeOfDeparture": "2021-08-27T18:30:00",
                            "toProductionPoint": {
                              "countryCode": "SE",
                              "id": "701",
                              "type": "HUB"
                            }
                          }
                        ],
                        "type": "LINE"
                      },
                      {
                        "countryCode": "SE",
                        "deviation": false,
                        "function": "OUTBOUND_SORT",
                        "hubFunction": false,
                        "id": "701",
                        "inboundSort": false,
                        "name": "Örebro",
                        "stopTimeIn": "2021-08-27T21:30:00",
                        "stopTimeOut": "2021-08-27T22:30:00",
                        "type": "HUB"
                      },
                      {
                        "deviation": false,
                        "function": "TRANSPORT",
                        "hubFunction": false,
                        "id": "7014171",
                        "inboundSort": false,
                        "name": "Örebro-Segeltorp",
                        "stopTimeIn": "2021-08-27T22:45:00",
                        "stopTimeOut": "2021-08-28T01:25:00",
                        "transportLegs": [
                          {
                            "fromProductionPoint": {
                              "countryCode": "SE",
                              "id": "701",
                              "type": "HUB"
                            },
                            "name": "Örebro - Segeltorp",
                            "sequenceNumber": 0,
                            "timeOfArrival": "2021-08-28T01:25:00",
                            "timeOfDeparture": "2021-08-27T22:45:00",
                            "toProductionPoint": {
                              "countryCode": "SE",
                              "id": "126",
                              "type": "HUB"
                            }
                          }
                        ],
                        "type": "LINE"
                      },
                      {
                        "countryCode": "SE",
                        "deviation": false,
                        "function": "INBOUND_SORT",
                        "hubFunction": false,
                        "id": "126",
                        "inboundSort": false,
                        "name": "Segeltorp",
                        "stopTimeIn": "2021-08-28T06:00:00",
                        "stopTimeOut": "2021-08-28T07:00:00",
                        "type": "HUB"
                      },
                      {
                        "countryCode": "SE",
                        "deviation": false,
                        "function": "DISTRIBUTION",
                        "hubFunction": false,
                        "id": "114101",
                        "inboundSort": false,
                        "name": "Segeltorp City SB",
                        "stopTimeIn": "2021-08-30T14:00:00",
                        "stopTimeOut": "2021-08-30T16:00:00",
                        "type": "DEPOT"
                      },
                      {
                        "countryCode": "SE",
                        "deviation": false,
                        "function": "COLLECTION",
                        "hubFunction": false,
                        "id": "550171",
                        "inboundSort": false,
                        "name": "ICA KVANTUM LIDINGÖ",
                        "stopTimeIn": "2021-08-30T18:00:00",
                        "stopTimeOut": "2021-08-30T18:00:00",
                        "type": "SERVICE_POINT"
                      }
                    ],
                    "service": {
                      "code": "19",
                      "distribution": false,
                      "groupCode": "SE",
                      "name": "PostNord MyPack Collect",
                      "pickup": true
                    }
                  }
                }
              }
            },
            "schema": {
              "$ref": "#/components/schemas/PlannedRouteResponse"
            }
          }
        },
        "description": "Planned route response"
      },
      "ServiceUnavailable": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/errorResponse"
            }
          }
        },
        "description": "The server is currently unable to handle the request due to a temporary overload or scheduled maintenance, which will likely be alleviated after some delay."
      },
      "Unauthorized": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/errorResponse"
            }
          }
        },
        "description": "API-key or authentication token is missing/invalid."
      }
    },
    "schemas": {
      "AdditionalService": {
        "properties": {
          "code": {
            "description": "PostNord additional service codes (comma separated)\n* 10 (Before 9:00)\n* 20 (Before 12:00)\n* ..\n",
            "type": "string"
          },
          "name": {
            "description": "Name of the additional service.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ForeignTransitTimeInterval": {
        "description": "For some country codes or services, an exact time of arrival is not supported. Instead this property might be present to give an estimate of the time of arrival in a day range format. Can be null if estimatedTimeOfArrival is present instead.\n",
        "properties": {
          "daysMaximum": {
            "type": "integer"
          },
          "daysMinimum": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "MetaData": {
        "properties": {
          "dataVersion": {
            "description": "Timestamp for extract of data which service operates on",
            "type": "string"
          }
        },
        "type": "object"
      },
      "PlannedRoute": {
        "properties": {
          "additionalServices": {
            "description": "Present if the service code was combined with one or several additional service codes. Additional service code can affect the final time of arrival. For example if additional service code is \"before 9\"\n",
            "items": {
              "$ref": "#/components/schemas/AdditionalService"
            },
            "type": "array"
          },
          "complete": {
            "description": "If true, then the route was successfully built. Else this is an incomplete route without an ETA. The returned route is how much was possible to build",
            "type": "boolean"
          },
          "daysPickup": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "deviationMayOccur": {
            "description": "true - if deviation of timeOfArrival can occur depending on exact origin or destination address.\n",
            "type": "boolean"
          },
          "estimatedTimeOfArrival": {
            "description": "Estimated time of arrival for the item. Can be null if the route is not complete or if foreignTransitTimeInterval is present instead.\n",
            "format": "date-time",
            "type": "string"
          },
          "eveningPickup": {
            "description": "true - if deviation of timeOfArrival can occur depending on exact origin or destination address.\n",
            "type": "boolean"
          },
          "foreignTransitTimeInterval": {
            "$ref": "#/components/schemas/ForeignTransitTimeInterval"
          },
          "links": {
            "description": "The links of the calculated route. The links are ordered chronologically, where the earliest link is first.",
            "items": {
              "$ref": "#/components/schemas/PlannedRouteLink"
            },
            "type": "array"
          },
          "service": {
            "$ref": "#/components/schemas/ServicePR"
          }
        },
        "type": "object"
      },
      "PlannedRouteLink": {
        "description": "Each link represents a time interval where a production function was performed at a physical location, or a transport line was active.\n",
        "properties": {
          "countryCode": {
            "description": "ISO 3166 alpha-2 country code of the production point or line.",
            "type": "string"
          },
          "deviation": {
            "description": "true if there are might be deviations at the current link for the function.",
            "type": "boolean"
          },
          "function": {
            "description": "\"TRANSPORT\" if the link represents a line. Otherwise it's the function being performed at the production point.\n",
            "example": "DISTRIBUTION",
            "type": "string"
          },
          "hubFunction": {
            "type": "boolean"
          },
          "id": {
            "description": "The id of the production point or the transport line.",
            "type": "string"
          },
          "inboundSort": {
            "type": "boolean"
          },
          "latestBooking": {
            "description": "The latest time for booking for PostNord to be able to pick-up the parcel the same day \n(only applicable for pick-up services). If booking is made before this time, then pick-up same day is possible.\nThis property is not considered in the planned route calculation\n",
            "format": "date-time",
            "type": "string"
          },
          "name": {
            "description": "name of the production point or line.",
            "type": "string"
          },
          "stopTimeIn": {
            "description": "The start time of the function",
            "example": "14:00",
            "format": "date-time",
            "type": "string"
          },
          "stopTimeOut": {
            "description": "The end time of the function",
            "example": "21:00",
            "format": "date-time",
            "type": "string"
          },
          "transportDistance": {
            "format": "int32",
            "type": "integer"
          },
          "transportLegs": {
            "description": "The legs of the line if the link is a transport line.",
            "items": {
              "$ref": "#/components/schemas/TransportLeg"
            },
            "type": "array"
          },
          "type": {
            "description": "\"LINE\" if this link represents a transport line. Otherwise the type of the production point\n",
            "type": "string"
          }
        },
        "type": "object"
      },
      "PlannedRouteResponse": {
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/MetaData"
          },
          "noPlannedRouteReasonCode": {
            "description": "This property is present when it is not possible to calculate a complete route. The value is a description of what went wrong together with a fault code.\n",
            "type": "string"
          },
          "plannedRoute": {
            "$ref": "#/components/schemas/PlannedRoute"
          }
        },
        "type": "object"
      },
      "ProductionPointIdentifier": {
        "properties": {
          "countryCode": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "ServicePR": {
        "description": "Represents the PostNord service that was used during this route calculation.",
        "properties": {
          "code": {
            "description": "The code of the PostNord product\n* 17 (Mypack Home) \n* 18 (Parcel)\n* 19 (Mypack Collect)\n* ..\n",
            "type": "string"
          },
          "distribution": {
            "description": "True - if service supports distribution by default\nFalse - if service instead supports collection at a service point by default\n",
            "type": "boolean"
          },
          "groupCode": {
            "description": "Think of it as country code or \"DPD\". Valid values are;\n * SE for issuerCode=Z12\n * DK for issuerCode=Z11\n * NO for issuerCode=Z13\n * FI for issuerCode=Z14\n * DPD for DPD services\n",
            "type": "string"
          },
          "name": {
            "description": "Name of the PostNord product that the API used to calculated the transit time",
            "type": "string"
          },
          "pickup": {
            "description": "True - if service supports pickup at customer by default.\nFalse - if service instead supports drop off at service point by default\n",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "TransportLeg": {
        "properties": {
          "fromProductionPoint": {
            "$ref": "#/components/schemas/ProductionPointIdentifier"
          },
          "name": {
            "type": "string"
          },
          "sequenceNumber": {
            "format": "int32",
            "type": "integer"
          },
          "timeOfArrival": {
            "format": "date-time",
            "type": "string"
          },
          "timeOfDeparture": {
            "format": "date-time",
            "type": "string"
          },
          "toProductionPoint": {
            "$ref": "#/components/schemas/ProductionPointIdentifier"
          },
          "transportDistance": {
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "compositeFault": {
        "properties": {
          "faults": {
            "items": {
              "$ref": "#/components/schemas/fault"
            },
            "type": "array",
            "uniqueItems": true
          }
        },
        "type": "object"
      },
      "errorResponse": {
        "properties": {
          "compositeFault": {
            "$ref": "#/components/schemas/compositeFault"
          },
          "message": {
            "description": "High level error message.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "fault": {
        "properties": {
          "explanationText": {
            "type": "string"
          },
          "faultCode": {
            "type": "string"
          },
          "paramValues": {
            "items": {
              "$ref": "#/components/schemas/paramValue"
            },
            "type": "array",
            "uniqueItems": true
          }
        },
        "required": [
          "explanationText"
        ],
        "type": "object"
      },
      "health": {
        "properties": {
          "status": {
            "enum": [
              "UP"
            ],
            "type": "string"
          }
        },
        "required": [
          "status"
        ],
        "type": "object"
      },
      "paramValue": {
        "properties": {
          "param": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "required": [
          "param"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "apikey": {
        "in": "query",
        "name": "apikey",
        "type": "apiKey"
      }
    }
  }
}