{
  "openapi": "3.0.3",
  "info": {
    "title": "TamTam Bot API",
    "version": "0.1.8",
    "description": "Bot API to interact with TamTam messenger. Send and receive messages, manage chats, handle subscriptions and webhooks.",
    "x-jentic-source-url": "https://dev.tamtam.chat/"
  },
  "servers": [
    { "url": "https://botapi.tamtam.chat" }
  ],
  "paths": {
    "/me": {
      "get": {
        "operationId": "getMyInfo",
        "summary": "Get bot info",
        "tags": ["Bots"],
        "responses": {
          "200": { "description": "Bot info", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BotInfo" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "patch": {
        "operationId": "editMyInfo",
        "summary": "Edit bot info",
        "tags": ["Bots"],
        "requestBody": { "content": { "application/json": { "schema": { "type": "object", "properties": { "name": { "type": "string" }, "description": { "type": "string" }, "photo": { "type": "object", "properties": { "url": { "type": "string", "format": "uri" } } } } } } } },
        "responses": {
          "200": { "description": "Updated bot info", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BotInfo" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/chats": {
      "get": {
        "operationId": "getChats",
        "summary": "Get all chats",
        "tags": ["Chats"],
        "parameters": [
          { "name": "count", "in": "query", "schema": { "type": "integer", "default": 50 } },
          { "name": "marker", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Chat list", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ChatList" } } } },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/chats/{chatId}": {
      "get": {
        "operationId": "getChat",
        "summary": "Get chat",
        "tags": ["Chats"],
        "parameters": [{ "name": "chatId", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "responses": {
          "200": { "description": "Chat object", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Chat" } } } },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Chat not found" }
        }
      },
      "patch": {
        "operationId": "editChat",
        "summary": "Edit chat",
        "tags": ["Chats"],
        "parameters": [{ "name": "chatId", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "requestBody": { "content": { "application/json": { "schema": { "type": "object", "properties": { "title": { "type": "string" }, "icon": { "type": "object", "properties": { "url": { "type": "string" } } } } } } } },
        "responses": {
          "200": { "description": "Updated chat", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Chat" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/chats/{chatId}/members": {
      "get": {
        "operationId": "getMembers",
        "summary": "Get chat members",
        "tags": ["Chats"],
        "parameters": [
          { "name": "chatId", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "name": "count", "in": "query", "schema": { "type": "integer", "default": 20 } },
          { "name": "marker", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Members list", "content": { "application/json": { "schema": { "type": "object", "properties": { "members": { "type": "array", "items": { "$ref": "#/components/schemas/ChatMember" } }, "marker": { "type": "integer" } } } } } },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/messages": {
      "get": {
        "operationId": "getMessages",
        "summary": "Get messages",
        "tags": ["Messages"],
        "parameters": [
          { "name": "chat_id", "in": "query", "schema": { "type": "integer" } },
          { "name": "count", "in": "query", "schema": { "type": "integer", "default": 50 } },
          { "name": "from", "in": "query", "schema": { "type": "integer" } },
          { "name": "to", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Messages", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MessageList" } } } },
          "401": { "description": "Unauthorized" }
        }
      },
      "post": {
        "operationId": "sendMessage",
        "summary": "Send message",
        "tags": ["Messages"],
        "parameters": [
          { "name": "chat_id", "in": "query", "schema": { "type": "integer" } },
          { "name": "user_id", "in": "query", "schema": { "type": "integer" } }
        ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NewMessage" } } } },
        "responses": {
          "200": { "description": "Message sent", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Message" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/messages/{messageId}": {
      "put": {
        "operationId": "editMessage",
        "summary": "Edit message",
        "tags": ["Messages"],
        "parameters": [{ "name": "messageId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NewMessage" } } } },
        "responses": {
          "200": { "description": "Message edited" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized" }
        }
      },
      "delete": {
        "operationId": "deleteMessage",
        "summary": "Delete message",
        "tags": ["Messages"],
        "parameters": [{ "name": "messageId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Message deleted" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/answers": {
      "post": {
        "operationId": "answerCallback",
        "summary": "Answer callback",
        "description": "Answer to a callback query from inline keyboard",
        "tags": ["Messages"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "callback_id": { "type": "string" }, "message": { "$ref": "#/components/schemas/NewMessage" }, "notification": { "type": "string" } } } } } },
        "responses": {
          "200": { "description": "Callback answered" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/updates": {
      "get": {
        "operationId": "getUpdates",
        "summary": "Get updates",
        "description": "Get updates via long polling",
        "tags": ["Subscriptions"],
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 100 } },
          { "name": "timeout", "in": "query", "schema": { "type": "integer", "default": 30 } },
          { "name": "marker", "in": "query", "schema": { "type": "integer" } },
          { "name": "types", "in": "query", "schema": { "type": "array", "items": { "type": "string" } } }
        ],
        "responses": {
          "200": { "description": "Updates", "content": { "application/json": { "schema": { "type": "object", "properties": { "updates": { "type": "array", "items": { "type": "object" } }, "marker": { "type": "integer" } } } } } },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/subscriptions": {
      "get": {
        "operationId": "getSubscriptions",
        "summary": "Get subscriptions",
        "tags": ["Subscriptions"],
        "responses": {
          "200": { "description": "Subscriptions list", "content": { "application/json": { "schema": { "type": "object", "properties": { "subscriptions": { "type": "array", "items": { "$ref": "#/components/schemas/Subscription" } } } } } } },
          "401": { "description": "Unauthorized" }
        }
      },
      "post": {
        "operationId": "subscribe",
        "summary": "Subscribe to updates",
        "tags": ["Subscriptions"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SubscriptionRequest" } } } },
        "responses": {
          "200": { "description": "Subscribed" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/subscriptions/{subscriptionUrl}": {
      "delete": {
        "operationId": "unsubscribe",
        "summary": "Unsubscribe",
        "tags": ["Subscriptions"],
        "parameters": [{ "name": "subscriptionUrl", "in": "query", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Unsubscribed" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/uploads": {
      "post": {
        "operationId": "getUploadUrl",
        "summary": "Get upload URL",
        "tags": ["Uploads"],
        "parameters": [{ "name": "type", "in": "query", "required": true, "schema": { "type": "string", "enum": ["photo", "video", "audio", "file"] } }],
        "responses": {
          "200": { "description": "Upload URL", "content": { "application/json": { "schema": { "type": "object", "properties": { "url": { "type": "string", "format": "uri" } } } } } },
          "401": { "description": "Unauthorized" }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BotInfo": {
        "type": "object",
        "properties": {
          "user_id": { "type": "integer" },
          "name": { "type": "string" },
          "username": { "type": "string" },
          "description": { "type": "string" },
          "commands": { "type": "array", "items": { "type": "object", "properties": { "name": { "type": "string" }, "description": { "type": "string" } } } }
        }
      },
      "Chat": {
        "type": "object",
        "properties": {
          "chat_id": { "type": "integer" },
          "type": { "type": "string", "enum": ["dialog", "chat", "channel"] },
          "status": { "type": "string" },
          "title": { "type": "string" },
          "participants_count": { "type": "integer" },
          "owner_id": { "type": "integer" }
        }
      },
      "ChatList": {
        "type": "object",
        "properties": {
          "chats": { "type": "array", "items": { "$ref": "#/components/schemas/Chat" } },
          "marker": { "type": "integer" }
        }
      },
      "ChatMember": {
        "type": "object",
        "properties": {
          "user_id": { "type": "integer" },
          "name": { "type": "string" },
          "username": { "type": "string" },
          "is_admin": { "type": "boolean" },
          "join_time": { "type": "integer" }
        }
      },
      "Message": {
        "type": "object",
        "properties": {
          "body": { "type": "object", "properties": { "mid": { "type": "string" }, "seq": { "type": "integer" }, "text": { "type": "string" } } },
          "sender": { "type": "object", "properties": { "user_id": { "type": "integer" }, "name": { "type": "string" } } },
          "recipient": { "type": "object", "properties": { "chat_id": { "type": "integer" }, "chat_type": { "type": "string" } } },
          "timestamp": { "type": "integer" }
        }
      },
      "MessageList": {
        "type": "object",
        "properties": {
          "messages": { "type": "array", "items": { "$ref": "#/components/schemas/Message" } }
        }
      },
      "NewMessage": {
        "type": "object",
        "properties": {
          "text": { "type": "string" },
          "attachments": { "type": "array", "items": { "type": "object", "properties": { "type": { "type": "string" }, "payload": { "type": "object" } } } },
          "link": { "type": "object", "properties": { "type": { "type": "string", "enum": ["forward", "reply"] }, "mid": { "type": "string" } } },
          "notify": { "type": "boolean", "default": true }
        }
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "url": { "type": "string", "format": "uri" },
          "time": { "type": "integer" },
          "update_types": { "type": "array", "items": { "type": "string" } }
        }
      },
      "SubscriptionRequest": {
        "type": "object",
        "properties": {
          "url": { "type": "string", "format": "uri" },
          "update_types": { "type": "array", "items": { "type": "string" } }
        },
        "required": ["url"]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "string" },
          "message": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "accessToken": {
        "type": "apiKey",
        "name": "access_token",
        "in": "query",
        "description": "Bot access token"
      }
    }
  },
  "security": [
    { "accessToken": [] }
  ],
  "tags": [
    { "name": "Bots", "description": "Bot info management" },
    { "name": "Chats", "description": "Chat management" },
    { "name": "Messages", "description": "Message operations" },
    { "name": "Subscriptions", "description": "Webhook subscriptions and updates" },
    { "name": "Uploads", "description": "File uploads" }
  ]
}