{
  "openapi": "3.0.3",
  "info": {
    "title": "PreciseFP API",
    "description": "PreciseFP provides a set of RESTful APIs that allow you to interact with your data, build custom workflows, and easily integrate your current tech stack with PreciseFP's tools and services. PreciseFP is a data gathering and client onboarding platform for financial advisors.",
    "version": "3.0.0",
    "contact": {
      "name": "PreciseFP Support",
      "url": "https://precisefp.com/developer-api/"
    },
    "termsOfService": "https://precisefp.com/legal/"
  },
  "servers": [
    {
      "url": "https://app.precisefp.com/api/v3",
      "description": "PreciseFP Production API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": "Manage client and prospect accounts"
    },
    {
      "name": "Form Engagements",
      "description": "Manage form-based engagements with clients"
    },
    {
      "name": "PDF Engagements",
      "description": "Manage PDF-based engagements with clients"
    },
    {
      "name": "Templates",
      "description": "Manage form and PDF templates"
    },
    {
      "name": "Pipeline Stages",
      "description": "Manage pipeline stages for client workflows"
    },
    {
      "name": "Webhooks",
      "description": "Manage webhook subscriptions for real-time event notifications"
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "operationId": "listAccounts",
        "summary": "List accounts",
        "description": "Retrieve a list of client and prospect accounts. Supports sorting, pagination, and search by email.",
        "tags": ["Accounts"],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field and direction. Prefix with '-' for descending order (e.g., '-id', '-created_at').",
            "schema": {
              "type": "string",
              "example": "-id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip for pagination.",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Search query string to filter accounts (e.g., by email address).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter accounts by type.",
            "schema": {
              "type": "string",
              "enum": ["client", "prospect"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of accounts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createAccount",
        "summary": "Create an account",
        "description": "Create a new client or prospect account.",
        "tags": ["Accounts"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/accounts/{accountId}": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get an account",
        "description": "Retrieve a specific client or prospect account by its ID.",
        "tags": ["Accounts"],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the account.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "updateAccount",
        "summary": "Update an account",
        "description": "Update an existing client or prospect account.",
        "tags": ["Accounts"],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the account.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteAccount",
        "summary": "Delete an account",
        "description": "Delete a client or prospect account.",
        "tags": ["Accounts"],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the account.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account deleted successfully."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{accountId}/pipeline-stage": {
      "put": {
        "operationId": "moveAccountToPipelineStage",
        "summary": "Move account to pipeline stage",
        "description": "Transition an account to a specified pipeline stage.",
        "tags": ["Accounts", "Pipeline Stages"],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the account.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["pipeline_stage_id"],
                "properties": {
                  "pipeline_stage_id": {
                    "type": "integer",
                    "description": "The ID of the pipeline stage to move the account to."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account moved to pipeline stage successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/form-engagements": {
      "get": {
        "operationId": "listFormEngagements",
        "summary": "List form engagements",
        "description": "Retrieve a list of form engagements. Can be filtered by account.",
        "tags": ["Form Engagements"],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field and direction. Prefix with '-' for descending order (e.g., '-created_at').",
            "schema": {
              "type": "string",
              "example": "-created_at"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip for pagination.",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "account_id",
            "in": "query",
            "description": "Filter engagements by account ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "template_id",
            "in": "query",
            "description": "Filter engagements by template ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter engagements by status.",
            "schema": {
              "type": "string",
              "enum": ["open", "completed", "closed"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of form engagements.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormEngagementListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createFormEngagement",
        "summary": "Create a form engagement",
        "description": "Create a new form engagement to send a form template to a client or prospect.",
        "tags": ["Form Engagements"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormEngagementCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Form engagement created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormEngagement"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/form-engagements/{engagementId}": {
      "get": {
        "operationId": "getFormEngagement",
        "summary": "Get a form engagement",
        "description": "Retrieve a specific form engagement by its ID.",
        "tags": ["Form Engagements"],
        "parameters": [
          {
            "name": "engagementId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the form engagement.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Form engagement details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormEngagement"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/form-engagements/{engagementId}/close": {
      "post": {
        "operationId": "closeFormEngagement",
        "summary": "Close a form engagement",
        "description": "Mark a form engagement as closed. This may be required before retrieving the engagement data.",
        "tags": ["Form Engagements"],
        "parameters": [
          {
            "name": "engagementId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the form engagement.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Form engagement closed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormEngagement"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/form-engagements/{engagementId}/data": {
      "get": {
        "operationId": "getFormEngagementData",
        "summary": "Get form engagement data",
        "description": "Retrieve the submitted data from a completed or closed form engagement. Each item in the response contains a dataset ID, field title, and field value.",
        "tags": ["Form Engagements"],
        "parameters": [
          {
            "name": "engagementId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the form engagement.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Form engagement data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EngagementDataResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/form-engagements/{engagementId}/pdf": {
      "get": {
        "operationId": "getFormEngagementPdf",
        "summary": "Get form engagement PDF",
        "description": "Download a PDF copy of a completed form engagement.",
        "tags": ["Form Engagements"],
        "parameters": [
          {
            "name": "engagementId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the form engagement.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF file of the form engagement.",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/pdf-engagements": {
      "get": {
        "operationId": "listPdfEngagements",
        "summary": "List PDF engagements",
        "description": "Retrieve a list of PDF engagements.",
        "tags": ["PDF Engagements"],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field and direction. Prefix with '-' for descending order.",
            "schema": {
              "type": "string",
              "example": "-created_at"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip for pagination.",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "account_id",
            "in": "query",
            "description": "Filter engagements by account ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "template_id",
            "in": "query",
            "description": "Filter engagements by PDF template ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter engagements by status.",
            "schema": {
              "type": "string",
              "enum": ["open", "completed", "closed"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of PDF engagements.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PdfEngagementListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createPdfEngagement",
        "summary": "Create a PDF engagement",
        "description": "Create a new PDF engagement for a client or prospect.",
        "tags": ["PDF Engagements"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PdfEngagementCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "PDF engagement created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PdfEngagement"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/pdf-engagements/{engagementId}": {
      "get": {
        "operationId": "getPdfEngagement",
        "summary": "Get a PDF engagement",
        "description": "Retrieve a specific PDF engagement by its ID.",
        "tags": ["PDF Engagements"],
        "parameters": [
          {
            "name": "engagementId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the PDF engagement.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF engagement details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PdfEngagement"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/pdf-engagements/{engagementId}/data": {
      "get": {
        "operationId": "getPdfEngagementData",
        "summary": "Get PDF engagement data",
        "description": "Retrieve the submitted data from a completed PDF engagement.",
        "tags": ["PDF Engagements"],
        "parameters": [
          {
            "name": "engagementId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the PDF engagement.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF engagement data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EngagementDataResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/pdf-engagements/{engagementId}/pdf": {
      "get": {
        "operationId": "getPdfEngagementFile",
        "summary": "Download PDF engagement file",
        "description": "Download the completed PDF file for a PDF engagement.",
        "tags": ["PDF Engagements"],
        "parameters": [
          {
            "name": "engagementId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the PDF engagement.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The PDF file.",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/templates": {
      "get": {
        "operationId": "listTemplates",
        "summary": "List form templates",
        "description": "Retrieve a list of available form templates.",
        "tags": ["Templates"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip for pagination.",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of form templates.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/templates/{templateId}": {
      "get": {
        "operationId": "getTemplate",
        "summary": "Get a form template",
        "description": "Retrieve a specific form template by its ID.",
        "tags": ["Templates"],
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the template.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/pdf-templates": {
      "get": {
        "operationId": "listPdfTemplates",
        "summary": "List PDF templates",
        "description": "Retrieve a list of available PDF templates.",
        "tags": ["Templates"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip for pagination.",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of PDF templates.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PdfTemplateListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/pdf-templates/{templateId}": {
      "get": {
        "operationId": "getPdfTemplate",
        "summary": "Get a PDF template",
        "description": "Retrieve a specific PDF template by its ID.",
        "tags": ["Templates"],
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the PDF template.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF template details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PdfTemplate"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/pipeline-stages": {
      "get": {
        "operationId": "listPipelineStages",
        "summary": "List pipeline stages",
        "description": "Retrieve a list of available pipeline stages.",
        "tags": ["Pipeline Stages"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip for pagination.",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of pipeline stages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PipelineStageListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/pipeline-stages/{stageId}": {
      "get": {
        "operationId": "getPipelineStage",
        "summary": "Get a pipeline stage",
        "description": "Retrieve a specific pipeline stage by its ID.",
        "tags": ["Pipeline Stages"],
        "parameters": [
          {
            "name": "stageId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the pipeline stage.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pipeline stage details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PipelineStage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List webhooks",
        "description": "Retrieve a list of registered webhook subscriptions.",
        "tags": ["Webhooks"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip for pagination.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of webhooks.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Create a webhook",
        "description": "Register a new webhook subscription for real-time event notifications.",
        "tags": ["Webhooks"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/webhooks/{webhookId}": {
      "get": {
        "operationId": "getWebhook",
        "summary": "Get a webhook",
        "description": "Retrieve a specific webhook subscription by its ID.",
        "tags": ["Webhooks"],
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the webhook.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete a webhook",
        "description": "Remove a webhook subscription.",
        "tags": ["Webhooks"],
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the webhook.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook deleted successfully."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication. Contact PreciseFP support to obtain API access credentials."
      }
    },
    "schemas": {
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the account.",
            "readOnly": true
          },
          "type": {
            "type": "string",
            "enum": ["client", "prospect"],
            "description": "The type of account."
          },
          "first_name": {
            "type": "string",
            "description": "Client's first name."
          },
          "last_name": {
            "type": "string",
            "description": "Client's last name."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Client's email address."
          },
          "phone": {
            "type": "string",
            "description": "Client's phone number."
          },
          "co_client_first_name": {
            "type": "string",
            "description": "Co-client's first name."
          },
          "co_client_last_name": {
            "type": "string",
            "description": "Co-client's last name."
          },
          "co_client_email": {
            "type": "string",
            "format": "email",
            "description": "Co-client's email address."
          },
          "co_client_phone": {
            "type": "string",
            "description": "Co-client's phone number."
          },
          "team_id": {
            "type": "integer",
            "description": "ID of the related team.",
            "nullable": true
          },
          "pipeline_stage_id": {
            "type": "integer",
            "description": "ID of the current pipeline stage.",
            "nullable": true
          },
          "pipeline_stage_name": {
            "type": "string",
            "description": "Name of the current pipeline stage.",
            "readOnly": true,
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the account was created.",
            "readOnly": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the account was last updated.",
            "readOnly": true
          }
        }
      },
      "AccountCreate": {
        "type": "object",
        "required": ["type", "first_name", "last_name", "email"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["client", "prospect"],
            "description": "The type of account to create."
          },
          "first_name": {
            "type": "string",
            "description": "Client's first name."
          },
          "last_name": {
            "type": "string",
            "description": "Client's last name."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Client's email address."
          },
          "phone": {
            "type": "string",
            "description": "Client's phone number."
          },
          "co_client_first_name": {
            "type": "string",
            "description": "Co-client's first name."
          },
          "co_client_last_name": {
            "type": "string",
            "description": "Co-client's last name."
          },
          "co_client_email": {
            "type": "string",
            "format": "email",
            "description": "Co-client's email address."
          },
          "co_client_phone": {
            "type": "string",
            "description": "Co-client's phone number."
          },
          "team_id": {
            "type": "integer",
            "description": "ID of the related team."
          }
        }
      },
      "AccountUpdate": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["client", "prospect"],
            "description": "The type of account."
          },
          "first_name": {
            "type": "string",
            "description": "Client's first name."
          },
          "last_name": {
            "type": "string",
            "description": "Client's last name."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Client's email address."
          },
          "phone": {
            "type": "string",
            "description": "Client's phone number."
          },
          "co_client_first_name": {
            "type": "string",
            "description": "Co-client's first name."
          },
          "co_client_last_name": {
            "type": "string",
            "description": "Co-client's last name."
          },
          "co_client_email": {
            "type": "string",
            "format": "email",
            "description": "Co-client's email address."
          },
          "co_client_phone": {
            "type": "string",
            "description": "Co-client's phone number."
          },
          "team_id": {
            "type": "integer",
            "description": "ID of the related team."
          }
        }
      },
      "AccountListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of accounts matching the query."
          },
          "limit": {
            "type": "integer",
            "description": "The limit used in the request."
          },
          "offset": {
            "type": "integer",
            "description": "The offset used in the request."
          }
        }
      },
      "FormEngagement": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the form engagement.",
            "readOnly": true
          },
          "title": {
            "type": "string",
            "description": "Title of the form engagement."
          },
          "template_id": {
            "type": "integer",
            "description": "ID of the form template used."
          },
          "template_name": {
            "type": "string",
            "description": "Name of the form template used.",
            "readOnly": true
          },
          "account_id": {
            "type": "integer",
            "description": "ID of the associated account."
          },
          "contact_id": {
            "type": "integer",
            "description": "ID of the primary contact for this engagement."
          },
          "secondary_contact_id": {
            "type": "integer",
            "description": "ID of the secondary contact for this engagement.",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": ["open", "completed", "closed"],
            "description": "Current status of the engagement.",
            "readOnly": true
          },
          "authentication_method": {
            "type": "string",
            "description": "Authentication method used for the engagement."
          },
          "send_engagement_email": {
            "type": "boolean",
            "description": "Whether a new engagement email was sent."
          },
          "enable_reminders": {
            "type": "boolean",
            "description": "Whether periodic email reminders are enabled."
          },
          "enable_thank_you_email": {
            "type": "boolean",
            "description": "Whether a thank you email is sent upon completion."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL for the client to access the form engagement.",
            "readOnly": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the engagement was created.",
            "readOnly": true
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the engagement was completed.",
            "readOnly": true,
            "nullable": true
          },
          "opened_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the engagement was first opened by the client.",
            "readOnly": true,
            "nullable": true
          },
          "closed_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the engagement was closed.",
            "readOnly": true,
            "nullable": true
          }
        }
      },
      "FormEngagementCreate": {
        "type": "object",
        "required": ["template_id", "account_id", "contact_id"],
        "properties": {
          "template_id": {
            "type": "integer",
            "description": "ID of the form template to use."
          },
          "account_id": {
            "type": "integer",
            "description": "ID of the account to create the engagement for."
          },
          "contact_id": {
            "type": "integer",
            "description": "ID of the primary contact."
          },
          "secondary_contact_id": {
            "type": "integer",
            "description": "ID of the secondary contact."
          },
          "authentication_method": {
            "type": "string",
            "description": "Authentication method for the engagement."
          },
          "send_engagement_email": {
            "type": "boolean",
            "default": true,
            "description": "Whether to send a new engagement email to the client."
          },
          "enable_reminders": {
            "type": "boolean",
            "default": false,
            "description": "Whether to enable periodic email reminders."
          },
          "enable_thank_you_email": {
            "type": "boolean",
            "default": true,
            "description": "Whether to send a thank you email upon completion."
          }
        }
      },
      "FormEngagementListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FormEngagement"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of form engagements matching the query."
          },
          "limit": {
            "type": "integer",
            "description": "The limit used in the request."
          },
          "offset": {
            "type": "integer",
            "description": "The offset used in the request."
          }
        }
      },
      "PdfEngagement": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the PDF engagement.",
            "readOnly": true
          },
          "title": {
            "type": "string",
            "description": "Title of the PDF engagement."
          },
          "template_id": {
            "type": "integer",
            "description": "ID of the PDF template used."
          },
          "template_name": {
            "type": "string",
            "description": "Name of the PDF template used.",
            "readOnly": true
          },
          "account_id": {
            "type": "integer",
            "description": "ID of the associated account."
          },
          "status": {
            "type": "string",
            "enum": ["open", "completed", "closed"],
            "description": "Current status of the engagement.",
            "readOnly": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the engagement was created.",
            "readOnly": true
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the engagement was completed.",
            "readOnly": true,
            "nullable": true
          }
        }
      },
      "PdfEngagementCreate": {
        "type": "object",
        "required": ["template_id", "account_id"],
        "properties": {
          "template_id": {
            "type": "integer",
            "description": "ID of the PDF template to use."
          },
          "account_id": {
            "type": "integer",
            "description": "ID of the account to create the engagement for."
          }
        }
      },
      "PdfEngagementListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PdfEngagement"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of PDF engagements matching the query."
          },
          "limit": {
            "type": "integer",
            "description": "The limit used in the request."
          },
          "offset": {
            "type": "integer",
            "description": "The offset used in the request."
          }
        }
      },
      "EngagementDataResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EngagementDataItem"
            }
          }
        }
      },
      "EngagementDataItem": {
        "type": "object",
        "properties": {
          "dataset_id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifying the dataset this field belongs to."
          },
          "title": {
            "type": "string",
            "description": "The field title or label."
          },
          "value": {
            "type": "string",
            "description": "The submitted value for the field."
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the template.",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Name of the template."
          },
          "description": {
            "type": "string",
            "description": "Description of the template."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the template was created.",
            "readOnly": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the template was last updated.",
            "readOnly": true
          }
        }
      },
      "TemplateListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Template"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of templates."
          },
          "limit": {
            "type": "integer",
            "description": "The limit used in the request."
          },
          "offset": {
            "type": "integer",
            "description": "The offset used in the request."
          }
        }
      },
      "PdfTemplate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the PDF template.",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Name of the PDF template."
          },
          "description": {
            "type": "string",
            "description": "Description of the PDF template."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the template was created.",
            "readOnly": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the template was last updated.",
            "readOnly": true
          }
        }
      },
      "PdfTemplateListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PdfTemplate"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of PDF templates."
          },
          "limit": {
            "type": "integer",
            "description": "The limit used in the request."
          },
          "offset": {
            "type": "integer",
            "description": "The offset used in the request."
          }
        }
      },
      "PipelineStage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the pipeline stage.",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Name of the pipeline stage."
          },
          "order": {
            "type": "integer",
            "description": "Order position of the stage in the pipeline."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the pipeline stage was created.",
            "readOnly": true
          }
        }
      },
      "PipelineStageListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PipelineStage"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of pipeline stages."
          },
          "limit": {
            "type": "integer",
            "description": "The limit used in the request."
          },
          "offset": {
            "type": "integer",
            "description": "The offset used in the request."
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the webhook.",
            "readOnly": true
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The URL to send webhook notifications to."
          },
          "event": {
            "type": "string",
            "enum": [
              "account.created",
              "account.deleted",
              "account.pipeline_stage_changed",
              "form_engagement.created",
              "form_engagement.opened",
              "form_engagement.completed",
              "pdf_engagement.created",
              "pdf_engagement.completed"
            ],
            "description": "The event type to subscribe to."
          },
          "active": {
            "type": "boolean",
            "description": "Whether the webhook is currently active."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the webhook was created.",
            "readOnly": true
          }
        }
      },
      "WebhookCreate": {
        "type": "object",
        "required": ["url", "event"],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The URL to send webhook notifications to."
          },
          "event": {
            "type": "string",
            "enum": [
              "account.created",
              "account.deleted",
              "account.pipeline_stage_changed",
              "form_engagement.created",
              "form_engagement.opened",
              "form_engagement.completed",
              "pdf_engagement.created",
              "pdf_engagement.completed"
            ],
            "description": "The event type to subscribe to."
          }
        }
      },
      "WebhookListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Webhook"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of webhooks."
          },
          "limit": {
            "type": "integer",
            "description": "The limit used in the request."
          },
          "offset": {
            "type": "integer",
            "description": "The offset used in the request."
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error type or code."
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message."
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request. The request body or parameters are invalid.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized. The Bearer token is missing, invalid, or expired.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "The requested resource was not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
}
