{
  "openapi": "3.0.3",
  "info": {
    "title": "OOPSpam API",
    "version": "1.0.0",
    "description": "OOPSpam is a spam and abuse detection API that analyzes content, IP addresses, and email addresses to return a spam score and detailed detection results.",
    "x-jentic-source-url": "https://www.oopspam.com/docs/",
    "contact": {
      "name": "OOPSpam API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.oopspam.com/v1"
    }
  ],
  "paths": {
    "/spamdetection": {
      "post": {
        "operationId": "detectSpam",
        "summary": "Detect spam in content",
        "description": "Analyzes content and returns a spam score (0-6) with detailed detection results including language detection, IP analysis, and email validation.",
        "tags": [
          "Spam Detection"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpamDetectionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful spam analysis",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpamDetectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/spamdetection/report": {
      "post": {
        "operationId": "reportSpam",
        "summary": "Report false positive or negative",
        "description": "Reports false positives or negatives to improve spam detection accuracy.",
        "tags": [
          "Spam Detection"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpamReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Report submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpamReportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reputation/domain": {
      "post": {
        "operationId": "checkDomainReputation",
        "summary": "Check domain reputation",
        "description": "Evaluates domain reputation against multiple security providers including Google, Microsoft, Mozilla, Spamhaus, and SURBL.",
        "tags": [
          "Reputation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainReputationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain reputation results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainReputationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SpamDetectionRequest": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "Message or content to analyze for spam"
          },
          "context": {
            "type": "string",
            "description": "Website purpose description for contextual detection"
          },
          "senderIP": {
            "type": "string",
            "description": "Sender's IP address"
          },
          "email": {
            "type": "string",
            "description": "Sender's email address"
          },
          "blockTempEmail": {
            "type": "boolean",
            "default": false,
            "description": "Block disposable/temporary emails"
          },
          "blockVPN": {
            "type": "boolean",
            "default": false,
            "description": "Block VPN/Proxy/Tor IP addresses"
          },
          "blockDC": {
            "type": "boolean",
            "default": false,
            "description": "Block data center IP addresses"
          },
          "checkForLength": {
            "type": "boolean",
            "default": true,
            "description": "Flag content under 20 characters as spam"
          },
          "logIt": {
            "type": "boolean",
            "default": false,
            "description": "Enable dashboard logging"
          },
          "source": {
            "type": "string",
            "description": "Unique app/website identifier (required with logIt)"
          },
          "urlFriendly": {
            "type": "boolean",
            "default": false,
            "description": "Reduce link impact on spam score"
          },
          "allowedLanguages": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "ISO 639-1 language codes to allow"
          },
          "allowedCountries": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "ISO 3166-1 country codes to allow"
          },
          "blockedCountries": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "ISO 3166-1 country codes to block"
          }
        }
      },
      "SpamDetectionResponse": {
        "type": "object",
        "properties": {
          "Score": {
            "type": "integer",
            "description": "Spam score from 0 (not spam) to 6 (definitely spam)"
          },
          "Details": {
            "type": "object",
            "properties": {
              "isIPBlocked": {
                "type": "boolean"
              },
              "isEmailBlocked": {
                "type": "boolean"
              },
              "isContentSpam": {
                "type": "string"
              },
              "langMatch": {
                "type": "boolean"
              },
              "countryMatch": {
                "type": "boolean"
              },
              "numberOfSpamWords": {
                "type": "integer"
              }
            }
          }
        }
      },
      "SpamReportRequest": {
        "type": "object",
        "required": [
          "shouldBeSpam"
        ],
        "properties": {
          "content": {
            "type": "string",
            "description": "Message or content that was misclassified"
          },
          "senderIP": {
            "type": "string",
            "description": "Sender's IP address"
          },
          "email": {
            "type": "string",
            "description": "Sender's email address"
          },
          "shouldBeSpam": {
            "type": "boolean",
            "description": "True if content should be spam, false if it should be ham"
          }
        }
      },
      "SpamReportResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Confirmation message"
          }
        }
      },
      "DomainReputationRequest": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Domain name without https://, http://, or www prefix"
          }
        }
      },
      "DomainReputationResponse": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string"
          },
          "reputation": {
            "type": "object",
            "description": "Reputation results from various security providers"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key",
        "description": "OOPSpam API key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Reputation"
    },
    {
      "name": "Spam Detection"
    }
  ]
}
