{
  "openapi": "3.0.3",
  "info": {
    "title": "Striven API",
    "version": "1.0.0",
    "description": "Striven is a business management platform. The REST API exposes entities for Customers/Vendors, Orders, Projects, Tasks, Invoices, and Bills.",
    "x-jentic-source-url": "https://api.striven.com/swagger/v1/swagger.json"
  },
  "servers": [
    {
      "url": "https://api.striven.com"
    }
  ],
  "paths": {
    "/accesstoken": {
      "post": {
        "operationId": "getAccessToken",
        "summary": "Obtain or refresh OAuth access tokens",
        "description": "Authenticate using client credentials or refresh an existing token.",
        "tags": ["Authentication"],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token issued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/v2/tasks/search": {
      "post": {
        "operationId": "searchTasks",
        "summary": "Search tasks with filters",
        "tags": ["Tasks"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/TaskSearchRequest" }
            }
          }
        },
        "responses": {
          "200": { "description": "Task search results", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TaskListResponse" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/v2/tasks/{id}": {
      "get": {
        "operationId": "getTask",
        "summary": "Retrieve task details",
        "tags": ["Tasks"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "responses": {
          "200": { "description": "Task details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Task" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "patch": {
        "operationId": "updateTask",
        "summary": "Partially update a task",
        "tags": ["Tasks"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TaskUpdateRequest" } } } },
        "responses": {
          "200": { "description": "Task updated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Task" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/v2/tasks": {
      "post": {
        "operationId": "createTask",
        "summary": "Create a new task",
        "tags": ["Tasks"],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TaskCreateRequest" } } } },
        "responses": {
          "200": { "description": "Task created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Task" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/v2/tasks/types": {
      "get": {
        "operationId": "getTaskTypes",
        "summary": "Get task types",
        "tags": ["Tasks"],
        "responses": {
          "200": { "description": "List of task types", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/TaskType" } } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/v2/tasks/priorities": {
      "get": {
        "operationId": "getTaskPriorities",
        "summary": "Get task priorities",
        "tags": ["Tasks"],
        "responses": {
          "200": { "description": "List of task priorities", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/TaskPriority" } } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/v2/tasks/{id}/assignments": {
      "get": {
        "operationId": "getTaskAssignments",
        "summary": "Get task assignments",
        "tags": ["Tasks"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "responses": {
          "200": { "description": "Task assignments", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Assignment" } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "post": {
        "operationId": "addTaskAssignment",
        "summary": "Add task assignment",
        "tags": ["Tasks"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AssignmentRequest" } } } },
        "responses": {
          "200": { "description": "Assignment added", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Assignment" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "delete": {
        "operationId": "removeTaskAssignment",
        "summary": "Remove task assignment",
        "tags": ["Tasks"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "responses": {
          "200": { "description": "Assignment removed" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/v2/tasks/{id}/mark-open": {
      "post": {
        "operationId": "markTaskOpen",
        "summary": "Mark task as open",
        "tags": ["Tasks"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "responses": {
          "200": { "description": "Task marked as open" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/v2/tasks/{id}/mark-done": {
      "post": {
        "operationId": "markTaskDone",
        "summary": "Mark task as done",
        "tags": ["Tasks"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "responses": {
          "200": { "description": "Task marked as done" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/v2/tasks/{id}/mark-on-hold": {
      "post": {
        "operationId": "markTaskOnHold",
        "summary": "Mark task as on hold",
        "tags": ["Tasks"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "responses": {
          "200": { "description": "Task marked as on hold" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/v2/tasks/{id}/mark-canceled": {
      "post": {
        "operationId": "markTaskCanceled",
        "summary": "Mark task as canceled",
        "tags": ["Tasks"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "responses": {
          "200": { "description": "Task marked as canceled" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/v2/tasks/{id}/attachments": {
      "get": {
        "operationId": "listTaskAttachments",
        "summary": "List task attachments",
        "tags": ["Tasks"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "responses": {
          "200": { "description": "Task attachments", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Attachment" } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "post": {
        "operationId": "uploadTaskAttachment",
        "summary": "Upload task attachment",
        "tags": ["Tasks"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "requestBody": { "content": { "multipart/form-data": { "schema": { "type": "object", "properties": { "file": { "type": "string", "format": "binary" } } } } } },
        "responses": {
          "200": { "description": "Attachment uploaded", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Attachment" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/v2/tasks/{id}/custom-fields": {
      "get": {
        "operationId": "getTaskCustomFields",
        "summary": "Retrieve task custom fields",
        "tags": ["Tasks"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "responses": {
          "200": { "description": "Custom field values", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/CustomField" } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "post": {
        "operationId": "saveTaskCustomFields",
        "summary": "Save task custom fields",
        "tags": ["Tasks"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "requestBody": { "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/CustomField" } } } } },
        "responses": {
          "200": { "description": "Custom fields saved" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/v2/bill-payment-cc-charges/search": {
      "post": {
        "operationId": "searchBillPaymentCcCharges",
        "summary": "Search credit card charges",
        "tags": ["Bill Payments"],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SearchRequest" } } } },
        "responses": {
          "200": { "description": "Search results", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/BillPayment" } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/v2/bill-payment-cc-charges/{id}": {
      "get": {
        "operationId": "getBillPaymentCcCharge",
        "summary": "Get credit card charge details",
        "tags": ["Bill Payments"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "responses": {
          "200": { "description": "CC charge details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BillPayment" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/v2/bill-payment-cc-charges": {
      "post": {
        "operationId": "createBillPaymentCcCharge",
        "summary": "Create credit card charge",
        "tags": ["Bill Payments"],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BillPaymentCreateRequest" } } } },
        "responses": {
          "200": { "description": "CC charge created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BillPayment" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/v1/sales-orders/{id}": {
      "get": {
        "operationId": "getSalesOrder",
        "summary": "Get sales order details",
        "tags": ["Sales Orders"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "responses": {
          "200": { "description": "Order details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SalesOrder" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/v1/sales-orders/search": {
      "post": {
        "operationId": "searchSalesOrders",
        "summary": "Search sales orders",
        "tags": ["Sales Orders"],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SearchRequest" } } } },
        "responses": {
          "200": { "description": "Search results", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/SalesOrder" } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/v1/sales-orders": {
      "post": {
        "operationId": "createSalesOrder",
        "summary": "Create or update a sales order",
        "tags": ["Sales Orders"],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SalesOrderCreateRequest" } } } },
        "responses": {
          "200": { "description": "Order created/updated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SalesOrder" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/v2/assignment-categories": {
      "get": {
        "operationId": "listAssignmentCategories",
        "summary": "List all assignment categories",
        "tags": ["Assignment Categories"],
        "responses": {
          "200": { "description": "Assignment categories", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/AssignmentCategory" } } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/v1/pools": {
      "get": {
        "operationId": "listPools",
        "summary": "List available pools",
        "tags": ["Supporting Resources"],
        "responses": {
          "200": { "description": "List of pools", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Pool" } } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/v1/payment-terms": {
      "get": {
        "operationId": "listPaymentTerms",
        "summary": "List payment terms",
        "tags": ["Supporting Resources"],
        "responses": {
          "200": { "description": "List of payment terms", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/PaymentTerm" } } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TokenRequest": {
        "type": "object",
        "properties": {
          "grant_type": { "type": "string", "enum": ["client_credentials", "refresh_token"] },
          "client_id": { "type": "string" },
          "client_secret": { "type": "string" },
          "refresh_token": { "type": "string" }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": { "type": "string" },
          "refresh_token": { "type": "string" },
          "expires_in": { "type": "integer" },
          "token_type": { "type": "string" }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "subject": { "type": "string" },
          "description": { "type": "string" },
          "status": { "type": "string" },
          "priority": { "type": "string" },
          "type": { "type": "string" },
          "dueDate": { "type": "string", "format": "date-time" },
          "createdDate": { "type": "string", "format": "date-time" }
        }
      },
      "TaskSearchRequest": {
        "type": "object",
        "properties": {
          "AccountID": { "type": "string" },
          "PageIndex": { "type": "integer" },
          "PageSize": { "type": "integer" },
          "SortExpression": { "type": "string" },
          "SortOrder": { "type": "integer" }
        }
      },
      "TaskListResponse": { "type": "object", "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/Task" } }, "totalCount": { "type": "integer" } } },
      "TaskCreateRequest": { "type": "object", "properties": { "subject": { "type": "string" }, "description": { "type": "string" }, "typeId": { "type": "integer" }, "priorityId": { "type": "integer" } } },
      "TaskUpdateRequest": { "type": "object", "properties": { "subject": { "type": "string" }, "description": { "type": "string" }, "status": { "type": "string" } } },
      "TaskType": { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" } } },
      "TaskPriority": { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" } } },
      "Assignment": { "type": "object", "properties": { "id": { "type": "integer" }, "userId": { "type": "integer" }, "name": { "type": "string" } } },
      "AssignmentRequest": { "type": "object", "properties": { "userId": { "type": "integer" } } },
      "AssignmentCategory": { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" } } },
      "Attachment": { "type": "object", "properties": { "id": { "type": "integer" }, "fileName": { "type": "string" }, "url": { "type": "string" } } },
      "CustomField": { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" }, "value": { "type": "string" } } },
      "BillPayment": { "type": "object", "properties": { "id": { "type": "integer" }, "amount": { "type": "number" }, "date": { "type": "string", "format": "date" }, "status": { "type": "string" } } },
      "BillPaymentCreateRequest": { "type": "object", "properties": { "amount": { "type": "number" }, "vendorId": { "type": "integer" } } },
      "SalesOrder": { "type": "object", "properties": { "id": { "type": "integer" }, "orderNumber": { "type": "string" }, "status": { "type": "string" }, "total": { "type": "number" } } },
      "SalesOrderCreateRequest": { "type": "object", "properties": { "customerId": { "type": "integer" }, "items": { "type": "array", "items": { "type": "object" } } } },
      "SearchRequest": { "type": "object", "properties": { "PageIndex": { "type": "integer" }, "PageSize": { "type": "integer" }, "SortExpression": { "type": "string" }, "SortOrder": { "type": "integer" } } },
      "Pool": { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" } } },
      "PaymentTerm": { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" } } },
      "ErrorResponse": { "type": "object", "properties": { "status": { "type": "string", "enum": ["error"] }, "code": { "type": "string" }, "message": { "type": "string" } } }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://api.striven.com/accesstoken",
            "scopes": {}
          }
        }
      }
    }
  },
  "security": [
    { "oauth2": [] }
  ]
}