{
  "swagger": "2.0",
  "info": {
    "description": "This document for APSJobs test API.",
    "version": "1.05",
    "title": "APSJobs Push Vacancy API",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "rod.higgins@senuamedia.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Rod/aps-jobs_push_vacancy_api/1.05/swagger.json"
  },
  "host": "apsjobsstg.prod.acquia-sites.com",
  "basePath": "/api",
  "tags": [
    {
      "name": "vacancy",
      "description": "Everything about your Vancancies",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://apsjobsstg.prod.acquia-sites.com"
      }
    },
    {
      "name": "agency",
      "description": "Agency of Vacancy"
    },
    {
      "name": "user",
      "description": "Operations about user",
      "externalDocs": {
        "description": "Find out more about our agency",
        "url": "http://apsjobsstg.prod.acquia-sites.com"
      }
    }
  ],
  "schemes": [
    "http"
  ],
  "paths": {
    "/vacancy": {
      "post": {
        "tags": [
          "vacancy"
        ],
        "summary": "Add a new vacancy",
        "description": "",
        "operationId": "addVacancy",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-CSRF-Token",
            "in": "header",
            "description": "X-CSRF-Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Vacancy object that needs to be created",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Vacancy"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "vacancy"
        ],
        "summary": "Update an existing vacancy",
        "description": "",
        "operationId": "updateVacancy",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Vacancy object that needs to be created",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Vacancy"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Vacancy not found"
          },
          "405": {
            "description": "Validation exception"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/vacancy/{vacancyId}": {
      "get": {
        "tags": [
          "vacancy"
        ],
        "summary": "Find vacancy by ID",
        "description": "Returns a single vacancy",
        "operationId": "getVacancyById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vacancyId",
            "in": "path",
            "description": "ID of vacancy to return",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "From offset to limit number",
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit number",
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "options",
            "in": "query",
            "description": "Sort option",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Vacancy"
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "vacancy not found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/get_taxonomies": {
      "get": {
        "tags": [
          "vacancy"
        ],
        "summary": "Get all taxonomies of vacancy",
        "description": "Returns terms of taxonomies",
        "operationId": "getTaxonomies",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-CSRF-Token",
            "in": "header",
            "description": "X-CSRF-Token",
            "required": true,
            "type": "string"
          },
          {
            "name": "machine_name",
            "in": "query",
            "description": "machine name of taxonomies",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "403": {
            "description": "Access denied for user anonymous"
          },
          "404": {
            "description": "vacancy not found"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/agency": {
      "get": {
        "tags": [
          "agency"
        ],
        "summary": "Get agencies of logged in user",
        "description": "Returns agencies",
        "operationId": "getAgencies",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-CSRF-Token",
            "in": "header",
            "description": "X-CSRF-Token",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Agency"
            }
          },
          "404": {
            "description": "agency not found"
          },
          "406": {
            "description": "CSRF validation failed"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/agency/{agencyId}": {
      "get": {
        "tags": [
          "agency"
        ],
        "summary": "Find agency by ID",
        "description": "Returns a single agency",
        "operationId": "getAgencyById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-CSRF-Token",
            "in": "header",
            "description": "X-CSRF-Token",
            "required": true,
            "type": "string"
          },
          {
            "name": "agencyId",
            "in": "path",
            "description": "ID of agency to return",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Agency"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "agency not found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/user/login": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Logs user into the system",
        "description": "Login",
        "operationId": "loginUser",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "User account information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/body"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            },
            "headers": {
              "X-Rate-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "calls per hour allowed by the user"
              },
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when token expires"
              }
            }
          },
          "400": {
            "description": "Wrong username or password."
          }
        }
      }
    },
    "/user/logout": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Logs out current logged in user session",
        "description": "Logout",
        "operationId": "logoutUser",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "X-CSRF-Token",
            "description": "X-CSRF-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "CSRF validation failed",
            "schema": {
              "type": "string"
            }
          },
          "406": {
            "description": "User is not logged in."
          },
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/user/token": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Get new Token",
        "description": "Get Token",
        "operationId": "tokenUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "X-CSRF-Token",
            "description": "X-CSRF-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/inline_response_200"
            },
            "headers": {
              "X-Rate-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "calls per hour allowed by the user"
              },
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when token expires"
              }
            }
          },
          "default": {
            "description": "successful operation"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    },
    "APIKeyHeader": {
      "type": "apiKey",
      "name": "X-CSRF-Token",
      "in": "header"
    }
  },
  "definitions": {
    "Agency": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "title": {
          "type": "string"
        },
        "agency_id": {
          "type": "string"
        },
        "apsjobs_db_extract": {
          "type": "string"
        },
        "vacancy_count": {
          "type": "integer",
          "format": "int64"
        },
        "engagement_count": {
          "type": "integer",
          "format": "int64"
        },
        "transfer_count": {
          "type": "integer",
          "format": "int64"
        },
        "promotion_count": {
          "type": "integer",
          "format": "int64"
        },
        "cancel_vacancy_count": {
          "type": "integer",
          "format": "int64"
        },
        "corrigenda_count": {
          "type": "integer",
          "format": "int64"
        },
        "retirement_count": {
          "type": "integer",
          "format": "int64,"
        },
        "cancellation_count": {
          "type": "integer",
          "format": "int64"
        },
        "compliance": {
          "type": "string"
        },
        "total_notices": {
          "type": "integer",
          "format": "int64"
        },
        "agency_domain": {
          "type": "string"
        },
        "link_to_website": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "job_category": {
          "type": "integer",
          "format": "int64"
        },
        "image": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "apsc_approved": {
          "type": "boolean"
        },
        "super_user_email": {
          "type": "string"
        },
        "generic_hr_email": {
          "type": "string"
        }
      },
      "example": {
        "name": "name",
        "id": 0,
        "agency_id": "null,",
        "apsjobs_db_extract": "null,",
        "vacancy_count": "58,",
        "engagement_count": "4,",
        "transfer_count": "1,",
        "promotion_count": "1,",
        "cancel_vacancy_count": "2,",
        "corrigenda_count": "4,",
        "retirement_count": "23,",
        "cancellation_count": "2,",
        "compliance": "null,",
        "total_notices": "95,",
        "agency_domain": "gmail.com,",
        "link_to_website": "http://www.aat.gov.au,",
        "description": "<p>Libero platea quasi ligula! Ultrices tortor ut repellat</p>,",
        "job_category": "null,",
        "image": "http://apsjobsstg.prod.acquia-sites.com/sites/default/files/agency/image/agency.jpg,",
        "status": "null,",
        "apsc_approved": "true,",
        "super_user_email": "developer@senuamedia.com,",
        "generic_hr_email": "developer@senuamedia.com,"
      },
      "xml": {
        "name": "Category"
      }
    },
    "User": {
      "type": "object",
      "properties": {
        "uid": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "phone": {
          "type": "string"
        },
        "userStatus": {
          "type": "integer",
          "format": "int32",
          "description": "User Status"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "Vacancy": {
      "type": "object",
      "required": [
        "type"
      ],
      "properties": {
        "nid": {
          "type": "integer",
          "format": "int64"
        },
        "job_title": {
          "type": "string",
          "example": "Job Title"
        },
        "type": {
          "type": "string",
          "example": "aps_vacancies"
        },
        "position_number": {
          "type": "string",
          "example": "ah3"
        },
        "employer": {
          "type": "integer",
          "example": 37
        },
        "working_hours": {
          "type": "array",
          "example": [
            239,
            240
          ],
          "items": {
            "type": "integer"
          }
        },
        "engagement_types": {
          "type": "array",
          "example": [
            247,
            248
          ],
          "items": {
            "type": "integer"
          }
        },
        "specific_considerations": {
          "type": "array",
          "example": [
            12,
            13
          ],
          "items": {
            "type": "integer"
          }
        },
        "affirmative_measures": {
          "type": "array",
          "example": [
            12,
            13
          ],
          "items": {
            "type": "integer"
          }
        },
        "job_category": {
          "type": "string",
          "example": "92"
        },
        "job_level": {
          "type": "array",
          "example": [
            205
          ],
          "items": {
            "type": "integer"
          }
        },
        "clearance_level": {
          "type": "string",
          "example": "218"
        },
        "salary_type": {
          "type": "string",
          "example": "annually"
        },
        "salary_from": {
          "type": "string",
          "example": "6000"
        },
        "salary_to": {
          "type": "string",
          "example": "12000"
        },
        "isac": {
          "type": "integer",
          "example": 1
        },
        "job_description": {
          "$ref": "#/definitions/Vacancy_job_description"
        },
        "apply_url": {
          "type": "string",
          "example": "https://www.google.com"
        },
        "legal": {
          "type": "integer",
          "example": 1
        },
        "location": {
          "type": "string",
          "example": "1202 Sydney NSW"
        },
        "publication_date": {
          "$ref": "#/definitions/Vacancy_publication_date"
        },
        "closing_date": {
          "$ref": "#/definitions/Vacancy_publication_date"
        },
        "non_ongoing_duration": {
          "type": "string",
          "example": "3 months"
        },
        "approver": {
          "type": "integer",
          "example": 139
        },
        "moderation": {
          "type": "string",
          "description": "vacancy states",
          "enum": [
            "draft",
            "needs_review",
            "approved",
            "published",
            "rejected",
            "closed"
          ]
        }
      },
      "example": {
        "closing_date": {
          "date": "Thu Oct 26 2017"
        },
        "engagement_types": [
          247,
          248
        ],
        "affirmative_measures": [
          12,
          13
        ],
        "clearance_level": "218",
        "position_number": "ah3",
        "non_ongoing_duration": "3 months",
        "nid": 0,
        "type": "aps_vacancies",
        "salary_from": "6000",
        "apply_url": "https://www.google.com",
        "legal": 1,
        "employer": 37,
        "publication_date": {
          "date": "Thu Oct 26 2017"
        },
        "job_level": [
          205
        ],
        "job_title": "Job Title",
        "approver": 139,
        "salary_to": "12000",
        "job_description": {
          "value": "Mollis sapien vel harum netus! Diam vero aspernatur non corporis. Nesciunt autem blanditiis dicta lacus egestas omnis"
        },
        "working_hours": [
          239,
          240
        ],
        "specific_considerations": [
          12,
          13
        ],
        "moderation": "draft",
        "location": "2000 Sydney NSW",
        "salary_type": "annually",
        "job_category": "92",
        "isac": 1
      },
      "xml": {
        "name": "vacancy"
      }
    },
    "ApiResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "result": {
          "type": "object",
          "properties": {}
        },
        "message": {
          "type": "string"
        }
      }
    },
    "body": {
      "type": "object",
      "required": [
        "password",
        "username"
      ],
      "properties": {
        "username": {
          "type": "string",
          "example": "username"
        },
        "password": {
          "type": "string",
          "example": "password"
        }
      }
    },
    "inline_response_200": {
      "properties": {
        "token": {
          "type": "string",
          "example": "X-CSRF-Token"
        }
      },
      "example": {
        "token": "X-CSRF-Token"
      }
    },
    "Vacancy_job_description": {
      "properties": {
        "value": {
          "type": "string",
          "example": "Mollis sapien vel harum netus! Diam vero aspernatur non corporis. Nesciunt autem blanditiis dicta lacus egestas omnis"
        }
      },
      "example": {
        "value": "Mollis sapien vel harum netus! Diam vero aspernatur non corporis. Nesciunt autem blanditiis dicta lacus egestas omnis"
      }
    },
    "Vacancy_publication_date": {
      "properties": {
        "date": {
          "type": "string",
          "example": "Thu Oct 26 2017"
        }
      },
      "example": {
        "date": "Thu Oct 26 2017"
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}