{
  "openapi": "3.0.3",
  "info": {
    "title": "Staatic API documentation",
    "description": "This is the Staatic API. You can find out more about Staatic at [https://staatic.com](https://staatic.com).",
    "termsOfService": "https://staatic.com/terms",
    "contact": {
      "name": "Staatic Support",
      "url": "https://staatic.com/support",
      "email": "contact@staatic.com"
    },
    "license": {
      "name": "proprietary",
      "url": "https://staatic.com/license"
    },
    "version": "1.0.2",
    "x-logo": {
      "url": "/logo.svg",
      "href": "https://staatic.com/",
      "altText": "Staatic"
    },
    "x-jentic-source-url": "https://api.staatic.com/docs"
  },
  "servers": [
    {
      "url": "https://api.staatic.com/",
      "description": "Main (production) server"
    }
  ],
  "paths": {
    "/v1/deployments": {
      "get": {
        "tags": [
          "deployment"
        ],
        "summary": "Gets a collection of deployments",
        "operationId": "getDeployments",
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The field to sort the results by",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "updated_at"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/Direction"
          },
          {
            "name": "site_id",
            "in": "query",
            "description": "The site ID to filter the result",
            "schema": {
              "type": "string",
              "format": "ulid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of deployments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-deployments"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      },
      "post": {
        "tags": [
          "deployment"
        ],
        "summary": "Creates a new deployment",
        "operationId": "createDeployment",
        "requestBody": {
          "description": "Deployment to be created",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDeploymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New deployment resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deployment"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-deployments"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      }
    },
    "/v1/deployments/{id}": {
      "get": {
        "tags": [
          "deployment"
        ],
        "summary": "Gets a deployment by ID",
        "operationId": "getDeploymentById",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeploymentId"
          }
        ],
        "responses": {
          "200": {
            "description": "A deployment resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deployment"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-deployments"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      },
      "patch": {
        "tags": [
          "deployment"
        ],
        "summary": "Updates an existing deployment",
        "operationId": "updateDeployment",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeploymentId"
          }
        ],
        "requestBody": {
          "description": "Deployment properties that need to be updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDeploymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A deployment resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deployment"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-deployments"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      }
    },
    "/v1/sites/{id}/files": {
      "get": {
        "tags": [
          "file"
        ],
        "summary": "Gets a collection of deployment files for the specified site",
        "operationId": "getSiteFiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The field to sort the results by",
            "schema": {
              "type": "string",
              "enum": [
                "path",
                "mime_type",
                "size"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/Direction"
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of deployment files",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentFileCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-deployments"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      }
    },
    "/v1/deployments/{id}/files/{path}": {
      "put": {
        "tags": [
          "file"
        ],
        "summary": "Uploads a deployment file",
        "operationId": "uploadDeploymentFile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The deployment ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ulid"
            }
          },
          {
            "name": "path",
            "in": "path",
            "description": "The file path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The deployment file payload",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A deployment file resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentFile"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-deployments"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      }
    },
    "/v1/forms": {
      "get": {
        "tags": [
          "form"
        ],
        "summary": "Gets a collection of forms",
        "operationId": "getForms",
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The field to sort the results by",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "response_type",
                "created_at",
                "updated_at"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/Direction"
          },
          {
            "name": "site_id",
            "in": "query",
            "description": "The site ID to filter the result",
            "schema": {
              "type": "string",
              "format": "ulid"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "The form name to filter the result",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Comma-separated list of additional properties to include in the result",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Query"
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of forms",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-forms"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      },
      "post": {
        "tags": [
          "form"
        ],
        "summary": "Creates a new form",
        "operationId": "createForm",
        "requestBody": {
          "description": "Form to be created",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFormRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New form resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Form"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-forms"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      }
    },
    "/v1/forms/{id}": {
      "get": {
        "tags": [
          "form"
        ],
        "summary": "Gets a form by ID",
        "operationId": "getFormById",
        "parameters": [
          {
            "$ref": "#/components/parameters/FormId"
          }
        ],
        "responses": {
          "200": {
            "description": "A form resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Form"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-forms"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      },
      "delete": {
        "tags": [
          "form"
        ],
        "summary": "Deletes an existing form",
        "operationId": "deleteForm",
        "parameters": [
          {
            "$ref": "#/components/parameters/FormId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-forms"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      },
      "patch": {
        "tags": [
          "form"
        ],
        "summary": "Updates an existing form",
        "operationId": "updateForm",
        "parameters": [
          {
            "$ref": "#/components/parameters/FormId"
          }
        ],
        "requestBody": {
          "description": "Form properties that need to be updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFormRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A form resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Form"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-forms"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      }
    },
    "/v1/form-notifications": {
      "get": {
        "tags": [
          "form-notification"
        ],
        "summary": "Gets a collection of form notifications",
        "operationId": "getFormNotifications",
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The field to sort the results by",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "updated_at"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/Direction"
          },
          {
            "name": "site_id",
            "in": "query",
            "description": "The site ID to filter the result",
            "schema": {
              "type": "string",
              "format": "ulid"
            }
          },
          {
            "name": "form_id",
            "in": "query",
            "description": "The form ID to filter the result",
            "schema": {
              "type": "string",
              "format": "ulid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of form notifications",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormNotificationCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-forms"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      },
      "post": {
        "tags": [
          "form-notification"
        ],
        "summary": "Creates a new form notification",
        "operationId": "createFormNotification",
        "requestBody": {
          "description": "Form notification to be created",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFormNotificationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New form notification resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormNotification"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-forms"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      }
    },
    "/v1/form-notifications/{id}": {
      "get": {
        "tags": [
          "form-notification"
        ],
        "summary": "Gets a form notification by ID",
        "operationId": "getFormNotificationById",
        "parameters": [
          {
            "$ref": "#/components/parameters/FormNotificationId"
          }
        ],
        "responses": {
          "200": {
            "description": "A form notification resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormNotification"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-forms"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      },
      "delete": {
        "tags": [
          "form-notification"
        ],
        "summary": "Deletes an existing form notification",
        "operationId": "deleteFormNotification",
        "parameters": [
          {
            "$ref": "#/components/parameters/FormNotificationId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-forms"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      },
      "patch": {
        "tags": [
          "form-notification"
        ],
        "summary": "Updates an existing form notification",
        "operationId": "updateFormNotification",
        "parameters": [
          {
            "$ref": "#/components/parameters/FormNotificationId"
          }
        ],
        "requestBody": {
          "description": "Form notification properties that need to be updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFormNotificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A form notification resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormNotification"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-forms"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      }
    },
    "/v1/form-submissions": {
      "get": {
        "tags": [
          "form-submission"
        ],
        "summary": "Gets a collection of form submissions",
        "operationId": "getFormSubmissions",
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The field to sort the results by",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "subject",
                "created_at",
                "updated_at"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/Direction"
          },
          {
            "name": "site_id",
            "in": "query",
            "description": "The site ID to filter the result",
            "schema": {
              "type": "string",
              "format": "ulid"
            }
          },
          {
            "name": "form_id",
            "in": "query",
            "description": "The form ID to filter the result",
            "schema": {
              "type": "string",
              "format": "ulid"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "The form submission status to filter the result",
            "schema": {
              "type": "string",
              "enum": [
                "spam",
                "verified"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/Query"
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of form submissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormSubmissionCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-forms"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      },
      "post": {
        "tags": [
          "form-submission"
        ],
        "summary": "Creates a new form submission",
        "operationId": "createFormSubmission",
        "requestBody": {
          "description": "Form submission to be created",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFormSubmissionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New form submission resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormSubmission"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-forms"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      }
    },
    "/v1/form-submissions/{id}": {
      "get": {
        "tags": [
          "form-submission"
        ],
        "summary": "Gets a form submission by ID",
        "operationId": "getFormSubmissionById",
        "parameters": [
          {
            "$ref": "#/components/parameters/FormSubmissionId"
          }
        ],
        "responses": {
          "200": {
            "description": "A form submission resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormSubmission"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-forms"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      },
      "delete": {
        "tags": [
          "form-submission"
        ],
        "summary": "Deletes an existing form submission",
        "operationId": "deleteFormSubmission",
        "parameters": [
          {
            "$ref": "#/components/parameters/FormSubmissionId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-forms"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      },
      "patch": {
        "tags": [
          "form-submission"
        ],
        "summary": "Updates an existing form submission",
        "operationId": "updateFormSubmission",
        "parameters": [
          {
            "$ref": "#/components/parameters/FormSubmissionId"
          }
        ],
        "requestBody": {
          "description": "Form submission properties that need to be updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFormSubmissionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A form submission resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormSubmission"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-forms"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      }
    },
    "/v1/form-templates": {
      "get": {
        "tags": [
          "form-template"
        ],
        "summary": "Gets a collection of form templates",
        "operationId": "getFormTemplates",
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The field to sort the results by",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "subject",
                "created_at",
                "updated_at"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/Direction"
          },
          {
            "name": "name",
            "in": "query",
            "description": "The template name to filter the result",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Query"
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of form templates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormTemplateCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-forms"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      },
      "post": {
        "tags": [
          "form-template"
        ],
        "summary": "Creates a new form template",
        "operationId": "createFormTemplate",
        "requestBody": {
          "description": "Form template to be created",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFormTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New form template resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormTemplate"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-forms"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      }
    },
    "/v1/form-templates/{id}": {
      "get": {
        "tags": [
          "form-template"
        ],
        "summary": "Gets a form template by ID",
        "operationId": "getFormTemplateById",
        "parameters": [
          {
            "$ref": "#/components/parameters/FormTemplateId"
          }
        ],
        "responses": {
          "200": {
            "description": "A form template resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormTemplate"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-forms"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      },
      "delete": {
        "tags": [
          "form-template"
        ],
        "summary": "Deletes an existing form template",
        "operationId": "deleteFormTemplate",
        "parameters": [
          {
            "$ref": "#/components/parameters/FormTemplateId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-forms"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      },
      "patch": {
        "tags": [
          "form-template"
        ],
        "summary": "Updates an existing form template",
        "operationId": "updateFormTemplate",
        "parameters": [
          {
            "$ref": "#/components/parameters/FormTemplateId"
          }
        ],
        "requestBody": {
          "description": "Form template properties that need to be updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFormTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A form template resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormTemplate"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-forms"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      }
    },
    "/v1/plugins": {
      "get": {
        "tags": [
          "plugin"
        ],
        "summary": "Gets a collection of plugins",
        "operationId": "getPlugins",
        "responses": {
          "200": {
            "description": "A collection of plugins",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "oauth_user": []
          },
          {
            "oauth_site": []
          }
        ]
      }
    },
    "/v1/search/{index}": {
      "post": {
        "tags": [
          "search"
        ],
        "summary": "Performs a search query on the specified search index",
        "operationId": "search",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchIndexName"
          }
        ],
        "requestBody": {
          "description": "The search query object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A collection of search items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SearchItem"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        },
        "security": [
          {
            "public_api_key": []
          }
        ]
      }
    },
    "/v1/search-indices": {
      "get": {
        "tags": [
          "search-index"
        ],
        "summary": "Gets a collection of search indices",
        "operationId": "getSearchIndices",
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The field to sort the results by",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "created_at",
                "updated_at"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/Direction"
          },
          {
            "name": "site_id",
            "in": "query",
            "description": "The site ID to filter the result",
            "schema": {
              "type": "string",
              "format": "ulid"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "The search index name to filter the result",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of search indicess",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchIndexCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-search"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      },
      "post": {
        "tags": [
          "search-index"
        ],
        "summary": "Creates a new search index",
        "operationId": "createSearchIndex",
        "requestBody": {
          "description": "Search index to be created",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSearchIndexRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New search index resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchIndex"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-search"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      }
    },
    "/v1/search-indices/{index}": {
      "get": {
        "tags": [
          "search-index"
        ],
        "summary": "Gets a search index by name",
        "operationId": "getSearchIndexByName",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchIndexName"
          }
        ],
        "responses": {
          "200": {
            "description": "A search index resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchIndex"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-search"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      },
      "delete": {
        "tags": [
          "search-index"
        ],
        "summary": "Deletes an existing search index",
        "operationId": "deleteSearchIndex",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchIndexName"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-search"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      },
      "patch": {
        "tags": [
          "search-index"
        ],
        "summary": "Updates an existing search index",
        "operationId": "updateSearchIndex",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchIndexName"
          }
        ],
        "requestBody": {
          "description": "Search index properties that need to be updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSearchIndexRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A search index resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchIndex"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-search"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      }
    },
    "/v1/search-indices/{index}/clear": {
      "post": {
        "tags": [
          "search-index"
        ],
        "summary": "Clears a search index by name",
        "operationId": "clearSearchIndexByName",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchIndexName"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-search"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      }
    },
    "/v1/search-indices/{index}/{id}": {
      "delete": {
        "tags": [
          "search-record"
        ],
        "summary": "Deletes an existing search record",
        "operationId": "deleteSearchRecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchIndexName"
          },
          {
            "$ref": "#/components/parameters/SearchRecordId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-search"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      }
    },
    "/v1/search-indices/{index}/import": {
      "post": {
        "tags": [
          "search-record"
        ],
        "summary": "Imports search records into the specified search index",
        "operationId": "importSearchRecords",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchIndexName"
          }
        ],
        "requestBody": {
          "description": "Search records to be imported",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportSearchRecordsRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-search"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      }
    },
    "/v1/search-indices/{index}/delete": {
      "post": {
        "tags": [
          "search-record"
        ],
        "summary": "Deletes search records from the specified search index",
        "operationId": "deleteSearchRecords",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchIndexName"
          }
        ],
        "requestBody": {
          "description": "Search records to be deleted",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteSearchRecordsRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-search"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      }
    },
    "/v1/sites": {
      "get": {
        "tags": [
          "site"
        ],
        "summary": "Gets a collection of sites",
        "operationId": "getSites",
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The field to sort the results by",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "created_at",
                "updated_at"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/Direction"
          },
          {
            "name": "name",
            "in": "query",
            "description": "The site name to filter the result",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Query"
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of sites",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-sites"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      },
      "post": {
        "tags": [
          "site"
        ],
        "summary": "Creates a new site",
        "operationId": "createSite",
        "requestBody": {
          "description": "Site to be created",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSiteRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New site resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-sites"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      }
    },
    "/v1/sites/{id}": {
      "get": {
        "tags": [
          "site"
        ],
        "summary": "Gets a site by ID",
        "operationId": "getSiteById",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteId"
          }
        ],
        "responses": {
          "200": {
            "description": "A site resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-sites"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      },
      "delete": {
        "tags": [
          "site"
        ],
        "summary": "Deletes an existing site",
        "operationId": "deleteSite",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-sites"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      },
      "patch": {
        "tags": [
          "site"
        ],
        "summary": "Updates an existing site",
        "operationId": "updateSite",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteId"
          }
        ],
        "requestBody": {
          "description": "Site properties that need to be updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSiteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A site resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-sites"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      }
    },
    "/v1/subscriptions": {
      "get": {
        "tags": [
          "subscription"
        ],
        "summary": "Gets a collection of subscriptions",
        "operationId": "getSubscriptions",
        "responses": {
          "200": {
            "description": "A collection of subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "oauth_user": [
              "manage-subscriptions"
            ]
          },
          {
            "oauth_site": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "HighlightableAttributes": {
        "type": "array",
        "items": {
          "type": "string"
        }
      },
      "Links": {
        "properties": {
          "first": {
            "type": "string",
            "format": "url"
          },
          "last": {
            "type": "string",
            "format": "url"
          },
          "prev": {
            "type": "string",
            "format": "url",
            "nullable": true
          },
          "next": {
            "type": "string",
            "format": "url",
            "nullable": true
          }
        },
        "type": "object"
      },
      "Meta": {
        "properties": {
          "current_page": {
            "type": "integer"
          },
          "from": {
            "type": "integer"
          },
          "last_page": {
            "type": "integer"
          },
          "path": {
            "type": "string",
            "format": "url"
          },
          "per_page": {
            "type": "integer"
          },
          "to": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "RetrievableAttributes": {
        "type": "array",
        "items": {
          "type": "string"
        }
      },
      "SearchItem": {
        "properties": {
          "_id": {
            "type": "string"
          },
          "_index": {
            "type": "string"
          }
        },
        "type": "object",
        "additionalProperties": true
      },
      "SearchableAttributes": {
        "type": "array",
        "items": {
          "type": "string"
        }
      },
      "UnprocessableError": {
        "properties": {
          "message": {
            "type": "string"
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "type": "object"
      },
      "UnretrievableAttributes": {
        "type": "array",
        "items": {
          "type": "string"
        }
      },
      "CreateDeploymentRequest": {
        "required": [
          "files"
        ],
        "properties": {
          "site_id": {
            "type": "string",
            "format": "ulid"
          },
          "files": {
            "description": "A digest including a file path and SHA1 for each item",
            "type": "object"
          },
          "draft": {
            "description": "Whether to deploy to the preview or live environment",
            "type": "boolean"
          },
          "async": {
            "description": "Whether to process the request asynchronously",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "CreateFormNotificationRequest": {
        "required": [
          "type",
          "data"
        ],
        "properties": {
          "site_id": {
            "type": "string",
            "format": "ulid"
          },
          "form_id": {
            "type": "string",
            "format": "ulid",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "autoresponse",
              "email",
              "webhook"
            ]
          },
          "url": {
            "type": "string",
            "format": "url"
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "form_template_id": {
            "type": "string",
            "format": "ulid",
            "nullable": true
          }
        },
        "type": "object"
      },
      "CreateFormRequest": {
        "required": [
          "name",
          "response_type"
        ],
        "properties": {
          "site_id": {
            "type": "string",
            "format": "ulid"
          },
          "name": {
            "type": "string"
          },
          "response_type": {
            "type": "string",
            "enum": [
              "redirect",
              "thank_you_page"
            ]
          },
          "redirect_url": {
            "type": "string",
            "format": "url"
          },
          "honeypot_field": {
            "type": "string",
            "nullable": true
          },
          "recaptcha_secret": {
            "type": "string",
            "nullable": true
          }
        },
        "type": "object"
      },
      "CreateFormSubmissionRequest": {
        "required": [
          "form_id",
          "data"
        ],
        "properties": {
          "form_id": {
            "type": "string",
            "format": "ulid"
          },
          "data": {
            "type": "object"
          },
          "ip": {
            "type": "string",
            "format": "ip"
          },
          "http_user_agent": {
            "type": "string"
          },
          "http_referrer": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "CreateFormTemplateRequest": {
        "required": [
          "name",
          "from_name",
          "subject",
          "message"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "from_name": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "CreateSearchIndexRequest": {
        "required": [
          "name"
        ],
        "properties": {
          "site_id": {
            "type": "string",
            "format": "ulid"
          },
          "name": {
            "type": "string"
          },
          "searchable_attributes": {
            "$ref": "#/components/schemas/SearchableAttributes"
          },
          "highlightable_attributes": {
            "$ref": "#/components/schemas/HighlightableAttributes"
          }
        },
        "type": "object"
      },
      "CreateSiteRequest": {
        "required": [
          "name",
          "url"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "url"
          }
        },
        "type": "object"
      },
      "DeleteSearchRecordsRequest": {
        "required": [
          "recordIds"
        ],
        "properties": {
          "recordIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maximum": 2000,
            "minimum": 1
          }
        },
        "type": "object"
      },
      "ImportSearchRecordsRequest": {
        "required": [
          "records"
        ],
        "properties": {
          "records": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            },
            "maximum": 2000,
            "minimum": 1
          }
        },
        "type": "object"
      },
      "SearchRequest": {
        "required": [
          "search"
        ],
        "properties": {
          "query": {
            "description": "The search query",
            "type": "string"
          },
          "per_page": {
            "description": "The number of search items to return in one request",
            "type": "integer",
            "maximum": 100,
            "minimum": 1
          },
          "page": {
            "description": "The page of search items to return",
            "type": "integer",
            "minimum": 1
          }
        },
        "type": "object"
      },
      "UpdateDeploymentRequest": {
        "properties": {
          "files": {
            "description": "A digest inluding a file path and SHA1 for each item",
            "type": "object"
          },
          "draft": {
            "description": "Whether to deploy to the preview or live environment",
            "type": "boolean"
          },
          "async": {
            "description": "Whether to process the request asynchronously",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "UpdateFormNotificationRequest": {
        "properties": {
          "form_id": {
            "type": "string",
            "format": "ulid",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "autoresponse",
              "email",
              "webhook"
            ]
          },
          "url": {
            "type": "string",
            "format": "url"
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "form_template_id": {
            "type": "string",
            "format": "ulid",
            "nullable": true
          }
        },
        "type": "object"
      },
      "UpdateFormRequest": {
        "properties": {
          "name": {
            "type": "string"
          },
          "response_type": {
            "type": "string",
            "enum": [
              "redirect",
              "thank_you_page"
            ]
          },
          "redirect_url": {
            "type": "string",
            "format": "url"
          },
          "honeypot_field": {
            "type": "string",
            "nullable": true
          },
          "recaptcha_secret": {
            "type": "string",
            "nullable": true
          }
        },
        "type": "object"
      },
      "UpdateFormSubmissionRequest": {
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "spam",
              "verified"
            ]
          }
        },
        "type": "object"
      },
      "UpdateFormTemplateRequest": {
        "properties": {
          "name": {
            "type": "string"
          },
          "from_name": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "UpdateSearchIndexRequest": {
        "properties": {
          "name": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "UpdateSiteRequest": {
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "url"
          }
        },
        "type": "object"
      },
      "Deployment": {
        "properties": {
          "id": {
            "type": "string",
            "format": "ulid"
          },
          "status": {
            "type": "string",
            "enum": [
              "uploading",
              "prepared",
              "deploying",
              "deployed",
              "failed",
              "superseded",
              "expired"
            ]
          },
          "required_files": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "sha1"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "site_id": {
            "type": "string",
            "format": "ulid"
          },
          "site_name": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "DeploymentCollection": {
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Deployment"
            }
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        },
        "type": "object"
      },
      "DeploymentFile": {
        "properties": {
          "id": {
            "type": "string",
            "format": "ulid"
          },
          "path": {
            "type": "string"
          },
          "sha1": {
            "type": "string"
          },
          "mime_type": {
            "type": "string"
          },
          "size": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "DeploymentFileCollection": {
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeploymentFile"
            }
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        },
        "type": "object"
      },
      "Form": {
        "properties": {
          "id": {
            "type": "string",
            "format": "ulid"
          },
          "name": {
            "type": "string"
          },
          "response_type": {
            "type": "string",
            "enum": [
              "redirect",
              "thank_you_page"
            ]
          },
          "redirect_url": {
            "type": "string",
            "format": "url"
          },
          "honeypot_field": {
            "type": "string",
            "nullable": true
          },
          "recaptcha_secret": {
            "type": "string",
            "nullable": true
          },
          "endpoint": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "num_submissions": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "integer"
            }
          },
          "last_submission": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/FormSubmission"
              },
              {
                "type": "null"
              }
            ]
          },
          "site_id": {
            "type": "string",
            "format": "ulid"
          },
          "site_name": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "FormCollection": {
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Form"
            }
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        },
        "type": "object"
      },
      "FormNotification": {
        "properties": {
          "id": {
            "type": "string",
            "format": "ulid"
          },
          "type": {
            "type": "string",
            "enum": [
              "autoresponse",
              "email",
              "webhook"
            ]
          },
          "url": {
            "type": "string",
            "format": "url"
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "form_template_id": {
            "type": "string",
            "format": "ulid",
            "nullable": true
          },
          "form_template_name": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "form_id": {
            "type": "string",
            "format": "ulid",
            "nullable": true
          },
          "form_name": {
            "type": "string",
            "nullable": true
          },
          "site_id": {
            "type": "string",
            "format": "ulid"
          },
          "site_name": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "FormNotificationCollection": {
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FormNotification"
            }
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        },
        "type": "object"
      },
      "FormSubmission": {
        "properties": {
          "id": {
            "type": "string",
            "format": "ulid"
          },
          "status": {
            "type": "string",
            "enum": [
              "spam",
              "verified"
            ]
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "company": {
            "type": "string",
            "nullable": true
          },
          "body": {
            "type": "string",
            "nullable": true
          },
          "data": {
            "type": "object"
          },
          "http_referrer": {
            "type": "string",
            "format": "url",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "notified_at": {
            "type": "string",
            "format": "date-time"
          },
          "form_id": {
            "type": "string",
            "format": "ulid"
          },
          "form_name": {
            "type": "string"
          },
          "site_id": {
            "type": "string",
            "format": "ulid"
          },
          "site_name": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "FormSubmissionCollection": {
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FormSubmission"
            }
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        },
        "type": "object"
      },
      "FormTemplate": {
        "properties": {
          "id": {
            "type": "string",
            "format": "ulid"
          },
          "name": {
            "type": "string"
          },
          "from_name": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "account_id": {
            "type": "string",
            "format": "ulid"
          },
          "account_name": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "FormTemplateCollection": {
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FormTemplate"
            }
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        },
        "type": "object"
      },
      "Plugin": {
        "properties": {
          "name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "url"
          },
          "last_version": {
            "properties": {
              "version": {
                "type": "string"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "download_url": {
                "type": "string",
                "format": "url"
              }
            },
            "type": "object"
          },
          "meta": {
            "type": "object"
          }
        },
        "type": "object"
      },
      "PluginCollection": {
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Plugin"
            }
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        },
        "type": "object"
      },
      "SearchIndex": {
        "properties": {
          "name": {
            "type": "string"
          },
          "searchable_attributes": {
            "$ref": "#/components/schemas/SearchableAttributes"
          },
          "retrievable_attributes": {
            "$ref": "#/components/schemas/RetrievableAttributes"
          },
          "unretrievable_attributes": {
            "$ref": "#/components/schemas/UnretrievableAttributes"
          },
          "records_per_page": {
            "type": "integer"
          },
          "pagination_limit": {
            "type": "integer"
          },
          "highlightable_attributes": {
            "$ref": "#/components/schemas/HighlightableAttributes"
          },
          "highlight_prefix_tag": {
            "type": "string"
          },
          "highlight_postfix_tag": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "site_id": {
            "type": "string",
            "format": "ulid"
          },
          "site_name": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "SearchIndexCollection": {
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchIndex"
            }
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        },
        "type": "object"
      },
      "Site": {
        "properties": {
          "id": {
            "type": "string",
            "format": "ulid"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "url"
          },
          "public_api_key": {
            "type": "string"
          },
          "active_deployment_id": {
            "type": "string",
            "format": "ulid",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "account_id": {
            "type": "string",
            "format": "ulid"
          },
          "account_name": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "SiteCollection": {
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Site"
            }
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        },
        "type": "object"
      },
      "Subscription": {
        "properties": {
          "name": {
            "type": "string"
          },
          "plan": {
            "type": "string",
            "nullable": true
          },
          "active": {
            "type": "boolean"
          },
          "ends_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "account_id": {
            "type": "string",
            "format": "ulid"
          },
          "account_name": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "SubscriptionCollection": {
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Subscription"
            }
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        },
        "type": "object"
      }
    },
    "responses": {
      "Deleted": {
        "description": "The specified resource was deleted"
      },
      "Error": {
        "description": "General error"
      },
      "NotFound": {
        "description": "The specified resource was not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Success": {
        "description": "The operation completed successfully"
      },
      "Unauthorized": {
        "description": "Authorization information is missing or invalid",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unprocessable": {
        "description": "The given data was invalid",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UnprocessableError"
            }
          }
        }
      }
    },
    "parameters": {
      "DeploymentId": {
        "name": "id",
        "in": "path",
        "description": "The deployment ID",
        "required": true,
        "schema": {
          "type": "string",
          "format": "ulid"
        }
      },
      "Direction": {
        "name": "direction",
        "in": "query",
        "description": "The direction to sort the results by",
        "schema": {
          "type": "string",
          "enum": [
            "ASC",
            "DESC"
          ]
        }
      },
      "FormId": {
        "name": "id",
        "in": "path",
        "description": "The form ID",
        "required": true,
        "schema": {
          "type": "string",
          "format": "ulid"
        }
      },
      "FormNotificationId": {
        "name": "id",
        "in": "path",
        "description": "The form notification ID",
        "required": true,
        "schema": {
          "type": "string",
          "format": "ulid"
        }
      },
      "FormSubmissionId": {
        "name": "id",
        "in": "path",
        "description": "The form submission ID",
        "required": true,
        "schema": {
          "type": "string",
          "format": "ulid"
        }
      },
      "FormTemplateId": {
        "name": "id",
        "in": "path",
        "description": "The form template ID",
        "required": true,
        "schema": {
          "type": "string",
          "format": "ulid"
        }
      },
      "Page": {
        "name": "page",
        "in": "query",
        "description": "The page of items to return",
        "schema": {
          "type": "integer",
          "minimum": 1
        }
      },
      "PerPage": {
        "name": "per_page",
        "in": "query",
        "description": "The number of items to return per page",
        "schema": {
          "type": "integer",
          "maximum": 100,
          "minimum": 1
        }
      },
      "Query": {
        "name": "query",
        "in": "query",
        "description": "Search query to filter the result",
        "schema": {
          "type": "string"
        }
      },
      "SearchIndexName": {
        "name": "index",
        "in": "path",
        "description": "The search index name",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "SearchRecordId": {
        "name": "id",
        "in": "path",
        "description": "The search record ID",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "SiteId": {
        "name": "id",
        "in": "path",
        "description": "The site ID",
        "required": true,
        "schema": {
          "type": "string",
          "format": "ulid"
        }
      },
      "Sort": {
        "name": "sort",
        "in": "query",
        "description": "The field to sort the results by",
        "schema": {
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "oauth_site": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "/oauth2/token",
            "scopes": {}
          }
        }
      },
      "oauth_user": {
        "type": "oauth2",
        "flows": {
          "password": {
            "tokenUrl": "/oauth2/token",
            "refreshUrl": "/oauth2/token",
            "scopes": {
              "manage-deployments": "Manage deployments",
              "manage-forms": "Manage forms",
              "manage-sites": "Manage sites",
              "manage-search": "Manage search"
            }
          }
        }
      },
      "public_api_key": {
        "type": "apiKey",
        "name": "X-Staatic-API-Key",
        "in": "header"
      }
    }
  },
  "tags": [
    {
      "name": "deployment",
      "description": "Deployment operations",
      "x-displayName": "Deployments"
    },
    {
      "name": "file",
      "description": "File operations",
      "x-displayName": "Files"
    },
    {
      "name": "form",
      "description": "Form operations",
      "x-displayName": "Forms"
    },
    {
      "name": "form-notification",
      "description": "Form notification operations",
      "x-displayName": "Form Notifications"
    },
    {
      "name": "form-submission",
      "description": "Form submission operations",
      "x-displayName": "Form Submissions"
    },
    {
      "name": "form-template",
      "description": "Form template operations",
      "x-displayName": "Form Templates"
    },
    {
      "name": "plugin",
      "description": "Plugin operations",
      "x-displayName": "Plugins"
    },
    {
      "name": "search",
      "description": "Search operations",
      "x-displayName": "Search"
    },
    {
      "name": "search-index",
      "description": "Search index operations",
      "x-displayName": "Search Indices"
    },
    {
      "name": "search-record",
      "description": "Search record operations",
      "x-displayName": "Search Records"
    },
    {
      "name": "site",
      "description": "Site operations",
      "x-displayName": "Sites"
    },
    {
      "name": "subscription",
      "description": "Subscription operations",
      "x-displayName": "Subscriptions"
    }
  ],
  "externalDocs": {
    "description": "Find out more about Staatic",
    "url": "https://staatic.com/documentation"
  },
  "x-tagGroups": [
    {
      "name": "Account",
      "tags": [
        "subscription",
        "site",
        "plugin"
      ]
    },
    {
      "name": "Deployments",
      "tags": [
        "deployment",
        "file"
      ]
    },
    {
      "name": "Forms",
      "tags": [
        "form",
        "form-notification",
        "form-template",
        "form-submission"
      ]
    },
    {
      "name": "Search",
      "tags": [
        "search",
        "search-index",
        "search-record"
      ]
    }
  ]
}