{
  "openapi": "3.0.3",
  "info": {
    "title": "Enquiry Tracker Partner API",
    "version": "17.0.0",
    "description": "Enquiry Tracker Partner API for managing school enquiries, student data, contacts, and export operations.",
    "x-jentic-source-url": "https://api.enquirytracker.net/docs/enquiry-tracker-api-17.html"
  },
  "servers": [
    {
      "url": "https://api.enquirytracker.net/v1"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "getVersion",
        "summary": "Get API version",
        "tags": [
          "System"
        ],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "version"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API version info"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/?action=getKeyInfo": {
      "get": {
        "operationId": "getKeyInfo",
        "summary": "Get API key info",
        "tags": [
          "System"
        ],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "getKeyInfo"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token attributes"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/?action=getSchoolInfo": {
      "get": {
        "operationId": "getSchoolInfo",
        "summary": "Get school info",
        "tags": [
          "Schools"
        ],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "getSchoolInfo"
              ]
            }
          },
          {
            "name": "suid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "School information"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/?action=getStudents": {
      "get": {
        "operationId": "getStudents",
        "summary": "Get students",
        "tags": [
          "Students"
        ],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "getStudents"
              ]
            }
          },
          {
            "name": "suid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Student records"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/?action=getStudentsFields": {
      "post": {
        "operationId": "getStudentsFields",
        "summary": "Get specific student fields",
        "tags": [
          "Students"
        ],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "getStudentsFields"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StudentFieldsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Specified student fields"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/?action=getContacts": {
      "post": {
        "operationId": "getContacts",
        "summary": "Get contacts",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "getContacts"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact information"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/?action=populateEnquiry": {
      "post": {
        "operationId": "populateEnquiry",
        "summary": "Populate an enquiry",
        "tags": [
          "Enquiries"
        ],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "populateEnquiry"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PopulateEnquiryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enquiry created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/?action=requestApplicationDocuments": {
      "post": {
        "operationId": "requestApplicationDocuments",
        "summary": "Request application documents",
        "tags": [
          "Exports"
        ],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "requestApplicationDocuments"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request code returned"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/?action=requestStudentExport": {
      "post": {
        "operationId": "requestStudentExport",
        "summary": "Request student export",
        "tags": [
          "Exports"
        ],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "requestStudentExport"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Export request initiated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/?action=transferStudents": {
      "post": {
        "operationId": "transferStudents",
        "summary": "Transfer students",
        "tags": [
          "Exports"
        ],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "transferStudents"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfer initiated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/?action=checkRequest": {
      "post": {
        "operationId": "checkRequest",
        "summary": "Check export request status",
        "tags": [
          "Exports"
        ],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "checkRequest"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "requestCode": {
                    "type": "string"
                  }
                },
                "required": [
                  "requestCode"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request status and download URL"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "StudentFieldsRequest": {
        "type": "object",
        "properties": {
          "suid": {
            "type": "string"
          },
          "count": {
            "type": "integer"
          },
          "students": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "showfields": {
            "type": "boolean"
          }
        }
      },
      "PopulateEnquiryRequest": {
        "type": "object",
        "properties": {
          "suid": {
            "type": "string"
          },
          "student_first_name": {
            "type": "string"
          },
          "student_last_name": {
            "type": "string"
          },
          "contact_first_name": {
            "type": "string"
          },
          "contact_last_name": {
            "type": "string"
          },
          "contact_email": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}