{
  "openapi": "3.0.3",
  "info": {
    "title": "Ynfinite API",
    "version": "1.0.0",
    "description": "Content management API for querying and managing content with filtering, sorting, and pagination support.",
    "x-jentic-source-url": "https://docs.ynfinite.de/docs/developer"
  },
  "servers": [
    {
      "url": "https://api.ynfinite.de"
    }
  ],
  "paths": {
    "/yn-api/content": {
      "post": {
        "operationId": "queryContent",
        "summary": "Query content database",
        "tags": [
          "Content"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContentQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Content results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ContentQuery": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Content type alias"
          },
          "limit": {
            "type": "integer"
          },
          "skip": {
            "type": "integer"
          },
          "filter": {
            "type": "object"
          },
          "sort": {
            "type": "object"
          },
          "select": {
            "type": "object"
          },
          "published": {
            "type": "boolean"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}