{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "kahr.s@nekom.com",
      "name": "Stefan Kahr"
    },
    "description": "With this API it is possible to get different information about orders from the NEKOM system. To get access to this order you   need the clientuuid and the token of the interface user of this client.",
    "title": "NEKOM Orders API",
    "version": "1.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/nekomccgmbh/nekom-orders-api/1.0"
  },
  "servers": [
    {
      "url": "https://cloud.nekom.com/app1"
    }
  ],
  "paths": {
    "/api/v1/directorders": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectOrderCheckResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the request does not contain adequate parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user does not have permission to access the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if there is no entity that matches requested parameters."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the service as encountered an internal error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "OrdersConnector"
        ],
        "description": "Returns the current status of the direct order configuration.\nContains info on whether the direct order configuration is ready for use, and a reason for why if not.",
        "operationId": "OrdersConnector_getDirectOrderConfiguration",
        "summary": "Check direct order configuration."
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDirectOrderResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the request does not contain adequate parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user does not have permission to access the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if there is no entity that matches requested parameters."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the service as encountered an internal error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "OrdersConnector"
        ],
        "description": "A single Customer/paymenttype/tour exists for a client. These entities are used for the order creation.\nCustomer can be adjusted via email address. If email address is specified a customer based on this address is used.\nTypically used when customer buys product(s) directly in a physical store.",
        "operationId": "OrdersConnector_createDirectOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DirectOrderRequest"
              }
            }
          },
          "required": true
        },
        "summary": "Create new direct order."
      }
    },
    "/api/v1/orders": {
      "get": {
        "parameters": [
          {
            "description": "order status code",
            "in": "query",
            "name": "status",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "offset in the result list",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "channel designation",
            "in": "query",
            "name": "channel",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "orderdate start for filtering",
            "in": "query",
            "name": "orderdatefrom",
            "required": false,
            "schema": {
              "format": "YYYYMMDD",
              "type": "integer"
            }
          },
          {
            "description": "orderdate end for filtering",
            "in": "query",
            "name": "orderdateto",
            "required": false,
            "schema": {
              "format": "YYYYMMDD",
              "type": "integer"
            }
          },
          {
            "description": "amount of hours we look back since the order has been changed",
            "in": "query",
            "name": "changedhours",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the request does not contain adequate parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user does not have permission to access the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if there is no entity that matches requested parameters."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the service as encountered an internal error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "OrdersConnector"
        ],
        "description": "Returns a list of orders with order positions for given status code (and, optionally, channel designation).\nReturns up to 50 AU and LIAU orders.",
        "operationId": "OrdersConnector_getOrdersByStatus",
        "summary": "Get orders by status code."
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the request does not contain adequate parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user does not have permission to access the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if there is no entity that matches requested parameters."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the service as encountered an internal error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "OrdersConnector"
        ],
        "description": "Creates a new order for given data.\nExisting customer data is updated.New customer is created if it doesn't already exist.\nReturns newly created order UUID and customer UUID.",
        "operationId": "OrdersConnector_createOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderRequest"
              }
            }
          },
          "required": true
        },
        "summary": "Create new order."
      }
    },
    "/api/v1/orders/addposition": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderpositionAddResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the request does not contain adequate parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user does not have permission to access the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if there is no entity that matches requested parameters."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the service as encountered an internal error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "OrdersConnector"
        ],
        "description": "Adds a new order position to an existing order with given data.",
        "operationId": "OrdersConnector_addOrderposition",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderpositionAddRequest"
              }
            }
          },
          "required": true
        },
        "summary": "Add order position"
      }
    },
    "/api/v1/orders/copy": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the request does not contain adequate parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user does not have permission to access the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if there is no entity that matches requested parameters."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the service as encountered an internal error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "OrdersConnector"
        ],
        "description": "Creates a copy of the given order with a new order number and without an invoice.\nReturns the new order.",
        "operationId": "OrdersConnector_copyOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CopyOrderRequest"
              }
            }
          },
          "required": true
        },
        "summary": "Copy order."
      }
    },
    "/api/v1/orders/copy/{orderUuid}": {
      "post": {
        "parameters": [
          {
            "description": "order UUID to be copied",
            "in": "path",
            "name": "orderUuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the request does not contain adequate parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user does not have permission to access the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if there is no entity that matches requested parameters."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the service as encountered an internal error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "OrdersConnector"
        ],
        "description": "Creates a copy of the given order with a new order number and without an invoice.\nReturns the new order.",
        "operationId": "OrdersConnector_copyOrder2",
        "summary": "Copy order."
      }
    },
    "/api/v1/orders/credits": {
      "get": {
        "parameters": [
          {
            "description": "order status code",
            "in": "query",
            "name": "status",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "offset in the result list",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "channel designation",
            "in": "query",
            "name": "channel",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "orderdate start for filtering",
            "in": "query",
            "name": "orderdatefrom",
            "required": false,
            "schema": {
              "format": "YYYYMMDD",
              "type": "integer"
            }
          },
          {
            "description": "orderdate end for filtering",
            "in": "query",
            "name": "orderdateto",
            "required": false,
            "schema": {
              "format": "YYYYMMDD",
              "type": "integer"
            }
          },
          {
            "description": "amount of hours we look back since the order has been changed",
            "in": "query",
            "name": "changedhours",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the request does not contain adequate parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user does not have permission to access the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if there is no entity that matches requested parameters."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the service as encountered an internal error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "OrdersConnector"
        ],
        "description": "Returns a list of orders with order positions for given status code (and, optionally, channel designation).\nReturns up to 50 GW and GS orders.",
        "operationId": "OrdersConnector_getCreditOrdersByStatus",
        "summary": "Get credit orders by status code."
      }
    },
    "/api/v1/orders/credits/search": {
      "get": {
        "parameters": [
          {
            "description": "text value for searching",
            "in": "query",
            "name": "searchvalue",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "order status code number; see StatusUpdateRequest",
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "search result offset",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "search result limit",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "search for credit notes",
            "in": "query",
            "name": "creditNotes",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "ascending takes precedence over descending\n\nsort columns in ascending order",
            "explode": true,
            "in": "query",
            "name": "sortAsc",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "UUID",
                  "CHANNEL",
                  "ORDER_TYPE",
                  "ORDER_NR",
                  "ORDER_DATE",
                  "COMPANY",
                  "LAST_NAME",
                  "FIRST_NAME",
                  "STREET",
                  "HOUSE_NR",
                  "ZIP",
                  "CITY",
                  "COUNTRY",
                  "NUM_POSITIONS",
                  "ORDER_VALUE_GROSS",
                  "ORDER_VALUE_NET",
                  "CLIENT_ORDER_STATUS",
                  "INVOICE_DATE",
                  "INVOICE_NR",
                  "PAYMENT_TYPE",
                  "PAYMENT_REFERENCE",
                  "SHIPPING_TYPE",
                  "SHIPPING_COSTS",
                  "BILLING_DATE",
                  "SHIPPING_DATE",
                  "VOUCHER_AMOUNT",
                  "EXT_ORDER_ID"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "sort columns in descending order",
            "explode": true,
            "in": "query",
            "name": "sortDesc",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "UUID",
                  "CHANNEL",
                  "ORDER_TYPE",
                  "ORDER_NR",
                  "ORDER_DATE",
                  "COMPANY",
                  "LAST_NAME",
                  "FIRST_NAME",
                  "STREET",
                  "HOUSE_NR",
                  "ZIP",
                  "CITY",
                  "COUNTRY",
                  "NUM_POSITIONS",
                  "ORDER_VALUE_GROSS",
                  "ORDER_VALUE_NET",
                  "CLIENT_ORDER_STATUS",
                  "INVOICE_DATE",
                  "INVOICE_NR",
                  "PAYMENT_TYPE",
                  "PAYMENT_REFERENCE",
                  "SHIPPING_TYPE",
                  "SHIPPING_COSTS",
                  "BILLING_DATE",
                  "SHIPPING_DATE",
                  "VOUCHER_AMOUNT",
                  "EXT_ORDER_ID"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "filter order date from (inclusive)",
            "in": "query",
            "name": "orderDateFrom",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "filter order date to (exclusive)",
            "in": "query",
            "name": "orderDateTo",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "filter channel",
            "in": "query",
            "name": "channel",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "filter order type",
            "in": "query",
            "name": "orderType",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "filter shipping type uuid",
            "in": "query",
            "name": "shippingType",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "filter payment type uuid",
            "in": "query",
            "name": "paymentType",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "filter storage name",
            "in": "query",
            "name": "storageName",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "filter client order status uuid",
            "in": "query",
            "name": "clientOrderStatus",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "filter order statuses, superceeds status",
            "explode": true,
            "in": "query",
            "name": "statuses",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "filter orders updated in last n hours",
            "in": "query",
            "name": "updatedInLastH",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "filter orders which are partially canceled",
            "in": "query",
            "name": "filterpartiallycanceled",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "filter currency",
            "in": "query",
            "name": "currency",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the request does not contain adequate parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user does not have permission to access the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if there is no entity that matches requested parameters."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the service as encountered an internal error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "OrdersConnector"
        ],
        "description": "Returns a list of GW and GS orders after matching request field 'searchvalue' to order text fields (and, optionally, status code number).\nIf no limit is set, up to 10 results are returned.",
        "operationId": "OrdersConnector_getCreditsbyFullTextSearch",
        "summary": "Search credits by text."
      }
    },
    "/api/v1/orders/customerorder": {
      "get": {
        "parameters": [
          {
            "description": "customer ID",
            "in": "query",
            "name": "customerid",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "customer external ID",
            "in": "query",
            "name": "externalid",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "channel designation",
            "in": "query",
            "name": "channel",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "offset for result entries",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "format": "int64",
              "type": "string"
            }
          },
          {
            "description": "limit for result entries",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int64",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the request does not contain adequate parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user does not have permission to access the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if there is no entity that matches requested parameters."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the service as encountered an internal error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "OrdersConnector"
        ],
        "description": "Returns a list of orders with order positions for given customer ID or customer's external ID (and, optionally, channel designation).\nReturns AU and LIAU orders.",
        "operationId": "OrdersConnector_getOrdersForCustomer",
        "summary": "Get orders by customer."
      }
    },
    "/api/v1/orders/customerwardrobe": {
      "get": {
        "parameters": [
          {
            "description": "customer UUID",
            "in": "query",
            "name": "customeruuid",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderWardrobeResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the request does not contain adequate parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user does not have permission to access the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if there is no entity that matches requested parameters."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the service as encountered an internal error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "OrdersConnector"
        ],
        "description": "Returns a list of items with simplified historic overview of purchase data for a given customer UUID.",
        "operationId": "OrdersConnector_getCustomerswardrobe",
        "summary": "Get customer wardrobe."
      }
    },
    "/api/v1/orders/document": {
      "get": {
        "parameters": [
          {
            "description": "full file path of the document",
            "in": "query",
            "name": "filepath",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the request does not contain adequate parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user does not have permission to access the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if there is no entity that matches requested parameters."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the service as encountered an internal error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "OrdersConnector"
        ],
        "description": "Returns a file for given filepath.",
        "operationId": "OrdersConnector_getSpecificDocumentOfOrder",
        "summary": "Get a document for order."
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the request does not contain adequate parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user does not have permission to access the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if there is no entity that matches requested parameters."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the service as encountered an internal error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "OrdersConnector"
        ],
        "description": "Allows uploading and saving document types: INVOICE, RETURNSLIP, PICKINGSLIP, OTHER (codes: RE, EXRE, LS and OT, respectively).\nExpected file types: PDF, image (JPEG, PNG, SVG).\nReturns the saved file's details.",
        "operationId": "OrdersConnector_UploadDocumentForOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadDocumentRequest"
              }
            }
          },
          "description": "Request for uploading a file for order.\nAt least one order ID is required (ordernr, extordernr or orderuuid).\nNon-empty order IDs are processed in order and multiple order IDs must match (reference the same order).\nAllowed document types: INVOICE, RETURNSLIP, PICKINGSLIP, OTHER (codes: RE, EXRE, LS and OT, respectively).\n\nTODO: [stankovic.s] file extension? @tomasevic.m: use signintech/gopdf",
          "required": true
        },
        "summary": "Upload document for order"
      }
    },
    "/api/v1/orders/document/sendtoemail": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the request does not contain adequate parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user does not have permission to access the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if there is no entity that matches requested parameters."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the service as encountered an internal error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "OrdersConnector"
        ],
        "description": "Sends the given order UUID, document path and e-mail address to NEKOM backend service.\nThe service sends an e-mail template to given address with given document attached.\nReturns info about whether the operation was successful and error description if not.",
        "operationId": "OrdersConnector_sendDocumentMail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderEmailDocumentRequest"
              }
            }
          },
          "required": true
        },
        "summary": "Send order document via email."
      }
    },
    "/api/v1/orders/documents": {
      "get": {
        "parameters": [
          {
            "description": "invoice number\n\ninvoice number",
            "in": "query",
            "name": "invoicenr",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "order number\n\norder number",
            "in": "query",
            "name": "ordernr",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "channel designation\n\nchannel designation",
            "in": "query",
            "name": "channel",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "order uuid\n\norder uuid",
            "in": "query",
            "name": "uuid",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "external order number\n\nexternal order number",
            "in": "query",
            "name": "externalordernr",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the request does not contain adequate parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user does not have permission to access the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if there is no entity that matches requested parameters."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the service as encountered an internal error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "OrdersConnector"
        ],
        "description": "Returns a list of documents related to an existing order for given order number of invoice number (and, optionally, channel designation).",
        "operationId": "OrdersConnector_getDocumentsPerOrder",
        "summary": "Get documents for order."
      }
    },
    "/api/v1/orders/estimate": {
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the request does not contain adequate parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user does not have permission to access the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if there is no entity that matches requested parameters."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the service as encountered an internal error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "OrdersConnector"
        ],
        "description": "Adds new (or updates existing) estimated delivery date for given order UUID.\nReturns updated order.",
        "operationId": "OrdersConnector_updateEstimatedDelivery",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderEstimatedDeliveryRequest"
              }
            }
          },
          "required": true
        },
        "summary": "Update estimated delivery date."
      }
    },
    "/api/v1/orders/export/logistics": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the request does not contain adequate parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user does not have permission to access the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if there is no entity that matches requested parameters."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the service as encountered an internal error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "OrdersConnector"
        ],
        "description": "Sends the given order UUID to NEKOM backend service for export to logistics services.\nReturns info about whether the operation was successful and error description if not.",
        "operationId": "OrdersConnector_sendOrderToLogistic",
        "requestBody": {
          "$ref": "#/components/requestBodies/OrderUuidRequest"
        },
        "summary": "Export order to logistics."
      }
    },
    "/api/v1/orders/filters": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFiltersResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the request does not contain adequate parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user does not have permission to access the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if there is no entity that matches requested parameters."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the service as encountered an internal error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "OrdersConnector"
        ],
        "operationId": "OrdersConnector_getFilters",
        "summary": "Get filters for orders query"
      }
    },
    "/api/v1/orders/goodwill": {
      "get": {
        "parameters": [
          {
            "description": "order UUID. Non-mandatory, however at least one of the orderuuid or ordernumber or invoicenumber has to be provided.",
            "in": "query",
            "name": "orderuuid",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "unique order number. Non-mandatory, however at least one of the orderuuid or ordernumber or invoicenumber has to be provided.",
            "in": "query",
            "name": "ordernumber",
            "required": false,
            "schema": {
              "format": "int64",
              "type": "string"
            }
          },
          {
            "description": "invoice number. Non-mandatory, however at least one of the orderuuid or ordernumber or invoicenumber has to be provided.",
            "in": "query",
            "name": "invoicenumber",
            "required": false,
            "schema": {
              "format": "int64",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoodwillRelatedOrdersResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the request does not contain adequate parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user does not have permission to access the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if there is no entity that matches requested parameters."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the service as encountered an internal error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "OrdersConnector"
        ],
        "description": "Returns all goodwill orders which are related to the order from request.",
        "operationId": "OrdersConnector_getGoodwillOrders",
        "summary": "Get goodwill orders."
      }
    },
    "/api/v1/orders/historical/import": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdersMetaResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the request does not contain adequate parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user does not have permission to access the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if there is no entity that matches requested parameters."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the service as encountered an internal error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "OrdersConnector"
        ],
        "description": "Imports batch of historical orders with status SENT.\nOrders with existing external order number are skipped.",
        "operationId": "OrdersConnector_CreateHistoricalOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HistoricalOrdersRequest"
              }
            }
          },
          "description": "Request containing a list of historical order data.",
          "required": true
        },
        "summary": "Create historical order"
      }
    },
    "/api/v1/orders/invoice": {
      "get": {
        "parameters": [
          {
            "description": "invoice number\n\ninvoice number",
            "in": "query",
            "name": "invoicenr",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "order number\n\norder number",
            "in": "query",
            "name": "ordernr",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "channel designation\n\nchannel designation",
            "in": "query",
            "name": "channel",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "order uuid\n\norder uuid",
            "in": "query",
            "name": "uuid",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "external order number\n\nexternal order number",
            "in": "query",
            "name": "externalordernr",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the request does not contain adequate parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user does not have permission to access the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if there is no entity that matches requested parameters."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the service as encountered an internal error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "OrdersConnector"
        ],
        "description": "Returns an order for given order number or invoice number (and, optionally, channel designation).",
        "operationId": "OrdersConnector_getOrdersForInvoice",
        "summary": "Get orders by invoice."
      }
    },
    "/api/v1/orders/logs": {
      "get": {
        "parameters": [
          {
            "description": "text value for searching",
            "in": "query",
            "name": "searchvalue",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "order status code number; see StatusUpdateRequest",
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "search result offset",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "search result limit",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "search for credit notes",
            "in": "query",
            "name": "creditNotes",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "ascending takes precedence over descending\n\nsort columns in ascending order",
            "explode": true,
            "in": "query",
            "name": "sortAsc",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "UUID",
                  "CHANNEL",
                  "ORDER_TYPE",
                  "ORDER_NR",
                  "ORDER_DATE",
                  "COMPANY",
                  "LAST_NAME",
                  "FIRST_NAME",
                  "STREET",
                  "HOUSE_NR",
                  "ZIP",
                  "CITY",
                  "COUNTRY",
                  "NUM_POSITIONS",
                  "ORDER_VALUE_GROSS",
                  "ORDER_VALUE_NET",
                  "CLIENT_ORDER_STATUS",
                  "INVOICE_DATE",
                  "INVOICE_NR",
                  "PAYMENT_TYPE",
                  "PAYMENT_REFERENCE",
                  "SHIPPING_TYPE",
                  "SHIPPING_COSTS",
                  "BILLING_DATE",
                  "SHIPPING_DATE",
                  "VOUCHER_AMOUNT",
                  "EXT_ORDER_ID"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "sort columns in descending order",
            "explode": true,
            "in": "query",
            "name": "sortDesc",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "UUID",
                  "CHANNEL",
                  "ORDER_TYPE",
                  "ORDER_NR",
                  "ORDER_DATE",
                  "COMPANY",
                  "LAST_NAME",
                  "FIRST_NAME",
                  "STREET",
                  "HOUSE_NR",
                  "ZIP",
                  "CITY",
                  "COUNTRY",
                  "NUM_POSITIONS",
                  "ORDER_VALUE_GROSS",
                  "ORDER_VALUE_NET",
                  "CLIENT_ORDER_STATUS",
                  "INVOICE_DATE",
                  "INVOICE_NR",
                  "PAYMENT_TYPE",
                  "PAYMENT_REFERENCE",
                  "SHIPPING_TYPE",
                  "SHIPPING_COSTS",
                  "BILLING_DATE",
                  "SHIPPING_DATE",
                  "VOUCHER_AMOUNT",
                  "EXT_ORDER_ID"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "filter order date from (inclusive)",
            "in": "query",
            "name": "orderDateFrom",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "filter order date to (exclusive)",
            "in": "query",
            "name": "orderDateTo",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "filter channel",
            "in": "query",
            "name": "channel",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "filter order type",
            "in": "query",
            "name": "orderType",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "filter shipping type uuid",
            "in": "query",
            "name": "shippingType",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "filter payment type uuid",
            "in": "query",
            "name": "paymentType",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "filter storage name",
            "in": "query",
            "name": "storageName",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "filter client order status uuid",
            "in": "query",
            "name": "clientOrderStatus",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "filter order statuses, superceeds status",
            "explode": true,
            "in": "query",
            "name": "statuses",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "filter orders updated in last n hours",
            "in": "query",
            "name": "updatedInLastH",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "filter orders which are partially canceled",
            "in": "query",
            "name": "filterpartiallycanceled",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "filter currency",
            "in": "query",
            "name": "currency",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderLogResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the request does not contain adequate parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user does not have permission to access the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if there is no entity that matches requested parameters."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the service as encountered an internal error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "OrdersConnector"
        ],
        "description": "Returns last 40 created, order-specific web service logs.\nIf no search value is given, only logs with non-empty message texts are returned.\nIf a search value is given, it is compared to orders' external IDs or searched for within request body.\n\nNOTE: Request fields other than 'searchvalue' are disregarded.",
        "operationId": "OrdersConnector_getOrderLog",
        "summary": "Get order logs."
      }
    },
    "/api/v1/orders/position": {
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the request does not contain adequate parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user does not have permission to access the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if there is no entity that matches requested parameters."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the service as encountered an internal error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "OrdersConnector"
        ],
        "description": "Cancels an order line (aka position) by updating the cancel quantity and recalculating order value.\nReturns the updated order with order positions.",
        "operationId": "OrdersConnector_cancelOrderposition",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderpositionCancelRequest"
              }
            }
          },
          "required": true
        },
        "summary": "Cancel order line."
      }
    },
    "/api/v1/orders/positions/text": {
      "get": {
        "parameters": [
          {
            "description": "position text UUID\n\nposition text UUID",
            "in": "query",
            "name": "UUID",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PositionTextResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the request does not contain adequate parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user does not have permission to access the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if there is no entity that matches requested parameters."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the service as encountered an internal error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "OrdersConnector"
        ],
        "description": "Returns an existing order position text data for given UUID.",
        "operationId": "OrdersConnector_getPositionText",
        "summary": "Get position text"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PositionTextResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the request does not contain adequate parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user does not have permission to access the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if there is no entity that matches requested parameters."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the service as encountered an internal error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "OrdersConnector"
        ],
        "description": "Creates a new order position text record for existing order position and given data.\nReturns the created order position text data.",
        "operationId": "OrdersConnector_addPositionText",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddPositionTextRequest"
              }
            }
          },
          "description": "Request for creating a new order position text record",
          "required": true
        },
        "summary": "Add position text"
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PositionTextResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the request does not contain adequate parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user does not have permission to access the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if there is no entity that matches requested parameters."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the service as encountered an internal error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "OrdersConnector"
        ],
        "description": "Updates order position text and flag for given data and order position text record UUID.\nThe order position to which the text is assigned can't be changed.\nReturns the updated order position text data.",
        "operationId": "OrdersConnector_updatePositionText",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePositionTextRequest"
              }
            }
          },
          "description": "Request for updating an existing order position text",
          "required": true
        },
        "summary": "Update position text"
      }
    },
    "/api/v1/orders/positions/text/delete": {
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PositionTextResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the request does not contain adequate parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user does not have permission to access the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if there is no entity that matches requested parameters."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the service as encountered an internal error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "OrdersConnector"
        ],
        "description": "Deletes an existing order position text record for given UUID.\nReturns the deleted order position text data for confirmation.",
        "operationId": "OrdersConnector_deletePositionText",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PositionTextUUIDRequest"
              }
            }
          },
          "description": "Request for identifying order position text",
          "required": true
        },
        "summary": "Delete position text"
      }
    },
    "/api/v1/orders/positions/text/{UUID}": {
      "get": {
        "parameters": [
          {
            "description": "position text UUID",
            "in": "path",
            "name": "UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PositionTextResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the request does not contain adequate parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user does not have permission to access the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if there is no entity that matches requested parameters."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the service as encountered an internal error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "OrdersConnector"
        ],
        "description": "Returns an existing order position text data for given UUID.",
        "operationId": "OrdersConnector_getPositionText2",
        "summary": "Get position text"
      }
    },
    "/api/v1/orders/positions/text/{UUID}/delete": {
      "put": {
        "parameters": [
          {
            "description": "position text UUID",
            "in": "path",
            "name": "UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PositionTextResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the request does not contain adequate parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user does not have permission to access the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if there is no entity that matches requested parameters."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the service as encountered an internal error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "OrdersConnector"
        ],
        "description": "Deletes an existing order position text record for given UUID.\nReturns the deleted order position text data for confirmation.",
        "operationId": "OrdersConnector_deletePositionText2",
        "summary": "Delete position text"
      }
    },
    "/api/v1/orders/positions/{positionUUID}/text": {
      "get": {
        "parameters": [
          {
            "description": " order position UUID to which the text is assigned",
            "in": "path",
            "name": "positionUUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PositionTextListResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the request does not contain adequate parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user does not have permission to access the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if there is no entity that matches requested parameters."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the service as encountered an internal error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "OrdersConnector"
        ],
        "description": "Returns a list of all order position text data for given order position UUID.",
        "operationId": "OrdersConnector_listPositionTextsForPosition",
        "summary": "List text data for position"
      }
    },
    "/api/v1/orders/recalculate": {
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecalculateResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the request does not contain adequate parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user does not have permission to access the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if there is no entity that matches requested parameters."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the service as encountered an internal error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "OrdersConnector"
        ],
        "description": "Recalculates and updates order value (also its status if all of its order lines are cancelled) based on its current order lines.",
        "operationId": "OrdersConnector_recalculateOrder",
        "requestBody": {
          "$ref": "#/components/requestBodies/OrderUuidRequest"
        },
        "summary": "Recalculate order data."
      }
    },
    "/api/v1/orders/returns": {
      "get": {
        "parameters": [
          {
            "description": "order line UUID",
            "in": "query",
            "name": "uuid",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderpositionReturnsResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the request does not contain adequate parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user does not have permission to access the resource."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if there is no entity that matches requested parameters."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned if the service as encountered an internal error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "OrdersConnector"
        ],
        "description": "Returns a list of credit notes (aka returns) for this order line (aka position).",
        "operationId": "OrdersConnector_getReturnsOfPosition",
        "summary": "Get order line credit notes."
      }
    },
    "/api/v1/orders/search": {
      "get": {
        "parameters": [
          {
            "description": "text value for searching",
            "in": "query",
            "name": "searchvalue",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "order status code number; see StatusUpdateRequest",
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "search result offset",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "search result limit",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "search for credit notes",
            "in": "query",
            "name": "creditNotes",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "ascending takes precedence over descending\n\nsort columns in ascending order",
            "explode": true,
            "in": "query",
            "name": "sortAsc",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "UUID",
                  "CHANNEL",
                  "ORDER_TYPE",
                  "ORDER_NR",
                  "ORDER_DATE",
                  "COMPANY",
                  "LAST_NAME",
                  "FIRST_NAME",
                  "STREET",
                  "HOUSE_NR",
                  "ZIP",
                  "CITY",
                  "COUNTRY",
                  "NUM_POSITIONS",
                  "ORDER_VALUE_GROSS",
                  "ORDER_VALUE_NET",
                  "CLIENT_ORDER_STATUS",
                  "INVOICE_DATE",
                  "INVOICE_NR",
                  "PAYMENT_TYPE",
                  "PAYMENT_REFERENCE",
                  "SHIPPING_TYPE",
                  "SHIPPING_COSTS",
                  "BILLING_DATE",
                  "SHIPPING_DATE",
                  "VOUCHER_AMOUNT",
                  "EXT_ORDER_ID"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "sort columns in descending order",
            "explode": true,
            "in": "query",
            "name": "sortDesc",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "UUID",
                  "CHANNEL",
                  "ORDER_TYPE",
                  "ORDER_NR",
                  "ORDER_DATE",
                  "COMPANY",
                  "LAST_NAME",
                  "FIRST_NAME",
                  "STREET",
                  "HOUSE_NR",
                  "ZIP",
                  "CITY",
                  "COUNTRY",
                  "NUM_POSITIONS",
                  "ORDER_VALUE_GROSS",
                  "ORDER_VALUE_NET",
                  "CLIENT_ORDER_STATUS",
                  "INVOICE_DATE",
                  "INVOICE_NR",
                  "PAYMENT_TYPE",
                  "PAYMENT_REFERENCE",
                  "SHIPPING_TYPE",
                  "SHIPPING_COSTS",
                  "BILLING_DATE",
                  "SHIPPING_DATE",
                  "VOUCHER_AMOUNT",
                  "EXT_ORDER_ID"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "filter order date from (inclusive)",
            "in": "query",
            "name": "orderDateFrom",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "filter order date to (exclusive)",
            "in": "query",
            "name": "orderDateTo",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "filter channel",
            "in": "query",
            "name": "channel",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "filter order type",
            "in": "query",
            "name": "orderType",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "filter shipping type uuid",
            "in": "query",
            "name": "shippingType",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "filter payment type uuid",
            "in": "query",
            "name": "paymentType",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "filter storage name",
            "in": "query",
            "name": "storageName",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "filter client order status uuid",
            "in": "query",
            "name": "clientOrderStatus",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "filter order statuses, superceeds status",
            "explode": true,
            "in": "query",
            "name": "statuses",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "filter orders updated in last n hours",
            "in": "query",
            "name": "updatedInLastH",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "filter orders which are partially canceled",
            "in": "query",
            "name": "filterpartiallycanceled",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
[...]
