{
  "openapi": "3.0.3",
  "info": {
    "title": "Wallhaven API",
    "description": "The Wallhaven API provides access to the Wallhaven wallpaper platform. Search and browse high-quality wallpapers, view tags, manage collections, and access user settings. Rate limited to 45 requests per minute.",
    "version": "1.0.0",
    "contact": {
      "name": "Wallhaven",
      "url": "https://wallhaven.cc"
    },
    "x-jentic-source-url": "https://wallhaven.cc/help/api"
  },
  "servers": [
    {
      "url": "https://wallhaven.cc/api/v1",
      "description": "Wallhaven API v1 production server"
    }
  ],
  "tags": [
    {
      "name": "Wallpapers",
      "description": "Wallpaper browsing and search"
    },
    {
      "name": "Tags",
      "description": "Tag information"
    },
    {
      "name": "User",
      "description": "User settings and collections"
    },
    {
      "name": "Collections",
      "description": "User wallpaper collections"
    }
  ],
  "paths": {
    "/w/{id}": {
      "get": {
        "tags": ["Wallpapers"],
        "summary": "Get wallpaper information",
        "description": "Get detailed information about a specific wallpaper. An API key is required to view NSFW wallpapers.",
        "operationId": "getWallpaper",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The wallpaper ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "description": "API key (required for NSFW content)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallpaper information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Wallpaper"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - API key required for NSFW content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Wallpaper not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (45 requests per minute)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {},
          {
            "apiKeyHeader": []
          },
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/search": {
      "get": {
        "tags": ["Wallpapers"],
        "summary": "Search wallpapers",
        "description": "Search wallpapers with various filters including query, categories, purity, sorting, resolution, aspect ratio, and colors. Returns max 24 results per page.",
        "operationId": "searchWallpapers",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search query. Supports tag names, @username, id:123, type:{png|jpg}, like:ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categories",
            "in": "query",
            "description": "Category filter as 3-digit binary string: general/anime/people (e.g. '100' for general only, '111' for all)",
            "schema": {
              "type": "string",
              "pattern": "^[01]{3}$",
              "default": "111"
            }
          },
          {
            "name": "purity",
            "in": "query",
            "description": "Purity filter as 3-digit binary string: sfw/sketchy/nsfw (e.g. '100' for SFW only). NSFW requires API key.",
            "schema": {
              "type": "string",
              "pattern": "^[01]{3}$",
              "default": "100"
            }
          },
          {
            "name": "sorting",
            "in": "query",
            "description": "Sort method",
            "schema": {
              "type": "string",
              "enum": ["date_added", "relevance", "random", "views", "favorites", "toplist"],
              "default": "date_added"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": ["desc", "asc"],
              "default": "desc"
            }
          },
          {
            "name": "topRange",
            "in": "query",
            "description": "Time range for toplist sorting",
            "schema": {
              "type": "string",
              "enum": ["1d", "3d", "1w", "1M", "3M", "6M", "1y"],
              "default": "1M"
            }
          },
          {
            "name": "atleast",
            "in": "query",
            "description": "Minimum resolution (e.g. '1920x1080')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resolutions",
            "in": "query",
            "description": "Exact resolutions, comma-separated (e.g. '1920x1080,2560x1440')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ratios",
            "in": "query",
            "description": "Aspect ratios, comma-separated (e.g. '16x9,16x10')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "colors",
            "in": "query",
            "description": "Color filter as hex code (e.g. '660000')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "seed",
            "in": "query",
            "description": "Seed for random sorting (6 chars, a-zA-Z0-9). Optional, returned with random results.",
            "schema": {
              "type": "string",
              "maxLength": 6
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "description": "API key for authentication (required for NSFW content)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {},
          {
            "apiKeyHeader": []
          },
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/tag/{id}": {
      "get": {
        "tags": ["Tags"],
        "summary": "Get tag information",
        "description": "Get information about a specific tag.",
        "operationId": "getTag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The tag ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Tag"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Tag not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/settings": {
      "get": {
        "tags": ["User"],
        "summary": "Get user settings",
        "description": "Get the authenticated user's browsing settings. Requires authentication.",
        "operationId": "getUserSettings",
        "responses": {
          "200": {
            "description": "User settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/UserSettings"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - API key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": []
          },
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/collections": {
      "get": {
        "tags": ["Collections"],
        "summary": "Get authenticated user's collections",
        "description": "Get collections for the authenticated user. Requires API key.",
        "operationId": "getMyCollections",
        "responses": {
          "200": {
            "description": "User collections",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Collection"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": []
          },
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/collections/{username}": {
      "get": {
        "tags": ["Collections"],
        "summary": "Get user's public collections",
        "description": "Get public collections for a specific user.",
        "operationId": "getUserCollections",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "description": "The username",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User collections",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Collection"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/collections/{username}/{id}": {
      "get": {
        "tags": ["Collections"],
        "summary": "Get wallpapers in a collection",
        "description": "Get the wallpapers in a specific user collection. Supports the same query parameters as the search endpoint for filtering.",
        "operationId": "getCollectionWallpapers",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "description": "The username",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The collection ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection wallpapers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - private collection requires authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Collection not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {},
          {
            "apiKeyHeader": []
          },
          {
            "apiKeyQuery": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "name": "X-API-Key",
        "in": "header",
        "description": "API key passed via X-API-Key header"
      },
      "apiKeyQuery": {
        "type": "apiKey",
        "name": "apikey",
        "in": "query",
        "description": "API key passed as query parameter"
      }
    },
    "schemas": {
      "Wallpaper": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Wallpaper ID"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Wallhaven page URL"
          },
          "short_url": {
            "type": "string",
            "format": "uri",
            "description": "Short URL"
          },
          "views": {
            "type": "integer",
            "description": "Number of views"
          },
          "favorites": {
            "type": "integer",
            "description": "Number of favorites"
          },
          "source": {
            "type": "string",
            "description": "Source URL of the wallpaper"
          },
          "purity": {
            "type": "string",
            "enum": ["sfw", "sketchy", "nsfw"],
            "description": "Purity level"
          },
          "category": {
            "type": "string",
            "enum": ["general", "anime", "people"],
            "description": "Category"
          },
          "dimension_x": {
            "type": "integer",
            "description": "Width in pixels"
          },
          "dimension_y": {
            "type": "integer",
            "description": "Height in pixels"
          },
          "resolution": {
            "type": "string",
            "description": "Resolution string (e.g. '1920x1080')"
          },
          "ratio": {
            "type": "string",
            "description": "Aspect ratio"
          },
          "file_size": {
            "type": "integer",
            "description": "File size in bytes"
          },
          "file_type": {
            "type": "string",
            "description": "MIME type (e.g. 'image/jpeg')"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Upload timestamp"
          },
          "colors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Dominant colors as hex values"
          },
          "path": {
            "type": "string",
            "format": "uri",
            "description": "Direct URL to the full-size image file"
          },
          "thumbs": {
            "type": "object",
            "properties": {
              "large": {
                "type": "string",
                "format": "uri"
              },
              "original": {
                "type": "string",
                "format": "uri"
              },
              "small": {
                "type": "string",
                "format": "uri"
              }
            },
            "description": "Thumbnail URLs"
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tag"
            },
            "description": "Associated tags"
          },
          "uploader": {
            "type": "object",
            "properties": {
              "username": {
                "type": "string"
              },
              "group": {
                "type": "string"
              },
              "avatar": {
                "type": "object",
                "properties": {
                  "200px": {
                    "type": "string",
                    "format": "uri"
                  },
                  "128px": {
                    "type": "string",
                    "format": "uri"
                  },
                  "32px": {
                    "type": "string",
                    "format": "uri"
                  },
                  "20px": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Tag ID"
          },
          "name": {
            "type": "string",
            "description": "Tag name"
          },
          "alias": {
            "type": "string",
            "description": "Tag alias"
          },
          "category_id": {
            "type": "integer",
            "description": "Category ID"
          },
          "category": {
            "type": "string",
            "description": "Category name"
          },
          "purity": {
            "type": "string",
            "enum": ["sfw", "sketchy", "nsfw"],
            "description": "Tag purity"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          }
        }
      },
      "Collection": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Collection ID"
          },
          "label": {
            "type": "string",
            "description": "Collection name"
          },
          "views": {
            "type": "integer",
            "description": "Number of views"
          },
          "public": {
            "type": "integer",
            "enum": [0, 1],
            "description": "Whether collection is public (1) or private (0)"
          },
          "count": {
            "type": "integer",
            "description": "Number of wallpapers in collection"
          }
        }
      },
      "UserSettings": {
        "type": "object",
        "properties": {
          "thumb_size": {
            "type": "string",
            "description": "Thumbnail size preference"
          },
          "per_page": {
            "type": "string",
            "description": "Results per page"
          },
          "purity": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Purity preferences"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Category preferences"
          },
          "resolutions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Preferred resolutions"
          },
          "aspect_ratios": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Preferred aspect ratios"
          },
          "toplist_range": {
            "type": "string",
            "description": "Default toplist time range"
          },
          "tag_blacklist": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Blacklisted tags"
          },
          "user_blacklist": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Blacklisted users"
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Wallpaper"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "current_page": {
                "type": "integer"
              },
              "last_page": {
                "type": "integer"
              },
              "per_page": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              },
              "query": {
                "type": "string",
                "nullable": true
              },
              "seed": {
                "type": "string",
                "nullable": true,
                "description": "Seed for random sorting results"
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  }
}
