{
  "openapi": "3.0.3",
  "info": {
    "title": "Swetrix API",
    "version": "1.0.0",
    "description": "Swetrix is an open-source, lightweight, and privacy-focused web analytics platform. This API provides endpoints for statistics retrieval, event tracking, and project administration.",
    "x-jentic-source-url": "https://swetrix.com/docs"
  },
  "servers": [
    {
      "url": "https://api.swetrix.com",
      "description": "Swetrix API server"
    }
  ],
  "paths": {
    "/v1/log": {
      "get": {
        "operationId": "getTrafficAnalytics",
        "summary": "Get traffic analytics data",
        "description": "Retrieves aggregated traffic analytics data matching the Dashboard's Traffic tab.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "timeBucket",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "minute",
                "hour",
                "day",
                "week",
                "month",
                "year"
              ]
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "1h",
                "today",
                "yesterday",
                "1d",
                "7d",
                "4w",
                "3M",
                "12M",
                "24M",
                "all"
              ]
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "Etc/GMT"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "JSON array of filter objects"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "periodic",
                "cumulative"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Traffic analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrafficData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/log/performance": {
      "get": {
        "operationId": "getPerformanceData",
        "summary": "Get performance metrics",
        "description": "Retrieves traffic data with performance metrics including DNS, TLS, connection times.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "timeBucket",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "minute",
                "hour",
                "day",
                "week",
                "month",
                "year"
              ]
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "measure",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "median",
                "average",
                "p95",
                "quantiles"
              ],
              "default": "median"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Performance data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/log/birdseye": {
      "get": {
        "operationId": "getLogBirdseye",
        "summary": "Get summary of log data",
        "description": "Summary of log data for specified projects with current/previous period comparisons.",
        "parameters": [
          {
            "name": "pids",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Comma-separated project IDs"
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Birdseye summary data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/log/live-visitors": {
      "get": {
        "operationId": "getLiveVisitors",
        "summary": "Get live visitors",
        "description": "Lists currently active visitors with session identifiers.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "responses": {
          "200": {
            "description": "List of active visitors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LiveVisitor"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/log/hb": {
      "get": {
        "operationId": "getHeartbeatCounts",
        "summary": "Get heartbeat event counts",
        "description": "Returns heartbeat event counts for projects.",
        "parameters": [
          {
            "name": "pids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Heartbeat counts by project",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "integer"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/log/sessions": {
      "get": {
        "operationId": "getSessions",
        "summary": "Get sessions list",
        "description": "Individual session list with pagination.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "period",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 150,
              "default": 30
            }
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sessions list with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessions": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/log/session": {
      "get": {
        "operationId": "getSession",
        "summary": "Get single session details",
        "description": "Detailed single session information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "psid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Session identifier"
          },
          {
            "name": "timezone",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/log/funnel": {
      "get": {
        "operationId": "getFunnelAnalysis",
        "summary": "Get funnel analysis",
        "description": "Funnel analysis across page paths.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "period",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pages",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "JSON array of page paths"
            }
          },
          {
            "name": "funnelId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Funnel analysis data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/log/errors": {
      "get": {
        "operationId": "getErrors",
        "summary": "Get error events",
        "description": "Error event list with pagination.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "period",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Error events list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/log/profiles": {
      "get": {
        "operationId": "getProfiles",
        "summary": "Get user profiles",
        "description": "User profiles/visitors list.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "period",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profileType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "anonymous",
                "identified"
              ]
            }
          },
          {
            "name": "take",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profiles list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/log": {
      "post": {
        "operationId": "trackPageview",
        "summary": "Track a pageview event",
        "description": "Records a pageview event.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PageviewEvent"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Event recorded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "description": "Subscription expired or quota exceeded"
          }
        }
      }
    },
    "/log/custom": {
      "post": {
        "operationId": "trackCustomEvent",
        "summary": "Track a custom event",
        "description": "Records a custom event.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomEvent"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Custom event recorded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "description": "Subscription expired or quota exceeded"
          }
        }
      }
    },
    "/log/hb": {
      "post": {
        "operationId": "trackHeartbeat",
        "summary": "Track heartbeat event",
        "description": "Records heartbeat events for live visitor tracking.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "pid"
                ],
                "properties": {
                  "pid": {
                    "type": "string",
                    "description": "Project ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Heartbeat recorded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/log/error": {
      "post": {
        "operationId": "trackError",
        "summary": "Track a JavaScript error",
        "description": "Records JavaScript errors.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ErrorEvent"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Error recorded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "description": "Subscription expired or quota exceeded"
          }
        }
      }
    },
    "/v1/project": {
      "get": {
        "operationId": "listProjects",
        "summary": "List all projects",
        "description": "Lists all user projects.",
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createProject",
        "summary": "Create a project",
        "description": "Creates a new project.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "isCaptcha": {
                    "type": "boolean"
                  },
                  "isPasswordProtected": {
                    "type": "boolean"
                  },
                  "password": {
                    "type": "string"
                  },
                  "organisationId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/project/{id}": {
      "get": {
        "operationId": "getProject",
        "summary": "Get project details",
        "description": "Retrieves specific project details.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateProject",
        "summary": "Update a project",
        "description": "Updates project settings.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "origins": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "ipBlacklist": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "botsProtectionLevel": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteProject",
        "summary": "Delete a project",
        "description": "Deletes specified project.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Project deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/organisation": {
      "get": {
        "operationId": "listOrganisations",
        "summary": "List organisations",
        "description": "Lists user's organisations.",
        "responses": {
          "200": {
            "description": "List of organisations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Organisation"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createOrganisation",
        "summary": "Create an organisation",
        "description": "Creates a new organisation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Organisation created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organisation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/organisation/{orgId}": {
      "get": {
        "operationId": "getOrganisation",
        "summary": "Get organisation details",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organisation details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organisation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "updateOrganisation",
        "summary": "Update an organisation",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organisation updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteOrganisation",
        "summary": "Delete an organisation",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Organisation deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key"
      }
    },
    "parameters": {
      "ProjectId": {
        "name": "pid",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Project ID"
      }
    },
    "schemas": {
      "TrafficData": {
        "type": "object",
        "properties": {
          "params": {
            "type": "object",
            "description": "Aggregated data by country, browser, OS, etc."
          },
          "chart": {
            "type": "object",
            "description": "Time-series chart data"
          },
          "customs": {
            "type": "object",
            "description": "Custom event counts"
          },
          "properties": {
            "type": "object"
          }
        }
      },
      "LiveVisitor": {
        "type": "object",
        "properties": {
          "device": {
            "type": "string"
          },
          "browser": {
            "type": "string"
          },
          "os": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "sessionId": {
            "type": "string"
          }
        }
      },
      "PageviewEvent": {
        "type": "object",
        "required": [
          "pid"
        ],
        "properties": {
          "pid": {
            "type": "string",
            "description": "Project ID"
          },
          "pg": {
            "type": "string",
            "description": "Page path"
          },
          "tz": {
            "type": "string",
            "description": "Visitor timezone"
          },
          "lc": {
            "type": "string",
            "description": "User locale"
          },
          "ref": {
            "type": "string",
            "description": "Referrer URL"
          },
          "so": {
            "type": "string",
            "description": "Source"
          },
          "me": {
            "type": "string",
            "description": "Medium"
          },
          "ca": {
            "type": "string",
            "description": "Campaign"
          },
          "unique": {
            "type": "boolean",
            "description": "Track only unique visits"
          },
          "perf": {
            "type": "object",
            "description": "Performance metrics"
          }
        }
      },
      "CustomEvent": {
        "type": "object",
        "required": [
          "pid",
          "ev"
        ],
        "properties": {
          "pid": {
            "type": "string",
            "description": "Project ID"
          },
          "ev": {
            "type": "string",
            "description": "Event identifier",
            "maxLength": 256
          },
          "pg": {
            "type": "string"
          },
          "lc": {
            "type": "string"
          },
          "ref": {
            "type": "string"
          },
          "so": {
            "type": "string"
          },
          "me": {
            "type": "string"
          },
          "ca": {
            "type": "string"
          },
          "unique": {
            "type": "boolean"
          },
          "meta": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Key/value pairs, max 100 keys"
          }
        }
      },
      "ErrorEvent": {
        "type": "object",
        "required": [
          "pid",
          "name"
        ],
        "properties": {
          "pid": {
            "type": "string",
            "description": "Project ID"
          },
          "name": {
            "type": "string",
            "maxLength": 200
          },
          "message": {
            "type": "string",
            "maxLength": 2000
          },
          "lineno": {
            "type": "integer"
          },
          "colno": {
            "type": "integer"
          },
          "stackTrace": {
            "type": "string",
            "maxLength": 7500
          },
          "filename": {
            "type": "string",
            "maxLength": 1000
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "isCaptcha": {
            "type": "boolean"
          },
          "isPasswordProtected": {
            "type": "boolean"
          },
          "origins": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "organisationId": {
            "type": "string"
          }
        }
      },
      "Organisation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - malformed request or missing required fields",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid or missing API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}