{
  "openapi": "3.0.3",
  "info": {
    "title": "HTML/CSS to Image API",
    "version": "1.0.0",
    "description": "Generate images and PDFs from HTML/CSS or URLs. Used by companies like Dev.to and Product Hunt.",
    "x-jentic-source-url": "https://docs.htmlcsstoimg.com"
  },
  "servers": [
    {
      "url": "https://hcti.io/v1"
    }
  ],
  "paths": {
    "/image": {
      "post": {
        "operationId": "createImage",
        "summary": "Create an image from HTML/CSS or URL",
        "description": "Generate an image by providing HTML/CSS content or a URL to screenshot",
        "tags": [
          "Image Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateImageRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CreateImageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - HTML is required"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateImageRequest": {
        "type": "object",
        "properties": {
          "html": {
            "type": "string",
            "description": "HTML content to render"
          },
          "css": {
            "type": "string",
            "description": "CSS styles to apply"
          },
          "url": {
            "type": "string",
            "description": "URL to screenshot"
          },
          "selector": {
            "type": "string",
            "description": "CSS selector to capture"
          },
          "device_scale": {
            "type": "number",
            "description": "Device scale factor"
          }
        }
      },
      "ImageResponse": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "Permanent URL of generated image"
          },
          "id": {
            "type": "string",
            "description": "Image identifier"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Use UserID as username and API Key as password"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}