{
  "openapi": "3.0.1",
  "info": {
    "title": "Zoom API",
    "description": "API Description",
    "contact": {
      "name": "Zoom Developers",
      "url": "https://developer.zoom.us/",
      "email": "developer@zoom.us"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "2.0.0",
    "x-jentic-source-url": "https://raw.githubusercontent.com/zoom/api/master/openapi.v2.json"
  },
  "externalDocs": {
    "description": "Zoom API Documentation",
    "url": "https://zoom.github.io/api"
  },
  "servers": [
    {
      "url": "https://api.zoom.us/v2"
    }
  ],
  "security": [
    {
      "global": []
    }
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": "Account operations"
    },
    {
      "name": "Billing",
      "description": "Billing operations"
    },
    {
      "name": "Users",
      "description": "User operations"
    },
    {
      "name": "Meetings",
      "description": "Meeting operations"
    },
    {
      "name": "Webinars",
      "description": "Webinar operations"
    },
    {
      "name": "Groups",
      "description": "Group operations"
    },
    {
      "name": "IM Groups",
      "description": "IM Group operations"
    },
    {
      "name": "IM Chat",
      "description": "IM Chat operations"
    },
    {
      "name": "Cloud Recording",
      "description": "Cloud Recording operations"
    },
    {
      "name": "Reports",
      "description": "Report operations"
    },
    {
      "name": "Dashboards",
      "description": "Dashboard operations"
    },
    {
      "name": "Webhooks",
      "description": "Webhook operations"
    },
    {
      "name": "TSP",
      "description": "TSP operations"
    },
    {
      "name": "PAC",
      "description": "PAC operations"
    },
    {
      "name": "Devices",
      "description": "H323 Device operations"
    },
    {
      "name": "TrackingField",
      "description": "Tracking Field operations"
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "List sub accounts",
        "description": "List all the sub accounts under the master account",
        "operationId": "accounts",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of records returned within a single API call",
            "schema": {
              "maximum": 300,
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "page_number",
            "in": "query",
            "description": "Current page number of returned records",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account list returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccountList"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Create a sub account",
        "description": "Create a sub account under the master account. <aside>Your account must be a master account and have this privilege to create sub account. Zoom only assigns this privilege to trusted partners. The created user will not receive a confirmation email.</aside>.",
        "operationId": "accountCreate",
        "requestBody": {
          "description": "Account",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Account"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Account Created",
            "headers": {
              "Content-Location": {
                "description": "Location of created Account",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Account ID"
                    },
                    "owner_id": {
                      "type": "string",
                      "description": "Account Owner ID"
                    },
                    "owner_email": {
                      "type": "string",
                      "description": "Account owner email"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Account created date time"
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Account ID"
                    },
                    "owner_id": {
                      "type": "string",
                      "description": "Account Owner ID"
                    },
                    "owner_email": {
                      "type": "string",
                      "description": "Account owner email"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Account created date time"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Account with that email already exists",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/accounts/{accountId}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Retrieve a sub account",
        "description": "Retrieve a sub account under the master account. <aside>Your account must be a master account and have this privilege to read sub accounts. Zoom only assigns this privilege to trusted partners</aside>.",
        "operationId": "account",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account object returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Account ID"
                    },
                    "owner_id": {
                      "type": "string",
                      "description": "Account Owner ID"
                    },
                    "owner_email": {
                      "type": "string",
                      "description": "Account Owner email"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Account creation date/time",
                      "format": "date-time"
                    },
                    "options": {
                      "$ref": "#/components/schemas/AccountOptions"
                    },
                    "vanity_url": {
                      "type": "string",
                      "description": "Account Vanity URL"
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Account ID"
                    },
                    "owner_id": {
                      "type": "string",
                      "description": "Account Owner ID"
                    },
                    "owner_email": {
                      "type": "string",
                      "description": "Account Owner email"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Account creation date/time",
                      "format": "date-time"
                    },
                    "options": {
                      "$ref": "#/components/schemas/AccountOptions"
                    },
                    "vanity_url": {
                      "type": "string",
                      "description": "Account Vanity URL"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "Accounts"
        ],
        "summary": "Disassociate an account",
        "description": "Disassociate a sub account from the master account. This will leave the account intact but the sub account will not longer be associated with the master account.",
        "operationId": "accountDisassociate",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account deleted",
            "content": {}
          },
          "404": {
            "description": "Account not found",
            "content": {}
          }
        }
      }
    },
    "/accounts/{accountId}/options": {
      "patch": {
        "tags": [
          "Accounts"
        ],
        "summary": "Update a sub account's options",
        "description": "Update a sub account's options under the master account",
        "operationId": "accountOptionsUpdate",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountOptions"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AccountOptions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Account options updated",
            "content": {}
          },
          "404": {
            "description": "Account not found",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/accounts/{accountId}/settings": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Retrieve a sub account's settings",
        "description": "Retrieve a sub account's settings under the master account",
        "operationId": "accountSettings",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account settings returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSettings"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSettings"
                }
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "Accounts"
        ],
        "summary": "Update a sub account's settings",
        "description": "Update a sub account's settings under the master account",
        "operationId": "accountSettingsUpdate",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountSettings"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AccountSettings"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Account settings updated",
            "content": {}
          },
          "404": {
            "description": "Account not found",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/accounts/{accountId}/managed_domains": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Retrieve a sub account's managed domains",
        "description": "Retrieve a sub account's managed domains under the master account",
        "operationId": "accountManagedDomain",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account managed domains returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainsList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DomainsList"
                }
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {}
          }
        }
      }
    },
    "/accounts/{accountId}/billing": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Retrieve billing information for a sub account",
        "description": "Retrieve billing information for a sub account under the master account",
        "operationId": "accountBilling",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account billing contact information returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingContactRequired"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BillingContactRequired"
                }
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "Billing"
        ],
        "summary": "Update billing information for a sub account",
        "description": "Update billing information for a sub account under the master account <aside>Only for the sub account which is a paid account and paid by master account</aside>",
        "operationId": "accountBillingUpdate",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingContact"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/BillingContact"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Account billing contact information updated",
            "content": {}
          },
          "404": {
            "description": "Account not found",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/accounts/{accountId}/plans": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Retrieve plan information for a sub account",
        "description": "Retrieve plan information for a sub account under the master account  <aside>Only for the sub account which is paid by master account</aside>",
        "operationId": "accountPlans",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account plans returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountPlans"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccountPlans"
                }
              }
            }
          },
          "404": {
            "description": "Account not fond",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Subscribe plans for a sub account",
        "description": "Subscribe plans for a sub account of the master account <aside>Can only subscribe plans for the sub account which is a free account and paid by master account</aside>",
        "operationId": "accountPlanCreate",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "contact": {
                        "$ref": "#/components/schemas/BillingContactRequired"
                      }
                    }
                  },
                  {
                    "$ref": "#/components/schemas/AccountPlans"
                  }
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "contact": {
                        "$ref": "#/components/schemas/BillingContactRequired"
                      }
                    }
                  },
                  {
                    "$ref": "#/components/schemas/AccountPlans"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Account plans updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountPlans"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccountPlans"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/accounts/{accountId}/plans/base": {
      "put": {
        "tags": [
          "Billing"
        ],
        "summary": "Update a base plan for a sub account",
        "description": "Update a base plan for a sub account <aside>Can only update a base plan for the sub account which is a paid account and paid by master account</aside>",
        "operationId": "accountPlanBaseUpdate",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountPlanBaseRequired"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AccountPlanBaseRequired"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Account plans updated",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/accounts/{accountId}/plans/addons": {
      "put": {
        "tags": [
          "Billing"
        ],
        "summary": "Update an additional plan for sub account",
        "description": "Update an additional plan for sub account<aside>Can only update an Additional plan for the sub account which is a paid account and paid by master account</aside>",
        "operationId": "accountPlanAddonUpdate",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountPlanRequired"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AccountPlanRequired"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Account plans updated",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Add an additional plan for sub account",
        "description": "Add an additional plan for sub account <aside>Can only add an Additional plan for the sub account which is a paid account and paid by master account</aside>",
        "operationId": "accountPlanAddonCreate",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountPlanRequired"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AccountPlanRequired"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Account plans updated",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/groups": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "List groups",
        "description": "List groups under your account",
        "operationId": "groups",
        "responses": {
          "200": {
            "description": "List of groups returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/GroupList"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Create a group",
        "description": "Create a group under your account",
        "operationId": "groupCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Group name"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Group name"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Group created",
            "headers": {
              "Content-Location": {
                "description": "Location of created group",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Group ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "Group name"
                    },
                    "total_members": {
                      "type": "integer",
                      "description": "Group member count"
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Group ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "Group name"
                    },
                    "total_members": {
                      "type": "integer",
                      "description": "Group member count"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/groups/{groupId}": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Retrieve a group",
        "description": "Retrieve a group under your account",
        "operationId": "group",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The group ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group object returned",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Group ID"
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Group"
                    }
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Group ID"
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Group"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Group not found",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "Groups"
        ],
        "summary": "Delete a group",
        "description": "Delete a group under your account",
        "operationId": "groupDelete",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The group ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Group deleted",
            "content": {}
          },
          "404": {
            "description": "Group not found",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "Groups"
        ],
        "summary": "Update a group",
        "description": "Update a group under your account",
        "operationId": "groupUpdate",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The group ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Group name. Must be unique in one account. Character length is less than 128."
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Group name. Must be unique in one account. Character length is less than 128."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Group updated",
            "content": {}
          },
          "404": {
            "description": "Group not found",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/groups/{groupId}/members": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "List a group's members",
        "description": "List a group's members under your account",
        "operationId": "groupMembers",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The group ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of records returned within a single API call",
            "schema": {
              "maximum": 300,
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "page_number",
            "in": "query",
            "description": "Current page number of returned records",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group member list returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupMemberList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/GroupMemberList"
                }
              }
            }
          },
          "404": {
            "description": "Group not found",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Add group members",
        "description": "Add members to a group under your account",
        "operationId": "groupMembersCreate",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The group ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "members": {
                    "type": "array",
                    "description": "List of Group members",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "User ID"
                        },
                        "email": {
                          "type": "string",
                          "description": "User email. If ID given, email is ignored."
                        }
                      }
                    }
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "members": {
                    "type": "array",
                    "description": "List of Group members",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "User ID"
                        },
                        "email": {
                          "type": "string",
                          "description": "User email. If ID given, email is ignored."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Member added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ids": {
                      "type": "string"
                    },
                    "added_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ids": {
                      "type": "string"
                    },
                    "added_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Group not found",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/groups/{groupId}/members/{memberId}": {
      "delete": {
        "tags": [
          "Groups"
        ],
        "summary": "Delete a group member",
        "description": "Delete a member from a group under your account",
        "operationId": "groupMembersDelete",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The group ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "memberId",
            "in": "path",
            "description": "The member ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Group member deleted",
            "content": {}
          },
          "404": {
            "description": "Group or Group member not found",
            "content": {}
          }
        }
      }
    },
    "/h323/devices": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "List H.323/SIP Devices.",
        "description": "List H.323/SIP Devices on your Zoom account.",
        "operationId": "deviceList",
        "responses": {
          "200": {
            "description": "List of H.323/SIP Devices returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceList"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Create a H.323/SIP Device",
        "description": "Create a H.323/SIP Device on your Zoom account",
        "operationId": "deviceCreate",
        "requestBody": {
          "description": "H.323/SIP Device",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Device"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Device"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "H.323/SIP Device created",
            "headers": {
              "Content-Location": {
                "description": "Location of created device",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Device ID"
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Device"
                    }
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Device ID"
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Device"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/h323/devices/{deviceId}": {
      "delete": {
        "tags": [
          "Devices"
        ],
        "summary": "Delete a H.323/SIP Device",
        "description": "Delete a H.323/SIP Device on your Zoom account",
        "operationId": "deviceDelete",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "description": "The device ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "H.323/SIP Device deleted",
            "content": {}
          },
          "404": {
            "description": "H.323/SIP Device not found",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "Devices"
        ],
        "summary": "Update a H.323/SIP Device",
        "description": "Update a H.323/SIP Device on your Zoom account",
        "operationId": "deviceUpdate",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "description": "The device ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Device"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Device"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "H.323/SIP Device updated",
            "content": {}
          },
          "404": {
            "description": "H.323/SIP Device not found",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/tracking_fields": {
      "get": {
        "tags": [
          "TrackingField"
        ],
        "summary": "List Tracking Fields.",
        "description": "List Tracking Fields on your Zoom account.",
        "operationId": "trackingfieldList",
        "responses": {
          "200": {
            "description": "List of Tracking Fields returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingFieldList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingFieldList"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "TrackingField"
        ],
        "summary": "Create a Tracking Field",
        "description": "Create a Tracking Field on your Zoom account",
        "operationId": "trackingfieldCreate",
        "requestBody": {
          "description": "Tracking Field",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackingField"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/TrackingField"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Tracking Field created",
            "headers": {
              "Content-Location": {
                "description": "Location of created tracking field",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Tracking Field ID"
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/TrackingField"
                    }
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Tracking Field ID"
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/TrackingField"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/tracking_fields/{fieldId}": {
      "get": {
        "tags": [
          "TrackingField"
        ],
        "summary": "Retrieve a tracking field",
        "description": "Retrieve a tracking field",
        "operationId": "trackingfieldGet",
        "parameters": [
          {
            "name": "fieldId",
            "in": "path",
            "description": "The Tracking Field ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tracking Field object returned",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Tracking Field ID"
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/TrackingField"
                    }
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Tracking Field ID"
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/TrackingField"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Tracking Field not found",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "TrackingField"
        ],
        "summary": "Delete a Tracking Field",
        "description": "Delete a Tracking Field on your Zoom account",
        "operationId": "trackingfieldDelete",
        "parameters": [
          {
            "name": "fieldId",
            "in": "path",
            "description": "The Tracking Field ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Tracking Field deleted",
            "content": {}
          },
          "404": {
            "description": "Tracking Field not found",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "TrackingField"
        ],
        "summary": "Update a Tracking Field",
        "description": "Update a Tracking Field on your Zoom account",
        "operationId": "trackingfieldUpdate",
        "parameters": [
          {
            "name": "fieldId",
            "in": "path",
            "description": "The Tracking Field ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackingField"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/TrackingField"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Tracking Field updated",
            "content": {}
          },
          "404": {
            "description": "Tracking Field not found",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/im/groups": {
      "get": {
        "tags": [
          "IM Groups"
        ],
        "summary": "List IM Groups",
        "description": "List IM groups under your account",
        "operationId": "imGroups",
        "responses": {
          "200": {
            "description": "List of IM Groups returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IMGroupList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IMGroupList"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "IM Groups"
        ],
        "summary": "Create an IM Group",
        "description": "Create a IM Group under your account",
        "operationId": "imGroupCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "maxLength": 128,
                    "type": "string",
                    "description": "Group name, must be unique in one account"
                  },
                  "type": {
                    "type": "string",
                    "description": "IM Group type",
                    "default": "normal",
                    "enum": [
                      "normal",
                      "shared",
                      "restricted"
                    ],
                    "x-enum-descriptions": [
                      "Only members can see the group automatically. Other people can search members in the group.",
                      "All people in the account can see the group and members automatically",
                      "Nobody can see the group or search members except the members in the group"
                    ]
                  },
                  "search_by_domain": {
                    "type": "boolean",
                    "description": "Members can search others in the same email domain"
                  },
                  "search_by_account": {
                    "type": "boolean",
                    "description": "Members can search others under same account"
                  },
                  "search_by_ma_account": {
                    "type": "boolean",
                    "description": "Members can search others under same master account, including all sub accounts"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "maxLength": 128,
                    "type": "string",
                    "description": "Group name, must be unique in one account"
                  },
                  "type": {
                    "type": "string",
                    "description": "IM Group type",
                    "default": "normal",
                    "enum": [
                      "normal",
                      "shared",
                      "restricted"
                    ],
                    "x-enum-descriptions": [
                      "Only members can see the group automatically. Other people can search members in the group.",
                      "All people in the account can see the group and members automatically",
                      "Nobody can see the group or search members except the members in the group"
                    ]
                  },
                  "search_by_domain": {
                    "type": "boolean",
                    "description": "Members can search others in the same email domain"
                  },
                  "search_by_account": {
                    "type": "boolean",
                    "description": "Members can search others under same account"
                  },
                  "search_by_ma_account": {
                    "type": "boolean",
                    "description": "Members can search others under same master account, including all sub accounts"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "IM Group created",
            "headers": {
              "Content-Location": {
                "description": "Location of created IM Group",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Group ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "Group name"
                    },
                    "total_members": {
                      "type": "integer",
                      "description": "Group member count"
                    },
                    "search_by_domain": {
                      "type": "boolean",
                      "description": "Members can search others in the same email domain"
                    },
                    "search_by_account": {
                      "type": "boolean",
                      "description": "Members can search others under same account"
                    },
                    "search_by_ma_account": {
                      "type": "boolean",
                      "description": "Members can search others under same master account, including all sub accounts"
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Group ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "Group name"
                    },
                    "total_members": {
                      "type": "integer",
                      "description": "Group member count"
                    },
                    "search_by_domain": {
                      "type": "boolean",
                      "description": "Members can search others in the same email domain"
                    },
                    "search_by_account": {
                      "type": "boolean",
                      "description": "Members can search others under same account"
                    },
                    "search_by_ma_account": {
                      "type": "boolean",
                      "description": "Members can search others under same master account, including all sub accounts"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/im/groups/{groupId}": {
      "get": {
        "tags": [
          "IM Groups"
        ],
        "summary": "Retrieve an IM Group",
        "description": "Retrieve an IM Group under your account",
        "operationId": "imGroup",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The group ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "IM Group object returned",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Group ID"
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/IMGroup"
                    }
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Group ID"
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/IMGroup"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "IM Group not found",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "IM Groups"
        ],
        "summary": "Delete an IM Group",
        "description": "Delete an IM Group under your account",
        "operationId": "imGroupDelete",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The group ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "IM Group deleted",
            "content": {}
          },
          "404": {
            "description": "IM Group not found",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "IM Groups"
        ],
        "summary": "Update an IM Group",
        "description": "Update an IM Group under your account",
        "operationId": "imGroupUpdate",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The group ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "maxLength": 128,
                    "type": "string",
                    "description": "Group name, must be unique in one account"
                  },
                  "type": {
                    "type": "string",
                    "description": "IM Group type",
                    "enum": [
                      "normal",
                      "shared",
                      "restricted"
                    ],
                    "x-enum-descriptions": [
                      "Only members can see the group automatically. Other people can search members in the group.",
                      "All people in the account can see the group and members automatically",
                      "Nobody can see the group or search members except the members in the group"
                    ]
                  },
                  "search_by_domain": {
                    "type": "boolean",
                    "description": "Members can search others in the same email domain"
                  },
                  "search_by_account": {
                    "type": "boolean",
                    "description": "Members can search others under same account"
                  },
                  "search_by_ma_account": {
                    "type": "boolean",
                    "description": "Members can search others under same master account, including all sub accounts"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "maxLength": 128,
                    "type": "string",
                    "description": "Group name, must be unique in one account"
                  },
                  "type": {
                    "type": "string",
                    "description": "IM Group type",
                    "enum": [
                      "normal",
                      "shared",
                      "restricted"
                    ],
                    "x-enum-descriptions": [
                      "Only members can see the group automatically. Other people can search members in the group.",
                      "All people in the account can see the group and members automatically",
                      "Nobody can see the group or search members except the members in the group"
                    ]
                  },
                  "search_by_domain": {
                    "type": "boolean",
                    "description": "Members can search others in the same email domain"
                  },
                  "search_by_account": {
                    "type": "boolean",
                    "description": "Members can search others under same account"
                  },
                  "search_by_ma_account": {
                    "type": "boolean",
                    "description": "Members can search others under same master account, including all sub accounts"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "IM Group updated",
            "content": {}
          },
          "404": {
            "description": "IM Group not found",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/im/groups/{groupId}/members": {
      "get": {
        "tags": [
          "IM Groups"
        ],
        "summary": "List an IM Group's members",
        "description": "List an IM Group's members under your account",
        "operationId": "imGroupMembers",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The group ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of records returned within a single API call",
            "schema": {
              "maximum": 300,
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "page_number",
            "in": "query",
            "description": "Current page number of returned records",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "IM Group member list returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupMemberList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/GroupMemberList"
                }
              }
            }
          },
          "404": {
            "description": "IM Group not found",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "IM Groups"
        ],
        "summary": "Add IM Group members",
        "description": "Add members to an IM Group under your account",
        "operationId": "imGroupMembersCreate",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The group ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "members": {
                    "type": "array",
                    "description": "List of IM Group members",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "User ID"
                        },
                        "email": {
                          "type": "string",
                          "description": "User email. If ID given, email is ignored."
                        }
                      }
                    }
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "members": {
                    "type": "array",
                    "description": "List of IM Group members",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "User ID"
                        },
                        "email": {
                          "type": "string",
                          "description": "User email. If ID given, email is ignored."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Member added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ids": {
                      "type": "string"
                    },
                    "added_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ids": {
                      "type": "string"
                    },
                    "added_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "IM Group not found",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/im/groups/{groupId}/members/{memberId}": {
      "delete": {
        "tags": [
          "IM Groups"
        ],
        "summary": "Delete an IM Group member",
        "description": "Delete a member from an IM Group under your account",
        "operationId": "imGroupMembersDelete",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The group ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "memberId",
            "in": "path",
            "description": "The member ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "IM Group member deleted",
            "content": {}
          },
          "404": {
            "description": "IM Group or IM Group member not found",
            "content": {}
          }
        }
      }
    },
    "/im/chat/sessions": {
      "get": {
        "tags": [
          "IM Chat"
        ],
        "summary": "Retrieve IM Chat sessions",
        "description": "Retrieve IM Chat sessions for a specified period <aside>This API only supports oauth2.</aside>",
        "operationId": "imChatSessions",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Start Date",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End Date",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of records returned within a single API call",
            "schema": {
              "maximum": 300,
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "description": "Next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceed the current page size. The expiration period for this token is 15 minutes.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archived IM Chat sessions Returned",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "from": {
                          "type": "string",
                          "description": "Start date",
                          "format": "date"
                        },
                        "to": {
                          "type": "string",
                          "description": "End date",
                          "format": "date"
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/PaginationToken4IMChat"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "sessions": {
                          "type": "array",
                          "description": "Array of session objects",
                          "items": {
                            "type": "object",
                            "properties": {
                              "session_id": {
                                "type": "string",
                                "description": "IM Chat session ID"
                              },
                              "type": {
                                "type": "string",
                                "description": "IM Chat session type"
                              },
                              "name": {
                                "type": "string",
                                "description": "Meeting topic"
                              },
                              "last_message_sent_time": {
                                "type": "string",
                                "description": "Last message sent time",
                                "format": "date-time"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "from": {
                          "type": "string",
                          "description": "Start date",
                          "format": "date"
                        },
                        "to": {
                          "type": "string",
                          "description": "End date",
                          "format": "date"
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/PaginationToken4IMChat"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "sessions": {
                          "type": "array",
                          "description": "Array of session objects",
                          "items": {
                            "type": "object",
                            "properties": {
                              "session_id": {
                                "type": "string",
                                "description": "IM Chat session ID"
                              },
                              "type": {
                                "type": "string",
                                "description": "IM Chat session type"
                              },
                              "name": {
                                "type": "string",
                                "description": "Meeting topic"
                              },
                              "last_message_sent_time": {
                                "type": "string",
                                "description": "Last message sent time",
                                "format": "date-time"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/im/chat/sessions/{sessionId}": {
      "get": {
        "tags": [
          "IM Chat"
        ],
        "summary": "Retrieve IM Chat messages",
        "description": "Retrieve IM Chat messages for a specified period <aside>This API only supports oauth2.</aside>",
        "operationId": "imChatMessages",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "description": "IM Chat Session ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Start Date",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End Date",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of records returned within a single API call",
            "schema": {
              "maximum": 300,
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "description": "Next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceed the current page size. The expiration period for this token is 15 minutes.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archived IM Chat messages Returned",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "session_id": {
                          "type": "string",
                          "description": "IM Chat session ID"
                        },
                        "from": {
                          "type": "string",
                          "description": "Start date",
                          "format": "date"
                        },
                        "to": {
                          "type": "string",
                          "description": "End date",
                          "format": "date"
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/PaginationToken4IMChat"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "messages": {
                          "type": "array",
                          "description": "Array of session objects",
                          "items": {
                            "type": "object",
                            "properties": {
                              "message": {
                                "type": "string",
                                "description": "IM Chat message content"
                              },
                              "sender": {
                                "type": "string",
                                "description": "IM Chat message sender"
                              },
                              "date_time": {
                                "type": "string",
                                "description": "IM Chat message sent time",
                                "format": "date-time"
                              },
                              "action": {
                                "type": "string",
                                "description": "IM Chat message action"
                              },
                              "action_time": {
                                "type": "string",
                                "description": "Action time",
                                "format": "date-time"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "session_id": {
                          "type": "string",
                          "description": "IM Chat session ID"
                        },
                        "from": {
                          "type": "string",
                          "description": "Start date",
                          "format": "date"
                        },
                        "to": {
                          "type": "string",
                          "description": "End date",
                          "format": "date"
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/PaginationToken4IMChat"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "messages": {
                          "type": "array",
                          "description": "Array of session objects",
                          "items": {
                            "type": "object",
                            "properties": {
                              "message": {
                                "type": "string",
                                "description": "IM Chat message content"
                              },
                              "sender": {
                                "type": "string",
                                "description": "IM Chat message sender"
                              },
                              "date_time": {
                                "type": "string",
                                "description": "IM Chat message sent time",
                                "format": "date-time"
                              },
                              "action": {
                                "type": "string",
                                "description": "IM Chat message action"
                              },
                              "action_time": {
                                "type": "string",
                                "description": "Action time",
                                "format": "date-time"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}/meetings": {
      "get": {
        "tags": [
          "Meetings"
        ],
        "summary": "List meetings",
        "description": "List meetings for a user",
        "operationId": "meetings",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user ID or email address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The meeting type",
            "schema": {
              "type": "string",
              "default": "live",
              "enum": [
                "scheduled",
                "live",
                "upcoming"
              ],
              "x-enum-descriptions": [
                "all the scheduled meetings",
                "all the live meetings",
                "all the upcoming meetings"
              ]
            },
            "x-enum-descriptions": [
              "all the scheduled meetings",
              "all the live meetings",
              "all the upcoming meetings"
            ]
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of records returned within a single API call",
            "schema": {
              "maximum": 300,
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "page_number",
            "in": "query",
            "description": "Current page number of returned records",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Meeting objects returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeetingList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/MeetingList"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Meetings"
        ],
        "summary": "Create a meeting",
        "description": "Create a meeting for a user <aside>The expiration time of start_url is two hours. But for API users, the expiration time is 90 days.</aside>",
        "operationId": "meetingCreate",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user ID or email address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Meeting object",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "schedule_for": {
                        "type": "string",
                        "description": "Email or userId if you want to schedule meeting for another user."
                      }
                    }
                  },
                  {
                    "$ref": "#/components/schemas/Meeting"
                  }
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "schedule_for": {
                        "type": "string",
                        "description": "Email or userId if you want to schedule meeting for another user."
                      }
                    }
                  },
                  {
                    "$ref": "#/components/schemas/Meeting"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Meeting Created",
            "headers": {
              "Content-Location": {
                "description": "Location of created Meeting",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "uuid": {
                          "type": "string",
                          "description": "Meeting unique ID"
                        },
                        "id": {
                          "type": "string",
                          "description": "Meeting ID, also known as meeting number"
                        },
                        "host_id": {
                          "type": "string",
                          "description": "ID of the user set as host of meeting"
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/MeetingInfo"
                    }
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "uuid": {
                          "type": "string",
                          "description": "Meeting unique ID"
                        },
                        "id": {
                          "type": "string",
                          "description": "Meeting ID, also known as meeting number"
                        },
                        "host_id": {
                          "type": "string",
                          "description": "ID of the user set as host of meeting"
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/MeetingInfo"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/meetings/{meetingId}": {
      "get": {
        "tags": [
          "Meetings"
        ],
        "summary": "Retrieve a meeting",
        "description": "Retrieve a meeting's details",
        "operationId": "meeting",
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "description": "The meeting ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Meeting object returned",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "uuid": {
                          "type": "string",
                          "description": "Meeting unique ID"
                        },
                        "id": {
                          "type": "string",
                          "description": "Meeting ID, also know as meeting number"
                        },
                        "host_id": {
                          "type": "string",
                          "description": "ID of the user set as host of meeting"
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/MeetingInfo"
                    }
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "uuid": {
                          "type": "string",
                          "description": "Meeting unique ID"
                        },
                        "id": {
                          "type": "string",
                          "description": "Meeting ID, also know as meeting number"
                        },
                        "host_id": {
                          "type": "string",
                          "description": "ID of the user set as host of meeting"
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/MeetingInfo"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Meeting not found",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "Meetings"
        ],
        "summary": "Delete a meeting",
        "description": "Delete a meeting",
        "operationId": "meetingDelete",
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "description": "The meeting ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "occurrence_id",
            "in": "query",
            "description": "The meeting occurrence ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Meeting deleted",
            "content": {}
          },
          "404": {
            "description": "Meeting not found",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "Meetings"
        ],
        "summary": "Update a meeting",
        "description": "Update a meeting's details",
        "operationId": "meetingUpdate",
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "description": "The meeting ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Meeting",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "schedule_for": {
                        "type": "string",
                        "description": "Email or userId if you want to schedule meeting for another user."
                      }
                    }
                  },
                  {
                    "$ref": "#/components/schemas/MeetingUpdate"
                  }
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "schedule_for": {
                        "type": "string",
                        "description": "Email or userId if you want to schedule meeting for another user."
                      }
                    }
                  },
                  {
                    "$ref": "#/components/schemas/MeetingUpdate"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Meeting Updated",
            "content": {}
          },
          "404": {
            "description": "Meeting not found",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/meetings/{meetingId}/status": {
      "put": {
        "tags": [
          "Meetings"
        ],
        "summary": "Update a meeting's status",
        "description": "Update a meeting's status",
        "operationId": "meetingStatus",
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "description": "The meeting ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "end"
                    ],
                    "x-enum-descriptions": [
                      "end a meeting"
                    ]
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "end"
                    ],
                    "x-enum-descriptions": [
                      "end a meeting"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Meeting updated",
            "content": {}
          },
          "404": {
            "description": "Meeting not found",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/meetings/{meetingId}/invitation": {
      "get": {
        "tags": [
          "Meetings"
        ],
        "summary": "Retrieve meeting invitation",
        "description": "Retrieve a meeting invitation",
        "operationId": "meetingInvitation",
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "description": "The meeting ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Meeting invitation Returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeetingInvitation"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/MeetingInvitation"
                }
              }
            }
          }
        }
      }
    },
    "/meetings/{meetingId}/registrants": {
      "get": {
        "tags": [
          "Meetings"
        ],
        "summary": "List a meeting's registrants",
        "description": "List registrants of a meeting",
        "operationId": "meetingRegistrants",
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "description": "The meeting ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "occurrence_id",
            "in": "query",
            "description": "The meeting occurrence ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
[...]
