{
  "openapi": "3.0.3",
  "info": {
    "title": "MTN Developer API",
    "version": "1.0.0",
    "description": "MTN Group developer portal APIs providing access to payment, agent, messaging, tickets, advertising, customer, analytics, and security services across MTN's telecommunications network.",
    "x-jentic-source-url": "https://developers.mtn.com/",
    "contact": {
      "name": "MTN Developer Support",
      "url": "https://developers.mtn.com/"
    }
  },
  "servers": [
    {
      "url": "https://api.mtn.com/v1",
      "description": "Production server"
    },
    {
      "url": "https://sandbox.mtn.com/v1",
      "description": "Sandbox server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/payments/request": {
      "post": {
        "summary": "Request payment",
        "description": "Initiate a payment request from a customer's mobile money account",
        "operationId": "requestPayment",
        "tags": ["Payment"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "string",
                    "description": "Payment amount"
                  },
                  "currency": {
                    "type": "string",
                    "description": "Currency code"
                  },
                  "externalId": {
                    "type": "string",
                    "description": "External transaction ID"
                  },
                  "payer": {
                    "type": "object",
                    "properties": {
                      "partyIdType": {
                        "type": "string",
                        "enum": ["MSISDN", "EMAIL", "PARTY_CODE"]
                      },
                      "partyId": {
                        "type": "string"
                      }
                    }
                  },
                  "payerMessage": {
                    "type": "string"
                  },
                  "payeeNote": {
                    "type": "string"
                  }
                },
                "required": ["amount", "currency", "externalId", "payer"]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Payment request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "referenceId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{referenceId}": {
      "get": {
        "summary": "Get payment status",
        "description": "Retrieve the status of a payment transaction",
        "operationId": "getPaymentStatus",
        "tags": ["Payment"],
        "parameters": [
          {
            "name": "referenceId",
            "in": "path",
            "required": true,
            "description": "The reference ID of the payment",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "type": "string"
                    },
                    "currency": {
                      "type": "string"
                    },
                    "financialTransactionId": {
                      "type": "string"
                    },
                    "externalId": {
                      "type": "string"
                    },
                    "payer": {
                      "type": "object",
                      "properties": {
                        "partyIdType": {
                          "type": "string"
                        },
                        "partyId": {
                          "type": "string"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "enum": ["PENDING", "SUCCESSFUL", "FAILED"]
                    },
                    "reason": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Payment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transfer": {
      "post": {
        "summary": "Transfer money",
        "description": "Transfer money to another party",
        "operationId": "transfer",
        "tags": ["Payment"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "externalId": {
                    "type": "string"
                  },
                  "payee": {
                    "type": "object",
                    "properties": {
                      "partyIdType": {
                        "type": "string",
                        "enum": ["MSISDN", "EMAIL", "PARTY_CODE"]
                      },
                      "partyId": {
                        "type": "string"
                      }
                    }
                  },
                  "payerMessage": {
                    "type": "string"
                  },
                  "payeeNote": {
                    "type": "string"
                  }
                },
                "required": ["amount", "currency", "externalId", "payee"]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Transfer accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "referenceId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/messages/send": {
      "post": {
        "summary": "Send SMS message",
        "description": "Send an SMS message to a mobile number",
        "operationId": "sendMessage",
        "tags": ["Messaging"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "to": {
                    "type": "string",
                    "description": "Recipient phone number"
                  },
                  "message": {
                    "type": "string",
                    "description": "Message content"
                  },
                  "from": {
                    "type": "string",
                    "description": "Sender ID"
                  }
                },
                "required": ["to", "message"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messageId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/messages/{messageId}": {
      "get": {
        "summary": "Get message status",
        "description": "Retrieve the delivery status of an SMS message",
        "operationId": "getMessageStatus",
        "tags": ["Messaging"],
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "description": "The message ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messageId": {
                      "type": "string"
                    },
                    "to": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": ["SENT", "DELIVERED", "FAILED"]
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Message not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}": {
      "get": {
        "summary": "Get customer details",
        "description": "Retrieve customer account information",
        "operationId": "getCustomer",
        "tags": ["Customer"],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "description": "The customer ID or MSISDN",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customerId": {
                      "type": "string"
                    },
                    "msisdn": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "accountStatus": {
                      "type": "string"
                    },
                    "accountType": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Customer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account/balance": {
      "get": {
        "summary": "Get account balance",
        "description": "Retrieve the current account balance",
        "operationId": "getBalance",
        "tags": ["Account"],
        "responses": {
          "200": {
            "description": "Account balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "availableBalance": {
                      "type": "string"
                    },
                    "currency": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key obtained from the MTN developer portal"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "string",
            "description": "Error code"
          },
          "details": {
            "type": "object",
            "description": "Additional error details"
          }
        },
        "required": ["error"]
      }
    }
  },
  "tags": [
    {
      "name": "Payment",
      "description": "Payment and money transfer operations"
    },
    {
      "name": "Messaging",
      "description": "SMS messaging operations"
    },
    {
      "name": "Customer",
      "description": "Customer management operations"
    },
    {
      "name": "Account",
      "description": "Account information operations"
    }
  ]
}