{
  "openapi": "3.0.3",
  "info": {
    "title": "Censys Search API",
    "description": "Censys is a platform that provides comprehensive internet device and host search capabilities. The API enables searching for hosts, viewing host details, querying certificates, and aggregating data about internet-connected devices.",
    "version": "2.0.0",
    "contact": {
      "name": "Censys Support",
      "url": "https://censys.io"
    },
    "x-jentic-source-url": "https://search.censys.io/api"
  },
  "servers": [
    {
      "url": "https://search.censys.io/api",
      "description": "Censys Search API v2 production server"
    }
  ],
  "security": [
    {
      "BasicAuth": []
    }
  ],
  "tags": [
    { "name": "Hosts", "description": "Internet host search and lookup" },
    { "name": "Certificates", "description": "Certificate search and lookup" },
    { "name": "Data", "description": "Metadata about available datasets" },
    { "name": "Account", "description": "Account information" }
  ],
  "paths": {
    "/v2/hosts/search": {
      "get": {
        "operationId": "searchHosts",
        "summary": "Search hosts",
        "description": "Search for hosts matching a query string. Returns a list of hosts with their services.",
        "tags": ["Hosts"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query using Censys Search Language",
            "schema": { "type": "string" }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results per page (max 100)",
            "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 25 }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor token for pagination",
            "schema": { "type": "string" }
          },
          {
            "name": "virtual_hosts",
            "in": "query",
            "required": false,
            "description": "Include virtual hosts (INCLUDE, EXCLUDE, ONLY)",
            "schema": { "type": "string", "enum": ["INCLUDE", "EXCLUDE", "ONLY"], "default": "EXCLUDE" }
          }
        ],
        "responses": {
          "200": {
            "description": "Host search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostSearchResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/v2/hosts/{ip}": {
      "get": {
        "operationId": "viewHost",
        "summary": "View a host",
        "description": "Retrieve detailed information about a specific host by IP address.",
        "tags": ["Hosts"],
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "required": true,
            "description": "IP address of the host",
            "schema": { "type": "string" }
          },
          {
            "name": "at_time",
            "in": "query",
            "required": false,
            "description": "Retrieve host data at a specific time (RFC3339 format)",
            "schema": { "type": "string", "format": "date-time" }
          }
        ],
        "responses": {
          "200": {
            "description": "Host details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostDetailResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/TooManyRequests" }
        }
      }
    },
    "/v2/hosts/{ip}/diff": {
      "get": {
        "operationId": "diffHost",
        "summary": "Diff a host",
        "description": "View changes to a host between two points in time.",
        "tags": ["Hosts"],
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "at_time",
            "in": "query",
            "required": false,
            "description": "Current time snapshot (RFC3339)",
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "ip_b",
            "in": "query",
            "required": false,
            "description": "Second IP for comparison",
            "schema": { "type": "string" }
          },
          {
            "name": "at_time_b",
            "in": "query",
            "required": false,
            "description": "Previous time snapshot (RFC3339)",
            "schema": { "type": "string", "format": "date-time" }
          }
        ],
        "responses": {
          "200": {
            "description": "Host diff results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostDiffResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/TooManyRequests" }
        }
      }
    },
    "/v2/hosts/{ip}/names": {
      "get": {
        "operationId": "getHostNames",
        "summary": "Get host names",
        "description": "Retrieve DNS names associated with a host IP address.",
        "tags": ["Hosts"],
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 25 }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Host names",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostNamesResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/TooManyRequests" }
        }
      }
    },
    "/v2/hosts/aggregate": {
      "get": {
        "operationId": "aggregateHosts",
        "summary": "Aggregate hosts",
        "description": "Build aggregate reports on hosts matching a query.",
        "tags": ["Hosts"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query",
            "schema": { "type": "string" }
          },
          {
            "name": "field",
            "in": "query",
            "required": true,
            "description": "Field to aggregate on",
            "schema": { "type": "string" }
          },
          {
            "name": "num_buckets",
            "in": "query",
            "required": false,
            "description": "Number of buckets to return (max 200)",
            "schema": { "type": "integer", "minimum": 1, "maximum": 200, "default": 50 }
          },
          {
            "name": "virtual_hosts",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["INCLUDE", "EXCLUDE", "ONLY"], "default": "EXCLUDE" }
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregation results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AggregateResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/TooManyRequests" }
        }
      }
    },
    "/v2/certificates/{fingerprint}": {
      "get": {
        "operationId": "viewCertificate",
        "summary": "View a certificate",
        "description": "Retrieve details of a specific certificate by SHA-256 fingerprint.",
        "tags": ["Certificates"],
        "parameters": [
          {
            "name": "fingerprint",
            "in": "path",
            "required": true,
            "description": "SHA-256 fingerprint of the certificate",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Certificate details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateDetailResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/TooManyRequests" }
        }
      }
    },
    "/v2/certificates/search": {
      "get": {
        "operationId": "searchCertificates",
        "summary": "Search certificates",
        "description": "Search for certificates matching a query.",
        "tags": ["Certificates"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query",
            "schema": { "type": "string" }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 25 }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Certificate search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateSearchResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/TooManyRequests" }
        }
      }
    },
    "/v2/certificates/aggregate": {
      "get": {
        "operationId": "aggregateCertificates",
        "summary": "Aggregate certificates",
        "description": "Build aggregate reports on certificates matching a query.",
        "tags": ["Certificates"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "field",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "num_buckets",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1, "maximum": 200, "default": 50 }
          }
        ],
        "responses": {
          "200": {
            "description": "Certificate aggregation results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AggregateResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/TooManyRequests" }
        }
      }
    },
    "/v1/account": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get account details",
        "description": "Retrieve information about your Censys account including quota usage.",
        "tags": ["Account"],
        "responses": {
          "200": {
            "description": "Account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v2/metadata/hosts": {
      "get": {
        "operationId": "getHostsMetadata",
        "summary": "Get hosts metadata",
        "description": "Retrieve metadata about the hosts dataset.",
        "tags": ["Data"],
        "responses": {
          "200": {
            "description": "Hosts metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic authentication using API ID as username and API Secret as password"
      }
    },
    "schemas": {
      "HostSearchResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "integer" },
          "status": { "type": "string" },
          "result": {
            "type": "object",
            "properties": {
              "query": { "type": "string" },
              "total": { "type": "integer" },
              "hits": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/HostSearchHit" }
              }
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "next": { "type": "string", "nullable": true },
              "prev": { "type": "string", "nullable": true }
            }
          }
        }
      },
      "HostSearchHit": {
        "type": "object",
        "properties": {
          "ip": { "type": "string" },
          "services": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "port": { "type": "integer" },
                "service_name": { "type": "string" },
                "transport_protocol": { "type": "string" },
                "certificate": { "type": "string", "nullable": true }
              }
            }
          },
          "location": {
            "type": "object",
            "properties": {
              "continent": { "type": "string" },
              "country": { "type": "string" },
              "country_code": { "type": "string" },
              "city": { "type": "string" },
              "latitude": { "type": "number" },
              "longitude": { "type": "number" }
            }
          },
          "autonomous_system": {
            "type": "object",
            "properties": {
              "asn": { "type": "integer" },
              "name": { "type": "string" },
              "description": { "type": "string" },
              "country_code": { "type": "string" }
            }
          },
          "operating_system": {
            "type": "object",
            "properties": {
              "product": { "type": "string" },
              "vendor": { "type": "string" },
              "version": { "type": "string" },
              "edition": { "type": "string" }
            }
          },
          "last_updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "HostDetailResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "integer" },
          "status": { "type": "string" },
          "result": {
            "type": "object",
            "properties": {
              "ip": { "type": "string" },
              "services": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "port": { "type": "integer" },
                    "service_name": { "type": "string" },
                    "transport_protocol": { "type": "string" },
                    "extended_service_name": { "type": "string" },
                    "observed_at": { "type": "string", "format": "date-time" },
                    "software": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "product": { "type": "string" },
                          "vendor": { "type": "string" },
                          "version": { "type": "string" }
                        }
                      }
                    },
                    "tls": {
                      "type": "object",
                      "properties": {
                        "version_selected": { "type": "string" },
                        "cipher_selected": { "type": "string" }
                      }
                    }
                  }
                }
              },
              "location": { "type": "object" },
              "autonomous_system": { "type": "object" },
              "operating_system": { "type": "object" },
              "last_updated_at": { "type": "string", "format": "date-time" }
            }
          }
        }
      },
      "HostDiffResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "integer" },
          "status": { "type": "string" },
          "result": {
            "type": "object",
            "properties": {
              "a": { "type": "object" },
              "b": { "type": "object" },
              "patch": {
                "type": "array",
                "items": { "type": "object" }
              }
            }
          }
        }
      },
      "HostNamesResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "integer" },
          "status": { "type": "string" },
          "result": {
            "type": "object",
            "properties": {
              "names": {
                "type": "array",
                "items": { "type": "string" }
              }
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "next": { "type": "string", "nullable": true }
            }
          }
        }
      },
      "AggregateResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "integer" },
          "status": { "type": "string" },
          "result": {
            "type": "object",
            "properties": {
              "query": { "type": "string" },
              "field": { "type": "string" },
              "total": { "type": "integer" },
              "total_omitted": { "type": "integer" },
              "potential_deviation": { "type": "integer" },
              "buckets": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": { "type": "string" },
                    "count": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      },
      "CertificateDetailResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "integer" },
          "status": { "type": "string" },
          "result": {
            "type": "object",
            "properties": {
              "fingerprint_sha256": { "type": "string" },
              "fingerprint_sha1": { "type": "string" },
              "fingerprint_md5": { "type": "string" },
              "parsed": {
                "type": "object",
                "properties": {
                  "subject_dn": { "type": "string" },
                  "issuer_dn": { "type": "string" },
                  "serial_number": { "type": "string" },
                  "validity": {
                    "type": "object",
                    "properties": {
                      "start": { "type": "string", "format": "date-time" },
                      "end": { "type": "string", "format": "date-time" }
                    }
                  },
                  "names": {
                    "type": "array",
                    "items": { "type": "string" }
                  },
                  "subject": { "type": "object" },
                  "issuer": { "type": "object" },
                  "signature_algorithm": { "type": "string" },
                  "key_algorithm": { "type": "string" }
                }
              }
            }
          }
        }
      },
      "CertificateSearchResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "integer" },
          "status": { "type": "string" },
          "result": {
            "type": "object",
            "properties": {
              "query": { "type": "string" },
              "total": { "type": "integer" },
              "hits": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "fingerprint_sha256": { "type": "string" },
                    "names": {
                      "type": "array",
                      "items": { "type": "string" }
                    },
                    "issuer_dn": { "type": "string" },
                    "subject_dn": { "type": "string" }
                  }
                }
              }
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "next": { "type": "string", "nullable": true }
            }
          }
        }
      },
      "AccountResponse": {
        "type": "object",
        "properties": {
          "login": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "first_login": { "type": "string", "format": "date-time" },
          "last_login": { "type": "string", "format": "date-time" },
          "quota": {
            "type": "object",
            "properties": {
              "used": { "type": "integer" },
              "allowance": { "type": "integer" },
              "resets_at": { "type": "string", "format": "date-time" }
            }
          }
        }
      },
      "MetadataResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "integer" },
          "status": { "type": "string" },
          "result": {
            "type": "object",
            "properties": {
              "services": {
                "type": "array",
                "items": { "type": "string" }
              },
              "total_hosts": { "type": "integer" }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": { "type": "integer" },
          "status": { "type": "string" },
          "error": { "type": "string" }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - invalid query or parameters",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid credentials",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "TooManyRequests": {
        "description": "Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      }
    }
  }
}
