{
  "openapi": "3.0.3",
  "info": {
    "title": "Pastery API",
    "description": "REST API for Pastery, a clean and simple pastebin service. Allows creating, listing, retrieving, and deleting pastes.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://www.pastery.net/api/"
  },
  "servers": [
    {
      "url": "https://www.pastery.net/api"
    }
  ],
  "paths": {
    "/paste/": {
      "get": {
        "operationId": "listPastes",
        "summary": "List all pastes",
        "description": "Retrieves a list of all pastes belonging to the authenticated user.",
        "tags": [
          "Pastes"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication (recommended)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of pastes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pastes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PasteSummary"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          }
        }
      },
      "post": {
        "operationId": "createPaste",
        "summary": "Create a new paste",
        "description": "Creates a new paste. The request body should contain the raw paste content as UTF-8 text.",
        "tags": [
          "Pastes"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          },
          {
            "name": "duration",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Number of minutes until the paste is deleted. Default: 43200 (30 days)."
          },
          {
            "name": "title",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "description": "Title of the paste (max 200 characters)"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Programming language alias for syntax highlighting"
          },
          {
            "name": "max_views",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of views before the paste expires"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Raw UTF-8 encoded text content of the paste",
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paste created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PasteDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key"
          }
        }
      }
    },
    "/paste/{id}/": {
      "get": {
        "operationId": "getPaste",
        "summary": "Get a specific paste",
        "description": "Retrieves a single paste by its ID.",
        "tags": [
          "Pastes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique paste identifier"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication (recommended)"
          }
        ],
        "responses": {
          "200": {
            "description": "Paste details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pastes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PasteDetail"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Paste not found"
          }
        }
      },
      "delete": {
        "operationId": "deletePaste",
        "summary": "Delete a paste",
        "description": "Permanently deletes a paste.",
        "tags": [
          "Pastes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique paste identifier"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication (recommended)"
          }
        ],
        "responses": {
          "200": {
            "description": "Paste deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Paste not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "API key obtained from user account page"
      }
    },
    "schemas": {
      "PasteSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "title": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "duration": {
            "type": "integer",
            "description": "Remaining lifetime in minutes"
          }
        }
      },
      "PasteDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "title": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "duration": {
            "type": "integer",
            "description": "Remaining lifetime in minutes"
          },
          "body": {
            "type": "string",
            "description": "Content of the paste"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyQuery": []
    }
  ]
}