{
  "openapi": "3.0.3",
  "info": {
    "title": "Babelfy API",
    "description": "Babelfy is a multilingual word sense disambiguation (WSD) and entity linking API built on BabelNet. It performs unified WSD and entity linking on input text, identifying mentions of concepts and named entities and linking them to BabelNet synsets and Wikipedia/DBpedia entries. Supports multiple languages. Requires a BabelNet API key.",
    "version": "1.0",
    "contact": {
      "name": "Babelfy / BabelNet",
      "url": "https://babelfy.io"
    },
    "x-categories": [
      "Natural Language Processing",
      "Entity Linking"
    ],
    "x-logo": {
      "url": "https://babelfy.io/favicon.ico"
    }
  },
  "servers": [
    {
      "url": "https://babelfy.io/v1",
      "description": "Babelfy API endpoint"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/disambiguate": {
      "get": {
        "operationId": "disambiguate",
        "summary": "Disambiguate text",
        "description": "Performs word sense disambiguation and entity linking on the provided text. Returns a list of semantic annotations, each identifying a mention (character span), its BabelNet synset ID, the linked DBpedia/Wikipedia URL, confidence score, coherence score, and whether it's a concept or named entity. Supports over 250 languages.",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "The text to disambiguate and entity-link (UTF-8 encoded)",
            "schema": {
              "type": "string"
            },
            "example": "BabelNet is both a multilingual encyclopedic dictionary and a semantic network."
          },
          {
            "name": "lang",
            "in": "query",
            "required": true,
            "description": "Language of the input text (ISO 639-1 code)",
            "schema": {
              "type": "string"
            },
            "example": "EN"
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Your BabelNet/Babelfy API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "annType",
            "in": "query",
            "description": "Filter annotation types: ALL (default), NAMED_ENTITIES only, or CONCEPTS only",
            "schema": {
              "type": "string",
              "enum": [
                "ALL",
                "NAMED_ENTITIES",
                "CONCEPTS"
              ],
              "default": "ALL"
            }
          },
          {
            "name": "annRes",
            "in": "query",
            "description": "Filter annotation resources: BN (BabelNet), WN (WordNet), WIKI (Wikipedia), WIKIDATA, ALL (default)",
            "schema": {
              "type": "string",
              "enum": [
                "BN",
                "WN",
                "WIKI",
                "WIKIDATA",
                "ALL"
              ],
              "default": "ALL"
            }
          },
          {
            "name": "th",
            "in": "query",
            "description": "Cutting threshold for candidate selection (0.0 to 1.0)",
            "schema": {
              "type": "number",
              "format": "double",
              "minimum": 0.0,
              "maximum": 1.0
            }
          },
          {
            "name": "match",
            "in": "query",
            "description": "Matching strategy: EXACT_MATCHING for highest precision, PARTIAL_MATCHING for higher recall",
            "schema": {
              "type": "string",
              "enum": [
                "EXACT_MATCHING",
                "PARTIAL_MATCHING"
              ],
              "default": "EXACT_MATCHING"
            }
          },
          {
            "name": "MCS",
            "in": "query",
            "description": "Most Common Sense backoff strategy: ON enables fallback to most common sense when no disambiguation evidence is found. ON_WITH_STOPWORDS also includes stop words.",
            "schema": {
              "type": "string",
              "enum": [
                "ON",
                "OFF",
                "ON_WITH_STOPWORDS"
              ],
              "default": "ON"
            }
          },
          {
            "name": "dens",
            "in": "query",
            "description": "Enable densest subgraph heuristic",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "cands",
            "in": "query",
            "description": "Candidate selection: TOP selects top-weighted candidates, ALL selects all possible senses",
            "schema": {
              "type": "string",
              "enum": [
                "TOP",
                "ALL"
              ],
              "default": "TOP"
            }
          },
          {
            "name": "posTag",
            "in": "query",
            "description": "Filter by part-of-speech tag",
            "schema": {
              "type": "string",
              "enum": [
                "ADJ",
                "ADV",
                "NOUN",
                "VERB"
              ]
            }
          },
          {
            "name": "extAIDA",
            "in": "query",
            "description": "Extend candidate list with AIDA means",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Disambiguation/entity linking results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SemanticAnnotation"
                  }
                },
                "example": [
                  {
                    "tokenFragment": {
                      "start": 0,
                      "end": 0
                    },
                    "charFragment": {
                      "start": 0,
                      "end": 7
                    },
                    "babelSynsetID": "bn:03083790n",
                    "DBpediaURL": "http://dbpedia.org/resource/BabelNet",
                    "BabelNetURL": "http://babelnet.org/rdf/page/s03083790n",
                    "score": 1.0,
                    "coherenceScore": 0.5,
                    "globalScore": 0.75,
                    "source": "BABELFY",
                    "isEntity": true
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad request (missing or invalid parameters)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Invalid or expired API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Daily query limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "tags": [
          "Disambiguation"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "key",
        "description": "BabelNet API key (register at babelnet.org)"
      }
    },
    "schemas": {
      "SemanticAnnotation": {
        "type": "object",
        "description": "A semantic annotation identifying a disambiguated mention in the text",
        "properties": {
          "tokenFragment": {
            "type": "object",
            "description": "Token-level position of the annotation",
            "properties": {
              "start": {
                "type": "integer",
                "description": "Start token index"
              },
              "end": {
                "type": "integer",
                "description": "End token index (inclusive)"
              }
            }
          },
          "charFragment": {
            "type": "object",
            "description": "Character-level position of the annotation",
            "properties": {
              "start": {
                "type": "integer",
                "description": "Start character offset"
              },
              "end": {
                "type": "integer",
                "description": "End character offset (inclusive)"
              }
            }
          },
          "babelSynsetID": {
            "type": "string",
            "description": "BabelNet synset ID (e.g., bn:03083790n)"
          },
          "DBpediaURL": {
            "type": "string",
            "format": "uri",
            "description": "DBpedia resource URL (if available)"
          },
          "BabelNetURL": {
            "type": "string",
            "format": "uri",
            "description": "BabelNet RDF page URL"
          },
          "score": {
            "type": "number",
            "format": "double",
            "description": "Disambiguation confidence score (0.0 to 1.0)"
          },
          "coherenceScore": {
            "type": "number",
            "format": "double",
            "description": "Coherence score based on context (0.0 to 1.0)"
          },
          "globalScore": {
            "type": "number",
            "format": "double",
            "description": "Combined global score (0.0 to 1.0)"
          },
          "source": {
            "type": "string",
            "description": "Source of the annotation",
            "enum": [
              "BABELFY",
              "MCS",
              "WIKI"
            ]
          },
          "isEntity": {
            "type": "boolean",
            "description": "True if the annotation is a named entity, false for a concept"
          }
        }
      },
      "ApiError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Disambiguation",
      "description": "Word sense disambiguation and entity linking"
    }
  ]
}