{
  "openapi": "3.0.3",
  "info": {
    "title": "Sendblue API",
    "version": "2.0.0",
    "description": "Sendblue iMessage, SMS and RCS messaging API",
    "x-jentic-source-url": "https://raw.githubusercontent.com/jentic/jentic-public-apis-staging/import/sendblue.com/sendblue-1/2.0.0/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.sendblue.com"
    }
  ],
  "paths": {
    "/api/send-message": {
      "post": {
        "summary": "Send message",
        "operationId": "sendMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/send-group-message": {
      "post": {
        "summary": "Send group message",
        "operationId": "sendGroupMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/send-carousel": {
      "post": {
        "summary": "Send carousel",
        "operationId": "sendCarousel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/create-group": {
      "post": {
        "summary": "Create group",
        "operationId": "createGroup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/status": {
      "get": {
        "summary": "Get message status",
        "operationId": "getStatus",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/evaluate-service": {
      "get": {
        "summary": "Evaluate service",
        "operationId": "evaluateService",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/messages": {
      "get": {
        "summary": "List messages",
        "operationId": "listMessages",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/messages/{id}": {
      "get": {
        "summary": "Get message",
        "operationId": "getMessage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/message/{handle}": {
      "delete": {
        "summary": "Delete message",
        "operationId": "deleteMessage",
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/send-reaction": {
      "post": {
        "summary": "Send reaction",
        "operationId": "sendReaction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/mark-read": {
      "post": {
        "summary": "Mark as read",
        "operationId": "markRead",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/send-typing-indicator": {
      "post": {
        "summary": "Send typing indicator",
        "operationId": "sendTypingIndicator",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/upload-file": {
      "post": {
        "summary": "Upload file",
        "operationId": "uploadFile",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/upload-media-object": {
      "post": {
        "summary": "Upload media object",
        "operationId": "uploadMediaObject",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/contacts": {
      "get": {
        "summary": "List contacts",
        "operationId": "listContacts",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "summary": "Create contact",
        "operationId": "createContact",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      },
      "delete": {
        "summary": "Delete all contacts",
        "operationId": "deleteAllContacts",
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/v2/contacts/count": {
      "get": {
        "summary": "Count contacts",
        "operationId": "countContacts",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/contacts/{phone}": {
      "get": {
        "summary": "Get contact",
        "operationId": "getContact",
        "parameters": [
          {
            "name": "phone",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "summary": "Update contact",
        "operationId": "updateContact",
        "parameters": [
          {
            "name": "phone",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "summary": "Delete contact",
        "operationId": "deleteContact",
        "parameters": [
          {
            "name": "phone",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/v2/contacts/bulk": {
      "post": {
        "summary": "Bulk create contacts",
        "operationId": "bulkCreateContacts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/account/webhooks": {
      "get": {
        "summary": "List webhooks",
        "operationId": "listWebhooks",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "summary": "Create webhook",
        "operationId": "createWebhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      },
      "put": {
        "summary": "Update webhook",
        "operationId": "updateWebhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "summary": "Delete webhook",
        "operationId": "deleteWebhook",
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/accounts/lines/request-child-account": {
      "post": {
        "summary": "Request child account",
        "operationId": "requestChildAccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/accounts/lines/available-area-codes": {
      "get": {
        "summary": "Get available area codes",
        "operationId": "getAvailableAreaCodes",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/lines": {
      "get": {
        "summary": "List lines",
        "operationId": "listLines",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "sb-api-key-id"
      }
    }
  },
  "x-jentic-source-url": "https://docs.sendblue.com"
}