{
  "openapi": "3.0.3",
  "info": {
    "title": "Dog CEO Dog API",
    "description": "The internet's biggest collection of open source dog pictures. A free, public API for random dog images, breed listings, and breed-specific image retrieval.",
    "version": "1.0.0",
    "contact": {
      "name": "Dog CEO",
      "url": "https://dog.ceo/dog-api/"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://dog.ceo/api",
      "description": "Production server"
    }
  ],
  "paths": {
    "/breeds/list/all": {
      "get": {
        "operationId": "listAllBreeds",
        "summary": "List all breeds",
        "description": "Returns a JSON object of all dog breeds and their sub-breeds.",
        "tags": ["Breeds"],
        "responses": {
          "200": {
            "description": "Successful response with all breeds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BreedsListResponse"
                },
                "example": {
                  "message": {
                    "bulldog": ["boston", "english", "french"],
                    "hound": ["afghan", "basset", "blood", "english", "ibizan", "plott", "walker"]
                  },
                  "status": "success"
                }
              }
            }
          }
        }
      }
    },
    "/breeds/image/random": {
      "get": {
        "operationId": "getRandomImage",
        "summary": "Random image",
        "description": "Display a single random image from all dogs collection.",
        "tags": ["Images"],
        "responses": {
          "200": {
            "description": "Successful response with a random dog image URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleImageResponse"
                },
                "example": {
                  "message": "https://images.dog.ceo/breeds/hound-afghan/n02088094_1003.jpg",
                  "status": "success"
                }
              }
            }
          }
        }
      }
    },
    "/breeds/image/random/{count}": {
      "get": {
        "operationId": "getMultipleRandomImages",
        "summary": "Multiple random images",
        "description": "Display multiple random images from all dogs collection. Maximum of 50 images.",
        "tags": ["Images"],
        "parameters": [
          {
            "name": "count",
            "in": "path",
            "required": true,
            "description": "Number of random images to return (max 50).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with multiple random dog image URLs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultipleImagesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/breed/{breed}/images": {
      "get": {
        "operationId": "getBreedImages",
        "summary": "All images by breed",
        "description": "Returns an array of all the images from a breed.",
        "tags": ["Breeds", "Images"],
        "parameters": [
          {
            "name": "breed",
            "in": "path",
            "required": true,
            "description": "The breed name (e.g., hound, bulldog, retriever).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with all images for the breed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultipleImagesResponse"
                }
              }
            }
          },
          "404": {
            "description": "Breed not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/breed/{breed}/images/random": {
      "get": {
        "operationId": "getRandomBreedImage",
        "summary": "Random image by breed",
        "description": "Returns a random dog image from a breed.",
        "tags": ["Breeds", "Images"],
        "parameters": [
          {
            "name": "breed",
            "in": "path",
            "required": true,
            "description": "The breed name (e.g., hound, bulldog, retriever).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with a random image for the breed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleImageResponse"
                }
              }
            }
          },
          "404": {
            "description": "Breed not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/breed/{breed}/images/random/{count}": {
      "get": {
        "operationId": "getMultipleRandomBreedImages",
        "summary": "Multiple random images by breed",
        "description": "Return multiple random dog images from a breed. Maximum of 50 images.",
        "tags": ["Breeds", "Images"],
        "parameters": [
          {
            "name": "breed",
            "in": "path",
            "required": true,
            "description": "The breed name (e.g., hound, bulldog, retriever).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "path",
            "required": true,
            "description": "Number of random images to return (max 50).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with multiple random images for the breed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultipleImagesResponse"
                }
              }
            }
          },
          "404": {
            "description": "Breed not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/breed/{breed}/list": {
      "get": {
        "operationId": "listSubBreeds",
        "summary": "List sub-breeds",
        "description": "Returns an array of all the sub-breeds from a breed.",
        "tags": ["Breeds"],
        "parameters": [
          {
            "name": "breed",
            "in": "path",
            "required": true,
            "description": "The breed name (e.g., hound, bulldog, retriever).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with sub-breeds list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubBreedsListResponse"
                },
                "example": {
                  "message": ["afghan", "basset", "blood", "english", "ibizan", "plott", "walker"],
                  "status": "success"
                }
              }
            }
          },
          "404": {
            "description": "Breed not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/breed/{breed}/{subBreed}/images": {
      "get": {
        "operationId": "getSubBreedImages",
        "summary": "All images by sub-breed",
        "description": "Returns an array of all the images from a sub-breed.",
        "tags": ["Sub-Breeds", "Images"],
        "parameters": [
          {
            "name": "breed",
            "in": "path",
            "required": true,
            "description": "The breed name (e.g., hound).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subBreed",
            "in": "path",
            "required": true,
            "description": "The sub-breed name (e.g., afghan).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with all images for the sub-breed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultipleImagesResponse"
                }
              }
            }
          },
          "404": {
            "description": "Breed or sub-breed not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/breed/{breed}/{subBreed}/images/random": {
      "get": {
        "operationId": "getRandomSubBreedImage",
        "summary": "Random image by sub-breed",
        "description": "Returns a random dog image from a sub-breed.",
        "tags": ["Sub-Breeds", "Images"],
        "parameters": [
          {
            "name": "breed",
            "in": "path",
            "required": true,
            "description": "The breed name (e.g., hound).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subBreed",
            "in": "path",
            "required": true,
            "description": "The sub-breed name (e.g., afghan).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with a random image for the sub-breed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleImageResponse"
                }
              }
            }
          },
          "404": {
            "description": "Breed or sub-breed not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/breed/{breed}/{subBreed}/images/random/{count}": {
      "get": {
        "operationId": "getMultipleRandomSubBreedImages",
        "summary": "Multiple random images by sub-breed",
        "description": "Return multiple random dog images from a sub-breed.",
        "tags": ["Sub-Breeds", "Images"],
        "parameters": [
          {
            "name": "breed",
            "in": "path",
            "required": true,
            "description": "The breed name (e.g., hound).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subBreed",
            "in": "path",
            "required": true,
            "description": "The sub-breed name (e.g., afghan).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "path",
            "required": true,
            "description": "Number of random images to return (max 50).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with multiple random images for the sub-breed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultipleImagesResponse"
                }
              }
            }
          },
          "404": {
            "description": "Breed or sub-breed not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BreedsListResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "object",
            "description": "An object where keys are breed names and values are arrays of sub-breed names.",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "status": {
            "type": "string",
            "example": "success"
          }
        },
        "required": ["message", "status"]
      },
      "SubBreedsListResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "array",
            "description": "Array of sub-breed names.",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string",
            "example": "success"
          }
        },
        "required": ["message", "status"]
      },
      "SingleImageResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "URL of a dog image.",
            "format": "uri",
            "example": "https://images.dog.ceo/breeds/hound-afghan/n02088094_1003.jpg"
          },
          "status": {
            "type": "string",
            "example": "success"
          }
        },
        "required": ["message", "status"]
      },
      "MultipleImagesResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "array",
            "description": "Array of dog image URLs.",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "status": {
            "type": "string",
            "example": "success"
          }
        },
        "required": ["message", "status"]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message describing the issue."
          },
          "status": {
            "type": "string",
            "example": "error"
          },
          "code": {
            "type": "integer",
            "example": 404
          }
        },
        "required": ["message", "status"]
      }
    }
  },
  "tags": [
    {
      "name": "Breeds",
      "description": "Endpoints for listing dog breeds and sub-breeds"
    },
    {
      "name": "Sub-Breeds",
      "description": "Endpoints for sub-breed specific operations"
    },
    {
      "name": "Images",
      "description": "Endpoints for retrieving dog images"
    }
  ]
}
