{
  "openapi": "3.0.3",
  "info": {
    "title": "BraveNewCoin API",
    "description": "BraveNewCoin provides cryptocurrency market data including asset information, exchange rates, market capitalization, and historical pricing data. Available via RapidAPI.",
    "version": "1.0.0",
    "contact": {
      "name": "BraveNewCoin",
      "url": "https://bravenewcoin.com/developers"
    }
  },
  "servers": [
    {
      "url": "https://bravenewcoin.p.rapidapi.com",
      "description": "BraveNewCoin API via RapidAPI"
    }
  ],
  "security": [
    {
      "RapidAPIKey": [],
      "RapidAPIHost": []
    }
  ],
  "paths": {
    "/oauth/token": {
      "post": {
        "summary": "Get Access Token",
        "description": "Authenticates and returns a JWT access token for use with other endpoints.",
        "operationId": "getAccessToken",
        "tags": ["Authentication"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["audience", "client_id", "grant_type"],
                "properties": {
                  "audience": {
                    "type": "string",
                    "description": "API audience identifier",
                    "example": "https://api.bravenewcoin.com"
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Client ID for authentication"
                  },
                  "grant_type": {
                    "type": "string",
                    "description": "OAuth2 grant type",
                    "example": "client_credentials"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessToken"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/asset": {
      "get": {
        "summary": "List Assets",
        "description": "Returns a list of cryptocurrency assets. Can be filtered by status and symbol.",
        "operationId": "listAssets",
        "tags": ["Assets"],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter by asset status (ACTIVE or INACTIVE)",
            "schema": {
              "type": "string",
              "enum": ["ACTIVE", "INACTIVE"]
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "description": "Filter by asset symbol (e.g., BTC, ETH)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of assets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Asset"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/asset/{assetId}": {
      "get": {
        "summary": "Get Asset",
        "description": "Returns details for a specific asset by ID.",
        "operationId": "getAsset",
        "tags": ["Assets"],
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "description": "UUID of the asset",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asset details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "404": {
            "description": "Asset not found"
          }
        }
      }
    },
    "/market": {
      "get": {
        "summary": "List Markets",
        "description": "Returns a list of markets (trading pairs). Can be filtered by base and quote asset IDs.",
        "operationId": "listMarkets",
        "tags": ["Markets"],
        "parameters": [
          {
            "name": "baseAssetId",
            "in": "query",
            "description": "UUID of the base asset to filter by",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "quoteAssetId",
            "in": "query",
            "description": "UUID of the quote asset to filter by",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of markets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Market"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/market/{marketId}": {
      "get": {
        "summary": "Get Market",
        "description": "Returns details for a specific market by ID.",
        "operationId": "getMarket",
        "tags": ["Markets"],
        "parameters": [
          {
            "name": "marketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Market"
                }
              }
            }
          },
          "404": {
            "description": "Market not found"
          }
        }
      }
    },
    "/market-cap": {
      "get": {
        "summary": "Get Market Cap",
        "description": "Returns the latest or historical market capitalization data for an asset.",
        "operationId": "getMarketCap",
        "tags": ["Market Data"],
        "parameters": [
          {
            "name": "assetId",
            "in": "query",
            "required": true,
            "description": "UUID of the asset",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "percentChange",
            "in": "query",
            "description": "Include percentage change data",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market capitalization data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MarketCap"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ohlcv": {
      "get": {
        "summary": "Get OHLCV Data",
        "description": "Returns Open, High, Low, Close, Volume (OHLCV) data for an asset or market.",
        "operationId": "getOHLCV",
        "tags": ["Market Data"],
        "parameters": [
          {
            "name": "indexId",
            "in": "query",
            "description": "UUID of the index (market or asset)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "indexType",
            "in": "query",
            "description": "Type of index",
            "schema": {
              "type": "string",
              "enum": ["MWA", "GWA"]
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "ISO 8601 timestamp to retrieve data from",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of results to return",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OHLCV data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OHLCV"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exchange": {
      "get": {
        "summary": "List Exchanges",
        "description": "Returns a list of cryptocurrency exchanges tracked by BraveNewCoin.",
        "operationId": "listExchanges",
        "tags": ["Exchanges"],
        "responses": {
          "200": {
            "description": "List of exchanges",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Exchange"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exchange/{exchangeId}": {
      "get": {
        "summary": "Get Exchange",
        "description": "Returns details for a specific exchange by ID.",
        "operationId": "getExchange",
        "tags": ["Exchanges"],
        "parameters": [
          {
            "name": "exchangeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Exchange details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exchange"
                }
              }
            }
          },
          "404": {
            "description": "Exchange not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "RapidAPIKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-RapidAPI-Key",
        "description": "RapidAPI subscription key"
      },
      "RapidAPIHost": {
        "type": "apiKey",
        "in": "header",
        "name": "X-RapidAPI-Host",
        "description": "RapidAPI host header (bravenewcoin.p.rapidapi.com)"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token obtained from the /oauth/token endpoint"
      }
    },
    "schemas": {
      "AccessToken": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "JWT access token"
          },
          "expires_in": {
            "type": "integer",
            "description": "Token expiry time in seconds"
          },
          "token_type": {
            "type": "string",
            "description": "Token type (Bearer)"
          }
        }
      },
      "Asset": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "description": "Full name of the asset"
          },
          "symbol": {
            "type": "string",
            "description": "Ticker symbol"
          },
          "slugName": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["ACTIVE", "INACTIVE"]
          },
          "type": {
            "type": "string",
            "description": "Asset type (e.g., CRYPTO, FIAT)"
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Market": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "baseAssetId": {
            "type": "string",
            "format": "uuid"
          },
          "quoteAssetId": {
            "type": "string",
            "format": "uuid"
          },
          "exchangeId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "MarketCap": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "assetId": {
            "type": "string",
            "format": "uuid"
          },
          "price": {
            "type": "number",
            "format": "double"
          },
          "marketCapRank": {
            "type": "integer"
          },
          "marketCap": {
            "type": "number",
            "format": "double"
          },
          "volume": {
            "type": "number",
            "format": "double"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "percentChange24h": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "OHLCV": {
        "type": "object",
        "properties": {
          "indexId": {
            "type": "string",
            "format": "uuid"
          },
          "indexType": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "open": {
            "type": "number",
            "format": "double"
          },
          "high": {
            "type": "number",
            "format": "double"
          },
          "low": {
            "type": "number",
            "format": "double"
          },
          "close": {
            "type": "number",
            "format": "double"
          },
          "volume": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "Exchange": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "status": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {"name": "Authentication", "description": "OAuth2 authentication endpoints"},
    {"name": "Assets", "description": "Cryptocurrency asset information"},
    {"name": "Markets", "description": "Trading pair/market information"},
    {"name": "Market Data", "description": "Market capitalization and OHLCV data"},
    {"name": "Exchanges", "description": "Exchange information"}
  ]
}
