{
  "openapi": "3.0.3",
  "info": {
    "title": "The Org API",
    "version": "1.2.0",
    "description": "API for accessing organizational charts, company data, and position information.",
    "x-jentic-source-url": "https://developers.theorg.com"
  },
  "servers": [
    {
      "url": "https://api.theorg.com"
    }
  ],
  "paths": {
    "/v1.2/companies/org-chart": {
      "get": {
        "operationId": "findOrgChart",
        "summary": "Find org chart",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "linkedInUrl",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "section",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "orgChart",
                "board"
              ],
              "default": "orgChart"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Org chart nodes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChartNode"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.1/companies/org-chart/managers": {
      "get": {
        "operationId": "findManager",
        "summary": "Find manager of a position",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linkedInUrl",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Manager found"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.1/positions": {
      "post": {
        "operationId": "findPositions",
        "summary": "Search positions",
        "tags": [
          "Positions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PositionSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Position results"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.1/positions/credit-usage": {
      "post": {
        "operationId": "estimateCreditUsage",
        "summary": "Estimate credit cost for search",
        "tags": [
          "Positions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PositionSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credit estimate"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChartNode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "jobId": {
            "type": "string"
          },
          "jobTitle": {
            "type": "string"
          },
          "managerId": {
            "type": "string"
          },
          "nodeType": {
            "type": "string"
          },
          "section": {
            "type": "string"
          },
          "positionId": {
            "type": "string"
          },
          "fullName": {
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "PositionSearchRequest": {
        "type": "object",
        "required": [
          "limit",
          "offset",
          "filters"
        ],
        "properties": {
          "limit": {
            "type": "integer",
            "maximum": 1000
          },
          "offset": {
            "type": "integer",
            "maximum": 10000
          },
          "filters": {
            "type": "object",
            "properties": {
              "companyDomains": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "industries": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "jobTitles": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "locations": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "country": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    }
                  }
                }
              },
              "departments": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "hiredWithinDays": {
                "type": "integer"
              },
              "verifiedWorkEmail": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}