{
  "openapi": "3.0.3",
  "info": {
    "title": "Leaf Agriculture API",
    "version": "1.0.0",
    "description": "The Leaf Agriculture API provides a unified interface for accessing farm data across multiple agricultural platforms. It supports operations for field boundaries, farm operations, weather data, irrigation, and machine data.",
    "x-jentic-source-url": "https://withleaf.io/"
  },
  "servers": [{ "url": "https://api.withleaf.io/api" }],
  "paths": {
    "/authenticate": {
      "post": {
        "operationId": "authenticate",
        "summary": "Authenticate",
        "description": "Authenticate with username and password to obtain a JWT token",
        "tags": ["Authentication"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object", "required": ["username", "password"], "properties": { "username": { "type": "string" }, "password": { "type": "string" }, "rememberMe": { "type": "boolean", "default": true } } } } }
        },
        "responses": {
          "200": { "description": "Authentication successful", "content": { "application/json": { "schema": { "type": "object", "properties": { "id_token": { "type": "string" } } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Invalid credentials", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/services/fields/api/fields": {
      "get": {
        "operationId": "listFields",
        "summary": "List fields",
        "description": "Retrieve field boundary data",
        "tags": ["Fields"],
        "parameters": [{ "name": "leafUserId", "in": "query", "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Field" } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/services/operations/api/operations": {
      "get": {
        "operationId": "listOperations",
        "summary": "List operations",
        "description": "Retrieve farm operation records (planted, harvested, applied, tillage)",
        "tags": ["Operations"],
        "parameters": [
          { "name": "leafUserId", "in": "query", "schema": { "type": "string" } },
          { "name": "provider", "in": "query", "description": "Data source provider (e.g. JohnDeere)", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Operation" } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/services/operations/api/batch": {
      "post": {
        "operationId": "uploadOperationFiles",
        "summary": "Upload operation files",
        "description": "Upload farm operation files in batch",
        "tags": ["Operations"],
        "requestBody": {
          "required": true,
          "content": { "multipart/form-data": { "schema": { "type": "object", "properties": { "file": { "type": "string", "format": "binary" }, "leafUserId": { "type": "string" }, "provider": { "type": "string" } } } } }
        },
        "responses": {
          "200": { "description": "Files uploaded" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Field": { "type": "object", "properties": { "id": { "type": "string" }, "leafUserId": { "type": "string" }, "geometry": { "type": "object" }, "area": { "type": "number" }, "provider": { "type": "string" } } },
      "Operation": { "type": "object", "properties": { "id": { "type": "string" }, "type": { "type": "string", "enum": ["planted", "harvested", "applied", "tillage"] }, "leafUserId": { "type": "string" }, "startTime": { "type": "string", "format": "date-time" }, "endTime": { "type": "string", "format": "date-time" }, "geometry": { "type": "object" } } },
      "ErrorResponse": { "type": "object", "properties": { "status": { "type": "string" }, "message": { "type": "string" } } }
    },
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "bearerFormat": "JWT" }
    }
  },
  "security": [{ "bearerAuth": [] }]
}