{
  "openapi": "3.0.3",
  "info": {
    "title": "Manifestly Checklists API",
    "description": "Manifestly Checklists software improves collaboration and accountability in your organization's recurring processes. This API allows you to manage workflows, runs, steps, and users.",
    "version": "1.0.0",
    "contact": {
      "name": "Manifestly",
      "url": "https://www.manifest.ly"
    },
    "x-jentic-source-url": "https://manifestlyapi.docs.apiary.io/"
  },
  "servers": [
    {
      "url": "https://api.manifest.ly/api/v1",
      "description": "Manifestly API v1"
    }
  ],
  "paths": {
    "/checklists": {
      "get": {
        "operationId": "listWorkflows",
        "summary": "List all active workflows",
        "tags": [
          "Workflows"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "department_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by department ID"
          }
        ],
        "responses": {
          "200": {
            "description": "List of active workflows",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Workflow"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createOrUpdateWorkflow",
        "summary": "Create or update a workflow",
        "tags": [
          "Workflows"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Workflow created or updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workflow"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deactivateWorkflow",
        "summary": "Deactivate a workflow",
        "tags": [
          "Workflows"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "external_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "External ID of the workflow to deactivate"
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow deactivated"
          }
        }
      }
    },
    "/checklists/archived": {
      "get": {
        "operationId": "listArchivedWorkflows",
        "summary": "List all archived workflows",
        "tags": [
          "Workflows"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of archived workflows",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Workflow"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/checklists/{checklist_id}": {
      "get": {
        "operationId": "getWorkflow",
        "summary": "Get workflow details with steps",
        "tags": [
          "Workflows"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowDetail"
                }
              }
            }
          }
        }
      }
    },
    "/checklists/{checklist_id}/steps": {
      "get": {
        "operationId": "listWorkflowSteps",
        "summary": "List all steps for a workflow",
        "tags": [
          "Workflow Steps"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of workflow steps",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Step"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createWorkflowStep",
        "summary": "Create a workflow step",
        "tags": [
          "Workflow Steps"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StepInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Step created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Step"
                }
              }
            }
          }
        }
      }
    },
    "/checklists/{checklist_id}/steps/{step_id}": {
      "get": {
        "operationId": "getWorkflowStep",
        "summary": "Get step details",
        "tags": [
          "Workflow Steps"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "step_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Step details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Step"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateWorkflowStep",
        "summary": "Update a workflow step",
        "tags": [
          "Workflow Steps"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "step_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StepInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Step updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Step"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteWorkflowStep",
        "summary": "Delete a workflow step",
        "tags": [
          "Workflow Steps"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "step_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Step deleted"
          }
        }
      }
    },
    "/checklists/{checklist_id}/steps/{step_id}/data_setting": {
      "get": {
        "operationId": "getStepDataSetting",
        "summary": "Get step data setting",
        "tags": [
          "Step Data Settings"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "step_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Step data setting",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSetting"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "createOrUpdateStepDataSetting",
        "summary": "Create or update step data setting",
        "tags": [
          "Step Data Settings"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "step_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataSettingInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data setting created or updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSetting"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteStepDataSetting",
        "summary": "Delete step data setting",
        "tags": [
          "Step Data Settings"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "step_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data setting deleted"
          }
        }
      }
    },
    "/checklists/{checklist_id}/steps/{step_id}/content_objects": {
      "get": {
        "operationId": "listContentObjects",
        "summary": "List content objects for a step",
        "tags": [
          "Content Objects"
        ],
        "parameters": [
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "step_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of content objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContentObject"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createContentObject",
        "summary": "Create a content object",
        "tags": [
          "Content Objects"
        ],
        "parameters": [
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "step_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContentObjectInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Content object created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentObject"
                }
              }
            }
          }
        }
      }
    },
    "/checklists/{checklist_id}/steps/{step_id}/content_objects/{content_object_id}": {
      "get": {
        "operationId": "getContentObject",
        "summary": "Get a content object",
        "tags": [
          "Content Objects"
        ],
        "parameters": [
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "step_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "content_object_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Content object details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentObject"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateContentObject",
        "summary": "Update a content object",
        "tags": [
          "Content Objects"
        ],
        "parameters": [
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "step_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "content_object_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContentObjectInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Content object updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentObject"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteContentObject",
        "summary": "Delete a content object",
        "tags": [
          "Content Objects"
        ],
        "parameters": [
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "step_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "content_object_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Content object deleted"
          }
        }
      }
    },
    "/checklists/{checklist_id}/hooks": {
      "get": {
        "operationId": "listWorkflowHooks",
        "summary": "List workflow hooks",
        "tags": [
          "Workflow Hooks"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of workflow hooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Hook"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createWorkflowHook",
        "summary": "Create a workflow hook",
        "tags": [
          "Workflow Hooks"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HookInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Hook created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hook"
                }
              }
            }
          }
        }
      }
    },
    "/checklists/{checklist_id}/hooks/unsubscribe": {
      "post": {
        "operationId": "deleteWorkflowHook",
        "summary": "Delete a workflow hook",
        "tags": [
          "Workflow Hooks"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HookUnsubscribeInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Hook deleted"
          }
        }
      }
    },
    "/checklists/{checklist_id}/steps/{step_id}/hooks": {
      "get": {
        "operationId": "listStepHooks",
        "summary": "List step hooks",
        "tags": [
          "Step Hooks"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "step_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of step hooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Hook"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createStepHook",
        "summary": "Create a step hook",
        "tags": [
          "Step Hooks"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "step_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HookInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Step hook created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hook"
                }
              }
            }
          }
        }
      }
    },
    "/checklists/{checklist_id}/steps/{step_id}/hooks/unsubscribe": {
      "post": {
        "operationId": "deleteStepHook",
        "summary": "Delete a step hook",
        "tags": [
          "Step Hooks"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "step_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HookUnsubscribeInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Step hook deleted"
          }
        }
      }
    },
    "/runs": {
      "get": {
        "operationId": "listRuns",
        "summary": "List all runs",
        "tags": [
          "Runs"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checklist_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by workflow ID"
          },
          {
            "name": "external_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by external ID"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "completed",
                "late"
              ]
            },
            "description": "Filter by status"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of runs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Run"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createRun",
        "summary": "Create a new run",
        "tags": [
          "Runs"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Run created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Run"
                }
              }
            }
          }
        }
      }
    },
    "/runs/{run_id}": {
      "get": {
        "operationId": "getRun",
        "summary": "Get run details",
        "tags": [
          "Runs"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Run details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunDetail"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateRun",
        "summary": "Update a run",
        "tags": [
          "Runs"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Run updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Run"
                }
              }
            }
          }
        }
      }
    },
    "/runs/{run_id}/run_steps": {
      "get": {
        "operationId": "listRunSteps",
        "summary": "List all steps for a run",
        "tags": [
          "Run Steps"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of run steps",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RunStep"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/runs/{run_id}/run_steps/{run_step_id}/complete": {
      "post": {
        "operationId": "completeRunStep",
        "summary": "Complete a run step",
        "tags": [
          "Run Steps"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "run_step_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Step completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunStep"
                }
              }
            }
          }
        }
      }
    },
    "/runs/{run_id}/run_steps/{run_step_id}/uncomplete": {
      "post": {
        "operationId": "uncompleteRunStep",
        "summary": "Uncomplete a run step",
        "tags": [
          "Run Steps"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "run_step_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Step uncompleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunStep"
                }
              }
            }
          }
        }
      }
    },
    "/runs/{run_id}/run_steps/{run_step_id}/skip": {
      "post": {
        "operationId": "skipRunStep",
        "summary": "Skip a run step",
        "tags": [
          "Run Steps"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "run_step_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Step skipped",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunStep"
                }
              }
            }
          }
        }
      }
    },
    "/runs/{run_id}/run_steps/{run_step_id}/unskip": {
      "post": {
        "operationId": "unskipRunStep",
        "summary": "Unskip a run step",
        "tags": [
          "Run Steps"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "run_step_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Step unskipped",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunStep"
                }
              }
            }
          }
        }
      }
    },
    "/runs/{run_id}/run_steps/{run_step_id}/data": {
      "post": {
        "operationId": "addDataToRunStep",
        "summary": "Add data to a run step",
        "tags": [
          "Run Steps"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "run_step_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunStepDataInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data added to step",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunStep"
                }
              }
            }
          }
        }
      }
    },
    "/runs/{run_id}/run_steps/{run_step_id}/comments": {
      "get": {
        "operationId": "listRunStepComments",
        "summary": "List comments for a run step",
        "tags": [
          "Run Steps"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "run_step_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of comments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Comment"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addCommentToRunStep",
        "summary": "Add a comment to a run step",
        "tags": [
          "Run Steps"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "run_step_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Comment added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          }
        }
      }
    },
    "/runs/{run_id}/run_steps/{run_step_id}/assign": {
      "post": {
        "operationId": "assignRunStep",
        "summary": "Assign a run step to a user",
        "tags": [
          "Run Steps"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "run_step_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Step assigned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunStep"
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "operationId": "listUsers",
        "summary": "List all users",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "department_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by department ID"
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/memberships": {
      "post": {
        "operationId": "addUserToDepartment",
        "summary": "Add a user to a department",
        "tags": [
          "Memberships"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MembershipInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User added to department",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Membership"
                }
              }
            }
          }
        }
      }
    },
    "/departments": {
      "get": {
        "operationId": "listDepartments",
        "summary": "List all departments",
        "tags": [
          "Departments"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of departments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Department"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "API key passed in the Authorization header"
      }
    },
    "schemas": {
      "Workflow": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "external_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "archived": {
            "type": "boolean"
          },
          "department_id": {
            "type": "integer"
          }
        }
      },
      "WorkflowInput": {
        "type": "object",
        "required": [
          "title"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "external_id": {
            "type": "string"
          },
          "department_id": {
            "type": "integer"
          }
        }
      },
      "WorkflowDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Workflow"
          },
          {
            "type": "object",
            "properties": {
              "steps": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Step"
                }
              }
            }
          }
        ]
      },
      "Step": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "position": {
            "type": "integer"
          },
          "checklist_id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "StepInput": {
        "type": "object",
        "required": [
          "title"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "position": {
            "type": "integer"
          }
        }
      },
      "DataSetting": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "step_id": {
            "type": "integer"
          },
          "data_type": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          }
        }
      },
      "DataSettingInput": {
        "type": "object",
        "properties": {
          "data_type": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          }
        }
      },
      "ContentObject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "step_id": {
            "type": "integer"
          },
          "content_type": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "position": {
            "type": "integer"
          }
        }
      },
      "ContentObjectInput": {
        "type": "object",
        "properties": {
          "content_type": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "position": {
            "type": "integer"
          }
        }
      },
      "Hook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "event": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "HookInput": {
        "type": "object",
        "required": [
          "url",
          "event"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "event": {
            "type": "string"
          }
        }
      },
      "HookUnsubscribeInput": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Run": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "checklist_id": {
            "type": "integer"
          },
          "external_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RunInput": {
        "type": "object",
        "required": [
          "checklist_id"
        ],
        "properties": {
          "checklist_id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "users": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "external_id": {
            "type": "string"
          }
        }
      },
      "RunDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Run"
          },
          {
            "type": "object",
            "properties": {
              "run_steps": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RunStep"
                }
              }
            }
          }
        ]
      },
      "RunUpdateInput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "RunStep": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "run_id": {
            "type": "integer"
          },
          "step_id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time"
          },
          "completed_by": {
            "type": "string"
          },
          "skipped": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "RunStepDataInput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "body": {
            "type": "string"
          },
          "user_id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CommentInput": {
        "type": "object",
        "required": [
          "body"
        ],
        "properties": {
          "body": {
            "type": "string"
          }
        }
      },
      "AssignInput": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "role": {
            "type": "string"
          }
        }
      },
      "MembershipInput": {
        "type": "object",
        "required": [
          "email",
          "role"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "department_id": {
            "type": "integer"
          }
        }
      },
      "Membership": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "user_id": {
            "type": "integer"
          },
          "department_id": {
            "type": "integer"
          },
          "role": {
            "type": "string"
          }
        }
      },
      "Department": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "Workflows",
      "description": "Manage workflow (checklist) templates"
    },
    {
      "name": "Workflow Steps",
      "description": "Manage steps within workflows"
    },
    {
      "name": "Step Data Settings",
      "description": "Manage data settings for workflow steps"
    },
    {
      "name": "Content Objects",
      "description": "Manage content objects for workflow steps"
    },
    {
      "name": "Workflow Hooks",
      "description": "Manage webhook subscriptions for workflows"
    },
    {
      "name": "Step Hooks",
      "description": "Manage webhook subscriptions for steps"
    },
    {
      "name": "Runs",
      "description": "Manage checklist runs"
    },
    {
      "name": "Run Steps",
      "description": "Manage steps within runs"
    },
    {
      "name": "Users",
      "description": "Manage users"
    },
    {
      "name": "Memberships",
      "description": "Manage user memberships in departments"
    },
    {
      "name": "Departments",
      "description": "Manage departments"
    }
  ]
}