{
  "openapi": "3.0.3",
  "info": {
    "title": "Overlay AI API",
    "description": "Overlay AI API for OAuth2 authentication and Zapier trigger integrations. Interact with crucial information in real time powered by AI object recognition.",
    "version": "1.0.0",
    "contact": {
      "name": "Overlay AI",
      "url": "https://www.overlay.ai"
    }
  },
  "servers": [
    {
      "url": "https://www.overlay.ai"
    }
  ],
  "paths": {
    "/oauth2": {
      "get": {
        "operationId": "initiateOAuth2",
        "summary": "Initiate OAuth2 Authentication",
        "description": "Initiates the OAuth2 authentication flow by constructing a query string from the request parameters and redirecting to the login URL.",
        "tags": [
          "OAuth2"
        ],
        "responses": {
          "302": {
            "description": "Redirect to OAuth2 login page"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/access": {
      "post": {
        "operationId": "exchangeAuthorizationCode",
        "summary": "Exchange Authorization Code for Tokens",
        "description": "Exchange an OAuth2 authorization code for access and refresh tokens.",
        "tags": [
          "OAuth2"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code",
                  "grant_type"
                ],
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "Authorization code from OAuth2 provider."
                  },
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "authorization_code"
                    ],
                    "description": "Must be 'authorization_code'."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tokens returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Invalid authorization code"
          }
        }
      }
    },
    "/refresh": {
      "post": {
        "operationId": "refreshAccessToken",
        "summary": "Refresh Access Token",
        "description": "Generate a new access token using a refresh token.",
        "tags": [
          "OAuth2"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "refresh_token",
                  "grant_type"
                ],
                "properties": {
                  "refresh_token": {
                    "type": "string",
                    "description": "Valid refresh token."
                  },
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "refresh_token"
                    ],
                    "description": "Must be 'refresh_token'."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New tokens returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid refresh token"
          }
        }
      }
    },
    "/test": {
      "get": {
        "operationId": "validateToken",
        "summary": "Validate Token",
        "description": "Validates Firebase ID token middleware. Used for testing authentication.",
        "tags": [
          "OAuth2"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Token is valid"
          },
          "401": {
            "description": "Invalid or expired token"
          }
        }
      }
    },
    "/api/zapier/subscribe/flows": {
      "post": {
        "operationId": "subscribeToFlows",
        "summary": "Subscribe to Flows",
        "description": "Subscribe a webhook URL to receive flow trigger notifications.",
        "tags": [
          "Zapier Triggers"
        ],
        "parameters": [
          {
            "name": "orgid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID."
          },
          {
            "name": "userid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "hookUrl",
                  "subscriptionType"
                ],
                "properties": {
                  "hookUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "Webhook URL to receive notifications."
                  },
                  "subscriptionType": {
                    "type": "string",
                    "description": "Type of subscription."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subscription created, returns listener ID"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/zapier/unsubscribe/flows": {
      "post": {
        "operationId": "unsubscribeFromFlows",
        "summary": "Unsubscribe from Flows",
        "description": "Remove a webhook subscription for flow triggers.",
        "tags": [
          "Zapier Triggers"
        ],
        "parameters": [
          {
            "name": "orgid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "hookUrl"
                ],
                "properties": {
                  "hookUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "Webhook URL to unsubscribe."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully unsubscribed"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/zapier/perform-list": {
      "get": {
        "operationId": "getPerformList",
        "summary": "Get Trigger List",
        "description": "Retrieves a list of triggers for the application.",
        "tags": [
          "Zapier Triggers"
        ],
        "responses": {
          "201": {
            "description": "Trigger data array returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Firebase ID token or access token."
      }
    },
    "schemas": {
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "Bearer token for API requests."
          },
          "refresh_token": {
            "type": "string",
            "description": "Token for obtaining new access tokens."
          },
          "user_id": {
            "type": "string",
            "description": "Authenticated user identifier."
          },
          "org_id": {
            "type": "string",
            "description": "Organization identifier."
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "OAuth2",
      "description": "OAuth2 authentication flow"
    },
    {
      "name": "Zapier Triggers",
      "description": "Zapier trigger webhook management"
    }
  ]
}