{
  "openapi": "3.0.3",
  "info": {
    "title": "Gmail API",
    "version": "v1",
    "description": "The Gmail API lets you view and manage Gmail mailbox data like threads, messages, and labels.",
    "x-jentic-source-url": "https://developers.google.com/gmail/api"
  },
  "servers": [
    {
      "url": "https://gmail.googleapis.com"
    }
  ],
  "paths": {
    "/gmail/v1/users/{userId}/profile": {
      "get": {
        "operationId": "gmail_users_getProfile",
        "summary": "Gets the current user's Gmail profile.",
        "description": "Gets the current user's Gmail profile.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/watch": {
      "post": {
        "operationId": "gmail_users_watch",
        "summary": "Set up or update a push notification watch on the given user mailbox.",
        "description": "Set up or update a push notification watch on the given user mailbox.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/stop": {
      "post": {
        "operationId": "gmail_users_stop",
        "summary": "Stop receiving push notifications for the given user mailbox.",
        "description": "Stop receiving push notifications for the given user mailbox.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "No content"
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/drafts/{id}": {
      "delete": {
        "operationId": "gmail_users_drafts_delete",
        "summary": "Immediately and permanently deletes the specified draft. Does not simply trash it.",
        "description": "Immediately and permanently deletes the specified draft. Does not simply trash it.",
        "tags": [
          "Users.Drafts"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the draft to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "No content"
          }
        }
      },
      "get": {
        "operationId": "gmail_users_drafts_get",
        "summary": "Gets the specified draft.",
        "description": "Gets the specified draft.",
        "tags": [
          "Users.Drafts"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the draft to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The format to return the draft in.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "minimal",
                "full",
                "raw",
                "metadata"
              ],
              "default": "full"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Draft"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "gmail_users_drafts_update",
        "summary": "Replaces a draft's content.",
        "description": "Replaces a draft's content.",
        "tags": [
          "Users.Drafts"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the draft to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Draft"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/drafts": {
      "post": {
        "operationId": "gmail_users_drafts_create",
        "summary": "Creates a new draft with the `DRAFT` label.",
        "description": "Creates a new draft with the `DRAFT` label.",
        "tags": [
          "Users.Drafts"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Draft"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "gmail_users_drafts_list",
        "summary": "Lists the drafts in the user's mailbox.",
        "description": "Lists the drafts in the user's mailbox.",
        "tags": [
          "Users.Drafts"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of drafts to return. This field defaults to 100. The maximum allowed value for this field is 500.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": "100"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Page token to retrieve a specific page of results in the list.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Only return draft messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeSpamTrash",
            "in": "query",
            "description": "Include drafts from `SPAM` and `TRASH` in the results.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "false"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDraftsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/drafts/send": {
      "post": {
        "operationId": "gmail_users_drafts_send",
        "summary": "Sends the specified, existing draft to the recipients in the `To`, `Cc`, and `Bcc` headers.",
        "description": "Sends the specified, existing draft to the recipients in the `To`, `Cc`, and `Bcc` headers.",
        "tags": [
          "Users.Drafts"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/history": {
      "get": {
        "operationId": "gmail_users_history_list",
        "summary": "Lists the history of all changes to the given mailbox. History results are returned in chronological order (increasing `historyId`).",
        "description": "Lists the history of all changes to the given mailbox. History results are returned in chronological order (increasing `historyId`).",
        "tags": [
          "Users.History"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of history records to return. This field defaults to 100. The maximum allowed value for this field is 500.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": "100"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Page token to retrieve a specific page of results in the list.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startHistoryId",
            "in": "query",
            "description": "Required. Returns history records after the specified `startHistoryId`. The supplied `startHistoryId` should be obtained from the `historyId` of a message, thread, or previous `list` response. History IDs increase chronologically but are not contiguous with random gaps in between valid IDs. Supplying an invalid or out of date `startHistoryId` typically returns an `HTTP 404` error code. A `historyId` is typically valid for at least a week, but in some rare circumstances may be valid for only a few hours. If you receive an `HTTP 404` error response, your application should perform a full sync. If you receive no `nextPageToken` in the response, there are no updates to retrieve and you can store the returned `historyId` for a future request.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "int64"
            }
          },
          {
            "name": "labelId",
            "in": "query",
            "description": "Only return messages with a label matching the ID.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "historyTypes",
            "in": "query",
            "description": "History types to be returned by the function",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "messageAdded",
                "messageDeleted",
                "labelAdded",
                "labelRemoved"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListHistoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/messages/{id}/trash": {
      "post": {
        "operationId": "gmail_users_messages_trash",
        "summary": "Moves the specified message to the trash.",
        "description": "Moves the specified message to the trash.",
        "tags": [
          "Users.Messages"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the message to Trash.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/messages/{id}/untrash": {
      "post": {
        "operationId": "gmail_users_messages_untrash",
        "summary": "Removes the specified message from the trash.",
        "description": "Removes the specified message from the trash.",
        "tags": [
          "Users.Messages"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the message to remove from Trash.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/messages/{id}": {
      "delete": {
        "operationId": "gmail_users_messages_delete",
        "summary": "Immediately and permanently deletes the specified message. This operation cannot be undone. Prefer `messages.trash` instead.",
        "description": "Immediately and permanently deletes the specified message. This operation cannot be undone. Prefer `messages.trash` instead.",
        "tags": [
          "Users.Messages"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the message to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "No content"
          }
        }
      },
      "get": {
        "operationId": "gmail_users_messages_get",
        "summary": "Gets the specified message.",
        "description": "Gets the specified message.",
        "tags": [
          "Users.Messages"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the message to retrieve. This ID is usually retrieved using `messages.list`. The ID is also contained in the result when a message is inserted (`messages.insert`) or imported (`messages.import`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The format to return the message in.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "minimal",
                "full",
                "raw",
                "metadata"
              ],
              "default": "full"
            }
          },
          {
            "name": "metadataHeaders",
            "in": "query",
            "description": "When given and format is `METADATA`, only include headers specified.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/messages/batchDelete": {
      "post": {
        "operationId": "gmail_users_messages_batchDelete",
        "summary": "Deletes many messages by message ID. Provides no guarantees that messages were not already deleted or even existed at all.",
        "description": "Deletes many messages by message ID. Provides no guarantees that messages were not already deleted or even existed at all.",
        "tags": [
          "Users.Messages"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchDeleteMessagesRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "No content"
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/messages/import": {
      "post": {
        "operationId": "gmail_users_messages_import",
        "summary": "Imports a message into only this user's mailbox, with standard email delivery scanning and classification similar to receiving via SMTP. This method doesn't perform SPF checks, so it might not work fo",
        "description": "Imports a message into only this user's mailbox, with standard email delivery scanning and classification similar to receiving via SMTP. This method doesn't perform SPF checks, so it might not work for some spam messages, such as those attempting to perform domain spoofing. This method does not send a message. Note that the maximum size of the message is 150MB.",
        "tags": [
          "Users.Messages"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          },
          {
            "name": "internalDateSource",
            "in": "query",
            "description": "Source for Gmail's internal date of the message.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "receivedTime",
                "dateHeader"
              ],
              "default": "dateHeader"
            }
          },
          {
            "name": "neverMarkSpam",
            "in": "query",
            "description": "Ignore the Gmail spam classifier decision and never mark this email as SPAM in the mailbox.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "false"
            }
          },
          {
            "name": "processForCalendar",
            "in": "query",
            "description": "Process calendar invites in the email and add any extracted meetings to the Google Calendar for this user.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "false"
            }
          },
          {
            "name": "deleted",
            "in": "query",
            "description": "Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for Google Workspace accounts.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "false"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/messages": {
      "post": {
        "operationId": "gmail_users_messages_insert",
        "summary": "Directly inserts a message into only this user's mailbox similar to `IMAP APPEND`, bypassing most scanning and classification. Does not send a message.",
        "description": "Directly inserts a message into only this user's mailbox similar to `IMAP APPEND`, bypassing most scanning and classification. Does not send a message.",
        "tags": [
          "Users.Messages"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          },
          {
            "name": "internalDateSource",
            "in": "query",
            "description": "Source for Gmail's internal date of the message.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "receivedTime",
                "dateHeader"
              ],
              "default": "receivedTime"
            }
          },
          {
            "name": "deleted",
            "in": "query",
            "description": "Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for Google Workspace accounts.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "false"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "gmail_users_messages_list",
        "summary": "Lists the messages in the user's mailbox. For example usage, see [List Gmail messages](https://developers.google.com/workspace/gmail/api/guides/list-messages).",
        "description": "Lists the messages in the user's mailbox. For example usage, see [List Gmail messages](https://developers.google.com/workspace/gmail/api/guides/list-messages).",
        "tags": [
          "Users.Messages"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of messages to return. This field defaults to 100. The maximum allowed value for this field is 500.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": "100"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Page token to retrieve a specific page of results in the list.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Only return messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`. Parameter cannot be used when accessing the api using the gmail.metadata scope.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "labelIds",
            "in": "query",
            "description": "Only return messages with labels that match all of the specified label IDs. Messages in a thread might have labels that other messages in the same thread don't have. To learn more, see [Manage labels on messages and threads](https://developers.google.com/workspace/gmail/api/guides/labels#manage_labels_on_messages_threads).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeSpamTrash",
            "in": "query",
            "description": "Include messages from `SPAM` and `TRASH` in the results.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "false"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMessagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/messages/send": {
      "post": {
        "operationId": "gmail_users_messages_send",
        "summary": "Sends the specified message to the recipients in the `To`, `Cc`, and `Bcc` headers. For example usage, see [Sending email](https://developers.google.com/workspace/gmail/api/guides/sending).",
        "description": "Sends the specified message to the recipients in the `To`, `Cc`, and `Bcc` headers. For example usage, see [Sending email](https://developers.google.com/workspace/gmail/api/guides/sending).",
        "tags": [
          "Users.Messages"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/messages/{id}/modify": {
      "post": {
        "operationId": "gmail_users_messages_modify",
        "summary": "Modifies the labels on the specified message.",
        "description": "Modifies the labels on the specified message.",
        "tags": [
          "Users.Messages"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the message to modify.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModifyMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/messages/batchModify": {
      "post": {
        "operationId": "gmail_users_messages_batchModify",
        "summary": "Modifies the labels on the specified messages.",
        "description": "Modifies the labels on the specified messages.",
        "tags": [
          "Users.Messages"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchModifyMessagesRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "No content"
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/messages/{messageId}/attachments/{id}": {
      "get": {
        "operationId": "gmail_users_messages_attachments_get",
        "summary": "Gets the specified message attachment.",
        "description": "Gets the specified message attachment.",
        "tags": [
          "Users.Messages.Attachments"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          },
          {
            "name": "messageId",
            "in": "path",
            "description": "The ID of the message containing the attachment.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the attachment.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessagePartBody"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/labels": {
      "post": {
        "operationId": "gmail_users_labels_create",
        "summary": "Creates a new label.",
        "description": "Creates a new label.",
        "tags": [
          "Users.Labels"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Label"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Label"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "gmail_users_labels_list",
        "summary": "Lists all labels in the user's mailbox.",
        "description": "Lists all labels in the user's mailbox.",
        "tags": [
          "Users.Labels"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListLabelsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/labels/{id}": {
      "delete": {
        "operationId": "gmail_users_labels_delete",
        "summary": "Immediately and permanently deletes the specified label and removes it from any messages and threads that it is applied to.",
        "description": "Immediately and permanently deletes the specified label and removes it from any messages and threads that it is applied to.",
        "tags": [
          "Users.Labels"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the label to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "No content"
          }
        }
      },
      "get": {
        "operationId": "gmail_users_labels_get",
        "summary": "Gets the specified label.",
        "description": "Gets the specified label.",
        "tags": [
          "Users.Labels"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the label to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Label"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "gmail_users_labels_update",
        "summary": "Updates the specified label.",
        "description": "Updates the specified label.",
        "tags": [
          "Users.Labels"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the label to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Label"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Label"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "gmail_users_labels_patch",
        "summary": "Patch the specified label.",
        "description": "Patch the specified label.",
        "tags": [
          "Users.Labels"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the label to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Label"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Label"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/threads/{id}/trash": {
      "post": {
        "operationId": "gmail_users_threads_trash",
        "summary": "Moves the specified thread to the trash. Any messages that belong to the thread are also moved to the trash.",
        "description": "Moves the specified thread to the trash. Any messages that belong to the thread are also moved to the trash.",
        "tags": [
          "Users.Threads"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the thread to Trash.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Thread"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/threads/{id}/untrash": {
      "post": {
        "operationId": "gmail_users_threads_untrash",
        "summary": "Removes the specified thread from the trash. Any messages that belong to the thread are also removed from the trash.",
        "description": "Removes the specified thread from the trash. Any messages that belong to the thread are also removed from the trash.",
        "tags": [
          "Users.Threads"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the thread to remove from Trash.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Thread"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/threads/{id}": {
      "delete": {
        "operationId": "gmail_users_threads_delete",
        "summary": "Immediately and permanently deletes the specified thread. Any messages that belong to the thread are also deleted. This operation cannot be undone. Prefer `threads.trash` instead.",
        "description": "Immediately and permanently deletes the specified thread. Any messages that belong to the thread are also deleted. This operation cannot be undone. Prefer `threads.trash` instead.",
        "tags": [
          "Users.Threads"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Thread to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "No content"
          }
        }
      },
      "get": {
        "operationId": "gmail_users_threads_get",
        "summary": "Gets the specified thread.",
        "description": "Gets the specified thread.",
        "tags": [
          "Users.Threads"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the thread to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The format to return the messages in.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "full",
                "metadata",
                "minimal"
              ],
              "default": "full"
            }
          },
          {
            "name": "metadataHeaders",
            "in": "query",
            "description": "When given and format is METADATA, only include headers specified.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Thread"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/threads": {
      "get": {
        "operationId": "gmail_users_threads_list",
        "summary": "Lists the threads in the user's mailbox.",
        "description": "Lists the threads in the user's mailbox.",
        "tags": [
          "Users.Threads"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of threads to return. This field defaults to 100. The maximum allowed value for this field is 500.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": "100"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Page token to retrieve a specific page of results in the list.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Only return threads matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`. Parameter cannot be used when accessing the api using the gmail.metadata scope.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "labelIds",
            "in": "query",
            "description": "Only return threads with labels that match all of the specified label IDs.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeSpamTrash",
            "in": "query",
            "description": "Include threads from `SPAM` and `TRASH` in the results.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "false"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListThreadsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/threads/{id}/modify": {
      "post": {
        "operationId": "gmail_users_threads_modify",
        "summary": "Modifies the labels applied to the thread. This applies to all messages in the thread.",
        "description": "Modifies the labels applied to the thread. This applies to all messages in the thread.",
        "tags": [
          "Users.Threads"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the thread to modify.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModifyThreadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Thread"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/settings/imap": {
      "get": {
        "operationId": "gmail_users_settings_getImap",
        "summary": "Gets IMAP settings.",
        "description": "Gets IMAP settings.",
        "tags": [
          "Users.Settings"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImapSettings"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "gmail_users_settings_updateImap",
        "summary": "Updates IMAP settings.",
        "description": "Updates IMAP settings.",
        "tags": [
          "Users.Settings"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImapSettings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImapSettings"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/settings/pop": {
      "get": {
        "operationId": "gmail_users_settings_getPop",
        "summary": "Gets POP settings.",
        "description": "Gets POP settings.",
        "tags": [
          "Users.Settings"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PopSettings"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "gmail_users_settings_updatePop",
        "summary": "Updates POP settings.",
        "description": "Updates POP settings.",
        "tags": [
          "Users.Settings"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PopSettings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PopSettings"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/settings/vacation": {
      "get": {
        "operationId": "gmail_users_settings_getVacation",
        "summary": "Gets vacation responder settings.",
        "description": "Gets vacation responder settings.",
        "tags": [
          "Users.Settings"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VacationSettings"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "gmail_users_settings_updateVacation",
        "summary": "Updates vacation responder settings.",
        "description": "Updates vacation responder settings.",
        "tags": [
          "Users.Settings"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VacationSettings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VacationSettings"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/settings/language": {
      "get": {
        "operationId": "gmail_users_settings_getLanguage",
        "summary": "Gets language settings.",
        "description": "Gets language settings.",
        "tags": [
          "Users.Settings"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguageSettings"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "gmail_users_settings_updateLanguage",
        "summary": "Updates language settings. If successful, the return object contains the `displayLanguage` that was saved for the user, which may differ from the value passed into the request. This is because the req",
        "description": "Updates language settings. If successful, the return object contains the `displayLanguage` that was saved for the user, which may differ from the value passed into the request. This is because the requested `displayLanguage` may not be directly supported by Gmail but have a close variant that is, and so the variant may be chosen and saved instead.",
        "tags": [
          "Users.Settings"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LanguageSettings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguageSettings"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/settings/autoForwarding": {
      "get": {
        "operationId": "gmail_users_settings_getAutoForwarding",
        "summary": "Gets the auto-forwarding setting for the specified account.",
        "description": "Gets the auto-forwarding setting for the specified account.",
        "tags": [
          "Users.Settings"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutoForwarding"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "gmail_users_settings_updateAutoForwarding",
        "summary": "Updates the auto-forwarding setting for the specified account. A verified forwarding address must be specified when auto-forwarding is enabled. This method is only available to service account clients",
        "description": "Updates the auto-forwarding setting for the specified account. A verified forwarding address must be specified when auto-forwarding is enabled. This method is only available to service account clients that have been delegated domain-wide authority.",
        "tags": [
          "Users.Settings"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutoForwarding"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutoForwarding"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/settings/sendAs": {
      "get": {
        "operationId": "gmail_users_settings_sendAs_list",
        "summary": "Lists the send-as aliases for the specified account. The result includes the primary send-as address associated with the account as well as any custom \"from\" aliases.",
        "description": "Lists the send-as aliases for the specified account. The result includes the primary send-as address associated with the account as well as any custom \"from\" aliases.",
        "tags": [
          "Users.Settings.Sendas"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSendAsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "gmail_users_settings_sendAs_create",
        "summary": "Creates a custom \"from\" send-as alias. If an SMTP MSA is specified, Gmail will attempt to connect to the SMTP service to validate the configuration before creating the alias. If ownership verification",
        "description": "Creates a custom \"from\" send-as alias. If an SMTP MSA is specified, Gmail will attempt to connect to the SMTP service to validate the configuration before creating the alias. If ownership verification is required for the alias, a message will be sent to the email address and the resource's verification status will be set to `pending`; otherwise, the resource will be created with verification status set to `accepted`. If a signature is provided, Gmail will sanitize the HTML before saving it with the alias. This method is only available to service account clients that have been delegated domain-wide authority.",
        "tags": [
          "Users.Settings.Sendas"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendAs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendAs"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}": {
      "get": {
        "operationId": "gmail_users_settings_sendAs_get",
        "summary": "Gets the specified send-as alias. Fails with an HTTP 404 error if the specified address is not a member of the collection.",
        "description": "Gets the specified send-as alias. Fails with an HTTP 404 error if the specified address is not a member of the collection.",
        "tags": [
          "Users.Settings.Sendas"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          },
          {
            "name": "sendAsEmail",
            "in": "path",
            "description": "The send-as alias to be retrieved.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendAs"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "gmail_users_settings_sendAs_update",
        "summary": "Updates a send-as alias. If a signature is provided, Gmail will sanitize the HTML before saving it with the alias. Addresses other than the primary address for the account can only be updated by servi",
        "description": "Updates a send-as alias. If a signature is provided, Gmail will sanitize the HTML before saving it with the alias. Addresses other than the primary address for the account can only be updated by service account clients that have been delegated domain-wide authority.",
        "tags": [
          "Users.Settings.Sendas"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
            }
          },
          {
            "name": "sendAsEmail",
            "in": "path",
            "description": "The send-as alias to be updated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendAs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendAs"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "gmail_users_settings_sendAs_patch",
        "summary": "Patch the specified send-as alias.",
        "description": "Patch the specified send-as alias.",
        "tags": [
          "Users.Settings.Sendas"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "me"
[...]
