{
  "openapi": "3.0.0",
  "info": {
    "license": {
      "name": "Apache-2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "title": "Finnhub API",
    "version": "1.0.0",
    "x-jentic-source-url": "https://raw.githubusercontent.com/sophie-jentic/openapi-specs/refs/heads/main/finnhub.io/swagger.json"
  },
  "servers": [
    {
      "url": "https://finnhub.io/api/v1"
    }
  ],
  "paths": {
    "/ai-chat": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AIChatResponse",
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Default"
        ],
        "description": "<p>Chat with our AI copilot powered by Neyman AI trained on the extensive Finnhub's global data. You can ask it any finance-related questions just like with other LLM models and receive results in texts and widgets.</p>",
        "examples": [
          {
            "text": "/ai-chat",
            "url": "/ai-chat?token=<token>"
          }
        ],
        "freeTier": null,
        "highUsage": null,
        "navHeader": "AI Copilot",
        "newEndpoint": null,
        "operationId": "ai-chat",
        "premium": "Premium Access Required",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AIChatBody"
              }
            }
          },
          "description": "Search body"
        },
        "sampleCode": {
          "curl": "curl --request POST 'https://finnhub.io/api/v1/ai-chat?token=<token>' \\\n--data-raw '{\n    \"messages\": [\n            {\n                \"role\": \"system\",\n                \"content\": \"Be precise and concise.\"\n            },\n            {\n                \"role\": \"user\",\n                \"content\": \"What is the current price of NVDA?\"\n            }\n        ]\n}'",
          "javascript": "var raw = JSON.stringify({\n    \"messages\": [\n            {\n                \"role\": \"system\",\n                \"content\": \"Be precise and concise.\"\n            },\n            {\n                \"role\": \"user\",\n                \"content\": \"What is the current price of NVDA?\"\n            }\n        ]\n});\n\nvar requestOptions = {\n  method: 'POST',\n  body: raw,\n};\n\nfetch(\"https://finnhub.io/api/v1/ai-chat?token=<token>\", requestOptions)\n  .then(response => response.json())",
          "python": "import requests\nimport json\n\nurl = \"https://finnhub.io/api/v1/ai-chat?token=<token>\"\n\npayload = json.dumps({\n    \"messages\": [\n            {\n                \"role\": \"system\",\n                \"content\": \"Be precise and concise.\"\n            },\n            {\n                \"role\": \"user\",\n                \"content\": \"What is the current price of NVDA?\"\n            }\n        ]\n})\n\n\nresponse = requests.request(\"POST\", url, data=payload)\n\nprint(response.json())"
        },
        "sampleResponse": "{\n  \"chatId\": \"uQElLdY7vZ\",\n  \"content\": \"The current price of NVIDIA Corp (NVDA) is $124.92. The price has increased by 3.97% in the past 24 hours.\\n\",\n  \"querySummary\": \"NVDA Stock Price\",\n  \"relatedQueries\": [\n    \"What is NVDA's price target?\",\n    \"Is NVDA a good stock to buy?\",\n    \"What factors affect NVDA's price?\"\n  ],\n  \"sources\": [\n    {\n      \"link\": \"https://finnhub.io/docs/api\",\n      \"shortURL\": \"finnhub.io\",\n      \"snippet\": \"Comprehensive stock API for realtime market data, global company fundamentals, economic data, and alternative data...\",\n      \"title\": \"Finnhub API Documentation\",\n      \"websiteName\": \"Finnhub\"\n    }\n  ],\n  \"tickers\": [\n    {\n      \"priceCurrency\": \"USD\",\n      \"reportingCurrency\": \"USD\",\n      \"ticker\": \"NVDA\"\n    }\n  ],\n  \"widgets\": [\n    \"https://neyman.ai/widget?ticker=NVDA&which=historical-price\"\n  ]\n}",
        "section": "Enterprise data",
        "summary": "AI Copilot",
        "title": "AI Copilot",
        "urlId": "ai-copilot-llm",
        "widget": null
      }
    },
    "/airline/price-index": {
      "get": {
        "parameters": [
          {
            "description": "Filter data by airline. Accepted values: <code>united</code>,<code>delta</code>,<code>american_airlines</code>,<code>southwest</code>,<code>southern_airways_express</code>,<code>alaska_airlines</code>,<code>frontier_airlines</code>,<code>jetblue_airways</code>,<code>spirit_airlines</code>,<code>sun_country_airlines</code>,<code>breeze_airways</code>,<code>hawaiian_airlines</code>",
            "in": "query",
            "name": "airline",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "From date <code>YYYY-MM-DD</code>.",
            "in": "query",
            "name": "from",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "To date <code>YYYY-MM-DD</code>.",
            "in": "query",
            "name": "to",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirlinePriceIndexData",
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Default"
        ],
        "description": "<p>The Flight Ticket Price Index API provides comprehensive data on airline ticket prices, including the average daily ticket price and its percentage change (price index). This data, collected weekly and projected two weeks ahead, aggregates daily prices and indexes from the 50 busiest and largest airports across the USA. The dataset includes detailed information on airlines, dates, and average ticket prices, offering valuable insights for market analysis and pricing strategies.</p><p>The price index is calculated as percentage change of average daily ticket price from the previous weekly reading. Raw ticket prices data is available for Enterprise users. <a href=\"mailto:support@finnhub.io\">Contact us</a> to inquire about the raw price data.</p>",
        "examples": [
          {
            "text": "/airline/price-index?airline=united&from=2024-06-01&to=2024-07-15",
            "url": "/airline/price-index?airline=united&from=2024-06-01&to=2024-07-15&token=<token>"
          }
        ],
        "freeTier": null,
        "highUsage": null,
        "navHeader": "Airline Price Index",
        "newEndpoint": null,
        "operationId": "airline-price-index",
        "premium": "Accessible with Fundamental data or All in One subscription.",
        "sampleCode": {
          "curl": "autoGenerated",
          "go": "res, _, err := finnhubClient.AirlinePriceIndex(context.Background()).Airline(\"united\").From(\"2024-06-01\").To(\"2024-07-10\").Execute()",
          "javascript": "finnhubClient.airlinePriceIndex(\"united\", \"2024-06-01\", \"2024-07-10\", (error, data, response) => {\n\tconsole.log(data)\n});",
          "kotlin": "println(apiClient.airlinePriceIndex(\"united\", from = \"2024-06-01\", to = \"2024-07-10\"))",
          "php": "print_r($client->airlinePriceIndex(\"united\", \"2024-06-01\", \"2024-07-10\"));",
          "python": "print(finnhub_client.airline_price_index('united', _from=\"2024-06-01\", to=\"2024-07-10\"))",
          "ruby": "puts(finnhub_client.airline_price_index('united', \"2024-06-01\", \"2024-07-10\"))",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"data\": [\n    {\n      \"airline\": \"united\",\n      \"date\": \"2024-06-17\",\n      \"priceIndex\": 0.832755,\n      \"dailyAvgPrice\": 360.918\n    },\n    {\n      \"airline\": \"united\",\n      \"date\": \"2024-06-19\",\n      \"priceIndex\": 0.850855,\n      \"dailyAvgPrice\": 307.089\n    },\n    {\n      \"airline\": \"united\",\n      \"date\": \"2024-06-20\",\n      \"priceIndex\": 1.33928,\n      \"dailyAvgPrice\": 411.278\n    },\n    {\n      \"airline\": \"united\",\n      \"date\": \"2024-06-21\",\n      \"priceIndex\": 1.0872,\n      \"dailyAvgPrice\": 447.143\n    },\n    {\n      \"airline\": \"united\",\n      \"date\": \"2024-06-22\",\n      \"priceIndex\": 0.994883,\n      \"dailyAvgPrice\": 444.855\n    },\n    {\n      \"airline\": \"united\",\n      \"date\": \"2024-06-23\",\n      \"priceIndex\": 1,\n      \"dailyAvgPrice\": 784.301\n    },\n    {\n      \"airline\": \"united\",\n      \"date\": \"2024-06-24\",\n      \"priceIndex\": 0.857554,\n      \"dailyAvgPrice\": 672.58\n    }\n  ],\n  \"from\": \"2024-04-04\",\n  \"to\": \"2024-07-10\",\n  \"airline\": \"united\"\n}",
        "section": "Alternative Data",
        "summary": "Airline Price Index",
        "title": "Airline Ticket Price Index API",
        "urlId": "airline-price-index",
        "widget": null
      }
    },
    "/bank-branch": {
      "get": {
        "parameters": [
          {
            "description": "Symbol.",
            "in": "query",
            "name": "symbol",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankBranchRes",
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Default"
        ],
        "description": "Retrieve list of US bank branches information for a given symbol.",
        "examples": [
          {
            "text": "/bank-branch?symbol=JPM",
            "url": "/bank-branch?symbol=JPM&token=<token>"
          }
        ],
        "freeTier": null,
        "highUsage": null,
        "navHeader": "Bank Branch API",
        "newEndpoint": null,
        "operationId": "bank-branch",
        "premium": "Accessible with Fundamental or All in One subscription.",
        "sampleCode": {
          "curl": "autoGenerated",
          "go": "res, _, err := finnhubClient.BankBranch(context.Background()).Symbol(\"AAPL\").Execute()",
          "javascript": "finnhubClient.bankBranch(\"JPM\", (error, data, response) => {\n\tconsole.log(data)\n});",
          "kotlin": "println(apiClient.bankBranch(\"JPM\"))",
          "php": "print_r($client->bankBranch(\"JPM\"));",
          "python": "print(finnhub_client.bank_branch(\"JPM\"))",
          "ruby": "puts(finnhub_client.bank_branch('JPM'))",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"data\": [\n    {\n      \"branchId\": \"201601\",\n      \"address\": \"1910 E 95th St\",\n      \"state\": \"IL\",\n      \"zipCode\": \"60617\",\n      \"date\": \"2000-02-28\"\n    },\n    {\n      \"branchId\": \"359157\",\n      \"address\": \"401 W 49th St\",\n      \"state\": \"FL\",\n      \"zipCode\": \"33012\",\n      \"date\": \"2000-02-01\"\n    }\n  ],\n  \"symbol\": \"JPM\"\n}",
        "section": "Alternative Data",
        "summary": "Bank Branch List",
        "title": "Bank Branch API",
        "urlId": "bank-branch-api",
        "widget": null
      }
    },
    "/bond/price": {
      "get": {
        "parameters": [
          {
            "description": "ISIN.",
            "in": "query",
            "name": "isin",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "UNIX timestamp. Interval initial value.",
            "in": "query",
            "name": "from",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "UNIX timestamp. Interval end value.",
            "in": "query",
            "name": "to",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BondCandles",
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Default"
        ],
        "description": "<p>Get bond's price data. The following datasets are supported:</p><table class=\"table table-hover\">\n  <thead>\n    <tr>\n      <th>Exchange</th>\n      <th>Segment</th>\n      <th>Delay</th>\n    </tr>\n  </thead>\n  <tbody>\n  <tr>\n      <td class=\"text-blue\">US Government Bonds</th>\n      <td>Government Bonds</td>\n      <td>End-of-day</td>\n    </tr>\n    <tr>\n      <td class=\"text-blue\">FINRA Trace</th>\n      <td>BTDS: US Corporate Bonds</td>\n      <td>Delayed 4h</td>\n    </tr>\n    <tr>\n      <td class=\"text-blue\">FINRA Trace</th>\n      <td>144A Bonds</td>\n      <td>Delayed 4h</td>\n    </tr>\n  </tbody>\n</table>",
        "examples": [
          {
            "text": "/bond/price?isin=US912810TD00&from=1590988249&to=1649099548",
            "url": "/bond/price?isin=US912810TD00&from=1590988249&to=1649099548&token=<token>"
          }
        ],
        "highUsage": null,
        "navHeader": "Bond Price",
        "newEndpoint": null,
        "operationId": "bond-price",
        "premium": "Premium Access Required",
        "sampleCode": {
          "curl": "autoGenerated",
          "go": "res, _, err := finnhubClient.BondPrice(context.Background()).Isin(\"US912810TD00\").From(1590988249).To(1649099548).Execute()",
          "javascript": "finnhubClient.bondPrice(\"US912810TD00\", 1590988249, 1649099548, (error, data, response) => {\n  console.log(data)\n});",
          "kotlin": "println(apiClient.bondPrice(\"US912810TD00\", 1590988249, 1649099548))",
          "php": "print_r($client->bondPrice(\"US912810TD00\", 1590988249, 1649099548));",
          "python": "print(finnhub_client.bond_price('US912810TD00', 1590988249, 1649099548))",
          "ruby": "puts(finnhub_client.bond_price('US912810TD00', 1590988249, 1649099548))",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"c\":[\n    97.5,\n    97.96875,\n    98.78125,\n  ],\n  \"s\":\"ok\",\n  \"t\":[\n    1644883200,\n    1644969600,\n    1645056000,\n  ]\n}",
        "section": "Bonds",
        "summary": "Bond price data",
        "title": "Bond price API | Corporate bonds API",
        "urlId": "bond-price"
      }
    },
    "/bond/profile": {
      "get": {
        "parameters": [
          {
            "description": "ISIN",
            "in": "query",
            "name": "isin",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "CUSIP",
            "in": "query",
            "name": "cusip",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "FIGI",
            "in": "query",
            "name": "figi",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BondProfile",
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Default"
        ],
        "description": "Get general information of a bond. You can query by FIGI, ISIN or CUSIP. A list of supported bonds can be found <a href=\"/api/v1/bond/list?token=\" target=\"_blank\">here</a>.",
        "examples": [
          {
            "text": "/bond/profile?figi=BBG0152KFHS6",
            "url": "/bond/profile?figi=BBG0152KFHS6&token=<token>"
          },
          {
            "text": "/bond/profile?isin=US912810TD00",
            "url": "/bond/profile?isin=US912810TD00&token=<token>"
          },
          {
            "text": "/bond/profile?cusip=912810TD0",
            "url": "/bond/profile?cusip=912810TD0&token=<token>"
          }
        ],
        "freeTier": null,
        "highUsage": null,
        "navHeader": "Bond Profile",
        "newEndpoint": null,
        "operationId": "bond-profile",
        "premium": "Premium Access Required",
        "sampleCode": {
          "curl": "autoGenerated",
          "go": "res, _, err := finnhubClient.BondProfile(context.Background()).Isin(\"US912810TD00\").Execute()",
          "javascript": "finnhubClient.bondProfile({'isin': 'US912810TD00'}, (error, data, response) => {\n  console.log(data)\n});",
          "kotlin": "println(apiClient.bondProfile(isin = \"US912810TD00\", cusip = null, figi = null))",
          "php": "print_r($client->bondProfile(\"US912810TD00\"));",
          "python": "print(finnhub_client.bond_profile(isin='US912810TD00'))",
          "ruby": "puts(finnhub_client.bond_profile({isin: 'US912810TD00'}))",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"isin\":\"US912810TD00\",\n  \"cusip\":\"\",\n  \"figi\":\"BBG0152KFHS6\",\n  \"coupon\":2.25,\n  \"maturityDate\":\"2052-02-15\",\n  \"offeringPrice\":100,\n  \"issueDate\":\"2022-03-15\",\n  \"bondType\":\"US Government\",\n  \"debtType\":\"\",\n  \"industryGroup\":\"Government\",\n  \"industrySubGroup\":\"U.S. Treasuries\",\n  \"asset\":\"\",\n  \"assetType\":\"\",\n  \"datedDate\":\"2022-02-15\",\n  \"firstCouponDate\":\"2022-08-15\",\n  \"originalOffering\":20000000000,\n  \"amountOutstanding\":36914000000,\n  \"paymentFrequency\":\"Semi-Annual\",\n  \"securityLevel\":\"\",\n  \"callable\":null,\n  \"couponType\":\"\",\n  \"dayCount\":\"\"\n}",
        "section": "Bonds",
        "summary": "Bond Profile",
        "title": "Bond Profile & Fundamental Data",
        "urlId": "bond-profile",
        "widget": null
      }
    },
    "/bond/tick": {
      "get": {
        "parameters": [
          {
            "description": "ISIN.",
            "in": "query",
            "name": "isin",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Date: 2020-04-02.",
            "in": "query",
            "name": "date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "Limit number of ticks returned. Maximum value: <code>25000</code>",
            "in": "query",
            "name": "limit",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Number of ticks to skip. Use this parameter to loop through the entire data.",
            "in": "query",
            "name": "skip",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Currently support the following values: <code>trace</code>.",
            "in": "query",
            "name": "exchange",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BondTickData",
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Default"
        ],
        "description": "<p>Get trade-level data for bonds. The following datasets are supported:</p><table class=\"table table-hover\">\n  <thead>\n    <tr>\n      <th>Exchange</th>\n      <th>Segment</th>\n      <th>Delay</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td class=\"text-blue\">FINRA Trace</th>\n      <td>BTDS: US Corporate Bonds</td>\n      <td>Delayed 4h</td>\n    </tr>\n    <tr>\n      <td class=\"text-blue\">FINRA Trace</th>\n      <td>144A Bonds</td>\n      <td>Delayed 4h</td>\n    </tr>\n  </tbody>\n</table>",
        "examples": [
          {
            "text": "/bond/tick?isin=US693475BF18&date=2022-08-19&limit=50&skip=6&format=json&exchange=trace",
            "url": "/bond/tick?isin=US693475BF18&date=2022-08-19&limit=50&skip=6&format=json&exchange=trace&token=<token>"
          }
        ],
        "highUsage": null,
        "navHeader": "Tick/Trade Data",
        "newEndpoint": null,
        "operationId": "bond-tick",
        "premium": "Premium Access Required",
        "sampleCode": {
          "curl": "autoGenerated",
          "go": "res, _, err := finnhubClient.BondTick(context.Background()).Isin(\"US693475BF18\").Date(\"2022-08-19\").Limit(50).Skip(0).Exchange(\"trace\").Execute()",
          "javascript": "finnhubClient.bondTick(\"US693475BF18\", \"2022-08-19\", 500, 0, 'trace', (error, data, response) => {\n  console.log(data);\n});",
          "kotlin": "println(apiClient.bondTick(\"US693475BF18\", \"2022-08-19\", 500, 0, 'trace'))",
          "php": "print_r($client->bondTick(\"US693475BF18\", \"2022-08-19\", 500, 0, \"trace\"));",
          "python": "print(finnhub_client.bond_tick('US693475BF18', '2022-08-19', 500, 0, 'trace'))",
          "ruby": "puts(finnhub_client.bond_tick('US693475BF18', '2022-08-19', 500, 0, 'trace'))",
          "useTemplate": true
        },
        "sampleResponse": "{\n   \"c\":[[],[],[]],\n   \"count\":3,\n   \"cp\":[\n      \"3\",\n      \"1\",\n      \"1\"\n   ],\n   \"p\":[\n      100.592,\n      100.492,\n      100.234\n   ],\n   \"si\":[\n      \"2\",\n      \"2\",\n      \"2\"\n   ],\n   \"skip\":6,\n   \"t\":[\n      1660929161000,\n      1660929161000,\n      1660929778000\n   ],\n   \"total\":211,\n   \"v\":[\n      3000,\n      3000,\n      50000\n   ]\n}",
        "section": "Bonds",
        "summary": "Bond Tick Data",
        "title": "Bond Tick data | FINRA TRACE API | Corporate bonds API",
        "urlId": "bond-tick"
      }
    },
    "/bond/yield-curve": {
      "get": {
        "parameters": [
          {
            "description": "Bond's code. You can find the list of supported code <a href=\"https://docs.google.com/spreadsheets/d/1iA-lM0Kht7lsQZ7Uu_s6r2i1BbQNUNO9eGkO5-zglHg/edit?usp=sharing\" target=\"_blank\" rel=\"noopener\">here</a>.",
            "in": "query",
            "name": "code",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BondYieldCurve",
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Default"
        ],
        "description": "Get yield curve data for Treasury bonds.",
        "examples": [
          {
            "text": "/bond/yield-curve?code=10y",
            "url": "/bond/yield-curve?code=10y&token=<token>"
          }
        ],
        "freeTier": null,
        "highUsage": null,
        "navHeader": "Yield Curve",
        "newEndpoint": null,
        "operationId": "bond-yield-curve",
        "premium": "Premium Access Required",
        "sampleCode": {
          "curl": "autoGenerated",
          "go": "res, _, err := finnhubClient.BondYieldCurve(context.Background()).Code(\"10y\").Execute()",
          "javascript": "finnhubClient.bondYieldCurve(\"10y\", (error, data, response) => {\n  console.log(data)\n});",
          "kotlin": "println(apiClient.bondYieldCurve(\"10y\"))",
          "php": "print_r($client->bondYieldCurve(\"10y\"));",
          "python": "print(finnhub_client.bond_yield_curve('10y'))",
          "ruby": "puts(finnhub_client.bond_yield_curve('10y'))",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"code\": \"10y\",\n  \"data\": [\n    {\n      \"d\": \"2022-10-31\",\n      \"v\": 4.1\n    },\n    {\n      \"d\": \"2022-11-01\",\n      \"v\": 4.07\n    }\n  ]\n}",
        "section": "Bonds",
        "summary": "Bond Yield Curve",
        "title": "Treasury Bonds Yield Curve",
        "urlId": "bond-yield-curve",
        "widget": null
      }
    },
    "/ca/isin-change": {
      "get": {
        "parameters": [
          {
            "description": "From date <code>YYYY-MM-DD</code>.",
            "in": "query",
            "name": "from",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "To date <code>YYYY-MM-DD</code>.",
            "in": "query",
            "name": "to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IsinChange",
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Default"
        ],
        "description": "Get a list of ISIN changes for EU-listed securities. Limit to 2000 events at a time.",
        "examples": [
          {
            "text": "/ca/isin-change?from=2022-09-01&to=2022-10-30",
            "url": "/ca/isin-change?from=2022-09-01&to=2022-10-30&token=<token>"
          }
        ],
        "freeTier": null,
        "highUsage": null,
        "navHeader": "ISIN Change",
        "newEndpoint": null,
        "operationId": "isin-change",
        "premium": "Premium Access Required",
        "sampleCode": {
          "curl": "autoGenerated",
          "go": "res, _, err := finnhubClient.IsinChange(context.Background()).From(\"2022-10-01\").To(\"2022-10-11\").Execute()",
          "javascript": "finnhubClient.isinChange({\"from\": \"2022-10-01\", \"to\": \"2022-10-11\"}, (error, data, response) => {\n  console.log(data)\n});",
          "kotlin": "println(\n            apiClient.isinChange(\n                from = \"2022-10-01\",\n                to = \"2020-10-11\")\n        )",
          "php": "print_r($client->isinChange(\"2020-01-01\", \"2020-06-11\"));",
          "python": "print(finnhub_client.isin_change(_from=\"2022-10-01\", to=\"2022-10-11\"))",
          "ruby": "puts(finnhub_client.isin_change({from: \"2020-01-01\", to: \"2020-06-11\"}))\n",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"data\": [\n    {\n      \"atDate\": \"2021-08-30\",\n      \"newIsin\": \"DE000A3E5CP0\",\n      \"oldIsin\": \"DE0007239402\"\n    }\n  ],\n  \"fromDate\": \"2021-08-07\",\n  \"toDate\": \"2021-10-07\"\n}",
        "section": "Stock Fundamentals",
        "summary": "ISIN Change",
        "title": "ISIN Change API.",
        "urlId": "isin-change",
        "widget": null
      }
    },
    "/ca/symbol-change": {
      "get": {
        "parameters": [
          {
            "description": "From date <code>YYYY-MM-DD</code>.",
            "in": "query",
            "name": "from",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "To date <code>YYYY-MM-DD</code>.",
            "in": "query",
            "name": "to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SymbolChange",
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Default"
        ],
        "description": "Get a list of symbol changes for US-listed, EU-listed, NSE and ASX securities. Limit to 2000 events at a time.",
        "examples": [
          {
            "text": "/ca/symbol-change?from=2022-09-01&to=2022-10-30",
            "url": "/ca/symbol-change?from=2022-09-01&to=2022-10-30&token=<token>"
          }
        ],
        "freeTier": null,
        "highUsage": null,
        "navHeader": "Symbol Change",
        "newEndpoint": null,
        "operationId": "symbol-change",
        "premium": "Premium Access Required",
        "sampleCode": {
          "curl": "autoGenerated",
          "go": "res, _, err := finnhubClient.SymbolChange(context.Background()).From(\"2022-10-01\").To(\"2022-10-11\").Execute()",
          "javascript": "finnhubClient.symbolChange({\"from\": \"2022-10-01\", \"to\": \"2022-10-11\"}, (error, data, response) => {\n  console.log(data)\n});",
          "kotlin": "println(\n            apiClient.symbolChange(\n                from = \"2022-10-01\",\n                to = \"2020-10-11\")\n        )",
          "php": "print_r($client->symbolChange(\"2020-01-01\", \"2020-06-11\"));",
          "python": "print(finnhub_client.symbol_change(_from=\"2022-10-01\", to=\"2022-10-11\"))",
          "ruby": "puts(finnhub_client.symbol_change({from: \"2020-01-01\", to: \"2020-06-11\"}))\n",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"data\": [\n    {\n      \"atDate\": \"2022-10-05\",\n      \"newSymbol\": \"MEN.L\",\n      \"oldSymbol\": \"PPC.L\"\n    }\n  ],\n  \"fromDate\": \"2022-10-01\",\n  \"toDate\": \"2022-10-30\"\n}",
        "section": "Stock Fundamentals",
        "summary": "Symbol Change",
        "title": "Symbol Change API | Ticker Change calendar.",
        "urlId": "symbol-change",
        "widget": null
      }
    },
    "/calendar/earnings": {
      "get": {
        "parameters": [
          {
            "description": "From date: 2020-03-15.",
            "in": "query",
            "name": "from",
            "required": false,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "To date: 2020-03-16.",
            "in": "query",
            "name": "to",
            "required": false,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "Filter by symbol: AAPL.",
            "in": "query",
            "name": "symbol",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set to <code>true</code> to include international markets. Default value is <code>false</code>",
            "in": "query",
            "name": "international",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarningsCalendar",
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Default"
        ],
        "description": "Get historical and coming earnings release. EPS and Revenue in this endpoint are non-GAAP, which means they are adjusted to exclude some one-time or unusual items. This is the same data investors usually react to and talked about on the media. Estimates are sourced from both sell-side and buy-side analysts.",
        "examples": [
          {
            "text": "/calendar/earnings?from=2025-02-01&to=2025-03-10",
            "url": "/calendar/earnings?from=2025-02-01&to=2025-03-10&token=<token>"
          },
          {
            "text": "/calendar/earnings?from=2024-03-01&to=2025-03-09&symbol=AAPL",
            "url": "/calendar/earnings?from=2024-03-01&to=2025-03-09&symbol=AAPL&token=<token>"
          }
        ],
        "freeTier": "1 month of historical earnings and new updates",
        "highUsage": null,
        "navHeader": "Earnings Calendar",
        "newEndpoint": "New Endpoint",
        "operationId": "earnings-calendar",
        "premium": null,
        "sampleCode": {
          "curl": "autoGenerated",
          "go": "res, _, err := finnhubClient.EarningsCalendar(context.Background()).From(\"2021-07-01\").To(\"2021-07-30\").Execute()",
          "javascript": "finnhubClient.earningsCalendar({\"from\": \"2021-06-01\", \"to\": \"2021-06-30\"}, (error, data, response) => {\n  console.log(data)\n});",
          "kotlin": "println(apiClient.earningsCalendar(from = \"2020-06-10\", to = \"2020-06-30\", symbol = \"\", international = false))",
          "php": "print_r($client->earningsCalendar(\"2020-06-10\", \"2020-06-30\", null, false));",
          "python": "print(finnhub_client.earnings_calendar(_from=\"2021-06-10\", to=\"2021-06-30\", symbol=\"\", international=False))",
          "ruby": "puts(finnhub_client.earnings_calendar({from: \"2021-06-10\", to: \"2021-06-30\", symbol: \"\", international: false}))",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"earningsCalendar\": [\n    {\n      \"date\": \"2020-01-28\",\n      \"epsActual\": 4.99,\n      \"epsEstimate\": 4.5474,\n      \"hour\": \"amc\",\n      \"quarter\": 1,\n      \"revenueActual\": 91819000000,\n      \"revenueEstimate\": 88496400810,\n      \"symbol\": \"AAPL\",\n      \"year\": 2020\n    },\n    {\n      \"date\": \"2019-10-30\",\n      \"epsActual\": 3.03,\n      \"epsEstimate\": 2.8393,\n      \"hour\": \"amc\",\n      \"quarter\": 4,\n      \"revenueActual\": 64040000000,\n      \"revenueEstimate\": 62985161760,\n      \"symbol\": \"AAPL\",\n      \"year\": 2019\n    }\n   ]\n}",
        "section": "Stock Estimates",
        "summary": "Earnings Calendar",
        "title": "Earnings Calendar API | Finnhub Stock API",
        "urlId": "earnings-calendar",
        "widget": null
      }
    },
    "/calendar/economic": {
      "get": {
        "parameters": [
          {
            "description": "From date <code>YYYY-MM-DD</code>.",
            "in": "query",
            "name": "from",
            "required": false,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "To date <code>YYYY-MM-DD</code>.",
            "in": "query",
            "name": "to",
            "required": false,
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EconomicCalendar",
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Default"
        ],
        "description": "<p>Get recent and upcoming economic releases.</p><p>Historical events and surprises are available for Enterprise clients.</p>",
        "examples": [
          {
            "text": "/calendar/economic",
            "url": "/calendar/economic?token=<token>"
          }
        ],
        "freeTier": null,
        "highUsage": null,
        "navHeader": "Economic Calendar",
        "newEndpoint": null,
        "operationId": "economic-calendar",
        "premium": "Premium Access Required",
        "sampleCode": {
          "curl": "autoGenerated",
          "go": "res, _, err := finnhubClient.EconomicCalendar(context.Background()).Execute()",
          "javascript": "finnhubClient.economicCalendar((error, data, response) => {\n  console.log(data)\n});",
          "kotlin": "println(apiClient.economicCalendar())",
          "php": "print_r($client->economicCalendar());",
          "python": "print(finnhub_client.calendar_economic())",
          "ruby": "puts(finnhub_client.economic_calendar())",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"economicCalendar\": [\n    {\n      \"actual\": 8.4,\n      \"country\": \"AU\",\n      \"estimate\": 6.9,\n      \"event\": \"Australia - Current Account Balance\",\n      \"impact\": \"low\",\n      \"prev\": 1,\n      \"time\": \"2020-06-02 01:30:00\",\n      \"unit\": \"AUD\"\n    },\n    {\n      \"actual\": 0.5,\n      \"country\": \"AU\",\n      \"estimate\": 0.4,\n      \"event\": \"Australia- Net Exports\",\n      \"impact\": \"low\",\n      \"prev\": -0.1,\n      \"time\": \"2020-06-02 01:30:00\",\n      \"unit\": \"%\"\n    }\n  ]\n}",
        "section": "Economic",
        "summary": "Economic Calendar",
        "title": "Economic Calendar API | Finnhub",
        "urlId": "economic-calendar",
        "widget": null
      }
    },
    "/calendar/ipo": {
      "get": {
        "parameters": [
          {
            "description": "From date: 2020-03-15.",
            "in": "query",
            "name": "from",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "To date: 2020-03-16.",
            "in": "query",
            "name": "to",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPOCalendar",
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Default"
        ],
        "description": "Get recent and upcoming IPO.",
        "examples": [
          {
            "text": "/calendar/ipo?from=2020-01-01&to=2020-04-30",
            "url": "/calendar/ipo?from=2020-01-01&to=2020-04-30&token=<token>"
          }
        ],
        "freeTier": null,
        "highUsage": null,
        "navHeader": "IPO Calendar",
        "newEndpoint": "New Endpoint",
        "operationId": "ipo-calendar",
        "premium": null,
        "sampleCode": {
          "curl": "autoGenerated",
          "go": "res, _, err := finnhubClient.IpoCalendar(context.Background()).From(\"2021-01-01\").To(\"2021-06-30\").Execute()",
          "javascript": "finnhubClient.ipoCalendar(\"2020-01-01\", \"2020-06-15\", (error, data, response) => {\n  console.log(data)\n});",
          "kotlin": "println(apiClient.ipoCalendar(from = \"2020-05-01\", to = \"2020-06-01\"))",
          "php": "print_r($client->ipoCalendar(\"2020-05-01\", \"2020-06-01\"));",
          "python": "print(finnhub_client.ipo_calendar(_from=\"2020-05-01\", to=\"2020-06-01\"))",
          "ruby": "puts(finnhub_client.ipo_calendar(\"2020-05-01\", \"2020-06-01\"))",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"ipoCalendar\": [\n    {\n      \"date\": \"2020-04-03\",\n      \"exchange\": \"NASDAQ Global\",\n      \"name\": \"ZENTALIS PHARMACEUTICALS, LLC\",\n      \"numberOfShares\": 7650000,\n      \"price\": \"16.00-18.00\",\n      \"status\": \"expected\",\n      \"symbol\": \"ZNTL\",\n      \"totalSharesValue\": 158355000\n    },\n    {\n      \"date\": \"2020-04-01\",\n      \"exchange\": \"NASDAQ Global\",\n      \"name\": \"WIMI HOLOGRAM CLOUD INC.\",\n      \"numberOfShares\": 5000000,\n      \"price\": \"5.50-7.50\",\n      \"status\": \"expected\",\n      \"symbol\": \"WIMI\",\n      \"totalSharesValue\": 43125000\n    },\n  ]\n}",
        "section": "Stock Fundamentals",
        "summary": "IPO Calendar",
        "title": "IPO Calendar API",
        "urlId": "ipo-calendar",
        "widget": null
      }
    },
    "/company-news": {
      "get": {
        "parameters": [
          {
            "description": "Company symbol.",
            "in": "query",
            "name": "symbol",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "From date <code>YYYY-MM-DD</code>.",
            "in": "query",
            "name": "from",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "To date <code>YYYY-MM-DD</code>.",
            "in": "query",
            "name": "to",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CompanyNews"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Default"
        ],
        "description": "List latest company news by symbol. This endpoint is only available for North American companies.",
        "examples": [
          {
            "text": "/company-news?symbol=AAPL&from=2025-01-15&to=2025-02-20",
            "url": "/company-news?symbol=AAPL&from=2025-01-15&to=2025-02-20&token=<token>"
          }
        ],
        "freeTier": "1 year of historical news and new updates",
        "highUsage": "High Usage",
        "navHeader": "Company News",
        "newEndpoint": null,
        "operationId": "company-news",
        "premium": null,
        "sampleCode": {
          "curl": "autoGenerated",
          "go": "res, _, err := finnhubClient.CompanyNews(context.Background()).Symbol(\"AAPL\").From(\"2020-05-01\").To(\"2020-05-01\").Execute()",
          "javascript": "finnhubClient.companyNews(\"AAPL\", \"2020-01-01\", \"2020-05-01\", (error, data, response) => {\n\tconsole.log(data)\n});",
          "kotlin": "println(apiClient.companyNews(\"AAPL\", from = \"2020-06-01\", to = \"2020-06-10\"))",
          "php": "print_r($client->companyNews(\"AAPL\", \"2020-06-01\", \"2020-06-10\"));",
          "python": "print(finnhub_client.company_news('AAPL', _from=\"2020-06-01\", to=\"2020-06-10\"))",
          "ruby": "puts(finnhub_client.company_news('AAPL', \"2020-06-01\", \"2020-06-10\"))",
          "useTemplate": true
        },
        "sampleResponse": "[\n  {\n    \"category\": \"company news\",\n    \"datetime\": 1569550360,\n    \"headline\": \"More sops needed to boost electronic manufacturing: Top govt official More sops needed to boost electronic manufacturing: Top govt official.  More sops needed to boost electronic manufacturing: Top govt official More sops needed to boost electronic manufacturing: Top govt official\",\n    \"id\": 25286,\n    \"image\": \"https://img.etimg.com/thumb/msid-71321314,width-1070,height-580,imgsize-481831,overlay-economictimes/photo.jpg\",\n    \"related\": \"AAPL\",\n    \"source\": \"The Economic Times India\",\n    \"summary\": \"NEW DELHI | CHENNAI: India may have to offer electronic manufacturers additional sops such as cheap credit and incentives for export along with infrastructure support in order to boost production and help the sector compete with China, Vietnam and Thailand, according to a top government official.These incentives, over and above the proposed reduction of corporate tax to 15% for new manufacturing units, are vital for India to successfully attract companies looking to relocate manufacturing facilities.“While the tax announcements made last week send a very good signal, in order to help attract investments, we will need additional initiatives,” the official told ET, pointing out that Indian electronic manufacturers incur 8-10% higher costs compared with other Asian countries.Sops that are similar to the incentives for export under the existing Merchandise Exports from India Scheme (MEIS) are what the industry requires, the person said.MEIS gives tax credit in the range of 2-5%. An interest subvention scheme for cheaper loans and a credit guarantee scheme for plant and machinery are some other possible measures that will help the industry, the official added.“This should be 2.0 (second) version of the electronic manufacturing cluster (EMC) scheme, which is aimed at creating an ecosystem with an anchor company plus its suppliers to operate in the same area,” he said.Last week, finance minister Nirmala Sitharaman announced a series of measures to boost economic growth including a scheme allowing any new manufacturing company incorporated on or after October 1, to pay income tax at 15% provided the company does not avail of any other exemption or incentives.\",\n    \"url\": \"https://economictimes.indiatimes.com/industry/cons-products/electronics/more-sops-needed-to-boost-electronic-manufacturing-top-govt-official/articleshow/71321308.cms\"\n  },\n  {\n    \"category\": \"company news\",\n    \"datetime\": 1569528720,\n    \"headline\": \"How to disable comments on your YouTube videos in 2 different ways\",\n    \"id\": 25287,\n    \"image\": \"https://amp.businessinsider.com/images/5d8d16182e22af6ab66c09e9-1536-768.jpg\",\n    \"related\": \"AAPL\",\n    \"source\": \"Business Insider\",\n    \"summary\": \"You can disable comments on your own YouTube video if you don't want people to comment on it. It's easy to disable comments on YouTube by adjusting the settings for one of your videos in the beta or classic version of YouTube Studio. Visit Business Insider's homepage for more stories . The comments section has a somewhat complicated reputation for creators, especially for those making videos on YouTube . While it can be useful to get the unfiltered opinions of your YouTube viewers and possibly forge a closer connection with them, it can also open you up to quite a bit of negativity. So it makes sense that there may be times when you want to turn off the feature entirely. Just keep in mind that the action itself can spark conversation. If you decide that you don't want to let people leave comments on your YouTube video, here's how to turn off the feature, using either the classic or beta version of the creator studio: How to disable comments on YouTube in YouTube Studio (beta) 1. Go to youtube.com and log into your account, if necessary. 2.\",\n    \"url\": \"https://www.businessinsider.com/how-to-disable-comments-on-youtube\"\n  },\n  {\n    \"category\": \"company news\",\n    \"datetime\": 1569526180,\n    \"headline\": \"Apple iPhone 11 Pro Teardowns Look Encouraging for STMicro and Sony\",\n    \"id\": 25341,\n    \"image\": \"http://s.thestreet.com/files/tsc/v2008/photos/contrib/uploads/ba140938-d409-11e9-822b-fda891ce1fc1.png\",\n    \"related\": \"AAPL\",\n    \"source\": \"TheStreet\",\n    \"summary\": \"STMicroelectronics and Sony each appear to be supplying four chips for Apple's latest flagship iPhones. Many other historical iPhone suppliers also make appearances in the latest teardowns….STM\",\n    \"url\": \"https://realmoney.thestreet.com/investing/technology/iphone-11-pro-teardowns-look-encouraging-for-stmicro-sony-15105767\"\n  },\n]",
        "section": "Stock Fundamentals",
        "summary": "Company News",
        "title": "Real-time Global Company News API",
        "urlId": "company-news",
        "widget": null
      }
    },
    "/country": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CountryMetadata"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Default"
        ],
        "description": "List all countries and metadata.",
        "examples": [
          {
            "text": "/country",
            "url": "/country?token=<token>"
          }
        ],
        "freeTier": null,
        "highUsage": null,
        "navHeader": "Country List",
        "newEndpoint": null,
        "operationId": "country",
        "premium": null,
        "sampleCode": {
          "curl": "autoGenerated",
          "go": "res, _, err := finnhubClient.Country(context.Background()).Execute()",
          "javascript": "finnhubClient.country((error, data, response) => {\n  console.log(data)\n});",
          "kotlin": "println(apiClient.country())",
          "php": "print_r($client->country());",
          "python": "print(finnhub_client.country())",
          "ruby": "puts(finnhub_client.country())",
          "useTemplate": true
        },
        "sampleResponse": "[\n  {\n    \"code2\": \"US\",\n    \"code3\": \"USA\",\n    \"codeNo\": \"840\",\n    \"country\": \"United States\",\n    \"countryRiskPremium\": 0,\n    \"currency\": \"US Dollar\",\n    \"currencyCode\": \"USD\",\n    \"defaultSpread\": 0,\n    \"equityRiskPremium\": 5,\n    \"rating\": \"Aaa\",\n    \"region\": \"Americas\",\n    \"subRegion\": \"Northern America\"\n  },\n  {\n    \"code2\": \"GB\",\n    \"code3\": \"GBR\",\n    \"codeNo\": \"826\",\n    \"country\": \"United Kingdom of Great Britain and Northern Ireland\",\n    \"countryRiskPremium\": 0.91,\n    \"currency\": \"Sterling\",\n    \"currencyCode\": \"GBP\",\n    \"defaultSpread\": 0.64,\n    \"equityRiskPremium\": 5.91,\n    \"rating\": \"Aa3\",\n    \"region\": \"Europe\",\n    \"subRegion\": \"Northern Europe\"\n  }\n]",
        "section": "Economic",
        "summary": "Country Metadata",
        "title": "Country List",
        "urlId": "country",
        "widget": null
      }
    },
    "/covid19/us": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CovidInfo"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Default"
        ],
        "description": "Get real-time updates on the number of COVID-19 (Corona virus) cases in the US with a state-by-state breakdown. Data is sourced from CDC and reputable sources. You can also access this API <a href=\"https://rapidapi.com/Finnhub/api/finnhub-real-time-covid-19\" target=\"_blank\" rel=\"nofollow\">here</a>",
        "examples": [
          {
            "text": "/covid19/us",
            "url": "/covid19/us?token=<token>"
          }
        ],
        "freeTier": null,
        "highUsage": "High Usage",
        "navHeader": "COVID-19",
        "newEndpoint": null,
        "operationId": "covid-19",
        "premium": null,
        "sampleCode": {
          "curl": "autoGenerated",
          "go": "res, _, err := finnhubClient.Covid19(context.Background()).Execute()",
          "javascript": "finnhubClient.covid19((error, data, response) => {\n  console.log(data)\n});",
          "kotlin": "println(apiClient.covid19())",
          "php": "print_r($client->covid19());",
          "python": "print(finnhub_client.covid19())",
          "ruby": "puts(finnhub_client.covid19())",
          "useTemplate": true
        },
        "sampleResponse": "[\n  {\n    \"state\": \"New York\",\n    \"case\": 8403,\n    \"death\": 46,\n    \"updated\": \"2020-03-20 21:38:50\"\n  },\n  {\n    \"state\": \"Washington\",\n    \"case\": 1524,\n    \"death\": 83,\n    \"updated\": \"2020-03-20 21:38:50\"\n  }\n]",
        "section": "Alternative Data",
        "summary": "COVID-19",
        "title": "Real-time COVID-19 data API",
        "urlId": "covid-19",
        "widget": null
      }
    },
    "/crypto/candle": {
      "get": {
        "parameters": [
          {
            "description": "Use symbol returned in <code>/crypto/symbol</code> endpoint for this field.",
            "in": "query",
            "name": "symbol",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Supported resolution includes <code>1, 5, 15, 30, 60, D, W, M </code>.Some timeframes might not be available depending on the exchange.",
            "in": "query",
            "name": "resolution",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "UNIX timestamp. Interval initial value.",
            "in": "query",
            "name": "from",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "UNIX timestamp. Interval end value.",
            "in": "query",
            "name": "to",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CryptoCandles",
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Default"
        ],
        "description": "Get candlestick data for crypto symbols.",
        "examples": [
          {
            "text": "/crypto/candle?symbol=BINANCE:BTCUSDT&resolution=D&from=1572651390&to=1575243390",
            "url": "/crypto/candle?symbol=BINANCE:BTCUSDT&resolution=D&from=1572651390&to=1575243390&token=<token>"
          }
        ],
        "freeTier": null,
        "highUsage": null,
        "navHeader": "Candles",
        "newEndpoint": null,
        "operationId": "crypto-candles",
        "premium": "Premium Access Required",
        "sampleCode": {
          "curl": "autoGenerated",
          "go": "res, _, err := finnhubClient.CryptoCandles(context.Background()).Symbol(\"BINANCE:BTCUSDT\").Resolution(\"D\").From(1590988249).To(1591852249).Execute()",
          "javascript": "finnhubClient.cryptoCandles(\"BINANCE:BTCUSDT\", \"D\", 1590988249, 1591852249, (error, data, response) => {\n  console.log(data)\n});",
          "kotlin": "println(apiClient.cryptoCandles(\"BINANCE:BTCUSDT\", \"D\", 1590988249, 1591852249))",
          "php": "print_r($client->cryptoCandles(\"BINANCE:BTCUSDT\", \"D\", 1590988249, 1591852249));",
          "python": "print(finnhub_client.crypto_candles('BINANCE:BTCUSDT', 'D', 1590988249, 1591852249))",
          "ruby": "puts(finnhub_client.crypto_candles('BINANCE:BTCUSDT', 'D', 1590988249, 1591852249))",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"c\": [\n    1.10713,\n    1.10288,\n    1.10397,\n    1.10182\n  ],\n  \"h\": [\n    1.1074,\n    1.10751,\n    1.10729,\n    1.10595\n  ],\n  \"l\": [\n    1.09897,\n    1.1013,\n    1.10223,\n    1.10101\n  ],\n  \"o\": [\n    1.0996,\n    1.107,\n    1.10269,\n    1.10398\n  ],\n  \"s\": \"ok\",\n  \"t\": [\n    1568667600,\n    1568754000,\n    1568840400,\n    1568926800\n  ],\n  \"v\": [\n    75789,\n    75883,\n    73485,\n    5138\n  ]\n}",
        "section": "Crypto",
        "summary": "Crypto Candles",
        "title": "Crypto OHLCV API",
        "urlId": "crypto-candles",
        "widget": {
          "url": "https://widget.finnhub.io/widgets/stocks/chart?symbol=BINANCE:BTCUSDT&watermarkColor=%231db954&backgroundColor=%23222222&textColor=white"
        }
      }
    },
    "/crypto/exchange": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Default"
        ],
        "description": "List supported crypto exchanges",
        "examples": [
          {
            "text": "/crypto/exchange",
            "url": "/crypto/exchange?token=<token>"
          }
        ],
        "freeTier": null,
        "highUsage": null,
        "navHeader": "Exchanges",
        "newEndpoint": null,
        "operationId": "crypto-exchanges",
        "premium": null,
        "sampleCode": {
          "curl": "autoGenerated",
          "go": "res, _, err := finnhubClient.CryptoExchanges(context.Background()).Execute()",
          "javascript": "finnhubClient.cryptoExchanges((error, data, response) => {\n  console.log(data)\n});",
          "kotlin": "println(apiClient.cryptoExchanges())",
          "php": "print_r($client->cryptoExchanges());",
          "python": "print(finnhub_client.crypto_exchanges())",
          "ruby": "puts(finnhub_client.crypto_exchanges())",
          "useTemplate": true
        },
        "sampleResponse": "[\n  \"KRAKEN\",\n  \"HITBTC\",\n  \"COINBASE\",\n  \"GEMINI\",\n  \"POLONIEX\",\n  \"Binance\",\n  \"ZB\",\n  \"BITTREX\",\n  \"KUCOIN\",\n  \"OKEX\",\n  \"BITFINEX\",\n  \"HUOBI\"\n]",
        "section": "Crypto",
        "summary": "Crypto Exchanges",
        "title": "Crypto Exchanges",
        "urlId": "crypto-exchanges",
        "widget": null
      }
    },
    "/crypto/profile": {
      "get": {
        "parameters": [
          {
            "description": "Crypto symbol such as BTC or ETH.",
            "in": "query",
            "name": "symbol",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CryptoProfile",
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Default"
        ],
        "description": "Get crypto's profile.",
        "examples": [
          {
            "text": "/crypto/profile?symbol=BTC",
            "url": "/crypto/profile?symbol=BTC&token=<token>"
          },
          {
            "text": "/crypto/profile?symbol=ETH",
            "url": "/crypto/profile?symbol=ETH&token=<token>"
          }
        ],
        "freeTier": null,
        "highUsage": null,
        "navHeader": "Profile",
        "newEndpoint": null,
        "operationId": "crypto-profile",
        "premium": "Premium Access Required",
        "sampleCode": {
          "curl": "autoGenerated",
          "go": "res, _, err := finnhubClient.CryptoProfile(context.Background()).Symbol(\"BTC\").Execute()",
          "javascript": "finnhubClient.cryptoProfile(\"BTC\", (error, data, response) => {\n  console.log(data)\n});",
          "kotlin": "println(apiClient.cryptoProfile(\"BTC\"))",
          "php": "print_r($client->cryptoProfile(\"BTC\"));",
          "python": "print(finnhub_client.crypto_profile('BTC'))",
          "ruby": "puts(finnhub_client.crypto_profile('BTC'))",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"name\": \"Bitcoin\",\n  \"longName\": \"Bitcoin (BTC)\",\n  \"description\": \"Bitcoin uses peer-to-peer technology to operate with no central authority or banks; managing transactions and the issuing of bitcoins is carried out collectively by the network. Although other cryptocurrencies have come before, Bitcoin is the first decentralized cryptocurrency - Its reputation has spawned copies and evolution in the space.With the largest variety of markets and the biggest value - having reached a peak of 318 billion USD - Bitcoin is here to stay. As with any new invention, there can be improvements or flaws in the initial model however the community and a team of dedicated developers are pushing to overcome any obstacle they come across. It is also the most traded cryptocurrency and one of the main entry points for all the other cryptocurrencies. The price is as unstable as always and it can go up or down by 10%-20% in a single day.Bitcoin is an SHA-256 POW coin with almost 21,000,000 total minable coins. The block time is 10 minutes. See below for a full range of Bitcoin markets where you can trade US Dollars for Bitcoin, crypto to Bitcoin and many other fiat currencies too.Bitcoin Whitepaper PDF - A Peer-to-Peer Electronic Cash SystemBlockchain data provided by: Blockchain (main source), Blockchair (backup)\",\n  \"marketCap\": 1119891535870.4905,\n  \"totalSupply\": 18876550,\n  \"maxSupply\": 21000000,\n  \"circulatingSupply\": 18876550,\n  \"logo\": \"\",\n  \"launchDate\": \"2009-01-03\",\n  \"website\": \"https://bitcoin.org/en/\",\n  \"proofType\": \"PoW\"\n}",
        "section": "Crypto",
        "summary": "Crypto Profile",
        "title": "Crypto Profile API",
        "urlId": "crypto-profile",
        "widget": null
      }
    },
    "/crypto/symbol": {
      "get": {
        "parameters": [
          {
            "description": "Exchange you want to get the list of symbols from.",
            "in": "query",
            "name": "exchange",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CryptoSymbol"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Default"
        ],
        "description": "List supported crypto symbols by exchange",
        "examples": [
          {
            "text": "/crypto/symbol?exchange=binance",
            "url": "/crypto/symbol?exchange=binance&token=<token>"
          }
        ],
        "freeTier": null,
        "highUsage": null,
        "navHeader": "Symbols",
        "newEndpoint": null,
        "operationId": "crypto-symbols",
        "premium": null,
        "sampleCode": {
          "curl": "autoGenerated",
          "go": "res, _, err := finnhubClient.CryptoSymbols(context.Background()).Exchange(\"BINANCE\").Execute()",
          "javascript": "finnhubClient.cryptoSymbols(\"BINANCE\", (error, data, response) => {\n  console.log(data)\n});",
          "kotlin": "println(apiClient.cryptoSymbols(\"BINANCE\"))",
          "php": "print_r($client->cryptoSymbols(\"BINANCE\"));",
          "python": "print(finnhub_client.crypto_symbols('BINANCE'))",
          "ruby": "puts(finnhub_client.crypto_symbols('BINANCE'))",
          "useTemplate": true
        },
        "sampleResponse": "[\n  {\n    \"description\": \"Binance ETHBTC\",\n    \"displaySymbol\": \"ETH/BTC\",\n    \"symbol\": \"ETHBTC\"\n  },\n  {\n    \"description\": \"Binance LTCBTC\",\n    \"displaySymbol\": \"LTC/BTC\",\n    \"symbol\": \"BINANCE:LTCBTC\"\n  },\n  {\n    \"description\": \"Binance BNBBTC\",\n    \"displaySymbol\": \"BNB/BTC\",\n    \"symbol\": \"BINANCE:BNBBTC\"\n  }]",
        "section": "Crypto",
        "summary": "Crypto Symbol",
        "title": "Crypto Symbols By Exchange",
        "urlId": "crypto-symbols",
        "widget": null
      }
    },
    "/economic": {
      "get": {
        "parameters": [
          {
            "description": "Economic code.",
            "in": "query",
            "name": "code",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EconomicData",
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Default"
        ],
        "description": "Get economic data.",
        "examples": [
          {
            "text": "/economic?code=MA-USA-656880",
            "url": "/economic?code=MA-USA-656880&token=<token>"
          }
        ],
        "freeTier": null,
        "highUsage": null,
        "navHeader": "Economic",
        "newEndpoint": null,
        "operationId": "economic-data",
        "premium": "Accessible with Fundamental data or All in One subscription.",
        "sampleCode": {
          "curl": "autoGenerated",
          "go": "res, _, err := finnhubClient.EconomicData(context.Background()).Code(\"MA-USA-656880\").Execute()",
          "javascript": "finnhubClient.economicData(\"MA-USA-656880\", (error, data, response) => {\n  console.log(data)\n});",
          "kotlin": "println(apiClient.economicData(\"MA-USA-656880\"))",
          "php": "print_r($client->economicData(\"MA-USA-656880\"));",
          "python": "print(finnhub_client.economic_data('MA-USA-656880'))",
          "ruby": "puts(finnhub_client.economic_data('MA-USA-656880'))",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"code\": \"MA-USA-656880\",\n  \"data\": [\n    {\n      \"date\": \"2020-05-31\",\n      \"value\": -2760\n    },\n    {\n      \"date\": \"2020-04-30\",\n      \"value\": -19557\n    }\n  ]\n}",
        "section": "Economic",
        "summary": "Economic Data",
        "title": "Global Economic Data API",
        "urlId": "economic-data",
        "widget": null
      }
    },
    "/economic/code": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/EconomicCode"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Default"
        ],
        "description": "List codes of supported economic data.",
        "examples": [
          {
            "text": "/economic/code",
            "url": "/economic/code?token=<token>"
          }
        ],
        "freeTier": null,
        "highUsage": null,
        "navHeader": "Economic Codes",
        "newEndpoint": null,
        "operationId": "economic-code",
        "premium": "Accessible with Fundamental data or All in One subscription.",
        "sampleCode": {
          "curl": "autoGenerated",
          "go": "res, _, err := finnhubClient.EconomicCode(context.Background()).Execute()",
          "javascript": "finnhubClient.economicCode((error, data, response) => {\n  console.log(data)\n});",
          "kotlin": "println(apiClient.economicCode())",
          "php": "print_r($client->economicCode());",
          "python": "print(finnhub_client.economic_code())",
          "ruby": "puts(finnhub_client.economic_code())",
          "useTemplate": true
        },
        "sampleResponse": "[\n  {\n    \"code\": \"MA-USA-656880\",\n    \"country\": \"USA\",\n    \"name\": \"1-Day Repo Rate\",\n    \"unit\": \"%\"\n  },\n  {\n    \"code\": \"MA-USA-6667797870\",\n    \"country\": \"USA\",\n    \"name\": \"ISM Purchasing Managers Index\",\n    \"unit\": \"unit\"\n  }\n]",
        "section": "Economic",
        "summary": "Economic Code",
        "title": "Economic Codes",
        "urlId": "economic-code",
        "widget": null
      }
    },
    "/etf/country": {
      "get": {
        "parameters": [
          {
            "description": "ETF symbol.",
            "in": "query",
            "name": "symbol",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ETF isin.",
            "in": "query",
            "name": "isin",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ETFsCountryExposure",
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Default"
        ],
        "description": "Get ETF country exposure data.",
        "examples": [
          {
            "text": "/etf/country?symbol=SPY",
            "url": "/etf/country?symbol=SPY&token=<token>"
          },
          {
            "text": "/etf/country?symbol=VOO",
            "url": "/etf/country?symbol=VOO&token=<token>"
          }
        ],
        "freeTier": null,
        "highUsage": null,
        "navHeader": "ETFs Country",
        "newEndpoint": null,
        "operationId": "etfs-country-exposure",
        "premium": "Premium Access Required",
        "sampleCode": {
          "curl": "autoGenerated",
          "go": "res, _, err := finnhubClient.EtfsCountryExposure(context.Background()).Symbol(\"SPY\").Execute()",
          "javascript": "finnhubClient.etfsCountryExposure('SPY', (error, data, response) => {\n  console.log(data);\n});",
          "kotlin": "println(apiClient.etfsCountryExposure(\"SPY\"))",
          "php": "print_r($client->etfsCountryExposure(\"SPY\"));",
          "python": "print(finnhub_client.etfs_country_exp('SPY'))",
          "ruby": "puts(finnhub_client.etfs_country_exposure('SPY'))",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"countryExposure\": [\n    {\n      \"country\": \"United States of America (the)\",\n      \"exposure\": 97.02\n    },\n    {\n      \"country\": \"Ireland\",\n      \"exposure\": 1.65\n    },\n    {\n      \"country\": \"United Kingdom of Great Britain and Northern Ireland (the)\",\n      \"exposure\": 0.88\n    },\n    {\n      \"country\": \"Switzerland\",\n      \"exposure\": 0.41\n    },\n    {\n      \"country\": \"Bermuda\",\n      \"exposure\": 0.03\n    }\n  ],\n  \"symbol\": \"SPY\"\n}",
        "section": "ETFs & Indices",
        "summary": "ETFs Country Exposure",
        "title": "Global ETFs Country Exposure Breakdown",
        "urlId": "etfs-country-exposure",
        "widget": null
      }
    },
    "/etf/holdings": {
      "get": {
        "parameters": [
          {
            "description": "ETF symbol.",
            "in": "query",
            "name": "symbol",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ETF isin.",
            "in": "query",
            "name": "isin",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Skip the first n results. You can use this parameter to query historical constituents data. The latest result is returned if skip=0 or not set.",
            "in": "query",
            "name": "skip",
            "required": false,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Query holdings by date. You can use either this param or <code>skip</code> param, not both.",
            "in": "query",
            "name": "date",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ETFsHoldings",
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Default"
        ],
        "description": "Get full ETF holdings/constituents. This endpoint has global coverage. Widget only shows top 10 holdings. A list of supported ETFs can be found <a href=\"/api/v1/etf/list?token=\" target=\"_blank\">here</a>.",
        "examples": [
          {
            "text": "/etf/holdings?symbol=SPY",
            "url": "/etf/holdings?symbol=SPY&token=<token>"
          },
          {
            "text": "/etf/holdings?symbol=AVUV&skip=1",
            "url": "/etf/holdings?symbol=AVUV&skip=1&token=<token>"
          },
          {
            "text": "/etf/holdings?symbol=IPO&date=2025-02-04",
            "url": "/etf/holdings?symbol=IPO&date=2025-02-04&token=<token>"
          }
        ],
        "freeTier": null,
        "highUsage": null,
        "navHeader": "ETFs Holdings",
        "newEndpoint": null,
        "operationId": "etfs-holdings",
        "premium": "Premium required.",
        "sampleCode": {
          "curl": "autoGenerated",
          "go": "res, _, err := finnhubClient.EtfsHoldings(context.Background()).Symbol(\"SPY\").Execute()",
          "javascript": "finnhubClient.etfsHoldings({'symbol': 'ARKK'}, (error, data, response) => {\n  console.log(data);\n});",
          "kotlin": "println(apiClient.etfsHoldings(\"SPY\", \"\", 0, \"\"))",
          "php": "print_r($client->etfsHoldings(\"SPY\"));",
          "python": "print(finnhub_client.etfs_holdings('SPY'))",
          "ruby": "puts(finnhub_client.etfs_holdings({symbol:'SPY'}))",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"atDate\": \"2023-03-24\",\n  \"holdings\": [\n    {\n      \"assetType\": \"Equity\",\n      \"cusip\": \"88160R101\",\n      \"isin\": \"US88160R1014\",\n      \"name\": \"TESLA INC\",\n      \"percent\": 10.54,\n      \"share\": 3971395,\n      \"symbol\": \"TSLA\",\n      \"value\": 763381546.9\n    },\n    {\n      \"assetType\": \"Equity\",\n      \"cusip\": \"98980L101\",\n      \"isin\": \"US98980L1017\",\n      \"name\": \"ZOOM VIDEO COMMUNICATIONS-A\",\n      \"percent\": 8.05,\n      \"share\": 8418916,\n      \"symbol\": \"ZM\",\n      \"value\": 582504798.04\n    },\n  ],\n  \"numberOfHoldings\": 28,\n  \"symbol\": \"ARKK\"\n}",
        "section": "ETFs & Indices",
        "summary": "ETFs Holdings",
        "title": "Global ETFs Holdings & Constituents API",
        "urlId": "etfs-holdings",
        "widget": {
          "height": 600,
          "url": "https://widget.finnhub.io/widgets/etf-holdings?symbol=ARKK&theme=dark"
        }
      }
    },
    "/etf/profile": {
      "get": {
        "parameters": [
          {
            "description": "ETF symbol.",
            "in": "query",
            "name": "symbol",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ETF isin.",
            "in": "query",
            "name": "isin",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ETFsProfile",
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Default"
        ],
        "description": "Get ETF profile information. This endpoint has global coverage. A list of supported ETFs can be found <a href=\"/api/v1/etf/list?token=\" target=\"_blank\">here</a>.",
        "examples": [
          {
            "text": "/etf/profile?symbol=SPY",
            "url": "/etf/profile?symbol=SPY&token=<token>"
          },
          {
            "text": "/etf/profile?isin=US78462F1030",
            "url": "/etf/profile?isin=US78462F1030&token=<token>"
          }
        ],
        "freeTier": null,
        "highUsage": null,
        "navHeader": "ETFs Profile",
        "newEndpoint": null,
        "operationId": "etfs-profile",
        "premium": "Premium required.",
        "sampleCode": {
          "curl": "autoGenerated",
          "go": "res, _, err := finnhubClient.EtfsProfile(context.Background()).Symbol(\"SPY\").Execute()",
          "javascript": "finnhubClient.etfsProfile({'symbol': 'SPY'}, (error, data, response) => {\n  console.log(data);\n});",
          "kotlin": "println(apiClient.etfsProfile(\"SPY\", \"\"))",
          "php": "print_r($client->etfsProfile(\"SPY\"));",
          "python": "print(finnhub_client.etfs_profile('SPY'))",
          "ruby": "puts(finnhub_client.etfs_profile({symbol:'SPY'}))",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"profile\": {\n    \"assetClass\": \"Equity\",\n    \"aum\": 318374000000,\n    \"avgVolume\": 63794600,\n    \"cusip\": \"\",\n    \"description\": \"SPY was created on 1993-01-22 by SPDR. The fund's investment portfolio concentrates primarily on large cap equity. The ETF currently has 318374.0m in AUM and 504 holdings. SPY tracks a market-cap-weighted index of US large- and midcap stocks selected by the S\\u0026P Committee.\",\n    \"domicile\": \"US\",\n    \"etfCompany\": \"SPDR\",\n    \"expenseRatio\": 0.0945,\n    \"inceptionDate\": \"1993-01-22\",\n    \"investmentSegment\": \"Large Cap\",\n    \"isin\": \"\",\n    \"name\": \"SPDR S\\u0026P 500 ETF Trust\",\n    \"nav\": 366.2784,\n    \"navCurrency\": \"USD\",\n    \"priceToBook\": 3.943968,\n    \"priceToEarnings\": 26.82968,\n    \"trackingIndex\": \"S\\u0026P 500\",\n    \"logo\": \"https://static2.finnhub.io/file/publicdatany/finnhubimage/etf_logo/spdr.png\",\n    \"website\": \"https://us.spdrs.com/en/etf/spdr-sp-500-etf-SPY\"\n  },\n  \"symbol\": \"SPY\"\n}",
        "section": "ETFs & Indices",
        "summary": "ETFs Profile",
        "title": "Global ETFs profile",
        "urlId": "etfs-profile",
        "widget": null
      }
    },
    "/etf/sector": {
      "get": {
        "parameters": [
          {
            "description": "ETF symbol.",
            "in": "query",
            "name": "symbol",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ETF isin.",
            "in": "query",
            "name": "isin",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ETFsSectorExposure",
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Default"
        ],
        "description": "Get ETF sector exposure data.",
        "examples": [
          {
            "text": "/etf/sector?symbol=SPY",
            "url": "/etf/sector?symbol=SPY&token=<token>"
          },
          {
            "text": "/etf/sector?symbol=VOO",
            "url": "/etf/sector?symbol=VOO&token=<token>"
          }
        ],
        "freeTier": null,
        "highUsage": null,
        "navHeader": "ETFs Sector",
        "newEndpoint": null,
        "operationId": "etfs-sector-exposure",
        "premium": "Premium Access Required",
        "sampleCode": {
          "curl": "autoGenerated",
          "go": "res, _, err := finnhubClient.EtfsSectorExposure(context.Background()).Symbol(\"SPY\").Execute()",
          "javascript": "finnhubClient.etfsSectorExposure('SPY', (error, data, response) => {\n  console.log(data);\n});",
          "kotlin": "println(apiClient.etfsSectorExposure(\"SPY\"))",
          "php": "print_r($client->etfsSectorExposure(\"SPY\"));",
          "python": "print(finnhub_client.etfs_sector_exp('SPY'))",
          "ruby": "puts(finnhub_client.etfs_sector_exposure('SPY'))",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"sectorExposure\": [\n    {\n      \"exposure\": 31.96,\n      \"industry\": \"Technology\"\n    },\n    {\n      \"exposure\": 14.79,\n      \"industry\": \"Healthcare\"\n    },\n    {\n      \"exposure\": 13.46,\n      \"industry\": \"Consumer Cyclicals\"\n    }\n  ],\n  \"symbol\": \"SPY\"\n}",
        "section": "ETFs & Indices",
        "summary": "ETFs Sector Exposure",
        "title": "Global ETFs Sector Breakdown",
        "urlId": "etfs-sector-exposure",
        "widget": null
      }
    },
    "/fda-advisory-committee-calendar": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/FDAComitteeMeeting"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Default"
        ],
        "description": "FDA's advisory committees are established to provide functions which support the agency's mission of protecting and promoting the public health, while meeting the requirements set forth in the Federal Advisory Committee Act. Committees are either mandated by statute or established at the discretion of the Department of Health and Human Services. Each committee is subject to renewal at two-year intervals unless the committee charter states otherwise.",
        "examples": [
          {
            "text": "/fda-advisory-committee-calendar",
            "url": "/fda-advisory-committee-calendar?token=<token>"
          }
        ],
        "freeTier": null,
        "highUsage": null,
        "navHeader": "FDA Calendar",
        "newEndpoint": null,
        "operationId": "fda-committee-meeting-calendar",
        "premium": null,
        "sampleCode": {
          "curl": "autoGenerated",
          "go": "res, _, err := finnhubClient.FdaCommitteeMeetingCalendar(context.Background()).Execute()",
          "javascript": "finnhubClient.fdaCommitteeMeetingCalendar((error, data, response) => {\n  console.log(data)\n});",
          "kotlin": "println(apiClient.fdaCommitteeMeetingCalendar())",
          "php": "print_r($client->fdaCommitteeMeetingCalendar());",
          "python": "print(finnhub_client.fda_calendar())",
          "ruby": "puts(finnhub_client.fda_committee_meeting_calendar())",
          "useTemplate": true
        },
        "sampleResponse": "[\n  {\n    \"fromDate\": \"2016-01-11 19:00:00\",\n    \"toDate\": \"2016-01-11 19:00:00\",\n    \"eventDescription\": \"January 12, 2016: Meeting of the Psychopharmacologic Drugs Advisory Committee Meeting Announcement - 01/11/2016 - 01/11/2016\",\n    \"url\": \"https://www.fda.gov/advisory-committees/advisory-committee-calendar/january-12-2016-meeting-psychopharmacologic-drugs-advisory-committee-meeting-announcement-01112016\"\n  },\n  {\n    \"fromDate\": \"2016-01-14 13:00:00\",\n    \"toDate\": \"2016-01-14 17:00:00\",\n    \"eventDescription\": \"January 14, 2016: Vaccines and Related Biological Products Advisory Committee Meeting Announcement - 01/14/2016 - 01/14/2016\",\n    \"url\": \"https://www.fda.gov/advisory-committees/advisory-committee-calendar/january-14-2016-vaccines-and-related-biological-products-advisory-committee-meeting-announcement\"\n  }\n]",
        "section": "Alternative Data",
        "summary": "FDA Committee Meeting Calendar",
        "title": "FDA Calendar | Finnhub",
        "urlId": "fda-committee-meeting-calendar",
        "widget": null
      }
    },
    "/forex/candle": {
      "get": {
        "parameters": [
          {
            "description": "Use symbol returned in <code>/forex/symbol</code> endpoint for this field.",
            "in": "query",
            "name": "symbol",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Supported resolution includes <code>1, 5, 15, 30, 60, D, W, M </code>.Some timeframes might not be available depending on the exchange.",
            "in": "query",
            "name": "resolution",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "UNIX timestamp. Interval initial value.",
            "in": "query",
            "name": "from",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "UNIX timestamp. Interval end value.",
            "in": "query",
            "name": "to",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForexCandles",
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Default"
        ],
        "description": "Get candlestick data for forex symbols.",
        "examples": [
          {
            "text": "/forex/candle?symbol=OANDA:EUR_USD&resolution=D&from=1572651390&to=1575243390",
            "url": "/forex/candle?symbol=OANDA:EUR_USD&resolution=D&from=1572651390&to=1575243390&token=<token>"
          }
        ],
        "freeTier": null,
        "highUsage": null,
        "navHeader": "Candles",
        "newEndpoint": null,
        "operationId": "forex-candles",
        "premium": "Premium Access Required",
        "sampleCode": {
          "curl": "autoGenerated",
          "go": "res, _, err := finnhubClient.ForexCandles(context.Background()).Symbol(\"OANDA:EUR_USD\").Resolution(\"D\").From(1590988249).To(1591852249).Execute()",
          "javascript": "finnhubClient.forexCandles(\"OANDA:EUR_USD\", \"D\", 1590988249, 1591852249, (error, data, response) => {\n  console.log(data)\n});",
          "kotlin": "println(apiClient.forexCandles(\"OANDA:EUR_USD\", \"D\", 1590988249, 1591852249))",
          "php": "print_r($client->forexCandles(\"OANDA:EUR_USD\", \"D\", 1590988249, 1591852249));",
          "python": "print(finnhub_client.forex_candles('OANDA:EUR_USD', 'D', 1590988249, 1591852249))",
          "ruby": "puts(finnhub_client.forex_candles('OANDA:EUR_USD', 'D', 1590988249, 1591852249))",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"c\": [\n    1.10713,\n    1.10288,\n    1.10397,\n    1.10182\n  ],\n  \"h\": [\n    1.1074,\n    1.10751,\n    1.10729,\n    1.10595\n  ],\n  \"l\": [\n    1.09897,\n    1.1013,\n    1.10223,\n    1.10101\n  ],\n  \"o\": [\n    1.0996,\n    1.107,\n    1.10269,\n    1.10398\n  ],\n  \"s\": \"ok\",\n  \"t\": [\n    1568667600,\n    1568754000,\n    1568840400,\n    1568926800\n  ],\n  \"v\": [\n    75789,\n    75883,\n    73485,\n    5138\n  ]\n}",
        "section": "Forex",
        "summary": "Forex Candles",
        "title": "Forex OHLCV API",
        "urlId": "forex-candles",
        "widget": {
          "url": "https://widget.finnhub.io/widgets/stocks/chart?symbol=OANDA:EUR_USD&watermarkColor=%231db954&backgroundColor=%23222222&textColor=white"
        }
      }
    },
    "/forex/exchange": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Default"
        ],
        "description": "List supported forex exchanges",
        "examples": [
          {
            "text": "/forex/exchange",
            "url": "/forex/exchange?token=<token>"
          }
        ],
        "freeTier": null,
        "highUsage": null,
        "navHeader": "Exchanges",
        "newEndpoint": null,
        "operationId": "forex-exchanges",
        "premium": null,
        "sampleCode": {
          "curl": "autoGenerated",
          "go": "res, _, err := finnhubClient.ForexExchanges(context.Background()).Execute()",
          "javascript": "finnhubClient.forexExchanges((error, data, response) => {\n  console.log(data)\n});",
          "kotlin": "println(apiClient.forexExchanges())",
          "php": "print_r($client->forexExchanges());",
          "python": "print(finnhub_client.forex_exchanges())",
          "ruby": "puts(finnhub_client.forex_exchanges())",
          "useTemplate": true
        },
        "sampleResponse": "[\n  \"oanda\",\n  \"fxcm\",\n  \"forex.com\",\n  \"ic markets\",\n  \"fxpro\"\n]",
        "section": "Forex",
        "summary": "Forex Exchanges",
        "title": "List Forex Exchanges",
        "urlId": "forex-exchanges",
        "widget": null
      }
    },
    "/forex/rates": {
      "get": {
        "parameters": [
          {
            "description": "Base currency. Default to EUR.",
            "in": "query",
            "name": "base",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Date. Leave blank to get the latest data.",
            "in": "query",
            "name": "date",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forexrates",
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Default"
        ],
        "description": "Get rates for all forex pairs. Ideal for currency conversion",
        "examples": [
          {
            "text": "/forex/rates?base=USD",
            "url": "/forex/rates?base=USD&token=<token>"
          },
          {
            "text": "/forex/rates?base=EUR&date=2022-02-10",
            "url": "/forex/rates?base=EUR&date=2022-02-10&token=<token>"
          }
        ],
        "freeTier": null,
        "highUsage": null,
        "navHeader": "All Rates",
        "newEndpoint": null,
        "operationId": "forex-rates",
        "premium": "Premium Access Required",
        "sampleCode": {
          "curl": "autoGenerated",
          "go": "res, _, err := finnhubClient.ForexRates(context.Background()).Base(\"USD\").Execute()",
          "javascript": "finnhubClient.forexRates({\"base\": \"USD\"}, (error, data, response) => {\n  console.log(data)\n});",
          "kotlin": "println(apiClient.forexRates(base = \"USD\"))",
          "php": "print_r($client->forexRates(\"USD\"));",
          "python": "print(finnhub_client.forex_rates(base='USD'))",
          "ruby": "puts(finnhub_client.forex_rates({base: 'USD'}))",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"base\": \"USD\",\n  \"quote\": {\n    \"AED\": 3.968012,\n    \"AFN\": 82.373308,\n    \"ALL\": 124.235408,\n    \"AMD\": 520.674275,\n    \"CAD\": 1.525368,\n    \"CDF\": 1904.576741,\n    \"CHF\": 1.053259,\n    \"CNY\": 7.675235,\n    \"COP\": 4282.32676,\n    \"CRC\": 614.796995,\n    \"CUC\": 1.080304,\n    \"CUP\": 28.628067,\n    \"CVE\": 110.517004,\n    \"CZK\": 27.096737,\n    \"DJF\": 191.991344,\n    \"DKK\": 7.461229,\n    \"DOP\": 59.195018,\n    \"DZD\": 139.384021,\n    \"EGP\": 17.018597,\n    \"ERN\": 16.204913,\n    \"ETB\": 36.296767,\n    \"EUR\": 0.91,\n    \"GBP\": 0.874841,\n    \"JPY\": 114.583548,\n    \"MDL\": 19.120251,\n    \"MGA\": 4105.156776,\n    \"USD\": 1,\n  }\n}",
        "section": "Forex",
        "summary": "Forex rates",
        "title": "Forex All Rates",
        "urlId": "forex-rates",
        "widget": null
      }
    },
    "/forex/symbol": {
      "get": {
        "parameters": [
          {
            "description": "Exchange you want to get the list of symbols from.",
            "in": "query",
            "name": "exchange",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ForexSymbol"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Default"
        ],
        "description": "List supported forex symbols.",
        "examples": [
          {
            "text": "/forex/symbol?exchange=oanda",
            "url": "/forex/symbol?exchange=oanda&token=<token>"
          }
        ],
        "freeTier": null,
        "highUsage": null,
        "navHeader": "Symbols",
        "newEndpoint": null,
        "operationId": "forex-symbols",
        "premium": null,
        "sampleCode": {
          "curl": "autoGenerated",
          "go": "res, _, err := finnhubClient.ForexSymbols(context.Background()).Exchange(\"OANDA\").Execute()",
          "javascript": "finnhubClient.forexSymbols(\"OANDA\", (error, data, response) => {\n  console.log(data)\n});",
          "kotlin": "println(apiClient.forexSymbols(\"OANDA\"))",
          "php": "print_r($client->forexSymbols(\"OANDA\"));",
          "python": "print(finnhub_client.forex_symbols('OANDA'))",
          "ruby": "puts(finnhub_client.forex_symbols('OANDA'))",
          "useTemplate": true
        },
        "sampleResponse": "[\n  {\n    \"description\": \"IC MARKETS Euro vs US Dollar EURUSD\",\n    \"displaySymbol\": \"EUR/USD\",\n    \"symbol\": \"IC MARKETS:1\"\n  },\n  {\n    \"description\": \"IC MARKETS Australian vs US Dollar AUDUSD\",\n    \"displaySymbol\": \"AUD/USD\",\n    \"symbol\": \"IC MARKETS:5\"\n  },\n  {\n    \"description\": \"IC MARKETS British Pound vs US Dollar GBPUSD\",\n    \"displaySymbol\": \"GBP/USD\",\n    \"symbol\": \"IC MARKETS:2\"\n  }]",
        "section": "Forex",
        "summary": "Forex Symbol",
        "title": "Forex Symbols By Exchange",
        "urlId": "forex-symbols",
        "widget": null
      }
    },
    "/global-filings/download": {
      "get": {
        "parameters": [
          {
            "description": "Document's id. Note that this is different from filingId as 1 filing can contain multiple documents.",
            "in": "query",
            "name": "documentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Default response"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Default"
        ],
        "description": "<p>Download filings using document ids.</p>",
        "examples": [
          {
[...]
