{
  "openapi": "3.0.3",
  "info": {
    "title": "MusicBrainz API",
    "version": "2.0",
    "description": "The MusicBrainz API provides access to the MusicBrainz music metadata database. It supports lookup, browse, and search operations for music entities like artists, releases, recordings, and more.",
    "x-jentic-source-url": "https://musicbrainz.org/doc/MusicBrainz_API"
  },
  "servers": [
    {
      "url": "https://musicbrainz.org/ws/2",
      "description": "MusicBrainz production API"
    }
  ],
  "paths": {
    "/artist/{mbid}": {
      "get": {
        "operationId": "lookupArtist",
        "summary": "Look up an artist by MBID",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "mbid",
            "in": "path",
            "required": true,
            "description": "MusicBrainz identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/IncParam"
          },
          {
            "$ref": "#/components/parameters/FmtParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Artist entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Artist"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "Entity not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/release/{mbid}": {
      "get": {
        "operationId": "lookupRelease",
        "summary": "Look up a release by MBID",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "mbid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/IncParam"
          },
          {
            "$ref": "#/components/parameters/FmtParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Release entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Release"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "Entity not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/release-group/{mbid}": {
      "get": {
        "operationId": "lookupReleaseGroup",
        "summary": "Look up a release group by MBID",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "mbid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/IncParam"
          },
          {
            "$ref": "#/components/parameters/FmtParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Release group entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseGroup"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "Entity not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/recording/{mbid}": {
      "get": {
        "operationId": "lookupRecording",
        "summary": "Look up a recording by MBID",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "mbid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/IncParam"
          },
          {
            "$ref": "#/components/parameters/FmtParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Recording entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recording"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "Entity not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/work/{mbid}": {
      "get": {
        "operationId": "lookupWork",
        "summary": "Look up a work by MBID",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "mbid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/IncParam"
          },
          {
            "$ref": "#/components/parameters/FmtParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Work entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Work"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "Entity not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/label/{mbid}": {
      "get": {
        "operationId": "lookupLabel",
        "summary": "Look up a label by MBID",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "mbid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/IncParam"
          },
          {
            "$ref": "#/components/parameters/FmtParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Label entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Label"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "Entity not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/area/{mbid}": {
      "get": {
        "operationId": "lookupArea",
        "summary": "Look up an area by MBID",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "mbid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/IncParam"
          },
          {
            "$ref": "#/components/parameters/FmtParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Area entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Area"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "Entity not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/event/{mbid}": {
      "get": {
        "operationId": "lookupEvent",
        "summary": "Look up an event by MBID",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "mbid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/IncParam"
          },
          {
            "$ref": "#/components/parameters/FmtParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Event entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "Entity not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/instrument/{mbid}": {
      "get": {
        "operationId": "lookupInstrument",
        "summary": "Look up an instrument by MBID",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "mbid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/IncParam"
          },
          {
            "$ref": "#/components/parameters/FmtParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Instrument entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Instrument"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "Entity not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/place/{mbid}": {
      "get": {
        "operationId": "lookupPlace",
        "summary": "Look up a place by MBID",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "mbid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/IncParam"
          },
          {
            "$ref": "#/components/parameters/FmtParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Place entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Place"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "Entity not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/series/{mbid}": {
      "get": {
        "operationId": "lookupSeries",
        "summary": "Look up a series by MBID",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "mbid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/IncParam"
          },
          {
            "$ref": "#/components/parameters/FmtParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Series entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Series"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "Entity not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/genre/{mbid}": {
      "get": {
        "operationId": "lookupGenre",
        "summary": "Look up a genre by MBID",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "mbid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/FmtParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Genre entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Genre"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "Entity not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/genre/all": {
      "get": {
        "operationId": "listAllGenres",
        "summary": "List all genres",
        "tags": [
          "Genres"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "$ref": "#/components/parameters/FmtParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of genres",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "genre-count": {
                      "type": "integer"
                    },
                    "genre-offset": {
                      "type": "integer"
                    },
                    "genres": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Genre"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/discid/{discid}": {
      "get": {
        "operationId": "lookupDiscId",
        "summary": "Look up releases by disc ID",
        "tags": [
          "Non-MBID Lookup"
        ],
        "parameters": [
          {
            "name": "discid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IncParam"
          },
          {
            "name": "toc",
            "in": "query",
            "description": "Table of contents for fuzzy lookup",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cdstubs",
            "in": "query",
            "description": "Include CD stubs",
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ],
              "default": "yes"
            }
          },
          {
            "name": "media-format",
            "in": "query",
            "description": "Filter by media format",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/FmtParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Associated releases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "Disc ID not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/isrc/{isrc}": {
      "get": {
        "operationId": "lookupIsrc",
        "summary": "Look up recordings by ISRC",
        "tags": [
          "Non-MBID Lookup"
        ],
        "parameters": [
          {
            "name": "isrc",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IncParam"
          },
          {
            "$ref": "#/components/parameters/FmtParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Associated recordings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "ISRC not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/iswc/{iswc}": {
      "get": {
        "operationId": "lookupIswc",
        "summary": "Look up works by ISWC",
        "tags": [
          "Non-MBID Lookup"
        ],
        "parameters": [
          {
            "name": "iswc",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IncParam"
          },
          {
            "$ref": "#/components/parameters/FmtParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Associated works",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "ISWC not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/url": {
      "get": {
        "operationId": "lookupUrl",
        "summary": "Look up URL entity by resource URL",
        "tags": [
          "Non-MBID Lookup"
        ],
        "parameters": [
          {
            "name": "resource",
            "in": "query",
            "required": true,
            "description": "URL to look up",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "$ref": "#/components/parameters/FmtParam"
          }
        ],
        "responses": {
          "200": {
            "description": "URL entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "URL not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/artist": {
      "get": {
        "operationId": "searchArtists",
        "summary": "Search for artists",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/OffsetParam"
          },
          {
            "$ref": "#/components/parameters/FmtParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Artist search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/release": {
      "get": {
        "operationId": "searchReleases",
        "summary": "Search for releases or browse releases",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/OffsetParam"
          },
          {
            "$ref": "#/components/parameters/FmtParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Release search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/recording": {
      "get": {
        "operationId": "searchRecordings",
        "summary": "Search for recordings",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/OffsetParam"
          },
          {
            "$ref": "#/components/parameters/FmtParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Recording search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/release-group": {
      "get": {
        "operationId": "searchReleaseGroups",
        "summary": "Search for release groups",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/OffsetParam"
          },
          {
            "$ref": "#/components/parameters/FmtParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Release group search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/tag": {
      "post": {
        "operationId": "submitTags",
        "summary": "Submit user tags/genres",
        "tags": [
          "Submissions"
        ],
        "security": [
          {
            "digestAuth": []
          }
        ],
        "parameters": [
          {
            "name": "client",
            "in": "query",
            "required": true,
            "description": "Application client identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "type": "string",
                "description": "XML metadata with user-tag-list elements"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags submitted successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    },
    "/rating": {
      "post": {
        "operationId": "submitRatings",
        "summary": "Submit user ratings",
        "tags": [
          "Submissions"
        ],
        "security": [
          {
            "digestAuth": []
          }
        ],
        "parameters": [
          {
            "name": "client",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "type": "string",
                "description": "XML metadata with user-rating elements (0-100 scale)"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ratings submitted successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    },
    "/collection/{collectionId}/{entityType}/{mbids}": {
      "put": {
        "operationId": "addToCollection",
        "summary": "Add entities to a collection",
        "tags": [
          "Collections"
        ],
        "security": [
          {
            "digestAuth": []
          }
        ],
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "entityType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "release",
                "artist",
                "event",
                "recording",
                "work",
                "area",
                "label",
                "place",
                "series"
              ]
            }
          },
          {
            "name": "mbids",
            "in": "path",
            "required": true,
            "description": "Semicolon-separated MBIDs (max 400)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entities added"
          },
          "401": {
            "description": "Authentication required"
          },
          "400": {
            "description": "Bad request"
          }
        }
      },
      "delete": {
        "operationId": "removeFromCollection",
        "summary": "Remove entities from a collection",
        "tags": [
          "Collections"
        ],
        "security": [
          {
            "digestAuth": []
          }
        ],
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "entityType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mbids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entities removed"
          },
          "401": {
            "description": "Authentication required"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "IncParam": {
        "name": "inc",
        "in": "query",
        "description": "Include subqueries, separated by +",
        "schema": {
          "type": "string"
        }
      },
      "FmtParam": {
        "name": "fmt",
        "in": "query",
        "description": "Response format",
        "schema": {
          "type": "string",
          "enum": [
            "json",
            "xml"
          ],
          "default": "xml"
        }
      },
      "QueryParam": {
        "name": "query",
        "in": "query",
        "required": true,
        "description": "Lucene search query",
        "schema": {
          "type": "string"
        }
      },
      "LimitParam": {
        "name": "limit",
        "in": "query",
        "description": "Maximum number of results",
        "schema": {
          "type": "integer",
          "default": 25,
          "maximum": 100
        }
      },
      "OffsetParam": {
        "name": "offset",
        "in": "query",
        "description": "Number of results to skip",
        "schema": {
          "type": "integer",
          "default": 0
        }
      }
    },
    "schemas": {
      "Artist": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "sort-name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "disambiguation": {
            "type": "string"
          },
          "life-span": {
            "type": "object",
            "properties": {
              "begin": {
                "type": "string"
              },
              "end": {
                "type": "string",
                "nullable": true
              },
              "ended": {
                "type": "boolean"
              }
            }
          },
          "area": {
            "$ref": "#/components/schemas/Area"
          }
        }
      },
      "Release": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "barcode": {
            "type": "string",
            "nullable": true
          },
          "packaging": {
            "type": "string",
            "nullable": true
          },
          "disambiguation": {
            "type": "string"
          },
          "quality": {
            "type": "string"
          }
        }
      },
      "ReleaseGroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "primary-type": {
            "type": "string"
          },
          "secondary-types": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "first-release-date": {
            "type": "string"
          },
          "disambiguation": {
            "type": "string"
          }
        }
      },
      "Recording": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "length": {
            "type": "integer",
            "description": "Duration in milliseconds"
          },
          "disambiguation": {
            "type": "string"
          },
          "video": {
            "type": "boolean"
          },
          "first-release-date": {
            "type": "string"
          }
        }
      },
      "Work": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "disambiguation": {
            "type": "string"
          },
          "iswcs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Label": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "label-code": {
            "type": "integer",
            "nullable": true
          },
          "country": {
            "type": "string"
          },
          "disambiguation": {
            "type": "string"
          }
        }
      },
      "Area": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "sort-name": {
            "type": "string"
          },
          "iso-3166-1-codes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "life-span": {
            "type": "object",
            "properties": {
              "begin": {
                "type": "string"
              },
              "end": {
                "type": "string"
              },
              "ended": {
                "type": "boolean"
              }
            }
          },
          "disambiguation": {
            "type": "string"
          }
        }
      },
      "Instrument": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "disambiguation": {
            "type": "string"
          }
        }
      },
      "Place": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "coordinates": {
            "type": "object",
            "properties": {
              "latitude": {
                "type": "number"
              },
              "longitude": {
                "type": "number"
              }
            }
          },
          "disambiguation": {
            "type": "string"
          }
        }
      },
      "Series": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "disambiguation": {
            "type": "string"
          }
        }
      },
      "Genre": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "disambiguation": {
            "type": "string"
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "count": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "digestAuth": {
        "type": "http",
        "scheme": "digest",
        "description": "HTTP Digest authentication required for data submission endpoints"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request parameters"
      }
    }
  },
  "security": []
}