{
  "openapi": "3.0.0",
  "info": {
    "title": "Hunter API",
    "description": "Hunter lets you find professional email addresses in seconds and connect with the people that matter for your business.",
    "version": "2.0.0"
  },
  "servers": [{"url": "https://api.hunter.io/v2"}],
  "security": [{"ApiKeyAuth": []}],
  "paths": {
    "/domain-search": {
      "get": {
        "summary": "Domain Search",
        "description": "Returns all the email addresses found using one given domain name",
        "parameters": [
          {"name": "domain", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "limit", "in": "query", "schema": {"type": "integer", "maximum": 100}},
          {"name": "offset", "in": "query", "schema": {"type": "integer"}}
        ],
        "responses": {"200": {"description": "Success"}}
      }
    },
    "/email-finder": {
      "get": {
        "summary": "Email Finder",
        "description": "Generates the most likely email address from a domain, first name and last name",
        "parameters": [
          {"name": "domain", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "first_name", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "last_name", "in": "query", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {"200": {"description": "Success"}}
      }
    },
    "/email-verifier": {
      "get": {
        "summary": "Email Verifier",
        "description": "Verify the deliverability of an email address",
        "parameters": [
          {"name": "email", "in": "query", "required": true, "schema": {"type": "string", "format": "email"}}
        ],
        "responses": {"200": {"description": "Success"}}
      }
    },
    "/account": {
      "get": {
        "summary": "Account Information",
        "description": "Returns information about the account",
        "responses": {"200": {"description": "Success"}}
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {"type": "apiKey", "in": "query", "name": "api_key"}
    }
  }
}
