{
  "openapi": "3.0.3",
  "info": {
    "title": "OpenPayd API",
    "version": "1.0.0",
    "description": "OpenPayd provides payment infrastructure for businesses, offering accounts, beneficiary management, transactions, currency exchange, and open banking capabilities. The API enables businesses to create payment accounts, manage beneficiaries, initiate payouts, and handle currency conversions.",
    "x-jentic-source-url": "https://www.openpayd.com/api/"
  },
  "servers": [
    {
      "url": "https://sandbox.openpayd.com/api",
      "description": "OpenPayd Sandbox Environment"
    },
    {
      "url": "https://api.openpayd.com/api",
      "description": "OpenPayd Production Environment"
    }
  ],
  "paths": {
    "/oauth/token": {
      "post": {
        "operationId": "getAccessToken",
        "summary": "Get access token",
        "description": "Obtain an OAuth 2.0 access token using client credentials grant type",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "parameters": [
          {
            "name": "grant_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "client_credentials"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          }
        }
      }
    },
    "/create-linked-client": {
      "post": {
        "operationId": "createIndividualLinkedClient",
        "summary": "Create individual linked client",
        "description": "Create a new individual linked client account",
        "tags": [
          "Linked Clients"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIndividualClientRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedClientResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/create-business-linked-client": {
      "post": {
        "operationId": "createBusinessLinkedClient",
        "summary": "Create business linked client",
        "description": "Create a new business linked client account",
        "tags": [
          "Linked Clients"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBusinessClientRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedClientResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/get-linked-client": {
      "get": {
        "operationId": "getLinkedClient",
        "summary": "Get linked client",
        "description": "Retrieve details of a specific linked client",
        "tags": [
          "Linked Clients"
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedClientResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Client not found"
          }
        }
      }
    },
    "/list-linked-clients": {
      "get": {
        "operationId": "listLinkedClients",
        "summary": "List linked clients",
        "description": "Retrieve a list of linked clients with optional filtering",
        "tags": [
          "Linked Clients"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedClientListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/update-linked-client": {
      "put": {
        "operationId": "updateIndividualLinkedClient",
        "summary": "Update individual linked client",
        "description": "Update an existing individual linked client",
        "tags": [
          "Linked Clients"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIndividualClientRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedClientResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Client not found"
          }
        }
      }
    },
    "/update-business-linked-client": {
      "put": {
        "operationId": "updateBusinessLinkedClient",
        "summary": "Update business linked client",
        "description": "Update an existing business linked client",
        "tags": [
          "Linked Clients"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBusinessClientRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedClientResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Client not found"
          }
        }
      }
    },
    "/list-accounts-for-linked-clients": {
      "get": {
        "operationId": "listLinkedClientAccounts",
        "summary": "List linked client accounts",
        "description": "List all accounts associated with a linked client",
        "tags": [
          "Linked Clients"
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/list-linked-client-transactions": {
      "get": {
        "operationId": "listLinkedClientTransactions",
        "summary": "List linked client transactions",
        "description": "List all transactions for a linked client",
        "tags": [
          "Linked Clients"
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/create-account": {
      "post": {
        "operationId": "createAccount",
        "summary": "Create account",
        "description": "Create a new payment account",
        "tags": [
          "Accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/get-account": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get account",
        "description": "Retrieve details of a specific account",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Account not found"
          }
        }
      }
    },
    "/list-accounts": {
      "get": {
        "operationId": "listAccounts",
        "summary": "List accounts",
        "description": "List all accounts with optional filtering",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/update-account": {
      "put": {
        "operationId": "updateAccount",
        "summary": "Update account",
        "description": "Update an existing account",
        "tags": [
          "Accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Account not found"
          }
        }
      }
    },
    "/list-payment-accounts": {
      "get": {
        "operationId": "listPaymentAccounts",
        "summary": "List payment accounts",
        "description": "List all payment accounts",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/create-parent-beneficiary": {
      "post": {
        "operationId": "createBeneficiary",
        "summary": "Create beneficiary",
        "description": "Create a new beneficiary",
        "tags": [
          "Beneficiaries"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBeneficiaryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Beneficiary created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeneficiaryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/get-beneficiary-by-id": {
      "get": {
        "operationId": "getBeneficiary",
        "summary": "Get beneficiary",
        "description": "Retrieve details of a specific beneficiary",
        "tags": [
          "Beneficiaries"
        ],
        "parameters": [
          {
            "name": "beneficiaryId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeneficiaryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Beneficiary not found"
          }
        }
      }
    },
    "/list-beneficiaries": {
      "get": {
        "operationId": "listBeneficiaries",
        "summary": "List beneficiaries",
        "description": "List all beneficiaries",
        "tags": [
          "Beneficiaries"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeneficiaryListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/delete-beneficiary": {
      "delete": {
        "operationId": "deleteBeneficiary",
        "summary": "Delete beneficiary",
        "description": "Delete a beneficiary",
        "tags": [
          "Beneficiaries"
        ],
        "parameters": [
          {
            "name": "beneficiaryId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Beneficiary deleted successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Beneficiary not found"
          }
        }
      }
    },
    "/create-bank-beneficiary": {
      "post": {
        "operationId": "createBankBeneficiary",
        "summary": "Create bank beneficiary",
        "description": "Create a new bank beneficiary with bank account details",
        "tags": [
          "Beneficiaries"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankBeneficiaryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bank beneficiary created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankBeneficiaryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/get-bank-beneficiary-by-id": {
      "get": {
        "operationId": "getBankBeneficiary",
        "summary": "Get bank beneficiary",
        "description": "Retrieve details of a specific bank beneficiary",
        "tags": [
          "Beneficiaries"
        ],
        "parameters": [
          {
            "name": "beneficiaryId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankBeneficiaryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Bank beneficiary not found"
          }
        }
      }
    },
    "/list-bank-beneficiaries": {
      "get": {
        "operationId": "listBankBeneficiaries",
        "summary": "List bank beneficiaries",
        "description": "List all bank beneficiaries",
        "tags": [
          "Beneficiaries"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankBeneficiaryListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/delete-bank-beneficiary": {
      "delete": {
        "operationId": "deleteBankBeneficiary",
        "summary": "Delete bank beneficiary",
        "description": "Delete a bank beneficiary",
        "tags": [
          "Beneficiaries"
        ],
        "parameters": [
          {
            "name": "beneficiaryId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bank beneficiary deleted successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Bank beneficiary not found"
          }
        }
      }
    },
    "/confirmation-of-payee": {
      "post": {
        "operationId": "confirmationOfPayee",
        "summary": "Confirmation of Payee validation",
        "description": "Validate payee details using Confirmation of Payee (CoP)",
        "tags": [
          "Beneficiaries"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmationOfPayeeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmationOfPayeeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/create-bank-payout": {
      "post": {
        "operationId": "createBankPayout",
        "summary": "Create bank payout",
        "description": "Create a new bank payout transaction",
        "tags": [
          "Transactions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePayoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payout created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/create-internal-transfer": {
      "post": {
        "operationId": "createInternalTransfer",
        "summary": "Create internal transfer",
        "description": "Create an internal transfer between accounts",
        "tags": [
          "Transactions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInternalTransferRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfer created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/get-transaction-by-id": {
      "get": {
        "operationId": "getTransaction",
        "summary": "Get transaction",
        "description": "Retrieve details of a specific transaction",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "transactionId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Transaction not found"
          }
        }
      }
    },
    "/list-transactions": {
      "get": {
        "operationId": "listTransactions",
        "summary": "List transactions",
        "description": "List all transactions with optional filtering",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/update-transaction": {
      "put": {
        "operationId": "updateTransaction",
        "summary": "Update transaction",
        "description": "Update an existing transaction",
        "tags": [
          "Transactions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Transaction not found"
          }
        }
      }
    },
    "/get-basic-quotes": {
      "get": {
        "operationId": "getBasicQuotes",
        "summary": "Get basic exchange quotes",
        "description": "Retrieve basic currency exchange quotes",
        "tags": [
          "Exchange"
        ],
        "parameters": [
          {
            "name": "fromCurrency",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toCurrency",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/get-detailed-quote": {
      "post": {
        "operationId": "getDetailedQuote",
        "summary": "Get detailed exchange quote",
        "description": "Retrieve detailed currency exchange quote",
        "tags": [
          "Exchange"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DetailedQuoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetailedQuoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/create-exchange": {
      "post": {
        "operationId": "createExchange",
        "summary": "Create exchange",
        "description": "Execute a currency exchange",
        "tags": [
          "Exchange"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExchangeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Exchange executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/get-beneficiary-required-details": {
      "get": {
        "operationId": "getBeneficiaryRequiredDetails",
        "summary": "Get beneficiary required details",
        "description": "Retrieve required fields for creating a beneficiary",
        "tags": [
          "Reference Data"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequiredDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/validate-beneficiary": {
      "post": {
        "operationId": "validateBeneficiary",
        "summary": "Validate beneficiary",
        "description": "Validate beneficiary details before creation",
        "tags": [
          "Reference Data"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateBeneficiaryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/reason-codes": {
      "get": {
        "operationId": "getReasonCodes",
        "summary": "Get payout reason codes",
        "description": "Retrieve available payout reason codes",
        "tags": [
          "Reference Data"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReasonCodesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/initiate-payment": {
      "post": {
        "operationId": "initiateOpenBankingPayment",
        "summary": "Initiate open banking payment",
        "description": "Initiate a new payment through open banking",
        "tags": [
          "Open Banking"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitiatePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/get-payment-id": {
      "get": {
        "operationId": "getOpenBankingPayment",
        "summary": "Get open banking payment by ID",
        "description": "Retrieve details of an open banking payment",
        "tags": [
          "Open Banking"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Payment not found"
          }
        }
      }
    },
    "/get-payments-list": {
      "get": {
        "operationId": "listOpenBankingPayments",
        "summary": "List open banking payments",
        "description": "List all open banking payments",
        "tags": [
          "Open Banking"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/create-direct-debit": {
      "post": {
        "operationId": "createDirectDebit",
        "summary": "Create direct debit",
        "description": "Create a new SEPA direct debit",
        "tags": [
          "Direct Debit"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDirectDebitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Direct debit created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectDebitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/direct-debit-reversal": {
      "post": {
        "operationId": "reverseDirectDebit",
        "summary": "Reverse direct debit",
        "description": "Reverse a SEPA direct debit transaction",
        "tags": [
          "Direct Debit"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DirectDebitReversalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Direct debit reversed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectDebitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/direct-debit-cancellation": {
      "post": {
        "operationId": "cancelDirectDebit",
        "summary": "Cancel direct debit",
        "description": "Cancel a SEPA direct debit",
        "tags": [
          "Direct Debit"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DirectDebitCancellationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Direct debit cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectDebitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/get-direct-debit-transaction": {
      "get": {
        "operationId": "getDirectDebitTransaction",
        "summary": "Get direct debit transaction",
        "description": "Retrieve details of a specific direct debit transaction",
        "tags": [
          "Direct Debit"
        ],
        "parameters": [
          {
            "name": "transactionId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectDebitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Transaction not found"
          }
        }
      }
    },
    "/list-direct-debit-transactions": {
      "get": {
        "operationId": "listDirectDebitTransactions",
        "summary": "List direct debit transactions",
        "description": "List all direct debit transactions",
        "tags": [
          "Direct Debit"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectDebitListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "token_type": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer"
          },
          "scope": {
            "type": "string"
          }
        }
      },
      "CreateIndividualClientRequest": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        },
        "required": [
          "firstName",
          "lastName",
          "email"
        ]
      },
      "CreateBusinessClientRequest": {
        "type": "object",
        "properties": {
          "companyName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        },
        "required": [
          "companyName",
          "email"
        ]
      },
      "UpdateIndividualClientRequest": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          }
        }
      },
      "UpdateBusinessClientRequest": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string"
          },
          "companyName": {
            "type": "string"
          }
        }
      },
      "LinkedClientResponse": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "LinkedClientListResponse": {
        "type": "object",
        "properties": {
          "clients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LinkedClientResponse"
            }
          }
        }
      },
      "CreateAccountRequest": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string"
          },
          "accountName": {
            "type": "string"
          }
        },
        "required": [
          "currency"
        ]
      },
      "UpdateAccountRequest": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "accountName": {
            "type": "string"
          }
        }
      },
      "AccountResponse": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "balance": {
            "type": "number"
          }
        }
      },
      "AccountListResponse": {
        "type": "object",
        "properties": {
          "accounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountResponse"
            }
          }
        }
      },
      "CreateBeneficiaryRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ]
      },
      "CreateBankBeneficiaryRequest": {
        "type": "object",
        "properties": {
          "beneficiaryId": {
            "type": "string"
          },
          "accountNumber": {
            "type": "string"
          },
          "sortCode": {
            "type": "string"
          }
        },
        "required": [
          "beneficiaryId"
        ]
      },
      "BeneficiaryResponse": {
        "type": "object",
        "properties": {
          "beneficiaryId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "BeneficiaryListResponse": {
        "type": "object",
        "properties": {
          "beneficiaries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BeneficiaryResponse"
            }
          }
        }
      },
      "BankBeneficiaryResponse": {
        "type": "object",
        "properties": {
          "beneficiaryId": {
            "type": "string"
          },
          "accountNumber": {
            "type": "string"
          }
        }
      },
      "BankBeneficiaryListResponse": {
        "type": "object",
        "properties": {
          "beneficiaries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BankBeneficiaryResponse"
            }
          }
        }
      },
      "ConfirmationOfPayeeRequest": {
        "type": "object",
        "properties": {
          "accountNumber": {
            "type": "string"
          },
          "sortCode": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "ConfirmationOfPayeeResponse": {
        "type": "object",
        "properties": {
          "match": {
            "type": "boolean"
          },
          "result": {
            "type": "string"
          }
        }
      },
      "CreatePayoutRequest": {
        "type": "object",
        "properties": {
          "beneficiaryId": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          }
        },
        "required": [
          "beneficiaryId",
          "amount",
          "currency"
        ]
      },
      "CreateInternalTransferRequest": {
        "type": "object",
        "properties": {
          "fromAccountId": {
            "type": "string"
          },
          "toAccountId": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          }
        },
        "required": [
          "fromAccountId",
          "toAccountId",
          "amount",
          "currency"
        ]
      },
      "UpdateTransactionRequest": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "TransactionResponse": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "TransactionListResponse": {
        "type": "object",
        "properties": {
          "transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransactionResponse"
            }
          }
        }
      },
      "DetailedQuoteRequest": {
        "type": "object",
        "properties": {
          "fromCurrency": {
            "type": "string"
          },
          "toCurrency": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          }
        },
        "required": [
          "fromCurrency",
          "toCurrency",
          "amount"
        ]
      },
      "QuoteResponse": {
        "type": "object",
        "properties": {
          "rate": {
            "type": "number"
          },
          "amount": {
            "type": "number"
          }
        }
      },
      "DetailedQuoteResponse": {
        "type": "object",
        "properties": {
          "quoteId": {
            "type": "string"
          },
          "rate": {
            "type": "number"
          },
          "amount": {
            "type": "number"
          },
          "expiresAt": {
            "type": "string"
          }
        }
      },
      "CreateExchangeRequest": {
        "type": "object",
        "properties": {
          "quoteId": {
            "type": "string"
          },
          "fromAccountId": {
            "type": "string"
          },
          "toAccountId": {
            "type": "string"
          }
        },
        "required": [
          "quoteId",
          "fromAccountId",
          "toAccountId"
        ]
      },
      "ExchangeResponse": {
        "type": "object",
        "properties": {
          "exchangeId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "rate": {
            "type": "number"
          }
        }
      },
      "RequiredDetailsResponse": {
        "type": "object",
        "properties": {
          "requiredFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ValidateBeneficiaryRequest": {
        "type": "object",
        "properties": {
          "accountNumber": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "ValidationResponse": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ReasonCodesResponse": {
        "type": "object",
        "properties": {
          "reasonCodes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "InitiatePaymentRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          }
        },
        "required": [
          "amount",
          "currency"
        ]
      },
      "PaymentResponse": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          }
        }
      },
      "PaymentListResponse": {
        "type": "object",
        "properties": {
          "payments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentResponse"
            }
          }
        }
      },
      "CreateDirectDebitRequest": {
        "type": "object",
        "properties": {
          "mandateId": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          }
        },
        "required": [
          "mandateId",
          "amount",
          "currency"
        ]
      },
      "DirectDebitReversalRequest": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string"
          }
        },
        "required": [
          "transactionId"
        ]
      },
      "DirectDebitCancellationRequest": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string"
          }
        },
        "required": [
          "transactionId"
        ]
      },
      "DirectDebitResponse": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          }
        }
      },
      "DirectDebitListResponse": {
        "type": "object",
        "properties": {
          "transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DirectDebitResponse"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "OAuth 2.0 token management"
    },
    {
      "name": "Linked Clients",
      "description": "Operations for managing linked client accounts"
    },
    {
      "name": "Accounts",
      "description": "Payment account management"
    },
    {
      "name": "Beneficiaries",
      "description": "Beneficiary and bank beneficiary management"
    },
    {
      "name": "Transactions",
      "description": "Payment transactions and payouts"
    },
    {
      "name": "Exchange",
      "description": "Currency exchange operations"
    },
    {
      "name": "Reference Data",
      "description": "Reference data and validation"
    },
    {
      "name": "Open Banking",
      "description": "Open banking payment initiation"
    },
    {
      "name": "Direct Debit",
      "description": "SEPA direct debit operations"
    }
  ]
}