{
  "openapi": "3.0.3",
  "info": {
    "title": "RiteKit Hashtag API",
    "description": "RiteKit's Hashtag API provides real-time hashtag analytics, suggestions, auto-hashtagging, trending hashtags, Instagram banned hashtag detection, and hashtag extraction from URLs. The API helps optimize social media content by analyzing hashtag performance metrics including tweets, retweets, exposure, and engagement.",
    "version": "2.0.0",
    "contact": {
      "name": "RiteKit Support",
      "email": "support@ritekit.com",
      "url": "https://ritekit.com"
    },
    "termsOfService": "https://ritekit.com/terms",
    "x-apisguru-categories": [
      "social",
      "marketing"
    ],
    "x-logo": {
      "url": "https://ritekit.com/assets/img/ritekit-logo.png"
    }
  },
  "externalDocs": {
    "description": "RiteKit API Documentation",
    "url": "https://documenter.getpostman.com/view/2010712/SzS7Qku5?version=latest"
  },
  "servers": [
    {
      "url": "https://api.ritekit.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/stats/multiple-hashtags": {
      "get": {
        "operationId": "getHashtagStats",
        "summary": "Get hashtag statistics",
        "description": "Returns real-time stats for up to 100 hashtags. Stats are updated hourly. Provides metrics like tweets per hour, retweets, exposure, images percentage, links percentage, and hashtag color classification.",
        "tags": [
          "Hashtag Stats"
        ],
        "parameters": [
          {
            "name": "tags",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of hashtags without the # mark",
            "schema": {
              "type": "string"
            },
            "example": "marketing,socialmedia,seo"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with hashtag statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HashtagStatsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired token"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/v1/stats/auto-hashtag": {
      "get": {
        "operationId": "autoHashtag",
        "summary": "Auto-hashtag text",
        "description": "Returns auto-hashtagged text of the post. Automatically adds up to the specified number of relevant hashtags to social media content while considering real-time hashtag popularity metrics.",
        "tags": [
          "Hashtag Stats"
        ],
        "parameters": [
          {
            "name": "post",
            "in": "query",
            "required": true,
            "description": "Text up to 1000 characters into which hashtags should be added",
            "schema": {
              "type": "string",
              "maxLength": 1000
            },
            "example": "Is artificial intelligence the future of customer service?"
          },
          {
            "name": "maxHashtags",
            "in": "query",
            "required": false,
            "description": "Maximum number of hashtags to be added to the text",
            "schema": {
              "type": "integer",
              "default": 2
            },
            "example": 2
          },
          {
            "name": "hashtagPosition",
            "in": "query",
            "required": false,
            "description": "Position of hashtags: 'end' places them at the end of the text, 'auto' places them anywhere in the text or at the end",
            "schema": {
              "type": "string",
              "enum": [
                "auto",
                "end"
              ],
              "default": "auto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with auto-hashtagged text",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    },
                    "post": {
                      "type": "string",
                      "description": "The text with hashtags added"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired token"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/v1/stats/hashtag-suggestions": {
      "get": {
        "operationId": "getHashtagSuggestions",
        "summary": "Get hashtag suggestions for text",
        "description": "Returns list of hashtag suggestions for a single-word topic or for a short block of text (up to 1000 characters). Suggestions consider both semantic relevancy and real-time hashtag engagement.",
        "tags": [
          "Hashtag Stats"
        ],
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "Text up to 1000 characters for which hashtags should be suggested",
            "schema": {
              "type": "string",
              "maxLength": 1000
            },
            "example": "digital marketing strategies"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with hashtag suggestions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HashtagSuggestionsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired token"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/v1/stats/hashtag-suggestions-image": {
      "post": {
        "operationId": "getHashtagSuggestionsForImage",
        "summary": "Get hashtag suggestions for an image",
        "description": "Returns list of hashtag suggestions for an image. Takes into account both semantic relevancy as well as real-time hashtag engagement. Accepts either a URL or a base64-encoded image.",
        "tags": [
          "Hashtag Stats"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "image"
                ],
                "properties": {
                  "image": {
                    "type": "string",
                    "description": "URL of the image or base64-encoded image data"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with hashtag suggestions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HashtagSuggestionsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired token"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/v1/stats/history/{hashtag}": {
      "get": {
        "operationId": "getHashtagHistory",
        "summary": "Get hashtag history",
        "description": "Returns historical stats for a given hashtag from the last 30 days.",
        "tags": [
          "Hashtag Stats"
        ],
        "parameters": [
          {
            "name": "hashtag",
            "in": "path",
            "required": true,
            "description": "Hashtag without the # mark",
            "schema": {
              "type": "string"
            },
            "example": "marketing"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with historical hashtag data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HashtagHistoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired token"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/v1/search/trending": {
      "get": {
        "operationId": "getTrendingHashtags",
        "summary": "Get trending hashtags",
        "description": "Returns list of hashtags currently trending on Twitter.",
        "tags": [
          "Hashtag Stats"
        ],
        "parameters": [
          {
            "name": "green",
            "in": "query",
            "required": false,
            "description": "Set to 1 to restrict results only to green hashtags (hot now)",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            }
          },
          {
            "name": "latin",
            "in": "query",
            "required": false,
            "description": "Set to 1 to restrict results only to hashtags with latin characters",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with trending hashtags",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Hashtag"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired token"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/v2/instagram/hashtags-cleaner": {
      "get": {
        "operationId": "cleanInstagramBannedHashtags",
        "summary": "Clean banned Instagram hashtags",
        "description": "Detects and removes hashtags banned on Instagram from a list of hashtags. Returns the cleaned post text and a list of any banned hashtags that were found.",
        "tags": [
          "Instagram"
        ],
        "parameters": [
          {
            "name": "post",
            "in": "query",
            "required": true,
            "description": "Text up to 1000 characters from which hashtags banned on Instagram should be removed",
            "schema": {
              "type": "string",
              "maxLength": 1000
            },
            "example": "#photography #beautiful #sunset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with cleaned text and banned hashtag info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstagramBannedHashtagResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired token"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/v1/emoji/suggestions": {
      "get": {
        "operationId": "getEmojiSuggestions",
        "summary": "Get emoji suggestions",
        "description": "Returns list of emoji suggestions for a short block of text (up to 1000 characters).",
        "tags": [
          "Emoji"
        ],
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "Text up to 1000 characters for which emojis should be suggested",
            "schema": {
              "type": "string",
              "maxLength": 1000
            },
            "example": "I love spending time at the beach"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with emoji suggestions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    },
                    "emojis": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired token"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/v1/emoji/auto-emojify": {
      "get": {
        "operationId": "autoEmojify",
        "summary": "Auto-emojify text",
        "description": "Returns text of the post with relevant emojis added automatically.",
        "tags": [
          "Emoji"
        ],
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "Text up to 1000 characters into which emojis should be added",
            "schema": {
              "type": "string",
              "maxLength": 1000
            },
            "example": "I love spending time at the beach"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with emojified text",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    },
                    "text": {
                      "type": "string",
                      "description": "The text with emojis added"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired token"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/v2/stats/hashtags-for-url": {
      "get": {
        "operationId": "getHashtagsForUrl",
        "summary": "Get hashtag suggestions for a URL",
        "description": "Returns list of hashtag suggestions for any URL. Takes into account both semantic relevancy and real-time hashtag popularity.",
        "tags": [
          "Hashtag Stats"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "URL for which hashtags should be suggested",
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "example": "https://example.com/blog/marketing-tips"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with hashtag suggestions for the URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    },
                    "hashtags": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Hashtag"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired token"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "RiteKit API client ID used as a Bearer token. Obtain from the RiteKit developer dashboard."
      }
    },
    "schemas": {
      "Hashtag": {
        "type": "object",
        "properties": {
          "tag": {
            "type": "string",
            "description": "The hashtag text without the # mark"
          },
          "tweets": {
            "type": "integer",
            "description": "Number of tweets per hour using this hashtag"
          },
          "retweets": {
            "type": "integer",
            "description": "Number of retweets per hour for tweets with this hashtag"
          },
          "exposure": {
            "type": "integer",
            "description": "Estimated reach/impressions per hour"
          },
          "images": {
            "type": "number",
            "format": "float",
            "description": "Percentage of tweets with images (0-1)"
          },
          "links": {
            "type": "number",
            "format": "float",
            "description": "Percentage of tweets with links (0-1)"
          },
          "mentions": {
            "type": "number",
            "format": "float",
            "description": "Percentage of tweets with mentions (0-1)"
          },
          "color": {
            "type": "integer",
            "description": "Hashtag color classification: 1=regularly used, 2=unused/overused, 3=hot now (green)"
          }
        }
      },
      "HashtagStatsResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean",
            "description": "Whether the request was successful"
          },
          "stats": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Hashtag"
            }
          }
        }
      },
      "HashtagSuggestionsResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean",
            "description": "Whether the request was successful"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Hashtag"
            }
          }
        }
      },
      "HashtagHistoryResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean",
            "description": "Whether the request was successful"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "description": "Date of the data point"
                },
                "tweets": {
                  "type": "integer",
                  "description": "Number of tweets on that date"
                },
                "retweets": {
                  "type": "integer",
                  "description": "Number of retweets on that date"
                },
                "exposure": {
                  "type": "integer",
                  "description": "Estimated impressions on that date"
                },
                "links": {
                  "type": "number",
                  "format": "float",
                  "description": "Percentage of tweets with links"
                },
                "images": {
                  "type": "number",
                  "format": "float",
                  "description": "Percentage of tweets with images"
                },
                "mentions": {
                  "type": "number",
                  "format": "float",
                  "description": "Percentage of tweets with mentions"
                },
                "color": {
                  "type": "integer",
                  "description": "Hashtag color classification on that date"
                }
              }
            }
          }
        }
      },
      "InstagramBannedHashtagResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean",
            "description": "Whether the request was successful"
          },
          "post": {
            "type": "string",
            "description": "The cleaned text with banned hashtags removed"
          },
          "banned_hashtags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of hashtags that are banned on Instagram"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Hashtag Stats",
      "description": "Endpoints for hashtag analytics, suggestions, auto-hashtagging, trending hashtags, and history"
    },
    {
      "name": "Instagram",
      "description": "Instagram-specific hashtag utilities"
    },
    {
      "name": "Emoji",
      "description": "Emoji suggestion and auto-emojify endpoints"
    }
  ]
}