{
  "openapi": "3.0.3",
  "info": {
    "title": "Plex API",
    "version": "1.0.0",
    "description": "Media server streaming and library management API",
    "x-jentic-source-url": "https://developer.plex.com/"
  },
  "servers": [
    {
      "url": "https://api.plex.tv"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    "Sessions",
    "Playback",
    "Clients",
    "Library"
  ],
  "paths": {
    "/library/sections": {
      "get": {
        "summary": "Get library sections",
        "description": "Get library sections",
        "tags": [
          "Library"
        ],
        "operationId": "getLibrarySections",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/library/sections/{sectionId}/all": {
      "get": {
        "summary": "Get section items",
        "description": "Get section items",
        "tags": [
          "Library"
        ],
        "operationId": "getSectionItems",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "sectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/status/sessions": {
      "get": {
        "summary": "Get active sessions",
        "description": "Get active sessions",
        "tags": [
          "Sessions"
        ],
        "operationId": "getActiveSessions",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/clients": {
      "get": {
        "summary": "List Plex clients",
        "description": "List Plex clients",
        "tags": [
          "Clients"
        ],
        "operationId": "listClients",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/player/playback/playMedia": {
      "post": {
        "summary": "Play media",
        "description": "Play media",
        "tags": [
          "Playback"
        ],
        "operationId": "playMedia",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      }
    }
  }
}