{
  "openapi": "3.0.3",
  "info": {
    "title": "ONS Developer Hub API",
    "description": "The Office for National Statistics (ONS) Developer Hub API provides access to UK statistical data. The API is open and unrestricted with no API keys required. Features include observation-level data retrieval, dataset filtering with POST requests, search capabilities, code-list and hierarchy exploration. Note: The API is in Beta and may occasionally have breaking changes.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://developer.ons.gov.uk/"
  },
  "servers": [
    {
      "url": "https://api.beta.ons.gov.uk/v1",
      "description": "Beta production server"
    }
  ],
  "paths": {
    "/data": {
      "get": {
        "operationId": "getData",
        "summary": "Retrieve observation-level data",
        "description": "Get observation-level statistical data in JSON format",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "dataset",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Dataset identifier"
          },
          {
            "name": "time",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Time period filter"
          },
          {
            "name": "geography",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Geographic area filter"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of results to return"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of results to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Dataset not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/export": {
      "post": {
        "operationId": "exportData",
        "summary": "Filter and export dataset",
        "description": "Perform complex queries on datasets and export results in CSV or XLSX format using POST requests",
        "tags": [
          "Data"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Export created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/resource": {
      "get": {
        "operationId": "getResource",
        "summary": "Access resource",
        "description": "Retrieve a specific resource",
        "tags": [
          "Resources"
        ],
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Resource URI"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/publishedindex": {
      "get": {
        "operationId": "getPublishedIndex",
        "summary": "Get published index",
        "description": "Retrieve the published content index",
        "tags": [
          "Metadata"
        ],
        "responses": {
          "200": {
            "description": "Published index retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishedIndexResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Health check",
        "description": "Check API health status",
        "tags": [
          "Metadata"
        ],
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/generator": {
      "get": {
        "operationId": "getGenerator",
        "summary": "Get generator information",
        "description": "Retrieve API generator metadata",
        "tags": [
          "Metadata"
        ],
        "responses": {
          "200": {
            "description": "Generator information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "generator": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/resolvedatasets": {
      "get": {
        "operationId": "resolveDatasets",
        "summary": "Resolve datasets",
        "description": "Resolve dataset references",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Dataset URI to resolve"
          }
        ],
        "responses": {
          "200": {
            "description": "Datasets resolved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "datasets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Dataset"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Dataset not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/taxonomy": {
      "get": {
        "operationId": "getTaxonomy",
        "summary": "Get taxonomy",
        "description": "Retrieve taxonomy information",
        "tags": [
          "Metadata"
        ],
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Taxonomy URI"
          }
        ],
        "responses": {
          "200": {
            "description": "Taxonomy retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Taxonomy"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Taxonomy not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/filesize": {
      "get": {
        "operationId": "getFileSize",
        "summary": "Get file size",
        "description": "Retrieve file size information for a resource",
        "tags": [
          "Resources"
        ],
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Resource URI"
          }
        ],
        "responses": {
          "200": {
            "description": "File size retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileSize": {
                      "type": "integer",
                      "description": "File size in bytes"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/publisheddata": {
      "get": {
        "operationId": "getPublishedData",
        "summary": "Get published data",
        "description": "Retrieve published dataset data",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Dataset URI"
          }
        ],
        "responses": {
          "200": {
            "description": "Published data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/parents": {
      "get": {
        "operationId": "getParents",
        "summary": "Get parent items",
        "description": "Retrieve parent items in the hierarchy",
        "tags": [
          "Hierarchies"
        ],
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Item URI"
          }
        ],
        "responses": {
          "200": {
            "description": "Parent items retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parents": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/HierarchyItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Item not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DataResponse": {
        "type": "object",
        "properties": {
          "observations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Observation"
            }
          },
          "totalCount": {
            "type": "integer",
            "description": "Total number of observations"
          },
          "limit": {
            "type": "integer",
            "description": "Applied limit"
          },
          "offset": {
            "type": "integer",
            "description": "Applied offset"
          }
        }
      },
      "Observation": {
        "type": "object",
        "properties": {
          "time": {
            "type": "string",
            "description": "Time period"
          },
          "geography": {
            "type": "string",
            "description": "Geographic area"
          },
          "value": {
            "type": "number",
            "description": "Observation value"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Additional metadata"
          }
        }
      },
      "ExportRequest": {
        "type": "object",
        "required": [
          "dataset",
          "format"
        ],
        "properties": {
          "dataset": {
            "type": "string",
            "description": "Dataset identifier"
          },
          "format": {
            "type": "string",
            "enum": [
              "csv",
              "xlsx"
            ],
            "description": "Export format"
          },
          "filters": {
            "type": "object",
            "additionalProperties": true,
            "description": "Filter criteria"
          },
          "dimensions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Dimensions to include"
          }
        }
      },
      "ExportResponse": {
        "type": "object",
        "properties": {
          "downloadUrl": {
            "type": "string",
            "description": "URL to download the export file"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "Export file expiration timestamp"
          },
          "format": {
            "type": "string",
            "description": "Export format"
          },
          "size": {
            "type": "integer",
            "description": "File size in bytes"
          }
        }
      },
      "Resource": {
        "type": "object",
        "properties": {
          "uri": {
            "type": "string",
            "description": "Resource URI"
          },
          "type": {
            "type": "string",
            "description": "Resource type"
          },
          "description": {
            "type": "string",
            "description": "Resource description"
          },
          "content": {
            "type": "object",
            "additionalProperties": true,
            "description": "Resource content"
          }
        }
      },
      "PublishedIndexResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Number of published items"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "uri": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "OK",
              "ERROR"
            ],
            "description": "Health status"
          },
          "version": {
            "type": "string",
            "description": "API version"
          },
          "uptime": {
            "type": "integer",
            "description": "Uptime in seconds"
          }
        }
      },
      "Dataset": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Dataset identifier"
          },
          "title": {
            "type": "string",
            "description": "Dataset title"
          },
          "description": {
            "type": "string",
            "description": "Dataset description"
          },
          "uri": {
            "type": "string",
            "description": "Dataset URI"
          },
          "dimensions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Available dimensions"
          }
        }
      },
      "Taxonomy": {
        "type": "object",
        "properties": {
          "uri": {
            "type": "string",
            "description": "Taxonomy URI"
          },
          "title": {
            "type": "string",
            "description": "Taxonomy title"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaxonomyItem"
            }
          }
        }
      },
      "TaxonomyItem": {
        "type": "object",
        "properties": {
          "uri": {
            "type": "string",
            "description": "Item URI"
          },
          "title": {
            "type": "string",
            "description": "Item title"
          },
          "children": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaxonomyItem"
            }
          }
        }
      },
      "HierarchyItem": {
        "type": "object",
        "properties": {
          "uri": {
            "type": "string",
            "description": "Item URI"
          },
          "title": {
            "type": "string",
            "description": "Item title"
          },
          "level": {
            "type": "integer",
            "description": "Hierarchy level"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code"
          },
          "details": {
            "type": "object",
            "additionalProperties": true,
            "description": "Additional error details"
          }
        }
      }
    }
  },
  "security": [],
  "tags": [
    {
      "name": "Data",
      "description": "Data access endpoints"
    },
    {
      "name": "Resources",
      "description": "Resource access endpoints"
    },
    {
      "name": "Search",
      "description": "Search functionality"
    },
    {
      "name": "Code Lists",
      "description": "Code list operations"
    },
    {
      "name": "Hierarchies",
      "description": "Hierarchy operations"
    },
    {
      "name": "Metadata",
      "description": "Metadata and system information"
    }
  ]
}