{
  "openapi": "3.0.3",
  "info": {
    "title": "Shopee Open Platform API",
    "description": "Shopee Open Platform API v2.0 for e-commerce operations across Southeast Asia and other Shopee markets. Enables sellers and partners to manage products, orders, logistics, discounts, shops, and media programmatically on the Shopee marketplace.",
    "version": "2.0",
    "contact": {
      "name": "Shopee Open Platform",
      "url": "https://open.shopee.com"
    },
    "termsOfService": "https://open.shopee.com/documents?module=63&type=2&id=56"
  },
  "externalDocs": {
    "description": "Shopee Open Platform Documentation",
    "url": "https://open.shopee.com/documents"
  },
  "servers": [
    {
      "url": "https://partner.shopeemobile.com",
      "description": "Shopee Partner API (Production)"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication and authorization endpoints for the OAuth 2.0 flow."
    },
    {
      "name": "Discount",
      "description": "Discount and promotion management"
    },
    {
      "name": "Logistics",
      "description": "Shipping and logistics management"
    },
    {
      "name": "MediaSpace",
      "description": "Image and media upload"
    },
    {
      "name": "Order",
      "description": "Order management and tracking"
    },
    {
      "name": "Product",
      "description": "Product catalog management"
    },
    {
      "name": "Shop",
      "description": "Shop information and management"
    }
  ],
  "paths": {
    "/api/v2/auth/access_token/get": {
      "post": {
        "summary": "Refresh Access Token",
        "operationId": "refresh_access_token",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code. Empty string means success."
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message details."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Unique request identifier for debugging."
                    },
                    "response": {
                      "type": "object",
                      "description": "Response payload."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Use the refresh token to obtain a new access token when the current one expires.",
        "tags": [
          "Auth"
        ]
      }
    },
    "/api/v2/auth/token/get": {
      "post": {
        "summary": "Get Access Token",
        "operationId": "get_token",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code. Empty string means success."
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message details."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Unique request identifier for debugging."
                    },
                    "response": {
                      "type": "object",
                      "description": "Response payload."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Auth"
        ],
        "description": "Exchange the authorization code for an access token and refresh token after the seller authorizes the app."
      }
    },
    "/api/v2/discount/add_discount": {
      "post": {
        "summary": "add_discount",
        "operationId": "add_discount",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code. Empty string means success."
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message details."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Unique request identifier for debugging."
                    },
                    "response": {
                      "type": "object",
                      "description": "Response payload."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Discount"
        ],
        "description": "Create a new discount promotion for selected items in the shop."
      }
    },
    "/api/v2/logistics/get_channel_list": {
      "get": {
        "summary": "get_channel_list",
        "operationId": "get_channel_list",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code. Empty string means success."
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message details."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Unique request identifier for debugging."
                    },
                    "response": {
                      "type": "object",
                      "description": "Response payload."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Logistics"
        ],
        "description": "Get the list of available logistics channels for the shop."
      }
    },
    "/api/v2/logistics/get_shipping_document_data_info": {
      "post": {
        "summary": "get_shipping_document_info",
        "operationId": "get_shipping_document_info",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code. Empty string means success."
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message details."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Unique request identifier for debugging."
                    },
                    "response": {
                      "type": "object",
                      "description": "Response payload."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Logistics"
        ],
        "description": "# v2.logistics.get_tracking_info\n\nUse this api to get the logistics tracking information of an order.\n\n## Request Parameters\n\n| **Name** | **Type** | **Required** |\n| --- | --- | --- |\n| order_sn | string | True |\n| package_number | string | False |\n\n**More info at:** [Get Tracking Info](https://open.shopee.com/documents/v2/v2.logistics.get_tracking_info?module=95&type=1)",
        "parameters": [
          {
            "name": "order_sn",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Shopee's unique identifier for an order.",
            "example": "2209075DYGRGPN"
          }
        ]
      }
    },
    "/api/v2/logistics/get_shipping_parameter": {
      "get": {
        "summary": "get_shipping_parameter",
        "operationId": "get_shipping_parameter",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code. Empty string means success."
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message details."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Unique request identifier for debugging."
                    },
                    "response": {
                      "type": "object",
                      "description": "Response payload."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Logistics"
        ],
        "parameters": [
          {
            "name": "order_sn",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Shopee's unique identifier for an order.",
            "example": "22072127JPBX98"
          }
        ],
        "description": "Get shipping parameters required to arrange shipment for an order."
      }
    },
    "/api/v2/logistics/get_tracking_info": {
      "get": {
        "summary": "get_tracking_info",
        "operationId": "get_tracking_info",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code. Empty string means success."
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message details."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Unique request identifier for debugging."
                    },
                    "response": {
                      "type": "object",
                      "description": "Response payload."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Logistics"
        ],
        "description": "# v2.logistics.get_tracking_info\n\nUse this api to get the logistics tracking information of an order.\n\n## Request Parameters\n\n| **Name** | **Type** | **Required** |\n| --- | --- | --- |\n| order_sn | string | True |\n| package_number | string | False |\n\n**More info at:** [Get Tracking Info](https://open.shopee.com/documents/v2/v2.logistics.get_tracking_info?module=95&type=1)",
        "parameters": [
          {
            "name": "order_sn",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Shopee's unique identifier for an order.",
            "example": "2206160JCYKE3R"
          }
        ]
      }
    },
    "/api/v2/media_space/upload_image": {
      "post": {
        "summary": "upload_image",
        "operationId": "upload_image",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code. Empty string means success."
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message details."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Unique request identifier for debugging."
                    },
                    "response": {
                      "type": "object",
                      "description": "Response payload."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "MediaSpace"
        ],
        "description": "# v2.media_space.upload_image\n\nUpload video image file.\n\n## Common Parameters\n\n| **Name** | **Type** |\n| --- | --- |\n| partner_id | int |\n| timestamp | timestamp |\n| sign | string |\n\n## Request Parameters\n\n| **Name** | **Type** | **Required** |\n| --- | --- | --- |\n| image | file | **True** |\n| scene | string | False |",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/order/get_buyer_invoice_info": {
      "get": {
        "summary": "get_buyer_invoice_info",
        "operationId": "get_buyer_invoice_info",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code. Empty string means success."
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message details."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Unique request identifier for debugging."
                    },
                    "response": {
                      "type": "object",
                      "description": "Response payload."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Order"
        ],
        "description": "# v2.order.get_order_detail\n\nUse this api to get order detail.\n\n## Request Parameters\n\n| **Name** | **Type** | **Required** |\n| --- | --- | --- |\n| order_sn_list | string\\[\\] | True |\n| response_optional_fields | string\\[\\] | False |"
      }
    },
    "/api/v2/order/get_order_detail": {
      "get": {
        "summary": "get_order_detail",
        "operationId": "get_order_detail",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code. Empty string means success."
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message details."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Unique request identifier for debugging."
                    },
                    "response": {
                      "type": "object",
                      "description": "Response payload."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Order"
        ],
        "description": "# v2.order.get_order_detail\n\nUse this api to get order detail.\n\n## Request Parameters\n\n| **Name** | **Type** | **Required** |\n| --- | --- | --- |\n| order_sn_list | string\\[\\] | True |\n| response_optional_fields | string\\[\\] | False |",
        "parameters": [
          {
            "name": "order_sn_list",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The set of order_sn. If there are multiple order_sn, you need to use English comma to connect them. limit [1,50]",
            "example": "2209075DYGRGPN"
          },
          {
            "name": "response_optional_fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Indicate response fields you want to get. Please select from the below response parameters. If you input an object field, all the params under it will be included automatically in the response. If there are multiple response fields you want to get, you need to use English comma to connect them. Available values: buyer_user_id,buyer_username,estimated_shipping_fee,recipient_address,actual_shipping_fee ,goods_to_declare,note,note_update_time,item_list,pay_time,dropshipper,dropshipper_phone,split_up,buyer_cancel_reason,cancel_by,cancel_reason,actual_shipping_fee_confirmed,buyer_cpf_id,fulfillment_flag,pickup_done_time,package_list,shipping_carrier,payment_method,total_amount,buyer_username,invoice_data, checkout_shipping_carrier, reverse_shipping_fee, order_chargeable_weight_gram etc.",
            "example": "buyer_user_id,buyer_username,estimated_shipping_fee"
          }
        ]
      }
    },
    "/api/v2/order/get_order_list": {
      "get": {
        "summary": "get_order_list",
        "operationId": "get_order_list",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code. Empty string means success."
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message details."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Unique request identifier for debugging."
                    },
                    "response": {
                      "type": "object",
                      "description": "Response payload."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Order"
        ],
        "description": "# v2.order.get_order_list\n\nUse this api to search orders.\n\n## Common Parameters\n\n| **Name** | **Type** |\n| --- | --- |\n| partner_id | int |\n| timestamp | timestamp |\n| access_token | string |\n| shop_id | int |\n| sign | string |\n\n## Request Parameters\n\n| **Name** | **Type** | **Required** |\n| --- | --- | --- |\n| time_range_field | string | True |\n| time_from | int | True |\n| time_to | int | True |\n| page_size | int | True |\n| cursor | string | False |\n| order_status | string | False |\n| response_optional_fields | string | False |\n\n**More info at:** [Get Order List](https://open.shopee.com/documents/v2/v2.order.get_order_list?module=94&type=1)",
        "parameters": [
          {
            "name": "time_range_field",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The kind of time_from and time_to. Available value: create_time, update_time.",
            "example": "create_time"
          },
          {
            "name": "time_from",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The time_from and time_to fields specify a date range for retrieving orders (based on the time_range_field). The time_from field is the starting date range. The maximum date range that may be specified with the time_from and time_to fields is 15 days."
          },
          {
            "name": "time_to",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The time_from and time_to fields specify a date range for retrieving orders (based on the time_range_field). The time_from field is the starting date range. The maximum date range that may be specified with the time_from and time_to fields is 15 days."
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Each result set is returned as a page of entries. Use the \"page_size\" filters to control the maximum number of entries to retrieve per page (i.e., per call). This integer value is used to specify the maximum number of entries to return in a single \"page\" of data.The limit of page_size if between 1 and 100.",
            "example": "20"
          },
          {
            "name": "order_status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The order_status filter for retriveing orders and each one only every request. Available value: UNPAID/READY_TO_SHIP/PROCESSED/SHIPPED/COMPLETED/IN_CANCEL/CANCELLED/INVOICE_PENDING",
            "example": "READY_TO_SHIP"
          }
        ]
      }
    },
    "/api/v2/product/add_item": {
      "post": {
        "summary": "add_item",
        "operationId": "add_item",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code. Empty string means success."
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message details."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Unique request identifier for debugging."
                    },
                    "response": {
                      "type": "object",
                      "description": "Response payload."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Product"
        ],
        "description": "# v2.product.add_item\n\nAdd item to Shopee Seller Catalog.\n\n## Request Parameters\n\n| **Name** | **Type** | **Required** | **Description** |\n| --- | --- | --- | --- |\n| original_price | float | True |   <br>  <br>Item price  <br>  <br>For CO local VAT responsible seller\uff1aPlease remember the price you set in here must be VAT inclusive. If you have any doubts on how to calculate VAT for your product please refer to the Seller Education Hub\uff08[https://seller.shopee.com.co/edu/article/13565\uff09](https://seller.shopee.com.co/edu/article/13565\uff09)  <br>  <br>For SG/MY/BR/MX/PL/ES/AR seller: Sellers can set the price with two decimal place, other regions can only set the price as an integer.  <br>  <br> |\n| description | string | True | if description_type is normal , Description information should be set by this field. |\n| weight | float | False | Weight of item |\n| item_name | string | True | Item name |\n| item_status | string | False | Item status, could be UNLIST or NORMAL |\n| dimension | object | False | Item dimension |\n| package_height | int | True |   <br>  <br>Package height, unit is cm  <br>  <br> |\n| package_length | int | True |   <br>  <br>Package height, unit is cm  <br>  <br> |\n| package_width | int | True |   <br>  <br>Package height, unit is cm  <br>  <br> |\n| normal_stock | int | True | Item stock |\n| logistic_info | object\\[\\] | True | Logistic channel setting |\n| size_id | int | False | Size ID, If specify logistic fee_type is SIZE_SELECTION size_id is required. |\n| shipping_fee | float | False | Shipping fee, Only needed when logistics fee_type = CUSTOM_PRICE. |\n| enabled | boolean | True | Whether channel is enabled for this item |\n| logistic_id | int | True | ID of the channel |\n| is_free | boolean | False | Whether cover shipping fee for buyer |\n| attribute_list | object\\[\\] | False |   <br>  <br>This field is optional(expect Indonesia) depending on the specific attribute under different categories. Should call get_attribute api to get attribute first. Must contain all all mandatory attribute.  <br>  <br> |\n| attribute_id | int | True | ID of attribute |\n| attribute_value_list | object\\[\\] | False |  |\n| value_id | int | True | Value ID. In the following cases, the value id needs to be uploaded as 0, and original_value_name is mandatory, needs to be filled in customized value. (1) AttributeInputType is TEXT_FILED; (2) AttributeInputType is COMBO_BOX or MULTIPLE_SELECT_COMBO_BOX, and the seller want to fill in a customized value. |\n| original_value_name | string | False | Value name. original_value_name from product.get_attributes api. If value id=0, this field is required. If AttributeType is DATE_TYPE or TIMESTAMP_TYPE, you can upload timestamp(string type) as the original_value_name. |\n| value_unit | string | False | Unit of attribute value (quantitative attribute only). |\n| category_id | int | True | ID of category |\n| image | object | True | Item images |\n| image_id_list | string\\[\\] | True | ID of image |\n| pre_order | object | False | Pre order setting |\n| is_pre_order | boolean | True | Whether item is pre order |\n| days_to_ship | int | False | The guaranteed days to ship orders. Please get the days_to_ship range from get_dts_limit api |\n| item_sku | string | False | SKU tag of item |\n| condition | string | False | Condition of item, could be USED or NEW |\n| wholesale | object\\[\\] | False |   <br>  <br>Wholesale setting.  <br>  <br> |\n| min_count | int | True | Minimum count of this tier |\n| max_count | int | True | Maximum count of this tier |\n| unit_price | float | True |   <br>  <br>Unit price of this tier.  <br>  <br>For SG/MY/BR/MX/PL/ES/AR seller: Sellers can set the price with two decimal place, other regions can only set the price as an integer.  <br>  <br>  <br> |\n| video_upload_id | string\\[\\] | False | Video upload ID returned from video uploading API. Only accept one video_upload_id. |\n| brand | object | False |  |\n| brand_id | int | True | Id of brand. |\n| item_dangerous | int | False | This field is only applicable for local sellers in Indonesia and Malaysia. Use this field to identify whether a product is a dangerous product. 0 for non-dangerous product and 1 for dangerous product. For more information, please visit the market's respective Seller Education Hub. |\n| tax_info | object | False | Tax information |\n| ncm | string | False | Mercosur Common Nomenclature, it is a convention between Mercosur member countries to easily recognize goods, services and productive factors negotiated among themselves. (BR region) |\n| same_state_cfop | string | False | Tax Code of Operations and Installments for orders that seller and buyer are in the same state. It identifies a specific operation by category at the time of issuing the invoice.(BR region) |\n| diff_state_cfop | string | False | Tax Code of Operations and Installments for orders that seller and buyer are in different states. It identifies a specific operation by category at the time of issuing the invoice.(BR region) |\n| csosn | string | False | Code of Operation Status \u2013 Simples Nacional, code for company operations to identify the origin of the goods and the taxation regime of the operations.(BR region) |\n| origin | string | False | Product source, domestic or foreig (BR region) |\n| cest | string | False | (BR region) |\n| measure_unit | string | False | (BR region) |\n| invoice_option | string | False | Value shuold be one of NO_INVOICES VAT_MARGIN_SCHEME_INVOICES VAT_INVOICES NON_VAT_INVOICES and if value is NON_VAT_INVOICE vat_rate should be null (PL region) |\n| vat_rate | string | False | Value should be one of 0% 5% 8% 23% NO_VAT_RATE (PL region) |\n| hs_code | string | True | HS Code (Only for IN region) |\n| tax_code | string | True | Tax Code (Only for IN region) |\n| complaint_policy | object | False | Complaint Policy for item. Only required for local PL sellers, ignored otherwise. |\n| warranty_time | string | False | Value should be in one of ONE_YEAR TWO_YEARS OVER_TWO_YEARS. |\n| exclude_entrepreneur_warranty | boolean | False | Whether to exclude warranty complaints for entrepreneurs.If True means \"I exclude warranty complaints for entrepreneur\" |\n| complaint_address_id | int | False | Address for complaint. Fetch available addresses using v2.logistics.get_address_list, and use address_id returned from it. |\n| additional_information | string | False | Additional information for warranty claim. Should be less than 1000 characters. |\n| description_info | object | False | New description field. Only whitelist sellers can use it. If you use the field, please upload the description_type=extended otherwise api will return error. If you don't use this field, you don't need to upload the description_type or upload description_type=normal |\n| extended_description | object | False | If description_type is extended , Description information should be set by this field. |\n| field_list | object\\[\\] | False | Field of extended description. |\n| field_type | string | False | Type of extended description field: values: See Data Definition- description_field_type (text , image). |\n| text | string | False | If field_type is text, text information will be set by this field. |\n| image_info | object | False | If field_type is image, image url will be set by this field. |\n| image_id | string | False | Image id. |\n| description_type | string | False |   <br>  <br>description_type (normal , extended). If you want to use extended_description, this field must be inputed  <br>  <br> |\n| seller_stock | object\\[\\] | False |   <br>  <br>seller stock\uff08Please notice that stock(including Seller Stock and Shopee Stock) should be larger than or equal to real-time reserved stock\uff09  <br>  <br>  <br> |\n| location_id | string | False |   <br>  <br>location id, you can get the location id from v2.shop.get_warehouse_detail api, if seller don't have any warehouses, you don't need to upload this field.  <br>  <br>  <br> |\n| stock | int | True |   <br>  <br>stock  <br>  <br> |\n\n**More info at:** [Add Item](https://open.shopee.com/documents/v2/v2.product.add_item?module=89&type=1)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "item_name": {
                    "type": "string"
                  },
                  "category_id": {
                    "type": "integer"
                  },
                  "weight": {
                    "type": "number"
                  },
                  "item_status": {
                    "type": "string"
                  },
                  "original_price": {
                    "type": "number"
                  },
                  "logistic_info": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean"
                        },
                        "is_free": {
                          "type": "boolean"
                        },
                        "logistic_id": {
                          "type": "integer"
                        }
                      }
                    }
                  },
                  "image": {
                    "type": "object",
                    "properties": {
                      "image_id_list": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "brand": {
                    "type": "object",
                    "properties": {
                      "brand_id": {
                        "type": "integer"
                      },
                      "original_brand_name": {
                        "type": "string"
                      }
                    }
                  },
                  "dimension": {
                    "type": "object",
                    "properties": {
                      "package_height": {
                        "type": "integer"
                      },
                      "package_length": {
                        "type": "integer"
                      },
                      "package_width": {
                        "type": "integer"
                      }
                    }
                  },
                  "seller_stock": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "stock": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "description": "Mochila Escolar Bolsa Lapicera Lonchera Para Hombre Y Mujer",
                "item_name": "Mochila Escolar Bolsa Lapicera Lonchera Para Hombre Y Mujer",
                "category_id": 101744,
                "weight": 1.17,
                "item_status": "UNLIST",
                "original_price": 350.0,
                "logistic_info": [
                  {
                    "enabled": true,
                    "is_free": false,
                    "logistic_id": 100020
                  }
                ],
                "image": {
                  "image_id_list": [
                    "95f8f5061264033b2d49630c35ba1152",
                    "c8ad19856dd7e2be8352063f1a75907a",
                    "68f308a1ce811a2d2105edc51275b548",
                    "14b58922779b050a6286bf24c1f70004",
                    "9978ca3e99d8ea90065901af980ca813",
                    "af43ca4cf4abfdcdf130e95b328a4bba",
                    "14154583ce4f6c722c33b29ce01db910",
                    "4115e926a4416ef7379d5885f1d88ad7",
                    "32193c008e7f0a826efbd8cba2f8b13e"
                  ]
                },
                "brand": {
                  "brand_id": 0,
                  "original_brand_name": "NoBrand"
                },
                "dimension": {
                  "package_height": 10,
                  "package_length": 10,
                  "package_width": 10
                },
                "seller_stock": [
                  {
                    "stock": 703
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v2/product/category_recommend": {
      "get": {
        "summary": "category_recommend",
        "operationId": "category_recommend",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code. Empty string means success."
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message details."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Unique request identifier for debugging."
                    },
                    "response": {
                      "type": "object",
                      "description": "Response payload."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "name": "item_name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "Playera Infantil Cuello Tipo Polo Algod\u00f3n Pj2909 Lacoste"
          },
          {
            "name": "product_cover_image",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "712c121d0cd41607a08de5a0f6e9ede1"
          }
        ],
        "description": "Get recommended categories for a product based on its name."
      }
    },
    "/api/v2/product/get_attributes": {
      "get": {
        "summary": "get_attributes",
        "operationId": "get_attributes",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code. Empty string means success."
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message details."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Unique request identifier for debugging."
                    },
                    "response": {
                      "type": "object",
                      "description": "Response payload."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "es-mx"
          },
          {
            "name": "category_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "101744"
          }
        ],
        "description": "Get the list of attributes for a given product category."
      }
    },
    "/api/v2/product/get_brand_list": {
      "get": {
        "summary": "get_brand_list",
        "operationId": "get_brand_list",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code. Empty string means success."
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message details."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Unique request identifier for debugging."
                    },
                    "response": {
                      "type": "object",
                      "description": "Response payload."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "10"
          },
          {
            "name": "category_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "101941"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "0"
          }
        ],
        "description": "Get the brand list for a given category."
      }
    },
    "/api/v2/product/get_category": {
      "get": {
        "summary": "get_category",
        "operationId": "get_category",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code. Empty string means success."
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message details."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Unique request identifier for debugging."
                    },
                    "response": {
                      "type": "object",
                      "description": "Response payload."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "es-mx"
          }
        ],
        "description": "Get the full product category tree for the marketplace."
      }
    },
    "/api/v2/product/get_item_base_info": {
      "get": {
        "summary": "get_item_base_info",
        "operationId": "get_item_base_info",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code. Empty string means success."
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message details."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Unique request identifier for debugging."
                    },
                    "response": {
                      "type": "object",
                      "description": "Response payload."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "name": "item_id_list",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "20741340328"
          },
          {
            "name": "need_tax_info",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "true"
          },
          {
            "name": "need_complaint_policy",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "description": "Get detailed base information for one or more items by item_id."
      }
    },
    "/api/v2/product/get_item_list": {
      "get": {
        "summary": "get_item_list",
        "operationId": "get_item_list",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code. Empty string means success."
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message details."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Unique request identifier for debugging."
                    },
                    "response": {
                      "type": "object",
                      "description": "Response payload."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "10"
          },
          {
            "name": "item_status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "UNLIST"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "0"
          }
        ],
        "description": "Retrieve a paginated list of items (products) for a shop."
      }
    },
    "/api/v2/product/get_model_list": {
      "get": {
        "summary": "get_model_list",
        "operationId": "get_model_list",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code. Empty string means success."
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message details."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Unique request identifier for debugging."
                    },
                    "response": {
                      "type": "object",
                      "description": "Response payload."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "name": "item_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "19323880620"
          }
        ],
        "description": "Get the model (variation) list for a given item."
      }
    },
    "/api/v2/product/init_tier_variation": {
      "post": {
        "summary": "init_tier_variation",
        "operationId": "init_tier_variation",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code. Empty string means success."
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message details."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Unique request identifier for debugging."
                    },
                    "response": {
                      "type": "object",
                      "description": "Response payload."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Product"
        ],
        "description": "# v2.product.add_item\n\nAdd item to Shopee Seller Catalog.\n\n## Request Parameters\n\n| **Name** | **Type** | **Required** | **Description** |\n| --- | --- | --- | --- |\n| original_price | float | True |   <br>  <br>Item price  <br>  <br>For CO local VAT responsible seller\uff1aPlease remember the price you set in here must be VAT inclusive. If you have any doubts on how to calculate VAT for your product please refer to the Seller Education Hub\uff08[https://seller.shopee.com.co/edu/article/13565\uff09](https://seller.shopee.com.co/edu/article/13565\uff09)  <br>  <br>For SG/MY/BR/MX/PL/ES/AR seller: Sellers can set the price with two decimal place, other regions can only set the price as an integer.  <br>  <br> |\n| description | string | True | if description_type is normal , Description information should be set by this field. |\n| weight | float | False | Weight of item |\n| item_name | string | True | Item name |\n| item_status | string | False | Item status, could be UNLIST or NORMAL |\n| dimension | object | False | Item dimension |\n| package_height | int | True |   <br>  <br>Package height, unit is cm  <br>  <br> |\n| package_length | int | True |   <br>  <br>Package height, unit is cm  <br>  <br> |\n| package_width | int | True |   <br>  <br>Package height, unit is cm  <br>  <br> |\n| normal_stock | int | True | Item stock |\n| logistic_info | object\\[\\] | True | Logistic channel setting |\n| size_id | int | False | Size ID, If specify logistic fee_type is SIZE_SELECTION size_id is required. |\n| shipping_fee | float | False | Shipping fee, Only needed when logistics fee_type = CUSTOM_PRICE. |\n| enabled | boolean | True | Whether channel is enabled for this item |\n| logistic_id | int | True | ID of the channel |\n| is_free | boolean | False | Whether cover shipping fee for buyer |\n| attribute_list | object\\[\\] | False |   <br>  <br>This field is optional(expect Indonesia) depending on the specific attribute under different categories. Should call get_attribute api to get attribute first. Must contain all all mandatory attribute.  <br>  <br> |\n| attribute_id | int | True | ID of attribute |\n| attribute_value_list | object\\[\\] | False |  |\n| value_id | int | True | Value ID. In the following cases, the value id needs to be uploaded as 0, and original_value_name is mandatory, needs to be filled in customized value. (1) AttributeInputType is TEXT_FILED; (2) AttributeInputType is COMBO_BOX or MULTIPLE_SELECT_COMBO_BOX, and the seller want to fill in a customized value. |\n| original_value_name | string | False | Value name. original_value_name from product.get_attributes api. If value id=0, this field is required. If AttributeType is DATE_TYPE or TIMESTAMP_TYPE, you can upload timestamp(string type) as the original_value_name. |\n| value_unit | string | False | Unit of attribute value (quantitative attribute only). |\n| category_id | int | True | ID of category |\n| image | object | True | Item images |\n| image_id_list | string\\[\\] | True | ID of image |\n| pre_order | object | False | Pre order setting |\n| is_pre_order | boolean | True | Whether item is pre order |\n| days_to_ship | int | False | The guaranteed days to ship orders. Please get the days_to_ship range from get_dts_limit api |\n| item_sku | string | False | SKU tag of item |\n| condition | string | False | Condition of item, could be USED or NEW |\n| wholesale | object\\[\\] | False |   <br>  <br>Wholesale setting.  <br>  <br> |\n| min_count | int | True | Minimum count of this tier |\n| max_count | int | True | Maximum count of this tier |\n| unit_price | float | True |   <br>  <br>Unit price of this tier.  <br>  <br>For SG/MY/BR/MX/PL/ES/AR seller: Sellers can set the price with two decimal place, other regions can only set the price as an integer.  <br>  <br>  <br> |\n| video_upload_id | string\\[\\] | False | Video upload ID returned from video uploading API. Only accept one video_upload_id. |\n| brand | object | False |  |\n| brand_id | int | True | Id of brand. |\n| item_dangerous | int | False | This field is only applicable for local sellers in Indonesia and Malaysia. Use this field to identify whether a product is a dangerous product. 0 for non-dangerous product and 1 for dangerous product. For more information, please visit the market's respective Seller Education Hub. |\n| tax_info | object | False | Tax information |\n| ncm | string | False | Mercosur Common Nomenclature, it is a convention between Mercosur member countries to easily recognize goods, services and productive factors negotiated among themselves. (BR region) |\n| same_state_cfop | string | False | Tax Code of Operations and Installments for orders that seller and buyer are in the same state. It identifies a specific operation by category at the time of issuing the invoice.(BR region) |\n| diff_state_cfop | string | False | Tax Code of Operations and Installments for orders that seller and buyer are in different states. It identifies a specific operation by category at the time of issuing the invoice.(BR region) |\n| csosn | string | False | Code of Operation Status \u2013 Simples Nacional, code for company operations to identify the origin of the goods and the taxation regime of the operations.(BR region) |\n| origin | string | False | Product source, domestic or foreig (BR region) |\n| cest | string | False | (BR region) |\n| measure_unit | string | False | (BR region) |\n| invoice_option | string | False | Value shuold be one of NO_INVOICES VAT_MARGIN_SCHEME_INVOICES VAT_INVOICES NON_VAT_INVOICES and if value is NON_VAT_INVOICE vat_rate should be null (PL region) |\n| vat_rate | string | False | Value should be one of 0% 5% 8% 23% NO_VAT_RATE (PL region) |\n| hs_code | string | True | HS Code (Only for IN region) |\n| tax_code | string | True | Tax Code (Only for IN region) |\n| complaint_policy | object | False | Complaint Policy for item. Only required for local PL sellers, ignored otherwise. |\n| warranty_time | string | False | Value should be in one of ONE_YEAR TWO_YEARS OVER_TWO_YEARS. |\n| exclude_entrepreneur_warranty | boolean | False | Whether to exclude warranty complaints for entrepreneurs.If True means \"I exclude warranty complaints for entrepreneur\" |\n| complaint_address_id | int | False | Address for complaint. Fetch available addresses using v2.logistics.get_address_list, and use address_id returned from it. |\n| additional_information | string | False | Additional information for warranty claim. Should be less than 1000 characters. |\n| description_info | object | False | New description field. Only whitelist sellers can use it. If you use the field, please upload the description_type=extended otherwise api will return error. If you don't use this field, you don't need to upload the description_type or upload description_type=normal |\n| extended_description | object | False | If description_type is extended , Description information should be set by this field. |\n| field_list | object\\[\\] | False | Field of extended description. |\n| field_type | string | False | Type of extended description field: values: See Data Definition- description_field_type (text , image). |\n| text | string | False | If field_type is text, text information will be set by this field. |\n| image_info | object | False | If field_type is image, image url will be set by this field. |\n| image_id | string | False | Image id. |\n| description_type | string | False |   <br>  <br>description_type (normal , extended). If you want to use extended_description, this field must be inputed  <br>  <br> |\n| seller_stock | object\\[\\] | False |   <br>  <br>seller stock\uff08Please notice that stock(including Seller Stock and Shopee Stock) should be larger than or equal to real-time reserved stock\uff09  <br>  <br>  <br> |\n| location_id | string | False |   <br>  <br>location id, you can get the location id from v2.shop.get_warehouse_detail api, if seller don't have any warehouses, you don't need to upload this field.  <br>  <br>  <br> |\n| stock | int | True |   <br>  <br>stock  <br>  <br> |\n\n**More info at:** [Add Item](https://open.shopee.com/documents/v2/v2.product.add_item?module=89&type=1)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "item_id": {
                    "type": "integer"
                  },
                  "tier_variation": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "option_list": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "option": {
                                "type": "string"
                              },
                              "image": {
                                "type": "object",
                                "properties": {
                                  "image_id": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "model": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "tier_index": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        },
                        "normal_stock": {
                          "type": "integer"
                        },
                        "original_price": {
                          "type": "number"
                        },
                        "model_sku": {
                          "type": "string"
                        },
                        "seller_stock": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "stock": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "item_id": 18141766780,
                "tier_variation": [
                  {
                    "name": "Color",
                    "option_list": [
                      {
                        "option": "Negro",
                        "image": {
                          "image_id": "95f8f5061264033b2d49630c35ba1152"
                        }
                      },
                      {
                        "option": "Azul",
                        "image": {
                          "image_id": "32193c008e7f0a826efbd8cba2f8b13e"
                        }
                      },
                      {
                        "option": "Rosa.",
                        "image": {
                          "image_id": "bb6e100d733cfebdd4728b78c00fe44f"
                        }
                      },
                      {
                        "option": ".Negro",
                        "image": {
                          "image_id": "f7294819a7752c522d5b8ff130423d3c"
                        }
                      },
                      {
                        "option": "Rosa",
                        "image": {
                          "image_id": "b9e4c5425639ca39cb020a61ca90add7"
                        }
                      },
                      {
                        "option": "Gris",
                        "image": {
                          "image_id": "850df8b3de0a2546ffb2be415bf45e3b"
                        }
                      },
                      {
                        "option": "Negro.",
                        "image": {
                          "image_id": "fcbc46b8e62ba42af0fc52060a9f6be8"
                        }
                      },
                      {
                        "option": "Gris.",
                        "image": {
                          "image_id": "850df8b3de0a2546ffb2be415bf45e3b"
                        }
                      },
                      {
                        "option": "Azul.",
                        "image": {
                          "image_id": "32193c008e7f0a826efbd8cba2f8b13e"
                        }
                      },
                      {
                        "option": ".Rosa",
                        "image": {
                          "image_id": "1dfcd5a46a61885de4c0a6d97337f7b8"
                        }
                      },
                      {
                        "option": "Gris..",
                        "image": {
                          "image_id": "850df8b3de0a2546ffb2be415bf45e3b"
                        }
                      },
                      {
                        "option": "Azul..",
                        "image": {
                          "image_id": "32193c008e7f0a826efbd8cba2f8b13e"
                        }
                      },
                      {
                        "option": ".Azul",
                        "image": {
                          "image_id": "32193c008e7f0a826efbd8cba2f8b13e"
                        }
                      }
                    ]
                  }
                ],
                "model": [
                  {
                    "tier_index": [
                      0
                    ],
                    "normal_stock": 250,
                    "original_price": 298.0,
                    "model_sku": "Negro",
                    "seller_stock": [
                      {
                        "stock": 250
                      }
                    ]
                  },
                  {
                    "tier_index": [
                      1
                    ],
                    "normal_stock": 0,
                    "original_price": 298.0,
                    "model_sku": "Azul",
                    "seller_stock": [
                      {
                        "stock": 0
                      }
                    ]
                  },
                  {
                    "tier_index": [
                      2
                    ],
                    "normal_stock": 0,
                    "original_price": 298.0,
                    "model_sku": "Rosa.",
                    "seller_stock": [
                      {
                        "stock": 0
                      }
                    ]
                  },
                  {
                    "tier_index": [
                      3
                    ],
                    "normal_stock": 1,
                    "original_price": 298.0,
                    "model_sku": ".Negro",
                    "seller_stock": [
                      {
                        "stock": 1
                      }
                    ]
                  },
                  {
                    "tier_index": [
                      4
                    ],
                    "normal_stock": 0,
                    "original_price": 298.0,
                    "model_sku": "Rosa",
                    "seller_stock": [
                      {
                        "stock": 0
                      }
                    ]
                  },
                  {
                    "tier_index": [
                      5
                    ],
                    "normal_stock": 200,
                    "original_price": 298.0,
                    "model_sku": "Gris",
                    "seller_stock": [
                      {
                        "stock": 200
                      }
                    ]
                  },
                  {
                    "tier_index": [
                      6
                    ],
                    "normal_stock": 150,
                    "original_price": 298.0,
                    "model_sku": "Negro.",
                    "seller_stock": [
                      {
                        "stock": 150
                      }
                    ]
                  },
                  {
                    "tier_index": [
                      7
                    ],
                    "normal_stock": 100,
                    "original_price": 298.0,
                    "model_sku": "Gris.",
                    "seller_stock": [
                      {
                        "stock": 100
                      }
                    ]
                  },
                  {
                    "tier_index": [
                      8
                    ],
                    "normal_stock": 1,
                    "original_price": 298.0,
                    "model_sku": "Azul.",
                    "seller_stock": [
                      {
                        "stock": 1
                      }
                    ]
                  },
                  {
                    "tier_index": [
                      9
                    ],
                    "normal_stock": 0,
                    "original_price": 298.0,
                    "model_sku": ".Rosa",
                    "seller_stock": [
                      {
                        "stock": 0
                      }
                    ]
                  },
                  {
                    "tier_index": [
                      10
                    ],
                    "normal_stock": 0,
                    "original_price": 298.0,
                    "model_sku": "Gris..",
                    "seller_stock": [
                      {
                        "stock": 0
                      }
                    ]
                  },
                  {
                    "tier_index": [
                      11
                    ],
                    "normal_stock": 1,
                    "original_price": 298.0,
                    "model_sku": "Azul..",
                    "seller_stock": [
                      {
                        "stock": 1
                      }
                    ]
                  },
                  {
                    "tier_index": [
                      12
                    ],
                    "normal_stock": 150,
                    "original_price": 298.0,
                    "model_sku": ".Azul",
                    "seller_stock": [
                      {
                        "stock": 150
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v2/product/search_item": {
      "get": {
        "summary": "search_item",
        "operationId": "search_item",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code. Empty string means success."
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message details."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Unique request identifier for debugging."
                    },
                    "response": {
                      "type": "object",
                      "description": "Response payload."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "10"
          },
          {
            "name": "item_name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "Lacoste"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "0"
          }
        ],
        "description": "Search for items in a shop by keyword or other filters."
      }
    },
    "/api/v2/product/update_item": {
      "post": {
        "summary": "update_item",
        "operationId": "update_item",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code. Empty string means success."
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message details."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Unique request identifier for debugging."
                    },
                    "response": {
                      "type": "object",
                      "description": "Response payload."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Product"
        ],
        "description": "# v2.product.update_item\n\nUse this endpoint to update item information.\n\n## Request Parameters\n\n| Name | Type | Required | Description |\n| --- | --- | --- | --- |\n| description | string | False | Description of item. |\n| weight | float | False | Weight of item. |\n| pre_order | object | False | Pre Order setting. |\n| days_to_ship | int | True | Days to ship. |\n| is_pre_order | boolean | True | Whether the item is pre order. |\n| item_name | string | False | Item name. |\n| attribute_list | object\\[\\] | False | Item attributes. |\n| attribute_id | int | True | ID of attribute. |\n| attribute_value_list | object\\[\\] | False |  |\n| value_id | int | True | ID of attribute value. In the following cases, the value id needs to be uploaded as 0, and original_value_name is mandatory, needs to be filled in customized value. (1) AttributeInputType is TEXT_FILED; (2) AttributeInputType is COMBO_BOX or MULTIPLE_SELECT_COMBO_BOX, and the seller want to fill in a customized value. |\n| original_value_name | string | False | Value name. original_value_name from produc.get_attributes api. If value id=0, this field is required. If AttributeType is DATE_TYPE or TIMESTAMP_TYPE, you can upload timestamp(string type) as the original_value_name. |\n| value_unit | string | False | Unit of attribute value (quantitative attribute only). |\n| image | object | False | Images of item. |\n| image_id_list | object\\[\\] | True | Image ID. |\n| item_sku | string | False | SKU tag for item. |\n| item_status | string | False | Item status, could be UNLIST or NORMAL. |\n| logistic_info | object\\[\\] | False | Logistic channel setting. |\n| size_id | int | False | Size ID. |\n| shipping_fee | float | False | Shipping fee. |\n| enabled | boolean | True | Whether the channel is enabled for this item. |\n| logistic_id | int | True | ID of logistics channel. |\n| is_free | boolean | False | Whether cover shipping fee for buyer. |\n| wholesale | object\\[\\] | False |   <br>  <br>Wholesale setting.  <br>  <br>If you want to delete it, please pass it with blank.  <br>  <br>  <br> |\n| min_count | int | True | Minimum count of this tier. |\n| unit_price | float | True |   <br>  <br>Price of this tier.  <br>  <br>  <br>  <br>For SG/MY/BR/MX/PL/ES/AR seller: Sellers can set the price with two decimal place, other regions can only set the price as an integer.  <br>  <br>  <br> |\n| max_count | int | True | Maximum count of this tier. |\n| item_id | int | True | ID of item. |\n| category_id | int | False | ID of category. |\n| dimension | object | False | Dimension of item. |\n| package_height | int | True |   <br>  <br>Height of package, unit is cm.  <br>  <br> |\n| package_length | int | True |   <br>  <br>Length of package, unit is cm.  <br>  <br> |\n| package_width | int | True |   <br>  <br>Width of package, unit is cm.  <br>  <br> |\n| condition | string | False | Condition of item, could be NEW or USED. |\n| video_upload_id | string | False |   <br>  <br>Video upload ID returned from video uploading API.  <br>  <br>If you want to delete it, please pass it with blank.  <br>  <br>  <br> |\n| brand | object | False |  |\n| brand_id | int | False | Id of brand. |\n| item_dangerous | int | False | This field is only applicable for local sellers in Indonesia and Malaysia. Use this field to identify whether a product is a dangerous product. 0 for non-dangerous product and 1 for dangerous product. For more information, please visit the market's respective Seller Education Hub. |\n| tax_info | object | False | Tax information |\n| ncm | string | False | Mercosur Common Nomenclature, it is a convention between Mercosur member countries to easily recognize goods, services and productive factors negotiated among themselves. |\n| same_state_cfop | string | False | Tax Code of Operations and Installments for orders that seller and buyer are in the same state. It identifies a specific operation by category at the time of issuing the invoice. |\n| diff_state_cfop | string | False | Tax Code of Operations and Installments for orders that seller and buyer are in different states. It identifies a specific operation by category at the time of issuing the invoice. |\n| csosn | string | False | Code of Operation Status \u2013 Simples Nacional, code for company operations to identify the origin of the goods and the taxation regime of the operations. |\n| origin | string | False | Product source, domestic or foreig |\n| cest | string | False | (BR region) |\n| measure_unit | string | False | (BR region) |\n| invoice_option | string | False | Value shuold be one of NO_INVOICES VAT_MARGIN_SCHEME_INVOICES VAT_INVOICES NON_VAT_INVOICES and if value is NON_VAT_INVOICE vat_rate should be null (PL region) |\n| vat_rate | string | False | Value should be one of 0% 5% 8% 23% NO_VAT_RATE (PL region) |\n| hs_code | string | False | HS Code. (Only for IN region) |\n| tax_code | string | False | Tax Code. (Only for IN region) |\n| complaint_policy | object | False | Complaint Policy for item. Only required for local PL sellers, ignored otherwise. |\n| warranty_time | string | False | Value should be in one of ONE_YEAR TWO_YEARS OVER_TWO_YEARS. |\n| exclude_entrepreneur_warranty | boolean | False | If True means \"I exclude warranty complaints for entrepreneur\" |\n| complaint_address_id | int | False | Address for complaint. Fetch available addresses using v2.logistics.get_address_list, and use address_id returned from it. |\n| additional_information | string | False | Additional information for warranty claim. Should be less than 1000 characters. |\n| description_info | object | False | New description field. Only whitelist sellers can use it. If you use the field, please upload the description_type=extended otherwise api will return error. If you don't use this field, you don't need to upload the description_type or upload description_type=normal |\n| extended_description | object | False | If description_type is extended , description information should be set by this field. |\n| field_list | object\\[\\] | False | Field of extended description. |\n| field_type | string | False | Type of extended description field: values: See Data Definition- description_field_type (text , image). |\n| text | string | False | If field_type is text, text information will be set by this field. |\n| image_info | object | False | If field_type is image, image url will be set by this field. |\n| image_id | string | False | Image id. |\n| description_type | string | False |   <br>  <br>description_type (normal , extended). If you want to use extended_description or change description type ,this field must be inputed  <br>  <br> |\n\n**More info at:** [Update Item](https://open.shopee.com/documents/v2/v2.product.update_item?module=89&type=1)"
      }
    },
    "/api/v2/product/update_price": {
      "post": {
        "summary": "update_price",
        "operationId": "update_price",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code. Empty string means success."
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message details."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Unique request identifier for debugging."
                    },
                    "response": {
                      "type": "object",
                      "description": "Response payload."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Product"
        ],
        "description": "# v2.product.update_item\n\nUse this endpoint to update item information.\n\n## Request Parameters\n\n| Name | Type | Required | Description |\n| --- | --- | --- | --- |\n| description | string | False | Description of item. |\n| weight | float | False | Weight of item. |\n| pre_order | object | False | Pre Order setting. |\n| days_to_ship | int | True | Days to ship. |\n| is_pre_order | boolean | True | Whether the item is pre order. |\n| item_name | string | False | Item name. |\n| attribute_list | object\\[\\] | False | Item attributes. |\n| attribute_id | int | True | ID of attribute. |\n| attribute_value_list | object\\[\\] | False |  |\n| value_id | int | True | ID of attribute value. In the following cases, the value id needs to be uploaded as 0, and original_value_name is mandatory, needs to be filled in customized value. (1) AttributeInputType is TEXT_FILED; (2) AttributeInputType is COMBO_BOX or MULTIPLE_SELECT_COMBO_BOX, and the seller want to fill in a customized value. |\n| original_value_name | string | False | Value name. original_value_name from produc.get_attributes api. If value id=0, this field is required. If AttributeType is DATE_TYPE or TIMESTAMP_TYPE, you can upload timestamp(string type) as the original_value_name. |\n| value_unit | string | False | Unit of attribute value (quantitative attribute only). |\n| image | object | False | Images of item. |\n| image_id_list | object\\[\\] | True | Image ID. |\n| item_sku | string | False | SKU tag for item. |\n| item_status | string | False | Item status, could be UNLIST or NORMAL. |\n| logistic_info | object\\[\\] | False | Logistic channel setting. |\n| size_id | int | False | Size ID. |\n| shipping_fee | float | False | Shipping fee. |\n| enabled | boolean | True | Whether the channel is enabled for this item. |\n| logistic_id | int | True | ID of logistics channel. |\n| is_free | boolean | False | Whether cover shipping fee for buyer. |\n| wholesale | object\\[\\] | False |   <br>  <br>Wholesale setting.  <br>  <br>If you want to delete it, please pass it with blank.  <br>  <br>  <br> |\n| min_count | int | True | Minimum count of this tier. |\n| unit_price | float | True |   <br>  <br>Price of this tier.  <br>  <br>  <br>  <br>For SG/MY/BR/MX/PL/ES/AR seller: Sellers can set the price with two decimal place, other regions can only set the price as an integer.  <br>  <br>  <br> |\n| max_count | int | True | Maximum count of this tier. |\n| item_id | int | True | ID of item. |\n| category_id | int | False | ID of category. |\n| dimension | object | False | Dimension of item. |\n| package_height | int | True |   <br>  <br>Height of package, unit is cm.  <br>  <br> |\n| package_length | int | True |   <br>  <br>Length of package, unit is cm.  <br>  <br> |\n| package_width | int | True |   <br>  <br>Width of package, unit is cm.  <br>  <br> |\n| condition | string | False | Condition of item, could be NEW or USED. |\n| video_upload_id | string | False |   <br>  <br>Video upload ID returned from video uploading API.  <br>  <br>If you want to delete it, please pass it with blank.  <br>  <br>  <br> |\n| brand | object | False |  |\n| brand_id | int | False | Id of brand. |\n| item_dangerous | int | False | This field is only applicable for local sellers in Indonesia and Malaysia. Use this field to identify whether a product is a dangerous product. 0 for non-dangerous product and 1 for dangerous product. For more information, please visit the market's respective Seller Education Hub. |\n| tax_info | object | False | Tax information |\n| ncm | string | False | Mercosur Common Nomenclature, it is a convention between Mercosur member countries to easily recognize goods, services and productive factors negotiated among themselves. |\n| same_state_cfop | string | False | Tax Code of Operations and Installments for orders that seller and buyer are in the same state. It identifies a specific operation by category at the time of issuing the invoice. |\n| diff_state_cfop | string | False | Tax Code of Operations and Installments for orders that seller and buyer are in different states. It identifies a specific operation by category at the time of issuing the invoice. |\n| csosn | string | False | Code of Operation Status \u2013 Simples Nacional, code for company operations to identify the origin of the goods and the taxation regime of the operations. |\n| origin | string | False | Product source, domestic or foreig |\n| cest | string | False | (BR region) |\n| measure_unit | string | False | (BR region) |\n| invoice_option | string | False | Value shuold be one of NO_INVOICES VAT_MARGIN_SCHEME_INVOICES VAT_INVOICES NON_VAT_INVOICES and if value is NON_VAT_INVOICE vat_rate should be null (PL region) |\n| vat_rate | string | False | Value should be one of 0% 5% 8% 23% NO_VAT_RATE (PL region) |\n| hs_code | string | False | HS Code. (Only for IN region) |\n| tax_code | string | False | Tax Code. (Only for IN region) |\n| complaint_policy | object | False | Complaint Policy for item. Only required for local PL sellers, ignored otherwise. |\n| warranty_time | string | False | Value should be in one of ONE_YEAR TWO_YEARS OVER_TWO_YEARS. |\n| exclude_entrepreneur_warranty | boolean | False | If True means \"I exclude warranty complaints for entrepreneur\" |\n| complaint_address_id | int | False | Address for complaint. Fetch available addresses using v2.logistics.get_address_list, and use address_id returned from it. |\n| additional_information | string | False | Additional information for warranty claim. Should be less than 1000 characters. |\n| description_info | object | False | New description field. Only whitelist sellers can use it. If you use the field, please upload the description_type=extended otherwise api will return error. If you don't use this field, you don't need to upload the description_type or upload description_type=normal |\n| extended_description | object | False | If description_type is extended , description information should be set by this field. |\n| field_list | object\\[\\] | False | Field of extended description. |\n| field_type | string | False | Type of extended description field: values: See Data Definition- description_field_type (text , image). |\n| text | string | False | If field_type is text, text information will be set by this field. |\n| image_info | object | False | If field_type is image, image url will be set by this field. |\n| image_id | string | False | Image id. |\n| description_type | string | False |   <br>  <br>description_type (normal , extended). If you want to use extended_description or change description type ,this field must be inputed  <br>  <br> |\n\n**More info at:** [Update Item](https://open.shopee.com/documents/v2/v2.product.update_item?module=89&type=1)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "item_id": {
                    "type": "integer"
                  },
                  "price_list": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "original_price": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "item_id": 1810408,
                "price_list": [
                  {
                    "original_price": 100
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v2/product/update_stock": {
      "post": {
        "summary": "update_stock",
        "operationId": "update_stock",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code. Empty string means success."
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message details."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Unique request identifier for debugging."
                    },
                    "response": {
                      "type": "object",
                      "description": "Response payload."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Product"
        ],
        "description": "Use this to update the stock of the products",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "item_id": {
                    "type": "integer"
                  },
                  "stock_list": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "model_id": {
                          "type": "integer"
                        },
                        "normal_stock": {
                          "type": "integer"
                        },
                        "seller_stock": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "location_id": {
                                "type": "string"
                              },
                              "stock": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "item_id": 19323880620,
                "stock_list": [
                  {
                    "model_id": 0,
                    "normal_stock": 0,
                    "seller_stock": [
                      {
                        "location_id": "MX000000Z",
                        "stock": 400
                      },
                      {
                        "location_id": "MX000001Z",
                        "stock": 345
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v2/shop/auth_partner": {
      "get": {
        "summary": "Get Authorization URL",
        "operationId": "get_auth_url",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code. Empty string means success."
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message details."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Unique request identifier for debugging."
                    },
                    "response": {
                      "type": "object",
                      "description": "Response payload."
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "redirect",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "http://localhost:8000/shopee/auth"
          }
        ],
        "tags": [
          "Auth"
        ],
        "description": "Generate the authorization URL for a shop to authorize the partner application. Redirect sellers to this URL to initiate the OAuth flow."
      }
    },
    "/api/v2/shop/get_shop_info": {
      "get": {
        "summary": "get_shop_info",
        "operationId": "get_shop_info",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code. Empty string means success."
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message details."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Unique request identifier for debugging."
                    },
                    "response": {
                      "type": "object",
                      "description": "Response payload."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Shop"
        ],
        "description": "# v2.shop.get_shop_info\n\nUse this call to get information of shop."
      }
    },
    "/api/v2/shop/get_warehouse_detail": {
      "get": {
        "summary": "get_warehouse_detail",
        "operationId": "get_warehouse_detail",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code. Empty string means success."
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message details."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Unique request identifier for debugging."
                    },
                    "response": {
                      "type": "object",
                      "description": "Response payload."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Shop"
        ],
        "description": "# v2.shop.get_shop_info\n\nUse this call to get information of shop."
      }
    }
  },
  "components": {
    "securitySchemes": {
      "shopeeAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "sign",
        "description": "HMAC-SHA256 signature computed from partner_key, API path, and timestamp."
      }
    },
    "parameters": {
      "partnerId": {
        "name": "partner_id",
        "in": "query",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "description": "The ID assigned to the partner upon registration."
      },
      "shopId": {
        "name": "shop_id",
        "in": "query",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "description": "The ID of the shop."
      },
      "timestamp": {
        "name": "timestamp",
        "in": "query",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "description": "Current UNIX timestamp in seconds."
      },
      "accessToken": {
        "name": "access_token",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Access token obtained via the OAuth flow."
      },
      "sign": {
        "name": "sign",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "HMAC-SHA256 signature for request verification."
      }
    }
  },
  "security": [
    {
      "shopeeAuth": []
    }
  ]
}