{
  "openapi": "3.0.3",
  "info": {
    "title": "TextBetter API",
    "version": "2.0.0",
    "description": "TextBetter SMS API for sending and receiving text messages via landline numbers. Supports SMS and MMS with Base64-encoded image attachments.",
    "x-jentic-source-url": "https://textbetter.com/api-documentation/"
  },
  "servers": [
    {
      "url": "https://api2.textbetter.com/api",
      "description": "TextBetter V2 API"
    }
  ],
  "paths": {
    "/SendOutgoingMessages": {
      "post": {
        "operationId": "sendOutgoingMessages",
        "summary": "Send outgoing SMS/MMS messages",
        "description": "Sends outgoing text messages to one or more recipients. Supports both SMS text and MMS with image attachments.",
        "tags": ["Messages"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SendMessageRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Messages sent successfully",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SendMessageResponse" } } }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SendMessageRequest": {
        "type": "object",
        "properties": {
          "APIKey": { "type": "string", "description": "Your TextBetter API key" },
          "fromNumber": { "type": "string", "description": "Your TextBetter-enabled phone number" },
          "toNumber": { "type": "array", "items": { "type": "string" }, "description": "Array of recipient phone numbers" },
          "body": { "type": "string", "description": "The message text content" },
          "filenames": { "type": "array", "items": { "type": "string" }, "description": "Filenames for MMS attachments" },
          "images": { "type": "array", "items": { "type": "string" }, "description": "Base64-encoded image data for MMS" }
        },
        "required": ["APIKey", "fromNumber", "toNumber", "body"]
      },
      "SendMessageResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" }
        }
      },
      "IncomingMessage": {
        "type": "object",
        "description": "Payload sent to your webhook endpoint for incoming messages",
        "properties": {
          "id": { "type": "string" },
          "to": { "type": "string" },
          "from": { "type": "string" },
          "timestamp": { "type": "string", "format": "date-time" },
          "type": { "type": "string", "enum": ["SMS", "MMS"] },
          "text": { "type": "string" },
          "images": { "type": "array", "items": { "type": "object", "properties": { "data": { "type": "string", "description": "Base64-encoded image" } } } }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "enum": ["error"] },
          "code": { "type": "string" },
          "message": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key passed in the request body as APIKey field"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}
