{
  "openapi": "3.0.0",
  "info": {
    "title": "Apex_Box API",
    "version": "1.0.1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Apex_Artem2/Apex_Box/1.0.1/swagger.json"
  },
  "servers": [
    {
      "url": "https://online.aic.uz/apex/ins/apex_box",
      "description": "\u0414\u0435\u0439\u0441\u0442\u0432\u0438\u0442\u0435\u043b\u0435\u043d \u0434\u043e 01.06.2025"
    },
    {
      "url": "https://rest.aic.uz/api/ins/apex_box"
    }
  ],
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "schemas": {
      "PostRequest": {
        "type": "object",
        "required": [
          "owner",
          "details",
          "cost",
          "vehicle",
          "drivers",
          "period_id"
        ],
        "properties": {
          "owner": {
            "type": "object",
            "properties": {
              "person": {
                "type": "object",
                "properties": {
                  "passportData": {
                    "type": "object",
                    "properties": {
                      "pinfl": {
                        "type": "string",
                        "example": "00000000000000",
                        "description": "\u041f\u0418\u041d\u0424\u041b"
                      },
                      "seria": {
                        "type": "string",
                        "example": "AA",
                        "description": "\u0421\u0435\u0440\u0438\u044f \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430"
                      },
                      "number": {
                        "type": "string",
                        "example": "0000000",
                        "description": "\u041d\u043e\u043c\u0435\u0440 \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430"
                      }
                    },
                    "required": [
                      "pinfl",
                      "seria",
                      "number"
                    ]
                  }
                }
              }
            }
          },
          "details": {
            "type": "object",
            "properties": {
              "driverNumberRestriction": {
                "type": "boolean",
                "example": true,
                "description": "\u0411\u0435\u0437 \u043e\u0433\u0440\u0430\u043d\u0438\u0447\u0435\u043d\u0438\u044f \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u0430 \u0432\u043e\u0434\u0438\u0442\u0435\u043b\u0435\u0439 (true-\u043e\u0433\u0440\u0430\u043d\u0438\u0447\u0435\u043d\u043d\u043e\u0435 \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e; false-\u043d\u0435\u043e\u0433\u0440\u0430\u043d\u0438\u0447\u0435\u043d\u043d\u043e\u0435 \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e)"
              }
            },
            "required": [
              "driverNumberRestriction"
            ]
          },
          "cost": {
            "type": "object",
            "properties": {
              "contractTermConclusionId": {
                "type": "string",
                "example": "3",
                "description": "\u0421\u0440\u043e\u043a \u0437\u0430\u043a\u043b\u044e\u0447\u0435\u043d\u0438\u044f \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430"
              },
              "useTerritoryId": {
                "type": "string",
                "example": "1",
                "description": "\u0422\u0435\u0440\u0440\u0438\u0442\u043e\u0440\u0438\u044f \u043f\u0440\u0435\u0438\u043c\u0443\u0449\u0435\u0441\u0442\u0432\u0435\u043d\u043d\u043e\u0433\u043e \u0443\u043f\u0440\u0430\u0432\u043b\u0435\u043d\u0438\u044f \u0442\u0440\u0430\u043d\u0441\u043f\u043e\u0440\u0442\u043d\u044b\u043c \u0441\u0440\u0435\u0434\u0441\u0442\u0432\u043e\u043c"
              },
              "seasonalInsuranceId": {
                "type": "string",
                "example": "1",
                "description": "\u0421\u0435\u0437\u043e\u043d\u043d\u043e\u0435 \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u043d\u0438\u0435"
              },
              "foreignVehicleId": {
                "type": "string",
                "example": "2",
                "description": "\u0418\u043d\u043e\u0441\u0442\u0440\u0430\u043d\u043d\u044b\u0439 \u0422\u0421"
              }
            },
            "required": [
              "contractTermConclusionId",
              "useTerritoryId",
              "seasonalInsuranceId",
              "foreignVehicleId"
            ]
          },
          "vehicle": {
            "type": "object",
            "properties": {
              "techPassport": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "example": "0000000",
                    "description": "\u041d\u043e\u043c\u0435\u0440 \u0442\u0435\u0445. \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430"
                  },
                  "seria": {
                    "type": "string",
                    "example": "AAF",
                    "description": "\u0421\u0435\u0440\u0438\u044f \u0442\u0435\u0445. \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430"
                  }
                },
                "required": [
                  "number",
                  "seria"
                ]
              },
              "govNumber": {
                "type": "string",
                "example": "01A000AA",
                "description": "\u0413\u043e\u0441\u0443\u0434\u0430\u0440\u0441\u0442\u0432\u0435\u043d\u043d\u044b\u0439 \u043d\u043e\u043c\u0435\u0440 \u0422\u0421"
              }
            },
            "required": [
              "govNumber"
            ]
          },
          "drivers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "passportData": {
                  "type": "object",
                  "properties": {
                    "pinfl": {
                      "type": "string",
                      "example": "00000000000000",
                      "description": "\u041f\u0418\u041d\u0424\u041b"
                    },
                    "seria": {
                      "type": "string",
                      "example": "AA",
                      "description": "\u0421\u0435\u0440\u0438\u044f \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430"
                    },
                    "number": {
                      "type": "string",
                      "example": "0000000",
                      "description": "\u041d\u043e\u043c\u0435\u0440 \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430"
                    }
                  },
                  "required": [
                    "pinfl",
                    "seria",
                    "number"
                  ]
                }
              }
            }
          }
        }
      },
      "PostResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "integer",
            "description": "\u041a\u043e\u0434 \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u0430 \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0438 \u0437\u0430\u043f\u0440\u043e\u0441\u0430"
          },
          "result_message": {
            "type": "string",
            "description": "\u0421\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u0435 \u043e \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u0435 \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0438 \u0437\u0430\u043f\u0440\u043e\u0441\u0430"
          },
          "insurance_premium": {
            "type": "string",
            "description": "\u0421\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u044f \u043f\u0440\u0435\u043c\u0438\u044f",
            "example": "56 000,00 UZS"
          },
          "insuranceRate": {
            "type": "number",
            "description": "\u0421\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u044f \u043f\u0440\u0435\u043c\u0438\u044f",
            "example": 0.1
          }
        }
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0430\u0443\u0442\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0446\u0438\u0438",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "Unauthorized"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "BasicAuth": []
    }
  ],
  "paths": {
    "/osago": {
      "post": {
        "summary": "\u0421\u043e\u0437\u0434\u0430\u043d\u0438\u0435 \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430 \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u043d\u0438\u044f",
        "tags": [
          "\u041e\u0421\u0413\u041e\u0412\u0422\u0421"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "user_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "applicant",
                  "owner",
                  "details",
                  "cost",
                  "vehicle",
                  "drivers"
                ],
                "properties": {
                  "applicant": {
                    "type": "object",
                    "description": "\u0414\u0430\u043d\u043d\u044b\u0435 \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u0442\u0435\u043b\u044f",
                    "required": [
                      "address",
                      "residentOfUzb",
                      "citizenshipId"
                    ],
                    "properties": {
                      "person": {
                        "type": "object",
                        "description": "\u0415\u0441\u043b\u0438 \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u0442\u0435\u043b\u044c \u0444\u0438\u0437 \u043b\u0438\u0446\u043e",
                        "required": [
                          "passportData",
                          "fullName",
                          "phoneNumber",
                          "gender",
                          "birthDate",
                          "regionId",
                          "districtId"
                        ],
                        "properties": {
                          "passportData": {
                            "type": "object",
                            "description": "\u041f\u0430\u0441\u043f\u043e\u0440\u0442\u043d\u044b\u0435 \u0434\u0430\u043d\u043d\u044b\u0435",
                            "required": [
                              "pinfl",
                              "seria",
                              "number",
                              "issuedBy",
                              "issueDate"
                            ],
                            "properties": {
                              "pinfl": {
                                "type": "string",
                                "description": "\u041f\u0418\u041d\u0424\u041b",
                                "maxLength": 14,
                                "example": "12345678901234"
                              },
                              "seria": {
                                "type": "string",
                                "description": "\u0421\u0435\u0440\u0438\u044f \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430",
                                "maxLength": 3,
                                "example": "AA"
                              },
                              "number": {
                                "type": "string",
                                "description": "\u041d\u043e\u043c\u0435\u0440 \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430",
                                "maxLength": 7,
                                "example": "1234567"
                              },
                              "issuedBy": {
                                "type": "string",
                                "description": "\u041a\u0435\u043c \u0432\u044b\u0434\u0430\u043d",
                                "maxLength": 100,
                                "example": "\u0423\u0412\u0414 \u042f\u043a\u043a\u0430\u0441\u0430\u0440\u0430\u0439\u0441\u043a\u043e\u0433\u043e \u0440\u0430\u0439\u043e\u043d\u0430"
                              },
                              "issueDate": {
                                "type": "string",
                                "description": "\u0414\u0430\u0442\u0430 \u0432\u044b\u0434\u0430\u0447\u0438",
                                "format": "date",
                                "example": "2015-10-30"
                              }
                            }
                          },
                          "fullName": {
                            "type": "object",
                            "description": "\u0424\u0418\u041e",
                            "required": [
                              "firstname",
                              "lastname",
                              "middlename"
                            ],
                            "properties": {
                              "firstname": {
                                "type": "string",
                                "description": "\u0418\u043c\u044f",
                                "maxLength": 100,
                                "example": "\u0418\u0432\u0430\u043d"
                              },
                              "lastname": {
                                "type": "string",
                                "description": "\u0424\u0430\u043c\u0438\u043b\u0438\u044f",
                                "maxLength": 100,
                                "example": "\u0418\u0432\u0430\u043d\u043e\u0432"
                              },
                              "middlename": {
                                "type": "string",
                                "description": "\u041e\u0442\u0447\u0435\u0441\u0442\u0432\u043e",
                                "maxLength": 100,
                                "example": "\u0418\u0432\u0430\u043d\u043e\u0432\u0438\u0447"
                              }
                            }
                          },
                          "phoneNumber": {
                            "type": "string",
                            "description": "\u041c\u043e\u0431\u0438\u043b\u044c\u043d\u044b\u0439 \u0422\u0435\u043b\u0435\u0444\u043e\u043d (\u0432 \u0444\u043e\u0440\u043c\u0430\u0442\u0435 998XXXXXXXXX)  \u0434\u043b\u044f \u0421\u041c\u0421",
                            "maxLength": 12,
                            "example": "998901234578"
                          },
                          "gender": {
                            "type": "string",
                            "description": "\u041f\u043e\u043b",
                            "maxLength": 1,
                            "example": "m"
                          },
                          "birthDate": {
                            "type": "string",
                            "description": "\u0414\u0430\u0442\u0430 \u0440\u043e\u0436\u0434\u0435\u043d\u0438\u044f",
                            "format": "date",
                            "example": "1990-10-30"
                          },
                          "regionId": {
                            "type": "string",
                            "description": "\u0420\u0435\u0433\u0438\u043e\u043d ID",
                            "example": "1"
                          },
                          "districtId": {
                            "type": "string",
                            "description": "\u0420\u0430\u0439\u043e\u043d ID",
                            "example": "1"
                          }
                        }
                      },
                      "organization": {
                        "type": "object",
                        "description": "\u0415\u0441\u043b\u0438 \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u0442\u0435\u043b\u044c \u044e\u0440 \u043b\u0438\u0446\u043e",
                        "required": [
                          "inn",
                          "name",
                          "regCertificate",
                          "regCertificateIssueDate",
                          "bankMfo",
                          "checkingAccount",
                          "phoneNumber"
                        ],
                        "properties": {
                          "inn": {
                            "type": "string",
                            "description": "\u0418\u041d\u041d",
                            "maxLength": 9,
                            "example": "123456789"
                          },
                          "name": {
                            "type": "string",
                            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438",
                            "maxLength": 100,
                            "example": "\u041e\u041e\u041e \u0424\u0438\u0440\u043c\u0430"
                          },
                          "regCertificate": {
                            "type": "string",
                            "description": "\u0420\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u043e\u043d\u043d\u044b\u0439 \u043d\u043e\u043c\u0435\u0440 \u0438 \u0441\u0435\u0440\u0438\u044f \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430 \u0434\u0435\u044f\u0442\u0435\u043b\u044c\u043d\u043e\u0441\u0442\u0438",
                            "maxLength": 100,
                            "example": "1234567890"
                          },
                          "regCertificateIssueDate": {
                            "type": "string",
                            "description": "\u0414\u0430\u0442\u0430 \u0432\u044b\u0434\u0430\u0447\u0438 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430",
                            "format": "date",
                            "example": "2015-10-30"
                          },
                          "bankMfo": {
                            "type": "string",
                            "description": "\u041c\u0424\u041e",
                            "maxLength": 5,
                            "example": "12345"
                          },
                          "checkingAccount": {
                            "type": "string",
                            "description": "\u0420\u0430\u0441\u0447\u0435\u0442\u043d\u044b\u0439 \u0441\u0447\u0435\u0442 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438",
                            "maxLength": 16,
                            "example": "1234567890123456"
                          },
                          "phoneNumber": {
                            "type": "string",
                            "description": "\u041c\u043e\u0431\u0438\u043b\u044c\u043d\u044b\u0439 \u0422\u0435\u043b\u0435\u0444\u043e\u043d (\u0432 \u0444\u043e\u0440\u043c\u0430\u0442\u0435 998XXXXXXXXX)  \u0434\u043b\u044f \u0421\u041c\u0421",
                            "maxLength": 12,
                            "example": "998901234578"
                          }
                        }
                      },
                      "address": {
                        "type": "string",
                        "description": "\u0410\u0434\u0440\u0435\u0441 \u043f\u043e\u0441\u043b\u0435\u0434\u043d\u0435\u0439 \u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u0438",
                        "maxLength": 100,
                        "example": "\u0443\u043b. \u0442\u0430\u043a\u0430\u044f-\u0442\u043e, \u0434\u043e\u043c \u0442\u0430\u043a\u043e\u0439-\u0442\u043e"
                      },
                      "residentOfUzb": {
                        "type": "string",
                        "description": "\u0420\u0435\u0437\u0438\u0434\u0435\u043d\u0442 \u0438\u043b\u0438 \u043d\u0435 \u0440\u0435\u0437\u0438\u0434\u0435\u043d\u0442 (0 -\u043d\u0435\u0442 1-\u0434\u0430)",
                        "maxLength": 1,
                        "example": "1"
                      },
                      "citizenshipId": {
                        "type": "string",
                        "description": "ID \u0433\u0440\u0430\u0436\u0434\u0430\u043d\u0441\u0442\u0432\u0430 (\u041e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u043e \u0442\u043e\u043b\u044c\u043a\u043e \u0435\u0441\u043b\u0438 \u043b\u0438\u0446\u043e \u043d\u0435 \u041b\u0411\u0413)",
                        "maxLength": 10,
                        "example": "1"
                      }
                    }
                  },
                  "owner": {
                    "type": "object",
                    "description": "\u0412\u043b\u0430\u0434\u0435\u043b\u0435\u0446 \u0422\u0421",
                    "required": [
                      "person",
                      "organization",
                      "applicantIsOwner"
                    ],
                    "properties": {
                      "person": {
                        "type": "object",
                        "description": "\u0415\u0441\u043b\u0438 \u0432\u043b\u0430\u0434\u0435\u043b\u0435\u0446 \u0422\u0421 \u0444\u0438\u0437 \u043b\u0438\u0446\u043e",
                        "required": [
                          "passportData",
                          "fullName"
                        ],
                        "properties": {
                          "passportData": {
                            "type": "object",
                            "description": "\u041f\u0430\u0441\u043f\u043e\u0440\u0442\u043d\u044b\u0435 \u0434\u0430\u043d\u043d\u044b\u0435 \u0444\u0438\u0437 \u043b\u0438\u0446\u0430 \u0432\u043b\u0430\u0434\u0435\u043b\u044c\u0446\u0430",
                            "required": [
                              "pinfl",
                              "seria",
                              "number",
                              "issuedBy",
                              "issueDate"
                            ],
                            "properties": {
                              "pinfl": {
                                "type": "string",
                                "description": "\u041f\u0418\u041d\u0424\u041b",
                                "maxLength": 14,
                                "example": "12345678901234"
                              },
                              "seria": {
                                "type": "string",
                                "description": "\u0421\u0435\u0440\u0438\u044f \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430",
                                "maxLength": 3,
                                "example": "AA"
                              },
                              "number": {
                                "type": "string",
                                "description": "\u041d\u043e\u043c\u0435\u0440 \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430",
                                "maxLength": 7,
                                "example": "1234567"
                              },
                              "issuedBy": {
                                "type": "string",
                                "description": "\u041a\u0435\u043c \u0432\u044b\u0434\u0430\u043d",
                                "maxLength": 100,
                                "example": "\u0423\u0412\u0414 \u042f\u043a\u043a\u0430\u0441\u0430\u0440\u0430\u0439\u0441\u043a\u043e\u0433\u043e \u0440\u0430\u0439\u043e\u043d\u0430"
                              },
                              "issueDate": {
                                "type": "string",
                                "description": "\u0414\u0430\u0442\u0430 \u0432\u044b\u0434\u0430\u0447\u0438",
                                "format": "date",
                                "example": "2015-10-30"
                              }
                            }
                          },
                          "fullName": {
                            "type": "object",
                            "description": "\u0424\u0418\u041e",
                            "required": [
                              "firstname",
                              "lastname",
                              "middlename"
                            ],
                            "properties": {
                              "firstname": {
                                "type": "string",
                                "description": "\u0418\u043c\u044f",
                                "maxLength": 100,
                                "example": "\u0418\u0432\u0430\u043d"
                              },
                              "lastname": {
                                "type": "string",
                                "description": "\u0424\u0430\u043c\u0438\u043b\u0438\u044f",
                                "maxLength": 100,
                                "example": "\u0418\u0432\u0430\u043d\u043e\u0432"
                              },
                              "middlename": {
                                "type": "string",
                                "description": "\u041e\u0442\u0447\u0435\u0441\u0442\u0432\u043e",
                                "maxLength": 100,
                                "example": "\u0418\u0432\u0430\u043d\u043e\u0432\u0438\u0447"
                              }
                            }
                          }
                        }
                      },
                      "organization": {
                        "type": "object",
                        "description": "\u0415\u0441\u043b\u0438 \u0432\u043b\u0430\u0434\u0435\u043b\u0435\u0446 \u0422\u0421 \u044e\u0440 \u043b\u0438\u0446\u043e",
                        "required": [
                          "inn",
                          "name"
                        ],
                        "properties": {
                          "inn": {
                            "type": "string",
                            "description": "\u0418\u041d\u041d",
                            "maxLength": 9,
                            "example": "123456789"
                          },
                          "name": {
                            "type": "string",
                            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438",
                            "maxLength": 100,
                            "example": "\u041e\u041e\u041e \u0424\u0438\u0440\u043c\u0430"
                          }
                        }
                      },
                      "applicantIsOwner": {
                        "type": "boolean",
                        "description": "\u0421\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u0442\u0435\u043b\u044c \u0412\u043b\u0430\u0434\u0435\u043b\u0435\u0446 (true/false)",
                        "example": true
                      }
                    }
                  },
                  "details": {
                    "type": "object",
                    "description": "\u0414\u0435\u0442\u0430\u043b\u0438 \u043f\u043e\u043b\u0438\u0441\u0430",
                    "required": [
                      "issueDate",
                      "startDate",
                      "endDate",
                      "driverNumberRestriction",
                      "transactionId"
                    ],
                    "properties": {
                      "issueDate": {
                        "type": "string",
                        "description": "\u0414\u0430\u0442\u0430 \u0432\u044b\u0434\u0430\u0447\u0438 \u043f\u043e\u043b\u0438\u0441\u0430",
                        "format": "date",
                        "example": "2021-01-30"
                      },
                      "startDate": {
                        "type": "string",
                        "description": "\u041d\u0430\u0447\u0430\u043b\u043e \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u043d\u0438\u044f",
                        "format": "date",
                        "example": "2021-01-30"
                      },
                      "endDate": {
                        "type": "string",
                        "description": "\u041a\u043e\u043d\u0435\u0446 \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u043d\u0438\u044f",
                        "format": "date",
                        "example": "2021-01-30"
                      },
                      "driverNumberRestriction": {
                        "type": "boolean",
                        "description": "\u0411\u0435\u0437 \u043e\u0433\u0440\u0430\u043d\u0438\u0447\u0435\u043d\u0438\u044f \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u0430 \u0432\u043e\u0434\u0438\u0442\u0435\u043b\u0435\u0439 (true \u2014 \u043e\u0433\u0440\u0430\u043d\u0438\u0447\u0435\u043d\u043d\u043e\u0435 \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e; false \u2014 \u043d\u0435\u043e\u0433\u0440\u0430\u043d\u0438\u0447\u0435\u043d\u043d\u043e\u0435 \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e)",
                        "example": true
                      },
                      "transactionId": {
                        "type": "string",
                        "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0442\u0440\u0430\u043d\u0437\u0430\u043a\u0446\u0438\u0438",
                        "example": "1"
                      }
                    }
                  },
                  "cost": {
                    "type": "object",
                    "description": "\u0418\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044f \u043e \u0441\u0442\u043e\u0438\u043c\u043e\u0441\u0442\u0438",
                    "required": [
                      "discountId",
                      "insurancePremium",
                      "sumInsured",
                      "contractTermConclusionId",
                      "useTerritoryId",
                      "commission",
                      "insurancePremiumPaidToInsurer"
                    ],
                    "properties": {
                      "discountId": {
                        "type": "string",
                        "description": "\u0422\u0438\u043f \u043b\u044c\u0433\u043e\u0442\u044b \u043f\u043e \u0443\u043c\u043e\u043b\u0447\u0430\u043d\u0438\u044e 1-\u043d\u0435\u0442 \u043b\u044c\u0433\u043e\u0442\u044b",
                        "maxLength": 10,
                        "example": "1"
                      },
                      "discountSum": {
                        "type": "number",
                        "description": "C\u0443\u043c\u043c\u0430 \u0441\u043a\u0438\u0434\u043a\u0438 (\u041e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u043e \u0435\u0441\u043b\u0438 discountId > 1)",
                        "example": 28000
                      },
                      "insurancePremium": {
                        "type": "number",
                        "description": "\u0421\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u044f \u043f\u0440\u0435\u043c\u0438\u044f",
                        "example": 56000
                      },
                      "sumInsured": {
                        "type": "number",
                        "description": "\u0421\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u044f \u0441\u0443\u043c\u043c\u0430 (\u043f\u043e \u0443\u043c\u043e\u043b\u0447\u0430\u043d\u0438\u044e 40 000 000 \u0441\u0443\u043c)",
                        "example": 40000000
                      },
                      "contractTermConclusionId": {
                        "type": "string",
                        "description": "\u0421\u0440\u043e\u043a \u0437\u0430\u043a\u043b\u044e\u0447\u0435\u043d\u0438\u044f \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430",
                        "maxLength": 10,
                        "example": "1"
                      },
                      "useTerritoryId": {
                        "type": "string",
                        "description": "\u0422\u0435\u0440\u0440\u0438\u0442\u043e\u0440\u0438\u044f \u043f\u0440\u0435\u0438\u043c\u0443\u0449\u0435\u0441\u0442\u0432\u0435\u043d\u043d\u043e\u0433\u043e \u0443\u043f\u0440\u0430\u0432\u043b\u0435\u043d\u0438\u044f \u0442\u0440\u0430\u043d\u0441\u043f\u043e\u0440\u0442\u043d\u044b\u043c \u0441\u0440\u0435\u0434\u0441\u0442\u0432\u043e\u043c",
                        "maxLength": 10,
                        "example": "1"
                      },
                      "commission": {
                        "type": "number",
                        "description": "\u0441\u0443\u043c\u043c\u0430 \u041a\u043e\u043c\u0438\u0441\u0441\u0438\u0438 \u0430\u0433\u0435\u043d\u0442\u0430",
                        "example": 10000
                      },
                      "insurancePremiumPaidToInsurer": {
                        "type": "number",
                        "description": "\u041e\u043f\u043b\u0430\u0447\u0435\u043d\u043d\u0430\u044f \u043f\u0440\u0435\u043c\u0438\u044f",
                        "example": 28000
                      }
                    }
                  },
                  "vehicle": {
                    "type": "object",
                    "description": "\u0421\u0432\u0435\u0434\u0435\u043d\u0438\u044f \u0422\u0421",
                    "required": [
                      "techPassport",
                      "modelCustomName",
                      "engineNumber",
                      "typeId",
                      "issueYear",
                      "govNumber",
                      "bodyNumber",
                      "regionId"
                    ],
                    "properties": {
                      "techPassport": {
                        "type": "object",
                        "description": "\u0422\u0435\u0445\u043f\u0430\u0441\u043f\u043e\u0440\u0442",
                        "required": [
                          "number",
                          "seria",
                          "issueDate"
                        ],
                        "properties": {
                          "number": {
                            "type": "string",
                            "description": "\u041d\u043e\u043c\u0435\u0440 \u0442\u0435\u0445\u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430",
                            "maxLength": 3,
                            "example": "012"
                          },
                          "seria": {
                            "type": "string",
                            "description": "\u0421\u0435\u0440\u0438\u044f \u0442\u0435\u0445\u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430",
                            "maxLength": 7,
                            "example": "AAC"
                          },
                          "issueDate": {
                            "type": "string",
                            "description": "\u0414\u0430\u0442\u0430 \u0432\u044b\u0434\u0430\u0447\u0438 \u0442\u0435\u0445\u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430",
                            "format": "date",
                            "example": "2015-10-30"
                          }
                        }
                      },
                      "modelCustomName": {
                        "type": "string",
                        "description": "\u041c\u0430\u0440\u043a\u0430 \u0438 \u043c\u043e\u0434\u0435\u043b\u044c \u0422\u0421",
                        "maxLength": 100,
                        "example": "Nexia 3"
                      },
                      "engineNumber": {
                        "type": "string",
                        "description": "\u041d\u043e\u043c\u0435\u0440 \u0434\u0432\u0438\u0433\u0430\u0442\u0435\u043b\u044f",
                        "maxLength": 100,
                        "example": "df32rfafh98sa"
                      },
                      "typeId": {
                        "type": "string",
                        "description": "\u0412\u0438\u0434 \u0442\u0440\u0430\u043d\u0441\u043f\u043e\u0440\u0442\u043d\u043e\u0433\u043e \u0441\u0440\u0435\u0434\u0441\u0442\u0432\u0430",
                        "example": "1"
                      },
                      "issueYear": {
                        "type": "string",
                        "description": "\u0413\u043e\u0434 \u0432\u044b\u043f\u0443\u0441\u043a\u0430",
                        "example": "2015"
                      },
                      "govNumber": {
                        "type": "string",
                        "description": "\u0413\u043e\u0441\u0443\u0434\u0430\u0440\u0441\u0442\u0432\u0435\u043d\u043d\u044b\u0439 \u043d\u043e\u043c\u0435\u0440",
                        "example": "01K384SO"
                      },
                      "bodyNumber": {
                        "type": "string",
                        "description": "\u041d\u043e\u043c\u0435\u0440 \u043a\u0443\u0437\u043e\u0432\u0430",
                        "example": "jk543kj453k4"
                      },
                      "regionId": {
                        "type": "string",
                        "description": "ID \u0440\u0435\u0433\u0438\u043e\u043d\u0430",
                        "example": "1"
                      }
                    }
                  },
                  "drivers": {
                    "type": "array",
                    "description": "\u0418\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044f \u043e \u0432\u043e\u0434\u0438\u0442\u0435\u043b\u044f\u0445",
                    "items": {
                      "type": "object",
                      "required": [
                        "passportData",
                        "fullName",
                        "licenseNumber",
                        "licenseSeria",
                        "licenseIssueDate",
                        "birthDate",
                        "residentOfUzb"
                      ],
                      "properties": {
                        "passportData": {
                          "type": "object",
                          "description": "\u041f\u0430\u0441\u043f\u043e\u0440\u0442\u043d\u044b\u0435 \u0434\u0430\u043d\u043d\u044b\u0435 \u0432\u043e\u0434\u0438\u0442\u0435\u043b\u0435\u0439",
                          "required": [
                            "pinfl",
                            "seria",
                            "number",
                            "issuedBy",
                            "issueDate"
                          ],
                          "properties": {
                            "pinfl": {
                              "type": "string",
                              "description": "\u041f\u0418\u041d\u0424\u041b (\u041e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u043e driverNumberRestriction - true)",
                              "maxLength": 14,
                              "example": "12345678901234"
                            },
                            "seria": {
                              "type": "string",
                              "description": "\u0421\u0435\u0440\u0438\u044f \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430 (\u041e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u043e driverNumberRestriction - true)",
                              "maxLength": 3,
                              "example": "AA"
                            },
                            "number": {
                              "type": "string",
                              "description": "\u041d\u043e\u043c\u0435\u0440 \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430 (\u041e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u043e driverNumberRestriction - true)",
                              "maxLength": 7,
                              "example": "1234567"
                            },
                            "issuedBy": {
                              "type": "string",
                              "description": "\u041a\u0435\u043c \u0432\u044b\u0434\u0430\u043d (\u041e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u043e driverNumberRestriction - true)",
                              "maxLength": 100,
                              "example": "\u0423\u0412\u0414 \u042f\u043a\u043a\u0430\u0441\u0430\u0440\u0430\u0439\u0441\u043a\u043e\u0433\u043e \u0440\u0430\u0439\u043e\u043d\u0430"
                            },
                            "issueDate": {
                              "type": "string",
                              "description": "\u0414\u0430\u0442\u0430 \u0432\u044b\u0434\u0430\u0447\u0438 (\u041e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u043e driverNumberRestriction - true)",
                              "format": "date",
                              "example": "2015-10-30"
                            }
                          }
                        },
                        "fullName": {
                          "type": "object",
                          "description": "\u0424\u0418\u041e \u0432\u043e\u0434\u0438\u0442\u0435\u043b\u0435\u0439",
                          "required": [
                            "firstname",
                            "lastname",
                            "middlename"
                          ],
                          "properties": {
                            "firstname": {
                              "type": "string",
                              "description": "\u0418\u043c\u044f (\u041e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u043e driverNumberRestriction - true)",
                              "maxLength": 100,
                              "example": "\u0418\u0432\u0430\u043d"
                            },
                            "lastname": {
                              "type": "string",
                              "description": "\u0424\u0430\u043c\u0438\u043b\u0438\u044f (\u041e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u043e driverNumberRestriction - true)",
                              "maxLength": 100,
                              "example": "\u0418\u0432\u0430\u043d\u043e\u0432"
                            },
                            "middlename": {
                              "type": "string",
                              "description": "\u041e\u0442\u0447\u0435\u0441\u0442\u0432\u043e (\u041e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u043e driverNumberRestriction - true)",
                              "maxLength": 100,
                              "example": "\u0418\u0432\u0430\u043d\u043e\u0432\u0438\u0447"
                            }
                          }
                        },
                        "licenseNumber": {
                          "type": "string",
                          "description": "\u041d\u043e\u043c\u0435\u0440 \u0432\u043e\u0434 \u0443\u0434\u043e\u0441\u0442\u043e\u0432\u0435\u0440\u0435\u043d\u0438\u044f (\u041e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u043e driverNumberRestriction - true)",
                          "maxLength": 10,
                          "example": "1234567890"
                        },
                        "licenseSeria": {
                          "type": "string",
                          "description": "\u0421\u0435\u0440\u0438\u044f \u0432\u043e\u0434 \u0443\u0434\u043e\u0441\u0442\u043e\u0432\u0435\u0440\u0435\u043d\u0438\u044f (\u041e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u043e driverNumberRestriction - true)",
                          "maxLength": 5,
                          "example": "AB123"
                        },
                        "licenseIssueDate": {
                          "type": "string",
                          "description": "\u0414\u0430\u0442\u0430 \u0432\u044b\u0434\u0430\u0447\u0438 \u0432\u043e\u0434 \u0443\u0434\u043e\u0441\u0442\u043e\u0432\u0435\u0440\u0435\u043d\u0438\u044f (\u041e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u043e driverNumberRestriction - true)",
                          "format": "date",
                          "example": "2015-10-30"
                        },
                        "birthDate": {
                          "type": "string",
                          "description": "\u0414\u0430\u0442\u0430 \u0440\u043e\u0436\u0434\u0435\u043d\u0438\u044f (\u041e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u043e driverNumberRestriction - true)",
                          "format": "date",
                          "example": "1990-10-30"
                        },
                        "relative": {
                          "type": "string",
                          "description": "\u0421\u0442\u0435\u043f\u0435\u043d\u044c \u0440\u043e\u0434\u0441\u0442\u0432\u0430 (0 - \u043d\u0435 \u0440\u043e\u0434\u0441\u0442\u0432\u0435\u043d\u043d\u0438\u043a, 1 - \u043e\u0442\u0435\u0446, 2 - \u043c\u0430\u0442\u044c, 3 - \u043c\u0443\u0436, 4 - \u0436\u0435\u043d\u0430, 5 - \u0441\u044b\u043d, 6 - \u0434\u043e\u0447\u044c, 7 - \u0441\u0442\u0430\u0440\u0448\u0438\u0439 \u0431\u0440\u0430\u0442, 8 - \u043c\u043b\u0430\u0434\u0448\u0438\u0439 \u0431\u0440\u0430\u0442, 9 - \u0441\u0442\u0430\u0440\u0448\u0430\u044f \u0441\u0435\u0441\u0442\u0440\u0430, 10 - \u043c\u043b\u0430\u0434\u0448\u0430\u044f \u0441\u0435\u0441\u0442\u0440\u0430) \u043d\u0435 \u041e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u043e\u0435 \u043f\u043e\u043b\u0435, \u043d\u043e \u043e\u043f\u0440\u0435\u0434\u0435\u043b\u044f\u0435\u0442 \u0440\u043e\u0434\u0441\u0442\u0432\u0435\u043d\u043d\u043e\u0441\u0442\u044c",
                          "maxLength": 10,
                          "example": "1"
                        },
                        "residentOfUzb": {
                          "type": "string",
                          "description": "\u0420\u0435\u0437\u0438\u0434\u0435\u043d\u0442 -1, \u043d\u0435 \u0440\u0435\u0437\u0438\u0434\u0435\u043d\u0442 -0 (\u041e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u043e driverNumberRestriction - true)",
                          "maxLength": 10,
                          "example": "1"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0414\u043e\u0433\u043e\u0432\u043e\u0440 \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u0441\u043e\u0437\u0434\u0430\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "number",
                      "description": "\u041a\u043e\u0434 \u043e\u0448\u0438\u0431\u043a\u0438 (0 -\u0443\u0441\u043f\u0435\u0448\u043d\u0430\u044f)",
                      "example": "123456"
                    },
                    "result_message": {
                      "type": "string",
                      "description": "\u0420\u0430\u0441\u0448\u0438\u0444\u0440\u043e\u0432\u043a\u0430 \u043e\u0448\u0438\u0431\u043a\u0438.",
                      "example": "\u0423\u0441\u043f\u0435\u0448\u043d\u0430\u044f \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0430 \u0437\u0430\u043f\u0440\u043e\u0441\u0430"
                    },
                    "contract_id": {
                      "type": "number",
                      "description": "ID \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430",
                      "example": "123456"
                    },
                    "uuid": {
                      "type": "string",
                      "description": "ID \u0430\u043d\u043a\u0435\u0442\u044b \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u043d\u044b\u0439 \u0432 \u0424\u043e\u043d\u0434\u0435 \u0433\u0430\u0440\u0430\u043d\u0442\u0438\u0440\u043e\u0432\u0430\u043d\u043d\u044b\u0445 \u0432\u044b\u043f\u043b\u0430\u0442",
                      "example": "1a04329f-a5a1-45f4-b137-487352004c60"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "\u041d\u0435\u0432\u0435\u0440\u043d\u044b\u0439 \u0437\u0430\u043f\u0440\u043e\u0441",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "\u0421\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u0435 \u043e\u0431 \u043e\u0448\u0438\u0431\u043a\u0435",
                      "example": "\u041d\u0435\u043a\u043e\u0442\u043e\u0440\u044b\u0435 \u043e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u044b\u0435 \u043f\u0430\u0440\u0430\u043c\u0435\u0442\u0440\u044b \u043e\u0442\u0441\u0443\u0442\u0441\u0442\u0432\u0443\u044e\u0442"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0430\u0443\u0442\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0446\u0438\u0438",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "\u0421\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u0435 \u043e\u0431 \u043e\u0448\u0438\u0431\u043a\u0435",
                      "example": "\u041f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044c \u043d\u0435 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/osago_calculation": {
      "post": {
        "summary": "\u0420\u0430\u0441\u0447\u0435\u0442 \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u043e\u0439 \u043f\u0440\u0435\u043c\u0438\u0438",
        "tags": [
          "\u041e\u0421\u0413\u041e\u0412\u0422\u0421"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u0430\u044f \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0430 \u0437\u0430\u043f\u0440\u043e\u0441\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/doc_loss": {
      "post": {
        "summary": "\u0421\u043e\u0437\u0434\u0430\u043d\u0438\u0435 \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u043e\u0433\u043e \u043f\u043e\u043b\u0438\u0441\u0430",
        "tags": [
          "\u0423\u0442\u0435\u0440\u044f \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u043e\u0432"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "user_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "insurant",
                  "policeDetails"
                ],
                "properties": {
                  "insurant": {
                    "type": "object",
                    "required": [
                      "person"
                    ],
                    "properties": {
                      "person": {
                        "type": "object",
                        "required": [
                          "passportData",
                          "fullName",
                          "districtId",
                          "gender",
                          "birthDate",
                          "regionId",
                          "address",
                          "phone"
                        ],
                        "properties": {
                          "passportData": {
                            "type": "object",
                            "required": [
                              "pinfl",
                              "seria",
                              "number",
                              "issuedBy",
                              "issuedDate"
                            ],
                            "properties": {
                              "pinfl": {
                                "type": "string",
                                "description": "\u041f\u0418\u041d\u0424\u041b"
                              },
                              "seria": {
                                "type": "string",
                                "description": "\u0421\u0435\u0440\u0438\u044f \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430"
                              },
                              "number": {
                                "type": "string",
                                "description": "\u041d\u043e\u043c\u0435\u0440 \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430"
                              },
                              "issuedBy": {
                                "type": "string",
                                "description": "\u041a\u0435\u043c \u0432\u044b\u0434\u0430\u043d \u043f\u0430\u0441\u043f\u043e\u0440\u0442"
                              },
                              "issuedDate": {
                                "type": "string",
                                "format": "dd.mm.yyyy",
                                "description": "\u0414\u0430\u0442\u0430 \u0432\u044b\u0434\u0430\u0447\u0438 \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430"
                              }
                            }
                          },
                          "fullName": {
                            "type": "object",
                            "required": [
                              "firstname",
                              "lastname",
                              "middlename"
                            ],
                            "properties": {
                              "firstname": {
                                "type": "string",
                                "description": "\u0418\u043c\u044f"
                              },
                              "lastname": {
                                "type": "string",
                                "description": "\u0424\u0430\u043c\u0438\u043b\u0438\u044f"
                              },
                              "middlename": {
                                "type": "string",
                                "description": "\u041e\u0442\u0447\u0435\u0441\u0442\u0432\u043e"
                              }
                            }
                          },
                          "districtId": {
                            "type": "integer",
                            "description": "ID \u0440\u0430\u0439\u043e\u043d\u0430"
                          },
                          "gender": {
                            "type": "integer",
                            "description": "\u041f\u043e\u043b (1 - \u043c\u0443\u0436\u0441\u043a\u043e\u0439, 0 - \u0436\u0435\u043d\u0441\u043a\u0438\u0439)"
                          },
                          "birthDate": {
                            "type": "string",
                            "format": "dd.mm.yyyy",
                            "description": "\u0414\u0430\u0442\u0430 \u0440\u043e\u0436\u0434\u0435\u043d\u0438\u044f"
                          },
                          "regionId": {
                            "type": "integer",
                            "description": "ID \u0440\u0435\u0433\u0438\u043e\u043d\u0430"
                          },
                          "address": {
                            "type": "string",
                            "description": "\u0410\u0434\u0440\u0435\u0441"
                          },
                          "phone": {
                            "type": "string",
                            "description": "\u0422\u0435\u043b\u0435\u0444\u043e\u043d (\u0432 \u0444\u043e\u0440\u043c\u0430\u0442\u0435 998XXXXXXXXX)"
                          }
                        }
                      }
                    }
                  },
                  "policeDetails": {
                    "type": "object",
                    "required": [
                      "transactionId",
                      "docType",
                      "insuranceStartDate",
                      "object"
                    ],
                    "properties": {
                      "transactionId": {
                        "type": "integer",
                        "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0442\u0440\u0430\u043d\u0437\u0430\u043a\u0446\u0438\u0438"
                      },
                      "docType": {
                        "type": "integer",
                        "description": "\u0422\u0438\u043f \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430"
                      },
                      "insuranceStartDate": {
                        "type": "string",
                        "format": "dd.mm.yyyy",
                        "description": "\u0414\u0430\u0442\u0430 \u043d\u0430\u0447\u0430\u043b\u0430 \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u043d\u0438\u044f"
                      },
                      "object": {
                        "type": "object",
                        "required": [
                          "person"
                        ],
                        "properties": {
                          "person": {
                            "type": "object",
                            "required": [
                              "districtId",
                              "gender",
                              "birthDate",
                              "address",
                              "regionId",
                              "phone",
                              "passportData",
                              "fullName"
                            ],
                            "properties": {
                              "districtId": {
                                "type": "integer",
                                "description": "ID \u0440\u0430\u0439\u043e\u043d\u0430"
                              },
                              "gender": {
                                "type": "integer",
                                "description": "\u041f\u043e\u043b (1 - \u043c\u0443\u0436\u0441\u043a\u043e\u0439, 0 - \u0436\u0435\u043d\u0441\u043a\u0438\u0439)"
                              },
                              "birthDate": {
                                "type": "string",
                                "format": "dd.mm.yyyy",
                                "description": "\u0414\u0430\u0442\u0430 \u0440\u043e\u0436\u0434\u0435\u043d\u0438\u044f"
                              },
                              "address": {
                                "type": "string",
                                "description": "\u0410\u0434\u0440\u0435\u0441"
                              },
                              "regionId": {
                                "type": "integer",
                                "description": "ID \u0440\u0435\u0433\u0438\u043e\u043d\u0430"
                              },
                              "phone": {
                                "type": "string",
                                "description": "\u0422\u0435\u043b\u0435\u0444\u043e\u043d (\u0432 \u0444\u043e\u0440\u043c\u0430\u0442\u0435 998XXXXXXXXX)"
                              },
                              "passportData": {
                                "type": "object",
                                "required": [
                                  "pinfl",
                                  "seria",
                                  "number",
                                  "issuedBy",
                                  "issuedDate"
                                ],
                                "properties": {
                                  "pinfl": {
                                    "type": "string",
                                    "description": "\u041f\u0418\u041d\u0424\u041b"
                                  },
                                  "seria": {
                                    "type": "string",
                                    "description": "\u0421\u0435\u0440\u0438\u044f \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430"
                                  },
                                  "number": {
                                    "type": "string",
                                    "description": "\u041d\u043e\u043c\u0435\u0440 \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430"
                                  },
                                  "issuedBy": {
                                    "type": "string",
                                    "description": "\u041a\u0435\u043c \u0432\u044b\u0434\u0430\u043d \u043f\u0430\u0441\u043f\u043e\u0440\u0442"
                                  },
                                  "issuedDate": {
                                    "type": "string",
                                    "format": "dd.mm.yyyy",
                                    "description": "\u0414\u0430\u0442\u0430 \u0432\u044b\u0434\u0430\u0447\u0438 \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430"
                                  }
                                }
                              },
                              "fullName": {
                                "type": "object",
                                "required": [
                                  "firstname",
                                  "lastname",
                                  "middlename"
                                ],
                                "properties": {
                                  "firstname": {
                                    "type": "string",
                                    "description": "\u0418\u043c\u044f"
                                  },
                                  "lastname": {
                                    "type": "string",
                                    "description": "\u0424\u0430\u043c\u0438\u043b\u0438\u044f"
                                  },
                                  "middlename": {
                                    "type": "string",
                                    "description": "\u041e\u0442\u0447\u0435\u0441\u0442\u0432\u043e"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u0430\u044f \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0430 \u0437\u0430\u043f\u0440\u043e\u0441\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "integer",
                      "example": 0
                    },
                    "result_message": {
                      "type": "string",
                      "example": "\u0423\u0441\u043f\u0435\u0448\u043d\u0430\u044f \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0430 \u0437\u0430\u043f\u0440\u043e\u0441\u0430"
                    },
                    "contract_id": {
                      "type": "integer",
                      "example": 1
                    },
                    "contract_uuid": {
                      "type": "string",
                      "example": "uuid_example"
                    },
                    "InsuranceSum": {
                      "type": "integer",
                      "example": 3400000
                    },
                    "InsurancePremium": {
                      "type": "integer",
                      "example": 17000
                    },
                    "InsuranceStartDate": {
                      "type": "string",
                      "example": "23.07.2024"
                    },
                    "InsuranceEndDate": {
                      "type": "string",
                      "example": "22.07.2025"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0430\u0443\u0442\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0446\u0438\u0438",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "\u0421\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u0435 \u043e\u0431 \u043e\u0448\u0438\u0431\u043a\u0435",
                      "example": "\u041f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044c \u043d\u0435 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accident": {
      "post": {
        "summary": "\u0421\u043e\u0437\u0434\u0430\u043d\u0438\u0435 \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u043e\u0433\u043e \u043f\u043e\u043b\u0438\u0441\u0430",
        "tags": [
          "\u0421\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u043d\u0438\u0435 \u043e\u0442 \u043d\u0435\u0441\u0447\u0430\u0441\u0442\u043d\u044b\u0445 \u0441\u043b\u0443\u0447\u0430\u0435\u0432 (24 \u0447\u0430\u0441\u0430 \u0432 \u0441\u0443\u0442\u043a\u0438)"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "user_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "insurant",
                  "policeDetails"
                ],
                "properties": {
                  "insurant": {
                    "type": "object",
                    "required": [
                      "person"
                    ],
                    "properties": {
                      "person": {
                        "type": "object",
                        "required": [
                          "passportData",
                          "fullName",
                          "districtId",
                          "gender",
                          "birthDate",
                          "address",
                          "residentType",
                          "countryId",
                          "regionId"
                        ],
                        "properties": {
                          "passportData": {
                            "type": "object",
                            "required": [
                              "seria",
                              "number",
                              "IssuedBy",
                              "IssueDate"
                            ],
                            "properties": {
                              "pinfl": {
                                "type": "string",
                                "description": "\u041f\u0418\u041d\u0424\u041b (\u0415\u0441\u043b\u0438 residentType = 1 \u0438\u043b\u0438 residentType = 5, \u0442\u043e \u043f\u043e\u043b\u0435 \u043e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u043e\u0435)"
                              },
                              "seria": {
                                "type": "string",
                                "description": "\u0421\u0435\u0440\u0438\u044f \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430"
                              },
                              "number": {
                                "type": "string",
                                "description": "\u041d\u043e\u043c\u0435\u0440 \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430"
                              },
                              "IssuedBy": {
                                "type": "string",
                                "description": "\u041a\u0435\u043c \u0432\u044b\u0434\u0430\u043d \u043f\u0430\u0441\u043f\u043e\u0440\u0442"
                              },
                              "IssueDate": {
                                "type": "string",
                                "format": "dd.mm.yyyy",
                                "description": "\u0414\u0430\u0442\u0430 \u0432\u044b\u0434\u0430\u0447\u0438 \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430"
                              }
                            }
                          },
                          "fullName": {
                            "type": "object",
                            "required": [
                              "firstname",
                              "lastname",
                              "middlename"
                            ],
                            "properties": {
                              "firstname": {
                                "type": "string",
                                "description": "\u0418\u043c\u044f"
                              },
                              "lastname": {
                                "type": "string",
                                "description": "\u0424\u0430\u043c\u0438\u043b\u0438\u044f"
                              },
                              "middlename": {
                                "type": "string",
                                "description": "\u041e\u0442\u0447\u0435\u0441\u0442\u0432\u043e"
                              }
                            }
                          },
                          "districtId": {
                            "type": "integer",
                            "description": "ID \u0440\u0430\u0439\u043e\u043d\u0430"
                          },
                          "gender": {
                            "type": "integer",
                            "description": "\u041f\u043e\u043b (1 - \u043c\u0443\u0436\u0441\u043a\u043e\u0439, 0 - \u0436\u0435\u043d\u0441\u043a\u0438\u0439)"
                          },
                          "birthDate": {
                            "type": "string",
                            "format": "dd.mm.yyyy",
                            "description": "\u0414\u0430\u0442\u0430 \u0440\u043e\u0436\u0434\u0435\u043d\u0438\u044f"
                          },
                          "address": {
                            "type": "string",
                            "description": "\u0410\u0434\u0440\u0435\u0441"
                          },
                          "residentType": {
                            "type": "integer",
                            "description": "\u0422\u0438\u043f \u0440\u0435\u0437\u0438\u0434\u0435\u043d\u0442\u0430"
                          },
                          "countryId": {
                            "type": "integer",
                            "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0441\u0442\u0440\u0430\u043d\u044b"
                          },
                          "regionId": {
                            "type": "integer",
                            "description": "ID \u0440\u0435\u0433\u0438\u043e\u043d\u0430"
                          },
                          "phone": {
                            "type": "string",
                            "description": "\u0422\u0435\u043b\u0435\u0444\u043e\u043d (\u0432 \u0444\u043e\u0440\u043c\u0430\u0442\u0435 998XXXXXXXXX) (\u041d\u0435\u043e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u043e \u0435\u0441\u043b\u0438 residentType = 2)"
                          },
                          "email": {
                            "type": "string",
                            "description": "\u0410\u0434\u0440\u0435\u0441 \u044d\u043b\u0435\u043a\u0442\u0440\u043e\u043d\u043d\u043e\u0439 \u043f\u043e\u0447\u0442\u044b (\u041e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u043e \u0435\u0441\u043b\u0438 residentType = 2)"
                          }
                        }
                      }
                    }
                  },
                  "policeDetails": {
                    "type": "object",
                    "required": [
                      "ProgramId",
                      "transactionId",
                      "object"
                    ],
                    "properties": {
                      "ProgramId": {
                        "type": "integer",
                        "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u0440\u043e\u0433\u0440\u0430\u043c\u043c\u044b"
                      },
                      "transactionId": {
                        "type": "integer",
                        "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0442\u0440\u0430\u043d\u0437\u0430\u043a\u0446\u0438\u0438"
                      },
                      "object": {
                        "type": "object",
                        "required": [
                          "person"
                        ],
                        "properties": {
                          "person": {
                            "type": "object",
                            "required": [
                              "passportData",
                              "fullName",
                              "gender",
                              "birthDate",
                              "address",
                              "residentType",
                              "countryId",
                              "regionId",
                              "phone"
                            ],
                            "properties": {
                              "passportData": {
                                "type": "object",
                                "required": [
                                  "seria",
                                  "number",
                                  "IssuedBy",
                                  "IssueDate"
                                ],
                                "properties": {
                                  "pinfl": {
                                    "type": "string",
                                    "description": "\u041f\u0418\u041d\u0424\u041b (\u0415\u0441\u043b\u0438 residentType = 1 \u0438\u043b\u0438 residentType = 5, \u0442\u043e \u043f\u043e\u043b\u0435 \u043e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u043e\u0435)"
                                  },
                                  "seria": {
                                    "type": "string",
                                    "description": "\u0421\u0435\u0440\u0438\u044f \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430"
                                  },
                                  "number": {
                                    "type": "string",
                                    "description": "\u041d\u043e\u043c\u0435\u0440 \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430"
                                  },
                                  "IssuedBy": {
                                    "type": "string",
                                    "description": "\u041a\u0435\u043c \u0432\u044b\u0434\u0430\u043d \u043f\u0430\u0441\u043f\u043e\u0440\u0442"
                                  },
                                  "IssueDate": {
                                    "type": "string",
                                    "format": "dd.mm.yyyy",
                                    "description": "\u0414\u0430\u0442\u0430 \u0432\u044b\u0434\u0430\u0447\u0438 \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430"
                                  }
                                }
                              },
                              "fullName": {
                                "type": "object",
                                "required": [
                                  "firstname",
                                  "lastname",
                                  "middlename"
                                ],
                                "properties": {
                                  "firstname": {
                                    "type": "string",
                                    "description": "\u0418\u043c\u044f"
                                  },
                                  "lastname": {
                                    "type": "string",
                                    "description": "\u0424\u0430\u043c\u0438\u043b\u0438\u044f"
                                  },
                                  "middlename": {
                                    "type": "string",
                                    "description": "\u041e\u0442\u0447\u0435\u0441\u0442\u0432\u043e"
                                  }
                                }
                              },
                              "gender": {
                                "type": "integer",
                                "description": "\u041f\u043e\u043b (1 - \u043c\u0443\u0436\u0441\u043a\u043e\u0439, 0 - \u0436\u0435\u043d\u0441\u043a\u0438\u0439)"
                              },
                              "birthDate": {
                                "type": "string",
                                "format": "dd.mm.yyyy",
                                "description": "\u0414\u0430\u0442\u0430 \u0440\u043e\u0436\u0434\u0435\u043d\u0438\u044f"
                              },
                              "address": {
                                "type": "string",
                                "description": "\u0410\u0434\u0440\u0435\u0441"
                              },
                              "residentType": {
                                "type": "integer",
                                "description": "\u0422\u0438\u043f \u0440\u0435\u0437\u0438\u0434\u0435\u043d\u0442\u0430"
                              },
                              "countryId": {
                                "type": "integer",
                                "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0441\u0442\u0440\u0430\u043d\u044b"
                              },
                              "regionId": {
                                "type": "integer",
                                "description": "ID \u0440\u0435\u0433\u0438\u043e\u043d\u0430"
                              },
                              "phone": {
                                "type": "string",
                                "description": "\u0422\u0435\u043b\u0435\u0444\u043e\u043d (\u0432 \u0444\u043e\u0440\u043c\u0430\u0442\u0435 998XXXXXXXXX)"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u0430\u044f \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0430 \u0437\u0430\u043f\u0440\u043e\u0441\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "integer",
                      "example": 0
                    },
                    "result_message": {
                      "type": "string",
                      "example": "\u0423\u0441\u043f\u0435\u0448\u043d\u0430\u044f \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0430 \u0437\u0430\u043f\u0440\u043e\u0441\u0430"
                    },
                    "contract_id": {
                      "type": "integer",
                      "example": 1
                    },
                    "contract_uuid": {
                      "type": "string",
                      "example": "uuid_example"
                    },
                    "InsuranceSum": {
                      "type": "integer",
                      "example": 1000000
                    },
                    "InsurancePremium": {
                      "type": "integer",
                      "example": 10000
                    },
                    "InsuranceStartDate": {
                      "type": "string",
                      "example": "23.07.2024"
                    },
                    "InsuranceEndDate": {
                      "type": "string",
                      "example": "22.07.2025"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0430\u0443\u0442\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0446\u0438\u0438",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "\u0421\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u0435 \u043e\u0431 \u043e\u0448\u0438\u0431\u043a\u0435",
                      "example": "\u041f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044c \u043d\u0435 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accident_calc": {
      "get": {
        "summary": "\u0420\u0430\u0441\u0447\u0435\u0442 \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u043e\u0439 \u043f\u0440\u0435\u043c\u0438\u0438",
        "tags": [
          "\u0421\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u043d\u0438\u0435 \u043e\u0442 \u043d\u0435\u0441\u0447\u0430\u0441\u0442\u043d\u044b\u0445 \u0441\u043b\u0443\u0447\u0430\u0435\u0432 (24 \u0447\u0430\u0441\u0430 \u0432 \u0441\u0443\u0442\u043a\u0438)"
        ],
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u043e\u0435 \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0434\u0430\u043d\u043d\u044b\u0445",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ProgramId": {
                            "type": "integer",
                            "description": "ID \u043f\u0440\u043e\u0433\u0440\u0430\u043c\u043c\u044b",
                            "example": 1
                          },
                          "InsuranceSum": {
                            "type": "integer",
                            "description": "\u0421\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u044f \u0441\u0443\u043c\u043c\u0430",
                            "example": 1000000
                          },
                          "InsurancePremium": {
                            "type": "integer",
                            "description": "\u0421\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u044f \u043f\u0440\u0435\u043c\u0438\u044f",
                            "example": 10000
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0430\u0443\u0442\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0446\u0438\u0438",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "\u0421\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u0435 \u043e\u0431 \u043e\u0448\u0438\u0431\u043a\u0435",
                      "example": "\u041f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044c \u043d\u0435 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/doc_loss_calc": {
      "post": {
        "summary": "\u0421\u043e\u0437\u0434\u0430\u043d\u0438\u0435 \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u043e\u0433\u043e \u043f\u043e\u043b\u0438\u0441\u0430",
        "tags": [
          "\u0423\u0442\u0435\u0440\u044f \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u043e\u0432"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u0430\u044f \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0430 \u0437\u0430\u043f\u0440\u043e\u0441\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "integer",
                      "example": 0
                    },
                    "result_message": {
                      "type": "string",
                      "example": "\u0423\u0441\u043f\u0435\u0448\u043d\u0430\u044f \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0430 \u0437\u0430\u043f\u0440\u043e\u0441\u0430"
                    },
                    "InsuranceSum": {
                      "type": "integer",
                      "example": 3400000
                    },
                    "InsurancePremium": {
                      "type": "integer",
                      "example": 17000
                    },
                    "InsurancePeriod": {
                      "type": "string",
                      "example": "12 \u043c\u0435\u0441\u044f\u0446\u0435\u0432"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0430\u0443\u0442\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0446\u0438\u0438",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "\u0421\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u0435 \u043e\u0431 \u043e\u0448\u0438\u0431\u043a\u0435",
                      "example": "\u041f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044c \u043d\u0435 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/kasko_gaz": {
      "post": {
        "summary": "\u0421\u043e\u0437\u0434\u0430\u043d\u0438\u0435 \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u043e\u0433\u043e \u043f\u043e\u043b\u0438\u0441\u0430",
        "tags": [
          "\u0421\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u043d\u0438\u0435 \u041a\u0410\u0421\u041a\u041e \u0413\u0410\u0417"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "user_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "insurant",
                  "beneficiary",
                  "policeDetails"
                ],
                "properties": {
                  "insurant": {
                    "type": "object",
                    "required": [
                      "person"
                    ],
                    "properties": {
                      "person": {
                        "type": "object",
                        "required": [
                          "passportData",
                          "fullName",
                          "districtId",
                          "gender",
                          "birthDate",
                          "regionId",
                          "address",
                          "phone"
                        ],
                        "properties": {
                          "passportData": {
                            "type": "object",
                            "required": [
                              "pinfl",
                              "seria",
                              "number",
                              "issuedBy",
                              "issuedDate"
                            ],
                            "properties": {
                              "pinfl": {
                                "type": "string",
                                "description": "\u041f\u0418\u041d\u0424\u041b"
                              },
                              "seria": {
                                "type": "string",
                                "description": "\u0421\u0435\u0440\u0438\u044f \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430"
                              },
                              "number": {
                                "type": "string",
                                "description": "\u041d\u043e\u043c\u0435\u0440 \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430"
                              },
                              "issuedBy": {
                                "type": "string",
                                "description": "\u041a\u0435\u043c \u0432\u044b\u0434\u0430\u043d \u043f\u0430\u0441\u043f\u043e\u0440\u0442"
                              },
                              "issuedDate": {
                                "type": "string",
                                "format": "dd.mm.yyyy",
                                "description": "\u0414\u0430\u0442\u0430 \u0432\u044b\u0434\u0430\u0447\u0438 \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430"
                              }
                            }
                          },
                          "fullName": {
                            "type": "object",
                            "required": [
                              "firstname",
                              "lastname",
                              "middlename"
                            ],
                            "properties": {
                              "firstname": {
                                "type": "string",
                                "description": "\u0418\u043c\u044f"
                              },
                              "lastname": {
                                "type": "string",
                                "description": "\u0424\u0430\u043c\u0438\u043b\u0438\u044f"
                              },
                              "middlename": {
                                "type": "string",
                                "description": "\u041e\u0442\u0447\u0435\u0441\u0442\u0432\u043e"
                              }
                            }
                          },
                          "districtId": {
                            "type": "integer",
                            "description": "ID \u0440\u0430\u0439\u043e\u043d\u0430"
                          },
                          "gender": {
                            "type": "integer",
                            "description": "\u041f\u043e\u043b (1 - \u043c\u0443\u0436\u0441\u043a\u043e\u0439, 0 - \u0436\u0435\u043d\u0441\u043a\u0438\u0439)"
                          },
                          "birthDate": {
                            "type": "string",
                            "format": "dd.mm.yyyy",
                            "description": "\u0414\u0430\u0442\u0430 \u0440\u043e\u0436\u0434\u0435\u043d\u0438\u044f"
                          },
                          "regionId": {
                            "type": "integer",
                            "description": "ID \u0440\u0435\u0433\u0438\u043e\u043d\u0430"
                          },
                          "address": {
                            "type": "string",
                            "description": "\u0410\u0434\u0440\u0435\u0441"
                          },
                          "phone": {
                            "type": "string",
                            "description": "\u0422\u0435\u043b\u0435\u0444\u043e\u043d (\u0432 \u0444\u043e\u0440\u043c\u0430\u0442\u0435 998XXXXXXXXX)"
                          }
                        }
                      }
                    }
                  },
                  "beneficiary": {
                    "type": "object",
                    "required": [
                      "person"
                    ],
                    "properties": {
                      "person": {
                        "type": "object",
                        "required": [
                          "passportData",
                          "fullName",
                          "districtId",
                          "gender",
                          "birthDate",
                          "regionId",
                          "address",
                          "phone"
                        ],
                        "properties": {
                          "passportData": {
                            "type": "object",
                            "required": [
                              "pinfl",
                              "seria",
                              "number",
                              "issuedBy",
                              "issuedDate"
                            ],
                            "properties": {
                              "pinfl": {
                                "type": "string",
                                "description": "\u041f\u0418\u041d\u0424\u041b"
                              },
                              "seria": {
                                "type": "string",
                                "description": "\u0421\u0435\u0440\u0438\u044f \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430"
                              },
                              "number": {
                                "type": "string",
                                "description": "\u041d\u043e\u043c\u0435\u0440 \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430"
                              },
                              "issuedBy": {
                                "type": "string",
                                "description": "\u041a\u0435\u043c \u0432\u044b\u0434\u0430\u043d \u043f\u0430\u0441\u043f\u043e\u0440\u0442"
                              },
                              "issuedDate": {
                                "type": "string",
                                "format": "dd.mm.yyyy",
                                "description": "\u0414\u0430\u0442\u0430 \u0432\u044b\u0434\u0430\u0447\u0438 \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430"
                              }
                            }
                          },
                          "fullName": {
                            "type": "object",
                            "required": [
                              "firstname",
                              "lastname",
                              "middlename"
                            ],
                            "properties": {
                              "firstname": {
                                "type": "string",
                                "description": "\u0418\u043c\u044f"
                              },
                              "lastname": {
                                "type": "string",
                                "description": "\u0424\u0430\u043c\u0438\u043b\u0438\u044f"
                              },
                              "middlename": {
                                "type": "string",
                                "description": "\u041e\u0442\u0447\u0435\u0441\u0442\u0432\u043e"
                              }
                            }
                          },
                          "districtId": {
                            "type": "integer",
                            "description": "ID \u0440\u0430\u0439\u043e\u043d\u0430"
                          },
                          "gender": {
                            "type": "integer",
[...]
