{
  "openapi": "3.0.3",
  "info": {
    "title": "InstaCharts API",
    "version": "1.0.0",
    "description": "InstaCharts generates interactive charts and static chart images from templates with customizable data and styling parameters.",
    "x-jentic-source-url": "https://instacharts.io/docs/automation/chart-templates/"
  },
  "servers": [
    {
      "url": "https://instacharts.io"
    }
  ],
  "paths": {
    "/app/template/share/{templateId}": {
      "get": {
        "operationId": "getSharedChart",
        "summary": "Get shared interactive chart",
        "description": "Returns an interactive chart as a standalone webpage.",
        "tags": [
          "Charts"
        ],
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "X-axis data"
          },
          {
            "name": "y",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Y-axis data"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Chart type"
          }
        ],
        "responses": {
          "200": {
            "description": "Interactive chart HTML"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/app/img/{templateId}": {
      "get": {
        "operationId": "getChartImage",
        "summary": "Get static chart image",
        "description": "Returns a static PNG image of the chart.",
        "tags": [
          "Charts"
        ],
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "y",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PNG image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/app/template/embeds/{templateId}": {
      "get": {
        "operationId": "getEmbeddedChart",
        "summary": "Get embedded interactive chart",
        "description": "Returns an iframe-compatible interactive chart for embedding.",
        "tags": [
          "Charts"
        ],
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "y",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Embeddable chart HTML"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": []
}