{
  "openapi": "3.0.3",
  "info": {
    "title": "Sivo DaaS API",
    "version": "1.0",
    "description": "Sivo Debt-as-a-Service and banking API",
    "x-jentic-source-url": "https://developer.sivo.com/"
  },
  "servers": [
    {
      "url": "https://developer.sivo.com"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/lending/debtlines/draw": {
      "post": {
        "tags": [
          "Capital"
        ],
        "summary": "Draw from debt line",
        "operationId": "drawDebtLine",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/lending/debtlines/pay": {
      "post": {
        "tags": [
          "Capital"
        ],
        "summary": "Pay debt line principal",
        "operationId": "payDebtLine",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/lending/debtline": {
      "get": {
        "tags": [
          "Capital"
        ],
        "summary": "List debtlines",
        "operationId": "listDebtlines",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/lending/debtline/{id}": {
      "get": {
        "tags": [
          "Capital"
        ],
        "summary": "Find debtline by ID",
        "operationId": "getDebtline",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/lending/debtlines/ledger": {
      "get": {
        "tags": [
          "Capital"
        ],
        "summary": "List ledger transactions",
        "operationId": "listLedgerTransactions",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/banking/transaction": {
      "get": {
        "tags": [
          "Banking"
        ],
        "summary": "Search transactions",
        "operationId": "searchTransactions",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/banking/transaction/{id}": {
      "get": {
        "tags": [
          "Banking"
        ],
        "summary": "Get transaction by ID",
        "operationId": "getTransaction",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/banking/balance/{id}": {
      "get": {
        "tags": [
          "Banking"
        ],
        "summary": "Get balance",
        "operationId": "getBalance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/banking/payment": {
      "post": {
        "tags": [
          "Banking"
        ],
        "summary": "Create payment",
        "operationId": "createPayment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/banking/beneficiary": {
      "get": {
        "tags": [
          "Banking"
        ],
        "summary": "List beneficiaries",
        "operationId": "listBeneficiaries",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Banking"
        ],
        "summary": "Create beneficiary",
        "operationId": "createBeneficiary",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      },
      "patch": {
        "tags": [
          "Banking"
        ],
        "summary": "Update beneficiary",
        "operationId": "updateBeneficiary",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/lending/yieldaccount": {
      "get": {
        "tags": [
          "Banking"
        ],
        "summary": "List yield accounts",
        "operationId": "listYieldAccounts",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Banking"
        ],
        "summary": "Create yield account",
        "operationId": "createYieldAccount",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      },
      "put": {
        "tags": [
          "Banking"
        ],
        "summary": "Update yield account",
        "operationId": "updateYieldAccount",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Banking"
        ],
        "summary": "Patch yield account",
        "operationId": "patchYieldAccount",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/loan": {
      "post": {
        "tags": [
          "Reporting"
        ],
        "summary": "Create loan",
        "operationId": "createLoan",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/report": {
      "post": {
        "tags": [
          "Reporting"
        ],
        "summary": "Report on loan",
        "operationId": "reportLoan",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/borrowers/consumer": {
      "post": {
        "tags": [
          "Reporting"
        ],
        "summary": "Create consumer borrower",
        "operationId": "createConsumerBorrower",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/borrowers/business": {
      "post": {
        "tags": [
          "Reporting"
        ],
        "summary": "Create business borrower",
        "operationId": "createBusinessBorrower",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Sivo authorizer bearer token"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key"
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Authentication required"
      },
      "NotFoundError": {
        "description": "Resource not found"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Capital"
    },
    {
      "name": "Banking"
    },
    {
      "name": "Reporting"
    }
  ]
}