{
  "openapi": "3.0.0",
  "info": {
    "title": "Clockify API",
    "description": "Time tracking and timesheet management API. Track work hours across projects, manage teams, generate reports, and handle invoicing.",
    "version": "1.0.0",
    "contact": {
      "name": "Clockify Support",
      "url": "https://clockify.me/help"
    }
  },
  "servers": [
    {
      "url": "https://api.clockify.me/api/v1",
      "description": "Global API endpoint"
    },
    {
      "url": "https://reports.api.clockify.me/v1",
      "description": "Reports API endpoint"
    },
    {
      "url": "https://euc1.api.clockify.me/api/v1",
      "description": "EU Central region"
    },
    {
      "url": "https://use2.api.clockify.me/api/v1",
      "description": "US East region"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/user": {
      "get": {
        "summary": "Get current user",
        "description": "Returns information about the currently authenticated user",
        "operationId": "getCurrentUser",
        "tags": ["User"],
        "responses": {
          "200": {
            "description": "User information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        }
      }
    },
    "/workspaces": {
      "get": {
        "summary": "List workspaces",
        "description": "Get all workspaces the user has access to",
        "operationId": "listWorkspaces",
        "tags": ["Workspace"],
        "responses": {
          "200": {
            "description": "List of workspaces",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Workspace"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/users": {
      "get": {
        "summary": "List workspace members",
        "description": "Get all users in a workspace",
        "operationId": "listWorkspaceUsers",
        "tags": ["Workspace"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace ID"
          }
        ],
        "responses": {
          "200": {
            "description": "List of workspace members",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add user to workspace",
        "description": "Invite a user to join a workspace",
        "operationId": "addUserToWorkspace",
        "tags": ["Workspace"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "role": {
                    "type": "string",
                    "enum": ["WORKSPACE_ADMIN", "WORKSPACE_MEMBER"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User added successfully"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/time-entries": {
      "post": {
        "summary": "Create time entry",
        "description": "Add a new time tracking entry",
        "operationId": "createTimeEntry",
        "tags": ["Time Entry"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TimeEntryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Time entry created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeEntry"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/projects": {
      "get": {
        "summary": "List projects",
        "description": "Get all projects in a workspace",
        "operationId": "listProjects",
        "tags": ["Project"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create project",
        "description": "Create a new project in the workspace",
        "operationId": "createProject",
        "tags": ["Project"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/tasks": {
      "get": {
        "summary": "List tasks",
        "description": "Get all tasks in a workspace",
        "operationId": "listTasks",
        "tags": ["Task"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tasks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/clients": {
      "get": {
        "summary": "List clients",
        "description": "Get all clients in a workspace",
        "operationId": "listClients",
        "tags": ["Client"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of clients",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Client"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/invoices": {
      "post": {
        "summary": "Create invoice",
        "description": "Generate a new invoice",
        "operationId": "createInvoice",
        "tags": ["Invoice"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Invoice created successfully"
          }
        }
      }
    },
    "/v1/file/image": {
      "post": {
        "summary": "Upload user photo",
        "description": "Upload a profile photo for the user",
        "operationId": "uploadUserPhoto",
        "tags": ["User"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Photo uploaded successfully"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key",
        "description": "API key for authentication. Generate from your Clockify account settings."
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "activeWorkspace": {
            "type": "string"
          },
          "defaultWorkspace": {
            "type": "string"
          },
          "profilePicture": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "Workspace": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "hourlyRate": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number"
              },
              "currency": {
                "type": "string"
              }
            }
          }
        }
      },
      "TimeEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "timeInterval": {
            "type": "object",
            "properties": {
              "start": {
                "type": "string",
                "format": "date-time"
              },
              "end": {
                "type": "string",
                "format": "date-time"
              },
              "duration": {
                "type": "string"
              }
            }
          }
        }
      },
      "TimeEntryRequest": {
        "type": "object",
        "required": ["start"],
        "properties": {
          "start": {
            "type": "string",
            "format": "date-time"
          },
          "end": {
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "taskId": {
            "type": "string"
          },
          "billable": {
            "type": "boolean"
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "clientId": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "billable": {
            "type": "boolean"
          },
          "archived": {
            "type": "boolean"
          }
        }
      },
      "ProjectRequest": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string"
          },
          "clientId": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "billable": {
            "type": "boolean"
          },
          "isPublic": {
            "type": "boolean"
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "assigneeIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string",
            "enum": ["ACTIVE", "DONE"]
          }
        }
      },
      "Client": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "archived": {
            "type": "boolean"
          }
        }
      },
      "InvoiceRequest": {
        "type": "object",
        "required": ["clientId", "dateFrom", "dateTo"],
        "properties": {
          "clientId": {
            "type": "string"
          },
          "dateFrom": {
            "type": "string",
            "format": "date"
          },
          "dateTo": {
            "type": "string",
            "format": "date"
          },
          "projectIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "User",
      "description": "User profile and settings"
    },
    {
      "name": "Workspace",
      "description": "Workspace management and membership"
    },
    {
      "name": "Time Entry",
      "description": "Time tracking entries"
    },
    {
      "name": "Project",
      "description": "Project management"
    },
    {
      "name": "Task",
      "description": "Task management"
    },
    {
      "name": "Client",
      "description": "Client management"
    },
    {
      "name": "Invoice",
      "description": "Invoice generation"
    }
  ]
}
