{
  "openapi": "3.0.3",
  "info": {
    "title": "Facility Chatbot API documentation.",
    "version": "0.0.1",
    "description": "FacilityBot API for facility management, fault reporting, and building maintenance.",
    "x-jentic-source-url": "https://facility-chatbot.singaporechatbots.sg/api/v1/swagger_doc"
  },
  "servers": [
    {
      "url": "https://facility-chatbot.singaporechatbots.sg"
    }
  ],
  "paths": {
    "/api/v1/managers/personal_map_setting": {
      "put": {
        "operationId": "putApiV1ManagersPersonalMapSetting",
        "description": "Save Personal Map Settting",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "personal_map_setting",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Save Personal Map Settting"
          }
        }
      },
      "get": {
        "operationId": "getApiV1ManagersPersonalMapSetting",
        "description": "Get Personal Map Settings",
        "tags": [
          "map_dashboards"
        ],
        "responses": {
          "200": {
            "description": "Get Personal Map Settings"
          }
        }
      }
    },
    "/api/v1/managers/availability_status": {
      "put": {
        "operationId": "putApiV1ManagersAvailabilityStatus",
        "description": "Set Availability Status",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "availability_status",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "online",
                "offline"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Set Availability Status"
          }
        }
      }
    },
    "/api/v1/managers/disable_two_factor_authentication": {
      "post": {
        "operationId": "postApiV1ManagersDisableTwoFactorAuthentication",
        "description": "Disable FacilityBot with Google Authenticator",
        "tags": [
          "api"
        ],
        "responses": {
          "201": {
            "description": "Disable FacilityBot with Google Authenticator"
          }
        }
      }
    },
    "/api/v1/managers/verify_two_factor_authentication": {
      "post": {
        "operationId": "postApiV1ManagersVerifyTwoFactorAuthentication",
        "description": "Verify FacilityBot with Google Authenticator",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "otp_attempt",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Verify FacilityBot with Google Authenticator"
          }
        }
      }
    },
    "/api/v1/managers/register_two_factor_authentication": {
      "post": {
        "operationId": "postApiV1ManagersRegisterTwoFactorAuthentication",
        "description": "Register FacilityBot with Google Authenticator",
        "tags": [
          "api"
        ],
        "responses": {
          "201": {
            "description": "Register FacilityBot with Google Authenticator"
          }
        }
      }
    },
    "/api/v1/managers/{id}": {
      "get": {
        "operationId": "getApiV1ManagersId",
        "description": "Manager Info",
        "tags": [
          "managers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Manager Info"
          }
        }
      }
    },
    "/api/v1/managers/manager_topics": {
      "get": {
        "operationId": "getApiV1ManagersManagerTopics",
        "description": "Get Manager Topics",
        "tags": [
          "api"
        ],
        "responses": {
          "200": {
            "description": "Get Manager Topics"
          }
        }
      }
    },
    "/api/v1/managers/profile": {
      "get": {
        "operationId": "getApiV1ManagersProfile",
        "description": "Manager Profile Info",
        "tags": [
          "managers"
        ],
        "responses": {
          "200": {
            "description": "Manager Profile Info"
          }
        }
      },
      "put": {
        "operationId": "putApiV1ManagersProfile",
        "description": "Update profile",
        "tags": [
          "managers"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone_number",
            "in": "formData",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update profile"
          }
        }
      }
    },
    "/api/v1/managers/time_sheet_assignments": {
      "get": {
        "operationId": "getApiV1ManagersTimeSheetAssignments",
        "description": "Return list responders, managers and admins for time sheet assignments",
        "tags": [
          "managers"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_sort",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "created_at"
              ],
              "default": "name"
            }
          },
          {
            "name": "order_sort",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return list responders, managers and admins for time sheet assignments"
          }
        }
      }
    },
    "/api/v1/managers/manager_and_admin": {
      "get": {
        "operationId": "getApiV1ManagersManagerAndAdmin",
        "description": "Return list managers have role admin and manager",
        "tags": [
          "managers"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_sort",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "email",
                "role",
                "name",
                "created_at"
              ],
              "default": "created_at"
            }
          },
          {
            "name": "order_sort",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to fetch.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return list managers have role admin and manager"
          }
        }
      }
    },
    "/api/v1/managers/sign_off_checklist": {
      "get": {
        "operationId": "getApiV1ManagersSignOffChecklist",
        "description": "Return list managers have role admin and manager no paginate",
        "tags": [
          "managers"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_sort",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "created_at"
              ],
              "default": "name"
            }
          },
          {
            "name": "order_sort",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return list managers have role admin and manager no paginate"
          }
        }
      }
    },
    "/api/v1/managers/assignment_attendance": {
      "get": {
        "operationId": "getApiV1ManagersAssignmentAttendance",
        "description": "Return list managers assignment attendance",
        "tags": [
          "managers"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_sort",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "created_at"
              ],
              "default": "name"
            }
          },
          {
            "name": "order_sort",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return list managers assignment attendance"
          }
        }
      }
    },
    "/api/v1/managers/assignment_checklist": {
      "get": {
        "operationId": "getApiV1ManagersAssignmentChecklist",
        "description": "Return list managers assignment checklists",
        "tags": [
          "managers"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_sort",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "created_at"
              ],
              "default": "name"
            }
          },
          {
            "name": "order_sort",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return list managers assignment checklists"
          }
        }
      }
    },
    "/api/v1/managers/list_assignment_leases_no_paginate": {
      "get": {
        "operationId": "getApiV1ManagersListAssignmentLeasesNoPaginate",
        "description": "Return list managers assignment lease no paginate",
        "tags": [
          "managers"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_sort",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "created_at"
              ],
              "default": "name"
            }
          },
          {
            "name": "order_sort",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return list managers assignment lease no paginate"
          }
        }
      }
    },
    "/api/v1/managers/list_assignment_contracts_no_paginate": {
      "get": {
        "operationId": "getApiV1ManagersListAssignmentContractsNoPaginate",
        "description": "Return list managers assignment contract no paginate",
        "tags": [
          "managers"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_sort",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "created_at"
              ],
              "default": "name"
            }
          },
          {
            "name": "order_sort",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return list managers assignment contract no paginate"
          }
        }
      }
    },
    "/api/v1/managers/list_assignment_licenses_no_paginate": {
      "get": {
        "operationId": "getApiV1ManagersListAssignmentLicensesNoPaginate",
        "description": "Return list managers assignment license no paginate",
        "tags": [
          "managers"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_sort",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "created_at"
              ],
              "default": "name"
            }
          },
          {
            "name": "order_sort",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return list managers assignment license no paginate"
          }
        }
      }
    },
    "/api/v1/managers/list_assignment_licenses": {
      "get": {
        "operationId": "getApiV1ManagersListAssignmentLicenses",
        "tags": [
          "api"
        ],
        "responses": {
          "200": {
            "description": "get ListAssignmentLicense(s)"
          }
        }
      }
    },
    "/api/v1/managers/list_assignment_requests_no_paginate": {
      "get": {
        "operationId": "getApiV1ManagersListAssignmentRequestsNoPaginate",
        "description": "Return list managers assignment request no paginate",
        "tags": [
          "managers"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_sort",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "created_at"
              ],
              "default": "name"
            }
          },
          {
            "name": "order_sort",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return list managers assignment request no paginate"
          }
        }
      }
    },
    "/api/v1/managers/list_assignment_request_with_tags": {
      "get": {
        "operationId": "getApiV1ManagersListAssignmentRequestWithTags",
        "description": "Return list managers assignment request with tags",
        "tags": [
          "managers"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_sort",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "created_at"
              ],
              "default": "name"
            }
          },
          {
            "name": "order_sort",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return list managers assignment request with tags"
          }
        }
      }
    },
    "/api/v1/managers/list_assignment_requests": {
      "get": {
        "operationId": "getApiV1ManagersListAssignmentRequests",
        "description": "Return list managers assignment request",
        "tags": [
          "managers"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_sort",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "created_at"
              ],
              "default": "name"
            }
          },
          {
            "name": "order_sort",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return list managers assignment request"
          }
        }
      }
    },
    "/api/v1/managers": {
      "get": {
        "operationId": "getApiV1Managers",
        "description": "Return all managers",
        "tags": [
          "managers"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_sort",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "created_at"
              ],
              "default": "name"
            }
          },
          {
            "name": "order_sort",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return all managers"
          }
        }
      }
    },
    "/api/v1/managers/confirm_password": {
      "get": {
        "operationId": "getApiV1ManagersConfirmPassword",
        "description": "Confirm password",
        "tags": [
          "managers"
        ],
        "parameters": [
          {
            "name": "current_password",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Confirm password"
          }
        }
      }
    },
    "/api/v1/managers/change_password": {
      "post": {
        "operationId": "postApiV1ManagersChangePassword",
        "description": "Change password",
        "tags": [
          "managers"
        ],
        "parameters": [
          {
            "name": "current_password",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "new_password",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password_confirmation",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Change password"
          }
        }
      }
    },
    "/api/v1/managers/update_name": {
      "post": {
        "operationId": "postApiV1ManagersUpdateName",
        "description": "Update name",
        "tags": [
          "managers"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Update name"
          }
        }
      }
    },
    "/api/v1/managers/error/{code}": {
      "get": {
        "operationId": "getApiV1ManagersErrorCode",
        "description": "Error detail",
        "tags": [
          "managers"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Error detail"
          }
        }
      }
    },
    "/api/v1/managers/config": {
      "get": {
        "operationId": "getApiV1ManagersConfig",
        "description": "Agent Config",
        "tags": [
          "managers"
        ],
        "responses": {
          "200": {
            "description": "Agent Config"
          }
        }
      }
    },
    "/api/v1/managers/email_forgot_password": {
      "post": {
        "operationId": "postApiV1ManagersEmailForgotPassword",
        "description": "Send Email Forgot Password",
        "tags": [
          "managers"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Send Email Forgot Password"
          }
        }
      }
    },
    "/api/v1/managers/frontend_sign_out": {
      "delete": {
        "operationId": "deleteApiV1ManagersFrontendSignOut",
        "description": "Sign Out For Front End",
        "tags": [
          "managers"
        ],
        "responses": {
          "204": {
            "description": "Sign Out For Front End"
          }
        }
      }
    },
    "/api/v1/managers/sso_login_url": {
      "get": {
        "operationId": "getApiV1ManagersSsoLoginUrl",
        "description": "Get sso login url",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "subdomain",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get sso login url"
          }
        }
      }
    },
    "/api/v1/managers/sso_manager_info": {
      "post": {
        "operationId": "postApiV1ManagersSsoManagerInfo",
        "description": "Get manager authenticate token by sso oauth code",
        "tags": [
          "api"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Get manager authenticate token by sso oauth code"
          }
        }
      }
    },
    "/api/v1/managers/website/authentication_token": {
      "post": {
        "operationId": "postApiV1ManagersWebsiteAuthenticationToken",
        "description": "Return authentication token",
        "tags": [
          "managers"
        ],
        "parameters": [
          {
            "name": "access_token",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Return authentication token"
          }
        }
      }
    },
    "/api/v1/managers/authentication_token": {
      "post": {
        "operationId": "postApiV1ManagersAuthenticationToken",
        "description": "Return authentication token",
        "tags": [
          "managers"
        ],
        "parameters": [
          {
            "name": "access_token",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Return authentication token"
          }
        }
      },
      "get": {
        "operationId": "getApiV1ManagersAuthenticationToken",
        "description": "Return authentication token",
        "tags": [
          "managers"
        ],
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return authentication token"
          }
        }
      }
    },
    "/api/v1/managers/register_2fa_authentication": {
      "post": {
        "operationId": "postApiV1ManagersRegister2faAuthentication",
        "description": "Gen 2FA Google Authenticator QR",
        "tags": [
          "managers"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Gen 2FA Google Authenticator QR"
          }
        }
      }
    },
    "/api/v1/managers/verify_2fa_enforce": {
      "post": {
        "operationId": "postApiV1ManagersVerify2faEnforce",
        "description": "Verify 2Fa Enforce",
        "tags": [
          "managers"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "otp_attempt",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Verify 2Fa Enforce"
          }
        }
      }
    },
    "/api/v1/managers/verify_2fa": {
      "post": {
        "operationId": "postApiV1ManagersVerify2fa",
        "description": "Return access token",
        "tags": [
          "managers"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "otp_attempt",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Return access token"
          }
        }
      }
    },
    "/api/v1/managers/frontend_sign_in": {
      "post": {
        "operationId": "postApiV1ManagersFrontendSignIn",
        "description": "Return access token",
        "tags": [
          "managers"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Return access token"
          }
        }
      }
    },
    "/api/v1/managers/sign_out": {
      "delete": {
        "operationId": "deleteApiV1ManagersSignOut",
        "description": "Sign Out For Mobile",
        "tags": [
          "managers"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Sign Out For Mobile"
          }
        }
      }
    },
    "/api/v1/clients/average_chat_support_response_time": {
      "get": {
        "operationId": "getApiV1ClientsAverageChatSupportResponseTime",
        "description": "Average Chat Support Response Time",
        "tags": [
          "clients"
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Average Chat Support Response Time"
          }
        }
      }
    },
    "/api/v1/clients/check_sso_domain": {
      "get": {
        "operationId": "getApiV1ClientsCheckSsoDomain",
        "description": "Check SSO Domain valid or not",
        "tags": [
          "clients"
        ],
        "parameters": [
          {
            "name": "subdomain",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Check SSO Domain valid or not"
          }
        }
      }
    },
    "/api/v1/clients/public_checklists/{id}": {
      "get": {
        "operationId": "getApiV1ClientsPublicChecklistsId",
        "description": "Detail of a Public Checklist",
        "tags": [
          "clients"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detail of a Public Checklist"
          }
        }
      }
    },
    "/api/v1/clients/public_checklists/{id}/download_count": {
      "get": {
        "operationId": "getApiV1ClientsPublicChecklistsIdDownloadCount",
        "description": "Count Public Checklist downloads",
        "tags": [
          "clients"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Count Public Checklist downloads"
          }
        }
      }
    },
    "/api/v1/clients/checklist_categories": {
      "get": {
        "operationId": "getApiV1ClientsChecklistCategories",
        "description": "Get custom statistics of FacilityBot",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Get custom statistics of FacilityBot"
          }
        }
      }
    },
    "/api/v1/clients/public_checklists": {
      "get": {
        "operationId": "getApiV1ClientsPublicChecklists",
        "description": "Get Public Checklists",
        "tags": [
          "clients"
        ],
        "parameters": [
          {
            "name": "category_id",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_sort",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "shared_count",
                "created_at",
                "downloads"
              ],
              "default": "created_at"
            }
          },
          {
            "name": "order_sort",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Public Checklists"
          }
        }
      }
    },
    "/api/v1/clients/custom_statistics": {
      "get": {
        "operationId": "getApiV1ClientsCustomStatistics",
        "description": "Get custom statistics of FacilityBot",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Get custom statistics of FacilityBot"
          }
        }
      }
    },
    "/api/v1/clients/site_template": {
      "get": {
        "operationId": "getApiV1ClientsSiteTemplate",
        "description": "Get a site template",
        "tags": [
          "managers"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a site template"
          }
        }
      }
    },
    "/api/v1/clients/referral_code": {
      "get": {
        "operationId": "getApiV1ClientsReferralCode",
        "description": "Get Referrer Code of Manager",
        "tags": [
          "clients"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Referrer Code of Manager"
          }
        }
      }
    },
    "/api/v1/requests/{id}/enable_auto_send_pdf_to_customer": {
      "put": {
        "operationId": "putApiV1RequestsIdEnableAutoSendPdfToCustomer",
        "description": "Update Enable Auto Send PDF To Customer",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "enable_auto_send_pdf_to_customer",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update Enable Auto Send PDF To Customer"
          }
        }
      }
    },
    "/api/v1/requests/{id}/link_customers": {
      "put": {
        "operationId": "putApiV1RequestsIdLinkCustomers",
        "description": "Update Request Customers",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "customer_ids",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update Request Customers"
          }
        }
      }
    },
    "/api/v1/requests/{id}/remove_fault_sub_type_tag": {
      "put": {
        "operationId": "putApiV1RequestsIdRemoveFaultSubTypeTag",
        "description": "Remove Request Fault Sub Type Tags",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Remove Request Fault Sub Type Tags"
          }
        }
      }
    },
    "/api/v1/requests/{id}/remove_fault_type": {
      "put": {
        "operationId": "putApiV1RequestsIdRemoveFaultType",
        "description": "Remove Request Fault Type",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Remove Request Fault Type"
          }
        }
      }
    },
    "/api/v1/requests/{id}/remove_due_date": {
      "delete": {
        "operationId": "deleteApiV1RequestsIdRemoveDueDate",
        "description": "Remove Request Due Date",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Remove Request Due Date"
          }
        }
      }
    },
    "/api/v1/requests/{id}/set_due_date": {
      "post": {
        "operationId": "postApiV1RequestsIdSetDueDate",
        "description": "Set Request Due Date",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "time",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reminders",
            "in": "formData",
            "description": "Array of reminders string",
            "required": false,
            "schema": {
              "type": "string",
              "default": "[]"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Set Request Due Date"
          }
        }
      }
    },
    "/api/v1/requests/{id}/link_requests": {
      "post": {
        "operationId": "postApiV1RequestsIdLinkRequests",
        "description": "Linking Requests",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "linked_request_ids",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Linking Requests"
          }
        }
      }
    },
    "/api/v1/requests/download_mail": {
      "post": {
        "operationId": "postApiV1RequestsDownloadMail",
        "description": "Download EML Mail File",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "mail_message_id",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Download EML Mail File"
          }
        }
      }
    },
    "/api/v1/requests/{id}/signature_request_by_email": {
      "post": {
        "operationId": "postApiV1RequestsIdSignatureRequestByEmail",
        "description": "Allow Request To Be Emailed",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "email",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Allow Request To Be Emailed"
          }
        }
      }
    },
    "/api/v1/requests/import_csv": {
      "post": {
        "operationId": "postApiV1RequestsImportCsv",
        "description": "Import requests CSV",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "file"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Import requests CSV"
          }
        }
      }
    },
    "/api/v1/requests/{id}/link_failure_codes": {
      "post": {
        "operationId": "postApiV1RequestsIdLinkFailureCodes",
        "description": "Linking the Request to Failure Code",
        "tags": [
          "failure_codes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "failure_code_ids",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Linking the Request to Failure Code"
          }
        }
      }
    },
    "/api/v1/requests/{remark_id}/delete_remark_file/{file_id}": {
      "delete": {
        "operationId": "deleteApiV1RequestsRemarkIdDeleteRemarkFileFileId",
        "description": "Delete remark request attachment",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "remark_id",
            "in": "path",
            "description": "Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "description": "file ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete remark request attachment"
          }
        }
      }
    },
    "/api/v1/requests/{remark_id}/update_remark_file/{file_id}": {
      "post": {
        "operationId": "postApiV1RequestsRemarkIdUpdateRemarkFileFileId",
        "description": "Update remark request attachment",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "remark_id",
            "in": "path",
            "description": "Remark Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "file",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "file"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "description": "attachment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Update remark request attachment"
          }
        }
      }
    },
    "/api/v1/requests/{id}/add_remark_attachment": {
      "post": {
        "operationId": "postApiV1RequestsIdAddRemarkAttachment",
        "description": "Add remark attachment for request",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "file",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "file"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Add remark attachment for request"
          }
        }
      }
    },
    "/api/v1/requests/{id}": {
      "get": {
        "operationId": "getApiV1RequestsId",
        "description": "Return details a request",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return details a request"
          }
        }
      },
      "delete": {
        "operationId": "deleteApiV1RequestsId",
        "description": "Delete Request",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete Request"
          }
        }
      }
    },
    "/api/v1/requests/bulk_pdf_request_datas": {
      "get": {
        "operationId": "getApiV1RequestsBulkPdfRequestDatas",
        "description": "Bulk PDF request",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bulk PDF request"
          }
        }
      }
    },
    "/api/v1/requests/pdf_request_datas": {
      "get": {
        "operationId": "getApiV1RequestsPdfRequestDatas",
        "description": "PDF request",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF request"
          }
        }
      }
    },
    "/api/v1/requests/export_csv": {
      "get": {
        "operationId": "getApiV1RequestsExportCsv",
        "description": "Export CSV Request",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "export_uuid",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request_ids",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request_type_ids",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "facility_ids",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fault_location_ids",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fault_sub_type_tag_ids",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "failure_code_ids",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assign_manager_tag_ids",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assign_manager_ids",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_sort",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "status",
                "indentity_number",
                "created_at"
              ]
            }
          },
          {
            "name": "order_sort",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "param_tracking_id",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "has_corrective_fault_report_and_requests",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "request_by_ids",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_exclude_request_by",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Export CSV Request"
          }
        }
      }
    },
    "/api/v1/requests/{id}/schedule_of_rates": {
      "get": {
        "operationId": "getApiV1RequestsIdScheduleOfRates",
        "description": "Get Schedule of rate of a request",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Schedule of rate of a request"
          }
        }
      }
    },
    "/api/v1/requests/{id}/histories": {
      "get": {
        "operationId": "getApiV1RequestsIdHistories",
        "description": "Histories of an request",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "data_sort",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "status",
                "processed_by",
                "processed_at"
              ],
              "default": "processed_at"
            }
          },
          {
            "name": "order_sort",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Histories of an request"
          }
        }
      }
    },
    "/api/v1/requests/bulk_add_request_remarks": {
      "post": {
        "operationId": "postApiV1RequestsBulkAddRequestRemarks",
        "description": "Bulk Add Request Remarks",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "remarks",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request_ids",
            "in": "formData",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Bulk Add Request Remarks"
          }
        }
      }
    },
    "/api/v1/requests/{id}/delete_request_remarks": {
      "delete": {
        "operationId": "deleteApiV1RequestsIdDeleteRequestRemarks",
        "description": "Delete Request Remarks",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "request_remark_id",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "attachment_ids",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete Request Remarks"
          }
        }
      }
    },
    "/api/v1/requests/{id}/default_disable_broadcast_for_remark": {
      "put": {
        "operationId": "putApiV1RequestsIdDefaultDisableBroadcastForRemark",
        "description": "Turn On/Off default disable broadcast of a request",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "default_disable_broadcast_for_remarks",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Turn On/Off default disable broadcast of a request"
          }
        }
      }
    },
    "/api/v1/requests/{id}/send_request_remarks": {
      "post": {
        "operationId": "postApiV1RequestsIdSendRequestRemarks",
        "description": "Create Or Update Request Remarks",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "remark",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request_remark_id",
            "in": "formData",
            "description": "",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "attachment_ids",
            "in": "formData",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Create Or Update Request Remarks"
          }
        }
      }
    },
    "/api/v1/requests/{id}/delete_fault_signature": {
      "delete": {
        "operationId": "deleteApiV1RequestsIdDeleteFaultSignature",
        "description": "Delete Signature",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fault_signature_id",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete Signature"
          }
        }
      }
    },
    "/api/v1/requests/{id}/create_fault_signature": {
      "post": {
        "operationId": "postApiV1RequestsIdCreateFaultSignature",
        "description": "Create Signature",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fault_signature",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signatory",
            "in": "formData",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Create Signature"
          }
        }
      }
    },
    "/api/v1/requests/{id}/require_attachment": {
      "post": {
        "operationId": "postApiV1RequestsIdRequireAttachment",
        "description": "Require Attachment",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "require_type",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "processing",
                "complete",
                "processing_complete",
                "no_attachments"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Require Attachment"
          }
        }
      }
    },
    "/api/v1/requests/{id}/exclude_response_time_kpi": {
      "post": {
        "operationId": "postApiV1RequestsIdExcludeResponseTimeKpi",
        "description": "Exclude response time and kpi",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "value",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Exclude response time and kpi"
          }
        }
      }
    },
    "/api/v1/requests/{id}/unlink_asset_id": {
      "post": {
        "operationId": "postApiV1RequestsIdUnlinkAssetId",
        "description": "Unlink asset tracking to request",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Unlink asset tracking to request"
          }
        }
      }
    },
    "/api/v1/requests/{id}/link_asset_id": {
      "post": {
        "operationId": "postApiV1RequestsIdLinkAssetId",
        "description": "Link asset tracking to request",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "asset_id",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Link asset tracking to request"
          }
        }
      }
    },
    "/api/v1/requests/{id}/update_completion_remarks": {
      "post": {
        "operationId": "postApiV1RequestsIdUpdateCompletionRemarks",
        "description": "Update Completion Remarks",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "remarks",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Update Completion Remarks"
          }
        }
      }
    },
    "/api/v1/requests/{id}/update_processing_remarks": {
      "post": {
        "operationId": "postApiV1RequestsIdUpdateProcessingRemarks",
        "description": "Update Processing Remarks",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "remarks",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Update Processing Remarks"
          }
        }
      }
    },
    "/api/v1/requests/{id}/completion_remarks": {
      "post": {
        "operationId": "postApiV1RequestsIdCompletionRemarks",
        "description": "Completion Remarks",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "remarks",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Completion Remarks"
          }
        }
      }
    },
    "/api/v1/requests/{id}/processing_remarks": {
      "post": {
        "operationId": "postApiV1RequestsIdProcessingRemarks",
        "description": "Processing Remarks",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "remarks",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Processing Remarks"
          }
        }
      }
    },
    "/api/v1/requests/{id}/upload_completion_attachment": {
      "post": {
        "operationId": "postApiV1RequestsIdUploadCompletionAttachment",
        "description": "upload completion attachment",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "file",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "file"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "upload completion attachment"
          }
        }
      }
    },
    "/api/v1/requests/{id}/upload_processing_attachment": {
      "post": {
        "operationId": "postApiV1RequestsIdUploadProcessingAttachment",
        "description": "upload processing attachment",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "file",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "file"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "upload processing attachment"
          }
        }
      }
    },
    "/api/v1/requests/{id}/upload_completion_image": {
      "post": {
        "operationId": "postApiV1RequestsIdUploadCompletionImage",
        "description": "upload completion image",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "file",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "file"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "upload completion image"
          }
        }
      }
    },
    "/api/v1/requests/{id}/upload_processing_image": {
      "post": {
        "operationId": "postApiV1RequestsIdUploadProcessingImage",
        "description": "upload processing image",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "file",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "file"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "upload processing image"
          }
        }
      }
    },
    "/api/v1/requests/upload_fault_images": {
      "post": {
        "operationId": "postApiV1RequestsUploadFaultImages",
        "description": "upload fault images",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "file"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "upload fault images"
          }
        }
      }
    },
    "/api/v1/requests/{id}/upload_fault_image": {
      "post": {
        "operationId": "postApiV1RequestsIdUploadFaultImage",
        "description": "upload fault image",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "file",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "file"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "upload fault image"
          }
        }
      }
    },
    "/api/v1/requests/{id}/assign_manager": {
      "post": {
        "operationId": "postApiV1RequestsIdAssignManager",
        "description": "Assign manager to request",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "manager_ids",
            "in": "formData",
            "description": "Array manager ids",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "manager_tag_ids",
            "in": "formData",
            "description": "Array manager tag ids",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Assign manager to request"
          }
        }
      }
    },
    "/api/v1/requests/{id}/assign_fault_sub_type_tag": {
      "post": {
        "operationId": "postApiV1RequestsIdAssignFaultSubTypeTag",
        "description": "Assign fault sub type tag to request",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fault_sub_type_tag_id",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Assign fault sub type tag to request"
          }
        }
      }
    },
    "/api/v1/requests/{id}/assign_fault_locations": {
      "post": {
        "operationId": "postApiV1RequestsIdAssignFaultLocations",
        "description": "Assign fault locations to request",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fault_location_ids",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Assign fault locations to request"
          }
        }
      }
    },
    "/api/v1/requests/{id}/assign_faut_location": {
      "post": {
        "operationId": "postApiV1RequestsIdAssignFautLocation",
        "description": "Assign request fault location",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fault_location_id",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Assign request fault location"
          }
        }
      }
    },
    "/api/v1/requests/{id}/update_priority": {
      "post": {
        "operationId": "postApiV1RequestsIdUpdatePriority",
        "description": "Update request priority",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "priority",
            "in": "formData",
            "description": "Request Status",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "low",
                "medium",
                "high"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Update request priority"
          }
        }
      }
    },
    "/api/v1/requests/{id}/update_fault_type": {
      "post": {
        "operationId": "postApiV1RequestsIdUpdateFaultType",
        "description": "Update fault type",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fault_type_id",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Update fault type"
          }
        }
      }
    },
    "/api/v1/requests/{id}/update_status": {
      "post": {
        "operationId": "postApiV1RequestsIdUpdateStatus",
        "description": "Update request status",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "status",
            "in": "formData",
            "description": "Request Status",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "remarks",
            "in": "formData",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Update request status"
          }
        }
      }
    },
    "/api/v1/requests/{id}/complete_sign_off_checklist": {
      "post": {
        "operationId": "postApiV1RequestsIdCompleteSignOffChecklist",
        "description": "Complete a required checklist for request process step",
        "tags": [
          "web_requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "parent_checklist_id",
            "in": "formData",
            "description": "ID of parent checklist (original checklist), use when request was not linked to checklist require for completion",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "checklist_id",
            "in": "formData",
            "description": "Use for update this checklist if request was linked to checklist require for completion",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "row_results",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_time",
            "in": "formData",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_time",
            "in": "formData",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "remarks",
            "in": "formData",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_save_as_draft",
            "in": "formData",
            "description": "",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Complete a required checklist for request process step"
          }
        }
      }
    },
    "/api/v1/requests/{id}/complete_checklist": {
      "post": {
        "operationId": "postApiV1RequestsIdCompleteChecklist",
        "description": "Complete a checklist require for request completion",
        "tags": [
          "web_requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "parent_checklist_id",
            "in": "formData",
            "description": "ID of parent checklist (original checklist), use when request was not linked to checklist require for completion",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "checklist_id",
            "in": "formData",
            "description": "Use for update this checklist if request was linked to checklist require for completion",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "row_results",
            "in": "formData",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_time",
            "in": "formData",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_time",
            "in": "formData",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "remarks",
            "in": "formData",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_save_as_draft",
            "in": "formData",
            "description": "",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Complete a checklist require for request completion"
          }
        }
      }
    },
    "/api/v1/requests": {
      "post": {
        "operationId": "postApiV1Requests",
        "description": "Create new request",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "kind",
            "in": "formData",
            "description": "kind of requests",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "report_fault",
                "talk_to_agent",
                "custom_fault"
              ]
            }
          },
          {
            "name": "facility_id",
            "in": "formData",
            "description": "",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fault_sub_type_tag_id",
            "in": "formData",
            "description": "",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "description",
            "in": "formData",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "formData",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fault_location_ids",
            "in": "formData",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "image",
            "in": "formData",
            "description": "",
            "required": false,
            "schema": {
              "type": "file"
            }
          },
          {
            "name": "image_url",
            "in": "formData",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fault_image_ids",
            "in": "formData",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "full_name_manually",
            "in": "formData",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request_type_id",
            "in": "formData",
            "description": "",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "custom_content",
            "in": "formData",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "guest_id",
            "in": "formData",
            "description": "",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "linked_request_id",
            "in": "formData",
            "description": "",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "link_asset_id",
            "in": "formData",
            "description": "",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Create new request"
          }
        }
      },
      "get": {
        "operationId": "getApiV1Requests",
        "description": "Return all requests",
        "tags": [
          "requests"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return all requests"
          }
        }
      }
    },
    "/api/v1/requests/counting_status": {
      "get": {
        "operationId": "getApiV1RequestsCountingStatus",
        "description": "Counting status",
        "tags": [
          "requests"
        ],
        "responses": {
          "200": {
            "description": "Counting status"
          }
        }
      }
    },
    "/api/v1/requests/all_request_types": {
      "get": {
        "operationId": "getApiV1RequestsAllRequestTypes",
        "description": "Get all request types",
        "tags": [
          "requests"
        ],
        "responses": {
          "200": {
            "description": "Get all request types"
          }
        }
      }
    },
    "/api/v1/requests/all_status": {
      "get": {
        "operationId": "getApiV1RequestsAllStatus",
        "description": "Get all status",
        "tags": [
          "requests"
        ],
        "responses": {
          "200": {
            "description": "Get all status"
          }
        }
      }
    },
    "/api/v1/requests/due_date_reminders": {
      "get": {
        "operationId": "getApiV1RequestsDueDateReminders",
        "description": "Get All Due Date Reminders",
        "tags": [
          "requests"
        ],
        "responses": {
          "200": {
            "description": "Get All Due Date Reminders"
          }
        }
      }
    },
    "/api/v1/change_logs": {
      "get": {
        "operationId": "getApiV1ChangeLogs",
        "description": "Get list change logs",
        "tags": [
          "change_logs"
        ],
        "responses": {
          "200": {
            "description": "Get list change logs"
          }
        }
      }
    },
    "/api/v1/mobile_languages/{locale}": {
      "delete": {
        "operationId": "deleteApiV1MobileLanguagesLocale",
        "description": "Delete Language",
        "tags": [
          "mobile_languages"
        ],
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete Language"
          }
        }
      },
      "put": {
        "operationId": "putApiV1MobileLanguagesLocale",
        "description": "Update A Language",
        "tags": [
          "mobile_languages"
        ],
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "formData",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file",
            "in": "formData",
            "description": "",
            "required": false,
            "schema": {
              "type": "file"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update A Language"
          }
        }
      },
      "get": {
        "operationId": "getApiV1MobileLanguagesLocale",
        "description": "Show A Language",
        "tags": [
          "mobile_languages"
        ],
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Show A Language"
          }
        }
      }
    },
    "/api/v1/mobile_languages": {
      "post": {
        "operationId": "postApiV1MobileLanguages",
        "description": "Create A Language",
        "tags": [
[...]
