{
  "openapi": "3.0.3",
  "info": {
    "title": "Westlaw API",
    "version": "1.0.0",
    "description": "Legal research and analytics platform API",
    "x-jentic-source-url": "https://developer.clarivate.com/"
  },
  "servers": [
    {
      "url": "https://api.clarivate.com"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    "Cases",
    "Documents",
    "Statutes",
    "Search"
  ],
  "paths": {
    "/search": {
      "post": {
        "summary": "Search legal documents",
        "description": "Search legal documents",
        "tags": [
          "Search"
        ],
        "operationId": "searchDocuments",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/documents/{documentId}": {
      "get": {
        "summary": "Get document",
        "description": "Get document",
        "tags": [
          "Documents"
        ],
        "operationId": "getDocument",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/cases": {
      "get": {
        "summary": "Search cases",
        "description": "Search cases",
        "tags": [
          "Cases"
        ],
        "operationId": "searchCases",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/statutes": {
      "get": {
        "summary": "Search statutes",
        "description": "Search statutes",
        "tags": [
          "Statutes"
        ],
        "operationId": "searchStatutes",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      }
    }
  }
}