{
  "openapi": "3.0.3",
  "info": {
    "title": "Zoho Desk API",
    "version": "1.0.0",
    "description": "Zoho Desk customer support API providing endpoints for managing tickets, contacts, accounts, agents, organizations, departments, and knowledge base articles.",
    "x-jentic-source-url": "https://desk.zoho.com/DeskAPIDocument"
  },
  "servers": [{"url": "https://desk.zoho.com/api/v1"}],
  "paths": {
    "/tickets": {
      "get": {"operationId": "listTickets", "summary": "List all tickets", "tags": ["Tickets"], "parameters": [{"name": "from", "in": "query", "schema": {"type": "integer"}}, {"name": "limit", "in": "query", "schema": {"type": "integer", "maximum": 100}}, {"name": "departmentId", "in": "query", "schema": {"type": "string"}}, {"name": "status", "in": "query", "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TicketListResponse"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "post": {"operationId": "createTicket", "summary": "Create a ticket", "tags": ["Tickets"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TicketRequest"}}}}, "responses": {"201": {"description": "Created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Ticket"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/tickets/{ticketId}": {
      "get": {"operationId": "getTicket", "summary": "Get ticket details", "tags": ["Tickets"], "parameters": [{"name": "ticketId", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Ticket"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "patch": {"operationId": "updateTicket", "summary": "Update a ticket", "tags": ["Tickets"], "parameters": [{"name": "ticketId", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TicketRequest"}}}}, "responses": {"200": {"description": "Updated", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Ticket"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/tickets/{ticketId}/comments": {
      "get": {"operationId": "listTicketComments", "summary": "List ticket comments", "tags": ["Tickets"], "parameters": [{"name": "ticketId", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "post": {"operationId": "addTicketComment", "summary": "Add ticket comment", "tags": ["Tickets"], "parameters": [{"name": "ticketId", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"content": {"type": "string"}, "isPublic": {"type": "boolean"}}}}}}, "responses": {"201": {"description": "Created", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/tickets/{ticketId}/threads": {
      "get": {"operationId": "listTicketThreads", "summary": "List ticket threads", "tags": ["Tickets"], "parameters": [{"name": "ticketId", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/tickets/{ticketId}/attachments": {
      "get": {"operationId": "listTicketAttachments", "summary": "List ticket attachments", "tags": ["Tickets"], "parameters": [{"name": "ticketId", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "post": {"operationId": "addTicketAttachment", "summary": "Upload ticket attachment", "tags": ["Tickets"], "parameters": [{"name": "ticketId", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"required": true, "content": {"multipart/form-data": {"schema": {"type": "object", "properties": {"file": {"type": "string", "format": "binary"}}}}}}, "responses": {"201": {"description": "Created"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/tickets/{ticketId}/merge": {
      "post": {"operationId": "mergeTickets", "summary": "Merge tickets", "tags": ["Tickets"], "parameters": [{"name": "ticketId", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Merged"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/organizations": {
      "get": {"operationId": "listOrganizations", "summary": "List organizations", "tags": ["Organizations"], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/organizations/{orgId}": {
      "get": {"operationId": "getOrganization", "summary": "Get organization", "tags": ["Organizations"], "parameters": [{"name": "orgId", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "put": {"operationId": "updateOrganization", "summary": "Update organization", "tags": ["Organizations"], "parameters": [{"name": "orgId", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Updated"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/departments": {
      "get": {"operationId": "listDepartments", "summary": "List departments", "tags": ["Departments"], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "post": {"operationId": "createDepartment", "summary": "Create department", "tags": ["Departments"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"201": {"description": "Created"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/departments/{id}": {
      "get": {"operationId": "getDepartment", "summary": "Get department", "tags": ["Departments"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "put": {"operationId": "updateDepartment", "summary": "Update department", "tags": ["Departments"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Updated"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/agents": {
      "get": {"operationId": "listAgents", "summary": "List agents", "tags": ["Agents"], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "post": {"operationId": "createAgent", "summary": "Create agent", "tags": ["Agents"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"201": {"description": "Created"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/agents/{id}": {
      "get": {"operationId": "getAgent", "summary": "Get agent", "tags": ["Agents"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "put": {"operationId": "updateAgent", "summary": "Update agent", "tags": ["Agents"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Updated"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/agents/me": {
      "get": {"operationId": "getCurrentAgent", "summary": "Get current agent", "tags": ["Agents"], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/contacts": {
      "get": {"operationId": "listContacts", "summary": "List contacts", "tags": ["Contacts"], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "post": {"operationId": "createContact", "summary": "Create contact", "tags": ["Contacts"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"201": {"description": "Created"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/contacts/{id}": {
      "get": {"operationId": "getContact", "summary": "Get contact", "tags": ["Contacts"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "put": {"operationId": "updateContact", "summary": "Update contact", "tags": ["Contacts"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Updated"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/accounts": {
      "get": {"operationId": "listAccounts", "summary": "List accounts", "tags": ["Accounts"], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "post": {"operationId": "createAccount", "summary": "Create account", "tags": ["Accounts"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"201": {"description": "Created"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/products": {
      "get": {"operationId": "listProducts", "summary": "List products", "tags": ["Products"], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "post": {"operationId": "createProduct", "summary": "Create product", "tags": ["Products"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"201": {"description": "Created"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/articles": {
      "get": {"operationId": "listArticles", "summary": "List knowledge base articles", "tags": ["KnowledgeBase"], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "post": {"operationId": "createArticle", "summary": "Create article", "tags": ["KnowledgeBase"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"201": {"description": "Created"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/teams": {
      "get": {"operationId": "listTeams", "summary": "List teams", "tags": ["Teams"], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "post": {"operationId": "createTeam", "summary": "Create team", "tags": ["Teams"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"201": {"description": "Created"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/roles": {
      "get": {"operationId": "listRoles", "summary": "List roles", "tags": ["Roles"], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/profiles": {
      "get": {"operationId": "listProfiles", "summary": "List profiles", "tags": ["Profiles"], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    }
  },
  "components": {
    "schemas": {
      "Ticket": {"type": "object", "properties": {"id": {"type": "string"}, "ticketNumber": {"type": "string"}, "subject": {"type": "string"}, "description": {"type": "string"}, "status": {"type": "string"}, "priority": {"type": "string"}, "departmentId": {"type": "string"}, "contactId": {"type": "string"}, "assigneeId": {"type": "string"}, "createdTime": {"type": "string", "format": "date-time"}, "modifiedTime": {"type": "string", "format": "date-time"}}},
      "TicketRequest": {"type": "object", "required": ["subject", "departmentId", "contactId"], "properties": {"subject": {"type": "string"}, "description": {"type": "string"}, "departmentId": {"type": "string"}, "contactId": {"type": "string"}, "priority": {"type": "string"}, "status": {"type": "string"}, "assigneeId": {"type": "string"}}},
      "TicketListResponse": {"type": "object", "properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/Ticket"}}}},
      "ErrorResponse": {"type": "object", "properties": {"errorCode": {"type": "string"}, "message": {"type": "string"}}}
    },
    "securitySchemes": {
      "oauth2": {"type": "oauth2", "flows": {"authorizationCode": {"authorizationUrl": "https://accounts.zoho.com/oauth/v2/auth", "tokenUrl": "https://accounts.zoho.com/oauth/v2/token", "scopes": {"Desk.tickets.ALL": "Full ticket access", "Desk.contacts.ALL": "Full contact access", "Desk.settings.ALL": "Full settings access"}}}}
    }
  },
  "security": [{"oauth2": []}]
}
