{
  "openapi": "3.0.3",
  "info": {
    "title": "Windsor.ai API",
    "version": "1.0.0",
    "description": "Windsor.ai marketing data API for retrieving data from 70+ marketing platforms. Provides connectors, fields, and authorization management.",
    "x-jentic-source-url": "https://www.windsor.ai/api-documentation/"
  },
  "servers": [
    {
      "url": "https://connectors.windsor.ai"
    }
  ],
  "paths": {
    "/{connector}": {
      "get": {
        "operationId": "getConnectorData",
        "summary": "Get marketing data from a connector",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "connector",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_preset",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "_max_rows",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_renderer",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv",
                "googlesheets"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Marketing data"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/list_connectors": {
      "get": {
        "operationId": "listConnectors",
        "summary": "List all available connectors",
        "tags": [
          "Connectors"
        ],
        "responses": {
          "200": {
            "description": "Connector list"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{connector}/fields": {
      "get": {
        "operationId": "getConnectorFields",
        "summary": "Get fields for a connector",
        "tags": [
          "Connectors"
        ],
        "parameters": [
          {
            "name": "connector",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Field list"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ]
}