{
  "openapi": "3.0.3",
  "info": {
    "title": "Temi API",
    "version": "1.0.0",
    "description": "Temi is a transcription service API that allows you to submit audio or video for transcription, manage jobs, and retrieve transcripts in various formats.",
    "x-jentic-source-url": "https://www.temi.com/api/reference/v1"
  },
  "servers": [
    {
      "url": "https://api.temi.com/v1"
    }
  ],
  "paths": {
    "/jobs": {
      "post": {
        "operationId": "submitJob",
        "summary": "Submit a transcription job",
        "description": "Submit audio or video for transcription. You can provide a media URL or upload a file directly.",
        "tags": ["Jobs"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitJobRequest"
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "media": {
                    "type": "string",
                    "format": "binary",
                    "description": "Binary media file data"
                  },
                  "callback_url": {
                    "type": "string",
                    "description": "Webhook URL for job completion notification"
                  },
                  "metadata": {
                    "type": "string",
                    "description": "Job metadata (max 256 characters)",
                    "maxLength": 256
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listJobs",
        "summary": "List jobs",
        "description": "List of jobs sorted by descending order of date placed.",
        "tags": ["Jobs"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of jobs to return",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "Job ID for pagination cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of jobs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Job"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{id}": {
      "get": {
        "operationId": "getJob",
        "summary": "Get job status",
        "description": "Retrieve current status and details of a specific job.",
        "tags": ["Jobs"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Job identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteJob",
        "summary": "Delete a job",
        "description": "Remove a completed job.",
        "tags": ["Jobs"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Job identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Job deleted successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{id}/transcript": {
      "get": {
        "operationId": "getTranscript",
        "summary": "Get transcript",
        "description": "Retrieve transcript in the specified format. Use the Accept header to specify format: text/plain, application/json, application/msword, or application/pdf.",
        "tags": ["Transcripts"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Job identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "Transcript version",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["latest", "machine"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transcript content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transcript"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{id}/share": {
      "post": {
        "operationId": "shareTranscript",
        "summary": "Share transcript editor URL",
        "description": "Generate transcript editor URL with full permissions.",
        "tags": ["Transcripts"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Job identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Editor URL generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "editor_url": {
                      "type": "string",
                      "description": "URL to the transcript editor"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get account details",
        "description": "Retrieve account balance and email.",
        "tags": ["Account"],
        "responses": {
          "200": {
            "description": "Account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Job": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "Unique job identifier" },
          "status": { "type": "string", "description": "Job status" },
          "created_on": { "type": "string", "format": "date-time", "description": "Job creation timestamp" },
          "web_url": { "type": "string", "description": "URL to view the job in the web interface" },
          "duration_seconds": { "type": "number", "description": "Duration of the media in seconds" },
          "name": { "type": "string", "description": "Job name" },
          "metadata": { "type": "string", "description": "Job metadata" },
          "callback_url": { "type": "string", "description": "Webhook callback URL" }
        }
      },
      "SubmitJobRequest": {
        "type": "object",
        "properties": {
          "media_url": { "type": "string", "description": "URL to media file (max 1024 characters)", "maxLength": 1024 },
          "callback_url": { "type": "string", "description": "Webhook URL for job completion notification" },
          "metadata": { "type": "string", "description": "Job metadata (max 256 characters)", "maxLength": 256 }
        }
      },
      "Transcript": {
        "type": "object",
        "properties": {
          "text": { "type": "string", "description": "Transcript text content" },
          "speakers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": { "type": "string" },
                "id": { "type": "integer" }
              }
            }
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "balance": { "type": "number", "description": "Account balance in USD" },
          "email": { "type": "string", "description": "Account email address" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "enum": ["error"] },
          "code": { "type": "string" },
          "message": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key obtained from your Temi account developer page"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}