{
  "openapi": "3.0.3",
  "info": {
    "title": "Mollie Payments API",
    "version": "1.0.0",
    "description": "Mollie provides a clean, simple and easy to use payment API. Accepting iDEAL, credit cards, SOFORT, Bancontact, Giftcards, and many more payment methods.",
    "contact": {
      "name": "Mollie Developer Support",
      "url": "https://docs.mollie.com"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/mollie/openapi/main/openapi.yaml"
  },
  "servers": [
    { "url": "https://api.mollie.com/v2" }
  ],
  "security": [
    { "bearerAuth": [] }
  ],
  "tags": [
    { "name": "Payments", "description": "Payment creation and management" },
    { "name": "Refunds", "description": "Refund operations" },
    { "name": "Customers", "description": "Customer management" },
    { "name": "Orders", "description": "Order management" },
    { "name": "Subscriptions", "description": "Recurring payment subscriptions" },
    { "name": "Methods", "description": "Payment method information" }
  ],
  "paths": {
    "/payments": {
      "post": {
        "operationId": "createPayment",
        "tags": ["Payments"],
        "summary": "Create payment",
        "description": "To accept a payment from a shopper, you need to create a payment object that will contain all the necessary payment information.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreatePaymentRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Payment" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listPayments",
        "tags": ["Payments"],
        "summary": "List payments",
        "description": "Retrieve all payments created with the current website profile.",
        "parameters": [
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 1, "maximum": 250 } },
          { "name": "from", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentList" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/payments/{id}": {
      "get": {
        "operationId": "getPayment",
        "tags": ["Payments"],
        "summary": "Get payment",
        "description": "Retrieve a single payment object by its payment token.",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Payment" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        }
      },
      "delete": {
        "operationId": "cancelPayment",
        "tags": ["Payments"],
        "summary": "Cancel payment",
        "description": "Some payment methods are cancellable for an amount of time, usually until the next business day.",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Payment" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/payments/{paymentId}/refunds": {
      "post": {
        "operationId": "createRefund",
        "tags": ["Refunds"],
        "summary": "Create refund",
        "description": "Most payment methods support refunds. A payment can be partially or fully refunded.",
        "parameters": [
          { "name": "paymentId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateRefundRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Refund created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Refund" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        }
      },
      "get": {
        "operationId": "listPaymentRefunds",
        "tags": ["Refunds"],
        "summary": "List payment refunds",
        "description": "Retrieve refunds for a specific payment.",
        "parameters": [
          { "name": "paymentId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RefundList" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/customers": {
      "post": {
        "operationId": "createCustomer",
        "tags": ["Customers"],
        "summary": "Create customer",
        "description": "Creates a simple minimal representation of a customer in the Mollie API to use for the Mollie Checkout and Recurring features.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateCustomerRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Customer" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        }
      },
      "get": {
        "operationId": "listCustomers",
        "tags": ["Customers"],
        "summary": "List customers",
        "description": "Retrieve all customers created.",
        "parameters": [
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomerList" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/customers/{customerId}": {
      "get": {
        "operationId": "getCustomer",
        "tags": ["Customers"],
        "summary": "Get customer",
        "description": "Retrieve a single customer by its ID.",
        "parameters": [
          { "name": "customerId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Customer" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/methods": {
      "get": {
        "operationId": "listMethods",
        "tags": ["Methods"],
        "summary": "List all payment methods",
        "description": "Retrieve all available payment methods.",
        "parameters": [
          { "name": "locale", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "currency", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MethodList" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Use an API key or OAuth 2.0 access token"
      }
    },
    "schemas": {
      "Amount": {
        "type": "object",
        "required": ["currency", "value"],
        "properties": {
          "currency": { "type": "string", "description": "An ISO 4217 currency code." },
          "value": { "type": "string", "description": "A string containing the exact amount in the given currency." }
        }
      },
      "CreatePaymentRequest": {
        "type": "object",
        "required": ["amount", "description", "redirectUrl"],
        "properties": {
          "amount": { "$ref": "#/components/schemas/Amount" },
          "description": { "type": "string" },
          "redirectUrl": { "type": "string", "format": "uri" },
          "cancelUrl": { "type": "string", "format": "uri" },
          "webhookUrl": { "type": "string", "format": "uri" },
          "locale": { "type": "string" },
          "method": { "type": "string" },
          "metadata": { "type": "object" },
          "sequenceType": { "type": "string", "enum": ["oneoff", "first", "recurring"] },
          "customerId": { "type": "string" }
        }
      },
      "Payment": {
        "type": "object",
        "properties": {
          "resource": { "type": "string" },
          "id": { "type": "string" },
          "mode": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" },
          "amount": { "$ref": "#/components/schemas/Amount" },
          "description": { "type": "string" },
          "method": { "type": "string" },
          "metadata": { "type": "object" },
          "status": { "type": "string" },
          "isCancelable": { "type": "boolean" },
          "expiresAt": { "type": "string", "format": "date-time" },
          "profileId": { "type": "string" },
          "sequenceType": { "type": "string" },
          "redirectUrl": { "type": "string" },
          "webhookUrl": { "type": "string" },
          "_links": { "type": "object" }
        }
      },
      "PaymentList": {
        "type": "object",
        "properties": {
          "count": { "type": "integer" },
          "_embedded": {
            "type": "object",
            "properties": {
              "payments": { "type": "array", "items": { "$ref": "#/components/schemas/Payment" } }
            }
          },
          "_links": { "type": "object" }
        }
      },
      "CreateRefundRequest": {
        "type": "object",
        "required": ["amount"],
        "properties": {
          "amount": { "$ref": "#/components/schemas/Amount" },
          "description": { "type": "string" }
        }
      },
      "Refund": {
        "type": "object",
        "properties": {
          "resource": { "type": "string" },
          "id": { "type": "string" },
          "amount": { "$ref": "#/components/schemas/Amount" },
          "status": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" },
          "description": { "type": "string" },
          "paymentId": { "type": "string" }
        }
      },
      "RefundList": {
        "type": "object",
        "properties": {
          "count": { "type": "integer" },
          "_embedded": {
            "type": "object",
            "properties": {
              "refunds": { "type": "array", "items": { "$ref": "#/components/schemas/Refund" } }
            }
          }
        }
      },
      "CreateCustomerRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "locale": { "type": "string" },
          "metadata": { "type": "object" }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "resource": { "type": "string" },
          "id": { "type": "string" },
          "mode": { "type": "string" },
          "name": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "locale": { "type": "string" },
          "metadata": { "type": "object" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "CustomerList": {
        "type": "object",
        "properties": {
          "count": { "type": "integer" },
          "_embedded": {
            "type": "object",
            "properties": {
              "customers": { "type": "array", "items": { "$ref": "#/components/schemas/Customer" } }
            }
          }
        }
      },
      "Method": {
        "type": "object",
        "properties": {
          "resource": { "type": "string" },
          "id": { "type": "string" },
          "description": { "type": "string" },
          "minimumAmount": { "$ref": "#/components/schemas/Amount" },
          "maximumAmount": { "$ref": "#/components/schemas/Amount" },
          "image": { "type": "object" },
          "status": { "type": "string" }
        }
      },
      "MethodList": {
        "type": "object",
        "properties": {
          "count": { "type": "integer" },
          "_embedded": {
            "type": "object",
            "properties": {
              "methods": { "type": "array", "items": { "$ref": "#/components/schemas/Method" } }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["status", "title"],
        "properties": {
          "status": { "type": "integer" },
          "title": { "type": "string" },
          "detail": { "type": "string" },
          "_links": { "type": "object" },
          "field": { "type": "string" }
        }
      }
    }
  }
}
