{
  "openapi": "3.0.3",
  "info": {
    "title": "Bidsketch API",
    "version": "1.0.0",
    "description": "Bidsketch helps you create professional proposals in minutes. The API provides access to manage clients, proposals, proposal sections, fees, templates, and webhooks. Authentication uses HTTP token-based authorization. Rate limited to 100 requests per 20 seconds per token.",
    "x-jentic-source-url": "https://github.com/Bidsketch/bidsketch-api"
  },
  "servers": [
    {
      "url": "https://bidsketch.com/api/v1"
    }
  ],
  "paths": {
    "/clients.json": {
      "get": {
        "summary": "List all clients",
        "operationId": "listClients",
        "tags": [
          "Clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Client"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a client",
        "operationId": "createClient",
        "tags": [
          "Clients"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Client created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "426": {
            "description": "Upgrade required - plan limits exceeded"
          }
        }
      }
    },
    "/clients/{id}.json": {
      "get": {
        "summary": "Get a specific client",
        "operationId": "getClient",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a client",
        "operationId": "updateClient",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          }
        }
      },
      "delete": {
        "summary": "Delete a client and all their proposals",
        "operationId": "deleteClient",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Client deleted"
          }
        }
      }
    },
    "/clients/{id}/proposals.json": {
      "get": {
        "summary": "Get all proposals for a client",
        "operationId": "listClientProposals",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProposalSummary"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/proposals.json": {
      "get": {
        "summary": "List all proposals",
        "operationId": "listProposals",
        "tags": [
          "Proposals"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProposalSummary"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a proposal",
        "operationId": "createProposal",
        "tags": [
          "Proposals"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProposalCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Proposal created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Proposal"
                }
              }
            }
          }
        }
      }
    },
    "/proposals/stats.json": {
      "get": {
        "summary": "Get proposal statistics",
        "operationId": "getProposalStats",
        "tags": [
          "Proposals"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/proposals/{id}.json": {
      "get": {
        "summary": "Get a specific proposal",
        "operationId": "getProposal",
        "tags": [
          "Proposals"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Proposal"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a proposal",
        "operationId": "updateProposal",
        "tags": [
          "Proposals"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProposalCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Proposal updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Proposal"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a proposal",
        "operationId": "deleteProposal",
        "tags": [
          "Proposals"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Proposal deleted"
          }
        }
      }
    },
    "/proposals/{id}/content.json": {
      "get": {
        "summary": "Get proposal content with sections and fees",
        "operationId": "getProposalContent",
        "tags": [
          "Proposals"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProposalContent"
                }
              }
            }
          }
        }
      }
    },
    "/proposals/{proposal_id}/sections/opening.json": {
      "get": {
        "summary": "Get opening sections for a proposal",
        "operationId": "getProposalOpeningSections",
        "tags": [
          "Proposal Sections"
        ],
        "parameters": [
          {
            "name": "proposal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Section"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/proposals/{proposal_id}/sections/closing.json": {
      "get": {
        "summary": "Get closing sections for a proposal",
        "operationId": "getProposalClosingSections",
        "tags": [
          "Proposal Sections"
        ],
        "parameters": [
          {
            "name": "proposal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Section"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/proposals/{proposal_id}/sections.json": {
      "post": {
        "summary": "Create a section in a proposal",
        "operationId": "createProposalSection",
        "tags": [
          "Proposal Sections"
        ],
        "parameters": [
          {
            "name": "proposal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SectionCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Section created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Section"
                }
              }
            }
          }
        }
      }
    },
    "/proposals/{proposal_id}/sections/{section_id}.json": {
      "get": {
        "summary": "Get a specific proposal section",
        "operationId": "getProposalSection",
        "tags": [
          "Proposal Sections"
        ],
        "parameters": [
          {
            "name": "proposal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "section_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Section"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a proposal section",
        "operationId": "updateProposalSection",
        "tags": [
          "Proposal Sections"
        ],
        "parameters": [
          {
            "name": "proposal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "section_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SectionCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Section updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Section"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a proposal section",
        "operationId": "deleteProposalSection",
        "tags": [
          "Proposal Sections"
        ],
        "parameters": [
          {
            "name": "proposal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "section_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Section deleted"
          }
        }
      }
    },
    "/proposals/{proposal_id}/fees.json": {
      "get": {
        "summary": "Get fees for a proposal",
        "operationId": "listProposalFees",
        "tags": [
          "Proposal Fees"
        ],
        "parameters": [
          {
            "name": "proposal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Fee"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a fee in a proposal",
        "operationId": "createProposalFee",
        "tags": [
          "Proposal Fees"
        ],
        "parameters": [
          {
            "name": "proposal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeeCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Fee created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fee"
                }
              }
            }
          }
        }
      }
    },
    "/proposals/{proposal_id}/fees/{fee_id}.json": {
      "get": {
        "summary": "Get a specific proposal fee",
        "operationId": "getProposalFee",
        "tags": [
          "Proposal Fees"
        ],
        "parameters": [
          {
            "name": "proposal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fee_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fee"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a proposal fee",
        "operationId": "updateProposalFee",
        "tags": [
          "Proposal Fees"
        ],
        "parameters": [
          {
            "name": "proposal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fee_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeeCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fee updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fee"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a proposal fee",
        "operationId": "deleteProposalFee",
        "tags": [
          "Proposal Fees"
        ],
        "parameters": [
          {
            "name": "proposal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fee_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Fee deleted"
          }
        }
      }
    },
    "/templates/{id}/proposals.json": {
      "post": {
        "summary": "Create a proposal from a template",
        "operationId": "createProposalFromTemplate",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Template ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProposalCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Proposal created from template",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Proposal"
                }
              }
            }
          }
        }
      }
    },
    "/templates.json": {
      "get": {
        "summary": "List all templates",
        "operationId": "listTemplates",
        "tags": [
          "Templates"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TemplateSummary"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/templates/{id}.json": {
      "get": {
        "summary": "Get a specific template with sections and fees",
        "operationId": "getTemplate",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          }
        }
      }
    },
    "/sections.json": {
      "get": {
        "summary": "List all reusable sections",
        "operationId": "listSections",
        "tags": [
          "Sections"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Section"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a reusable section",
        "operationId": "createSection",
        "tags": [
          "Sections"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SectionCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Section created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Section"
                }
              }
            }
          }
        }
      }
    },
    "/sections/{id}.json": {
      "get": {
        "summary": "Get a specific section",
        "operationId": "getSection",
        "tags": [
          "Sections"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Section"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a section",
        "operationId": "updateSection",
        "tags": [
          "Sections"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SectionCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Section updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Section"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a section",
        "operationId": "deleteSection",
        "tags": [
          "Sections"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Section deleted"
          }
        }
      }
    },
    "/fees.json": {
      "get": {
        "summary": "List all reusable fees",
        "operationId": "listFees",
        "tags": [
          "Fees"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Fee"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a reusable fee",
        "operationId": "createFee",
        "tags": [
          "Fees"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeeCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Fee created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fee"
                }
              }
            }
          }
        }
      }
    },
    "/fees/{id}.json": {
      "get": {
        "summary": "Get a specific fee",
        "operationId": "getFee",
        "tags": [
          "Fees"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fee"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a fee",
        "operationId": "updateFee",
        "tags": [
          "Fees"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeeCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fee updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fee"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a fee",
        "operationId": "deleteFee",
        "tags": [
          "Fees"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Fee deleted"
          }
        }
      }
    },
    "/webhooks.json": {
      "post": {
        "summary": "Create a webhook",
        "operationId": "createWebhook",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{id}.json": {
      "delete": {
        "summary": "Delete a webhook",
        "operationId": "deleteWebhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook deleted"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Client": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "description": "API URL for this client"
          },
          "app_url": {
            "type": "string",
            "description": "Bidsketch app URL"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "alt_phone": {
            "type": "string"
          },
          "website": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "address2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postal_zip": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ClientCreate": {
        "type": "object",
        "required": [
          "first_name",
          "last_name",
          "email"
        ],
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "alt_phone": {
            "type": "string"
          },
          "website": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "address2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postal_zip": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "ProposalSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string"
          },
          "app_url": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "is_draft": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Proposal": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string"
          },
          "app_url": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "is_draft": {
            "type": "boolean"
          },
          "currency": {
            "type": "string"
          },
          "proposal_date": {
            "type": "string"
          },
          "tax": {
            "type": "number"
          },
          "tax2": {
            "type": "number"
          },
          "discount": {
            "type": "number"
          },
          "client": {
            "$ref": "#/components/schemas/Client"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ProposalCreate": {
        "type": "object",
        "required": [
          "name",
          "client_id"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "client_id": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "proposal_date": {
            "type": "string"
          },
          "tax": {
            "type": "number"
          },
          "tax2": {
            "type": "number"
          },
          "discount": {
            "type": "number"
          }
        }
      },
      "ProposalContent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "opening_sections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Section"
            }
          },
          "fees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Fee"
            }
          },
          "closing_sections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Section"
            }
          }
        }
      },
      "Section": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string"
          },
          "app_url": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "description": "HTML content"
          },
          "sectiontype": {
            "type": "string",
            "enum": [
              "opening",
              "closing"
            ]
          },
          "category": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SectionCreate": {
        "type": "object",
        "required": [
          "name",
          "sectiontype",
          "category",
          "description"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "sectiontype": {
            "type": "string",
            "enum": [
              "opening",
              "closing"
            ]
          },
          "category": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "description": "HTML content"
          }
        }
      },
      "Fee": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string"
          },
          "app_url": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "quantity": {
            "type": "integer"
          },
          "total": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          },
          "feetype": {
            "type": "string",
            "enum": [
              "fixed",
              "hourly",
              "monthly",
              "yearly",
              "custom"
            ]
          },
          "category": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "FeeCreate": {
        "type": "object",
        "required": [
          "name",
          "amount",
          "feetype"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "feetype": {
            "type": "string",
            "enum": [
              "fixed",
              "hourly",
              "monthly",
              "yearly",
              "custom"
            ]
          },
          "quantity": {
            "type": "integer"
          },
          "category": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "unit": {
            "type": "string",
            "description": "Required for custom fees"
          }
        }
      },
      "TemplateSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "app_url": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "app_url": {
            "type": "string"
          },
          "sections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Section"
            }
          },
          "fees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Fee"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "event": {
            "type": "string",
            "enum": [
              "client_created",
              "proposal_created",
              "proposal_sent",
              "proposal_viewed",
              "proposal_accepted",
              "proposal_declined",
              "proposal_accepted_or_declined"
            ]
          },
          "endpoint": {
            "type": "string",
            "format": "uri"
          },
          "url": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WebhookCreate": {
        "type": "object",
        "required": [
          "event",
          "endpoint"
        ],
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "client_created",
              "proposal_created",
              "proposal_sent",
              "proposal_viewed",
              "proposal_accepted",
              "proposal_declined",
              "proposal_accepted_or_declined"
            ]
          },
          "endpoint": {
            "type": "string",
            "format": "uri"
          }
        }
      }
    },
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "HTTP Token authentication. Format: Token token=\"your_api_token\""
      }
    }
  },
  "security": [
    {
      "tokenAuth": []
    }
  ],
  "tags": [
    {
      "name": "Clients"
    },
    {
      "name": "Clients.Json"
    },
    {
      "name": "Fees"
    },
    {
      "name": "Fees.Json"
    },
    {
      "name": "Proposals"
    },
    {
      "name": "Proposals.Json"
    },
    {
      "name": "Sections"
    },
    {
      "name": "Sections.Json"
    },
    {
      "name": "Templates"
    },
    {
      "name": "Templates.Json"
    },
    {
      "name": "Webhooks"
    },
    {
      "name": "Webhooks.Json"
    }
  ]
}