{
  "openapi": "3.0.3",
  "info": {
    "title": "EventMobi API",
    "description": "EventMobi API for event management and mobile apps",
    "version": "4.0.0",
    "x-jentic-source-url": "https://developers.eventmobi.com/"
  },
  "servers": [
    {
      "url": "https://api.eventmobi.com/v4"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/events": {
      "get": {
        "summary": "List events",
        "description": "Get a list of all events",
        "responses": {
          "200": {
            "description": "List of events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {"type": "string"},
                      "name": {"type": "string"},
                      "startDate": {"type": "string", "format": "date-time"},
                      "endDate": {"type": "string", "format": "date-time"}
                    }
                  }
                }
              }
            }
          },
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/events/{eventId}/attendees": {
      "get": {
        "summary": "List event attendees",
        "description": "Get attendees for a specific event",
        "parameters": [
          {"name": "eventId", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {
            "description": "List of attendees",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {"type": "string"},
                      "email": {"type": "string"},
                      "firstName": {"type": "string"},
                      "lastName": {"type": "string"}
                    }
                  }
                }
              }
            }
          },
          "404": {"description": "Not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/events/{eventId}/sessions": {
      "get": {
        "summary": "List event sessions",
        "description": "Get sessions for a specific event",
        "parameters": [
          {"name": "eventId", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {
            "description": "List of sessions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {"type": "string"},
                      "title": {"type": "string"},
                      "startTime": {"type": "string", "format": "date-time"},
                      "endTime": {"type": "string", "format": "date-time"}
                    }
                  }
                }
              }
            }
          },
          "404": {"description": "Not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {"type": "string"},
          "message": {"type": "string"}
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key for authentication"
      }
    }
  }
}
