{
  "openapi": "3.0.3",
  "info": {
    "title": "Joshua Project API",
    "description": "Access data on people groups of the world with the fewest followers of Christ. The Joshua Project API provides information about continents, countries, languages, people groups, regions, and global totals for missions research and planning.",
    "version": "1.0.0",
    "contact": {
      "name": "Joshua Project",
      "url": "https://joshuaproject.net"
    },
    "x-jentic-source-url": "https://api.joshuaproject.net/"
  },
  "servers": [
    {
      "url": "https://api.joshuaproject.net/v1",
      "description": "Joshua Project API v1 server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Continents",
      "description": "Continent-level data and statistics"
    },
    {
      "name": "Countries",
      "description": "Country-level data including demographics and religious statistics"
    },
    {
      "name": "Languages",
      "description": "Language data including Bible translation status"
    },
    {
      "name": "People Groups",
      "description": "People groups in specific countries (PGIC) and across countries (PGAC)"
    },
    {
      "name": "Regions",
      "description": "Regional groupings and statistics"
    },
    {
      "name": "Totals",
      "description": "Aggregate global statistics"
    }
  ],
  "paths": {
    "/continents.json": {
      "get": {
        "operationId": "listContinents",
        "summary": "List continents",
        "description": "Retrieve a list of continents with associated statistics on people groups, population, and religious demographics.",
        "tags": ["Continents"],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your Joshua Project API key",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "schema": { "type": "integer", "default": 250 }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Pipe-delimited list of fields to return",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of continents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Continent" }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/countries.json": {
      "get": {
        "operationId": "listCountries",
        "summary": "List countries",
        "description": "Retrieve a list of countries with demographics, religious statistics, and people group data.",
        "tags": ["Countries"],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your Joshua Project API key",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "schema": { "type": "integer", "default": 250 }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Pipe-delimited list of fields to return",
            "schema": { "type": "string" }
          },
          {
            "name": "ROG3",
            "in": "query",
            "description": "Filter by country code (FIPS)",
            "schema": { "type": "string" }
          },
          {
            "name": "Ctry",
            "in": "query",
            "description": "Filter by country name",
            "schema": { "type": "string" }
          },
          {
            "name": "RegionCode",
            "in": "query",
            "description": "Filter by region code",
            "schema": { "type": "integer" }
          },
          {
            "name": "Continent",
            "in": "query",
            "description": "Filter by continent name",
            "schema": { "type": "string" }
          },
          {
            "name": "10_40Window",
            "in": "query",
            "description": "Filter by 10/40 Window status (Y or N)",
            "schema": { "type": "string", "enum": ["Y", "N"] }
          }
        ],
        "responses": {
          "200": {
            "description": "List of countries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Country" }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/languages.json": {
      "get": {
        "operationId": "listLanguages",
        "summary": "List languages",
        "description": "Retrieve a list of languages with details on speakers, Bible translation status, and associated people groups.",
        "tags": ["Languages"],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your Joshua Project API key",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "schema": { "type": "integer", "default": 250 }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Pipe-delimited list of fields to return",
            "schema": { "type": "string" }
          },
          {
            "name": "ROL3",
            "in": "query",
            "description": "Filter by language code (ISO 639-3)",
            "schema": { "type": "string" }
          },
          {
            "name": "Language",
            "in": "query",
            "description": "Filter by language name",
            "schema": { "type": "string" }
          },
          {
            "name": "BibleStatus",
            "in": "query",
            "description": "Filter by Bible translation status",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of languages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Language" }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/people_groups.json": {
      "get": {
        "operationId": "listPeopleGroupsInCountries",
        "summary": "List people groups in countries",
        "description": "Retrieve people groups in specific countries (PGIC), including population, religion, language, and evangelical percentage data.",
        "tags": ["People Groups"],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your Joshua Project API key",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "schema": { "type": "integer", "default": 250 }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Pipe-delimited list of fields to return",
            "schema": { "type": "string" }
          },
          {
            "name": "PeopleID3",
            "in": "query",
            "description": "Filter by Joshua Project people group ID",
            "schema": { "type": "integer" }
          },
          {
            "name": "ROG3",
            "in": "query",
            "description": "Filter by country code (FIPS)",
            "schema": { "type": "string" }
          },
          {
            "name": "JPScale",
            "in": "query",
            "description": "Filter by Joshua Project Progress Scale (1-5)",
            "schema": { "type": "string" }
          },
          {
            "name": "Frontier",
            "in": "query",
            "description": "Filter for Frontier People Groups (Y or N)",
            "schema": { "type": "string", "enum": ["Y", "N"] }
          },
          {
            "name": "Unengaged",
            "in": "query",
            "description": "Filter for Unengaged Unreached People Groups (Y or N)",
            "schema": { "type": "string", "enum": ["Y", "N"] }
          },
          {
            "name": "PrimaryReligion",
            "in": "query",
            "description": "Filter by primary religion",
            "schema": { "type": "string" }
          },
          {
            "name": "RLG3",
            "in": "query",
            "description": "Filter by religion code",
            "schema": { "type": "integer" }
          },
          {
            "name": "PrimaryLanguageName",
            "in": "query",
            "description": "Filter by primary language name",
            "schema": { "type": "string" }
          },
          {
            "name": "ROL3",
            "in": "query",
            "description": "Filter by language code (ISO 639-3)",
            "schema": { "type": "string" }
          },
          {
            "name": "Continent",
            "in": "query",
            "description": "Filter by continent name",
            "schema": { "type": "string" }
          },
          {
            "name": "RegionCode",
            "in": "query",
            "description": "Filter by region code",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of people groups in countries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/PeopleGroupInCountry" }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/people_groups_across_countries.json": {
      "get": {
        "operationId": "listPeopleGroupsAcrossCountries",
        "summary": "List people groups across countries",
        "description": "Retrieve people groups aggregated across all countries (PGAC), showing global totals for each distinct people group.",
        "tags": ["People Groups"],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your Joshua Project API key",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "schema": { "type": "integer", "default": 250 }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Pipe-delimited list of fields to return",
            "schema": { "type": "string" }
          },
          {
            "name": "PeopleID3",
            "in": "query",
            "description": "Filter by Joshua Project people group ID",
            "schema": { "type": "integer" }
          },
          {
            "name": "PeopNameInEnglish",
            "in": "query",
            "description": "Filter by people group name in English",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of people groups across countries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/PeopleGroupAcrossCountries" }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/people_groups/daily_unreached.json": {
      "get": {
        "operationId": "getDailyUnreached",
        "summary": "Get daily unreached people group",
        "description": "Retrieve the featured unreached people group of the day, used for daily prayer and awareness campaigns.",
        "tags": ["People Groups"],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your Joshua Project API key",
            "schema": { "type": "string" }
          },
          {
            "name": "month",
            "in": "query",
            "description": "Month (1-12) to retrieve the unreached people group for",
            "schema": { "type": "integer", "minimum": 1, "maximum": 12 }
          },
          {
            "name": "day",
            "in": "query",
            "description": "Day (1-31) to retrieve the unreached people group for",
            "schema": { "type": "integer", "minimum": 1, "maximum": 31 }
          }
        ],
        "responses": {
          "200": {
            "description": "Daily unreached people group",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/PeopleGroupInCountry" }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/regions.json": {
      "get": {
        "operationId": "listRegions",
        "summary": "List regions",
        "description": "Retrieve a list of regions with associated statistics.",
        "tags": ["Regions"],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your Joshua Project API key",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "schema": { "type": "integer", "default": 250 }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Pipe-delimited list of fields to return",
            "schema": { "type": "string" }
          },
          {
            "name": "RegionCode",
            "in": "query",
            "description": "Filter by region code",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of regions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Region" }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/totals.json": {
      "get": {
        "operationId": "getTotals",
        "summary": "Get global totals",
        "description": "Retrieve aggregate global statistics on people groups, population, unreached status, and other summary data.",
        "tags": ["Totals"],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your Joshua Project API key",
            "schema": { "type": "string" }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Pipe-delimited list of fields to return",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Global totals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Totals" }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "API key for authenticating requests. Obtain from https://api.joshuaproject.net/"
      }
    },
    "schemas": {
      "Continent": {
        "type": "object",
        "properties": {
          "Continent": { "type": "string", "description": "Continent name" },
          "NbrCountries": { "type": "integer", "description": "Number of countries in this continent" },
          "NbrPGIC": { "type": "integer", "description": "Number of people groups in countries" },
          "NbrUnreached": { "type": "integer", "description": "Number of unreached people groups" },
          "Population": { "type": "integer", "description": "Total population" },
          "PercentChristianAdherent": { "type": "number", "format": "float", "description": "Percentage of Christian adherents" },
          "PercentEvangelical": { "type": "number", "format": "float", "description": "Percentage of evangelicals" }
        }
      },
      "Country": {
        "type": "object",
        "properties": {
          "ROG3": { "type": "string", "description": "Country code (FIPS)" },
          "Ctry": { "type": "string", "description": "Country name" },
          "ISO3": { "type": "string", "description": "ISO 3166-1 alpha-3 country code" },
          "Continent": { "type": "string", "description": "Continent name" },
          "RegionCode": { "type": "integer", "description": "Region code" },
          "RegionName": { "type": "string", "description": "Region name" },
          "Population": { "type": "integer", "description": "Country population" },
          "PopulationGrowth": { "type": "number", "format": "float", "description": "Annual population growth rate" },
          "PrimaryLanguageName": { "type": "string", "description": "Primary official language" },
          "PrimaryReligion": { "type": "string", "description": "Primary religion" },
          "PercentChristianAdherent": { "type": "number", "format": "float" },
          "PercentEvangelical": { "type": "number", "format": "float" },
          "NbrPGIC": { "type": "integer", "description": "Number of people groups in this country" },
          "NbrUnreached": { "type": "integer", "description": "Number of unreached people groups" },
          "10_40Window": { "type": "string", "description": "Whether the country is in the 10/40 Window (Y or N)" },
          "CntPrimaryLanguages": { "type": "integer", "description": "Number of primary languages" },
          "CapitalCity": { "type": "string", "description": "Capital city name" }
        }
      },
      "Language": {
        "type": "object",
        "properties": {
          "ROL3": { "type": "string", "description": "Language code (ISO 639-3)" },
          "Language": { "type": "string", "description": "Language name" },
          "WebLanguageName": { "type": "string", "description": "Web-formatted language name" },
          "NbrCountries": { "type": "integer", "description": "Number of countries where this language is spoken" },
          "NbrPGIC": { "type": "integer", "description": "Number of people groups speaking this language" },
          "Population": { "type": "integer", "description": "Total speakers" },
          "BibleStatus": { "type": "integer", "description": "Bible translation status code" },
          "BibleYear": { "type": "integer", "description": "Year of Bible translation" },
          "NTYear": { "type": "integer", "description": "Year of New Testament translation" },
          "PortionsYear": { "type": "integer", "description": "Year of Bible portions translation" },
          "TranslationNeedQuestionable": { "type": "string", "description": "Whether translation need is questionable" },
          "LeastReached": { "type": "string", "description": "Whether the language is least reached (Y or N)" },
          "PercentAdherents": { "type": "number", "format": "float" },
          "PercentEvangelical": { "type": "number", "format": "float" }
        }
      },
      "PeopleGroupInCountry": {
        "type": "object",
        "properties": {
          "PeopleID3": { "type": "integer", "description": "Joshua Project people group ID" },
          "PeopNameInEnglish": { "type": "string", "description": "People group name in English" },
          "ROG3": { "type": "string", "description": "Country code (FIPS)" },
          "Ctry": { "type": "string", "description": "Country name" },
          "Continent": { "type": "string", "description": "Continent name" },
          "RegionCode": { "type": "integer", "description": "Region code" },
          "RegionName": { "type": "string", "description": "Region name" },
          "Population": { "type": "integer", "description": "Population of this people group in this country" },
          "PrimaryLanguageName": { "type": "string", "description": "Primary language name" },
          "ROL3": { "type": "string", "description": "Language code (ISO 639-3)" },
          "PrimaryReligion": { "type": "string", "description": "Primary religion" },
          "RLG3": { "type": "integer", "description": "Religion code" },
          "PercentAdherents": { "type": "number", "format": "float", "description": "Percentage of Christian adherents" },
          "PercentEvangelical": { "type": "number", "format": "float", "description": "Percentage of evangelicals" },
          "JPScale": { "type": "string", "description": "Joshua Project progress scale (1-5)" },
          "JPScaleText": { "type": "string", "description": "Human-readable progress scale description" },
          "LeastReached": { "type": "string", "description": "Whether this group is unreached (Y or N)" },
          "Frontier": { "type": "string", "description": "Whether this is a Frontier People Group (Y or N)" },
          "10_40Window": { "type": "string", "description": "Whether the country is in the 10/40 Window" },
          "PeopleCluster": { "type": "string", "description": "People cluster name" },
          "AffinityBloc": { "type": "string", "description": "Affinity bloc name" },
          "PhotoAddress": { "type": "string", "description": "URL to people group photo" },
          "ProfileText": { "type": "string", "description": "Brief profile description" },
          "PrayerText": { "type": "string", "description": "Prayer request text" }
        }
      },
      "PeopleGroupAcrossCountries": {
        "type": "object",
        "properties": {
          "PeopleID3": { "type": "integer", "description": "Joshua Project people group ID" },
          "PeopNameInEnglish": { "type": "string", "description": "People group name in English" },
          "NbrCountries": { "type": "integer", "description": "Number of countries this people group spans" },
          "Population": { "type": "integer", "description": "Total global population of this people group" },
          "PrimaryLanguageName": { "type": "string", "description": "Primary language" },
          "PrimaryReligion": { "type": "string", "description": "Primary religion" },
          "PercentAdherents": { "type": "number", "format": "float" },
          "PercentEvangelical": { "type": "number", "format": "float" },
          "JPScale": { "type": "string", "description": "Joshua Project progress scale (1-5)" },
          "LeastReached": { "type": "string", "description": "Whether this group is unreached (Y or N)" },
          "Frontier": { "type": "string", "description": "Whether this is a Frontier People Group" },
          "PeopleCluster": { "type": "string" },
          "AffinityBloc": { "type": "string" }
        }
      },
      "Region": {
        "type": "object",
        "properties": {
          "RegionCode": { "type": "integer", "description": "Region identifier code" },
          "RegionName": { "type": "string", "description": "Region name" },
          "NbrCountries": { "type": "integer", "description": "Number of countries in this region" },
          "NbrPGIC": { "type": "integer", "description": "Number of people groups in countries" },
          "NbrUnreached": { "type": "integer", "description": "Number of unreached people groups" },
          "Population": { "type": "integer", "description": "Total population" },
          "PercentChristianAdherent": { "type": "number", "format": "float" },
          "PercentEvangelical": { "type": "number", "format": "float" }
        }
      },
      "Totals": {
        "type": "object",
        "properties": {
          "TotalPGIC": { "type": "integer", "description": "Total people groups in countries worldwide" },
          "TotalPGAC": { "type": "integer", "description": "Total distinct people groups across countries" },
          "TotalCountries": { "type": "integer", "description": "Total countries" },
          "TotalLanguages": { "type": "integer", "description": "Total languages" },
          "TotalUnreachedPGIC": { "type": "integer", "description": "Total unreached people groups in countries" },
          "TotalFrontierPGIC": { "type": "integer", "description": "Total Frontier People Groups in countries" },
          "WorldPopulation": { "type": "integer", "description": "World population" },
          "UnreachedPopulation": { "type": "integer", "description": "Population in unreached people groups" },
          "PercentWorldChristianAdherent": { "type": "number", "format": "float" },
          "PercentWorldEvangelical": { "type": "number", "format": "float" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": { "type": "string", "description": "Error type identifier" },
          "message": { "type": "string", "description": "Human-readable error message" }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - invalid or missing parameters",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - missing or invalid API key",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" }
          }
        }
      }
    }
  }
}
