{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "url": "http://developer.ticketmaster.com/support/contact-us/"
    },
    "description": "Use the Ticketmaster Commerce API to look up available offers and products on various Ticketmaster platforms for North America markets. For formal partnerships and relationships, selected offers and products can be carted and transacted on through the cart, delivery, payment and purchase APIs \u2013 These APIs require approved access from Ticketmaster.",
    "title": "Commerce API",
    "version": "v2",
    "x-jentic-source-url": "https://raw.githubusercontent.com/ticketmaster-api/ticketmaster-api.github.io/dev/_data/orgs/commerce-api/v2/api.json"
  },
  "servers": [
    {
      "url": "https://app.ticketmaster.com/discovery/v2"
    }
  ],
  "paths": {
    "/commerce/v2/events/{eventId}/offers": {
      "get": {
        "parameters": [
          {
            "description": "API Key for external API developer",
            "in": "header",
            "name": "X-SSL-CERT-UID",
            "required": false,
            "schema": {
              "default": "",
              "type": "string"
            }
          },
          {
            "description": "Access token for",
            "in": "header",
            "name": "X-TM-ACCESS-TOKEN",
            "required": false,
            "schema": {
              "default": "",
              "type": "string"
            }
          },
          {
            "description": "Query Param Access Token",
            "in": "query",
            "name": "access_token",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Query Param API Key for external API developer",
            "in": "query",
            "name": "api-key",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Event Identifier",
            "in": "path",
            "name": "eventId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OfferingResponse"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "description": "Returns Event Offers.",
        "operationId": "getEventOffers",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "description": "displayId to un-hide protected offers"
        },
        "summary": "Event Offers"
      }
    }
  },
  "components": {
    "schemas": {
      "Area": {
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/SimpleLinks"
          },
          "attributes": {
            "$ref": "#/components/schemas/AreaAttributes"
          },
          "id": {
            "type": "string"
          },
          "relationships": {
            "$ref": "#/components/schemas/AreaRelationships"
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "AreaAttributes": {
        "properties": {
          "areaType": {
            "enum": [
              "LEVEL",
              "SECTION",
              "AREA"
            ],
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "rank": {
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "AreaRelationships": {
        "properties": {
          "areas": {
            "$ref": "#/components/schemas/ResponseObjectRefList"
          },
          "offers": {
            "$ref": "#/components/schemas/ResponseObjectRefList"
          },
          "priceZones": {
            "$ref": "#/components/schemas/ResponseObjectRefList"
          }
        },
        "type": "object"
      },
      "AttributeRef": {
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/SimpleLinks"
          },
          "attributes": {
            "$ref": "#/components/schemas/AttributeRefAttributes"
          },
          "id": {
            "type": "string"
          },
          "relationships": {
            "$ref": "#/components/schemas/AttributeRefRelationships"
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "AttributeRefAttributes": {
        "properties": {
          "description": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "AttributeRefRelationships": {
        "type": "object"
      },
      "EventMappingView": {
        "properties": {
          "id": {
            "type": "string"
          },
          "source": {
            "$ref": "#/components/schemas/Source"
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "HoldRef": {
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/SimpleLinks"
          },
          "attributes": {
            "$ref": "#/components/schemas/HoldRefAttributes"
          },
          "id": {
            "type": "string"
          },
          "relationships": {
            "$ref": "#/components/schemas/HoldRefRelationships"
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "HoldRefAttributes": {
        "type": "object"
      },
      "HoldRefRelationships": {
        "type": "object"
      },
      "HrefLinkValue": {
        "properties": {
          "href": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Limit": {
        "properties": {
          "max": {
            "format": "int32",
            "type": "integer"
          },
          "maxAccessibleSeats": {
            "format": "int32",
            "type": "integer"
          },
          "maxCompanionSeatsPerAccessibleSeat": {
            "format": "int32",
            "type": "integer"
          },
          "min": {
            "format": "int32",
            "type": "integer"
          },
          "multiples": {
            "format": "int32",
            "type": "integer"
          },
          "sellableQty": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Links": {
        "type": "object"
      },
      "Offer": {
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/SimpleLinks"
          },
          "attributes": {
            "$ref": "#/components/schemas/OfferAttributes"
          },
          "id": {
            "type": "string"
          },
          "relationships": {
            "$ref": "#/components/schemas/OfferRelationships"
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "OfferAttributes": {
        "properties": {
          "currency": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "end": {
            "format": "date-time",
            "type": "string"
          },
          "limit": {
            "$ref": "#/components/schemas/Limit"
          },
          "name": {
            "type": "string"
          },
          "offerDetails": {
            "$ref": "#/components/schemas/OfferDetails"
          },
          "offerType": {
            "type": "string"
          },
          "prices": {
            "items": {
              "$ref": "#/components/schemas/OfferPrice"
            },
            "type": "array"
          },
          "rank": {
            "format": "int32",
            "type": "integer"
          },
          "start": {
            "format": "date-time",
            "type": "string"
          }
        },
        "type": "object"
      },
      "OfferDetails": {
        "properties": {
          "link": {
            "type": "string"
          },
          "linkText": {
            "type": "string"
          },
          "text": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "OfferPrice": {
        "properties": {
          "fees": {
            "items": {
              "$ref": "#/components/schemas/OfferPriceFee"
            },
            "type": "array"
          },
          "priceZone": {
            "type": "string"
          },
          "taxes": {
            "items": {
              "$ref": "#/components/schemas/OfferPriceTax"
            },
            "type": "array"
          },
          "total": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "OfferPriceFee": {
        "properties": {
          "label": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "OfferPriceTax": {
        "properties": {
          "label": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "OfferRelationships": {
        "properties": {
          "areas": {
            "$ref": "#/components/schemas/ResponseObjectRefList"
          },
          "offerSets": {
            "$ref": "#/components/schemas/ResponseObjectRefList"
          },
          "passwords": {
            "$ref": "#/components/schemas/ResponseObjectRefList"
          },
          "priceZones": {
            "$ref": "#/components/schemas/ResponseObjectRefList"
          },
          "products": {
            "$ref": "#/components/schemas/ResponseObjectRefList"
          }
        },
        "type": "object"
      },
      "OfferedPrice": {
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/SimpleLinks"
          },
          "attributes": {
            "$ref": "#/components/schemas/OfferedPriceAttributes"
          },
          "id": {
            "type": "string"
          },
          "relationships": {
            "$ref": "#/components/schemas/OfferedPriceRelationships"
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "OfferedPriceAttributes": {
        "properties": {
          "currency": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "OfferedPriceRelationships": {
        "properties": {
          "areas": {
            "$ref": "#/components/schemas/ResponseObjectRefList"
          },
          "offers": {
            "$ref": "#/components/schemas/ResponseObjectRefListSimpleLinks"
          },
          "priceZones": {
            "$ref": "#/components/schemas/ResponseObjectRefListSimpleLinks"
          }
        },
        "type": "object"
      },
      "OfferingResponse": {
        "properties": {
          "_embedded": {
            "$ref": "#/components/schemas/OfferingResponseEmbeddedData"
          },
          "debug": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "limits": {
            "$ref": "#/components/schemas/Limit"
          },
          "metadata": {
            "$ref": "#/components/schemas/OfferingResponseMetadata"
          },
          "offers": {
            "items": {
              "$ref": "#/components/schemas/Offer"
            },
            "type": "array"
          },
          "prices": {
            "$ref": "#/components/schemas/ResponseObjectListOfferedPriceSimpleLinks"
          }
        },
        "type": "object"
      },
      "OfferingResponseEmbeddedData": {
        "properties": {
          "areas": {
            "$ref": "#/components/schemas/ResponseObjectListAreaSimpleLinks"
          },
          "attributesRefs": {
            "$ref": "#/components/schemas/ResponseObjectListAttributeRefSimpleLinks"
          },
          "holds": {
            "$ref": "#/components/schemas/ResponseObjectListHoldRefSimpleLinks"
          },
          "passwords": {
            "$ref": "#/components/schemas/ResponseObjectListPasswordSimpleLinks"
          },
          "priceZones": {
            "$ref": "#/components/schemas/ResponseObjectListPriceZoneSimpleLinks"
          }
        },
        "type": "object"
      },
      "OfferingResponseMetadata": {
        "properties": {
          "accessibleSeatingEnabled": {
            "default": false,
            "type": "boolean"
          },
          "eventMapping": {
            "$ref": "#/components/schemas/EventMappingView"
          }
        },
        "type": "object"
      },
      "Password": {
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/SimpleLinks"
          },
          "attributes": {
            "$ref": "#/components/schemas/PasswordAttributes"
          },
          "id": {
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/PasswordMetadata"
          },
          "relationships": {
            "$ref": "#/components/schemas/PasswordRelationships"
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "PasswordAttributes": {
        "properties": {
          "end": {
            "format": "date-time",
            "type": "string"
          },
          "exclusive": {
            "default": false,
            "type": "boolean"
          },
          "link": {
            "type": "string"
          },
          "linkLabel": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "prompts": {
            "items": {
              "$ref": "#/components/schemas/Prompt"
            },
            "type": "array"
          },
          "start": {
            "format": "date-time",
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "textLabel": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "PasswordMetadata": {
        "discriminator": {
          "propertyName": "type"
        },
        "properties": {
          "offerIds": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "PasswordRelationships": {
        "properties": {
          "offers": {
            "$ref": "#/components/schemas/ResponseObjectRefListSimpleLinks"
          }
        },
        "type": "object"
      },
      "PriceZone": {
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/SimpleLinks"
          },
          "attributes": {
            "$ref": "#/components/schemas/PriceZoneAttributes"
          },
          "id": {
            "type": "string"
          },
          "relationships": {
            "$ref": "#/components/schemas/PriceZoneRelationships"
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "PriceZoneAttributes": {
        "properties": {
          "currency": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "PriceZoneRelationships": {
        "properties": {
          "areas": {
            "$ref": "#/components/schemas/ResponseObjectRefList"
          },
          "offers": {
            "$ref": "#/components/schemas/ResponseObjectRefList"
          }
        },
        "type": "object"
      },
      "Prompt": {
        "properties": {
          "id": {
            "type": "string"
          },
          "text": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "ResponseObjectListAreaSimpleLinks": {
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/SimpleLinks"
          },
          "data": {
            "items": {
              "$ref": "#/components/schemas/Area"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ResponseObjectListAttributeRefSimpleLinks": {
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/SimpleLinks"
          },
          "data": {
            "items": {
              "$ref": "#/components/schemas/AttributeRef"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ResponseObjectListHoldRefSimpleLinks": {
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/SimpleLinks"
          },
          "data": {
            "items": {
              "$ref": "#/components/schemas/HoldRef"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ResponseObjectListOfferedPriceSimpleLinks": {
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/SimpleLinks"
          },
          "data": {
            "items": {
              "$ref": "#/components/schemas/OfferedPrice"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ResponseObjectListPasswordSimpleLinks": {
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/SimpleLinks"
          },
          "data": {
            "items": {
              "$ref": "#/components/schemas/Password"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ResponseObjectListPriceZoneSimpleLinks": {
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/SimpleLinks"
          },
          "data": {
            "items": {
              "$ref": "#/components/schemas/PriceZone"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ResponseObjectRef": {
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "ResponseObjectRefList": {
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "data": {
            "items": {
              "$ref": "#/components/schemas/ResponseObjectRef"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ResponseObjectRefListSimpleLinks": {
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/SimpleLinks"
          },
          "data": {
            "items": {
              "$ref": "#/components/schemas/ResponseObjectRef"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "SimpleLinks": {
        "properties": {
          "self": {
            "$ref": "#/components/schemas/HrefLinkValue"
          }
        },
        "type": "object"
      },
      "Source": {
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  }
}