{
  "openapi": "3.0.3",
  "info": {
    "title": "Churchpool Zapier API",
    "version": "1.0.0",
    "description": "Churchpool API for managing parish posts via Zapier integration.",
    "x-jentic-source-url": "https://app.swaggerhub.com/apis-docs/Churchpool/Churchpool/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.churchpool.com"
    },
    {
      "url": "https://churchpool-api.dhimahi.com"
    }
  ],
  "paths": {
    "/v3/parish/{parishId}/post": {
      "get": {
        "operationId": "getParishPosts",
        "summary": "Get posts for a parish",
        "description": "Retrieves posts for a specific parish, sorted by the specified field and order.",
        "tags": ["Posts"],
        "parameters": [
          {
            "name": "parishId",
            "in": "path",
            "description": "The parish identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field and direction (e.g., createdDate,DESC)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "createdDate,DESC"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Post": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Post identifier"
          },
          "title": {
            "type": "string",
            "description": "Post title"
          },
          "content": {
            "type": "string",
            "description": "Post content"
          },
          "createdDate": {
            "type": "string",
            "format": "date-time",
            "description": "Creation date"
          }
        }
      },
      "PostListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Post"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["error"]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}
