{
  "openapi": "3.0.3",
  "info": {
    "title": "RouteOne API",
    "version": "1.0.0",
    "description": "Automotive financing and lending platform",
    "x-jentic-source-url": "https://developer.routeone.com/"
  },
  "servers": [
    {
      "url": "https://api.routeone.com"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    "Dealers",
    "Lenders",
    "Applications"
  ],
  "paths": {
    "/applications": {
      "post": {
        "summary": "Submit credit application",
        "description": "Submit credit application",
        "tags": [
          "Applications"
        ],
        "operationId": "submitApplication",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/applications/{applicationId}": {
      "get": {
        "summary": "Get application status",
        "description": "Get application status",
        "tags": [
          "Applications"
        ],
        "operationId": "getApplicationStatus",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/dealers": {
      "get": {
        "summary": "List dealers",
        "description": "List dealers",
        "tags": [
          "Dealers"
        ],
        "operationId": "listDealers",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/lenders": {
      "get": {
        "summary": "List lenders",
        "description": "List lenders",
        "tags": [
          "Lenders"
        ],
        "operationId": "listLenders",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      }
    }
  }
}