{
  "openapi": "3.1.0",
  "info": {
    "title": "Flightradar24 API",
    "description": "Flightradar24 API provides access to real-time and historical flight tracking data, including live flight positions, flight summaries, flight tracks, flight events, airline information, and airport information. Data is available from May 11, 2016 onward for historical queries.",
    "version": "1.0.0",
    "contact": {
      "name": "Flightradar24",
      "url": "https://fr24api.flightradar24.com"
    },
    "termsOfService": "https://www.flightradar24.com/terms-and-conditions"
  },
  "servers": [
    {
      "url": "https://fr24api.flightradar24.com",
      "description": "Flightradar24 API production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/static/airlines/{icao}/light": {
      "get": {
        "operationId": "getAirlineLight",
        "summary": "Get basic airline information",
        "description": "Retrieves basic airline information filtered by ICAO code.",
        "tags": ["Airlines"],
        "parameters": [
          {
            "name": "icao",
            "in": "path",
            "required": true,
            "description": "Airline ICAO code (e.g., 'SAS', 'DLH').",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Basic airline information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirlineLight"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/static/airports/{code}/light": {
      "get": {
        "operationId": "getAirportLight",
        "summary": "Get basic airport information",
        "description": "Retrieves basic airport information by IATA (3-letter) or ICAO (4-letter) code.",
        "tags": ["Airports"],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "description": "Airport IATA or ICAO code (e.g., 'LHR', 'EGLL', 'WAW', 'EPWA').",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Basic airport information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirportLight"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/static/airports/{code}/full": {
      "get": {
        "operationId": "getAirportFull",
        "summary": "Get detailed airport information",
        "description": "Retrieves detailed airport information including runways, timezone, and geographic data.",
        "tags": ["Airports"],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "description": "Airport IATA or ICAO code (e.g., 'LHR', 'EGLL').",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detailed airport information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirportFull"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/live/flight-positions/light": {
      "get": {
        "operationId": "getLiveFlightPositionsLight",
        "summary": "Get live flight positions (light)",
        "description": "Retrieves real-time aircraft position data with basic parameters. At least one filter parameter is required.",
        "tags": ["Live Flight Positions"],
        "parameters": [
          { "$ref": "#/components/parameters/bounds" },
          { "$ref": "#/components/parameters/flights" },
          { "$ref": "#/components/parameters/callsigns" },
          { "$ref": "#/components/parameters/registrations" },
          { "$ref": "#/components/parameters/painted_as" },
          { "$ref": "#/components/parameters/operating_as" },
          { "$ref": "#/components/parameters/airports" },
          { "$ref": "#/components/parameters/routes" },
          { "$ref": "#/components/parameters/aircraft" },
          { "$ref": "#/components/parameters/altitude_ranges" },
          { "$ref": "#/components/parameters/squawks" },
          { "$ref": "#/components/parameters/categories" },
          { "$ref": "#/components/parameters/data_sources" },
          { "$ref": "#/components/parameters/airspaces" },
          { "$ref": "#/components/parameters/gspeed" },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Live flight positions (light).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightPositionsLightResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/live/flight-positions/full": {
      "get": {
        "operationId": "getLiveFlightPositionsFull",
        "summary": "Get live flight positions (full)",
        "description": "Retrieves comprehensive real-time flight information including origin, destination, and aircraft type. At least one filter parameter is required.",
        "tags": ["Live Flight Positions"],
        "parameters": [
          { "$ref": "#/components/parameters/bounds" },
          { "$ref": "#/components/parameters/flights" },
          { "$ref": "#/components/parameters/callsigns" },
          { "$ref": "#/components/parameters/registrations" },
          { "$ref": "#/components/parameters/painted_as" },
          { "$ref": "#/components/parameters/operating_as" },
          { "$ref": "#/components/parameters/airports" },
          { "$ref": "#/components/parameters/routes" },
          { "$ref": "#/components/parameters/aircraft" },
          { "$ref": "#/components/parameters/altitude_ranges" },
          { "$ref": "#/components/parameters/squawks" },
          { "$ref": "#/components/parameters/categories" },
          { "$ref": "#/components/parameters/data_sources" },
          { "$ref": "#/components/parameters/airspaces" },
          { "$ref": "#/components/parameters/gspeed" },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Live flight positions (full).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightPositionsFullResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/live/flight-positions/count": {
      "get": {
        "operationId": "getLiveFlightPositionsCount",
        "summary": "Count live flight positions",
        "description": "Returns count of live flight positions matching filter criteria. Does not support the airspaces parameter.",
        "tags": ["Live Flight Positions"],
        "parameters": [
          { "$ref": "#/components/parameters/bounds" },
          { "$ref": "#/components/parameters/flights" },
          { "$ref": "#/components/parameters/callsigns" },
          { "$ref": "#/components/parameters/registrations" },
          { "$ref": "#/components/parameters/painted_as" },
          { "$ref": "#/components/parameters/operating_as" },
          { "$ref": "#/components/parameters/airports" },
          { "$ref": "#/components/parameters/routes" },
          { "$ref": "#/components/parameters/aircraft" },
          { "$ref": "#/components/parameters/altitude_ranges" },
          { "$ref": "#/components/parameters/squawks" },
          { "$ref": "#/components/parameters/categories" },
          { "$ref": "#/components/parameters/data_sources" },
          { "$ref": "#/components/parameters/gspeed" },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Count of matching live flight positions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/historic/flight-positions/light": {
      "get": {
        "operationId": "getHistoricFlightPositionsLight",
        "summary": "Get historic flight positions (light)",
        "description": "Retrieves historical flight position data with basic details. Historical data available from May 11, 2016 onward. The timestamp parameter is required.",
        "tags": ["Historic Flight Positions"],
        "parameters": [
          { "$ref": "#/components/parameters/timestamp" },
          { "$ref": "#/components/parameters/bounds" },
          { "$ref": "#/components/parameters/flights" },
          { "$ref": "#/components/parameters/callsigns" },
          { "$ref": "#/components/parameters/registrations" },
          { "$ref": "#/components/parameters/painted_as" },
          { "$ref": "#/components/parameters/operating_as" },
          { "$ref": "#/components/parameters/airports" },
          { "$ref": "#/components/parameters/routes" },
          { "$ref": "#/components/parameters/aircraft" },
          { "$ref": "#/components/parameters/altitude_ranges" },
          { "$ref": "#/components/parameters/squawks" },
          { "$ref": "#/components/parameters/categories" },
          { "$ref": "#/components/parameters/data_sources" },
          { "$ref": "#/components/parameters/gspeed" },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historic flight positions (light).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightPositionsLightResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/historic/flight-positions/full": {
      "get": {
        "operationId": "getHistoricFlightPositionsFull",
        "summary": "Get historic flight positions (full)",
        "description": "Retrieves comprehensive historical flight position data. Historical data available from May 11, 2016 onward. The timestamp parameter is required.",
        "tags": ["Historic Flight Positions"],
        "parameters": [
          { "$ref": "#/components/parameters/timestamp" },
          { "$ref": "#/components/parameters/bounds" },
          { "$ref": "#/components/parameters/flights" },
          { "$ref": "#/components/parameters/callsigns" },
          { "$ref": "#/components/parameters/registrations" },
          { "$ref": "#/components/parameters/painted_as" },
          { "$ref": "#/components/parameters/operating_as" },
          { "$ref": "#/components/parameters/airports" },
          { "$ref": "#/components/parameters/routes" },
          { "$ref": "#/components/parameters/aircraft" },
          { "$ref": "#/components/parameters/altitude_ranges" },
          { "$ref": "#/components/parameters/squawks" },
          { "$ref": "#/components/parameters/categories" },
          { "$ref": "#/components/parameters/data_sources" },
          { "$ref": "#/components/parameters/gspeed" },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historic flight positions (full).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightPositionsFullResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/historic/flight-positions/count": {
      "get": {
        "operationId": "getHistoricFlightPositionsCount",
        "summary": "Count historic flight positions",
        "description": "Returns count of historical flight positions matching filter criteria. The timestamp parameter is required.",
        "tags": ["Historic Flight Positions"],
        "parameters": [
          { "$ref": "#/components/parameters/timestamp" },
          { "$ref": "#/components/parameters/bounds" },
          { "$ref": "#/components/parameters/flights" },
          { "$ref": "#/components/parameters/callsigns" },
          { "$ref": "#/components/parameters/registrations" },
          { "$ref": "#/components/parameters/painted_as" },
          { "$ref": "#/components/parameters/operating_as" },
          { "$ref": "#/components/parameters/airports" },
          { "$ref": "#/components/parameters/routes" },
          { "$ref": "#/components/parameters/aircraft" },
          { "$ref": "#/components/parameters/altitude_ranges" },
          { "$ref": "#/components/parameters/squawks" },
          { "$ref": "#/components/parameters/categories" },
          { "$ref": "#/components/parameters/data_sources" },
          { "$ref": "#/components/parameters/gspeed" },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Count of matching historic flight positions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/flight-summary/light": {
      "get": {
        "operationId": "getFlightSummaryLight",
        "summary": "Get flight summaries (light)",
        "description": "Retrieves lightweight flight summaries. Either flight_ids or a time range (flight_datetime_from and flight_datetime_to) must be supplied.",
        "tags": ["Flight Summary"],
        "parameters": [
          { "$ref": "#/components/parameters/flight_ids" },
          { "$ref": "#/components/parameters/flight_datetime_from" },
          { "$ref": "#/components/parameters/flight_datetime_to" },
          { "$ref": "#/components/parameters/flights" },
          { "$ref": "#/components/parameters/callsigns" },
          { "$ref": "#/components/parameters/registrations" },
          { "$ref": "#/components/parameters/painted_as" },
          { "$ref": "#/components/parameters/operating_as" },
          { "$ref": "#/components/parameters/airports" },
          { "$ref": "#/components/parameters/routes" },
          { "$ref": "#/components/parameters/aircraft" },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting specification.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Flight summaries (light).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightSummaryLightResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/flight-summary/full": {
      "get": {
        "operationId": "getFlightSummaryFull",
        "summary": "Get flight summaries (full)",
        "description": "Retrieves detailed flight summaries with additional fields. Either flight_ids or a time range must be supplied.",
        "tags": ["Flight Summary"],
        "parameters": [
          { "$ref": "#/components/parameters/flight_ids" },
          { "$ref": "#/components/parameters/flight_datetime_from" },
          { "$ref": "#/components/parameters/flight_datetime_to" },
          { "$ref": "#/components/parameters/flights" },
          { "$ref": "#/components/parameters/callsigns" },
          { "$ref": "#/components/parameters/registrations" },
          { "$ref": "#/components/parameters/painted_as" },
          { "$ref": "#/components/parameters/operating_as" },
          { "$ref": "#/components/parameters/airports" },
          { "$ref": "#/components/parameters/routes" },
          { "$ref": "#/components/parameters/aircraft" },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting specification.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Flight summaries (full).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightSummaryFullResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/flight-summary/count": {
      "get": {
        "operationId": "getFlightSummaryCount",
        "summary": "Count flight summaries",
        "description": "Returns the count of flight summaries matching filter criteria. Either flight_ids or a time range must be supplied.",
        "tags": ["Flight Summary"],
        "parameters": [
          { "$ref": "#/components/parameters/flight_ids" },
          { "$ref": "#/components/parameters/flight_datetime_from" },
          { "$ref": "#/components/parameters/flight_datetime_to" },
          { "$ref": "#/components/parameters/flights" },
          { "$ref": "#/components/parameters/callsigns" },
          { "$ref": "#/components/parameters/registrations" },
          { "$ref": "#/components/parameters/painted_as" },
          { "$ref": "#/components/parameters/operating_as" },
          { "$ref": "#/components/parameters/airports" },
          { "$ref": "#/components/parameters/routes" },
          { "$ref": "#/components/parameters/aircraft" }
        ],
        "responses": {
          "200": {
            "description": "Count of matching flight summaries.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/flight-tracks": {
      "get": {
        "operationId": "getFlightTracks",
        "summary": "Get flight tracks",
        "description": "Retrieves positional tracking data (trackpoints) for a specific flight.",
        "tags": ["Flight Tracks"],
        "parameters": [
          {
            "name": "flight_id",
            "in": "query",
            "required": true,
            "description": "Flightradar24 ID of active flight in hexadecimal (e.g., '34242a02').",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Flight track data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightTracksResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/historic/flight-events/light": {
      "get": {
        "operationId": "getHistoricFlightEventsLight",
        "summary": "Get historic flight events (light)",
        "description": "Retrieves lightweight historical flight event data.",
        "tags": ["Historic Flight Events"],
        "parameters": [
          {
            "name": "flight_ids",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of FR24 flight IDs (max 15).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_types",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of event types to filter.",
            "schema": {
              "type": "string",
              "enum": ["all", "gate_departure", "takeoff", "cruising", "airspace_transition", "descent", "diverting", "diverted", "landed", "gate_arrival"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historic flight events (light).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightEventsLightResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/historic/flight-events/full": {
      "get": {
        "operationId": "getHistoricFlightEventsFull",
        "summary": "Get historic flight events (full)",
        "description": "Retrieves comprehensive historical flight event data with additional flight and aircraft details such as origin, destination, and aircraft type.",
        "tags": ["Historic Flight Events"],
        "parameters": [
          {
            "name": "flight_ids",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of FR24 flight IDs (max 15).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_types",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of event types to filter.",
            "schema": {
              "type": "string",
              "enum": ["all", "gate_departure", "takeoff", "cruising", "airspace_transition", "descent", "diverting", "diverted", "landed", "gate_arrival"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historic flight events (full).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightEventsFullResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/usage": {
      "get": {
        "operationId": "getUsage",
        "summary": "Get API usage statistics",
        "description": "Retrieves information on API account usage for the specified time period.",
        "tags": ["Usage"],
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "description": "Time period for usage statistics.",
            "schema": {
              "type": "string",
              "enum": ["24h", "7d", "30d", "1y"],
              "default": "24h"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API usage statistics.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageLogSummaryResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication. Obtain your API token from the Flightradar24 API portal. Can also be set via the FR24_API_TOKEN environment variable when using the official SDKs."
      }
    },
    "parameters": {
      "bounds": {
        "name": "bounds",
        "in": "query",
        "description": "Geographic bounding box in format 'north,south,west,east' (e.g., '55.6,55.5,12.5,12.6').",
        "schema": {
          "type": "string"
        }
      },
      "flights": {
        "name": "flights",
        "in": "query",
        "description": "Comma-separated list of flight numbers (max 15, e.g., 'SK2752,KL1316').",
        "schema": {
          "type": "string"
        }
      },
      "callsigns": {
        "name": "callsigns",
        "in": "query",
        "description": "Comma-separated list of callsigns (max 15).",
        "schema": {
          "type": "string"
        }
      },
      "registrations": {
        "name": "registrations",
        "in": "query",
        "description": "Comma-separated list of aircraft registrations (max 15).",
        "schema": {
          "type": "string"
        }
      },
      "painted_as": {
        "name": "painted_as",
        "in": "query",
        "description": "Comma-separated list of airline ICAO codes for livery filtering (max 15).",
        "schema": {
          "type": "string"
        }
      },
      "operating_as": {
        "name": "operating_as",
        "in": "query",
        "description": "Comma-separated list of airline ICAO codes for operator filtering (max 15).",
        "schema": {
          "type": "string"
        }
      },
      "airports": {
        "name": "airports",
        "in": "query",
        "description": "Comma-separated list of airport codes (max 15).",
        "schema": {
          "type": "string"
        }
      },
      "routes": {
        "name": "routes",
        "in": "query",
        "description": "Comma-separated list of route patterns (max 15).",
        "schema": {
          "type": "string"
        }
      },
      "aircraft": {
        "name": "aircraft",
        "in": "query",
        "description": "Aircraft type filter.",
        "schema": {
          "type": "string"
        }
      },
      "altitude_ranges": {
        "name": "altitude_ranges",
        "in": "query",
        "description": "Comma-separated list of altitude ranges in format 'min-max' feet (max 15, e.g., '0-5000,30000-40000').",
        "schema": {
          "type": "string"
        }
      },
      "squawks": {
        "name": "squawks",
        "in": "query",
        "description": "Comma-separated list of squawk codes (max 15).",
        "schema": {
          "type": "string"
        }
      },
      "categories": {
        "name": "categories",
        "in": "query",
        "description": "Comma-separated list of flight categories (max 15). Values: P (Passenger), C (Cargo), M (Military/Government), J (Business Jets), T (General Aviation), H (Helicopters), B (Lighter than Air), G (Gliders), D (Drones), V (Ground Vehicles), O (Other), N (Non-categorized).",
        "schema": {
          "type": "string"
        }
      },
      "data_sources": {
        "name": "data_sources",
        "in": "query",
        "description": "Comma-separated list of data source identifiers (max 15).",
        "schema": {
          "type": "string"
        }
      },
      "airspaces": {
        "name": "airspaces",
        "in": "query",
        "description": "Comma-separated list of airspace identifiers (max 15). Not available on count endpoints.",
        "schema": {
          "type": "string"
        }
      },
      "gspeed": {
        "name": "gspeed",
        "in": "query",
        "description": "Ground speed filter (0-5000).",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "maximum": 5000
        }
      },
      "timestamp": {
        "name": "timestamp",
        "in": "query",
        "required": true,
        "description": "UNIX timestamp for the historical data point. Historical data is available from May 11, 2016.",
        "schema": {
          "type": "integer"
        }
      },
      "flight_ids": {
        "name": "flight_ids",
        "in": "query",
        "description": "Comma-separated list of FR24 flight IDs (max 15).",
        "schema": {
          "type": "string"
        }
      },
      "flight_datetime_from": {
        "name": "flight_datetime_from",
        "in": "query",
        "description": "Start of time range filter (ISO 8601 datetime).",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "flight_datetime_to": {
        "name": "flight_datetime_to",
        "in": "query",
        "description": "End of time range filter (ISO 8601 datetime).",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request. Missing or invalid parameters."
      },
      "Unauthorized": {
        "description": "Authentication failed. Invalid or missing bearer token."
      },
      "NotFound": {
        "description": "The requested resource was not found."
      },
      "PaymentRequired": {
        "description": "Payment required. Insufficient credits or subscription."
      },
      "RateLimited": {
        "description": "Rate limit exceeded. Too many requests."
      }
    },
    "schemas": {
      "AirlineLight": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "description": "Airline name." },
          "icao": { "type": "string", "description": "Airline ICAO code." },
          "iata": { "type": "string", "nullable": true, "description": "Airline IATA code." }
        },
        "required": ["name", "icao"]
      },
      "AirportLight": {
        "type": "object",
        "properties": {
          "icao": { "type": "string", "description": "Airport ICAO code." },
          "iata": { "type": "string", "nullable": true, "description": "Airport IATA code." },
          "name": { "type": "string", "nullable": true, "description": "Airport name." }
        },
        "required": ["icao"]
      },
      "AirportFull": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "description": "Airport name." },
          "lat": { "type": "number", "description": "Latitude." },
          "lon": { "type": "number", "description": "Longitude." },
          "elevation": { "type": "number", "description": "Field elevation." },
          "country": { "$ref": "#/components/schemas/Country" },
          "city": { "type": "string", "description": "City/municipality." },
          "timezone": { "$ref": "#/components/schemas/Timezone" },
          "iata": { "type": "string", "nullable": true, "description": "Airport IATA code." },
          "icao": { "type": "string", "nullable": true, "description": "Airport ICAO code." },
          "state": { "type": "string", "nullable": true, "description": "State or province." },
          "runways": {
            "type": "array",
            "nullable": true,
            "items": { "$ref": "#/components/schemas/Runway" },
            "description": "Airport runways."
          }
        },
        "required": ["name", "lat", "lon", "elevation", "country", "city", "timezone"]
      },
      "Country": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "description": "Country code." },
          "name": { "type": "string", "description": "Country name." }
        },
        "required": ["code", "name"]
      },
      "Timezone": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "description": "Timezone identifier (e.g., 'Europe/London')." },
          "offset": { "type": "integer", "description": "UTC offset." }
        },
        "required": ["name", "offset"]
      },
      "Surface": {
        "type": "object",
        "properties": {
          "type": { "type": "string", "description": "Runway surface material type." },
          "description": { "type": "string", "description": "Surface description." }
        },
        "required": ["type", "description"]
      },
      "Runway": {
        "type": "object",
        "properties": {
          "designator": { "type": "string", "description": "Runway designator (e.g., '09L')." },
          "heading": { "type": "integer", "description": "Magnetic heading in degrees." },
          "length": { "type": "integer", "description": "Runway length." },
          "width": { "type": "integer", "description": "Runway width." },
          "elevation": { "type": "integer", "description": "Elevation above sea level." },
          "thr_coordinates": {
            "type": "array",
            "items": { "type": "number" },
            "description": "Threshold geographic coordinates [lat, lon]."
          },
          "surface": { "$ref": "#/components/schemas/Surface" }
        },
        "required": ["designator", "heading", "length", "width", "elevation", "thr_coordinates", "surface"]
      },
      "FlightPositionsLight": {
        "type": "object",
        "properties": {
          "fr24_id": { "type": "string", "description": "Flightradar24 flight ID." },
          "lat": { "type": "number", "description": "Latitude." },
          "lon": { "type": "number", "description": "Longitude." },
          "track": { "type": "integer", "description": "Track/heading in degrees." },
          "alt": { "type": "integer", "description": "Altitude in feet." },
          "gspeed": { "type": "integer", "description": "Ground speed." },
          "vspeed": { "type": "integer", "description": "Vertical speed." },
          "squawk": { "type": "string", "description": "Transponder squawk code." },
          "timestamp": { "type": "string", "format": "date-time", "description": "Position timestamp (ISO 8601)." },
          "source": { "type": "string", "description": "Data source identifier." },
          "hex": { "type": "string", "nullable": true, "description": "Aircraft ICAO hex code." },
          "callsign": { "type": "string", "nullable": true, "description": "Flight callsign." }
        },
        "required": ["fr24_id", "lat", "lon", "track", "alt", "gspeed", "vspeed", "squawk", "timestamp", "source"]
      },
      "FlightPositionsFull": {
        "type": "object",
        "description": "Full flight position data extending light data with origin, destination, and aircraft details.",
        "allOf": [
          { "$ref": "#/components/schemas/FlightPositionsLight" },
          {
            "type": "object",
            "properties": {
              "flight": { "type": "string", "nullable": true, "description": "Flight number." },
              "type": { "type": "string", "nullable": true, "description": "Aircraft ICAO type designator." },
              "reg": { "type": "string", "nullable": true, "description": "Aircraft registration." },
              "painted_as": { "type": "string", "nullable": true, "description": "Airline ICAO code (livery)." },
              "operating_as": { "type": "string", "nullable": true, "description": "Airline ICAO code (operator)." },
              "orig_iata": { "type": "string", "nullable": true, "description": "Origin airport IATA code." },
              "orig_icao": { "type": "string", "nullable": true, "description": "Origin airport ICAO code." },
              "dest_iata": { "type": "string", "nullable": true, "description": "Destination airport IATA code." },
              "dest_icao": { "type": "string", "nullable": true, "description": "Destination airport ICAO code." },
              "eta": { "type": "string", "format": "date-time", "nullable": true, "description": "Estimated time of arrival (ISO 8601)." }
            }
          }
        ]
      },
      "FlightPositionsLightResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "nullable": true,
            "items": { "$ref": "#/components/schemas/FlightPositionsLight" }
          }
        }
      },
      "FlightPositionsFullResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "nullable": true,
            "items": { "$ref": "#/components/schemas/FlightPositionsFull" }
          }
        }
      },
      "FlightSummaryLight": {
        "type": "object",
        "properties": {
          "fr24_id": { "type": "string", "description": "Flightradar24 flight ID." },
          "flight": { "type": "string", "nullable": true, "description": "Flight number." },
          "callsign": { "type": "string", "nullable": true, "description": "Flight callsign." },
          "operating_as": { "type": "string", "nullable": true, "description": "Operating airline ICAO code." },
          "painted_as": { "type": "string", "nullable": true, "description": "Livery airline ICAO code." },
          "type": { "type": "string", "nullable": true, "description": "Aircraft ICAO type." },
          "reg": { "type": "string", "nullable": true, "description": "Aircraft registration." },
          "orig_icao": { "type": "string", "nullable": true, "description": "Origin airport ICAO code." },
          "dest_icao": { "type": "string", "nullable": true, "description": "Destination airport ICAO code." },
          "dest_icao_actual": { "type": "string", "nullable": true, "description": "Actual destination ICAO code (if diverted)." },
          "datetime_takeoff": { "type": "string", "format": "date-time", "nullable": true, "description": "Takeoff time." },
          "datetime_landed": { "type": "string", "format": "date-time", "nullable": true, "description": "Landing time." },
          "hex": { "type": "string", "nullable": true, "description": "Aircraft ICAO hex code." },
          "first_seen": { "type": "string", "format": "date-time", "nullable": true, "description": "First seen timestamp." },
          "last_seen": { "type": "string", "format": "date-time", "nullable": true, "description": "Last seen timestamp." },
          "flight_ended": { "type": "boolean", "nullable": true, "description": "Whether the flight has ended." }
        },
        "required": ["fr24_id"]
      },
      "FlightSummaryFull": {
        "type": "object",
        "description": "Full flight summary extending light data with additional details.",
        "allOf": [
          { "$ref": "#/components/schemas/FlightSummaryLight" },
          {
            "type": "object",
            "properties": {
              "orig_iata": { "type": "string", "nullable": true, "description": "Origin airport IATA code." },
              "dest_iata": { "type": "string", "nullable": true, "description": "Destination airport IATA code." },
              "dest_iata_actual": { "type": "string", "nullable": true, "description": "Actual destination IATA code." },
              "runway_takeoff": { "type": "string", "nullable": true, "description": "Takeoff runway." },
              "runway_landed": { "type": "string", "nullable": true, "description": "Landing runway." },
              "flight_time": { "type": "number", "nullable": true, "description": "Flight time in seconds." },
              "actual_distance": { "type": "number", "nullable": true, "description": "Actual distance flown in km." },
              "circle_distance": { "type": "number", "nullable": true, "description": "Great circle distance in km." },
              "category": { "type": "string", "nullable": true, "description": "Flight category." }
            }
          }
        ]
      },
      "FlightSummaryLightResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "nullable": true,
            "items": { "$ref": "#/components/schemas/FlightSummaryLight" }
          }
        }
      },
      "FlightSummaryFullResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "nullable": true,
            "items": { "$ref": "#/components/schemas/FlightSummaryFull" }
          }
        }
      },
      "FlightTrackPoint": {
        "type": "object",
        "properties": {
          "timestamp": { "type": "string", "format": "date-time", "description": "Trackpoint timestamp." },
          "lat": { "type": "number", "description": "Latitude." },
          "lon": { "type": "number", "description": "Longitude." },
          "alt": { "type": "integer", "description": "Altitude in feet." },
          "gspeed": { "type": "integer", "description": "Ground speed." },
          "vspeed": { "type": "integer", "description": "Vertical speed." },
          "track": { "type": "integer", "description": "Track/heading in degrees." },
          "squawk": { "type": "string", "description": "Transponder squawk code." },
          "callsign": { "type": "string", "nullable": true, "description": "Flight callsign." },
          "source": { "type": "string", "description": "Data source." }
        },
        "required": ["timestamp", "lat", "lon", "alt", "gspeed", "vspeed", "track", "squawk", "source"]
      },
      "FlightTracks": {
        "type": "object",
        "properties": {
          "fr24_id": { "type": "string", "description": "Flightradar24 flight ID." },
          "tracks": {
            "type": "array",
            "nullable": true,
            "items": { "$ref": "#/components/schemas/FlightTrackPoint" },
            "description": "List of track points."
          }
        },
        "required": ["fr24_id"]
      },
      "FlightTracksResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "nullable": true,
            "items": { "$ref": "#/components/schemas/FlightTracks" }
          }
        }
      },
      "FlightEvent": {
        "type": "object",
        "properties": {
          "type": { "type": "string", "description": "Event type (e.g., 'takeoff', 'landed', 'gate_departure').", "enum": ["gate_departure", "takeoff", "cruising", "airspace_transition", "descent", "diverting", "diverted", "landed", "gate_arrival"] },
          "timestamp": { "type": "string", "format": "date-time", "description": "Event timestamp." },
          "lat": { "type": "number", "nullable": true, "description": "Latitude at event." },
          "lon": { "type": "number", "nullable": true, "description": "Longitude at event." },
          "alt": { "type": "integer", "nullable": true, "description": "Altitude at event." },
          "gspeed": { "type": "integer", "nullable": true, "description": "Ground speed at event." },
          "details": {
            "nullable": true,
            "description": "Event-specific details. Structure varies by event type.",
            "oneOf": [
              { "$ref": "#/components/schemas/GateDetails" },
              { "$ref": "#/components/schemas/TakeoffDetails" },
              { "$ref": "#/components/schemas/LandingDetails" },
              { "$ref": "#/components/schemas/AirspaceDetails" }
            ]
          }
        },
        "required": ["type", "timestamp"]
      },
      "GateDetails": {
        "type": "object",
        "properties": {
          "gate_ident": { "type": "string", "nullable": true, "description": "Gate identifier." },
          "gate_lat": { "type": "number", "nullable": true, "description": "Gate latitude." },
          "gate_lon": { "type": "number", "nullable": true, "description": "Gate longitude." }
        }
      },
      "TakeoffDetails": {
        "type": "object",
        "properties": {
          "takeoff_runway": { "type": "string", "nullable": true, "description": "Takeoff runway designator." }
        }
      },
      "LandingDetails": {
        "type": "object",
        "properties": {
          "landed_icao": { "type": "string", "nullable": true, "description": "Landed airport ICAO code." },
          "landed_runway": { "type": "string", "nullable": true, "description": "Landing runway designator." }
        }
      },
      "AirspaceDetails": {
        "type": "object",
        "properties": {
          "exited_airspace": { "type": "string", "nullable": true, "description": "Exited airspace name." },
          "exited_airspace_id": { "type": "string", "nullable": true, "description": "Exited airspace ID." },
          "entered_airspace": { "type": "string", "nullable": true, "description": "Entered airspace name." },
          "entered_airspace_id": { "type": "string", "nullable": true, "description": "Entered airspace ID." }
        }
      },
      "FlightEventsLight": {
        "type": "object",
        "properties": {
          "fr24_id": { "type": "string", "description": "Flightradar24 flight ID." },
          "callsign": { "type": "string", "nullable": true, "description": "Flight callsign." },
          "hex": { "type": "string", "nullable": true, "description": "Aircraft ICAO hex code." },
          "events": {
            "type": "array",
            "nullable": true,
            "items": { "$ref": "#/components/schemas/FlightEvent" },
            "description": "List of flight events."
          }
        },
        "required": ["fr24_id"]
      },
      "FlightEventsFull": {
        "type": "object",
        "description": "Full flight events extending light data with origin, destination, and aircraft details.",
        "allOf": [
          { "$ref": "#/components/schemas/FlightEventsLight" },
          {
            "type": "object",
            "properties": {
              "operating_as": { "type": "string", "nullable": true, "description": "Operating airline ICAO code." },
              "painted_as": { "type": "string", "nullable": true, "description": "Livery airline ICAO code." },
              "orig_iata": { "type": "string", "nullable": true, "description": "Origin airport IATA code." },
              "orig_icao": { "type": "string", "nullable": true, "description": "Origin airport ICAO code." },
              "dest_iata": { "type": "string", "nullable": true, "description": "Destination airport IATA code." },
              "dest_icao": { "type": "string", "nullable": true, "description": "Destination airport ICAO code." }
            }
          }
        ]
      },
      "FlightEventsLightResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "nullable": true,
            "items": { "$ref": "#/components/schemas/FlightEventsLight" }
          }
        }
      },
      "FlightEventsFullResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "nullable": true,
            "items": { "$ref": "#/components/schemas/FlightEventsFull" }
          }
        }
      },
      "CountResponse": {
        "type": "object",
        "properties": {
          "record_count": { "type": "integer", "description": "Number of matching records." }
        },
        "required": ["record_count"]
      },
      "UsageLogSummary": {
        "type": "object",
        "properties": {
          "endpoint": { "type": "string", "description": "API endpoint identifier." },
          "request_count": { "type": "integer", "description": "Number of requests made." },
          "credits": { "type": "integer", "description": "Credits consumed." }
        },
        "required": ["endpoint", "request_count", "credits"]
      },
      "UsageLogSummaryResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/UsageLogSummary" },
            "default": [],
            "description": "List of usage summaries per endpoint."
          }
        }
      }
    }
  },
  "tags": [
    { "name": "Airlines", "description": "Airline information endpoints." },
    { "name": "Airports", "description": "Airport information endpoints." },
    { "name": "Live Flight Positions", "description": "Real-time flight position data." },
    { "name": "Historic Flight Positions", "description": "Historical flight position data (available from May 11, 2016)." },
    { "name": "Flight Summary", "description": "Flight summary data with filtering and sorting." },
    { "name": "Flight Tracks", "description": "Flight track/trajectory data." },
    { "name": "Historic Flight Events", "description": "Historical flight event data (gate departure, takeoff, landing, etc.)." },
    { "name": "Usage", "description": "API usage statistics and credit tracking." }
  ]
}
