{
  "openapi": "3.0.3",
  "info": {
    "title": "PurgoMalum",
    "version": "1.0.0",
    "description": "PurgoMalum is a free profanity filter web service for filtering and detecting profane content in text. It supports multiple response formats and custom word lists.",
    "x-jentic-source-url": "https://www.purgomalum.com/"
  },
  "servers": [
    {
      "url": "https://www.purgomalum.com/service",
      "description": "PurgoMalum API"
    }
  ],
  "paths": {
    "/json": {
      "get": {
        "operationId": "filterTextJson",
        "summary": "Filter profanity from text and return JSON response",
        "tags": [
          "Filter"
        ],
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "Input text to process",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "add",
            "in": "query",
            "required": false,
            "description": "Comma-separated custom words to filter (max 10 words, 200 characters)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fill_text",
            "in": "query",
            "required": false,
            "description": "Replacement text for profanity (max 20 characters)",
            "schema": {
              "type": "string",
              "maxLength": 20
            }
          },
          {
            "name": "fill_char",
            "in": "query",
            "required": false,
            "description": "Single character to replace profanity with",
            "schema": {
              "type": "string",
              "maxLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Filtered text",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilterResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xml": {
      "get": {
        "operationId": "filterTextXml",
        "summary": "Filter profanity from text and return XML response",
        "tags": [
          "Filter"
        ],
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "Input text to process",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "add",
            "in": "query",
            "required": false,
            "description": "Comma-separated custom words to filter (max 10 words, 200 characters)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fill_text",
            "in": "query",
            "required": false,
            "description": "Replacement text for profanity (max 20 characters)",
            "schema": {
              "type": "string",
              "maxLength": 20
            }
          },
          {
            "name": "fill_char",
            "in": "query",
            "required": false,
            "description": "Single character to replace profanity with",
            "schema": {
              "type": "string",
              "maxLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Filtered text",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/plain": {
      "get": {
        "operationId": "filterTextPlain",
        "summary": "Filter profanity from text and return plain text response",
        "tags": [
          "Filter"
        ],
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "Input text to process",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "add",
            "in": "query",
            "required": false,
            "description": "Comma-separated custom words to filter (max 10 words, 200 characters)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fill_text",
            "in": "query",
            "required": false,
            "description": "Replacement text for profanity (max 20 characters)",
            "schema": {
              "type": "string",
              "maxLength": 20
            }
          },
          {
            "name": "fill_char",
            "in": "query",
            "required": false,
            "description": "Single character to replace profanity with",
            "schema": {
              "type": "string",
              "maxLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Filtered text",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/containsprofanity": {
      "get": {
        "operationId": "checkProfanity",
        "summary": "Check if text contains profanity",
        "tags": [
          "Check"
        ],
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "Input text to check",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "add",
            "in": "query",
            "required": false,
            "description": "Comma-separated custom words to check for (max 10 words, 200 characters)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns 'true' or 'false'",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "true",
                    "false"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "FilterResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "string",
            "description": "Filtered text with profanity replaced"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    },
    "securitySchemes": {}
  },
  "security": [],
  "tags": [
    {
      "name": "Filter",
      "description": "Text filtering endpoints"
    },
    {
      "name": "Check",
      "description": "Profanity detection endpoints"
    }
  ]
}