{
  "openapi": "3.0.3",
  "info": {
    "title": "Arbox API",
    "description": "Arbox is a gym and fitness studio management platform. This API enables programmatic access to manage leads, clients, memberships, schedules, tasks, reports, and messaging.",
    "version": "2.6.7",
    "contact": {
      "name": "Arbox Support",
      "email": "support@arboxapp.com",
      "url": "https://arboxapp.com"
    }
  },
  "servers": [
    {
      "url": "https://api.arboxapp.com/index.php/api/v2",
      "description": "Arbox API v2 Production Server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/leads": {
      "get": {
        "operationId": "getInProgressLeads",
        "summary": "Get in-progress leads",
        "description": "Returns an array of all active/in-progress leads.",
        "tags": ["Leads"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Lead"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createLead",
        "summary": "Create a new lead",
        "description": "Creates a new lead record in the system.",
        "tags": ["Leads"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["first_name", "phone", "location_box_fk"],
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "Lead's first name"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Lead's last name"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Lead's phone number"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Lead's email address"
                  },
                  "location_box_fk": {
                    "type": "integer",
                    "description": "Studio location ID"
                  },
                  "status_fk": {
                    "type": "integer",
                    "description": "Lead status ID"
                  },
                  "source_fk": {
                    "type": "integer",
                    "description": "Landing page source ID"
                  },
                  "campaign": {
                    "type": "string",
                    "description": "Campaign name"
                  },
                  "users_boxes_owner_id": {
                    "type": "integer",
                    "description": "Assigned staff member ID"
                  },
                  "comment": {
                    "type": "string",
                    "description": "Comment about the lead"
                  },
                  "allow_sms": {
                    "type": "string",
                    "enum": ["yes", "no"],
                    "description": "Allow SMS notifications"
                  },
                  "allow_mailing_list": {
                    "type": "string",
                    "enum": ["yes", "no"],
                    "description": "Allow mailing list subscription"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lead"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "415": {
            "$ref": "#/components/responses/InvalidField"
          }
        }
      }
    },
    "/convertedLeads": {
      "get": {
        "operationId": "getConvertedLeads",
        "summary": "Get converted leads",
        "description": "Returns leads that have been converted to clients.",
        "tags": ["Leads"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Lead"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/lostLeads": {
      "get": {
        "operationId": "getLostLeads",
        "summary": "Get lost leads",
        "description": "Returns leads that have been marked as lost.",
        "tags": ["Leads"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Lead"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/leadsStatuses": {
      "get": {
        "operationId": "getLeadStatuses",
        "summary": "Get lead statuses",
        "description": "Returns all available lead statuses configured for the business.",
        "tags": ["Leads"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LeadStatus"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/leadsSources": {
      "get": {
        "operationId": "getLeadSources",
        "summary": "Get lead sources",
        "description": "Returns all configured lead sources.",
        "tags": ["Leads"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LeadSource"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/searchUser": {
      "get": {
        "operationId": "searchUser",
        "summary": "Search for a user or lead",
        "description": "Searches for a user by email, phone, or ID. Set isLead to true to search leads specifically.",
        "tags": ["Clients", "Leads"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["user"],
                "properties": {
                  "user": {
                    "type": "string",
                    "description": "Email, phone number, or user ID to search for"
                  },
                  "isLead": {
                    "type": "boolean",
                    "description": "Set to true to return lead details"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/updateLeadStatus": {
      "post": {
        "operationId": "updateLeadStatus",
        "summary": "Update lead status",
        "description": "Updates the status of an existing lead.",
        "tags": ["Leads"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["leadId", "statusFk"],
                "properties": {
                  "leadId": {
                    "type": "integer",
                    "description": "Lead ID"
                  },
                  "statusFk": {
                    "type": "integer",
                    "description": "New status ID"
                  },
                  "comment": {
                    "type": "string",
                    "description": "Optional comment"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead status updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "415": {
            "$ref": "#/components/responses/InvalidField"
          }
        }
      }
    },
    "/markLeadAsLost": {
      "post": {
        "operationId": "markLeadAsLost",
        "summary": "Mark lead as lost",
        "description": "Marks an existing lead as lost/unqualified.",
        "tags": ["Leads"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id"],
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Lead ID"
                  },
                  "lost_reasons_fk": {
                    "type": "integer",
                    "description": "Lost reason ID"
                  },
                  "comment": {
                    "type": "string",
                    "description": "Optional comment"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead marked as lost successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/users": {
      "get": {
        "operationId": "getUsers",
        "summary": "Get all users",
        "description": "Returns all users (clients and/or staff) for the business.",
        "tags": ["Clients"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "staff": {
                    "type": "boolean",
                    "description": "true to get staff only, false to get clients only"
                  },
                  "active": {
                    "type": "integer",
                    "enum": [0, 1],
                    "description": "1 for active users, 0 for inactive users"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/user": {
      "post": {
        "operationId": "createClient",
        "summary": "Create a new client",
        "description": "Creates a new client record.",
        "tags": ["Clients"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["first_name", "last_name", "email"],
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "Client's first name"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Client's last name"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Client's email address"
                  },
                  "locations_box_fk": {
                    "type": "integer",
                    "description": "Location ID"
                  },
                  "active": {
                    "type": "integer",
                    "enum": [0, 1],
                    "description": "1 for active, 0 for inactive"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Client's phone number"
                  },
                  "additional_phone": {
                    "type": "string",
                    "description": "Additional phone number"
                  },
                  "gender": {
                    "type": "string",
                    "enum": ["male", "female", "other"],
                    "description": "Client's gender"
                  },
                  "personal_id": {
                    "type": "string",
                    "description": "Personal identification number"
                  },
                  "birthday": {
                    "type": "string",
                    "format": "date",
                    "description": "Birthday in yyyy-mm-dd format"
                  },
                  "allow_sms": {
                    "type": "string",
                    "enum": ["yes", "no"],
                    "description": "Allow SMS notifications"
                  },
                  "allow_mailing_list": {
                    "type": "string",
                    "enum": ["yes", "no"],
                    "description": "Allow mailing list subscription"
                  },
                  "send_welcome_email": {
                    "type": "boolean",
                    "description": "Send welcome email to client"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "415": {
            "$ref": "#/components/responses/InvalidField"
          }
        }
      },
      "put": {
        "operationId": "updateClient",
        "summary": "Update a client",
        "description": "Updates an existing client record.",
        "tags": ["Clients"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["first_name", "last_name", "active"],
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "Client's first name"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Client's last name"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Client's phone number"
                  },
                  "active": {
                    "type": "integer",
                    "enum": [0, 1],
                    "description": "1 for active, 0 for inactive"
                  },
                  "birthday": {
                    "type": "string",
                    "format": "date",
                    "description": "Birthday in yyyy-mm-dd format"
                  },
                  "allow_sms": {
                    "type": "string",
                    "enum": ["yes", "no"],
                    "description": "Allow SMS notifications"
                  },
                  "allow_mailing_list": {
                    "type": "string",
                    "enum": ["yes", "no"],
                    "description": "Allow mailing list subscription"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "415": {
            "$ref": "#/components/responses/InvalidField"
          }
        }
      }
    },
    "/user/{identifier}": {
      "get": {
        "operationId": "getClientData",
        "summary": "Get client data",
        "description": "Returns data for a specific client by user ID or email address.",
        "tags": ["Clients"],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "User ID or email address",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/archiveUser": {
      "delete": {
        "operationId": "deleteClient",
        "summary": "Delete (archive) a client",
        "description": "Permanently archives a client record.",
        "tags": ["Clients"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["users_id", "is_permanent"],
                "properties": {
                  "users_id": {
                    "type": "string",
                    "description": "User ID to archive"
                  },
                  "is_permanent": {
                    "type": "boolean",
                    "description": "Must be true for permanent deletion",
                    "enum": [true]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client archived successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/checkActive": {
      "post": {
        "operationId": "checkClientLogin",
        "summary": "Check client login",
        "description": "Verifies if a client's credentials are active.",
        "tags": ["Clients"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["email", "password"],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Client's email address"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "description": "Client's password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login check result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isActive": {
                      "type": "boolean",
                      "description": "Whether the client account is active"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/membership": {
      "post": {
        "operationId": "createPurchase",
        "summary": "Create a membership purchase",
        "description": "Creates a new membership or pack purchase for a client.",
        "tags": ["Memberships"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["id", "membership_types_id", "start"],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "users_boxes_id of the client"
                  },
                  "membership_types_id": {
                    "type": "string",
                    "description": "Membership type ID"
                  },
                  "start": {
                    "type": "string",
                    "format": "date",
                    "description": "Start date in yyyy-mm-dd format"
                  },
                  "end": {
                    "type": "string",
                    "format": "date",
                    "description": "End date in yyyy-mm-dd format"
                  },
                  "generate_qr": {
                    "type": "boolean",
                    "description": "Generate QR code for the membership"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Purchase created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "415": {
            "$ref": "#/components/responses/InvalidField"
          }
        }
      }
    },
    "/users/membershipsData": {
      "get": {
        "operationId": "getClientPurchases",
        "summary": "Get client purchases",
        "description": "Returns all membership and pack purchases for a specific client.",
        "tags": ["Memberships"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["userId"],
                "properties": {
                  "userId": {
                    "type": "string",
                    "description": "User ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Membership"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/schedule": {
      "get": {
        "operationId": "getSchedule",
        "summary": "Get schedule",
        "description": "Returns the schedule for a date range (maximum 7 days).",
        "tags": ["Schedule"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string",
                    "description": "Start date (dd-mm-YYYY or mm-dd-YYYY format)"
                  },
                  "to": {
                    "type": "string",
                    "description": "End date (dd-mm-YYYY or mm-dd-YYYY format)"
                  },
                  "location": {
                    "type": "integer",
                    "description": "Location ID to filter by"
                  },
                  "bookings": {
                    "type": "boolean",
                    "description": "Include participant count"
                  },
                  "waiting_list": {
                    "type": "boolean",
                    "description": "Include waitlist count"
                  },
                  "booked_users": {
                    "type": "boolean",
                    "description": "Include full registration details"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ScheduleEvent"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "415": {
            "description": "Date range exceeds 7 day limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createGroupSession",
        "summary": "Create a group session",
        "description": "Creates a new group session or class on the schedule.",
        "tags": ["Schedule"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["box_category_fk", "date", "time", "end_time", "locations_box_fk", "repeatConfig"],
                "properties": {
                  "box_category_fk": {
                    "type": "integer",
                    "description": "Event type/category ID"
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "Session date in yyyy-mm-dd format"
                  },
                  "time": {
                    "type": "string",
                    "description": "Start time in HH:mm:ss format"
                  },
                  "end_time": {
                    "type": "string",
                    "description": "End time in HH:mm:ss format"
                  },
                  "max_users": {
                    "type": "integer",
                    "description": "Maximum number of participants"
                  },
                  "min_users": {
                    "type": "integer",
                    "description": "Minimum number of participants"
                  },
                  "live_link": {
                    "type": "string",
                    "description": "Video conferencing link (e.g., Zoom, Google Meet)"
                  },
                  "cancel_limit": {
                    "type": "integer",
                    "description": "Hours before session when cancellation is no longer allowed"
                  },
                  "coach_fk": {
                    "type": "integer",
                    "description": "Primary coach/trainer ID"
                  },
                  "second_coach_fk": {
                    "type": "integer",
                    "description": "Secondary coach/trainer ID"
                  },
                  "locations_box_fk": {
                    "type": "integer",
                    "description": "Studio location ID"
                  },
                  "enable_registration_time": {
                    "type": "boolean",
                    "description": "Enable registration time window"
                  },
                  "disable_cancellation_time": {
                    "type": "integer",
                    "description": "Hours before session when cancellation is disabled"
                  },
                  "enable_late_cancellation": {
                    "type": "boolean",
                    "description": "Allow late cancellation with a fine"
                  },
                  "transparent": {
                    "type": "boolean",
                    "description": "Make session transparent on schedule",
                    "default": false
                  },
                  "repeatConfig": {
                    "$ref": "#/components/schemas/RepeatConfig"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group session created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "415": {
            "$ref": "#/components/responses/InvalidField"
          }
        }
      }
    },
    "/schedule/trialClass": {
      "post": {
        "operationId": "registerTrialClass",
        "summary": "Register for a trial class",
        "description": "Registers a user for a trial class session.",
        "tags": ["Schedule"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["schedule_id", "users_id"],
                "properties": {
                  "schedule_id": {
                    "type": "integer",
                    "description": "Schedule event ID"
                  },
                  "users_id": {
                    "type": "integer",
                    "description": "User ID"
                  },
                  "force": {
                    "type": "boolean",
                    "description": "Force registration even if conditions are not met"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registration successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/schedule/cancelTrialClass": {
      "post": {
        "operationId": "cancelTrialClass",
        "summary": "Cancel trial class registration",
        "description": "Cancels a user's trial class registration.",
        "tags": ["Schedule"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["schedule_id", "users_id"],
                "properties": {
                  "schedule_id": {
                    "type": "integer",
                    "description": "Schedule event ID"
                  },
                  "users_id": {
                    "type": "integer",
                    "description": "User ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cancellation successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/schedule/appointments": {
      "get": {
        "operationId": "getAppointments",
        "summary": "Get appointments",
        "description": "Returns scheduled appointments.",
        "tags": ["Schedule"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ScheduleEvent"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/tasks": {
      "get": {
        "operationId": "getTaskTypes",
        "summary": "Get task types",
        "description": "Returns all configured task types.",
        "tags": ["Tasks"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TaskType"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createTask",
        "summary": "Create a task",
        "description": "Creates a new task assigned to a user, lead, or as a general task.",
        "tags": ["Tasks"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["targetableType", "taskTypeId", "reminderDate", "reminderTime", "locationBoxFk"],
                "properties": {
                  "targetableType": {
                    "type": "string",
                    "enum": ["user", "lead", "general"],
                    "description": "Type of entity the task is for"
                  },
                  "taskTypeId": {
                    "type": "integer",
                    "description": "Task type ID"
                  },
                  "targetableId": {
                    "type": "integer",
                    "description": "ID of the target user or lead (required when targetableType is user or lead)"
                  },
                  "assignedTo": {
                    "type": "integer",
                    "description": "Staff member ID to assign the task to"
                  },
                  "task_owner_user_fk": {
                    "type": "integer",
                    "description": "Staff member ID who created the task"
                  },
                  "dateFormat": {
                    "type": "string",
                    "enum": ["Y-m-d", "d-m-Y", "m-d-Y"],
                    "description": "Date format for the reminder date"
                  },
                  "reminderDate": {
                    "type": "string",
                    "description": "Reminder date (format per dateFormat field)"
                  },
                  "reminderTime": {
                    "type": "string",
                    "description": "Reminder time in HH:mm or HH:mm A format"
                  },
                  "locationBoxFk": {
                    "type": "integer",
                    "description": "Studio location ID"
                  },
                  "description": {
                    "type": "string",
                    "description": "Task description"
                  },
                  "comment": {
                    "type": "string",
                    "description": "Additional comment"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "415": {
            "$ref": "#/components/responses/InvalidField"
          }
        }
      }
    },
    "/message": {
      "post": {
        "operationId": "sendMessage",
        "summary": "Send a message",
        "description": "Sends a message via SMS, push notification, or email to one or more users.",
        "tags": ["Messages"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type", "user", "message"],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["sms", "push", "email"],
                    "description": "Message delivery method"
                  },
                  "identify": {
                    "type": "string",
                    "enum": ["email", "phone", "user_id"],
                    "description": "How to identify users in the user array"
                  },
                  "user": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of user identifiers (emails, phone numbers, or user IDs)"
                  },
                  "message": {
                    "type": "string",
                    "description": "Message content"
                  },
                  "subject": {
                    "type": "string",
                    "description": "Email subject (required for email type)"
                  },
                  "isLead": {
                    "type": "boolean",
                    "description": "Set to true if targeting leads"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/reports/salesReport": {
      "get": {
        "operationId": "getSalesReport",
        "summary": "Get sales report",
        "description": "Returns the sales report for a given date range.",
        "tags": ["Reports"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DateRangeWithLocation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/reports/leadsInProcessReport": {
      "get": {
        "operationId": "getLeadsInProcessReport",
        "summary": "Get leads in process report",
        "description": "Returns a report of all leads currently in process.",
        "tags": ["Reports"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/reports/activeMembersReport": {
      "get": {
        "operationId": "getActiveMembersReport",
        "summary": "Get active members report",
        "description": "Returns a report of all active members.",
        "tags": ["Reports"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/reports/membersPropertiesReport": {
      "get": {
        "operationId": "getMembersPropertiesReport",
        "summary": "Get members properties report",
        "description": "Returns a report of member properties and details.",
        "tags": ["Reports"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/reports/membersOnHoldReport": {
      "get": {
        "operationId": "getMembersOnHoldReport",
        "summary": "Get members on hold report",
        "description": "Returns a report of members with frozen/on-hold memberships.",
        "tags": ["Reports"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DateRange"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/reports/birthdayReport": {
      "get": {
        "operationId": "getBirthdayReport",
        "summary": "Get birthday report",
        "description": "Returns members with birthdays in the specified date range.",
        "tags": ["Reports"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DateRange"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/reports/expiringMembershipsReport": {
      "get": {
        "operationId": "getExpiringMembershipsReport",
        "summary": "Get expiring memberships report",
        "description": "Returns memberships expiring within the specified date range.",
        "tags": ["Reports"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DateRangeWithLocation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/reports/expiringSessionsReport": {
      "get": {
        "operationId": "getExpiringSessionsReport",
        "summary": "Get expiring session packs report",
        "description": "Returns session packs expiring within the specified date range.",
        "tags": ["Reports"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DateRangeWithLocation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/reports/trialClassesReport": {
      "get": {
        "operationId": "getTrialClassesReport",
        "summary": "Get trial classes report",
        "description": "Returns a report of trial class registrations within the specified date range.",
        "tags": ["Reports"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DateRange"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/reports/revenue": {
      "get": {
        "operationId": "getRevenueReport",
        "summary": "Get revenue report",
        "description": "Returns revenue report data.",
        "tags": ["Reports"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/reports/attendance": {
      "get": {
        "operationId": "getAttendanceReport",
        "summary": "Get attendance report",
        "description": "Returns attendance report data.",
        "tags": ["Reports"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/locations": {
      "get": {
        "operationId": "getLocations",
        "summary": "Get locations",
        "description": "Returns all studio/gym locations for the business.",
        "tags": ["Locations"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/user/me": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Get current user",
        "description": "Returns the profile of the currently authenticated user.",
        "tags": ["Clients"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/user/profile": {
      "get": {
        "operationId": "getUserProfile",
        "summary": "Get user profile",
        "description": "Returns the detailed profile of the authenticated user.",
        "tags": ["Clients"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "apiKey",
        "in": "header",
        "description": "Business API key obtained from Settings > Business Information in the Arbox dashboard"
      }
    },
    "schemas": {
      "Lead": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Lead ID"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "status_fk": {
            "type": "integer"
          },
          "source_fk": {
            "type": "integer"
          },
          "location_box_fk": {
            "type": "integer"
          },
          "campaign": {
            "type": "string"
          },
          "comment": {
            "type": "string"
          },
          "allow_sms": {
            "type": "string",
            "enum": ["yes", "no"]
          },
          "allow_mailing_list": {
            "type": "string",
            "enum": ["yes", "no"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LeadStatus": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "LeadSource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "User ID"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "additional_phone": {
            "type": "string"
          },
          "gender": {
            "type": "string",
            "enum": ["male", "female", "other"]
          },
          "personal_id": {
            "type": "string"
          },
          "birthday": {
            "type": "string",
            "format": "date"
          },
          "active": {
            "type": "integer",
            "enum": [0, 1]
          },
          "locations_box_fk": {
            "type": "integer"
          },
          "allow_sms": {
            "type": "string",
            "enum": ["yes", "no"]
          },
          "allow_mailing_list": {
            "type": "string",
            "enum": ["yes", "no"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Membership": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "membership_types_id": {
            "type": "integer"
          },
          "start": {
            "type": "string",
            "format": "date"
          },
          "end": {
            "type": "string",
            "format": "date"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "ScheduleEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Schedule event ID"
          },
          "box_category_fk": {
            "type": "integer",
            "description": "Event category/type ID"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "time": {
            "type": "string",
            "description": "Start time"
          },
          "end_time": {
            "type": "string",
            "description": "End time"
          },
          "max_users": {
            "type": "integer"
          },
          "min_users": {
            "type": "integer"
          },
          "coach_fk": {
            "type": "integer"
          },
          "locations_box_fk": {
            "type": "integer"
          },
          "bookings": {
            "type": "integer",
            "description": "Number of participants (when requested)"
          },
          "waiting_list": {
            "type": "integer",
            "description": "Number on waitlist (when requested)"
          }
        }
      },
      "RepeatConfig": {
        "type": "object",
        "required": ["repeat"],
        "properties": {
          "repeat": {
            "type": "boolean",
            "description": "Whether the session repeats"
          },
          "type": {
            "type": "string",
            "enum": ["forever", "until", "times"],
            "description": "Repeat type (required when repeat is true)"
          },
          "until": {
            "type": "string",
            "format": "date",
            "description": "End date for repeating (required when type is 'until')"
          },
          "times": {
            "type": "integer",
            "description": "Number of times to repeat (required when type is 'times')"
          },
          "days": {
            "type": "array",
            "items": {
              "type": "integer",
              "minimum": 0,
              "maximum": 6
            },
            "description": "Days of week to repeat on (0=Sunday through 6=Saturday, required when repeat is true)"
          },
          "seriesName": {
            "type": "string",
            "description": "Name for the series (required when type is 'forever')"
          }
        }
      },
      "TaskType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          }
        }
      },
      "DateRange": {
        "type": "object",
        "required": ["fromDate", "toDate"],
        "properties": {
          "fromDate": {
            "type": "string",
            "format": "date",
            "description": "Start date in yyyy-mm-dd format"
          },
          "toDate": {
            "type": "string",
            "format": "date",
            "description": "End date in yyyy-mm-dd format"
          }
        }
      },
      "DateRangeWithLocation": {
        "type": "object",
        "required": ["fromDate", "toDate"],
        "properties": {
          "fromDate": {
            "type": "string",
            "format": "date",
            "description": "Start date in yyyy-mm-dd format"
          },
          "toDate": {
            "type": "string",
            "format": "date",
            "description": "End date in yyyy-mm-dd format"
          },
          "locationId": {
            "type": "integer",
            "description": "Location ID to filter by"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "error": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "code": {
                "type": "integer"
              },
              "description": {
                "type": "string"
              }
            }
          },
          "data": {
            "type": "object",
            "nullable": true
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Authentication failed - missing or invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "noApiKey": {
                "summary": "Missing API key",
                "value": {
                  "statusCode": 401,
                  "error": {
                    "name": "NO API KEY",
                    "code": 401,
                    "description": "Please supply an api key."
                  },
                  "data": null
                }
              },
              "invalidApiKey": {
                "summary": "Invalid API key",
                "value": {
                  "statusCode": 401,
                  "error": {
                    "name": "INVALID API KEY",
                    "code": 401,
                    "description": "Please provide a valid api key."
                  },
                  "data": null
                }
              }
            }
          }
        }
      },
      "BadRequest": {
        "description": "Invalid request parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InvalidField": {
        "description": "Invalid or incorrect field value",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Leads",
      "description": "Lead management operations"
    },
    {
      "name": "Clients",
      "description": "Client and staff management operations"
    },
    {
      "name": "Memberships",
      "description": "Membership and pack purchase operations"
    },
    {
      "name": "Schedule",
      "description": "Schedule, classes, and appointment operations"
    },
    {
      "name": "Tasks",
      "description": "Task management operations"
    },
    {
      "name": "Messages",
      "description": "Messaging operations (SMS, push, email)"
    },
    {
      "name": "Reports",
      "description": "Business reporting operations"
    },
    {
      "name": "Locations",
      "description": "Location management operations"
    }
  ]
}