{
  "openapi": "3.0.3",
  "info": {
    "title": "OpenSea API",
    "description": "The API for OpenSea - the world's largest NFT marketplace. Provides endpoints for retrieving NFT metadata, collections, events, listings, offers, and trading data across multiple blockchains.",
    "contact": {
      "name": "OpenSea",
      "url": "https://www.opensea.io",
      "email": "contact@opensea.io"
    },
    "version": "2.0.0",
    "x-jentic-source-url": "https://docs.opensea.io/reference/api-overview"
  },
  "servers": [
    {
      "url": "https://api.opensea.io",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "NFT Endpoints",
      "description": "NFT endpoints to retrieve individual NFTs, collections, and related information"
    },
    {
      "name": "Analytics Endpoints",
      "description": "Analytics endpoints to retrieve events, stats, and trading data"
    },
    {
      "name": "Marketplace Endpoints",
      "description": "Marketplace endpoints for orders, offers, listings, and trading"
    }
  ],
  "paths": {
    "/api/v2/chain/{chain}/contract/{address}/nfts/{identifier}": {
      "get": {
        "tags": [
          "NFT Endpoints"
        ],
        "summary": "Get NFT",
        "description": "Get metadata, traits, ownership information, and rarity for a single NFT.",
        "operationId": "get_nft",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainIdentifier"
            },
            "example": "ethereum"
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Contract address"
          },
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "NFT token id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NftResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/chain/{chain}/account/{address}/nfts": {
      "get": {
        "tags": [
          "NFT Endpoints"
        ],
        "summary": "Get NFTs by account",
        "description": "Get all NFTs owned by a specific account on a blockchain, with optional collection filtering.",
        "operationId": "get_nfts_by_account",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainIdentifier"
            },
            "example": "ethereum"
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Account address"
          },
          {
            "name": "collection",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "next",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 200,
              "minimum": 1,
              "example": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NftListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/collections/{slug}": {
      "get": {
        "tags": [
          "NFT Endpoints"
        ],
        "summary": "Get a single collection",
        "description": "Get a single collection including details such as fees, traits, and links.",
        "operationId": "get_collection",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Collection slug",
            "example": "doodles-official"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionDetailedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/collections": {
      "get": {
        "tags": [
          "NFT Endpoints"
        ],
        "summary": "Get multiple collections",
        "description": "Get a list of collections with filters and sorting options.",
        "operationId": "list_collections",
        "parameters": [
          {
            "name": "next",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 100,
              "minimum": 1,
              "example": 10
            }
          },
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ChainIdentifier"
            }
          },
          {
            "name": "creator_username",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_hidden",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "created_date"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionPaginatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/collections/{slug}/stats": {
      "get": {
        "tags": [
          "Analytics Endpoints",
          "NFT Endpoints"
        ],
        "summary": "Get collection stats",
        "description": "Get comprehensive statistics for a collection including volume, floor price, and trading metrics.",
        "operationId": "get_collection_stats",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "doodles-official"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionStatsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/events": {
      "get": {
        "tags": [
          "Analytics Endpoints"
        ],
        "summary": "Get events",
        "description": "Get a list of events, with optional filtering by event type and time range.",
        "operationId": "list_events",
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Unix timestamp - show events after"
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Unix timestamp - show events before"
          },
          {
            "name": "event_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "sale",
                  "transfer",
                  "mint",
                  "listing",
                  "offer",
                  "trait_offer",
                  "collection_offer"
                ]
              }
            },
            "description": "Filter by event types"
          },
          {
            "name": "next",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 200,
              "minimum": 1,
              "example": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AssetEventsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/orders/{chain}/{protocol}/listings": {
      "get": {
        "tags": [
          "Marketplace Endpoints"
        ],
        "summary": "Get listings",
        "description": "Get active listings. Deprecated - prefer collection-based listing endpoints.",
        "operationId": "get_listings",
        "deprecated": true,
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainIdentifier"
            },
            "example": "ethereum"
          },
          {
            "name": "protocol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Protocol name (e.g. 'seaport')"
          },
          {
            "name": "asset_contract_address",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "maker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listed_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "listed_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "price",
                "created_at"
              ]
            }
          },
          {
            "name": "order_direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 200,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orders": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "next": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/listings/collection/{slug}/all": {
      "get": {
        "tags": [
          "Marketplace Endpoints"
        ],
        "summary": "Get all listings in a collection",
        "description": "Get all active listings for a collection, sorted by best price.",
        "operationId": "get_all_listings_on_collection",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Collection slug"
          },
          {
            "name": "next",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "listings": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "next": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/listings/collection/{slug}/best": {
      "get": {
        "tags": [
          "Marketplace Endpoints"
        ],
        "summary": "Get best listings in a collection",
        "description": "Get the best listings for a collection, sorted by price.",
        "operationId": "get_best_listings_on_collection",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Collection slug"
          },
          {
            "name": "next",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "listings": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "next": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/offers/collection/{slug}/all": {
      "get": {
        "tags": [
          "Marketplace Endpoints"
        ],
        "summary": "Get all offers on a collection",
        "description": "Get all active offers for a collection.",
        "operationId": "get_all_offers_on_collection",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Collection slug"
          },
          {
            "name": "next",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offers": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "next": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/chain/{chain}/contract/{address}/nfts": {
      "get": {
        "tags": [
          "NFT Endpoints"
        ],
        "summary": "Get NFTs by contract",
        "description": "Get NFTs for a specific contract address on a given chain.",
        "operationId": "get_nfts_by_contract",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainIdentifier"
            },
            "example": "ethereum"
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Contract address"
          },
          {
            "name": "next",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 200,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NftListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChainIdentifier": {
        "type": "string",
        "default": "ethereum",
        "description": "Blockchain chain identifier",
        "enum": [
          "blast",
          "base",
          "ethereum",
          "zora",
          "arbitrum",
          "sei",
          "avalanche",
          "polygon",
          "optimism",
          "ape_chain",
          "flow",
          "b3",
          "soneium",
          "ronin",
          "bera_chain",
          "solana",
          "shape",
          "unichain",
          "gunzilla",
          "abstract",
          "animechain",
          "hyperevm",
          "somnia",
          "monad",
          "hyperliquid"
        ],
        "example": "ethereum"
      },
      "V1ErrorWrapper": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "errors"
        ]
      },
      "Trait": {
        "type": "object",
        "properties": {
          "trait_type": {
            "type": "string"
          },
          "display_type": {
            "type": "string"
          },
          "max_value": {
            "type": "string"
          },
          "value": {}
        },
        "required": [
          "trait_type",
          "value"
        ]
      },
      "Owner": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "quantity": {
            "type": "integer",
            "format": "int32"
          }
        },
        "required": [
          "address",
          "quantity"
        ]
      },
      "Rarity": {
        "type": "object",
        "properties": {
          "strategy_id": {
            "type": "string"
          },
          "strategy_version": {
            "type": "string"
          },
          "rank": {
            "type": "integer",
            "format": "int64"
          }
        },
        "required": [
          "strategy_id",
          "strategy_version"
        ]
      },
      "Nft": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string"
          },
          "collection": {
            "type": "string"
          },
          "contract": {
            "type": "string"
          },
          "token_standard": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          },
          "display_image_url": {
            "type": "string"
          },
          "display_animation_url": {
            "type": "string"
          },
          "metadata_url": {
            "type": "string"
          },
          "opensea_url": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "is_disabled": {
            "type": "boolean"
          },
          "is_nsfw": {
            "type": "boolean"
          },
          "original_image_url": {
            "type": "string"
          },
          "original_animation_url": {
            "type": "string"
          },
          "traits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Trait"
            }
          }
        },
        "required": [
          "collection",
          "contract",
          "identifier",
          "is_disabled",
          "is_nsfw",
          "opensea_url",
          "token_standard",
          "traits",
          "updated_at"
        ]
      },
      "NftDetailed": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string"
          },
          "collection": {
            "type": "string"
          },
          "contract": {
            "type": "string"
          },
          "token_standard": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          },
          "display_image_url": {
            "type": "string"
          },
          "display_animation_url": {
            "type": "string"
          },
          "metadata_url": {
            "type": "string"
          },
          "opensea_url": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "is_disabled": {
            "type": "boolean"
          },
          "is_nsfw": {
            "type": "boolean"
          },
          "original_image_url": {
            "type": "string"
          },
          "original_animation_url": {
            "type": "string"
          },
          "traits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Trait"
            }
          },
          "animation_url": {
            "type": "string"
          },
          "is_suspicious": {
            "type": "boolean"
          },
          "creator": {
            "type": "string"
          },
          "owners": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Owner"
            }
          },
          "rarity": {
            "$ref": "#/components/schemas/Rarity"
          }
        },
        "required": [
          "collection",
          "contract",
          "creator",
          "identifier",
          "is_disabled",
          "is_nsfw",
          "is_suspicious",
          "opensea_url",
          "owners",
          "token_standard",
          "traits",
          "updated_at"
        ]
      },
      "NftResponse": {
        "type": "object",
        "properties": {
          "nft": {
            "$ref": "#/components/schemas/NftDetailed"
          }
        },
        "required": [
          "nft"
        ]
      },
      "NftListResponse": {
        "type": "object",
        "properties": {
          "nfts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Nft"
            }
          },
          "next": {
            "type": "string"
          }
        },
        "required": [
          "nfts"
        ]
      },
      "Contract": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "chain": {
            "type": "string"
          }
        },
        "required": [
          "address",
          "chain"
        ]
      },
      "Fee": {
        "type": "object",
        "properties": {
          "fee": {
            "type": "number",
            "format": "double"
          },
          "recipient": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          }
        },
        "required": [
          "fee",
          "recipient",
          "required"
        ]
      },
      "PaymentToken": {
        "type": "object",
        "properties": {
          "symbol": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "chain": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "decimals": {
            "type": "integer",
            "format": "int32"
          },
          "eth_price": {
            "type": "string"
          },
          "usd_price": {
            "type": "string"
          }
        },
        "required": [
          "address",
          "chain",
          "decimals",
          "eth_price",
          "image",
          "name",
          "symbol",
          "usd_price"
        ]
      },
      "PricingCurrencies": {
        "type": "object",
        "properties": {
          "listing_currency": {
            "$ref": "#/components/schemas/PaymentToken"
          },
          "offer_currency": {
            "$ref": "#/components/schemas/PaymentToken"
          }
        },
        "required": [
          "listing_currency",
          "offer_currency"
        ]
      },
      "CollectionRarity": {
        "type": "object",
        "properties": {
          "calculated_at": {
            "type": "string"
          },
          "max_rank": {
            "type": "integer",
            "format": "int32"
          },
          "total_supply": {
            "type": "integer",
            "format": "int64"
          },
          "strategy_id": {
            "type": "string"
          },
          "strategy_version": {
            "type": "string"
          }
        },
        "required": [
          "calculated_at",
          "max_rank",
          "strategy_id",
          "strategy_version",
          "total_supply"
        ]
      },
      "CollectionDetailedResponse": {
        "type": "object",
        "properties": {
          "collection": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          },
          "banner_image_url": {
            "type": "string"
          },
          "owner": {
            "type": "string"
          },
          "safelist_status": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "is_disabled": {
            "type": "boolean"
          },
          "is_nsfw": {
            "type": "boolean"
          },
          "trait_offers_enabled": {
            "type": "boolean"
          },
          "collection_offers_enabled": {
            "type": "boolean"
          },
          "opensea_url": {
            "type": "string"
          },
          "project_url": {
            "type": "string"
          },
          "wiki_url": {
            "type": "string"
          },
          "discord_url": {
            "type": "string"
          },
          "telegram_url": {
            "type": "string"
          },
          "twitter_username": {
            "type": "string"
          },
          "instagram_username": {
            "type": "string"
          },
          "contracts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contract"
            }
          },
          "editors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "fees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Fee"
            }
          },
          "required_zone": {
            "type": "string"
          },
          "rarity": {
            "$ref": "#/components/schemas/CollectionRarity"
          },
          "total_supply": {
            "type": "integer",
            "format": "int64"
          },
          "unique_item_count": {
            "type": "integer",
            "format": "int64"
          },
          "created_date": {
            "type": "string",
            "format": "date-time"
          },
          "pricing_currencies": {
            "$ref": "#/components/schemas/PricingCurrencies"
          }
        },
        "required": [
          "collection",
          "collection_offers_enabled",
          "contracts",
          "created_date",
          "editors",
          "fees",
          "is_disabled",
          "is_nsfw",
          "name",
          "opensea_url",
          "pricing_currencies",
          "safelist_status",
          "total_supply",
          "trait_offers_enabled",
          "unique_item_count"
        ]
      },
      "CollectionResponse": {
        "type": "object",
        "properties": {
          "collection": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          },
          "banner_image_url": {
            "type": "string"
          },
          "owner": {
            "type": "string"
          },
          "safelist_status": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "is_disabled": {
            "type": "boolean"
          },
          "is_nsfw": {
            "type": "boolean"
          },
          "trait_offers_enabled": {
            "type": "boolean"
          },
          "collection_offers_enabled": {
            "type": "boolean"
          },
          "opensea_url": {
            "type": "string"
          },
          "project_url": {
            "type": "string"
          },
          "wiki_url": {
            "type": "string"
          },
          "discord_url": {
            "type": "string"
          },
          "telegram_url": {
            "type": "string"
          },
          "twitter_username": {
            "type": "string"
          },
          "instagram_username": {
            "type": "string"
          },
          "contracts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contract"
            }
          }
        },
        "required": [
          "collection",
          "collection_offers_enabled",
          "contracts",
          "is_disabled",
          "is_nsfw",
          "name",
          "opensea_url",
          "safelist_status",
          "trait_offers_enabled"
        ]
      },
      "CollectionPaginatedResponse": {
        "type": "object",
        "properties": {
          "collections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CollectionResponse"
            }
          },
          "next": {
            "type": "string"
          }
        },
        "required": [
          "collections"
        ]
      },
      "Total": {
        "type": "object",
        "properties": {
          "volume": {
            "type": "number",
            "format": "double"
          },
          "sales": {
            "type": "integer",
            "format": "int32"
          },
          "num_owners": {
            "type": "integer",
            "format": "int64"
          },
          "market_cap": {
            "type": "number",
            "format": "double"
          },
          "floor_price": {
            "type": "number",
            "format": "double"
          },
          "floor_price_symbol": {
            "type": "string"
          },
          "average_price": {
            "type": "number",
            "format": "double"
          }
        },
        "required": [
          "average_price",
          "floor_price",
          "floor_price_symbol",
          "market_cap",
          "num_owners",
          "sales",
          "volume"
        ]
      },
      "IntervalStat": {
        "type": "object",
        "properties": {
          "interval": {
            "type": "string"
          },
          "volume": {
            "type": "number",
            "format": "double"
          },
          "volume_diff": {
            "type": "number",
            "format": "double"
          },
          "volume_change": {
            "type": "number",
            "format": "double"
          },
          "sales": {
            "type": "integer",
            "format": "int32"
          },
          "sales_diff": {
            "type": "integer",
            "format": "int32"
          },
          "average_price": {
            "type": "number",
            "format": "double"
          }
        },
        "required": [
          "average_price",
          "interval",
          "sales",
          "sales_diff",
          "volume",
          "volume_change",
          "volume_diff"
        ]
      },
      "CollectionStatsResponse": {
        "type": "object",
        "properties": {
          "total": {
            "$ref": "#/components/schemas/Total"
          },
          "intervals": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IntervalStat"
            }
          }
        },
        "required": [
          "intervals",
          "total"
        ]
      },
      "AssetEventsResponse": {
        "type": "object",
        "properties": {
          "asset_events": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "next": {
            "type": "string"
          }
        },
        "required": [
          "asset_events"
        ]
      }
    },
    "responses": {
      "BadRequest": {
        "description": "For error reasons, review the response data."
      },
      "NotFound": {
        "description": "Resource not found"
      },
      "InternalError": {
        "description": "Internal server error. Please open a support ticket so OpenSea can investigate."
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "description": "API key required for authentication",
        "name": "x-api-key",
        "in": "header"
      }
    }
  }
}