{
  "openapi": "3.0.3",
  "info": {
    "title": "MyTime Partners API",
    "description": "MyTime is an appointment scheduling app, point-of-sale and customer engagement cloud-based platform for multi-location chains and franchises. This Partners API provides management of clients, appointments, classes, locations, employees, and more.",
    "version": "1.0.0",
    "contact": {
      "name": "MyTime",
      "url": "https://www.mytime.com"
    },
    "x-jentic-source-url": "https://partners.mytime.com/docs#/"
  },
  "servers": [
    {
      "url": "https://partners-api.mytime.com/api",
      "description": "MyTime Partners API"
    }
  ],
  "paths": {
    "/clients": {
      "get": {
        "operationId": "listClients",
        "summary": "Returns all clients from the system that the user has access to",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "location_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Subdomain",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Merchant subdomain"
          }
        ],
        "responses": {
          "200": {
            "description": "List of clients",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Client"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createClient",
        "summary": "Create a new client",
        "tags": [
          "Clients"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Client created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/clients/{id}": {
      "get": {
        "operationId": "getClient",
        "summary": "Get client details",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id_is_partner",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Set true if id is a partner ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Client details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateClient",
        "summary": "Update a client",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteClient",
        "summary": "Delete a client",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client deleted"
          }
        }
      }
    },
    "/children": {
      "get": {
        "operationId": "listChildren",
        "summary": "Get all children/pets",
        "tags": [
          "Children"
        ],
        "responses": {
          "200": {
            "description": "List of children/pets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Child"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createChild",
        "summary": "Create a new pet/child",
        "tags": [
          "Children"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChildInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Child/pet created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Child"
                }
              }
            }
          }
        }
      }
    },
    "/children/{id}": {
      "put": {
        "operationId": "updateChild",
        "summary": "Update a pet or a child",
        "tags": [
          "Children"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChildInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Child/pet updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Child"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteChild",
        "summary": "Delete child/pet",
        "tags": [
          "Children"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Child/pet deleted"
          }
        }
      }
    },
    "/open_times": {
      "get": {
        "operationId": "listOpenTimes",
        "summary": "Get all open times",
        "tags": [
          "Open Times"
        ],
        "parameters": [
          {
            "name": "location_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "service_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Available time slots",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OpenTime"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/appointments": {
      "get": {
        "operationId": "listAppointments",
        "summary": "Get all appointments",
        "tags": [
          "Appointments"
        ],
        "parameters": [
          {
            "name": "location_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "employee_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "client_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "begin_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of appointments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Appointment"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAppointment",
        "summary": "Create an appointment",
        "tags": [
          "Appointments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppointmentInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Appointment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Appointment"
                }
              }
            }
          }
        }
      }
    },
    "/appointments/{id}": {
      "get": {
        "operationId": "getAppointment",
        "summary": "Get an appointment",
        "tags": [
          "Appointments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Appointment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Appointment"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateAppointment",
        "summary": "Update an appointment",
        "tags": [
          "Appointments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppointmentInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Appointment updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Appointment"
                }
              }
            }
          }
        }
      }
    },
    "/appointments/{id}/cancel": {
      "post": {
        "operationId": "cancelAppointment",
        "summary": "Cancel an appointment",
        "tags": [
          "Appointments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Appointment cancelled"
          }
        }
      }
    },
    "/appointments/{id}/completed": {
      "post": {
        "operationId": "completeAppointment",
        "summary": "Complete an appointment",
        "tags": [
          "Appointments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Appointment completed"
          }
        }
      }
    },
    "/appointments/{id}/accept": {
      "post": {
        "operationId": "acceptAppointment",
        "summary": "Accept an appointment",
        "tags": [
          "Appointments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Appointment accepted"
          }
        }
      }
    },
    "/appointments/{id}/unaccept": {
      "post": {
        "operationId": "unacceptAppointment",
        "summary": "Unaccept an appointment",
        "tags": [
          "Appointments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Appointment unaccepted"
          }
        }
      }
    },
    "/appointments/{id}/confirm": {
      "post": {
        "operationId": "confirmAppointment",
        "summary": "Confirm an appointment",
        "tags": [
          "Appointments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Appointment confirmed"
          }
        }
      }
    },
    "/appointments/{id}/unconfirm": {
      "post": {
        "operationId": "unconfirmAppointment",
        "summary": "Unconfirm an appointment",
        "tags": [
          "Appointments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Appointment unconfirmed"
          }
        }
      }
    },
    "/appointments/{id}/no_show": {
      "post": {
        "operationId": "markAppointmentNoShow",
        "summary": "Mark an appointment as no-show",
        "tags": [
          "Appointments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Appointment marked as no-show"
          }
        }
      }
    },
    "/appointments/{id}/showed_up": {
      "post": {
        "operationId": "markAppointmentShowedUp",
        "summary": "Mark an appointment as showed-up",
        "tags": [
          "Appointments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Appointment marked as showed-up"
          }
        }
      }
    },
    "/appointments/{id}/client_checked_in": {
      "post": {
        "operationId": "markAppointmentClientCheckedIn",
        "summary": "Mark as client-checked-in",
        "tags": [
          "Appointments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Appointment marked as client-checked-in"
          }
        }
      }
    },
    "/appointments/{id}/cancel_waiting": {
      "post": {
        "operationId": "cancelWaitingAppointment",
        "summary": "Cancel waiting for an appointment",
        "tags": [
          "Appointments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Waiting cancelled"
          }
        }
      }
    },
    "/reconciliations": {
      "get": {
        "operationId": "listReconciliations",
        "summary": "Returns successful reconciliation transactions",
        "tags": [
          "Reconciliations"
        ],
        "parameters": [
          {
            "name": "location_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "begin_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of reconciliation transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Reconciliation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/royalties": {
      "get": {
        "operationId": "listRoyalties",
        "summary": "Returns successful royalties payment transactions",
        "tags": [
          "Royalties"
        ],
        "parameters": [
          {
            "name": "location_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "begin_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of royalties transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Royalty"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tickets": {
      "get": {
        "operationId": "listTickets",
        "summary": "Query for tickets",
        "tags": [
          "Tickets"
        ],
        "parameters": [
          {
            "name": "location_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "begin_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tickets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Ticket"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ticket/{id}": {
      "get": {
        "operationId": "getTicket",
        "summary": "Get ticket details",
        "tags": [
          "Tickets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ticket details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ticket"
                }
              }
            }
          }
        }
      }
    },
    "/tickets/item_types": {
      "get": {
        "operationId": "listTicketItemTypes",
        "summary": "Returns all item types available",
        "tags": [
          "Tickets"
        ],
        "responses": {
          "200": {
            "description": "List of item types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tickets/payment_types": {
      "get": {
        "operationId": "listTicketPaymentTypes",
        "summary": "Returns all payment types available",
        "tags": [
          "Tickets"
        ],
        "responses": {
          "200": {
            "description": "List of payment types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tickets/refunds": {
      "get": {
        "operationId": "listTicketRefunds",
        "summary": "Returns all refunds requested",
        "tags": [
          "Tickets"
        ],
        "parameters": [
          {
            "name": "location_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "begin_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of refunds",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tickets/journals": {
      "get": {
        "operationId": "listTicketJournals",
        "summary": "Returns all journals requested",
        "tags": [
          "Tickets"
        ],
        "parameters": [
          {
            "name": "location_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "begin_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of journals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/services": {
      "get": {
        "operationId": "listServices",
        "summary": "Get all services",
        "tags": [
          "Services"
        ],
        "parameters": [
          {
            "name": "location_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of services",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Service"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/deals": {
      "get": {
        "operationId": "listDeals",
        "summary": "Returns all deals from a specific location",
        "tags": [
          "Deals"
        ],
        "parameters": [
          {
            "name": "location_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of deals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Deal"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/variations": {
      "get": {
        "operationId": "listVariations",
        "summary": "Returns all variations and pricings",
        "tags": [
          "Variations"
        ],
        "parameters": [
          {
            "name": "location_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of variations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Variation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/locations": {
      "get": {
        "operationId": "listLocations",
        "summary": "Get all locations",
        "tags": [
          "Locations"
        ],
        "responses": {
          "200": {
            "description": "List of locations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createLocation",
        "summary": "Creates a Location",
        "tags": [
          "Locations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Location created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          }
        }
      }
    },
    "/locations/{id}": {
      "get": {
        "operationId": "getLocation",
        "summary": "Get location details",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Location details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          }
        }
      }
    },
    "/class_sessions": {
      "get": {
        "operationId": "listClassSessions",
        "summary": "Get all class sessions",
        "tags": [
          "Class Sessions"
        ],
        "parameters": [
          {
            "name": "location_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "begin_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of class sessions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClassSession"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createClassSession",
        "summary": "Create a class session",
        "tags": [
          "Class Sessions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClassSessionInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Class session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassSession"
                }
              }
            }
          }
        }
      }
    },
    "/class_sessions/{id}": {
      "get": {
        "operationId": "getClassSession",
        "summary": "Get a class session",
        "tags": [
          "Class Sessions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Class session details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassSession"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateClassSession",
        "summary": "Update a class session",
        "tags": [
          "Class Sessions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClassSessionInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Class session updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassSession"
                }
              }
            }
          }
        }
      }
    },
    "/class_sessions/{id}/cancel": {
      "delete": {
        "operationId": "cancelClassSession",
        "summary": "Cancel a class session",
        "tags": [
          "Class Sessions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Class session cancelled"
          }
        }
      }
    },
    "/classes": {
      "get": {
        "operationId": "listClasses",
        "summary": "Returns all classes",
        "tags": [
          "Classes"
        ],
        "parameters": [
          {
            "name": "location_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of classes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Class"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createClass",
        "summary": "Creates a class",
        "tags": [
          "Classes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClassInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Class created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Class"
                }
              }
            }
          }
        }
      }
    },
    "/classes/{id}": {
      "get": {
        "operationId": "getClass",
        "summary": "Returns a class by id",
        "tags": [
          "Classes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Class details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Class"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateClass",
        "summary": "Updates a class",
        "tags": [
          "Classes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClassInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Class updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Class"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteClass",
        "summary": "Deletes a class and its settings",
        "tags": [
          "Classes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Class deleted"
          }
        }
      }
    },
    "/session_enrollments": {
      "get": {
        "operationId": "listSessionEnrollments",
        "summary": "Get all session enrollments",
        "tags": [
          "Session Enrollments"
        ],
        "parameters": [
          {
            "name": "class_session_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of enrollments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SessionEnrollment"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createSessionEnrollment",
        "summary": "Create a session enrollment",
        "tags": [
          "Session Enrollments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionEnrollmentInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Enrollment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionEnrollment"
                }
              }
            }
          }
        }
      }
    },
    "/session_enrollments/{id}": {
      "get": {
        "operationId": "getSessionEnrollment",
        "summary": "Get a session enrollment",
        "tags": [
          "Session Enrollments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enrollment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionEnrollment"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateSessionEnrollment",
        "summary": "Update a session enrollment",
        "tags": [
          "Session Enrollments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionEnrollmentInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enrollment updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionEnrollment"
                }
              }
            }
          }
        }
      }
    },
    "/session_enrollments/{id}/cancel": {
      "delete": {
        "operationId": "cancelSessionEnrollment",
        "summary": "Cancel a session enrollment",
        "tags": [
          "Session Enrollments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enrollment cancelled"
          }
        }
      }
    },
    "/session_enrollments/{id}/confirm": {
      "post": {
        "operationId": "confirmSessionEnrollment",
        "summary": "Confirm a session enrollment",
        "tags": [
          "Session Enrollments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enrollment confirmed"
          }
        }
      }
    },
    "/session_enrollments/{id}/unconfirm": {
      "post": {
        "operationId": "unconfirmSessionEnrollment",
        "summary": "Unconfirm a session enrollment",
        "tags": [
          "Session Enrollments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enrollment unconfirmed"
          }
        }
      }
    },
    "/attendee_types": {
      "get": {
        "operationId": "listAttendeeTypes",
        "summary": "Returns all attendee types",
        "tags": [
          "Attendee Types"
        ],
        "responses": {
          "200": {
            "description": "List of attendee types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttendeeType"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAttendeeType",
        "summary": "Creates an Attendee Type",
        "tags": [
          "Attendee Types"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttendeeTypeInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Attendee type created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttendeeType"
                }
              }
            }
          }
        }
      }
    },
    "/attendee_types/{id}": {
      "put": {
        "operationId": "updateAttendeeType",
        "summary": "Updates an attendee type",
        "tags": [
          "Attendee Types"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttendeeTypeInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Attendee type updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttendeeType"
                }
              }
            }
          }
        }
      }
    },
    "/resources": {
      "get": {
        "operationId": "listResources",
        "summary": "Returns all resources",
        "tags": [
          "Resources"
        ],
        "responses": {
          "200": {
            "description": "List of resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Resource"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createResource",
        "summary": "Create a resource",
        "tags": [
          "Resources"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          }
        }
      }
    },
    "/resources/{id}": {
      "get": {
        "operationId": "getResource",
        "summary": "Shows a resource",
        "tags": [
          "Resources"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateResource",
        "summary": "Update a resource",
        "tags": [
          "Resources"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resource updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteResource",
        "summary": "Deletes a resource",
        "tags": [
          "Resources"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted"
          }
        }
      }
    },
    "/class_categories": {
      "get": {
        "operationId": "listClassCategories",
        "summary": "Returns all class categories",
        "tags": [
          "Class Categories"
        ],
        "responses": {
          "200": {
            "description": "List of class categories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClassCategory"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createClassCategory",
        "summary": "Creates a Class category",
        "tags": [
          "Class Categories"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClassCategoryInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Class category created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassCategory"
                }
              }
            }
          }
        }
      }
    },
    "/class_categories/{id}": {
      "put": {
        "operationId": "updateClassCategory",
        "summary": "Updates a Class Category",
        "tags": [
          "Class Categories"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClassCategoryInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Class category updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassCategory"
                }
              }
            }
          }
        }
      }
    },
    "/bundle_purchases": {
      "get": {
        "operationId": "listBundlePurchases",
        "summary": "Returns all bundle purchases for a client",
        "tags": [
          "Bundle Purchases"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of bundle purchases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BundlePurchase"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createBundlePurchase",
        "summary": "Creates a bundle purchase",
        "tags": [
          "Bundle Purchases"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundlePurchaseInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Bundle purchase created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BundlePurchase"
                }
              }
            }
          }
        }
      }
    },
    "/bundle_purchases/{id}": {
      "get": {
        "operationId": "getBundlePurchase",
        "summary": "Get a bundle purchase",
        "tags": [
          "Bundle Purchases"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bundle purchase details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BundlePurchase"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateBundlePurchase",
        "summary": "Updates a bundle purchase",
        "tags": [
          "Bundle Purchases"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundlePurchaseInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bundle purchase updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BundlePurchase"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBundlePurchase",
        "summary": "Delete a bundle purchase",
        "tags": [
          "Bundle Purchases"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bundle purchase deleted"
          }
        }
      }
    },
    "/external_locations": {
      "get": {
        "operationId": "listExternalLocations",
        "summary": "Get all external locations",
        "tags": [
          "External Locations"
        ],
        "responses": {
          "200": {
            "description": "List of external locations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExternalLocation"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createExternalLocation",
        "summary": "Create an external location",
        "tags": [
          "External Locations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalLocationInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "External location created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalLocation"
                }
              }
            }
          }
        }
      }
    },
    "/employees": {
      "get": {
        "operationId": "listEmployees",
        "summary": "Returns all employees from the system",
        "tags": [
          "Employees"
        ],
        "responses": {
          "200": {
            "description": "List of employees",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Employee"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createEmployee",
        "summary": "Create a new employee",
        "tags": [
          "Employees"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Employee created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Employee"
                }
              }
            }
          }
        }
      }
    },
    "/employees/{id}": {
      "get": {
        "operationId": "getEmployee",
        "summary": "Retrieve employee details",
        "tags": [
          "Employees"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Employee details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Employee"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateEmployee",
        "summary": "Update an existing employee",
        "tags": [
          "Employees"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Employee updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Employee"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteEmployee",
        "summary": "Remove an employee",
        "tags": [
          "Employees"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Employee removed"
          }
        }
      }
    },
    "/staff_schedules": {
      "get": {
        "operationId": "listStaffSchedules",
        "summary": "Staff Schedule for a location",
        "tags": [
          "Staff Schedules"
        ],
        "parameters": [
          {
            "name": "location_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of staff schedules",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StaffSchedule"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createStaffSchedule",
        "summary": "Create staff schedule entry",
        "tags": [
          "Staff Schedules"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StaffScheduleInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Staff schedule created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffSchedule"
                }
              }
            }
          }
        }
      }
    },
    "/staff_schedules/{id}": {
      "put": {
        "operationId": "updateStaffSchedule",
        "summary": "Update schedule",
        "tags": [
          "Staff Schedules"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StaffScheduleInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Schedule updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffSchedule"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteStaffSchedule",
        "summary": "Remove schedule",
        "tags": [
          "Staff Schedules"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Schedule removed"
          }
        }
      }
    },
    "/custom_fields": {
      "get": {
        "operationId": "listCustomFields",
        "summary": "Retrieve defined custom fields",
        "tags": [
          "Custom Fields"
        ],
        "responses": {
          "200": {
            "description": "List of custom fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomField"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCustomField",
        "summary": "Create custom field",
        "tags": [
          "Custom Fields"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Custom field created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomField"
                }
              }
            }
          }
        }
      }
    },
    "/custom_fields/{id}": {
      "put": {
        "operationId": "updateCustomField",
        "summary": "Update custom field",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Custom field updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomField"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCustomField",
        "summary": "Delete custom field",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom field deleted"
          }
        }
      }
    },
    "/labels": {
      "get": {
        "operationId": "listLabels",
        "summary": "Labels that can be attached to clients",
        "tags": [
          "Labels"
        ],
        "responses": {
          "200": {
            "description": "List of labels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Label"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createLabel",
        "summary": "Create new label",
        "tags": [
          "Labels"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LabelInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Label created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Label"
                }
              }
            }
          }
        }
      }
    },
    "/labels/{id}": {
      "put": {
        "operationId": "updateLabel",
        "summary": "Update label",
        "tags": [
          "Labels"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LabelInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Label updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Label"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteLabel",
        "summary": "Remove label",
        "tags": [
          "Labels"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Label removed"
          }
        }
      }
    },
    "/loyalty_program_points": {
      "get": {
        "operationId": "listLoyaltyProgramPoints",
        "summary": "Loyalty program points management",
        "tags": [
          "Loyalty Program Points"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of loyalty points",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LoyaltyProgramPoint"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addLoyaltyProgramPoints",
        "summary": "Add loyalty points",
        "tags": [
          "Loyalty Program Points"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoyaltyProgramPointInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Points added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoyaltyProgramPoint"
                }
              }
            }
          }
        }
      }
    },
    "/loyalty_program_points/{id}": {
      "put": {
        "operationId": "adjustLoyaltyProgramPoints",
        "summary": "Adjust loyalty points",
        "tags": [
          "Loyalty Program Points"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoyaltyProgramPointInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Points adjusted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoyaltyProgramPoint"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "removeLoyaltyProgramPoints",
        "summary": "Remove loyalty points",
        "tags": [
          "Loyalty Program Points"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Points removed"
          }
        }
      }
    },
    "/company": {
      "get": {
        "operationId": "getCompany",
        "summary": "Company information",
        "tags": [
          "Company"
        ],
        "responses": {
          "200": {
            "description": "Company details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "X-Api-Key",
        "in": "header",
        "description": "40-character API key string"
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Unauthorized - Invalid or missing API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "Unprocessable Entity - Validation error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Client": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "partner_id": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ClientInput": {
        "type": "object",
        "required": [
          "first_name",
          "last_name"
        ],
        "properties": {
          "partner_id": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "location_id": {
            "type": "integer"
          }
        }
      },
      "Child": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "client_id": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "ChildInput": {
        "type": "object",
        "required": [
          "name",
          "client_id"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "client_id": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "OpenTime": {
        "type": "object",
        "properties": {
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "end_time": {
            "type": "string",
            "format": "date-time"
          },
          "employee_id": {
            "type": "integer"
          },
          "location_id": {
            "type": "integer"
          }
        }
      },
      "Appointment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "partner_id": {
            "type": "string"
          },
          "client_id": {
            "type": "integer"
          },
          "employee_id": {
            "type": "integer"
          },
          "location_id": {
            "type": "integer"
          },
          "begin_at": {
            "type": "string",
            "format": "date-time"
          },
          "end_at": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AppointmentInput": {
        "type": "object",
        "required": [
          "client_id",
          "location_id",
          "begin_at",
          "end_at"
        ],
        "properties": {
          "partner_id": {
            "type": "string"
          },
          "client_id": {
            "type": "integer"
          },
          "employee_id": {
            "type": "integer"
          },
          "location_id": {
            "type": "integer"
          },
          "begin_at": {
            "type": "string",
            "format": "date-time"
          },
          "end_at": {
            "type": "string",
            "format": "date-time"
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "Reconciliation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "amount": {
            "type": "number"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "location_id": {
            "type": "integer"
          }
        }
      },
      "Royalty": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "amount": {
            "type": "number"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "location_id": {
            "type": "integer"
          }
        }
      },
      "Ticket": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "client_id": {
            "type": "integer"
          },
          "location_id": {
            "type": "integer"
          },
          "total": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Service": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "duration": {
            "type": "integer"
          },
          "price": {
            "type": "number"
          }
        }
      },
      "Deal": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "location_id": {
            "type": "integer"
          }
        }
      },
      "Variation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "duration": {
            "type": "integer"
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "partner_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          }
        }
      },
      "LocationInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "partner_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          }
        }
      },
      "ClassSession": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "class_id": {
            "type": "integer"
          },
          "location_id": {
            "type": "integer"
          },
          "begin_at": {
            "type": "string",
            "format": "date-time"
          },
          "end_at": {
            "type": "string",
            "format": "date-time"
          },
          "capacity": {
            "type": "integer"
          },
          "enrolled_count": {
            "type": "integer"
          }
        }
      },
      "ClassSessionInput": {
        "type": "object",
        "required": [
          "class_id",
          "location_id",
          "begin_at",
          "end_at"
        ],
        "properties": {
          "class_id": {
            "type": "integer"
          },
          "location_id": {
            "type": "integer"
          },
          "begin_at": {
            "type": "string",
            "format": "date-time"
          },
          "end_at": {
            "type": "string",
            "format": "date-time"
          },
          "capacity": {
            "type": "integer"
          }
        }
      },
      "Class": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "category_id": {
            "type": "integer"
          },
          "duration": {
            "type": "integer"
          },
          "capacity": {
            "type": "integer"
          }
        }
      },
      "ClassInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "category_id": {
            "type": "integer"
          },
          "duration": {
            "type": "integer"
          },
          "capacity": {
            "type": "integer"
          }
        }
      },
      "SessionEnrollment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "class_session_id": {
            "type": "integer"
          },
          "client_id": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SessionEnrollmentInput": {
        "type": "object",
        "required": [
          "class_session_id",
          "client_id"
        ],
        "properties": {
          "class_session_id": {
            "type": "integer"
          },
          "client_id": {
            "type": "integer"
          }
        }
      },
      "AttendeeType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "AttendeeTypeInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "Resource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "location_id": {
            "type": "integer"
          }
        }
      },
      "ResourceInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "location_id": {
            "type": "integer"
          }
        }
      },
      "ClassCategory": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "ClassCategoryInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "BundlePurchase": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "client_id": {
            "type": "integer"
          },
          "bundle_name": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          },
          "remaining": {
            "type": "integer"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BundlePurchaseInput": {
        "type": "object",
        "required": [
          "client_id"
        ],
        "properties": {
          "client_id": {
            "type": "integer"
          },
          "bundle_name": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          }
        }
      },
      "ExternalLocation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          }
        }
      },
      "ExternalLocationInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          }
        }
      },
      "Employee": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "partner_id": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "location_id": {
            "type": "integer"
          }
        }
      },
      "EmployeeInput": {
        "type": "object",
        "required": [
          "first_name",
          "last_name"
        ],
        "properties": {
          "partner_id": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "location_id": {
            "type": "integer"
          }
        }
      },
      "StaffSchedule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "employee_id": {
            "type": "integer"
          },
          "location_id": {
            "type": "integer"
          },
          "day_of_week": {
            "type": "integer"
          },
          "start_time": {
            "type": "string"
          },
          "end_time": {
            "type": "string"
          }
        }
      },
      "StaffScheduleInput": {
        "type": "object",
        "required": [
          "employee_id",
          "location_id"
        ],
        "properties": {
          "employee_id": {
            "type": "integer"
          },
          "location_id": {
            "type": "integer"
          },
          "day_of_week": {
            "type": "integer"
          },
          "start_time": {
            "type": "string"
          },
          "end_time": {
            "type": "string"
          }
        }
      },
      "CustomField": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "field_type": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          }
        }
      },
      "CustomFieldInput": {
        "type": "object",
        "required": [
          "name",
          "field_type"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "field_type": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          }
        }
      },
      "Label": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string"
          }
        }
      },
      "LabelInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string"
          }
        }
      },
      "LoyaltyProgramPoint": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "client_id": {
            "type": "integer"
          },
          "points": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "LoyaltyProgramPointInput": {
        "type": "object",
        "required": [
          "client_id",
          "points"
        ],
        "properties": {
          "client_id": {
            "type": "integer"
          },
          "points": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "website": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Clients",
      "description": "Manage clients"
    },
    {
      "name": "Children",
      "description": "Manage children/pets associated with clients"
    },
    {
      "name": "Appointments",
      "description": "Manage appointments"
    },
    {
      "name": "Open Times",
      "description": "Query available time slots"
    },
    {
      "name": "Classes",
      "description": "Manage classes"
    },
    {
      "name": "Class Sessions",
      "description": "Manage class sessions"
    },
    {
      "name": "Session Enrollments",
      "description": "Manage enrollments in class sessions"
    },
    {
      "name": "Attendee Types",
      "description": "Manage attendee type categories"
    },
    {
      "name": "Locations",
      "description": "Manage business locations"
    },
    {
      "name": "External Locations",
      "description": "Manage off-site class locations"
    },
    {
      "name": "Employees",
      "description": "Manage employees"
    },
    {
      "name": "Staff Schedules",
      "description": "Manage staff schedules"
    },
    {
      "name": "Services",
      "description": "Query available services"
    },
    {
      "name": "Deals",
      "description": "Query deals and promotions"
    },
    {
      "name": "Variations",
      "description": "Query service variations and pricing"
    },
    {
      "name": "Resources",
      "description": "Manage class resources (rooms, equipment)"
    },
    {
      "name": "Class Categories",
      "description": "Manage class category groupings"
    },
    {
      "name": "Bundle Purchases",
      "description": "Manage package/bundle purchases"
    },
    {
      "name": "Tickets",
      "description": "Query tickets and transactions"
    },
    {
      "name": "Reconciliations",
      "description": "Query reconciliation transactions"
    },
    {
      "name": "Royalties",
      "description": "Query royalties payment transactions"
    },
    {
      "name": "Labels",
      "description": "Manage client labels"
    },
    {
      "name": "Custom Fields",
      "description": "Manage custom data fields"
    },
    {
      "name": "Loyalty Program Points",
      "description": "Manage loyalty program points"
    },
    {
      "name": "Company",
      "description": "Company information"
    }
  ]
}