{
  "openapi": "3.0.3",
  "info": {
    "title": "Gyazo API",
    "description": "The Gyazo API allows you to upload, list, search, retrieve, and delete screenshots and images. Gyazo is a screenshot and image sharing tool.",
    "version": "1.0.0",
    "contact": {
      "name": "Gyazo",
      "url": "https://gyazo.com/api/docs"
    }
  },
  "servers": [
    {
      "url": "https://api.gyazo.com",
      "description": "Gyazo API server"
    },
    {
      "url": "https://upload.gyazo.com",
      "description": "Gyazo Upload API server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/api/images": {
      "get": {
        "summary": "List images",
        "description": "Returns a list of the user's images, ordered by creation date (newest first).",
        "operationId": "listImages",
        "tags": ["Images"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Number of images per page (1-100)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of images",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Image"
                  }
                }
              }
            },
            "headers": {
              "X-Total-Count": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of images"
              },
              "X-Current-Page": {
                "schema": {
                  "type": "integer"
                },
                "description": "Current page number"
              },
              "X-Per-Page": {
                "schema": {
                  "type": "integer"
                },
                "description": "Number of images per page"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/images/{image_id}": {
      "get": {
        "summary": "Get image",
        "description": "Returns details for a specific image, including OCR data.",
        "operationId": "getImage",
        "tags": ["Images"],
        "parameters": [
          {
            "name": "image_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The image ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Image details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Image not found"
          }
        }
      },
      "delete": {
        "summary": "Delete image",
        "description": "Deletes an image. You can only delete your own images.",
        "operationId": "deleteImage",
        "tags": ["Images"],
        "parameters": [
          {
            "name": "image_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The image ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Image deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "image_id": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Image not found"
          }
        }
      }
    },
    "/api/upload": {
      "post": {
        "summary": "Upload image",
        "description": "Uploads an image to Gyazo. This endpoint uses the upload.gyazo.com server.",
        "operationId": "uploadImage",
        "tags": ["Upload"],
        "servers": [
          {
            "url": "https://upload.gyazo.com",
            "description": "Gyazo Upload API server"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["imagedata"],
                "properties": {
                  "imagedata": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image file to upload"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/search": {
      "get": {
        "summary": "Search images",
        "description": "Searches the user's images using OCR text and metadata.",
        "operationId": "searchImages",
        "tags": ["Images"],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query string"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "per",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of results per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token obtained from the Gyazo OAuth application dashboard"
      }
    },
    "schemas": {
      "Image": {
        "type": "object",
        "properties": {
          "image_id": {
            "type": "string",
            "description": "Unique image identifier"
          },
          "permalink_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to the image's Gyazo page"
          },
          "thumb_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to the image thumbnail"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Direct URL to the image file"
          },
          "type": {
            "type": "string",
            "description": "Image MIME type"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of when the image was created"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "app": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "desc": {
                "type": "string"
              }
            }
          }
        }
      },
      "ImageDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Image"
          },
          {
            "type": "object",
            "properties": {
              "ocr": {
                "type": "object",
                "properties": {
                  "locale": {
                    "type": "string",
                    "description": "Detected language locale"
                  },
                  "description": {
                    "type": "string",
                    "description": "OCR extracted text"
                  }
                }
              }
            }
          }
        ]
      },
      "UploadResponse": {
        "type": "object",
        "properties": {
          "image_id": {
            "type": "string",
            "description": "Unique image identifier"
          },
          "permalink_url": {
            "type": "string",
            "format": "uri"
          },
          "thumb_url": {
            "type": "string",
            "format": "uri"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "captures": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Image"
            }
          },
          "number_of_captures": {
            "type": "integer",
            "description": "Total number of matching captures"
          },
          "query": {
            "type": "string",
            "description": "The search query that was executed"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Images",
      "description": "Image management operations"
    },
    {
      "name": "Upload",
      "description": "Image upload operations"
    }
  ]
}
