{
  "openapi": "3.0.3",
  "info": {
    "title": "ClickMeeting API",
    "version": "1.0.0",
    "description": "ClickMeeting REST API for managing conferences (meetings and webinars), sessions, contacts, registrations, and access tokens.",
    "x-jentic-source-url": "https://dev.clickmeeting.com/"
  },
  "servers": [
    {
      "url": "https://api.clickmeeting.com/v1"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Conferences",
      "description": "Manage meetings and webinars"
    },
    {
      "name": "Sessions",
      "description": "Conference session management"
    },
    {
      "name": "Tokens",
      "description": "Access token management"
    },
    {
      "name": "Contacts",
      "description": "Contact management"
    },
    {
      "name": "Registrations",
      "description": "Registration management"
    },
    {
      "name": "Utilities",
      "description": "Time zones and phone gateways"
    }
  ],
  "paths": {
    "/conferences/{status}": {
      "get": {
        "tags": [
          "Conferences"
        ],
        "summary": "List Conferences",
        "description": "Returns list of conferences filtered by status",
        "operationId": "listConferences",
        "parameters": [
          {
            "name": "status",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive"
              ]
            },
            "description": "Conference status filter"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number for inactive rooms (250 items per page)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of conferences",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Conference"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/conferences": {
      "post": {
        "tags": [
          "Conferences"
        ],
        "summary": "Create Conference",
        "description": "Create a new meeting or webinar room",
        "operationId": "createConference",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConferenceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conference created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "room": {
                      "$ref": "#/components/schemas/Conference"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/conferences/{room_id}": {
      "get": {
        "tags": [
          "Conferences"
        ],
        "summary": "Get Conference",
        "description": "Get details of a particular conference room",
        "operationId": "getConference",
        "parameters": [
          {
            "name": "room_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conference details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "conference": {
                      "$ref": "#/components/schemas/Conference"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "Conferences"
        ],
        "summary": "Update Conference",
        "description": "Edit parameters of a particular conference room",
        "operationId": "updateConference",
        "parameters": [
          {
            "name": "room_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConferenceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conference updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "conference": {
                      "$ref": "#/components/schemas/Conference"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Conferences"
        ],
        "summary": "Delete Conference",
        "description": "Permanently delete a conference room. Events on air cannot be deleted.",
        "operationId": "deleteConference",
        "parameters": [
          {
            "name": "room_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/conferences/{room_id}/tokens": {
      "post": {
        "tags": [
          "Tokens"
        ],
        "summary": "Generate Access Tokens",
        "description": "Generate access tokens for a token-protected conference room (access_type=3). Up to 1000 per request.",
        "operationId": "generateTokens",
        "parameters": [
          {
            "name": "room_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "how_many"
                ],
                "properties": {
                  "how_many": {
                    "type": "integer",
                    "maximum": 1000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tokens generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "Tokens"
        ],
        "summary": "Get Access Tokens",
        "description": "Get list of generated access tokens for a token-protected conference room",
        "operationId": "getTokens",
        "parameters": [
          {
            "name": "room_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Tokens"
        ],
        "summary": "Delete Access Tokens",
        "description": "Delete (deactivate) access tokens for a conference room",
        "operationId": "deleteTokens",
        "parameters": [
          {
            "name": "room_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tokens": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tokens deleted"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/conferences/{room_id}/token": {
      "post": {
        "tags": [
          "Tokens"
        ],
        "summary": "Get Token by Email",
        "description": "Get access tokens assigned to a specific email address",
        "operationId": "getTokenByEmail",
        "parameters": [
          {
            "name": "room_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/conferences/{room_id}/room/autologin_hash": {
      "post": {
        "tags": [
          "Conferences"
        ],
        "summary": "Generate Auto-Login URL",
        "description": "Generate an auto-login hash for direct room access",
        "operationId": "generateAutologinHash",
        "parameters": [
          {
            "name": "room_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutologinRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Autologin hash",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "autologin_hash": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/conferences/{room_id}/invitation/email/{lang}": {
      "post": {
        "tags": [
          "Conferences"
        ],
        "summary": "Send Invitation Email",
        "description": "Send invitation emails to attendees for a conference",
        "operationId": "sendInvitationEmail",
        "parameters": [
          {
            "name": "room_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Invitation language code"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvitationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invitations sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/conferences/{room_id}/sessions": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "List Sessions",
        "description": "Get list of all sessions for a conference room",
        "operationId": "listSessions",
        "parameters": [
          {
            "name": "room_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Session"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/conferences/{room_id}/sessions/{session_id}": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Get Session",
        "description": "Get data of a particular session including breakout rooms",
        "operationId": "getSession",
        "parameters": [
          {
            "name": "room_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/conferences/{room_id}/sessions/{session_id}/attendees": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Get Session Attendees",
        "description": "Get all attendees of a particular session",
        "operationId": "getSessionAttendees",
        "parameters": [
          {
            "name": "room_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attendee list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Attendee"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/conferences/{room_id}/sessions/{session_id}/generate-pdf/{lang}": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Generate PDF Report",
        "description": "Generate a PDF report for a conference session",
        "operationId": "generateSessionPdf",
        "parameters": [
          {
            "name": "room_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF generation status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PdfReportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/contacts": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Add Contact",
        "description": "Add a new contact to account. If email already exists, updates existing contact.",
        "operationId": "addContact",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/conferences/{room_id}/registrations/{status}": {
      "get": {
        "tags": [
          "Registrations"
        ],
        "summary": "Get Registrations",
        "description": "Get registered participants for a conference by status",
        "operationId": "getRegistrations",
        "parameters": [
          {
            "name": "room_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "active"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Registration list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Registration"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/conferences/{room_id}/registration": {
      "post": {
        "tags": [
          "Registrations"
        ],
        "summary": "Register Participant",
        "description": "Register a participant to a conference room",
        "operationId": "registerParticipant",
        "parameters": [
          {
            "name": "room_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterParticipantRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Participant registered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/conferences/{room_id}/sessions/{session_id}/registrations": {
      "get": {
        "tags": [
          "Registrations"
        ],
        "summary": "Get Session Registrations",
        "description": "Get registered participants for a specific session",
        "operationId": "getSessionRegistrations",
        "parameters": [
          {
            "name": "room_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Registration list"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/time_zone_list": {
      "get": {
        "tags": [
          "Utilities"
        ],
        "summary": "Get Time Zones",
        "description": "Get list of all available time zones",
        "operationId": "getTimeZones",
        "responses": {
          "200": {
            "description": "Time zone list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/time_zone_list/{country}": {
      "get": {
        "tags": [
          "Utilities"
        ],
        "summary": "Get Time Zones by Country",
        "description": "Get time zones for a specific country",
        "operationId": "getTimeZonesByCountry",
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ISO 2 country code"
          }
        ],
        "responses": {
          "200": {
            "description": "Time zone list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/phone_gateways": {
      "get": {
        "tags": [
          "Utilities"
        ],
        "summary": "Get Phone Gateways",
        "description": "Get list of available phone gateway numbers",
        "operationId": "getPhoneGateways",
        "responses": {
          "200": {
            "description": "Phone gateway list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PhoneGateway"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key",
        "description": "ClickMeeting API key"
      }
    },
    "schemas": {
      "Conference": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "name_url": {
            "type": "string"
          },
          "room_type": {
            "type": "string",
            "enum": [
              "meeting",
              "webinar"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          },
          "access_type": {
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ]
          },
          "permanent_room": {
            "type": "boolean"
          },
          "room_url": {
            "type": "string"
          },
          "embed_room_url": {
            "type": "string"
          },
          "room_pin": {
            "type": "integer"
          },
          "phone_presenter_pin": {
            "type": "integer"
          },
          "phone_listener_pin": {
            "type": "integer"
          },
          "lobby_description": {
            "type": "string"
          },
          "lobby_enabled": {
            "type": "string"
          },
          "registration_enabled": {
            "type": "integer"
          },
          "timezone": {
            "type": "string"
          },
          "timezone_offset": {
            "type": "integer"
          },
          "starts_at": {
            "type": "string",
            "format": "date-time"
          },
          "ends_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "access_role_hashes": {
            "type": "object",
            "properties": {
              "listener": {
                "type": "string"
              },
              "presenter": {
                "type": "string"
              },
              "host": {
                "type": "string"
              }
            }
          },
          "recorder_list": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "widgets_hash": {
            "type": "string"
          },
          "settings": {
            "$ref": "#/components/schemas/ConferenceSettings"
          }
        }
      },
      "ConferenceSettings": {
        "type": "object",
        "properties": {
          "show_on_personal_page": {
            "type": "boolean"
          },
          "thank_you_emails_enabled": {
            "type": "boolean"
          },
          "connection_tester_enabled": {
            "type": "boolean"
          },
          "phonegateway_enabled": {
            "type": "boolean"
          },
          "recorder_autostart_enabled": {
            "type": "boolean"
          },
          "room_invite_button_enabled": {
            "type": "boolean"
          },
          "social_media_sharing_enabled": {
            "type": "boolean"
          },
          "connection_status_enabled": {
            "type": "boolean"
          },
          "thank_you_page_url": {
            "type": "string"
          }
        }
      },
      "CreateConferenceRequest": {
        "type": "object",
        "required": [
          "name",
          "room_type"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "room_type": {
            "type": "string",
            "enum": [
              "meeting",
              "webinar"
            ]
          },
          "permanent_room": {
            "type": "boolean"
          },
          "access_type": {
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ]
          },
          "custom_room_url_name": {
            "type": "string"
          },
          "lobby_description": {
            "type": "string"
          },
          "lobby_enabled": {
            "type": "boolean"
          },
          "starts_at": {
            "type": "string"
          },
          "duration": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "skin_id": {
            "type": "integer"
          },
          "password": {
            "type": "string"
          },
          "registration": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean"
              },
              "template": {
                "type": "integer"
              }
            }
          },
          "settings": {
            "$ref": "#/components/schemas/ConferenceSettings"
          }
        }
      },
      "UpdateConferenceRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "room_type": {
            "type": "string",
            "enum": [
              "meeting",
              "webinar"
            ]
          },
          "permanent_room": {
            "type": "boolean"
          },
          "access_type": {
            "type": "integer"
          },
          "lobby_description": {
            "type": "string"
          },
          "lobby_enabled": {
            "type": "boolean"
          },
          "starts_at": {
            "type": "string"
          },
          "duration": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "skin_id": {
            "type": "integer"
          },
          "password": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          },
          "registration": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean"
              },
              "template": {
                "type": "integer"
              }
            }
          },
          "settings": {
            "$ref": "#/components/schemas/ConferenceSettings"
          }
        }
      },
      "AutologinRequest": {
        "type": "object",
        "required": [
          "email",
          "nickname",
          "role"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "nickname": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "listener",
              "moderator",
              "guest_speaker",
              "presenter",
              "host"
            ]
          },
          "password": {
            "type": "string"
          },
          "token": {
            "type": "string"
          }
        }
      },
      "InvitationRequest": {
        "type": "object",
        "required": [
          "attendees"
        ],
        "properties": {
          "attendees": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "template": {
            "type": "string",
            "enum": [
              "advanced",
              "basic"
            ]
          },
          "role": {
            "type": "string",
            "enum": [
              "listener",
              "presenter"
            ]
          }
        }
      },
      "Session": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "start_date": {
            "type": "string",
            "format": "date-time"
          },
          "end_date": {
            "type": "string",
            "format": "date-time"
          },
          "max_visitors": {
            "type": "integer"
          },
          "total_visitors": {
            "type": "integer"
          }
        }
      },
      "SessionDetail": {
        "type": "object",
        "properties": {
          "start_date": {
            "type": "string",
            "format": "date-time"
          },
          "end_date": {
            "type": "string",
            "format": "date-time"
          },
          "max_visitors": {
            "type": "integer"
          },
          "total_visitors": {
            "type": "integer"
          },
          "attendees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Attendee"
            }
          },
          "pdf": {
            "type": "object"
          }
        }
      },
      "Attendee": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string"
          },
          "nickname": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "device": {
            "type": "string"
          },
          "rating": {
            "type": "string"
          },
          "rating_comment": {
            "type": "string"
          }
        }
      },
      "ContactRequest": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "description": "ISO 2 country code"
          }
        }
      },
      "Registration": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "session_id": {
            "type": "integer"
          },
          "email": {
            "type": "string"
          },
          "visitor_nickname": {
            "type": "string"
          },
          "registration_date": {
            "type": "string",
            "format": "date-time"
          },
          "registration_confirmed": {
            "type": "string"
          },
          "fields": {
            "type": "object"
          }
        }
      },
      "RegisterParticipantRequest": {
        "type": "object",
        "required": [
          "registration"
        ],
        "properties": {
          "registration": {
            "type": "object",
            "properties": {
              "1": {
                "type": "string",
                "description": "First name"
              },
              "2": {
                "type": "string",
                "description": "Last name"
              },
              "3": {
                "type": "string",
                "description": "Email"
              }
            }
          },
          "confirmation_email": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "integer",
                "enum": [
                  0,
                  1
                ]
              },
              "lang": {
                "type": "string"
              }
            }
          }
        }
      },
      "TokenListResponse": {
        "type": "object",
        "properties": {
          "access_tokens": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "token": {
                  "type": "string"
                },
                "sent_to_email": {
                  "type": "string"
                },
                "first_use_date": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "PdfReportResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "NEW",
              "IN_PROGRESS",
              "FINISHED",
              "FAILED"
            ]
          },
          "progress": {
            "type": "integer"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "PhoneGateway": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "geo": {
            "type": "object",
            "properties": {
              "lat": {
                "type": "string"
              },
              "long": {
                "type": "string"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}