{
  "openapi": "3.0.3",
  "info": {
    "title": "Billit API",
    "description": "Billit API for invoicing and accounting automation",
    "version": "1.0.0",
    "x-jentic-source-url": "https://developers.billit.io"
  },
  "servers": [
    {
      "url": "https://api.billit.io/v1"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/invoices": {
      "get": {
        "summary": "List invoices",
        "description": "Get a list of all invoices",
        "parameters": [
          {"name": "status", "in": "query", "schema": {"type": "string"}, "description": "Filter by status"},
          {"name": "customerId", "in": "query", "schema": {"type": "string"}, "description": "Filter by customer ID"}
        ],
        "responses": {
          "200": {
            "description": "List of invoices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {"type": "string"},
                      "invoiceNumber": {"type": "string"},
                      "amount": {"type": "number"},
                      "status": {"type": "string"},
                      "dueDate": {"type": "string", "format": "date"}
                    }
                  }
                }
              }
            }
          },
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "summary": "Create invoice",
        "description": "Create a new invoice",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["customerId", "amount"],
                "properties": {
                  "customerId": {"type": "string"},
                  "amount": {"type": "number"},
                  "dueDate": {"type": "string", "format": "date"},
                  "items": {"type": "array", "items": {"type": "object"}}
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Invoice created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {"type": "string"},
                    "invoiceNumber": {"type": "string"}
                  }
                }
              }
            }
          },
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/customers": {
      "get": {
        "summary": "List customers",
        "description": "Get a list of all customers",
        "responses": {
          "200": {
            "description": "List of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {"type": "string"},
                      "name": {"type": "string"},
                      "email": {"type": "string"}
                    }
                  }
                }
              }
            }
          },
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/expenses": {
      "get": {
        "summary": "List expenses",
        "description": "Get a list of expenses",
        "responses": {
          "200": {
            "description": "List of expenses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {"type": "string"},
                      "amount": {"type": "number"},
                      "date": {"type": "string", "format": "date"}
                    }
                  }
                }
              }
            }
          },
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {"type": "string"},
          "message": {"type": "string"}
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key for authentication"
      }
    }
  }
}
