{
  "openapi": "3.0.3",
  "info": {
    "title": "Paste Monster API",
    "description": "REST API for Paste.Monster pastebin service. Allows creating, reading, editing, and deleting pastes.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://paste.monster/api"
  },
  "servers": [
    {
      "url": "https://paste.monster/api"
    }
  ],
  "paths": {
    "/create": {
      "post": {
        "operationId": "createPaste",
        "summary": "Create a new paste",
        "description": "Creates a new paste with the given content.",
        "tags": [
          "Pastes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasteCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paste created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Paste"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paste/@{pasteId}": {
      "get": {
        "operationId": "getPaste",
        "summary": "Get a paste by ID",
        "description": "Retrieves the content and metadata of a specific paste.",
        "tags": [
          "Pastes"
        ],
        "parameters": [
          {
            "name": "pasteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the paste"
          }
        ],
        "responses": {
          "200": {
            "description": "Paste retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Paste"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Paste not found"
          }
        }
      }
    },
    "/edit/{pasteId}": {
      "patch": {
        "operationId": "editPaste",
        "summary": "Edit a paste",
        "description": "Updates an existing paste's content or metadata.",
        "tags": [
          "Pastes"
        ],
        "parameters": [
          {
            "name": "pasteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasteEdit"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paste updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Paste"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/delete/{pasteId}": {
      "delete": {
        "operationId": "deletePaste",
        "summary": "Delete a paste",
        "description": "Permanently deletes a paste.",
        "tags": [
          "Pastes"
        ],
        "parameters": [
          {
            "name": "pasteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Paste deleted successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/@me": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Get current user",
        "description": "Retrieves information about the authenticated user.",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "User information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key for authentication. Format: API_KEY"
      }
    },
    "schemas": {
      "Paste": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "expiration": {
            "type": "string"
          },
          "exposure": {
            "type": "string"
          }
        }
      },
      "PasteCreate": {
        "type": "object",
        "required": [
          "name",
          "content"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Name/title of the paste"
          },
          "content": {
            "type": "string",
            "description": "Content of the paste"
          },
          "expiration": {
            "type": "string",
            "description": "Expiration time for the paste"
          },
          "exposure": {
            "type": "string",
            "description": "Visibility of the paste"
          }
        }
      },
      "PasteEdit": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "expiration": {
            "type": "string"
          },
          "exposure": {
            "type": "string"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "username": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ]
}