{
  "openapi": "3.0.3",
  "info": {
    "description": "The transaction broker is the central system for managing ongoing transactions, dispatching them to the terminals, providing results and keeping the mappings for all the terminals. endpoints.",
    "version": "3.0.0-Sandbox",
    "title": "Transaction Broker API",
    "contact": {
      "email": "ConnectPlatformManagement@bofa.com"
    },
    "x-jentic-source-url": "https://developer.merchant-services.bankofamerica.com/healthcareomnichannel/api/swagger/transaction_broker.json"
  },
  "servers": [
    {
      "description": "Transaction Broker URL",
      "url": "https://tb.paymentfusion.com"
    },
    {
      "description": "Transaction Broker staging URL",
      "url": "https://tb-staging.paymentfusion.com"
    },
    {
      "description": "Transaction Broker sandbox URL",
      "url": "https://tb-sandbox.paymentfusion.com"
    }
  ],
  "paths": {
    "/merchants/{merchant_id}/contracts/ach": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Create a contract with a ach token or ach data for a Merchant's Customer",
        "operationId": "createAchContract",
        "description": "Called by the Independent Software Vendor. Allows creating of contracts with ach tokens or ach data.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/MerchantId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateAchContractRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateAchContractResponse"
          },
          "4XX": {
            "description": "Possible errors - 1, 6, 24, 25, 26, 27, 70, 189, 318, 319,",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidFieldApiError"
                    }
                  ]
                },
                "examples": {
                  "ApiError": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ApiError/example"
                        }
                      ]
                    }
                  },
                  "InvalidFieldApiError": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/InvalidFieldApiError/example"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "5XX": {
            "description": "Possible errors - 8",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "gateway_identifier": {
                          "$ref": "#/components/schemas/GatewayIdentifier"
                        },
                        "gateway_response": {
                          "$ref": "#/components/schemas/GatewayResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/merchants/{merchant_id}/contracts/card": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Create a contract with a card token for a Merchant's Customer",
        "operationId": "createCardContract",
        "description": "Called by the Independent Software Vendor. Allows creating of contracts with card tokens.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/MerchantId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateCardContractRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateCardContractResponse"
          },
          "4XX": {
            "description": "Possible errors - 1, 6, 24, 25, 26, 27, 70, 189, 318, 319,",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidFieldApiError"
                    }
                  ]
                },
                "examples": {
                  "ApiError": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ApiError/example"
                        }
                      ]
                    }
                  },
                  "InvalidFieldApiError": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/InvalidFieldApiError/example"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "5XX": {
            "description": "Possible errors - 8",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "gateway_identifier": {
                          "$ref": "#/components/schemas/GatewayIdentifier"
                        },
                        "gateway_response": {
                          "$ref": "#/components/schemas/GatewayResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/merchants/{merchant_id}/customers/{customer_id}/contracts": {
      "delete": {
        "tags": [
          "Contracts"
        ],
        "summary": "Delete the contract for a Merchant's Customer",
        "operationId": "deleteContract",
        "description": "Called by the Independent Software Vendor. Deletes the contract associated to a Merchant's Customer.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/MerchantId"
          },
          {
            "$ref": "#/components/parameters/CustomerId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/VersionResponse"
          },
          "4XX": {
            "description": "Possible errors - 1, 6, 189, 250, 304, 309, 313",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "5XX": {
            "description": "Possible errors - 8",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "gateway_identifier": {
                          "$ref": "#/components/schemas/GatewayIdentifier"
                        },
                        "gateway_response": {
                          "$ref": "#/components/schemas/GatewayResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Contracts"
        ],
        "summary": "Update contract for a Merchant's Customer",
        "operationId": "updateContract",
        "description": "Called by the Independent Software Vendor. Allows updating, enabling and disabling of contracts.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/MerchantId"
          },
          {
            "$ref": "#/components/parameters/CustomerId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateContractRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ContractResponse"
          },
          "4XX": {
            "description": "Possible errors - 1, 6, 27, 70, 189, 250, 303, 304, 309, 313",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidFieldApiError"
                    }
                  ]
                },
                "examples": {
                  "ApiError": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ApiError/example"
                        }
                      ]
                    }
                  },
                  "InvalidFieldApiError": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/InvalidFieldApiError/example"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "5XX": {
            "description": "Possible errors - 8",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "gateway_identifier": {
                          "$ref": "#/components/schemas/GatewayIdentifier"
                        },
                        "gateway_response": {
                          "$ref": "#/components/schemas/GatewayResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Get the contract for a Merchant's Customer",
        "operationId": "showContract",
        "description": "Called by the Independent Software Vendor. Lists the contract associated to a Merchant's Customer.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/MerchantId"
          },
          {
            "$ref": "#/components/parameters/CustomerId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ContractResponse"
          },
          "4XX": {
            "description": "Possible errors - 1, 6, 189, 250, 304, 309, 313",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidFieldApiError"
                    }
                  ]
                },
                "examples": {
                  "ApiError": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ApiError/example"
                        }
                      ]
                    }
                  },
                  "InvalidFieldApiError": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/InvalidFieldApiError/example"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "5XX": {
            "description": "Possible errors - 8",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "gateway_identifier": {
                          "$ref": "#/components/schemas/GatewayIdentifier"
                        },
                        "gateway_response": {
                          "$ref": "#/components/schemas/GatewayResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/merchants/{merchant_id}/contracts": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Get contracts for a Merchant",
        "operationId": "getContracts",
        "description": "Called by the Independent Software Vendor. Returns all contracts of a Merchant.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/MerchantId"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageNumber"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedContractResponse"
          },
          "4XX": {
            "description": "Possible errors - 1, 6, 189, 304, 305, 307, 309, 310, 311, 312",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidFieldApiError"
                    }
                  ]
                },
                "examples": {
                  "ApiError": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ApiError/example"
                        }
                      ]
                    }
                  },
                  "InvalidFieldApiError": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/InvalidFieldApiError/example"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "5XX": {
            "description": "Possible errors - 8",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "gateway_identifier": {
                          "$ref": "#/components/schemas/GatewayIdentifier"
                        },
                        "gateway_response": {
                          "$ref": "#/components/schemas/GatewayResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/hpps": {
      "post": {
        "tags": [
          "Hosted Payment Page"
        ],
        "summary": "Generate HPP",
        "operationId": "createHpp",
        "description": "Called by the Independent Software Vendor. Generates a Hosted Payment Page",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateHostedPaymentPageRequest"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hpp": {
                      "type": "string",
                      "description": "Full URL for the retrieved HPP",
                      "example": "string"
                    },
                    "v": {
                      "$ref": "#/components/schemas/Version"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Possible errors - 1, 28, 29, 85, 106, 189, 223, 225, 226, 251, 257, 259, 275, 276, 277, 278, 281, 282, 283",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/NumericFieldOutOfRange"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidFieldLength"
                    },
                    {
                      "$ref": "#/components/schemas/FieldValueNotAllowed"
                    }
                  ]
                },
                "examples": {
                  "ApiError": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ApiError/example"
                        }
                      ]
                    }
                  },
                  "OutOfRangeExpirationInDays": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/NumericFieldOutOfRange/example"
                        }
                      ]
                    }
                  },
                  "InvalidMerchantTransIdLength": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/InvalidFieldLength/example"
                        }
                      ]
                    }
                  },
                  "InvalidAchHppSecCode": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/InvalidAchHppSecCode/example"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "5XX": {
            "description": "Possible errors - 221",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "callbacks": {
          "callbackOnHpps": {
            "$ref": "#/components/callbacks/CallbackUrlInfo"
          }
        }
      }
    },
    "/print_receipts": {
      "post": {
        "tags": [
          "Print Receipts"
        ],
        "summary": "Create a print receipt job",
        "operationId": "createPrintReceiptJob",
        "description": "Called by the Independent Software Vendor. Creates a new print receipt job.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PrintReceiptsRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/VersionResponse"
          },
          "4XX": {
            "description": "Possible errors - 1, 3, 4, 7, 8, 11, 35, 97, 103, 107, 164, 166, 167, 168, 189, 234, 235, 241, 246, 251, 257, 292, 293, 294, 295, 296, 297, 298, 299",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidFieldApiError"
                    },
                    {
                      "$ref": "#/components/schemas/TerminalUnavailable"
                    },
                    {
                      "$ref": "#/components/schemas/DetailedTerminalUnavailable"
                    }
                  ]
                },
                "examples": {
                  "ApiError": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ApiError/example"
                        }
                      ]
                    }
                  },
                  "InvalidFieldApiError": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/InvalidFieldApiError/example"
                        }
                      ]
                    }
                  },
                  "TerminalUnavailable": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/TerminalUnavailable/example"
                        }
                      ]
                    }
                  },
                  "DetailedTerminalUnavailable": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/DetailedTerminalUnavailable/example"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/prompt_jobs/{id}/cancel": {
      "put": {
        "tags": [
          "Prompt Job"
        ],
        "summary": "Cancel a prompt job",
        "operationId": "cancelPromptJob",
        "description": "Called by the Independent Software Vendor. Request for a prompt job to be cancelled. The request will be saved but the prompt job may or may not be cancelled based on its current state.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the prompt job to cancel.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/VersionResponse"
          },
          "4XX": {
            "description": "Possible errors - 1, 17, 189, 286",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/prompt_jobs": {
      "post": {
        "tags": [
          "Prompt Job"
        ],
        "summary": "Create new prompt job",
        "operationId": "createPromptJob",
        "description": "Called by the Independent Software Vendor. Creates a new prompt job.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/PromptJobWithSerialNumber"
                  },
                  {
                    "$ref": "#/components/schemas/PromptJobWithClientId"
                  }
                ]
              },
              "examples": {
                "SerialNumberSignaturePromptJob": {
                  "$ref": "#/components/examples/SerialNumberSignaturePromptJob"
                },
                "SerialNumberYesNoPromptJob": {
                  "$ref": "#/components/examples/SerialNumberYesNoPromptJob"
                },
                "SerialNumberOkCancelPromptJob": {
                  "$ref": "#/components/examples/SerialNumberOkCancelPromptJob"
                },
                "ClientIdSignaturePromptJob": {
                  "$ref": "#/components/examples/ClientIdSignaturePromptJob"
                },
                "ClientIdYesNoPromptJob": {
                  "$ref": "#/components/examples/ClientIdYesNoPromptJob"
                },
                "ClientIdOkCancelPromptJob": {
                  "$ref": "#/components/examples/ClientIdOkCancelPromptJob"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/PromptJobResponse"
          },
          "4XX": {
            "description": "Possible errors - 1, 3, 4, 31, 32, 33, 54, 68, 85, 103, 106, 107, 112, 164, 166, 167, 168, 189, 196, 234, 235, 241, 246, 257, 273, 274, 279, 280",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidFieldApiError"
                    },
                    {
                      "$ref": "#/components/schemas/TerminalUnavailable"
                    },
                    {
                      "$ref": "#/components/schemas/DetailedTerminalUnavailable"
                    }
                  ]
                },
                "examples": {
                  "ApiError": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ApiError/example"
                        }
                      ]
                    }
                  },
                  "InvalidFieldApiError": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/InvalidFieldApiError/example"
                        }
                      ]
                    }
                  },
                  "TerminalUnavailable": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/TerminalUnavailable/example"
                        }
                      ]
                    }
                  },
                  "DetailedTerminalUnavailable": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/DetailedTerminalUnavailable/example"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "callbacks": {
          "callbackOnFinalizePromptJob": {
            "$ref": "#/components/callbacks/PromptCallbackUrlInfo"
          }
        }
      },
      "get": {
        "tags": [
          "Prompt Job"
        ],
        "summary": "Get prompt jobs.",
        "operationId": "getPromptJobs",
        "description": "Called by the Independent Software Vendor. Lists all the prompt jobs in the database for the current organization.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The limit of the returned list. Size range - `1..100`",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "example": 15
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Specifies the offset of the returned list items. Size range - `0..`",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "example": 10
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PromptJobListResponse"
          },
          "4XX": {
            "description": "Possible errors - 1, 189",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/prompt_jobs/{id}": {
      "get": {
        "tags": [
          "Prompt Job"
        ],
        "summary": "Get prompt jobs.",
        "operationId": "getPromptJob",
        "description": "Called by the Independent Software Vendor. Lists the prompt job in the database for provided id.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the prompt job in question.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PromptJobReadResponse"
          },
          "4XX": {
            "description": "Possible errors - 1, 17, 189",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/receipt_jobs": {
      "post": {
        "tags": [
          "Receipt Job"
        ],
        "summary": "Create new receipt job",
        "operationId": "createReceiptJob",
        "description": "Called by the Independent Software Vendor. Creates a new receipt job.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ReceiptJobRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/VersionResponse"
          },
          "4XX": {
            "description": "Possible errors - 1, 3, 4, 7, 35, 103, 107, 116, 117, 118, 119, 164, 166, 167, 168, 189, 234, 235, 241, 246, 257",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidFieldApiError"
                    },
                    {
                      "$ref": "#/components/schemas/TerminalUnavailable"
                    },
                    {
                      "$ref": "#/components/schemas/DetailedTerminalUnavailable"
                    }
                  ]
                },
                "examples": {
                  "ApiError": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ApiError/example"
                        }
                      ]
                    }
                  },
                  "InvalidFieldApiError": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/InvalidFieldApiError/example"
                        }
                      ]
                    }
                  },
                  "TerminalUnavailable": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/TerminalUnavailable/example"
                        }
                      ]
                    }
                  },
                  "DetailedTerminalUnavailable": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/DetailedTerminalUnavailable/example"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transactions/receipt/render": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Render Receipt",
        "operationId": "renderReceipt",
        "description": "Called by the Independent Software Vendor. Request a receipt by name or by receipt reference number from the gateway for a given transaction reference number. Returns base64 encoded receipt if found.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "name": "ref_number",
            "in": "query",
            "description": "The unique identifier of the transaction on the legacy gateway.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template_name",
            "in": "query",
            "description": "The unique identifier of the transaction template. Used only for payment fusion gateway.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ReceiptData"
          },
          {
            "name": "merchant_id",
            "in": "query",
            "description": "The merchant identifier that will be used to connect to the gateway. Size range - `1..16`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "receipt_format",
            "in": "query",
            "description": "The format of the receipt. Allowed values - `\"Text\"`, `\"HTML\"`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "text_version",
            "in": "query",
            "description": "Should render receipt as text",
            "schema": {
              "type": "boolean",
              "example": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RenderReceiptResponse"
          },
          "4XX": {
            "description": "Possible errors - 1, 9, 69, 109, 110, 111, 113, 189, 230",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/receipts": {
      "get": {
        "tags": [
          "Receipts"
        ],
        "summary": "Show Receipts",
        "operationId": "showReceipts",
        "description": "Called by the Independent Software Vendor. Request a receipt by template_identifier from the gateway for a given transaction_ref_number. Returns base64 encoded receipt if found.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "name": "transaction_ref_number",
            "in": "query",
            "description": "The unique identifier of the transaction.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "transaction1",
              "pattern": "^[a-zA-Z0-9]*$",
              "minLength": 1,
              "maxLength": 256
            }
          },
          {
            "name": "template_identifier",
            "in": "query",
            "description": "The unique identifier of the transaction template.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "template1",
              "pattern": "^[a-zA-Z0-9]*$",
              "minLength": 1,
              "maxLength": 256
            }
          },
          {
            "name": "merchant_id",
            "in": "query",
            "description": "The merchant identifier that will be used to connect to the gateway.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "merchant1"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RenderReceiptResponse"
          },
          "4XX": {
            "description": "Possible errors - 1, 109, 113, 272, 292, 293, 294, 295, 296, 297",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/scan_codes": {
      "post": {
        "tags": [
          "Scan Code"
        ],
        "summary": "Create Scan Code",
        "operationId": "createScanCode",
        "description": "Called by the Independent Software Vendor. Returns a base64 encoded QR code.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateScanCode"
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "identifier for the scan code in our system",
                      "example": "string"
                    },
                    "scan_code": {
                      "type": "string",
                      "description": "base64 encode png image of scan code"
                    },
                    "v": {
                      "$ref": "#/components/schemas/Version"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Possible errors - 1, 28, 29, 85, 106, 189, 223, 225, 226, 257, 259, 275, 276, 277, 278, 281, 282, 283, 284, 285",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/NumericFieldOutOfRange"
                    }
                  ]
                },
                "examples": {
                  "ApiError": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ApiError/example"
                        }
                      ]
                    }
                  },
                  "OutOfRangeExpirationInDays": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/NumericFieldOutOfRange/example"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "5XX": {
            "description": "Possible errors - 221",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "callbacks": {
          "callbackOnScanCode": {
            "$ref": "#/components/callbacks/CallbackUrlInfoScanCode"
          }
        }
      }
    },
    "/terminals/status": {
      "get": {
        "tags": [
          "Terminals"
        ],
        "summary": "Get a terminal's status, by serial number or client_id",
        "operationId": "statusShowTerminalBySerialNumber",
        "description": "Gets the status of a single terminal by querying by serial_number or client_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "name": "serial_number",
            "in": "query",
            "description": "The serial number of the terminal. Use only serial_number or client_id, not both. Size range - `256`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_id",
            "in": "query",
            "description": "The client_id of client associated to the terminal. Use only serial_number or client_id, not both. Size range - `256`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "show_terminal_details",
            "in": "query",
            "description": "Set show_terminal_details to true only if displaying extra details about the terminal state is needed. Default is false.",
            "required": false,
            "schema": {
              "type": "boolean",
              "example": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Possible responses",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/TerminalStatusResponse"
                    },
                    {
                      "$ref": "#/components/schemas/TerminalStatusDetailedResponse"
                    }
                  ]
                },
                "examples": {
                  "TerminalStatusResponse": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/TerminalStatusResponse/example"
                        }
                      ]
                    }
                  },
                  "TerminalStatusDetailedResponse": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/TerminalStatusDetailedResponse/example"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Possible errors - 1, 96, 189, 234, 235, 257",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidFieldApiError"
                    }
                  ]
                },
                "examples": {
                  "ApiError": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ApiError/example"
                        }
                      ]
                    }
                  },
                  "InvalidFieldApiError": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/InvalidFieldApiError/example"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transactions/{id}/cancel": {
      "put": {
        "tags": [
          "Transactions"
        ],
        "summary": "Cancel a transaction",
        "operationId": "cancelTransaction",
        "description": "Called by the Independent Software Vendor. Request for a transaction to be cancelled. The request will be saved but the transaction may or may not be cancelled based on its current state.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the transaction to cancel.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/VersionResponse"
          },
          "4XX": {
            "description": "Possible errors - 1, 2, 189",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/transactions": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Create a transaction",
        "operationId": "createTransaction",
        "description": "Called by the Independent Software Vendor or by the CareCredit Standalone terminal. Creates a new transaction.",
        "security": [
          {
            "ISVAuth": []
          },
          {
            "TerminalAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/TransactionRequest"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/TransactionResponse"
          },
          "4XX": {
            "description": "Possible errors - 1, 3, 4, 5, 7, 15, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 63, 70, 73, 74, 75, 76, 77, 78, 79, 80, 82, 84, 85, 103, 105, 106, 107, 108, 112, 118, 163, 164, 166, 167, 168, 189, 227, 231, 232, 234, 235, 241, 246, 249, 257, 262, 270, 271, 272, 290",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidFieldApiError"
                    },
                    {
                      "$ref": "#/components/schemas/TerminalUnavailable"
                    },
                    {
                      "$ref": "#/components/schemas/DetailedTerminalUnavailable"
                    }
                  ]
                },
                "examples": {
                  "ApiError": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ApiError/example"
                        }
                      ]
                    }
                  },
                  "InvalidFieldApiError": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/InvalidFieldApiError/example"
                        }
                      ]
                    }
                  },
                  "TerminalUnavailable": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/TerminalUnavailable/example"
                        }
                      ]
                    }
                  },
                  "DetailedTerminalUnavailable": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/DetailedTerminalUnavailable/example"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "callbacks": {
          "callbackOnFinalize": {
            "$ref": "#/components/callbacks/CallbackUrlInfoTransactions"
          },
          "callbackOnCardData": {
            "$ref": "#/components/callbacks/CallbackInfoCardData"
          }
        }
      },
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get all transactions of an Organization",
        "operationId": "getTransactions",
        "description": "Called by the Independent Software Vendor. Lists all the transactions in the database for the current organization that have not been read along with all process, refund and hpp transactions that have a remote ID and were performed in the last 24h.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Specifies the limit of the returned list items. Size range - `0..100`",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Specifies the offset of the returned list items. Size range - `0..`",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "remote_id",
            "in": "query",
            "description": "Specifies the provided remote_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/TransactionsListResponse"
          },
          "4XX": {
            "description": "Possible errors - 1, 189",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/{id}/set_amount": {
      "put": {
        "tags": [
          "Transactions"
        ],
        "summary": "Set transaction amount",
        "description": "Called by the Independent Software Vendor. The ISV makes a request to TB in order to set the amount of a transaction",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the transaction job that was previously created.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SetAmountFieldsRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SetTransactionAmountResponse"
          },
          "4XX": {
            "description": "Possible errors - 1, 2, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 63, 70, 73, 74, 75, 76, 77, 78, 80, 82, 84, 85, 103, 105, 106, 107, 108, 112, 118, 147, 163, 189, 218, 270, 271",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/{id}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get Transaction",
        "operationId": "getIsvTransaction",
        "description": "Called by the Independent Software Vendor. The ISV issues a request to TB to check the transaction status (ex card was swiped response). This URL is accessed repeatedly by the ISV (polling). If the transaction is approved then the read_at field with be updated with the current timestamp.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Specifies the transaction to read.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ReadTransactionResponse"
          },
          "4XX": {
            "description": "Possible errors - 1, 2, 189",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/adjust": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Adjust a transaction",
        "operationId": "adjustTransaction",
        "description": "Called by the Independent Software Vendor. Request for a transaction to be adjusted. The request will be saved but the transaction may or may not be adjusted based on its current state.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/TransactionAdjustRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayIdentifierResponse"
          },
          "4XX": {
            "description": "Possible errors - 1, 5, 6, 9, 10, 11, 28, 29, 55, 56, 189, 192, 259, 263",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "5XX": {
            "description": "Possible errors - 8, 13",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "gateway_identifier": {
                          "$ref": "#/components/schemas/GatewayIdentifier"
                        },
                        "gateway_response": {
                          "$ref": "#/components/schemas/GatewayResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/transactions/capture": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Capture a transaction",
        "operationId": "captureTransaction",
        "description": "Called by the Independent Software Vendor. Captures a previously authorized transaction.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ExistingTransactionRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayIdentifierResponse"
          },
          "4XX": {
            "description": "Possible errors - 1, 5, 6, 9, 10, 11, 28, 70, 189",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "5XX": {
            "description": "Possible errors - 8, 65, 66",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "gateway_identifier": {
                          "$ref": "#/components/schemas/GatewayIdentifier"
                        },
                        "gateway_response": {
                          "$ref": "#/components/schemas/GatewayResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/transactions/process/card": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Send card transaction to be processed.",
        "operationId": "processTransactionCard",
        "description": "Called by the Independent Software Vendor. Sends a card transaction directly to the gateway for processing. This is only used with saved credit card tokens, not actual credit card numbers.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CardTransactionProcessRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayIdentifierResponseProcessCard"
          },
          "4XX": {
            "description": "Possible errors - 1, 5, 6, 11,  20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 59, 63, 67, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 84, 85, 103, 105, 106, 107, 108, 112, 118, 147, 163, 189, 205, 219, 227, 228, 229, 231, 232, 240, 257, 259, 270, 271, 272, 291",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/ApiError"
                        },
                        {
                          "$ref": "#/components/schemas/InvalidFieldApiError"
                        }
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "gateway_identifier": {
                          "$ref": "#/components/schemas/GatewayIdentifier"
                        },
                        "gateway_response": {
                          "$ref": "#/components/schemas/GatewayResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "5XX": {
            "description": "Possible errors - 8, 261",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "gateway_identifier": {
                          "$ref": "#/components/schemas/GatewayIdentifier"
                        },
                        "gateway_response": {
                          "$ref": "#/components/schemas/GatewayResponse"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "ApiErrorWithGatewayIdentifier": {
                    "$ref": "#/components/examples/ApiErrorWithGatewayIdentifier"
                  },
                  "ApiError": {
                    "$ref": "#/components/examples/ApiError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transactions/process/ach": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Send ACH transaction to be processed.",
        "operationId": "processTransactionACH",
        "description": "Called by the Independent Software Vendor. Sends a transaction directly to the gateway for processing. This can be used with check data.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ACHTransactionProcessRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayIdentifierResponseProcessACH"
          },
          "4XX": {
            "description": "Possible errors - 1, 5, 6, 11, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 59, 63, 67, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 84, 85, 103, 105, 106, 107, 108, 112, 118, 147, 163, 189, 198, 202, 206, 231, 232, 240, 250, 251, 257, 259, 291",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/FieldValueNotAllowed"
                    }
                  ]
                },
                "examples": {
                  "ApiError": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ApiError/example"
                        }
                      ]
                    }
                  },
                  "InvalidAchTransactionSecCode": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/InvalidAchTransactionSecCode/example"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "5XX": {
            "description": "Possible errors - 8, 261",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "callbacks": {
          "callbackProcessAch": {
            "$ref": "#/components/callbacks/CallbackWebhookDataACH"
          }
        }
      }
    },
    "/transactions/process/cash": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Send cash transaction to be processed.",
        "operationId": "processTransactionCash",
        "description": "Called by the Independent Software Vendor. Sends a cash transaction directly to the gateway for processing.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CashTransactionProcessRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayIdentifierResponseProcessCash"
          },
          "4XX": {
            "description": "Possible errors - 1, 5, 6, 11, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 59, 63, 67, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 84, 85, 103, 105, 106, 107, 108, 112, 118, 147, 163, 189, 201, 229, 231, 232, 240, 257, 259, 291",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "5XX": {
            "description": "Possible errors - 8, 261",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/refund/card": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Refund a transaction",
        "operationId": "refundCardTransaction",
        "description": "Called by the Independent Software Vendor. Makes a request to TB in order to get a refund amount for a credit card transaction.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/RefundRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayIdentifierResponseRefund"
          },
          "4XX": {
            "description": "Possible errors - 1, 5, 6, 9, 10, 11, 57, 58, 81, 83, 189, 200, 208, 231, 232, 240",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "5XX": {
            "description": "Possible errors - 8, 12",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "gateway_identifier": {
                          "$ref": "#/components/schemas/GatewayIdentifier"
                        },
                        "gateway_response": {
                          "$ref": "#/components/schemas/GatewayResponse"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "ApiErrorWithGatewayIdentifier": {
                    "$ref": "#/components/examples/ApiErrorWithGatewayIdentifier"
                  },
                  "ApiError": {
                    "$ref": "#/components/examples/ApiError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transactions/refund/ach": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Refund a transaction",
        "operationId": "refundACHTransaction",
        "description": "Called by the Independent Software Vendor. Makes a request to TB in order to get a refund amount for an ACH transaction.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ACHRefundRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayIdentifierResponseRefund"
          },
          "4XX": {
            "description": "Possible errors - 1, 5, 6, 9, 10, 11, 57, 81, 83, 189, 208, 231, 232, 240, 250, 251",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/FieldValueNotAllowed"
                    }
                  ]
                },
                "examples": {
                  "ApiError": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ApiError/example"
                        }
                      ]
                    }
                  },
                  "InvalidAchTransactionSecCode": {
                    "value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/InvalidAchTransactionSecCode/example"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "5XX": {
            "description": "Possible errors - 8, 12",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "callbacks": {
          "callbackRefundAch": {
            "$ref": "#/components/callbacks/CallbackWebhookData"
          }
        }
      }
    },
    "/transactions/refund/cash": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Refund a transaction",
        "operationId": "refundCashTransaction",
        "description": "Called by the Independent Software Vendor. Makes a request to TB in order to get a refund amount for a cash transaction.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/RefundRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayIdentifierResponseRefund"
          },
          "4XX": {
            "description": "Possible errors - 1, 5, 6, 9, 10, 11, 57, 81, 83, 189, 208, 231, 232, 240",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "5XX": {
            "description": "Possible errors - 8, 12",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/reversal": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Transactions reversal",
        "description": "Called by the Independent Software Vendor. The ISV makes a request to TB in order to get a return amount for a credit card transaction.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/TransactionReversalRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayIdentifierResponse"
          },
          "4XX": {
            "description": "Possible errors - 1, 5, 6, 9, 10, 57, 81, 83, 189, 302",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "5XX": {
            "description": "Possible errors - 8, 12",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "gateway_identifier": {
                          "$ref": "#/components/schemas/GatewayIdentifier"
                        },
                        "gateway_response": {
                          "$ref": "#/components/schemas/GatewayResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/transactions/void": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Void a transaction",
        "operationId": "voidTransaction",
        "description": "Called by the Independent Software Vendor. Request for a transaction to be voided. The request will be saved but the transaction may or may not be voided based on its current state.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/VoidRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayIdentifierResponseVoid"
          },
          "4XX": {
            "description": "Possible errors - 1, 5, 6, 9, 10, 11, 189, 209, 302",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "5XX": {
            "description": "Possible errors - 8, 14",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "gateway_identifier": {
                          "$ref": "#/components/schemas/GatewayIdentifier"
                        },
                        "gateway_response": {
                          "$ref": "#/components/schemas/GatewayResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ISVAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "required: true <br> in: header <br> name: Authorization <br> Needs to include `Basic` word before Base64 encoded `api_id:api_token`. The `api_id` is the identifier of the organization created on TAP; size range - up to 36 characters. The `api_token` is the unique token previously generated by TAP and provided securely to the organization; size range - `32`. <br> Example: `Basic ODA5BVgrNdZkZmbiFlJlTThkYTA2eG00MzA5dHh1bWZnZgfdZDE=`"
      },
      "TerminalAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "required: true <br> in: header <br> name: Authorization <br> description: Needs to include `Basic` word before Base64 encoded `serial_number:registration_token`. The `serial_number` is the identifier of the terminal created on TAP. The `registration_token` is the unique token previously generated by TAP and provided securely to the terminal. <br> Example: `Basic ODA5BVgrNdZkZmbiFlJlTThkYTA2eG00MzA5dHh1bWZnZgfdZDE=` <br>"
      }
    },
    "parameters": {
      "Authorization": {
        "name": "Authorization",
        "in": "header",
        "description": "Needs to include `Basic` word before Base64 encoded `api_id:api_token`. The `api_id` is the identifier of the organization created on TAP; size range - up to 36 characters. The `api_token` is the unique token previously generated by TAP and provided securely to the organization; size range - `32`.\n  Example: `Basic ODA5BVgrNdZkZmbiFlJlTThkYTA2eG00MzA5dHh1bWZnZgfdZDE=`\n",
        "schema": {
          "type": "string",
          "format": "api_id:api_token"
        },
        "required": true
      },
      "Accept": {
        "name": "Accept",
        "in": "header",
        "description": "Specifies the requested API version. If this field is not specified or has an invalid format, the API will return an error. If the specified version does not exist, a 404 page will be displayed. Accepted values - `application/vnd.paymentfusion.v3.0.0+json`\n",
        "schema": {
          "type": "string",
          "example": "application/vnd.paymentfusion.v3.0.0+json"
        },
        "required": true
      },
      "ContentType": {
        "name": "Content-Type",
        "in": "header",
        "description": "The Content-Type entity header is used to indicate the media type of the resource.",
        "schema": {
          "type": "string",
          "example": "application/x-www-form-urlencoded"
        },
        "required": true
      },
      "X-SECRET-KEY": {
        "name": "X-SECRET-KEY",
        "in": "header",
        "description": "The access key shared only between Control Center and TB that provides authentication for calls coming from Control Center.\n",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "MerchantId": {
        "name": "merchant_id",
        "in": "path",
        "description": "The merchant identifier that will be used to connect to the gateway. Size range - `1..16`",
        "schema": {
          "type": "string",
          "example": "string"
        },
        "required": true
      },
      "CustomerId": {
        "name": "customer_id",
        "in": "path",
        "description": "Customer identifier associated to the transaction",
        "required": true,
        "schema": {
          "type": "string",
          "example": "string"
        }
      },
      "ReceiptData": {
        "name": "receipt_data",
        "in": "query",
        "description": "Need to provide at least one of 'receipt_name'(The name of the receipt on the gateway) or 'receipt_ref_num'(The unique identifier of the receipt template on the gateway).",
        "required": true,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "object",
          "properties": {
            "receipt_name": {
              "type": "string",
              "description": "The name of the receipt on the gateway."
            },
            "receipt_ref_num": {
              "type": "integer",
              "description": "The unique identifier of the receipt template on the gateway."
            }
          },
          "oneOf": [
            {
              "required": [
                "receipt_name"
              ]
            },
            {
              "required": [
                "receipt_ref_num"
              ]
            }
          ],
          "additionalProperties": false
        },
        "examples": {
          "RenderReceiptWithReceiptName": {
            "value": {
              "allOf": [
                {
                  "receipt_name": "string"
                }
              ]
            }
          },
          "RenderReceiptWithReceiptRefNum": {
            "value": {
              "allOf": [
                {
                  "receipt_ref_num": 123
                }
              ]
            }
          },
          "RenderReceiptWithReceiptNameAndReceiptRefNum": {
            "value": {
              "allOf": [
                {
                  "receipt_name": "string"
                },
                {
                  "receipt_ref_num": 123
                }
              ]
            }
          }
        }
      },
      "PageSize": {
        "name": "page_size",
        "in": "query",
        "description": "The number of contracts to be returned on a single page. Size range - `1..50`",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 50,
          "default": 20
        },
        "required": false
      },
      "PageNumber": {
        "name": "page_number",
        "in": "query",
        "description": "The number of the page to be returned. Minimum value - `1`",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        },
        "required": false
      }
    },
    "requestBodies": {
      "FinalizeConnectivityTestRequest": {
        "content": {
          "application/x-www-form-urlencoded": {
            "schema": {
              "required": [
                "serial_number",
                "registration_token",
                "results"
              ],
              "properties": {
                "serial_number": {
                  "description": "The serial number of the terminal. Size range - `256`",
                  "type": "string",
                  "example": "string"
                },
                "registration_token": {
                  "type": "string",
                  "description": "The terminal's secret token.",
                  "example": "string"
                },
                "results": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": "integer",
                      "description": "Id of the response."
                    },
                    "response_body": {
                      "type": "string",
                      "example": "string",
                      "description": "The body of the response."
                    },
                    "response_header": {
                      "type": "string",
                      "example": "string",
                      "description": "The header of the response."
                    },
                    "ip": {
                      "type": "string",
                      "example": "string",
                      "description": "IP address of the response."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ConnectivityTestRequest": {
        "content": {
          "application/x-www-form-urlencoded": {
            "schema": {
              "required": [
                "secret_access_key",
                "serial_number",
                "tests"
              ],
              "properties": {
                "secret_access_key": {
                  "type": "string",
                  "example": "string",
                  "description": "The access key shared only between TAP and TB that provides authentication for calls coming from TAP."
                },
                "serial_number": {
                  "type": "string",
                  "example": "string",
                  "description": "The serial number of the terminal. Size range - `256`"
                },
                "tests": {
                  "$ref": "#/components/schemas/Tests"
                },
                "show_terminal_details": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ShowTerminalDetails"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "DiagnosticReportJobRequest": {
        "content": {
          "application/x-www-form-urlencoded": {
            "schema": {
              "required": [
                "serial_number"
              ],
              "properties": {
                "serial_number": {
                  "type": "string",
                  "description": "The serial number of the terminal. Size range - `255`"
                }
              }
            }
          }
        }
      },
      "LogJobRequest": {
        "content": {
          "application/x-www-form-urlencoded": {
            "schema": {
              "required": [
                "secret_access_key",
                "serial_number"
              ],
              "properties": {
                "secret_access_key": {
                  "description": "The access key shared only between TAP and TB that provides authentication for calls coming from TAP.",
                  "type": "string",
                  "example": "string"
                },
                "serial_number": {
                  "description": "The serial number of the terminal. Size range - `256`",
                  "type": "string",
                  "example": "string"
                },
                "show_terminal_details": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ShowTerminalDetails"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "OrganizationRequest": {
        "content": {
          "application/x-www-form-urlencoded": {
            "schema": {
              "required": [
                "secret_access_key",
                "organization_id",
                "api_id",
                "api_token"
              ],
              "properties": {
                "secret_access_key": {
                  "description": "The access key shared only between TAP and TB that provides authentication for calls coming from TAP.",
                  "type": "string"
                },
                "organization_id": {
                  "description": "The old organization_id that is used for authenticating organizations on versions prior to 1.3.1. Not to be confused with TB's internal organization ID.",
                  "type": "string"
                },
                "api_id": {
                  "description": "ID for API credentials",
                  "type": "string"
                },
                "api_token": {
                  "description": "Token for API credentials",
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "FinalizePromptJobRequest": {
        "content": {
          "application/x-www-form-urlencoded": {
            "schema": {
              "required": [
                "serial_number",
                "registration_token",
                "result",
                "status"
              ],
              "properties": {
                "serial_number": {
                  "type": "string",
                  "description": "The terminal's serial number. Size range - `256`",
                  "example": "string"
                },
                "registration_token": {
                  "type": "string",
                  "description": "The terminal's secret token.",
                  "example": "string"
                },
                "result": {
                  "type": "string",
                  "description": "The action that the user has made.",
                  "example": "string"
                },
                "status": {
                  "type": "string",
                  "description": "The status of the prompt job. Allowed values - `'in progress'`, `'finalized'`, `'error'`, `'timed out'`, `'canceled'`",
                  "example": "string"
                }
              }
            }
          }
        }
      },
      "FinalizeLoopbackTestJobRequest": {
        "content": {
          "application/x-www-form-urlencoded": {
            "schema": {
              "required": [
                "serial_number",
                "registration_token",
                "status"
              ],
              "properties": {
                "serial_number": {
                  "type": "string",
                  "description": "The terminal's serial number. Size range - `256`",
                  "example": "string"
                },
                "registration_token": {
                  "type": "string",
                  "description": "The terminal's secret token.",
                  "example": "string"
                },
                "result": {
                  "type": "string",
                  "description": "Results of the loopback test. e.g. What went wrong",
                  "example": "string"
                },
                "status": {
                  "type": "string",
                  "description": "The status of the job. Allowed values - `'success'`, `'fail'`, `'canceled'`",
                  "example": "string"
                }
              }
            }
          }
        }
      },
      "FinalizeReceiptJobRequest": {
        "content": {
          "application/x-www-form-urlencoded": {
            "schema": {
              "required": [
                "serial_number",
                "registration_token"
              ],
              "properties": {
                "serial_number": {
                  "type": "string",
                  "description": "The terminal's serial number. Size range - `256`",
                  "example": "string"
                },
                "registration_token": {
                  "type": "string",
                  "description": "The terminal's secret token.",
                  "example": "string"
                }
              }
            }
          }
        }
      },
      "LoopbackTestJobRequest": {
        "content": {
          "application/x-www-form-urlencoded": {
            "schema": {
              "required": [
                "serial_number"
              ],
              "properties": {
                "serial_number": {
                  "type": "string",
                  "description": "The serial number of the terminal. Size range - `255`"
                }
              }
            }
          }
        }
      },
      "ReceiptJobRequest": {
        "content": {
          "application/x-www-form-urlencoded": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ReceiptJobWithSerialNumber"
                },
                {
                  "$ref": "#/components/schemas/ReceiptJobWithClientId"
                }
              ]
            },
            "examples": {
              "ReceiptJobWithSerialNumber": {
                "value": {
                  "allOf": [
                    {
                      "serial_number": "string"
                    },
                    {
                      "$ref": "#/components/schemas/ReceiptJob/example"
                    },
                    {
                      "$ref": "#/components/schemas/TerminalText/example"
                    }
                  ]
                }
              },
              "ReceiptJobWithClientId": {
                "value": {
                  "allOf": [
                    {
                      "client_id": "string"
                    },
                    {
                      "$ref": "#/components/schemas/ReceiptJob/example"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "PrintReceiptsRequest": {
        "content": {
          "application/x-www-form-urlencoded": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/PrintReceiptsWithSerialNumber"
                },
                {
                  "$ref": "#/components/schemas/PrintReceiptsWithClientId"
                }
              ]
            },
            "examples": {
              "PrintReceiptsWithSerialNumber": {
                "value": {
                  "allOf": [
                    {
                      "serial_number": "string"
                    },
                    {
                      "$ref": "#/components/schemas/PrintReceipts/example"
                    },
                    {
                      "$ref": "#/components/schemas/TerminalText/example"
                    }
                  ]
                }
              },
              "PrintReceiptsWithClientId": {
                "value": {
                  "allOf": [
                    {
                      "client_id": "string"
                    },
                    {
                      "$ref": "#/components/schemas/PrintReceipts/example"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "SourceRequest": {
        "content": {
          "application/x-www-form-urlencoded": {
            "schema": {
              "required": [
                "secret_access_key",
                "organization_id",
                "identifier",
                "source_key",
                "pin",
                "tid",
                "mid",
                "endpoint",
                "type",
                "gateway",
                "gateway_environment"
              ],
              "properties": {
                "secret_access_key": {
                  "type": "string",
                  "description": "The access key shared only between TAP and TB that provides authentication for calls coming from TAP."
                },
                "organization_id": {
                  "type": "integer",
                  "description": "The organization's TB ID that the source belongs to."
                },
                "identifier": {
                  "type": "string",
                  "description": "The identifier for the source."
                },
                "usaepay_access_key": {
                  "type": "string",
                  "description": "The source_key used for the USAePay payment gateway authentication."
                },
                "usaepay_access_secret": {
                  "type": "string",
                  "description": "The pin used for the USAePay payment gateway authentication."
                },
                "pfg_access_key": {
                  "type": "string",
                  "description": "The source_key used for the Payment Fusion payment gateway authentication."
                },
                "pfg_access_secret": {
                  "type": "string",
                  "description": "The pin used for the Payment Fusion payment gateway authentication."
                },
                "usaepay_tid": {
                  "type": "string",
                  "description": "The Terminal ID for the source's merchant. This is a USAePay gateway specific field set on the merchant."
                },
                "usaepay_mid": {
                  "type": "string",
                  "description": "The Merchant ID for the source's merchant. This is a USAePay gateway specific field set on the merchant."
                },
                "pfg_tid": {
[...]
