{
  "openapi": "3.0.3",
  "info": {
    "title": "API Setu",
    "description": "Comprehensive API specification for Setu (setu.co) covering payments, data verification, account aggregation, eSign, eKYC, and more. This spec is generated by combining individual API reference specs from the SetuHQ documentation repository.",
    "version": "1.0.0",
    "contact": {
      "name": "Setu",
      "url": "https://setu.co"
    },
    "x-jentic-source-url": "https://github.com/SetuHQ/docs/tree/main/api-references"
  },
  "servers": [
    {
      "url": "https://dg.setu.co",
      "description": "Data Gateway - Production"
    },
    {
      "url": "https://dg-sandbox.setu.co",
      "description": "Data Gateway - Sandbox"
    },
    {
      "url": "https://umap.setu.co",
      "description": "UMAP - Production"
    },
    {
      "url": "https://umap-uat-core.setu.co",
      "description": "UMAP - UAT"
    },
    {
      "url": "https://fiu.setu.co",
      "description": "AA Gateway - Production"
    },
    {
      "url": "https://fiu-sandbox.setu.co",
      "description": "AA Gateway - Sandbox"
    },
    {
      "url": "https://uli.setu.co",
      "description": "ULI - Production"
    },
    {
      "url": "https://uli-dev.setu.co",
      "description": "ULI - Sandbox"
    },
    {
      "url": "https://insights.setu.co",
      "description": "Insights - Production"
    },
    {
      "url": "https://di-uat.setu.co",
      "description": "Insights - Sandbox"
    },
    {
      "url": "https://prod.setu.co",
      "description": "Setu Production"
    },
    {
      "url": "https://uat.setu.co",
      "description": "Setu UAT/Sandbox"
    }
  ],
  "paths": {
    "/api/v1/aggregators/merchants": {
      "post": {
        "tags": [
          "merchant",
          "UPI Merchant Acquirer (UMAP)"
        ],
        "summary": "(Aggregator) Setup a merchant",
        "description": "API to be used by an aggregator to setup a merchant on our platform",
        "operationId": "merchant#createMerchantWrapper",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/umap_CreateMerchantWrapperRequestBody"
              },
              "example": {
                "acceptDeemedTxns": true,
                "aggregatorAccountId": "328a928f-e277-4798-8e28-4b19a61a8a23",
                "businessName": "Setu",
                "businessType": "PROPRIETARY",
                "franchiseName": "Setu UPI",
                "genre": "ONLINE",
                "legalName": "BrokenTusk Technologies Pvt Ltd",
                "mcc": "5432",
                "merchantName": "Dolor doloribus et ea minima officiis eos.",
                "merchantType": "large",
                "onboardingType": "aggregator",
                "paymentModes": [
                  "saving",
                  "lite",
                  "erupi",
                  "rupay_cc",
                  "ppi",
                  "current",
                  "nro",
                  "nre"
                ],
                "productAccountId": "328a928f-e277-4798-8e28-4b19a61a8a22",
                "products": [
                  "pay_single",
                  "pay_multi",
                  "tpv",
                  "tpv_plus",
                  "intent_autopay"
                ],
                "settlement": {
                  "cycles": [
                    "Quo et unde.",
                    "Ipsum aliquid ea necessitatibus.",
                    "Corrupti harum modi suscipit.",
                    "Id magni repudiandae."
                  ],
                  "frequency": "TPlusOne",
                  "isEnabled": true,
                  "onhold": true,
                  "payoutAdjustable": true,
                  "reconRequired": false,
                  "type": "Gross",
                  "types": [
                    "Gross",
                    "Net",
                    "Direct"
                  ]
                },
                "settlementTransfers": "Fuga temporibus voluptas modi aspernatur est.",
                "standardAccountId": "328a928f-e277-4798-8e28-4b19a61a8a22",
                "vpaHandles": [
                  "pineaxis"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created response.",
            "headers": {
              "requestId": {
                "schema": {
                  "type": "string",
                  "example": "cjqml1f2e5ocq2mesej0"
                },
                "example": "cjqml1f2e5ocq2mesej0"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_CompactMerchantResponse"
                },
                "example": {
                  "acceptDeemedTxns": true,
                  "businessName": "Setu",
                  "businessType": "PROPRIETARY",
                  "createdAt": "2024-05-17T19:17:32+05:30",
                  "franchiseName": "Setu UPI",
                  "genre": "ONLINE",
                  "id": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "legalName": "BrokenTusk Technologies Pvt Ltd",
                  "mcc": "5432",
                  "merchantName": "Ipsum sed fugit iure.",
                  "merchantType": "large",
                  "onboardingType": "aggregator",
                  "paymentModes": [
                    "saving",
                    "lite",
                    "erupi",
                    "rupay_cc",
                    "ppi",
                    "current",
                    "nro",
                    "nre"
                  ],
                  "products": [
                    "pay_single",
                    "pay_multi",
                    "tpv",
                    "tpv_plus",
                    "intent_autopay"
                  ],
                  "route": {
                    "chargeTransfer": [
                      {
                        "accountIfsc": "Consequatur officia.",
                        "accountNumber": "Asperiores qui.",
                        "remarks": "Nihil est doloremque et voluptatem quas.",
                        "value": 0.5209121384380389
                      },
                      {
                        "accountIfsc": "Consequatur officia.",
                        "accountNumber": "Asperiores qui.",
                        "remarks": "Nihil est doloremque et voluptatem quas.",
                        "value": 0.5209121384380389
                      }
                    ],
                    "chargeTransferType": "Percentage",
                    "ownerId": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                    "ownerType": "merchant",
                    "transferType": "Percentage",
                    "transfers": [
                      {
                        "accountIfsc": "Suscipit cumque iste molestiae cumque.",
                        "accountNumber": "Officiis et explicabo voluptatem nesciunt.",
                        "remarks": "Veniam sit inventore modi modi qui.",
                        "value": 0.03737973982778193
                      },
                      {
                        "accountIfsc": "Suscipit cumque iste molestiae cumque.",
                        "accountNumber": "Officiis et explicabo voluptatem nesciunt.",
                        "remarks": "Veniam sit inventore modi modi qui.",
                        "value": 0.03737973982778193
                      },
                      {
                        "accountIfsc": "Suscipit cumque iste molestiae cumque.",
                        "accountNumber": "Officiis et explicabo voluptatem nesciunt.",
                        "remarks": "Veniam sit inventore modi modi qui.",
                        "value": 0.03737973982778193
                      }
                    ]
                  },
                  "settlement": {
                    "cycles": [
                      "Ea modi.",
                      "Nihil dolor exercitationem dolorem aut.",
                      "Amet maxime dolor labore eum."
                    ],
                    "frequency": "TPlusOne",
                    "isEnabled": true,
                    "onhold": true,
                    "payoutAdjustable": true,
                    "reconRequired": false,
                    "type": "Gross",
                    "types": [
                      "Gross",
                      "Net",
                      "Direct"
                    ]
                  },
                  "settlementTransfers": "Ipsum expedita aut.",
                  "transactionStatus": "active",
                  "vpaHandles": [
                    "pineaxis"
                  ],
                  "vpaPrefix": "acmecorp.*"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: Bad Request response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Unauthorized response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error: Internal Server Error response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwt_header_Authorization": []
          }
        ]
      }
    },
    "/api/v1/merchants/beneficiary-accounts": {
      "get": {
        "tags": [
          "beneficiary-account",
          "UPI Merchant Acquirer (UMAP)"
        ],
        "summary": "List all beneficiary accounts",
        "description": "List all beneficiary accounts",
        "operationId": "beneficiary-account#list",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor to the current page",
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "description": "Cursor to the current page",
              "example": "MDFBUlozTkRFS1RTVjRSUkZGUTY5RzVGQVY="
            },
            "example": "MDFBUlozTkRFS1RTVjRSUkZGUTY5RzVGQVY="
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to be shown in a page",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer",
              "description": "Number of records to be shown in a page",
              "default": 10,
              "example": 10,
              "minimum": 1,
              "maximum": 50
            },
            "example": 10
          },
          {
            "name": "merchantId",
            "in": "header",
            "description": "Id associated with the merchant on our platform",
            "allowEmptyValue": true,
            "required": true,
            "schema": {
              "type": "string",
              "description": "Id associated with the merchant on our platform",
              "example": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
            },
            "example": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "headers": {
              "requestId": {
                "schema": {
                  "type": "string",
                  "example": "cjqml1f2e5ocq2mesej0"
                },
                "example": "cjqml1f2e5ocq2mesej0"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_ListBeneficiaryAccountResponse"
                },
                "example": {
                  "meta": {
                    "cursor": {
                      "current": "MDFBUlozTkRFS1RTVjRSUkZGUTY5RzVGQVY=",
                      "next": "MDFBUlozTkRFS1RTVjRSUkZGUTY5RzVGQVY=",
                      "previous": "MDFBUlozTkRFS1RTVjRSUkZGUTY5RzVGQVY="
                    },
                    "filter": [
                      "name:foo"
                    ],
                    "limit": 10,
                    "totalRecords": 2142477528
                  },
                  "settlementAccounts": [
                    {
                      "accountHolderName": "deku",
                      "accountNumber": "1234567890",
                      "accountType": "CURRENT",
                      "beneCode": "1234567890",
                      "checkedRegistrationStatusAt": "2024-05-17T19:17:32+05:30",
                      "createdAt": "2024-05-17T19:17:32+05:30",
                      "id": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                      "ifsc": "HDFC0000001",
                      "isActive": true,
                      "isVerified": true,
                      "merchantId": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                      "paymentMode": "NEFT",
                      "registrationFailureReason": {
                        "code": "16",
                        "desc": "Invalid account ifsc code"
                      },
                      "registrationStatus": "not_initiated"
                    },
                    {
                      "accountHolderName": "deku",
                      "accountNumber": "1234567890",
                      "accountType": "CURRENT",
                      "beneCode": "1234567890",
                      "checkedRegistrationStatusAt": "2024-05-17T19:17:32+05:30",
                      "createdAt": "2024-05-17T19:17:32+05:30",
                      "id": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                      "ifsc": "HDFC0000001",
                      "isActive": true,
                      "isVerified": true,
                      "merchantId": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                      "paymentMode": "NEFT",
                      "registrationFailureReason": {
                        "code": "16",
                        "desc": "Invalid account ifsc code"
                      },
                      "registrationStatus": "not_initiated"
                    },
                    {
                      "accountHolderName": "deku",
                      "accountNumber": "1234567890",
                      "accountType": "CURRENT",
                      "beneCode": "1234567890",
                      "checkedRegistrationStatusAt": "2024-05-17T19:17:32+05:30",
                      "createdAt": "2024-05-17T19:17:32+05:30",
                      "id": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                      "ifsc": "HDFC0000001",
                      "isActive": true,
                      "isVerified": true,
                      "merchantId": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                      "paymentMode": "NEFT",
                      "registrationFailureReason": {
                        "code": "16",
                        "desc": "Invalid account ifsc code"
                      },
                      "registrationStatus": "not_initiated"
                    },
                    {
                      "accountHolderName": "deku",
                      "accountNumber": "1234567890",
                      "accountType": "CURRENT",
                      "beneCode": "1234567890",
                      "checkedRegistrationStatusAt": "2024-05-17T19:17:32+05:30",
                      "createdAt": "2024-05-17T19:17:32+05:30",
                      "id": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                      "ifsc": "HDFC0000001",
                      "isActive": true,
                      "isVerified": true,
                      "merchantId": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                      "paymentMode": "NEFT",
                      "registrationFailureReason": {
                        "code": "16",
                        "desc": "Invalid account ifsc code"
                      },
                      "registrationStatus": "not_initiated"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request: Bad Request response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Unauthorized response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Not found: Not Found response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error: Internal Server Error response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwt_header_Authorization": []
          }
        ]
      },
      "post": {
        "tags": [
          "beneficiary-account",
          "UPI Merchant Acquirer (UMAP)"
        ],
        "summary": "Register a beneficiary account",
        "description": "Register a beneficiary account to funds will be settled",
        "operationId": "beneficiary-account#create",
        "parameters": [
          {
            "name": "merchantId",
            "in": "header",
            "description": "Id associated with the merchant on our platform",
            "allowEmptyValue": true,
            "required": true,
            "schema": {
              "type": "string",
              "description": "Id associated with the merchant on our platform",
              "example": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
            },
            "examples": {
              "default": {
                "summary": "default",
                "value": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
              }
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/umap_CreateRequestBody4"
              },
              "example": {
                "accountHolderName": "deku",
                "accountNumber": "1234567890",
                "accountType": "CURRENT",
                "ifsc": "HDFC0000001"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created response.",
            "headers": {
              "requestId": {
                "schema": {
                  "type": "string",
                  "example": "cjqml1f2e5ocq2mesej0"
                },
                "example": "cjqml1f2e5ocq2mesej0"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BeneficiaryAccountResponse"
                },
                "example": {
                  "accountHolderName": "deku",
                  "accountNumber": "1234567890",
                  "accountType": "CURRENT",
                  "beneCode": "1234567890",
                  "checkedRegistrationStatusAt": "2024-05-17T19:17:32+05:30",
                  "createdAt": "2024-05-17T19:17:32+05:30",
                  "id": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "ifsc": "HDFC0000001",
                  "isActive": true,
                  "isVerified": true,
                  "merchantId": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "paymentMode": "NEFT",
                  "registrationFailureReason": {
                    "code": "16",
                    "desc": "Invalid account ifsc code"
                  },
                  "registrationStatus": "not_initiated"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: Bad Request response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Unauthorized response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Not found: Not Found response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error: Internal Server Error response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwt_header_Authorization": []
          }
        ]
      }
    },
    "/api/v1/merchants/beneficiary-accounts/{id}": {
      "get": {
        "tags": [
          "beneficiary-account",
          "UPI Merchant Acquirer (UMAP)"
        ],
        "summary": "Fetch a beneficiary account by id",
        "description": "Fetch a beneficiary account by id",
        "operationId": "beneficiary-account#fetchById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the resource, which is the same the id returned in the Create <resource> API response",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Id of the resource, which is the same the id returned in the Create <resource> API response",
              "example": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
            },
            "example": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
          },
          {
            "name": "merchantId",
            "in": "header",
            "description": "Id associated with the merchant on our platform",
            "allowEmptyValue": true,
            "required": true,
            "schema": {
              "type": "string",
              "description": "Id associated with the merchant on our platform",
              "example": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
            },
            "examples": {
              "default": {
                "summary": "default",
                "value": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "headers": {
              "requestId": {
                "schema": {
                  "type": "string",
                  "example": "cjqml1f2e5ocq2mesej0"
                },
                "example": "cjqml1f2e5ocq2mesej0"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BeneficiaryAccountResponse"
                },
                "example": {
                  "accountHolderName": "deku",
                  "accountNumber": "1234567890",
                  "accountType": "CURRENT",
                  "beneCode": "1234567890",
                  "checkedRegistrationStatusAt": "2024-05-17T19:17:32+05:30",
                  "createdAt": "2024-05-17T19:17:32+05:30",
                  "id": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "ifsc": "HDFC0000001",
                  "isActive": true,
                  "isVerified": true,
                  "merchantId": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "paymentMode": "NEFT",
                  "registrationFailureReason": {
                    "code": "16",
                    "desc": "Invalid account ifsc code"
                  },
                  "registrationStatus": "not_initiated"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: Bad Request response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Unauthorized response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Not found: Not Found response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error: Internal Server Error response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwt_header_Authorization": []
          }
        ]
      }
    },
    "/api/v1/merchants/beneficiary-accounts/{id}/status": {
      "put": {
        "tags": [
          "beneficiary-account",
          "UPI Merchant Acquirer (UMAP)"
        ],
        "summary": "Update beneficiary account status",
        "description": "Update the beneficiary account status to active/ inactive",
        "operationId": "beneficiary-account#update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the resource, which is the same the id returned in the Create <resource> API response",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Id of the resource, which is the same the id returned in the Create <resource> API response",
              "example": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
            },
            "examples": {
              "default": {
                "summary": "default",
                "value": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
              }
            }
          },
          {
            "name": "merchantId",
            "in": "header",
            "description": "Id associated with the merchant on our platform",
            "allowEmptyValue": true,
            "required": true,
            "schema": {
              "type": "string",
              "description": "Id associated with the merchant on our platform",
              "example": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
            },
            "examples": {
              "default": {
                "summary": "default",
                "value": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
              }
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/umap_UpdateRequestBody"
              },
              "example": {
                "active": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK response.",
            "headers": {
              "requestId": {
                "schema": {
                  "type": "string",
                  "example": "cjqml1f2e5ocq2mesej0"
                },
                "example": "cjqml1f2e5ocq2mesej0"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BeneficiaryAccountResponse"
                },
                "example": {
                  "accountHolderName": "deku",
                  "accountNumber": "1234567890",
                  "accountType": "CURRENT",
                  "beneCode": "1234567890",
                  "checkedRegistrationStatusAt": "2024-05-17T19:17:32+05:30",
                  "createdAt": "2024-05-17T19:17:32+05:30",
                  "id": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "ifsc": "HDFC0000001",
                  "isActive": true,
                  "isVerified": true,
                  "merchantId": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "paymentMode": "NEFT",
                  "registrationFailureReason": {
                    "code": "16",
                    "desc": "Invalid account ifsc code"
                  },
                  "registrationStatus": "not_initiated"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: Bad Request response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Unauthorized response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Not found: Not Found response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error: Internal Server Error response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwt_header_Authorization": []
          }
        ]
      }
    },
    "/api/v1/merchants/collect": {
      "post": {
        "tags": [
          "collect",
          "UPI Merchant Acquirer (UMAP)"
        ],
        "summary": "Create and invoke a collect request",
        "description": "API to create and send a collect request to a customer's UPI id",
        "operationId": "collect#create",
        "parameters": [
          {
            "name": "merchantId",
            "in": "header",
            "description": "Id associated with the merchant on our platform",
            "allowEmptyValue": true,
            "required": true,
            "schema": {
              "type": "string",
              "description": "Id associated with the merchant on our platform",
              "example": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
            },
            "example": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/umap_CreateRequestBody"
              },
              "example": {
                "amount": 10000,
                "customerVpa": "aadhitya@okaxis",
                "expireAfter": 2,
                "merchantVpa": "fastestupi@pineaxis",
                "metadata": {
                  "InvoiceNumber": "INV-21-12-009"
                },
                "referenceId": "1240689979139556557",
                "transactionNote": "Payment for loan repayment"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created response.",
            "headers": {
              "requestId": {
                "schema": {
                  "type": "string",
                  "example": "cjqml1f2e5ocq2mesej0"
                },
                "example": "cjqml1f2e5ocq2mesej0"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_CreateCollectResponse"
                },
                "example": {
                  "amount": 10000,
                  "closedAt": "2024-05-17T19:17:32+05:30",
                  "createdAt": "2024-05-17T19:17:32+05:30",
                  "customerVpa": "aadhitya@okaxis",
                  "expireAfter": 2,
                  "id": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "merchantId": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "merchantVpa": "fastestupi@pineaxis",
                  "metadata": {
                    "InvoiceNumber": "INV-21-12-009"
                  },
                  "refId": "1240689979139556558",
                  "referenceId": "1240689979139556557",
                  "status": "active",
                  "transactionNote": "Payment for loan repayment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: Bad Request response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: Forbidden response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Not found: Not Found response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error: Internal Server Error response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwt_header_Authorization": []
          }
        ]
      }
    },
    "/api/v1/merchants/collect/{id}": {
      "get": {
        "tags": [
          "collect",
          "UPI Merchant Acquirer (UMAP)"
        ],
        "summary": "Fetch collect request by id",
        "description": "API to check the current status of a collect request",
        "operationId": "collect#fetchById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the resource, which is the same the id returned in the Create <resource> API response",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Id of the resource, which is the same the id returned in the Create <resource> API response",
              "example": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
            },
            "example": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
          },
          {
            "name": "merchantId",
            "in": "header",
            "description": "Id associated with the merchant on our platform",
            "allowEmptyValue": true,
            "required": true,
            "schema": {
              "type": "string",
              "description": "Id associated with the merchant on our platform",
              "example": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
            },
            "example": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "headers": {
              "requestId": {
                "schema": {
                  "type": "string",
                  "example": "cjqml1f2e5ocq2mesej0"
                },
                "example": "cjqml1f2e5ocq2mesej0"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_FetchCollectResponse"
                },
                "example": {
                  "amount": 10000,
                  "closedAt": "2024-05-17T19:17:32+05:30",
                  "createdAt": "2024-05-17T19:17:32+05:30",
                  "customerVpa": "aadhitya@okaxis",
                  "expireAfter": 2,
                  "id": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "merchantId": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "merchantVpa": "fastestupi@pineaxis",
                  "metadata": {
                    "InvoiceNumber": "INV-21-12-009"
                  },
                  "paymentDetails": {
                    "customerAccountType": "SAVINGS",
                    "customerVpa": "test-auto-tyvmm59i9b@okokaxis",
                    "paymentId": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                    "paymentStatus": "initiated",
                    "rrn": "124068997913",
                    "txnId": "SETmBZkQOV0M7wyyP1V4PIFhRSzW5eSjmYI",
                    "txnTs": "2024-06-17T19:17:32+05:30"
                  },
                  "reason": {
                    "code": "unable-to-fulfill-request",
                    "desc": "unable-to-fulfill-request",
                    "mandateRevokeReason": "merchant-initiated",
                    "npciErrCategory": "TD",
                    "npciErrCode": "YG",
                    "npciErrDesc": "MERCHANT ERROR (PAYEE PSP)",
                    "npciRespCode": "YG",
                    "npciRespDesc": "MERCHANT ERROR (PAYEE PSP)",
                    "setuDescription": "Merchant PSP error",
                    "suggestedAction": "Merchant PSP error"
                  },
                  "refId": "1240689979139556558",
                  "referenceId": "1240689979139556557",
                  "status": "active",
                  "transactionNote": "Payment for loan repayment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: Bad Request response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: Forbidden response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Not found: Not Found response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error: Internal Server Error response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwt_header_Authorization": []
          }
        ]
      }
    },
    "/api/v1/merchants/customer-vpas/mock/verify": {
      "post": {
        "tags": [
          "customer-vpa",
          "UPI Merchant Acquirer (UMAP)"
        ],
        "summary": "Mock a customer vpa verification",
        "description": "API to mock a customer vpa verification as if its done by a customer on a payer PSP",
        "operationId": "customer-vpa#DoCustomerVpaVerification",
        "parameters": [
          {
            "name": "merchantId",
            "in": "header",
            "allowEmptyValue": true,
            "required": true,
            "schema": {
              "type": "string",
              "example": "Non necessitatibus nesciunt et eum assumenda."
            },
            "example": "Ea odio et."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/umap_DoCustomerVpaVerificationRequestBody"
              },
              "example": {
                "id": "At quia.",
                "status": "failed"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK response.",
            "headers": {
              "requestId": {
                "schema": {
                  "type": "string",
                  "example": "cjqml1f2e5ocq2mesej0"
                },
                "example": "cjqml1f2e5ocq2mesej0"
              }
            }
          },
          "400": {
            "description": "Bad request: Bad Request response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: Forbidden response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Not found: Not Found response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error: Internal Server Error response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwt_header_Authorization": []
          }
        ]
      }
    },
    "/api/v1/merchants/customer-vpas/verify": {
      "post": {
        "tags": [
          "customer-vpa",
          "UPI Merchant Acquirer (UMAP)"
        ],
        "summary": "Verify a customer's UPI id",
        "description": "API to verify whether a customer's UPI id exists and can be verified",
        "operationId": "customer-vpa#verify",
        "parameters": [
          {
            "name": "merchantId",
            "in": "header",
            "description": "Id associated with the merchant on our platform",
            "allowEmptyValue": true,
            "required": true,
            "schema": {
              "type": "string",
              "description": "Id associated with the merchant on our platform",
              "example": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
            },
            "example": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/umap_VerifyRequestBody"
              },
              "example": {
                "customerVpa": "aadhitya@okhdfc",
                "referenceId": "1240689979139556557"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK response.",
            "headers": {
              "requestId": {
                "schema": {
                  "type": "string",
                  "example": "cjqml1f2e5ocq2mesej0"
                },
                "example": "cjqml1f2e5ocq2mesej0"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_VerifyCustomerVpaResponse"
                },
                "example": {
                  "createdAt": "2024-05-17T19:17:32+05:30",
                  "customerVpa": "ram@okhdfc",
                  "id": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "merchantId": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "referenceId": "1240689979139556557",
                  "status": "pending"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: Bad Request response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: Forbidden response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Not found: Not Found response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error: Internal Server Error response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwt_header_Authorization": []
          }
        ]
      }
    },
    "/api/v1/merchants/customer-vpas/verify/{id}": {
      "get": {
        "tags": [
          "customer-vpa",
          "UPI Merchant Acquirer (UMAP)"
        ],
        "summary": "Fetch customer VPA verification record by id",
        "description": "Check customer vpa verification status",
        "operationId": "customer-vpa#fetchById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the request",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of the request",
              "example": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
            },
            "example": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
          },
          {
            "name": "merchantId",
            "in": "header",
            "description": "Id associated with the merchant on our platform",
            "allowEmptyValue": true,
            "required": true,
            "schema": {
              "type": "string",
              "description": "Id associated with the merchant on our platform",
              "example": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
            },
            "example": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "headers": {
              "requestId": {
                "schema": {
                  "type": "string",
                  "example": "cjqml1f2e5ocq2mesej0"
                },
                "example": "cjqml1f2e5ocq2mesej0"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_FetchCustomerVpaByIDResponse"
                },
                "example": {
                  "createdAt": "2024-05-17T19:17:32+05:30",
                  "customerAccountType": "SAVINGS",
                  "customerVpa": "ram@okhdfc",
                  "id": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "merchantId": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "reason": {
                    "code": "unable-to-fulfill-request",
                    "desc": "unable-to-fulfill-request",
                    "mandateRevokeReason": "merchant-initiated",
                    "npciErrCategory": "TD",
                    "npciErrCode": "YG",
                    "npciErrDesc": "MERCHANT ERROR (PAYEE PSP)",
                    "npciRespCode": "YG",
                    "npciRespDesc": "MERCHANT ERROR (PAYEE PSP)",
                    "setuDescription": "Merchant PSP error",
                    "suggestedAction": "Merchant PSP error"
                  },
                  "referenceId": "1240689979139556557",
                  "status": "pending"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: Bad Request response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: Forbidden response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Not found: Not Found response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error: Internal Server Error response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwt_header_Authorization": []
          }
        ]
      }
    },
    "/api/v1/merchants/dqr": {
      "post": {
        "tags": [
          "dqr",
          "UPI Merchant Acquirer (UMAP)"
        ],
        "summary": "Create dynamic QR (single use)",
        "description": "API to create a dynamic QR which can be used make a one time payment by the customer",
        "operationId": "dqr#create",
        "parameters": [
          {
            "name": "merchantId",
            "in": "header",
            "description": "Id associated with the merchant on our platform",
            "allowEmptyValue": true,
            "required": true,
            "schema": {
              "type": "string",
              "description": "Id associated with the merchant on our platform",
              "example": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
            },
            "example": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/umap_CreateRequestBody2"
              },
              "example": {
                "amount": 10000,
                "expiryDate": "2024-06-17T19:17:32+05:30",
                "merchantVpa": "fastestupi@pineaxis",
                "metadata": {
                  "Cumque modi cupiditate totam.": "Sapiente est ullam.",
                  "Inventore et et ea eum iste.": "Id minus magnam rerum saepe.",
                  "Qui temporibus optio deleniti velit.": "Aperiam qui harum excepturi."
                },
                "minAmount": 1000,
                "referenceId": "1240689979139556557",
                "transactionNote": "testpay"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created response.",
            "headers": {
              "requestId": {
                "schema": {
                  "type": "string",
                  "example": "cjqml1f2e5ocq2mesej0"
                },
                "example": "cjqml1f2e5ocq2mesej0"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_CreateDqrResponse"
                },
                "example": {
                  "amount": 10000,
                  "createdAt": "2024-05-17T19:17:32+05:30",
                  "expiryDate": "2024-06-17T19:17:32+05:30",
                  "id": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "intentLink": "upi://pay?pa=test-auto-pgruosncak@okokaxis&pn=merchant-4&am=100.00&tr=SU1240659756905923780&tn=sample%20single%20use%20qr&cu=INR&mc=1234",
                  "merchantId": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "merchantVpa": "fastestupi@pineaxis",
                  "metadata": {
                    "Beatae eum autem quia perferendis incidunt ab.": "Eos voluptates dolores.",
                    "Eum et.": "Inventore dignissimos saepe occaecati possimus neque consequatur.",
                    "Voluptatem itaque repudiandae.": "Autem numquam ut aut in nobis."
                  },
                  "minAmount": 1000,
                  "qrCode": "",
                  "refId": "1240689979139556558",
                  "referenceId": "1240689979139556557",
                  "shortLink": "upipay.setu.co/Np3KnBCM8Om0",
                  "status": "active",
                  "transactionNote": "testpay"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: Bad Request response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: Forbidden response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Not found: Not Found response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error: Internal Server Error response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwt_header_Authorization": []
          }
        ]
      }
    },
    "/api/v1/merchants/dqr/{id}": {
      "get": {
        "tags": [
          "dqr",
          "UPI Merchant Acquirer (UMAP)"
        ],
        "summary": "Fetch dynamic QR by id",
        "description": "API to fetch the current status of the dynamic QR using the id of the dqr resource",
        "operationId": "dqr#fetchById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the resource, which is the same the id returned in the Create <resource> API response",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Id of the resource, which is the same the id returned in the Create <resource> API response",
              "example": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
            },
            "example": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
          },
          {
            "name": "merchantId",
            "in": "header",
            "description": "Id associated with the merchant on our platform",
            "allowEmptyValue": true,
            "required": true,
            "schema": {
              "type": "string",
              "description": "Id associated with the merchant on our platform",
              "example": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
            },
            "example": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "headers": {
              "requestId": {
                "schema": {
                  "type": "string",
                  "example": "cjqml1f2e5ocq2mesej0"
                },
                "example": "cjqml1f2e5ocq2mesej0"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_FetchDqrByIDResponse"
                },
                "example": {
                  "amount": 10000,
                  "closedAt": "2024-06-17T19:17:32+05:30",
                  "createdAt": "2024-05-17T19:17:32+05:30",
                  "expiryDate": "2024-06-17T19:17:32+05:30",
                  "id": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "intentLink": "upi://pay?pa=test-auto-pgruosncak@okokaxis&pn=merchant-4&am=100.00&tr=SU1240659756905923780&tn=sample%20single%20use%20qr&cu=INR&mc=1234",
                  "merchantId": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "merchantVpa": "fastestupi@pineaxis",
                  "metadata": {
                    "Fuga est.": "Est eum illo illum voluptatum quia.",
                    "Ut cupiditate impedit eos consequuntur quae sunt.": "Enim a est.",
                    "Voluptatem culpa et ducimus in expedita.": "Velit consequatur voluptatem."
                  },
                  "minAmount": 1000,
                  "paymentDetails": {
                    "customerAccountType": "SAVINGS",
                    "customerVpa": "test-auto-tyvmm59i9b@okokaxis",
                    "paymentId": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                    "paymentStatus": "initiated",
                    "rrn": "124068997913",
                    "txnId": "SETmBZkQOV0M7wyyP1V4PIFhRSzW5eSjmYI",
                    "txnTs": "2024-06-17T19:17:32+05:30"
                  },
                  "qrCode": "",
                  "reason": {
                    "code": "unable-to-fulfill-request",
                    "desc": "unable-to-fulfill-request",
                    "mandateRevokeReason": "merchant-initiated",
                    "npciErrCategory": "TD",
                    "npciErrCode": "YG",
                    "npciErrDesc": "MERCHANT ERROR (PAYEE PSP)",
                    "npciRespCode": "YG",
                    "npciRespDesc": "MERCHANT ERROR (PAYEE PSP)",
                    "setuDescription": "Merchant PSP error",
                    "suggestedAction": "Merchant PSP error"
                  },
                  "refId": "1240689979139556558",
                  "referenceId": "1240689979139556557",
                  "shortLink": "upipay.setu.co/Np3KnBCM8Om0",
                  "status": "active",
                  "transactionNote": "testpay"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: Bad Request response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: Forbidden response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Not found: Not Found response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error: Internal Server Error response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwt_header_Authorization": []
          }
        ]
      }
    },
    "/api/v1/merchants/dqr/{id}/expire": {
      "put": {
        "tags": [
          "dqr",
          "UPI Merchant Acquirer (UMAP)"
        ],
        "summary": "Expire dynamic QR by id",
        "description": "API to expire the dynamic QR using the id of the dqr resource",
        "operationId": "dqr#expireById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Et sunt occaecati ipsam quia voluptatem et."
            },
            "example": "Nobis odio omnis necessitatibus minus."
          },
          {
            "name": "merchantId",
            "in": "header",
            "allowEmptyValue": true,
            "required": true,
            "schema": {
              "type": "string",
              "example": "Est quis enim explicabo cum non."
            },
            "example": "Quia ad consequuntur consequatur."
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "headers": {
              "requestId": {
                "schema": {
                  "type": "string",
                  "example": "cjqml1f2e5ocq2mesej0"
                },
                "example": "cjqml1f2e5ocq2mesej0"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_ExpireDqrByIDResponse"
                },
                "example": {
                  "amount": 10000,
                  "closedAt": "2024-06-17T19:17:32+05:30",
                  "createdAt": "2024-05-17T19:17:32+05:30",
                  "expiryDate": "2024-06-17T19:17:32+05:30",
                  "id": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "intentLink": "upi://pay?pa=test-auto-pgruosncak@okokaxis&pn=merchant-4&am=100.00&tr=SU1240659756905923780&tn=sample%20single%20use%20qr&cu=INR&mc=1234",
                  "merchantId": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "merchantVpa": "fastestupi@pineaxis",
                  "metadata": {
                    "Dignissimos nulla reiciendis ut et nam sunt.": "Minus impedit possimus voluptatem dignissimos.",
                    "Hic impedit qui voluptatem.": "Fugit quas quisquam voluptatem.",
                    "In quas nobis.": "Omnis voluptates maiores nihil quo."
                  },
                  "minAmount": 1000,
                  "qrCode": "",
                  "reason": {
                    "code": "unable-to-fulfill-request",
                    "desc": "unable-to-fulfill-request",
                    "mandateRevokeReason": "merchant-initiated",
                    "npciErrCategory": "TD",
                    "npciErrCode": "YG",
                    "npciErrDesc": "MERCHANT ERROR (PAYEE PSP)",
                    "npciRespCode": "YG",
                    "npciRespDesc": "MERCHANT ERROR (PAYEE PSP)",
                    "setuDescription": "Merchant PSP error",
                    "suggestedAction": "Merchant PSP error"
                  },
                  "refId": "1240689979139556558",
                  "referenceId": "1240689979139556557",
                  "shortLink": "upipay.setu.co/Np3KnBCM8Om0",
                  "status": "active",
                  "transactionNote": "testpay"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: Bad Request response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: Forbidden response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Not found: Not Found response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error: Internal Server Error response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwt_header_Authorization": []
          }
        ]
      }
    },
    "/api/v1/merchants/mandates": {
      "post": {
        "tags": [
          "mandates",
          "UPI Merchant Acquirer (UMAP)"
        ],
        "summary": "Create mandate",
        "description": "API to create a mandate request for subscription based payments",
        "operationId": "mandates#create",
        "parameters": [
          {
            "name": "merchantId",
            "in": "header",
            "description": "Id of the merchant who is trying create the mandate",
            "allowEmptyValue": true,
            "required": true,
            "schema": {
              "type": "string",
              "description": "Id of the merchant who is trying create the mandate",
              "example": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
            },
            "example": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
          },
          {
            "name": "mock",
            "in": "header",
            "description": "If true, mock the API call",
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "description": "If true, mock the API call",
              "default": "true",
              "example": "Harum tenetur dolorem enim dolor et ipsum."
            },
            "example": "Veritatis incidunt ut praesentium labore cumque odit."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/umap_CreateRequestBody7"
              },
              "example": {
                "allowMultipleDebit": true,
                "amount": 1000,
                "amountRule": "max",
                "autoExecute": true,
                "autoPreNotify": true,
                "autoRefundFirstExecutionAmount": false,
                "blockFunds": true,
                "creationMode": "qr",
                "currency": "INR",
                "customerRevocable": false,
                "customerVpa": "ram@axis",
                "endDate": "02012008",
                "expireAfter": 2,
                "firstExecutionAmount": 1000,
                "frequency": "monthly",
                "ifscMatchType": "CompleteIFSCMatch",
                "initiationMode": "00",
                "merchantVpa": "fastestupi@pineaxis",
                "purpose": "14",
                "recurrenceRule": "on",
                "recurrenceValue": 1,
                "referenceId": "ABC1234789",
                "shareToPayee": false,
                "showFirstExecutionAmountToPayer": false,
                "startDate": "02012006",
                "transactionNote": "Transaction note"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created response.",
            "headers": {
              "requestId": {
                "schema": {
                  "type": "string",
                  "example": "cjqml1f2e5ocq2mesej0"
                },
                "example": "cjqml1f2e5ocq2mesej0"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_CreateMandateResponse"
                },
                "example": {
                  "allowMultipleDebit": true,
                  "amount": 1000,
                  "amountRule": "max",
                  "autoExecute": true,
                  "autoPreNotify": true,
                  "autoRefundFirstExecutionAmount": false,
                  "blockFunds": true,
                  "createdAt": "2024-05-17T19:17:32+05:30",
                  "creationMode": "qr",
                  "currency": "INR",
                  "customerRevocable": true,
                  "customerVpa": "ram@axis",
                  "endDate": "02012008",
                  "expireAfter": 2,
                  "firstExecutionAmount": 1000,
                  "frequency": "monthly",
                  "id": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "initiationMode": "00",
                  "intentLink": "upi://mandate?pa=deku040920232@okokaxis&pn=merchant-1&validitystart=31121995&validityend=31121996&am=100.00&amrule=MAX&recur=one%20time&recurvalue=0&recurtype=on&tr=SETgv8wOOCElAtpzfbAEXqcKvN8QPfunAhI&cu=INR&mc=1234&mode=04&purpose=14&rev=N&share=Y&qrexpire=04092023&block=N&orgid=000000&version=2.0&txnType=create&tid=SETgv8wOOCElAtpzfbAEXqcKvN8QPfunAhI",
                  "maxAmountLimit": 1000,
                  "merchantId": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "merchantVpa": "fastestupi@pineaxis",
                  "purpose": "14",
                  "qrCode": "",
                  "recurrenceRule": "on",
                  "recurrenceValue": 1,
                  "referenceId": "ABC1234789",
                  "shareToPayee": false,
                  "shortCode": "TlNssqA7wlZC",
                  "shortLink": "https://upi.setu.pe/TlNssqA7wlZC",
                  "showFirstExecutionAmountToPayer": false,
                  "startDate": "02012006",
                  "status": "pending",
                  "transactionNote": "Transaction note",
                  "txnId": "BTTZrc5gDFkuCr3n3I0ey4aNtzLOLR7K7aR"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: Bad Request response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Unauthorized response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Not found: Not Found response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error: Internal Server Error response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
                "schema": {
                  "type": "string",
                  "description": "a unique id associated with a particular request",
                  "example": "cjqnn4cupm66hpf0a920"
                },
                "example": "cjqnn4cupm66hpf0a920"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_BaseSetuAPIErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwt_header_Authorization": []
          }
        ]
      }
    },
    "/api/v1/merchants/mandates/mock": {
      "post": {
        "tags": [
          "mandates",
          "UPI Merchant Acquirer (UMAP)"
        ],
        "summary": "Mock mandate",
        "description": "API to mock different mandate operations",
        "operationId": "mandates#mockMandate",
        "parameters": [
          {
            "name": "merchantId",
            "in": "header",
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "example": "Magnam a est."
            },
            "example": "Sint sapiente sed nobis."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/umap_MockMandateRequestBody"
              },
              "example": {
                "failureType": "type-1",
                "id": "01J54G9QCFW4FE6JXKJ9QK3FTD",
                "mandateId": "01J54G9QCFW4FE6JXKJ9QK3FTD",
                "operation": "create",
                "payerAccountName": "Velit quis ut.",
                "payerAccountNo": "Occaecati ut itaque facilis autem ut quod.",
                "payerIfsc": "Reprehenderit voluptas quia eum.",
                "payerRespCode": "Est qui adipisci distinctio eum expedita.",
                "seqNumber": 296703447953511400,
                "status": "success"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/umap_StatusRequestBody"
                },
                "example": {
                  "status": "failure"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: Bad Request response.",
            "headers": {
              "requestId": {
                "description": "a unique id associated with a particular request",
[...]
