{
  "openapi": "3.0.3",
  "info": {
    "title": "Crunchbase API",
    "description": "Crunchbase's REST API provides access to firmographic, financial, and relationship data on companies, people, funding rounds, acquisitions, investments, events, and funds. The API supports entity lookups, search queries, autocomplete, and deleted entity tracking.",
    "version": "4.0",
    "contact": {
      "name": "Crunchbase API Support",
      "email": "api@crunchbase.com",
      "url": "https://data.crunchbase.com/docs"
    },
    "termsOfService": "https://about.crunchbase.com/terms-of-service/"
  },
  "servers": [
    {
      "url": "https://api.crunchbase.com/v4",
      "description": "Crunchbase API v4 Production"
    }
  ],
  "security": [
    {
      "ApiKeyHeader": []
    },
    {
      "ApiKeyQuery": []
    }
  ],
  "paths": {
    "/data/entities/organizations/{entity_id}": {
      "get": {
        "operationId": "getOrganization",
        "summary": "Lookup an Organization",
        "description": "Retrieve detailed information about a specific organization by its UUID or permalink.",
        "tags": ["Entity Lookup"],
        "parameters": [
          { "$ref": "#/components/parameters/EntityId" },
          { "$ref": "#/components/parameters/FieldIds" },
          { "$ref": "#/components/parameters/CardIds" }
        ],
        "responses": {
          "200": {
            "description": "Successful response with organization entity data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleEntityResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/data/entities/people/{entity_id}": {
      "get": {
        "operationId": "getPerson",
        "summary": "Lookup a Person",
        "description": "Retrieve detailed information about a specific person by their UUID or permalink.",
        "tags": ["Entity Lookup"],
        "parameters": [
          { "$ref": "#/components/parameters/EntityId" },
          { "$ref": "#/components/parameters/FieldIds" },
          { "$ref": "#/components/parameters/CardIds" }
        ],
        "responses": {
          "200": {
            "description": "Successful response with person entity data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleEntityResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/data/entities/funding-rounds/{entity_id}": {
      "get": {
        "operationId": "getFundingRound",
        "summary": "Lookup a Funding Round",
        "description": "Retrieve detailed information about a specific funding round by its UUID or permalink.",
        "tags": ["Entity Lookup"],
        "parameters": [
          { "$ref": "#/components/parameters/EntityId" },
          { "$ref": "#/components/parameters/FieldIds" },
          { "$ref": "#/components/parameters/CardIds" }
        ],
        "responses": {
          "200": {
            "description": "Successful response with funding round entity data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleEntityResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/data/entities/acquisitions/{entity_id}": {
      "get": {
        "operationId": "getAcquisition",
        "summary": "Lookup an Acquisition",
        "description": "Retrieve detailed information about a specific acquisition by its UUID or permalink.",
        "tags": ["Entity Lookup"],
        "parameters": [
          { "$ref": "#/components/parameters/EntityId" },
          { "$ref": "#/components/parameters/FieldIds" },
          { "$ref": "#/components/parameters/CardIds" }
        ],
        "responses": {
          "200": {
            "description": "Successful response with acquisition entity data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleEntityResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/data/entities/investments/{entity_id}": {
      "get": {
        "operationId": "getInvestment",
        "summary": "Lookup an Investment",
        "description": "Retrieve detailed information about a specific investment by its UUID or permalink.",
        "tags": ["Entity Lookup"],
        "parameters": [
          { "$ref": "#/components/parameters/EntityId" },
          { "$ref": "#/components/parameters/FieldIds" },
          { "$ref": "#/components/parameters/CardIds" }
        ],
        "responses": {
          "200": {
            "description": "Successful response with investment entity data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleEntityResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/data/entities/events/{entity_id}": {
      "get": {
        "operationId": "getEvent",
        "summary": "Lookup an Event",
        "description": "Retrieve detailed information about a specific event by its UUID or permalink.",
        "tags": ["Entity Lookup"],
        "parameters": [
          { "$ref": "#/components/parameters/EntityId" },
          { "$ref": "#/components/parameters/FieldIds" },
          { "$ref": "#/components/parameters/CardIds" }
        ],
        "responses": {
          "200": {
            "description": "Successful response with event entity data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleEntityResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/data/entities/funds/{entity_id}": {
      "get": {
        "operationId": "getFund",
        "summary": "Lookup a Fund",
        "description": "Retrieve detailed information about a specific fund by its UUID or permalink.",
        "tags": ["Entity Lookup"],
        "parameters": [
          { "$ref": "#/components/parameters/EntityId" },
          { "$ref": "#/components/parameters/FieldIds" },
          { "$ref": "#/components/parameters/CardIds" }
        ],
        "responses": {
          "200": {
            "description": "Successful response with fund entity data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleEntityResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/data/searches/organizations": {
      "post": {
        "operationId": "searchOrganizations",
        "summary": "Search Organization Entities",
        "description": "Search for organizations matching specified criteria using field-based filtering with operators.",
        "tags": ["Search"],
        "requestBody": {
          "$ref": "#/components/requestBodies/SearchRequest"
        },
        "responses": {
          "200": {
            "description": "Successful response with matching organization entities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/data/searches/people": {
      "post": {
        "operationId": "searchPeople",
        "summary": "Search Person Entities",
        "description": "Search for people matching specified criteria using field-based filtering with operators.",
        "tags": ["Search"],
        "requestBody": {
          "$ref": "#/components/requestBodies/SearchRequest"
        },
        "responses": {
          "200": {
            "description": "Successful response with matching person entities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/data/searches/funding-rounds": {
      "post": {
        "operationId": "searchFundingRounds",
        "summary": "Search Funding Round Entities",
        "description": "Search for funding rounds matching specified criteria using field-based filtering with operators.",
        "tags": ["Search"],
        "requestBody": {
          "$ref": "#/components/requestBodies/SearchRequest"
        },
        "responses": {
          "200": {
            "description": "Successful response with matching funding round entities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/data/searches/acquisitions": {
      "post": {
        "operationId": "searchAcquisitions",
        "summary": "Search Acquisition Entities",
        "description": "Search for acquisitions matching specified criteria using field-based filtering with operators.",
        "tags": ["Search"],
        "requestBody": {
          "$ref": "#/components/requestBodies/SearchRequest"
        },
        "responses": {
          "200": {
            "description": "Successful response with matching acquisition entities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/data/searches/investments": {
      "post": {
        "operationId": "searchInvestments",
        "summary": "Search Investment Entities",
        "description": "Search for investments matching specified criteria using field-based filtering with operators.",
        "tags": ["Search"],
        "requestBody": {
          "$ref": "#/components/requestBodies/SearchRequest"
        },
        "responses": {
          "200": {
            "description": "Successful response with matching investment entities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/data/searches/funds": {
      "post": {
        "operationId": "searchFunds",
        "summary": "Search Fund Entities",
        "description": "Search for funds matching specified criteria using field-based filtering with operators.",
        "tags": ["Search"],
        "requestBody": {
          "$ref": "#/components/requestBodies/SearchRequest"
        },
        "responses": {
          "200": {
            "description": "Successful response with matching fund entities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/data/autocompletes": {
      "get": {
        "operationId": "autocomplete",
        "summary": "Autocomplete Entities",
        "description": "Suggests matching Identifier entities based on the query and entity_def_ids provided. Useful for finding UUIDs or permalinks for use with other API endpoints.",
        "tags": ["Autocomplete"],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search term to match against entity identifiers.",
            "schema": {
              "type": "string"
            },
            "example": "crunchbase"
          },
          {
            "name": "collection_ids",
            "in": "query",
            "required": false,
            "description": "Comma-separated entity definition IDs to filter results. Valid values include: organization, person, funding_round, acquisition, investment, event, fund, category, category_group, location, and others.",
            "schema": {
              "type": "string"
            },
            "example": "organization.companies,organization.investors"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return per page. Maximum value is 25.",
            "schema": {
              "type": "integer",
              "maximum": 25,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with autocomplete suggestions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutocompleteResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/data/deleted_entities": {
      "get": {
        "operationId": "getDeletedEntities",
        "summary": "Retrieve Deleted Entities",
        "description": "Retrieve a list of entities that have been deleted from the Crunchbase database. Useful for keeping local data synchronized.",
        "tags": ["Deleted Entities"],
        "parameters": [
          {
            "name": "collection_ids",
            "in": "query",
            "required": false,
            "description": "Filter by entity collection type (e.g., organizations, people).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before_id",
            "in": "query",
            "required": false,
            "description": "Cursor for pagination; return results before this entity UUID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after_id",
            "in": "query",
            "required": false,
            "description": "Cursor for pagination; return results after this entity UUID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "deleted_at_order",
            "in": "query",
            "required": false,
            "description": "Sort order for deleted_at timestamp.",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with deleted entity records.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedEntitiesResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-cb-user-key",
        "description": "Crunchbase API key passed via request header."
      },
      "ApiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "user_key",
        "description": "Crunchbase API key passed as a query parameter."
      }
    },
    "parameters": {
      "EntityId": {
        "name": "entity_id",
        "in": "path",
        "required": true,
        "description": "UUID or permalink of the desired entity.",
        "schema": {
          "type": "string"
        }
      },
      "FieldIds": {
        "name": "field_ids",
        "in": "query",
        "required": false,
        "description": "Fields to include on the resulting entity. Accepts an array of field_id strings in JSON or a comma-separated list.",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "style": "form",
        "explode": false
      },
      "CardIds": {
        "name": "card_ids",
        "in": "query",
        "required": false,
        "description": "Cards to include on the resulting entity. Each card returns a set of related entities or additional detail.",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "style": "form",
        "explode": false
      }
    },
    "requestBodies": {
      "SearchRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SearchRequestBody"
            }
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Authentication failed. Invalid or missing API key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "The requested entity was not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded. Maximum 200 calls per minute.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "ValidationError": {
        "description": "Request body validation failed.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Human-readable error message."
          }
        }
      },
      "EntityIdentifier": {
        "type": "object",
        "description": "A reference to a Crunchbase entity.",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the entity."
          },
          "value": {
            "type": "string",
            "maxLength": 255,
            "description": "Display name or label of the entity."
          },
          "image_id": {
            "type": "string",
            "maxLength": 255,
            "description": "Identifier for the entity image."
          },
          "permalink": {
            "type": "string",
            "maxLength": 255,
            "description": "URL-friendly unique identifier."
          },
          "entity_def_id": {
            "type": "string",
            "description": "Type of entity.",
            "enum": [
              "address",
              "category",
              "category_group",
              "degree",
              "diversity_spotlight",
              "event",
              "event_appearance",
              "fund",
              "funding_round",
              "investment",
              "ipo",
              "job",
              "location",
              "organization",
              "ownership",
              "person"
            ]
          }
        }
      },
      "SingleEntityResponse": {
        "type": "object",
        "description": "Response containing a single entity with its fields and optional cards.",
        "properties": {
          "properties": {
            "type": "object",
            "description": "Core fields of the entity. Varies by entity type.",
            "properties": {
              "identifier": {
                "$ref": "#/components/schemas/EntityIdentifier"
              },
              "uuid": {
                "type": "string",
                "format": "uuid"
              },
              "permalink": {
                "type": "string"
              },
              "entity_def_id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "short_description": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              },
              "image_id": {
                "type": "string"
              },
              "image_url": {
                "type": "string",
                "format": "uri"
              },
              "rank": {
                "type": "integer",
                "description": "Crunchbase rank value."
              }
            },
            "additionalProperties": true
          },
          "cards": {
            "type": "object",
            "description": "Optional card data containing related entities.",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      },
      "SearchRequestBody": {
        "type": "object",
        "description": "Request body for search endpoints supporting field-based filtering, sorting, and pagination.",
        "properties": {
          "field_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Fields to include in each entity result."
          },
          "order": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortOrder"
            },
            "description": "Sort order for results."
          },
          "query": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Predicate"
            },
            "description": "Array of filter predicates. All predicates are combined with AND logic."
          },
          "limit": {
            "type": "integer",
            "description": "Maximum number of results to return.",
            "default": 100,
            "maximum": 1000
          },
          "after_id": {
            "type": "string",
            "description": "Cursor for pagination; return results after this entity UUID."
          },
          "before_id": {
            "type": "string",
            "description": "Cursor for pagination; return results before this entity UUID."
          }
        },
        "required": ["field_ids", "query"]
      },
      "Predicate": {
        "type": "object",
        "description": "A filter condition for a search query.",
        "properties": {
          "field_id": {
            "type": "string",
            "description": "The field to filter on."
          },
          "operator_id": {
            "type": "string",
            "description": "The comparison operator.",
            "enum": [
              "blank",
              "between",
              "contains",
              "eq",
              "gt",
              "gte",
              "includes",
              "includes_all",
              "lt",
              "lte",
              "not_contains",
              "not_eq",
              "not_includes",
              "not_includes_all",
              "starts"
            ]
          },
          "values": {
            "type": "array",
            "items": {},
            "description": "Values to compare against. Type depends on the field being filtered."
          },
          "type": {
            "type": "string",
            "description": "Predicate type.",
            "enum": ["predicate"]
          }
        },
        "required": ["field_id", "operator_id", "type"]
      },
      "SortOrder": {
        "type": "object",
        "description": "Defines sort order for search results.",
        "properties": {
          "field_id": {
            "type": "string",
            "description": "Field to sort by."
          },
          "sort": {
            "type": "string",
            "description": "Sort direction.",
            "enum": ["asc", "desc"]
          },
          "nulls": {
            "type": "string",
            "description": "Where to place null values in sort order.",
            "enum": ["first", "last"]
          }
        },
        "required": ["field_id", "sort"]
      },
      "SearchResponse": {
        "type": "object",
        "description": "Response from a search endpoint containing matching entities.",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Total number of entities matching the query."
          },
          "entities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SingleEntityResponse"
            },
            "description": "Array of matching entity results."
          }
        }
      },
      "AutocompleteResponse": {
        "type": "object",
        "description": "Response from the autocomplete endpoint.",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Number of results returned."
          },
          "entities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EntityIdentifier"
            },
            "description": "Array of matching entity suggestions."
          }
        }
      },
      "DeletedEntity": {
        "type": "object",
        "description": "A record of a deleted entity.",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "UUID of the deleted entity."
          },
          "entity_def_id": {
            "type": "string",
            "description": "Type of the deleted entity."
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the entity was deleted."
          }
        }
      },
      "DeletedEntitiesResponse": {
        "type": "object",
        "description": "Response containing deleted entity records.",
        "properties": {
          "entities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeletedEntity"
            },
            "description": "Array of deleted entity records."
          },
          "count": {
            "type": "integer",
            "description": "Total number of deleted entities matching the query."
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Entity Lookup",
      "description": "Retrieve detailed data for specific entities by UUID or permalink."
    },
    {
      "name": "Search",
      "description": "Query groups of entities matching specified filter criteria."
    },
    {
      "name": "Autocomplete",
      "description": "Suggest matching entities based on a search query string."
    },
    {
      "name": "Deleted Entities",
      "description": "Track entities that have been removed from the Crunchbase database."
    }
  ]
}
