{
  "openapi": "3.0.0",
  "info": {
    "title": "CloudConvert API",
    "description": "Cloud-based file conversion API supporting hundreds of file formats. Convert documents, images, videos, audio, and more with advanced processing capabilities.",
    "version": "2.0.0",
    "contact": {
      "name": "CloudConvert Support",
      "url": "https://cloudconvert.com/contact"
    }
  },
  "servers": [
    {
      "url": "https://api.cloudconvert.com/v2",
      "description": "Global API endpoint"
    },
    {
      "url": "https://eu-central.api.cloudconvert.com",
      "description": "EU Central (Germany)"
    },
    {
      "url": "https://us-east.api.cloudconvert.com",
      "description": "US East (Virginia)"
    },
    {
      "url": "https://sandbox.api.cloudconvert.com/v2",
      "description": "Sandbox environment"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/jobs": {
      "post": {
        "summary": "Create job",
        "description": "Create a new job that orchestrates one or more tasks for file processing",
        "operationId": "createJob",
        "tags": ["Jobs"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Job created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "summary": "List jobs",
        "description": "Get a list of all jobs",
        "operationId": "listJobs",
        "tags": ["Jobs"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["waiting", "processing", "finished", "error"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of jobs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Job"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{id}": {
      "get": {
        "summary": "Get job",
        "description": "Retrieve details of a specific job",
        "operationId": "getJob",
        "tags": ["Jobs"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete job",
        "description": "Cancel and delete a job",
        "operationId": "deleteJob",
        "tags": ["Jobs"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Job deleted successfully"
          }
        }
      }
    },
    "/jobs/{id}/wait": {
      "get": {
        "summary": "Wait for job completion",
        "description": "Wait for a job to complete and return the result",
        "operationId": "waitForJob",
        "tags": ["Jobs"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          }
        }
      }
    },
    "/tasks": {
      "get": {
        "summary": "List tasks",
        "description": "Get a list of all tasks",
        "operationId": "listTasks",
        "tags": ["Tasks"],
        "parameters": [
          {
            "name": "job_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["waiting", "processing", "finished", "error"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tasks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Task"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tasks/{id}": {
      "get": {
        "summary": "Get task",
        "description": "Retrieve details of a specific task",
        "operationId": "getTask",
        "tags": ["Tasks"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          }
        }
      }
    },
    "/operations": {
      "get": {
        "summary": "List operations",
        "description": "Get available conversion operations and their options",
        "operationId": "listOperations",
        "tags": ["Operations"],
        "parameters": [
          {
            "name": "filter[type]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by operation type (e.g., convert)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of operations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Operation"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/import/upload": {
      "post": {
        "summary": "Upload file",
        "description": "Upload a file for conversion",
        "operationId": "uploadFile",
        "tags": ["Tasks"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "File uploaded successfully"
          }
        }
      }
    },
    "/import/url": {
      "post": {
        "summary": "Import from URL",
        "description": "Import a file from a URL",
        "operationId": "importUrl",
        "tags": ["Tasks"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["url"],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "filename": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Import task created"
          }
        }
      }
    },
    "/users/me": {
      "get": {
        "summary": "Get current user",
        "description": "Get information about the authenticated user",
        "operationId": "getCurrentUser",
        "tags": ["Users"],
        "responses": {
          "200": {
            "description": "User information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks": {
      "post": {
        "summary": "Create webhook",
        "description": "Create a webhook for event notifications",
        "operationId": "createWebhook",
        "tags": ["Webhooks"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created successfully"
          }
        }
      },
      "get": {
        "summary": "List webhooks",
        "description": "Get all webhooks",
        "operationId": "listWebhooks",
        "tags": ["Webhooks"],
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Webhook"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{id}": {
      "delete": {
        "summary": "Delete webhook",
        "description": "Delete a webhook",
        "operationId": "deleteWebhook",
        "tags": ["Webhooks"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook deleted successfully"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication using API key. Create API keys from your dashboard."
      }
    },
    "schemas": {
      "Job": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["waiting", "processing", "finished", "error"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "started_at": {
            "type": "string",
            "format": "date-time"
          },
          "ended_at": {
            "type": "string",
            "format": "date-time"
          },
          "tasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Task"
            }
          }
        }
      },
      "JobRequest": {
        "type": "object",
        "required": ["tasks"],
        "properties": {
          "tasks": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "operation": {
                  "type": "string"
                },
                "input": {
                  "type": "string"
                },
                "output_format": {
                  "type": "string"
                }
              }
            }
          },
          "tag": {
            "type": "string"
          },
          "webhook_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "operation": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["waiting", "processing", "finished", "error"]
          },
          "job_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "started_at": {
            "type": "string",
            "format": "date-time"
          },
          "ended_at": {
            "type": "string",
            "format": "date-time"
          },
          "result": {
            "type": "object",
            "properties": {
              "files": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "filename": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Operation": {
        "type": "object",
        "properties": {
          "operation": {
            "type": "string"
          },
          "input_format": {
            "type": "string"
          },
          "output_format": {
            "type": "string"
          },
          "options": {
            "type": "object"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "credits": {
            "type": "number"
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "WebhookRequest": {
        "type": "object",
        "required": ["url", "events"],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["job.created", "job.finished", "job.failed"]
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Jobs",
      "description": "Job orchestration and management"
    },
    {
      "name": "Tasks",
      "description": "Individual conversion tasks"
    },
    {
      "name": "Operations",
      "description": "Available conversion operations"
    },
    {
      "name": "Users",
      "description": "User account information"
    },
    {
      "name": "Webhooks",
      "description": "Webhook management for event notifications"
    }
  ]
}
