{
  "openapi": "3.0.3",
  "info": {
    "title": "Temp Mail API",
    "description": "Temporary disposable email API. Generate temporary email addresses using available domain names, receive emails, and manage messages. Messages are automatically deleted within 1-2 hours. Provided by Privatix Ltd via temp-mail.org.",
    "version": "1.0.0",
    "contact": {
      "name": "Temp Mail Support",
      "email": "support@temp-mail.org",
      "url": "https://temp-mail.org"
    },
    "x-apisguru-categories": ["email"],
    "x-logo": {
      "url": "https://temp-mail.org/favicon.ico"
    }
  },
  "servers": [
    {
      "url": "https://privatix-temp-mail-v1.p.rapidapi.com",
      "description": "RapidAPI proxy server"
    }
  ],
  "security": [
    {
      "RapidAPIKey": [],
      "RapidAPIHost": []
    }
  ],
  "paths": {
    "/request/domains/": {
      "get": {
        "operationId": "getDomainsList",
        "summary": "Domains list",
        "description": "Get the list of available domains for generating temporary email addresses.",
        "tags": ["Domains"],
        "responses": {
          "200": {
            "description": "Successful response with list of available domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "@example.com"
                  }
                },
                "example": [
                  "@guerrillamailblock.com",
                  "@grr.la",
                  "@dispostable.com"
                ]
              }
            }
          }
        }
      }
    },
    "/request/mail/id/{md5}/": {
      "get": {
        "operationId": "getEmails",
        "summary": "Get emails",
        "description": "Check and get a list of emails for a mailbox. The md5 parameter is the MD5 hash of the email address (login + domain, e.g. md5('testuser@domain.com')).",
        "tags": ["Messages"],
        "parameters": [
          {
            "name": "md5",
            "in": "path",
            "required": true,
            "description": "MD5 hash of the full email address (login + domain)",
            "schema": {
              "type": "string",
              "example": "a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of email messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmailMessage"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No emails found for this mailbox",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/request/one_mail/id/{mail_id}/": {
      "get": {
        "operationId": "getOneMessage",
        "summary": "Get one message",
        "description": "Get one message by its unique identifier.",
        "tags": ["Messages"],
        "parameters": [
          {
            "name": "mail_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the message assigned by the system",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with the email message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailMessage"
                }
              }
            }
          },
          "404": {
            "description": "Message not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/request/source/id/{mail_id}/": {
      "get": {
        "operationId": "getMessageSource",
        "summary": "Source message",
        "description": "Get the raw source of a message by its mail_id.",
        "tags": ["Messages"],
        "parameters": [
          {
            "name": "mail_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the message assigned by the system",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with the raw message source",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageSource"
                }
              }
            }
          },
          "404": {
            "description": "Message not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/request/delete/id/{mail_id}/": {
      "get": {
        "operationId": "deleteMessage",
        "summary": "Delete message",
        "description": "Delete a message by its unique identifier assigned by the system.",
        "tags": ["Messages"],
        "parameters": [
          {
            "name": "mail_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the message assigned by the system",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResult"
                }
              }
            }
          },
          "404": {
            "description": "Message not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/request/attachments/id/{mail_id}/": {
      "get": {
        "operationId": "getMessageAttachmentsLegacy",
        "summary": "Get message attachments (legacy)",
        "description": "Get message attachments by message id. This is the legacy endpoint.",
        "tags": ["Attachments"],
        "parameters": [
          {
            "name": "mail_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the message",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with attachments list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Attachment"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Message not found or no attachments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/request/atchmnts/id/{mail_id}/": {
      "get": {
        "operationId": "getMessageAttachments",
        "summary": "Get message attachments",
        "description": "Get message attachments by message id. Content response field is encoded in base64 per RFC 4648.",
        "tags": ["Attachments"],
        "parameters": [
          {
            "name": "mail_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the message",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with attachments list (base64 encoded content)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttachmentWithContent"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Message not found or no attachments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/request/one_attachment/id/{mail_id}/{atId}/": {
      "get": {
        "operationId": "getOneAttachment",
        "summary": "Get one attachment",
        "description": "Get one message attachment by message id and attachment id from the attachments list. Content response field is encoded in base64 per RFC 4648.",
        "tags": ["Attachments"],
        "parameters": [
          {
            "name": "mail_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the message",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "atId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the attachment from the attachments list",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with the attachment (base64 encoded content)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentWithContent"
                }
              }
            }
          },
          "404": {
            "description": "Attachment or message not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "RapidAPIKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-rapidapi-key",
        "description": "Your RapidAPI application key"
      },
      "RapidAPIHost": {
        "type": "apiKey",
        "in": "header",
        "name": "x-rapidapi-host",
        "description": "API host header, value: privatix-temp-mail-v1.p.rapidapi.com"
      }
    },
    "schemas": {
      "EmailMessage": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "object",
            "properties": {
              "oid": {
                "type": "string",
                "description": "Unique message identifier"
              }
            }
          },
          "createdAt": {
            "type": "object",
            "properties": {
              "milliseconds": {
                "type": "integer",
                "description": "Timestamp in milliseconds"
              }
            }
          },
          "mail_id": {
            "type": "string",
            "description": "Unique message identifier assigned by the system"
          },
          "mail_address_id": {
            "type": "string",
            "description": "Email address identifier"
          },
          "mail_from": {
            "type": "string",
            "description": "Sender email address"
          },
          "mail_subject": {
            "type": "string",
            "description": "Email subject line"
          },
          "mail_preview": {
            "type": "string",
            "description": "Short preview of the email content"
          },
          "mail_text_only": {
            "type": "string",
            "description": "Plain text content of the email"
          },
          "mail_text": {
            "type": "string",
            "description": "Full HTML content of the email"
          },
          "mail_html": {
            "type": "string",
            "description": "HTML content of the email"
          },
          "mail_timestamp": {
            "type": "number",
            "description": "Unix timestamp of when the email was received"
          },
          "mail_attachments_count": {
            "type": "integer",
            "description": "Number of attachments in the email"
          },
          "mail_attachments": {
            "type": "array",
            "description": "List of attachment metadata",
            "items": {
              "$ref": "#/components/schemas/AttachmentMeta"
            }
          }
        }
      },
      "AttachmentMeta": {
        "type": "object",
        "properties": {
          "atId": {
            "type": "string",
            "description": "Attachment identifier"
          },
          "name": {
            "type": "string",
            "description": "Attachment filename"
          },
          "size": {
            "type": "integer",
            "description": "Attachment size in bytes"
          },
          "content_type": {
            "type": "string",
            "description": "MIME type of the attachment"
          }
        }
      },
      "Attachment": {
        "type": "object",
        "properties": {
          "atId": {
            "type": "string",
            "description": "Attachment identifier"
          },
          "name": {
            "type": "string",
            "description": "Attachment filename"
          },
          "size": {
            "type": "integer",
            "description": "Attachment size in bytes"
          },
          "content_type": {
            "type": "string",
            "description": "MIME type of the attachment"
          }
        }
      },
      "AttachmentWithContent": {
        "type": "object",
        "properties": {
          "atId": {
            "type": "string",
            "description": "Attachment identifier"
          },
          "name": {
            "type": "string",
            "description": "Attachment filename"
          },
          "size": {
            "type": "integer",
            "description": "Attachment size in bytes"
          },
          "content_type": {
            "type": "string",
            "description": "MIME type of the attachment"
          },
          "content": {
            "type": "string",
            "format": "byte",
            "description": "Base64 encoded attachment content per RFC 4648"
          }
        }
      },
      "MessageSource": {
        "type": "object",
        "properties": {
          "mail_id": {
            "type": "string",
            "description": "Unique message identifier"
          },
          "source": {
            "type": "string",
            "description": "Raw message source (MIME format)"
          }
        }
      },
      "DeleteResult": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean",
            "description": "Whether the deletion was successful"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Domains",
      "description": "Operations for retrieving available email domains"
    },
    {
      "name": "Messages",
      "description": "Operations for managing email messages"
    },
    {
      "name": "Attachments",
      "description": "Operations for retrieving email attachments"
    }
  ]
}