{
  "openapi": "3.0.3",
  "x-stoplight": {
    "id": "obltqlvi1ac1n"
  },
  "info": {
    "title": "FareHarbor Integration Center",
    "version": "1.0",
    "contact": {
      "email": "support@fareharbor.com",
      "name": "FareHarbor",
      "url": "https://help.fareharbor.com/hc/"
    }
  },
  "servers": [
    {
      "url": "https://fareharbor.com/api/external/v1",
      "description": "production"
    },
    {
      "url": "https://demo.fareharbor.com/api/external/v1",
      "description": "demo"
    }
  ],
  "tags": [
    {
      "name": "Getting Started",
      "description": "\nFareHarbor offers powerful APIs and webhooks designed to streamline integrations, increase automation, and scale your business--whether you're an affiliate aiming to integrate live booking capabilities, or a software partner enhancing backend operations.\n\n### Who Can Access the API?\n\nFareHarbor offers API access to:\n\n- **Affiliates** looking to sell FareHarbor client inventory directly within their own platforms\n- **Software Partners** integrating FareHarbor into systems like CRMs, POS, accounting tools, or waiver and photo platforms\n\nAll requests are reviewed for eligibility. To begin, email [support@fareharbor.com](mailto:support@fareharbor.com) with a brief summary of your use case. If you are a distribution affiliate, please fill out our application for API [here](https://airtable.com/appn3FgNIepgAu6GD/shra6tuh90diXXOFr).\n\n### For Affiliates\n\nAffiliates can use our External API to access and book inventory in real time. This enables platforms like OTAs, concierges, and marketplaces to create seamless booking experiences.\n\n#### Key Capabilities:\n\n- **API Access:** Available to qualified Affiliates for distribution purposes\n- **Query Inventory:** Retrieve real-time availability, pricing, and item metadata (\"items\") for operators in your partner network or through the FareHarbor Distribution Network (FHDN)\n- **Create and Manage Bookings:** Use the Bookings endpoints to create and manage bookings and manage customer data\n- **Testing Environment:** Safely test your implementation in our demo environment\n\n### For Software Partners\n\nSoftware and integration partners can connect with FareHarbor to automate workflows and synchronize client data.\n\n#### Typical Use Cases:\n\n- CRMs, POS systems, accounting tools\n- Waiver and photo capture platforms\n- Support and marketing automation tools\n\n#### Integration Capabilities:\n\n- **Webhook Access:** Built for Software Partners to support non-distribution use cases\n- **Real-Time Sync:** Configure webhooks so that you receive automatic updates on bookings, customers, and payments\n- **Data Management:** Use the External API to pull booking, availability, and customer records\n- **Custom Integrations:** Build tailored workflows using booking-level data, custom fields, and waiver metadata\n\n### Resources and Support\n\nBoth affiliates and software partners have access to the following tools and documentation to support their FareHarbor integrations:\n\n- **Production API Documentation:** [https://developer.fareharbor.com/](https://developer.fareharbor.com/) — Contains all necessary technical details about endpoints, data formats, and sample code\n- **Demo API Environment:** [https://demo.fareharbor.com/api/external/v1/](https://demo.fareharbor.com/api/external/v1/) — A testing platform where you can safely experiment with API calls without affecting live data\n- **Help Center:** [https://fareharbor.com/help/](https://fareharbor.com/help/) — Guidance and support articles for technical and operational questions\n- **Technical Support:** Our experienced support team is ready to assist you with any questions or challenges during your integration process\n\nGet started today to enhance your platform's capabilities and provide a seamless experience to your users with FareHarbor's comprehensive integration solutions.\n\n## API Certification\n\nTo receive your live API credentials and become a FareHarbor API Partner, you must complete the following certification process. Remember, our test environment runs on a dedicated, scaled down infrastructure. During development and testing, do not send more than four concurrent External API requests. This certification is designed to ensure that you have thoroughly tested the integration and are able to effectively book into a variety of FareHarbor Dashboard set-ups. Once you have completed the certification, we will provide you with a survey, followed by your live API keys.\n\nShould you have any questions, please feel free to contact your FareHarbor representative.\n\n### Test through the API:\n\n1. Make at least 2 bookings per charter (if there is more than one and for each User Key) across two different items:\n    * Within one of these bookings, make sure to include all customer information:  customer name, phone and email.\n    * Pass through a booking note in a booking.\n    * Within your bookings, please make sure to send through two different customer types, if applicable.\n1. Rebook one of the bookings.\n1. Cancel one of the bookings.\n1. If you are connecting to custom fields, pass through two different custom fields (e.g. dropdown).\n1. If you are connecting to the transportation module, pass through two bookings with two different lodgings.\n\n\n## Rate Limits\nWe enforce two rate limits on requests to the FareHarbor External API. Both are applied per IP address, not per app key.\n\n- At most 30 requests per second per IP.\n- At most 3,000 requests per 5-minute period per IP.\n\nIf multiple app keys are being used from the same IP, their requests all count toward the same pool. Going over either limit will result in an HTTP 429 Too Many Requests or 403 Forbidden response until the time window resets.\n\nTo avoid hitting these thresholds, partners should spread requests evenly across time rather than sending large batches all at once.\n\n## Timeouts\n\nCertain requests to the FareHarbor External API are especially time-intensive, such as some of the [Availabilities endpoints](#tag/Availabilities-Endpoints).\n\nOur infrastructure enforces an upper bound of 60 seconds on the duration of all requests to our endpoints.  When a request exceeds this limit, it will be terminated with a `504 Gateway Timeout` HTTP status code.\n\nIf you experience a 504 timeout for an availability request (such as by date range), we recommend re-trying the request after shortening the requested date range.\n\n## TLS Version\n\nAs of 2020-09-01 we require clients that connect to our API to make use of TLS1.2 in order to ensure a speedy and secure connection. You can test this by running a curl command against our API and if you see something like `SSL_ERROR_SYSCALL in connection to fareharbor.com:443` or `Unknown SSL protocol error in connection` you are trying to use a TLS version we do not support. If that is the case it is likely that you will need to upgrade your local openssl version, which is outside the scope of this document.\n\n## Determining User Keys\n\nFareHarbor will provide approved API partners with User Keys that can be used to make requests and create bookings for suppliers.\nThe supplier must confirm their approval of your API access before you are able to make bookings for them via API.\nIf you are using the FareHarbor API to book for suppliers across multiple countries/currencies, you may be provided with one User Key per currency.\nYou can find more information about the authentication process [here](#tag/Authentication). Alternatively, you may contact <support@fareharbor.com> for assistance with User Keys.\n\n## Structuring Requests and Responses\n\nAll requests and responses are simple JSON objects; see [`Format`](#tag/Format).\n\n## Interacting with the API\n\nThe FareHarbor API provides a powerful way to manage bookings, customers, and inventory programmatically. Here's a quick start guide to help you set up and begin integrating with the FareHarbor API.\n\n### Step 1: Obtain API Credentials\n\nRegister for API Access: Contact FareHarbor to request API access. This typically involves setting up an account and verifying your business details.\n\nReceive API Keys: Once approved, you will be provided with API keys which are essential for authenticating requests.\n\n### Step 2: Set Up Your Environment\n\nChoose an API Client: Decide on a programming environment and API client that suits your development needs (e.g., Postman, cURL, or any HTTP client libraries available for your preferred programming language).\n\nInstall Necessary Libraries: For example, if you're using Python, you might use requests library to handle API calls.\n\n### Step 3: Making Your First API Call\n\nTest API Connection: Start by making a simple API request to ensure your API keys are working correctly. A typical first request might be to retrieve information about available companies.\n\nRequest:\n\n    curl -X GET 'https://fareharbor.com/api/external/v1/companies/'\n    -H \"X-FareHarbor-API-App: APP-KEY\"\n    -H \"X-FareHarbor-API-User: USER-KEY\"\n\nResponse:\n\n    {\n      \"companies\": [\n        {\n          'name': 'XYZ Scuba',\n          'shortname': 'xyz'\n        }\n      ]\n    }\n\n\n### Step 4: Common API Interactions\n\nRetrieve a list of available companies: The first thing you might want to do is retrieve the list of companies that a given affiliate has access to in FareHarbor. See [`Companies`](#tag/Company-Endpoints) to learn more.\n\nRetrieve a list of bookable items: Next you can identify all of the items on a particular provider that a given affiliate can book. Continuing the above example, we can determine which items on \"XYZ Scuba\" the user identified by USER-KEY can book. See [`Items`](#tag/Items-Endpoints) to learn more. \n\nRetrieve a list of availability for an item: Having found an item to book, you can access its availability on a per-day basis. See [`Availabilities`](#tag/Availabilities-Endpoints) to learn more. \n\nCreate a booking for an availability: Once you've found a bookable availability you can book it by simply POSTing to the availability's booking collection. See [`Bookings`](#tag/Bookings-Endpoints) to learn more.\n\nRetrieve a booking: Given a booking by uuid it's straightforward to access the booking details.  See [`Get Booking`](#tag/Bookings-Endpoints/operation/get-booking) to learn more. \n\n### Step 5: Handling API Responses\n\nCheck Response Status: Ensure each API call successfully completes by checking the status codes and response messages.\n\nParse Data: Extract relevant information from the JSON responses for use within your application.\n\n### Step 6: Automate and Scale\n\nAutomate Frequent Tasks: Develop scripts or applications that automate common tasks, such as getting availability or fetching regular booking reports.\n\nHandle Errors: Implement robust error handling to deal with potential issues like network errors, API limits, or data inconsistencies.\n\n### Step 8: Security and Compliance\n\nSecure API Keys: Protect your API keys to prevent unauthorized access.\n\nData Protection: Follow best practices for data protection and ensure compliance with relevant legal regulations such as GDPR (if operating in Europe) or others specific to your location and industry.\n\n### Step 8: Explore Advanced Features\n\nWebhooks: Use FareHarbor's webhook system for real-time updates on bookings and availability changes. See [`Webhooks`](#tag/Webhooks) to learn more.\n\nCustom Integration: Depending on your needs, explore custom integrations that go beyond the basic functionalities, such as integrating with third-party CRM or financial software.\n\n\n### Documentation and Support\n\nRefer to the Official Documentation: Regularly consult the FareHarbor API documentation for detailed advice on different API endpoints and updates.\n\nSeek Support When Needed: Utilize FareHarbor’s developer support for troubleshooting and guidance on complex integration scenarios.\n"
    },
    {
      "name": "Availabilities Endpoints",
      "description": "\nThe `/availabilities` endpoint is used to retrieve all bookable availabilities for a single item within a specified date or date range. The request pulls availability data from the Item calendar of the FareHarbor dashboard. Each individual availability shows a unique PK, which is then used during the booking process, as well as a summary of its related settings, including start/end times, capacity, valid ticket options and their prices, custom fields, party size restrictions, and more.\n\nHere the API Partner can gather the relevant PKs that they need to create their booking, and they can use the data on the API to connect and display the bookable dates and times on the product calendars on their end. The more frequently they hit this endpoint, the more accurate their product calendars will be in respect to FareHarbor.\n\nOnline Booking Status: Each availability has an online booking status, which controls how it can be viewed and booked by online customers. In most cases, the status will be set to `auto`, which automatically prevents online customers from booking after a certain time cutoff, based on [item’s settings](https://help.fareharbor.com/dashboard/items/online-booking-settings/).\n\nFor a complete description of these statuses and their meaning, go to [https://help.fareharbor.com/dashboard/availabilities/updating/online-booking-status/](https://help.fareharbor.com/dashboard/availabilities/updating/online-booking-status/).\n\n**Things to Note:**\n\n*   API Partners may pull availability at whatever intervals they want, as long as they fall within the rate limit, but we generally recommend that, at minimum, partners pull availability for the next 90 days (in 7 day segments) once per week, for the next  30 days once per day, and for the current day every 2 hours.\n\n*   The standard availability endpoints will return the fully detailed availability, including custom field information and headlines. If you are not connecting to custom fields, you can include `/minimal` in your request to exclude custom field information from the response. This can also help with performance speed.\n\n*   We are constantly monitoring our API and optimizing for performance. Depending on the complexity of certain products and how they are configured in our system, availability requests for some products may take longer than others. In these cases it helps to reduce the date range being pulled.\n* Availability Restrictions:\n    * FareHarbor supports optional party size booking restrictions at the availability level. The following properties will be included for each availability provided by the availability endpoints to indicate applicable restrictions:\n        * `minimum_party_size`: minimum number of customers currently allowed on a booking.\n        * `maximum_party_size`: maximum number of customers currently allowed on a booking.\n    * Note: a number value will be provided for enabled restrictions; a null value will be provided for restrictions that are not enabled.\n* Customer Type Rate Restrictions:\n    * FareHarbor also supports optional party size booking restrictions at the customer type rate level. The following properties will be included for each customer type rate provided by availability endpoints to indicate applicable restrictions:\n        * `minimum_party_size`: minimum number of the associated customer type allowed in a party.\n        * `maximum_party_size`: maximum number of the associated customer type allowed in a party.\n    * Note: the minimum_party_size restriction only applies when at least one customer of the associated customer type is in the party.\n    * Note: a number value will be provided for enabled restrictions; a null value will be provided for restrictions that are not enabled.\n* Availability start and end times are in the company's local timezone.  When providing a date or date range for availabilities, those dates are taken as local time of the company.\n"
    },
    {
      "name": "Bookings Endpoints",
      "description": "\nThe bookings endpoints in the FareHarbor API provide comprehensive functionalities for managing reservations efficiently. These endpoints enable developers and business owners to integrate and automate booking-related operations seamlessly into their services. Through these endpoints, users can create, retrieve, update, and cancel bookings directly through the API.\n\nKey functionalities offered by the bookings endpoints include:\n* **Creating Bookings:** Enables the creation of new bookings, allowing customers to reserve spots for tours and activities directly through third-party applications.\n* **Retrieving Bookings:** Offers the ability to query and retrieve details of existing bookings, providing essential information like booking status, customer details, and payment information.\n* **Updating Bookings:** Supports modifications to existing bookings, which is crucial for managing changes in customer plans.\n* **Cancelling Bookings:** Allows for the cancellation of bookings, helping to manage availability and customer expectations effectively.\n\nThese endpoints are designed to foster a more connected experience between tour and activity operators and their customers by simplifying the booking process through automation and integration. This ensures that businesses can focus more on providing an exceptional service experience, while the logistical aspects of bookings are handled efficiently through the API.\n\n**Things to Note:**\n* Orders:\n    * Orders are a way of grouping collections of bookings so that they can be created or cancelled as a block.\n    * A booking can belong to an order, but it doesn't have to. An order can include any number of bookings.\n    * When `order` is not `null`, `order` is an object that provides the following property:\n        * `display_id`: `string`  - A unique identifier for the order.\n    * See [Orders](#tag/Orders) to learn more about creating and retrieving orders.\n"
    },
    {
      "name": "Checkin Endpoints",
      "description": "\nThe check-in endpoints in the FareHarbor API provide essential capabilities for managing the check-in processes efficiently and seamlessly. These endpoints are crucial for businesses in the tour and activity sector, as they allow for real-time, automated check-in operations through integrated systems.\n\nKey functionalities offered by the check-in endpoints include:\n\n* **Checking In Participants:** Automates the process of marking customers as present for an activity, streamlining operations and reducing manual errors.\n* **Listing Check-In Status:** Provides the ability to pull information on who has checked in and who hasn't, ensuring staff are well-informed and can make necessary arrangements.\n* **Updating Check-In Records:** Supports modifications to check-in records, which can be crucial for managing late arrivals or last-minute changes in customer plans.\n* **Integration with Scanning Devices:** Some endpoints are designed to work with barcode or QR code scanning devices to facilitate faster and more reliable check-in procedures.\n\nIntegrating these check-in endpoints into business systems helps in providing a smoother and more efficient customer service experience, minimizing wait times, and allowing staff to focus on customer interaction rather than manual check-in processes. By leveraging these APIs, businesses can enhance operational efficiency and improve customer satisfaction.\n"
    },
    {
      "name": "Company Endpoints",
      "description": "\nThe Company endpoints in the FareHarbor API provide robust functionalities for accessing and managing information related to companies that offer tours and activities. These endpoints are crucial for developers who need to integrate company-specific data into their applications, ensuring that users have up-to-date and detailed information about the services they are interested in.\n\nKey functionalities offered by the Company endpoints include:\n* **Retrieving Company Information:** Enables access to detailed information about a company, including its description, contact details, and available locations. This is vital for providing comprehensive data to users looking to book activities or tours.\n* **Listing Services Offered:** Allows for the enumeration of all services and activities offered by a company, which is essential for users to find and book relevant offerings.\n* **Accessing Operational Details:** Provides insights into the operational aspects of a company, such as business hours, peak times, and special events, assisting in better planning and resource management.\n\nThese endpoints serve as a critical connection between companies in the tour and activity sectors and their potential customers, facilitating seamless information sharing and service discovery. By leveraging these API endpoints, businesses can offer enriched, detailed, and updated data to users, which enhances transparency and trust while promoting ease of access to company offerings.\n"
    },
    {
      "name": "Items Endpoints",
      "description": "\nThe Items endpoints in the FareHarbor API provide comprehensive access to detailed information about the various activities and services offered by a company. These endpoints are essential for any application that needs to integrate, display, or manage bookings for specific items or activities within a company's portfolio.\n\nKey functionalities offered by the Items endpoints include:\n* **Retrieving Item Details:** Facilitates access to in-depth information about each item, including descriptions, pricing, availability, and any special requirements or features associated with the item.\n* **Listing All Items:** Allows users to obtain a list of all available items offered by a company, making it easier to browse and select suitable options based on preferences and requirements.\n* **Item Availability:** Provides endpoints to check the availability of items, helping to ensure that the booking process is up-to-date and accurate, preventing overbookings and scheduling conflicts.\n* **Customizable Responses:** Supports filtering and customization of the data returned, enabling developers to tailor the API responses to specific needs and ensure that the integration feels native to the application.\n\nBy integrating these Items endpoints, developers can enhance their applications with powerful, real-time access to activity data, ensuring that users receive a seamless, accurate, and engaging booking experience. This integration is crucial for facilitating efficient and effective interactions between customers and tour or activity providers.\n"
    },
    {
      "name": "Crew Members Endpoints",
      "description": "\nThe Crew Members endpoints in the FareHarbor API provide comprehensive functionality for managing crew assignments on availabilities. These endpoints allow you to assign, update, and remove crew members from specific availability slots, ensuring proper staffing and crew coordination for tours and activities.\n\nKey functionalities offered by the Crew Members endpoints include:\n* **Listing Crew Members:** Retrieve all crew members currently assigned to a specific availability, including their roles and notes.\n* **Adding Crew Members:** Assign users to availabilities as crew members with optional role assignments and notes.\n* **Updating Crew Members:** Modify existing crew member assignments, specifically changing roles or updating notes.\n* **Removing Crew Members:** Remove crew members from availabilities when they are no longer needed.\n\nThese endpoints are essential for tour operators who need to manage staffing levels, assign specific roles to crew members, and maintain clear communication about crew responsibilities through notes and role assignments.\n"
    },
    {
      "name": "Users Endpoints",
      "description": "\nThe Users endpoints provide access to user information within the context of company operations, specifically for crew management purposes.\n"
    },
    {
      "name": "Roles Endpoints",
      "description": "\nThe Roles endpoints provide access to role definitions within companies, enabling structured crew member assignments with specific responsibilities and permissions.\n"
    },
    {
      "name": "Lodging Endpoints",
      "description": "\nWith our `/lodgings` endpoints our API Partners are able to retrieve our charters’ lodging options, both on a dashboard level as well as on the availability level, and offer these for customers to choose from when creating a booking.\n"
    },
    {
      "name": "Affiliates And Integrations",
      "description": "\nRead about the robust network and capabilities that FareHarbor offers through its affiliate networks and integrations, facilitating enhanced services and operations for different user types.\n\n## For Affiliates\n\nAvailable Integrations:\n* **FHDN API:** Learn more about our distribution network [here](https://fareharbor.com/scale/distribution-network/fareharbor-distribution-network/)\n* **Inventory Access:** Affiliates can access real-time inventory across diverse operators.\n  - Access companies items & availabilities \n  - Check customers in via QR codes\n  - Provide lodging & transportation options\n* **Booking Capabilities:** Direct booking functionalities integrated into affiliate platforms.\n  - Create bookings for customers\n  - Update bookings \n  - Collect custom fields for unique business requirements \n\n## For Software Partners\n\nTo learn more about software partners visit [here](https://compass.fareharbor.com/partners/software/).\n\nConnected Software Partners: \n* **CRM Systems:** \n  - Call Centers & Automated Inbound Calling\n  - Web Chats\n  - Review Management \n    - Podium\n    - Yonder\n* **Marketing Tools:** \n  - SMS Marketing\n  - Digital Marketing\n    - Sojern\n    - TourisSolved\n  - EMail Marketing\n    - TourAdvantage\n    - Mailchimp\n* **Customer Experience Tools:** \n  - Advanced Ticketing\n    - Datatrax\n  - Waivers\n    - Wherewolf\n    - Smartwaiver\n  - Photos\n    - Fotaflo \n    - PicThrive\n  - Turnstiles\n    - Alvarado\n  - Boat Insurance\n    - Buoy \n* **Other Software Partners:** \n  - Independent Accounting Solutions\n  - Business Consultants\n  - Escape Rooms\n  - Virtual Reality Management\n"
    },
    {
      "name": "Authentication",
      "description": "\nAn app key and a user key are required to authenticate all requests to\nthe FareHarbor external API.  The app key identifies your application,\nand can be used for all of your affiliates. The user key identifies a specific\nuser on a specific affiliate.\n\nThese keys are in UUID format. Note that these keys *must* be kept private. \nIf your key is disclosed publicly please contact support@fareharbor.com to have it rotated.\n\n## Keys sent as headers (recommended)\n\nThe recommended approach to passing your keys is via the custom headers\n`X-FareHarbor-API-App` and `X-FareHarbor-API-User`.\n\n```\nGET /api/external/v1/companies/ HTTP/1.1\nHost: fareharbor.com\nX-FareHarbor-API-App: APP-KEY\nX-FareHarbor-API-User: USER-KEY\n\n$ curl -H \"X-FareHarbor-API-App: APP-KEY\" -H \"X-FareHarbor-API-User: USER-KEY\" https://fareharbor.com/api/external/v1/companies/\n```\n\n## Requesting Keys\nIf you would like to pursue an integration with the FareHarbor API, please contact strategicpartnerships@fareharbor.com so that we can review your request.\n\nNote that we cannot grant access in all cases.\n"
    },
    {
      "name": "Cancellation Policies",
      "description": "\nIn order for cancellations to be made via API, all connections must be assigned a technical cancellation policy in the supplier’s settings in FareHarbor. As a standard step in the enablement process, we assign the **Default - API** cancellation policy when we set up every new API partner with access to mutual suppliers.\n\n*The Default - API cancellation policy allows for a booking to be canceled up until the availability start time (which are given in company local time). If a cancellation is attempted through the API for a booking after the exact start time of that availability has passed, it will be met with an error.*\n\nThis allows the API partner to set cancellation policies and restrictions in their own system, and  regardless of the cancellation policy agreed to between the API partner and the supplier (ex. 72 hours, 24 hours, 2 hours) our system will always allow the cancellation as long as the start time of that availability has not yet passed. We do this to allow API partners to implement cancellation restrictions on their end and to defer to their policy for when they allow their customer to cancel.\n\n**Grace Period**\n\nRegardless of any cancellation policy, the FareHarbor API will allow the immediate cancellation of a booking if it is requested within 5 minutes.\n\n**Disclaimer**\n\nAPI Partners should discuss and determine the cancellation terms for bookings made in their partnerships with suppliers, and the API Partner should have the ability to enforce them in their integrations. The Default API cancellation policy is intentionally open so that FareHarbor can always facilitate the cancellation and keep the supplier's availabilities up to date, but it should not be interpreted as the supplier’s \"official\" policy. Just because this default setting will technically allow the cancellation request up until the start time does not mean the supplier allows it.\n\n## Understanding Cancellation Policy Fields in the API\n\nCancellation policies are referenced in a few different ways, which we will aim to make clear here.\n\nFirstly, the Default API cancellation policy that we have been describing here is exposed on the **[Detailed Items](#tag/Items-Endpoints/operation/get-items)** endpoint (when `detailed=yes` is specified in the query string) as the `effective_cancellation_policy`. It indicates that the API will allow a cancellation up until 0.0 hours before the start of the availability.\n\nAPI Partners should **not** import this field, as it only reflects the default setting across all integrations and does not reflect the supplier’s preferences or any policy that they have agreed to with the API Partner.\n\nSeparately on the **Items** endpoint you will find the `cancellation_policy` field, where the supplier may input their own cancellation information as text.\n\n```\n\"cancellation_policy\": \"A full refund will be issued if notice is given at least 24 hours before start time.\",\n```\n\nThis is where the supplier may describe their cancellation policies and processes, however it is important to note that this field is not required for suppliers, so it may be blank. It is also important to note that whatever is written in the `cancellation_policy`  field is what suppliers display on their own website - so it is not customized for API Partners.\n\nIf you receive an unexpected `400 booking-cancellation-error` code, you may contact api-support@fareharbor.com to confirm the cancellation settings and see if any changes are needed.\n\n## Items Endpoint\n\nWhen `detailed=yes` is specified as the query string for the items endpoint, an `effective_cancellation_policy` property will be provided for each item that specifies data regarding the effective cancellation policy as shown in the responses to the following endpoints:\n\n* [GET items](#tag/Items-Endpoints/operation/get-items)\n* [GET item](#tag/Items-Endpoints/operation/get-item).\n\nThe `type` property specifies the effective cancellation policy type. The following types are supported:\n\n* `hours-before-start` - bookings are eligible for cancellation some number of hours before availability start time.\n* `hours-before-midnight` - bookings are eligible for cancellation some number of hours before midnight on availability start date.\n* `always` - bookings are eligible for cancellation up until a cutoff that is determined by the availability (usually the availability start time).\n* `never` - bookings are never eligible for cancellation (e.g. no effective cancellation policy, insufficient privileges, cancellation disallowed by policy).\n\nThe `cutoff_hours_before` property specifies the number of hours for the `hours-before-start` and `hours-before-midnight` types. Note: this value can be negative indicating that bookings can be cancelled some number of hours after availability start time (when type is `hours-before-start`) or some number of hours after midnight on availability start date (when type is `hours-before-midnight`). The `cutoff_hours_before` property provides `null` when no cutoff is applicable (when bookings are never eligible for cancellation).\n\n## Availability Endpoints\n\nWhen `detailed=yes` is specified as the query string for the availabilities endpoints, an `effective_cancellation_policy` property is provided for each availability that specifies data regarding the effective cancellation policy as shown in the responses of the following availabilities endpoints:\n\n* [GET availabilities by date](#tag/Availabilities-Endpoints/operation/get-minimal-availabilities-by-date)\n* [GET availabilities by date range](#tag/Availabilities-Endpoints/operation/get-minimal-availabilities-by-date-range)\nThe `type` property specifies the effective cancellation policy type (see the items endpoint section for more details).\n\nThe `cutoff` property specifies the last possible time (ISO8601 timestamp in company local time) bookings are eligible for cancellation. The `cutoff` property provides `null` when no cutoff is applicable (when bookings are never eligible for cancellation).\n\n## Retrieve Booking Endpoint\n\nAn `is_eligible_for_cancellation` and `effective_cancellation_policy` property is provided in the response to the following booking endpoints:\n\n* [GET booking](#tag/Bookings-Endpoints/operation/get-booking)\n* [DELETE booking](#tag/Bookings-Endpoints/operation/delete-booking)\n* [PUT booking note](#tag/Bookings-Endpoints/operation/put-update-booking-note)\n* [POST bookings](#tag/Bookings-Endpoints/operation/post-bookings)\n\nThe `is_eligible_for_cancellation` property provides a boolean value indicating whether the booking is currently eligible for cancellation.\n\nThe `type` property specifies the effective cancellation policy type (see the items endpoint section for more details).\n\nThe `cutoff` property specifies the last possible time (ISO8601 timestamp in company local time) the booking is eligible for cancellation. The `cutoff` property provides `null` when no cutoff is applicable (when the booking is never eligible for cancellation).\n"
    },
    {
      "name": "Custom Fields",
      "description": "\nCustom fields allow an activity company to provide booking options and collect information from their customers during the booking process. For example, scuba companies often use custom fields to collect the height, weight, and shoe size of their customers during the booking process so they can set aside gear that fits properly for a dive.\n\n## Custom Field Instances\n\nA custom field instance represents an available booking option. Details regarding the booking option are specified by the custom field associated with the custom field instance.\n\n## Custom Field Types\n\nThe API currently supports the following custom field types: `short`, `long`, `extended-option`, `yes-no` and `count`.  Values for `short` and `long` custom fields can be any string under 2048 characters.  Values for `extended-option` custom fields must be an `extended_option` pk defined in the `extended_options` property for the custom field.  Values for `yes-no` custom fields must be boolean. Values for `count` custom fields must be an integer. (Email-type custom fields are not supported in the external API due to PII concerns.)\n\n## Customer and Booking Level Custom Fields\n\n`custom_field_instances` under a `customer_type_rate` specify customer level custom fields (i.e. custom fields that are applicable to the `customer_type` specified by the `customer_type_rate`). `custom_field_instances` under an availability specify booking level custom fields (i.e. custom fields that are applicable to the entire booking).\n\n## Priced vs unpriced custom fields\n\n- Priced CFs change the booking price when selected (e.g., a yes/no with a % modifier, or an extended option with a fixed/percentage surcharge/discount).\n- Unpriced CFs do not change price.\n\nDefaulting rules:\n- Unpriced CFs: May be defaulted when omitted from the POST payload, subject to visibility/requirements.\n- Priced CFs: Not auto-defaulted. They only affect price when explicitly included in `custom_field_values`.\n- Required CFs remain required; missing required priced CFs produce a validation error.\n\n## Custom Field Values\n\nBooking custom fields:\n\n  Values for booking custom fields are specified by including a\n  `custom_field_values` property at the root level with the following form:\n\n  * `custom_field_values`: `array`\n    * `custom_field`: `CustomField.pk`\n    * `value`: `string`\n\nIf a custom field is priced, include it explicitly in `custom_field_values` to apply its price; priced defaults are not auto-applied.\n\nCustomer custom fields:\n\n  Values for customer custom fields are specified by including a\n  `custom_field_values` property at the customer level with the following form:\n\n  * `customers`: `array`\n    * `custom_field_values`: `array`\n      * `custom_field`: `CustomField.pk`\n       * `value`: `string`\n\nIf a custom field is priced, include it explicitly in `custom_field_values` to apply its price; priced defaults are not auto-applied.\n\nExample:\n\n    {\n       \"contact\": {\n         \"name\": \"John Doe\",\n         \"phone\": \"+1-415-789-4563\",\n         \"email\": \"johndoe@example.com\"\n       },\n       \"customers\": [\n         {\n           \"customer_type_rate\": 8964453,\n           \"custom_field_values\": [\n             {\n               \"custom_field\": 123,\n               \"value\": \"true\"\n             }                            // priced yes-no\n           ]\n         }\n       ],\n       \"custom_field_values\": [\n         {\n           \"custom_field\": 456,\n           \"value\": \"6745\"                // unpriced\n         }\n       ],\n       \"voucher_number\": \"V-35791209\"\n    }\n\n## Example\n\nConsider the following example availability response (the ellipses represent properties that have been left out for the sake of brevity):\n\n    {\n      \"availabilities\": [\n        {\n          \"start_at\": \"2016-05-10T10:30:00-1000\",\n          \"end_at\": \"2016-05-10T11:00:00-1000\",\n          \"online_booking_status\": \"auto\",\n          \"item\": {\n            \"pk\": 5000,\n            \"name\": \"Glider Rides\"\n          },\n          \"pk\": 9999,\n          \"customer_type_rates\": [\n            {\n              \"pk\": 555,\n              \"customer_type\": {\n                \"pk\": 1111,\n                \"plural\": \"Scenic Ride (1 passenger)\",\n                \"singular\": \"Scenic Ride (1 passenger)\"\n              },\n              \"custom_field_instances\": [\n                {\n                  \"pk\": 4321,\n                  \"custom_field\": {\n                    \"pk\": 1,\n                    \"type\": \"yes-no\",\n                    \"name\": \"Add an extra 30 minutes of flight time?\",\n                    ...\n                  },\n                  ...\n                },\n                ...\n              ],\n              ...\n            },\n            ...\n          ],\n          \"custom_field_instances\": [\n            {\n              \"pk\": 1234,\n              \"custom_field\": {\n                \"pk\": 2,\n                \"type\": \"short\",\n                \"name\": \"Hotel and Room Reservation Name\",\n                ...\n              }\n            },\n            ...\n          ],\n          ...\n        },\n        ...\n      ]\n    }\n\n### Customer Level Custom Field\n\nThe custom field in the above example with `pk` 1 is a customer level custom field. It is a `yes-no` type custom field, so it accepts true/false values.\n\n### Booking level Custom Field\n\nThe custom field in the above example with `pk` 2 is a booking level custom field.  It is a `short` type custom field, so it accepts any string value (less than 2048 characters).\n\n### Booking Creation\n\nThe example data below shows how one specifies custom field values for customer level custom fields (`pk` 1) and booking level custom fields (`pk` 2) when creating a booking.\n\n    {\n      \"voucher_number\": \"123\",\n      \"customers\": [\n        {\n          \"custom_field_values\": [\n            {\n              \"custom_field\": 1,\n              \"value\": true\n            }\n          ],\n          \"customer_type_rate\": 555\n        }\n      ],\n      \"contact\": {\n        \"phone\": \"+1-123-456-7890\",\n        \"name\": \"John Doe\",\n        \"email\": \"johndoe@example.com\"\n      },\n      \"custom_field_values\": [\n        {\n          \"custom_field\": 2,\n          \"value\": \"Hawaiian Village Waikiki Beach Resort Room 415\"\n        }\n      ]\n    }\n"
    },
    {
      "name": "Data Types",
      "description": "\n# Fields\n\n\n## Markdown fields\n\nMany of the fields returned by the API contain user-defined Markdown.\nWe also return the rendered HTML version of the field.  In the following\nschemas, fields of type `markdown` actually contain a `string`, and imply\na second field in the schema containing the rendered HTML.  So the following:\n\n* `field`: `markdown`\n\nShould be treated as if it were:\n\n* `field`: `string`\n* `field_safe_html`: `string`\n\nThe \"safe\" part of the field name indicates that only a limited subset\nof HTML is allowed; all other HTML entities are escaped.\n## Amount fields\n\nAll currency amounts are returned as an integer number of the smallest\nnegotiable unit of money in the company's currency. In the case of\nUSD, this means USD cents. So, for instance, `1425` means $14.25 USD.\n\nSome amount fields may have corresponding fields whose names are\nsuffixed with `_display`. These fields will contain strings\nrepresenting the same amount of money, but using the customary\nformatting for the company's country. For instance, in the case of\nUS/USD, this will be the string `14.25`. Note that some countries may\nuse a comma rather than a period as the decimal point.\n\n* `field`: `number`\n* `field_display`: `string`\n## Datetime fields\n\nAll datetimes are returned in ISO8601 format; for example `2013-02-04T06:21:36+0000`\n\n* `field`: `string`\n\n# Schemas\n\n\n## Address\n\nStructured address data.\n\n* `city`: `string`\n\n* `country`: `string`\n\n* `postal_code`: `string`\n\n* `province`: `string`\n\n* `street`: `string`\n\nExample:\n\n    {\n      \"city\": \"Honolulu\",\n      \"country: \"US\",\n      \"postal_code\": \"96821\",\n      \"province\": \"HI\",\n      \"street\": \"123 Wailupe Cir\"\n    }\n## Company\n\n### Minimal Representation\n\nA `Company` object represent an affiliate or provider.\n\n* `shortname`: `string`\n\n  The company's ID.\n\n* `name`: `string`\n\n  The company's name.\n\n* `currency`: `string`\n\n  The company's currency.\n\nExample:\n\n    {\n      \"shortname\": \"hawaiianadventures\",\n      \"name\": \"Hawaiian Adventures\",\n      \"currency\": \"usd\"\n    }\n\n### Extended Representation\n\nThe extended representation provides additional information about the company (see below).\n\n* `about`: `markdown`\n\n  About page content for the company.\n\n* `booking_notes`: `markdown`\n\n  General notes for booking customers.\n\n* `faq`: `markdown`\n\n  FAQ page content for the company.\n\n* `intro`: `markdown`\n\n  Homepage content for the company.\n\n* `summary`: `string`\n\n  A short tagline or summary for the company.\n\n* `url`: `string`\n\n  The company's website address.\n\n* `facebook_url`: `string`\n\n  The company's Facebook address.\n\n* `instagram_url`: `string`\n\n  The company's Instagram address.\n\n* `tripadvisor_url`: `string`\n\n  The company's TripAdvisor address.\n\n* `twitter_url`: `string`\n\n  The company's Twitter address.\n\n* `yelp_url`: `string`\n\n  The company's Yelp address.\n\n* `youtube_url`: `string`\n\n  The company's Youtube address.\n\n* `pinterest_url`: `string`\n\n  The company's Pinterest address.\n\n* `address`: `Address`\n\n  The company's physical address.\n\n* `affiliated_since`: `datetime`\n\n  If the API user’s company is an affiliate, then we will see a timestamp of when the relationship started.\n\n* `billing_address`: `Address`\n\n  The company's billing address.\n\n* `health_and_safety_policy`: `markdown`\n\n  The company's health and safety policy. This is supplemental to the item level `health_and_safety_policy` field, and is only displayed on the FareHarbor Dashboard if the specific item does not have a value for `health_and_safety_policy` set.\n\n* `open_hours`: `object | null`\n\n  Represents the company's general opening and closing times. Used for general company information or for context for all-day availabilities, but should not be used in place of specific availability start and end times.\n\n  If open hours have been set for this company, then `open_hours` is an object whose keys are names of days of the week. The value for each day is either `null`, if the company is closed that day; or an object whose keys are `open_time` and `close_time`, which specify the open time and close time that day in 24-hour HH:MM format.\n\n  Otherwise, `open_hours` will be `null`.\n\nExample:\n\n    {\n      \"company\": {\n        \"shortname\": \"hawaiianadventures\",\n        \"name\": \"Hawaiian Adventures\",\n        \"currency\": \"usd\",\n        \"about\": \"Hawaiian Adventures offers several water activities that you are sure to enjoy.\",\n        \"about_safe_html\": \"<p>Hawaiian Adventures offers several water activities that you are sure to enjoy.</p>\",\n        \"booking_notes\": \"Weather conditions will be evaluated at the time of check-in.\\n\\n-If using a voucher, please bring the voucher with you.\",\n        \"booking_notes_safe_html\": \"<p>Weather conditions will be evaluated at the time of check-in.\\n\\n-If using a voucher, please bring the voucher with you.</p>\",\n        \"faq\": \"# What should I bring?\\n\\nWe suggest that you bring a swimming suit, a towel, and sunscreen.\",\n        \"faq_safe_html\": \"<h1>What should I bring?</h1>\\n<p>We suggest that you bring a swimming suit, sunscreen, and a towel.</p>\",\n        \"intro\": \"We offer the best water activities on Oahu\",\n        \"intro_safe_html\": \"<p>We offer the best water activities on Oahu</p>\",\n        \"summary\": \"Water activities 365 days a year\",\n        \"url\": \"https://company-url.com\",\n        \"facebook_url\": \"https://facebook.com/url\",\n        \"instagram_url\": \"https://instagram.com/url\",\n        \"tripadvisor_url\": \"https://tripadvisor.com/url\",\n        \"twitter_url\": \"https://twitter.com/url\",\n        \"yelp_url\": \"https://yelp.com/url\",\n        \"youtube_url\": \"https://youtube.com/url\",\n        \"pinterest_url\": \"https://pintrest.com/url\",\n        \"address\": {\n          \"city\": \"Honolulu\",\n          \"country\": \"US\",\n          \"postal_code\": \"96821\",\n          \"province\": \"HI\",\n          \"street\": \"123 Wailupe Cir\"\n        },\n        'affiliated_since': '2020-06-17T15:44:03+0000',\n        \"billing_address\": {\n          \"city\": \"Honolulu\",\n          \"country\": \"US\",\n          \"postal_code\": \"96821\",\n          \"province\": \"HI\",\n          \"street\": \"123 Wailupe Cir\"\n        },\n        \"health_and_safety_policy\": \"Your health is our top priority, and we have put special measures in place to keep all guests safe both during and after your activity.\\n\\n* Stringent Cleaning – We've increased the frequency of disinfecting surfaces and high touch areas.\\n* Social Distancing – Guests are required to stay 6 feet apart.\\n* Wellness Checks – Employees receive daily wellness checks to ensure they are healthy and symptom-free.\",\n        \"health_and_safety_policy_safe_html\": \"<p>Your health is our top priority, and we have put special measures in place to keep all guests safe both during and after your activity.</p>\\n<ul>\\n<li>Stringent Cleaning – We've increased the frequency of disinfecting surfaces and high touch areas.</li>\\n<li>Social Distancing – Guests are required to stay 6 feet apart.</li>\\n<li>Wellness Checks – Employees receive daily wellness checks to ensure they are healthy and symptom-free.</li>\\n</ul>\",\n        \"open_hours\": {\n          \"monday\": {\n            \"open_time\": \"10:00\",\n            \"close_time\": \"17:00\"\n          },\n          \"tuesday\": {\n            \"open_time\": \"10:00\",\n            \"close_time\": \"17:00\"\n          },\n          \"wednesday\": {\n            \"open_time\": \"10:00\",\n            \"close_time\": \"17:00\"\n          },\n          \"thursday\": {\n            \"open_time\": \"10:00\",\n            \"close_time\": \"17:00\"\n          },\n          \"friday\": {\n            \"open_time\": \"10:00\",\n            \"close_time\": \"17:00\"\n          },\n          \"saturday\": null,\n          \"sunday\": null\n        }\n      }\n    }\n\n## Agent\n\n* `pk`: `number`\n\n  The agent's unique ID.\n\n* `name`: `string`\n\n  The agent's name.\n\n\nExample:\n\n    {\n      \"pk\": 231,\n      \"name\": \"Eddie\"\n    }\n## Desk\n\n* `pk`: `number`\n\n  The desk's unique ID.\n\n* `name`: `string`\n\n  The desk's name.\n\n\nExample:\n\n    {\n      \"pk\": 231,\n      \"name\": \"Windward Side\"\n    }\n## Lodging\n\n* `pk`: `number`\n\n  The lodging's unique ID.\n\n* `name`: `string`\n\n  The Lodging's name.\n\n* `phone`: `string`\n\n  The lodging's phone number.\n\n* `address`: `string`\n\n  The lodging's address.\n\n* `url`: `string`\n\n  The lodging's URL.\n\n* `is_self_lodging`: `bool`\n\n  Whether the lodging is a customer provided, non-hotel lodging (e.g. private residence).\n\nExample:\n\n    {\n      \"pk\": 231,\n      \"name\": \"Wyndham Royal Garden\",\n      \"phone\": \"(808) 943-0202\",\n      \"address\": \"440 Olohana St Honolulu, HI 96815\",\n      \"url\": \"https:\\/\\/www.extraholidays.com\\/honolulu-hawaii\\/royal-garden-at-waikiki.aspx\",\n      \"is_self_lodging\": false\n    }\n\n## Image\n\n* `pk`: `number`\n\n  The image's unique ID.\n\n* `gallery`: `string`\n\n  The image's gallery name.\n\n* `image_cdn_url`: `string`\n\n  The image's URL.\n\nExample:\n\n    {\n      \"pk\": 687,\n      \"gallery\": \"carousel\",\n      \"image_cdn_url\": \"https:\\/\\/d1a2dkr8rai8e2.cloudfront.net\\/api\\/file\\/rvybRyLWTgyV5w4xg42p\\/\"\n    }\n\n## Location\n\n* `pk`: `number`\n\n  The location's unique ID.\n\n* `type`: `string`\n\n  The location's type.\n\n* `note`: `markdown`\n\n  A brief note about this location that can be displayed to end users.\n\n* `address`: `Address`\n\n  The location's physical address.\n\n* `longitude`: `number | null`\n\n  The location's longitude.\n\n* `latitude`: `number | null`\n\n  The location's latitude.\n\n* `google_place_id`: `string`\n\n  The location's Google Place ID.\n\n* `tripadvisor_url`: `string`\n\n  The location's TripAdvisor URL.\n\nExample:\n\n    {\n      \"pk\": 234234,\n      \"type\": \"primary\",\n      \"note\": \"Next to the blue fence.\",\n      \"note_safe_html\": \"<p>Next to the blue fence.</p>\",\n      \"address\": {\n        \"city\": \"Honolulu\",\n        \"country\": \"US\",\n        \"postal_code\": \"96821\",\n        \"province\": \"HI\",\n        \"street\": \"123 Wailupe Cir\"\n      },\n      \"longitude\": 21.3069,\n      \"latitude\": -157.8583,\n      \"google_place_id\": \"ChIJYZ4srGUSAHwRT1Da4amp3x\",\n      \"tripadvisor_url\": \"https://www.tripadvisor.com/Attraction_Review-g60982-d184886-Reviews-Epic_Jet_Ski_Tour-Honolulu_Oahu_Hawaii.html\",\n    }\n## Cancellation Policy\n\n* `type`: `string`\n\n  The cancellation policy's type. Supported types:\n\n  * `hours-before-start`\n\n      Bookings are eligible for cancellation some number of hours before availability start time.\n\n  * `hours-before-midnight`\n\n      Bookings are eligible for cancellation some number of hours before midnight on availability start date.\n\n  * `always`\n\n      Bookings are eligible for cancellation up until a cutoff that is determined by the availability (usually the availability start time).\n\n  * `never`\n\n      Bookings are never eligible for cancellation (e.g. no effective cancellation policy, insufficient privileges, cancellation disallowed by policy).\n\n* `cutoff_hours_before`: `number`\n\n  The number of hours for the `hours-before-start` and `hours-before-midnight` types.\n\n  Note: this value can be negative indicating that bookings can be cancelled some number of hours after availability start time (when type is `hours-before-start`) or some number of hours after midnight on availability start date (when type is `hours-before-midnight`). The `cutoff_hours_before` property will provide `null` when no cutoff is applicable (when bookings are never elgible for cancellation).\n\nExample:\n\n    {\n      \"type\": \"hours-before-start\",\n      \"cutoff_hours_before\": \"24\"\n    }\n## Tag\n\n* `name`: `string`\n\n  The tag's display name.\n\n* `short_name`: `string`\n\n  The tag's short name. The short name is unique per company and is limited to lowercase letters (a-z), digits (0-9), and the dash character.\n\nExample:\n\n    {\n      \"name\": \"Jet ski tour\",\n      \"short_name\": \"jet-ski-tour\"\n    }\n## Item\n\nItems represent a particular kind of tour that the company offers.\n\n* `pk`: `number`\n\n  The item's unique ID.\n\n* `name`: `string`\n\n  The name of the item.\n\n* `headline`: `string`\n\n  The item's headline.\n\n* `description`: `markdown`\n\n  The item's description.\n\n* `description_text`: `string`\n\n  The item's plain-text description.\n\n* `description_bullets`: `[ string ]`\n\n  An array containing plain-text descriptive bullet points for the item.\n\n* `cancellation_policy`: `markdown`\n\n  The item's cancellation policy.\n\n* `location`: `string`\n\n  The location of the item; generally where the activity takes place\n  or where the tour leaves from, but can be anything. Unstructured.\n\n* `locations`: `[ Location ]`\n\n  An array of `Location` objects associated with the item.\n\n* `is_pickup_ever_available`: `bool`\n\n  Indicates whether the item is configured to provide pickups.\n\n* `image_cdn_url`: `string`\n\n  A URL to the item's primary image.\n\n* `images`: `[ Image ]`\n\n  An array of `Image` objects associated with the item.\n\n* `customer_prototypes`: `[ CustomerPrototype ]`\n\n  An array of `CustomerPrototype` objects associated with the item.\n\n* `health_and_safety_policy`: `markdown`\n\n  The item's health and safety policy. It includes details and procedures related to specific activities for the item like the precautions being taken, equipment to bring, and any additional special rules.\n\nExample:\n\n    {\n      \"pk\": 1867,\n      \"name\": \"Jet Ski Tour\",\n      \"headline\": \"Epic Jet Ski Tour\",\n      \"description\": \"We are conveniently located just 5 minutes from Waikiki and will arrange for pickup\\/dropoff at or near your hotel.\",\n      \"description_safe_html\": \"\\u003cp\\u003eWe are conveniently located just 5 minutes from Waikiki and will arrange for pickup\\/dropoff at or near your hotel.\\u003c\\/p\\u003e\",\n      \"description_text\": \"We are conveniently located just 5 minutes from Waikiki and will arrange for pickup\\/dropoff at or near your hotel.\",\n      \"description_bullets\": [\n        \"Located just 5 minutes from Waikiki.\",\n        \"Transportation included.\"\n      ],\n      \"cancellation_policy\": \"A full refund will be issued if notice is given at least 24 hours before start time.\",\n      \"cancellation_policy_safe_html\": \"\\u003cp\\u003eA full refund will be issued if notice is given at least 24 hours before start time.\\u003c\\/p\\u003e\",\n      \"location\": \"Honolulu, HI\",\n      \"locations\": [\n        {\n          \"pk\": 234234,\n          \"type\": \"primary\",\n          \"note\": \"Next to the blue fence.\",\n          \"note_safe_html\": \"<p>Next to the blue fence.</p>\",\n          \"address\": {\n            \"city\": \"Honolulu\",\n            \"country\": \"US\",\n            \"postal_code\": \"96821\",\n            \"province\": \"HI\",\n            \"street\": \"123 Wailupe Cir\"\n          },\n          \"longitude\": 21.3069,\n          \"latitude\": -157.8583,\n          \"google_place_id\": \"ChIJYZ4srGUSAHwRT1Da4amp3x\",\n          \"tripadvisor_url\": \"https://www.tripadvisor.com/Attraction_Review-g60982-d184886-Reviews-Epic_Jet_Ski_Tour-Honolulu_Oahu_Hawaii.html\",\n        }\n      ],\n      \"is_pickup_ever_available\": true,\n      \"image_cdn_url\": \"https:\\/\\/d1a2dkr8rai8e2.cloudfront.net\\/api\\/file\\/rvybRyLWTgyV5w4xg42p\\/\",\n      \"images\": [\n        {\n          \"pk\": 687,\n          \"gallery\": \"carousel\",\n          \"image_cdn_url\": \"https:\\/\\/d1a2dkr8rai8e2.cloudfront.net\\/api\\/file\\/rvybRyLWTgyV5w4xg42p\\/\"\n        }\n      ],\n      \"customer_prototypes\": [\n        {\n          \"pk\": 2522,\n          \"display_name\": \"Adult\",\n          \"total\": 20000\n        }\n      ],\n      \"health_and_safety_policy\": \"Every lifejacket and seat is thoroughly disinfected both before and after each tour.  Hand sanitizer is available to all guests prior to boarding, during the tour, and after debarking the boat.\",\n      \"health_and_safety_policy_safe_html\": \"<p>Every lifejacket and seat is thoroughly disinfected both before and after each tour.  Hand sanitizer is available to all guests prior to boarding, during the tour, and after debarking the boat.</p>\"\n    }\n\n### Item Details\n\nWhen `detailed=yes` is specified as the query string for the items endpoint, additional details are provided for each item.\n\n* `effective_cancellation_policy`: `CancellationPolicy`\n\n  Cancellation policy data for the item.\n\n* `tags`: `[ Tag ]`\n\n  An array of `Tag` objects associated with the item.\n\nExample:\n\n    {\n      \"pk\": 1867,\n      \"effective_cancellation_policy\": {\n        \"type\": \"hours-before-start\",\n        \"cutoff_hours_before\": 24\n      },\n      \"tags\": [\n        {\n          \"name\": \"Jet ski tour\",\n          \"short_name\": \"jet-ski-tour\"\n        },\n        {\n          \"name\": \"Water activity\",\n          \"short_name\": \"water-activity\"\n        },\n        {\n          \"name\": \"Transportation included\",\n          \"short_name\": \"transportation\"\n        },\n        ...\n      ],\n      ...\n    }\n\n## Customer Type\n\nCustomer types represent different kinds of customers that might do an activity, for\nexample \"Adults\", \"Children\", \"Infants\". Note however that FareHarbor companies use\ncustomer types to represent a range of different sorts of customers; for instance,\nsome SCUBA companies use types like \"Diver\", \"Snorkeler\", and \"Observer\".\n\n* `pk`: `number`\n\n  The customer type's unique ID.\n\n* `singular`: `string`\n* `plural`: `string`\n\n  The singular and plural forms of the name of this customer type; ex. \"adult\", \"adults\".\n\n* `note`: `string`\n\n  A brief note about this customer type that can be displayed to end users.\n\nExample:\n\n    {\n      \"pk\": 589,\n      \"singular\": \"Adult\",\n      \"plural\": \"Adults\",\n      \"note\": \"At least 18 years old.\"\n    }\n## Customer Prototype\n\n* `pk`: `number`\n\n  The customer prototype's unique ID.\n\n* `display_name`: `string`\n\n  The customer prototype's display name.\n\n* `total`: `amount`\n\n  The price of a single customer of this type.\n\n* `total_including_tax`: `amount`\n\n  The price of a single customer of this type plus applicable taxes.\n\nExample:\n\n    {\n      \"pk\": 2522,\n      \"display_name\": \"Adult\",\n      \"total\": 20000,\n      \"total_including_tax\": 21550\n    }\n\n## Customer Type Rate\n\nCustomer type rates set capacity and pricing information for customer types on\na particular availability.\n\n### Minimal Representation\n\n* `pk`: `number`\n\n  The customer type rate's unique ID.\n\n* `customer_type`: `CustomerType`\n\nThe customer type being priced.\n\n* `capacity`: `number`\n\n  The maximum number of customers of this type that can currently book this availability;\n  this number will change over time as other customers book.\n\n* `is_exclusive`: `bool`\n\n  Indicates that this customer type rate is \"exclusive\"; see below for how exclusivity\n  affects bookability.\n\nExample:\n\n    {\n      \"pk\": 978,\n      \"capacity\": 10,\n      \"is_exclusive\": false,\n      \"customer_type\": {\n        \"pk\": 589,\n        \"singular\": \"Adult\",\n        \"plural\": \"Adults\",\n        \"note\": \"At least 18 years old.\",\n        \"customer_prototype\": {\n          \"pk\": 2522,\n          \"display_name\": \"Adult\",\n          \"total\": 20000,\n          \"total_including_tax\": 21550\n        }\n      }\n    }\n\n### Extended Representation\n\nThe extended representation provides additional information about the customer type rate (see below).\n\n* `total`: `amount`\n\n  The price of a single customer of this type.\n\n* `total_including_tax`: `amount`\n\n  The price of a single customer of this type plus applicable taxes.\n\n* `custom_field_instances`: `[ CustomFieldInstance ]`\n\n  A list of custom field instances for the customer type rate.\n\nExample:\n\n    {\n      \"pk\": 978,\n      \"total\": 20000,\n      \"total_including_tax\": 21550,\n      \"capacity\": 10,\n      \"is_exclusive\": false,\n      \"customer_type\": {\n        \"pk\": 589,\n        \"singular\": \"Adult\",\n        \"plural\": \"Adults\",\n        \"note\": \"At least 18 years old.\",\n        \"customer_prototype\": {\n          \"pk\": 2522,\n          \"display_name\": \"Adult\",\n          \"total\": 20000,\n          \"total_including_tax\": 21550\n        }\n      },\n      \"custom_field_instances\": [\n        {\n          \"pk\": 8629,\n          \"custom_field\": {\n            \"pk\": 43879,\n            \"type\": \"yes-no\",\n            ...\n          }\n        }\n      ]\n    }\n## Cost\n\nA cost object represents the different facets that might have an impact on how\nindividual line items affect the price of a booking, such as taxes, fees, etc.\n\n* `price`: `number`\n\n  The line item price.\n\n* `tax`: `number`\n\n  The tax price.\n\n* `taxable`: `number`\n\n  The portion of the price that is subject to taxes.\n\n* `feeable`: `number`\n\n  The portion of the price the is subject to fees.\n\n* `tax_by_type`:\n\n  A breakdown of taxes by tax type.\n\n* `total`: `number`\n\n  The total cost after taxes and fees.\n\nExample:\n\n    \"total_cost\": {\n      \"price\": 38900,\n      \"tax\": 0,\n      \"taxable\": 38900,\n      \"feeable\": 38900,\n      \"tax_by_type\": {\n        53558: 0\n      },\n      \"total\": 38900\n    }\n## Availability\n\nAvailability objects represent particular datetimes that an item goes out.\n\n### Minimal Representation\n\n* `pk`: `number`\n\n  The availabilities's unique ID.\n\n* `start_at`: `datetime`\n* `end_at`: `datetime`\n\n  The availability's start and end time; note that this time can be arbitrarily long or short,\n  and that `start_at` can equal `end_at` for \"point\" availabilities.\n\n* `capacity`: `number`\n\n  The overall maximum number of customers that can currently book this availability;\n  this number will change over time as other customers book.\n\n* `customer_type_rates`: `[ CustomerTypeRate ]`\n\n  Pricing information for available customer types (minimal version).\n\n* `online_booking_status`: `string`\n\n  The availability's status. Supported types: `auto`, `open`, `call`, `closed`, `cancelled`.\n\nExample:\n\n    {\n      \"pk\": 50291151,\n      \"start_at\": \"2023-08-18T00:30:00-0600\",\n      \"end_at\": \"2023-08-18T03:30:00-0600\",\n      \"capacity\": 3,\n      \"minimum_party_size\": 1,\n      \"maximum_party_size\": null,\n      \"online_booking_status\": \"auto\",\n      \"customer_type_rates\": [\n        {\n          \"pk\": 65675,\n          \"capacity\": 10,\n          \"customer_type\": {\n            \"pk\": 978,\n            \"singular\": \"Adult\",\n            \"plural\": \"Adults\",\n            \"note\": \"At least 18 years old.\",\n            \"customer_prototype\": {\n              \"pk\": 2522,\n              \"display_name\": \"Adult\",\n              \"total\": 20000\n            }\n          }\n        }\n      ]\n    }\n\n### Extended Representation\n\nThe extended representation provides additional information about the availability (see below).\n\n* `item`: `Item`\n\n  The availability's item (minimal version).\n\n* `headline`: `string`\n\n  The availability's headline.\n\n* `customer_type_rates`: `[ CustomerTypeRate ]`\n\n  Pricing information for available customer types (extended version).\n\n* `custom_field_instances`: `[ CustomFieldInstance ]`\n\n  A list of custom field instances for the availability.\n\nExample:\n\n    {\n      \"pk\": 4786,\n      \"start_at\": \"2015-01-22T11:30:00-1000\",\n      \"end_at\": \"2015-01-22T13:30:00-1000\",\n      \"capacity\": 10,\n      \"item\": {\n        \"pk\": 1867,\n        \"name\": \"Jet Ski Tour\"\n      },\n      \"headline\": \"Epic Jet Ski Tour\",\n      \"customer_type_rates\": [\n        {\n          \"pk\": 65675,\n          \"total\": 20000,\n          \"capacity\": 10,\n          \"customer_type\": {\n            \"pk\": 978,\n            \"singular\": \"Adult\",\n            \"plural\": \"Adults\",\n            \"note\": \"At least 18 years old.\",\n            \"customer_prototype\": {\n              \"pk\": 2522,\n              \"display_name\": \"Adult\",\n              \"total\": 20000\n            },\n            \"custom_field_instances\": [\n              {\n                \"pk\": 8629,\n                \"custom_field\": {\n                  \"pk\": 43879,\n                  \"type\": \"yes-no\",\n                  ...\n                }\n              }\n            ]\n          }\n        }\n      ],\n      \"custom_field_instances\": [\n        {\n          \"pk\": 47974,\n          \"custom_field\": {\n            \"pk\": 3387,\n            \"type\": \"yes-no\",\n            ...\n          }\n        }\n      ]\n    }\n\n## Order\n\nOrders are a way of grouping collections of bookings so that they can be created or cancelled as a block.\n\nA booking can belong to an order, but it doesn't have to. An order can include any number of bookings.\n\n* `display_id`: `string`\n\n  A unique identifier for the order.\n\nExample:\n\n    {\n      \"display_id\": \"ABTT\"\n    }\n## Booking\n\nWhen `with_payments=yes` is specified as a query string to the bookings endpoint, the payment information is provided for the booking. The `payments` parameter will be the same as the `payments` in webhooks that can be found [here](#tag/Webhooks/Webhook-Schemas/Booking-with-Payments).\n\n* `pk`: `number`\n\n  The booking's unique ID.\n\n* `uuid`: `string`\n\n  The booking's universally unique identifier; used to access the booking via the API.\n\n* `display_id`: `string`\n\n  The customer's \"ticket number;\" used only for rendering.\n\n* `availability`: `Availability`\n\n  The availability to which this booking corresponds.\n\n* `contact`: `Contact`\n\n  Contact information for this booking.  A contact consists of:\n\n    * `name`: `string`\n\n        The name of the head of the party.\n\n    * `phone`: `string`\n\n        The contact phone number for the party.\n\n    * `normalized_phone`: `string`\n\n        The party's contact phone number. This will have a plus sign, the country code, and no extra characters such as commas or dashes.\n\n    * `country_phone`: `string`\n\n        The contact phone's country code.\n\n    * `language`: `string`\n\n        The contact language.\n\n    * `email`: `string`\n\n        The contact email for the party.\n\n    * `is_subscribed_for_email_updates`: `bool`\n\n        Whether or not the contact would like email updates.\n\n* `customers`: `[ Customer ]`\n\n  A list of customers on this booking.  Customers consist of:\n\n    * `checkin_url`: `string`\n\n      A short URL that can be rendered as a QR code for check-in purposes (the QR code should be \"type 4\" with \"error correction H\").\n\n    * `checkin_status`: `CheckinStatus | null`\n\n      The customer's checkin status.  When there is no checkin status associated with the customer, `checkin_status` will be `null`.  When a checkin status is available, it consists of:\n\n        * `name`: `string`\n\n          The checkin status' name.\n\n        * `type`: `string`\n\n          The checkin status' type. Supported types are: `checked-in` and `no-show`.\n\n    * `invoice_cost`: `Cost`\n\n      The `invoice_cost` will be included only if the permission *View invoice\n      prices* is enabled, otherwise it will be `null`.\n\n    * `total_cost`: `Cost`\n\n      The `total_cost` will be included only if the permission *View amounts* is\n      enabled, otherwise it will be `null`.\n\n    * `customer_type_rate`: `CustomerTypeRate`\n\n      The customer type rate to which this customer corresponds.\n\n    * `custom_field_values`: `[ CustomFieldValue ]`\n\n      A list of custom field values for the customer.\n\n* `custom_field_values`: `[ CustomFieldValue ]`\n\n  A list of custom field values for the booking.\n\n* `invoice_price`: `amount | null`\n\n  The invoice price of this booking.  Assuming that the user of the API is a reseller this will\n  be the amount that the user of the API owes the vendor on this booking, if the vendor has opted\n  to set up that information; otherwise it will be `null`.\n\n* `confirmation_url`: `string`\n\n  The booking's confirmation page URL.\n\n* `external_id`: `string`\n\n  An additional identifier if necessary.  Max Length 128.\n\n* `order`: `Order | null`\n\n  When there is no order associated with the booking, `order` will be `null`.\n\n* `dashboard_url`: `string`\n\n  The booking's dashboard URL.\n\n* `customer_count`: `number`\n\n  The number of customers on this booking.\n\n* `is_subscribed_for_sms_updates`: `boolean`\n\n  Whether or not the contact would like the booking company to send them SMS updates about this booking. Note that the value of this field does not reflect whether or not the user has sent a STOP request to FareHarbor. If the user sends a STOP request to an External API client, that API client should respect that request.\n\n* `payments`: `[ Payment ]` (optional through query string)\n\n  Payment information for the booking, only visible through [webhooks](#tag/Webhooks/Webhook-Schemas) or with the `with_payments=yes` query string. If there is no query string, then the `payments` won't show. Payments consist of:\n\n    * `amount_paid`: `amount | null`\n\n      The total amount that has been paid for the booking.\n\n    * `created_at`: `datetime`\n\n      When the payment has been paid for the booking.\n\n    * `currency`: `string`\n\n      The company's currency.\n\n    * `initial_amount_paid`: `amount | null`\n\n      The amount paid when the booking was first created.\n\n    * `refunds`: `Refund | null`\n\n      Refund detail of a booking (if there is a refund).\n\n        * `amount_refunded`: `amount`\n\n          Amount that is refunded.\n\n        * `created_at`: `datetime`\n\n          Datetime of when the refund occured.\n\n        * `is_cancelled`: `boolean`\n\n          Wheter or not the booking was cancelled.\n\n    * `status`: `string`\n\n      Status of the payment for the booking. Supported types are `initialed`, `pending`, `succeeded` and `failed`.\n\n    * `type`: `string`\n\n      What was used to pay for the booking. Supported types are:\n      `card`, `in-store`, `affiliate`, 'stored-value-card`, `ideal`,\n      `sofort`, `paypal`, `bancontact`.\n\nExample:\n\n    {\n      \"pk\": 6876876,\n      \"uuid\": \"d75102be-9732-4523-90a8-c698eff2b983\",\n      \"availability\": {\n        \"pk\": 4786,\n        \"start_at\": \"2015-01-22T11:30:00-1000\",\n        \"end_at\": \"2015-01-22T13:30:00-1000\",\n        \"capacity\": 10,\n        \"online_booking_status\": \"auto\",\n        \"item\": {\n          \"pk\": 1867,\n          \"name\": \"Jet Ski Tour\"\n        },\n        \"customer_type_rates\": [\n          {\n            \"pk\": 65675,\n            \"total\": 20000,\n            \"capacity\": 10,\n            \"is_exclusive\": false,\n            \"customer_type\": {\n              \"pk\": 978,\n              \"singular\": \"Adult\",\n              \"plural\": \"Adults\",\n              \"note\": \"At least 18 years old.\"\"\n            }\n          }\n        ]\n      },\n      \"contact\": {\n        \"name\": \"Surfer Dude\",\n        \"phone\": \"+1-443-222-1100\",\n        \"phone_country\": \"US\",\n        \"normalized_phone\": \"+14432221100\",\n        \"email\": \"surfer@dude.com\"\n      },\n      \"customers\": [\n        {\n          \"checkin_url\": \"https://fhchk.co/abc\",\n          \"checkin_status\": {\n            \"name\": \"checked in\",\n            \"type\": \"checked-in\"\n          },\n          \"invoice_cost\": {\n            \"price\": 20000,\n            \"tax\": 0,\n            \"taxable\": 0,\n            \"feeable\": 20000,\n            \"tax_by_type\": {\n              53558: 0\n            },\n            \"total\": 20000\n          },\n          \"total_cost\": {\n            \"price\": 20000,\n            \"tax\": 0,\n            \"taxable\": 20000,\n            \"feeable\": 20000,\n            \"tax_by_type\": {\n              53558: 0\n            },\n            \"total\": 20000\n          },\n          \"customer_type_rate\": {\n            \"pk\": 65675,\n            \"total\": 20000,\n            \"capacity\": 10,\n            \"is_exclusive\": false,\n            \"customer_type\": {\n              \"pk\": 978,\n              \"singular\": \"Adult\",\n              \"plural\": \"Adults\",\n              \"note\": \"At least 18 years old.\"\"\n            }\n          }\n        },\n        {\n          \"checkin_url\": \"https://fhchk.co/def\",\n          \"checkin_status\": {\n            \"name\": \"checked in\",\n            \"type\": \"checked-in\"\n          },\n          \"invoice_cost\": {\n            \"price\": 20000,\n            \"tax\": 0,\n            \"taxable\": 0,\n            \"feeable\": 20000,\n            \"tax_by_type\": {\n              53558: 0\n            },\n            \"total\": 20000\n          },\n          \"total_cost\": {\n            \"price\": 20000,\n            \"tax\": 0,\n            \"taxable\": 20000,\n            \"feeable\": 20000,\n            \"tax_by_type\": {\n              53558: 0\n            },\n            \"total\": 20000\n          },\n          \"customer_type_rate\": {\n            \"pk\": 65675,\n            \"total\": 20000,\n            \"capacity\": 10,\n            \"is_exclusive\": false,\n            \"customer_type\": {\n              \"pk\": 978,\n              \"singular\": \"Adult\",\n              \"plural\": \"Adults\",\n              \"note\": \"At least 18 years old.\"\"\n            }\n          }\n        }\n      ],\n      \"invoice_price\": null,\n      \"order\": null,\n      \"dashboard_url\": \"https://fareharbor.com/hawaiianadventures/dashboard/?overlay=/contacts/7/bookings/d75102be-9732-4523-90a8-c698eff2b983/\",\n      \"customer_count\": 1,\n      \"is_subscribed_for_sms_udpates\": false,\n      \"payments\": [\n        {\n          \"pk\": 236495,\n          \"created_at\": \"2022-03-23T11:36:36-0700\",\n          \"type\": \"card\",\n          \"in_store_payment_type\": null,\n          \"status\": \"succeeded\",\n          \"currency\": \"usd\",\n          \"initial_amount_paid\": 40000,\n          \"initial_amount_paid_display\": \"400.00\",\n          \"amount_paid\": 40000,\n          \"amount_paid_display\": \"400.00\",\n          \"refunds\": []\n        }\n      ]\n    }\n## Capacities\n\nNote that availabilities have both an overall capacity, and customer type rates have an (optional) capacity.\nBoth capacities, if specified, cannot be exceeded, despite the fact that the sum of available\ncapacities of the customer type rates may not match the available capacity of the availability\nitself.\n## Extended Option\n\nExtended options are applicable to custom fields of type `extended-option`.\n\n* `pk`: `number`\n\n  The extended option's unique ID.\n\n* `name`: `string`\n\n  The extended option's name.\n\n* `description`: `markdown`\n\n  The extended option's description.\n\n* `modifier_kind`: `string`\n\n  Can be `offset` or `percentage`. Determines whether an offset or percentage\n  is used when the total is adjusted or set.\n\n* `modifier_type`: `string`\n\n  Can be `adjust` or `set`. Determines whether the total is adjusted or set.\n\n* `offset`: `amount`\n\n  When `modifier_type` is `adjust`: a positive or negative amount value.\n\n  When `modifier_type` is `set`: a positive amount value.\n\n  Only applicable when `modifier_kind` is `offset`.\n\n* `percentage`: `number`\n\n  When `modifier_type` is `adjust`: a number between -100 and 100 inclusive.\n\n  When `modifier_type` is `set`: a number between 0 and 100 inclusive.\n\n  Only applicable when `modifier_kind` is `percentage`.\n\n* `is_always_per_customer`: `bool`\n\n  Whether pricing should be applied to each customer (when the customer field\n  is at the booking level).\n\n* `is_taxable`: `bool`\n\n  Whether the cost of this option should affect the taxable total of a booking.\n\nExample:\n\n    {\n      \"pk\": 105,\n      \"name\": \"Helmet\",\n      \"description\": \"Need a helmet?\",\n      \"modifier_kind\": \"percentage\",\n      \"modifier_type\": \"adjust\",\n      \"offset\": null,\n      \"percentage\": 35,\n      \"is_always_per_customer\": true,\n      \"is_taxable\": false\n    }\n## Custom Field\n\n* `pk`: `number`\n\n  The custom field's unique ID.\n\n* `type`: `string`\n\n  The custom field's type. Supported types: `yes-no`, `short`, `long`, and\n  `extended-option`.\n\n* `is_required`: `bool`\n\n  Indicates whether the custom field requires a value.\n\n* `description`: `markdown`\n\n  The custom field's description.\n\n* `name`: `string`\n\n  The name of the custom field.\n\n* `booking_notes`: `markdown`\n\n  Notes for the customer specific to the custom field.\n\n* `offset`: `amount`\n\n  A positive or negative amount value.\n\n* `extended_options`: `[ ExtendedOption ]`\n\n  A list the custom field's extended options. This will only be provided\n  for custom fields that have type `extended-option`.\n\nExample:\n\n    {\n      \"pk\": 4502,\n      \"type\": \"extended-option\"\n      \"is_required\": false,\n      \"description\": \"Do you need additional safety equipment?\",\n      \"name\": \"Safety Equipment\",\n      \"offset\": 100,\n      \"extended_options\": {\n        \"pk\": 105,\n        \"name\": \"Helmet\",\n        \"description\": \"Need a helmet?\",\n        \"modifier_kind\": \"percentage\",\n        \"modifier_type\": \"adjust\",\n        \"offset\": null,\n        \"percentage\": 35,\n        \"is_always_per_customer\": true,\n        \"is_taxable\": false\n      }\n    }\n## Custom Field Instance\n\n* `pk`: `number`\n\n  The custom field instance's unique ID.\n\n* `custom_field`: `CustomField`\n\n  The custom field associated with the custom field instance.\n\nExample:\n\n    {\n      \"pk\": 2681,\n      \"custom_field\": {\n        \"pk\": 4502,\n        \"type\": \"yes-no\"\n        \"is_required\": false,\n        \"description\": \"Do you need additional safety equipment?\",\n        \"name\": \"Safety Equipment\",\n        \"offset\": 100,\n        \"extended_options\": {\n          \"pk\": 105,\n          \"name\": \"Helmet\",\n          \"description\": \"Need a helmet?\",\n          \"modifier_kind\": \"percentage\",\n          \"modifier_type\": \"adjust\",\n          \"offset\": null,\n          \"percentage\": 35,\n          \"is_always_per_customer\": true,\n          \"is_taxable\": false\n        }\n      }\n    }\n## Custom Field Value\n\n* `custom_field`: `CustomField.pk`\n\n  A valid Custom Field pk.\n\n* `value`: `string`\n\n  A string up to 2048 characters. If the custom field is of type `yes-no`,\n  \"true\" or \"false\" must be specified. If the custom field is of type\n  `extended-option`, an extended option pk must be specified.\n\nExample:\n\n    {\n      \"custom_field\": 4502,\n      \"value\": \"false\",\n      \"extended-option\": 105\n    }\n## Crew Member\n\nA `CrewMember` object represents a user assigned to work on a specific availability. Crew members can have assigned roles and notes that provide context about their responsibilities or special instructions.\n\n* `pk`: `integer`\n\n  The crew member's unique identifier. This ID is specific to the crew member assignment and can be used for updating or removing the crew member from the availability.\n\n* `user`: `User`\n\n  The user assigned as a crew member. Contains the user's name and username for identification purposes.\n\n* `role`: `Role | null`\n\n  The role assigned to the crew member, if any. Roles help categorize crew members and define their responsibilities within the organization. This field is optional and can be null if no specific role is assigned.\n\n* `note`: `string`\n\n  A text note providing additional context, instructions, or information about the crew member's assignment. This can include special responsibilities, equipment assignments, or any other relevant details.\n\nExample:\n\n    {\n      \"crew_member\": {\n        \"pk\": 12345,\n        \"user\": {\n          \"name\": \"John Smith\",\n          \"username\": \"jsmith\"\n        },\n        \"role\": {\n          \"pk\": 1,\n          \"short_name\": \"captain\"\n        },\n        \"note\": \"Responsible for safety briefing and equipment check\"\n      }\n    }\n\nExample with no role assigned:\n\n    {\n      \"crew_member\": {\n        \"pk\": 12346,\n        \"user\": {\n          \"name\": \"Jane Doe\",\n          \"username\": \"jdoe\"\n        },\n        \"role\": null,\n        \"note\": \"General crew member\"\n      }\n    } \n## User\n\nA `User` object represents a person who can be assigned as a crew member to availabilities. Users are identified by their name and username within the system.\n\n* `name`: `string`\n\n  The user's full name as it appears in the system. This is typically the user's first and last name combined and is used for display purposes in crew rosters and assignments.\n\n* `username`: `string`\n\n  The user's unique username within the system. This is used for identification and assignment purposes when adding crew members to availabilities. The username must be unique across the system.\n\nExample:\n\n    {\n      \"user\": {\n        \"name\": \"John Smith\",\n        \"username\": \"jsmith\"\n      }\n    }\n\nExample in crew member context:\n\n    {\n      \"users\": [\n        {\n          \"name\": \"John Smith\",\n          \"username\": \"jsmith\"\n        },\n        {\n          \"name\": \"Jane Doe\",\n          \"username\": \"jdoe\"\n        },\n        {\n          \"name\": \"Mike Johnson\",\n          \"username\": \"mjohnson\"\n        }\n      ]\n    } \n## Role\n\nA `Role` object represents a specific position or responsibility that can be assigned to crew members. Roles help organize crew members by their duties and responsibilities within the company's operations.\n\n* `pk`: `integer`\n\n  The role's unique identifier. This ID is used when assigning roles to crew members and for referencing the role in other operations.\n\n* `short_name`: `string`\n\n  The role's short name or title. This is a concise identifier for the role that is used in crew member assignments and displays. Examples might include \"captain\", \"guide\", \"safety_officer\", or \"mechanic\".\n\nExample:\n\n    {\n      \"role\": {\n        \"pk\": 1,\n        \"short_name\": \"captain\"\n      }\n    }\n\nExample in roles list context:\n\n    {\n      \"roles\": [\n        {\n          \"pk\": 1,\n          \"short_name\": \"captain\"\n        },\n        {\n          \"pk\": 2,\n          \"short_name\": \"guide\"\n        },\n        {\n          \"pk\": 3,\n          \"short_name\": \"safety_officer\"\n        },\n        {\n          \"pk\": 4,\n          \"short_name\": \"mechanic\"\n        }\n      ]\n    }\n\nExample in crew member context:\n\n    {\n      \"crew_member\": {\n        \"pk\": 12345,\n        \"user\": {\n          \"name\": \"John Smith\",\n          \"username\": \"jsmith\"\n        },\n        \"role\": {\n          \"pk\": 1,\n          \"short_name\": \"captain\"\n        },\n        \"note\": \"Responsible for safety briefing and equipment check\"\n      }\n    } \n"
    },
    {
      "name": "Error Codes",
      "description": "\nThis document provides more information about the following types of error codes and messages:\n\n| status | Code | Error |\n| ------- | ------ | ------- |\n| 400  |availability-date-range-invalid  | Please specify an end date that comes after start date `start_date` |\n| 400  |book-data-amount-paid-invalid | Amount paid cannot be negative |\n| 400  |book-data-amount-paid-rebooking-invalid | Amount paid cannot be provided for rebooking |\n| 400  |book-data-parse-error | Unable to parse request body |\n| 400  |book-data-validation-error  | Validation error: `message` |\n| 400  |bookability-error  | Unable to create booking: [bookability-error](#tag/Error-Codes/Bookability-error) |\n| 400  |booking-cancellation-error | Unable to cancel booking: [booking-cancellation-error](#tag/Error-Codes/Booking-cancellation-error) |\n| 400  |booking-creation-error | Unable to create booking: [booking-creation-error](#tag/Error-Codes/Booking-creation-error) |\n| 400  |booking-custom-field-value-creation-error | Unable to create custom field value for custom_field pk %s: ensure a valid value is specified|\n| 400  |booking-custom-field-values-invalid  |<p>Duplicate values provided for the following custom_field pks <br>The following custom_field pk values are invalid for pk <br>The following custom_field pk values are required for pk <br> The value is not valid for custom_field pk </p>|\n| 400  |booking-note-error | Unable to update booking note: `booking_note` |\n| 400  |contact-error | Unable to create contact: `message`|\n| 400  |content-type-invalid-error  | Invalid content-type|\n| 400  |customer-custom-field-value-creation-error | Unable to create customer custom field value for customer custom_field pk %s: ensure a valid value is specified|\n| 400  |customer-custom-field-values-invalid  |<p>Duplicate values provided for the following customer custom_field pks <br>The following customer custom_field pk values are invalid for pk <br>The following customer custom_field pk values are required for pk <br> The value is not valid for customer custom_field pk </p>|\n| 400  |customer-type-rates-invalid | The following 'customer_type_rate' pk values are invalid for availability pk <availability_pk>: <customer_type_rate_pk> |\n| 400  |invalid-checkin-already-checked-in | already checked in |\n| 400  |invalid-checkin-customer | invalid customer|\n| 400  |invalid-checkin-status-error  | invalid checkin status |\n| 400  |invalid-qr-code-error  | invalid QR code |\n| 400  |key-missing  | X-FareHarbor-API-App/X-FareHarbor-API-User header or api-app/api-user parameter is required |\n| 400  |lodging-pk-invalid  | `pk` is not a valid lodging pk for company shortname|\n| 400  |no-default-checkin-status-error  | no default checkin status|\n| 400  |orderize-booking-uuid-invalid-error | `UUID` is not a valid UUID |\n| 400  |payment-error  | Unable to create payment: `message`|\n| 400  |rebooking-uuid-invalid-error | `UUID` is not a valid UUID|\n| 400  |resource-bookability-error | explicit_customer_count causes resources to be overused. Unable to satisfy resources. Please refresh the page and try again. |\n| 400  |voucher-number-invalid  | Voucher number cannot be specified for non-affiliate bookings |\n| 400  |voucher-number-not-specified | Unable to create booking: a voucher number is required|\n| 403  |app-invalid | Invalid application |\n| 403  |app-key-invalid  | API app key is invalid |\n| 403  |invalid-checkin-permissions-error  | you do not have permissions to update checkin status|\n| 403  |orderize-booking-uuid-invalid-error | Orders not allowed |\n| 403  |user-key-invalid  | API user key is invalid |\n| 404  |availability-pk-invalid  | `pk` is not a valid availability pk for company shortname `shortname` |\n| 404  |booking-uuid-invalid  | `UUID` is not a valid booking uuid for company shortname `shortname` |\n| 404  |company-shortname-invalid  | `shortname` is not a valid company shortname |\n| 404  |item-pk-invalid | <pk> is not a valid item pk for company shortname `shortname` |\n| 429  |Too Many Requests | [You have sent too many requests in too short a time interval](#tag/Getting-Started/Rate-Limits) |\n| 504  |Gateway Timeout | [Your request required more than 60 seconds to be processed and was terminated](#tag/Getting-Started/Timeouts) |\n\n\n## Bookability error\n| Message | Description |\n| ------- | ------      |\n| Auto-open time not reached  |Please contact api-support@fareharbor.com |\n| Availability was removed | Availability no longer available |\n| Call to book |Availability is not available for online or API booking |\n| Closed | Availability is closed |\n| Cutoff time reached |Availability is no longer bookable. Please contact the supplier or choose a different availability. |\n| Full for all customer types| Availability is full |\n| Full for customer type |Capacity is full for your selected customer type |\n| Invalid customer type rate for availability |Please use a different customer_type_rate pk |\n| Item is not available |Product is no longer offered for online or API booking |\n| Item is private |Product is no longer offered for online or API booking |\n| No bookings cutoff time reached |Availability is no longer bookable. |\n| Over maximum for customer type |Your selected quantity exceeds the maximum set by the supplier |\n| Party size is too large |Your selected quantity exceeds the maximum party size set by the supplier |\n| Party size is too small |Your selected quantity does not meet the minimum party size set by the supplier |\n| Resources are not available |Please contact api-support@fareharbor.com |\n| Sorry, this date and time is not available. Please call us or choose a different date or time. Error: a-already-has-exclusive. |Please contact the supplier, or select a different availability. |\n| Sorry, this date and time is not available. Please call us or choose a different date or time. Error: a-already-has-non-exclusive. |Please contact the supplier, or select a different availability. |\n| The time you are trying to book is no longer available. Please call us or go back and choose a different time.|Availability is no longer bookable. Please contact the supplier or choose a different availability. |\n| Under minimum for customer type |Your selected quantity does not meet the minimum set by the supplier |\n\n\n## Booking creation error\n| Message | Description |\n| ------- | ------      |\n| Affiliates cannot be changed while rebooking without first refunding all affiliate payments. |Please contact api-support@fareharbor.com |\n| Availability is not bookable. |This time cannot be booked. Please try another availability. |\n| Cannot skip payment. |Insufficient permission, please contact api-support@fareharbor.com. |\n| Invalid order. |Please contact api-support@fareharbor.com |\n| Must make full payment. |Insufficient permission, please contact api-support@fareharbor.com. |\n| New bookings cannot be created for availabilities on archived items. |Product is no longer offered  |\n| New bookings cannot be created for this contact until demo mode is disabled. |Please contact api-support@fareharbor.com |\n| New bookings cannot be created for this contact until demo mode is enabled. |Please contact api-support@fareharbor.com |\n| Non-test bookings cannot be rebooked because demo mode is enabled. |Please contact api-support@fareharbor.com |\n| Partial amount paid cannot exceed booking total. |Partial payment amount cannot exceed the booking total.  |\n| Please specify a voucher number. |Voucher field is required. |\n| Please specify at least one customer. |Cannot create a booking for zero customers |\n| Sorry, you are not an affiliate for this company. |Insufficient permission, please contact api-support@fareharbor.com |\n| Sorry, you cannot add bookings to this contact for this company.|Please contact api-support@fareharbor.com |\n| Sorry, you cannot rebook this booking to this company. |Insufficient permission, please contact api-support@fareharbor.com |\n| Sorry, you cannot rebook while adding a booking to a customer. |Please contact api-support@fareharbor.com |\n| Test bookings cannot be rebooked when demo mode is not enabled.|Please contact api-support@fareharbor.com |\n| This booking has already been rebooked. |Cannot rebook a cancelled booking |\n| Unable to add to order. |Please contact api-support@fareharbor.com |\n| Unable to satisfy resources. |Insufficient inventory for supplier to operate the product for your selections |\n\n\n## Booking cancellation error\n| Message | Description |\n| ------- | ------      |\n| This booking has already been cancelled. | Cannot cancel a cancelled booking |\n| You don't have permission to cancel this booking. | Insufficient permission, please contact api-support@fareharbor.com|\n"
    },
    {
      "name": "Examples",
      "description": "\n# PHP\n### Dependencies\n\nHttpful PHP library. See the [installation instructions](http://phphttpclient.com/) for more information. \n\n    include(\"./httpful.phar\");\n\n### Request headers\n\n    $api_app = \"your app key\";\n    $api_user = \"your user key\";\n\n### Root URL\n\n    $root_url = \"https://test.fareharbor.com/api/external/v1\";\n\n## Listing companies\n```\n    $companies_url = \"$root_url/companies/\";\n\n    $response = \\Httpful\\Request::get($companies_url)\n        ->addHeader(\"X-FareHarbor-API-App\", $api_app)\n        ->addHeader(\"X-FareHarbor-API-User\", $api_user)\n        ->send();\n\n    $companies = $response->body->companies;\n\n    echo \"<h1>Companies</h1>\";\n    echo \"<h2>$companies_url</h2>\";\n    echo \"<ul>\";\n    foreach ($companies as $company) {\n        echo \"<li>\";\n        echo $company->shortname;\n        echo \"</li>\";\n    }\n    echo \"</ul>\";\n```\n\n## Listing items for a company\n```\n    $company = array_values($companies)[0];\n\n    $items_url = \"$root_url/companies/$company->shortname/items/\";\n\n    $response = \\Httpful\\Request::get($items_url)\n        ->addHeader(\"X-FareHarbor-API-App\", $api_app)\n        ->addHeader(\"X-FareHarbor-API-User\", $api_user)\n        ->send();\n\n    $items = $response->body->items;\n\n    echo \"<h1>Items</h1>\";\n    echo \"<h2>$items_url</h2>\";\n    echo \"<ul>\";\n    foreach ($items as $item) {\n        echo \"<li>\";\n        echo \"$item->pk ($item->name)\";\n        echo \"</li>\";\n    }\n    echo \"</ul>\";\n```\n\n## Listing availabilities for an item\n```\n    $item = array_values($items)[0];\n\n    $availabilities_url = \"$root_url/companies/$company->shortname/items/$item->pk/availabilities/date/2015-12-01/\";\n\n    $response = \\Httpful\\Request::get($availabilities_url)\n        ->addHeader(\"X-FareHarbor-API-App\", $api_app)\n        ->addHeader(\"X-FareHarbor-API-User\", $api_user)\n        ->send();\n\n    $availabilities = $response->body->availabilities;\n\n    echo \"<h1>Availabilities</h1>\";\n    echo \"<h2>$availabilities_url</h2>\";\n    echo \"<ul>\";\n    foreach ($availabilities as $availability) {\n        echo \"<li>\";\n        echo \"$availability->pk ($availability->start_at)\";\n        echo \"</li>\";\n    }\n    echo \"</ul>\";\n```\n\n## Listing customer type rates for an availability\n```\n    $availability = array_values($availabilities)[0];\n    $customer_type_rates = $availability->customer_type_rates;\n\n    echo \"<h1>Customer Type Rates</h1>\";\n    echo \"<h2>Availability $availability->pk</h2>\";\n    echo \"<ul>\";\n    foreach ($customer_type_rates as $customer_type_rate) {\n        echo \"<li>\";\n        echo \"$customer_type_rate->pk ({$customer_type_rate->customer_type->plural})\";\n        echo \"</li>\";\n    }\n    echo \"</ul>\";\n```\n\n## Creating a booking for an availability\n```\n    $customer_type_rate = array_values($customer_type_rates)[0];\n\n    $book_url = \"$root_url/companies/$company->shortname/availabilities/$availability->pk/bookings/\";\n\n    $contact = array(\n        \"name\" => \"John Doe\",\n        \"phone\" => \"415-098-1234\",\n        \"email\" => \"johndoe@gmail.com\"\n    );\n\n    $customers = array(\n        array(\"customer_type_rate\" => $customer_type_rate->pk)\n    );\n\n    $data = array(\n        \"contact\" => $contact,\n        \"customers\" => $customers,\n        \"note\" => \"Optional booking note.\",\n        \"voucher_number\" => \"V-35791209\"\n    );\n\n    $body = json_encode($data);\n\n    $response = \\Httpful\\Request::post($book_url)\n        ->addHeader(\"X-FareHarbor-API-App\", $api_app)\n        ->addHeader(\"X-FareHarbor-API-User\", $api_user)\n        ->sendsJson()\n        ->body($body)\n        ->send();\n\n    $booking = $response->body->booking;\n\n    echo \"<h1>Create Booking</h1>\";\n    echo \"<h2>$book_url</h2>\";\n    echo \"Created booking $booking->uuid\";\n```\n\n## Retrieving a booking\n```\n    $booking_url = \"$root_url/companies/$company->shortname/bookings/$booking->uuid/\";\n\n    $response = \\Httpful\\Request::get($booking_url)\n        ->addHeader(\"X-FareHarbor-API-App\", $api_app)\n        ->addHeader(\"X-FareHarbor-API-User\", $api_user)\n        ->send();\n\n    $booking = $response->body->booking;\n\n    echo \"<h1>Retrieve Booking</h1>\";\n    echo \"<h2>$booking_url</h2>\";\n    echo \"Retrieved booking $booking->uuid\";\n```\n\n## Entire script\n```\n    <?php\n    include(\"./httpful.phar\");\n\n    $api_app = \"your app key\";\n    $api_user = \"your user key\";\n\n    $root_url = \"https://test.fareharbor.com/api/external/v1\";\n\n    # COMPANIES\n\n    $companies_url = \"$root_url/companies/\";\n\n    $response = \\Httpful\\Request::get($companies_url)\n        ->addHeader(\"X-FareHarbor-API-App\", $api_app)\n        ->addHeader(\"X-FareHarbor-API-User\", $api_user)\n        ->send();\n\n    $companies = $response->body->companies;\n\n    echo \"<h1>Companies</h1>\";\n    echo \"<h2>$companies_url</h2>\";\n    echo \"<ul>\";\n    foreach ($companies as $company) {\n        echo \"<li>\";\n        echo $company->shortname;\n        echo \"</li>\";\n    }\n    echo \"</ul>\";\n\n    # ITEMS\n\n    $company = array_values($companies)[0];\n\n    $items_url = \"$root_url/companies/$company->shortname/items/\";\n\n    $response = \\Httpful\\Request::get($items_url)\n        ->addHeader(\"X-FareHarbor-API-App\", $api_app)\n        ->addHeader(\"X-FareHarbor-API-User\", $api_user)\n        ->send();\n\n    $items = $response->body->items;\n\n    echo \"<h1>Items</h1>\";\n    echo \"<h2>$items_url</h2>\";
[...]
