{
  "openapi": "3.0.3",
  "info": {
    "title": "Aimtell API",
    "version": "1.0.0",
    "description": "Aimtell is a web push notification platform that enables sending push notifications to website visitors. The API provides endpoints for managing sites, subscribers, segments, push campaigns, event campaigns, RSS notifications, prompts, pixels, and more.",
    "x-jentic-source-url": "https://developers.aimtell.com/"
  },
  "servers": [
    {
      "url": "https://api.aimtell.com"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Push Notifications",
      "description": ""
    },
    {
      "name": "Sites",
      "description": ""
    },
    {
      "name": "Segments",
      "description": ""
    },
    {
      "name": "Settings",
      "description": ""
    },
    {
      "name": "Miscellaneous",
      "description": ""
    }
  ],
  "paths": {
    "/prod/push/": {
      "post": {
        "summary": "Send Push Notification",
        "description": "Send a Push Notification",
        "operationId": "postPush",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "idSite",
                  "title",
                  "body",
                  "link"
                ],
                "properties": {
                  "idSite": {
                    "type": "integer",
                    "description": "Site ID",
                    "format": "int32"
                  },
                  "title": {
                    "type": "string",
                    "description": "Notification Title"
                  },
                  "body": {
                    "type": "string",
                    "description": "Notification Body"
                  },
                  "link": {
                    "type": "string",
                    "description": "Notification Link"
                  },
                  "subscriber_uids": {
                    "type": "array",
                    "description": "Subscriber UIDS",
                    "items": {
                      "type": "string"
                    }
                  },
                  "segmentId": {
                    "type": "integer",
                    "description": "Segment ID",
                    "format": "int32"
                  },
                  "alias": {
                    "type": "string",
                    "description": "A subscriber alias (usually a username, userid or email)"
                  },
                  "customIcon": {
                    "type": "string",
                    "description": "url of custom icon to use (recommended size: 250x250)"
                  },
                  "customImage": {
                    "type": "string",
                    "description": "url of custom image to use (recommended size: 300x500)"
                  },
                  "push_ttl": {
                    "type": "integer",
                    "description": "Time till a push should expire in seconds. Default is 1 week.",
                    "default": 604800,
                    "format": "int32"
                  },
                  "auto_hide": {
                    "type": "integer",
                    "description": "Number of seconds (255 max) until the notification will hide automatically. Default is 0, which is persistent (requires interaction)",
                    "format": "int32"
                  },
                  "collapse_key": {
                    "type": "string",
                    "description": "replace visible notifications on a subscribers device (e.g. breaking_news)"
                  },
                  "actions": {
                    "type": "object",
                    "description": "Action Buttons",
                    "properties": {
                      "a01": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "Text of action button"
                          },
                          "link": {
                            "type": "string",
                            "description": "Link/URL of action when clicked"
                          }
                        }
                      },
                      "a02": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "Text of action button"
                          },
                          "link": {
                            "type": "string",
                            "description": "Link/URL of action when clicked"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "success",
                      "message": "Request received. Push sending shortly.",
                      "objectId": "5r777x9f8f01d"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Push Notifications"
        ]
      }
    },
    "/prod/event-campaigns/{id}": {
      "get": {
        "summary": "Get All Event Triggered Campaigns",
        "description": "Fetches All Event Triggered Campaigns",
        "operationId": "getEvent-campaignsId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Site ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Skip",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": [
                      {
                        "id": 819,
                        "uid": "76cedd11b19e",
                        "idSite": 179,
                        "name": "Sample Triggered Notification # 1:  Abandoned Cart",
                        "title": "",
                        "body": "",
                        "link": "",
                        "customIcon": "https://s3.amazonaws.com/siteicons.aimtell.com/icon_40_1443032714..jpg",
                        "delay": 0,
                        "eventCategory": "cart",
                        "eventAction": "abandoned",
                        "eventLabel": "",
                        "conversion_trigger": null,
                        "collapse_key": null,
                        "createdAt": "2016-10-24 23:26:06",
                        "updatedAt": "2017-02-18 01:11:34",
                        "status": 1,
                        "sentcount": null,
                        "clickcount": null,
                        "conversions": null,
                        "bounced": null,
                        "draft": true,
                        "campaign_results": {
                          "sent": 0,
                          "delivered": 0,
                          "bounced": 0,
                          "clicked": 0,
                          "conversions": 0
                        }
                      },
                      {
                        "id": 1659,
                        "uid": "76cedd11b19e",
                        "idSite": 179,
                        "name": "Sample Triggered Notification # 2: Item Shipped",
                        "title": "Your order has been shipped!",
                        "body": "All items from order have now been shipped.  Click to view tracking information.",
                        "link": "https://demo.aimtell.com",
                        "customIcon": "https://s3.amazonaws.com/siteicons.aimtell.com/icon_40_1443032714..jpg",
                        "delay": 30,
                        "eventCategory": "Item",
                        "eventAction": "Shipped",
                        "eventLabel": "",
                        "conversion_trigger": null,
                        "collapse_key": null,
                        "createdAt": "2016-12-23 17:33:19",
                        "updatedAt": "2017-02-18 01:12:03",
                        "status": 5,
                        "sentcount": null,
                        "clickcount": null,
                        "conversions": null,
                        "bounced": null,
                        "campaign_results": {
                          "sent": 0,
                          "delivered": 0,
                          "bounced": 0,
                          "clicked": 0,
                          "conversions": 0
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Push Notifications"
        ]
      }
    },
    "/prod/event-campaign/{id}": {
      "get": {
        "summary": "Get Event Triggered Campaign",
        "description": "Fetches Event Triggered Campaign",
        "operationId": "getEvent-campaignId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": 819,
                      "uid": "76cedd11b19e",
                      "idSite": 179,
                      "name": "Sample Triggered Notification # 1:  Abandoned Cart",
                      "title": "",
                      "body": "",
                      "link": "",
                      "customIcon": "https://s3.amazonaws.com/siteicons.aimtell.com/icon_40_1443032714..jpg",
                      "delay": 0,
                      "eventCategory": "cart",
                      "eventAction": "abandoned",
                      "eventLabel": "",
                      "conversion_trigger": null,
                      "collapse_key": null,
                      "createdAt": "2016-10-24 23:26:06",
                      "updatedAt": "2017-02-18 01:11:34",
                      "status": 1,
                      "bounced": null,
                      "campaign_results": {
                        "sent": 0,
                        "delivered": 0,
                        "bounced": 0,
                        "clicked": 0,
                        "conversions": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Push Notifications"
        ]
      },
      "put": {
        "summary": "Update Event Triggered Campaign",
        "description": "Update an Event Triggered Campaign",
        "operationId": "putEvent-campaignId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of Campaign"
                  },
                  "title": {
                    "type": "string",
                    "description": "Push Title"
                  },
                  "body": {
                    "type": "string",
                    "description": "Push Body Message"
                  },
                  "link": {
                    "type": "string",
                    "description": "Push Notification Link"
                  },
                  "status": {
                    "type": "integer",
                    "description": "set 1 for draft, 5 for active",
                    "format": "int32"
                  },
                  "eventAction": {
                    "type": "string"
                  },
                  "eventCategory": {
                    "type": "string"
                  },
                  "eventLabel": {
                    "type": "string"
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Time in seconds after event when push should be sent",
                    "format": "int32"
                  },
                  "drip": {
                    "type": "string",
                    "description": "Comma separated integer values representing delays as seconds from event. Example: 60, 300, 3600"
                  },
                  "customIcon": {
                    "type": "string",
                    "description": "url of custom icon to use (recommended size: 250x250)"
                  },
                  "customImage": {
                    "type": "string",
                    "description": "url of custom image to use (recommended size: 300x500))"
                  },
                  "target_device": {
                    "type": "string",
                    "description": "device type to target (optional). can be either: \"any\", \"mobile\" or \"desktop\""
                  },
                  "actions": {
                    "type": "object",
                    "description": "action buttons",
                    "properties": {
                      "a01": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "Text of action button"
                          },
                          "link": {
                            "type": "string",
                            "description": "Link/URL of action when clicked"
                          }
                        }
                      },
                      "a02": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "Text of action button"
                          },
                          "link": {
                            "type": "string",
                            "description": "Link/URL of action when clicked"
                          }
                        }
                      }
                    }
                  },
                  "collapse_key": {
                    "type": "string",
                    "description": "replace visible notifications on a subscribers device (e.g. breaking_news)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "success",
                      "campaignId": "329"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Push Notifications"
        ]
      },
      "delete": {
        "summary": "Delete Event Triggered Campaign",
        "description": "Delete a specific Event Triggered Campaign",
        "operationId": "deleteEvent-campaignId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "success",
                      "message": "campaign deleted",
                      "campaignId": "80"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Push Notifications"
        ]
      }
    },
    "/prod/event-campaign/{id}/results": {
      "get": {
        "summary": "Get Event Campaign Results (By Day)",
        "description": "Fetches Event Campaign Results (by Day)\nRevenue for Monetized Campaigns is Included in Results",
        "operationId": "getEvent-campaignIdResults",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "sent": {
                        "03/05/2017": 0,
                        "03/06/2017": 0,
                        "03/07/2017": 0,
                        "03/08/2017": 0,
                        "03/09/2017": 0
                      },
                      "delivered": {
                        "03/05/2017": 0,
                        "03/06/2017": 0,
                        "03/07/2017": 0,
                        "03/08/2017": 0,
                        "03/09/2017": 0
                      },
                      "bounced": {
                        "03/05/2017": 0,
                        "03/06/2017": 0,
                        "03/07/2017": 0,
                        "03/08/2017": 0,
                        "03/09/2017": 0
                      },
                      "clicked": {
                        "03/05/2017": 0,
                        "03/06/2017": 0,
                        "03/07/2017": 0,
                        "03/08/2017": 0,
                        "03/09/2017": 0
                      },
                      "conversions": {
                        "03/05/2017": 0,
                        "03/06/2017": 0,
                        "03/07/2017": 0,
                        "03/08/2017": 0,
                        "03/09/2017": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Push Notifications"
        ]
      }
    },
    "/prod/event-campaigns/": {
      "post": {
        "summary": "Create Event Triggered Campaign",
        "description": "Create an Event Triggered Campaign",
        "operationId": "postEvent-campaigns",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "idSite"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Campaign Name"
                  },
                  "idSite": {
                    "type": "string",
                    "description": "Site ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "success",
                      "campaignId": 1991
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Push Notifications"
        ]
      }
    },
    "/prod/rss-notifications/{id}": {
      "get": {
        "summary": "Get All RSS Campaigns",
        "description": "Fetches All RSS Campaigns",
        "operationId": "getRss-notificationsId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Site ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Skip",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": [
                      {
                        "id": 128,
                        "idSite": 179,
                        "name": "Sample RSS Notification # 1",
                        "feed_url": "https://demo.aimtell.com/rss.xml",
                        "title": "{rss_title}",
                        "body": "{rss_body}",
                        "link": "{rss_link}",
                        "segments": "12345",
                        "status": 1,
                        "uid": "aBc1234567980",
                        "customIcon": "https://s3.amazonaws.com/siteicons.aimtell.com/icon_40_1443032714..jpg",
                        "customImage": "",
                        "actions": "{\"a01\":{\"title\":\"Read More\",\"link\":\"{rss_link}\"}}",
                        "collapse_key": null,
                        "max_enabled": 0,
                        "max_type": "hourly",
                        "max_value": 0,
                        "createdAt": "2020-08-18 20:04:19",
                        "updatedAt": "2020-12-01 17:41:37",
                        "campaign_results": {
                          "sent": 64,
                          "delivered": 64,
                          "bounced": 0,
                          "clicked": 6,
                          "conversions": 0,
                          "conversions_value": 0,
                          "clicked_a01": 0,
                          "clicked_a02": 1
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Push Notifications"
        ]
      }
    },
    "/prod/rss-notification/{id}": {
      "get": {
        "summary": "Get RSS Campaign",
        "description": "Fetches a Specific RSS Campaign",
        "operationId": "getRss-notificationId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": 128,
                      "idSite": 179,
                      "name": "Sample RSS Notification # 1",
                      "feed_url": "https://demo.aimtell.com/rss.xml",
                      "title": "{rss_title}",
                      "body": "{rss_body}",
                      "link": "{rss_link}",
                      "segments": "12345",
                      "status": 1,
                      "uid": "aBc1234567980",
                      "customIcon": "https://s3.amazonaws.com/siteicons.aimtell.com/icon_40_1443032714..jpg",
                      "customImage": "",
                      "actions": {
                        "a01": {
                          "title": "Read More",
                          "link": "{rss_link}"
                        }
                      },
                      "collapse_key": null,
                      "max_enabled": 0,
                      "max_type": "hourly",
                      "max_value": 0,
                      "createdAt": "2020-08-18 20:04:19",
                      "updatedAt": "2020-12-01 17:41:37",
                      "campaign_results": {
                        "sent": 64,
                        "delivered": 64,
                        "bounced": 0,
                        "clicked": 6,
                        "conversions": 0,
                        "conversions_value": 0,
                        "clicked_a01": 0,
                        "clicked_a02": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Push Notifications"
        ]
      },
      "put": {
        "summary": "Update RSS Campaign",
        "description": "Update a RSS Campaign",
        "operationId": "putRss-notificationId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "status"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of Campaign"
                  },
                  "feed_url": {
                    "type": "string",
                    "description": "URL of RSS feed"
                  },
                  "title": {
                    "type": "string",
                    "description": "Push Title"
                  },
                  "body": {
                    "type": "string",
                    "description": "Push Body Message"
                  },
                  "link": {
                    "type": "string",
                    "description": "Push Notification Link"
                  },
                  "customIcon": {
                    "type": "string",
                    "description": "url of custom icon to use (recommended size: 250x250)"
                  },
                  "customImage": {
                    "type": "string",
                    "description": "url of custom image to use (recommended size: 300x500))"
                  },
                  "status": {
                    "type": "integer",
                    "description": "set 1 for draft, 2 for active",
                    "format": "int32"
                  },
                  "segments": {
                    "type": "string",
                    "description": "Segments \u2014 comma separated list with no spaces e.g. 12345,12346,12347"
                  },
                  "max_enabled": {
                    "type": "integer",
                    "description": "enable maximum number of sends \u2014 set 0 for false,  1 for true",
                    "format": "int32"
                  },
                  "max_type": {
                    "type": "string",
                    "description": "hourly or daily"
                  },
                  "max_value": {
                    "type": "integer",
                    "description": "maximum number of sends e.g. 5 or 20",
                    "format": "int32"
                  },
                  "actions": {
                    "type": "object",
                    "properties": {
                      "a01": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "Text of action button"
                          },
                          "link": {
                            "type": "string",
                            "description": "Link/URL of action when clicked"
                          }
                        }
                      },
                      "a02": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "Text of action button"
                          },
                          "link": {
                            "type": "string",
                            "description": "Link/URL of action when clicked"
                          }
                        }
                      }
                    }
                  },
                  "collapse_key": {
                    "type": "string",
                    "description": "replace visible notifications on a subscribers device (e.g. breaking_news)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "success",
                      "campaignId": "128"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Push Notifications"
        ]
      },
      "delete": {
        "summary": "Delete RSS Campaign",
        "description": "Delete a specific RSS Campaign",
        "operationId": "deleteRss-notificationId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "success",
                      "message": "rss campaign deleted",
                      "campaignId": "1991"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Push Notifications"
        ]
      }
    },
    "/prod/rss-notifications/{id}/results": {
      "get": {
        "summary": "Get RSS Campaign Results (By Day)",
        "description": "Fetches RSS Campaign Results (by Day)",
        "operationId": "getRss-notificationsIdResults",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "sent": {
                        "03/05/2017": 0,
                        "03/06/2017": 0,
                        "03/07/2017": 0,
                        "03/08/2017": 0,
                        "03/09/2017": 0
                      },
                      "delivered": {
                        "03/05/2017": 0,
                        "03/06/2017": 0,
                        "03/07/2017": 0,
                        "03/08/2017": 0,
                        "03/09/2017": 0
                      },
                      "bounced": {
                        "03/05/2017": 0,
                        "03/06/2017": 0,
                        "03/07/2017": 0,
                        "03/08/2017": 0,
                        "03/09/2017": 0
                      },
                      "clicked": {
                        "03/05/2017": 0,
                        "03/06/2017": 0,
                        "03/07/2017": 0,
                        "03/08/2017": 0,
                        "03/09/2017": 0
                      },
                      "conversions": {
                        "03/05/2017": 0,
                        "03/06/2017": 0,
                        "03/07/2017": 0,
                        "03/08/2017": 0,
                        "03/09/2017": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Push Notifications"
        ]
      }
    },
    "/prod/rss-notifications/": {
      "post": {
        "summary": "Create RSS Campaign",
        "description": "Create a RSS Campaign",
        "operationId": "postRss-notifications",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "idSite"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Campaign Name"
                  },
                  "idSite": {
                    "type": "string",
                    "description": "Site ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "success",
                      "campaignId": 128
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Push Notifications"
        ]
      }
    },
    "/prod/campaigns/{id}": {
      "get": {
        "summary": "Get All Manual Campaigns",
        "description": "Enables you to fetch all MANUAL campaigns",
        "operationId": "getCampaignsId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Site ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Skip",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": [
                      {
                        "idSite": 179,
                        "uid": "76cedd11b19e",
                        "name": "Campaign 1",
                        "title": "Title",
                        "body": "Body",
                        "link": "https://weblink.com",
                        "id": 1,
                        "segments": "",
                        "ab_linked_campaign": null,
                        "push_src": null,
                        "push_src_values": null,
                        "sent_date": null,
                        "schedule_date": "2024-09-03 12:30",
                        "status": 1,
                        "customIcon": "https://cdn.aimtell.io/user/uploads/siteicons.aimtell.com/icon_40_1443032714..jpg",
                        "customImage": "",
                        "actions": {
                          "a01": {
                            "title": "",
                            "link": ""
                          },
                          "a02": {
                            "title": "",
                            "link": ""
                          }
                        },
                        "collapse_key": null,
                        "createdAt": "2024-09-02 19:18:55",
                        "updatedAt": "2024-09-02 19:18:55"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Push Notifications"
        ]
      }
    },
    "/prod/campaign/{id}": {
      "get": {
        "summary": "Get Manual Campaign",
        "description": "Fetches a specific MANUAL Campaign",
        "operationId": "getCampaignId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "load",
            "in": "query",
            "description": "Load Additional Information (i.e. Segments)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": 259,
                      "uid": "76cedd11b19e",
                      "idSite": 179,
                      "name": "Sample Campaign #1",
                      "title": "Welcome to Aimtell!",
                      "body": "Got questions? Check out our knowledge base.",
                      "link": "https://kb.aimtell.com",
                      "customIcon": null,
                      "customImage": null,
                      "segments": "245",
                      "conversion_trigger": null,
                      "push_ttl": 0,
                      "auto_hide": null,
                      "collapse_key": null,
                      "schedule_date": "2024-12-11 12:12:00",
                      "ab_version": null,
                      "ab_linked_campaign": null,
                      "push_src": null,
                      "push_src_values": null,
                      "tz_delivery": 0,
                      "sent_date": null,
                      "createdAt": "2015-12-28 17:54:42",
                      "updatedAt": "2015-12-28 17:54:42",
                      "automation": null,
                      "automation_end": null,
                      "actions": null,
                      "status": 4,
                      "shared_id": null,
                      "clicked_a01": null,
                      "clicked_a02": null,
                      "schedule_pretty_time": "06:55 AM",
                      "schedule_pretty_date": "12/28/2015",
                      "campaign_results": {
                        "sent": 27,
                        "delivered": 27,
                        "bounced": 0,
                        "clicked": 2,
                        "clicked_a01": 0,
                        "clicked_a02": 0,
                        "conversions": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Push Notifications"
        ]
      },
      "put": {
        "summary": "Update Campaign",
        "description": "Updates a Specific Campaign\n\nNOTE: When updating a campaign with A/B testing enabled,  the version_b status param (1 or 2) must be included to ensure that parameters shared by A and B  versions are updated in both campaigns (schedule_date, segments, automation, automation_end, push_ttl, auto_hide, tz_delivery, status). When updating the status of a campaign with A/B testing enabled, both the status param and the version_b status param must be set.",
        "operationId": "putCampaignId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of Campaign"
                  },
                  "title": {
                    "type": "string",
                    "description": "Push Title"
                  },
                  "body": {
                    "type": "string",
                    "description": "Push Body"
                  },
                  "link": {
                    "type": "string",
                    "description": "Push Link"
                  },
                  "schedule_date": {
                    "type": "string",
                    "description": "DateTime (i.e. 2017-08-25 21:16:50)",
                    "format": "date"
                  },
                  "segments": {
                    "type": "string",
                    "description": "Segments"
                  },
                  "automation": {
                    "type": "string",
                    "description": "Automation (d = daily, w = weekly, m = monthly, n = none)"
                  },
                  "automation_end": {
                    "type": "string",
                    "description": "Automation End Date (e.g. 2017-08-25 17:00:00)",
                    "format": "date"
                  },
                  "push_ttl": {
                    "type": "integer",
                    "description": "Expiration Time (in seconds)",
                    "format": "int32"
                  },
                  "auto_hide": {
                    "type": "integer",
                    "description": "Auto Hide (in seconds)",
                    "format": "int32"
                  },
                  "collapse_key": {
                    "type": "string",
                    "description": "replace visible notifications on a subscribers device replace visible notifications on a subscribers device (e.g. breaking_news)"
                  },
                  "tz_delivery": {
                    "type": "integer",
                    "description": "deliver based on user's timezone (set 0 for false, 1 for true)",
                    "format": "int32"
                  },
                  "customIcon": {
                    "type": "string",
                    "description": "url of custom icon to use (recommended size: 250x250)"
                  },
                  "customImage": {
                    "type": "string",
                    "description": "url of custom image to use (recommended size: 300x500)"
                  },
                  "status": {
                    "type": "integer",
                    "description": "set 1 for draft, 2 for scheduled",
                    "default": 1,
                    "format": "int32"
                  },
                  "version_b": {
                    "type": "object",
                    "description": "(optional) Version B for A/B test campaign",
                    "properties": {
                      "status": {
                        "type": "integer",
                        "description": "set 1 for draft, 2 for scheduled (must match version a)",
                        "format": "int32"
                      },
                      "title": {
                        "type": "string",
                        "description": "(version b) push title"
                      },
                      "body": {
                        "type": "string",
                        "description": "(version b) push body"
                      },
                      "link": {
                        "type": "string",
                        "description": "(version b) push link"
                      },
                      "customIcon": {
                        "type": "string",
                        "description": "(version b)  string url of custom icon to use (recommended size: 250x250)"
                      },
                      "customImage": {
                        "type": "string",
                        "description": "(version b) url of custom image to use (recommended size: 300x500)"
                      },
                      "actions": {
                        "type": "object",
                        "description": "action buttons",
                        "properties": {
                          "a01": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string",
                                "description": "Text of action button"
                              },
                              "link": {
                                "type": "string",
                                "description": "Link/URL of action when clicked"
                              }
                            }
                          },
                          "a02": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string",
                                "description": "Text of action button"
                              },
                              "link": {
                                "type": "string",
                                "description": "Link/URL of action when clicked"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "conversion_trigger": {
                    "type": "object",
                    "properties": {
                      "eventCategory": {
                        "type": "string",
                        "description": "Category of event"
                      },
                      "eventAction": {
                        "type": "string",
                        "description": "Action of event"
                      }
                    }
                  },
                  "actions": {
                    "type": "object",
                    "description": "action buttons",
                    "properties": {
                      "a01": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "Text of action button"
                          },
                          "link": {
                            "type": "string",
                            "description": "Link/URL of action when clicked"
                          }
                        }
                      },
                      "a02": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "Text of action button"
                          },
                          "link": {
                            "type": "string",
                            "description": "Link/URL of action when clicked"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "success",
                      "campaignId": "133321"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Push Notifications"
        ]
      },
      "delete": {
        "summary": "Delete Campaign",
        "description": "Delete a specific Campaign.",
        "operationId": "deleteCampaignId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "success",
                      "message": "campaign deleted",
                      "campaignId": "80"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Push Notifications"
        ]
      }
    },
    "/prod/campaign/{id}/clicks": {
      "get": {
        "summary": "Get Manual Campaign Clicks",
        "description": "Enables you to fetch all clicks from a MANUAL campaign, broken down on a subscriber level.",
        "operationId": "getCampaignIdClicks",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": [
                      {
                        "subscriber_uid": "63779e18-6c2c-4dd0-da76-ace61926fc53",
                        "created_at": "2017-02-16 18:13:54"
                      },
                      {
                        "subscriber_uid": "514870c5-665e-effb-34d9-b8bbd9dd3467",
                        "created_at": "2017-02-16 13:11:21"
                      },
                      {
                        "subscriber_uid": "59bc3f07-915c-e1c3-8a81-6ad82ad783a0",
                        "created_at": "2017-02-15 21:01:58"
                      },
                      {
                        "subscriber_uid": "da554ad4-1f77-dde0-b598-d0a386883ab4",
                        "created_at": "2017-02-14 23:33:16"
                      },
                      {
                        "subscriber_uid": "958645fc-9e85-b3a8-2a15-35d278417be8",
                        "created_at": "2017-02-14 22:12:21"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Push Notifications"
        ]
      }
    },
    "/prod/campaign/{id}/results": {
      "get": {
        "summary": "Get Manual Campaign Results (By Day)",
        "description": "Fetches Manual Campaign Results (by Day)\nRevenue for Monetized Campaigns is Included in Results",
        "operationId": "getCampaignIdResults",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "sent": {
                        "03/05/2017": 9,
                        "03/06/2017": 8,
                        "03/07/2017": 3,
                        "03/08/2017": 4,
                        "03/09/2017": 10
                      },
                      "delivered": {
                        "03/05/2017": 9,
                        "03/06/2017": 8,
                        "03/07/2017": 3,
                        "03/08/2017": 4,
                        "03/09/2017": 10
                      },
                      "bounced": {
                        "03/05/2017": 0,
                        "03/06/2017": 0,
                        "03/07/2017": 0,
                        "03/08/2017": 0,
                        "03/09/2017": 0
                      },
                      "clicked": {
                        "03/05/2017": 6,
                        "03/06/2017": 8,
                        "03/07/2017": 2,
                        "03/08/2017": 4,
                        "03/09/2017": 5
                      },
                      "conversions": {
                        "03/05/2017": 2,
                        "03/06/2017": 8,
                        "03/07/2017": 2,
                        "03/08/2017": 3,
                        "03/09/2017": 5
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Push Notifications"
        ]
      }
    },
    "/prod/campaigns/": {
      "post": {
        "summary": "Create Campaign",
        "description": "Create a Campaign",
        "operationId": "postCampaigns",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "idSite"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Campaign Name"
                  },
                  "idSite": {
                    "type": "string",
                    "description": "Site ID"
                  },
                  "title": {
                    "type": "string",
                    "description": "Push Title"
                  },
                  "body": {
                    "type": "string",
                    "description": "Push Body"
                  },
                  "link": {
                    "type": "string",
                    "description": "Link"
                  },
                  "schedule_date": {
                    "type": "string",
                    "description": "DateTime (e.g. 2017-08-25 21:16:50)",
                    "format": "date"
                  },
                  "segments": {
                    "type": "string",
                    "description": "Segments"
                  },
                  "automation": {
                    "type": "string",
                    "description": "Automation (d = daily, w = weekly, m = monthly, n = none)"
                  },
                  "push_ttl": {
                    "type": "integer",
                    "description": "expiration time (in seconds)",
                    "format": "int32"
                  },
                  "collapse_key": {
                    "type": "string",
                    "description": "replace visible notifications on a subscribers device (e.g. breaking_news)"
                  },
                  "auto_hide": {
                    "type": "integer",
                    "description": "Auto Hide (in seconds)",
                    "format": "int32"
                  },
                  "tz_delivery": {
                    "type": "integer",
                    "description": "deliver based on user's timezone (set 0 for false, 1 for true)",
                    "format": "int32"
                  },
                  "status": {
                    "type": "string",
                    "description": "1 = draft, 2 = scheduled",
                    "default": "1"
                  },
                  "customIcon": {
                    "type": "string",
                    "description": "url of custom icon to use (recommended size: 250x250)"
                  },
                  "customImage": {
                    "type": "string",
                    "description": "url of custom image to use (recommended size: 300x500)"
                  },
                  "conversion_trigger": {
                    "type": "object",
                    "properties": {
                      "eventCategory": {
                        "type": "string",
                        "description": "Category of event"
                      },
                      "eventAction": {
                        "type": "string",
                        "description": "Action of event"
                      }
                    }
                  },
                  "actions": {
                    "type": "object",
                    "description": "action buttons",
                    "properties": {
                      "a01": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "Text of action button"
                          },
                          "link": {
                            "type": "string",
                            "description": "Link/URL of action when clicked"
                          }
                        }
                      },
                      "a02": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "Text of action button"
                          },
                          "link": {
                            "type": "string",
                            "description": "Link/URL of action when clicked"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "success",
                      "campaignId": 72129
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Push Notifications"
        ]
      }
    },
    "/prod/site/{idSite}/welcome": {
      "get": {
        "summary": "Get Welcome Campaign",
        "description": "Fetches the Welcome Campaign for a specific website",
        "operationId": "getSiteIdsiteWelcome",
        "parameters": [
          {
            "name": "idSite",
            "in": "path",
            "description": "Website ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": 1234,
                      "title": "Sample Welcome Campaign",
                      "body": "Thanks for joining us!",
                      "link": "{website_url}",
                      "customImage": "",
                      "customIcon": "https://cdn.aimtell.io/user/uploads/12345-1588183932.png",
                      "idSite": 20599,
                      "status": 1,
                      "conversion_trigger": {
                        "eventCategory": "Page",
                        "eventAction": "Visited",
                        "eventLabel": ""
                      },
                      "actions": {
                        "a01": {
                          "title": "Get the best deals!",
                          "link": "{website_url}"
                        },
                        "a02": {
                          "title": "Check out our blog!",
                          "link": "{website_url}/blog"
                        }
                      },
                      "createdAt": "2020-04-29 18:12:57",
                      "updatedAt": "2020-12-18 16:15:40",
                      "campaign_results": {
                        "sent": 13,
                        "delivered": 13,
                        "bounced": 0,
                        "clicked": 5,
                        "clicked_a01": 0,
                        "clicked_a02": 0,
                        "conversions": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Push Notifications"
        ]
      }
    },
    "/prod/welcome-notifications/{id}/results": {
      "get": {
        "summary": "Get Welcome Campaign Results (By Day)",
        "description": "Fetches Welcome Campaign Results (by Day)",
        "operationId": "getWelcome-notificationsIdResults",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "sent": {
                        "03/05/2017": 0,
                        "03/06/2017": 0,
                        "03/07/2017": 0,
                        "03/08/2017": 0,
                        "03/09/2017": 0
                      },
                      "delivered": {
                        "03/05/2017": 0,
                        "03/06/2017": 0,
                        "03/07/2017": 0,
                        "03/08/2017": 0,
                        "03/09/2017": 0
                      },
                      "bounced": {
                        "03/05/2017": 0,
                        "03/06/2017": 0,
                        "03/07/2017": 0,
                        "03/08/2017": 0,
                        "03/09/2017": 0
                      },
                      "clicked": {
                        "03/05/2017": 0,
                        "03/06/2017": 0,
                        "03/07/2017": 0,
                        "03/08/2017": 0,
                        "03/09/2017": 0
                      },
                      "conversions": {
                        "03/05/2017": 0,
                        "03/06/2017": 0,
                        "03/07/2017": 0,
                        "03/08/2017": 0,
                        "03/09/2017": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Push Notifications"
        ]
      }
    },
    "/prod/site/{idSite}/welcome/upsert": {
      "post": {
        "summary": "Update Welcome Campaign",
        "description": "Update a Welcome Campaign for a Specific Website",
        "operationId": "postSiteIdsiteWelcomeUpsert",
        "parameters": [
          {
            "name": "idSite",
            "in": "path",
            "description": "Site ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "title",
                  "body",
                  "link",
                  "status"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Push Title"
                  },
                  "body": {
                    "type": "string",
                    "description": "Push Body"
                  },
                  "link": {
                    "type": "string",
                    "description": "Link"
                  },
                  "status": {
                    "type": "string",
                    "description": "0 = draft, 1 = active",
                    "default": "0"
                  },
                  "customIcon": {
                    "type": "string",
                    "description": "url of custom icon to use (recommended size: 250x250)"
                  },
                  "customImage": {
                    "type": "string",
                    "description": "url of custom image to use (recommended size: 300x500)"
                  },
                  "conversion_trigger": {
                    "type": "object",
                    "properties": {
                      "eventCategory": {
                        "type": "string",
                        "description": "Category of event"
                      },
                      "eventAction": {
                        "type": "string",
                        "description": "Action of event"
                      }
                    }
                  },
                  "actions": {
                    "type": "object",
                    "description": "action buttons",
                    "properties": {
                      "a01": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "Text of action button"
                          },
                          "link": {
                            "type": "string",
                            "description": "Link/URL of action when clicked"
                          }
                        }
                      },
                      "a02": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "Text of action button"
                          },
                          "link": {
                            "type": "string",
                            "description": "Link/URL of action when clicked"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "success",
                      "message": "Updated welcome message succesfully."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Push Notifications"
        ]
      }
    },
    "/prod/api-campaigns/{id}": {
      "get": {
        "summary": "Get All API Push Campaigns",
        "description": "Fetches All API Push Campaigns",
        "operationId": "getApi-campaignsId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Site ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Skip",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": [
                      {
                        "id": 33677790,
                        "objectId": "5baa724fd38f2",
                        "owner_uid": "76cedd11b19e",
                        "campaignId": null,
                        "title": "Hey there",
                        "body": "Nice push",
                        "link": "google.com",
                        "idSite": 2459,
                        "customIcon": "https://s3.amazonaws.com/siteicons.aimtell.com/icon_2459_1532715035.jpg",
                        "customImage": "",
                        "segmentId": null,
                        "alias": null,
                        "uids": "03a131fb-ca3e-0147-d846-c986c8d1bdb8",
                        "processed": 1,
                        "response": "{\"result\":\"success\",\"count\":1,\"bounced\":0}",
                        "createdAt": "2018-09-25 17:37:19",
                        "updatedAt": "2018-09-25 17:37:21"
                      },
                      {
                        "id": 33677791,
                        "objectId": "5baa72502ea9d",
                        "owner_uid": "76cedd11b19e",
                        "campaignId": null,
                        "title": "Wow",
                        "body": "That's awesome man",
                        "link": "google.com",
                        "idSite": 2459,
                        "customIcon": "https://s3.amazonaws.com/siteicons.aimtell.com/icon_2459_1532715035.jpg",
                        "customImage": "",
                        "segmentId": null,
                        "alias": null,
                        "uids": "03a131fb-ca3e-0147-d846-c986c8d1bdb8",
                        "processed": 1,
                        "response": "{\"result\":\"success\",\"count\":1,\"bounced\":0}",
                        "createdAt": "2018-09-25 17:37:20",
                        "updatedAt": "2018-09-25 17:37:21"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Push Notifications"
        ]
      }
    },
    "/prod/api-campaign/{id}": {
      "get": {
        "summary": "Get API Campaign",
        "description": "Fetches API Campaign",
        "operationId": "getApi-campaignId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Campaign objectID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": 361207856,
                      "objectId": "608ada95ee9eb",
                      "owner_uid": "76cedd11b19e",
                      "campaignId": null,
                      "title": "test",
                      "body": "notification",
                      "link": "https://google.com",
                      "idSite": 2459,
                      "customIcon": null,
                      "customImage": null,
                      "segmentId": null,
                      "alias": null,
                      "uids": "ae796f72-3c9a-6bc0-37c0-a7ad802e7f94",
                      "processed": 1,
                      "response": "{'result':'success','count':1,'bounced':0}",
                      "createdAt": "2021-04-29 16:11:02",
                      "updatedAt": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Push Notifications"
        ]
      }
    },
    "/prod/api-campaigns/{idSite}/results": {
      "get": {
        "summary": "Get API Campaign Results (By Day)",
        "description": "Fetches API Campaign Results (by Day)",
        "operationId": "getApi-campaignsIdsiteResults",
        "parameters": [
          {
            "name": "idSite",
            "in": "path",
            "description": "Website ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Date",
            "required": true,
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "sent": {
                        "03/05/2017": 9,
                        "03/06/2017": 8,
                        "03/07/2017": 3,
                        "03/08/2017": 4,
                        "03/09/2017": 10
                      },
                      "delivered": {
                        "03/05/2017": 9,
                        "03/06/2017": 8,
                        "03/07/2017": 3,
                        "03/08/2017": 4,
                        "03/09/2017": 10
                      },
                      "bounced": {
                        "03/05/2017": 0,
                        "03/06/2017": 0,
                        "03/07/2017": 0,
                        "03/08/2017": 0,
                        "03/09/2017": 0
                      },
                      "clicked": {
                        "03/05/2017": 6,
                        "03/06/2017": 8,
                        "03/07/2017": 2,
                        "03/08/2017": 4,
                        "03/09/2017": 5
                      },
                      "conversions": {
                        "03/05/2017": 2,
                        "03/06/2017": 8,
                        "03/07/2017": 2,
                        "03/08/2017": 3,
                        "03/09/2017": 5
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Push Notifications"
        ]
      }
    },
    "/prod/sites/": {
      "get": {
        "summary": "Get All Websites",
        "description": "Grabs all active websites for account.",
        "operationId": "getSites",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Skip",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "load",
            "in": "query",
            "description": "Load Additional Information (i.e. subscriber_count)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": [
                      {
                        "id": 179,
                        "uid": "76cedd11b19e",
                        "url": "https://demo.aimtell.com",
                        "name": "Demo Website",
                        "icon": "https://s3.amazonaws.com/siteicons.aimtell.com/icon_40_1443032714..jpg",
                        "promptId": 0,
                        "webPushID": null,
                        "auto_prompt": 1,
                        "createdAt": "2015-12-28 17:54:42",
                        "active": 1
                      },
                      {
                        "id": 999,
                        "uid": "76cedd11b19e",
                        "url": "https://example.aimtell.com",
                        "name": "Example Aimtell ",
                        "icon": "https://s3.amazonaws.com/siteicons.aimtell.com/icon_999_1485981616.png",
                        "promptId": 200,
                        "webPushID": "web.20.aimtell.com",
                        "auto_prompt": 1,
                        "createdAt": "2016-06-01 21:40:05",
                        "active": 1
                      },
                      {
                        "id": 2634,
                        "uid": "76cedd11b19e",
                        "url": "https://wordpress.aimtell.com",
                        "name": "wordpress site",
                        "icon": "https://s3.amazonaws.com/siteicons.aimtell.com/icon_2634_1487894753.png",
                        "promptId": null,
                        "webPushID": "web.16.aimtell.com",
                        "auto_prompt": 1,
                        "createdAt": "2017-02-24 00:07:25",
                        "active": 1
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Sites"
        ]
      },
      "post": {
        "summary": "Add Website",
        "description": "Add a Website to Account",
        "operationId": "postSites",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url",
                  "name"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "Website URL"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of Website"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "success",
                      "message": "Added website https://fake.aimtell.com succesfully.",
                      "id": 79
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Sites"
        ]
      }
    },
    "/prod/site/{id}": {
      "get": {
        "summary": "Get Website",
        "description": "Returns information about a website",
        "operationId": "getSiteId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Site ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": 2459,
                      "uid": "76cedd11b19e",
                      "url": "https://example2459.aimtell.io",
                      "name": "Example Site",
                      "icon": "https://s3.amazonaws.com/siteicons.aimtell.com/icon_2459_1532715035.jpg",
[...]
