{
  "openapi": "3.0.3",
  "info": {
    "title": "Survicate Data Export API",
    "version": "2.0.0",
    "description": "The Survicate Data Export API allows you to retrieve survey data, responses, respondent information, and manage personal data. The API provides REST-based endpoints for accessing feedback collected through Survicate surveys.",
    "x-jentic-source-url": "https://developers.survicate.com/",
    "contact": {
      "name": "Survicate Support",
      "url": "https://help.survicate.com/"
    }
  },
  "servers": [
    {
      "url": "https://data-api.survicate.com/v2",
      "description": "Production API Server"
    }
  ],
  "security": [
    {
      "BasicAuth": []
    }
  ],
  "paths": {
    "/surveys": {
      "get": {
        "operationId": "listAllSurveys",
        "summary": "List all surveys",
        "description": "Retrieve a list of all surveys in your Survicate workspace.",
        "tags": ["Survey"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of surveys per page",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "surveys": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Survey"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/surveys/{survey_id}": {
      "get": {
        "operationId": "retrieveSurveyInformation",
        "summary": "Retrieve survey information",
        "description": "Get detailed information about a specific survey including its configuration and metadata.",
        "tags": ["Survey"],
        "parameters": [
          {
            "name": "survey_id",
            "in": "path",
            "description": "Unique identifier of the survey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Survey not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/surveys/{survey_id}/questions": {
      "get": {
        "operationId": "listQuestions",
        "summary": "List questions",
        "description": "Retrieve all questions associated with a specific survey.",
        "tags": ["Survey"],
        "parameters": [
          {
            "name": "survey_id",
            "in": "path",
            "description": "Unique identifier of the survey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "questions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Question"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Survey not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/responses": {
      "get": {
        "operationId": "listAllResponses",
        "summary": "List all responses",
        "description": "Retrieve a list of all survey responses collected across your surveys.",
        "tags": ["Response"],
        "parameters": [
          {
            "name": "survey_id",
            "in": "query",
            "description": "Filter responses by survey ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of responses per page",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "created_after",
            "in": "query",
            "description": "Filter responses created after this date (ISO 8601 format)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_before",
            "in": "query",
            "description": "Filter responses created before this date (ISO 8601 format)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "responses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Response"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/responses/{response_id}": {
      "get": {
        "operationId": "retrieveResponse",
        "summary": "Retrieve a response",
        "description": "Get detailed information about a specific survey response including all answers.",
        "tags": ["Response"],
        "parameters": [
          {
            "name": "response_id",
            "in": "path",
            "description": "Unique identifier of the response",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Response not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/respondents/{respondent_id}/attributes": {
      "get": {
        "operationId": "listRespondentAttributes",
        "summary": "List respondent's attributes",
        "description": "Retrieve all attributes associated with a specific respondent.",
        "tags": ["Respondent"],
        "parameters": [
          {
            "name": "respondent_id",
            "in": "path",
            "description": "Unique identifier of the respondent",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "attributes": {
                      "type": "object",
                      "additionalProperties": true,
                      "description": "Key-value pairs of respondent attributes"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Respondent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/respondents/{respondent_id}/responses": {
      "get": {
        "operationId": "listRespondentResponses",
        "summary": "List respondent's responses",
        "description": "Retrieve all survey responses submitted by a specific respondent.",
        "tags": ["Respondent"],
        "parameters": [
          {
            "name": "respondent_id",
            "in": "path",
            "description": "Unique identifier of the respondent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of responses per page",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "responses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Response"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Respondent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/personal-data/counters": {
      "get": {
        "operationId": "getPersonalDataCounters",
        "summary": "Get personal data counters",
        "description": "Retrieve counters showing the amount of personal data stored for GDPR compliance tracking.",
        "tags": ["Personal Data"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_respondents": {
                      "type": "integer",
                      "description": "Total number of respondents with stored data"
                    },
                    "total_responses": {
                      "type": "integer",
                      "description": "Total number of responses containing personal data"
                    },
                    "last_updated": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp of when counters were last updated"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/personal-data": {
      "delete": {
        "operationId": "deletePersonalDataByEmail",
        "summary": "Delete personal data by email",
        "description": "Delete all personal data associated with a specific email address for GDPR compliance (right to be forgotten).",
        "tags": ["Personal Data"],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "Email address of the respondent whose data should be deleted",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Personal data successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Personal data deleted successfully"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "deleted_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid email format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No personal data found for the specified email",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "API key obtained from Survicate control panel under 'Surveys Settings' → 'Access Keys'. Use the API key as the username in Basic authentication with an empty password."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message describing what went wrong"
          },
          "message": {
            "type": "string",
            "description": "Detailed error message"
          },
          "status_code": {
            "type": "integer",
            "description": "HTTP status code"
          }
        },
        "required": ["error"]
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number"
          },
          "per_page": {
            "type": "integer",
            "description": "Number of items per page"
          },
          "total_pages": {
            "type": "integer",
            "description": "Total number of pages"
          },
          "total_count": {
            "type": "integer",
            "description": "Total number of items"
          }
        }
      },
      "Survey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the survey"
          },
          "name": {
            "type": "string",
            "description": "Name of the survey"
          },
          "status": {
            "type": "string",
            "enum": ["active", "paused", "draft", "archived"],
            "description": "Current status of the survey"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the survey was created"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the survey was last updated"
          },
          "response_count": {
            "type": "integer",
            "description": "Total number of responses collected"
          },
          "type": {
            "type": "string",
            "description": "Type of survey (e.g., website, email, mobile)"
          }
        }
      },
      "SurveyDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Survey"
          },
          {
            "type": "object",
            "properties": {
              "description": {
                "type": "string",
                "description": "Survey description"
              },
              "language": {
                "type": "string",
                "description": "Survey language code"
              },
              "questions_count": {
                "type": "integer",
                "description": "Number of questions in the survey"
              },
              "targeting": {
                "type": "object",
                "description": "Survey targeting configuration",
                "additionalProperties": true
              },
              "appearance": {
                "type": "object",
                "description": "Survey appearance settings",
                "additionalProperties": true
              }
            }
          }
        ]
      },
      "Question": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the question"
          },
          "survey_id": {
            "type": "string",
            "description": "ID of the survey this question belongs to"
          },
          "type": {
            "type": "string",
            "enum": [
              "single_choice",
              "multiple_choice",
              "text",
              "nps",
              "rating",
              "csat",
              "ces",
              "email",
              "dropdown"
            ],
            "description": "Type of question"
          },
          "text": {
            "type": "string",
            "description": "Question text"
          },
          "required": {
            "type": "boolean",
            "description": "Whether the question is required"
          },
          "position": {
            "type": "integer",
            "description": "Position of the question in the survey"
          },
          "options": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "text": {
                  "type": "string"
                },
                "position": {
                  "type": "integer"
                }
              }
            },
            "description": "Answer options for choice-based questions"
          },
          "settings": {
            "type": "object",
            "description": "Additional question settings",
            "additionalProperties": true
          }
        }
      },
      "Response": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the response"
          },
          "survey_id": {
            "type": "string",
            "description": "ID of the survey"
          },
          "respondent_id": {
            "type": "string",
            "description": "ID of the respondent"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the response was submitted"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the response was completed",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": ["completed", "partial", "dismissed"],
            "description": "Status of the response"
          },
          "source": {
            "type": "string",
            "description": "Source from which the response was collected"
          }
        }
      },
      "ResponseDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Response"
          },
          {
            "type": "object",
            "properties": {
              "answers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "question_id": {
                      "type": "string",
                      "description": "ID of the question"
                    },
                    "question_text": {
                      "type": "string",
                      "description": "Text of the question"
                    },
                    "answer": {
                      "description": "Answer value (can be string, number, array, or object depending on question type)",
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        {
                          "type": "object"
                        }
                      ]
                    },
                    "answered_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the answer was provided"
                    }
                  }
                },
                "description": "All answers provided in this response"
              },
              "respondent_attributes": {
                "type": "object",
                "description": "Attributes of the respondent at the time of response",
                "additionalProperties": true
              },
              "device_info": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Device type (desktop, mobile, tablet)"
                  },
                  "browser": {
                    "type": "string",
                    "description": "Browser name"
                  },
                  "os": {
                    "type": "string",
                    "description": "Operating system"
                  }
                },
                "description": "Device information"
              },
              "location": {
                "type": "object",
                "properties": {
                  "country": {
                    "type": "string",
                    "description": "Country code"
                  },
                  "city": {
                    "type": "string",
                    "description": "City name"
                  }
                },
                "description": "Geographic location of the respondent"
              }
            }
          }
        ]
      }
    }
  },
  "tags": [
    {
      "name": "Survey",
      "description": "Operations for managing and retrieving survey information"
    },
    {
      "name": "Response",
      "description": "Operations for accessing survey responses"
    },
    {
      "name": "Respondent",
      "description": "Operations for managing respondent data"
    },
    {
      "name": "Personal Data",
      "description": "Operations for GDPR compliance and personal data management"
    }
  ],
  "x-rate-limits": {
    "concurrent_requests": 5,
    "requests_per_minute": 1000
  }
}
