{
  "openapi": "3.0.3",
  "info": {
    "title": "Debitura Customer API",
    "version": "1.0.0",
    "description": "Debitura is a debt collection platform. The API enables creating and managing collection cases, divisions, payments, contracts, coverage checks, and webhook subscriptions.",
    "x-jentic-source-url": "https://customer-api.debitura.com"
  },
  "servers": [
    {
      "url": "https://customer-api.debitura.com"
    }
  ],
  "paths": {
    "/cases": {
      "post": {
        "operationId": "createCase",
        "summary": "Create collection case",
        "tags": [
          "Cases"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaseCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Case created"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listCases",
        "summary": "List collection cases",
        "tags": [
          "Cases"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated cases list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/cases/preview": {
      "post": {
        "operationId": "previewCase",
        "summary": "Preview case eligibility",
        "tags": [
          "Cases"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaseCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Eligibility preview"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/cases/{id}": {
      "get": {
        "operationId": "getCase",
        "summary": "Get case by ID",
        "tags": [
          "Cases"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Case details"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/cases/{id}/timeline": {
      "get": {
        "operationId": "getCaseTimeline",
        "summary": "Get case timeline",
        "tags": [
          "Cases"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Timeline events"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/cases/{id}/payments": {
      "get": {
        "operationId": "getCasePayments",
        "summary": "Get case payments",
        "tags": [
          "Cases"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Case payments"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/cases/{id}/files": {
      "get": {
        "operationId": "getCaseFiles",
        "summary": "Get case files",
        "tags": [
          "Cases"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Case files"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "uploadCaseFile",
        "summary": "Upload file to case",
        "tags": [
          "Cases"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/divisions": {
      "post": {
        "operationId": "createDivision",
        "summary": "Create division",
        "tags": [
          "Divisions"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DivisionCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Division created"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "operationId": "listDivisions",
        "summary": "List divisions",
        "tags": [
          "Divisions"
        ],
        "responses": {
          "200": {
            "description": "Divisions list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/divisions/{id}": {
      "get": {
        "operationId": "getDivision",
        "summary": "Get division",
        "tags": [
          "Divisions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Division details"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateDivision",
        "summary": "Update division",
        "tags": [
          "Divisions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Division updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteDivision",
        "summary": "Delete division",
        "tags": [
          "Divisions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Division deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/coverage": {
      "get": {
        "operationId": "listCoverage",
        "summary": "List jurisdiction coverage",
        "tags": [
          "Coverage"
        ],
        "responses": {
          "200": {
            "description": "Coverage list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/coverage/check-eligibility": {
      "post": {
        "operationId": "checkEligibility",
        "summary": "Check case eligibility",
        "tags": [
          "Coverage"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Eligibility result"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/me": {
      "get": {
        "operationId": "getMe",
        "summary": "Verify auth and get account",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Account details"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/Payments": {
      "get": {
        "operationId": "listPayments",
        "summary": "List all payments",
        "tags": [
          "Payments"
        ],
        "responses": {
          "200": {
            "description": "Payments list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/Payments/{id}": {
      "get": {
        "operationId": "getPayment",
        "summary": "Get payment",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment details"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/webhooks": {
      "post": {
        "operationId": "createWebhook",
        "summary": "Create webhook",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook created"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "operationId": "listWebhooks",
        "summary": "List webhooks",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Webhooks list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/webhooks/{id}": {
      "get": {
        "operationId": "getWebhook",
        "summary": "Get webhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook details"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "updateWebhook",
        "summary": "Update webhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete webhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CaseCreate": {
        "type": "object",
        "properties": {
          "debtorName": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "DivisionCreate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "WebhookCreate": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "event": {
            "type": "string",
            "enum": [
              "case.created",
              "case.updated",
              "case.closed",
              "payment.created",
              "chat.created"
            ]
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    },
    {
      "bearerAuth": []
    }
  ]
}