{
  "openapi": "3.0.3",
  "info": {
    "title": "Image Upload API",
    "description": "Image manipulation and optimization REST API. Supports automatic image resizing, cropping, format conversion, and optimization for JPG, PNG, and GIF formats. Provides editing tools including orientation correction and filters, with e-commerce platform integration capabilities.",
    "version": "1.0.0",
    "contact": {
      "name": "APILayer",
      "url": "https://apilayer.com"
    },
    "x-jentic-source-url": "https://apilayer.com/marketplace/image_upload-api"
  },
  "servers": [
    {
      "url": "https://api.apilayer.com/image_upload",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Upload",
      "description": "Image upload operations"
    },
    {
      "name": "Manipulation",
      "description": "Image manipulation and editing operations"
    },
    {
      "name": "Retrieval",
      "description": "Image retrieval operations"
    }
  ],
  "paths": {
    "/upload": {
      "post": {
        "tags": ["Upload"],
        "summary": "Upload an image",
        "description": "Upload an image file for storage and processing. Supports JPG, PNG, and GIF formats.",
        "operationId": "uploadImage",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "The image file to upload (JPG, PNG, or GIF)"
                  }
                },
                "required": ["image"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid image or missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/upload/url": {
      "post": {
        "tags": ["Upload"],
        "summary": "Upload an image from URL",
        "description": "Upload an image by providing a publicly accessible URL.",
        "operationId": "uploadImageFromUrl",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Public URL of the image to upload"
                  }
                },
                "required": ["url"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/image/{imageId}": {
      "get": {
        "tags": ["Retrieval"],
        "summary": "Get image details",
        "description": "Retrieve details and metadata of a previously uploaded image.",
        "operationId": "getImage",
        "parameters": [
          {
            "name": "imageId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the uploaded image",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Image details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Image not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "delete": {
        "tags": ["Retrieval"],
        "summary": "Delete an image",
        "description": "Delete a previously uploaded image.",
        "operationId": "deleteImage",
        "parameters": [
          {
            "name": "imageId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the uploaded image",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Image deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Image not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/resize": {
      "post": {
        "tags": ["Manipulation"],
        "summary": "Resize an image",
        "description": "Resize an uploaded image to specified dimensions.",
        "operationId": "resizeImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image_id": {
                    "type": "string",
                    "description": "ID of the image to resize"
                  },
                  "width": {
                    "type": "integer",
                    "description": "Target width in pixels"
                  },
                  "height": {
                    "type": "integer",
                    "description": "Target height in pixels"
                  },
                  "maintain_aspect_ratio": {
                    "type": "boolean",
                    "description": "Whether to maintain the original aspect ratio",
                    "default": true
                  }
                },
                "required": ["image_id", "width", "height"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image resized successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Image not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/crop": {
      "post": {
        "tags": ["Manipulation"],
        "summary": "Crop an image",
        "description": "Crop an uploaded image to specified dimensions and position.",
        "operationId": "cropImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image_id": {
                    "type": "string",
                    "description": "ID of the image to crop"
                  },
                  "x": {
                    "type": "integer",
                    "description": "X offset for crop area"
                  },
                  "y": {
                    "type": "integer",
                    "description": "Y offset for crop area"
                  },
                  "width": {
                    "type": "integer",
                    "description": "Width of the crop area"
                  },
                  "height": {
                    "type": "integer",
                    "description": "Height of the crop area"
                  }
                },
                "required": ["image_id", "width", "height"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image cropped successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Image not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/optimize": {
      "post": {
        "tags": ["Manipulation"],
        "summary": "Optimize an image",
        "description": "Optimize an image for web use by reducing file size while maintaining quality.",
        "operationId": "optimizeImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image_id": {
                    "type": "string",
                    "description": "ID of the image to optimize"
                  },
                  "quality": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "description": "Output quality percentage (1-100)",
                    "default": 80
                  }
                },
                "required": ["image_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image optimized successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Image not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "apikey",
        "in": "header",
        "description": "APILayer API key for authentication"
      }
    },
    "schemas": {
      "UploadResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the operation was successful"
          },
          "image_id": {
            "type": "string",
            "description": "Unique identifier for the image"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the processed image"
          },
          "width": {
            "type": "integer",
            "description": "Image width in pixels"
          },
          "height": {
            "type": "integer",
            "description": "Image height in pixels"
          },
          "size": {
            "type": "integer",
            "description": "File size in bytes"
          },
          "format": {
            "type": "string",
            "description": "Image format (jpg, png, gif)"
          }
        }
      },
      "ImageDetails": {
        "type": "object",
        "properties": {
          "image_id": {
            "type": "string",
            "description": "Unique identifier for the image"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the image"
          },
          "width": {
            "type": "integer",
            "description": "Image width in pixels"
          },
          "height": {
            "type": "integer",
            "description": "Image height in pixels"
          },
          "size": {
            "type": "integer",
            "description": "File size in bytes"
          },
          "format": {
            "type": "string",
            "description": "Image format"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Upload timestamp"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "Error code"
              },
              "type": {
                "type": "string",
                "description": "Error type"
              },
              "message": {
                "type": "string",
                "description": "Human-readable error message"
              }
            }
          }
        }
      }
    }
  }
}
