{
  "openapi": "3.0.3",
  "info": {
    "title": "Sift API",
    "version": "v205",
    "description": "Sift's fraud detection and prevention API for sending events, retrieving scores, and managing decisions.",
    "x-jentic-source-url": "https://developers.sift.com/docs/curl/apis-overview"
  },
  "servers": [
    {
      "url": "https://api.sift.com"
    }
  ],
  "paths": {
    "/v205/events": {
      "post": {
        "operationId": "sendEvent",
        "summary": "Send Event",
        "description": "Send an event to Sift for scoring and workflow evaluation.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "return_score",
            "in": "query",
            "description": "If true, return a score for the user in the response.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_workflow_status",
            "in": "query",
            "description": "If true, return workflow status in the response.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of additional fields to return.",
            "schema": {
              "type": "string",
              "example": "warnings,score_percentiles"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event accepted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v205/users/{userId}/score": {
      "get": {
        "operationId": "getUserScore",
        "summary": "Get User Score",
        "description": "Retrieve the fraud score for a specific user.",
        "tags": [
          "Scores"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserIdPath"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your Sift API key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "abuse_types",
            "in": "query",
            "description": "Comma-separated list of abuse types to return scores for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "return_score_percentiles",
            "in": "query",
            "description": "If true, return score percentiles in the response.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Score retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScoreResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v205/users/{userId}/rescore": {
      "post": {
        "operationId": "rescoreUser",
        "summary": "Rescore User",
        "description": "Rescore a user based on the latest models.",
        "tags": [
          "Scores"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserIdPath"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your Sift API key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "abuse_types",
            "in": "query",
            "description": "Comma-separated list of abuse types to rescore.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User rescored successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScoreResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/accounts/{accountId}/users/{userId}/decisions": {
      "post": {
        "operationId": "applyDecisionToUser",
        "summary": "Apply Decision to User",
        "description": "Apply a decision to a specific user.",
        "tags": [
          "Decisions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdPath"
          },
          {
            "$ref": "#/components/parameters/UserIdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplyDecisionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Decision applied successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplyDecisionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getUserDecisions",
        "summary": "Get User Decisions",
        "description": "Retrieve decisions applied to a specific user.",
        "tags": [
          "Decisions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdPath"
          },
          {
            "$ref": "#/components/parameters/UserIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Decisions retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityDecisionsResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/accounts/{accountId}/orders/{orderId}/decisions": {
      "post": {
        "operationId": "applyDecisionToOrder",
        "summary": "Apply Decision to Order",
        "description": "Apply a decision to a specific order.",
        "tags": [
          "Decisions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdPath"
          },
          {
            "$ref": "#/components/parameters/OrderIdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplyDecisionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Decision applied successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplyDecisionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getOrderDecisions",
        "summary": "Get Order Decisions",
        "description": "Retrieve decisions applied to a specific order.",
        "tags": [
          "Decisions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdPath"
          },
          {
            "$ref": "#/components/parameters/OrderIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Decisions retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityDecisionsResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/accounts/{accountId}/sessions/{sessionId}/decisions": {
      "post": {
        "operationId": "applyDecisionToSession",
        "summary": "Apply Decision to Session",
        "description": "Apply a decision to a specific session.",
        "tags": [
          "Decisions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdPath"
          },
          {
            "$ref": "#/components/parameters/SessionIdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplyDecisionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Decision applied successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplyDecisionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/accounts/{accountId}/decisions": {
      "get": {
        "operationId": "listDecisions",
        "summary": "List Decisions",
        "description": "List all configured decisions for an account.",
        "tags": [
          "Decisions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdPath"
          },
          {
            "name": "entity_type",
            "in": "query",
            "description": "Filter by entity type (e.g., user, order, session).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "abuse_type",
            "in": "query",
            "description": "Filter by abuse type.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of decisions to return.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Offset for pagination.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Decisions listed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDecisionsResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v205/users/{userId}/labels": {
      "post": {
        "operationId": "labelUser",
        "summary": "Label User",
        "description": "Apply a label to a user. Deprecated: use the Decisions API instead.",
        "deprecated": true,
        "tags": [
          "Labels"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserIdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LabelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Label applied successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "unlabelUser",
        "summary": "Unlabel User",
        "description": "Remove a label from a user. Deprecated: use the Decisions API instead.",
        "deprecated": true,
        "tags": [
          "Labels"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserIdPath"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your Sift API key.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Label removed successfully."
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v205/verification/send": {
      "post": {
        "operationId": "sendVerification",
        "summary": "Send Verification",
        "description": "Send a verification code to a user via SMS, email, or WhatsApp.",
        "tags": [
          "Verification"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendVerificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification sent successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v205/verification/resend": {
      "post": {
        "operationId": "resendVerification",
        "summary": "Resend Verification",
        "description": "Resend a verification code to a user.",
        "tags": [
          "Verification"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResendVerificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification resent successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v205/verification/check": {
      "post": {
        "operationId": "checkVerification",
        "summary": "Check Verification",
        "description": "Check a verification code submitted by a user.",
        "tags": [
          "Verification"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckVerificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification check result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic authentication using the API key as the username and an empty password."
      }
    },
    "parameters": {
      "UserIdPath": {
        "name": "userId",
        "in": "path",
        "required": true,
        "description": "The ID of the user.",
        "schema": {
          "type": "string"
        }
      },
      "AccountIdPath": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "description": "The ID of the Sift account.",
        "schema": {
          "type": "string"
        }
      },
      "OrderIdPath": {
        "name": "orderId",
        "in": "path",
        "required": true,
        "description": "The ID of the order.",
        "schema": {
          "type": "string"
        }
      },
      "SessionIdPath": {
        "name": "sessionId",
        "in": "path",
        "required": true,
        "description": "The ID of the session.",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "EventRequest": {
        "type": "object",
        "required": [
          "$type"
        ],
        "properties": {
          "$api_key": {
            "type": "string",
            "description": "Your Sift API key. Can be provided here or via HTTP Basic auth."
          },
          "$type": {
            "type": "string",
            "description": "The type of event to send.",
            "enum": [
              "$create_order",
              "$update_order",
              "$transaction",
              "$create_account",
              "$update_account",
              "$login",
              "$logout",
              "$add_item_to_cart",
              "$remove_item_from_cart",
              "$add_promotion",
              "$content_status",
              "$flag_content",
              "$create_content",
              "$update_content",
              "$chargeback",
              "$order_status",
              "$link_session_to_user",
              "$update_password",
              "$verification",
              "$security_notification"
            ]
          },
          "$user_id": {
            "type": "string",
            "description": "The user's account ID according to your systems."
          },
          "$session_id": {
            "type": "string",
            "description": "The user's current session ID."
          },
          "$order_id": {
            "type": "string",
            "description": "The ID for tracking an order within your system."
          },
          "$user_email": {
            "type": "string",
            "description": "Email address of the user."
          },
          "$ip": {
            "type": "string",
            "description": "IP address of the user."
          },
          "$time": {
            "type": "integer",
            "format": "int64",
            "description": "The time of the event in unix timestamp (seconds)."
          },
          "$amount": {
            "type": "integer",
            "format": "int64",
            "description": "The amount in micros (1/1,000,000 of the base currency unit)."
          },
          "$currency_code": {
            "type": "string",
            "description": "ISO 4217 currency code."
          },
          "$transaction_type": {
            "type": "string",
            "description": "The type of transaction.",
            "enum": [
              "$sale",
              "$authorize",
              "$capture",
              "$void",
              "$refund",
              "$deposit",
              "$withdrawal",
              "$transfer"
            ]
          },
          "$transaction_status": {
            "type": "string",
            "description": "The status of the transaction.",
            "enum": [
              "$success",
              "$failure",
              "$pending"
            ]
          },
          "$transaction_id": {
            "type": "string",
            "description": "The ID for the transaction within your system."
          },
          "$login_status": {
            "type": "string",
            "description": "The status of the login attempt.",
            "enum": [
              "$success",
              "$failure"
            ]
          },
          "$failure_reason": {
            "type": "string",
            "description": "The reason for the login failure.",
            "enum": [
              "$account_unknown",
              "$account_suspended",
              "$account_disabled",
              "$wrong_password"
            ]
          },
          "$is_bad": {
            "type": "boolean",
            "description": "Whether the user is considered bad (for labels)."
          },
          "$abuse_type": {
            "type": "string",
            "description": "The type of abuse.",
            "enum": [
              "payment_abuse",
              "account_abuse",
              "content_abuse",
              "promotion_abuse",
              "account_takeover",
              "legacy"
            ]
          },
          "$description": {
            "type": "string",
            "description": "A description of the event or label."
          },
          "$source": {
            "type": "string",
            "description": "The source of the event.",
            "enum": [
              "$automated",
              "$manual_review"
            ]
          },
          "$analyst": {
            "type": "string",
            "description": "The analyst who reviewed the event."
          },
          "$order_status": {
            "type": "string",
            "description": "The status of the order.",
            "enum": [
              "$approved",
              "$canceled",
              "$held",
              "$fulfilled",
              "$returned"
            ]
          },
          "$chargeback_state": {
            "type": "string",
            "description": "The state of the chargeback.",
            "enum": [
              "$received",
              "$accepted",
              "$disputed",
              "$won",
              "$lost"
            ]
          },
          "$chargeback_reason": {
            "type": "string",
            "description": "The reason for the chargeback.",
            "enum": [
              "$fraud",
              "$duplicate",
              "$product_not_received",
              "$product_unacceptable",
              "$other"
            ]
          },
          "$verification_type": {
            "type": "string",
            "description": "The type of verification.",
            "enum": [
              "$sms",
              "$phone_call",
              "$email",
              "$app_tfa",
              "$captcha"
            ]
          },
          "$verified_value": {
            "type": "string",
            "description": "The phone number or email that was verified."
          },
          "$reason": {
            "type": "string",
            "description": "The reason for the security notification.",
            "enum": [
              "$password_change",
              "$email_change",
              "$phone_change",
              "$two_factor_change"
            ]
          },
          "$password_status": {
            "type": "string",
            "description": "The status of the password update.",
            "enum": [
              "$success",
              "$failure"
            ]
          },
          "$content_id": {
            "type": "string",
            "description": "The unique ID for the piece of content."
          },
          "$status": {
            "type": "string",
            "description": "The status of the content."
          },
          "$payment_method": {
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "$billing_address": {
            "$ref": "#/components/schemas/Address"
          },
          "$shipping_address": {
            "$ref": "#/components/schemas/Address"
          },
          "$items": {
            "type": "array",
            "description": "The list of items in the order or cart.",
            "items": {
              "$ref": "#/components/schemas/Item"
            }
          },
          "$browser": {
            "$ref": "#/components/schemas/Browser"
          },
          "$app": {
            "$ref": "#/components/schemas/App"
          },
          "$brand_name": {
            "type": "string",
            "description": "The name of the brand."
          },
          "$site_country": {
            "type": "string",
            "description": "The country the site is operating in."
          },
          "$site_domain": {
            "type": "string",
            "description": "The domain of the site."
          },
          "$name": {
            "type": "string",
            "description": "The name of the user."
          },
          "$phone": {
            "type": "string",
            "description": "The phone number of the user."
          },
          "$referrer_user_id": {
            "type": "string",
            "description": "The user ID of the referrer."
          },
          "$payment_methods": {
            "type": "array",
            "description": "The payment methods associated with this event.",
            "items": {
              "$ref": "#/components/schemas/PaymentMethod"
            }
          },
          "$promotions": {
            "type": "array",
            "description": "The promotions applied.",
            "items": {
              "$ref": "#/components/schemas/Promotion"
            }
          }
        },
        "additionalProperties": true
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "$payment_type": {
            "type": "string",
            "description": "The type of payment method.",
            "enum": [
              "$cash",
              "$check",
              "$credit_card",
              "$debit_card",
              "$digital_wallet",
              "$electronic_fund_transfer",
              "$financing",
              "$gift_card",
              "$money_order",
              "$points",
              "$store_credit",
              "$third_party_processor",
              "$voucher",
              "$sepa_credit",
              "$sepa_instant_credit",
              "$sepa_direct_debit",
              "$ach_credit",
              "$ach_debit",
              "$wire_credit",
              "$wire_debit",
              "$crypto_currency"
            ]
          },
          "$payment_gateway": {
            "type": "string",
            "description": "The payment gateway used."
          },
          "$card_bin": {
            "type": "string",
            "description": "The first six digits of the credit card number."
          },
          "$card_last4": {
            "type": "string",
            "description": "The last four digits of the credit card number."
          },
          "$avs_result_code": {
            "type": "string",
            "description": "The AVS result code."
          },
          "$cvv_result_code": {
            "type": "string",
            "description": "The CVV result code."
          },
          "$stripe_cvc_check": {
            "type": "string",
            "description": "The Stripe CVC check result."
          },
          "$stripe_address_line1_check": {
            "type": "string",
            "description": "The Stripe address line 1 check result."
          },
          "$stripe_address_zip_check": {
            "type": "string",
            "description": "The Stripe address zip check result."
          },
          "$stripe_funding": {
            "type": "string",
            "description": "The Stripe funding type."
          },
          "$stripe_brand": {
            "type": "string",
            "description": "The Stripe card brand."
          }
        },
        "additionalProperties": true
      },
      "Address": {
        "type": "object",
        "properties": {
          "$name": {
            "type": "string",
            "description": "Name associated with the address."
          },
          "$phone": {
            "type": "string",
            "description": "Phone number associated with the address."
          },
          "$address_1": {
            "type": "string",
            "description": "Street address line 1."
          },
          "$address_2": {
            "type": "string",
            "description": "Street address line 2."
          },
          "$city": {
            "type": "string",
            "description": "City."
          },
          "$region": {
            "type": "string",
            "description": "Region or state."
          },
          "$country": {
            "type": "string",
            "description": "ISO 3166 country code."
          },
          "$zipcode": {
            "type": "string",
            "description": "Postal or zip code."
          }
        },
        "additionalProperties": true
      },
      "Item": {
        "type": "object",
        "properties": {
          "$item_id": {
            "type": "string",
            "description": "The ID of the item."
          },
          "$product_title": {
            "type": "string",
            "description": "The title of the product."
          },
          "$price": {
            "type": "integer",
            "format": "int64",
            "description": "The price of the item in micros."
          },
          "$currency_code": {
            "type": "string",
            "description": "The ISO 4217 currency code."
          },
          "$quantity": {
            "type": "integer",
            "description": "The quantity of the item."
          },
          "$upc": {
            "type": "string",
            "description": "The UPC of the item."
          },
          "$sku": {
            "type": "string",
            "description": "The SKU of the item."
          },
          "$isbn": {
            "type": "string",
            "description": "The ISBN of the item."
          },
          "$brand": {
            "type": "string",
            "description": "The brand of the item."
          },
          "$manufacturer": {
            "type": "string",
            "description": "The manufacturer of the item."
          },
          "$category": {
            "type": "string",
            "description": "The category of the item."
          },
          "$tags": {
            "type": "array",
            "description": "Tags applied to the item.",
            "items": {
              "type": "string"
            }
          },
          "$color": {
            "type": "string",
            "description": "The color of the item."
          },
          "$size": {
            "type": "string",
            "description": "The size of the item."
          }
        },
        "additionalProperties": true
      },
      "Browser": {
        "type": "object",
        "properties": {
          "$user_agent": {
            "type": "string",
            "description": "The user agent string of the browser."
          },
          "$accept_language": {
            "type": "string",
            "description": "The accept language header from the browser."
          },
          "$content_language": {
            "type": "string",
            "description": "The content language header."
          }
        },
        "additionalProperties": true
      },
      "App": {
        "type": "object",
        "properties": {
          "$os": {
            "type": "string",
            "description": "The operating system of the app."
          },
          "$os_version": {
            "type": "string",
            "description": "The operating system version."
          },
          "$device_manufacturer": {
            "type": "string",
            "description": "The device manufacturer."
          },
          "$device_model": {
            "type": "string",
            "description": "The device model."
          },
          "$device_unique_id": {
            "type": "string",
            "description": "The unique identifier of the device."
          },
          "$app_name": {
            "type": "string",
            "description": "The name of the app."
          },
          "$app_version": {
            "type": "string",
            "description": "The version of the app."
          },
          "$client_language": {
            "type": "string",
            "description": "The client language setting."
          }
        },
        "additionalProperties": true
      },
      "Promotion": {
        "type": "object",
        "properties": {
          "$promotion_id": {
            "type": "string",
            "description": "The ID of the promotion."
          },
          "$status": {
            "type": "string",
            "description": "The status of the promotion.",
            "enum": [
              "$success",
              "$failure"
            ]
          },
          "$failure_reason": {
            "type": "string",
            "description": "The reason for promotion failure.",
            "enum": [
              "$already_used",
              "$invalid_code",
              "$not_applicable",
              "$expired"
            ]
          },
          "$description": {
            "type": "string",
            "description": "A description of the promotion."
          },
          "$referrer_user_id": {
            "type": "string",
            "description": "The user ID of the referrer."
          },
          "$discount": {
            "$ref": "#/components/schemas/Discount"
          }
        },
        "additionalProperties": true
      },
      "Discount": {
        "type": "object",
        "properties": {
          "$amount": {
            "type": "integer",
            "format": "int64",
            "description": "The discount amount in micros."
          },
          "$currency_code": {
            "type": "string",
            "description": "The ISO 4217 currency code."
          },
          "$percentage_off": {
            "type": "number",
            "format": "double",
            "description": "The percentage off as a decimal."
          },
          "$minimum_purchase_amount": {
            "type": "integer",
            "format": "int64",
            "description": "The minimum purchase amount in micros required for the discount."
          }
        },
        "additionalProperties": true
      },
      "EventResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "description": "Status code. 0 indicates success."
          },
          "error_message": {
            "type": "string",
            "description": "A human-readable description of the status."
          },
          "request": {
            "type": "object",
            "description": "An echo of the request that was sent.",
            "additionalProperties": true
          },
          "score_response": {
            "$ref": "#/components/schemas/ScoreResponse"
          }
        }
      },
      "ScoreResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "description": "Status code. 0 indicates success."
          },
          "error_message": {
            "type": "string",
            "description": "A human-readable description of the status."
          },
          "user_id": {
            "type": "string",
            "description": "The user ID that was scored."
          },
          "scores": {
            "type": "object",
            "description": "A map of abuse type to score details.",
            "additionalProperties": {
              "$ref": "#/components/schemas/ScoreDetail"
            }
          },
          "latest_labels": {
            "type": "object",
            "description": "The latest labels applied to the user.",
            "additionalProperties": true
          },
          "workflow_statuses": {
            "type": "array",
            "description": "Workflow statuses triggered by the event.",
            "items": {
              "$ref": "#/components/schemas/WorkflowStatus"
            }
          }
        }
      },
      "ScoreDetail": {
        "type": "object",
        "properties": {
          "score": {
            "type": "number",
            "format": "double",
            "description": "The fraud score between 0.0 and 1.0."
          },
          "percentiles": {
            "type": "object",
            "description": "Score percentile information.",
            "additionalProperties": true
          },
          "reasons": {
            "type": "array",
            "description": "Reasons contributing to the score.",
            "items": {
              "$ref": "#/components/schemas/ScoreReason"
            }
          }
        }
      },
      "ScoreReason": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the reason."
          },
          "value": {
            "type": "string",
            "description": "The value associated with the reason."
          },
          "details": {
            "type": "object",
            "description": "Additional detail about the reason.",
            "additionalProperties": true
          }
        }
      },
      "WorkflowStatus": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The workflow run ID."
          },
          "state": {
            "type": "string",
            "description": "The state of the workflow run."
          },
          "config": {
            "type": "object",
            "description": "The workflow configuration.",
            "additionalProperties": true
          },
          "config_display_name": {
            "type": "string",
            "description": "The display name of the workflow configuration."
          },
          "abuse_types": {
            "type": "array",
            "description": "The abuse types targeted by this workflow.",
            "items": {
              "type": "string"
            }
          },
          "entity": {
            "type": "object",
            "description": "The entity the workflow was applied to.",
            "properties": {
              "id": {
                "type": "string"
              },
              "type": {
                "type": "string"
              }
            }
          },
          "history": {
            "type": "array",
            "description": "The execution history of the workflow.",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "ApplyDecisionRequest": {
        "type": "object",
        "required": [
          "decision_id",
          "source"
        ],
        "properties": {
          "decision_id": {
            "type": "string",
            "description": "The ID of the decision to apply."
          },
          "source": {
            "type": "string",
            "description": "The source of the decision.",
            "enum": [
              "MANUAL_REVIEW",
              "AUTOMATED_RULE",
              "CHARGEBACK"
            ]
          },
          "analyst": {
            "type": "string",
            "description": "The analyst who made the decision."
          },
          "description": {
            "type": "string",
            "description": "A description of why the decision was made."
          },
          "time": {
            "type": "integer",
            "format": "int64",
            "description": "The time the decision was made in unix timestamp (milliseconds)."
          }
        }
      },
      "ApplyDecisionResponse": {
        "type": "object",
        "properties": {
          "entity": {
            "type": "object",
            "description": "The entity the decision was applied to.",
            "properties": {
              "id": {
                "type": "string",
                "description": "The entity ID."
              },
              "type": {
                "type": "string",
                "description": "The entity type (user, order, session)."
              }
            }
          },
          "decision": {
            "type": "object",
            "description": "The decision that was applied.",
            "properties": {
              "id": {
                "type": "string",
                "description": "The decision ID."
              }
            }
          },
          "time": {
            "type": "integer",
            "format": "int64",
            "description": "The time the decision was applied."
          }
        }
      },
      "EntityDecisionsResponse": {
        "type": "object",
        "properties": {
          "decisions": {
            "type": "array",
            "description": "The list of decisions applied to the entity.",
            "items": {
              "$ref": "#/components/schemas/DecisionRecord"
            }
          }
        }
      },
      "DecisionRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The decision ID."
          },
          "category": {
            "type": "string",
            "description": "The category of the decision (e.g., BLOCK, WATCH, ACCEPT)."
          },
          "entity_type": {
            "type": "string",
            "description": "The entity type the decision applies to."
          },
          "abuse_type": {
            "type": "string",
            "description": "The abuse type the decision addresses."
          },
          "source": {
            "type": "string",
            "description": "The source of the decision."
          },
          "description": {
            "type": "string",
            "description": "The description of the decision."
          },
          "time": {
            "type": "integer",
            "format": "int64",
            "description": "The time the decision was created."
          }
        }
      },
      "ListDecisionsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "description": "The list of decisions.",
            "items": {
              "$ref": "#/components/schemas/DecisionRecord"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "Whether there are more results to fetch."
          },
          "total_results": {
            "type": "integer",
            "description": "The total number of results."
          }
        }
      },
      "LabelRequest": {
        "type": "object",
        "properties": {
          "$api_key": {
            "type": "string",
            "description": "Your Sift API key."
          },
          "$is_bad": {
            "type": "boolean",
            "description": "Whether the user is fraudulent."
          },
          "$abuse_type": {
            "type": "string",
            "description": "The type of abuse.",
            "enum": [
              "payment_abuse",
              "account_abuse",
              "content_abuse",
              "promotion_abuse",
              "account_takeover",
              "legacy"
            ]
          },
          "$description": {
            "type": "string",
            "description": "A description of why the label was applied."
          },
          "$source": {
            "type": "string",
            "description": "The source of the label.",
            "enum": [
              "$automated",
              "$manual_review"
            ]
          },
          "$analyst": {
            "type": "string",
            "description": "The analyst who applied the label."
          }
        }
      },
      "SendVerificationRequest": {
        "type": "object",
        "required": [
          "$user_id",
          "$send_to",
          "$verification_type"
        ],
        "properties": {
          "$api_key": {
            "type": "string",
            "description": "Your Sift API key."
          },
          "$user_id": {
            "type": "string",
            "description": "The user ID to send the verification to."
          },
          "$send_to": {
            "type": "string",
            "description": "The phone number or email to send the verification to."
          },
          "$verification_type": {
            "type": "string",
            "description": "The type of verification to send.",
            "enum": [
              "$sms",
              "$email",
              "$whatsapp"
            ]
          },
          "$brand_name": {
            "type": "string",
            "description": "The brand name to include in the verification message."
          },
          "$language": {
            "type": "string",
            "description": "The language for the verification message (ISO 639-1)."
          },
          "$event": {
            "type": "object",
            "description": "The event associated with this verification.",
            "additionalProperties": true
          },
          "$site_country": {
            "type": "string",
            "description": "The country the site is operating in."
          }
        }
      },
      "ResendVerificationRequest": {
        "type": "object",
        "required": [
          "$user_id"
        ],
        "properties": {
          "$api_key": {
            "type": "string",
            "description": "Your Sift API key."
          },
          "$user_id": {
            "type": "string",
            "description": "The user ID to resend the verification to."
          },
          "$verified_event": {
            "type": "string",
            "description": "The event type associated with the original verification."
          },
          "$verified_entity_id": {
            "type": "string",
            "description": "The entity ID associated with the original verification."
          }
        }
      },
      "CheckVerificationRequest": {
        "type": "object",
        "required": [
          "$user_id",
          "$code"
        ],
        "properties": {
          "$api_key": {
            "type": "string",
            "description": "Your Sift API key."
          },
          "$user_id": {
            "type": "string",
            "description": "The user ID to check the verification for."
          },
          "$code": {
            "type": "string",
            "description": "The verification code to check."
          },
          "$verified_event": {
            "type": "string",
            "description": "The event type associated with the verification."
          },
          "$verified_entity_id": {
            "type": "string",
            "description": "The entity ID associated with the verification."
          }
        }
      },
      "BaseResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "description": "Status code. 0 indicates success."
          },
          "error_message": {
            "type": "string",
            "description": "A human-readable description of the status."
          },
          "request": {
            "type": "object",
            "description": "An echo of the request that was sent.",
            "additionalProperties": true
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "description": "Non-zero status code indicating an error. Common codes: -4 (rate limited), -5 (invalid field), 51 (invalid API key), 52 (invalid event), 53 (missing field), 54 (no events), 55 (user not found), 60 (rate limited), 104 (invalid API version)."
          },
          "error_message": {
            "type": "string",
            "description": "A human-readable description of the error."
          },
          "request": {
            "type": "object",
            "description": "An echo of the request that was sent.",
            "additionalProperties": true
          }
        }
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Events",
      "description": "Send event data to Sift for fraud detection"
    },
    {
      "name": "Scores",
      "description": "Retrieve and rescore user fraud scores"
    },
    {
      "name": "Decisions",
      "description": "Apply and retrieve decisions on users, orders, and sessions"
    },
    {
      "name": "Labels",
      "description": "Label and unlabel users (deprecated, use Decisions API instead)"
    },
    {
      "name": "Verification",
      "description": "Send, resend, and check user verification codes"
    }
  ]
}