{
  "openapi": "3.0.3",
  "info": {
    "version": "3.0.0",
    "description": "The Sketchfab REST API provide access to read and write Sketchfab data. Users are authentified with their Sketchfab API Token or OAuth2 credentials. Responses are formatted in JSON. Inputs are in JSON unless specified otherwise.\n\n## How to make authenticated requests\n\nSome endpoints require users to be authenticated. Users can log in with OAuth2 (preferred), or an API Token.\nWhen an endpoint requires authentication, you need to send an extra HTTP header:\n\n* for OAuth2: `Authorization: Bearer {INSERT_OAUTH_ACCESS_TOKEN_HERE}`\n* for API Token: `Authorization: Token {INSERT_API_TOKEN_HERE}`\n\nSome model endpoints referring to password-protected models require a password encoded in base64 in request header: `x-skfb-model-pwd: {base64(THE_PASSWORD)}`\n\nSee the [Sketchfab Login (OAuth2) documentation](https://sketchfab.com/developers/oauth) for more information on authentication.\n\n## Pagination\n\nWhen a request gives many results, results are paginated using cursors.\nEach response will contain these fields you can use to make subsequent requests:\n\n* next: full URL containing the next results.\n* previous: full URL containing the previous results.\n* cursors: an object containing the previous and next cursor that you can use to build the URL to the previous/next results.\n\nBy default, pages contain 24 items. You can use the `count` parameter to change the number of items per page. This parameter is capped to 24: it will be ignored if a higher value is passed; the default value will be applied instead.\n\n## Date format\n\nDates are formatted using the ISO 8601 format.\n\n## Limits and quotas\n\nCalls to the API can be throttled to limit abuse. When your application is being throttled, it will\nreceive a `429 Too Many Requests` response. This means that you must wait before making more requests.\n",
    "title": "Sketchfab API",
    "x-jentic-source-url": "https://docs.sketchfab.com/data-api/v3/swagger.json"
  },
  "servers": [
    {
      "url": "https://api.sketchfab.com"
    }
  ],
  "paths": {
    "/v3/orgs/{orgUid}": {
      "get": {
        "description": "Returns the detail of an organization. Can take either the organization UID (orgUid) or name preceded by a @ (@orgName).",
        "tags": [
          "orgs"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgDetailResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      },
      "parameters": [
        {
          "name": "orgUid",
          "in": "path",
          "description": "The organization UID",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "patch": {
        "description": "Returns the detail of an organization. Can take either the organization UID (orgUid) or name preceded by a @ (@orgName).",
        "tags": [
          "orgs"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "biography": {
                    "type": "string",
                    "description": "Updates the organizations biography"
                  },
                  "city": {
                    "type": "string",
                    "description": "Updates the organizations city"
                  },
                  "country": {
                    "type": "string",
                    "description": "Updates the organnizations country"
                  },
                  "displayName": {
                    "type": "string",
                    "description": "Updates the organnizations display name"
                  },
                  "twitterUsername": {
                    "type": "string",
                    "description": "Updates the organnizations twitter username"
                  },
                  "facebookUsername": {
                    "type": "string",
                    "description": "Updates the organnizations facebook username"
                  },
                  "linkedinUsername": {
                    "type": "string",
                    "description": "Updates the organnizations linkedin username"
                  },
                  "tagline": {
                    "type": "string",
                    "description": "Updates the organnizations tagline"
                  },
                  "website": {
                    "type": "string",
                    "description": "Updates the organnizations website"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Permission Denied"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      }
    },
    "/v3/me/subscriptions/{uid}": {
      "parameters": [
        {
          "name": "uid",
          "in": "path",
          "description": "The collection UID",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "description": "Unsubscribes to a collection.",
        "tags": [
          "me",
          "collections"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      }
    },
    "/v3/models/{uid}/transfer-to-org": {
      "post": {
        "description": "Move a model from an individual account to an organization",
        "tags": [
          "models",
          "orgs"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "org": {
                    "type": "string",
                    "description": "The organization UID"
                  },
                  "project": {
                    "type": "string",
                    "description": "The project UID"
                  }
                },
                "required": [
                  "org",
                  "project"
                ]
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request. Model cannot be transfered to the org."
          },
          "401": {
            "description": "Unauthorized. User token is not valid or missing."
          },
          "403": {
            "description": "Permission Denied"
          },
          "404": {
            "description": "Not Found. Model does not exist."
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgModelDetailResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. You must wait before making requests again."
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      },
      "parameters": [
        {
          "name": "uid",
          "in": "path",
          "description": "The model UID",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v3/orgs/{orgUid}/matcaps/{matcapUid}": {
      "delete": {
        "description": "Deletes a matcap in the given organization. Can take either the organization UID (orgUid) or name preceded by a @ (@orgName).",
        "tags": [
          "orgs",
          "matcaps"
        ],
        "responses": {
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          },
          "403": {
            "description": "Permission Denied"
          },
          "404": {
            "description": "Not Found"
          },
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      },
      "parameters": [
        {
          "name": "orgUid",
          "in": "path",
          "description": "The organization UID",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "matcapUid",
          "in": "path",
          "description": "The matcap UID",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Retrieve a matcap in the given organization. Can take either the organization UID (orgUid) or name preceded by a @ (@orgName).",
        "tags": [
          "orgs",
          "matcaps"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgMatcapDetail"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          },
          "403": {
            "description": "Permission Denied"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      }
    },
    "/v3/users": {
      "get": {
        "description": "Returns a list of users.",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "dateJoined",
                "-dateJoined",
                "followerCount",
                "-followerCount",
                "modelCount",
                "-modelCount"
              ]
            }
          },
          {
            "name": "account",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "free",
                "pro",
                "biz"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/comments": {
      "post": {
        "description": "Creates a comment",
        "tags": [
          "comments"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "<a href=\"#/models\" target=\"_blank\">Model</a> (uid) to comment"
                  },
                  "body": {
                    "type": "string",
                    "description": "Sets a body"
                  }
                },
                "required": [
                  "model",
                  "body"
                ]
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponse"
                }
              }
            },
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      },
      "get": {
        "description": "Returns a list of comments from public, published models",
        "tags": [
          "comments"
        ],
        "parameters": [
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sorts results",
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "-createdAt"
              ]
            }
          },
          {
            "name": "model",
            "in": "query",
            "description": "Retrieves comments of a model (urlid)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "Retrieves comments of a <a href=\"#!/users/\" target=\"_blank\">user</a> (username)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/collections": {
      "post": {
        "description": "Creates a collection.",
        "tags": [
          "collections"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Sets a name"
                  },
                  "description": {
                    "type": "string",
                    "description": "Sets a description"
                  },
                  "models": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Sets <a href=\"#/models\" target=\"_blank\">models</a> (uid)"
                  }
                },
                "required": [
                  "name",
                  "description"
                ]
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponse"
                }
              }
            },
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      },
      "get": {
        "description": "Returns a list of collections",
        "tags": [
          "collections"
        ],
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "description": "Retrieves collections created by <a href=\"#!/users/\" target=\"_blank\">user</a> (username)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uids",
            "in": "query",
            "description": "Retrieves collections by uid",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "created_since",
            "in": "query",
            "description": "Retrieves collections created since a date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "restricted",
            "in": "query",
            "description": "Retrieves restricted collections (off by default)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "-createdAt",
                "subscriberCount",
                "-subscriberCount"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/me": {
      "get": {
        "description": "Returns your profile",
        "tags": [
          "me",
          "users"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      },
      "patch": {
        "description": "Updates your profile.",
        "tags": [
          "me",
          "users"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "description": "Updates your password. Needs passwordConfirmation"
                  },
                  "passwordConfirmation": {
                    "type": "string"
                  },
                  "skills": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Updates your <a href=\"#/skills\" target=\"_blank\">skills</a> (uid)"
                  },
                  "displayName": {
                    "type": "string",
                    "description": "Updates your display name"
                  },
                  "twitterUsername": {
                    "type": "string",
                    "description": "Updates your twitter username"
                  },
                  "facebookUsername": {
                    "type": "string",
                    "description": "Updates your facebook username"
                  },
                  "linkedinUsername": {
                    "type": "string",
                    "description": "Updates your linkedin username"
                  },
                  "biography": {
                    "type": "string",
                    "description": "Updates your bio"
                  },
                  "tagline": {
                    "type": "string",
                    "description": "Updates your tagline"
                  },
                  "website": {
                    "type": "string",
                    "description": "Updates your website"
                  },
                  "city": {
                    "type": "string",
                    "description": "Updates your city"
                  },
                  "country": {
                    "type": "string",
                    "description": "Updates your country"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          },
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      }
    },
    "/v3/orgs/{orgUid}/backgrounds": {
      "post": {
        "description": "Creates a new background in the given organization. Can take either the organization UID (orgUid) or name preceded by a @ (@orgName).",
        "tags": [
          "orgs",
          "backgrounds"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "file",
                    "description": "JPG or PNG image. Max 4mb"
                  }
                },
                "required": [
                  "image"
                ]
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponse"
                }
              }
            },
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Permission Denied"
          },
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      },
      "parameters": [
        {
          "name": "orgUid",
          "in": "path",
          "description": "The organization UID",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Returns a list of backgrounds from the given organization. Can take either the organization UID (orgUid) or name preceded by a @ (@orgName).",
        "tags": [
          "orgs",
          "backgrounds"
        ],
        "parameters": [
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "-createdAt"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgBackgroundListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      }
    },
    "/v3/models/{uid}": {
      "put": {
        "description": "Reuploads a model. Accepts multipart/form-data only.",
        "tags": [
          "models"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Sets a name"
                  },
                  "private": {
                    "type": "boolean",
                    "description": "Sets private (requires a pro plan or higher)"
                  },
                  "isInspectable": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enables 2D view in model inspector. All <a href=\"https://help.sketchfab.com/hc/en-us/articles/115004862686-Inspector\">downloadable models must have isInspectable enabled</a>."
                  },
                  "isAgeRestricted": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether the model has restricted content."
                  },
                  "password": {
                    "type": "string",
                    "description": "Sets a password (requires a pro plan or higher)"
                  },
                  "license": {
                    "type": "string",
                    "format": "test",
                    "description": "Sets a <a href=#!/licenses/ target='_blank'>license</a> (label). This makes the model downloadable to others. All <a href=\"https://help.sketchfab.com/hc/en-us/articles/115004862686-Inspector\">downloadable models must have isInspectable enabled</a>.\n"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Sets <a href=#!/tags/ target='_blank'>tags</a> (slug)"
                  },
                  "categories": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Sets <a href=#!/categories/ target='_blank'>categories</a> (slug)"
                  },
                  "isArEnabled": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enables AR for a model (requires a premium plan or higher)"
                  },
                  "isPublished": {
                    "type": "boolean",
                    "default": true,
                    "description": "Sets published after it is processed"
                  },
                  "description": {
                    "type": "string",
                    "description": "Sets a description"
                  },
                  "modelFile": {
                    "type": "file",
                    "description": "Model archive. Max 50mb for basic users, 200mb for pro users, 500mb for biz users"
                  }
                },
                "required": [
                  "modelFile"
                ]
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          },
          "403": {
            "description": "Permission Denied"
          },
          "404": {
            "description": "Not Found"
          },
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      },
      "get": {
        "description": "Returns the detail of a model",
        "tags": [
          "models"
        ],
        "parameters": [
          {
            "name": "x-skfb-model-pwd",
            "in": "header",
            "description": "Password when the model is password-protected",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelDetail"
                }
              }
            }
          },
          "403": {
            "description": "Permission Denied"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "patch": {
        "description": "Updates model information.",
        "tags": [
          "models"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Sets a name"
                  },
                  "private": {
                    "type": "boolean",
                    "description": "Sets private (requires a pro plan or higher)"
                  },
                  "isInspectable": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enables 2D view in model inspector. All <a href=\"https://help.sketchfab.com/hc/en-us/articles/115004862686-Inspector\">downloadable models must have isInspectable enabled</a>."
                  },
                  "isAgeRestricted": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether the model has restricted content."
                  },
                  "password": {
                    "type": "string",
                    "description": "Sets a password (requires a pro plan or higher)"
                  },
                  "license": {
                    "type": "string",
                    "format": "test",
                    "description": "Sets a <a href=#!/licenses/ target='_blank'>license</a> (slug). This makes the model downloadable to others. All <a href=\"https://help.sketchfab.com/hc/en-us/articles/115004862686-Inspector\">downloadable models must have isInspectable enabled</a>.\n"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Sets <a href=#!/tags/ target='_blank'>tags</a> (slug)"
                  },
                  "categories": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Sets <a href=#!/categories/ target='_blank'>categories</a> (slug)"
                  },
                  "isArEnabled": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enables AR for a model (requires a premium plan or higher)"
                  },
                  "isPublished": {
                    "type": "boolean",
                    "default": true,
                    "description": "Sets published after it is processed"
                  },
                  "hasCommentsDisabled": {
                    "type": "boolean",
                    "default": false,
                    "description": "Disables public comments for the model"
                  },
                  "description": {
                    "type": "string",
                    "description": "Sets a description"
                  },
                  "price": {
                    "type": "integer",
                    "description": "Sets a price. Your model must have either standard or editorial license."
                  },
                  "options": {
                    "type": "string",
                    "description": "Sets <a href=#!/models/patch_v3_models_uid_options target='_blank'>options</a>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          },
          "403": {
            "description": "Permission Denied"
          },
          "404": {
            "description": "Not Found"
          },
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      },
      "parameters": [
        {
          "name": "uid",
          "in": "path",
          "description": "The model UID",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "description": "Deletes one of your models",
        "tags": [
          "models"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      }
    },
    "/v3/me/environments": {
      "post": {
        "description": "Creates an environment (pro only). Accepts multipart/form-data only.",
        "tags": [
          "me",
          "environments"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Sets a name"
                  },
                  "environmentFile": {
                    "type": "file"
                  }
                },
                "required": [
                  "name",
                  "environmentFile"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponse"
                }
              }
            },
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Permission Denied"
          },
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      },
      "get": {
        "description": "Returns available environments for your models.",
        "tags": [
          "me",
          "environments"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      }
    },
    "/v3/users/{uid}": {
      "parameters": [
        {
          "name": "uid",
          "in": "path",
          "description": "The user UID",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Returns the detail of a user.",
        "tags": [
          "users"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDetail"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v3/me/backgrounds": {
      "post": {
        "description": "Creates a new background (requires a pro plan or higher). Accepts multipart/form-data only.",
        "tags": [
          "me",
          "backgrounds"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "file",
                    "description": "JPG or PNG image. Max 4mb"
                  }
                },
                "required": [
                  "image"
                ]
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponse"
                }
              }
            },
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Permission Denied"
          },
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      },
      "get": {
        "description": "Returns available backgrounds for your models",
        "tags": [
          "me",
          "backgrounds"
        ],
        "parameters": [
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "-createdAt"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackgroundResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      }
    },
    "/v3/models/{uid}/options": {
      "parameters": [
        {
          "name": "uid",
          "in": "path",
          "description": "The model UID",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "patch": {
        "description": "Updates the 3D options of a model",
        "tags": [
          "models"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "shading": {
                    "type": "string",
                    "enum": [
                      "lit",
                      "shadeless"
                    ],
                    "description": "Defines the shading type"
                  },
                  "background": {
                    "type": "string",
                    "description": "Defines the background used. Either a color, a <a href=\"#/backgrounds\" target=\"_blank\">background</a> (uid), an <a href=\"#/environment\" target=\"_blank\">environment</a> (uid) or transparent.\neg: {\"color\": \"#ffffff\"}, {\"environment\": \"uid\"}, {\"image\": \"uid\"} or {\"transparent\": 1}\n"
                  },
                  "orientation": {
                    "type": "string",
                    "description": "Either a 4x4 matrix or an angle with an axis.\neg: {\"axis\": [1, 1, 0], \"angle\": 34} or {\"matrix\": [0.1, 0.2, 0.3 ... ], \"axis\": [1, 1, 0], \"angle\": 34.42}\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          },
          "403": {
            "description": "Permission Denied"
          },
          "204": {
            "description": "No-Content"
          }
        }
      }
    },
    "/v3/tags/{slug}": {
      "parameters": [
        {
          "name": "slug",
          "in": "path",
          "description": "The tag slug",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Returns the detail of a tag",
        "tags": [
          "tags"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagRelated"
                }
              }
            }
          }
        }
      }
    },
    "/v3/me/subscriptions": {
      "post": {
        "description": "Subscribes to a collection.",
        "tags": [
          "me",
          "collections"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "collection": {
                    "type": "string",
                    "description": "The <a href=\"#/collections\" target=\"_blank\">collection</a> (uid) to subscribe to"
                  }
                },
                "required": [
                  "collection"
                ]
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponse"
                }
              }
            },
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      },
      "get": {
        "description": "Returns collections you subscribed to.",
        "tags": [
          "me",
          "collections"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      }
    },
    "/v3/orgs/{orgUid}/environments/{environmentUid}": {
      "patch": {
        "description": "Updates an environment in the given organization. Can take either the organization UID (orgUid) or name preceded by a @ (@orgName).",
        "tags": [
          "orgs",
          "environments"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Updates the name"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      },
      "delete": {
        "description": "Deletes an environment in the given organization. Can take either the organization UID (orgUid) or name preceded by a @ (@orgName).",
        "tags": [
          "orgs",
          "environments"
        ],
        "responses": {
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          },
          "403": {
            "description": "Permission Denied"
          },
          "404": {
            "description": "Not Found"
          },
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      },
      "parameters": [
        {
          "name": "orgUid",
          "in": "path",
          "description": "The organization UID",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "environmentUid",
          "in": "path",
          "description": "The environment UID",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Retrieve an environment in the given organization. Can take either the organization UID (orgUid) or name preceded by a @ (@orgName).",
        "tags": [
          "orgs",
          "environments"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgEnvironmentDetail"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          },
          "403": {
            "description": "Permission Denied"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      }
    },
    "/v3/collections/{uid}": {
      "get": {
        "description": "Returns the detail of a collection",
        "tags": [
          "collections"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionDetail"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "uid",
          "in": "path",
          "description": "The collection UID",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "patch": {
        "description": "Updates a collection",
        "tags": [
          "collections"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Updates the name"
                  },
                  "description": {
                    "type": "string",
                    "description": "Updates the description"
                  },
                  "models": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Sets <a href=\"#/models\" target=\"_blank\">models</a> (uid)"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/v3/comments/{uid}": {
      "parameters": [
        {
          "name": "uid",
          "in": "path",
          "description": "The comment UID",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "description": "Deletes one of your comments",
        "tags": [
          "comments"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      }
    },
    "/v3/me/likes": {
      "post": {
        "description": "Likes a model",
        "tags": [
          "me",
          "models",
          "likes"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "<a href=\"#/models\" target=\"_blank\">Model</a> (uid) to like"
                  }
                },
                "required": [
                  "model"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponse"
                }
              }
            },
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      },
      "get": {
        "tags": [
          "me",
          "models",
          "likes"
        ],
        "parameters": [
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sorts results.",
            "schema": {
              "type": "string",
              "enum": [
                "likedAt",
                "-likedAt"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LikeModelResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      }
    },
    "/v3/licenses": {
      "get": {
        "description": "Returns a list of licenses",
        "tags": [
          "licenses"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicensesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/models": {
      "post": {
        "description": "Uploads a new model. Accepts multipart/form-data only.",
        "tags": [
          "models"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Sets a name"
                  },
                  "private": {
                    "type": "boolean",
                    "description": "Sets private (requires a pro plan or higher)"
                  },
                  "isInspectable": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enables 2D view in model inspector. All <a href=\"https://help.sketchfab.com/hc/en-us/articles/115004862686-Inspector\">downloadable models must have isInspectable enabled</a>."
                  },
                  "password": {
                    "type": "string",
                    "description": "Sets a password (requires a pro plan or higher)"
                  },
                  "license": {
                    "type": "string",
                    "format": "test",
                    "description": "Sets a <a href=#!/licenses/ target='_blank'>license</a> (slug). This makes the model downloadable to others. All <a href=\"https://help.sketchfab.com/hc/en-us/articles/115004862686-Inspector\">downloadable models must have isInspectable enabled</a>."
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Sets <a href=#!/tags/ target='_blank'>tags</a> (slug)"
                  },
                  "categories": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Sets <a href=#!/categories/ target='_blank'>categories</a> (slug)"
                  },
                  "isArEnabled": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enables AR for a model (requires a premium plan or higher)"
                  },
                  "isPublished": {
                    "type": "boolean",
                    "default": true,
                    "description": "Sets published after it is processed"
                  },
                  "description": {
                    "type": "string",
                    "description": "Sets a description"
                  },
                  "modelFile": {
                    "type": "file",
                    "description": "Model archive. Max 50mb for basic users, 200mb for pro users, 500mb for biz users"
                  },
                  "options": {
                    "type": "string",
                    "description": "Sets <a href=#!/models/patch_v3_models_uid_options target='_blank'>options</a> after it is processed"
                  }
                },
                "required": [
                  "modelFile"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponse"
                }
              }
            },
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      },
      "get": {
        "description": "Returns a public, published list of models.",
        "tags": [
          "models"
        ],
        "parameters": [
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sorts results (likedAt is only usable with liked_by).",
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "-createdAt",
                "viewCount",
                "-viewCount",
                "likedAt",
                "-likedAt"
              ]
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "Retrieves models filtered by a <a href=\"#!/users/\" target=\"_blank\">user</a> (username)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Retrieves models filtered by <a href=\"#!/tags/\" target=\"_blank\">tags</a> (slug)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "categories",
            "in": "query",
            "description": "Retrieves models filtered by <a href=#!/categories/get_v3_categories target='_blank'>categories</a> (uid)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "liked_by",
            "in": "query",
            "description": "Retrieves models liked by a <a href=\"#!/users/\" target=\"_blank\">user</a> (username). This can't be used with other filters.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_face_count",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "max_vertex_count",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "published_since",
            "in": "query",
            "description": "Retrieves the models published after published_since (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "staffpicked",
            "in": "query",
            "description": "Retrieves staffpicked models",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "downloadable",
            "in": "query",
            "description": "Retrieves downloadable models",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "animated",
            "in": "query",
            "description": "Retrieves animated models",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "has_sound",
            "in": "query",
            "description": "Retrieves models with sound",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "restricted",
            "in": "query",
            "description": "Retrieves age restricted models (off by default)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "archives_flavours",
            "in": "query",
            "description": "If true, returns all archives flavours, listed by archive type, and sorted by texture resolution (descending). If false, only the texture with the highest reslution is returned for each archive type.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "available_archive_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "archives_max_size",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "archives_max_face_count",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "archives_max_vertex_count",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "archives_max_texture_count",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "archives_texture_max_resolution",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/me/account": {
      "get": {
        "description": "Returns account information of the logged user",
        "tags": [
          "users"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeAccount"
                }
              }
            }
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      }
    },
    "/v3/orgs/{orgUid}/environments": {
      "post": {
        "description": "Creates a new environment in the given organization. Can take either the organization UID (orgUid) or name preceded by a @ (@orgName).",
        "tags": [
          "orgs",
          "environments"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Sets a name"
                  },
                  "environmentFile": {
                    "type": "file"
                  }
                },
                "required": [
                  "name",
                  "environmentFile"
                ]
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponse"
                }
              }
            },
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Permission Denied"
          },
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      },
      "parameters": [
        {
          "name": "orgUid",
          "in": "path",
          "description": "The organization UID",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Returns a list of environments from the given organization. Can take either the organization UID (orgUid) or name preceded by a @ (@orgName).",
        "tags": [
          "orgs",
          "environments"
        ],
        "parameters": [
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "-createdAt"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgEnvironmentListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      }
    },
    "/v3/orgs/{orgUid}/tags": {
      "parameters": [
        {
          "name": "orgUid",
          "in": "path",
          "description": "The organization UID",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Returns a list of tags used by the given organization. Can take either the organization UID (orgUid) or name preceded by a @ (@orgName).",
        "tags": [
          "orgs",
          "tags"
        ],
        "parameters": [
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sorts projects by this param.",
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "-createdAt"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgTagsListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          },
          "403": {
            "description": "Permission Denied"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      }
    },
    "/v3/categories/{uid}": {
      "parameters": [
        {
          "name": "uid",
          "in": "path",
          "description": "The category UID",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Return the details of a category",
        "tags": [
          "categories"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoriesRelated"
                }
              }
            }
          }
        }
      }
    },
    "/v3/skills": {
      "get": {
        "description": "Returns the list of skills",
        "tags": [
          "skills"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/me/models/purchases": {
      "get": {
        "description": "Returns the list of models you bought on sketchfab's store",
        "tags": [
          "me",
          "models",
          "purchases"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Space separated keywords.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeModelResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      }
    },
    "/v3/collections/{uid}/models": {
      "post": {
        "description": "Adds models to a collection.",
        "tags": [
          "collections",
          "models"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "models": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Adds <a href=\"#/models\" target=\"_blank\">models</a> (uid)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponse"
                }
              }
            },
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Permission Denied"
          },
          "404": {
            "description": "Not found"
          },
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          }
        }
      },
      "get": {
        "description": "Returns a list of models for a collection",
        "tags": [
          "collections",
          "models"
        ],
        "parameters": [
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "-createdAt",
                "collectedAt",
                "-collectedAt"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionModelResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "parameters": [
        {
          "name": "uid",
          "in": "path",
          "description": "The collection UID",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "description": "Removes models from a collection",
        "tags": [
          "collections",
          "models"
        ],
        "parameters": [
          {
            "name": "models",
            "in": "query",
            "description": "Removes <a href=\"#/models\" target=\"_blank\">models</a> (uid)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          },
          "403": {
            "description": "Permission Denied"
          },
          "404": {
            "description": "Not found"
          },
          "204": {
            "description": "Success"
          }
        }
      }
    },
    "/v3/users/{uid}/followings": {
      "parameters": [
        {
          "name": "uid",
          "in": "path",
          "description": "The user UID",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Returns users followed by a user.",
        "tags": [
          "users",
          "relationships"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v3/models/{uid}/download": {
      "parameters": [
        {
          "name": "uid",
          "in": "path",
          "description": "The model UID",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Returns download information for downloadable models",
        "tags": [
          "models"
        ],
        "parameters": [
          {
            "name": "x-skfb-model-pwd",
            "in": "header",
            "description": "Model password when the model is password-protected",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request. Model is not downloadable."
          },
          "401": {
            "description": "Unauthorized. User token is not valid or missing."
          },
          "403": {
            "description": "Permission Denied"
          },
          "404": {
            "description": "Not Found. Model does not exist."
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelDownload"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. You must wait before making requests again."
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      }
    },
    "/v3/me/orgs": {
      "get": {
        "description": "Returns the list of orgs the current user belongs to",
        "tags": [
          "users",
          "orgs"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeOrgs"
                }
              }
            }
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      }
    },
    "/v3/search?type=collections": {
      "get": {
        "description": "Search in collections",
        "tags": [
          "search",
          "collections"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "Searches collections by <a href=\"#!/users/\" target=\"_blank\">user</a> (username)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Limit search to a specific period only (in days)",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                7,
                31
              ]
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "-createdAt",
                "modelCount",
                "subscriberCount"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionSearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/orgs/{orgUid}/models/{modelUid}/options": {
      "parameters": [
        {
          "name": "orgUid",
          "in": "path",
          "description": "TThe organization UID",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "modelUid",
          "in": "path",
          "description": "The model UID",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "patch": {
        "description": "Updates the 3D options of a model. Can take either the organization UID (orgUid) or name preceded by a @ (@orgName).",
        "tags": [
          "orgs"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "shading": {
                    "type": "string",
                    "enum": [
                      "lit",
                      "shadeless"
                    ],
                    "description": "Defines the shading type"
                  },
                  "background": {
                    "type": "string",
                    "description": "Defines the background used. Either a color, a <a href=\"#/backgrounds\" target=\"_blank\">background</a> (uid), an <a href=\"#/environment\" target=\"_blank\">environment</a> (uid) or transparent.\neg: {\"color\": \"#ffffff\"}, {\"environment\": \"uid\"}, {\"image\": \"uid\"} or {\"transparent\": 1}\n"
                  },
                  "orientation": {
                    "type": "string",
                    "description": "Either a 4x4 matrix or an angle with an axis.\neg: {\"axis\": [1, 1, 0], \"angle\": 34} or {\"matrix\": [0.1, 0.2, 0.3 ... ], \"axis\": [1, 1, 0], \"angle\": 34.42}\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          },
          "403": {
            "description": "Permission Denied"
          },
          "204": {
            "description": "No-Content"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      }
    },
    "/v3/me/matcaps": {
      "post": {
        "description": "Creates a new matcap",
        "tags": [
          "me",
          "matcaps"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "file",
                    "description": "JPG or PNG image. Max 4mb"
                  }
                },
                "required": [
                  "image"
                ]
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponse"
                }
              }
            },
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Permission Denied"
          },
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      },
      "get": {
        "description": "Returns a list of matcaps for your models",
        "tags": [
          "me",
          "matcaps"
        ],
        "parameters": [
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "-createdAt"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MatcapsList"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          },
          "403": {
            "description": "Permission Denied"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      }
    },
    "/v3/avatars/{uid}": {
      "parameters": [
        {
          "name": "uid",
          "in": "path",
          "description": "The avatar UID",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Returns a user avatar",
        "tags": [
          "avatars",
          "users"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvatarRelated"
                }
              }
            }
          }
        }
      }
    },
    "/v3/me/environments/{uid}": {
      "patch": {
        "description": "Updates an environment (requires a pro plan or higher).",
        "tags": [
          "me",
          "environments"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Updates the name"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      },
      "parameters": [
        {
          "name": "uid",
          "in": "path",
          "description": "The environment UID",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "description": "Deletes an environment (requires a pro plan or higher)",
        "tags": [
          "me",
          "environments"
        ],
        "responses": {
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          },
          "403": {
            "description": "Permission Denied"
          },
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      }
    },
    "/v3/skills/{slug}": {
      "parameters": [
        {
          "name": "slug",
          "in": "path",
          "description": "The skill slug",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Returns the detail of a skill",
        "tags": [
          "skills"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v3/orgs/{orgUid}/matcaps": {
      "post": {
        "description": "Creates a new matcap in the given organization. Can take either the organization UID (orgUid) or name preceded by a @ (@orgName).",
        "tags": [
          "orgs",
          "matcaps"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "file",
                    "description": "JPG or PNG image. Max 4mb"
                  }
                },
                "required": [
                  "image"
                ]
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponse"
                }
              }
            },
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Permission Denied"
          },
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      },
      "parameters": [
        {
          "name": "orgUid",
          "in": "path",
          "description": "The organization UID",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Returns a list of matcaps from the given organization. Can take either the organization UID (orgUid) or name preceded by a @ (@orgName).",
        "tags": [
          "orgs",
          "matcaps"
        ],
        "parameters": [
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "-createdAt"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgMatcapsListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          },
          "403": {
            "description": "Permission Denied"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      }
    },
    "/v3/users/{uid}/followers": {
      "parameters": [
        {
          "name": "uid",
          "in": "path",
          "description": "The user UID",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Returns the followers of a user.",
        "tags": [
          "users",
          "relationships"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v3/me/search?type=models": {
      "get": {
        "description": "Search and filters in your own models",
        "tags": [
          "me",
          "models"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Space separated keywords",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Searches models by <a href=\"#!/tags/\" target=\"_blank\">tags</a> (slug)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "categories",
            "in": "query",
            "description": "Searches models by categories (slug)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "processing_status",
            "in": "query",
            "description": "Searches models by processing status",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "processing",
                "succeeded",
                "failed"
              ],
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Limit search to a specific period only (in days)",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                7,
                31
              ]
            }
          },
          {
            "name": "downloadable",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "animated",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "staffpicked",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "sound",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "min_face_count",
            "in": "query",
            "description": "Minimum number of faces",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "max_face_count",
            "in": "query",
            "description": "Maximum number of faces",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pbr_type",
            "in": "query",
            "description": "Filter by PBR type. Set to `metalness` to search Metalness/Roughness models only. Set to `specular` to search Specular/Glossiness models only. Set to `true` to search PBR models only. Set to `false` to search non-PBR models only.",
            "schema": {
              "type": "string",
              "enum": [
                "false",
                "true",
                "metalness",
                "specular"
              ]
            }
          },
          {
            "name": "rigged",
            "in": "query",
            "description": "false by default. Set to true to search rigged models only. Set to false to search all models",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "collection",
            "in": "query",
            "description": "Searches models by collection (uid)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "How to sort results. When omitted, results are sorted by relevance",
            "schema": {
              "type": "string",
              "enum": [
                "likeCount",
                "-likeCount",
                "viewCount",
                "-viewCount",
                "publishedAt",
                "-publishedAt",
                "processedAt",
                "-processedAt"
              ]
            }
          },
          {
            "name": "file_format",
            "in": "query",
            "description": "Searches models by <a href='https://help.sketchfab.com/hc/en-us/articles/202508396-3D-File-Formats' target='_blank'>file format</a>. Ex: obj, fbx, blend...",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "license",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "by",
                "by-sa",
                "by-nd",
                "by-nc",
                "by-nc-sa",
                "by-nc-nd",
                "cc0",
                "ed",
                "st"
              ]
            }
          },
          {
            "name": "max_uv_layer_count",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "max_filesizes",
            "in": "query",
            "description": "DEPRECATED: Use available_archive_type and archives_max_size filters.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "archives_flavours",
            "in": "query",
            "description": "If true, returns all archives flavours, listed by archive type, and sorted by texture resolution (descending). If false, only the texture with the highest reslution is returned for each archive type.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Models matching the search",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelSearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/orgs/{orgUid}/backgrounds/{backgroundUid}": {
      "delete": {
        "description": "Deletes a background in the given organization. Can take either the organization UID (orgUid) or name preceded by a @ (@orgName).",
        "tags": [
          "orgs",
          "backgrounds"
        ],
        "responses": {
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          },
          "403": {
            "description": "Permission Denied"
          },
          "404": {
            "description": "Not Found"
          },
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      },
      "parameters": [
        {
          "name": "orgUid",
          "in": "path",
          "description": "The organization UID",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "backgroundUid",
          "in": "path",
          "description": "The background UID",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Retrieve a background in the given organization. Can take either the organization UID (orgUid) or name preceded by a @ (@orgName).",
        "tags": [
          "orgs",
          "backgrounds"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgBackgroundDetail"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          },
          "403": {
            "description": "Permission Denied"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      }
    },
    "/v3/me/followings/{uid}": {
      "parameters": [
        {
          "name": "uid",
          "in": "path",
          "description": "The user UID",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "description": "Un-follows a user.",
        "tags": [
          "me",
          "users",
          "relationships"
        ],
        "responses": {
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          },
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      }
    },
    "/v3/models/{uid}/archives/extra/latest": {
      "get": {
        "description": "Retrieve a model's extra archive.",
        "tags": [
          "models"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveExtra"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Permission Denied"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      },
      "parameters": [
        {
          "name": "uid",
          "in": "path",
          "description": "The model UID",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "description": "Delete a model's extra archive, only for orgs and users with a paid plan.",
        "tags": [
          "models"
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Authentication credentials were not provided or do not match"
          },
          "403": {
            "description": "Permission Denied"
          },
          "404": {
            "description": "Not Found"
          },
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      }
    },
    "/v3/search?type=models": {
      "get": {
        "description": "Search and filters in models",
        "tags": [
          "search",
          "models"
        ],
        "parameters": [
          {
            "name": "q",
[...]
