{
  "openapi": "3.0.3",
  "info": {
    "version": "v1",
    "title": "Netlas API",
    "termsOfService": "https://netlas.io/legal/terms_and_conditions/",
    "contact": {
      "name": "Netlas LLC",
      "url": "https://netlas.io/"
    },
    "license": {
      "name": "Netlas API & Data License Agreement",
      "url": "https://netlas.io/legal/license_agreement/"
    },
    "description": "## Environment\n\nTo interact with the Netlas API, you will need an API client or at least the `curl` command-line utility. Alternatively, you can use the **Netlas CLI tool** or the **Netlas Python SDK**.\n\nThis specification includes code samples for all of these options.\n\n### Setting Up an API Client\n\nMost modern API clients support **OpenAPI v3.1** imports. Click **Download** at the top of this page, then import the file into your preferred API client.\n\n✅ We've confirmed that imports work smoothly in the following clients:\n\n| API&nbsp;Client   |     Steps to Import                                                                                   |\n|-------------------|-------------------------------------------------------------------------------------------------------|\n| **<a href=\"https://www.postman.com/\" target=\"_blank\">Postman</a>** | In *Import Settings*, set *Folder Organization* to *Tags* for better structure. |\n| **<a href=\"https://insomnia.rest/\" target=\"_blank\">Insomnia</a>**  | *Collections* → *Create*, then click the collection name in the top-left corner and choose *Import From File*. |\n| **<a href=\"https://www.usebruno.com/\" target=\"_blank\">Bruno</a>**  | Click *Import Collection* → *OpenAPI V3 File*, then choose a local folder to store the workspace. |\n| **<a href=\"https://client.scalar.com/\" target=\"_blank\">Scalar</a>** | Don’t forget to configure the API key in the collection's authentication settings. |\n\n⚠️ For tools that still expect **OpenAPI 3.0**, use the <a href=\"https://cdn.netlas.io/netlas-openapi-3.0.json\" target=\"_blank\">OpenAPI 3.0 JSON</a>, for example with Thunder Client, RapidAPI for Mac (Paw), and other older OpenAPI-based import and code generation workflows.\n\n### Netlas CLI Tool\n\nThe Netlas CLI tool is ideal for users who prefer the command line or Bash scripting. It allows you to interact with Netlas just like any other terminal application.\n\nTo install the CLI via <a href=\"https://brew.sh\" target=\"_blank\">Homebrew</a>:\n\n```bash\nbrew tap netlas-io/netlas \nbrew install netlas\n```\n\nOr install it using <a href=\"https://pipx.pypa.io\" target=\"_blank\">pipx</a>:\n\n```bash\npipx install netlas\n```\n\n### Netlas Python SDK\n\nThe Netlas Python SDK is designed for Python developers. It provides a convenient way to work with the API, with built-in handling for common errors.\n\nInstall the SDK using pip:\n\n```bash\npip install netlas\n```\n\n> The Netlas CLI tool is included with the SDK, so it becomes available automatically after SDK installation.\nBoth the Netlas Python SDK and CLI tool are open-source and available under the MIT license in the <a href=\"https://github.com/netlas-io/\" target=\"_blank\">Github Netlas repository</a>.\n\n<a href=\"https://github.com/netlas-io/\" target=\"_blank\"><img src=\"https://img.shields.io/badge/GitHub-Netlas--io-blue?logo=github\" alt=\"Netlas GitHub\"></a>\n\n\n## Authentication\nEach registered Netlas user receives a unique API key. You can find your API key on the <a href=\"https://app.netlas.io/profile/\" target=\"_blank\">profile page</a>, accessible from the top-right menu in the web application.\n\n![API-key access](/assets/images/api_key-d.png)\n\nInclude your API key as a **Bearer token** in the `Authorization` header to authorize your requests. The `curl` examples in this manual will work as-is if you export the API key as the `NETLAS_API_KEY` environment variable:\n\n```bash\nexport NETLAS_API_KEY=put_your_key_here\ncurl -X 'GET' \"https://app.netlas.io/api/host/\" \\\n  -H \"Authorization: Bearer $NETLAS_API_KEY\"\n```\n\nNetlas API authorization follows <a href=\"https://datatracker.ietf.org/doc/html/rfc6750\" target=\"_blank\">RFC 6750</a>, _The OAuth 2.0 Authorization Framework: Bearer Token Usage_.\n\n> The `X-API-Key` header was previously used for authentication and is still supported, but **considered deprecated** and may be removed in future versions.\n\nIf you are using the Netlas CLI or SDK, securely save your API key locally:\n\n```bash\nnetlas savekey \"YOUR_API_KEY\"\n```\n\nThe Netlas CLI tool automatically uses the saved key. \n\nTo fetch saved key in Python:\n\n```python\nimport netlas\napi_key = netlas.helpers.get_api_key()\n```\n⚠️ **FYI:** You may be eligible for a special subscription if you're using Netlas for educational purposes, building an integration, or writing for a blog or journal.<br><a href=\"https://netlas.io/pricing/#integrators\" target=\"_blank\">Read more →</a>\n\n\n## Rate Limits\n\nTo ensure fair usage and optimal performance, the Netlas API enforces the following rate limits:\n\n- **60 requests per minute** for search and count operations, excluding certificate searches.\n- **3 requests per minute** for search and count operations involving [certificate data collections](#tag/Certificates).\n\nIf these limits are exceeded, the API responds with __Error 429 (Too Many Requests)__ and includes a `Retry-After` header indicating the number of seconds to wait before retrying.\n\nThe Netlas CLI and SDK are configured by default to automatically handle rate limit errors. \nWhen using the SDK, you can customize this behavior by setting the `throttling` and `retry` parameters in the search methods.\nThis allows you to either disable automatic handling or specify the number of retry attempts.\n\nTo manage rate limiting manually you you can catch and handle the `ThrottlingError` exception in your code:\n\n```python\nimport netlas\nimport time\n\nnc = netlas.Netlas()\n\nfor i in range(65):\n    try:\n        nc.host(host=None, fields=[\"*\"], exclude_fields=True, throttling=False)\n    except netlas.ThrottlingError as e:\n        time.sleep(e.retry_after) # Wait for the specified time before retrying\n```\n\n⚠️ **Important:** Always handle Netlas API errors correctly. Ignoring rate limits or other errors may result in temporary access restrictions. Read more about blocking policy in the <a href=\"/faq/#error1006\">FAQ section</a>.\n",
    "x-jentic-source-url": "https://cdn.netlas.io/netlas-openapi-3.0.json"
  },
  "servers": [
    {
      "url": "https://app.netlas.io"
    }
  ],
  "paths": {
    "/api/host/{host}/": {
      "get": {
        "tags": [
          "Host Info"
        ],
        "operationId": "host",
        "security": [],
        "summary": "Host Summary",
        "description": "Retrieve the latest available data for `{host}`.\n",
        "parameters": [
          {
            "name": "host",
            "in": "path",
            "required": true,
            "description": "The IP address or domain name for which data should be retrieved.\n",
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ipv4"
                },
                {
                  "$ref": "#/components/schemas/domain"
                }
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/fields"
            }
          },
          {
            "name": "source_type",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/source_type"
            }
          },
          {
            "name": "public_indices_only",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/public_indices_only"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "__Host Summary__",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/HostResponseByIP"
                    },
                    {
                      "$ref": "#/components/schemas/HostResponseByDomain"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST"
          },
          "402": {
            "$ref": "#/components/responses/PAYMENT_REQUIRED"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR"
          },
          "504": {
            "$ref": "#/components/responses/TIMEOUT"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "# IP query example\ncurl -s -X GET \\\n    \"https://app.netlas.io/api/host/23.215.0.136/\" \\\n    -H \"Authorization: Bearer $NETLAS_API_KEY\"\n\n# Domain query example\ncurl -s -X GET \\\n    \"https://app.netlas.io/api/host/example.com/\" \\\n    -H \"Authorization: Bearer $NETLAS_API_KEY\"\n\n# Filtering output\ncurl -s -X GET \\\n\"https://app.netlas.io/api/host/google.com/\" \\\n  -G \\\n    --data-urlencode 'fields=whois.registrant.organization' \\\n    --data-urlencode 'source_type=include' \\\n  -H \"Authorization: Bearer $NETLAS_API_KEY\""
          },
          {
            "lang": "Netlas CLI",
            "source": "# IP query example\nnetlas host \"23.215.0.136\" -f json\n\n# Domain query example\nnetlas host \"example.com\"  -f json\n\n# Filtering output\nnetlas host \"google.com\" \\\n  --format json \\\n  --include \"whois.registrant.organization\""
          },
          {
            "lang": "Python",
            "source": "import netlas\nimport json\n\napi_key = netlas.helpers.get_api_key()\nnetlas_connection = netlas.Netlas(api_key)\n\n# IP query example\nip_info = netlas_connection.host(host=\"23.215.0.136\")\nprint(json.dumps(ip_info))\n\n# Domain query example\ndomain_info = netlas_connection.host(host=\"example.com\")\nprint(json.dumps(domain_info))\n\n# Filtering output\ndomain_info = netlas_connection.host(\n  host=\"google.com\", \n  fields=\"whois.registrant.organization\"\n)\nprint(json.dumps(domain_info))\n"
          }
        ]
      }
    },
    "/api/host/": {
      "get": {
        "tags": [
          "Host Info"
        ],
        "operationId": "hostSelf",
        "security": [],
        "summary": "Caller’s Host Summary",
        "description": "Retrieves the latest available data for the IP address of the client making the request.\n\nUse this method to obtain information about your own IP address.\n",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/fields"
            }
          },
          {
            "name": "source_type",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/source_type"
            }
          },
          {
            "name": "public_indices_only",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/public_indices_only"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "__Host Summary__",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostResponseByIP"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST"
          },
          "402": {
            "$ref": "#/components/responses/PAYMENT_REQUIRED"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR"
          },
          "504": {
            "$ref": "#/components/responses/TIMEOUT"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -s -X GET \\\n    \"https://app.netlas.io/api/host/\" \\\n    -H \"Authorization: Bearer $NETLAS_API_KEY\""
          },
          {
            "lang": "Netlas CLI",
            "source": "netlas host -f json"
          },
          {
            "lang": "Python",
            "source": "import netlas\nimport json\n\napi_key = netlas.helpers.get_api_key()\nnetlas_connection = netlas.Netlas(api_key)\n\nip_info = netlas_connection.host(host=None)\nprint(json.dumps(ip_info))\n"
          }
        ]
      }
    },
    "/api/responses/": {
      "get": {
        "tags": [
          "Responses"
        ],
        "operationId": "responsesSearch",
        "security": [],
        "summary": "Responses Search",
        "description": "Searches for `q` in the selected `indices` and returns up to 20 search results, starting from the `start+1` document.\n  \n❗️ This method allows retrieving only the first 10,000 search results.\n\nUse it when the expected number of results is relatively low or to craft and refine a query.\nUse the __Download__ endpoint to fetch results without pagination or quantity limitations.\n",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/q"
            },
            "examples": {
              "hostSearchExample": {
                "value": "host:example.com",
                "description": "responses for a specific host"
              },
              "ipRangeSearchExample": {
                "value": "ip:[1.1.1.1 TO 1.1.1.255]",
                "description": "responses for a specific IP range"
              },
              "protocolAndCountySearchExample": {
                "value": "protocol:ftp AND geo.country:VA",
                "description": "specific protocol and country"
              }
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/start"
            }
          },
          {
            "name": "indices",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/indices"
            },
            "description": "A list of [indices](#tag/Indices) where the search will be performed.\n\nℹ️ Unlike other search tools, Responses search does not have a default index.  \nIf `indices` is not specified, the search is conducted using the latest publicly available internet scan data, \nwhich is updated in real time.\n",
            "examples": {
              "DefaultIndiceSearch": {
                "value": [],
                "description": "Search in the latest data available"
              },
              "SearchInFewIndices": {
                "value": [
                  "2025-09-24",
                  "2025-09-02"
                ],
                "description": "Search in specific indices"
              },
              "SearchInPrivateIndices": {
                "value": [
                  "1764230724-u6lrerkpx"
                ],
                "description": "Search in private index"
              }
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/fields"
            },
            "example": "uri"
          },
          {
            "name": "source_type",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/source_type"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "__Search Results__",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesSearch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST"
          },
          "402": {
            "$ref": "#/components/responses/PAYMENT_REQUIRED"
          },
          "403": {
            "$ref": "#/components/responses/ACCESS_DENIED"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR"
          },
          "504": {
            "$ref": "#/components/responses/TIMEOUT"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -s -X GET \\\n    \"https://app.netlas.io/api/responses/\" \\\n    -G \\\n    --data-urlencode \"q=host:example.com\" \\\n    --data-urlencode \"fields=ip,uri\" \\\n    -H \"Authorization: Bearer $NETLAS_API_KEY\""
          },
          {
            "lang": "Netlas CLI",
            "source": "netlas search \"host:example.com\" \\\n    --include ip,uri \\\n    --format json"
          },
          {
            "lang": "Python",
            "source": "import netlas\nimport json\n\nquery = \"host:example.com\"\nfields = \"ip,uri\"\n\napi_key = netlas.helpers.get_api_key()\nnetlas_connection = netlas.Netlas(api_key)\n\nsearch_results = netlas_connection.search(query, fields=fields)\nprint(json.dumps(search_results))"
          }
        ]
      }
    },
    "/api/responses_count/": {
      "get": {
        "tags": [
          "Responses"
        ],
        "operationId": "responsesCount",
        "security": [],
        "summary": "Responses Count",
        "description": "Counts the number of documents matching the search query `q` in the selected `indices`.\n\n- If there are fewer than 1,000 results, the method returns the exact count.\n- If there are more than 1,000 results, the count is estimated with an error margin not exceeding 3%.\n",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/q"
            },
            "example": "ip:\"23.192.0.0/11\""
          },
          {
            "name": "indices",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/indices"
            },
            "description": "A list of [indices](#tag/Indices) where the search will be performed.\n\nℹ️ Unlike other search tools, Responses search does not have a default index.  \nIf `indices` is not specified, the search is conducted using the latest publicly available internet scan data, \nwhich is updated in real time.\n",
            "examples": {
              "DefaultIndiceSearch": {
                "value": [],
                "description": "Search in the latest data available"
              },
              "SearchInFewIndices": {
                "value": [
                  "2025-09-24",
                  "2025-09-02"
                ],
                "description": "Search in specific indices"
              },
              "SearchInPrivateIndices": {
                "value": [
                  "1764230724-u6lrerkpx"
                ],
                "description": "Search in private index"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "__Count__",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Count"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST"
          },
          "403": {
            "$ref": "#/components/responses/ACCESS_DENIED"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR"
          },
          "504": {
            "$ref": "#/components/responses/TIMEOUT"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -s -X GET \\\n    \"https://app.netlas.io/api/responses_count/\" \\\n    -G \\\n    --data-urlencode 'q=ip:\"23.192.0.0/11\"' \\\n    -H \"Authorization: Bearer $NETLAS_API_KEY\""
          },
          {
            "lang": "Netlas CLI",
            "source": "netlas count 'ip:\"23.192.0.0/11\"' -f json"
          },
          {
            "lang": "Python",
            "source": "import netlas\nimport json\n\nquery = \"ip:\\\"23.192.0.0/11\\\"\"\n\napi_key = netlas.helpers.get_api_key()\nnetlas_connection = netlas.Netlas(api_key)\n\ncount_results = netlas_connection.count(query)\nprint(json.dumps(count_results))"
          }
        ]
      }
    },
    "/api/responses/download/": {
      "post": {
        "tags": [
          "Responses"
        ],
        "operationId": "responsesDownload",
        "summary": "Responses Download",
        "description": "Retrieves `size` search results matching the query `q` in the selected `indices`.\n\nThe Netlas SDK and CLI tool additionally include a `download_all()` method and an `--all` key that allow you to query all available results.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DownloadPayload"
              },
              "example": {
                "q": "ip:\"23.192.0.0/11\"",
                "size": 100,
                "fields": [
                  "uri",
                  "host_type",
                  "port",
                  "prot4",
                  "prot7",
                  "protocol"
                ],
                "source_type": "include",
                "indices": [
                  "2025-09-24"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "__Search Results__",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesDownloadJSON"
                },
                "example": [
                  {
                    "data": {
                      "path": "/ClientPortal/Login.aspx",
                      "protocol": "https",
                      "prot4": "tcp",
                      "port": 443,
                      "ip": "23.218.66.148",
                      "host": "ww4.autotask.net",
                      "host_type": "domain",
                      "prot7": "http",
                      "ptr": [
                        "a23-218-66-148.deploy.static.akamaitechnologies.com"
                      ]
                    }
                  },
                  {
                    "data": {
                      "path": "/taxfreedom/",
                      "protocol": "http",
                      "prot4": "tcp",
                      "port": 80,
                      "ip": "23.218.68.10",
                      "host": "turbotax.intuit.com",
                      "host_type": "domain",
                      "prot7": "http",
                      "ptr": [
                        "a23-218-68-10.deploy.static.akamaitechnologies.com"
                      ]
                    }
                  },
                  {
                    "data": {
                      "path": "/taxfreedom/",
                      "protocol": "https",
                      "prot4": "tcp",
                      "port": 443,
                      "ip": "23.218.68.10",
                      "host": "turbotax.intuit.com",
                      "host_type": "domain",
                      "prot7": "http",
                      "ptr": [
                        "a23-218-68-10.deploy.static.akamaitechnologies.com"
                      ]
                    }
                  },
                  {
                    "data": {
                      "path": "/saml/login/8141776/87e9",
                      "protocol": "https",
                      "prot4": "tcp",
                      "port": 443,
                      "ip": "23.200.189.212",
                      "host": "lastpass.com",
                      "host_type": "domain",
                      "prot7": "http",
                      "ptr": [
                        "a23-200-189-212.deploy.static.akamaitechnologies.com"
                      ]
                    }
                  },
                  {
                    "data": {
                      "path": "/61b1ba49b79d/intresseanmlan-mi-ntverket-2018-ett-arbetsseminarium-workshop-med-dr-stephen/",
                      "protocol": "https",
                      "prot4": "tcp",
                      "port": 443,
                      "ip": "23.209.18.242",
                      "host": "mailchi.mp",
                      "host_type": "domain",
                      "prot7": "http",
                      "ptr": [
                        "a23-209-18-242.deploy.static.akamaitechnologies.com"
                      ]
                    }
                  }
                ]
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesDownloadCSV"
                },
                "example": "domain,host,host_type,ip,path,port,prot4,prot7,protocol,ptr\n,ww4.autotask.net,domain,23.218.66.148,/ClientPortal/Login.aspx,443,tcp,http,https,a23-218-66-148.deploy.static.akamaitechnologies.com\n,turbotax.intuit.com,domain,23.218.68.10,/taxfreedom/,80,tcp,http,http,a23-218-68-10.deploy.static.akamaitechnologies.com\n,turbotax.intuit.com,domain,23.218.68.10,/taxfreedom/,443,tcp,http,https,a23-218-68-10.deploy.static.akamaitechnologies.com\n,lastpass.com,domain,23.200.189.212,/saml/login/8141776/87e9,443,tcp,http,https,a23-200-189-212.deploy.static.akamaitechnologies.com\n,mailchi.mp,domain,23.209.18.242,/61b1ba49b79d/intresseanmlan-mi-ntverket-2018-ett-arbetsseminarium-workshop-med-dr-stephen/,443,tcp,http,https,a23-209-18-242.deploy.static.akamaitechnologies.com\n"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED"
          },
          "402": {
            "$ref": "#/components/responses/PAYMENT_REQUIRED"
          },
          "403": {
            "$ref": "#/components/responses/ACCESS_DENIED"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR"
          },
          "504": {
            "$ref": "#/components/responses/TIMEOUT"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -s -X POST \\\n    \"https://app.netlas.io/api/responses/download/\" \\\n    -H \"Content-Type: application/json\" \\\n    -H \"Authorization: Bearer $NETLAS_API_KEY\" \\\n    -d '{\n        \"q\": \"ip:\\\"23.192.0.0/11\\\"\",\n        \"fields\": [\"domain\", \"host\", \"host_type\", \"ip\", \"path\", \"port\", \"prot4\", \"prot7\", \"protocol\", \"ptr\"],\n        \"size\": 100,\n        \"source_type\": \"include\"\n    }'\n    "
          },
          {
            "lang": "Netlas CLI",
            "source": "netlas download \"ip:\\\"23.192.0.0/11\\\"\" \\\n    --include domain,host,host_type,ip,path,port,prot4,prot7,protocol,ptr \\\n    --count 100 # --all to download all results (no need to sprcify --count)\n    \n"
          },
          {
            "lang": "Python",
            "source": "import netlas\nimport json\n\nquery = \"ip:\\\"23.192.0.0/11\\\"\"\nfields = \"domain,host,host_type,ip,path,port,prot4,prot7,protocol,ptr\"\n\napi_key = netlas.helpers.get_api_key()\nnetlas_connection = netlas.Netlas(api_key)\n    \nfor r in netlas_connection.download(\n    query, fields, size=100\n    # use Netlas.download_all() to download all results\n    # (no need to sprcify size parameter)\n    ):\n    response = json.loads(r.decode(\"utf-8\"))\n    print(json.dumps(response))"
          }
        ]
      }
    },
    "/api/responses_facet/": {
      "get": {
        "tags": [
          "Responses"
        ],
        "operationId": "responsesFacet",
        "security": [],
        "summary": "Responses Facet Search",
        "description": "Searches for `q` in the selected `indices` and groups results by the `facets` field.\n",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/q"
            },
            "example": "ip:\"23.192.0.0/11\""
          },
          {
            "name": "facets",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/facets"
            },
            "example": "protocol"
          },
          {
            "name": "indices",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/indices"
            },
            "description": "A list of [indices](#tag/Indices) where the search will be performed.\n\nℹ️ Unlike other search tools, Responses search does not have a default index.  \nIf `indices` is not specified, the search is conducted using the latest publicly available internet scan data, \nwhich is updated in real time.\n",
            "examples": {
              "DefaultIndiceSearch": {
                "value": [],
                "description": "Search in the latest data available"
              },
              "SearchInFewIndices": {
                "value": [
                  "2025-09-24",
                  "2025-09-02"
                ],
                "description": "Search in specific indices"
              },
              "SearchInPrivateIndices": {
                "value": [
                  "1764230724-u6lrerkpx"
                ],
                "description": "Search in private index"
              }
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/facet_search_size"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "__Facet Search Results__",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FacetSearchResults"
                },
                "example": {
                  "aggregations": [
                    {
                      "key": [
                        "http"
                      ],
                      "doc_count": 1675766
                    },
                    {
                      "key": [
                        "https"
                      ],
                      "doc_count": 1161498
                    },
                    {
                      "key": [
                        "dns_tcp"
                      ],
                      "doc_count": 15834
                    },
                    {
                      "key": [
                        "dns"
                      ],
                      "doc_count": 14602
                    },
                    {
                      "key": [
                        "ssh"
                      ],
                      "doc_count": 973
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST"
          },
          "402": {
            "$ref": "#/components/responses/PAYMENT_REQUIRED"
          },
          "403": {
            "$ref": "#/components/responses/ACCESS_DENIED"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR"
          },
          "504": {
            "$ref": "#/components/responses/TIMEOUT"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -s -X GET \\\n    \"https://app.netlas.io/api/responses_facet/\" \\\n    -G \\\n    --data-urlencode 'q=ip:\"23.192.0.0/11\"' \\\n    --data-urlencode 'facets=protocol' \\\n    -H \"Authorization: Bearer $NETLAS_API_KEY\""
          },
          {
            "lang": "Netlas CLI",
            "source": "netlas stat 'ip:\"23.192.0.0/11\"' \\\n    --group_fields protocol \\\n    --format json"
          },
          {
            "lang": "Python",
            "source": "import netlas\nimport json\n\nquery = \"ip:\\\"23.192.0.0/11\\\"\"\n\napi_key = netlas.helpers.get_api_key()\nnetlas_connection = netlas.Netlas(api_key)\n\nresults = netlas_connection.stat(\n    query, group_fields=\"protocol\"\n)\nprint(json.dumps(results))"
          }
        ]
      }
    },
    "/api/domains/": {
      "get": {
        "tags": [
          "Domains"
        ],
        "operationId": "domainsSearch",
        "security": [],
        "summary": "Domains Search",
        "description": "Searches for `q` in the selected `indices` and returns up to 20 search results, starting from the `start+1` document.\n  \n❗️ This method allows retrieving only the first 10,000 search results.\n\nUse it when the expected number of results is relatively low or to craft and refine a query.\nUse the __Download__ endpoint to fetch results without pagination or quantity limitations.\n",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/q"
            },
            "examples": {
              "domainSearchExample": {
                "value": "domain:*.example.com a:*",
                "description": "subdomains of example.com with any A record"
              },
              "regexSearchExample": {
                "value": "domain:/(.*\\.)?paypal\\.[a-z0-9-]*/",
                "description": "domains and subdomains named \"paypal\" (regex)"
              },
              "nsSearchExample": {
                "value": "ns:*.cloudflare.com",
                "description": "domains using Cloudflare name servers"
              }
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/start"
            }
          },
          {
            "name": "indices",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/indices"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/fields",
              "example": "*"
            }
          },
          {
            "name": "source_type",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/source_type"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "__Search Results__",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainsSearch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST"
          },
          "402": {
            "$ref": "#/components/responses/PAYMENT_REQUIRED"
          },
          "403": {
            "$ref": "#/components/responses/ACCESS_DENIED"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR"
          },
          "504": {
            "$ref": "#/components/responses/TIMEOUT"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -s -X GET \\\n    \"https://app.netlas.io/api/domains/\" \\\n    -G \\\n    --data-urlencode \"q=domain:example.com\" \\\n    --data-urlencode \"fields=a,aaaa,ns,mx,txt\" \\\n    -H \"Authorization: Bearer $NETLAS_API_KEY\""
          },
          {
            "lang": "Netlas CLI",
            "source": "netlas search \"domain:example.com\" \\\n    --datatype domain \\\n    --include a,aaaa,ns,mx,txt \\\n    --format json"
          },
          {
            "lang": "Python",
            "source": "import netlas\nimport json\n\nquery = \"domain:example.com\"\nfields = \"a,aaaa,ns,mx,txt\"\n\napi_key = netlas.helpers.get_api_key()\nnetlas_connection = netlas.Netlas(api_key)\n\nsearch_results = netlas_connection.search(\n    query, datatype=\"domain\", fields=fields\n    )\nprint(json.dumps(search_results))\n"
          }
        ]
      }
    },
    "/api/domains_count/": {
      "get": {
        "tags": [
          "Domains"
        ],
        "operationId": "domainsCount",
        "security": [],
        "summary": "Domains Count",
        "description": "Counts the number of documents matching the search query `q` in the selected `indices`.\n\n- If there are fewer than 1,000 results, the method returns the exact count.\n- If there are more than 1,000 results, the count is estimated with an error margin not exceeding 3%.\n",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/q"
            },
            "example": "domain:*.example.com a:*"
          },
          {
            "name": "indices",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/indices"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "__Count__",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Count"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST"
          },
          "403": {
            "$ref": "#/components/responses/ACCESS_DENIED"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR"
          },
          "504": {
            "$ref": "#/components/responses/TIMEOUT"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -s -X GET \\\n    \"https://app.netlas.io/api/domains_count/\" \\\n    -G \\\n    --data-urlencode \"q=domain:*.example.com a:*\" \\\n    -H \"Authorization: Bearer $NETLAS_API_KEY\""
          },
          {
            "lang": "Netlas CLI",
            "source": "netlas count \"domain:*.example.com a:*\" \\\n    --datatype domain \\\n    --format json"
          },
          {
            "lang": "Python",
            "source": "import netlas\nimport json\n\nquery = \"domain:*.example.com a:*\"\n\napi_key = netlas.helpers.get_api_key()\nnetlas_connection = netlas.Netlas(api_key)\n\ncount_results = netlas_connection.count(\n    query, datatype=\"domain\"\n    )\nprint(json.dumps(count_results))"
          }
        ]
      }
    },
    "/api/domains/download/": {
      "post": {
        "tags": [
          "Domains"
        ],
        "operationId": "domainsDownload",
        "summary": "Domains Download",
        "description": "Retrieves `size` search results matching the query `q` in the selected `indices`.\n\nThe Netlas SDK and CLI tool additionally include a `download_all()` method and an `--all` key that allow you to query all available results.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DownloadPayload"
              },
              "example": {
                "q": "domain:*.example.com a:*",
                "size": 100,
                "fields": [
                  "a",
                  "domain"
                ],
                "source_type": "include"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "__Search Results__",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainsDownloadJSON"
                },
                "example": [
                  {
                    "data": {
                      "a": [
                        "83.235.76.17"
                      ],
                      "domain": "idn3241.example.com"
                    }
                  },
                  {
                    "data": {
                      "a": [
                        "143.244.220.150"
                      ],
                      "domain": "skadowskyu.example.com"
                    }
                  },
                  {
                    "data": {
                      "a": [
                        "212.109.215.174",
                        "212.109.215.175"
                      ],
                      "domain": "server9.example.com"
                    }
                  },
                  {
                    "data": {
                      "a": [
                        "83.235.76.17"
                      ],
                      "domain": "del1.example.com"
                    }
                  },
                  {
                    "data": {
                      "a": [
                        "212.109.215.174",
                        "212.109.215.175"
                      ],
                      "domain": "n.parfionov2017.example.com"
                    }
                  }
                ]
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/DomainsDownloadCSV"
                },
                "example": "a,domain\n83.235.76.17,idn3241.example.com\n143.244.220.150,skadowskyu.example.com\n\"212.109.215.174,212.109.215.175\",server9.example.com\n83.235.76.17,del1.example.com\n\"212.109.215.174,212.109.215.175\",n.parfionov2017.example.com\n"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED"
          },
          "402": {
            "$ref": "#/components/responses/PAYMENT_REQUIRED"
          },
          "403": {
            "$ref": "#/components/responses/ACCESS_DENIED"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR"
          },
          "504": {
            "$ref": "#/components/responses/TIMEOUT"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -s -X POST \\\n    \"https://app.netlas.io/api/domains/download/\" \\\n    -H \"Content-Type: application/json\" \\\n    -H \"Authorization: Bearer $NETLAS_API_KEY\" \\\n    -d '{\n        \"q\": \"domain:*.example.com a:*\",\n        \"fields\": [\"domain\", \"a\"],\n        \"size\": 100,\n        \"source_type\": \"include\"\n    }'\n    "
          },
          {
            "lang": "Netlas CLI",
            "source": "netlas download \"domain:*.example.com a:*\" \\\n    --datatype domain \\\n    --include domain,a \\\n    --count 100 # --all to download all results (no need to sprcify --count)\n    \n"
          },
          {
            "lang": "Python",
            "source": "import netlas\nimport json\n\nquery = \"domain:*.example.com a:*\"\nfields = \"domain,a\"\n\napi_key = netlas.helpers.get_api_key()\nnetlas_connection = netlas.Netlas(api_key)\n    \nfor r in netlas_connection.download(\n    query, fields, datatype=\"domain\" ,size=100\n    # use Netlas.download_all() to download all results\n    # (no need to sprcify size parameter)\n    ):\n    response = json.loads(r.decode(\"utf-8\"))\n    print(json.dumps(response))"
          }
        ]
      }
    },
    "/api/domains_facet/": {
      "get": {
        "tags": [
          "Domains"
        ],
        "operationId": "domainsFacet",
        "security": [],
        "summary": "Domains Facet Search",
        "description": "Searches for `q` in the selected `indices` and groups results by the `facets` field.\n",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/q"
            },
            "example": "level:2"
          },
          {
            "name": "facets",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/facets"
            },
            "example": "zone"
          },
          {
            "name": "indices",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/indices"
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/facet_search_size"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "__Facet Search Results__",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FacetSearchResults"
                },
                "example": {
                  "aggregations": [
                    {
                      "key": [
                        "com"
                      ],
                      "doc_count": 382078579
                    },
                    {
                      "key": [
                        "net"
                      ],
                      "doc_count": 21890693
                    },
                    {
                      "key": [
                        "org"
                      ],
                      "doc_count": 17769023
                    },
                    {
                      "key": [
                        "top"
                      ],
                      "doc_count": 15855678
                    },
                    {
                      "key": [
                        "tk"
                      ],
                      "doc_count": 12662280
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST"
          },
          "402": {
            "$ref": "#/components/responses/PAYMENT_REQUIRED"
          },
          "403": {
            "$ref": "#/components/responses/ACCESS_DENIED"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR"
          },
          "504": {
            "$ref": "#/components/responses/TIMEOUT"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -s -X GET \\\n    \"https://app.netlas.io/api/domains_facet/\" \\\n    -G \\\n    --data-urlencode 'q=level:2' \\\n    --data-urlencode 'facets=zone' \\\n    -H \"Authorization: Bearer $NETLAS_API_KEY\""
          },
          {
            "lang": "Netlas CLI",
            "source": "# The operation is temporarily unsupported"
          },
          {
            "lang": "Python",
            "source": "# The operation is temporarily unsupported"
          }
        ]
      }
    },
    "/api/whois_ip/": {
      "get": {
        "tags": [
          "IP WHOIS"
        ],
        "operationId": "ipWhoisSearch",
        "security": [],
        "summary": "IP WHOIS Search",
        "description": "Searches for `q` in the selected `indices` and returns up to 20 search results, starting from the `start+1` document.\n  \n❗️ This method allows retrieving only the first 10,000 search results.\n\nUse it when the expected number of results is relatively low or to craft and refine a query.\nUse the __Download__ endpoint to fetch results without pagination or quantity limitations.\n",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/q"
            },
            "examples": {
              "ipSearchExample": {
                "value": "ip:23.215.0.136",
                "description": "search for a specific IP address"
              },
              "cidrSearchExample": {
                "value": "net.cidr:1.1.1.0 net.net_size:255",
                "description": "search for a specific CIDR range"
              },
              "organizationSearchExample": {
                "value": "net.organization:Mandiant",
                "description": "networks related to a specific organization"
              }
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/start"
            }
          },
          {
            "name": "indices",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/indices"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/fields"
            },
            "example": "organization,net.country,net.range"
          },
          {
            "name": "source_type",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/source_type"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "__Search Results__",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpWhoisSearch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST"
          },
          "402": {
            "$ref": "#/components/responses/PAYMENT_REQUIRED"
          },
          "403": {
            "$ref": "#/components/responses/ACCESS_DENIED"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR"
          },
          "504": {
            "$ref": "#/components/responses/TIMEOUT"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -s -X GET \\\n    \"https://app.netlas.io/api/whois_ip/\" \\\n    -G \\\n    --data-urlencode \"q=ip:23.215.0.136\" \\\n    --data-urlencode \"fields=net,asn\" \\\n    -H \"Authorization: Bearer $NETLAS_API_KEY\""
          },
          {
            "lang": "Netlas CLI",
            "source": "netlas search \"ip:23.215.0.136\" \\\n    --datatype whois-ip \\\n    --include net,asn \\\n    --format json"
          },
          {
            "lang": "Python",
            "source": "import netlas\nimport json\n\nquery = \"ip:23.215.0.136\"\nfields = \"net,asn\"\n\napi_key = netlas.helpers.get_api_key()\nnetlas_connection = netlas.Netlas(api_key)\n\nsearch_results = netlas_connection.search(\n    query, datatype=\"whois-ip\", fields=fields\n    )\nprint(json.dumps(search_results))\n"
          }
        ]
      }
    },
    "/api/whois_ip_count/": {
      "get": {
        "tags": [
          "IP WHOIS"
        ],
        "operationId": "ipWhoisCount",
        "security": [],
        "summary": "IP WHOIS Count",
        "description": "Counts the number of documents matching the search query `q` in the selected `indices`.\n\n- If there are fewer than 1,000 results, the method returns the exact count.\n- If there are more than 1,000 results, the count is estimated with an error margin not exceeding 3%.\n",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/q"
            },
            "example": "net.country:VA"
          },
          {
            "name": "indices",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/indices"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "__Count__",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Count"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST"
          },
          "403": {
            "$ref": "#/components/responses/ACCESS_DENIED"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR"
          },
          "504": {
            "$ref": "#/components/responses/TIMEOUT"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -s -X GET \\\n    \"https://app.netlas.io/api/whois_ip_count/\" \\\n    -G \\\n    --data-urlencode \"q=net.country:VA\" \\\n    -H \"Authorization: Bearer $NETLAS_API_KEY\""
          },
          {
            "lang": "Netlas CLI",
            "source": "netlas count \"net.country:VA\" \\\n    --datatype whois-ip \\\n    --format json"
          },
          {
            "lang": "Python",
            "source": "import netlas\nimport json\n\nquery = \"net.country:VA\"\n\napi_key = netlas.helpers.get_api_key()\nnetlas_connection = netlas.Netlas(api_key)\n\ncount_results = netlas_connection.count(\n    query, datatype=\"whois-ip\"\n    )\nprint(json.dumps(count_results))"
          }
        ]
      }
    },
    "/api/whois_ip/download/": {
      "post": {
        "tags": [
          "IP WHOIS"
        ],
        "operationId": "ipWhoisDownload",
        "summary": "IP WHOIS Download",
        "description": "Retrieves `size` search results matching the query `q` in the selected `indices`.\n\nThe Netlas SDK and CLI tool additionally include a `download_all()` method and an `--all` key that allow you to query all available results.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DownloadPayload"
              },
              "example": {
                "q": "net.country:VA",
                "size": 100,
                "fields": [
                  "abuse",
                  "asn",
                  "net"
                ],
                "source_type": "include"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "__Search Results__",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpWhoisDownloadJSON"
                },
                "example": [
                  {
                    "data": {
                      "abuse": "abuse@securebit.ch",
                      "net": {
                        "country": "VA",
                        "address": "Securebit AG\nIndustriestrasse 3\n6345 Neuheim\nSwitzerland",
                        "created": "2020-02-02T02:04:48Z",
                        "name": "VA-SECUREBIT-20200202",
                        "start_ip": "194.50.99.237",
                        "range": "194.50.99.237 - 194.50.99.237",
                        "description": "Securebit Network Holy See (Vatican City State)",
                        "cidr": [
                          "194.50.99.237/32"
                        ],
                        "handle": "SBAC-RIPE",
                        "net_size": 0,
                        "updated": "2020-02-02T02:04:48Z",
                        "end_ip": "194.50.99.237"
                      },
                      "asn": {
                        "number": [
                          "34800"
                        ],
                        "registry": "ripencc",
                        "country": "CH",
                        "name": "SBAG Securebit Autonomous System",
                        "cidr": "194.50.99.0/24",
                        "updated": "2019-11-21"
                      }
                    }
                  },
                  {
                    "data": {
                      "abuse": "abuse@urbe.it",
                      "net": {
                        "country": "VA",
                        "address": "Via della Scrofa, 70\n00186\nRoma\nITALY",
                        "created": "2002-04-11T09:28:47Z",
                        "range": "193.43.128.0 - 193.43.131.255",
                        "handle": "MC30359-RIPE",
                        "organization": "URBE: Unione Romana Biblioteche Ecclesiastiche",
                        "name": "URBE-NET",
                        "start_ip": "193.43.128.0",
                        "cidr": [
                          "193.43.128.0/22"
                        ],
                        "net_size": 1023,
                        "updated": "2016-05-04T08:55:35Z",
                        "end_ip": "193.43.131.255",
                        "remarks": "Pontifical University of the Holy Cross\nPontificia Universita della Santa Croce\nRome",
                        "contacts": {
                          "persons": [
                            "Massimo Cuccu",
                            "Salvatore Toribio"
                          ],
                          "phones": [
                            "+390683396190",
                            "+39 06681641",
                            "+39 06 681641"
                          ]
                        }
                      },
                      "asn": {
                        "number": [
                          "8978"
                        ],
                        "registry": "ripencc",
                        "country": "IT",
                        "name": "ASN-HOLYSEE Holy See Secretariat of State Department of Telecommunications",
                        "cidr": "193.43.128.0/22",
                        "updated": "1995-04-04"
                      }
                    }
                  },
                  {
                    "data": {
                      "abuse": "abuse@vatlib.it",
                      "net": {
                        "country": "VA",
                        "address": "Cortile del Belvedere SNC\n00120\nVatican City\nHOLY SEE (VATICAN CITY STATE)",
                        "created": "1970-01-01T00:00:00Z",
                        "range": "193.43.102.0 - 193.43.103.255",
                        "handle": "MM56992-RIPE",
                        "organization": "Biblioteca Apostolica Vaticana",
                        "name": "VATICAN-LIBRARY-NET",
                        "start_ip": "193.43.102.0",
                        "cidr": [
                          "193.43.102.0/23"
                        ],
                        "net_size": 511,
                        "updated": "2022-10-04T12:46:18Z",
                        "end_ip": "193.43.103.255",
                        "remarks": "Multiple Interconnected Servers and LANs",
                        "contacts": {
                          "persons": [
                            "Manlio Miceli"
                          ],
                          "phones": [
                            "+390669879478"
                          ]
                        }
                      },
                      "asn": {
                        "number": [
                          "61160"
                        ],
                        "registry": "ripencc",
                        "country": "VA",
                        "name": "ASN-VATLIB",
                        "cidr": "193.43.102.0/23",
                        "updated": "1995-02-06"
                      }
                    }
                  },
                  {
                    "data": {
                      "abuse": "abuse@spc.va",
                      "net": {
                        "country": "VA",
                        "address": "5, Via della Conciliazione\n00120\nVatican City\nHOLY SEE (VATICAN CITY STATE)",
                        "created": "2024-08-22T07:59:09Z",
                        "name": "DPC-Guest-Users",
                        "start_ip": "185.152.69.252",
                        "range": "185.152.69.252 - 185.152.69.255",
                        "cidr": [
                          "185.152.69.252/30"
                        ],
                        "handle": "SC18373-RIPE",
                        "net_size": 3,
                        "updated": "2024-08-22T07:59:09Z",
                        "end_ip": "185.152.69.255",
                        "contacts": {
                          "persons": [
                            "net admin"
                          ],
                          "phones": [
                            "+393346900701"
                          ]
                        }
                      },
                      "asn": {
                        "number": [
                          "202865"
                        ],
                        "registry": "ripencc",
                        "country": "VA",
                        "name": "SPC",
                        "cidr": "185.152.69.0/24",
                        "updated": "2016-05-17"
                      }
                    }
                  },
                  {
                    "data": {
                      "abuse": "abuse@spc.va",
                      "net": {
                        "country": "VA",
                        "address": "Casina Pio IV, 00120 Citt del Vaticano",
                        "created": "2024-08-22T07:58:09Z",
                        "name": "PAS-Users",
                        "start_ip": "185.152.69.250",
                        "range": "185.152.69.250 - 185.152.69.251",
                        "cidr": [
                          "185.152.69.250/31"
                        ],
                        "handle": "LR9247-RIPE",
                        "net_size": 1,
                        "updated": "2024-08-22T07:58:09Z",
                        "end_ip": "185.152.69.251",
                        "contacts": {
                          "persons": [
                            "Lorenzo Rumori",
                            "Nicola Riccardi"
                          ],
                          "phones": [
                            "+39 0669883451"
                          ]
                        }
                      },
                      "asn": {
                        "number": [
                          "202865"
                        ],
                        "registry": "ripencc",
                        "country": "VA",
                        "name": "SPC",
                        "cidr": "185.152.69.0/24",
                        "updated": "2016-05-17"
                      }
                    }
                  }
                ]
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/IpWhoisDownloadCSV"
                },
                "example": "abuse,asn.cidr,asn.country,asn.name,asn.number,asn.registry,asn.updated,net.address,net.cidr,net.city,net.contacts.emails,net.contacts.persons,net.contacts.phones,net.country,net.created,net.description,net.end_ip,net.handle,net.name,net.net_size,net.organization,net.postal_code,net.range,net.remarks,net.start_ip,net.state,net.updated\nabuse@securebit.ch,194.50.99.0/24,CH,SBAG Securebit Autonomous System,34800,ripencc,2019-11-21,Securebit AG\\nIndustriestrasse 3\\n6345 Neuheim\\nSwitzerland,194.50.99.237/32,,,,,VA,2020-02-02T02:04:48Z,Securebit Network Holy See (Vatican City State),194.50.99.237,SBAC-RIPE,VA-SECUREBIT-20200202,0,,,194.50.99.237 - 194.50.99.237,,194.50.99.237,,2020-02-02T02:04:48Z\nabuse@urbe.it,193.43.128.0/22,IT,ASN-HOLYSEE Holy See Secretariat of State Department of Telecommunications,8978,ripencc,1995-04-04,\"Via della Scrofa, 70\\n00186\\nRoma\\nITALY\",193.43.128.0/22,,,\"Massimo Cuccu,Salvatore Toribio\",\"+390683396190,+39 06681641,+39 06 681641\",VA,2002-04-11T09:28:47Z,,193.43.131.255,MC30359-RIPE,URBE-NET,1023,URBE: Unione Romana Biblioteche Ecclesiastiche,,193.43.128.0 - 193.43.131.255,Pontifical University of the Holy Cross\\nPontificia Universita della Santa Croce\\nRome,193.43.128.0,,2016-05-04T08:55:35Z\nabuse@vatlib.it,193.43.102.0/23,VA,ASN-VATLIB,61160,ripencc,1995-02-06,Cortile del Belvedere SNC\\n00120\\nVatican City\\nHOLY SEE (VATICAN CITY STATE),193.43.102.0/23,,,Manlio Miceli,+390669879478,VA,1970-01-01T00:00:00Z,,193.43.103.255,MM56992-RIPE,VATICAN-LIBRARY-NET,511,Biblioteca Apostolica Vaticana,,193.43.102.0 - 193.43.103.255,Multiple Interconnected Servers and LANs,193.43.102.0,,2022-10-04T12:46:18Z\nabuse@spc.va,185.152.69.0/24,VA,SPC,202865,ripencc,2016-05-17,\"5, Via della Conciliazione\\n00120\\nVatican City\\nHOLY SEE (VATICAN CITY STATE)\",185.152.69.252/30,,,net admin,+393346900701,VA,2024-08-22T07:59:09Z,,185.152.69.255,SC18373-RIPE,DPC-Guest-Users,3,,,185.152.69.252 - 185.152.69.255,,185.152.69.252,,2024-08-22T07:59:09Z\nabuse@spc.va,185.152.69.0/24,VA,SPC,202865,ripencc,2016-05-17,\"Casina Pio IV, 00120 Citt del Vaticano\",185.152.69.250/31,,,\"Lorenzo Rumori,Nicola Riccardi\",+39 0669883451,VA,2024-08-22T07:58:09Z,,185.152.69.251,LR9247-RIPE,PAS-Users,1,,,185.152.69.250 - 185.152.69.251,,185.152.69.250,,2024-08-22T07:58:09Z\n"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED"
          },
          "402": {
            "$ref": "#/components/responses/PAYMENT_REQUIRED"
          },
          "403": {
            "$ref": "#/components/responses/ACCESS_DENIED"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR"
          },
          "504": {
            "$ref": "#/components/responses/TIMEOUT"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -s -X POST \\\n    \"https://app.netlas.io/api/whois_ip/download/\" \\\n    -H \"Content-Type: application/json\" \\\n    -H \"Authorization: Bearer $NETLAS_API_KEY\" \\\n    -d '{\n        \"q\": \"net.country:VA\",\n        \"fields\": [\"abuse\", \"asn\", \"net\"],\n        \"size\": 100,\n        \"source_type\": \"include\"\n    }'\n    "
          },
          {
            "lang": "Netlas CLI",
            "source": "netlas download \"net.country:VA\" \\\n    --datatype whois-ip \\\n    --include abuse,asn,net \\\n    --count 100 # --all to download all results (no need to sprcify --count)\n    "
          },
          {
            "lang": "Python",
            "source": "import netlas\nimport json\n\nquery = \"net.country:VA\"\nfields = \"abuse,asn,net\"\n\napi_key = netlas.helpers.get_api_key()\nnetlas_connection = netlas.Netlas(api_key)\n    \nfor r in netlas_connection.download(\n    query, fields, datatype=\"whois-ip\" ,size=100\n    # use Netlas.download_all() to download all results\n    # (no need to sprcify size parameter)\n    ):\n    response = json.loads(r.decode(\"utf-8\"))\n    print(json.dumps(response))"
          }
        ]
      }
    },
    "/api/whois_ip_facet/": {
      "get": {
        "tags": [
          "IP WHOIS"
        ],
        "operationId": "ipWhoisFacet",
        "security": [],
        "summary": "IP WHOIS Facet Search",
        "description": "Searches for `q` in the selected `indices` and groups results by the `facets` field.\n",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/q"
            },
            "example": "*"
          },
          {
            "name": "facets",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/facets"
            },
            "example": "net.country"
          },
          {
            "name": "indices",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/indices"
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/facet_search_size"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "__Facet Search Results__",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FacetSearchResults"
                },
                "example": {
                  "aggregations": [
                    {
                      "key": [
                        "US"
                      ],
                      "doc_count": 3811776
                    },
                    {
                      "key": [
                        "IT"
                      ],
                      "doc_count": 762034
                    },
                    {
                      "key": [
                        "GB"
                      ],
                      "doc_count": 732744
                    },
                    {
                      "key": [
                        "JP"
                      ],
                      "doc_count": 614086
                    },
                    {
                      "key": [
                        "FR"
                      ],
                      "doc_count": 574712
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST"
          },
          "402": {
            "$ref": "#/components/responses/PAYMENT_REQUIRED"
          },
          "403": {
            "$ref": "#/components/responses/ACCESS_DENIED"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR"
          },
          "504": {
            "$ref": "#/components/responses/TIMEOUT"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -s -X GET \\\n    \"https://app.netlas.io/api/whois_ip_facet/\" \\\n    -G \\\n    --data-urlencode 'q=*' \\\n    --data-urlencode 'facets=net.country' \\\n    -H \"Authorization: Bearer $NETLAS_API_KEY\""
          },
          {
            "lang": "Netlas CLI",
            "source": "# The operation is temporarily unsupported"
          },
          {
            "lang": "Python",
            "source": "# The operation is temporarily unsupported"
          }
        ]
      }
    },
    "/api/whois_domains/": {
      "get": {
        "tags": [
          "Domain WHOIS"
        ],
        "operationId": "domainWhoisSearch",
        "security": [],
        "summary": "Domain WHOIS Search",
        "description": "Searches for `q` in the selected `indices` and returns up to 20 search results, starting from the `start+1` document.\n  \n❗️ This method allows retrieving only the first 10,000 search results.\n\nUse it when the expected number of results is relatively low or to craft and refine a query.\nUse the __Download__ endpoint to fetch results without pagination or quantity limitations.\n",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/q"
            },
            "examples": {
              "domain": {
                "value": "example.com",
                "description": "search for a specific domain"
              },
              "net_country": {
                "value": "registrant.organization:\"Meta Platforms\"",
                "description": "domain registered to a specific organization"
              },
              "expirationDateExample": {
                "value": "expiration_date:[2025-01-01 TO 2025-01-31]",
                "description": "domains expiring in 2023"
              }
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/start"
            }
          },
          {
            "name": "indices",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/indices"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/fields"
            },
            "example": "registrant,registrar"
          },
          {
            "name": "source_type",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/source_type"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "__Search Results__",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainWhoisSearch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST"
          },
          "402": {
            "$ref": "#/components/responses/PAYMENT_REQUIRED"
          },
          "403": {
            "$ref": "#/components/responses/ACCESS_DENIED"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR"
          },
          "504": {
            "$ref": "#/components/responses/TIMEOUT"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -s -X GET \\\n    \"https://app.netlas.io/api/whois_domains/\" \\\n    -G \\\n    --data-urlencode \"q=domain:example.com\" \\\n    -H \"Authorization: Bearer $NETLAS_API_KEY\""
          },
          {
            "lang": "Netlas CLI",
            "source": "netlas search \"domain:example.com\" \\\n    --datatype whois-domain \\\n    --format json"
          },
          {
            "lang": "Python",
            "source": "import netlas\nimport json\n\nquery = \"domain:example.com\"\n\napi_key = netlas.helpers.get_api_key()\nnetlas_connection = netlas.Netlas(api_key)\n\nsearch_results = netlas_connection.search(\n    query, datatype=\"whois-domain\"\n    )\nprint(json.dumps(search_results))\n"
          }
        ]
      }
    },
    "/api/whois_domains_count/": {
      "get": {
        "tags": [
          "Domain WHOIS"
        ],
        "operationId": "domainWhoisCount",
        "security": [],
        "summary": "Domain WHOIS Count",
        "description": "Counts the number of documents matching the search query `q` in the selected `indices`.\n\n- If there are fewer than 1,000 results, the method returns the exact count.\n- If there are more than 1,000 results, the count is estimated with an error margin not exceeding 3%.\n",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/q"
            },
            "example": "registrant.organization:\"Meta Platforms\""
          },
          {
            "name": "indices",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/indices"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "__Count__",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Count"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST"
          },
          "403": {
            "$ref": "#/components/responses/ACCESS_DENIED"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR"
          },
          "504": {
            "$ref": "#/components/responses/TIMEOUT"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -s -X GET \\\n    \"https://app.netlas.io/api/whois_domains_count/\" \\\n    -G \\\n    --data-urlencode 'q=registrant.organization:\"Meta Platforms\"' \\\n    -H \"Authorization: Bearer $NETLAS_API_KEY\""
          },
          {
            "lang": "Netlas CLI",
            "source": "netlas count 'registrant.organization:\"Meta Platforms\"' \\\n    --datatype whois-domain \\\n    --format json"
          },
          {
            "lang": "Python",
            "source": "import netlas\nimport json\n\nquery = 'registrant.organization:\"Meta Platforms\"'\n\napi_key = netlas.helpers.get_api_key()\nnetlas_connection = netlas.Netlas(api_key)\n\ncount_results = netlas_connection.count(\n    query, datatype=\"whois-domain\"\n    )\nprint(json.dumps(count_results))"
          }
        ]
      }
    },
    "/api/whois_domains/download/": {
      "post": {
        "tags": [
          "Domain WHOIS"
        ],
        "operationId": "domainWhoisDownload",
        "summary": "Domain WHOIS Download",
        "description": "Retrieves `size` search results matching the query `q` in the selected `indices`.\n\nThe Netlas SDK and CLI tool additionally include a `download_all()` method and an `--all` key that allow you to query all available results.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DownloadPayload"
              },
              "example": {
                "q": "registrant.organization:\"Meta Platforms\"",
                "size": 100,
                "fields": [
                  "domain",
                  "registrant",
                  "registrar",
                  "created_date",
                  "updated_date"
                ],
                "source_type": "include"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "__Search Results__",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainWhoisDownloadJSON"
                },
                "example": [
                  {
                    "data": {
                      "registrar": {
                        "phone": "+1.6503087004",
                        "referral_url": "https://www.registrarsec.com",
                        "name": "RegistrarSEC, LLC",
                        "id": "2475",
                        "email": "abusecomplaints@registrarsec.com"
                      },
                      "stats": {
                        "retries": 0,
                        "quota_retries": 1,
                        "parser": "no_error",
                        "was_queued": true,
                        "error": "no_error",
                        "total_time": 3212224099
                      },
                      "domain": "facebookinstagram.club",
                      "created_date": "2021-01-01T04:31:04.000Z",
                      "registrant": {
                        "country": "US",
                        "province": "CA",
                        "phone": "+1.6505434800",
                        "city": "Menlo Park",
                        "street": "1601 Willow Rd",
                        "organization": "Meta Platforms, Inc.",
                        "id": "CFD32E1A5A4214BE1B361B507C8F159E1-NSR",
                        "postal_code": "94025"
                      },
                      "updated_date": "2024-10-08T09:00:11.000Z"
                    }
                  },
                  {
                    "data": {
                      "registrar": {
                        "phone": "+1.6503087004",
                        "referral_url": "https://www.registrarsec.com",
                        "name": "RegistrarSEC, LLC",
                        "id": "2475",
                        "email": "abusecomplaints@registrarsec.com"
                      },
                      "stats": {
                        "retries": 3,
                        "quota_retries": 2,
                        "parser": "no_error",
                        "was_queued": false,
                        "error": "no_error",
                        "total_time": 61186643216
                      },
                      "domain": "playit.games",
                      "created_date": "2018-12-24T18:49:39.000Z",
                      "registrant": {
                        "country": "US",
                        "province": "CA",
                        "phone": "+1.6505434800",
                        "city": "Menlo Park",
                        "street": "1601 Willow Rd",
                        "organization": "Meta Platforms, Inc.",
                        "id": "d2d0ffd8525b47ac980ed1b6cd94b53a-DONUTS",
                        "postal_code": "94025"
                      },
                      "updated_date": "2024-10-01T09:00:17.000Z"
                    }
                  },
                  {
                    "data": {
                      "registrar": {
                        "phone": "+1.6503087004",
                        "referral_url": "https://www.registrarsec.com",
                        "name": "RegistrarSEC, LLC",
                        "id": "2475",
                        "email": "abusecomplaints@registrarsec.com"
                      },
                      "stats": {
                        "retries": 0,
                        "quota_retries": 0,
                        "parser": "no_error",
                        "was_queued": false,
                        "error": "no_error",
                        "total_time": 1640247726
                      },
                      "domain": "armature.biz",
                      "created_date": "2021-11-16T15:58:58.000Z",
                      "registrant": {
                        "country": "US",
                        "province": "CA",
                        "phone": "+1.6505434800",
                        "city": "Menlo Park",
                        "street": "1601 Willow Rd",
                        "organization": "Meta Platforms, Inc.",
                        "id": "C4AA0F510959A485B9F6B98358B3A51B2-NSR",
                        "postal_code": "94025"
                      },
                      "updated_date": "2022-10-02T18:52:24.000Z"
                    }
                  },
                  {
                    "data": {
                      "registrar": {
                        "phone": "+1.6503087004",
                        "referral_url": "https://www.registrarsec.com",
                        "name": "RegistrarSEC, LLC",
                        "id": "2475",
                        "email": "abusecomplaints@registrarsec.com"
                      },
                      "stats": {
                        "retries": 3,
                        "quota_retries": 2,
                        "parser": "no_error",
                        "was_queued": false,
                        "error": "no_error",
                        "total_time": 61653355239
                      },
                      "domain": "metaquest.engineering",
                      "created_date": "2022-01-27T19:41:55.000Z",
                      "registrant": {
                        "country": "US",
                        "province": "CA",
                        "phone": "+1.6505434800",
                        "city": "Menlo Park",
                        "street": "1601 Willow Rd",
                        "organization": "Meta Platforms, Inc.",
                        "id": "71771827efe4428d9173f02838801b85-DONUTS",
                        "postal_code": "94025"
                      },
                      "updated_date": "2024-11-04T09:01:17.000Z"
                    }
                  },
                  {
                    "data": {
                      "registrar": {
                        "phone": "+1.6503087004",
                        "referral_url": "https://www.registrarsec.com",
                        "name": "RegistrarSEC, LLC",
                        "id": "2475",
                        "email": "abusecomplaints@registrarsec.com"
                      },
                      "stats": {
                        "retries": 1,
                        "quota_retries": 0,
                        "parser": "no_error",
                        "was_queued": false,
                        "error": "no_error",
                        "total_time": 13076483862
                      },
                      "domain": "metabankbilling.mobi",
                      "created_date": "2017-03-01T18:16:53.000Z",
                      "registrant": {
                        "country": "US",
                        "province": "CA",
                        "phone": "+1.6505434800",
                        "city": "Menlo Park",
                        "street": "1601 Willow Rd",
                        "organization": "Meta Platforms, Inc.",
                        "id": "dc3017e992ae43f4a17b2e75e0727f5c-DONUTS",
                        "postal_code": "94025"
                      },
                      "updated_date": "2024-12-07T09:00:32.000Z"
                    }
                  }
                ]
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/DomainWhoisDownloadCSV"
                },
                "example": "created_date,domain,registrant.city,registrant.country,registrant.email,registrant.fax,registrant.fax_ext,registrant.id,registrant.name,registrant.organization,registrant.phone,registrant.phone_ext,registrant.postal_code,registrant.province,registrant.street,registrar.city,registrar.country,registrar.email,registrar.fax,registrar.fax_ext,registrar.id,registrar.name,registrar.organization,registrar.phone,registrar.phone_ext,registrar.postal_code,registrar.province,registrar.referral_url,registrar.street,updated_date\n2021-01-01T04:31:04.000Z,facebookinstagram.club,Menlo Park,US,,,,CFD32E1A5A4214BE1B361B507C8F159E1-NSR,,\"Meta Platforms, Inc.\",+1.6505434800,,94025,CA,1601 Willow Rd,,,abusecomplaints@registrarsec.com,,,2475,\"RegistrarSEC, LLC\",,+1.6503087004,,,,https://www.registrarsec.com,,2024-10-08T09:00:11.000Z\n2018-12-24T18:49:39.000Z,playit.games,Menlo Park,US,,,,d2d0ffd8525b47ac980ed1b6cd94b53a-DONUTS,,\"Meta Platforms, Inc.\",+1.6505434800,,94025,CA,1601 Willow Rd,,,abusecomplaints@registrarsec.com,,,2475,\"RegistrarSEC, LLC\",,+1.6503087004,,,,https://www.registrarsec.com,,2024-10-01T09:00:17.000Z\n2021-11-16T15:58:58.000Z,armature.biz,Menlo Park,US,,,,C4AA0F510959A485B9F6B98358B3A51B2-NSR,,\"Meta Platforms, Inc.\",+1.6505434800,,94025,CA,1601 Willow Rd,,,abusecomplaints@registrarsec.com,,,2475,\"RegistrarSEC, LLC\",,+1.6503087004,,,,https://www.registrarsec.com,,2022-10-02T18:52:24.000Z\n2022-01-27T19:41:55.000Z,metaquest.engineering,Menlo Park,US,,,,71771827efe4428d9173f02838801b85-DONUTS,,\"Meta Platforms, Inc.\",+1.6505434800,,94025,CA,1601 Willow Rd,,,abusecomplaints@registrarsec.com,,,2475,\"RegistrarSEC, LLC\",,+1.6503087004,,,,https://www.registrarsec.com,,2024-11-04T09:01:17.000Z\n2017-03-01T18:16:53.000Z,metabankbilling.mobi,Menlo Park,US,,,,dc3017e992ae43f4a17b2e75e0727f5c-DONUTS,,\"Meta Platforms, Inc.\",+1.6505434800,,94025,CA,1601 Willow Rd,,,abusecomplaints@registrarsec.com,,,2475,\"RegistrarSEC, LLC\",,+1.6503087004,,,,https://www.registrarsec.com,,2024-12-07T09:00:32.000Z\n"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED"
          },
          "402": {
            "$ref": "#/components/responses/PAYMENT_REQUIRED"
          },
          "403": {
            "$ref": "#/components/responses/ACCESS_DENIED"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR"
          },
          "504": {
            "$ref": "#/components/responses/TIMEOUT"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -s -X POST \\\n    \"https://app.netlas.io/api/whois_domains/download/\" \\\n    -H \"Content-Type: application/json\" \\\n    -H \"Authorization: Bearer $NETLAS_API_KEY\" \\\n    -d '{\n        \"q\": \"registrant.organization:\\\"Meta Platforms\\\"\",\n        \"fields\": [\"domain\", \"registrant\", \"registrar\", \"created_date\", \"updated_date\"],\n        \"size\": 100,\n        \"source_type\": \"include\"\n    }'\n    "
          },
          {
            "lang": "Netlas CLI",
            "source": "netlas download \"registrant.organization:\\\"Meta Platforms\\\"\" \\\n    --datatype whois-domain \\\n    --include domain,registrant,registrar,created_date,updated_date \\\n    --count 100 # --all to download all results (no need to sprcify --count)\n    "
          },
          {
            "lang": "Python",
            "source": "import netlas\nimport json\n\nquery = \"registrant.organization:\\\"Meta Platforms\\\"\"\nfields = \"domain,registrant,registrar,created_date,updated_date\"\n\napi_key = netlas.helpers.get_api_key()\nnetlas_connection = netlas.Netlas(api_key)\n    \nfor r in netlas_connection.download(\n    query, fields, datatype=\"whois-domain\" ,size=100\n    # use Netlas.download_all() to download all results\n    # (no need to sprcify size parameter)\n    ):\n    response = json.loads(r.decode(\"utf-8\"))\n    print(json.dumps(response))"
          }
        ]
      }
    },
    "/api/whois_domains_facet/": {
      "get": {
        "tags": [
          "Domain WHOIS"
        ],
        "operationId": "domainWhoisFacet",
        "security": [],
        "summary": "Domain WHOIS Facet Search",
        "description": "Searches for `q` in the selected `indices` and groups results by the `facets` field.\n",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/q"
            },
            "example": "level:2"
          },
          {
            "name": "facets",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/facets"
            },
            "example": "zone"
          },
          {
            "name": "indices",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/indices"
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/facet_search_size"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "__Facet Search Results__",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FacetSearchResults"
                },
                "example": {
                  "aggregations": [
                    {
                      "key": [
                        "com"
                      ],
                      "doc_count": 377917162
                    },
                    {
                      "key": [
                        "net"
                      ],
                      "doc_count": 21765983
                    },
                    {
                      "key": [
                        "org"
                      ],
                      "doc_count": 19341321
                    },
                    {
                      "key": [
                        "xyz"
                      ],
                      "doc_count": 13838761
                    },
                    {
                      "key": [
                        "de"
                      ],
                      "doc_count": 12480920
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST"
          },
          "402": {
            "$ref": "#/components/responses/PAYMENT_REQUIRED"
          },
          "403": {
            "$ref": "#/components/responses/ACCESS_DENIED"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR"
          },
          "504": {
            "$ref": "#/components/responses/TIMEOUT"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -s -X GET \\\n    \"https://app.netlas.io/api/whois_domains_facet/\" \\\n    -G \\\n    --data-urlencode 'q=level:2' \\\n    --data-urlencode 'facets=zone' \\\n    -H \"Authorization: Bearer $NETLAS_API_KEY\""
          },
          {
            "lang": "Netlas CLI",
            "source": "# The operation is temporarily unsupported"
          },
          {
            "lang": "Python",
            "source": "# The operation is temporarily unsupported"
          }
        ]
      }
    },
    "/api/certs/": {
      "get": {
        "tags": [
          "Certificates"
        ],
        "operationId": "certsSearch",
        "security": [],
        "summary": "Certificates Search",
        "description": "Searches for `q` in the selected `indices` and returns up to 20 search results, starting from the `start+1` document.\n  \n❗️ This method allows retrieving only the first 10,000 search results.\n\nUse it when the expected number of results is relatively low or to craft and refine a query.\nUse the __Download__ endpoint to fetch results without pagination or quantity limitations.\n",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/q"
            },
            "example": "certificate.subject_dn:\"example.com\""
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/start"
            }
          },
          {
            "name": "indices",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/indices",
              "example": null
            },
            "description": "ℹ️ Netlas stores all collected certificates in a single default index.  \nThis parameter is included for interface consistency but is not applicable to certificate-related endpoints.\n"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/fields"
            },
            "example": "*"
          },
          {
            "name": "source_type",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/source_type"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "__Search Results__",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateSearch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST"
          },
          "402": {
[...]
