{
  "openapi": "3.0.3",
  "info": {
    "title": "Owllee API",
    "description": "OWLLEE is virtual assistant software, a smart bridge between businesses and customers. This API provides endpoints for managing chatbots, conversations, and chat messages.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.owllee.io/docs/api/owllee-open-api"
  },
  "servers": [
    {
      "url": "https://api.owllee.io",
      "description": "Owllee API Server"
    }
  ],
  "paths": {
    "/api/chatbot": {
      "get": {
        "operationId": "getListChatbot",
        "summary": "Get list of chatbots",
        "description": "Retrieve a list of all chatbots.",
        "tags": [
          "Chatbot"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Chatbot"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createChatbot",
        "summary": "Create a chatbot",
        "description": "Create a new chatbot.",
        "tags": [
          "Chatbot"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChatbotRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chatbot created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chatbot"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/chatbot/{id}": {
      "get": {
        "operationId": "getChatbot",
        "summary": "Get a chatbot",
        "description": "Retrieve a specific chatbot by its ID.",
        "tags": [
          "Chatbot"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The chatbot ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chatbot"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/{chatbot_id}/chatbot/conversations": {
      "get": {
        "operationId": "listConversations",
        "summary": "List conversations for a chatbot",
        "description": "Retrieve a list of conversations for a specific chatbot.",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "chatbot_id",
            "in": "path",
            "required": true,
            "description": "The chatbot ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Conversation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversations/{idx}": {
      "get": {
        "operationId": "getConversation",
        "summary": "Get a conversation",
        "description": "Retrieve a specific conversation by its index.",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "idx",
            "in": "path",
            "required": true,
            "description": "The conversation index or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateConversation",
        "summary": "Update a conversation",
        "description": "Update a specific conversation by its index.",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "idx",
            "in": "path",
            "required": true,
            "description": "The conversation index or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConversationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conversation updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteConversation",
        "summary": "Delete a conversation",
        "description": "Delete a specific conversation by its index.",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "idx",
            "in": "path",
            "required": true,
            "description": "The conversation index or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversations/{conversation_id}/chat-messages": {
      "get": {
        "operationId": "getMessageIntegration",
        "summary": "Get chat messages for a conversation",
        "description": "Retrieve chat messages for a specific conversation.",
        "tags": [
          "Chat"
        ],
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "description": "The conversation ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChatMessage"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/chat": {
      "post": {
        "operationId": "streamChat",
        "summary": "Stream chat",
        "description": "Send a chat message and receive a streamed response.",
        "tags": [
          "Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with streamed chat output",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Bearer token authentication"
      }
    },
    "schemas": {
      "Chatbot": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique chatbot identifier"
          },
          "name": {
            "type": "string",
            "description": "Chatbot name"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          }
        }
      },
      "CreateChatbotRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the chatbot"
          }
        }
      },
      "Conversation": {
        "type": "object",
        "properties": {
          "idx": {
            "type": "string",
            "description": "Conversation index or ID"
          },
          "chatbot_id": {
            "type": "string",
            "description": "Associated chatbot ID"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          }
        }
      },
      "UpdateConversationRequest": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Updated conversation status"
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Message ID"
          },
          "conversation_id": {
            "type": "string",
            "description": "Associated conversation ID"
          },
          "content": {
            "type": "string",
            "description": "Message content"
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant"
            ],
            "description": "Message sender role"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Message timestamp"
          }
        }
      },
      "ChatRequest": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "The chat message to send"
          },
          "conversation_id": {
            "type": "string",
            "description": "Optional conversation ID to continue an existing conversation"
          },
          "chatbot_id": {
            "type": "string",
            "description": "The chatbot ID to chat with"
          }
        }
      },
      "ChatResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "The response message"
          },
          "conversation_id": {
            "type": "string",
            "description": "The conversation ID"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "integer",
            "description": "Error code"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Chatbot",
      "description": "Chatbot management operations"
    },
    {
      "name": "Conversations",
      "description": "Conversation management operations"
    },
    {
      "name": "Chat",
      "description": "Chat messaging operations"
    }
  ]
}