{
  "openapi": "3.1.0",
  "info": {
    "title": "Jentic API",
    "description": "The **Jentic API** enables you to manage agents, credentials, sandboxes, and workflow executions, as well as search, ingest, and retrieve API specifications and workflows.\n\n## Authentication\n- **Bearer token** (`Authorization: Bearer <jwt>`): user authentication via Cognito JWT.\n- **API key** (`x-jentic-api-key: <key>`): agent authentication.\n\n**Delegation:** To act as a sandbox or personal agent, include the `x-delegated-to: <agent_id>` header alongside a Bearer token.\n\nPublic endpoints (search, browse) require no authentication.\n",
    "version": "1.0.0",
    "contact": {
      "name": "Jentic",
      "url": "https://jentic.com",
      "email": "support@jentic.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-logo": {
      "url": "https://jentic.com/logo.png",
      "backgroundColor": "#ffffff"
    },
    "x-jentic-source-url": "https://gist.githubusercontent.com/Killian-Jentic/097be6cc2386f20a77155b68a6fb9b9e/raw/d839c331ee260fc9caf82ee2955b0e82a73829bc/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.jentic.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/v1/agents": {
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "Create an agent",
        "description": "Create a new agent within the current user's organisation.\n\nThis endpoint is used to provision a new agent, which can then be granted\naccess to credentials to perform automated tasks. The agent is associated\nwith the organisation of the authenticated user making the request.\n\nA unique, non-recoverable API key is generated and returned upon successful\ncreation. This key must be stored securely by the client, as it is required\nfor the agent to authenticate with the API.\n\nOptionally, you can provide a list of credential IDs to grant the agent\nimmediate access to those credentials upon creation.\n\n**Request Body:**\n- `name` (str): A human-readable name for the agent.\n- `description` (str, optional): A brief description of the agent's purpose.\n- `active` (bool, optional): Whether the agent is active. Defaults to `True`.\n- `credential_ids` (list[str], optional): List of credential IDs to grant access to.\n- `icon_url` (str, optional): URL to an icon for the agent.\n- `agent_type` (str, optional) Agent type \"SELF-HOSTED\" or \"JENTIC-HOSTED\", default is \"SELF-HOSTED\".\n\n**Response:**\n- `agent` (Agent): The created agent object.\n- `api_key` (str): The plaintext API key for the agent.\n\n**Errors:**\n- `404 Not Found`: If any of the provided credential IDs don't exist or don't belong to the user's organisation.",
        "operationId": "create_agent_api_v1_agents_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentCreateResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or credentials are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. Check the request body or query parameters.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected internal error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "x-delegated-to",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. Agent ID to delegate to when using Bearer authentication. Allows a user to act as a sandbox or personal agent. The agent must be in the same organisation as the authenticated user, and must be a sandbox agent or the user's personal agent.",
            "example": "agnt_abc123"
          }
        ],
        "x-required-permissions": "toolkits:write"
      },
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "List organisation agents",
        "description": "List all agents in the current user's organisation.\n\nThis endpoint provides an administrative view for a user to see all agents\nthat have been created within their organisation. Personal agents are excluded\nby default (use the separate `/agents/personal-agent` endpoint to access them).\n\n**Query Parameters:**\n- `include_credentials` (bool, default: `false`): When `true`, each returned agent\n  will include an additional `credentials` array listing the credentials that agent\n  has access to. When `false`, only agent metadata is returned.\n\n**Response:**\n- A list of `Agent` objects. Each agent includes `permissions` and `effective_permissions`.",
        "operationId": "list_agents_api_v1_agents_get",
        "parameters": [
          {
            "name": "include_credentials",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include agents' credentials in response",
              "default": false,
              "title": "Include Credentials"
            },
            "description": "Include agents' credentials in response"
          },
          {
            "name": "agent_type",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Filter agents by agent type",
              "title": "Agent Type",
              "type": [
                "string",
                "null"
              ]
            },
            "description": "Filter agents by agent type"
          },
          {
            "name": "agent_mode",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AgentMode",
              "description": "Filter agents by agent mode",
              "default": "live"
            },
            "description": "Filter agents by agent mode"
          },
          {
            "name": "x-delegated-to",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. Agent ID to delegate to when using Bearer authentication. Allows a user to act as a sandbox or personal agent. The agent must be in the same organisation as the authenticated user, and must be a sandbox agent or the user's personal agent.",
            "example": "agnt_abc123"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Agent"
                  },
                  "title": "Response List Agents Api V1 Agents Get"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or credentials are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. Check the request body or query parameters.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected internal error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "x-required-permissions": "toolkits:read"
      }
    },
    "/api/v1/agents/validate-key": {
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "Validate agent API key",
        "description": "Validate an agent's API key.\n\nThis endpoint validates the agent's API key provided in the request headers\nand returns the agent ID if the key is valid and active.\n\nThe API key must be provided in the `x-jentic-api-key` header.\n\n**Response:**\n- `agent_id` (str): The ID of the agent associated with the key if valid.\n\n**Errors:**\n- `401 Unauthorized`: If the API key is missing, invalid, or corresponds to an inactive/non-existent agent.",
        "operationId": "validate_agent_key_api_v1_agents_validate_key_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentKeyValidateResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or credentials are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. Check the request body or query parameters.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected internal error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "x-delegated-to",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. Agent ID to delegate to when using Bearer authentication. Allows a user to act as a sandbox or personal agent. The agent must be in the same organisation as the authenticated user, and must be a sandbox agent or the user's personal agent.",
            "example": "agnt_abc123"
          }
        ],
        "x-required-permissions": "toolkits:read"
      }
    },
    "/api/v1/agents/{agent_id}/regenerate-key": {
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "Regenerate agent API key",
        "description": "Regenerate an agent's API key.\n\nThis administrative endpoint allows a user to regenerate an agent's API key,\ninvalidating the old key and creating a new one. The user must belong to the\nsame organisation as the agent.\n\nNote: This endpoint only works for live agents. Sandbox agent keys must be\ngenerated/regenerated through the /sandbox/{sandbox_id}/generate-key endpoint.\n\n**Path Parameters:**\n- `agent_id` (str): The ID of the agent whose key should be regenerated.\n\n**Response:**\n- `agent` (Agent): The agent object with updated information.\n- `api_key` (str): The new plaintext API key.\n\n**Errors:**\n- `400 Bad Request`: If the agent is a sandbox agent (use /sandbox route instead).\n- `401 Unauthorized`: If the user does not belong to the same organization as the agent.\n- `404 Not Found`: If the specified agent does not exist.",
        "operationId": "regenerate_agent_key_api_v1_agents__agent_id__regenerate_key_post",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier of the agent whose key should be regenerated.",
              "title": "Agent Id"
            },
            "description": "Unique identifier of the agent whose key should be regenerated."
          },
          {
            "name": "x-delegated-to",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. Agent ID to delegate to when using Bearer authentication. Allows a user to act as a sandbox or personal agent. The agent must be in the same organisation as the authenticated user, and must be a sandbox agent or the user's personal agent.",
            "example": "agnt_abc123"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentKeyRegenerateResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or credentials are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. Check the request body or query parameters.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected internal error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "x-required-permissions": "org:admin"
      }
    },
    "/api/v1/agents/grant-credential": {
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "Grant agent credential access",
        "description": "Grant an agent access to credential(s).\n\nThis administrative endpoint allows a user to authorize an agent to use\nspecific credential(s). Both the agent and the credentials must belong to the\nsame organisation as the authenticated user.\n\nOnce access is granted, the agent can use these credentials when executing\ntasks via the `/agents/execute` endpoint.\n\n**Request Body:**\n- `agent_id` (str): The ID of the agent to grant access to.\n- `credential_ids` (list[str]): List of credential IDs to be granted.\n\n**Response:**\n- `204 No Content`: On successful grant.\n\n**Errors:**\n- `403 Forbidden`: If the agent and credentials are in different organisations.\n- `404 Not Found`: If the specified agent or any credential does not exist.",
        "operationId": "grant_agent_credential_api_v1_agents_grant_credential_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentGrantCredentialRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "401": {
            "description": "Authentication required or credentials are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. Check the request body or query parameters.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected internal error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "x-delegated-to",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. Agent ID to delegate to when using Bearer authentication. Allows a user to act as a sandbox or personal agent. The agent must be in the same organisation as the authenticated user, and must be a sandbox agent or the user's personal agent.",
            "example": "agnt_abc123"
          }
        ],
        "x-required-permissions": "toolkits:write"
      }
    },
    "/api/v1/agents/{agent_id}/credentials": {
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "List agent credentials (admin)",
        "description": "List credentials an agent has been granted access to.\n\nThis administrative endpoint, called by an authenticated user, retrieves a\nlist of all credentials that a specific agent is authorized to use.\n\nThe user must belong to the same organisation as the agent to view its\ncredentials.\n\n**Path Parameters:**\n- `agent_id` (str): The unique identifier of the agent.\n\n**Response:**\n- A list of `Credential` objects. Sensitive fields like the credential\n  value are omitted.\n\n**Errors:**\n- `401 Unauthorized`: If the user is not in the same organisation as the agent.",
        "operationId": "list_agent_credentials_for_user_api_v1_agents__agent_id__credentials_get",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier of the agent.",
              "title": "Agent Id"
            },
            "description": "Unique identifier of the agent."
          },
          {
            "name": "x-delegated-to",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. Agent ID to delegate to when using Bearer authentication. Allows a user to act as a sandbox or personal agent. The agent must be in the same organisation as the authenticated user, and must be a sandbox agent or the user's personal agent.",
            "example": "agnt_abc123"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Credential"
                  },
                  "title": "Response List Agent Credentials For User Api V1 Agents  Agent Id  Credentials Get"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or credentials are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. Check the request body or query parameters.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected internal error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "x-required-permissions": "toolkits:read"
      }
    },
    "/api/v1/agents/credentials": {
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "List agent's own credentials",
        "description": "List credentials the authenticated agent has access to.\n\nThis endpoint is called by an agent (authenticated via API key) to see the\nlist of credentials it is authorized to use.\n\n**Response:**\n- A list of `Credential` objects. Sensitive fields like the credential\n  value are omitted.",
        "operationId": "list_agent_credentials_api_v1_agents_credentials_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Credential"
                  },
                  "type": "array",
                  "title": "Response List Agent Credentials Api V1 Agents Credentials Get"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or credentials are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. Check the request body or query parameters.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected internal error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "x-delegated-to",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. Agent ID to delegate to when using Bearer authentication. Allows a user to act as a sandbox or personal agent. The agent must be in the same organisation as the authenticated user, and must be a sandbox agent or the user's personal agent.",
            "example": "agnt_abc123"
          }
        ],
        "x-required-permissions": "capabilities:execute"
      }
    },
    "/api/v1/agents/{agent_id}/credential/{credential_id}": {
      "delete": {
        "tags": [
          "Agents"
        ],
        "summary": "Revoke agent credential access",
        "description": "Revoke an agent's access to a credential.\n\nThis administrative endpoint removes an agent's authorization to use a\nspecific credential. The user performing this action must be in the same\norganisation as the agent and credential.\n\n**Path Parameters:**\n- `agent_id` (str): The ID of the agent whose access is being revoked.\n- `credential_id` (str): The ID of the credential to revoke.\n\n**Response:**\n- `204 No Content`: On successful revocation.\n\n**Errors:**\n- `404 Not Found`: If the agent-credential link does not exist.",
        "operationId": "revoke_agent_credential_api_v1_agents__agent_id__credential__credential_id__delete",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier of the agent.",
              "title": "Agent Id"
            },
            "description": "Unique identifier of the agent."
          },
          {
            "name": "credential_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier of the credential to revoke.",
              "title": "Credential Id"
            },
            "description": "Unique identifier of the credential to revoke."
          },
          {
            "name": "x-delegated-to",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. Agent ID to delegate to when using Bearer authentication. Allows a user to act as a sandbox or personal agent. The agent must be in the same organisation as the authenticated user, and must be a sandbox agent or the user's personal agent.",
            "example": "agnt_abc123"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "401": {
            "description": "Authentication required or credentials are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. Check the request body or query parameters.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected internal error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "x-required-permissions": "toolkits:write"
      }
    },
    "/api/v1/agents/personal-agent": {
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "Get Personal Agent",
        "description": "Get the current user's personal agent.\n\n**Response:**\n- `personal_agent_id` (str): The ID of the personal agent.\n- `user_id` (str): The ID of the user.\n- `agent_id` (str): The ID of the associated agent.\n\n**Errors:**\n- `404 Not Found`: If the user does not have a personal agent.",
        "operationId": "get_personal_agent_api_v1_agents_personal_agent_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalAgentGetResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or credentials are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. Check the request body or query parameters.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected internal error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "x-delegated-to",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. Agent ID to delegate to when using Bearer authentication. Allows a user to act as a sandbox or personal agent. The agent must be in the same organisation as the authenticated user, and must be a sandbox agent or the user's personal agent.",
            "example": "agnt_abc123"
          }
        ],
        "x-required-permissions": "toolkits:read"
      },
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "Create Personal Agent",
        "description": "Create a new personal agent within the current user's organisation.\n\nThis endpoint is used to provision a new personal agent, which is associated with a new agent that can then be granted\naccess to credentials to perform automated tasks. The personal agent is associated with the user making the request.\n\nAn agent API key will not be returned for personal agents. Optionally, you can provide a list of credential IDs to grant the personalagent\nimmediate access to those credentials upon creation of the associated agent.\n\n**Request Body:**\n- `name` (str): A human-readable name for the agent.\n- `description` (str, optional): A brief description of the agent's purpose.\n- `credential_ids` (list[str], optional): List of credential IDs to grant access to.\n\n**Response:**\n- `personal_agent_id` (str): The ID of the created personal agent.\n- `agent_id` (str): The ID of the created agent.\n- `agent` (Agent): The created agent object.\n\n**Errors:**\n- `404 Not Found`: If any of the provided credential IDs don't exist or don't belong to the user's organisation.",
        "operationId": "create_personal_agent_api_v1_agents_personal_agent_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonalAgentCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalAgentCreateResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or credentials are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. Check the request body or query parameters.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected internal error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "x-delegated-to",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. Agent ID to delegate to when using Bearer authentication. Allows a user to act as a sandbox or personal agent. The agent must be in the same organisation as the authenticated user, and must be a sandbox agent or the user's personal agent.",
            "example": "agnt_abc123"
          }
        ],
        "x-required-permissions": "toolkits:write"
      },
      "delete": {
        "tags": [
          "Agents"
        ],
        "summary": "Delete the current user's personal agent",
        "description": "Delete the current user's personal agent.\n\nThis endpoint performs a hard delete of both the personal agent record and its\nassociated agent, including all associated credentials, API keys, and roles.\nThe user must own the personal agent to delete it.\n\n**Response:**\n- `204 No Content`: On successful deletion.\n\n**Errors:**\n- `404 Not Found`: If the user does not have a personal agent.\n- `401 Unauthorized`: If the user is not authorized to delete the personal agent.",
        "operationId": "delete_personal_agent_api_v1_agents_personal_agent_delete",
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "401": {
            "description": "Authentication required or credentials are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. Check the request body or query parameters.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected internal error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "x-delegated-to",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. Agent ID to delegate to when using Bearer authentication. Allows a user to act as a sandbox or personal agent. The agent must be in the same organisation as the authenticated user, and must be a sandbox agent or the user's personal agent.",
            "example": "agnt_abc123"
          }
        ],
        "x-required-permissions": "toolkits:write"
      }
    },
    "/api/v1/agents/{agent_id}": {
      "delete": {
        "tags": [
          "Agents"
        ],
        "summary": "Delete an agent",
        "description": "Delete an agent.  User must be the creator of the agent.",
        "operationId": "delete_agent_api_v1_agents__agent_id__delete",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier of the agent to delete.",
              "title": "Agent Id"
            },
            "description": "Unique identifier of the agent to delete."
          },
          {
            "name": "x-delegated-to",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. Agent ID to delegate to when using Bearer authentication. Allows a user to act as a sandbox or personal agent. The agent must be in the same organisation as the authenticated user, and must be a sandbox agent or the user's personal agent.",
            "example": "agnt_abc123"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "401": {
            "description": "Authentication required or credentials are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. Check the request body or query parameters.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected internal error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "x-required-permissions": "toolkits:write"
      },
      "patch": {
        "tags": [
          "Agents"
        ],
        "summary": "Update an agent",
        "description": "Update an agent. Name, description, active status or icon URL can be updated.  User must be the creator of the agent.",
        "operationId": "update_agent_api_v1_agents__agent_id__patch",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier of the agent to update.",
              "title": "Agent Id"
            },
            "description": "Unique identifier of the agent to update."
          },
          {
            "name": "x-delegated-to",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. Agent ID to delegate to when using Bearer authentication. Allows a user to act as a sandbox or personal agent. The agent must be in the same organisation as the authenticated user, and must be a sandbox agent or the user's personal agent.",
            "example": "agnt_abc123"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or credentials are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. Check the request body or query parameters.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected internal error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "x-required-permissions": "toolkits:write"
      },
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "Get agent by ID",
        "description": "Get an agent by its ID.\n\nThis endpoint gets the agent by its ID and returns the agent if the agent is valid and active.\n\n**Response:**\n- An `Agent` object.\n\n**Errors:**\n- `404 Not Found`: If the agent does not exist.\n- `401 Unauthorized`: If the agent is inactive or doesn't belong to the user's organization.",
        "operationId": "get_agent_api_v1_agents__agent_id__get",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier of the agent.",
              "title": "Agent Id"
            },
            "description": "Unique identifier of the agent."
          },
          {
            "name": "x-delegated-to",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. Agent ID to delegate to when using Bearer authentication. Allows a user to act as a sandbox or personal agent. The agent must be in the same organisation as the authenticated user, and must be a sandbox agent or the user's personal agent.",
            "example": "agnt_abc123"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or credentials are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. Check the request body or query parameters.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected internal error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "x-required-permissions": "toolkits:read"
      }
    },
    "/api/v1/agents/{agent_id}/permissions": {
      "put": {
        "tags": [
          "Agents"
        ],
        "summary": "Set Agent Permissions",
        "description": "Replace the full permission set for an agent.\n\nThe supplied list becomes the agent's complete grant set — permissions in the\ncurrent set that are omitted are revoked; new entries are granted.\n\n**Constraints:**\n- Each permission must be grantable (no ``jentic*``, no ``org:admin``).\n- Each permission must be within the caller's own effective permissions.\n\n**Response:**\n- `204 No Content`: On success.\n\n**Errors:**\n- `400 Bad Request`: If any permission is not grantable.\n- `403 Forbidden`: If any permission exceeds the caller's own scope.\n- `404 Not Found`: If the agent does not exist.\n- `401 Unauthorized`: If the agent does not belong to the caller's organisation.",
        "operationId": "set_agent_permissions_api_v1_agents__agent_id__permissions_put",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Id"
            }
          },
          {
            "name": "x-delegated-to",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. Agent ID to delegate to when using Bearer authentication. Allows a user to act as a sandbox or personal agent. The agent must be in the same organisation as the authenticated user, and must be a sandbox agent or the user's personal agent.",
            "example": "agnt_abc123"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentSetPermissionsRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "401": {
            "description": "Authentication required or credentials are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. Check the request body or query parameters.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected internal error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "x-required-permissions": "org:admin"
      }
    },
    "/api/v1/agents/apis": {
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "List agent's accessible APIs",
        "description": "List all unique APIs the authenticated agent can access.\n\nThis endpoint, called by an agent, inspects all credentials granted to it\nand returns a consolidated, unique list of API identifiers. This allows\nthe agent to discover the APIs it is authorized to interact with.\n\nThe identifiers are derived from the `api_vendor`, `api_name`, and `api_version`\nfields of the agent's credentials.\n\n**Response:**\n- A list of `APIIdentifier` objects, each representing a unique API.",
        "operationId": "get_agent_apis_api_v1_agents_apis_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/APIIdentifier"
                  },
                  "type": "array",
                  "title": "Response Get Agent Apis Api V1 Agents Apis Get"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or credentials are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. Check the request body or query parameters.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected internal error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "x-delegated-to",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. Agent ID to delegate to when using Bearer authentication. Allows a user to act as a sandbox or personal agent. The agent must be in the same organisation as the authenticated user, and must be a sandbox agent or the user's personal agent.",
            "example": "agnt_abc123"
          }
        ],
        "x-required-permissions": "capabilities:execute"
      }
    },
    "/api/v1/agents/personal-agent/credentials": {
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "Grant Personal Agent Credentials",
        "description": "Grant credentials to the current user's personal agent.\n\nThis endpoint automatically resolves the user's personal agent and grants\nthe specified credentials to it. The user must own the personal agent and\nthe credentials must belong to the same organisation.\n\n**Request Body:**\n- `credential_ids` (list[str]): List of credential IDs to be granted.\n\n**Response:**\n- `204 No Content`: On successful grant.\n\n**Errors:**\n- `403 Forbidden`: If the credentials are in a different organisation.\n- `404 Not Found`: If the user doesn't have a personal agent or any credential doesn't exist.",
        "operationId": "grant_personal_agent_credentials_api_v1_agents_personal_agent_credentials_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonalAgentGrantCredentialRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "401": {
            "description": "Authentication required or credentials are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. Check the request body or query parameters.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected internal error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "x-delegated-to",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. Agent ID to delegate to when using Bearer authentication. Allows a user to act as a sandbox or personal agent. The agent must be in the same organisation as the authenticated user, and must be a sandbox agent or the user's personal agent.",
            "example": "agnt_abc123"
          }
        ],
        "x-required-permissions": "toolkits:write"
      }
    },
    "/api/v1/agents/personal-agent/credentials/{credential_id}": {
      "delete": {
        "tags": [
          "Agents"
        ],
        "summary": "Revoke Personal Agent Credential",
        "description": "Revoke a credential from the current user's personal agent.\n\nThis endpoint automatically resolves the user's personal agent and revokes\naccess to the specified credential.\n\n**Path Parameters:**\n- `credential_id` (str): The ID of the credential to revoke.\n\n**Response:**\n- `204 No Content`: On successful revocation.\n\n**Errors:**\n- `404 Not Found`: If the user doesn't have a personal agent or the credential link doesn't exist.",
        "operationId": "revoke_personal_agent_credential_api_v1_agents_personal_agent_credentials__credential_id__delete",
        "parameters": [
          {
            "name": "credential_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Identifier of the credential to revoke from the personal agent.",
              "title": "Credential Id"
            },
            "description": "Identifier of the credential to revoke from the personal agent."
          },
          {
            "name": "x-delegated-to",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. Agent ID to delegate to when using Bearer authentication. Allows a user to act as a sandbox or personal agent. The agent must be in the same organisation as the authenticated user, and must be a sandbox agent or the user's personal agent.",
            "example": "agnt_abc123"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "401": {
            "description": "Authentication required or credentials are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. Check the request body or query parameters.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected internal error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "x-required-permissions": "toolkits:write"
      }
    },
    "/api/v1/agents/search": {
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "Search",
        "description": "Search for APIs, workflows, and operations available to the agent.\n\nThis endpoint acts as a proxy to the Directory API's search functionality,\nbut with a critical security layer: it strictly filters results based on the\ncredentials granted to the authenticated agent.\n\nThe agent can submit a search query, and this endpoint will first determine\nwhich APIs the agent is authorized to access. It then forwards the search\nrequest to the Directory API, but constrains the search scope to only those\nauthorized APIs. Any `api_names` provided in the request body are ignored\nand overridden with the agent's permitted list.\n\n**Request Body:**\nThe request body should follow the `SearchRequest` model of the Directory API.\nExample:\n```json\n{\n  \"query\": \"update sheet\",\n  \"limit\": 5,\n  \"version\": \"latest\",\n  \"include_all_versions\": false,\n  \"api_id\": null,\n  \"api_names\": null,\n  \"filter_by_credentials\": true\n}\n```\n\n**Access Control:**\n- The search is restricted to the APIs associated with the agent's granted credentials by default.\n- If the agent has no credentials, it will receive an empty search result with a message indicating no API access.\n- If the agent would like to search for APIs that are not associated with any credentials,\n  it can set `filter_by_credentials` to false.\n\n**Response:**\nA `SearchResponse` object containing lists of workflows and operations that match the query\nand are within the agent's access scope.\nExample:\n```json\n{\n  \"results\": [...],\n  \"total_count\": 5,\n  \"query\": \"update sheet\",\n  \"message\": null\n}\n```",
        "operationId": "search_api_v1_agents_search_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or credentials are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. Check the request body or query parameters.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected internal error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "x-delegated-to",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. Agent ID to delegate to when using Bearer authentication. Allows a user to act as a sandbox or personal agent. The agent must be in the same organisation as the authenticated user, and must be a sandbox agent or the user's personal agent.",
            "example": "agnt_abc123"
          }
        ],
        "x-required-permissions": "capabilities:execute"
      }
    },
    "/api/v1/credentials/oauth/platform-applications": {
      "get": {
        "tags": [
          "Credentials"
        ],
        "summary": "Find platform OAuth application",
        "description": "Find a platform OAuth application by its API identifier.",
        "operationId": "find_platform_application_api_v1_credentials_oauth_platform_applications_get",
        "parameters": [
          {
            "name": "api_vendor",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "API vendor identifier to search for.",
              "title": "Api Vendor"
            },
            "description": "API vendor identifier to search for."
          },
          {
            "name": "api_name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "API name to search for.",
              "title": "Api Name"
            },
            "description": "API name to search for."
          },
          {
            "name": "x-delegated-to",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. Agent ID to delegate to when using Bearer authentication. Allows a user to act as a sandbox or personal agent. The agent must be in the same organisation as the authenticated user, and must be a sandbox agent or the user's personal agent.",
            "example": "agnt_abc123"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformOAuthApplication"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or credentials are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. Check the request body or query parameters.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected internal error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "x-required-permissions": "credentials:read"
      }
    },
    "/api/v1/credentials/basic": {
      "post": {
        "tags": [
          "Credentials"
        ],
        "summary": "Create basic-auth credential",
        "description": "Create a Basic-Auth credential (username/password) or no-auth credential.",
        "operationId": "create_basic_credential_api_v1_credentials_basic_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BasicCredentialCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Credential"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or credentials are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. Check the request body or query parameters.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected internal error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "x-delegated-to",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. Agent ID to delegate to when using Bearer authentication. Allows a user to act as a sandbox or personal agent. The agent must be in the same organisation as the authenticated user, and must be a sandbox agent or the user's personal agent.",
            "example": "agnt_abc123"
          }
        ],
        "x-required-permissions": "credentials:write"
      }
    },
    "/api/v1/credentials/no-auth": {
      "post": {
        "tags": [
          "Credentials"
        ],
        "summary": "Create no-auth credential",
        "description": "Create a Basic-Auth credential (username/password) or no-auth credential.",
        "operationId": "create_no_auth_credential_api_v1_credentials_no_auth_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoAuthCredentialCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Credential"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or credentials are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. Check the request body or query parameters.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected internal error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "x-delegated-to",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. Agent ID to delegate to when using Bearer authentication. Allows a user to act as a sandbox or personal agent. The agent must be in the same organisation as the authenticated user, and must be a sandbox agent or the user's personal agent.",
            "example": "agnt_abc123"
          }
        ],
        "x-required-permissions": "credentials:write"
      }
    },
    "/api/v1/credentials/customer-api-key": {
      "post": {
        "tags": [
          "Credentials"
        ],
        "summary": "Create API key credential",
        "description": "Create a customer-supplied API-key credential.",
        "operationId": "create_customer_api_key_api_v1_credentials_customer_api_key_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerAPIKeyCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Credential"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or credentials are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. Check the request body or query parameters.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected internal error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "x-delegated-to",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. Agent ID to delegate to when using Bearer authentication. Allows a user to act as a sandbox or personal agent. The agent must be in the same organisation as the authenticated user, and must be a sandbox agent or the user's personal agent.",
            "example": "agnt_abc123"
          }
        ],
        "x-required-permissions": "credentials:write"
      }
    },
    "/api/v1/credentials/customer-token-value": {
      "post": {
        "tags": [
          "Credentials"
        ],
        "summary": "Create bearer token credential",
        "description": "Create a customer-supplied bearer token credential.",
        "operationId": "create_customer_token_api_v1_credentials_customer_token_value_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenValueCredentialCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Credential"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or credentials are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. Check the request body or query parameters.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected internal error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "x-delegated-to",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. Agent ID to delegate to when using Bearer authentication. Allows a user to act as a sandbox or personal agent. The agent must be in the same organisation as the authenticated user, and must be a sandbox agent or the user's personal agent.",
            "example": "agnt_abc123"
          }
        ],
        "x-required-permissions": "credentials:write"
      }
    },
    "/api/v1/credentials/basic/{credential_id}": {
      "patch": {
        "tags": [
          "Credentials"
        ],
        "summary": "Update basic-auth credential",
        "description": "Update an existing Basic-Auth credential.",
        "operationId": "update_basic_credential_api_v1_credentials_basic__credential_id__patch",
        "parameters": [
          {
            "name": "credential_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier of the credential to update.",
              "title": "Credential Id"
            },
            "description": "Unique identifier of the credential to update."
          },
          {
            "name": "x-delegated-to",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. Agent ID to delegate to when using Bearer authentication. Allows a user to act as a sandbox or personal agent. The agent must be in the same organisation as the authenticated user, and must be a sandbox agent or the user's personal agent.",
            "example": "agnt_abc123"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BasicCredentialUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Credential"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or credentials are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. Check the request body or query parameters.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected internal error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "x-required-permissions": "credentials:write"
      }
    },
    "/api/v1/credentials/no-auth/{credential_id}": {
      "patch": {
        "tags": [
          "Credentials"
        ],
        "summary": "Update no-auth credential",
        "description": "Update an existing no-auth credential.",
        "operationId": "update_no_auth_credential_api_v1_credentials_no_auth__credential_id__patch",
        "parameters": [
          {
            "name": "credential_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier of the credential to update.",
              "title": "Credential Id"
            },
            "description": "Unique identifier of the credential to update."
          },
          {
            "name": "x-delegated-to",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. Agent ID to delegate to when using Bearer authentication. Allows a user to act as a sandbox or personal agent. The agent must be in the same organisation as the authenticated user, and must be a sandbox agent or the user's personal agent.",
            "example": "agnt_abc123"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoAuthCredentialUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Credential"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or credentials are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. Check the request body or query parameters.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected internal error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "x-required-permissions": "credentials:write"
      }
    },
    "/api/v1/credentials/customer-api-key/{credential_id}": {
      "patch": {
        "tags": [
          "Credentials"
        ],
        "summary": "Update API key credential",
        "description": "Update an existing customer-supplied API-key credential.",
        "operationId": "update_customer_api_key_api_v1_credentials_customer_api_key__credential_id__patch",
        "parameters": [
          {
            "name": "credential_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier of the credential to update.",
              "title": "Credential Id"
            },
            "description": "Unique identifier of the credential to update."
          },
          {
            "name": "x-delegated-to",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. Agent ID to delegate to when using Bearer authentication. Allows a user to act as a sandbox or personal agent. The agent must be in the same organisation as the authenticated user, and must be a sandbox agent or the user's personal agent.",
            "example": "agnt_abc123"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerAPIKeyUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Credential"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or credentials are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. Check the request body or query parameters.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected internal error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "x-required-permissions": "credentials:write"
      }
    },
    "/api/v1/credentials/customer-token-value/{credential_id}": {
      "patch": {
        "tags": [
          "Credentials"
        ],
        "summary": "Update bearer token credential",
        "description": "Update an existing customer-supplied bearer token credential. Returns the updated credential.",
        "operationId": "update_customer_token_value_api_v1_credentials_customer_token_value__credential_id__patch",
        "parameters": [
          {
            "name": "credential_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier of the credential to update.",
              "title": "Credential Id"
            },
            "description": "Unique identifier of the credential to update."
          },
          {
            "name": "x-delegated-to",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. Agent ID to delegate to when using Bearer authentication. Allows a user to act as a sandbox or personal agent. The agent must be in the same organisation as the authenticated user, and must be a sandbox agent or the user's personal agent.",
            "example": "agnt_abc123"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenValueCredentialUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Credential"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or credentials are invalid.",
[...]
