{
  "openapi": "3.0.3",
  "info": {
    "title": "Customer.io Track API",
    "description": "The Customer.io Track API lets you send behavioral data to Customer.io, including identifying customers, tracking events, and managing customer data. This API is used to send customer data into Customer.io for use in messaging campaigns and workflows.",
    "version": "1.0.0",
    "contact": {
      "name": "Customer.io Support",
      "url": "https://customer.io"
    },
    "x-jentic-source-url": "https://customer.io/docs/api/"
  },
  "servers": [
    {
      "url": "https://track.customer.io/api/v1",
      "description": "Customer.io Track API"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Customers",
      "description": "Create, update, and delete customer profiles"
    },
    {
      "name": "Events",
      "description": "Track customer events and anonymous events"
    },
    {
      "name": "Devices",
      "description": "Manage customer devices for push notifications"
    }
  ],
  "paths": {
    "/customers/{customer_id}": {
      "put": {
        "operationId": "identifyCustomer",
        "summary": "Identify a customer",
        "description": "Create or update a customer profile. If the customer does not exist, it will be created. If the customer already exists, any attributes will be updated.",
        "tags": ["Customers"],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the customer.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentifyCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer identified successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteCustomer",
        "summary": "Delete a customer",
        "description": "Delete a customer profile from Customer.io. This will remove the customer and all their data.",
        "tags": ["Customers"],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the customer.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deleted successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/customers/{customer_id}/events": {
      "post": {
        "operationId": "trackCustomerEvent",
        "summary": "Track a customer event",
        "description": "Track an event for a specific customer. Events can trigger campaigns, workflows, and other actions in Customer.io.",
        "tags": ["Events"],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the customer.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackEventRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event tracked successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/events": {
      "post": {
        "operationId": "trackAnonymousEvent",
        "summary": "Track an anonymous event",
        "description": "Track an event that is not associated with a specific customer. Anonymous events can be used to trigger campaigns for anonymous visitors.",
        "tags": ["Events"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnonymousEventRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Anonymous event tracked successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/customers/{customer_id}/devices": {
      "put": {
        "operationId": "addCustomerDevice",
        "summary": "Add a customer device",
        "description": "Add a device to a customer profile for push notifications. If the device already exists, it will be updated.",
        "tags": ["Devices"],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the customer.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Device added successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/customers/{customer_id}/devices/{device_id}": {
      "delete": {
        "operationId": "deleteCustomerDevice",
        "summary": "Delete a customer device",
        "description": "Remove a device from a customer profile.",
        "tags": ["Devices"],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the customer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "device_id",
            "in": "path",
            "required": true,
            "description": "The unique device token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Device deleted successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/customers/{customer_id}/suppress": {
      "post": {
        "operationId": "suppressCustomer",
        "summary": "Suppress a customer",
        "description": "Suppress a customer profile. Suppressed customers will not receive messages.",
        "tags": ["Customers"],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the customer.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer suppressed successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/customers/{customer_id}/unsuppress": {
      "post": {
        "operationId": "unsuppressCustomer",
        "summary": "Unsuppress a customer",
        "description": "Unsuppress a customer profile, allowing them to receive messages again.",
        "tags": ["Customers"],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the customer.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer unsuppressed successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Use your site ID as the username and your API key as the password."
      }
    },
    "schemas": {
      "IdentifyCustomerRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "The customer's email address."
          },
          "created_at": {
            "type": "integer",
            "description": "A UNIX timestamp representing the date the customer was created."
          }
        },
        "additionalProperties": true,
        "description": "Customer attributes. You can pass any key-value pairs as custom attributes."
      },
      "TrackEventRequest": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the event."
          },
          "type": {
            "type": "string",
            "description": "The event type. Use 'page' for page view events.",
            "enum": ["page"]
          },
          "data": {
            "type": "object",
            "additionalProperties": true,
            "description": "Custom data to include with the event."
          }
        }
      },
      "AnonymousEventRequest": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the event."
          },
          "data": {
            "type": "object",
            "additionalProperties": true,
            "description": "Custom data to include with the event."
          }
        }
      },
      "DeviceRequest": {
        "type": "object",
        "required": ["device"],
        "properties": {
          "device": {
            "$ref": "#/components/schemas/Device"
          }
        }
      },
      "Device": {
        "type": "object",
        "required": ["id", "platform"],
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique device token."
          },
          "platform": {
            "type": "string",
            "description": "The device platform.",
            "enum": ["ios", "android"]
          },
          "last_used": {
            "type": "integer",
            "description": "UNIX timestamp of when the device was last used."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "error": {
                "type": "string",
                "description": "Error message describing what went wrong."
              }
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - invalid or missing parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid credentials",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  }
}
