{
  "openapi": "3.0.3",
  "info": {
    "title": "FullEnrich API",
    "description": "FullEnrich API for B2B contact enrichment, reverse email lookup, and people/company search. Aggregates data from 20+ providers for the highest enrichment rates.",
    "version": "2.0.0",
    "contact": {
      "name": "FullEnrich",
      "url": "https://fullenrich.com"
    },
    "x-jentic-source-url": "https://docs.fullenrich.com"
  },
  "servers": [
    {
      "url": "https://api.fullenrich.com/api/v2",
      "description": "FullEnrich API v2"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/account/credits": {
      "get": {
        "operationId": "getCreditBalance",
        "summary": "Get Credit Balance",
        "description": "Retrieve the current balance of credits available in your workspace.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Credit balance retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "credits": {
                      "type": "number",
                      "description": "Available credits"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key"
          }
        }
      }
    },
    "/account/keys/verify": {
      "get": {
        "operationId": "verifyApiKey",
        "summary": "Check If API Key Is Valid",
        "description": "Validate the current API credentials.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "API key is valid"
          },
          "401": {
            "description": "Unauthorized - Invalid API key"
          }
        }
      }
    },
    "/contact/enrich/bulk": {
      "post": {
        "operationId": "startBulkEnrichment",
        "summary": "Start Bulk Enrichment",
        "description": "Find contact information (work email, mobile phone, personal email) for up to 100 B2B contacts. Requires either first_name + last_name + company, or linkedin_url. Results are delivered via webhook (recommended) or polling.",
        "tags": [
          "Enrichment"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "contacts"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "A readable name for this enrichment batch"
                  },
                  "webhook_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL to receive results via webhook (recommended)"
                  },
                  "contacts": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "type": "object",
                      "properties": {
                        "first_name": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "company_name": {
                          "type": "string"
                        },
                        "domain": {
                          "type": "string"
                        },
                        "linkedin_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "custom": {
                          "type": "object",
                          "description": "Custom key-value pairs (values must be strings)",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enrichment started successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "enrichment_id": {
                      "type": "string",
                      "description": "ID to retrieve results"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/contact/enrich/bulk/{enrichment_id}": {
      "get": {
        "operationId": "getEnrichmentResult",
        "summary": "Get Enrichment Result",
        "description": "Retrieve the result of a bulk enrichment. Not needed if using webhooks.",
        "tags": [
          "Enrichment"
        ],
        "parameters": [
          {
            "name": "enrichment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enrichment results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "enrichment_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "contacts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "first_name": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "personal_email": {
                            "type": "string"
                          },
                          "linkedin_url": {
                            "type": "string"
                          },
                          "job_title": {
                            "type": "string"
                          },
                          "company_name": {
                            "type": "string"
                          },
                          "custom": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/contact/reverse/email/bulk": {
      "post": {
        "operationId": "reverseEmailLookup",
        "summary": "Reverse Email Lookup",
        "description": "Identify the person and company behind an email address. Works with both work and personal emails. Costs 1 credit per successful match.",
        "tags": [
          "Reverse Email"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "emails"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "A readable name for this lookup batch"
                  },
                  "webhook_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "custom": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reverse lookup started successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "enrichment_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/contact/reverse/email/bulk/{enrichment_id}": {
      "get": {
        "operationId": "getReverseEmailResult",
        "summary": "Get Reverse Email Result",
        "description": "Retrieve reverse email lookup results. Not needed if using webhooks.",
        "tags": [
          "Reverse Email"
        ],
        "parameters": [
          {
            "name": "enrichment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reverse email results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "enrichment_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string"
                          },
                          "person": {
                            "type": "object"
                          },
                          "company": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/people/search": {
      "post": {
        "operationId": "searchPeople",
        "summary": "Search People",
        "description": "Search for contacts using filters. Returns professional details and company info. Costs 0.25 credits per result.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "job_title": {
                    "type": "string"
                  },
                  "company_name": {
                    "type": "string"
                  },
                  "domain": {
                    "type": "string"
                  },
                  "location": {
                    "type": "string"
                  },
                  "industry": {
                    "type": "string"
                  },
                  "seniority": {
                    "type": "string"
                  },
                  "linkedin_url": {
                    "type": "string"
                  },
                  "limit": {
                    "type": "integer",
                    "default": 25
                  },
                  "offset": {
                    "type": "integer",
                    "default": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/company/search": {
      "post": {
        "operationId": "searchCompany",
        "summary": "Search Company",
        "description": "Search for companies by size, industry, location, founding year, specialties, and more. Can also search by LinkedIn company URL or domain for exact match.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_name": {
                    "type": "string"
                  },
                  "domain": {
                    "type": "string"
                  },
                  "linkedin_url": {
                    "type": "string"
                  },
                  "industry": {
                    "type": "string"
                  },
                  "location": {
                    "type": "string"
                  },
                  "company_size": {
                    "type": "string"
                  },
                  "founding_year": {
                    "type": "integer"
                  },
                  "specialties": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "limit": {
                    "type": "integer",
                    "default": 25
                  },
                  "offset": {
                    "type": "integer",
                    "default": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication. Include your API key in the Authorization header."
      }
    }
  },
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Enrichment"
    },
    {
      "name": "Reverse Email"
    },
    {
      "name": "Search"
    }
  ]
}
