{
  "openapi": "3.0.3",
  "info": {
    "title": "Adalo API",
    "description": "The Adalo API allows you to access and modify data in your Adalo app collections and send push notifications to app users. It provides standard CRUD operations for collection records and a push notification endpoint.",
    "version": "1.0.0",
    "contact": {
      "name": "Adalo",
      "url": "https://help.adalo.com/integrations/the-adalo-api"
    }
  },
  "servers": [
    {
      "url": "https://api.adalo.com",
      "description": "Adalo API server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v0/apps/{appId}/collections/{collectionId}": {
      "get": {
        "operationId": "listRecords",
        "summary": "List records in a collection",
        "description": "Retrieves a paginated list of records from the specified collection. Supports filtering by a single property and pagination via offset and limit.",
        "tags": ["Collections"],
        "parameters": [
          {
            "$ref": "#/components/parameters/appId"
          },
          {
            "$ref": "#/components/parameters/collectionId"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of records to skip for pagination.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 20
            }
          },
          {
            "name": "filterKey",
            "in": "query",
            "description": "The property name to filter records by. Cannot match against array/relationship fields.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterValue",
            "in": "query",
            "description": "The value to match for the specified filterKey.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of records.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or missing API key."
          },
          "404": {
            "description": "Collection not found."
          },
          "429": {
            "description": "Rate limit exceeded. Maximum 5 requests per second."
          }
        }
      },
      "post": {
        "operationId": "createRecord",
        "summary": "Create a record in a collection",
        "description": "Creates a new record in the specified collection.",
        "tags": ["Collections"],
        "parameters": [
          {
            "$ref": "#/components/parameters/appId"
          },
          {
            "$ref": "#/components/parameters/collectionId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecordInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created record.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Record"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or missing API key."
          },
          "404": {
            "description": "Collection not found."
          },
          "429": {
            "description": "Rate limit exceeded. Maximum 5 requests per second."
          }
        }
      }
    },
    "/v0/apps/{appId}/collections/{collectionId}/{recordId}": {
      "get": {
        "operationId": "getRecord",
        "summary": "Get a single record",
        "description": "Retrieves a single record by its ID from the specified collection.",
        "tags": ["Collections"],
        "parameters": [
          {
            "$ref": "#/components/parameters/appId"
          },
          {
            "$ref": "#/components/parameters/collectionId"
          },
          {
            "$ref": "#/components/parameters/recordId"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Record"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or missing API key."
          },
          "404": {
            "description": "Record or collection not found."
          },
          "429": {
            "description": "Rate limit exceeded. Maximum 5 requests per second."
          }
        }
      },
      "put": {
        "operationId": "updateRecord",
        "summary": "Update a record",
        "description": "Updates an existing record in the specified collection. Only the provided fields will be updated.",
        "tags": ["Collections"],
        "parameters": [
          {
            "$ref": "#/components/parameters/appId"
          },
          {
            "$ref": "#/components/parameters/collectionId"
          },
          {
            "$ref": "#/components/parameters/recordId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecordInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated record.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Record"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or missing API key."
          },
          "404": {
            "description": "Record or collection not found."
          },
          "429": {
            "description": "Rate limit exceeded. Maximum 5 requests per second."
          }
        }
      },
      "delete": {
        "operationId": "deleteRecord",
        "summary": "Delete a record",
        "description": "Deletes a record by its ID from the specified collection.",
        "tags": ["Collections"],
        "parameters": [
          {
            "$ref": "#/components/parameters/appId"
          },
          {
            "$ref": "#/components/parameters/collectionId"
          },
          {
            "$ref": "#/components/parameters/recordId"
          }
        ],
        "responses": {
          "200": {
            "description": "Record deleted successfully."
          },
          "401": {
            "description": "Unauthorized. Invalid or missing API key."
          },
          "404": {
            "description": "Record or collection not found."
          },
          "429": {
            "description": "Rate limit exceeded. Maximum 5 requests per second."
          }
        }
      }
    },
    "/notifications": {
      "post": {
        "operationId": "sendPushNotification",
        "summary": "Send a push notification",
        "description": "Sends a push notification to a specific app user, targeted by email address or user ID.",
        "tags": ["Notifications"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushNotificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Push notification result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PushNotificationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or missing API key."
          },
          "429": {
            "description": "Rate limit exceeded. Maximum 5 requests per second."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key obtained from Adalo Builder > Settings > App Access > API Key."
      }
    },
    "parameters": {
      "appId": {
        "name": "appId",
        "in": "path",
        "required": true,
        "description": "The unique identifier of the Adalo application.",
        "schema": {
          "type": "string"
        }
      },
      "collectionId": {
        "name": "collectionId",
        "in": "path",
        "required": true,
        "description": "The unique identifier of the collection.",
        "schema": {
          "type": "string"
        }
      },
      "recordId": {
        "name": "recordId",
        "in": "path",
        "required": true,
        "description": "The unique identifier of the record.",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "Record": {
        "type": "object",
        "description": "A record from an Adalo collection. Properties vary depending on the collection schema.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The unique identifier of the record."
          }
        },
        "additionalProperties": true
      },
      "RecordInput": {
        "type": "object",
        "description": "Input data for creating or updating a record. Properties depend on the collection schema.",
        "additionalProperties": true
      },
      "RecordList": {
        "type": "object",
        "description": "A paginated list of records.",
        "properties": {
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Record"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The current offset in the result set."
          },
          "limit": {
            "type": "integer",
            "description": "The maximum number of records returned."
          },
          "count": {
            "type": "integer",
            "description": "Total number of records in the collection."
          }
        }
      },
      "PushNotificationRequest": {
        "type": "object",
        "required": ["appId", "audience", "notification"],
        "properties": {
          "appId": {
            "type": "string",
            "description": "The unique identifier of the Adalo application."
          },
          "audience": {
            "type": "object",
            "description": "The target user for the notification. Specify either email or id.",
            "properties": {
              "email": {
                "type": "string",
                "format": "email",
                "description": "The email address of the target user."
              },
              "id": {
                "type": "string",
                "description": "The unique identifier of the target user."
              }
            }
          },
          "notification": {
            "type": "object",
            "required": ["titleText", "bodyText"],
            "properties": {
              "titleText": {
                "type": "string",
                "description": "The title of the push notification."
              },
              "bodyText": {
                "type": "string",
                "description": "The body text of the push notification."
              }
            }
          }
        }
      },
      "PushNotificationResponse": {
        "type": "object",
        "properties": {
          "successful": {
            "type": "integer",
            "description": "Number of notifications successfully delivered to the device."
          },
          "failed": {
            "type": "integer",
            "description": "Number of notifications that failed, typically because the user revoked notification permissions."
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Collections",
      "description": "CRUD operations for Adalo collection records."
    },
    {
      "name": "Notifications",
      "description": "Push notification operations for Adalo app users."
    }
  ]
}