{
  "openapi": "3.0.3",
  "info": {
    "title": "AppConnect V3",
    "description": "The Constant Contact, Inc. V3 public API, for building integrations with Constant Contact, the leading small-business email marketing platform.",
    "contact": {
      "name": "webservices@constantcontact.com"
    },
    "license": {
      "name": "Private",
      "url": "https://www.constantcontact.com/legal/terms-of-use"
    },
    "version": "3.0.141",
    "x-jentic-source-url": "https://developer.constantcontact.com"
  },
  "servers": [
    {
      "url": "https://api.cc.email/v3"
    }
  ],
  "tags": [
    {
      "name": "Account Services",
      "description": "Use the account endpoints and methods to get account information."
    },
    {
      "name": "Bulk Activities",
      "description": "Bulk activities endpoints are used to manage large numbers of contacts, lists, and tags."
    },
    {
      "name": "Contacts",
      "description": "Endpoints and methods to get, create, delete, and update one or more contacts."
    },
    {
      "name": "Contact Lists",
      "description": "Endpoints and methods to get, create, delete, and update one or more contact lists."
    },
    {
      "name": "Contact Tags",
      "description": "Endpoints and methods to get, create, delete, and update one or more contact tags."
    },
    {
      "name": "Contacts Reporting",
      "description": "Contact reporting endpoints are used to gather activity reports for campaigns sent to a contact."
    },
    {
      "name": "Contacts Custom Fields",
      "description": "Endpoints and methods to get, create, delete, and update on one or more custom fields."
    },
    {
      "name": "Email Campaigns",
      "description": "Use email campaign endpoints and methods to get, create, and update email campaigns."
    },
    {
      "name": "Email Campaigns AB Tests",
      "description": "Use email campaigns A/B Test endpoints and methods to get, create, delete and update A/B tests."
    },
    {
      "name": "Email Reporting",
      "description": "Use the email reporting endpoints and methods to get reporting data for email campaigns you sent to contacts."
    },
    {
      "name": "Email Scheduling",
      "description": "Use email scheduling endpoints and methods to schedule an email campaign activity, unschedule an email campaign activity, and GET schedule information."
    },
    {
      "name": "Events",
      "description": "Endpoints and methods used to create and manage events."
    },
    {
      "name": "Segments",
      "description": "Use segments to target a subset of your contacts that are most likely to engage with a particular campaign."
    },
    {
      "name": "Landing Pages Reporting",
      "description": "Use landing pages reporting endpoints and methods to get reporting data about how a contact interacted with a campaign activity."
    },
    {
      "name": "SMS Reporting",
      "description": "Use SMS reporting endpoints and methods to get reporting data about SMS campaigns."
    },
    {
      "name": "Technology Partners",
      "description": "Use partner endpoints to manage client Constant Contact accounts under your partner account."
    },
    {
      "name": "Technology Partners Webhooks",
      "description": "Use partner webhooks to subscribe to billing event notifications from Constant Contact."
    }
  ],
  "paths": {
    "/account/user/privileges": {
      "get": {
        "tags": [
          "Account Services"
        ],
        "summary": "GET User Privileges",
        "description": "Use this method to return the user privileges associated with your access token as an array of objects. This method returns all user privileges, including privileges the V3 API does not currently use. Constant Contact requires specific user privileges to make requests using the V3 API. For more information, see the [User Privileges and Roles Overview](/api_guide/user_privileges.html).",
        "operationId": "getUserPrivileges",
        "responses": {
          "200": {
            "description": "Request successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPrivilegesResource"
                }
              }
            }
          },
          "401": {
            "description": "The Access Token used is invalid.",
            "content": {}
          },
          "403": {
            "description": "Forbidden request. Your application is deactivated.",
            "content": {}
          },
          "500": {
            "description": "There was a problem with our internal service.",
            "content": {}
          },
          "503": {
            "description": "Our internal service is temporarily unavailable.",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2_implicit": []
          },
          {
            "oauth2_access_code": []
          }
        ]
      }
    },
    "/account/summary": {
      "get": {
        "tags": [
          "Account Services"
        ],
        "summary": "GET a Summary of Account Details",
        "description": "Get account related details for a Constant Contact user account. Use the `extra_fields` query parameter to include the `company_logo` and/or `physical_address` details in the response body. For more details, see [Get Account Summary Details](/api_guide/account_details_get.html).",
        "operationId": "getAccountById",
        "parameters": [
          {
            "name": "extra_fields",
            "in": "query",
            "description": "Use the `extra_fields` query parameter to include the `physical_address` and/or `company_logo` details in the response body. Use a comma separated list to include both (physical_address, company logo).",
            "schema": {
              "type": "string",
              "format": "csv",
              "enum": [
                "physical_address",
                "company_logo"
              ]
            },
            "example": "company_logo"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Either the JSON was malformed or there was a data validation error.",
            "content": {}
          },
          "401": {
            "description": "The Access Token used is invalid.",
            "content": {}
          },
          "403": {
            "description": "Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.",
            "content": {}
          },
          "500": {
            "description": "There was a problem with our internal service.",
            "content": {}
          },
          "503": {
            "description": "Our internal service is temporarily unavailable.",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2_implicit": [
              "account_read"
            ]
          },
          {
            "oauth2_access_code": [
              "account_read"
            ]
          }
        ],
        "x-authorization-privileges": [
          "account:read"
        ],
        "x-sdk-methodName": "getAccountDetails"
      },
      "put": {
        "tags": [
          "Account Services"
        ],
        "summary": "PUT (update) Account Details",
        "description": "Use this method to update account details for a Constant Contact account, such as the email address or phone number. This PUT method provides a partial update where only valid properties that you include in the request body are updated and excluded properties are not overwritten. For more details, see [Put (update) Account Summary Details](/api_guide/account_details_put.html).",
        "operationId": "putCustomerById",
        "requestBody": {
          "description": "In the request body, specify changes to account details by including and modifying all or select `CustomerPut` properties. Changes to read-only fields (`encoded_account_id`) are ignored.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerPut"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerPut"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Either the JSON was malformed or there was a data validation error.",
            "content": {}
          },
          "401": {
            "description": "The Access Token used is invalid.",
            "content": {}
          },
          "403": {
            "description": "Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.",
            "content": {}
          },
          "500": {
            "description": "There was a problem with our internal service.",
            "content": {}
          },
          "503": {
            "description": "Our internal service is temporarily unavailable.",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2_implicit": [
              "account_update"
            ]
          },
          {
            "oauth2_access_code": [
              "account_update"
            ]
          }
        ],
        "x-authorization-privileges": [
          "account:update"
        ],
        "x-sdk-methodName": "updateAccount",
        "x-codegen-request-body-name": "body"
      }
    },
    "/account/summary/physical_address": {
      "get": {
        "tags": [
          "Account Services"
        ],
        "summary": "GET the Physical Address for the Account",
        "description": "Use this method to get the address where the account's organization physically resides. The physical address is required to send emails and displays on the footer of every email that is sent from the account.",
        "operationId": "getPhysicalAddress",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountPhysicalAddress"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Either the JSON was malformed or there was a data validation error.",
            "content": {}
          },
          "401": {
            "description": "The Access Token used is invalid.",
            "content": {}
          },
          "403": {
            "description": "Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.",
            "content": {}
          },
          "415": {
            "description": "Unsupported Media Type.",
            "content": {}
          },
          "500": {
            "description": "There was a problem with our internal service.",
            "content": {}
          },
          "503": {
            "description": "Our internal service is temporarily unavailable.",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2_implicit": [
              "account_read"
            ]
          },
          {
            "oauth2_access_code": [
              "account_read"
            ]
          }
        ],
        "x-authorization-privileges": [
          "account:read"
        ],
        "x-sdk-methodName": "getAccountPhysicalAddress"
      },
      "put": {
        "tags": [
          "Account Services"
        ],
        "summary": "PUT (update) the Physical Address for an Account",
        "description": "Use this method to update the organization's physical address for the Constant Contact user account. The physical address is required to send emails and displays on the footer of every email that is sent from the account. To get the current physical address, make a GET call to `/account/summary/physical_address`. The country (<code>country_code</code>) where the account organization resides determines whether you use the <code>state_code</code> to specify United States (<code>US</code>) and Canada (<code>CA</code>) addresses, or use the <code>state_name</code> to specify all other countries. For more details, see [Put (update) the Physical Address for the Account](/api_guide/account_address_put.html). You must have the role of Account Owner assigned to update account level details. ",
        "operationId": "putPhysicalAddress",
        "requestBody": {
          "description": "Include all `AccountPhysicalAddress` properties required for the specified `country_code` and then update only those properties that you want to change. Excluding a non-read only field from the request body removes it from the physical address.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountPhysicalAddress"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountPhysicalAddress"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Either the JSON was malformed or there was a data validation error.",
            "content": {}
          },
          "401": {
            "description": "The Access Token used is invalid.",
            "content": {}
          },
          "403": {
            "description": "Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.",
            "content": {}
          },
          "415": {
            "description": "Unsupported Media Type.",
            "content": {}
          },
          "500": {
            "description": "There was a problem with our internal service.",
            "content": {}
          },
          "503": {
            "description": "Our internal service is temporarily unavailable.",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2_implicit": [
              "account_update"
            ]
          },
          {
            "oauth2_access_code": [
              "account_update"
            ]
          }
        ],
        "x-authorization-privileges": [
          "account:update"
        ],
        "x-sdk-methodName": "updateAccountPhysicalAddress",
        "x-codegen-request-body-name": "body"
      },
      "post": {
        "tags": [
          "Account Services"
        ],
        "summary": "POST the Physical Address for the Account",
        "description": "Use this method to add the address where the account's organization physically resides. The physical address is required to send emails and displays on the footer of every email that is sent from the account. The country (<code>country_code</code>) where the account organization resides determines whether you use the <code>state_code</code> to specify United States (<code>US</code>) and Canada (<code>CA</code>) addresses, or use the <code>state_name</code> to specify all other countries.",
        "operationId": "addPhysicalAddress",
        "requestBody": {
          "description": "Include all `AccountPhysicalAddress` properties required for the specified `country_code`. If a required property is not included or incorrectly formatted, a 400 error message is returned. If the address already exists, a 409 error message is returned.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountPhysicalAddress"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountPhysicalAddress"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Either the JSON was malformed or there was a data validation error.",
            "content": {}
          },
          "401": {
            "description": "The Access Token used is invalid.",
            "content": {}
          },
          "403": {
            "description": "Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.",
            "content": {}
          },
          "409": {
            "description": "Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.",
            "content": {}
          },
          "415": {
            "description": "Unsupported Media Type.",
            "content": {}
          },
          "500": {
            "description": "There was a problem with our internal service.",
            "content": {}
          },
          "503": {
            "description": "Our internal service is temporarily unavailable.",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2_implicit": [
              "account_update"
            ]
          },
          {
            "oauth2_access_code": [
              "account_update"
            ]
          }
        ],
        "x-authorization-privileges": [
          "account:update"
        ],
        "x-ctctmcp-allow": true,
        "x-codegen-request-body-name": "body"
      }
    },
    "/account/emails": {
      "get": {
        "tags": [
          "Account Services"
        ],
        "summary": "GET a Collection of Account Email Addresses",
        "description": "Use this method to return a collection of email addresses for the account associated with your access token. When you <a href=\"https://v3.developer.constantcontact.com/api_reference/index.html#!/Email_Campaigns/createEmailCampaignUsingPOST\" target=\"_blank\">Create an Email Campaign<a/>, you must use an account email address with a `CONFIRMED` status in the email campaign `from_email` and `reply_to_email` headers.\n      \n\nUse the query parameters to filter results. You can filter using `confirm_status`, `role_code`, or `email_address`. For example, searching with `confirm_status=CONFIRMED` returns all confirmed email addresses in the account. This method only supports one query parameter at a time.\n",
        "operationId": "retrieveEmailAddresses",
        "parameters": [
          {
            "name": "confirm_status",
            "in": "query",
            "description": "Use the `confirm_status` query parameter to search for account emails using the email status. Possible values are `CONFIRMED` or `UNCONFIRMED`. You can also abbreviate the values of this query parameter and use `C` or `U`.\n",
            "schema": {
              "type": "string",
              "enum": [
                "CONFIRMED",
                "C",
                "UNCONFIRMED",
                "U"
              ]
            }
          },
          {
            "name": "role_code",
            "in": "query",
            "description": "Use the `role_code` query parameter to search for account emails that have a specific role. Each each email address in an account can have multiple roles or no role. Possible values are `CONTACT`, `BILLING`, `REPLY_TO`, `JOURNALING`, or `OTHER`. You can also abbreviate the value of this query parameter and use `C`,`B`,`R`,`J`, or `O`.",
            "schema": {
              "type": "string",
              "enum": [
                "CONTACT",
                "C",
                "BILLING",
                "B",
                "JOURNALING",
                "J",
                "REPLY_TO",
                "R",
                "OTHER",
                "O"
              ]
            }
          },
          {
            "name": "email_address",
            "in": "query",
            "description": "Use the `email_address` query parameter to search for a specific account email address.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountEmails"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Either the JSON was malformed or there was a data validation error.",
            "content": {}
          },
          "401": {
            "description": "The Access Token used is invalid.",
            "content": {}
          },
          "403": {
            "description": "Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.",
            "content": {}
          },
          "415": {
            "description": "Unsupported Media Type.",
            "content": {}
          },
          "500": {
            "description": "There was a problem with our internal service.",
            "content": {}
          },
          "503": {
            "description": "Our internal service is temporarily unavailable.",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2_implicit": [
              "account_read"
            ]
          },
          {
            "oauth2_access_code": [
              "account_read"
            ]
          }
        ],
        "x-authorization-privileges": [
          "account:read"
        ],
        "x-sdk-methodName": "getAllAccountEmailAddresses"
      },
      "post": {
        "tags": [
          "Account Services"
        ],
        "summary": "POST Add an Account Email Address",
        "description": "Use this method to add a new email address to a Constant Contact account. If the email address you are adding already exists in the account the API will return a 409 conflict error. \n\nWhen you add a new email address to an account, Constant Contact automatically sends an email to that address with a link to confirm it. After a user clicks that link, the account email status changes from `UNCONFIRMED` to `CONFIRMED`. You can use confirmed account email addresses in the email campaign `from_email` and `reply_to_email` headers. For more use case information, see [Add an Account Email Address](/api_guide/account_post_emails.html) in the API guide. \n",
        "operationId": "addAccountEmailAddress",
        "requestBody": {
          "description": "A JSON request payload containing the new email address you want to add to the Constant Contact account.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountEmailInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Request successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountEmailCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Either the JSON was malformed or there was a data validation error.",
            "content": {}
          },
          "401": {
            "description": "The Access Token used is invalid.",
            "content": {}
          },
          "403": {
            "description": "Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.",
            "content": {}
          },
          "409": {
            "description": "Conflict. The resource you are creating or updating conflicts with an existing resource.",
            "content": {}
          },
          "415": {
            "description": "Unsupported Media Type.",
            "content": {}
          },
          "500": {
            "description": "There was a problem with our internal service.",
            "content": {}
          },
          "503": {
            "description": "Our internal service is temporarily unavailable.",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2_implicit": [
              "account_update"
            ]
          },
          {
            "oauth2_access_code": [
              "account_update"
            ]
          }
        ],
        "x-authorization-privileges": [
          "account:update"
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/activities": {
      "get": {
        "tags": [
          "Bulk Activities"
        ],
        "summary": "GET Activity Status Collection",
        "description": "This endpoint returns a collection of activities. Use the state query parameter to include only activities with a specific status (processing, completed, cancelled, failed, or time_out). Use the limit query parameter to define the number of activities returned per page. Learn [more](/api_guide/activity_status.html).",
        "operationId": "getActivityStatusCollection",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Specifies the number of results displayed per page of output, from 1 - 500, default = 50.",
            "schema": {
              "maximum": 500,
              "minimum": 1,
              "type": "integer",
              "default": 50
            },
            "example": 25
          },
          {
            "name": "state",
            "in": "query",
            "description": "Use this parameter to filter the response to include only activities in one of the following states: cancelled, completed, failed, processing, or timed_out.",
            "schema": {
              "type": "string",
              "enum": [
                "processing",
                "completed",
                "cancelled",
                "failed",
                "timed_out"
              ]
            },
            "example": "processing"
          }
        ],
        "responses": {
          "200": {
            "description": "Request Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Activities"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Either the JSON was malformed or there was a data validation error.",
            "content": {}
          },
          "401": {
            "description": "The Access Token used is invalid.",
            "content": {}
          },
          "403": {
            "description": "Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.",
            "content": {}
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {}
          },
          "500": {
            "description": "There was a problem with our internal service.",
            "content": {}
          },
          "503": {
            "description": "Our internal service is temporarily unavailable.",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2_implicit": [
              "contact_data"
            ]
          },
          {
            "oauth2_access_code": [
              "contact_data"
            ]
          }
        ],
        "x-authorization-privileges": [
          "contacts:write"
        ],
        "x-sdk-methodName": "getAllActivities"
      }
    },
    "/activities/{activity_id}": {
      "get": {
        "tags": [
          "Bulk Activities"
        ],
        "summary": "GET an Activity Status",
        "description": "This endpoint returns an activity status report.",
        "operationId": "getActivity",
        "parameters": [
          {
            "name": "activity_id",
            "in": "path",
            "description": "The unique ID of the activity to GET",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "04fe9a-a579-43c5-bb1a-58ed29bf0a6a"
          }
        ],
        "responses": {
          "200": {
            "description": "Request Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Activity"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Either the JSON was malformed or there was a data validation error.",
            "content": {}
          },
          "401": {
            "description": "The Access Token used is invalid.",
            "content": {}
          },
          "403": {
            "description": "Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.",
            "content": {}
          },
          "404": {
            "description": "Resource not found for the activity_id provided",
            "content": {}
          },
          "500": {
            "description": "There was a problem with our internal service.",
            "content": {}
          },
          "503": {
            "description": "Our internal service is temporarily unavailable.",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2_implicit": [
              "contact_data"
            ]
          },
          {
            "oauth2_access_code": [
              "contact_data"
            ]
          }
        ],
        "x-authorization-privileges": [
          "contacts:write"
        ],
        "x-sdk-methodName": "getActivityById"
      }
    },
    "/activities/contact_exports": {
      "post": {
        "tags": [
          "Bulk Activities"
        ],
        "summary": "Export Contacts to a File",
        "description": "Use this method to create an activity that exports contacts and contact details to a CSV file.  You can choose to export all contacts in your account (default) or you can use parameters to filter on which contacts to export. After Constant Contact finishes processing the activity, use the `results` link in the response body to retrieve the CSV file.",
        "operationId": "postContactsExport",
        "requestBody": {
          "description": "A JSON payload that specifies the contacts (rows in the CSV file) and contact properties (columns in the CSV file) you want to export.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactsExport"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Request successful, queued for processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityExportStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Either the JSON was malformed or there was a data validation error.",
            "content": {}
          },
          "401": {
            "description": "The Access Token used is invalid.",
            "content": {}
          },
          "403": {
            "description": "Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.",
            "content": {}
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {}
          },
          "429": {
            "description": "Too many requests. You exceeded 1,000 queued activities for this user account.",
            "content": {}
          },
          "500": {
            "description": "There was a problem with our internal service.",
            "content": {}
          },
          "503": {
            "description": "Our internal service is temporarily unavailable.",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2_implicit": [
              "contact_data"
            ]
          },
          {
            "oauth2_access_code": [
              "contact_data"
            ]
          }
        ],
        "x-authorization-privileges": [
          "contacts:write"
        ],
        "x-sdk-methodName": "createExportActivity",
        "x-codegen-request-body-name": "body"
      }
    },
    "/contact_exports/{file_export_id}": {
      "get": {
        "tags": [
          "Bulk Activities"
        ],
        "summary": "Retrieve Exported Contacts File",
        "description": "Use this endpoint to retrieve (GET) a CSV file containing exported contacts by providing the `activity_id` of a completed CSV export activity. \n",
        "operationId": "getContactsExport",
        "parameters": [
          {
            "name": "file_export_id",
            "in": "path",
            "description": "The unique ID of the exported file provided in the results: section of the export contacts activity response.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "04fe9a-a579-43c5-bb1a-58ed29bf0a6a"
          }
        ],
        "responses": {
          "200": {
            "description": "Request Successful",
            "content": {
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityGetExport"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Either the JSON was malformed or there was a data validation error.",
            "content": {}
          },
          "401": {
            "description": "The Access Token used is invalid.",
            "content": {}
          },
          "403": {
            "description": "Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.",
            "content": {}
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {}
          },
          "429": {
            "description": "Too many requests. You exceeded 1,000 queued activities for this user account.",
            "content": {}
          },
          "500": {
            "description": "There was a problem with our internal service.",
            "content": {}
          },
          "503": {
            "description": "Our internal service is temporarily unavailable.",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2_implicit": [
              "contact_data"
            ]
          },
          {
            "oauth2_access_code": [
              "contact_data"
            ]
          }
        ],
        "x-authorization-privileges": [
          "contacts:write"
        ],
        "x-sdk-methodName": "getCSVExportFile"
      }
    },
    "/activities/contact_delete": {
      "post": {
        "tags": [
          "Bulk Activities"
        ],
        "summary": "Delete Contacts in Bulk",
        "description": "Use this endpoint to bulk delete contacts in an account. Contacts to delete are specified by contact_id (up to 500), or by list_id (up to 50 lists); all contacts that are members of the list_ids are deleted. Deleted contacts won\u2019t receive email from you, and they don\u2019t count as active contacts. Unlike unsubscribed contacts, deleted contacts can be added back to an account. [Learn how to revive deleted contacts](/api_guide/contacts_delete.html#revive).",
        "operationId": "postContactDelete",
        "requestBody": {
          "description": "The request body contains an array of contact_ids <em>or</em> list_ids. All contact_ids provided are deleted, or all members of each specified list_id are deleted.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactDelete"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Request successful. Activity queued for processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityDeleteStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Either the JSON was malformed or there was a data validation error.",
            "content": {}
          },
          "401": {
            "description": "The Access Token used is invalid.",
            "content": {}
          },
          "403": {
            "description": "Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.",
            "content": {}
          },
          "429": {
            "description": "Too many requests. You exceeded 1,000 queued activities for this user account.",
            "content": {}
          },
          "500": {
            "description": "There was a problem with our internal service.",
            "content": {}
          },
          "503": {
            "description": "Our internal service is temporarily unavailable.",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2_implicit": [
              "contact_data"
            ]
          },
          {
            "oauth2_access_code": [
              "contact_data"
            ]
          }
        ],
        "x-authorization-privileges": [
          "contacts:write"
        ],
        "x-sdk-methodName": "createDeleteActivity",
        "x-codegen-request-body-name": "body"
      }
    },
    "/activities/contacts_file_import": {
      "post": {
        "tags": [
          "Bulk Activities"
        ],
        "summary": "Import Contacts using a CSV File",
        "description": "This multipart method creates an asynchronous background job that adds or updates contacts by importing a CSV file containing contact information. Do not use a Content-Type header value with this method.\n\nImporting a new contact email address automatically sets the contact's `permission_to_send` property as `implicit` and the `opt_in_source` property as `Account`. Importing an existing contact only updates the contact properties you include in the request.\nImporting contacts with `sms_number`s requires using the `sms_permission_to_send` parameter  to specify permissions for all contacts being imported. Set to `explicit` to specify that all contacts either provided explicit permission. Set to `not_set` if permission was not provided. If `explicit`, you must also include the `sms_consent_date` as a column header to include the date the contact consented to receiving SMS messages.\nContacts must have either an email address or an SMS number defined.\n \nThe CSV file has a maximum of 40,000 lines including the header row (39,999 contacts) and a maximum file size of 4 megabytes (MB).  Lines above the 40,000 line maximum are not processed. If the request body exceeds 4 MB, only the contacts contained in the first 4 MB are imported and the remaining data is dropped.",
        "operationId": "contactsCSVImport",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file",
                  "list_ids"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "The CSV file you are importing  must include either `email` or `sms_number` as a column heading. Other properties you can include using column headings are: `first_name`.  `last_name`, `phone`, `job_title`, `anniversary`, `birthday_day`, `birthday_month`, `company_name`, `street`, `street2`, `city`, `state`, `zip`, `country`, and `sms_consent_date`. \n\nIf adding an `sms_number`, you must also include the `sms_permission_to_send` parameter and set it to either `not_set` or `explicit`. If `explicit`, requires including `sms_consent_date` as a column header to specify the date the contact consented to receiving SMS messages. \n\nYou can also use custom fields as column headings. Enter the custom field name prefixed with `cf:` as the column heading. For example, use `cf:first_name` as the header name if you have a custom field named \"first_name\". The custom field must already exist in the Constant Contact account you are using. Depending on the custom field data type, you can enter dates or strings as the value of the custom field. Each contact can contain up to 25 different custom fields.",
                    "format": "binary",
                    "example": "new_contacts_import.csv"
                  },
                  "list_ids": {
                    "maxItems": 50,
                    "type": "string",
                    "description": "Specify which contact lists you are adding all imported contacts to as an array of up to 50 contact `list_id` values.",
                    "format": "csv",
                    "example": "8c077f20-1586-11e4-bcb3-00163e56be7c"
                  },
                  "sms_permission_to_send": {
                    "type": "string",
                    "description": "If importing contact `sms_number`s, use this parameter to specify how SMS consent was provided. If all contacts in the file provided their consent, set to `explicit` and include each contact's `sms_consent_date`. If all contacts in the file have not yet provided consent, set to `not_set` (`sms_consent_date` is not required). You cannot message a contact that does not have a sms consent date set.",
                    "example": "not_set",
                    "enum": [
                      "not_set",
                      "explicit"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Request successful. Activity queued for processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityImport"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Either the JSON was malformed or there was a data validation error.",
            "content": {}
          },
          "401": {
            "description": "The Access Token used is invalid.",
            "content": {}
          },
          "403": {
            "description": "Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.",
            "content": {}
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {}
          },
          "415": {
            "description": "1. This endpoint requires that Content-Type be unspecified 2. Wrong file format, upload file must be of type .csv",
            "content": {}
          },
          "429": {
            "description": "Too many requests. You exceeded 1,000 queued activities for this user account.",
            "content": {}
          },
          "500": {
            "description": "There was a problem with our internal service.",
            "content": {}
          },
          "503": {
            "description": "Our internal service is temporarily unavailable.",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2_implicit": [
              "contact_data"
            ]
          },
          {
            "oauth2_access_code": [
              "contact_data"
            ]
          }
        ],
        "x-authorization-privileges": [
          "contacts:write"
        ],
        "x-sdk-methodName": "createCSVImportActivity"
      }
    },
    "/activities/contacts_json_import": {
      "post": {
        "tags": [
          "Bulk Activities"
        ],
        "summary": "Import Contacts using a JSON Payload",
        "description": "Use this method to create an asynchronous background job that adds new contacts or updates existing contacts by importing a JSON payload. This method requires a request body that contains the contact data you are importing and the contact lists to which you want to add the imported contacts. A contact's data must include an `email` address and/or `sms_number`. The `sms_number` must be a US phone number to associate with the contact's SMS-enabled phone. Valid formats are <code>1231231234</code> or <code>123-123-1234</code> (the country code must be valid).\n\nImporting a new contact using this method automatically sets the contact's email `permission_to_send` property to `implicit` and the `opt_in_source` property as `Account`. Importing an existing contact only updates the contact properties you include in the request. For each contact, you can import up to three addresses and three phone numbers. International phone numbers are currently not supported.      \n\nTo import custom fields, prefix the custom field name with `cf:` and add it as a contact property. For example, use the property name `cf:first_name` if you have a custom field named `first_name`. The custom field must already exist in the Constant Contact account you are using. Each contact can contain up to 25 custom fields.\n\nTo include a contact's `sms_number`, if the contact provided explicit permission to receive SMS messages, you must set the `sms_permission_to_send` property to `explicit` and specify the date of consent using the `sms_consent_date` column header. If explicit permission was not provided, set `sms_permission_to_send` to `not_set` (the `sms_consent_date` is not required). If the `sms_consent_date` is not set, SMS messages cannot be sent to contacts and `sms_permission_to_send` defaults to `not_set`. Valid value formats for `sms_consent_date` include MM/DD/YYYY, M/D/YYYY, YYYY/MM/DD, YYYY/M/D, YYYY-MM-DD, YYYY-M-D,M-D-YYYY, or M-DD-YYYY. \n\nThe request body payload has a maximum size of 4 megabytes (MB). If the request body exceeds 4 MB, this method only imports the first 4 MB and drops the remaining data. Use the activity URL to check the status of the import activity request.",
        "operationId": "bulkImportContactsJSON",
        "requestBody": {
          "description": "The JSON request payload that contains the contact data and contact lists for the import.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactsJsonImport"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Request successful. Activity queued for processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityImport"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Either the JSON was malformed or there was a data validation error.",
            "content": {}
          },
          "401": {
            "description": "The Access Token used is invalid.",
            "content": {}
          },
          "403": {
            "description": "Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.",
            "content": {}
          },
          "429": {
            "description": "Too many requests. You exceeded 1,000 queued activities for this user account.",
            "content": {}
          },
          "500": {
            "description": "There was a problem with our internal service.",
            "content": {}
          },
          "503": {
            "description": "Our internal service is temporarily unavailable.",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2_implicit": [
              "contact_data"
            ]
          },
          {
            "oauth2_access_code": [
              "contact_data"
            ]
          }
        ],
        "x-authorization-privileges": [
          "contacts:write"
        ],
        "x-ctctmcp-allow": true,
        "x-sdk-methodName": "createImportJSONActivity",
        "x-codegen-request-body-name": "body"
      }
    },
    "/activities/remove_list_memberships": {
      "post": {
        "tags": [
          "Bulk Activities"
        ],
        "summary": "Remove Contacts from Lists",
        "description": "Use this method to create an activity that removes contacts from one or more contact lists. Use the properties in the `source` object to remove specific contacts from your lists. Use the `list_ids` array to specify the target lists from which contacts are removed. Optionally, if the source is  `all_active_contacts` (billable) or `list_ids`, use the `exclude` object to exclude specific contacts from being removed from the destination lists.",
        "operationId": "postListRemoveContact",
        "requestBody": {
          "description": "The JSON payload used to create the Remove Contacts from Lists' activity",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListActivityRemoveContacts"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Request successful. Activity queued for processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityListsMembership"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Either the JSON was malformed or there was a data validation error.",
            "content": {}
          },
          "401": {
            "description": "The Access Token used is invalid.",
            "content": {}
          },
          "403": {
            "description": "Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.",
            "content": {}
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {}
          },
          "429": {
            "description": "Too many requests. You exceeded 1,000 queued activities for this user account.",
            "content": {}
          },
          "500": {
            "description": "There was a problem with our internal service.",
            "content": {}
          },
          "503": {
            "description": "Our internal service is temporarily unavailable.",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2_implicit": [
              "contact_data"
            ]
          },
          {
            "oauth2_access_code": [
              "contact_data"
            ]
          }
        ],
        "x-authorization-privileges": [
          "contacts:write"
        ],
        "x-sdk-methodName": "createListRemoveActivity",
        "x-codegen-request-body-name": "body"
      }
    },
    "/activities/add_list_memberships": {
      "post": {
        "tags": [
          "Bulk Activities"
        ],
        "summary": "Add Contacts to Lists",
        "description": "Use this method to create an activity that adds contacts to one or more lists. Each contact can be a member of up to 50 lists. Use the properties in the `source` object to specify the contacts you want to add to lists. Use the `list_ids` array to specify which lists you want to add your source contacts to.",
        "operationId": "postListAddContact",
        "requestBody": {
          "description": "The JSON payload used to create the 'add contacts to lists' activity",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListActivityAddContacts"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Request successful. Activity queued for processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityListsMembership"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Either the JSON was malformed or there was a data validation error.",
            "content": {}
          },
          "401": {
            "description": "The Access Token used is invalid.",
            "content": {}
          },
          "403": {
            "description": "Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.",
            "content": {}
          },
          "429": {
            "description": "Too many requests. You exceeded 1,000 queued activities for this user account.",
            "content": {}
          },
          "500": {
            "description": "There was a problem with our internal service.",
            "content": {}
          },
          "503": {
            "description": "Our internal service is temporarily unavailable.",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2_implicit": [
              "contact_data"
            ]
          },
          {
            "oauth2_access_code": [
              "contact_data"
            ]
          }
        ],
        "x-authorization-privileges": [
          "contacts:write"
        ],
        "x-sdk-methodName": "createListAddActivity",
        "x-codegen-request-body-name": "body"
      }
    },
    "/activities/list_delete": {
      "post": {
        "tags": [
          "Bulk Activities"
        ],
        "summary": "Delete Contact Lists",
        "description": "Use this endpoint to delete up to 100 contact lists in an account. ",
        "operationId": "postListDelete",
        "requestBody": {
          "description": "An array of `list_id`'s to delete.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListIdList100"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Request successful. Activity queued for processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityDeleteListsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Either the JSON was malformed or there was a data validation error.",
            "content": {}
          },
          "401": {
            "description": "The Access Token used is invalid.",
            "content": {}
          },
          "403": {
            "description": "Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.",
            "content": {}
          },
          "429": {
            "description": "Too many requests. You exceeded 1,000 queued activities for this user account.",
            "content": {}
          },
          "500": {
            "description": "There was a problem with our internal service.",
            "content": {}
          },
          "503": {
            "description": "Our internal service is temporarily unavailable.",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2_implicit": [
              "contact_data"
            ]
          },
          {
            "oauth2_access_code": [
              "contact_data"
            ]
          }
        ],
        "x-authorization-privileges": [
          "contacts:write"
        ],
        "x-sdk-methodName": "createListDeleteActivity",
        "x-codegen-request-body-name": "body"
      }
    },
    "/activities/contacts_taggings_remove": {
      "post": {
        "tags": [
          "Bulk Activities"
        ],
        "summary": "Remove Tags from Contacts",
        "description": "Use this method to create an asynchronous activity that removes one or more tags from all contacts meeting your contact filtering criteria. Filtering criteria must include the `source` type used to identify contacts from which the specified tags (`tag_id`) are removed.\nSource types are mutually exclusive. If the specified source is either `all_active_contacts` or `list_ids`, you can optionally choose to `exclude` specified contacts by `contact_id`. Use the activity link in the results to check the status of your request.\"\nFor more use case information, see \"[Remove Tags from Contacts](/api_guide/remove_tagging_activity.html)",
        "operationId": "postTagRemoveContact",
        "requestBody": {
          "description": "The JSON payload used to create an asynchronous activity that removes tags from contacts meeting your specified contact filtering criteria.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagAddRemoveContacts"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Request successful. Activity queued for processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityTagging"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Either the JSON was malformed or there was a data validation error.",
            "content": {}
          },
          "401": {
            "description": "The Access Token used is invalid.",
            "content": {}
          },
          "403": {
            "description": "Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.",
            "content": {}
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {}
          },
          "429": {
            "description": "Too many requests. You exceeded 1,000 queued activities for this user account.",
            "content": {}
          },
          "500": {
            "description": "There was a problem with our internal service.",
            "content": {}
          },
          "503": {
            "description": "Our internal service is temporarily unavailable.",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2_implicit": [
              "contact_data"
            ]
          },
          {
            "oauth2_access_code": [
              "contact_data"
            ]
          }
        ],
        "x-authorization-privileges": [
          "contacts:write"
        ],
        "x-sdk-methodName": "createTagRemoveActivity",
        "x-codegen-request-body-name": "body"
      }
    },
    "/activities/contacts_taggings_add": {
      "post": {
        "tags": [
          "Bulk Activities"
        ],
        "summary": "Add Tags to Contacts",
        "description": "Use this method to create an asynchronous activity that adds one or more tags to all contacts meeting your contact filtering criteria. Use the `source` type to identify contacts from which the specified tags (`tag_id`) are added.\nSource criteria are mutually exclusive. If the source is `all_active_contacts` or `list_ids`, you can optionally choose to `exclude` contacts by `contact_id`. Use the activity link in the results to check the status of your request.\nFor more use case information, see \"[Add Tags to Contacts](/api_guide/add_tagging_activity.html)",
        "operationId": "postTagAddContact",
        "requestBody": {
          "description": "The JSON payload used to create an asynchronous activity that adds tags to contacts that meet your specified contact filtering criteria.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagAddRemoveContacts"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Request successful. Activity queued for processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityTagging"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Either the JSON was malformed or there was a data validation error.",
            "content": {}
          },
          "401": {
            "description": "The Access Token used is invalid.",
            "content": {}
          },
          "403": {
            "description": "Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.",
            "content": {}
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {}
          },
          "429": {
            "description": "Too many requests. You exceeded 1,000 queued activities for this user account.",
            "content": {}
          },
          "500": {
            "description": "There was a problem with our internal service.",
            "content": {}
          },
          "503": {
            "description": "Our internal service is temporarily unavailable.",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2_implicit": [
              "contact_data"
            ]
          },
          {
            "oauth2_access_code": [
              "contact_data"
            ]
          }
        ],
        "x-authorization-privileges": [
          "contacts:write"
        ],
        "x-sdk-methodName": "createTagAddContactActivity",
        "x-codegen-request-body-name": "body"
      }
    },
    "/activities/contacts_tags_delete": {
      "post": {
        "tags": [
          "Bulk Activities"
        ],
        "summary": "Delete Tags",
        "description": "Use this method to create an asynchronous activity that deletes up to 500 tags. Deleted tags are automatically removed from tagged contacts. Use the `tag_ids` array of string values in the request body to specify which tags to delete.",
        "operationId": "postTagDelete",
        "requestBody": {
          "description": "An array of string values (`tag_id`s) to delete.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagIdList500Limit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Request successful. Activity queued for processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityTagging"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Either the JSON was malformed or there was a data validation error.",
            "content": {}
          },
          "401": {
            "description": "The Access Token used is invalid.",
            "content": {}
          },
          "403": {
            "description": "Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.",
            "content": {}
          },
          "429": {
            "description": "Too many requests. You exceeded 1,000 queued activities for this user account.",
            "content": {}
          },
          "500": {
            "description": "There was a problem with our internal service.",
            "content": {}
          },
          "503": {
            "description": "Our internal service is temporarily unavailable.",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2_implicit": [
              "contact_data"
            ]
          },
          {
            "oauth2_access_code": [
              "contact_data"
            ]
          }
        ],
        "x-authorization-privileges": [
          "contacts:write"
        ],
        "x-sdk-methodName": "createTagDeleteActivity",
        "x-codegen-request-body-name": "body"
      }
    },
    "/activities/custom_fields_delete": {
      "post": {
        "tags": [
          "Bulk Activities"
        ],
        "summary": "Delete Custom Fields",
        "description": "Use this endpoint to delete up to 100 custom fields for an account. ",
        "operationId": "postCustomFieldDelete",
        "requestBody": {
          "description": "An array of `custom_field_id`'s to delete.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldId100"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Request successful. Activity queued for processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityDeleteCustomFields"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Either the JSON was malformed or there was a data validation error.",
            "content": {}
          },
          "401": {
            "description": "The Access Token used is invalid.",
            "content": {}
          },
          "403": {
            "description": "Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.",
            "content": {}
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {}
          },
          "429": {
            "description": "Too many requests. You exceeded 1,000 queued activities for this user account.",
            "content": {}
          },
          "500": {
            "description": "There was a problem with our internal service.",
            "content": {}
          },
          "503": {
            "description": "Our internal service is temporarily unavailable.",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2_implicit": [
              "contact_data"
            ]
          },
          {
            "oauth2_access_code": [
              "contact_data"
            ]
          }
        ],
        "x-authorization-privileges": [
          "contacts:write"
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "GET a collection of events.",
        "description": "Retrieve a collection of events with event details.",
        "operationId": "findEvents",
        "parameters": [
          {
            "name": "event_status",
            "in": "query",
            "description": "Use to return only events that meet the specified status. Acceptable values include `ACTIVE`,`DRAFT`, `COMPLETE`, `DELETED`,`CANCELLED`, and `ERROR`.",
            "schema": {
              "type": "string"
            },
            "example": "DRAFT"
          },
          {
            "name": "search_text",
            "in": "query",
            "description": "Use to return only events that include the specified text.",
            "schema": {
              "type": "string"
            },
            "example": "reunion"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Use to sort resulting events by one of the following properties: `name`, `start_time`, `end_time`, `created_time`, or `updated_time`.",
            "schema": {
              "type": "string"
            },
            "example": "created_time"
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sort order for the `sort_by parameter`. Accepted values include `ASC` (ascending) or `DESC` (descending). Defaults to `ASC` if `sort_by` is provided.",
            "schema": {
              "type": "string"
            },
            "example": "DESC"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit the number of results to return per page. Default and maximum is `100`.",
            "schema": {
              "type": "string"
            },
            "example": "5"
          },
          {
            "name": "prev",
            "in": "query",
            "description": "Cursor for retrieving the previous page of results. This value is obtained from the `prev_cursor` field in a previous response.",
            "schema": {
              "type": "string"
            },
            "example": "7zDEe3DhD5gUiwRFsvWKKZlZO1j6-YihH2hyVWD8GaW7JnzXbHFP8Tou212KoU20mOjvM6pdWwycDWC3X-Hb_xY-RK1eBwYp_pc4X2CvLxo."
          },
          {
            "name": "next",
            "in": "query",
            "description": "Cursor for retrieving the next page of results. This value is obtained from the `next_cursor` field in a previous response.",
            "schema": {
              "type": "string"
            },
            "example": "7zDEe3DhD5gUiwRFsvWKKZlZO1j6-YihH2hyVWD8GaW7JnzXbHFP8Tou212KoU20mOjvM6pdWwycDWC3X-Hb_xY-RK1eBwYp_pc4X2CvLxo"
          }
        ],
        "responses": {
          "200": {
            "description": "Request Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationDtoEventListingDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Either the JSON was malformed or there was a data validation error.",
            "content": {}
          },
          "401": {
            "description": "The Access Token used is invalid.",
            "content": {}
          },
          "403": {
            "description": "Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.",
            "content": {}
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {}
          },
          "500": {
            "description": "There was a problem with our internal service.",
            "content": {}
          },
          "503": {
            "description": "Our internal service is temporarily unavailable.",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2_implicit": [
              "campaign_data"
            ]
          },
          {
            "oauth2_access_code": [
              "campaign_data"
            ]
          }
        ],
        "x-authorization-privileges": [
          "campaign:read"
        ]
      }
    },
    "/events/default": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "POST (create) a new event.",
        "description": "Creates a new event with default settings, registration form, and landing page. The event will be created in DRAFT status.",
        "operationId": "addDefaultEvent",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Name for the new event. If not provided, a default name will be generated.",
            "schema": {
              "type": "string"
            },
            "example": "My Event"
          },
          {
            "name": "start_time",
            "in": "query",
            "description": "Event start time in ISO 8601 format. If not provided, defaults to a future date.",
            "schema": {
              "type": "string"
            },
            "example": "2024-01-15T10:00:00Z"
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "Event end time in ISO 8601 format. If not provided, defaults to one hour after start time.",
            "schema": {
              "type": "string"
            },
            "example": "2024-01-15T18:00:00Z"
          },
          {
            "name": "placeholder_campaign_id",
            "in": "query",
            "description": "Placeholder campaign ID for the event.",
            "schema": {
              "type": "string"
            },
            "example": "campaign-123"
          }
        ],
        "responses": {
          "201": {
            "description": "Event created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Either the JSON was malformed or there was a data validation error.",
            "content": {}
          },
          "401": {
            "description": "The Access Token used is invalid.",
            "content": {}
          },
          "403": {
            "description": "Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.",
            "content": {}
          },
          "500": {
            "description": "There was a problem with our internal service.",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2_implicit": [
              "campaign_data"
            ]
          },
          {
            "oauth2_access_code": [
              "campaign_data"
            ]
          }
        ],
        "x-authorization-privileges": [
          "campaign:write"
        ],
        "x-sdk-methodName": "createEvent"
      }
    },
    "/events/{event_id}": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "GET details for a single event.",
        "description": "Specify the `event_id` path parameter to retrieve the event's details.",
        "operationId": "getEvent_2",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "description": "The ID that uniquely identifies the event.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1697732a-8664-4675-8415-c4aabaa17dae"
          },
          {
            "name": "include",
            "in": "query",
            "description": "Use to include (`true`) or exclude (`false`) event setting properties in the results.",
            "schema": {
              "type": "boolean"
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Either the JSON was malformed or there was a data validation error.",
            "content": {}
          },
          "401": {
            "description": "The Access Token used is invalid.",
            "content": {}
          },
          "403": {
            "description": "Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.",
            "content": {}
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {}
          },
          "500": {
            "description": "There was a problem with our internal service.",
            "content": {}
          },
          "503": {
            "description": "Our internal service is temporarily unavailable.",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2_implicit": [
              "campaign_data"
            ]
          },
          {
            "oauth2_access_code": [
              "campaign_data"
            ]
          }
        ],
        "x-authorization-privileges": [
          "campaign:read"
        ]
      },
      "patch": {
        "tags": [
          "Events"
        ],
        "summary": "PATCH (update) an event.",
        "description": "Partially updates an event with the provided fields. Only the specified fields will be updated. This endpoint only works for events in DRAFT or ACTIVE status. Events in COMPLETE, CANCELED, or DELETED status cannot be updated.",
        "operationId": "patchEvent",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "description": "The ID that uniquely identifies the event to update.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1697732a-8664-4675-8415-c4aabaa17dae"
          }
        ],
        "requestBody": {
          "description": "A JSON request body containing the event fields to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Event updated successfully",
            "content": {}
          },
          "400": {
            "description": "Bad request. Either the JSON was malformed or there was a data validation error.",
            "content": {}
          },
          "401": {
            "description": "The Access Token used is invalid.",
            "content": {}
          },
          "403": {
            "description": "Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.",
            "content": {}
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {}
          },
          "500": {
            "description": "There was a problem with our internal service.",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2_implicit": [
              "campaign_data"
            ]
          },
          {
            "oauth2_access_code": [
              "campaign_data"
            ]
          }
        ],
        "x-authorization-privileges": [
          "campaign:write"
        ],
        "x-sdk-methodName": "updateEvent",
        "x-codegen-request-body-name": "body"
      }
    },
    "/events/{event_id}/copy": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "POST (copy) an existing event.",
        "description": "Creates a deep copy of an existing event with all its settings, registration forms, and landing pages. The copied event is created in DRAFT status. Events in DRAFT, ACTIVE, COMPLETE, or CANCELED status can be copied. DELETED events cannot be copied.",
        "operationId": "copyEvent",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "description": "The ID of the event to copy.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1697732a-8664-4675-8415-c4aabaa17dae"
          }
        ],
        "requestBody": {
          "description": "A JSON request body containing the copy options.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventCopyRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Event copied successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventDto"
                }
              }
            }
          },
          "207": {
            "description": "Event copied with some failures",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Either the JSON was malformed or there was a data validation error.",
            "content": {}
          },
          "401": {
            "description": "The Access Token used is invalid.",
            "content": {}
          },
          "403": {
            "description": "Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.",
            "content": {}
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {}
          },
          "500": {
            "description": "There was a problem with our internal service.",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2_implicit": [
              "campaign_data"
            ]
          },
          {
            "oauth2_access_code": [
              "campaign_data"
            ]
          }
        ],
        "x-authorization-privileges": [
          "campaign:write"
        ],
        "x-sdk-methodName": "copyEvent",
        "x-codegen-request-body-name": "body"
      }
    },
    "/events/{event_id}/tracks/{track_id}/registrations/{registration_id}": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get registration details for an event.",
        "description": "Use the `event_id`, `registration_id`, and `track_id` path parameters to get registration details.",
        "operationId": "getRegistrationInfo",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "description": "The ID that uniquely identifies the event.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1697732a-8664-4675-8415-c4aabaa17dae"
          },
          {
            "name": "track_id",
            "in": "path",
            "description": "The track key that uniquely identifies the event track.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "s8zabc"
          },
          {
            "name": "registration_id",
            "in": "path",
            "description": "The ID that uniquely identifies the registration.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          }
        ],
        "responses": {
          "200": {
            "description": "Request Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetailedRegistrationDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Either the JSON was malformed or there was a data validation error.",
            "content": {}
          },
          "401": {
            "description": "The Access Token used is invalid.",
            "content": {}
          },
          "403": {
            "description": "Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.",
            "content": {}
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {}
          },
          "500": {
            "description": "There was a problem with our internal service.",
            "content": {}
          },
          "503": {
            "description": "Our internal service is temporarily unavailable.",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2_implicit": [
              "campaign_data"
            ]
          },
          {
            "oauth2_access_code": [
              "campaign_data"
            ]
          }
        ],
        "x-authorization-privileges": [
          "campaign:read"
        ]
      }
    },
    "/events/{event_id}/tracks/{track_id}/registrations": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get a list of registrations for an event.",
        "description": "Use the `event_id` and `track_id` path parameters to get a list of registrations for an event. Use optional query parameters to limit the number of results returned per page, the sort order, or to filter results by specific criteria; such as registration `status`.",
        "operationId": "findRegistrationsUsingGET",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "description": "The ID that uniquely identifies the event.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1697732a-8664-4675-8415-c4aabaa17dae"
          },
          {
            "name": "track_id",
            "in": "path",
            "description": "The track ID that uniquely identifies the event track.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "s8zabc"
          },
          {
            "name": "registration_status",
            "in": "query",
            "description": "Filter registration results by status.",
            "schema": {
              "type": "string",
              "enum": [
                "PENDING",
                "REGISTERED",
                "CANCELED",
                "EXPIRED",
                "IN_PROGRESS, FAILED"
              ]
            },
            "example": "REGISTERED"
          },
          {
            "name": "payment_status",
            "in": "query",
            "description": "Filter registration results by payment status.",
            "schema": {
              "type": "string",
              "enum": [
                "PENDING",
                "PAID",
                "REFUNDED",
                "CANCELLED",
                "FAILED",
                "CHARGED_BACK"
              ]
            },
            "example": "PAID"
          },
          {
            "name": "search_text",
            "in": "query",
            "description": "Filter registration results by first name, last name, or email address.",
            "schema": {
              "type": "string"
            },
            "example": "john.doe@example.com"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Specify the field to use to sort the results.",
            "schema": {
              "type": "string",
              "enum": [
                "first_name",
                "last_name",
                "email_address",
                "registration_status",
                "payment_status",
                "tickets",
                "total"
              ]
            },
            "example": "email_address"
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Use to specify how you want the results sorted.",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            },
            "example": "ASC"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Alternative to the <code>limit</code> parameter to limit the number of results returned per page. If specifying both the <code>limit</code> and <code>page_size</code> query parameters, they must be the same value.",
            "schema": {
              "type": "string"
            },
            "example": "50"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit the number of results returned per page. If specifying both the <code>limit</code> and <code>page_size</code> query parameters, they must be the same value.",
            "schema": {
              "type": "string"
            },
            "example": "50"
          },
          {
            "name": "prev",
            "in": "query",
            "description": "Cursor for pagination used to get the previous page of results (mutually exclusive with <code>next</code>).",
            "schema": {
              "type": "string"
            },
            "example": "bSzsyWkkq95R44vIFEpY62gr8_xSeRXsEQkhnhltPgiT"
          },
          {
            "name": "next",
            "in": "query",
            "description": "Cursor for pagination used to get the next page of results (mutually exclusive with <code>prev</code>).",
            "schema": {
              "type": "string"
            },
            "example": "cTk9xLmmr06S55wJGfQ73hs9_yTfSYtFRlimimQhjUj"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved registrations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedRegistrations"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Either the JSON was malformed or there was a data validation error.",
            "content": {}
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {}
          },
          "500": {
            "description": "There was a problem with our internal service.",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2_implicit": [
              "campaign_data"
            ]
          },
          {
            "oauth2_access_code": [
              "campaign_data"
            ]
          }
        ],
        "x-authorization-privileges": [
          "campaign:read"
        ]
      }
    },
    "/segments": {
      "get": {
        "tags": [
          "Segments"
        ],
        "summary": "GET all Segments",
        "description": "Use this method to get a list of all segments associated with the account. You can sort segment results and limit the number of segments that display per page. Deleted segments are excluded from the results. For more use case information, see [Get All Segments](/api_guide/segment_get_all.html) in the API guide.",
        "operationId": "getAccountSegments",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The number of segments to return on a page.",
            "schema": {
              "type": "string",
              "default": "1000"
            },
            "example": "1000"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Specify the segment sort order to use. Sort by name (`sort_by=name`) in ascending order, or sort by date (`sort_by=date`) in descending order with the most recently updated segments listed first.",
            "schema": {
              "type": "string",
              "default": "date"
            },
            "example": "sort_by=date"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentsDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Either the JSON was malformed or there was a data validation error.",
            "content": {}
          },
          "401": {
            "description": "The Access Token used is invalid.",
            "content": {}
          },
          "403": {
            "description": "Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.",
            "content": {}
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {}
          },
          "415": {
            "description": "Unsupported Media Type.",
            "content": {}
          },
          "429": {
            "description": "Too many requests. You exceeded the request rate limit.",
            "content": {}
          },
          "500": {
            "description": "There was a problem with our internal service.",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2_implicit": [
              "contact_data"
            ]
          },
          {
            "oauth2_access_code": [
              "contact_data"
            ]
          }
        ],
        "x-authorization-privileges": [
          "contacts:lists:read"
        ],
        "x-sdk-methodName": "getAllSegments"
      },
      "post": {
        "tags": [
          "Segments"
        ],
        "summary": "POST (create) a Segment",
        "description": "Use this method to create a new segment. You create segments to target a subset of your contacts that meet your specific criteria for a marketing campaign. The segment `name` must be unique. The `segment_criteria` requires single-string escaped JSON. Constant Contact uses the contact data that you specify in the `segment_criteria` to evaluate and identify the contacts you want to target. Contact data can be grouped from different data sources, including:\n\n  -  **`tracking`**: Supports **or** and **and** groups.\n\n\n  -  **`contact`**: Supports **or** and **and** groups.\n\n\n  -  **`list_membership`**: Supports **or** groups.\n\n  -  **`tags`**: Supports **or** groups.\n\nIf you do not specify `list_membership` as criteria, Constant Contact evaluates all contacts in your account. To avoid returning a 400 error response, when specifying the `segment_criteria` do not request more than 500 email campaigns or a date range greater than 1825 days (5 years) be evaluated.\n\nFor more use case information, see the [Segments Overview](/api_guide/segments_overview.html) in the API guide.",
        "operationId": "createSegment",
        "requestBody": {
          "description": "The segment `name` and `segment_criteria` (requires single-string escaped JSON).",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SegmentData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Segment successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Either the JSON was malformed or there was a data validation error.",
            "content": {}
          },
          "401": {
            "description": "The Access Token used is invalid.",
            "content": {}
          },
          "403": {
            "description": "Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.",
            "content": {}
          },
          "409": {
            "description": "Conflict. The resource you are creating or updating conflicts with an existing resource.",
            "content": {}
          },
          "415": {
            "description": "Unsupported Media Type.",
            "content": {}
          },
          "500": {
            "description": "There was a problem with our internal service.",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2_implicit": [
              "contact_data"
            ]
          },
          {
            "oauth2_access_code": [
              "contact_data"
            ]
          }
        ],
        "x-authorization-privileges": [
          "contacts:lists:write"
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/segments/{segment_id}": {
      "get": {
        "tags": [
          "Segments"
        ],
        "summary": "GET a Segment's Details",
        "description": "Use this method to get details about a segment, including the segment criteria. If you know the `segment_id` You can also use this method to get details about a deleted segment. For more use case information, see [Get a Segment's Details](/api_guide/segment_get.html) in the API guide.",
        "operationId": "getSegmentDetail",
        "parameters": [
          {
            "name": "segment_id",
            "in": "path",
[...]
