{
  "openapi": "3.0.3",
  "info": {
    "title": "Vlow API",
    "version": "1.0.0",
    "description": "Vlow is an HR platform that helps customers facilitate and improve employee management with tools for occupational medicine processes. This API provides webhook triggers for employee and health events.",
    "x-jentic-source-url": "https://vlow.readme.io/reference"
  },
  "servers": [
    {
      "url": "https://api.vlow.com.br"
    }
  ],
  "paths": {
    "/webhooks/employee-created": {
      "post": {
        "operationId": "onEmployeeCreated",
        "summary": "Employee created trigger",
        "description": "Webhook trigger fired when a new employee is created.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeEvent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/employee-updated-active": {
      "post": {
        "operationId": "onEmployeeUpdatedToActive",
        "summary": "Employee updated to active trigger",
        "description": "Webhook trigger fired when an employee is updated to active status.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeEvent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/health-certificate-created": {
      "post": {
        "operationId": "onHealthCertificateCreated",
        "summary": "Health certificate created trigger",
        "description": "Webhook trigger fired when a new health certificate is created.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HealthCertificateEvent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "EmployeeEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "HealthCertificateEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "employeeId": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "issuedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}