{
  "openapi": "3.0.3",
  "info": {
    "title": "Mobimag Contacts API",
    "description": "Mobimag API for managing contacts and publications in digital magazines.",
    "version": "1.0.0",
    "contact": {
      "name": "Mobimag",
      "url": "https://mobimag.app"
    }
  },
  "servers": [
    {
      "url": "https://us-central1-mobimagprod.cloudfunctions.net/contacts"
    }
  ],
  "security": [
    {
      "apiKeyAuth": [],
      "emailAuth": []
    }
  ],
  "paths": {
    "/auth": {
      "get": {
        "operationId": "authenticateUser",
        "summary": "Authenticate User",
        "description": "Check that the user's API key and email address is valid.",
        "tags": [
          "Authentication"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Authentication successful"
          },
          "401": {
            "description": "Invalid API key or email"
          }
        }
      }
    },
    "/publications": {
      "get": {
        "operationId": "listPublications",
        "summary": "List User Publications",
        "description": "Retrieve a list of all publications for the authenticated user.",
        "tags": [
          "Publications"
        ],
        "responses": {
          "200": {
            "description": "List of publications retrieved successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/list": {
      "get": {
        "operationId": "listContacts",
        "summary": "List Contacts",
        "description": "Get a list of all the contacts in a particular publication.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "publication",
            "in": "query",
            "required": true,
            "description": "The publication slug to retrieve contacts for.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of contacts retrieved successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/create": {
      "post": {
        "operationId": "createContact",
        "summary": "Create Contact",
        "description": "Create a contact in a specified publication. Called from sign-up form at the bottom of an edition page.",
        "tags": [
          "Contacts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContactRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created successfully"
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "API key for authentication"
      },
      "emailAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-EMAIL",
        "description": "User email for authentication"
      }
    },
    "schemas": {
      "CreateContactRequest": {
        "type": "object",
        "required": [
          "name",
          "email",
          "publication"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "John Appleseed"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "john@appleseed.com"
          },
          "publication": {
            "type": "string",
            "example": "my-publication"
          },
          "edition": {
            "type": "string",
            "example": "my-issue"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2020-08-03T03:54:22+0000"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "Authentication operations"
    },
    {
      "name": "Publications",
      "description": "Publication management"
    },
    {
      "name": "Contacts",
      "description": "Contact management"
    }
  ]
}