{
  "openapi": "3.0.3",
  "info": {
    "title": "Private Packagist API",
    "version": "1.0",
    "description": "Private Packagist REST API for managing packages, teams, customers, and credentials in your organization's private Composer repository.",
    "x-jentic-source-url": "https://packagist.com/docs/api"
  },
  "servers": [
    {
      "url": "https://packagist.com/api"
    }
  ],
  "paths": {
    "/packages/": {
      "get": {
        "operationId": "listPackages",
        "summary": "List all packages",
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "name": "origin",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "public-mirror",
                "private-mirror",
                "private"
              ]
            },
            "description": "Filter by package origin"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "List of packages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Package"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createPackage",
        "summary": "Create a new package",
        "tags": [
          "Packages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PackageInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Package created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Package"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/packages/{packageId}": {
      "get": {
        "operationId": "getPackage",
        "summary": "Get a specific package",
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PackageId"
          }
        ],
        "responses": {
          "200": {
            "description": "Package details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Package"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Package not found"
          }
        }
      },
      "put": {
        "operationId": "updatePackage",
        "summary": "Update a package",
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PackageId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PackageInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Package updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Package"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Package not found"
          }
        }
      },
      "delete": {
        "operationId": "deletePackage",
        "summary": "Delete a package",
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PackageId"
          }
        ],
        "responses": {
          "204": {
            "description": "Package deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Package not found"
          }
        }
      }
    },
    "/packages/{packageId}/customers/": {
      "get": {
        "operationId": "listPackageCustomers",
        "summary": "List customers with access to a package",
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PackageId"
          }
        ],
        "responses": {
          "200": {
            "description": "List of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Customer"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/packages/{packageId}/security-issues/": {
      "get": {
        "operationId": "listPackageSecurityIssues",
        "summary": "List security issues for a package",
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PackageId"
          }
        ],
        "responses": {
          "200": {
            "description": "List of security issues",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SecurityIssue"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/packages/{packageId}/security-monitoring/": {
      "get": {
        "operationId": "getSecurityMonitoring",
        "summary": "Get security monitoring config for a package",
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PackageId"
          }
        ],
        "responses": {
          "200": {
            "description": "Security monitoring configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityMonitoring"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateSecurityMonitoring",
        "summary": "Update security monitoring config for a package",
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PackageId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecurityMonitoring"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Security monitoring updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityMonitoring"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/teams/": {
      "get": {
        "operationId": "listTeams",
        "summary": "List all teams",
        "tags": [
          "Teams"
        ],
        "responses": {
          "200": {
            "description": "List of teams",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Team"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createTeam",
        "summary": "Create a new team",
        "tags": [
          "Teams"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Team created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/teams/{teamId}/": {
      "get": {
        "operationId": "getTeam",
        "summary": "Get a specific team",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TeamId"
          }
        ],
        "responses": {
          "200": {
            "description": "Team details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Team not found"
          }
        }
      },
      "put": {
        "operationId": "updateTeam",
        "summary": "Update a team",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TeamId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Team updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteTeam",
        "summary": "Delete a team",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TeamId"
          }
        ],
        "responses": {
          "204": {
            "description": "Team deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Team not found"
          }
        }
      }
    },
    "/teams/{teamId}/packages/": {
      "get": {
        "operationId": "listTeamPackages",
        "summary": "List packages accessible by a team",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TeamId"
          }
        ],
        "responses": {
          "200": {
            "description": "List of packages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Package"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "addTeamPackage",
        "summary": "Grant team access to a package",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TeamId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "packageName": {
                    "type": "string"
                  }
                },
                "required": [
                  "packageName"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Package added to team"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/teams/{teamId}/packages/{packageName}/": {
      "delete": {
        "operationId": "removeTeamPackage",
        "summary": "Revoke team access to a package",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TeamId"
          },
          {
            "name": "packageName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Package name (vendor/package)"
          }
        ],
        "responses": {
          "204": {
            "description": "Package removed from team"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/teams/{teamId}/members/{userId}/": {
      "put": {
        "operationId": "addTeamMember",
        "summary": "Add or update a team member",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TeamId"
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "User ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Member added or updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "removeTeamMember",
        "summary": "Remove a team member",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TeamId"
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "User ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Member removed"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/customers/": {
      "get": {
        "operationId": "listCustomers",
        "summary": "List all customers",
        "tags": [
          "Customers"
        ],
        "responses": {
          "200": {
            "description": "List of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Customer"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createCustomer",
        "summary": "Create a new customer",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/customers/{customerId}": {
      "get": {
        "operationId": "getCustomer",
        "summary": "Get a specific customer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Customer not found"
          }
        }
      },
      "put": {
        "operationId": "updateCustomer",
        "summary": "Update a customer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteCustomer",
        "summary": "Delete a customer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          }
        ],
        "responses": {
          "204": {
            "description": "Customer deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Customer not found"
          }
        }
      }
    },
    "/customers/{customerId}/packages/": {
      "get": {
        "operationId": "listCustomerPackages",
        "summary": "List packages accessible by a customer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          }
        ],
        "responses": {
          "200": {
            "description": "List of packages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Package"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "grantCustomerPackageAccess",
        "summary": "Grant customer access to a package",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "packageId": {
                    "type": "integer"
                  }
                },
                "required": [
                  "packageId"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Package access granted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/customers/{customerId}/token/regenerate": {
      "post": {
        "operationId": "regenerateCustomerToken",
        "summary": "Regenerate customer authentication token",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          }
        ],
        "responses": {
          "200": {
            "description": "Token regenerated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/credentials/": {
      "get": {
        "operationId": "listCredentials",
        "summary": "List all credentials",
        "tags": [
          "Credentials"
        ],
        "responses": {
          "200": {
            "description": "List of credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Credential"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createCredential",
        "summary": "Create a new credential",
        "tags": [
          "Credentials"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CredentialInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Credential created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Credential"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/credentials/{credentialId}/": {
      "get": {
        "operationId": "getCredential",
        "summary": "Get a specific credential",
        "tags": [
          "Credentials"
        ],
        "parameters": [
          {
            "name": "credentialId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Credential ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Credential details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Credential"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Credential not found"
          }
        }
      },
      "put": {
        "operationId": "updateCredential",
        "summary": "Update a credential",
        "tags": [
          "Credentials"
        ],
        "parameters": [
          {
            "name": "credentialId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Credential ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CredentialInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credential updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Credential"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteCredential",
        "summary": "Delete a credential",
        "tags": [
          "Credentials"
        ],
        "parameters": [
          {
            "name": "credentialId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Credential ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Credential deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Credential not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "hmacAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "PACKAGIST-HMAC-SHA256 signature-based authentication: Authorization: PACKAGIST-HMAC-SHA256 Key=..., Timestamp=..., Cnonce=..., Signature=..."
      },
      "tokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "PACKAGIST-TOKEN for GET requests only: Authorization: PACKAGIST-TOKEN [api-key]"
      }
    },
    "parameters": {
      "PackageId": {
        "name": "packageId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "description": "Package ID"
      },
      "TeamId": {
        "name": "teamId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "description": "Team ID"
      },
      "CustomerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "description": "Customer ID or URL name"
      }
    },
    "schemas": {
      "Package": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "origin": {
            "type": "string",
            "enum": [
              "public-mirror",
              "private-mirror",
              "private"
            ]
          },
          "url": {
            "type": "string"
          },
          "credentials": {
            "type": "object"
          }
        }
      },
      "PackageInput": {
        "type": "object",
        "properties": {
          "repoType": {
            "type": "string",
            "enum": [
              "vcs",
              "custom",
              "artifact"
            ]
          },
          "repoUrl": {
            "type": "string",
            "description": "VCS repository URL"
          },
          "credentialId": {
            "type": "integer"
          },
          "definition": {
            "type": "object",
            "description": "Custom package JSON definition"
          }
        }
      },
      "Team": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "permission": {
            "type": "string"
          },
          "members": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "username": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "TeamInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "permission": {
            "type": "string"
          }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "urlName": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "composerRepositoryUrl": {
            "type": "string"
          }
        }
      },
      "CustomerInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "urlName": {
            "type": "string"
          }
        }
      },
      "Credential": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "type": {
            "type": "string",
            "enum": [
              "bitbucket-app-pw",
              "github-oauth",
              "gitlab-token",
              "http-basic",
              "magento",
              "http-header",
              "ssh-key"
            ]
          },
          "domain": {
            "type": "string"
          }
        }
      },
      "CredentialInput": {
        "type": "object",
        "required": [
          "type",
          "domain"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "bitbucket-app-pw",
              "github-oauth",
              "gitlab-token",
              "http-basic",
              "magento",
              "http-header",
              "ssh-key"
            ]
          },
          "domain": {
            "type": "string"
          },
          "credential": {
            "type": "object",
            "description": "Credential-specific configuration"
          }
        }
      },
      "SecurityIssue": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "severity": {
            "type": "string"
          },
          "affectedVersions": {
            "type": "string"
          }
        }
      },
      "SecurityMonitoring": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          }
        }
      }
    }
  },
  "security": [
    {
      "hmacAuth": []
    }
  ]
}