{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "description": "",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "termsOfService": "https://developers.google.com/terms/",
    "title": "Looker (Google Cloud core) API",
    "version": "v1",
    "x-jentic-source-url": "https://looker.googleapis.com/$discovery/rest?version=v1"
  },
  "servers": [
    {
      "url": "https://looker.googleapis.com/"
    }
  ],
  "paths": {
    "/v1/{+name}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "delete": {
        "parameters": [
          {
            "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Whether to force cascading delete.",
            "in": "query",
            "name": "force",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Delete instance.",
        "operationId": "looker.projects.locations.instances.delete"
      },
      "get": {
        "parameters": [
          {
            "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Instance"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Gets details of a single Instance.",
        "operationId": "looker.projects.locations.instances.get"
      },
      "patch": {
        "parameters": [
          {
            "description": "Output only. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Required. Field mask used to specify the fields to be overwritten in the Instance resource by the update. The fields specified in the mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask.",
            "in": "query",
            "name": "updateMask",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Update Instance.",
        "operationId": "looker.projects.locations.instances.patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Instance"
              }
            }
          }
        }
      }
    },
    "/v1/{+name}/locations": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "The resource that owns the locations collection, if applicable.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The maximum number of results to return. If not set, the service selects a default.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListLocationsResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Lists information about the supported locations for this service.",
        "operationId": "looker.projects.locations.list"
      }
    },
    "/v1/{+name}/operations": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "The name of the operation's parent resource.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The standard list filter.",
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The standard list page size.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The standard list page token.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListOperationsResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
        "operationId": "looker.projects.locations.operations.list"
      }
    },
    "/v1/{+name}:cancel": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "The name of the operation resource to be cancelled.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
        "operationId": "looker.projects.locations.operations.cancel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelOperationRequest"
              }
            }
          }
        }
      }
    },
    "/v1/{+name}:export": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Export instance.",
        "operationId": "looker.projects.locations.instances.export",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportInstanceRequest"
              }
            }
          }
        }
      }
    },
    "/v1/{+name}:import": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Import instance.",
        "operationId": "looker.projects.locations.instances.import",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportInstanceRequest"
              }
            }
          }
        }
      }
    },
    "/v1/{+name}:restart": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Restart instance.",
        "operationId": "looker.projects.locations.instances.restart",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RestartInstanceRequest"
              }
            }
          }
        }
      }
    },
    "/v1/{+parent}/instances": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Required. Format: `projects/{project}/locations/{location}`.",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The maximum number of instances to return. If unspecified at most 256 will be returned. The maximum possible value is 2048.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "A page token received from a previous ListInstancesRequest.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListInstancesResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Lists Instances in a given project and location.",
        "operationId": "looker.projects.locations.instances.list"
      },
      "post": {
        "parameters": [
          {
            "description": "Required. Format: `projects/{project}/locations/{location}`.",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Required. The unique instance identifier. Must contain only lowercase letters, numbers, or hyphens, with the first character a letter and the last a letter or a number. 63 characters maximum.",
            "in": "query",
            "name": "instanceId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Creates a new Instance in a given project and location.",
        "operationId": "looker.projects.locations.instances.create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Instance"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "_.xgafv": {
        "description": "V1 error format.",
        "in": "query",
        "name": "$.xgafv",
        "schema": {
          "enum": [
            "1",
            "2"
          ],
          "type": "string"
        }
      },
      "access_token": {
        "description": "OAuth access token.",
        "in": "query",
        "name": "access_token",
        "schema": {
          "type": "string"
        }
      },
      "alt": {
        "description": "Data format for response.",
        "in": "query",
        "name": "alt",
        "schema": {
          "default": "json",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "type": "string"
        }
      },
      "callback": {
        "description": "JSONP",
        "in": "query",
        "name": "callback",
        "schema": {
          "type": "string"
        }
      },
      "fields": {
        "description": "Selector specifying which fields to include in a partial response.",
        "in": "query",
        "name": "fields",
        "schema": {
          "type": "string"
        }
      },
      "key": {
        "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
        "in": "query",
        "name": "key",
        "schema": {
          "type": "string"
        }
      },
      "oauth_token": {
        "description": "OAuth 2.0 token for the current user.",
        "in": "query",
        "name": "oauth_token",
        "schema": {
          "type": "string"
        }
      },
      "prettyPrint": {
        "description": "Returns response with indentations and line breaks.",
        "in": "query",
        "name": "prettyPrint",
        "schema": {
          "default": true,
          "type": "boolean"
        }
      },
      "quotaUser": {
        "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
        "in": "query",
        "name": "quotaUser",
        "schema": {
          "type": "string"
        }
      },
      "uploadType": {
        "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
        "in": "query",
        "name": "uploadType",
        "schema": {
          "type": "string"
        }
      },
      "upload_protocol": {
        "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
        "in": "query",
        "name": "upload_protocol",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "Instance": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Instance"
            }
          }
        }
      }
    },
    "schemas": {
      "AdminSettings": {
        "description": "Looker instance Admin settings fields.",
        "properties": {
          "allowedEmailDomains": {
            "description": "Email domain allowlist for the instance.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "CancelOperationRequest": {
        "description": "The request message for Operations.CancelOperation.",
        "properties": {},
        "type": "object"
      },
      "CustomDomain": {
        "description": "Custom domain information.",
        "properties": {
          "domain": {
            "description": "Domain name.",
            "type": "string"
          },
          "state": {
            "description": "Domain state.",
            "enum": [
              "CUSTOM_DOMAIN_STATE_UNSPECIFIED",
              "UNVERIFIED",
              "VERIFIED",
              "MODIFYING",
              "AVAILABLE",
              "UNAVAILABLE",
              "UNKNOWN"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "Date": {
        "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
        "properties": {
          "day": {
            "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
            "format": "int32",
            "type": "integer"
          },
          "month": {
            "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
            "format": "int32",
            "type": "integer"
          },
          "year": {
            "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "DenyMaintenancePeriod": {
        "description": "Specifies the maintenance denial period.",
        "properties": {
          "endDate": {
            "$ref": "#/components/schemas/Date",
            "description": "Required. End date of the deny maintenance period."
          },
          "startDate": {
            "$ref": "#/components/schemas/Date",
            "description": "Required. Start date of the deny maintenance period."
          },
          "time": {
            "$ref": "#/components/schemas/TimeOfDay",
            "description": "Required. Time in UTC when the period starts and ends."
          }
        },
        "type": "object"
      },
      "Empty": {
        "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
        "properties": {},
        "type": "object"
      },
      "EncryptionConfig": {
        "description": "Encryption configuration (i.e. CMEK).",
        "properties": {
          "kmsKeyName": {
            "description": "Name of the CMEK key in KMS (input parameter).",
            "type": "string"
          },
          "kmsKeyNameVersion": {
            "description": "Output only. Full name and version of the CMEK key currently in use to encrypt Looker data. Format: `projects/{project}/locations/{location}/keyRings/{ring}/cryptoKeys/{key}/cryptoKeyVersions/{version}`. Empty if CMEK is not configured in this instance.",
            "readOnly": true,
            "type": "string"
          },
          "kmsKeyState": {
            "description": "Output only. Status of the CMEK key.",
            "enum": [
              "KMS_KEY_STATE_UNSPECIFIED",
              "VALID",
              "REVOKED"
            ],
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ExportEncryptionConfig": {
        "description": "Configuration for Encryption - e.g. CMEK.",
        "properties": {
          "kmsKeyName": {
            "description": "Required. Name of the CMEK key in KMS.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ExportInstanceRequest": {
        "description": "Request options for exporting data of an Instance.",
        "properties": {
          "encryptionConfig": {
            "$ref": "#/components/schemas/ExportEncryptionConfig",
            "description": "Required. Encryption configuration (CMEK). For CMEK enabled instances it should be same as looker CMEK."
          },
          "gcsUri": {
            "description": "The path to the folder in Google Cloud Storage where the export will be stored. The URI is in the form `gs://bucketName/folderName`.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ExportMetadata": {
        "description": "ExportMetadata represents the metadata of the exported artifacts. The metadata.json file in export artifact can be parsed as this message",
        "properties": {
          "exportEncryptionKey": {
            "$ref": "#/components/schemas/ExportMetadataEncryptionKey",
            "description": "Encryption key that was used to encrypt the export artifacts."
          },
          "filePaths": {
            "description": "List of files created as part of export artifact (excluding the metadata). The paths are relative to the folder containing the metadata.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "lookerEncryptionKey": {
            "description": "Looker encryption key, encrypted with the provided export encryption key. This value will only be populated if the looker instance uses Looker managed encryption instead of CMEK.",
            "type": "string"
          },
          "lookerInstance": {
            "description": "Name of the exported instance. Format: projects/{project}/locations/{location}/instances/{instance}",
            "type": "string"
          },
          "lookerPlatformEdition": {
            "description": "Platform edition of the exported instance.",
            "type": "string"
          },
          "lookerVersion": {
            "description": "Version of instance when the export was created.",
            "type": "string"
          },
          "source": {
            "description": "The source type of the migration.",
            "enum": [
              "SOURCE_UNSPECIFIED",
              "LOOKER_CORE",
              "LOOKER_ORIGINAL"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "ExportMetadataEncryptionKey": {
        "description": "Encryption key details for the exported artifact.",
        "properties": {
          "cmek": {
            "description": "Name of the CMEK.",
            "type": "string"
          },
          "version": {
            "description": "Version of the CMEK.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ImportInstanceRequest": {
        "description": "Requestion options for importing looker data to an Instance",
        "properties": {
          "gcsUri": {
            "description": "Path to the import folder in Google Cloud Storage, in the form `gs://bucketName/folderName`.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Instance": {
        "description": "A Looker instance.",
        "properties": {
          "adminSettings": {
            "$ref": "#/components/schemas/AdminSettings",
            "description": "Looker Instance Admin settings."
          },
          "consumerNetwork": {
            "description": "Network name in the consumer project. Format: `projects/{project}/global/networks/{network}`. Note that the consumer network may be in a different GCP project than the consumer project that is hosting the Looker Instance.",
            "type": "string"
          },
          "createTime": {
            "description": "Output only. The time when the Looker instance provisioning was first requested.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "customDomain": {
            "$ref": "#/components/schemas/CustomDomain",
            "description": "Custom domain configuration for the instance."
          },
          "denyMaintenancePeriod": {
            "$ref": "#/components/schemas/DenyMaintenancePeriod",
            "description": "Maintenance denial period for this instance."
          },
          "egressPublicIp": {
            "description": "Output only. Public Egress IP (IPv4).",
            "readOnly": true,
            "type": "string"
          },
          "encryptionConfig": {
            "$ref": "#/components/schemas/EncryptionConfig",
            "description": "Encryption configuration (CMEK). Only set if CMEK has been enabled on the instance."
          },
          "fipsEnabled": {
            "description": "Optional. Whether FIPS is enabled on the Looker instance.",
            "type": "boolean"
          },
          "geminiEnabled": {
            "description": "Optional. Whether Gemini feature is enabled on the Looker instance or not.",
            "type": "boolean"
          },
          "ingressPrivateIp": {
            "description": "Output only. Private Ingress IP (IPv4).",
            "readOnly": true,
            "type": "string"
          },
          "ingressPublicIp": {
            "description": "Output only. Public Ingress IP (IPv4).",
            "readOnly": true,
            "type": "string"
          },
          "lastDenyMaintenancePeriod": {
            "$ref": "#/components/schemas/DenyMaintenancePeriod",
            "description": "Output only. Last computed maintenance denial period for this instance.",
            "readOnly": true
          },
          "linkedLspProjectNumber": {
            "description": "Optional. Linked Google Cloud Project Number for Looker Studio Pro.",
            "format": "int64",
            "type": "string"
          },
          "lookerUri": {
            "description": "Output only. Looker instance URI which can be used to access the Looker Instance UI.",
            "readOnly": true,
            "type": "string"
          },
          "lookerVersion": {
            "description": "Output only. The Looker version that the instance is using.",
            "readOnly": true,
            "type": "string"
          },
          "maintenanceSchedule": {
            "$ref": "#/components/schemas/MaintenanceSchedule",
            "description": "Maintenance schedule for this instance."
          },
          "maintenanceWindow": {
            "$ref": "#/components/schemas/MaintenanceWindow",
            "description": "Maintenance window for this instance."
          },
          "name": {
            "description": "Output only. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
            "readOnly": true,
            "type": "string"
          },
          "oauthConfig": {
            "$ref": "#/components/schemas/OAuthConfig",
            "description": "Looker instance OAuth login settings."
          },
          "platformEdition": {
            "description": "Platform edition.",
            "enum": [
              "PLATFORM_EDITION_UNSPECIFIED",
              "LOOKER_CORE_TRIAL",
              "LOOKER_CORE_STANDARD",
              "LOOKER_CORE_STANDARD_ANNUAL",
              "LOOKER_CORE_ENTERPRISE_ANNUAL",
              "LOOKER_CORE_EMBED_ANNUAL",
              "LOOKER_CORE_NONPROD_STANDARD_ANNUAL",
              "LOOKER_CORE_NONPROD_ENTERPRISE_ANNUAL",
              "LOOKER_CORE_NONPROD_EMBED_ANNUAL"
            ],
            "type": "string"
          },
          "privateIpEnabled": {
            "description": "Whether private IP is enabled on the Looker instance.",
            "type": "boolean"
          },
          "pscConfig": {
            "$ref": "#/components/schemas/PscConfig",
            "description": "Optional. PSC configuration. Used when `psc_enabled` is true."
          },
          "pscEnabled": {
            "description": "Optional. Whether to use Private Service Connect (PSC) for private IP connectivity. If true, neither `public_ip_enabled` nor `private_ip_enabled` can be true.",
            "type": "boolean"
          },
          "publicIpEnabled": {
            "description": "Whether public IP is enabled on the Looker instance.",
            "type": "boolean"
          },
          "reservedRange": {
            "description": "Name of a reserved IP address range within the Instance.consumer_network, to be used for private services access connection. May or may not be specified in a create request.",
            "type": "string"
          },
          "satisfiesPzi": {
            "description": "Output only. Reserved for future use.",
            "readOnly": true,
            "type": "boolean"
          },
          "satisfiesPzs": {
            "description": "Output only. Reserved for future use.",
            "readOnly": true,
            "type": "boolean"
          },
          "state": {
            "description": "Output only. The state of the instance.",
            "enum": [
              "STATE_UNSPECIFIED",
              "ACTIVE",
              "CREATING",
              "FAILED",
              "SUSPENDED",
              "UPDATING",
              "DELETING",
              "EXPORTING",
              "IMPORTING"
            ],
            "readOnly": true,
            "type": "string"
          },
          "updateTime": {
            "description": "Output only. The time when the Looker instance was last updated.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "userMetadata": {
            "$ref": "#/components/schemas/UserMetadata",
            "description": "Optional. User metadata."
          }
        },
        "type": "object"
      },
      "ListInstancesResponse": {
        "description": "Response from ListInstances.",
        "properties": {
          "instances": {
            "description": "The list of instances matching the request filters, up to the requested ListInstancesRequest.pageSize.",
            "items": {
              "$ref": "#/components/schemas/Instance"
            },
            "type": "array"
          },
          "nextPageToken": {
            "description": "If provided, a page token that can look up the next ListInstancesRequest.pageSize results. If empty, the results list is exhausted.",
            "type": "string"
          },
          "unreachable": {
            "description": "Locations that could not be reached.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ListLocationsResponse": {
        "description": "The response message for Locations.ListLocations.",
        "properties": {
          "locations": {
            "description": "A list of locations that matches the specified filter in the request.",
            "items": {
              "$ref": "#/components/schemas/Location"
            },
            "type": "array"
          },
          "nextPageToken": {
            "description": "The standard List next-page token.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ListOperationsResponse": {
        "description": "The response message for Operations.ListOperations.",
        "properties": {
          "nextPageToken": {
            "description": "The standard List next-page token.",
            "type": "string"
          },
          "operations": {
            "description": "A list of operations that matches the specified filter in the request.",
            "items": {
              "$ref": "#/components/schemas/Operation"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Location": {
        "description": "A resource that represents a Google Cloud location.",
        "properties": {
          "displayName": {
            "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
            "type": "string"
          },
          "labels": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
            "type": "object"
          },
          "locationId": {
            "description": "The canonical id for this location. For example: `\"us-east1\"`.",
            "type": "string"
          },
          "metadata": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "description": "Service-specific metadata. For example the available capacity at the given location.",
            "type": "object"
          },
          "name": {
            "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
            "type": "string"
          }
        },
        "type": "object"
      },
      "MaintenanceSchedule": {
        "description": "Published upcoming future maintenance schedule.",
        "properties": {
          "endTime": {
            "description": "The scheduled end time for the maintenance.",
            "format": "google-datetime",
            "type": "string"
          },
          "startTime": {
            "description": "The scheduled start time for the maintenance.",
            "format": "google-datetime",
            "type": "string"
          }
        },
        "type": "object"
      },
      "MaintenanceWindow": {
        "description": "Specifies the recurring maintenance window.",
        "properties": {
          "dayOfWeek": {
            "description": "Required. Day of the week for this MaintenanceWindow (in UTC).",
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "type": "string"
          },
          "startTime": {
            "$ref": "#/components/schemas/TimeOfDay",
            "description": "Required. Time in UTC when the period starts. Maintenance will be scheduled within 60 minutes."
          }
        },
        "type": "object"
      },
      "OAuthConfig": {
        "description": "Looker instance OAuth login settings.",
        "properties": {
          "clientId": {
            "description": "Input only. Client ID from an external OAuth application. This is an input-only field, and thus will not be set in any responses.",
            "type": "string"
          },
          "clientSecret": {
            "description": "Input only. Client secret from an external OAuth application. This is an input-only field, and thus will not be set in any responses.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Operation": {
        "description": "This resource represents a long-running operation that is the result of a network API call.",
        "properties": {
          "done": {
            "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
            "type": "boolean"
          },
          "error": {
            "$ref": "#/components/schemas/Status",
            "description": "The error result of the operation in case of failure or cancellation."
          },
          "metadata": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
            "type": "object"
          },
          "name": {
            "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
            "type": "string"
          },
          "response": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
            "type": "object"
          }
        },
        "type": "object"
      },
      "OperationMetadata": {
        "description": "Represents the metadata of the long-running operation.",
        "properties": {
          "apiVersion": {
            "description": "API version used to start the operation.",
            "type": "string"
          },
          "createTime": {
            "description": "The time the operation was created.",
            "format": "google-datetime",
            "type": "string"
          },
          "endTime": {
            "description": "The time the operation finished running.",
            "format": "google-datetime",
            "type": "string"
          },
          "requestedCancellation": {
            "description": "Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
            "type": "boolean"
          },
          "statusMessage": {
            "description": "Human-readable status of the operation, if any.",
            "type": "string"
          },
          "target": {
            "description": "Server-defined resource path for the target of the operation.",
            "type": "string"
          },
          "verb": {
            "description": "Name of the verb executed by the operation.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "PscConfig": {
        "description": "Information for Private Service Connect (PSC) setup for a Looker instance.",
        "properties": {
          "allowedVpcs": {
            "description": "Optional. List of VPCs that are allowed ingress into looker. Format: projects/{project}/global/networks/{network}",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "lookerServiceAttachmentUri": {
            "description": "Output only. URI of the Looker service attachment.",
            "readOnly": true,
            "type": "string"
          },
          "serviceAttachments": {
            "description": "Optional. List of egress service attachment configurations.",
            "items": {
              "$ref": "#/components/schemas/ServiceAttachment"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "RestartInstanceRequest": {
        "description": "Request options for restarting an instance.",
        "properties": {},
        "type": "object"
      },
      "ServiceAttachment": {
        "description": "Service attachment configuration.",
        "properties": {
          "connectionStatus": {
            "description": "Output only. Connection status.",
            "enum": [
              "UNKNOWN",
              "ACCEPTED",
              "PENDING",
              "REJECTED",
              "NEEDS_ATTENTION",
              "CLOSED"
            ],
            "readOnly": true,
            "type": "string"
          },
          "localFqdn": {
            "description": "Required. Fully qualified domain name that will be used in the private DNS record created for the service attachment.",
            "type": "string"
          },
          "targetServiceAttachmentUri": {
            "description": "Required. URI of the service attachment to connect to. Format: projects/{project}/regions/{region}/serviceAttachments/{service_attachment}",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Status": {
        "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
        "properties": {
          "code": {
            "description": "The status code, which should be an enum value of google.rpc.Code.",
            "format": "int32",
            "type": "integer"
          },
          "details": {
            "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
            "items": {
              "additionalProperties": {
                "description": "Properties of the object. Contains field @type with type URL."
              },
              "type": "object"
            },
            "type": "array"
          },
          "message": {
            "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "TimeOfDay": {
        "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
        "properties": {
          "hours": {
            "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
            "format": "int32",
            "type": "integer"
          },
          "minutes": {
            "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
            "format": "int32",
            "type": "integer"
          },
          "nanos": {
            "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
            "format": "int32",
            "type": "integer"
          },
          "seconds": {
            "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "UserMetadata": {
        "description": "Metadata about users for a Looker instance.",
        "properties": {
          "additionalDeveloperUserCount": {
            "description": "Optional. The number of additional developer users the instance owner has purchased.",
            "format": "int32",
            "type": "integer"
          },
          "additionalStandardUserCount": {
            "description": "Optional. The number of additional standard users the instance owner has purchased.",
            "format": "int32",
            "type": "integer"
          },
          "additionalViewerUserCount": {
            "description": "Optional. The number of additional viewer users the instance owner has purchased.",
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "Oauth2": {
        "description": "Oauth 2.0 implicit authentication",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
            "scopes": {
              "https://www.googleapis.com/auth/cloud-platform": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
            }
          }
        },
        "type": "oauth2"
      },
      "Oauth2c": {
        "description": "Oauth 2.0 accessCode authentication",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
            "scopes": {
              "https://www.googleapis.com/auth/cloud-platform": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
            },
            "tokenUrl": "https://accounts.google.com/o/oauth2/token"
          }
        },
        "type": "oauth2"
      }
    }
  },
  "tags": [
    {
      "name": "projects"
    }
  ],
  "externalDocs": {
    "url": "https://cloud.google.com/looker/docs/reference/rest/"
  }
}