{
  "openapi": "3.0.3",
  "info": {
    "title": "PAGEDIUM API",
    "description": "REST API for PAGEDIUM financial alerts and trading automation platform. Manage crypto, stock, and forex alerts, API keys, notification settings, and automated trades.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://pagedium.com/docs/rest"
  },
  "servers": [
    {
      "url": "https://pagedium.com/api/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/user/user-info": {
      "get": {
        "operationId": "getuserinfo",
        "summary": "Get User Info",
        "description": "Get current authenticated user info",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "User info retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/user/notification-settings": {
      "get": {
        "operationId": "getnotificationsettings",
        "summary": "Get Notification Settings",
        "description": "Get all notification settings for the authenticated user",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Notification settings retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NotificationSetting"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/user/notification-setting/{uuid}": {
      "get": {
        "operationId": "getnotificationsetting",
        "summary": "Get Notification Setting",
        "description": "Get a single notification setting by UUID",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notification setting retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationSetting"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/user/team-users": {
      "get": {
        "operationId": "getteamusers",
        "summary": "Get Team Users",
        "description": "Get team users (team-admin only)",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Team users retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TeamUser"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/pagedium/whitelist-ips": {
      "get": {
        "operationId": "getwhitelistips",
        "summary": "Get PAGEDIUM Whitelist IPs",
        "description": "Get PAGEDIUM whitelist IPv4/IPv6 groups",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Whitelist IPs retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhitelistIps"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/user/api-keys": {
      "get": {
        "operationId": "getaccountapikeys",
        "summary": "Get Account API Keys",
        "description": "Get all account API keys",
        "tags": [
          "API Keys"
        ],
        "responses": {
          "200": {
            "description": "API keys retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiKey"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/user/api-key/{uuid}": {
      "get": {
        "operationId": "getaccountapikey",
        "summary": "Get Account API Key",
        "description": "Get a single account API key by UUID",
        "tags": [
          "API Keys"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/crypto/exchange-api-keys": {
      "get": {
        "operationId": "getcryptoexchangeapikeys",
        "summary": "Get Crypto Exchange API Keys",
        "description": "Get all crypto exchange API keys",
        "tags": [
          "API Keys"
        ],
        "responses": {
          "200": {
            "description": "Crypto exchange API keys retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExchangeApiKey"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/crypto/exchange-api-key/{uuid}": {
      "get": {
        "operationId": "getcryptoexchangeapikey",
        "summary": "Get Crypto Exchange API Key",
        "description": "Get a single crypto exchange API key by UUID",
        "tags": [
          "API Keys"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Crypto exchange API key retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeApiKey"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/stock/broker-api-keys": {
      "get": {
        "operationId": "getstockbrokerapikeys",
        "summary": "Get Stock Broker API Keys",
        "description": "Get all stock broker API keys",
        "tags": [
          "API Keys"
        ],
        "responses": {
          "200": {
            "description": "Stock broker API keys retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BrokerApiKey"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/stock/broker-api-key/{uuid}": {
      "get": {
        "operationId": "getstockbrokerapikey",
        "summary": "Get Stock Broker API Key",
        "description": "Get a single stock broker API key by UUID",
        "tags": [
          "API Keys"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stock broker API key retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerApiKey"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/forex/broker-api-keys": {
      "get": {
        "operationId": "getforexbrokerapikeys",
        "summary": "Get Forex Broker API Keys",
        "description": "Get all forex broker API keys",
        "tags": [
          "API Keys"
        ],
        "responses": {
          "200": {
            "description": "Forex broker API keys retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BrokerApiKey"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/forex/broker-api-key/{uuid}": {
      "get": {
        "operationId": "getforexbrokerapikey",
        "summary": "Get Forex Broker API Key",
        "description": "Get a single forex broker API key by UUID",
        "tags": [
          "API Keys"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Forex broker API key retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerApiKey"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key authentication"
      }
    },
    "schemas": {
      "UserInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "plan": {
            "type": "string"
          },
          "team_id": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "NotificationSetting": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "channel": {
            "type": "string"
          }
        }
      },
      "TeamUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "role": {
            "type": "string"
          }
        }
      },
      "WhitelistIps": {
        "type": "object",
        "properties": {
          "ipv4": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "ipv6": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "last_used_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ExchangeApiKey": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "exchange": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BrokerApiKey": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "broker": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "status": {
                "type": "integer",
                "description": "HTTP status code"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "API Keys",
      "description": "Operations related to API Keys"
    },
    {
      "name": "Account",
      "description": "Operations related to Account"
    }
  ]
}