{
  "openapi": "3.0.0",
  "info": {
    "description": "The Disk Resource Provider Client.",
    "title": "DiskResourceProviderClient",
    "version": "2019-03-01",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/azure.com/compute-disk/2019-03-01/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/disk.json",
        "version": "2.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "azure.com",
    "x-serviceName": "compute-disk",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/disks": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiskList"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Disks"
        ],
        "description": "Lists all the disks under a subscription.",
        "operationId": "Disks_List",
        "x-ms-examples": {
          "List all managed disks in a subscription.": {
            "parameters": {
              "api-version": "2019-03-01",
              "subscriptionId": "{subscription-id}"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": "http://disksvchost:99/subscriptions/{subscriptionId}/providers/Microsoft.Compute/disks?$skiptoken={token}/Subscriptions/{subscriptionId}/ResourceGroups/myResourceGroup/Disks/myManagedDisk",
                  "value": [
                    {
                      "tags": {
                        "department": "Development",
                        "project": "ManagedDisks"
                      },
                      "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk1",
                      "location": "westus",
                      "name": "myManagedDisk1",
                      "properties": {
                        "creationData": {
                          "createOption": "Copy",
                          "sourceResourceId": "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk1"
                        },
                        "diskSizeGB": 200,
                        "encryptionSettingsCollection": {
                          "enabled": true,
                          "encryptionSettings": [
                            {
                              "diskEncryptionKey": {
                                "secretUrl": "https://myvmvault.vault-int.azure-int.net/secrets/{secret}",
                                "sourceVault": {
                                  "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                                }
                              },
                              "keyEncryptionKey": {
                                "keyUrl": "https://myvmvault.vault-int.azure-int.net/keys/{key}",
                                "sourceVault": {
                                  "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                                }
                              }
                            }
                          ]
                        },
                        "osType": "Windows",
                        "provisioningState": "Succeeded",
                        "timeCreated": "2016-12-28 04:41:35.927872+00:00"
                      },
                      "type": "Microsoft.Compute/disks"
                    },
                    {
                      "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk2",
                      "location": "westus",
                      "name": "myManagedDisk2",
                      "properties": {
                        "creationData": {
                          "createOption": "Empty"
                        },
                        "diskSizeGB": 10,
                        "osType": "Windows",
                        "provisioningState": "Succeeded",
                        "timeCreated": "2016-12-28 04:41:36.872242+00:00"
                      },
                      "type": "Microsoft.Compute/disks"
                    },
                    {
                      "tags": {
                        "department": "Development",
                        "project": "ManagedDisks"
                      },
                      "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk3",
                      "location": "westus",
                      "name": "myManagedDisk3",
                      "properties": {
                        "creationData": {
                          "createOption": "FromImage",
                          "imageReference": {
                            "id": "/Subscriptions/{subscriptionId}/Providers/Microsoft.Compute/Locations/uswest/Publishers/Microsoft/ArtifactTypes/VMImage/Offers/{offer}"
                          }
                        },
                        "diskSizeGB": 200,
                        "encryptionSettingsCollection": {
                          "enabled": true,
                          "encryptionSettings": [
                            {
                              "diskEncryptionKey": {
                                "secretUrl": "https://myvmvault.vault-int.azure-int.net/secrets/{secret}",
                                "sourceVault": {
                                  "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                                }
                              },
                              "keyEncryptionKey": {
                                "keyUrl": "https://myvmvault.vault-int.azure-int.net/keys/{key}",
                                "sourceVault": {
                                  "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                                }
                              }
                            }
                          ]
                        },
                        "osType": "Windows",
                        "provisioningState": "Succeeded",
                        "timeCreated": "2016-12-28 04:41:36.397393+00:00"
                      },
                      "type": "Microsoft.Compute/disks"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/snapshots": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SnapshotList"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Snapshots"
        ],
        "description": "Lists snapshots under a subscription.",
        "operationId": "Snapshots_List",
        "x-ms-examples": {
          "List all snapshots in a subscription.": {
            "parameters": {
              "api-version": "2019-03-01",
              "subscriptionId": "{subscription-id}"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "tags": {
                        "department": "Development",
                        "project": "Snapshots"
                      },
                      "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot1",
                      "location": "westus",
                      "name": "mySnapshot1",
                      "properties": {
                        "creationData": {
                          "createOption": "Copy",
                          "sourceResourceId": "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
                        },
                        "diskSizeGB": 200,
                        "encryptionSettingsCollection": {
                          "enabled": true,
                          "encryptionSettings": [
                            {
                              "diskEncryptionKey": {
                                "secretUrl": "https://myvmvault.vault-int.azure-int.net/secrets/{secret}",
                                "sourceVault": {
                                  "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                                }
                              },
                              "keyEncryptionKey": {
                                "keyUrl": "https://myvmvault.vault-int.azure-int.net/keys/{key}",
                                "sourceVault": {
                                  "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                                }
                              }
                            }
                          ]
                        },
                        "osType": "Windows",
                        "provisioningState": "Succeeded",
                        "timeCreated": "2016-12-28 04:47:30.663056+00:00"
                      },
                      "type": "Microsoft.Compute/snapshots"
                    },
                    {
                      "tags": {
                        "department": "Development",
                        "project": "Snapshots"
                      },
                      "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot2",
                      "location": "westus",
                      "name": "mySnapshot2",
                      "properties": {
                        "creationData": {
                          "createOption": "Import",
                          "sourceUri": "https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd",
                          "storageAccountId": "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/myStorageAccount"
                        },
                        "diskSizeGB": 200,
                        "encryptionSettingsCollection": {
                          "enabled": true,
                          "encryptionSettings": [
                            {
                              "diskEncryptionKey": {
                                "secretUrl": "https://myvmvault.vault-int.azure-int.net/secrets/{secret}",
                                "sourceVault": {
                                  "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                                }
                              },
                              "keyEncryptionKey": {
                                "keyUrl": "https://myvmvault.vault-int.azure-int.net/keys/{key}",
                                "sourceVault": {
                                  "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                                }
                              }
                            }
                          ]
                        },
                        "osType": "Windows",
                        "provisioningState": "Succeeded",
                        "timeCreated": "2016-12-28 04:47:30.324719+00:00"
                      },
                      "type": "Microsoft.Compute/snapshots"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/disks": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiskList"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Disks"
        ],
        "description": "Lists all the disks under a resource group.",
        "operationId": "Disks_ListByResourceGroup",
        "x-ms-examples": {
          "List all managed disks in a resource group.": {
            "parameters": {
              "api-version": "2019-03-01",
              "resourceGroupName": "myResourceGroup",
              "subscriptionId": "{subscription-id}"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": "http://disksvchost:99/subscriptions/{subscriptionId}/providers/Microsoft.Compute/disks?$skiptoken={token}/Subscriptions/{subscriptionId}/ResourceGroups/myResourceGroup/Disks/myManagedDisk",
                  "value": [
                    {
                      "tags": {
                        "department": "Development",
                        "project": "ManagedDisks"
                      },
                      "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk",
                      "location": "westus",
                      "name": "myManagedDisk",
                      "properties": {
                        "creationData": {
                          "createOption": "Copy",
                          "sourceResourceId": "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk"
                        },
                        "diskSizeGB": 200,
                        "encryptionSettingsCollection": {
                          "enabled": true,
                          "encryptionSettings": [
                            {
                              "diskEncryptionKey": {
                                "secretUrl": "https://myvmvault.vault-int.azure-int.net/secrets/{secret}",
                                "sourceVault": {
                                  "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                                }
                              },
                              "keyEncryptionKey": {
                                "keyUrl": "https://myvmvault.vault-int.azure-int.net/keys/{key}",
                                "sourceVault": {
                                  "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                                }
                              }
                            }
                          ]
                        },
                        "osType": "Windows",
                        "provisioningState": "Succeeded",
                        "timeCreated": "2016-12-28 04:41:35.927872+00:00"
                      },
                      "type": "Microsoft.Compute/disks"
                    },
                    {
                      "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk",
                      "location": "westus",
                      "name": "myManagedDisk",
                      "properties": {
                        "creationData": {
                          "createOption": "Empty"
                        },
                        "diskSizeGB": 10,
                        "osType": "Windows",
                        "provisioningState": "Succeeded",
                        "timeCreated": "2016-12-28 04:41:36.872242+00:00"
                      },
                      "type": "Microsoft.Compute/disks"
                    },
                    {
                      "tags": {
                        "department": "Development",
                        "project": "ManagedDisks"
                      },
                      "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk",
                      "location": "westus",
                      "name": "myManagedDisk",
                      "properties": {
                        "creationData": {
                          "createOption": "FromImage",
                          "imageReference": {
                            "id": "/Subscriptions/{subscriptionId}/Providers/Microsoft.Compute/Locations/uswest/Publishers/Microsoft/ArtifactTypes/VMImage/Offers/{offer}"
                          }
                        },
                        "diskSizeGB": 200,
                        "encryptionSettingsCollection": {
                          "enabled": true,
                          "encryptionSettings": [
                            {
                              "diskEncryptionKey": {
                                "secretUrl": "https://myvmvault.vault-int.azure-int.net/secrets/{secret}",
                                "sourceVault": {
                                  "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                                }
                              },
                              "keyEncryptionKey": {
                                "keyUrl": "https://myvmvault.vault-int.azure-int.net/keys/{key}",
                                "sourceVault": {
                                  "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                                }
                              }
                            }
                          ]
                        },
                        "osType": "Windows",
                        "provisioningState": "Succeeded",
                        "timeCreated": "2016-12-28 04:41:36.397393+00:00"
                      },
                      "type": "Microsoft.Compute/disks"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/disks/{diskName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/DiskNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "If the disk is deleted, this is an expected error code."
          }
        },
        "tags": [
          "Disks"
        ],
        "description": "Deletes a disk.",
        "operationId": "Disks_Delete",
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/DiskNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Disk"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Disks"
        ],
        "description": "Gets information about a disk.",
        "operationId": "Disks_Get",
        "x-ms-examples": {
          "Get information about a managed disk.": {
            "parameters": {
              "api-version": "2019-03-01",
              "diskName": "myManagedDisk",
              "resourceGroupName": "myResourceGroup",
              "subscriptionId": "{subscription-id}"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "department": "Development",
                    "project": "ManagedDisks"
                  },
                  "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk",
                  "location": "westus",
                  "managedBy": "/subscriptions/123caaa-123v-v211-a49f-f88ccac5bf88/resourceGroups/ResourceGroupName/providers/Microsoft.Compute/virtualMachines/TestVM414689371c88843d65ec",
                  "name": "myManagedDisk",
                  "properties": {
                    "creationData": {
                      "createOption": "Empty"
                    },
                    "diskSizeGB": 10,
                    "encryptionSettingsCollection": {
                      "enabled": true,
                      "encryptionSettings": [
                        {
                          "diskEncryptionKey": {
                            "secretUrl": "https://myvmvault.vault-int.azure-int.net/secrets/{secret}",
                            "sourceVault": {
                              "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                            }
                          },
                          "keyEncryptionKey": {
                            "keyUrl": "https://myvmvault.vault-int.azure-int.net/keys/{key}",
                            "sourceVault": {
                              "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                            }
                          }
                        }
                      ]
                    },
                    "osType": "Windows",
                    "provisioningState": "Succeeded",
                    "timeCreated": "2016-12-28 04:41:35.079872+00:00"
                  },
                  "sku": {
                    "name": "Standard_LRS"
                  },
                  "type": "Microsoft.Compute/disks"
                }
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/DiskNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Disk"
                }
              }
            },
            "description": "OK"
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Disk"
                }
              }
            },
            "description": "Accepted"
          }
        },
        "tags": [
          "Disks"
        ],
        "description": "Updates (patches) a disk.",
        "operationId": "Disks_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiskUpdate"
              }
            }
          },
          "description": "Disk object supplied in the body of the Patch disk operation.",
          "required": true
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/DiskNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Disk"
                }
              }
            },
            "description": "OK"
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Disk"
                }
              }
            },
            "description": "Accepted"
          }
        },
        "tags": [
          "Disks"
        ],
        "description": "Creates or updates a disk.",
        "operationId": "Disks_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Disk"
              }
            }
          },
          "description": "Disk object supplied in the body of the Put disk operation.",
          "required": true
        },
        "x-ms-examples": {
          "Create a managed disk by copying a snapshot.": {
            "parameters": {
              "api-version": "2019-03-01",
              "disk": {
                "location": "West US",
                "properties": {
                  "creationData": {
                    "createOption": "Copy",
                    "sourceResourceId": "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
                  }
                }
              },
              "diskName": "myDisk",
              "resourceGroupName": "myResourceGroup",
              "subscriptionId": "{subscription-id}"
            },
            "responses": {
              "200": {
                "body": {
                  "location": "West US",
                  "name": "myDisk",
                  "properties": {
                    "creationData": {
                      "createOption": "Copy",
                      "sourceResourceId": "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
                    },
                    "provisioningState": "Updating"
                  }
                }
              },
              "202": {
                "body": {
                  "location": "West US",
                  "name": "myDisk",
                  "properties": {
                    "creationData": {
                      "createOption": "Copy",
                      "sourceResourceId": "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
                    },
                    "provisioningState": "Updating"
                  }
                }
              }
            }
          },
          "Create a managed disk by importing an unmanaged blob from a different subscription.": {
            "parameters": {
              "api-version": "2019-03-01",
              "disk": {
                "location": "West US",
                "properties": {
                  "creationData": {
                    "createOption": "Import",
                    "sourceUri": "https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd",
                    "storageAccountId": "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/myStorageAccount"
                  }
                }
              },
              "diskName": "myDisk",
              "resourceGroupName": "myResourceGroup",
              "subscriptionId": "{subscription-id}"
            },
            "responses": {
              "200": {
                "body": {
                  "location": "West US",
                  "name": "myDisk",
                  "properties": {
                    "creationData": {
                      "createOption": "Import",
                      "sourceUri": "https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd",
                      "storageAccountId": "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/myStorageAccount"
                    },
                    "provisioningState": "Updating"
                  }
                }
              },
              "202": {
                "body": {
                  "location": "West US",
                  "name": "myDisk",
                  "properties": {
                    "creationData": {
                      "createOption": "Import",
                      "sourceUri": "https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd",
                      "storageAccountId": "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/myStorageAccount"
                    },
                    "provisioningState": "Updating"
                  }
                }
              }
            }
          },
          "Create a managed disk by importing an unmanaged blob from the same subscription.": {
            "parameters": {
              "api-version": "2019-03-01",
              "disk": {
                "location": "West US",
                "properties": {
                  "creationData": {
                    "createOption": "Import",
                    "sourceUri": "https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd"
                  }
                }
              },
              "diskName": "myDisk",
              "resourceGroupName": "myResourceGroup",
              "subscriptionId": "{subscription-id}"
            },
            "responses": {
              "200": {
                "body": {
                  "location": "West US",
                  "name": "myDisk",
                  "properties": {
                    "creationData": {
                      "createOption": "Import",
                      "sourceUri": "https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd"
                    },
                    "provisioningState": "Updating"
                  }
                }
              },
              "202": {
                "body": {
                  "location": "West US",
                  "name": "myDisk",
                  "properties": {
                    "creationData": {
                      "createOption": "Import",
                      "sourceUri": "https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd"
                    },
                    "provisioningState": "Updating"
                  }
                }
              }
            }
          },
          "Create a managed disk from a platform image.": {
            "parameters": {
              "api-version": "2019-03-01",
              "disk": {
                "location": "West US",
                "properties": {
                  "creationData": {
                    "createOption": "FromImage",
                    "imageReference": {
                      "id": "/Subscriptions/{subscriptionId}/Providers/Microsoft.Compute/Locations/uswest/Publishers/Microsoft/ArtifactTypes/VMImage/Offers/{offer}"
                    }
                  },
                  "osType": "Windows"
                }
              },
              "diskName": "myDisk",
              "resourceGroupName": "myResourceGroup",
              "subscriptionId": "{subscription-id}"
            },
            "responses": {
              "200": {
                "body": {
                  "location": "West US",
                  "name": "myDisk",
                  "properties": {
                    "creationData": {
                      "createOption": "FromImage",
                      "imageReference": {
                        "id": "/Subscriptions/{subscriptionId}/Providers/Microsoft.Compute/Locations/uswest/Publishers/Microsoft/ArtifactTypes/VMImage/Offers/{offer}"
                      }
                    },
                    "osType": "Windows",
                    "provisioningState": "Updating"
                  }
                }
              },
              "202": {
                "body": {
                  "location": "West US",
                  "name": "myDisk",
                  "properties": {
                    "creationData": {
                      "createOption": "FromImage",
                      "imageReference": {
                        "id": "/Subscriptions/{subscriptionId}/Providers/Microsoft.Compute/Locations/uswest/Publishers/Microsoft/ArtifactTypes/VMImage/Offers/{offer}"
                      }
                    },
                    "osType": "Windows",
                    "provisioningState": "Updating"
                  }
                }
              }
            }
          },
          "Create a managed disk from an existing managed disk in the same or different subscription.": {
            "parameters": {
              "api-version": "2019-03-01",
              "disk": {
                "location": "West US",
                "properties": {
                  "creationData": {
                    "createOption": "Copy",
                    "sourceResourceId": "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk1"
                  }
                }
              },
              "diskName": "myDisk2",
              "resourceGroupName": "myResourceGroup",
              "subscriptionId": "{subscription-id}"
            },
            "responses": {
              "200": {
                "body": {
                  "location": "West US",
                  "name": "myDisk2",
                  "properties": {
                    "creationData": {
                      "createOption": "Copy",
                      "sourceResourceId": "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk1"
                    },
                    "provisioningState": "Updating"
                  }
                }
              },
              "202": {
                "body": {
                  "location": "West US",
                  "name": "myDisk2",
                  "properties": {
                    "creationData": {
                      "createOption": "Copy",
                      "sourceResourceId": "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk1"
                    },
                    "provisioningState": "Updating"
                  }
                }
              }
            }
          },
          "Create a managed upload disk.": {
            "parameters": {
              "api-version": "2019-03-01",
              "disk": {
                "location": "West US",
                "properties": {
                  "creationData": {
                    "createOption": "Upload",
                    "uploadSizeBytes": 10737418752
                  }
                }
              },
              "diskName": "myDisk",
              "resourceGroupName": "myResourceGroup",
              "subscriptionId": "{subscription-id}"
            },
            "responses": {
              "200": {
                "body": {
                  "location": "West US",
                  "name": "myDisk",
                  "properties": {
                    "creationData": {
                      "createOption": "Upload",
                      "uploadSizeBytes": 10737418752
                    },
                    "provisioningState": "Updating"
                  }
                }
              },
              "202": {
                "body": {
                  "location": "West US",
                  "name": "myDisk",
                  "properties": {
                    "creationData": {
                      "createOption": "Upload",
                      "uploadSizeBytes": 10737418752
                    },
                    "provisioningState": "Updating"
                  }
                }
              }
            }
          },
          "Create an empty managed disk.": {
            "parameters": {
              "api-version": "2019-03-01",
              "disk": {
                "location": "West US",
                "properties": {
                  "creationData": {
                    "createOption": "Empty"
                  },
                  "diskSizeGB": 200
                }
              },
              "diskName": "myDisk",
              "resourceGroupName": "myResourceGroup",
              "subscriptionId": "{subscription-id}"
            },
            "responses": {
              "200": {
                "body": {
                  "location": "West US",
                  "name": "myDisk",
                  "properties": {
                    "creationData": {
                      "createOption": "Empty"
                    },
                    "diskSizeGB": 200,
                    "provisioningState": "Updating"
                  }
                }
              },
              "202": {
                "body": {
                  "location": "West US",
                  "name": "myDisk",
                  "properties": {
                    "creationData": {
                      "createOption": "Empty"
                    },
                    "diskSizeGB": 200,
                    "provisioningState": "Updating"
                  }
                }
              }
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/disks/{diskName}/beginGetAccess": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/DiskNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessUri"
                }
              }
            },
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          }
        },
        "tags": [
          "Disks"
        ],
        "description": "Grants access to a disk.",
        "operationId": "Disks_GrantAccess",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GrantAccessData"
              }
            }
          },
          "description": "Access data object supplied in the body of the get disk access operation.",
          "required": true
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/disks/{diskName}/endGetAccess": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/DiskNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          }
        },
        "tags": [
          "Disks"
        ],
        "description": "Revokes access to a disk.",
        "operationId": "Disks_RevokeAccess",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/snapshots": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SnapshotList"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Snapshots"
        ],
        "description": "Lists snapshots under a resource group.",
        "operationId": "Snapshots_ListByResourceGroup",
        "x-ms-examples": {
          "List all snapshots in a resource group.": {
            "parameters": {
              "api-version": "2019-03-01",
              "resourceGroupName": "myResourceGroup",
              "subscriptionId": "{subscription-id}"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "tags": {
                        "department": "Development",
                        "project": "Snapshots"
                      },
                      "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot",
                      "location": "westus",
                      "name": "mySnapshot",
                      "properties": {
                        "creationData": {
                          "createOption": "Copy",
                          "sourceResourceId": "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
                        },
                        "diskSizeGB": 200,
                        "encryptionSettingsCollection": {
                          "enabled": true,
                          "encryptionSettings": [
                            {
                              "diskEncryptionKey": {
                                "secretUrl": "https://myvmvault.vault-int.azure-int.net/secrets/{secret}",
                                "sourceVault": {
                                  "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                                }
                              },
                              "keyEncryptionKey": {
                                "keyUrl": "https://myvmvault.vault-int.azure-int.net/keys/{key}",
                                "sourceVault": {
                                  "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                                }
                              }
                            }
                          ]
                        },
                        "osType": "Windows",
                        "provisioningState": "Succeeded",
                        "timeCreated": "2016-12-28 04:41:35.927872+00:00"
                      },
                      "type": "Microsoft.Compute/snapshots"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/snapshots/{snapshotName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/SnapshotNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "If the snapshot is deleted, this is an expected error code."
          }
        },
        "tags": [
          "Snapshots"
        ],
        "description": "Deletes a snapshot.",
        "operationId": "Snapshots_Delete",
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/SnapshotNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Snapshot"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Snapshots"
        ],
        "description": "Gets information about a snapshot.",
        "operationId": "Snapshots_Get",
        "x-ms-examples": {
          "Get information about a snapshot.": {
            "parameters": {
              "api-version": "2019-03-01",
              "resourceGroupName": "myResourceGroup",
              "snapshotName": "mySnapshot",
              "subscriptionId": "{subscription-id}"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "department": "Development",
                    "project": "Snapshots"
                  },
                  "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot",
                  "location": "westus",
                  "name": "mySnapshot",
                  "properties": {
                    "creationData": {
                      "createOption": "Empty"
                    },
                    "diskSizeGB": 100,
                    "encryptionSettingsCollection": {
                      "enabled": true,
                      "encryptionSettings": [
                        {
                          "diskEncryptionKey": {
                            "secretUrl": "https://myvmvault.vault-int.azure-int.net/secrets/{secret}",
                            "sourceVault": {
                              "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                            }
                          },
                          "keyEncryptionKey": {
                            "keyUrl": "https://myvmvault.vault-int.azure-int.net/keys/{key}",
                            "sourceVault": {
                              "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                            }
                          }
                        }
                      ]
                    },
                    "osType": "Windows",
                    "provisioningState": "Succeeded",
                    "timeCreated": "2016-12-28 04:41:35.079872+00:00"
                  },
                  "type": "Microsoft.Compute/snapshots"
                }
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/SnapshotNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Snapshot"
                }
              }
            },
            "description": "OK"
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Snapshot"
                }
              }
            },
            "description": "Accepted"
          }
        },
        "tags": [
          "Snapshots"
        ],
        "description": "Updates (patches) a snapshot.",
        "operationId": "Snapshots_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SnapshotUpdate"
              }
            }
          },
          "description": "Snapshot object supplied in the body of the Patch snapshot operation.",
          "required": true
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/SnapshotNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Snapshot"
                }
              }
            },
            "description": "OK"
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Snapshot"
                }
              }
            },
            "description": "Accepted"
          }
        },
        "tags": [
          "Snapshots"
        ],
        "description": "Creates or updates a snapshot.",
        "operationId": "Snapshots_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Snapshot"
              }
            }
          },
          "description": "Snapshot object supplied in the body of the Put disk operation.",
          "required": true
        },
        "x-ms-examples": {
          "Create a snapshot by importing an unmanaged blob from a different subscription.": {
            "parameters": {
              "api-version": "2019-03-01",
              "resourceGroupName": "myResourceGroup",
              "snapshot": {
                "location": "West US",
                "properties": {
                  "creationData": {
                    "createOption": "Import",
                    "sourceUri": "https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd",
                    "storageAccountId": "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/myStorageAccount"
                  }
                }
              },
              "snapshotName": "mySnapshot1",
              "subscriptionId": "{subscription-id}"
            },
            "responses": {
              "200": {
                "body": {
                  "location": "West US",
                  "name": "mySnapshot1",
                  "properties": {
                    "creationData": {
                      "createOption": "Import",
                      "sourceUri": "https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd",
                      "storageAccountId": "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/myStorageAccount"
                    },
                    "provisioningState": "Updating"
                  }
                }
              },
              "202": {
                "body": {
                  "location": "West US",
                  "name": "mySnapshot1",
                  "properties": {
                    "creationData": {
                      "createOption": "Import",
                      "sourceUri": "https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd",
                      "storageAccountId": "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/myStorageAccount"
                    },
                    "provisioningState": "Updating"
                  }
                }
              }
            }
          },
          "Create a snapshot by importing an unmanaged blob from the same subscription.": {
            "parameters": {
              "api-version": "2019-03-01",
              "resourceGroupName": "myResourceGroup",
              "snapshot": {
                "location": "West US",
                "properties": {
                  "creationData": {
                    "createOption": "Import",
                    "sourceUri": "https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd"
                  }
                }
              },
              "snapshotName": "mySnapshot1",
              "subscriptionId": "{subscription-id}"
            },
            "responses": {
              "200": {
                "body": {
                  "location": "West US",
                  "name": "mySnapshot1",
                  "properties": {
                    "creationData": {
                      "createOption": "Import",
                      "sourceUri": "https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd"
                    },
                    "provisioningState": "Updating"
                  }
                }
              },
              "202": {
                "body": {
                  "location": "West US",
                  "name": "mySnapshot1",
                  "properties": {
                    "creationData": {
                      "createOption": "Import",
                      "sourceUri": "https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd"
                    },
                    "provisioningState": "Updating"
                  }
                }
              }
            }
          },
          "Create a snapshot from an existing snapshot in the same or a different subscription.": {
            "parameters": {
              "api-version": "2019-03-01",
              "resourceGroupName": "myResourceGroup",
              "snapshot": {
                "location": "West US",
                "properties": {
                  "creationData": {
                    "createOption": "Copy",
                    "sourceResourceId": "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot1"
                  }
                }
              },
              "snapshotName": "mySnapshot2",
              "subscriptionId": "{subscription-id}"
            },
            "responses": {
              "200": {
                "body": {
                  "location": "West US",
                  "name": "mySnapshot2",
                  "properties": {
                    "creationData": {
                      "createOption": "Copy",
                      "sourceResourceId": "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot1"
                    },
                    "provisioningState": "Updating"
                  }
                }
              },
              "202": {
                "body": {
                  "location": "West US",
                  "name": "mySnapshot2",
                  "properties": {
                    "creationData": {
                      "createOption": "Copy",
                      "sourceResourceId": "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot1"
                    },
                    "provisioningState": "Updating"
                  }
                }
              }
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/snapshots/{snapshotName}/beginGetAccess": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/SnapshotNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessUri"
                }
              }
            },
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          }
        },
        "tags": [
          "Snapshots"
        ],
        "description": "Grants access to a snapshot.",
        "operationId": "Snapshots_GrantAccess",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GrantAccessData"
              }
            }
          },
          "description": "Access data object supplied in the body of the get snapshot access operation.",
          "required": true
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/snapshots/{snapshotName}/endGetAccess": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/SnapshotNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          }
        },
        "tags": [
          "Snapshots"
        ],
        "description": "Revokes access to a snapshot.",
        "operationId": "Snapshots_RevokeAccess",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "Client Api Version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "DiskNameParameter": {
        "description": "The name of the managed disk that is being created. The name can't be changed after the disk is created. Supported characters for the name are a-z, A-Z, 0-9 and _. The maximum name length is 80 characters.",
        "in": "path",
        "name": "diskName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ResourceGroupNameParameter": {
        "description": "The name of the resource group.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SnapshotNameParameter": {
        "description": "The name of the snapshot that is being created. The name can't be changed after the snapshot is created. Supported characters for the name are a-z, A-Z, 0-9 and _. The max name length is 80 characters.",
        "in": "path",
        "name": "snapshotName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionIdParameter": {
        "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "AccessUri": {
        "description": "A disk access SAS uri.",
        "properties": {
          "accessSAS": {
            "description": "A SAS uri for accessing a disk.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "CreationData": {
        "description": "Data used when creating a disk.",
        "properties": {
          "createOption": {
            "description": "This enumerates the possible sources of a disk's creation.",
            "enum": [
              "Empty",
              "Attach",
              "FromImage",
              "Import",
              "Copy",
              "Restore",
              "Upload"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "DiskCreateOption",
              "values": [
                {
                  "description": "Create an empty data disk of a size given by diskSizeGB.",
                  "value": "Empty"
                },
                {
                  "description": "Disk will be attached to a VM.",
                  "value": "Attach"
                },
                {
                  "description": "Create a new disk from a platform image specified by the given imageReference.",
                  "value": "FromImage"
                },
                {
                  "description": "Create a disk by importing from a blob specified by a sourceUri in a storage account specified by storageAccountId.",
                  "value": "Import"
                },
                {
                  "description": "Create a new disk or snapshot by copying from a disk or snapshot specified by the given sourceResourceId.",
                  "value": "Copy"
                },
                {
                  "description": "Create a new disk by copying from a backup recovery point.",
                  "value": "Restore"
                },
                {
                  "description": "Create a new disk by obtaining a write token and using it to directly upload the contents of the disk.",
                  "value": "Upload"
                }
              ]
            }
          },
          "imageReference": {
            "$ref": "#/components/schemas/ImageDiskReference",
            "description": "Disk source information."
          },
          "sourceResourceId": {
            "description": "If createOption is Copy, this is the ARM id of the source snapshot or disk.",
            "type": "string"
          },
          "sourceUniqueId": {
            "description": "If this field is set, this is the unique id identifying the source of this resource.",
            "readOnly": true,
            "type": "string"
          },
          "sourceUri": {
            "description": "If createOption is Import, this is the URI of a blob to be imported into a managed disk.",
            "type": "string"
          },
          "storageAccountId": {
            "description": "If createOption is Import, the Azure Resource Manager identifier of the storage account containing the blob to import as a disk. Required only if the blob is in a different subscription",
            "type": "string"
          },
          "uploadSizeBytes": {
            "description": "If createOption is Upload, this is the size of the contents of the upload including the VHD footer. This value should be between 20972032 (20 MiB + 512 bytes for the VHD footer) and 35183298347520 bytes (32 TiB + 512 bytes for the VHD footer).",
            "format": "int64",
            "type": "integer"
          }
        },
        "required": [
          "createOption"
        ],
        "type": "object"
      },
      "Disk": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Disk resource.",
        "properties": {
          "managedBy": {
            "description": "A relative URI containing the ID of the VM that has the disk attached.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/DiskProperties",
            "x-ms-client-flatten": true
          },
          "sku": {
            "$ref": "#/components/schemas/DiskSku"
          },
          "zones": {
            "description": "The Logical zone list for Disk.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "DiskList": {
        "description": "The List Disks operation response.",
        "properties": {
          "nextLink": {
            "description": "The uri to fetch the next page of disks. Call ListNext() with this to fetch the next page of disks.",
            "type": "string"
          },
          "value": {
            "description": "A list of disks.",
            "items": {
              "$ref": "#/components/schemas/Disk"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "DiskProperties": {
        "description": "Disk resource properties.",
        "properties": {
          "creationData": {
            "$ref": "#/components/schemas/CreationData",
            "description": "Disk source information. CreationData information cannot be changed after the disk has been created."
          },
          "diskIOPSReadWrite": {
            "description": "The number of IOPS allowed for this disk; only settable for UltraSSD disks. One operation can transfer between 4k and 256k bytes.",
            "format": "int64",
            "type": "integer"
          },
          "diskMBpsReadWrite": {
            "description": "The bandwidth allowed for this disk; only settable for UltraSSD disks. MBps means millions of bytes per second - MB here uses the ISO notation, of powers of 10.",
            "format": "int32",
            "type": "integer"
          },
          "diskSizeBytes": {
            "description": "The size of the disk in bytes. This field is read only.",
            "format": "int64",
            "readOnly": true,
            "type": "integer"
          },
          "diskSizeGB": {
            "description": "If creationData.createOption is Empty, this field is mandatory and it indicates the size of the disk to create. If this field is present for updates or creation with other options, it indicates a resize. Resizes are only allowed if the disk is not attached to a running VM, and can only increase the disk's size.",
            "format": "int32",
            "type": "integer"
          },
          "diskState": {
            "description": "The state of the disk.",
            "enum": [
              "Unattached",
              "Attached",
              "Reserved",
              "ActiveSAS",
              "ReadyToUpload",
              "ActiveUpload"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "DiskState",
              "values": [
                {
                  "description": "The disk is not being used and can be attached to a VM.",
                  "value": "Unattached"
                },
                {
                  "description": "The disk is currently mounted to a running VM.",
                  "value": "Attached"
                },
                {
                  "description": "The disk is mounted to a stopped-deallocated VM",
                  "value": "Reserved"
                },
                {
                  "description": "The disk currently has an Active SAS Uri associated with it.",
                  "value": "ActiveSAS"
                },
                {
                  "description": "A disk is ready to be created by upload by requesting a write token.",
                  "value": "ReadyToUpload"
                },
                {
                  "description": "A disk is created for upload and a write token has been issued for uploading to it.",
                  "value": "ActiveUpload"
                }
              ]
            }
          },
          "encryptionSettingsCollection": {
            "$ref": "#/components/schemas/EncryptionSettingsCollection",
            "description": "Encryption settings collection used for Azure Disk Encryption, can contain multiple encryption settings per disk or snapshot."
          },
          "hyperVGeneration": {
            "description": "The hypervisor generation of the Virtual Machine. Applicable to OS disks only.",
            "enum": [
              "V1",
              "V2"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "HyperVGeneration"
            }
          },
          "osType": {
            "description": "The Operating System type.",
            "enum": [
              "Windows",
              "Linux"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "OperatingSystemTypes"
            }
          },
          "provisioningState": {
            "description": "The disk provisioning state.",
            "readOnly": true,
            "type": "string"
          },
          "timeCreated": {
            "description": "The time when the disk was created.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "uniqueId": {
            "description": "Unique Guid identifying the resource.",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "creationData"
        ],
        "type": "object"
      },
      "DiskSku": {
        "description": "The disks sku name. Can be Standard_LRS, Premium_LRS, StandardSSD_LRS, or UltraSSD_LRS.",
        "properties": {
          "name": {
            "description": "The sku name.",
            "enum": [
              "Standard_LRS",
              "Premium_LRS",
              "StandardSSD_LRS",
              "UltraSSD_LRS"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "DiskStorageAccountTypes",
              "values": [
                {
                  "description": "Standard HDD locally redundant storage. Best for backup, non-critical, and infrequent access.",
                  "value": "Standard_LRS"
                },
                {
                  "description": "Premium SSD locally redundant storage. Best for production and performance sensitive workloads.",
                  "value": "Premium_LRS"
                },
                {
                  "description": "Standard SSD locally redundant storage. Best for web servers, lightly used enterprise applications and dev/test.",
                  "value": "StandardSSD_LRS"
                },
                {
                  "description": "Ultra SSD locally redundant storage. Best for IO-intensive workloads such as SAP HANA, top tier databases (for example, SQL, Oracle), and other transaction-heavy workloads.",
                  "value": "UltraSSD_LRS"
                }
              ]
            }
          },
          "tier": {
            "description": "The sku tier.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "DiskUpdate": {
        "description": "Disk update resource.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags",
            "type": "object"
          },
          "properties": {
            "$ref": "#/components/schemas/DiskUpdateProperties",
            "x-ms-client-flatten": true
          },
          "sku": {
            "$ref": "#/components/schemas/DiskSku"
          }
        },
        "type": "object"
      },
      "DiskUpdateProperties": {
        "description": "Disk resource update properties.",
        "properties": {
          "diskIOPSReadWrite": {
            "description": "The number of IOPS allowed for this disk; only settable for UltraSSD disks. One operation can transfer between 4k and 256k bytes.",
            "format": "int64",
            "type": "integer"
          },
          "diskMBpsReadWrite": {
            "description": "The bandwidth allowed for this disk; only settable for UltraSSD disks. MBps means millions of bytes per second - MB here uses the ISO notation, of powers of 10.",
            "format": "int32",
            "type": "integer"
          },
          "diskSizeGB": {
            "description": "If creationData.createOption is Empty, this field is mandatory and it indicates the size of the disk to create. If this field is present for updates or creation with other options, it indicates a resize. Resizes are only allowed if the disk is not attached to a running VM, and can only increase the disk's size.",
            "format": "int32",
            "type": "integer"
          },
          "encryptionSettingsCollection": {
            "$ref": "#/components/schemas/EncryptionSettingsCollection",
            "description": "Encryption settings collection used be Azure Disk Encryption, can contain multiple encryption settings per disk or snapshot."
          },
          "osType": {
            "description": "the Operating System type.",
            "enum": [
              "Windows",
              "Linux"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "OperatingSystemTypes"
            }
          }
        },
        "type": "object"
      },
      "EncryptionSettingsCollection": {
        "description": "Encryption settings for disk or snapshot",
        "properties": {
          "enabled": {
            "description": "Set this flag to true and provide DiskEncryptionKey and optional KeyEncryptionKey to enable encryption. Set this flag to false and remove DiskEncryptionKey and KeyEncryptionKey to disable encryption. If EncryptionSettings is null in the request object, the existing settings remain unchanged.",
            "type": "boolean"
          },
          "encryptionSettings": {
            "description": "A collection of encryption settings, one for each disk volume.",
            "items": {
              "$ref": "#/components/schemas/EncryptionSettingsElement"
            },
            "type": "array"
          },
          "encryptionSettingsVersion": {
            "description": "Describes what type of encryption is used for the disks. Once this field is set, it cannot be overwritten. '1.0' corresponds to Azure Disk Encryption with AAD app.'1.1' corresponds to Azure Disk Encryption.",
            "type": "string"
          }
        },
        "required": [
          "enabled"
        ],
        "type": "object"
      },
      "EncryptionSettingsElement": {
        "description": "Encryption settings for one disk volume.",
        "properties": {
          "diskEncryptionKey": {
            "$ref": "#/components/schemas/KeyVaultAndSecretReference",
            "description": "Key Vault Secret Url and vault id of the disk encryption key"
          },
          "keyEncryptionKey": {
            "$ref": "#/components/schemas/KeyVaultAndKeyReference",
            "description": "Key Vault Key Url and vault id of the key encryption key. KeyEncryptionKey is optional and when provided is used to unwrap the disk encryption key."
          }
        },
        "type": "object"
      },
      "GrantAccessData": {
        "description": "Data used for requesting a SAS.",
        "properties": {
          "access": {
            "enum": [
              "None",
              "Read",
              "Write"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "AccessLevel"
            }
          },
          "durationInSeconds": {
            "description": "Time duration in seconds until the SAS access expires.",
            "format": "int32",
            "type": "integer"
          }
        },
        "required": [
          "access",
          "durationInSeconds"
        ],
        "type": "object"
      },
      "ImageDiskReference": {
        "description": "The source image used for creating the disk.",
        "properties": {
          "id": {
            "description": "A relative uri containing either a Platform Image Repository or user image reference.",
            "type": "string"
          },
          "lun": {
            "description": "If the disk is created from an image's data disk, this is an index that indicates which of the data disks in the image to use. For OS disks, this field is null.",
            "format": "int32",
            "type": "integer"
          }
        },
        "required": [
          "id"
        ],
        "type": "object"
      },
      "KeyVaultAndKeyReference": {
        "description": "Key Vault Key Url and vault id of KeK, KeK is optional and when provided is used to unwrap the encryptionKey",
        "properties": {
          "keyUrl": {
            "description": "Url pointing to a key or secret in KeyVault",
            "type": "string"
          },
          "sourceVault": {
            "$ref": "#/components/schemas/SourceVault",
            "description": "Resource id of the KeyVault containing the key or secret"
          }
        },
        "required": [
          "keyUrl",
          "sourceVault"
        ],
        "type": "object"
      },
      "KeyVaultAndSecretReference": {
        "description": "Key Vault Secret Url and vault id of the encryption key ",
        "properties": {
          "secretUrl": {
            "description": "Url pointing to a key or secret in KeyVault",
            "type": "string"
          },
          "sourceVault": {
            "$ref": "#/components/schemas/SourceVault",
            "description": "Resource id of the KeyVault containing the key or secret"
          }
        },
        "required": [
          "secretUrl",
          "sourceVault"
        ],
        "type": "object"
      },
      "Resource": {
        "description": "The Resource model definition.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags",
            "type": "object"
          },
          "id": {
            "description": "Resource Id",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Resource location",
            "type": "string"
          },
          "name": {
            "description": "Resource name",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Resource type",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "location"
        ],
        "type": "object",
        "x-ms-azure-resource": true
      },
      "Snapshot": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Snapshot resource.",
        "properties": {
          "managedBy": {
            "description": "Unused. Always Null.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/SnapshotProperties",
            "x-ms-client-flatten": true
          },
          "sku": {
            "$ref": "#/components/schemas/SnapshotSku"
          }
        },
        "type": "object"
      },
      "SnapshotList": {
        "description": "The List Snapshots operation response.",
        "properties": {
          "nextLink": {
            "description": "The uri to fetch the next page of snapshots. Call ListNext() with this to fetch the next page of snapshots.",
            "type": "string"
          },
          "value": {
            "description": "A list of snapshots.",
            "items": {
              "$ref": "#/components/schemas/Snapshot"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "SnapshotProperties": {
        "description": "Snapshot resource properties.",
        "properties": {
          "creationData": {
            "$ref": "#/components/schemas/CreationData",
            "description": "Disk source information. CreationData information cannot be changed after the disk has been created."
          },
          "diskSizeBytes": {
            "description": "The size of the disk in bytes. This field is read only.",
            "format": "int64",
            "readOnly": true,
            "type": "integer"
          },
          "diskSizeGB": {
            "description": "If creationData.createOption is Empty, this field is mandatory and it indicates the size of the disk to create. If this field is present for updates or creation with other options, it indicates a resize. Resizes are only allowed if the disk is not attached to a running VM, and can only increase the disk's size.",
            "format": "int32",
            "type": "integer"
          },
          "encryptionSettingsCollection": {
            "$ref": "#/components/schemas/EncryptionSettingsCollection",
            "description": "Encryption settings collection used be Azure Disk Encryption, can contain multiple encryption settings per disk or snapshot."
          },
          "hyperVGeneration": {
            "description": "The hypervisor generation of the Virtual Machine. Applicable to OS disks only.",
            "enum": [
              "V1",
              "V2"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "HyperVGeneration"
            }
          },
          "incremental": {
            "description": "Whether a snapshot is incremental. Incremental snapshots on the same disk occupy less space than full snapshots and can be diffed.",
            "type": "boolean"
          },
          "osType": {
            "description": "The Operating System type.",
            "enum": [
              "Windows",
              "Linux"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "OperatingSystemTypes"
            }
          },
          "provisioningState": {
            "description": "The disk provisioning state.",
            "readOnly": true,
            "type": "string"
          },
          "timeCreated": {
            "description": "The time when the disk was created.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "uniqueId": {
            "description": "Unique Guid identifying the resource.",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "creationData"
        ],
        "type": "object"
      },
      "SnapshotSku": {
        "description": "The snapshots sku name. Can be Standard_LRS, Premium_LRS, or Standard_ZRS.",
        "properties": {
          "name": {
            "description": "The sku name.",
            "enum": [
              "Standard_LRS",
              "Premium_LRS",
              "Standard_ZRS"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "SnapshotStorageAccountTypes",
              "values": [
                {
                  "description": "Standard HDD locally redundant storage",
                  "value": "Standard_LRS"
                },
                {
                  "description": "Premium SSD locally redundant storage",
                  "value": "Premium_LRS"
                },
                {
                  "description": "Standard zone redundant storage",
                  "value": "Standard_ZRS"
                }
              ]
            }
          },
          "tier": {
            "description": "The sku tier.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "SnapshotUpdate": {
        "description": "Snapshot update resource.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags",
            "type": "object"
          },
          "properties": {
            "$ref": "#/components/schemas/SnapshotUpdateProperties",
            "x-ms-client-flatten": true
          },
          "sku": {
            "$ref": "#/components/schemas/SnapshotSku"
          }
        },
        "type": "object"
      },
      "SnapshotUpdateProperties": {
        "description": "Snapshot resource update properties.",
        "properties": {
          "diskSizeGB": {
            "description": "If creationData.createOption is Empty, this field is mandatory and it indicates the size of the disk to create. If this field is present for updates or creation with other options, it indicates a resize. Resizes are only allowed if the disk is not attached to a running VM, and can only increase the disk's size.",
            "format": "int32",
            "type": "integer"
          },
          "encryptionSettingsCollection": {
            "$ref": "#/components/schemas/EncryptionSettingsCollection",
            "description": "Encryption settings collection used be Azure Disk Encryption, can contain multiple encryption settings per disk or snapshot."
          },
          "osType": {
            "description": "the Operating System type.",
            "enum": [
              "Windows",
              "Linux"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "OperatingSystemTypes"
            }
          }
        },
        "type": "object"
      },
      "SourceVault": {
        "description": "The vault id is an Azure Resource Manager Resource id in the form /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}",
        "properties": {
          "id": {
            "description": "Resource Id",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "tags": [
    {
      "name": "Subscriptions"
    }
  ]
}