{
  "openapi": "3.0.3",
  "info": {
    "title": "South Pole Emissions API",
    "description": "South Pole API for calculating carbon emissions from flights, hotels, and freight transport distances. Provides emissions calculation and distance measurement services.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.api.southpole.com/"
  },
  "servers": [
    {
      "url": "https://api.southpole.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/token": {
      "post": {
        "operationId": "getaccesstoken",
        "summary": "Get access token",
        "description": "Authenticate and retrieve a JWT access token. Tokens expire after 55 seconds.",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "string",
                    "description": "OAuth2 client ID"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "OAuth2 client secret"
                  },
                  "grant_type": {
                    "type": "string",
                    "description": "OAuth2 grant type",
                    "example": "client_credentials"
                  }
                },
                "required": [
                  "client_id",
                  "client_secret",
                  "grant_type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/calculateflightemissions": {
      "post": {
        "operationId": "calculateflightemissionsv1",
        "summary": "Calculate flight emissions (v1)",
        "description": "Calculate CO2 emissions for flights based on origin, destination, and cabin class.",
        "tags": [
          "Emissions Calculations"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlightEmissionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Emissions calculation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmissionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/calculateflightsemissionsrdc": {
      "post": {
        "operationId": "calculateflightemissionsv2",
        "summary": "Calculate flight emissions (v2)",
        "description": "Calculate CO2 emissions for flights with improved methodology and descriptions.",
        "tags": [
          "Emissions Calculations"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlightEmissionsRequestV2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Emissions calculation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmissionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/calculatehotelsemissions": {
      "post": {
        "operationId": "calculatehotelemissions",
        "summary": "Calculate hotel emissions",
        "description": "Calculate CO2 emissions for hotel stays based on location, nights, and hotel rating.",
        "tags": [
          "Emissions Calculations"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HotelEmissionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Emissions calculation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmissionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/createseadistancerequest": {
      "post": {
        "operationId": "createseadistancerequest",
        "summary": "Create sea distance request",
        "description": "Submit a request to calculate maritime freight distance.",
        "tags": [
          "Distance Calculations"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DistanceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Distance request created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistanceRequestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/getseadistanceresponse": {
      "get": {
        "operationId": "getseadistanceresponse",
        "summary": "Get sea distance response",
        "description": "Retrieve the result of a sea distance calculation request.",
        "tags": [
          "Distance Calculations"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the distance request"
          }
        ],
        "responses": {
          "200": {
            "description": "Distance calculation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Request not found"
          }
        }
      }
    },
    "/createraildistancerequest": {
      "post": {
        "operationId": "createraildistancerequest",
        "summary": "Create rail distance request",
        "description": "Submit a request to calculate rail freight distance.",
        "tags": [
          "Distance Calculations"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DistanceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Distance request created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistanceRequestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/getraildistanceresponse": {
      "get": {
        "operationId": "getraildistanceresponse",
        "summary": "Get rail distance response",
        "description": "Retrieve the result of a rail distance calculation request.",
        "tags": [
          "Distance Calculations"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the distance request"
          }
        ],
        "responses": {
          "200": {
            "description": "Distance calculation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Request not found"
          }
        }
      }
    },
    "/createroaddistancerequest": {
      "post": {
        "operationId": "createroaddistancerequest",
        "summary": "Create road distance request",
        "description": "Submit a request to calculate road freight distance.",
        "tags": [
          "Distance Calculations"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DistanceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Distance request created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistanceRequestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/getroaddistanceresponse": {
      "get": {
        "operationId": "getroaddistanceresponse",
        "summary": "Get road distance response",
        "description": "Retrieve the result of a road distance calculation request.",
        "tags": [
          "Distance Calculations"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the distance request"
          }
        ],
        "responses": {
          "200": {
            "description": "Distance calculation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Request not found"
          }
        }
      }
    },
    "/createairdistancerequest": {
      "post": {
        "operationId": "createairdistancerequest",
        "summary": "Create air distance request",
        "description": "Submit a request to calculate air freight distance.",
        "tags": [
          "Distance Calculations"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DistanceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Distance request created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistanceRequestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/getairdistanceresponse": {
      "get": {
        "operationId": "getairdistanceresponse",
        "summary": "Get air distance response",
        "description": "Retrieve the result of an air distance calculation request.",
        "tags": [
          "Distance Calculations"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the distance request"
          }
        ],
        "responses": {
          "200": {
            "description": "Distance calculation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Request not found"
          }
        }
      }
    },
    "/getairports": {
      "get": {
        "operationId": "getairports",
        "summary": "Get airports",
        "description": "Retrieve the database of airports with their codes and locations.",
        "tags": [
          "Location Datasets"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of airports",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirportsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/getlocodes": {
      "get": {
        "operationId": "getlocodes",
        "summary": "Get location codes",
        "description": "Retrieve the database of UN/LOCODE location codes.",
        "tags": [
          "Location Datasets"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of location codes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocodesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT Bearer token obtained from the /token endpoint. Tokens expire after 55 seconds."
      },
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://api.southpole.com/token",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "JWT access token"
          },
          "token_type": {
            "type": "string",
            "description": "Token type",
            "example": "Bearer"
          },
          "expires_in": {
            "type": "integer",
            "description": "Token expiration time in seconds",
            "example": 55
          }
        }
      },
      "FlightEmissionsRequest": {
        "type": "object",
        "properties": {
          "origin": {
            "type": "string",
            "description": "Origin airport IATA code",
            "example": "LHR"
          },
          "destination": {
            "type": "string",
            "description": "Destination airport IATA code",
            "example": "JFK"
          },
          "cabin_class": {
            "type": "string",
            "description": "Cabin class",
            "enum": [
              "economy",
              "premium_economy",
              "business",
              "first"
            ]
          }
        },
        "required": [
          "origin",
          "destination"
        ]
      },
      "FlightEmissionsRequestV2": {
        "type": "object",
        "properties": {
          "origin": {
            "type": "string",
            "description": "Origin airport IATA code",
            "example": "LHR"
          },
          "destination": {
            "type": "string",
            "description": "Destination airport IATA code",
            "example": "JFK"
          },
          "cabin_class": {
            "type": "string",
            "description": "Cabin class",
            "enum": [
              "economy",
              "premium_economy",
              "business",
              "first"
            ]
          },
          "round_trip": {
            "type": "boolean",
            "description": "Whether the flight is a round trip"
          },
          "number_of_passengers": {
            "type": "integer",
            "description": "Number of passengers",
            "minimum": 1
          }
        },
        "required": [
          "origin",
          "destination"
        ]
      },
      "HotelEmissionsRequest": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string",
            "description": "Country of the hotel"
          },
          "city": {
            "type": "string",
            "description": "City of the hotel"
          },
          "nights": {
            "type": "integer",
            "description": "Number of nights stayed",
            "minimum": 1
          },
          "rating": {
            "type": "integer",
            "description": "Hotel star rating",
            "minimum": 1,
            "maximum": 5
          }
        },
        "required": [
          "country",
          "nights"
        ]
      },
      "EmissionsResponse": {
        "type": "object",
        "properties": {
          "co2_kg": {
            "type": "number",
            "format": "double",
            "description": "CO2 emissions in kilograms"
          },
          "co2_tonnes": {
            "type": "number",
            "format": "double",
            "description": "CO2 emissions in tonnes"
          },
          "methodology": {
            "type": "string",
            "description": "Description of the calculation methodology used"
          }
        }
      },
      "DistanceRequest": {
        "type": "object",
        "properties": {
          "origin": {
            "type": "string",
            "description": "Origin location code"
          },
          "destination": {
            "type": "string",
            "description": "Destination location code"
          }
        },
        "required": [
          "origin",
          "destination"
        ]
      },
      "DistanceRequestResponse": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the distance calculation request"
          },
          "status": {
            "type": "string",
            "description": "Status of the request"
          }
        }
      },
      "DistanceResponse": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the distance request"
          },
          "distance_km": {
            "type": "number",
            "format": "double",
            "description": "Calculated distance in kilometers"
          },
          "origin": {
            "type": "string",
            "description": "Origin location"
          },
          "destination": {
            "type": "string",
            "description": "Destination location"
          },
          "status": {
            "type": "string",
            "description": "Status of the calculation"
          }
        }
      },
      "AirportsResponse": {
        "type": "object",
        "properties": {
          "airports": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Airport"
            }
          }
        }
      },
      "Airport": {
        "type": "object",
        "properties": {
          "iata_code": {
            "type": "string",
            "description": "IATA airport code"
          },
          "name": {
            "type": "string",
            "description": "Airport name"
          },
          "city": {
            "type": "string",
            "description": "City name"
          },
          "country": {
            "type": "string",
            "description": "Country name"
          }
        }
      },
      "LocodesResponse": {
        "type": "object",
        "properties": {
          "locodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Locode"
            }
          }
        }
      },
      "Locode": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "UN/LOCODE location code"
          },
          "name": {
            "type": "string",
            "description": "Location name"
          },
          "country": {
            "type": "string",
            "description": "Country code"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "status": {
                "type": "integer",
                "description": "HTTP status code"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Token management"
    },
    {
      "name": "Emissions Calculations",
      "description": "Calculate carbon emissions for flights and hotels"
    },
    {
      "name": "Distance Calculations",
      "description": "Calculate freight transport distances by sea, rail, road, and air"
    },
    {
      "name": "Location Datasets",
      "description": "Retrieve airport and location code datasets"
    }
  ]
}