{
  "openapi": "3.0.3",
  "info": {
    "title": "Warrant API",
    "description": "Warrant (now part of WorkOS) provides a Fine-Grained Authorization (FGA) API for managing resources, role assignments, and access checks. It supports hierarchical permission inheritance, sub-50ms p95 access checks, and strong consistency.",
    "version": "1.0.0",
    "contact": {
      "name": "Warrant / WorkOS",
      "url": "https://warrant.dev"
    }
  },
  "servers": [
    {
      "url": "https://api.workos.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/authorization/resources": {
      "get": {
        "operationId": "listResources",
        "summary": "List resources",
        "description": "List authorization resources with optional filtering by organization, resource type, or parent resource.",
        "tags": ["Resources"],
        "parameters": [
          {
            "name": "organization_id",
            "in": "query",
            "description": "Filter by organization ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resource_type_slug",
            "in": "query",
            "description": "Filter by resource type slug",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parent_resource_id",
            "in": "query",
            "description": "Filter by parent resource ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parent_resource_type_slug",
            "in": "query",
            "description": "Filter by parent resource type slug",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parent_external_id",
            "in": "query",
            "description": "Filter by parent external ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term to filter resources",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default 10, max 100)",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc", "normal"]
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Pagination cursor for previous page",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Pagination cursor for next page",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of resources",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createResource",
        "summary": "Create a resource",
        "description": "Create a new authorization resource. Resources represent entities in your application such as workspaces, projects, or apps.",
        "tags": ["Resources"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateResourceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Resource already exists"
          }
        }
      }
    },
    "/authorization/resources/{resource_id}": {
      "get": {
        "operationId": "getResource",
        "summary": "Get a resource by ID",
        "description": "Retrieve a single authorization resource by its internal ID.",
        "tags": ["Resources"],
        "parameters": [
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "description": "The internal resource ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "patch": {
        "operationId": "updateResource",
        "summary": "Update a resource by ID",
        "description": "Update an existing authorization resource.",
        "tags": ["Resources"],
        "parameters": [
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "description": "The internal resource ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateResourceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resource updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteResource",
        "summary": "Delete a resource by ID",
        "description": "Delete an authorization resource. Optionally cascade delete child resources.",
        "tags": ["Resources"],
        "parameters": [
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "description": "The internal resource ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cascade_delete",
            "in": "query",
            "description": "If true, also delete child resources",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Resource deleted successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/authorization/organizations/{organization_id}/resources/{resource_type_slug}/{external_id}": {
      "get": {
        "operationId": "getResourceByExternalId",
        "summary": "Get a resource by external ID",
        "description": "Retrieve a single authorization resource by its external ID within an organization and resource type.",
        "tags": ["Resources"],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resource_type_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "external_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "patch": {
        "operationId": "updateResourceByExternalId",
        "summary": "Update a resource by external ID",
        "description": "Update an existing authorization resource by its external ID.",
        "tags": ["Resources"],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resource_type_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "external_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateResourceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resource updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteResourceByExternalId",
        "summary": "Delete a resource by external ID",
        "description": "Delete an authorization resource by its external ID.",
        "tags": ["Resources"],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resource_type_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "external_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cascade_delete",
            "in": "query",
            "description": "If true, also delete child resources",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Resource deleted successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/authorization/organization_memberships/{organization_membership_id}/role_assignments": {
      "get": {
        "operationId": "listRoleAssignments",
        "summary": "List role assignments",
        "description": "List all role assignments for an organization membership.",
        "tags": ["Role Assignments"],
        "parameters": [
          {
            "name": "organization_membership_id",
            "in": "path",
            "required": true,
            "description": "The organization membership ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (default 10, max 100)",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Pagination cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Pagination cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of role assignments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleAssignmentList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "assignRole",
        "summary": "Assign a role",
        "description": "Assign a role to an organization membership, optionally scoped to a specific resource.",
        "tags": ["Role Assignments"],
        "parameters": [
          {
            "name": "organization_membership_id",
            "in": "path",
            "required": true,
            "description": "The organization membership ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignRoleRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Role assigned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleAssignment"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "removeRoleAssignmentBySlug",
        "summary": "Remove role assignment by slug and resource",
        "description": "Remove a role assignment by specifying the role slug and optionally the resource.",
        "tags": ["Role Assignments"],
        "parameters": [
          {
            "name": "organization_membership_id",
            "in": "path",
            "required": true,
            "description": "The organization membership ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveRoleBySlugRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Role assignment removed"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Role assignment not found"
          }
        }
      }
    },
    "/authorization/organization_memberships/{organization_membership_id}/role_assignments/{role_assignment_id}": {
      "delete": {
        "operationId": "removeRoleAssignment",
        "summary": "Remove role assignment by ID",
        "description": "Remove a specific role assignment by its ID.",
        "tags": ["Role Assignments"],
        "parameters": [
          {
            "name": "organization_membership_id",
            "in": "path",
            "required": true,
            "description": "The organization membership ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role_assignment_id",
            "in": "path",
            "required": true,
            "description": "The role assignment ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Role assignment removed"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Role assignment not found"
          }
        }
      }
    },
    "/authorization/organization_memberships/{organization_membership_id}/check": {
      "post": {
        "operationId": "checkAuthorization",
        "summary": "Check authorization",
        "description": "Check if an organization membership has a specific permission on a resource.",
        "tags": ["Access Checks"],
        "parameters": [
          {
            "name": "organization_membership_id",
            "in": "path",
            "required": true,
            "description": "The organization membership ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckAuthorizationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authorization check result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckAuthorizationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/authorization/organization_memberships/{organization_membership_id}/resources": {
      "get": {
        "operationId": "listResourcesForMembership",
        "summary": "List resources for organization membership",
        "description": "List all resources that an organization membership has a specific permission on.",
        "tags": ["Access Checks"],
        "parameters": [
          {
            "name": "organization_membership_id",
            "in": "path",
            "required": true,
            "description": "The organization membership ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "permission_slug",
            "in": "query",
            "required": true,
            "description": "The permission to check",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parent_resource_id",
            "in": "query",
            "description": "Filter by parent resource ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parent_resource_external_id",
            "in": "query",
            "description": "Filter by parent resource external ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parent_resource_type_slug",
            "in": "query",
            "description": "Filter by parent resource type slug",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc", "normal"]
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of resources the membership can access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/authorization/resources/{resource_id}/organization_memberships": {
      "get": {
        "operationId": "listMembershipsForResource",
        "summary": "List memberships for resource",
        "description": "List all organization memberships that have a specific permission on a resource.",
        "tags": ["Access Checks"],
        "parameters": [
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "description": "The resource ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "permission_slug",
            "in": "query",
            "required": true,
            "description": "The permission to check",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assignment",
            "in": "query",
            "description": "Filter by assignment type",
            "schema": {
              "type": "string",
              "enum": ["direct", "indirect"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc", "normal"]
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of organization memberships with access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MembershipList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/authorization/organizations/{organization_id}/resources/{resource_type_slug}/{external_id}/organization_memberships": {
      "get": {
        "operationId": "listMembershipsForResourceByExternalId",
        "summary": "List memberships for resource by external ID",
        "description": "List all organization memberships that have a specific permission on a resource identified by external ID.",
        "tags": ["Access Checks"],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resource_type_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "external_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "permission_slug",
            "in": "query",
            "required": true,
            "description": "The permission to check",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assignment",
            "in": "query",
            "description": "Filter by assignment type",
            "schema": {
              "type": "string",
              "enum": ["direct", "indirect"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc", "normal"]
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of organization memberships with access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MembershipList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication using your WorkOS API secret key"
      }
    },
    "schemas": {
      "Resource": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "authorization_resource"
          },
          "id": {
            "type": "string",
            "description": "Internal resource ID"
          },
          "external_id": {
            "type": "string",
            "description": "External resource ID, unique within organization and type"
          },
          "name": {
            "type": "string",
            "description": "Human-readable resource name"
          },
          "description": {
            "type": "string",
            "description": "Resource description"
          },
          "resource_type_slug": {
            "type": "string",
            "description": "The resource type identifier"
          },
          "parent_resource_id": {
            "type": "string",
            "description": "ID of the parent resource"
          },
          "organization_id": {
            "type": "string",
            "description": "Organization the resource belongs to"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateResourceRequest": {
        "type": "object",
        "required": ["external_id", "name", "resource_type_slug", "organization_id"],
        "properties": {
          "external_id": {
            "type": "string",
            "description": "External ID, unique within organization and resource type"
          },
          "name": {
            "type": "string",
            "description": "Human-readable resource name"
          },
          "description": {
            "type": "string",
            "description": "Optional resource description"
          },
          "resource_type_slug": {
            "type": "string",
            "description": "The resource type slug"
          },
          "organization_id": {
            "type": "string",
            "description": "Organization ID"
          },
          "parent_resource_id": {
            "type": "string",
            "description": "Optional parent resource ID for hierarchical permissions"
          },
          "parent_resource_external_id": {
            "type": "string",
            "description": "Optional parent resource external ID"
          },
          "parent_resource_type_slug": {
            "type": "string",
            "description": "Optional parent resource type slug"
          }
        }
      },
      "UpdateResourceRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "parent_resource_id": {
            "type": "string"
          },
          "parent_resource_external_id": {
            "type": "string"
          },
          "parent_resource_type_slug": {
            "type": "string"
          }
        }
      },
      "ResourceList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "list"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Resource"
            }
          },
          "list_metadata": {
            "$ref": "#/components/schemas/ListMetadata"
          }
        }
      },
      "RoleAssignment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "role": {
            "type": "object",
            "properties": {
              "slug": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "resource": {
            "$ref": "#/components/schemas/Resource"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AssignRoleRequest": {
        "type": "object",
        "required": ["role_slug"],
        "properties": {
          "role_slug": {
            "type": "string",
            "description": "The role identifier to assign"
          },
          "resource_id": {
            "type": "string",
            "description": "Optional resource ID to scope the role"
          },
          "resource_external_id": {
            "type": "string",
            "description": "Optional resource external ID to scope the role"
          },
          "resource_type_slug": {
            "type": "string",
            "description": "Optional resource type slug"
          }
        }
      },
      "RemoveRoleBySlugRequest": {
        "type": "object",
        "required": ["role_slug"],
        "properties": {
          "role_slug": {
            "type": "string"
          },
          "resource_id": {
            "type": "string"
          },
          "resource_external_id": {
            "type": "string"
          },
          "resource_type_slug": {
            "type": "string"
          }
        }
      },
      "RoleAssignmentList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "list"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoleAssignment"
            }
          },
          "list_metadata": {
            "$ref": "#/components/schemas/ListMetadata"
          }
        }
      },
      "CheckAuthorizationRequest": {
        "type": "object",
        "required": ["permission_slug"],
        "properties": {
          "permission_slug": {
            "type": "string",
            "description": "The permission to check"
          },
          "resource_id": {
            "type": "string",
            "description": "Resource ID to check against"
          },
          "resource_external_id": {
            "type": "string",
            "description": "Resource external ID to check against"
          },
          "resource_type_slug": {
            "type": "string",
            "description": "Resource type slug"
          }
        }
      },
      "CheckAuthorizationResponse": {
        "type": "object",
        "properties": {
          "authorized": {
            "type": "boolean",
            "description": "Whether the user is authorized"
          }
        }
      },
      "MembershipList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "list"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "user_id": {
                  "type": "string"
                },
                "organization_id": {
                  "type": "string"
                }
              }
            }
          },
          "list_metadata": {
            "$ref": "#/components/schemas/ListMetadata"
          }
        }
      },
      "ListMetadata": {
        "type": "object",
        "properties": {
          "before": {
            "type": "string",
            "description": "Cursor for the previous page"
          },
          "after": {
            "type": "string",
            "description": "Cursor for the next page"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Resources",
      "description": "Manage authorization resources"
    },
    {
      "name": "Role Assignments",
      "description": "Assign and manage roles on resources"
    },
    {
      "name": "Access Checks",
      "description": "Check authorization and list accessible resources"
    }
  ]
}