{
  "openapi": "3.0.3",
  "info": {
    "title": "VIN Decoder",
    "description": "Break down vehicle identification number into vehicle specification",
    "termsOfService": "https://vincario.com/terms-and-conditions/",
    "contact": {
      "name": "Vincario",
      "url": "https://vincario.com/",
      "email": "support@vincario.com"
    },
    "version": "3.2",
    "x-jentic-source-url": "https://vincario.com/api-docs/"
  },
  "externalDocs": {
    "description": "Vincario API Documentation",
    "url": "https://vincario.com/api-docs/3.2/"
  },
  "servers": [
    {
      "url": "https://api.vincario.com/"
    }
  ],
  "paths": {
    "/3.2/{API_KEY}/{CONTROL_SUM}/decode/info/{VIN}.{format}": {
      "get": {
        "operationId": "VIN_Decode_Info",
        "tags": [
          "VIN Decoder"
        ],
        "summary": "VIN Decode Info",
        "description": "VIN Decode Info returns an object with decode array of strings. Each string represents a 'variable' label that is available for given VIN when you do a 'VIN Decode' request. See <a href=\"https://vincario.com/api-docs/3.2/#model-VIN-Decode-Variable-Labels-List\">variable labels</a> that are returned here. This request is free.\n",
        "parameters": [
          {
            "name": "API_KEY",
            "in": "path",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CONTROL_SUM",
            "in": "path",
            "description": "The CONTROL_SUM for this endpoint is generated by taking the first 10 characters of the SHA1 hash of your VIN, the operation ID '<strong>info</strong>', API key, and secret key, concatenated in that order.<br/> <i>For instance</i>: <code>$controlSum = substr(sha1(\"{$vin}|info|{$apiKey}|{$secretKey}\"), 0, 10);</code><br/> For a complete guide, please refer to the <a href=\"https://vincario.com/api-docs/3.2/#api-how-to-create-a-request\">How to create a request</a>.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "VIN",
            "in": "path",
            "description": "Vehicle Identification Number",
            "required": true,
            "style": "simple",
            "schema": {
              "maxLength": 17,
              "minLength": 17,
              "type": "string"
            },
            "example": "XXXDEF1GH23456789"
          },
          {
            "name": "format",
            "in": "path",
            "description": "Response format (json or html)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response returns an object with decode array of strings. Each string represents a 'variable' label that is available for given VIN when you do a 'VIN Decode' request. See the <a href=\"https://vincario.com/api-docs/3.2/#model-VIN-Decode-Variable-Labels-List\">VIN Decode Variable Labels List</a> for a detailed list of variables, their data types, and examples.\n",
            "content": {
              "application/json": {
                "schema": {
                  "description": "<pre>{\n  <span>\"price\":</span> <b>float</b>,\n  <span>\"price_currency\":</span> <i>string</i>,\n  <span>\"decode\":</span> <b>string</b>[]\n}</pre>\n"
                },
                "examples": {
                  "Success response": {
                    "value": "{\"price\":0,\"price_currency\":\"USD\",\"decode\":[\"VIN\",\"Vehicle ID\",\"Make\",\"Manufacturer\",\"Plant Country\",\"Product Type\",\"Manufacturer Address\",\"Check Digit\",\"Valid Check Digit\",\"Check Digit Validity\",\"Sequential Number\",\"Body\",\"Engine Cylinders\",\"Engine Displacement (ccm)\",\"Number of Doors\",\"Engine Model\",\"Engine Power (kW)\",\"Fuel Type - Primary\",\"Model\",\"Model Year\",\"Plant City\",\"Series\",\"Transmission\",\"Engine (full)\",\"Number of Seats\",\"Engine Cylinders Position\",\"Drive\",\"Length (mm)\",\"Height (mm)\",\"Width (mm)\",\"Fuel System\",\"Engine Torque (RPM)\",\"Wheelbase (mm)\",\"Engine Position\",\"Fuel Capacity (l)\",\"Front Breaks\",\"Rear Breaks\",\"Valves per Cylinder\",\"Track Front (mm)\",\"Track Rear (mm)\",\"Max Speed (km/h)\",\"ABS\",\"Wheel Size\",\"Acceleration 0-100 km/h (s)\",\"Engine Compression Ratio\",\"Steering Type\",\"Engine Stroke (mm)\",\"Engine Cylinder Bore (mm)\",\"Minimum Trunk Capacity (l)\",\"Max Weight (kg)\",\"Production Stopped\",\"Production Started\",\"Front Suspension\",\"Rear Suspension\",\"Fuel Consumption Urban (l/100km)\",\"Fuel Consumption Extra Urban (l/100km)\",\"Fuel Consumption Combined (l/100km)\",\"Number of Gears\",\"Valve Train\",\"Power Steering\",\"Maximum Trunk Capacity (l)\",\"Wheel Rims Size\",\"Engine Turbine\",\"Minimum Turning Circle (m)\",\"Emission Standard\",\"CO2 Emission (g/km)\",\"Drag Coefficient\",\"Permitted trailer load without brakes (kg)\",\"Width including mirrors (mm)\",\"Max roof load (kg)\",\"Permitted towbar download (kg)\",\"Rear Overhang (mm)\",\"Front Overhang (mm)\",\"Permitted trailer load with brakes 8% (kg)\",\"Engine Oil Capacity (l)\",\"Engine Coolant (l)\",\"Engine Max Speed (rpm)\",\"Wheelbase Array (mm)\",\"Wheel Size Array\",\"Wheel Rims Size Array\",\"Price\",\"Odometer (km)\",\"Make Logo\"]}"
                  },
                  "When you use an incorrect API key": {
                    "value": "{\"error\":true,\"message\":\"Unknown API Key\"}"
                  },
                  "When you use an incorrect control sum": {
                    "value": "{\"error\":true,\"message\":\"Invalid Control sum\"}"
                  },
                  "When you run out of prepaid lookups": {
                    "value": "{\"error\":true,\"message\":\"Not Enough Lookups\"}"
                  },
                  "When you reach a limit of requests per minute": {
                    "value": "{\"error\":true,\"message\":\"You've reached limit of 60 requests per minute. Contact us at info@vincario.com for a customized limit.\"}"
                  },
                  "When VIN is not recognized": {
                    "value": "{\"error\":true,\"message\":\"Not recognized\"}"
                  },
                  "When VIN can't be decoded": {
                    "description": "##### **char**: VIN contains an invalid character (I, O, Q)\n\n##### **length**: VIN length is not 17 characters\n\n##### **invalid**: VIN is not valid",
                    "value": "{\"error\": true,\"message\": \"invalid\",\"reasons\": [\"char\",\"invalid\",\"length\"]}"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The route could not be found."
          },
          "500": {
            "description": "Unexpected internal errors."
          }
        }
      }
    },
    "/3.2/{API_KEY}/{CONTROL_SUM}/decode/{VIN}.{format}": {
      "get": {
        "operationId": "VIN_Decode",
        "tags": [
          "VIN Decoder"
        ],
        "summary": "VIN Decode",
        "description": "VIN Decode returns an object with price, balance and decode array of objects with 'label' and 'value' properties. Each decode object represents a 'variable'. See <a href=\"https://vincario.com/api-docs/3.2/#model-VIN-Decode-Variable-Labels-List\">variable labels</a> that are returned here.\n",
        "parameters": [
          {
            "name": "API_KEY",
            "in": "path",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CONTROL_SUM",
            "in": "path",
            "description": "The CONTROL_SUM for this endpoint is generated by taking the first 10 characters of the SHA1 hash of your VIN, the operation ID '<strong>decode</strong>', API key, and secret key, concatenated in that order.<br/> <i>For instance</i>: <code>$controlSum = substr(sha1(\"{$vin}|decode|{$apiKey}|{$secretKey}\"), 0, 10);</code><br/> For a complete guide, please refer to the <a href=\"https://vincario.com/api-docs/3.2/#api-how-to-create-a-request\">How to create a request</a>.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "VIN",
            "in": "path",
            "description": "Vehicle Identification Number",
            "required": true,
            "style": "simple",
            "schema": {
              "maxLength": 17,
              "minLength": 17,
              "type": "string"
            },
            "example": "XXXDEF1GH23456789"
          },
          {
            "name": "format",
            "in": "path",
            "description": "Response format (json or html)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response includes three main components: \"price\" and \"price_currency\" indicate the cost of the request, \"balance\" details remaining credits for various API services, and \"decode\" presents a detailed list of vehicle attributes. Each attribute in the decode array is represented by a label and its associated value, offering in-depth vehicle information. See the <a href=\"https://vincario.com/api-docs/3.2/#model-VIN-Decode-Variable-Labels-List\">VIN Decode Variable Labels List</a> for a detailed list of variables, their data types, and examples.\n",
            "content": {
              "application/json": {
                "schema": {
                  "description": "<pre>{\n  <span>\"price\":</span> <b>float</b>,\n  <span>\"price_currency\":</span> <i>string</i>,\n  <span>\"balance\":</span> {\n    <span>\"API Decode\":</span> <b>integer</b>,\n    <span>\"API Stolen Check\":</span> <b>integer</b>,\n    <span>\"API Vehicle Market Value\":</span> <b>integer</b>,\n    <span>\"API OEM VIN Lookup\":</span> <b>integer</b>\n  },\n  <span>\"decode\"</span>: [\n    {\n        <span>\"label\"</span>: <b>string</b>,\n        <span>\"value\"</span>: <b>string|integer|float|array</b>\n    },\n    <b>...</b>\n  ]\n}</pre>\n"
                },
                "examples": {
                  "Success response": {
                    "value": "{\"price\":0,\"price_currency\":\"CZK\",\"balance\":{\"API Decode\":17,\"API Stolen Check\":4,\"API Vehicle Market Value\":4},\"decode\":[{\"label\":\"VIN\",\"value\":\"WF05XXGC055870807\"},{\"label\":\"Vehicle ID\",\"value\":1619},{\"label\":\"Make\",\"value\":\"Ford\",\"id\":30},{\"label\":\"Model\",\"value\":\"Focus\",\"id\":17779},{\"label\":\"Model Year\",\"value\":2005},{\"label\":\"Product Type\",\"value\":\"Car\",\"id\":4},{\"label\":\"Body\",\"value\":\"Hatchback\\/Liftback\\/Notchback\",\"id\":5},{\"label\":\"Series\",\"value\":\"Mk2 (2004-2011)\"},{\"label\":\"Drive\",\"value\":\"Front-wheel drive\",\"id\":1},{\"label\":\"Transmission\",\"value\":\"Manual\\/Standard\",\"id\":6},{\"label\":\"Number of Gears\",\"value\":5},{\"label\":\"Emission Standard\",\"value\":\"Euro 4\"},{\"label\":\"Manufacturer\",\"value\":\"Ford Werke AG\"},{\"label\":\"Manufacturer Address\",\"value\":\"Koeln-Niehl, Germany\"},{\"label\":\"Plant Country\",\"value\":\"Germany\"},{\"label\":\"Average CO2 Emission (g\\/km)\",\"value\":152.21},{\"label\":\"Number of Axles\",\"value\":2},{\"label\":\"Number of Doors\",\"value\":4},{\"label\":\"Number of Seats\",\"value\":\"5\"},{\"label\":\"Steering Type\",\"value\":\"Steering rack and pinion\"},{\"label\":\"Wheel Size\",\"value\":\"195\\/65R15*205\\/50R17*205\\/55R16\"},{\"label\":\"Wheel Size Array\",\"value\":[\"195\\/65R15*205\\/50R17*205\\/55R16\"]},{\"label\":\"Wheelbase (mm)\",\"value\":2640},{\"label\":\"Wheelbase Array (mm)\",\"value\":[2640]},{\"label\":\"Height (mm)\",\"value\":1497},{\"label\":\"Length (mm)\",\"value\":4342},{\"label\":\"Width (mm)\",\"value\":1840},{\"label\":\"Track Front (mm)\",\"value\":1535},{\"label\":\"Track Rear (mm)\",\"value\":1531},{\"label\":\"Max Speed (km\\/h)\",\"value\":190},{\"label\":\"Weight Empty (kg)\",\"value\":1249},{\"label\":\"Max Weight (kg)\",\"value\":1730},{\"label\":\"Max roof load (kg)\",\"value\":75},{\"label\":\"Permitted trailer load without brakes (kg)\",\"value\":620},{\"label\":\"ABS\",\"value\":1},{\"label\":\"Check Digit\",\"value\":\"0\"},{\"label\":\"Sequential Number\",\"value\":\"870807\"},{\"label\":\"Make Logo\",\"value\":\"https://vindecoder.eu/img/make/ford.svg\"}]}"
                  },
                  "When you use an incorrect API key": {
                    "value": "{\"error\":true,\"message\":\"Unknown API Key\"}"
                  },
                  "When you use an incorrect control sum": {
                    "value": "{\"error\":true,\"message\":\"Invalid Control sum\"}"
                  },
                  "When you run out of prepaid lookups": {
                    "value": "{\"error\":true,\"message\":\"Not Enough Lookups\"}"
                  },
                  "When you reach a limit of requests per minute": {
                    "value": "{\"error\":true,\"message\":\"You've reached limit of 60 requests per minute. Contact us at info@vincario.com for a customized limit.\"}"
                  },
                  "When VIN is not recognized": {
                    "value": "{\"error\":true,\"message\":\"Not recognized\"}"
                  },
                  "When VIN can't be decoded": {
                    "description": "##### **char**: VIN contains an invalid character (I, O, Q)\n\n##### **length**: VIN length is not 17 characters\n\n##### **invalid**: VIN is not valid",
                    "value": "{\"error\": true,\"message\": \"invalid\",\"reasons\": [\"char\",\"invalid\",\"length\"]}"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The route could not be found."
          },
          "500": {
            "description": "Unexpected internal errors."
          }
        }
      }
    },
    "/3.2/{API_KEY}/{CONTROL_SUM}/oem/{VIN}.{format}": {
      "get": {
        "operationId": "OEM_VIN_Lookup",
        "tags": [
          "OEM VIN Lookup"
        ],
        "summary": "OEM VIN Lookup",
        "description": "The OEM VIN Lookup service performs an API query to the manufacturer's database and returns an object containing all available information about the vehicle. This includes vehicle basic and specific equipment, color codes, KBA numbers, specifications for electric vehicles, battery size, battery charging type, the original price of the vehicle, and much more.\n",
        "parameters": [
          {
            "name": "API_KEY",
            "in": "path",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CONTROL_SUM",
            "in": "path",
            "description": "The CONTROL_SUM for this endpoint is generated by taking the first 10 characters of the SHA1 hash of your VIN, the operation ID '<strong>oem</strong>', API key, and secret key, concatenated in that order.<br/> <i>For instance</i>: <code>$controlSum = substr(sha1(\"{$vin}|oem|{$apiKey}|{$secretKey}\"), 0, 10);</code><br/> For a complete guide, please refer to the <a href=\"https://vincario.com/api-docs/3.2/#api-how-to-create-a-request\">How to create a request</a>.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "VIN",
            "in": "path",
            "description": "Vehicle Identification Number",
            "required": true,
            "style": "simple",
            "schema": {
              "maxLength": 17,
              "minLength": 17,
              "type": "string"
            },
            "example": "XXXDEF1GH23456789"
          },
          {
            "name": "format",
            "in": "path",
            "description": "Response format (json or html)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an object containing all available information about the vehicle. This includes vehicle basic and specific equipment, color codes, KBA numbers, specifications for electric vehicles, battery size, battery charging type, the original price of the vehicle, and much more.\n",
            "content": {
              "application/json": {
                "schema": {
                  "description": "<pre>{\n  <span>\"vin\"</span>: <i>string</i>,\n  <span>\"price\"</span>: <b>float</b>,\n  <span>\"price_currency\"</span>: <i>string</i>,\n  <span>\"balance\"</span>: {\n    <span>\"API Decode\"</span>: <b>integer</b>,\n    <span>\"API Stolen Check\"</span>: <b>integer</b>,\n    <span>\"API Vehicle Market Value\"</span>: <b>integer</b>,\n    <span>\"API OEM VIN Lookup\"</span>: <b>integer</b>\n  },\n  <span>\"decode\"</span>: [\n    {\n      <span>\"label\"</span>: <i>string</i>,\n      <span>\"value\"</span>: <i>mixed</i>\n    },\n    {\n      <span>\"label\"</span>: <i>string</i>,\n      <span>\"value\"</span>: <i>mixed</i>\n    },\n    {\n      <span>\"label\"</span>: <i>string</i>,\n      <span>\"value\"</span>: <i>mixed</i>\n    }\n  ]\n}</pre>\n"
                },
                "examples": {
                  "Success response": {
                    "value": "{\"vin\":\"XXXDEF1GH23456789\",\"price\":0,\"price_currency\":\"USD\",\"balance\":{\"API Decode\":218,\"API Stolen Check\":205,\"API Vehicle Market Value\":205,\"API OEM VIN Lookup\":0},\"decode\":[{\"label\":\"Make\",\"value\":\"Volkswagen\"},{\"label\":\"Model\",\"value\":\"Tiguan 2.0 TDI BMT Comfortline\"},{\"label\":\"Vehicle Specification\",\"value\":\"DE - SUV5 2.0 TDI BMT/Start-Stopp EU6, Comfortline, 2016 - 2018\"},{\"label\":\"Market\",\"value\":\"DE\"},{\"label\":\"Acceleration 0-100 km/h (s)\",\"value\":9.3},{\"label\":\"Body\",\"value\":\"Sports Utility Vehicle\"},{\"label\":\"CO2 Emission (g/km)\",\"value\":125},{\"label\":\"Made\",\"value\":\"2017-01-01\"},{\"label\":\"Drive\",\"value\":\"FWD\"},{\"label\":\"Emission Standard\",\"value\":\"EU6\"},{\"label\":\"Engine Cylinders\",\"value\":4},{\"label\":\"Engine Displacement (ccm)\",\"value\":1968},{\"label\":\"Engine Power (HP)\",\"value\":150},{\"label\":\"Engine Power (kW)\",\"value\":110},{\"label\":\"Engine Torque (RPM)\",\"value\":340},{\"label\":\"Equipment\",\"value\":{\"equipment_series\":[\"3-point Seatbelt Rear Center\",\"Active Front Flap\",\"Airbag Driver Side/passenger Side\",\"Airbag Passenger Side Deactivatable\",\"Alarm System for Seat Belts Front and Rear\",\"Antilock Braking System (ABS)\",\"Automatic Headlight Control (ALS) With Leaving Home / Coming Home Light function\",\"Body: 4-door\",\"Brake Assistant\",\"Cargo Space Cover / Roll-up Cover\",\"Cargo Space Lighting\",\"Center Armrest Front Height/length-adjustable\",\"Central Locking System With Remote Control\",\"Chrome Bezel Light switch\",\"Chrome Bezel Window Lifter switch / Mirror Adjustment\",\"Chrome Strips At Side Windows\",\"Diesel Particulate Filter\",\"Display for Washer Fluid Level\",\"Door Handles Outside Vehicle Colour\",\"Driver Assistance System: Drowsiness Detection Sensor\",\"Driver Assistance System: Lane Assist (Lane Assist)\",\"Driver Assistance System: Main Beam Control (Light Assist)\",\"Driver Assistance System: Multi-collision Brake (Multi Collision Brake)\",\"Driver Assistance System: Pedestrian Detection\",\"Driver Assistance System: Periphery Observation System (Front Assist) With City Emergency Braking function\",\"Driver Assistance System: Trailer Stabilization Program\",\"Dual-tone Horn\",\"Electronic Differential Lock (EDS)\",\"Electronic Stability Control (ESP)\",\"Engine 2,0 Liter - 110 kW TDI\",\"Exterior Mirror Aspherical, Left\",\"Exterior Mirror Convex, Right\",\"Exterior Mirror Electrically Adjustable and Heated\",\"Exterior Mirror Painted\",\"First-aid Kit and Warning Triangle\",\"Floor Mats Textile\",\"Folding Tables in Driver and Passenger Backrests Integrated\",\"Footwell Illumination Front\",\"Front Fog Lights With Integrated Cornering Light\",\"Glove Box Lockable and Illuminated\",\"Glove Box With Cooling function\",\"Head Rests Rear (3-fold)\",\"Heat Protection Glazing Green-tinted\",\"Immobilizer (Electronic)\",\"Interior Filter: Dust and Pollen Filter With Activated-carbon Filter\",\"Interior Mirror With Automatic Dimming\",\"Isofix Mounts for Child Seat At Rear Seats (Incl. I-Size Child Seats)\",\"Kneebag Driver Side\",\"Licence Plate Illumination LED\",\"Long-cargo Channel (Center Armrest Rear)\",\"Low Emissions According To Emission Standard Euro 6\",\"Multifunction Display Premium (Colour Display)\",\"Non-smoking Package\",\"Parking Aid Front and Rear\",\"Parking Brake Electric\",\"Passenger Protection System Proactive\",\"Power Outlet 12V in Trunk/load Space\",\"Power Steering Electromechanical and Vehicle-speed-sensitive\",\"Rear Fog Light\",\"Rear Lights LED\",\"Rear Seat Backrests With Remote Unlocking Folding\",\"Rear Seat Split / Hinged and Sliding\",\"Rear Window Wiper\",\"Roof Rails\",\"SCR System (AdBlue Technology)\",\"Seat Belts Front With Seat Belt Tensioner, Height-adjustable\",\"Seat Belts Rear Outside With Seat Belt Tensioner\",\"Seats Front Height-adjustable\",\"Shift/selector Lever Leather\",\"Sidebag Front With Head Airbag Unit\",\"Start/stop System\",\"Steering Column (Steering Wheel) Mechanic. Adjustable, Height/longitudinal Adjustment\",\"Storage Bag At Front Seatbacks\",\"Storage Compartment At Roof Liner\",\"Storage Compartment on Instrument Panel With Lid\",\"Sun Visors With Mirror (Illuminated)\",\"Traction Control System (ASR)\",\"Transmission 6-speed\",\"Turn Signal Light in Exterior Mirror Integrated\",\"Type Of Drive: Front-wheel Drive\",\"Wheelbase 2677 Mm\",\"Window Lifter Electric Front and Rear\",\"Windshield Laminated Glass Tinted\",\"Windshield Wiper With Rain Sensor\"],\"equipment_special\":[\"Active Info Display (Instrument Display Digital)\",\"Air Conditioning Climatronic 3-zone\",\"Ambient Lighting\",\"Ambiente Package\",\"Antenna Diversity\",\"Audio System Composition Media (Touchscreen, Radio/CD Player, MP3, Bluetooth)\",\"Audio System: CD Player\",\"Auxiliary Heater With Auxiliary Ventilation\",\"Baggage Securing Net\",\"Bumper R-Line\",\"Business Package Premium With Navigation\",\"Cargo Space Floor Height-adjustable\",\"Daytime Running Lights LED\",\"Door Handles Inside Illuminated, Front\",\"Driver Assistance Package\",\"Driver Assistance System: Automatic Distance Control (ACC) With Periphery Observation System (Front Assist, To 210 Km/h)\",\"Driver Assistance System: City Emergency Braking function\",\"Driver Assistance System: Driving-profile Selection\",\"Driver Assistance System: Lane Assist (Lane Assist)\",\"Driver Assistance System: Lane-change Assist (Side Assist Plus) Incl. Lane Assist and Rear Cross-traffic Warning\",\"Driver Assistance System: Park Assist (Park Assist)\",\"Driver Assistance System: Park Assist (Park Assist) Incl. Reversing Camera\",\"Driver Assistance System: Periphery Observation System (Front Assist) With City Emergency Braking function\",\"Driver Assistance System: Traffic Sign Detection\",\"Emergency Spare Wheel (?)\",\"Exterior Mirror Electrically Folding\",\"Exterior Mirror With Automatic Lowering function, Right\",\"Exterior Mirror With Memory function\",\"Exterior Mirror With Perimeter Light\",\"Glazing Rear Darkened (65 %)\",\"Headlight LED\",\"Headlight Leveling Control Automatic\",\"Headlight Washer System (Headlight Washer System)\",\"Interior Equipment Decorative Trim Inserts Dark Grid\",\"Interior Equipment Leather Vienna (Incl. Seat Heating Front)\",\"Light Alloy Rims 8,5x19 (Sebring, Gray)\",\"Lumbar Support Front, Electrically Adjustable\",\"Map Lights Front and Rear LED\",\"Metallic Paintwork\",\"Mirror Package\",\"Mobile Online Services App-Connect\",\"Mobile Phone interface Comfort Wireless Charging\",\"Multi-media interface USB (IPhone / IPod) With AUX-IN\",\"Navigation Module Discover Media (for Audio System)\",\"Parking Aid Front and Rear\",\"R-Line Exterior Package\",\"Reversing Camera (Rear View)\",\"Roof Spoiler R-Line\",\"Scuff Rails (Aluminium) Illuminated\",\"Seat Heating Rear\",\"Seats: Top-Comfort Seats Front Electrically Adjustable (12-way, With Memory)\",\"Sidebag Rear\",\"Storage Compartments in Overhead Console\",\"Storage Package\",\"Tire Pressure Control System\",\"Trailer Coupling Swiveling\",\"Trunk Lid / Liftgate Electrically Operated (Open+close)\",\"Vehicle Speed Limiter\",\"Voice Control System\",\"Wheel Arch Flare\",\"Windshield Washer Jets Heated\",\"Winter Package\",\"Winter Package Incl. Seat Heating Rear\"]}},{\"label\":\"Fuel Capacity (l)\",\"value\":58},{\"label\":\"Fuel Consumption Combined (l/100km)\",\"value\":4.8},{\"label\":\"Fuel Consumption Extra Urban (l/100km)\",\"value\":4.2},{\"label\":\"Fuel Consumption Urban (l/100km)\",\"value\":5.8},{\"label\":\"Fuel Type - Primary\",\"value\":\"Diesel\"},{\"label\":\"Height (mm)\",\"value\":1632},{\"label\":\"KBA Numbers\",\"value\":[\"0603/BZG\"]},{\"label\":\"Length (mm)\",\"value\":4486},{\"label\":\"Max roof load (kg)\",\"value\":75},{\"label\":\"Max Speed (km/h)\",\"value\":204},{\"label\":\"Max Weight (kg)\",\"value\":2040},{\"label\":\"Number of Airbags\",\"value\":5},{\"label\":\"Number of Axles\",\"value\":2},{\"label\":\"Number of Doors\",\"value\":5},{\"label\":\"Number of Gears\",\"value\":6},{\"label\":\"Number of Seats\",\"value\":5},{\"label\":\"Permitted trailer load with brakes 8% (kg)\",\"value\":2000},{\"label\":\"Permitted trailer load without brakes (kg)\",\"value\":750},{\"label\":\"Price Original\",\"value\":32725},{\"label\":\"Product Type\",\"value\":\"Passenger car\"},{\"label\":\"Production Started\",\"value\":\"2016-01-01\"},{\"label\":\"Production Stopped\",\"value\":\"2019-12-01\"},{\"label\":\"Transmission\",\"value\":\"Manual\"},{\"label\":\"Trim\",\"value\":\"Comfortline BMT/Start-Stopp\"},{\"label\":\"Maximum Trunk Capacity (l)\",\"value\":1655},{\"label\":\"Minimum Trunk Capacity (l)\",\"value\":615},{\"label\":\"Weight empty (kg)\",\"value\":1568},{\"label\":\"Wheelbase (mm)\",\"value\":2677},{\"label\":\"Wheel Size\",\"value\":\"215/65R17\"},{\"label\":\"Width (mm)\",\"value\":1839},{\"label\":\"Make Logo\",\"value\":\"https://vindecoder.eu/img/make/volkswagen.svg\"}]}"
                  },
                  "When you use an incorrect API key": {
                    "value": "{\"error\":true,\"message\":\"Unknown API Key\"}"
                  },
                  "When you use an incorrect control sum": {
                    "value": "{\"error\":true,\"message\":\"Invalid Control sum\"}"
                  },
                  "When you run out of prepaid lookups": {
                    "value": "{\"error\":true,\"message\":\"Not Enough Lookups\"}"
                  },
                  "When you reach a limit of requests per minute": {
                    "value": "{\"error\":true,\"message\":\"You've reached limit of 60 requests per minute. Contact us at info@vincario.com for a customized limit.\"}"
                  },
                  "When VIN is not recognized": {
                    "value": "{\"error\":true,\"message\":\"Not recognized\"}"
                  },
                  "When the vehicle belongs to a different market than those available to you": {
                    "value": "{\"error\":true,\"message\":\"Vehicle can be looked up only at <COUNTRY_CODE> market. Contact us for more information.\"}"
                  },
                  "When you need to accept new Terms and Conditions": {
                    "value": "{\"error\":true,\"message\":\"You need to Login and confirm new Terms and Conditions at https://vincario.com/terms-and-conditions/.\"}"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The route could not be found."
          },
          "500": {
            "description": "Unexpected internal errors."
          }
        }
      }
    },
    "/3.2/{API_KEY}/{CONTROL_SUM}/vehicle-market-value/{VIN}.{format}": {
      "get": {
        "operationId": "Vehicle_Market_Value",
        "tags": [
          "Vehicle Market Value"
        ],
        "summary": "Vehicle Market Value",
        "description": "Vehicle Market Value API returns an object with a vehicle details and its market value based on the last 365 days market data. You'll be able to evaluate the vehicle market price and average odometer reading based on given VIN.<br/> Response is returned when at least 10 records of similar vehicle is available on the market, otherwise the request is not charged.\n",
        "parameters": [
          {
            "name": "API_KEY",
            "in": "path",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CONTROL_SUM",
            "in": "path",
            "description": "The CONTROL_SUM for this endpoint is generated by taking the first 10 characters of the SHA1 hash of your VIN, the operation ID '<strong>vehicle-market-value</strong>', API key, and secret key, concatenated in that order.<br/> <i>For instance</i>: <code>$controlSum = substr(sha1(\"{$vin}|vehicle-market-value|{$apiKey}|{$secretKey}\"), 0, 10);</code><br/> For a complete guide, please refer to the <a href=\"https://vincario.com/api-docs/3.2/#api-how-to-create-a-request\">How to create a request</a>.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "VIN",
            "in": "path",
            "description": "Vehicle Identification Number",
            "required": true,
            "style": "simple",
            "schema": {
              "maxLength": 17,
              "minLength": 17,
              "type": "string"
            },
            "example": "XXXDEF1GH23456789"
          },
          {
            "name": "format",
            "in": "path",
            "description": "Response format (json or html)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "odometer",
            "in": "query",
            "description": "Odometer reading used for price adjusted calculation. When provided, the response will include a price_odometer_adjusted field with an estimated price based on the provided odometer reading.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "odometer_unit",
            "in": "query",
            "description": "Unit of measurement for the odometer reading. Valid values are 'km' (kilometers) or 'mi' (miles). Defaults to 'km' if not provided.\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "km",
                "mi"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an object containing all available information about the vehicle. This includes vehicle basic and specific equipment, color codes, KBA numbers, specifications for electric vehicles, battery size, battery charging type, the original price of the vehicle, and much more.\n",
            "content": {
              "application/json": {
                "schema": {
                  "description": "<pre>{\n  <span>\"vin\"</span>: <i>string</i>,\n  <span>\"price\"</span>: <b>float</b>,\n  <span>\"price_currency\"</span>: <i>string</i>,\n  <span>\"balance\"</span>: {\n    <span>\"API Decode\":</span> <b>integer</b>,\n    <span>\"API Stolen Check\":</span> <b>integer</b>,\n    <span>\"API Vehicle Market Value\":</span> <b>integer</b>,\n    <span>\"API OEM VIN Lookup\":</span> <b>integer</b>\n  },\n  <span>\"vehicle\"</span>: {\n    <span>\"vehicle_id\"</span>: <b>integer</b>,\n    <span>\"make\"</span>: <i>string</i>,\n    <span>\"make_id\"</span>: <b>integer</b>,\n    <span>\"model\"</span>: <i>string</i>,\n    <span>\"model_id\"</span>: <b>integer</b>,\n    <span>\"model_year\"</span>: <b>integer</b>,\n    <span>\"transmission\"</span>: <i>string</i>,\n    <span>\"transmission_id\"</span>: <b>integer</b>,\n    <span>\"engine_power_kw\"</span>: <b>integer</b>,\n    <span>\"engine_displacement_ccm\"</span>: <b>integer</b>,\n    <span>\"fuel_type_primary\"</span>: <i>string</i>,\n    <span>\"fuel_type_primary_id\"</span>: <b>integer</b>,\n    <span>\"make_logo\"</span>: <i>string|null</i>,\n  },\n  <span>\"period\"</span>: {\n    <span>\"from\"</span>: <i>string</i>,\n    <span>\"to\"</span>: <i>string</i>\n  },\n  <span>\"market_price\"</span>: {\n    <span>\"europe\"</span>: {\n      <span>\"price_count\"</span>: <b>integer</b>,\n      <span>\"price_currency\"</span>: <i>string</i>,\n      <span>\"price_below\"</span>: <b>integer</b>,\n      <span>\"price_median\"</span>: <b>integer</b>,\n      <span>\"price_avg\"</span>: <b>integer</b>,\n      <span>\"price_above\"</span>: <b>integer</b>,\n      <span>\"price_stdev\"</span>: <b>integer</b>\n    },\n    <span>\"north_america\"</span>: {\n      <span>\"price_count\"</span>: <b>integer</b>,\n      <span>\"price_currency\"</span>: <i>string</i>,\n      <span>\"price_below\"</span>: <b>integer</b>,\n      <span>\"price_median\"</span>: <b>integer</b>,\n      <span>\"price_avg\"</span>: <b>integer</b>,\n      <span>\"price_above\"</span>: <b>integer</b>,\n      <span>\"price_stdev\"</span>: <b>integer</b>\n    }\n  },\n  <span>\"market_odometer\"</span>: {\n    <span>\"europe\"</span>: {\n      <span>\"odometer_count\"</span>: <b>integer</b>,\n      <span>\"odometer_unit\"</span>: <i>string</i>,\n      <span>\"odometer_below\"</span>: <b>integer</b>,\n      <span>\"odometer_median\"</span>: <b>integer</b>,\n      <span>\"odometer_avg\"</span>: <b>integer</b>,\n      <span>\"odometer_above\"</span>: <b>integer</b>,\n      <span>\"odometer_stdev\"</span>: <b>integer</b>\n    },\n    <span>\"north_america\"</span>: {\n      <span>\"odometer_count\"</span>: <b>integer</b>,\n      <span>\"odometer_unit\"</span>: <i>string</i>,\n      <span>\"odometer_below\"</span>: <b>integer</b>,\n      <span>\"odometer_median\"</span>: <b>integer</b>,\n      <span>\"odometer_avg\"</span>: <b>integer</b>,\n      <span>\"odometer_above\"</span>: <b>integer</b>,\n      <span>\"odometer_stdev\"</span>: <b>integer</b>\n    }\n  },\n  <span>\"records\"</span>: [\n    {\n      <span>\"market\"</span>: <i>string|null</i>,\n      <span>\"continent\"</span>: <i>string|null</i>,\n      <span>\"price\"</span>: <b>integer</b>,\n      <span>\"price_currency\"</span>: <i>string</i>,\n      <span>\"odometer\"</span>: <b>integer</b>,\n      <span>\"odometer_unit\"</span>: <i>string</i>\n    },\n    {\n      <span>\"market\"</span>: <i>string|null</i>,\n      <span>\"continent\"</span>: <i>string|null</i>,\n      <span>\"price\"</span>: <b>integer</b>,\n      <span>\"price_currency\"</span>: <i>string</i>,\n      <span>\"odometer\"</span>: <b>integer</b>,\n      <span>\"odometer_unit\"</span>: <i>string</i>\n    }\n  ]\n}</pre>\n"
                },
                "examples": {
                  "Success response": {
                    "value": "{\"vin\":\"XXXDEF1GH23456789\",\"price\":0,\"price_currency\":\"USD\",\"balance\":{\"API Decode\":218,\"API Stolen Check\":205,\"API Vehicle Market Value\":205,\"API OEM VIN Lookup\":0},\"vehicle\":{\"vehicle_id\":4599,\"make\":\"Toyota\",\"make_id\":108,\"model\":\"Yaris\",\"model_id\":18753,\"model_year\":2012,\"transmission\":\"Automatic\",\"transmission_id\":2,\"engine_displacement_ccm\":1497,\"fuel_type_primary\":\"Gasoline\",\"fuel_type_primary_id\":8,\"make_logo\":\"https://vindecoder.eu/img/make/toyota.svg\"},\"period\":{\"from\":\"2022-11-14\",\"to\":\"2023-11-14\"},\"market_price\":{\"europe\":{\"price_count\":29,\"price_currency\":\"EUR\",\"price_below\":5000,\"price_median\":6700,\"price_avg\":6774,\"price_above\":8500,\"price_stdev\":1267},\"north_america\":{\"price_count\":13,\"price_currency\":\"USD\",\"price_below\":6700,\"price_median\":8500,\"price_avg\":9065,\"price_above\":12800,\"price_stdev\":1823}},\"market_odometer\":{\"europe\":{\"odometer_count\":29,\"odometer_unit\":\"km\",\"odometer_below\":62400,\"odometer_median\":88586,\"odometer_avg\":96812,\"odometer_above\":130000,\"odometer_stdev\":50081},\"north_america\":{\"odometer_count\":13,\"odometer_unit\":\"mi\",\"odometer_below\":26400,\"odometer_median\":41731,\"odometer_avg\":40395,\"odometer_above\":56700,\"odometer_stdev\":15815}},\"records\":[{\"market\":\"DE\",\"continent\":\"EU\",\"price\":4799,\"price_currency\":\"EUR\",\"odometer\":280000,\"odometer_unit\":\"km\"},{\"market\":\"DE\",\"continent\":\"EU\",\"price\":4895,\"price_currency\":\"EUR\",\"odometer\":130000,\"odometer_unit\":\"km\"},{\"market\":\"DE\",\"continent\":\"EU\",\"price\":4900,\"price_currency\":\"EUR\",\"odometer\":150000,\"odometer_unit\":\"km\"},{\"market\":\"DE\",\"continent\":\"EU\",\"price\":4990,\"price_currency\":\"EUR\",\"odometer\":148583,\"odometer_unit\":\"km\"},{\"market\":\"DE\",\"continent\":\"EU\",\"price\":5250,\"price_currency\":\"EUR\",\"odometer\":149099,\"odometer_unit\":\"km\"},{\"market\":\"DE\",\"continent\":\"EU\",\"price\":5900,\"price_currency\":\"EUR\",\"odometer\":62400,\"odometer_unit\":\"km\"},{\"market\":\"DE\",\"continent\":\"EU\",\"price\":5900,\"price_currency\":\"EUR\",\"odometer\":99800,\"odometer_unit\":\"km\"},{\"market\":\"DE\",\"continent\":\"EU\",\"price\":5900,\"price_currency\":\"EUR\",\"odometer\":103000,\"odometer_unit\":\"km\"},{\"market\":\"DE\",\"continent\":\"EU\",\"price\":5999,\"price_currency\":\"EUR\",\"odometer\":138500,\"odometer_unit\":\"km\"},{\"market\":\"DE\",\"continent\":\"EU\",\"price\":6190,\"price_currency\":\"EUR\",\"odometer\":29000,\"odometer_unit\":\"km\"},{\"market\":\"US\",\"continent\":\"NA\",\"price\":6410,\"price_currency\":\"USD\",\"odometer\":54370,\"odometer_unit\":\"mi\"},{\"market\":\"DE\",\"continent\":\"EU\",\"price\":6499,\"price_currency\":\"EUR\",\"odometer\":68218,\"odometer_unit\":\"km\"},{\"market\":\"DE\",\"continent\":\"EU\",\"price\":6500,\"price_currency\":\"EUR\",\"odometer\":122000,\"odometer_unit\":\"km\"},{\"market\":\"DE\",\"continent\":\"EU\",\"price\":6500,\"price_currency\":\"EUR\",\"odometer\":128300,\"odometer_unit\":\"km\"},{\"market\":\"DE\",\"continent\":\"EU\",\"price\":6699,\"price_currency\":\"EUR\",\"odometer\":68890,\"odometer_unit\":\"km\"},{\"market\":\"DE\",\"continent\":\"EU\",\"price\":6700,\"price_currency\":\"EUR\",\"odometer\":85000,\"odometer_unit\":\"km\"},{\"market\":\"US\",\"continent\":\"NA\",\"price\":6740,\"price_currency\":\"USD\",\"odometer\":61746,\"odometer_unit\":\"mi\"},{\"market\":\"DE\",\"continent\":\"EU\",\"price\":6800,\"price_currency\":\"EUR\",\"odometer\":99928,\"odometer_unit\":\"km\"},{\"market\":\"DE\",\"continent\":\"EU\",\"price\":6950,\"price_currency\":\"EUR\",\"odometer\":75000,\"odometer_unit\":\"km\"},{\"market\":\"DE\",\"continent\":\"EU\",\"price\":6990,\"price_currency\":\"EUR\",\"odometer\":120464,\"odometer_unit\":\"km\"},{\"market\":\"DE\",\"continent\":\"EU\",\"price\":6999,\"price_currency\":\"EUR\",\"odometer\":87818,\"odometer_unit\":\"km\"},{\"market\":\"DE\",\"continent\":\"EU\",\"price\":7290,\"price_currency\":\"EUR\",\"odometer\":99000,\"odometer_unit\":\"km\"},{\"market\":\"DE\",\"continent\":\"EU\",\"price\":7300,\"price_currency\":\"EUR\",\"odometer\":45500,\"odometer_unit\":\"km\"},{\"market\":\"DE\",\"continent\":\"EU\",\"price\":7349,\"price_currency\":\"EUR\",\"odometer\":102458,\"odometer_unit\":\"km\"},{\"market\":\"DE\",\"continent\":\"EU\",\"price\":7590,\"price_currency\":\"EUR\",\"odometer\":81645,\"odometer_unit\":\"km\"},{\"market\":\"DE\",\"continent\":\"EU\",\"price\":7980,\"price_currency\":\"EUR\",\"odometer\":53128,\"odometer_unit\":\"km\"},{\"market\":\"DE\",\"continent\":\"EU\",\"price\":7990,\"price_currency\":\"EUR\",\"odometer\":44545,\"odometer_unit\":\"km\"},{\"market\":\"US\",\"continent\":\"NA\",\"price\":8130,\"price_currency\":\"USD\",\"odometer\":37624,\"odometer_unit\":\"mi\"},{\"market\":\"US\",\"continent\":\"NA\",\"price\":8130,\"price_currency\":\"USD\",\"odometer\":41731,\"odometer_unit\":\"mi\"},{\"market\":\"DE\",\"continent\":\"EU\",\"price\":8199,\"price_currency\":\"EUR\",\"odometer\":88586,\"odometer_unit\":\"km\"},{\"market\":\"US\",\"continent\":\"NA\",\"price\":8450,\"price_currency\":\"USD\",\"odometer\":50095,\"odometer_unit\":\"mi\"},{\"market\":\"DE\",\"continent\":\"EU\",\"price\":8490,\"price_currency\":\"EUR\",\"odometer\":68000,\"odometer_unit\":\"km\"},{\"market\":\"US\",\"continent\":\"NA\",\"price\":8500,\"price_currency\":\"USD\",\"odometer\":54370,\"odometer_unit\":\"mi\"},{\"market\":\"US\",\"continent\":\"NA\",\"price\":8500,\"price_currency\":\"USD\",\"odometer\":56700,\"odometer_unit\":\"mi\"},{\"market\":\"US\",\"continent\":\"NA\",\"price\":8550,\"price_currency\":\"USD\",\"odometer\":47491,\"odometer_unit\":\"mi\"},{\"market\":\"DE\",\"continent\":\"EU\",\"price\":8700,\"price_currency\":\"EUR\",\"odometer\":50000,\"odometer_unit\":\"km\"},{\"market\":\"US\",\"continent\":\"NA\",\"price\":9610,\"price_currency\":\"USD\",\"odometer\":24463,\"odometer_unit\":\"mi\"},{\"market\":\"US\",\"continent\":\"NA\",\"price\":9620,\"price_currency\":\"USD\",\"odometer\":6761,\"odometer_unit\":\"mi\"},{\"market\":\"DE\",\"continent\":\"EU\",\"price\":10199,\"price_currency\":\"EUR\",\"odometer\":28699,\"odometer_unit\":\"km\"},{\"market\":\"US\",\"continent\":\"NA\",\"price\":10640,\"price_currency\":\"USD\",\"odometer\":32821,\"odometer_unit\":\"mi\"},{\"market\":\"US\",\"continent\":\"NA\",\"price\":11750,\"price_currency\":\"USD\",\"odometer\":30568,\"odometer_unit\":\"mi\"},{\"market\":\"US\",\"continent\":\"NA\",\"price\":12820,\"price_currency\":\"USD\",\"odometer\":26396,\"odometer_unit\":\"mi\"}]}"
                  },
                  "When you use an incorrect API key": {
                    "value": "{\"error\":true,\"message\":\"Unknown API Key\"}"
                  },
                  "When you use an incorrect control sum": {
                    "value": "{\"error\":true,\"message\":\"Invalid Control sum\"}"
                  },
                  "When you run out of prepaid lookups": {
                    "value": "{\"error\":true,\"message\":\"Not Enough Lookups\"}"
                  },
                  "When you reach a limit of requests per minute": {
                    "value": "{\"error\":true,\"message\":\"You've reached limit of 60 requests per minute. Contact us at info@vincario.com for a customized limit.\"}"
                  },
                  "When VIN is not recognized": {
                    "value": "{\"error\":true,\"message\":\"Not recognized\"}"
                  },
                  "When we are not able to provide data": {
                    "value": "{\"error\":true,\"message\":\"Insufficient statistical data.\"}"
                  },
                  "Query parameter 'odometer' has no value": {
                    "value": "{\"error\":true,\"message\":\"Odometer value cannot be empty\"}"
                  },
                  "Query parameter 'odometer' value must be greater than or equal to 0": {
                    "value": "{\"error\":true,\"message\":\"Odometer value must be greater than or equal to 0\"}"
                  },
                  "Query parameter 'odometer_unit' has non valid value.": {
                    "value": "{\"error\":true,\"message\":\"Invalid odometer_unit. Supported values are km, mi\"}"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The route could not be found."
          },
          "500": {
            "description": "Unexpected internal errors."
          }
        }
      }
    },
    "/3.2/{API_KEY}/{CONTROL_SUM}/stolen-check/{VIN}.{format}": {
      "get": {
        "operationId": "Stolen_Check",
        "tags": [
          "Stolen Check"
        ],
        "summary": "Stolen Check",
        "description": "VIN Stolen Check returns an object with price, balance and stolen array of objects with 'code' and 'status' properties. Each stolen object represents a 'database'.\n",
        "parameters": [
          {
            "name": "API_KEY",
            "in": "path",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CONTROL_SUM",
            "in": "path",
            "description": "The CONTROL_SUM for this endpoint is generated by taking the first 10 characters of the SHA1 hash of your VIN, the operation ID '<strong>stolen-check</strong>', API key, and secret key, concatenated in that order.<br/> <i>For instance</i>: <code>$controlSum = substr(sha1(\"{$vin}|stolen-check|{$apiKey}|{$secretKey}\"), 0, 10);</code><br/> For a complete guide, please refer to the <a href=\"https://vincario.com/api-docs/3.2/#api-how-to-create-a-request\">How to create a request</a>.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "VIN",
            "in": "path",
            "description": "Vehicle Identification Number",
            "required": true,
            "style": "simple",
            "schema": {
              "maxLength": 17,
              "minLength": 17,
              "type": "string"
            },
            "example": "XXXDEF1GH23456789"
          },
          {
            "name": "format",
            "in": "path",
            "description": "Response format (json or html)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an object with price, balance and stolen array of objects with 'code' and 'status' properties. Each stolen object represents a 'database'.\n",
            "content": {
              "application/json": {
                "schema": {
                  "description": "<pre>{\n  <span>\"vin\"</span>: <i>string</i>,\n  <span>\"price\":</span> <b>float</b>,\n  <span>\"price_currency\":</span> <i>string</i>,\n  <span>\"balance\":</span> {\n    <span>\"API Decode\":</span> <b>integer</b>,\n    <span>\"API Stolen Check\":</span> <b>integer</b>,\n    <span>\"API Vehicle Market Value\":</span> <b>integer</b>,\n    <span>\"API OEM VIN Lookup\":</span> <b>integer</b>\n  },\n  <span>\"stolen\"</span>: [\n    {\n        <span>\"code\"</span>: <b>string</b>,\n        <span>\"status\"</span>: <i>\"stolen\"</i><b>|</b><i>\"not-stolen\"</i><b>|</b><i>\"could-not-verify\"</i>\n    },\n    <b>...</b>\n  ],\n  <span>\"make_logo\"</span>: <i>string|null</i>\n}</pre>\n"
                },
                "examples": {
                  "Success response": {
                    "description": "<p><strong>Code could have these values:</strong></p> <ul> <li><strong>cz</strong> - Czech Republic</li> <li><strong>hu</strong> - Hungary</li> <li><strong>ro</strong> - Romania</li> <li><strong>si</strong> - Slovenia</li> <li><strong>sk</strong> - Slovakia</li> <li><strong>it</strong> - Italy</li> <li><strong>vincario</strong> - Our own database of stolen cars</li> </ul> <br/> <p><strong>Status could have these values:</strong></p> <ul> <li><strong>stolen</strong> - VIN is reported as stolen in the police database.</li> <li><strong>not-stolen</strong> - VIN is NOT reported in the police database.</li> <li><strong>could-not-verify</strong> - Respective police database failed to respond. Please, try again later.</li> </ul> <br/>\n",
                    "value": "{\"vin\":\"XXXDEF1GH23456789\",\"price\":0,\"price_currency\":\"CZK\",\"balance\":{\"API Decode\":218,\"API Stolen Check\":205,\"API Vehicle Market Value\":205,\"API OEM VIN Lookup\":0},\"stolen\":[{\"code\":\"cz\",\"status\":\"not-stolen\"},{\"code\":\"sk\",\"status\":\"stolen\"},{\"code\":\"ro\",\"status\":\"could-not-verify\"}],\"make_logo\":\"https://vindecoder.eu/img/make/volvo.svg\"}"
                  },
                  "When you use an incorrect API key": {
                    "value": "{\"error\":true,\"message\":\"Unknown API Key\"}"
                  },
                  "When you use an incorrect control sum": {
                    "value": "{\"error\":true,\"message\":\"Invalid Control sum\"}"
                  },
                  "When you run out of prepaid lookups": {
                    "value": "{\"error\":true,\"message\":\"Not Enough Lookups\"}"
                  },
                  "When you reach a limit of requests per minute": {
                    "value": "{\"error\":true,\"message\":\"You've reached limit of 60 requests per minute. Contact us at info@vincario.com for a customized limit.\"}"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The route could not be found."
          },
          "500": {
            "description": "Unexpected internal errors."
          }
        }
      }
    },
    "/3.2/{API_KEY}/{CONTROL_SUM}/balance.{format}": {
      "get": {
        "operationId": "Get_Balance",
        "tags": [
          "Get Balance"
        ],
        "summary": "Get Balance",
        "description": "Get balance returns an object, where the key is a lookup type and value is the balance. The types can be: <ul> <li>API Decode</li> <li>API Stolen Check</li> <li>API Vehicle Market Value</li> <li>API OEM VIN Lookup</li> </ul>\n",
        "parameters": [
          {
            "name": "API_KEY",
            "in": "path",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CONTROL_SUM",
            "in": "path",
            "description": "The CONTROL_SUM for this endpoint is generated by taking the first 10 characters of the SHA1 hash of your VIN, the operation ID '<strong>balance</strong>', API key, and secret key, concatenated in that order.<br/> <i>For instance</i>: <code>$controlSum = substr(sha1(\"{$vin}|balance|{$apiKey}|{$secretKey}\"), 0, 10);</code><br/> For a complete guide, please refer to the <a href=\"https://vincario.com/api-docs/3.2/#api-how-to-create-a-request\">How to create a request</a>.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "path",
            "description": "Response format (json or html)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rreturns an object, where the key is a lookup type and value is the balance. The types can be: <ul> <li>API Decode</li> <li>API Stolen Check</li> <li>API Vehicle Market Value</li> <li>API OEM VIN Lookup</li> </ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "description": "<pre>{\n  <span>\"API Decode\":</span> <b>integer</b>,\n  <span>\"API Stolen Check\":</span> <b>integer</b>,\n  <span>\"API Vehicle Market Value\":</span> <b>integer</b>,\n  <span>\"API OEM VIN Lookup\":</span> <b>integer</b>\n}</pre>\n"
                },
                "examples": {
                  "Success response": {
                    "value": "{\"API Decode\":218,\"API Stolen Check\":205,\"API Vehicle Market Value\":205,\"API OEM VIN Lookup\":0}"
                  },
                  "When you use an incorrect API key": {
                    "value": "{\"error\":true,\"message\":\"Unknown API Key\"}"
                  },
                  "When you use an incorrect control sum": {
                    "value": "{\"error\":true,\"message\":\"Invalid Control sum\"}"
                  },
                  "When you reach a limit of requests per minute": {
                    "value": "{\"error\":true,\"message\":\"You've reached limit of 60 requests per minute. Contact us at info@vincario.com for a customized limit.\"}"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The route could not be found."
          },
          "500": {
            "description": "Unexpected internal errors."
          }
        }
      }
    },
    "/3.2/{API_KEY}/{CONTROL_SUM}/decode/value-list/enum/enum_make.{format}": {
      "get": {
        "operationId": "Enum_Make",
        "tags": [
          "Enums"
        ],
        "summary": "Make",
        "description": "This endpoint provides a detailed list of vehicle manufacturers available in the VIN Decoder API. Each entry includes an <strong>id</strong> and a <strong>value</strong>, where the <strong>id</strong> is a unique identifier for the manufacturer, and the <strong>value</strong> is the name of the manufacturer. The list encompasses a wide range of vehicle manufacturers from global automotive brands to specialized vehicle producers, offering comprehensive coverage for various vehicle identification and categorization needs.\n",
        "parameters": [
          {
            "name": "API_KEY",
            "in": "path",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CONTROL_SUM",
            "in": "path",
            "description": "The CONTROL_SUM for this endpoint is generated by taking the first 10 characters of the SHA1 hash of your VIN, the operation ID '<strong>value-list-enum_make</strong>', API key, and secret key, concatenated in that order.<br/> <i>For instance</i>: <code>$controlSum = substr(sha1(\"{$vin}|value-list-enum_make|{$apiKey}|{$secretKey}\"), 0, 10);</code><br/> For a complete guide, please refer to the <a href=\"https://vincario.com/api-docs/3.2/#api-how-to-create-a-request\">How to create a request</a>.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "path",
            "description": "Response format (json or html)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an object where each key-value pair corresponds to a specific vehicle manufacturer. The key (<strong>id</strong>) serves as a unique identifier for each manufacturer, and the associated value (<strong>value</strong>) provides the manufacturer's name. This response format facilitates easy access to a wide array of manufacturers, ranging from well-known automotive brands to niche vehicle makers, ensuring versatile application in vehicle data analysis and user interfaces.\n",
            "content": {
              "application/json": {
                "schema": {
                  "description": "<pre>{\n  <span>\"key\"</span>:  {\n    <span>\"id\"</span>: <b>integer</b>\n    <span>\"value\"</span>: <i>string</i>\n  }\n}</pre>\n"
                },
                "examples": {
                  "Success response": {
                    "value": "{\"0\":{\"id\":0,\"value\":\"Non-standardized value\"},\"211\":{\"id\":211,\"value\":\"Aabenraa Motorfabrik\"},\"212\":{\"id\":212,\"value\":\"Abarth\"},\"213\":{\"id\":213,\"value\":\"Abg (Allg.Baumasch.Gesellsch.)\"},\"214\":{\"id\":214,\"value\":\"AC (AC Cars)\"},\"215\":{\"id\":215,\"value\":\"Access\"},\"216\":{\"id\":216,\"value\":\"Accossato\"},\"217\":{\"id\":217,\"value\":\"Acerbi\"},\"218\":{\"id\":218,\"value\":\"Ackermann-Fruehauf\"},\"219\":{\"id\":219,\"value\":\"Acme\"},\"2\":{\"id\":2,\"value\":\"Acura\"},\"220\":{\"id\":220,\"value\":\"Adamoli Truck\"},\"1930\":{\"id\":1930,\"value\":\"Adamoto\"},\"2197\":{\"id\":2197,\"value\":\"Adi-Tek\"},\"221\":{\"id\":221,\"value\":\"Adler\"},\"222\":{\"id\":222,\"value\":\"Adly\"},\"223\":{\"id\":223,\"value\":\"Adn (Acieries Du Nord)\"},\"175\":{\"id\":175,\"value\":\"Adria\"},\"224\":{\"id\":224,\"value\":\"Adriatica\"},\"225\":{\"id\":225,\"value\":\"Aebi Schmidt\"},\"226\":{\"id\":226,\"value\":\"AEC\"},\"227\":{\"id\":227,\"value\":\"Aeckerle\"},\"228\":{\"id\":228,\"value\":\"Aeon\"},\"1932\":{\"id\":1932,\"value\":\"Aermacchi\"},\"1933\":{\"id\":1933,\"value\":\"Aeromere\"},\"1802\":{\"id\":1802,\"value\":\"Agados\"},\"229\":{\"id\":229,\"value\":\"Agco (Deutz-Allis)\"},\"230\":{\"id\":230,\"value\":\"Agrale-Deutz\"},\"231\":{\"id\":231,\"value\":\"Agria\"},\"2228\":{\"id\":2228,\"value\":\"Agricom\"},\"232\":{\"id\":232,\"value\":\"Agrifull (N.H.Geotech)\"},\"2301\":{\"id\":2301,\"value\":\"Agrog\u00e9p\"},\"233\":{\"id\":233,\"value\":\"Ahlmann\"},\"234\":{\"id\":234,\"value\":\"Aidi\"},\"2109\":{\"id\":2109,\"value\":\"AIE\"},\"235\":{\"id\":235,\"value\":\"Aifo\"},\"2314\":{\"id\":2314,\"value\":\"AIL (Automotive Industries Ltd.)\"},\"236\":{\"id\":236,\"value\":\"AIM\"},\"237\":{\"id\":237,\"value\":\"Airco\"},\"2210\":{\"id\":2210,\"value\":\"Airstream\"},\"2363\":{\"id\":2363,\"value\":\"Aiways\"},\"238\":{\"id\":238,\"value\":\"Aixam\"},\"2061\":{\"id\":2061,\"value\":\"AJ\"},\"239\":{\"id\":239,\"value\":\"AJP\"},\"240\":{\"id\":240,\"value\":\"AJS\"},\"241\":{\"id\":241,\"value\":\"Akermans Verkstad Ab\"},\"242\":{\"id\":242,\"value\":\"Akt Motos\"},\"1934\":{\"id\":1934,\"value\":\"Akumoto\"},\"243\":{\"id\":243,\"value\":\"Al-Ghazi Tractors\"},\"244\":{\"id\":244,\"value\":\"Albajar (Iasa)\"},\"245\":{\"id\":245,\"value\":\"Albin\"},\"246\":{\"id\":246,\"value\":\"Albion\"},\"247\":{\"id\":247,\"value\":\"Alcatel\"},\"248\":{\"id\":248,\"value\":\"Alexander Dennis\"},\"3\":{\"id\":3,\"value\":\"Alfa Romeo\"},\"249\":{\"id\":249,\"value\":\"Alfer\"},\"250\":{\"id\":250,\"value\":\"Allgaier Werke\"},\"251\":{\"id\":251,\"value\":\"Allis-Chalmers\"},\"252\":{\"id\":252,\"value\":\"Alpina\"},\"253\":{\"id\":253,\"value\":\"Alpina (B.Bovensiepen Kg)\"},\"254\":{\"id\":254,\"value\":\"Alpine\"},\"255\":{\"id\":255,\"value\":\"Alsthom\"},\"256\":{\"id\":256,\"value\":\"Alvis\"},\"257\":{\"id\":257,\"value\":\"Am General Corp.\"},\"258\":{\"id\":258,\"value\":\"Amat\"},\"259\":{\"id\":259,\"value\":\"Amazonas\"},\"4\":{\"id\":4,\"value\":\"AMC\"},\"2304\":{\"id\":2304,\"value\":\"Amca Noval\"},\"260\":{\"id\":260,\"value\":\"Ameco\"},\"261\":{\"id\":261,\"value\":\"American Challenger\"},\"262\":{\"id\":262,\"value\":\"American Iron Horse\"},\"1935\":{\"id\":1935,\"value\":\"American Ironhorse\"},\"7\":{\"id\":7,\"value\":\"American LaFrance\"},\"1779\":{\"id\":1779,\"value\":\"Zhejiang\"},\"1780\":{\"id\":1780,\"value\":\"Zhengyu\"},\"2412\":{\"id\":2412,\"value\":\"Zhenhua\"},\"1781\":{\"id\":1781,\"value\":\"Zhi Dou Zd\"},\"1782\":{\"id\":1782,\"value\":\"Zhong Shun\"},\"1783\":{\"id\":1783,\"value\":\"Zhongbei\"},\"1784\":{\"id\":1784,\"value\":\"Zhonghua\"},\"1785\":{\"id\":1785,\"value\":\"Zhongtong\"},\"1786\":{\"id\":1786,\"value\":\"Zhongxing\"},\"1787\":{\"id\":1787,\"value\":\"Zhongyi\"},\"1788\":{\"id\":1788,\"value\":\"Zhongyu\"},\"1789\":{\"id\":1789,\"value\":\"Zhujiang\"},\"1790\":{\"id\":1790,\"value\":\"ZID\"},\"1791\":{\"id\":1791,\"value\":\"ZIL\"},\"1792\":{\"id\":1792,\"value\":\"Zilang\"},\"1793\":{\"id\":1793,\"value\":\"Zinoro\"},\"2014\":{\"id\":2014,\"value\":\"Zipp\"},\"1794\":{\"id\":1794,\"value\":\"ZMZ\"},\"1913\":{\"id\":1913,\"value\":\"Znen\"},\"1795\":{\"id\":1795,\"value\":\"Zonda\"},\"1796\":{\"id\":1796,\"value\":\"Zongshen\"},\"1797\":{\"id\":1797,\"value\":\"Zoomlion\"},\"2324\":{\"id\":2324,\"value\":\"Zoopa\"},\"1798\":{\"id\":1798,\"value\":\"Zorzi\"},\"1799\":{\"id\":1799,\"value\":\"Zotye\"},\"2464\":{\"id\":2464,\"value\":\"Zremb\"},\"210\":{\"id\":210,\"value\":\"Zuendapp\"},\"2015\":{\"id\":2015,\"value\":\"Z\u00fcndapp\"},\"2218\":{\"id\":2218,\"value\":\"ZX Auto\"},\"2423\":{\"id\":2423,\"value\":\"\u0410\u043c\u0441\"},\"2424\":{\"id\":2424,\"value\":\"\u041a\u0440\u0434\"},\"2470\":{\"id\":2470,\"value\":\"\u041b\u0456\u0434\u0435\u0440\"},\"2425\":{\"id\":2425,\"value\":\"\u041f\u0430\u0432\u0430\u043c\"},\"2430\":{\"id\":2430,\"value\":\"\u041f\u0433\"},\"2431\":{\"id\":2431,\"value\":\"\u041f\u0433\u043c\u0444\"}}"
                  },
                  "When you use an incorrect API key": {
                    "value": "{\"error\":true,\"message\":\"Unknown API Key\"}"
                  },
                  "When you use an incorrect control sum": {
                    "value": "{\"error\":true,\"message\":\"Invalid Control sum\"}"
                  },
                  "When you reach a limit of requests per minute": {
                    "value": "{\"error\":true,\"message\":\"You've reached limit of 60 requests per minute. Contact us at info@vincario.com for a customized limit.\"}"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The route could not be found."
          },
          "500": {
            "description": "Unexpected internal errors."
          }
        }
      }
    },
    "/3.2/{API_KEY}/{CONTROL_SUM}/decode/value-list/enum/enum_model.{format}": {
      "get": {
        "operationId": "Enum_Model",
        "tags": [
          "Enums"
        ],
        "summary": "Model",
        "description": "This endpoint offers a comprehensive list of vehicle models accessible through the VIN Decoder API. Each entry in the response contains a unique identifier (<strong>id</strong>) and the corresponding model name (<strong>value</strong>). It includes both standardized and non-standardized values to accommodate a wide range of vehicle models, from common passenger cars to more specialized types of vehicles.\n",
        "parameters": [
          {
            "name": "API_KEY",
            "in": "path",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CONTROL_SUM",
            "in": "path",
            "description": "The CONTROL_SUM for this endpoint is generated by taking the first 10 characters of the SHA1 hash of your VIN, the operation ID '<strong>value-list-enum_model</strong>', API key, and secret key, concatenated in that order.<br/> <i>For instance</i>: <code>$controlSum = substr(sha1(\"{$vin}|value-list-enum_model|{$apiKey}|{$secretKey}\"), 0, 10);</code><br/> For a complete guide, please refer to the <a href=\"https://vincario.com/api-docs/3.2/#api-how-to-create-a-request\">How to create a request</a>.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "path",
            "description": "Response format (json or html)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an object in which each key-value pair represents a specific vehicle model. The key (<strong>id</strong>) serves as a unique identifier for each model, while the associated value (<strong>value</strong>) provides the name of the model. This format enables straightforward integration and utilization in applications requiring detailed vehicle model categorization or identification.\n",
            "content": {
              "application/json": {
                "schema": {
                  "description": "<pre>{\n  <span>\"key\"</span>:  {\n    <span>\"id\"</span>: <b>integer</b>\n    <span>\"value\"</span>: <i>string</i>\n  }\n}</pre>\n"
                },
                "examples": {
                  "Success response": {
                    "value": "{\"0\":{\"id\":0,\"value\":\"Non-standardized value\"},\"21355\":{\"id\":21355,\"value\":\"@125\"},\"21356\":{\"id\":21356,\"value\":\"@150\"},\"25964\":{\"id\":25964,\"value\":\"0-1-21\"},\"25966\":{\"id\":25966,\"value\":\"0-3-39\"},\"18797\":{\"id\":18797,\"value\":\"00\"},\"18798\":{\"id\":18798,\"value\":\"01\"},\"26830\":{\"id\":26830,\"value\":\"01H\"},\"26831\":{\"id\":26831,\"value\":\"01N\"},\"18799\":{\"id\":18799,\"value\":\"02\"},\"28658\":{\"id\":28658,\"value\":\"02-\u0411\"},\"26482\":{\"id\":26482,\"value\":\"02B SGV\"},\"26829\":{\"id\":26829,\"value\":\"02H\"},\"26828\":{\"id\":26828,\"value\":\"02N\"},\"18800\":{\"id\":18800,\"value\":\"03\"},\"26796\":{\"id\":26796,\"value\":\"0352\"},\"18801\":{\"id\":18801,\"value\":\"04\"},\"18802\":{\"id\":18802,\"value\":\"05\"},\"28621\":{\"id\":28621,\"value\":\"050100\"},\"28622\":{\"id\":28622,\"value\":\"050105\"},\"28623\":{\"id\":28623,\"value\":\"050108\"},\"28624\":{\"id\":28624,\"value\":\"050122\"},\"26795\":{\"id\":26795,\"value\":\"0554\"},\"18803\":{\"id\":18803,\"value\":\"06\"},\"27536\":{\"id\":27536,\"value\":\"09\"},\"27537\":{\"id\":27537,\"value\":\"1\"},\"17310\":{\"id\":17310,\"value\":\"1 Series\"},\"20844\":{\"id\":20844,\"value\":\"1-280/350\"},\"27657\":{\"id\":27657,\"value\":\"1.0\"},\"26041\":{\"id\":26041,\"value\":\"10 MSX\"},\"17188\":{\"id\":17188,\"value\":\"100\"},\"17311\":{\"id\":17311,\"value\":\"100 NX\"},\"21357\":{\"id\":21357,\"value\":\"100/587 Robby\"},\"21358\":{\"id\":21358,\"value\":\"1000\"},\"27672\":{\"id\":27672,\"value\":\"1000 MB\"},\"21359\":{\"id\":21359,\"value\":\"1000 SS\"},\"17312\":{\"id\":17312,\"value\":\"1000 Thundercat\"},\"28480\":{\"id\":28480,\"value\":\"1000SC\"},\"17285\":{\"id\":17285,\"value\":\"1007\"},\"21360\":{\"id\":21360,\"value\":\"102\"},\"26721\":{\"id\":26721,\"value\":\"1021G\"},\"27146\":{\"id\":27146,\"value\":\"102A3\"},\"21361\":{\"id\":21361,\"value\":\"103\"},\"18804\":{\"id\":18804,\"value\":\"104\"},\"17189\":{\"id\":17189,\"value\":\"105\"},\"21362\":{\"id\":21362,\"value\":\"1050 Adventure\"},\"17190\":{\"id\":17190,\"value\":\"106\"},\"17191\":{\"id\":17191,\"value\":\"107\"},\"17192\":{\"id\":17192,\"value\":\"108\"},\"29076\":{\"id\":29076,\"value\":\"108 CDI\"},\"29077\":{\"id\":29077,\"value\":\"108 D\"},\"18125\":{\"id\":18125,\"value\":\"108 Mondial\"},\"29098\":{\"id\":29098,\"value\":\"109 D\"},\"21363\":{\"id\":21363,\"value\":\"1090 Adventure\"},\"21364\":{\"id\":21364,\"value\":\"1090 Adventure R\"},\"17286\":{\"id\":17286,\"value\":\"1098\"},\"21365\":{\"id\":21365,\"value\":\"1098 S\"},\"17193\":{\"id\":17193,\"value\":\"110\"},\"27433\":{\"id\":27433,\"value\":\"110 Testarossa\"},\"17287\":{\"id\":17287,\"value\":\"1100\"},\"28813\":{\"id\":28813,\"value\":\"110217\"},\"28802\":{\"id\":28802,\"value\":\"110307\"},\"28812\":{\"id\":28812,\"value\":\"110308\"},\"28806\":{\"id\":28806,\"value\":\"110557\"},\"29081\":{\"id\":29081,\"value\":\"111 CDI\"},\"28926\":{\"id\":28926,\"value\":\"1111\"},\"28924\":{\"id\":28924,\"value\":\"11113\"},\"29095\":{\"id\":29095,\"value\":\"1117\"},\"26237\":{\"id\":26237,\"value\":\"1117 Kalina\"},\"28906\":{\"id\":28906,\"value\":\"11173\"},\"28896\":{\"id\":28896,\"value\":\"111730\"},\"28907\":{\"id\":28907,\"value\":\"11174\"},\"28895\":{\"id\":28895,\"value\":\"111740\"},\"26238\":{\"id\":26238,\"value\":\"1118 Kalina\"},\"28885\":{\"id\":28885,\"value\":\"11183\"},\"28889\":{\"id\":28889,\"value\":\"111830\"},\"28897\":{\"id\":28897,\"value\":\"111840\"},\"26239\":{\"id\":26239,\"value\":\"1119 Kalina\"},\"28814\":{\"id\":28814,\"value\":\"11193\"},\"28904\":{\"id\":28904,\"value\":\"11194\"},\"28900\":{\"id\":28900,\"value\":\"111940\"},\"28535\":{\"id\":28535,\"value\":\"112\"},\"29080\":{\"id\":29080,\"value\":\"112 CDI\"},\"28625\":{\"id\":28625,\"value\":\"112012C\"},\"28627\":{\"id\":28627,\"value\":\"112213C\"},\"21366\":{\"id\":21366,\"value\":\"1125 R\"},\"21367\":{\"id\":21367,\"value\":\"1125CR\"},\"29242\":{\"id\":29242,\"value\":\"114\"},\"18805\":{\"id\":18805,\"value\":\"114d\"},\"18806\":{\"id\":18806,\"value\":\"114i\"},\"17194\":{\"id\":17194,\"value\":\"115\"},\"25742\":{\"id\":25742,\"value\":\"1150\"},\"17195\":{\"id\":17195,\"value\":\"116\"},\"18807\":{\"id\":18807,\"value\":\"116d\"},\"18808\":{\"id\":18808,\"value\":\"116i\"},\"26360\":{\"id\":26360,\"value\":\"118\"},\"28587\":{\"id\":28587,\"value\":\"1185\"},\"18809\":{\"id\":18809,\"value\":\"118d\"},\"18810\":{\"id\":18810,\"value\":\"118dX\"},\"18811\":{\"id\":18811,\"value\":\"118i\"},\"28586\":{\"id\":28586,\"value\":\"1190\"},\"21368\":{\"id\":21368,\"value\":\"1190 Adventure\"},\"21369\":{\"id\":21369,\"value\":\"1190 Adventure R\"},\"21370\":{\"id\":21370,\"value\":\"1190 RC8\"},\"21371\":{\"id\":21371,\"value\":\"1190 RC8R\"},\"21372\":{\"id\":21372,\"value\":\"1198\"},\"21373\":{\"id\":21373,\"value\":\"1198 R\"},\"21374\":{\"id\":21374,\"value\":\"1198 S\"},\"21375\":{\"id\":21375,\"value\":\"1198 SP\"},\"21376\":{\"id\":21376,\"value\":\"1199 Panigale\"},\"21377\":{\"id\":21377,\"value\":\"12\"},\"26039\":{\"id\":26039,\"value\":\"12 MXT\"},\"21378\":{\"id\":21378,\"value\":\"12.5\"},\"17196\":{\"id\":17196,\"value\":\"120\"},\"28482\":{\"id\":28482,\"value\":\"1200\"},\"17313\":{\"id\":17313,\"value\":\"1200 Sport\"},\"17314\":{\"id\":17314,\"value\":\"1200 Sportster\"},\"17288\":{\"id\":17288,\"value\":\"1203\"},\"18812\":{\"id\":18812,\"value\":\"1205\"},\"18813\":{\"id\":18813,\"value\":\"120d\"},\"18814\":{\"id\":18814,\"value\":\"120dX\"},\"18815\":{\"id\":18815,\"value\":\"120i\"},\"27548\":{\"id\":27548,\"value\":\"120T\"},\"17197\":{\"id\":17197,\"value\":\"121\"},\"29247\":{\"id\":29247,\"value\":\"123\"},\"18817\":{\"id\":18817,\"value\":\"123d\"},\"27258\":{\"id\":27258,\"value\":\"124\"},\"17315\":{\"id\":17315,\"value\":\"124 Spider\"},\"17200\":{\"id\":17200,\"value\":\"125\"},\"21379\":{\"id\":21379,\"value\":\"125 - M06\"},\"21380\":{\"id\":21380,\"value\":\"125 Cross\"},\"21381\":{\"id\":21381,\"value\":\"125 Dakar\"},\"17316\":{\"id\":17316,\"value\":\"125 Dandy\"},\"17317\":{\"id\":17317,\"value\":\"125 Duke\"},\"21382\":{\"id\":21382,\"value\":\"125 Enduro\"},\"22163\":{\"id\":22163,\"value\":\"125 EXC\"},\"21383\":{\"id\":21383,\"value\":\"125 EXE\"},\"21384\":{\"id\":21384,\"value\":\"125 gy-3\"},\"21385\":{\"id\":21385,\"value\":\"125 Holiday\"},\"21386\":{\"id\":21386,\"value\":\"125 M4TD\"},\"21387\":{\"id\":21387,\"value\":\"125 Motard\"},\"21388\":{\"id\":21388,\"value\":\"125 MX\"},\"21389\":{\"id\":21389,\"value\":\"125 PRO\"},\"21390\":{\"id\":21390,\"value\":\"125 R\"},\"21391\":{\"id\":21391,\"value\":\"125 RR\"},\"21392\":{\"id\":21392,\"value\":\"125 SM\"},\"21393\":{\"id\":21393,\"value\":\"125 Sport\"},\"21394\":{\"id\":21394,\"value\":\"125 Sting\"},\"21395\":{\"id\":21395,\"value\":\"125 SX\"},\"21396\":{\"id\":21396,\"value\":\"125 Tiger\"},\"17318\":{\"id\":17318,\"value\":\"125 Travel\"},\"21397\":{\"id\":21397,\"value\":\"125 Tyla Rattray\"},\"21398\":{\"id\":21398,\"value\":\"125/351\"},\"21399\":{\"id\":21399,\"value\":\"125/355\"},\"21400\":{\"id\":21400,\"value\":\"125/453\"},\"21401\":{\"id\":21401,\"value\":\"125/473\"},\"21402\":{\"id\":21402,\"value\":\"125/476\"},\"21403\":{\"id\":21403,\"value\":\"125/477\"},\"21404\":{\"id\":21404,\"value\":\"125/488\"},\"21405\":{\"id\":21405,\"value\":\"125/511\"},\"21406\":{\"id\":21406,\"value\":\"125/516\"},\"21407\":{\"id\":21407,\"value\":\"125/519\"},\"21408\":{\"id\":21408,\"value\":\"125/810 Chopper\"},\"21409\":{\"id\":21409,\"value\":\"125/810 Travel\"},\"26313\":{\"id\":26313,\"value\":\"1250\"},\"26889\":{\"id\":26889,\"value\":\"1250XI\"},\"18818\":{\"id\":18818,\"value\":\"125d\"},\"18819\":{\"id\":18819,\"value\":\"125i\"},\"20846\":{\"id\":20846,\"value\":\"125T-108\"},\"20847\":{\"id\":20847,\"value\":\"125T-23\"},\"20848\":{\"id\":20848,\"value\":\"125T-74\"},\"21410\":{\"id\":21410,\"value\":\"125t2c\"},\"17201\":{\"id\":17201,\"value\":\"126\"},\"17202\":{\"id\":17202,\"value\":\"127\"},\"17203\":{\"id\":17203,\"value\":\"128\"},\"18820\":{\"id\":18820,\"value\":\"128i\"},\"18767\":{\"id\":18767,\"value\":\"Z3\"},\"24020\":{\"id\":24020,\"value\":\"Z3 140\"},\"26125\":{\"id\":26125,\"value\":\"Z30\"},\"18768\":{\"id\":18768,\"value\":\"Z4\"},\"20193\":{\"id\":20193,\"value\":\"Z8\"},\"24025\":{\"id\":24025,\"value\":\"Z900RS\"},\"24026\":{\"id\":24026,\"value\":\"Z900RS Cafe\"},\"18769\":{\"id\":18769,\"value\":\"Zafira\"},\"28118\":{\"id\":28118,\"value\":\"Zafira Life\"},\"29285\":{\"id\":29285,\"value\":\"Zafira Tourer\"},\"28339\":{\"id\":28339,\"value\":\"Zagato\"},\"28036\":{\"id\":28036,\"value\":\"Zahara\"},\"21327\":{\"id\":21327,\"value\":\"ZCS 18\"},\"21328\":{\"id\":21328,\"value\":\"ZCS 24\"},\"28262\":{\"id\":28262,\"value\":\"ZDK 13000\"},\"27612\":{\"id\":27612,\"value\":\"ZDK 1800\"},\"18770\":{\"id\":18770,\"value\":\"ZDX\"},\"24027\":{\"id\":24027,\"value\":\"Zeal 250\"},\"26812\":{\"id\":26812,\"value\":\"Zen\"},\"24028\":{\"id\":24028,\"value\":\"ZEN BT125QT-12\"},\"28412\":{\"id\":28412,\"value\":\"Zenith 50\"},\"20194\":{\"id\":20194,\"value\":\"Zephyr\"},\"24029\":{\"id\":24029,\"value\":\"Zephyr 1100\"},\"24030\":{\"id\":24030,\"value\":\"Zephyr 550\"},\"24031\":{\"id\":24031,\"value\":\"Zephyr 750\"},\"24032\":{\"id\":24032,\"value\":\"ZERO 260 2T\"},\"18763\":{\"id\":18763,\"value\":\"Zeta\"},\"24033\":{\"id\":24033,\"value\":\"Zetka 125/120\"},\"20195\":{\"id\":20195,\"value\":\"Zeus 50\"},\"24034\":{\"id\":24034,\"value\":\"ZG 1200 VOYAGER\"},\"28521\":{\"id\":28521,\"value\":\"ZH-CJL125\"},\"28524\":{\"id\":28524,\"value\":\"ZH-CJL50\"},\"28523\":{\"id\":28523,\"value\":\"ZH-D50\"},\"28519\":{\"id\":28519,\"value\":\"ZH-SR125\"},\"28520\":{\"id\":28520,\"value\":\"ZH-SR50\"},\"24035\":{\"id\":24035,\"value\":\"Zigolo\"},\"24036\":{\"id\":24036,\"value\":\"Zing 125\"},\"24037\":{\"id\":24037,\"value\":\"Zing II 125\"},\"28153\":{\"id\":28153,\"value\":\"Zion 125\"},\"18772\":{\"id\":18772,\"value\":\"Zip\"},\"24038\":{\"id\":24038,\"value\":\"Zip 125\"},\"24039\":{\"id\":24039,\"value\":\"Zip 50\"},\"24040\":{\"id\":24040,\"value\":\"ZL 1000 Eliminator\"},\"24041\":{\"id\":24041,\"value\":\"ZL 400 Eliminator\"},\"24042\":{\"id\":24042,\"value\":\"ZL 600\"},\"24043\":{\"id\":24043,\"value\":\"ZL 900 Eliminator\"},\"24044\":{\"id\":24044,\"value\":\"ZN 1300 Voyager\"},\"24045\":{\"id\":24045,\"value\":\"ZN 700 LTD\"},\"21329\":{\"id\":21329,\"value\":\"ZN125T\"},\"20196\":{\"id\":20196,\"value\":\"ZN125T-32\"},\"21330\":{\"id\":21330,\"value\":\"ZN150T\"},\"21331\":{\"id\":21331,\"value\":\"ZN50QT\"},\"24046\":{\"id\":24046,\"value\":\"Znen 125\"},\"24047\":{\"id\":24047,\"value\":\"Znen 50\"},\"18773\":{\"id\":18773,\"value\":\"Zoe\"},\"20199\":{\"id\":20199,\"value\":\"Zoom 50\"},\"18774\":{\"id\":18774,\"value\":\"Zoom 50 2T\"},\"20198\":{\"id\":20198,\"value\":\"Zoom 50 4T\"},\"20197\":{\"id\":20197,\"value\":\"Zoom2 50 2T\"},\"21332\":{\"id\":21332,\"value\":\"ZPS 180\"},\"21333\":{\"id\":21333,\"value\":\"ZPW 120 B\"},\"29423\":{\"id\":29423,\"value\":\"ZR\"},\"24049\":{\"id\":24049,\"value\":\"ZR 50\"},\"24050\":{\"id\":24050,\"value\":\"ZR 550\"},\"24051\":{\"id\":24051,\"value\":\"ZR 7\"},\"28373\":{\"id\":28373,\"value\":\"ZR-V\"},\"24052\":{\"id\":24052,\"value\":\"ZRX 1100\"},\"24053\":{\"id\":24053,\"value\":\"ZRX 1200\"},\"24054\":{\"id\":24054,\"value\":\"ZRX 400\"},\"18776\":{\"id\":18776,\"value\":\"ZS\"},\"20200\":{\"id\":20200,\"value\":\"ZS 50 QT-4\"},\"29010\":{\"id\":29010,\"value\":\"Zs200A\"},\"25903\":{\"id\":25903,\"value\":\"ZSP-1.1\"},\"18777\":{\"id\":18777,\"value\":\"ZT\"},\"24055\":{\"id\":24055,\"value\":\"ZV 125\"},\"28576\":{\"id\":28576,\"value\":\"ZV 21\"},\"28577\":{\"id\":28577,\"value\":\"ZV 23\"},\"28574\":{\"id\":28574,\"value\":\"ZV 26\"},\"28575\":{\"id\":28575,\"value\":\"ZV 27\"},\"28578\":{\"id\":28578,\"value\":\"ZV 31\"},\"18778\":{\"id\":18778,\"value\":\"ZX\"},\"24056\":{\"id\":24056,\"value\":\"ZX 125\"},\"24057\":{\"id\":24057,\"value\":\"ZX 50\"},\"25605\":{\"id\":25605,\"value\":\"ZX 600\"},\"24059\":{\"id\":24059,\"value\":\"ZX-10\"},\"24060\":{\"id\":24060,\"value\":\"ZX-10R Ninja\"},\"24061\":{\"id\":24061,\"value\":\"ZX-12R Ninja\"},\"24062\":{\"id\":24062,\"value\":\"ZX-6R Ninja\"},\"24063\":{\"id\":24063,\"value\":\"ZX-6RR Ninja\"},\"20201\":{\"id\":20201,\"value\":\"ZX-7R\"},\"24064\":{\"id\":24064,\"value\":\"ZX-9R Ninja\"},\"24065\":{\"id\":24065,\"value\":\"ZX-RR\"},\"18781\":{\"id\":18781,\"value\":\"ZXR\"},\"24067\":{\"id\":24067,\"value\":\"ZXR 250\"},\"24068\":{\"id\":24068,\"value\":\"ZXR 400\"},\"24069\":{\"id\":24069,\"value\":\"ZXR 600\"},\"24070\":{\"id\":24070,\"value\":\"ZXR 750\"},\"24071\":{\"id\":24071,\"value\":\"ZXT 1000\"},\"24072\":{\"id\":24072,\"value\":\"ZZ 125\"},\"24073\":{\"id\":24073,\"value\":\"ZZR 1100\"},\"24074\":{\"id\":24074,\"value\":\"ZZR 1200\"},\"24075\":{\"id\":24075,\"value\":\"ZZR 1400\"},\"24076\":{\"id\":24076,\"value\":\"ZZR 250\"},\"24077\":{\"id\":24077,\"value\":\"ZZR 400\"},\"24078\":{\"id\":24078,\"value\":\"ZZR 500\"},\"24079\":{\"id\":24079,\"value\":\"ZZR 600\"},\"28664\":{\"id\":28664,\"value\":\"\u0410-09201\"},\"28663\":{\"id\":28663,\"value\":\"\u0410-09202\"},\"28665\":{\"id\":28665,\"value\":\"\u0410-09212\"},\"28666\":{\"id\":28666,\"value\":\"\u0410-09302\"},\"28669\":{\"id\":28669,\"value\":\"\u0410079.04\"},\"28672\":{\"id\":28672,\"value\":\"\u0410079.13\u0428\"},\"28667\":{\"id\":28667,\"value\":\"\u0410079.14\"},\"28671\":{\"id\":28671,\"value\":\"\u0410079.19\"},\"28668\":{\"id\":28668,\"value\":\"\u0410079.23\"},\"28670\":{\"id\":28670,\"value\":\"\u0410079.24\"},\"28694\":{\"id\":28694,\"value\":\"\u0414-150\"},\"28693\":{\"id\":28693,\"value\":\"\u0414-170\"},\"28687\":{\"id\":28687,\"value\":\"\u0414-200\"},\"28691\":{\"id\":28691,\"value\":\"\u0414-201\"},\"28688\":{\"id\":28688,\"value\":\"\u0414-210\"},\"28689\":{\"id\":28689,\"value\":\"\u0414-230\"},\"28692\":{\"id\":28692,\"value\":\"\u0414-250\"},\"28690\":{\"id\":28690,\"value\":\"\u0414-251\"},\"28695\":{\"id\":28695,\"value\":\"\u0414-300\"},\"28696\":{\"id\":28696,\"value\":\"\u0414-301\"},\"28707\":{\"id\":28707,\"value\":\"\u041f\u0430-0041\"},\"28706\":{\"id\":28706,\"value\":\"\u041f\u0430-0042\"},\"28710\":{\"id\":28710,\"value\":\"\u041f\u0430-0043\"},\"28709\":{\"id\":28709,\"value\":\"\u041f\u0430-0044\"},\"28708\":{\"id\":28708,\"value\":\"\u041f\u0430-0050\"}}"
                  },
                  "When you use an incorrect API key": {
                    "value": "{\"error\":true,\"message\":\"Unknown API Key\"}"
                  },
                  "When you use an incorrect control sum": {
                    "value": "{\"error\":true,\"message\":\"Invalid Control sum\"}"
                  },
                  "When you reach a limit of requests per minute": {
                    "value": "{\"error\":true,\"message\":\"You've reached limit of 60 requests per minute. Contact us at info@vincario.com for a customized limit.\"}"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The route could not be found."
          },
          "500": {
            "description": "Unexpected internal errors."
          }
        }
      }
    },
    "/3.2/{API_KEY}/{CONTROL_SUM}/decode/value-list/enum/enum_make_model.{format}": {
      "get": {
        "operationId": "Enum_Vehicle",
        "tags": [
          "Enums"
        ],
        "summary": "Vehicle",
        "description": "This endpoint retrieves a list of vehicle makes and models from the VIN Decoder API, where each entry is represented by a combination of make and model information. The data includes a unique identifier (<strong>vehicle_id</strong>) for each vehicle, along with identifiers for the make (<strong>make_id</strong>) and model (<strong>model_id</strong>), and the textual representations of the make (<strong>make</strong>) and model (<strong>model</strong>). This endpoint is essential for applications requiring a detailed enumeration of vehicle options, facilitating user selection and data analysis across a diverse range of automotive brands and models.\n",
        "parameters": [
          {
            "name": "API_KEY",
            "in": "path",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CONTROL_SUM",
            "in": "path",
            "description": "The CONTROL_SUM for this endpoint is generated by taking the first 10 characters of the SHA1 hash of your VIN, the operation ID '<strong>value-list-enum_make_model</strong>', API key, and secret key, concatenated in that order.<br/> <i>For instance</i>: <code>$controlSum = substr(sha1(\"{$vin}|value-list-enum_make_model|{$apiKey}|{$secretKey}\"), 0, 10);</code><br/> For a complete guide, please refer to the <a href=\"https://vincario.com/api-docs/3.2/#api-how-to-create-a-request\">How to create a request</a>.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "path",
            "description": "Response format (json or html)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an object in which each entry details a specific vehicle by combining its make and model. Every entry consists of a unique <strong>vehicle_id</strong>, identifiers for both make (<strong>make_id</strong>) and model (<strong>model_id</strong>), and their respective names (<strong>make</strong> and <strong>model</strong>). This structure provides a comprehensive overview of available vehicles, supporting precise identification and categorization in automotive databases and user interfaces.\n",
            "content": {
              "application/json": {
                "schema": {
                  "description": "<pre>{\n  <span>\"0\"</span>: {\n    <span>\"id\"</span>: <b>integer</b>,\n    <span>\"value\"</span>: <i>string</i>\n  },\n  <span>\"key\"</span>: {\n    <span>\"vehicle_id\"</span>: <b>integer</b>,\n    <span>\"make_id\"</span>: <b>integer</b>,\n    <span>\"model_id\"</span>: <b>integer</b>,\n    <span>\"make\"</span>: <i>string</i>,\n    <span>\"model\"</span>: <i>string</i>\n  }\n}</pre>\n"
                },
                "examples": {
                  "Success response": {
                    "value": "{\"0\":{\"id\":0,\"value\":\"Non-standardized value\"},\"27435\":{\"vehicle_id\":27435,\"make_id\":212,\"model_id\":17315,\"make\":\"Abarth\",\"model\":\"124 Spider\"},\"8429\":{\"vehicle_id\":8429,\"make_id\":212,\"model_id\":17252,\"make\":\"Abarth\",\"model\":\"500\"},\"8407\":{\"vehicle_id\":8407,\"make_id\":212,\"model_id\":17257,\"make\":\"Abarth\",\"model\":\"595\"},\"8511\":{\"vehicle_id\":8511,\"make_id\":212,\"model_id\":17265,\"make\":\"Abarth\",\"model\":\"695\"},\"9670\":{\"vehicle_id\":9670,\"make_id\":215,\"model_id\":17662,\"make\":\"Access\",\"model\":\"DRR 50\"},\"28427\":{\"vehicle_id\":28427,\"make_id\":215,\"model_id\":28131,\"make\":\"Access\",\"model\":\"Max 300\"},\"8479\":{\"vehicle_id\":8479,\"make_id\":215,\"model_id\":18570,\"make\":\"Access\",\"model\":\"Tomahawk 300\"},\"8491\":{\"vehicle_id\":8491,\"make_id\":215,\"model_id\":18571,\"make\":\"Access\",\"model\":\"Tomahawk 400\"},\"1\":{\"vehicle_id\":1,\"make_id\":215,\"model_id\":20087,\"make\":\"Access\",\"model\":\"Tomahawk SP250\"},\"9765\":{\"vehicle_id\":9765,\"make_id\":215,\"model_id\":18692,\"make\":\"Access\",\"model\":\"Warrior 450\"},\"8711\":{\"vehicle_id\":8711,\"make_id\":2,\"model_id\":17568,\"make\":\"Acura\",\"model\":\"CL\"},\"27436\":{\"vehicle_id\":27436,\"make_id\":2,\"model_id\":27198,\"make\":\"Acura\",\"model\":\"CSX\"},\"8779\":{\"vehicle_id\":8779,\"make_id\":2,\"model_id\":19650,\"make\":\"Acura\",\"model\":\"ILX\"},\"8911\":{\"vehicle_id\":8911,\"make_id\":2,\"model_id\":19652,\"make\":\"Acura\",\"model\":\"Integra\"},\"8459\":{\"vehicle_id\":8459,\"make_id\":2,\"model_id\":18102,\"make\":\"Acura\",\"model\":\"MDX\"},\"27438\":{\"vehicle_id\":27438,\"make_id\":2,\"model_id\":27200,\"make\":\"Acura\",\"model\":\"NSX\"},\"8609\":{\"vehicle_id\":8609,\"make_id\":2,\"model_id\":18312,\"make\":\"Acura\",\"model\":\"RDX\"},\"8733\":{\"vehicle_id\":8733,\"make_id\":2,\"model_id\":19935,\"make\":\"Acura\",\"model\":\"RL\"},\"27439\":{\"vehicle_id\":27439,\"make_id\":2,\"model_id\":27201,\"make\":\"Acura\",\"model\":\"RLX\"},\"8873\":{\"vehicle_id\":8873,\"make_id\":2,\"model_id\":18348,\"make\":\"Acura\",\"model\":\"RSX\"},\"27437\":{\"vehicle_id\":27437,\"make_id\":2,\"model_id\":27199,\"make\":\"Acura\",\"model\":\"SLX\"},\"8553\":{\"vehicle_id\":8553,\"make_id\":2,\"model_id\":18567,\"make\":\"Acura\",\"model\":\"TL\"},\"8709\":{\"vehicle_id\":8709,\"make_id\":2,\"model_id\":20086,\"make\":\"Acura\",\"model\":\"TLX\"},\"8993\":{\"vehicle_id\":8993,\"make_id\":2,\"model_id\":20094,\"make\":\"Acura\",\"model\":\"TSX\"},\"8529\":{\"vehicle_id\":8529,\"make_id\":2,\"model_id\":18770,\"make\":\"Acura\",\"model\":\"ZDX\"},\"11887\":{\"vehicle_id\":11887,\"make_id\":1930,\"model_id\":21903,\"make\":\"Adamoto\",\"model\":\"Cetos 125\"},\"26984\":{\"vehicle_id\":26984,\"make_id\":1930,\"model_id\":26761,\"make\":\"Adamoto\",\"model\":\"Cetos 50\"},\"11888\":{\"vehicle_id\":11888,\"make_id\":1930,\"model_id\":22232,\"make\":\"Adamoto\",\"model\":\"Fighter 50\"},\"26983\":{\"vehicle_id\":26983,\"make_id\":1930,\"model_id\":26760,\"make\":\"Adamoto\",\"model\":\"Speeder 125\"},\"26375\":{\"vehicle_id\":26375,\"make_id\":2197,\"model_id\":26182,\"make\":\"Adi-Tek\",\"model\":\"A 2001 A\"},\"26393\":{\"vehicle_id\":26393,\"make_id\":2197,\"model_id\":26190,\"make\":\"Adi-Tek\",\"model\":\"A 2002 B\"},\"26396\":{\"vehicle_id\":26396,\"make_id\":2197,\"model_id\":26193,\"make\":\"Adi-Tek\",\"model\":\"A 2502 B\"},\"26416\":{\"vehicle_id\":26416,\"make_id\":2197,\"model_id\":26208,\"make\":\"Adi-Tek\",\"model\":\"B 0952 B\"},\"26399\":{\"vehicle_id\":26399,\"make_id\":2197,\"model_id\":26195,\"make\":\"Adi-Tek\",\"model\":\"C 2033 HT\"},\"26400\":{\"vehicle_id\":26400,\"make_id\":2197,\"model_id\":26196,\"make\":\"Adi-Tek\",\"model\":\"C 2037 HT\"},\"26401\":{\"vehicle_id\":26401,\"make_id\":2197,\"model_id\":26197,\"make\":\"Adi-Tek\",\"model\":\"C 2041 HT\"},\"26403\":{\"vehicle_id\":26403,\"make_id\":2197,\"model_id\":26199,\"make\":\"Adi-Tek\",\"model\":\"C 2533 HT\"},\"26405\":{\"vehicle_id\":26405,\"make_id\":2197,\"model_id\":26201,\"make\":\"Adi-Tek\",\"model\":\"C 3042 HT\"},\"26404\":{\"vehicle_id\":26404,\"make_id\":2197,\"model_id\":26200,\"make\":\"Adi-Tek\",\"model\":\"C 3062 HT\"},\"26408\":{\"vehicle_id\":26408,\"make_id\":2197,\"model_id\":26203,\"make\":\"Adi-Tek\",\"model\":\"K 2022 HTC\"},\"26575\":{\"vehicle_id\":26575,\"make_id\":2197,\"model_id\":26349,\"make\":\"Adi-Tek\",\"model\":\"Langhus\"},\"26409\":{\"vehicle_id\":26409,\"make_id\":2197,\"model_id\":26204,\"make\":\"Adi-Tek\",\"model\":\"N 300\"},\"26412\":{\"vehicle_id\":26412,\"make_id\":2197,\"model_id\":26205,\"make\":\"Adi-Tek\",\"model\":\"N 610\"},\"26413\":{\"vehicle_id\":26413,\"make_id\":2197,\"model_id\":26206,\"make\":\"Adi-Tek\",\"model\":\"P 1310\"},\"26415\":{\"vehicle_id\":26415,\"make_id\":2197,\"model_id\":26207,\"make\":\"Adi-Tek\",\"model\":\"P 2010\"},\"11894\":{\"vehicle_id\":11894,\"make_id\":221,\"model_id\":22686,\"make\":\"Adler\",\"model\":\"M100\"},\"26418\":{\"vehicle_id\":26418,\"make_id\":175,\"model_id\":26210,\"make\":\"Adria\",\"model\":\"Adriatik\"},\"28281\":{\"vehicle_id\":28281,\"make_id\":175,\"model_id\":27991,\"make\":\"Adria\",\"model\":\"Matrix Supreme\"},\"26319\":{\"vehicle_id\":26319,\"make_id\":225,\"model_id\":26130,\"make\":\"Aebi Schmidt\",\"model\":\"MT720\"},\"28652\":{\"vehicle_id\":28652,\"make_id\":225,\"model_id\":28354,\"make\":\"Aebi Schmidt\",\"model\":\"TP420\"},\"11895\":{\"vehicle_id\":11895,\"make_id\":228,\"model_id\":22747,\"make\":\"Aeon\",\"model\":\"MINI-BIKE\"}}"
                  },
                  "When you use an incorrect API key": {
                    "value": "{\"error\":true,\"message\":\"Unknown API Key\"}"
                  },
                  "When you use an incorrect control sum": {
                    "value": "{\"error\":true,\"message\":\"Invalid Control sum\"}"
                  },
                  "When you reach a limit of requests per minute": {
                    "value": "{\"error\":true,\"message\":\"You've reached limit of 60 requests per minute. Contact us at info@vincario.com for a customized limit.\"}"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The route could not be found."
          },
          "500": {
            "description": "Unexpected internal errors."
          }
        }
      }
    },
    "/3.2/{API_KEY}/{CONTROL_SUM}/decode/value-list/enum/enum_body.{format}": {
      "get": {
        "operationId": "Enum_Body",
        "tags": [
          "Enums"
        ],
        "summary": "Body",
        "description": "This endpoint provides a comprehensive list of vehicle body types available in the VIN Decoder API. Each entry in the list includes an <strong>id</strong> and a <strong>value</strong> field, where the <strong>id</strong> is a unique identifier for the body type, and the <strong>value</strong> describes the type of vehicle body. The list covers a wide range of vehicle body types, from standard cars like sedans and hatchbacks to more specialized vehicles like motorcycles, scooters, and even non-standard vehicles such as jet skis and snowmobiles. This endpoint is particularly useful for applications that need to categorize or filter vehicles by body type, offering standardized and non-standardized values for flexibility in various use cases.\n",
        "parameters": [
          {
            "name": "API_KEY",
            "in": "path",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CONTROL_SUM",
            "in": "path",
            "description": "The CONTROL_SUM for this endpoint is generated by taking the first 10 characters of the SHA1 hash of your VIN, the operation ID '<strong>value-list-enum_body</strong>', API key, and secret key, concatenated in that order.<br/> <i>For instance</i>: <code>$controlSum = substr(sha1(\"{$vin}|value-list-enum_body|{$apiKey}|{$secretKey}\"), 0, 10);</code><br/> For a complete guide, please refer to the <a href=\"https://vincario.com/api-docs/3.2/#api-how-to-create-a-request\">How to create a request</a>.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "path",
            "description": "Response format (json or html)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an object where each key represents a unique identifier (<strong>id</strong>) for a specific vehicle body type, and the associated value provides a descriptive name (<strong>value</strong>) of that body type. The response covers a broad spectrum of vehicle bodies, including both standard automobile designs and specialized types such as motorcycles, all-terrain vehicles, and watercraft. This structured format allows for easy integration and categorization within automotive applications, enhancing vehicle data analysis and user selection processes.\n",
            "content": {
              "application/json": {
                "schema": {
                  "description": "<pre>{\n  <span>\"key\"</span>:  {\n    <span>\"id\"</span>: <b>integer</b>\n    <span>\"value\"</span>: <i>string</i>\n  }\n}</pre>\n"
                },
                "examples": {
                  "Success response": {
                    "value": "{\"0\":{\"id\":0,\"value\":\"Non-standardized value\"},\"1\":{\"id\":1,\"value\":\"Bus\"},\"2\":{\"id\":2,\"value\":\"Cabriolet/Convertible\"},\"3\":{\"id\":3,\"value\":\"Camper\"},\"4\":{\"id\":4,\"value\":\"Coupe\"},\"5\":{\"id\":5,\"value\":\"Hatchback/Liftback/Notchback\"},\"6\":{\"id\":6,\"value\":\"Jet Ski\"},\"7\":{\"id\":7,\"value\":\"Low Speed Vehicle (LSV)\"},\"8\":{\"id\":8,\"value\":\"Minivan\"},\"9\":{\"id\":9,\"value\":\"Motorcycle - Cruiser\"},\"10\":{\"id\":10,\"value\":\"Motorcycle - Custom\"},\"11\":{\"id\":11,\"value\":\"Motorcycle - Dirt Bike / Off-Road\"},\"12\":{\"id\":12,\"value\":\"Motorcycle - Dual Sport / Adventure / Supermoto / On/Off-Road\"},\"13\":{\"id\":13,\"value\":\"Motorcycle - Electro\"},\"14\":{\"id\":14,\"value\":\"Motorcycle - Enduro (Off-road long distance racing)\"},\"15\":{\"id\":15,\"value\":\"Motorcycle - Chopper\"},\"16\":{\"id\":16,\"value\":\"Motorcycle - Go Kart\"},\"17\":{\"id\":17,\"value\":\"Motorcycle - Scooter\"},\"18\":{\"id\":18,\"value\":\"Motorcycle - Side Car\"},\"19\":{\"id\":19,\"value\":\"Motorcycle - Small / Minibike\"},\"20\":{\"id\":20,\"value\":\"Motorcycle - Sport\"},\"21\":{\"id\":21,\"value\":\"Motorcycle - Standard\"},\"22\":{\"id\":22,\"value\":\"Motorcycle - Street / Naked\"},\"23\":{\"id\":23,\"value\":\"Motorcycle - Sport Touring\"},\"24\":{\"id\":24,\"value\":\"Motorcycle - Trike\"},\"25\":{\"id\":25,\"value\":\"Pickup\"},\"26\":{\"id\":26,\"value\":\"Quad - All Terrain Cycle (ATV)\"},\"27\":{\"id\":27,\"value\":\"Roadster\"},\"28\":{\"id\":28,\"value\":\"Sedan/Saloon\"},\"29\":{\"id\":29,\"value\":\"Snowmobile\"},\"30\":{\"id\":30,\"value\":\"Sport Utility Vehicle (SUV)/Multi Purpose Vehicle (MPV)\"},\"31\":{\"id\":31,\"value\":\"Streetcar\"},\"32\":{\"id\":32,\"value\":\"Tipper\"},\"33\":{\"id\":33,\"value\":\"Trailer\"},\"34\":{\"id\":34,\"value\":\"Truck\"},\"35\":{\"id\":35,\"value\":\"Tractor\"},\"36\":{\"id\":36,\"value\":\"Van\"},\"37\":{\"id\":37,\"value\":\"Wagon\"},\"38\":{\"id\":38,\"value\":\"Crossover Utility Vehicle (CUV)\"}}"
                  },
                  "When you use an incorrect API key": {
                    "value": "{\"error\":true,\"message\":\"Unknown API Key\"}"
                  },
                  "When you use an incorrect control sum": {
                    "value": "{\"error\":true,\"message\":\"Invalid Control sum\"}"
                  },
                  "When you reach a limit of requests per minute": {
                    "value": "{\"error\":true,\"message\":\"You've reached limit of 60 requests per minute. Contact us at info@vincario.com for a customized limit.\"}"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The route could not be found."
          },
          "500": {
            "description": "Unexpected internal errors."
          }
        }
      }
    },
    "/3.2/{API_KEY}/{CONTROL_SUM}/decode/value-list/enum/enum_color.{format}": {
      "get": {
        "operationId": "Enum_Color",
        "tags": [
          "Enums"
        ],
        "summary": "Color",
        "description": "This endpoint provides a list of standardized vehicle color options available through the VIN Decoder API. Each color entry includes a unique identifier (<strong>id</strong>) and a descriptive name (<strong>value</strong>) for the color. The list encompasses a wide range of common vehicle colors, facilitating accurate color identification and selection in automotive applications and databases.\n",
        "parameters": [
          {
            "name": "API_KEY",
            "in": "path",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CONTROL_SUM",
            "in": "path",
            "description": "The CONTROL_SUM for this endpoint is generated by taking the first 10 characters of the SHA1 hash of your VIN, the operation ID '<strong>value-list-enum_color</strong>', API key, and secret key, concatenated in that order.<br/> <i>For instance</i>: <code>$controlSum = substr(sha1(\"{$vin}|value-list-enum_color|{$apiKey}|{$secretKey}\"), 0, 10);</code><br/> For a complete guide, please refer to the <a href=\"https://vincario.com/api-docs/3.2/#api-how-to-create-a-request\">How to create a request</a>.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "path",
            "description": "Response format (json or html)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an object where each key-value pair represents a distinct vehicle color. The key (<strong>id</strong>) serves as a unique identifier for the color, while the associated value (<strong>value</strong>) describes the color name. This structured approach enables easy integration and use in systems requiring vehicle color data, ensuring consistent color categorization across a variety of automotive contexts.\n",
            "content": {
              "application/json": {
                "schema": {
                  "description": "<pre>{\n  <span>\"key\"</span>:  {\n    <span>\"id\"</span>: <b>integer</b>\n    <span>\"value\"</span>: <i>string</i>\n  }\n}</pre>\n"
                },
                "examples": {
                  "Success response": {
[...]
