{
  "openapi": "3.0.3",
  "info": {
    "title": "SurveyMonkey API",
    "version": "3.0.0",
    "description": "SurveyMonkey REST API v3 provides programmatic access to SurveyMonkey resources including surveys, collectors, responses, contacts, and more.",
    "x-jentic-source-url": "https://developer.surveymonkey.com/api/v3/",
    "contact": {
      "name": "SurveyMonkey Developer Support",
      "url": "https://developer.surveymonkey.com"
    }
  },
  "servers": [
    {
      "url": "https://api.surveymonkey.com/v3",
      "description": "SurveyMonkey API v3 Production"
    }
  ],
  "paths": {
    "/surveys": {
      "get": {
        "tags": [
          "Surveys"
        ],
        "summary": "List surveys",
        "description": "Returns a paginated list of surveys owned or shared with the authenticated user.",
        "operationId": "listSurveys",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Field to sort by (title, date_modified, num_responses)",
            "schema": {
              "type": "string",
              "enum": [
                "title",
                "date_modified",
                "num_responses"
              ]
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "default": "DESC"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Comma-separated additional fields to include (response_count, date_created, date_modified, language, question_count, analyze_url, preview, collect_stats)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "Filter by survey title (substring match)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_modified_at",
            "in": "query",
            "description": "Filter surveys modified after this date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_modified_at",
            "in": "query",
            "description": "Filter surveys modified before this date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "folder_id",
            "in": "query",
            "description": "Filter surveys by folder ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Surveys"
        ],
        "summary": "Create a survey",
        "description": "Creates a new survey. You can create a blank survey or from an existing survey/template.",
        "operationId": "createSurvey",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SurveyCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Survey created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Survey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/surveys/{surveyId}": {
      "get": {
        "tags": [
          "Surveys"
        ],
        "summary": "Get survey details",
        "description": "Returns a survey's details including the survey design.",
        "operationId": "getSurvey",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Surveys"
        ],
        "summary": "Update a survey",
        "description": "Modifies a survey's title, nickname, or other properties.",
        "operationId": "updateSurvey",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SurveyUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Survey updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Surveys"
        ],
        "summary": "Delete a survey",
        "description": "Deletes a survey and all associated data.",
        "operationId": "deleteSurvey",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Survey deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/surveys/{surveyId}/details": {
      "get": {
        "tags": [
          "Surveys"
        ],
        "summary": "Get expanded survey details",
        "description": "Returns an expanded survey resource with all pages and questions included.",
        "operationId": "getSurveyDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/surveys/{surveyId}/pages": {
      "get": {
        "tags": [
          "Survey Pages"
        ],
        "summary": "List survey pages",
        "description": "Returns a list of pages for a survey.",
        "operationId": "listSurveyPages",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyIdParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyPageList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Survey Pages"
        ],
        "summary": "Create a survey page",
        "description": "Creates a new page in a survey.",
        "operationId": "createSurveyPage",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SurveyPageCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Page created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/surveys/{surveyId}/pages/{pageId}": {
      "get": {
        "tags": [
          "Survey Pages"
        ],
        "summary": "Get a survey page",
        "description": "Returns a page for a survey.",
        "operationId": "getSurveyPage",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyIdParam"
          },
          {
            "$ref": "#/components/parameters/PageIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Survey Pages"
        ],
        "summary": "Update a survey page",
        "description": "Modifies a page in a survey.",
        "operationId": "updateSurveyPage",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyIdParam"
          },
          {
            "$ref": "#/components/parameters/PageIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SurveyPageCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Page updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Survey Pages"
        ],
        "summary": "Delete a survey page",
        "description": "Deletes a page from a survey.",
        "operationId": "deleteSurveyPage",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyIdParam"
          },
          {
            "$ref": "#/components/parameters/PageIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Page deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/surveys/{surveyId}/pages/{pageId}/questions": {
      "get": {
        "tags": [
          "Survey Questions"
        ],
        "summary": "List questions on a page",
        "description": "Returns a list of questions on a survey page.",
        "operationId": "listSurveyQuestions",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyIdParam"
          },
          {
            "$ref": "#/components/parameters/PageIdParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Survey Questions"
        ],
        "summary": "Create a question",
        "description": "Creates a new question on a survey page.",
        "operationId": "createSurveyQuestion",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyIdParam"
          },
          {
            "$ref": "#/components/parameters/PageIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuestionCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Question created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Question"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/surveys/{surveyId}/pages/{pageId}/questions/{questionId}": {
      "get": {
        "tags": [
          "Survey Questions"
        ],
        "summary": "Get a question",
        "description": "Returns a question from a survey page.",
        "operationId": "getSurveyQuestion",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyIdParam"
          },
          {
            "$ref": "#/components/parameters/PageIdParam"
          },
          {
            "$ref": "#/components/parameters/QuestionIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Question"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Survey Questions"
        ],
        "summary": "Update a question",
        "description": "Modifies a question on a survey page.",
        "operationId": "updateSurveyQuestion",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyIdParam"
          },
          {
            "$ref": "#/components/parameters/PageIdParam"
          },
          {
            "$ref": "#/components/parameters/QuestionIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuestionCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Question updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Question"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Survey Questions"
        ],
        "summary": "Delete a question",
        "description": "Deletes a question from a survey page.",
        "operationId": "deleteSurveyQuestion",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyIdParam"
          },
          {
            "$ref": "#/components/parameters/PageIdParam"
          },
          {
            "$ref": "#/components/parameters/QuestionIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Question deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/surveys/{surveyId}/collectors": {
      "get": {
        "tags": [
          "Collectors"
        ],
        "summary": "List collectors for a survey",
        "description": "Returns a paginated list of collectors for a survey.",
        "operationId": "listSurveyCollectors",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyIdParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Field to sort by",
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "date_modified",
                "type",
                "status",
                "name"
              ]
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by collector name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Additional fields to include (type, status, response_count, date_created, date_modified, url)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectorList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Collectors"
        ],
        "summary": "Create a collector",
        "description": "Creates a new collector for a survey.",
        "operationId": "createCollector",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectorCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Collector created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collector"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/collectors/{collectorId}": {
      "get": {
        "tags": [
          "Collectors"
        ],
        "summary": "Get a collector",
        "description": "Returns a collector.",
        "operationId": "getCollector",
        "parameters": [
          {
            "$ref": "#/components/parameters/CollectorIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collector"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Collectors"
        ],
        "summary": "Update a collector",
        "description": "Modifies a collector.",
        "operationId": "updateCollector",
        "parameters": [
          {
            "$ref": "#/components/parameters/CollectorIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectorUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Collector updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collector"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Collectors"
        ],
        "summary": "Delete a collector",
        "description": "Deletes a collector.",
        "operationId": "deleteCollector",
        "parameters": [
          {
            "$ref": "#/components/parameters/CollectorIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Collector deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/collectors/{collectorId}/messages": {
      "get": {
        "tags": [
          "Collector Messages"
        ],
        "summary": "List collector messages",
        "description": "Returns a list of messages for an email collector.",
        "operationId": "listCollectorMessages",
        "parameters": [
          {
            "$ref": "#/components/parameters/CollectorIdParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectorMessageList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Collector Messages"
        ],
        "summary": "Create a collector message",
        "description": "Creates a message for an email collector.",
        "operationId": "createCollectorMessage",
        "parameters": [
          {
            "$ref": "#/components/parameters/CollectorIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectorMessageCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectorMessage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/collectors/{collectorId}/messages/{messageId}": {
      "get": {
        "tags": [
          "Collector Messages"
        ],
        "summary": "Get a collector message",
        "description": "Returns a message for a collector.",
        "operationId": "getCollectorMessage",
        "parameters": [
          {
            "$ref": "#/components/parameters/CollectorIdParam"
          },
          {
            "$ref": "#/components/parameters/MessageIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectorMessage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Collector Messages"
        ],
        "summary": "Update a collector message",
        "description": "Modifies a message for a collector.",
        "operationId": "updateCollectorMessage",
        "parameters": [
          {
            "$ref": "#/components/parameters/CollectorIdParam"
          },
          {
            "$ref": "#/components/parameters/MessageIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectorMessageCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectorMessage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Collector Messages"
        ],
        "summary": "Delete a collector message",
        "description": "Deletes a message from a collector.",
        "operationId": "deleteCollectorMessage",
        "parameters": [
          {
            "$ref": "#/components/parameters/CollectorIdParam"
          },
          {
            "$ref": "#/components/parameters/MessageIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Message deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/collectors/{collectorId}/messages/{messageId}/send": {
      "post": {
        "tags": [
          "Collector Messages"
        ],
        "summary": "Send a collector message",
        "description": "Sends or schedules a message for an email collector.",
        "operationId": "sendCollectorMessage",
        "parameters": [
          {
            "$ref": "#/components/parameters/CollectorIdParam"
          },
          {
            "$ref": "#/components/parameters/MessageIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scheduled_date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date to schedule the message. If not provided, sends immediately."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent or scheduled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectorMessage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/collectors/{collectorId}/messages/{messageId}/recipients": {
      "get": {
        "tags": [
          "Collector Recipients"
        ],
        "summary": "List message recipients",
        "description": "Returns a list of recipients for a collector message.",
        "operationId": "listMessageRecipients",
        "parameters": [
          {
            "$ref": "#/components/parameters/CollectorIdParam"
          },
          {
            "$ref": "#/components/parameters/MessageIdParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipientList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Collector Recipients"
        ],
        "summary": "Add recipients to a message",
        "description": "Adds recipients to a collector message.",
        "operationId": "addMessageRecipients",
        "parameters": [
          {
            "$ref": "#/components/parameters/CollectorIdParam"
          },
          {
            "$ref": "#/components/parameters/MessageIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecipientBulkCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Recipients added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipientBulkResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/collectors/{collectorId}/responses": {
      "get": {
        "tags": [
          "Responses"
        ],
        "summary": "List collector responses",
        "description": "Returns a list of responses for a collector.",
        "operationId": "listCollectorResponses",
        "parameters": [
          {
            "$ref": "#/components/parameters/CollectorIdParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "$ref": "#/components/parameters/SortByResponseParam"
          },
          {
            "$ref": "#/components/parameters/SortOrderParam"
          },
          {
            "$ref": "#/components/parameters/StatusParam"
          },
          {
            "$ref": "#/components/parameters/StartCreatedAtParam"
          },
          {
            "$ref": "#/components/parameters/EndCreatedAtParam"
          },
          {
            "$ref": "#/components/parameters/StartModifiedAtParam"
          },
          {
            "$ref": "#/components/parameters/EndModifiedAtParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/collectors/{collectorId}/responses/bulk": {
      "get": {
        "tags": [
          "Responses"
        ],
        "summary": "Get bulk collector responses",
        "description": "Returns full expanded responses for a collector including answer data.",
        "operationId": "getBulkCollectorResponses",
        "parameters": [
          {
            "$ref": "#/components/parameters/CollectorIdParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "$ref": "#/components/parameters/StatusParam"
          },
          {
            "$ref": "#/components/parameters/StartCreatedAtParam"
          },
          {
            "$ref": "#/components/parameters/EndCreatedAtParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkResponseList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/surveys/{surveyId}/responses": {
      "get": {
        "tags": [
          "Responses"
        ],
        "summary": "List survey responses",
        "description": "Returns a paginated list of responses for a survey.",
        "operationId": "listSurveyResponses",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyIdParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "$ref": "#/components/parameters/SortByResponseParam"
          },
          {
            "$ref": "#/components/parameters/SortOrderParam"
          },
          {
            "$ref": "#/components/parameters/StatusParam"
          },
          {
            "$ref": "#/components/parameters/StartCreatedAtParam"
          },
          {
            "$ref": "#/components/parameters/EndCreatedAtParam"
          },
          {
            "$ref": "#/components/parameters/StartModifiedAtParam"
          },
          {
            "$ref": "#/components/parameters/EndModifiedAtParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/surveys/{surveyId}/responses/bulk": {
      "get": {
        "tags": [
          "Responses"
        ],
        "summary": "Get bulk survey responses",
        "description": "Returns full expanded responses for a survey including answer data.",
        "operationId": "getBulkSurveyResponses",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyIdParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "$ref": "#/components/parameters/StatusParam"
          },
          {
            "$ref": "#/components/parameters/StartCreatedAtParam"
          },
          {
            "$ref": "#/components/parameters/EndCreatedAtParam"
          },
          {
            "name": "simple",
            "in": "query",
            "description": "If true, returns simplified response format",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkResponseList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/surveys/{surveyId}/responses/{responseId}": {
      "get": {
        "tags": [
          "Responses"
        ],
        "summary": "Get a survey response",
        "description": "Returns a single response for a survey.",
        "operationId": "getSurveyResponse",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyIdParam"
          },
          {
            "$ref": "#/components/parameters/ResponseIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Responses"
        ],
        "summary": "Update a response",
        "description": "Updates metadata for a survey response.",
        "operationId": "updateSurveyResponse",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyIdParam"
          },
          {
            "$ref": "#/components/parameters/ResponseIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponseUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Responses"
        ],
        "summary": "Delete a response",
        "description": "Deletes a survey response.",
        "operationId": "deleteSurveyResponse",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyIdParam"
          },
          {
            "$ref": "#/components/parameters/ResponseIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Response deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/surveys/{surveyId}/responses/{responseId}/details": {
      "get": {
        "tags": [
          "Responses"
        ],
        "summary": "Get expanded response details",
        "description": "Returns an expanded response including all answer details.",
        "operationId": "getSurveyResponseDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyIdParam"
          },
          {
            "$ref": "#/components/parameters/ResponseIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/contact_lists": {
      "get": {
        "tags": [
          "Contact Lists"
        ],
        "summary": "List contact lists",
        "description": "Returns a paginated list of contact lists.",
        "operationId": "listContactLists",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Contact Lists"
        ],
        "summary": "Create a contact list",
        "description": "Creates a new contact list.",
        "operationId": "createContactList",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactListCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact list created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/contact_lists/{contactListId}": {
      "get": {
        "tags": [
          "Contact Lists"
        ],
        "summary": "Get a contact list",
        "description": "Returns a contact list.",
        "operationId": "getContactList",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContactListIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Contact Lists"
        ],
        "summary": "Update a contact list",
        "description": "Modifies a contact list.",
        "operationId": "updateContactList",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContactListIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactListCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact list updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Contact Lists"
        ],
        "summary": "Delete a contact list",
        "description": "Deletes a contact list.",
        "operationId": "deleteContactList",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContactListIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact list deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/contact_lists/{contactListId}/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "List contacts in a contact list",
        "description": "Returns a paginated list of contacts in a contact list.",
        "operationId": "listContactListContacts",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContactListIdParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by contact status",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "optout",
                "bounced"
              ]
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort by field",
            "schema": {
              "type": "string",
              "enum": [
                "email",
                "first_name",
                "last_name",
                "date_created"
              ]
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "search_by",
            "in": "query",
            "description": "Field to search by (email, name)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search string",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListContactsList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create a contact in a list",
        "description": "Creates a new contact in a contact list.",
        "operationId": "createContactInList",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContactListIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/contact_lists/{contactListId}/contacts/{contactId}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get a contact",
        "description": "Returns a contact from a contact list.",
        "operationId": "getContact",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContactListIdParam"
          },
          {
            "$ref": "#/components/parameters/ContactIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update a contact",
        "description": "Modifies a contact in a contact list.",
        "operationId": "updateContact",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContactListIdParam"
          },
          {
            "$ref": "#/components/parameters/ContactIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete a contact",
        "description": "Deletes a contact from a contact list.",
        "operationId": "deleteContact",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContactListIdParam"
          },
          {
            "$ref": "#/components/parameters/ContactIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/contact_lists/{contactListId}/contacts/bulk": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Bulk add contacts to a list",
        "description": "Adds multiple contacts to a contact list in bulk.",
        "operationId": "bulkAddContacts",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContactListIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactBulkCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contacts added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactBulkResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "List all contacts",
        "description": "Returns a paginated list of all contacts.",
        "operationId": "listContacts",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListContactsList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/contacts/{contactId}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get a contact by ID",
        "description": "Returns a single contact.",
        "operationId": "getContactById",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContactIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List webhooks",
        "description": "Returns a list of webhooks.",
        "operationId": "listWebhooks",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create a webhook",
        "description": "Creates a new webhook.",
        "operationId": "createWebhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/webhooks/{webhookId}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get a webhook",
        "description": "Returns a webhook.",
        "operationId": "getWebhook",
        "parameters": [
          {
            "$ref": "#/components/parameters/WebhookIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update a webhook",
        "description": "Modifies a webhook.",
        "operationId": "updateWebhook",
        "parameters": [
          {
            "$ref": "#/components/parameters/WebhookIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete a webhook",
        "description": "Deletes a webhook.",
        "operationId": "deleteWebhook",
        "parameters": [
          {
            "$ref": "#/components/parameters/WebhookIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/users/me": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get current user",
        "description": "Returns the current authenticated user's account details.",
        "operationId": "getCurrentUser",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/groups": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "List groups",
        "description": "Returns a list of groups for the user's team.",
        "operationId": "listGroups",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/groups/{groupId}": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Get a group",
        "description": "Returns a group's details.",
        "operationId": "getGroup",
        "parameters": [
          {
            "$ref": "#/components/parameters/GroupIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/groups/{groupId}/members": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "List group members",
        "description": "Returns a list of members in a group.",
        "operationId": "listGroupMembers",
        "parameters": [
          {
            "$ref": "#/components/parameters/GroupIdParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupMemberList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/groups/{groupId}/members/{memberId}": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Get a group member",
        "description": "Returns a member of a group.",
        "operationId": "getGroupMember",
        "parameters": [
          {
            "$ref": "#/components/parameters/GroupIdParam"
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "description": "The ID of the member",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupMember"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/survey_folders": {
      "get": {
        "tags": [
          "Folders"
        ],
        "summary": "List survey folders",
        "description": "Returns a list of survey folders.",
        "operationId": "listSurveyFolders",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FolderList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "Create a survey folder",
        "description": "Creates a new survey folder.",
        "operationId": "createSurveyFolder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Folder created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/survey_folders/{folderId}": {
      "get": {
        "tags": [
          "Folders"
        ],
        "summary": "Get a survey folder",
        "description": "Returns a survey folder.",
        "operationId": "getSurveyFolder",
        "parameters": [
          {
            "$ref": "#/components/parameters/FolderIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Folders"
        ],
        "summary": "Update a survey folder",
        "description": "Modifies a survey folder.",
        "operationId": "updateSurveyFolder",
        "parameters": [
          {
            "$ref": "#/components/parameters/FolderIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Folder updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Folders"
        ],
        "summary": "Delete a survey folder",
        "description": "Deletes a survey folder.",
        "operationId": "deleteSurveyFolder",
        "parameters": [
          {
            "$ref": "#/components/parameters/FolderIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Folder deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/surveys/{surveyId}/languages": {
      "get": {
        "tags": [
          "Survey Languages"
        ],
        "summary": "List survey languages",
        "description": "Returns available translations for a survey.",
        "operationId": "listSurveyLanguages",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyLanguageList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/surveys/{surveyId}/languages/{languageCode}": {
      "get": {
        "tags": [
          "Survey Languages"
        ],
        "summary": "Get a survey language",
        "description": "Returns a translation for a survey.",
        "operationId": "getSurveyLanguage",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyIdParam"
          },
          {
            "name": "languageCode",
            "in": "path",
            "required": true,
            "description": "The language code (e.g., es, fr, de)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyLanguage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Survey Languages"
        ],
        "summary": "Set a survey language translation",
        "description": "Creates or updates a translation for a survey.",
        "operationId": "setSurveyLanguage",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyIdParam"
          },
          {
            "name": "languageCode",
            "in": "path",
            "required": true,
            "description": "The language code (e.g., es, fr, de)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SurveyLanguageTranslation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Translation updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyLanguage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/survey_categories": {
      "get": {
        "tags": [
          "Survey Categories"
        ],
        "summary": "List survey categories",
        "description": "Returns a list of available survey categories.",
        "operationId": "listSurveyCategories",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language for category names (e.g., en, es)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyCategoryList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/survey_templates": {
      "get": {
        "tags": [
          "Survey Templates"
        ],
        "summary": "List survey templates",
        "description": "Returns a list of available survey templates.",
        "operationId": "listSurveyTemplates",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language for template names",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by category",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyTemplateList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/benchmark_bundles": {
      "get": {
        "tags": [
          "Benchmark Bundles"
        ],
        "summary": "List benchmark bundles",
        "description": "Returns a list of available benchmark bundles.",
        "operationId": "listBenchmarkBundles",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BenchmarkBundleList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/benchmark_bundles/{bundleId}": {
      "get": {
        "tags": [
          "Benchmark Bundles"
        ],
        "summary": "Get a benchmark bundle",
        "description": "Returns a benchmark bundle's details.",
        "operationId": "getBenchmarkBundle",
        "parameters": [
          {
            "name": "bundleId",
            "in": "path",
            "required": true,
            "description": "The ID of the benchmark bundle",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BenchmarkBundle"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/question_bank/questions": {
      "get": {
        "tags": [
          "Question Bank"
        ],
        "summary": "List question bank questions",
        "description": "Returns a list of questions from the question bank.",
        "operationId": "listQuestionBankQuestions",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Locale for questions (e.g., en_US)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term to filter questions",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionBankList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/surveys/{surveyId}/rollups": {
      "get": {
        "tags": [
          "Responses"
        ],
        "summary": "Get survey rollups",
        "description": "Returns rollup statistics for survey responses.",
        "operationId": "getSurveyRollups",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Rollup"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/surveys/{surveyId}/trends": {
      "get": {
        "tags": [
          "Responses"
        ],
        "summary": "Get survey trends",
        "description": "Returns response trends for a survey over time.",
        "operationId": "getSurveyTrends",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Trend"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/collectors/{collectorId}/recipients": {
      "get": {
        "tags": [
          "Collector Recipients"
        ],
        "summary": "List collector recipients",
        "description": "Returns a list of recipients for a collector.",
        "operationId": "listCollectorRecipients",
        "parameters": [
          {
            "$ref": "#/components/parameters/CollectorIdParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipientList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/collectors/{collectorId}/recipients/{recipientId}": {
      "get": {
        "tags": [
          "Collector Recipients"
        ],
        "summary": "Get a collector recipient",
        "description": "Returns a recipient for a collector.",
        "operationId": "getCollectorRecipient",
        "parameters": [
          {
            "$ref": "#/components/parameters/CollectorIdParam"
          },
          {
            "name": "recipientId",
            "in": "path",
            "required": true,
            "description": "The ID of the recipient",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recipient"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "OAuth2",
        "description": "OAuth 2.0 Bearer token. Obtain via SurveyMonkey OAuth 2.0 flow."
      },
      "oauth2": {
        "type": "oauth2",
        "description": "SurveyMonkey OAuth 2.0 authorization",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.surveymonkey.com/oauth/authorize",
            "tokenUrl": "https://api.surveymonkey.com/oauth/token",
            "scopes": {
              "surveys_read": "View surveys and survey details",
              "surveys_write": "Create and edit surveys",
              "responses_read": "View survey responses",
              "responses_read_detail": "View detailed survey responses",
              "responses_write": "Create and edit survey responses",
              "collectors_read": "View collectors",
              "collectors_write": "Create and edit collectors",
              "contacts_read": "View contacts",
              "contacts_write": "Create and edit contacts",
              "webhooks_read": "View webhooks",
              "webhooks_write": "Create and edit webhooks",
              "groups_read": "View groups",
              "users_read": "View user information"
            }
          }
        }
      }
    },
    "parameters": {
      "PageParam": {
        "name": "page",
        "in": "query",
        "description": "Page number for pagination",
        "schema": {
          "type": "integer",
          "default": 1,
          "minimum": 1
        }
      },
      "PerPageParam": {
        "name": "per_page",
        "in": "query",
        "description": "Number of results per page (max 100)",
        "schema": {
          "type": "integer",
          "default": 50,
          "minimum": 1,
          "maximum": 100
        }
      },
      "SurveyIdParam": {
        "name": "surveyId",
        "in": "path",
        "required": true,
        "description": "The ID of the survey",
        "schema": {
          "type": "string"
        }
      },
      "PageIdParam": {
        "name": "pageId",
        "in": "path",
        "required": true,
        "description": "The ID of the survey page",
        "schema": {
          "type": "string"
        }
      },
      "QuestionIdParam": {
        "name": "questionId",
        "in": "path",
        "required": true,
        "description": "The ID of the question",
        "schema": {
          "type": "string"
        }
      },
      "CollectorIdParam": {
        "name": "collectorId",
        "in": "path",
        "required": true,
        "description": "The ID of the collector",
        "schema": {
          "type": "string"
        }
      },
      "MessageIdParam": {
        "name": "messageId",
        "in": "path",
        "required": true,
        "description": "The ID of the collector message",
        "schema": {
          "type": "string"
        }
      },
      "ResponseIdParam": {
        "name": "responseId",
        "in": "path",
        "required": true,
        "description": "The ID of the response",
        "schema": {
          "type": "string"
        }
      },
      "ContactListIdParam": {
        "name": "contactListId",
        "in": "path",
        "required": true,
        "description": "The ID of the contact list",
        "schema": {
          "type": "string"
        }
      },
      "ContactIdParam": {
        "name": "contactId",
        "in": "path",
        "required": true,
        "description": "The ID of the contact",
        "schema": {
          "type": "string"
        }
      },
      "WebhookIdParam": {
        "name": "webhookId",
        "in": "path",
        "required": true,
        "description": "The ID of the webhook",
        "schema": {
          "type": "string"
        }
      },
      "GroupIdParam": {
        "name": "groupId",
        "in": "path",
        "required": true,
        "description": "The ID of the group",
        "schema": {
          "type": "string"
        }
      },
      "FolderIdParam": {
        "name": "folderId",
        "in": "path",
        "required": true,
        "description": "The ID of the folder",
        "schema": {
          "type": "string"
        }
      },
      "SortByResponseParam": {
        "name": "sort_by",
        "in": "query",
        "description": "Field to sort by",
        "schema": {
          "type": "string",
          "enum": [
            "date_modified",
            "id"
          ]
        }
      },
      "SortOrderParam": {
        "name": "sort_order",
        "in": "query",
        "description": "Sort order",
        "schema": {
          "type": "string",
          "enum": [
            "ASC",
            "DESC"
          ]
        }
      },
      "StatusParam": {
        "name": "status",
        "in": "query",
        "description": "Filter by response status",
        "schema": {
          "type": "string",
          "enum": [
            "completed",
            "partial",
            "overquota",
            "disqualified"
          ]
        }
      },
      "StartCreatedAtParam": {
        "name": "start_created_at",
        "in": "query",
        "description": "Filter responses created after this date (ISO 8601)",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "EndCreatedAtParam": {
        "name": "end_created_at",
        "in": "query",
        "description": "Filter responses created before this date (ISO 8601)",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "StartModifiedAtParam": {
        "name": "start_modified_at",
        "in": "query",
        "description": "Filter responses modified after this date (ISO 8601)",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "EndModifiedAtParam": {
        "name": "end_modified_at",
        "in": "query",
        "description": "Filter responses modified before this date (ISO 8601)",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - invalid parameters or malformed request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid or missing access token",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Error identifier (e.g., 1000, 1001, 1002, 1003, 1004)"
              },
              "name": {
                "type": "string",
                "description": "Error name (e.g., Bad Request, Authorization Error, Permission Error, Resource Not Found, Resource Conflict)"
              },
              "docs": {
                "type": "string",
                "description": "URL to documentation for this error"
              },
              "message": {
                "type": "string",
                "description": "Human-readable error message"
              },
              "http_status_code": {
                "type": "integer",
                "description": "HTTP status code"
              }
            }
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number"
          },
          "per_page": {
            "type": "integer",
            "description": "Number of items per page"
          },
          "total": {
            "type": "integer",
            "description": "Total number of items"
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string",
                "format": "uri"
              },
              "prev": {
                "type": "string",
                "format": "uri"
              },
              "next": {
                "type": "string",
                "format": "uri"
              },
              "first": {
                "type": "string",
                "format": "uri"
              },
              "last": {
                "type": "string",
                "format": "uri"
              }
            }
          }
        }
      },
      "ResourceLink": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "href": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "SurveyList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Pagination"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SurveySummary"
                }
              }
            }
          }
        ]
      },
      "SurveySummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Survey ID"
          },
          "title": {
            "type": "string",
            "description": "Survey title"
          },
          "nickname": {
            "type": "string",
            "description": "Survey nickname"
          },
          "href": {
            "type": "string",
            "format": "uri",
            "description": "Resource URL"
          }
        }
      },
      "Survey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "nickname": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "question_count": {
            "type": "integer"
          },
          "page_count": {
            "type": "integer"
          },
          "date_created": {
            "type": "string",
            "format": "date-time"
          },
          "date_modified": {
            "type": "string",
            "format": "date-time"
          },
          "href": {
            "type": "string",
            "format": "uri"
          },
          "buttons_text": {
            "type": "object",
            "properties": {
              "next_button": {
                "type": "string"
              },
              "prev_button": {
                "type": "string"
              },
              "done_button": {
                "type": "string"
              },
              "exit_button": {
                "type": "string"
              }
            }
          },
          "preview": {
            "type": "string",
            "format": "uri",
            "description": "Preview URL"
          },
          "edit_url": {
[...]
