{
  "openapi": "3.0.3",
  "info": {
    "title": "MBTA V3 API",
    "description": "Massachusetts Bay Transportation Authority (MBTA) API providing real-time and scheduled transit data for the Boston area. Includes stations, routes, predictions, vehicles, alerts, and more. Follows the JSON:API specification.",
    "version": "3.0",
    "contact": {
      "name": "MBTA Developer Resources",
      "url": "https://www.mbta.com/developers/v3-api"
    },
    "license": {
      "name": "MassDOT Developers License Agreement",
      "url": "https://www.mbta.com/developers/v3-api/license"
    }
  },
  "servers": [
    {
      "url": "https://api-v3.mbta.com",
      "description": "MBTA V3 API Production Server"
    }
  ],
  "security": [
    {
      "apiKeyQuery": []
    },
    {
      "apiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "Alert",
      "description": "Service alerts and disruption communications"
    },
    {
      "name": "Facility",
      "description": "Stop amenities (elevators, escalators, parking, bike racks)"
    },
    {
      "name": "Line",
      "description": "Transit lines across all modes"
    },
    {
      "name": "LiveFacility",
      "description": "Real-time facility status"
    },
    {
      "name": "Prediction",
      "description": "Real-time predicted arrival/departure times"
    },
    {
      "name": "Route",
      "description": "Routes for each line"
    },
    {
      "name": "RoutePattern",
      "description": "Possible travel patterns per route"
    },
    {
      "name": "Schedule",
      "description": "Scheduled arrival/departure times"
    },
    {
      "name": "Service",
      "description": "Dates when trips occur"
    },
    {
      "name": "Shape",
      "description": "Polylines for trip mapping"
    },
    {
      "name": "Stop",
      "description": "Stations and boarding/disembarking locations"
    },
    {
      "name": "Trip",
      "description": "Vehicle movements along routes"
    },
    {
      "name": "Vehicle",
      "description": "Real-time vehicle positions"
    }
  ],
  "paths": {
    "/alerts": {
      "get": {
        "operationId": "listAlerts",
        "summary": "List alerts",
        "description": "List all alert resources. Supports filtering, sorting, pagination, and field selection per JSON:API specification.",
        "tags": [
          "Alert"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageOffset"
          },
          {
            "$ref": "#/components/parameters/pageLimit"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "name": "fields[alert]",
            "in": "query",
            "description": "Fields to include in response (comma-separated)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[activity]",
            "in": "query",
            "description": "Filter by activity type (e.g. BOARD, EXIT, RIDE)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[route_type]",
            "in": "query",
            "description": "Filter by route type (0=Light Rail, 1=Heavy Rail, 2=Commuter Rail, 3=Bus, 4=Ferry)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[direction_id]",
            "in": "query",
            "description": "Filter by direction (0 or 1)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[route]",
            "in": "query",
            "description": "Filter by route ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[stop]",
            "in": "query",
            "description": "Filter by stop ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[trip]",
            "in": "query",
            "description": "Filter by trip ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[facility]",
            "in": "query",
            "description": "Filter by facility ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[id]",
            "in": "query",
            "description": "Filter by alert ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[banner]",
            "in": "query",
            "description": "Filter for banner alerts",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[datetime]",
            "in": "query",
            "description": "Filter by active period datetime",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[lifecycle]",
            "in": "query",
            "description": "Filter by lifecycle (NEW, ONGOING, ONGOING_UPCOMING, UPCOMING)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[severity]",
            "in": "query",
            "description": "Filter by severity",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - rate limit exceeded"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/alerts/{id}": {
      "get": {
        "operationId": "getAlert",
        "summary": "Get an alert",
        "description": "Get a single alert resource by ID.",
        "tags": [
          "Alert"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Alert ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "name": "fields[alert]",
            "in": "query",
            "description": "Fields to include in response (comma-separated)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/facilities": {
      "get": {
        "operationId": "listFacilitys",
        "summary": "List facilities",
        "description": "List all facility resources. Supports filtering, sorting, pagination, and field selection per JSON:API specification.",
        "tags": [
          "Facility"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageOffset"
          },
          {
            "$ref": "#/components/parameters/pageLimit"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "name": "fields[facility]",
            "in": "query",
            "description": "Fields to include in response (comma-separated)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[stop]",
            "in": "query",
            "description": "Filter by stop ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[type]",
            "in": "query",
            "description": "Filter by facility type (e.g. ELEVATOR, ESCALATOR, PARKING_AREA, BIKE_STORAGE)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - rate limit exceeded"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/facilities/{id}": {
      "get": {
        "operationId": "getFacility",
        "summary": "Get a facility",
        "description": "Get a single facility resource by ID.",
        "tags": [
          "Facility"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Facility ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "name": "fields[facility]",
            "in": "query",
            "description": "Fields to include in response (comma-separated)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/lines": {
      "get": {
        "operationId": "listLines",
        "summary": "List lines",
        "description": "List all line resources. Supports filtering, sorting, pagination, and field selection per JSON:API specification.",
        "tags": [
          "Line"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageOffset"
          },
          {
            "$ref": "#/components/parameters/pageLimit"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "name": "fields[line]",
            "in": "query",
            "description": "Fields to include in response (comma-separated)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[id]",
            "in": "query",
            "description": "Filter by line ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - rate limit exceeded"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/lines/{id}": {
      "get": {
        "operationId": "getLine",
        "summary": "Get a line",
        "description": "Get a single line resource by ID.",
        "tags": [
          "Line"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Line ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "name": "fields[line]",
            "in": "query",
            "description": "Fields to include in response (comma-separated)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/live_facilities": {
      "get": {
        "operationId": "listLiveFacilitys",
        "summary": "List live facility statuses",
        "description": "List all livefacility resources. Supports filtering, sorting, pagination, and field selection per JSON:API specification.",
        "tags": [
          "LiveFacility"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageOffset"
          },
          {
            "$ref": "#/components/parameters/pageLimit"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "name": "filter[id]",
            "in": "query",
            "description": "Filter by facility ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - rate limit exceeded"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/live_facilities/{id}": {
      "get": {
        "operationId": "getLiveFacility",
        "summary": "Get live facility status",
        "description": "Get a single livefacility resource by ID.",
        "tags": [
          "LiveFacility"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "LiveFacility ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/include"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/predictions": {
      "get": {
        "operationId": "listPredictions",
        "summary": "List predictions",
        "description": "List all prediction resources. Supports filtering, sorting, pagination, and field selection per JSON:API specification.",
        "tags": [
          "Prediction"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageOffset"
          },
          {
            "$ref": "#/components/parameters/pageLimit"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "name": "fields[prediction]",
            "in": "query",
            "description": "Fields to include in response (comma-separated)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[latitude]",
            "in": "query",
            "description": "Latitude for location-based filtering",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "filter[longitude]",
            "in": "query",
            "description": "Longitude for location-based filtering",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "filter[radius]",
            "in": "query",
            "description": "Radius in degrees for location filtering",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "filter[direction_id]",
            "in": "query",
            "description": "Filter by direction (0 or 1)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[route_type]",
            "in": "query",
            "description": "Filter by route type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[stop]",
            "in": "query",
            "description": "Filter by stop ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[route]",
            "in": "query",
            "description": "Filter by route ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[trip]",
            "in": "query",
            "description": "Filter by trip ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[revenue]",
            "in": "query",
            "description": "Filter by revenue status",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - rate limit exceeded"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/routes": {
      "get": {
        "operationId": "listRoutes",
        "summary": "List routes",
        "description": "List all route resources. Supports filtering, sorting, pagination, and field selection per JSON:API specification.",
        "tags": [
          "Route"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageOffset"
          },
          {
            "$ref": "#/components/parameters/pageLimit"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "name": "fields[route]",
            "in": "query",
            "description": "Fields to include in response (comma-separated)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[stop]",
            "in": "query",
            "description": "Filter by stop ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[type]",
            "in": "query",
            "description": "Filter by route type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[direction_id]",
            "in": "query",
            "description": "Filter by direction (0 or 1)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[date]",
            "in": "query",
            "description": "Filter by service date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[id]",
            "in": "query",
            "description": "Filter by route ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - rate limit exceeded"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/routes/{id}": {
      "get": {
        "operationId": "getRoute",
        "summary": "Get a route",
        "description": "Get a single route resource by ID.",
        "tags": [
          "Route"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Route ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "name": "fields[route]",
            "in": "query",
            "description": "Fields to include in response (comma-separated)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/route_patterns": {
      "get": {
        "operationId": "listRoutePatterns",
        "summary": "List route patterns",
        "description": "List all routepattern resources. Supports filtering, sorting, pagination, and field selection per JSON:API specification.",
        "tags": [
          "RoutePattern"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageOffset"
          },
          {
            "$ref": "#/components/parameters/pageLimit"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "name": "fields[route_pattern]",
            "in": "query",
            "description": "Fields to include in response (comma-separated)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[id]",
            "in": "query",
            "description": "Filter by route pattern ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[route]",
            "in": "query",
            "description": "Filter by route ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[direction_id]",
            "in": "query",
            "description": "Filter by direction (0 or 1)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[stop]",
            "in": "query",
            "description": "Filter by stop ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[canonical]",
            "in": "query",
            "description": "Filter for canonical patterns only",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - rate limit exceeded"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/route_patterns/{id}": {
      "get": {
        "operationId": "getRoutePattern",
        "summary": "Get a route pattern",
        "description": "Get a single routepattern resource by ID.",
        "tags": [
          "RoutePattern"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "RoutePattern ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "name": "fields[route_pattern]",
            "in": "query",
            "description": "Fields to include in response (comma-separated)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/schedules": {
      "get": {
        "operationId": "listSchedules",
        "summary": "List schedules",
        "description": "List all schedule resources. Supports filtering, sorting, pagination, and field selection per JSON:API specification.",
        "tags": [
          "Schedule"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageOffset"
          },
          {
            "$ref": "#/components/parameters/pageLimit"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "name": "fields[schedule]",
            "in": "query",
            "description": "Fields to include in response (comma-separated)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[date]",
            "in": "query",
            "description": "Filter by service date (YYYY-MM-DD)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[direction_id]",
            "in": "query",
            "description": "Filter by direction (0 or 1)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[route_type]",
            "in": "query",
            "description": "Filter by route type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[min_time]",
            "in": "query",
            "description": "Filter by minimum time (HH:MM)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[max_time]",
            "in": "query",
            "description": "Filter by maximum time (HH:MM)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[route]",
            "in": "query",
            "description": "Filter by route ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[stop]",
            "in": "query",
            "description": "Filter by stop ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[trip]",
            "in": "query",
            "description": "Filter by trip ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - rate limit exceeded"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/services": {
      "get": {
        "operationId": "listServices",
        "summary": "List services",
        "description": "List all service resources. Supports filtering, sorting, pagination, and field selection per JSON:API specification.",
        "tags": [
          "Service"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageOffset"
          },
          {
            "$ref": "#/components/parameters/pageLimit"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "name": "fields[service]",
            "in": "query",
            "description": "Fields to include in response (comma-separated)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[id]",
            "in": "query",
            "description": "Filter by service ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[route]",
            "in": "query",
            "description": "Filter by route ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - rate limit exceeded"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/services/{id}": {
      "get": {
        "operationId": "getService",
        "summary": "Get a service",
        "description": "Get a single service resource by ID.",
        "tags": [
          "Service"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Service ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "name": "fields[service]",
            "in": "query",
            "description": "Fields to include in response (comma-separated)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/shapes": {
      "get": {
        "operationId": "listShapes",
        "summary": "List shapes",
        "description": "List all shape resources. Supports filtering, sorting, pagination, and field selection per JSON:API specification.",
        "tags": [
          "Shape"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageOffset"
          },
          {
            "$ref": "#/components/parameters/pageLimit"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "name": "fields[shape]",
            "in": "query",
            "description": "Fields to include in response (comma-separated)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[route]",
            "in": "query",
            "description": "Filter by route ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - rate limit exceeded"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/shapes/{id}": {
      "get": {
        "operationId": "getShape",
        "summary": "Get a shape",
        "description": "Get a single shape resource by ID.",
        "tags": [
          "Shape"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Shape ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "name": "fields[shape]",
            "in": "query",
            "description": "Fields to include in response (comma-separated)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/stops": {
      "get": {
        "operationId": "listStops",
        "summary": "List stops",
        "description": "List all stop resources. Supports filtering, sorting, pagination, and field selection per JSON:API specification.",
        "tags": [
          "Stop"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageOffset"
          },
          {
            "$ref": "#/components/parameters/pageLimit"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "name": "fields[stop]",
            "in": "query",
            "description": "Fields to include in response (comma-separated)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[date]",
            "in": "query",
            "description": "Filter by service date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[direction_id]",
            "in": "query",
            "description": "Filter by direction (0 or 1)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[latitude]",
            "in": "query",
            "description": "Latitude for location-based filtering",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "filter[longitude]",
            "in": "query",
            "description": "Longitude for location-based filtering",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "filter[radius]",
            "in": "query",
            "description": "Radius in degrees for location filtering",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "filter[id]",
            "in": "query",
            "description": "Filter by stop ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[route_type]",
            "in": "query",
            "description": "Filter by route type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[route]",
            "in": "query",
            "description": "Filter by route ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[location_type]",
            "in": "query",
            "description": "Filter by location type (0=Stop, 1=Station, 2=Entrance/Exit)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - rate limit exceeded"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/stops/{id}": {
      "get": {
        "operationId": "getStop",
        "summary": "Get a stop",
        "description": "Get a single stop resource by ID.",
        "tags": [
          "Stop"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stop ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "name": "fields[stop]",
            "in": "query",
            "description": "Fields to include in response (comma-separated)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/trips": {
      "get": {
        "operationId": "listTrips",
        "summary": "List trips",
        "description": "List all trip resources. Supports filtering, sorting, pagination, and field selection per JSON:API specification.",
        "tags": [
          "Trip"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageOffset"
          },
          {
            "$ref": "#/components/parameters/pageLimit"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "name": "fields[trip]",
            "in": "query",
            "description": "Fields to include in response (comma-separated)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[date]",
            "in": "query",
            "description": "Filter by service date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[direction_id]",
            "in": "query",
            "description": "Filter by direction (0 or 1)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[route]",
            "in": "query",
            "description": "Filter by route ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[revenue]",
            "in": "query",
            "description": "Filter by revenue status (REVENUE, NON_REVENUE)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[route_pattern]",
            "in": "query",
            "description": "Filter by route pattern ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[id]",
            "in": "query",
            "description": "Filter by trip ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[name]",
            "in": "query",
            "description": "Filter by trip name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - rate limit exceeded"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/trips/{id}": {
      "get": {
        "operationId": "getTrip",
        "summary": "Get a trip",
        "description": "Get a single trip resource by ID.",
        "tags": [
          "Trip"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Trip ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "name": "fields[trip]",
            "in": "query",
            "description": "Fields to include in response (comma-separated)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/vehicles": {
      "get": {
        "operationId": "listVehicles",
        "summary": "List vehicles",
        "description": "List all vehicle resources. Supports filtering, sorting, pagination, and field selection per JSON:API specification.",
        "tags": [
          "Vehicle"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageOffset"
          },
          {
            "$ref": "#/components/parameters/pageLimit"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "name": "fields[vehicle]",
            "in": "query",
            "description": "Fields to include in response (comma-separated)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[id]",
            "in": "query",
            "description": "Filter by vehicle ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[trip]",
            "in": "query",
            "description": "Filter by trip ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[label]",
            "in": "query",
            "description": "Filter by vehicle label",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[route]",
            "in": "query",
            "description": "Filter by route ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[direction_id]",
            "in": "query",
            "description": "Filter by direction (0 or 1)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[route_type]",
            "in": "query",
            "description": "Filter by route type",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - rate limit exceeded"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/vehicles/{id}": {
      "get": {
        "operationId": "getVehicle",
        "summary": "Get a vehicle",
        "description": "Get a single vehicle resource by ID.",
        "tags": [
          "Vehicle"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Vehicle ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "name": "fields[vehicle]",
            "in": "query",
            "description": "Fields to include in response (comma-separated)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "name": "api_key",
        "in": "query",
        "description": "API key passed as query parameter"
      },
      "apiKeyHeader": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header",
        "description": "API key passed in request header"
      }
    },
    "parameters": {
      "pageOffset": {
        "name": "page[offset]",
        "in": "query",
        "description": "Offset for pagination",
        "schema": {
          "type": "integer",
          "minimum": 0
        }
      },
      "pageLimit": {
        "name": "page[limit]",
        "in": "query",
        "description": "Maximum number of results to return",
        "schema": {
          "type": "integer",
          "minimum": 1
        }
      },
      "sort": {
        "name": "sort",
        "in": "query",
        "description": "Sort results by field (prefix with - for descending)",
        "schema": {
          "type": "string"
        }
      },
      "include": {
        "name": "include",
        "in": "query",
        "description": "Include related resources (comma-separated)",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "JsonApiResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Resource"
            }
          },
          "included": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Resource"
            }
          },
          "jsonapi": {
            "type": "object",
            "properties": {
              "version": {
                "type": "string"
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          }
        }
      },
      "JsonApiSingleResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Resource"
          },
          "included": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Resource"
            }
          },
          "jsonapi": {
            "type": "object",
            "properties": {
              "version": {
                "type": "string"
              }
            }
          }
        }
      },
      "Resource": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "attributes": {
            "type": "object"
          },
          "relationships": {
            "type": "object"
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          }
        }
      },
      "Links": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string"
          },
          "first": {
            "type": "string"
          },
          "last": {
            "type": "string"
          },
          "next": {
            "type": "string"
          },
          "prev": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "detail": {
                  "type": "string"
                },
                "source": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  }
}