{
  "openapi": "3.0.3",
  "info": {
    "title": "aevent API",
    "description": "aevent is a webinar and virtual event platform. This API provides access to manage campaigns, analytics, integrations, forms, files, and other event-related resources.",
    "version": "0.0.1",
    "contact": {
      "name": "aevent Support",
      "url": "https://www.aevent.com"
    },
    "x-jentic-source-url": "https://dev.aevent.com/api/documentation"
  },
  "servers": [
    {
      "url": "https://app-api.aevent.com/api",
      "description": "aevent Production API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    { "name": "Hours", "description": "Contact hours management" },
    { "name": "Actions", "description": "Actions and MCP management" },
    { "name": "Analytics", "description": "Campaign analytics and reporting" },
    { "name": "Files", "description": "File and media asset management" },
    { "name": "Forms", "description": "Form management" },
    { "name": "Holidays", "description": "Holiday schedule management" },
    { "name": "Inputs", "description": "Input configuration management" },
    { "name": "Integrations", "description": "Third-party integration management" },
    { "name": "AI", "description": "AI-powered completions" },
    { "name": "Settings", "description": "Global settings and configuration" },
    { "name": "Data", "description": "Header script and page data" }
  ],
  "paths": {
    "/hours": {
      "get": {
        "tags": ["Hours"],
        "summary": "List contact hours",
        "operationId": "listHours",
        "responses": {
          "200": {
            "description": "List of contact hours",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Hour" } } } }
          }
        }
      },
      "post": {
        "tags": ["Hours"],
        "summary": "Create contact hours",
        "operationId": "createHours",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HourCreate" } } } },
        "responses": { "201": { "description": "Contact hours created" } }
      }
    },
    "/hours/{hour}": {
      "get": {
        "tags": ["Hours"],
        "summary": "Get specific contact hours",
        "operationId": "getHour",
        "parameters": [ { "name": "hour", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "Contact hours details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Hour" } } } } }
      },
      "put": {
        "tags": ["Hours"],
        "summary": "Update contact hours",
        "operationId": "updateHour",
        "parameters": [ { "name": "hour", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HourCreate" } } } },
        "responses": { "200": { "description": "Contact hours updated" } }
      },
      "delete": {
        "tags": ["Hours"],
        "summary": "Delete contact hours",
        "operationId": "deleteHour",
        "parameters": [ { "name": "hour", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "Contact hours deleted" } }
      }
    },
    "/actions": {
      "get": {
        "tags": ["Actions"],
        "summary": "Retrieve available actions",
        "operationId": "listActions",
        "responses": { "200": { "description": "List of available actions" } }
      },
      "post": {
        "tags": ["Actions"],
        "summary": "Store new actions",
        "operationId": "createAction",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } },
        "responses": { "201": { "description": "Action stored" } }
      }
    },
    "/getdata": {
      "get": {
        "tags": ["Data"],
        "summary": "Get header script data",
        "operationId": "getHeaderScriptData",
        "parameters": [
          { "name": "campaign_id", "in": "query", "schema": { "type": "integer" } },
          { "name": "webinar_id", "in": "query", "schema": { "type": "integer" } },
          { "name": "page_type", "in": "query", "schema": { "type": "string", "enum": ["registration", "confirmation", "replay"] } }
        ],
        "responses": { "200": { "description": "Script data for page" } }
      }
    },
    "/analytics/launch": {
      "post": {
        "tags": ["Analytics"],
        "summary": "Launch analytics",
        "operationId": "launchAnalytics",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "campaign_id": { "type": "integer" } } } } } },
        "responses": { "200": { "description": "Analytics launched" } }
      }
    },
    "/analytics/attendance": {
      "post": {
        "tags": ["Analytics"],
        "summary": "Get campaign attendance data",
        "operationId": "getAttendanceAnalytics",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "campaign_id": { "type": "integer" } } } } } },
        "responses": { "200": { "description": "Attendance analytics data" } }
      }
    },
    "/analytics/breakdown": {
      "post": {
        "tags": ["Analytics"],
        "summary": "Get audience breakdown",
        "operationId": "getBreakdownAnalytics",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object", "properties": { "campaign_id": { "type": "integer" }, "period": { "type": "string", "enum": ["daily", "weekly", "monthly", "yearly"] } } } } }
        },
        "responses": { "200": { "description": "Audience breakdown data" } }
      }
    },
    "/files": {
      "get": {
        "tags": ["Files"],
        "summary": "List files",
        "operationId": "listFiles",
        "parameters": [
          { "name": "type", "in": "query", "schema": { "type": "string", "enum": ["image", "audio", "video", "folder"] } }
        ],
        "responses": { "200": { "description": "List of files" } }
      },
      "post": {
        "tags": ["Files"],
        "summary": "Upload a file",
        "operationId": "uploadFile",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": { "type": "object", "properties": { "file": { "type": "string", "format": "binary" }, "type": { "type": "string" } } }
            }
          }
        },
        "responses": { "201": { "description": "File uploaded" } }
      }
    },
    "/files/{id}": {
      "get": {
        "tags": ["Files"],
        "summary": "Get file details",
        "operationId": "getFile",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "File details" } }
      },
      "put": {
        "tags": ["Files"],
        "summary": "Update file",
        "operationId": "updateFile",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } },
        "responses": { "200": { "description": "File updated" } }
      },
      "delete": {
        "tags": ["Files"],
        "summary": "Delete file",
        "operationId": "deleteFile",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "File deleted" } }
      }
    },
    "/forms": {
      "get": {
        "tags": ["Forms"],
        "summary": "List forms",
        "operationId": "listForms",
        "responses": { "200": { "description": "List of forms" } }
      },
      "post": {
        "tags": ["Forms"],
        "summary": "Create a form",
        "operationId": "createForm",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } },
        "responses": { "201": { "description": "Form created" } }
      }
    },
    "/forms/{id}": {
      "get": {
        "tags": ["Forms"],
        "summary": "Get form details",
        "operationId": "getForm",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "Form details" } }
      },
      "put": {
        "tags": ["Forms"],
        "summary": "Update form",
        "operationId": "updateForm",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } },
        "responses": { "200": { "description": "Form updated" } }
      },
      "delete": {
        "tags": ["Forms"],
        "summary": "Delete form",
        "operationId": "deleteForm",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "Form deleted" } }
      }
    },
    "/holidays": {
      "get": {
        "tags": ["Holidays"],
        "summary": "List holidays",
        "operationId": "listHolidays",
        "responses": { "200": { "description": "List of holidays" } }
      },
      "post": {
        "tags": ["Holidays"],
        "summary": "Create a holiday",
        "operationId": "createHoliday",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } },
        "responses": { "201": { "description": "Holiday created" } }
      }
    },
    "/holidays/{id}": {
      "get": {
        "tags": ["Holidays"],
        "summary": "Get holiday details",
        "operationId": "getHoliday",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "Holiday details" } }
      },
      "put": {
        "tags": ["Holidays"],
        "summary": "Update holiday",
        "operationId": "updateHoliday",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } },
        "responses": { "200": { "description": "Holiday updated" } }
      },
      "delete": {
        "tags": ["Holidays"],
        "summary": "Delete holiday",
        "operationId": "deleteHoliday",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "Holiday deleted" } }
      }
    },
    "/inputs": {
      "get": {
        "tags": ["Inputs"],
        "summary": "List inputs",
        "operationId": "listInputs",
        "responses": { "200": { "description": "List of inputs" } }
      },
      "post": {
        "tags": ["Inputs"],
        "summary": "Create input configuration",
        "operationId": "createInput",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } },
        "responses": { "201": { "description": "Input created" } }
      }
    },
    "/inputs/{id}": {
      "get": {
        "tags": ["Inputs"],
        "summary": "Get input details",
        "operationId": "getInput",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "Input details" } }
      },
      "put": {
        "tags": ["Inputs"],
        "summary": "Update input",
        "operationId": "updateInput",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } },
        "responses": { "200": { "description": "Input updated" } }
      },
      "delete": {
        "tags": ["Inputs"],
        "summary": "Delete input",
        "operationId": "deleteInput",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "Input deleted" } }
      }
    },
    "/integrations": {
      "get": {
        "tags": ["Integrations"],
        "summary": "List integrations",
        "operationId": "listIntegrations",
        "responses": { "200": { "description": "List of integrations" } }
      },
      "post": {
        "tags": ["Integrations"],
        "summary": "Create an integration",
        "operationId": "createIntegration",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } },
        "responses": { "201": { "description": "Integration created" } }
      }
    },
    "/integrations/{id}": {
      "get": {
        "tags": ["Integrations"],
        "summary": "Get integration details",
        "operationId": "getIntegration",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "Integration details" } }
      },
      "put": {
        "tags": ["Integrations"],
        "summary": "Update integration",
        "operationId": "updateIntegration",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } },
        "responses": { "200": { "description": "Integration updated" } }
      },
      "delete": {
        "tags": ["Integrations"],
        "summary": "Delete integration",
        "operationId": "deleteIntegration",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "Integration deleted" } }
      }
    },
    "/integrations/search": {
      "get": {
        "tags": ["Integrations"],
        "summary": "Search integrations",
        "operationId": "searchIntegrations",
        "parameters": [ { "name": "q", "in": "query", "schema": { "type": "string" } } ],
        "responses": { "200": { "description": "Search results" } }
      }
    },
    "/integrations/{id}/usage": {
      "get": {
        "tags": ["Integrations"],
        "summary": "Check integration usage",
        "operationId": "checkIntegrationUsage",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "Integration usage data" } }
      }
    },
    "/integrations/{id}/data": {
      "post": {
        "tags": ["Integrations"],
        "summary": "Add data to integration",
        "operationId": "addIntegrationData",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } },
        "responses": { "200": { "description": "Data added to integration" } }
      }
    },
    "/complete": {
      "post": {
        "tags": ["AI"],
        "summary": "AI-powered completion",
        "operationId": "aiComplete",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object", "properties": { "prompt": { "type": "string" }, "context": { "type": "string" } } } } }
        },
        "responses": { "200": { "description": "AI completion result" } }
      }
    },
    "/next": {
      "get": {
        "tags": ["AI"],
        "summary": "Get account/campaign diagnostics",
        "operationId": "getNextDiagnostics",
        "responses": { "200": { "description": "Diagnostics and recommendations" } }
      }
    },
    "/settings/custom-fields": {
      "get": {
        "tags": ["Settings"],
        "summary": "Get custom fields",
        "operationId": "getCustomFields",
        "responses": { "200": { "description": "Custom fields configuration" } }
      }
    },
    "/settings/personalization": {
      "get": {
        "tags": ["Settings"],
        "summary": "Get personalization settings",
        "operationId": "getPersonalizationSettings",
        "responses": { "200": { "description": "Personalization settings" } }
      }
    },
    "/settings/templates": {
      "get": {
        "tags": ["Settings"],
        "summary": "Get templates",
        "operationId": "getTemplates",
        "responses": { "200": { "description": "Available templates" } }
      }
    },
    "/settings/tooltips": {
      "get": {
        "tags": ["Settings"],
        "summary": "Get tooltips",
        "operationId": "getTooltips",
        "responses": { "200": { "description": "Tooltip configuration" } }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication"
      }
    },
    "schemas": {
      "Hour": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "day": { "type": "string" },
          "start_time": { "type": "string" },
          "end_time": { "type": "string" },
          "timezone": { "type": "string" }
        }
      },
      "HourCreate": {
        "type": "object",
        "properties": {
          "day": { "type": "string" },
          "start_time": { "type": "string" },
          "end_time": { "type": "string" },
          "timezone": { "type": "string" }
        }
      }
    }
  }
}