{
  "openapi": "3.0.3",
  "info": {
    "title": "Admina Public API",
    "version": "1.0.0",
    "description": "MoneyForward Admina API for SaaS management, identity management, device management, contracts, and spend tracking.",
    "x-jentic-source-url": "https://docs.itmc.i.moneyforward.com/reference/introduction"
  },
  "servers": [{"url": "https://api.itmc.i.moneyforward.com/api/v1"}],
  "paths": {
    "/organization": {
      "get": {"operationId": "getOrganization", "summary": "Get organization details", "tags": ["Organizations"], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/users": {
      "get": {"operationId": "listUsers", "summary": "List organization users", "tags": ["Users"], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/users/{id}": {
      "patch": {"operationId": "updateUser", "summary": "Update user", "tags": ["Users"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Updated"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/identities": {
      "get": {"operationId": "listIdentities", "summary": "List identities", "tags": ["Identities"], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "post": {"operationId": "createIdentity", "summary": "Create identity", "tags": ["Identities"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"201": {"description": "Created"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/identities/{id}": {
      "get": {"operationId": "getIdentity", "summary": "Get identity", "tags": ["Identities"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "put": {"operationId": "updateIdentity", "summary": "Update identity", "tags": ["Identities"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Updated"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "delete": {"operationId": "deleteIdentity", "summary": "Delete identity", "tags": ["Identities"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Deleted"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/identities/merge": {
      "post": {"operationId": "mergeIdentities", "summary": "Merge identities", "tags": ["Identities"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Merged"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/workspaces": {
      "get": {"operationId": "listWorkspaces", "summary": "List workspaces", "tags": ["Workspaces"], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/workspaces/{id}": {
      "get": {"operationId": "getWorkspace", "summary": "Get workspace", "tags": ["Workspaces"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "delete": {"operationId": "deleteWorkspace", "summary": "Delete workspace", "tags": ["Workspaces"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Deleted"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/contracts": {
      "get": {"operationId": "listContracts", "summary": "List contracts", "tags": ["Contracts"], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "post": {"operationId": "createContract", "summary": "Create contract", "tags": ["Contracts"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"201": {"description": "Created"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/contracts/{id}": {
      "get": {"operationId": "getContract", "summary": "Get contract", "tags": ["Contracts"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "patch": {"operationId": "updateContract", "summary": "Update contract", "tags": ["Contracts"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Updated"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "delete": {"operationId": "deleteContract", "summary": "Delete contract", "tags": ["Contracts"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Deleted"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/devices": {
      "get": {"operationId": "listDevices", "summary": "List devices", "tags": ["Devices"], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "post": {"operationId": "createDevice", "summary": "Add device", "tags": ["Devices"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"201": {"description": "Created"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/people": {
      "get": {"operationId": "listPeople", "summary": "List people", "tags": ["People"], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/people/{id}": {
      "get": {"operationId": "getPerson", "summary": "Get person", "tags": ["People"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/services": {
      "get": {"operationId": "listServices", "summary": "List services", "tags": ["Services"], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/spends/monthly": {
      "get": {"operationId": "getMonthlySpends", "summary": "Get monthly spending", "tags": ["Spends"], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/spends/import": {
      "post": {"operationId": "importSpends", "summary": "Import spend records", "tags": ["Spends"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Imported"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/alerts": {
      "get": {"operationId": "listAlerts", "summary": "List alerts", "tags": ["Alerts"], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/eventlogs": {
      "get": {"operationId": "listEventLogs", "summary": "List event logs", "tags": ["EventLogs"], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/auditlogs/export": {
      "get": {"operationId": "exportAuditLogs", "summary": "Export audit logs", "tags": ["AuditLogs"], "responses": {"200": {"description": "CSV export"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {"type": "object", "properties": {"error": {"type": "string"}, "message": {"type": "string"}}}
    },
    "securitySchemes": {
      "bearerAuth": {"type": "http", "scheme": "bearer", "description": "API key passed as bearer token in API-Key header"}
    }
  },
  "security": [{"bearerAuth": []}]
}
