{
  "openapi": "3.0.3",
  "info": {
    "title": "Chroma Cloud REST API",
    "version": "0.6.3",
    "description": "Chroma is an open-source AI-native vector database. The REST API provides endpoints for managing databases, tenants, collections, and performing vector operations like add, query, update, and delete embeddings.",
    "x-jentic-source-url": "https://docs.trychroma.com/reference/py-client"
  },
  "servers": [
    {
      "url": "https://api.trychroma.com:8000",
      "description": "Chroma Cloud API server"
    },
    {
      "url": "http://localhost:8000",
      "description": "Local Chroma server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Server",
      "description": "Server health and version"
    },
    {
      "name": "Tenants",
      "description": "Manage tenants"
    },
    {
      "name": "Databases",
      "description": "Manage databases"
    },
    {
      "name": "Collections",
      "description": "Manage collections"
    },
    {
      "name": "Records",
      "description": "Add, update, query, delete embeddings"
    }
  ],
  "paths": {
    "/api/v2/heartbeat": {
      "get": {
        "operationId": "heartbeat",
        "summary": "Server heartbeat",
        "description": "Check if the Chroma server is alive. Returns nanosecond heartbeat.",
        "tags": [
          "Server"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Server is alive",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "nanosecond heartbeat": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/version": {
      "get": {
        "operationId": "getVersion",
        "summary": "Get server version",
        "description": "Return the version of the Chroma server.",
        "tags": [
          "Server"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Server version",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/pre-flight-checks": {
      "get": {
        "operationId": "preFlightChecks",
        "summary": "Pre-flight checks",
        "description": "Run pre-flight checks to verify server configuration.",
        "tags": [
          "Server"
        ],
        "responses": {
          "200": {
            "description": "Pre-flight check results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/tenants/{tenant}": {
      "get": {
        "operationId": "getTenant",
        "summary": "Get a tenant",
        "description": "Retrieve tenant information.",
        "tags": [
          "Tenants"
        ],
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tenant name"
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tenant"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Tenant not found"
          }
        }
      }
    },
    "/api/v2/tenants": {
      "post": {
        "operationId": "createTenant",
        "summary": "Create a tenant",
        "description": "Create a new tenant.",
        "tags": [
          "Tenants"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Tenant name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tenant created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tenant"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/tenants/{tenant}/databases/{database}": {
      "get": {
        "operationId": "getDatabase",
        "summary": "Get a database",
        "description": "Retrieve database information.",
        "tags": [
          "Databases"
        ],
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Database info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Database"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/api/v2/tenants/{tenant}/databases": {
      "post": {
        "operationId": "createDatabase",
        "summary": "Create a database",
        "description": "Create a new database for a tenant.",
        "tags": [
          "Databases"
        ],
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Database created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Database"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/tenants/{tenant}/databases/{database}/collections": {
      "get": {
        "operationId": "listCollections",
        "summary": "List collections",
        "description": "List all collections in a database.",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Max collections to return"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Offset for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Collection list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Collection"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createCollection",
        "summary": "Create a collection",
        "description": "Create a new collection in a database.",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCollectionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Collection created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/tenants/{tenant}/databases/{database}/collections/count": {
      "get": {
        "operationId": "countCollections",
        "summary": "Count collections",
        "description": "Count the number of collections in a database.",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/tenants/{tenant}/databases/{database}/collections/{collection_id}": {
      "get": {
        "operationId": "getCollection",
        "summary": "Get a collection",
        "description": "Get collection info by ID.",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "put": {
        "operationId": "updateCollection",
        "summary": "Update a collection",
        "description": "Update collection name or metadata.",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "new_name": {
                    "type": "string"
                  },
                  "new_metadata": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Collection updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteCollection",
        "summary": "Delete a collection",
        "description": "Delete a collection and all its data.",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/api/v2/tenants/{tenant}/databases/{database}/collections/{collection_id}/add": {
      "post": {
        "operationId": "addRecords",
        "summary": "Add embeddings to a collection",
        "description": "Add embeddings, documents, and metadata to a collection.",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Records added"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/tenants/{tenant}/databases/{database}/collections/{collection_id}/update": {
      "post": {
        "operationId": "updateRecords",
        "summary": "Update embeddings in a collection",
        "description": "Update existing embeddings, documents, or metadata.",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Records updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/tenants/{tenant}/databases/{database}/collections/{collection_id}/upsert": {
      "post": {
        "operationId": "upsertRecords",
        "summary": "Upsert embeddings",
        "description": "Add or update embeddings in a collection.",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Records upserted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/tenants/{tenant}/databases/{database}/collections/{collection_id}/query": {
      "post": {
        "operationId": "queryRecords",
        "summary": "Query a collection",
        "description": "Query the collection for nearest neighbors by embedding or document.",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/tenants/{tenant}/databases/{database}/collections/{collection_id}/get": {
      "post": {
        "operationId": "getRecords",
        "summary": "Get records from a collection",
        "description": "Get records by IDs or filter criteria.",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/tenants/{tenant}/databases/{database}/collections/{collection_id}/delete": {
      "post": {
        "operationId": "deleteRecords",
        "summary": "Delete records from a collection",
        "description": "Delete records by IDs or filter.",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "where": {
                    "type": "object"
                  },
                  "where_document": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Records deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/tenants/{tenant}/databases/{database}/collections/{collection_id}/count": {
      "get": {
        "operationId": "countRecords",
        "summary": "Count records in a collection",
        "description": "Return the number of records in a collection.",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication for Chroma Cloud."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Tenant": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "Database": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "tenant": {
            "type": "string"
          }
        }
      },
      "Collection": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "nullable": true
          },
          "dimension": {
            "type": "integer",
            "nullable": true
          },
          "tenant": {
            "type": "string"
          },
          "database": {
            "type": "string"
          }
        }
      },
      "CreateCollectionRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "nullable": true
          },
          "get_or_create": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "AddRequest": {
        "type": "object",
        "required": [
          "ids"
        ],
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Unique IDs for each record"
          },
          "embeddings": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "description": "Embedding vectors"
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Text documents"
          },
          "metadatas": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Metadata for each record"
          },
          "uris": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "UpdateRequest": {
        "type": "object",
        "required": [
          "ids"
        ],
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "embeddings": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "nullable": true
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "metadatas": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "nullable": true
          }
        }
      },
      "QueryRequest": {
        "type": "object",
        "properties": {
          "query_embeddings": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          },
          "query_texts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "n_results": {
            "type": "integer",
            "default": 10
          },
          "where": {
            "type": "object"
          },
          "where_document": {
            "type": "object"
          },
          "include": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "embeddings",
                "documents",
                "metadatas",
                "distances",
                "uris"
              ]
            }
          }
        }
      },
      "QueryResponse": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "embeddings": {
            "type": "array",
            "nullable": true
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "nullable": true
          },
          "metadatas": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "object"
              }
            },
            "nullable": true
          },
          "distances": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "nullable": true
          }
        }
      },
      "GetRequest": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "where": {
            "type": "object"
          },
          "where_document": {
            "type": "object"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "include": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "embeddings",
                "documents",
                "metadatas",
                "uris"
              ]
            }
          }
        }
      },
      "GetResponse": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "embeddings": {
            "type": "array",
            "nullable": true
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "metadatas": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "nullable": true
          }
        }
      }
    }
  }
}