{
  "openapi": "3.0.3",
  "info": {
    "title": "GetOTP API",
    "description": "GetOTP is an OTP (One-Time Password) delivery and verification service. It supports sending OTP codes via SMS, Viber, Voice (flash call or TTS), and Telegram channels. The API also provides management endpoints for senders, templates, and webhooks.",
    "version": "1.0.0",
    "contact": {
      "name": "GetOTP",
      "url": "https://otp.dev"
    }
  },
  "servers": [
    {
      "url": "https://api.otp.dev/v1",
      "description": "GetOTP Production API"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/verifications": {
      "get": {
        "operationId": "verifyOtp",
        "summary": "Verify an OTP code",
        "description": "Verify an OTP code that was sent to a user. An empty data array in the response indicates an invalid or expired code.",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "description": "The OTP code to verify",
            "schema": {
              "type": "string",
              "example": "1234"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "required": false,
            "description": "The phone number the code was sent to (digits only with country code)",
            "schema": {
              "type": "string",
              "example": "60123456789"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Verification result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VerificationResult"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": ["Verifications"]
      },
      "post": {
        "operationId": "sendOtp",
        "summary": "Send an OTP code",
        "description": "Send a one-time password to a phone number via SMS, Viber, Voice, or Telegram channel.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendOtpRequest"
              },
              "examples": {
                "sms": {
                  "summary": "Send OTP via SMS",
                  "value": {
                    "channel": "sms",
                    "sender": "GetOTP",
                    "phone": "60123456789",
                    "template": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "code_length": 6
                  }
                },
                "viber": {
                  "summary": "Send OTP via Viber",
                  "value": {
                    "channel": "viber",
                    "sender": "GetOTP",
                    "phone": "60123456789",
                    "template": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "code_length": 6
                  }
                },
                "voiceFlash": {
                  "summary": "Send OTP via voice flash call",
                  "value": {
                    "channel": "voice",
                    "voice_type": "flash",
                    "phone": "60123456789",
                    "code_length": 6,
                    "ringing_duration": 8
                  }
                },
                "voiceTts": {
                  "summary": "Send OTP via voice TTS call",
                  "value": {
                    "channel": "voice",
                    "voice_type": "tts",
                    "phone": "60123456789",
                    "code_length": 6,
                    "language": "EN"
                  }
                },
                "telegram": {
                  "summary": "Send OTP via Telegram",
                  "value": {
                    "channel": "telegram",
                    "phone": "60123456789",
                    "code_length": 6,
                    "ttl_in_seconds": 300
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": ["Verifications"]
      }
    },
    "/senders": {
      "get": {
        "operationId": "listSenders",
        "summary": "List senders",
        "description": "Retrieve a paginated list of senders associated with the account.",
        "parameters": [
          {
            "name": "filter[status]",
            "in": "query",
            "required": false,
            "description": "Filter senders by status",
            "schema": {
              "type": "string",
              "enum": ["Pending", "Available", "Rejected", "Canceled"]
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Number of senders to return (default: 10, max: 1000)",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 1000
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "description": "Pagination token for getting previous or next page",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of senders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Sender"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationWithLinks"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid status filter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": ["Senders"]
      }
    },
    "/senders/{sender_id}": {
      "get": {
        "operationId": "getSender",
        "summary": "Get a single sender",
        "description": "Retrieve details of a specific sender by its unique identifier.",
        "parameters": [
          {
            "name": "sender_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the sender",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sender details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Sender"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Sender not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": ["Senders"]
      }
    },
    "/templates": {
      "get": {
        "operationId": "listTemplates",
        "summary": "List templates",
        "description": "Retrieve a paginated list of OTP message templates.",
        "parameters": [
          {
            "name": "filter[status]",
            "in": "query",
            "required": false,
            "description": "Filter templates by status",
            "schema": {
              "type": "string",
              "enum": ["COMPLETED", "IN_PROCESS", "CANCELED"]
            }
          },
          {
            "name": "filter[name]",
            "in": "query",
            "required": false,
            "description": "Filter templates by name (starts with match)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Number of templates to return (default: 10, max: 1000)",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 1000
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "description": "Pagination token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Template"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationWithLinks"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": ["Templates"]
      },
      "post": {
        "operationId": "createTemplate",
        "summary": "Create a template",
        "description": "Create a new OTP message template. The template text must contain the {code} placeholder.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["data"],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": ["channel", "text"],
                    "properties": {
                      "channel": {
                        "type": "string",
                        "description": "OTP channel for the template",
                        "enum": ["SMS", "VIBER", "WHATSAPP"]
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the template"
                      },
                      "text": {
                        "type": "string",
                        "description": "Text of the template (must contain {code} placeholder)",
                        "example": "Your verification code is {code}"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Template created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Template"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing required fields or invalid template",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": ["Templates"]
      }
    },
    "/templates/{template_id}": {
      "get": {
        "operationId": "getTemplate",
        "summary": "Get a single template",
        "description": "Retrieve details of a specific template by its unique identifier.",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the template",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Template"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Template not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": ["Templates"]
      },
      "put": {
        "operationId": "updateTemplate",
        "summary": "Update a template",
        "description": "Update an existing OTP message template.",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the template",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["data"],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": ["text"],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name of the template"
                      },
                      "text": {
                        "type": "string",
                        "description": "Text of the template (must contain {code} placeholder)",
                        "example": "Your verification code is {code}"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Template"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Template not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": ["Templates"]
      },
      "delete": {
        "operationId": "deleteTemplate",
        "summary": "Delete a template",
        "description": "Delete a specific template by its unique identifier.",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the template",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Template deleted successfully"
          },
          "404": {
            "description": "Template not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": ["Templates"]
      }
    },
    "/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List webhooks",
        "description": "Retrieve a list of all webhooks associated with the account.",
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Webhook"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": ["Webhooks"]
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Create a webhook",
        "description": "Create a new webhook to receive delivery status notifications.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["data"],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": ["event", "url", "secret", "name", "channel"],
                    "properties": {
                      "event": {
                        "type": "string",
                        "description": "The event type for the webhook",
                        "example": "DELIVERY"
                      },
                      "url": {
                        "type": "string",
                        "format": "uri",
                        "description": "The URL to receive webhook notifications"
                      },
                      "secret": {
                        "type": "string",
                        "description": "The secret used to sign webhook payloads"
                      },
                      "name": {
                        "type": "string",
                        "description": "Human-friendly name for the webhook"
                      },
                      "channel": {
                        "type": "string",
                        "description": "The messaging channel",
                        "example": "SMS"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Webhook"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": ["Webhooks"]
      }
    },
    "/webhooks/{webhook_id}": {
      "get": {
        "operationId": "getWebhook",
        "summary": "Get a single webhook",
        "description": "Retrieve details of a specific webhook by its unique identifier.",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the webhook",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Webhook"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Webhook not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": ["Webhooks"]
      },
      "put": {
        "operationId": "updateWebhook",
        "summary": "Update a webhook",
        "description": "Update an existing webhook configuration.",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the webhook",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["data"],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": ["url", "secret", "name"],
                    "properties": {
                      "url": {
                        "type": "string",
                        "format": "uri",
                        "description": "The URL to receive webhook notifications"
                      },
                      "secret": {
                        "type": "string",
                        "description": "The secret used to sign webhook payloads"
                      },
                      "name": {
                        "type": "string",
                        "description": "Human-friendly name for the webhook"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Webhook"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Webhook not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": ["Webhooks"]
      },
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete a webhook",
        "description": "Delete a specific webhook by its unique identifier.",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the webhook",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook deleted successfully"
          },
          "404": {
            "description": "Webhook not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": ["Webhooks"]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-OTP-Key",
        "description": "API key obtained from the GetOTP dashboard at https://dashboard.otp.dev/apis/keys"
      }
    },
    "schemas": {
      "SendOtpRequest": {
        "type": "object",
        "required": ["channel", "phone"],
        "properties": {
          "channel": {
            "type": "string",
            "description": "Delivery channel for the OTP",
            "enum": ["sms", "viber", "voice", "telegram"]
          },
          "sender": {
            "type": "string",
            "description": "Name or number that appears as the sender (required for SMS and Viber)"
          },
          "phone": {
            "type": "string",
            "description": "Mobile number with country code, digits only",
            "example": "60123456789"
          },
          "template": {
            "type": "string",
            "format": "uuid",
            "description": "Template ID for OTP message (required for SMS and Viber)"
          },
          "code_length": {
            "type": "integer",
            "description": "Length of the OTP code (4-8). Provide either code_length or code, not both.",
            "minimum": 4,
            "maximum": 8
          },
          "code": {
            "type": "string",
            "description": "Custom numeric OTP code (4-8 characters). Provide either code_length or code, not both.",
            "minLength": 4,
            "maxLength": 8
          },
          "voice_type": {
            "type": "string",
            "description": "Type of voice call (required when channel is 'voice')",
            "enum": ["flash", "tts"]
          },
          "ringing_duration": {
            "type": "integer",
            "description": "Duration of ringing for flash calls in seconds (5-10, default: 8)",
            "minimum": 5,
            "maximum": 10
          },
          "language": {
            "type": "string",
            "description": "Language for TTS voice calls",
            "enum": ["AR", "ZH", "EN", "GB", "FR", "DE", "HI", "JA", "RU", "ES", "MX", "BN", "ID", "MS", "FIL", "TH", "VI"]
          },
          "ttl_in_seconds": {
            "type": "integer",
            "description": "Time-to-live for the OTP in seconds (60-86400, default: 60, for Telegram channel)",
            "minimum": 60,
            "maximum": 86400
          },
          "number_formatting": {
            "type": "boolean",
            "description": "Whether to format the phone number (default: true)",
            "default": true
          },
          "payload": {
            "type": "string",
            "description": "Additional metadata as JSON string, returned via webhook (max 500 characters)",
            "maxLength": 500
          }
        }
      },
      "VerificationResult": {
        "type": "object",
        "properties": {
          "account_id": {
            "type": "string",
            "format": "uuid",
            "description": "Account identifier"
          },
          "message_id": {
            "type": "string",
            "format": "uuid",
            "description": "Message identifier"
          },
          "phone": {
            "type": "string",
            "description": "Phone number the OTP was sent to"
          },
          "create_date": {
            "type": "string",
            "format": "date-time",
            "description": "When the OTP was created (UTC)"
          },
          "expire_date": {
            "type": "string",
            "format": "date-time",
            "description": "When the OTP expires (UTC)"
          }
        }
      },
      "Sender": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "account_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "channel": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["Pending", "Available", "Rejected", "Canceled"]
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code"
          },
          "countries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "monthly_cost": {
            "type": "string"
          },
          "setup_cost": {
            "type": "string"
          },
          "create_date": {
            "type": "string",
            "format": "date-time"
          },
          "update_date": {
            "type": "string",
            "format": "date-time"
          },
          "links": {
            "$ref": "#/components/schemas/ResourceLinks"
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "account_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "channel": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["COMPLETED", "IN_PROCESS", "CANCELED"]
          },
          "type": {
            "type": "string"
          },
          "create_date": {
            "type": "string",
            "format": "date-time"
          },
          "update_date": {
            "type": "string",
            "format": "date-time"
          },
          "links": {
            "$ref": "#/components/schemas/ResourceLinks"
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "account_id": {
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "secret": {
            "type": "string"
          },
          "event": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "channel": {
            "type": "string"
          },
          "create_date": {
            "type": "string",
            "format": "date-time"
          },
          "update_date": {
            "type": "string",
            "format": "date-time"
          },
          "links": {
            "$ref": "#/components/schemas/ResourceLinks"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "number": {
            "type": "integer"
          },
          "size": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "PaginationWithLinks": {
        "type": "object",
        "properties": {
          "number": {
            "type": "integer"
          },
          "size": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "links": {
            "type": "object",
            "properties": {
              "first": {
                "type": "string",
                "format": "uri"
              },
              "current": {
                "type": "string",
                "format": "uri"
              },
              "previous": {
                "type": "string",
                "format": "uri"
              },
              "next": {
                "type": "string",
                "format": "uri"
              }
            }
          }
        }
      },
      "ResourceLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          },
          "account": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "timestamp": {
                  "type": "string",
                  "format": "date-time"
                },
                "path": {
                  "type": "string"
                },
                "method": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Verifications",
      "description": "Send and verify OTP codes via SMS, Viber, Voice, and Telegram"
    },
    {
      "name": "Senders",
      "description": "Manage sender identities"
    },
    {
      "name": "Templates",
      "description": "Manage OTP message templates"
    },
    {
      "name": "Webhooks",
      "description": "Manage webhook configurations for delivery notifications"
    }
  ]
}
