{
  "swagger": "2.0",
  "info": {
    "description": "Api encargada de la administracion de la seguridad",
    "version": "v1",
    "title": "API Visanet Security",
    "termsOfService": "http://www.visanet.com.pe",
    "contact": {
      "name": "VisaNet",
      "url": "http://www.visanet.com.pe",
      "email": "visanet@gmail.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/VisaNetPeru/api.security/v1/swagger.json"
  },
  "host": "apitestenv.vnforapps.com",
  "basePath": "/api.security/v1",
  "tags": [
    {
      "name": "Security",
      "description": "RESTful API to manage security tokens."
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/security": {
      "get": {
        "tags": [
          "Security"
        ],
        "summary": "Retrieve access token",
        "description": "RESTful API to manage security tokens.",
        "operationId": "authorize",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  }
}