{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "Production environment",
      "url": "https://driver-vehicle-licensing.api.gov.uk/vehicle-enquiry"
    },
    {
      "description": "Test environment",
      "url": "https://uat.driver-vehicle-licensing.api.gov.uk/vehicle-enquiry"
    }
  ],
  "info": {
    "contact": {
      "email": "DvlaAPIAccess@dvla.gov.uk",
      "name": "DVLA API Team",
      "x-twitter": "GDSTeam"
    },
    "description": "Interface specification for the DVLA Vehicle Enquiry API",
    "title": "Vehicle Enquiry API",
    "version": "1.1.0",
    "x-apisguru-categories": [
      "open_data"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_GDSTeam_profile_image.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://developer-portal.driver-vehicle-licensing.api.gov.uk/apis/vehicle-enquiry-service/v1.1.0-vehicle-enquiry-service.json",
        "version": "3.0"
      }
    ],
    "x-providerName": "api.gov.uk",
    "x-serviceName": "vehicle-enquiry"
  },
  "tags": [
    {
      "name": "vehicle"
    }
  ],
  "paths": {
    "/v1/vehicles": {
      "post": {
        "description": "Returns vehicle details based on registration number",
        "operationId": "getVehicleDetailsByRegistrationNumber",
        "parameters": [
          {
            "description": "Client Specific API Key",
            "in": "header",
            "name": "x-api-key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Consumer Correlation ID",
            "in": "header",
            "name": "X-Correlation-Id",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleRequest"
              }
            }
          },
          "description": "Registration number of the vehicle to find details for",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vehicle"
                }
              }
            },
            "description": "Successful response"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Vehicle Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "summary": "Get vehicle details by registration number",
        "tags": [
          "vehicle"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "description": "Error Response",
        "properties": {
          "errors": {
            "items": {
              "$ref": "#/components/schemas/Errors"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Errors": {
        "properties": {
          "code": {
            "description": "DVLA reference code",
            "example": "105",
            "type": "string"
          },
          "detail": {
            "description": "A meaningful description of the error which has occurred",
            "example": "Invalid format for field - vehicle registration number",
            "type": "string"
          },
          "status": {
            "example": "400",
            "type": "string"
          },
          "title": {
            "description": "Error title",
            "example": "Invalid vrn number",
            "type": "string"
          }
        },
        "required": [
          "title"
        ],
        "type": "object"
      },
      "Vehicle": {
        "properties": {
          "artEndDate": {
            "description": "Additional Rate of Tax End Date, format: YYYY-MM-DD",
            "example": 