{
  "openapi": "3.0.3",
  "info": {
    "title": "UpKeep Maintenance Management API",
    "description": "UpKeep API for managing work orders, assets, locations, and maintenance requests. Supports session token-based authentication for CMMS operations.",
    "version": "1.0.0",
    "contact": {
      "name": "UpKeep Support",
      "url": "https://www.upkeep.com"
    },
    "x-jentic-source-url": "https://upkeepinfo.github.io/upkeep/"
  },
  "servers": [
    {
      "url": "https://api.onupkeep.com/api/public",
      "description": "Production server"
    }
  ],
  "paths": {
    "/login": {
      "post": {
        "summary": "Login and obtain session token",
        "operationId": "login",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "password"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "User's username or email"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "description": "User's password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessionToken": {
                      "type": "string",
                      "description": "Session token for authenticated requests"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Login and obtain session token"
      }
    },
    "/logout": {
      "post": {
        "summary": "Logout and invalidate session token",
        "operationId": "logout",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sessionToken"
                ],
                "properties": {
                  "sessionToken": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logout successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Logout and invalidate session token"
      }
    },
    "/workorders": {
      "post": {
        "summary": "List work orders",
        "operationId": "listWorkOrders",
        "tags": [
          "Work Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sessionToken"
                ],
                "properties": {
                  "sessionToken": {
                    "type": "string"
                  },
                  "offset": {
                    "type": "integer",
                    "description": "Pagination offset"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Number of results to return"
                  },
                  "filters": {
                    "type": "object",
                    "description": "Filter criteria",
                    "properties": {
                      "status": {
                        "type": "string"
                      },
                      "priority": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of work orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WorkOrder"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List work orders"
      }
    },
    "/workorder": {
      "post": {
        "summary": "Create a work order",
        "operationId": "createWorkOrder",
        "tags": [
          "Work Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sessionToken",
                  "title"
                ],
                "properties": {
                  "sessionToken": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string",
                    "description": "Work order title"
                  },
                  "additionalInfo": {
                    "type": "string",
                    "description": "Additional details about the work order"
                  },
                  "priority": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 3,
                    "description": "Priority level (0=none, 1=low, 2=medium, 3=high)"
                  },
                  "dueDate": {
                    "type": "integer",
                    "description": "Due date in milliseconds since epoch"
                  },
                  "assetId": {
                    "type": "string",
                    "description": "ID of the associated asset"
                  },
                  "locationId": {
                    "type": "string",
                    "description": "ID of the associated location"
                  },
                  "userAssignedId": {
                    "type": "string",
                    "description": "ID of the user assigned to the work order"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Work order created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "workOrderNo": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create a work order"
      }
    },
    "/workorder-status": {
      "post": {
        "summary": "Change work order status",
        "operationId": "changeWorkOrderStatus",
        "tags": [
          "Work Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sessionToken",
                  "id",
                  "status"
                ],
                "properties": {
                  "sessionToken": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string",
                    "description": "Work order ID"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "open",
                      "complete",
                      "onHold",
                      "inProgress"
                    ],
                    "description": "New work order status"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status changed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Change work order status"
      }
    },
    "/assets": {
      "post": {
        "summary": "List assets",
        "operationId": "listAssets",
        "tags": [
          "Assets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sessionToken"
                ],
                "properties": {
                  "sessionToken": {
                    "type": "string"
                  },
                  "offset": {
                    "type": "integer"
                  },
                  "limit": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of assets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Asset"
                  }
                }
              }
            }
          }
        },
        "description": "List assets"
      }
    },
    "/assets/{id}": {
      "post": {
        "summary": "Get a particular asset",
        "operationId": "getAsset",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sessionToken"
                ],
                "properties": {
                  "sessionToken": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Asset details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          }
        },
        "description": "Get a particular asset"
      }
    },
    "/locations": {
      "post": {
        "summary": "List locations",
        "operationId": "listLocations",
        "tags": [
          "Locations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sessionToken"
                ],
                "properties": {
                  "sessionToken": {
                    "type": "string"
                  },
                  "offset": {
                    "type": "integer"
                  },
                  "limit": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of locations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            }
          }
        },
        "description": "List locations"
      }
    },
    "/locations/{id}": {
      "post": {
        "summary": "Get a particular location",
        "operationId": "getLocation",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sessionToken"
                ],
                "properties": {
                  "sessionToken": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Location details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          }
        },
        "description": "Get a particular location"
      }
    },
    "/request": {
      "post": {
        "summary": "Create a work order request (no login required)",
        "operationId": "createWorkOrderRequest",
        "tags": [
          "Requests"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "emailAddress",
                  "roleId",
                  "title"
                ],
                "properties": {
                  "emailAddress": {
                    "type": "string",
                    "format": "email",
                    "description": "Requester email address"
                  },
                  "roleId": {
                    "type": "string",
                    "description": "Role ID for the request"
                  },
                  "title": {
                    "type": "string",
                    "description": "Request title"
                  },
                  "additionalInfo": {
                    "type": "string",
                    "description": "Additional details"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create a work order request (no login required)"
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "WorkOrder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "complete",
              "onHold",
              "inProgress"
            ]
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "dueDate": {
            "type": "integer",
            "description": "Due date in milliseconds since epoch"
          },
          "cost": {
            "type": "number"
          },
          "assignedTo": {
            "type": "string"
          },
          "asset": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "priority": {
            "type": "integer",
            "minimum": 0,
            "maximum": 3
          }
        }
      },
      "Asset": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "isActive": {
            "type": "boolean"
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Assets"
    },
    {
      "name": "Authentication"
    },
    {
      "name": "Locations"
    },
    {
      "name": "Requests"
    },
    {
      "name": "Work Orders"
    }
  ]
}
