{
  "openapi": "3.0.3",
  "info": {
    "title": "Popl API",
    "description": "Popl is a digital business card and lead management platform. The API allows you to manage leads, team members, tags, and template links. Requires Full Team Admin permissions to generate API keys via the Popl Teams dashboard.",
    "version": "1.0.0",
    "contact": {
      "name": "Popl Teams Support",
      "email": "teams@popl.co",
      "url": "https://docs.popl.co"
    }
  },
  "servers": [
    {
      "url": "https://api.popl.co",
      "description": "Popl API server"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/api/pub/leads/getLastLead": {
      "get": {
        "tags": ["Leads"],
        "summary": "Get last lead (individual)",
        "description": "Retrieves the last lead that was collected for the authenticated individual user.",
        "operationId": "getLastLead",
        "responses": {
          "200": {
            "description": "A JSON array containing a single lead object.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Lead"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/pub/leads/getLastLeadTeam": {
      "get": {
        "tags": ["Leads"],
        "summary": "Get last lead (team)",
        "description": "Retrieves the last lead that was collected for the entire team.",
        "operationId": "getLastLeadTeam",
        "responses": {
          "200": {
            "description": "A JSON array containing a single lead object.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Lead"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/pub/leads/getLastLeadSubTeam": {
      "get": {
        "tags": ["Leads"],
        "summary": "Get last lead (subteam)",
        "description": "Retrieves the last lead that was collected for a specific subteam.",
        "operationId": "getLastLeadSubTeam",
        "parameters": [
          {
            "name": "subTeamId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The subteam identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array containing a single lead object.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Lead"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/pub/leads/getLeadsTimeRange": {
      "get": {
        "tags": ["Leads"],
        "summary": "Get leads by time period (individual)",
        "description": "Retrieves all leads collected by the authenticated individual within a specified time period.",
        "operationId": "getLeadsTimeRange",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Start date as epoch time in milliseconds."
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "End date as epoch time in milliseconds. If omitted, returns all leads from the start date forward."
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of lead objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Lead"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/pub/leads/getLeadsTimeRangeForTeam": {
      "get": {
        "tags": ["Leads"],
        "summary": "Get leads by time period (team)",
        "description": "Retrieves all leads collected by the entire team within a specified time period.",
        "operationId": "getLeadsTimeRangeForTeam",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Start date as epoch time in milliseconds."
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "End date as epoch time in milliseconds. If omitted, returns all leads from the start date forward."
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of lead objects from all team members.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Lead"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/pub/leads/deleteLead": {
      "delete": {
        "tags": ["Leads"],
        "summary": "Delete lead",
        "description": "Deletes a specific lead by user ID and lead ID.",
        "operationId": "deleteLead",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The member ID sourced from the lead object's userId field."
          },
          {
            "name": "leadId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The identifier of the lead to be removed (from the lead's id field)."
          }
        ],
        "responses": {
          "200": {
            "description": "Lead deleted successfully."
          }
        }
      }
    },
    "/api/pub/tags": {
      "get": {
        "tags": ["Tags"],
        "summary": "List tags",
        "description": "Retrieves a list of all available tags.",
        "operationId": "listTags",
        "responses": {
          "200": {
            "description": "List of tags.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tag"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/pub/lead/{leadId}/tags": {
      "put": {
        "tags": ["Tags"],
        "summary": "Add tags to a lead",
        "description": "Adds one or more tags to a specific lead. Maximum of 10 tags at a time.",
        "operationId": "addTagsToLead",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The identifier for the target lead."
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The user identifier associated with the lead."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["userId", "tagIds"],
                "properties": {
                  "userId": {
                    "type": "integer",
                    "description": "The user identifier from the lead."
                  },
                  "tagIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "maxItems": 10,
                    "description": "Array of tag IDs to add. Maximum of 10 tags at a time."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags added successfully."
          }
        }
      },
      "delete": {
        "tags": ["Tags"],
        "summary": "Remove tags from a lead",
        "description": "Removes one or more tags from a specific lead. Maximum of 10 tags at a time.",
        "operationId": "removeTagsFromLead",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The identifier for the target lead."
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The user identifier associated with the lead."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["userId", "tagIds"],
                "properties": {
                  "userId": {
                    "type": "integer",
                    "description": "The user identifier from the lead."
                  },
                  "tagIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "maxItems": 10,
                    "description": "Array of tag IDs to remove. Maximum of 10 tags at a time."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags removed successfully."
          }
        }
      }
    },
    "/api/pub/members/inviteMember": {
      "post": {
        "tags": ["Members"],
        "summary": "Create new member",
        "description": "Creates a new team member. If an account with the given email already exists, this API will update that account instead.",
        "operationId": "inviteMember",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteMemberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member created or updated successfully."
          }
        }
      }
    },
    "/api/pub/members/updateMemberCard": {
      "put": {
        "tags": ["Members"],
        "summary": "Update member card",
        "description": "Updates a specified linksData card for a member.",
        "operationId": "updateMemberCard",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMemberCardRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member card updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/MemberCardResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/pub/members/updateMemberEmail": {
      "post": {
        "tags": ["Members"],
        "summary": "Update member email",
        "description": "Changes the email address of a member.",
        "operationId": "updateMemberEmail",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["mid", "email"],
                "properties": {
                  "mid": {
                    "type": "integer",
                    "description": "Member identifier."
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "New email address for the member."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email updated successfully."
          }
        }
      }
    },
    "/api/pub/members/updateMemberUsername": {
      "post": {
        "tags": ["Members"],
        "summary": "Update member username",
        "description": "Changes the username of a member.",
        "operationId": "updateMemberUsername",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["mid", "username"],
                "properties": {
                  "mid": {
                    "type": "integer",
                    "description": "Member identifier."
                  },
                  "username": {
                    "type": "string",
                    "description": "New username for the member."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Username updated successfully."
          }
        }
      }
    },
    "/api/pub/members/listMembers": {
      "get": {
        "tags": ["Members"],
        "summary": "Get members",
        "description": "Retrieves a list of all team members.",
        "operationId": "listMembers",
        "responses": {
          "200": {
            "description": "List of team members.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Status message."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "teamMembers": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/TeamMember"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/pub/members/removeMember": {
      "post": {
        "tags": ["Members"],
        "summary": "Remove member",
        "description": "Deactivates specified team members from the organization.",
        "operationId": "removeMember",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["mids"],
                "properties": {
                  "mids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Array of member identifiers designated for removal."
                  },
                  "removeAccessories": {
                    "type": "boolean",
                    "description": "Flag to deactivate Popl devices associated with these members.",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Members removed successfully."
          }
        }
      }
    },
    "/api/pub/members/updateWildCardLink": {
      "put": {
        "tags": ["Members"],
        "summary": "Update single template link",
        "description": "Updates a templated link for a specific user.",
        "operationId": "updateWildCardLink",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["memberId", "wildcardId", "value"],
                "properties": {
                  "memberId": {
                    "type": "integer",
                    "description": "User identifier."
                  },
                  "wildcardId": {
                    "type": "string",
                    "description": "Template link identifier."
                  },
                  "value": {
                    "type": "string",
                    "description": "Replacement value for the link."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template link updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "wasAnyCardUpdated": {
                          "type": "boolean",
                          "description": "Whether an update occurred."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/pub/members/bulkUpdateWildCardLink": {
      "post": {
        "tags": ["Members"],
        "summary": "Bulk update template links",
        "description": "Applies templated link values to multiple users by email address.",
        "operationId": "bulkUpdateWildCardLink",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["wildcardId", "membersAndValues"],
                "properties": {
                  "wildcardId": {
                    "type": "string",
                    "description": "Template link identifier."
                  },
                  "membersAndValues": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["email", "value"],
                      "properties": {
                        "email": {
                          "type": "string",
                          "format": "email",
                          "description": "User email address."
                        },
                        "value": {
                          "type": "string",
                          "description": "Replacement value for that user."
                        }
                      }
                    },
                    "description": "Array of email-value pairs to update."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk update completed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "updated": {
                                "type": "boolean"
                              },
                              "error": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key generated from the Popl Teams dashboard (https://dash.popl.co/api-keys). Requires Full Team Admin permissions."
      }
    },
    "schemas": {
      "Lead": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the lead."
          },
          "epoch": {
            "type": "number",
            "description": "Milliseconds since Unix epoch when the lead was collected."
          },
          "name": {
            "type": "string",
            "description": "Lead's full name."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Lead's email address."
          },
          "number": {
            "type": "string",
            "description": "Lead's phone number."
          },
          "jobTitle": {
            "type": "string",
            "description": "Lead's job title."
          },
          "company": {
            "type": "string",
            "description": "Lead's associated company."
          },
          "location": {
            "type": "string",
            "description": "Lead's geographic location."
          },
          "bio": {
            "type": "string",
            "description": "Lead's professional biography."
          },
          "url": {
            "type": "string",
            "description": "Lead's URL."
          },
          "image": {
            "type": "string",
            "description": "Lead's profile image URL."
          },
          "note": {
            "type": "string",
            "description": "Notes associated with the lead."
          },
          "lat": {
            "type": "string",
            "description": "Latitude coordinate where the lead was captured."
          },
          "long": {
            "type": "string",
            "description": "Longitude coordinate where the lead was captured."
          },
          "userId": {
            "type": "string",
            "description": "ID of the user who collected the lead."
          },
          "userEmail": {
            "type": "string",
            "format": "email",
            "description": "Email of the user who collected the lead."
          },
          "userPid": {
            "type": "string",
            "description": "Profile ID of the user who collected the lead."
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the tag."
          },
          "name": {
            "type": "string",
            "description": "Name of the tag."
          }
        }
      },
      "TeamMember": {
        "type": "object",
        "properties": {
          "memberId": {
            "type": "integer",
            "description": "Unique member identifier."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Member's email address."
          },
          "name": {
            "type": "string",
            "description": "Full name of the team member."
          },
          "jobTitle": {
            "type": "string",
            "description": "Professional title or position."
          },
          "url": {
            "type": "string",
            "description": "Profile card URL."
          }
        }
      },
      "InviteMemberRequest": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "The login email for the new member."
          },
          "name": {
            "type": "string",
            "description": "Member's full name."
          },
          "jobTitle": {
            "type": "string",
            "description": "Professional role."
          },
          "bio": {
            "type": "string",
            "description": "Professional biography."
          },
          "company": {
            "type": "string",
            "description": "Organization name."
          },
          "location": {
            "type": "string",
            "description": "Geographic address or location."
          },
          "photo": {
            "type": "string",
            "format": "uri",
            "description": "Publicly accessible profile image URL."
          },
          "department": {
            "type": "string",
            "description": "Department assignment."
          },
          "msID": {
            "type": "string",
            "description": "Microsoft identifier."
          },
          "subteam": {
            "type": "string",
            "description": "Subteam identifier for assignment."
          },
          "subteamIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Multiple subteam IDs."
          },
          "isPro": {
            "type": "integer",
            "description": "Account tier indicator."
          },
          "leadCaptureMode": {
            "type": "string",
            "enum": ["0", "1"],
            "description": "Lead capture mode: '0' (disabled) or '1' (enabled)."
          },
          "importType": {
            "type": "string",
            "description": "Classification method (e.g., 'manual')."
          },
          "templateId": {
            "type": "integer",
            "description": "Digital card template ID."
          },
          "shouldSendInvites": {
            "type": "boolean",
            "default": true,
            "description": "Controls whether an invitation email is sent. Defaults to true."
          },
          "teamId": {
            "type": "integer",
            "description": "Team assignment."
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MemberLink"
            },
            "description": "Array of links to add to the member's profile."
          }
        }
      },
      "MemberLink": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Link type identifier."
          },
          "title": {
            "type": "string",
            "description": "Display text."
          },
          "value": {
            "type": "string",
            "description": "URL or content value."
          },
          "icon": {
            "type": "string",
            "description": "Icon URL."
          },
          "desc": {
            "type": "string",
            "description": "Link description."
          },
          "help_title": {
            "type": "string",
            "description": "Help text."
          },
          "updateExisting": {
            "type": "boolean",
            "description": "Replace existing matching link."
          }
        }
      },
      "UpdateMemberCardRequest": {
        "type": "object",
        "required": ["linksDataId"],
        "properties": {
          "linksDataId": {
            "type": "string",
            "description": "ID of the linksData card to update."
          },
          "template": {
            "type": "string",
            "description": "Template identifier."
          },
          "name": {
            "type": "string",
            "description": "Display name."
          },
          "private": {
            "type": "boolean",
            "description": "Whether the card is private."
          },
          "direct": {
            "type": "boolean",
            "description": "Whether to enable direct mode."
          },
          "photo": {
            "type": "string",
            "description": "Profile photo URL."
          },
          "logo": {
            "type": "string",
            "description": "Logo URL."
          },
          "description": {
            "type": "string",
            "description": "Card description."
          },
          "exchange": {
            "type": "boolean",
            "description": "Whether to enable contact exchange."
          },
          "exchangeText": {
            "type": "string",
            "description": "Exchange button text."
          },
          "leadCaptureMode": {
            "type": "string",
            "description": "Lead capture mode."
          },
          "theme": {
            "type": "string",
            "description": "Card theme."
          },
          "banner": {
            "type": "string",
            "description": "Banner image URL."
          },
          "colorLink": {
            "type": "string",
            "description": "Link color."
          },
          "jobTitle": {
            "type": "string",
            "description": "Job title."
          },
          "location": {
            "type": "string",
            "description": "Location."
          },
          "company": {
            "type": "string",
            "description": "Company name."
          },
          "username": {
            "type": "string",
            "description": "Username."
          },
          "connectTitle": {
            "type": "string",
            "description": "Connect button title."
          },
          "connectBody": {
            "type": "string",
            "description": "Connect form body text."
          },
          "connectButtonText": {
            "type": "string",
            "description": "Connect button text."
          },
          "connectFields": {
            "type": "string",
            "description": "Connect form fields configuration."
          },
          "hiddenFields": {
            "type": "string",
            "description": "Hidden fields configuration."
          },
          "branding": {
            "type": "boolean",
            "description": "Whether to show branding."
          },
          "leadTimer": {
            "type": "string",
            "description": "Lead timer configuration."
          },
          "nickname": {
            "type": "string",
            "description": "Nickname."
          },
          "pronouns": {
            "type": "string",
            "description": "Pronouns."
          },
          "profileType": {
            "type": "string",
            "description": "Profile type."
          },
          "font": {
            "type": "string",
            "description": "Font setting."
          },
          "lockedFields": {
            "type": "object",
            "description": "Fields that are locked from editing."
          }
        }
      },
      "MemberCardResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Card ID."
          },
          "mid": {
            "type": "integer",
            "description": "Member ID."
          },
          "pid": {
            "type": "string",
            "description": "Profile ID."
          },
          "template": {
            "type": "string",
            "description": "Template identifier."
          },
          "name": {
            "type": "string",
            "description": "Display name."
          },
          "jobTitle": {
            "type": "string",
            "description": "Job title."
          },
          "company": {
            "type": "string",
            "description": "Company name."
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Leads",
      "description": "Manage leads collected through Popl digital business cards."
    },
    {
      "name": "Tags",
      "description": "Manage tags and tag assignments for leads."
    },
    {
      "name": "Members",
      "description": "Manage team members, their profiles, and template links."
    }
  ]
}