{
  "openapi": "3.0.3",
  "info": {
    "title": "Humi Partners API",
    "description": "The Humi Partners API allows access to Humi employee data in third-party applications. The API follows the JSON:API specification. Humi Partners API Tokens are used to access Humi data. Each token allows access to only one company in Humi.",
    "version": "1.0.0",
    "contact": {
      "email": "support@humi.ca"
    },
    "x-jentic-source-url": "https://github.com/Humi-HR/partners-api"
  },
  "servers": [
    {
      "url": "https://partners.humi.ca",
      "description": "Humi Partners API"
    }
  ],
  "tags": [
    {
      "name": "employees",
      "description": "Endpoints for retrieving Employee information"
    },
    {
      "name": "timeoff",
      "description": "Endpoints for retrieving Time Off information"
    }
  ],
  "paths": {
    "/v1/employees": {
      "get": {
        "tags": [
          "employees"
        ],
        "summary": "List all employees",
        "description": "Get the details of all employees of a company. Responses are ordered by the created_at field, ascending. Deleted employees will not appear in the results.",
        "operationId": "listEmployees",
        "parameters": [
          {
            "name": "page[size]",
            "in": "query",
            "description": "Requested page size. Maximum of 25 results per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 25
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "description": "Requested page number.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Additional relationships to include. Comma-separated list. Supported values: salaries.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "salaries"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token"
          }
        }
      }
    },
    "/v1/employees/{employeeId}": {
      "get": {
        "tags": [
          "employees"
        ],
        "summary": "Get employee by ID",
        "description": "Get details of a specific employee of a company. Deleted employees will not appear in the results.",
        "operationId": "getEmployee",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the employee",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeShowResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token"
          },
          "404": {
            "description": "Employee not found"
          }
        }
      }
    },
    "/v1/timeoff": {
      "get": {
        "tags": [
          "timeoff"
        ],
        "summary": "List all time off requests",
        "description": "Get approved time off requests of a company. Results include requests where the start date, end date, or dates between overlap with the provided date range. Only approved time off requests will appear. Responses are ordered by the updated_at field, descending.",
        "operationId": "listTimeOff",
        "parameters": [
          {
            "name": "dateRange[start]",
            "in": "query",
            "description": "Start date to filter the time off requests returned (Format YYYY-MM-DD)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dateRange[end]",
            "in": "query",
            "description": "End date to filter the time off requests returned (Format YYYY-MM-DD)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Requested page size. Maximum of 25 results per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 25
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "description": "Requested page number.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeOffListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token"
          }
        }
      }
    },
    "/v1/timeoff/{employeeId}": {
      "get": {
        "tags": [
          "timeoff"
        ],
        "summary": "Get time off requests for an employee",
        "description": "Get approved time off requests of a specific employee. Results include requests where the start date, end date, or dates between overlap with the provided date range. Only approved time off requests will appear. Responses are ordered by the updated_at field, descending.",
        "operationId": "getEmployeeTimeOff",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the employee",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "dateRange[start]",
            "in": "query",
            "description": "Start date to filter the time off requests returned (Format YYYY-MM-DD)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dateRange[end]",
            "in": "query",
            "description": "End date to filter the time off requests returned (Format YYYY-MM-DD)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Requested page size. Maximum of 25 results per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 25
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "description": "Requested page number.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeOffListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token"
          },
          "404": {
            "description": "Employee not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Employee": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "A unique identifier for this employee"
          },
          "type": {
            "type": "string",
            "example": "employees"
          },
          "attributes": {
            "$ref": "#/components/schemas/EmployeeAttributes"
          },
          "relationships": {
            "type": "object",
            "properties": {
              "salaries": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "type": {
                          "type": "string",
                          "example": "salaries"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "EmployeeAttributes": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "A unique identifier for this employee"
          },
          "first_name": {
            "type": "string",
            "description": "Name the employee goes by"
          },
          "last_name": {
            "type": "string",
            "description": "Name the employee goes by"
          },
          "legal_first_name": {
            "type": "string",
            "description": "Name on government issued identification"
          },
          "legal_last_name": {
            "type": "string",
            "description": "Name on government issued identification"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Primary email used in Humi"
          },
          "work_phone": {
            "type": "string",
            "nullable": true,
            "description": "Work phone"
          },
          "mobile_phone": {
            "type": "string",
            "nullable": true,
            "description": "Mobile phone"
          },
          "department": {
            "type": "string",
            "nullable": true,
            "description": "Name of department"
          },
          "position": {
            "type": "string",
            "nullable": true,
            "description": "Name of position"
          },
          "office": {
            "type": "string",
            "nullable": true,
            "description": "Address of office"
          },
          "reports_to_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "A unique identifier of another employee that this employee reports to"
          },
          "employment_type": {
            "type": "string",
            "enum": [
              "full-time",
              "seasonal",
              "part-time",
              "contractor",
              "intern",
              "consultant",
              "other",
              "volunteer",
              "casual"
            ],
            "description": "Type of employment"
          },
          "start_date": {
            "type": "string",
            "format": "date",
            "description": "Start of employment"
          },
          "end_date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "End of employment"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation of employee entity"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last time employee or employee's position, department, office was updated"
          }
        }
      },
      "Salary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "example": "salaries"
          },
          "attributes": {
            "$ref": "#/components/schemas/SalaryAttributes"
          }
        }
      },
      "SalaryAttributes": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "A unique identifier for this salary"
          },
          "name": {
            "type": "string",
            "description": "Human-readable name used to identify this salary"
          },
          "rate": {
            "type": "string",
            "description": "Rate, in dollars, of this salary item"
          },
          "frequency": {
            "type": "string",
            "enum": [
              "hour",
              "year"
            ],
            "description": "hour for hourly salaries, year for annual salaries"
          },
          "is_primary": {
            "type": "boolean",
            "description": "True if the rate is the employee's primary compensation"
          },
          "effective_at": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string",
                "format": "date-time"
              },
              "timezone": {
                "type": "string"
              }
            },
            "description": "The date the salary comes into effect"
          },
          "ends_at": {
            "type": "object",
            "nullable": true,
            "properties": {
              "date": {
                "type": "string",
                "format": "date-time"
              },
              "timezone": {
                "type": "string"
              }
            },
            "description": "End date of the salary"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation of the salary entity"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last time the salary was updated"
          }
        }
      },
      "TimeOffRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "example": "timeOffRequest"
          },
          "attributes": {
            "$ref": "#/components/schemas/TimeOffRequestAttributes"
          }
        }
      },
      "TimeOffRequestAttributes": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "A unique identifier for this time off request"
          },
          "employee_id": {
            "type": "string",
            "format": "uuid",
            "description": "A unique identifier for the employee the time off request belongs to"
          },
          "type": {
            "type": "string",
            "description": "The type of time off request (e.g. Personal Day, Sick Day)"
          },
          "start_at": {
            "type": "string",
            "format": "date",
            "description": "The date the time off request starts"
          },
          "end_at": {
            "type": "string",
            "format": "date",
            "description": "The date the time off request ends"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "approved",
              "denied"
            ],
            "description": "Current status of the time off request"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Description about the time off request"
          },
          "total_amount_days": {
            "type": "number",
            "format": "float",
            "description": "Total amount of time off requested in days"
          },
          "total_amount_hours": {
            "type": "number",
            "format": "float",
            "description": "Total amount of time off requested in hours"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation of the time off request"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last time the time off request was updated"
          }
        }
      },
      "JsonApiMeta": {
        "type": "object",
        "properties": {
          "version": {
            "type": "string",
            "example": "1.0"
          },
          "meta": {
            "type": "string",
            "example": "Humi HR API"
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "copyright": {
            "type": "string"
          },
          "pagination": {
            "type": "object",
            "properties": {
              "per_page": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              }
            }
          }
        }
      },
      "EmployeeListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Employee"
            }
          },
          "jsonapi": {
            "$ref": "#/components/schemas/JsonApiMeta"
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "included": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Salary"
            },
            "description": "Included salary records when include=salaries is specified"
          }
        }
      },
      "EmployeeShowResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Employee"
          },
          "jsonapi": {
            "$ref": "#/components/schemas/JsonApiMeta"
          },
          "meta": {
            "type": "object",
            "properties": {
              "copyright": {
                "type": "string"
              }
            }
          }
        }
      },
      "TimeOffListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeOffRequest"
            }
          },
          "jsonapi": {
            "$ref": "#/components/schemas/JsonApiMeta"
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Humi Partners API Token. Include in the Authorization header as: Bearer your-token-here"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}