{
  "openapi": "3.0.3",
  "info": {
    "title": "CleverTap API",
    "version": "1.0.0",
    "description": "CleverTap Server API for user profile management, event tracking, campaign management, and analytics. Authentication uses X-CleverTap-Account-Id and X-CleverTap-Passcode headers.",
    "x-jentic-source-url": "https://developer.clevertap.com/docs/"
  },
  "servers": [
    {
      "url": "https://api.clevertap.com",
      "description": "US region"
    },
    {
      "url": "https://in1.api.clevertap.com",
      "description": "India region"
    },
    {
      "url": "https://eu1.api.clevertap.com",
      "description": "Europe region"
    },
    {
      "url": "https://sg1.api.clevertap.com",
      "description": "Singapore region"
    },
    {
      "url": "https://us1.api.clevertap.com",
      "description": "US region (explicit)"
    }
  ],
  "security": [
    {
      "clevertapAuth": []
    }
  ],
  "tags": [
    {
      "name": "Profiles",
      "description": "User profile management APIs"
    },
    {
      "name": "Events",
      "description": "Event tracking and querying APIs"
    },
    {
      "name": "Campaigns",
      "description": "Campaign creation and management APIs"
    },
    {
      "name": "Reports",
      "description": "Analytics and reporting APIs"
    }
  ],
  "paths": {
    "/1/upload": {
      "post": {
        "tags": [
          "Profiles",
          "Events"
        ],
        "summary": "Upload User Profiles or Events",
        "description": "Upload user profiles, events, or device tokens to CleverTap. Maximum 1000 records per call for events, 100 for device tokens.",
        "operationId": "upload",
        "parameters": [
          {
            "name": "dryRun",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "Set to 1 to validate without submitting"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/1/profiles.json": {
      "post": {
        "tags": [
          "Profiles"
        ],
        "summary": "Get User Profiles Cursor",
        "description": "Get a cursor for downloading user profiles by event. Returns a cursor to paginate through results.",
        "operationId": "getUserProfilesCursor",
        "parameters": [
          {
            "name": "batch_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 5000
            },
            "description": "Number of results per batch (multiples of 23)"
          },
          {
            "name": "app",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Include app fields"
          },
          {
            "name": "events",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Include event summary"
          },
          {
            "name": "profile",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Include custom profile properties"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileCursorRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cursor returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CursorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "Profiles"
        ],
        "summary": "Get User Profiles Using Cursor",
        "description": "Fetch user profiles using cursor from previous call. Returns profiles and next_cursor for pagination.",
        "operationId": "getUserProfilesByCursor",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Cursor from previous call"
          }
        ],
        "responses": {
          "200": {
            "description": "User profiles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfilesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/1/profiles.json?type=identity": {
      "get": {
        "tags": [
          "Profiles"
        ],
        "summary": "Download User Profile by Identity",
        "description": "Download a specific user profile by identity (email, phone, or custom ID).",
        "operationId": "getUserProfileByIdentity",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User identity value"
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "identity",
                "objectId",
                "email"
              ]
            },
            "description": "Identity type"
          }
        ],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfilesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/1/delete/profiles.json": {
      "post": {
        "tags": [
          "Profiles"
        ],
        "summary": "Delete User Profile",
        "description": "Delete a user profile by identity or objectId.",
        "operationId": "deleteUserProfile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identity": {
                    "type": "string"
                  },
                  "guid": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/1/demerge/profiles.json": {
      "post": {
        "tags": [
          "Profiles"
        ],
        "summary": "Demerge User Profile",
        "description": "Demerge a previously merged user profile.",
        "operationId": "demergeUserProfile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identity": {
                    "type": "string"
                  },
                  "guid": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile demerged"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/1/subscribe": {
      "post": {
        "tags": [
          "Profiles"
        ],
        "summary": "Subscribe",
        "description": "Update user subscription preferences for email, push, SMS, and WhatsApp.",
        "operationId": "subscribe",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "d": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription updated"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/1/disassociate": {
      "post": {
        "tags": [
          "Profiles"
        ],
        "summary": "Disassociate Phone Number",
        "description": "Disassociate a phone number from a user profile.",
        "operationId": "disassociatePhone",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identity": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Phone disassociated"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/1/profiles.json?type=profileCount": {
      "post": {
        "tags": [
          "Profiles"
        ],
        "summary": "Get Profile Count",
        "description": "Get count of user profiles matching specific criteria.",
        "operationId": "getProfileCount",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event_name": {
                    "type": "string"
                  },
                  "from": {
                    "type": "integer"
                  },
                  "to": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile count",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/1/events.json": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Get Events Cursor",
        "description": "Get a cursor for downloading events by event name and date range.",
        "operationId": "getEventsCursor",
        "parameters": [
          {
            "name": "batch_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventCursorRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cursor returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CursorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get Events Using Cursor",
        "description": "Fetch events using cursor from previous call.",
        "operationId": "getEventsByCursor",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Events data"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/1/counts/events.json": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Get Event Count",
        "description": "Get the count of a specific event over a date range.",
        "operationId": "getEventCount",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventCursorRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event count",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/1/targets/create.json": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Create Campaign",
        "description": "Create a new push notification, email, SMS, or in-app campaign.",
        "operationId": "createCampaign",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/1/targets/stop.json": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Stop Scheduled Campaign",
        "description": "Stop a scheduled campaign from being sent.",
        "operationId": "stopCampaign",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Campaign ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign stopped"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/1/targets/result.json": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get Campaign Report",
        "description": "Get the report/result for a specific campaign.",
        "operationId": "getCampaignReport",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign report"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/1/targets/list.json": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get Campaigns",
        "description": "List campaigns by date range.",
        "operationId": "getCampaigns",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "integer"
                  },
                  "to": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign list"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/1/now.json": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Real-Time Counts",
        "description": "Get real-time activity counts for active users.",
        "operationId": "getRealTimeCounts",
        "responses": {
          "200": {
            "description": "Real-time counts"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/1/message/report.json": {
      "post": {
        "tags": [
          "Reports"
        ],
        "summary": "Get Message Reports",
        "description": "Get message delivery reports.",
        "operationId": "getMessageReports",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "integer"
                  },
                  "to": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message reports"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/1/counts/top.json": {
      "post": {
        "tags": [
          "Reports"
        ],
        "summary": "Top Property Counts",
        "description": "Get top property counts for an event.",
        "operationId": "getTopPropertyCounts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event_name": {
                    "type": "string"
                  },
                  "from": {
                    "type": "integer"
                  },
                  "to": {
                    "type": "integer"
                  },
                  "groups": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Top property counts"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/1/counts/trends.json": {
      "post": {
        "tags": [
          "Reports"
        ],
        "summary": "Trends",
        "description": "Get event trend data over a date range.",
        "operationId": "getTrends",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event_name": {
                    "type": "string"
                  },
                  "from": {
                    "type": "integer"
                  },
                  "to": {
                    "type": "integer"
                  },
                  "unique": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trend data"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "clevertapAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-CleverTap-Account-Id",
        "description": "CleverTap Account ID. Also requires X-CleverTap-Passcode header."
      }
    },
    "schemas": {
      "UploadRequest": {
        "type": "object",
        "required": [
          "d"
        ],
        "properties": {
          "d": {
            "type": "array",
            "description": "Array of profile/event/token records to upload",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "profile",
                    "event",
                    "token"
                  ]
                },
                "identity": {
                  "type": "string"
                },
                "objectId": {
                  "type": "string"
                },
                "FBID": {
                  "type": "string"
                },
                "GPID": {
                  "type": "string"
                },
                "ts": {
                  "type": "integer",
                  "description": "UNIX epoch timestamp in seconds"
                },
                "profileData": {
                  "type": "object"
                },
                "evtName": {
                  "type": "string"
                },
                "evtData": {
                  "type": "object"
                },
                "tokenData": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "apns",
                        "fcm",
                        "gcm",
                        "chrome",
                        "wns",
                        "mpns"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "UploadResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success",
              "partial",
              "fail"
            ]
          },
          "processed": {
            "type": "integer"
          },
          "unprocessed": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "code": {
                  "type": "integer"
                },
                "error": {
                  "type": "string"
                },
                "record": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "ProfileCursorRequest": {
        "type": "object",
        "required": [
          "event_name",
          "from",
          "to"
        ],
        "properties": {
          "event_name": {
            "type": "string"
          },
          "from": {
            "type": "integer",
            "description": "Start date YYYYMMDD"
          },
          "to": {
            "type": "integer",
            "description": "End date YYYYMMDD"
          }
        }
      },
      "EventCursorRequest": {
        "type": "object",
        "required": [
          "event_name",
          "from",
          "to"
        ],
        "properties": {
          "event_name": {
            "type": "string"
          },
          "from": {
            "type": "integer"
          },
          "to": {
            "type": "integer"
          }
        }
      },
      "CursorResponse": {
        "type": "object",
        "properties": {
          "cursor": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "ProfilesResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "next_cursor": {
            "type": "string"
          },
          "records": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "identity": {
                  "type": "string"
                },
                "profileData": {
                  "type": "object"
                },
                "events": {
                  "type": "object"
                },
                "platformInfo": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      },
      "CountResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "CreateCampaignRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "estimate_only": {
            "type": "boolean"
          },
          "target_mode": {
            "type": "string"
          },
          "where": {
            "type": "object"
          },
          "respect_frequency_caps": {
            "type": "boolean"
          },
          "content": {
            "type": "object"
          }
        }
      },
      "StatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "code": {
            "type": "integer"
          }
        }
      }
    }
  }
}