{
  "openapi": "3.0.3",
  "info": {
    "title": "One Music API",
    "version": "1.0.0",
    "description": "One Music API aggregates music metadata from multiple sources including MusicBrainz, Discogs, and others. It provides a unified interface to search for artists, releases, and tracks across multiple music databases.",
    "x-jentic-source-url": "http://www.onemusicapi.com/docs/20220401/reference/index.html"
  },
  "servers": [
    {
      "url": "https://api.onemusicapi.com"
    }
  ],
  "paths": {
    "/artist/search": {
      "get": {
        "operationId": "searchArtists",
        "summary": "Search for artists",
        "description": "Searches for artists matching the given query across multiple music databases.",
        "tags": [
          "Artists"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query for artist name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sources",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of sources to search",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of matching artists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtistSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/artist/{artistId}": {
      "get": {
        "operationId": "getArtistById",
        "summary": "Get artist details",
        "description": "Retrieves detailed information about a specific artist by their identifier.",
        "tags": [
          "Artists"
        ],
        "parameters": [
          {
            "name": "artistId",
            "in": "path",
            "required": true,
            "description": "Unique artist identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sources",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of sources",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Artist details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Artist"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/release/search": {
      "get": {
        "operationId": "searchReleases",
        "summary": "Search for releases",
        "description": "Searches for music releases (albums, singles, EPs) matching the given query.",
        "tags": [
          "Releases"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query for release title",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "artist",
            "in": "query",
            "required": false,
            "description": "Filter by artist name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sources",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of sources to search",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of matching releases",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/release/{releaseId}": {
      "get": {
        "operationId": "getReleaseById",
        "summary": "Get release details",
        "description": "Retrieves detailed information about a specific release including track listing.",
        "tags": [
          "Releases"
        ],
        "parameters": [
          {
            "name": "releaseId",
            "in": "path",
            "required": true,
            "description": "Unique release identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sources",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of sources",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Release details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Release"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/track/search": {
      "get": {
        "operationId": "searchTracks",
        "summary": "Search for tracks",
        "description": "Searches for individual tracks matching the given query.",
        "tags": [
          "Tracks"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query for track title",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "artist",
            "in": "query",
            "required": false,
            "description": "Filter by artist name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sources",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of sources to search",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of matching tracks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArtistSearchResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Artist"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of matching results"
          }
        }
      },
      "Artist": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique artist identifier"
          },
          "name": {
            "type": "string",
            "description": "Artist name"
          },
          "sortName": {
            "type": "string",
            "description": "Artist name for sorting"
          },
          "type": {
            "type": "string",
            "description": "Artist type (person, group, etc.)"
          },
          "country": {
            "type": "string",
            "description": "Country of origin"
          },
          "disambiguation": {
            "type": "string",
            "description": "Disambiguation comment"
          },
          "sources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SourceReference"
            }
          }
        }
      },
      "ReleaseSearchResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Release"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "Release": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique release identifier"
          },
          "title": {
            "type": "string",
            "description": "Release title"
          },
          "artist": {
            "type": "string",
            "description": "Artist name"
          },
          "date": {
            "type": "string",
            "description": "Release date"
          },
          "type": {
            "type": "string",
            "description": "Release type (album, single, EP, etc.)"
          },
          "tracks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Track"
            }
          },
          "sources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SourceReference"
            }
          }
        }
      },
      "TrackSearchResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Track"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "Track": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique track identifier"
          },
          "title": {
            "type": "string",
            "description": "Track title"
          },
          "artist": {
            "type": "string",
            "description": "Artist name"
          },
          "duration": {
            "type": "integer",
            "description": "Track duration in milliseconds"
          },
          "position": {
            "type": "integer",
            "description": "Track position on the release"
          },
          "sources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SourceReference"
            }
          }
        }
      },
      "SourceReference": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string",
            "description": "Source name (e.g., musicbrainz, discogs)"
          },
          "id": {
            "type": "string",
            "description": "Identifier within the source"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "One Music API key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}