{
  "openapi": "3.0.3",
  "info": {
    "title": "NOAN OpenAPI",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.getnoan.com/swagger.json"
  },
  "servers": [
    {
      "url": "https://api.getnoan.com"
    }
  ],
  "paths": {
    "/api/me": {
      "get": {
        "summary": "Get Auth Data",
        "description": "Get the Auth data linked to the API Key.",
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "project": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "name"
                      ]
                    },
                    "identity": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "email"
                      ]
                    }
                  },
                  "required": [
                    "project",
                    "identity"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        }
      }
    },
    "/api/assets": {
      "get": {
        "summary": "Search Assets",
        "description": "Search and list assets created from Create Mode.",
        "tags": [
          "Asset"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            },
            "description": "Filter assets by category bucket."
          },
          {
            "name": "tag_id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            },
            "description": "Filter assets by tag IDs."
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "updatedAt"
              ],
              "example": "createdAt"
            },
            "description": "Specifies the field by which the results should be sorted."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "example": "asc",
              "default": "desc"
            },
            "description": "Specifies the sorting order for the results. It must be either `asc` (ascending) or `desc` (descending)."
          },
          {
            "name": "expand",
            "in": "query",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "activeEntry"
                ],
                "example": "activeEntry",
                "default": []
              }
            },
            "description": "An array of fields to expand in the response. This allows you to include related resources. For example, `expand[]=activeEntry` will include the last entry data along with the asset."
          },
          {
            "$ref": "#/components/parameters/PaginationParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of Assets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    },
                    "links": {
                      "$ref": "#/components/schemas/PaginationLinks"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Asset"
                      }
                    }
                  },
                  "required": [
                    "meta",
                    "links",
                    "items"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        }
      }
    },
    "/api/stacks": {
      "get": {
        "summary": "Search Stacks",
        "description": "Search and list stacks with their blocks.",
        "tags": [
          "Fact"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "name": "custom_only",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "When true, only returns custom stacks created by your organization. When false or omitted, returns both managed and custom stacks."
          },
          {
            "name": "slug",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            },
            "description": "Filter stacks by slug (exact match). Can be a single slug or multiple slugs."
          },
          {
            "name": "title",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter stacks by title (partial match, case-insensitive)."
          }
        ],
        "responses": {
          "200": {
            "description": "List of stacks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    },
                    "links": {
                      "$ref": "#/components/schemas/PaginationLinks"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Stack"
                      }
                    }
                  },
                  "required": [
                    "meta",
                    "links",
                    "items"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        }
      }
    },
    "/api/blocks": {
      "get": {
        "summary": "Search Blocks",
        "description": "Search and list blocks.",
        "tags": [
          "Fact"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "name": "slug",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter blocks by slug(s) (exact match). Can pass multiple slugs to filter by any of them."
          },
          {
            "name": "title",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter blocks by title (case-insensitive partial match)"
          },
          {
            "name": "custom_only",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "description": "When set to 'true', only returns custom blocks created by the organization (excludes managed/system blocks)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of blocks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    },
                    "links": {
                      "$ref": "#/components/schemas/PaginationLinks"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BlockListItem"
                      }
                    }
                  },
                  "required": [
                    "meta",
                    "links",
                    "items"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        }
      }
    },
    "/api/contacts": {
      "get": {
        "summary": "Search Contacts",
        "description": "Search and list contacts in a project.",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            },
            "description": "Search query string to filter contacts."
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "$ref": "#/components/parameters/PaginationParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of contacts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    },
                    "links": {
                      "$ref": "#/components/schemas/PaginationLinks"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    }
                  },
                  "required": [
                    "meta",
                    "links",
                    "items"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        }
      },
      "post": {
        "summary": "Create Contact",
        "description": "Creates a new contact in a project.",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContactRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contact": {
                      "$ref": "#/components/schemas/Contact"
                    }
                  },
                  "required": [
                    "contact"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/contacts/{contactId}": {
      "patch": {
        "summary": "Update Contact",
        "description": "Updates an existing contact.",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          },
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the contact to update"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContactRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contact": {
                      "$ref": "#/components/schemas/Contact"
                    }
                  },
                  "required": [
                    "contact"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/contacts/{contactId}/notes": {
      "post": {
        "summary": "Add Notes to Contact",
        "description": "Adds notes to an existing contact.",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          },
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the contact"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddNotesToContactRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Notes added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contact": {
                      "$ref": "#/components/schemas/Contact"
                    }
                  },
                  "required": [
                    "contact"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/stacks/{stackId}/blocks": {
      "post": {
        "summary": "Create Block",
        "description": "Creates a new block in a stack. Note: Only custom stacks (created by your organization) can be modified.",
        "tags": [
          "Fact"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          },
          {
            "name": "stackId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the stack"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBlockRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "block": {
                      "$ref": "#/components/schemas/BlockDetailed"
                    }
                  },
                  "required": [
                    "block"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/facts": {
      "post": {
        "summary": "Create Fact",
        "description": "Adds a new fact entry to a block, automatically linking it to the most recent fact if one exists.",
        "tags": [
          "Fact"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFactRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fact": {
                      "$ref": "#/components/schemas/Fact"
                    }
                  },
                  "required": [
                    "fact"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/api/notes": {
      "post": {
        "summary": "Create Note",
        "description": "Creates a Note in a project.",
        "tags": [
          "Note"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNoteRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "note": {
                      "$ref": "#/components/schemas/Note"
                    }
                  },
                  "required": [
                    "note"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        }
      }
    },
    "/api/tags": {
      "get": {
        "summary": "List Tags",
        "description": "Lists all tags in a project.",
        "tags": [
          "Tag"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tags",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    },
                    "links": {
                      "$ref": "#/components/schemas/PaginationLinks"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tag"
                      }
                    }
                  },
                  "required": [
                    "meta",
                    "links",
                    "items"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        }
      }
    },
    "/api/tasks": {
      "post": {
        "summary": "Create Task",
        "description": "Creates a Task in a project.",
        "tags": [
          "Task"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "task": {
                      "$ref": "#/components/schemas/Task"
                    }
                  },
                  "required": [
                    "task"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "parameters": {
      "ApiKeyHeader": {
        "name": "X-Noan-Api-Key",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string",
          "default": "{{API_KEY}}"
        },
        "description": "API Key for authentication"
      },
      "PageParam": {
        "name": "page",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        },
        "description": "The page number to retrieve (1-based index)."
      },
      "PerPageParam": {
        "name": "per_page",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 10
        },
        "description": "The number of items to return per page."
      },
      "PaginationParam": {
        "name": "pagination",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "header",
            "body"
          ],
          "default": "body"
        },
        "description": "Determines how pagination metadata is returned: 'header' (via response headers) or 'body' (in response body)."
      }
    },
    "schemas": {
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number",
            "example": 1
          },
          "perPage": {
            "type": "integer",
            "description": "Number of items per page",
            "example": 50
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages",
            "example": 2
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items",
            "example": 57
          },
          "hasPrev": {
            "type": "boolean",
            "description": "Whether there is a previous page",
            "example": false
          },
          "hasNext": {
            "type": "boolean",
            "description": "Whether there is a next page",
            "example": true
          }
        },
        "required": [
          "page",
          "perPage",
          "totalPages",
          "totalItems",
          "hasPrev",
          "hasNext"
        ]
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri",
            "description": "Link to current page",
            "example": "https://api.getnoan.com/api/stacks?page=1&per_page=50"
          },
          "prev": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "Link to previous page",
            "example": null
          },
          "next": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "Link to next page",
            "example": "https://api.getnoan.com/api/stacks?page=2&per_page=50"
          },
          "first": {
            "type": "string",
            "format": "uri",
            "description": "Link to first page",
            "example": "https://api.getnoan.com/api/stacks?page=1&per_page=50"
          },
          "last": {
            "type": "string",
            "format": "uri",
            "description": "Link to last page",
            "example": "https://api.getnoan.com/api/stacks?page=2&per_page=50"
          }
        },
        "required": [
          "self",
          "prev",
          "next",
          "first",
          "last"
        ]
      },
      "CompanyRole": {
        "type": "object",
        "properties": {
          "companyName": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "companyName"
        ]
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "alias": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "phoneNumber": {
            "type": "string",
            "nullable": true
          },
          "website": {
            "type": "string",
            "nullable": true
          },
          "notes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "companyRoles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompanyRole"
            },
            "nullable": true
          },
          "tagIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "required": [
          "id",
          "createdAt"
        ]
      },
      "CreateContactRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "alias": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "phoneNumber": {
            "type": "string",
            "nullable": true
          },
          "website": {
            "type": "string",
            "nullable": true
          },
          "notes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "companyRoles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompanyRole"
            },
            "nullable": true
          },
          "tagIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "required": [
          "name"
        ]
      },
      "UpdateContactRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "alias": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "phoneNumber": {
            "type": "string",
            "nullable": true
          },
          "website": {
            "type": "string",
            "nullable": true
          },
          "notes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "companyRoles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompanyRole"
            },
            "nullable": true
          },
          "tagIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "required": [
          "id"
        ]
      },
      "AddNotesToContactRequest": {
        "type": "object",
        "properties": {
          "notes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "notes"
        ]
      },
      "Note": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "content": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "content",
          "createdAt"
        ]
      },
      "CreateNoteRequest": {
        "type": "object",
        "properties": {
          "externalId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string"
          }
        },
        "required": [
          "content"
        ]
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "details": {
            "type": "string"
          },
          "private": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "title",
          "private",
          "createdAt"
        ]
      },
      "CreateTaskRequest": {
        "type": "object",
        "properties": {
          "externalId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "details": {
            "type": "string"
          },
          "creatorEmail": {
            "type": "string",
            "description": "The email of the creator of the task. If provided, the task will be only visible to the creator."
          }
        },
        "required": [
          "title"
        ]
      },
      "EntryPrompt": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "entryType": {
            "type": "string",
            "enum": [
              "initial",
              "refinement"
            ]
          },
          "plainText": {
            "type": "string"
          },
          "htmlText": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "entryType",
          "plainText",
          "htmlText"
        ]
      },
      "EntryResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "entryType": {
            "type": "string",
            "enum": [
              "result"
            ]
          },
          "plainText": {
            "type": "string"
          },
          "htmlText": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "entryType",
          "plainText",
          "htmlText"
        ]
      },
      "ActiveEntry": {
        "type": "object",
        "properties": {
          "prompt": {
            "$ref": "#/components/schemas/EntryPrompt"
          },
          "result": {
            "$ref": "#/components/schemas/EntryResult"
          }
        },
        "required": [
          "prompt",
          "result"
        ]
      },
      "Asset": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique ID to be used for deduplication"
          },
          "originalId": {
            "type": "string",
            "description": "The original Asset ID"
          },
          "externalId": {
            "type": "string",
            "nullable": true,
            "description": "Identifier used to link this asset to third-party platforms (e.g. Webflow Custom Item Slug)",
            "example": "third-party-item-slug"
          },
          "title": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "nullable": true,
            "description": "Asset category bucket"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "activeEntry": {
            "$ref": "#/components/schemas/ActiveEntry",
            "nullable": true
          }
        },
        "required": [
          "id",
          "originalId",
          "title",
          "createdAt"
        ]
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "usageInstructions": {
            "type": "string"
          },
          "entityTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "id",
          "name",
          "category",
          "usageInstructions",
          "entityTypes"
        ]
      },
      "Block": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the block",
            "example": "c3d4e5f6-789a-12cd-ef34-34567890abcd"
          },
          "slug": {
            "type": "string",
            "description": "The unique slug identifier of the block",
            "example": "customer-profile"
          }
        },
        "required": [
          "id",
          "slug"
        ]
      },
      "BlockDetailed": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the block",
            "example": "c3d4e5f6-789a-12cd-ef34-34567890abcd"
          },
          "slug": {
            "type": "string",
            "description": "The unique slug identifier of the block",
            "example": "customer-profile"
          },
          "title": {
            "type": "string",
            "description": "The display name of the block",
            "example": "Customer Profile"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Optional description of what this block contains",
            "example": "Information about customer demographics and characteristics"
          }
        },
        "required": [
          "id",
          "slug",
          "title"
        ]
      },
      "BlockListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the block",
            "example": "c3d4e5f6-789a-12cd-ef34-34567890abcd"
          },
          "slug": {
            "type": "string",
            "description": "The unique slug identifier of the block",
            "example": "customer-profile"
          },
          "title": {
            "type": "string",
            "description": "The display name of the block",
            "example": "Customer Profile"
          },
          "stack": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "The unique identifier of the stack this block belongs to",
                "example": "a1b2c3d4-5678-90ef-1234-567890abcdef"
              },
              "slug": {
                "type": "string",
                "description": "The unique slug identifier of the stack",
                "example": "customer-data"
              }
            },
            "required": [
              "id",
              "slug"
            ]
          }
        },
        "required": [
          "id",
          "stack",
          "slug",
          "title"
        ]
      },
      "CreateBlockRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "The name of the block to create",
            "example": "Customer Profile"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Optional description of what this block will contain",
            "example": "Information about customer demographics and characteristics"
          }
        },
        "required": [
          "title"
        ]
      },
      "Stack": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the stack",
            "example": "b2c3d4e5-6789-01bc-def2-234567890abc"
          },
          "slug": {
            "type": "string",
            "description": "The unique slug identifier of the stack",
            "example": "customer-info"
          },
          "title": {
            "type": "string",
            "description": "The display name of the stack",
            "example": "Customer Information"
          },
          "blocks": {
            "type": "array",
            "description": "List of blocks contained in this stack",
            "items": {
              "$ref": "#/components/schemas/Block"
            }
          }
        },
        "required": [
          "id",
          "slug",
          "title",
          "blocks"
        ]
      },
      "Fact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the newly created fact",
            "example": "a1b2c3d4-5678-90ab-cdef-1234567890ab"
          },
          "blockSlug": {
            "type": "string",
            "description": "The block slug where the fact was added",
            "example": "customer-profile"
          },
          "content": {
            "type": "string",
            "description": "The text content of the fact that was created",
            "example": "Our target customers are small business owners in the retail industry."
          }
        },
        "required": [
          "id",
          "blockSlug",
          "content"
        ]
      },
      "CreateFactRequest": {
        "type": "object",
        "properties": {
          "blockSlug": {
            "type": "string",
            "description": "The slug of the block to which the fact will be added (e.g., 'customer-profile' or 'product-features')",
            "example": "customer-profile"
          },
          "content": {
            "type": "string",
            "description": "The text content of the fact to add. Can be any information relevant to the block.",
            "example": "Our target customers are small business owners in the retail industry."
          }
        },
        "required": [
          "blockSlug",
          "content"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "message",
          "code"
        ]
      }
    },
    "responses": {
      "BadRequestError": {
        "description": "Bad Request - Invalid input",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "UnauthorizedError": {
        "description": "Unauthorized - API Key missing",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "ForbiddenError": {
        "description": "Forbidden - Invalid API Key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFoundError": {
        "description": "Not Found - Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  }
}