{
  "openapi": "3.0.3",
  "info": {
    "title": "Pushinator API",
    "version": "2.0.0",
    "description": "Pushinator provides a simple API to send push notifications to iPhone, iPad, and Android devices directly from your code. It is built around REST principles, accepts and responds with JSON objects.",
    "x-jentic-source-url": "https://pushinator.com/api"
  },
  "servers": [
    {
      "url": "https://api.pushinator.com"
    }
  ],
  "paths": {
    "/api/v2/notifications/send": {
      "post": {
        "operationId": "sendNotification",
        "summary": "Send a notification",
        "description": "Sends a push notification to all subscribers of the specified channel. If acknowledgment is required and the notification is unacknowledged, it retries up to 5 times with exponential backoff (1, 2, 4, 8, 16 minutes). Retries stop once acknowledged.",
        "tags": [
          "Notifications"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendNotificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notification created and being sent to subscribers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendNotificationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API token"
          },
          "400": {
            "description": "Bad request - missing required fields"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SendNotificationRequest": {
        "type": "object",
        "required": [
          "channel_id",
          "content"
        ],
        "properties": {
          "channel_id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID of the channel to send the notification to."
          },
          "content": {
            "type": "string",
            "description": "The message content of the notification."
          },
          "acknowledgment_required": {
            "type": "boolean",
            "description": "Whether user acknowledgment is required. Defaults to false if omitted. Available on paid plans only; treated as false on the Free plan.",
            "default": false
          }
        }
      },
      "SendNotificationResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token obtained from the Pushinator Console. Include as a Bearer token in the Authorization header."
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}