{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "contact@wordassociations.net"
    },
    "description": "The Word Associations Network API allows developers to embed the ability to find associations for a word or phrase into their mobile apps or web services. Words are grouped by semantics, meaning, and psychological perception. The Word Associations Network API currently supports English, French, Spanish, German, Italian, Portuguese, and Russian vocabulary. Please [register and subscribe](https://api.wordassociations.net/subscriptions/) to one of available tariff plans to get a valid API key.",
    "termsOfService": "https://wordassociations.net/en/api",
    "title": "Word Associations API",
    "version": "1.0",
    "x-jentic-source-url": "https://api.wordassociations.net/documentation/swagger.json"
  },
  "servers": [
    {
      "url": "https://api.wordassociations.net/associations/v1.0"
    }
  ],
  "paths": {
    "/json/search": {
      "get": {
        "parameters": [
          {
            "description": "Word or phrase to find associations with.\nTip. You can use multiple parameters 'text' in a request (from 1 to 10 inclusive). This way you can get associations for several input words or phrases in one response.\nRestriction: regardless of the size of the text association lookup is always performed by the first 10 words of the text.\n",
            "explode": true,
            "in": "query",
            "name": "text",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "maxItems": 10,
              "minItems": 1,
              "type": "array"
            }
          },
          {
            "description": "Query language. Use language code for the language of the text:\n* de - German;\n* en - English;\n* es - Spanish;\n* fr - French;\n* it - Italian;\n* pt - Portuguese;\n* ru - Russian;\n",
            "in": "query",
            "name": "lang",
            "required": true,
            "schema": {
              "enum": [
                "de",
                "en",
                "es",
                "fr",
                "it",
                "pt",
                "ru"
              ],
              "type": "string"
            }
          },
          {
            "description": "Type of result.\nPossible values: \n* stimulus - an input data (the text parameter) is considered as a response word. The service returns a list of stimuli words, which evoke a given response word;\n* response - an input data (the text parameter) is considered as a stimulus word. The service returns a list of response words, which come to mind for a given stimulus word.\n",
            "in": "query",
            "name": "type",
            "required": false,
            "schema": {
              "default": "stimulus",
              "enum": [
                "stimulus",
                "response"
              ],
              "type": "string"
            }
          },
          {
            "description": "Maximum number of results to return.\nAllows to limit the number of results (associations) in response.\nThe value of this parameter is an integer number from 1 to 300 inclusive.\n",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 50,
              "maximum": 300,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Parts of speech to return.\nAllows to limit results by specified parts of speech. The value of this parameter is a list of parts of speech separated by comma.\nThe following parts of speech codes are supported:\n* noun\n* adjective\n* verb\n* adverb\n",
            "in": "query",
            "name": "pos",
            "required": false,
            "schema": {
              "default": [
                "noun",
                "adjective",
                "verb",
                "adverb"
              ],
              "items": {
                "enum": [
                  "noun",
                  "adjective",
                  "verb",
                  "adverb"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Indentation switch for pretty printing of JSON response.\nAllows to either turn on or off space indentation for a response.\nThe following values are allowed:\n* yes - turns indentation with spaces on;\n* no - turn indentation with spaces off;\n",
            "in": "query",
            "name": "indent",
            "required": false,
            "schema": {
              "default": "yes",
              "enum": [
                "yes",
                "no"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Body"
                }
              }
            },
            "description": "Successful response"
          },
          "401": {
            "description": "Invalid API key"
          },
          "429": {
            "description": "The monthly limit on the number of requests is exceeded"
          },
          "501": {
            "description": "The specified language is not supported"
          }
        },
        "description": "Gets associations with the given word or phrase.\n"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Body"
                }
              }
            },
            "description": "Successful response"
          },
          "401": {
            "description": "Invalid API key"
          },
          "429": {
            "description": "The monthly limit on the number of requests is exceeded"
          },
          "501": {
            "description": "The specified language is not supported"
          }
        },
        "description": "Gets associations with the given word or phrase.\n",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "indent": {
                    "default": "yes",
                    "description": "Indentation switch for pretty printing of JSON response.\nAllows to either turn on or off space indentation for a response.\nThe following values are allowed:\n* yes - turns indentation with spaces on;\n* no - turn indentation with spaces off;\n",
                    "enum": [
                      "yes",
                      "no"
                    ],
                    "type": "string"
                  },
                  "lang": {
                    "description": "Query language. Use language code for the language of the text:\n* de - German;\n* en - English;\n* es - Spanish;\n* fr - French;\n* it - Italian;\n* pt - Portuguese;\n* ru - Russian;\n",
                    "enum": [
                      "de",
                      "en",
                      "es",
                      "fr",
                      "it",
                      "pt",
                      "ru"
                    ],
                    "type": "string"
                  },
                  "limit": {
                    "default": 50,
                    "description": "Maximum number of results to return.\nAllows to limit the number of results (associations) in response.\nThe value of this parameter is an integer number from 1 to 300 inclusive.\n",
                    "maximum": 300,
                    "minimum": 1,
                    "type": "integer"
                  },
                  "pos": {
                    "default": [
                      "noun",
                      "adjective",
                      "verb",
                      "adverb"
                    ],
                    "description": "Parts of speech to return.\nAllows to limit results by specified parts of speech. The value of this parameter is a list of parts of speech separated by comma.\nThe following parts of speech codes are supported:\n* noun\n* adjective\n* verb\n* adverb\n",
                    "items": {
                      "collectionFormat": "csv",
                      "enum": [
                        "noun",
                        "adjective",
                        "verb",
                        "adverb"
                      ],
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "text": {
                    "description": "Word or phrase to find associations with.\nTip. You can use multiple parameters 'text' in a request (from 1 to 10 inclusive). This way you can get associations for several input words or phrases in one response.\nRestriction: regardless of the size of the text association lookup is always performed by the first 10 words of the text.\n",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 10,
                    "minItems": 1,
                    "type": "array"
                  },
                  "type": {
                    "default": "stimulus",
                    "description": "Type of result.\nPossible values: \n* stimulus - an input data (the text parameter) is considered as a response word. The service returns a list of stimuli words, which evoke a given response word;\n* response - an input data (the text parameter) is considered as a stimulus word. The service returns a list of response words, which come to mind for a given stimulus word.\n",
                    "enum": [
                      "stimulus",
                      "response"
                    ],
                    "type": "string"
                  }
                },
                "required": [
                  "text"
                ],
                "type": "object"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Body": {
        "properties": {
          "code": {
            "format": "int32",
            "type": "integer"
          },
          "request": {
            "$ref": "#/components/schemas/Request"
          },
          "response": {
            "items": {
              "$ref": "#/components/schemas/Response"
            },
            "type": "array"
          },
          "version": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Item": {
        "properties": {
          "item": {
            "type": "string"
          },
          "pos": {
            "type": "string"
          },
          "weight": {
            "type": "number"
          }
        },
        "type": "object"
      },
      "Request": {
        "properties": {
          "indent": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          },
          "limit": {
            "type": "integer"
          },
          "pos": {
            "type": "string"
          },
          "text": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Response": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/Item"
            },
            "type": "array"
          },
          "text": {
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "internalApiKey": {
        "description": "API key. Please register and subscribe to one of available tariff plans to get a valid API key https://api.wordassociations.net/subscriptions/.",
        "in": "query",
        "name": "apikey",
        "type": "apiKey"
      }
    }
  },
  "security": [
    {
      "internalApiKey": []
    }
  ]
}