{
  "openapi": "3.0.0",
  "info": {
    "contact": {},
    "description": "This is my API for tracking on APIs across the API space. I try to track on all details about the APIs I'm monitoring including their profile, Twitter, Github, blogs, etc.",
    "termsOfService": "http://kinlane.com/terms-of-service.html",
    "title": "Swaggerhub API",
    "version": "v1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/kinlane/API/v1/swagger.json"
  },
  "servers": [
    {
      "url": "https://api.api.kinlane.com/"
    }
  ],
  "paths": {
    "/api": {
      "get": {
        "parameters": [
          {
            "description": "your appid for accessing the API",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the API",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "a text query to search across APIs",
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/api"
                  },
                  "type": "array"
                }
              }
            },
            "description": "API Response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "API"
        ],
        "description": "retrieves all apis",
        "operationId": "getAPIs",
        "summary": "retrieves all apis"
      },
      "post": {
        "parameters": [
          {
            "description": "your appid for accessing the API",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the API",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "name of the API",
            "in": "query",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "details about the API",
            "in": "query",
            "name": "about",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ranking of API",
            "in": "query",
            "name": "rank",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "organization ID for the API",
            "in": "query",
            "name": "organization_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/api"
                  },
                  "type": "array"
                }
              }
            },
            "description": "api response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "API"
        ],
        "description": "add api",
        "operationId": "addAPI",
        "summary": "add api"
      }
    },
    "/api/{api_id}": {
      "delete": {
        "parameters": [
          {
            "description": "id for the API",
            "in": "path",
            "name": "api_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "string"
            }
          },
          {
            "description": "your appid for accessing the API",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the API",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/api"
                  },
                  "type": "array"
                }
              }
            },
            "description": "api response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "API"
        ],
        "description": "delete an API",
        "operationId": "deleteAPI",
        "summary": "delete an API"
      },
      "get": {
        "parameters": [
          {
            "description": "id for the API",
            "in": "path",
            "name": "api_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "string"
            }
          },
          {
            "description": "your appid for accessing the API",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the API",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/api"
                  },
                  "type": "array"
                }
              }
            },
            "description": "api response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "API"
        ],
        "description": "retrieve an API",
        "operationId": "getAPI",
        "summary": "retrieve an API"
      },
      "put": {
        "parameters": [
          {
            "description": "id for the API",
            "in": "path",
            "name": "api_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "string"
            }
          },
          {
            "description": "your appid for accessing the API",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the API",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "name of the API",
            "in": "query",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "details about the API",
            "in": "query",
            "name": "about",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ranking of API",
            "in": "query",
            "name": "rank",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "organization ID for the API",
            "in": "query",
            "name": "organization_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/api"
                  },
                  "type": "array"
                }
              }
            },
            "description": "API response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "API"
        ],
        "description": "update an API",
        "operationId": "updateAPI",
        "summary": "update an API"
      }
    },
    "/api/{api_id}/buildingblocks": {
      "get": {
        "parameters": [
          {
            "description": "id for the API",
            "in": "path",
            "name": "api_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "string"
            }
          },
          {
            "description": "your appid for accessing the API",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the API",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/buildingblock"
                  },
                  "type": "array"
                }
              }
            },
            "description": "API Building Block Response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Building Blocks"
        ],
        "description": "retrieve an APIs building blocks",
        "operationId": "getAPIBuildingBlocks",
        "summary": "retrieve an APIs building blocks"
      },
      "post": {
        "parameters": [
          {
            "description": "id for the API",
            "in": "path",
            "name": "api_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "string"
            }
          },
          {
            "description": "your appid for accessing the API",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the API",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "id for the building block",
            "in": "query",
            "name": "building_block_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "id for the organization",
            "in": "query",
            "name": "organization_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "id for the tool",
            "in": "query",
            "name": "tool_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "the url for the building block",
            "in": "query",
            "name": "url",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/buildingblock"
                  },
                  "type": "array"
                }
              }
            },
            "description": "API Building Block Response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Building Blocks"
        ],
        "description": "add an API building block",
        "operationId": "addAPIBuildingBlock",
        "summary": "add an API building block"
      }
    },
    "/api/{api_id}/buildingblocks/{buildingblock_id}": {
      "delete": {
        "parameters": [
          {
            "description": "id for the API",
            "in": "path",
            "name": "api_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "string"
            }
          },
          {
            "description": "your appid for accessing the API",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the API",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "id for the building block",
            "in": "path",
            "name": "buildingblock_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/buildingblock"
                  },
                  "type": "array"
                }
              }
            },
            "description": "API Building Block Response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Building Blocks"
        ],
        "description": "delete an API building block",
        "operationId": "deleteAPIBuildingBlocks",
        "summary": "delete an API building block"
      }
    },
    "/api/{api_id}/definitions/code/php/generate/definition/parameters": {
      "get": {
        "parameters": [
          {
            "description": "id for the api",
            "in": "path",
            "name": "api_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "string"
            }
          },
          {
            "description": "your appid for accessing the API",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the API",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "the api definition object to filter by",
            "in": "query",
            "name": "filterobject",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/parameters"
                  },
                  "type": "array"
                }
              }
            },
            "description": "API PHP Generate Snippet Response"
          },
          "400": {
            "description": "API PHP Generate Snippet Response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Definition Code"
        ],
        "description": "generate php array parameters",
        "operationId": "generatePHPArrayParameters",
        "summary": "generate php array parameters"
      }
    },
    "/api/{api_id}/definitions/code/php/generate/path/parameters": {
      "get": {
        "parameters": [
          {
            "description": "id for the api",
            "in": "path",
            "name": "api_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "string"
            }
          },
          {
            "description": "your appid for accessing the API",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the API",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "the api path to filter by",
            "in": "query",
            "name": "filterpath",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "the api verb to filter by",
            "in": "query",
            "name": "filterverb",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/snippet"
                  },
                  "type": "array"
                }
              }
            },
            "description": "API PHP Generate Snippet Response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Definition Code"
        ],
        "description": "generate php path parameters",
        "operationId": "generatePHPPathParameters",
        "summary": "generate php path parameters"
      }
    },
    "/api/{api_id}/definitions/export/apisjson/.14": {
      "get": {
        "parameters": [
          {
            "description": "id for the api",
            "in": "path",
            "name": "api_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "string"
            }
          },
          {
            "description": "your appid for accessing the API",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the API",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/definition"
                  },
                  "type": "array"
                }
              }
            },
            "description": "API Definition Response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Definitions"
        ],
        "description": "export an apis.json definition",
        "operationId": "exportAPIsJSON",
        "summary": "export an apis.json definition"
      }
    },
    "/api/{api_id}/definitions/export/apisjson/.14/master": {
      "get": {
        "parameters": [
          {
            "description": "id for the api",
            "in": "path",
            "name": "api_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "string"
            }
          },
          {
            "description": "your appid for accessing the API",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the API",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/definition"
                  },
                  "type": "array"
                }
              }
            },
            "description": "API Definition Response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Definitions"
        ],
        "description": "export an apis.json master definition",
        "operationId": "exportAPIsJSONMaster",
        "summary": "export an apis.json master definition"
      }
    },
    "/api/{api_id}/definitions/export/swagger/1.2": {
      "get": {
        "parameters": [
          {
            "description": "id for the api",
            "in": "path",
            "name": "api_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "string"
            }
          },
          {
            "description": "your appid for accessing the API",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the API",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/definition"
                  },
                  "type": "array"
                }
              }
            },
            "description": "API Definition Response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Definitions"
        ],
        "description": "export a Swagger 1.2 definition",
        "operationId": "exportSwagger12Definition",
        "summary": "export a Swagger 1.2 definition"
      }
    },
    "/api/{api_id}/definitions/export/swagger/2.0": {
      "get": {
        "parameters": [
          {
            "description": "id for the api",
            "in": "path",
            "name": "api_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "string"
            }
          },
          {
            "description": "your appid for accessing the API",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the API",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/definition"
                  },
                  "type": "array"
                }
              }
            },
            "description": "API Definition Response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Definitions"
        ],
        "description": "exports a Swagger 2.0 definition",
        "operationId": "exportSwagger20Definition",
        "summary": "exports a Swagger 2.0 definition"
      }
    },
    "/api/{api_id}/definitions/import/swagger/1.2": {
      "post": {
        "parameters": [
          {
            "description": "id for the api",
            "in": "path",
            "name": "api_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/definition"
                  },
                  "type": "array"
                }
              }
            },
            "description": "API Definition Response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Definitions"
        ],
        "description": "imports a Swagger 1.2 definition",
        "operationId": "importSwagger12Definition",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "appid": {
                    "description": "your appid for accessing the API",
                    "type": "string"
                  },
                  "appkey": {
                    "description": "your appkey for accessing the API",
                    "type": "string"
                  },
                  "url": {
                    "description": "url of the Swagger definition",
                    "type": "string"
                  }
                },
                "required": [
                  "appid"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "imports a Swagger 1.2 definition"
      }
    },
    "/api/{api_id}/definitions/import/swagger/2.0": {
      "post": {
        "parameters": [
          {
            "description": "id for the api",
            "in": "path",
            "name": "api_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/definition"
                  },
                  "type": "array"
                }
              }
            },
            "description": "API Definition Response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Definitions"
        ],
        "description": "import a Swagger 2.0 definition",
        "operationId": "importSwagger20Definition",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "appid": {
                    "description": "your appid for accessing the API",
                    "type": "string"
                  },
                  "appkey": {
                    "description": "your appkey for accessing the API",
                    "type": "string"
                  },
                  "url": {
                    "description": "url of the Swagger definition",
                    "type": "string"
                  }
                },
                "required": [
                  "appid"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "import a Swagger 2.0 definition"
      }
    },
    "/api/{api_id}/images": {
      "get": {
        "parameters": [
          {
            "description": "id for the API",
            "in": "path",
            "name": "api_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "string"
            }
          },
          {
            "description": "your appid for accessing the API",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the API",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/image"
                  },
                  "type": "array"
                }
              }
            },
            "description": "API Image Response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Images"
        ],
        "description": "retrieve an APIs images",
        "operationId": "getAPIImages",
        "summary": "retrieve an APIs images"
      },
      "post": {
        "parameters": [
          {
            "description": "id for the API",
            "in": "path",
            "name": "api_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "string"
            }
          },
          {
            "description": "your appid for accessing the API",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the API",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "name of the image",
            "in": "query",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "path of the image",
            "in": "query",
            "name": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "type of image",
            "in": "query",
            "name": "type",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/image"
                  },
                  "type": "array"
                }
              }
            },
            "description": "API Image Response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Images"
        ],
        "description": "add an API image",
        "operationId": "addAPIImage",
        "summary": "add an API image"
      }
    },
    "/api/{api_id}/images/{image_id}": {
      "delete": {
        "parameters": [
          {
            "description": "id for the API",
            "in": "path",
            "name": "api_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "string"
            }
          },
          {
            "description": "your appid for accessing the API",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the API",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "id for the image",
            "in": "path",
            "name": "image_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/image"
                  },
                  "type": "array"
                }
              }
            },
            "description": "API Image Response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Images"
        ],
        "description": "delete an API image",
        "operationId": "deleteAPIImage",
        "summary": "delete an API image"
      }
    },
    "/api/{api_id}/logs": {
      "get": {
        "parameters": [
          {
            "description": "id for the API",
            "in": "path",
            "name": "api_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "string"
            }
          },
          {
            "description": "your appid for accessing the API",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the API",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/log"
                  },
                  "type": "array"
                }
              }
            },
            "description": "API Log response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Logs"
        ],
        "description": "retrieve an APIs logs",
        "operationId": "getAPILogs",
        "summary": "retrieve an APIs logs"
      },
      "post": {
        "parameters": [
          {
            "description": "id for the api",
            "in": "path",
            "name": "api_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "string"
            }
          },
          {
            "description": "your appid for accessing the API",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the API",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "type of log entry",
            "in": "query",
            "name": "type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "log details",
            "in": "query",
            "name": "details",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "date of the log entry",
            "in": "query",
            "name": "log_date",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/log"
                  },
                  "type": "array"
                }
              }
            },
            "description": "API Log response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Logs"
        ],
        "description": "add an API log",
        "operationId": "addAPILog",
        "summary": "add an API log"
      }
    },
    "/api/{api_id}/logs/{log_id}": {
      "delete": {
        "parameters": [
          {
            "description": "id for the api",
            "in": "path",
            "name": "api_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "string"
            }
          },
          {
            "description": "your appid for accessing the API",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the API",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "id for the log",
            "in": "path",
            "name": "log_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/log"
                  },
                  "type": "array"
                }
              }
            },
            "description": "API Log response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Logs"
        ],
        "description": "delete an API log",
        "operationId": "deleteAPILog",
        "summary": "delete an API log"
      }
    },
    "/api/{api_id}/notes": {
      "get": {
        "parameters": [
          {
            "description": "id for the API",
            "in": "path",
            "name": "api_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "string"
            }
          },
          {
            "description": "your appid for accessing the API",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the API",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/note"
                  },
                  "type": "array"
                }
              }
            },
            "description": "API Notes Response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Notes"
        ],
        "description": "retrieve an APIs notes",
        "operationId": "getAPINotes",
        "summary": "retrieve an APIs notes"
      },
      "post": {
        "parameters": [
          {
            "description": "id for the api",
            "in": "path",
            "name": "api_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "string"
            }
          },
          {
            "description": "your appid for accessing the API",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the API",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "type of the note",
            "in": "query",
            "name": "type",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "the full text of note",
            "in": "query",
            "name": "note",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/note"
                  },
                  "type": "array"
                }
              }
            },
            "description": "API Note Response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Notes"
        ],
        "description": "add an API note",
        "operationId": "addAPINote",
        "summary": "add an API note"
      }
    },
    "/api/{api_id}/notes/{note_id}": {
      "delete": {
        "parameters": [
          {
            "description": "id for the API",
            "in": "path",
            "name": "api_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "string"
            }
          },
          {
            "description": "your appid for accessing the API",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the API",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "id for the note",
            "in": "path",
            "name": "note_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/note"
                  },
                  "type": "array"
                }
              }
            },
            "description": "API Note Response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Notes"
        ],
        "description": "delete an API note",
        "operationId": "deleteAPINote",
        "summary": "delete an API note"
      }
    },
    "/api/{api_id}/screenshots": {
      "get": {
        "parameters": [
          {
            "description": "id for the API",
            "in": "path",
            "name": "api_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "string"
            }
          },
          {
            "description": "your appid for accessing the API",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the API",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/screenshot"
                  },
                  "type": "array"
                }
              }
            },
            "description": "API Screenshot Response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Screenshots"
        ],
        "description": "retrieve API screenshots",
        "operationId": "getAPIScreenshots",
        "summary": "retrieve API screenshots"
      },
      "post": {
        "parameters": [
          {
            "description": "id for the API",
            "in": "path",
            "name": "api_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "string"
            }
          },
          {
            "description": "your appid for accessing the API",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the API",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "name of the screenshot",
            "in": "query",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "path of the screenshot",
            "in": "query",
            "name": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "type of screenshot",
            "in": "query",
            "name": "type",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/screenshot"
                  },
                  "type": "array"
                }
              }
            },
            "description": "API Screenshot Response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Screenshots"
        ],
        "description": "add an API screenshot",
        "operationId": "addAPIScreenshot",
        "summary": "add an API screenshot"
      }
    },
    "/api/{api_id}/screenshots/{screenshot_id}": {
      "delete": {
        "parameters": [
          {
            "description": "id for the API",
            "in": "path",
            "name": "api_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "string"
            }
          },
          {
            "description": "your appid for accessing the API",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the API",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "id for the screenshot",
            "in": "path",
            "name": "screenshot_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/screenshot"
                  },
                  "type": "array"
                }
              }
            },
            "description": "API Screenshot Response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Screenshots"
        ],
        "description": "delete an API screenshot",
        "operationId": "deleteAPIScreenshot",
        "summary": "delete an API screenshot"
      }
    },
    "/api/{api_id}/tags": {
      "get": {
        "parameters": [
          {
            "description": "id for API",
            "in": "path",
            "name": "api_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "string"
            }
          },
          {
            "description": "your appid for accessing the API",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the API",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/tag"
                  },
                  "type": "array"
                }
              }
            },
            "description": "API Tags Response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Tags"
        ],
        "description": "retrieve API tags",
        "operationId": "getAPITags",
        "summary": "retrieve API tags"
      },
      "post": {
        "parameters": [
          {
            "description": "id for the API",
            "in": "path",
            "name": "api_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "string"
            }
          },
          {
            "description": "your appid for accessing the API",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the API",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "tag name",
            "in": "query",
            "name": "tag",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/tag"
                  },
                  "type": "array"
                }
              }
            },
            "description": "api response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Tags"
        ],
        "description": "add tag to API",
        "operationId": "addAPITag",
        "summary": "add tag to API"
      }
    },
    "/api/{api_id}/tags/{tag}": {
      "delete": {
        "parameters": [
          {
            "description": "id for the API",
            "in": "path",
            "name": "api_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "string"
            }
          },
          {
            "description": "your appid for accessing the API",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the API",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "tag to remove from API",
            "in": "path",
            "name": "tag",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/tag"
                  },
                  "type": "array"
                }
              }
            },
            "description": "API Tag Response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "Tags"
        ],
        "description": "delete an API tag",
        "operationId": "deleteAPITag",
        "summary": "delete an API tag"
      }
    },
    "/api/{api_id}/urls": {
      "get": {
        "parameters": [
          {
            "description": "id for the API",
            "in": "path",
            "name": "api_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "string"
            }
          },
          {
            "description": "your appid for accessing the API",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the API",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/url"
                  },
                  "type": "array"
                }
              }
            },
            "description": "API URL Response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "URLs"
        ],
        "description": "retrieve an APIs URLs",
        "operationId": "getAPIURLs",
        "summary": "retrieve an APIs URLs"
      },
      "post": {
        "parameters": [
          {
            "description": "id for the API",
            "in": "path",
            "name": "api_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "string"
            }
          },
          {
            "description": "your appid for accessing the API",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the API",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "type of url",
            "in": "query",
            "name": "type",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "the url",
            "in": "query",
            "name": "url",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "a name for the url",
            "in": "query",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/url"
                  },
                  "type": "array"
                }
              }
            },
            "description": "API URL Response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "URLs"
        ],
        "description": "add an API URL",
        "operationId": "addAPIURL",
        "summary": "add an API URL"
      }
    },
    "/api/{api_id}/urls/{url_id}": {
      "delete": {
        "parameters": [
          {
            "description": "id for the api",
            "in": "path",
            "name": "api_id",
            "required": true,
            "schema": {
              "format": "id",
              "type": "string"
            }
          },
          {
            "description": "your appid for accessing the API",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "your appkey for accessing the API",
            "in": "query",
            "name": "appkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "id for the url",
            "in": "path",
            "name": "url_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "apilication/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/url"
                  },
                  "type": "array"
                }
              }
            },
            "description": "API URL Response"
          }
        },
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ],
        "tags": [
          "URLs"
        ],
        "description": "delete an API URL",
        "operationId": "deleteAPIURL",
        "summary": "delete an API URL"
      }
    }
  },
  "components": {
    "requestBodies": {
      "importSwagger12Definition": {
        "content": {
          "application/x-www-form-urlencoded": {
            "schema": {
              "properties": {
                "appid": {
                  "description": "your appid for accessing the API",
                  "type": "string"
                },
                "appkey": {
                  "description": "your appkey for accessing the API",
                  "type": "string"
                },
                "url": {
                  "description": "url of the Swagger definition",
                  "type": "string"
                }
              },
              "required": [
                "appid"
              ],
              "type": "object"
            }
          }
        }
      }
    },
    "schemas": {
      "parameters": {
        "properties": {
          "body": {
            "description": "body containing parameters",
            "type": "string"
          }
        },
        "type": "object"
      },
      "api": {
        "properties": {
          "api_id": {
            "description": "id for the api",
            "format": "label",
            "type": "string"
          },
          "author": {
            "description": "author for the api",
            "format": "id",
            "type": "string"
          },
          "details": {
            "description": "raw details for the api",
            "format": "id",
            "type": "string"
          },
          "domain": {
            "description": "root domain for the api",
            "format": "id",
            "type": "string"
          },
          "item_date": {
            "description": "date applied to the api",
            "type": "string"
          },
          "link": {
            "description": "url for the api",
            "type": "string"
          },
          "original_date": {
            "description": "orignal date for the api",
            "format": "datetime",
            "type": "string"
          },
          "processed": {
            "description": "has the api been processed",
            "format": "id",
            "type": "string"
          },
          "public_comment": {
            "description": "any public comment for the api",
            "format": "id",
            "type": "string"
          },
          "resolved_url": {
            "description": "resolved url for the api",
            "format": "id",
            "type": "string"
          },
          "screenshot_url": {
            "description": "screenshot url for the api",
            "format": "id",
            "type": "string"
          },
          "status": {
            "description": "status of the api",
            "format": "id",
            "type": "string"
          },
          "title": {
            "description": "title of the api",
            "type": "string"
          },
          "weekly_roundup": {
            "description": "include in weekly roundup",
            "format": "id",
            "type": "string"
          },
          "weekly_summary": {
            "description": "include in weekly summary",
            "format": "id",
            "type": "string"
          }
        },
        "type": "object"
      },
      "buildingblock": {
        "properties": {
          "api_id": {
            "description": "id for the API",
            "format": "id",
            "type": "string"
          },
          "building_block_id": {
            "description": "id for the building block",
            "format": "id",
            "type": "string"
          },
          "organization_id": {
            "description": "id for the organization",
            "format": "id",
            "type": "string"
          },
          "tool_id": {
            "description": "id for the tool",
            "format": "id",
            "type": "string"
          },
          "url": {
            "description": "url of the building block",
            "type": "string"
          }
        },
        "type": "object"
      },
      "definition": {
        "properties": {
          "url": {
            "description": "url for the definition",
            "type": "string"
          }
        },
        "type": "object"
      },
      "image": {
        "properties": {
          "api_id": {
            "description": "id for the API",
            "format": "id",
            "type": "string"
          },
          "image_id": {
            "description": "id for the image",
            "format": "id",
            "type": "string"
          },
          "name": {
            "description": "name of the image",
            "type": "string"
          },
          "path": {
            "description": "path of the image",
            "type": "string"
          },
          "type": {
            "description": "type of image",
            "type": "string"
          }
        },
        "type": "object"
      },
      "log": {
        "properties": {
          "api_id": {
            "description": "id for the API",
            "format": "id",
            "type": "string"
          },
          "details": {
            "description": "details of log",
            "type": "string"
          },
          "log_date": {
            "description": "log date",
            "type": "string"
          },
          "note": {
            "description": "text of note",
            "type": "string"
          },
          "type": {
            "description": "type of log",
            "type": "string"
          }
        },
        "type": "object"
      },
      "note": {
        "properties": {
          "note": {
            "description": "text of note",
            "type": "string"
          },
          "note_id": {
            "description": "id for the api",
            "format": "id",
            "type": "string"
          },
          "type": {
            "description": "type of note",
            "type": "string"
          }
        },
        "type": "object"
      },
      "screenshot": {
        "properties": {
          "api_id": {
            "description": "id for the API",
            "format": "id",
            "type": "string"
          },
          "name": {
            "description": "name of the screenshot",
            "type": "string"
          },
          "path": {
            "description": "path of the screenshot",
            "type": "string"
          },
          "screenshot_id": {
            "description": "id for the screenshot",
            "format": "id",
            "type": "string"
          },
          "type": {
            "description": "type of screenshot",
            "type": "string"
          }
        },
        "type": "object"
      },
      "snippet": {
        "properties": {
          "content": {
            "description": "content of the snippet",
            "type": "string"
          }
        },
        "type": "object"
      },
      "tag": {
        "properties": {
          "api_count": {
            "description": "number of items api with tag",
            "type": "integer"
          },
          "tag": {
            "description": "text tag",
            "type": "string"
          },
          "tag_id": {
            "description": "id for the tag",
            "format": "id",
            "type": "string"
          }
        },
        "type": "object"
      },
      "url": {
        "properties": {
          "name": {
            "description": "name of the url",
            "type": "string"
          },
          "note_id": {
            "description": "id for the API",
            "format": "id",
            "type": "string"
          },
          "type": {
            "description": "the type of url",
            "type": "string"
          },
          "url": {
            "description": "url for the url",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "appid": {
        "in": "query",
        "name": "appid",
        "type": "apiKey"
      },
      "appkey": {
        "in": "query",
        "name": "appkey",
        "type": "apiKey"
      }
    }
  },
  "tags": [
    {
      "name": "API"
    },
    {
      "name": "Building Blocks"
    },
    {
      "name": "Definition Code"
    },
    {
      "name": "Definitions"
    },
    {
      "name": "Images"
    },
    {
      "name": "Logs"
    },
    {
      "name": "Notes"
    },
    {
      "name": "Screenshots"
    },
    {
      "name": "Tags"
    },
    {
      "name": "URLs"
    }
  ]
}