{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "name": "Fun Translations",
      "url": "http://funtranslations.com/"
    },
    "description": "Funtranslations Starwars API gives access to the full set of starwars language translations available at funtranslations.com so that you can integrate them in your workflow or an app. [Click here to get details and subscribe](http://funtranslations.com/api/starwars) .      \n\n  You can also subscribe to individual translators. Here are the details.\n  \n  Ever wonder how to talk like Yoda? Well, use our API and let your APP/webpage speak like Yoda too.[Click here to subscribe](http://funtranslations.com/api/yoda)  \n  \n  Sith Translator API. [Click here to subscribe](http://funtranslations.com/api/sith) \n  \n  Cheunh Translator API. [Click here to subscribe](http://funtranslations.com/api/cheunh) \n  \n  Huttese Translator API. [Click here to subscribe](http://funtranslations.com/api/huttese)\n  \n  Mandalorian Translator API. [Click here to subscribe](http://funtranslations.com/api/mandalorian)\n  \n  Gungan Translator API. [Click here to subscribe](http://funtranslations.com/api/gungan)\n  \n",
    "termsOfService": "https://funtranslations.com/terms",
    "title": "Starwars Translations API",
    "version": "2.3",
    "x-jentic-source-url": "https://funtranslations.com/yaml/funtranslations.starwars.yaml"
  },
  "servers": [
    {
      "url": "https://api.funtranslations.com/"
    },
    {
      "url": "http://api.funtranslations.com/"
    }
  ],
  "paths": {
    "/translate/cheunh": {
      "get": {
        "parameters": [
          {
            "description": "Text to translate",
            "in": "query",
            "name": "text",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"contents\": {\n    \"translated\": \"Ch'ah went ch'at coruscant vea was bav parsec ch'itt'suvrecah!\",\n    \"text\": \"I went to coruscant which was ten parsec away!\",\n    \"translation\": \"cheunh\"\n  }\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}   "
                  }
                }
              }
            },
            "description": "401  response"
          }
        },
        "security": [
          {
            "X-Funtranslations-Api-Secret": []
          }
        ],
        "tags": [
          "Starwars"
        ],
        "description": "Translate from English to Starwars cheunh."
      }
    },
    "/translate/gungan": {
      "get": {
        "parameters": [
          {
            "description": "Text to translate",
            "in": "query",
            "name": "text",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"contents\": {\n    \"translated\": \"Yousa came to mesa home and mesa said okeeday!\",\n    \"text\": \"You came to my home and I said okay!\",\n    \"translation\": \"gungan\"\n  }\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n} "
                  }
                }
              }
            },
            "description": "401  response"
          }
        },
        "security": [
          {
            "X-Funtranslations-Api-Secret": []
          }
        ],
        "tags": [
          "Starwars"
        ],
        "description": "Translate from English to Starwars Gungan Language."
      }
    },
    "/translate/huttese": {
      "get": {
        "parameters": [
          {
            "description": "Text to translate",
            "in": "query",
            "name": "text",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"contents\": {\n    \"translated\": \"Did u stuka doe murishani?\",\n    \"text\": \"Did you see the bounty hunter?\",\n    \"translation\": \"huttese\"\n  }\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401  response"
          }
        },
        "security": [
          {
            "X-Funtranslations-Api-Secret": []
          }
        ],
        "tags": [
          "Starwars"
        ],
        "description": "Translate from English to Starwars Huttese Language."
      }
    },
    "/translate/mandalorian": {
      "get": {
        "parameters": [
          {
            "description": "Text to translate",
            "in": "query",
            "name": "text",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"contents\": {\n    \"translated\": \"Ni'd guuror a pint cuyir gal\",\n    \"text\": \"I'd like a pint of ale\",\n    \"translation\": \"mandalorian\"\n  }\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401  response"
          }
        },
        "security": [
          {
            "X-Funtranslations-Api-Secret": []
          }
        ],
        "tags": [
          "Starwars"
        ],
        "description": "Translate from English to Starwars Mandalorian Language."
      }
    },
    "/translate/sith": {
      "get": {
        "parameters": [
          {
            "description": "Text to translate",
            "in": "query",
            "name": "text",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"contents\": {\n    \"translated\": \"Nu went kia coruscant which meo ten parsekas salini!\",\n    \"text\": \"I went to coruscant which was ten parsec away!\",\n    \"translation\": \"sith\"\n  }\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401  response"
          }
        },
        "security": [
          {
            "X-Funtranslations-Api-Secret": []
          }
        ],
        "tags": [
          "Starwars"
        ],
        "description": "Translate from English to Sith Speak."
      }
    },
    "/translate/yoda": {
      "get": {
        "parameters": [
          {
            "description": "Text to translate",
            "in": "query",
            "name": "text",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"contents\": {\n    \"translated\": \"Lost a planet,  master obiwan has. \",\n    \"text\": \"Master Obiwan has lost a planet.\",\n    \"translation\": \"yoda\"\n  }\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n} "
                  }
                }
              }
            },
            "description": "401  response"
          }
        },
        "security": [
          {
            "X-Funtranslations-Api-Secret": []
          }
        ],
        "tags": [
          "Starwars"
        ],
        "description": "Translate from English to Yoda Speak."
      }
    }
  },
  "components": {
    "securitySchemes": {
      "X-Funtranslations-Api-Secret": {
        "in": "header",
        "name": "X-Funtranslations-Api-Secret",
        "type": "apiKey"
      }
    }
  },
  "tags": [
    {
      "externalDocs": {
        "description": "Find out more",
        "url": "http://funtranslations.com/api/starwars"
      },
      "description": "Starwars Translation API",
      "name": "Starwars"
    }
  ]
}