{
  "openapi": "3.0.3",
  "info": {
    "title": "isMalicious - Threat Intelligence API",
    "version": "1.0.0",
    "description": "Official isMalicious threat intelligence API for domain, IP, and URL reputation checking.\n\n**Base URL:** `https://api.ismalicious.com`\n\n**Documentation:** [ismalicious.com/api-docs](https://ismalicious.com/api-docs)\n\n---\n\n## Authentication\n\nGet your API keys from [ismalicious.com/app/account](https://ismalicious.com/app/account)\n\n**Header:** `X-API-KEY`\n**Value:** Base64 encode `apiKey:apiSecret`\n\n---\n\n## Rate Limits\n\n| Plan | Requests/min | Requests/day |\n|------|--------------|-------------|\n| FREE | 10 | 100 |\n| BASIC | 60 | 5,000 |\n| PRO | 300 | 50,000 |\n| Custom | Contact sales | Contact sales |",
    "contact": {
      "name": "isMalicious Support",
      "url": "https://ismalicious.com/support",
      "email": "support@ismalicious.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://ismalicious.com/terms"
    },
    "x-jentic-source-url": "https://api.ismalicious.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.ismalicious.com",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "check",
      "description": "Threat intelligence check endpoints for IPs and domains"
    },
    {
      "name": "search",
      "description": "Search for similar malicious domains"
    },
    {
      "name": "blocklist",
      "description": "Download and manage blocklists"
    },
    {
      "name": "submit",
      "description": "Submit new threat intelligence sources"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/check": {
      "get": {
        "summary": "Full Threat Analysis",
        "operationId": "checkAll",
        "tags": [
          "check"
        ],
        "description": "Comprehensive threat intelligence check for IPs and domains.\n\n**Enrichment Levels:**\n- `basic` - Malicious status, reputation, geo, whois, certificates, vulnerabilities\n- `standard` - Basic + risk score, classification, confidence, MITRE mapping\n- `full` - Standard + detection timeline, related infrastructure, DNS analysis, tech stack",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "IP address or domain to check",
            "schema": {
              "type": "string"
            },
            "example": "8.8.8.8"
          },
          {
            "name": "enrichment",
            "in": "query",
            "required": false,
            "description": "Enrichment level: basic, standard, or full",
            "schema": {
              "type": "string",
              "enum": [
                "basic",
                "standard",
                "full"
              ],
              "default": "standard"
            },
            "example": "standard"
          },
          {
            "name": "trackReports",
            "in": "query",
            "required": false,
            "description": "Track this check in reports history",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful threat analysis response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/check/reputation": {
      "get": {
        "summary": "Check Reputation",
        "operationId": "checkReputation",
        "tags": [
          "check"
        ],
        "description": "Get reputation data from aggregated threat intelligence sources including VirusTotal integration.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "IP address or domain",
            "schema": {
              "type": "string"
            },
            "example": "example.com"
          }
        ],
        "responses": {
          "200": {
            "description": "Reputation data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReputationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/check/location": {
      "get": {
        "summary": "Check Geolocation",
        "operationId": "checkLocation",
        "tags": [
          "check"
        ],
        "description": "Get geographic location data including country, city, region, ISP, and coordinates.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "IP address or domain",
            "schema": {
              "type": "string"
            },
            "example": "1.1.1.1"
          }
        ],
        "responses": {
          "200": {
            "description": "Geolocation data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeoResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/check/certificates": {
      "get": {
        "summary": "Check Certificates",
        "operationId": "checkCertificates",
        "tags": [
          "check"
        ],
        "description": "Get SSL/TLS certificate information including issuer, validity, and chain details.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Domain or IP address",
            "schema": {
              "type": "string"
            },
            "example": "google.com"
          }
        ],
        "responses": {
          "200": {
            "description": "Certificate data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificatesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/check/vulnerabilities": {
      "get": {
        "summary": "Check Vulnerabilities",
        "operationId": "checkVulnerabilities",
        "tags": [
          "check"
        ],
        "description": "Get known vulnerabilities associated with an IP address from CVE databases.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "IP address",
            "schema": {
              "type": "string"
            },
            "example": "192.168.1.1"
          }
        ],
        "responses": {
          "200": {
            "description": "Vulnerabilities data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VulnerabilitiesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/check/whois": {
      "get": {
        "summary": "Check WHOIS",
        "operationId": "checkWhois",
        "tags": [
          "check"
        ],
        "description": "Get WHOIS registration data including registrant, registrar, and registration dates.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "IP address or domain",
            "schema": {
              "type": "string"
            },
            "example": "example.com"
          }
        ],
        "responses": {
          "200": {
            "description": "WHOIS data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhoisResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/search": {
      "post": {
        "summary": "Search Keywords",
        "operationId": "searchKeywords",
        "tags": [
          "search"
        ],
        "description": "Fuzzy search for similar malicious domains. Useful for finding typosquatting and phishing domains targeting a specific brand.",
        "parameters": [
          {
            "name": "keywords",
            "in": "query",
            "required": true,
            "description": "Search keywords (e.g., 'paypal', 'microsoft')",
            "schema": {
              "type": "string"
            },
            "example": "paypal"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/submit": {
      "post": {
        "summary": "Submit Sources",
        "operationId": "submitSources",
        "tags": [
          "submit"
        ],
        "description": "Submit new threat intelligence sources to the community database.\n\n**Categories:** malware, phishing, spam, scam, fraud, botnet, ransomware, c2",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitSourcesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submission successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/blocklist/stats": {
      "get": {
        "summary": "Get Blocklist Stats",
        "operationId": "getBlocklistStats",
        "tags": [
          "blocklist"
        ],
        "description": "Get entry counts and last updated timestamps for all available blocklists.\n\n**No authentication required.**",
        "security": [],
        "responses": {
          "200": {
            "description": "Blocklist statistics response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlocklistStatsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/blocklist/download/{filename}": {
      "get": {
        "summary": "Download Blocklist",
        "operationId": "downloadBlocklist",
        "tags": [
          "blocklist"
        ],
        "description": "Download a specific blocklist file.\n\n**Plan Access:**\n- FREE: 10% sample (lite version)\n- BASIC+: Full blocklist\n\n**Available Blocklists:**\n- `blocklist-ips-critical.txt` - Critical severity IPs\n- `blocklist-ips-all.txt` - All malicious IPs\n- `blocklist-ips-c2.txt` - C2 server IPs\n- `blocklist-ips-botnet.txt` - Botnet IPs\n- `blocklist-domains-phishing.txt` - Phishing domains\n- `blocklist-domains-malware.txt` - Malware domains\n- `blocklist-domains-ransomware.txt` - Ransomware domains\n- `blocklist-domains-all.txt` - All malicious domains",
        "parameters": [
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "description": "Blocklist filename",
            "schema": {
              "type": "string",
              "enum": [
                "blocklist-ips-critical.txt",
                "blocklist-ips-all.txt",
                "blocklist-ips-c2.txt",
                "blocklist-ips-botnet.txt",
                "blocklist-domains-phishing.txt",
                "blocklist-domains-malware.txt",
                "blocklist-domains-ransomware.txt",
                "blocklist-domains-all.txt"
              ]
            },
            "example": "blocklist-domains-phishing.txt"
          }
        ],
        "responses": {
          "200": {
            "description": "Blocklist file download",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Blocklist not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/bulk/check": {
      "get": {
        "summary": "Bulk check limits and usage",
        "operationId": "bulkCheckInfo",
        "tags": [
          "check"
        ],
        "description": "Returns plan-specific batch limits and usage. Use **POST** `/bulk/check` to run batch lookups.",
        "responses": {
          "200": {
            "description": "Limits and documentation JSON"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Bulk entity check",
        "operationId": "bulkCheck",
        "tags": [
          "check"
        ],
        "description": "Check up to N entities per request (N depends on subscription plan). Each entity may be a domain, IP, or URL string.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkCheckRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkCheckResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "Base64 encoded `apiKey:apiSecret`. Get your keys from ismalicious.com/app/account"
      }
    },
    "schemas": {
      "CheckResponse": {
        "type": "object",
        "properties": {
          "malicious": {
            "type": "boolean",
            "description": "Whether the entity is considered malicious"
          },
          "reputation": {
            "$ref": "#/components/schemas/ReputationData"
          },
          "riskScore": {
            "$ref": "#/components/schemas/RiskScore"
          },
          "confidence": {
            "$ref": "#/components/schemas/Confidence"
          },
          "classification": {
            "$ref": "#/components/schemas/Classification"
          },
          "geo": {
            "$ref": "#/components/schemas/GeoData"
          },
          "whois": {
            "$ref": "#/components/schemas/WhoisData"
          },
          "certificates": {
            "$ref": "#/components/schemas/CertificateData"
          },
          "vulnerabilities": {
            "$ref": "#/components/schemas/VulnerabilityData"
          },
          "apiVersion": {
            "type": "string"
          },
          "enrichmentLevel": {
            "type": "string",
            "enum": [
              "basic",
              "standard",
              "full"
            ]
          }
        }
      },
      "ReputationData": {
        "type": "object",
        "properties": {
          "malicious": {
            "type": "integer"
          },
          "suspicious": {
            "type": "integer"
          },
          "harmless": {
            "type": "integer"
          },
          "undetected": {
            "type": "integer"
          }
        }
      },
      "RiskScore": {
        "type": "object",
        "properties": {
          "score": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "level": {
            "type": "string",
            "enum": [
              "safe",
              "low",
              "medium",
              "high",
              "critical"
            ]
          },
          "factors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Confidence": {
        "type": "object",
        "properties": {
          "score": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "level": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high"
            ]
          }
        }
      },
      "Classification": {
        "type": "object",
        "properties": {
          "primary": {
            "type": "string"
          },
          "secondary": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "GeoData": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string"
          },
          "countryCode": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "lat": {
            "type": "number"
          },
          "lon": {
            "type": "number"
          },
          "isp": {
            "type": "string"
          }
        }
      },
      "WhoisData": {
        "type": "object",
        "properties": {
          "registrar": {
            "type": "string"
          },
          "registrant": {
            "type": "string"
          },
          "createdDate": {
            "type": "string",
            "format": "date-time"
          },
          "updatedDate": {
            "type": "string",
            "format": "date-time"
          },
          "expiresDate": {
            "type": "string",
            "format": "date-time"
          },
          "nameServers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CertificateData": {
        "type": "object",
        "properties": {
          "issuer": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "validFrom": {
            "type": "string",
            "format": "date-time"
          },
          "validTo": {
            "type": "string",
            "format": "date-time"
          },
          "serialNumber": {
            "type": "string"
          },
          "fingerprint": {
            "type": "string"
          }
        }
      },
      "VulnerabilityData": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "critical": {
            "type": "integer"
          },
          "high": {
            "type": "integer"
          },
          "medium": {
            "type": "integer"
          },
          "low": {
            "type": "integer"
          },
          "cves": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CVE"
            }
          }
        }
      },
      "CVE": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "severity": {
            "type": "string",
            "enum": [
              "CRITICAL",
              "HIGH",
              "MEDIUM",
              "LOW"
            ]
          },
          "score": {
            "type": "number"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "ReputationResponse": {
        "type": "object",
        "properties": {
          "reputation": {
            "$ref": "#/components/schemas/ReputationData"
          }
        }
      },
      "GeoResponse": {
        "type": "object",
        "properties": {
          "geo": {
            "$ref": "#/components/schemas/GeoData"
          }
        }
      },
      "CertificatesResponse": {
        "type": "object",
        "properties": {
          "certificates": {
            "$ref": "#/components/schemas/CertificateData"
          }
        }
      },
      "VulnerabilitiesResponse": {
        "type": "object",
        "properties": {
          "vulnerabilities": {
            "$ref": "#/components/schemas/VulnerabilityData"
          }
        }
      },
      "WhoisResponse": {
        "type": "object",
        "properties": {
          "whois": {
            "$ref": "#/components/schemas/WhoisData"
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "keywords": {
            "type": "string"
          },
          "hits": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "total_hits": {
            "type": "integer"
          }
        }
      },
      "SubmitSourcesRequest": {
        "type": "object",
        "required": [
          "sources"
        ],
        "properties": {
          "sources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ThreatSource"
            }
          }
        }
      },
      "ThreatSource": {
        "type": "object",
        "required": [
          "name",
          "type",
          "url",
          "category"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "ip",
              "domain"
            ]
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "category": {
            "type": "string",
            "enum": [
              "malware",
              "phishing",
              "spam",
              "scam",
              "fraud",
              "botnet",
              "ransomware",
              "c2"
            ]
          }
        }
      },
      "SubmitResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "BlocklistStatsResponse": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/BlocklistStat"
        }
      },
      "BlocklistStat": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "lastUpdated": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "BulkCheckRequest": {
        "type": "object",
        "required": [
          "entities"
        ],
        "properties": {
          "entities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "enrichment": {
            "type": "string"
          }
        }
      },
      "BulkEntityResult": {
        "type": "object",
        "properties": {
          "entity": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "isMalicious": {
            "type": "boolean"
          },
          "confidence": {
            "type": "number"
          },
          "sources": {
            "type": "integer"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "error": {
            "type": "string"
          }
        }
      },
      "BulkCheckResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "total": {
            "type": "integer"
          },
          "processed": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BulkEntityResult"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "processingTimeMs": {
            "type": "integer"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - Invalid parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - Missing or invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Too many requests - Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  }
}