{
  "openapi": "3.0.3",
  "info": {
    "title": "Prembly API",
    "version": "1.0.0",
    "description": "Prembly identity verification API for document verification, biometrics, AML screening, background checks, and wallet management.",
    "x-jentic-source-url": "https://docs.prembly.com/docs/"
  },
  "servers": [{ "url": "https://api.prembly.com" }],
  "paths": {
    "/wallet-balance": {
      "get": {
        "operationId": "getWalletBalance",
        "summary": "Get wallet balance",
        "tags": ["Wallet"],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WalletResponse" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/verification-status": {
      "get": {
        "operationId": "getVerificationStatus",
        "summary": "Get verification status",
        "tags": ["Verification"],
        "parameters": [{ "name": "reference_id", "in": "query", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "type": "object" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/document-verification": {
      "post": {
        "operationId": "verifyDocument",
        "summary": "Verify document",
        "tags": ["Document Verification"],
        "requestBody": { "required": true, "content": { "multipart/form-data": { "schema": { "type": "object", "properties": { "document": { "type": "string", "format": "binary" }, "document_type": { "type": "string" }, "country_code": { "type": "string" } } } } } },
        "responses": {
          "200": { "description": "Verification result", "content": { "application/json": { "schema": { "type": "object" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/document-verification-with-face": {
      "post": {
        "operationId": "verifyDocumentWithFace",
        "summary": "Document verification with face",
        "tags": ["Document Verification"],
        "requestBody": { "required": true, "content": { "multipart/form-data": { "schema": { "type": "object", "properties": { "document": { "type": "string", "format": "binary" }, "selfie": { "type": "string", "format": "binary" } } } } } },
        "responses": {
          "200": { "description": "Verification result", "content": { "application/json": { "schema": { "type": "object" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/face-comparison": {
      "post": {
        "operationId": "compareFaces",
        "summary": "Compare faces",
        "tags": ["Biometrics"],
        "requestBody": { "required": true, "content": { "multipart/form-data": { "schema": { "type": "object", "properties": { "image_one": { "type": "string", "format": "binary" }, "image_two": { "type": "string", "format": "binary" } } } } } },
        "responses": {
          "200": { "description": "Comparison result", "content": { "application/json": { "schema": { "type": "object" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/face-liveliness-check": {
      "post": {
        "operationId": "checkFaceLiveness",
        "summary": "Face liveness check",
        "tags": ["Biometrics"],
        "requestBody": { "required": true, "content": { "multipart/form-data": { "schema": { "type": "object", "properties": { "image": { "type": "string", "format": "binary" } } } } } },
        "responses": {
          "200": { "description": "Liveness result", "content": { "application/json": { "schema": { "type": "object" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/pep-and-sanction": {
      "post": {
        "operationId": "pepAndSanctionScreening",
        "summary": "PEP and sanction screening",
        "tags": ["AML Screening"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "name": { "type": "string" }, "country_code": { "type": "string" } } } } } },
        "responses": {
          "200": { "description": "Screening result", "content": { "application/json": { "schema": { "type": "object" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/company-search-by-person": {
      "post": {
        "operationId": "searchCompanyByPerson",
        "summary": "Search company by person",
        "tags": ["Business Verification"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "name": { "type": "string" }, "country_code": { "type": "string" } } } } } },
        "responses": {
          "200": { "description": "Search results", "content": { "application/json": { "schema": { "type": "object" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/company-search-with-registration-number": {
      "post": {
        "operationId": "searchCompanyByRegistration",
        "summary": "Search company by registration number",
        "tags": ["Business Verification"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "registration_number": { "type": "string" }, "country_code": { "type": "string" } } } } } },
        "responses": {
          "200": { "description": "Search results", "content": { "application/json": { "schema": { "type": "object" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "WalletResponse": { "type": "object", "properties": { "balance": { "type": "number" }, "currency": { "type": "string" } } },
      "ErrorResponse": { "type": "object", "properties": { "status": { "type": "string" }, "message": { "type": "string" } } }
    },
    "securitySchemes": {
      "apiKeyAuth": { "type": "apiKey", "in": "header", "name": "x-api-key", "description": "Prembly secret key" }
    }
  },
  "security": [{ "apiKeyAuth": [] }]
}
