{
  "openapi": "3.0.0",
  "info": {
    "title": "LanguageDetection",
    "version": "version not set",
    "x-jentic-source-url": "https://raw.githubusercontent.com/messagebird/openapi-specs/main/language_detection/openapi.yaml",
    "description": "LanguageDetection provides programmatic access to api resources."
  },
  "servers": [
    {
      "url": "https://language-detection.messagebird.com/"
    }
  ],
  "paths": {
    "/api/v1/predict-language": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1PredictLanguageResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user is not authorized."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the resource does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "tags": [
          "LanguageDetection"
        ],
        "description": "Predicts the language for a given phrase. The process of predicting the language from a phrase is also known as language detection. If the language could not be determined, it will return [`LANGUAGE_UNDETERMINED`](#language-object). Uses the [ISO-639-3 standard](https://iso639-3.sil.org/code_tables/639/data) otherwise.",
        "operationId": "LanguageDetection_PredictLanguage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1PredictLanguageRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/v1/supported-languages": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1LanguageList"
                }
              }
            },
            "description": "A successful response."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user is not authorized."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the resource does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "tags": [
          "LanguageDetection"
        ],
        "description": "Lists the languages supported by the Language Detection API.",
        "operationId": "LanguageDetection_ListSupportedLanguages",
        "summary": "Get supported languages."
      }
    }
  },
  "components": {
    "schemas": {
      "protobufAny": {
        "additionalProperties": {},
        "properties": {
          "@type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "rpcStatus": {
        "properties": {
          "code": {
            "format": "int32",
            "type": "integer"
          },
          "details": {
            "items": {
              "$ref": "#/components/schemas/protobufAny"
            },
            "type": "array"
          },
          "message": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "v1Language": {
        "description": "Language that was detected from the given phrase.",
        "example": {
          "iso6393Code": "nld",
          "languageCode": "NLD",
          "name": "Dutch"
        },
        "properties": {
          "iso6393Code": {
            "description": "The ISO-639-3 code of the language.",
            "example": "nld",
            "title": "Iso 639 3 Code",
            "type": "string"
          },
          "languageCode": {
            "$ref": "#/components/schemas/v1LanguageCode",
            "description": "The enum value of the ISO639-3 language code.",
            "example": "NLD",
            "title": "Language Code"
          },
          "name": {
            "description": "The English name of the language.",
            "example": "Dutch",
            "title": "Name",
            "type": "string"
          }
        },
        "title": "Language",
        "type": "object"
      },
      "v1LanguageCode": {
        "default": "LANGUAGE_INVALID",
        "description": "Language code in ISO639-3 format. More info can be found here: https://iso639-3.sil.org/code_tables/639/data.",
        "enum": [
          "LANGUAGE_INVALID",
          "LANGUAGE_UNDETERMINED",
          "ENG",
          "RUS",
          "DEU",
          "FRA",
          "ITA",
          "JPN",
          "SPA",
          "CEB",
          "TUR",
          "POR",
          "UKR",
          "EPO",
          "POL",
          "SWE",
          "NLD",
          "HEB",
          "ZHO",
          "HUN",
          "ARA",
          "CAT",
          "FIN",
          "CES",
          "FAS",
          "SRP",
          "ELL",
          "VIE",
          "BUL",
          "KOR",
          "NOR",
          "MKD",
          "RON",
          "IND",
          "THA",
          "HYE",
          "DAN",
          "TAM",
          "HIN",
          "HRV",
          "HBS",
          "BEL",
          "KAT",
          "TEL",
          "KAZ",
          "WAR",
          "LIT",
          "GLG",
          "SLK",
          "BEN",
          "EUS",
          "SLV",
          "KAN",
          "MAL",
          "MAR",
          "EST",
          "AZE",
          "MSA",
          "SQI",
          "LAT",
          "BOS",
          "NNO",
          "URD",
          "LAV",
          "MYA",
          "TAT",
          "AFR",
          "OCI",
          "NDS",
          "KIR",
          "AST",
          "TGL",
          "ISL",
          "INA",
          "SIN",
          "GUJ",
          "KHM",
          "BRE",
          "BAK",
          "UZB",
          "BOD",
          "PAN",
          "VOL",
          "ALS",
          "NEP",
          "CYM",
          "JBO",
          "FRY",
          "MON",
          "LTZ",
          "CHE",
          "UIG",
          "TGK",
          "SCO",
          "SAN",
          "CHV",
          "JAV",
          "MIN",
          "IDO",
          "ORI",
          "ASM",
          "NEW",
          "GLE",
          "MLG",
          "ARG",
          "CKB",
          "SWA",
          "BAR",
          "LMO",
          "YID",
          "ARZ",
          "MHR",
          "AZB",
          "SAH",
          "PNB",
          "SUN",
          "BPY",
          "PMS",
          "ILO",
          "WUU",
          "KUR",
          "PUS",
          "ILE",
          "XMF",
          "YUE",
          "GOM",
          "LIM",
          "MWL",
          "COR",
          "SND",
          "HSB",
          "SCN",
          "GLA",
          "PAM",
          "BHO",
          "MAI",
          "VEC",
          "MLT",
          "DIV",
          "WLN",
          "MZN",
          "AMH",
          "QUE",
          "CBK",
          "TUK",
          "ROH",
          "OSS",
          "VLS",
          "YOR",
          "LAO",
          "LEZ",
          "SOM",
          "MYV",
          "DIQ",
          "MRJ",
          "DSB",
          "FRR",
          "HAT",
          "GRN",
          "BXR",
          "KOM",
          "SRD",
          "KRC",
          "BCL",
          "NAP",
          "GLV",
          "AVA",
          "RUE",
          "XAL",
          "PFL",
          "DTY",
          "HIF",
          "COS",
          "LRC",
          "VEP",
          "TYV",
          "NOB",
          "SNA",
          "KIN",
          "IBO",
          "SMO",
          "SOT",
          "MRI",
          "WOL",
          "XHO",
          "HAU",
          "HAW",
          "NYA",
          "ZUL",
          "HMN"
        ],
        "type": "string",
        "valueComments": [
          "Language code is invalid.",
          "Language could not be determined.",
          "English.",
          "Russian.",
          "German.",
          "French.",
          "Italian.",
          "Japanese.",
          "Spanish.",
          "Cebuano.",
          "Turkish.",
          "Portuguese.",
          "Ukrainian.",
          "Esperanto.",
          "Polish.",
          "Swedish.",
          "Dutch.",
          "Hebrew.",
          "Chinese.",
          "Hungarian.",
          "Arabic.",
          "Catalan.",
          "Finnish.",
          "Czech.",
          "Persian.",
          "Serbian.",
          "Greek.",
          "Vietnamese.",
          "Bulgarian.",
          "Korean.",
          "Norwegian.",
          "Macedonian.",
          "Romanian.",
          "Indonesian.",
          "Thai.",
          "Armenian.",
          "Danish.",
          "Tamil.",
          "Hindi.",
          "Croatian.",
          "Serbo-Croatian.",
          "Belarusian.",
          "Georgian.",
          "Telugu.",
          "Kazakh.",
          "Waray.",
          "Lithuanian.",
          "Galician.",
          "Slovak.",
          "Bengali.",
          "Basque.",
          "Slovenian.",
          "Kannada.",
          "Malayalam.",
          "Marathi.",
          "Estonian.",
          "Azerbaijani.",
          "Malay.",
          "Albanian.",
          "Latin.",
          "Bosnian.",
          "Norwegian Nynorsk.",
          "Urdu.",
          "Latvian.",
          "Burmese.",
          "Tatar.",
          "Afrikaans.",
          "Occitan.",
          "Low German.",
          "Kirghiz.",
          "Asturian.",
          "Tagalog.",
          "Icelandic.",
          "Interlingua.",
          "Sinhala.",
          "Gujarati.",
          "Central Khmer.",
          "Breton.",
          "Bashkir.",
          "Uzbek.",
          "Tibetan.",
          "Panjabi.",
          "Volap\u00fck.",
          "Tosk Albanian.",
          "Nepali.",
          "Welsh.",
          "Lojban.",
          "Western Frisian.",
          "Mongolian.",
          "Luxembourgish.",
          "Chechen.",
          "Uighur.",
          "Tajik.",
          "Scots.",
          "Sanskrit.",
          "Chuvash.",
          "Javanese.",
          "Minangkabau.",
          "Ido.",
          "Oriya.",
          "Assamese.",
          "Newari.",
          "Irish.",
          "Malagasy.",
          "Aragonese.",
          "Central Kurdish.",
          "Swahili.",
          "Bavarian.",
          "Lombard.",
          "Yiddish.",
          "Egyptian Arabic.",
          "Eastern Mari.",
          "South Azerbaijani.",
          "Yakut.",
          "Western Panjabi.",
          "Sundanese.",
          "Bishnupriya.",
          "Piemontese.",
          "Iloko.",
          "Wu Chinese.",
          "Kurdish.",
          "Pushto.",
          "Interlingue.",
          "Mingrelian.",
          "Yue Chinese.",
          "Goan Konkani.",
          "Limburgan.",
          "Mirandese.",
          "Cornish.",
          "Sindhi.",
          "Upper Sorbian.",
          "Sicilian.",
          "Scottish Gaelic.",
          "Pampanga.",
          "Bhojpuri.",
          "Maithili.",
          "Venetian.",
          "Maltese.",
          "Dhivehi.",
          "Walloon.",
          "Mazanderani.",
          "Amharic.",
          "Quechua.",
          "Chavacano.",
          "Turkmen.",
          "Romansh.",
          "Ossetian.",
          "Vlaams.",
          "Yoruba.",
          "Lao.",
          "Lezghian.",
          "Somali.",
          "Erzya.",
          "Dimli.",
          "Western Mari.",
          "Lower Sorbian.",
          "Northern Frisian.",
          "Haitian.",
          "Guarani.",
          "Russia Buriat.",
          "Komi.",
          "Sardinian.",
          "Karachay-Balkar.",
          "Central Bikol.",
          "Neapolitan.",
          "Manx.",
          "Avaric.",
          "Rusyn.",
          "Kalmyk.",
          "Pfaelzisch.",
          "Dotyali.",
          "Fiji Hindi.",
          "Corsican.",
          "Northern Luri.",
          "Veps.",
          "Tuvinian.",
          "Norwegian Bokm\u00e5l.",
          "Shona.",
          "Kinyarwanda.",
          "Igbo.",
          "Samoan.",
          "Southern Sotho.",
          "Maori.",
          "Wolof.",
          "Xhosa.",
          "Hausa.",
          "Hawaiian.",
          "Nyanja.",
          "Zulu.",
          "Hmong."
        ]
      },
      "v1LanguageList": {
        "description": "List of recognized languages.",
        "example": {
          "languages": [
            {
              "iso6393Code": "nld",
              "languageCode": "NLD",
              "name": "Dutch"
            },
            {
              "iso6393Code": "eng",
              "languageCode": "ENG",
              "name": "English"
            },
            {
              "iso6393Code": "spa",
              "languageCode": "SPA",
              "name": "Spanish"
            },
            {
              "iso6393Code": "zho",
              "languageCode": "ZHO",
              "name": "Chinese"
            }
          ]
        },
        "properties": {
          "languages": {
            "description": "The collection of languages.",
            "example": [
              {
                "iso6393Code": "nld",
                "languageCode": "NLD",
                "name": "Dutch"
              },
              {
                "iso6393Code": "eng",
                "languageCode": "ENG",
                "name": "English"
              },
              {
                "iso6393Code": "spa",
                "languageCode": "SPA",
                "name": "Spanish"
              },
              {
                "iso6393Code": "zho",
                "languageCode": "ZHO",
                "name": "Chinese"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/v1Language"
            },
            "title": "Languages",
            "type": "array"
          }
        },
        "title": "LanguageList",
        "type": "object"
      },
      "v1PredictLanguageRequest": {
        "description": "A request for predicting the language from a phrase.",
        "example": {
          "phrase": "Dit is iets in het Nederlands"
        },
        "properties": {
          "phrase": {
            "description": "The phrase for which to predict the language.",
            "example": "Dit is iets in het Nederlands",
            "title": "Phrase",
            "type": "string"
          }
        },
        "title": "PredictLanguageRequest",
        "type": "object"
      },
      "v1PredictLanguageResponse": {
        "description": "A response that contains the predicted language. If the service could not determine any language, the language field will not be populated.",
        "example": {
          "language": {
            "iso6393Code": "nld",
            "languageCode": "NLD",
            "name": "Dutch"
          }
        },
        "properties": {
          "language": {
            "$ref": "#/components/schemas/v1Language",
            "description": "The predicted language for the given phrase. If no known language could be determined this will be [`LANGUAGE_UNDETERMINED`](#language-object).",
            "example": {
              "iso6393Code": "nld",
              "languageCode": "NLD",
              "name": "Dutch"
            },
            "title": "Language"
          }
        },
        "title": "PredictLanguageResponse",
        "type": "object"
      }
    },
    "securitySchemes": {
      "AccessKey": {
        "in": "header",
        "name": "Authorization",
        "type": "apiKey"
      }
    }
  },
  "tags": [
    {
      "description": "The MessageBird Language Detection API detects the language of a given phrase. It assumes the given phrase is written in a single language, and might yield unexpected behavior if this assumption does not hold. \n\nLanguage detection works particularly well for longer texts. With shorter texts, it is often difficult to reliably decide on the language. For example, in _both_ German and Dutch, `\"hallo\"` means `\"hi\"` and so at the beginning of a conversation in Dutch or German the language might not always be clear. However, by using phrases that might occur later in the same conversation, it might be possible to robustly decide which language the person on the other is using. \n\nThis API uses the [ISO-639-3 language code standard](https://iso639-3.sil.org/code_tables/639/data). There are over 180 languages supported (see [Language](#language-object)).",
      "name": "LanguageDetection"
    }
  ],
  "externalDocs": {
    "description": "Find our official documentation in the MessageBird Docs",
    "url": "https://developers.messagebird.com/api"
  }
}