{
  "openapi": "3.0.3",
  "info": {
    "title": "GestionDiag - OpenAPI 3.0",
    "description": "Les requêtes HTTP doivent inclure dans le header le champs Authorization: Bearer <token>\nLa valeur <token> est obtenue par la requête Login dans laquelle doivent être ajoutés au corps de la requête le mail et mot de passe de l'utilisateur.\nEn cas d'erreur d'authentification (token invalide ou expiré), le code http 401 est renvoyé. Dans ce cas vous devrez générer un nouveau token à l'aide de la requête Login\nCette documention est encore en cours d'ecriture\nD'autres endpoints seront ajoutés au fur et à mesure.\nDe plus des exemples de réponses seront bientôt inserés à chaque requête.",
    "contact": {
      "email": "contact@gestion-diagnostic.fr"
    },
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/CONTACT_125/gestiondiag-api-rendez-vous/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.gestion-diagnostic.fr"
    }
  ],
  "paths": {
    "/utilisateur/login": {
      "post": {
        "tags": [
          "Login"
        ],
        "summary": "Authentification",
        "description": "Obtenir un token d'authentification pour accéder à l'API",
        "operationId": "login",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentification réussie",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "401": {
            "description": "Identifiants invalides"
          }
        }
      }
    },
    "/refs": {
      "get": {
        "tags": [
          "Références"
        ],
        "summary": "Liste des références",
        "description": "Récupère toutes les références nécessaires pour créer/modifier des dossiers.\n\nInclut:\n- Types de biens (ref_bien)\n- Types de diagnostics (ref_diagnostique)\n- Types de construction (ref_construction)\n- Plages de surface (ref_surface)\n- Créneaux horaires (ref_creneau)\n- Statuts de numéro de lot (ref_numero_de_lot_statut)\n- Départements (ref_departement)\n- Sources (ref_source)\n- Et autres références système\n",
        "operationId": "getRefs",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Liste des références",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferencesResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/upload/{rdv_id}": {
      "get": {
        "tags": [
          "Rapports"
        ],
        "summary": "Récupérer les rapports",
        "description": "Récupère tous les fichiers (rapports) associés à un dossier",
        "operationId": "getRapports",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "rdv_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID du dossier"
          }
        ],
        "responses": {
          "200": {
            "description": "Liste des rapports",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RapportsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Rapports"
        ],
        "summary": "Uploader un rapport",
        "description": "Upload un ou plusieurs fichiers (rapports diagnostics) sur un dossier.\nFormats acceptés: PDF, images (JPG, PNG)\n",
        "operationId": "uploadRapport",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "rdv_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID du dossier"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fichier uploadé avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/upload/{file_id}": {
      "delete": {
        "tags": [
          "Rapports"
        ],
        "summary": "Supprimer un rapport",
        "description": "Supprime un fichier par son ID.\n\n⚠️ Attention: L'ID du fichier est différent de l'ID du dossier.\nAction irréversible.\n",
        "operationId": "deleteRapport",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID du fichier (⚠️ Différent de l'ID du dossier)"
          }
        ],
        "responses": {
          "200": {
            "description": "Fichier supprimé",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/rendez-vous/liste": {
      "post": {
        "tags": [
          "Dossiers"
        ],
        "summary": "Liste des dossiers",
        "description": "Récupère la liste filtrée des dossiers avec pagination",
        "operationId": "listeDossiers",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListeDossiersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Liste récupérée avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListeDossiersResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/rendez-vous/": {
      "post": {
        "tags": [
          "Dossiers"
        ],
        "summary": "Nouveau Dossier",
        "description": "Création de rendez-vous/devis",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "SecurityToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/NouveauDossierRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Opération réussie",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/NouveauDossierResponse"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/rendez-vous/{id}": {
      "get": {
        "tags": [
          "Dossiers"
        ],
        "summary": "Récupère un dossier par son ID",
        "description": "Récupère les détails d'un dossier",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID du dossier"
          }
        ],
        "responses": {
          "200": {
            "description": "Dossier récupéré",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Dossiers"
        ],
        "summary": "Archive un dossier",
        "description": "Archive un dossier et crée un avoir si nécessaire",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID du dossier"
          }
        ],
        "responses": {
          "200": {
            "description": "Dossier supprimé",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/rendez-vous/modification": {
      "post": {
        "tags": [
          "Dossiers"
        ],
        "summary": "Modifie un dossier",
        "description": "Modifie et met à jour le suivi client",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "SecurityToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModificationDossierRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dossier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/rendez-vous/read": {
      "post": {
        "tags": [
          "Dossiers"
        ],
        "summary": "Marque un dossier comme lu/non lu",
        "description": "Met à jour le statut de lecture d'un dossier",
        "operationId": "marquerLu",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ID",
                  "read"
                ],
                "properties": {
                  "ID": {
                    "type": "integer",
                    "description": "ID du dossier"
                  },
                  "read": {
                    "type": "integer",
                    "enum": [
                      0,
                      1
                    ],
                    "description": "1 pour lu, 0 pour non lu"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Statut mis à jour",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rendez-vous/duplication": {
      "post": {
        "tags": [
          "Dossiers"
        ],
        "summary": "Duplique un dossier",
        "description": "Crée une copie d'un dossier existant",
        "operationId": "duplicationDossier",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ID"
                ],
                "properties": {
                  "ID": {
                    "type": "integer",
                    "description": "ID du dossier à dupliquer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dossier dupliqué",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NouveauDossierResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rendez-vous/mail-technicien": {
      "post": {
        "tags": [
          "Dossiers"
        ],
        "summary": "Envoie mail au technicien",
        "description": "Envoie le mail de mission au technicien assigné",
        "operationId": "mailTechnicien",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "rdv_id"
                ],
                "properties": {
                  "rdv_id": {
                    "type": "integer",
                    "description": "ID du dossier"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mail envoyé",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rendez-vous/demande-de-rappel": {
      "post": {
        "tags": [
          "Dossiers"
        ],
        "summary": "Demande de rappel",
        "description": "Enregistre une demande de rappel client",
        "operationId": "demandeRappel",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Demande enregistrée",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rendez-vous/gestion-rdv": {
      "put": {
        "tags": [
          "Dossiers"
        ],
        "summary": "Gestion de la date de rendez-vous",
        "description": "Permet de modifier ou supprimer la date d'un rendez-vous.\n\nActions disponibles:\n- `modifier_date_et_creneau`: Modifie la date et le créneau d'un dossier. Si le dossier est un devis, il devient un RDV.\n- `supprimer_date_rdv`: Supprime la date du rendez-vous (le transforme en devis). Supprime également l'événement du calendrier Google.\n",
        "operationId": "gestionDateRdv",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ModifierDateCreneauRequest"
                  },
                  {
                    "$ref": "#/components/schemas/SupprimerDateRdvRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Opération réussie",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/compte_client/listeClients": {
      "post": {
        "tags": [
          "Clients"
        ],
        "summary": "Liste des clients",
        "description": "Récupère la liste filtrée des comptes clients avec pagination",
        "operationId": "listeClients",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListeClientsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Liste récupérée avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListeClientsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/compte_client/infos": {
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "Informations client",
        "description": "Récupère les informations d'un client par son email",
        "operationId": "infosClient",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "mail_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            },
            "description": "Email du client"
          }
        ],
        "responses": {
          "200": {
            "description": "Client récupéré",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          }
        }
      }
    },
    "/compte_client/ajout": {
      "post": {
        "tags": [
          "Clients"
        ],
        "summary": "Créer un client",
        "description": "Crée un nouveau compte client et son contact principal",
        "operationId": "ajoutClient",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NouveauClientRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client créé",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/compte_client/modification": {
      "post": {
        "tags": [
          "Clients"
        ],
        "summary": "Modifier un client",
        "description": "Modifie un compte client existant",
        "operationId": "modificationClient",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModificationClientRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client modifié",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/compte_client/{Client_ID}": {
      "delete": {
        "tags": [
          "Clients"
        ],
        "summary": "Supprimer un client",
        "description": "Supprime définitivement un compte client et ses contacts",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Client_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID du client à supprimer"
          }
        ],
        "responses": {
          "200": {
            "description": "Client supprimé",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/compte_client/gestion-contact": {
      "post": {
        "tags": [
          "Clients"
        ],
        "summary": "Gestion des contacts",
        "description": "Gestion des contacts associés à un compte client",
        "operationId": "gestionContact",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GestionContactRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Opération réussie",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/tag/{ref_type_tag_ID}": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "Liste des tags",
        "description": "Récupère la liste des tags d'un type donné",
        "operationId": "listeTags",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ref_type_tag_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2,
                3
              ]
            },
            "description": "Type de tag (1=clients, 2=dossiers, 3=fichiers)"
          }
        ],
        "responses": {
          "200": {
            "description": "Liste récupérée avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/StandardResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Tag"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/tag/": {
      "post": {
        "tags": [
          "Tags"
        ],
        "summary": "Créer un tag",
        "description": "Crée un nouveau tag",
        "operationId": "creerTag",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NouveauTagRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag créé",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/tag/{ID}": {
      "post": {
        "tags": [
          "Tags"
        ],
        "summary": "Modifier un tag",
        "description": "Modifie un tag existant",
        "operationId": "modifierTag",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID du tag à modifier"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModificationTagRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag modifié",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Tags"
        ],
        "summary": "Supprimer un tag",
        "description": "Supprime un tag et retire toutes ses associations",
        "operationId": "supprimerTag",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID du tag à supprimer"
          }
        ],
        "responses": {
          "200": {
            "description": "Tag supprimé",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/tag/set-upload": {
      "post": {
        "tags": [
          "Tags"
        ],
        "summary": "Associer un tag à un fichier",
        "description": "Associe un tag à un fichier uploadé et définit sa visibilité",
        "operationId": "setUploadTag",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetUploadTagRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag associé au fichier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/tag/set-rdv": {
      "post": {
        "tags": [
          "Tags"
        ],
        "summary": "Associer un tag à un dossier",
        "description": "Associe un tag de type dossier (ref_type_tag_ID=2) à un rendez-vous/dossier",
        "operationId": "setRdvTag",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetRdvTagRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag associé au dossier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/techniciens/listeTechniciens": {
      "post": {
        "tags": [
          "Techniciens"
        ],
        "summary": "Liste des techniciens",
        "description": "Récupère la liste des techniciens avec statistiques",
        "operationId": "listeTechniciens",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListeTechniciensRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Liste récupérée avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListeTechniciensResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/techniciens/ajout": {
      "post": {
        "tags": [
          "Techniciens"
        ],
        "summary": "Créer un technicien",
        "description": "Crée un nouveau technicien",
        "operationId": "ajoutTechnicien",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NouveauTechnicienRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Technicien créé",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/techniciens/modification": {
      "post": {
        "tags": [
          "Techniciens"
        ],
        "summary": "Modifier un technicien",
        "description": "Modifie un technicien existant",
        "operationId": "modificationTechnicien",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModificationTechnicienRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Technicien modifié",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/techniciens/{technicien_ID}": {
      "delete": {
        "tags": [
          "Techniciens"
        ],
        "summary": "Supprimer un technicien",
        "description": "Masque un technicien (soft delete)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "technicien_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Technicien supprimé",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        }
      }
    },
    "/techniciens/liste-calendar/{technicien_ID}": {
      "get": {
        "tags": [
          "Techniciens"
        ],
        "summary": "ACL du calendrier",
        "description": "Liste les permissions du calendrier Google du technicien",
        "operationId": "listeCalendar",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "technicien_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ACL récupérées",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        }
      }
    },
    "/techniciens/certifs/{technicien_ID}": {
      "get": {
        "tags": [
          "Techniciens"
        ],
        "summary": "Liste des certifications",
        "description": "Récupère les certifications d'un technicien",
        "operationId": "getCertifs",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "technicien_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Certifications récupérées",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificationsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Paramètre manquant"
          }
        }
      }
    },
    "/techniciens/certifs/": {
      "post": {
        "tags": [
          "Techniciens"
        ],
        "summary": "Ajouter une certification",
        "description": "Ajoute une certification à un technicien",
        "operationId": "addCertif",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NouveauCertifRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Certification ajoutée",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        }
      }
    },
    "/techniciens/certifs/{ID}": {
      "put": {
        "tags": [
          "Techniciens"
        ],
        "summary": "Modifier une certification",
        "description": "Modifie une certification existante",
        "operationId": "updateCertif",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModificationCertifRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Certification modifiée",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Techniciens"
        ],
        "summary": "Supprimer une certification",
        "description": "Supprime une certification",
        "operationId": "deleteCertif",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Certification supprimée",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Token d'authentification utilisateur (HTTP_TOKEN header)"
      },
      "SecurityToken": {
        "type": "apiKey",
        "in": "query",
        "name": "token",
        "description": "Token de sécurité pour accès public sécurisé"
      }
    },
    "schemas": {
      "ListeDossiersRequest": {
        "type": "object",
        "properties": {
          "offset": {
            "type": "integer",
            "minimum": 0,
            "default": 0,
            "description": "Offset de pagination"
          },
          "archive": {
            "type": "boolean",
            "default": false,
            "description": "Filtre les dossiers archivés"
          },
          "read": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Filtre par statut de lecture (0=non lu, 1=lu)"
          },
          "recherche_general": {
            "type": "string",
            "description": "Recherche globale dans tous les champs"
          },
          "filter_date_rdv": {
            "type": "array",
            "minItems": 2,
            "maxItems": 2,
            "items": {
              "type": "string",
              "format": "date"
            },
            "description": "Plage de dates de rendez-vous [date_debut, date_fin]"
          },
          "filter_date_creation": {
            "type": "array",
            "minItems": 2,
            "maxItems": 2,
            "items": {
              "type": "string",
              "format": "date"
            },
            "description": "Plage de dates de création [date_debut, date_fin]"
          },
          "filter_date_paiement": {
            "type": "array",
            "minItems": 2,
            "maxItems": 2,
            "items": {
              "type": "string",
              "format": "date"
            },
            "description": "Plage de dates de paiement [date_debut, date_fin]"
          },
          "filter_date_facturation": {
            "type": "array",
            "minItems": 2,
            "maxItems": 2,
            "items": {
              "type": "string",
              "format": "date"
            },
            "description": "Plage de dates de facturation [date_debut, date_fin]"
          },
          "filter_prix": {
            "type": "string",
            "description": "Filtre par prix (recherche LIKE)"
          },
          "filter_num_facture": {
            "type": "string",
            "description": "Filtre par numéro de facture"
          },
          "filter_code_postal": {
            "type": "string",
            "description": "Filtre par code postal"
          },
          "filter_adresse": {
            "type": "string",
            "description": "Filtre par adresse"
          },
          "filter_ref_dossier": {
            "type": "string",
            "description": "Filtre par référence du dossier"
          },
          "filter_ID": {
            "type": "integer",
            "description": "Filtre par ID du dossier"
          },
          "filter_proprietaire": {
            "type": "string",
            "description": "Filtre par nom ou téléphone du propriétaire"
          },
          "filter_reception": {
            "type": "string",
            "description": "Filtre par nom ou téléphone de la personne qui reçoit"
          },
          "filter_donneur_ordre": {
            "type": "string",
            "description": "Filtre par donneur d'ordre (nom, téléphone, agence, email)"
          },
          "filter_facturation": {
            "type": "string",
            "description": "Filtre par informations de facturation"
          },
          "filter_dernier_rdv": {
            "type": "integer",
            "enum": [
              1,
              2
            ],
            "description": "1=Aujourd'hui, 2=Ce mois"
          },
          "filter_tag": {
            "type": "integer",
            "description": "Filtre par tag"
          },
          "filter_source": {
            "type": "integer",
            "description": "Filtre par source (ref_source_ID)"
          },
          "filter_transaction": {
            "type": "integer",
            "description": "Filtre par type de transaction"
          },
          "filter_cree_par": {
            "type": "integer",
            "description": "Filtre par utilisateur créateur"
          },
          "filter_rdv_devis": {
            "type": "integer",
            "enum": [
              1,
              2,
              3,
              4
            ],
            "description": "1=RDV uniquement, 2=Devis sans RDV, 3=RDV à fixer, 4=Réclamations"
          },
          "filter_dossier_complet": {
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ],
            "description": "1=Complets à envoyer, 2=Suivi incomplet, 3=Dossier incomplet"
          },
          "filter_diagnostic_pret": {
            "type": "boolean",
            "description": "Diagnostic prêt mais non envoyé"
          },
          "filter_devis_facture": {
            "type": "integer",
            "enum": [
              1,
              2
            ],
            "description": "1=Facturés, 2=Non facturés"
          },
          "filter_rdv_copie": {
            "type": "integer",
            "enum": [
              1,
              2
            ],
            "description": "1=Originaux, 2=Copies"
          },
          "filter_mail_facture": {
            "type": "integer",
            "enum": [
              1,
              2
            ],
            "description": "1=Avec email facturation, 2=Sans email"
          },
          "filter_devis_signe": {
            "type": "integer",
            "enum": [
              1,
              2
            ],
            "description": "1=Signés, 2=Non signés"
          },
          "filter_consentement_dpe": {
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ],
            "description": "1=Signé avec consentement, 2=Signé sans consentement, 3=Non signé"
          },
          "filter_devis_envoye": {
            "type": "integer",
            "enum": [
              1,
              2
            ],
            "description": "1=Envoyés, 2=Non envoyés"
          },
          "filter_lettre_dpe": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Filtrer par lettres DPE (IDs)"
          },
          "filter_bien": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Filtrer par types de bien (IDs)"
          },
          "filter_origine": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Filtrer par origines (ref_rdv_origine_ID)"
          },
          "filter_dossier_envoye": {
            "type": "array",
            "items": {
              "type": "integer",
              "enum": [
                1,
                2,
                3
              ]
            },
            "description": "1=Non envoyé, 2=Prêt mais non envoyé, 3=Envoyé"
          },
          "filter_facture": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Filtrer par statut de facturation (ref_statut_donneur_ordre_ID)"
          },
          "filter_do_statut": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Filtrer par statut du donneur d'ordre"
          },
          "filter_technicien": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Filtrer par techniciens (IDs)"
          },
          "filter_envoye_par": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Filtrer par utilisateur créateur (IDs)"
          },
          "filter_paiement": {
            "type": "integer",
            "description": "Filtre par type de paiement (25=impayés)"
          },
          "date_rdv_ordre": {
            "type": "integer",
            "enum": [
              1,
              2
            ],
            "description": "Tri par date de RDV (1=ASC, 2=DESC)"
          },
          "date_creation_ordre": {
            "type": "integer",
            "enum": [
              1,
              2
            ],
            "description": "Tri par date de création (1=ASC, 2=DESC)"
          },
          "code_postal_ordre": {
            "type": "integer",
            "enum": [
              1,
              2
            ],
            "description": "Tri par code postal (1=ASC, 2=DESC)"
          },
          "prix_ordre": {
            "type": "integer",
            "enum": [
              1,
              2
            ],
            "description": "Tri par prix (1=ASC, 2=DESC)"
          },
          "extrait_facture": {
            "type": "boolean",
            "description": "Mode export de factures"
          }
        }
      },
      "ListeDossiersResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/StandardResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "rdvs": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Dossier"
                    }
                  },
                  "count_rdvs": {
                    "type": "integer",
                    "description": "Nombre total de dossiers"
                  },
                  "somme_total": {
                    "type": "number",
                    "format": "float",
                    "description": "Somme totale des prix"
                  },
                  "offset": {
                    "type": "integer",
                    "description": "Offset actuel"
                  }
                }
              }
            }
          }
        ]
      },
      "NouveauDossierRequest": {
        "type": "object",
        "required": [
          "action",
          "backoffice_ID",
          "adresse",
          "ref_diagnostique_IDs"
        ],
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "nouveau_rendez_vous",
              "nouveau_rendez_vous_sans_envoi",
              "nouveau_devis",
              "nouveau_devis_sans_envoi"
            ],
            "description": "Type d'action à effectuer"
          },
          "origin": {
            "type": "string",
            "enum": [
              "frontoffice",
              "backoffice"
            ],
            "description": "Origine de la création"
          },
          "backoffice_ID": {
            "type": "integer",
            "description": "ID du backoffice (frontoffice uniquement)"
          },
          "mini_token": {
            "type": "string",
            "description": "Token de validation backoffice (frontoffice uniquement)"
          },
          "signature": {
            "type": "string",
            "description": "Signature de sécurité (frontoffice uniquement)"
          },
          "ref_bien_ID": {
            "type": "integer",
            "description": "ID du Type de bien (voir refs)"
          },
          "details_type_de_bien": {
            "type": "string",
            "description": "Détails du type de bien"
          },
          "ref_construction_ID": {
            "type": "integer",
            "description": "ID du type de construction (voir refs)"
          },
          "annee_construction": {
            "type": "integer",
            "example": 1980
          },
          "superficie": {
            "type": "number",
            "format": "float",
            "example": 65
          },
          "nombre_pieces": {
            "type": "integer",
            "example": 3
          },
          "avec_annexe": {
            "type": "integer",
            "enum": [
              0,
              1
            ]
          },
          "ref_annexe_IDs": {
            "type": "array",
            "description": "Liste des types d'annexes  (voir refs)",
            "items": {
              "type": "integer"
            }
          },
          "superficie_annexe": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "ref_transaction_ID": {
            "type": "integer",
            "description": "ID Type de transaction (voir refs)"
          },
          "ref_diagnostique_IDs": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "IDs des diagnostics demandés (voir refs)"
          },
          "adresse": {
            "$ref": "#/components/schemas/Adresse"
          },
          "creneau": {
            "$ref": "#/components/schemas/CreneauInput",
            "nullable": true
          },
          "rdv_a_fixer": {
            "type": "boolean",
            "description": "RDV à fixer ultérieurement"
          },
          "proprietaire_nom": {
            "type": "string"
          },
          "proprietaire_tel": {
            "type": "string"
          },
          "proprietaire_mail": {
            "type": "string",
            "format": "email"
          },
          "proprietaire_adresse": {
            "type": "string"
          },
          "reception_nom": {
            "type": "string"
          },
          "reception_tel": {
            "type": "string"
          },
          "reception_mail": {
            "type": "string",
            "format": "email"
          },
          "reception_nom_agence": {
            "type": "string"
          },
          "reception_adresse": {
            "type": "string"
          },
          "facturation_nom": {
            "type": "string"
          },
          "facturation_nom_agence": {
            "type": "string",
            "nullable": true
          },
          "facturation_tel": {
            "type": "string"
          },
          "facturation_mail": {
            "type": "string",
            "format": "email"
          },
          "facturation_adresse": {
            "type": "string"
          },
          "commentaires_public": {
            "type": "string",
            "description": "Commentaires visibles par le client"
          },
          "commentaire_technicien": {
            "type": "string",
            "description": "Commentaires internes"
          },
          "conditions_acces": {
            "type": "string"
          },
          "numero_de_lot": {
            "type": "string"
          },
          "chauffage_collectif": {
            "type": "integer",
            "enum": [
              0,
              1
            ]
          },
          "prix": {
            "type": "number",
            "format": "float",
            "example": 250
          },
          "remise_appliquee": {
            "type": "number",
            "format": "float",
            "default": 0
          },
          "duree_rdv": {
            "type": "integer",
            "description": "Durée en secondes",
            "default": 3600
          },
          "mention_titre": {
            "type": "string",
            "description": "Titre personnalisé pour l'agenda"
          },
          "mail_reception_rapport": {
            "type": "string",
            "format": "email"
          },
          "technicien_ID": {
            "type": "integer",
            "default": 0
          },
          "ref_source_ID": {
            "description": "ID du type de source (voir refs)",
            "type": "integer",
            "default": 5
          },
          "client_presse": {
            "type": "integer",
            "enum": [
              0,
              1
            ]
          },
          "donneur_ordre_garant": {
            "type": "boolean"
          },
          "prevu_paiement_sur_place": {
            "type": "boolean"
          },
          "envoi_mail_technicien": {
            "type": "boolean"
          },
          "provenance": {
            "type": "string"
          },
          "lien_affiliation": {
            "type": "string",
            "nullable": true
          },
          "ref_rdv_origine_ID": {
            "description": "ID de l'origine du dossier (voir refs)",
            "type": "integer",
            "default": 0
          }
        }
      },
      "ModificationDossierRequest": {
        "type": "object",
        "required": [
          "ID"
        ],
        "properties": {
          "ID": {
            "type": "integer"
          },
          "token": {
            "type": "string",
            "description": "Token de suivi client (si pas auth)"
          },
          "backoffice_ID": {
            "description": "ID du backoffice (si pas auth)",
            "type": "integer"
          },
          "jour_rdv": {
            "type": "string",
            "format": "date",
            "description": "Si fourni, transforme devis en RDV"
          },
          "creneau_rdv": {
            "type": "integer",
            "description": "ID du créneau"
          },
          "prix": {
            "type": "number",
            "format": "float"
          },
          "generer_facture": {
            "type": "boolean",
            "description": "La mise à 0 crée un avoir"
          },
          "generer_suivi": {
            "type": "boolean",
            "description": "Indique que le tech est passé"
          },
          "ref_numero_de_lot_statut_ID": {
            "description": "Statut n° de lots (voir refs)",
            "type": "integer"
          },
          "numero_de_lot": {
            "type": "string"
          },
          "ref_identifiant_fiscal_ID": {
            "type": "integer"
          },
          "identifiant_fiscal": {
            "type": "string"
          },
          "commentaire_paiement": {
            "type": "string"
          },
          "commentaire_technicien": {
            "type": "string"
          },
          "ref_facture_dpe_ID": {
            "description": "Voir refs",
            "type": "integer"
          },
          "ref_lettre_dpe_ID": {
            "type": "integer",
            "description": "Voir refs"
          },
          "txt_ameliorer_dpe": {
            "type": "string"
          },
          "tantieme": {
            "type": "string",
            "example": "100/10000"
          },
          "chauffage_collectif": {
            "type": "boolean"
          },
          "chauffage_connu": {
            "type": "boolean"
          },
          "ref_type_chauffage_ID": {
            "type": "integer",
            "description": "Voir refs"
          },
          "nb_prelevement_amiante": {
            "type": "integer"
          },
          "remise_appliquee": {
            "type": "number"
          }
        }
      },
      "ModifierDateCreneauRequest": {
        "type": "object",
        "required": [
          "action",
          "ID",
          "jour",
          "creneau"
        ],
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "modifier_date_et_creneau"
            ],
            "description": "Action à effectuer"
          },
          "ID": {
            "type": "integer",
            "description": "ID du dossier/rendez-vous"
          },
          "jour": {
            "type": "string",
            "format": "date",
            "description": "Nouvelle date du rendez-vous (YYYY-MM-DD)",
            "example": "2025-01-20"
          },
          "creneau": {
            "type": "integer",
            "description": "ID du créneau horaire (voir /refs pour la liste)",
            "example": 1
          }
        }
      },
      "SupprimerDateRdvRequest": {
        "type": "object",
        "required": [
          "action",
          "ID"
        ],
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "supprimer_date_rdv"
            ],
            "description": "Action à effectuer"
          },
          "ID": {
            "type": "integer",
            "description": "ID du dossier/rendez-vous"
          }
        }
      },
      "Adresse": {
        "type": "object",
        "required": [
          "adresse",
          "code_postal"
        ],
        "properties": {
          "adresse": {
            "type": "string",
            "example": "10 rue de la Paix 75001 Paris"
          },
          "code_postal": {
            "type": "string",
            "example": "75001"
          },
          "coordonnees": {
            "type": "object",
            "properties": {
              "lat": {
                "type": "number",
                "format": "double"
              },
              "lng": {
                "type": "number",
                "format": "double"
              }
            }
          },
          "ville": {
            "type": "string"
          },
          "number": {
            "type": "string"
          },
          "street": {
            "type": "string"
          }
        }
      },
      "CreneauInput": {
        "type": "object",
        "required": [
          "ID",
          "jour"
        ],
        "properties": {
          "ID": {
            "type": "integer",
            "description": "ID du créneau"
          },
          "jour": {
            "type": "string",
            "format": "date-time",
            "example": "2025-01-15T08:00:00+01:00"
          },
          "nom": {
            "type": "string",
            "example": "Matin (8h-12h)"
          }
        }
      },
      "Dossier": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer"
          },
          "adresse": {
            "type": "object",
            "properties": {
              "adresse": {
                "type": "string"
              },
              "code_postal": {
                "type": "string"
              }
            }
          },
          "creneau": {
            "type": "object",
            "properties": {
              "ID": {
                "type": "integer"
              },
              "jour": {
                "type": "string",
                "format": "date"
              },
              "nom": {
                "type": "string"
              }
            }
          },
          "proprietaire_nom": {
            "type": "string"
          },
          "proprietaire_tel": {
            "type": "string"
          },
          "proprietaire_mail": {
            "type": "string"
          },
          "prix": {
            "type": "number",
            "format": "float"
          },
          "paiements": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "lien_suivi_client": {
            "type": "string",
            "format": "uri"
          },
          "lien_consentement_dpe": {
            "type": "string",
            "format": "uri"
          },
          "lien_devis": {
            "type": "string",
            "format": "uri"
          },
          "technicien_ID": {
            "type": "integer"
          },
          "technicien_nom": {
            "type": "string"
          },
          "archive": {
            "type": "boolean"
          },
          "read": {
            "type": "boolean"
          },
          "statut_nom": {
            "type": "string"
          },
          "tag_nom": {
            "type": "string"
          },
          "tag_color": {
            "type": "string"
          },
          "donneur_ordre_nom": {
            "type": "string"
          },
          "donneur_ordre_tel": {
            "type": "string"
          },
          "donneur_ordre_mail": {
            "type": "string"
          },
          "facturation_nom": {
            "type": "string"
          },
          "facturation_mail": {
            "type": "string"
          },
          "numero_dossier": {
            "type": "string"
          },
          "diagnostic_pret": {
            "type": "boolean"
          },
          "dossier_envoye": {
            "type": "boolean"
          }
        }
      },
      "NouveauDossierResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/StandardResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "insert_id": {
                    "type": "integer",
                    "description": "ID du dossier créé"
                  },
                  "token_modif": {
                    "type": "string",
                    "description": "Token de modification pour le client"
                  },
                  "lien_paiement": {
                    "type": "string",
                    "format": "uri",
                    "description": "Lien de paiement en ligne"
                  },
                  "lien_devis": {
                    "type": "string",
                    "format": "uri",
                    "description": "Lien vers le devis"
                  }
                }
              }
            }
          }
        ]
      },
      "StandardResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "boolean",
            "example": false,
            "description": "Indique si une erreur est survenue"
          },
          "data": {
            "type": "object",
            "description": "Données de réponse"
          },
          "notif": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Notifications système"
          },
          "version": {
            "type": "number",
            "format": "float",
            "description": "Version de l'API"
          }
        }
      },
      "ListeClientsRequest": {
        "type": "object",
        "properties": {
          "offset": {
            "type": "integer",
            "minimum": 0,
            "default": 0
          },
          "recherche_general": {
            "type": "string",
            "description": "Recherche globale (syntaxe spéciale '>123' pour ID>123)"
          },
          "filter_date_rdv": {
            "type": "array",
            "minItems": 2,
            "maxItems": 2,
            "items": {
              "type": "string",
              "format": "date"
            },
            "description": "Plage de dates de RDV"
          },
          "filter_statut": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Filtrer par statuts donneur d'ordre"
          },
          "filter_tag": {
            "type": "integer",
            "description": "Filtrer par ID de tag"
          },
          "filter_cree_par": {
            "type": "integer",
            "description": "Filtrer par ID utilisateur créateur"
          },
          "filter_dernier_rdv": {
            "type": "integer",
            "description": "Filtrer par dernier RDV (0=jamais, 6=plus de 6 mois, etc.)"
          },
          "filter_top_CA": {
            "type": "integer",
            "description": "Top N clients par chiffre d'affaires"
          },
          "filtre_compte_client": {
            "type": "integer",
            "enum": [
              1,
              2
            ],
            "description": "1=Avec accès, 2=Sans accès"
          },
          "filtre_presentation_recu": {
            "type": "integer",
            "enum": [
              1,
              2,
              3,
              4
            ],
            "description": "1=Reçue, 2=Non reçue, 3=>6 mois, 4=>1 an"
          },
          "filtre_affilie_utilisateur": {
            "type": "integer",
            "enum": [
              1,
              2
            ],
            "description": "1=Affiliés, 2=Non affiliés"
          },
          "filter_demarche_relance": {
            "type": "integer",
            "enum": [
              1,
              2,
              3,
              4,
              5
            ],
            "description": "1=Sans relance, 2=Retard, 3=À venir, 4=Aujourd'hui, 5=Tous"
          },
          "nom_agence_ordre": {
            "type": "integer",
            "enum": [
              1,
              2
            ],
            "description": "Tri par nom agence (1=ASC, 2=DESC)"
          }
        }
      },
      "ListeClientsResponse": {
        "type": "object",
        "properties": {
          "clients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Client"
            }
          },
          "count_clients": {
            "type": "integer"
          },
          "sum_ca": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "mail_presentation": {
            "type": "boolean"
          }
        }
      },
      "Client": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer"
          },
          "correspondant_nom": {
            "type": "string"
          },
          "correspondant_tel": {
            "type": "string"
          },
          "correspondant_mail": {
            "type": "string",
            "format": "email"
          },
          "nom_agence": {
            "type": "string"
          },
          "mail_id": {
            "type": "string",
            "format": "email"
          },
          "adresse": {
            "type": "string"
          },
          "siret": {
            "type": "string"
          },
          "lien_affiliation": {
            "type": "string"
          },
          "ref_statut_donneur_ordre_ID": {
            "type": "integer"
          },
          "donneur_ordre_statut": {
            "type": "string"
          },
          "ref_type_remise_ID": {
            "type": "integer",
            "nullable": true
          },
          "detail_remise": {
            "type": "string",
            "nullable": true
          },
          "utilisateur_ID": {
            "type": "integer",
            "nullable": true
          },
          "mauvais_payeur": {
            "type": "integer"
          },
          "delai_paiement": {
            "type": "integer"
          },
          "toujours_bloquer_relances": {
            "type": "integer"
          },
          "toujours_debloquer_rapport": {
            "type": "integer"
          },
          "ne_pas_demander_reglement": {
            "type": "integer"
          },
          "facturation_mensualisee": {
            "type": "integer"
          },
          "commentaire_client": {
            "type": "string"
          },
          "tag_ID": {
            "type": "integer",
            "nullable": true
          },
          "tag_nom": {
            "type": "string"
          },
          "tag_color": {
            "type": "string"
          },
          "ref_client_etat_demarchage_ID": {
            "type": "integer",
            "nullable": true
          },
          "cree_par": {
            "type": "integer"
          },
          "acces_compte_client": {
            "type": "integer"
          },
          "conditions_acceptees": {
            "type": "integer"
          },
          "conditions_acceptees_le": {
            "type": "string",
            "format": "date"
          },
          "presentation_recu": {
            "type": "string",
            "format": "date"
          },
          "note_client": {
            "type": "integer"
          },
          "dernier_rdv": {
            "type": "string",
            "format": "date"
          },
          "dernier_rdv_ID": {
            "type": "integer"
          },
          "count_rdv": {
            "type": "integer"
          },
          "chiffre_affaire": {
            "type": "number",
            "format": "float"
          },
          "panier_moyen": {
            "type": "number",
            "format": "float"
          },
          "lien_conditions_generales": {
            "type": "string",
            "format": "uri"
          },
          "demarche_ID": {
            "type": "integer"
          },
          "demarche_contacte_le": {
            "type": "string",
            "format": "date"
          },
          "demarche_a_rappeler_le": {
            "type": "string",
            "format": "date"
          },
          "demarche_commentaire": {
            "type": "string"
          },
          "demarche_mode_contact_nom": {
            "type": "string"
          }
        }
      },
      "NouveauClientRequest": {
        "type": "object",
        "required": [
          "correspondant_nom",
          "correspondant_tel",
          "nom_agence",
          "mail_id",
          "ref_statut_donneur_ordre_ID"
        ],
        "properties": {
          "correspondant_nom": {
            "type": "string"
          },
          "correspondant_tel": {
            "type": "string"
          },
          "correspondant_mail": {
            "type": "string",
            "format": "email"
          },
          "nom_agence": {
            "type": "string"
          },
          "mail_id": {
            "type": "string",
            "format": "email"
          },
          "adresse": {
            "type": "string"
          },
          "siret": {
            "type": "string"
          },
          "lien_affiliation": {
            "type": "string"
          },
          "ref_statut_donneur_ordre_ID": {
            "type": "integer"
          },
          "credit": {
            "type": "number",
            "format": "float",
            "default": 0
          },
          "ref_type_remise_ID": {
            "type": "integer",
            "nullable": true
          },
          "detail_remise": {
            "type": "string",
            "nullable": true
          },
          "utilisateur_ID": {
            "type": "integer",
            "nullable": true
          },
          "mauvais_payeur": {
            "type": "integer",
            "default": 0
          },
          "delai_paiement": {
            "type": "integer",
            "default": 30
          },
          "toujours_bloquer_relances": {
            "type": "integer",
            "default": 0
          },
          "toujours_debloquer_rapport": {
            "type": "integer",
            "default": 0
          },
          "ne_pas_demander_reglement": {
            "type": "integer",
            "default": 0
          },
          "facturation_mensualisee": {
            "type": "integer",
            "default": 0
          },
          "commentaire_client": {
            "type": "string"
          },
          "tag_ID": {
            "type": "integer",
            "nullable": true
          },
          "ref_client_etat_demarchage_ID": {
            "type": "integer",
            "nullable": true
          },
          "envoi_espace_client": {
            "type": "boolean",
            "default": false
          },
          "envoi_signature_vip": {
            "type": "boolean",
            "default": false
          },
          "envoi_mail_presentation": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "ModificationClientRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NouveauClientRequest"
          },
          {
            "type": "object",
            "required": [
              "ID"
            ],
            "properties": {
              "ID": {
                "type": "integer"
              },
              "acces_compte_client": {
                "type": "integer"
              }
            }
          }
        ]
      },
      "GestionContactRequest": {
        "type": "object",
        "required": [
          "action"
        ],
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "liste",
              "get_info",
              "ajout",
              "modif",
              "delete"
            ]
          },
          "ID": {
            "type": "integer",
            "description": "ID du contact (pour modif, delete)"
          },
          "compte_client_ID": {
            "type": "integer",
            "description": "ID du compte client (pour liste, ajout)"
          },
          "nom": {
            "type": "string"
          },
          "tel": {
            "type": "string"
          },
          "mail": {
            "type": "string",
            "format": "email"
          },
          "anniversaire": {
            "type": "string",
            "format": "date"
          },
          "offset": {
            "type": "integer",
            "description": "Pour liste"
          },
          "recherche_general": {
            "type": "string",
            "description": "Pour liste"
          },
          "filter_date_anniversaire": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "date"
            },
            "description": "Pour liste"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer"
          },
          "nom": {
            "type": "string"
          },
          "tel": {
            "type": "string"
          },
          "mail": {
            "type": "string",
            "format": "email"
          },
          "anniversaire": {
            "type": "string",
            "format": "date"
          },
          "compte_client_ID": {
            "type": "integer"
          },
          "nom_agence": {
            "type": "string"
          },
          "chiffre_affaire": {
            "type": "number",
            "format": "float"
          },
          "count_rdv": {
            "type": "integer"
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer"
          },
          "nom": {
            "type": "string",
            "description": "Nom du tag"
          },
          "color": {
            "type": "string",
            "pattern": "^#[0-9A-Fa-f]{6}$",
            "description": "Couleur du tag (format hexadécimal)",
            "example": "#3498DB"
          },
          "ref_type_tag_ID": {
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ],
            "description": "Type de tag (1=clients, 2=dossiers, 3=fichiers)"
          },
          "backoffice_ID": {
            "type": "integer"
          }
        }
      },
      "NouveauTagRequest": {
        "type": "object",
        "required": [
          "ref_type_tag_ID",
          "nom",
          "color"
        ],
        "properties": {
          "ref_type_tag_ID": {
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ],
            "description": "Type de tag (1=clients, 2=dossiers, 3=fichiers)"
          },
          "nom": {
            "type": "string",
            "description": "Nom du tag",
            "minLength": 1,
            "example": "VIP"
          },
          "color": {
            "type": "string",
            "pattern": "^#[0-9A-Fa-f]{6}$",
            "description": "Couleur du tag (format hexadécimal",
            "example": "#9B59B6"
          }
        }
      },
      "ModificationTagRequest": {
        "type": "object",
        "required": [
          "nom",
          "color"
        ],
        "properties": {
          "nom": {
            "type": "string",
            "description": "Nom du tag",
            "minLength": 1
          },
          "color": {
            "type": "string",
            "pattern": "^#[0-9A-Fa-f]{6}$",
            "description": "Couleur du tag (format hexadécimal"
          }
        }
      },
      "SetUploadTagRequest": {
        "type": "object",
        "required": [
          "ref_type_tag_ID",
          "file_ID",
          "tag_ID",
          "admin"
        ],
        "properties": {
          "ref_type_tag_ID": {
            "type": "integer",
            "enum": [
              3
            ],
            "description": "Type de tag (doit être 3 pour fichiers)"
          },
          "file_ID": {
            "type": "integer",
            "description": "ID du fichier dans upload_file"
          },
          "tag_ID": {
            "type": "integer",
            "description": "ID du tag à associer"
          },
          "admin": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Visibilité (0=tous, 1=admin uniquement)"
          }
        }
      },
      "SetRdvTagRequest": {
        "type": "object",
        "required": [
          "tag_ID",
          "rdv_id"
        ],
        "properties": {
          "tag_ID": {
            "type": "integer",
            "description": "ID du tag à associer (doit être un tag de type dossier, ref_type_tag_ID=2)"
          },
          "rdv_id": {
            "type": "integer",
            "description": "ID du dossier/rendez-vous"
          }
        }
      },
      "ListeTechniciensRequest": {
        "type": "object",
        "properties": {
          "offset": {
            "type": "integer",
            "minimum": 0,
            "default": 0
          },
          "recherche": {
            "type": "string",
            "description": "Recherche globale (nom, société, code postal, tél)"
          },
          "filter_date_rdv": {
            "type": "array",
            "minItems": 2,
            "maxItems": 2,
            "items": {
              "type": "string",
              "format": "date"
            },
            "description": "Plage de dates pour statistiques"
          },
          "filter_salarie": {
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ],
            "description": "1=Tous, 2=Salariés, 3=Non salariés"
          },
          "filter_actif": {
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ],
            "description": "1=Tous, 2=Actifs, 3=Inactifs"
          }
        }
      },
      "ListeTechniciensResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/StandardResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Technicien"
                }
              }
            }
          }
        ]
      },
      "Technicien": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer"
          },
          "nom": {
            "type": "string"
          },
          "mail": {
            "type": "string",
            "format": "email"
          },
          "code_postal": {
            "type": "string"
          },
          "salarie": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "0=indépendant, 1=salarié"
          },
          "tel": {
            "type": "string"
          },
          "adresse_pro": {
            "type": "string"
          },
          "nom_societe": {
            "type": "string"
          },
          "rayon_action": {
            "type": "integer",
            "description": "Rayon d'action en km"
          },
          "commission": {
            "type": "number",
            "format": "float",
            "description": "Taux de commission en %"
          },
          "commentaire": {
            "type": "string"
          },
          "ref_departement_IDs": {
            "type": "string",
            "description": "JSON array des numéros de départements"
          },
          "active": {
            "type": "integer",
            "enum": [
              0,
              1
            ]
          },
          "color": {
            "type": "string",
            "pattern": "^#[0-9A-Fa-f]{6}$"
          },
          "backoffice_ID": {
            "type": "integer"
          },
          "sous_traitant_backoffice_ID": {
            "type": "integer",
            "nullable": true
          },
          "utilisateur_ID": {
            "type": "integer",
            "nullable": true
          },
          "nombre_rdv": {
            "type": "integer",
            "description": "Nombre de RDV effectués"
          },
          "chiffre_affaire": {
            "type": "number",
            "format": "float",
            "description": "CA total généré"
          },
          "montant_encaisse": {
            "type": "number",
            "format": "float",
            "description": "Montant encaissé"
          },
          "commission_totale": {
            "type": "number",
            "format": "float",
            "description": "Total des commissions"
          },
          "note_moyenne": {
            "type": "number",
            "format": "float",
            "description": "Note moyenne reçue"
          },
          "nombre_notes": {
            "type": "integer",
            "description": "Nombre de notes reçues"
          },
          "chiffre_affaire_mission_apporte": {
            "type": "number",
            "format": "float",
            "description": "CA des missions apportées"
          }
        }
      },
      "NouveauTechnicienRequest": {
        "type": "object",
        "required": [
          "nom",
          "mail",
          "tel",
          "salarie",
          "active"
        ],
        "properties": {
          "nom": {
            "type": "string",
            "minLength": 1
          },
          "mail": {
            "type": "string",
            "format": "email"
          },
          "code_postal": {
            "type": "string"
          },
          "salarie": {
            "type": "integer",
            "enum": [
              0,
              1
            ]
          },
          "tel": {
            "type": "string"
          },
          "adresse_pro": {
            "type": "string"
          },
          "nom_societe": {
            "type": "string"
          },
          "rayon_action": {
            "type": "integer",
            "minimum": 0
          },
          "commission": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 100,
            "default": 0
          },
          "commentaire": {
            "type": "string"
          },
          "ref_departement_IDs": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "default": []
          },
          "active": {
            "type": "integer",
            "enum": [
              0,
              1
            ]
          },
          "color": {
            "type": "string",
            "pattern": "^#[0-9A-Fa-f]{6}$",
            "default": "#3B82F6"
          }
        }
      },
      "ModificationTechnicienRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NouveauTechnicienRequest"
          },
          {
            "type": "object",
            "required": [
              "ID"
            ],
            "properties": {
              "ID": {
                "type": "integer"
              }
            }
          }
        ]
      },
      "Certification": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer"
          },
          "diagnostic_ID": {
            "type": "integer"
          },
          "diagnostic_nom": {
            "type": "string"
          },
          "date_obtention": {
            "type": "string",
            "format": "date"
          },
          "date_expiration": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "CertificationsResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/StandardResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Certification"
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "NouveauCertifRequest": {
        "type": "object",
        "required": [
          "technicien_ID",
          "diagnostic_ID"
        ],
        "properties": {
          "technicien_ID": {
            "type": "integer"
          },
          "diagnostic_ID": {
            "type": "integer",
            "description": "ID du type de diagnostic"
          },
          "date_obtention": {
            "type": "string",
            "format": "date"
          },
          "date_expiration": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "ModificationCertifRequest": {
        "type": "object",
        "required": [
          "diagnostic_ID"
        ],
        "properties": {
          "diagnostic_ID": {
            "type": "integer"
          },
          "date_obtention": {
            "type": "string",
            "format": "date"
          },
          "date_expiration": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": [
          "mail",
          "password"
        ],
        "properties": {
          "mail": {
            "type": "string",
            "format": "email",
            "example": "hello@test.fr"
          },
          "password": {
            "type": "string",
            "format": "password",
            "example": "Mon-mot-de-passe"
          }
        }
      },
      "LoginResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/StandardResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Token JWT à utiliser dans le header Authorization"
                  },
                  "utilisateur_ID": {
                    "type": "integer"
                  },
                  "backoffice_ID": {
                    "type": "integer"
                  },
                  "nom": {
                    "type": "string"
                  },
                  "mail": {
                    "type": "string"
                  },
                  "ref_permission_ID": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        ]
      },
      "ReferencesResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/StandardResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "ref_bien": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Reference"
                    },
                    "description": "Types de biens"
                  },
                  "ref_diagnostique": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Reference"
                    },
                    "description": "Types de diagnostics"
                  },
                  "ref_construction": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Reference"
                    },
                    "description": "Périodes de construction"
                  },
                  "ref_surface": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Reference"
                    },
                    "description": "Plages de surface"
                  },
                  "ref_creneau": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Creneau"
                    },
                    "description": "Créneaux horaires"
                  },
                  "ref_numero_de_lot_statut": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Reference"
                    },
                    "description": "Statuts de numéro de lot"
                  },
                  "ref_departement": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Departement"
                    },
                    "description": "Départements"
                  },
                  "ref_source": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Reference"
                    },
                    "description": "Sources de contact"
                  },
                  "ref_transaction": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Reference"
                    },
                    "description": "Types de transaction"
                  },
                  "ref_annexe": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Reference"
                    },
                    "description": "Types d'annexes"
                  },
                  "ref_statut_donneur_ordre": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Reference"
                    },
                    "description": "Statuts donneur d'ordre"
                  }
                }
              }
            }
          }
        ]
      },
      "Reference": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer"
          },
          "nom": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "Departement": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer"
          },
          "numero": {
            "type": "string"
          },
          "nom": {
            "type": "string"
          }
        }
      },
      "Creneau": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer"
          },
          "nom": {
            "type": "string",
            "description": "Nom du créneau horaire",
            "example": "Matin (8h-12h)"
          },
          "heure_debut": {
            "type": "string",
            "description": "Heure de début",
            "example": "08:00"
          },
          "heure_fin": {
            "type": "string",
            "description": "Heure de fin",
            "example": "12:00"
          }
        }
      },
      "RapportsResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/StandardResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Rapport"
                }
              }
            }
          }
        ]
      },
      "Rapport": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer",
            "description": "ID du fichier"
          },
          "nom": {
            "type": "string",
            "description": "Nom du fichier"
          },
          "path": {
            "type": "string",
            "description": "Chemin d'accès au fichier"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL complète du fichier"
          },
          "type": {
            "type": "string",
            "description": "Type MIME du fichier"
          },
          "size": {
            "type": "integer",
            "description": "Taille du fichier en octets"
          },
          "uploaded_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date d'upload"
          },
          "tag_ID": {
            "type": "integer",
            "nullable": true,
            "description": "ID du tag associé"
          },
          "admin_only": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Fichier visible uniquement par les admins"
          }
        }
      },
      "UploadRequest": {
        "type": "object",
        "properties": {
          "rapport_diagnostic": {
            "type": "string",
            "format": "binary",
            "description": "Fichier à uploader (PDF et images uniquement)"
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Non autorisé - Token invalide ou manquant",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "boolean",
                  "example": true
                },
                "message": {
                  "type": "string",
                  "example": "Unauthorized"
                }
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Ressource non trouvée",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "boolean",
                  "example": true
                },
                "message": {
                  "type": "string",
                  "example": "Not found"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Dossiers",
      "description": "Gestion des dossiers (rendez-vous et devis)"
    },
    {
      "name": "Clients",
      "description": "Gestion des comptes clients (donneurs d'ordre)"
    },
    {
      "name": "Tags",
      "description": "Gestion des tags/étiquettes"
    },
    {
      "name": "Techniciens",
      "description": "Gestion des techniciens et sous-traitants"
    },
    {
      "name": "Login",
      "description": "Authentification et obtention du token"
    },
    {
      "name": "Références",
      "description": "Liste des références avec leurs IDs"
    },
    {
      "name": "Rapports",
      "description": "Upload et gestion des rapports diagnostics"
    }
  ]
}