{
  "openapi": "3.0.3",
  "info": {
    "title": "LinkedIn API",
    "description": "LinkedIn's REST API using the Rest.li protocol. Provides access to member profiles, company pages, posts, shares, and messaging. Requires OAuth 2.0 authentication and approved LinkedIn developer application.",
    "version": "2.0",
    "contact": {
      "name": "LinkedIn Developer Support",
      "url": "https://learn.microsoft.com/en-us/linkedin/"
    },
    "license": {
      "name": "LinkedIn API Terms of Use",
      "url": "https://legal.linkedin.com/api-terms-of-use"
    }
  },
  "externalDocs": {
    "description": "LinkedIn API Documentation",
    "url": "https://learn.microsoft.com/en-us/linkedin/"
  },
  "servers": [
    {
      "url": "https://api.linkedin.com/v2",
      "description": "LinkedIn API v2"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "operationId": "getMe",
        "summary": "Get the authenticated member's profile",
        "description": "Retrieve the profile of the currently authenticated member.",
        "responses": {
          "200": {
            "description": "Member profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberProfile"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired access token"
          }
        }
      }
    },
    "/people/(id:{personId})": {
      "get": {
        "operationId": "getPersonById",
        "summary": "Get a member profile by ID",
        "parameters": [
          {
            "name": "personId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Member profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberProfile"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/emailAddress": {
      "get": {
        "operationId": "getEmailAddress",
        "summary": "Get the authenticated member's email address",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "members"
              ]
            }
          },
          {
            "name": "projection",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Email address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "elements": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "handle~": {
                            "type": "object",
                            "properties": {
                              "emailAddress": {
                                "type": "string",
                                "format": "email"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/userinfo": {
      "get": {
        "operationId": "getUserInfo",
        "summary": "Get OpenID Connect user info",
        "description": "Returns user profile using OpenID Connect.",
        "responses": {
          "200": {
            "description": "User info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sub": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "given_name": {
                      "type": "string"
                    },
                    "family_name": {
                      "type": "string"
                    },
                    "picture": {
                      "type": "string",
                      "format": "uri"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "email_verified": {
                      "type": "boolean"
                    },
                    "locale": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ugcPosts": {
      "post": {
        "operationId": "createUgcPost",
        "summary": "Create a UGC (User Generated Content) post",
        "description": "Create a post on behalf of the authenticated member.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UgcPostCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Post created",
            "headers": {
              "x-restli-id": {
                "schema": {
                  "type": "string"
                },
                "description": "ID of the created post"
              }
            }
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/ugcPosts/{ugcPostUrn}": {
      "get": {
        "operationId": "getUgcPost",
        "summary": "Get a UGC post by URN",
        "parameters": [
          {
            "name": "ugcPostUrn",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "UGC post details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UgcPost"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteUgcPost",
        "summary": "Delete a UGC post",
        "parameters": [
          {
            "name": "ugcPostUrn",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Post deleted"
          },
          "403": {
            "description": "Not authorized"
          }
        }
      }
    },
    "/shares": {
      "post": {
        "operationId": "createShare",
        "summary": "Create a share",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShareCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Share created"
          }
        }
      }
    },
    "/organizations/{organizationId}": {
      "get": {
        "operationId": "getOrganization",
        "summary": "Get an organization by ID",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/organizationalEntityAcls": {
      "get": {
        "operationId": "getOrganizationalEntityAcls",
        "summary": "Get organization access control entries",
        "description": "Find organizations the authenticated member has admin access to.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "roleAssignee"
              ]
            }
          },
          {
            "name": "role",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ACL entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "elements": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizationPageStatistics": {
      "get": {
        "operationId": "getOrganizationPageStatistics",
        "summary": "Get organization page statistics",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "organization"
              ]
            }
          },
          {
            "name": "organization",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/socialActions/{activityUrn}/comments": {
      "get": {
        "operationId": "getComments",
        "summary": "Get comments on a social activity",
        "parameters": [
          {
            "name": "activityUrn",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "elements": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createComment",
        "summary": "Add a comment",
        "parameters": [
          {
            "name": "activityUrn",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "actor": {
                    "type": "string"
                  },
                  "message": {
                    "type": "object",
                    "properties": {
                      "text": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Comment created"
          }
        }
      }
    },
    "/socialActions/{activityUrn}/likes": {
      "get": {
        "operationId": "getLikes",
        "summary": "Get likes on a social activity",
        "parameters": [
          {
            "name": "activityUrn",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Likes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "elements": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "likeActivity",
        "summary": "Like a social activity",
        "parameters": [
          {
            "name": "activityUrn",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "actor": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Liked"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "LinkedIn OAuth 2.0 access token"
      },
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://www.linkedin.com/oauth/v2/authorization",
            "tokenUrl": "https://www.linkedin.com/oauth/v2/accessToken",
            "scopes": {
              "openid": "OpenID Connect",
              "profile": "Access basic profile",
              "email": "Access email address",
              "w_member_social": "Post, comment, and like on behalf of member",
              "r_liteprofile": "Lite profile access",
              "r_organization_admin": "Organization admin access",
              "w_organization_social": "Post on behalf of organization",
              "rw_organization_admin": "Read/write organization admin"
            }
          }
        }
      }
    },
    "schemas": {
      "MemberProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "localizedFirstName": {
            "type": "string"
          },
          "localizedLastName": {
            "type": "string"
          },
          "localizedHeadline": {
            "type": "string"
          },
          "vanityName": {
            "type": "string"
          },
          "profilePicture": {
            "type": "object",
            "properties": {
              "displayImage": {
                "type": "string"
              }
            }
          }
        }
      },
      "UgcPost": {
        "type": "object",
        "properties": {
          "author": {
            "type": "string"
          },
          "lifecycleState": {
            "type": "string"
          },
          "specificContent": {
            "type": "object"
          },
          "visibility": {
            "type": "object",
            "properties": {
              "com.linkedin.ugc.MemberNetworkVisibility": {
                "type": "string"
              }
            }
          },
          "created": {
            "type": "object",
            "properties": {
              "actor": {
                "type": "string"
              },
              "time": {
                "type": "integer"
              }
            }
          }
        }
      },
      "UgcPostCreate": {
        "type": "object",
        "required": [
          "author",
          "lifecycleState",
          "specificContent",
          "visibility"
        ],
        "properties": {
          "author": {
            "type": "string",
            "description": "URN of the author (e.g. urn:li:person:123)"
          },
          "lifecycleState": {
            "type": "string",
            "enum": [
              "PUBLISHED"
            ]
          },
          "specificContent": {
            "type": "object",
            "properties": {
              "com.linkedin.ugc.ShareContent": {
                "type": "object",
                "properties": {
                  "shareCommentary": {
                    "type": "object",
                    "properties": {
                      "text": {
                        "type": "string"
                      }
                    }
                  },
                  "shareMediaCategory": {
                    "type": "string",
                    "enum": [
                      "NONE",
                      "ARTICLE",
                      "IMAGE",
                      "RICH",
                      "VIDEO"
                    ]
                  },
                  "media": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "visibility": {
            "type": "object",
            "properties": {
              "com.linkedin.ugc.MemberNetworkVisibility": {
                "type": "string",
                "enum": [
                  "PUBLIC",
                  "CONNECTIONS"
                ]
              }
            }
          }
        }
      },
      "ShareCreate": {
        "type": "object",
        "properties": {
          "owner": {
            "type": "string"
          },
          "text": {
            "type": "object",
            "properties": {
              "text": {
                "type": "string"
              }
            }
          },
          "content": {
            "type": "object",
            "properties": {
              "contentEntities": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "entityLocation": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              },
              "title": {
                "type": "string"
              }
            }
          },
          "distribution": {
            "type": "object",
            "properties": {
              "linkedInDistributionTarget": {
                "type": "object"
              }
            }
          }
        }
      },
      "Organization": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "localizedName": {
            "type": "string"
          },
          "localizedDescription": {
            "type": "string"
          },
          "vanityName": {
            "type": "string"
          },
          "logoV2": {
            "type": "object"
          },
          "websiteUrl": {
            "type": "string",
            "format": "uri"
          }
        }
      }
    }
  }
}