{
  "openapi": "3.0.3",
  "info": {
    "title": "Vero Track REST API",
    "description": "Vero's Track REST API v2.0 lets you create, update and manage users, track events, and manage subscription status and tags. The API is very stable - v2.0 was released prior to 2016 with no breaking changes since. Unless otherwise specified, request data should be passed as JSON objects via POST.",
    "version": "2.0.0",
    "contact": {
      "name": "Vero Support",
      "email": "support@getvero.com",
      "url": "https://www.getvero.com"
    },
    "x-jentic-source-url": "https://docs.getvero.com/"
  },
  "servers": [
    {
      "url": "https://api.getvero.com/api/v2",
      "description": "Vero Track API v2"
    }
  ],
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": [
    {
      "name": "Users",
      "description": "Create, update and manage the subscription status of your User records."
    },
    {
      "name": "Tags",
      "description": "Add or remove tags to or from any of your Users."
    },
    {
      "name": "Events",
      "description": "Track events based on actions a User takes."
    }
  ],
  "paths": {
    "/users/track": {
      "post": {
        "operationId": "identify",
        "summary": "Identify a user",
        "description": "This endpoint creates or updates a user in Vero. If a user with the given id already exists, their profile will be updated with any properties provided. If no user exists, a new record will be created.",
        "tags": ["Users"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/users/unsubscribe": {
      "post": {
        "operationId": "unsubscribe",
        "summary": "Unsubscribe a user",
        "description": "This endpoint globally unsubscribes a user from all emails.",
        "tags": ["Users"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/users/resubscribe": {
      "post": {
        "operationId": "resubscribe",
        "summary": "Resubscribe a user",
        "description": "This endpoint globally resubscribes a user.",
        "tags": ["Users"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/users/delete": {
      "post": {
        "operationId": "deleteUser",
        "summary": "Delete a user",
        "description": "This endpoint lets you delete a user. Warning: When deleting a user all properties and activities will be lost forever. Deleted users are not recoverable.",
        "tags": ["Users"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/users/reidentify": {
      "put": {
        "operationId": "reidentify",
        "summary": "Alias (reidentify) a user",
        "description": "This endpoint lets you change a user's identifier (id). The alias method is used to merge two user identities, merging two sets of user data into one. This is an advanced method and may have unintended consequences.",
        "tags": ["Users"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/users/tags/edit": {
      "put": {
        "operationId": "editTags",
        "summary": "Edit tags on a user",
        "description": "This endpoint adds or removes tags to/from a user's profile.",
        "tags": ["Tags"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagEditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/events/track": {
      "post": {
        "operationId": "trackEvent",
        "summary": "Track an event",
        "description": "Track an event for a user. Events record actions users take and can trigger automated campaigns in Vero.",
        "tags": ["Events"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackEventRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "auth_token",
        "in": "query",
        "description": "Authentication Token from your Vero account Settings page."
      }
    },
    "schemas": {
      "IdentifyRequest": {
        "type": "object",
        "required": ["id"],
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the user.",
            "example": "1000"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "The user's email address."
          },
          "data": {
            "type": "object",
            "additionalProperties": true,
            "description": "A hash of key-value pairs representing user properties."
          }
        }
      },
      "UserIdRequest": {
        "type": "object",
        "required": ["id"],
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the user.",
            "example": "1000"
          }
        }
      },
      "AliasRequest": {
        "type": "object",
        "required": ["id", "new_id"],
        "properties": {
          "id": {
            "type": "string",
            "description": "The old unique identifier of the user."
          },
          "new_id": {
            "type": "string",
            "description": "The new unique identifier of the user."
          }
        }
      },
      "TagEditRequest": {
        "type": "object",
        "required": ["id"],
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the user.",
            "example": "1000"
          },
          "add": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "An array of tags to add.",
            "example": ["prospect"]
          },
          "remove": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "An array of tags to remove.",
            "example": ["trial"]
          }
        }
      },
      "TrackEventRequest": {
        "type": "object",
        "required": ["id", "event_name"],
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the user."
          },
          "event_name": {
            "type": "string",
            "description": "The name of the event to track."
          },
          "data": {
            "type": "object",
            "additionalProperties": true,
            "description": "A hash of key-value pairs representing event properties."
          },
          "extras": {
            "type": "object",
            "additionalProperties": true,
            "description": "Additional data not stored as event properties."
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "Success."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32",
            "example": 400
          },
          "message": {
            "type": "string",
            "example": "Bad Request"
          }
        }
      }
    },
    "responses": {
      "Success": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SuccessResponse"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid auth_token",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  }
}
