{
  "openapi": "3.0.0",
  "info": {
    "description": "ApplicationClient provides programmatic access to subscriptions resources.",
    "title": "ApplicationClient",
    "version": "2018-06-01",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/azure.com/resources-managedapplications/2018-06-01/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/resources/resource-manager/Microsoft.Solutions/stable/2018-06-01/managedapplications.json",
        "version": "2.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "azure.com",
    "x-serviceName": "resources-managedapplications",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Solutions/applications": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationListResult"
                }
              }
            },
            "description": "OK - Returns an array of applications."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Applications"
        ],
        "description": "Gets all the applications within a subscription.",
        "operationId": "Applications_ListBySubscription",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applicationDefinitions": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group. The name is case insensitive.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationDefinitionListResult"
                }
              }
            },
            "description": "OK - Returns an array of managed application definitions."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ApplicationDefinitions"
        ],
        "description": "Lists the managed application definitions in a resource group.",
        "operationId": "ApplicationDefinitions_ListByResourceGroup",
        "x-ms-examples": {
          "List managed application definitions": {
            "parameters": {
              "api-version": "2018-06-01",
              "resourceGroupName": "rg",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "tags": null,
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applicationDefinitions/myManagedApplicationDef",
                      "identity": null,
                      "location": "East US 2",
                      "managedBy": null,
                      "name": "myManagedApplicationDef",
                      "properties": {
                        "artifacts": [
                          {
                            "name": "CreateUiDefinition",
                            "type": "Custom",
                            "uri": "https://path/to/managedApplicationCreateUiDefinition.json"
                          },
                          {
                            "name": "ManagedApplicationResourceTemplate",
                            "type": "Template",
                            "uri": "https://path/to/mainTemplate.json"
                          }
                        ],
                        "authorizations": [
                          {
                            "principalId": "validprincipalguid",
                            "roleDefinitionId": "validroleguid"
                          }
                        ],
                        "description": "myManagedApplicationDef description",
                        "displayName": "myManagedApplicationDef",
                        "lockLevel": null,
                        "packageFileUri": "https://path/to/packagezipfile"
                      },
                      "resourceGroup": "rg",
                      "sku": null,
                      "type": "Microsoft.Solutions/applicationDefinitions"
                    },
                    {
                      "tags": null,
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applicationDefinitions/myManagedApplicationDef2",
                      "identity": null,
                      "location": "West US",
                      "managedBy": null,
                      "name": "myManagedApplicationDef2",
                      "properties": {
                        "artifacts": [
                          {
                            "name": "CreateUiDefinition",
                            "type": "Custom",
                            "uri": "https://path/to/managedApplicationCreateUiDefinition.json"
                          },
                          {
                            "name": "ManagedApplicationResourceTemplate",
                            "type": "Template",
                            "uri": "https://path/to/mainTemplate.json"
                          }
                        ],
                        "authorizations": [
                          {
                            "principalId": "validprincipalguid",
                            "roleDefinitionId": "validroleguid"
                          }
                        ],
                        "description": "myManagedApplicationDef2 description",
                        "displayName": "myManagedApplicationDef2",
                        "lockLevel": null,
                        "packageFileUri": "https://path/to/packagezipfile"
                      },
                      "resourceGroup": "rg",
                      "sku": null,
                      "type": "Microsoft.Solutions/applicationDefinitions"
                    }
                  ]
                },
                "headers": {}
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applicationDefinitions/{applicationDefinitionName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group. The name is case insensitive.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "type": "string"
            }
          },
          {
            "description": "The name of the managed application definition to delete.",
            "in": "path",
            "name": "applicationDefinitionName",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted - Returns this status until the asynchronous operation has completed."
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ApplicationDefinitions"
        ],
        "description": "Deletes the managed application definition.",
        "operationId": "ApplicationDefinitions_Delete",
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group. The name is case insensitive.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "type": "string"
            }
          },
          {
            "description": "The name of the managed application definition.",
            "in": "path",
            "name": "applicationDefinitionName",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationDefinition"
                }
              }
            },
            "description": "OK - Returns the managed application definition."
          },
          "404": {
            "description": "Not Found"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ApplicationDefinitions"
        ],
        "description": "Gets the managed application definition.",
        "operationId": "ApplicationDefinitions_Get",
        "x-ms-examples": {
          "Get managed application definition": {
            "parameters": {
              "api-version": "2018-06-01",
              "managedApplicationName": "myManagedApplicationDef",
              "resourceGroupName": "rg",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": null,
                  "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applicationDefinitions/myManagedApplicationDef",
                  "identity": null,
                  "location": "East US 2",
                  "managedBy": null,
                  "name": "myManagedApplicationDef",
                  "properties": {
                    "artifacts": [
                      {
                        "name": "CreateUiDefinition",
                        "type": "Custom",
                        "uri": "https://path/to/managedApplicationCreateUiDefinition.json"
                      },
                      {
                        "name": "ManagedApplicationResourceTemplate",
                        "type": "Template",
                        "uri": "https://path/to/mainTemplate.json"
                      }
                    ],
                    "authorizations": [
                      {
                        "principalId": "validprincipalguid",
                        "roleDefinitionId": "validroleguid"
                      }
                    ],
                    "description": "myManagedApplicationDef description",
                    "displayName": "myManagedApplicationDef",
                    "lockLevel": null,
                    "packageFileUri": "https://path/to/packagezipfile"
                  },
                  "resourceGroup": "rg",
                  "sku": null,
                  "type": "Microsoft.Solutions/applicationDefinitions"
                },
                "headers": {}
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group. The name is case insensitive.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "type": "string"
            }
          },
          {
            "description": "The name of the managed application definition.",
            "in": "path",
            "name": "applicationDefinitionName",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationDefinition"
                }
              }
            },
            "description": "OK - Returns information about the managed application definition, including provisioning status."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationDefinition"
                }
              }
            },
            "description": "Created - Returns information about the managed application definition, including provisioning status."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ApplicationDefinitions"
        ],
        "description": "Creates a new managed application definition.",
        "operationId": "ApplicationDefinitions_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationDefinition"
              }
            }
          },
          "description": "Parameters supplied to the create or update an managed application definition.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update managed application definition": {
            "parameters": {
              "parameters": {
                "location": "East US 2",
                "properties": {
                  "authorizations": [
                    {
                      "principalId": "validprincipalguid",
                      "roleDefinitionId": "validroleguid"
                    }
                  ],
                  "description": "myManagedApplicationDef description",
                  "displayName": "myManagedApplicationDef",
                  "lockLevel": "None",
                  "packageFileUri": "https://path/to/packagezipfile"
                }
              },
              "api-version": "2018-06-01",
              "managedApplicationDefinitionName": "myManagedApplicationDef",
              "resourceGroupName": "rg",
              "subscriptionId": "subid"
            },
            "responses": {
              "201": {
                "body": {
                  "tags": null,
                  "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applicationDefinitions/myManagedApplicationDef",
                  "identity": null,
                  "location": "East US 2",
                  "managedBy": null,
                  "name": "myManagedApplicationDef",
                  "properties": {
                    "artifacts": [
                      {
                        "name": "CreateUiDefinition",
                        "type": "Custom",
                        "uri": "https://path/to/managedApplicationCreateUiDefinition.json"
                      },
                      {
                        "name": "ManagedApplicationResourceTemplate",
                        "type": "Template",
                        "uri": "https://path/to/mainTemplate.json"
                      }
                    ],
                    "authorizations": [
                      {
                        "principalId": "validprincipalguid",
                        "roleDefinitionId": "validroleguid"
                      }
                    ],
                    "description": "myManagedApplicationDef description",
                    "displayName": "myManagedApplicationDef",
                    "lockLevel": null,
                    "packageFileUri": "https://path/to/packagezipfile"
                  },
                  "resourceGroup": "rg",
                  "sku": null,
                  "type": "Microsoft.Solutions/applicationDefinitions"
                },
                "headers": {}
              }
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applications": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group. The name is case insensitive.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationListResult"
                }
              }
            },
            "description": "OK - Returns an array of applications."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Applications"
        ],
        "description": "Gets all the applications within a resource group.",
        "operationId": "Applications_ListByResourceGroup",
        "x-ms-examples": {
          "Lists applications": {
            "parameters": {
              "api-version": "2018-06-01",
              "resourceGroupName": "rg",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "tags": null,
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applications/myManagedApplication",
                      "identity": null,
                      "kind": "ServiceCatalog",
                      "location": "East US 2",
                      "managedBy": null,
                      "name": "myManagedApplication",
                      "plan": null,
                      "properties": {
                        "parameters": null,
                        "managedApplicationDefinitionId": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/managedApplicationDefinitions/myAppDef",
                        "managedResourceGroupId": "/subscriptions/subid/resourceGroups/myManagedRG",
                        "outputs": null,
                        "provisioningState": "Created"
                      },
                      "resourceGroup": "rg",
                      "sku": null,
                      "type": "Microsoft.Solutions/applications"
                    },
                    {
                      "tags": null,
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applications/myManagedApplication2",
                      "identity": null,
                      "kind": "ServiceCatalog",
                      "location": "West US",
                      "managedBy": null,
                      "name": "myManagedApplication2",
                      "plan": null,
                      "properties": {
                        "parameters": null,
                        "managedApplicationDefinitionId": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/managedApplicationDefinitions/myAppDef2",
                        "managedResourceGroupId": "/subscriptions/subid/resourceGroups/myManagedRG",
                        "outputs": null,
                        "provisioningState": "Created"
                      },
                      "resourceGroup": "rg",
                      "sku": null,
                      "type": "Microsoft.Solutions/applications"
                    }
                  ]
                },
                "headers": {}
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applications/{applicationName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group. The name is case insensitive.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "type": "string"
            }
          },
          {
            "description": "The name of the managed application.",
            "in": "path",
            "name": "applicationName",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted - Returns this status until the asynchronous operation has completed."
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Applications"
        ],
        "description": "Deletes the managed application.",
        "operationId": "Applications_Delete",
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group. The name is case insensitive.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "type": "string"
            }
          },
          {
            "description": "The name of the managed application.",
            "in": "path",
            "name": "applicationName",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            },
            "description": "OK - Returns the managed application."
          },
          "404": {
            "description": "Not Found"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Applications"
        ],
        "description": "Gets the managed application.",
        "operationId": "Applications_Get",
        "x-ms-examples": {
          "Get a managed application": {
            "parameters": {
              "api-version": "2018-06-01",
              "managedApplicationName": "myManagedApplication",
              "resourceGroupName": "rg",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": null,
                  "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applications/myManagedApplication",
                  "identity": null,
                  "kind": "ServiceCatalog",
                  "location": "East US 2",
                  "managedBy": null,
                  "name": "myManagedApplication",
                  "plan": null,
                  "properties": {
                    "parameters": null,
                    "managedApplicationDefinitionId": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/managedApplicationDefinitions/myAppDef",
                    "managedResourceGroupId": "/subscriptions/subid/resourceGroups/myManagedRG",
                    "outputs": null,
                    "provisioningState": "Created"
                  },
                  "resourceGroup": "rg",
                  "sku": null,
                  "type": "Microsoft.Solutions/applications"
                },
                "headers": {}
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "description": "The name of the resource group. The name is case insensitive.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "type": "string"
            }
          },
          {
            "description": "The name of the managed application.",
            "in": "path",
            "name": "applicationName",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            },
            "description": "Created - Returns information about the managed application, including provisioning status."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Applications"
        ],
        "description": "Updates an existing managed application. The only value that can be updated via PATCH currently is the tags.",
        "operationId": "Applications_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Application"
              }
            }
          },
          "description": "Parameters supplied to update an existing managed application."
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group. The name is case insensitive.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "type": "string"
            }
          },
          {
            "description": "The name of the managed application.",
            "in": "path",
            "name": "applicationName",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            },
            "description": "Created - Returns information about the managed application, including provisioning status."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            },
            "description": "Created - Returns information about the managed application, including provisioning status."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Applications"
        ],
        "description": "Creates a new managed application.",
        "operationId": "Applications_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Application"
              }
            }
          },
          "description": "Parameters supplied to the create or update a managed application.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update managed application": {
            "parameters": {
              "parameters": {
                "kind": "ServiceCatalog",
                "location": "East US 2",
                "name": "myManagedApplication",
                "properties": {
                  "managedApplicationDefinitionId": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applicationDefinitions/myAppDef",
                  "managedResourceGroupId": "/subscriptions/subid/resourceGroups/myManagedRG"
                }
              },
              "api-version": "2018-06-01",
              "managedApplicationName": "myManagedApplication",
              "resourceGroupName": "rg",
              "subscriptionId": "subid"
            },
            "responses": {
              "201": {
                "body": {
                  "tags": null,
                  "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applications/myManagedApplication",
                  "identity": null,
                  "kind": "ServiceCatalog",
                  "location": "East US 2",
                  "managedBy": null,
                  "name": "myManagedApplication",
                  "plan": null,
                  "properties": {
                    "parameters": null,
                    "managedApplicationDefinitionId": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applicationDefinitions/myAppDef",
                    "managedResourceGroupId": "/subscriptions/subid/resourceGroups/myManagedRG",
                    "outputs": null,
                    "provisioningState": "Created"
                  },
                  "resourceGroup": "rg",
                  "sku": null,
                  "type": "Microsoft.Solutions/applications"
                },
                "headers": {}
              }
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{applicationId}": {
      "delete": {
        "parameters": [
          {
            "allowReserved": true,
            "description": "The fully qualified ID of the managed application, including the managed application name and the managed application resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applications/{application-name}",
            "in": "path",
            "name": "applicationId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted - Returns this status until the asynchronous operation has completed."
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Applications"
        ],
        "description": "Deletes the managed application.",
        "operationId": "Applications_DeleteById",
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "allowReserved": true,
            "description": "The fully qualified ID of the managed application, including the managed application name and the managed application resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applications/{application-name}",
            "in": "path",
            "name": "applicationId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            },
            "description": "OK - Returns the managed application."
          },
          "404": {
            "description": "Not Found"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Applications"
        ],
        "description": "Gets the managed application.",
        "operationId": "Applications_GetById"
      },
      "patch": {
        "parameters": [
          {
            "allowReserved": true,
            "description": "The fully qualified ID of the managed application, including the managed application name and the managed application resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applications/{application-name}",
            "in": "path",
            "name": "applicationId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            },
            "description": "Created - Returns information about the managed application, including provisioning status."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Applications"
        ],
        "description": "Updates an existing managed application. The only value that can be updated via PATCH currently is the tags.",
        "operationId": "Applications_UpdateById",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Application"
              }
            }
          },
          "description": "Parameters supplied to update an existing managed application."
        }
      },
      "put": {
        "parameters": [
          {
            "allowReserved": true,
            "description": "The fully qualified ID of the managed application, including the managed application name and the managed application resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applications/{application-name}",
            "in": "path",
            "name": "applicationId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            },
            "description": "Created - Returns information about the managed application, including provisioning status."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            },
            "description": "Created - Returns information about the managed application, including provisioning status."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Applications"
        ],
        "description": "Creates a new managed application.",
        "operationId": "Applications_CreateOrUpdateById",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Application"
              }
            }
          },
          "description": "Parameters supplied to the create or update a managed application.",
          "required": true
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "The API version to use for this operation.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "SubscriptionIdParameter": {
        "description": "The ID of the target subscription.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "Application": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Application"
            }
          }
        },
        "description": "Parameters supplied to update an existing managed application."
      },
      "Application2": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Application"
            }
          }
        },
        "description": "Parameters supplied to the create or update a managed application.",
        "required": true
      }
    },
    "schemas": {
      "Application": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GenericResource"
          }
        ],
        "description": "Information about managed application.",
        "properties": {
          "kind": {
            "description": "The kind of the managed application. Allowed values are MarketPlace and ServiceCatalog.",
            "pattern": "^[-\\w\\._,\\(\\)]+$",
            "type": "string"
          },
          "plan": {
            "$ref": "#/components/schemas/Plan",
            "description": "The plan information."
          },
          "properties": {
            "$ref": "#/components/schemas/ApplicationProperties",
            "description": "The managed application properties.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties",
          "kind"
        ],
        "type": "object"
      },
      "ApplicationArtifact": {
        "description": "Managed application artifact.",
        "properties": {
          "name": {
            "description": "The managed application artifact name.",
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/ApplicationArtifactType",
            "description": "The managed application artifact type."
          },
          "uri": {
            "description": "The managed application artifact blob uri.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ApplicationArtifactType": {
        "description": "The managed application artifact type.",
        "enum": [
          "Template",
          "Custom"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": false,
          "name": "ApplicationArtifactType"
        }
      },
      "ApplicationDefinition": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GenericResource"
          }
        ],
        "description": "Information about managed application definition.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/ApplicationDefinitionProperties",
            "description": "The managed application definition properties.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties"
        ],
        "type": "object"
      },
      "ApplicationDefinitionListResult": {
        "description": "List of managed application definitions.",
        "properties": {
          "nextLink": {
            "description": "The URL to use for getting the next set of results.",
            "type": "string"
          },
          "value": {
            "description": "The array of managed application definitions.",
            "items": {
              "$ref": "#/components/schemas/ApplicationDefinition"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ApplicationDefinitionProperties": {
        "description": "The managed application definition properties.",
        "properties": {
          "artifacts": {
            "description": "The collection of managed application artifacts. The portal will use the files specified as artifacts to construct the user experience of creating a managed application from a managed application definition.",
            "items": {
              "$ref": "#/components/schemas/ApplicationArtifact"
            },
            "type": "array"
          },
          "authorizations": {
            "description": "The managed application provider authorizations.",
            "items": {
              "$ref": "#/components/schemas/ApplicationProviderAuthorization"
            },
            "type": "array"
          },
          "createUiDefinition": {
            "description": "The createUiDefinition json for the backing template with Microsoft.Solutions/applications resource. It can be a JObject or well-formed JSON string.",
            "type": "object"
          },
          "description": {
            "description": "The managed application definition description.",
            "type": "string"
          },
          "displayName": {
            "description": "The managed application definition display name.",
            "type": "string"
          },
          "isEnabled": {
            "description": "A value indicating whether the package is enabled or not.",
            "type": "string"
          },
          "lockLevel": {
            "$ref": "#/components/schemas/ApplicationLockLevel",
            "description": "The managed application lock level."
          },
          "mainTemplate": {
            "description": "The inline main template json which has resources to be provisioned. It can be a JObject or well-formed JSON string.",
            "type": "object"
          },
          "packageFileUri": {
            "description": "The managed application definition package file Uri. Use this element",
            "type": "string"
          }
        },
        "required": [
          "lockLevel",
          "authorizations"
        ],
        "type": "object"
      },
      "ApplicationListResult": {
        "description": "List of managed applications.",
        "properties": {
          "nextLink": {
            "description": "The URL to use for getting the next set of results.",
            "type": "string"
          },
          "value": {
            "description": "The array of managed applications.",
            "items": {
              "$ref": "#/components/schemas/Application"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ApplicationLockLevel": {
        "description": "The managed application lock level.",
        "enum": [
          "CanNotDelete",
          "ReadOnly",
          "None"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": false,
          "name": "ApplicationLockLevel"
        }
      },
      "ApplicationPatchable": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GenericResource"
          }
        ],
        "description": "Information about managed application.",
        "properties": {
          "kind": {
            "description": "The kind of the managed application. Allowed values are MarketPlace and ServiceCatalog.",
            "pattern": "^[-\\w\\._,\\(\\)]+$",
            "type": "string"
          },
          "plan": {
            "$ref": "#/components/schemas/PlanPatchable",
            "description": "The plan information."
          },
          "properties": {
            "$ref": "#/components/schemas/ApplicationPropertiesPatchable",
            "description": "The managed application properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ApplicationProperties": {
        "description": "The managed application properties.",
        "properties": {
          "parameters": {
            "description": "Name and value pairs that define the managed application parameters. It can be a JObject or a well formed JSON string.",
            "type": "object"
          },
          "applicationDefinitionId": {
            "description": "The fully qualified path of managed application definition Id.",
            "type": "string"
          },
          "managedResourceGroupId": {
            "description": "The managed resource group Id.",
            "type": "string"
          },
          "outputs": {
            "description": "Name and value pairs that define the managed application outputs.",
            "readOnly": true,
            "type": "object"
          },
          "provisioningState": {
            "$ref": "#/components/schemas/ProvisioningState",
            "description": "The managed application provisioning state.",
            "readOnly": true
          }
        },
        "required": [
          "managedResourceGroupId"
        ],
        "type": "object"
      },
      "ApplicationPropertiesPatchable": {
        "description": "The managed application properties.",
        "properties": {
          "parameters": {
            "description": "Name and value pairs that define the managed application parameters. It can be a JObject or a well formed JSON string.",
            "type": "object"
          },
          "applicationDefinitionId": {
            "description": "The fully qualified path of managed application definition Id.",
            "type": "string"
          },
          "managedResourceGroupId": {
            "description": "The managed resource group Id.",
            "type": "string"
          },
          "outputs": {
            "description": "Name and value pairs that define the managed application outputs.",
            "readOnly": true,
            "type": "object"
          },
          "provisioningState": {
            "$ref": "#/components/schemas/ProvisioningState",
            "description": "The managed application provisioning state.",
            "readOnly": true
          }
        },
        "type": "object"
      },
      "ApplicationProviderAuthorization": {
        "description": "The managed application provider authorization.",
        "properties": {
          "principalId": {
            "description": "The provider's principal identifier. This is the identity that the provider will use to call ARM to manage the managed application resources.",
            "type": "string"
          },
          "roleDefinitionId": {
            "description": "The provider's role definition identifier. This role will define all the permissions that the provider must have on the managed application's container resource group. This role definition cannot have permission to delete the resource group.",
            "type": "string"
          }
        },
        "required": [
          "principalId",
          "roleDefinitionId"
        ],
        "type": "object"
      },
      "ErrorResponse": {
        "description": "Error response indicates managed application is not able to process the incoming request. The reason is provided in the error message.",
        "properties": {
          "errorCode": {
            "description": "Error code.",
            "type": "string"
          },
          "errorMessage": {
            "description": "Error message indicating why the operation failed.",
            "type": "string"
          },
          "httpStatus": {
            "description": "Http status code.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GenericResource": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Resource information.",
        "properties": {
          "identity": {
            "$ref": "#/components/schemas/Identity",
            "description": "The identity of the resource."
          },
          "managedBy": {
            "description": "ID of the resource that manages this resource.",
            "type": "string"
          },
          "sku": {
            "$ref": "#/components/schemas/Sku",
            "description": "The SKU of the resource."
          }
        },
        "type": "object"
      },
      "Identity": {
        "description": "Identity for the resource.",
        "properties": {
          "principalId": {
            "description": "The principal ID of resource identity.",
            "readOnly": true,
            "type": "string"
          },
          "tenantId": {
            "description": "The tenant ID of resource.",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "The identity type.",
            "enum": [
              "SystemAssigned"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "ResourceIdentityType"
            }
          }
        },
        "type": "object"
      },
      "Plan": {
        "description": "Plan for the managed application.",
        "properties": {
          "name": {
            "description": "The plan name.",
            "type": "string"
          },
          "product": {
            "description": "The product code.",
            "type": "string"
          },
          "promotionCode": {
            "description": "The promotion code.",
            "type": "string"
          },
          "publisher": {
            "description": "The publisher ID.",
            "type": "string"
          },
          "version": {
            "description": "The plan's version.",
            "type": "string"
          }
        },
        "required": [
          "name",
          "publisher",
          "product",
          "version"
        ],
        "type": "object"
      },
      "PlanPatchable": {
        "description": "Plan for the managed application.",
        "properties": {
          "name": {
            "description": "The plan name.",
            "type": "string"
          },
          "product": {
            "description": "The product code.",
            "type": "string"
          },
          "promotionCode": {
            "description": "The promotion code.",
            "type": "string"
          },
          "publisher": {
            "description": "The publisher ID.",
            "type": "string"
          },
          "version": {
            "description": "The plan's version.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ProvisioningState": {
        "description": "Provisioning status of the managed application.",
        "enum": [
          "Accepted",
          "Running",
          "Ready",
          "Creating",
          "Created",
          "Deleting",
          "Deleted",
          "Canceled",
          "Failed",
          "Succeeded",
          "Updating"
        ],
        "readOnly": true,
        "type": "string",
        "x-ms-enum": {
          "modelAsString": true,
          "name": "ProvisioningState"
        }
      },
      "Resource": {
        "description": "Resource information.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags",
            "type": "object"
          },
          "id": {
            "description": "Resource ID",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Resource location",
            "type": "string"
          },
          "name": {
            "description": "Resource name",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Resource type",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "Sku": {
        "description": "SKU for the resource.",
        "properties": {
          "capacity": {
            "description": "The SKU capacity.",
            "format": "int32",
            "type": "integer"
          },
          "family": {
            "description": "The SKU family.",
            "type": "string"
          },
          "model": {
            "description": "The SKU model.",
            "type": "string"
          },
          "name": {
            "description": "The SKU name.",
            "type": "string"
          },
          "size": {
            "description": "The SKU size.",
            "type": "string"
          },
          "tier": {
            "description": "The SKU tier.",
            "type": "string"
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-ms-paths": {
    "/{applicationDefinitionId}?disambiguation_dummy": {
      "delete": {
        "parameters": [
          {
            "allowReserved": true,
            "description": "The fully qualified ID of the managed application definition, including the managed application name and the managed application definition resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applicationDefinitions/{applicationDefinition-name}",
            "in": "path",
            "name": "applicationDefinitionId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted - Returns this status until the asynchronous operation has completed."
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ApplicationDefinitions"
        ],
        "description": "Deletes the managed application definition.",
        "operationId": "ApplicationDefinitions_DeleteById",
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "allowReserved": true,
            "description": "The fully qualified ID of the managed application definition, including the managed application name and the managed application definition resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applicationDefinitions/{applicationDefinition-name}",
            "in": "path",
            "name": "applicationDefinitionId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationDefinition"
                }
              }
            },
            "description": "OK - Returns the managed application definition."
          },
          "404": {
            "description": "Not Found"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ApplicationDefinitions"
        ],
        "description": "Gets the managed application definition.",
        "operationId": "ApplicationDefinitions_GetById"
      },
      "put": {
        "parameters": [
          {
            "allowReserved": true,
            "description": "The fully qualified ID of the managed application definition, including the managed application name and the managed application definition resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applicationDefinitions/{applicationDefinition-name}",
            "in": "path",
            "name": "applicationDefinitionId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationDefinition"
                }
              }
            },
            "description": "OK - Returns information about the managed application definition, including provisioning status."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationDefinition"
                }
              }
            },
            "description": "Created - Returns information about the managed application definition, including provisioning status."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ApplicationDefinitions"
        ],
        "description": "Creates a new managed application definition.",
        "operationId": "ApplicationDefinitions_CreateOrUpdateById",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationDefinition"
              }
            }
          },
          "description": "Parameters supplied to the create or update a managed application definition.",
          "required": true
        },
        "x-ms-long-running-operation": true
      }
    }
  }
}