{
  "openapi": "3.0.3",
  "info": {
    "title": "LocalPayment API",
    "version": "2.0",
    "description": "LocalPayment provides cross-border payment APIs for Latin America. Supports payins, payouts, and bank code lookups across multiple countries.",
    "x-jentic-source-url": "https://docs.v2.localpayment.com/api-reference-guide/bank-codes/argentina"
  },
  "servers": [
    {
      "url": "https://api.localpayment.com/v2"
    }
  ],
  "paths": {
    "/payins": {
      "post": {
        "operationId": "createPayin",
        "summary": "Create a payin",
        "tags": [
          "Payins"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayinRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payin created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payin"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payins/{payinId}": {
      "get": {
        "operationId": "getPayin",
        "summary": "Get payin details",
        "tags": [
          "Payins"
        ],
        "parameters": [
          {
            "name": "payinId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payin details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payin"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payouts": {
      "post": {
        "operationId": "createPayout",
        "summary": "Create a payout",
        "tags": [
          "Payouts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payout created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payout"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payouts/{payoutId}": {
      "get": {
        "operationId": "getPayout",
        "summary": "Get payout details",
        "tags": [
          "Payouts"
        ],
        "parameters": [
          {
            "name": "payoutId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payout details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payout"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bank-codes/{country}": {
      "get": {
        "operationId": "getBankCodes",
        "summary": "Get bank codes for a country",
        "tags": [
          "Bank Codes"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AR",
                "BR",
                "CL",
                "CO",
                "MX",
                "PE",
                "UY"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bank codes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BankCode"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PayinRequest": {
        "type": "object",
        "required": [
          "amount",
          "currency",
          "country"
        ],
        "properties": {
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "paymentMethod": {
            "type": "string"
          },
          "customer": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "document": {
                "type": "string"
              }
            }
          }
        }
      },
      "Payin": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PayoutRequest": {
        "type": "object",
        "required": [
          "amount",
          "currency",
          "country",
          "bankAccount"
        ],
        "properties": {
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "bankAccount": {
            "type": "object",
            "properties": {
              "bankCode": {
                "type": "string"
              },
              "accountNumber": {
                "type": "string"
              },
              "accountType": {
                "type": "string"
              }
            }
          },
          "beneficiary": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "document": {
                "type": "string"
              }
            }
          }
        }
      },
      "Payout": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BankCode": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}