{
  "openapi": "3.0.3",
  "info": {
    "title": "Facebook Graph API",
    "description": "The Facebook Graph API allows applications to read and write to the Facebook social graph. Access user profiles, pages, posts, photos, friends, and more.",
    "version": "18.0",
    "contact": {
      "name": "Facebook Developer Support",
      "url": "https://developers.facebook.com/"
    }
  },
  "servers": [
    {
      "url": "https://graph.facebook.com/v18.0",
      "description": "Facebook Graph API v18.0"
    }
  ],
  "security": [
    {
      "oauth2": []
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "operationId": "getMe",
        "summary": "Get current user profile",
        "description": "Returns the profile information for the user associated with the current access token.",
        "tags": ["User"],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return (e.g., id,name,email,birthday,picture).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{user-id}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get user profile by ID",
        "description": "Returns the profile information for the specified user.",
        "tags": ["User"],
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "required": true,
            "description": "The app-scoped user ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateUser",
        "summary": "Update user profile",
        "description": "Updates the profile for the specified user (limited fields).",
        "tags": ["User"],
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The user's display name."
                  },
                  "firstname": {
                    "type": "string",
                    "description": "The user's first name."
                  },
                  "lastname": {
                    "type": "string",
                    "description": "The user's last name."
                  },
                  "emoji_color_pref": {
                    "type": "integer",
                    "description": "Emoji color preference (0-5)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful update",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteTestUser",
        "summary": "Delete test user",
        "description": "Deletes a test user.",
        "tags": ["User"],
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful deletion",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{user-id}/feed": {
      "get": {
        "operationId": "getUserFeed",
        "summary": "Get user's feed",
        "description": "Returns a list of posts on the user's feed.",
        "tags": ["Feed"],
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return for each post.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Cursor for pagination (next page).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Cursor for pagination (previous page).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedPosts"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createPost",
        "summary": "Create a post on user's feed",
        "description": "Publishes a new post to the user's feed.",
        "tags": ["Feed"],
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "The text content of the post."
                  },
                  "link": {
                    "type": "string",
                    "description": "A URL to share."
                  },
                  "place": {
                    "type": "string",
                    "description": "Page ID of a location to tag."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the newly created post."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{post-id}": {
      "get": {
        "operationId": "getPost",
        "summary": "Get a post",
        "description": "Returns a single post by its ID.",
        "tags": ["Post"],
        "parameters": [
          {
            "name": "post-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletePost",
        "summary": "Delete a post",
        "description": "Deletes a post by its ID.",
        "tags": ["Post"],
        "parameters": [
          {
            "name": "post-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful deletion",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{post-id}/comments": {
      "get": {
        "operationId": "getPostComments",
        "summary": "Get comments on a post",
        "description": "Returns a list of comments on the specified post.",
        "tags": ["Comment"],
        "parameters": [
          {
            "name": "post-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedComments"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createComment",
        "summary": "Create a comment on a post",
        "description": "Publishes a new comment on the specified post.",
        "tags": ["Comment"],
        "parameters": [
          {
            "name": "post-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "The text of the comment."
                  }
                },
                "required": ["message"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{post-id}/likes": {
      "get": {
        "operationId": "getPostLikes",
        "summary": "Get likes on a post",
        "description": "Returns a list of users who liked the specified post.",
        "tags": ["Like"],
        "parameters": [
          {
            "name": "post-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "total_count": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{user-id}/friends": {
      "get": {
        "operationId": "getUserFriends",
        "summary": "Get user's friends",
        "description": "Returns a list of the user's friends who also use the app.",
        "tags": ["User"],
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserSummary"
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "total_count": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{user-id}/photos": {
      "get": {
        "operationId": "getUserPhotos",
        "summary": "Get user's photos",
        "description": "Returns a list of photos the user is tagged in or has uploaded.",
        "tags": ["Photo"],
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by photo type: uploaded or tagged.",
            "schema": {
              "type": "string",
              "enum": ["uploaded", "tagged"]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedPhotos"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "uploadPhoto",
        "summary": "Upload a photo",
        "description": "Uploads a new photo for the user.",
        "tags": ["Photo"],
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "source": {
                    "type": "string",
                    "format": "binary",
                    "description": "The photo file."
                  },
                  "url": {
                    "type": "string",
                    "description": "URL of the photo to upload."
                  },
                  "message": {
                    "type": "string",
                    "description": "Caption for the photo."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Photo uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "post_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{user-id}/albums": {
      "get": {
        "operationId": "getUserAlbums",
        "summary": "Get user's photo albums",
        "description": "Returns a list of photo albums for the user.",
        "tags": ["Album"],
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Album"
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAlbum",
        "summary": "Create a photo album",
        "description": "Creates a new photo album for the user.",
        "tags": ["Album"],
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the album."
                  },
                  "message": {
                    "type": "string",
                    "description": "Description of the album."
                  },
                  "privacy": {
                    "type": "object",
                    "description": "Privacy settings for the album.",
                    "properties": {
                      "value": {
                        "type": "string",
                        "enum": ["EVERYONE", "ALL_FRIENDS", "FRIENDS_OF_FRIENDS", "SELF"]
                      }
                    }
                  }
                },
                "required": ["name"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Album created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{user-id}/likes": {
      "get": {
        "operationId": "getUserLikes",
        "summary": "Get pages liked by user",
        "description": "Returns a list of Pages that the user has liked.",
        "tags": ["Like"],
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "created_time": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{user-id}/videos": {
      "get": {
        "operationId": "getUserVideos",
        "summary": "Get user's videos",
        "description": "Returns a list of videos uploaded by or tagged for the user.",
        "tags": ["Video"],
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by video type.",
            "schema": {
              "type": "string",
              "enum": ["uploaded", "tagged"]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Video"
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{page-id}": {
      "get": {
        "operationId": "getPage",
        "summary": "Get a Facebook Page",
        "description": "Returns information about a Facebook Page.",
        "tags": ["Page"],
        "parameters": [
          {
            "name": "page-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields (e.g., id,name,about,category,fan_count,website).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page"
                }
              }
            }
          }
        }
      }
    },
    "/{page-id}/feed": {
      "get": {
        "operationId": "getPageFeed",
        "summary": "Get a Page's feed",
        "description": "Returns a list of posts published on the Page.",
        "tags": ["Page"],
        "parameters": [
          {
            "name": "page-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedPosts"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createPagePost",
        "summary": "Create a Page post",
        "description": "Publishes a new post to the Page's feed. Requires a Page access token.",
        "tags": ["Page"],
        "parameters": [
          {
            "name": "page-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string"
                  },
                  "link": {
                    "type": "string"
                  },
                  "published": {
                    "type": "boolean",
                    "description": "Whether to publish immediately or schedule."
                  },
                  "scheduled_publish_time": {
                    "type": "integer",
                    "description": "UNIX timestamp for scheduled publishing."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{user-id}/accounts": {
      "get": {
        "operationId": "getUserPages",
        "summary": "Get Pages managed by user",
        "description": "Returns a list of Facebook Pages that the user administrates.",
        "tags": ["Page"],
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "access_token": {
                            "type": "string"
                          },
                          "category": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{user-id}/permissions": {
      "get": {
        "operationId": "getUserPermissions",
        "summary": "Get user's granted permissions",
        "description": "Returns a list of permissions granted by the user to the app.",
        "tags": ["User"],
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "permission": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": ["granted", "declined"]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/debug_token": {
      "get": {
        "operationId": "debugToken",
        "summary": "Debug an access token",
        "description": "Returns metadata about a given access token, including validity, expiration, scopes, and associated user/app.",
        "tags": ["Auth"],
        "parameters": [
          {
            "name": "input_token",
            "in": "query",
            "required": true,
            "description": "The access token to debug.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "app_id": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "application": {
                          "type": "string"
                        },
                        "data_access_expires_at": {
                          "type": "integer"
                        },
                        "expires_at": {
                          "type": "integer"
                        },
                        "is_valid": {
                          "type": "boolean"
                        },
                        "scopes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "user_id": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://www.facebook.com/v18.0/dialog/oauth",
            "tokenUrl": "https://graph.facebook.com/v18.0/oauth/access_token",
            "scopes": {
              "public_profile": "Access public profile information",
              "email": "Access user's email address",
              "user_friends": "Access user's friends list",
              "user_photos": "Access user's photos",
              "user_videos": "Access user's videos",
              "user_posts": "Access user's posts",
              "user_likes": "Access user's likes",
              "user_birthday": "Access user's birthday",
              "user_location": "Access user's location",
              "user_hometown": "Access user's hometown",
              "pages_show_list": "Show list of Pages managed",
              "pages_read_engagement": "Read Page engagement data",
              "pages_manage_posts": "Create and manage Page posts",
              "publish_to_groups": "Post to groups"
            }
          }
        }
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "App-scoped user ID."
          },
          "name": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "middle_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "birthday": {
            "type": "string",
            "description": "Birthday in MM/DD/YYYY format."
          },
          "gender": {
            "type": "string"
          },
          "age_range": {
            "type": "object",
            "properties": {
              "min": {
                "type": "integer"
              },
              "max": {
                "type": "integer"
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "locale": {
            "type": "string"
          },
          "timezone": {
            "type": "number"
          },
          "picture": {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "is_silhouette": {
                    "type": "boolean"
                  },
                  "width": {
                    "type": "integer"
                  },
                  "height": {
                    "type": "integer"
                  }
                }
              }
            }
          },
          "short_name": {
            "type": "string"
          },
          "name_format": {
            "type": "string"
          },
          "location": {
            "$ref": "#/components/schemas/Place"
          },
          "hometown": {
            "$ref": "#/components/schemas/Place"
          }
        }
      },
      "UserSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Post": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "story": {
            "type": "string"
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "updated_time": {
            "type": "string",
            "format": "date-time"
          },
          "from": {
            "$ref": "#/components/schemas/UserSummary"
          },
          "type": {
            "type": "string",
            "enum": ["link", "status", "photo", "video", "offer"]
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "permalink_url": {
            "type": "string",
            "format": "uri"
          },
          "full_picture": {
            "type": "string",
            "format": "uri"
          },
          "shares": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "from": {
            "$ref": "#/components/schemas/UserSummary"
          },
          "like_count": {
            "type": "integer"
          }
        }
      },
      "Photo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Caption of the photo."
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "source": {
                  "type": "string",
                  "format": "uri"
                },
                "width": {
                  "type": "integer"
                },
                "height": {
                  "type": "integer"
                }
              }
            }
          },
          "from": {
            "$ref": "#/components/schemas/UserSummary"
          },
          "album": {
            "$ref": "#/components/schemas/UserSummary"
          }
        }
      },
      "Album": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "count": {
            "type": "integer"
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "updated_time": {
            "type": "string",
            "format": "date-time"
          },
          "type": {
            "type": "string"
          },
          "from": {
            "$ref": "#/components/schemas/UserSummary"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "privacy": {
            "type": "string"
          },
          "cover_photo": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "source": {
                "type": "string",
                "format": "uri"
              }
            }
          }
        }
      },
      "Video": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "updated_time": {
            "type": "string",
            "format": "date-time"
          },
          "source": {
            "type": "string",
            "format": "uri"
          },
          "length": {
            "type": "number"
          },
          "from": {
            "$ref": "#/components/schemas/UserSummary"
          },
          "permalink_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Page": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "about": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "fan_count": {
            "type": "integer"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "website": {
            "type": "string"
          },
          "picture": {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          },
          "cover": {
            "type": "object",
            "properties": {
              "source": {
                "type": "string",
                "format": "uri"
              },
              "id": {
                "type": "string"
              }
            }
          },
          "location": {
            "type": "object",
            "properties": {
              "street": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "state": {
                "type": "string"
              },
              "country": {
                "type": "string"
              },
              "zip": {
                "type": "string"
              },
              "latitude": {
                "type": "number"
              },
              "longitude": {
                "type": "number"
              }
            }
          }
        }
      },
      "Place": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Paging": {
        "type": "object",
        "properties": {
          "cursors": {
            "type": "object",
            "properties": {
              "before": {
                "type": "string"
              },
              "after": {
                "type": "string"
              }
            }
          },
          "next": {
            "type": "string",
            "format": "uri"
          },
          "previous": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "PaginatedPosts": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Post"
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "PaginatedComments": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Comment"
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "PaginatedPhotos": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Photo"
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "code": {
                "type": "integer"
              },
              "error_subcode": {
                "type": "integer"
              },
              "fbtrace_id": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
