{
  "openapi": "3.0.3",
  "info": {
    "title": "Float API",
    "description": "This API allows 3rd party integration of your Float data.",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://api.float.com/v3"
    }
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": "The /accounts endpoint"
    },
    {
      "name": "Departments",
      "description": "The /departments endpoint"
    },
    {
      "name": "People",
      "description": "The /people endpoint"
    },
    {
      "name": "Roles",
      "description": "The /roles endpoint"
    },
    {
      "name": "Statuses",
      "description": "The /status endpoint"
    },
    {
      "name": "Time Off",
      "description": "The /timeoffs endpoint"
    },
    {
      "name": "Time Off Types",
      "description": "The /timeoff-types endpoint"
    },
    {
      "name": "Public Holidays",
      "description": "The /public-holidays endpoint"
    },
    {
      "name": "Team Holidays",
      "description": "The /holidays endpoint"
    },
    {
      "name": "Clients",
      "description": "The /clients endpoint"
    },
    {
      "name": "Projects",
      "description": "The /projects endpoint"
    },
    {
      "name": "Project Stages",
      "description": "The /project-stages endpoint"
    },
    {
      "name": "Project Expenses",
      "description": "The /project-expenses endpoint"
    },
    {
      "name": "Phases",
      "description": "The /phases endpoint"
    },
    {
      "name": "Project Tasks",
      "description": "The /project-tasks endpoint"
    },
    {
      "name": "Milestones",
      "description": "The /milestones endpoint"
    },
    {
      "name": "Allocations",
      "description": "The /tasks endpoint describes allocations"
    },
    {
      "name": "Logged Time",
      "description": "The /logged-time endpoint"
    },
    {
      "name": "Reports",
      "description": "The /reports endpoint"
    }
  ],
  "paths": {
    "/departments": {
      "get": {
        "summary": "List departments",
        "operationId": "getDepartments",
        "tags": [
          "Departments"
        ],
        "parameters": [
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/page"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/per-page"
          }
        ],
        "responses": {
          "200": {
            "description": "List of departments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Array of departments",
                  "items": {
                    "$ref": "#/components/schemas/Department"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add a new department",
        "operationId": "addDepartment",
        "tags": [
          "Departments"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Department"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "If the department was successfully created, the response returns the full information about that department.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Department"
                }
              }
            }
          },
          "422": {
            "description": "Data validation failure."
          }
        }
      }
    },
    "/departments/{department_id}": {
      "get": {
        "summary": "Retrieve a single department",
        "description": "Returns a single department.",
        "operationId": "getDepartment",
        "tags": [
          "Departments"
        ],
        "parameters": [
          {
            "name": "department_id",
            "in": "path",
            "description": "The department's id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of a single department.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Department"
                }
              }
            }
          },
          "404": {
            "description": "The department does not exist."
          }
        }
      },
      "patch": {
        "summary": "Update a department's details, read-only fields are ignored",
        "operationId": "updateDepartment",
        "tags": [
          "Departments"
        ],
        "parameters": [
          {
            "name": "department_id",
            "in": "path",
            "description": "The department's id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "On a successful update of a department, the response returns the full information about that department.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Department"
                }
              }
            }
          },
          "422": {
            "description": "Data validation failure."
          }
        }
      },
      "delete": {
        "summary": "Delete a department",
        "operationId": "deleteDepartment",
        "tags": [
          "Departments"
        ],
        "parameters": [
          {
            "name": "department_id",
            "in": "path",
            "description": "department id to delete",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete successful, if this `department_id` is currently used in any people it will be set to `null`."
          },
          "404": {
            "description": "The department does not exist."
          }
        }
      }
    },
    "/reports/people": {
      "get": {
        "summary": "Retrieve report data for a list of people",
        "description": "Returns an array of people with aggregated data alongside person-specific attributes.\nThe **start_date** and **end_date** query parameters are required to set the duration of the report, and the response can be filtered per person.\n**Note:** Pagination is not available, and request limits are lower for report endpoints.",
        "operationId": "getReportPeople",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "description": "**Required:** Start date of the report duration in the format YYYY-MM-DD.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "**Required:** End date of the report duration in the format YYYY-MM-DD.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/people_id"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of people reports between two dates.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportsListPeople"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity. Required query parameters are either missing or incomplete."
          }
        }
      }
    },
    "/reports/projects": {
      "get": {
        "summary": "Retrieve report data for a list of projects",
        "description": "Returns an array of projects with aggregated data alongside project-specific attributes.\nThe **start_date** and **end_date** query parameters are required to set the duration of the report, and the response can be filtered per project.\n**Note:** Pagination is not available, and request limits are lower for report endpoints.",
        "operationId": "getReportProjects",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "description": "**Required:** Start date of the report duration in the format YYYY-MM-DD.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "**Required:** End date of the report duration in the format YYYY-MM-DD.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/project_id"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of project reports between two dates.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportsListProjects"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity. Required query parameters are either missing, incomplete or the project_id is not found"
          }
        }
      }
    },
    "/projects": {
      "get": {
        "summary": "List projects",
        "operationId": "getProjects",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project_code"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/client_id"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/active"
          },
          {
            "$ref": "#/components/parameters/non_billable"
          },
          {
            "$ref": "#/components/parameters/status"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/tag_name"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/page"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/per-page"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/sort"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/modified_since"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Array of projects",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add a new project",
        "operationId": "addProject",
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Project"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "If the project was successfully created, the response returns the full information about that project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "422": {
            "description": "Data validation failure."
          }
        }
      }
    },
    "/projects/{project_id}": {
      "get": {
        "summary": "Retrieve a single project.",
        "description": "Retrieve a single project",
        "operationId": "getProject",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of a single project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "404": {
            "description": "The project does not exist."
          }
        }
      },
      "patch": {
        "summary": "Update a project's details, read-only fields are ignored",
        "description": "To update the project team including unassigned roles there are 3 actions on the `project_team` field; `set`, `add` and `del`:\n  * Use `set` as an array of project team objects of `people_id`,`role_id` and `hourly_rate` to replace all people and their project rates\n  * Use `add` as an array of project team objects of `people_id`, `role_id` and `hourly_rate` to add additional people and their roles & rates\n  * Use `del` as an array of `people_id` to remove people from the project_team\n\n  To assign a role to a project, `set` or `add` a `role_id` to the project_team object without a `people_id`. An unassigned role placeholder will be returned in the response. See the [Using unassigned roles](/tutorial_unassigned_roles.html) tutorial for more details.\n\nCAUTION: `set` and `del` actions that remove people will **cascade-delete** all associated Allocations (`task_id`) and Logged time for that person on the project.\n",
        "operationId": "updateProject",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectWithProjectTeam"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "On a successful update of a project, the response returns the full information about that project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "422": {
            "description": "Data validation failure, see error for details"
          }
        }
      },
      "delete": {
        "summary": "Delete a project",
        "description": "Deleting a project will delete all associated allocations (`task_id`) and logged time, as well as any phases and associations, this is an irreversible action",
        "operationId": "deleteProject",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id"
          }
        ],
        "responses": {
          "204": {
            "description": "Delete successful, all associated allocations, logged time and phases for this `project_id` have also been deleted"
          },
          "404": {
            "description": "The project does not exist."
          }
        }
      }
    },
    "/project-stages": {
      "get": {
        "summary": "List project stages",
        "operationId": "getProjectStages",
        "tags": [
          "Project Stages"
        ],
        "parameters": [
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/active"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/page"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/per-page"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/sort"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of project stages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Array of project stages",
                  "items": {
                    "$ref": "#/components/schemas/ProjectStage"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add a new project stage",
        "operationId": "addProjectStage",
        "tags": [
          "Project Stages"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectStage"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "If the project stage was successfully created, the response returns the full information about that project stage.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectStage"
                }
              }
            }
          },
          "422": {
            "description": "Data validation failure."
          }
        }
      }
    },
    "/project-stages/{id}": {
      "get": {
        "summary": "Retrieve a single project stage.",
        "description": "Retrieve a single project stage",
        "operationId": "getProjectStage",
        "tags": [
          "Project Stages"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of a single project stage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectStage"
                }
              }
            }
          },
          "404": {
            "description": "The project stage does not exist."
          }
        }
      },
      "patch": {
        "summary": "Update a project stage's details, read-only fields are ignored",
        "description": "Stages may be updated or archived, `project_status` cannot be changed",
        "operationId": "updateProjectStage",
        "tags": [
          "Project Stages"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectStage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "On a successful update of a project stage, the response returns the full information about that project stage.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectStage"
                }
              }
            }
          },
          "422": {
            "description": "Data validation failure."
          }
        }
      },
      "delete": {
        "summary": "Delete a project stage",
        "description": "Deleting a project stage will remove it from the available stages for projects, this is an irreversible action",
        "operationId": "deleteProjectStage",
        "tags": [
          "Project Stages"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "Delete successful, the project stage has been removed"
          },
          "404": {
            "description": "The project stage does not exist."
          },
          "422": {
            "description": "Data validation failure. The project stage cannot be deleted if it is currently linked to projects."
          }
        }
      }
    },
    "/phases": {
      "get": {
        "summary": "List phases",
        "operationId": "getPhases",
        "tags": [
          "Phases"
        ],
        "parameters": [
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/project_id"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/active"
          },
          {
            "$ref": "#/components/parameters/non_billable"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/page"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/per-page"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/sort"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/modified_since"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of phases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Array of phases",
                  "items": {
                    "$ref": "#/components/schemas/Phase"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add a new phase",
        "operationId": "addPhase",
        "tags": [
          "Phases"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Phase"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "If the phase was successfully created, the response returns the full information about that phase.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Phase"
                }
              }
            }
          },
          "422": {
            "description": "Data validation failure."
          }
        }
      }
    },
    "/phases/{phase_id}": {
      "get": {
        "summary": "Retrieve a single phase.",
        "description": "Retrieve a single phase",
        "operationId": "getPhase",
        "tags": [
          "Phases"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/phase_id"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of a single phase",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Phase"
                }
              }
            }
          },
          "404": {
            "description": "The phase does not exist."
          }
        }
      },
      "patch": {
        "summary": "Update a phase's details",
        "description": "To update the phase team there are 3 actions on the `phase_team` field; `set`, `add` and `del`:\n  * Use `set` as an array of phase team objects of `people_id` and `hourly_rate` to replace all people and their phase rates\n  * Use `add` as an array of phase team objects of `people_id` and `hourly_rate` to add additional people and their rates\n  * Use `del` as an array of `people_id` to remove people from the phase_team\n\nCAUTION: `set` and `del` actions that remove people will cascade delete all associated Allocations (`task_id`) and Logged time for that person on the phase.\n",
        "operationId": "updatePhase",
        "tags": [
          "Phases"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/phase_id"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhaseWithPhaseTeam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "On a successful update of a phase, the response returns the full information about that phase.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Phase"
                }
              }
            }
          },
          "422": {
            "description": "Data validation failure."
          }
        }
      },
      "delete": {
        "summary": "Delete a phase",
        "description": "Deleting a phase will delete all associated allocations (`task_id`) and logged time, this is an irreversible action",
        "operationId": "deletePhase",
        "tags": [
          "Phases"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/phase_id"
          }
        ],
        "responses": {
          "204": {
            "description": "Delete successful, all associated allocations and logged time for this `phase_id` have also been deleted"
          },
          "404": {
            "description": "The phase does not exist."
          }
        }
      }
    },
    "/project-tasks": {
      "get": {
        "summary": "List project tasks",
        "description": "Project tasks are used in Projects and Phases to associate allocations and logged time, e.g. Design, Admin etc\n\nA `task_name` with an empty string is the default for allocations and logged time when a project task has not been selected.\n\nThey may be set to non-billable if the Project or Phase is billable (otherwise the non-billable status cascades). ",
        "operationId": "getProjectTasks",
        "tags": [
          "Project Tasks"
        ],
        "parameters": [
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/project_id"
          },
          {
            "name": "billable",
            "in": "query",
            "description": "Filter response on `1` = billable or `0` = non-billable entities",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/page"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/per-page"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/sort"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of project tasks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Array of project tasks",
                  "items": {
                    "$ref": "#/components/schemas/ProjectTask"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add a new project task",
        "description": "Create project tasks to pre-configure a project before scheduling.\n\n**Note:** project tasks may be created automatically through `/tasks` (allocations) and `/logged-time` when a new name is used in the request. ",
        "operationId": "addProjectTask",
        "tags": [
          "Project Tasks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectTask"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The project task was successfully created, and the response returns the full information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectTask"
                }
              }
            }
          },
          "422": {
            "description": "Data validation failure."
          }
        }
      }
    },
    "/project-tasks/{project_task_id}": {
      "get": {
        "summary": "Retrieve a single project task.",
        "operationId": "getProjectTask",
        "tags": [
          "Project Tasks"
        ],
        "parameters": [
          {
            "name": "project_task_id",
            "in": "path",
            "description": "The project tasks ID as described in the `task_meta_id` field",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of a single project task",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectTask"
                }
              }
            }
          },
          "404": {
            "description": "The project task does not exist."
          }
        }
      },
      "patch": {
        "summary": "Update a project tasks details",
        "operationId": "updateProjectTask",
        "tags": [
          "Project Tasks"
        ],
        "parameters": [
          {
            "name": "project_task_id",
            "in": "path",
            "description": "The project tasks ID as described in the `task_meta_id` field",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectTask"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful update of a project task, the response returns the full information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectTask"
                }
              }
            }
          },
          "422": {
            "description": "Data validation failure."
          }
        }
      },
      "delete": {
        "summary": "Delete a project task",
        "description": "Project Tasks may only be deleted if there are zero count associations. To remove associations, filter using the `task_meta_id` on the respective endpoints (`/tasks` or `/logged-time`) to update individually, before retrying this delete operation.",
        "operationId": "deleteProjectTask",
        "tags": [
          "Project Tasks"
        ],
        "parameters": [
          {
            "name": "project_task_id",
            "in": "path",
            "description": "The project tasks ID as described in the `task_meta_id` field",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful deletion will return a 204 response status."
          },
          "404": {
            "description": "The project task does not exist."
          },
          "422": {
            "description": "The project task has associations that must be updated."
          }
        }
      }
    },
    "/project-tasks/merge": {
      "post": {
        "summary": "Merges project tasks and all associations into a single, new or existing, project task",
        "operationId": "mergeProjectTasks",
        "tags": [
          "Project Tasks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MergeList"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "All provided Project Tasks have successfully merged and all associated allocations and logged time are updated. The response returns the full information of the final Project Task.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectTask"
                }
              }
            }
          },
          "422": {
            "description": "Data validation failure."
          }
        }
      }
    },
    "/people": {
      "get": {
        "summary": "List people",
        "description": "Search for all people in your organization.\nPeople are a distinct entity from Accounts. People exist on the schedule and will only have a linked account if they are invited to sign in. Each active person contributes to a billing seat.\nArchived people do not show on the schedule, they also do not contribute towards billing seats.",
        "operationId": "getPeople",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/active"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/department_id"
          },
          {
            "$ref": "#/components/parameters/email"
          },
          {
            "$ref": "#/components/parameters/people_type_id"
          },
          {
            "$ref": "#/components/parameters/employee_type"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/tag_name"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/page"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/per-page"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/sort"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/modified_since"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of people",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Array of people",
                  "items": {
                    "$ref": "#/components/schemas/Person"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add a new person",
        "description": "Creating a person does not create an account (can only be done through the UI). Each active person contributes to a billing seat. The `role_id` is a higher order than `job_title`, `job_title` will attempt to match on an existing `role.name` and create a new role if none exist.\nCost rates may be set on a person using the `cost_rate` field and can include an `effective_date` field in the format; e.g. `2025-06-10`.\n- If `effective_date` is omitted when the first `cost_rate` is added, the date will default to the person's `start_date`, or fallback to `1970-01-01`.\n- When a further `cost_rate` is added and the `effective_date` omitted, the date will default to today.\n\nThese will be reflected in the person's `contracts` when expanded in the response. ",
        "operationId": "addPerson",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Person"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The person was successfully created, the response returns the full information about that person.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "422": {
            "description": "Data validation failure."
          }
        }
      }
    },
    "/people/{people_id}": {
      "get": {
        "summary": "Retrieve a single person",
        "operationId": "getPerson",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "name": "people_id",
            "in": "path",
            "description": "The person's id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of a single person",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "404": {
            "description": "The person does not exist."
          }
        }
      },
      "patch": {
        "summary": "Update a person's details, read-only fields are ignored",
        "description": "If a person is changed to archived (`active = 0`) then their access to the team is revoked by deleting the account and this can only be re-established through the UI.\nThe `role_id` is a higher order than `job_title`, `job_title` will attempt to match on an existing `role.name` and create a new role if none exist.\n\nCost rates may be updated on a person using the `cost_rate` field and Role changes may be updated using the `role_id` field along with the `effective_date` field with the format example `2025-06-10` (defaults to today if omitted).\nThese will be reflected in the person's `contracts` available to be expanded on the response. ",
        "operationId": "updatePerson",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "name": "people_id",
            "in": "path",
            "description": "The person's id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "On a successful update of a person, the response returns thefull information about that person.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "422": {
            "description": "Data validation failure.    \n"
          }
        }
      },
      "delete": {
        "summary": "Delete a person",
        "description": "Deleting a person will delete all their allocations (`task_id`) and logged time, this is an irreversible action",
        "operationId": "deletePerson",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "name": "people_id",
            "in": "path",
            "description": "people id to delete",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete successful, all associated allocations and logged time for this `people_id` have also been deleted"
          },
          "404": {
            "description": "The person does not exist."
          }
        }
      }
    },
    "/roles": {
      "get": {
        "summary": "List roles",
        "operationId": "getRoles",
        "tags": [
          "Roles"
        ],
        "parameters": [
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/page"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/per-page"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "List of roles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Array of roles",
                  "items": {
                    "$ref": "#/components/schemas/Role"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add a new role",
        "operationId": "addRole",
        "tags": [
          "Roles"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Role"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The role was successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          },
          "422": {
            "description": "Data validation failure, see error for details"
          }
        }
      }
    },
    "/roles/{role_id}": {
      "get": {
        "summary": "Retrieve a single role",
        "description": "Returns a single role.",
        "operationId": "getRole",
        "tags": [
          "Roles"
        ],
        "parameters": [
          {
            "name": "role_id",
            "in": "path",
            "description": "The role's ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "A role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a role, read-only fields are ignored.",
        "description": "To update `cost_rate_history` see [Role cost rate changes](/overview_changelog.html#june-2025)",
        "operationId": "updateRole",
        "tags": [
          "Roles"
        ],
        "parameters": [
          {
            "name": "role_id",
            "in": "path",
            "description": "The role's ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful update of a role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          },
          "422": {
            "description": "Data validation failure, see error for details"
          }
        }
      },
      "delete": {
        "summary": "Delete a role",
        "operationId": "deleteRole",
        "tags": [
          "Roles"
        ],
        "parameters": [
          {
            "name": "role_id",
            "in": "path",
            "description": "The role's ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete successful, if this Role `id` is currently used in by any person it will be set to `null`"
          },
          "404": {
            "description": "The role does not exist"
          }
        }
      }
    },
    "/tasks": {
      "get": {
        "summary": "List allocations as tasks",
        "description": "This version of the API references a `task` object as an allocation.\n**Note:** repeating allocations will also be returned if `repeat_end_date` is within the date range specified.",
        "operationId": "getTasks",
        "tags": [
          "Allocations"
        ],
        "parameters": [
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/client_id"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/project_id"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/phase_id"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/task_meta_id"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/people_id"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/start_date"
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End of date range in format YYYY-MM-DD. Must be used together with `start_date`. Will be inclusive of `repeat_end_date` date.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "billable",
            "in": "query",
            "description": "Filter response on `0` = non-billable or `1` = billable",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter response on the Status. `1` = Tentative, `2` = Confirmed, `3` = Complete\"",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "repeat_state",
            "in": "query",
            "description": "Filter response on the repeat state. `0` = No repeat, `1` = Weekly, `2` = Monthly, `3` = Every two weeks, `4` = Every three weeks, `5` = Every six weeks, `6` = Every two months, `7` = Every three months, `8` = Every six months, `9` = Yearly",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/page"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/per-page"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/sort"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/modified_since"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/fields"
          },
          {
            "name": "expand",
            "in": "query",
            "description": "Use `task_days` to return an additional array of dates `[YYYY-MM-DD]` calculated by taking into account the date range & `repeat_end_date` of each `task_id` plus holidays & availability of all associated people. (e.g. weekends and holidays dates will not be returned). By default, a date is returned if any person is available, the `people_id` filter may be used to limit this. The `start_date` and `end_date` filters must always be provided.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of allocations as tasks.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Array of tasks",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add a new allocation as a task, read-only fields are ignored",
        "operationId": "addTask",
        "tags": [
          "Allocations"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Task"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "If the allocation was successfully created, the response returns the full information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "422": {
            "description": "Data validation failure."
          }
        }
      }
    },
    "/tasks/{task_id}": {
      "get": {
        "summary": "Retrieve a single allocation as a task",
        "description": "Returns a single allocation.",
        "operationId": "getTask",
        "tags": [
          "Allocations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/task_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of a single allocation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "404": {
            "description": "The allocation does not exist."
          }
        }
      },
      "patch": {
        "summary": "Update an allocations details as a task, read-only fields are ignored",
        "operationId": "updateTask",
        "tags": [
          "Allocations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/task_id"
          }
        ],
        "responses": {
          "200": {
            "description": "On a successful update of an allocation, the response returns the full information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "422": {
            "description": "Data validation failure."
          }
        }
      },
      "delete": {
        "summary": "Delete an allocation as a task",
        "operationId": "deleteTask",
        "tags": [
          "Allocations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/task_id"
          }
        ],
        "responses": {
          "204": {
            "description": "Delete successful."
          },
          "404": {
            "description": "The allocation does not exist."
          }
        }
      }
    },
    "/clients": {
      "get": {
        "summary": "List clients",
        "operationId": "getClients",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/page"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/per-page"
          }
        ],
        "responses": {
          "200": {
            "description": "List of clients",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Array of clients",
                  "items": {
                    "$ref": "#/components/schemas/Client"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add a new client",
        "operationId": "addClient",
        "tags": [
          "Clients"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Client"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "If the client was successfully created, the response returns the full information about that client.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          },
          "422": {
            "description": "Data validation failure.\n"
          }
        }
      }
    },
    "/clients/{client_id}": {
      "get": {
        "summary": "Retrieve a single client",
        "description": "Returns a single client.",
        "operationId": "getClient",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "description": "The client's ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A client",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a client's name, read-only fields are ignored",
        "operationId": "updateClient",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "description": "The client's ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "On a successful update of a client, the response returns the full information about that client.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          },
          "422": {
            "description": "Data validation failure.\n"
          }
        }
      },
      "delete": {
        "summary": "Delete a client",
        "operationId": "deleteClient",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "description": "client id to delete",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete successful, if this `client_id` is currently used in any project it will be set to `null`."
          },
          "404": {
            "description": "The client does not exist."
          }
        }
      }
    },
    "/accounts": {
      "get": {
        "summary": "List accounts",
        "operationId": "getAccounts",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/expand"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/page"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/per-page"
          }
        ],
        "responses": {
          "200": {
            "description": "Accounts are required to access a team. An account may be linked to a person on the schedule; if not, they are a guest.\n**Note:** the API does not currently support account creation.\n\nHigh-level permissions are denoted by `account_type`; `1` = Account Owner, `2` = Admin, `4` = Member, `5` = Billing, `7` = Manager\n\nGranular permissions are denoted by `access`:\n  * Where `account_type` is `1`, `2` or `5` (Account Owner, Admin or Billing); `access` is always `0`\n  * Where `account_type` is `4` (Member); `1` = View all, `2` = Self-edit.\n  * Where `account_type` is `7` (Manager); `0` = No schedule management, `1` = Manage Projects, `2` = Manage People, `3` = Manage Projects & People.\n  * Additionally for any manager `access` values; `+4` = Create & edit People, `+8` = View rates & budgets e.g. `9` = Manager of projects that can view rates & budgets\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Array of accounts",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account_id}": {
      "get": {
        "summary": "Retrieve a single account",
        "operationId": "getAccount",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/account_id"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "Accounts are required to access a team. An account may be linked to a person on the schedule; if not, they are a guest.\n**Note:** the API does not currently support account creation.\nHigh-level permissions are denoted by `account_type`; `1` = Account Owner, `2` = Admin, `4` = Member, `5` = Billing, `7` = Manager\nGranular permissions are denoted by `access`:\n  * Where `account_type` is `1`, `2` or `5` (Account Owner, Admin or Billing); access is always `0`\n  * Where `account_type` is `4` (Member); `1` = View all, `2` = Self-edit.\n  * Where `account_type` is `7` (Manager); `0` = No schedule management, `1` = Manage Projects, `2` = Manage People, `3` = Manage Projects & People.\n  * Additionally for any manager `access` values; `+4` = Create & edit People, `+8` = View rates & budgets e.g. `9` = Manager of projects that can view rates & budgets\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        }
      }
    },
    "/public-holidays": {
      "get": {
        "summary": "List public holidays",
        "operationId": "getPublicHolidays",
        "tags": [
          "Public Holidays"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "description": "Returns all results in the given year in format YYYY. Default if omitted is the current year. Overridden by `start_date` and `end_date` parameters",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date:YYYY",
              "default": "2023"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "Filter results by one or more specific region ID (comma separated)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/start_date"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/end_date"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/page"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/per-page"
          }
        ],
        "responses": {
          "200": {
            "description": "List of public holidays, including their respective dates filtered per year (see `year` query parameter) and regions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Array of public holidays",
                  "items": {
                    "$ref": "#/components/schemas/PublicHoliday"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public-holidays/{public_holiday_id}": {
      "get": {
        "summary": "Retrieve a single public holiday",
        "description": "Retrieve a single public holiday",
        "operationId": "getPublicHoliday",
        "tags": [
          "Public Holidays"
        ],
        "parameters": [
          {
            "name": "public_holiday_id",
            "in": "path",
            "description": "The public holiday's ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "Returns all results in the given year in format YYYY. Default if omitted is the current year. Overridden by `start_date` and `end_date` parameters",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date:YYYY",
              "default": "2023"
            }
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/start_date"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/end_date"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of a single public holiday",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicHoliday"
                }
              }
            }
          },
          "404": {
            "description": "The public holiday does not exist."
          }
        }
      }
    },
    "/holidays": {
      "get": {
        "summary": "List team holidays",
        "operationId": "getHolidays",
        "tags": [
          "Team Holidays"
        ],
        "parameters": [
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/page"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/per-page"
          }
        ],
        "responses": {
          "200": {
            "description": "List of team holidays that are blocked out across the whole team in the schedule.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Array of holidays",
                  "items": {
                    "$ref": "#/components/schemas/Holiday"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a team holiday that",
        "operationId": "addHoliday",
        "tags": [
          "Team Holidays"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Holiday"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "If the holiday was successfully created, the response returns the full information about that holiday.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Holiday"
                }
              }
            }
          },
          "422": {
            "description": "Data validation failure.\n"
          }
        }
      }
    },
    "/holidays/{holiday_id}": {
      "get": {
        "summary": "Retrieve a single team holiday",
        "description": "Returns a single team holiday.",
        "operationId": "getHoliday",
        "tags": [
          "Team Holidays"
        ],
        "parameters": [
          {
            "name": "holiday_id",
            "in": "path",
            "description": "The holiday ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A holiday",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Holiday"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a holiday's details, read-only fields are ignored",
        "operationId": "updateHoliday",
        "tags": [
          "Team Holidays"
        ],
        "parameters": [
          {
            "name": "holiday_id",
            "in": "path",
            "description": "The holiday ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "On a successful update of a team holiday, the response returns the full information about that holiday.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Holiday"
                }
              }
            }
          },
          "422": {
            "description": "Data validation failure.\n"
          }
        }
      },
      "delete": {
        "summary": "Delete a team holiday",
        "operationId": "deleteHoliday",
        "tags": [
          "Team Holidays"
        ],
        "parameters": [
          {
            "name": "holiday_id",
            "in": "path",
            "description": "holiday ID to delete",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete successful."
          },
          "404": {
            "description": "The holiday does not exist."
          }
        }
      }
    },
    "/logged-time": {
      "get": {
        "summary": "List logged time for a project or person.",
        "description": "Returns a list of logged time for the specified person or project within the specified date range",
        "operationId": "getLoggedTimes",
        "tags": [
          "Logged Time"
        ],
        "parameters": [
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/people_id"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/project_id"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/phase_id"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/task_meta_id"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/start_date"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/end_date"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/page"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/per-page"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/sort"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/modified_since"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of logged time entries for the specified person/project between the specified dates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Array of logged time entries",
                  "items": {
                    "$ref": "#/components/schemas/LoggedTime"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Time Tracking is not enabled for this team"
          },
          "422": {
            "description": "Data validation error"
          }
        }
      },
      "post": {
        "summary": "Log time for a person.",
        "description": "Create a logged time entry for a person",
        "operationId": "addLoggedTime",
        "tags": [
          "Logged Time"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoggedTime"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "If the time was successfully logged the response includes the full entry",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Array of logged time entries",
                  "items": {
                    "$ref": "#/components/schemas/LoggedTime"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Time Tracking is not enabled for this team"
          },
          "422": {
            "description": "Data validation error"
          }
        }
      }
    },
    "/logged-time/{logged_time_id}": {
      "get": {
        "summary": "Retrieve a single logged time entry.",
        "description": "Returns a single logged time entry",
        "operationId": "getLoggedTime",
        "tags": [
          "Logged Time"
        ],
        "parameters": [
          {
            "name": "logged_time_id",
            "in": "path",
            "description": "Unique ID of the specific logged time entry to be retrieved",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A logged time entry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoggedTime"
                }
              }
            }
          },
          "403": {
            "description": "Time Tracking is not enabled for this team"
          },
          "404": {
            "description": "The specified logged time entry does not exist"
          },
          "422": {
            "description": "Data validation error"
          }
        }
      },
      "patch": {
        "summary": "Modify an existing logged time entry.",
        "operationId": "updateLoggedTime",
        "tags": [
          "Logged Time"
        ],
        "parameters": [
          {
            "name": "logged_time_id",
            "in": "path",
            "description": "Unique ID of the specific logged time entry to be updated",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoggedTime"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "If the logged time was successfully updated the modified entry is returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoggedTime"
                }
              }
            }
          },
          "403": {
            "description": "Time Tracking is not enabled for this team"
          },
          "404": {
            "description": "The specified logged time entry does not exist"
          },
          "422": {
            "description": "Data validation error"
          }
        }
      },
      "delete": {
        "summary": "Delete an existing logged time entry.",
        "operationId": "deleteLoggedTime",
        "tags": [
          "Logged Time"
        ],
        "parameters": [
          {
            "name": "logged_time_id",
            "in": "path",
            "description": "Unique ID of the specific logged time entry to be deleted",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete successful."
          },
          "403": {
            "description": "Time Tracking is not enabled for this team. Or, the associated Project or Phase is archived."
          },
          "404": {
            "description": "The specified logged time entry does not exist."
          },
          "422": {
            "description": "Data validation error."
          }
        }
      }
    },
    "/milestones": {
      "get": {
        "summary": "List project milestones",
        "operationId": "getMilestones",
        "tags": [
          "Milestones"
        ],
        "parameters": [
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/client_id"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/project_id"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/phase_id"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/page"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/per-page"
          }
        ],
        "responses": {
          "200": {
            "description": "list of milestones for a project",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Array of milestones",
                  "items": {
                    "$ref": "#/components/schemas/Milestone"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add a new project milestone",
        "operationId": "addMilestone",
        "tags": [
          "Milestones"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Milestone"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "If the milestone was successfully created, the response returns the full information about that milestone.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Milestone"
                }
              }
            }
          },
          "422": {
            "description": "Data validation failure if fields are missing or the milestone already exists.\n"
          }
        }
      }
    },
    "/milestones/{milestone_id}": {
      "get": {
        "summary": "Retrieve a single milestone",
        "description": "Returns a single milestone.",
        "operationId": "getMilestone",
        "tags": [
          "Milestones"
        ],
        "parameters": [
          {
            "name": "milestone_id",
            "in": "path",
            "description": "The milestone's ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A milestone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Milestone"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a milestone's details, read-only fields are ignored",
        "operationId": "updateMilestone",
        "tags": [
          "Milestones"
        ],
        "parameters": [
          {
            "name": "milestone_id",
            "in": "path",
            "description": "The milestone's ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "On a successful update of a milestone, the response returns the full information about that milestone.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Milestone"
                }
              }
            }
          },
          "422": {
            "description": "Data validation failure.\n"
          }
        }
      },
      "delete": {
        "summary": "Delete a milestone",
        "operationId": "deleteMilestone",
        "tags": [
          "Milestones"
        ],
        "parameters": [
          {
            "name": "milestone_id",
            "in": "path",
            "description": "milestone id to delete",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete successful."
          },
          "404": {
            "description": "The milestone does not exist."
          }
        }
      }
    },
    "/timeoffs": {
      "get": {
        "summary": "List of time off scheduled.",
        "operationId": "getTimeoffs",
        "tags": [
          "Time Off"
        ],
        "parameters": [
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/start_date"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/end_date"
          },
          {
            "name": "full_day",
            "in": "query",
            "description": "Filter only on if timeoff is full day: `1` = Yes, `0` = No",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter on the Status of the time off: `1` = tentative, `2` = confirmed.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timeoff_type_id",
            "in": "query",
            "description": "Filter on the ID of the timeoff type",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/page"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/per-page"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/sort"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/modified_since"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "List of time off",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Array of time off",
                  "items": {
                    "$ref": "#/components/schemas/Timeoff"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add a new time off, read-only fields are ignored",
        "operationId": "addTimeoff",
        "tags": [
          "Time Off"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Timeoff"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "If the time off was successfully created, the response returns the full information about that time off.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Timeoff"
                }
              }
            }
          },
          "422": {
            "description": "Data validation failure if fields are missing or the time off already exists.\n"
          }
        }
      }
    },
    "/timeoffs/{timeoff_id}": {
      "get": {
        "summary": "Retrieve a single time off",
        "description": "Returns a single time off.",
        "operationId": "getTimeoff",
        "tags": [
          "Time Off"
        ],
        "parameters": [
          {
            "name": "timeoff_id",
            "in": "path",
            "description": "The time off's ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A time off",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Timeoff"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a time off's details, read-only fields are ignored",
        "operationId": "updateTimeoff",
        "tags": [
          "Time Off"
        ],
        "parameters": [
          {
            "name": "timeoff_id",
            "in": "path",
            "description": "The time off's ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "On a successful update of a time off, the response returns the full information about that time off.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Timeoff"
                }
              }
            }
          },
          "422": {
            "description": "Data validation failure.\n"
          }
        }
      },
      "delete": {
        "summary": "Delete a time off record",
        "operationId": "deleteTimeoff",
        "tags": [
          "Time Off"
        ],
        "parameters": [
          {
            "name": "timeoff_id",
            "in": "path",
            "description": "time off id to delete",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete successful."
          },
          "404": {
            "description": "The time off record does not exist."
          }
        }
      }
    },
    "/timeoff-types": {
      "get": {
        "summary": "List of time off types",
        "operationId": "getTimeoffTypes",
        "tags": [
          "Time Off Types"
        ],
        "parameters": [
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/active"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/page"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/per-page"
          }
        ],
        "responses": {
          "200": {
            "description": "List of time off types that can be assigned to your team",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Array of time off type",
                  "items": {
                    "$ref": "#/components/schemas/TimeoffType"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add a new time off type, read-only fields are ignored",
        "operationId": "addTimeoffType",
        "tags": [
          "Time Off Types"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TimeoffType"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "If the time off type was successfully created, the response returns the full information about that time off type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeoffType"
                }
              }
            }
          },
          "422": {
            "description": "Data validation failure if fields are missing or the time off type already exists.\n"
          }
        }
      }
    },
    "/timeoff-types/{timeoff_type_id}": {
      "get": {
        "summary": "Retrieve a single time off type",
        "description": "Returns a single time off type.",
        "operationId": "getTimeoffType",
        "tags": [
          "Time Off Types"
        ],
        "parameters": [
          {
            "name": "timeoff_type_id",
            "in": "path",
            "description": "The time off type's ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A time off type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeoffType"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a time off type's details, read-only fields are ignored",
        "operationId": "updateTimeoffType",
        "tags": [
          "Time Off Types"
        ],
        "parameters": [
          {
            "name": "timeoff_type_id",
            "in": "path",
            "description": "The time off type's ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "On a successful update of a time off type, the response returns the full information about that time off type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeoffType"
                }
              }
            }
          },
          "422": {
            "description": "Data validation failure if fields are missing or the time off type already exists.       \n"
          }
        }
      }
    },
    "/status": {
      "get": {
        "summary": "List statuses",
        "description": "An individual Status is determined by a date range for a single person and linked to a status type which can only be defined in Admin Settings area of the UI, the default values are `1` = Home, `2` = Travel, `3` = Custom and `4` = Office.\n**Note:** repeating statues will also be returned if `repeat_end_date` is within the date range specified.",
        "operationId": "getStatuses",
        "tags": [
          "Statuses"
        ],
        "parameters": [
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/people_id"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/start_date"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/end_date"
          },
          {
            "name": "status_type_id",
            "in": "query",
            "description": "A status type ID to filter the response on",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/page"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/per-page"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "List of statuses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Array of statuses",
                  "items": {
                    "$ref": "#/components/schemas/Status"
                  }
                }
              }
            }
          },
          "204": {
            "description": "No statuses found"
          }
        }
      },
      "post": {
        "summary": "Add a new status",
        "description": "Creating a new status requires a valid `status_type_id` which can be matched from the UI.",
        "operationId": "addStatus",
        "tags": [
          "Statuses"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Status"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "If the status was successfully created, the response returns the full information about that status. If a status is created that replaces an existing status, the previous instance is first deleted and is returned in the response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusArrayResponse"
                }
              }
            }
          },
          "422": {
            "description": "Data validation failure."
          }
        }
      }
    },
    "/status/{status_id}": {
      "get": {
        "summary": "Retrieve a single status",
        "description": "Returns a single status",
        "operationId": "getStatus",
        "tags": [
          "Statuses"
        ],
        "parameters": [
          {
            "name": "status_id",
            "in": "path",
            "description": "The status's id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of a single status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            }
          },
          "404": {
            "description": "The status does not exist"
          }
        }
      },
      "patch": {
        "summary": "Update a status's details, read-only fields are ignored",
        "operationId": "updateStatus",
        "tags": [
          "Statuses"
        ],
        "parameters": [
          {
            "name": "status_id",
            "in": "path",
            "description": "The status's id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "On a successful update of a status, the response returns the full information about that status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusArrayResponse"
                }
              }
            }
          },
          "422": {
            "description": "Data validation failure."
          }
        }
      },
      "delete": {
        "summary": "Delete a status",
        "operationId": "deleteStatus",
        "tags": [
          "Statuses"
        ],
        "parameters": [
          {
            "name": "status_id",
            "in": "path",
            "description": "status id to delete",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete successful"
          },
          "404": {
            "description": "The status does not exist"
          }
        }
      }
    },
    "/project-expenses": {
      "get": {
        "summary": "List project expenses",
        "description": "Retrieve a list of project expenses",
        "operationId": "getProjectExpenses",
        "tags": [
          "Project Expenses"
        ],
        "parameters": [
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/project_id"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/page"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/per-page"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/sort"
          },
          {
            "$ref": "../swagger-api-v3.yaml#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of project expenses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Array of project expenses",
                  "items": {
                    "$ref": "#/components/schemas/ProjectExpense"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a project expense",
        "description": "Create a new project expense for a project, to view the expenses for a project, use the `expand=expenses` parameter on the `/projects` endpoint",
        "tags": [
          "Project Expenses"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectExpense"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Project expense created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectExpense"
                }
              }
            }
          },
          "422": {
            "description": "Data validation failure."
          }
        }
      }
    },
    "/project-expenses/{project_expense_id}": {
      "get": {
        "summary": "Retrieve a single project expense",
        "description": "Retrieve details of a single project expense",
        "operationId": "getProjectExpense",
        "tags": [
          "Project Expenses"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project_expense_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of a single project expense",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectExpense"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Project expense not found"
          }
        }
      },
      "patch": {
        "summary": "Update a project expense",
        "description": "Update an existing project expense",
        "tags": [
          "Project Expenses"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project_expense_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectExpense"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Project expense updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectExpense"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Project expense not found"
          },
          "422": {
            "description": "Data validation failure."
          }
        }
      },
      "delete": {
        "summary": "Delete a project expense",
        "description": "Delete a project expense",
        "tags": [
          "Project Expenses"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project_expense_id"
          }
        ],
        "responses": {
          "204": {
            "description": "Project expense deleted successfully"
          },
          "404": {
            "description": "Not Found - Project expense not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Department": {
        "type": "object",
        "required": [
          "department_id"
        ],
        "properties": {
          "department_id": {
            "type": "integer",
            "example": 123,
            "description": "The ID of this department"
          },
          "parent_id": {
            "type": "integer",
            "example": 123,
            "description": "The ID of this department's parent department (identifies this as a sub-department if not `null`)",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "example": "Engineers",
            "description": "The name of the department",
            "maxLength": 200,
            "readOnly": true
          }
        },
        "title": "Department"
      },
      "ReportsListPeople": {
        "type": "object",
        "properties": {
          "people": {
            "type": "array",
            "description": "A list of report data per person",
            "items": {
              "$ref": "#/components/schemas/ReportsPeople"
            }
          }
        }
[...]
