{
  "openapi": "3.0.3",
  "info": {
    "title": "Voluum API",
    "version": "1.0.0",
    "description": "Voluum is a performance marketing tracker. The API allows managing campaigns, traffic sources, offers, and generating reports.",
    "x-jentic-source-url": "https://developers.voluum.com/"
  },
  "servers": [
    {
      "url": "https://api.voluum.com"
    }
  ],
  "paths": {
    "/auth/session": {
      "post": {
        "operationId": "createSession",
        "summary": "Create a session",
        "description": "Authenticate with email and password to get a session token.",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/access/session": {
      "post": {
        "operationId": "createAccessKeySession",
        "summary": "Create session with access key",
        "description": "Authenticate using access key credentials for automation purposes.",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessKeyLoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/report": {
      "get": {
        "operationId": "getReport",
        "summary": "Get report data",
        "description": "Retrieve performance report data with various grouping and filtering options.",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Start date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "groupBy",
            "in": "query",
            "description": "Group report by dimension",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter expression",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Report data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/report/live/clicks/{campaignId}": {
      "get": {
        "operationId": "getLiveClicks",
        "summary": "Get live clicks for campaign",
        "description": "Retrieve live click data for a specific campaign.",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Live click data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/campaign": {
      "post": {
        "operationId": "createCampaign",
        "summary": "Create campaign",
        "description": "Create a new campaign in Voluum.",
        "tags": [
          "Campaigns"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/traffic-source/{trafficSourceId}": {
      "put": {
        "operationId": "updateTrafficSource",
        "summary": "Update traffic source",
        "description": "Update an existing traffic source configuration.",
        "tags": [
          "Traffic Sources"
        ],
        "parameters": [
          {
            "name": "trafficSourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrafficSourceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Traffic source updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LoginRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "AccessKeyLoginRequest": {
        "type": "object",
        "properties": {
          "accessId": {
            "type": "string"
          },
          "accessKey": {
            "type": "string"
          }
        }
      },
      "SessionResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "expirationTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "inaugural": {
            "type": "boolean"
          }
        }
      },
      "ReportResponse": {
        "type": "object",
        "properties": {
          "rows": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "totalRows": {
            "type": "integer"
          }
        }
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "CampaignRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "trafficSourceId": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "TrafficSourceRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "postbackUrl": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "cwAuthToken": {
        "type": "apiKey",
        "name": "cwauth-token",
        "in": "header",
        "description": "Session token obtained from /auth/session"
      }
    }
  },
  "security": [
    {
      "cwAuthToken": []
    }
  ]
}