{"openapi":"3.0.3","info":{"title":"Churn Buster API","version":"1.0.0","description":"Churn Buster subscription retention API for managing failed payments and recovery.","x-jentic-source-url":"https://churnbuster.io/docs/getting-started-with-the-churn-buster-api"},"servers":[{"url":"https://api.churnbuster.io/v2"}],"paths":{"/health":{"get":{"operationId":"healthCheck","summary":"Health check endpoint","responses":{"200":{"description":"Service is healthy","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string"}}}}}}}}},"/api/v1/resources":{"get":{"operationId":"listResources","summary":"List resources","parameters":[{"name":"page","in":"query","schema":{"type":"integer","default":1},"required":false},{"name":"limit","in":"query","schema":{"type":"integer","default":20},"required":false}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"":"#/components/schemas/ResourceListResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"":"#/components/schemas/ErrorResponse"}}}}}},"post":{"operationId":"createResource","summary":"Create a resource","requestBody":{"required":true,"content":{"application/json":{"schema":{"":"#/components/schemas/ResourceInput"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"":"#/components/schemas/Resource"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/resources/{resourceId}":{"get":{"operationId":"getResource","summary":"Get a resource","parameters":[{"name":"resourceId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"":"#/components/schemas/Resource"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"":"#/components/schemas/ErrorResponse"}}}}}},"put":{"operationId":"updateResource","summary":"Update a resource","parameters":[{"name":"resourceId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"":"#/components/schemas/ResourceInput"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"":"#/components/schemas/Resource"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"operationId":"deleteResource","summary":"Delete a resource","parameters":[{"name":"resourceId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"":"#/components/schemas/Resource"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"Resource":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"status":{"type":"string"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"}}},"ResourceInput":{"type":"object","required":["name"],"properties":{"name":{"type":"string"},"description":{"type":"string"}}},"ResourceListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Resource"}},"total":{"type":"integer"},"page":{"type":"integer"}}},"ErrorResponse":{"type":"object","properties":{"status":{"type":"string","enum":["error"]},"code":{"type":"string"},"message":{"type":"string"}}}},"securitySchemes":{"apiKey":{"type":"apiKey","in":"header","name":"X-API-Key"}}},"security":[{"apiKey":[]}]}
