{
  "openapi": "3.0.3",
  "info": {
    "title": "Iconfinder API",
    "description": "The Iconfinder API provides access to millions of icons, icon sets, and categories. You can search for icons, retrieve icon details, download icon files in various formats, and manage icon sets. Note: Iconfinder has been acquired by Freepik; the API now lives under the Freepik platform.",
    "version": "4.0.0",
    "contact": {
      "name": "Iconfinder (Freepik)",
      "url": "https://www.iconfinder.com"
    }
  },
  "servers": [
    {
      "url": "https://api.iconfinder.com/v4",
      "description": "Iconfinder API v4"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/icons/search": {
      "get": {
        "operationId": "searchIcons",
        "summary": "Search for icons",
        "description": "Search for icons by keyword query with optional filters for style, size, license, and more.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query string.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of results to return (max 100).",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Offset for pagination.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "style",
            "in": "query",
            "required": false,
            "description": "Filter by icon style (e.g., 'flat', 'outline', 'glyph', '3d').",
            "schema": {
              "type": "string",
              "enum": ["flat", "outline", "glyph", "filled-outline", "3d"]
            }
          },
          {
            "name": "premium",
            "in": "query",
            "required": false,
            "description": "Filter by premium status. 'all' returns both free and premium.",
            "schema": {
              "type": "string",
              "enum": ["0", "1", "all"]
            }
          },
          {
            "name": "license",
            "in": "query",
            "required": false,
            "description": "Filter by license type.",
            "schema": {
              "type": "string",
              "enum": ["commercial", "creative-commons"]
            }
          },
          {
            "name": "vector",
            "in": "query",
            "required": false,
            "description": "Filter for vector icons only.",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "minimum_size",
            "in": "query",
            "required": false,
            "description": "Minimum icon size in pixels.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "maximum_size",
            "in": "query",
            "required": false,
            "description": "Maximum icon size in pixels.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Filter by category identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_count": {
                      "type": "integer"
                    },
                    "icons": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Icon"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized."
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        },
        "tags": ["Icons"]
      }
    },
    "/icons/{icon_id}": {
      "get": {
        "operationId": "getIcon",
        "summary": "Get icon details",
        "description": "Retrieve detailed information about a specific icon by its ID.",
        "parameters": [
          {
            "name": "icon_id",
            "in": "path",
            "required": true,
            "description": "The icon ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Icon details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Icon"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized."
          },
          "404": {
            "description": "Icon not found."
          }
        },
        "tags": ["Icons"]
      }
    },
    "/icons/{icon_id}/download": {
      "get": {
        "operationId": "downloadIcon",
        "summary": "Download an icon",
        "description": "Download an icon file in the specified format and size.",
        "parameters": [
          {
            "name": "icon_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Download format.",
            "schema": {
              "type": "string",
              "enum": ["png", "svg", "ai", "ico"]
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Icon size in pixels (for raster formats).",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Icon file download.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized."
          },
          "402": {
            "description": "Payment required for premium icon."
          },
          "404": {
            "description": "Icon not found."
          }
        },
        "tags": ["Icons"]
      }
    },
    "/iconsets": {
      "get": {
        "operationId": "listIconsets",
        "summary": "List public icon sets",
        "description": "Retrieve a list of public icon sets.",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of results.",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Cursor for pagination.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of icon sets.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_count": {
                      "type": "integer"
                    },
                    "iconsets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Iconset"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": ["Icon Sets"]
      }
    },
    "/iconsets/{iconset_id}": {
      "get": {
        "operationId": "getIconset",
        "summary": "Get icon set details",
        "description": "Retrieve details about a specific icon set.",
        "parameters": [
          {
            "name": "iconset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Icon set details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Iconset"
                }
              }
            }
          },
          "404": {
            "description": "Icon set not found."
          }
        },
        "tags": ["Icon Sets"]
      }
    },
    "/iconsets/{iconset_id}/icons": {
      "get": {
        "operationId": "getIconsetIcons",
        "summary": "Get icons in an icon set",
        "description": "Retrieve all icons belonging to a specific icon set.",
        "parameters": [
          {
            "name": "iconset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Icons in the icon set.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_count": {
                      "type": "integer"
                    },
                    "icons": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Icon"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Icon set not found."
          }
        },
        "tags": ["Icon Sets"]
      }
    },
    "/categories": {
      "get": {
        "operationId": "listCategories",
        "summary": "List icon categories",
        "description": "Retrieve a list of all available icon categories.",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of categories.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_count": {
                      "type": "integer"
                    },
                    "categories": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Category"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": ["Categories"]
      }
    },
    "/categories/{category_id}": {
      "get": {
        "operationId": "getCategory",
        "summary": "Get category details",
        "description": "Retrieve details for a specific icon category.",
        "parameters": [
          {
            "name": "category_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          },
          "404": {
            "description": "Category not found."
          }
        },
        "tags": ["Categories"]
      }
    },
    "/styles": {
      "get": {
        "operationId": "listStyles",
        "summary": "List icon styles",
        "description": "Retrieve a list of all available icon styles.",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of styles.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_count": {
                      "type": "integer"
                    },
                    "styles": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Style"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": ["Styles"]
      }
    },
    "/styles/{style_id}": {
      "get": {
        "operationId": "getStyle",
        "summary": "Get style details",
        "description": "Retrieve details for a specific icon style.",
        "parameters": [
          {
            "name": "style_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Style details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Style"
                }
              }
            }
          },
          "404": {
            "description": "Style not found."
          }
        },
        "tags": ["Styles"]
      }
    },
    "/authors": {
      "get": {
        "operationId": "listAuthors",
        "summary": "List icon authors",
        "description": "Retrieve a list of icon authors/designers.",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of authors.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_count": {
                      "type": "integer"
                    },
                    "authors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Author"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": ["Authors"]
      }
    },
    "/authors/{author_id}": {
      "get": {
        "operationId": "getAuthor",
        "summary": "Get author details",
        "description": "Retrieve details for a specific icon author.",
        "parameters": [
          {
            "name": "author_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Author details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Author"
                }
              }
            }
          },
          "404": {
            "description": "Author not found."
          }
        },
        "tags": ["Authors"]
      }
    },
    "/authors/{author_id}/iconsets": {
      "get": {
        "operationId": "getAuthorIconsets",
        "summary": "Get icon sets by an author",
        "description": "Retrieve all icon sets created by a specific author.",
        "parameters": [
          {
            "name": "author_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Author's icon sets.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_count": {
                      "type": "integer"
                    },
                    "iconsets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Iconset"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Author not found."
          }
        },
        "tags": ["Authors"]
      }
    },
    "/licenses": {
      "get": {
        "operationId": "listLicenses",
        "summary": "List available licenses",
        "description": "Retrieve a list of all available icon licenses.",
        "responses": {
          "200": {
            "description": "List of licenses.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_count": {
                      "type": "integer"
                    },
                    "licenses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/License"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": ["Licenses"]
      }
    },
    "/licenses/{license_id}": {
      "get": {
        "operationId": "getLicense",
        "summary": "Get license details",
        "description": "Retrieve details for a specific license.",
        "parameters": [
          {
            "name": "license_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "License details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/License"
                }
              }
            }
          },
          "404": {
            "description": "License not found."
          }
        },
        "tags": ["Licenses"]
      }
    },
    "/user": {
      "get": {
        "operationId": "getUser",
        "summary": "Get authenticated user details",
        "description": "Retrieve details about the authenticated user.",
        "responses": {
          "200": {
            "description": "User details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "tags": ["User"]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication. Pass your API key as a Bearer token."
      }
    },
    "schemas": {
      "Icon": {
        "type": "object",
        "properties": {
          "icon_id": {
            "type": "integer"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "published_at": {
            "type": "string",
            "format": "date-time"
          },
          "type": {
            "type": "string",
            "enum": ["vector", "raster"]
          },
          "is_premium": {
            "type": "boolean"
          },
          "prices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "currency": {
                  "type": "string"
                },
                "price": {
                  "type": "number"
                },
                "license": {
                  "$ref": "#/components/schemas/License"
                }
              }
            }
          },
          "raster_sizes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "size": {
                  "type": "integer"
                },
                "size_width": {
                  "type": "integer"
                },
                "size_height": {
                  "type": "integer"
                },
                "formats": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "format": {
                        "type": "string"
                      },
                      "preview_url": {
                        "type": "string"
                      },
                      "download_url": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "vector_sizes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "size": {
                  "type": "integer"
                },
                "size_width": {
                  "type": "integer"
                },
                "size_height": {
                  "type": "integer"
                },
                "formats": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "format": {
                        "type": "string"
                      },
                      "preview_url": {
                        "type": "string"
                      },
                      "download_url": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "styles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Style"
            }
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Category"
            }
          },
          "iconset": {
            "$ref": "#/components/schemas/Iconset"
          }
        }
      },
      "Iconset": {
        "type": "object",
        "properties": {
          "iconset_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "identifier": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "published_at": {
            "type": "string",
            "format": "date-time"
          },
          "is_premium": {
            "type": "boolean"
          },
          "icons_count": {
            "type": "integer"
          },
          "prices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "currency": { "type": "string" },
                "price": { "type": "number" },
                "license": { "$ref": "#/components/schemas/License" }
              }
            }
          },
          "styles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Style"
            }
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Category"
            }
          },
          "author": {
            "$ref": "#/components/schemas/Author"
          }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Style": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Author": {
        "type": "object",
        "properties": {
          "author_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "website_url": {
            "type": "string"
          },
          "iconsets_count": {
            "type": "integer"
          }
        }
      },
      "License": {
        "type": "object",
        "properties": {
          "license_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "scope": {
            "type": "string"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "integer"
          },
          "username": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "is_designer": {
            "type": "boolean"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Icons",
      "description": "Search and retrieve icons."
    },
    {
      "name": "Icon Sets",
      "description": "Browse and retrieve icon sets."
    },
    {
      "name": "Categories",
      "description": "Browse icon categories."
    },
    {
      "name": "Styles",
      "description": "Browse icon styles."
    },
    {
      "name": "Authors",
      "description": "Browse icon authors/designers."
    },
    {
      "name": "Licenses",
      "description": "Browse available licenses."
    },
    {
      "name": "User",
      "description": "Authenticated user information."
    }
  ]
}