{
  "openapi": "3.0.3",
  "info": {
    "title": "Pushover API",
    "description": "Pushover API for sending real-time notifications to Android, iOS, and desktop devices. Includes message sending, user/group validation, group management, emergency receipt tracking, glances, and subscription management.",
    "version": "v1",
    "x-jentic-source-url": "https://pushover.net/api"
  },
  "servers": [
    {
      "url": "https://api.pushover.net/1"
    }
  ],
  "paths": {
    "/messages.json": {
      "post": {
        "operationId": "sendMessage",
        "summary": "Send a push notification",
        "description": "Sends a push notification message to a user or group. Supports text, HTML, attachments, priority levels, and supplementary URLs.",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "headers": {
              "X-Limit-App-Limit": {
                "description": "Monthly message limit",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Limit-App-Remaining": {
                "description": "Messages remaining this month",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Limit-App-Reset": {
                "description": "Unix timestamp when limit resets",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid application token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/validate.json": {
      "post": {
        "operationId": "validateUser",
        "summary": "Validate a user or group key",
        "description": "Validates whether a user or group key is valid and returns associated devices and licenses.",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "user"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Application API token"
                  },
                  "user": {
                    "type": "string",
                    "description": "User or group key to validate"
                  },
                  "device": {
                    "type": "string",
                    "description": "Specific device name to validate"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sounds.json": {
      "get": {
        "operationId": "listSounds",
        "summary": "List available notification sounds",
        "description": "Returns a list of available notification sounds and their descriptions.",
        "tags": [
          "Sounds"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Application API token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of available sounds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoundsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apps/limits.json": {
      "get": {
        "operationId": "getAppLimits",
        "summary": "Get application message limits",
        "description": "Returns the current message limit, remaining count, and reset timestamp for the application.",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Application API token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application limit information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppLimitsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/receipts/{receipt}.json": {
      "get": {
        "operationId": "getReceiptStatus",
        "summary": "Get emergency notification receipt status",
        "description": "Retrieves the status of an emergency priority notification including acknowledgment and expiration details.",
        "tags": [
          "Receipts"
        ],
        "parameters": [
          {
            "name": "receipt",
            "in": "path",
            "required": true,
            "description": "30-character receipt ID",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9]{30}$"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Application API token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Receipt status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReceiptStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid receipt ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/receipts/{receipt}/cancel.json": {
      "post": {
        "operationId": "cancelEmergencyNotification",
        "summary": "Cancel an emergency priority notification",
        "description": "Stops retry attempts for an emergency priority notification.",
        "tags": [
          "Receipts"
        ],
        "parameters": [
          {
            "name": "receipt",
            "in": "path",
            "required": true,
            "description": "Receipt ID of the emergency notification",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Application API token"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notification cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/receipts/cancel_by_tag/{tag}.json": {
      "post": {
        "operationId": "cancelEmergencyByTag",
        "summary": "Cancel emergency notifications by tag",
        "description": "Cancels all active emergency priority notifications matching the specified tag.",
        "tags": [
          "Receipts"
        ],
        "parameters": [
          {
            "name": "tag",
            "in": "path",
            "required": true,
            "description": "Tag identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Application API token"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notifications cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/groups.json": {
      "get": {
        "operationId": "listGroups",
        "summary": "List all groups",
        "description": "Returns a list of all delivery groups for the application.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Application API token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of groups",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createGroup",
        "summary": "Create a new group",
        "description": "Creates a new delivery group for the application.",
        "tags": [
          "Groups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "name"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Application API token"
                  },
                  "name": {
                    "type": "string",
                    "description": "Group name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateGroupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{groupKey}.json": {
      "get": {
        "operationId": "getGroupDetails",
        "summary": "Get group details",
        "description": "Returns detailed information about a group including its members.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "groupKey",
            "in": "path",
            "required": true,
            "description": "Group key identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Application API token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{groupKey}/add_user.json": {
      "post": {
        "operationId": "addUserToGroup",
        "summary": "Add a user to a group",
        "description": "Adds a Pushover user to the specified delivery group.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "groupKey",
            "in": "path",
            "required": true,
            "description": "Group key identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "user"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Application API token"
                  },
                  "user": {
                    "type": "string",
                    "description": "User's Pushover key"
                  },
                  "device": {
                    "type": "string",
                    "description": "Device name to restrict notifications to"
                  },
                  "memo": {
                    "type": "string",
                    "description": "Metadata memo (max 200 characters)",
                    "maxLength": 200
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User added to group",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{groupKey}/remove_user.json": {
      "post": {
        "operationId": "removeUserFromGroup",
        "summary": "Remove a user from a group",
        "description": "Removes a user from the specified delivery group.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "groupKey",
            "in": "path",
            "required": true,
            "description": "Group key identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "user"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Application API token"
                  },
                  "user": {
                    "type": "string",
                    "description": "User's Pushover key"
                  },
                  "device": {
                    "type": "string",
                    "description": "Device name filter"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User removed from group",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{groupKey}/disable_user.json": {
      "post": {
        "operationId": "disableUserInGroup",
        "summary": "Disable a user in a group",
        "description": "Disables a user within the specified delivery group without removing them.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "groupKey",
            "in": "path",
            "required": true,
            "description": "Group key identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "user"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Application API token"
                  },
                  "user": {
                    "type": "string",
                    "description": "User's Pushover key"
                  },
                  "device": {
                    "type": "string",
                    "description": "Device name filter"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{groupKey}/enable_user.json": {
      "post": {
        "operationId": "enableUserInGroup",
        "summary": "Enable a user in a group",
        "description": "Re-enables a previously disabled user within the specified delivery group.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "groupKey",
            "in": "path",
            "required": true,
            "description": "Group key identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "user"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Application API token"
                  },
                  "user": {
                    "type": "string",
                    "description": "User's Pushover key"
                  },
                  "device": {
                    "type": "string",
                    "description": "Device name filter"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{groupKey}/rename.json": {
      "post": {
        "operationId": "renameGroup",
        "summary": "Rename a group",
        "description": "Changes the name of an existing delivery group.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "groupKey",
            "in": "path",
            "required": true,
            "description": "Group key identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "name"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Application API token"
                  },
                  "name": {
                    "type": "string",
                    "description": "New group name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group renamed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/glances.json": {
      "post": {
        "operationId": "sendGlance",
        "summary": "Send a glance update",
        "description": "Pushes data to smartwatch or widget displays. At least one data field (title, text, subtext, count, or percent) is required.",
        "tags": [
          "Glances"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "user"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Application API token"
                  },
                  "user": {
                    "type": "string",
                    "description": "Recipient's Pushover user key"
                  },
                  "device": {
                    "type": "string",
                    "description": "Specific device name; omit to send to all widgets"
                  },
                  "title": {
                    "type": "string",
                    "description": "Data description (max 100 characters)",
                    "maxLength": 100
                  },
                  "text": {
                    "type": "string",
                    "description": "Primary data line (max 100 characters)",
                    "maxLength": 100
                  },
                  "subtext": {
                    "type": "string",
                    "description": "Secondary data line (max 100 characters)",
                    "maxLength": 100
                  },
                  "count": {
                    "type": "integer",
                    "description": "Simple count display (may be negative)"
                  },
                  "percent": {
                    "type": "integer",
                    "description": "Progress indicator (0-100)",
                    "minimum": 0,
                    "maximum": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Glance data sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing required data fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/migrate.json": {
      "post": {
        "operationId": "migrateSubscription",
        "summary": "Migrate a user key to a subscription key",
        "description": "Migrates an existing Pushover user key to a subscription-based key for the application.",
        "tags": [
          "Subscriptions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "subscription",
                  "user"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Application API token"
                  },
                  "subscription": {
                    "type": "string",
                    "description": "Subscription code"
                  },
                  "user": {
                    "type": "string",
                    "description": "User's existing Pushover user key"
                  },
                  "device_name": {
                    "type": "string",
                    "description": "Limit subscription to a specific device"
                  },
                  "sound": {
                    "type": "string",
                    "description": "User's preferred default notification sound"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription migrated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionMigrateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "appToken": {
        "type": "apiKey",
        "in": "query",
        "name": "token",
        "description": "Pushover application API token"
      }
    },
    "schemas": {
      "SendMessageRequest": {
        "type": "object",
        "required": [
          "token",
          "user",
          "message"
        ],
        "properties": {
          "token": {
            "type": "string",
            "description": "Application API token"
          },
          "user": {
            "type": "string",
            "description": "User or group key, or comma-separated user keys (max 50)"
          },
          "message": {
            "type": "string",
            "description": "Message body (max 1024 UTF-8 characters)",
            "maxLength": 1024
          },
          "title": {
            "type": "string",
            "description": "Message title (max 250 characters)",
            "maxLength": 250
          },
          "device": {
            "type": "string",
            "description": "Target device name"
          },
          "priority": {
            "type": "integer",
            "description": "Priority level: -2 (lowest), -1 (low), 0 (normal), 1 (high), 2 (emergency)",
            "enum": [
              -2,
              -1,
              0,
              1,
              2
            ]
          },
          "sound": {
            "type": "string",
            "description": "Notification sound name"
          },
          "timestamp": {
            "type": "integer",
            "description": "Unix timestamp for the message"
          },
          "html": {
            "type": "integer",
            "description": "Set to 1 for HTML message parsing",
            "enum": [
              0,
              1
            ]
          },
          "monospace": {
            "type": "integer",
            "description": "Set to 1 for monospace font",
            "enum": [
              0,
              1
            ]
          },
          "url": {
            "type": "string",
            "description": "Supplementary URL (max 512 characters)",
            "maxLength": 512
          },
          "url_title": {
            "type": "string",
            "description": "Title for the supplementary URL (max 100 characters)",
            "maxLength": 100
          },
          "ttl": {
            "type": "integer",
            "description": "Time to live in seconds"
          },
          "attachment_base64": {
            "type": "string",
            "description": "Base64-encoded image attachment"
          },
          "attachment_type": {
            "type": "string",
            "description": "MIME type of the attachment"
          },
          "retry": {
            "type": "integer",
            "description": "Emergency retry interval in seconds (minimum 30, required for priority 2)",
            "minimum": 30
          },
          "expire": {
            "type": "integer",
            "description": "Emergency expiration in seconds (maximum 10800, required for priority 2)",
            "maximum": 10800
          },
          "callback": {
            "type": "string",
            "description": "Callback URL for emergency notification acknowledgment"
          },
          "tags": {
            "type": "string",
            "description": "Comma-separated tags for emergency receipt management"
          }
        }
      },
      "MessageResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "description": "1 for success",
            "example": 1
          },
          "request": {
            "type": "string",
            "description": "Unique request identifier"
          },
          "receipt": {
            "type": "string",
            "description": "Receipt ID for emergency priority messages"
          }
        }
      },
      "ValidateUserResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "description": "1 for valid, 0 for invalid"
          },
          "request": {
            "type": "string",
            "description": "Unique request identifier"
          },
          "devices": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of registered device names"
          },
          "licenses": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of license platforms"
          }
        }
      },
      "SoundsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "request": {
            "type": "string"
          },
          "sounds": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Map of sound identifiers to display names"
          }
        }
      },
      "AppLimitsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "request": {
            "type": "string"
          },
          "limit": {
            "type": "integer",
            "description": "Monthly message limit"
          },
          "remaining": {
            "type": "integer",
            "description": "Messages remaining this month"
          },
          "reset": {
            "type": "integer",
            "description": "Unix timestamp when limit resets"
          }
        }
      },
      "ReceiptStatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "request": {
            "type": "string"
          },
          "acknowledged": {
            "type": "integer",
            "description": "1 if acknowledged, 0 otherwise"
          },
          "acknowledged_at": {
            "type": "integer",
            "description": "Unix timestamp of acknowledgment"
          },
          "acknowledged_by": {
            "type": "string",
            "description": "User key who acknowledged"
          },
          "acknowledged_by_device": {
            "type": "string",
            "description": "Device that acknowledged"
          },
          "last_delivered_at": {
            "type": "integer",
            "description": "Unix timestamp of last retry delivery"
          },
          "expired": {
            "type": "integer",
            "description": "1 if expired, 0 otherwise"
          },
          "expires_at": {
            "type": "integer",
            "description": "Unix timestamp of expiration"
          },
          "called_back": {
            "type": "integer",
            "description": "1 if callback was executed"
          },
          "called_back_at": {
            "type": "integer",
            "description": "Unix timestamp of callback execution"
          }
        }
      },
      "GroupListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "request": {
            "type": "string"
          },
          "groups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GroupSummary"
            }
          }
        }
      },
      "GroupSummary": {
        "type": "object",
        "properties": {
          "group": {
            "type": "string",
            "description": "Group key"
          },
          "name": {
            "type": "string",
            "description": "Group name"
          }
        }
      },
      "CreateGroupResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "request": {
            "type": "string"
          },
          "group": {
            "type": "string",
            "description": "New group key"
          }
        }
      },
      "GroupDetailResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "request": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Group name"
          },
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GroupUser"
            }
          }
        }
      },
      "GroupUser": {
        "type": "object",
        "properties": {
          "user": {
            "type": "string",
            "description": "User's Pushover key"
          },
          "device": {
            "type": "string",
            "description": "Device name restriction"
          },
          "memo": {
            "type": "string",
            "description": "User memo"
          },
          "disabled": {
            "type": "boolean",
            "description": "Whether the user is disabled in this group"
          }
        }
      },
      "SubscriptionMigrateResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "request": {
            "type": "string"
          },
          "subscribed_user_key": {
            "type": "string",
            "description": "New subscription-based user key"
          }
        }
      },
      "StatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "description": "1 for success"
          },
          "request": {
            "type": "string",
            "description": "Unique request identifier"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "description": "0 for failure",
            "example": 0
          },
          "request": {
            "type": "string",
            "description": "Unique request identifier"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of error messages"
          }
        }
      }
    }
  },
  "security": [
    {
      "appToken": []
    }
  ],
  "tags": [
    {
      "name": "Messages",
      "description": "Push notification message operations"
    },
    {
      "name": "Users",
      "description": "User and group validation"
    },
    {
      "name": "Groups",
      "description": "Group management operations"
    },
    {
      "name": "Receipts",
      "description": "Emergency priority receipt and callback operations"
    },
    {
      "name": "Glances",
      "description": "Glance data updates for smartwatch and widget displays"
    },
    {
      "name": "Subscriptions",
      "description": "Subscription key migration"
    },
    {
      "name": "Sounds",
      "description": "Available notification sounds"
    },
    {
      "name": "Applications",
      "description": "Application information and limits"
    }
  ]
}