{
  "openapi": "3.0.1",
  "info": {
    "title": "ConfigCat Public Management API",
    "description": "The purpose of this API is to access the ConfigCat platform programmatically.\n You can **Create**, **Read**, **Update** and **Delete** any entities like **Feature Flags, Configs, Environments** or **Products** within ConfigCat.\n\n**Base API URL**: https://api.configcat.com\n\nIf you prefer the swagger documentation, you can find it here: [Swagger UI](https://api.configcat.com/swagger).\n\nThe API is based on HTTP REST, uses resource-oriented URLs, status codes and supports JSON \nformat. \n\n**Important:** Do not use this API for accessing and evaluating feature flag values. Use the [SDKs](https://configcat.com/docs/sdk-reference/overview) or the [ConfigCat Proxy](https://configcat.com/docs/advanced/proxy/proxy-overview/) instead.\n\n# OpenAPI Specification\n\nThe complete specification is publicly available in the following formats: \n- [OpenAPI v3](https://api.configcat.com/docs/v1/swagger.json)\n - [Swagger v2](https://api.configcat.com/docs/v1/swagger.v2.json)\n\nYou can use it to generate client libraries in various languages with [OpenAPI Generator](https://github.com/OpenAPITools/openapi-generator) or\n[Swagger Codegen](https://swagger.io/tools/swagger-codegen/) to interact with this API.\n\n# Authentication\nThis API uses the [Basic HTTP Authentication Scheme](https://en.wikipedia.org/wiki/Basic_access_authentication). \n\n<!-- ReDoc-Inject: <security-definitions> -->\n\n# Throttling and rate limits\n All the rate limited API calls are returning information about the current rate limit period in the following HTTP headers:\n\n| Header | Description |\n| :- | :- |\n| X-Rate-Limit-Remaining | The maximum number of requests remaining in the current rate limit period. |\n| X-Rate-Limit-Reset     | The time\twhen the current rate limit period resets.\t\t\t\t\t\t  |\n\nWhen the rate limit is exceeded by a request, the API returns with a `HTTP 429 - Too many requests` status along with a `Retry-After` HTTP header.\n",
    "termsOfService": "https://configcat.com/termsofserviceagreement",
    "contact": {
      "name": "ConfigCat",
      "url": "https://configcat.com",
      "email": "support@configcat.com"
    },
    "version": "v1",
    "x-logo": {
      "url": "https://api.configcat.com/resources/configcat-logo-horiz.svg"
    },
    "x-jentic-source-url": "https://api.configcat.com/docs/v1/swagger.json"
  },
  "servers": [
    {
      "url": "https://api.configcat.com"
    }
  ],
  "paths": {
    "/v1/organizations": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "List Organizations",
        "description": "This endpoint returns the list of the Organizations that belongs to the user.",
        "operationId": "get-organizations",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrganizationModel"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "List Products",
        "description": "This endpoint returns the list of the Products that belongs to the user.",
        "operationId": "get-products",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductModel"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/products/{productId}/tags": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "List Tags",
        "description": "This endpoint returns the list of the Tags in a \nspecified Product, identified by the `productId` parameter.",
        "operationId": "get-tags",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the Product.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TagModel"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "post": {
        "tags": [
          "Tags"
        ],
        "summary": "Create Tag",
        "description": "This endpoint creates a new Tag in a specified Product \nidentified by the `productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.",
        "operationId": "create-tag",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the Organization.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTagModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTagModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTagModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "When the creation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/products/{productId}/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List Webhooks",
        "description": "This endpoint returns the list of the Webhooks that belongs to the given Product identified by the\n`productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.",
        "operationId": "get-webhooks",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the Product.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WebhookModel"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/products/{productId}/configs": {
      "get": {
        "tags": [
          "Configs"
        ],
        "summary": "List Configs",
        "description": "This endpoint returns the list of the Configs that belongs to the given Product identified by the\n`productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.",
        "operationId": "get-configs",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the Product.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ConfigModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "post": {
        "tags": [
          "Configs"
        ],
        "summary": "Create Config",
        "description": "This endpoint creates a new Config in a specified Product \nidentified by the `productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.",
        "operationId": "create-config",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the Product.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConfigRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConfigRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConfigRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "When the creation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/products/{productId}/environments": {
      "get": {
        "tags": [
          "Environments"
        ],
        "summary": "List Environments",
        "description": "This endpoint returns the list of the Environments that belongs to the given Product identified by the\n`productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.",
        "operationId": "get-environments",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the Product.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EnvironmentModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "post": {
        "tags": [
          "Environments"
        ],
        "summary": "Create Environment",
        "description": "This endpoint creates a new Environment in a specified Product \nidentified by the `productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.",
        "operationId": "create-environment",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the Product.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEnvironmentModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEnvironmentModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEnvironmentModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "When the creation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/products/{productId}/permissions": {
      "get": {
        "tags": [
          "Permission Groups"
        ],
        "summary": "List Permission Groups",
        "description": "This endpoint returns the list of the Permission Groups that belongs to the given Product identified by the\n`productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.",
        "operationId": "get-permission-groups",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the Product.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PermissionGroupModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "post": {
        "tags": [
          "Permission Groups"
        ],
        "summary": "Create Permission Group",
        "description": "This endpoint creates a new Permission Group in a specified Product \nidentified by the `productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.",
        "operationId": "create-permission-group",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the Product.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePermissionGroupRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePermissionGroupRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePermissionGroupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "When the creation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionGroupModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/products/{productId}/integrations": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "List Integrations",
        "description": "This endpoint returns the list of the Integrations that belongs to the given Product identified by the\n`productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.",
        "operationId": "get-integrations",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the Product.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationsModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Create Integration",
        "description": "This endpoint creates a new Integration in a specified Product \nidentified by the `productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.\n\nThe Parameters dictionary differs for each IntegrationType:\n- Datadog\n\t- `apikey`: Required. Datadog API key.\n\t- `site`: Datadog site. Available values: `Us`, `Eu`, `Us1Fed`, `Us3`, `Us5`. Default: `Us`.\n- Slack  \n\tConnecting the Slack integration through the Public Management API will not post messages with the ConfigCat Feature Flags Slack app but with an incoming webhook.\n\t- `incoming_webhook.url`: Required. The [incoming webhook URL](https://api.slack.com/messaging/webhooks) where the integration should post messages.\n- Amplitude\n\t- `apiKey`: Required. Amplitude API Key.\n\t- `secretKey`: Required. Amplitude Secret Key.\n- Mixpanel\n \t- `serviceAccountUserName`: Required. Mixpanel Service Account Username.\n \t- `serviceAccountSecret`: Required. Mixpanel Service Account Secret.\n\t - `projectId`: Required. Mixpanel Project ID.\n\t- `server`: Mixpanel Server. Available values: `StandardServer`, `EUResidencyServer`. Default: `StandardServer`.\n - Twilio Segment\n\t- `writeKey`: Required. Twilio Segment Write Key.\n\t - `server`: Twilio Segment Server. Available values: `Us`, `Eu`. Default: `Us`.\n- PubNub (work in progress)",
        "operationId": "create-integration",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the Product.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIntegrationModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIntegrationModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIntegrationModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "When the creation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/products/{productId}/segments": {
      "get": {
        "tags": [
          "Segments"
        ],
        "summary": "List Segments",
        "description": "This endpoint returns the list of the Segments that belongs to the given Product identified by the\n`productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.",
        "operationId": "get-segments",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the Product.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SegmentListModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "post": {
        "tags": [
          "Segments"
        ],
        "summary": "Create Segment",
        "description": "This endpoint creates a new Segment in a specified Product \n identified by the `productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.",
        "operationId": "create-segment",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the Product.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSegmentModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSegmentModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSegmentModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "When the creation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/configs/{configId}/settings": {
      "get": {
        "tags": [
          "Feature Flags & Settings"
        ],
        "summary": "List Flags",
        "description": "This endpoint returns the list of the Feature Flags and Settings defined in a \nspecified Config, identified by the `configId` parameter.",
        "operationId": "get-settings",
        "parameters": [
          {
            "name": "configId",
            "in": "path",
            "description": "The identifier of the Config.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SettingModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "post": {
        "tags": [
          "Feature Flags & Settings"
        ],
        "summary": "Create Flag",
        "description": "This endpoint creates a new Feature Flag or Setting in a specified Config\nidentified by the `configId` parameter.\n\n**Important:** The `key` attribute must be unique within the given Config.",
        "operationId": "create-setting",
        "parameters": [
          {
            "name": "configId",
            "in": "path",
            "description": "The identifier of the Config.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSettingInitialValues"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSettingInitialValues"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSettingInitialValues"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "When the creation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettingModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/products/{productId}/auditlogs": {
      "get": {
        "tags": [
          "Audit logs"
        ],
        "summary": "List Audit log items for Product",
        "description": "This endpoint returns the list of Audit log items for a given Product \nand the result can be optionally filtered by Config and/or Environment.\n \nIf neither `fromUtcDateTime` nor `toUtcDateTime` is set, the audit logs for the **last 7 days** will be returned.\n\nThe distance between `fromUtcDateTime` and `toUtcDateTime` cannot exceed **30 days**.",
        "operationId": "get-auditlogs",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the Product.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "configId",
            "in": "query",
            "description": "The identifier of the Config.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "environmentId",
            "in": "query",
            "description": "The identifier of the Environment.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "auditLogType",
            "in": "query",
            "description": "Filter Audit logs by Audit log type.",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/AuditLogType"
                }
              ],
              "nullable": true
            }
          },
          {
            "name": "fromUtcDateTime",
            "in": "query",
            "description": "Filter Audit logs by starting UTC date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toUtcDateTime",
            "in": "query",
            "description": "Filter Audit logs by ending UTC date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuditLogItemModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/settings/{settingId}/code-references": {
      "get": {
        "tags": [
          "Code References"
        ],
        "summary": "Get References for Feature Flag or Setting",
        "description": "",
        "parameters": [
          {
            "name": "settingId",
            "in": "path",
            "description": "The identifier of the Feature Flag or Setting.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CodeReferenceModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/configs/{configId}": {
      "get": {
        "tags": [
          "Configs"
        ],
        "summary": "Get Config",
        "description": "This endpoint returns the metadata of a Config\nidentified by the `configId`.",
        "operationId": "get-config",
        "parameters": [
          {
            "name": "configId",
            "in": "path",
            "description": "The identifier of the Config.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "When everything is ok, the config data returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "put": {
        "tags": [
          "Configs"
        ],
        "summary": "Update Config",
        "description": "This endpoint updates a Config identified by the `configId` parameter.",
        "operationId": "update-config",
        "parameters": [
          {
            "name": "configId",
            "in": "path",
            "description": "The identifier of the Config.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConfigRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConfigRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConfigRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "delete": {
        "tags": [
          "Configs"
        ],
        "summary": "Delete Config",
        "description": "This endpoint removes a Config identified by the `configId` parameter.",
        "operationId": "delete-config",
        "parameters": [
          {
            "name": "configId",
            "in": "path",
            "description": "The identifier of the Config.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "When the delete was successful."
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/configs/{configId}/deleted-settings": {
      "get": {
        "tags": [
          "Audit logs"
        ],
        "summary": "List Deleted Settings",
        "description": "This endpoint returns the list of Feature Flags and Settings that were deleted from the given Config.",
        "operationId": "get-deleted-settings",
        "parameters": [
          {
            "name": "configId",
            "in": "path",
            "description": "The identifier of the Config.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SettingModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/environments/{environmentId}": {
      "get": {
        "tags": [
          "Environments"
        ],
        "summary": "Get Environment",
        "description": "This endpoint returns the metadata of an Environment \nidentified by the `environmentId`.",
        "operationId": "get-environment",
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "description": "The identifier of the Environment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "When everything is ok, the environment data returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "put": {
        "tags": [
          "Environments"
        ],
        "summary": "Update Environment",
        "description": "This endpoint updates an Environment identified by the `environmentId` parameter.",
        "operationId": "update-environment",
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "description": "The identifier of the Environment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEnvironmentModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEnvironmentModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEnvironmentModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "delete": {
        "tags": [
          "Environments"
        ],
        "summary": "Delete Environment",
        "description": "This endpoint removes an Environment identified by the `environmentId` parameter.\nIf the `cleanupAuditLogs` flag is set to true, it also deletes the audit log records related to the environment\n(except for the `Created a new environment` and `Deleted an environment` records).",
        "operationId": "delete-environment",
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "description": "The identifier of the Environment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "cleanupAuditLogs",
            "in": "query",
            "description": "An optional flag which indicates whether the audit log records related to the environment should be deleted or not.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "When the delete was successful."
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/permissions/{permissionGroupId}": {
      "get": {
        "tags": [
          "Permission Groups"
        ],
        "summary": "Get Permission Group",
        "description": "This endpoint returns the metadata of a Permission Group \nidentified by the `permissionGroupId`.",
        "operationId": "get-permission-group",
        "parameters": [
          {
            "name": "permissionGroupId",
            "in": "path",
            "description": "The identifier of the Permission Group.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "When everything is ok, the permission group data returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionGroupModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "put": {
        "tags": [
          "Permission Groups"
        ],
        "summary": "Update Permission Group",
        "description": "This endpoint updates a Permission Group identified by the `permissionGroupId` parameter.",
        "operationId": "update-permission-group",
        "parameters": [
          {
            "name": "permissionGroupId",
            "in": "path",
            "description": "The identifier of the Permission Group.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePermissionGroupRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePermissionGroupRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePermissionGroupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionGroupModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "delete": {
        "tags": [
          "Permission Groups"
        ],
        "summary": "Delete Permission Group",
        "description": "This endpoint removes a Permission Group identified by the `permissionGroupId` parameter.",
        "operationId": "delete-permission-group",
        "parameters": [
          {
            "name": "permissionGroupId",
            "in": "path",
            "description": "The identifier of the Permission Group.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "When the delete was successful."
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/integrations/{integrationId}": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "Get Integration",
        "description": "This endpoint returns the metadata of an Integration\nidentified by the `integrationId`.",
        "operationId": "get-integration",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "description": "The identifier of the Integration.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "When everything is ok, the integration data returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "put": {
        "tags": [
          "Integrations"
        ],
        "summary": "Update Integration",
        "description": "This endpoint updates a Config identified by the `integrationId` parameter.\n\nThe Parameters dictionary differs for each IntegrationType:\n - Datadog\n\t- `apikey`: Required. Datadog API key.\n\t- `site`: Datadog site. Available values: `Us`, `Eu`, `Us1Fed`, `Us3`, `Us5`. Default: `Us`.\n- Slack  \n\tConnecting the Slack integration through the Public Management API will not post messages with the ConfigCat Feature Flags Slack app but with an incoming webhook.\n\t- `incoming_webhook.url`: Required. The [incoming webhook URL](https://api.slack.com/messaging/webhooks) where the integration should post messages.\n- Amplitude\n\t- `apiKey`: Required. Amplitude API Key.\n\t- `secretKey`: Required. Amplitude Secret Key.\n- Mixpanel\n\t- `serviceAccountUserName`: Required. Mixpanel Service Account Username.\n\t- `serviceAccountSecret`: Required. Mixpanel Service Account Secret.\n\t- `projectId`: Required. Mixpanel Project ID.\n\t- `server`: Mixpanel Server. Available values: `StandardServer`, `EUResidencyServer`. Default: `StandardServer`.\n- Twilio Segment\n\t- `writeKey`: Required. Twilio Segment Write Key.\n\t- `server`: Twilio Segment Server. Available values: `Us`, `Eu`. Default: `Us`.\n- PubNub (work in progress)",
        "operationId": "update-integration",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "description": "The identifier of the Integration.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModifyIntegrationRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ModifyIntegrationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ModifyIntegrationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "delete": {
        "tags": [
          "Integrations"
        ],
        "summary": "Delete Integration",
        "description": "This endpoint removes a Integration identified by the `integrationId` parameter.",
        "operationId": "delete-integration",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "description": "The identifier of the Integration.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "When the delete was successful."
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/integrationLink/{integrationLinkType}/{key}/details": {
      "get": {
        "tags": [
          "Integration links"
        ],
        "summary": "Get Integration link",
        "description": "",
        "operationId": "get-integration-link-details",
        "parameters": [
          {
            "name": "integrationLinkType",
            "in": "path",
            "description": "The integration link's type.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/IntegrationLinkType"
            }
          },
          {
            "name": "key",
            "in": "path",
            "description": "The key of the integration link.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "When everything is ok, the details for the integration link returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationLinkDetailsModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/configs/{configId}/environments/{environmentId}": {
      "get": {
        "tags": [
          "SDK Keys"
        ],
        "summary": "Get SDK Key",
        "description": "This endpoint returns the SDK Key for your Config in a specified Environment.",
        "operationId": "get-sdk-keys",
        "parameters": [
          {
            "name": "configId",
            "in": "path",
            "description": "The identifier of the Config.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "environmentId",
            "in": "path",
            "description": "The identifier of the Environment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SdkKeysModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "tags": [
          "Me"
        ],
        "summary": "Get authenticated user details",
        "description": "",
        "operationId": "get-me",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeModel"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/auditlogs": {
      "get": {
        "tags": [
          "Audit logs"
        ],
        "summary": "List Audit log items for Organization",
        "description": "This endpoint returns the list of Audit log items for a given Organization \nand the result can be optionally filtered by Product and/or Config and/or Environment.\n\nIf neither `fromUtcDateTime` nor `toUtcDateTime` is set, the audit logs for the **last 7 days** will be returned.\n\nThe distance between `fromUtcDateTime` and `toUtcDateTime` cannot exceed **30 days**.",
        "operationId": "get-organization-auditlogs",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The identifier of the Organization.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "productId",
            "in": "query",
            "description": "The identifier of the Product.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "configId",
            "in": "query",
            "description": "The identifier of the Config.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "environmentId",
            "in": "query",
            "description": "The identifier of the Environment.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "auditLogType",
            "in": "query",
            "description": "Filter Audit logs by Audit log type.",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/AuditLogType"
                }
              ],
              "nullable": true
            }
          },
          {
            "name": "fromUtcDateTime",
            "in": "query",
            "description": "Filter Audit logs by starting UTC date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toUtcDateTime",
            "in": "query",
            "description": "Filter Audit logs by ending UTC date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuditLogItemModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/members": {
      "get": {
        "tags": [
          "Members"
        ],
        "summary": "List Organization Members",
        "description": "This endpoint returns the list of Members that belongs \nto the given Organization, identified by the `organizationId` parameter.\n\nThe results may vary based on the access level of the user who calls the endpoint: \n - When it's called with Organization Admin privileges, the result will contain each member in the Organization.\n- When it's called without Organization Admin privileges, the result will contain each Organization Admin along with members \n  of those products where the caller has `Team members and permission groups` (`canManageMembers`) permission.",
        "operationId": "get-organization-members",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The identifier of the Organization.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "deprecated": true
      }
    },
    "/v2/organizations/{organizationId}/members": {
      "get": {
        "tags": [
          "Members"
        ],
        "summary": "List Organization Members",
        "description": "This endpoint returns the list of Members that belongs \nto the given Organization, identified by the `organizationId` parameter.\n\nThe results may vary based on the access level of the user who calls the endpoint: \n - When it's called with Organization Admin privileges, the result will contain each member in the Organization.\n- When it's called without Organization Admin privileges, the result will contain each Organization Admin along with members \n  of those products where the caller has `Team members and permission groups` (`canManageMembers`) permission.",
        "operationId": "get-organization-members-v2",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The identifier of the Organization.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationMembersModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/invitations": {
      "get": {
        "tags": [
          "Members"
        ],
        "summary": "List Pending Invitations in Organization",
        "description": "This endpoint returns the list of pending invitations within the\n given Organization identified by the `organizationId` parameter.",
        "operationId": "get-pending-invitations-org",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The identifier of the Organization.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrganizationInvitationModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/products/{productId}/invitations": {
      "get": {
        "tags": [
          "Members"
        ],
        "summary": "List Pending Invitations in Product",
        "description": "This endpoint returns the list of pending invitations within the\n given Product identified by the `productId` parameter.",
        "operationId": "get-pending-invitations",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the Product.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InvitationModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/products/{productId}": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get Product",
        "description": "This endpoint returns the metadata of a Product \nidentified by the `productId`.",
        "operationId": "get-product",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the Product.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "When everything is ok, the product data is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "put": {
        "tags": [
          "Products"
        ],
        "summary": "Update Product",
        "description": "This endpoint updates a Product identified by the `productId` parameter.",
        "operationId": "update-product",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the Product.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProductRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProductRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProductRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "delete": {
        "tags": [
          "Products"
        ],
        "summary": "Delete Product",
        "description": "This endpoint removes a Product identified by the `productId` parameter.",
        "operationId": "delete-product",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the Product.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "When the delete was successful."
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/products/{productId}/members": {
      "get": {
        "tags": [
          "Members"
        ],
        "summary": "List Product Members",
        "description": "This endpoint returns the list of Members that belongs \nto the given Product, identified by the `productId` parameter.",
        "operationId": "get-product-members",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the Product.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MemberModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/products/{productId}/preferences": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get Product Preferences",
        "description": "This endpoint returns the preferences of a Product \nidentified by the `productId`.",
        "operationId": "get-product-preferences",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the Product.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "When everything is ok, the product preferences data is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreferencesModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Update Product Preferences",
        "description": "This endpoint updates the preferences of a Product identified by the `productId` parameter.",
        "operationId": "update-product-preferences",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the Product.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePreferencesRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePreferencesRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePreferencesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "When the update was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreferencesModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/segments/{segmentId}": {
      "get": {
        "tags": [
          "Segments"
        ],
        "summary": "Get Segment",
        "description": "This endpoint returns the metadata of a Segment\nidentified by the `segmentId`.",
        "operationId": "get-segment",
        "parameters": [
          {
            "name": "segmentId",
            "in": "path",
            "description": "The identifier of the Segment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "When everything is ok, the config data returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "put": {
        "tags": [
          "Segments"
        ],
        "summary": "Update Segment",
        "description": "This endpoint updates a Segment identified by the `segmentId` parameter.",
        "operationId": "update-segment",
        "parameters": [
          {
            "name": "segmentId",
            "in": "path",
            "description": "The identifier of the Segment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSegmentModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSegmentModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSegmentModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "delete": {
        "tags": [
          "Segments"
        ],
        "summary": "Delete Segment",
        "description": "This endpoint removes a Segment identified by the `segmentId` parameter.",
        "operationId": "delete-segment",
        "parameters": [
          {
            "name": "segmentId",
            "in": "path",
            "description": "The identifier of the Segment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "When the delete was successful."
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/settings/{settingId}": {
      "get": {
        "tags": [
          "Feature Flags & Settings"
        ],
        "summary": "Get Flag",
        "description": "This endpoint returns the metadata attributes of a Feature Flag or Setting \nidentified by the `settingId` parameter.",
        "operationId": "get-setting",
        "parameters": [
          {
            "name": "settingId",
            "in": "path",
            "description": "The identifier of the Setting.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "When everything is ok, the setting data returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettingModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "put": {
        "tags": [
          "Feature Flags & Settings"
        ],
        "summary": "Replace Flag",
        "description": "This endpoint replaces the whole value of a Feature Flag or Setting\n identified by the `settingId` parameter.\n\n**Important:** As this endpoint is doing a complete replace, it's important to set every other attribute that you don't \nwant to change in its original state. Not listing one means it will reset.",
        "operationId": "replace-setting",
        "parameters": [
          {
            "name": "settingId",
            "in": "path",
            "description": "The identifier of the Setting.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceSettingModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceSettingModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceSettingModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "When the replace was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettingModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "patch": {
        "tags": [
          "Feature Flags & Settings"
        ],
        "summary": "Update Flag",
        "description": "This endpoint updates the metadata of a Feature Flag or Setting \nwith a collection of [JSON Patch](https://jsonpatch.com) operations in a specified Config.\n\nOnly the `name`, `hint` and `tags` attributes are modifiable by this endpoint.\nThe `tags` attribute is a simple collection of the [tag IDs](#operation/get-tags) attached to the given setting.\n\nThe advantage of using JSON Patch is that you can describe individual update operations on a resource\nwithout touching attributes that you don't want to change.\n \nFor example: We have the following resource.\n```json\n{\n  \"settingId\": 5345,\n  \"key\": \"myGrandFeature\",\n  \"name\": \"Tihs is a naem with soem typos.\",\n  \"hint\": \"This flag controls my grandioso feature.\",\n  \"settingType\": \"boolean\",\n  \"tags\": [\n    {\n      \"tagId\": 0, \n      \"name\": \"sample tag\", \n      \"color\": \"whale\"\n    }\n  ]\n }\n```\nIf we send an update request body as below (it changes the `name` and adds the already existing tag with the id `2`):\n```json\n[\n  {\n    \"op\": \"replace\", \n    \"path\": \"/name\", \n    \"value\": \"This is the name without typos.\"\n  }, \n  {\n    \"op\": \"add\", \n    \"path\": \"/tags/-\", \n    \"value\": 2\n  }\n]\n```\nOnly the `name` and `tags` are updated and all the other attributes remain unchanged.\nSo we get a response like this:\n```json\n{\n  \"settingId\": 5345, \n  \"key\": \"myGrandFeature\", \n  \"name\": \"This is the name without typos.\", \n  \"hint\": \"This flag controls my grandioso feature.\", \n  \"settingType\": \"boolean\", \n  \"tags\": [\n    {\n      \"tagId\": 0, \n      \"name\": \"sample tag\", \n      \"color\": \"whale\"\n    }, \n    {\n      \"tagId\": 2, \n      \"name\": \"another tag\", \n      \"color\": \"koala\"\n    }\n  ]\n}\n```",
        "operationId": "update-setting",
        "parameters": [
          {
            "name": "settingId",
            "in": "path",
            "description": "The identifier of the Setting.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/JsonPatchOperation"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/JsonPatchOperation"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/JsonPatchOperation"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "When the update was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettingModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "delete": {
        "tags": [
          "Feature Flags & Settings"
        ],
        "summary": "Delete Flag",
        "description": "This endpoint removes a Feature Flag or Setting from a specified Config, \nidentified by the `configId` parameter.",
        "operationId": "delete-setting",
        "parameters": [
          {
            "name": "settingId",
            "in": "path",
            "description": "The identifier of the Setting.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "When the delete was successful."
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/tags/{tagId}/settings": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "List Settings by Tag",
        "description": "This endpoint returns the list of the Settings that \nhas the specified Tag, identified by the `tagId` parameter.",
        "operationId": "get-settings-by-tag",
        "parameters": [
          {
            "name": "tagId",
            "in": "path",
            "description": "The identifier of the Tag.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "When everything is ok, the settings data returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SettingModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/settings/{settingKeyOrId}/value": {
      "get": {
        "tags": [
          "Feature Flag & Setting values using SDK Key"
        ],
        "summary": "Get value",
        "description": "This endpoint returns the value of a Feature Flag or Setting \n in a specified Environment identified by the <a target=\"_blank\" rel=\"noopener noreferrer\" href=\"https://app.configcat.com/sdkkey\">SDK key</a> passed in the `X-CONFIGCAT-SDKKEY` header.\n\nThe most important attributes in the response are the `value`, `rolloutRules` and `percentageRules`.\nThe `value` represents what the clients will get when the evaluation requests of our SDKs \nare not matching to any of the defined Targeting or Percentage Rules, or when there are no additional rules to evaluate.\n\nThe `rolloutRules` and `percentageRules` attributes are representing the current \nTargeting and Percentage Rules configuration of the actual Feature Flag or Setting \nin an **ordered** collection, which means the order of the returned rules is matching to the\nevaluation order. You can read more about these rules [here](https://configcat.com/docs/targeting/targeting-overview/).",
        "operationId": "get-setting-value-by-sdkkey",
        "parameters": [
          {
            "name": "settingKeyOrId",
            "in": "path",
            "description": "The key or id of the Setting.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CONFIGCAT-SDKKEY",
            "in": "header",
            "description": "The ConfigCat SDK Key. (https://app.configcat.com/sdkkey)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettingValueModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "put": {
        "tags": [
          "Feature Flag & Setting values using SDK Key"
        ],
        "summary": "Replace value",
        "description": "This endpoint replaces the value of a Feature Flag or Setting \nin a specified Environment identified by the <a target=\"_blank\" rel=\"noopener noreferrer\" href=\"https://app.configcat.com/sdkkey\">SDK key</a> passed in the `X-CONFIGCAT-SDKKEY` header.\n\nOnly the `value`, `rolloutRules` and `percentageRules` attributes are modifiable by this endpoint.\n\n**Important:** As this endpoint is doing a complete replace, it's important to set every other attribute that you don't \nwant to change to its original state. Not listing one means it will reset.\n\nFor example: We have the following resource.\n```json\n{\n  \"rolloutPercentageItems\": [\n    {\n      \"percentage\": 30,\n      \"value\": true\n    },\n    {\n      \"percentage\": 70,\n      \"value\": false\n    }\n  ],\n  \"rolloutRules\": [],\n  \"value\": false\n }\n```\nIf we send a replace request body as below:\n```json\n{\n  \"value\": true\n}\n```\nThen besides that the default served value is set to `true`, all the Percentage Rules are deleted. \nSo we get a response like this:\n```json\n{\n  \"rolloutPercentageItems\": [],\n  \"rolloutRules\": [],\n  \"value\": true\n}\n```",
        "operationId": "replace-setting-value-by-sdkkey",
        "parameters": [
          {
            "name": "settingKeyOrId",
            "in": "path",
            "description": "The key or id of the Setting.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "description": "The reason note for the Audit Log if the Product's \"Config changes require a reason\" preference is turned on.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CONFIGCAT-SDKKEY",
            "in": "header",
            "description": "The ConfigCat SDK Key. (https://app.configcat.com/sdkkey)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSettingValueModel"
              },
              "examples": {
                "simple": {
                  "description": "This example turns on a feature flag.",
                  "value": {
                    "value": true
                  }
                },
                "advanced": {
                  "description": "This example turns on a feature flag and adds two items to its percentage evaluation rules.",
                  "value": {
                    "value": true,
                    "rolloutPercentageItems": [
                      {
                        "percentage": 30,
                        "value": true
                      },
                      {
                        "percentage": 70,
                        "value": false
                      }
                    ]
                  }
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSettingValueModel"
              },
              "examples": {
                "simple": {
                  "description": "This example turns on a feature flag.",
                  "value": {
                    "value": true
                  }
                },
                "advanced": {
                  "description": "This example turns on a feature flag and adds two items to its percentage evaluation rules.",
                  "value": {
                    "value": true,
                    "rolloutPercentageItems": [
                      {
                        "percentage": 30,
                        "value": true
                      },
                      {
                        "percentage": 70,
                        "value": false
                      }
                    ]
                  }
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSettingValueModel"
              },
              "examples": {
                "simple": {
                  "description": "This example turns on a feature flag.",
                  "value": {
                    "value": true
                  }
                },
                "advanced": {
                  "description": "This example turns on a feature flag and adds two items to its percentage evaluation rules.",
                  "value": {
                    "value": true,
                    "rolloutPercentageItems": [
                      {
                        "percentage": 30,
                        "value": true
                      },
                      {
                        "percentage": 70,
                        "value": false
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettingValueModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "patch": {
        "tags": [
          "Feature Flag & Setting values using SDK Key"
        ],
        "summary": "Update value",
        "description": "This endpoint updates the value of a Feature Flag or Setting \n with a collection of [JSON Patch](https://jsonpatch.com) operations in a specified Environment\nidentified by the <a target=\"_blank\" rel=\"noopener noreferrer\" href=\"https://app.configcat.com/sdkkey\">SDK key</a> passed in the `X-CONFIGCAT-SDKKEY` header.\n\nOnly the `value`, `rolloutRules` and `percentageRules` attributes are modifiable by this endpoint.\n\nThe advantage of using JSON Patch is that you can describe individual update operations on a resource\nwithout touching attributes that you don't want to change. It supports collection reordering, so it also \ncan be used for reordering the targeting rules of a Feature Flag or Setting.\n\nFor example: We have the following resource.\n```json\n{\n  \"rolloutPercentageItems\": [\n    {\n      \"percentage\": 30,\n      \"value\": true\n    },\n    {\n      \"percentage\": 70,\n      \"value\": false\n    }\n  ],\n  \"rolloutRules\": [],\n  \"value\": false\n}\n```\n If we send an update request body as below:\n```json\n[\n  {\n    \"op\": \"replace\",\n    \"path\": \"/value\",\n    \"value\": true\n  }\n]\n```\n Only the default served value is going to be set to `true` and all the Percentage Rules are remaining unchanged.\nSo we get a response like this:\n```json\n{\n  \"rolloutPercentageItems\": [\n    {\n      \"percentage\": 30,\n      \"value\": true\n    },\n    {\n      \"percentage\": 70,\n      \"value\": false\n    }\n  ],\n  \"rolloutRules\": [],\n  \"value\": true\n}\n```",
        "operationId": "update-setting-value-by-sdkkey",
        "parameters": [
          {
            "name": "settingKeyOrId",
            "in": "path",
            "description": "The key or id of the Setting.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "description": "The reason note for the Audit Log if the Product's \"Config changes require a reason\" preference is turned on.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CONFIGCAT-SDKKEY",
            "in": "header",
            "description": "The ConfigCat SDK Key. (https://app.configcat.com/sdkkey)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/JsonPatchOperation"
                }
              },
              "examples": {
                "turn on a feature flag": {
                  "description": "This example turns on a feature flag.",
                  "value": [
                    {
                      "op": "replace",
                      "path": "/value",
                      "value": true
                    }
                  ]
                },
                "add percentage rules": {
                  "description": "This example adds two items to the percentage evaluation rules.",
                  "value": [
                    {
                      "op": "add",
                      "path": "/rolloutPercentageItems/-",
                      "value": {
                        "percentage": 30,
                        "value": true
                      }
                    },
                    {
                      "op": "add",
                      "path": "/rolloutPercentageItems/-",
                      "value": {
                        "percentage": 70,
                        "value": false
                      }
                    }
                  ]
                },
                "add targeting rules": {
                  "description": "This example adds two items to the targeting evaluation rules.",
                  "value": [
                    {
                      "op": "add",
                      "path": "/rolloutRules/-",
                      "value": {
                        "comparisonAttribute": "Identifier",
                        "comparator": "contains",
                        "comparisonValue": "@example.com",
                        "value": true
                      }
                    },
                    {
                      "op": "add",
                      "path": "/rolloutRules/-",
                      "value": {
[...]
