{
  "openapi": "3.0.3",
  "info": {
    "title": "Statistics Canada Web Data Service",
    "version": "1.0.0",
    "description": "Statistics Canada Web Data Service provides programmatic access to Canadian statistical data including cubes, series, and bulk vector data.",
    "x-jentic-source-url": "https://www.statcan.gc.ca/en/developers"
  },
  "servers": [
    {
      "url": "https://www150.statcan.gc.ca/t1/tbl1"
    }
  ],
  "paths": {
    "/en/tv.action": {
      "get": {
        "operationId": "getChangedSeriesList",
        "summary": "Get changed series list",
        "tags": [
          "Series"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          }
        }
      },
      "post": {
        "operationId": "postDataRequest",
        "summary": "Post data request",
        "tags": [
          "Data"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/getChangedSeriesList": {
      "post": {
        "operationId": "getChangedSeriesList",
        "summary": "Invoke getChangedSeriesList",
        "tags": [
          "WDS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/getChangedCubeList": {
      "post": {
        "operationId": "getChangedCubeList",
        "summary": "Invoke getChangedCubeList",
        "tags": [
          "WDS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/getCubeMetadata": {
      "post": {
        "operationId": "getCubeMetadata",
        "summary": "Invoke getCubeMetadata",
        "tags": [
          "WDS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/getSeriesInfoFromCubePidCoord": {
      "post": {
        "operationId": "getSeriesInfoFromCubePidCoord",
        "summary": "Invoke getSeriesInfoFromCubePidCoord",
        "tags": [
          "WDS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/getSeriesInfoFromVector": {
      "post": {
        "operationId": "getSeriesInfoFromVector",
        "summary": "Invoke getSeriesInfoFromVector",
        "tags": [
          "WDS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/getAllCubesList": {
      "post": {
        "operationId": "getAllCubesList",
        "summary": "Invoke getAllCubesList",
        "tags": [
          "WDS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/getAllCubesListLite": {
      "post": {
        "operationId": "getAllCubesListLite",
        "summary": "Invoke getAllCubesListLite",
        "tags": [
          "WDS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/getChangedSeriesDataFromCubePidCoord": {
      "post": {
        "operationId": "getChangedSeriesDataFromCubePidCoord",
        "summary": "Invoke getChangedSeriesDataFromCubePidCoord",
        "tags": [
          "WDS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/getChangedSeriesDataFromVector": {
      "post": {
        "operationId": "getChangedSeriesDataFromVector",
        "summary": "Invoke getChangedSeriesDataFromVector",
        "tags": [
          "WDS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/getDataFromCubePidCoordAndLatestNPeriods": {
      "post": {
        "operationId": "getDataFromCubePidCoordAndLatestNPeriods",
        "summary": "Invoke getDataFromCubePidCoordAndLatestNPeriods",
        "tags": [
          "WDS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/getDataFromVectorsAndLatestNPeriods": {
      "post": {
        "operationId": "getDataFromVectorsAndLatestNPeriods",
        "summary": "Invoke getDataFromVectorsAndLatestNPeriods",
        "tags": [
          "WDS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/getBulkVectorDataByRange": {
      "post": {
        "operationId": "getBulkVectorDataByRange",
        "summary": "Invoke getBulkVectorDataByRange",
        "tags": [
          "WDS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/getDataFromVectorByReferencePeriodRange": {
      "post": {
        "operationId": "getDataFromVectorByReferencePeriodRange",
        "summary": "Invoke getDataFromVectorByReferencePeriodRange",
        "tags": [
          "WDS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/getFullTableDownloadCSV": {
      "post": {
        "operationId": "getFullTableDownloadCSV",
        "summary": "Invoke getFullTableDownloadCSV",
        "tags": [
          "WDS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/getFullTableDownloadSDMX": {
      "post": {
        "operationId": "getFullTableDownloadSDMX",
        "summary": "Invoke getFullTableDownloadSDMX",
        "tags": [
          "WDS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {}
  }
}