{
  "openapi": "3.0.0",
  "info": {
    "title": "databyte REST-API",
    "description": "## **Einleitung**\n\nDie databyte REST-API stellt die Funktionalitäten der databyte Business Engine per REST als Kommunikationsschnittstelle zur Verfügung. Ziel dieser Schnittstelle ist es, eine direkte Kommunikation ohne webbasiertes Frontend zwischen der databyte-Datenbank und Drittsoftware zu ermöglichen.\n\nAufgrund der gegebenen Komplexität der Datenbank steht eine Vielzahl von Abfragemöglichkeiten zur Verfügung, die in dieser Dokumentation vorgestellt und erklärt werden.\n\nDes Weiteren können über die Schnittstelle Funktionen wie z. B. das Monitoring von Datensätzen oder Datenabgleiche abgebildet werden.\n\n\n## **Informationsuniversum**\n\nDie Gesamtdatenbank ist in mehrere Teilbereiche unterteilt, die einzelne Informationsaspekte widerspiegeln. Aufgrund unterschiedlicher Informationstiefen und -arten gibt es pro Teilbereich verschiedene Selektionsmöglichkeiten und Endpunkte.\n\n### **Firmeninformationen**\n\nUmfassende und detaillierte Informationen in voller Tiefe. Enthält rund 11 Mio. Firmendatensätze aus dem DACH-Raum, die sich in handelsregisterlich eingetragene Firmen und Gewerbe / freie Berufe unterteilen. Weiterhin können pro Monat ca. 300.000 Veränderungen auf diesem Bestand selektiert werden.\n\nDie Firmeninformationen setzen sich u.a. aus den folgenden Bereichen zusammen:\n\n**Basisdaten**\n\nID, Rechtsstatus, Sprache, Land, Firmenname, Rechtsform, Registerangaben, Steuerinformationen, Umsatzsteuer-ID, Telefon- und Telefaxnummer, Homepage, E-Mail-Adresse, Kennzahlen (Mitarbeiter, Umsatz, Kapital, Fuhrpark, Bilanzsummen), Geschäftsgegenstand, Keywords, Sperrinformationen\n\n**Anschriften**\n\nArt, Straße und Hausnr., c/o- und Postfach-Angaben, PLZ, Ort, Kreis, Bundesland, Gemeindeschlüssel, Land\n\n**Natürliche Personen**\n\nAnrede, Titel, Vorname, Rufname, Nachname, Funktion, Tätigkeitsbereich, §181-Befreiung, Vertretungsbefugnisse, Geburtsdatum, Geburtsort, Eintrittsdatum, Wohnort, Land, Socialmedia-Informationen, Sperrinformationen\n\n**Juristische Personen**\n\nID, Firmenname, Rechtsform, Registerangaben, Funktion, §181-Befreiung, Vertretungsbefugnisse, Eintrittsdatum, Anschrift, Sperrinformationen\n\n**Branchensystematik**\n\nBranchensystematik, Branchencode, Branchentext\n\n**Bankverbindungen**\n\nBank, Ort, Bankleitzahl, BIC / SWIFT\n\n**Verflechtungen**\n\nBeteiligungen und Anteilseigner (natürlich und juristisch) mit den jeweiligen Anteilen und Beträgen\n\n**Standorte**\n\nHauptsitz und Niederlassungen\n\n**Historie**\n\nRecherche- und Updatedatum, Vorgang, Alt- und Neu-Werte\n\nBitte beachten Sie, dass nicht alle Informationen in den Standard-Exportumfängen enthalten sind. Sofern Sie einen angepassten Export benötigen, wenden Sie sich bitte an Ihren Kundenbetreuer.\n\n## **Grundlagen**\n\n### **Authentifizierung**\n\nDie Authentifizierung des Benutzers wird über das Basic-HTTP-Auth-Verfahren durchgeführt. Es müssen bei jedem Request der Benutzername und das Passwort als BASE64 verschlüsselter String mit übertragen werden. Der String setzte sich dabei folgendermaßen zusammen:\n\n`base64_encode([Benutzername]:[Passwort])`\n\nIm Header der Anfrage muss also beispielhaft der folgende Eintrag erfolgen:\n\n`Authorization: Basic <BASE64>`\n\n### **Antwortstruktur**\n\nViele Endpunkte liefern Antworten nach dem Muster:\n\n```text\n{\n  auth: { userID: ..., userMail: ..., userName: ... },\n  info: { Version: ..., ApiTimestamp: ..., ApiTimezone: ... },\n  data: ...\n}\n```\n\n- **auth**: Informationen zum authentifizierten Benutzer/Konto\n- **info**: Metadaten zur API-Version, Zeitpunkt und Zeitzone\n- **data**: Nutzdaten (kann je nach Endpunkt Objekt, Array oder Boolean sein)\n\n### **Zeit- und Datumsformate**\n\n- Standard-Zeitzone: **Europe/Berlin**\n- Zeitstempel werden als String geliefert (z. B. YYYY-MM-DD HH:MM:SS), sofern nicht anders angegeben\n- Datumsangaben werden als String geliefert (z. B. YYYY-MM-DD), sofern nicht anders angegeben\n\n### **Fehlerbehandlung**\n\nFehler werden über passende HTTP-Statuscodes signalisiert (z. B. 401/403/404/500). Wenn vorhanden, enthält der Response-Body zusätzlich eine Fehlermeldung (Schema `Error`).\n\n## **Versionierung**\n\n- Die API ist versioniert.\n- Breaking Changes erfolgen ausschließlich in neuen Hauptversionen.\n- Die aktuelle Version ist in `info.Version` und im `@OA\\\\Info(version=...)` ersichtlich.",
    "termsOfService": "https://www.databyte.de/unternehmen/agb",
    "contact": {
      "name": "databyte Support",
      "url": "https://www.databyte.de",
      "email": "rest-api@databyte.de"
    },
    "version": "v2.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/databyte-gmbh/databyte-rest-api/v2.0"
  },
  "servers": [
    {
      "url": "https://api.databyte.de/v2.0",
      "description": "Produktivsystem"
    }
  ],
  "paths": {
    "/search/fi": {
      "post": {
        "tags": [
          "Suche"
        ],
        "summary": "Firmensuche",
        "operationId": "b2d59184a403de76fc27f6d6497f2282",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "search"
                ],
                "properties": {
                  "search": {
                    "$ref": "#/components/schemas/SearchFiSearch"
                  },
                  "config": {
                    "$ref": "#/components/schemas/SearchFiConfig"
                  },
                  "ssid": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchFiResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/search/al": {
      "post": {
        "tags": [
          "Suche"
        ],
        "summary": "Firmensuche (Auswahllisten)",
        "description": "\nDie Auswahl- oder Referenzlisten bilden eine Ausnahme zu den normalen Suchanfragen. \n\nMit dieser Anfrage können Sie die gültigen Eingabewerte für Felder, wie z.B. Mitarbeiterstaffel, auslesen oder sich gruppierte Zusammenfassungen der Feldinhalte ausgeben lassen. Über das Eingabe-Attribut können Sie zusätzlich in der Auswahlliste suchen.\n",
        "operationId": "bf0ba34ef401cb02c69fa6f6445e08fc",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "produkt",
                  "bereich",
                  "feld"
                ],
                "properties": {
                  "produkt": {
                    "type": "string",
                    "enum": [
                      "fi"
                    ]
                  },
                  "eingabe": {
                    "type": "string"
                  },
                  "bereich": {
                    "type": "string"
                  },
                  "feld": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchAlResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/export": {
      "post": {
        "tags": [
          "Export"
        ],
        "summary": "Export",
        "operationId": "645bb958dc082f0f6a7d6d0953c05a8b",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "produkt",
                  "export",
                  "umfang",
                  "firmen",
                  "format",
                  "person",
                  "ssid"
                ],
                "properties": {
                  "produkt": {
                    "type": "string",
                    "enum": [
                      "fi"
                    ]
                  },
                  "export": {
                    "type": "string",
                    "enum": [
                      "std",
                      "erw"
                    ]
                  },
                  "umfang": {
                    "type": "string",
                    "enum": [
                      "4"
                    ]
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "json"
                    ]
                  },
                  "person": {
                    "type": "string"
                  },
                  "firmen": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "zusatz": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "ssid": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/export/info": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Export (Info)",
        "operationId": "e4e05f550981a2dd2997efe6ab96686a",
        "parameters": [
          {
            "name": "export",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "std",
                "erw"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportInfoResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/export/statistics": {
      "post": {
        "tags": [
          "Export"
        ],
        "summary": "Export (Füllgrad)",
        "operationId": "a4e8df777b55a8c498897ec423c03b63",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "produkt",
                  "export",
                  "umfang",
                  "firmen",
                  "format",
                  "person",
                  "ssid"
                ],
                "properties": {
                  "produkt": {
                    "type": "string",
                    "enum": [
                      "fi"
                    ]
                  },
                  "export": {
                    "type": "string",
                    "enum": [
                      "std",
                      "erw"
                    ]
                  },
                  "umfang": {
                    "type": "string",
                    "enum": [
                      "4"
                    ]
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "json"
                    ]
                  },
                  "person": {
                    "type": "string"
                  },
                  "firmen": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "zusatz": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "ssid": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/credits/read": {
      "get": {
        "tags": [
          "Kontingent"
        ],
        "summary": "Kontingent (Übersicht)",
        "operationId": "9529e02a485fc35a3224b736b725d182",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditReadResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/credits/reload": {
      "post": {
        "tags": [
          "Kontingent"
        ],
        "summary": "Kontingent (Bestellung)",
        "operationId": "40a062033bfa2856aa601f4a4aa90242",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "menge"
                ],
                "properties": {
                  "menge": {
                    "required": [
                      "fi"
                    ],
                    "properties": {
                      "fi": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/True"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fls/list": {
      "get": {
        "tags": [
          "Firmenlisten"
        ],
        "summary": "Firmenlisten (Übersicht)",
        "operationId": "970cce5091733f8dbfccd32f26d08b6e",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlsListResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fls/copy": {
      "post": {
        "tags": [
          "Firmenlisten"
        ],
        "summary": "Firmenlisten (Kopieren)",
        "operationId": "f0f70f26575796ce61bad1da18621ae2",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "fls"
                ],
                "properties": {
                  "fls": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlsIdResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fls/create": {
      "post": {
        "tags": [
          "Firmenlisten"
        ],
        "summary": "Firmenlisten (Anlage)",
        "operationId": "fff41ea1384ac57618b96a0f47287808",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlsIdResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fls/delete": {
      "delete": {
        "tags": [
          "Firmenlisten"
        ],
        "summary": "Firmenlisten (Löschen)",
        "operationId": "070aacda3541d4358c339e8de9b21168",
        "parameters": [
          {
            "name": "fls",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/True"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fls/truncate": {
      "put": {
        "tags": [
          "Firmenlisten"
        ],
        "summary": "Firmenlisten (Leeren)",
        "operationId": "ca507d83d1e76e789c4267061c3db375",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "fls"
                ],
                "properties": {
                  "fls": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/True"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fls/rename": {
      "put": {
        "tags": [
          "Firmenlisten"
        ],
        "summary": "Firmenlisten (Umbenennen)",
        "operationId": "e208c69eb99ff8eccc9bd344a5590a71",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "fls",
                  "name"
                ],
                "properties": {
                  "fls": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/True"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fls/data/add": {
      "post": {
        "tags": [
          "Firmenlisten"
        ],
        "summary": "Firmenlisten (Daten hinzufügen)",
        "operationId": "05446a6113528dadb967946161daa010",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "fls",
                  "umfang",
                  "firmen"
                ],
                "properties": {
                  "fls": {
                    "type": "string"
                  },
                  "ssid": {
                    "type": "string"
                  },
                  "umfang": {
                    "type": "string",
                    "enum": [
                      "1",
                      "2",
                      "3",
                      "4"
                    ]
                  },
                  "firmen": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "bereich": {
                    "properties": {
                      "von": {
                        "type": "string"
                      },
                      "bis": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlsDataResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fls/data/delete": {
      "post": {
        "tags": [
          "Firmenlisten"
        ],
        "summary": "Firmenlisten (Daten entfernen)",
        "operationId": "9d73ef5b4adb31cf02f3ce55c6e935e6",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "fls",
                  "umfang",
                  "firmen"
                ],
                "properties": {
                  "fls": {
                    "type": "string"
                  },
                  "ssid": {
                    "type": "string"
                  },
                  "umfang": {
                    "type": "string",
                    "enum": [
                      "1",
                      "2",
                      "3",
                      "4"
                    ]
                  },
                  "firmen": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "bereich": {
                    "properties": {
                      "von": {
                        "type": "string"
                      },
                      "bis": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlsDataResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fls/data/read": {
      "get": {
        "tags": [
          "Firmenlisten"
        ],
        "summary": "Firmenlisten (Daten auslesen)",
        "operationId": "db75c56833010fdb71c7c81a1e3ec710",
        "parameters": [
          {
            "name": "fls",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fls/share": {
      "put": {
        "tags": [
          "Firmenlisten"
        ],
        "summary": "Firmenlisten (Freigabe)",
        "operationId": "3fbfcd16e5d4cd43645a99bb4b29a4b0",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "fls",
                  "daten"
                ],
                "properties": {
                  "fls": {
                    "type": "string"
                  },
                  "daten": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "user": {
                          "type": "string"
                        },
                        "recht": {
                          "type": "string",
                          "enum": [
                            "r",
                            "w",
                            ""
                          ]
                        }
                      },
                      "type": "object"
                    }
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/True"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fls/privileges": {
      "get": {
        "tags": [
          "Firmenlisten"
        ],
        "summary": "Firmenlisten (Freigabeübersicht)",
        "operationId": "4b8247e192ff06afbe24ad36b5134523",
        "parameters": [
          {
            "name": "fls",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlsPrivResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fls/monitoring/read": {
      "get": {
        "tags": [
          "Monitoring"
        ],
        "summary": "Monitoring (Lesen)",
        "operationId": "9a9136d7c855a39ae277a0300ce45b06",
        "parameters": [
          {
            "name": "fls",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlsMonitoringReadResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fls/monitoring/save": {
      "post": {
        "tags": [
          "Monitoring"
        ],
        "summary": "Monitoring (Speichern)",
        "operationId": "07a1be886a9579851315fd67905bc53b",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "fls",
                  "merkmale",
                  "interval",
                  "aktiv"
                ],
                "properties": {
                  "fls": {
                    "type": "string"
                  },
                  "benutzer": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "merkmale": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "interval": {
                    "type": "string"
                  },
                  "format": {
                    "type": "string"
                  },
                  "umfang": {
                    "type": "string"
                  },
                  "import": {
                    "type": "string"
                  },
                  "export": {
                    "type": "string"
                  },
                  "aktiv": {
                    "type": "integer"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlsMonitoringListResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/user/postbox/read": {
      "get": {
        "tags": [
          "Monitoring"
        ],
        "summary": "Postbox",
        "operationId": "17323be7ef40ea081e014c623a771083",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/user/postbox/confirm": {
      "put": {
        "tags": [
          "Monitoring"
        ],
        "summary": "Postbox (Bestätigung)",
        "operationId": "b41cd0c99ade557cbdf80ca59922ef28",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/True"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/datamatch/create": {
      "post": {
        "tags": [
          "DataMatch"
        ],
        "summary": "1. Projekt erstellen",
        "description": "\nLegt ein neues DataMatch-Projekt an und gibt die Projekt-ID zurück. Den Parameter 'name' können Sie frei vergeben. Der Parameter 'type' steuert den Abgleich-Typ für das Projekt. Hier können Sie die folgenden Werte übertragen:\n\n- exakt (Exakter Abgleich der Eingabedaten. Qualitativ sehr hochwertige Treffer)\n- weich (Weicher Abgleich der Eingabedaten. Qualität kann geringer ausfallen)\n",
        "operationId": "datamatch_1_create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name",
                  "type"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "exakt",
                      "weich"
                    ]
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/datamatch/data/add": {
      "post": {
        "tags": [
          "DataMatch"
        ],
        "summary": "2. Daten hinzufügen",
        "description": "Fügt Datensätze (z.B. Firmen oder externe IDs) zu einem bestehenden Projekt hinzu. Es können maximal 500 Datensätze pro Anfrage übertragen werden.",
        "operationId": "datamatch_2_data_add",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "id",
                  "data"
                ],
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "data": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "kunde_id": {
                          "type": "string"
                        },
                        "firma_1": {
                          "type": "string"
                        },
                        "firma_2": {
                          "type": "string"
                        },
                        "firma_3": {
                          "type": "string"
                        },
                        "firma_4": {
                          "type": "string"
                        },
                        "firma_5": {
                          "type": "string"
                        },
                        "strasse": {
                          "type": "string"
                        },
                        "strasse_hausnr": {
                          "type": "string"
                        },
                        "hausnr": {
                          "type": "string"
                        },
                        "plz": {
                          "type": "string"
                        },
                        "ort": {
                          "type": "string"
                        },
                        "tel": {
                          "type": "string"
                        },
                        "fax": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "homepage": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/True"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/datamatch/start": {
      "put": {
        "tags": [
          "DataMatch"
        ],
        "summary": "3. Projekt starten",
        "description": "Startet den Abgleichprozess für das angegebene Projekt.",
        "operationId": "datamatch_3_start",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/True"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/datamatch/result": {
      "get": {
        "tags": [
          "DataMatch"
        ],
        "summary": "4. Abgleichergebnis",
        "description": "\nLiefert das Ergebnis des DataMatch-Abgleichs für ein Projekt. Im match-Block des Abgleichergebnisses finden Sie folgende Informationen:\n\n- id (Zugeordnete Datensatz-ID)\n- group (Zuordnungsgruppe)\n- ad_ban (Attribut für Werbesperre)\n\n**Zuordnungsgruppen**\n\n*Single-Matches:*\n\nZu einem Datensatz aus Ihrem Datenbestand wird als Abgleichergebnis gegen den Referenzbestand jeweils genau ein eindeutiger Treffer / eine Datensatz-ID generiert.\n\n*Multiple-Matches:*\n\nZu einem Datensatz aus Ihrem Datenbestand wird als Abgleichergebnis gegen den Referenzbestand mehr als ein Treffer / eine Datensatz-ID generiert.\n\n*No-Matches:*\n\nHierbei handelt es sich um Datensätze aus Ihrem Datenbestand, zu denen in dem Referenzbestand per Datenabgleich kein passendes Unternehmen ermittelt werden kann. Das können z.B. Privatpersonen sein, Datensätze mit unvollständiger Anschrift oder Unternehmen, die nicht im Handelsregister eingetragen sind.\n",
        "operationId": "datamatch_4_result",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataMatchResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/datamatch/clear": {
      "delete": {
        "tags": [
          "DataMatch"
        ],
        "summary": "Projekt löschen",
        "description": "Löscht das angegebene DataMatch-Projekt inkl. aller Projektdaten.",
        "operationId": "f73e3bdba13202b43a0cec442576812b",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/True"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/datamatch/abort": {
      "put": {
        "tags": [
          "DataMatch"
        ],
        "summary": "Projekt abbrechen",
        "description": "Bricht das angegebene DataMatch-Projekt ab.",
        "operationId": "0f5356e2d1115655708711e6ec0dcf61",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/True"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/datamatch/list": {
      "get": {
        "tags": [
          "DataMatch"
        ],
        "summary": "Projekte auflisten",
        "operationId": "7a813d16348403dd78a68903128be70c",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataMatchListResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchFiFIR": {
        "properties": {
          "firmen_id": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "firmen_cid": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "land_kz": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "sprache": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "status": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "firma": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "firma_art": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "firma_crw": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "rechtsform": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "register_nr": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "register_art": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "register_ger": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "bonitaet_code": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "umsatzsteuer_id": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "telefon": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "telefax": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "homepage": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "email": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "datum_aufnahme": {
            "type": "array",
            "items": {
              "description": "zulässige Formate MM/YYYY oder MM/YYYY-MM/YYYY",
              "type": "string"
            }
          },
          "datum_loeschung": {
            "type": "array",
            "items": {
              "description": "zulässige Formate MM/YYYY oder MM/YYYY-MM/YYYY",
              "type": "string"
            }
          },
          "datum_gruendung": {
            "type": "array",
            "items": {
              "description": "zulässige Formate MM/YYYY oder MM/YYYY-MM/YYYY",
              "type": "string"
            }
          },
          "mitarbeiter_staffel": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "umsatz_staffel": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "kapital_staffel": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "bilanz_staffel": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "fuhrpark_staffel": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "energie_gas": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "energie_kwh": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "gegenstand": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "gegenstand_negativ": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "socialmedia": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "zertifikat": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "versicherung": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "homepage_cms": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "homepage_ews": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "homepage_pms": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "homepage_vdl": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "bewertung_google": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "bewertung_kununu": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          }
        },
        "type": "object"
      },
      "SearchFiPER": {
        "properties": {
          "person": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "rechtssubjekt": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "funktion": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "befugnis": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "anrede": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "datum_geburt": {
            "type": "array",
            "items": {
              "description": "zulässige Formate MM/YYYY oder MM/YYYY-MM/YYYY",
              "type": "string"
            }
          },
          "datum_eintritt": {
            "type": "array",
            "items": {
              "description": "zulässige Formate MM/YYYY oder MM/YYYY-MM/YYYY",
              "type": "string"
            }
          },
          "datum_austritt": {
            "type": "array",
            "items": {
              "description": "zulässige Formate MM/YYYY oder MM/YYYY-MM/YYYY",
              "type": "string"
            }
          },
          "fuehrungsebene": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "socialmedia_ap": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          }
        },
        "type": "object"
      },
      "SearchFiADR": {
        "properties": {
          "strasse": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "hausnr": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "plz": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "ort": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "kgs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "kreis": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "bezirk": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "umkreis": {
            "type": "array",
            "items": {
              "description": "{Latitude};{Longitude};{Distanz in km}",
              "type": "string"
            }
          }
        },
        "type": "object"
      },
      "SearchFiACC": {
        "properties": {
          "name": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "ort": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "blz": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "swift": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "type": "object"
      },
      "SearchFiBRA": {
        "properties": {
          "wz08_positiv": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "wz08_negativ": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          }
        },
        "type": "object"
      },
      "SearchFiBNF": {
        "properties": {
          "benefit": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          }
        },
        "type": "object"
      },
      "SearchFiLSC": {
        "properties": {
          "leadscore": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          }
        },
        "type": "object"
      },
      "SearchFiMPG": {
        "properties": {
          "marke": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "marke_nr": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "marke_art": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "marke_form": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "marke_status": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "marke_ablauf": {
            "type": "array",
            "items": {
              "description": "zulässige Formate MM/YYYY oder MM/YYYY-MM/YYYY",
              "type": "string"
            }
          }
        },
        "type": "object"
      },
      "SearchFiMSD": {
        "properties": {
          "energietraeger": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "leistung": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "inbetriebnahme": {
            "type": "array",
            "items": {
              "description": "zulässige Formate MM/YYYY oder MM/YYYY-MM/YYYY",
              "type": "string"
            }
          },
          "netzbetreiber": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "einspeisung": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "spannungsebene": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "anlagenstatus": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          }
        },
        "type": "object"
      },
      "SearchFiNWS": {
        "properties": {
          "kategorie": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "veroeff": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "quelle": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "news": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "type": "object"
      },
      "SearchFiSTA": {
        "properties": {
          "stellenanzeigen": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "quelle": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "modell": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "veroeffentlichung": {
            "type": "array",
            "items": {
              "description": "zulässige Formate MM/YYYY oder MM/YYYY-MM/YYYY",
              "type": "string"
            }
          },
          "anzeigenstatus": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "stellenanzahl": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "SearchFiVFL": {
        "properties": {
          "verflechtung_art": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "rechtssubjekt": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "anteil_staffel": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "firma": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "type": "object"
      },
      "SearchFiVTR": {
        "properties": {
          "beziehung": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          },
          "vertragsart": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          }
        },
        "type": "object"
      },
      "SearchFiHIS": {
        "properties": {
          "datum_update": {
            "type": "array",
            "items": {
              "description": "zulässige Formate MM/YYYY oder MM/YYYY-MM/YYYY",
              "type": "string"
            }
          },
          "vorgang": {
            "type": "array",
            "items": {
              "description": "Zulässige Werte siehe Auswahlliste.",
              "type": "string"
            }
          }
        },
        "type": "object"
      },
      "SearchFiFLS": {
        "properties": {
          "firmenlisten": {
            "type": "array",
            "items": {
              "description": "Nur Firmenlisten-ID.",
              "type": "string"
            }
          },
          "abgleich_fls": {
            "type": "array",
            "items": {
              "description": "Nur Firmenlisten-ID.",
              "type": "string"
            }
          },
          "kennzeichnung": {
            "type": "array",
            "items": {
              "description": "Nur Kennzeichnungs-ID.",
              "type": "string"
            }
          }
        },
        "type": "object"
      },
      "SearchFiOPT": {
        "properties": {
          "optionen": {
            "description": "\n**Mögliche Werte:**\n\n- asp (Nur Datensätze mit Ansprechpartner)\n- ust (Nur Datensätze mit Umsatzsteuer-ID)\n- tel (Nur Datensätze mit Telefonnummer)\n- fax (Nur Datensätze mit Faxnummer)\n- mrv (Nur marketingrelevante Datensätze)\n- wv0 (Werbeverweigerer ausschließen)\n- web1 (Nur Datensätze mit Webseite)\n- web0 (Nur Datensätze ohne Webseite)\n- mal1 (Nur Datensätze mit E-Mail)\n- mal0 (Nur Datensätze ohne E-Mail)\n- exp1 (Nur Datensätze die bereits vom Nutzer exportiert wurden)\n- exp0 (Nur Datensätze die noch nicht vom Nutzer exportiert wurden)\n- exg1 (Nur Datensätze die bereits von allen Nutzern exportiert wurden)\n- exg0 (Nur Datensätze die noch von keinem Nutzern exportiert wurden)\n- sm1 (Nur Datensätze mit SalesManager-Eintrag)\n- sm0 (Nur Datensätze ohne SalesManager-Eintrag)\n- dn1 (Nur Datensätze mit Datensatznotizen)\n- dn0 (Nur Datensätze ohne Datensatznotizen)\n",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "asp",
                "ust",
                "tel",
                "fax",
                "mrv",
                "wv0",
                "web1",
                "web0",
                "mal1",
                "mal0",
                "exp1",
                "exp0",
                "exg1",
                "exg0",
                "sm1",
                "sm0",
                "dn1",
                "dn0"
              ]
            }
          }
        },
        "type": "object"
      },
      "ResultFiData": {
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "properties": {
                "firmen_id": {
                  "type": "string",
                  "example": "00987654321"
                },
                "land_kz": {
                  "type": "string",
                  "example": "49"
                },
                "firma": {
                  "type": "string",
                  "example": "Muster GmbH"
                },
                "register_nr": {
                  "type": "string",
                  "example": "976431"
                },
                "register_art": {
                  "type": "string",
                  "example": "HRB"
                },
                "register_ger": {
                  "type": "string",
                  "example": "Musterstadt"
                },
                "plz": {
                  "type": "string",
                  "example": "12345"
                },
                "ort": {
                  "type": "string",
                  "example": "Musterstadt"
                },
                "hinweis": {
                  "type": "string",
                  "example": ""
                }
              },
              "type": "object"
            }
          },
          "info": {
            "type": "array",
            "items": {
              "properties": {
                "ssid": {
                  "description": "Search-Session-ID",
                  "type": "string"
                },
                "anzF": {
                  "description": "Anzahl Firmen",
                  "type": "string"
                },
                "anzP": {
                  "description": "Anzahl Personen",
                  "type": "string"
                },
                "page": {
                  "description": "Aktuelle Ergebnisseite",
                  "type": "string"
                },
                "size": {
                  "description": "Max. Anzahl der Datensätze pro Ergebnisseite",
                  "type": "string"
                },
                "time": {
                  "description": "Dauer der Suchanfrage",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "type": "object"
      },
      "ResultAlData": {
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "properties": {
                "bez": {
                  "type": "string"
                },
                "anz": {
                  "type": "string",
                  "deprecated": true
                },
                "sel": {
                  "type": "string",
                  "deprecated": true
                }
              },
              "type": "object"
            }
          }
        },
        "type": "object"
      },
      "SearchFiSearch": {
        "description": "Eingabeparameter für Firmensuche (search)",
        "properties": {
          "firma": {
            "$ref": "#/components/schemas/SearchFiFIR"
          },
          "person": {
            "$ref": "#/components/schemas/SearchFiPER"
          },
          "anschrift": {
            "$ref": "#/components/schemas/SearchFiADR"
          },
          "bank": {
            "$ref": "#/components/schemas/SearchFiACC"
          },
          "branche": {
            "$ref": "#/components/schemas/SearchFiBRA"
          },
          "benefit": {
            "$ref": "#/components/schemas/SearchFiBNF"
          },
          "score": {
            "$ref": "#/components/schemas/SearchFiLSC"
          },
          "marke": {
            "$ref": "#/components/schemas/SearchFiMPG"
          },
          "mastr": {
            "$ref": "#/components/schemas/SearchFiMSD"
          },
          "news": {
            "$ref": "#/components/schemas/SearchFiNWS"
          },
          "stellenanzeigen": {
            "$ref": "#/components/schemas/SearchFiSTA"
          },
          "verflechtung": {
            "$ref": "#/components/schemas/SearchFiVFL"
          },
          "vertrag": {
            "$ref": "#/components/schemas/SearchFiVTR"
          },
          "historie": {
            "$ref": "#/components/schemas/SearchFiHIS"
          },
          "firmenliste": {
            "$ref": "#/components/schemas/SearchFiFLS"
          },
          "optionen": {
            "$ref": "#/components/schemas/SearchFiOPT"
          }
        },
        "type": "object"
      },
      "SearchFiConfig": {
        "description": "Eingabeparameter für Firmensuche (config)",
        "properties": {
          "page": {
            "type": "string"
          },
          "sort": {
            "type": "array",
            "items": {
              "properties": {
                "dir": {
                  "description": "Sortierrichtung (z.B. asc/desc)",
                  "type": "string"
                },
                "field": {
                  "description": "Feldname für Sortierung",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "type": "object"
      },
      "SearchFiResult": {
        "description": "Trefferliste für Firmensuche",
        "properties": {
          "auth": {
            "$ref": "#/components/schemas/Auth"
          },
          "info": {
            "$ref": "#/components/schemas/Info"
          },
          "data": {
            "$ref": "#/components/schemas/ResultFiData"
          }
        },
        "type": "object"
      },
      "SearchAlResult": {
        "description": "Trefferliste für Firmensuche (Auswahllisten)",
        "properties": {
          "auth": {
            "$ref": "#/components/schemas/Auth"
          },
          "info": {
            "$ref": "#/components/schemas/Info"
          },
          "data": {
            "$ref": "#/components/schemas/ResultAlData"
          }
        },
        "type": "object"
      },
      "ExportInfoResult": {
        "properties": {
          "auth": {
            "$ref": "#/components/schemas/Auth"
          },
          "info": {
            "$ref": "#/components/schemas/Info"
          },
          "data": {
            "properties": {
              "text": {
                "type": "string"
              },
              "value": {
                "type": "string"
              },
              "kosten": {
                "type": "string"
              },
              "felder": {
                "type": "array",
                "items": {
                  "properties": {
                    "bereich": {
                      "type": "string"
                    },
                    "feld": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "type": "object"
          }
        },
        "type": "object"
      },
      "CreditReadResult": {
        "properties": {
          "auth": {
            "$ref": "#/components/schemas/Auth"
          },
          "info": {
            "$ref": "#/components/schemas/Info"
          },
          "data": {
            "properties": {
              "mengen": {
                "properties": {
                  "fi": {
                    "properties": {
                      "verf": {
                        "type": "string"
                      },
                      "verb": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
[...]
