{
  "openapi": "3.1.0",
  "info": {
    "title": "Deezer API",
    "description": "Deezer music streaming public API for accessing tracks, albums, artists, playlists, charts, genres, radio, and search functionality.",
    "version": "1.0.0",
    "contact": {
      "name": "Deezer Developers",
      "url": "https://developers.deezer.com"
    },
    "termsOfService": "https://developers.deezer.com/termsofuse"
  },
  "servers": [
    {
      "url": "https://api.deezer.com",
      "description": "Deezer Public API"
    }
  ],
  "paths": {
    "/search": {
      "get": {
        "operationId": "search",
        "summary": "Search",
        "description": "Search tracks, albums, artists, playlists, and podcasts.",
        "tags": ["Search"],
        "parameters": [
          { "name": "q", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Search query." },
          { "name": "index", "in": "query", "schema": { "type": "integer" }, "description": "Result offset for pagination." },
          { "name": "limit", "in": "query", "schema": { "type": "integer" }, "description": "Number of results per page (default: 25)." },
          { "name": "order", "in": "query", "schema": { "type": "string", "enum": ["RANKING", "TRACK_ASC", "TRACK_DESC", "ARTIST_ASC", "ARTIST_DESC", "ALBUM_ASC", "ALBUM_DESC", "RATING_ASC", "RATING_DESC", "DURATION_ASC", "DURATION_DESC"] }, "description": "Sort order." },
          { "name": "output", "in": "query", "schema": { "type": "string", "enum": ["json", "xml"] }, "description": "Response format." }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Track" }
                    },
                    "total": { "type": "integer" },
                    "next": { "type": "string", "description": "URL for next page of results." }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search/album": {
      "get": {
        "operationId": "searchAlbums",
        "summary": "Search Albums",
        "description": "Search specifically for albums.",
        "tags": ["Search"],
        "parameters": [
          { "name": "q", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "index", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } },
          { "name": "order", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Album search results" }
        }
      }
    },
    "/search/artist": {
      "get": {
        "operationId": "searchArtists",
        "summary": "Search Artists",
        "description": "Search specifically for artists.",
        "tags": ["Search"],
        "parameters": [
          { "name": "q", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "index", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } },
          { "name": "order", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Artist search results" }
        }
      }
    },
    "/search/playlist": {
      "get": {
        "operationId": "searchPlaylists",
        "summary": "Search Playlists",
        "description": "Search specifically for playlists.",
        "tags": ["Search"],
        "parameters": [
          { "name": "q", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "index", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } },
          { "name": "order", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Playlist search results" }
        }
      }
    },
    "/search/track": {
      "get": {
        "operationId": "searchTracks",
        "summary": "Search Tracks",
        "description": "Search specifically for tracks.",
        "tags": ["Search"],
        "parameters": [
          { "name": "q", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "index", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } },
          { "name": "order", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Track search results" }
        }
      }
    },
    "/search/podcast": {
      "get": {
        "operationId": "searchPodcasts",
        "summary": "Search Podcasts",
        "description": "Search specifically for podcasts.",
        "tags": ["Search"],
        "parameters": [
          { "name": "q", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "index", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Podcast search results" }
        }
      }
    },
    "/track/{id}": {
      "get": {
        "operationId": "getTrack",
        "summary": "Get Track",
        "description": "Get detailed information about a track.",
        "tags": ["Tracks"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" }, "description": "Track ID." }
        ],
        "responses": {
          "200": {
            "description": "Track details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Track" }
              }
            }
          }
        }
      }
    },
    "/album/{id}": {
      "get": {
        "operationId": "getAlbum",
        "summary": "Get Album",
        "description": "Get detailed information about an album including its track listing.",
        "tags": ["Albums"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" }, "description": "Album ID." }
        ],
        "responses": {
          "200": {
            "description": "Album details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Album" }
              }
            }
          }
        }
      }
    },
    "/album/{id}/tracks": {
      "get": {
        "operationId": "getAlbumTracks",
        "summary": "Get Album Tracks",
        "description": "Get the track listing of an album.",
        "tags": ["Albums"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "name": "index", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Album tracks" }
        }
      }
    },
    "/artist/{id}": {
      "get": {
        "operationId": "getArtist",
        "summary": "Get Artist",
        "description": "Get detailed information about an artist.",
        "tags": ["Artists"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" }, "description": "Artist ID." }
        ],
        "responses": {
          "200": {
            "description": "Artist details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Artist" }
              }
            }
          }
        }
      }
    },
    "/artist/{id}/top": {
      "get": {
        "operationId": "getArtistTopTracks",
        "summary": "Get Artist Top Tracks",
        "description": "Get the top tracks of an artist.",
        "tags": ["Artists"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "name": "index", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Artist top tracks" }
        }
      }
    },
    "/artist/{id}/albums": {
      "get": {
        "operationId": "getArtistAlbums",
        "summary": "Get Artist Albums",
        "description": "Get the discography of an artist.",
        "tags": ["Artists"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "name": "index", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Artist albums" }
        }
      }
    },
    "/artist/{id}/related": {
      "get": {
        "operationId": "getRelatedArtists",
        "summary": "Get Related Artists",
        "description": "Get artists related to a given artist.",
        "tags": ["Artists"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "name": "index", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Related artists" }
        }
      }
    },
    "/artist/{id}/radio": {
      "get": {
        "operationId": "getArtistRadio",
        "summary": "Get Artist Radio",
        "description": "Get a list of tracks for the artist's radio.",
        "tags": ["Artists"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Artist radio tracks" }
        }
      }
    },
    "/artist/{id}/playlists": {
      "get": {
        "operationId": "getArtistPlaylists",
        "summary": "Get Artist Playlists",
        "description": "Get playlists featuring a given artist.",
        "tags": ["Artists"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "name": "index", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Playlists featuring the artist" }
        }
      }
    },
    "/playlist/{id}": {
      "get": {
        "operationId": "getPlaylist",
        "summary": "Get Playlist",
        "description": "Get detailed information about a playlist.",
        "tags": ["Playlists"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" }, "description": "Playlist ID." }
        ],
        "responses": {
          "200": { "description": "Playlist details" }
        }
      }
    },
    "/playlist/{id}/tracks": {
      "get": {
        "operationId": "getPlaylistTracks",
        "summary": "Get Playlist Tracks",
        "description": "Get the tracks in a playlist.",
        "tags": ["Playlists"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "name": "index", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Playlist tracks" }
        }
      }
    },
    "/genre": {
      "get": {
        "operationId": "getGenres",
        "summary": "Get All Genres",
        "description": "Get a list of all available music genres.",
        "tags": ["Genres"],
        "responses": {
          "200": {
            "description": "List of genres",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Genre" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/genre/{id}": {
      "get": {
        "operationId": "getGenre",
        "summary": "Get Genre",
        "description": "Get information about a specific genre.",
        "tags": ["Genres"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" }, "description": "Genre ID." }
        ],
        "responses": {
          "200": { "description": "Genre details" }
        }
      }
    },
    "/genre/{id}/artists": {
      "get": {
        "operationId": "getGenreArtists",
        "summary": "Get Genre Artists",
        "description": "Get the top artists for a genre.",
        "tags": ["Genres"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Genre artists" }
        }
      }
    },
    "/genre/{id}/radios": {
      "get": {
        "operationId": "getGenreRadios",
        "summary": "Get Genre Radios",
        "description": "Get radios for a genre.",
        "tags": ["Genres"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Genre radios" }
        }
      }
    },
    "/chart": {
      "get": {
        "operationId": "getCharts",
        "summary": "Get Charts",
        "description": "Get the top charts including tracks, albums, artists, playlists, and podcasts.",
        "tags": ["Charts"],
        "responses": {
          "200": {
            "description": "Chart data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tracks": {
                      "type": "object",
                      "properties": {
                        "data": { "type": "array", "items": { "$ref": "#/components/schemas/Track" } },
                        "total": { "type": "integer" }
                      }
                    },
                    "albums": {
                      "type": "object",
                      "properties": {
                        "data": { "type": "array" },
                        "total": { "type": "integer" }
                      }
                    },
                    "artists": {
                      "type": "object",
                      "properties": {
                        "data": { "type": "array" },
                        "total": { "type": "integer" }
                      }
                    },
                    "playlists": {
                      "type": "object",
                      "properties": {
                        "data": { "type": "array" },
                        "total": { "type": "integer" }
                      }
                    },
                    "podcasts": {
                      "type": "object",
                      "properties": {
                        "data": { "type": "array" },
                        "total": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/chart/0/tracks": {
      "get": {
        "operationId": "getChartTracks",
        "summary": "Get Chart Tracks",
        "description": "Get the top chart tracks.",
        "tags": ["Charts"],
        "parameters": [
          { "name": "index", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Chart tracks" }
        }
      }
    },
    "/chart/0/albums": {
      "get": {
        "operationId": "getChartAlbums",
        "summary": "Get Chart Albums",
        "description": "Get the top chart albums.",
        "tags": ["Charts"],
        "parameters": [
          { "name": "index", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Chart albums" }
        }
      }
    },
    "/chart/0/artists": {
      "get": {
        "operationId": "getChartArtists",
        "summary": "Get Chart Artists",
        "description": "Get the top chart artists.",
        "tags": ["Charts"],
        "parameters": [
          { "name": "index", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Chart artists" }
        }
      }
    },
    "/chart/0/playlists": {
      "get": {
        "operationId": "getChartPlaylists",
        "summary": "Get Chart Playlists",
        "description": "Get the top chart playlists.",
        "tags": ["Charts"],
        "parameters": [
          { "name": "index", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Chart playlists" }
        }
      }
    },
    "/radio": {
      "get": {
        "operationId": "getRadios",
        "summary": "Get Radios",
        "description": "Get a list of available radio stations.",
        "tags": ["Radio"],
        "responses": {
          "200": { "description": "List of radios" }
        }
      }
    },
    "/radio/genres": {
      "get": {
        "operationId": "getRadioGenres",
        "summary": "Get Radio Genres",
        "description": "Get radio stations organized by genre.",
        "tags": ["Radio"],
        "responses": {
          "200": { "description": "Radio genres" }
        }
      }
    },
    "/radio/top": {
      "get": {
        "operationId": "getTopRadios",
        "summary": "Get Top Radios",
        "description": "Get the most popular radio stations.",
        "tags": ["Radio"],
        "parameters": [
          { "name": "index", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Top radios" }
        }
      }
    },
    "/radio/{id}/tracks": {
      "get": {
        "operationId": "getRadioTracks",
        "summary": "Get Radio Tracks",
        "description": "Get tracks for a radio station.",
        "tags": ["Radio"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Radio tracks" }
        }
      }
    },
    "/user/me": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Get Current User",
        "description": "Get information about the authenticated user.",
        "tags": ["User"],
        "security": [{ "OAuth2": [] }],
        "parameters": [
          { "name": "access_token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "User details" }
        }
      }
    },
    "/user/{id}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get User",
        "description": "Get information about a user.",
        "tags": ["User"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" }, "description": "User ID." }
        ],
        "responses": {
          "200": { "description": "User details" }
        }
      }
    },
    "/user/me/playlists": {
      "get": {
        "operationId": "getUserPlaylists",
        "summary": "Get User Playlists",
        "description": "Get playlists of the authenticated user.",
        "tags": ["User"],
        "security": [{ "OAuth2": [] }],
        "parameters": [
          { "name": "access_token", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "index", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "User playlists" }
        }
      }
    },
    "/user/me/tracks": {
      "get": {
        "operationId": "getUserFavoriteTracks",
        "summary": "Get User Favorite Tracks",
        "description": "Get favorite tracks of the authenticated user.",
        "tags": ["User"],
        "security": [{ "OAuth2": [] }],
        "parameters": [
          { "name": "access_token", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "index", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "User favorite tracks" }
        }
      }
    },
    "/user/me/albums": {
      "get": {
        "operationId": "getUserFavoriteAlbums",
        "summary": "Get User Favorite Albums",
        "description": "Get favorite albums of the authenticated user.",
        "tags": ["User"],
        "security": [{ "OAuth2": [] }],
        "parameters": [
          { "name": "access_token", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "index", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "User favorite albums" }
        }
      }
    },
    "/user/me/artists": {
      "get": {
        "operationId": "getUserFavoriteArtists",
        "summary": "Get User Favorite Artists",
        "description": "Get favorite artists of the authenticated user.",
        "tags": ["User"],
        "security": [{ "OAuth2": [] }],
        "parameters": [
          { "name": "access_token", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "index", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "User favorite artists" }
        }
      }
    },
    "/podcast/{id}": {
      "get": {
        "operationId": "getPodcast",
        "summary": "Get Podcast",
        "description": "Get information about a podcast.",
        "tags": ["Podcasts"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" }, "description": "Podcast ID." }
        ],
        "responses": {
          "200": { "description": "Podcast details" }
        }
      }
    },
    "/podcast/{id}/episodes": {
      "get": {
        "operationId": "getPodcastEpisodes",
        "summary": "Get Podcast Episodes",
        "description": "Get episodes of a podcast.",
        "tags": ["Podcasts"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "name": "index", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Podcast episodes" }
        }
      }
    },
    "/episode/{id}": {
      "get": {
        "operationId": "getEpisode",
        "summary": "Get Episode",
        "description": "Get information about a podcast episode.",
        "tags": ["Podcasts"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" }, "description": "Episode ID." }
        ],
        "responses": {
          "200": { "description": "Episode details" }
        }
      }
    },
    "/editorial": {
      "get": {
        "operationId": "getEditorial",
        "summary": "Get Editorial",
        "description": "Get a list of all editorial content.",
        "tags": ["Editorial"],
        "responses": {
          "200": { "description": "Editorial list" }
        }
      }
    },
    "/editorial/{id}/selection": {
      "get": {
        "operationId": "getEditorialSelection",
        "summary": "Get Editorial Selection",
        "description": "Get the editorial selection for a given editorial.",
        "tags": ["Editorial"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Editorial selection" }
        }
      }
    },
    "/infos": {
      "get": {
        "operationId": "getInfos",
        "summary": "Get API Infos",
        "description": "Get information about the Deezer API including country and available offers.",
        "tags": ["Infos"],
        "responses": {
          "200": { "description": "API information" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "description": "Deezer OAuth2 authentication for user-specific endpoints.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://connect.deezer.com/oauth/auth.php",
            "tokenUrl": "https://connect.deezer.com/oauth/access_token.php",
            "scopes": {
              "basic_access": "Access user basic information",
              "email": "Access user email",
              "offline_access": "Access user data offline",
              "manage_library": "Manage user library",
              "manage_community": "Manage user social interactions",
              "delete_library": "Delete library items",
              "listening_history": "Access listening history"
            }
          }
        }
      }
    },
    "schemas": {
      "Track": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "readable": { "type": "boolean" },
          "title": { "type": "string" },
          "title_short": { "type": "string" },
          "title_version": { "type": "string" },
          "isrc": { "type": "string" },
          "link": { "type": "string", "format": "uri" },
          "duration": { "type": "integer", "description": "Duration in seconds." },
          "rank": { "type": "integer" },
          "explicit_lyrics": { "type": "boolean" },
          "explicit_content_lyrics": { "type": "integer" },
          "explicit_content_cover": { "type": "integer" },
          "preview": { "type": "string", "format": "uri", "description": "URL for 30-second preview." },
          "md5_image": { "type": "string" },
          "artist": { "$ref": "#/components/schemas/ArtistSummary" },
          "album": { "$ref": "#/components/schemas/AlbumSummary" },
          "type": { "type": "string", "const": "track" }
        }
      },
      "Album": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "title": { "type": "string" },
          "upc": { "type": "string" },
          "link": { "type": "string", "format": "uri" },
          "cover": { "type": "string", "format": "uri" },
          "cover_small": { "type": "string", "format": "uri" },
          "cover_medium": { "type": "string", "format": "uri" },
          "cover_big": { "type": "string", "format": "uri" },
          "cover_xl": { "type": "string", "format": "uri" },
          "md5_image": { "type": "string" },
          "genre_id": { "type": "integer" },
          "label": { "type": "string" },
          "nb_tracks": { "type": "integer" },
          "duration": { "type": "integer" },
          "fans": { "type": "integer" },
          "release_date": { "type": "string", "format": "date" },
          "record_type": { "type": "string" },
          "tracklist": { "type": "string", "format": "uri" },
          "explicit_lyrics": { "type": "boolean" },
          "artist": { "$ref": "#/components/schemas/ArtistSummary" },
          "tracks": {
            "type": "object",
            "properties": {
              "data": { "type": "array", "items": { "$ref": "#/components/schemas/Track" } }
            }
          },
          "type": { "type": "string", "const": "album" }
        }
      },
      "Artist": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "link": { "type": "string", "format": "uri" },
          "share": { "type": "string", "format": "uri" },
          "picture": { "type": "string", "format": "uri" },
          "picture_small": { "type": "string", "format": "uri" },
          "picture_medium": { "type": "string", "format": "uri" },
          "picture_big": { "type": "string", "format": "uri" },
          "picture_xl": { "type": "string", "format": "uri" },
          "nb_album": { "type": "integer" },
          "nb_fan": { "type": "integer" },
          "radio": { "type": "boolean" },
          "tracklist": { "type": "string", "format": "uri" },
          "type": { "type": "string", "const": "artist" }
        }
      },
      "ArtistSummary": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "link": { "type": "string", "format": "uri" },
          "picture": { "type": "string", "format": "uri" },
          "picture_small": { "type": "string", "format": "uri" },
          "picture_medium": { "type": "string", "format": "uri" },
          "picture_big": { "type": "string", "format": "uri" },
          "picture_xl": { "type": "string", "format": "uri" },
          "tracklist": { "type": "string", "format": "uri" },
          "type": { "type": "string", "const": "artist" }
        }
      },
      "AlbumSummary": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "title": { "type": "string" },
          "cover": { "type": "string", "format": "uri" },
          "cover_small": { "type": "string", "format": "uri" },
          "cover_medium": { "type": "string", "format": "uri" },
          "cover_big": { "type": "string", "format": "uri" },
          "cover_xl": { "type": "string", "format": "uri" },
          "md5_image": { "type": "string" },
          "tracklist": { "type": "string", "format": "uri" },
          "type": { "type": "string", "const": "album" }
        }
      },
      "Genre": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "picture": { "type": "string", "format": "uri" },
          "picture_small": { "type": "string", "format": "uri" },
          "picture_medium": { "type": "string", "format": "uri" },
          "picture_big": { "type": "string", "format": "uri" },
          "picture_xl": { "type": "string", "format": "uri" },
          "type": { "type": "string", "const": "genre" }
        }
      }
    }
  },
  "tags": [
    { "name": "Search", "description": "Search for music content." },
    { "name": "Tracks", "description": "Track information." },
    { "name": "Albums", "description": "Album information and tracks." },
    { "name": "Artists", "description": "Artist information, discography, and related content." },
    { "name": "Playlists", "description": "Playlist information and tracks." },
    { "name": "Genres", "description": "Music genres." },
    { "name": "Charts", "description": "Top charts." },
    { "name": "Radio", "description": "Radio stations." },
    { "name": "User", "description": "User data (requires OAuth2 authentication)." },
    { "name": "Podcasts", "description": "Podcast and episode information." },
    { "name": "Editorial", "description": "Editorial content." },
    { "name": "Infos", "description": "API information." }
  ]
}