{
  "openapi": "3.0.3",
  "info": {
    "title": "Slack Web API (scoped)",
    "version": "1.8.0",
    "description": "Scoped OpenAPI 3.0 specification for the Slack Web API, generated from Slack's current documentation at https://docs.slack.dev/reference/methods (retrieved 2026-07-09). Covers the chat, conversations, auth, users, canvases, and bookmarks method families. This is a generated spec (Slack no longer publishes an official OpenAPI document); the last official Slack OpenAPI was v1.7.0, frozen in 2020.",
    "contact": {
      "name": "Slack API docs",
      "url": "https://docs.slack.dev/reference/methods"
    },
    "license": {
      "name": "MIT"
    },
    "x-jentic-source-url": "https://docs.slack.dev/reference/methods",
    "x-generated": "2026-07-09 from docs.slack.dev markdown pages"
  },
  "servers": [
    {
      "url": "https://slack.com/api"
    }
  ],
  "security": [
    {
      "slackBearer": []
    }
  ],
  "tags": [
    {
      "name": "auth"
    },
    {
      "name": "bookmarks"
    },
    {
      "name": "canvases"
    },
    {
      "name": "chat"
    },
    {
      "name": "conversations"
    },
    {
      "name": "users"
    }
  ],
  "paths": {
    "/auth.revoke": {
      "get": {
        "operationId": "auth_revoke",
        "summary": "Revokes a token.",
        "tags": [
          "auth"
        ],
        "security": [
          {
            "slackBearer": []
          },
          {
            "slackOAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Standard Slack response envelope. Check the `ok` field; on failure, `error` holds a machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackResponse"
                }
              }
            }
          }
        },
        "description": "Revokes a token.",
        "parameters": [
          {
            "name": "test",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "example": true
            },
            "description": "Setting this parameter to 1 triggers a _testing mode_ where the specified token will not actually be revoked."
          }
        ]
      }
    },
    "/auth.teams.list": {
      "post": {
        "operationId": "auth_teams_list",
        "summary": "Obtain a full list of workspaces your org-wide app has been approved for.",
        "tags": [
          "auth"
        ],
        "security": [
          {
            "slackBearer": []
          },
          {
            "slackOAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Standard Slack response envelope. Check the `ok` field; on failure, `error` holds a machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackResponse"
                }
              }
            }
          }
        },
        "description": "Obtain a full list of workspaces your org-wide app has been approved for.",
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "description": "The maximum number of workspaces to return. Must be a positive integer no larger than 1000. _Default:_ 100",
                    "example": 50
                  },
                  "cursor": {
                    "type": "string",
                    "description": "Set cursor to next_cursor returned by the previous call to list items in the next page.",
                    "example": "5c3e53d5"
                  },
                  "include_icon": {
                    "type": "boolean",
                    "description": "Whether to return icon paths for each workspace. An icon path represents a URI pointing to the image signifying the workspace. _Default:_ false",
                    "example": false
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth.test": {
      "post": {
        "operationId": "auth_test",
        "summary": "Checks authentication & identity.",
        "tags": [
          "auth"
        ],
        "security": [
          {
            "slackBearer": []
          },
          {
            "slackOAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Standard Slack response envelope. Check the `ok` field; on failure, `error` holds a machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackResponse"
                }
              }
            }
          }
        },
        "description": "Checks authentication & identity."
      }
    },
    "/bookmarks.add": {
      "post": {
        "operationId": "bookmarks_add",
        "summary": "Add bookmark to a channel.",
        "tags": [
          "bookmarks"
        ],
        "security": [
          {
            "slackBearer": []
          },
          {
            "slackOAuth": [
              "bookmarks:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Standard Slack response envelope. Check the `ok` field; on failure, `error` holds a machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackResponse"
                }
              }
            }
          }
        },
        "description": "Add bookmark to a channel.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Title for the bookmark."
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of the bookmark i.e link."
                  },
                  "channel_id": {
                    "type": "string",
                    "description": "Channel to add bookmark in. Required for public channels."
                  },
                  "link": {
                    "type": "string",
                    "description": "Link to bookmark."
                  },
                  "emoji": {
                    "type": "string",
                    "description": "Emoji tag to apply to the link."
                  },
                  "entity_id": {
                    "type": "string",
                    "description": "ID of the entity being bookmarked. Only applies to message and file types."
                  },
                  "access_level": {
                    "type": "string",
                    "description": "The level that we are setting the file's permission to (read or write) _Acceptable values:_ read write"
                  },
                  "parent_id": {
                    "type": "string",
                    "description": "Id of this bookmark's parent"
                  }
                },
                "required": [
                  "title",
                  "type"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Title for the bookmark."
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of the bookmark i.e link."
                  },
                  "channel_id": {
                    "type": "string",
                    "description": "Channel to add bookmark in. Required for public channels."
                  },
                  "link": {
                    "type": "string",
                    "description": "Link to bookmark."
                  },
                  "emoji": {
                    "type": "string",
                    "description": "Emoji tag to apply to the link."
                  },
                  "entity_id": {
                    "type": "string",
                    "description": "ID of the entity being bookmarked. Only applies to message and file types."
                  },
                  "access_level": {
                    "type": "string",
                    "description": "The level that we are setting the file's permission to (read or write) _Acceptable values:_ read write"
                  },
                  "parent_id": {
                    "type": "string",
                    "description": "Id of this bookmark's parent"
                  }
                },
                "required": [
                  "title",
                  "type"
                ]
              }
            }
          }
        }
      }
    },
    "/bookmarks.edit": {
      "post": {
        "operationId": "bookmarks_edit",
        "summary": "Edit bookmark.",
        "tags": [
          "bookmarks"
        ],
        "security": [
          {
            "slackBearer": []
          },
          {
            "slackOAuth": [
              "bookmarks:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Standard Slack response envelope. Check the `ok` field; on failure, `error` holds a machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackResponse"
                }
              }
            }
          }
        },
        "description": "Edit bookmark.",
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "description": "Channel to update bookmark in. Required for public channels."
                  },
                  "bookmark_id": {
                    "type": "string",
                    "description": "Bookmark to update. Required for public channels."
                  },
                  "title": {
                    "type": "string",
                    "description": "Title for the bookmark."
                  },
                  "link": {
                    "type": "string",
                    "description": "Link to bookmark."
                  },
                  "emoji": {
                    "type": "string",
                    "description": "Emoji tag to apply to the link."
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "description": "Channel to update bookmark in. Required for public channels."
                  },
                  "bookmark_id": {
                    "type": "string",
                    "description": "Bookmark to update. Required for public channels."
                  },
                  "title": {
                    "type": "string",
                    "description": "Title for the bookmark."
                  },
                  "link": {
                    "type": "string",
                    "description": "Link to bookmark."
                  },
                  "emoji": {
                    "type": "string",
                    "description": "Emoji tag to apply to the link."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bookmarks.list": {
      "post": {
        "operationId": "bookmarks_list",
        "summary": "List bookmark for the channel.",
        "tags": [
          "bookmarks"
        ],
        "security": [
          {
            "slackBearer": []
          },
          {
            "slackOAuth": [
              "bookmarks:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Standard Slack response envelope. Check the `ok` field; on failure, `error` holds a machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackResponse"
                }
              }
            }
          }
        },
        "description": "List bookmark for the channel.",
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "description": "Channel to list bookmarks in. Required for public channels."
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "description": "Channel to list bookmarks in. Required for public channels."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bookmarks.remove": {
      "post": {
        "operationId": "bookmarks_remove",
        "summary": "Remove bookmark from the channel.",
        "tags": [
          "bookmarks"
        ],
        "security": [
          {
            "slackBearer": []
          },
          {
            "slackOAuth": [
              "bookmarks:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Standard Slack response envelope. Check the `ok` field; on failure, `error` holds a machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackResponse"
                }
              }
            }
          }
        },
        "description": "Remove bookmark from the channel.",
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "description": "Channel to remove bookmark. Required for public channels."
                  },
                  "bookmark_id": {
                    "type": "string",
                    "description": "Bookmark to remove. Required for public channels."
                  },
                  "quip_section_id": {
                    "type": "string",
                    "description": "Quip section ID to unbookmark"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "description": "Channel to remove bookmark. Required for public channels."
                  },
                  "bookmark_id": {
                    "type": "string",
                    "description": "Bookmark to remove. Required for public channels."
                  },
                  "quip_section_id": {
                    "type": "string",
                    "description": "Quip section ID to unbookmark"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/canvases.access.delete": {
      "post": {
        "operationId": "canvases_access_delete",
        "summary": "Remove access to a canvas for specified entities",
        "tags": [
          "canvases"
        ],
        "security": [
          {
            "slackBearer": []
          },
          {
            "slackOAuth": [
              "canvases:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Standard Slack response envelope. Check the `ok` field; on failure, `error` holds a machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackResponse"
                }
              }
            }
          }
        },
        "description": "Remove access to a canvas for specified entities",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "canvas_id": {
                    "type": "string",
                    "description": "Encoded ID of the canvas",
                    "example": "F1234ABCD"
                  },
                  "channel_ids": {
                    "type": "string",
                    "description": "(array) List of channels you wish to update access for",
                    "example": "[\"C1234ABCD\"]"
                  },
                  "user_ids": {
                    "type": "string",
                    "description": "(array) List of users you wish to update access for",
                    "example": "[\"U1234ABCD\"]"
                  }
                },
                "required": [
                  "canvas_id"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "canvas_id": {
                    "type": "string",
                    "description": "Encoded ID of the canvas",
                    "example": "F1234ABCD"
                  },
                  "channel_ids": {
                    "type": "string",
                    "description": "(array) List of channels you wish to update access for",
                    "example": "[\"C1234ABCD\"]"
                  },
                  "user_ids": {
                    "type": "string",
                    "description": "(array) List of users you wish to update access for",
                    "example": "[\"U1234ABCD\"]"
                  }
                },
                "required": [
                  "canvas_id"
                ]
              }
            }
          }
        }
      }
    },
    "/canvases.access.set": {
      "post": {
        "operationId": "canvases_access_set",
        "summary": "Sets the access level to a canvas for specified entities",
        "tags": [
          "canvases"
        ],
        "security": [
          {
            "slackBearer": []
          },
          {
            "slackOAuth": [
              "canvases:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Standard Slack response envelope. Check the `ok` field; on failure, `error` holds a machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackResponse"
                }
              }
            }
          }
        },
        "description": "Sets the access level to a canvas for specified entities",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "canvas_id": {
                    "type": "string",
                    "description": "Encoded ID of the canvas",
                    "example": "F1234ABCD"
                  },
                  "access_level": {
                    "type": "string",
                    "description": "Desired level of access _Acceptable values:_ read write owner"
                  },
                  "channel_ids": {
                    "type": "string",
                    "description": "(array) List of channels you wish to update access for. Can only be used if user\\_ids is not provided.",
                    "example": "[\"C1234ABCD\"]"
                  },
                  "user_ids": {
                    "type": "string",
                    "description": "(array) List of users you wish to update access for. Can only be used if channel\\_ids is not provided.",
                    "example": "[\"U1234ABCD\"]"
                  }
                },
                "required": [
                  "canvas_id",
                  "access_level"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "canvas_id": {
                    "type": "string",
                    "description": "Encoded ID of the canvas",
                    "example": "F1234ABCD"
                  },
                  "access_level": {
                    "type": "string",
                    "description": "Desired level of access _Acceptable values:_ read write owner"
                  },
                  "channel_ids": {
                    "type": "string",
                    "description": "(array) List of channels you wish to update access for. Can only be used if user\\_ids is not provided.",
                    "example": "[\"C1234ABCD\"]"
                  },
                  "user_ids": {
                    "type": "string",
                    "description": "(array) List of users you wish to update access for. Can only be used if channel\\_ids is not provided.",
                    "example": "[\"U1234ABCD\"]"
                  }
                },
                "required": [
                  "canvas_id",
                  "access_level"
                ]
              }
            }
          }
        }
      }
    },
    "/canvases.create": {
      "post": {
        "operationId": "canvases_create",
        "summary": "Create canvas for a user",
        "tags": [
          "canvases"
        ],
        "security": [
          {
            "slackBearer": []
          },
          {
            "slackOAuth": [
              "canvases:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Standard Slack response envelope. Check the `ok` field; on failure, `error` holds a machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackResponse"
                }
              }
            }
          }
        },
        "description": "Create canvas for a user",
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Title of the newly created canvas",
                    "example": "Your Brilliant Title"
                  },
                  "document_content": {
                    "type": "string",
                    "description": "Structure describing the type and value of the content to create",
                    "example": "{\"type\": \"markdown\", \"markdown\": \"> standalone canvas!\"}"
                  },
                  "channel_id": {
                    "type": "string",
                    "description": "Channel ID of the channel the canvas will be tabbed in. This is a required field for free teams."
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Title of the newly created canvas",
                    "example": "Your Brilliant Title"
                  },
                  "document_content": {
                    "type": "string",
                    "description": "Structure describing the type and value of the content to create",
                    "example": "{\"type\": \"markdown\", \"markdown\": \"> standalone canvas!\"}"
                  },
                  "channel_id": {
                    "type": "string",
                    "description": "Channel ID of the channel the canvas will be tabbed in. This is a required field for free teams."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/canvases.delete": {
      "post": {
        "operationId": "canvases_delete",
        "summary": "Deletes a canvas",
        "tags": [
          "canvases"
        ],
        "security": [
          {
            "slackBearer": []
          },
          {
            "slackOAuth": [
              "canvases:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Standard Slack response envelope. Check the `ok` field; on failure, `error` holds a machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackResponse"
                }
              }
            }
          }
        },
        "description": "Deletes a canvas",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "canvas_id": {
                    "type": "string",
                    "description": "Encoded ID of the canvas",
                    "example": "F1234ABCD"
                  }
                },
                "required": [
                  "canvas_id"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "canvas_id": {
                    "type": "string",
                    "description": "Encoded ID of the canvas",
                    "example": "F1234ABCD"
                  }
                },
                "required": [
                  "canvas_id"
                ]
              }
            }
          }
        }
      }
    },
    "/canvases.edit": {
      "post": {
        "operationId": "canvases_edit",
        "summary": "Update an existing canvas",
        "tags": [
          "canvases"
        ],
        "security": [
          {
            "slackBearer": []
          },
          {
            "slackOAuth": [
              "canvases:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Standard Slack response envelope. Check the `ok` field; on failure, `error` holds a machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackResponse"
                }
              }
            }
          }
        },
        "description": "Update an existing canvas",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "canvas_id": {
                    "type": "string",
                    "description": "Encoded ID of the canvas",
                    "example": "F1234ABCD"
                  },
                  "changes": {
                    "type": "string",
                    "description": "(array) List of changes to apply on the specified canvas",
                    "example": "[{\"operation\":\"insert_before\",\"document_content\":{\"type\":\"markdown\",\"markdown\":\"Example content\"},\"section_id\":\"temp:C:AAAAAAAAAAAAAAAAAAAAAAAAAAAA\"}]"
                  }
                },
                "required": [
                  "canvas_id",
                  "changes"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "canvas_id": {
                    "type": "string",
                    "description": "Encoded ID of the canvas",
                    "example": "F1234ABCD"
                  },
                  "changes": {
                    "type": "string",
                    "description": "(array) List of changes to apply on the specified canvas",
                    "example": "[{\"operation\":\"insert_before\",\"document_content\":{\"type\":\"markdown\",\"markdown\":\"Example content\"},\"section_id\":\"temp:C:AAAAAAAAAAAAAAAAAAAAAAAAAAAA\"}]"
                  }
                },
                "required": [
                  "canvas_id",
                  "changes"
                ]
              }
            }
          }
        }
      }
    },
    "/canvases.sections.lookup": {
      "post": {
        "operationId": "canvases_sections_lookup",
        "summary": "Find sections matching the provided criteria",
        "tags": [
          "canvases"
        ],
        "security": [
          {
            "slackBearer": []
          },
          {
            "slackOAuth": [
              "canvases:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Standard Slack response envelope. Check the `ok` field; on failure, `error` holds a machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackResponse"
                }
              }
            }
          }
        },
        "description": "Find sections matching the provided criteria",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "canvas_id": {
                    "type": "string",
                    "description": "Encoded ID of the canvas",
                    "example": "F1234ABCD"
                  },
                  "criteria": {
                    "type": "string",
                    "description": "Filtering criteria",
                    "example": "{\"section_types\": [\"any_header\"], \"contains_text\": \"CAN Report\"}"
                  }
                },
                "required": [
                  "canvas_id",
                  "criteria"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "canvas_id": {
                    "type": "string",
                    "description": "Encoded ID of the canvas",
                    "example": "F1234ABCD"
                  },
                  "criteria": {
                    "type": "string",
                    "description": "Filtering criteria",
                    "example": "{\"section_types\": [\"any_header\"], \"contains_text\": \"CAN Report\"}"
                  }
                },
                "required": [
                  "canvas_id",
                  "criteria"
                ]
              }
            }
          }
        }
      }
    },
    "/chat.appendStream": {
      "post": {
        "operationId": "chat_appendStream",
        "summary": "Appends text to an existing streaming conversation.",
        "tags": [
          "chat"
        ],
        "security": [
          {
            "slackBearer": []
          },
          {
            "slackOAuth": [
              "chat:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Standard Slack response envelope. Check the `ok` field; on failure, `error` holds a machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackResponse"
                }
              }
            }
          }
        },
        "description": "Appends text to an existing streaming conversation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel": {
                    "type": "string",
                    "description": "An encoded ID that represents a channel, private group, or DM"
                  },
                  "ts": {
                    "type": "string",
                    "description": "The timestamp of the streaming message."
                  },
                  "markdown_text": {
                    "type": "string",
                    "description": "Accepts message text formatted in markdown. Limit this field to 12,000 characters. This text is what will be appended to the message received so far.",
                    "example": "**This is bold text**"
                  },
                  "chunks": {
                    "type": "string",
                    "description": "(array) Array of streaming chunks."
                  }
                },
                "required": [
                  "channel",
                  "ts",
                  "markdown_text"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel": {
                    "type": "string",
                    "description": "An encoded ID that represents a channel, private group, or DM"
                  },
                  "ts": {
                    "type": "string",
                    "description": "The timestamp of the streaming message."
                  },
                  "markdown_text": {
                    "type": "string",
                    "description": "Accepts message text formatted in markdown. Limit this field to 12,000 characters. This text is what will be appended to the message received so far.",
                    "example": "**This is bold text**"
                  },
                  "chunks": {
                    "type": "string",
                    "description": "(array) Array of streaming chunks."
                  }
                },
                "required": [
                  "channel",
                  "ts",
                  "markdown_text"
                ]
              }
            }
          }
        }
      }
    },
    "/chat.delete": {
      "post": {
        "operationId": "chat_delete",
        "summary": "Deletes a message.",
        "tags": [
          "chat"
        ],
        "security": [
          {
            "slackBearer": []
          },
          {
            "slackOAuth": [
              "chat:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Standard Slack response envelope. Check the `ok` field; on failure, `error` holds a machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackResponse"
                }
              }
            }
          }
        },
        "description": "Deletes a message.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel": {
                    "type": "string",
                    "description": "Channel containing the message to be deleted."
                  },
                  "ts": {
                    "type": "string",
                    "description": "Timestamp of the message to be deleted.",
                    "example": "\"1405894322.002768\""
                  },
                  "as_user": {
                    "type": "boolean",
                    "description": "(Legacy) Pass true to delete the message as the authed user with chat:write:user scope. Bot users in this context are considered authed users. See legacy as_user parameter below.",
                    "example": true
                  }
                },
                "required": [
                  "channel",
                  "ts"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel": {
                    "type": "string",
                    "description": "Channel containing the message to be deleted."
                  },
                  "ts": {
                    "type": "string",
                    "description": "Timestamp of the message to be deleted.",
                    "example": "\"1405894322.002768\""
                  },
                  "as_user": {
                    "type": "boolean",
                    "description": "(Legacy) Pass true to delete the message as the authed user with chat:write:user scope. Bot users in this context are considered authed users. See legacy as_user parameter below.",
                    "example": true
                  }
                },
                "required": [
                  "channel",
                  "ts"
                ]
              }
            }
          }
        }
      }
    },
    "/chat.deleteScheduledMessage": {
      "post": {
        "operationId": "chat_deleteScheduledMessage",
        "summary": "Deletes a pending scheduled message from the queue.",
        "tags": [
          "chat"
        ],
        "security": [
          {
            "slackBearer": []
          },
          {
            "slackOAuth": [
              "chat:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Standard Slack response envelope. Check the `ok` field; on failure, `error` holds a machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackResponse"
                }
              }
            }
          }
        },
        "description": "Deletes a pending scheduled message from the queue.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel": {
                    "type": "string",
                    "description": "The channel the scheduled\\_message is posting to",
                    "example": "C123456789"
                  },
                  "scheduled_message_id": {
                    "type": "string",
                    "description": "scheduled_message_id returned from call to chat.scheduleMessage",
                    "example": "Q1234ABCD"
                  },
                  "as_user": {
                    "type": "boolean",
                    "description": "Pass true to delete the message as the authed user with chat:write:user scope. Bot users in this context are considered authed users. If unused or false, the message will be deleted with chat:write:bot scope.",
                    "example": true
                  }
                },
                "required": [
                  "channel",
                  "scheduled_message_id"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel": {
                    "type": "string",
                    "description": "The channel the scheduled\\_message is posting to",
                    "example": "C123456789"
                  },
                  "scheduled_message_id": {
                    "type": "string",
                    "description": "scheduled_message_id returned from call to chat.scheduleMessage",
                    "example": "Q1234ABCD"
                  },
                  "as_user": {
                    "type": "boolean",
                    "description": "Pass true to delete the message as the authed user with chat:write:user scope. Bot users in this context are considered authed users. If unused or false, the message will be deleted with chat:write:bot scope.",
                    "example": true
                  }
                },
                "required": [
                  "channel",
                  "scheduled_message_id"
                ]
              }
            }
          }
        }
      }
    },
    "/chat.getPermalink": {
      "get": {
        "operationId": "chat_getPermalink",
        "summary": "Retrieve a permalink URL for a specific extant message",
        "tags": [
          "chat"
        ],
        "security": [
          {
            "slackBearer": []
          },
          {
            "slackOAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Standard Slack response envelope. Check the `ok` field; on failure, `error` holds a machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackResponse"
                }
              }
            }
          }
        },
        "description": "Retrieve a permalink URL for a specific extant message",
        "parameters": [
          {
            "name": "channel",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the conversation or channel containing the message"
          },
          {
            "name": "message_ts",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A message's ts value, uniquely identifying it within a channel"
          }
        ]
      }
    },
    "/chat.meMessage": {
      "post": {
        "operationId": "chat_meMessage",
        "summary": "Share a me message into a channel.",
        "tags": [
          "chat"
        ],
        "security": [
          {
            "slackBearer": []
          },
          {
            "slackOAuth": [
              "chat:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Standard Slack response envelope. Check the `ok` field; on failure, `error` holds a machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackResponse"
                }
              }
            }
          }
        },
        "description": "Share a me message into a channel.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel": {
                    "type": "string",
                    "description": "Channel to send message to. Can be a public channel, private group or IM channel. Can be an encoded ID, or a name."
                  },
                  "text": {
                    "type": "string",
                    "description": "Text of the message to send.",
                    "example": "Hello world"
                  }
                },
                "required": [
                  "channel",
                  "text"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel": {
                    "type": "string",
                    "description": "Channel to send message to. Can be a public channel, private group or IM channel. Can be an encoded ID, or a name."
                  },
                  "text": {
                    "type": "string",
                    "description": "Text of the message to send.",
                    "example": "Hello world"
                  }
                },
                "required": [
                  "channel",
                  "text"
                ]
              }
            }
          }
        }
      }
    },
    "/chat.postEphemeral": {
      "post": {
        "operationId": "chat_postEphemeral",
        "summary": "Sends an ephemeral message to a user in a channel.",
        "tags": [
          "chat"
        ],
        "security": [
          {
            "slackBearer": []
          },
          {
            "slackOAuth": [
              "chat:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Standard Slack response envelope. Check the `ok` field; on failure, `error` holds a machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackResponse"
                }
              }
            }
          }
        },
        "description": "Sends an ephemeral message to a user in a channel.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel": {
                    "type": "string",
                    "description": "Channel, private group, or IM channel to send message to. Can be an encoded ID, or a name."
                  },
                  "user": {
                    "type": "string",
                    "description": "id of the user who will receive the ephemeral message. The user should be in the channel specified by the channel argument.",
                    "example": "U0BPQUNTA"
                  },
                  "as_user": {
                    "type": "boolean",
                    "description": "(Legacy) Pass true to post the message as the authed user. Defaults to true if the chat:write:bot scope is not included. Otherwise, defaults to false.",
                    "example": true
                  },
                  "attachments": {
                    "type": "string",
                    "description": "A JSON-based array of structured attachments, presented as a URL-encoded string.",
                    "example": "[{\"pretext\": \"pre-hello\", \"text\": \"text-world\"}]"
                  },
                  "blocks": {
                    "type": "string",
                    "description": "A JSON-based array of structured blocks, presented as a URL-encoded string.",
                    "example": "[{\"type\": \"section\", \"text\": {\"type\": \"plain_text\", \"text\": \"Hello world\"}}]"
                  },
                  "icon_emoji": {
                    "type": "string",
                    "description": "Emoji to use as the icon for this message. Overrides icon_url.",
                    "example": ":chart_with_upwards_trend:"
                  },
                  "icon_url": {
                    "type": "string",
                    "description": "URL to an image to use as the icon for this message.",
                    "example": "http://lorempixel.com/48/48"
                  },
                  "link_names": {
                    "type": "boolean",
                    "description": "Find and link channel names and usernames.",
                    "example": true
                  },
                  "markdown_text": {
                    "type": "string",
                    "description": "Accepts message text formatted in markdown. This argument should not be used in conjunction with blocks or text. Limit this field to 12,000 characters.",
                    "example": "**This is bold text**"
                  },
                  "parse": {
                    "type": "string",
                    "description": "Change how messages are treated. Defaults to none. See below. _Acceptable values:_ none full mrkdwn false",
                    "example": "full"
                  },
                  "text": {
                    "type": "string",
                    "description": "How this field works and whether it is required depends on other fields you use in your API call. See below for more detail.",
                    "example": "Hello world"
                  },
                  "thread_ts": {
                    "type": "string",
                    "description": "Provide another message's ts value to post this message in a thread. Avoid using a reply's ts value; use its parent's value instead. Ephemeral messages in threads are only shown if there is already an active thread."
                  },
                  "username": {
                    "type": "string",
                    "description": "Set your bot's user name.",
                    "example": "My Bot"
                  }
                },
                "required": [
                  "channel",
                  "user"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel": {
                    "type": "string",
                    "description": "Channel, private group, or IM channel to send message to. Can be an encoded ID, or a name."
                  },
                  "user": {
                    "type": "string",
                    "description": "id of the user who will receive the ephemeral message. The user should be in the channel specified by the channel argument.",
                    "example": "U0BPQUNTA"
                  },
                  "as_user": {
                    "type": "boolean",
                    "description": "(Legacy) Pass true to post the message as the authed user. Defaults to true if the chat:write:bot scope is not included. Otherwise, defaults to false.",
                    "example": true
                  },
                  "attachments": {
                    "type": "string",
                    "description": "A JSON-based array of structured attachments, presented as a URL-encoded string.",
                    "example": "[{\"pretext\": \"pre-hello\", \"text\": \"text-world\"}]"
                  },
                  "blocks": {
                    "type": "string",
                    "description": "A JSON-based array of structured blocks, presented as a URL-encoded string.",
                    "example": "[{\"type\": \"section\", \"text\": {\"type\": \"plain_text\", \"text\": \"Hello world\"}}]"
                  },
                  "icon_emoji": {
                    "type": "string",
                    "description": "Emoji to use as the icon for this message. Overrides icon_url.",
                    "example": ":chart_with_upwards_trend:"
                  },
                  "icon_url": {
                    "type": "string",
                    "description": "URL to an image to use as the icon for this message.",
                    "example": "http://lorempixel.com/48/48"
                  },
                  "link_names": {
                    "type": "boolean",
                    "description": "Find and link channel names and usernames.",
                    "example": true
                  },
                  "markdown_text": {
                    "type": "string",
                    "description": "Accepts message text formatted in markdown. This argument should not be used in conjunction with blocks or text. Limit this field to 12,000 characters.",
                    "example": "**This is bold text**"
                  },
                  "parse": {
                    "type": "string",
                    "description": "Change how messages are treated. Defaults to none. See below. _Acceptable values:_ none full mrkdwn false",
                    "example": "full"
                  },
                  "text": {
                    "type": "string",
                    "description": "How this field works and whether it is required depends on other fields you use in your API call. See below for more detail.",
                    "example": "Hello world"
                  },
                  "thread_ts": {
                    "type": "string",
                    "description": "Provide another message's ts value to post this message in a thread. Avoid using a reply's ts value; use its parent's value instead. Ephemeral messages in threads are only shown if there is already an active thread."
                  },
                  "username": {
                    "type": "string",
                    "description": "Set your bot's user name.",
                    "example": "My Bot"
                  }
                },
                "required": [
                  "channel",
                  "user"
                ]
              }
            }
          }
        }
      }
    },
    "/chat.postMessage": {
      "post": {
        "operationId": "chat_postMessage",
        "summary": "Sends a message to a channel.",
        "tags": [
          "chat"
        ],
        "security": [
          {
            "slackBearer": []
          },
          {
            "slackOAuth": [
              "chat:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Standard Slack response envelope. Check the `ok` field; on failure, `error` holds a machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackResponse"
                }
              }
            }
          }
        },
        "description": "Sends a message to a channel.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel": {
                    "type": "string",
                    "description": "An encoded ID or channel name that represents a channel, private group, or IM channel to send the message to. See below for more details."
                  },
                  "as_user": {
                    "type": "boolean",
                    "description": "(Legacy) Pass true to post the message as the authed user instead of as a bot. Defaults to false. Can only be used by classic apps. See legacy as_user parameter below.",
                    "example": true
                  },
                  "attachments": {
                    "type": "string",
                    "description": "A JSON-based array of structured attachments, presented as a URL-encoded string.",
                    "example": "[{\"pretext\": \"pre-hello\", \"text\": \"text-world\"}]"
                  },
                  "blocks": {
                    "type": "string",
                    "description": "A JSON-based array of structured blocks, presented as a URL-encoded string.",
                    "example": "[{\"type\": \"section\", \"text\": {\"type\": \"plain_text\", \"text\": \"Hello world\"}}]"
                  },
                  "current_draft_last_updated_ts": {
                    "type": "string",
                    "description": "This field represents the timestamp of the draft's last update at the time this API is called. If the current message is a draft, this field can be provided to ensure synchronization with the server.",
                    "example": "1524523204.000192"
                  },
                  "icon_emoji": {
                    "type": "string",
                    "description": "Emoji to use as the icon for this message. Overrides icon_url.",
                    "example": ":chart_with_upwards_trend:"
                  },
                  "icon_url": {
                    "type": "string",
                    "description": "URL to an image to use as the icon for this message.",
                    "example": "http://lorempixel.com/48/48"
                  },
                  "link_names": {
                    "type": "boolean",
                    "description": "Find and link user groups. No longer supports linking individual users; use syntax shown in Mentioning Users instead.",
                    "example": true
                  },
                  "markdown_text": {
                    "type": "string",
                    "description": "Accepts message text formatted in markdown. This argument should not be used in conjunction with blocks or text. Limit this field to 12,000 characters.",
                    "example": "**This is bold text**"
                  },
                  "metadata": {
                    "type": "string",
                    "description": "JSON object with event\\_type and event\\_payload fields, presented as a URL-encoded string. You can also provide Work Object entity metadata using this parameter. Metadata you post to Slack is accessible to any app or user who is a member of that workspace.",
                    "example": "{\"event_type\": \"task_created\", \"event_payload\": { \"id\": \"11223\", \"title\": \"Redesign Homepage\"}}"
                  },
                  "mrkdwn": {
                    "type": "boolean",
                    "description": "Disable Slack markup parsing by setting to false. Enabled by default. _Default:_ true",
                    "example": false
                  },
                  "parse": {
                    "type": "string",
                    "description": "Change how messages are treated. See below.",
                    "example": "full"
                  },
                  "reply_broadcast": {
                    "type": "boolean",
                    "description": "Used in conjunction with thread_ts and indicates whether reply should be made visible to everyone in the channel or conversation. Defaults to false.",
                    "example": true
                  },
                  "text": {
                    "type": "string",
                    "description": "How this field works and whether it is required depends on other fields you use in your API call. See below for more detail.",
                    "example": "Hello world"
                  },
                  "thread_ts": {
                    "type": "string",
                    "description": "Provide another message's ts value to make this message a reply. Avoid using a reply's ts value; use its parent instead."
                  },
                  "unfurl_links": {
                    "type": "boolean",
                    "description": "Pass true to enable unfurling of primarily text-based content.",
                    "example": true
                  },
                  "unfurl_media": {
                    "type": "boolean",
                    "description": "Pass false to disable unfurling of media content.",
                    "example": false
                  },
                  "username": {
                    "type": "string",
                    "description": "Set your bot's user name.",
                    "example": "My Bot"
                  }
                },
                "required": [
                  "channel"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel": {
                    "type": "string",
                    "description": "An encoded ID or channel name that represents a channel, private group, or IM channel to send the message to. See below for more details."
                  },
                  "as_user": {
                    "type": "boolean",
                    "description": "(Legacy) Pass true to post the message as the authed user instead of as a bot. Defaults to false. Can only be used by classic apps. See legacy as_user parameter below.",
                    "example": true
                  },
                  "attachments": {
                    "type": "string",
                    "description": "A JSON-based array of structured attachments, presented as a URL-encoded string.",
                    "example": "[{\"pretext\": \"pre-hello\", \"text\": \"text-world\"}]"
                  },
                  "blocks": {
                    "type": "string",
                    "description": "A JSON-based array of structured blocks, presented as a URL-encoded string.",
                    "example": "[{\"type\": \"section\", \"text\": {\"type\": \"plain_text\", \"text\": \"Hello world\"}}]"
                  },
                  "current_draft_last_updated_ts": {
                    "type": "string",
                    "description": "This field represents the timestamp of the draft's last update at the time this API is called. If the current message is a draft, this field can be provided to ensure synchronization with the server.",
                    "example": "1524523204.000192"
                  },
                  "icon_emoji": {
                    "type": "string",
                    "description": "Emoji to use as the icon for this message. Overrides icon_url.",
                    "example": ":chart_with_upwards_trend:"
                  },
                  "icon_url": {
                    "type": "string",
                    "description": "URL to an image to use as the icon for this message.",
                    "example": "http://lorempixel.com/48/48"
                  },
                  "link_names": {
                    "type": "boolean",
                    "description": "Find and link user groups. No longer supports linking individual users; use syntax shown in Mentioning Users instead.",
                    "example": true
                  },
                  "markdown_text": {
                    "type": "string",
                    "description": "Accepts message text formatted in markdown. This argument should not be used in conjunction with blocks or text. Limit this field to 12,000 characters.",
                    "example": "**This is bold text**"
                  },
                  "metadata": {
                    "type": "string",
                    "description": "JSON object with event\\_type and event\\_payload fields, presented as a URL-encoded string. You can also provide Work Object entity metadata using this parameter. Metadata you post to Slack is accessible to any app or user who is a member of that workspace.",
                    "example": "{\"event_type\": \"task_created\", \"event_payload\": { \"id\": \"11223\", \"title\": \"Redesign Homepage\"}}"
                  },
                  "mrkdwn": {
                    "type": "boolean",
                    "description": "Disable Slack markup parsing by setting to false. Enabled by default. _Default:_ true",
                    "example": false
                  },
                  "parse": {
                    "type": "string",
                    "description": "Change how messages are treated. See below.",
                    "example": "full"
                  },
                  "reply_broadcast": {
                    "type": "boolean",
                    "description": "Used in conjunction with thread_ts and indicates whether reply should be made visible to everyone in the channel or conversation. Defaults to false.",
                    "example": true
                  },
                  "text": {
                    "type": "string",
                    "description": "How this field works and whether it is required depends on other fields you use in your API call. See below for more detail.",
                    "example": "Hello world"
                  },
                  "thread_ts": {
                    "type": "string",
                    "description": "Provide another message's ts value to make this message a reply. Avoid using a reply's ts value; use its parent instead."
                  },
                  "unfurl_links": {
                    "type": "boolean",
                    "description": "Pass true to enable unfurling of primarily text-based content.",
                    "example": true
                  },
                  "unfurl_media": {
                    "type": "boolean",
                    "description": "Pass false to disable unfurling of media content.",
                    "example": false
                  },
                  "username": {
                    "type": "string",
                    "description": "Set your bot's user name.",
                    "example": "My Bot"
                  }
                },
                "required": [
                  "channel"
                ]
              }
            }
          }
        }
      }
    },
    "/chat.scheduledMessages.list": {
      "post": {
        "operationId": "chat_scheduledMessages_list",
        "summary": "Returns a list of scheduled messages.",
        "tags": [
          "chat"
        ],
        "security": [
          {
            "slackBearer": []
          },
          {
            "slackOAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Standard Slack response envelope. Check the `ok` field; on failure, `error` holds a machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackResponse"
                }
              }
            }
          }
        },
        "description": "Returns a list of scheduled messages.",
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel": {
                    "type": "string",
                    "description": "The channel of the scheduled messages",
                    "example": "C123456789"
                  },
                  "cursor": {
                    "type": "string",
                    "description": "For pagination purposes, this is the cursor value returned from a previous call to chat.scheduledmessages.list indicating where you want to start this call from.",
                    "example": "dXNlcjpVMDYxTkZUVDI="
                  },
                  "latest": {
                    "type": "string",
                    "description": "A Unix timestamp of the latest value in the time range",
                    "example": "1562137200"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Maximum number of original entries to return.",
                    "example": 100
                  },
                  "oldest": {
                    "type": "string",
                    "description": "A Unix timestamp of the oldest value in the time range",
                    "example": "1562137200"
                  },
                  "team_id": {
                    "type": "string",
                    "description": "encoded team id to list channels in, required if org token is used"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel": {
                    "type": "string",
                    "description": "The channel of the scheduled messages",
                    "example": "C123456789"
                  },
                  "cursor": {
                    "type": "string",
                    "description": "For pagination purposes, this is the cursor value returned from a previous call to chat.scheduledmessages.list indicating where you want to start this call from.",
                    "example": "dXNlcjpVMDYxTkZUVDI="
                  },
                  "latest": {
                    "type": "string",
                    "description": "A Unix timestamp of the latest value in the time range",
                    "example": "1562137200"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Maximum number of original entries to return.",
                    "example": 100
                  },
                  "oldest": {
                    "type": "string",
                    "description": "A Unix timestamp of the oldest value in the time range",
                    "example": "1562137200"
                  },
                  "team_id": {
                    "type": "string",
                    "description": "encoded team id to list channels in, required if org token is used"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/chat.scheduleMessage": {
      "post": {
        "operationId": "chat_scheduleMessage",
        "summary": "Schedules a message to be sent to a channel.",
        "tags": [
          "chat"
        ],
        "security": [
          {
            "slackBearer": []
          },
          {
            "slackOAuth": [
              "chat:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Standard Slack response envelope. Check the `ok` field; on failure, `error` holds a machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackResponse"
                }
              }
            }
          }
        },
        "description": "Schedules a message to be sent to a channel.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel": {
                    "type": "string",
                    "description": "Channel, private group, or DM channel to send message to. Can be an encoded ID, or a name. See below for more details."
                  },
                  "post_at": {
                    "type": "integer",
                    "description": "Unix timestamp representing the future time the message should post to Slack.",
                    "example": 299876400
                  },
                  "as_user": {
                    "type": "boolean",
                    "description": "Set to true to post the message as the authed user, instead of as a bot. Defaults to false. Cannot be used by new Slack apps. See chat.postMessage.",
                    "example": true
                  },
                  "attachments": {
                    "type": "string",
                    "description": "A JSON-based array of structured attachments, presented as a URL-encoded string.",
                    "example": "[{\"pretext\": \"pre-hello\", \"text\": \"text-world\"}]"
                  },
                  "blocks": {
                    "type": "string",
                    "description": "A JSON-based array of structured blocks, presented as a URL-encoded string.",
                    "example": "[{\"type\": \"section\", \"text\": {\"type\": \"plain_text\", \"text\": \"Hello world\"}}]"
                  },
                  "link_names": {
                    "type": "boolean",
                    "description": "Find and link user groups. No longer supports linking individual users; use syntax shown in Mentioning Users instead.",
                    "example": true
                  },
                  "markdown_text": {
                    "type": "string",
                    "description": "Accepts message text formatted in markdown. This argument should not be used in conjunction with blocks or text. Limit this field to 12,000 characters.",
                    "example": "**This is bold text**"
                  },
                  "parse": {
                    "type": "string",
                    "description": "Change how messages are treated. See chat.postMessage. _Acceptable values:_ none full",
                    "example": "full"
                  },
                  "reply_broadcast": {
                    "type": "boolean",
                    "description": "Used in conjunction with thread_ts and indicates whether reply should be made visible to everyone in the channel or conversation. Defaults to false.",
                    "example": true
                  },
                  "text": {
                    "type": "string",
                    "description": "How this field works and whether it is required depends on other fields you use in your API call. See below for more detail.",
                    "example": "Hello world"
                  },
                  "thread_ts": {
                    "type": "string",
                    "description": "Provide another message's ts value to make this message a reply. Avoid using a reply's ts value; use its parent instead."
                  },
                  "unfurl_links": {
                    "type": "boolean",
                    "description": "Pass true to enable unfurling of primarily text-based content.",
                    "example": true
                  },
                  "unfurl_media": {
                    "type": "boolean",
                    "description": "Pass false to disable unfurling of media content.",
                    "example": false
                  },
                  "metadata": {
                    "type": "string",
                    "description": "JSON object with event\\_type and event\\_payload fields, presented as a URL-encoded string. Metadata you post to Slack is accessible to any app or user who is a member of that workspace.",
                    "example": "{\"event_type\": \"task_created\", \"event_payload\": { \"id\": \"11223\", \"title\": \"Redesign Homepage\"}}"
                  }
                },
                "required": [
                  "channel",
                  "post_at"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel": {
                    "type": "string",
                    "description": "Channel, private group, or DM channel to send message to. Can be an encoded ID, or a name. See below for more details."
                  },
                  "post_at": {
                    "type": "integer",
                    "description": "Unix timestamp representing the future time the message should post to Slack.",
                    "example": 299876400
                  },
                  "as_user": {
                    "type": "boolean",
                    "description": "Set to true to post the message as the authed user, instead of as a bot. Defaults to false. Cannot be used by new Slack apps. See chat.postMessage.",
                    "example": true
                  },
                  "attachments": {
                    "type": "string",
                    "description": "A JSON-based array of structured attachments, presented as a URL-encoded string.",
                    "example": "[{\"pretext\": \"pre-hello\", \"text\": \"text-world\"}]"
                  },
                  "blocks": {
                    "type": "string",
                    "description": "A JSON-based array of structured blocks, presented as a URL-encoded string.",
                    "example": "[{\"type\": \"section\", \"text\": {\"type\": \"plain_text\", \"text\": \"Hello world\"}}]"
                  },
                  "link_names": {
                    "type": "boolean",
                    "description": "Find and link user groups. No longer supports linking individual users; use syntax shown in Mentioning Users instead.",
                    "example": true
                  },
                  "markdown_text": {
                    "type": "string",
                    "description": "Accepts message text formatted in markdown. This argument should not be used in conjunction with blocks or text. Limit this field to 12,000 characters.",
                    "example": "**This is bold text**"
                  },
                  "parse": {
                    "type": "string",
                    "description": "Change how messages are treated. See chat.postMessage. _Acceptable values:_ none full",
                    "example": "full"
                  },
                  "reply_broadcast": {
                    "type": "boolean",
                    "description": "Used in conjunction with thread_ts and indicates whether reply should be made visible to everyone in the channel or conversation. Defaults to false.",
                    "example": true
                  },
                  "text": {
                    "type": "string",
                    "description": "How this field works and whether it is required depends on other fields you use in your API call. See below for more detail.",
                    "example": "Hello world"
                  },
                  "thread_ts": {
                    "type": "string",
                    "description": "Provide another message's ts value to make this message a reply. Avoid using a reply's ts value; use its parent instead."
                  },
                  "unfurl_links": {
                    "type": "boolean",
                    "description": "Pass true to enable unfurling of primarily text-based content.",
                    "example": true
                  },
                  "unfurl_media": {
                    "type": "boolean",
                    "description": "Pass false to disable unfurling of media content.",
                    "example": false
                  },
                  "metadata": {
                    "type": "string",
                    "description": "JSON object with event\\_type and event\\_payload fields, presented as a URL-encoded string. Metadata you post to Slack is accessible to any app or user who is a member of that workspace.",
                    "example": "{\"event_type\": \"task_created\", \"event_payload\": { \"id\": \"11223\", \"title\": \"Redesign Homepage\"}}"
                  }
                },
                "required": [
                  "channel",
                  "post_at"
                ]
              }
            }
          }
        }
      }
    },
    "/chat.startStream": {
      "post": {
        "operationId": "chat_startStream",
        "summary": "Starts a new streaming conversation.",
        "tags": [
          "chat"
        ],
        "security": [
          {
            "slackBearer": []
          },
          {
            "slackOAuth": [
              "chat:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Standard Slack response envelope. Check the `ok` field; on failure, `error` holds a machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackResponse"
                }
              }
            }
          }
        },
        "description": "Starts a new streaming conversation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel": {
                    "type": "string",
                    "description": "An encoded ID that represents a channel thread or DM."
                  },
                  "thread_ts": {
                    "type": "string",
                    "description": "Provide another message's ts value to reply to. Streamed messages should always be replies to a user request.",
                    "example": "1721609600.123456"
                  },
                  "chunks": {
                    "type": "string",
                    "description": "(array) Array of streaming chunks."
                  },
                  "markdown_text": {
                    "type": "string",
                    "description": "Accepts message text formatted in markdown. Limit this field to 12,000 characters.",
                    "example": "**This is bold text**"
                  },
                  "recipient_user_id": {
                    "type": "string",
                    "description": "The encoded ID of the user to receive the streaming text. Required when streaming to channels."
                  },
                  "recipient_team_id": {
                    "type": "string",
                    "description": "The encoded ID of the team the user receiving the streaming text belongs to. Required when streaming to channels.",
                    "example": "T0123456789"
                  },
                  "task_display_mode": {
                    "type": "string",
                    "description": "Specifies how tasks are displayed in the message. A timeline displays individual tasks with text in sequential order, plan displays all tasks together, with the first tasks's placement determining the placement of the rest of the tasks, and dense collapses consecutive tool calls into a single summarized task card. _Default:_ timeline _Acceptable values:_ timeline plan dense",
                    "example": "plan"
                  },
                  "icon_emoji": {
                    "type": "string",
                    "description": "Emoji to use as the icon for this message. Overrides icon_url.",
                    "example": ":chart_with_upwards_trend:"
                  },
                  "icon_url": {
                    "type": "string",
                    "description": "Image URL to use as the icon for this message.",
                    "example": "http://lorempixel.com/48/48"
                  },
                  "username": {
                    "type": "string",
                    "description": "The bot's username to display.",
                    "example": "My Bot"
                  }
                },
                "required": [
                  "channel",
                  "thread_ts"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel": {
                    "type": "string",
                    "description": "An encoded ID that represents a channel thread or DM."
                  },
                  "thread_ts": {
                    "type": "string",
                    "description": "Provide another message's ts value to reply to. Streamed messages should always be replies to a user request.",
                    "example": "1721609600.123456"
                  },
                  "chunks": {
                    "type": "string",
                    "description": "(array) Array of streaming chunks."
                  },
                  "markdown_text": {
                    "type": "string",
                    "description": "Accepts message text formatted in markdown. Limit this field to 12,000 characters.",
                    "example": "**This is bold text**"
                  },
                  "recipient_user_id": {
                    "type": "string",
                    "description": "The encoded ID of the user to receive the streaming text. Required when streaming to channels."
                  },
                  "recipient_team_id": {
                    "type": "string",
                    "description": "The encoded ID of the team the user receiving the streaming text belongs to. Required when streaming to channels.",
                    "example": "T0123456789"
                  },
                  "task_display_mode": {
                    "type": "string",
                    "description": "Specifies how tasks are displayed in the message. A timeline displays individual tasks with text in sequential order, plan displays all tasks together, with the first tasks's placement determining the placement of the rest of the tasks, and dense collapses consecutive tool calls into a single summarized task card. _Default:_ timeline _Acceptable values:_ timeline plan dense",
                    "example": "plan"
                  },
                  "icon_emoji": {
                    "type": "string",
                    "description": "Emoji to use as the icon for this message. Overrides icon_url.",
                    "example": ":chart_with_upwards_trend:"
                  },
                  "icon_url": {
                    "type": "string",
                    "description": "Image URL to use as the icon for this message.",
                    "example": "http://lorempixel.com/48/48"
                  },
                  "username": {
                    "type": "string",
                    "description": "The bot's username to display.",
                    "example": "My Bot"
                  }
                },
                "required": [
                  "channel",
                  "thread_ts"
                ]
              }
            }
          }
        }
      }
    },
    "/chat.stopStream": {
      "post": {
        "operationId": "chat_stopStream",
        "summary": "Stops a streaming conversation.",
        "tags": [
          "chat"
        ],
        "security": [
          {
            "slackBearer": []
          },
          {
            "slackOAuth": [
              "chat:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Standard Slack response envelope. Check the `ok` field; on failure, `error` holds a machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackResponse"
                }
              }
            }
          }
        },
        "description": "Stops a streaming conversation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel": {
                    "type": "string",
                    "description": "An encoded ID that represents a channel, private group, or DM"
                  },
                  "ts": {
                    "type": "string",
                    "description": "The timestamp of the streaming message."
                  },
                  "chunks": {
                    "type": "string",
                    "description": "(array) Array of streaming chunks."
                  },
                  "markdown_text": {
                    "type": "string",
                    "description": "Accepts message text formatted in markdown. Limit this field to 12,000 characters.",
                    "example": "**This is bold text**"
                  },
                  "blocks": {
                    "type": "string",
                    "description": "A list of blocks that will be rendered at the bottom of the finalized message."
                  },
                  "metadata": {
                    "type": "string",
                    "description": "JSON object with event\\_type and event\\_payload fields, presented as a URL-encoded string. Metadata you post to Slack is accessible to any app or user who is a member of that workspace.",
                    "example": "{\"event_type\": \"task_created\", \"event_payload\": { \"id\": \"11223\", \"title\": \"Redesign Homepage\"}}"
                  }
                },
                "required": [
                  "channel",
                  "ts"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel": {
                    "type": "string",
                    "description": "An encoded ID that represents a channel, private group, or DM"
                  },
                  "ts": {
                    "type": "string",
                    "description": "The timestamp of the streaming message."
                  },
                  "chunks": {
                    "type": "string",
                    "description": "(array) Array of streaming chunks."
                  },
                  "markdown_text": {
                    "type": "string",
                    "description": "Accepts message text formatted in markdown. Limit this field to 12,000 characters.",
                    "example": "**This is bold text**"
                  },
                  "blocks": {
                    "type": "string",
                    "description": "A list of blocks that will be rendered at the bottom of the finalized message."
                  },
                  "metadata": {
                    "type": "string",
                    "description": "JSON object with event\\_type and event\\_payload fields, presented as a URL-encoded string. Metadata you post to Slack is accessible to any app or user who is a member of that workspace.",
                    "example": "{\"event_type\": \"task_created\", \"event_payload\": { \"id\": \"11223\", \"title\": \"Redesign Homepage\"}}"
                  }
                },
                "required": [
                  "channel",
                  "ts"
                ]
              }
            }
          }
        }
      }
    },
    "/chat.unfurl": {
      "post": {
        "operationId": "chat_unfurl",
        "summary": "Provide custom unfurl behavior for user-posted URLs",
        "tags": [
          "chat"
        ],
        "security": [
          {
            "slackBearer": []
          },
          {
            "slackOAuth": [
              "links:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Standard Slack response envelope. Check the `ok` field; on failure, `error` holds a machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackResponse"
                }
              }
            }
          }
        },
        "description": "Provide custom unfurl behavior for user-posted URLs",
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel": {
                    "type": "string",
                    "description": "Channel ID of the message. Both channel and ts must be provided together, _or_ unfurl_id and source must be provided together. Required for public channels."
                  },
                  "ts": {
                    "type": "string",
                    "description": "Timestamp of the message to add unfurl behavior to. Required for public channels."
                  },
                  "unfurls": {
                    "type": "string",
                    "description": "URL-encoded JSON map with keys set to URLs featured in the the message, pointing to their unfurl blocks or message attachments. Required for public channels."
                  },
                  "user_auth_message": {
                    "type": "string",
                    "description": "Provide a simply-formatted string to send as an ephemeral message to the user as invitation to authenticate further and enable full unfurling behavior. Provides two buttons, Not now or Never ask me again."
                  },
                  "user_auth_required": {
                    "type": "boolean",
                    "description": "Set to true or 1 to indicate the user must install your Slack app to trigger unfurls for this domain _Default:_ 0"
                  },
                  "user_auth_url": {
                    "type": "string",
                    "description": "Send users to this custom URL where they will complete authentication in your app to fully trigger unfurling. Value should be properly URL-encoded.",
                    "example": "https://example.com/onboarding?user_id=xxx"
                  },
                  "user_auth_blocks": {
                    "type": "string",
                    "description": "Provide a JSON based array of structured blocks presented as URL-encoded string to send as an ephemeral message to the user as invitation to authenticate further and enable full unfurling behavior"
                  },
                  "unfurl_id": {
                    "type": "string",
                    "description": "The ID of the link to unfurl. Both unfurl_id and source must be provided together, _or_ channel and ts must be provided together.",
                    "example": "Uxxxxxxx-909b5454-75f8-4ac4-b325-1b40e230bbd8"
                  },
                  "source": {
                    "type": "string",
                    "description": "The source of the link to unfurl. The source may either be composer, when the link is inside the message composer, or conversations_history, when the link has been posted to a conversation. _Acceptable values:_ composer conversations_history",
                    "example": "composer"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel": {
                    "type": "string",
                    "description": "Channel ID of the message. Both channel and ts must be provided together, _or_ unfurl_id and source must be provided together. Required for public channels."
                  },
                  "ts": {
                    "type": "string",
                    "description": "Timestamp of the message to add unfurl behavior to. Required for public channels."
                  },
                  "unfurls": {
                    "type": "string",
                    "description": "URL-encoded JSON map with keys set to URLs featured in the the message, pointing to their unfurl blocks or message attachments. Required for public channels."
                  },
                  "user_auth_message": {
                    "type": "string",
                    "description": "Provide a simply-formatted string to send as an ephemeral message to the user as invitation to authenticate further and enable full unfurling behavior. Provides two buttons, Not now or Never ask me again."
                  },
                  "user_auth_required": {
                    "type": "boolean",
                    "description": "Set to true or 1 to indicate the user must install your Slack app to trigger unfurls for this domain _Default:_ 0"
                  },
                  "user_auth_url": {
                    "type": "string",
                    "description": "Send users to this custom URL where they will complete authentication in your app to fully trigger unfurling. Value should be properly URL-encoded.",
                    "example": "https://example.com/onboarding?user_id=xxx"
                  },
                  "user_auth_blocks": {
                    "type": "string",
                    "description": "Provide a JSON based array of structured blocks presented as URL-encoded string to send as an ephemeral message to the user as invitation to authenticate further and enable full unfurling behavior"
                  },
                  "unfurl_id": {
                    "type": "string",
                    "description": "The ID of the link to unfurl. Both unfurl_id and source must be provided together, _or_ channel and ts must be provided together.",
                    "example": "Uxxxxxxx-909b5454-75f8-4ac4-b325-1b40e230bbd8"
                  },
                  "source": {
                    "type": "string",
                    "description": "The source of the link to unfurl. The source may either be composer, when the link is inside the message composer, or conversations_history, when the link has been posted to a conversation. _Acceptable values:_ composer conversations_history",
                    "example": "composer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/chat.update": {
      "post": {
        "operationId": "chat_update",
        "summary": "Updates a message.",
        "tags": [
          "chat"
        ],
        "security": [
          {
            "slackBearer": []
          },
          {
            "slackOAuth": [
              "chat:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Standard Slack response envelope. Check the `ok` field; on failure, `error` holds a machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackResponse"
                }
              }
            }
          }
        },
        "description": "Updates a message.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel": {
                    "type": "string",
[...]
