{
  "openapi": "3.0.3",
  "info": {
    "title": "Lavu POS API",
    "version": "1.0.0",
    "description": "Lavu (POSLavu) Point of Sale API for querying and inserting data related to restaurant operations including menu items, orders, payments, and ingredients.",
    "x-jentic-source-url": "http://admin.poslavu.com/cp/areas/api_doc.html"
  },
  "servers": [
    {
      "url": "https://admin.poslavu.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/cp/reqserv": {
      "post": {
        "operationId": "queryData",
        "summary": "Query data from tables",
        "description": "Retrieve records from specified tables with optional filtering and pagination.",
        "tags": [
          "Data"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query results returned in XML format",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/reqserv/": {
      "post": {
        "operationId": "insertData",
        "summary": "Insert data into tables",
        "description": "Create new records in database tables using the v2 API endpoint.",
        "tags": [
          "Data"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/InsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Record created successfully",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/InsertResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "QueryRequest": {
        "type": "object",
        "required": [
          "dataname",
          "key",
          "token",
          "table"
        ],
        "properties": {
          "dataname": {
            "type": "string",
            "description": "Account data name for authentication"
          },
          "key": {
            "type": "string",
            "description": "API key for authentication"
          },
          "token": {
            "type": "string",
            "description": "API token for authentication"
          },
          "table": {
            "type": "string",
            "description": "Table to query",
            "enum": [
              "menu_groups",
              "menu_categories",
              "menu_items",
              "tables",
              "orders",
              "order_contents",
              "order_payments",
              "ingredients",
              "ingredient_usage"
            ]
          },
          "column": {
            "type": "string",
            "description": "Column name to filter by"
          },
          "value": {
            "type": "string",
            "description": "Value to filter the column by"
          },
          "value_min": {
            "type": "string",
            "format": "date-time",
            "description": "Minimum value for range filtering"
          },
          "value_max": {
            "type": "string",
            "format": "date-time",
            "description": "Maximum value for range filtering"
          },
          "limit": {
            "type": "string",
            "description": "Limit on number of results returned"
          }
        }
      },
      "InsertRequest": {
        "type": "object",
        "required": [
          "dataname",
          "key",
          "token",
          "cmd",
          "table",
          "contents"
        ],
        "properties": {
          "dataname": {
            "type": "string",
            "description": "Account data name for authentication"
          },
          "key": {
            "type": "string",
            "description": "API key for authentication"
          },
          "token": {
            "type": "string",
            "description": "API token for authentication"
          },
          "cmd": {
            "type": "string",
            "description": "Command to execute (e.g., insert)"
          },
          "table": {
            "type": "string",
            "description": "Table to insert data into"
          },
          "contents": {
            "type": "string",
            "description": "XML-formatted row elements with table-specific fields"
          }
        }
      },
      "QueryResponse": {
        "type": "object",
        "properties": {
          "rows": {
            "type": "array",
            "items": {
              "type": "object",
              "description": "Table row containing fields specific to the queried table"
            }
          }
        }
      },
      "InsertResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID of the newly created record"
          },
          "order_id": {
            "type": "string",
            "description": "Order ID if an order was created"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    },
    "securitySchemes": {
      "apiCredentials": {
        "type": "apiKey",
        "in": "query",
        "name": "key",
        "description": "API credentials passed as POST body parameters: dataname, key, and token"
      }
    }
  },
  "security": [
    {
      "apiCredentials": []
    }
  ]
}