{
  "openapi": "3.1.0",
  "info": {
    "title": "IEX Cloud API",
    "description": "IEX Cloud financial data API providing stock quotes, market data, financials, news, and reference data.",
    "version": "1.0.0",
    "contact": {
      "name": "IEX Cloud Support",
      "url": "https://iexcloud.io/docs"
    },
    "termsOfService": "https://iexcloud.io/terms/"
  },
  "servers": [
    {
      "url": "https://cloud.iexapis.com/stable",
      "description": "IEX Cloud Stable API"
    },
    {
      "url": "https://sandbox.iexapis.com/stable",
      "description": "IEX Cloud Sandbox (testing)"
    }
  ],
  "security": [
    { "tokenAuth": [] }
  ],
  "paths": {
    "/stock/{symbol}/quote": {
      "get": {
        "operationId": "getQuote",
        "summary": "Quote",
        "description": "Get a real-time or delayed stock quote for a given symbol.",
        "tags": ["Stock Prices"],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Stock ticker symbol." },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" }, "description": "API token." }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "symbol": { "type": "string" },
                    "companyName": { "type": "string" },
                    "primaryExchange": { "type": "string" },
                    "calculationPrice": { "type": "string" },
                    "open": { "type": "number" },
                    "openTime": { "type": "integer" },
                    "close": { "type": "number" },
                    "closeTime": { "type": "integer" },
                    "high": { "type": "number" },
                    "low": { "type": "number" },
                    "latestPrice": { "type": "number" },
                    "latestSource": { "type": "string" },
                    "latestTime": { "type": "string" },
                    "latestUpdate": { "type": "integer" },
                    "latestVolume": { "type": "integer" },
                    "iexRealtimePrice": { "type": "number" },
                    "iexRealtimeSize": { "type": "integer" },
                    "iexLastUpdated": { "type": "integer" },
                    "delayedPrice": { "type": "number" },
                    "delayedPriceTime": { "type": "integer" },
                    "extendedPrice": { "type": "number" },
                    "extendedChange": { "type": "number" },
                    "extendedChangePercent": { "type": "number" },
                    "extendedPriceTime": { "type": "integer" },
                    "previousClose": { "type": "number" },
                    "previousVolume": { "type": "integer" },
                    "change": { "type": "number" },
                    "changePercent": { "type": "number" },
                    "volume": { "type": "integer" },
                    "avgTotalVolume": { "type": "integer" },
                    "iexBidPrice": { "type": "number" },
                    "iexBidSize": { "type": "integer" },
                    "iexAskPrice": { "type": "number" },
                    "iexAskSize": { "type": "integer" },
                    "marketCap": { "type": "integer" },
                    "peRatio": { "type": "number" },
                    "week52High": { "type": "number" },
                    "week52Low": { "type": "number" },
                    "ytdChange": { "type": "number" },
                    "isUSMarketOpen": { "type": "boolean" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stock/{symbol}/quote/{field}": {
      "get": {
        "operationId": "getQuoteField",
        "summary": "Quote Field",
        "description": "Get a single field from the quote data.",
        "tags": ["Stock Prices"],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "field", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Specific field from the quote object." },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/stock/{symbol}/batch": {
      "get": {
        "operationId": "getBatch",
        "summary": "Batch Requests",
        "description": "Fetch multiple data types for a single stock in one request.",
        "tags": ["Stock Prices"],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "types", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Comma-delimited list of endpoint types (quote, chart, news, etc.)." },
          { "name": "range", "in": "query", "schema": { "type": "string" } },
          { "name": "last", "in": "query", "schema": { "type": "integer" } },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/stock/{symbol}/chart/{range}": {
      "get": {
        "operationId": "getHistoricalPrices",
        "summary": "Historical Prices",
        "description": "Get historical stock price data for a given time range.",
        "tags": ["Stock Prices"],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "range", "in": "path", "required": true, "schema": { "type": "string", "enum": ["max", "5y", "2y", "1y", "ytd", "6m", "3m", "1m", "1mm", "5d", "5dm", "date", "dynamic"] }, "description": "Time range." },
          { "name": "chartCloseOnly", "in": "query", "schema": { "type": "boolean" }, "description": "Return only close prices." },
          { "name": "chartSimplify", "in": "query", "schema": { "type": "boolean" }, "description": "Simplify chart data." },
          { "name": "chartInterval", "in": "query", "schema": { "type": "integer" }, "description": "Return every nth element." },
          { "name": "changeFromClose", "in": "query", "schema": { "type": "boolean" } },
          { "name": "chartLast", "in": "query", "schema": { "type": "integer" } },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": { "type": "string" },
                      "open": { "type": "number" },
                      "high": { "type": "number" },
                      "low": { "type": "number" },
                      "close": { "type": "number" },
                      "volume": { "type": "integer" },
                      "uOpen": { "type": "number" },
                      "uHigh": { "type": "number" },
                      "uLow": { "type": "number" },
                      "uClose": { "type": "number" },
                      "uVolume": { "type": "integer" },
                      "change": { "type": "number" },
                      "changePercent": { "type": "number" },
                      "label": { "type": "string" },
                      "changeOverTime": { "type": "number" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stock/{symbol}/intraday-prices": {
      "get": {
        "operationId": "getIntradayPrices",
        "summary": "Intraday Prices",
        "description": "Get intraday prices for a stock.",
        "tags": ["Stock Prices"],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "chartIEXOnly", "in": "query", "schema": { "type": "boolean" } },
          { "name": "chartReset", "in": "query", "schema": { "type": "boolean" } },
          { "name": "chartSimplify", "in": "query", "schema": { "type": "boolean" } },
          { "name": "chartInterval", "in": "query", "schema": { "type": "integer" } },
          { "name": "chartLast", "in": "query", "schema": { "type": "integer" } },
          { "name": "exactDate", "in": "query", "schema": { "type": "string" } },
          { "name": "chartIEXWhenNull", "in": "query", "schema": { "type": "boolean" } },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/stock/{symbol}/previous": {
      "get": {
        "operationId": "getPreviousDayPrice",
        "summary": "Previous Day Price",
        "description": "Get previous day adjusted price data.",
        "tags": ["Stock Prices"],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/stock/{symbol}/company": {
      "get": {
        "operationId": "getCompany",
        "summary": "Company",
        "description": "Get company information for a stock symbol.",
        "tags": ["Stock Fundamentals"],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "symbol": { "type": "string" },
                    "companyName": { "type": "string" },
                    "exchange": { "type": "string" },
                    "industry": { "type": "string" },
                    "website": { "type": "string" },
                    "description": { "type": "string" },
                    "CEO": { "type": "string" },
                    "securityName": { "type": "string" },
                    "issueType": { "type": "string" },
                    "sector": { "type": "string" },
                    "primarySicCode": { "type": "integer" },
                    "employees": { "type": "integer" },
                    "tags": { "type": "array", "items": { "type": "string" } },
                    "address": { "type": "string" },
                    "address2": { "type": "string" },
                    "state": { "type": "string" },
                    "city": { "type": "string" },
                    "zip": { "type": "string" },
                    "country": { "type": "string" },
                    "phone": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stock/{symbol}/stats": {
      "get": {
        "operationId": "getKeyStats",
        "summary": "Key Stats",
        "description": "Get key statistics for a stock symbol including PE ratio, market cap, etc.",
        "tags": ["Stock Fundamentals"],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/stock/{symbol}/financials": {
      "get": {
        "operationId": "getFinancials",
        "summary": "Financials",
        "description": "Get income statement, balance sheet, and cash flow data.",
        "tags": ["Stock Fundamentals"],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "period", "in": "query", "schema": { "type": "string", "enum": ["annual", "quarter"] } },
          { "name": "last", "in": "query", "schema": { "type": "integer" } },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/stock/{symbol}/income": {
      "get": {
        "operationId": "getIncomeStatement",
        "summary": "Income Statement",
        "description": "Get income statement data for a stock.",
        "tags": ["Stock Fundamentals"],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "period", "in": "query", "schema": { "type": "string", "enum": ["annual", "quarter"] } },
          { "name": "last", "in": "query", "schema": { "type": "integer" } },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/stock/{symbol}/balance-sheet": {
      "get": {
        "operationId": "getBalanceSheet",
        "summary": "Balance Sheet",
        "description": "Get balance sheet data for a stock.",
        "tags": ["Stock Fundamentals"],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "period", "in": "query", "schema": { "type": "string", "enum": ["annual", "quarter"] } },
          { "name": "last", "in": "query", "schema": { "type": "integer" } },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/stock/{symbol}/cash-flow": {
      "get": {
        "operationId": "getCashFlow",
        "summary": "Cash Flow",
        "description": "Get cash flow data for a stock.",
        "tags": ["Stock Fundamentals"],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "period", "in": "query", "schema": { "type": "string", "enum": ["annual", "quarter"] } },
          { "name": "last", "in": "query", "schema": { "type": "integer" } },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/stock/{symbol}/earnings": {
      "get": {
        "operationId": "getEarnings",
        "summary": "Earnings",
        "description": "Get earnings data for a stock.",
        "tags": ["Stock Fundamentals"],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "last", "in": "query", "schema": { "type": "integer" } },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/stock/{symbol}/dividends/{range}": {
      "get": {
        "operationId": "getDividends",
        "summary": "Dividends",
        "description": "Get dividend data for a stock.",
        "tags": ["Stock Fundamentals"],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "range", "in": "path", "required": true, "schema": { "type": "string", "enum": ["5y", "2y", "1y", "ytd", "6m", "3m", "1m", "next"] } },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/stock/{symbol}/splits/{range}": {
      "get": {
        "operationId": "getSplits",
        "summary": "Splits",
        "description": "Get stock split data.",
        "tags": ["Stock Fundamentals"],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "range", "in": "path", "required": true, "schema": { "type": "string", "enum": ["5y", "2y", "1y", "ytd", "6m", "3m", "1m", "next"] } },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/stock/{symbol}/news": {
      "get": {
        "operationId": "getNews",
        "summary": "News",
        "description": "Get news articles related to a stock.",
        "tags": ["News"],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "last", "in": "query", "schema": { "type": "integer" }, "description": "Number of news items (1-50)." },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/stock/{symbol}/peers": {
      "get": {
        "operationId": "getPeers",
        "summary": "Peers",
        "description": "Get a list of peer stock symbols.",
        "tags": ["Stock Fundamentals"],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "type": "string" }
                }
              }
            }
          }
        }
      }
    },
    "/stock/{symbol}/advanced-stats": {
      "get": {
        "operationId": "getAdvancedStats",
        "summary": "Advanced Stats",
        "description": "Get advanced statistics for a stock, including beta, profit margin, etc.",
        "tags": ["Stock Fundamentals"],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/stock/{symbol}/book": {
      "get": {
        "operationId": "getBook",
        "summary": "Book",
        "description": "Get book data for a stock including quote, bids, asks, and trades.",
        "tags": ["Stock Prices"],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/stock/{symbol}/delayed-quote": {
      "get": {
        "operationId": "getDelayedQuote",
        "summary": "Delayed Quote",
        "description": "Get a 15-minute delayed market quote.",
        "tags": ["Stock Prices"],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/stock/{symbol}/largest-trades": {
      "get": {
        "operationId": "getLargestTrades",
        "summary": "Largest Trades",
        "description": "Get 15-minute delayed, last sale eligible trades.",
        "tags": ["Stock Prices"],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/stock/{symbol}/ohlc": {
      "get": {
        "operationId": "getOHLC",
        "summary": "OHLC",
        "description": "Get the official open and close for a stock.",
        "tags": ["Stock Prices"],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/stock/{symbol}/insider-transactions": {
      "get": {
        "operationId": "getInsiderTransactions",
        "summary": "Insider Transactions",
        "description": "Get insider transactions for a stock.",
        "tags": ["Stock Fundamentals"],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/stock/{symbol}/institutional-ownership": {
      "get": {
        "operationId": "getInstitutionalOwnership",
        "summary": "Institutional Ownership",
        "description": "Get the top 10 institutional holders for a stock.",
        "tags": ["Stock Fundamentals"],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/stock/{symbol}/estimates": {
      "get": {
        "operationId": "getEstimates",
        "summary": "Estimates",
        "description": "Get analyst estimates for a stock.",
        "tags": ["Stock Fundamentals"],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "last", "in": "query", "schema": { "type": "integer" } },
          { "name": "period", "in": "query", "schema": { "type": "string", "enum": ["annual", "quarter"] } },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/stock/{symbol}/price-target": {
      "get": {
        "operationId": "getPriceTarget",
        "summary": "Price Target",
        "description": "Get analyst price target consensus for a stock.",
        "tags": ["Stock Fundamentals"],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/stock/{symbol}/recommendation-trends": {
      "get": {
        "operationId": "getRecommendationTrends",
        "summary": "Recommendation Trends",
        "description": "Get analyst recommendation trends (buy, hold, sell).",
        "tags": ["Stock Fundamentals"],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/stock/{symbol}/fund-ownership": {
      "get": {
        "operationId": "getFundOwnership",
        "summary": "Fund Ownership",
        "description": "Get the top 10 fund holders for a stock.",
        "tags": ["Stock Fundamentals"],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/stock/{symbol}/logo": {
      "get": {
        "operationId": "getLogo",
        "summary": "Logo",
        "description": "Get the company logo URL for a stock.",
        "tags": ["Stock Fundamentals"],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/stock/market/batch": {
      "get": {
        "operationId": "getMarketBatch",
        "summary": "Market Batch",
        "description": "Fetch multiple data types for multiple stocks in one request.",
        "tags": ["Stock Prices"],
        "parameters": [
          { "name": "symbols", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Comma-delimited stock symbols." },
          { "name": "types", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "range", "in": "query", "schema": { "type": "string" } },
          { "name": "last", "in": "query", "schema": { "type": "integer" } },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/stock/market/list/{list_type}": {
      "get": {
        "operationId": "getMarketList",
        "summary": "Market List",
        "description": "Get market lists such as most active, gainers, and losers.",
        "tags": ["Stock Prices"],
        "parameters": [
          { "name": "list_type", "in": "path", "required": true, "schema": { "type": "string", "enum": ["mostactive", "gainers", "losers", "iexvolume", "iexpercent", "premarket_losers", "postmarket_losers", "premarket_gainers", "postmarket_gainers"] } },
          { "name": "displayPercent", "in": "query", "schema": { "type": "boolean" } },
          { "name": "listLimit", "in": "query", "schema": { "type": "integer" } },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/ref-data/symbols": {
      "get": {
        "operationId": "getSymbols",
        "summary": "Symbols",
        "description": "Get a list of all supported stock symbols.",
        "tags": ["Reference Data"],
        "parameters": [
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/ref-data/exchanges": {
      "get": {
        "operationId": "getExchanges",
        "summary": "Exchanges",
        "description": "Get a list of supported exchanges.",
        "tags": ["Reference Data"],
        "parameters": [
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/ref-data/mutual-funds/symbols": {
      "get": {
        "operationId": "getMutualFundSymbols",
        "summary": "Mutual Fund Symbols",
        "description": "Get a list of mutual fund symbols.",
        "tags": ["Reference Data"],
        "parameters": [
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/ref-data/otc/symbols": {
      "get": {
        "operationId": "getOTCSymbols",
        "summary": "OTC Symbols",
        "description": "Get a list of OTC symbols.",
        "tags": ["Reference Data"],
        "parameters": [
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/ref-data/crypto/symbols": {
      "get": {
        "operationId": "getCryptoSymbols",
        "summary": "Crypto Symbols",
        "description": "Get a list of supported cryptocurrency symbols.",
        "tags": ["Reference Data"],
        "parameters": [
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/stock/{symbol}/indicator/{indicator_name}": {
      "get": {
        "operationId": "getTechnicalIndicator",
        "summary": "Technical Indicator",
        "description": "Get technical indicator data for a stock.",
        "tags": ["Technical Indicators"],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "indicator_name", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Indicator name (sma, ema, macd, rsi, bbands, etc.)." },
          { "name": "range", "in": "query", "schema": { "type": "string" } },
          { "name": "input1", "in": "query", "schema": { "type": "integer" } },
          { "name": "input2", "in": "query", "schema": { "type": "integer" } },
          { "name": "input3", "in": "query", "schema": { "type": "integer" } },
          { "name": "input4", "in": "query", "schema": { "type": "integer" } },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/fx/latest": {
      "get": {
        "operationId": "getLatestFX",
        "summary": "Latest Currency Rates",
        "description": "Get real-time foreign exchange rates.",
        "tags": ["Forex / Currencies"],
        "parameters": [
          { "name": "symbols", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Comma-delimited currency pairs (e.g., USDEUR,USDJPY)." },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/fx/historical": {
      "get": {
        "operationId": "getHistoricalFX",
        "summary": "Historical Currency Rates",
        "description": "Get historical foreign exchange rates.",
        "tags": ["Forex / Currencies"],
        "parameters": [
          { "name": "symbols", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "from", "in": "query", "schema": { "type": "string" } },
          { "name": "to", "in": "query", "schema": { "type": "string" } },
          { "name": "last", "in": "query", "schema": { "type": "integer" } },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/crypto/{symbol}/quote": {
      "get": {
        "operationId": "getCryptoQuote",
        "summary": "Crypto Quote",
        "description": "Get a real-time cryptocurrency quote.",
        "tags": ["Cryptocurrency"],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Crypto symbol (e.g., BTCUSD)." },
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/account/metadata": {
      "get": {
        "operationId": "getAccountMetadata",
        "summary": "Account Metadata",
        "description": "Get metadata about your IEX Cloud account.",
        "tags": ["Account"],
        "parameters": [
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/account/usage": {
      "get": {
        "operationId": "getAccountUsage",
        "summary": "Account Usage",
        "description": "Get usage information for your IEX Cloud account.",
        "tags": ["Account"],
        "parameters": [
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "token",
        "description": "IEX Cloud API token."
      }
    }
  },
  "tags": [
    { "name": "Stock Prices", "description": "Real-time and historical stock price data." },
    { "name": "Stock Fundamentals", "description": "Company fundamentals, financials, and analyst data." },
    { "name": "News", "description": "Stock news articles." },
    { "name": "Reference Data", "description": "Symbols, exchanges, and reference information." },
    { "name": "Technical Indicators", "description": "Technical analysis indicators." },
    { "name": "Forex / Currencies", "description": "Foreign exchange rate data." },
    { "name": "Cryptocurrency", "description": "Cryptocurrency market data." },
    { "name": "Account", "description": "Account management endpoints." }
  ]
}