{
  "openapi": "3.0.3",
  "info": {
    "title": "GoPay REST API",
    "description": "GoPay payment gateway REST API for creating and managing payments, recurring payments, preauthorized payments, and account statements.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://speca.io/gopaycz/gopay-rest-api-en"
  },
  "servers": [
    {
      "url": "https://gate.gopay.cz",
      "description": "Production server"
    },
    {
      "url": "https://gw.sandbox.gopay.com",
      "description": "Sandbox server"
    }
  ],
  "paths": {
    "/api/oauth2/token": {
      "post": {
        "operationId": "createAccessToken",
        "summary": "Create access token",
        "description": "Creates an access token using client credentials for API authentication.",
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "scope",
                  "grant_type"
                ],
                "properties": {
                  "scope": {
                    "type": "string",
                    "description": "Access scope for the token",
                    "enum": [
                      "payment-create",
                      "payment-all"
                    ]
                  },
                  "grant_type": {
                    "type": "string",
                    "description": "OAuth2 grant type",
                    "enum": [
                      "client_credentials"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessToken"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/payments/payment": {
      "post": {
        "operationId": "createPayment",
        "summary": "Create a standard payment",
        "description": "Establishes a payment for order processing via various payment methods.",
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/payments/payment/{id}": {
      "get": {
        "operationId": "getPaymentStatus",
        "summary": "Get payment status",
        "description": "Retrieves the current status and details of a payment.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Payment ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/payments/payment/{id}/refund": {
      "post": {
        "operationId": "refundPayment",
        "summary": "Refund a payment",
        "description": "Processes a refund for a previously completed payment.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Payment ID to refund",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/payments/payment/{id}/create-recurrence": {
      "post": {
        "operationId": "createRecurringPayment",
        "summary": "Create recurring payment on demand",
        "description": "Creates a recurring payment based on a previously established recurring payment in ON_DEMAND mode.",
        "tags": [
          "RecurringPayments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Parent payment ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRecurrenceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recurring payment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecurringPayment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/payments/payment/{id}/void-recurrence": {
      "post": {
        "operationId": "cancelRecurringPayment",
        "summary": "Cancel recurring payment",
        "description": "Cancels the recurrence of a previously created recurring payment.",
        "tags": [
          "RecurringPayments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Parent payment ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recurrence cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/payments/payment/{id}/capture": {
      "post": {
        "operationId": "capturePreauthorizedPayment",
        "summary": "Capture preauthorized payment",
        "description": "Captures funds from a preauthorized payment, fully or partially.",
        "tags": [
          "PreauthorizedPayments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Pre-authorized payment ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaptureRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment captured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/payments/payment/{id}/void-authorization": {
      "post": {
        "operationId": "voidPreauthorizedPayment",
        "summary": "Void preauthorized payment",
        "description": "Releases pre-authorization funds from a previously created preauthorized payment.",
        "tags": [
          "PreauthorizedPayments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Pre-authorized payment ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authorization voided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/eshops/eshop/{goId}/payment-instruments/{currency}": {
      "get": {
        "operationId": "getPaymentInstruments",
        "summary": "Get allowed payment methods",
        "description": "Returns all allowed payment methods for an eshop profile.",
        "tags": [
          "PaymentMethods"
        ],
        "parameters": [
          {
            "name": "goId",
            "in": "path",
            "required": true,
            "description": "Eshop GO ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "currency",
            "in": "path",
            "required": true,
            "description": "Currency code (e.g., CZK, EUR)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment instruments retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentInstruments"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/accounts/account-statement": {
      "post": {
        "operationId": "generateAccountStatement",
        "summary": "Generate account statement",
        "description": "Generates a statement from the business account and returns the statement file content.",
        "tags": [
          "Account"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountStatementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account statement file",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token obtained from the OAuth2 token endpoint"
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic authentication using client ID and client secret"
      }
    },
    "schemas": {
      "AccessToken": {
        "type": "object",
        "properties": {
          "token_type": {
            "type": "string",
            "example": "bearer"
          },
          "access_token": {
            "type": "string",
            "description": "The access token"
          },
          "refresh_token": {
            "type": "string",
            "description": "The refresh token"
          },
          "expires_in": {
            "type": "integer",
            "description": "Token expiration time in seconds"
          }
        }
      },
      "CreatePaymentRequest": {
        "type": "object",
        "required": [
          "target",
          "amount",
          "currency",
          "order_number"
        ],
        "properties": {
          "payer": {
            "$ref": "#/components/schemas/Payer"
          },
          "target": {
            "$ref": "#/components/schemas/Target"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderItem"
            }
          },
          "amount": {
            "type": "integer",
            "description": "Payment amount in cents"
          },
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., CZK, EUR)"
          },
          "order_number": {
            "type": "string",
            "description": "Unique order identifier"
          },
          "lang": {
            "type": "string",
            "description": "Language code"
          },
          "callback": {
            "$ref": "#/components/schemas/Callback"
          },
          "additional_params": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdditionalParam"
            }
          },
          "preauthorization": {
            "type": "boolean",
            "description": "Whether this is a preauthorized payment"
          },
          "recurrence": {
            "$ref": "#/components/schemas/Recurrence"
          }
        }
      },
      "Payment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "Payment ID"
          },
          "order_number": {
            "type": "string",
            "description": "Order number"
          },
          "state": {
            "type": "string",
            "description": "Payment state"
          },
          "amount": {
            "type": "integer",
            "description": "Payment amount in cents"
          },
          "currency": {
            "type": "string",
            "description": "Currency code"
          },
          "gw_url": {
            "type": "string",
            "description": "Gateway URL for payment redirect"
          },
          "payer": {
            "$ref": "#/components/schemas/Payer"
          },
          "target": {
            "$ref": "#/components/schemas/Target"
          }
        }
      },
      "PaymentDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "order_number": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "enum": [
              "CREATED",
              "PAYMENT_METHOD_CHOSEN",
              "PAID",
              "AUTHORIZED",
              "CANCELED",
              "TIMEOUTED",
              "REFUNDED",
              "PARTIALLY_REFUNDED"
            ]
          },
          "sub_state": {
            "type": "string"
          },
          "amount": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "payment_instrument": {
            "type": "string"
          },
          "payer": {
            "$ref": "#/components/schemas/Payer"
          },
          "target": {
            "$ref": "#/components/schemas/Target"
          }
        }
      },
      "RefundRequest": {
        "type": "object",
        "required": [
          "amount"
        ],
        "properties": {
          "amount": {
            "type": "integer",
            "description": "Refund amount in cents"
          }
        }
      },
      "PaymentResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "result": {
            "type": "string",
            "description": "Operation result"
          }
        }
      },
      "CreateRecurrenceRequest": {
        "type": "object",
        "required": [
          "amount",
          "currency",
          "order_number",
          "items"
        ],
        "properties": {
          "amount": {
            "type": "integer",
            "description": "Payment amount in cents"
          },
          "currency": {
            "type": "string"
          },
          "order_number": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderItem"
            }
          },
          "additional_params": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdditionalParam"
            }
          }
        }
      },
      "RecurringPayment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "parent_id": {
            "type": "integer",
            "format": "int64"
          },
          "order_number": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "amount": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "CaptureRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "Partial capture amount in cents"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderItem"
            }
          }
        }
      },
      "PaymentInstruments": {
        "type": "object",
        "properties": {
          "groups": {
            "type": "object",
            "description": "Groups of payment instruments"
          },
          "enabledPaymentInstruments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "paymentInstrument": {
                  "type": "string"
                },
                "label": {
                  "type": "object"
                },
                "image": {
                  "type": "object"
                },
                "group": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "AccountStatementRequest": {
        "type": "object",
        "required": [
          "date_from",
          "date_to",
          "goid",
          "currency",
          "format"
        ],
        "properties": {
          "date_from": {
            "type": "string",
            "format": "date",
            "description": "Start date"
          },
          "date_to": {
            "type": "string",
            "format": "date",
            "description": "End date"
          },
          "goid": {
            "type": "integer",
            "format": "int64",
            "description": "Eshop GO ID"
          },
          "currency": {
            "type": "string",
            "description": "Currency code"
          },
          "format": {
            "type": "string",
            "description": "Statement file format",
            "enum": [
              "CSV_A",
              "CSV_B",
              "CSV_C",
              "CSV_D",
              "XLS_A",
              "XLS_B",
              "XLS_C",
              "ABO_A",
              "ABO_B"
            ]
          }
        }
      },
      "Payer": {
        "type": "object",
        "properties": {
          "allowed_payment_instruments": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "default_payment_instrument": {
            "type": "string"
          },
          "contact": {
            "type": "object",
            "properties": {
              "first_name": {
                "type": "string"
              },
              "last_name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "phone_number": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "street": {
                "type": "string"
              },
              "postal_code": {
                "type": "string"
              },
              "country_code": {
                "type": "string"
              }
            }
          }
        }
      },
      "Target": {
        "type": "object",
        "required": [
          "type",
          "goid"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "ACCOUNT"
            ]
          },
          "goid": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "OrderItem": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "amount": {
            "type": "integer"
          },
          "count": {
            "type": "integer"
          },
          "vat_rate": {
            "type": "integer"
          }
        }
      },
      "Callback": {
        "type": "object",
        "properties": {
          "return_url": {
            "type": "string",
            "description": "URL for redirect after payment"
          },
          "notification_url": {
            "type": "string",
            "description": "URL for payment status notifications"
          }
        }
      },
      "AdditionalParam": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "Recurrence": {
        "type": "object",
        "properties": {
          "recurrence_cycle": {
            "type": "string",
            "enum": [
              "DAY",
              "WEEK",
              "MONTH",
              "ON_DEMAND"
            ]
          },
          "recurrence_period": {
            "type": "integer"
          },
          "recurrence_date_to": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "scope": {
            "type": "string"
          },
          "field": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "error_code": {
            "type": "integer"
          },
          "error_name": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "OAuth2 token management"
    },
    {
      "name": "Payments",
      "description": "Payment creation, status, and refund operations"
    },
    {
      "name": "RecurringPayments",
      "description": "Recurring payment operations"
    },
    {
      "name": "PreauthorizedPayments",
      "description": "Preauthorized payment capture and void operations"
    },
    {
      "name": "PaymentMethods",
      "description": "Available payment instruments"
    },
    {
      "name": "Account",
      "description": "Merchant account operations"
    }
  ]
}