{
  "openapi": "3.0.0",
  "info": {
    "title": "5centsCDN - Zones",
    "description": "API for managing Zones in <a href=\"https://www.5centscdn.net\" target=\"_blank\">5centsCDN</a>",
    "version": "2.0.0",
    "contact": {
      "email": "help@5centscdn.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/5centscdn/5centsCDN-Zones/2.0.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://api.5centscdn.com/v2",
      "description": "5centsCDN API Server - Production"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "List Zones",
      "description": "list all zones"
    },
    {
      "name": "HTTP Push Zones",
      "description": "endpoints related to  HTTP Push zones"
    },
    {
      "name": "HTTP Pull Zones",
      "description": "endpoints related to  HTTP Pull zones"
    },
    {
      "name": "VOD Push Zones",
      "description": "endpoints related to  VOD Push zones"
    },
    {
      "name": "VOD Pull Zones",
      "description": "endpoints related to  VOD Pull zones"
    },
    {
      "name": "Reports - Standard",
      "description": "Reports for Standard Network"
    },
    {
      "name": "Reports - Volume/Premium",
      "description": "Reports for Volume/Premium Network"
    },
    {
      "name": "Reports - Enterprise",
      "description": "Reports for Enterprise Network"
    },
    {
      "name": "HTTP Zones Global Settings",
      "description": "Global HTTP Zones Settings"
    },
    {
      "name": "VOD Zones Global Settings",
      "description": "Global VOD Zones Settings"
    }
  ],
  "paths": {
    "/zones": {
      "get": {
        "tags": [
          "List Zones"
        ],
        "summary": "Zones",
        "description": "Return all zones",
        "operationId": "zonesList",
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "zones": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/zoneResult"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/http/push": {
      "get": {
        "tags": [
          "HTTP Push Zones"
        ],
        "summary": "Zone",
        "description": "Return  HTTP push zone details",
        "operationId": "zonePushList",
        "deprecated": false,
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "description": "The page number of the result. One page contains 20 results."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "zones": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/zonePushResult"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/http/push/servers": {
      "get": {
        "tags": [
          "HTTP Push Zones"
        ],
        "summary": "Get Servers",
        "description": "HTTP Push Zone Servers",
        "operationId": "HTTPPushZoneServer",
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "servers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/serversResult"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/http/push/new": {
      "post": {
        "tags": [
          "HTTP Push Zones"
        ],
        "summary": "Create Zone",
        "description": "Create a new HTTP Push Zone",
        "operationId": "createZonePush",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createZonePush"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zonePushResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/http/push/{zoneid}": {
      "get": {
        "tags": [
          "HTTP Push Zones"
        ],
        "summary": "Zone",
        "description": "Return  HTTP push zone details",
        "operationId": "getDetailsZonePush",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zonePushResult"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "HTTP Push Zones"
        ],
        "summary": "Update Info",
        "description": "Update the information of HTTP Push Zone",
        "operationId": "updateZonePush",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postZone"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zonePushResult"
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "HTTP Push Zones"
        ],
        "summary": "Delete Info",
        "description": "Delete the information of HTTP Push Zone. To cast request method POST and parameters _METHOD = DELETE",
        "operationId": "deletZonePush",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/http/push/{zoneid}/ssl": {
      "post": {
        "tags": [
          "HTTP Push Zones"
        ],
        "summary": "Update SSL",
        "description": "Update SSL of HTTP push zone",
        "operationId": "updateSslZonePush",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postZoneSSL"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zonePushResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/http/push/{zoneid}/securetoken": {
      "post": {
        "tags": [
          "HTTP Push Zones"
        ],
        "summary": "Update Secure Token",
        "description": "Update SecureToken of HTTP push zone",
        "operationId": "updateSecureTokenZonePush",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postPushZoneSecuretoken"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zonePushResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/http/push/{zoneid}/geoblock": {
      "post": {
        "tags": [
          "HTTP Push Zones"
        ],
        "summary": "Update Geoblock",
        "description": "Update geblock of HTTP push zone",
        "operationId": "updateGeblockZonePush",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/zoneshttppushnew_geoblock"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zonePushResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/http/push/{zoneid}/domainlock": {
      "post": {
        "tags": [
          "HTTP Push Zones"
        ],
        "summary": "Update Domain Lock",
        "description": "Update domain lock of HTTP push zone",
        "operationId": "updateDomainLockZonePush",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postDomainLock"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zonePushResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/http/push/{zoneid}/edge": {
      "post": {
        "tags": [
          "HTTP Push Zones"
        ],
        "summary": "Update Edge Settings",
        "description": "Update Edge settings of HTTP push zone",
        "operationId": "updateEdgeSettingsZonePush",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/zoneshttppushnew_edge"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zonePushResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/http/push/{zoneid}/cache": {
      "post": {
        "tags": [
          "HTTP Push Zones"
        ],
        "summary": "Update Cache",
        "description": "Update cache of HTTP Push Zone",
        "operationId": "updateCacheZonePush",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCache"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zonePushResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/http/push/{zoneid}/restore": {
      "get": {
        "tags": [
          "HTTP Push Zones"
        ],
        "summary": "Restore",
        "description": "Restore HTTP push zone",
        "operationId": "restoreZonePush",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/http/push/{zoneid}/purge": {
      "post": {
        "tags": [
          "HTTP Push Zones"
        ],
        "summary": "Zone Cache Purge",
        "description": "Purge cache of a HTTP push zone",
        "operationId": "zonePushCachePurge",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          },
          {
            "in": "query",
            "name": "delete",
            "schema": {
              "type": "string",
              "example": true,
              "description": "true - delete the cache false - invalidate the cache (default)"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postPurge"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/http/push/{zoneid}/bwlimit": {
      "post": {
        "tags": [
          "HTTP Push Zones"
        ],
        "summary": "Update bandwidth limit",
        "description": "Update bandwidth limit of HTTP push zone",
        "operationId": "updateBwLimitZonePush",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postZoneBwlimit"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zonePushResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/http/push/{zoneid}/import": {
      "post": {
        "tags": [
          "HTTP Push Zones"
        ],
        "summary": "Import HTTP Push Zone",
        "description": "Import HTTP Push Zone",
        "operationId": "importHTTPPushZones",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postPushZoneImport"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/http/push/{zoneid}/filemanager/list": {
      "get": {
        "tags": [
          "HTTP Push Zones"
        ],
        "summary": "Zone File Manager List",
        "description": "Zone File Manager List",
        "operationId": "zonePushFilemanagerList",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          },
          {
            "$ref": "#/components/parameters/dirParam"
          },
          {
            "$ref": "#/components/parameters/queryParam"
          },
          {
            "$ref": "#/components/parameters/markerParam"
          },
          {
            "$ref": "#/components/parameters/endmarkerParam"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/http/push/{zoneid}/filemanager/info": {
      "get": {
        "tags": [
          "HTTP Push Zones"
        ],
        "summary": "Zone File Manager  info",
        "description": "Zone File Manager info",
        "operationId": "zonePushFilemanagerInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          },
          {
            "$ref": "#/components/parameters/fileParam"
          },
          {
            "$ref": "#/components/parameters/mediaParam"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/http/pull": {
      "get": {
        "tags": [
          "HTTP Pull Zones"
        ],
        "summary": "Zone",
        "description": "Zone HTTP Pull list",
        "operationId": "zonePullList",
        "deprecated": false,
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "description": "The page number of the result. One page contains 20 results."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "zones": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/zonePullResult"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/http/pull/new": {
      "post": {
        "tags": [
          "HTTP Pull Zones"
        ],
        "summary": "Create Zone",
        "description": "Create a new HTTP Pull Zone",
        "operationId": "createZonePull",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createPullZone"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zonePullResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/http/pull/{zoneid}": {
      "get": {
        "tags": [
          "HTTP Pull Zones"
        ],
        "summary": "Zone",
        "description": "Return  HTTP pull zone details",
        "operationId": "getZonePull",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zonePullResult"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "HTTP Pull Zones"
        ],
        "summary": "Update Info",
        "description": "update the information of  HTTP pull Zone",
        "operationId": "updateZonePull",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postPullZone"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zonePullResult"
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "HTTP Pull Zones"
        ],
        "summary": "Delete Info",
        "description": "Delete the information of HTTP pull Zone. To cast request method POST and parameters _METHOD = DELETE",
        "operationId": "deleteZonePull",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/http/pull/{zoneid}/purge": {
      "post": {
        "tags": [
          "HTTP Pull Zones"
        ],
        "summary": "Purge",
        "description": "Purge cache of a HTTP pull zone",
        "operationId": "zoneCachePurgeZonePull",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          },
          {
            "in": "query",
            "name": "delete",
            "schema": {
              "type": "string",
              "example": true,
              "description": "true - delete the cache false - invalidate the cache (default)"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postPurge"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/http/pull/{zoneid}/ssl": {
      "post": {
        "tags": [
          "HTTP Pull Zones"
        ],
        "summary": "Update SSL",
        "description": "Update SSL of HTTP pull zone",
        "operationId": "updateSslZonePull",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postZoneSSL"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zonePullResult"
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/http/pull/{zoneid}/securetoken": {
      "post": {
        "tags": [
          "HTTP Pull Zones"
        ],
        "summary": "Update Secure Token",
        "description": "Update SecureToken of HTTP pull zone",
        "operationId": "updateSecureTokenZonePull",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postZoneSecureToken"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zonePullResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/http/pull/{zoneid}/seo": {
      "post": {
        "tags": [
          "HTTP Pull Zones"
        ],
        "summary": "Update Seo",
        "description": "Update Seo of HTTP pull zone",
        "operationId": "updateSeoZonePull",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postZoneSeo"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zonePullResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/http/pull/{zoneid}/originip": {
      "post": {
        "tags": [
          "HTTP Pull Zones"
        ],
        "summary": "Update originip",
        "description": "Update originip of HTTP pull zone",
        "operationId": "updateOriginipZonePull",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postZoneOriginip"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zonePullResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/http/pull/{zoneid}/bwlimit": {
      "post": {
        "tags": [
          "HTTP Pull Zones"
        ],
        "summary": "Update Bandwidth limit",
        "description": "Update Bandwidth limit of HTTP pull zone",
        "operationId": "updatebwlimitZonePull",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postZoneBwlimit"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zonePullResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/http/pull/{zoneid}/edge": {
      "post": {
        "tags": [
          "HTTP Pull Zones"
        ],
        "summary": "Update Edge Settings",
        "description": "Update Edge settings of HTTP record zone",
        "operationId": "updateEdgeSettingsZonePull",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postZoneEdge"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zonePullResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/http/pull/{zoneid}/shield": {
      "post": {
        "tags": [
          "HTTP Pull Zones"
        ],
        "summary": "Update shield Settings",
        "description": "Update shield settings of HTTP record zone",
        "operationId": "updateShieldSettingsZonePull",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/shieldList"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zonePullResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/http/pull/{zoneid}/domainlock": {
      "post": {
        "tags": [
          "HTTP Pull Zones"
        ],
        "summary": "Update Domain Lock",
        "description": "Update Domain lock of HTTP pull zone",
        "operationId": "updateDomainLockZonePull",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postDomainLock"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zonePullResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/http/pull/{zoneid}/geoblock": {
      "post": {
        "tags": [
          "HTTP Pull Zones"
        ],
        "summary": "Update Geoblock",
        "description": "Update Geoblock of HTTP pull zone",
        "operationId": "updateGeoblockZonePull",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/zoneshttppushnew_geoblock"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zonePullResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/http/pull/{zoneid}/restore": {
      "get": {
        "tags": [
          "HTTP Pull Zones"
        ],
        "summary": "Restore",
        "description": "Restore HTTP pull zone",
        "operationId": "restoreZonePull",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/http/pull/{zoneid}/cache": {
      "post": {
        "tags": [
          "HTTP Pull Zones"
        ],
        "summary": "Update Cache",
        "description": "Update Cache HTTP Push Zone",
        "operationId": "updateCacheZonePull",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCache"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zonePullResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/vod/push": {
      "get": {
        "tags": [
          "VOD Push Zones"
        ],
        "summary": "VoD Push",
        "description": "Return VoD Push zones",
        "operationId": "zoneVodPushList",
        "deprecated": false,
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "description": "The page number of the result. One page contains 20 results."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "zones": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/zoneVodPushResult"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/vod/push/servers": {
      "get": {
        "tags": [
          "VOD Push Zones"
        ],
        "summary": "Get Servers",
        "description": "Vod Push Zone Servers",
        "operationId": "VodPushZoneServer",
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "servers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/serversResult"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/vod/push/new": {
      "post": {
        "tags": [
          "VOD Push Zones"
        ],
        "summary": "Create Zone",
        "description": "Create a new VOD push Zone",
        "operationId": "createZoneVodPush",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostPushVod"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zoneVodPushResult"
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/vod/push/{zoneid}": {
      "get": {
        "tags": [
          "VOD Push Zones"
        ],
        "summary": "Zone",
        "description": "Return  VoD push zone details",
        "operationId": "getVodZone",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zoneVodPushResult"
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "VOD Push Zones"
        ],
        "summary": "Update Info",
        "description": "Update information of a VoD Push zone",
        "operationId": "updateInfoZoneVod",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postZoneVodPush"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zoneVodPushResult"
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "VOD Push Zones"
        ],
        "summary": "Delete Info",
        "description": "Delete information of a VoD Push zone. To cast request method POST and parameters _METHOD = DELETE",
        "operationId": "deleteInfoZoneVod",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/vod/push/{zoneid}/ssl": {
      "post": {
        "tags": [
          "VOD Push Zones"
        ],
        "summary": "Update SSL",
        "description": "Update SSL of VoD push zone",
        "operationId": "updateSslZoneVod",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postZoneSSL"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zoneVodPushResult"
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/vod/push/{zoneid}/restore": {
      "get": {
        "tags": [
          "VOD Push Zones"
        ],
        "summary": "Restore",
        "description": "Restore VoD push zone",
        "operationId": "restoreZoneVod",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/vod/push/{zoneid}/purge": {
      "post": {
        "tags": [
          "VOD Push Zones"
        ],
        "summary": "Purge",
        "description": "Purge cache of a VoD Push zone",
        "operationId": "zoneVodCachePurge",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          },
          {
            "in": "query",
            "name": "delete",
            "schema": {
              "type": "string",
              "example": true,
              "description": "true - delete the cache false - invalidate the cache (default)"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postPurge"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/vod/push/{zoneid}/geoblock": {
      "post": {
        "tags": [
          "VOD Push Zones"
        ],
        "summary": "Update Geoblock",
        "description": "Update Geoblock of VoD push zone",
        "operationId": "updateGeoblockZoneVod",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostGeoBlockVodPush"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zoneVodPushResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/vod/push/{zoneid}/eac": {
      "post": {
        "tags": [
          "VOD Push Zones"
        ],
        "summary": "Update External Auth Control",
        "description": "Update External auth control for  of VoD push zone",
        "operationId": "updateExternalAuthControlZoneVod",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postEac"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zoneVodPushResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/vod/push/{zoneid}/edge": {
      "post": {
        "tags": [
          "VOD Push Zones"
        ],
        "summary": "Update Edge Settings",
        "description": "Update Edge settings of VoD push zone",
        "operationId": "updateEdgeSettingsZoneVod",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postEdgePull"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zoneVodPushResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/vod/push/{zoneid}/domainlock": {
      "post": {
        "tags": [
          "VOD Push Zones"
        ],
        "summary": "Update Domain Lock",
        "description": "Update Domain lock of VoD push zone",
        "operationId": "updateDomainLockZoneVod",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postDomainLock"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zoneVodPushResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/vod/push/{zoneid}/securetoken": {
      "post": {
        "tags": [
          "VOD Push Zones"
        ],
        "summary": "Update Securetoken",
        "description": "Update Securetoken of VoD push zone",
        "operationId": "updateSecuretokenZoneVod",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postPushZoneSecuretoken"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zoneVodPushResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/vod/push/{zoneid}/import": {
      "post": {
        "tags": [
          "VOD Push Zones"
        ],
        "summary": "Import VOD Push Zone",
        "description": "Import VOD Push Zone",
        "operationId": "importVODPushZones",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postPushZoneImport"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/vod/push/{zoneid}/filemanager/list": {
      "get": {
        "tags": [
          "VOD Push Zones"
        ],
        "summary": "Zone filemanager List",
        "description": "Zone filemanager List",
        "operationId": "zoneVodPushFilemanager",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          },
          {
            "$ref": "#/components/parameters/dirParam"
          },
          {
            "$ref": "#/components/parameters/queryParam"
          },
          {
            "$ref": "#/components/parameters/markerParam"
          },
          {
            "$ref": "#/components/parameters/endmarkerParam"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/vod/push/{zoneid}/filemanager/info": {
      "get": {
        "tags": [
          "VOD Push Zones"
        ],
        "summary": "Zone filemanager info",
        "description": "Zone filemanager info",
        "operationId": "zoneVodPushFilemanagerInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          },
          {
            "$ref": "#/components/parameters/fileParam"
          },
          {
            "$ref": "#/components/parameters/mediaParam"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/vod/pull": {
      "get": {
        "tags": [
          "VOD Pull Zones"
        ],
        "summary": "VoD Pull",
        "description": "Return VoD Pull zones",
        "operationId": "zoneVodPullList",
        "deprecated": false,
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "description": "The page number of the result. One page contains 20 results."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "zones": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/zoneVodPullResult"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/vod/pull/new": {
      "post": {
        "tags": [
          "VOD Pull Zones"
        ],
        "summary": "Create Zone",
        "description": "Create a new VOD pull Zone",
        "operationId": "createzonevodpull",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createPullvod"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zoneVodPullResult"
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/vod/pull/{zoneid}": {
      "get": {
        "tags": [
          "VOD Pull Zones"
        ],
        "summary": "Zone",
        "description": "Return  VoD pull zone details",
        "operationId": "getVodzonepull",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zoneVodPullResult"
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "VOD Pull Zones"
        ],
        "summary": "Update Info",
        "description": "Update information of a VoD Pull zone",
        "operationId": "updateInfoZoneVodPull",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postZoneVodPull"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zoneVodPullResult"
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "VOD Pull Zones"
        ],
        "summary": "Delete Info",
        "description": "Delete information of a VoD Pull zone. To cast request method POST and parameters _METHOD = DELETE",
        "operationId": "deleteInfoZoneVodPull",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/vod/pull/{zoneid}/ssl": {
      "post": {
        "tags": [
          "VOD Pull Zones"
        ],
        "summary": "Update SSL",
        "description": "Update SSL of VoD pull zone",
        "operationId": "updateSslZoneVodPull",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postZoneSSL"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zoneVodPullResult"
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/vod/pull/{zoneid}/restore": {
      "get": {
        "tags": [
          "VOD Pull Zones"
        ],
        "summary": "Restore",
        "description": "Restore VoD pull zone",
        "operationId": "restoreZonevodpull",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/vod/pull/{zoneid}/purge": {
      "post": {
        "tags": [
          "VOD Pull Zones"
        ],
        "summary": "Purge",
        "description": "Purge cache of a VoD pull zone",
        "operationId": "zoneVodPullCachePurge",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          },
          {
            "in": "query",
            "name": "delete",
            "schema": {
              "type": "string",
              "example": true,
              "description": "true - delete the cache false - invalidate the cache (default)"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postPurge"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/vod/pull/{zoneid}/geoblock": {
      "post": {
        "tags": [
          "VOD Pull Zones"
        ],
        "summary": "Update Geoblock",
        "description": "Update Geoblock of VoD pull zone",
        "operationId": "updateGeoblockZoneVodPull",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostGeoBlock"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zoneVodPullResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/vod/pull/{zoneid}/shield": {
      "post": {
        "tags": [
          "VOD Pull Zones"
        ],
        "summary": "Update shield Settings",
        "description": "Update shield settings of VOD record zone",
        "operationId": "updateShieldSettingsZoneVod",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/shieldList"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zoneVodPullResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/vod/pull/{zoneid}/eac": {
      "post": {
        "tags": [
          "VOD Pull Zones"
        ],
        "summary": "Update External Auth Control",
        "description": "Update External auth control for  of VoD push zone",
        "operationId": "updateExternalAuthControlZoneVodPull",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postEac"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zoneVodPullResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/vod/pull/{zoneid}/edge": {
      "post": {
        "tags": [
          "VOD Pull Zones"
        ],
        "summary": "Update Edge Settings",
        "description": "Update Edge settings of VoD push zone",
        "operationId": "updateEdgeSettingsZoneVodPull",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postEdgePull"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zoneVodPullResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/vod/pull/{zoneid}/domainlock": {
      "post": {
        "tags": [
          "VOD Pull Zones"
        ],
        "summary": "Update Domain Lock",
        "description": "Update Domain lock of VoD push zone",
        "operationId": "updateDomainLockZoneVodPull",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postDomainLock"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zoneVodPullResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/vod/pull/{zoneid}/securetoken": {
      "post": {
        "tags": [
          "VOD Pull Zones"
        ],
        "summary": "Update Securetoken",
        "description": "Update securetoken of VoD push zone",
        "operationId": "updateSecuretokenZoneVodPull",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostSecureToken"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "zone": {
                      "$ref": "#/components/schemas/zoneVodPullResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/reports/http/push/{zoneid}/standard/stats": {
      "post": {
        "tags": [
          "Reports - Standard"
        ],
        "summary": "Reports by zone push Summary",
        "description": "Get reports of zone push Summary",
        "operationId": "reportsByZonePushSummary",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostSummaryReport"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "stats": {
                      "$ref": "#/components/schemas/SummaryReportResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/reports/http/push/{zoneid}/standard/cache": {
      "post": {
        "tags": [
          "Reports - Standard"
        ],
        "summary": "Reports by zone push  Cache Statistics",
        "description": "Get reports of zone push Summary",
        "operationId": "reportsByZonePushCache",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCacheReport"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "stats": {
                      "type": "object",
                      "properties": {
                        "cache_statistics": {
                          "$ref": "#/components/schemas/cache_statistic_List"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/reports/http/push/{zoneid}/standard/topfiles": {
      "post": {
        "tags": [
          "Reports - Standard"
        ],
        "summary": "Reports by zone push Top Files",
        "description": "Get reports of zone top files",
        "operationId": "reportsByZonePushTopFiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PosttopfilesReport"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "stats": {
                      "type": "object",
                      "properties": {
                        "top_files": {
                          "$ref": "#/components/schemas/top_filesList"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/reports/http/push/{zoneid}/standard/topreferrers": {
      "post": {
        "tags": [
          "Reports - Standard"
        ],
        "summary": "Reports by zone push Top Referrers",
        "description": "Get reports of zone top referrers",
        "operationId": "reportsByZonePushTopReferrers",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostTopReferrersReport"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "stats": {
                      "type": "object",
                      "properties": {
                        "top_referrers": {
                          "$ref": "#/components/schemas/top_referrersList"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/reports/http/push/{zoneid}/standard/statuscodes": {
      "post": {
        "tags": [
          "Reports - Standard"
        ],
        "summary": "Reports by zone push Status Codes",
        "description": "Get reports of zone push Status Codes",
        "operationId": "reportsByZonePushStatusCode",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Poststatuscodes"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "stats": {
                      "type": "object",
                      "properties": {
                        "status_codes": {
                          "$ref": "#/components/schemas/statusCodesList"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/reports/http/push/{zoneid}/standard/countries": {
      "post": {
        "tags": [
          "Reports - Standard"
        ],
        "summary": "Reports by zone push countries",
        "description": "Get reports of zone push countries",
        "operationId": "reportsByZonePushCountries",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Poststatuscodes"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "stats": {
                      "type": "object",
                      "properties": {
                        "countries": {
                          "$ref": "#/components/schemas/countriesList"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/reports/http/push/{zoneid}/standard/browsers": {
      "post": {
        "tags": [
          "Reports - Standard"
        ],
        "summary": "Reports by zone push browsers",
        "description": "Get reports of zone push browsers",
        "operationId": "reportsByZonePushBrowsers",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Poststatuscodes"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "stats": {
                      "type": "object",
                      "properties": {
                        "browsers": {
                          "$ref": "#/components/schemas/browsersList"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/reports/http/push/{zoneid}/standard/os": {
      "post": {
        "tags": [
          "Reports - Standard"
        ],
        "summary": "Reports by zone push os",
        "description": "Get reports of zone push os",
        "operationId": "reportsByZonePushOS",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Poststatuscodes"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "stats": {
                      "type": "object",
                      "properties": {
                        "os": {
                          "$ref": "#/components/schemas/osList"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/reports/http/push/{zoneid}/standard/visitors": {
      "post": {
        "tags": [
          "Reports - Standard"
        ],
        "summary": "Reports by zone push visitors",
        "description": "Get reports of zone push visitors",
        "operationId": "reportsByZonePushVisitors",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Poststatuscodes"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "stats": {
                      "type": "object",
                      "properties": {
                        "visitors": {
                          "$ref": "#/components/schemas/visitorsList"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/reports/http/push/{zoneid}/enterprise/traffic": {
      "post": {
        "tags": [
          "Reports - Enterprise"
        ],
        "summary": "Reports by zone push traffic",
        "description": "Get reports of zone push traffic",
        "operationId": "reportsAkamaiByZonePushTraffic",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostReportTraffic"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
[...]
