{
  "openapi": "3.0.0",
  "info": {
    "title": "SafetyLine",
    "version": "2.1",
    "x-jentic-source-url": "https://api.slmonitor.com/swagger/v2.1/swagger.json"
  },
  "servers": [
    {
      "url": "https://api.slmonitor.com/"
    }
  ],
  "paths": {
    "/api/v2.1/companies/{companyId}/checkin-text-suggestion": {
      "post": {
        "parameters": [
          {
            "description": "This language should be provided as an ISO 639-1 code, e.g. \"en\" for English or \"fr\" for French. If this value is not set, the default value is \"en\" for English.",
            "in": "query",
            "name": "language",
            "schema": {
              "default": "en",
              "type": "string"
            },
            "x-nullable": true
          },
          {
            "in": "path",
            "name": "companyId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "The suggested check-in message",
            "x-nullable": false
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            },
            "description": "Bad Request",
            "x-nullable": false
          },
          "413": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            },
            "description": "Payload Too Large",
            "x-nullable": false
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            },
            "description": "Default response",
            "x-nullable": false
          }
        },
        "security": [
          {
            "EmailLogin": []
          },
          {
            "MicrosoftLogin": []
          }
        ],
        "tags": [
          "Api"
        ],
        "operationId": "Api_GetCheckInTextSuggestion",
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "format": "binary",
                "type": "string"
              }
            }
          },
          "required": true
        },
        "summary": "Gets a suggested check-in message based on the surroundings"
      }
    },
    "/api/v2.1/companies/{companyId}/me": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "companyId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "The User",
            "x-nullable": false
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            },
            "description": "Default response",
            "x-nullable": false
          }
        },
        "security": [
          {
            "EmailLogin": []
          },
          {
            "MicrosoftLogin": []
          }
        ],
        "tags": [
          "Api"
        ],
        "description": "This operation gets the authenticated user's profile.",
        "operationId": "Api_GetUser",
        "summary": "Get the authenticated user"
      }
    },
    "/api/v2.1/companies/{companyId}/monitors/{uniqueUserId}/notifications": {
      "get": {
        "parameters": [
          {
            "description": "The unique user id",
            "in": "path",
            "name": "uniqueUserId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "in": "path",
            "name": "companyId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/MonitorNotification"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/MonitorNotification"
                  },
                  "type": "array"
                }
              },
              "text/plain": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/MonitorNotification"
                  },
                  "type": "array"
                }
              }
            },
            "description": "The requested MonitorNotifications",
            "x-nullable": false
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            },
            "description": "Default response",
            "x-nullable": false
          }
        },
        "security": [
          {
            "EmailLogin": [
              "CompanyAdministrator",
              "CompanyMonitor"
            ]
          },
          {
            "MicrosoftLogin": [
              "CompanyAdministrator",
              "CompanyMonitor"
            ]
          }
        ],
        "tags": [
          "Api"
        ],
        "description": "This operation gets the specified user's monitor notifications.",
        "operationId": "Api_GetMonitorNotificationsForUser",
        "summary": "Get the user's monitor notifications"
      }
    },
    "/api/v2.1/companies/{companyId}/users": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "companyId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/User"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/User"
                  },
                  "type": "array"
                }
              },
              "text/plain": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/User"
                  },
                  "type": "array"
                }
              }
            },
            "description": "The requested Users",
            "x-nullable": false
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            },
            "description": "Default response",
            "x-nullable": false
          }
        },
        "security": [
          {
            "EmailLogin": [
              "CompanyAdministrator",
              "CompanyMonitor"
            ]
          },
          {
            "MicrosoftLogin": [
              "CompanyAdministrator",
              "CompanyMonitor"
            ]
          }
        ],
        "tags": [
          "Api"
        ],
        "description": "This operation gets all the users' profiles.",
        "operationId": "Api_GetUsers",
        "summary": "Get all the users"
      }
    },
    "/api/v2.1/companies/{companyId}/users/events": {
      "get": {
        "parameters": [
          {
            "description": "The ISO 8601 or RFC 3339 start date and time of the time range.",
            "in": "query",
            "name": "start",
            "schema": {
              "format": "date-time",
              "type": "string"
            },
            "x-nullable": true
          },
          {
            "description": "The ISO 8601 or RFC 3339 end date and time of the time range.",
            "in": "query",
            "name": "end",
            "schema": {
              "format": "date-time",
              "type": "string"
            },
            "x-nullable": true
          },
          {
            "in": "path",
            "name": "companyId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/UserEvent"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/UserEvent"
                  },
                  "type": "array"
                }
              },
              "text/plain": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/UserEvent"
                  },
                  "type": "array"
                }
              }
            },
            "description": "The list of UserEvent objects within the specified time range.",
            "x-nullable": false
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            },
            "description": "Default response",
            "x-nullable": false
          }
        },
        "security": [
          {
            "EmailLogin": [
              "CompanyAdministrator",
              "CompanyMonitor"
            ]
          },
          {
            "MicrosoftLogin": [
              "CompanyAdministrator",
              "CompanyMonitor"
            ]
          }
        ],
        "tags": [
          "Api"
        ],
        "description": "This operation retrieves the events within the specified time range.",
        "operationId": "Api_GetUserEvents",
        "summary": "Get the user events within a specified time range."
      }
    },
    "/api/v2.1/companies/{companyId}/users/{uniqueUserId}": {
      "get": {
        "parameters": [
          {
            "description": "The unique user id",
            "in": "path",
            "name": "uniqueUserId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "in": "path",
            "name": "companyId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "The User",
            "x-nullable": false
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            },
            "description": "Default response",
            "x-nullable": false
          }
        },
        "security": [
          {
            "EmailLogin": [
              "CompanyAdministrator",
              "CompanyMonitor"
            ]
          },
          {
            "MicrosoftLogin": [
              "CompanyAdministrator",
              "CompanyMonitor"
            ]
          }
        ],
        "tags": [
          "Api"
        ],
        "description": "This operation gets the specified user's profile.",
        "operationId": "Api_GetUser2",
        "summary": "Get the user's profile"
      }
    },
    "/api/v2.1/companies/{companyId}/users/{uniqueUserId}/checkin": {
      "post": {
        "parameters": [
          {
            "description": "The unique user id",
            "in": "path",
            "name": "uniqueUserId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "description": "The optional check-in interval in minutes",
            "in": "query",
            "name": "interval",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-nullable": true
          },
          {
            "description": "Optional, the device type performing the command.",
            "in": "query",
            "name": "deviceType",
            "schema": {
              "default": 10,
              "enum": [
                1,
                2,
                3,
                4,
                5,
                10,
                11
              ],
              "type": "integer"
            },
            "x-nullable": false,
            "x-schema": {
              "$ref": "#/components/schemas/DeviceType"
            }
          },
          {
            "in": "path",
            "name": "companyId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "The updated User",
            "x-nullable": false
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            },
            "description": "Default response",
            "x-nullable": false
          }
        },
        "security": [
          {
            "EmailLogin": [
              "CompanyMonitor"
            ]
          },
          {
            "MicrosoftLogin": [
              "CompanyMonitor"
            ]
          }
        ],
        "tags": [
          "Api"
        ],
        "description": "This operation checks the worker in for a default time or a custom time if the optional interval is provided.",
        "operationId": "Api_CheckIn",
        "summary": "Check in"
      }
    },
    "/api/v2.1/companies/{companyId}/users/{uniqueUserId}/checkin-audio": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "uniqueUserId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "description": "The optional check-in interval in minutes",
            "in": "query",
            "name": "interval",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-nullable": true
          },
          {
            "description": "Optional, the device type performing the command.",
            "in": "query",
            "name": "deviceType",
            "schema": {
              "default": 10,
              "enum": [
                1,
                2,
                3,
                4,
                5,
                10,
                11
              ],
              "type": "integer"
            },
            "x-nullable": false,
            "x-schema": {
              "$ref": "#/components/schemas/DeviceType"
            }
          },
          {
            "in": "path",
            "name": "companyId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "The updated User",
            "x-nullable": false
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            },
            "description": "Default response",
            "x-nullable": false
          }
        },
        "security": [
          {
            "EmailLogin": [
              "CompanyMonitor"
            ]
          },
          {
            "MicrosoftLogin": [
              "CompanyMonitor"
            ]
          }
        ],
        "tags": [
          "Api"
        ],
        "description": "This operation checks the worker in for a default time or a custom time if the optional interval is provided, and includes an audio attachment.",
        "operationId": "Api_CheckInWithAudio",
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "format": "binary",
                "type": "string"
              }
            }
          },
          "required": true
        },
        "summary": "Check in with an audio recording"
      }
    },
    "/api/v2.1/companies/{companyId}/users/{uniqueUserId}/checkin-text": {
      "post": {
        "parameters": [
          {
            "description": "The unique user id",
            "in": "path",
            "name": "uniqueUserId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "description": "The optional check-in interval in minutes",
            "in": "query",
            "name": "interval",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-nullable": true
          },
          {
            "description": "Optional, the device type performing the command.",
            "in": "query",
            "name": "deviceType",
            "schema": {
              "default": 10,
              "enum": [
                1,
                2,
                3,
                4,
                5,
                10,
                11
              ],
              "type": "integer"
            },
            "x-nullable": false,
            "x-schema": {
              "$ref": "#/components/schemas/DeviceType"
            }
          },
          {
            "in": "path",
            "name": "companyId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "The updated User",
            "x-nullable": false
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            },
            "description": "Default response",
            "x-nullable": false
          }
        },
        "security": [
          {
            "EmailLogin": [
              "CompanyMonitor"
            ]
          },
          {
            "MicrosoftLogin": [
              "CompanyMonitor"
            ]
          }
        ],
        "tags": [
          "Api"
        ],
        "description": "This operation checks the worker in for a default time or a custom time if the optional interval is provided.",
        "operationId": "Api_CheckInWithText",
        "requestBody": {
          "content": {
            "application/*+json": {
              "schema": {
                "type": "string"
              }
            },
            "application/json": {
              "schema": {
                "type": "string"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "type": "string"
              }
            },
            "text/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "description": "The text report",
          "required": true
        },
        "summary": "Check in with a text report"
      }
    },
    "/api/v2.1/companies/{companyId}/users/{uniqueUserId}/emergency": {
      "post": {
        "parameters": [
          {
            "description": "The unique user id",
            "in": "path",
            "name": "uniqueUserId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "description": "Optional, the device type performing the command.",
            "in": "query",
            "name": "deviceType",
            "schema": {
              "default": 10,
              "enum": [
                1,
                2,
                3,
                4,
                5,
                10,
                11
              ],
              "type": "integer"
            },
            "x-nullable": false,
            "x-schema": {
              "$ref": "#/components/schemas/DeviceType"
            }
          },
          {
            "in": "path",
            "name": "companyId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "The updated User",
            "x-nullable": false
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            },
            "description": "Default response",
            "x-nullable": false
          }
        },
        "security": [
          {
            "EmailLogin": [
              "CompanyMonitor"
            ]
          },
          {
            "MicrosoftLogin": [
              "CompanyMonitor"
            ]
          }
        ],
        "tags": [
          "Api"
        ],
        "description": "This operation declares an emergency.",
        "operationId": "Api_Emergency",
        "summary": "Declare an emergency"
      }
    },
    "/api/v2.1/companies/{companyId}/users/{uniqueUserId}/emergency-audio": {
      "post": {
        "parameters": [
          {
            "description": "The unique user id",
            "in": "path",
            "name": "uniqueUserId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "description": "Optional, the device type performing the command.",
            "in": "query",
            "name": "deviceType",
            "schema": {
              "default": 10,
              "enum": [
                1,
                2,
                3,
                4,
                5,
                10,
                11
              ],
              "type": "integer"
            },
            "x-nullable": false,
            "x-schema": {
              "$ref": "#/components/schemas/DeviceType"
            }
          },
          {
            "in": "path",
            "name": "companyId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "The updated User",
            "x-nullable": false
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            },
            "description": "Default response",
            "x-nullable": false
          }
        },
        "security": [
          {
            "EmailLogin": [
              "CompanyMonitor"
            ]
          },
          {
            "MicrosoftLogin": [
              "CompanyMonitor"
            ]
          }
        ],
        "tags": [
          "Api"
        ],
        "description": "This operation declares an emergency, and includes an audio attachment.",
        "operationId": "Api_EmergencyWithAudio",
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "format": "binary",
                "type": "string"
              }
            }
          },
          "required": true
        },
        "summary": "Declare an emergency with an audio recording"
      }
    },
    "/api/v2.1/companies/{companyId}/users/{uniqueUserId}/emergency-text": {
      "post": {
        "parameters": [
          {
            "description": "The unique user id",
            "in": "path",
            "name": "uniqueUserId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "description": "Optional, the device type performing the command.",
            "in": "query",
            "name": "deviceType",
            "schema": {
              "default": 10,
              "enum": [
                1,
                2,
                3,
                4,
                5,
                10,
                11
              ],
              "type": "integer"
            },
            "x-nullable": false,
            "x-schema": {
              "$ref": "#/components/schemas/DeviceType"
            }
          },
          {
            "in": "path",
            "name": "companyId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "The updated User",
            "x-nullable": false
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            },
            "description": "Default response",
            "x-nullable": false
          }
        },
        "security": [
          {
            "EmailLogin": [
              "CompanyMonitor"
            ]
          },
          {
            "MicrosoftLogin": [
              "CompanyMonitor"
            ]
          }
        ],
        "tags": [
          "Api"
        ],
        "description": "This operation declares an emergency.",
        "operationId": "Api_EmergencyWithText",
        "requestBody": {
          "content": {
            "application/*+json": {
              "schema": {
                "type": "string"
              }
            },
            "application/json": {
              "schema": {
                "type": "string"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "type": "string"
              }
            },
            "text/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "description": "The text report",
          "required": true
        },
        "summary": "Declare an emergency with a text report"
      }
    },
    "/api/v2.1/companies/{companyId}/users/{uniqueUserId}/end": {
      "post": {
        "parameters": [
          {
            "description": "The unique user id",
            "in": "path",
            "name": "uniqueUserId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "description": "Optional, the device type performing the command.",
            "in": "query",
            "name": "deviceType",
            "schema": {
              "default": 10,
              "enum": [
                1,
                2,
                3,
                4,
                5,
                10,
                11
              ],
              "type": "integer"
            },
            "x-nullable": false,
            "x-schema": {
              "$ref": "#/components/schemas/DeviceType"
            }
          },
          {
            "in": "path",
            "name": "companyId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "The updated User",
            "x-nullable": false
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            },
            "description": "Default response",
            "x-nullable": false
          }
        },
        "security": [
          {
            "EmailLogin": [
              "CompanyMonitor"
            ]
          },
          {
            "MicrosoftLogin": [
              "CompanyMonitor"
            ]
          }
        ],
        "tags": [
          "Api"
        ],
        "description": "This operation ends monitoring.",
        "operationId": "Api_End",
        "summary": "End monitoring"
      }
    },
    "/api/v2.1/companies/{companyId}/users/{uniqueUserId}/end-audio": {
      "post": {
        "parameters": [
          {
            "description": "The unique user id",
            "in": "path",
            "name": "uniqueUserId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "description": "Optional, the device type performing the command.",
            "in": "query",
            "name": "deviceType",
            "schema": {
              "default": 10,
              "enum": [
                1,
                2,
                3,
                4,
                5,
                10,
                11
              ],
              "type": "integer"
            },
            "x-nullable": false,
            "x-schema": {
              "$ref": "#/components/schemas/DeviceType"
            }
          },
          {
            "in": "path",
            "name": "companyId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "The updatedUser",
            "x-nullable": false
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            },
            "description": "Default response",
            "x-nullable": false
          }
        },
        "security": [
          {
            "EmailLogin": [
              "CompanyMonitor"
            ]
          },
          {
            "MicrosoftLogin": [
              "CompanyMonitor"
            ]
          }
        ],
        "tags": [
          "Api"
        ],
        "description": "This operation ends monitoring, and includes an audio attachment.",
        "operationId": "Api_EndWithAudio",
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "format": "binary",
                "type": "string"
              }
            }
          },
          "required": true
        },
        "summary": "End monitoring with an audio recording"
      }
    },
    "/api/v2.1/companies/{companyId}/users/{uniqueUserId}/end-text": {
      "post": {
        "parameters": [
          {
            "description": "The unique user id",
            "in": "path",
            "name": "uniqueUserId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "description": "Optional, the device type performing the command.",
            "in": "query",
            "name": "deviceType",
            "schema": {
              "default": 10,
              "enum": [
                1,
                2,
                3,
                4,
                5,
                10,
                11
              ],
              "type": "integer"
            },
            "x-nullable": false,
            "x-schema": {
              "$ref": "#/components/schemas/DeviceType"
            }
          },
          {
            "in": "path",
            "name": "companyId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "The updated User",
            "x-nullable": false
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            },
            "description": "Default response",
            "x-nullable": false
          }
        },
        "security": [
          {
            "EmailLogin": [
              "CompanyMonitor"
            ]
          },
          {
            "MicrosoftLogin": [
              "CompanyMonitor"
            ]
          }
        ],
        "tags": [
          "Api"
        ],
        "description": "This operation ends monitoring.",
        "operationId": "Api_EndWithText",
        "requestBody": {
          "content": {
            "application/*+json": {
              "schema": {
                "type": "string"
              }
            },
            "application/json": {
              "schema": {
                "type": "string"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "type": "string"
              }
            },
            "text/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "description": "The text report",
          "required": true
        },
        "summary": "End monitoring with a text report"
      }
    },
    "/api/v2.1/companies/{companyId}/users/{uniqueUserId}/itinerary": {
      "put": {
        "parameters": [
          {
            "description": "The unique user id",
            "in": "path",
            "name": "uniqueUserId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "in": "path",
            "name": "companyId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "The updated User",
            "x-nullable": false
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            },
            "description": "Default response",
            "x-nullable": false
          }
        },
        "security": [
          {
            "EmailLogin": [
              "CompanyMonitor"
            ]
          },
          {
            "MicrosoftLogin": [
              "CompanyMonitor"
            ]
          }
        ],
        "tags": [
          "Api"
        ],
        "description": "This operation updates the worker's itinerary.",
        "operationId": "Api_UpdateItinerary",
        "requestBody": {
          "content": {
            "application/*+json": {
              "schema": {
                "type": "string"
              }
            },
            "application/json": {
              "schema": {
                "type": "string"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "type": "string"
              }
            },
            "text/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "description": "The itinerary text",
          "required": true
        },
        "summary": "Update the itinerary"
      }
    },
    "/api/v2.1/companies/{companyId}/users/{uniqueUserId}/itinerary-file": {
      "put": {
        "parameters": [
          {
            "description": "The unique user id",
            "in": "path",
            "name": "uniqueUserId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "in": "path",
            "name": "companyId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "The updated User",
            "x-nullable": false
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            },
            "description": "Default response",
            "x-nullable": false
          }
        },
        "security": [
          {
            "EmailLogin": [
              "CompanyMonitor"
            ]
          },
          {
            "MicrosoftLogin": [
              "CompanyMonitor"
            ]
          }
        ],
        "tags": [
          "Api"
        ],
        "description": "This operation updates the worker's itinerary.",
        "operationId": "Api_UpdateItineraryFile",
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "format": "binary",
                "type": "string"
              }
            }
          },
          "required": true
        },
        "summary": "Update the itinerary file"
      }
    },
    "/api/v2.1/companies/{companyId}/users/{uniqueUserId}/location": {
      "post": {
        "parameters": [
          {
            "description": "The unique user id",
            "in": "path",
            "name": "uniqueUserId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "description": "Optional, the device type performing the command.",
            "in": "query",
            "name": "deviceType",
            "schema": {
              "default": 10,
              "enum": [
                1,
                2,
                3,
                4,
                5,
                10,
                11
              ],
              "type": "integer"
            },
            "x-nullable": false,
            "x-schema": {
              "$ref": "#/components/schemas/DeviceType"
            }
          },
          {
            "in": "path",
            "name": "companyId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "The updated User",
            "x-nullable": false
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            },
            "description": "Default response",
            "x-nullable": false
          }
        },
        "security": [
          {
            "EmailLogin": [
              "CompanyMonitor"
            ]
          },
          {
            "MicrosoftLogin": [
              "CompanyMonitor"
            ]
          }
        ],
        "tags": [
          "Api"
        ],
        "description": "This operation adds a location to the worker's event history.",
        "operationId": "Api_ReportLocation",
        "requestBody": {
          "content": {
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EventLocationData"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventLocationData"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/EventLocationData"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EventLocationData"
              }
            }
          },
          "description": "The EventLocationData",
          "required": true
        },
        "summary": "Report a location"
      }
    },
    "/api/v2.1/companies/{companyId}/users/{uniqueUserId}/text": {
      "post": {
        "parameters": [
          {
            "description": "The unique user id",
            "in": "path",
            "name": "uniqueUserId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "description": "Optional, the device type performing the command.",
            "in": "query",
            "name": "deviceType",
            "schema": {
              "default": 10,
              "enum": [
                1,
                2,
                3,
                4,
                5,
                10,
                11
              ],
              "type": "integer"
            },
            "x-nullable": false,
            "x-schema": {
              "$ref": "#/components/schemas/DeviceType"
            }
          },
          {
            "in": "path",
            "name": "companyId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "200 for success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            },
            "description": "Default response",
            "x-nullable": false
          }
        },
        "security": [
          {
            "EmailLogin": [
              "CompanyMonitor"
            ]
          },
          {
            "MicrosoftLogin": [
              "CompanyMonitor"
            ]
          }
        ],
        "tags": [
          "Api"
        ],
        "description": "The operation adds a text message to the worker's event history.",
        "operationId": "Api_ReportText",
        "requestBody": {
          "content": {
            "application/*+json": {
              "schema": {
                "type": "string"
              }
            },
            "application/json": {
              "schema": {
                "type": "string"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "type": "string"
              }
            },
            "text/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "description": "The text to report",
          "required": true
        },
        "summary": "Send a text message"
      }
    }
  },
  "components": {
    "requestBodies": {
      "Api_CheckInWithTextText": {
        "content": {
          "application/*+json": {
            "schema": {
              "type": "string"
            }
          },
          "application/json": {
            "schema": {
              "type": "string"
            }
          },
          "application/json-patch+json": {
            "schema": {
              "type": "string"
            }
          },
          "text/json": {
            "schema": {
              "type": "string"
            }
          }
        },
        "description": "The text report",
        "required": true
      },
      "Api_GetCheckInTextSuggestion": {
        "content": {
          "application/octet-stream": {
            "schema": {
              "format": "binary",
              "type": "string"
            }
          }
        },
        "required": true
      }
    },
    "schemas": {
      "BatteryPowerSource": {
        "description": "",
        "enum": [
          0,
          1,
          2,
          3,
          4
        ],
        "type": "integer",
        "x-enumNames": [
          "Unknown",
          "Battery",
          "AC",
          "Usb",
          "Wireless"
        ]
      },
      "Company": {
        "description": "The company information",
        "properties": {
          "login": {
            "description": "The login ID",
            "type": "string"
          },
          "name": {
            "description": "The company name\n            ",
            "type": "string"
          }
        },
        "required": [
          "login",
          "name"
        ],
        "type": "object"
      },
      "DeviceInfo": {
        "properties": {
          "battery": {
            "$ref": "#/components/schemas/PowerInfo"
          },
          "model": {
            "type": "string"
          },
          "platform": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "DeviceType": {
        "description": "",
        "enum": [
          1,
          2,
          3,
          4,
          5,
          10,
          11
        ],
        "type": "integer",
        "x-enumNames": [
          "WebPhone",
          "Telephone",
          "Computer",
          "Html",
          "System",
          "HTTP_API",
          "SatelliteDevice"
        ]
      },
      "EventLocationData": {
        "properties": {
          "address": {
            "type": "string"
          },
          "altitude": {
            "format": "double",
            "minimum": -6371000,
            "type": "number"
          },
          "date": {
            "format": "date-time",
            "minLength": 1,
            "type": "string"
          },
          "device": {
            "$ref": "#/components/schemas/DeviceInfo"
          },
          "heading": {
            "format": "double",
            "maximum": 360,
            "minimum": 0,
            "type": "number"
          },
          "horizontalAccuracy": {
            "format": "double",
            "minimum": 0,
            "type": "number"
          },
          "latitude": {
            "format": "double",
            "maximum": 90,
            "minimum": -90,
            "type": "number"
          },
          "longitude": {
            "format": "double",
            "maximum": 180,
            "minimum": -180,
            "type": "number"
          },
          "speed": {
            "format": "double",
            "minimum": 0,
            "type": "number"
          },
          "verticalAccuracy": {
            "format": "double",
            "minimum": 0,
            "type": "number"
          }
        },
        "required": [
          "latitude",
          "longitude",
          "date",
          "device"
        ],
        "type": "object"
      },
      "Group": {
        "description": "The group information",
        "properties": {
          "name": {
            "description": "The group name\n            ",
            "type": "string"
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      },
      "Language": {
        "description": "",
        "enum": [
          1,
          2,
          3
        ],
        "type": "integer",
        "x-enumNames": [
          "English",
          "French",
          "Spanish"
        ]
      },
      "Location": {
        "description": "Location",
        "properties": {
          "accuracy": {
            "description": "Accuracy",
            "format": "double",
            "type": "number"
          },
          "address": {
            "description": "Address",
            "type": "string"
          },
          "altitude": {
            "description": "Altitude",
            "format": "double",
            "type": "number"
          },
          "altitudeAccuracy": {
            "description": "Altitude accuracy",
            "format": "double",
            "type": "number"
          },
          "battery": {
            "description": "Battery level",
            "format": "double",
            "type": "number"
          },
          "device": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DeviceType"
              }
            ],
            "description": "Device type"
          },
          "deviceName": {
            "description": "Device name",
            "type": "string"
          },
          "heading": {
            "description": "Heading",
            "format": "double",
            "type": "number"
          },
          "latitude": {
            "description": "Latitude",
            "format": "double",
            "type": "number"
          },
          "longitude": {
            "description": "Longitude",
            "format": "double",
            "type": "number"
          },
          "speed": {
            "description": "Speed",
            "format": "double",
            "type": "number"
          },
          "timestamp": {
            "description": "Location time stamp",
            "format": "date-time",
            "type": "string"
          }
        },
        "required": [
          "latitude",
          "longitude",
          "device",
          "timestamp",
          "deviceName",
          "address"
        ],
        "type": "object"
      },
      "MonitorAction": {
        "description": "Actions to perform",
        "properties": {
          "instructions": {
            "description": "The instructions for the action",
            "type": "string"
          },
          "order": {
            "description": "The order of the action",
            "format": "int32",
            "type": "integer"
          }
        },
        "required": [
          "order",
          "instructions"
        ],
        "type": "object"
      },
      "MonitorNotification": {
        "description": "Represents a monitor notification.",
        "properties": {
          "firstName": {
            "description": "Gets or sets the first name.",
            "type": "string"
          },
          "lastName": {
            "description": "Gets or sets the last name.",
            "type": "string"
          },
          "notificationEmails": {
            "description": "Gets or sets the list of email notifications.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "notificationPhones": {
            "description": "Gets or sets the list of phone notifications.",
            "items": {
              "$ref": "#/components/schemas/PhoneNotification"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "PhoneBookEntry": {
        "description": "Contacts",
        "properties": {
          "address": {
            "description": "The address",
            "type": "string"
          },
          "cell": {
            "description": "The cell phone number",
            "type": "string"
          },
          "comments": {
            "description": "Comments",
            "type": "string"
          },
          "email": {
            "description": "The email address",
            "type": "string"
          },
          "firstName": {
            "description": "The first name",
            "type": "string"
          },
          "isPrivate": {
            "description": "Flag to denote if the contact is private",
            "type": "boolean"
          },
          "lastName": {
            "description": "The last name",
            "type": "string"
          },
          "order": {
            "description": "The order of the contact",
            "format": "int32",
            "type": "integer"
          },
          "phone": {
            "description": "The phone number",
            "type": "string"
          }
        },
        "required": [
          "order",
          "isPrivate",
          "firstName",
          "lastName",
          "phone",
          "cell",
          "address",
          "comments",
          "email"
        ],
        "type": "object"
      },
      "PhoneNotification": {
        "description": "Phone notification",
        "properties": {
          "order": {
            "description": "The order",
            "format": "int32",
            "type": "integer"
          },
          "phoneNumber": {
            "description": "The phone number",
            "type": "string"
          }
        },
        "required": [
          "order",
          "phoneNumber"
        ],
        "type": "object"
      },
      "PowerInfo": {
        "properties": {
          "batteryLevel": {
            "format": "double",
            "type": "number"
          },
          "powerSource": {
            "$ref": "#/components/schemas/BatteryPowerSource"
          }
        },
        "required": [
          "powerSource",
          "batteryLevel"
        ],
        "type": "object"
      },
      "Privilege": {
        "description": "",
        "enum": [
          1,
          2,
          3,
          4,
          5
        ],
        "type": "integer",
        "x-enumNames": [
          "GroupMonitor",
          "CompanyAdministrator",
          "User",
          "CompanyMonitor",
          "GroupAdministrator"
        ]
      },
      "ProblemDetails": {
        "additionalProperties": {},
        "properties": {
          "detail": {
            "type": "string"
          },
          "extensions": {
            "additionalProperties": {},
            "type": "object"
          },
          "instance": {
            "type": "string"
          },
          "status": {
            "format": "int32",
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "extensions"
        ],
        "type": "object"
      },
      "User": {
        "description": "User information",
        "properties": {
          "address": {
            "description": "Address",
            "type": "string"
          },
          "cell": {
            "description": "Cell phone number",
            "type": "string"
          },
          "comments": {
            "description": "Comments",
            "type": "string"
          },
          "company": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Company"
              }
            ],
            "description": "Company"
          },
          "firstName": {
            "description": "First name",
            "type": "string"
          },
          "fullName": {
            "description": "Full name",
            "type": "string"
          },
          "group": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Group"
              }
            ],
            "description": "Group"
          },
          "language": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Language"
              }
            ],
            "description": "Language"
          },
          "lastName": {
            "description": "Last name",
            "type": "string"
          },
          "notificationEmails": {
            "description": "Notification emails",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "notificationPhones": {
            "description": "Notification phone numbers",
            "items": {
              "$ref": "#/components/schemas/PhoneNotification"
            },
            "type": "array"
          },
          "phone": {
            "description": "Phone number",
            "type": "string"
          },
          "pin": {
            "description": "Personal Identification Number",
            "type": "string"
          },
          "privileges": {
            "description": "Privileges",
            "items": {
              "$ref": "#/components/schemas/Privilege"
            },
            "type": "array"
          },
          "satelliteDeviceId": {
            "description": "Satellite device ID",
            "type": "string"
          },
          "uniqueUserId": {
            "description": "Unique identifier for the user",
            "type": "string"
          },
          "vehicle": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Vehicle"
              }
            ],
            "description": "Vehicle"
          },
          "workerInformation": {
            "allOf": [
              {
                "$ref": "#/components/schemas/WorkerInfo"
              }
            ],
            "description": "Worker information"
          }
        },
        "required": [
          "uniqueUserId",
          "pin",
          "firstName",
          "lastName",
          "fullName",
          "company",
          "language",
          "privileges",
          "phone",
          "cell",
          "address",
          "comments",
          "notificationPhones",
          "notificationEmails",
          "satelliteDeviceId"
        ],
        "type": "object"
      },
      "UserEvent": {
        "description": "Represents a user event.",
        "properties": {
          "date": {
            "description": "Gets or sets the date of the event.",
            "format": "date-time",
            "type": "string"
          },
          "details": {
            "description": "Gets or sets the details of the event.",
            "type": "string"
          },
          "group": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Group"
              }
            ],
            "description": "Gets or sets the group."
          },
          "name": {
            "description": "Gets or sets the name of the event.",
            "type": "string"
          },
          "state": {
            "allOf": [
              {
                "$ref": "#/components/schemas/UserState"
              }
            ],
            "description": "Gets or sets the state of the user."
          },
          "stateName": {
            "description": "Gets or sets the name of the state.",
            "type": "string"
          },
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/UserEventType"
              }
            ],
            "description": "Gets or sets the type of the user event."
          },
          "userName": {
            "description": "Gets or sets the user name.",
            "type": "string"
          }
        },
        "required": [
          "userName",
          "date",
          "type",
          "state",
          "name",
          "stateName",
          "details"
        ],
        "type": "object"
      },
      "UserEventType": {
        "description": "",
        "enum": [
          1,
          2,
          4,
          5,
          6,
          7,
          8,
          9,
          10,
          11,
          12,
          13,
          14,
          15,
          16,
          17,
          18,
          19,
          20,
          21,
          22
        ],
        "type": "integer",
        "x-enumNames": [
          "BeginSystemMonitoring",
          "EndSystemMonitoring",
          "PanicEmergency",
          "OkReporting",
          "ReportDue",
          "UnconfirmedEmergency",
          "PhoneReportDueNotification",
          "PhoneEmergencyNotificationUser",
          "PhoneEmergencyNotificationMonitor",
          "AcknowledgeEmergency",
          "EmergencyLifetimeExpired",
          "SetNextReporting",
          "GpsReporting",
          "DataReporting",
          "VoiceAction",
          "Action",
          "ChangePassword",
          "ChangeReportInterval",
          "ChangeIvrDialOutPhoneNumber",
          "EmailMessage",
          "InvalidSatelliteMessage"
        ]
      },
      "UserState": {
        "description": "",
        "enum": [
          1,
          2,
          4,
          5
        ],
        "type": "integer",
        "x-enumNames": [
          "NotSystemMonitored",
          "Ok",
          "PanicEmergency",
          "UnconfirmedEmergency"
        ]
      },
      "Vehicle": {
        "description": "Vehicle",
        "properties": {
          "color": {
            "description": "The color",
            "type": "string"
          },
          "plate": {
            "description": "The license plate",
            "type": "string"
          },
          "type": {
            "description": "The type",
            "type": "string"
          }
        },
        "required": [
          "type",
          "color",
          "plate"
        ],
        "type": "object"
      },
      "WorkerInfo": {
        "description": "Information specific to workers",
        "properties": {
          "actions": {
            "description": "Actions to follow for the worker",
            "items": {
              "$ref": "#/components/schemas/MonitorAction"
            },
            "type": "array"
          },
          "itinerary": {
            "description": "The worker's itinerary",
            "type": "string"
          },
          "lastLocation": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Location"
              }
            ],
            "description": "The worker's last location"
          },
          "maximumReportInterval": {
            "description": "The worker's maximum report interval",
            "type": "string"
          },
          "phoneBook": {
            "description": "The worker's phone book",
            "items": {
              "$ref": "#/components/schemas/PhoneBookEntry"
            },
            "type": "array"
          },
          "reportInterval": {
            "description": "The worker's default report interval ",
            "format": "int32",
            "type": "integer"
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/WorkerStatus"
              }
            ],
            "description": "The worker's status information"
          }
        },
        "required": [
          "reportInterval",
          "maximumReportInterval",
          "itinerary",
          "status",
          "actions",
          "phoneBook"
        ],
        "type": "object"
      },
      "WorkerStatus": {
        "description": "Worker Status information DTO",
        "properties": {
          "beginMonitoringUTC": {
            "description": "The time that the system started monitoring the worker in UTC",
            "format": "date-time",
            "type": "string"
          },
          "endMonitoringUTC": {
            "description": "The time that the system stopped monitoring the worker in UTC",
            "format": "date-time",
            "type": "string"
          },
          "isAcknowledged": {
            "description": "A flag indicating whether the emergency for the worker has been acknowledged\n            ",
            "type": "boolean"
          },
          "lastReportUTC": {
            "description": "The time the worker last reported OK in UTC",
            "format": "date-time",
            "type": "string"
          },
          "nextReportUTC": {
            "description": "The time when the worker's next report is due in UTC",
            "format": "date-time",
            "type": "string"
          },
          "state": {
            "allOf": [
              {
                "$ref": "#/components/schemas/UserState"
              }
            ],
            "description": "The worker's state"
          },
          "stateChangedUTC": {
            "description": "The time of the worker's last state change in UTC\n            ",
            "format": "date-time",
            "type": "string"
          }
        },
        "required": [
          "state",
          "isAcknowledged",
          "stateChangedUTC"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "EmailLogin": {
        "description": "",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://prodsafetyline.b2clogin.com/prodsafetyline.onmicrosoft.com/B2C_1_si/oauth2/v2.0/authorize",
            "scopes": {
              "https://prodsafetyline.onmicrosoft.com/e22f72d0-b056-4155-a2db-da02bc226023/access_as_user": "Access the API as the signed-in user",
              "offline_access": "This scopes gives your app access to resources on behalf of the user for an extended time (refresh tokens)."
            }
          }
        },
        "type": "oauth2"
      },
      "MicrosoftLogin": {
        "description": "",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/organizations/oauth2/v2.0/authorize",
            "scopes": {
              "https://prodsafetyline.onmicrosoft.com/e22f72d0-b056-4155-a2db-da02bc226023/.default": "Use the default scopes",
              "offline_access": "This scopes gives your app access to resources on behalf of the user for an extended time (refresh tokens)."
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "EmailLogin": []
    },
    {
      "MicrosoftLogin": []
    }
  ],
  "x-generator": "NSwag v14.2.0.0 (NJsonSchema v11.1.0.0 (Newtonsoft.Json v13.0.0.0))"
}