{
  "openapi": "3.0.3",
  "info": {
    "title": "StatHat API",
    "description": "Send stats and export data from StatHat. Supports the EZ API for easy stat creation on the fly and the Classic API for tamper-resistant posting with signed keys. Both APIs support POST and GET methods.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://www.stathat.com/docs/api"
  },
  "servers": [
    {
      "url": "https://api.stathat.com"
    }
  ],
  "paths": {
    "/ez": {
      "post": {
        "operationId": "postEzStat",
        "summary": "Post stat via EZ API",
        "description": "The easiest way to post a stat to StatHat. Stats are created on the fly if they don't exist. Supports JSON for posting multiple stats in one call. The account owner receives an email notification for new stats.",
        "tags": [
          "EZ API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/EzStatRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EzStatJsonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stat posted successfully"
          },
          "400": {
            "description": "Bad request - missing required parameters"
          }
        }
      },
      "get": {
        "operationId": "getEzStat",
        "summary": "Post stat via EZ API (GET method)",
        "description": "Post a stat using GET request parameters. Functionally identical to the POST method.",
        "tags": [
          "EZ API"
        ],
        "parameters": [
          {
            "name": "ezkey",
            "in": "query",
            "required": true,
            "description": "The ezkey for your StatHat account (defaults to email address).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stat",
            "in": "query",
            "required": true,
            "description": "Unique stat name. Any character except ~ allowed, 255 characters max. Use ~ to post to multiple related stats.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number you want to count.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "value",
            "in": "query",
            "description": "Value you want to track.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "t",
            "in": "query",
            "description": "Timestamp (unix seconds since epoch). Defaults to current time if omitted.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stat posted successfully"
          },
          "400": {
            "description": "Bad request - missing required parameters"
          }
        }
      }
    },
    "/c": {
      "post": {
        "operationId": "postClassicCounter",
        "summary": "Post counter stat via Classic API",
        "description": "Post a counter stat using the Classic API with tamper-resistant signed keys. Stats must be pre-created on the StatHat website.",
        "tags": [
          "Classic API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ClassicCounterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Counter stat posted successfully"
          },
          "400": {
            "description": "Bad request - missing required parameters"
          }
        }
      },
      "get": {
        "operationId": "getClassicCounter",
        "summary": "Post counter stat via Classic API (GET method)",
        "description": "Post a counter stat using GET request parameters with signed keys.",
        "tags": [
          "Classic API"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Private key identifying the stat.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ukey",
            "in": "query",
            "required": true,
            "description": "Private key identifying the user.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number you want to count (default is 1).",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "t",
            "in": "query",
            "description": "Timestamp (unix seconds since epoch). Defaults to current time.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Counter stat posted successfully"
          },
          "400": {
            "description": "Bad request - missing required parameters"
          }
        }
      }
    },
    "/v": {
      "post": {
        "operationId": "postClassicValue",
        "summary": "Post value stat via Classic API",
        "description": "Post a value stat using the Classic API with tamper-resistant signed keys. Stats must be pre-created on the StatHat website.",
        "tags": [
          "Classic API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ClassicValueRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Value stat posted successfully"
          },
          "400": {
            "description": "Bad request - missing required parameters"
          }
        }
      },
      "get": {
        "operationId": "getClassicValue",
        "summary": "Post value stat via Classic API (GET method)",
        "description": "Post a value stat using GET request parameters with signed keys.",
        "tags": [
          "Classic API"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Private key identifying the stat.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ukey",
            "in": "query",
            "required": true,
            "description": "Private key identifying the user.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "query",
            "required": true,
            "description": "Value you want to track.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "t",
            "in": "query",
            "description": "Timestamp (unix seconds since epoch). Defaults to current time.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Value stat posted successfully"
          },
          "400": {
            "description": "Bad request - missing required parameters"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ezKey": {
        "type": "apiKey",
        "in": "query",
        "name": "ezkey",
        "description": "EZ API key (defaults to your email address). Lower security; suitable for server-side use only."
      }
    },
    "schemas": {
      "EzStatRequest": {
        "type": "object",
        "required": [
          "ezkey",
          "stat"
        ],
        "properties": {
          "ezkey": {
            "type": "string",
            "description": "The ezkey for your StatHat account (defaults to email address)."
          },
          "stat": {
            "type": "string",
            "maxLength": 255,
            "description": "Unique stat name. Use ~ character to post to multiple related stats (e.g., 'prefix~name1,...,nameN')."
          },
          "count": {
            "type": "number",
            "description": "Number you want to count."
          },
          "value": {
            "type": "number",
            "description": "Value you want to track."
          },
          "t": {
            "type": "integer",
            "description": "Timestamp (unix seconds since epoch). Defaults to current time."
          }
        }
      },
      "EzStatJsonRequest": {
        "type": "object",
        "required": [
          "ezkey",
          "data"
        ],
        "properties": {
          "ezkey": {
            "type": "string",
            "description": "The ezkey for your StatHat account."
          },
          "data": {
            "type": "array",
            "description": "Array of stat objects to post in a single call.",
            "items": {
              "type": "object",
              "required": [
                "stat"
              ],
              "properties": {
                "stat": {
                  "type": "string",
                  "description": "Stat name."
                },
                "count": {
                  "type": "number",
                  "description": "Counter value."
                },
                "value": {
                  "type": "number",
                  "description": "Tracked value."
                },
                "t": {
                  "type": "integer",
                  "description": "Timestamp (unix seconds)."
                }
              }
            }
          }
        }
      },
      "ClassicCounterRequest": {
        "type": "object",
        "required": [
          "key",
          "ukey"
        ],
        "properties": {
          "key": {
            "type": "string",
            "description": "Private key identifying the stat (obtained from StatHat website)."
          },
          "ukey": {
            "type": "string",
            "description": "Private key identifying the user (obtained from StatHat website)."
          },
          "count": {
            "type": "number",
            "description": "Number you want to count (default is 1)."
          },
          "t": {
            "type": "integer",
            "description": "Timestamp (unix seconds since epoch). Defaults to current time."
          }
        }
      },
      "ClassicValueRequest": {
        "type": "object",
        "required": [
          "key",
          "ukey",
          "value"
        ],
        "properties": {
          "key": {
            "type": "string",
            "description": "Private key identifying the stat (obtained from StatHat website)."
          },
          "ukey": {
            "type": "string",
            "description": "Private key identifying the user (obtained from StatHat website)."
          },
          "value": {
            "type": "number",
            "description": "Value you want to track."
          },
          "t": {
            "type": "integer",
            "description": "Timestamp (unix seconds since epoch). Defaults to current time."
          }
        }
      }
    }
  },
  "security": []
}