{
  "openapi": "3.0.3",
  "info": {
    "title": "Nomics Cryptocurrency API",
    "description": "Nomics cryptocurrency market data API providing prices, volume, market cap, exchange data, and historical aggregates for thousands of cryptocurrencies and exchanges.",
    "version": "1.0.0",
    "contact": {
      "name": "Nomics",
      "url": "https://nomics.com"
    }
  },
  "servers": [
    {
      "url": "https://api.nomics.com/v1",
      "description": "Nomics API v1"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/currencies/ticker": {
      "get": {
        "operationId": "getCurrenciesTicker",
        "summary": "Currencies ticker",
        "description": "Returns price, volume, market cap, and rank for all currencies or a filtered set. This is the primary endpoint for current pricing data.",
        "tags": ["Currencies"],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "Comma-separated list of currency IDs to filter (e.g., BTC,ETH,XRP).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Comma-separated list of intervals for price change data (e.g., 1h,1d,7d,30d,365d,ytd).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convert",
            "in": "query",
            "description": "Currency to convert prices to (e.g., USD, EUR, BTC).",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status: active, inactive, dead.",
            "schema": {
              "type": "string",
              "enum": ["active", "inactive", "dead"]
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter type: any, new.",
            "schema": {
              "type": "string",
              "enum": ["any", "new"]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order.",
            "schema": {
              "type": "string",
              "enum": ["rank", "first_priced_at"]
            }
          },
          {
            "name": "include-transparency",
            "in": "query",
            "description": "Include transparency grade information.",
            "schema": {
              "type": "string",
              "enum": ["true", "false"]
            }
          },
          {
            "name": "per-page",
            "in": "query",
            "description": "Number of results per page.",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CurrencyTicker"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/currencies": {
      "get": {
        "operationId": "getCurrencies",
        "summary": "Get currencies metadata",
        "description": "Returns metadata for currencies including name, logo, and description.",
        "tags": ["Currencies"],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "Comma-separated list of currency IDs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attributes",
            "in": "query",
            "description": "Comma-separated list of attributes to include (e.g., id,name,logo_url).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CurrencyMetadata"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/currencies/sparkline": {
      "get": {
        "operationId": "getCurrenciesSparkline",
        "summary": "Currencies sparkline",
        "description": "Returns sparkline price data for one or more currencies.",
        "tags": ["Currencies"],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "Comma-separated list of currency IDs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start time in RFC3339 format.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End time in RFC3339 format.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "convert",
            "in": "query",
            "description": "Currency to quote prices in.",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SparklineData"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exchange-rates": {
      "get": {
        "operationId": "getExchangeRates",
        "summary": "Exchange rates",
        "description": "Returns current exchange rates for all currencies relative to a base currency.",
        "tags": ["Exchange Rates"],
        "parameters": [
          {
            "name": "convert",
            "in": "query",
            "description": "Target currency for rates (default: USD).",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExchangeRate"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exchange-rates/history": {
      "get": {
        "operationId": "getExchangeRatesHistory",
        "summary": "Exchange rates history",
        "description": "Returns historical exchange rates for a currency.",
        "tags": ["Exchange Rates"],
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "description": "Currency ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "description": "Start time in RFC3339 format.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End time in RFC3339 format.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExchangeRateHistory"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/volume/history": {
      "get": {
        "operationId": "getVolumeHistory",
        "summary": "Global volume history",
        "description": "Returns total market volume history.",
        "tags": ["Volume"],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "Start time in RFC3339 format.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End time in RFC3339 format.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "convert",
            "in": "query",
            "description": "Currency to quote volumes in.",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VolumeHistory"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/market-cap/history": {
      "get": {
        "operationId": "getMarketCapHistory",
        "summary": "Global market cap history",
        "description": "Returns total market capitalization history.",
        "tags": ["Market Cap"],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": true,
            "description": "Start time in RFC3339 format.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End time in RFC3339 format.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "convert",
            "in": "query",
            "description": "Currency to quote market cap in.",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MarketCapHistory"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exchanges/ticker": {
      "get": {
        "operationId": "getExchangesTicker",
        "summary": "Exchanges ticker",
        "description": "Returns current data for all exchanges including volume and number of markets.",
        "tags": ["Exchanges"],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "Comma-separated list of exchange IDs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convert",
            "in": "query",
            "description": "Currency to quote volumes in.",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Comma-separated list of intervals for change data.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "per-page",
            "in": "query",
            "description": "Number of results per page.",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExchangeTicker"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exchanges": {
      "get": {
        "operationId": "getExchanges",
        "summary": "Get exchanges metadata",
        "description": "Returns metadata for exchanges.",
        "tags": ["Exchanges"],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "Comma-separated list of exchange IDs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attributes",
            "in": "query",
            "description": "Comma-separated list of attributes to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExchangeMetadata"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exchanges/volume/history": {
      "get": {
        "operationId": "getExchangesVolumeHistory",
        "summary": "Exchange volume history",
        "description": "Returns historical volume data for a specific exchange.",
        "tags": ["Exchanges"],
        "parameters": [
          {
            "name": "exchange",
            "in": "query",
            "required": true,
            "description": "Exchange ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "description": "Start time in RFC3339 format.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End time in RFC3339 format.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "convert",
            "in": "query",
            "description": "Currency to quote volumes in.",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExchangeVolumeHistory"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/markets": {
      "get": {
        "operationId": "getMarkets",
        "summary": "Get markets",
        "description": "Returns a list of all markets (trading pairs on exchanges).",
        "tags": ["Markets"],
        "parameters": [
          {
            "name": "exchange",
            "in": "query",
            "description": "Filter by exchange ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "base",
            "in": "query",
            "description": "Filter by base currency.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quote",
            "in": "query",
            "description": "Filter by quote currency.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Market"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/candles": {
      "get": {
        "operationId": "getCandles",
        "summary": "Aggregated OHLCV candles",
        "description": "Returns aggregated OHLCV candlestick data for a currency.",
        "tags": ["Candles"],
        "parameters": [
          {
            "name": "interval",
            "in": "query",
            "required": true,
            "description": "Candle interval.",
            "schema": {
              "type": "string",
              "enum": ["1d", "4h", "1h", "30m", "5m", "1m"]
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "description": "Currency ID (e.g., BTC).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start time in RFC3339 format.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End time in RFC3339 format.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "description": "Filter by exchange ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convert",
            "in": "query",
            "description": "Currency to quote values in.",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Candle"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/supplies/interval": {
      "get": {
        "operationId": "getSupplyInterval",
        "summary": "Supply interval",
        "description": "Returns supply data (circulating, max, total) over time.",
        "tags": ["Supply"],
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "description": "Currency ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start time in RFC3339 format.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End time in RFC3339 format.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SupplyInterval"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "key",
        "description": "Nomics API key passed as query parameter"
      }
    },
    "schemas": {
      "CurrencyTicker": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Currency ID (e.g., BTC)"
          },
          "currency": {
            "type": "string",
            "description": "Currency ID"
          },
          "symbol": {
            "type": "string",
            "description": "Currency symbol"
          },
          "name": {
            "type": "string",
            "description": "Currency name"
          },
          "logo_url": {
            "type": "string",
            "description": "Logo URL"
          },
          "status": {
            "type": "string",
            "description": "Currency status: active, inactive, dead"
          },
          "price": {
            "type": "string",
            "description": "Current price in quote currency"
          },
          "price_date": {
            "type": "string",
            "format": "date",
            "description": "Date of the price"
          },
          "price_timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the price"
          },
          "circulating_supply": {
            "type": "string",
            "description": "Circulating supply"
          },
          "max_supply": {
            "type": "string",
            "description": "Maximum supply"
          },
          "market_cap": {
            "type": "string",
            "description": "Market capitalization"
          },
          "market_cap_dominance": {
            "type": "string",
            "description": "Market cap dominance percentage"
          },
          "num_exchanges": {
            "type": "string",
            "description": "Number of exchanges"
          },
          "num_pairs": {
            "type": "string",
            "description": "Number of trading pairs"
          },
          "num_pairs_unmapped": {
            "type": "string",
            "description": "Number of unmapped pairs"
          },
          "first_candle": {
            "type": "string",
            "format": "date-time"
          },
          "first_trade": {
            "type": "string",
            "format": "date-time"
          },
          "first_order_book": {
            "type": "string",
            "format": "date-time"
          },
          "first_priced_at": {
            "type": "string",
            "format": "date-time"
          },
          "rank": {
            "type": "string",
            "description": "Rank by market cap"
          },
          "rank_delta": {
            "type": "string",
            "description": "Rank change"
          },
          "high": {
            "type": "string",
            "description": "All-time high price"
          },
          "high_timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "1d": {
            "$ref": "#/components/schemas/IntervalData"
          },
          "7d": {
            "$ref": "#/components/schemas/IntervalData"
          },
          "30d": {
            "$ref": "#/components/schemas/IntervalData"
          },
          "365d": {
            "$ref": "#/components/schemas/IntervalData"
          },
          "ytd": {
            "$ref": "#/components/schemas/IntervalData"
          }
        }
      },
      "IntervalData": {
        "type": "object",
        "properties": {
          "volume": {
            "type": "string",
            "description": "Volume for the interval"
          },
          "price_change": {
            "type": "string",
            "description": "Price change for the interval"
          },
          "price_change_pct": {
            "type": "string",
            "description": "Price change percentage"
          },
          "volume_change": {
            "type": "string",
            "description": "Volume change"
          },
          "volume_change_pct": {
            "type": "string",
            "description": "Volume change percentage"
          },
          "market_cap_change": {
            "type": "string",
            "description": "Market cap change"
          },
          "market_cap_change_pct": {
            "type": "string",
            "description": "Market cap change percentage"
          }
        }
      },
      "CurrencyMetadata": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "original_symbol": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "website_url": {
            "type": "string"
          },
          "logo_url": {
            "type": "string"
          },
          "blog_url": {
            "type": "string"
          },
          "discord_url": {
            "type": "string"
          },
          "facebook_url": {
            "type": "string"
          },
          "github_url": {
            "type": "string"
          },
          "medium_url": {
            "type": "string"
          },
          "reddit_url": {
            "type": "string"
          },
          "telegram_url": {
            "type": "string"
          },
          "twitter_url": {
            "type": "string"
          },
          "whitepaper_url": {
            "type": "string"
          },
          "youtube_url": {
            "type": "string"
          },
          "platform_currency": {
            "type": "string"
          },
          "used_for_pricing": {
            "type": "boolean"
          }
        }
      },
      "SparklineData": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string"
          },
          "timestamps": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time"
            }
          },
          "prices": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ExchangeRate": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string"
          },
          "rate": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ExchangeRateHistory": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "rate": {
            "type": "string"
          }
        }
      },
      "VolumeHistory": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "volume": {
            "type": "string"
          }
        }
      },
      "MarketCapHistory": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "market_cap": {
            "type": "string"
          }
        }
      },
      "ExchangeTicker": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Exchange ID"
          },
          "name": {
            "type": "string",
            "description": "Exchange name"
          },
          "transparency_grade": {
            "type": "string"
          },
          "coverage_type": {
            "type": "string"
          },
          "order_books": {
            "type": "boolean"
          },
          "num_pairs": {
            "type": "string"
          },
          "num_pairs_unmapped": {
            "type": "string"
          },
          "volume": {
            "type": "string"
          },
          "first_trade": {
            "type": "string",
            "format": "date-time"
          },
          "first_candle": {
            "type": "string",
            "format": "date-time"
          },
          "first_order_book": {
            "type": "string",
            "format": "date-time"
          },
          "last_updated": {
            "type": "string",
            "format": "date-time"
          },
          "1d": {
            "type": "object",
            "properties": {
              "volume": {
                "type": "string"
              },
              "volume_change": {
                "type": "string"
              },
              "volume_change_pct": {
                "type": "string"
              },
              "trades": {
                "type": "string"
              }
            }
          }
        }
      },
      "ExchangeMetadata": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "year_established": {
            "type": "integer"
          },
          "country": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "logo_url": {
            "type": "string"
          },
          "transparency_grade": {
            "type": "string"
          }
        }
      },
      "ExchangeVolumeHistory": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "volume": {
            "type": "string"
          },
          "spot_volume": {
            "type": "string"
          }
        }
      },
      "Market": {
        "type": "object",
        "properties": {
          "exchange": {
            "type": "string",
            "description": "Exchange ID"
          },
          "market": {
            "type": "string",
            "description": "Market identifier"
          },
          "base": {
            "type": "string",
            "description": "Base currency"
          },
          "quote": {
            "type": "string",
            "description": "Quote currency"
          },
          "type": {
            "type": "string",
            "description": "Market type (spot, derivative, index)"
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "Candle": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Candle open time"
          },
          "open": {
            "type": "string",
            "description": "Open price"
          },
          "high": {
            "type": "string",
            "description": "High price"
          },
          "low": {
            "type": "string",
            "description": "Low price"
          },
          "close": {
            "type": "string",
            "description": "Close price"
          },
          "volume": {
            "type": "string",
            "description": "Volume"
          },
          "transparent_open": {
            "type": "string"
          },
          "transparent_high": {
            "type": "string"
          },
          "transparent_low": {
            "type": "string"
          },
          "transparent_close": {
            "type": "string"
          },
          "transparent_volume": {
            "type": "string"
          }
        }
      },
      "SupplyInterval": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "circulating": {
            "type": "string"
          },
          "max": {
            "type": "string"
          },
          "total": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Currencies",
      "description": "Cryptocurrency data and pricing"
    },
    {
      "name": "Exchange Rates",
      "description": "Exchange rate data"
    },
    {
      "name": "Volume",
      "description": "Market volume data"
    },
    {
      "name": "Market Cap",
      "description": "Market capitalization data"
    },
    {
      "name": "Exchanges",
      "description": "Exchange data and metadata"
    },
    {
      "name": "Markets",
      "description": "Trading pair/market data"
    },
    {
      "name": "Candles",
      "description": "OHLCV candlestick data"
    },
    {
      "name": "Supply",
      "description": "Token supply data"
    }
  ]
}