{
  "openapi": "3.0.4",
  "info": {
    "title": "Connector API",
    "description": "General-purpose API that enables partners of Mews to access data and services in Mews Operations",
    "termsOfService": "https://www.mews.com/en/terms-conditions/partners",
    "contact": {
      "name": "Partner success",
      "email": "partnersuccess@mews.com"
    },
    "version": "v1",
    "x-jentic-source-url": "https://api.mews.com/Swagger/connector/swagger.yaml"
  },
  "servers": [
    {
      "url": "https://api.mews.com"
    }
  ],
  "paths": {
    "/api/connector/v1/accountNotes/getAll": {
      "post": {
        "tags": [
          "Account notes"
        ],
        "summary": "Get all account notes",
        "description": "Returns all account notes of an account, optionally filtered by activity state, account identifiers, specific account note identifiers or other filter parameters.\nNote this operation uses [Pagination](https://mews-systems.gitbook.io/connector-api/guidelines/pagination/) and supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).",
        "operationId": "accountNotes_getAll",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountNoteFilterParameters"
              },
              "example": {
                "ClientToken": "E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D",
                "AccessToken": "C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D",
                "Client": "Sample Client 1.0.0",
                "ChainIds": [
                  "1df21f06-0cfc-4960-9c58-a3bf1261663e",
                  "5fcd1933-22f2-40b9-84da-7db04cbecec2"
                ],
                "AccountNoteIds": [
                  "3ed9e2f3-4bba-4df6-8d41-ab1b009b6425",
                  "8a98965a-7c03-48a1-a28c-ab1b009b53c8"
                ],
                "AccountIds": [
                  "a6738390-c241-45b7-8e46-14f47207abe5",
                  "435d4d5f-d14f-48dc-a47e-0481fc28ead0"
                ],
                "UpdatedUtc": {
                  "StartUtc": "2022-10-10T00:00:00Z",
                  "EndUtc": "2022-10-17T00:00:00Z"
                },
                "ActivityStates": [
                  "Active"
                ],
                "Limitation": {
                  "Cursor": "e7f26210-10e7-462e-9da8-ae8300be8ab7",
                  "Count": 100
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountNoteResult"
                },
                "example": {
                  "AccountNotes": [
                    {
                      "Id": "a58ff7cb-77e3-495a-bd61-aecf00a3f19d",
                      "AccountId": "1df21f06-0cfc-4960-9c58-a3bf1261663e",
                      "Content": "Customer receives a free bottle of champagne during stay",
                      "AccountType": "Customer",
                      "Classifications": [
                        "Gifts"
                      ],
                      "IsActive": true,
                      "CreatorProfile": {
                        "Discriminator": "Enterprise",
                        "EnterpriseProfile": {
                          "ProfileId": "52d19c34-b0aa-4635-905d-1326fa8b8e13"
                        }
                      },
                      "UpdaterProfile": {
                        "Discriminator": "Integration",
                        "EnterpriseProfile": null
                      }
                    },
                    {
                      "Id": "da34b396-41f7-47f6-8847-aecf00a3f19e",
                      "AccountId": "5fcd1933-22f2-40b9-84da-7db04cbecec2",
                      "Content": "Lactose intolerant",
                      "AccountType": "Customer",
                      "Classifications": [
                        "FoodAndBeverage"
                      ],
                      "IsActive": true,
                      "CreatorProfile": {
                        "Discriminator": "Enterprise",
                        "EnterpriseProfile": {
                          "ProfileId": "52d19c34-b0aa-4635-905d-1326fa8b8e13"
                        }
                      },
                      "UpdaterProfile": {
                        "Discriminator": "Integration",
                        "EnterpriseProfile": null
                      }
                    }
                  ],
                  "Cursor": "da34b396-41f7-47f6-8847-aecf00a3f19e"
                }
              }
            }
          },
          "400": {
            "description": "Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "401": {
            "description": "Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "403": {
            "description": "Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "408": {
            "description": "Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "204": {
            "description": "Server has successfully fulfilled the request and there is no additional information to send back.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "429": {
            "description": "Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/connector/v1/accountNotes/add": {
      "post": {
        "tags": [
          "Account notes"
        ],
        "summary": "Add account notes",
        "description": "Adds account notes to an account of the enterprise chain. Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).",
        "operationId": "accountNotes_add",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultipleAccountNoteAddParameters"
              },
              "example": {
                "ClientToken": "E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D",
                "AccessToken": "C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D",
                "Client": "Sample Client 1.0.0",
                "ChainId": "1df21f06-0cfc-4960-9c58-a3bf1261663e",
                "AccountNotes": [
                  {
                    "AccountId": "8ddea57b-6a5c-4eec-8c4c-24467dce118e",
                    "Content": "Brother of the CEO",
                    "Classifications": [
                      "FamilyRelations"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountNoteAdditionResult"
                },
                "example": {
                  "AccountNotes": [
                    {
                      "Id": "a58ff7cb-77e3-495a-bd61-aecf00a3f19d",
                      "AccountId": "1df21f06-0cfc-4960-9c58-a3bf1261663e",
                      "Content": "Brother of the CEO",
                      "AccountType": "Customer",
                      "Classifications": [
                        "FamilyRelations"
                      ],
                      "IsActive": true,
                      "CreatorProfile": {
                        "Discriminator": "Enterprise",
                        "EnterpriseProfile": {
                          "ProfileId": "52d19c34-b0aa-4635-905d-1326fa8b8e13"
                        }
                      },
                      "UpdaterProfile": {
                        "Discriminator": "Integration",
                        "EnterpriseProfile": null
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "401": {
            "description": "Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "403": {
            "description": "Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "408": {
            "description": "Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "204": {
            "description": "Server has successfully fulfilled the request and there is no additional information to send back.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "429": {
            "description": "Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/connector/v1/accountNotes/update": {
      "post": {
        "tags": [
          "Account notes"
        ],
        "summary": "Update account notes",
        "description": "Updates information about the specified account notes.",
        "operationId": "accountNotes_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultipleAccountNoteUpdateParameters"
              },
              "example": {
                "ClientToken": "E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D",
                "AccessToken": "C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D",
                "Client": "Sample Client 1.0.0",
                "AccountNoteUpdates": [
                  {
                    "AccountNoteId": "a58ff7cb-77e3-495a-bd61-aecf00a3f19d",
                    "Content": {
                      "Value": "The AC in the room doesn't work anymore"
                    },
                    "Classifications": {
                      "Maintenance": {
                        "Value": true
                      },
                      "Housekeeping": {
                        "Value": false
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountNoteUpdateResult"
                },
                "example": {
                  "AccountNotes": [
                    {
                      "Id": "a58ff7cb-77e3-495a-bd61-aecf00a3f19d",
                      "AccountId": "1df21f06-0cfc-4960-9c58-a3bf1261663e",
                      "Content": "The AC in the room doesn't work anymore",
                      "AccountType": "Customer",
                      "Classifications": [
                        "Maintenance"
                      ],
                      "IsActive": true,
                      "CreatorProfile": {
                        "Discriminator": "Enterprise",
                        "EnterpriseProfile": {
                          "ProfileId": "52d19c34-b0aa-4635-905d-1326fa8b8e13"
                        }
                      },
                      "UpdaterProfile": {
                        "Discriminator": "Integration",
                        "EnterpriseProfile": null
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "401": {
            "description": "Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "403": {
            "description": "Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "408": {
            "description": "Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "204": {
            "description": "Server has successfully fulfilled the request and there is no additional information to send back.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "429": {
            "description": "Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/connector/v1/accountNotes/delete": {
      "post": {
        "tags": [
          "Account notes"
        ],
        "summary": "Delete account notes",
        "description": "Deletes specified account notes.",
        "operationId": "accountNotes_delete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultipleAccountNoteDeleteParameters"
              },
              "example": {
                "ClientToken": "E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D",
                "AccessToken": "C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D",
                "Client": "Sample Client 1.0.0",
                "AccountNoteIds": [
                  "a58ff7cb-77e3-495a-bd61-aecf00a3f19d",
                  "da34b396-41f7-47f6-8847-aecf00a3f19e"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "400": {
            "description": "Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "401": {
            "description": "Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "403": {
            "description": "Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "408": {
            "description": "Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "204": {
            "description": "Server has successfully fulfilled the request and there is no additional information to send back.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "429": {
            "description": "Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/connector/v1/accountingCategories/getAll": {
      "post": {
        "tags": [
          "Accounting categories"
        ],
        "summary": "Get all accounting categories",
        "description": "Returns all accounting categories of the enterprise associated with the connector integration. \nNote this operation uses [Pagination](https://mews-systems.gitbook.io/connector-api/guidelines/pagination/) and supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).",
        "operationId": "accountingCategories_getAll",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountingCategoryFilterParameters"
              },
              "example": {
                "ClientToken": "E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D",
                "AccessToken": "C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D",
                "Client": "Sample Client 1.0.0",
                "EnterpriseIds": [
                  "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                  "4d0201db-36f5-428b-8d11-4f0a65e960cc"
                ],
                "AccountingCategoryIds": [
                  "0cf7aa90-736f-43e9-a7dc-787704548d86",
                  "0b9560fb-055d-47d3-a6d4-e579c44ca558"
                ],
                "UpdatedUtc": {
                  "StartUtc": "2023-10-01T00:00:00Z",
                  "EndUtc": "2023-10-31T00:00:00Z"
                },
                "ActivityStates": [
                  "Active"
                ],
                "Limitation": {
                  "Count": 10
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingCategoryResult"
                },
                "example": {
                  "AccountingCategories": [
                    {
                      "Classification": "Accommodation",
                      "EnterpriseId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "Code": "345",
                      "CostCenterCode": "2589",
                      "ExternalCode": "3010",
                      "Id": "0cf7aa90-736f-43e9-a7dc-787704548d86",
                      "IsActive": true,
                      "LedgerAccountCode": "311100",
                      "Name": "Accommodation",
                      "PostingAccountCode": "602020",
                      "CreatedUtc": "2023-10-01T11:48:57Z",
                      "UpdatedUtc": "2023-10-28T11:48:57Z"
                    },
                    {
                      "Classification": null,
                      "EnterpriseId": "4d0201db-36f5-428b-8d11-4f0a65e960cc",
                      "Code": "100",
                      "CostCenterCode": "2589",
                      "ExternalCode": "ABVG",
                      "Id": "0b9560fb-055d-47d3-a6d4-e579c44ca558",
                      "IsActive": true,
                      "LedgerAccountCode": "311100",
                      "Name": "Alcoholic Beverage",
                      "PostingAccountCode": "602020",
                      "CreatedUtc": "2023-10-01T11:48:57Z",
                      "UpdatedUtc": "2023-10-28T11:48:57Z"
                    }
                  ],
                  "Cursor": "0b9560fb-055d-47d3-a6d4-e579c44ca558"
                }
              }
            }
          },
          "400": {
            "description": "Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "401": {
            "description": "Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "403": {
            "description": "Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "408": {
            "description": "Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "204": {
            "description": "Server has successfully fulfilled the request and there is no additional information to send back.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "429": {
            "description": "Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/connector/v1/accountingItems/update": {
      "post": {
        "tags": [
          "Accounting items"
        ],
        "summary": "Update accounting items",
        "description": "Updates specified accounting items. You can use this operation to assign an accounting item to a different account or bill. Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property/).\r\n\r\n> **State Restrictions**: Only accounting items in specific states can be moved:\r\n> - **Order items**: Must be in `Open` state\r\n> - **Payments**: Must be in `Pending` state\r\n> \r\n> Attempting to move items in other states (e.g., `Closed`, `Inactive`, `Charged`, `Failed`, `Canceled`) will result in an `Invalid AccountingItemId` error.",
        "operationId": "accountingItems_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultipleAccountingItemsUpdateParameters"
              },
              "example": {
                "ClientToken": "E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D",
                "AccessToken": "C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D",
                "Client": "Sample Client 1.0.0",
                "EnterpriseId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                "AccountingItemUpdates": [
                  {
                    "AccountingItemId": "6c2897de-620a-4f48-af1e-ada8004202bd",
                    "AccountId": {
                      "Value": "182a56ee-037d-4da5-b6f8-ada8006e7d5c"
                    },
                    "BillId": {
                      "Value": "9e3791dc-95c7-439a-aa8a-ada8007de0ca"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingItemUpdateResult"
                },
                "example": {
                  "OrderItems": [
                    {
                      "Id": "6c2897de-620a-4f48-af1e-ada8004202bd",
                      "AccountId": "182a56ee-037d-4da5-b6f8-ada8006e7d5c",
                      "OrderId": "f9090129-fb49-46d2-9dc5-ad9d015d43b9",
                      "BillId": "9e3791dc-95c7-439a-aa8a-ada8007de0ca",
                      "AccountingCategoryId": "d250149e-a29d-4c70-b607-a1759faf7320",
                      "Amount": {
                        "Currency": "GBP",
                        "NetValue": 95.24,
                        "GrossValue": 100,
                        "TaxValues": [
                          {
                            "Code": "UK-2020-R",
                            "Value": 4.76
                          }
                        ],
                        "Breakdown": {
                          "Items": [
                            {
                              "TaxRateCode": "UK-2020-R",
                              "NetValue": 95.24,
                              "TaxValue": 4.76
                            }
                          ]
                        }
                      },
                      "RevenueType": "Additional",
                      "ConsumedUtc": "2021-09-19T04:00:20Z",
                      "ClosedUtc": null,
                      "AccountingState": "Open",
                      "Data": {
                        "Discriminator": "CancellationFee",
                        "Value": null
                      }
                    }
                  ],
                  "PaymentItems": []
                }
              }
            }
          },
          "400": {
            "description": "Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "401": {
            "description": "Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "403": {
            "description": "Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "408": {
            "description": "Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "204": {
            "description": "Server has successfully fulfilled the request and there is no additional information to send back.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "429": {
            "description": "Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/connector/v1/accountingItems/getAll": {
      "post": {
        "tags": [
          "Accounting items"
        ],
        "summary": "Get all accounting items",
        "description": "Use [Get all payments](https://mews-systems.gitbook.io/connector-api/operations/payments#get-all-payments) and [Get all order items](https://mews-systems.gitbook.io/connector-api/operations/orderitems#get-all-order-items) instead.",
        "operationId": "accountingItems_getAll",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountingItemParameters"
              },
              "example": {
                "ClientToken": "E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D",
                "AccessToken": "C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D",
                "Client": "Sample Client 1.0.0",
                "ConsumedUtc": {
                  "StartUtc": "2020-01-05T00:00:00Z",
                  "EndUtc": "2020-01-10T00:00:00Z"
                },
                "ClosedUtc": {
                  "StartUtc": "2020-01-05T00:00:00Z",
                  "EndUtc": "2020-01-10T00:00:00Z"
                },
                "UpdatedUtc": {
                  "StartUtc": "2020-01-05T00:00:00Z",
                  "EndUtc": "2020-01-10T00:00:00Z"
                },
                "ItemIds": [
                  "cb643cb7-8b6e-48a6-b67e-ad4c0041f550",
                  "44ca12b8-f009-455e-be91-ad4c013fcbc5"
                ],
                "Extent": {
                  "OrderItems": true,
                  "PaymentItems": true,
                  "CreditCardTransactions": false
                },
                "States": [
                  "Open"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingItemResult"
                },
                "example": {
                  "OrderItems": [
                    {
                      "Id": "cb643cb7-8b6e-48a6-b67e-ad4c0041f550",
                      "AccountId": "77673c9d-0e31-4e90-9228-ad4b00a9fcdc",
                      "OrderId": "1103b431-998a-4b78-84de-ad4b00a9fd99",
                      "BillId": null,
                      "AccountingCategoryId": "d250149e-a29d-4c70-b607-a1759faf7320",
                      "UnitCount": 15,
                      "UnitAmount": {
                        "Currency": "EUR",
                        "NetValue": 8.4,
                        "GrossValue": 10.0,
                        "TaxValues": [
                          {
                            "Code": "DE-2020-1-I",
                            "Value": 1.6
                          }
                        ],
                        "Breakdown": {
                          "Items": [
                            {
                              "TaxRateCode": "DE-2020-1-I",
                              "NetValue": 8.4,
                              "TaxValue": 1.6
                            }
                          ]
                        }
                      },
                      "Amount": {
                        "Value": 150.0,
                        "Net": 126.05,
                        "Tax": 23.95,
                        "TaxRate": 19.0,
                        "Currency": "EUR",
                        "NetValue": 126.05,
                        "GrossValue": 150.0,
                        "TaxValues": [
                          {
                            "Code": "DE-2020-1-I",
                            "Value": 23.95
                          }
                        ],
                        "Breakdown": {
                          "Items": [
                            {
                              "TaxRateCode": "DE-2020-1-I",
                              "NetValue": 126.05,
                              "TaxValue": 23.95
                            }
                          ]
                        }
                      },
                      "OriginalAmount": {
                        "Value": 150.0,
                        "Net": 126.05,
                        "Tax": 23.95,
                        "TaxRate": 19.0,
                        "Currency": "EUR",
                        "NetValue": 126.05,
                        "GrossValue": 150.0,
                        "TaxValues": [
                          {
                            "Code": "DE-2020-1-I",
                            "Value": 23.95
                          }
                        ],
                        "Breakdown": {
                          "Items": [
                            {
                              "TaxRateCode": "DE-2020-1-I",
                              "NetValue": 126.05,
                              "TaxValue": 23.95
                            }
                          ]
                        }
                      },
                      "RevenueType": "Additional",
                      "CreatorProfileId": "3cd637ef-4728-47f9-8fb1-afb900c9cdcf",
                      "UpdaterProfileId": "122fc063-ec6e-4198-b8db-6b168a59ffae",
                      "CreatedUtc": "2021-06-19T00:00:00Z",
                      "UpdatedUtc": "2021-06-19T00:00:00Z",
                      "ConsumedUtc": "2021-06-19T04:00:08Z",
                      "CanceledUtc": null,
                      "ClosedUtc": null,
                      "StartUtc": null,
                      "AccountingState": "Open",
                      "Data": {
                        "Discriminator": "CancellationFee",
                        "Value": null
                      }
                    }
                  ],
                  "PaymentItems": [
                    {
                      "Id": "44ca12b8-f009-455e-be91-ad4c013fcbc5",
                      "AccountId": "5da55e5c-18e5-48d8-9a0e-ac0600704c5c",
                      "BillId": null,
                      "AccountingCategoryId": "b89345c1-2814-4750-808d-aa7900ee464a",
                      "Amount": {
                        "Value": 850.0,
                        "Net": 850.0,
                        "Tax": 0.0,
                        "TaxRate": 0.0,
                        "Currency": "GBP",
                        "NetValue": 850.0,
                        "GrossValue": 850.0,
                        "TaxValues": [],
                        "Breakdown": {
                          "Items": [
                            {
                              "TaxRateCode": null,
                              "NetValue": 850.0,
                              "TaxValue": 0.0
                            }
                          ]
                        }
                      },
                      "OriginalAmount": {
                        "Value": 850.0,
                        "Net": 850.0,
                        "Tax": 0.0,
                        "TaxRate": 0.0,
                        "Currency": "GBP",
                        "NetValue": 850.0,
                        "GrossValue": 850.0,
                        "TaxValues": [],
                        "Breakdown": {
                          "Items": [
                            {
                              "TaxRateCode": null,
                              "NetValue": 850.0,
                              "TaxValue": 0.0
                            }
                          ]
                        }
                      },
                      "AmountDefault": null,
                      "Notes": "NORMAL0140",
                      "SettlementId": "po_1Lun9w4JpyDC38oQJQz7hAcx",
                      "ConsumedUtc": "2021-06-19T19:24:20Z",
                      "ClosedUtc": null,
                      "AccountingState": "Open",
                      "State": "Charged",
                      "Identifier": null,
                      "Data": {
                        "Discriminator": "Invoice",
                        "Value": {
                          "InvoiceId": "3c818013-d9de-47e9-bb2c-ad4c013f9ad3"
                        }
                      }
                    }
                  ],
                  "CreditCardTransactions": null
                }
              }
            }
          },
          "400": {
            "description": "Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "401": {
            "description": "Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "403": {
            "description": "Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "408": {
            "description": "Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "204": {
            "description": "Server has successfully fulfilled the request and there is no additional information to send back.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "429": {
            "description": "Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          }
        },
        "deprecated": true,
        "x-deprecatedMessage": "Use [Get all payments](https://mews-systems.gitbook.io/connector-api/operations/payments#get-all-payments) and [Get all order items](https://mews-systems.gitbook.io/connector-api/operations/orderitems#get-all-order-items) instead."
      }
    },
    "/api/connector/v1/accounts/update": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Update accounts",
        "description": "Updates one or more existing accounts in the system. Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).",
        "operationId": "accounts_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultipleAccountUpdateParameters"
              },
              "example": {
                "ClientToken": "E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D",
                "AccessToken": "C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D",
                "Client": "Sample Client 1.0.0",
                "AccountUpdates": [
                  {
                    "Id": "3ff104e6-3ba8-4dfc-8d35-b0ec00c5fd4c",
                    "Discriminator": "Company",
                    "Customer": null,
                    "Company": {
                      "Email": {
                        "Value": "example@example.com"
                      },
                      "TaxIdentifier": {
                        "Value": "CZ8810310963"
                      },
                      "BillingCode": {
                        "Value": null
                      },
                      "AccountingCode": {
                        "Value": null
                      },
                      "Notes": {
                        "Value": "Example notes"
                      },
                      "Name": {
                        "Value": "Example company"
                      },
                      "MotherCompanyId": {
                        "Value": "839e9d92-aa8b-48bf-8384-b0ec0081bb34"
                      },
                      "WebsiteUrl": {
                        "Value": "https://www.example.com"
                      },
                      "InvoiceDueInterval": {
                        "Value": null
                      },
                      "CreditRatingBasic": {
                        "Value": "CreditOk"
                      },
                      "Department": {
                        "Value": "Accounting"
                      },
                      "DunsNumber": {
                        "Value": "987654321"
                      },
                      "ReferenceId": {
                        "Value": null
                      },
                      "ExternalIdentifier": {
                        "Value": "COM-123"
                      },
                      "AdditionalTaxIdentifier": {
                        "Value": "XY00112233445"
                      },
                      "Contact": {
                        "Value": "Sample contact"
                      },
                      "ContactPerson": {
                        "Value": "Sample person"
                      },
                      "FiscalIdentifier": {
                        "Value": "FiscalIdentifier"
                      },
                      "Iata": {
                        "Value": "PAO"
                      },
                      "Telephone": {
                        "Value": "111-222-333"
                      },
                      "SourceId": {
                        "Value": "F42098A0-8507-4963-ACC9-B0EC00821949"
                      },
                      "Classifications": {
                        "Corporate": {
                          "Value": true
                        },
                        "Internal": {
                          "Value": true
                        },
                        "Private": {
                          "Value": true
                        },
                        "OnlineTravelAgency": {
                          "Value": true
                        },
                        "GlobalDistributionSystem": {
                          "Value": true
                        },
                        "Marketing": {
                          "Value": true
                        },
                        "Inactive": {
                          "Value": true
                        }
                      },
                      "Options": {
                        "Invoiceable": {
                          "Value": "true"
                        },
                        "AddFeesToInvoices": {
                          "Value": "true"
                        }
                      }
                    }
                  },
                  {
                    "Id": "71db411f-c1d6-4e1c-9cd7-44e8bf45f936",
                    "Discriminator": "Customer",
                    "Company": null,
                    "Customer": {
                      "Email": {
                        "Value": "example@example.com"
                      },
                      "TaxIdentifier": {
                        "Value": "CZ8810310963"
                      },
                      "BillingCode": {
                        "Value": null
                      },
                      "AccountingCode": {
                        "Value": null
                      },
                      "Notes": {
                        "Value": "Example notes"
                      },
                      "LastName": {
                        "Value": "Sample"
                      },
                      "FirstName": {
                        "Value": "Sample"
                      },
                      "SecondLastName": {
                        "Value": null
                      },
                      "BirthPlace": {
                        "Value": "Sample place"
                      },
                      "Telephone": {
                        "Value": "111-222-333"
                      },
                      "Occupation": {
                        "Value": null
                      },
                      "CarRegistrationNumber": {
                        "Value": null
                      },
                      "LoyaltyCode": {
                        "Value": null
                      },
                      "NationalityCode": {
                        "Value": "US"
                      },
                      "CompanyId": {
                        "Value": "839e9d92-aa8b-48bf-8384-b0ec0081bb34"
                      },
                      "BirthDate": {
                        "Value": "2000-01-01"
                      },
                      "Sex": {
                        "Value": "Male"
                      },
                      "Title": {
                        "Value": "Mister"
                      },
                      "PreferredLanguageCode": {
                        "Value": null
                      },
                      "Options": {
                        "SendMarketingEmails": {
                          "Value": true
                        },
                        "Invoiceable": {
                          "Value": true
                        },
                        "BillAddressObjection": {
                          "Value": true
                        }
                      },
                      "Classifications": {
                        "PaymasterAccount": {
                          "Value": true
                        },
                        "Blacklist": {
                          "Value": true
                        },
                        "Media": {
                          "Value": true
                        },
                        "LoyaltyProgram": {
                          "Value": true
                        },
                        "PreviousComplaint": {
                          "Value": true
                        },
                        "Returning": {
                          "Value": true
                        },
                        "Staff": {
                          "Value": true
                        },
                        "FriendOrFamily": {
                          "Value": true
                        },
                        "TopManagement": {
                          "Value": true
                        },
                        "Important": {
                          "Value": true
                        },
                        "VeryImportant": {
                          "Value": true
                        },
                        "Problematic": {
                          "Value": true
                        },
                        "Cashlist": {
                          "Value": true
                        },
                        "DisabledPerson": {
                          "Value": true
                        },
                        "Military": {
                          "Value": true
                        },
                        "Airline": {
                          "Value": true
                        },
                        "HealthCompliant": {
                          "Value": true
                        },
                        "InRoom": {
                          "Value": true
                        },
                        "WaitingForRoom": {
                          "Value": true
                        },
                        "Student": {
                          "Value": true
                        }
                      },
                      "LegalEntityIdentifiers": {
                        "ItDestinationCode": {
                          "Value": null
                        },
                        "ItFiscalCode": {
                          "Value": null
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResult"
                },
                "example": {
                  "Accounts": [
                    {
                      "Id": "3ff104e6-3ba8-4dfc-8d35-b0ec00c5fd4c",
                      "Discriminator": "Company",
                      "Customer": null,
                      "Company": {
                        "ChainId": "79fa3c17-bec6-454f-b3be-b0ec00818acd",
                        "CreatedUtc": "2024-01-03T07:52:20Z",
                        "UpdatedUtc": "2024-01-18T10:20:31Z",
                        "UpdaterProfileId": "93f03906-ed13-4a26-b8dc-b0ec0082194f",
                        "Email": "example@example.com",
                        "TaxIdentifier": "CZ8810310963",
                        "BillingCode": null,
                        "AccountingCode": null,
                        "Notes": "Example notes",
                        "Name": "Example company",
                        "MotherCompanyId": "839e9d92-aa8b-48bf-8384-b0ec0081bb34",
                        "WebsiteUrl": "https://www.example.com",
                        "InvoiceDueInterval": null,
                        "CreditRatingBasic": "CreditOk",
                        "Department": "Accounting",
                        "DunsNumber": "987654321",
                        "ReferenceId": null,
                        "ExternalIdentifier": "COM-123",
                        "AdditionalTaxIdentifier": "XY00112233445",
                        "Contact": "Sample contact",
                        "ContactPerson": "Sample person",
                        "FiscalIdentifier": "FiscalIdentifier",
                        "Iata": "PAO",
                        "Telephone": "111-222-333",
                        "SourceId": "F42098A0-8507-4963-ACC9-B0EC00821949",
                        "Classifications": {
                          "Corporate": true,
                          "Internal": true,
                          "Private": true,
                          "OnlineTravelAgency": true,
                          "GlobalDistributionSystem": true,
                          "Marketing": true,
                          "Inactive": true
                        },
                        "Options": {
                          "Invoiceable": true,
                          "AddFeesToInvoices": true
                        }
                      }
                    },
                    {
                      "Id": "71db411f-c1d6-4e1c-9cd7-44e8bf45f936",
                      "Discriminator": "Customer",
                      "Customer": {
                        "ChainId": "79fa3c17-bec6-454f-b3be-b0ec00818acd",
                        "CreatedUtc": "2024-01-03T07:52:19Z",
                        "UpdatedUtc": "2024-01-18T10:25:41Z",
                        "UpdaterProfileId": "93f03906-ed13-4a26-b8dc-b0ec0082194f",
                        "Email": "example@example.com",
                        "TaxIdentifier": "CZ8810310963",
                        "BillingCode": null,
                        "AccountingCode": null,
                        "Notes": "Example notes",
                        "LastName": "Sample",
                        "FirstName": "Sample",
                        "SecondLastName": null,
                        "BirthPlace": "Sample place",
                        "Telephone": "111-222-333",
                        "Occupation": null,
                        "CarRegistrationNumber": null,
                        "LoyaltyCode": null,
                        "NationalityCode": "US",
                        "CompanyId": "839e9d92-aa8b-48bf-8384-b0ec0081bb34",
                        "BirthDate": "2000-01-01T00:00:00Z",
                        "Sex": "Male",
                        "Title": "Mister",
                        "PreferredLanguageCode": null,
                        "Options": {
                          "SendMarketingEmails": true,
                          "Invoiceable": true,
                          "BillAddressObjection": true
                        },
                        "Classifications": {
                          "PaymasterAccount": true,
                          "Blacklist": true,
                          "Media": true,
                          "LoyaltyProgram": true,
                          "PreviousComplaint": true,
                          "Returning": true,
                          "Staff": true,
                          "FriendOrFamily": true,
                          "TopManagement": true,
                          "Important": true,
                          "VeryImportant": true,
                          "Problematic": true,
                          "Cashlist": true,
                          "DisabledPerson": true,
                          "Military": true,
                          "Airline": true,
                          "HealthCompliant": true,
                          "InRoom": true,
                          "WaitingForRoom": true,
                          "Student": true
                        },
                        "LegalEntityIdentifiers": {
                          "ItDestinationCode": null,
                          "ItFiscalCode": null
                        }
                      },
                      "Company": null
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "401": {
            "description": "Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "403": {
            "description": "Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "408": {
            "description": "Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "204": {
            "description": "Server has successfully fulfilled the request and there is no additional information to send back.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "429": {
            "description": "Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/connector/v1/accounts/addFile": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Upload and link file to account",
        "description": "Attaches the specified file to the account. \r\n\r\nAllowed MIME types: `application/pdf`, `image/bmp`, `image/gif`, `image/jpeg`, `image/png`, `image/tiff`.\r\n\r\nNote this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/guidelines/multi-property).",
        "operationId": "accounts_addFile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountFileParameters"
              },
              "example": {
                "ClientToken": "E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D",
                "AccessToken": "C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D",
                "Client": "Sample Client 1.0.0",
                "AccountId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                "Name": "document.pdf",
                "Type": "application/pdf",
                "ChainId": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddAccountFileResult"
                },
                "example": {
                  "FileId": "f039f5b4-ff18-4510-9086-92b14a68ed78"
                }
              }
            }
          },
          "400": {
            "description": "Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "401": {
            "description": "Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "403": {
            "description": "Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "408": {
            "description": "Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "204": {
            "description": "Server has successfully fulfilled the request and there is no additional information to send back.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "429": {
            "description": "Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/connector/v1/accounts/merge": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Merge accounts",
        "description": "Merges two or more accounts of the same account type together. The given source accounts will be merged into the given target account and the merged account will keep the target account ID.",
        "operationId": "accounts_merge",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultipleAccountMergeParameters"
              },
              "example": {
                "ClientToken": "E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D",
                "AccessToken": "C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D",
                "Client": "Sample Client 1.0.0",
                "AccountMergeParameters": [
                  {
                    "AccountType": "Company",
                    "SourceAccountIds": [
                      "b0c10ced-34eb-44b4-92e8-af5b008f3fb4",
                      "5176d000-bf17-40be-b140-9041d2b70eee"
                    ],
                    "TargetAccountId": "51262225-8130-4320-8210-af5b008f64e5"
                  },
                  {
                    "AccountType": "Customer",
                    "SourceAccountIds": [
                      "7799f19a-c9c9-42bf-968f-a759e3ea1ea6",
                      "bb926ffe-5310-48bc-8202-6165fa3bdcad"
                    ],
                    "TargetAccountId": "49b2abd4-df58-4f1d-bead-0fa6342f8a78"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "400": {
            "description": "Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "401": {
            "description": "Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "403": {
            "description": "Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "408": {
            "description": "Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "204": {
            "description": "Server has successfully fulfilled the request and there is no additional information to send back.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "429": {
            "description": "Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/connector/v1/addresses/getAll": {
      "post": {
        "tags": [
          "Addresses"
        ],
        "summary": "Get all addresses",
        "description": "Returns all addresses associated with the specified accounts within the enterprise. \nNote this operation uses [Pagination](https://mews-systems.gitbook.io/connector-api/guidelines/pagination/) and supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).",
        "operationId": "addresses_getAll",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressFilterParameters"
              },
              "example": {
                "ClientToken": "E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D",
                "AccessToken": "C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D",
                "Client": "Sample Client 1.0.0",
                "ChainIds": [
                  "1df21f06-0cfc-4960-9c58-a3bf1261663e",
                  "5fcd1933-22f2-40b9-84da-7db04cbecec2"
                ],
                "AccountIds": [
                  "3db2c989-7d95-42b4-a502-a9f246db1634"
                ],
                "AddressIds": [
                  "fc7b2df3-de66-48a6-907d-af4600ecd892"
                ],
                "UpdatedUtc": {
                  "StartUtc": "2022-12-10T00:00:00Z",
                  "EndUtc": "2022-12-17T00:00:00Z"
                },
                "ActivityStates": [
                  "Active"
                ],
                "Limitation": {
                  "Count": 10
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressResultPage"
                },
                "example": {
                  "Addresses": [
                    {
                      "Id": "fc7b2df3-de66-48a6-907d-af4600ecd892",
                      "AccountId": "3db2c989-7d95-42b4-a502-a9f246db1634",
                      "AccountType": "Customer",
                      "Line1": "I.P. Pavlova 5",
                      "Line2": null,
                      "City": "Prague",
                      "PostalCode": "12000",
                      "CountryCode": "CZ",
                      "CountrySubdivisionCode": null,
                      "Latitude": null,
                      "Longitude": null,
                      "UpdatedUtc": "2023-11-29T14:49:29.982Z",
                      "IsActive": true
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "401": {
            "description": "Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "403": {
            "description": "Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "408": {
            "description": "Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "204": {
            "description": "Server has successfully fulfilled the request and there is no additional information to send back.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "429": {
            "description": "Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/connector/v1/addresses/add": {
      "post": {
        "tags": [
          "Addresses"
        ],
        "summary": "Add addresses",
        "description": "Adds one or more new addresses to the system and assigns them to specified accounts. Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).",
        "operationId": "addresses_add",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultipleAddressAddParameters"
              },
              "example": {
                "ClientToken": "E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D",
                "AccessToken": "C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D",
                "Client": "Sample Client 1.0.0",
                "ChainId": "1df21f06-0cfc-4960-9c58-a3bf1261663e",
                "Addresses": [
                  {
                    "AccountId": "3db2c989-7d95-42b4-a502-a9f246db1634",
                    "Line1": "Rheinlanddamm 207-209",
                    "Line2": null,
                    "City": "Dortmund",
                    "PostalCode": "44137",
                    "CountryCode": "DE",
                    "CountrySubdivisionCode": null,
                    "Latitude": null,
                    "Longitude": null
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressResult"
                },
                "example": {
                  "Addresses": [
                    {
                      "Id": "fc7b2df3-de66-48a6-907d-af4600ecd892",
                      "AccountId": "3db2c989-7d95-42b4-a502-a9f246db1634",
                      "AccountType": "Customer",
                      "Line1": "I.P. Pavlova 5",
                      "Line2": null,
                      "City": "Prague",
                      "PostalCode": "12000",
                      "CountryCode": "CZ",
                      "CountrySubdivisionCode": null,
                      "Latitude": null,
                      "Longitude": null,
                      "UpdatedUtc": "2023-11-29T14:49:29.982Z",
                      "IsActive": true
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "401": {
            "description": "Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "403": {
            "description": "Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "408": {
            "description": "Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "204": {
            "description": "Server has successfully fulfilled the request and there is no additional information to send back.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "429": {
            "description": "Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/connector/v1/addresses/update": {
      "post": {
        "tags": [
          "Addresses"
        ],
        "summary": "Update addresses",
        "description": "Updates one or more existing addresses in the system, assigned to specified accounts. Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).",
        "operationId": "addresses_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultipleAddressUpdateParameters"
              },
              "example": {
                "ClientToken": "E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D",
                "AccessToken": "C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D",
                "Client": "Sample Client 1.0.0",
                "ChainId": "1df21f06-0cfc-4960-9c58-a3bf1261663e",
                "AddressUpdates": [
                  {
                    "AddressId": "fc7b2df3-de66-48a6-907d-af4600ecd892",
                    "AccountId": "3db2c989-7d95-42b4-a502-a9f246db1634",
                    "Line1": {
                      "Value": "I.P. Pavlova 5"
                    },
                    "Line2": {
                      "Value": null
                    },
                    "City": {
                      "Value": "Prague"
                    },
                    "PostalCode": {
                      "Value": "12000"
                    },
                    "CountryCode": {
                      "Value": "CZ"
                    },
                    "CountrySubdivisionCode": {
                      "Value": null
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressResult"
                },
                "example": {
                  "Addresses": [
                    {
                      "Id": "fc7b2df3-de66-48a6-907d-af4600ecd892",
                      "AccountId": "3db2c989-7d95-42b4-a502-a9f246db1634",
                      "AccountType": "Customer",
                      "Line1": "I.P. Pavlova 5",
                      "Line2": null,
                      "City": "Prague",
                      "PostalCode": "12000",
                      "CountryCode": "CZ",
                      "CountrySubdivisionCode": null,
                      "Latitude": null,
                      "Longitude": null,
                      "UpdatedUtc": "2023-11-29T14:49:29.982Z",
                      "IsActive": true
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "401": {
            "description": "Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "403": {
            "description": "Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "408": {
            "description": "Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "204": {
            "description": "Server has successfully fulfilled the request and there is no additional information to send back.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "429": {
            "description": "Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorApiExceptionResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/connector/v1/addresses/delete": {
      "post": {
        "tags": [
          "Addresses"
        ],
        "summary": "Delete addresses",
[...]
