{
  "openapi": "3.0.3",
  "info": {
    "title": "SEO GPT API",
    "description": "SEO GPT API for generating AI-powered SEO content including titles, meta descriptions, page content, and more.",
    "version": "1.0.0",
    "contact": {
      "name": "SEO Vendor",
      "url": "https://ai.seovendor.co"
    }
  },
  "servers": [
    {
      "url": "https://ai.seovendor.co",
      "description": "SEO Content Generation Server"
    },
    {
      "url": "https://seob.zuhah.com",
      "description": "SEO GPT Configuration Server"
    }
  ],
  "tags": [
    {
      "name": "Content",
      "description": "Content generation endpoints"
    },
    {
      "name": "Configuration",
      "description": "Content type configuration endpoints"
    }
  ],
  "paths": {
    "/gpt-get-chrome.php": {
      "post": {
        "tags": ["Content"],
        "summary": "Generate SEO content",
        "description": "Generates AI-powered SEO content based on a keyword, content type, and optional parameters like language, brand, and target URL.",
        "operationId": "generateSeoContent",
        "parameters": [
          {
            "name": "kw",
            "in": "query",
            "required": true,
            "description": "Primary keyword or topic for the content",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "Content type ID (obtained from get content type endpoint)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "k",
            "in": "query",
            "required": true,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "len",
            "in": "query",
            "required": false,
            "description": "Output length (-1 for default)",
            "schema": {
              "type": "integer",
              "default": -1
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language code (0 = English)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "web",
            "in": "query",
            "required": false,
            "description": "Target URL for context",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "description": "Brand name reference",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "json",
            "in": "query",
            "required": false,
            "description": "Response format flag (1 = JSON)",
            "schema": {
              "type": "integer",
              "enum": [0, 1],
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing required parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get_content_type_category": {
      "post": {
        "tags": ["Configuration"],
        "summary": "Get content type categories",
        "description": "Retrieves available content type categories such as Web Page, Off Page, and SEO Content.",
        "operationId": "getContentTypeCategory",
        "parameters": [
          {
            "name": "SEO_GPT_KEY",
            "in": "query",
            "required": true,
            "description": "SEO GPT API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get_gpt_content_type": {
      "post": {
        "tags": ["Configuration"],
        "summary": "Get content types by category",
        "description": "Retrieves available content types for a given category ID, such as Title, Page Title, H1 Title, etc.",
        "operationId": "getContentType",
        "parameters": [
          {
            "name": "cat_id",
            "in": "query",
            "required": true,
            "description": "Category ID (obtained from get content type category endpoint)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "SEO_GPT_KEY",
            "in": "query",
            "required": true,
            "description": "SEO GPT API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved content types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentTypeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid category_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ContentResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 200
          },
          "messages": {
            "type": "string",
            "description": "Generated content text"
          }
        }
      },
      "CategoryResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 200
          },
          "details": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "0": "Web Page",
              "1": "Off Page",
              "2": "SEO Content"
            }
          }
        }
      },
      "ContentTypeResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 200
          },
          "details": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "0": "Title",
              "8": "Page Title",
              "57": "H1 Title"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "messages": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "k",
        "description": "API key for content generation endpoint"
      },
      "seoGptKey": {
        "type": "apiKey",
        "in": "query",
        "name": "SEO_GPT_KEY",
        "description": "API key for configuration endpoints"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}