{
  "openapi": "3.0.3",
  "info": {
    "title": "Stencil API",
    "description": "API for generating images, PDFs, and managing templates with Stencil",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.usestencil.com/"
  },
  "servers": [
    {
      "url": "https://api.usestencil.com/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/account": {
      "get": {
        "summary": "Get account information",
        "description": "Retrieves account information and validates API key",
        "operationId": "getAccount",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "current_project": {
                      "type": "object",
                      "properties": {
                        "description": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "current_usage": {
                      "type": "integer"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "limit_usage": {
                      "type": "integer"
                    },
                    "renewal_date": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key"
          }
        }
      }
    },
    "/projects": {
      "get": {
        "summary": "List available projects",
        "description": "Retrieves a paginated list of available projects",
        "operationId": "listProjects",
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "description": "Retrieve subsequent result set",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Retrieve previous result set",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "type": "string",
                          "nullable": true
                        },
                        "previous": {
                          "type": "string",
                          "nullable": true
                        },
                        "total_count": {
                          "type": "integer"
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Project"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{id}": {
      "get": {
        "summary": "Get specific project",
        "description": "Retrieves details of a specific project",
        "operationId": "getProject",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Project identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/templates": {
      "get": {
        "summary": "List templates",
        "description": "Retrieves a paginated list of templates for a project",
        "operationId": "listTemplates",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Retrieve previous paginated results",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Retrieve next paginated results",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "type": "string",
                          "nullable": true
                        },
                        "previous": {
                          "type": "string",
                          "nullable": true
                        },
                        "total_count": {
                          "type": "integer"
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Template"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/templates/{id}": {
      "get": {
        "summary": "Get specific template",
        "description": "Retrieves details of a specific template",
        "operationId": "getTemplate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Template identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          }
        }
      }
    },
    "/templates/{id}/copy": {
      "post": {
        "summary": "Copy template",
        "description": "Creates a copy of an existing template",
        "operationId": "copyTemplate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Template identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name for the copied template"
                  },
                  "project_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Project ID to copy template to"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          }
        }
      }
    },
    "/images/sync": {
      "post": {
        "summary": "Create image synchronously",
        "description": "Generates an image synchronously and returns the result immediately",
        "operationId": "createImageSync",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/images": {
      "post": {
        "summary": "Create image asynchronously",
        "description": "Generates an image asynchronously",
        "operationId": "createImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Image generation accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/images/search": {
      "post": {
        "summary": "Search generated images",
        "description": "Searches for previously generated images",
        "operationId": "searchImages",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search query (case-insensitive)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "type": "string",
                          "nullable": true
                        },
                        "previous": {
                          "type": "string",
                          "nullable": true
                        },
                        "total_count": {
                          "type": "integer"
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ImageResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pdfs": {
      "post": {
        "summary": "Create PDF asynchronously",
        "description": "Generates a PDF asynchronously (uses 2 credits instead of 1)",
        "operationId": "createPDF",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "template"
                ],
                "properties": {
                  "template": {
                    "type": "string",
                    "description": "Template identifier"
                  },
                  "modifications": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Modification"
                    }
                  },
                  "metadata": {
                    "type": "object"
                  },
                  "webhook_url": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "PDF generation accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PDFResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pdfs/{pdf_id}": {
      "get": {
        "summary": "Get PDF status",
        "description": "Retrieves the status and URL of a generated PDF",
        "operationId": "getPDF",
        "parameters": [
          {
            "name": "pdf_id",
            "in": "path",
            "description": "PDF identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PDFResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pdfs/search": {
      "post": {
        "summary": "Search generated PDFs",
        "description": "Searches for previously generated PDFs",
        "operationId": "searchPDFs",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search query (case-insensitive)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total_count": {
                          "type": "integer"
                        },
                        "next": {
                          "type": "string",
                          "nullable": true
                        },
                        "previous": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PDFResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/collections": {
      "post": {
        "summary": "Create images from template collection",
        "description": "Generates multiple images from multiple templates within a single request",
        "operationId": "createCollection",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "collection"
                ],
                "properties": {
                  "collection": {
                    "type": "string",
                    "description": "Collection ID"
                  },
                  "select": {
                    "type": "integer",
                    "description": "Number of templates to randomly select"
                  },
                  "modifications": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Modification"
                    }
                  },
                  "metadata": {
                    "type": "object"
                  },
                  "webhook_url": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/collections/{id}": {
      "get": {
        "summary": "Retrieve images from template collection",
        "description": "Retrieves the status and images from a collection generation request",
        "operationId": "getCollection",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Collection request identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/editor/sessions": {
      "post": {
        "summary": "Create editor session",
        "description": "Creates a shareable link for editing a template without logging in",
        "operationId": "createEditorSession",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "expires",
                  "template_id"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Session identifier"
                  },
                  "expires": {
                    "type": "integer",
                    "description": "Duration in seconds until expiration"
                  },
                  "template_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Template to grant access to"
                  },
                  "permissions": {
                    "type": "object",
                    "properties": {
                      "layers": {
                        "type": "object",
                        "properties": {
                          "actions": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "create",
                                "edit",
                                "delete"
                              ]
                            }
                          },
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "create",
                                      "edit",
                                      "delete"
                                    ]
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EditorSession"
                }
              }
            }
          }
        }
      }
    },
    "/editor/sessions/{session_id}": {
      "get": {
        "summary": "Retrieve editor session",
        "description": "Retrieves details of an editor session",
        "operationId": "getEditorSession",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "description": "Session identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EditorSession"
                }
              }
            }
          }
        }
      }
    },
    "/airtables/{id}": {
      "get": {
        "summary": "Get Airtable image generation status",
        "description": "Retrieves the status of an Airtable image generation action",
        "operationId": "getAirtableStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Action identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirtableStatus"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Trigger Airtable image generation",
        "description": "Triggers an Airtable image generation action",
        "operationId": "triggerAirtable",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Action identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirtableStatus"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication using API key"
      }
    },
    "schemas": {
      "Project": {
        "type": "object",
        "properties": {
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "type": "string"
          },
          "favorite": {
            "type": "boolean"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "self": {
            "type": "string",
            "format": "uri"
          },
          "templates": {
            "type": "string",
            "format": "uri"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "project_id": {
            "type": "string",
            "format": "uuid"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "starred": {
            "type": "boolean"
          },
          "available_modifications": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "signed_image_base": {
            "type": "string"
          },
          "self": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Modification": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "text": {
            "type": "string"
          }
        }
      },
      "ImageRequest": {
        "type": "object",
        "required": [
          "template"
        ],
        "properties": {
          "modifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Modification"
            }
          },
          "metadata": {
            "type": "object"
          },
          "webhook_url": {
            "type": "string",
            "format": "uri"
          },
          "template": {
            "type": "string",
            "description": "Template identifier"
          },
          "transparent": {
            "type": "boolean",
            "description": "Background transparency setting"
          },
          "png_multiplier": {
            "type": "integer",
            "description": "PNG quality scale (greater than or equal to 1)",
            "minimum": 1
          },
          "jpeg_quality": {
            "type": "number",
            "description": "JPEG quality (0-1, where 1=highest)",
            "minimum": 0,
            "maximum": 1
          }
        }
      },
      "ImageResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "completed"
            ]
          },
          "self": {
            "type": "string",
            "format": "uri"
          },
          "log": {
            "type": "object"
          },
          "metadata": {
            "type": "object"
          },
          "template_id": {
            "type": "string",
            "format": "uuid"
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "webhook_response_body": {
            "type": "string",
            "nullable": true
          },
          "webhook_response_code": {
            "type": "integer",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "modifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Modification"
            }
          },
          "image_url": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "image_url_jpg": {
            "type": "string",
            "format": "uri",
            "nullable": true
          }
        }
      },
      "PDFResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "completed"
            ]
          },
          "template_id": {
            "type": "string",
            "format": "uuid"
          },
          "modifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Modification"
            }
          },
          "pdf_url": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "self": {
            "type": "string",
            "format": "uri"
          },
          "metadata": {
            "type": "object",
            "nullable": true
          },
          "log": {
            "type": "object",
            "nullable": true
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "webhook_response_code": {
            "type": "integer",
            "nullable": true
          },
          "webhook_response_body": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CollectionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "completed"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "image_url": {
                  "type": "string",
                  "format": "uri"
                },
                "image_url_jpg": {
                  "type": "string",
                  "format": "uri"
                },
                "template_id": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "templates": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "template": {
                  "type": "string"
                },
                "template_id": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "modifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Modification"
            }
          },
          "metadata": {
            "type": "object",
            "nullable": true
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "self": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "EditorSession": {
        "type": "object",
        "properties": {
          "session_id": {
            "type": "string",
            "format": "uuid"
          },
          "token": {
            "type": "string"
          },
          "session_url": {
            "type": "string",
            "format": "uri"
          },
          "expired_at": {
            "type": "string",
            "format": "date-time"
          },
          "permissions": {
            "type": "object",
            "nullable": true
          }
        }
      },
      "AirtableStatus": {
        "type": "object",
        "properties": {
          "action_title": {
            "type": "string"
          },
          "base_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "nullable": true,
            "enum": [
              "Starting",
              "Started",
              null
            ]
          },
          "table_name": {
            "type": "string"
          },
          "view_name": {
            "type": "string",
            "nullable": true
          }
        }
      }
    }
  }
}
