{
  "openapi": "3.0.3",
  "info": {
    "title": "Sprinklr API",
    "description": "Sprinklr is a unified customer experience management (Unified-CXM) platform. This specification covers core API categories including Messaging, Case Management, Publishing, Profile/Contact Management, and Webhooks.",
    "version": "2.0.0",
    "contact": {
      "name": "Sprinklr Developer Support",
      "url": "https://developer.sprinklr.com/"
    },
    "x-jentic-source-url": "https://developer.sprinklr.com/"
  },
  "servers": [
    {
      "url": "https://api2.sprinklr.com/api/v2",
      "description": "Sprinklr Production API v2"
    },
    {
      "url": "https://api2.sprinklr.com/api/v1",
      "description": "Sprinklr Production API v1"
    }
  ],
  "paths": {
    "/oauth/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Generate access token",
        "description": "Generates an OAuth 2.0 access token using client credentials or authorization code grant. The returned token is used as a Bearer token in subsequent API calls.",
        "operationId": "generateAccessToken",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "client_credentials",
                      "authorization_code",
                      "refresh_token"
                    ],
                    "description": "OAuth 2.0 grant type"
                  },
                  "client_id": {
                    "type": "string",
                    "description": "OAuth client ID"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "OAuth client secret"
                  },
                  "redirect_uri": {
                    "type": "string",
                    "description": "Redirect URI (required for authorization_code grant)"
                  },
                  "code": {
                    "type": "string",
                    "description": "Authorization code (required for authorization_code grant)"
                  },
                  "refresh_token": {
                    "type": "string",
                    "description": "Refresh token (required for refresh_token grant)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/token/refresh": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Refresh access token",
        "description": "Refreshes an expired access token using a refresh token.",
        "operationId": "refreshAccessToken",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "refresh_token"
                ],
                "properties": {
                  "refresh_token": {
                    "type": "string",
                    "description": "The refresh token issued with the original access token"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token refreshed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/message": {
      "post": {
        "tags": [
          "Messaging"
        ],
        "summary": "Send a message",
        "description": "Send an outbound message on a specified channel (e.g., Twitter, Facebook, WhatsApp, etc.). The message is routed through the configured account for that channel.",
        "operationId": "sendMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/message/reply": {
      "post": {
        "tags": [
          "Messaging"
        ],
        "summary": "Reply to a message",
        "description": "Send a reply to an existing inbound or outbound message. The reply is threaded to the original conversation.",
        "operationId": "replyToMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplyMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reply sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/message/{messageId}": {
      "get": {
        "tags": [
          "Messaging"
        ],
        "summary": "Get message by ID",
        "description": "Retrieve details of a specific message by its unique identifier.",
        "operationId": "getMessageById",
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the message",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Messaging"
        ],
        "summary": "Delete a message",
        "description": "Delete a specific message by its ID. This may also delete the message from the source channel if supported.",
        "operationId": "deleteMessage",
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the message",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message deleted successfully"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/message/search": {
      "post": {
        "tags": [
          "Messaging"
        ],
        "summary": "Search messages",
        "description": "Search for messages using various filters such as channel type, date range, account, and keywords.",
        "operationId": "searchMessages",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageSearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/case": {
      "post": {
        "tags": [
          "Case Management"
        ],
        "summary": "Create a case",
        "description": "Create a new support case. Cases track customer issues and can be assigned to agents, prioritized, and linked to conversations.",
        "operationId": "createCase",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Case created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Case"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/case/{caseId}": {
      "get": {
        "tags": [
          "Case Management"
        ],
        "summary": "Get case by ID",
        "description": "Retrieve the full details of a support case by its unique identifier.",
        "operationId": "getCaseById",
        "parameters": [
          {
            "name": "caseId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the case",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Case retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Case"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Case Management"
        ],
        "summary": "Update a case",
        "description": "Update an existing case. Supports updating status, priority, assignment, custom fields, and other case properties.",
        "operationId": "updateCase",
        "parameters": [
          {
            "name": "caseId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the case",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Case updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Case"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/case/search": {
      "post": {
        "tags": [
          "Case Management"
        ],
        "summary": "Search cases",
        "description": "Search for cases using filters such as status, priority, assignee, date range, and custom field values.",
        "operationId": "searchCases",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaseSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Case search results returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaseSearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/case/{caseId}/comment": {
      "post": {
        "tags": [
          "Case Management"
        ],
        "summary": "Add comment to case",
        "description": "Add an internal or external comment to an existing case.",
        "operationId": "addCaseComment",
        "parameters": [
          {
            "name": "caseId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the case",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaseCommentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaseComment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/case/{caseId}/close": {
      "post": {
        "tags": [
          "Case Management"
        ],
        "summary": "Close a case",
        "description": "Close an existing case, marking it as resolved.",
        "operationId": "closeCase",
        "parameters": [
          {
            "name": "caseId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the case",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resolution": {
                    "type": "string",
                    "description": "Resolution note for closing the case"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Case closed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Case"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/post": {
      "post": {
        "tags": [
          "Publishing"
        ],
        "summary": "Create a post",
        "description": "Create and optionally schedule a post for publishing to one or more social media channels. Supports text, images, videos, and links.",
        "operationId": "createPost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/post/{postId}": {
      "get": {
        "tags": [
          "Publishing"
        ],
        "summary": "Get post by ID",
        "description": "Retrieve the details of a specific post, including its status, scheduled time, and publishing results.",
        "operationId": "getPostById",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the post",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Publishing"
        ],
        "summary": "Update a post",
        "description": "Update a post that has not yet been published. Allows modifying content, schedule, and target channels.",
        "operationId": "updatePost",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the post",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Publishing"
        ],
        "summary": "Delete a post",
        "description": "Delete a scheduled or draft post. Published posts cannot be deleted through this endpoint.",
        "operationId": "deletePost",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the post",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post deleted successfully"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/post/search": {
      "post": {
        "tags": [
          "Publishing"
        ],
        "summary": "Search posts",
        "description": "Search for posts using filters such as status, channel, date range, and account.",
        "operationId": "searchPosts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post search results returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostSearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/post/{postId}/approve": {
      "post": {
        "tags": [
          "Publishing"
        ],
        "summary": "Approve a post",
        "description": "Approve a post that is pending approval in the publishing workflow.",
        "operationId": "approvePost",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the post",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": {
                    "type": "string",
                    "description": "Optional approval comment"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post approved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/profile": {
      "post": {
        "tags": [
          "Profile Management"
        ],
        "summary": "Create a profile",
        "description": "Create a new customer profile. Profiles unify customer identity across channels.",
        "operationId": "createProfile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProfileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/profile/{profileId}": {
      "get": {
        "tags": [
          "Profile Management"
        ],
        "summary": "Get profile by ID",
        "description": "Retrieve details of a customer profile by its unique identifier.",
        "operationId": "getProfileById",
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the profile",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Profile Management"
        ],
        "summary": "Update a profile",
        "description": "Update an existing customer profile with new information.",
        "operationId": "updateProfile",
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the profile",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/profile/search": {
      "post": {
        "tags": [
          "Profile Management"
        ],
        "summary": "Search profiles",
        "description": "Search for customer profiles using filters such as name, email, channel identifiers, and custom fields.",
        "operationId": "searchProfiles",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile search results returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileSearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/profile/{profileId}/merge": {
      "post": {
        "tags": [
          "Profile Management"
        ],
        "summary": "Merge profiles",
        "description": "Merge a secondary profile into this profile, combining all associated data and channel identities.",
        "operationId": "mergeProfiles",
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "description": "Primary profile ID to merge into",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "secondaryProfileId"
                ],
                "properties": {
                  "secondaryProfileId": {
                    "type": "string",
                    "description": "The profile ID to be merged into the primary profile"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profiles merged successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/webhook": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create a webhook",
        "description": "Register a new webhook to receive event notifications. Sprinklr will send HTTP POST callbacks to the specified URL when subscribed events occur.",
        "operationId": "createWebhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      },
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List webhooks",
        "description": "Retrieve a list of all registered webhooks for the current account.",
        "operationId": "listWebhooks",
        "responses": {
          "200": {
            "description": "Webhooks retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Webhook"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/webhook/{webhookId}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get webhook by ID",
        "description": "Retrieve details of a specific webhook registration.",
        "operationId": "getWebhookById",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the webhook",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update a webhook",
        "description": "Update an existing webhook registration, including its URL, events, and active status.",
        "operationId": "updateWebhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the webhook",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete a webhook",
        "description": "Remove a webhook registration. The webhook will no longer receive event notifications.",
        "operationId": "deleteWebhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the webhook",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted successfully"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/asset/upload": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Upload an asset",
        "description": "Upload a media asset (image, video, document) for use in posts and messages.",
        "operationId": "uploadAsset",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The media file to upload"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "IMAGE",
                      "VIDEO",
                      "DOCUMENT"
                    ],
                    "description": "Type of asset being uploaded"
                  },
                  "name": {
                    "type": "string",
                    "description": "Display name for the asset"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Asset uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/asset/{assetId}": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get asset by ID",
        "description": "Retrieve metadata for a specific uploaded asset.",
        "operationId": "getAssetById",
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the asset",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asset retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "OAuth 2.0 Bearer token. Obtain via the /oauth/token endpoint."
      },
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "key",
        "description": "API key provided by Sprinklr for your application."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - invalid parameters or request body",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid or expired authentication credentials",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error code"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          },
          "details": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            },
            "description": "Field-level error details"
          }
        }
      },
      "AccessTokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "The OAuth 2.0 access token"
          },
          "token_type": {
            "type": "string",
            "example": "Bearer"
          },
          "expires_in": {
            "type": "integer",
            "description": "Token expiry time in seconds"
          },
          "refresh_token": {
            "type": "string",
            "description": "Token used to obtain a new access token"
          }
        }
      },
      "ChannelType": {
        "type": "string",
        "description": "Social or messaging channel type",
        "enum": [
          "TWITTER",
          "FACEBOOK",
          "FACEBOOK_MESSENGER",
          "INSTAGRAM",
          "INSTAGRAM_DM",
          "LINKEDIN",
          "WHATSAPP",
          "YOUTUBE",
          "GOOGLE_BUSINESS",
          "WEB_CHAT",
          "EMAIL",
          "SMS",
          "APPLE_BUSINESS_CHAT",
          "LINE",
          "WECHAT",
          "TIKTOK",
          "PINTEREST"
        ]
      },
      "CustomFieldValue": {
        "type": "object",
        "description": "A custom field key-value pair",
        "properties": {
          "fieldName": {
            "type": "string",
            "description": "The custom field name or key"
          },
          "value": {
            "description": "The value of the custom field (string, number, boolean, or array)",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          }
        }
      },
      "Pagination": {
        "type": "object",
        "description": "Pagination metadata for search results",
        "properties": {
          "start": {
            "type": "integer",
            "description": "Starting index of results"
          },
          "rows": {
            "type": "integer",
            "description": "Number of results per page"
          },
          "total": {
            "type": "integer",
            "description": "Total number of matching results"
          }
        }
      },
      "SearchFilter": {
        "type": "object",
        "description": "A filter condition for search queries",
        "properties": {
          "field": {
            "type": "string",
            "description": "The field to filter on"
          },
          "operator": {
            "type": "string",
            "enum": [
              "EQUALS",
              "NOT_EQUALS",
              "IN",
              "NOT_IN",
              "GREATER_THAN",
              "LESS_THAN",
              "BETWEEN",
              "CONTAINS",
              "STARTS_WITH"
            ],
            "description": "Filter operator"
          },
          "value": {
            "description": "Filter value or values",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          }
        }
      },
      "SortOrder": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "description": "Field to sort by"
          },
          "order": {
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ],
            "description": "Sort direction"
          }
        }
      },
      "Attachment": {
        "type": "object",
        "description": "A media attachment on a message or post",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "IMAGE",
              "VIDEO",
              "DOCUMENT",
              "AUDIO",
              "LINK"
            ],
            "description": "Type of attachment"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the attachment"
          },
          "assetId": {
            "type": "string",
            "description": "Sprinklr asset ID if uploaded via the asset API"
          },
          "mimeType": {
            "type": "string",
            "description": "MIME type of the attachment"
          },
          "fileName": {
            "type": "string",
            "description": "Original file name"
          }
        }
      },
      "SendMessageRequest": {
        "type": "object",
        "required": [
          "channelType",
          "accountId",
          "recipient",
          "content"
        ],
        "properties": {
          "channelType": {
            "$ref": "#/components/schemas/ChannelType"
          },
          "accountId": {
            "type": "string",
            "description": "The Sprinklr account ID for the channel to send from"
          },
          "recipient": {
            "type": "object",
            "description": "The message recipient",
            "required": [
              "id"
            ],
            "properties": {
              "id": {
                "type": "string",
                "description": "Channel-specific recipient identifier (e.g., phone number for WhatsApp, user ID for Messenger)"
              },
              "name": {
                "type": "string",
                "description": "Recipient display name"
              }
            }
          },
          "content": {
            "type": "object",
            "description": "Message content",
            "properties": {
              "text": {
                "type": "string",
                "description": "Text content of the message"
              },
              "attachments": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Attachment"
                },
                "description": "Media attachments"
              },
              "templateId": {
                "type": "string",
                "description": "Pre-approved message template ID (required for some channels like WhatsApp)"
              },
              "templateParameters": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Parameters to fill in the template placeholders"
              }
            }
          },
          "customFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldValue"
            },
            "description": "Custom field values to associate with the message"
          }
        }
      },
      "ReplyMessageRequest": {
        "type": "object",
        "required": [
          "inReplyToMessageId",
          "content"
        ],
        "properties": {
          "inReplyToMessageId": {
            "type": "string",
            "description": "ID of the message being replied to"
          },
          "content": {
            "type": "object",
            "properties": {
              "text": {
                "type": "string",
                "description": "Reply text content"
              },
              "attachments": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Attachment"
                }
              }
            }
          }
        }
      },
      "Message": {
        "type": "object",
        "description": "A message object representing an inbound or outbound message",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique message identifier"
          },
          "channelType": {
            "$ref": "#/components/schemas/ChannelType"
          },
          "accountId": {
            "type": "string",
            "description": "Sprinklr account ID"
          },
          "direction": {
            "type": "string",
            "enum": [
              "INBOUND",
              "OUTBOUND"
            ],
            "description": "Message direction"
          },
          "status": {
            "type": "string",
            "enum": [
              "SENT",
              "DELIVERED",
              "READ",
              "FAILED",
              "PENDING"
            ],
            "description": "Current delivery status"
          },
          "sender": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "profileId": {
                "type": "string",
                "description": "Sprinklr profile ID of the sender"
              }
            }
          },
          "recipient": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "content": {
            "type": "object",
            "properties": {
              "text": {
                "type": "string"
              },
              "attachments": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Attachment"
                }
              }
            }
          },
          "conversationId": {
            "type": "string",
            "description": "Conversation thread identifier"
          },
          "caseId": {
            "type": "string",
            "description": "Associated case ID if linked to a case"
          },
          "createdTime": {
            "type": "integer",
            "format": "int64",
            "description": "Creation timestamp in epoch milliseconds"
          },
          "modifiedTime": {
            "type": "integer",
            "format": "int64",
            "description": "Last modification timestamp in epoch milliseconds"
          },
          "customFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldValue"
            }
          }
        }
      },
      "MessageResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Message"
          }
        }
      },
      "MessageSearchRequest": {
        "type": "object",
        "properties": {
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchFilter"
            },
            "description": "Search filters to apply"
          },
          "sort": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortOrder"
            }
          },
          "start": {
            "type": "integer",
            "default": 0,
            "description": "Starting index for pagination"
          },
          "rows": {
            "type": "integer",
            "default": 20,
            "description": "Number of results to return"
          }
        }
      },
      "MessageSearchResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          },
          "page": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "CreateCaseRequest": {
        "type": "object",
        "required": [
          "title"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "Case title or subject"
          },
          "description": {
            "type": "string",
            "description": "Detailed description of the issue"
          },
          "priority": {
            "type": "string",
            "enum": [
              "LOW",
              "MEDIUM",
              "HIGH",
              "URGENT"
            ],
            "description": "Case priority level"
          },
          "status": {
            "type": "string",
            "enum": [
              "NEW",
              "OPEN",
              "PENDING",
              "ON_HOLD",
              "CLOSED"
            ],
            "description": "Initial case status"
          },
          "channelType": {
            "$ref": "#/components/schemas/ChannelType"
          },
          "assignedUserId": {
            "type": "string",
            "description": "User ID of the assigned agent"
          },
          "assignedGroupId": {
            "type": "string",
            "description": "Group/team ID to assign the case to"
          },
          "profileId": {
            "type": "string",
            "description": "Customer profile ID associated with the case"
          },
          "messageId": {
            "type": "string",
            "description": "Message ID that originated this case"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags to categorize the case"
          },
          "customFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldValue"
            }
          }
        }
      },
      "UpdateCaseRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Updated case title"
          },
          "description": {
            "type": "string",
            "description": "Updated description"
          },
          "priority": {
            "type": "string",
            "enum": [
              "LOW",
              "MEDIUM",
              "HIGH",
              "URGENT"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "NEW",
              "OPEN",
              "PENDING",
              "ON_HOLD",
              "CLOSED"
            ]
          },
          "assignedUserId": {
            "type": "string",
            "description": "Reassign to a different agent"
          },
          "assignedGroupId": {
            "type": "string",
            "description": "Reassign to a different group"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "customFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldValue"
            }
          }
        }
      },
      "Case": {
        "type": "object",
        "description": "A support case tracking a customer issue",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique case identifier"
          },
          "caseNumber": {
            "type": "string",
            "description": "Human-readable case number"
          },
          "title": {
            "type": "string",
            "description": "Case title"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "NEW",
              "OPEN",
              "PENDING",
              "ON_HOLD",
              "CLOSED"
            ]
          },
          "priority": {
            "type": "string",
            "enum": [
              "LOW",
              "MEDIUM",
              "HIGH",
              "URGENT"
            ]
          },
          "channelType": {
            "$ref": "#/components/schemas/ChannelType"
          },
          "assignedUser": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string",
                "format": "email"
              }
            }
          },
          "assignedGroup": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "profileId": {
            "type": "string",
            "description": "Associated customer profile ID"
          },
          "messageIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IDs of messages linked to this case"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "customFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldValue"
            }
          },
          "createdTime": {
            "type": "integer",
            "format": "int64",
            "description": "Creation timestamp in epoch milliseconds"
          },
          "modifiedTime": {
            "type": "integer",
            "format": "int64",
            "description": "Last modification timestamp in epoch milliseconds"
          },
          "closedTime": {
            "type": "integer",
            "format": "int64",
            "description": "Closure timestamp in epoch milliseconds"
          },
          "firstResponseTime": {
            "type": "integer",
            "format": "int64",
            "description": "Time of first agent response in epoch milliseconds"
          }
        }
      },
      "CaseSearchRequest": {
        "type": "object",
        "properties": {
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchFilter"
            }
          },
          "sort": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortOrder"
            }
          },
          "start": {
            "type": "integer",
            "default": 0
          },
          "rows": {
            "type": "integer",
            "default": 20
          }
        }
      },
      "CaseSearchResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Case"
            }
          },
          "page": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "CaseCommentRequest": {
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string",
            "description": "Comment text"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "INTERNAL",
              "EXTERNAL"
            ],
            "default": "INTERNAL",
            "description": "Whether the comment is internal-only or visible to the customer"
          },
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Attachment"
            }
          }
        }
      },
      "CaseComment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "caseId": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "INTERNAL",
              "EXTERNAL"
            ]
          },
          "author": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Attachment"
            }
          },
          "createdTime": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "CreatePostRequest": {
        "type": "object",
        "required": [
          "channelType",
          "accountIds",
          "content"
        ],
        "properties": {
          "channelType": {
            "$ref": "#/components/schemas/ChannelType"
          },
          "accountIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Sprinklr account IDs to publish to"
          },
          "content": {
            "type": "object",
            "properties": {
              "text": {
                "type": "string",
                "description": "Post text content"
              },
              "attachments": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Attachment"
                }
              },
              "link": {
                "type": "string",
                "format": "uri",
                "description": "URL to include in the post"
              }
            }
          },
          "scheduledTime": {
            "type": "integer",
            "format": "int64",
            "description": "Scheduled publish time in epoch milliseconds. If omitted, publishes immediately."
          },
          "campaignId": {
            "type": "string",
            "description": "Campaign to associate the post with"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags for categorization"
          },
          "customFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldValue"
            }
          },
          "publishingWorkflow": {
            "type": "object",
            "properties": {
              "approvalRequired": {
                "type": "boolean",
                "description": "Whether the post requires approval before publishing"
              },
              "approverIds": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "User IDs of required approvers"
              }
            }
          }
        }
      },
      "UpdatePostRequest": {
        "type": "object",
        "properties": {
          "content": {
            "type": "object",
            "properties": {
              "text": {
                "type": "string"
              },
              "attachments": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Attachment"
                }
              },
              "link": {
                "type": "string",
                "format": "uri"
              }
            }
          },
          "scheduledTime": {
            "type": "integer",
            "format": "int64"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "customFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldValue"
            }
          }
        }
      },
      "Post": {
        "type": "object",
        "description": "A social media post object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique post identifier"
          },
          "channelType": {
            "$ref": "#/components/schemas/ChannelType"
          },
          "accountIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "DRAFT",
              "SCHEDULED",
              "PENDING_APPROVAL",
              "APPROVED",
              "PUBLISHED",
              "FAILED",
              "REJECTED"
            ],
            "description": "Current post status"
          },
          "content": {
            "type": "object",
            "properties": {
              "text": {
                "type": "string"
              },
              "attachments": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Attachment"
                }
              },
              "link": {
                "type": "string",
                "format": "uri"
              }
            }
          },
          "scheduledTime": {
            "type": "integer",
            "format": "int64"
          },
          "publishedTime": {
            "type": "integer",
            "format": "int64",
            "description": "Actual publish time in epoch milliseconds"
          },
          "channelPostId": {
            "type": "string",
            "description": "The post ID on the source channel after publishing"
          },
          "channelPostUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL of the published post on the channel"
          },
          "campaignId": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "customFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldValue"
            }
          },
          "engagement": {
            "type": "object",
            "description": "Engagement metrics after publishing",
            "properties": {
              "likes": {
                "type": "integer"
              },
              "comments": {
                "type": "integer"
              },
              "shares": {
                "type": "integer"
              },
              "impressions": {
                "type": "integer"
              },
              "reach": {
                "type": "integer"
              },
              "clicks": {
                "type": "integer"
              }
            }
          },
          "createdBy": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "createdTime": {
            "type": "integer",
            "format": "int64"
          },
          "modifiedTime": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "PostSearchRequest": {
        "type": "object",
        "properties": {
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchFilter"
            }
          },
          "sort": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortOrder"
            }
          },
          "start": {
            "type": "integer",
            "default": 0
          },
          "rows": {
            "type": "integer",
            "default": 20
          }
        }
      },
      "PostSearchResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Post"
            }
          },
          "page": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "CreateProfileRequest": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "description": "Customer first name"
          },
          "lastName": {
            "type": "string",
            "description": "Customer last name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Primary email address"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Primary phone number"
          },
          "channelIdentifiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChannelIdentifier"
            },
            "description": "Channel-specific identifiers for this customer"
          },
          "company": {
            "type": "string",
            "description": "Company or organization name"
          },
          "location": {
            "type": "object",
            "properties": {
              "city": {
                "type": "string"
              },
              "state": {
                "type": "string"
              },
              "country": {
                "type": "string"
              }
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "customFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldValue"
            }
          }
        }
      },
      "UpdateProfileRequest": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phoneNumber": {
            "type": "string"
          },
          "channelIdentifiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChannelIdentifier"
            }
          },
          "company": {
            "type": "string"
          },
          "location": {
            "type": "object",
            "properties": {
              "city": {
                "type": "string"
              },
              "state": {
                "type": "string"
              },
              "country": {
                "type": "string"
              }
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "customFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldValue"
            }
          }
        }
      },
      "ChannelIdentifier": {
        "type": "object",
        "description": "A customer identity on a specific channel",
        "properties": {
          "channelType": {
            "$ref": "#/components/schemas/ChannelType"
          },
          "identifier": {
            "type": "string",
            "description": "The channel-specific user identifier (e.g., Twitter handle, Facebook user ID)"
          },
          "displayName": {
            "type": "string",
            "description": "Display name on the channel"
          },
          "profileUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL of the customer's profile on the channel"
          }
        }
      },
      "Profile": {
        "type": "object",
        "description": "A unified customer profile",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique profile identifier"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phoneNumber": {
            "type": "string"
          },
          "channelIdentifiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChannelIdentifier"
            }
          },
          "company": {
            "type": "string"
          },
          "location": {
            "type": "object",
            "properties": {
              "city": {
                "type": "string"
              },
              "state": {
                "type": "string"
              },
              "country": {
                "type": "string"
              }
            }
          },
          "sentiment": {
            "type": "string",
            "enum": [
              "POSITIVE",
              "NEUTRAL",
              "NEGATIVE"
            ],
            "description": "Aggregated customer sentiment"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "customFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldValue"
            }
          },
          "caseCount": {
            "type": "integer",
            "description": "Number of cases associated with this profile"
          },
          "messageCount": {
            "type": "integer",
            "description": "Number of messages associated with this profile"
          },
          "createdTime": {
            "type": "integer",
            "format": "int64"
          },
          "modifiedTime": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ProfileSearchRequest": {
        "type": "object",
        "properties": {
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchFilter"
            }
          },
          "sort": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortOrder"
            }
          },
          "start": {
            "type": "integer",
            "default": 0
          },
          "rows": {
            "type": "integer",
            "default": 20
          }
        }
      },
      "ProfileSearchResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Profile"
            }
          },
          "page": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "CreateWebhookRequest": {
        "type": "object",
        "required": [
          "url",
          "events"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The callback URL to receive webhook notifications"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "MESSAGE_RECEIVED",
                "MESSAGE_SENT",
                "MESSAGE_DELIVERED",
                "MESSAGE_READ",
                "MESSAGE_FAILED",
                "CASE_CREATED",
                "CASE_UPDATED",
                "CASE_CLOSED",
                "CASE_ASSIGNED",
                "POST_PUBLISHED",
                "POST_FAILED",
                "POST_APPROVED",
                "POST_REJECTED",
                "PROFILE_CREATED",
                "PROFILE_UPDATED"
              ]
            },
            "description": "Event types to subscribe to"
          },
          "secret": {
            "type": "string",
            "description": "Secret key used to sign webhook payloads for verification"
          },
          "active": {
            "type": "boolean",
            "default": true,
            "description": "Whether the webhook is active"
          },
          "description": {
            "type": "string",
            "description": "Human-readable description of the webhook"
          }
        }
      },
      "UpdateWebhookRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "secret": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "Webhook": {
        "type": "object",
        "description": "A webhook registration for receiving event notifications",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique webhook identifier"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Callback URL"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Subscribed event types"
          },
          "active": {
            "type": "boolean",
            "description": "Whether the webhook is currently active"
          },
          "description": {
            "type": "string"
          },
          "createdTime": {
            "type": "integer",
            "format": "int64"
          },
          "modifiedTime": {
            "type": "integer",
            "format": "int64"
          },
          "lastTriggeredTime": {
            "type": "integer",
            "format": "int64",
            "description": "Last time the webhook was triggered"
          },
          "failureCount": {
            "type": "integer",
            "description": "Number of consecutive delivery failures"
          }
        }
      },
      "Asset": {
        "type": "object",
        "description": "An uploaded media asset",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique asset identifier"
          },
          "name": {
            "type": "string",
            "description": "Asset display name"
          },
          "type": {
            "type": "string",
            "enum": [
              "IMAGE",
              "VIDEO",
              "DOCUMENT"
            ],
            "description": "Asset type"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL to access the asset"
          },
          "mimeType": {
            "type": "string",
            "description": "MIME type of the asset"
          },
          "size": {
            "type": "integer",
            "description": "File size in bytes"
          },
          "createdTime": {
            "type": "integer",
            "format": "int64"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": [],
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "OAuth 2.0 token management"
    },
    {
      "name": "Messaging",
      "description": "Send and receive messages across social and messaging channels"
    },
    {
      "name": "Case Management",
      "description": "Create, update, and query support cases"
    },
    {
      "name": "Publishing",
      "description": "Schedule and publish content to social channels"
    },
    {
      "name": "Profile Management",
      "description": "Manage customer profiles and contacts"
    },
    {
      "name": "Webhooks",
      "description": "Set up and manage event notification webhooks"
    },
    {
      "name": "Assets",
      "description": "Upload and manage media assets"
    }
  ]
}