{
  "openapi": "3.0.3",
  "info": {
    "title": "malma Workspace API",
    "description": "Official API for the Make.com and Zapier integration with malma.ai. This API provides workspace-based endpoints to retrieve agents and create new leads within a malma workspace.",
    "version": "1.0.0",
    "contact": {
      "name": "malmachen GmbH",
      "email": "einfach@malmachen.com",
      "url": "https://malmachen.com"
    },
    "x-jentic-source-url": "https://github.com/hotcalls/hotcalls-make-documentation.git"
  },
  "servers": [
    {
      "url": "https://app.malma.ai/api",
      "description": "Production server"
    }
  ],
  "paths": {
    "/workspace/agents": {
      "get": {
        "operationId": "getWorkspaceAgents",
        "summary": "Get workspace agents",
        "description": "Returns all agents belonging to the workspace associated with the provided API token. Response is optimized for Make.com and Zapier dynamic dropdowns using label/value structure.",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of agents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Agent"
                  }
                },
                "example": [
                  {
                    "label": "Agentur Demo malmachen",
                    "value": "dde9943e-7b68-429e-a21f-edd28fb6bab5"
                  },
                  {
                    "label": "Autohaus Demo malmachen",
                    "value": "7a629724-e582-4320-a7f4-71084e397121"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Workspace not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/workspace/create-lead": {
      "post": {
        "operationId": "createWorkspaceLead",
        "summary": "Create lead",
        "description": "Creates a new lead and assigns it to a specific agent within the workspace.",
        "tags": [
          "Leads"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLeadRequest"
              },
              "example": {
                "agent_id": "c319752f-6dde-4c0f-9a94-4e16cbee7e86",
                "first_name": "John",
                "last_name": "Doe",
                "email": "john@example.com",
                "phone": "+49123456789"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLeadResponse"
                },
                "example": {
                  "success": true,
                  "lead_id": "7c91b2bb-6fc5-4cb1-abbd-7eecb8ec7981"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Missing fields",
                  "status": 400
                }
              }
            }
          },
          "401": {
            "description": "Invalid API token format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Agent not found",
                  "status": 404
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Workspace API Token that identifies the workspace and scopes all API operations"
      }
    },
    "schemas": {
      "Agent": {
        "type": "object",
        "required": [
          "label",
          "value"
        ],
        "properties": {
          "label": {
            "type": "string",
            "description": "Display name of the agent"
          },
          "value": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the agent"
          }
        }
      },
      "CreateLeadRequest": {
        "type": "object",
        "required": [
          "agent_id",
          "last_name",
          "phone"
        ],
        "properties": {
          "agent_id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID of the agent to assign the lead to"
          },
          "first_name": {
            "type": "string",
            "description": "First name of the lead"
          },
          "last_name": {
            "type": "string",
            "description": "Last name of the lead"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the lead"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the lead (E.164 format recommended)"
          }
        }
      },
      "CreateLeadResponse": {
        "type": "object",
        "required": [
          "success",
          "lead_id"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates if the lead was created successfully"
          },
          "lead_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the created lead"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Agents",
      "description": "Retrieve agents within the workspace"
    },
    {
      "name": "Leads",
      "description": "Create and manage leads"
    }
  ]
}