{
  "openapi": "3.0.3",
  "info": {
    "title": "Omnisend API",
    "description": "The Omnisend API v5 provides access to Omnisend's marketing automation platform. Manage contacts, track events, manage campaigns, and access e-commerce data. All endpoints use the base URL https://api.omnisend.com/v5 and require Bearer token authentication.",
    "version": "5.0.0",
    "contact": {
      "name": "Omnisend",
      "url": "https://www.omnisend.com"
    },
    "x-jentic-source-url": "https://api-docs.omnisend.com/"
  },
  "servers": [
    {
      "url": "https://api.omnisend.com/v5",
      "description": "Omnisend API v5"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Contacts",
      "description": "Manage contact records"
    },
    {
      "name": "Events",
      "description": "Track custom events for contacts"
    },
    {
      "name": "Campaigns",
      "description": "Manage email campaigns"
    },
    {
      "name": "Products",
      "description": "Manage product catalog"
    },
    {
      "name": "Orders",
      "description": "Manage order data"
    },
    {
      "name": "Carts",
      "description": "Manage shopping cart data"
    }
  ],
  "paths": {
    "/contacts": {
      "get": {
        "operationId": "listContacts",
        "summary": "List contacts",
        "description": "Retrieve a list of contacts. Requires contacts.read scope.",
        "tags": ["Contacts"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of contacts to return."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Offset for pagination."
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by email address."
          }
        ],
        "responses": {
          "200": {
            "description": "List of contacts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createOrUpdateContact",
        "summary": "Create or update a contact",
        "description": "Creates a new contact or updates an existing contact. Requires contacts.write scope.",
        "tags": ["Contacts"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact created or updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/contacts/{contactID}": {
      "get": {
        "operationId": "getContact",
        "summary": "Get a contact",
        "description": "Retrieve a single contact by ID.",
        "tags": ["Contacts"],
        "parameters": [
          {
            "name": "contactID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The contact ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Contact details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "updateContact",
        "summary": "Update a contact",
        "description": "Update an existing contact.",
        "tags": ["Contacts"],
        "parameters": [
          {
            "name": "contactID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The contact ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/events": {
      "post": {
        "operationId": "trackEvent",
        "summary": "Track a custom event",
        "description": "Track a custom event for a contact.",
        "tags": ["Events"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event tracked successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/campaigns": {
      "get": {
        "operationId": "listCampaigns",
        "summary": "List campaigns",
        "description": "Retrieve a list of campaigns.",
        "tags": ["Campaigns"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of campaigns",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/campaigns/{campaignID}": {
      "get": {
        "operationId": "getCampaign",
        "summary": "Get a campaign",
        "description": "Retrieve a single campaign by ID.",
        "tags": ["Campaigns"],
        "parameters": [
          {
            "name": "campaignID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/products": {
      "get": {
        "operationId": "listProducts",
        "summary": "List products",
        "description": "Retrieve a list of products from the catalog.",
        "tags": ["Products"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of products",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createProduct",
        "summary": "Create a product",
        "description": "Create a new product in the catalog.",
        "tags": ["Products"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/orders": {
      "get": {
        "operationId": "listOrders",
        "summary": "List orders",
        "description": "Retrieve a list of orders.",
        "tags": ["Orders"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of orders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createOrder",
        "summary": "Create an order",
        "description": "Create a new order.",
        "tags": ["Orders"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/carts": {
      "post": {
        "operationId": "createCart",
        "summary": "Create or update a cart",
        "description": "Create a new cart or update an existing one.",
        "tags": ["Carts"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CartRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cart created or updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key from your Omnisend account. Pass as a Bearer token in the Authorization header."
      }
    },
    "schemas": {
      "Contact": {
        "type": "object",
        "properties": {
          "contactID": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["subscribed", "unsubscribed", "nonSubscribed"]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ContactCreateRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["subscribed", "unsubscribed", "nonSubscribed"]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "customProperties": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "ContactUpdateRequest": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "customProperties": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "ContactListResponse": {
        "type": "object",
        "properties": {
          "contacts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          }
        }
      },
      "EventRequest": {
        "type": "object",
        "required": ["email", "eventName"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "eventName": {
            "type": "string"
          },
          "fields": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "campaignID": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CampaignListResponse": {
        "type": "object",
        "properties": {
          "campaigns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Campaign"
            }
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "productID": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "productUrl": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "ProductRequest": {
        "type": "object",
        "required": ["productID", "title", "status", "currency", "productUrl"],
        "properties": {
          "productID": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["inStock", "outOfStock", "notAvailable"]
          },
          "currency": {
            "type": "string"
          },
          "productUrl": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "ProductListResponse": {
        "type": "object",
        "properties": {
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "orderID": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "orderNumber": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "orderSum": {
            "type": "integer"
          }
        }
      },
      "OrderRequest": {
        "type": "object",
        "required": ["orderID", "email", "currency", "orderSum"],
        "properties": {
          "orderID": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "currency": {
            "type": "string"
          },
          "orderSum": {
            "type": "integer",
            "description": "Order total in cents."
          }
        }
      },
      "OrderListResponse": {
        "type": "object",
        "properties": {
          "orders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Order"
            }
          }
        }
      },
      "CartRequest": {
        "type": "object",
        "required": ["cartID"],
        "properties": {
          "cartID": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "currency": {
            "type": "string"
          },
          "cartSum": {
            "type": "integer"
          },
          "cartRecoveryUrl": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - invalid or missing parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  }
}
