{
  "openapi": "3.0.3",
  "info": {
    "title": "Complete Criminal Checks API",
    "description": "Complete Criminal Checks provides an API for searching criminal records across multiple data sources including arrests, sex offenders, inmates, and most wanted lists. Uses a credit-based system where 1 credit equals 1 search.",
    "version": "1.0.0",
    "contact": {
      "name": "Complete Criminal Checks",
      "url": "https://completecriminalchecks.com"
    },
    "x-jentic-source-url": "https://completecriminalchecks.com/Developers"
  },
  "servers": [
    {
      "url": "https://completecriminalchecks.com/api",
      "description": "Complete Criminal Checks API production server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    { "name": "Search", "description": "Criminal records search operations" }
  ],
  "paths": {
    "/search.php": {
      "get": {
        "operationId": "searchCriminalRecords",
        "summary": "Search criminal records",
        "description": "Search for criminal records by name across specified data sources. Each search uses 1 credit from your account balance.",
        "tags": ["Search"],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "description": "Person's name to search for",
            "schema": { "type": "string" }
          },
          {
            "name": "feeds",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of data sources to search. Available: arrest, sex_offender, inmate, most_wanted",
            "schema": { "type": "string", "example": "arrest,sex_offender,inmate,most_wanted" }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/InsufficientCredits" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key provided upon registration. HTTPS required for all requests."
      }
    },
    "schemas": {
      "SearchResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the search was successful"
          },
          "credits_used": {
            "type": "integer",
            "description": "Number of credits consumed by this search"
          },
          "remaining_credits": {
            "type": "integer",
            "description": "Remaining credits on the account"
          },
          "results": {
            "type": "object",
            "properties": {
              "arrest": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/ArrestRecord" },
                "description": "Arrest records matching the search"
              },
              "sex_offender": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/SexOffenderRecord" },
                "description": "Sex offender registry matches"
              },
              "inmate": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/InmateRecord" },
                "description": "Inmate records matching the search"
              },
              "most_wanted": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/MostWantedRecord" },
                "description": "Most wanted list matches"
              }
            }
          }
        }
      },
      "ArrestRecord": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "description": "Full name of the individual" },
          "date": { "type": "string", "description": "Date of arrest" },
          "charges": { "type": "string", "description": "Charges filed" },
          "location": { "type": "string", "description": "Location of arrest" },
          "state": { "type": "string", "description": "State of arrest" },
          "booking_id": { "type": "string", "description": "Booking identifier" },
          "age": { "type": "integer", "description": "Age at time of arrest" },
          "gender": { "type": "string" },
          "race": { "type": "string" }
        }
      },
      "SexOffenderRecord": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "address": { "type": "string" },
          "city": { "type": "string" },
          "state": { "type": "string" },
          "zip": { "type": "string" },
          "offense": { "type": "string" },
          "risk_level": { "type": "string" },
          "registration_date": { "type": "string" },
          "age": { "type": "integer" },
          "gender": { "type": "string" },
          "race": { "type": "string" }
        }
      },
      "InmateRecord": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "facility": { "type": "string", "description": "Correctional facility name" },
          "state": { "type": "string" },
          "inmate_id": { "type": "string" },
          "admission_date": { "type": "string" },
          "release_date": { "type": "string", "nullable": true },
          "offense": { "type": "string" },
          "status": { "type": "string" },
          "age": { "type": "integer" },
          "gender": { "type": "string" },
          "race": { "type": "string" }
        }
      },
      "MostWantedRecord": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "agency": { "type": "string", "description": "Law enforcement agency" },
          "description": { "type": "string" },
          "charges": { "type": "string" },
          "reward": { "type": "string", "nullable": true },
          "last_known_location": { "type": "string" },
          "age": { "type": "integer" },
          "gender": { "type": "string" },
          "race": { "type": "string" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": false },
          "error": { "type": "string", "description": "Error message" }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - missing or invalid parameters",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid or missing API key",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "InsufficientCredits": {
        "description": "Insufficient credits to perform search",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      }
    }
  }
}
