{
  "openapi": "3.0.3",
  "info": {
    "title": "JVZoo API",
    "version": "2.0.0",
    "description": "JVZoo affiliate marketplace API for managing transactions, recurring payments, and affiliate relationships.",
    "x-jentic-source-url": "https://api.jvzoo.com/docs/versions/v2.0.html",
    "contact": {
      "name": "JVZoo API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.jvzoo.com/v2.0"
    }
  ],
  "paths": {
    "/products/{product_id}/affiliates/{affiliate_id}": {
      "get": {
        "operationId": "getAffiliateStatus",
        "summary": "Get affiliate status",
        "tags": [
          "Affiliates"
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "affiliate_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get affiliate status"
      }
    },
    "/recurring_payment/{preKey}": {
      "get": {
        "operationId": "getRecurringPaymentStatus",
        "summary": "Get recurring payment status",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "preKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get recurring payment status"
      },
      "put": {
        "operationId": "cancelRecurringPayment",
        "summary": "Cancel recurring payment",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "preKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Cancel recurring payment"
      }
    },
    "/transactions/summaries/{paykey}": {
      "get": {
        "operationId": "getTransactionSummary",
        "summary": "Get transaction summary",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "paykey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get transaction summary"
      }
    },
    "/latest-affiliates-transactions/{paykey}": {
      "get": {
        "operationId": "getLatestAffiliateTransactions",
        "summary": "Get latest affiliate transactions",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "paykey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get latest affiliate transactions"
      }
    },
    "/latest-transactions/{paykey}": {
      "get": {
        "operationId": "getLatestTransactions",
        "summary": "Get latest transactions",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "paykey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get latest transactions"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic Auth with API Key as username, 'x' as password"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Affiliates"
    },
    {
      "name": "Payments"
    },
    {
      "name": "Transactions"
    }
  ]
}
