{
  "openapi": "3.1.1",
  "info": {
    "title": "AgentsetAPI",
    "description": "Agentset is agentic rag-as-a-service",
    "version": "0.0.1",
    "contact": {
      "name": "Agentset Support",
      "email": "support@agentset.ai",
      "url": "https://api.agentset.ai/"
    },
    "license": {
      "name": "MIT License",
      "url": "https://github.com/agentset-ai/agentset/blob/main/LICENSE.md"
    }
  },
  "servers": [
    {
      "url": "https://api.agentset.ai",
      "description": "Production API"
    }
  ],
  "x-speakeasy-globals": {
    "parameters": [
      {
        "$ref": "#/components/parameters/NamespaceIdRef"
      },
      {
        "$ref": "#/components/parameters/TenantIdRef"
      }
    ]
  },
  "paths": {
    "/v1/namespace": {
      "get": {
        "operationId": "listNamespaces",
        "x-speakeasy-name-override": "list",
        "summary": "Retrieve a list of namespaces",
        "description": "Retrieve a list of namespaces for the authenticated organization.",
        "tags": [
          "Namespaces"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "source": "\nimport { Agentset } from \"agentset\";\n\nconst agentset = new Agentset({ apiKey: 'agentset_xxx' });\n\nconst namespaces = await agentset.namespaces.list();\nconsole.log(namespaces);\n"
          }
        ],
        "responses": {
          "200": {
            "description": "The retrieved namespaces",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/namespace"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "410": {
            "$ref": "#/components/responses/410"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "operationId": "createNamespace",
        "x-speakeasy-name-override": "create",
        "x-speakeasy-usage-example": true,
        "summary": "Create a namespace.",
        "description": "Create a namespace for the authenticated organization.",
        "tags": [
          "Namespaces"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "source": "\nimport { Agentset } from \"agentset\";\n\nconst agentset = new Agentset({ apiKey: 'agentset_xxx' });\n\nconst namespace = await agentset.namespaces.create({\n  name: \"My Knowledge Base\",\n  slug: \"my-knowledge-base\",\n  // embeddingConfig: {...},\n  // vectorStoreConfig: {...},\n});\nconsole.log(namespace);\n"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64
                  },
                  "slug": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 48
                  },
                  "embeddingConfig": {
                    "default": {
                      "provider": "MANAGED_OPENAI",
                      "model": "text-embedding-3-large"
                    },
                    "$ref": "#/components/schemas/embedding-model-config"
                  },
                  "vectorStoreConfig": {
                    "default": {
                      "provider": "MANAGED_TURBOPUFFER"
                    },
                    "$ref": "#/components/schemas/create-vector-store-config"
                  }
                },
                "required": [
                  "name",
                  "slug"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created namespace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/namespace"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "410": {
            "$ref": "#/components/responses/410"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/v1/namespace/{namespaceId}": {
      "get": {
        "operationId": "getNamespace",
        "x-speakeasy-name-override": "get",
        "summary": "Retrieve a namespace",
        "description": "Retrieve the info for a namespace.",
        "tags": [
          "Namespaces"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "source": "\nimport { Agentset } from \"agentset\";\n\nconst agentset = new Agentset({ apiKey: 'agentset_xxx' });\n\nconst namespace = await agentset.namespaces.get(\"ns_xxx\");\nconsole.log(namespace);\n"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NamespaceIdRef"
          }
        ],
        "responses": {
          "200": {
            "description": "The retrieved namespace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/namespace"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "410": {
            "$ref": "#/components/responses/410"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "patch": {
        "operationId": "updateNamespace",
        "x-speakeasy-name-override": "update",
        "x-speakeasy-max-method-params": 2,
        "summary": "Update a namespace.",
        "description": "Update a namespace for the authenticated organization. If there is no change, return it as it is.",
        "tags": [
          "Namespaces"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "source": "\nimport { Agentset } from \"agentset\";\n\nconst agentset = new Agentset({ apiKey: 'agentset_xxx' });\n\nconst updatedNamespace = await agentset.namespaces.update(\"ns_xxx\", {\n  name: \"Updated Knowledge Base\",\n});\nconsole.log(updatedNamespace);\n"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NamespaceIdRef"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64
                  },
                  "slug": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 48
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated namespace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/namespace"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "410": {
            "$ref": "#/components/responses/410"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "operationId": "deleteNamespace",
        "x-speakeasy-name-override": "delete",
        "x-speakeasy-max-method-params": 1,
        "summary": "Delete a namespace.",
        "description": "Delete a namespace for the authenticated organization. This will delete all the data associated with the namespace.",
        "tags": [
          "Namespaces"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "source": "\nimport { Agentset } from \"agentset\";\n\nconst agentset = new Agentset({ apiKey: 'agentset_xxx' });\n\nawait agentset.namespaces.delete(\"ns_xxx\");\nconsole.log(\"Namespace queued for deletion\");\n"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NamespaceIdRef"
          }
        ],
        "responses": {
          "204": {
            "description": "The deleted namespace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/namespace"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "410": {
            "$ref": "#/components/responses/410"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/v1/namespace/{namespaceId}/ingest-jobs": {
      "get": {
        "operationId": "listIngestJobs",
        "x-speakeasy-name-override": "list",
        "x-speakeasy-group": "ingestJobs",
        "x-speakeasy-pagination": {
          "type": "cursor",
          "inputs": [
            {
              "name": "cursor",
              "in": "parameters",
              "type": "cursor"
            }
          ],
          "outputs": {
            "nextCursor": "$.pagination.nextCursor"
          }
        },
        "summary": "Retrieve a list of ingest jobs",
        "description": "Retrieve a paginated list of ingest jobs for the authenticated organization.",
        "tags": [
          "Ingest Jobs"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "source": "\nimport { Agentset } from \"agentset\";\n\nconst agentset = new Agentset({ apiKey: 'agentset_xxx' });\nconst ns = agentset.namespace('ns_xxx');\n\nconst jobs = await ns.ingestion.all();\nconsole.log(jobs);\n"
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "statuses",
            "schema": {
              "description": "Comma separated list of statuses to filter by.",
              "style": "form",
              "explode": false,
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ingest-job-status"
              }
            }
          },
          {
            "in": "query",
            "name": "orderBy",
            "schema": {
              "default": "createdAt",
              "type": "string",
              "enum": [
                "createdAt"
              ],
              "description": "The field to order by. Default is `createdAt`."
            }
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "default": "desc",
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "description": "The sort order. Default is `desc`."
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "$ref": "#/components/schemas/pagination-cursor"
            }
          },
          {
            "in": "query",
            "name": "cursorDirection",
            "schema": {
              "default": "forward",
              "$ref": "#/components/schemas/pagination-cursor-direction"
            }
          },
          {
            "in": "query",
            "name": "perPage",
            "schema": {
              "default": 30,
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "description": "The number of records to return per page.",
              "$ref": "#/components/schemas/pagination-per-page"
            }
          },
          {
            "$ref": "#/components/parameters/NamespaceIdRef"
          },
          {
            "$ref": "#/components/parameters/TenantIdRef"
          }
        ],
        "responses": {
          "200": {
            "description": "The retrieved ingest jobs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ingest-job"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "nextCursor": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "prevCursor": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "hasMore": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "nextCursor",
                        "prevCursor",
                        "hasMore"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "pagination"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "410": {
            "$ref": "#/components/responses/410"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "operationId": "createIngestJob",
        "x-speakeasy-name-override": "create",
        "x-speakeasy-group": "ingestJobs",
        "summary": "Create an ingest job",
        "description": "Create an ingest job for the authenticated organization. You can control how documents are parsed and chunked using the optional `config` object (for example, chunk size, overlap, language, and advanced OCR/LLM options).",
        "tags": [
          "Ingest Jobs"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "source": "\nimport { Agentset } from \"agentset\";\n\nconst agentset = new Agentset({ apiKey: 'agentset_xxx' });\nconst ns = agentset.namespace('ns_xxx');\n\nconst job = await ns.ingestion.create({\n  payload: {\n    type: \"TEXT\",\n    text: \"This is some content to ingest into the knowledge base.\",\n  },\n  config: {\n    metadata: {\n      foo: \"bar\",\n    },\n    chunkSize: 2048,\n  },\n});\nconsole.log(job);\n"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NamespaceIdRef"
          },
          {
            "$ref": "#/components/parameters/TenantIdRef"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "The name of the ingest job.",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "payload": {
                    "$ref": "#/components/schemas/ingest-job-payload-input"
                  },
                  "config": {
                    "$ref": "#/components/schemas/ingest-job-config"
                  },
                  "externalId": {
                    "default": null,
                    "description": "A unique external ID of the ingest job. You can use this to identify the ingest job in your system.",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "payload"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created ingest job",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/ingest-job"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "410": {
            "$ref": "#/components/responses/410"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/v1/namespace/{namespaceId}/ingest-jobs/{jobId}": {
      "get": {
        "operationId": "getIngestJobInfo",
        "x-speakeasy-name-override": "get",
        "x-speakeasy-group": "ingestJobs",
        "summary": "Retrieve an ingest job",
        "description": "Retrieve the info for an ingest job.",
        "tags": [
          "Ingest Jobs"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "source": "\nimport { Agentset } from \"agentset\";\n\nconst agentset = new Agentset({ apiKey: 'agentset_xxx' });\nconst ns = agentset.namespace('ns_xxx');\n\nconst job = await ns.ingestion.get(\"job_123\");\nconsole.log(job);\n"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NamespaceIdRef"
          },
          {
            "$ref": "#/components/parameters/JobIdRef"
          },
          {
            "$ref": "#/components/parameters/TenantIdRef"
          }
        ],
        "responses": {
          "200": {
            "description": "The retrieved ingest job",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/ingest-job"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "410": {
            "$ref": "#/components/responses/410"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "operationId": "deleteIngestJob",
        "x-speakeasy-name-override": "delete",
        "x-speakeasy-group": "ingestJobs",
        "x-speakeasy-max-method-params": 1,
        "summary": "Delete an ingest job",
        "description": "Delete an ingest job for the authenticated organization.",
        "tags": [
          "Ingest Jobs"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "source": "\nimport { Agentset } from \"agentset\";\n\nconst agentset = new Agentset({ apiKey: 'agentset_xxx' });\nconst ns = agentset.namespace('ns_xxx');\n\nawait ns.ingestion.delete(\"job_123\");\nconsole.log(\"Ingest job queued for deletion\");\n"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NamespaceIdRef"
          },
          {
            "$ref": "#/components/parameters/JobIdRef"
          },
          {
            "$ref": "#/components/parameters/TenantIdRef"
          }
        ],
        "responses": {
          "204": {
            "description": "The deleted ingest job",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/ingest-job"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "410": {
            "$ref": "#/components/responses/410"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/v1/namespace/{namespaceId}/ingest-jobs/{jobId}/re-ingest": {
      "post": {
        "operationId": "reIngestJob",
        "x-speakeasy-name-override": "reIngest",
        "x-speakeasy-group": "ingestJobs",
        "x-speakeasy-max-method-params": 1,
        "summary": "Re-ingest a job",
        "description": "Re-ingest a job for the authenticated organization.",
        "tags": [
          "Ingest Jobs"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "source": "\nimport { Agentset } from \"agentset\";\n\nconst agentset = new Agentset({ apiKey: 'agentset_xxx' });\nconst ns = agentset.namespace('ns_xxx');\n\nconst result = await ns.ingestion.reIngest(\"job_123\");\nconsole.log(\"Job queued for re-ingestion: \", result);\n"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NamespaceIdRef"
          },
          {
            "$ref": "#/components/parameters/JobIdRef"
          },
          {
            "$ref": "#/components/parameters/TenantIdRef"
          }
        ],
        "responses": {
          "200": {
            "description": "The re-ingested job",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The unique ID of the ingest job."
                        }
                      },
                      "required": [
                        "id"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "410": {
            "$ref": "#/components/responses/410"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/v1/namespace/{namespaceId}/documents": {
      "get": {
        "operationId": "listDocuments",
        "x-speakeasy-name-override": "list",
        "x-speakeasy-pagination": {
          "type": "cursor",
          "inputs": [
            {
              "name": "cursor",
              "in": "parameters",
              "type": "cursor"
            }
          ],
          "outputs": {
            "nextCursor": "$.pagination.nextCursor"
          }
        },
        "summary": "Retrieve a list of documents",
        "description": "Retrieve a paginated list of documents for the authenticated organization.",
        "tags": [
          "Documents"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "source": "\nimport { Agentset } from \"agentset\";\n\nconst agentset = new Agentset({ apiKey: 'agentset_xxx' });\nconst ns = agentset.namespace('ns_xxx');\n\nconst docs = await ns.documents.all();\nconsole.log(docs);\n"
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "statuses",
            "schema": {
              "description": "Comma separated list of statuses to filter by.",
              "style": "form",
              "explode": false,
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/document-status"
              }
            }
          },
          {
            "in": "query",
            "name": "orderBy",
            "schema": {
              "default": "createdAt",
              "type": "string",
              "enum": [
                "createdAt"
              ],
              "description": "The field to order by. Default is `createdAt`."
            }
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "default": "desc",
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "description": "The order to sort by. Default is `desc`."
            }
          },
          {
            "in": "query",
            "name": "ingestJobId",
            "schema": {
              "type": "string",
              "description": "The ingest job ID to filter documents by."
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "$ref": "#/components/schemas/pagination-cursor"
            }
          },
          {
            "in": "query",
            "name": "cursorDirection",
            "schema": {
              "default": "forward",
              "$ref": "#/components/schemas/pagination-cursor-direction"
            }
          },
          {
            "in": "query",
            "name": "perPage",
            "schema": {
              "default": 30,
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "description": "The number of records to return per page.",
              "$ref": "#/components/schemas/pagination-per-page"
            }
          },
          {
            "$ref": "#/components/parameters/NamespaceIdRef"
          },
          {
            "$ref": "#/components/parameters/TenantIdRef"
          }
        ],
        "responses": {
          "200": {
            "description": "The retrieved ingest jobs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/document"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "nextCursor": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "prevCursor": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "hasMore": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "nextCursor",
                        "prevCursor",
                        "hasMore"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "pagination"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "410": {
            "$ref": "#/components/responses/410"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/v1/namespace/{namespaceId}/documents/{documentId}": {
      "get": {
        "operationId": "getDocument",
        "x-speakeasy-name-override": "get",
        "summary": "Retrieve a document",
        "description": "Retrieve the info for a document.",
        "tags": [
          "Documents"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "source": "\nimport { Agentset } from \"agentset\";\n\nconst agentset = new Agentset({ apiKey: 'agentset_xxx' });\nconst ns = agentset.namespace('ns_xxx');\n\nconst document = await ns.documents.get(\"doc_123\");\nconsole.log(document);\n"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NamespaceIdRef"
          },
          {
            "$ref": "#/components/parameters/DocumentIdRef"
          },
          {
            "$ref": "#/components/parameters/TenantIdRef"
          }
        ],
        "responses": {
          "200": {
            "description": "The retrieved ingest job",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/document"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "410": {
            "$ref": "#/components/responses/410"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "operationId": "deleteDocument",
        "x-speakeasy-name-override": "delete",
        "x-speakeasy-max-method-params": 1,
        "summary": "Delete a document",
        "description": "Delete a document for the authenticated organization.",
        "tags": [
          "Documents"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "source": "\nimport { Agentset } from \"agentset\";\n\nconst agentset = new Agentset({ apiKey: 'agentset_xxx' });\nconst ns = agentset.namespace('ns_xxx');\n\nawait ns.documents.delete(\"doc_123\");\nconsole.log(\"Document queued for deletion\");\n"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NamespaceIdRef"
          },
          {
            "$ref": "#/components/parameters/DocumentIdRef"
          },
          {
            "$ref": "#/components/parameters/TenantIdRef"
          }
        ],
        "responses": {
          "204": {
            "description": "The deleted document",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/document"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "410": {
            "$ref": "#/components/responses/410"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/v1/namespace/{namespaceId}/documents/{documentId}/chunks-download-url": {
      "post": {
        "operationId": "getChunksDownloadUrl",
        "x-speakeasy-name-override": "getChunksDownloadUrl",
        "summary": "Get chunks download URL",
        "description": "Get a presigned download URL for a document's chunks. Only available for completed documents.",
        "tags": [
          "Documents"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "source": "\nimport { Agentset } from \"agentset\";\n\nconst agentset = new Agentset({ apiKey: 'agentset_xxx' });\nconst ns = agentset.namespace('ns_xxx');\n\nconst { url } = await ns.documents.getChunksDownloadUrl(\"doc_123\");\nconst data = await (await fetch(url)).json();\nconsole.log(data);\n"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NamespaceIdRef"
          },
          {
            "$ref": "#/components/parameters/DocumentIdRef"
          }
        ],
        "responses": {
          "200": {
            "description": "The presigned download URL for the chunks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "url"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "410": {
            "$ref": "#/components/responses/410"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/v1/namespace/{namespaceId}/documents/{documentId}/file-download-url": {
      "post": {
        "operationId": "getFileDownloadUrl",
        "x-speakeasy-name-override": "getFileDownloadUrl",
        "summary": "Get file download URL",
        "description": "Get a presigned download URL for a document's source file. Only available for documents with source type MANAGED_FILE.",
        "tags": [
          "Documents"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "source": "\nimport { Agentset } from \"agentset\";\nimport fs from 'fs';\n\nconst agentset = new Agentset({ apiKey: 'agentset_xxx' });\nconst ns = agentset.namespace('ns_xxx');\n\nconst { url } = await ns.documents.getFileDownloadUrl(\"doc_123\");\nconst file = await fetch(url);\nfs.writeFileSync(\"file.pdf\", Buffer.from(await file.arrayBuffer()));\n"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NamespaceIdRef"
          },
          {
            "$ref": "#/components/parameters/DocumentIdRef"
          }
        ],
        "responses": {
          "200": {
            "description": "The presigned download URL for the file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "url"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "410": {
            "$ref": "#/components/responses/410"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/v1/namespace/{namespaceId}/search": {
      "post": {
        "operationId": "search",
        "x-speakeasy-name-override": "execute",
        "x-speakeasy-group": "search",
        "summary": "Search a namespace",
        "description": "Search a namespace for a query.",
        "tags": [
          "Search"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "source": "\nimport { Agentset } from \"agentset\";\n\nconst agentset = new Agentset({ apiKey: 'agentset_xxx' });\nconst ns = agentset.namespace('ns_xxx');\n\nconst results = await ns.search(\"What is machine learning?\", {\n  topK: 20,\n  rerank: true,\n  rerankLimit: 10,\n});\nconsole.log(results);\n"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NamespaceIdRef"
          },
          {
            "$ref": "#/components/parameters/TenantIdRef"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "The query to search for."
                  },
                  "topK": {
                    "default": 10,
                    "description": "The number of results to fetch from the vector store. Defaults to `10`.",
                    "type": "number",
                    "minimum": 1,
                    "maximum": 100
                  },
                  "rerank": {
                    "default": true,
                    "description": "Whether to rerank the results. Defaults to `true`.",
                    "type": "boolean"
                  },
                  "rerankLimit": {
                    "description": "The number of results to return after reranking. Defaults to `topK`.",
                    "type": "number",
                    "minimum": 1,
                    "maximum": 100
                  },
                  "rerankModel": {
                    "default": "cohere:rerank-v4.0-pro",
                    "description": "The reranking model to use.",
                    "type": "string",
                    "enum": [
                      "cohere:rerank-v4.0-pro",
                      "cohere:rerank-v4.0-fast",
                      "cohere:rerank-v3.5",
                      "cohere:rerank-english-v3.0",
                      "cohere:rerank-multilingual-v3.0",
                      "zeroentropy:zerank-2",
                      "zeroentropy:zerank-1",
                      "zeroentropy:zerank-1-small"
                    ]
                  },
                  "filter": {
                    "description": "A filter to apply to the results.",
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {}
                  },
                  "minScore": {
                    "description": "The minimum score to return.",
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1
                  },
                  "includeRelationships": {
                    "default": false,
                    "description": "Whether to include relationships in the results. Defaults to `false`.",
                    "type": "boolean"
                  },
                  "includeMetadata": {
                    "default": true,
                    "description": "Whether to include metadata in the results. Defaults to `true`.",
                    "type": "boolean"
                  },
                  "keywordFilter": {
                    "type": "string"
                  },
                  "mode": {
                    "default": "semantic",
                    "type": "string",
                    "enum": [
                      "semantic",
                      "keyword"
                    ]
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The retrieved namespace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "score": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 1
                          },
                          "text": {
                            "type": "string"
                          },
                          "relationships": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {}
                          },
                          "metadata": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {}
                          }
                        },
                        "required": [
                          "id",
                          "score"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "410": {
            "$ref": "#/components/responses/410"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/v1/namespace/{namespaceId}/uploads": {
      "post": {
        "operationId": "createUpload",
        "x-speakeasy-name-override": "create",
        "summary": "Create presigned URL for file upload",
        "description": "Generate a presigned URL for uploading a single file to the specified namespace. Files are limited to 5 MB on the Free plan and 200 MB on paid plans.",
        "tags": [
          "Uploads"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "source": "\nimport { Agentset } from \"agentset\";\nimport fs from 'fs';\n\nconst agentset = new Agentset({ apiKey: 'agentset_xxx' });\nconst ns = agentset.namespace('ns_xxx');\n\nconst result = await ns.uploads.upload({\n  file: fs.createReadStream(\"./example.md\"),\n  contentType: \"text/markdown\",\n});\nconsole.log(\"Uploaded successfully: \", result.key);\n\n// OR get the pre-signed URL manually\nconst file = fs.readFileSync(\"./example.md\");\nconst result = await ns.uploads.create({\n  fileName: \"example.md\",\n  fileSize: file.length,\n  contentType: \"text/markdown\",\n});\n\nawait fetch(result.url, {\n  method: \"PUT\",\n  body: file,\n  headers: {\n    \"Content-Type\": \"text/markdown\",\n  },\n});\nconsole.log(\"Uploaded successfully: \", result.key);\n"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NamespaceIdRef"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/upload-file-schema"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Presigned URL generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/upload-result-schema"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "410": {
            "$ref": "#/components/responses/410"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/v1/namespace/{namespaceId}/uploads/batch": {
      "post": {
        "operationId": "createBatchUpload",
        "x-speakeasy-name-override": "createBatch",
        "summary": "Create presigned URLs for batch file upload",
        "description": "Generate presigned URLs for uploading multiple files to the specified namespace. Files are limited to 5 MB on the Free plan and 200 MB on paid plans.",
        "tags": [
          "Uploads"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "source": "\nimport { Agentset } from \"agentset\";\nimport fs from 'fs';\n\nconst agentset = new Agentset({ apiKey: 'agentset_xxx' });\nconst ns = agentset.namespace('ns_xxx');\n\nconst results = await ns.uploads.uploadBatch([\n  {\n    file: fs.createReadStream(\"./example-1.md\"),\n    contentType: \"text/markdown\",\n  },\n  {\n    file: fs.createReadStream(\"./example-2.md\"),\n    contentType: \"text/markdown\",\n  },\n]);\nconsole.log(\"Uploaded successfully: \", results.map((result) => result.key));\n\n// OR get the pre-signed URLs manually\nconst file1 = fs.readFileSync(\"./example-1.md\");\nconst file2 = fs.readFileSync(\"./example-2.md\");\n\nconst results = await ns.uploads.createBatch({\n  files: [\n    {\n      fileName: \"example-1.md\",\n      fileSize: file1.length,\n      contentType: \"text/markdown\",\n    },\n    {\n      fileName: \"example-2.md\",\n      fileSize: file2.length,\n      contentType: \"text/markdown\",\n    },\n  ],\n});\n\nawait Promise.all([file1, file2].map(async (file, i) => {\n  await fetch(results[i]!.url, {\n    method: \"PUT\",\n    body: file,\n    headers: {\n      \"Content-Type\": \"text/markdown\",\n    },\n  });\n}));\n\nconsole.log(\"Upload URLs:\", results.map((result) => result.key));\n"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NamespaceIdRef"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "files": {
                    "minItems": 1,
                    "maxItems": 100,
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/upload-file-schema"
                    }
                  }
                },
                "required": [
                  "files"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Presigned URLs generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/upload-result-schema"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "410": {
            "$ref": "#/components/responses/410"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/v1/namespace/{namespaceId}/hosting": {
      "get": {
        "operationId": "getHosting",
        "x-speakeasy-name-override": "get",
        "summary": "Retrieve hosting configuration",
        "description": "Retrieve the hosting configuration for a namespace.",
        "tags": [
          "Hosting"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "source": "\nimport { Agentset } from \"agentset\";\n\nconst agentset = new Agentset({ apiKey: 'agentset_xxx' });\nconst ns = agentset.namespace('ns_xxx');\n\nconst hosting = await ns.hosting.get();\nconsole.log(hosting);\n"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NamespaceIdRef"
          }
        ],
        "responses": {
          "200": {
            "description": "The hosting configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/hosting"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "410": {
            "$ref": "#/components/responses/410"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "operationId": "enableHosting",
        "x-speakeasy-name-override": "enable",
        "summary": "Enable hosting",
        "description": "Enable hosting for a namespace.",
        "tags": [
          "Hosting"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "source": "\nimport { Agentset } from \"agentset\";\n\nconst agentset = new Agentset({ apiKey: 'agentset_xxx' });\nconst ns = agentset.namespace('ns_xxx');\n\nconst hosting = await ns.hosting.enable();\nconsole.log(hosting);\n"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NamespaceIdRef"
          }
        ],
        "responses": {
          "201": {
            "description": "The created hosting configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/hosting"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "410": {
            "$ref": "#/components/responses/410"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "patch": {
        "operationId": "updateHosting",
        "x-speakeasy-name-override": "update",
        "x-speakeasy-max-method-params": 1,
        "summary": "Update hosting configuration",
        "description": "Update the hosting configuration for a namespace. If there is no change, return it as it is.",
        "tags": [
          "Hosting"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "source": "\nimport { Agentset } from \"agentset\";\n\nconst agentset = new Agentset({ apiKey: 'agentset_xxx' });\nconst ns = agentset.namespace('ns_xxx');\n\nconst updatedHosting = await ns.hosting.update({\n  title: \"My Knowledge Base\",\n  welcomeMessage: \"Welcome to my knowledge base!\",\n  searchEnabled: true,\n});\nconsole.log(updatedHosting);\n"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NamespaceIdRef"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "minLength": 1
                  },
                  "slug": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 48
                  },
                  "logo": {
                    "anyOf": [
                      {
                        "anyOf": [
                          {
                            "type": "string",
                            "pattern": "^data:image\\/(png|jpeg|jpg|gif|webp);base64,"
                          },
                          {
                            "type": "string",
                            "format": "uri"
                          }
                        ]
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "ogTitle": {
                    "type": "string",
                    "maxLength": 70
                  },
                  "ogDescription": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "ogImage": {
                    "anyOf": [
                      {
                        "anyOf": [
                          {
                            "type": "string",
                            "pattern": "^data:image\\/(png|jpeg|jpg|gif|webp);base64,"
                          },
                          {
                            "type": "string",
                            "format": "uri"
                          }
                        ]
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "protected": {
                    "type": "boolean"
                  },
                  "allowedEmails": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email",
                      "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                    }
                  },
                  "allowedEmailDomains": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "systemPrompt": {
                    "description": "Custom instructions for the chat. Agentset always appends its retrieval and citation rules, so inline citations keep working. Send null or an empty string to reset to Agentset's default prompt.",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "exampleQuestions": {
                    "maxItems": 4,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "exampleSearchQueries": {
                    "maxItems": 4,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "welcomeMessage": {
                    "type": "string"
                  },
                  "citationMetadataPath": {
                    "type": "string"
                  },
                  "searchEnabled": {
                    "type": "boolean"
                  },
                  "rerankModel": {
                    "type": "string",
                    "enum": [
                      "cohere:rerank-v4.0-pro",
                      "cohere:rerank-v4.0-fast",
                      "cohere:rerank-v3.5",
                      "cohere:rerank-english-v3.0",
                      "cohere:rerank-multilingual-v3.0",
                      "zeroentropy:zerank-2",
                      "zeroentropy:zerank-1",
                      "zeroentropy:zerank-1-small"
                    ]
                  },
                  "llmModel": {
                    "type": "string",
                    "enum": [
                      "openai:gpt-4.1",
                      "openai:gpt-5.5",
                      "openai:gpt-5.2",
                      "openai:gpt-5.1",
                      "openai:gpt-5",
                      "openai:gpt-5-mini",
                      "openai:gpt-5-nano"
                    ]
                  },
                  "topK": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                  },
                  "rerankLimit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated hosting configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/hosting"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "410": {
            "$ref": "#/components/responses/410"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "operationId": "deleteHosting",
        "x-speakeasy-name-override": "delete",
        "summary": "Delete hosting configuration",
        "description": "Delete the hosting configuration for a namespace.",
        "tags": [
          "Hosting"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "source": "\nimport { Agentset } from \"agentset\";\n\nconst agentset = new Agentset({ apiKey: 'agentset_xxx' });\nconst ns = agentset.namespace('ns_xxx');\n\nawait ns.hosting.delete();\nconsole.log(\"Hosting deleted\");\n"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NamespaceIdRef"
          }
        ],
        "responses": {
          "204": {
            "description": "The deleted hosting configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/hosting"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "410": {
            "$ref": "#/components/responses/410"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/v1/namespace/{namespaceId}/warm-up": {
      "post": {
        "operationId": "warmUp",
        "x-speakeasy-name-override": "warmUp",
        "x-speakeasy-group": "namespace",
        "summary": "Warm cache for a namespace",
        "description": "Pre-loads the namespace into the vector store's cache for faster query performance. Not all vector stores support this operation. Currently only Turbopuffer supports this operation.",
        "tags": [
          "Namespaces"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "source": "\nimport { Agentset } from \"agentset\";\n\nconst agentset = new Agentset({ apiKey: 'agentset_xxx' });\nconst ns = agentset.namespace('ns_xxx');\n\nawait ns.warmUp();\nconsole.log(\"Cache warmed successfully\");\n"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NamespaceIdRef"
          },
          {
            "$ref": "#/components/parameters/TenantIdRef"
          }
        ],
        "responses": {
          "200": {
            "description": "Cache warming started",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "status"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "410": {
            "$ref": "#/components/responses/410"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "embedding-model-config": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/openai-embedding-config"
          },
          {
            "$ref": "#/components/schemas/azure-embedding-config"
          },
          {
            "$ref": "#/components/schemas/voyage-embedding-config"
          },
          {
            "$ref": "#/components/schemas/google-embedding-config"
          },
          {
            "type": "object",
            "properties": {
              "provider": {
                "type": "string",
                "const": "MANAGED_OPENAI"
              },
              "model": {
                "type": "string",
                "enum": [
                  "text-embedding-3-large"
                ]
              }
            },
            "required": [
              "provider",
              "model"
            ]
          }
        ],
        "description": "The embedding model config. If not provided, our managed embedding model will be used. Note: You can't change the embedding model config after the namespace is created.",
        "type": "object"
      },
      "openai-embedding-config": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "const": "OPENAI"
          },
          "model": {
            "$ref": "#/components/schemas/openai-embedding-model-enum"
          },
          "apiKey": {
            "type": "string"
          }
        },
        "required": [
          "provider",
          "model",
          "apiKey"
        ],
        "title": "OpenAI Embedding Config"
      },
      "openai-embedding-model-enum": {
        "type": "string",
        "enum": [
          "text-embedding-3-small",
          "text-embedding-3-large"
        ],
        "description": "The OpenAI embedding model enum."
      },
      "azure-embedding-config": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "const": "AZURE_OPENAI"
          },
          "model": {
            "$ref": "#/components/schemas/openai-embedding-model-enum"
          },
          "resourceName": {
            "type": "string",
            "format": "uri",
            "description": "The resource name of the Azure OpenAI API. https://{resourceName}.openai.azure.com/v1",
            "examples": [
              "my-resource-name"
            ]
          },
          "deployment": {
            "type": "string",
            "description": "The deployment name of the Azure OpenAI API."
          },
          "apiKey": {
            "type": "string",
            "description": "The API key for the Azure OpenAI API."
          },
          "apiVersion": {
            "default": "preview",
            "type": "string",
            "description": "The API version for the Azure OpenAI API. Defaults to `preview`."
          }
        },
        "required": [
          "provider",
          "model",
          "resourceName",
          "deployment",
          "apiKey"
        ],
        "title": "Azure Embedding Config"
      },
      "voyage-embedding-config": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "const": "VOYAGE"
          },
          "model": {
            "$ref": "#/components/schemas/voyage-embedding-model-enum"
          },
          "apiKey": {
            "type": "string"
          }
        },
        "required": [
          "provider",
          "model",
          "apiKey"
        ],
        "title": "Voyage Embedding Config"
      },
      "voyage-embedding-model-enum": {
        "type": "string",
        "enum": [
          "voyage-3-large",
          "voyage-3",
          "voyage-3-lite",
          "voyage-code-3",
          "voyage-finance-2",
          "voyage-law-2"
        ],
        "description": "The Voyage embedding model enum."
      },
      "google-embedding-config": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "const": "GOOGLE"
          },
          "model": {
            "$ref": "#/components/schemas/google-embedding-model-enum"
          },
          "apiKey": {
            "type": "string"
          }
        },
        "required": [
          "provider",
          "model",
          "apiKey"
        ],
        "title": "Google Embedding Config"
      },
      "google-embedding-model-enum": {
        "type": "string",
        "enum": [
          "text-embedding-004"
        ]
      },
      "create-vector-store-config": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "provider": {
                "type": "string",
                "const": "MANAGED_PINECONE"
              }
            },
            "required": [
              "provider"
            ]
          },
          {
            "type": "object",
            "properties": {
              "provider": {
                "type": "string",
                "const": "MANAGED_TURBOPUFFER"
              }
            },
            "required": [
              "provider"
            ]
          },
          {
            "$ref": "#/components/schemas/pinecone-config"
          },
          {
            "$ref": "#/components/schemas/turbopuffer-config"
          }
        ],
        "description": "The vector store config. If not provided, our MANAGED_PINECONE vector store will be used. Note: You can't change the vector store config after the namespace is created.",
        "type": "object"
      },
      "pinecone-config": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "const": "PINECONE"
          },
          "apiKey": {
            "type": "string",
            "description": "The API key for the Pinecone index."
          },
          "indexHost": {
            "type": "string",
            "format": "uri",
            "description": "The host of the Pinecone index.",
            "example": "https://example.svc.aped-1234-a56b.pinecone.io"
          }
        },
        "required": [
          "provider",
          "apiKey",
          "indexHost"
        ],
        "title": "Pinecone Config"
      },
      "turbopuffer-config": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "const": "TURBOPUFFER"
          },
          "apiKey": {
            "type": "string",
            "description": "The API key for the Turbopuffer index."
          },
          "region": {
            "$ref": "#/components/schemas/turbopuffer-region-enum"
          }
        },
        "required": [
          "provider",
          "apiKey",
          "region"
        ],
        "title": "Turbopuffer Config"
      },
      "turbopuffer-region-enum": {
        "type": "string",
        "enum": [
          "gcp-us-central1",
          "gcp-us-west1",
          "gcp-us-east4",
          "gcp-northamerica-northeast2",
          "gcp-europe-west3",
          "gcp-asia-southeast1",
          "gcp-gcp-asia-northeast3",
          "aws-eu-central-1",
          "aws-eu-west-1",
          "aws-us-east-1",
          "aws-us-west-2",
          "aws-ap-southeast-2",
          "aws-us-east-2",
          "aws-ap-south-1"
        ],
        "description": "The region for the Turbopuffer index. Check https://turbopuffer.com/docs/regions"
      },
      "ingest-job-status": {
        "type": "string",
        "enum": [
          "BACKLOG",
          "QUEUED",
          "QUEUED_FOR_RESYNC",
          "QUEUED_FOR_DELETE",
          "PRE_PROCESSING",
          "PROCESSING",
          "DELETING",
          "CANCELLING",
          "COMPLETED",
          "FAILED",
          "CANCELLED"
        ],
        "description": "The status of the ingest job."
      },
      "pagination-cursor": {
        "type": "string",
        "description": "The cursor to paginate by."
      },
      "pagination-cursor-direction": {
        "type": "string",
        "enum": [
          "forward",
          "backward"
        ],
        "description": "The direction to paginate by."
      },
      "pagination-per-page": {
        "type": "number",
        "description": "The number of records to return per page."
      },
      "ingest-job-payload-input": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/text-payload-input"
          },
          {
            "$ref": "#/components/schemas/file-payload"
          },
          {
            "$ref": "#/components/schemas/managed-file-payload"
          },
          {
            "$ref": "#/components/schemas/crawl-payload"
          },
          {
            "$ref": "#/components/schemas/youtube-payload"
          },
          {
            "$ref": "#/components/schemas/batch-payload-input"
          }
        ],
        "description": "The ingest job payload for creation.",
        "type": "object",
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "TEXT": "#/components/schemas/text-payload-input",
            "FILE": "#/components/schemas/file-payload",
            "MANAGED_FILE": "#/components/schemas/managed-file-payload",
            "CRAWL": "#/components/schemas/crawl-payload",
            "YOUTUBE": "#/components/schemas/youtube-payload",
            "BATCH": "#/components/schemas/batch-payload-input"
          }
        }
      },
      "text-payload-input": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "TEXT"
          },
          "fileName": {
            "anyOf": [
              {
                "type": "string",
                "description": "The name of the file."
              },
              {
                "type": "null"
              }
            ]
          },
          "text": {
            "type": "string",
            "minLength": 1,
            "description": "The text to ingest."
          }
        },
        "required": [
          "type",
          "text"
        ],
        "title": "Text Payload"
      },
      "file-payload": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "FILE"
          },
          "fileUrl": {
            "type": "string",
            "format": "uri",
            "description": "The URL of the file to ingest."
          },
          "fileName": {
            "anyOf": [
              {
                "type": "string",
                "description": "The name of the file."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "type",
          "fileUrl"
        ],
        "title": "URL Payload"
      },
      "managed-file-payload": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "MANAGED_FILE"
          },
          "key": {
            "type": "string",
            "description": "The key of the managed file to ingest."
          },
          "fileName": {
            "anyOf": [
              {
                "type": "string",
                "description": "The name of the file."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "type",
          "key"
        ],
        "title": "Managed File Payload"
      },
      "crawl-payload": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "CRAWL"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The starting URL to crawl."
          },
          "maxDepth": {
            "type": "integer",
            "minimum": 1,
            "maximum": 9007199254740991,
            "description": "Maximum depth to follow links from the starting URL. Depth 1 means only the initial page. Defaults to `5`."
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 9007199254740991,
            "description": "Maximum number of pages to crawl before stopping. Helps bound large sites. Defaults to `50`."
          },
          "includePaths": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only crawl URLs whose path matches at least one of these prefixes."
          },
          "excludePaths": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Never crawl URLs whose path matches these prefixes."
          },
          "headers": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "string"
            },
            "description": "Custom HTTP headers to send with crawl requests (for example, auth headers)."
          }
        },
        "required": [
          "type",
          "url"
        ],
        "title": "Crawl Payload"
      },
      "youtube-payload": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "YOUTUBE"
          },
          "urls": {
            "minItems": 1,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "The URLs of videos, channels, or playlists (hostname must be www.youtube.com or youtu.be)."
          },
          "transcriptLanguages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/language-code"
            },
            "description": "We will try to fetch the first available transcript in the given languages. Default is `en`."
          },
          "includeMetadata": {
            "type": "boolean",
            "description": "Whether to include metadata in the ingestion (like video description, tags, category, duration, etc...). Defaults to `false`."
          }
        },
        "required": [
          "type",
          "urls"
        ],
        "title": "Youtube Payload"
      },
      "language-code": {
        "type": "string",
        "enum": [
          "af",
          "am",
          "ar",
          "bg",
          "bn",
          "ca",
          "cs",
          "cy",
          "da",
          "de",
          "en",
          "es",
          "et",
          "fa",
          "fi",
          "fr",
          "ga",
          "gl",
          "he",
          "hi",
          "hr",
          "hu",
          "id",
          "is",
          "it",
          "jp",
          "kr",
          "lt",
          "lv",
          "mk",
          "ms",
          "mt",
          "ne",
          "nl",
          "no",
          "pl",
          "pt",
          "ro",
          "ru",
          "sk",
          "sl",
          "sr",
          "sv",
          "sw",
          "ta",
          "te",
          "th",
          "tl",
          "tr",
          "uk",
          "ur",
          "vi",
          "zh",
          "zu"
        ]
      },
      "batch-payload-input": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "BATCH"
          },
          "items": {
            "minItems": 1,
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "TEXT"
                    },
                    "fileName": {
                      "anyOf": [
                        {
                          "type": "string",
                          "description": "The name of the file."
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "text": {
                      "type": "string",
                      "minLength": 1,
                      "description": "The text to ingest."
                    },
                    "config": {
                      "$ref": "#/components/schemas/document-config"
                    }
                  },
                  "required": [
                    "type",
                    "text"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "FILE"
                    },
                    "fileUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "The URL of the file to ingest."
                    },
                    "fileName": {
                      "anyOf": [
                        {
                          "type": "string",
                          "description": "The name of the file."
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "config": {
[...]
