{
  "openapi": "3.0.0",
  "info": {
    "contact": {},
    "description": "We encapsulate Radio & Music business logic for iPlayer Radio and BBC Music products on all platforms. We add value by reliably providing the right blend of metadata needed by clients.",
    "title": "Radio & Music Services",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "media"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/bbc.co.uk/1.0.0/swagger.yaml",
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_commons_thumb_6_63_BBC_Radio_logo.svg_140px-BBC_Radio_logo.svg.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://rms.api.bbc.co.uk/docs/swagger.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "bbc.co.uk"
  },
  "servers": [
    {
      "url": "https://rms.api.bbc.co.uk/"
    }
  ],
  "paths": {
    "/broadcasts": {
      "get": {
        "parameters": [
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Paginated results offset",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Paginated results limit",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Filter by Service ID. E.g. bbc_radio_fourfm",
            "in": "query",
            "name": "service_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by date. E.g. 2016-06-17",
            "in": "query",
            "name": "date",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Sort by provided query. E.g. 'start_at' sorts in ascending order, and '-start_at' sorts in descending order",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "enum": [
                "start_at",
                "-start_at",
                "end_at",
                "-end_at"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastsResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "There was an error with the supplied `Authorization` header."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Broadcasts"
        ],
        "description": "All broadcasts\n",
        "operationId": "get-broadcasts",
        "summary": "Broadcasts"
      }
    },
    "/broadcasts/latest": {
      "get": {
        "parameters": [
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Paginated results offset",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Paginated results limit",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Filter by Service ID. E.g. bbc_radio_fourfm",
            "in": "query",
            "name": "service_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter what is on air. E.g. 'now' returns current programme being broadcasted.",
            "in": "query",
            "name": "on_air",
            "required": false,
            "schema": {
              "enum": [
                "now",
                "previous",
                "next"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter what will be on air next in minutes. E.g. '240' returns programmes broadcasted in the next four hurs",
            "in": "query",
            "name": "next",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter what was on air previously in minutes. E.g. '240' returns programmes broadcasted in the previous four hurs",
            "in": "query",
            "name": "previous",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Sort by provided query. E.g. 'start_at' sorts in ascending order, and '-start_at' sorts in descending order",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "enum": [
                "start_at",
                "-start_at",
                "end_at",
                "-end_at"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastsResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "There was an error with the supplied `Authorization` header."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Broadcasts"
        ],
        "description": "Broadcasts for the current day\n",
        "operationId": "get-broadcasts-latest",
        "summary": "Latest Broadcasts"
      }
    },
    "/broadcasts/{pid}": {
      "get": {
        "parameters": [
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "pid",
            "in": "path",
            "name": "pid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastsResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "There was an error with the supplied `Authorization` header."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Broadcasts"
        ],
        "description": "Find broadcast by PID\n",
        "operationId": "getBroadcastByPid",
        "summary": "Broadcasts by PID"
      }
    },
    "/categories": {
      "get": {
        "parameters": [
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by provided query. E.g. 'promoted' returns promoted categories",
            "in": "query",
            "name": "kind",
            "required": false,
            "schema": {
              "enum": [
                "promoted"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoriesResponse"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Categories"
        ],
        "description": "Retrieve Categories\n",
        "operationId": "get-categories",
        "summary": "List of categories"
      }
    },
    "/categories/{id}": {
      "get": {
        "parameters": [
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Retrieve information about the category. E.g. 'sport-football-europeanchampionship'",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoriesResponse"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Categories"
        ],
        "description": "Retrieve Categories by ID\n",
        "operationId": "get-categories-by-id",
        "summary": "Category by ID"
      }
    },
    "/collections/{pid}/members": {
      "get": {
        "parameters": [
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "pid",
            "in": "path",
            "name": "pid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Paginated results offset",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Paginated results limit",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgrammesResponse"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Collection not found"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Collections"
        ],
        "description": "Episodes and Clips from Collection\n",
        "operationId": "getCollectionMembers",
        "summary": "Collection Members"
      }
    },
    "/experience/homepage": {
      "get": {
        "parameters": [
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceResponse"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Experience"
        ],
        "description": "Homepage Experience\n",
        "operationId": "getExperienceHomepage",
        "summary": "Homepage Experience"
      }
    },
    "/music/popular/artists": {
      "get": {
        "servers": [
          {
            "url": "http://rms.api.bbc.co.uk/"
          }
        ],
        "parameters": [
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given time period and now",
            "in": "query",
            "name": "since",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since' and 'until' date params",
            "in": "query",
            "name": "until",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "In addition to the overall score, return a list of scores broken down by day N.B Must be used in conjunction with since and/or until and since is >= 31 days",
            "in": "query",
            "name": "decomposed",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Paginated results offset",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Paginated results limit",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MusicPopularityArtists"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MusicPopularityError"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Music"
        ],
        "description": "List of Most Popular artists from BBC Music.\n",
        "operationId": "getMusicPopularArtists",
        "summary": "Popular Artists"
      }
    },
    "/music/popular/artists/{id}": {
      "get": {
        "servers": [
          {
            "url": "http://rms.api.bbc.co.uk/"
          }
        ],
        "parameters": [
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given time period and now",
            "in": "query",
            "name": "since",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since' and 'until' date params",
            "in": "query",
            "name": "until",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "In addition to the overall score, return a list of scores broken down by day N.B Must be used in conjunction with since and/or until and since is >= 31 days",
            "in": "query",
            "name": "decomposed",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "MusicBrainz Id - Used to get single resource score",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MusicPopularityArtists"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MusicPopularityError"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Music"
        ],
        "description": "Popularity Artist By Id\n",
        "operationId": "getMusicPopularArtistById",
        "summary": "Single Artist Popularity"
      }
    },
    "/music/popular/playlists": {
      "get": {
        "servers": [
          {
            "url": "http://rms.api.bbc.co.uk/"
          }
        ],
        "parameters": [
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given time period and now",
            "in": "query",
            "name": "since",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since' and 'until' date params",
            "in": "query",
            "name": "until",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "In addition to the overall score, return a list of scores broken down by day N.B Must be used in conjunction with since and/or until and since is >= 31 days",
            "in": "query",
            "name": "decomposed",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Paginated results offset",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Paginated results limit",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MusicPopularityPlaylists"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MusicPopularityError"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Music"
        ],
        "description": "List of Most Popular playlists from BBC Music.\n",
        "operationId": "getMusicPopularPlaylists",
        "summary": "Popular Playlists"
      }
    },
    "/music/popular/playlists/{id}": {
      "get": {
        "servers": [
          {
            "url": "http://rms.api.bbc.co.uk/"
          }
        ],
        "parameters": [
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given time period and now",
            "in": "query",
            "name": "since",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since' and 'until' date params",
            "in": "query",
            "name": "until",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "In addition to the overall score, return a list of scores broken down by day N.B Must be used in conjunction with since and/or until and since is >= 31 days",
            "in": "query",
            "name": "decomposed",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "BBC Music Playlist Id - Used to get single resource score",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MusicPopularityPlaylists"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MusicPopularityError"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Music"
        ],
        "description": "Popular playlist by Id\n",
        "operationId": "getMusicPopularPlaylistById",
        "summary": "Single Playlist Popularity"
      }
    },
    "/music/popular/tracks": {
      "get": {
        "servers": [
          {
            "url": "http://rms.api.bbc.co.uk/"
          }
        ],
        "parameters": [
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given time period and now",
            "in": "query",
            "name": "since",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since' and 'until' date params",
            "in": "query",
            "name": "until",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Return items with given Network ID",
            "in": "query",
            "name": "network",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Items with given Programme Pid",
            "in": "query",
            "name": "programme",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "MusicBrainz artist ID",
            "in": "query",
            "name": "artist",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "In addition to the overall score, return a list of scores broken down by day N.B Must be used in conjunction with since and/or until and since is >= 31 days",
            "in": "query",
            "name": "decomposed",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Paginated results offset",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Paginated results limit",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MusicPopularityTracks"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MusicPopularityError"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Music"
        ],
        "description": "List of popular tracks for BBC Music. Filter by time, network, artist, playlist or programme.\n",
        "operationId": "getMusicPopularTracks",
        "summary": "Popular Tracks"
      }
    },
    "/music/popular/tracks/{id}": {
      "get": {
        "servers": [
          {
            "url": "http://rms.api.bbc.co.uk/"
          }
        ],
        "parameters": [
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given time period and now",
            "in": "query",
            "name": "since",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since' and 'until' date params",
            "in": "query",
            "name": "until",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Return items with given Network ID",
            "in": "query",
            "name": "network",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Items with given Programme Pid",
            "in": "query",
            "name": "programme",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "MusicBrainz artist ID",
            "in": "query",
            "name": "artist",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "In addition to the overall score, return a list of scores broken down by day N.B Must be used in conjunction with since and/or until and since is >= 31 days",
            "in": "query",
            "name": "decomposed",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "BBC Music Track Id - Used to get single resource score",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MusicPopularityTracks"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MusicPopularityError"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Music"
        ],
        "description": "Popular Track for BBC Music\n",
        "operationId": "getMusicPopularTrackById",
        "summary": "Single Track Popularity"
      }
    },
    "/my/categories/follows": {
      "delete": {
        "parameters": [
          {
            "description": "Bearer OAUTH_TOKEN",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "default": "Bearer OAUTH_TOKEN",
              "type": "string"
            }
          },
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Request successfully sent to UAS."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "The request was malformed."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "There was an error with the supplied `Authorization` header."
          }
        },
        "tags": [
          "Personalised Categories"
        ],
        "description": "Unfollow category",
        "operationId": "delete-my-categories-follows",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_1"
              }
            }
          },
          "required": true
        },
        "summary": "Unfollow category"
      },
      "get": {
        "parameters": [
          {
            "description": "Bearer OAUTH_TOKEN",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "default": "Bearer OAUTH_TOKEN",
              "type": "string"
            }
          },
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Paginated results offset",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Paginated results limit",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedCategoriesResponse"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Personalised Categories"
        ],
        "description": "List of followed categories for a given user.\n",
        "operationId": "get-my-categories-follows",
        "summary": "List of followed categories"
      },
      "post": {
        "parameters": [
          {
            "description": "Bearer OAUTH_TOKEN",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "default": "Bearer OAUTH_TOKEN",
              "type": "string"
            }
          },
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Request successfully sent to UAS."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "The request was malformed."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "There was an error with the supplied `Authorization` header."
          }
        },
        "tags": [
          "Personalised Categories"
        ],
        "description": "Follow category",
        "operationId": "post-my-categories-follows",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body"
              }
            }
          },
          "required": true
        },
        "summary": "Follow category"
      }
    },
    "/my/music/export": {
      "get": {
        "parameters": [
          {
            "description": "Bearer OAUTH_TOKEN",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "default": "Bearer OAUTH_TOKEN",
              "type": "string"
            }
          },
          {
            "description": "Authentication type",
            "in": "header",
            "name": "X-Authentication-Provider",
            "required": true,
            "schema": {
              "default": "idv5",
              "type": "string"
            }
          },
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Paginated results offset",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Paginated results limit",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MusicExportJob"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MusicExportErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Music Export"
        ],
        "description": "Returns status of all previous third party export actions for a given BBC Music user.\n",
        "operationId": "getMusicExport",
        "summary": "Music Exports"
      }
    },
    "/my/music/exports/jobs": {
      "get": {
        "parameters": [
          {
            "description": "Bearer OAUTH_TOKEN",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "default": "Bearer OAUTH_TOKEN",
              "type": "string"
            }
          },
          {
            "description": "Authentication type",
            "in": "header",
            "name": "X-Authentication-Provider",
            "required": true,
            "schema": {
              "default": "idv5",
              "type": "string"
            }
          },
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Boolean age check",
            "in": "query",
            "name": "over16",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Specify Vendor Jobs",
            "in": "query",
            "name": "vendor",
            "required": false,
            "schema": {
              "enum": [
                "spotify",
                "deezer",
                "youtube",
                "itunes"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MusicExportJob"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MusicExportErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Music Export"
        ],
        "description": "All items associated to a users export request\n",
        "operationId": "getMusicExportJobs",
        "summary": "Music Export Jobs"
      },
      "post": {
        "parameters": [
          {
            "description": "Bearer OAUTH_TOKEN",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "default": "Bearer OAUTH_TOKEN",
              "type": "string"
            }
          },
          {
            "description": "Authentication type",
            "in": "header",
            "name": "X-Authentication-Provider",
            "required": true,
            "schema": {
              "default": "idv5",
              "type": "string"
            }
          },
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Boolean age check",
            "in": "query",
            "name": "over16",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Specify Vendor Jobs",
            "in": "query",
            "name": "vendor",
            "required": false,
            "schema": {
              "enum": [
                "spotify",
                "deezer",
                "youtube",
                "itunes"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MusicExportSuccess"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MusicExportErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Music Export"
        ],
        "description": "Create Export Job for a user\n",
        "operationId": "postMusicExportJob",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/MusicExportJob"
                },
                "type": "array"
              }
            }
          },
          "required": true
        },
        "summary": "Music Export Jobs"
      }
    },
    "/my/music/exports/tracks": {
      "get": {
        "parameters": [
          {
            "description": "Bearer OAUTH_TOKEN",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "default": "Bearer OAUTH_TOKEN",
              "type": "string"
            }
          },
          {
            "description": "Authentication type",
            "in": "header",
            "name": "X-Authentication-Provider",
            "required": true,
            "schema": {
              "default": "idv5",
              "type": "string"
            }
          },
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Boolean age check",
            "in": "query",
            "name": "over16",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Paginated results offset",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Paginated results limit",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Specify Vendor Tracks",
            "in": "query",
            "name": "vendor",
            "required": false,
            "schema": {
              "enum": [
                "spotify",
                "deezer",
                "youtube",
                "itunes"
              ],
              "type": "string"
            }
          },
          {
            "description": "Specify Track status",
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "enum": [
                "failed",
                "done",
                "pending"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MusicExportJob"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MusicExportErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Music Export"
        ],
        "description": "Retrieves vendor and status specific tracks\n",
        "operationId": "getMusicExportTracks",
        "summary": "Music Export Tracks"
      }
    },
    "/my/music/favourites": {
      "get": {
        "parameters": [
          {
            "description": "Bearer OAUTH_TOKEN",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "default": "Bearer OAUTH_TOKEN",
              "type": "string"
            }
          },
          {
            "description": "Authentication type",
            "in": "header",
            "name": "X-Authentication-Provider",
            "required": true,
            "schema": {
              "default": "idv5",
              "type": "string"
            }
          },
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Paginated results offset",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Paginated results limit",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Filters activities based on the type of action",
            "in": "query",
            "name": "action",
            "required": false,
            "schema": {
              "enum": [
                "favourited",
                "unfavourited"
              ],
              "type": "string"
            }
          },
          {
            "description": "Omits music data from the response, defaults to true",
            "in": "query",
            "name": "music-data",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedMusicResponse"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedMusicErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Music"
        ],
        "description": "List of favourited tracks and clips for a given user for BBC Music.\n",
        "operationId": "getPersonalisedMusicFavourites",
        "summary": "Favourite Tracks or Clips"
      },
      "post": {
        "parameters": [
          {
            "description": "Bearer OAUTH_TOKEN",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "default": "Bearer OAUTH_TOKEN",
              "type": "string"
            }
          },
          {
            "description": "Authentication type",
            "in": "header",
            "name": "X-Authentication-Provider",
            "required": true,
            "schema": {
              "default": "idv5",
              "type": "string"
            }
          },
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedMusicResponse"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedMusicErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Music"
        ],
        "description": "Add multiple tracks and/or clips to a BBC Music user's favourites.\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "postPersonalisedMusicFavouritesBatch",
        "requestBody": {
          "$ref": "#/components/requestBodies/PersonalisedMusicBatchRequestArray"
        },
        "summary": "Favourite Tracks or Clips"
      },
      "put": {
        "parameters": [
          {
            "description": "Bearer OAUTH_TOKEN",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "default": "Bearer OAUTH_TOKEN",
              "type": "string"
            }
          },
          {
            "description": "Authentication type",
            "in": "header",
            "name": "X-Authentication-Provider",
            "required": true,
            "schema": {
              "default": "idv5",
              "type": "string"
            }
          },
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedMusicSuccess"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedMusicErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Music"
        ],
        "description": "Update tracks or clips from a BBC Music user favourites.\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "putPersonalisedMusicFavouritesBatch",
        "requestBody": {
          "$ref": "#/components/requestBodies/PersonalisedMusicBatchRequestArray"
        },
        "summary": "Favourite Tracks or Clips"
      }
    },
    "/my/music/favourites/{type}": {
      "get": {
        "parameters": [
          {
            "description": "Bearer OAUTH_TOKEN",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "default": "Bearer OAUTH_TOKEN",
              "type": "string"
            }
          },
          {
            "description": "Authentication type",
            "in": "header",
            "name": "X-Authentication-Provider",
            "required": true,
            "schema": {
              "default": "idv5",
              "type": "string"
            }
          },
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Supported Music favourite types: Clips or Tracks",
            "in": "path",
            "name": "type",
            "required": true,
            "schema": {
              "enum": [
                "clips",
                "tracks"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filters activities based on the type of action",
            "in": "query",
            "name": "action",
            "required": false,
            "schema": {
              "enum": [
                "favourited",
                "unfavourited"
              ],
              "type": "string"
            }
          },
          {
            "description": "Paginated results offset",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Paginated results limit",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedMusicResponse"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedMusicErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Music"
        ],
        "description": "List of favourited tracks or clips for a given user for BBC Music.\n",
        "operationId": "getPersonalisedMusicFavouritesByType",
        "summary": "Favourite Tracks or Clips by Type"
      }
    },
    "/my/music/favourites/{type}/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "Bearer OAUTH_TOKEN",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "default": "Bearer OAUTH_TOKEN",
              "type": "string"
            }
          },
          {
            "description": "Authentication type",
            "in": "header",
            "name": "X-Authentication-Provider",
            "required": true,
            "schema": {
              "default": "idv5",
              "type": "string"
            }
          },
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Supported Music favourite types: Clips or Tracks",
            "in": "path",
            "name": "type",
            "required": true,
            "schema": {
              "enum": [
                "clips",
                "tracks"
              ],
              "type": "string"
            }
          },
          {
            "description": "Clip PID or Track ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedMusicSuccess"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedMusicErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Music"
        ],
        "description": "Delete track or clip from a BBC Music user favourites.\n",
        "operationId": "deletePersonalisedMusicFavouritesByTypeById",
        "summary": "Favourite Track or Clip"
      },
      "get": {
        "parameters": [
          {
            "description": "Bearer OAUTH_TOKEN",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "default": "Bearer OAUTH_TOKEN",
              "type": "string"
            }
          },
          {
            "description": "Authentication type",
            "in": "header",
            "name": "X-Authentication-Provider",
            "required": true,
            "schema": {
              "default": "idv5",
              "type": "string"
            }
          },
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Supported Music favourite types: Clips or Tracks",
            "in": "path",
            "name": "type",
            "required": true,
            "schema": {
              "enum": [
                "clips",
                "tracks"
              ],
              "type": "string"
            }
          },
          {
            "description": "Clip PID or Track ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedMusicResponse"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedMusicErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Music"
        ],
        "description": "Check to see if a single track or clip entity is in a users favourites - determines UX of add button.\n",
        "operationId": "getPersonalisedMusicFavouritesByTypeById",
        "summary": "Favourite Track or Clip"
      },
      "post": {
        "parameters": [
          {
            "description": "Bearer OAUTH_TOKEN",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "default": "Bearer OAUTH_TOKEN",
              "type": "string"
            }
          },
          {
            "description": "Authentication type",
            "in": "header",
            "name": "X-Authentication-Provider",
            "required": true,
            "schema": {
              "default": "idv5",
              "type": "string"
            }
          },
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Supported Music favourite types: Clips or Tracks",
            "in": "path",
            "name": "type",
            "required": true,
            "schema": {
              "enum": [
                "clips",
                "tracks"
              ],
              "type": "string"
            }
          },
          {
            "description": "Clip PID or Track ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedMusicResponse"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedMusicErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Music"
        ],
        "description": "Add track or clip to a BBC Music user favourites.\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "postPersonalisedMusicFavouritesByTypeById",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonalisedMusicRequest"
              }
            }
          },
          "description": "Action favourited or unfavourited",
          "required": true
        },
        "summary": "Favourite Track or Clip"
      },
      "put": {
        "parameters": [
          {
            "description": "Bearer OAUTH_TOKEN",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "default": "Bearer OAUTH_TOKEN",
              "type": "string"
            }
          },
          {
            "description": "Authentication type",
            "in": "header",
            "name": "X-Authentication-Provider",
            "required": true,
            "schema": {
              "default": "idv5",
              "type": "string"
            }
          },
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Supported Music favourite types: Clips or Tracks",
            "in": "path",
            "name": "type",
            "required": true,
            "schema": {
              "enum": [
                "clips",
                "tracks"
              ],
              "type": "string"
            }
          },
          {
            "description": "Clip PID or Track ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedMusicSuccess"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedMusicErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Music"
        ],
        "description": "Update tracks or clips from a BBC Music user favourites.\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "putPersonalisedMusicFavouritesByTypeById",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonalisedMusicRequest"
              }
            }
          },
          "description": "Action favourited or unfavourited",
          "required": true
        },
        "summary": "Favourite Track or Clip"
      }
    },
    "/my/music/follows": {
      "get": {
        "parameters": [
          {
            "description": "Bearer OAUTH_TOKEN",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "default": "Bearer OAUTH_TOKEN",
              "type": "string"
            }
          },
          {
            "description": "Authentication type",
            "in": "header",
            "name": "X-Authentication-Provider",
            "required": true,
            "schema": {
              "default": "idv5",
              "type": "string"
            }
          },
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filters activities based on the type of action",
            "in": "query",
            "name": "action",
            "required": false,
            "schema": {
              "enum": [
                "followed",
                "unfollowed"
              ],
              "type": "string"
            }
          },
          {
            "description": "Omits music data from the response, defaults to true",
            "in": "query",
            "name": "music-data",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Specify context to be passed to Music API",
            "in": "query",
            "name": "music_context",
            "required": false,
            "schema": {
              "enum": [
                "events",
                "ivote",
                "music",
                "musicplaylist",
                "programmes",
                "radio",
                "unknown"
              ],
              "type": "string"
            }
          },
          {
            "description": "Specify location to be passed to Music API",
            "in": "query",
            "name": "music_within_uk",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Paginated results offset",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Paginated results limit",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedMusicResponse"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedMusicErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Music"
        ],
        "description": "List of followed networks, categories, artists, playlists and genres for a given user for BBC Music.\n",
        "operationId": "getPersonalisedMusicFollows",
        "summary": "Followed Networks, Categories, Artists, Playlists and Genres"
      },
      "post": {
        "parameters": [
          {
            "description": "Bearer OAUTH_TOKEN",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "default": "Bearer OAUTH_TOKEN",
              "type": "string"
            }
          },
          {
            "description": "Authentication type",
            "in": "header",
            "name": "X-Authentication-Provider",
            "required": true,
            "schema": {
              "default": "idv5",
              "type": "string"
            }
          },
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filters activities based on the type of action",
            "in": "query",
            "name": "action",
            "required": false,
            "schema": {
              "enum": [
                "followed",
                "unfollowed"
              ],
              "type": "string"
            }
          },
          {
            "description": "Omits music data from the response, defaults to true",
            "in": "query",
            "name": "music-data",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Specify context to be passed to Music API",
            "in": "query",
            "name": "music_context",
            "required": false,
            "schema": {
              "enum": [
                "events",
                "ivote",
                "music",
                "musicplaylist",
                "programmes",
                "radio",
                "unknown"
              ],
              "type": "string"
            }
          },
          {
            "description": "Specify location to be passed to Music API",
            "in": "query",
            "name": "music_within_uk",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedMusicSuccess"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedMusicErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Music"
        ],
        "description": "Add networks, categories, artists, playlists, networks, genres or services in a users follows\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "postPersonalisedMusicFollowsBatch",
        "requestBody": {
          "$ref": "#/components/requestBodies/PersonalisedMusicBatchRequestArray2"
        },
        "summary": "Followed Networks, Categories, Artists, Playlists and Genres"
      },
      "put": {
        "parameters": [
          {
            "description": "Bearer OAUTH_TOKEN",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "default": "Bearer OAUTH_TOKEN",
              "type": "string"
            }
          },
          {
            "description": "Authentication type",
            "in": "header",
            "name": "X-Authentication-Provider",
            "required": true,
            "schema": {
              "default": "idv5",
              "type": "string"
            }
          },
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filters activities based on the type of action",
            "in": "query",
            "name": "action",
            "required": false,
            "schema": {
              "enum": [
                "followed",
                "unfollowed"
              ],
              "type": "string"
            }
          },
          {
            "description": "Omits music data from the response, defaults to true",
            "in": "query",
            "name": "music-data",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Specify context to be passed to Music API",
            "in": "query",
            "name": "music_context",
            "required": false,
            "schema": {
              "enum": [
                "events",
                "ivote",
                "music",
                "musicplaylist",
                "programmes",
                "radio",
                "unknown"
              ],
              "type": "string"
            }
          },
          {
            "description": "Specify location to be passed to Music API",
            "in": "query",
            "name": "music_within_uk",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedMusicSuccess"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedMusicErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Music"
        ],
        "description": "Update networks, categories, artists, playlists, networks, genres or services in a users follows\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "putPersonalisedMusicFollowsBatch",
        "requestBody": {
          "$ref": "#/components/requestBodies/PersonalisedMusicBatchRequestArray2"
        },
        "summary": "Followed Networks, Categories, Artists, Playlists and Genres"
      }
    },
    "/my/music/follows/{type}": {
      "get": {
        "parameters": [
          {
            "description": "Bearer OAUTH_TOKEN",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "default": "Bearer OAUTH_TOKEN",
              "type": "string"
            }
          },
          {
            "description": "Authentication type",
            "in": "header",
            "name": "X-Authentication-Provider",
            "required": true,
            "schema": {
              "default": "idv5",
              "type": "string"
            }
          },
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Supported Music follows types: Playlists, Services, Genres & Artists",
            "in": "path",
            "name": "type",
            "required": true,
            "schema": {
              "enum": [
                "playlists",
                "services",
                "networks",
                "genres",
                "categories",
                "artists"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filters activities based on the type of action",
            "in": "query",
            "name": "action",
            "required": false,
            "schema": {
              "enum": [
                "followed",
                "unfollowed"
              ],
              "type": "string"
            }
          },
          {
            "description": "Omits music data from the response, defaults to true",
            "in": "query",
            "name": "music-data",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Specify context to be passed to Music API",
            "in": "query",
            "name": "music_context",
            "required": false,
            "schema": {
              "enum": [
                "events",
                "ivote",
                "music",
                "musicplaylist",
                "programmes",
                "radio",
                "unknown"
              ],
              "type": "string"
            }
          },
          {
            "description": "Specify location to be passed to Music API",
            "in": "query",
            "name": "music_within_uk",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Paginated results offset",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Paginated results limit",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedMusicResponse"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedMusicErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Music"
        ],
        "description": "List of followed networks, categories, artists, playlists, networks, genres, categories or services for a given BBC Music user.\n",
        "operationId": "getPersonalisedMusicFollowsByType",
        "summary": "Followed Networks, Categories, Artists, Playlists and Genres by Type"
      }
    },
    "/my/music/follows/{type}/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "Bearer OAUTH_TOKEN",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "default": "Bearer OAUTH_TOKEN",
              "type": "string"
            }
          },
          {
            "description": "Authentication type",
            "in": "header",
            "name": "X-Authentication-Provider",
            "required": true,
            "schema": {
              "default": "idv5",
              "type": "string"
            }
          },
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Supported Music follows types: Playlists, Services, Genres & Artists",
            "in": "path",
            "name": "type",
            "required": true,
            "schema": {
              "enum": [
                "playlists",
                "services",
                "networks",
                "genres",
                "categories",
                "artists"
              ],
              "type": "string"
            }
          },
          {
            "description": "Playlists, Services, Networks, Genres, Categories or Artists ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Omits music data from the response, defaults to true",
            "in": "query",
            "name": "music-data",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Specify context to be passed to Music API",
            "in": "query",
            "name": "music_context",
            "required": false,
            "schema": {
              "enum": [
                "events",
                "ivote",
                "music",
                "musicplaylist",
                "programmes",
                "radio",
                "unknown"
              ],
              "type": "string"
            }
          },
          {
            "description": "Specify location to be passed to Music API",
            "in": "query",
            "name": "music_within_uk",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedMusicSuccess"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedMusicErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Music"
        ],
        "description": "Remove a single network, category, artist, playlist, network, genre or service entity is in a users follows\n",
        "operationId": "deletePersonalisedMusicFollowsByTypeById",
        "summary": "Followed Network, Category, Artist, Playlist and Genre"
      },
      "get": {
        "parameters": [
          {
            "description": "Bearer OAUTH_TOKEN",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "default": "Bearer OAUTH_TOKEN",
              "type": "string"
            }
          },
          {
            "description": "Authentication type",
            "in": "header",
            "name": "X-Authentication-Provider",
            "required": true,
            "schema": {
              "default": "idv5",
              "type": "string"
            }
          },
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Supported Music follows types: Playlists, Services, Genres & Artists",
            "in": "path",
            "name": "type",
            "required": true,
            "schema": {
              "enum": [
                "playlists",
                "services",
                "networks",
                "genres",
                "categories",
                "artists"
              ],
              "type": "string"
            }
          },
          {
            "description": "Playlists, Services, Networks, Genres, Categories or Artists ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Omits music data from the response, defaults to true",
            "in": "query",
            "name": "music-data",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Specify context to be passed to Music API",
            "in": "query",
            "name": "music_context",
            "required": false,
            "schema": {
              "enum": [
                "events",
                "ivote",
                "music",
                "musicplaylist",
                "programmes",
                "radio",
                "unknown"
              ],
              "type": "string"
            }
          },
          {
            "description": "Specify location to be passed to Music API",
            "in": "query",
            "name": "music_within_uk",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedMusicResponse"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedMusicErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Music"
        ],
        "description": "Check to see if a single network, category, artist, playlist, network, genre or service entity is in a users follows - determines UX of add button.\n",
        "operationId": "getPersonalisedMusicFollowsByTypeById",
        "summary": "Followed Network, Category, Artist, Playlist and Genre"
      },
      "post": {
        "parameters": [
          {
            "description": "Bearer OAUTH_TOKEN",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "default": "Bearer OAUTH_TOKEN",
              "type": "string"
            }
          },
          {
            "description": "Authentication type",
            "in": "header",
            "name": "X-Authentication-Provider",
            "required": true,
            "schema": {
              "default": "idv5",
              "type": "string"
            }
          },
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Supported Music follows types: Playlists, Services, Genres & Artists",
            "in": "path",
            "name": "type",
            "required": true,
            "schema": {
              "enum": [
                "playlists",
                "services",
                "networks",
                "genres",
                "categories",
                "artists"
              ],
              "type": "string"
            }
          },
          {
            "description": "Playlists, Services, Networks, Genres, Categories or Artists ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Omits music data from the response, defaults to true",
            "in": "query",
            "name": "music-data",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Specify context to be passed to Music API",
            "in": "query",
            "name": "music_context",
            "required": false,
            "schema": {
              "enum": [
                "events",
                "ivote",
                "music",
                "musicplaylist",
                "programmes",
                "radio",
                "unknown"
              ],
              "type": "string"
            }
          },
          {
            "description": "Specify location to be passed to Music API",
            "in": "query",
            "name": "music_within_uk",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedMusicSuccess"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedMusicErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Music"
        ],
        "description": "Add a single network, category, artist, playlist, network, genre or service entity is in a users follows\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "postPersonalisedMusicFollowsByTypeById",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonalisedMusicRequest"
              }
            }
          },
          "description": "Action followed or unfollowed",
          "required": true
        },
        "summary": "Followed Network, Category, Artist, Playlist and Genre"
      },
      "put": {
        "parameters": [
          {
            "description": "Bearer OAUTH_TOKEN",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "default": "Bearer OAUTH_TOKEN",
              "type": "string"
            }
          },
          {
            "description": "Authentication type",
            "in": "header",
            "name": "X-Authentication-Provider",
            "required": true,
            "schema": {
              "default": "idv5",
              "type": "string"
            }
          },
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Supported Music follows types: Playlists, Services, Genres & Artists",
            "in": "path",
            "name": "type",
            "required": true,
            "schema": {
              "enum": [
                "playlists",
                "services",
                "networks",
                "genres",
                "categories",
                "artists"
              ],
              "type": "string"
            }
          },
          {
            "description": "Playlists, Services, Networks, Genres, Categories or Artists ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Omits music data from the response, defaults to true",
            "in": "query",
            "name": "music-data",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Specify context to be passed to Music API",
            "in": "query",
            "name": "music_context",
            "required": false,
            "schema": {
              "enum": [
                "events",
                "ivote",
                "music",
                "musicplaylist",
                "programmes",
                "radio",
                "unknown"
              ],
              "type": "string"
            }
          },
          {
            "description": "Specify location to be passed to Music API",
            "in": "query",
            "name": "music_within_uk",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedMusicSuccess"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalisedMusicErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Music"
        ],
        "description": "Update a single network, category, artist, playlist, network, genre or service entity is in a users follows\n\nN.B. Any HTML tags submitted in metadata will be removed\n",
        "operationId": "putPersonalisedMusicFollowsByTypeById",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonalisedMusicRequest"
              }
            }
          },
          "description": "Action followed or unfollowed",
          "required": true
        },
        "summary": "Followed Network, Category, Artist, Playlist and Genre"
      }
    },
    "/my/music/preferences/export": {
      "delete": {
        "parameters": [
          {
            "description": "Bearer OAUTH_TOKEN",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "default": "Bearer OAUTH_TOKEN",
              "type": "string"
            }
          },
          {
            "description": "Authentication type",
            "in": "header",
            "name": "X-Authentication-Provider",
            "required": true,
            "schema": {
              "default": "idv5",
              "type": "string"
            }
          },
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MusicExportSuccess"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MusicExportErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Music Export"
        ],
        "description": "Remove export preferences (e.g. 3rd party vendors, partner id's) for a given BBC Music user.\n",
        "operationId": "deleteMusicPreferencesExport",
        "summary": "Music Export Preferences"
      },
      "get": {
        "parameters": [
          {
            "description": "Bearer OAUTH_TOKEN",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "default": "Bearer OAUTH_TOKEN",
              "type": "string"
            }
          },
          {
            "description": "Authentication type",
            "in": "header",
            "name": "X-Authentication-Provider",
            "required": true,
            "schema": {
              "default": "idv5",
              "type": "string"
            }
          },
          {
            "description": "API_KEY",
            "in": "header",
            "name": "X-API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MusicExportPreferencesResponse"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MusicExportErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Music Export"
        ],
[...]
