{
  "openapi": "3.0.3",
  "info": {
    "title": "Nuvemshop Ecommerce API",
    "description": "Nuvemshop/Tiendanube ecommerce API for managing products, orders, customers, categories, and webhooks.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://dev.nuvemshop.com.br/en/docs/developer-tools/nuvemshop-api"
  },
  "servers": [
    {
      "url": "https://api.nuvemshop.com.br/v1/{store_id}",
      "description": "Nuvemshop Production API (Brazil)",
      "variables": {
        "store_id": {
          "description": "The store's unique identifier",
          "default": "123456"
        }
      }
    },
    {
      "url": "https://api.tiendanube.com/v1/{store_id}",
      "description": "Tiendanube Production API (LATAM)",
      "variables": {
        "store_id": {
          "description": "The store's unique identifier",
          "default": "123456"
        }
      }
    }
  ],
  "paths": {
    "/products": {
      "get": {
        "operationId": "listProducts",
        "summary": "List all products",
        "description": "Retrieve a paginated list of products with optional filters.",
        "tags": [
          "Products"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated product IDs (max 30)"
          },
          {
            "name": "since_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Results after specified ID"
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search language"
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Text search (names, tags, SKU)"
          },
          {
            "name": "handle",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "URL-friendly product identifier"
          },
          {
            "name": "category_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by category"
          },
          {
            "name": "published",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "description": "Filter by publish status"
          },
          {
            "name": "free_shipping",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "description": "Filter by free shipping"
          },
          {
            "name": "max_stock",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Maximum stock filter"
          },
          {
            "name": "min_stock",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Minimum stock filter"
          },
          {
            "name": "has_promotional_price",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "description": "Filter by promotional price"
          },
          {
            "name": "created_at_min",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Minimum creation date (ISO 8601)"
          },
          {
            "name": "created_at_max",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Maximum creation date (ISO 8601)"
          },
          {
            "name": "updated_at_min",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Minimum update date (ISO 8601)"
          },
          {
            "name": "updated_at_max",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Maximum update date (ISO 8601)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "price-ascending",
                "price-descending",
                "name-ascending",
                "name-descending",
                "created-at-ascending",
                "created-at-descending",
                "best-selling",
                "user"
              ]
            },
            "description": "Sort criteria"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30
            },
            "description": "Results per page"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field list"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createProduct",
        "summary": "Create a new product",
        "description": "Create a new product in the store.",
        "tags": [
          "Products"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation errors"
          }
        }
      }
    },
    "/products/{id}": {
      "get": {
        "operationId": "getProduct",
        "summary": "Retrieve a single product",
        "tags": [
          "Products"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Product ID"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field list"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Product not found"
          }
        }
      },
      "put": {
        "operationId": "updateProduct",
        "summary": "Modify an existing product",
        "tags": [
          "Products"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Product ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Product not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteProduct",
        "summary": "Remove a product",
        "tags": [
          "Products"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Product ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Product deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Product not found"
          }
        }
      }
    },
    "/products/sku/{sku}": {
      "get": {
        "operationId": "getProductBySku",
        "summary": "Find product by variant SKU",
        "tags": [
          "Products"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Variant SKU value"
          }
        ],
        "responses": {
          "200": {
            "description": "Matching product found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Product not found"
          }
        }
      }
    },
    "/products/stock-price": {
      "patch": {
        "operationId": "bulkUpdateStockPrice",
        "summary": "Bulk update stock and price for variants",
        "description": "Update stock and/or price for up to 50 variants at once.",
        "tags": [
          "Products"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "id",
                    "variants"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Product ID"
                    },
                    "variants": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Variant ID"
                          },
                          "price": {
                            "type": "number"
                          },
                          "inventory_levels": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "stock": {
                                  "type": "integer"
                                },
                                "location_id": {
                                  "type": "integer"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation error - exceeding 50 variant limit or invalid values"
          }
        }
      }
    },
    "/orders": {
      "get": {
        "operationId": "listOrders",
        "summary": "Retrieve all orders",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "since_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Results after specified ID"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "any",
                "open",
                "closed",
                "cancelled"
              ]
            },
            "description": "Order status filter"
          },
          {
            "name": "channels",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Channel filter: form, store, api, meli, pos"
          },
          {
            "name": "payment_status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "any",
                "pending",
                "authorized",
                "paid",
                "abandoned",
                "refunded",
                "voided"
              ]
            },
            "description": "Payment status filter"
          },
          {
            "name": "shipping_status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "any",
                "unpacked",
                "unfulfilled",
                "fulfilled"
              ]
            },
            "description": "Shipping status filter"
          },
          {
            "name": "created_at_min",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Minimum creation date"
          },
          {
            "name": "created_at_max",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Maximum creation date"
          },
          {
            "name": "updated_at_min",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Minimum update date"
          },
          {
            "name": "updated_at_max",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Maximum update date"
          },
          {
            "name": "total_min",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Minimum order total"
          },
          {
            "name": "total_max",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Maximum order total"
          },
          {
            "name": "customer_ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated customer IDs"
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search by order number, name, or email"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30
            },
            "description": "Results per page (max 10000)"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field list"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createOrder",
        "summary": "Create a new order",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/orders/{id}": {
      "get": {
        "operationId": "getOrder",
        "summary": "Retrieve a single order",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Order ID"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field list"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Order not found"
          }
        }
      },
      "put": {
        "operationId": "updateOrder",
        "summary": "Update order attributes",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Order ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_note": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "open",
                      "closed",
                      "cancelled"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Order not found"
          }
        }
      }
    },
    "/orders/{id}/close": {
      "post": {
        "operationId": "closeOrder",
        "summary": "Close (archive) an order",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Order ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Order closed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Order not found"
          }
        }
      }
    },
    "/orders/{id}/open": {
      "post": {
        "operationId": "openOrder",
        "summary": "Reopen a closed order",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Order ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Order reopened",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Order not found"
          }
        }
      }
    },
    "/orders/{id}/cancel": {
      "post": {
        "operationId": "cancelOrder",
        "summary": "Cancel an order",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Order ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "enum": [
                      "customer",
                      "inventory",
                      "fraud",
                      "other"
                    ]
                  },
                  "email": {
                    "type": "boolean",
                    "default": true,
                    "description": "Notify customer"
                  },
                  "restock": {
                    "type": "boolean",
                    "default": true,
                    "description": "Restock products"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Order not found"
          }
        }
      }
    },
    "/customers": {
      "get": {
        "operationId": "listCustomers",
        "summary": "Retrieve all customers",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "since_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Results after specified ID"
          },
          {
            "name": "created_at_min",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Minimum creation date"
          },
          {
            "name": "created_at_max",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Maximum creation date"
          },
          {
            "name": "updated_at_min",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Minimum update date"
          },
          {
            "name": "updated_at_max",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Maximum update date"
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search by name, email, or identification"
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search by exact email"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Results per page"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field list"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Customer"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createCustomer",
        "summary": "Create a new customer",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/customers/{id}": {
      "get": {
        "operationId": "getCustomer",
        "summary": "Retrieve a single customer",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Customer ID"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field list"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Customer not found"
          }
        }
      },
      "put": {
        "operationId": "updateCustomer",
        "summary": "Modify an existing customer",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Customer ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Customer not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteCustomer",
        "summary": "Remove a customer",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Customer ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Customer not found"
          },
          "422": {
            "description": "Customer has associated orders and cannot be deleted"
          }
        }
      }
    },
    "/categories": {
      "get": {
        "operationId": "listCategories",
        "summary": "Retrieve all categories",
        "tags": [
          "Categories"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "since_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Results after specified ID"
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search language"
          },
          {
            "name": "handle",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "URL-friendly identifier"
          },
          {
            "name": "parent_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Parent category ID"
          },
          {
            "name": "created_at_min",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Minimum creation date"
          },
          {
            "name": "created_at_max",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Maximum creation date"
          },
          {
            "name": "updated_at_min",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Minimum update date"
          },
          {
            "name": "updated_at_max",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Maximum update date"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Results per page"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field list"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Category"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createCategory",
        "summary": "Create a new category",
        "tags": [
          "Categories"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCategoryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Category created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation error or limit exceeded"
          }
        }
      }
    },
    "/categories/{id}": {
      "get": {
        "operationId": "getCategory",
        "summary": "Retrieve a single category",
        "tags": [
          "Categories"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Category ID"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field list"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Category not found"
          }
        }
      },
      "put": {
        "operationId": "updateCategory",
        "summary": "Modify an existing category",
        "tags": [
          "Categories"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Category ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCategoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Category updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Category not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteCategory",
        "summary": "Remove a category",
        "tags": [
          "Categories"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Category ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Category deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Category not found"
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "Retrieve all webhooks",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "since_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Results after specified ID"
          },
          {
            "name": "url",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by webhook URL"
          },
          {
            "name": "event",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by event type"
          },
          {
            "name": "created_at_min",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Minimum creation date"
          },
          {
            "name": "created_at_max",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Maximum creation date"
          },
          {
            "name": "updated_at_min",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Minimum update date"
          },
          {
            "name": "updated_at_max",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Maximum update date"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Results per page"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field list"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Webhook"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Create a new webhook",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/webhooks/{id}": {
      "get": {
        "operationId": "getWebhook",
        "summary": "Retrieve a single webhook",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Webhook ID"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field list"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Webhook not found"
          }
        }
      },
      "put": {
        "operationId": "updateWebhook",
        "summary": "Modify an existing webhook",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Webhook ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Webhook not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Remove a webhook",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Webhook ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Webhook not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth 2.0 Bearer token. Pass as Authentication: bearer ACCESS_TOKEN header."
      }
    },
    "schemas": {
      "MultiLangString": {
        "type": "object",
        "properties": {
          "en": {
            "type": "string"
          },
          "es": {
            "type": "string"
          },
          "pt": {
            "type": "string"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "$ref": "#/components/schemas/MultiLangString"
          },
          "description": {
            "$ref": "#/components/schemas/MultiLangString"
          },
          "handle": {
            "$ref": "#/components/schemas/MultiLangString"
          },
          "brand": {
            "type": "string",
            "nullable": true
          },
          "published": {
            "type": "boolean"
          },
          "free_shipping": {
            "type": "boolean"
          },
          "video_url": {
            "type": "string",
            "nullable": true
          },
          "seo_title": {
            "type": "string"
          },
          "seo_description": {
            "type": "string"
          },
          "tags": {
            "type": "string"
          },
          "attributes": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "variants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductVariant"
            }
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductImage"
            }
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "requires_shipping": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ProductVariant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "price": {
            "type": "string"
          },
          "promotional_price": {
            "type": "string",
            "nullable": true
          },
          "stock": {
            "type": "integer",
            "nullable": true
          },
          "stock_management": {
            "type": "boolean"
          },
          "sku": {
            "type": "string"
          },
          "weight": {
            "type": "string"
          },
          "depth": {
            "type": "integer",
            "nullable": true
          },
          "height": {
            "type": "integer",
            "nullable": true
          },
          "width": {
            "type": "integer",
            "nullable": true
          },
          "cost": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ProductImage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "src": {
            "type": "string",
            "format": "uri"
          },
          "position": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "CreateProductRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "$ref": "#/components/schemas/MultiLangString"
          },
          "description": {
            "$ref": "#/components/schemas/MultiLangString"
          },
          "brand": {
            "type": "string",
            "nullable": true
          },
          "video_url": {
            "type": "string",
            "description": "HTTPS only"
          },
          "seo_title": {
            "type": "string",
            "maxLength": 70
          },
          "seo_description": {
            "type": "string",
            "maxLength": 320
          },
          "published": {
            "type": "boolean"
          },
          "free_shipping": {
            "type": "boolean"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "tags": {
            "type": "string"
          },
          "variants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductVariant"
            }
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductImage"
            }
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "number": {
            "type": "integer"
          },
          "token": {
            "type": "string"
          },
          "store_id": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "closed",
              "cancelled"
            ]
          },
          "payment_status": {
            "type": "string",
            "enum": [
              "pending",
              "authorized",
              "paid",
              "abandoned",
              "refunded",
              "voided"
            ]
          },
          "shipping_status": {
            "type": "string",
            "enum": [
              "unpacked",
              "unfulfilled",
              "fulfilled"
            ]
          },
          "contact_email": {
            "type": "string"
          },
          "contact_phone": {
            "type": "string"
          },
          "contact_identification": {
            "type": "string"
          },
          "subtotal": {
            "type": "number"
          },
          "discount": {
            "type": "number"
          },
          "total": {
            "type": "number"
          },
          "total_usd": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "gateway": {
            "type": "string"
          },
          "gateway_name": {
            "type": "string"
          },
          "payment_details": {
            "type": "object",
            "properties": {
              "method": {
                "type": "string"
              },
              "credit_card_company": {
                "type": "string"
              },
              "installments": {
                "type": "integer"
              }
            }
          },
          "paid_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "billing_address": {
            "$ref": "#/components/schemas/Address"
          },
          "shipping_address": {
            "$ref": "#/components/schemas/Address"
          },
          "products": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "product_id": {
                  "type": "integer"
                },
                "variant_id": {
                  "type": "integer"
                },
                "quantity": {
                  "type": "integer"
                },
                "price": {
                  "type": "number"
                },
                "name": {
                  "type": "string"
                },
                "sku": {
                  "type": "string"
                }
              }
            }
          },
          "note": {
            "type": "string",
            "nullable": true
          },
          "owner_note": {
            "type": "string",
            "nullable": true
          },
          "storefront": {
            "type": "string"
          },
          "app_id": {
            "type": "integer",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateOrderRequest": {
        "type": "object",
        "required": [
          "gateway",
          "products",
          "customer",
          "billing_address",
          "shipping_address",
          "shipping_pickup_type",
          "shipping",
          "shipping_option",
          "shipping_cost_customer"
        ],
        "properties": {
          "currency": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "gateway": {
            "type": "string",
            "enum": [
              "offline",
              "not-provided"
            ]
          },
          "payment_status": {
            "type": "string",
            "enum": [
              "pending",
              "authorized",
              "paid",
              "voided",
              "refunded",
              "abandoned"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "closed",
              "cancelled"
            ]
          },
          "fulfillment": {
            "type": "string",
            "default": "unpacked"
          },
          "products": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "product_id": {
                  "type": "integer"
                },
                "variant_id": {
                  "type": "integer"
                },
                "quantity": {
                  "type": "integer"
                }
              }
            }
          },
          "total": {
            "type": "number"
          },
          "inventory_behaviour": {
            "type": "string",
            "enum": [
              "bypass",
              "claim"
            ],
            "default": "bypass"
          },
          "customer": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "phone": {
                "type": "string"
              },
              "document": {
                "type": "string"
              }
            }
          },
          "billing_address": {
            "$ref": "#/components/schemas/Address"
          },
          "shipping_address": {
            "$ref": "#/components/schemas/Address"
          },
          "shipping_pickup_type": {
            "type": "string",
            "enum": [
              "ship",
              "pickup"
            ]
          },
          "shipping": {
            "type": "string",
            "enum": [
              "branch",
              "table",
              "not-provided"
            ]
          },
          "shipping_option": {
            "type": "string"
          },
          "shipping_tracking_number": {
            "type": "string"
          },
          "shipping_cost_customer": {
            "type": "number"
          },
          "shipping_cost_owner": {
            "type": "number"
          },
          "shipping_min_days": {
            "type": "integer"
          },
          "shipping_max_days": {
            "type": "integer"
          },
          "send_confirmation_email": {
            "type": "boolean",
            "default": false
          },
          "send_fulfillment_email": {
            "type": "boolean",
            "default": false
          },
          "note": {
            "type": "string"
          }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "identification": {
            "type": "string"
          },
          "note": {
            "type": "string",
            "nullable": true
          },
          "default_address": {
            "$ref": "#/components/schemas/Address"
          },
          "addresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "total_spent": {
            "type": "number"
          },
          "last_order_id": {
            "type": "integer",
            "nullable": true
          },
          "active": {
            "type": "boolean"
          },
          "accepts_marketing": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateCustomerRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "addresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "send_email_invite": {
            "type": "boolean"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "number": {
            "type": "string"
          },
          "floor": {
            "type": "string"
          },
          "locality": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "province": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "zipcode": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "$ref": "#/components/schemas/MultiLangString"
          },
          "handle": {
            "$ref": "#/components/schemas/MultiLangString"
          },
          "parent": {
            "type": "integer",
            "nullable": true
          },
          "google_shopping_category": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateCategoryRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "$ref": "#/components/schemas/MultiLangString"
          },
          "parent": {
            "type": "integer"
          },
          "google_shopping_category": {
            "type": "string"
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "event": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateWebhookRequest": {
        "type": "object",
        "required": [
          "event",
          "url"
        ],
        "properties": {
          "event": {
            "type": "string",
            "description": "Event type, e.g. product/created"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "HTTPS endpoint URL"
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}