{
  "openapi": "3.0.3",
  "info": {
    "title": "ClassDo API",
    "version": "1.0.0",
    "description": "ClassDo GraphQL API for managing online classrooms, rooms, and organizations.",
    "x-jentic-source-url": "https://developer.classdo.com/",
    "contact": {
      "name": "ClassDo Support",
      "url": "https://classdo.com"
    }
  },
  "servers": [
    {
      "url": "https://api.classdo.com/graphql",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Query",
      "description": "Query operations"
    },
    {
      "name": "Mutation",
      "description": "Mutation operations"
    },
    {
      "name": "Rooms",
      "description": "Room management"
    },
    {
      "name": "Organizations",
      "description": "Organization management"
    },
    {
      "name": "Users",
      "description": "User operations"
    }
  ],
  "paths": {
    "/graphql": {
      "post": {
        "tags": [
          "Query"
        ],
        "summary": "Execute GraphQL Query",
        "description": "Execute any GraphQL query or mutation against the ClassDo API",
        "operationId": "executeGraphQL",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphQLResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rooms": {
      "get": {
        "tags": [
          "Rooms"
        ],
        "summary": "List Rooms",
        "description": "Retrieve a list of rooms in your organization",
        "operationId": "listRooms",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of rooms to return"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Offset for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "List of rooms",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoomList"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Rooms"
        ],
        "summary": "Create Room",
        "description": "Create a new room in your organization",
        "operationId": "createRoom",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRoomRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Room created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Room"
                }
              }
            }
          }
        }
      }
    },
    "/rooms/{roomId}": {
      "get": {
        "tags": [
          "Rooms"
        ],
        "summary": "Get Room",
        "description": "Retrieve details of a specific room",
        "operationId": "getRoom",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Room ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Room details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Room"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Rooms"
        ],
        "summary": "Update Room",
        "description": "Update a room's properties",
        "operationId": "updateRoom",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRoomRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Room updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Room"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Rooms"
        ],
        "summary": "Delete Room",
        "description": "Delete a room",
        "operationId": "deleteRoom",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Room deleted"
          }
        }
      }
    },
    "/rooms/{roomId}/members": {
      "get": {
        "tags": [
          "Rooms"
        ],
        "summary": "List Room Members",
        "description": "Get members of a room",
        "operationId": "listRoomMembers",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of room members",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoomMemberList"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Rooms"
        ],
        "summary": "Add Room Member",
        "description": "Add a member to a room",
        "operationId": "addRoomMember",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddRoomMemberRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Member added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoomMember"
                }
              }
            }
          }
        }
      }
    },
    "/rooms/{roomId}/lock": {
      "post": {
        "tags": [
          "Rooms"
        ],
        "summary": "Lock Room",
        "description": "Lock a room to prevent new participants from joining",
        "operationId": "lockRoom",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Room locked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Room"
                }
              }
            }
          }
        }
      }
    },
    "/rooms/{roomId}/unlock": {
      "post": {
        "tags": [
          "Rooms"
        ],
        "summary": "Unlock Room",
        "description": "Unlock a room to allow new participants",
        "operationId": "unlockRoom",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Room unlocked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Room"
                }
              }
            }
          }
        }
      }
    },
    "/rooms/{roomId}/recording/start": {
      "post": {
        "tags": [
          "Rooms"
        ],
        "summary": "Start Recording",
        "description": "Start recording a room session",
        "operationId": "startRecording",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recording started"
          }
        }
      }
    },
    "/rooms/{roomId}/recording/stop": {
      "post": {
        "tags": [
          "Rooms"
        ],
        "summary": "Stop Recording",
        "description": "Stop recording a room session",
        "operationId": "stopRecording",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recording stopped"
          }
        }
      }
    },
    "/organizations/{orgId}/members": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "List Organization Members",
        "description": "Get members of an organization",
        "operationId": "listOrgMembers",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of organization members",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationMemberList"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Organizations"
        ],
        "summary": "Add Organization Member",
        "description": "Add a member to an organization",
        "operationId": "addOrgMember",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddOrgMemberRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Member added"
          }
        }
      }
    },
    "/invitations": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Send Invitation",
        "description": "Send an invitation to join a room or organization",
        "operationId": "sendInvitation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvitationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Invitation sent"
          }
        }
      }
    },
    "/billing": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get Billing Information",
        "description": "Retrieve billing information for the organization",
        "operationId": "getBilling",
        "responses": {
          "200": {
            "description": "Billing information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Billing"
                }
              }
            }
          }
        }
      }
    },
    "/viewer": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get Current User",
        "description": "Retrieve information about the authenticated user",
        "operationId": "getViewer",
        "responses": {
          "200": {
            "description": "Current user information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Viewer"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token for authentication"
      }
    },
    "schemas": {
      "GraphQLRequest": {
        "type": "object",
        "required": [
          "query"
        ],
        "properties": {
          "query": {
            "type": "string",
            "description": "GraphQL query string"
          },
          "variables": {
            "type": "object",
            "description": "Query variables"
          },
          "operationName": {
            "type": "string",
            "description": "Operation name"
          }
        }
      },
      "GraphQLResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "description": "Response data"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Room": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "groupId": {
            "type": "string"
          },
          "locked": {
            "type": "boolean"
          },
          "recordingStatus": {
            "type": "string",
            "enum": [
              "NOT_STARTED",
              "IN_PROGRESS",
              "COMPLETED",
              "FAILED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RoomList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Room"
            }
          },
          "pageInfo": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "CreateRoomRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "groupId": {
            "type": "string"
          }
        }
      },
      "UpdateRoomRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "locked": {
            "type": "boolean"
          }
        }
      },
      "RoomMember": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "roomId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "HOST",
              "GUEST",
              "MODERATOR"
            ]
          },
          "joinedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RoomMemberList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoomMember"
            }
          }
        }
      },
      "AddRoomMemberRequest": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "type": "string",
            "enum": [
              "HOST",
              "GUEST",
              "MODERATOR"
            ]
          }
        }
      },
      "OrganizationMemberList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "userId": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "role": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "AddOrgMemberRequest": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "type": "string"
          }
        }
      },
      "InvitationRequest": {
        "type": "object",
        "required": [
          "email",
          "roomId"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "roomId": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Billing": {
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "string"
          },
          "currentPlan": {
            "type": "string"
          },
          "usage": {
            "type": "object"
          }
        }
      },
      "Viewer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "organizationId": {
            "type": "string"
          }
        }
      },
      "PageInfo": {
        "type": "object",
        "properties": {
          "hasNextPage": {
            "type": "boolean"
          },
          "hasPreviousPage": {
            "type": "boolean"
          },
          "startCursor": {
            "type": "string"
          },
          "endCursor": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "object"
          }
        }
      }
    }
  }
}