{
  "openapi": "3.0.3",
  "info": {
    "title": "Scribble Maps Connect API",
    "version": "1.0.0",
    "description": "API for accessing Scribble Maps user map data and exporting maps in various formats (GeoJSON, KML, CSV, GPX, DXF, SHP) via OAuth 2.0 integration.",
    "x-jentic-source-url": "https://www.scribblemaps.com/api"
  },
  "servers": [
    {
      "url": "https://www.scribblemaps.com"
    }
  ],
  "paths": {
    "/api/user/maps/": {
      "get": {
        "operationId": "listUserMaps",
        "summary": "List all maps for the authenticated user",
        "description": "Returns a list of all maps owned by the authenticated user, including metadata and export URLs for each map.",
        "tags": [
          "Maps"
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of maps",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/maps/{mapCode}/{format}": {
      "get": {
        "operationId": "getMapData",
        "summary": "Get map data in a specified format",
        "description": "Retrieves map data for a specific map code in the requested export format. SHP format returns a zip file; other formats return their respective content types.",
        "tags": [
          "Maps"
        ],
        "parameters": [
          {
            "name": "mapCode",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the map",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "path",
            "required": true,
            "description": "Output format for the map data",
            "schema": {
              "type": "string",
              "enum": [
                "geojson",
                "kml",
                "csv",
                "smjson",
                "shp",
                "dxf",
                "gpx"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with map data in the requested format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Map data in the requested format (for GeoJSON and SMJson)"
                }
              },
              "application/vnd.google-earth.kml+xml": {
                "schema": {
                  "type": "string",
                  "description": "KML formatted map data"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string",
                  "description": "CSV formatted map data"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "SHP format returned as zip file"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid format specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Map not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MapListResponse": {
        "type": "object",
        "properties": {
          "mapList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MapSummary"
            }
          }
        }
      },
      "MapSummary": {
        "type": "object",
        "properties": {
          "mapCode": {
            "type": "string",
            "description": "Unique map identifier"
          },
          "title": {
            "type": "string",
            "description": "Map title"
          },
          "description": {
            "type": "string",
            "description": "Map description"
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "lastModified": {
            "type": "string",
            "format": "date-time",
            "description": "Last modification timestamp"
          },
          "isSecure": {
            "type": "boolean",
            "description": "Whether the map is password protected"
          },
          "isPublic": {
            "type": "boolean",
            "description": "Whether the map is publicly accessible"
          },
          "thumbUrl": {
            "type": "string",
            "description": "URL for the map thumbnail image"
          },
          "shareUrl": {
            "type": "string",
            "description": "Shareable URL for the map"
          },
          "geoJsonUrl": {
            "type": "string",
            "description": "Direct URL to export map as GeoJSON"
          },
          "kmlUrl": {
            "type": "string",
            "description": "Direct URL to export map as KML"
          },
          "smJsonUrl": {
            "type": "string",
            "description": "Direct URL to export map as SM JSON"
          },
          "csvUrl": {
            "type": "string",
            "description": "Direct URL to export map as CSV"
          },
          "gpxUrl": {
            "type": "string",
            "description": "Direct URL to export map as GPX"
          },
          "dxfUrl": {
            "type": "string",
            "description": "Direct URL to export map as DXF"
          },
          "shpUrl": {
            "type": "string",
            "description": "Direct URL to export map as SHP (Shapefile)"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "integer",
            "description": "Error code"
          }
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://www.scribblemaps.com/api/connect/authorize",
            "tokenUrl": "https://www.scribblemaps.com/api/connect/token",
            "scopes": {}
          }
        }
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}