{
  "openapi": "3.0.3",
  "info": {
    "title": "Imgur API",
    "description": "The Imgur API provides programmatic access to the Imgur image hosting platform. Upload, manage, and share images and albums. Supports OAuth 2.0 for user-authenticated actions and client ID for anonymous operations.",
    "version": "3.0.0",
    "contact": {
      "name": "Imgur",
      "url": "https://imgur.com"
    },
    "termsOfService": "https://imgur.com/tos",
    "x-jentic-source-url": "https://apidocs.imgur.com/"
  },
  "servers": [
    {
      "url": "https://api.imgur.com/3",
      "description": "Imgur API v3 production server"
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Account-related operations"
    },
    {
      "name": "Image",
      "description": "Image upload and management"
    },
    {
      "name": "Album",
      "description": "Album management operations"
    },
    {
      "name": "Gallery",
      "description": "Gallery browsing and interaction"
    },
    {
      "name": "Comment",
      "description": "Comment operations"
    }
  ],
  "paths": {
    "/image": {
      "post": {
        "tags": ["Image"],
        "summary": "Upload an image",
        "description": "Upload a new image. You can upload via file, URL, or base64-encoded data.",
        "operationId": "uploadImage",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "description": "A binary file, base64 data, or a URL for an image. (up to 10MB for images, 200MB for GIFs)"
                  },
                  "album": {
                    "type": "string",
                    "description": "The deletehash of the album to add the image to (for anonymous albums)"
                  },
                  "type": {
                    "type": "string",
                    "enum": ["file", "base64", "URL"],
                    "description": "The type of the file being sent"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the file"
                  },
                  "title": {
                    "type": "string",
                    "description": "The title of the image"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the image"
                  },
                  "disable_audio": {
                    "type": "integer",
                    "enum": [0, 1],
                    "description": "Set to 1 to remove audio from video files"
                  }
                },
                "required": ["image"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - user banned or capacity exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "clientId": []
          },
          {
            "oauth2": []
          }
        ]
      }
    },
    "/image/{imageHash}": {
      "get": {
        "tags": ["Image"],
        "summary": "Get image information",
        "description": "Get information about an image.",
        "operationId": "getImage",
        "parameters": [
          {
            "name": "imageHash",
            "in": "path",
            "required": true,
            "description": "The ID or deletehash of the image",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Image information retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Image not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "clientId": []
          }
        ]
      },
      "post": {
        "tags": ["Image"],
        "summary": "Update image information",
        "description": "Update the title or description of an image.",
        "operationId": "updateImage",
        "parameters": [
          {
            "name": "imageHash",
            "in": "path",
            "required": true,
            "description": "The ID or deletehash of the image",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "The title of the image"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the image"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Image not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "delete": {
        "tags": ["Image"],
        "summary": "Delete an image",
        "description": "Delete an image. For an anonymous image, use the deletehash. For an account image, use the image ID and authenticate.",
        "operationId": "deleteImage",
        "parameters": [
          {
            "name": "imageHash",
            "in": "path",
            "required": true,
            "description": "The ID or deletehash of the image",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Image deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Image not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "clientId": []
          },
          {
            "oauth2": []
          }
        ]
      }
    },
    "/image/{imageHash}/favorite": {
      "post": {
        "tags": ["Image"],
        "summary": "Favorite an image",
        "description": "Favorite an image with the given ID. Requires user authentication.",
        "operationId": "favoriteImage",
        "parameters": [
          {
            "name": "imageHash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Image favorited/unfavorited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/album/{albumHash}": {
      "get": {
        "tags": ["Album"],
        "summary": "Get album information",
        "description": "Get information about a specific album.",
        "operationId": "getAlbum",
        "parameters": [
          {
            "name": "albumHash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Album information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlbumResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Album not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "clientId": []
          }
        ]
      },
      "put": {
        "tags": ["Album"],
        "summary": "Update album",
        "description": "Update the information of an album.",
        "operationId": "updateAlbum",
        "parameters": [
          {
            "name": "albumHash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Image IDs to set as album contents"
                  },
                  "deletehashes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Deletehashes for anonymous images"
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "privacy": {
                    "type": "string",
                    "enum": ["public", "hidden", "secret"]
                  },
                  "cover": {
                    "type": "string",
                    "description": "Image ID to use as album cover"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Album updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Album not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "delete": {
        "tags": ["Album"],
        "summary": "Delete album",
        "description": "Delete an album with a given ID or deletehash.",
        "operationId": "deleteAlbum",
        "parameters": [
          {
            "name": "albumHash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Album deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Album not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/album": {
      "post": {
        "tags": ["Album"],
        "summary": "Create album",
        "description": "Create a new album.",
        "operationId": "createAlbum",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Image IDs to add to the album"
                  },
                  "deletehashes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Deletehashes of anonymous images to add"
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "privacy": {
                    "type": "string",
                    "enum": ["public", "hidden", "secret"]
                  },
                  "cover": {
                    "type": "string",
                    "description": "Image ID to use as album cover"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Album created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "deletehash": {
                          "type": "string"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "clientId": []
          },
          {
            "oauth2": []
          }
        ]
      }
    },
    "/album/{albumHash}/images": {
      "get": {
        "tags": ["Album"],
        "summary": "Get album images",
        "description": "Get all images in an album.",
        "operationId": "getAlbumImages",
        "parameters": [
          {
            "name": "albumHash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Album images",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Image"
                      }
                    },
                    "success": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Album not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "clientId": []
          }
        ]
      }
    },
    "/album/{albumHash}/add": {
      "post": {
        "tags": ["Album"],
        "summary": "Add images to album",
        "description": "Add images to an existing album.",
        "operationId": "addImagesToAlbum",
        "parameters": [
          {
            "name": "albumHash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "deletehashes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Images added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/album/{albumHash}/remove_images": {
      "post": {
        "tags": ["Album"],
        "summary": "Remove images from album",
        "description": "Remove images from an album.",
        "operationId": "removeImagesFromAlbum",
        "parameters": [
          {
            "name": "albumHash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": ["ids"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Images removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/account/{username}": {
      "get": {
        "tags": ["Account"],
        "summary": "Get account info",
        "description": "Request standard user information. If you need the username for the account that is logged in, use 'me' as the username.",
        "operationId": "getAccount",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Username or 'me' for authenticated user"
          }
        ],
        "responses": {
          "200": {
            "description": "Account information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponse"
                }
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "clientId": []
          }
        ]
      }
    },
    "/account/{username}/images": {
      "get": {
        "tags": ["Account"],
        "summary": "Get account images",
        "description": "Get all images for the authenticated account. Use 'me' for the logged-in user.",
        "operationId": "getAccountImages",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User images",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Image"
                      }
                    },
                    "success": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/account/{username}/albums": {
      "get": {
        "tags": ["Account"],
        "summary": "Get account albums",
        "description": "Get all albums for the specified account.",
        "operationId": "getAccountAlbums",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account albums",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Album"
                      }
                    },
                    "success": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/account/{username}/favorites": {
      "get": {
        "tags": ["Account"],
        "summary": "Get account favorites",
        "description": "Returns the users favorited images.",
        "operationId": "getAccountFavorites",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "favoritesSort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["oldest", "newest"],
              "default": "newest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Favorited images",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Image"
                      }
                    },
                    "success": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/gallery/{section}/{sort}/{window}/{page}": {
      "get": {
        "tags": ["Gallery"],
        "summary": "Browse gallery",
        "description": "Returns the images in the gallery.",
        "operationId": "getGallery",
        "parameters": [
          {
            "name": "section",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["hot", "top", "user"],
              "default": "hot"
            }
          },
          {
            "name": "sort",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["viral", "top", "time", "rising"],
              "default": "viral"
            }
          },
          {
            "name": "window",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["day", "week", "month", "year", "all"],
              "default": "day"
            }
          },
          {
            "name": "page",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "showViral",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "mature",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gallery items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GalleryItem"
                      }
                    },
                    "success": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "clientId": []
          }
        ]
      }
    },
    "/gallery/search/{sort}/{window}/{page}": {
      "get": {
        "tags": ["Gallery"],
        "summary": "Search gallery",
        "description": "Search the gallery with a given query string.",
        "operationId": "searchGallery",
        "parameters": [
          {
            "name": "sort",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["time", "viral", "top"],
              "default": "time"
            }
          },
          {
            "name": "window",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["all", "day", "week", "month", "year"]
            }
          },
          {
            "name": "page",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Query string"
          },
          {
            "name": "q_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["jpg", "png", "gif", "anigif", "album"]
            }
          },
          {
            "name": "q_size_px",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["small", "med", "big", "lrg", "huge"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GalleryItem"
                      }
                    },
                    "success": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "clientId": []
          }
        ]
      }
    },
    "/gallery/{galleryHash}/vote/{vote}": {
      "post": {
        "tags": ["Gallery"],
        "summary": "Vote on gallery item",
        "description": "Vote for an image or album in the gallery.",
        "operationId": "voteGalleryItem",
        "parameters": [
          {
            "name": "galleryHash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vote",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["up", "down", "veto"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vote recorded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/gallery/{galleryHash}/comments": {
      "get": {
        "tags": ["Comment"],
        "summary": "Get gallery comments",
        "description": "Get comments on a gallery item.",
        "operationId": "getGalleryComments",
        "parameters": [
          {
            "name": "galleryHash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "commentSort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["best", "top", "new"],
              "default": "best"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comments list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Comment"
                      }
                    },
                    "success": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "clientId": []
          }
        ]
      }
    },
    "/gallery/{galleryHash}/comment": {
      "post": {
        "tags": ["Comment"],
        "summary": "Create a comment",
        "description": "Create a comment on a gallery item.",
        "operationId": "createComment",
        "parameters": [
          {
            "name": "galleryHash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": {
                    "type": "string",
                    "description": "The comment text"
                  }
                },
                "required": ["comment"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/comment/{commentId}": {
      "get": {
        "tags": ["Comment"],
        "summary": "Get comment",
        "description": "Get information about a specific comment.",
        "operationId": "getComment",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comment details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Comment"
                    },
                    "success": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Comment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "clientId": []
          }
        ]
      },
      "delete": {
        "tags": ["Comment"],
        "summary": "Delete comment",
        "description": "Delete a comment by the logged-in user.",
        "operationId": "deleteComment",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comment deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/credits": {
      "get": {
        "tags": ["Account"],
        "summary": "Get rate limit credits",
        "description": "Get the current rate limit status for the client application.",
        "operationId": "getCredits",
        "responses": {
          "200": {
            "description": "Credit information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "UserLimit": {
                          "type": "integer"
                        },
                        "UserRemaining": {
                          "type": "integer"
                        },
                        "UserReset": {
                          "type": "integer"
                        },
                        "ClientLimit": {
                          "type": "integer"
                        },
                        "ClientRemaining": {
                          "type": "integer"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "clientId": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "clientId": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "Client ID authentication. Pass as 'Client-ID {your_client_id}'"
      },
      "oauth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authentication for user-specific actions",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.imgur.com/oauth2/authorize",
            "tokenUrl": "https://api.imgur.com/oauth2/token",
            "scopes": {}
          },
          "implicit": {
            "authorizationUrl": "https://api.imgur.com/oauth2/authorize",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "Image": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID for the image"
          },
          "title": {
            "type": "string",
            "nullable": true,
            "description": "The title of the image"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Description of the image"
          },
          "datetime": {
            "type": "integer",
            "description": "Time inserted into the gallery (epoch time)"
          },
          "type": {
            "type": "string",
            "description": "Image MIME type"
          },
          "animated": {
            "type": "boolean",
            "description": "Is the image animated"
          },
          "width": {
            "type": "integer",
            "description": "The width of the image in pixels"
          },
          "height": {
            "type": "integer",
            "description": "The height of the image in pixels"
          },
          "size": {
            "type": "integer",
            "description": "The size of the image in bytes"
          },
          "views": {
            "type": "integer",
            "description": "The number of image views"
          },
          "bandwidth": {
            "type": "integer",
            "description": "Bandwidth consumed by the image in bytes"
          },
          "deletehash": {
            "type": "string",
            "description": "Deletehash for anonymous delete"
          },
          "link": {
            "type": "string",
            "format": "uri",
            "description": "The direct link to the image"
          },
          "favorite": {
            "type": "boolean"
          },
          "nsfw": {
            "type": "boolean",
            "nullable": true
          },
          "section": {
            "type": "string",
            "nullable": true
          },
          "account_url": {
            "type": "string",
            "nullable": true
          },
          "account_id": {
            "type": "integer",
            "nullable": true
          },
          "in_most_viral": {
            "type": "boolean"
          }
        }
      },
      "Album": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "datetime": {
            "type": "integer"
          },
          "cover": {
            "type": "string",
            "description": "The ID of the album cover image"
          },
          "cover_width": {
            "type": "integer"
          },
          "cover_height": {
            "type": "integer"
          },
          "account_url": {
            "type": "string",
            "nullable": true
          },
          "account_id": {
            "type": "integer",
            "nullable": true
          },
          "privacy": {
            "type": "string",
            "enum": ["public", "hidden", "secret"]
          },
          "layout": {
            "type": "string"
          },
          "views": {
            "type": "integer"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "favorite": {
            "type": "boolean"
          },
          "nsfw": {
            "type": "boolean",
            "nullable": true
          },
          "images_count": {
            "type": "integer"
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Image"
            }
          },
          "deletehash": {
            "type": "string"
          }
        }
      },
      "GalleryItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "datetime": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "animated": {
            "type": "boolean"
          },
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "size": {
            "type": "integer"
          },
          "views": {
            "type": "integer"
          },
          "bandwidth": {
            "type": "integer"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "ups": {
            "type": "integer"
          },
          "downs": {
            "type": "integer"
          },
          "points": {
            "type": "integer"
          },
          "score": {
            "type": "integer"
          },
          "is_album": {
            "type": "boolean"
          },
          "vote": {
            "type": "string",
            "nullable": true
          },
          "favorite": {
            "type": "boolean"
          },
          "nsfw": {
            "type": "boolean"
          },
          "comment_count": {
            "type": "integer"
          },
          "topic": {
            "type": "string",
            "nullable": true
          },
          "topic_id": {
            "type": "integer",
            "nullable": true
          },
          "account_url": {
            "type": "string"
          },
          "account_id": {
            "type": "integer"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "display_name": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "image_id": {
            "type": "string"
          },
          "comment": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "author_id": {
            "type": "integer"
          },
          "on_album": {
            "type": "boolean"
          },
          "album_cover": {
            "type": "string",
            "nullable": true
          },
          "ups": {
            "type": "integer"
          },
          "downs": {
            "type": "integer"
          },
          "points": {
            "type": "number"
          },
          "datetime": {
            "type": "integer"
          },
          "parent_id": {
            "type": "integer"
          },
          "deleted": {
            "type": "boolean"
          },
          "vote": {
            "type": "string",
            "nullable": true
          },
          "children": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Comment"
            }
          }
        }
      },
      "ImageUploadResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Image"
          },
          "success": {
            "type": "boolean"
          },
          "status": {
            "type": "integer"
          }
        }
      },
      "ImageResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Image"
          },
          "success": {
            "type": "boolean"
          },
          "status": {
            "type": "integer"
          }
        }
      },
      "AlbumResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Album"
          },
          "success": {
            "type": "boolean"
          },
          "status": {
            "type": "integer"
          }
        }
      },
      "AccountResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "url": {
                "type": "string"
              },
              "bio": {
                "type": "string",
                "nullable": true
              },
              "avatar": {
                "type": "string"
              },
              "avatar_name": {
                "type": "string"
              },
              "cover": {
                "type": "string"
              },
              "cover_name": {
                "type": "string"
              },
              "reputation": {
                "type": "number"
              },
              "reputation_name": {
                "type": "string"
              },
              "created": {
                "type": "integer"
              },
              "pro_expiration": {
                "type": "boolean"
              },
              "user_follow": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "boolean"
                  }
                }
              }
            }
          },
          "success": {
            "type": "boolean"
          },
          "status": {
            "type": "integer"
          }
        }
      },
      "BasicResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "boolean"
          },
          "success": {
            "type": "boolean"
          },
          "status": {
            "type": "integer"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "error": {
                "type": "string",
                "description": "Error message"
              },
              "request": {
                "type": "string",
                "description": "The request URI"
              },
              "method": {
                "type": "string",
                "description": "The request method"
              }
            }
          },
          "success": {
            "type": "boolean",
            "example": false
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code"
          }
        }
      }
    }
  }
}
