{
  "openapi": "3.0.3",
  "info": {
    "title": "TPSCheck API",
    "version": "1.0.0",
    "description": "API for verifying UK phone numbers against TPS/CTPS registry.",
    "x-jentic-source-url": "https://www.tpscheck.uk/documentation/"
  },
  "servers": [
    {
      "url": "https://api.tpscheck.uk"
    }
  ],
  "paths": {
    "/status": {
      "get": {
        "operationId": "getStatus",
        "summary": "Check API health",
        "tags": [
          "Status"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/check": {
      "post": {
        "operationId": "checkNumber",
        "summary": "Check a single phone number",
        "tags": [
          "Check"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ],
              "default": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/batch": {
      "post": {
        "operationId": "batchCheck",
        "summary": "Check multiple phone numbers",
        "tags": [
          "Check"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCheckRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ],
              "default": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CheckResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/credits": {
      "get": {
        "operationId": "getCredits",
        "summary": "Check API usage and credits",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "StatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "version": {
            "type": "string"
          }
        }
      },
      "CheckRequest": {
        "type": "object",
        "required": [
          "phone"
        ],
        "properties": {
          "phone": {
            "type": "string",
            "description": "UK phone number to verify"
          }
        }
      },
      "BatchCheckRequest": {
        "type": "object",
        "required": [
          "phones"
        ],
        "properties": {
          "phones": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 100
          }
        }
      },
      "CheckResponse": {
        "type": "object",
        "properties": {
          "phone": {
            "type": "string"
          },
          "tps": {
            "type": "boolean"
          },
          "ctps": {
            "type": "boolean"
          },
          "line_type": {
            "type": "string"
          },
          "carrier": {
            "type": "string"
          },
          "location": {
            "type": "string"
          }
        }
      },
      "CreditsResponse": {
        "type": "object",
        "properties": {
          "requests_used": {
            "type": "integer"
          },
          "requests_remaining": {
            "type": "integer"
          },
          "monthly_limit": {
            "type": "integer"
          },
          "plan": {
            "type": "string"
          },
          "reset_date": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Token YOUR_API_KEY"
      }
    }
  },
  "security": [
    {
      "tokenAuth": []
    }
  ]
}