{
  "openapi": "3.0.3",
  "info": {
    "title": "ACT Open Data API",
    "version": "2.1.0",
    "description": "ACT Government Open Data portal powered by Socrata SODA API. Provides programmatic access to Australian Capital Territory government datasets.",
    "x-jentic-source-url": "https://www.data.act.gov.au/"
  },
  "servers": [
    {
      "url": "https://www.data.act.gov.au"
    }
  ],
  "paths": {
    "/resource/{dataset_id}.json": {
      "get": {
        "operationId": "queryDataset",
        "summary": "Query a dataset using SODA",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$where",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$order",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1000
            }
          },
          {
            "name": "$offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "$group",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/views.json": {
      "get": {
        "operationId": "listDatasets",
        "summary": "List available datasets",
        "tags": [
          "Catalog"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}