{
  "openapi": "3.0.3",
  "info": {
    "title": "Fathom Analytics API",
    "version": "1.0.0",
    "description": "Fathom Analytics provides simple, privacy-focused website analytics. The API allows you to manage sites, events, aggregations, and account data programmatically.",
    "x-jentic-source-url": "https://usefathom.com/api"
  },
  "servers": [
    {
      "url": "https://api.usefathom.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Sites",
      "description": "Manage sites"
    },
    {
      "name": "Events",
      "description": "Manage events"
    },
    {
      "name": "Aggregations",
      "description": "Query analytics data"
    },
    {
      "name": "Current Visitors",
      "description": "Real-time visitor data"
    },
    {
      "name": "Account",
      "description": "Account management"
    }
  ],
  "paths": {
    "/sites": {
      "get": {
        "operationId": "listSites",
        "summary": "List sites",
        "description": "Returns a paginated list of all sites in your account.",
        "tags": [
          "Sites"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            },
            "description": "Maximum number of sites to return."
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination. Pass the last site ID from previous page."
          },
          {
            "name": "exclusions",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to exclude from response."
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of sites",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createSite",
        "summary": "Create a site",
        "description": "Creates a new site in your Fathom account.",
        "tags": [
          "Sites"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSiteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created site",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sites/{site_id}": {
      "get": {
        "operationId": "getSite",
        "summary": "Get a site",
        "description": "Returns a specific site by its ID.",
        "tags": [
          "Sites"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The site ID."
          },
          {
            "name": "exclusions",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to exclude."
          }
        ],
        "responses": {
          "200": {
            "description": "Site object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateSite",
        "summary": "Update a site",
        "description": "Updates a site's settings.",
        "tags": [
          "Sites"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The site ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSiteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated site",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteSite",
        "summary": "Delete a site",
        "description": "Permanently deletes a site and all its data.",
        "tags": [
          "Sites"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The site ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Site deleted successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sites/{site_id}/wipe": {
      "delete": {
        "operationId": "wipeSite",
        "summary": "Wipe a site",
        "description": "Wipes all analytics data for a site without deleting the site itself.",
        "tags": [
          "Sites"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The site ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Site data wiped successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/events": {
      "get": {
        "operationId": "listEvents",
        "summary": "List events",
        "description": "Returns a paginated list of all events for a given site.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The site ID to list events for."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            },
            "description": "Maximum number of events to return."
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination."
          },
          {
            "name": "exclusions",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to exclude."
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createEvent",
        "summary": "Create an event",
        "description": "Creates a new event (goal) for a site.",
        "tags": [
          "Events"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEventRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created event",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/events/{event_id}": {
      "get": {
        "operationId": "getEvent",
        "summary": "Get an event",
        "description": "Returns a specific event by its ID.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The event ID."
          },
          {
            "name": "exclusions",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to exclude."
          }
        ],
        "responses": {
          "200": {
            "description": "Event object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateEvent",
        "summary": "Update an event",
        "description": "Updates an event's settings.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The event ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEventRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated event",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteEvent",
        "summary": "Delete an event",
        "description": "Permanently deletes an event.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The event ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Event deleted successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/events/{event_id}/wipe": {
      "delete": {
        "operationId": "wipeEvent",
        "summary": "Wipe an event",
        "description": "Wipes all data for an event without deleting the event itself.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The event ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Event data wiped successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/aggregations": {
      "get": {
        "operationId": "getAggregations",
        "summary": "Get aggregations",
        "description": "Query analytics data with various grouping and filtering options. Returns pageview and visit data aggregated by the specified entity.",
        "tags": [
          "Aggregations"
        ],
        "parameters": [
          {
            "name": "entity_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The site ID or event ID to query."
          },
          {
            "name": "entity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "pageview",
                "event"
              ]
            },
            "description": "The entity type to aggregate."
          },
          {
            "name": "aggregates",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of aggregation functions: visits, uniques, pageviews, avg_duration, bounce_rate."
          },
          {
            "name": "date_from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Start date for the aggregation period (ISO 8601)."
          },
          {
            "name": "date_to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "End date for the aggregation period (ISO 8601)."
          },
          {
            "name": "date_grouping",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "hour",
                "day",
                "month",
                "year"
              ]
            },
            "description": "Group results by time period."
          },
          {
            "name": "field_grouping",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Group results by a field such as hostname, pathname, referrer_hostname, referrer_pathname, utm_source, utm_medium, utm_campaign, utm_content, utm_term, country_code, device_type, browser, os."
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field to sort results by."
          },
          {
            "name": "timezone",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Timezone for date grouping (e.g., America/New_York)."
          },
          {
            "name": "filters",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON-encoded array of filter objects to narrow results."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 200
            },
            "description": "Maximum number of results."
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregation results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Aggregation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/current_visitors": {
      "get": {
        "operationId": "getCurrentVisitors",
        "summary": "Get current visitors",
        "description": "Returns the number of visitors currently on a site in real-time.",
        "tags": [
          "Current Visitors"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The site ID."
          },
          {
            "name": "detailed",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "If true, returns detailed breakdown by page."
          }
        ],
        "responses": {
          "200": {
            "description": "Current visitor count",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrentVisitors"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get account details",
        "description": "Returns details about your Fathom account.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Fathom API token. Generate from your Fathom dashboard under Settings > API."
      }
    },
    "schemas": {
      "Site": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique site identifier."
          },
          "object": {
            "type": "string",
            "enum": [
              "site"
            ],
            "description": "Object type."
          },
          "name": {
            "type": "string",
            "description": "The name of the site."
          },
          "sharing": {
            "type": "string",
            "enum": [
              "none",
              "private",
              "public"
            ],
            "description": "Sharing level for the site dashboard."
          },
          "share_password": {
            "type": "string",
            "description": "Password for private sharing."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp."
          }
        }
      },
      "SiteList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "url": {
            "type": "string"
          },
          "has_more": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Site"
            }
          }
        }
      },
      "CreateSiteRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the site."
          },
          "sharing": {
            "type": "string",
            "enum": [
              "none",
              "private",
              "public"
            ],
            "description": "Dashboard sharing level."
          },
          "share_password": {
            "type": "string",
            "description": "Password if sharing is private."
          }
        }
      },
      "UpdateSiteRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the site."
          },
          "sharing": {
            "type": "string",
            "enum": [
              "none",
              "private",
              "public"
            ],
            "description": "Dashboard sharing level."
          },
          "share_password": {
            "type": "string",
            "description": "Password if sharing is private."
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique event identifier."
          },
          "object": {
            "type": "string",
            "enum": [
              "event"
            ],
            "description": "Object type."
          },
          "name": {
            "type": "string",
            "description": "The name of the event."
          },
          "site_id": {
            "type": "string",
            "description": "The site this event belongs to."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp."
          }
        }
      },
      "EventList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "url": {
            "type": "string"
          },
          "has_more": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          }
        }
      },
      "CreateEventRequest": {
        "type": "object",
        "required": [
          "site_id",
          "name"
        ],
        "properties": {
          "site_id": {
            "type": "string",
            "description": "The site to create the event for."
          },
          "name": {
            "type": "string",
            "description": "Name of the event."
          }
        }
      },
      "UpdateEventRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the event."
          }
        }
      },
      "Aggregation": {
        "type": "object",
        "description": "An aggregation result row. Fields vary based on the aggregation query.",
        "properties": {
          "visits": {
            "type": "integer",
            "description": "Number of visits."
          },
          "uniques": {
            "type": "integer",
            "description": "Number of unique visitors."
          },
          "pageviews": {
            "type": "integer",
            "description": "Number of pageviews."
          },
          "avg_duration": {
            "type": "number",
            "format": "float",
            "description": "Average visit duration in seconds."
          },
          "bounce_rate": {
            "type": "number",
            "format": "float",
            "description": "Bounce rate as a decimal (0.0-1.0)."
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "Date for time-grouped results."
          },
          "hostname": {
            "type": "string",
            "description": "Hostname for field-grouped results."
          },
          "pathname": {
            "type": "string",
            "description": "Pathname for field-grouped results."
          },
          "country_code": {
            "type": "string",
            "description": "Country code for field-grouped results."
          },
          "device_type": {
            "type": "string",
            "description": "Device type for field-grouped results."
          },
          "browser": {
            "type": "string",
            "description": "Browser for field-grouped results."
          },
          "os": {
            "type": "string",
            "description": "Operating system for field-grouped results."
          },
          "referrer_hostname": {
            "type": "string",
            "description": "Referrer hostname for field-grouped results."
          },
          "referrer_pathname": {
            "type": "string",
            "description": "Referrer pathname for field-grouped results."
          },
          "utm_source": {
            "type": "string"
          },
          "utm_medium": {
            "type": "string"
          },
          "utm_campaign": {
            "type": "string"
          },
          "utm_content": {
            "type": "string"
          },
          "utm_term": {
            "type": "string"
          }
        }
      },
      "CurrentVisitors": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total number of current visitors."
          },
          "content": {
            "type": "array",
            "description": "Detailed breakdown by page (only if detailed=true).",
            "items": {
              "type": "object",
              "properties": {
                "hostname": {
                  "type": "string"
                },
                "pathname": {
                  "type": "string"
                },
                "total": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Account ID."
          },
          "object": {
            "type": "string",
            "enum": [
              "account"
            ]
          },
          "name": {
            "type": "string",
            "description": "Account owner name."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Account email."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message."
          }
        }
      }
    }
  }
}