{
  "openapi": "3.0.3",
  "info": {
    "title": "ProctorExam API",
    "version": "3.0.0",
    "description": "The ProctorExam API allows for CRUD operations on exams, student sessions, attachments, documents, institutes, LTI resources, and identity providers.",
    "x-jentic-source-url": "https://docs.proctorexam.com/"
  },
  "servers": [
    {
      "url": "https://app.proctorexam.com/api/v3",
      "description": "ProctorExam API v3"
    }
  ],
  "paths": {
    "/exams": {
      "get": {
        "operationId": "listExams",
        "summary": "List exams",
        "tags": [
          "Exams"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "JSON filter for exams, e.g. {\"start_time\":{\"gte\":\"2025-02-01\"}}",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "JSON sort array, e.g. [{\"start_time\":\"desc\"}]",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of exams",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Exam"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createExam",
        "summary": "Create an exam",
        "tags": [
          "Exams"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExamInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Exam created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exam"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/exams/{id}": {
      "get": {
        "operationId": "getExam",
        "summary": "Show an exam",
        "tags": [
          "Exams"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Exam details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exam"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "updateExam",
        "summary": "Update an exam",
        "tags": [
          "Exams"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExamInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Exam updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exam"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteExam",
        "summary": "Destroy an exam",
        "tags": [
          "Exams"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Exam deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/exams/{id}/send_emails": {
      "post": {
        "operationId": "sendExamEmails",
        "summary": "Send exam emails for all students in an exam",
        "tags": [
          "Exams"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Emails sent"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/exams/{id}/add_comanager": {
      "put": {
        "operationId": "addComanager",
        "summary": "Add a user as a comanager to an exam",
        "tags": [
          "Exams"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comanager added"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/exams/{id}/remove_comanager": {
      "delete": {
        "operationId": "removeComanager",
        "summary": "Remove a user as a comanager from an exam",
        "tags": [
          "Exams"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comanager removed"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/exams/{id}/generate_exam_documents_zip": {
      "put": {
        "operationId": "generateExamDocumentsZip",
        "summary": "Request a job to create a zip file of all uploaded student files",
        "tags": [
          "Exams"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Job queued"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/exams/{id}/status_exam_documents_zip": {
      "get": {
        "operationId": "getExamDocumentsZipStatus",
        "summary": "Check the status of the zip generation job",
        "tags": [
          "Exams"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Zip job status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZipJobStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/exams/{id}/download_exam_documents_zip": {
      "get": {
        "operationId": "downloadExamDocumentsZip",
        "summary": "Download the zip file of student documents",
        "tags": [
          "Exams"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Binary zip file",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/exams/{id}/show_lti_student": {
      "get": {
        "operationId": "showLtiStudent",
        "summary": "Show a student in an LTI exam",
        "tags": [
          "Exams"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "LTI student details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudentSession"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/exams/{exam_id}/student_sessions": {
      "get": {
        "operationId": "listExamStudentSessions",
        "summary": "List students in an exam",
        "tags": [
          "StudentSessions"
        ],
        "parameters": [
          {
            "name": "exam_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of student sessions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StudentSession"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createStudentSession",
        "summary": "Create and add a student to an exam",
        "tags": [
          "StudentSessions"
        ],
        "parameters": [
          {
            "name": "exam_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StudentSessionInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Student session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudentSession"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/student_sessions": {
      "get": {
        "operationId": "listAllStudentSessions",
        "summary": "List all student sessions",
        "tags": [
          "StudentSessions"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "JSON filter string",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "JSON sort array",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of student sessions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StudentSession"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/student_sessions/{id}": {
      "get": {
        "operationId": "getStudentSession",
        "summary": "Show a student session by ID",
        "tags": [
          "StudentSessions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Student session details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudentSession"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "updateStudentSession",
        "summary": "Update a student session",
        "tags": [
          "StudentSessions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StudentSessionInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Student session updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudentSession"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteStudentSession",
        "summary": "Remove a student from an exam",
        "tags": [
          "StudentSessions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Student session deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/student_sessions/{id}/end_exam": {
      "post": {
        "operationId": "endStudentExam",
        "summary": "End a student session, stop recordings and notify the student",
        "tags": [
          "StudentSessions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session ended"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/student_sessions/{id}/id_card": {
      "delete": {
        "operationId": "deleteStudentIdCard",
        "summary": "Destroy the ID photo of a student",
        "tags": [
          "StudentSessions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ID card photo deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/student_sessions/{id}/face_photo": {
      "get": {
        "operationId": "getStudentFacePhoto",
        "summary": "Get an expiring URL for the face photo of the student",
        "tags": [
          "StudentSessions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Expiring URL for face photo",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhotoUrl"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteStudentFacePhoto",
        "summary": "Destroy the face photo of a student",
        "tags": [
          "StudentSessions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Face photo deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/student_sessions/{id}/assign_proctor": {
      "post": {
        "operationId": "assignProctor",
        "summary": "Assign a proctor to a student session",
        "tags": [
          "StudentSessions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Proctor assigned"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/student_sessions/{id}/assigned_proctor": {
      "delete": {
        "operationId": "unassignProctor",
        "summary": "Unassign a proctor from a student session",
        "tags": [
          "StudentSessions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Proctor unassigned"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/exams/{exam_id}/attachments": {
      "get": {
        "operationId": "listAttachments",
        "summary": "List attachments for an exam",
        "tags": [
          "Attachments"
        ],
        "parameters": [
          {
            "name": "exam_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of attachments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Attachment"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createAttachment",
        "summary": "Create an attachment using multipart upload",
        "tags": [
          "Attachments"
        ],
        "parameters": [
          {
            "name": "exam_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Attachment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attachment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/exams/{exam_id}/attachments/{id}": {
      "get": {
        "operationId": "getAttachment",
        "summary": "Show an attachment",
        "tags": [
          "Attachments"
        ],
        "parameters": [
          {
            "name": "exam_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attachment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attachment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteAttachment",
        "summary": "Destroy an attachment",
        "tags": [
          "Attachments"
        ],
        "parameters": [
          {
            "name": "exam_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attachment deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/exams/{exam_id}/documents": {
      "get": {
        "operationId": "listDocuments",
        "summary": "List documents for an exam",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "exam_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of documents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Document"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createDocument",
        "summary": "Create a document",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "exam_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Document created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/exams/{exam_id}/documents/{id}": {
      "get": {
        "operationId": "getDocument",
        "summary": "Show a document",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "exam_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "updateDocument",
        "summary": "Update a document",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "exam_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteDocument",
        "summary": "Destroy a document",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "exam_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/institutes": {
      "get": {
        "operationId": "listInstitutes",
        "summary": "List all institutes (Premium - Superuser only)",
        "tags": [
          "Institutes"
        ],
        "responses": {
          "200": {
            "description": "List of institutes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Institute"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createInstitute",
        "summary": "Create an institute (Premium - Superuser only)",
        "tags": [
          "Institutes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InstituteInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Institute created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Institute"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/institutes/{id}": {
      "get": {
        "operationId": "getInstitute",
        "summary": "Show an institute",
        "tags": [
          "Institutes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Institute details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Institute"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "updateInstitute",
        "summary": "Update an institute",
        "tags": [
          "Institutes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InstituteInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Institute updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Institute"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteInstitute",
        "summary": "Destroy an institute (Premium - Superuser only)",
        "tags": [
          "Institutes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Institute deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/lti_resources": {
      "get": {
        "operationId": "listLtiResources",
        "summary": "List all LTI resources (LTI connections)",
        "tags": [
          "LtiResources"
        ],
        "responses": {
          "200": {
            "description": "List of LTI resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LtiResource"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createLtiResource",
        "summary": "Create an LTI resource",
        "tags": [
          "LtiResources"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LtiResourceInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "LTI resource created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LtiResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/lti_resources/{id}": {
      "get": {
        "operationId": "getLtiResource",
        "summary": "Show an LTI resource by ID",
        "tags": [
          "LtiResources"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "LTI resource details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LtiResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "updateLtiResource",
        "summary": "Update an LTI resource",
        "tags": [
          "LtiResources"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LtiResourceInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "LTI resource updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LtiResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteLtiResource",
        "summary": "Destroy an LTI resource",
        "tags": [
          "LtiResources"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "LTI resource deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/identity_providers": {
      "get": {
        "operationId": "listIdentityProviders",
        "summary": "List all identity provider configurations",
        "tags": [
          "IdentityProviders"
        ],
        "responses": {
          "200": {
            "description": "List of identity providers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IdentityProvider"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Token authentication. Format: Token token=YourToken"
      }
    },
    "schemas": {
      "Exam": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "end_time": {
            "type": "string",
            "format": "date-time"
          },
          "duration": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ExamInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "end_time": {
            "type": "string",
            "format": "date-time"
          },
          "duration": {
            "type": "integer"
          }
        }
      },
      "StudentSession": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "exam_id": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "StudentSessionInput": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          }
        }
      },
      "Attachment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "exam_id": {
            "type": "integer"
          },
          "file_name": {
            "type": "string"
          },
          "content_type": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Document": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "exam_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DocumentInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "Institute": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "InstituteInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "LtiResource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LtiResourceInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "IdentityProvider": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "provider_type": {
            "type": "string"
          }
        }
      },
      "ZipJobStatus": {
        "type": "object",
        "properties": {
          "zip_job_status": {
            "type": "string",
            "enum": [
              "not_found",
              "never_run",
              "failure",
              "queued",
              "running",
              "success"
            ]
          }
        }
      },
      "PhotoUrl": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "Expiring URL lasting 5 minutes"
          }
        }
      }
    }
  },
  "security": [
    {
      "tokenAuth": []
    }
  ],
  "tags": [
    {
      "name": "Exams",
      "description": "Exam management"
    },
    {
      "name": "StudentSessions",
      "description": "Student session management"
    },
    {
      "name": "Attachments",
      "description": "Exam attachment management"
    },
    {
      "name": "Documents",
      "description": "Exam document management"
    },
    {
      "name": "Institutes",
      "description": "Institute management"
    },
    {
      "name": "LtiResources",
      "description": "LTI resource management"
    },
    {
      "name": "IdentityProviders",
      "description": "Identity provider management"
    }
  ]
}