{
  "openapi": "3.0.3",
  "info": {
    "title": "Stax API",
    "version": "1.0.0",
    "description": "",
    "x-jentic-source-url": "https://raw.githubusercontent.com/jentic/jentic-public-apis-staging/import/stax.com/stax-api/1.0.0/openapi.json"
  },
  "servers": [
    {
      "url": "https://apiprod.fattlabs.com/"
    }
  ],
  "paths": {
    "/admin/enroll": {
      "post": {
        "summary": "Enroll a Merchant",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Enrollment"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/merchant": {
      "post": {
        "summary": "Create a Merchant",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Enrollment"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get all Merchants",
        "responses": {
          "200": {
            "description": "Response 200"
          }
        },
        "tags": [
          "Enrollment"
        ]
      }
    },
    "/merchant/merchant_id": {
      "get": {
        "summary": "Get Merchant by ID",
        "responses": {
          "200": {
            "description": "Response 200"
          }
        },
        "tags": [
          "Enrollment"
        ]
      }
    },
    "/merchant/{id}/apikey": {
      "post": {
        "summary": "Create a New API Key for Merchant",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Enrollment"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "get": {
        "summary": "List API Keys for Merchant",
        "responses": {
          "200": {
            "description": "Response 200"
          }
        },
        "tags": [
          "Enrollment"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/merchant/{id}/registration": {
      "get": {
        "summary": "Get Merchant Registration Data",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Enrollment"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "summary": "Update Merchant Registration Data",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Enrollment"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/merchant/{id}/registration/file": {
      "post": {
        "summary": "Add File to Merchant Registration",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Enrollment"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/merchant/{id}/registration/file/{file_id}": {
      "delete": {
        "summary": "Delete File from Merchant Registration",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Enrollment"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/underwriting/terms-and-conditions/{merchantId}": {
      "get": {
        "summary": "Retrieve Terms and Conditions",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "401": {
            "description": "Response 401"
          }
        },
        "tags": [
          "Enrollment"
        ],
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/underwriting/merchant/{merchantId}/registration/documents": {
      "get": {
        "summary": "Get Registration Documents",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "401": {
            "description": "Response 401"
          }
        },
        "tags": [
          "Enrollment"
        ],
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/ephemeral": {
      "get": {
        "summary": "Generate an Ephemeral Token",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Ephemeral Authentication Tokens"
        ]
      }
    },
    "/underwriting/disputes": {
      "get": {
        "summary": "List Disputes",
        "responses": {
          "200": {
            "description": "Response 200"
          }
        },
        "tags": [
          "Dispute Management"
        ]
      }
    },
    "/underwriting/disputes/{merchantId}": {
      "get": {
        "summary": "List Disputes for a merchant (Partner Only)",
        "responses": {
          "200": {
            "description": "Response 200"
          }
        },
        "tags": [
          "Dispute Management"
        ],
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/file/dispute": {
      "post": {
        "summary": "Upload Evidence for Dispute",
        "responses": {
          "201": {
            "description": "Response 201"
          },
          "400": {
            "description": "Response 400"
          }
        },
        "tags": [
          "Dispute Management"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data; boundary=---BOUNDARY": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/file/dispute/{evidenceFileId}": {
      "delete": {
        "summary": "Delete Evidence for Dispute",
        "responses": {
          "200": {
            "description": "Response 200"
          }
        },
        "tags": [
          "Dispute Management"
        ],
        "parameters": [
          {
            "name": "evidenceFileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/underwriting/dispute/{disputeId}/submit": {
      "post": {
        "summary": "Submit Dispute Evidence Files for Review",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "400": {
            "description": "Response 400"
          }
        },
        "tags": [
          "Dispute Management"
        ],
        "parameters": [
          {
            "name": "disputeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/charge": {
      "post": {
        "summary": "Charge a Payment Method",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          },
          "401": {
            "description": "Response 401"
          },
          "400": {
            "description": "Response 400"
          }
        },
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/transaction/{transactionid}/capture": {
      "post": {
        "summary": "Capture a Pre-Auth Transaction",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "transactionid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/verify": {
      "post": {
        "summary": "Verify A Payment Method",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          },
          "400": {
            "description": "Response 400"
          }
        },
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/credit": {
      "post": {
        "summary": "Credit A Payment Method",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          },
          "400": {
            "description": "Response 400"
          }
        },
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/transaction": {
      "get": {
        "summary": "List and Filter All Transactions",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Transactions"
        ]
      }
    },
    "/transaction/{id}": {
      "get": {
        "summary": "Get a Transaction's Information",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/transaction/{id}/": {
      "put": {
        "summary": "Update a Transaction",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/transaction/{id}/receipt/email": {
      "put": {
        "summary": "E-Mail Transaction Receipt",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/transaction/{id}/receipt-sms": {
      "put": {
        "summary": "Send Transaction Receipt by SMS",
        "responses": {
          "200": {
            "description": "Response 200"
          }
        },
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/transaction/{id}/void-or-refund": {
      "post": {
        "summary": "Void or Refund Transaction",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/transaction/{id}/void": {
      "post": {
        "summary": "Void Transaction",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/transaction/{id}/refund": {
      "post": {
        "summary": "Refund Transaction",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/transaction/{id}/related": {
      "get": {
        "summary": "Get a Related Transaction",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/transaction/{id}/funding": {
      "get": {
        "summary": "Get a Transaction's Funding Instructions",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "404": {
            "description": "Response 404"
          }
        },
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/customer/{customerId}/payment-method": {
      "get": {
        "summary": "Get all Payment Methods for a Customer",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Payment Methods"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/payment-method/{id}": {
      "get": {
        "summary": "Get a Payment Method By ID",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Payment Methods"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "summary": "Update a Payment Method",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Payment Methods"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a Payment Method",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Payment Methods"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/payment-method/": {
      "post": {
        "summary": "Create a Payment Method",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Payment Methods"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/payment_method/{payment_method_id}/external_vault": {
      "post": {
        "summary": "Share a payment method with a third party",
        "responses": {
          "201": {
            "description": "Response 201"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Payment Methods"
        ],
        "parameters": [
          {
            "name": "payment_method_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/surcharge/review?payment_method_id=your_payment_method_id&total=your_total": {
      "get": {
        "summary": "Review a Transaction's Surcharge Information",
        "responses": {
          "200": {
            "description": "Response 200"
          }
        },
        "tags": [
          "Payment Methods"
        ]
      }
    },
    "/invoice": {
      "post": {
        "summary": "Create an Invoice",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Invoices"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get All Invoices",
        "responses": {
          "200": {
            "description": "Response 200"
          }
        },
        "tags": [
          "Invoices"
        ]
      }
    },
    "/invoice/{id}/pay": {
      "post": {
        "summary": "Pay an Invoice",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/invoice/{id}": {
      "get": {
        "summary": "Get an invoice",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "summary": "Update an Invoice",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an Invoice",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/invoice/{id}/send/email": {
      "put": {
        "summary": "Send an Invoice via email",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/invoice/{id}/send/sms": {
      "put": {
        "summary": "Send an Invoice via sms",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/invoice/{id}/pay/{method}": {
      "post": {
        "summary": "Mark an Invoice Paid in Cash or Check",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "404": {
            "description": "Response 404"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "method",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/invoice/schedule/": {
      "post": {
        "summary": "Create a Scheduled Invoice",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Scheduled Invoices"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/invoice/schedule": {
      "get": {
        "summary": "Retrieve All Scheduled Invoices",
        "responses": {
          "200": {
            "description": "Response 200"
          }
        },
        "tags": [
          "Scheduled Invoices"
        ]
      }
    },
    "/invoice/schedule/{id}": {
      "put": {
        "summary": "Edit an Invoice Schedule",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Scheduled Invoices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a Scheduled Invoice",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Scheduled Invoices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/terminal/register": {
      "get": {
        "summary": "Get all devices",
        "responses": {
          "200": {
            "description": "Response 200"
          }
        },
        "tags": [
          "Terminals"
        ]
      }
    },
    "/terminal/charge/queue": {
      "post": {
        "summary": "Charge (Queue)",
        "responses": {
          "200": {
            "description": "Response 200"
          }
        },
        "tags": [
          "Terminals"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/terminal/charge": {
      "post": {
        "summary": "Charge",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "400": {
            "description": "Response 400"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Terminals"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/terminal/credit": {
      "post": {
        "summary": "Credit",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "400": {
            "description": "Response 400"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Terminals"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/terminal/void-or-refund": {
      "post": {
        "summary": "Void or Refund (stax picks for you)",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "400": {
            "description": "Response 400"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Terminals"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/terminal/refund": {
      "post": {
        "summary": "Refund",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "400": {
            "description": "Response 400"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Terminals"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/terminal/void": {
      "post": {
        "summary": "Void",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "400": {
            "description": "Response 400"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Terminals"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/terminal/print": {
      "post": {
        "summary": "Print",
        "responses": {
          "200": {
            "description": "Response 200"
          }
        },
        "tags": [
          "Terminals"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/terminal/promptInput": {
      "post": {
        "summary": "Prompt (Input)",
        "responses": {
          "200": {
            "description": "Response 200"
          }
        },
        "tags": [
          "Terminals"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/terminal/promptChoice": {
      "post": {
        "summary": "Prompt (Choice)",
        "responses": {
          "200": {
            "description": "Response 200"
          }
        },
        "tags": [
          "Terminals"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/terminal/prompt/signature": {
      "post": {
        "summary": "Prompt (Signature)",
        "responses": {
          "200": {
            "description": "Response 200"
          }
        },
        "tags": [
          "Terminals"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/terminal/tokenize": {
      "post": {
        "summary": "Tokenize",
        "responses": {
          "200": {
            "description": "Response 200"
          }
        },
        "tags": [
          "Terminals"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/terminal/{registerId}/status/{transactionId}": {
      "get": {
        "summary": "Get Transaction Status",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Terminals"
        ],
        "parameters": [
          {
            "name": "registerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/customer": {
      "post": {
        "summary": "Create Customer",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "get": {
        "summary": "Find All Customers",
        "responses": {
          "200": {
            "description": "Response 200"
          }
        },
        "tags": [
          "Customers"
        ]
      }
    },
    "/customer/{id}": {
      "get": {
        "summary": "Get a Customer's Information",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "404": {
            "description": "Response 404"
          }
        },
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "summary": "Update a Customer's Information",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "404": {
            "description": "Response 404"
          }
        },
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a Customer",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/query/deposit": {
      "get": {
        "summary": "Get List of Deposits",
        "responses": {
          "200": {
            "description": "Response 200"
          }
        },
        "tags": [
          "Reports"
        ]
      }
    },
    "/query/depositDetail": {
      "get": {
        "summary": "Get Detail of Specific Deposit",
        "responses": {
          "200": {
            "description": "Response 200"
          }
        },
        "tags": [
          "Reports"
        ]
      }
    },
    "/query/statistics/teamSummary": {
      "get": {
        "summary": "Team Summary",
        "responses": {
          "200": {
            "description": "Response 200"
          }
        },
        "tags": [
          "Reports"
        ]
      }
    },
    "/item": {
      "get": {
        "summary": "Retrieve All Catalog Items",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Catalog"
        ]
      },
      "post": {
        "summary": "Create a Catalog Item",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Catalog"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/item/{id}": {
      "get": {
        "summary": "Retrieve an Item by ID",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Catalog"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "summary": "Update an Item",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Catalog"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/item/code": {
      "get": {
        "summary": "Retrieve All Item Codes",
        "responses": {
          "200": {
            "description": "Response 200"
          }
        },
        "tags": [
          "Catalog"
        ]
      }
    },
    "/item/{id}/increment": {
      "put": {
        "summary": "Increment Item's Stock",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Catalog"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/item/{id}/decrement": {
      "put": {
        "summary": "Decrement Item's Stock",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Catalog"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/team": {
      "post": {
        "summary": "Create a Team",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Teams"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "put": {
        "summary": "Edit Your Merchant Team's Info",
        "responses": {
          "200": {
            "description": "Response 200"
          }
        },
        "tags": [
          "Teams"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/team/option/branding": {
      "post": {
        "summary": "Team Branding",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Teams"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/team/user": {
      "get": {
        "summary": "Find the Merchant Team's Users",
        "responses": {
          "200": {
            "description": "Response 200"
          }
        },
        "tags": [
          "Teams"
        ]
      },
      "post": {
        "summary": "Create a New Team Member",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "401": {
            "description": "Response 401"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Teams"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/merchant/{merchant_id}/user/{user_id}": {
      "post": {
        "summary": "Link Existing User to Merchant",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "401": {
            "description": "Response 401"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "name": "merchant_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Unlink User from Merchant",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "401": {
            "description": "Response 401"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "name": "merchant_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/team/apikey": {
      "get": {
        "summary": "List API Keys",
        "responses": {
          "200": {
            "description": "Response 200"
          }
        },
        "tags": [
          "Teams"
        ]
      }
    },
    "/team/user/{id}": {
      "get": {
        "summary": "Get Team Member's Information",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "404": {
            "description": "Response 404"
          }
        },
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "summary": "Update a Team Member's Information",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "401": {
            "description": "Response 401"
          },
          "404": {
            "description": "Response 404"
          }
        },
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/team/options": {
      "put": {
        "summary": "Add/Update Team Settings",
        "responses": {
          "200": {
            "description": "Response 200"
          }
        },
        "tags": [
          "Teams"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/team/registration": {
      "get": {
        "summary": "Get Team Registration Data",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Teams"
        ]
      },
      "put": {
        "summary": "Update Team Registration Data",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Teams"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/forgot": {
      "post": {
        "summary": "Initiate Password Reset",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Password Resets"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/reset/{token}": {
      "get": {
        "summary": "Verify Password Reset Token",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Password Resets"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "summary": "Reset Password",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Password Resets"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/self": {
      "get": {
        "summary": "Get Self and Team's Info",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "401": {
            "description": "Response 401"
          }
        },
        "tags": [
          "Self"
        ]
      },
      "put": {
        "summary": "Update Your User Info",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Self"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a User Account - Self Registration",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Self"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/self/exists?email={email}": {
      "get": {
        "summary": "Check if E-Mail Exists",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "404": {
            "description": "Response 404"
          }
        },
        "tags": [
          "Self"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/self/verify/resend": {
      "put": {
        "summary": "Resend Verification E-Mail",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "404": {
            "description": "Response 404"
          }
        },
        "tags": [
          "Self"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/self/verify/{token}": {
      "put": {
        "summary": "Verify E-mail Token",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "404": {
            "description": "Response 404"
          }
        },
        "tags": [
          "Self"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/webhook": {
      "post": {
        "summary": "Create new Webhook for all of my User's Merchants",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Merchant Webhooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get All Webhooks",
        "responses": {
          "200": {
            "description": "Response 200"
          }
        },
        "tags": [
          "Merchant Webhooks"
        ]
      }
    },
    "/webhook/{id}": {
      "get": {
        "summary": "Get Webhook by ID",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Merchant Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "Delete a Webhook",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Merchant Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/webhookadmin/webhook/brand": {
      "post": {
        "summary": "Create Partner Level Webhook for your brand",
        "responses": {
          "201": {
            "description": "Response 201"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Partner Webhooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get all Partner Level Webhooks for your brand",
        "responses": {
          "201": {
            "description": "Response 201"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Partner Webhooks"
        ]
      }
    },
    "/webhookadmin/webhook/brand/{webhook_id}": {
      "get": {
        "summary": "Get a specific Partner Level Webhook for your brand",
        "responses": {
          "200": {
            "description": "Response 200"
          }
        },
        "tags": [
          "Partner Webhooks"
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "Delete a Partner Level Webhook for your brand",
        "responses": {
          "200": {
            "description": "Response 200"
          }
        },
        "tags": [
          "Partner Webhooks"
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/team/funding-account": {
      "post": {
        "summary": "Create a Funding Account",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Funding Accounts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "get": {
        "summary": "List and Filter All Funding Accounts",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Funding Accounts"
        ]
      }
    },
    "/team/funding-account/{id}": {
      "get": {
        "summary": "Get a Funding Account's Information",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Funding Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "summary": "Update a Funding Account",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Funding Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/team/funding-account/{id}/file": {
      "post": {
        "summary": "Add Supporting File to Funding Account",
        "responses": {
          "200": {
            "description": "Response 200"
          },
          "422": {
            "description": "Response 422"
          }
        },
        "tags": [
          "Funding Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded; boundary=---{boundary value}": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/query/payment-links": {
      "post": {
        "summary": "Create a Payment Link",
        "responses": {
          "201": {
            "description": "Response 201"
          },
          "500": {
            "description": "Response 500"
          }
        },
        "tags": [
          "Payment Links"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "get": {
        "summary": "List And Filter All Payment Links",
        "responses": {
          "200": {
            "description": "Response 200"
          }
        },
        "tags": [
          "Payment Links"
        ]
      }
    },
    "/query/payment-links/{id}": {
      "get": {
        "summary": "Get A Payment Link's Information",
        "responses": {
          "200": {
            "description": "Response 200"
          }
        },
        "tags": [
          "Payment Links"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "summary": "Update (or Deactivate) a Payment Link",
        "responses": {
          "201": {
            "description": "Response 201"
          }
        },
        "tags": [
          "Payment Links"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/query/payment-links/{id}/is-active": {
      "get": {
        "summary": "Get A Payment Link's Active Status",
        "responses": {
          "200": {
            "description": "Response 200"
          }
        },
        "tags": [
          "Payment Links"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/query/payment-links/{id}/update-stats": {
      "put": {
        "summary": "Update A Payment Link's Stats",
        "responses": {
          "201": {
            "description": "Response 201"
          }
        },
        "tags": [
          "Payment Links"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/query/payment-links/${id}": {
      "delete": {
        "summary": "Delete a Payment Link",
        "responses": {
          "200": {
            "description": "Response 200"
          }
        },
        "tags": [
          "Payment Links"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {}
  },
  "x-jentic-source-url": "https://jsapi.apiary.io/apis/fattmerchant.apib"
}