{
  "openapi": "3.0.3",
  "info": {
    "title": "PubNub REST API",
    "description": "PubNub is a real-time messaging platform providing publish/subscribe messaging, presence detection, message storage, push notifications, access control, and channel group management via a REST API.",
    "version": "1.0.0",
    "contact": {
      "name": "PubNub",
      "url": "https://www.pubnub.com"
    },
    "x-jentic-source-url": "https://www.pubnub.com/docs/sdks/rest-api/"
  },
  "servers": [
    {
      "url": "https://ps.pndsn.com",
      "description": "PubNub Production"
    }
  ],
  "paths": {
    "/publish/{pub_key}/{sub_key}/0/{channel}/{callback}/{payload}": {
      "get": {
        "operationId": "publishMessageGet",
        "summary": "Publish a message to a channel (GET)",
        "description": "Publish a message to the specified channel using a GET request. The message payload is passed as the last path segment, URL-encoded JSON. Maximum payload size is 32 KiB.",
        "tags": [
          "Publish"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PubKeyPath"
          },
          {
            "$ref": "#/components/parameters/SubKeyPath"
          },
          {
            "$ref": "#/components/parameters/ChannelPath"
          },
          {
            "$ref": "#/components/parameters/CallbackPath"
          },
          {
            "name": "payload",
            "in": "path",
            "required": true,
            "description": "URL-encoded JSON message payload. Maximum size 32 KiB.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/UuidQuery"
          },
          {
            "$ref": "#/components/parameters/AuthQuery"
          },
          {
            "$ref": "#/components/parameters/StoreQuery"
          },
          {
            "$ref": "#/components/parameters/MetaQuery"
          },
          {
            "name": "ttl",
            "in": "query",
            "description": "Per-message time-to-live in Storage & Playback, in hours. Can be integer or float.",
            "schema": {
              "type": "number"
            }
          },
          {
            "$ref": "#/components/parameters/SignatureQuery"
          },
          {
            "$ref": "#/components/parameters/TimestampQuery"
          },
          {
            "name": "custom_message_type",
            "in": "query",
            "description": "User-defined message type. Must be 3-50 characters; alphanumeric, dash, and underscore only.",
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 50,
              "pattern": "^[a-zA-Z0-9_-]+$"
            }
          },
          {
            "$ref": "#/components/parameters/PnsdkQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Message published successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                },
                "example": [
                  1,
                  "Sent",
                  "14375220012064619"
                ]
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "413": {
            "description": "Payload too large. Maximum message size is 32 KiB.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorArray"
                },
                "example": [
                  0,
                  "Request Entity Too Large"
                ]
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/publish/{pub_key}/{sub_key}/0/{channel}/{callback}": {
      "post": {
        "operationId": "publishMessagePost",
        "summary": "Publish a message to a channel (POST)",
        "description": "Publish a message to the specified channel using a POST request. The message is sent in the request body as JSON. Maximum payload size is 32 KiB.",
        "tags": [
          "Publish"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PubKeyPath"
          },
          {
            "$ref": "#/components/parameters/SubKeyPath"
          },
          {
            "$ref": "#/components/parameters/ChannelPath"
          },
          {
            "$ref": "#/components/parameters/CallbackPath"
          },
          {
            "$ref": "#/components/parameters/UuidQuery"
          },
          {
            "$ref": "#/components/parameters/AuthQuery"
          },
          {
            "$ref": "#/components/parameters/StoreQuery"
          },
          {
            "$ref": "#/components/parameters/MetaQuery"
          },
          {
            "name": "ttl",
            "in": "query",
            "description": "Per-message time-to-live in Storage & Playback, in hours.",
            "schema": {
              "type": "number"
            }
          },
          {
            "$ref": "#/components/parameters/SignatureQuery"
          },
          {
            "$ref": "#/components/parameters/TimestampQuery"
          },
          {
            "name": "custom_message_type",
            "in": "query",
            "description": "User-defined message type. Must be 3-50 characters; alphanumeric, dash, and underscore only.",
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 50
            }
          },
          {
            "$ref": "#/components/parameters/PnsdkQuery"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The JSON message to publish.",
          "content": {
            "application/json": {
              "schema": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message published successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "413": {
            "description": "Payload too large.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorArray"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/signal/{pub_key}/{sub_key}/0/{channel}/0/{payload}": {
      "get": {
        "operationId": "sendSignal",
        "summary": "Send a signal to a channel",
        "description": "Send a lightweight signal (max 64 bytes) to a channel. Signals are not stored and do not trigger push notifications.",
        "tags": [
          "Signal"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PubKeyPath"
          },
          {
            "$ref": "#/components/parameters/SubKeyPath"
          },
          {
            "$ref": "#/components/parameters/ChannelPath"
          },
          {
            "name": "payload",
            "in": "path",
            "required": true,
            "description": "URL-encoded JSON signal payload. Maximum 64 bytes.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/UuidQuery"
          },
          {
            "$ref": "#/components/parameters/AuthQuery"
          },
          {
            "$ref": "#/components/parameters/SignatureQuery"
          },
          {
            "$ref": "#/components/parameters/TimestampQuery"
          },
          {
            "$ref": "#/components/parameters/PnsdkQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Signal sent successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/subscribe/{sub_key}/{channel}/{callback}/{timetoken}": {
      "get": {
        "operationId": "subscribeToChannels",
        "summary": "Subscribe to channels",
        "description": "Long-poll subscribe to one or more channels. The connection remains open until a message arrives or a timeout occurs. Use the returned timetoken in subsequent requests to receive only new messages.",
        "tags": [
          "Subscribe"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubKeyPath"
          },
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "description": "Channel name or comma-separated list of channels to subscribe to. Use a comma with no channel names if only subscribing via channel groups.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CallbackPath"
          },
          {
            "name": "timetoken",
            "in": "path",
            "required": true,
            "description": "Timetoken for the subscription cursor. Use 0 for initial subscribe to get the latest timetoken.",
            "schema": {
              "type": "string",
              "default": "0"
            }
          },
          {
            "$ref": "#/components/parameters/UuidQuery"
          },
          {
            "$ref": "#/components/parameters/AuthQuery"
          },
          {
            "name": "channel-group",
            "in": "query",
            "description": "Comma-separated list of channel group names to subscribe to.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter-expr",
            "in": "query",
            "description": "Stream filter expression to filter messages based on their metadata.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "heartbeat",
            "in": "query",
            "description": "Presence heartbeat timeout in seconds. Overrides default presence timeout.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tt",
            "in": "query",
            "description": "Timetoken override. Alternative to path-based timetoken.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tr",
            "in": "query",
            "description": "Region code returned in previous subscribe response.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/SignatureQuery"
          },
          {
            "$ref": "#/components/parameters/TimestampQuery"
          },
          {
            "$ref": "#/components/parameters/PnsdkQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Messages received or long-poll timeout with new timetoken.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscribeResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v2/presence/sub-key/{sub_key}/channel/{channel}": {
      "get": {
        "operationId": "hereNowForChannel",
        "summary": "Here Now for a channel",
        "description": "Get information about the current occupants of a channel, including UUIDs and state if requested.",
        "tags": [
          "Presence"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubKeyPathV2"
          },
          {
            "$ref": "#/components/parameters/ChannelPathV2"
          },
          {
            "$ref": "#/components/parameters/UuidQuery"
          },
          {
            "$ref": "#/components/parameters/AuthQuery"
          },
          {
            "name": "disable_uuids",
            "in": "query",
            "description": "Set to 1 to disable returning UUIDs in the response.",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Set to 1 to include state information for each UUID.",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "$ref": "#/components/parameters/SignatureQuery"
          },
          {
            "$ref": "#/components/parameters/TimestampQuery"
          },
          {
            "$ref": "#/components/parameters/PnsdkQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Presence information for the channel.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HereNowResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v2/presence/sub-key/{sub_key}": {
      "get": {
        "operationId": "globalHereNow",
        "summary": "Global Here Now",
        "description": "Get information about the current occupants of all channels associated with the subscribe key.",
        "tags": [
          "Presence"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubKeyPathV2"
          },
          {
            "$ref": "#/components/parameters/UuidQuery"
          },
          {
            "$ref": "#/components/parameters/AuthQuery"
          },
          {
            "name": "disable_uuids",
            "in": "query",
            "description": "Set to 1 to disable returning UUIDs.",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Set to 1 to include state information.",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "$ref": "#/components/parameters/SignatureQuery"
          },
          {
            "$ref": "#/components/parameters/TimestampQuery"
          },
          {
            "$ref": "#/components/parameters/PnsdkQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Global presence information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlobalHereNowResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v2/presence/sub-key/{sub_key}/uuid/{uuid}": {
      "get": {
        "operationId": "whereNow",
        "summary": "Where Now",
        "description": "Get the list of channels a given UUID is currently subscribed to.",
        "tags": [
          "Presence"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubKeyPathV2"
          },
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "The UUID to look up.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/AuthQuery"
          },
          {
            "$ref": "#/components/parameters/SignatureQuery"
          },
          {
            "$ref": "#/components/parameters/TimestampQuery"
          },
          {
            "$ref": "#/components/parameters/PnsdkQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "List of channels the UUID is present on.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhereNowResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v2/presence/sub-key/{sub_key}/channel/{channel}/uuid/{uuid}": {
      "get": {
        "operationId": "getPresenceState",
        "summary": "Get presence state",
        "description": "Get the state data associated with a UUID on a specific channel.",
        "tags": [
          "Presence"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubKeyPathV2"
          },
          {
            "$ref": "#/components/parameters/ChannelPathV2"
          },
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "The UUID whose state to retrieve.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/AuthQuery"
          },
          {
            "$ref": "#/components/parameters/SignatureQuery"
          },
          {
            "$ref": "#/components/parameters/TimestampQuery"
          },
          {
            "$ref": "#/components/parameters/PnsdkQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "State data for the UUID on the channel.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStateResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v2/presence/sub-key/{sub_key}/channel/{channel}/uuid/{uuid}/data": {
      "get": {
        "operationId": "setPresenceState",
        "summary": "Set presence state",
        "description": "Set the state data for a UUID on a specific channel.",
        "tags": [
          "Presence"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubKeyPathV2"
          },
          {
            "$ref": "#/components/parameters/ChannelPathV2"
          },
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "The UUID whose state to set.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "description": "URL-encoded JSON state object to set for the UUID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/AuthQuery"
          },
          {
            "$ref": "#/components/parameters/SignatureQuery"
          },
          {
            "$ref": "#/components/parameters/TimestampQuery"
          },
          {
            "$ref": "#/components/parameters/PnsdkQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "State set successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetStateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v2/presence/sub-key/{sub_key}/channel/{channel}/heartbeat": {
      "get": {
        "operationId": "heartbeat",
        "summary": "Heartbeat",
        "description": "Announce presence on a channel and optionally set state. This keeps the UUID present without subscribing.",
        "tags": [
          "Presence"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubKeyPathV2"
          },
          {
            "$ref": "#/components/parameters/ChannelPathV2"
          },
          {
            "$ref": "#/components/parameters/UuidQuery"
          },
          {
            "$ref": "#/components/parameters/AuthQuery"
          },
          {
            "name": "heartbeat",
            "in": "query",
            "description": "Presence timeout in seconds.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "URL-encoded JSON state to set for the UUID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel-group",
            "in": "query",
            "description": "Comma-separated list of channel groups.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/SignatureQuery"
          },
          {
            "$ref": "#/components/parameters/TimestampQuery"
          },
          {
            "$ref": "#/components/parameters/PnsdkQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Heartbeat registered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v2/presence/sub-key/{sub_key}/channel/{channel}/leave": {
      "get": {
        "operationId": "leave",
        "summary": "Leave channel",
        "description": "Explicitly announce departure from a channel, triggering a leave event for other subscribers.",
        "tags": [
          "Presence"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubKeyPathV2"
          },
          {
            "$ref": "#/components/parameters/ChannelPathV2"
          },
          {
            "$ref": "#/components/parameters/UuidQuery"
          },
          {
            "$ref": "#/components/parameters/AuthQuery"
          },
          {
            "name": "channel-group",
            "in": "query",
            "description": "Comma-separated list of channel groups to leave.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/SignatureQuery"
          },
          {
            "$ref": "#/components/parameters/TimestampQuery"
          },
          {
            "$ref": "#/components/parameters/PnsdkQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Left the channel.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "OK"
                    },
                    "action": {
                      "type": "string",
                      "example": "leave"
                    },
                    "service": {
                      "type": "string",
                      "example": "Presence"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v2/history/sub-key/{sub_key}/channel/{channel}": {
      "get": {
        "operationId": "fetchMessageHistory",
        "summary": "Fetch message history for a channel",
        "description": "Retrieve historical messages published on a channel. Supports pagination with start/end timetokens and count limits.",
        "tags": [
          "Storage & Playback"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubKeyPathV2"
          },
          {
            "$ref": "#/components/parameters/ChannelPathV2"
          },
          {
            "$ref": "#/components/parameters/UuidQuery"
          },
          {
            "$ref": "#/components/parameters/AuthQuery"
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of messages to return. Default 100, max 100.",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 100
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Timetoken delimiting the start of the time slice (exclusive). Return messages before this timetoken.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "Timetoken delimiting the end of the time slice (inclusive). Return messages after this timetoken.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reverse",
            "in": "query",
            "description": "If true, return messages in ascending order (oldest first).",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include_token",
            "in": "query",
            "description": "If true, include timetokens with each message.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include_meta",
            "in": "query",
            "description": "If true, include message metadata.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "$ref": "#/components/parameters/SignatureQuery"
          },
          {
            "$ref": "#/components/parameters/TimestampQuery"
          },
          {
            "$ref": "#/components/parameters/PnsdkQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Historical messages returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoryResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v3/history/sub-key/{sub_key}/channel/{channel}": {
      "get": {
        "operationId": "fetchMessageHistoryV3",
        "summary": "Fetch message history (v3, multi-channel)",
        "description": "Retrieve historical messages with support for multiple channels, message actions, message type, and UUIDs in the response.",
        "tags": [
          "Storage & Playback"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubKeyPathV2"
          },
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "description": "Comma-separated list of channels to retrieve history for (max 500).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/UuidQuery"
          },
          {
            "$ref": "#/components/parameters/AuthQuery"
          },
          {
            "name": "max",
            "in": "query",
            "description": "Maximum number of messages to return per channel. Default 100. With include_message_actions, max is 25.",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Timetoken delimiting the start of the time slice (exclusive).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "Timetoken delimiting the end of the time slice (inclusive).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reverse",
            "in": "query",
            "description": "If true, return oldest messages first.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include_meta",
            "in": "query",
            "description": "Include message metadata in response.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include_message_type",
            "in": "query",
            "description": "Include message type in response.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "include_uuid",
            "in": "query",
            "description": "Include the UUID of the publisher in response.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "include_message_actions",
            "in": "query",
            "description": "Include message actions in response. When true, max is limited to 25 and only a single channel is allowed.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include_custom_message_type",
            "in": "query",
            "description": "Include the custom message type in response.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "$ref": "#/components/parameters/SignatureQuery"
          },
          {
            "$ref": "#/components/parameters/TimestampQuery"
          },
          {
            "$ref": "#/components/parameters/PnsdkQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Historical messages with optional actions and metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchHistoryV3Response"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v3/history/sub-key/{sub_key}/message-counts/{channel}": {
      "get": {
        "operationId": "messageCounts",
        "summary": "Message counts",
        "description": "Get the number of unread messages for each specified channel since the given timetokens.",
        "tags": [
          "Storage & Playback"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubKeyPathV2"
          },
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "description": "Comma-separated list of channels.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timetoken",
            "in": "query",
            "description": "Single timetoken to check all channels, or comma-separated timetokens (one per channel).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channelsTimetoken",
            "in": "query",
            "description": "Comma-separated timetokens corresponding to each channel.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/UuidQuery"
          },
          {
            "$ref": "#/components/parameters/AuthQuery"
          },
          {
            "$ref": "#/components/parameters/SignatureQuery"
          },
          {
            "$ref": "#/components/parameters/TimestampQuery"
          },
          {
            "$ref": "#/components/parameters/PnsdkQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Message counts per channel.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageCountsResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v3/history/sub-key/{sub_key}/channel/{channel}/delete": {
      "delete": {
        "operationId": "deleteMessagesFromHistory",
        "summary": "Delete messages from history",
        "description": "Delete messages from Storage & Playback for a specific channel within an optional time range.",
        "tags": [
          "Storage & Playback"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubKeyPathV2"
          },
          {
            "$ref": "#/components/parameters/ChannelPathV2"
          },
          {
            "$ref": "#/components/parameters/UuidQuery"
          },
          {
            "$ref": "#/components/parameters/AuthQuery"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Timetoken delimiting the start of the range to delete (exclusive).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "Timetoken delimiting the end of the range to delete (inclusive).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/SignatureQuery"
          },
          {
            "$ref": "#/components/parameters/TimestampQuery"
          },
          {
            "$ref": "#/components/parameters/PnsdkQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Messages deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/push/sub-key/{sub_key}/devices/{push_token}": {
      "get": {
        "operationId": "listPushChannels",
        "summary": "List push notification channels for a device",
        "description": "List all channels registered for push notifications on the specified device.",
        "tags": [
          "Push Notifications"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubKeyPathV2"
          },
          {
            "$ref": "#/components/parameters/PushTokenPath"
          },
          {
            "$ref": "#/components/parameters/PushTypeQuery"
          },
          {
            "$ref": "#/components/parameters/UuidQuery"
          },
          {
            "$ref": "#/components/parameters/AuthQuery"
          },
          {
            "$ref": "#/components/parameters/SignatureQuery"
          },
          {
            "$ref": "#/components/parameters/TimestampQuery"
          },
          {
            "$ref": "#/components/parameters/PnsdkQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "List of channels registered for push.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "example": [
                  "channel1",
                  "channel2"
                ]
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "operationId": "addPushChannels",
        "summary": "Add push notification channels for a device",
        "description": "Register one or more channels for push notifications on the specified device.",
        "tags": [
          "Push Notifications"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubKeyPathV2"
          },
          {
            "$ref": "#/components/parameters/PushTokenPath"
          },
          {
            "$ref": "#/components/parameters/PushTypeQuery"
          },
          {
            "name": "add",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of channels to register for push notifications.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/UuidQuery"
          },
          {
            "$ref": "#/components/parameters/AuthQuery"
          },
          {
            "$ref": "#/components/parameters/SignatureQuery"
          },
          {
            "$ref": "#/components/parameters/TimestampQuery"
          },
          {
            "$ref": "#/components/parameters/PnsdkQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Channels registered for push.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "example": [
                    1,
                    "Modified Channels"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "delete": {
        "operationId": "removePushChannels",
        "summary": "Remove push notification channels for a device",
        "description": "Unregister one or more channels from push notifications on the specified device.",
        "tags": [
          "Push Notifications"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubKeyPathV2"
          },
          {
            "$ref": "#/components/parameters/PushTokenPath"
          },
          {
            "$ref": "#/components/parameters/PushTypeQuery"
          },
          {
            "name": "remove",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of channels to unregister from push notifications.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/UuidQuery"
          },
          {
            "$ref": "#/components/parameters/AuthQuery"
          },
          {
            "$ref": "#/components/parameters/SignatureQuery"
          },
          {
            "$ref": "#/components/parameters/TimestampQuery"
          },
          {
            "$ref": "#/components/parameters/PnsdkQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Channels unregistered from push.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "example": [
                    1,
                    "Modified Channels"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/push/sub-key/{sub_key}/devices/{push_token}/remove": {
      "get": {
        "operationId": "removeAllPushChannels",
        "summary": "Remove device from push notifications",
        "description": "Remove all push notification registrations for the specified device.",
        "tags": [
          "Push Notifications"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubKeyPathV2"
          },
          {
            "$ref": "#/components/parameters/PushTokenPath"
          },
          {
            "$ref": "#/components/parameters/PushTypeQuery"
          },
          {
            "$ref": "#/components/parameters/UuidQuery"
          },
          {
            "$ref": "#/components/parameters/AuthQuery"
          },
          {
            "$ref": "#/components/parameters/SignatureQuery"
          },
          {
            "$ref": "#/components/parameters/TimestampQuery"
          },
          {
            "$ref": "#/components/parameters/PnsdkQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "All push registrations removed for device.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "example": [
                    1,
                    "Modified Channels"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v2/auth/grant/sub-key/{sub_key}": {
      "get": {
        "operationId": "grantPermissions",
        "summary": "Grant permissions",
        "description": "Grant read, write, manage, delete, get, update, or join permissions on channels, channel groups, or UUIDs to an auth key. Requires signature-based authentication with the secret key.",
        "tags": [
          "Access Manager"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubKeyPathV2"
          },
          {
            "name": "signature",
            "in": "query",
            "required": true,
            "description": "Request signature computed using the secret key for verification.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "description": "Unix epoch timestamp. Must be within 60 seconds of PubNub server time.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "auth",
            "in": "query",
            "required": true,
            "description": "The auth key to grant permissions to. Comma-separated for multiple keys.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/UuidQuery"
          },
          {
            "name": "channel",
            "in": "query",
            "description": "Target channel(s), comma-separated.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel-group",
            "in": "query",
            "description": "Target channel group(s), comma-separated.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target-uuid",
            "in": "query",
            "description": "Target UUID(s) for permission grants.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ttl",
            "in": "query",
            "description": "Time-to-live for the grant in minutes. Default varies by plan. Set to 0 for unlimited.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "r",
            "in": "query",
            "description": "Read permission. 1 to grant, 0 to revoke.",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "w",
            "in": "query",
            "description": "Write permission. 1 to grant, 0 to revoke.",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "m",
            "in": "query",
            "description": "Manage permission. 1 to grant, 0 to revoke.",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "d",
            "in": "query",
            "description": "Delete permission. 1 to grant, 0 to revoke.",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "g",
            "in": "query",
            "description": "Get permission. 1 to grant, 0 to revoke.",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "u",
            "in": "query",
            "description": "Update permission. 1 to grant, 0 to revoke.",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "j",
            "in": "query",
            "description": "Join permission. 1 to grant, 0 to revoke.",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "$ref": "#/components/parameters/PnsdkQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Permissions granted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrantResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v2/auth/audit/sub-key/{sub_key}": {
      "get": {
        "operationId": "auditPermissions",
        "summary": "Audit permissions",
        "description": "Check existing permissions for a subscribe key, optionally filtered by auth key, channel, or channel group.",
        "tags": [
          "Access Manager"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubKeyPathV2"
          },
          {
            "name": "signature",
            "in": "query",
            "required": true,
            "description": "Request signature for verification.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "description": "Unix epoch timestamp.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "auth",
            "in": "query",
            "description": "Auth key to audit. If omitted, audits all auth keys.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel",
            "in": "query",
            "description": "Channel to audit permissions for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel-group",
            "in": "query",
            "description": "Channel group to audit permissions for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/UuidQuery"
          },
          {
            "$ref": "#/components/parameters/PnsdkQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Current permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrantResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/channel-registration/sub-key/{sub_key}/channel-group": {
      "get": {
        "operationId": "listChannelGroups",
        "summary": "List all channel groups",
        "description": "List all channel groups associated with the subscribe key.",
        "tags": [
          "Channel Groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubKeyPathV2"
          },
          {
            "$ref": "#/components/parameters/UuidQuery"
          },
          {
            "$ref": "#/components/parameters/AuthQuery"
          },
          {
            "$ref": "#/components/parameters/SignatureQuery"
          },
          {
            "$ref": "#/components/parameters/TimestampQuery"
          },
          {
            "$ref": "#/components/parameters/PnsdkQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "List of channel groups.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelGroupListResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/channel-registration/sub-key/{sub_key}/channel-group/{channel_group}": {
      "get": {
        "operationId": "listChannelsForGroup",
        "summary": "List channels in a channel group",
        "description": "List all channels in the specified channel group.",
        "tags": [
          "Channel Groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubKeyPathV2"
          },
          {
            "$ref": "#/components/parameters/ChannelGroupPath"
          },
          {
            "$ref": "#/components/parameters/UuidQuery"
          },
          {
            "$ref": "#/components/parameters/AuthQuery"
          },
          {
            "$ref": "#/components/parameters/SignatureQuery"
          },
          {
            "$ref": "#/components/parameters/TimestampQuery"
          },
          {
            "$ref": "#/components/parameters/PnsdkQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Channels in the group.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelGroupChannelsResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "description": "Storage system failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteChannelGroup",
        "summary": "Delete a channel group",
        "description": "Remove a channel group and all its channel registrations.",
        "tags": [
          "Channel Groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubKeyPathV2"
          },
          {
            "$ref": "#/components/parameters/ChannelGroupPath"
          },
          {
            "$ref": "#/components/parameters/UuidQuery"
          },
          {
            "$ref": "#/components/parameters/AuthQuery"
          },
          {
            "$ref": "#/components/parameters/SignatureQuery"
          },
          {
            "$ref": "#/components/parameters/TimestampQuery"
          },
          {
            "$ref": "#/components/parameters/PnsdkQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Channel group deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                },
                "example": {
                  "service": "channel-registry",
                  "status": 200,
                  "error": false,
                  "message": "OK"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "description": "Storage system failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
          "503": {
            "description": "Account configuration unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/channel-registration/sub-key/{sub_key}/channel-group/{channel_group}/add": {
      "get": {
        "operationId": "addChannelsToGroup",
        "summary": "Add channels to a channel group",
        "description": "Add one or more channels to the specified channel group.",
        "tags": [
          "Channel Groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubKeyPathV2"
          },
          {
            "$ref": "#/components/parameters/ChannelGroupPath"
          },
          {
            "name": "add",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of channels to add to the group.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/UuidQuery"
          },
          {
            "$ref": "#/components/parameters/AuthQuery"
          },
          {
            "$ref": "#/components/parameters/SignatureQuery"
          },
          {
            "$ref": "#/components/parameters/TimestampQuery"
          },
          {
            "$ref": "#/components/parameters/PnsdkQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Channels added to group.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/channel-registration/sub-key/{sub_key}/channel-group/{channel_group}/remove": {
      "get": {
        "operationId": "removeChannelsFromGroup",
        "summary": "Remove channels from a channel group",
        "description": "Remove one or more channels from the specified channel group.",
        "tags": [
          "Channel Groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubKeyPathV2"
          },
          {
            "$ref": "#/components/parameters/ChannelGroupPath"
          },
          {
            "name": "remove",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of channels to remove from the group.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/UuidQuery"
          },
          {
            "$ref": "#/components/parameters/AuthQuery"
          },
          {
            "$ref": "#/components/parameters/SignatureQuery"
          },
          {
            "$ref": "#/components/parameters/TimestampQuery"
          },
          {
            "$ref": "#/components/parameters/PnsdkQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Channels removed from group.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/message-actions/{sub_key}/channel/{channel}/message/{message_timetoken}": {
      "get": {
        "operationId": "getMessageActions",
        "summary": "Get message actions",
        "description": "Retrieve all message actions for messages in the specified channel, optionally filtered by timetoken range.",
        "tags": [
          "Message Actions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubKeyPathV2"
          },
          {
            "$ref": "#/components/parameters/ChannelPathV2"
          },
          {
            "name": "message_timetoken",
            "in": "path",
            "required": true,
            "description": "The publish timetoken of the original message.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/UuidQuery"
          },
          {
            "$ref": "#/components/parameters/AuthQuery"
          },
          {
            "$ref": "#/components/parameters/SignatureQuery"
          },
          {
            "$ref": "#/components/parameters/TimestampQuery"
          },
          {
            "$ref": "#/components/parameters/PnsdkQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Message actions retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMessageActionsResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "operationId": "addMessageAction",
        "summary": "Add a message action",
        "description": "Add a message action (such as a reaction) to a published message.",
        "tags": [
          "Message Actions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubKeyPathV2"
          },
          {
            "$ref": "#/components/parameters/ChannelPathV2"
          },
          {
            "name": "message_timetoken",
            "in": "path",
            "required": true,
            "description": "The publish timetoken of the message to add the action to.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/UuidQuery"
          },
          {
            "$ref": "#/components/parameters/AuthQuery"
          },
          {
            "$ref": "#/components/parameters/SignatureQuery"
          },
          {
            "$ref": "#/components/parameters/TimestampQuery"
          },
          {
            "$ref": "#/components/parameters/PnsdkQuery"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageActionInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message action added.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddMessageActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "description": "Message action already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/message-actions/{sub_key}/channel/{channel}/message/{message_timetoken}/action/{action_timetoken}": {
      "delete": {
        "operationId": "removeMessageAction",
        "summary": "Remove a message action",
        "description": "Remove a specific message action from a message. Only the user who added the action can remove it.",
        "tags": [
          "Message Actions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubKeyPathV2"
          },
          {
            "$ref": "#/components/parameters/ChannelPathV2"
          },
          {
            "name": "message_timetoken",
            "in": "path",
            "required": true,
            "description": "The publish timetoken of the original message.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action_timetoken",
            "in": "path",
            "required": true,
            "description": "The timetoken of the message action to remove.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/UuidQuery"
          },
          {
            "$ref": "#/components/parameters/AuthQuery"
          },
          {
            "$ref": "#/components/parameters/SignatureQuery"
          },
          {
            "$ref": "#/components/parameters/TimestampQuery"
          },
          {
            "$ref": "#/components/parameters/PnsdkQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Message action removed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Message action not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/time/0": {
      "get": {
        "operationId": "getTime",
        "summary": "Get PubNub server time",
        "description": "Returns the current PubNub server time as a 17-digit precision timetoken.",
        "tags": [
          "Publish"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Server timetoken.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "minItems": 1,
                  "maxItems": 1
                },
                "example": [
                  14375220012064619
                ]
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "PubKeyPath": {
        "name": "pub_key",
        "in": "path",
        "required": true,
        "description": "Your app's publish key from the PubNub Admin Portal.",
        "schema": {
          "type": "string"
        }
      },
      "SubKeyPath": {
        "name": "sub_key",
        "in": "path",
        "required": true,
        "description": "Your app's subscribe key from the PubNub Admin Portal.",
        "schema": {
          "type": "string"
        }
      },
      "SubKeyPathV2": {
        "name": "sub_key",
        "in": "path",
        "required": true,
        "description": "Your app's subscribe key from the PubNub Admin Portal.",
        "schema": {
          "type": "string"
        }
      },
      "ChannelPath": {
        "name": "channel",
        "in": "path",
        "required": true,
        "description": "The channel name to perform the operation on.",
        "schema": {
          "type": "string"
        }
      },
      "ChannelPathV2": {
        "name": "channel",
        "in": "path",
        "required": true,
        "description": "The channel name to perform the operation on.",
        "schema": {
          "type": "string"
        }
      },
      "CallbackPath": {
        "name": "callback",
        "in": "path",
        "required": true,
        "description": "JSONP callback function name. Use \"0\" for no callback (standard JSON response).",
        "schema": {
          "type": "string",
          "default": "0"
        }
      },
      "ChannelGroupPath": {
        "name": "channel_group",
        "in": "path",
        "required": true,
        "description": "The channel group identifier.",
        "schema": {
          "type": "string"
        }
      },
      "PushTokenPath": {
        "name": "push_token",
        "in": "path",
        "required": true,
        "description": "Device push token (APNs device token, FCM/GCM registration token, or MPNS channel URI).",
        "schema": {
          "type": "string"
        }
      },
      "UuidQuery": {
        "name": "uuid",
        "in": "query",
        "description": "A UTF-8 encoded string of up to 92 characters used to identify the client. Required for most operations.",
        "schema": {
          "type": "string",
          "maxLength": 92
        }
      },
      "AuthQuery": {
        "name": "auth",
        "in": "query",
        "description": "Authorization key or Access Manager token for permission-controlled access.",
        "schema": {
          "type": "string"
        }
      },
      "StoreQuery": {
        "name": "store",
        "in": "query",
        "description": "Override message storage setting. 1 to persist the message, 0 to skip persistence.",
        "schema": {
          "type": "integer",
          "enum": [
            0,
            1
          ]
        }
      },
      "MetaQuery": {
        "name": "meta",
        "in": "query",
        "description": "URL-encoded JSON object with metadata for the message. Used for stream filtering.",
        "schema": {
          "type": "string"
        }
      },
      "SignatureQuery": {
        "name": "signature",
        "in": "query",
        "description": "Request signature computed using the secret key for Access Manager verification.",
        "schema": {
          "type": "string"
        }
      },
      "TimestampQuery": {
        "name": "timestamp",
        "in": "query",
        "description": "Unix epoch timestamp in seconds. Required when signature is provided. Must be within 60 seconds of PubNub server time.",
        "schema": {
          "type": "integer"
        }
      },
      "PushTypeQuery": {
        "name": "type",
        "in": "query",
        "required": true,
        "description": "Push notification service type.",
        "schema": {
          "type": "string",
          "enum": [
            "apns",
            "apns2",
            "gcm",
            "mpns"
          ]
        }
      },
      "PnsdkQuery": {
        "name": "pnsdk",
        "in": "query",
        "description": "SDK identification string in the format \"name/version\".",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "PublishResponse": {
        "type": "array",
        "description": "Publish response tuple: [status, message, timetoken].",
        "items": {},
        "example": [
          1,
          "Sent",
          "14375220012064619"
        ]
      },
      "ErrorArray": {
        "type": "array",
        "description": "Error response tuple: [status, message].",
        "items": {},
        "example": [
          0,
          "Forbidden"
        ]
      },
      "SubscribeResponse": {
        "type": "object",
        "description": "Subscribe long-poll response with messages and updated timetoken.",
        "properties": {
          "t": {
            "type": "object",
            "description": "Timetoken object for the next subscribe request.",
            "properties": {
              "t": {
                "type": "string",
                "description": "Timetoken value."
              },
              "r": {
                "type": "integer",
                "description": "Region code."
              }
            }
          },
          "m": {
            "type": "array",
            "description": "Array of received messages.",
            "items": {
              "type": "object",
              "properties": {
                "a": {
                  "type": "string",
                  "description": "Shard identifier."
                },
                "f": {
                  "type": "integer",
                  "description": "Flags."
                },
                "i": {
                  "type": "string",
                  "description": "Publisher UUID."
                },
                "s": {
                  "type": "integer",
                  "description": "Sequence number."
                },
                "p": {
                  "type": "object",
                  "description": "Publish timetoken.",
                  "properties": {
                    "t": {
                      "type": "string"
                    },
                    "r": {
                      "type": "integer"
                    }
                  }
                },
                "k": {
                  "type": "string",
                  "description": "Subscribe key."
                },
                "c": {
                  "type": "string",
                  "description": "Channel the message was published on."
                },
                "d": {
                  "description": "Message payload."
                },
                "b": {
                  "type": "string",
                  "description": "Subscription match (channel or channel group)."
                },
                "u": {
                  "description": "User metadata."
                }
              }
            }
          }
        }
      },
      "HereNowResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "OK"
          },
          "occupancy": {
            "type": "integer",
            "description": "Number of users present."
          },
          "uuids": {
            "type": "array",
            "description": "List of UUIDs present on the channel.",
            "items": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string"
                    },
                    "state": {
                      "type": "object"
                    }
                  }
                }
              ]
            }
          },
          "service": {
            "type": "string",
            "example": "Presence"
          }
        }
      },
      "GlobalHereNowResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "OK"
          },
          "payload": {
            "type": "object",
            "properties": {
              "total_channels": {
                "type": "integer"
              },
              "total_occupancy": {
                "type": "integer"
              },
              "channels": {
                "type": "object",
                "additionalProperties": {
                  "type": "object",
                  "properties": {
                    "occupancy": {
                      "type": "integer"
                    },
                    "uuids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "service": {
            "type": "string",
            "example": "Presence"
          }
        }
      },
      "WhereNowResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "OK"
          },
          "payload": {
            "type": "object",
            "properties": {
              "channels": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "service": {
            "type": "string",
            "example": "Presence"
          }
        }
      },
      "GetStateResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "OK"
          },
          "payload": {
            "type": "object",
            "description": "The state data for the UUID."
          },
          "uuid": {
            "type": "string"
          },
          "channel": {
            "type": "string"
          },
          "service": {
            "type": "string",
            "example": "Presence"
          }
        }
      },
      "SetStateResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "OK"
          },
          "payload": {
            "type": "object",
            "description": "The state data that was set."
          },
          "uuid": {
            "type": "string"
          },
          "channel": {
            "type": "string"
          },
          "service": {
            "type": "string",
            "example": "Presence"
          }
        }
      },
      "HistoryResponse": {
        "type": "array",
        "description": "History response tuple: [messages, start_timetoken, end_timetoken].",
        "items": {},
        "example": [
          [
            {
              "message": "hello"
            },
            {
              "message": "world"
            }
          ],
          "14375220012064619",
          "14375220012064620"
        ]
      },
      "FetchHistoryV3Response": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 200
          },
          "error": {
            "type": "boolean",
            "example": false
          },
          "error_message": {
            "type": "string"
          },
          "channels": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "message": {
                    "description": "The message payload."
                  },
                  "timetoken": {
                    "type": "string",
                    "description": "Publish timetoken."
                  },
                  "meta": {
                    "description": "Message metadata, if requested."
                  },
                  "message_type": {
                    "type": "integer",
                    "description": "Message type identifier."
                  },
                  "uuid": {
                    "type": "string",
                    "description": "Publisher UUID."
                  },
                  "actions": {
                    "type": "object",
                    "description": "Message actions, if requested.",
                    "additionalProperties": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "uuid": {
                              "type": "string"
                            },
                            "actionTimetoken": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "more": {
            "type": "object",
            "description": "Pagination cursor for fetching additional results.",
            "properties": {
              "url": {
                "type": "string"
              },
              "start": {
                "type": "string"
              },
              "max": {
                "type": "integer"
              }
            }
          }
        }
      },
      "MessageCountsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 200
          },
          "error": {
            "type": "boolean",
            "example": false
          },
          "error_message": {
            "type": "string"
          },
          "channels": {
            "type": "object",
            "description": "Map of channel name to unread message count.",
            "additionalProperties": {
              "type": "integer"
            }
          }
        }
      },
      "GrantResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Success"
          },
          "status": {
            "type": "integer",
            "example": 200
          },
          "payload": {
            "type": "object",
            "properties": {
              "level": {
                "type": "string",
                "description": "Permission level (e.g., 'channel', 'subkey')."
              },
              "subscribe_key": {
                "type": "string"
              },
              "ttl": {
                "type": "integer",
                "description": "Time-to-live for the grant in minutes."
              },
              "channels": {
                "type": "object",
                "description": "Per-channel permissions.",
                "additionalProperties": {
                  "type": "object",
                  "properties": {
                    "auths": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "r": {
                            "type": "integer"
                          },
                          "w": {
                            "type": "integer"
                          },
                          "m": {
                            "type": "integer"
                          },
                          "d": {
                            "type": "integer"
                          },
                          "g": {
                            "type": "integer"
                          },
                          "u": {
                            "type": "integer"
                          },
                          "j": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "channel-groups": {
                "type": "object",
                "description": "Per-channel-group permissions.",
                "additionalProperties": {
                  "type": "object",
                  "properties": {
                    "auths": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "r": {
                            "type": "integer"
                          },
                          "w": {
                            "type": "integer"
                          },
                          "m": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "uuids": {
                "type": "object",
                "description": "Per-UUID permissions.",
                "additionalProperties": {
                  "type": "object",
                  "properties": {
                    "auths": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "g": {
                            "type": "integer"
                          },
                          "u": {
                            "type": "integer"
                          },
                          "d": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "service": {
            "type": "string",
            "example": "Access Manager"
          }
        }
      },
      "ServiceResponse": {
        "type": "object",
        "description": "Generic service response.",
        "properties": {
          "service": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "error": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ChannelGroupListResponse": {
        "type": "object",
        "properties": {
          "service": {
            "type": "string",
            "example": "channel-registry"
          },
          "status": {
            "type": "integer",
            "example": 200
          },
          "error": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "OK"
          },
          "payload": {
            "type": "object",
            "properties": {
              "namespace": {
                "type": "string"
              },
              "groups": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ChannelGroupChannelsResponse": {
        "type": "object",
        "properties": {
          "service": {
            "type": "string",
            "example": "channel-registry"
          },
          "status": {
            "type": "integer",
            "example": 200
          },
          "error": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "OK"
          },
          "payload": {
            "type": "object",
            "properties": {
              "group": {
                "type": "string"
              },
              "channels": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "MessageActionInput": {
        "type": "object",
        "required": [
          "type",
          "value"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Message action type (e.g., \"reaction\").",
            "example": "reaction"
          },
          "value": {
            "type": "string",
            "description": "Message action value (e.g., emoji or custom string).",
            "example": "smiley_face"
          }
        }
      },
      "MessageAction": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Action type.",
            "example": "reaction"
          },
          "value": {
            "type": "string",
            "description": "Action value.",
            "example": "smiley_face"
          },
          "uuid": {
            "type": "string",
            "description": "UUID of the user who added the action."
          },
          "actionTimetoken": {
            "type": "string",
            "description": "Timetoken when the action was added."
          },
          "messageTimetoken": {
            "type": "string",
            "description": "Timetoken of the original message."
          }
        }
      },
      "GetMessageActionsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 200
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MessageAction"
            }
          },
          "more": {
            "type": "object",
            "description": "Pagination cursor.",
            "properties": {
              "url": {
                "type": "string"
              },
              "start": {
                "type": "string"
              },
              "end": {
                "type": "string"
              },
              "limit": {
                "type": "integer"
              }
            }
          }
        }
      },
      "AddMessageActionResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 200
          },
          "data": {
            "$ref": "#/components/schemas/MessageAction"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Publish",
      "description": "Publish messages to channels"
    },
    {
      "name": "Subscribe",
      "description": "Subscribe to channels and channel groups for real-time messages"
    },
    {
      "name": "Signal",
      "description": "Send lightweight signals to channels"
    },
    {
      "name": "Presence",
      "description": "Detect who is online, join/leave events, and user state"
    },
    {
      "name": "Storage & Playback",
      "description": "Message history, fetch historical messages, delete messages, and message counts"
    },
    {
      "name": "Push Notifications",
      "description": "Manage push notification registrations for devices"
    },
    {
      "name": "Access Manager",
      "description": "Grant and revoke permissions on channels, channel groups, and UUIDs"
    },
    {
      "name": "Channel Groups",
      "description": "Manage channel groups for multiplexed subscriptions"
    },
    {
      "name": "Message Actions",
      "description": "Add, get, and remove message actions (reactions) on messages"
    }
  ]
}