{
  "openapi": "3.0.3",
  "info": {
    "title": "Eduzz Public API",
    "description": "Eduzz Public API for managing digital products, courses, events, subscriptions, invoices, and video content across Eduzz platforms including Alpaclass, Blinket, MyEduzz, Nutror, SafeVideo, and Sun Checkout.",
    "version": "2.0.0",
    "contact": {
      "name": "Eduzz Developer Support",
      "url": "https://developers.eduzz.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    },
    "x-jentic-source-url": "https://docs.api-eduzz.com/"
  },
  "servers": [
    {
      "url": "https://api.eduzz.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "eduzz_auth": []
    }
  ],
  "paths": {
    "/accounts/v1/me": {
      "get": {
        "summary": "Get current user data",
        "operationId": "getCurrentUser",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Current user data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          }
        },
        "description": "Get current user data"
      }
    },
    "/alpaclass/v1/producer/teams": {
      "get": {
        "summary": "List producer schools",
        "operationId": "listTeams",
        "tags": [
          "Alpaclass - Teams"
        ],
        "security": [
          {
            "eduzz_auth": [
              "alpaclass_student_read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of producer schools",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedTeams"
                }
              }
            }
          }
        },
        "description": "List producer schools"
      }
    },
    "/alpaclass/v1/producer/teams/{teamId}/students": {
      "get": {
        "summary": "List school students",
        "operationId": "listStudents",
        "tags": [
          "Alpaclass - Students"
        ],
        "security": [
          {
            "eduzz_auth": [
              "alpaclass_student_read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of students",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedStudents"
                }
              }
            }
          }
        },
        "description": "List school students"
      },
      "post": {
        "summary": "Create new student",
        "operationId": "createStudent",
        "tags": [
          "Alpaclass - Students"
        ],
        "security": [
          {
            "eduzz_auth": [
              "alpaclass_student_write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStudentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Student created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Student"
                }
              }
            }
          }
        },
        "description": "Create new student"
      }
    },
    "/alpaclass/v1/producer/teams/{teamId}/students/{studentId}": {
      "get": {
        "summary": "Get student details",
        "operationId": "getStudent",
        "tags": [
          "Alpaclass - Students"
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Student details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Student"
                }
              }
            }
          }
        },
        "description": "Get student details"
      }
    },
    "/alpaclass/v1/producer/teams/{teamId}/students/{studentId}/pending-documents": {
      "put": {
        "summary": "Update pending documents status",
        "operationId": "updatePendingDocuments",
        "tags": [
          "Alpaclass - Students"
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Documents status updated"
          }
        },
        "description": "Update pending documents status"
      }
    },
    "/alpaclass/v1/producer/teams/{teamId}/students/{studentId}/enrollments": {
      "get": {
        "summary": "List student enrollments",
        "operationId": "listStudentEnrollments",
        "tags": [
          "Alpaclass - Students"
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of enrollments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedEnrollments"
                }
              }
            }
          }
        },
        "description": "List student enrollments"
      }
    },
    "/alpaclass/v1/producer/teams/{teamId}/deliveries": {
      "get": {
        "summary": "List school deliveries",
        "operationId": "listDeliveries",
        "tags": [
          "Alpaclass - Deliveries"
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of deliveries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedDeliveries"
                }
              }
            }
          }
        },
        "description": "List school deliveries"
      }
    },
    "/alpaclass/v1/producer/teams/{teamId}/deliveries/{deliveryId}": {
      "get": {
        "summary": "Get delivery details",
        "operationId": "getDelivery",
        "tags": [
          "Alpaclass - Deliveries"
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deliveryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Delivery"
                }
              }
            }
          }
        },
        "description": "Get delivery details"
      }
    },
    "/alpaclass/v1/producer/teams/{teamId}/deliveries/{deliveryId}/courses": {
      "get": {
        "summary": "List delivery courses",
        "operationId": "listDeliveryCourses",
        "tags": [
          "Alpaclass - Deliveries"
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deliveryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of courses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Course"
                  }
                }
              }
            }
          }
        },
        "description": "List delivery courses"
      }
    },
    "/alpaclass/v1/producer/teams/{teamSlug}/enrollments/{enrollmentId}/certificate": {
      "post": {
        "summary": "Replace with external certificate",
        "operationId": "replaceExternalCertificate",
        "tags": [
          "Alpaclass - Certificates"
        ],
        "parameters": [
          {
            "name": "teamSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "enrollmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "certificate_url": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Certificate replaced"
          }
        },
        "description": "Replace with external certificate"
      }
    },
    "/blinket/v1/events": {
      "get": {
        "summary": "List all events",
        "operationId": "listEvents",
        "tags": [
          "Blinket - Events"
        ],
        "security": [
          {
            "eduzz_auth": [
              "blinket_read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedEvents"
                }
              }
            }
          }
        },
        "description": "List all events"
      }
    },
    "/blinket/v1/events/{id}": {
      "get": {
        "summary": "Get event details",
        "operationId": "getEvent",
        "tags": [
          "Blinket - Events"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          }
        },
        "description": "Get event details"
      }
    },
    "/blinket/v1/attendance-tags": {
      "get": {
        "summary": "List all attendance tags",
        "operationId": "listAttendanceTags",
        "tags": [
          "Blinket - Attendance Tags"
        ],
        "responses": {
          "200": {
            "description": "List of tags",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttendanceTag"
                  }
                }
              }
            }
          }
        },
        "description": "List all attendance tags"
      },
      "post": {
        "summary": "Create new attendance tag",
        "operationId": "createAttendanceTag",
        "tags": [
          "Blinket - Attendance Tags"
        ],
        "security": [
          {
            "eduzz_auth": [
              "blinket_write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAttendanceTagRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tag created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttendanceTag"
                }
              }
            }
          }
        },
        "description": "Create new attendance tag"
      }
    },
    "/blinket/v1/attendance-tags/{id}": {
      "put": {
        "summary": "Update attendance tag",
        "operationId": "updateAttendanceTag",
        "tags": [
          "Blinket - Attendance Tags"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAttendanceTagRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag updated"
          }
        },
        "description": "Update attendance tag"
      },
      "delete": {
        "summary": "Delete attendance tag",
        "operationId": "deleteAttendanceTag",
        "tags": [
          "Blinket - Attendance Tags"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Tag deleted"
          }
        },
        "description": "Delete attendance tag"
      }
    },
    "/blinket/v1/attendance-tags/{id}/attendance-list": {
      "get": {
        "summary": "Get participants with tag",
        "operationId": "getParticipantsWithTag",
        "tags": [
          "Blinket - Attendance Tags"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Participants with tag",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Participant"
                  }
                }
              }
            }
          }
        },
        "description": "Get participants with tag"
      },
      "delete": {
        "summary": "Remove tag from participants",
        "operationId": "removeTagFromParticipants",
        "tags": [
          "Blinket - Attendance Tags"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Tag removed from participants"
          }
        },
        "description": "Remove tag from participants"
      }
    },
    "/blinket/v2/attendance-tags/{id}/attendance-list": {
      "post": {
        "summary": "Assign tag to participants",
        "operationId": "assignTagToParticipants",
        "tags": [
          "Blinket - Attendance Tags"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "participant_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag assigned to participants"
          }
        },
        "description": "Assign tag to participants"
      }
    },
    "/blinket/v1/attendance-list/by-event/{id}": {
      "get": {
        "summary": "List event participants",
        "operationId": "listEventParticipants",
        "tags": [
          "Blinket - Attendance"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of participants",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedParticipants"
                }
              }
            }
          }
        },
        "description": "List event participants"
      }
    },
    "/blinket/v1/attendance-list/add-manually": {
      "post": {
        "summary": "Add participant manually",
        "operationId": "addParticipantManually",
        "tags": [
          "Blinket - Attendance"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ManualParticipantRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Participant added"
          }
        },
        "description": "Add participant manually"
      }
    },
    "/blinket/v1/attendance-list/update-by-invitekey/{id}": {
      "put": {
        "summary": "Update participant data",
        "operationId": "updateParticipant",
        "tags": [
          "Blinket - Attendance"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateParticipantRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Participant updated"
          }
        },
        "description": "Update participant data"
      }
    },
    "/blinket/v1/attendance-list/check-in": {
      "put": {
        "summary": "Modify check-in status",
        "operationId": "modifyCheckIn",
        "tags": [
          "Blinket - Attendance"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "invite_key": {
                    "type": "string"
                  },
                  "checked_in": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Check-in status modified"
          }
        },
        "description": "Modify check-in status"
      }
    },
    "/blinket/v1/attendance-list/resend-ticket-email": {
      "post": {
        "summary": "Resend ticket via email",
        "operationId": "resendTicketEmail",
        "tags": [
          "Blinket - Attendance"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "invite_key": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ticket email resent"
          }
        },
        "description": "Resend ticket via email"
      }
    },
    "/sun/v1/cart": {
      "post": {
        "summary": "Create shopping cart",
        "operationId": "createCart",
        "tags": [
          "Sun - Checkout"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCartRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Cart created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cart"
                }
              }
            }
          }
        },
        "description": "Create shopping cart"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "eduzz_auth": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.eduzz.com/oauth/authorize",
            "tokenUrl": "https://api.eduzz.com/oauth/token",
            "scopes": {
              "alpaclass_student_read": "Read student data",
              "alpaclass_student_write": "Write student data",
              "blinket_read": "Read event data",
              "blinket_write": "Write event data"
            }
          }
        }
      }
    },
    "schemas": {
      "UserResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "pages": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "itemsPerPage": {
            "type": "integer"
          },
          "totalItems": {
            "type": "integer"
          },
          "items": {
            "type": "array",
            "items": {}
          }
        }
      },
      "Student": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateStudentRequest": {
        "type": "object",
        "required": [
          "name",
          "email"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "PaginatedStudents": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PaginatedResponse"
          },
          {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Student"
                }
              }
            }
          }
        ]
      },
      "PaginatedTeams": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PaginatedResponse"
          },
          {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          }
        ]
      },
      "Team": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          }
        }
      },
      "Enrollment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "student_id": {
            "type": "string"
          },
          "delivery_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "enrolled_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PaginatedEnrollments": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PaginatedResponse"
          },
          {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Enrollment"
                }
              }
            }
          }
        ]
      },
      "Delivery": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "PaginatedDeliveries": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PaginatedResponse"
          },
          {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Delivery"
                }
              }
            }
          }
        ]
      },
      "Course": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "location": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "PaginatedEvents": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PaginatedResponse"
          },
          {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          }
        ]
      },
      "AttendanceTag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string"
          }
        }
      },
      "CreateAttendanceTagRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string"
          }
        }
      },
      "Participant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "invite_key": {
            "type": "string"
          },
          "checked_in": {
            "type": "boolean"
          }
        }
      },
      "PaginatedParticipants": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PaginatedResponse"
          },
          {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Participant"
                }
              }
            }
          }
        ]
      },
      "ManualParticipantRequest": {
        "type": "object",
        "required": [
          "event_id",
          "name",
          "email"
        ],
        "properties": {
          "event_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "UpdateParticipantRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "Cart": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "checkout_url": {
            "type": "string",
            "format": "uri"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "CreateCartRequest": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "product_id": {
                  "type": "string"
                },
                "quantity": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Alpaclass - Certificates"
    },
    {
      "name": "Alpaclass - Deliveries"
    },
    {
      "name": "Alpaclass - Students"
    },
    {
      "name": "Alpaclass - Teams"
    },
    {
      "name": "Blinket - Attendance"
    },
    {
      "name": "Blinket - Attendance Tags"
    },
    {
      "name": "Blinket - Events"
    },
    {
      "name": "Sun - Checkout"
    }
  ]
}
