{
  "openapi": "3.0.3",
  "info": {
    "title": "BoldSign API",
    "version": "1",
    "x-jentic-source-url": "https://api.boldsign.com/swagger/v1/swagger.json",
    "description": "BoldSign API provides programmatic access to v1 resources."
  },
  "servers": [
    {
      "url": "https://api.boldsign.com"
    }
  ],
  "paths": {
    "/v1/brand/create": {
      "post": {
        "tags": [
          "Branding"
        ],
        "summary": "Create the brand.",
        "operationId": "CreateBrand",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "BrandLogo",
                  "BrandName"
                ],
                "type": "object",
                "properties": {
                  "BrandName": {
                    "title": "String",
                    "type": "string"
                  },
                  "BrandLogo": {
                    "title": "IFormFile",
                    "type": "string",
                    "format": "binary"
                  },
                  "BackgroundColor": {
                    "title": "String",
                    "type": "string"
                  },
                  "ButtonColor": {
                    "title": "String",
                    "type": "string"
                  },
                  "ButtonTextColor": {
                    "title": "String",
                    "type": "string"
                  },
                  "EmailDisplayName": {
                    "title": "String",
                    "type": "string"
                  },
                  "DisclaimerDescription": {
                    "title": "String",
                    "type": "string"
                  },
                  "DisclaimerTitle": {
                    "title": "String",
                    "type": "string"
                  },
                  "RedirectUrl": {
                    "title": "String",
                    "type": "string"
                  },
                  "IsDefault": {
                    "title": "Boolean",
                    "type": "boolean",
                    "default": false
                  },
                  "CanHideTagLine": {
                    "title": "Boolean",
                    "type": "boolean",
                    "default": false
                  },
                  "CombineAuditTrail": {
                    "title": "Boolean",
                    "type": "boolean",
                    "default": false
                  },
                  "CombineAttachments": {
                    "title": "Boolean",
                    "type": "boolean",
                    "default": false
                  },
                  "ExcludeAuditTrailFromEmail": {
                    "title": "Boolean",
                    "type": "boolean",
                    "default": false
                  },
                  "EmailSignedDocument": {
                    "title": "EmailSignedDocument",
                    "enum": [
                      "Attachment",
                      "DocumentLink"
                    ],
                    "type": "string",
                    "default": "Attachment"
                  },
                  "DocumentTimeZone": {
                    "title": "String",
                    "type": "string"
                  },
                  "ShowBuiltInFormFields": {
                    "title": "Boolean",
                    "type": "boolean",
                    "default": true
                  },
                  "AllowCustomFieldCreation": {
                    "title": "Boolean",
                    "type": "boolean",
                    "default": false
                  },
                  "ShowSharedCustomFields": {
                    "title": "Boolean",
                    "type": "boolean",
                    "default": false
                  },
                  "HideDecline": {
                    "title": "Nullable`1",
                    "type": "boolean"
                  },
                  "HideSave": {
                    "title": "Nullable`1",
                    "type": "boolean"
                  },
                  "DocumentExpirySettings.ExpiryDateType": {
                    "title": "Nullable`1",
                    "enum": [
                      "Days",
                      "Hours",
                      "SpecificDateTime"
                    ],
                    "type": "string"
                  },
                  "DocumentExpirySettings.ExpiryValue": {
                    "title": "Nullable`1",
                    "type": "integer",
                    "format": "int32"
                  },
                  "DocumentExpirySettings.EnableDefaultExpiryAlert": {
                    "title": "Nullable`1",
                    "type": "boolean"
                  },
                  "DocumentExpirySettings.EnableAutoReminder": {
                    "title": "Nullable`1",
                    "type": "boolean"
                  },
                  "DocumentExpirySettings.ReminderDays": {
                    "title": "Nullable`1",
                    "maximum": 180,
                    "minimum": 1,
                    "type": "integer",
                    "format": "int32"
                  },
                  "DocumentExpirySettings.ReminderCount": {
                    "title": "Nullable`1",
                    "type": "integer",
                    "format": "int32"
                  },
                  "CustomDomainSettings.DomainName": {
                    "title": "String",
                    "type": "string"
                  },
                  "CustomDomainSettings.FromName": {
                    "title": "String",
                    "type": "string"
                  },
                  "SignatureFrameSettings.EnableSignatureFrame": {
                    "title": "Boolean",
                    "type": "boolean",
                    "default": false
                  },
                  "SignatureFrameSettings.ShowRecipientName": {
                    "title": "Boolean",
                    "type": "boolean",
                    "default": false
                  },
                  "SignatureFrameSettings.ShowRecipientEmail": {
                    "title": "Boolean",
                    "type": "boolean",
                    "default": false
                  },
                  "SignatureFrameSettings.ShowTimeStamp": {
                    "title": "Boolean",
                    "type": "boolean",
                    "default": false
                  }
                }
              },
              "encoding": {
                "BrandName": {
                  "style": "form"
                },
                "BrandLogo": {
                  "style": "form"
                },
                "BackgroundColor": {
                  "style": "form"
                },
                "ButtonColor": {
                  "style": "form"
                },
                "ButtonTextColor": {
                  "style": "form"
                },
                "EmailDisplayName": {
                  "style": "form"
                },
                "DisclaimerDescription": {
                  "style": "form"
                },
                "DisclaimerTitle": {
                  "style": "form"
                },
                "RedirectUrl": {
                  "style": "form"
                },
                "IsDefault": {
                  "style": "form"
                },
                "CanHideTagLine": {
                  "style": "form"
                },
                "CombineAuditTrail": {
                  "style": "form"
                },
                "CombineAttachments": {
                  "style": "form"
                },
                "ExcludeAuditTrailFromEmail": {
                  "style": "form"
                },
                "EmailSignedDocument": {
                  "style": "form"
                },
                "DocumentTimeZone": {
                  "style": "form"
                },
                "ShowBuiltInFormFields": {
                  "style": "form"
                },
                "AllowCustomFieldCreation": {
                  "style": "form"
                },
                "ShowSharedCustomFields": {
                  "style": "form"
                },
                "HideDecline": {
                  "style": "form"
                },
                "HideSave": {
                  "style": "form"
                },
                "DocumentExpirySettings.ExpiryDateType": {
                  "style": "form"
                },
                "DocumentExpirySettings.ExpiryValue": {
                  "style": "form"
                },
                "DocumentExpirySettings.EnableDefaultExpiryAlert": {
                  "style": "form"
                },
                "DocumentExpirySettings.EnableAutoReminder": {
                  "style": "form"
                },
                "DocumentExpirySettings.ReminderDays": {
                  "style": "form"
                },
                "DocumentExpirySettings.ReminderCount": {
                  "style": "form"
                },
                "CustomDomainSettings.DomainName": {
                  "style": "form"
                },
                "CustomDomainSettings.FromName": {
                  "style": "form"
                },
                "SignatureFrameSettings.EnableSignatureFrame": {
                  "style": "form"
                },
                "SignatureFrameSettings.ShowRecipientName": {
                  "style": "form"
                },
                "SignatureFrameSettings.ShowRecipientEmail": {
                  "style": "form"
                },
                "SignatureFrameSettings.ShowTimeStamp": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      }
    },
    "/v1/brand/edit": {
      "post": {
        "tags": [
          "Branding"
        ],
        "summary": "Edit the brand.",
        "operationId": "EditBrand",
        "parameters": [
          {
            "name": "brandId",
            "in": "query",
            "description": "The brand id.",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "BrandName": {
                    "title": "String",
                    "type": "string"
                  },
                  "BrandLogo": {
                    "title": "IFormFile",
                    "type": "string",
                    "format": "binary"
                  },
                  "BackgroundColor": {
                    "title": "String",
                    "type": "string"
                  },
                  "ButtonColor": {
                    "title": "String",
                    "type": "string"
                  },
                  "ButtonTextColor": {
                    "title": "String",
                    "type": "string"
                  },
                  "EmailDisplayName": {
                    "title": "String",
                    "type": "string"
                  },
                  "DisclaimerDescription": {
                    "title": "String",
                    "type": "string"
                  },
                  "DisclaimerTitle": {
                    "title": "String",
                    "type": "string"
                  },
                  "RedirectUrl": {
                    "title": "String",
                    "type": "string"
                  },
                  "IsDefault": {
                    "title": "Boolean",
                    "type": "boolean",
                    "default": false
                  },
                  "CanHideTagLine": {
                    "title": "Boolean",
                    "type": "boolean",
                    "default": false
                  },
                  "CombineAuditTrail": {
                    "title": "Boolean",
                    "type": "boolean",
                    "default": false
                  },
                  "CombineAttachments": {
                    "title": "Boolean",
                    "type": "boolean",
                    "default": false
                  },
                  "ExcludeAuditTrailFromEmail": {
                    "title": "Boolean",
                    "type": "boolean",
                    "default": false
                  },
                  "EmailSignedDocument": {
                    "title": "EmailSignedDocument",
                    "enum": [
                      "Attachment",
                      "DocumentLink"
                    ],
                    "type": "string",
                    "default": "Attachment"
                  },
                  "DocumentTimeZone": {
                    "title": "String",
                    "type": "string"
                  },
                  "ShowBuiltInFormFields": {
                    "title": "Boolean",
                    "type": "boolean",
                    "default": true
                  },
                  "AllowCustomFieldCreation": {
                    "title": "Boolean",
                    "type": "boolean",
                    "default": false
                  },
                  "ShowSharedCustomFields": {
                    "title": "Boolean",
                    "type": "boolean",
                    "default": false
                  },
                  "HideDecline": {
                    "title": "Nullable`1",
                    "type": "boolean"
                  },
                  "HideSave": {
                    "title": "Nullable`1",
                    "type": "boolean"
                  },
                  "DocumentExpirySettings.ExpiryDateType": {
                    "title": "Nullable`1",
                    "enum": [
                      "Days",
                      "Hours",
                      "SpecificDateTime"
                    ],
                    "type": "string"
                  },
                  "DocumentExpirySettings.ExpiryValue": {
                    "title": "Nullable`1",
                    "type": "integer",
                    "format": "int32"
                  },
                  "DocumentExpirySettings.EnableDefaultExpiryAlert": {
                    "title": "Nullable`1",
                    "type": "boolean"
                  },
                  "DocumentExpirySettings.EnableAutoReminder": {
                    "title": "Nullable`1",
                    "type": "boolean"
                  },
                  "DocumentExpirySettings.ReminderDays": {
                    "title": "Nullable`1",
                    "maximum": 180,
                    "minimum": 1,
                    "type": "integer",
                    "format": "int32"
                  },
                  "DocumentExpirySettings.ReminderCount": {
                    "title": "Nullable`1",
                    "type": "integer",
                    "format": "int32"
                  },
                  "CustomDomainSettings.DomainName": {
                    "title": "String",
                    "type": "string"
                  },
                  "CustomDomainSettings.FromName": {
                    "title": "String",
                    "type": "string"
                  },
                  "SignatureFrameSettings.EnableSignatureFrame": {
                    "title": "Boolean",
                    "type": "boolean",
                    "default": false
                  },
                  "SignatureFrameSettings.ShowRecipientName": {
                    "title": "Boolean",
                    "type": "boolean",
                    "default": false
                  },
                  "SignatureFrameSettings.ShowRecipientEmail": {
                    "title": "Boolean",
                    "type": "boolean",
                    "default": false
                  },
                  "SignatureFrameSettings.ShowTimeStamp": {
                    "title": "Boolean",
                    "type": "boolean",
                    "default": false
                  }
                }
              },
              "encoding": {
                "BrandName": {
                  "style": "form"
                },
                "BrandLogo": {
                  "style": "form"
                },
                "BackgroundColor": {
                  "style": "form"
                },
                "ButtonColor": {
                  "style": "form"
                },
                "ButtonTextColor": {
                  "style": "form"
                },
                "EmailDisplayName": {
                  "style": "form"
                },
                "DisclaimerDescription": {
                  "style": "form"
                },
                "DisclaimerTitle": {
                  "style": "form"
                },
                "RedirectUrl": {
                  "style": "form"
                },
                "IsDefault": {
                  "style": "form"
                },
                "CanHideTagLine": {
                  "style": "form"
                },
                "CombineAuditTrail": {
                  "style": "form"
                },
                "CombineAttachments": {
                  "style": "form"
                },
                "ExcludeAuditTrailFromEmail": {
                  "style": "form"
                },
                "EmailSignedDocument": {
                  "style": "form"
                },
                "DocumentTimeZone": {
                  "style": "form"
                },
                "ShowBuiltInFormFields": {
                  "style": "form"
                },
                "AllowCustomFieldCreation": {
                  "style": "form"
                },
                "ShowSharedCustomFields": {
                  "style": "form"
                },
                "HideDecline": {
                  "style": "form"
                },
                "HideSave": {
                  "style": "form"
                },
                "DocumentExpirySettings.ExpiryDateType": {
                  "style": "form"
                },
                "DocumentExpirySettings.ExpiryValue": {
                  "style": "form"
                },
                "DocumentExpirySettings.EnableDefaultExpiryAlert": {
                  "style": "form"
                },
                "DocumentExpirySettings.EnableAutoReminder": {
                  "style": "form"
                },
                "DocumentExpirySettings.ReminderDays": {
                  "style": "form"
                },
                "DocumentExpirySettings.ReminderCount": {
                  "style": "form"
                },
                "CustomDomainSettings.DomainName": {
                  "style": "form"
                },
                "CustomDomainSettings.FromName": {
                  "style": "form"
                },
                "SignatureFrameSettings.EnableSignatureFrame": {
                  "style": "form"
                },
                "SignatureFrameSettings.ShowRecipientName": {
                  "style": "form"
                },
                "SignatureFrameSettings.ShowRecipientEmail": {
                  "style": "form"
                },
                "SignatureFrameSettings.ShowTimeStamp": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/json;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCreated"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      }
    },
    "/v1/brand/get": {
      "get": {
        "tags": [
          "Branding"
        ],
        "summary": "Get the specific brand details.",
        "operationId": "GetBrand",
        "parameters": [
          {
            "name": "brandId",
            "in": "query",
            "description": "The brand id.",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ViewBrandDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      }
    },
    "/v1/brand/delete": {
      "delete": {
        "tags": [
          "Branding"
        ],
        "summary": "Delete the brand.",
        "operationId": "DeleteBrand",
        "parameters": [
          {
            "name": "brandId",
            "in": "query",
            "description": "brand Id.",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/json;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
[...]
