{
  "openapi": "3.0.3",
  "info": {
    "title": "Paytrail Payment API",
    "version": "2.0.0",
    "description": "Paytrail Payment API provides endpoints for creating and managing payments, refunds, tokenization, and settlement reporting for Finnish e-commerce merchants.",
    "x-jentic-source-url": "https://www.paytrail.com/en/developers"
  },
  "servers": [
    {
      "url": "https://services.paytrail.com"
    }
  ],
  "paths": {
    "/payments": {
      "post": {
        "operationId": "createPayment",
        "summary": "Create a new payment",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "checkout-account",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Merchant ID"
          },
          {
            "name": "checkout-algorithm",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "sha256",
                "sha512"
              ]
            },
            "description": "HMAC algorithm"
          },
          {
            "name": "checkout-method",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "GET",
                "POST"
              ]
            },
            "description": "HTTP method of the request"
          },
          {
            "name": "checkout-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO 8601 timestamp"
          },
          {
            "name": "checkout-nonce",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique UUID identifier for the request"
          },
          {
            "name": "signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "HMAC signature"
          },
          {
            "name": "platform-name",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Platform identifier"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{transactionId}": {
      "get": {
        "operationId": "getPayment",
        "summary": "Get payment details",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Transaction identifier"
          },
          {
            "name": "checkout-account",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "checkout-algorithm",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "sha256",
                "sha512"
              ]
            }
          },
          {
            "name": "checkout-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "checkout-nonce",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Payment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{transactionId}/refund": {
      "post": {
        "operationId": "refundPayment",
        "summary": "Refund a payment",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "checkout-account",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "checkout-algorithm",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "sha256",
                "sha512"
              ]
            }
          },
          {
            "name": "checkout-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "checkout-nonce",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Refund initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Refund not supported by provider",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{transactionId}/refund/email": {
      "post": {
        "operationId": "refundPaymentByEmail",
        "summary": "Email-based refund with API fallback",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "checkout-account",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "checkout-algorithm",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "sha256",
                "sha512"
              ]
            }
          },
          {
            "name": "checkout-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "checkout-nonce",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailRefundRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Refund initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{transactionId}/activate-invoice": {
      "post": {
        "operationId": "activateInvoice",
        "summary": "Activate a pending Collector invoice",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "checkout-account",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "checkout-algorithm",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "sha256",
                "sha512"
              ]
            }
          },
          {
            "name": "checkout-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "checkout-nonce",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice activation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivateInvoiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/merchants/payment-providers": {
      "get": {
        "operationId": "listPaymentProviders",
        "summary": "List available payment providers",
        "tags": [
          "Providers"
        ],
        "parameters": [
          {
            "name": "checkout-account",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "checkout-algorithm",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "sha256",
                "sha512"
              ]
            }
          },
          {
            "name": "checkout-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "checkout-nonce",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Amount in minor units for filtering"
          },
          {
            "name": "groups",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "mobile",
                  "bank",
                  "creditcard",
                  "credit",
                  "other"
                ]
              }
            },
            "description": "Filter by payment method groups"
          }
        ],
        "responses": {
          "200": {
            "description": "List of payment providers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentProvider"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/merchants/grouped-payment-providers": {
      "get": {
        "operationId": "listGroupedPaymentProviders",
        "summary": "List grouped payment providers with localized data",
        "tags": [
          "Providers"
        ],
        "parameters": [
          {
            "name": "checkout-account",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "checkout-algorithm",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "sha256",
                "sha512"
              ]
            }
          },
          {
            "name": "checkout-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "checkout-nonce",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "groups",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "mobile",
                  "bank",
                  "creditcard",
                  "credit",
                  "other"
                ]
              }
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "FI",
                "SV",
                "EN"
              ],
              "default": "FI"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Grouped payment providers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupedPaymentProvidersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tokenization/addcard-form": {
      "post": {
        "operationId": "redirectToAddCardForm",
        "summary": "Redirect user to card addition form",
        "tags": [
          "Tokenization"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCardFormRequest"
              }
            }
          }
        },
        "responses": {
          "302": {
            "description": "Redirect to card form"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tokenization/{checkoutTokenizationId}": {
      "post": {
        "operationId": "getToken",
        "summary": "Request card token after form submission",
        "tags": [
          "Tokenization"
        ],
        "parameters": [
          {
            "name": "checkoutTokenizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Tokenization ID from form redirect"
          },
          {
            "name": "checkout-account",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "checkout-algorithm",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "sha256",
                "sha512"
              ]
            }
          },
          {
            "name": "checkout-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "checkout-nonce",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "checkout-tokenization-id"
                ],
                "properties": {
                  "checkout-tokenization-id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments/token/mit/charge": {
      "post": {
        "operationId": "chargeTokenMit",
        "summary": "Merchant-initiated token charge",
        "tags": [
          "Token Payments"
        ],
        "parameters": [
          {
            "name": "checkout-account",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "checkout-algorithm",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "sha256",
                "sha512"
              ]
            }
          },
          {
            "name": "checkout-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "checkout-nonce",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Token charge created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenPaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments/token/mit/authorization-hold": {
      "post": {
        "operationId": "createMitAuthorizationHold",
        "summary": "Merchant-initiated authorization hold on token",
        "tags": [
          "Token Payments"
        ],
        "parameters": [
          {
            "name": "checkout-account",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "checkout-algorithm",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "sha256",
                "sha512"
              ]
            }
          },
          {
            "name": "checkout-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "checkout-nonce",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Authorization hold created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenPaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments/token/cit/charge": {
      "post": {
        "operationId": "chargeTokenCit",
        "summary": "Customer-initiated token charge (may require 3DS)",
        "tags": [
          "Token Payments"
        ],
        "parameters": [
          {
            "name": "checkout-account",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "checkout-algorithm",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "sha256",
                "sha512"
              ]
            }
          },
          {
            "name": "checkout-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "checkout-nonce",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Token charge created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenPaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "3DS authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreeDSecureResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments/token/cit/authorization-hold": {
      "post": {
        "operationId": "createCitAuthorizationHold",
        "summary": "Customer-initiated authorization hold (may require 3DS)",
        "tags": [
          "Token Payments"
        ],
        "parameters": [
          {
            "name": "checkout-account",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "checkout-algorithm",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "sha256",
                "sha512"
              ]
            }
          },
          {
            "name": "checkout-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "checkout-nonce",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Authorization hold created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenPaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "3DS authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreeDSecureResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{transactionId}/token/commit": {
      "post": {
        "operationId": "commitTokenAuthorizationHold",
        "summary": "Commit an authorization hold",
        "tags": [
          "Token Payments"
        ],
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "checkout-account",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "checkout-algorithm",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "sha256",
                "sha512"
              ]
            }
          },
          {
            "name": "checkout-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "checkout-nonce",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Authorization hold committed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenPaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{transactionId}/token/revert": {
      "post": {
        "operationId": "revertTokenAuthorizationHold",
        "summary": "Revert an authorization hold",
        "tags": [
          "Token Payments"
        ],
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "checkout-account",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "checkout-algorithm",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "sha256",
                "sha512"
              ]
            }
          },
          {
            "name": "checkout-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "checkout-nonce",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authorization hold reverted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenPaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/settlements": {
      "get": {
        "operationId": "listSettlements",
        "summary": "List settlement IDs",
        "tags": [
          "Settlements"
        ],
        "parameters": [
          {
            "name": "checkout-account",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "checkout-algorithm",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "sha256",
                "sha512"
              ]
            }
          },
          {
            "name": "checkout-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "checkout-nonce",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "bankReference",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 20
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "submerchant",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of settlements",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SettlementIdItem"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments/report": {
      "post": {
        "operationId": "requestPaymentReport",
        "summary": "Request a payment report via callback",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "checkout-account",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "checkout-algorithm",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "sha256",
                "sha512"
              ]
            }
          },
          {
            "name": "checkout-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "checkout-nonce",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Report request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentReportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/settlements/{settlementId}/payments/report": {
      "post": {
        "operationId": "requestSettlementPaymentReport",
        "summary": "Request payment report for a specific settlement",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "settlementId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "checkout-account",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "checkout-algorithm",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "sha256",
                "sha512"
              ]
            }
          },
          {
            "name": "checkout-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "checkout-nonce",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SettlementPaymentReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Report request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentReportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PaymentRequest": {
        "type": "object",
        "required": [
          "stamp",
          "reference",
          "amount",
          "currency",
          "language",
          "items",
          "customer",
          "redirectUrls"
        ],
        "properties": {
          "stamp": {
            "type": "string",
            "maxLength": 200,
            "description": "Unique merchant stamp"
          },
          "reference": {
            "type": "string",
            "maxLength": 200,
            "description": "Merchant reference"
          },
          "amount": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "maximum": 99999999,
            "description": "Total amount in minor units (cents)"
          },
          "currency": {
            "type": "string",
            "enum": [
              "EUR"
            ]
          },
          "language": {
            "type": "string",
            "enum": [
              "FI",
              "SV",
              "EN"
            ]
          },
          "orderId": {
            "type": "string",
            "maxLength": 60
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Item"
            }
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "deliveryAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "invoicingAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "redirectUrls": {
            "$ref": "#/components/schemas/CallbackUrls"
          },
          "callbackUrls": {
            "$ref": "#/components/schemas/CallbackUrls"
          },
          "callbackDelay": {
            "type": "integer",
            "minimum": 0,
            "maximum": 900
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "mobile",
                "bank",
                "creditcard",
                "credit",
                "other"
              ]
            }
          },
          "usePricesWithoutVat": {
            "type": "boolean"
          }
        }
      },
      "Item": {
        "type": "object",
        "required": [
          "unitPrice",
          "units",
          "vatPercentage",
          "productCode"
        ],
        "properties": {
          "unitPrice": {
            "type": "integer",
            "format": "int64",
            "description": "Price per unit in minor units"
          },
          "units": {
            "type": "integer",
            "format": "int64",
            "minimum": 1,
            "maximum": 10000000
          },
          "vatPercentage": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          },
          "productCode": {
            "type": "string",
            "maxLength": 100
          },
          "deliveryDate": {
            "type": "string",
            "format": "date"
          },
          "description": {
            "type": "string",
            "maxLength": 1000
          },
          "category": {
            "type": "string",
            "maxLength": 100
          },
          "merchant": {
            "type": "integer",
            "format": "int32",
            "description": "Shop-in-shop sub-merchant ID"
          },
          "stamp": {
            "type": "string",
            "maxLength": 200
          },
          "reference": {
            "type": "string",
            "maxLength": 200
          }
        }
      },
      "Customer": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "vatId": {
            "type": "string",
            "description": "VAT ID in international format (e.g. FI02454583)"
          }
        }
      },
      "Address": {
        "type": "object",
        "required": [
          "streetAddress",
          "postalCode",
          "city",
          "country"
        ],
        "properties": {
          "streetAddress": {
            "type": "string",
            "maxLength": 200
          },
          "postalCode": {
            "type": "string",
            "maxLength": 15
          },
          "city": {
            "type": "string",
            "maxLength": 200
          },
          "country": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2
          },
          "county": {
            "type": "string",
            "maxLength": 200
          }
        }
      },
      "CallbackUrls": {
        "type": "object",
        "required": [
          "success",
          "cancel"
        ],
        "properties": {
          "success": {
            "type": "string",
            "format": "uri",
            "maxLength": 300
          },
          "cancel": {
            "type": "string",
            "format": "uri",
            "maxLength": 300
          }
        }
      },
      "PaymentResponse": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string",
            "format": "uuid"
          },
          "href": {
            "type": "string",
            "format": "uri",
            "description": "URL to payment gateway"
          },
          "terms": {
            "type": "string",
            "description": "HTML with payment terms link"
          },
          "groups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentMethodGroup"
            }
          },
          "providers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentProvider"
            }
          }
        }
      },
      "PaymentDetails": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "new",
              "ok",
              "fail",
              "pending",
              "delayed",
              "authorization-hold"
            ]
          },
          "amount": {
            "type": "integer",
            "format": "int64"
          },
          "currency": {
            "type": "string",
            "enum": [
              "EUR"
            ]
          },
          "stamp": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "href": {
            "type": "string",
            "format": "uri"
          },
          "provider": {
            "type": "string"
          },
          "filingCode": {
            "type": "string"
          },
          "paidAt": {
            "type": "string",
            "format": "date-time"
          },
          "cardInfo": {
            "$ref": "#/components/schemas/CardInfo"
          }
        }
      },
      "CardInfo": {
        "type": "object",
        "properties": {
          "partialPan": {
            "type": "string"
          },
          "countryCode": {
            "type": "string"
          },
          "bin": {
            "type": "string"
          }
        }
      },
      "RefundRequest": {
        "type": "object",
        "required": [
          "refundStamp",
          "refundReference",
          "callbackUrls"
        ],
        "properties": {
          "amount": {
            "type": "integer",
            "format": "int64",
            "description": "Amount to refund in minor units"
          },
          "refundStamp": {
            "type": "string",
            "maxLength": 200
          },
          "refundReference": {
            "type": "string",
            "maxLength": 200
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Item"
            }
          },
          "callbackUrls": {
            "$ref": "#/components/schemas/CallbackUrls"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "EmailRefundRequest": {
        "type": "object",
        "required": [
          "email",
          "refundStamp",
          "refundReference",
          "callbackUrls"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "amount": {
            "type": "integer",
            "format": "int64"
          },
          "refundStamp": {
            "type": "string",
            "maxLength": 200
          },
          "refundReference": {
            "type": "string",
            "maxLength": 200
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Item"
            }
          },
          "callbackUrls": {
            "$ref": "#/components/schemas/CallbackUrls"
          }
        }
      },
      "RefundResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "pending",
              "fail"
            ]
          },
          "transactionId": {
            "type": "string",
            "format": "uuid"
          },
          "provider": {
            "type": "string"
          }
        }
      },
      "ActivateInvoiceResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "error"
            ]
          },
          "message": {
            "type": "string"
          }
        }
      },
      "PaymentProvider": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "icon": {
            "type": "string",
            "format": "uri"
          },
          "group": {
            "type": "string"
          },
          "svg": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "PaymentMethodGroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "icon": {
            "type": "string",
            "format": "uri"
          },
          "svg": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "GroupedPaymentProvidersResponse": {
        "type": "object",
        "properties": {
          "terms": {
            "type": "string"
          },
          "groups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentMethodGroup"
            }
          },
          "providers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentProvider"
            }
          }
        }
      },
      "AddCardFormRequest": {
        "type": "object",
        "required": [
          "checkout-account",
          "checkout-algorithm",
          "checkout-redirect-success-url",
          "checkout-redirect-cancel-url",
          "checkout-nonce",
          "checkout-timestamp",
          "signature"
        ],
        "properties": {
          "checkout-account": {
            "type": "integer",
            "format": "int32"
          },
          "checkout-algorithm": {
            "type": "string",
            "enum": [
              "sha256",
              "sha512"
            ]
          },
          "checkout-redirect-success-url": {
            "type": "string",
            "format": "uri"
          },
          "checkout-redirect-cancel-url": {
            "type": "string",
            "format": "uri"
          },
          "checkout-callback-success-url": {
            "type": "string",
            "format": "uri"
          },
          "checkout-callback-cancel-url": {
            "type": "string",
            "format": "uri"
          },
          "language": {
            "type": "string",
            "enum": [
              "FI",
              "SV",
              "EN"
            ]
          },
          "checkout-nonce": {
            "type": "string",
            "format": "uuid"
          },
          "checkout-timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "signature": {
            "type": "string"
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "format": "uuid"
          },
          "customer": {
            "type": "object",
            "properties": {
              "networkAddress": {
                "type": "string"
              },
              "countryCode": {
                "type": "string"
              }
            }
          },
          "card": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "partialPan": {
                "type": "string"
              },
              "expireYear": {
                "type": "string"
              },
              "expireMonth": {
                "type": "string"
              },
              "cvcRequired": {
                "type": "boolean"
              },
              "bin": {
                "type": "string"
              },
              "funding": {
                "type": "string"
              },
              "countryCode": {
                "type": "string"
              },
              "category": {
                "type": "string"
              },
              "cardFingerprint": {
                "type": "string"
              },
              "panFingerprint": {
                "type": "string"
              }
            }
          }
        }
      },
      "TokenPaymentRequest": {
        "type": "object",
        "required": [
          "stamp",
          "reference",
          "amount",
          "currency",
          "token",
          "customer",
          "items",
          "redirectUrls"
        ],
        "properties": {
          "stamp": {
            "type": "string",
            "maxLength": 200
          },
          "reference": {
            "type": "string",
            "maxLength": 200
          },
          "amount": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "maximum": 99999999
          },
          "currency": {
            "type": "string",
            "enum": [
              "EUR"
            ]
          },
          "language": {
            "type": "string",
            "enum": [
              "FI",
              "SV",
              "EN"
            ]
          },
          "orderId": {
            "type": "string"
          },
          "token": {
            "type": "string",
            "format": "uuid"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Item"
            }
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "deliveryAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "invoicingAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "redirectUrls": {
            "$ref": "#/components/schemas/CallbackUrls"
          },
          "callbackUrls": {
            "$ref": "#/components/schemas/CallbackUrls"
          }
        }
      },
      "TokenPaymentResponse": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "ThreeDSecureResponse": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string",
            "format": "uuid"
          },
          "threeDSecureUrl": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "SettlementIdItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "settledAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PaymentReportRequest": {
        "type": "object",
        "required": [
          "requestType",
          "callbackUrl"
        ],
        "properties": {
          "requestType": {
            "type": "string",
            "enum": [
              "json",
              "csv"
            ]
          },
          "callbackUrl": {
            "type": "string",
            "format": "uri"
          },
          "paymentStatus": {
            "type": "string",
            "enum": [
              "default",
              "all",
              "paid",
              "settled"
            ]
          },
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          },
          "limit": {
            "type": "integer",
            "maximum": 50000,
            "default": 50000
          },
          "reportFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "submerchant": {
            "type": "integer"
          },
          "includeItems": {
            "type": "boolean"
          }
        }
      },
      "SettlementPaymentReportRequest": {
        "type": "object",
        "required": [
          "requestType",
          "callbackUrl"
        ],
        "properties": {
          "requestType": {
            "type": "string",
            "enum": [
              "json",
              "csv"
            ]
          },
          "callbackUrl": {
            "type": "string",
            "format": "uri"
          },
          "reportFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "submerchant": {
            "type": "integer"
          }
        }
      },
      "PaymentReportResponse": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "message": {
            "type": "string"
          },
          "meta": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "HmacAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "signature",
        "description": "HMAC SHA256/SHA512 signature computed over checkout headers and request body"
      }
    }
  },
  "security": [
    {
      "HmacAuth": []
    }
  ]
}