{
  "openapi": "3.0.3",
  "info": {
    "title": "Kutt API",
    "description": "Free Modern URL Shortener. Kutt is an open-source URL shortener with custom domains support, API, and analytics.",
    "version": "2.0.0",
    "contact": {
      "name": "Kutt",
      "url": "https://kutt.it"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-jentic-source-url": "https://docs.kutt.it/"
  },
  "servers": [
    {
      "url": "https://kutt.it/api/v2",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Links",
      "description": "URL shortening and link management"
    },
    {
      "name": "Domains",
      "description": "Custom domain management"
    },
    {
      "name": "Users",
      "description": "User account operations"
    }
  ],
  "paths": {
    "/links": {
      "get": {
        "tags": ["Links"],
        "summary": "List all links",
        "description": "Get a list of all shortened links for the authenticated user.",
        "operationId": "listLinks",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "Number of links to skip for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of links to return",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 50
            }
          },
          {
            "name": "all",
            "in": "query",
            "description": "Return all links without pagination",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of links",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Links"],
        "summary": "Create a short link",
        "description": "Create a new shortened URL. Optionally specify a custom address, password, expiration, and domain.",
        "operationId": "createLink",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Link created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid URL or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - custom address already in use",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/links/{id}": {
      "patch": {
        "tags": ["Links"],
        "summary": "Update a link",
        "description": "Update the target URL or custom address of an existing shortened link.",
        "operationId": "updateLink",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Link ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Link updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Link not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Links"],
        "summary": "Delete a link",
        "description": "Delete an existing shortened link.",
        "operationId": "deleteLink",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Link ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Link deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Link not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/links/{id}/stats": {
      "get": {
        "tags": ["Links"],
        "summary": "Get link statistics",
        "description": "Retrieve click statistics and analytics for a specific shortened link.",
        "operationId": "getLinkStats",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Link ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Link statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkStats"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Link not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/domains": {
      "post": {
        "tags": ["Domains"],
        "summary": "Add a custom domain",
        "description": "Add a custom domain for use with shortened links.",
        "operationId": "createDomain",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Domain added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/domains/{id}": {
      "delete": {
        "tags": ["Domains"],
        "summary": "Delete a custom domain",
        "description": "Remove a custom domain from the account.",
        "operationId": "deleteDomain",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Domain ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "tags": ["Users"],
        "summary": "Get user information",
        "description": "Retrieve the authenticated user's account information.",
        "operationId": "getUser",
        "responses": {
          "200": {
            "description": "User information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "X-API-Key",
        "in": "header",
        "description": "API key for authentication. Obtain from the Kutt dashboard settings."
      }
    },
    "schemas": {
      "Link": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique link identifier"
          },
          "address": {
            "type": "string",
            "description": "Custom short URL address"
          },
          "banned": {
            "type": "boolean",
            "description": "Whether the link has been banned"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "type": "string",
            "description": "Link description"
          },
          "expire_in": {
            "type": "string",
            "format": "date-time",
            "description": "Expiration date"
          },
          "link": {
            "type": "string",
            "format": "uri",
            "description": "The shortened URL"
          },
          "password": {
            "type": "boolean",
            "description": "Whether the link is password protected"
          },
          "target": {
            "type": "string",
            "format": "uri",
            "description": "The target/destination URL"
          },
          "visit_count": {
            "type": "integer",
            "description": "Total number of visits"
          }
        }
      },
      "LinkCreate": {
        "type": "object",
        "required": ["target"],
        "properties": {
          "target": {
            "type": "string",
            "format": "uri",
            "description": "The target URL to shorten"
          },
          "description": {
            "type": "string",
            "description": "Description for the link"
          },
          "expire_in": {
            "type": "string",
            "description": "Expiration time (e.g., '2 minutes', '1 hours', '7 days')"
          },
          "password": {
            "type": "string",
            "description": "Password to protect the link"
          },
          "customurl": {
            "type": "string",
            "description": "Custom address for the short URL"
          },
          "reuse": {
            "type": "boolean",
            "description": "If true, reuse an existing short link for the same target",
            "default": false
          },
          "domain": {
            "type": "string",
            "description": "Custom domain to use for the short link"
          }
        }
      },
      "LinkUpdate": {
        "type": "object",
        "properties": {
          "target": {
            "type": "string",
            "format": "uri",
            "description": "New target URL"
          },
          "address": {
            "type": "string",
            "description": "New custom address"
          },
          "description": {
            "type": "string"
          },
          "expire_in": {
            "type": "string"
          }
        }
      },
      "LinkListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "skip": {
            "type": "integer"
          }
        }
      },
      "LinkStats": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "target": {
            "type": "string",
            "format": "uri"
          },
          "total": {
            "type": "integer",
            "description": "Total visit count"
          },
          "stats": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatEntry"
            }
          },
          "browser": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BrowserStat"
            }
          },
          "os": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OSStat"
            }
          },
          "country": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CountryStat"
            }
          },
          "referrer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReferrerStat"
            }
          }
        }
      },
      "StatEntry": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "views": {
            "type": "integer"
          }
        }
      },
      "BrowserStat": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "integer"
          }
        }
      },
      "OSStat": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "integer"
          }
        }
      },
      "CountryStat": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "integer"
          }
        }
      },
      "ReferrerStat": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "integer"
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "address": {
            "type": "string",
            "description": "Domain address"
          },
          "banned": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "homepage": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "DomainCreate": {
        "type": "object",
        "required": ["address"],
        "properties": {
          "address": {
            "type": "string",
            "description": "Custom domain address (e.g., 'short.example.com')"
          },
          "homepage": {
            "type": "string",
            "format": "uri",
            "description": "Homepage URL for the custom domain"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "apikey": {
            "type": "string",
            "description": "User's API key"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "domains": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Domain"
            }
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  }
}
