{
  "openapi": "3.0.3",
  "info": {
    "title": "Leap Energy API",
    "version": "1.0.0",
    "description": "Leap's Universal API for distributed energy resources (DER) management. Provides endpoints for onboarding meters, managing meter enrollments, dispatching energy resources, bidding in CAISO markets, revenue analytics, interval data, and webhook management.",
    "x-jentic-source-url": "https://developer.leap.energy/docs/home"
  },
  "servers": [
    { "url": "https://api.leap.energy/v1" }
  ],
  "paths": {
    "/webhooks": {
      "get": { "operationId": "listWebhooks", "summary": "List webhooks", "tags": ["Webhooks"], "responses": { "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WebhookListResponse" } } } }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "post": { "operationId": "createWebhook", "summary": "Create webhook", "tags": ["Webhooks"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WebhookRequest" } } } }, "responses": { "201": { "description": "Created" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/webhooks/{webhookId}": {
      "put": { "operationId": "updateWebhook", "summary": "Update webhook", "tags": ["Webhooks"], "parameters": [{ "name": "webhookId", "in": "path", "required": true, "schema": { "type": "string" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WebhookRequest" } } } }, "responses": { "200": { "description": "Updated" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "delete": { "operationId": "deleteWebhook", "summary": "Delete webhook", "tags": ["Webhooks"], "parameters": [{ "name": "webhookId", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Deleted" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/webhooks/{webhookId}/test": {
      "post": { "operationId": "testWebhook", "summary": "Test webhook", "tags": ["Webhooks"], "parameters": [{ "name": "webhookId", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Test sent" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/connections": {
      "get": { "operationId": "getConnections", "summary": "Get connection statuses", "tags": ["Onboarding"], "responses": { "200": { "description": "Successful response" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/meters/batch": {
      "post": { "operationId": "createMeterBatchJob", "summary": "Create meters batch job", "tags": ["Onboarding"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MeterBatchRequest" } } } }, "responses": { "200": { "description": "Batch job created" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/meters/batch/jobs": {
      "get": { "operationId": "listMeterBatchJobs", "summary": "List meter batch jobs", "tags": ["Onboarding"], "responses": { "200": { "description": "Successful response" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/meters/batch/jobs/{jobId}": {
      "get": { "operationId": "getMeterBatchJob", "summary": "Get meter batch job status", "tags": ["Onboarding"], "parameters": [{ "name": "jobId", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Successful response" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/meters/{meterId}": {
      "get": { "operationId": "getMeterDetails", "summary": "Get meter details", "tags": ["Meters"], "parameters": [{ "name": "meterId", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Meter" } } } }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/meters/{meterId}/enrollment": {
      "get": { "operationId": "getMeterEnrollment", "summary": "Get meter enrollment", "tags": ["Meters"], "parameters": [{ "name": "meterId", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Successful response" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/meters/search": {
      "post": { "operationId": "searchMeters", "summary": "Search meter details", "tags": ["Meters"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "200": { "description": "Successful response" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/meters/{meterId}/idle-periods": {
      "get": { "operationId": "getMeterIdlePeriods", "summary": "Get idle periods for meter", "tags": ["Meters"], "parameters": [{ "name": "meterId", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Successful response" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "post": { "operationId": "createMeterIdlePeriods", "summary": "Create idle periods for meter", "tags": ["Meters"], "parameters": [{ "name": "meterId", "in": "path", "required": true, "schema": { "type": "string" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "200": { "description": "Created" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "delete": { "operationId": "deleteMeterIdlePeriods", "summary": "Delete idle periods for meter", "tags": ["Meters"], "parameters": [{ "name": "meterId", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Deleted" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/meters/{meterId}/disenrollment": {
      "post": { "operationId": "disenrollMeter", "summary": "Create disenrollment request", "tags": ["Meters"], "parameters": [{ "name": "meterId", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Disenrollment requested" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/meters/tags": {
      "post": { "operationId": "addMeterTags", "summary": "Add tags to meters", "tags": ["Meters"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "200": { "description": "Tags added" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "delete": { "operationId": "removeMeterTags", "summary": "Remove tags from meters", "tags": ["Meters"], "responses": { "200": { "description": "Tags removed" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/bids": {
      "post": { "operationId": "submitBid", "summary": "Submit, modify or cancel a bid", "tags": ["Bidding"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BidRequest" } } } }, "responses": { "200": { "description": "Bid submitted" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/bids/search": {
      "post": { "operationId": "searchBids", "summary": "Search bids", "tags": ["Bidding"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "200": { "description": "Successful response" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/dispatches/meters/search": {
      "post": { "operationId": "searchMeterDispatches", "summary": "Search meter dispatches", "tags": ["Dispatch"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "200": { "description": "Successful response" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/dispatches/groups/search": {
      "post": { "operationId": "searchGroupDispatches", "summary": "Search group dispatches", "tags": ["Dispatch"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "200": { "description": "Successful response" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/revenue/reports": {
      "get": { "operationId": "getRevenueReports", "summary": "Get monthly revenue reports", "tags": ["Revenue"], "responses": { "200": { "description": "Successful response" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/revenue/yearly": {
      "get": { "operationId": "getYearlyRevenue", "summary": "Get annual revenue data", "tags": ["Revenue"], "responses": { "200": { "description": "Successful response" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/intervals/aggregated": {
      "post": { "operationId": "listAggregatedIntervals", "summary": "List aggregated intervals", "tags": ["Analytics"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "200": { "description": "Successful response" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/intervals/meter-level": {
      "post": { "operationId": "listMeterLevelIntervals", "summary": "List meter-level intervals", "tags": ["Analytics"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "200": { "description": "Successful response" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    }
  },
  "components": {
    "schemas": {
      "Meter": { "type": "object", "properties": { "id": { "type": "string" }, "status": { "type": "string" }, "utility": { "type": "string" }, "address": { "type": "string" }, "enrollment_status": { "type": "string" } } },
      "MeterBatchRequest": { "type": "object", "properties": { "meters": { "type": "array", "items": { "type": "object", "properties": { "utility_account_id": { "type": "string" }, "address": { "type": "string" } } } } } },
      "BidRequest": { "type": "object", "properties": { "action": { "type": "string", "enum": ["submit", "modify", "cancel"] }, "market": { "type": "string" }, "quantity": { "type": "number" }, "price": { "type": "number" } } },
      "WebhookRequest": { "type": "object", "properties": { "url": { "type": "string" }, "events": { "type": "array", "items": { "type": "string" } } } },
      "WebhookListResponse": { "type": "object", "properties": { "data": { "type": "array", "items": { "type": "object", "properties": { "id": { "type": "string" }, "url": { "type": "string" }, "events": { "type": "array", "items": { "type": "string" } } } } } } },
      "ErrorResponse": { "type": "object", "properties": { "error": { "type": "string" }, "message": { "type": "string" } } }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key as bearer token"
      }
    }
  },
  "security": [
    { "bearerAuth": [] }
  ]
}
