{
  "openapi": "3.0.3",
  "info": {
    "title": "Memegen.link",
    "version": "11.2",
    "description": "The free and open source API to generate memes.\n\n## Quickstart\n\nFetch the list of templates:\n\n```\n$ http GET https://api.memegen.link/templates\n\n[\n    {\n        \"id\": \"aag\",\n        \"name\": \"Ancient Aliens Guy\",\n        \"lines\": 2,\n        \"overlays\": 0,\n        \"styles\": [],\n        \"blank\": \"https://api.memegen.link/images/aag.png\",\n        \"example\": {\n            \"text\": [\n                \"\",\n                \"aliens\"\n            ],\n            \"url\": \"https://api.memegen.link/images/aag/_/aliens.png\"\n        },\n        \"source\": \"http://knowyourmeme.com/memes/ancient-aliens\",\n    },\n    ...\n]\n```\n\nAdd text to create a meme:\n\n```\n$ http POST https://api.memegen.link/images template_id=aag \"text[]=foo\" \"text[]=bar\"\n\n{\n    \"url\": \"https://api.memegen.link/images/aag/foo/bar.png\"\n}\n```\n\nView the image: <https://api.memegen.link/images/aag/foo/bar.png>\n\n## Links\n",
    "license": {
      "name": "View the license",
      "url": "https://github.com/jacebrowning/memegen/blob/main/LICENSE.txt"
    },
    "contact": {
      "name": "support",
      "email": "support@maketested.com"
    },
    "x-jentic-source-url": "https://api.memegen.link/docs/"
  },
  "servers": [
    {
      "url": "https://api.memegen.link",
      "description": "Production server"
    }
  ],
  "paths": {
    "/images/preview.jpg": {
      "get": {
        "operationId": "getClientsPreview",
        "summary": "Display a preview of a custom meme",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "layout",
            "schema": {
              "type": "string"
            },
            "description": "Text position: `default` or `top`",
            "in": "query"
          },
          {
            "name": "template",
            "schema": {
              "type": "string"
            },
            "description": "Template ID, URL, or custom background",
            "in": "query"
          },
          {
            "name": "style",
            "schema": {
              "type": "string"
            },
            "description": "Style name or custom overlay",
            "in": "query"
          },
          {
            "name": "text[]",
            "schema": {
              "type": "string"
            },
            "description": "Lines of text to render",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully displayed a custom meme",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth": {
      "post": {
        "operationId": "postClientsValidate",
        "summary": "Validate your API key",
        "tags": [
          "Clients"
        ],
        "responses": {
          "200": {
            "description": "Your API key is valid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "title": "Email"
                    },
                    "image_access": {
                      "type": "boolean",
                      "title": "Image_Access"
                    },
                    "search_access": {
                      "type": "boolean",
                      "title": "Search_Access"
                    },
                    "created": {
                      "type": "string",
                      "format": "date-time",
                      "title": "Created"
                    },
                    "modified": {
                      "type": "string",
                      "format": "date-time",
                      "title": "Modified"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Your API key is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "title": "Error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fonts": {
      "get": {
        "operationId": "getFontsIndex",
        "summary": "List available fonts",
        "tags": [
          "Fonts"
        ],
        "responses": {
          "200": {
            "description": "Successfully returned a list of fonts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "filename": {
                        "type": "string",
                        "title": "Filename"
                      },
                      "id": {
                        "type": "string",
                        "title": "Id"
                      },
                      "alias": {
                        "type": "string",
                        "title": "Alias"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fonts/{id}": {
      "get": {
        "operationId": "getFontsDetail",
        "summary": "View a specific font",
        "tags": [
          "Fonts"
        ],
        "parameters": [
          {
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "ID of a font",
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully returned a specific font",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "filename": {
                      "type": "string",
                      "title": "Filename"
                    },
                    "id": {
                      "type": "string",
                      "title": "Id"
                    },
                    "alias": {
                      "type": "string",
                      "title": "Alias"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Font not found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/images": {
      "get": {
        "operationId": "getImagesIndex",
        "summary": "List example memes",
        "tags": [
          "Images"
        ],
        "parameters": [
          {
            "name": "filter",
            "schema": {
              "type": "string"
            },
            "description": "Part of the template name or example to match",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully returned a list of example memes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "title": "Url"
                      },
                      "template": {
                        "type": "string",
                        "title": "Template"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postImagesCreate",
        "summary": "Create a meme from a template",
        "tags": [
          "Images"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "template_id": {
                    "type": "string",
                    "title": "Template_Id"
                  },
                  "style": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "title": "Style"
                  },
                  "text": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "title": "Text"
                  },
                  "layout": {
                    "type": "string",
                    "title": "Layout"
                  },
                  "font": {
                    "type": "string",
                    "title": "Font"
                  },
                  "extension": {
                    "type": "string",
                    "title": "Extension"
                  },
                  "redirect": {
                    "type": "boolean",
                    "title": "Redirect"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a meme",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "title": "Url"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Required \"template_id\" missing in request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "title": "Error"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Specified \"template_id\" does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "title": "Error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/images/custom": {
      "get": {
        "operationId": "getImagesIndexCustom",
        "summary": "List popular custom memes",
        "tags": [
          "Images"
        ],
        "parameters": [
          {
            "name": "filter",
            "schema": {
              "type": "string"
            },
            "description": "Part of the meme's text to match",
            "in": "query"
          },
          {
            "name": "safe",
            "schema": {
              "type": "boolean"
            },
            "description": "Exclude NSFW results",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully returned a list of custom memes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "title": "Url"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postImagesCreateCustom",
        "summary": "Create a meme from any image",
        "tags": [
          "Images"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "background": {
                    "type": "string",
                    "title": "Background"
                  },
                  "style": {
                    "type": "string",
                    "title": "Style"
                  },
                  "text": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "title": "Text"
                  },
                  "layout": {
                    "type": "string",
                    "title": "Layout"
                  },
                  "font": {
                    "type": "string",
                    "title": "Font"
                  },
                  "extension": {
                    "type": "string",
                    "title": "Extension"
                  },
                  "redirect": {
                    "type": "boolean",
                    "title": "Redirect"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a meme from a custom image",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "title": "Url"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/images/automatic": {
      "post": {
        "operationId": "postImagesCreateAutomatic",
        "summary": "Create a meme from word or phrase",
        "tags": [
          "Images"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "title": "Text"
                  },
                  "safe": {
                    "type": "boolean",
                    "title": "Safe"
                  },
                  "redirect": {
                    "type": "boolean",
                    "title": "Redirect"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a meme",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "title": "Url"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Required \"text\" missing in request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "title": "Error"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/images/{template_filename}": {
      "get": {
        "operationId": "getImagesDetailBlank",
        "summary": "Display a template background",
        "tags": [
          "Images"
        ],
        "parameters": [
          {
            "name": "template_filename",
            "schema": {
              "type": "string"
            },
            "description": "Template ID and image format: `<template_id>.<extension>`",
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully displayed a template background",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Template not found",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          },
          "415": {
            "description": "Unable to download image URL",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          },
          "422": {
            "description": "Invalid style for template or no image URL specified for custom template",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        }
      }
    },
    "/images/{template_id}/{text_filepath}": {
      "get": {
        "operationId": "getImagesDetailText",
        "summary": "Display a custom meme",
        "tags": [
          "Images"
        ],
        "parameters": [
          {
            "name": "template_id",
            "schema": {
              "type": "string"
            },
            "description": "ID of a meme template",
            "required": true,
            "in": "path"
          },
          {
            "name": "text_filepath",
            "schema": {
              "type": "string"
            },
            "description": "Lines of text and image format: `<line1>/<line2>.<extension>`",
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully displayed a custom meme",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Template not found",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          },
          "414": {
            "description": "Custom text too long (length >200)",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          },
          "415": {
            "description": "Unable to download image URL",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          },
          "422": {
            "description": "Invalid style for template or no image URL specified for custom template",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        }
      }
    },
    "/templates": {
      "get": {
        "operationId": "getTemplatesIndex",
        "summary": "List all templates",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "filter",
            "schema": {
              "type": "string"
            },
            "description": "Part of the name, keyword, or example to match",
            "in": "query"
          },
          {
            "name": "animated",
            "schema": {
              "type": "boolean"
            },
            "description": "Limit results to templates supporting animation",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully returned a list of all templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "title": "Id"
                      },
                      "name": {
                        "type": "string",
                        "title": "Name"
                      },
                      "lines": {
                        "type": "integer",
                        "format": "int32",
                        "title": "Lines"
                      },
                      "overlays": {
                        "type": "integer",
                        "format": "int32",
                        "title": "Overlays"
                      },
                      "styles": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "title": "Styles"
                      },
                      "blank": {
                        "type": "string",
                        "title": "Blank"
                      },
                      "example": {
                        "type": "object",
                        "title": "Example",
                        "properties": {
                          "text": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "title": "Text"
                          },
                          "url": {
                            "type": "string",
                            "title": "Url"
                          }
                        }
                      },
                      "source": {
                        "type": "string",
                        "title": "Source"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/templates/custom": {
      "post": {
        "operationId": "postTemplatesCustom",
        "summary": "Create a meme from any image",
        "tags": [
          "Templates"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "background": {
                    "type": "string",
                    "title": "Background"
                  },
                  "style": {
                    "type": "string",
                    "title": "Style"
                  },
                  "text": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "title": "Text"
                  },
                  "layout": {
                    "type": "string",
                    "title": "Layout"
                  },
                  "font": {
                    "type": "string",
                    "title": "Font"
                  },
                  "extension": {
                    "type": "string",
                    "title": "Extension"
                  },
                  "redirect": {
                    "type": "boolean",
                    "title": "Redirect"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a meme from a custom image",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "title": "Url"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/templates/{id}": {
      "get": {
        "operationId": "getTemplatesDetail",
        "summary": "View a specific template",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "ID of a meme template",
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully returned a specific template",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "title": "Id"
                    },
                    "name": {
                      "type": "string",
                      "title": "Name"
                    },
                    "lines": {
                      "type": "integer",
                      "format": "int32",
                      "title": "Lines"
                    },
                    "overlays": {
                      "type": "integer",
                      "format": "int32",
                      "title": "Overlays"
                    },
                    "styles": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "title": "Styles"
                    },
                    "blank": {
                      "type": "string",
                      "title": "Blank"
                    },
                    "example": {
                      "type": "object",
                      "title": "Example",
                      "properties": {
                        "text": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "title": "Text"
                        },
                        "url": {
                          "type": "string",
                          "title": "Url"
                        }
                      }
                    },
                    "source": {
                      "type": "string",
                      "title": "Source"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Template not found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postTemplatesBuild",
        "summary": "Create a meme from a template",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "ID of a meme template",
            "required": true,
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "style": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "title": "Style"
                  },
                  "text": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "title": "Text"
                  },
                  "layout": {
                    "type": "string",
                    "title": "Layout"
                  },
                  "font": {
                    "type": "string",
                    "title": "Font"
                  },
                  "extension": {
                    "type": "string",
                    "title": "Extension"
                  },
                  "redirect": {
                    "type": "boolean",
                    "title": "Redirect"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a meme from a template",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "title": "Url"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{template_id}": {
      "get": {
        "operationId": "getShortcutsLegacyExampleImage",
        "summary": "Redirect to an example image",
        "tags": [
          "Shortcuts"
        ],
        "parameters": [
          {
            "name": "template_id",
            "schema": {
              "type": "string"
            },
            "description": "ID of a meme template",
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "302": {
            "description": "Successfully redirected to an example image",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Template not found",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/{template_id}/{text_paths}": {
      "get": {
        "operationId": "getShortcutsLegacyCustomPath",
        "summary": "Redirect to a custom image",
        "tags": [
          "Shortcuts"
        ],
        "parameters": [
          {
            "name": "template_id",
            "schema": {
              "type": "string"
            },
            "description": "ID of a meme template",
            "required": true,
            "in": "path"
          },
          {
            "name": "text_paths",
            "schema": {
              "type": "string"
            },
            "description": "Lines of text: `<line1>/<line2>`",
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "302": {
            "description": "Successfully redirected to a custom image",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/images/{template_id}": {
      "get": {
        "operationId": "getShortcutsExamplePath",
        "summary": "Redirect to an example image",
        "tags": [
          "Shortcuts"
        ],
        "parameters": [
          {
            "name": "template_id",
            "schema": {
              "type": "string"
            },
            "description": "ID of a meme template",
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "302": {
            "description": "Successfully redirected to an example image",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Template not found",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "501": {
            "description": "Template not fully implemented",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/images/{template_id}/{text_paths}": {
      "get": {
        "operationId": "getShortcutsCustomPath",
        "summary": "Redirect to a custom image",
        "tags": [
          "Shortcuts"
        ],
        "parameters": [
          {
            "name": "template_id",
            "schema": {
              "type": "string"
            },
            "description": "ID of a meme template",
            "required": true,
            "in": "path"
          },
          {
            "name": "text_paths",
            "schema": {
              "type": "string"
            },
            "description": "Lines of text: `<line1>/<line2>`",
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "302": {
            "description": "Successfully redirected to a custom image",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "name": "X-API-KEY",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Clients",
      "description": "API client operations including authentication and preview"
    },
    {
      "name": "Fonts",
      "description": "Operations for managing and retrieving fonts"
    },
    {
      "name": "Images",
      "description": "Operations for creating and displaying meme images"
    },
    {
      "name": "Templates",
      "description": "Operations for managing meme templates"
    },
    {
      "name": "Shortcuts",
      "description": "Legacy redirect endpoints for meme generation"
    }
  ]
}