{
  "openapi": "3.0.3",
  "servers": [
    {
      "url": "//api2.trekksoft.com",
      "description": "Default server"
    }
  ],
  "info": {
    "description": "This is a sample documentation for TrekkSoft API integration.\nYou can find out more about TrekkSoft at [https://support.trekksoft.com](https://support.trekksoft.com).\n\n# Introduction\nThe following requirements must be satisfied for an API request to be successful:\n  - Successful authentication using an API key\n  - Use of `Accept` header with a supported Media Type\n  - Use of `Accept-Language` header with a supported language\n  - Use of correct HTTP verb\n  - Existing resource identified by the URL path\n\nPlease continue reading to get an in-depth explanation of all these requirements.\n\n# Authentication\n\nAPI v2 supports OAuth2 authentication to get access to the data.\nYou will be provided with `client_id` and `client_secret` which you'll use to authenticate yourself in the system.\n\nOAuth2 - an open protocol to allow secure authorization in a simple\nand standard method from web, mobile and desktop applications.\n\nThe first thing you need to do is to get access token which you will then use will all your requests.\nThis token is valid for **1 hour only**. When it expires, you will need to request another one.\n\nYou can get you access token by POSTing to the https://api2.trekksoft.com/oauth2/token endpoint the following parameters:\n  - grant_type (this should always be \"client_credentials\")\n  - client_id\n  - client_secret\n\n<pre>\n<code>curl --data \\\n\"grant_type=client_credentials&client_id=username&client_secret=password\" \\\nhttps://api2.trekksoft.com/oauth2/token</code>\n</pre>\n\nExample Response:\n<pre><code>{\n    \"access_token\": \"79ab80aba81592906b43a3d10d7c49c68cf0951a\",\n    \"expires_in\": 3600,\n    \"token_type\": \"Bearer\",\n    \"scope\": null\n}</code></pre>\n\n# Authorization of requests\n\nOnce you have a valid access token, you will need to use it to sign all requests made to the TrekkSoft API.\n\nThis is done by providing `Authorization` HTTP header along with each of your requests in the following format:\n\n`Authorization: <token_type> <access_token>`\n\nExample Request:\n<pre>\n<code>curl -k -H\"Authorization: Bearer 79ab80aba81592906b43a3d10d7c49c68cf0951a\" \\\nhttps://api2.trekksoft.com/activities?limit=1</code>\n</pre>\n\n# Extras\n## Media Types\nCustom media types are used in the API to allow developers choose the format and version of the data they wish to receive. This is done by adding one or more of the following types to the `Accept` header when sending a request.\n<pre>\n<code>application/vnd.trekksoft[.version][+format]\napplication/json</code>\n</pre>\nAs of v1 of the API the following `Accept` header is recommended:\n<pre>\n<code>application/vnd.trekksoft.v1+json, application/json; q=.5</code>\n</pre>\n\n## Schema\nAll requests to the TrekkSoft API must be over HTTPS using the domain `api2.trekksoft.com`.\n\nExample Request:\n<pre>\n<code>curl -i https://api2.trekksoft.com/</code>\n</pre>\nExample Response (to an unauthorized request):\n<pre>\n<code>HTTP/1.1 401 Unauthorized\nContent-Type: application/json; charset=UTF-8\nDate: Mon, 10 Apr 2015 10:26:20 GMT\n\n{}\n</code>\n</pre>\n\n## HTTP Verbs\nThe API makes use of the HTTP verbs to indicate what kind of request you are sending.\n<pre>\n<code>GET    /activities        Lists all resources of the 'activities' collection.\nPOST   /activities        Creates a new resource in the 'activities' collection.\nPUT    /activities        Updates multiple resources in the 'activities' collection.\nDELETE /activities        Deletes multiple resources in the 'activities' collection.\nGET    /activities/435    Reads a resource from the 'activities' collection.\nPUT    /activities/435    Updates a resource in the 'activities' collection.\nDELETE /activities/435    Deletes a resource in the 'activities' collection.</code>\n</pre>\nPlease note, that not every collection supports all HTTP verbs.\n\n## Time Periods\nSome date fields support additional time period notation parameters. The following syntax is supported:\n<pre>\n<code>[PERIOD_START][,PERIOD_END]\n\n2014-01-01T00:00:00+02:00                            # After/at 2014-01-01 00:00:00\n2014-01-01T00:00:00+02:00,2014-01-31T23:59:59+02:00  # Between 2014-01-01 00:00:00\n                                                     # and 2014-01-31 23:59:59\n2014-01-31T23:59:59+02:00</code>\n</pre>\n\n## Pagination\nRequests that return multiple items are paginated to 30 items by default. Developers can control pagination by using the `offset` (default: `0`) and `limit` (default: `30`) query parameters. The custom limit may not exceed `100`.\n<pre>\n<code>GET /activities?offset=0&limit=20\nGET /activities?offset=20&limit=20\nGET /activities?offset=40&limit=20</code>\n</pre>\n",
    "version": "2.0",
    "title": "TrekkSoft API documentation",
    "termsOfService": "https://www.trekksoft.com/termsofservice",
    "contact": {
      "name": "API Support",
      "email": "api@trekksoft.com",
      "url": "https://api2.trekksoft.com"
    },
    "x-logo": {
      "url": "https://developer.trekksoft.com/img/logo.png",
      "altText": "TrekkSoft logo"
    }
  },
  "paths": {
    "/oauth2/token": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Get auth token",
        "description": "Get auth token for authorized requests",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "access_token",
                    "expires_in",
                    "token_type",
                    "scope"
                  ],
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "description": "Auth token. Should be provided for authorized requests",
                      "example": "4082352673b8d873c***********************"
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "Expire token time (in sec)",
                      "example": 1209600
                    },
                    "token_type": {
                      "type": "string",
                      "description": "Token type",
                      "example": "Bearer"
                    },
                    "scope": {
                      "type": "object",
                      "description": "Additional token information",
                      "required": [
                        "merchant",
                        "merchantId",
                        "permissions",
                        "activities",
                        "agent",
                        "userId",
                        "email",
                        "firstname",
                        "lastname",
                        "treasurers",
                        "defaultTreasurer",
                        "paymentReferences",
                        "defaultPaymentReference"
                      ],
                      "properties": {
                        "merchant": {
                          "type": "string",
                          "example": "demo"
                        },
                        "merchantId": {
                          "type": "integer",
                          "example": 15873
                        },
                        "permissions": {
                          "type": "array"
                        },
                        "activities": {
                          "type": "array"
                        },
                        "agent": {
                          "type": "string",
                          "nullable": true
                        },
                        "userId": {
                          "type": "integer",
                          "nullable": true
                        },
                        "email": {
                          "type": "string",
                          "nullable": true
                        },
                        "firstname": {
                          "type": "string",
                          "nullable": true
                        },
                        "lastname": {
                          "type": "string",
                          "nullable": true
                        },
                        "treasurers": {
                          "type": "array"
                        },
                        "defaultTreasurer": {
                          "type": "string",
                          "nullable": true
                        },
                        "paymentReferences": {
                          "type": "array"
                        },
                        "defaultPaymentReference": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request params",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_request_params",
                  "error_description": "Invalid request parameters",
                  "reference": "###",
                  "errors": {
                    "[client_id]": "This value should be of type string."
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/TokenRequest"
        }
      }
    },
    "/activities": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Activities List",
        "description": "Gets a list of activities information",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Filter for activity IDs. Could be one (or several) IDs",
            "required": false,
            "style": "form",
            "schema": {
              "type": "array",
              "minItems": 1,
              "minimum": 1,
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Filter for activity language. If not provided, activity details in merchant's default language will be returned",
            "required": false,
            "style": "form",
            "example": "en",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchant",
            "in": "query",
            "description": "Filter for merchant slug code. Could be one (or several) merchants",
            "required": false,
            "style": "form",
            "example": "demo",
            "schema": {
              "type": "array",
              "minItems": 1,
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter for activity category ID. Could be one (or several) categories",
            "required": false,
            "style": "form",
            "schema": {
              "type": "array",
              "minItems": 1,
              "minimum": 1,
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "departureCountryCode",
            "in": "query",
            "description": "Filter for activity departure country. Could be one (or several) codes",
            "required": false,
            "style": "form",
            "schema": {
              "type": "array",
              "minItems": 1,
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "departureCityId",
            "in": "query",
            "description": "Filter for activity departure city. Could be one (or several) codes",
            "required": false,
            "style": "form",
            "schema": {
              "type": "array",
              "minItems": 1,
              "minimum": 1,
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "internal",
            "in": "query",
            "description": "Enable or disable internal guest fields. System hide the internal guest fields by default",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "isActive",
            "in": "query",
            "description": "Filter for activity status",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "onlyBookable",
            "in": "query",
            "description": "Filter for activities with active schedules",
            "required": false,
            "style": "form",
            "example": true,
            "schema": {
              "type": "boolean",
              "enum": [
                true
              ]
            }
          },
          {
            "name": "scheduleType",
            "in": "query",
            "description": "Works together with onlyBookable parameter. Could be one (or several) codes",
            "required": false,
            "style": "form",
            "schema": {
              "type": "array",
              "minItems": 0,
              "maxItems": 3,
              "items": {
                "type": "string",
                "enum": [
                  "trip",
                  "day_trip",
                  "voucher"
                ]
              }
            }
          },
          {
            "name": "titleLike",
            "in": "query",
            "description": "Filter for substring in activity title",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit",
            "required": false,
            "style": "form",
            "example": 1,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset",
            "required": false,
            "style": "form",
            "example": 50,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Activity"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Activity"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request params",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_request_params",
                  "error_description": "Invalid request parameters",
                  "reference": "###",
                  "errors": {
                    "[offset]": "This value should be of type digit."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_token",
                  "error_description": "The access token provided is invalid"
                }
              }
            }
          }
        }
      }
    },
    "/v2/activities": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Activities List (Preview - V2)",
        "description": "Gets a list of activities information.\n\n\u26a0\ufe0f **Preview endpoint**\n\nThis endpoint represents the upcoming **v2 response format** and is currently\nprovided for testing and migration purposes. Once released, it will replace\nthe current `/activities` endpoint.\n\n**Changes introduced in V2**\n\n- The `_links` property of the `Activity` object has been extended.\n- A new property `_links.locales` has been added.\n- `_links.locales.documents` contains document links grouped by locale code.\n- This allows clients to access informational documents for languages other than the default activity language.\n",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Filter for activity IDs. Could be one (or several) IDs",
            "required": false,
            "style": "form",
            "schema": {
              "type": "array",
              "minItems": 1,
              "minimum": 1,
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Filter for activity language. If not provided, activity details in merchant's default language will be returned",
            "required": false,
            "style": "form",
            "example": "en",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchant",
            "in": "query",
            "description": "Filter for merchant slug code. Could be one (or several) merchants",
            "required": false,
            "style": "form",
            "example": "demo",
            "schema": {
              "type": "array",
              "minItems": 1,
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter for activity category ID. Could be one (or several) categories",
            "required": false,
            "style": "form",
            "schema": {
              "type": "array",
              "minItems": 1,
              "minimum": 1,
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "departureCountryCode",
            "in": "query",
            "description": "Filter for activity departure country. Could be one (or several) codes",
            "required": false,
            "style": "form",
            "schema": {
              "type": "array",
              "minItems": 1,
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "departureCityId",
            "in": "query",
            "description": "Filter for activity departure city. Could be one (or several) codes",
            "required": false,
            "style": "form",
            "schema": {
              "type": "array",
              "minItems": 1,
              "minimum": 1,
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "internal",
            "in": "query",
            "description": "Enable or disable internal guest fields. System hide the internal guest fields by default",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "isActive",
            "in": "query",
            "description": "Filter for activity status",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "onlyBookable",
            "in": "query",
            "description": "Filter for activities with active schedules",
            "required": false,
            "style": "form",
            "example": true,
            "schema": {
              "type": "boolean",
              "enum": [
                true
              ]
            }
          },
          {
            "name": "scheduleType",
            "in": "query",
            "description": "Works together with onlyBookable parameter. Could be one (or several) codes",
            "required": false,
            "style": "form",
            "schema": {
              "type": "array",
              "minItems": 0,
              "maxItems": 3,
              "items": {
                "type": "string",
                "enum": [
                  "trip",
                  "day_trip",
                  "voucher"
                ]
              }
            }
          },
          {
            "name": "titleLike",
            "in": "query",
            "description": "Filter for substring in activity title",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit",
            "required": false,
            "style": "form",
            "example": 1,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset",
            "required": false,
            "style": "form",
            "example": 50,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivityV2"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivityV2"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request params",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_request_params",
                  "error_description": "Invalid request parameters",
                  "reference": "###",
                  "errors": {
                    "[offset]": "This value should be of type digit."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_token",
                  "error_description": "The access token provided is invalid"
                }
              }
            }
          }
        }
      }
    },
    "/activities/{activityId}": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Single Activity",
        "description": "Gets information for the specific activity",
        "parameters": [
          {
            "name": "activityId",
            "in": "path",
            "description": "Desired activity id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Filter for activity language. If not provided, activity details in merchant's default language will be returned",
            "required": false,
            "style": "form",
            "example": "en",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "internal",
            "in": "query",
            "description": "Enable or disable internal guest fields. System hide the internal guest fields by default",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Activity"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Activity"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request params",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_request_params",
                  "error_description": "Invalid request parameters",
                  "reference": "###",
                  "errors": {
                    "[internal]": "This value should be of type boolean."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_token",
                  "error_description": "The access token provided is invalid"
                }
              }
            }
          }
        }
      }
    },
    "/v2/activities/{activityId}": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Single Activity (Preview - V2)",
        "description": "Gets information for the specific activity\n\n\u26a0\ufe0f **Preview endpoint**\n\nThis endpoint represents the upcoming **v2 response format** and is currently\nprovided for testing and migration purposes. Once released, it will replace\nthe current `/activities/{activityId}` endpoint.\n\n**Changes introduced in V2**\n\n- The `_links` property of the `Activity` object has been extended.\n- A new property `_links.locales` has been added.\n- `_links.locales.documents` contains document links grouped by locale code.\n- This allows clients to access informational documents for languages other than the default activity language.\n",
        "parameters": [
          {
            "name": "activityId",
            "in": "path",
            "description": "Desired activity id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Filter for activity language. If not provided, activity details in merchant's default language will be returned",
            "required": false,
            "style": "form",
            "example": "en",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "internal",
            "in": "query",
            "description": "Enable or disable internal guest fields. System hide the internal guest fields by default",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityV2"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityV2"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request params",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_request_params",
                  "error_description": "Invalid request parameters",
                  "reference": "###",
                  "errors": {
                    "[internal]": "This value should be of type boolean."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_token",
                  "error_description": "The access token provided is invalid"
                }
              }
            }
          }
        }
      }
    },
    "/activities/departure-cities": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Activities Departure Cities",
        "description": "List all activities departure cities",
        "parameters": [
          {
            "name": "onlyBookable",
            "in": "query",
            "description": "Filter for activities with active schedules",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "scheduleType",
            "in": "query",
            "description": "Works together with `onlyBookable` parameter. Filter by activity schedule type (can be `trip`, `day_trip` or `voucher`). Multiple filters are possible",
            "required": false,
            "style": "form",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/City"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/City"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request params",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_request_params",
                  "error_description": "Invalid request parameters",
                  "reference": "###",
                  "errors": {
                    "[onlyBookable]": "This value should be of type boolean."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_token",
                  "error_description": "The access token provided is invalid"
                }
              }
            }
          }
        }
      }
    },
    "/activities/departure-countries": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Activities Departure Countries",
        "description": "List all activities departure countries",
        "parameters": [
          {
            "name": "onlyBookable",
            "in": "query",
            "description": "Filter for activities with active schedules",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "scheduleType",
            "in": "query",
            "description": "Works together with `onlyBookable` parameter. Filter by activity schedule type (can be `trip`, `day_trip` or `voucher`). Multiple filters are possible",
            "required": false,
            "style": "form",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DepartureCountry"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DepartureCountry"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request params",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_request_params",
                  "error_description": "Invalid request parameters",
                  "reference": "###",
                  "errors": {
                    "[onlyBookable]": "This value should be of type boolean."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_token",
                  "error_description": "The access token provided is invalid"
                }
              }
            }
          }
        }
      }
    },
    "/activities/categories": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Activities Categories",
        "description": "List all activities categories",
        "parameters": [
          {
            "name": "onlyBookable",
            "in": "query",
            "description": "Filter for activities with active schedules",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "scheduleType",
            "in": "query",
            "description": "Works together with `onlyBookable` parameter. Filter by activity schedule type (can be `trip`, `day_trip` or `voucher`). Multiple filters are possible",
            "required": false,
            "style": "form",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Category"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Category"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request params",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_request_params",
                  "error_description": "Invalid request parameters",
                  "reference": "###",
                  "errors": {
                    "[onlyBookable]": "This value should be of type boolean."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_token",
                  "error_description": "The access token provided is invalid"
                }
              }
            }
          }
        }
      }
    },
    "/activities/{activityId}/updated": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Activity Update Time",
        "description": "Returns information about when activity was updated",
        "parameters": [
          {
            "name": "activityId",
            "in": "path",
            "description": "Desired activity id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Updated"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Updated"
                }
              }
            }
          },
          "400": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_token",
                  "error_description": "The access token provided is invalid"
                }
              }
            }
          }
        }
      }
    },
    "/activities/updated": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Activities List Update Time",
        "description": "Returns information about when bookable activities were updated",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatedListItem"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatedListItem"
                }
              }
            }
          },
          "400": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_token",
                  "error_description": "The access token provided is invalid"
                }
              }
            }
          }
        }
      }
    },
    "/bookings": {
      "post": {
        "tags": [
          "Bookings"
        ],
        "summary": "Create a Booking",
        "description": "Creates a Booking",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasketId"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BasketId"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request params",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_request_params",
                  "error_description": "Invalid request parameters",
                  "reference": "###",
                  "errors": {
                    "[items][availabilityItemId]": "This value should be of type string."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_token",
                  "error_description": "The access token provided is invalid"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/BookingRequest"
        }
      },
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "List of Bookings",
        "description": "Shows recent bookings",
        "parameters": [
          {
            "name": "merchant",
            "in": "query",
            "description": "Filter for selling merchant. Could be one (or several) merchants. Multiple filters are possible `merchant[]=demo`",
            "required": false,
            "schema": {
              "type": "array",
              "minItems": 1,
              "minimum": 1,
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "Filter for users emails. Could be one (or several) emails `user[]=john@toto.com`",
            "required": false,
            "schema": {
              "type": "array",
              "minItems": 1,
              "minimum": 1,
              "items": {
                "type": "string",
                "format": "email"
              }
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Filters by id, guest name, guest email, user name, user email, activity name, resource name, resource note, external booking number, marketplace name",
            "required": false,
            "example": "John+Doe",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookingDate",
            "in": "query",
            "description": "Filters by booking date",
            "required": false,
            "example": "2017-09-15",
            "schema": {
              "type": "string",
              "format": "YYYY-MM-DD"
            }
          },
          {
            "name": "activityDate",
            "in": "query",
            "description": "Filters by activity start date",
            "required": false,
            "example": "2017-09-15",
            "schema": {
              "type": "string",
              "format": "YYYY-MM-DD"
            }
          },
          {
            "name": "changedAfter",
            "in": "query",
            "description": "Filters bookings by the last change date. _Sorting from last changed booking to first._\n",
            "required": false,
            "example": "2017-09-15 09:25:10",
            "schema": {
              "type": "string",
              "format": "YYYY-MM-DD hh:mm:ss"
            }
          },
          {
            "name": "bookedAfter",
            "in": "query",
            "description": "Filters bookings by the booking date and time. _Sorting from last booked booking to first._\n",
            "required": false,
            "example": "2017-09-15 09:25:10",
            "schema": {
              "type": "string",
              "format": "YYYY-MM-DD hh:mm:ss"
            }
          },
          {
            "name": "cancelledAfter",
            "in": "query",
            "description": "Filters bookings by the last cancellation date. _Sorting from last cancellation to first._ _If `cancelledAfter` is used in combination with `changedAfter`,\n  it will filter by `updatedAt` and `cancelledAt` fields.\n  But sorting will be done by `updatedAt` field only._\n",
            "required": false,
            "example": "2020-04-04 05:42:42",
            "schema": {
              "type": "string",
              "format": "YYYY-MM-DD hh:mm:ss"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit",
            "required": false,
            "style": "form",
            "example": 1,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset",
            "required": false,
            "style": "form",
            "example": 50,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Booking"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Booking"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request params",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_request_params",
                  "error_description": "Invalid request parameters",
                  "reference": "###",
                  "errors": {
                    "[offset]": "This value should be of type digit."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_token",
                  "error_description": "The access token provided is invalid"
                }
              }
            }
          }
        }
      }
    },
    "/bookings/{id}": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "Single Booking",
        "description": "Gets information about specific booking",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Desired booking id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request params",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_request_params",
                  "error_description": "Invalid request parameters",
                  "reference": "###",
                  "errors": {
                    "[id]": "This value should be greater than 0."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_token",
                  "error_description": "The access token provided is invalid"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Bookings"
        ],
        "summary": "Cancel Booking",
        "description": "Cancels specific booking",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Desired booking id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID of canceled booking",
                      "example": 10037406
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID of canceled booking",
                      "example": 10037406
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request params",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_request_params",
                  "error_description": "Invalid request parameters",
                  "reference": "###",
                  "errors": {
                    "[id]": "This value should be greater than 0."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_token",
                  "error_description": "The access token provided is invalid"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/BookingCancelRequest"
        }
      }
    },
    "/booking/{id}/confirm": {
      "post": {
        "tags": [
          "Bookings"
        ],
        "summary": "Confirm Booking",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Desired booking id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Booking ID",
                      "example": 10037406
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Booking ID",
                      "example": 10037406
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request params",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_request_params",
                  "error_description": "Invalid request parameters",
                  "reference": "###",
                  "errors": {
                    "[id]": "This value should be greater than 0."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_token",
                  "error_description": "The access token provided is invalid"
                }
              }
            }
          }
        }
      }
    },
    "/booking/{id}/tickets": {
      "post": {
        "tags": [
          "Bookings"
        ],
        "summary": "Send tickets",
        "description": "Send all tickets of booking to the given email",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Desired booking id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Booking ID",
                      "example": 10037406
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Booking ID",
                      "example": 10037406
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request params",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_request_params",
                  "error_description": "Invalid request parameters",
                  "reference": "###",
                  "errors": {
                    "[id]": "This value should be greater than 0."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_token",
                  "error_description": "The access token provided is invalid"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/BookingTicketRequest"
        }
      }
    },
    "/booking/{id}/refund": {
      "post": {
        "tags": [
          "Bookings"
        ],
        "summary": "Add refund",
        "description": "Adds refund to a booking",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Desired booking id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "refundId": {
                      "type": "integer",
                      "description": "ID of created refund",
                      "example": 822507
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "refundId": {
                      "type": "integer",
                      "description": "ID of created refund",
                      "example": 822507
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request params",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_request_params",
                  "error_description": "Invalid request parameters",
                  "reference": "###",
                  "errors": {
                    "[id]": "This value should be greater than 0."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_token",
                  "error_description": "The access token provided is invalid"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/BookingRefundRequest"
        }
      }
    },
    "/booking-number": {
      "post": {
        "tags": [
          "Bookings"
        ],
        "summary": "Set custom booking number",
        "description": "Set a custom number to a booking. This parameter is only displayed for marketplace bookings and not for custom API integrations",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID of affected booking",
                      "example": 10037406
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID of affected booking",
                      "example": 10037406
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request params",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_request_params",
                  "error_description": "Invalid request parameters",
                  "reference": "###",
                  "errors": {
                    "[id]": "This value should be greater than 0."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_token",
                  "error_description": "The access token provided is invalid"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/BookingNumberRequest"
        }
      }
    },
    "/booking/{id}/payment": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Add offline payment",
        "description": "Adds payment to a booking",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Desired booking id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "paymentId": {
                      "type": "integer",
                      "description": "ID of created payment",
                      "example": 822507
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "paymentId": {
                      "type": "integer",
                      "description": "ID of created payment",
                      "example": 822507
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request params",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_request_params",
                  "error_description": "Invalid request parameters",
                  "reference": "###",
                  "errors": {
                    "[id]": "This value should be greater than 0."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_token",
                  "error_description": "The access token provided is invalid"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/BookingPaymentRequest"
        }
      }
    },
    "/report/payments/{date}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Daily agent payments",
        "description": "Display daily payments for agents",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "Date",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2019-12-31"
            }
          },
          {
            "name": "agentId",
            "in": "path",
            "description": "Agent Id",
            "schema": {
              "type": "string",
              "example": 147212
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentPayment"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentPayment"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request params",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_request_params",
                  "error_description": "Invalid request parameters",
                  "reference": "###",
                  "errors": {
                    "[id]": "This value should be greater than 0."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_token",
                  "error_description": "The access token provided is invalid"
                }
              }
            }
          }
        }
      }
    },
    "/booking/{id}/payment-card-alias": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Add credit card alias payment",
        "description": "Adds credit card alias payment to a booking",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Desired booking id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "status"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID of booking",
                      "example": 822507
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "redirect"
                      ],
                      "description": "status after the payment (depends on 3d secure)",
                      "example": "redirect"
                    },
                    "url": {
                      "type": "string",
                      "description": "3d secure redirect url",
                      "example": "https://test.test.com/vt2/Api/ThreeDs/247040/17953828/30oksuzhopvbx1a6j7el0m6ek"
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "status"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID of booking",
                      "example": 822507
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "redirect"
                      ],
                      "description": "status after the payment (depends on 3d secure)",
                      "example": "redirect"
                    },
                    "url": {
                      "type": "string",
                      "description": "3d secure redirect url",
                      "example": "https://test.test.com/vt2/Api/ThreeDs/247040/17953828/30oksuzhopvbx1a6j7el0m6ek"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request params",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_request_params",
                  "error_description": "Invalid request parameters",
                  "reference": "###",
                  "errors": {
                    "[id]": "This value should be greater than 0."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_token",
                  "error_description": "The access token provided is invalid"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/BookingCardAliasPaymentRequest"
        }
      }
    },
    "/booking/item/{bookingItemId}/remarks": {
      "put": {
        "tags": [
          "Booking Items"
        ],
        "summary": "Set booking item remarks",
        "description": "Sets booking item remarks",
        "parameters": [
          {
            "name": "bookingItemId",
            "in": "path",
            "description": "Desired Booking item ID",
            "required": true,
            "example": 342124,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "example": null
              }
            }
          },
          "400": {
            "description": "Invalid request params",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_request_params",
                  "error_description": "Invalid request parameters",
                  "reference": "###",
                  "errors": {
                    "[bookingItemId]": "This value should be greater than 0."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_token",
                  "error_description": "The access token provided is invalid"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/BookingItemRemarkRequest"
        }
      }
    },
    "/booking/item/{bookingItemId}/cancel": {
      "put": {
        "tags": [
          "Booking Items"
        ],
        "summary": "Cancel Booking Item",
        "description": "Cancels a booking item",
        "parameters": [
          {
            "name": "bookingItemId",
            "in": "path",
            "description": "Desired Booking item ID",
            "required": true,
            "example": 342124,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID of the canceled booking item",
                      "example": 10037406
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request params",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_request_params",
                  "error_description": "Invalid request parameters",
                  "reference": "###",
                  "errors": {
                    "[bookingItemId]": "This value should be greater than 0."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_token",
                  "error_description": "The access token provided is invalid"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/BookingItemCancelRequest"
        }
      }
    },
    "/booking/item/addon/{id}/cancel": {
      "put": {
        "tags": [
          "Booking Items"
        ],
        "summary": "Cancel Booking Item Addon",
        "description": "Cancels a booking item addon",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Desired Booking item Addon ID",
            "required": true,
            "example": 23,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID of the canceled addon",
                      "example": 23
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request params",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_request_params",
                  "error_description": "Invalid request parameters",
                  "reference": "###",
                  "errors": {
                    "[id]": "This value should be greater than 0."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_token",
                  "error_description": "The access token provided is invalid"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/BookingItemAddonCancelRequest"
        }
      }
    },
    "/booking/item/{bookingItemId}/rebook": {
      "put": {
        "tags": [
          "Booking Items"
        ],
        "summary": "Rebook Booking Item",
        "description": "Rebooks a booking item",
        "parameters": [
          {
            "name": "bookingItemId",
            "in": "path",
            "description": "Desired Booking item ID",
            "required": true,
            "example": 342124,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "example": null
              }
            }
          },
          "400": {
            "description": "Invalid request params",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_request_params",
                  "error_description": "Invalid request parameters",
                  "reference": "###",
                  "errors": {
                    "[bookingItemId]": "This value should be greater than 0."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_token",
                  "error_description": "The access token provided is invalid"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/BookingItemRebookRequest"
        }
      }
    },
    "/bookingPrices": {
      "post": {
        "tags": [
          "Booking Prices"
        ],
        "summary": "Calculate Booking Price",
        "description": "Calculates Booking Price",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "currency",
                    "total",
                    "downPayment",
                    "hasDownPayment",
                    "items",
                    "itemsDownPayment",
                    "itemsPrice",
                    "discountPrice",
                    "shopItems",
                    "shopItemsPrice",
                    "vouchers",
                    "vouchersDiscount",
                    "multidiscount",
                    "taxes",
                    "fees"
                  ],
                  "properties": {
                    "currency": {
                      "type": "string",
                      "description": "Currency of the booking",
                      "example": "CHF"
                    },
                    "total": {
                      "type": "number",
                      "description": "Booking total",
                      "example": 965.48
                    },
                    "downPayment": {
                      "type": "number",
                      "description": "Possible Booking down payment",
                      "example": 965.48
                    },
                    "hasDownPayment": {
                      "type": "boolean",
                      "description": "Show if down payment was used in prices",
                      "example": false
                    },
                    "items": {
                      "type": "array",
                      "description": "Items for which price should be calculated. Details are explained below",
                      "items": {
                        "type": "object",
                        "properties": {
                          "availabilityItemId": {
                            "type": "string",
                            "description": "Availability Item ID",
                            "example": "42964356352_voucher_4f4c80ff65979854fb36535f8e915283"
                          },
                          "guests": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "priceCategoryId": {
                                  "type": "string",
                                  "example": 7791680
                                },
                                "price": {
                                  "type": "number",
                                  "example": 566.54
                                },
                                "addons": {
                                  "type": "array"
                                },
                                "addonsPrice": {
                                  "type": "number",
                                  "example": 0
                                },
                                "total": {
                                  "type": "number",
                                  "example": 566.54
                                },
                                "discountAmount": {
                                  "type": "number",
                                  "example": 0
                                },
                                "discountAllowed": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "discountInfo": {
                                  "type": "string",
                                  "example": "Discount Codes are not allowed with this Partner Network Shared Activity"
                                }
                              }
                            }
                          },
                          "addons": {
                            "type": "array"
                          },
                          "downPayment": {
                            "type": "number",
                            "description": "Total item down payment",
                            "example": 566.54
                          },
                          "total": {
                            "type": "number",
                            "description": "Total item price",
                            "example": 566.54
                          }
                        }
                      }
                    },
                    "itemsDownPayment": {
                      "type": "number",
                      "description": "Possible Booking items down payment",
                      "example": 566.54
                    },
                    "itemsPrice": {
                      "type": "number",
                      "description": "Price for all booking items",
                      "example": 566.54
                    },
                    "discountPrice": {
                      "type": "number",
                      "description": "Discount code total amount (if discount exists)",
                      "example": 0
                    },
                    "shopItems": {
                      "type": "array",
                      "description": "List of shop items",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Shop item ID",
                            "example": 1
                          },
                          "quantity": {
                            "type": "integer",
                            "description": "Quantity of the shop item",
                            "example": 1
                          },
                          "price": {
                            "type": "number",
                            "description": "Price for one shop item",
                            "example": 10.0
                          },
                          "total": {
                            "type": "number",
                            "description": "Total price for the shop item",
                            "example": 10.0
                          }
                        }
                      }
                    },
                    "shopItemsPrice": {
                      "type": "number",
                      "description": "Total price for all shop items",
                      "example": 0
                    },
                    "vouchers": {
                      "type": "array"
                    },
                    "vouchersDiscount": {
                      "type": "number",
                      "description": "Total discount for all vouchers",
                      "example": 0
                    },
                    "multidiscount": {
                      "type": "object",
                      "description": "Multidiscount percent and amount",
                      "required": [
                        "percent",
                        "amount"
                      ],
                      "properties": {
                        "percent": {
                          "type": "number",
                          "example": 0
                        },
                        "amount": {
                          "type": "number",
                          "example": 0
                        }
                      }
                    },
                    "taxes": {
                      "type": "array",
                      "description": "A list of basket taxes",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "Title of the tax",
                            "example": "Online Processing Fee (USD 5.50)"
                          },
                          "included": {
                            "type": "boolean",
                            "description": "Indicates whether the tax is included into the price or not",
                            "example": false
                          },
                          "type": {
                            "type": "string",
                            "description": "Tax type",
                            "enum": [
                              "fee",
                              "tax"
                            ]
                          },
                          "value": {
                            "type": "number",
                            "description": "Tax value, structure depends on tax (can be `percent` or `fixed`)",
                            "example": 5.5
                          }
                        }
                      }
                    },
                    "fees": {
                      "type": "array",
                      "description": "A list of fees"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request params",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_request_params",
                  "error_description": "Invalid request parameters",
                  "reference": "###",
                  "errors": {
                    "[currency]": "This value should be type of string."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_token",
                  "error_description": "The access token provided is invalid"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/BookingPriceRequest"
        }
      }
    },
    "/resellingPrices": {
      "post": {
        "tags": [
          "Reselling Prices"
        ],
        "summary": "Manage Reselling Price",
        "description": "Manage Reselling Price",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "priceCategoryId",
                    "defaultPrice"
                  ],
                  "properties": {
                    "priceCategoryId": {
                      "type": "integer",
                      "description": "\\#ID of a Price Category",
                      "example": 12345678
                    },
                    "defaultPrice": {
                      "type": "number",
                      "description": "Default reselling price",
                      "example": 23.34
                    },
                    "prices": {
                      "type": "array",
                      "description": "Reselling prices for individual resellers",
                      "items": {
                        "type": "object",
                        "properties": {
                          "resellerId": {
                            "type": "integer",
                            "description": "\\#ID of a reseller",
                            "example": 12345
                          },
                          "price": {
                            "type": "number",
                            "description": "Reselling price",
                            "example": 34.45
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request params",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_request_params",
                  "error_description": "Invalid request parameters",
                  "reference": "###",
                  "errors": {
                    "[priceCategoryId]": "This field is missing."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_token",
                  "error_description": "The access token provided is invalid"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/ResellingPriceRequest"
        }
      }
    },
    "/discountCodes": {
      "get": {
        "tags": [
          "Booking Prices"
        ],
        "summary": "Validate Discount Code",
        "description": "Validates Discount Code",
        "parameters": [
          {
            "name": "activityId",
            "in": "query",
            "description": "Activity for which discount code is to be applied",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          },
          {
            "name": "discountCode",
            "in": "query",
            "description": "Discount code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "price",
            "in": "query",
            "description": "Amount on which discount is to be applied",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "Currency or currency locale",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "priceCategoryId",
            "in": "query",
            "description": "Id of price category",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "status"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "price",
                        "formattedPrice",
                        "isValid",
                        "discount",
                        "discountAmount",
                        "formattedDiscountAmount",
                        "newPrice",
                        "formattedNewPrice"
                      ],
                      "properties": {
                        "price": {
                          "type": "string",
                          "description": "Price on which discount will be applied",
                          "example": 50
                        },
                        "formattedPrice": {
                          "type": "string",
                          "description": "Price on which discount will be applied, user-friendly",
                          "example": "USD 50"
                        },
                        "isValid": {
                          "type": "boolean",
                          "description": "Is discount code valid?",
                          "example": true
                        },
                        "isVoucher": {
                          "type": "boolean",
                          "description": "Is discount or voucher?",
                          "example": false
                        },
                        "discount": {
                          "type": "number",
                          "description": "Discount percentage",
                          "example": 99
                        },
                        "discountAmount": {
                          "type": "number",
                          "description": "Discount amount",
                          "example": 49.5
                        },
                        "formattedDiscountAmount": {
                          "type": "string",
                          "description": "Discount amount, user-friendly",
                          "example": "USD 49.50"
                        },
                        "newPrice": {
                          "type": "string",
                          "description": "Price which will be after applying discount",
                          "example": 0.5
                        },
                        "formattedNewPrice": {
                          "type": "string",
                          "description": "Price which will be after applying discount, user-friendly",
                          "example": "USD 0.50"
                        },
                        "validationErrors": {
                          "type": "array"
                        }
                      }
                    },
                    "status": {
                      "type": "integer",
                      "example": 200
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request params",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_request_params",
                  "error_description": "Invalid request parameters",
                  "reference": "###",
                  "errors": {
                    "[discountCode]": "This value should be type of string."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_token",
                  "error_description": "The access token provided is invalid"
                }
              }
            }
          }
        }
      }
    },
    "/vouchers": {
      "get": {
        "tags": [
          "Booking Prices"
        ],
        "summary": "Validate Vouchers",
        "description": "Validate Vouchers",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "Array of voucher codes `code[]=code123`",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "basketItemId",
            "in": "query",
            "description": "Array of basketItemId `basketItemId[]=35`",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "shopItemId",
            "in": "query",
            "description": "Array of shopItemId `shopItemId[]=36`",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "isValid",
                      "code"
                    ],
                    "properties": {
                      "isValid": {
                        "type": "boolean",
                        "description": "Is valid voucher or not?",
                        "example": true
                      },
                      "code": {
                        "type": "string",
                        "description": "Voucher code",
                        "example": "code123"
                      },
                      "amount": {
                        "type": "number",
                        "description": "Voucher amount",
                        "example": 10.0
                      },
                      "currency": {
                        "type": "string",
                        "description": "Voucher currency",
                        "example": "USD"
                      },
                      "error": {
                        "type": "string",
                        "description": "If voucher is invalid, this field will return error description",
                        "example": "This voucher does not exist"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request params",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_request_params",
                  "error_description": "Invalid request parameters",
                  "reference": "###",
                  "errors": {
                    "[code]": "This value should be type of array."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_token",
                  "error_description": "The access token provided is invalid"
                }
              }
            }
          }
        }
      }
    },
    "/guest/{id}": {
      "get": {
        "tags": [
          "Guests"
        ],
        "summary": "Single Guest",
        "description": "Requests single guest by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Desired guest ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
[...]
