{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudmersive Natural Language Processing API",
    "version": "2.0.0",
    "description": "NLP API v2 providing sentiment analysis, profanity detection, hate speech detection, subjectivity analysis, text similarity, entity extraction, language detection, translation, parsing, part-of-speech tagging, rephrasing, segmentation, and spell checking.",
    "x-jentic-source-url": "https://api.cloudmersive.com/docs/nlp.asp"
  },
  "servers": [
    {
      "url": "https://api.cloudmersive.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/nlp-v2/analytics/sentiment": {
      "post": {
        "operationId": "analyzeSentiment",
        "summary": "Analyze sentiment of text",
        "description": "Analyze input text using advanced Sentiment Analysis to determine if the input is positive, negative, or neutral.",
        "tags": [
          "Analytics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful sentiment analysis",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SentimentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nlp-v2/analytics/profanity": {
      "post": {
        "operationId": "detectProfanity",
        "summary": "Detect profanity in text",
        "description": "Detect profanity and obscene language in the input text.",
        "tags": [
          "Analytics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profanity analysis result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfanityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nlp-v2/analytics/hate-speech": {
      "post": {
        "operationId": "detectHateSpeech",
        "summary": "Detect hate speech in text",
        "description": "Identify hate speech content in the input text.",
        "tags": [
          "Analytics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Hate speech analysis result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HateSpeechResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nlp-v2/analytics/subjectivity": {
      "post": {
        "operationId": "analyzeSubjectivity",
        "summary": "Analyze text subjectivity",
        "description": "Assess whether the input text is subjective or objective.",
        "tags": [
          "Analytics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subjectivity analysis result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubjectivityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nlp-v2/analytics/similarity": {
      "post": {
        "operationId": "analyzeSimilarity",
        "summary": "Compare text similarity",
        "description": "Compare semantic similarity between two text strings.",
        "tags": [
          "Analytics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimilarityInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Similarity analysis result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimilarityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nlp-v2/extract-entities": {
      "post": {
        "operationId": "extractEntities",
        "summary": "Extract named entities from text",
        "description": "Extract the named entities from an input string.",
        "tags": [
          "Extraction"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Extracted entities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitiesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nlp-v2/language/detect": {
      "post": {
        "operationId": "detectLanguage",
        "summary": "Detect language of text",
        "description": "Identify the language of the input text.",
        "tags": [
          "Language"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Language detection result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguageDetectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nlp-v2/translate/language/eng/to/deu": {
      "post": {
        "operationId": "translateEnglishToGerman",
        "summary": "Translate English to German",
        "description": "Automatically translates input text in English to output text in German using advanced Deep Learning.",
        "tags": [
          "Translation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Translation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nlp-v2/translate/language/deu/to/eng": {
      "post": {
        "operationId": "translateGermanToEnglish",
        "summary": "Translate German to English",
        "description": "Automatically translates input text in German to output text in English using advanced Deep Learning.",
        "tags": [
          "Translation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Translation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nlp-v2/translate/language/eng/to/fra": {
      "post": {
        "operationId": "translateEnglishToFrench",
        "summary": "Translate English to French",
        "description": "Automatically translates input text in English to output text in French using advanced Deep Learning.",
        "tags": [
          "Translation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Translation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nlp-v2/translate/language/fra/to/eng": {
      "post": {
        "operationId": "translateFrenchToEnglish",
        "summary": "Translate French to English",
        "description": "Automatically translates input text in French to output text in English using advanced Deep Learning.",
        "tags": [
          "Translation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Translation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nlp-v2/translate/language/eng/to/rus": {
      "post": {
        "operationId": "translateEnglishToRussian",
        "summary": "Translate English to Russian",
        "description": "Automatically translates input text in English to output text in Russian using advanced Deep Learning.",
        "tags": [
          "Translation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Translation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nlp-v2/translate/language/rus/to/eng": {
      "post": {
        "operationId": "translateRussianToEnglish",
        "summary": "Translate Russian to English",
        "description": "Automatically translates input text in Russian to output text in English using advanced Deep Learning.",
        "tags": [
          "Translation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Translation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nlp-v2/parse/tree": {
      "post": {
        "operationId": "parseTree",
        "summary": "Parse text into syntax tree",
        "description": "Parses the input string into a Penn Treebank syntax tree.",
        "tags": [
          "Parsing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Parse tree result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParseTreeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nlp-v2/pos/tag/sentence": {
      "post": {
        "operationId": "posTagSentence",
        "summary": "POS tag a sentence",
        "description": "Part-of-speech (POS) tag a string and return result as JSON.",
        "tags": [
          "Part-of-Speech"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "POS tagging result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PosTagResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nlp-v2/pos/tag/verbs": {
      "post": {
        "operationId": "posTagVerbs",
        "summary": "Extract verbs from text",
        "description": "Extract verbs from text using POS tagging.",
        "tags": [
          "Part-of-Speech"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Extracted verbs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PosTagResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nlp-v2/pos/tag/nouns": {
      "post": {
        "operationId": "posTagNouns",
        "summary": "Extract nouns from text",
        "description": "Extract nouns from text using POS tagging.",
        "tags": [
          "Part-of-Speech"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Extracted nouns",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PosTagResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nlp-v2/pos/tag/adjectives": {
      "post": {
        "operationId": "posTagAdjectives",
        "summary": "Extract adjectives from text",
        "description": "Extract adjectives from text using POS tagging.",
        "tags": [
          "Part-of-Speech"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Extracted adjectives",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PosTagResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nlp-v2/pos/tag/adverbs": {
      "post": {
        "operationId": "posTagAdverbs",
        "summary": "Extract adverbs from text",
        "description": "Extract adverbs from text using POS tagging.",
        "tags": [
          "Part-of-Speech"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Extracted adverbs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PosTagResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nlp-v2/pos/tag/pronouns": {
      "post": {
        "operationId": "posTagPronouns",
        "summary": "Extract pronouns from text",
        "description": "Extract pronouns from text using POS tagging.",
        "tags": [
          "Part-of-Speech"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Extracted pronouns",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PosTagResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nlp-v2/rephrase/rephrase/eng/by-sentence": {
      "post": {
        "operationId": "rephraseEnglishBySentence",
        "summary": "Rephrase English text",
        "description": "Paraphrase English text with multiple alternative options, rephrased by sentence.",
        "tags": [
          "Rephrasing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rephrased text alternatives",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RephraseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nlp-v2/segmentation/sentences": {
      "post": {
        "operationId": "segmentSentences",
        "summary": "Segment text into sentences",
        "description": "Segment an input string into separate sentences.",
        "tags": [
          "Segmentation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Segmented sentences",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nlp-v2/segmentation/words": {
      "post": {
        "operationId": "segmentWords",
        "summary": "Segment text into words",
        "description": "Extract individual words from input text.",
        "tags": [
          "Segmentation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Segmented words",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nlp-v2/spellcheck/check/word": {
      "post": {
        "operationId": "spellCheckWord",
        "summary": "Spell check a word",
        "description": "Find spelling correction suggestions for a single word and return result as JSON.",
        "tags": [
          "Spell Check"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpellCheckWordInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Spell check result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpellCheckResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nlp-v2/spellcheck/check/sentence": {
      "post": {
        "operationId": "spellCheckSentence",
        "summary": "Spell check a sentence",
        "description": "Validate sentence spelling with corrections.",
        "tags": [
          "Spell Check"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Spell check result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpellCheckSentenceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TextInput": {
        "type": "object",
        "required": [
          "TextToAnalyze"
        ],
        "properties": {
          "TextToAnalyze": {
            "type": "string",
            "description": "Input text to process"
          }
        }
      },
      "SimilarityInput": {
        "type": "object",
        "required": [
          "TextToAnalyze1",
          "TextToAnalyze2"
        ],
        "properties": {
          "TextToAnalyze1": {
            "type": "string",
            "description": "First text string to compare"
          },
          "TextToAnalyze2": {
            "type": "string",
            "description": "Second text string to compare"
          }
        }
      },
      "SpellCheckWordInput": {
        "type": "object",
        "required": [
          "Word"
        ],
        "properties": {
          "Word": {
            "type": "string",
            "description": "Word to spell check"
          }
        }
      },
      "SentimentResponse": {
        "type": "object",
        "properties": {
          "Successful": {
            "type": "boolean"
          },
          "SentimentClassificationResult": {
            "type": "string",
            "description": "Positive, Negative, or Neutral"
          },
          "SentimentScoreResult": {
            "type": "number",
            "description": "Sentiment score"
          },
          "SentenceCount": {
            "type": "integer"
          }
        }
      },
      "ProfanityResponse": {
        "type": "object",
        "properties": {
          "Successful": {
            "type": "boolean"
          },
          "ProfanityScoreResult": {
            "type": "number"
          },
          "SentenceCount": {
            "type": "integer"
          }
        }
      },
      "HateSpeechResponse": {
        "type": "object",
        "properties": {
          "Successful": {
            "type": "boolean"
          },
          "HateSpeechScoreResult": {
            "type": "number"
          },
          "SentenceCount": {
            "type": "integer"
          }
        }
      },
      "SubjectivityResponse": {
        "type": "object",
        "properties": {
          "Successful": {
            "type": "boolean"
          },
          "SubjectivityScoreResult": {
            "type": "number"
          },
          "SentenceCount": {
            "type": "integer"
          }
        }
      },
      "SimilarityResponse": {
        "type": "object",
        "properties": {
          "Successful": {
            "type": "boolean"
          },
          "SimilarityScoreResult": {
            "type": "number",
            "description": "Similarity score between 0 and 1"
          },
          "SentenceCount": {
            "type": "integer"
          }
        }
      },
      "EntitiesResponse": {
        "type": "object",
        "properties": {
          "Successful": {
            "type": "boolean"
          },
          "Entities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "EntityType": {
                  "type": "string"
                },
                "EntityText": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "LanguageDetectionResponse": {
        "type": "object",
        "properties": {
          "Successful": {
            "type": "boolean"
          },
          "DetectedLanguage_ThreeLetterCode": {
            "type": "string"
          },
          "DetectedLanguage_FullName": {
            "type": "string"
          }
        }
      },
      "TranslationResponse": {
        "type": "object",
        "properties": {
          "Successful": {
            "type": "boolean"
          },
          "TranslatedTextResult": {
            "type": "string"
          },
          "SentenceCount": {
            "type": "integer"
          }
        }
      },
      "ParseTreeResponse": {
        "type": "object",
        "properties": {
          "Successful": {
            "type": "boolean"
          },
          "ParseTree": {
            "type": "string",
            "description": "Penn Treebank format parse tree"
          }
        }
      },
      "PosTagResponse": {
        "type": "object",
        "properties": {
          "Successful": {
            "type": "boolean"
          },
          "TaggedSentences": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Words": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Word": {
                        "type": "string"
                      },
                      "Tag": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "RephraseResponse": {
        "type": "object",
        "properties": {
          "Successful": {
            "type": "boolean"
          },
          "RephrasedResults": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "RephrasedSentence": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "SegmentationResponse": {
        "type": "object",
        "properties": {
          "Successful": {
            "type": "boolean"
          },
          "Sentences": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "Words": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SpellCheckResponse": {
        "type": "object",
        "properties": {
          "Correct": {
            "type": "boolean"
          },
          "Suggestions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SpellCheckSentenceResponse": {
        "type": "object",
        "properties": {
          "IncorrectCount": {
            "type": "integer"
          },
          "Words": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Word": {
                  "type": "object",
                  "properties": {
                    "Word": {
                      "type": "string"
                    },
                    "IsCorrect": {
                      "type": "boolean"
                    },
                    "Suggestions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Apikey",
        "description": "Cloudmersive API key passed in the Apikey header"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Nlp V2"
    }
  ]
}