{
  "openapi": "3.0.0",
  "info": {
    "description": "The [Swagger Playground](https://developers.strava.com/playground) is the easiest way to familiarize yourself with the Strava API by submitting HTTP requests and observing the responses before you write any client code. It will show what a response will look like with different endpoints depending on the authorization scope you receive from your athletes. To use the Playground, go to https://www.strava.com/settings/api and change your “Authorization Callback Domain” to developers.strava.com. Please note, we only support Swagger 2.0. There is a known issue where you can only select one scope at a time. For more information, please check the section “client code” at https://developers.strava.com/docs.",
    "title": "Strava API v3",
    "version": "3.0.0",
    "x-jentic-source-url": "https://developers.strava.com/swagger/swagger.json"
  },
  "servers": [
    {
      "url": "https://www.strava.com/api/v3"
    }
  ],
  "paths": {
    "/activities": {
      "post": {
        "summary": "Create an Activity",
        "operationId": "createActivity",
        "tags": [
          "Activities"
        ],
        "description": "Creates a manual activity for an athlete, requires activity:write scope.",
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "achievement_count": 0,
                      "athlete": {
                        "id": 12343545645788,
                        "resource_state": 1
                      },
                      "athlete_count": 1,
                      "average_speed": 0,
                      "calories": 0,
                      "comment_count": 0,
                      "commute": false,
                      "description": null,
                      "device_watts": false,
                      "distance": 0,
                      "elapsed_time": 18373,
                      "external_id": null,
                      "flagged": false,
                      "from_accepted_tag": null,
                      "gear_id": "b453542543",
                      "has_heartrate": false,
                      "has_kudoed": false,
                      "id": 123456778928065,
                      "kudos_count": 0,
                      "manual": true,
                      "map": {
                        "id": "a12345678908766",
                        "polyline": null,
                        "resource_state": 3
                      },
                      "max_speed": 0,
                      "moving_time": 18373,
                      "name": "Chill Day",
                      "photo_count": 0,
                      "pr_count": 0,
                      "private": false,
                      "resource_state": 3,
                      "segment_efforts": [],
                      "sport_type": "MountainBikeRide",
                      "start_date": "2018-02-20T18:02:13Z",
                      "start_date_local": "2018-02-20T10:02:13Z",
                      "timezone": "(GMT-08:00) America/Los_Angeles",
                      "total_elevation_gain": 0,
                      "total_photo_count": 0,
                      "trainer": false,
                      "type": "Ride",
                      "upload_id": null,
                      "utc_offset": -28800,
                      "workout_type": null
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/DetailedActivity"
                }
              }
            },
            "description": "The activity's detailed representation."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            },
            "description": "Unexpected error."
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "commute": {
                    "description": "Set to 1 to mark as commute.",
                    "type": "integer"
                  },
                  "description": {
                    "description": "Description of the activity.",
                    "type": "string"
                  },
                  "distance": {
                    "description": "In meters.",
                    "format": "float",
                    "type": "number"
                  },
                  "elapsed_time": {
                    "description": "In seconds.",
                    "type": "integer"
                  },
                  "name": {
                    "description": "The name of the activity.",
                    "type": "string"
                  },
                  "sport_type": {
                    "description": "Sport type of activity. For example - Run, MountainBikeRide, Ride, etc.",
                    "type": "string"
                  },
                  "start_date_local": {
                    "description": "ISO 8601 formatted date time.",
                    "format": "date-time",
                    "type": "string"
                  },
                  "trainer": {
                    "description": "Set to 1 to mark as a trainer activity.",
                    "type": "integer"
                  },
                  "type": {
                    "description": "Type of activity. For example - Run, Ride etc.",
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ],
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/activities/{id}": {
      "get": {
        "summary": "Get Activity",
        "operationId": "getActivityById",
        "tags": [
          "Activities"
        ],
        "description": "Returns the given activity that is owned by the authenticated athlete. Requires activity:read for Everyone and Followers activities. Requires activity:read_all for Only Me activities.",
        "parameters": [
          {
            "description": "The identifier of the activity.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "To include all segments efforts.",
            "in": "query",
            "name": "include_all_efforts",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "achievement_count": 0,
                      "athlete": {
                        "id": 134815,
                        "resource_state": 1
                      },
                      "athlete_count": 1,
                      "average_cadence": 78.5,
                      "average_speed": 6.679,
                      "average_temp": 4,
                      "average_watts": 185.5,
                      "calories": 870.2,
                      "comment_count": 0,
                      "commute": false,
                      "description": "",
                      "device_name": "Garmin Edge 1030",
                      "device_watts": true,
                      "distance": 28099,
                      "elapsed_time": 4410,
                      "elev_high": 446.6,
                      "elev_low": 17.2,
                      "embed_token": "18e4615989b47dd4ff3dc711b0aa4502e4b311a9",
                      "end_latlng": [
                        37.83,
                        -122.26
                      ],
                      "external_id": "garmin_push_12345678987654321",
                      "flagged": false,
                      "from_accepted_tag": false,
                      "gear": {
                        "distance": 32547610,
                        "id": "b12345678987654321",
                        "name": "Tarmac",
                        "primary": true,
                        "resource_state": 2
                      },
                      "gear_id": "b12345678987654321",
                      "has_heartrate": false,
                      "has_kudoed": false,
                      "hide_from_home": false,
                      "highlighted_kudosers": [
                        {
                          "avatar_url": "https://dgalywyr863hv.cloudfront.net/pictures/athletes/12345678987654321/12345678987654321/3/medium.jpg",
                          "destination_url": "strava://athletes/12345678987654321",
                          "display_name": "Marianne V.",
                          "show_name": true
                        }
                      ],
                      "id": 12345678987654320,
                      "kilojoules": 780.5,
                      "kudos_count": 19,
                      "laps": [
                        {
                          "activity": {
                            "id": 1410355832,
                            "resource_state": 1
                          },
                          "athlete": {
                            "id": 134815,
                            "resource_state": 1
                          },
                          "average_cadence": 78.6,
                          "average_speed": 5.12,
                          "average_watts": 233.1,
                          "device_watts": true,
                          "distance": 8046.72,
                          "elapsed_time": 1573,
                          "end_index": 1570,
                          "id": 4479306946,
                          "lap_index": 1,
                          "max_speed": 9.5,
                          "moving_time": 1569,
                          "name": "Lap 1",
                          "resource_state": 2,
                          "split": 1,
                          "start_date": "2018-02-16T14:52:54Z",
                          "start_date_local": "2018-02-16T06:52:54Z",
                          "start_index": 0,
                          "total_elevation_gain": 276
                        }
                      ],
                      "leaderboard_opt_out": false,
                      "manual": false,
                      "map": {
                        "id": "a1410355832",
                        "polyline": "ki{eFvqfiVqAWQIGEEKAYJgBVqDJ{BHa@jAkNJw@Pw@V{APs@^aABQAOEQGKoJ_FuJkFqAo@{A}@sH{DiAs@Q]?WVy@`@oBt@_CB]KYMMkB{AQEI@WT{BlE{@zAQPI@ICsCqA_BcAeCmAaFmCqIoEcLeG}KcG}A}@cDaBiDsByAkAuBqBi@y@_@o@o@kB}BgIoA_EUkAMcACa@BeBBq@LaAJe@b@uA`@_AdBcD`@iAPq@RgALqAB{@EqAyAoOCy@AmCBmANqBLqAZkB\\iCPiBJwCCsASiCq@iD]eA]y@[i@w@mAa@i@k@g@kAw@i@Ya@Q]EWFMLa@~BYpAFNpA`Aj@n@X`@V`AHh@JfB@xAMvAGZGHIDIAWOEQNcC@sACYK[MSOMe@QKKKYOs@UYQISCQ?Q@WNo@r@OHGAGCKOQ_BU}@MQGG]Io@@c@FYNg@d@s@d@ODQAMOMaASs@_@a@SESAQDqBn@a@RO?KK?UBU\\kA@Y?WMo@Iy@GWQ_@WSSGg@AkABQB_Ap@_A^o@b@Q@o@IS@OHi@n@OFS?OI}@iAQMQGQC}@DOIIUK{@IUOMyBo@kASOKIQCa@L[|AgATWN[He@?QKw@FOPCh@Fx@l@TDLELKl@aAHIJEX@r@ZTDV@LENQVg@RkA@c@MeA?WFOPMf@Ej@Fj@@LGHKDM?_@_@iC?a@HKRIl@NT?FCHMFW?YEYGWQa@GYBiAIq@Gq@L_BHSHK|@WJETSLQZs@z@_A~@uA^U`@G\\CRB\\Tl@p@Th@JZ^bB`@lAHLXVLDP?LGFSKiDBo@d@wBVi@R]VYVE\\@`@Lh@Fh@CzAk@RSDQA]GYe@eAGWSiBAWBWBIJORK`@KPOPSTg@h@}Ad@o@F[E_@EGMKUGmAEYGMIMYKs@?a@J}@@_BD_@HQJMx@e@LKHKHWAo@UoAAWFmAH}@?w@C[YwAAc@HSNM|Ao@rA}@zAq@`@a@j@eAxAuBXQj@MXSR[b@gAFg@?YISOGaAHi@Xw@v@_@d@WRSFqARUHQJc@d@m@`A[VSFUBcAEU@WFULUPa@v@Y~@UrBc@dBI~@?l@P~ABt@N`HEjA]zAEp@@p@TrBCl@CTQb@k@dAg@jAU^KJYLK@k@A[Js@d@a@b@]RgBl@[FMAw@[]G]?m@D_@F]P[Vu@t@[TMF_@Do@E_@@q@P]PWZUZw@vAkAlAGJOj@IlAMd@OR{@p@a@d@sBpD]v@a@`Aa@n@]TODgBVk@Pe@^cBfBc@Rs@La@RSPm@|@wCpDS^Wp@QZML{@l@qBbCYd@k@lAIVCZBZNTr@`@RRHZANIZQPKDW@e@CaASU?I@YTKRQx@@\\VmALYRQLCL?v@P|@D\\GJEFKDM@OCa@COOYIGm@YMUCM@]JYr@uAx@kAt@}@jAeAPWbAkBj@s@bAiAz@oAj@m@VQlAc@VQ~@aA`Au@p@Q`AIv@MZORUV_@p@iB|AoCh@q@dAaANUNWH[N{AJ[^m@t@_Av@wA\\a@`@W`@In@Al@B^E`@Wl@u@\\[VQ\\K`@Eb@?R@dAZP@d@CRExAs@\\Yt@{@LG\\MjAATINOXo@d@kAl@_AHYBOCe@QiBCm@Fq@\\wADo@AyGEeBWuB@YHu@Tu@Lk@VcCTo@d@aA\\WJE`@G~@FP?VI\\U~@sANO`@SfAMj@U\\WjAsAXS`@UNENALBHFFL?^Ml@Uj@]b@q@RUJSPkChEc@XcAb@sA|@]PaA\\OJKNER?TDTNj@Jn@?p@OfC@ZR`B@VCV_@n@{@l@WbACv@OlABnAPl@LNNHbBBNBLFFJ@^GLg@x@i@|AMP[X}@XOJKPET?l@LhAFXp@fBDRCd@S\\_@Ps@PQ@}A]S?QDe@V]b@MR[fAKt@ErAF~CANILYDKGIKe@{@Yy@e@sB[gA[c@e@YUCU?WBUHUNQPq@`AiArAMV[^e@Zc@JQJKNMz@?r@Bb@PfAAfA@VVbADn@E`@KHSEe@SMAKDKFM\\^dDCh@m@LoAQ_@@MFOZLfBEl@QbASd@KLQBOAaAc@QAQ@QHc@v@ONMJOBOCg@c@]O[EMBKFGL?RHv@ARERGNe@h@{@h@WVGNDt@JLNFPFz@LdBf@f@PJNHPF`ADPJJJDl@I`@B^Tp@bALJNDNALIf@i@PGPCt@DNE`@Uv@[dAw@RITGRCtAARBPJLPJRZxB?VEX_@vAAR?RDNHJJBh@UnBm@h@IRDRJNNJPNbBFRJLLBLCzAmAd@Uf@Gf@?P@PFJNHPFTH`BDTHNJJJ@LG`@m@^YPER@RDPHNNJRLn@HRLN^VNPHTFX@\\UlDFb@FHh@NP@HKPsB?}ASkCQ{@[y@q@}@cA{@KOCQDa@t@{CFGJCf@Nl@ZtA~@r@p@`@h@rAxBd@rA\\fARdAPjANrB?f@AtBCd@QfBkAjJOlBChA?rBFrBNlBdAfKFzAC~@Iz@Mz@Sv@s@jBmAxBi@hAWt@Sv@Qx@O`BA`@?dAPfBVpAd@`BfBlFf@fBdA~Cr@pAz@fApBhBjAt@H?IL?FBFJLx@^lHvDvh@~XnElCbAd@pGhDbAb@nAr@`Ad@`GhDnBbAxCbBrWhNJJDPARGP_@t@Qh@]pAUtAoA`Ny@jJApBBNFLJFJBv@Hb@HBF?\\",
                        "resource_state": 3,
                        "summary_polyline": "ki{eFvqfiVsBmA`Feh@qg@iX`B}JeCcCqGjIq~@kf@cM{KeHeX`@_GdGkSeBiXtB}YuEkPwFyDeAzAe@pC~DfGc@bIOsGmCcEiD~@oBuEkFhBcBmDiEfAVuDiAuD}NnDaNiIlCyDD_CtJKv@wGhD]YyEzBo@g@uKxGmHpCGtEtI~AuLrHkAcAaIvEgH_EaDR_FpBuBg@sNxHqEtHgLoTpIiCzKNr[sB|Es\\`JyObYeMbGsMnPsAfDxAnD}DBu@bCx@{BbEEyAoD`AmChNoQzMoGhOwX|[yIzBeFKg[zAkIdU_LiHxK}HzEh@vM_BtBg@xGzDbCcF~GhArHaIfByAhLsDiJuC?_HbHd@nL_Cz@ZnEkDDy@hHwJLiCbIrNrIvN_EfAjDWlEnEiAfBxDlFkBfBtEfDaAzBvDKdFx@|@XgJmDsHhAgD`GfElEzOwBnYdBxXgGlSc@bGdHpW|HdJztBnhAgFxc@HnCvBdA"
                      },
                      "max_speed": 18.5,
                      "max_watts": 743,
                      "moving_time": 4207,
                      "name": "Happy Friday",
                      "partner_brand_tag": null,
                      "photo_count": 0,
                      "photos": {
                        "count": 2,
                        "primary": {
                          "id": null,
                          "source": 1,
                          "unique_id": "3FDGKL3-204E-4867-9E8D-89FC79EAAE17",
                          "urls": {
                            "100": "https://dgtzuqphqg23d.cloudfront.net/Bv93zv5t_mr57v0wXFbY_JyvtucgmU5Ym6N9z_bKeUI-128x96.jpg",
                            "600": "https://dgtzuqphqg23d.cloudfront.net/Bv93zv5t_mr57v0wXFbY_JyvtucgmU5Ym6N9z_bKeUI-768x576.jpg"
                          }
                        },
                        "use_primary_photo": true
                      },
                      "pr_count": 0,
                      "private": false,
                      "resource_state": 3,
                      "segment_efforts": [
                        {
                          "achievements": [],
                          "activity": {
                            "id": 12345678987654320,
                            "resource_state": 1
                          },
                          "athlete": {
                            "id": 134815,
                            "resource_state": 1
                          },
                          "average_cadence": 78.6,
                          "average_watts": 237.6,
                          "device_watts": true,
                          "distance": 9434.8,
                          "elapsed_time": 2038,
                          "end_index": 2246,
                          "hidden": false,
                          "id": 12345678987654320,
                          "kom_rank": null,
                          "moving_time": 2038,
                          "name": "Tunnel Rd.",
                          "pr_rank": null,
                          "resource_state": 2,
                          "segment": {
                            "activity_type": "Ride",
                            "average_grade": 4.2,
                            "city": "Oakland",
                            "climb_category": 3,
                            "country": "United States",
                            "distance": 9220.7,
                            "elevation_high": 426.5,
                            "elevation_low": 43.4,
                            "end_latlng": [
                              37.8476261,
                              -122.2008944
                            ],
                            "hazardous": false,
                            "id": 673683,
                            "maximum_grade": 25.8,
                            "name": "Tunnel Rd.",
                            "private": false,
                            "resource_state": 2,
                            "starred": false,
                            "start_latlng": [
                              37.8346153,
                              -122.2520872
                            ],
                            "state": "CA"
                          },
                          "start_date": "2018-02-16T14:56:25Z",
                          "start_date_local": "2018-02-16T06:56:25Z",
                          "start_index": 211
                        }
                      ],
                      "segment_leaderboard_opt_out": false,
                      "splits_metric": [
                        {
                          "average_speed": 7.1,
                          "distance": 1001.5,
                          "elapsed_time": 141,
                          "elevation_difference": 4.4,
                          "moving_time": 141,
                          "pace_zone": 0,
                          "split": 1
                        }
                      ],
                      "sport_type": "MountainBikeRide",
                      "start_date": "2018-02-16T14:52:54Z",
                      "start_date_local": "2018-02-16T06:52:54Z",
                      "start_latlng": [
                        37.83,
                        -122.26
                      ],
                      "suffer_score": null,
                      "timezone": "(GMT-08:00) America/Los_Angeles",
                      "total_elevation_gain": 516,
                      "total_photo_count": 2,
                      "trainer": false,
                      "type": "Ride",
                      "upload_id": 98765432123456780,
                      "utc_offset": -28800,
                      "weighted_average_watts": 230,
                      "workout_type": 10
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/DetailedActivity"
                }
              }
            },
            "description": "The activity's detailed representation."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            },
            "description": "Unexpected error."
          }
        }
      },
      "put": {
        "summary": "Update Activity",
        "operationId": "updateActivityById",
        "tags": [
          "Activities"
        ],
        "description": "Updates the given activity that is owned by the authenticated athlete. Requires activity:write. Also requires activity:read_all in order to update Only Me activities",
        "parameters": [
          {
            "description": "The identifier of the activity.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "achievement_count": 0,
                      "athlete": {
                        "id": 134815,
                        "resource_state": 1
                      },
                      "athlete_count": 1,
                      "average_cadence": 78.5,
                      "average_speed": 6.679,
                      "average_temp": 4,
                      "average_watts": 185.5,
                      "calories": 870.2,
                      "comment_count": 0,
                      "commute": false,
                      "description": "",
                      "device_name": "Garmin Edge 1030",
                      "device_watts": true,
                      "distance": 28099,
                      "elapsed_time": 4410,
                      "elev_high": 446.6,
                      "elev_low": 17.2,
                      "embed_token": "18e4615989b47dd4ff3dc711b0aa4502e4b311a9",
                      "end_latlng": [
                        37.83,
                        -122.26
                      ],
                      "external_id": "garmin_push_12345678987654321",
                      "flagged": false,
                      "from_accepted_tag": false,
                      "gear": {
                        "distance": 32547610,
                        "id": "b12345678987654321",
                        "name": "Tarmac",
                        "primary": true,
                        "resource_state": 2
                      },
                      "gear_id": "b12345678987654321",
                      "has_heartrate": false,
                      "has_kudoed": false,
                      "hide_from_home": false,
                      "highlighted_kudosers": [
                        {
                          "avatar_url": "https://dgalywyr863hv.cloudfront.net/pictures/athletes/12345678987654321/12345678987654321/3/medium.jpg",
                          "destination_url": "strava://athletes/12345678987654321",
                          "display_name": "Marianne V.",
                          "show_name": true
                        }
                      ],
                      "id": 12345678987654320,
                      "kilojoules": 780.5,
                      "kudos_count": 19,
                      "laps": [
                        {
                          "activity": {
                            "id": 1410355832,
                            "resource_state": 1
                          },
                          "athlete": {
                            "id": 134815,
                            "resource_state": 1
                          },
                          "average_cadence": 78.6,
                          "average_speed": 5.12,
                          "average_watts": 233.1,
                          "device_watts": true,
                          "distance": 8046.72,
                          "elapsed_time": 1573,
                          "end_index": 1570,
                          "id": 4479306946,
                          "lap_index": 1,
                          "max_speed": 9.5,
                          "moving_time": 1569,
                          "name": "Lap 1",
                          "resource_state": 2,
                          "split": 1,
                          "start_date": "2018-02-16T14:52:54Z",
                          "start_date_local": "2018-02-16T06:52:54Z",
                          "start_index": 0,
                          "total_elevation_gain": 276
                        }
                      ],
                      "leaderboard_opt_out": false,
                      "location_city": null,
                      "location_country": "United States",
                      "location_state": null,
                      "manual": false,
                      "map": {
                        "id": "a1410355832",
                        "polyline": "ki{eFvqfiVqAWQIGEEKAYJgBVqDJ{BHa@jAkNJw@Pw@V{APs@^aABQAOEQGKoJ_FuJkFqAo@{A}@sH{DiAs@Q]?WVy@`@oBt@_CB]KYMMkB{AQEI@WT{BlE{@zAQPI@ICsCqA_BcAeCmAaFmCqIoEcLeG}KcG}A}@cDaBiDsByAkAuBqBi@y@_@o@o@kB}BgIoA_EUkAMcACa@BeBBq@LaAJe@b@uA`@_AdBcD`@iAPq@RgALqAB{@EqAyAoOCy@AmCBmANqBLqAZkB\\iCPiBJwCCsASiCq@iD]eA]y@[i@w@mAa@i@k@g@kAw@i@Ya@Q]EWFMLa@~BYpAFNpA`Aj@n@X`@V`AHh@JfB@xAMvAGZGHIDIAWOEQNcC@sACYK[MSOMe@QKKKYOs@UYQISCQ?Q@WNo@r@OHGAGCKOQ_BU}@MQGG]Io@@c@FYNg@d@s@d@ODQAMOMaASs@_@a@SESAQDqBn@a@RO?KK?UBU\\kA@Y?WMo@Iy@GWQ_@WSSGg@AkABQB_Ap@_A^o@b@Q@o@IS@OHi@n@OFS?OI}@iAQMQGQC}@DOIIUK{@IUOMyBo@kASOKIQCa@L[|AgATWN[He@?QKw@FOPCh@Fx@l@TDLELKl@aAHIJEX@r@ZTDV@LENQVg@RkA@c@MeA?WFOPMf@Ej@Fj@@LGHKDM?_@_@iC?a@HKRIl@NT?FCHMFW?YEYGWQa@GYBiAIq@Gq@L_BHSHK|@WJETSLQZs@z@_A~@uA^U`@G\\CRB\\Tl@p@Th@JZ^bB`@lAHLXVLDP?LGFSKiDBo@d@wBVi@R]VYVE\\@`@Lh@Fh@CzAk@RSDQA]GYe@eAGWSiBAWBWBIJORK`@KPOPSTg@h@}Ad@o@F[E_@EGMKUGmAEYGMIMYKs@?a@J}@@_BD_@HQJMx@e@LKHKHWAo@UoAAWFmAH}@?w@C[YwAAc@HSNM|Ao@rA}@zAq@`@a@j@eAxAuBXQj@MXSR[b@gAFg@?YISOGaAHi@Xw@v@_@d@WRSFqARUHQJc@d@m@`A[VSFUBcAEU@WFULUPa@v@Y~@UrBc@dBI~@?l@P~ABt@N`HEjA]zAEp@@p@TrBCl@CTQb@k@dAg@jAU^KJYLK@k@A[Js@d@a@b@]RgBl@[FMAw@[]G]?m@D_@F]P[Vu@t@[TMF_@Do@E_@@q@P]PWZUZw@vAkAlAGJOj@IlAMd@OR{@p@a@d@sBpD]v@a@`Aa@n@]TODgBVk@Pe@^cBfBc@Rs@La@RSPm@|@wCpDS^Wp@QZML{@l@qBbCYd@k@lAIVCZBZNTr@`@RRHZANIZQPKDW@e@CaASU?I@YTKRQx@@\\VmALYRQLCL?v@P|@D\\GJEFKDM@OCa@COOYIGm@YMUCM@]JYr@uAx@kAt@}@jAeAPWbAkBj@s@bAiAz@oAj@m@VQlAc@VQ~@aA`Au@p@Q`AIv@MZORUV_@p@iB|AoCh@q@dAaANUNWH[N{AJ[^m@t@_Av@wA\\a@`@W`@In@Al@B^E`@Wl@u@\\[VQ\\K`@Eb@?R@dAZP@d@CRExAs@\\Yt@{@LG\\MjAATINOXo@d@kAl@_AHYBOCe@QiBCm@Fq@\\wADo@AyGEeBWuB@YHu@Tu@Lk@VcCTo@d@aA\\WJE`@G~@FP?VI\\U~@sANO`@SfAMj@U\\WjAsAXS`@UNENALBHFFL?^Ml@Uj@]b@q@RUJSPkChEc@XcAb@sA|@]PaA\\OJKNER?TDTNj@Jn@?p@OfC@ZR`B@VCV_@n@{@l@WbACv@OlABnAPl@LNNHbBBNBLFFJ@^GLg@x@i@|AMP[X}@XOJKPET?l@LhAFXp@fBDRCd@S\\_@Ps@PQ@}A]S?QDe@V]b@MR[fAKt@ErAF~CANILYDKGIKe@{@Yy@e@sB[gA[c@e@YUCU?WBUHUNQPq@`AiArAMV[^e@Zc@JQJKNMz@?r@Bb@PfAAfA@VVbADn@E`@KHSEe@SMAKDKFM\\^dDCh@m@LoAQ_@@MFOZLfBEl@QbASd@KLQBOAaAc@QAQ@QHc@v@ONMJOBOCg@c@]O[EMBKFGL?RHv@ARERGNe@h@{@h@WVGNDt@JLNFPFz@LdBf@f@PJNHPF`ADPJJJDl@I`@B^Tp@bALJNDNALIf@i@PGPCt@DNE`@Uv@[dAw@RITGRCtAARBPJLPJRZxB?VEX_@vAAR?RDNHJJBh@UnBm@h@IRDRJNNJPNbBFRJLLBLCzAmAd@Uf@Gf@?P@PFJNHPFTH`BDTHNJJJ@LG`@m@^YPER@RDPHNNJRLn@HRLN^VNPHTFX@\\UlDFb@FHh@NP@HKPsB?}ASkCQ{@[y@q@}@cA{@KOCQDa@t@{CFGJCf@Nl@ZtA~@r@p@`@h@rAxBd@rA\\fARdAPjANrB?f@AtBCd@QfBkAjJOlBChA?rBFrBNlBdAfKFzAC~@Iz@Mz@Sv@s@jBmAxBi@hAWt@Sv@Qx@O`BA`@?dAPfBVpAd@`BfBlFf@fBdA~Cr@pAz@fApBhBjAt@H?IL?FBFJLx@^lHvDvh@~XnElCbAd@pGhDbAb@nAr@`Ad@`GhDnBbAxCbBrWhNJJDPARGP_@t@Qh@]pAUtAoA`Ny@jJApBBNFLJFJBv@Hb@HBF?\\",
                        "resource_state": 3,
                        "summary_polyline": "ki{eFvqfiVsBmA`Feh@qg@iX`B}JeCcCqGjIq~@kf@cM{KeHeX`@_GdGkSeBiXtB}YuEkPwFyDeAzAe@pC~DfGc@bIOsGmCcEiD~@oBuEkFhBcBmDiEfAVuDiAuD}NnDaNiIlCyDD_CtJKv@wGhD]YyEzBo@g@uKxGmHpCGtEtI~AuLrHkAcAaIvEgH_EaDR_FpBuBg@sNxHqEtHgLoTpIiCzKNr[sB|Es\\`JyObYeMbGsMnPsAfDxAnD}DBu@bCx@{BbEEyAoD`AmChNoQzMoGhOwX|[yIzBeFKg[zAkIdU_LiHxK}HzEh@vM_BtBg@xGzDbCcF~GhArHaIfByAhLsDiJuC?_HbHd@nL_Cz@ZnEkDDy@hHwJLiCbIrNrIvN_EfAjDWlEnEiAfBxDlFkBfBtEfDaAzBvDKdFx@|@XgJmDsHhAgD`GfElEzOwBnYdBxXgGlSc@bGdHpW|HdJztBnhAgFxc@HnCvBdA"
                      },
                      "max_speed": 18.5,
                      "max_watts": 743,
                      "moving_time": 4207,
                      "name": "Happy Friday",
                      "partner_brand_tag": null,
                      "photo_count": 0,
                      "photos": {
                        "count": 2,
                        "primary": {
                          "id": null,
                          "source": 1,
                          "unique_id": "3FDGKL3-204E-4867-9E8D-89FC79EAAE17",
                          "urls": {
                            "100": "https://dgtzuqphqg23d.cloudfront.net/Bv93zv5t_mr57v0wXFbY_JyvtucgmU5Ym6N9z_bKeUI-128x96.jpg",
                            "600": "https://dgtzuqphqg23d.cloudfront.net/Bv93zv5t_mr57v0wXFbY_JyvtucgmU5Ym6N9z_bKeUI-768x576.jpg"
                          }
                        },
                        "use_primary_photo": true
                      },
                      "pr_count": 0,
                      "private": false,
                      "resource_state": 3,
                      "segment_efforts": [
                        {
                          "achievements": [],
                          "activity": {
                            "id": 12345678987654320,
                            "resource_state": 1
                          },
                          "athlete": {
                            "id": 12345678987654320,
                            "resource_state": 1
                          },
                          "average_cadence": 78.6,
                          "average_watts": 237.6,
                          "device_watts": true,
                          "distance": 9434.8,
                          "elapsed_time": 2038,
                          "end_index": 2246,
                          "hidden": false,
                          "id": 12345678987654320,
                          "kom_rank": null,
                          "moving_time": 2038,
                          "name": "Tunnel Rd.",
                          "pr_rank": null,
                          "resource_state": 2,
                          "segment": {
                            "activity_type": "Ride",
                            "average_grade": 4.2,
                            "city": "Oakland",
                            "climb_category": 3,
                            "country": "United States",
                            "distance": 9220.7,
                            "elevation_high": 426.5,
                            "elevation_low": 43.4,
                            "end_latlng": [
                              37.8476261,
                              -122.2008944
                            ],
                            "hazardous": false,
                            "id": 673683,
                            "maximum_grade": 25.8,
                            "name": "Tunnel Rd.",
                            "private": false,
                            "resource_state": 2,
                            "starred": false,
                            "start_latlng": [
                              37.8346153,
                              -122.2520872
                            ],
                            "state": "CA"
                          },
                          "start_date": "2018-02-16T14:56:25Z",
                          "start_date_local": "2018-02-16T06:56:25Z",
                          "start_index": 211
                        }
                      ],
                      "segment_leaderboard_opt_out": false,
                      "splits_metric": [
                        {
                          "average_speed": 7.1,
                          "distance": 1001.5,
                          "elapsed_time": 141,
                          "elevation_difference": 4.4,
                          "moving_time": 141,
                          "pace_zone": 0,
                          "split": 1
                        }
                      ],
                      "sport_type": "MountainBikeRide",
                      "start_date": "2018-02-16T14:52:54Z",
                      "start_date_local": "2018-02-16T06:52:54Z",
                      "start_latlng": [
                        37.83,
                        -122.26
                      ],
                      "suffer_score": null,
                      "timezone": "(GMT-08:00) America/Los_Angeles",
                      "total_elevation_gain": 516,
                      "total_photo_count": 2,
                      "trainer": false,
                      "type": "Ride",
                      "upload_id": 98765432123456780,
                      "utc_offset": -28800,
                      "weighted_average_watts": 230,
                      "workout_type": 10
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/DetailedActivity"
                }
              }
            },
            "description": "The activity's detailed representation."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            },
            "description": "Unexpected error."
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatableActivity"
              }
            }
          }
        }
      }
    },
    "/activities/{id}/comments": {
      "get": {
        "summary": "List Activity Comments",
        "operationId": "getCommentsByActivityId",
        "tags": [
          "Activities"
        ],
        "description": "Returns the comments on the given activity. Requires activity:read for Everyone and Followers activities. Requires activity:read_all for Only Me activities.",
        "parameters": [
          {
            "description": "The identifier of the activity.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Deprecated. Prefer to use after_cursor.",
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Deprecated. Prefer to use page_size.",
            "in": "query",
            "name": "per_page",
            "schema": {
              "default": 30,
              "type": "integer"
            }
          },
          {
            "description": "Number of items per page. Defaults to 30.",
            "in": "query",
            "name": "page_size",
            "schema": {
              "default": 30,
              "type": "integer"
            }
          },
          {
            "description": "Cursor of the last item in the previous page of results, used to request the subsequent page of results.  When omitted, the first page of results is fetched.",
            "in": "query",
            "name": "after_cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": [
                      {
                        "activity_id": 12345678987654320,
                        "athlete": {
                          "firstname": "Peter",
                          "lastname": "S"
                        },
                        "created_at": "2018-02-08T19:25:39Z",
                        "cursor": "abc123%20",
                        "id": 12345678987654320,
                        "mentions_metadata": null,
                        "post_id": null,
                        "resource_state": 2,
                        "text": "Good job and keep the cat pictures coming!"
                      }
                    ]
                  }
                },
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Comment"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Comments."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            },
            "description": "Unexpected error."
          }
        }
      }
    },
    "/activities/{id}/kudos": {
      "get": {
        "summary": "List Activity Kudoers",
        "operationId": "getKudoersByActivityId",
        "tags": [
          "Activities"
        ],
        "description": "Returns the athletes who kudoed an activity identified by an identifier. Requires activity:read for Everyone and Followers activities. Requires activity:read_all for Only Me activities.",
        "parameters": [
          {
            "description": "The identifier of the activity.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/perPage"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": [
                      {
                        "firstname": "Peter",
                        "lastname": "S"
                      }
                    ]
                  }
                },
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SummaryAthlete"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Comments."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            },
            "description": "Unexpected error."
          }
        }
      }
    },
    "/activities/{id}/laps": {
      "get": {
        "summary": "List Activity Laps",
        "operationId": "getLapsByActivityId",
        "tags": [
          "Activities"
        ],
        "description": "Returns the laps of an activity identified by an identifier. Requires activity:read for Everyone and Followers activities. Requires activity:read_all for Only Me activities.",
        "parameters": [
          {
            "description": "The identifier of the activity.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": [
                      {
                        "activity": {
                          "id": 12345678987654320,
                          "resource_state": 1
                        },
                        "athlete": {
                          "id": 12345678987654320,
                          "resource_state": 1
                        },
                        "average_cadence": 79,
                        "average_speed": 4.76,
                        "average_watts": 228.2,
                        "device_watts": true,
                        "distance": 8046.72,
                        "elapsed_time": 1691,
                        "end_index": 1590,
                        "id": 12345678987654320,
                        "lap_index": 1,
                        "max_speed": 9.4,
                        "moving_time": 1587,
                        "name": "Lap 1",
                        "resource_state": 2,
                        "split": 1,
                        "start_date": "2018-02-08T14:13:37Z",
                        "start_date_local": "2018-02-08T06:13:37Z",
                        "start_index": 0,
                        "total_elevation_gain": 270
                      }
                    ]
                  }
                },
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Lap"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Activity Laps."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            },
            "description": "Unexpected error."
          }
        }
      }
    },
    "/activities/{id}/streams": {
      "get": {
        "summary": "Get Activity Streams",
        "operationId": "getActivityStreams",
        "tags": [
          "Streams"
        ],
        "description": "Returns the given activity's streams. Requires activity:read scope. Requires activity:read_all scope for Only Me activities.",
        "parameters": [
          {
            "description": "The identifier of the activity.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Desired stream types.",
            "in": "query",
            "name": "keys",
            "required": true,
            "schema": {
              "items": {
                "enum": [
                  "time",
                  "distance",
                  "latlng",
                  "altitude",
                  "velocity_smooth",
                  "heartrate",
                  "cadence",
                  "watts",
                  "temp",
                  "moving",
                  "grade_smooth"
                ],
                "type": "string"
              },
              "minItems": 1,
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "Must be true.",
            "in": "query",
            "name": "key_by_type",
            "required": true,
            "schema": {
              "default": true,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": [
                      {
                        "data": [
                          2.9,
                          5.8,
                          8.5,
                          11.7,
                          15,
                          19,
                          23.2,
                          28,
                          32.8,
                          38.1,
                          43.8,
                          49.5
                        ],
                        "original_size": 12,
                        "resolution": "high",
                        "series_type": "distance",
                        "type": "distance"
                      }
                    ]
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/StreamSet"
                }
              }
            },
            "description": "The set of requested streams."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            },
            "description": "Unexpected error."
          }
        }
      }
    },
    "/activities/{id}/zones": {
      "get": {
        "summary": "Get Activity Zones",
        "operationId": "getZonesByActivityId",
        "tags": [
          "Activities"
        ],
        "description": "Summit Feature. Returns the zones of a given activity. Requires activity:read for Everyone and Followers activities. Requires activity:read_all for Only Me activities.",
        "parameters": [
          {
            "description": "The identifier of the activity.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ActivityZone"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Activity Zones."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            },
            "description": "Unexpected error."
          }
        }
      }
    },
    "/athlete": {
      "get": {
        "summary": "Get Authenticated Athlete",
        "operationId": "getLoggedInAthlete",
        "tags": [
          "Athletes"
        ],
        "description": "Returns the currently authenticated athlete. Tokens with profile:read_all scope will receive a detailed athlete representation; all others will receive a summary representation.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "athlete_type": 1,
                      "badge_type_id": 4,
                      "bikes": [
                        {
                          "distance": 0,
                          "id": "b12345678987655",
                          "name": "EMC",
                          "primary": true,
                          "resource_state": 2
                        }
                      ],
                      "city": "San Francisco",
                      "clubs": [],
                      "country": "US",
                      "created_at": "2017-11-14T02:30:05Z",
                      "date_preference": "%m/%d/%Y",
                      "firstname": "Marianne",
                      "follower": null,
                      "follower_count": 5,
                      "friend": null,
                      "friend_count": 5,
                      "ftp": null,
                      "id": 1234567890987654400,
                      "lastname": "Teutenberg",
                      "measurement_preference": "feet",
                      "mutual_friend_count": 0,
                      "premium": true,
                      "profile": "https://xxxxx.cloudfront.net/pictures/athletes/123456789/123456789/2/large.jpg",
                      "profile_medium": "https://xxxxxx.cloudfront.net/pictures/athletes/123456789/123456789/2/medium.jpg",
                      "resource_state": 3,
                      "sex": "F",
                      "shoes": [
                        {
                          "distance": 4904,
                          "id": "g12345678987655",
                          "name": "adidas",
                          "primary": true,
                          "resource_state": 2
                        }
                      ],
                      "state": "CA",
                      "updated_at": "2018-02-06T19:32:20Z",
                      "username": "marianne_t",
                      "weight": 0
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/DetailedAthlete"
                }
              }
            },
            "description": "Profile information for the authenticated athlete."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            },
            "description": "Unexpected error."
          }
        }
      },
      "put": {
        "summary": "Update Athlete",
        "operationId": "updateLoggedInAthlete",
        "tags": [
          "Athletes"
        ],
        "description": "Update the currently authenticated athlete. Requires profile:write scope.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "athlete_type": 1,
                      "badge_type_id": 4,
                      "bikes": [
                        {
                          "distance": 0,
                          "id": "b1234567898765509876",
                          "name": "EMC",
                          "primary": true,
                          "resource_state": 2
                        }
                      ],
                      "city": "San Francisco",
                      "clubs": [],
                      "country": "US",
                      "created_at": "2017-11-14T02:30:05Z",
                      "date_preference": "%m/%d/%Y",
                      "firstname": "Marianne",
                      "follower": null,
                      "follower_count": 5,
                      "friend": null,
                      "friend_count": 5,
                      "ftp": null,
                      "id": 1.2345678987655098e+22,
                      "lastname": "V.",
                      "measurement_preference": "feet",
                      "mutual_friend_count": 0,
                      "premium": true,
                      "profile": "https://xxxxx.cloudfront.net/pictures/athletes/1234567898765509876/1234567898765509876/2/large.jpg",
                      "profile_medium": "https://xxxxxx.cloudfront.net/pictures/athletes/1234567898765509876/1234567898765509876/2/medium.jpg",
                      "resource_state": 3,
                      "sex": "F",
                      "shoes": [
                        {
                          "distance": 4904,
                          "id": "g1234567898765509876",
                          "name": "adidas",
                          "primary": true,
                          "resource_state": 2
                        }
                      ],
                      "state": "CA",
                      "updated_at": "2018-02-06T19:32:20Z",
                      "username": "marianne_v",
                      "weight": 0
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/DetailedAthlete"
                }
              }
            },
            "description": "Profile information for the authenticated athlete."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            },
            "description": "Unexpected error."
          }
        },
        "requestBody": {
          "description": "The updated athlete data.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "weight": {
                    "type": "number",
                    "format": "float",
                    "description": "The weight of the athlete in kilograms."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/athlete/activities": {
      "get": {
        "summary": "List Athlete Activities",
        "operationId": "getLoggedInAthleteActivities",
        "tags": [
          "Activities"
        ],
        "description": "Returns the activities of an athlete for a specific identifier. Requires activity:read. Only Me activities will be filtered out unless requested by a token with activity:read_all.",
        "parameters": [
          {
            "description": "An epoch timestamp to use for filtering activities that have taken place before a certain time.",
            "in": "query",
            "name": "before",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "An epoch timestamp to use for filtering activities that have taken place after a certain time.",
            "in": "query",
            "name": "after",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/perPage"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": [
                      {
                        "achievement_count": 0,
                        "athlete": {
                          "id": 134815,
                          "resource_state": 1
                        },
                        "athlete_count": 1,
                        "average_cadence": 67.1,
                        "average_heartrate": 140.3,
                        "average_speed": 5.54,
                        "average_watts": 175.3,
                        "comment_count": 1,
                        "commute": false,
                        "device_watts": true,
                        "distance": 24931.4,
                        "elapsed_time": 4500,
                        "end_latlng": null,
                        "external_id": "garmin_push_12345678987654321",
                        "flagged": false,
                        "from_accepted_tag": false,
                        "gear_id": "b12345678987654321",
                        "has_heartrate": true,
                        "has_kudoed": false,
                        "id": 154504250376823,
                        "kilojoules": 788.7,
                        "kudos_count": 3,
                        "location_city": null,
                        "location_country": "United States",
                        "location_state": null,
                        "manual": false,
                        "map": {
                          "id": "a12345678987654321",
                          "resource_state": 2,
                          "summary_polyline": null
                        },
                        "max_heartrate": 178,
                        "max_speed": 11,
                        "max_watts": 406,
                        "moving_time": 4500,
                        "name": "Happy Friday",
                        "photo_count": 0,
                        "pr_count": 0,
                        "private": false,
                        "resource_state": 2,
                        "sport_type": "MountainBikeRide",
                        "start_date": "2018-05-02T12:15:09Z",
                        "start_date_local": "2018-05-02T05:15:09Z",
                        "start_latlng": null,
                        "suffer_score": 82,
                        "timezone": "(GMT-08:00) America/Los_Angeles",
                        "total_elevation_gain": 0,
                        "total_photo_count": 1,
                        "trainer": true,
                        "type": "Ride",
                        "upload_id": 987654321234567900000,
                        "utc_offset": -25200,
                        "weighted_average_watts": 210,
                        "workout_type": null
                      },
                      {
                        "achievement_count": 0,
                        "athlete": {
                          "id": 167560,
                          "resource_state": 1
                        },
                        "athlete_count": 1,
                        "average_cadence": 69.8,
                        "average_heartrate": 152.4,
                        "average_speed": 4.385,
                        "average_watts": 200,
                        "comment_count": 0,
                        "commute": false,
                        "device_watts": true,
                        "distance": 23676.5,
                        "elapsed_time": 5400,
                        "end_latlng": null,
                        "external_id": "garmin_push_12345678987654321",
                        "flagged": false,
                        "from_accepted_tag": false,
                        "gear_id": "b12345678912343",
                        "has_heartrate": true,
                        "has_kudoed": false,
                        "id": 1234567809,
                        "kilojoules": 1080,
                        "kudos_count": 4,
                        "location_city": null,
                        "location_country": "United States",
                        "location_state": null,
                        "manual": false,
                        "map": {
                          "id": "a12345689",
                          "resource_state": 2,
                          "summary_polyline": null
                        },
                        "max_heartrate": 183,
                        "max_speed": 8.8,
                        "max_watts": 403,
                        "moving_time": 5400,
                        "name": "Bondcliff",
                        "photo_count": 0,
                        "pr_count": 0,
                        "private": false,
                        "resource_state": 2,
                        "sport_type": "MountainBikeRide",
                        "start_date": "2018-04-30T12:35:51Z",
                        "start_date_local": "2018-04-30T05:35:51Z",
                        "start_latlng": null,
                        "suffer_score": 162,
                        "timezone": "(GMT-08:00) America/Los_Angeles",
                        "total_elevation_gain": 0,
                        "total_photo_count": 1,
                        "trainer": true,
                        "type": "Ride",
                        "upload_id": 1234567819,
                        "utc_offset": -25200,
                        "weighted_average_watts": 214,
                        "workout_type": null
                      }
                    ]
                  }
                },
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SummaryActivity"
                  },
                  "type": "array"
                }
              }
            },
            "description": "The authenticated athlete's activities"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            },
            "description": "Unexpected error."
          }
        }
      }
    },
    "/athlete/clubs": {
      "get": {
        "summary": "List Athlete Clubs",
        "operationId": "getLoggedInAthleteClubs",
        "tags": [
          "Clubs"
        ],
        "description": "Returns a list of the clubs whose membership includes the authenticated athlete.",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/perPage"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": [
                      {
                        "city": "San Francisco",
                        "country": "United States",
                        "cover_photo": "https://dgalywyr863hv.cloudfront.net/pictures/clubs/231407/5098428/4/large.jpg",
                        "cover_photo_small": "https://dgalywyr863hv.cloudfront.net/pictures/clubs/231407/5098428/4/small.jpg",
                        "featured": false,
                        "id": 231407,
                        "member_count": 93151,
                        "name": "The Strava Club",
                        "private": false,
                        "profile": "https://dgalywyr863hv.cloudfront.net/pictures/clubs/231407/5319085/1/large.jpg",
                        "profile_medium": "https://dgalywyr863hv.cloudfront.net/pictures/clubs/231407/5319085/1/medium.jpg",
                        "resource_state": 2,
                        "sport_type": "other",
                        "state": "California",
                        "url": "strava",
                        "verified": true
                      }
                    ]
                  }
                },
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SummaryClub"
                  },
                  "type": "array"
                }
              }
            },
            "description": "A list of summary club representations."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            },
            "description": "Unexpected error."
          }
        }
      }
    },
    "/athlete/zones": {
      "get": {
        "summary": "Get Zones",
        "operationId": "getLoggedInAthleteZones",
        "tags": [
          "Athletes"
        ],
        "description": "Returns the the authenticated athlete's heart rate and power zones. Requires profile:read_all.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": [
                      {
                        "distribution_buckets": [
                          {
                            "max": 0,
                            "min": 0,
                            "time": 1498
                          },
                          {
                            "max": 50,
                            "min": 0,
                            "time": 62
                          },
                          {
                            "max": 100,
                            "min": 50,
                            "time": 169
                          },
                          {
                            "max": 150,
                            "min": 100,
                            "time": 536
                          },
                          {
                            "max": 200,
                            "min": 150,
                            "time": 672
                          },
                          {
                            "max": 250,
                            "min": 200,
                            "time": 821
                          },
                          {
                            "max": 300,
                            "min": 250,
                            "time": 529
                          },
                          {
                            "max": 350,
                            "min": 300,
                            "time": 251
                          },
                          {
                            "max": 400,
                            "min": 350,
                            "time": 80
                          },
                          {
                            "max": 450,
                            "min": 400,
                            "time": 81
                          },
                          {
                            "max": -1,
                            "min": 450,
                            "time": 343
                          }
                        ],
                        "resource_state": 3,
                        "sensor_based": true,
                        "type": "power"
                      }
                    ]
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Zones"
                }
              }
            },
            "description": "Heart rate and power zones."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            },
            "description": "Unexpected error."
          }
        }
      }
    },
    "/athletes/{id}/routes": {
      "get": {
        "summary": "List Athlete Routes",
        "operationId": "getRoutesByAthleteId",
        "tags": [
          "Routes"
        ],
        "description": "Returns a list of the routes created by the authenticated athlete. Private routes are filtered out unless requested by a token with read_all scope.",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/perPage"
          },
          {
            "description": "The identifier of the athlete. Must match the authenticated athlete.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Route"
                  },
                  "type": "array"
                }
              }
            },
            "description": "A representation of the route."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            },
            "description": "Unexpected error."
          }
        }
      }
    },
    "/athletes/{id}/stats": {
      "get": {
        "summary": "Get Athlete Stats",
        "operationId": "getStats",
        "tags": [
          "Athletes"
        ],
        "description": "Returns the activity stats of an athlete. Only includes data from activities set to Everyone visibilty.",
        "parameters": [
          {
            "description": "The identifier of the athlete. Must match the authenticated athlete.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityStats"
                }
              }
            },
            "description": "Activity stats of the athlete."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            },
            "description": "Unexpected error."
          }
        }
      }
    },
    "/clubs/{id}": {
      "get": {
        "summary": "Get Club",
        "operationId": "getClubById",
        "tags": [
          "Clubs"
        ],
        "description": "Returns a given a club using its identifier.",
        "parameters": [
          {
            "description": "The identifier of the club.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "activity_types": [
                        "Ride",
                        "VirtualRide",
                        "EBikeRide",
                        "Velomobile",
                        "Handcycle"
                      ],
                      "admin": false,
                      "city": "San Francisco",
                      "club_type": "company",
                      "country": "United States",
                      "cover_photo": "https://dgalywyr863hv.cloudfront.net/pictures/clubs/1/4328276/1/large.jpg",
                      "cover_photo_small": "https://dgalywyr863hv.cloudfront.net/pictures/clubs/1/4328276/1/small.jpg",
                      "description": "Private club for Cyclists who work at Strava.",
                      "featured": false,
                      "following_count": 107,
                      "id": 1,
                      "member_count": 116,
                      "membership": "member",
                      "name": "Team Strava Cycling",
                      "owner": false,
                      "owner_id": 759,
                      "post_count": 29,
                      "private": true,
                      "profile": "https://dgalywyr863hv.cloudfront.net/pictures/clubs/1/1582/4/large.jpg",
                      "profile_medium": "https://dgalywyr863hv.cloudfront.net/pictures/clubs/1/1582/4/medium.jpg",
                      "resource_state": 3,
                      "sport_type": "cycling",
                      "state": "California",
                      "url": "team-strava-bike",
                      "verified": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/DetailedClub"
                }
              }
            },
            "description": "The detailed representation of a club."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            },
            "description": "Unexpected error."
          }
        }
      }
    },
    "/clubs/{id}/activities": {
      "get": {
        "summary": "List Club Activities",
        "operationId": "getClubActivitiesById",
        "tags": [
          "Clubs"
        ],
        "description": "Retrieve recent activities from members of a specific club. The authenticated athlete must belong to the requested club in order to hit this endpoint. Pagination is supported. Athlete profile visibility is respected for all activities.",
        "parameters": [
          {
            "description": "The identifier of the club.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/perPage"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": [
                      {
                        "athlete": {
                          "firstname": "Peter",
                          "lastname": "S.",
                          "resource_state": 2
                        },
                        "distance": 2641.7,
                        "elapsed_time": 635,
                        "moving_time": 577,
                        "name": "World Championship",
                        "resource_state": 2,
                        "sport_type": "MountainBikeRide",
                        "total_elevation_gain": 8.8,
                        "type": "Ride",
                        "workout_type": null
                      }
                    ]
                  }
                },
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ClubActivity"
                  },
                  "type": "array"
                }
              }
            },
            "description": "A list of activities."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            },
            "description": "Unexpected error."
          }
        }
      }
    },
    "/clubs/{id}/admins": {
      "get": {
        "summary": "List Club Administrators",
        "operationId": "getClubAdminsById",
        "tags": [
          "Clubs"
        ],
        "description": "Returns a list of the administrators of a given club.",
        "parameters": [
          {
            "description": "The identifier of the club.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/perPage"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": [
                      {
                        "firstname": "Peter",
                        "lastname": "S.",
                        "resource_state": 2
                      }
                    ]
                  }
                },
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SummaryAthlete"
                  },
                  "type": "array"
                }
              }
            },
            "description": "A list of summary athlete representations."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            },
            "description": "Unexpected error."
          }
        }
      }
    },
    "/clubs/{id}/members": {
      "get": {
        "summary": "List Club Members",
        "operationId": "getClubMembersById",
        "tags": [
          "Clubs"
        ],
        "description": "Returns a list of the athletes who are members of a given club.",
        "parameters": [
          {
            "description": "The identifier of the club.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/perPage"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": [
                      {
                        "admin": false,
                        "firstname": "Peter",
                        "lastname": "S.",
                        "membership": "member",
                        "owner": false,
                        "resource_state": 2
                      }
                    ]
                  }
                },
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ClubAthlete"
                  },
                  "type": "array"
                }
              }
            },
            "description": "A list of club athlete representations."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            },
            "description": "Unexpected error."
          }
        }
      }
    },
    "/gear/{id}": {
      "get": {
        "summary": "Get Equipment",
        "operationId": "getGearById",
        "tags": [
          "Gears"
        ],
        "description": "Returns an equipment using its identifier.",
        "parameters": [
          {
            "description": "The identifier of the gear.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "brand_name": "BMC",
                      "description": "My Bike.",
                      "distance": 388206,
                      "frame_type": 3,
                      "id": "b1231",
                      "model_name": "Teammachine",
                      "primary": false,
                      "resource_state": 3
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/DetailedGear"
                }
              }
            },
            "description": "A representation of the gear."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            },
            "description": "Unexpected error."
          }
        }
      }
    },
    "/routes/{id}": {
      "get": {
        "summary": "Get Route",
        "operationId": "getRouteById",
        "tags": [
          "Routes"
        ],
        "description": "Returns a route using its identifier. Requires read_all scope for private routes.",
        "parameters": [
          {
            "description": "The identifier of the route.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Route"
                }
              }
            },
            "description": "A representation of the route."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            },
            "description": "Unexpected error."
          }
        }
      }
    },
    "/routes/{id}/export_gpx": {
      "get": {
        "summary": "Export Route GPX",
        "operationId": "getRouteAsGPX",
        "tags": [
          "Routes"
        ],
        "description": "Returns a GPX file of the route. Requires read_all scope for private routes.",
        "parameters": [
          {
            "description": "The identifier of the route.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/gpx+xml": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              }
            },
            "description": "A GPX file with the route."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            },
            "description": "Unexpected error."
          }
        }
      }
    },
    "/routes/{id}/export_tcx": {
      "get": {
        "summary": "Export Route TCX",
        "operationId": "getRouteAsTCX",
        "tags": [
          "Routes"
        ],
        "description": "Returns a TCX file of the route. Requires read_all scope for private routes.",
        "parameters": [
          {
            "description": "The identifier of the route.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/tcx+xml": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              }
            },
            "description": "A TCX file with the route."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            },
            "description": "Unexpected error."
          }
        }
      }
    },
    "/routes/{id}/streams": {
      "get": {
        "summary": "Get Route Streams",
        "operationId": "getRouteStreams",
        "tags": [
          "Streams"
        ],
        "description": "Returns the given route's streams. Requires read_all scope for private routes.",
        "parameters": [
          {
            "description": "The identifier of the route.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": [
                      {
                        "data": [
                          [
                            37.833112,
                            -122.483436
                          ],
                          [
                            37.832964,
                            -122.483406
                          ]
                        ],
                        "type": "latlng"
                      },
                      {
                        "data": [
                          0,
                          16.8
                        ],
                        "type": "distance"
                      },
                      {
                        "data": [
                          92.4,
                          93.4
                        ],
                        "type": "altitude"
                      }
                    ]
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/StreamSet"
                }
              }
            },
            "description": "The set of requested streams."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            },
            "description": "Unexpected error."
          }
        }
      }
    },
    "/segment_efforts": {
      "get": {
        "summary": "List Segment Efforts",
        "operationId": "getEffortsBySegmentId",
        "tags": [
          "SegmentEfforts"
        ],
        "description": "Returns a set of the authenticated athlete's segment efforts for a given segment.  Requires subscription.",
        "parameters": [
          {
            "description": "The identifier of the segment.",
            "in": "query",
            "name": "segment_id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "ISO 8601 formatted date time.",
            "in": "query",
            "name": "start_date_local",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "ISO 8601 formatted date time.",
            "in": "query",
            "name": "end_date_local",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/perPage"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": [
                      {
                        "achievements": [],
                        "activity": {
                          "id": 1234567890,
                          "resource_state": 1
                        },
                        "athlete": {
                          "id": 123445678689,
                          "resource_state": 1
                        },
                        "average_watts": 220.2,
                        "device_watts": false,
                        "distance": 6148.92,
                        "elapsed_time": 1657,
                        "end_index": 1366,
                        "id": 123456789,
                        "kom_rank": null,
                        "moving_time": 1642,
                        "name": "Alpe d'Huez",
                        "pr_rank": null,
                        "resource_state": 2,
                        "segment": {
                          "activity_type": "Ride",
                          "average_grade": 4.8,
                          "city": "Le Bourg D'Oisans",
                          "climb_category": 2,
                          "country": "France",
                          "distance": 6297.46,
                          "elevation_high": 416,
                          "elevation_low": 104.6,
                          "end_latlng": [
                            53.02204074375785,
                            -3.2039630001245736
                          ],
                          "hazardous": false,
                          "id": 788127,
                          "maximum_grade": 16.3,
                          "name": "Alpe d'Huez",
                          "private": false,
                          "resource_state": 2,
                          "starred": false,
                          "start_latlng": [
                            52.98501000581467,
                            -3.1869720001197366
                          ],
                          "state": "RA"
                        },
                        "start_date": "2007-09-15T08:15:29Z",
                        "start_date_local": "2007-09-15T09:15:29Z",
                        "start_index": 1102
                      }
                    ]
                  }
                },
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DetailedSegmentEffort"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of segment efforts."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            },
            "description": "Unexpected error."
          }
        }
      }
    },
    "/segment_efforts/{id}": {
      "get": {
        "summary": "Get Segment Effort",
        "operationId": "getSegmentEffortById",
        "tags": [
          "SegmentEfforts"
        ],
        "description": "Returns a segment effort from an activity that is owned by the authenticated athlete. Requires subscription.",
        "parameters": [
          {
            "description": "The identifier of the segment effort.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "achievements": [],
                      "activity": {
                        "id": 3454504,
                        "resource_state": 1
                      },
                      "athlete": {
                        "id": 54321,
                        "resource_state": 1
                      },
                      "athlete_segment_stats": {
                        "effort_count": 149,
                        "pr_date": "2015-02-12",
                        "pr_elapsed_time": 212
                      },
                      "distance": 83,
                      "elapsed_time": 381,
                      "end_index": 83,
                      "id": 1234556789,
                      "kom_rank": null,
                      "moving_time": 340,
                      "name": "Alpe d'Huez",
                      "pr_rank": null,
                      "resource_state": 3,
                      "segment": {
                        "activity_type": "Run",
                        "average_grade": -0.5,
                        "city": "San Francisco",
                        "climb_category": 0,
                        "country": "United States",
                        "distance": 780.35,
                        "elevation_high": 21,
                        "elevation_low": 17.2,
                        "end_latlng": [
                          37.808297909724,
                          -122.421324329674
                        ],
                        "hazardous": false,
                        "id": 63450,
                        "maximum_grade": 0,
                        "name": "Alpe d'Huez",
                        "private": false,
                        "resource_state": 2,
                        "starred": false,
                        "start_latlng": [
                          37.808407654682,
                          -122.426682919323
                        ],
                        "state": "CA"
                      },
                      "start_date": "2018-02-12T16:12:41Z",
                      "start_date_local": "2018-02-12T08:12:41Z",
                      "start_index": 65
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/DetailedSegmentEffort"
                }
              }
            },
            "description": "Representation of a segment effort."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            },
            "description": "Unexpected error."
          }
        }
      }
    },
    "/segment_efforts/{id}/streams": {
      "get": {
        "summary": "Get Segment Effort Streams",
        "operationId": "getSegmentEffortStreams",
        "tags": [
          "Streams"
        ],
        "description": "Returns a set of streams for a segment effort completed by the authenticated athlete. Requires read_all scope.",
        "parameters": [
          {
            "description": "The identifier of the segment effort.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "The types of streams to return.",
            "in": "query",
            "name": "keys",
            "required": true,
            "schema": {
              "items": {
                "enum": [
                  "time",
                  "distance",
                  "latlng",
                  "altitude",
                  "velocity_smooth",
                  "heartrate",
                  "cadence",
                  "watts",
                  "temp",
                  "moving",
                  "grade_smooth"
                ],
                "type": "string"
              },
              "minItems": 1,
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "Must be true.",
            "in": "query",
            "name": "key_by_type",
            "required": true,
            "schema": {
              "default": true,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": [
                      {
                        "data": [
                          904.5,
                          957.8,
                          963.1,
                          989.1,
                          1011.9,
                          1049.7,
                          1082.4,
                          1098.1,
                          1113.2,
                          1124.7,
                          1139.2,
                          1142.1,
                          1170.4,
                          1173
                        ],
                        "original_size": 14,
                        "resolution": "high",
                        "series_type": "distance",
                        "type": "distance"
                      }
                    ]
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/StreamSet"
                }
              }
            },
            "description": "The set of requested streams."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            },
            "description": "Unexpected error."
          }
        }
      }
    },
    "/segments/explore": {
      "get": {
        "summary": "Explore segments",
        "operationId": "exploreSegments",
        "tags": [
          "Segments"
        ],
        "description": "Returns the top 10 segments matching a specified query.",
        "parameters": [
          {
            "description": "The latitude and longitude for two points describing a rectangular boundary for the search: [southwest corner latitutde, southwest corner longitude, northeast corner latitude, northeast corner longitude]",
            "in": "query",
            "name": "bounds",
            "required": true,
            "schema": {
              "items": {
                "format": "float",
                "type": "number"
              },
              "maxItems": 4,
              "minItems": 4,
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "Desired activity type.",
            "in": "query",
            "name": "activity_type",
            "schema": {
              "enum": [
                "running",
                "riding"
              ],
              "type": "string"
            }
          },
          {
            "description": "The minimum climbing category.",
            "in": "query",
            "name": "min_cat",
            "schema": {
              "maximum": 5,
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The maximum climbing category.",
            "in": "query",
            "name": "max_cat",
            "schema": {
              "maximum": 5,
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "segments": [
                        {
                          "avg_grade": 5.7,
                          "climb_category": 1,
                          "climb_category_desc": "4",
                          "distance": 2684.8,
                          "elev_difference": 152.8,
                          "end_latlng": [
                            37.8280722,
                            -122.4981393
                          ],
                          "id": 229781,
                          "name": "Hawk Hill",
                          "points": "}g|eFnpqjVl@En@Md@HbAd@d@^h@Xx@VbARjBDh@OPQf@w@d@k@XKXDFPH\\EbGT`AV`@v@|@NTNb@?XOb@cAxAWLuE@eAFMBoAv@eBt@q@b@}@tAeAt@i@dAC`AFZj@dB?~@[h@MbAVn@b@b@\\d@Eh@Qb@_@d@eB|@c@h@WfBK|AMpA?VF\\\\t@f@t@h@j@|@b@hCb@b@XTd@Bl@GtA?jAL`ALp@Tr@RXd@Rx@Pn@^Zh@Tx@Zf@`@FTCzDy@f@Yx@m@n@Op@VJr@",
                          "resource_state": 2,
                          "starred": false,
                          "start_latlng": [
                            37.8331119,
                            -122.4834356
                          ]
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ExplorerResponse"
                }
              }
            },
            "description": "List of matching segments."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            },
            "description": "Unexpected error."
          }
        }
      }
    },
    "/segments/starred": {
      "get": {
        "summary": "List Starred Segments",
        "operationId": "getLoggedInAthleteStarredSegments",
        "tags": [
          "Segments"
        ],
        "description": "List of the authenticated athlete's starred segments. Private segments are filtered out unless requested by a token with read_all scope.",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/perPage"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "activity_type": "Ride",
                      "athlete_count": 30623,
                      "athlete_segment_stats": {
                        "effort_count": 2,
                        "pr_date": "1993-04-03",
[...]
