{
  "openapi": "3.0.3",
  "info": {
    "title": "Refiner API",
    "version": "1.0.0",
    "description": "Refiner is a customer survey and feedback platform. The API lets you identify users, track events, manage survey responses, contacts, segments, and forms.",
    "x-jentic-source-url": "https://refiner.io/docs/api/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.refiner.io/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/identify-user": {
      "post": {
        "operationId": "identifyUser",
        "tags": [
          "Users"
        ],
        "summary": "Identify or create a user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentifyUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentifyUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Identify or create a user"
      }
    },
    "/track-event": {
      "post": {
        "operationId": "trackEvent",
        "tags": [
          "Users"
        ],
        "summary": "Track an event for a user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackEventRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Track an event for a user"
      }
    },
    "/responses": {
      "get": {
        "operationId": "getResponses",
        "tags": [
          "Responses"
        ],
        "summary": "Get all survey responses",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_length",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 1000
            }
          },
          {
            "name": "form_uuid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segment_uuid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_range_start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "date_range_end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "completed",
                "partials",
                "all"
              ],
              "default": "completed"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_attributes",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get all survey responses"
      },
      "post": {
        "operationId": "storeResponse",
        "tags": [
          "Responses"
        ],
        "summary": "Store a survey response",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreResponseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreResponseResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Store a survey response"
      }
    },
    "/responses/tags": {
      "post": {
        "operationId": "tagResponse",
        "tags": [
          "Responses"
        ],
        "summary": "Tag a survey response",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagResponseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Tag a survey response"
      }
    },
    "/reporting": {
      "get": {
        "operationId": "getReporting",
        "tags": [
          "Reporting"
        ],
        "summary": "Get aggregated reporting data",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "nps",
                "csat",
                "ratings",
                "distribution",
                "count"
              ]
            }
          },
          {
            "name": "form_uuids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segment_uuids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_range_start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "date_range_end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get aggregated reporting data"
      }
    },
    "/contacts": {
      "get": {
        "operationId": "listContacts",
        "tags": [
          "Contacts"
        ],
        "summary": "List all contacts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_length",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "form_uuid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segment_uuid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "first_seen_at",
                "last_seen_at",
                "last_form_submission_at"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactsList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List all contacts"
      }
    },
    "/contact": {
      "get": {
        "operationId": "getContact",
        "tags": [
          "Contacts"
        ],
        "summary": "Get a single contact",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uuid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a single contact"
      },
      "delete": {
        "operationId": "deleteContact",
        "tags": [
          "Contacts"
        ],
        "summary": "Delete a contact",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uuid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a contact"
      }
    },
    "/forms": {
      "get": {
        "operationId": "listForms",
        "tags": [
          "Forms"
        ],
        "summary": "List all forms (surveys)",
        "parameters": [
          {
            "name": "list",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "published",
                "drafts",
                "archived",
                "all_with_archived"
              ],
              "default": "all"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_length",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "include_config",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "include_info",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormsList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List all forms (surveys)"
      },
      "delete": {
        "operationId": "archiveForm",
        "tags": [
          "Forms"
        ],
        "summary": "Archive a form",
        "parameters": [
          {
            "name": "form_uuid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Archive a form"
      }
    },
    "/forms/publish": {
      "post": {
        "operationId": "publishForm",
        "tags": [
          "Forms"
        ],
        "summary": "Publish or unpublish a form",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublishFormRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Publish or unpublish a form"
      }
    },
    "/forms/duplicate": {
      "post": {
        "operationId": "duplicateForm",
        "tags": [
          "Forms"
        ],
        "summary": "Duplicate a form",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DuplicateFormRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateFormResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Duplicate a form"
      }
    },
    "/segments": {
      "get": {
        "operationId": "listSegments",
        "tags": [
          "Segments"
        ],
        "summary": "List all segments",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_length",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentsList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List all segments"
      }
    },
    "/sync-segment": {
      "post": {
        "operationId": "addUserToSegment",
        "tags": [
          "Segments"
        ],
        "summary": "Add a user to a manual segment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncSegmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncSegmentResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Add a user to a manual segment"
      },
      "delete": {
        "operationId": "removeUserFromSegment",
        "tags": [
          "Segments"
        ],
        "summary": "Remove a user from a manual segment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncSegmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Remove a user from a manual segment"
      }
    },
    "/account": {
      "get": {
        "operationId": "getAccount",
        "tags": [
          "Account"
        ],
        "summary": "Get account info",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountInfo"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get account info"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key as Bearer token. Obtain from Refiner dashboard under Integrations > Rest API."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "ok"
          }
        }
      },
      "IdentifyUserRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Your user ID"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "account": {
            "$ref": "#/components/schemas/AccountRef"
          }
        }
      },
      "AccountRef": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "IdentifyUserResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "contact_uuid": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "TrackEventRequest": {
        "type": "object",
        "required": [
          "event"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "event": {
            "type": "string",
            "description": "Event name"
          }
        }
      },
      "StoreResponseRequest": {
        "type": "object",
        "required": [
          "form_uuid"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "form_uuid": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "prevent_duplicates": {
            "type": "boolean"
          }
        },
        "additionalProperties": true
      },
      "StoreResponseResult": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "TagResponseRequest": {
        "type": "object",
        "required": [
          "uuid",
          "tags"
        ],
        "properties": {
          "uuid": {
            "type": "string",
            "description": "Survey response UUID"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 20
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "items_count": {
            "type": "integer"
          },
          "current_page": {
            "type": "integer"
          },
          "last_page": {
            "type": "integer"
          },
          "page_length": {
            "type": "integer"
          },
          "next_page_cursor": {
            "type": "string"
          }
        }
      },
      "SurveyForm": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "ContactRef": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          },
          "remote_id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          }
        }
      },
      "SurveyResponse": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          },
          "first_shown_at": {
            "type": "string",
            "format": "date-time"
          },
          "last_shown_at": {
            "type": "string",
            "format": "date-time"
          },
          "show_counter": {
            "type": "integer"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "received_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "dismissed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "form": {
            "$ref": "#/components/schemas/SurveyForm"
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          },
          "contact": {
            "$ref": "#/components/schemas/ContactRef"
          }
        }
      },
      "ResponsesList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SurveyResponse"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "ReportingResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "additionalProperties": true
          },
          "count": {
            "type": "integer"
          },
          "date_range_start": {
            "type": "string",
            "format": "date-time"
          },
          "date_range_end": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          },
          "remote_id": {
            "type": "string"
          },
          "domain": {
            "type": "string",
            "nullable": true
          },
          "display_name": {
            "type": "string"
          },
          "first_seen_at": {
            "type": "string",
            "format": "date-time"
          },
          "last_seen_at": {
            "type": "string",
            "format": "date-time"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "Segment": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          },
          "remote_id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "first_seen_at": {
            "type": "string",
            "format": "date-time"
          },
          "last_seen_at": {
            "type": "string",
            "format": "date-time"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": true
          },
          "segments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Segment"
            }
          },
          "account": {
            "$ref": "#/components/schemas/Account"
          }
        }
      },
      "ContactsList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "Form": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "channels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "published_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "archived_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "responses_count": {
            "type": "integer"
          },
          "views_count": {
            "type": "integer"
          }
        }
      },
      "FormsList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Form"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "PublishFormRequest": {
        "type": "object",
        "required": [
          "form_uuid"
        ],
        "properties": {
          "form_uuid": {
            "type": "string"
          },
          "published": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "default": 1
          }
        }
      },
      "DuplicateFormRequest": {
        "type": "object",
        "required": [
          "form_uuid",
          "name"
        ],
        "properties": {
          "form_uuid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "DuplicateFormResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "source_form_uuid": {
            "type": "string"
          },
          "new_form_uuid": {
            "type": "string"
          }
        }
      },
      "SegmentsList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Segment"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "SyncSegmentRequest": {
        "type": "object",
        "required": [
          "segment_uuid"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "segment_uuid": {
            "type": "string"
          }
        }
      },
      "SyncSegmentResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "contact_uuid": {
            "type": "string"
          },
          "segment_uid": {
            "type": "string"
          }
        }
      },
      "AccountEnvironment": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "mtu": {
            "type": "integer"
          },
          "mte": {
            "type": "integer"
          },
          "mpv": {
            "type": "integer"
          },
          "msr": {
            "type": "integer"
          }
        }
      },
      "AccountSubscription": {
        "type": "object",
        "properties": {
          "plan": {
            "type": "string"
          },
          "mtu_count": {
            "type": "integer"
          },
          "mtu_limit": {
            "type": "integer"
          },
          "mte_count": {
            "type": "integer"
          },
          "mpv_count": {
            "type": "integer"
          },
          "mpv_limit": {
            "type": "integer"
          },
          "msr_count": {
            "type": "integer"
          },
          "msr_limit": {
            "type": "integer"
          }
        }
      },
      "AccountInfo": {
        "type": "object",
        "properties": {
          "subscription": {
            "$ref": "#/components/schemas/AccountSubscription"
          },
          "environments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountEnvironment"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Account",
      "description": "Operations related to Account"
    },
    {
      "name": "Contacts",
      "description": "Operations related to Contacts"
    },
    {
      "name": "Forms",
      "description": "Operations related to Forms"
    },
    {
      "name": "Reporting",
      "description": "Operations related to Reporting"
    },
    {
      "name": "Responses",
      "description": "Operations related to Responses"
    },
    {
      "name": "Segments",
      "description": "Operations related to Segments"
    },
    {
      "name": "Users",
      "description": "Operations related to Users"
    }
  ]
}
