{
  "openapi": "3.0.1",
  "info": {
    "title": "API Order",
    "description": "Our Orders API allows you to place a purchase order for fulfillment.  You can submit an order or fetch details on one single order.\n### Submit an order(s):\n```js\n[POST]/v1/orders\n```\n### Fetches details for a specific order based on id:\n```js\n[GET]/v1/orders/{id}?orderAcctId={orderAcctId}\n```\n <b>API Product:</b> Order-Commerce(-UAT/-PROD) <br>\n",
    "contact": {
      "name": "Ferguson API Support",
      "email": "api.team@ferguson.com"
    },
    "version": "1.2.1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Ferguson-API/API-Order/1.2.1/swagger.json"
  },
  "servers": [
    {
      "url": "https://uatapi2.ferguson.com",
      "description": "Non-Production"
    },
    {
      "url": "https://api2.ferguson.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "oAuth2ClientCredentials": []
    }
  ],
  "x-APIProduct": "Order-Commerce(-UAT/-PROD)",
  "x-ProxyName": "fei-devops-order",
  "tags": [
    {
      "name": "Order Operations"
    }
  ],
  "paths": {
    "/v1/orders": {
      "post": {
        "tags": [
          "Order Operations"
        ],
        "summary": "Submit an order",
        "description": "Creates a single order and returns an order id number if successful.",
        "operationId": "createOrder",
        "parameters": [
          {
            "name": "fei-trans-id",
            "in": "header",
            "description": "Consumer provided transaction id. If not provided service will generate one in UUID format.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Order Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProcessPurchaseOrder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successfully submitted an order to Ferguson",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createSalesOrderResponse"
                },
                "examples": {
                  "Successful Request": {
                    "value": {
                      "isError": false,
                      "omsOrderId": "WT02099292"
                    }
                  }
                }
              }
            },
            "headers": {
              "trans-id": {
                "$ref": "#/components/headers/trans-id"
              }
            }
          },
          "default": {
            "description": "Catch-all for all potential errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "fe-resp-code": {
                "$ref": "#/components/headers/fe-resp-code"
              },
              "fe-resp-msg": {
                "$ref": "#/components/headers/fe-resp-msg"
              },
              "trans-id": {
                "$ref": "#/components/headers/trans-id"
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/v1/orders/{id}": {
      "get": {
        "tags": [
          "Order Operations"
        ],
        "summary": "Returns a specific order",
        "description": "Returns a specific order based on the id number.",
        "operationId": "getOrder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Order Id being requested",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "orderAcctId",
            "in": "query",
            "description": "Profit center such as DIST",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number you want returned.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/salesOrderDetailsResponse"
                }
              }
            }
          },
          "default": {
            "description": "Catch-all for all potential errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ProcessPurchaseOrder": {
        "title": "ProcessPurchaseOrder",
        "required": [
          "ApplicationArea",
          "DataArea"
        ],
        "type": "object",
        "properties": {
          "ApplicationArea": {
            "$ref": "#/components/schemas/ApplicationArea"
          },
          "DataArea": {
            "$ref": "#/components/schemas/DataArea"
          }
        }
      },
      "ApplicationArea": {
        "title": "ApplicationArea",
        "description": "Application Area",
        "required": [
          "CreationDateTime"
        ],
        "type": "object",
        "properties": {
          "CreationDateTime": {
            "type": "string",
            "description": "Creation Date Time",
            "example": "2019-05-24 08:32:24"
          },
          "Sender": {
            "type": "object",
            "properties": {
              "ReferenceID": {
                "type": "string",
                "description": "Reference Id",
                "example": "0905094"
              }
            }
          }
        }
      },
      "DataArea": {
        "title": "DataArea",
        "required": [
          "PurchaseOrder"
        ],
        "type": "object",
        "properties": {
          "PurchaseOrder": {
            "$ref": "#/components/schemas/PurchaseOrder"
          }
        },
        "description": "Data Area"
      },
      "PurchaseOrder": {
        "title": "PurchaseOrder",
        "required": [
          "PurchaseOrderHeader"
        ],
        "type": "object",
        "properties": {
          "PurchaseOrderHeader": {
            "$ref": "#/components/schemas/PurchaseOrderHeader"
          },
          "PurchaseOrderLine": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PurchaseOrderLine"
            }
          }
        }
      },
      "PurchaseOrderHeader": {
        "title": "PurchaseOrderHeader",
        "required": [
          "CustomerParty",
          "SupplierParty",
          "RequestedShipDateTime"
        ],
        "type": "object",
        "properties": {
          "DocumentID": {
            "$ref": "#/components/schemas/DocumentID"
          },
          "CustomerParty": {
            "$ref": "#/components/schemas/CustomerParty"
          },
          "SupplierParty": {
            "$ref": "#/components/schemas/SupplierParty"
          },
          "ShipToParty": {
            "$ref": "#/components/schemas/ShipToParty"
          },
          "BillToParty": {
            "$ref": "#/components/schemas/BillToParty"
          },
          "QuoteReference": {
            "$ref": "#/components/schemas/QuoteReference"
          },
          "ContractReference": {
            "$ref": "#/components/schemas/ContractReference"
          },
          "TransportationTerm": {
            "$ref": "#/components/schemas/TransportationTerm"
          },
          "DistributedTax": {
            "$ref": "#/components/schemas/DistributedTax"
          },
          "Note": {
            "type": "string",
            "description": "Memo Notes Sent by Consumer.",
            "example": "Memo Notes Sent by Consumer"
          },
          "RequestedShipDateTime": {
            "type": "string",
            "example": "2019-05-24 08:32:24"
          },
          "PaymentMethodCode": {
            "type": "string",
            "example": "CPU"
          },
          "ReleaseNumber": {
            "type": "string",
            "example": "cec"
          },
          "UserArea": {
            "$ref": "#/components/schemas/PurchaseOrderHeaderUserArea"
          }
        }
      },
      "CustomerParty": {
        "title": "CustomerParty",
        "description": "Customer Party",
        "required": [
          "PartyIDs"
        ],
        "type": "object",
        "properties": {
          "PartyIDs": {
            "$ref": "#/components/schemas/PartyIDs"
          },
          "Name": {
            "type": "string",
            "description": "Name",
            "example": "Clayton Calhoun"
          },
          "UserArea": {
            "$ref": "#/components/schemas/CustomerPartyUserArea"
          }
        }
      },
      "SupplierParty": {
        "title": "SupplierParty",
        "required": [
          "Name",
          "PartyIDs"
        ],
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "example": "DALLAS"
          },
          "PartyIDs": {
            "$ref": "#/components/schemas/PartyIDs"
          },
          "UserArea": {
            "$ref": "#/components/schemas/CustomerPartyUserArea"
          }
        }
      },
      "ShipToParty": {
        "title": "ShipToParty",
        "type": "object",
        "properties": {
          "PartyIDs": {
            "$ref": "#/components/schemas/PartyIDs"
          },
          "Location": {
            "$ref": "#/components/schemas/Location"
          },
          "Contact": {
            "$ref": "#/components/schemas/Contact"
          }
        }
      },
      "BillToParty": {
        "title": "BillToParty",
        "type": "object",
        "properties": {
          "UserArea": {
            "$ref": "#/components/schemas/BillToPartyUserArea"
          }
        }
      },
      "BillToPartyUserArea": {
        "type": "object",
        "properties": {
          "CreditCardType": {
            "type": "string",
            "description": "The type of the credit card.",
            "example": "VI"
          },
          "CreditCardExpireDate": {
            "type": "string",
            "description": "The expiration date of the credit card.",
            "example": "02-06"
          },
          "CreditCardToken": {
            "type": "string",
            "description": "credit card token.",
            "example": "-E8023-968-E1YA4J201DY70V"
          },
          "CreditCardMaskedNumber": {
            "type": "string",
            "description": "A masked version of the credit card number.",
            "example": "XXXXXXXXXXXX1968"
          },
          "CardHolderName": {
            "type": "string",
            "description": "The name of the cardholder.",
            "example": "John Doe"
          },
          "CardHolderAddress": {
            "type": "string",
            "description": "Address of the cardholder.",
            "example": "24 oakwood"
          },
          "CardHolderCity": {
            "type": "string",
            "description": "City of the cardholder's billing address.",
            "example": "SAN JOSE"
          },
          "CardHolderState": {
            "type": "string",
            "description": "State of the cardholder's billing address.",
            "example": "CA"
          },
          "CardHolderZip": {
            "type": "string",
            "description": "The ZIP code of the cardholder's billing address.",
            "example": 95134
          }
        }
      },
      "QuoteReference": {
        "title": "QuoteReference",
        "type": "object",
        "properties": {
          "UserArea": {
            "$ref": "#/components/schemas/QuoteReferenceUserArea"
          }
        }
      },
      "QuoteReferenceUserArea": {
        "type": "object",
        "required": [
          "BidExpireDate"
        ],
        "properties": {
          "AssociatedBid": {
            "type": "string",
            "description": "Associate Bid Id.",
            "example": "B537076"
          },
          "BidExpireDate": {
            "type": "string",
            "description": "Bid expire date.",
            "example": "2017-01-04 13:32:13"
          }
        }
      },
      "ContractReference": {
        "title": "ContractReference",
        "description": "Contract Reference",
        "type": "object",
        "properties": {
          "DocumentID": {
            "$ref": "#/components/schemas/DocumentID"
          }
        }
      },
      "TransportationTerm": {
        "title": "TransportationTerm",
        "type": "object",
        "properties": {
          "FreightTermCode": {
            "type": "string",
            "description": "FreightTermCode."
          },
          "UserArea": {
            "$ref": "#/components/schemas/TransportationTermUserArea"
          }
        }
      },
      "TransportationTermUserArea": {
        "title": "TransportationTermUserArea",
        "type": "object",
        "properties": {
          "ShippingPrice": {
            "type": "number",
            "format": "double",
            "example": "0.0"
          },
          "FreightCharge": {
            "type": "number",
            "format": "double",
            "example": "0.0"
          },
          "InboundFreightCharge": {
            "type": "number",
            "format": "double",
            "example": "0.0"
          },
          "ShippingTax": {
            "type": "number",
            "format": "double",
            "example": "0.0"
          }
        }
      },
      "CustomerPartyUserArea": {
        "title": "CustomerPartyUserArea",
        "type": "object",
        "properties": {
          "ATG": {
            "type": "string",
            "example": "WGS45233532"
          }
        }
      },
      "PurchaseOrderHeaderUserArea": {
        "title": "PurchaseOrderHeaderUserArea",
        "required": [
          "OrderEntryDate",
          "OrderSubmitDate"
        ],
        "type": "object",
        "properties": {
          "OrderSubmitDate": {
            "type": "string",
            "example": "2017-01-04 13:32:13"
          },
          "OrderEntryDate": {
            "type": "string",
            "example": "2017-01-04 13:32:13"
          },
          "AutoReplenish": {
            "type": "string",
            "example": true
          },
          "SourceSystem": {
            "type": "string",
            "example": "B2B"
          },
          "WriterInitials": {
            "type": "string",
            "example": "WI"
          },
          "ShowroomFlag": {
            "type": "string",
            "example": "Y"
          },
          "ShowroomSalesPersonCode": {
            "type": "string",
            "example": "MRC"
          },
          "SalesPersonCode": {
            "type": "string",
            "example": "WDA"
          },
          "AlternateSalesPersonCode": {
            "type": "string",
            "example": "MCC"
          },
          "ShipComplete": {
            "type": "string",
            "example": "Y"
          }
        }
      },
      "PurchaseOrderLine": {
        "title": "PurchaseOrderLine",
        "description": "PO Line",
        "type": "object",
        "properties": {
          "LineNumber": {
            "type": "integer",
            "description": "Line Number",
            "example": "1"
          },
          "Quantity": {
            "type": "integer",
            "description": "Quantity",
            "example": "1"
          },
          "Item": {
            "$ref": "#/components/schemas/Item"
          },
          "UnitPrice": {
            "$ref": "#/components/schemas/UnitPrice"
          },
          "DistributedTax": {
            "$ref": "#/components/schemas/DistributedTax"
          },
          "UserArea": {
            "$ref": "#/components/schemas/PurchaseOrderLineUserArea"
          }
        }
      },
      "SupplierItemID": {
        "title": "SupplierItemID",
        "type": "object",
        "properties": {
          "ID": {
            "type": "string",
            "example": "31523"
          }
        }
      },
      "ItemID": {
        "title": "ItemID",
        "type": "object",
        "properties": {
          "ID": {
            "type": "string",
            "description": "ID",
            "example": "C*"
          }
        },
        "description": "Item ID"
      },
      "DistributedTax": {
        "title": "DistributedTax",
        "description": "Distributed Tax",
        "type": "object",
        "properties": {
          "TaxJurisdicationCodes": {
            "$ref": "#/components/schemas/TaxJurisdicationCodes"
          },
          "Amount": {
            "type": "number",
            "format": "double",
            "description": "Amount",
            "example": "3.84"
          }
        }
      },
      "TaxJurisdicationCodes": {
        "title": "TaxJurisdicationCodes",
        "description": "Tax Jurisdication Codes",
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "example": "CHIL60"
          }
        }
      },
      "DocumentID": {
        "title": "DocumentID",
        "description": "Document ID",
        "type": "object",
        "properties": {
          "ID": {
            "type": "string",
            "description": "ID",
            "example": "Professional"
          }
        }
      },
      "Contact": {
        "title": "Contact",
        "type": "object",
        "properties": {
          "Communication": {
            "$ref": "#/components/schemas/Communication"
          },
          "UserArea": {
            "$ref": "#/components/schemas/ShipToPartyContactUserArea"
          }
        },
        "description": "Contact"
      },
      "Communication": {
        "title": "Communication",
        "type": "object",
        "properties": {
          "AreaDialing": {
            "type": "string",
            "description": "Area Dialing.",
            "example": 757
          },
          "DialNumber": {
            "type": "string",
            "description": "Dial Number.",
            "example": 0
          }
        }
      },
      "ShipToPartyContactUserArea": {
        "title": "ShipToPartyContactUserArea",
        "type": "object",
        "properties": {
          "Email": {
            "type": "string",
            "description": "Email address.",
            "example": "john.doe@g.com"
          }
        }
      },
      "Location": {
        "title": "Location",
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "description": "XYZ PLUMBING."
          },
          "Directions": {
            "type": "string",
            "description": "SHIP TO SHOP FRIDAY 6-14-19."
          },
          "Address": {
            "$ref": "#/components/schemas/Address"
          }
        }
      },
      "PartyIDs": {
        "title": "PartyIDs",
        "required": [
          "ID"
        ],
        "type": "object",
        "properties": {
          "ID": {
            "type": "string",
            "example": "81746*61"
          }
        }
      },
      "PurchaseOrderLineUserArea": {
        "title": "PurchaseOrderLineUserArea",
        "type": "object",
        "properties": {
          "PromotionID": {
            "type": "string",
            "example": 1
          },
          "PromotionMultiplier": {
            "type": "string",
            "example": 1
          },
          "LeadLawFlag": {
            "type": "string",
            "example": "Y"
          },
          "LeadLawCode": {
            "type": "string",
            "example": "Y"
          },
          "AdaFlag": {
            "type": "string",
            "example": "Y"
          },
          "GreenFlag": {
            "type": "string",
            "example": "Y"
          },
          "PriceColumn": {
            "type": "string",
            "example": 4
          },
          "PriceFormula": {
            "type": "string",
            "example": "L-0.148"
          }
        }
      },
      "UnitPrice": {
        "title": "UnitPrice",
        "type": "object",
        "properties": {
          "Amount": {
            "type": "number",
            "format": "double",
            "example": "42.691"
          },
          "Code": {
            "type": "string",
            "example": "EA"
          }
        }
      },
      "Item": {
        "title": "Item",
        "type": "object",
        "properties": {
          "ItemID": {
            "$ref": "#/components/schemas/ItemID"
          },
          "Description": {
            "type": "string",
            "description": "Description",
            "example": "*Web Order: WTS45233531*"
          },
          "Note": {
            "type": "array",
            "description": "Notes",
            "items": {
              "type": "string"
            }
          },
          "SupplierItemID": {
            "$ref": "#/components/schemas/SupplierItemID"
          }
        },
        "description": "Item"
      },
      "Address": {
        "title": "Address",
        "type": "object",
        "properties": {
          "AttentionOfName": {
            "type": "string",
            "description": "Name",
            "example": "Atte"
          },
          "AddressLine": {
            "type": "array",
            "description": "Address Line",
            "items": {
              "$ref": "#/components/schemas/AddressLine"
            }
          },
          "CityName": {
            "type": "string",
            "description": "City Name",
            "example": "ROCHESTER"
          },
          "CountrySubDivisionCode": {
            "type": "string",
            "description": "Country Sub Division Code",
            "example": "NY"
          },
          "CountryCode": {
            "type": "string",
            "description": "Country code",
            "example": "US"
          },
          "PostalCode": {
            "type": "string",
            "description": "Postal Code",
            "example": "1462452049"
          }
        },
        "description": "Address"
      },
      "AddressLine": {
        "title": "AddressLine",
        "type": "object",
        "properties": {
          "sequence": {
            "type": "string",
            "description": "sequence",
            "example": 1
          },
          "value": {
            "type": "string",
            "description": "text",
            "example": "37 DIV AVE S"
          }
        }
      },
      "createSalesOrderResponse": {
        "title": "Purchase Order Response",
        "description": "Purchase Order Response",
        "type": "object",
        "properties": {
          "omsOrderId": {
            "title": "omsOrderId",
            "type": "string",
            "description": "Order number created by trilogie"
          },
          "isError": {
            "title": "Error indicator",
            "type": "boolean",
            "description": "TRUE if the service was able to complete successfully, FALSE otherwise",
            "default": false
          }
        }
      },
      "salesOrderDetailsResponse": {
        "type": "object",
        "properties": {
          "isError": {
            "type": "boolean",
            "default": false
          },
          "totalPages": {
            "type": "string",
            "format": "int",
            "example": "1"
          },
          "eventMeta": {
            "$ref": "#/components/schemas/eventMeta"
          },
          "header": {
            "$ref": "#/components/schemas/header"
          },
          "lineItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/lineItems"
            }
          },
          "lineAssoc": {
            "$ref": "#/components/schemas/lineAssoc"
          },
          "commentLines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/commentLines"
            }
          },
          "blindComments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/blindComments"
            }
          },
          "otherComments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/otherComments"
            }
          },
          "deposits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/deposits"
            }
          },
          "payments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/payments"
            }
          }
        }
      },
      "eventMeta": {
        "type": "object",
        "properties": {
          "collectionVersion": {
            "type": "string",
            "description": "The version of the collection the service is reading."
          },
          "account": {
            "type": "string",
            "example": "null"
          },
          "id": {
            "type": "string",
            "example": "null"
          },
          "type": {
            "type": "string",
            "example": "null"
          },
          "file": {
            "type": "string",
            "example": "null"
          },
          "machineName": {
            "type": "string",
            "example": "null"
          },
          "expireDate": {
            "$ref": "#/components/schemas/mongoDate"
          },
          "syncId": {
            "type": "number",
            "format": "double",
            "example": 12345.67
          }
        }
      },
      "header": {
        "type": "object",
        "properties": {
          "orderCode": {
            "type": "string",
            "example": "O"
          },
          "whseId": {
            "type": "string"
          },
          "custId": {
            "type": "integer",
            "format": "int64",
            "example": 50502
          },
          "vCustId": {
            "type": "integer",
            "example": 50502
          },
          "custName": {
            "type": "string",
            "example": "ANDYS EXCAVATING"
          },
          "entryDate": {
            "$ref": "#/components/schemas/mongoDate"
          },
          "orderDate": {
            "$ref": "#/components/schemas/mongoDate"
          },
          "srcCode": {
            "type": "string",
            "example": "ORD"
          },
          "shippingData": {
            "$ref": "#/components/schemas/shippingData"
          },
          "reqrdShipDate": {
            "$ref": "#/components/schemas/mongoDate"
          },
          "custPoId": {
            "type": "string",
            "example": "ORDER 1"
          },
          "sellWhseId": {
            "type": "number",
            "format": "decimal",
            "example": 82.96
          },
          "writerInitials": {
            "type": "string",
            "example": "GH"
          },
          "followUpDate": {
            "$ref": "#/components/schemas/mongoDate"
          },
          "localPurFlag": {
            "type": "string",
            "example": "N"
          },
          "slsmId": {
            "type": "string",
            "example": "F99"
          },
          "termsCode": {
            "type": "string",
            "example": "null"
          },
          "termsDesc": {
            "type": "string",
            "example": "null"
          },
          "termsDiscPct": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "termDate": {
            "$ref": "#/components/schemas/mongoDate"
          },
          "vendorId": {
            "type": "string",
            "example": "null"
          },
          "priceSubtltAmt": {
            "type": "number",
            "format": "decimal",
            "example": 82.96
          },
          "costSubtltAmt": {
            "type": "number",
            "format": "decimal",
            "example": 4.6
          },
          "invoiceDate": {
            "$ref": "#/components/schemas/mongoDate"
          },
          "arAgingDate": {
            "$ref": "#/components/schemas/mongoDate"
          },
          "taxJurCode": {
            "type": "string",
            "example": "FL2COL"
          },
          "taxExemptNum": {
            "type": "string",
            "example": "null"
          },
          "taxPct": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "taxAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "salesGlId": {
            "type": "string",
            "example": "null"
          },
          "freightAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "handlingAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "authCode": {
            "type": "string",
            "example": "8157"
          },
          "poId": {
            "type": "string",
            "example": "null"
          },
          "holdCode": {
            "type": "string",
            "example": "null"
          },
          "miscSubtltAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "creditHoldFlag": {
            "type": "string",
            "example": "null"
          },
          "boFlag": {
            "type": "string",
            "example": "N"
          },
          "icFlag": {
            "type": "string",
            "example": "0"
          },
          "taxableAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "wmsDoorNum": {
            "type": "string",
            "example": "null"
          },
          "blindFlag": {
            "type": "string",
            "example": "null"
          },
          "orderPrtStatus": {
            "type": "string",
            "example": "null"
          },
          "numCopies": {
            "type": "number",
            "format": "double"
          },
          "acceptBoFlag": {
            "type": "string",
            "example": "N"
          },
          "autoHoldFlag": {
            "type": "string",
            "example": "null"
          },
          "shwrmFlag": {
            "type": "string",
            "example": "N"
          },
          "miscCostAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "origSpBumpPct": {
            "type": "number",
            "format": "decimal",
            "example": 0.063
          },
          "origDirBumpPct": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "specialCostFlag": {
            "type": "string",
            "example": "N"
          },
          "jobName": {
            "type": "string",
            "example": "ORDER"
          },
          "paidByCode": {
            "type": "string",
            "example": "null"
          },
          "refBidId": {
            "type": "string",
            "example": "null"
          },
          "restkDiscAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "restkDiscPct": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "previewBatchDate": {
            "$ref": "#/components/schemas/mongoDate"
          },
          "previewBatchId": {
            "type": "string",
            "example": "null"
          },
          "defectFlag": {
            "type": "string",
            "example": "null"
          },
          "contractId": {
            "type": "string",
            "example": "null"
          },
          "cmTypeCode": {
            "type": "string",
            "example": "null"
          },
          "totalAmt": {
            "type": "number",
            "format": "decimal",
            "example": 82.96
          },
          "priceDlvFlag": {
            "type": "string",
            "example": "N"
          },
          "frtCostAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "cmDirectFlag": {
            "type": "string",
            "example": "null"
          },
          "fastSlsmFlag": {
            "type": "string",
            "example": "null"
          },
          "fastXrefId": {
            "type": "string",
            "example": "null"
          },
          "commentLastLine": {
            "type": "string",
            "example": "null"
          },
          "altSlsmId": {
            "type": "string",
            "example": "null"
          },
          "bidExpireDate": {
            "$ref": "#/components/schemas/mongoDate"
          },
          "cmEmpId": {
            "type": "string",
            "example": "null"
          },
          "cmReviewDate": {
            "$ref": "#/components/schemas/mongoDate"
          },
          "aprvInitials": {
            "type": "string",
            "example": "null"
          },
          "aprvDate": {
            "$ref": "#/components/schemas/mongoDate"
          },
          "aprvFlag": {
            "type": "string",
            "example": "null"
          },
          "actionInitials": {
            "type": "string",
            "example": "null"
          },
          "refundFlag": {
            "type": "string",
            "example": "null"
          },
          "restockCostAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "restockCostPct": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "shipmentId": {
            "type": "string",
            "example": "null"
          },
          "asnReqrdFlag": {
            "type": "string",
            "example": "null"
          },
          "reqstCreditEmpId": {
            "type": "string",
            "example": "null"
          },
          "refundAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "cmCheckDate": {
            "$ref": "#/components/schemas/mongoDate"
          },
          "omlEmpId": {
            "type": "string",
            "example": "607124"
          },
          "sortFlag": {
            "type": "string",
            "example": "N"
          },
          "omlBoDate": {
            "$ref": "#/components/schemas/mongoDate"
          },
          "claimNum": {
            "type": "string",
            "example": "null"
          },
          "icPoType": {
            "type": "string",
            "example": "null"
          },
          "icPoCovrg": {
            "type": "string",
            "example": "null"
          },
          "icPoMode": {
            "type": "string",
            "example": "null"
          },
          "icAckEmpId": {
            "type": "string",
            "example": "null"
          },
          "srcSysCode": {
            "type": "string",
            "example": "SOE"
          },
          "dualModeRef": {
            "type": "string",
            "example": "S"
          },
          "autoReplnFlag": {
            "type": "string",
            "example": "Y"
          },
          "pickedEmpId": {
            "type": "string",
            "example": "null"
          },
          "checkedEmpId": {
            "type": "string",
            "example": "null"
          },
          "deliveredEmpId": {
            "type": "string",
            "example": "null"
          },
          "drawerNum": {
            "type": "string",
            "example": "null"
          },
          "depDrawerNum": {
            "type": "string",
            "example": "null"
          },
          "cribId": {
            "type": "string",
            "example": "null"
          },
          "consignType": {
            "type": "string",
            "example": "null"
          },
          "shipLabelLastSeq": {
            "type": "string",
            "example": "null"
          },
          "manualShipLabelTd": {
            "$ref": "#/components/schemas/mongoDate"
          },
          "cribAutoMode": {
            "type": "string",
            "example": "null"
          },
          "webUserId": {
            "type": "string",
            "example": "null"
          },
          "directAutoInvFlag": {
            "type": "string",
            "example": "null"
          },
          "icStatusFlag": {
            "type": "string",
            "example": "0"
          },
          "fastIcFlag": {
            "type": "string",
            "example": "0"
          },
          "icVendorId": {
            "type": "string",
            "example": "null"
          },
          "icVendorAddrExt": {
            "type": "string",
            "example": "null"
          },
          "paidDate": {
            "$ref": "#/components/schemas/mongoDate"
          },
          "icStockFlag": {
            "type": "string",
            "example": "null"
          },
          "orderPrtDate": {
            "$ref": "#/components/schemas/mongoDate"
          },
          "orderPrtTime": {
            "type": "string",
            "example": "null"
          },
          "deleteFlag": {
            "type": "string",
            "example": "null"
          },
          "dlvTktManualFlag": {
            "type": "string",
            "example": "null"
          },
          "icReqstDelEmpId": {
            "type": "string",
            "example": "null"
          },
          "icDelByEmpId": {
            "type": "string",
            "example": "null"
          },
          "webPortalId": {
            "type": "string",
            "example": "null"
          },
          "priceClassCode": {
            "type": "string",
            "example": "null"
          },
          "placedByName": {
            "type": "string",
            "example": "null"
          },
          "convInfo1": {
            "type": "string",
            "example": "null"
          },
          "convInfo2": {
            "type": "string",
            "example": "null"
          },
          "convInfo3": {
            "type": "string",
            "example": "null"
          },
          "scrambleFlag": {
            "type": "string",
            "example": "N"
          },
          "pickTktPrtFlag": {
            "type": "string",
            "example": "N"
          },
          "directCustId": {
            "type": "string",
            "example": "null"
          },
          "directFrtInvAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "directFrtCostAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "shwrmSlsm": {
            "type": "string",
            "example": "null"
          },
          "useFrtTableFlag": {
            "type": "string",
            "example": "N"
          },
          "fwdDate": {
            "$ref": "#/components/schemas/mongoDate"
          },
          "usageCountFlag": {
            "type": "string",
            "example": "null"
          },
          "procEmpId": {
            "type": "string",
            "example": "null"
          },
          "sourceOrigId": {
            "type": "string",
            "example": "null"
          },
          "sourceConvId": {
            "type": "string",
            "example": "null"
          },
          "sourceConvAcct": {
            "type": "string",
            "example": "null"
          },
          "frtTaxAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "hndlTaxAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "smallOrderTaxAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "taxExemptCertId": {
            "type": "string",
            "example": "null"
          },
          "taxCatCode": {
            "type": "string",
            "example": "null"
          },
          "stateTaxAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "countyTaxAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "cityTaxAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "districtTaxAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "taxState": {
            "type": "string",
            "example": "null"
          },
          "exemptAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "taxableGeocode": {
            "type": "string",
            "example": "null"
          },
          "combinedTaxRate": {
            "type": "number",
            "format": "double",
            "example": 0.0
          },
          "taxOverrideId": {
            "type": "string",
            "example": "null"
          },
          "promoCode": {
            "type": "string",
            "example": "null"
          },
          "fabJobFlag": {
            "type": "string",
            "example": "null"
          },
          "miscUom": {
            "type": "string",
            "example": "null"
          },
          "miscLaborAdjInfo": {
            "type": "string",
            "example": "null"
          },
          "folQuoteFlag": {
            "type": "string",
            "example": "null"
          },
          "folQuoteAdjFlag": {
            "type": "string",
            "example": "null"
          },
          "bidDelDate": {
            "$ref": "#/components/schemas/mongoDate"
          },
          "taxCalcFlag": {
            "type": "string",
            "example": "0"
          },
          "dlvTktPrinter": {
            "type": "string",
            "example": "134"
          },
          "ccGameCode": {
            "type": "string",
            "example": "null"
          },
          "initEcommBumpPct": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "referralFlag": {
            "type": "string",
            "example": "N"
          },
          "referringCustId": {
            "type": "string",
            "example": "null"
          },
          "prodNextSeq": {
            "type": "string",
            "example": "2"
          },
          "oesOrderId": {
            "type": "string",
            "example": "null"
          },
          "webShipCostAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "cmReturnId": {
            "type": "string",
            "example": "null"
          },
          "smsSentFlag": {
            "type": "string",
            "example": "null"
          },
          "consolInvId": {
            "type": "string",
            "example": "null"
          },
          "consolRemoveDate": {
            "$ref": "#/components/schemas/mongoDate"
          },
          "ppeFlag": {
            "type": "string",
            "example": "null"
          },
          "specialtySalesman": {
            "type": "string",
            "example": "null"
          },
          "autoFrtChgCode": {
            "type": "string",
            "example": "null"
          },
          "autoFrtCostCode": {
            "type": "string",
            "example": "null"
          },
          "mstrProjectNum": {
            "type": "string",
            "example": "null"
          },
          "custShptoEmail": {
            "type": "string",
            "example": "null"
          },
          "empName": {
            "type": "string",
            "example": "Andy Herrera"
          },
          "salesmanName": {
            "type": "string",
            "example": "FT.MYERS - HOUSE ACCOUNT"
          },
          "cmChkNum": {
            "type": "string",
            "example": "null"
          },
          "sysMode": {
            "type": "string",
            "example": "S"
          },
          "ediRefNum": {
            "type": "string",
            "example": "null"
          },
          "orderPrtTd": {
            "$ref": "#/components/schemas/mongoDate"
          },
          "origShwrmFlag": {
            "type": "string",
            "example": "null"
          },
          "origWriterInit": {
            "type": "string",
            "example": "null"
          },
          "rndCntrtFlag": {
            "type": "string",
            "example": "null"
          },
          "rndMinAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "rndNearDec": {
            "type": "number",
            "format": "double",
            "example": 0.0
          },
          "rndType": {
            "type": "string",
            "example": "null"
          },
          "slsmScnd": {
            "type": "string",
            "example": "null"
          },
          "slsmSplitPct": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "totalPages": {
            "type": "string",
            "example": "1"
          },
          "b2bCustFlag": {
            "type": "string",
            "example": "null"
          },
          "mcustId": {
            "type": "string",
            "example": "169503"
          },
          "srcOrderStatus": {
            "type": "string",
            "example": "1"
          },
          "srcOrderStatusDesc": {
            "type": "string",
            "example": "Open"
          },
          "custClass": {
            "type": "string",
            "example": "null"
          },
          "paidByMethod": {
            "type": "string",
            "example": "null"
          },
          "userToNotify": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "testuser"
              }
            }
          },
          "shipInstrCode": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": null
              }
            }
          },
          "rndMethod": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": null
              }
            }
          }
        }
      },
      "shippingData": {
        "type": "object",
        "properties": {
          "shipToSuffix": {
            "type": "string",
            "example": "CPU"
          },
          "address": {
            "$ref": "#/components/schemas/address"
          },
          "shipDate": {
            "$ref": "#/components/schemas/mongoDate"
          },
          "shipFromWhse": {
            "type": "string",
            "example": "134"
          },
          "shipCompleteFlag": {
            "type": "string",
            "example": "N"
          },
          "shipToGeocode": {
            "type": "string",
            "example": "100211000"
          },
          "shipFromGeocode": {
            "type": "string",
            "example": "null"
          },
          "frtReqrdFlag": {
            "type": "string",
            "example": "N"
          },
          "hndlReqrdFlag": {
            "type": "string",
            "example": "N"
          },
          "bolNum": {
            "type": "string",
            "example": "null"
          },
          "autoShipLabelTd": {
            "$ref": "#/components/schemas/mongoDate"
          },
          "wmsOrderType": {
            "type": "string",
            "example": "null"
          },
          "wmsTransferFlag": {
            "type": "string",
            "example": "null"
          },
          "dlvTktPrtDate": {
            "$ref": "#/components/schemas/mongoDate"
          },
          "tagInfo": {
            "type": "string",
            "example": "null"
          },
          "routeNum": {
            "type": "string",
            "example": "null"
          },
          "commitDate": {
            "$ref": "#/components/schemas/mongoDate"
          },
          "pickTktPrtDate": {
            "$ref": "#/components/schemas/mongoDate"
          },
          "pickCompleteDate": {
            "$ref": "#/components/schemas/mongoDate"
          },
          "directFrtFlag": {
            "type": "string",
            "example": "null"
          },
          "frtReason": {
            "type": "string",
            "example": "null"
          },
          "podTransId": {
            "type": "string",
            "example": "null"
          },
          "fleetwiseStatus": {
            "type": "string",
            "example": "null"
          },
          "podSigTd": {
            "$ref": "#/components/schemas/mongoDate"
          },
          "asn": {
            "type": "string",
            "example": "null"
          },
          "wmsStatus": {
            "type": "string",
            "example": "null"
          }
        }
      },
      "address": {
        "type": "object",
        "properties": {
          "toName": {
            "type": "string",
            "example": "COUNTER PICK UP"
          },
          "toAddr1": {
            "type": "string",
            "example": "3406 DOMESTIC AVENUE"
          },
          "toAddr2": {
            "type": "string",
            "example": "NAPLES, FL 34104"
          },
          "toAddr3": {
            "type": "string",
            "example": "null"
          },
          "toAddr4": {
            "type": "string",
            "example": "null"
          },
          "toCounty": {
            "type": "string",
            "example": "COLLIER"
          },
          "toCountyCode": {
            "type": "string",
            "example": "US"
          },
          "toCountryCode": {
            "type": "string",
            "example": "US"
          },
          "toAttn": {
            "type": "string",
            "example": "null"
          },
          "toPhone": {
            "type": "string",
            "example": "null"
          },
          "viaCode": {
            "type": "string",
            "example": "CPU"
          },
          "viaCodeDesc": {
            "type": "string",
            "example": "COUNTER PICK-UP"
          },
          "instr1": {
            "type": "string",
            "example": "null"
          },
          "instr2": {
            "type": "string",
            "example": "null"
          },
          "instr3": {
            "type": "string",
            "example": "null"
          },
          "instr4": {
            "type": "string",
            "example": "null"
          }
        }
      },
      "lineItems": {
        "type": "object",
        "properties": {
          "lineNum": {
            "type": "string",
            "example": "1"
          },
          "lineItem": {
            "type": "string",
            "example": "31523*134"
          },
          "perQty": {
            "type": "string",
            "example": "1"
          },
          "priceFormula": {
            "type": "string",
            "example": "L-0.756"
          },
          "netPrice": {
            "type": "string",
            "example": "8.296"
          },
          "listPrice": {
            "type": "string",
            "example": "34"
          },
          "unitCostAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.46
          },
          "orderQty": {
            "type": "string",
            "example": "10"
          },
          "boQty": {
            "type": "string",
            "example": "0"
          },
          "bumpPct": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "affectInvenFlag": {
            "type": "string",
            "example": "null"
          },
          "shipQty": {
            "type": "string",
            "example": "10"
          },
          "taggedPoId": {
            "type": "string",
            "example": "null"
          },
          "origInvId": {
            "type": "string",
            "example": "null"
          },
          "lostSalesQty": {
            "type": "string",
            "example": "0"
          },
          "costAdjInfo": {
            "type": "string",
            "example": "null"
          },
          "addRelId": {
            "type": "string",
            "example": "null"
          },
          "binLoc": {
            "type": "string",
            "example": "null"
          },
          "poListAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "poFormula": {
            "type": "string",
            "example": "null"
          },
          "oeAssocId": {
            "type": "string",
            "example": "null"
          },
          "intgPickListId": {
            "type": "string",
            "example": "null"
          },
          "bumpNetAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "bumpCostAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.43
          },
          "poLineId": {
            "type": "string",
            "example": "null"
          },
          "ediCommentType": {
            "type": "string",
            "example": "null"
          },
          "ediPoLineNum": {
            "type": "string",
            "example": "null"
          },
          "ihcId": {
            "type": "string",
            "example": "null"
          },
          "origCostAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "rfcPriceFormula": {
            "type": "string",
            "example": "null"
          },
          "rfcCostFormula": {
            "type": "string",
            "example": "null"
          },
          "itemVendorId": {
            "type": "string",
            "example": "null"
          },
          "apCmId": {
            "type": "string",
            "example": "null"
          },
          "apDmId": {
            "type": "string",
            "example": "null"
          },
          "returnAuthNum": {
            "type": "string",
            "example": "null"
          },
          "origLineNum": {
            "type": "string",
            "example": "1"
          },
          "palletNum": {
            "type": "string",
            "example": "0"
          },
          "palletQty": {
            "type": "string",
            "example": "0"
          },
          "dualOrderQty": {
            "type": "string",
            "example": "0"
          },
          "dualBoQty": {
            "type": "string",
            "example": "0"
          },
          "dualShipQty": {
            "type": "string",
            "example": "0"
          },
          "crossFormula": {
            "type": "string",
            "example": "0"
          },
          "orderAvgCostAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.43
          },
          "shipLabelSeq": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "null"
            }
          },
          "labelShipQty": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "packageType": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "null"
            }
          },
          "invAvgCostAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "avgCostCode": {
            "type": "string",
            "example": "null"
          },
          "prodAvailQty": {
            "type": "string",
            "example": "585"
          },
          "spAltCode": {
            "type": "string",
            "example": "null"
          },
          "altCode1": {
            "type": "string",
            "example": "C9D"
          },
          "productDesc": {
            "type": "string",
            "example": "1/2 WROT CXC 90 ELL 5/8 OD"
          },
          "tagPoQty": {
            "type": "string",
            "example": "0"
          },
          "kitCompOnBo": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "null"
            }
          },
          "kitCompShipQty": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "null"
            }
          },
          "kitCompBoQty": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "null"
            }
          },
          "stagingLoc": {
            "type": "string",
            "example": "null"
          },
          "autoCommitQty": {
            "type": "string",
            "example": "0"
          },
          "mpdAmt": {
            "type": "number",
            "format": "decimal",
            "example": 82.96
          },
          "mpdFlag": {
            "type": "string",
            "example": "null"
          },
          "lineReplenFlag": {
            "type": "string",
            "example": "Y"
          },
          "mpqExcdFlag": {
            "type": "string",
            "example": "0"
          },
          "templateLines": {
            "type": "string",
            "example": "null"
          },
          "ptpoCompCode": {
            "type": "string",
            "example": "null"
          },
          "ptpoPrepDays": {
            "type": "number",
            "example": 1.0
          },
          "commitQty": {
            "type": "string",
            "example": "0"
          },
          "mpdPrevChgFlag": {
            "type": "string",
            "example": "null"
          },
          "boChgQty": {
            "type": "string",
            "example": "0"
          },
          "mpdExcdFlag": {
            "type": "string",
            "example": "null"
          },
          "mpdInvFlag": {
            "type": "string",
            "example": "null"
          },
          "loadSourceCode": {
            "type": "string",
            "example": "0"
          },
          "zonePrtId": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "null"
            }
          },
          "dlvTktCommitQty": {
            "type": "string",
            "example": "0"
          },
          "replnChgFlag": {
            "type": "string",
            "example": "null"
          },
          "origBasis": {
            "type": "string",
            "example": "null"
          },
          "frtBasisFlag": {
            "type": "string",
            "example": "null"
          },
          "histPriceInvId": {
            "type": "string",
            "example": "null"
          },
          "histPriceCalcFlag": {
            "type": "string",
            "example": "null"
          },
          "ptCode": {
            "type": "string",
            "example": "null"
          },
          "ptOrderQty": {
            "type": "string",
            "example": "0"
          },
          "ptShipQty": {
            "type": "string",
            "example": "0"
          },
          "ptBoQty": {
            "type": "string",
            "example": "0"
          },
          "ptNetPrice": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "ptMode": {
            "type": "string",
            "example": "null"
          },
          "ptPriceColumn": {
            "type": "string",
            "example": "null"
          },
          "intgOrigPrice": {
            "type": "string",
            "example": "0"
          },
          "intgBenchmarkAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "lineTaxAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "lineNetAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "wmsLine": {
            "type": "string",
            "example": "null"
          },
          "shipShortReason": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "null"
            }
          },
          "lineContractId": {
            "type": "string",
            "example": "null"
          },
          "manualOverrideType": {
            "type": "string",
            "example": "null"
          },
          "origCommitQty": {
            "type": "string",
            "example": "0"
          },
          "origNetPriceAmt": {
            "type": "array",
            "items": {
              "type": "number",
              "format": "decimal",
              "example": 0.0
            }
          },
          "origInvNetPriceAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "origProdStatus": {
            "type": "string",
            "example": "null"
          },
          "miscLaborQty": {
            "type": "string",
            "example": "0"
          },
          "miscCommFlag": {
            "type": "string",
            "example": "null"
          },
          "looseFlag": {
            "type": "string",
            "example": "null"
          },
          "bomLines": {
            "type": "string",
            "example": "null"
          },
          "bomProductId": {
            "type": "string",
            "example": "null"
          },
          "bomOrdQty": {
            "type": "string",
            "example": "0"
          },
          "bomShipQty": {
            "type": "string",
            "example": "0"
          },
          "bomNetPriceAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "bomCostAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "miscLaborAdjFlag": {
            "type": "string",
            "example": "null"
          },
          "miscOrigPrice": {
            "type": "string",
            "example": "0"
          },
          "matrixPrice": {
            "type": "string",
            "example": "0"
          },
          "matrixFormula": {
            "type": "string",
            "example": "null"
          },
          "priceId": {
            "type": "string",
            "example": "null"
          },
          "priceGrpId": {
            "type": "string",
            "example": ""
          },
          "priceColumn": {
            "type": "string",
            "example": ""
          },
          "priceType": {
            "type": "string",
            "example": ""
          },
          "wmsInhandFlag": {
            "type": "string",
            "example": "null"
          },
          "prodUom": {
            "type": "string",
            "example": "null"
          },
          "taxonType": {
            "type": "string",
            "example": "null"
          },
          "folPromoId": {
            "type": "string",
            "example": "null"
          },
          "folPromoMultr": {
            "type": "string",
            "example": "null"
          },
          "leadLawCode": {
            "type": "string",
            "example": "null"
          },
          "ctryOriginCode": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "null"
            }
          },
          "lineEvalDate": {
            "$ref": "#/components/schemas/mongoDate"
          },
          "lineEvalTime": {
            "type": "string",
            "example": "08:56:59AM"
          },
          "adaFlag": {
            "type": "string",
            "example": "null"
          },
          "greenFlag": {
            "type": "string",
            "example": "null"
          },
          "leadFlag": {
            "type": "string",
            "example": "null"
          },
          "prodLineSeq": {
            "type": "string",
            "example": "1"
          },
          "coreClaimId": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "null"
            }
          },
          "coreRevId": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "null"
            }
          },
          "coreCntrtId": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "null"
            }
          },
          "servMsg": {
            "type": "string",
            "example": "null"
          },
          "cntrtCostAmt": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "null"
            }
          },
          "cntrtCostType": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "null"
            }
          },
          "claimLogId": {
            "type": "string",
            "example": "null"
          },
          "cntrtCostQty": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "null"
            }
          },
          "rsrvQty": {
            "type": "string",
            "example": "null"
          },
          "cntrtClaimAmt": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "null"
            }
          },
          "servFuncCode": {
            "type": "string",
            "example": "null"
          },
          "servCallMode": {
            "type": "string",
            "example": "CORE_COST-Order"
          },
          "servErrorCode": {
            "type": "string",
            "example": "null"
          },
          "agrVendorName": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "null"
            }
          },
          "agrId": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "null"
            }
          },
          "coreCntrtName": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "null"
            }
          },
          "oesLineId": {
            "type": "string",
            "example": "null"
          },
          "commGrpProd": {
            "type": "string",
            "example": "null"
          },
          "ecommBumpOrd": {
            "type": "string",
            "example": "null"
          },
          "origPriceCode": {
            "type": "string",
            "example": "null"
          },
          "extPrice": {
            "type": "string",
            "example": "82.96"
          },
          "lineEvalTd": {
            "$ref": "#/components/schemas/mongoDate"
          },
          "poCostAmt": {
            "type": "number",
            "format": "decimal",
            "example": 0.0
          },
          "surplusFlag": {
            "type": "string",
            "example": "null"
          },
          "wmsLineStatus": {
            "type": "string",
            "example": "null"
          },
          "miscGlCode": {
            "type": "string",
            "example": "null"
          },
          "lineType": {
            "type": "string",
            "example": "MP"
          },
          "invenWhse": {
            "type": "string",
            "example": "134"
          }
        }
      },
      "lineAssoc": {
        "type": "object",
        "properties": {
          "fastInfo": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "null"
              }
            }
          },
          "cms": {
            "$ref": "#/components/schemas/cms"
          },
          "edi": {
            "$ref": "#/components/schemas/edi"
          },
          "apInvoiceId": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "null"
              }
            }
          },
          "wms": {
            "$ref": "#/components/schemas/wms"
          },
          "icAutos": {
            "$ref": "#/components/schemas/icAutos"
          },
          "prtStatusChgTd": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/mongoDate"
            }
          },
          "srcSpl": {
            "$ref": "#/components/schemas/srcSpl"
          },
          "relManualHold": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "null"
              }
            }
          },
          "rndMethod": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "null"
            }
          },
          "splitEmpInit": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "null"
              }
            }
          },
          "bumpFlags": {
            "$ref": "#/components/schemas/bumpFlags"
          },
          "wmsPlateNum": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "null"
              }
            }
          },
          "invPrtOptions": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "null"
              }
            }
          },
          "dlvTktOptions": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "null"
              }
            }
          },
          "estAmt": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "null"
              }
            }
          },
          "podEmailAddr": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "null"
              }
            }
          },
          "shipTrkNum": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "null"
              }
            }
          },
          "expediteFeeCodes": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "null"
              }
            }
          },
          "pmtRefs": {
            "$ref": "#/components/schemas/pmtRefs"
          }
        }
      },
      "commentLines": {
        "type": "object",
        "properties": {
          "lineNum": {
            "type": "string",
            "example": "13"
          },
          "lineItem": {
            "type": "string",
            "example": "C"
          },
          "lineType": {
            "type": "string",
            "example": "C"
          },
          "orderComments": {
            "type": "string",
            "example": "Comment for Line 13"
          }
        }
      },
      "blindComments": {
        "type": "object",
        "properties": {
          "lineNum": {
            "type": "string",
            "example": "20"
          },
          "lineItem": {
            "type": "string",
            "example": "C*"
          },
          "lineType": {
            "type": "string",
            "example": "CB"
          },
          "orderComments": {
            "type": "string",
            "example": "Blind Comment for Line 20"
          }
        }
      },
      "otherComments": {
        "type": "object",
        "properties": {
          "lineNum": {
            "type": "string",
            "example": "20"
          },
          "lineItem": {
            "type": "string",
            "example": "C*"
          },
          "lineType": {
            "type": "string",
            "example": "CB"
          },
          "templateLines": {
            "type": "string",
            "example": "CB"
          },
          "lineSubTtl": {
            "type": "string",
            "example": ""
          },
          "orderComments": {
            "type": "string",
            "example": "Other Comment for Line 20"
          }
        }
      },
      "deposits": {
        "type": "object",
        "properties": {
          "paymentType": {
            "type": "string",
            "example": "DEPT"
          },
          "csOrderNum": {
            "type": "string",
            "example": "null"
          },
          "chkNum": {
            "type": "string",
            "example": "null"
          },
          "ccAuth": {
            "type": "string",
            "example": "null"
          },
          "ccLevel3": {
            "type": "string",
            "example": "null"
          },
          "payAmt": {
            "type": "number",
            "format": "double",
            "example": 0.0
          },
          "depositDate": {
            "$ref": "#/components/schemas/mongoDate"
          },
          "collectAmt": {
            "type": "number",
            "format": "double",
            "example": 0.0
          },
          "appliedAmt": {
            "type": "number",
            "format": "double",
            "example": 0.0
          },
          "payType": {
            "type": "string",
            "example": "null"
          },
          "csPrevAmt": {
            "type": "number",
            "format": "double",
            "example": 0.0
          },
          "chkName": {
            "type": "string",
            "example": "null"
          },
          "chkAddr1": {
            "type": "string",
            "example": "null"
          },
          "chkAddr2": {
            "type": "string",
            "example": "null"
          },
          "scndIdInfo": {
            "type": "string",
            "example": "null"
          },
          "drvLicNum": {
            "type": "string",
            "example": "null"
          },
          "ccExprYm": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "null"
            }
          },
          "chkTransit": {
            "type": "string",
            "example": "null"
          },
          "chkAcctNum": {
            "type": "string",
            "example": "null"
          },
          "chkDrvlicSt": {
            "type": "string",
            "example": "null"
          },
          "chkVoiceAuth": {
            "type": "string",
            "example": "null"
          },
          "depCof": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "null"
            }
          },
          "depTokenKey": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "null"
            }
          },
          "ccName": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "null"
            }
          },
          "ccAddr1": {
            "type": "string",
            "example": "null"
          },
          "ccCity": {
            "type": "string",
            "example": "null"
          },
          "ccState": {
            "type": "string",
            "example": "null"
          },
          "ccZip": {
            "type": "string",
            "example": "null"
          },
          "ccCustCode": {
            "type": "string",
            "example": "null"
          },
          "ccVoiceAuth": {
            "type": "string",
            "example": "null"
          },
          "chkVerifiedFlag": {
            "type": "string",
            "example": "null"
          },
          "ccReqstrName": {
            "type": "string",
            "example": "null"
          }
        }
      },
      "payments": {
        "type": "object",
        "properties": {
          "paymentType": {
            "type": "string",
            "example": "PMT"
          },
          "ccAuth": {
            "type": "string",
            "example": "null"
          },
          "ccLevel3": {
            "type": "string",
            "example": "null"
          },
          "chkName": {
            "type": "string",
            "example": "null"
          },
          "chkAddr1": {
            "type": "string",
            "example": "null"
          },
          "chkAddr2": {
            "type": "string",
            "example": "null"
          },
          "scndIdInfo": {
            "type": "string",
            "example": "null"
          },
          "drvLicNum": {
            "type": "string",
            "example": "null"
          },
          "ccExprYm": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "null"
            }
          },
          "chkTransit": {
            "type": "string",
            "example": "null"
          },
          "chkAcctNum": {
            "type": "string",
            "example": "null"
          },
          "chkDrvlicSt": {
            "type": "string",
            "example": "null"
          },
          "chkVoiceAuth": {
            "type": "string",
            "example": "null"
          },
          "ccName": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "null"
            }
          },
          "ccAddr1": {
            "type": "string",
            "example": "null"
          },
          "ccCity": {
            "type": "string",
            "example": "null"
          },
          "ccState": {
            "type": "string",
            "example": "null"
          },
          "ccZip": {
            "type": "string",
            "example": "null"
          },
          "ccCustCode": {
            "type": "string",
            "example": "null"
          },
          "pmtChkVerifiedFlag": {
            "type": "string",
            "example": "null"
          },
          "pmtTokenKey": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "null"
            }
          },
          "ccPayReqstrName": {
            "type": "string",
            "example": "null"
          },
          "ccCof": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "null"
            }
          },
          "ccPreloadFlag": {
            "type": "string",
            "example": "null"
          },
          "poaId": {
            "type": "string",
            "example": "null"
          },
          "poaStatus": {
            "type": "string",
            "example": "null"
          },
          "paidWithNum": {
            "type": "string",
            "example": "null"
          }
        }
      },
      "cms": {
        "type": "object",
        "properties": {
          "cmId": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "null"
              }
            }
          },
          "cmDisbInfo": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "null"
              }
            }
          }
        }
      },
      "edi": {
        "type": "object",
        "properties": {
          "ediDocId": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "null"
              }
            }
          },
          "ediAddId": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "null"
              }
            }
          },
          "ediShipInfo": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "null"
              }
            }
          }
        }
      },
      "wms": {
        "type": "object",
        "properties": {
          "wmsAsn": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "null"
              }
            }
          },
          "wmsTrailer": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "null"
              }
            }
          }
        }
      },
      "icAutos": {
        "type": "object",
        "properties": {
          "icAutoStatus": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "null"
              }
            }
          },
          "icAutoStatusTd": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/mongoDate"
            }
          },
          "icAutoInfo": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "0"
              }
            }
          }
        }
      },
      "srcSpl": {
        "type": "object",
        "properties": {
          "destOrder": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "null"
              }
            }
          },
          "origBo": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "null"
              }
            }
          },
          "origOrder": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "null"
              }
            }
          }
        }
      },
      "bumpFlags": {
        "type": "object",
        "properties": {
          "frtRateBumpFlag": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "null"
              }
            }
          },
          "hndlBumpFlag": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "null"
              }
            }
          },
          "frtCostBumpFlag": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "null"
              }
            }
          }
        }
      },
      "pmtRefs": {
        "type": "object",
        "properties": {
          "pmtRefType": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "null"
              }
            }
          },
          "pmtRefCmt": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "null"
              }
            }
          },
          "pmtRefNum": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "null"
              }
            }
          },
          "pmtRefAmt": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "null"
              }
            }
          },
          "pmtRefInvalid": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "null"
              }
            }
          },
          "pmtRefDate": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/mongoDate"
            }
          },
          "pmtRefAssoc": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "null"
              }
            }
          }
        }
      },
      "mongoDate": {
        "type": "object",
        "properties": {
          "$date": {
            "type": "string",
            "format": "date-time",
            "x-name-override": "$date",
            "x-datetime-zone": "UTC"
          }
        }
      },
      "Error": {
        "required": [
          "contact",
          "error code",
          "message",
          "reason"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "array",
            "description": "Can contain a single string, array, integer or another JSON object. Intentionally vague as it will sometimes contain the error response from the backend server.",
            "items": {
              "type": "object"
            }
          },
          "error code": {
            "type": "string",
            "description": "HTTP status code."
          },
          "reason": {
            "type": "string",
            "description": "A short meaningful reason."
          },
          "contact": {
            "type": "string",
            "description": "Contact info for the error."
          }
        }
      }
    },
    "headers": {
      "fe-resp-code": {
        "schema": {
          "type": "string",
          "description": "Machine readable code that indicates the name of an error",
          "example": "severe.error"
        }
      },
      "fe-resp-msg": {
        "schema": {
          "type": "string",
          "description": "Human readable message associated with fe-resp-code header",
          "example": "Severe Error"
        }
      },
      "trans-id": {
        "schema": {
          "type": "string",
          "description": "Transaction Id (passed in by consumer or generated by the service)"
        }
      }
    },
    "securitySchemes": {
      "oAuth2ClientCredentials": {
        "type": "oauth2",
        "description": "This API uses OAuth 2.0 client credentials grant type. You must use a Content-Type header of 'application/x-www-form-urlencoded' with form parameters of grant_type=client_credentials.\nYou can also specify an additional form parameter of 'expires_in' so long as it is less than 3600 seconds.\n&nbsp;\n",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://uatapi2.ferguson.com/oauth2/token",
            "scopes": {}
          }
        }
      }
    }
  }
}