{
  "openapi": "3.0.3",
  "info": {
    "title": "Worx Safety API",
    "version": "1.0.0",
    "description": "Worx Safety is a workforce management and safety compliance platform for construction. The API provides endpoints for managing inductees, contractors, assets, projects, issues, documents, inductions, training, and registers.",
    "x-jentic-source-url": "https://app.worxsafety.com.au/docs"
  },
  "servers": [
    {
      "url": "https://app.worxsafety.com.au"
    }
  ],
  "paths": {
    "/api/inductee/index": {
      "get": {
        "operationId": "listinductees",
        "summary": "List inductees",
        "tags": [
          "Inductees"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/inductee/index/all": {
      "get": {
        "operationId": "listallinductees",
        "summary": "List all inductees",
        "tags": [
          "Inductees"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/inductee/index/inactive": {
      "get": {
        "operationId": "listinactiveinductees",
        "summary": "List inactive inductees",
        "tags": [
          "Inductees"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/inductee/index/approved": {
      "get": {
        "operationId": "listapprovedinductees",
        "summary": "List approved inductees",
        "tags": [
          "Inductees"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/inductee/index/revoked": {
      "get": {
        "operationId": "listrevokedinductees",
        "summary": "List revoked inductees",
        "tags": [
          "Inductees"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/inductee/recent": {
      "get": {
        "operationId": "getmostrecentinductee",
        "summary": "Get most recent inductee",
        "tags": [
          "Inductees"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/inductee/search/{search}": {
      "get": {
        "operationId": "searchinductees",
        "summary": "Search inductees",
        "tags": [
          "Inductees"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "search",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/inductee/show/{id}": {
      "get": {
        "operationId": "getinducteedetails",
        "summary": "Get inductee details",
        "tags": [
          "Inductees"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/inductee/inductions/{id}": {
      "get": {
        "operationId": "getinducteeinductions",
        "summary": "Get inductee inductions",
        "tags": [
          "Inductees"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/inductee/training/{id}": {
      "get": {
        "operationId": "getinducteetraining",
        "summary": "Get inductee training",
        "tags": [
          "Inductees"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/inductee/documents/{id}": {
      "get": {
        "operationId": "getinducteedocuments",
        "summary": "Get inductee documents",
        "tags": [
          "Inductees"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/inductee/create": {
      "post": {
        "operationId": "createinductee",
        "summary": "Create inductee",
        "tags": [
          "Inductees"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InducteeCreate"
              }
            }
          }
        }
      }
    },
    "/api/inductee/update/{id}": {
      "put": {
        "operationId": "updateinductee",
        "summary": "Update inductee",
        "tags": [
          "Inductees"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InducteeCreate"
              }
            }
          }
        }
      }
    },
    "/api/inductee/disable/{id}": {
      "put": {
        "operationId": "disableinductee",
        "summary": "Disable inductee",
        "tags": [
          "Inductees"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/contractor/index": {
      "get": {
        "operationId": "listcontractors",
        "summary": "List contractors",
        "tags": [
          "Contractors"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/contractor/index/approved": {
      "get": {
        "operationId": "listapprovedcontractors",
        "summary": "List approved contractors",
        "tags": [
          "Contractors"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/contractor/index/revoked": {
      "get": {
        "operationId": "listrevokedcontractors",
        "summary": "List revoked contractors",
        "tags": [
          "Contractors"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/contractor/abn": {
      "post": {
        "operationId": "findcontractorbyabn",
        "summary": "Find contractor by ABN",
        "tags": [
          "Contractors"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "abn": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/contractor/show/{id}": {
      "get": {
        "operationId": "getcontractordetails",
        "summary": "Get contractor details",
        "tags": [
          "Contractors"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/contractor/show/{id}/inductee": {
      "get": {
        "operationId": "getcontractorworkers",
        "summary": "Get contractor workers",
        "tags": [
          "Contractors"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/asset/index": {
      "get": {
        "operationId": "listassets",
        "summary": "List assets",
        "tags": [
          "Assets"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/asset/search/{search}": {
      "get": {
        "operationId": "searchassets",
        "summary": "Search assets",
        "tags": [
          "Assets"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "search",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/asset/show/{id}": {
      "get": {
        "operationId": "getassetdetails",
        "summary": "Get asset details",
        "tags": [
          "Assets"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/asset/recent": {
      "get": {
        "operationId": "getmostrecentasset",
        "summary": "Get most recent asset",
        "tags": [
          "Assets"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/asset/documents/{id}": {
      "get": {
        "operationId": "getassetdocuments",
        "summary": "Get asset documents",
        "tags": [
          "Assets"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/asset/create": {
      "post": {
        "operationId": "createasset",
        "summary": "Create asset",
        "tags": [
          "Assets"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetCreate"
              }
            }
          }
        }
      }
    },
    "/api/asset/update/{id}": {
      "put": {
        "operationId": "updateasset",
        "summary": "Update asset",
        "tags": [
          "Assets"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetCreate"
              }
            }
          }
        }
      }
    },
    "/api/asset/disable/{id}": {
      "put": {
        "operationId": "deleteasset",
        "summary": "Delete asset",
        "tags": [
          "Assets"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/project/index": {
      "get": {
        "operationId": "listprojects",
        "summary": "List projects",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/project/search/{search}": {
      "get": {
        "operationId": "searchprojects",
        "summary": "Search projects",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "search",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/project/show/{id}": {
      "get": {
        "operationId": "getprojectdetails",
        "summary": "Get project details",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/project/create": {
      "post": {
        "operationId": "createproject",
        "summary": "Create project",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/project/update/{id}": {
      "put": {
        "operationId": "updateproject",
        "summary": "Update project",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/issue/index": {
      "get": {
        "operationId": "listissues",
        "summary": "List issues",
        "tags": [
          "Issues"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/issue/recent": {
      "get": {
        "operationId": "getmostrecentissue",
        "summary": "Get most recent issue",
        "tags": [
          "Issues"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/issue/show/{id}": {
      "get": {
        "operationId": "getissuedetails",
        "summary": "Get issue details",
        "tags": [
          "Issues"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/issue/create": {
      "post": {
        "operationId": "createissue",
        "summary": "Create issue",
        "tags": [
          "Issues"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/documents/index": {
      "get": {
        "operationId": "listdocuments",
        "summary": "List documents",
        "tags": [
          "Documents"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/documents/index/valid": {
      "get": {
        "operationId": "listvaliddocuments",
        "summary": "List valid documents",
        "tags": [
          "Documents"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/documents/index/expired": {
      "get": {
        "operationId": "listexpireddocuments",
        "summary": "List expired documents",
        "tags": [
          "Documents"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/documents/index/expiring": {
      "get": {
        "operationId": "listexpiringdocuments",
        "summary": "List expiring documents",
        "tags": [
          "Documents"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/induction/index": {
      "get": {
        "operationId": "listinductions",
        "summary": "List inductions",
        "tags": [
          "Training"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/training/index": {
      "get": {
        "operationId": "listtrainingprograms",
        "summary": "List training programs",
        "tags": [
          "Training"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/induction/records/{id}": {
      "get": {
        "operationId": "getinductionrecords",
        "summary": "Get induction records",
        "tags": [
          "Training"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/training/records/{id}": {
      "get": {
        "operationId": "gettrainingrecords",
        "summary": "Get training records",
        "tags": [
          "Training"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/register/index": {
      "get": {
        "operationId": "listregisters",
        "summary": "List registers",
        "tags": [
          "Registers"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/register/show/{id}": {
      "get": {
        "operationId": "getregisterdetails",
        "summary": "Get register details",
        "tags": [
          "Registers"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/register/entries/{id}": {
      "get": {
        "operationId": "getregisterentries",
        "summary": "Get register entries",
        "tags": [
          "Registers"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/subscription/index": {
      "get": {
        "operationId": "listsubscriptions",
        "summary": "List subscriptions",
        "tags": [
          "Subscriptions"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/subscription/create": {
      "post": {
        "operationId": "createsubscription",
        "summary": "Create subscription",
        "tags": [
          "Subscriptions"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/subscription/delete": {
      "post": {
        "operationId": "deletesubscription",
        "summary": "Delete subscription",
        "tags": [
          "Subscriptions"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "InducteeCreate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "approved": {
            "type": "boolean"
          },
          "role": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "mobile": {
            "type": "string"
          },
          "dob": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "AssetCreate": {
        "type": "object",
        "properties": {
          "make": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "meterType": {
            "type": "string"
          },
          "serialNumber": {
            "type": "string"
          },
          "registration": {
            "type": "string"
          },
          "location": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}