{
  "openapi": "3.0.3",
  "info": {
    "title": "PhotoRoom API",
    "description": "PhotoRoom API provides image editing capabilities including background removal, AI-powered editing features such as shadows, backgrounds, relighting, text removal, expand, uncrop, beautifier, flat lay, ghost mannequin, virtual model, and upscale.",
    "version": "2.0.0",
    "x-jentic-source-url": "https://docs.photoroom.com/getting-started/api-reference-openapi"
  },
  "servers": [
    {
      "url": "https://image-api.photoroom.com",
      "description": "Image Editing API server"
    },
    {
      "url": "https://sdk.photoroom.com",
      "description": "Remove Background API server"
    }
  ],
  "paths": {
    "/v2/edit": {
      "get": {
        "operationId": "editImageByUrl",
        "summary": "Edit image by URL",
        "description": "Process an image provided via URL with various editing operations including background removal, shadow effects, background replacement, and more.",
        "tags": [
          "Image Editing"
        ],
        "parameters": [
          {
            "name": "imageUrl",
            "in": "query",
            "required": true,
            "description": "URL of the image to process. The image must be hosted on the Internet.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "shadow.mode",
            "in": "query",
            "required": false,
            "description": "Shadow effect mode (e.g., 'ai.soft').",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "background.color",
            "in": "query",
            "required": false,
            "description": "Hex color code for a solid background.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "padding",
            "in": "query",
            "required": false,
            "description": "Padding percentage around the subject.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "removeBackground",
            "in": "query",
            "required": false,
            "description": "Whether to remove the background. Defaults to true.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "outputSize",
            "in": "query",
            "required": false,
            "description": "Output image dimensions.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "background.prompt",
            "in": "query",
            "required": false,
            "description": "AI prompt for generating a background.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Processed image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        }
      },
      "post": {
        "operationId": "editImageByUpload",
        "summary": "Edit image by file upload",
        "description": "Process an uploaded image file with various editing operations including background removal, shadow effects, background replacement, and more.",
        "tags": [
          "Image Editing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/EditImageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Processed image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        }
      }
    },
    "/v1/segment": {
      "post": {
        "operationId": "removeBackground",
        "summary": "Remove background from image",
        "description": "Remove the background from an image. This endpoint only removes the background without any other editing operations. It maintains the original image quality and is faster than the full editing endpoint.",
        "tags": [
          "Background Removal"
        ],
        "servers": [
          {
            "url": "https://sdk.photoroom.com",
            "description": "Remove Background API server"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/RemoveBackgroundRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image with background removed",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        }
      }
    },
    "/v2/account": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get account details",
        "description": "Retrieve account details including quota information and usage statistics.",
        "tags": [
          "Account"
        ],
        "servers": [
          {
            "url": "https://image-api.photoroom.com",
            "description": "Image Editing API server"
          }
        ],
        "responses": {
          "200": {
            "description": "Account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key obtained from the PhotoRoom API Dashboard at https://app.photoroom.com/api-dashboard"
      }
    },
    "schemas": {
      "EditImageRequest": {
        "type": "object",
        "required": [
          "imageFile"
        ],
        "properties": {
          "imageFile": {
            "type": "string",
            "format": "binary",
            "description": "The image file to process."
          },
          "shadow.mode": {
            "type": "string",
            "description": "Shadow effect mode (e.g., 'ai.soft')."
          },
          "background.color": {
            "type": "string",
            "description": "Hex color code for a solid background."
          },
          "padding": {
            "type": "number",
            "description": "Padding percentage around the subject."
          },
          "removeBackground": {
            "type": "boolean",
            "default": true,
            "description": "Whether to remove the background."
          },
          "outputSize": {
            "type": "string",
            "description": "Output image dimensions."
          },
          "background.prompt": {
            "type": "string",
            "description": "AI prompt for generating a background."
          }
        }
      },
      "RemoveBackgroundRequest": {
        "type": "object",
        "required": [
          "image_file"
        ],
        "properties": {
          "image_file": {
            "type": "string",
            "format": "binary",
            "description": "The image file to remove the background from."
          },
          "format": {
            "type": "string",
            "description": "Output image format.",
            "enum": [
              "png",
              "jpg"
            ]
          },
          "channels": {
            "type": "string",
            "description": "Color channels for the output."
          },
          "bg_color": {
            "type": "string",
            "description": "Background color for the output."
          },
          "size": {
            "type": "string",
            "description": "Output image size."
          },
          "crop": {
            "type": "boolean",
            "description": "Whether to crop the image to the subject."
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Account email address."
          },
          "plan": {
            "type": "string",
            "description": "Current subscription plan."
          },
          "quota": {
            "type": "object",
            "properties": {
              "remaining": {
                "type": "integer",
                "description": "Remaining API calls."
              },
              "total": {
                "type": "integer",
                "description": "Total API calls in the plan."
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message."
          },
          "code": {
            "type": "integer",
            "description": "Error code."
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Image Editing",
      "description": "Image editing operations (Plus Plan)"
    },
    {
      "name": "Background Removal",
      "description": "Background removal operations (Basic Plan)"
    },
    {
      "name": "Account",
      "description": "Account management operations"
    }
  ]
}