{
  "openapi": "3.0.3",
  "info": {
    "title": "AssemblyAI API",
    "version": "2.0",
    "description": "Speech-to-text and audio intelligence API.",
    "x-jentic-source-url": "https://www.assemblyai.com/docs/",
    "contact": {
      "name": "AssemblyAI API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.assemblyai.com"
    }
  ],
  "paths": {
    "/v2/upload": {
      "post": {
        "operationId": "uploadFile",
        "summary": "Upload media file",
        "tags": [
          "Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Upload media file"
      }
    },
    "/v2/transcript": {
      "post": {
        "operationId": "createTranscript",
        "summary": "Create transcript",
        "tags": [
          "Transcripts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "audio_url": {
                    "type": "string"
                  },
                  "language_code": {
                    "type": "string"
                  },
                  "speaker_labels": {
                    "type": "boolean"
                  },
                  "auto_chapters": {
                    "type": "boolean"
                  },
                  "entity_detection": {
                    "type": "boolean"
                  },
                  "sentiment_analysis": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transcript"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create transcript"
      },
      "get": {
        "operationId": "listTranscripts",
        "summary": "List transcripts",
        "tags": [
          "Transcripts"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": ""
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "created_on",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "before_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "after_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscriptList"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List transcripts"
      }
    },
    "/v2/transcript/{transcript_id}": {
      "get": {
        "operationId": "getTranscript",
        "summary": "Get transcript",
        "tags": [
          "Transcripts"
        ],
        "parameters": [
          {
            "name": "transcript_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transcript"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get transcript"
      },
      "delete": {
        "operationId": "deleteTranscript",
        "summary": "Delete transcript",
        "tags": [
          "Transcripts"
        ],
        "parameters": [
          {
            "name": "transcript_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete transcript"
      }
    },
    "/v2/transcript/{transcript_id}/sentences": {
      "get": {
        "operationId": "getTranscriptSentences",
        "summary": "Get transcript sentences",
        "tags": [
          "Transcripts"
        ],
        "parameters": [
          {
            "name": "transcript_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get transcript sentences"
      }
    },
    "/v2/transcript/{transcript_id}/paragraphs": {
      "get": {
        "operationId": "getTranscriptParagraphs",
        "summary": "Get transcript paragraphs",
        "tags": [
          "Transcripts"
        ],
        "parameters": [
          {
            "name": "transcript_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get transcript paragraphs"
      }
    },
    "/v2/transcript/{transcript_id}/subtitles": {
      "get": {
        "operationId": "getTranscriptSubtitles",
        "summary": "Get subtitles (SRT/VTT)",
        "tags": [
          "Transcripts"
        ],
        "parameters": [
          {
            "name": "transcript_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "subtitle_format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "srt or vtt"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get subtitles (SRT/VTT)"
      }
    },
    "/v2/transcript/{transcript_id}/redacted-audio": {
      "get": {
        "operationId": "getRedactedAudio",
        "summary": "Get redacted audio",
        "tags": [
          "Transcripts"
        ],
        "parameters": [
          {
            "name": "transcript_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get redacted audio"
      }
    },
    "/v2/transcript/{transcript_id}/word-search": {
      "get": {
        "operationId": "wordSearch",
        "summary": "Search words in transcript",
        "tags": [
          "Transcripts"
        ],
        "parameters": [
          {
            "name": "transcript_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "words",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated words to search"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Search words in transcript"
      }
    },
    "/v2/realtime/token": {
      "post": {
        "operationId": "createRealtimeToken",
        "summary": "Create realtime streaming token",
        "tags": [
          "Streaming"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "expires_in": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create realtime streaming token"
      }
    },
    "/v2/llm/chat-completions": {
      "post": {
        "operationId": "createChatCompletion",
        "summary": "Create LLM chat completion",
        "tags": [
          "LLM"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string"
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create LLM chat completion"
      }
    }
  },
  "components": {
    "schemas": {
      "UploadResponse": {
        "type": "object",
        "properties": {
          "upload_url": {
            "type": "string"
          }
        }
      },
      "Transcript": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "processing",
              "completed",
              "error"
            ]
          },
          "text": {
            "type": "string"
          },
          "audio_url": {
            "type": "string"
          },
          "language_model": {
            "type": "string"
          }
        }
      },
      "TranscriptList": {
        "type": "object",
        "properties": {
          "page_details": {
            "type": "object"
          },
          "transcripts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transcript"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "authorization"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Files"
    },
    {
      "name": "LLM"
    },
    {
      "name": "Streaming"
    },
    {
      "name": "Transcripts"
    }
  ]
}
