{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "description": "The Data Portability API lets you build applications that request authorization from a user to move a copy of data from Google services into your application. This enables data portability and facilitates switching services.",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "termsOfService": "https://developers.google.com/terms/",
    "title": "Data Portability API",
    "version": "v1beta",
    "x-jentic-source-url": "https://dataportability.googleapis.com/$discovery/rest?version=v1beta"
  },
  "servers": [
    {
      "url": "https://dataportability.googleapis.com/"
    }
  ],
  "paths": {
    "/v1beta/accessType:check": {
      "parameters": [
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        }
      ],
      "post": {
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CheckAccessTypeResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.alerts.subscriptions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.alerts.subscriptions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.businessmessaging.conversations"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.businessmessaging.conversations"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.autofill"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.autofill"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.bookmarks"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.bookmarks"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.dictionary"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.dictionary"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.extensions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.extensions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.history"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.history"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.reading_list"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.reading_list"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.settings"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.settings"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.discover.follows"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.discover.follows"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.discover.likes"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.discover.likes"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.discover.not_interested"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.discover.not_interested"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.aliased_places"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.aliased_places"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.commute_routes"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.commute_routes"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.commute_settings"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.commute_settings"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.ev_profile"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.ev_profile"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.factual_contributions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.factual_contributions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.offering_contributions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.offering_contributions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.photos_videos"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.photos_videos"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.questions_answers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.questions_answers"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.reviews"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.reviews"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.starred_places"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.starred_places"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.myactivity.maps"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.myactivity.maps"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.myactivity.myadcenter"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.myactivity.myadcenter"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.myactivity.play"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.myactivity.play"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.myactivity.search"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.myactivity.search"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.myactivity.shopping"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.myactivity.shopping"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.myactivity.youtube"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.myactivity.youtube"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.mymaps.maps"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.mymaps.maps"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.order_reserve.purchases_reservations"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.order_reserve.purchases_reservations"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.devices"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.devices"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.grouping"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.grouping"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.installs"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.installs"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.library"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.library"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.playpoints"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.playpoints"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.promotions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.promotions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.purchases"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.purchases"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.redemptions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.redemptions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.subscriptions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.subscriptions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.usersettings"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.usersettings"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.saved.collections"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.saved.collections"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.comments"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.comments"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.reviews_and_stars"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.reviews_and_stars"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.streaming_video_providers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.streaming_video_providers"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.thumbs"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.thumbs"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.watched"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.watched"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.searchnotifications.settings"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.searchnotifications.settings"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.searchnotifications.subscriptions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.searchnotifications.subscriptions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.shopping.addresses"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.shopping.addresses"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.shopping.reviews"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.shopping.reviews"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.streetview.imagery"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.streetview.imagery"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.channel"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.channel"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.clips"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.clips"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.comments"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.comments"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.live_chat"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.live_chat"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.music"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.music"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.playable"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.playable"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.posts"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.posts"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.private_playlists"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.private_playlists"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.private_videos"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.private_videos"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.public_playlists"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.public_playlists"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.public_videos"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.public_videos"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.shopping"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.shopping"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.subscriptions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.subscriptions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.unlisted_playlists"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.unlisted_playlists"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.unlisted_videos"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.unlisted_videos"
            ]
          }
        ],
        "tags": [
          "accessType"
        ],
        "description": "Gets the access type of the token.",
        "operationId": "dataportability.accessType.check",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckAccessTypeRequest"
              }
            }
          }
        }
      }
    },
    "/v1beta/authorization:reset": {
      "parameters": [
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        }
      ],
      "post": {
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.alerts.subscriptions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.alerts.subscriptions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.businessmessaging.conversations"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.businessmessaging.conversations"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.autofill"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.autofill"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.bookmarks"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.bookmarks"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.dictionary"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.dictionary"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.extensions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.extensions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.history"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.history"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.reading_list"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.reading_list"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.settings"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.settings"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.discover.follows"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.discover.follows"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.discover.likes"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.discover.likes"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.discover.not_interested"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.discover.not_interested"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.aliased_places"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.aliased_places"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.commute_routes"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.commute_routes"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.commute_settings"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.commute_settings"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.ev_profile"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.ev_profile"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.factual_contributions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.factual_contributions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.offering_contributions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.offering_contributions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.photos_videos"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.photos_videos"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.questions_answers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.questions_answers"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.reviews"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.reviews"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.starred_places"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.starred_places"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.myactivity.maps"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.myactivity.maps"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.myactivity.myadcenter"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.myactivity.myadcenter"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.myactivity.play"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.myactivity.play"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.myactivity.search"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.myactivity.search"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.myactivity.shopping"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.myactivity.shopping"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.myactivity.youtube"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.myactivity.youtube"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.mymaps.maps"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.mymaps.maps"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.order_reserve.purchases_reservations"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.order_reserve.purchases_reservations"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.devices"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.devices"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.grouping"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.grouping"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.installs"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.installs"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.library"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.library"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.playpoints"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.playpoints"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.promotions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.promotions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.purchases"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.purchases"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.redemptions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.redemptions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.subscriptions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.subscriptions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.usersettings"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.usersettings"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.saved.collections"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.saved.collections"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.comments"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.comments"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.reviews_and_stars"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.reviews_and_stars"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.streaming_video_providers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.streaming_video_providers"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.thumbs"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.thumbs"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.watched"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.watched"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.searchnotifications.settings"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.searchnotifications.settings"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.searchnotifications.subscriptions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.searchnotifications.subscriptions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.shopping.addresses"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.shopping.addresses"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.shopping.reviews"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.shopping.reviews"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.streetview.imagery"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.streetview.imagery"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.channel"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.channel"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.clips"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.clips"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.comments"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.comments"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.live_chat"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.live_chat"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.music"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.music"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.playable"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.playable"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.posts"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.posts"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.private_playlists"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.private_playlists"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.private_videos"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.private_videos"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.public_playlists"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.public_playlists"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.public_videos"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.public_videos"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.shopping"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.shopping"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.subscriptions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.subscriptions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.unlisted_playlists"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.unlisted_playlists"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.unlisted_videos"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.unlisted_videos"
            ]
          }
        ],
        "tags": [
          "authorization"
        ],
        "description": "Revokes OAuth tokens and resets exhausted scopes for a user/project pair. This method allows you to initiate a request after a new consent is granted. This method also indicates that previous archives can be garbage collected. You should call this method when all jobs are complete and all archives are downloaded. Do not call it only when you start a new job.",
        "operationId": "dataportability.authorization.reset",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetAuthorizationRequest"
              }
            }
          }
        }
      }
    },
    "/v1beta/portabilityArchive:initiate": {
      "parameters": [
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        }
      ],
      "post": {
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InitiatePortabilityArchiveResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.alerts.subscriptions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.alerts.subscriptions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.businessmessaging.conversations"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.businessmessaging.conversations"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.autofill"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.autofill"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.bookmarks"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.bookmarks"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.dictionary"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.dictionary"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.extensions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.extensions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.history"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.history"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.reading_list"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.reading_list"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.settings"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.settings"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.discover.follows"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.discover.follows"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.discover.likes"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.discover.likes"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.discover.not_interested"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.discover.not_interested"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.aliased_places"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.aliased_places"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.commute_routes"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.commute_routes"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.commute_settings"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.commute_settings"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.ev_profile"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.ev_profile"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.factual_contributions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.factual_contributions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.offering_contributions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.offering_contributions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.photos_videos"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.photos_videos"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.questions_answers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.questions_answers"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.reviews"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.reviews"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.starred_places"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.starred_places"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.myactivity.maps"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.myactivity.maps"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.myactivity.myadcenter"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.myactivity.myadcenter"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.myactivity.play"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.myactivity.play"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.myactivity.search"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.myactivity.search"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.myactivity.shopping"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.myactivity.shopping"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.myactivity.youtube"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.myactivity.youtube"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.mymaps.maps"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.mymaps.maps"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.order_reserve.purchases_reservations"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.order_reserve.purchases_reservations"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.devices"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.devices"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.grouping"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.grouping"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.installs"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.installs"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.library"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.library"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.playpoints"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.playpoints"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.promotions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.promotions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.purchases"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.purchases"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.redemptions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.redemptions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.subscriptions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.subscriptions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.usersettings"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.usersettings"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.saved.collections"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.saved.collections"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.comments"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.comments"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.reviews_and_stars"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.reviews_and_stars"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.streaming_video_providers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.streaming_video_providers"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.thumbs"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.thumbs"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.watched"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.watched"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.searchnotifications.settings"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.searchnotifications.settings"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.searchnotifications.subscriptions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.searchnotifications.subscriptions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.shopping.addresses"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.shopping.addresses"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.shopping.reviews"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.shopping.reviews"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.streetview.imagery"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.streetview.imagery"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.channel"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.channel"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.clips"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.clips"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.comments"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.comments"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.live_chat"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.live_chat"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.music"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.music"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.playable"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.playable"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.posts"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.posts"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.private_playlists"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.private_playlists"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.private_videos"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.private_videos"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.public_playlists"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.public_playlists"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.public_videos"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.public_videos"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.shopping"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.shopping"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.subscriptions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.subscriptions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.unlisted_playlists"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.unlisted_playlists"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.unlisted_videos"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.unlisted_videos"
            ]
          }
        ],
        "tags": [
          "portabilityArchive"
        ],
        "description": "Initiates a new Archive job for the Portability API.",
        "operationId": "dataportability.portabilityArchive.initiate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitiatePortabilityArchiveRequest"
              }
            }
          }
        }
      }
    },
    "/v1beta/{+name}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Required. The archive job ID that is returned when you request the state of the job. The format is: archiveJobs/{archive_job}/portabilityArchiveState. archive_job is the job ID returned by the InitiatePortabilityArchiveResponse.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PortabilityArchiveState"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.alerts.subscriptions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.alerts.subscriptions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.businessmessaging.conversations"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.businessmessaging.conversations"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.autofill"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.autofill"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.bookmarks"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.bookmarks"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.dictionary"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.dictionary"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.extensions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.extensions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.history"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.history"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.reading_list"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.reading_list"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.settings"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.settings"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.discover.follows"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.discover.follows"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.discover.likes"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.discover.likes"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.discover.not_interested"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.discover.not_interested"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.aliased_places"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.aliased_places"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.commute_routes"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.commute_routes"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.commute_settings"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.commute_settings"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.ev_profile"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.ev_profile"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.factual_contributions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.factual_contributions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.offering_contributions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.offering_contributions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.photos_videos"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.photos_videos"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.questions_answers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.questions_answers"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.reviews"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.reviews"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.starred_places"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.starred_places"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.myactivity.maps"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.myactivity.maps"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.myactivity.myadcenter"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.myactivity.myadcenter"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.myactivity.play"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.myactivity.play"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.myactivity.search"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.myactivity.search"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.myactivity.shopping"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.myactivity.shopping"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.myactivity.youtube"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.myactivity.youtube"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.mymaps.maps"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.mymaps.maps"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.order_reserve.purchases_reservations"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.order_reserve.purchases_reservations"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.devices"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.devices"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.grouping"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.grouping"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.installs"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.installs"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.library"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.library"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.playpoints"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.playpoints"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.promotions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.promotions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.purchases"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.purchases"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.redemptions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.redemptions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.subscriptions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.subscriptions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.usersettings"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.usersettings"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.saved.collections"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.saved.collections"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.comments"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.comments"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.reviews_and_stars"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.reviews_and_stars"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.streaming_video_providers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.streaming_video_providers"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.thumbs"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.thumbs"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.watched"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.watched"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.searchnotifications.settings"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.searchnotifications.settings"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.searchnotifications.subscriptions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.searchnotifications.subscriptions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.shopping.addresses"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.shopping.addresses"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.shopping.reviews"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.shopping.reviews"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.streetview.imagery"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.streetview.imagery"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.channel"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.channel"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.clips"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.clips"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.comments"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.comments"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.live_chat"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.live_chat"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.music"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.music"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.playable"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.playable"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.posts"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.posts"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.private_playlists"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.private_playlists"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.private_videos"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.private_videos"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.public_playlists"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.public_playlists"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.public_videos"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.public_videos"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.shopping"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.shopping"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.subscriptions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.subscriptions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.unlisted_playlists"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.unlisted_playlists"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.unlisted_videos"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.unlisted_videos"
            ]
          }
        ],
        "tags": [
          "archiveJobs"
        ],
        "description": "Retrieves the state of an Archive job for the Portability API.",
        "operationId": "dataportability.archiveJobs.getPortabilityArchiveState"
      }
    },
    "/v1beta/{+name}:cancel": {
      "parameters": [
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "Required. The Archive job ID you're canceling. This is returned by the InitiatePortabilityArchive response. The format is: archiveJobs/{archive_job}. Canceling is only executed if the job is in progress.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CancelPortabilityArchiveResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.alerts.subscriptions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.alerts.subscriptions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.businessmessaging.conversations"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.businessmessaging.conversations"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.autofill"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.autofill"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.bookmarks"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.bookmarks"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.dictionary"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.dictionary"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.extensions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.extensions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.history"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.history"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.reading_list"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.reading_list"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.chrome.settings"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.chrome.settings"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.discover.follows"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.discover.follows"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.discover.likes"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.discover.likes"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.discover.not_interested"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.discover.not_interested"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.aliased_places"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.aliased_places"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.commute_routes"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.commute_routes"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.commute_settings"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.commute_settings"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.ev_profile"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.ev_profile"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.factual_contributions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.factual_contributions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.offering_contributions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.offering_contributions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.photos_videos"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.photos_videos"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.questions_answers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.questions_answers"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.reviews"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.reviews"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.maps.starred_places"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.maps.starred_places"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.myactivity.maps"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.myactivity.maps"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.myactivity.myadcenter"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.myactivity.myadcenter"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.myactivity.play"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.myactivity.play"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.myactivity.search"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.myactivity.search"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.myactivity.shopping"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.myactivity.shopping"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.myactivity.youtube"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.myactivity.youtube"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.mymaps.maps"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.mymaps.maps"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.order_reserve.purchases_reservations"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.order_reserve.purchases_reservations"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.devices"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.devices"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.grouping"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.grouping"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.installs"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.installs"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.library"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.library"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.playpoints"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.playpoints"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.promotions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.promotions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.purchases"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.purchases"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.redemptions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.redemptions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.subscriptions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.subscriptions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.play.usersettings"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.play.usersettings"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.saved.collections"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.saved.collections"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.comments"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.comments"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.reviews_and_stars"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.reviews_and_stars"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.streaming_video_providers"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.streaming_video_providers"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.thumbs"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.thumbs"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.watched"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.search_ugc.media.watched"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.searchnotifications.settings"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.searchnotifications.settings"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.searchnotifications.subscriptions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.searchnotifications.subscriptions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.shopping.addresses"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.shopping.addresses"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.shopping.reviews"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.shopping.reviews"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.streetview.imagery"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.streetview.imagery"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.channel"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.channel"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.clips"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.clips"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.comments"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.comments"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.live_chat"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.live_chat"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.music"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.music"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.playable"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.playable"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.posts"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.posts"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.private_playlists"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.private_playlists"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.private_videos"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.private_videos"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.public_playlists"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.public_playlists"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.public_videos"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.public_videos"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.shopping"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.shopping"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.subscriptions"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.subscriptions"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.unlisted_playlists"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.unlisted_playlists"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dataportability.youtube.unlisted_videos"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/dataportability.youtube.unlisted_videos"
            ]
          }
        ],
        "tags": [
          "archiveJobs"
        ],
        "description": "Cancels a Portability Archive job.",
        "operationId": "dataportability.archiveJobs.cancel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelPortabilityArchiveRequest"
              }
            }
          }
        }
      }
    },
    "/v1beta/{+name}:retry": {
      "parameters": [
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
[...]
