{
  "openapi": "3.0.3",
  "info": {
    "title": "Backblaze B2 Cloud Storage Native API",
    "description": "The Backblaze B2 Native API provides programmatic access to Backblaze B2 Cloud Storage. Manage buckets, upload and download files, list files, and control access with application keys. This spec covers the core operations of the B2 Native API (v4).",
    "version": "4",
    "contact": {
      "name": "Backblaze Support",
      "url": "https://www.backblaze.com/help"
    },
    "x-categories": [
      "Cloud Storage"
    ],
    "x-logo": {
      "url": "https://www.backblaze.com/favicon.ico"
    }
  },
  "servers": [
    {
      "url": "https://api.backblazeb2.com",
      "description": "Backblaze B2 API (authorize first to get actual API URL)"
    }
  ],
  "paths": {
    "/b2api/v4/b2_authorize_account": {
      "get": {
        "operationId": "authorizeAccount",
        "summary": "Authorize account",
        "description": "Authenticates with the B2 API using an application key ID and application key. Returns an authorization token, API URL, download URL, and allowed capabilities. This must be called first before any other API call.",
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Authorization successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizeAccountResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2Error"
                }
              }
            }
          }
        },
        "tags": [
          "Authorization"
        ]
      }
    },
    "/b2api/v4/b2_create_bucket": {
      "post": {
        "operationId": "createBucket",
        "summary": "Create a bucket",
        "description": "Creates a new bucket. Bucket names must be globally unique, between 6 and 63 characters, and cannot start with \"b2-\". Limited to 100 buckets per account by default.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBucketRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bucket created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bucket"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2Error"
                }
              }
            }
          }
        },
        "tags": [
          "Buckets"
        ]
      }
    },
    "/b2api/v4/b2_delete_bucket": {
      "post": {
        "operationId": "deleteBucket",
        "summary": "Delete a bucket",
        "description": "Deletes the specified bucket. Only buckets that contain no files can be deleted.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId",
                  "bucketId"
                ],
                "properties": {
                  "accountId": {
                    "type": "string",
                    "description": "Your account ID"
                  },
                  "bucketId": {
                    "type": "string",
                    "description": "The ID of the bucket to delete"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bucket deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bucket"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (e.g., bucket not empty)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2Error"
                }
              }
            }
          }
        },
        "tags": [
          "Buckets"
        ]
      }
    },
    "/b2api/v4/b2_list_buckets": {
      "post": {
        "operationId": "listBuckets",
        "summary": "List buckets",
        "description": "Lists all buckets associated with an account.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId"
                ],
                "properties": {
                  "accountId": {
                    "type": "string",
                    "description": "Your account ID"
                  },
                  "bucketId": {
                    "type": "string",
                    "description": "Filter to a specific bucket ID"
                  },
                  "bucketName": {
                    "type": "string",
                    "description": "Filter to a specific bucket name"
                  },
                  "bucketTypes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Filter to specific bucket types"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of buckets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "buckets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Bucket"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2Error"
                }
              }
            }
          }
        },
        "tags": [
          "Buckets"
        ]
      }
    },
    "/b2api/v4/b2_update_bucket": {
      "post": {
        "operationId": "updateBucket",
        "summary": "Update a bucket",
        "description": "Updates settings on an existing bucket.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId",
                  "bucketId"
                ],
                "properties": {
                  "accountId": {
                    "type": "string"
                  },
                  "bucketId": {
                    "type": "string"
                  },
                  "bucketType": {
                    "type": "string",
                    "enum": [
                      "allPublic",
                      "allPrivate"
                    ]
                  },
                  "bucketInfo": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "corsRules": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CorsRule"
                    }
                  },
                  "lifecycleRules": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/LifecycleRule"
                    }
                  },
                  "fileLockEnabled": {
                    "type": "boolean"
                  },
                  "defaultServerSideEncryption": {
                    "$ref": "#/components/schemas/ServerSideEncryption"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bucket updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bucket"
                }
              }
            }
          }
        },
        "tags": [
          "Buckets"
        ]
      }
    },
    "/b2api/v4/b2_get_upload_url": {
      "post": {
        "operationId": "getUploadUrl",
        "summary": "Get upload URL",
        "description": "Gets a URL to use for uploading files to a specific bucket. The returned authorization token and upload URL must be used together.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "bucketId"
                ],
                "properties": {
                  "bucketId": {
                    "type": "string",
                    "description": "The ID of the bucket to upload to"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload URL details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bucketId": {
                      "type": "string"
                    },
                    "uploadUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "authorizationToken": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Files"
        ]
      }
    },
    "/b2api/v4/b2_upload_file": {
      "post": {
        "operationId": "uploadFile",
        "summary": "Upload a file",
        "description": "Uploads one file to B2. Must use the upload URL and authorization token obtained from b2_get_upload_url. File content is sent as the request body with appropriate headers.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Upload authorization token from b2_get_upload_url",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Bz-File-Name",
            "in": "header",
            "required": true,
            "description": "URL-encoded file name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "MIME type of the file (use b2/x-auto for auto-detection)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Length",
            "in": "header",
            "required": true,
            "description": "Size of the file in bytes",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "X-Bz-Content-Sha1",
            "in": "header",
            "required": true,
            "description": "SHA1 checksum of the file content (or \"do_not_verify\")",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Bz-Info-src_last_modified_millis",
            "in": "header",
            "description": "Source file last modified time in milliseconds since epoch",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileObject"
                }
              }
            }
          }
        },
        "tags": [
          "Files"
        ]
      }
    },
    "/b2api/v4/b2_list_file_names": {
      "get": {
        "operationId": "listFileNames",
        "summary": "List file names",
        "description": "Lists the names of all files in a bucket, starting at a given name. Returns at most 10,000 file names per call, with pagination via nextFileName. Supports prefix and delimiter for folder-like listing.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          },
          {
            "name": "bucketId",
            "in": "query",
            "required": true,
            "description": "The bucket to look for file names in",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startFileName",
            "in": "query",
            "description": "The first file name to return",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxFileCount",
            "in": "query",
            "description": "Maximum number of files to return (default 100, max 10000)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 10000
            }
          },
          {
            "name": "prefix",
            "in": "query",
            "description": "Only return files whose names start with this prefix",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "delimiter",
            "in": "query",
            "description": "Delimiter for folder-like listing (usually /)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of file names",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileListResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Files"
        ]
      }
    },
    "/b2api/v4/b2_list_file_versions": {
      "get": {
        "operationId": "listFileVersions",
        "summary": "List file versions",
        "description": "Lists all versions of all files in a bucket, including hidden files and hide markers.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          },
          {
            "name": "bucketId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startFileName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startFileId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxFileCount",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 10000
            }
          },
          {
            "name": "prefix",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "delimiter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of file versions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileVersionListResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Files"
        ]
      }
    },
    "/b2api/v4/b2_delete_file_version": {
      "post": {
        "operationId": "deleteFileVersion",
        "summary": "Delete a file version",
        "description": "Deletes one version of a file. If the deleted version is the latest, the most recent older version becomes current.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fileName",
                  "fileId"
                ],
                "properties": {
                  "fileName": {
                    "type": "string",
                    "description": "The name of the file"
                  },
                  "fileId": {
                    "type": "string",
                    "description": "The ID of the file version to delete"
                  },
                  "bypassGovernance": {
                    "type": "boolean",
                    "description": "Set to true to delete Object Lock governance-protected files"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File version deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileId": {
                      "type": "string"
                    },
                    "fileName": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2Error"
                }
              }
            }
          }
        },
        "tags": [
          "Files"
        ]
      }
    },
    "/b2api/v4/b2_get_file_info": {
      "post": {
        "operationId": "getFileInfo",
        "summary": "Get file info",
        "description": "Gets information about one file stored in B2.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fileId"
                ],
                "properties": {
                  "fileId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileObject"
                }
              }
            }
          }
        },
        "tags": [
          "Files"
        ]
      }
    },
    "/b2api/v4/b2_download_file_by_id": {
      "get": {
        "operationId": "downloadFileById",
        "summary": "Download file by ID",
        "description": "Downloads one file from B2 by file ID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          },
          {
            "name": "fileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Range",
            "in": "header",
            "description": "Byte range to download",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File content",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {
              "X-Bz-File-Name": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Bz-Content-Sha1": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Bz-File-Id": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "Files"
        ]
      }
    },
    "/b2api/v4/b2_hide_file": {
      "post": {
        "operationId": "hideFile",
        "summary": "Hide a file",
        "description": "Hides a file so that downloading by name will not find it. Previous versions still exist and can be listed.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "bucketId",
                  "fileName"
                ],
                "properties": {
                  "bucketId": {
                    "type": "string"
                  },
                  "fileName": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File hidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileObject"
                }
              }
            }
          }
        },
        "tags": [
          "Files"
        ]
      }
    },
    "/b2api/v4/b2_create_key": {
      "post": {
        "operationId": "createKey",
        "summary": "Create an application key",
        "description": "Creates a new application key with specific capabilities.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId",
                  "keyName",
                  "capabilities"
                ],
                "properties": {
                  "accountId": {
                    "type": "string"
                  },
                  "keyName": {
                    "type": "string",
                    "description": "Name for the key (1-100 characters)"
                  },
                  "capabilities": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of capabilities for this key"
                  },
                  "validDurationInSeconds": {
                    "type": "integer",
                    "description": "Time in seconds before key expires"
                  },
                  "bucketId": {
                    "type": "string",
                    "description": "Restrict key to this bucket"
                  },
                  "namePrefix": {
                    "type": "string",
                    "description": "Restrict key to files with this prefix"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application key created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keyName": {
                      "type": "string"
                    },
                    "applicationKeyId": {
                      "type": "string"
                    },
                    "applicationKey": {
                      "type": "string"
                    },
                    "capabilities": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "expirationTimestamp": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "bucketId": {
                      "type": "string"
                    },
                    "namePrefix": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Keys"
        ]
      }
    },
    "/b2api/v4/b2_delete_key": {
      "post": {
        "operationId": "deleteKey",
        "summary": "Delete an application key",
        "description": "Deletes the application key specified.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "applicationKeyId"
                ],
                "properties": {
                  "applicationKeyId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Key deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "applicationKeyId": {
                      "type": "string"
                    },
                    "keyName": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Keys"
        ]
      }
    },
    "/b2api/v4/b2_list_keys": {
      "post": {
        "operationId": "listKeys",
        "summary": "List application keys",
        "description": "Lists application keys associated with an account.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId"
                ],
                "properties": {
                  "accountId": {
                    "type": "string"
                  },
                  "maxKeyCount": {
                    "type": "integer",
                    "description": "Max number of keys to return (default 100)"
                  },
                  "startApplicationKeyId": {
                    "type": "string",
                    "description": "Start from this key ID for pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "keyName": {
                            "type": "string"
                          },
                          "applicationKeyId": {
                            "type": "string"
                          },
                          "capabilities": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "accountId": {
                            "type": "string"
                          },
                          "bucketId": {
                            "type": "string"
                          },
                          "namePrefix": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "nextApplicationKeyId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Keys"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic auth with application key ID as username and application key as password. Only used for b2_authorize_account."
      }
    },
    "parameters": {
      "AuthorizationHeader": {
        "name": "Authorization",
        "in": "header",
        "required": true,
        "description": "Account authorization token obtained from b2_authorize_account",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "AuthorizeAccountResponse": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "authorizationToken": {
            "type": "string",
            "description": "Use this as the Authorization header for subsequent API calls"
          },
          "allowed": {
            "type": "object",
            "properties": {
              "capabilities": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "bucketId": {
                "type": "string"
              },
              "bucketName": {
                "type": "string"
              },
              "namePrefix": {
                "type": "string"
              }
            }
          },
          "apiInfo": {
            "type": "object",
            "properties": {
              "storageApi": {
                "type": "object",
                "properties": {
                  "apiUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "Base URL for all API calls (except file downloads)"
                  },
                  "downloadUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "Base URL for file downloads"
                  },
                  "absoluteMinimumPartSize": {
                    "type": "integer",
                    "description": "Minimum part size for large files"
                  },
                  "recommendedPartSize": {
                    "type": "integer",
                    "description": "Recommended part size for large files"
                  },
                  "bucketId": {
                    "type": "string"
                  },
                  "bucketName": {
                    "type": "string"
                  },
                  "capabilities": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "namePrefix": {
                    "type": "string"
                  },
                  "s3ApiUrl": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        }
      },
      "Bucket": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "bucketId": {
            "type": "string"
          },
          "bucketName": {
            "type": "string"
          },
          "bucketType": {
            "type": "string",
            "enum": [
              "allPublic",
              "allPrivate",
              "restricted",
              "snapshot",
              "shared"
            ]
          },
          "bucketInfo": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "corsRules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CorsRule"
            }
          },
          "lifecycleRules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LifecycleRule"
            }
          },
          "fileLockConfiguration": {
            "type": "object",
            "properties": {
              "isClientAuthorizedToRead": {
                "type": "boolean"
              },
              "value": {
                "type": "object",
                "properties": {
                  "defaultRetention": {
                    "type": "object",
                    "properties": {
                      "mode": {
                        "type": "string"
                      },
                      "period": {
                        "type": "object",
                        "properties": {
                          "duration": {
                            "type": "integer"
                          },
                          "unit": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "isFileLockEnabled": {
                    "type": "boolean"
                  }
                }
              }
            }
          },
          "defaultServerSideEncryption": {
            "$ref": "#/components/schemas/ServerSideEncryption"
          },
          "revision": {
            "type": "integer"
          },
          "options": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CreateBucketRequest": {
        "type": "object",
        "required": [
          "accountId",
          "bucketName",
          "bucketType"
        ],
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Your account ID"
          },
          "bucketName": {
            "type": "string",
            "description": "Globally unique bucket name (6-63 characters)",
            "minLength": 6,
            "maxLength": 63
          },
          "bucketType": {
            "type": "string",
            "enum": [
              "allPublic",
              "allPrivate"
            ],
            "description": "Public or private bucket access"
          },
          "bucketInfo": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "corsRules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CorsRule"
            }
          },
          "lifecycleRules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LifecycleRule"
            }
          },
          "fileLockEnabled": {
            "type": "boolean"
          },
          "defaultServerSideEncryption": {
            "$ref": "#/components/schemas/ServerSideEncryption"
          }
        }
      },
      "CorsRule": {
        "type": "object",
        "properties": {
          "corsRuleName": {
            "type": "string"
          },
          "allowedOrigins": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "allowedHeaders": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "allowedOperations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "exposeHeaders": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "maxAgeSeconds": {
            "type": "integer"
          }
        }
      },
      "LifecycleRule": {
        "type": "object",
        "properties": {
          "daysFromHidingToDeleting": {
            "type": "integer"
          },
          "daysFromUploadingToHiding": {
            "type": "integer"
          },
          "fileNamePrefix": {
            "type": "string"
          }
        }
      },
      "ServerSideEncryption": {
        "type": "object",
        "properties": {
          "isClientAuthorizedToRead": {
            "type": "boolean"
          },
          "value": {
            "type": "object",
            "properties": {
              "mode": {
                "type": "string",
                "enum": [
                  "SSE-B2",
                  "SSE-C",
                  "none"
                ]
              },
              "algorithm": {
                "type": "string",
                "enum": [
                  "AES256"
                ]
              }
            }
          }
        }
      },
      "FileObject": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "action": {
            "type": "string",
            "enum": [
              "start",
              "upload",
              "hide",
              "folder"
            ]
          },
          "bucketId": {
            "type": "string"
          },
          "contentLength": {
            "type": "integer",
            "format": "int64"
          },
          "contentSha1": {
            "type": "string"
          },
          "contentType": {
            "type": "string"
          },
          "fileId": {
            "type": "string"
          },
          "fileInfo": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "fileName": {
            "type": "string"
          },
          "fileRetention": {
            "type": "object",
            "properties": {
              "isClientAuthorizedToRead": {
                "type": "boolean"
              },
              "value": {
                "type": "object",
                "properties": {
                  "mode": {
                    "type": "string"
                  },
                  "retainUntilTimestamp": {
                    "type": "integer",
                    "format": "int64"
                  }
                }
              }
            }
          },
          "legalHold": {
            "type": "object",
            "properties": {
              "isClientAuthorizedToRead": {
                "type": "boolean"
              },
              "value": {
                "type": "string"
              }
            }
          },
          "serverSideEncryption": {
            "type": "object",
            "properties": {
              "algorithm": {
                "type": "string"
              },
              "mode": {
                "type": "string"
              }
            }
          },
          "uploadTimestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Upload time in milliseconds since epoch"
          }
        }
      },
      "FileListResponse": {
        "type": "object",
        "properties": {
          "files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FileObject"
            }
          },
          "nextFileName": {
            "type": "string",
            "description": "Use as startFileName for next page (null when no more results)"
          }
        }
      },
      "FileVersionListResponse": {
        "type": "object",
        "properties": {
          "files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FileObject"
            }
          },
          "nextFileName": {
            "type": "string"
          },
          "nextFileId": {
            "type": "string"
          }
        }
      },
      "B2Error": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "description": "HTTP status code"
          },
          "code": {
            "type": "string",
            "description": "Error code identifier"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Authorization",
      "description": "Account authentication"
    },
    {
      "name": "Buckets",
      "description": "Bucket management operations"
    },
    {
      "name": "Files",
      "description": "File upload, download, listing, and deletion"
    },
    {
      "name": "Keys",
      "description": "Application key management"
    }
  ]
}