{
  "openapi": "3.0.2",
  "info": {
    "title": "Open States API v3",
    "description": "\n* [More documentation](https://docs.openstates.org/en/latest/api/v3/index.html)\n * [Register for an account](https://openstates.org/accounts/signup/)\n\n\n**We are currently working to restore experimental support for committees & events.**\n \nDuring this period please note that data is not yet available for all states\n and the exact format of the new endpoints may change slightly depending on user feedback.\n\nIf you have any issues or questions use our\n[GitHub Issues](https://github.com/openstates/issues/issues) to give feedback.\n",
    "version": "2021.11.12",
    "x-jentic-source-url": "https://v3.openstates.org/openapi.json"
  },
  "servers": [
    {
      "url": "https://v3.openstates.org"
    }
  ],
  "paths": {
    "/jurisdictions": {
      "get": {
        "tags": [
          "jurisdictions"
        ],
        "summary": "Jurisdiction List",
        "description": "Get list of supported Jurisdictions, a Jurisdiction is a state or municipality.",
        "operationId": "jurisdiction_list_jurisdictions_get",
        "parameters": [
          {
            "description": "Filter returned jurisdictions by type.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/JurisdictionClassification"
                }
              ],
              "description": "Filter returned jurisdictions by type."
            },
            "name": "classification",
            "in": "query"
          },
          {
            "description": "Additional information to include in response.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/JurisdictionInclude"
              },
              "description": "Additional information to include in response.",
              "default": []
            },
            "name": "include",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Page",
              "type": "integer",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Per Page",
              "type": "integer",
              "default": 52
            },
            "name": "per_page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Apikey",
              "type": "string"
            },
            "name": "apikey",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "X-Api-Key",
              "type": "string"
            },
            "name": "x-api-key",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JurisdictionList"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/jurisdictions/{jurisdiction_id}": {
      "get": {
        "tags": [
          "jurisdictions"
        ],
        "summary": "Jurisdiction Detail",
        "description": "Get details on a single Jurisdiction (e.g. state or municipality).",
        "operationId": "jurisdiction_detail_jurisdictions__jurisdiction_id__get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Jurisdiction Id",
              "type": "string"
            },
            "name": "jurisdiction_id",
            "in": "path"
          },
          {
            "description": "Additional includes for the Jurisdiction response.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/JurisdictionInclude"
              },
              "description": "Additional includes for the Jurisdiction response.",
              "default": []
            },
            "name": "include",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Apikey",
              "type": "string"
            },
            "name": "apikey",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "X-Api-Key",
              "type": "string"
            },
            "name": "x-api-key",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Jurisdiction"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/people": {
      "get": {
        "tags": [
          "people"
        ],
        "summary": "People Search",
        "description": "Get list of people matching selected criteria.\n\nMust provide either **jurisdiction**, **name**, or one or more **id** parameters.",
        "operationId": "people_search_people_get",
        "parameters": [
          {
            "description": "Filter by jurisdiction name or id.",
            "required": false,
            "schema": {
              "title": "Jurisdiction",
              "type": "string",
              "description": "Filter by jurisdiction name or id."
            },
            "name": "jurisdiction",
            "in": "query"
          },
          {
            "description": "Filter by name, case-insensitive match.",
            "required": false,
            "schema": {
              "title": "Name",
              "type": "string",
              "description": "Filter by name, case-insensitive match."
            },
            "name": "name",
            "in": "query"
          },
          {
            "description": "Filter by id, can be specified multiple times for multiple people.",
            "required": false,
            "schema": {
              "title": "Id",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Filter by id, can be specified multiple times for multiple people.",
              "default": []
            },
            "name": "id",
            "in": "query"
          },
          {
            "description": "Filter by current role.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/OrgClassification"
                }
              ],
              "description": "Filter by current role."
            },
            "name": "org_classification",
            "in": "query"
          },
          {
            "description": "Filter by district name.",
            "required": false,
            "schema": {
              "title": "District",
              "type": "string",
              "description": "Filter by district name."
            },
            "name": "district",
            "in": "query"
          },
          {
            "description": "Additional information to include in response.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PersonInclude"
              },
              "description": "Additional information to include in response.",
              "default": []
            },
            "name": "include",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Page",
              "type": "integer",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Per Page",
              "type": "integer",
              "default": 10
            },
            "name": "per_page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Apikey",
              "type": "string"
            },
            "name": "apikey",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "X-Api-Key",
              "type": "string"
            },
            "name": "x-api-key",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonList"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/people.geo": {
      "get": {
        "tags": [
          "people"
        ],
        "summary": "People Geo",
        "description": "Get list of people currently representing a given location.\n\n **Note:** Currently limited to state legislators and US Congress.  Governors & mayors are not included.",
        "operationId": "people_geo_people_geo_get",
        "parameters": [
          {
            "description": "Latitude of point.",
            "required": true,
            "schema": {
              "title": "Lat",
              "type": "number",
              "description": "Latitude of point."
            },
            "name": "lat",
            "in": "query"
          },
          {
            "description": "Longitude of point.",
            "required": true,
            "schema": {
              "title": "Lng",
              "type": "number",
              "description": "Longitude of point."
            },
            "name": "lng",
            "in": "query"
          },
          {
            "description": "Additional information to include in the response.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PersonInclude"
              },
              "description": "Additional information to include in the response.",
              "default": []
            },
            "name": "include",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Apikey",
              "type": "string"
            },
            "name": "apikey",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "X-Api-Key",
              "type": "string"
            },
            "name": "x-api-key",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonList"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/bills": {
      "get": {
        "tags": [
          "bills"
        ],
        "summary": "Bills Search",
        "description": "Search for bills matching given criteria.\n\nMust either specify a jurisdiction or a full text query (q).  Additional parameters will\nfuther restrict bills returned.",
        "operationId": "bills_search_bills_get",
        "parameters": [
          {
            "description": "Filter by jurisdiction name or ID.",
            "required": false,
            "schema": {
              "title": "Jurisdiction",
              "type": "string",
              "description": "Filter by jurisdiction name or ID."
            },
            "name": "jurisdiction",
            "in": "query"
          },
          {
            "description": "Filter by session identifier.",
            "required": false,
            "schema": {
              "title": "Session",
              "type": "string",
              "description": "Filter by session identifier."
            },
            "name": "session",
            "in": "query"
          },
          {
            "description": "Filter by chamber of origination.",
            "required": false,
            "schema": {
              "title": "Chamber",
              "type": "string",
              "description": "Filter by chamber of origination."
            },
            "name": "chamber",
            "in": "query"
          },
          {
            "description": "Filter to only include bills with this identifier.",
            "required": false,
            "schema": {
              "title": "Identifier",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Filter to only include bills with this identifier.",
              "default": []
            },
            "name": "identifier",
            "in": "query"
          },
          {
            "description": "Filter by classification, e.g. bill or resolution",
            "required": false,
            "schema": {
              "title": "Classification",
              "type": "string",
              "description": "Filter by classification, e.g. bill or resolution"
            },
            "name": "classification",
            "in": "query"
          },
          {
            "description": "Filter by one or more subjects.",
            "required": false,
            "schema": {
              "title": "Subject",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Filter by one or more subjects.",
              "default": []
            },
            "name": "subject",
            "in": "query"
          },
          {
            "description": "Filter to only include bills with updates since a given date.",
            "required": false,
            "schema": {
              "title": "Updated Since",
              "type": "string",
              "description": "Filter to only include bills with updates since a given date."
            },
            "name": "updated_since",
            "in": "query"
          },
          {
            "description": "Filter to only include bills created since a given date.",
            "required": false,
            "schema": {
              "title": "Created Since",
              "type": "string",
              "description": "Filter to only include bills created since a given date."
            },
            "name": "created_since",
            "in": "query"
          },
          {
            "description": "Filter to only include bills with an action since a given date.",
            "required": false,
            "schema": {
              "title": "Action Since",
              "type": "string",
              "description": "Filter to only include bills with an action since a given date."
            },
            "name": "action_since",
            "in": "query"
          },
          {
            "description": "Desired sort order for bill results.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/BillSortOption"
                }
              ],
              "description": "Desired sort order for bill results.",
              "default": "updated_desc"
            },
            "name": "sort",
            "in": "query"
          },
          {
            "description": "Filter to only include bills sponsored by a given name or person ID.",
            "required": false,
            "schema": {
              "title": "Sponsor",
              "type": "string",
              "description": "Filter to only include bills sponsored by a given name or person ID."
            },
            "name": "sponsor",
            "in": "query"
          },
          {
            "description": "Filter matched sponsors to only include particular types of sponsorships.",
            "required": false,
            "schema": {
              "title": "Sponsor Classification",
              "type": "string",
              "description": "Filter matched sponsors to only include particular types of sponsorships."
            },
            "name": "sponsor_classification",
            "in": "query"
          },
          {
            "description": "Filter by full text search term.",
            "required": false,
            "schema": {
              "title": "Q",
              "type": "string",
              "description": "Filter by full text search term."
            },
            "name": "q",
            "in": "query"
          },
          {
            "description": "Additional information to include in response.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/BillInclude"
              },
              "description": "Additional information to include in response.",
              "default": []
            },
            "name": "include",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Page",
              "type": "integer",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Per Page",
              "type": "integer",
              "default": 10
            },
            "name": "per_page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Apikey",
              "type": "string"
            },
            "name": "apikey",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "X-Api-Key",
              "type": "string"
            },
            "name": "x-api-key",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillList"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/bills/ocd-bill/{openstates_bill_id}": {
      "get": {
        "tags": [
          "bills"
        ],
        "summary": "Bill Detail By Id",
        "description": "Obtain bill information by internal ID in the format ocd-bill/*uuid*.",
        "operationId": "bill_detail_by_id_bills_ocd_bill__openstates_bill_id__get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Openstates Bill Id",
              "type": "string"
            },
            "name": "openstates_bill_id",
            "in": "path"
          },
          {
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/BillInclude"
              },
              "default": []
            },
            "name": "include",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Apikey",
              "type": "string"
            },
            "name": "apikey",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "X-Api-Key",
              "type": "string"
            },
            "name": "x-api-key",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bill"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/bills/{jurisdiction}/{session}/{bill_id}": {
      "get": {
        "tags": [
          "bills"
        ],
        "summary": "Bill Detail",
        "description": "Obtain bill information based on (state, session, bill_id).",
        "operationId": "bill_detail_bills__jurisdiction___session___bill_id__get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Jurisdiction",
              "type": "string"
            },
            "name": "jurisdiction",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Session",
              "type": "string"
            },
            "name": "session",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Bill Id",
              "type": "string"
            },
            "name": "bill_id",
            "in": "path"
          },
          {
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/BillInclude"
              },
              "default": []
            },
            "name": "include",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Apikey",
              "type": "string"
            },
            "name": "apikey",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "X-Api-Key",
              "type": "string"
            },
            "name": "x-api-key",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bill"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/committees": {
      "get": {
        "tags": [
          "committees"
        ],
        "summary": "Committee List",
        "operationId": "committee_list_committees_get",
        "parameters": [
          {
            "description": "Filter by jurisdiction name or ID.",
            "required": false,
            "schema": {
              "title": "Jurisdiction",
              "type": "string",
              "description": "Filter by jurisdiction name or ID."
            },
            "name": "jurisdiction",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CommitteeClassification"
            },
            "name": "classification",
            "in": "query"
          },
          {
            "description": "ocd-organization ID of parent committee.",
            "required": false,
            "schema": {
              "title": "Parent",
              "type": "string",
              "description": "ocd-organization ID of parent committee."
            },
            "name": "parent",
            "in": "query"
          },
          {
            "description": "Chamber of committee, generally upper or lower.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/OrgClassification"
                }
              ],
              "description": "Chamber of committee, generally upper or lower."
            },
            "name": "chamber",
            "in": "query"
          },
          {
            "description": "Additional includes for the Committee response.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CommitteeInclude"
              },
              "description": "Additional includes for the Committee response.",
              "default": []
            },
            "name": "include",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Apikey",
              "type": "string"
            },
            "name": "apikey",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Page",
              "type": "integer",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Per Page",
              "type": "integer",
              "default": 20
            },
            "name": "per_page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "X-Api-Key",
              "type": "string"
            },
            "name": "x-api-key",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitteeList"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/committees/{committee_id}": {
      "get": {
        "tags": [
          "committees"
        ],
        "summary": "Committee Detail",
        "description": "Get details on a single committee by ID.",
        "operationId": "committee_detail_committees__committee_id__get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Committee Id",
              "type": "string"
            },
            "name": "committee_id",
            "in": "path"
          },
          {
            "description": "Additional includes for the Committee response.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CommitteeInclude"
              },
              "description": "Additional includes for the Committee response.",
              "default": []
            },
            "name": "include",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Apikey",
              "type": "string"
            },
            "name": "apikey",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "X-Api-Key",
              "type": "string"
            },
            "name": "x-api-key",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Committee"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/events": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Event List",
        "operationId": "event_list_events_get",
        "parameters": [
          {
            "description": "Filter by jurisdiction name or ID.",
            "required": false,
            "schema": {
              "title": "Jurisdiction",
              "type": "string",
              "description": "Filter by jurisdiction name or ID."
            },
            "name": "jurisdiction",
            "in": "query"
          },
          {
            "description": "Return events marked as deleted?",
            "required": false,
            "schema": {
              "title": "Deleted",
              "type": "boolean",
              "description": "Return events marked as deleted?",
              "default": false
            },
            "name": "deleted",
            "in": "query"
          },
          {
            "description": "Limit results to those starting before a given datetime.",
            "required": false,
            "schema": {
              "title": "Before",
              "type": "string",
              "description": "Limit results to those starting before a given datetime."
            },
            "name": "before",
            "in": "query"
          },
          {
            "description": "Limit results to those starting before a given datetime.",
            "required": false,
            "schema": {
              "title": "After",
              "type": "string",
              "description": "Limit results to those starting before a given datetime."
            },
            "name": "after",
            "in": "query"
          },
          {
            "description": "Limit results to events with associated bills.",
            "required": false,
            "schema": {
              "title": "Require Bills",
              "type": "boolean",
              "description": "Limit results to events with associated bills.",
              "default": false
            },
            "name": "require_bills",
            "in": "query"
          },
          {
            "description": "Additional includes for the Event response.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/EventInclude"
              },
              "description": "Additional includes for the Event response.",
              "default": []
            },
            "name": "include",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Apikey",
              "type": "string"
            },
            "name": "apikey",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Page",
              "type": "integer",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Per Page",
              "type": "integer",
              "default": 20
            },
            "name": "per_page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "X-Api-Key",
              "type": "string"
            },
            "name": "x-api-key",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventList"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/events/{event_id}": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Event Detail",
        "description": "Get details on a single event by ID.",
        "operationId": "event_detail_events__event_id__get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Event Id",
              "type": "string"
            },
            "name": "event_id",
            "in": "path"
          },
          {
            "description": "Additional includes for the Event response.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/EventInclude"
              },
              "description": "Additional includes for the Event response.",
              "default": []
            },
            "name": "include",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Apikey",
              "type": "string"
            },
            "name": "apikey",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "X-Api-Key",
              "type": "string"
            },
            "name": "x-api-key",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/metrics": {
      "get": {
        "summary": "Metrics",
        "description": "Endpoint that serves Prometheus metrics.",
        "operationId": "metrics_metrics_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AltIdentifier": {
        "title": "AltIdentifier",
        "required": [
          "identifier",
          "scheme"
        ],
        "type": "object",
        "properties": {
          "identifier": {
            "title": "Identifier",
            "type": "string",
            "example": "NCL000123"
          },
          "scheme": {
            "title": "Scheme",
            "type": "string",
            "example": "legacy_openstates"
          }
        }
      },
      "AltName": {
        "title": "AltName",
        "required": [
          "name",
          "note"
        ],
        "type": "object",
        "properties": {
          "name": {
            "title": "Name",
            "type": "string",
            "example": "Auggie"
          },
          "note": {
            "title": "Note",
            "type": "string",
            "example": "nickname"
          }
        }
      },
      "Bill": {
        "title": "Bill",
        "required": [
          "id",
          "session",
          "jurisdiction",
          "from_organization",
          "identifier",
          "title",
          "created_at",
          "updated_at",
          "openstates_url"
        ],
        "type": "object",
        "properties": {
          "id": {
            "title": "Id",
            "type": "string",
            "example": "ocd-bill/f0049138-1ad8-4506-a2a4-f4dd1251bbba"
          },
          "session": {
            "title": "Session",
            "type": "string",
            "example": "2020"
          },
          "jurisdiction": {
            "$ref": "#/components/schemas/CompactJurisdiction"
          },
          "from_organization": {
            "$ref": "#/components/schemas/Organization"
          },
          "identifier": {
            "title": "Identifier",
            "type": "string",
            "example": "SB 113"
          },
          "title": {
            "title": "Title",
            "type": "string",
            "example": "Adopting a State Scorpion"
          },
          "classification": {
            "title": "Classification",
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": [],
            "example": [
              "resolution"
            ]
          },
          "subject": {
            "title": "Subject",
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": [],
            "example": [
              "SCORPIONS",
              "SYMBOLS"
            ]
          },
          "extras": {
            "title": "Extras",
            "type": "object",
            "default": {},
            "example": {}
          },
          "created_at": {
            "title": "Created At",
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "title": "Updated At",
            "type": "string",
            "format": "date-time"
          },
          "openstates_url": {
            "title": "Openstates Url",
            "type": "string",
            "example": "https://openstates.org/nc/bills/2019/HB1105/"
          },
          "first_action_date": {
            "title": "First Action Date",
            "type": "string",
            "default": "",
            "example": "2020-01-01"
          },
          "latest_action_date": {
            "title": "Latest Action Date",
            "type": "string",
            "default": "",
            "example": "2020-02-01"
          },
          "latest_action_description": {
            "title": "Latest Action Description",
            "type": "string",
            "default": "",
            "example": "Introduced in House"
          },
          "latest_passage_date": {
            "title": "Latest Passage Date",
            "type": "string",
            "default": "",
            "example": "2020-03-01"
          },
          "related_bills": {
            "title": "Related Bills",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RelatedBill"
            }
          },
          "abstracts": {
            "title": "Abstracts",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillAbstract"
            }
          },
          "other_titles": {
            "title": "Other Titles",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillTitle"
            }
          },
          "other_identifiers": {
            "title": "Other Identifiers",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillIdentifier"
            }
          },
          "sponsorships": {
            "title": "Sponsorships",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillSponsorship"
            }
          },
          "actions": {
            "title": "Actions",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillAction"
            }
          },
          "sources": {
            "title": "Sources",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "versions": {
            "title": "Versions",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillDocumentOrVersion"
            }
          },
          "documents": {
            "title": "Documents",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillDocumentOrVersion"
            }
          },
          "votes": {
            "title": "Votes",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VoteEvent"
            }
          }
        }
      },
      "BillAbstract": {
        "title": "BillAbstract",
        "required": [
          "abstract",
          "note"
        ],
        "type": "object",
        "properties": {
          "abstract": {
            "title": "Abstract",
            "type": "string",
            "example": "This bill designates a new state arachnid."
          },
          "note": {
            "title": "Note",
            "type": "string",
            "example": "house abstract"
          }
        }
      },
      "BillAction": {
        "title": "BillAction",
        "required": [
          "id",
          "organization",
          "description",
          "date",
          "classification",
          "order"
        ],
        "type": "object",
        "properties": {
          "id": {
            "title": "Id",
            "type": "string",
            "format": "uuid",
            "example": "f0049138-1ad8-4506-a2a4-f4dd1251bbba"
          },
          "organization": {
            "$ref": "#/components/schemas/Organization"
          },
          "description": {
            "title": "Description",
            "type": "string",
            "example": "Passed 1st Reading"
          },
          "date": {
            "title": "Date",
            "type": "string",
            "example": "2020-03-14"
          },
          "classification": {
            "title": "Classification",
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "passed"
            ]
          },
          "order": {
            "title": "Order",
            "type": "integer"
          },
          "related_entities": {
            "title": "Related Entities",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillActionRelatedEntity"
            }
          }
        }
      },
      "BillActionRelatedEntity": {
        "title": "BillActionRelatedEntity",
        "required": [
          "name",
          "entity_type"
        ],
        "type": "object",
        "properties": {
          "name": {
            "title": "Name",
            "type": "string",
            "example": "Senate Committee of the Whole"
          },
          "entity_type": {
            "title": "Entity Type",
            "type": "string",
            "example": "organization"
          },
          "organization": {
            "title": "Organization",
            "allOf": [
              {
                "$ref": "#/components/schemas/Organization"
              }
            ]
          },
          "person": {
            "$ref": "#/components/schemas/CompactPerson"
          }
        }
      },
      "BillDocumentLink": {
        "title": "BillDocumentLink",
        "required": [
          "url",
          "media_type"
        ],
        "type": "object",
        "properties": {
          "url": {
            "title": "Url",
            "type": "string",
            "example": "https://example.com/doc.pdf"
          },
          "media_type": {
            "title": "Media Type",
            "type": "string",
            "example": "application/pdf"
          }
        }
      },
      "BillDocumentOrVersion": {
        "title": "BillDocumentOrVersion",
        "required": [
          "id",
          "note",
          "date",
          "classification",
          "links"
        ],
        "type": "object",
        "properties": {
          "id": {
            "title": "Id",
            "type": "string",
            "format": "uuid",
            "example": "f0049138-1ad8-4506-a2a4-f4dd1251bbba"
          },
          "note": {
            "title": "Note",
            "type": "string",
            "example": "Latest Version"
          },
          "date": {
            "title": "Date",
            "type": "string",
            "example": "2020-10-01"
          },
          "classification": {
            "title": "Classification",
            "type": "string",
            "example": "amendment"
          },
          "links": {
            "title": "Links",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillDocumentLink"
            }
          }
        }
      },
      "BillIdentifier": {
        "title": "BillIdentifier",
        "required": [
          "identifier"
        ],
        "type": "object",
        "properties": {
          "identifier": {
            "title": "Identifier",
            "type": "string",
            "example": "HB 74"
          }
        }
      },
      "BillInclude": {
        "title": "BillInclude",
        "enum": [
          "sponsorships",
          "abstracts",
          "other_titles",
          "other_identifiers",
          "actions",
          "sources",
          "documents",
          "versions",
          "votes",
          "related_bills"
        ],
        "type": "string",
        "description": "An enumeration."
      },
      "BillList": {
        "title": "BillList",
        "required": [
          "results",
          "pagination"
        ],
        "type": "object",
        "properties": {
          "results": {
            "title": "Results",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Bill"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "BillSortOption": {
        "title": "BillSortOption",
        "enum": [
          "updated_asc",
          "updated_desc",
          "first_action_asc",
          "first_action_desc",
          "latest_action_asc",
          "latest_action_desc"
        ],
        "type": "string",
        "description": "An enumeration."
      },
      "BillSponsorship": {
        "title": "BillSponsorship",
        "required": [
          "id",
          "name",
          "entity_type",
          "primary",
          "classification"
        ],
        "type": "object",
        "properties": {
          "id": {
            "title": "Id",
            "type": "string",
            "format": "uuid",
            "example": "f0049138-1ad8-4506-a2a4-f4dd1251bbba"
          },
          "name": {
            "title": "Name",
            "type": "string",
            "example": "JONES"
          },
          "entity_type": {
            "title": "Entity Type",
            "type": "string",
            "example": "person"
          },
          "organization": {
            "title": "Organization",
            "allOf": [
              {
                "$ref": "#/components/schemas/Organization"
              }
            ]
          },
          "person": {
            "$ref": "#/components/schemas/CompactPerson"
          },
          "primary": {
            "title": "Primary",
            "type": "boolean"
          },
          "classification": {
            "title": "Classification",
            "type": "string",
            "example": "primary"
          }
        }
      },
      "BillTitle": {
        "title": "BillTitle",
        "required": [
          "title",
          "note"
        ],
        "type": "object",
        "properties": {
          "title": {
            "title": "Title",
            "type": "string",
            "example": "Designating the scorpion as the state arachnid."
          },
          "note": {
            "title": "Note",
            "type": "string",
            "example": "short title"
          }
        }
      },
      "Chamber": {
        "title": "Chamber",
        "required": [
          "id",
          "name",
          "classification"
        ],
        "type": "object",
        "properties": {
          "id": {
            "title": "Id",
            "type": "string",
            "example": "ocd-organization/32aab083-d7a0-44e0-9b95-a7790c542605"
          },
          "name": {
            "title": "Name",
            "type": "string",
            "example": "North Carolina General Assembly"
          },
          "classification": {
            "title": "Classification",
            "type": "string",
            "example": "legislature"
          },
          "districts": {
            "title": "Districts",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Post"
            }
          }
        }
      },
      "Committee": {
        "title": "Committee",
        "required": [
          "id",
          "name",
          "classification",
          "parent_id",
          "extras"
        ],
        "type": "object",
        "properties": {
          "id": {
            "title": "Id",
            "type": "string",
            "example": "ocd-organization/aabbbbcc-dddd-eeee-ffff-0123456789ab"
          },
          "name": {
            "title": "Name",
            "type": "string",
            "example": "Health & Public Services"
          },
          "classification": {
            "$ref": "#/components/schemas/CommitteeClassification"
          },
          "parent_id": {
            "title": "Parent Id",
            "type": "string",
            "example": "ocd-organization/aabbbbcc-dddd-eeee-ffff-999988887777"
          },
          "extras": {
            "title": "Extras",
            "type": "object",
            "example": {
              "room": "Room 4B"
            }
          },
          "memberships": {
            "title": "Memberships",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CommitteeMembership"
            }
          },
          "other_names": {
            "title": "Other Names",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AltName"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "sources": {
            "title": "Sources",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "CommitteeClassification": {
        "title": "CommitteeClassification",
        "enum": [
          "committee",
          "subcommittee"
        ],
        "type": "string",
        "description": "An enumeration."
      },
      "CommitteeInclude": {
        "title": "CommitteeInclude",
        "enum": [
          "memberships",
          "links",
          "sources"
        ],
        "type": "string",
        "description": "An enumeration."
      },
      "CommitteeList": {
        "title": "CommitteeList",
        "required": [
          "results",
          "pagination"
        ],
        "type": "object",
        "properties": {
          "results": {
            "title": "Results",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Committee"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "CommitteeMembership": {
        "title": "CommitteeMembership",
        "required": [
          "person_name",
          "role"
        ],
        "type": "object",
        "properties": {
          "person_name": {
            "title": "Person Name",
            "type": "string"
          },
          "role": {
            "title": "Role",
            "type": "string"
          },
          "person": {
            "$ref": "#/components/schemas/CompactPerson"
          }
        }
      },
      "CompactBill": {
        "title": "CompactBill",
        "required": [
          "id",
          "session",
          "identifier",
          "title"
        ],
        "type": "object",
        "properties": {
          "id": {
            "title": "Id",
            "type": "string",
            "example": "ocd-bill/12345678-0000-1111-2222-333344445555"
          },
          "session": {
            "title": "Session",
            "type": "string"
          },
          "identifier": {
            "title": "Identifier",
            "type": "string"
          },
          "title": {
            "title": "Title",
            "type": "string"
          }
        }
      },
      "CompactJurisdiction": {
        "title": "CompactJurisdiction",
        "required": [
          "id",
          "name",
          "classification"
        ],
        "type": "object",
        "properties": {
          "id": {
            "title": "Id",
            "type": "string",
            "example": "ocd-jurisdiction/country:us/state:nc/government"
          },
          "name": {
            "title": "Name",
            "type": "string",
            "example": "North Carolina"
          },
          "classification": {
            "allOf": [
              {
                "$ref": "#/components/schemas/JurisdictionClassification"
              }
            ],
            "example": "state"
          }
        }
      },
      "CompactPerson": {
        "title": "CompactPerson",
        "required": [
          "id",
          "name",
          "party"
        ],
        "type": "object",
        "properties": {
          "id": {
            "title": "Id",
            "type": "string",
            "example": "ocd-person/adb58f21-f2fd-4830-85b6-f490b0867d14"
          },
          "name": {
            "title": "Name",
            "type": "string",
            "example": "Angela Augusta"
          },
          "party": {
            "title": "Party",
            "type": "string",
            "example": "Democratic"
          },
          "current_role": {
            "$ref": "#/components/schemas/CurrentRole"
          }
        }
      },
      "CompactVoteEvent": {
        "title": "CompactVoteEvent",
        "required": [
          "id",
          "motion_text"
        ],
        "type": "object",
        "properties": {
          "id": {
            "title": "Id",
            "type": "string",
            "example": "ocd-vote/12345678-0000-1111-2222-333344445555"
          },
          "motion_text": {
            "title": "Motion Text",
            "type": "string",
            "example": "Shall the bill be passed?"
          }
        }
      },
      "CurrentRole": {
        "title": "CurrentRole",
        "required": [
          "title",
          "org_classification"
        ],
        "type": "object",
        "properties": {
          "title": {
            "title": "Title",
            "type": "string",
            "example": "Senator"
          },
          "org_classification": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OrgClassification"
              }
            ],
            "example": "upper"
          },
          "district": {
            "title": "District",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ],
            "default": "",
            "example": 3
          },
          "division_id": {
            "title": "Division Id",
            "type": "string",
            "default": "",
            "example": "ocd-division/country:us/state:nc/sldu:3"
          }
        }
      },
      "DataExport": {
        "title": "DataExport",
        "required": [
          "created_at",
          "updated_at",
          "data_type",
          "url"
        ],
        "type": "object",
        "properties": {
          "created_at": {
            "title": "Created At",
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "title": "Updated At",
            "type": "string",
            "format": "date-time"
          },
          "data_type": {
            "title": "Data Type",
            "type": "string"
          },
          "url": {
            "title": "Url",
            "type": "string"
          }
        }
      },
      "Event": {
        "title": "Event",
        "required": [
          "id",
          "name",
          "jurisdiction",
          "description",
          "classification",
          "start_date",
          "end_date",
          "all_day",
          "status",
          "upstream_id",
          "deleted"
        ],
        "type": "object",
        "properties": {
          "id": {
            "title": "Id",
            "type": "string"
          },
          "name": {
            "title": "Name",
            "type": "string"
          },
          "jurisdiction": {
            "$ref": "#/components/schemas/CompactJurisdiction"
          },
          "description": {
            "title": "Description",
            "type": "string"
          },
          "classification": {
            "title": "Classification",
            "type": "string"
          },
          "start_date": {
            "title": "Start Date",
            "type": "string"
          },
          "end_date": {
            "title": "End Date",
            "type": "string"
          },
          "all_day": {
            "title": "All Day",
            "type": "boolean"
          },
          "status": {
            "title": "Status",
            "type": "string"
          },
          "upstream_id": {
            "title": "Upstream Id",
            "type": "string"
          },
          "deleted": {
            "title": "Deleted",
            "type": "boolean"
          },
          "location": {
            "$ref": "#/components/schemas/EventLocation"
          },
          "links": {
            "title": "Links",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "sources": {
            "title": "Sources",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "media": {
            "title": "Media",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventMedia"
            }
          },
          "documents": {
            "title": "Documents",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventDocument"
            }
          },
          "participants": {
            "title": "Participants",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventParticipant"
            }
          },
          "agenda": {
            "title": "Agenda",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventAgendaItem"
            }
          }
        }
      },
      "EventAgendaItem": {
        "title": "EventAgendaItem",
        "required": [
          "description",
          "classification",
          "order",
          "subjects",
          "notes",
          "extras",
          "related_entities",
          "media"
        ],
        "type": "object",
        "properties": {
          "description": {
            "title": "Description",
            "type": "string"
          },
          "classification": {
            "title": "Classification",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "order": {
            "title": "Order",
            "type": "integer"
          },
          "subjects": {
            "title": "Subjects",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "notes": {
            "title": "Notes",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "extras": {
            "title": "Extras",
            "type": "object"
          },
          "related_entities": {
            "title": "Related Entities",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventRelatedEntity"
            }
          },
          "media": {
            "title": "Media",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventMedia"
            }
          }
        }
      },
      "EventDocument": {
        "title": "EventDocument",
        "required": [
          "note",
          "date",
          "classification",
          "links"
        ],
        "type": "object",
        "properties": {
          "note": {
            "title": "Note",
            "type": "string"
          },
          "date": {
            "title": "Date",
            "type": "string"
          },
          "classification": {
            "title": "Classification",
            "type": "string"
          },
          "links": {
            "title": "Links",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "EventInclude": {
        "title": "EventInclude",
        "enum": [
          "links",
          "sources",
          "media",
          "documents",
          "participants",
          "agenda"
        ],
        "type": "string",
        "description": "An enumeration."
      },
      "EventList": {
        "title": "EventList",
        "required": [
          "results",
          "pagination"
        ],
        "type": "object",
        "properties": {
          "results": {
            "title": "Results",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "EventLocation": {
        "title": "EventLocation",
        "required": [
          "name",
          "url"
        ],
        "type": "object",
        "properties": {
          "name": {
            "title": "Name",
            "type": "string"
          },
          "url": {
            "title": "Url",
            "type": "string"
          }
        }
      },
      "EventMedia": {
        "title": "EventMedia",
        "required": [
          "note",
          "date",
          "classification",
          "links"
        ],
        "type": "object",
        "properties": {
          "note": {
            "title": "Note",
            "type": "string"
          },
          "date": {
            "title": "Date",
            "type": "string"
          },
          "offset": {
            "title": "Offset",
            "type": "integer"
          },
          "classification": {
            "title": "Classification",
            "type": "string"
          },
          "links": {
            "title": "Links",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "EventParticipant": {
        "title": "EventParticipant",
        "required": [
          "note",
          "name",
          "entity_type"
        ],
        "type": "object",
        "properties": {
          "note": {
            "title": "Note",
            "type": "string"
          },
          "name": {
            "title": "Name",
            "type": "string",
            "example": "JONES"
          },
          "entity_type": {
            "title": "Entity Type",
            "type": "string",
            "example": "person"
          },
          "organization": {
            "title": "Organization",
            "allOf": [
              {
                "$ref": "#/components/schemas/Organization"
              }
            ]
          },
          "person": {
            "$ref": "#/components/schemas/CompactPerson"
          }
        }
      },
      "EventRelatedEntity": {
        "title": "EventRelatedEntity",
        "required": [
          "note",
          "name",
          "entity_type"
        ],
        "type": "object",
        "properties": {
          "note": {
            "title": "Note",
            "type": "string"
          },
          "name": {
            "title": "Name",
            "type": "string",
            "example": "JONES"
          },
          "entity_type": {
            "title": "Entity Type",
            "type": "string",
            "example": "person"
          },
          "organization": {
            "title": "Organization",
            "allOf": [
              {
                "$ref": "#/components/schemas/Organization"
              }
            ]
          },
          "person": {
            "$ref": "#/components/schemas/CompactPerson"
          },
          "bill": {
            "$ref": "#/components/schemas/CompactBill"
          },
          "vote": {
            "$ref": "#/components/schemas/CompactVoteEvent"
          }
        }
      },
      "HTTPValidationError": {
        "title": "HTTPValidationError",
        "type": "object",
        "properties": {
          "detail": {
            "title": "Detail",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            }
          }
        }
      },
      "Jurisdiction": {
        "title": "Jurisdiction",
        "required": [
          "id",
          "name",
          "classification",
          "url",
          "latest_bill_update",
          "latest_people_update"
        ],
        "type": "object",
        "properties": {
          "id": {
            "title": "Id",
            "type": "string",
            "example": "ocd-jurisdiction/country:us/state:nc/government"
          },
          "name": {
            "title": "Name",
            "type": "string",
            "example": "North Carolina"
          },
          "classification": {
            "allOf": [
              {
                "$ref": "#/components/schemas/JurisdictionClassification"
              }
            ],
            "example": "state"
          },
          "division_id": {
            "title": "Division Id",
            "type": "string",
            "default": "",
            "example": "ocd-division/country:us/state:nc"
          },
          "url": {
            "title": "Url",
            "type": "string",
            "example": "https://nc.gov"
          },
          "latest_bill_update": {
            "title": "Latest Bill Update",
            "type": "string",
            "format": "date-time"
          },
          "latest_people_update": {
            "title": "Latest People Update",
            "type": "string",
            "format": "date-time"
          },
          "organizations": {
            "title": "Organizations",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Chamber"
            }
          },
          "legislative_sessions": {
            "title": "Legislative Sessions",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LegislativeSession"
            }
          },
          "latest_runs": {
            "title": "Latest Runs",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RunPlan"
            }
          }
        }
      },
      "JurisdictionClassification": {
        "title": "JurisdictionClassification",
        "enum": [
          "state",
          "municipality",
          "country"
        ],
        "type": "string",
        "description": "An enumeration."
      },
      "JurisdictionInclude": {
        "title": "JurisdictionInclude",
        "enum": [
          "organizations",
          "legislative_sessions",
          "latest_runs"
        ],
        "type": "string",
        "description": "An enumeration."
      },
      "JurisdictionList": {
        "title": "JurisdictionList",
        "required": [
          "results",
          "pagination"
        ],
        "type": "object",
        "properties": {
          "results": {
            "title": "Results",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Jurisdiction"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "LegislativeSession": {
        "title": "LegislativeSession",
        "required": [
          "identifier",
          "name",
          "classification",
          "start_date",
          "end_date"
        ],
        "type": "object",
        "properties": {
          "identifier": {
            "title": "Identifier",
            "type": "string"
          },
          "name": {
            "title": "Name",
            "type": "string"
          },
          "classification": {
            "title": "Classification",
            "type": "string"
          },
          "start_date": {
            "title": "Start Date",
            "type": "string"
          },
          "end_date": {
            "title": "End Date",
            "type": "string"
          },
          "downloads": {
            "title": "Downloads",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataExport"
            }
          }
        }
      },
      "Link": {
        "title": "Link",
        "required": [
          "url"
        ],
        "type": "object",
        "properties": {
          "url": {
            "title": "Url",
            "type": "string",
            "example": "https://example.com/"
          },
          "note": {
            "title": "Note",
            "type": "string",
            "example": "homepage"
          }
        }
      },
      "Office": {
        "title": "Office",
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "title": "Name",
            "type": "string",
            "example": "District Office"
          },
          "fax": {
            "title": "Fax",
            "type": "string",
            "example": "919-555-1234"
          },
          "voice": {
            "title": "Voice",
            "type": "string",
            "example": "919-555-0064"
          },
          "address": {
            "title": "Address",
            "type": "string",
            "example": "212 Maple Lane; Raleigh NC; 27526"
          },
          "classification": {
            "title": "Classification",
            "type": "string",
            "example": "capitol"
          }
        }
      },
      "OrgClassification": {
        "title": "OrgClassification",
        "enum": [
          "legislature",
          "executive",
          "lower",
          "upper",
          "government"
        ],
        "type": "string",
        "description": "An enumeration."
      },
      "Organization": {
        "title": "Organization",
        "required": [
          "id",
          "name",
          "classification"
        ],
        "type": "object",
        "properties": {
          "id": {
            "title": "Id",
            "type": "string",
            "example": "ocd-organization/32aab083-d7a0-44e0-9b95-a7790c542605"
          },
          "name": {
            "title": "Name",
            "type": "string",
            "example": "North Carolina General Assembly"
          },
          "classification": {
            "title": "Classification",
            "type": "string",
            "example": "legislature"
          }
        }
      },
      "PaginationMeta": {
        "title": "PaginationMeta",
        "required": [
          "per_page",
          "page",
          "max_page",
          "total_items"
        ],
        "type": "object",
        "properties": {
          "per_page": {
            "title": "Per Page",
            "type": "integer",
            "example": 20
          },
          "page": {
            "title": "Page",
            "type": "integer",
            "example": 1
          },
          "max_page": {
            "title": "Max Page",
            "type": "integer",
            "example": 3
          },
          "total_items": {
            "title": "Total Items",
            "type": "integer",
            "example": 52
          }
        }
      },
      "Person": {
        "title": "Person",
        "required": [
          "id",
          "name",
          "party",
          "jurisdiction",
          "given_name",
          "family_name",
          "image",
          "email",
          "gender",
          "birth_date",
          "death_date",
          "extras",
          "created_at",
          "updated_at",
          "openstates_url"
        ],
        "type": "object",
        "properties": {
          "id": {
            "title": "Id",
            "type": "string",
            "example": "ocd-person/adb58f21-f2fd-4830-85b6-f490b0867d14"
          },
          "name": {
            "title": "Name",
            "type": "string",
            "example": "Angela Augusta"
          },
          "party": {
            "title": "Party",
            "type": "string",
            "example": "Democratic"
          },
          "current_role": {
            "$ref": "#/components/schemas/CurrentRole"
          },
          "jurisdiction": {
            "$ref": "#/components/schemas/CompactJurisdiction"
          },
          "given_name": {
            "title": "Given Name",
            "type": "string",
            "example": "Angela"
          },
          "family_name": {
            "title": "Family Name",
            "type": "string",
            "example": "Augusta"
          },
          "image": {
            "title": "Image",
            "type": "string",
            "example": "https://example.com/ncimg/3.png"
          },
          "email": {
            "title": "Email",
            "type": "string",
            "example": "aperson@example.com"
          },
          "gender": {
            "title": "Gender",
            "type": "string",
            "example": "female"
          },
          "birth_date": {
            "title": "Birth Date",
            "type": "string",
            "example": "1960-05-04"
          },
          "death_date": {
            "title": "Death Date",
            "type": "string",
            "example": "2019-04-10"
          },
          "extras": {
            "title": "Extras",
            "type": "object",
            "example": {
              "profession": "Doctor"
            }
          },
          "created_at": {
            "title": "Created At",
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "title": "Updated At",
            "type": "string",
            "format": "date-time"
          },
          "openstates_url": {
            "title": "Openstates Url",
            "type": "string",
            "example": "https://openstates.org/person/amos-l-quick-iii-28NRPPfJA6FGVl9RrjpKjl/"
          },
          "other_identifiers": {
            "title": "Other Identifiers",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AltIdentifier"
            }
          },
          "other_names": {
            "title": "Other Names",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AltName"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "sources": {
            "title": "Sources",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "offices": {
            "title": "Offices",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Office"
            }
          }
        }
      },
      "PersonInclude": {
        "title": "PersonInclude",
        "enum": [
          "other_names",
          "other_identifiers",
          "links",
          "sources",
          "offices"
        ],
        "type": "string",
        "description": "An enumeration."
      },
      "PersonList": {
        "title": "PersonList",
        "required": [
          "results",
          "pagination"
        ],
        "type": "object",
        "properties": {
          "results": {
            "title": "Results",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Person"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "PersonVote": {
        "title": "PersonVote",
        "required": [
          "id",
          "option",
          "voter_name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "title": "Id",
            "type": "string",
            "format": "uuid",
            "example": "f0049138-1ad8-4506-a2a4-f4dd1251bbba"
          },
          "option": {
            "title": "Option",
            "type": "string",
            "example": "no"
          },
          "voter_name": {
            "title": "Voter Name",
            "type": "string",
            "example": "Wu"
          },
          "voter": {
            "$ref": "#/components/schemas/CompactPerson"
          }
        }
      },
      "Post": {
        "title": "Post",
        "required": [
          "label",
          "role",
          "division_id",
          "maximum_memberships"
        ],
        "type": "object",
        "properties": {
          "label": {
            "title": "Label",
            "type": "string",
            "example": "2"
          },
          "role": {
            "title": "Role",
            "type": "string",
            "example": "Senator"
          },
          "division_id": {
            "title": "Division Id",
            "type": "string",
            "example": "ocd-division/country:us/state:mn/sldu:4"
          },
          "maximum_memberships": {
            "title": "Maximum Memberships",
            "type": "integer",
            "example": 1
          }
        }
      },
      "RelatedBill": {
        "title": "RelatedBill",
        "required": [
          "identifier",
          "legislative_session",
          "relation_type"
        ],
        "type": "object",
        "properties": {
          "identifier": {
            "title": "Identifier",
            "type": "string",
            "example": "HB 123"
          },
          "legislative_session": {
            "title": "Legislative Session",
            "type": "string",
            "example": "2022S1"
          },
          "relation_type": {
            "title": "Relation Type",
            "type": "string",
            "example": "companion"
          }
        }
      },
      "RunPlan": {
        "title": "RunPlan",
        "required": [
          "success",
          "start_time",
          "end_time"
        ],
        "type": "object",
        "properties": {
          "success": {
            "title": "Success",
            "type": "boolean"
          },
          "start_time": {
            "title": "Start Time",
            "type": "string",
            "format": "date-time"
          },
          "end_time": {
            "title": "End Time",
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ValidationError": {
        "title": "ValidationError",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "type": "object",
        "properties": {
          "loc": {
            "title": "Location",
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            }
          },
          "msg": {
            "title": "Message",
            "type": "string"
          },
          "type": {
            "title": "Error Type",
            "type": "string"
          }
        }
      },
      "VoteCount": {
        "title": "VoteCount",
        "required": [
          "option",
          "value"
        ],
        "type": "object",
        "properties": {
          "option": {
            "title": "Option",
            "type": "string",
            "example": "yes"
          },
          "value": {
            "title": "Value",
            "type": "integer",
            "example": 48
          }
        }
      },
      "VoteEvent": {
        "title": "VoteEvent",
        "required": [
          "id",
          "motion_text",
          "start_date",
          "result",
          "identifier",
          "extras",
          "organization",
          "votes",
          "counts",
          "sources"
        ],
        "type": "object",
        "properties": {
          "id": {
            "title": "Id",
            "type": "string"
          },
          "motion_text": {
            "title": "Motion Text",
            "type": "string",
            "example": "Shall the bill be passed?"
          },
          "motion_classification": {
            "title": "Motion Classification",
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": [],
            "example": [
              "passage"
            ]
          },
          "start_date": {
            "title": "Start Date",
            "type": "string",
            "example": "2020-09-18"
          },
          "result": {
            "title": "Result",
            "type": "string",
            "example": "pass"
          },
          "identifier": {
            "title": "Identifier",
            "type": "string",
            "example": "HV #3312"
          },
          "extras": {
            "title": "Extras",
            "type": "object"
          },
          "organization": {
            "$ref": "#/components/schemas/Organization"
          },
          "votes": {
            "title": "Votes",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonVote"
            }
          },
          "counts": {
            "title": "Counts",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VoteCount"
            }
          },
          "sources": {
            "title": "Sources",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      }
    }
  }
}