{
  "openapi": "3.0.0",
  "info": {
    "title": "PeerTube",
    "version": "7.1.0",
    "contact": {
      "name": "PeerTube Community",
      "url": "https://joinpeertube.org"
    },
    "license": {
      "name": "AGPLv3.0",
      "url": "https://github.com/Chocobozzz/PeerTube/blob/master/LICENSE"
    },
    "x-logo": {
      "url": "https://joinpeertube.org/img/brand.png",
      "altText": "PeerTube Project Homepage"
    },
    "description": "The PeerTube API is built on HTTP(S) and is RESTful. You can use your favorite\nHTTP/REST library for your programming language to use PeerTube. The spec API is fully compatible with\n[openapi-generator](https://github.com/OpenAPITools/openapi-generator/wiki/API-client-generator-HOWTO)\n which generates a client SDK in the language of your choice - we generate some client SDKs automatically:\n\n- [Python](https://framagit.org/framasoft/peertube/clients/python)\n - [Go](https://framagit.org/framasoft/peertube/clients/go)\n- [Kotlin](https://framagit.org/framasoft/peertube/clients/kotlin)\n \nSee the [REST API quick start](https://docs.joinpeertube.org/api/rest-getting-started) for a few\nexamples of using the PeerTube API.\n\n# Authentication\n\nWhen you sign up for an account on a PeerTube instance, you are given the possibility\n to generate sessions on it, and authenticate there using an access token. Only __one\naccess token can currently be used at a time__.\n\n## Roles\n\nAccounts are given permissions based on their role. There are three roles on\nPeerTube: Administrator, Moderator, and User. See the [roles guide](https://docs.joinpeertube.org/admin/managing-users#roles) for a detail of their permissions.\n\n# Errors\n\nThe API uses standard HTTP status codes to indicate the success or failure\nof the API call, completed by a [RFC7807-compliant](https://tools.ietf.org/html/rfc7807) response body.\n\n```\nHTTP 1.1 404 Not Found\nContent-Type: application/problem+json; charset=utf-8\n\n{\n  \"detail\": \"Video not found\",\n  \"docs\": \"https://docs.joinpeertube.org/api-rest-reference.html#operation/getVideo\",\n  \"status\": 404,\n  \"title\": \"Not Found\",\n  \"type\": \"about:blank\"\n}\n```\n\nWe provide error `type` (following RFC7807) and `code` (internal PeerTube code) values for [a growing number of cases](https://github.com/Chocobozzz/PeerTube/blob/develop/packages/models/src/server/server-error-code.enum.ts),\n but it is still optional. Types are used to disambiguate errors that bear the same status code\nand are non-obvious:\n\n```\nHTTP 1.1 403 Forbidden\nContent-Type: application/problem+json; charset=utf-8\n\n{\n  \"detail\": \"Cannot get this video regarding follow constraints\",\n  \"docs\": \"https://docs.joinpeertube.org/api-rest-reference.html#operation/getVideo\",\n  \"status\": 403,\n  \"title\": \"Forbidden\",\n  \"type\": \"https://docs.joinpeertube.org/api-rest-reference.html#section/Errors/does_not_respect_follow_constraints\"\n}\n```\n\nHere a 403 error could otherwise mean that the video is private or blocklisted.\n\n### Validation errors\n\nEach parameter is evaluated on its own against a set of rules before the route validator\nproceeds with potential testing involving parameter combinations. Errors coming from validation\nerrors appear earlier and benefit from a more detailed error description:\n\n```\nHTTP 1.1 400 Bad Request\nContent-Type: application/problem+json; charset=utf-8\n\n{\n  \"detail\": \"Incorrect request parameters: id\",\n  \"docs\": \"https://docs.joinpeertube.org/api-rest-reference.html#operation/getVideo\",\n  \"instance\": \"/api/v1/videos/9c9de5e8-0a1e-484a-b099-e80766180\",\n  \"invalid-params\": {\n    \"id\": {\n      \"location\": \"params\",\n      \"msg\": \"Invalid value\",\n      \"param\": \"id\",\n      \"value\": \"9c9de5e8-0a1e-484a-b099-e80766180\"\n    }\n  },\n  \"status\": 400,\n  \"title\": \"Bad Request\",\n  \"type\": \"about:blank\"\n}\n```\n\nWhere `id` is the name of the field concerned by the error, within the route definition.\n`invalid-params.<field>.location` can be either 'params', 'body', 'header', 'query' or 'cookies', and\n`invalid-params.<field>.value` reports the value that didn't pass validation whose `invalid-params.<field>.msg`\n is about.\n\n### Deprecated error fields\n\nSome fields could be included with previous versions. They are still included but their use is deprecated:\n- `error`: superseded by `detail`\n\n# Rate limits\n\nWe are rate-limiting all endpoints of PeerTube's API. Custom values can be set by administrators:\n\n| Endpoint (prefix: `/api/v1`) | Calls         | Time frame   |\n|------------------------------|---------------|--------------|\n | `/*`                         | 50            | 10 seconds   |\n| `POST /users/token`          | 15            | 5 minutes    |\n| `POST /users/register`       | 2<sup>*</sup> | 5 minutes    |\n| `POST /users/ask-send-verify-email` | 3      | 5 minutes    |\n\nDepending on the endpoint, <sup>*</sup>failed requests are not taken into account. A service\nlimit is announced by a `429 Too Many Requests` status code.\n\nYou can get details about the current state of your rate limit by reading the\nfollowing headers:\n\n| Header                  | Description                                                |\n|-------------------------|------------------------------------------------------------|\n | `X-RateLimit-Limit`     | Number of max requests allowed in the current time period  |\n| `X-RateLimit-Remaining` | Number of remaining requests in the current time period    |\n| `X-RateLimit-Reset`     | Timestamp of end of current time period as UNIX timestamp  |\n| `Retry-After`           | Seconds to delay after the first `429` is received         |\n\n# CORS\n\nThis API features [Cross-Origin Resource Sharing (CORS)](https://fetch.spec.whatwg.org/),\nallowing cross-domain communication from the browser for some routes:\n\n| Endpoint                    |\n|------------------------- ---|\n| `/api/*`                    |\n| `/download/*`               |\n| `/lazy-static/*`            |\n| `/.well-known/webfinger`    |\n\nIn addition, all routes serving ActivityPub are CORS-enabled for all origins.\n",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Chocobozzz/PeerTube/develop/support/doc/api/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://peertube2.cpy.re",
      "description": "Live Test Server (live data - latest nightly version)"
    },
    {
      "url": "https://peertube3.cpy.re",
      "description": "Live Test Server (live data - latest RC version)"
    },
    {
      "url": "https://peertube.cpy.re",
      "description": "Live Test Server (live data - stable version)"
    }
  ],
  "paths": {
    "/static/web-videos/{filename}": {
      "get": {
        "tags": [
          "Static Video Files"
        ],
        "summary": "Get public Web Video file",
        "description": "**PeerTube >= 6.0**",
        "parameters": [
          {
            "$ref": "#/components/parameters/staticFilename"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "404": {
            "description": "not found"
          }
        }
      }
    },
    "/static/web-videos/private/{filename}": {
      "get": {
        "tags": [
          "Static Video Files"
        ],
        "summary": "Get private Web Video file",
        "description": "**PeerTube >= 6.0**",
        "parameters": [
          {
            "$ref": "#/components/parameters/staticFilename"
          },
          {
            "$ref": "#/components/parameters/videoFileToken"
          }
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "403": {
            "description": "invalid auth"
          },
          "404": {
            "description": "not found"
          }
        }
      }
    },
    "/static/streaming-playlists/hls/{filename}": {
      "get": {
        "tags": [
          "Static Video Files"
        ],
        "summary": "Get public HLS video file",
        "parameters": [
          {
            "$ref": "#/components/parameters/staticFilename"
          }
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "403": {
            "description": "invalid auth"
          },
          "404": {
            "description": "not found"
          }
        }
      }
    },
    "/static/streaming-playlists/hls/private/{filename}": {
      "get": {
        "tags": [
          "Static Video Files"
        ],
        "summary": "Get private HLS video file",
        "parameters": [
          {
            "$ref": "#/components/parameters/staticFilename"
          },
          {
            "$ref": "#/components/parameters/videoFileToken"
          },
          {
            "$ref": "#/components/parameters/reinjectVideoFileToken"
          }
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "403": {
            "description": "invalid auth"
          },
          "404": {
            "description": "not found"
          }
        }
      }
    },
    "/download/videos/generate/:videoId": {
      "get": {
        "tags": [
          "Video Download"
        ],
        "summary": "Download video file",
        "description": "Generate a mp4 container that contains at most 1 video stream and at most 1 audio stream. Mainly used to merge the HLS audio only video file and the HLS video only resolution file.",
        "parameters": [
          {
            "name": "videoId",
            "in": "path",
            "required": true,
            "description": "The video id",
            "schema": {
              "$ref": "#/components/schemas/Video/properties/id"
            }
          },
          {
            "name": "videoFileIds",
            "in": "query",
            "required": true,
            "description": "streams of video files to mux in the output",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "$ref": "#/components/parameters/videoFileToken"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/feeds/video-comments.{format}": {
      "get": {
        "tags": [
          "Video Feeds"
        ],
        "summary": "Comments on videos feeds",
        "operationId": "getSyndicatedComments",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "description": "format expected (we focus on making `rss` the most featureful ; it serves [Media RSS](https://www.rssboard.org/media-rss))",
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "rss",
                "rss2",
                "atom",
                "atom1",
                "json",
                "json1"
              ]
            }
          },
          {
            "name": "videoId",
            "in": "query",
            "description": "limit listing comments to a specific video",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "description": "limit listing comments to videos of a specific account",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountName",
            "in": "query",
            "description": "limit listing comments to videos of a specific account",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "videoChannelId",
            "in": "query",
            "description": "limit listing comments to videos of a specific video channel",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "videoChannelName",
            "in": "query",
            "description": "limit listing comments to videos of a specific video channel",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "default": "max-age=900"
                }
              }
            },
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VideoCommentsForXML"
                },
                "examples": {
                  "nightly": {
                    "value": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<rss version=\"2.0\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:content=\"http://purl.org/rss/1.0/modules/content/\" xmlns:atom=\"http://www.w3.org/2005/Atom\">\n    <channel>\n        <title>PeerTube Nightly</title>\n        <link>https://peertube2.cpy.re</link>\n        <description>This instance is a test instance of the PeerTube project. It is updated to the latest commit in the develop branch every business day, 8pm CET.</description>\n        <lastBuildDate>Tue, 16 Dec 2025 02:36:11 GMT</lastBuildDate>\n        <docs>https://validator.w3.org/feed/docs/rss2.html</docs>\n        <generator>PeerTube - https://peertube2.cpy.re</generator>\n        <image>\n            <title>PeerTube Nightly</title>\n            <url>https://peertube2.cpy.re/lazy-static/avatars/177f70c4-ddef-4bb6-bc96-b00d5e2a0e05.png</url>\n            <link>https://peertube2.cpy.re</link>\n        </image>\n        <copyright>All rights reserved, unless otherwise specified in the terms specified at https://peertube2.cpy.re/about and potential licenses granted by each content's rightholder.</copyright>\n        <atom:link href=\"https://peertube2.cpy.re/feeds/video-comments.xml?scope=local\" rel=\"self\" type=\"application/rss+xml\"/>\n        <item>\n            <title><![CDATA[Parlement européen :  la droite et l’extrême droite au service des multinationales - Arsène]]></title>\n            <link>https://peertube2.cpy.re/w/t9RtmdSD5QNC9FWw4hGXLt;threadId=182645</link>\n            <guid>https://peertube2.cpy.re/w/t9RtmdSD5QNC9FWw4hGXLt;threadId=182645</guid>\n            <pubDate>Mon, 15 Dec 2025 21:13:25 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> un scandal de conflit d'intérêt à dénoncer. Soutenez <a href=\"https://bloomassociation.org/bloom-porte-plainte-contre-le-rapporteur-du-premier-omnibus-jorgen-warborn-pour-conflit-dinterets-sur-fond-dingerence-etrangere/\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://</span><span>bloomassociation.org/bloom-por</span><span>te-plainte-contre-le-rapporteur-du-premier-omnibus-jorgen-warborn-pour-conflit-dinterets-sur-fond-dingerence-etrangere/</span></a></p>]]></content:encoded>\n            <dc:creator>Arsène</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Old sign makers with machines & abandoned printing equipment, Manchester - (Urban Exploration) Urbex - ObsidianUrbex]]></title>\n            <link>https://peertube2.cpy.re/w/qR759Sx8bHWbzdhYS6EpG7;threadId=182642</link>\n            <guid>https://peertube2.cpy.re/w/qR759Sx8bHWbzdhYS6EpG7;threadId=182642</guid>\n            <pubDate>Mon, 15 Dec 2025 20:51:38 GMT</pubDate>\n            <content:encoded><![CDATA[<p>@carla@hessen.social Indeed, some lovely old machines in here</p>\n]]></content:encoded>\n            <dc:creator>ObsidianUrbex</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Old sign makers with machines & abandoned printing equipment, Manchester - (Urban Exploration) Urbex - carla]]></title>\n            <link>https://peertube2.cpy.re/w/qR759Sx8bHWbzdhYS6EpG7;threadId=182642</link>\n            <guid>https://peertube2.cpy.re/w/qR759Sx8bHWbzdhYS6EpG7;threadId=182642</guid>\n            <pubDate>Mon, 15 Dec 2025 19:35:12 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://lostpod.space/accounts/obsidianurbex\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>obsidianurbex</span></a></span> What a waste of useful things</p>]]></content:encoded>\n            <dc:creator>carla</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Abandoned hydro powerplant and control room, Portugal - (Urban Exploration) Urbex & Abandoned Places - ObsidianUrbex]]></title>\n            <link>https://peertube2.cpy.re/w/sP2nwN487kPdT8UhtEgLXe;threadId=182640</link>\n            <guid>https://peertube2.cpy.re/w/sP2nwN487kPdT8UhtEgLXe;threadId=182640</guid>\n            <pubDate>Mon, 15 Dec 2025 16:40:02 GMT</pubDate>\n            <content:encoded><![CDATA[<p>@fliegerjohn@akk.datenkastl.de Thanks so much! Was a really fun place to explore, I have been twice now 😄</p>\n]]></content:encoded>\n            <dc:creator>ObsidianUrbex</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Mélenchon humilie l'extrême droite, le PS sauve Macron - Arsène]]></title>\n            <link>https://peertube2.cpy.re/w/e65y17wfTUrisxck9LaWHo;threadId=182639</link>\n            <guid>https://peertube2.cpy.re/w/e65y17wfTUrisxck9LaWHo;threadId=182639</guid>\n            <pubDate>Mon, 15 Dec 2025 10:53:38 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> pour savourer un vrai moment de politique, retrouvez cette audition ici : <a href=\"https://videos.assemblee-nationale.fr/video.17883345_693426b9c9bee.mouvements-politiques-et-islamisme--m-jean-luc-melenchon-fondateur-du-mouvement-la-france-insoumi-6-decembre-2025\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://</span><span>videos.assemblee-nationale.fr/</span><span>video.17883345_693426b9c9bee.mouvements-politiques-et-islamisme--m-jean-luc-melenchon-fondateur-du-mouvement-la-france-insoumi-6-decembre-2025</span></a></p><p>Concernant cette <a href=\"https://framapiaf.org/tags/propagande\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>propagande</span></a> de <a href=\"https://framapiaf.org/tags/desinformation\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>desinformation</span></a> merci à Sébastien Fontenel et son équipe pour sa compilation de TV-poubelle: <a href=\"https://video.blast-info.fr/w/8mot1mRuJ44L62usEdb6dD\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://</span><span>video.blast-info.fr/w/8mot1mRu</span><span>J44L62usEdb6dD</span></a></p><p>et sur l' incompétent <a href=\"https://framapiaf.org/tags/chroniqueur\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>chroniqueur</span></a> <a href=\"https://framapiaf.org/tags/editorialiste\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>editorialiste</span></a> de plateau Franz-Olivier <a href=\"https://framapiaf.org/tags/sexiste\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>sexiste</span></a> <a href=\"https://framapiaf.org/tags/misogyne\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>misogyne</span></a> : <a href=\"https://www.blast-info.fr/articles/2025/cher-franz-olivier-giesbert-boxing-day-54-eWPd1gmCRnqYPDpOfdunQw\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://www.</span><span>blast-info.fr/articles/2025/ch</span><span>er-franz-olivier-giesbert-boxing-day-54-eWPd1gmCRnqYPDpOfdunQw</span></a></p>]]></content:encoded>\n            <dc:creator>Arsène</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Parlement européen :  la droite et l’extrême droite au service des multinationales - Arsène]]></title>\n            <link>https://peertube2.cpy.re/w/t9RtmdSD5QNC9FWw4hGXLt;threadId=182638</link>\n            <guid>https://peertube2.cpy.re/w/t9RtmdSD5QNC9FWw4hGXLt;threadId=182638</guid>\n            <pubDate>Mon, 15 Dec 2025 10:36:53 GMT</pubDate>\n            <content:encoded><![CDATA[<p><a href=\"https://framapiaf.org/tags/bhopal\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>bhopal</span></a> <span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span>  impossible de faire valoir nos <a href=\"https://framapiaf.org/tags/droits\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>droits</span></a> par les moyens légaux ? recourir à la <a href=\"https://framapiaf.org/tags/desobeissance\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>desobeissance</span></a> civile.</p><p>Les <a href=\"https://framapiaf.org/tags/YesMen\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>YesMen</span></a> , deux <a href=\"https://framapiaf.org/tags/artiste\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>artiste</span></a> s <a href=\"https://framapiaf.org/tags/activistes\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>activistes</span></a> ont ainsi infligé une sanction choc à une multinationale qu'on a du mal à obtenir même avec un <a href=\"https://framapiaf.org/tags/boycott\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>boycott</span></a> massif.</p><p><a href=\"https://dai.ly/xaa96f\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://</span><span>dai.ly/xaa96f</span><span></span></a></p><p>Cet extrait n'est pas d'un film mais d'un <a href=\"https://framapiaf.org/tags/documentaire\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>documentaire</span></a> et cela s'est vraiment produit: en trois heures, la firme a perdu 3 milliards de dollars en bourse.</p><p>En entier, à voir : <a href=\"https://youtu.be/WrohdaT0ed0\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://</span><span>youtu.be/WrohdaT0ed0</span><span></span></a></p>]]></content:encoded>\n            <dc:creator>Arsène</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[EU keeps moving to Open Source, New Linux smartphone, KDE fundraising -  Linux Weekly news - Joshua Mason (DFX4509B)]]></title>\n            <link>https://peertube2.cpy.re/w/mutbi4Md59iPZj2SUNA4Gw;threadId=182630</link>\n            <guid>https://peertube2.cpy.re/w/mutbi4Md59iPZj2SUNA4Gw;threadId=182630</guid>\n            <pubDate>Sun, 14 Dec 2025 05:55:44 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Surely you could spoof 120fps on a 60Hz display through Gamescope, though.</p>\n]]></content:encoded>\n            <dc:creator>Joshua Mason (DFX4509B)</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[EU keeps moving to Open Source, New Linux smartphone, KDE fundraising -  Linux Weekly news - LightningToaster]]></title>\n            <link>https://peertube2.cpy.re/w/mutbi4Md59iPZj2SUNA4Gw;threadId=182629</link>\n            <guid>https://peertube2.cpy.re/w/mutbi4Md59iPZj2SUNA4Gw;threadId=182629</guid>\n            <pubDate>Sat, 13 Dec 2025 22:33:33 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> The HDMI issue just reminds me of NVIDIA shenanigans. I'm concluding that building system driver with copyright is just counterpoductive to innovation. Linux already incorporates DisplayPort 2.0, which has open standards (and no fee is paid to HDMI licence). This DP 2.0 spec is 4K 240hz! If you want to support FOSS, use DP cables when you can. When all of us do it, the HDMI company will lose ground.</p>]]></content:encoded>\n            <dc:creator>LightningToaster</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[La fascisation est-elle inscrite dans le code ? - avec Mathilde Saliou et Pablo Rauzy - Garillaz ⏚]]></title>\n            <link>https://peertube2.cpy.re/w/f9PFNJMtPXQCtJzcBHnVsK;threadId=182627</link>\n            <guid>https://peertube2.cpy.re/w/f9PFNJMtPXQCtJzcBHnVsK;threadId=182627</guid>\n            <pubDate>Sat, 13 Dec 2025 15:44:31 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.lqdn.fr/accounts/lqdn\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>lqdn</span></a></span> Merci pour cette vidéo et je rêve d'une Europe qui s'émancipe 👍</p>]]></content:encoded>\n            <dc:creator>Garillaz ⏚</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Cosmic a great Linux desktop, but still limited - Daniel Casanueva]]></title>\n            <link>https://peertube2.cpy.re/w/j8FfrSBh8oUejkhdGcoqkB;threadId=182625</link>\n            <guid>https://peertube2.cpy.re/w/j8FfrSBh8oUejkhdGcoqkB;threadId=182625</guid>\n            <pubDate>Sat, 13 Dec 2025 11:16:34 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> The tiling system is definitely the main reason I stick to cosmic!</p>]]></content:encoded>\n            <dc:creator>Daniel Casanueva</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[La fascisation est-elle inscrite dans le code ? - avec Mathilde Saliou et Pablo Rauzy - ley0x :bzh:]]></title>\n            <link>https://peertube2.cpy.re/w/f9PFNJMtPXQCtJzcBHnVsK;threadId=182569</link>\n            <guid>https://peertube2.cpy.re/w/f9PFNJMtPXQCtJzcBHnVsK;threadId=182569</guid>\n            <pubDate>Fri, 12 Dec 2025 22:10:13 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://mamot.fr/@p4bl0\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>p4bl0</span></a></span> <span><a href=\"https://video.lqdn.fr/accounts/lqdn\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>lqdn</span></a></span> Stylé</p>]]></content:encoded>\n            <dc:creator>ley0x :bzh:</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Cosmic a great Linux desktop, but still limited - vurr]]></title>\n            <link>https://peertube2.cpy.re/w/j8FfrSBh8oUejkhdGcoqkB;threadId=182617</link>\n            <guid>https://peertube2.cpy.re/w/j8FfrSBh8oUejkhdGcoqkB;threadId=182617</guid>\n            <pubDate>Fri, 12 Dec 2025 13:00:39 GMT</pubDate>\n            <content:encoded><![CDATA[<p>@DekOfTheYautja@social.vivaldi.net Didn't the first stable release drop yesterday? It's out of beta, at least, and available for download on their website.</p>\n]]></content:encoded>\n            <dc:creator>vurr</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[VSS, guerres, attentats : que faire de nos traumatismes ? - rickette]]></title>\n            <link>https://peertube2.cpy.re/w/cViSERK1gm5q2xKa299B26;threadId=182619</link>\n            <guid>https://peertube2.cpy.re/w/cViSERK1gm5q2xKa299B26;threadId=182619</guid>\n            <pubDate>Fri, 12 Dec 2025 12:18:04 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Cette émission est toujours d'une puissance folle.<br />\nRemarquablement écrite.<br />\nChapeau bas Nicolas Houguet</p>\n]]></content:encoded>\n            <dc:creator>rickette</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[The Internet's Own Boy - Blort™ 🐀Ⓥ🥋☣️]]></title>\n            <link>https://peertube2.cpy.re/w/1zywKcr1ChzL7R9rG6yCnq;threadId=182618</link>\n            <guid>https://peertube2.cpy.re/w/1zywKcr1ChzL7R9rG6yCnq;threadId=182618</guid>\n            <pubDate>Fri, 12 Dec 2025 08:57:14 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://peertube2.cpy.re/a/root/video-channels\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>root</span></a></span> </p><p>Still so relevant after all these years.</p>]]></content:encoded>\n            <dc:creator>Blort™ 🐀Ⓥ🥋☣️</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Cosmic a great Linux desktop, but still limited - Basil Disco]]></title>\n            <link>https://peertube2.cpy.re/w/j8FfrSBh8oUejkhdGcoqkB;threadId=182621</link>\n            <guid>https://peertube2.cpy.re/w/j8FfrSBh8oUejkhdGcoqkB;threadId=182621</guid>\n            <pubDate>Fri, 12 Dec 2025 08:20:52 GMT</pubDate>\n            <content:encoded><![CDATA[<p>As a GNOME user, I think it just looks like GNOME but with all the common extensions built in and with a slightly worse design language. I still don't understand why people hype up Cosmic when it doesn't look or function different from an existing and popular DE.</p>\n]]></content:encoded>\n            <dc:creator>Basil Disco</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Cosmic a great Linux desktop, but still limited - DekOfTheYautja]]></title>\n            <link>https://peertube2.cpy.re/w/j8FfrSBh8oUejkhdGcoqkB;threadId=182617</link>\n            <guid>https://peertube2.cpy.re/w/j8FfrSBh8oUejkhdGcoqkB;threadId=182617</guid>\n            <pubDate>Thu, 11 Dec 2025 20:53:53 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> Maybe wait until AFTER the stable release to start picking it apart?</p>]]></content:encoded>\n            <dc:creator>DekOfTheYautja</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Réparation enceinte Marshall Acton (Multi-room) - Tisha Tiger / Neliger]]></title>\n            <link>https://peertube2.cpy.re/w/5cvLQoh5DQGcdXTbaMBMTx;threadId=182613</link>\n            <guid>https://peertube2.cpy.re/w/5cvLQoh5DQGcdXTbaMBMTx;threadId=182613</guid>\n            <pubDate>Thu, 11 Dec 2025 09:42:20 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Wow, très intéressante, la méthode de l'alcool ISO qui sèche sur les composants qui chauffent, merci beaucoup !</p>\n]]></content:encoded>\n            <dc:creator>Tisha Tiger / Neliger</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[L'arnaque du \"management bienveillant\" - LylyPeste]]></title>\n            <link>https://peertube2.cpy.re/w/eYRWmbM1uPUnh42ohjJCvg;threadId=182612</link>\n            <guid>https://peertube2.cpy.re/w/eYRWmbM1uPUnh42ohjJCvg;threadId=182612</guid>\n            <pubDate>Wed, 10 Dec 2025 19:30:26 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> Il n'y aurait pas, au milieu des autres clins d’œil, une petite référence à Darkest Dungeon? ^^</p>]]></content:encoded>\n            <dc:creator>LylyPeste</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Abandoned hydro powerplant and control room, Portugal - (Urban Exploration) Urbex & Abandoned Places - fliegerjohn]]></title>\n            <link>https://peertube2.cpy.re/w/sP2nwN487kPdT8UhtEgLXe;threadId=182640</link>\n            <guid>https://peertube2.cpy.re/w/sP2nwN487kPdT8UhtEgLXe;threadId=182640</guid>\n            <pubDate>Tue, 09 Dec 2025 22:01:50 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a class=\"u-url mention\" data-user=\"B15LMMcL1FaBILuBFY\" href=\"https://lostpod.space/accounts/obsidianurbex\" rel=\"noopener noreferrer\" target=\"_blank\">@<span>obsidianurbex</span></a></span> Amazing! 😍</p>\n]]></content:encoded>\n            <dc:creator>fliegerjohn</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Hanpan challenge with Baran v2 - Olivier.L]]></title>\n            <link>https://peertube2.cpy.re/w/noZGjd6NKUDVsvLdugH3Yv;threadId=182508</link>\n            <guid>https://peertube2.cpy.re/w/noZGjd6NKUDVsvLdugH3Yv;threadId=182508</guid>\n            <pubDate>Tue, 09 Dec 2025 20:36:50 GMT</pubDate>\n            <content:encoded><![CDATA[<p>@couleurart Hey ! Merci pour ton commentaire 😃<br />\nOui, j'ai poursuivie. Il faut que je mette cette vidéo à jour du coup...</p>\n]]></content:encoded>\n            <dc:creator>Olivier.L</dc:creator>\n        </item>\n    </channel>\n</rss>"
                  }
                }
              },
              "application/rss+xml": {
                "schema": {
                  "$ref": "#/components/schemas/VideoCommentsForXML"
                },
                "examples": {
                  "nightly": {
                    "value": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<rss version=\"2.0\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:content=\"http://purl.org/rss/1.0/modules/content/\" xmlns:atom=\"http://www.w3.org/2005/Atom\">\n    <channel>\n        <title>PeerTube Nightly</title>\n        <link>https://peertube2.cpy.re</link>\n        <description>This instance is a test instance of the PeerTube project. It is updated to the latest commit in the develop branch every business day, 8pm CET.</description>\n        <lastBuildDate>Tue, 16 Dec 2025 02:36:10 GMT</lastBuildDate>\n        <docs>https://validator.w3.org/feed/docs/rss2.html</docs>\n        <generator>PeerTube - https://peertube2.cpy.re</generator>\n        <image>\n            <title>PeerTube Nightly</title>\n            <url>https://peertube2.cpy.re/lazy-static/avatars/177f70c4-ddef-4bb6-bc96-b00d5e2a0e05.png</url>\n            <link>https://peertube2.cpy.re</link>\n        </image>\n        <copyright>All rights reserved, unless otherwise specified in the terms specified at https://peertube2.cpy.re/about and potential licenses granted by each content's rightholder.</copyright>\n        <atom:link href=\"https://peertube2.cpy.re/feeds/video-comments.xml?scope=local\" rel=\"self\" type=\"application/rss+xml\"/>\n        <item>\n            <title><![CDATA[Parlement européen :  la droite et l’extrême droite au service des multinationales - Arsène]]></title>\n            <link>https://peertube2.cpy.re/w/t9RtmdSD5QNC9FWw4hGXLt;threadId=182645</link>\n            <guid>https://peertube2.cpy.re/w/t9RtmdSD5QNC9FWw4hGXLt;threadId=182645</guid>\n            <pubDate>Mon, 15 Dec 2025 21:13:25 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> un scandal de conflit d'intérêt à dénoncer. Soutenez <a href=\"https://bloomassociation.org/bloom-porte-plainte-contre-le-rapporteur-du-premier-omnibus-jorgen-warborn-pour-conflit-dinterets-sur-fond-dingerence-etrangere/\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://</span><span>bloomassociation.org/bloom-por</span><span>te-plainte-contre-le-rapporteur-du-premier-omnibus-jorgen-warborn-pour-conflit-dinterets-sur-fond-dingerence-etrangere/</span></a></p>]]></content:encoded>\n            <dc:creator>Arsène</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Old sign makers with machines & abandoned printing equipment, Manchester - (Urban Exploration) Urbex - ObsidianUrbex]]></title>\n            <link>https://peertube2.cpy.re/w/qR759Sx8bHWbzdhYS6EpG7;threadId=182642</link>\n            <guid>https://peertube2.cpy.re/w/qR759Sx8bHWbzdhYS6EpG7;threadId=182642</guid>\n            <pubDate>Mon, 15 Dec 2025 20:51:38 GMT</pubDate>\n            <content:encoded><![CDATA[<p>@carla@hessen.social Indeed, some lovely old machines in here</p>\n]]></content:encoded>\n            <dc:creator>ObsidianUrbex</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Old sign makers with machines & abandoned printing equipment, Manchester - (Urban Exploration) Urbex - carla]]></title>\n            <link>https://peertube2.cpy.re/w/qR759Sx8bHWbzdhYS6EpG7;threadId=182642</link>\n            <guid>https://peertube2.cpy.re/w/qR759Sx8bHWbzdhYS6EpG7;threadId=182642</guid>\n            <pubDate>Mon, 15 Dec 2025 19:35:12 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://lostpod.space/accounts/obsidianurbex\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>obsidianurbex</span></a></span> What a waste of useful things</p>]]></content:encoded>\n            <dc:creator>carla</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Abandoned hydro powerplant and control room, Portugal - (Urban Exploration) Urbex & Abandoned Places - ObsidianUrbex]]></title>\n            <link>https://peertube2.cpy.re/w/sP2nwN487kPdT8UhtEgLXe;threadId=182640</link>\n            <guid>https://peertube2.cpy.re/w/sP2nwN487kPdT8UhtEgLXe;threadId=182640</guid>\n            <pubDate>Mon, 15 Dec 2025 16:40:02 GMT</pubDate>\n            <content:encoded><![CDATA[<p>@fliegerjohn@akk.datenkastl.de Thanks so much! Was a really fun place to explore, I have been twice now 😄</p>\n]]></content:encoded>\n            <dc:creator>ObsidianUrbex</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Mélenchon humilie l'extrême droite, le PS sauve Macron - Arsène]]></title>\n            <link>https://peertube2.cpy.re/w/e65y17wfTUrisxck9LaWHo;threadId=182639</link>\n            <guid>https://peertube2.cpy.re/w/e65y17wfTUrisxck9LaWHo;threadId=182639</guid>\n            <pubDate>Mon, 15 Dec 2025 10:53:38 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> pour savourer un vrai moment de politique, retrouvez cette audition ici : <a href=\"https://videos.assemblee-nationale.fr/video.17883345_693426b9c9bee.mouvements-politiques-et-islamisme--m-jean-luc-melenchon-fondateur-du-mouvement-la-france-insoumi-6-decembre-2025\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://</span><span>videos.assemblee-nationale.fr/</span><span>video.17883345_693426b9c9bee.mouvements-politiques-et-islamisme--m-jean-luc-melenchon-fondateur-du-mouvement-la-france-insoumi-6-decembre-2025</span></a></p><p>Concernant cette <a href=\"https://framapiaf.org/tags/propagande\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>propagande</span></a> de <a href=\"https://framapiaf.org/tags/desinformation\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>desinformation</span></a> merci à Sébastien Fontenel et son équipe pour sa compilation de TV-poubelle: <a href=\"https://video.blast-info.fr/w/8mot1mRuJ44L62usEdb6dD\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://</span><span>video.blast-info.fr/w/8mot1mRu</span><span>J44L62usEdb6dD</span></a></p><p>et sur l' incompétent <a href=\"https://framapiaf.org/tags/chroniqueur\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>chroniqueur</span></a> <a href=\"https://framapiaf.org/tags/editorialiste\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>editorialiste</span></a> de plateau Franz-Olivier <a href=\"https://framapiaf.org/tags/sexiste\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>sexiste</span></a> <a href=\"https://framapiaf.org/tags/misogyne\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>misogyne</span></a> : <a href=\"https://www.blast-info.fr/articles/2025/cher-franz-olivier-giesbert-boxing-day-54-eWPd1gmCRnqYPDpOfdunQw\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://www.</span><span>blast-info.fr/articles/2025/ch</span><span>er-franz-olivier-giesbert-boxing-day-54-eWPd1gmCRnqYPDpOfdunQw</span></a></p>]]></content:encoded>\n            <dc:creator>Arsène</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Parlement européen :  la droite et l’extrême droite au service des multinationales - Arsène]]></title>\n            <link>https://peertube2.cpy.re/w/t9RtmdSD5QNC9FWw4hGXLt;threadId=182638</link>\n            <guid>https://peertube2.cpy.re/w/t9RtmdSD5QNC9FWw4hGXLt;threadId=182638</guid>\n            <pubDate>Mon, 15 Dec 2025 10:36:53 GMT</pubDate>\n            <content:encoded><![CDATA[<p><a href=\"https://framapiaf.org/tags/bhopal\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>bhopal</span></a> <span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span>  impossible de faire valoir nos <a href=\"https://framapiaf.org/tags/droits\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>droits</span></a> par les moyens légaux ? recourir à la <a href=\"https://framapiaf.org/tags/desobeissance\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>desobeissance</span></a> civile.</p><p>Les <a href=\"https://framapiaf.org/tags/YesMen\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>YesMen</span></a> , deux <a href=\"https://framapiaf.org/tags/artiste\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>artiste</span></a> s <a href=\"https://framapiaf.org/tags/activistes\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>activistes</span></a> ont ainsi infligé une sanction choc à une multinationale qu'on a du mal à obtenir même avec un <a href=\"https://framapiaf.org/tags/boycott\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>boycott</span></a> massif.</p><p><a href=\"https://dai.ly/xaa96f\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://</span><span>dai.ly/xaa96f</span><span></span></a></p><p>Cet extrait n'est pas d'un film mais d'un <a href=\"https://framapiaf.org/tags/documentaire\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>documentaire</span></a> et cela s'est vraiment produit: en trois heures, la firme a perdu 3 milliards de dollars en bourse.</p><p>En entier, à voir : <a href=\"https://youtu.be/WrohdaT0ed0\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://</span><span>youtu.be/WrohdaT0ed0</span><span></span></a></p>]]></content:encoded>\n            <dc:creator>Arsène</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[EU keeps moving to Open Source, New Linux smartphone, KDE fundraising -  Linux Weekly news - Joshua Mason (DFX4509B)]]></title>\n            <link>https://peertube2.cpy.re/w/mutbi4Md59iPZj2SUNA4Gw;threadId=182630</link>\n            <guid>https://peertube2.cpy.re/w/mutbi4Md59iPZj2SUNA4Gw;threadId=182630</guid>\n            <pubDate>Sun, 14 Dec 2025 05:55:44 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Surely you could spoof 120fps on a 60Hz display through Gamescope, though.</p>\n]]></content:encoded>\n            <dc:creator>Joshua Mason (DFX4509B)</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[EU keeps moving to Open Source, New Linux smartphone, KDE fundraising -  Linux Weekly news - LightningToaster]]></title>\n            <link>https://peertube2.cpy.re/w/mutbi4Md59iPZj2SUNA4Gw;threadId=182629</link>\n            <guid>https://peertube2.cpy.re/w/mutbi4Md59iPZj2SUNA4Gw;threadId=182629</guid>\n            <pubDate>Sat, 13 Dec 2025 22:33:33 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> The HDMI issue just reminds me of NVIDIA shenanigans. I'm concluding that building system driver with copyright is just counterpoductive to innovation. Linux already incorporates DisplayPort 2.0, which has open standards (and no fee is paid to HDMI licence). This DP 2.0 spec is 4K 240hz! If you want to support FOSS, use DP cables when you can. When all of us do it, the HDMI company will lose ground.</p>]]></content:encoded>\n            <dc:creator>LightningToaster</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[La fascisation est-elle inscrite dans le code ? - avec Mathilde Saliou et Pablo Rauzy - Garillaz ⏚]]></title>\n            <link>https://peertube2.cpy.re/w/f9PFNJMtPXQCtJzcBHnVsK;threadId=182627</link>\n            <guid>https://peertube2.cpy.re/w/f9PFNJMtPXQCtJzcBHnVsK;threadId=182627</guid>\n            <pubDate>Sat, 13 Dec 2025 15:44:31 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.lqdn.fr/accounts/lqdn\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>lqdn</span></a></span> Merci pour cette vidéo et je rêve d'une Europe qui s'émancipe 👍</p>]]></content:encoded>\n            <dc:creator>Garillaz ⏚</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Cosmic a great Linux desktop, but still limited - Daniel Casanueva]]></title>\n            <link>https://peertube2.cpy.re/w/j8FfrSBh8oUejkhdGcoqkB;threadId=182625</link>\n            <guid>https://peertube2.cpy.re/w/j8FfrSBh8oUejkhdGcoqkB;threadId=182625</guid>\n            <pubDate>Sat, 13 Dec 2025 11:16:34 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> The tiling system is definitely the main reason I stick to cosmic!</p>]]></content:encoded>\n            <dc:creator>Daniel Casanueva</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[La fascisation est-elle inscrite dans le code ? - avec Mathilde Saliou et Pablo Rauzy - ley0x :bzh:]]></title>\n            <link>https://peertube2.cpy.re/w/f9PFNJMtPXQCtJzcBHnVsK;threadId=182569</link>\n            <guid>https://peertube2.cpy.re/w/f9PFNJMtPXQCtJzcBHnVsK;threadId=182569</guid>\n            <pubDate>Fri, 12 Dec 2025 22:10:13 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://mamot.fr/@p4bl0\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>p4bl0</span></a></span> <span><a href=\"https://video.lqdn.fr/accounts/lqdn\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>lqdn</span></a></span> Stylé</p>]]></content:encoded>\n            <dc:creator>ley0x :bzh:</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Cosmic a great Linux desktop, but still limited - vurr]]></title>\n            <link>https://peertube2.cpy.re/w/j8FfrSBh8oUejkhdGcoqkB;threadId=182617</link>\n            <guid>https://peertube2.cpy.re/w/j8FfrSBh8oUejkhdGcoqkB;threadId=182617</guid>\n            <pubDate>Fri, 12 Dec 2025 13:00:39 GMT</pubDate>\n            <content:encoded><![CDATA[<p>@DekOfTheYautja@social.vivaldi.net Didn't the first stable release drop yesterday? It's out of beta, at least, and available for download on their website.</p>\n]]></content:encoded>\n            <dc:creator>vurr</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[VSS, guerres, attentats : que faire de nos traumatismes ? - rickette]]></title>\n            <link>https://peertube2.cpy.re/w/cViSERK1gm5q2xKa299B26;threadId=182619</link>\n            <guid>https://peertube2.cpy.re/w/cViSERK1gm5q2xKa299B26;threadId=182619</guid>\n            <pubDate>Fri, 12 Dec 2025 12:18:04 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Cette émission est toujours d'une puissance folle.<br />\nRemarquablement écrite.<br />\nChapeau bas Nicolas Houguet</p>\n]]></content:encoded>\n            <dc:creator>rickette</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[The Internet's Own Boy - Blort™ 🐀Ⓥ🥋☣️]]></title>\n            <link>https://peertube2.cpy.re/w/1zywKcr1ChzL7R9rG6yCnq;threadId=182618</link>\n            <guid>https://peertube2.cpy.re/w/1zywKcr1ChzL7R9rG6yCnq;threadId=182618</guid>\n            <pubDate>Fri, 12 Dec 2025 08:57:14 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://peertube2.cpy.re/a/root/video-channels\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>root</span></a></span> </p><p>Still so relevant after all these years.</p>]]></content:encoded>\n            <dc:creator>Blort™ 🐀Ⓥ🥋☣️</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Cosmic a great Linux desktop, but still limited - Basil Disco]]></title>\n            <link>https://peertube2.cpy.re/w/j8FfrSBh8oUejkhdGcoqkB;threadId=182621</link>\n            <guid>https://peertube2.cpy.re/w/j8FfrSBh8oUejkhdGcoqkB;threadId=182621</guid>\n            <pubDate>Fri, 12 Dec 2025 08:20:52 GMT</pubDate>\n            <content:encoded><![CDATA[<p>As a GNOME user, I think it just looks like GNOME but with all the common extensions built in and with a slightly worse design language. I still don't understand why people hype up Cosmic when it doesn't look or function different from an existing and popular DE.</p>\n]]></content:encoded>\n            <dc:creator>Basil Disco</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Cosmic a great Linux desktop, but still limited - DekOfTheYautja]]></title>\n            <link>https://peertube2.cpy.re/w/j8FfrSBh8oUejkhdGcoqkB;threadId=182617</link>\n            <guid>https://peertube2.cpy.re/w/j8FfrSBh8oUejkhdGcoqkB;threadId=182617</guid>\n            <pubDate>Thu, 11 Dec 2025 20:53:53 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> Maybe wait until AFTER the stable release to start picking it apart?</p>]]></content:encoded>\n            <dc:creator>DekOfTheYautja</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Réparation enceinte Marshall Acton (Multi-room) - Tisha Tiger / Neliger]]></title>\n            <link>https://peertube2.cpy.re/w/5cvLQoh5DQGcdXTbaMBMTx;threadId=182613</link>\n            <guid>https://peertube2.cpy.re/w/5cvLQoh5DQGcdXTbaMBMTx;threadId=182613</guid>\n            <pubDate>Thu, 11 Dec 2025 09:42:20 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Wow, très intéressante, la méthode de l'alcool ISO qui sèche sur les composants qui chauffent, merci beaucoup !</p>\n]]></content:encoded>\n            <dc:creator>Tisha Tiger / Neliger</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[L'arnaque du \"management bienveillant\" - LylyPeste]]></title>\n            <link>https://peertube2.cpy.re/w/eYRWmbM1uPUnh42ohjJCvg;threadId=182612</link>\n            <guid>https://peertube2.cpy.re/w/eYRWmbM1uPUnh42ohjJCvg;threadId=182612</guid>\n            <pubDate>Wed, 10 Dec 2025 19:30:26 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> Il n'y aurait pas, au milieu des autres clins d’œil, une petite référence à Darkest Dungeon? ^^</p>]]></content:encoded>\n            <dc:creator>LylyPeste</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Abandoned hydro powerplant and control room, Portugal - (Urban Exploration) Urbex & Abandoned Places - fliegerjohn]]></title>\n            <link>https://peertube2.cpy.re/w/sP2nwN487kPdT8UhtEgLXe;threadId=182640</link>\n            <guid>https://peertube2.cpy.re/w/sP2nwN487kPdT8UhtEgLXe;threadId=182640</guid>\n            <pubDate>Tue, 09 Dec 2025 22:01:50 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a class=\"u-url mention\" data-user=\"B15LMMcL1FaBILuBFY\" href=\"https://lostpod.space/accounts/obsidianurbex\" rel=\"noopener noreferrer\" target=\"_blank\">@<span>obsidianurbex</span></a></span> Amazing! 😍</p>\n]]></content:encoded>\n            <dc:creator>fliegerjohn</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Hanpan challenge with Baran v2 - Olivier.L]]></title>\n            <link>https://peertube2.cpy.re/w/noZGjd6NKUDVsvLdugH3Yv;threadId=182508</link>\n            <guid>https://peertube2.cpy.re/w/noZGjd6NKUDVsvLdugH3Yv;threadId=182508</guid>\n            <pubDate>Tue, 09 Dec 2025 20:36:50 GMT</pubDate>\n            <content:encoded><![CDATA[<p>@couleurart Hey ! Merci pour ton commentaire 😃<br />\nOui, j'ai poursuivie. Il faut que je mette cette vidéo à jour du coup...</p>\n]]></content:encoded>\n            <dc:creator>Olivier.L</dc:creator>\n        </item>\n    </channel>\n</rss>"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VideoCommentsForXML"
                },
                "examples": {
                  "nightly": {
                    "value": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<rss version=\"2.0\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:content=\"http://purl.org/rss/1.0/modules/content/\" xmlns:atom=\"http://www.w3.org/2005/Atom\">\n    <channel>\n        <title>PeerTube Nightly</title>\n        <link>https://peertube2.cpy.re</link>\n        <description>This instance is a test instance of the PeerTube project. It is updated to the latest commit in the develop branch every business day, 8pm CET.</description>\n        <lastBuildDate>Tue, 16 Dec 2025 02:36:11 GMT</lastBuildDate>\n        <docs>https://validator.w3.org/feed/docs/rss2.html</docs>\n        <generator>PeerTube - https://peertube2.cpy.re</generator>\n        <image>\n            <title>PeerTube Nightly</title>\n            <url>https://peertube2.cpy.re/lazy-static/avatars/177f70c4-ddef-4bb6-bc96-b00d5e2a0e05.png</url>\n            <link>https://peertube2.cpy.re</link>\n        </image>\n        <copyright>All rights reserved, unless otherwise specified in the terms specified at https://peertube2.cpy.re/about and potential licenses granted by each content's rightholder.</copyright>\n        <atom:link href=\"https://peertube2.cpy.re/feeds/video-comments.xml?scope=local\" rel=\"self\" type=\"application/rss+xml\"/>\n        <item>\n            <title><![CDATA[Parlement européen :  la droite et l’extrême droite au service des multinationales - Arsène]]></title>\n            <link>https://peertube2.cpy.re/w/t9RtmdSD5QNC9FWw4hGXLt;threadId=182645</link>\n            <guid>https://peertube2.cpy.re/w/t9RtmdSD5QNC9FWw4hGXLt;threadId=182645</guid>\n            <pubDate>Mon, 15 Dec 2025 21:13:25 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> un scandal de conflit d'intérêt à dénoncer. Soutenez <a href=\"https://bloomassociation.org/bloom-porte-plainte-contre-le-rapporteur-du-premier-omnibus-jorgen-warborn-pour-conflit-dinterets-sur-fond-dingerence-etrangere/\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://</span><span>bloomassociation.org/bloom-por</span><span>te-plainte-contre-le-rapporteur-du-premier-omnibus-jorgen-warborn-pour-conflit-dinterets-sur-fond-dingerence-etrangere/</span></a></p>]]></content:encoded>\n            <dc:creator>Arsène</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Old sign makers with machines & abandoned printing equipment, Manchester - (Urban Exploration) Urbex - ObsidianUrbex]]></title>\n            <link>https://peertube2.cpy.re/w/qR759Sx8bHWbzdhYS6EpG7;threadId=182642</link>\n            <guid>https://peertube2.cpy.re/w/qR759Sx8bHWbzdhYS6EpG7;threadId=182642</guid>\n            <pubDate>Mon, 15 Dec 2025 20:51:38 GMT</pubDate>\n            <content:encoded><![CDATA[<p>@carla@hessen.social Indeed, some lovely old machines in here</p>\n]]></content:encoded>\n            <dc:creator>ObsidianUrbex</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Old sign makers with machines & abandoned printing equipment, Manchester - (Urban Exploration) Urbex - carla]]></title>\n            <link>https://peertube2.cpy.re/w/qR759Sx8bHWbzdhYS6EpG7;threadId=182642</link>\n            <guid>https://peertube2.cpy.re/w/qR759Sx8bHWbzdhYS6EpG7;threadId=182642</guid>\n            <pubDate>Mon, 15 Dec 2025 19:35:12 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://lostpod.space/accounts/obsidianurbex\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>obsidianurbex</span></a></span> What a waste of useful things</p>]]></content:encoded>\n            <dc:creator>carla</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Abandoned hydro powerplant and control room, Portugal - (Urban Exploration) Urbex & Abandoned Places - ObsidianUrbex]]></title>\n            <link>https://peertube2.cpy.re/w/sP2nwN487kPdT8UhtEgLXe;threadId=182640</link>\n            <guid>https://peertube2.cpy.re/w/sP2nwN487kPdT8UhtEgLXe;threadId=182640</guid>\n            <pubDate>Mon, 15 Dec 2025 16:40:02 GMT</pubDate>\n            <content:encoded><![CDATA[<p>@fliegerjohn@akk.datenkastl.de Thanks so much! Was a really fun place to explore, I have been twice now 😄</p>\n]]></content:encoded>\n            <dc:creator>ObsidianUrbex</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Mélenchon humilie l'extrême droite, le PS sauve Macron - Arsène]]></title>\n            <link>https://peertube2.cpy.re/w/e65y17wfTUrisxck9LaWHo;threadId=182639</link>\n            <guid>https://peertube2.cpy.re/w/e65y17wfTUrisxck9LaWHo;threadId=182639</guid>\n            <pubDate>Mon, 15 Dec 2025 10:53:38 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> pour savourer un vrai moment de politique, retrouvez cette audition ici : <a href=\"https://videos.assemblee-nationale.fr/video.17883345_693426b9c9bee.mouvements-politiques-et-islamisme--m-jean-luc-melenchon-fondateur-du-mouvement-la-france-insoumi-6-decembre-2025\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://</span><span>videos.assemblee-nationale.fr/</span><span>video.17883345_693426b9c9bee.mouvements-politiques-et-islamisme--m-jean-luc-melenchon-fondateur-du-mouvement-la-france-insoumi-6-decembre-2025</span></a></p><p>Concernant cette <a href=\"https://framapiaf.org/tags/propagande\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>propagande</span></a> de <a href=\"https://framapiaf.org/tags/desinformation\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>desinformation</span></a> merci à Sébastien Fontenel et son équipe pour sa compilation de TV-poubelle: <a href=\"https://video.blast-info.fr/w/8mot1mRuJ44L62usEdb6dD\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://</span><span>video.blast-info.fr/w/8mot1mRu</span><span>J44L62usEdb6dD</span></a></p><p>et sur l' incompétent <a href=\"https://framapiaf.org/tags/chroniqueur\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>chroniqueur</span></a> <a href=\"https://framapiaf.org/tags/editorialiste\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>editorialiste</span></a> de plateau Franz-Olivier <a href=\"https://framapiaf.org/tags/sexiste\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>sexiste</span></a> <a href=\"https://framapiaf.org/tags/misogyne\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>misogyne</span></a> : <a href=\"https://www.blast-info.fr/articles/2025/cher-franz-olivier-giesbert-boxing-day-54-eWPd1gmCRnqYPDpOfdunQw\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://www.</span><span>blast-info.fr/articles/2025/ch</span><span>er-franz-olivier-giesbert-boxing-day-54-eWPd1gmCRnqYPDpOfdunQw</span></a></p>]]></content:encoded>\n            <dc:creator>Arsène</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Parlement européen :  la droite et l’extrême droite au service des multinationales - Arsène]]></title>\n            <link>https://peertube2.cpy.re/w/t9RtmdSD5QNC9FWw4hGXLt;threadId=182638</link>\n            <guid>https://peertube2.cpy.re/w/t9RtmdSD5QNC9FWw4hGXLt;threadId=182638</guid>\n            <pubDate>Mon, 15 Dec 2025 10:36:53 GMT</pubDate>\n            <content:encoded><![CDATA[<p><a href=\"https://framapiaf.org/tags/bhopal\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>bhopal</span></a> <span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span>  impossible de faire valoir nos <a href=\"https://framapiaf.org/tags/droits\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>droits</span></a> par les moyens légaux ? recourir à la <a href=\"https://framapiaf.org/tags/desobeissance\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>desobeissance</span></a> civile.</p><p>Les <a href=\"https://framapiaf.org/tags/YesMen\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>YesMen</span></a> , deux <a href=\"https://framapiaf.org/tags/artiste\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>artiste</span></a> s <a href=\"https://framapiaf.org/tags/activistes\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>activistes</span></a> ont ainsi infligé une sanction choc à une multinationale qu'on a du mal à obtenir même avec un <a href=\"https://framapiaf.org/tags/boycott\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>boycott</span></a> massif.</p><p><a href=\"https://dai.ly/xaa96f\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://</span><span>dai.ly/xaa96f</span><span></span></a></p><p>Cet extrait n'est pas d'un film mais d'un <a href=\"https://framapiaf.org/tags/documentaire\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>documentaire</span></a> et cela s'est vraiment produit: en trois heures, la firme a perdu 3 milliards de dollars en bourse.</p><p>En entier, à voir : <a href=\"https://youtu.be/WrohdaT0ed0\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://</span><span>youtu.be/WrohdaT0ed0</span><span></span></a></p>]]></content:encoded>\n            <dc:creator>Arsène</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[EU keeps moving to Open Source, New Linux smartphone, KDE fundraising -  Linux Weekly news - Joshua Mason (DFX4509B)]]></title>\n            <link>https://peertube2.cpy.re/w/mutbi4Md59iPZj2SUNA4Gw;threadId=182630</link>\n            <guid>https://peertube2.cpy.re/w/mutbi4Md59iPZj2SUNA4Gw;threadId=182630</guid>\n            <pubDate>Sun, 14 Dec 2025 05:55:44 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Surely you could spoof 120fps on a 60Hz display through Gamescope, though.</p>\n]]></content:encoded>\n            <dc:creator>Joshua Mason (DFX4509B)</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[EU keeps moving to Open Source, New Linux smartphone, KDE fundraising -  Linux Weekly news - LightningToaster]]></title>\n            <link>https://peertube2.cpy.re/w/mutbi4Md59iPZj2SUNA4Gw;threadId=182629</link>\n            <guid>https://peertube2.cpy.re/w/mutbi4Md59iPZj2SUNA4Gw;threadId=182629</guid>\n            <pubDate>Sat, 13 Dec 2025 22:33:33 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> The HDMI issue just reminds me of NVIDIA shenanigans. I'm concluding that building system driver with copyright is just counterpoductive to innovation. Linux already incorporates DisplayPort 2.0, which has open standards (and no fee is paid to HDMI licence). This DP 2.0 spec is 4K 240hz! If you want to support FOSS, use DP cables when you can. When all of us do it, the HDMI company will lose ground.</p>]]></content:encoded>\n            <dc:creator>LightningToaster</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[La fascisation est-elle inscrite dans le code ? - avec Mathilde Saliou et Pablo Rauzy - Garillaz ⏚]]></title>\n            <link>https://peertube2.cpy.re/w/f9PFNJMtPXQCtJzcBHnVsK;threadId=182627</link>\n            <guid>https://peertube2.cpy.re/w/f9PFNJMtPXQCtJzcBHnVsK;threadId=182627</guid>\n            <pubDate>Sat, 13 Dec 2025 15:44:31 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.lqdn.fr/accounts/lqdn\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>lqdn</span></a></span> Merci pour cette vidéo et je rêve d'une Europe qui s'émancipe 👍</p>]]></content:encoded>\n            <dc:creator>Garillaz ⏚</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Cosmic a great Linux desktop, but still limited - Daniel Casanueva]]></title>\n            <link>https://peertube2.cpy.re/w/j8FfrSBh8oUejkhdGcoqkB;threadId=182625</link>\n            <guid>https://peertube2.cpy.re/w/j8FfrSBh8oUejkhdGcoqkB;threadId=182625</guid>\n            <pubDate>Sat, 13 Dec 2025 11:16:34 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> The tiling system is definitely the main reason I stick to cosmic!</p>]]></content:encoded>\n            <dc:creator>Daniel Casanueva</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[La fascisation est-elle inscrite dans le code ? - avec Mathilde Saliou et Pablo Rauzy - ley0x :bzh:]]></title>\n            <link>https://peertube2.cpy.re/w/f9PFNJMtPXQCtJzcBHnVsK;threadId=182569</link>\n            <guid>https://peertube2.cpy.re/w/f9PFNJMtPXQCtJzcBHnVsK;threadId=182569</guid>\n            <pubDate>Fri, 12 Dec 2025 22:10:13 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://mamot.fr/@p4bl0\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>p4bl0</span></a></span> <span><a href=\"https://video.lqdn.fr/accounts/lqdn\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>lqdn</span></a></span> Stylé</p>]]></content:encoded>\n            <dc:creator>ley0x :bzh:</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Cosmic a great Linux desktop, but still limited - vurr]]></title>\n            <link>https://peertube2.cpy.re/w/j8FfrSBh8oUejkhdGcoqkB;threadId=182617</link>\n            <guid>https://peertube2.cpy.re/w/j8FfrSBh8oUejkhdGcoqkB;threadId=182617</guid>\n            <pubDate>Fri, 12 Dec 2025 13:00:39 GMT</pubDate>\n            <content:encoded><![CDATA[<p>@DekOfTheYautja@social.vivaldi.net Didn't the first stable release drop yesterday? It's out of beta, at least, and available for download on their website.</p>\n]]></content:encoded>\n            <dc:creator>vurr</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[VSS, guerres, attentats : que faire de nos traumatismes ? - rickette]]></title>\n            <link>https://peertube2.cpy.re/w/cViSERK1gm5q2xKa299B26;threadId=182619</link>\n            <guid>https://peertube2.cpy.re/w/cViSERK1gm5q2xKa299B26;threadId=182619</guid>\n            <pubDate>Fri, 12 Dec 2025 12:18:04 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Cette émission est toujours d'une puissance folle.<br />\nRemarquablement écrite.<br />\nChapeau bas Nicolas Houguet</p>\n]]></content:encoded>\n            <dc:creator>rickette</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[The Internet's Own Boy - Blort™ 🐀Ⓥ🥋☣️]]></title>\n            <link>https://peertube2.cpy.re/w/1zywKcr1ChzL7R9rG6yCnq;threadId=182618</link>\n            <guid>https://peertube2.cpy.re/w/1zywKcr1ChzL7R9rG6yCnq;threadId=182618</guid>\n            <pubDate>Fri, 12 Dec 2025 08:57:14 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://peertube2.cpy.re/a/root/video-channels\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>root</span></a></span> </p><p>Still so relevant after all these years.</p>]]></content:encoded>\n            <dc:creator>Blort™ 🐀Ⓥ🥋☣️</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Cosmic a great Linux desktop, but still limited - Basil Disco]]></title>\n            <link>https://peertube2.cpy.re/w/j8FfrSBh8oUejkhdGcoqkB;threadId=182621</link>\n            <guid>https://peertube2.cpy.re/w/j8FfrSBh8oUejkhdGcoqkB;threadId=182621</guid>\n            <pubDate>Fri, 12 Dec 2025 08:20:52 GMT</pubDate>\n            <content:encoded><![CDATA[<p>As a GNOME user, I think it just looks like GNOME but with all the common extensions built in and with a slightly worse design language. I still don't understand why people hype up Cosmic when it doesn't look or function different from an existing and popular DE.</p>\n]]></content:encoded>\n            <dc:creator>Basil Disco</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Cosmic a great Linux desktop, but still limited - DekOfTheYautja]]></title>\n            <link>https://peertube2.cpy.re/w/j8FfrSBh8oUejkhdGcoqkB;threadId=182617</link>\n            <guid>https://peertube2.cpy.re/w/j8FfrSBh8oUejkhdGcoqkB;threadId=182617</guid>\n            <pubDate>Thu, 11 Dec 2025 20:53:53 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> Maybe wait until AFTER the stable release to start picking it apart?</p>]]></content:encoded>\n            <dc:creator>DekOfTheYautja</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Réparation enceinte Marshall Acton (Multi-room) - Tisha Tiger / Neliger]]></title>\n            <link>https://peertube2.cpy.re/w/5cvLQoh5DQGcdXTbaMBMTx;threadId=182613</link>\n            <guid>https://peertube2.cpy.re/w/5cvLQoh5DQGcdXTbaMBMTx;threadId=182613</guid>\n            <pubDate>Thu, 11 Dec 2025 09:42:20 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Wow, très intéressante, la méthode de l'alcool ISO qui sèche sur les composants qui chauffent, merci beaucoup !</p>\n]]></content:encoded>\n            <dc:creator>Tisha Tiger / Neliger</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[L'arnaque du \"management bienveillant\" - LylyPeste]]></title>\n            <link>https://peertube2.cpy.re/w/eYRWmbM1uPUnh42ohjJCvg;threadId=182612</link>\n            <guid>https://peertube2.cpy.re/w/eYRWmbM1uPUnh42ohjJCvg;threadId=182612</guid>\n            <pubDate>Wed, 10 Dec 2025 19:30:26 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> Il n'y aurait pas, au milieu des autres clins d’œil, une petite référence à Darkest Dungeon? ^^</p>]]></content:encoded>\n            <dc:creator>LylyPeste</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Abandoned hydro powerplant and control room, Portugal - (Urban Exploration) Urbex & Abandoned Places - fliegerjohn]]></title>\n            <link>https://peertube2.cpy.re/w/sP2nwN487kPdT8UhtEgLXe;threadId=182640</link>\n            <guid>https://peertube2.cpy.re/w/sP2nwN487kPdT8UhtEgLXe;threadId=182640</guid>\n            <pubDate>Tue, 09 Dec 2025 22:01:50 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a class=\"u-url mention\" data-user=\"B15LMMcL1FaBILuBFY\" href=\"https://lostpod.space/accounts/obsidianurbex\" rel=\"noopener noreferrer\" target=\"_blank\">@<span>obsidianurbex</span></a></span> Amazing! 😍</p>\n]]></content:encoded>\n            <dc:creator>fliegerjohn</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Hanpan challenge with Baran v2 - Olivier.L]]></title>\n            <link>https://peertube2.cpy.re/w/noZGjd6NKUDVsvLdugH3Yv;threadId=182508</link>\n            <guid>https://peertube2.cpy.re/w/noZGjd6NKUDVsvLdugH3Yv;threadId=182508</guid>\n            <pubDate>Tue, 09 Dec 2025 20:36:50 GMT</pubDate>\n            <content:encoded><![CDATA[<p>@couleurart Hey ! Merci pour ton commentaire 😃<br />\nOui, j'ai poursuivie. Il faut que je mette cette vidéo à jour du coup...</p>\n]]></content:encoded>\n            <dc:creator>Olivier.L</dc:creator>\n        </item>\n    </channel>\n</rss>"
                  }
                }
              },
              "application/atom+xml": {
                "schema": {
                  "$ref": "#/components/schemas/VideoCommentsForXML"
                },
                "examples": {
                  "nightly": {
                    "value": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<feed xmlns=\"http://www.w3.org/2005/Atom\">\n    <id>https://peertube2.cpy.re</id>\n    <title>PeerTube Nightly</title>\n    <updated>2025-12-16T02:36:11.122Z</updated>\n    <generator>PeerTube - https://peertube2.cpy.re</generator>\n    <link rel=\"alternate\" href=\"https://peertube2.cpy.re\"/>\n    <link rel=\"self\" href=\"https://peertube2.cpy.re/feeds/video-comments.atom?scope=local\"/>\n    <subtitle>This instance is a test instance of the PeerTube project. It is updated to the latest commit in the develop branch every business day, 8pm CET.</subtitle>\n    <logo>https://peertube2.cpy.re/lazy-static/avatars/177f70c4-ddef-4bb6-bc96-b00d5e2a0e05.png</logo>\n    <icon>https://peertube2.cpy.re/lazy-static/avatars/abace30f-69ad-4ff2-a954-dea06c5db6eb.png</icon>\n    <rights>All rights reserved, unless otherwise specified in the terms specified at https://peertube2.cpy.re/about and potential licenses granted by each content's rightholder.</rights>\n    <entry>\n        <title type=\"html\"><![CDATA[Parlement européen :  la droite et l’extrême droite au service des multinationales - Arsène]]></title>\n        <id>https://peertube2.cpy.re/w/t9RtmdSD5QNC9FWw4hGXLt;threadId=182645</id>\n        <link href=\"https://peertube2.cpy.re/w/t9RtmdSD5QNC9FWw4hGXLt;threadId=182645\"/>\n        <updated>2025-12-15T21:13:25.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> un scandal de conflit d'intérêt à dénoncer. Soutenez <a href=\"https://bloomassociation.org/bloom-porte-plainte-contre-le-rapporteur-du-premier-omnibus-jorgen-warborn-pour-conflit-dinterets-sur-fond-dingerence-etrangere/\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://</span><span>bloomassociation.org/bloom-por</span><span>te-plainte-contre-le-rapporteur-du-premier-omnibus-jorgen-warborn-pour-conflit-dinterets-sur-fond-dingerence-etrangere/</span></a></p>]]></content>\n        <author>\n            <name>Arsène</name>\n            <uri>https://framapiaf.org/users/rsn</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Old sign makers with machines & abandoned printing equipment, Manchester - (Urban Exploration) Urbex - ObsidianUrbex]]></title>\n        <id>https://peertube2.cpy.re/w/qR759Sx8bHWbzdhYS6EpG7;threadId=182642</id>\n        <link href=\"https://peertube2.cpy.re/w/qR759Sx8bHWbzdhYS6EpG7;threadId=182642\"/>\n        <updated>2025-12-15T20:51:38.349Z</updated>\n        <content type=\"html\"><![CDATA[<p>@carla@hessen.social Indeed, some lovely old machines in here</p>\n]]></content>\n        <author>\n            <name>ObsidianUrbex</name>\n            <uri>https://lostpod.space/accounts/obsidianurbex</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Old sign makers with machines & abandoned printing equipment, Manchester - (Urban Exploration) Urbex - carla]]></title>\n        <id>https://peertube2.cpy.re/w/qR759Sx8bHWbzdhYS6EpG7;threadId=182642</id>\n        <link href=\"https://peertube2.cpy.re/w/qR759Sx8bHWbzdhYS6EpG7;threadId=182642\"/>\n        <updated>2025-12-15T19:35:12.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://lostpod.space/accounts/obsidianurbex\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>obsidianurbex</span></a></span> What a waste of useful things</p>]]></content>\n        <author>\n            <name>carla</name>\n            <uri>https://hessen.social/users/carla</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Abandoned hydro powerplant and control room, Portugal - (Urban Exploration) Urbex & Abandoned Places - ObsidianUrbex]]></title>\n        <id>https://peertube2.cpy.re/w/sP2nwN487kPdT8UhtEgLXe;threadId=182640</id>\n        <link href=\"https://peertube2.cpy.re/w/sP2nwN487kPdT8UhtEgLXe;threadId=182640\"/>\n        <updated>2025-12-15T16:40:02.161Z</updated>\n        <content type=\"html\"><![CDATA[<p>@fliegerjohn@akk.datenkastl.de Thanks so much! Was a really fun place to explore, I have been twice now 😄</p>\n]]></content>\n        <author>\n            <name>ObsidianUrbex</name>\n            <uri>https://lostpod.space/accounts/obsidianurbex</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Mélenchon humilie l'extrême droite, le PS sauve Macron - Arsène]]></title>\n        <id>https://peertube2.cpy.re/w/e65y17wfTUrisxck9LaWHo;threadId=182639</id>\n        <link href=\"https://peertube2.cpy.re/w/e65y17wfTUrisxck9LaWHo;threadId=182639\"/>\n        <updated>2025-12-15T10:53:38.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> pour savourer un vrai moment de politique, retrouvez cette audition ici : <a href=\"https://videos.assemblee-nationale.fr/video.17883345_693426b9c9bee.mouvements-politiques-et-islamisme--m-jean-luc-melenchon-fondateur-du-mouvement-la-france-insoumi-6-decembre-2025\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://</span><span>videos.assemblee-nationale.fr/</span><span>video.17883345_693426b9c9bee.mouvements-politiques-et-islamisme--m-jean-luc-melenchon-fondateur-du-mouvement-la-france-insoumi-6-decembre-2025</span></a></p><p>Concernant cette <a href=\"https://framapiaf.org/tags/propagande\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>propagande</span></a> de <a href=\"https://framapiaf.org/tags/desinformation\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>desinformation</span></a> merci à Sébastien Fontenel et son équipe pour sa compilation de TV-poubelle: <a href=\"https://video.blast-info.fr/w/8mot1mRuJ44L62usEdb6dD\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://</span><span>video.blast-info.fr/w/8mot1mRu</span><span>J44L62usEdb6dD</span></a></p><p>et sur l' incompétent <a href=\"https://framapiaf.org/tags/chroniqueur\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>chroniqueur</span></a> <a href=\"https://framapiaf.org/tags/editorialiste\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>editorialiste</span></a> de plateau Franz-Olivier <a href=\"https://framapiaf.org/tags/sexiste\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>sexiste</span></a> <a href=\"https://framapiaf.org/tags/misogyne\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>misogyne</span></a> : <a href=\"https://www.blast-info.fr/articles/2025/cher-franz-olivier-giesbert-boxing-day-54-eWPd1gmCRnqYPDpOfdunQw\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://www.</span><span>blast-info.fr/articles/2025/ch</span><span>er-franz-olivier-giesbert-boxing-day-54-eWPd1gmCRnqYPDpOfdunQw</span></a></p>]]></content>\n        <author>\n            <name>Arsène</name>\n            <uri>https://framapiaf.org/users/rsn</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Parlement européen :  la droite et l’extrême droite au service des multinationales - Arsène]]></title>\n        <id>https://peertube2.cpy.re/w/t9RtmdSD5QNC9FWw4hGXLt;threadId=182638</id>\n        <link href=\"https://peertube2.cpy.re/w/t9RtmdSD5QNC9FWw4hGXLt;threadId=182638\"/>\n        <updated>2025-12-15T10:36:53.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><a href=\"https://framapiaf.org/tags/bhopal\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>bhopal</span></a> <span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span>  impossible de faire valoir nos <a href=\"https://framapiaf.org/tags/droits\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>droits</span></a> par les moyens légaux ? recourir à la <a href=\"https://framapiaf.org/tags/desobeissance\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>desobeissance</span></a> civile.</p><p>Les <a href=\"https://framapiaf.org/tags/YesMen\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>YesMen</span></a> , deux <a href=\"https://framapiaf.org/tags/artiste\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>artiste</span></a> s <a href=\"https://framapiaf.org/tags/activistes\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>activistes</span></a> ont ainsi infligé une sanction choc à une multinationale qu'on a du mal à obtenir même avec un <a href=\"https://framapiaf.org/tags/boycott\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>boycott</span></a> massif.</p><p><a href=\"https://dai.ly/xaa96f\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://</span><span>dai.ly/xaa96f</span><span></span></a></p><p>Cet extrait n'est pas d'un film mais d'un <a href=\"https://framapiaf.org/tags/documentaire\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>documentaire</span></a> et cela s'est vraiment produit: en trois heures, la firme a perdu 3 milliards de dollars en bourse.</p><p>En entier, à voir : <a href=\"https://youtu.be/WrohdaT0ed0\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://</span><span>youtu.be/WrohdaT0ed0</span><span></span></a></p>]]></content>\n        <author>\n            <name>Arsène</name>\n            <uri>https://framapiaf.org/users/rsn</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[EU keeps moving to Open Source, New Linux smartphone, KDE fundraising -  Linux Weekly news - Joshua Mason (DFX4509B)]]></title>\n        <id>https://peertube2.cpy.re/w/mutbi4Md59iPZj2SUNA4Gw;threadId=182630</id>\n        <link href=\"https://peertube2.cpy.re/w/mutbi4Md59iPZj2SUNA4Gw;threadId=182630\"/>\n        <updated>2025-12-14T05:55:44.715Z</updated>\n        <content type=\"html\"><![CDATA[<p>Surely you could spoof 120fps on a 60Hz display through Gamescope, though.</p>\n]]></content>\n        <author>\n            <name>Joshua Mason (DFX4509B)</name>\n            <uri>https://peertube.wtf/accounts/dfx4509b</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[EU keeps moving to Open Source, New Linux smartphone, KDE fundraising -  Linux Weekly news - LightningToaster]]></title>\n        <id>https://peertube2.cpy.re/w/mutbi4Md59iPZj2SUNA4Gw;threadId=182629</id>\n        <link href=\"https://peertube2.cpy.re/w/mutbi4Md59iPZj2SUNA4Gw;threadId=182629\"/>\n        <updated>2025-12-13T22:33:33.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> The HDMI issue just reminds me of NVIDIA shenanigans. I'm concluding that building system driver with copyright is just counterpoductive to innovation. Linux already incorporates DisplayPort 2.0, which has open standards (and no fee is paid to HDMI licence). This DP 2.0 spec is 4K 240hz! If you want to support FOSS, use DP cables when you can. When all of us do it, the HDMI company will lose ground.</p>]]></content>\n        <author>\n            <name>LightningToaster</name>\n            <uri>https://masto.nu/users/LightningToaster</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[La fascisation est-elle inscrite dans le code ? - avec Mathilde Saliou et Pablo Rauzy - Garillaz ⏚]]></title>\n        <id>https://peertube2.cpy.re/w/f9PFNJMtPXQCtJzcBHnVsK;threadId=182627</id>\n        <link href=\"https://peertube2.cpy.re/w/f9PFNJMtPXQCtJzcBHnVsK;threadId=182627\"/>\n        <updated>2025-12-13T15:44:31.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://video.lqdn.fr/accounts/lqdn\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>lqdn</span></a></span> Merci pour cette vidéo et je rêve d'une Europe qui s'émancipe 👍</p>]]></content>\n        <author>\n            <name>Garillaz ⏚</name>\n            <uri>https://piaille.fr/users/garillaz</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Cosmic a great Linux desktop, but still limited - Daniel Casanueva]]></title>\n        <id>https://peertube2.cpy.re/w/j8FfrSBh8oUejkhdGcoqkB;threadId=182625</id>\n        <link href=\"https://peertube2.cpy.re/w/j8FfrSBh8oUejkhdGcoqkB;threadId=182625\"/>\n        <updated>2025-12-13T11:16:34.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> The tiling system is definitely the main reason I stick to cosmic!</p>]]></content>\n        <author>\n            <name>Daniel Casanueva</name>\n            <uri>https://mstdn.social/users/danielcasanueva</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[La fascisation est-elle inscrite dans le code ? - avec Mathilde Saliou et Pablo Rauzy - ley0x :bzh:]]></title>\n        <id>https://peertube2.cpy.re/w/f9PFNJMtPXQCtJzcBHnVsK;threadId=182569</id>\n        <link href=\"https://peertube2.cpy.re/w/f9PFNJMtPXQCtJzcBHnVsK;threadId=182569\"/>\n        <updated>2025-12-12T22:10:13.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://mamot.fr/@p4bl0\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>p4bl0</span></a></span> <span><a href=\"https://video.lqdn.fr/accounts/lqdn\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>lqdn</span></a></span> Stylé</p>]]></content>\n        <author>\n            <name>ley0x :bzh:</name>\n            <uri>https://infosec.exchange/users/ley0x</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Cosmic a great Linux desktop, but still limited - vurr]]></title>\n        <id>https://peertube2.cpy.re/w/j8FfrSBh8oUejkhdGcoqkB;threadId=182617</id>\n        <link href=\"https://peertube2.cpy.re/w/j8FfrSBh8oUejkhdGcoqkB;threadId=182617\"/>\n        <updated>2025-12-12T13:00:39.955Z</updated>\n        <content type=\"html\"><![CDATA[<p>@DekOfTheYautja@social.vivaldi.net Didn't the first stable release drop yesterday? It's out of beta, at least, and available for download on their website.</p>\n]]></content>\n        <author>\n            <name>vurr</name>\n            <uri>https://peertube.wtf/accounts/vurr</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[VSS, guerres, attentats : que faire de nos traumatismes ? - rickette]]></title>\n        <id>https://peertube2.cpy.re/w/cViSERK1gm5q2xKa299B26;threadId=182619</id>\n        <link href=\"https://peertube2.cpy.re/w/cViSERK1gm5q2xKa299B26;threadId=182619\"/>\n        <updated>2025-12-12T12:18:04.861Z</updated>\n        <content type=\"html\"><![CDATA[<p>Cette émission est toujours d'une puissance folle.<br />\nRemarquablement écrite.<br />\nChapeau bas Nicolas Houguet</p>\n]]></content>\n        <author>\n            <name>rickette</name>\n            <uri>https://peerate.fr/accounts/rickette</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[The Internet's Own Boy - Blort™ 🐀Ⓥ🥋☣️]]></title>\n        <id>https://peertube2.cpy.re/w/1zywKcr1ChzL7R9rG6yCnq;threadId=182618</id>\n        <link href=\"https://peertube2.cpy.re/w/1zywKcr1ChzL7R9rG6yCnq;threadId=182618\"/>\n        <updated>2025-12-12T08:57:14.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://peertube2.cpy.re/a/root/video-channels\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>root</span></a></span> </p><p>Still so relevant after all these years.</p>]]></content>\n        <author>\n            <name>Blort™ 🐀Ⓥ🥋☣️</name>\n            <uri>https://social.tchncs.de/users/Blort</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Cosmic a great Linux desktop, but still limited - Basil Disco]]></title>\n        <id>https://peertube2.cpy.re/w/j8FfrSBh8oUejkhdGcoqkB;threadId=182621</id>\n        <link href=\"https://peertube2.cpy.re/w/j8FfrSBh8oUejkhdGcoqkB;threadId=182621\"/>\n        <updated>2025-12-12T08:20:52.637Z</updated>\n        <content type=\"html\"><![CDATA[<p>As a GNOME user, I think it just looks like GNOME but with all the common extensions built in and with a slightly worse design language. I still don't understand why people hype up Cosmic when it doesn't look or function different from an existing and popular DE.</p>\n]]></content>\n        <author>\n            <name>Basil Disco</name>\n            <uri>https://spectra.video/accounts/basil_disco</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Cosmic a great Linux desktop, but still limited - DekOfTheYautja]]></title>\n        <id>https://peertube2.cpy.re/w/j8FfrSBh8oUejkhdGcoqkB;threadId=182617</id>\n        <link href=\"https://peertube2.cpy.re/w/j8FfrSBh8oUejkhdGcoqkB;threadId=182617\"/>\n        <updated>2025-12-11T20:53:53.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> Maybe wait until AFTER the stable release to start picking it apart?</p>]]></content>\n        <author>\n            <name>DekOfTheYautja</name>\n            <uri>https://social.vivaldi.net/ap/users/115537599899109100</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Réparation enceinte Marshall Acton (Multi-room) - Tisha Tiger / Neliger]]></title>\n        <id>https://peertube2.cpy.re/w/5cvLQoh5DQGcdXTbaMBMTx;threadId=182613</id>\n        <link href=\"https://peertube2.cpy.re/w/5cvLQoh5DQGcdXTbaMBMTx;threadId=182613\"/>\n        <updated>2025-12-11T09:42:20.018Z</updated>\n        <content type=\"html\"><![CDATA[<p>Wow, très intéressante, la méthode de l'alcool ISO qui sèche sur les composants qui chauffent, merci beaucoup !</p>\n]]></content>\n        <author>\n            <name>Tisha Tiger / Neliger</name>\n            <uri>https://video.neliger.com/accounts/videos</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[L'arnaque du \"management bienveillant\" - LylyPeste]]></title>\n        <id>https://peertube2.cpy.re/w/eYRWmbM1uPUnh42ohjJCvg;threadId=182612</id>\n        <link href=\"https://peertube2.cpy.re/w/eYRWmbM1uPUnh42ohjJCvg;threadId=182612\"/>\n        <updated>2025-12-10T19:30:26.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> Il n'y aurait pas, au milieu des autres clins d’œil, une petite référence à Darkest Dungeon? ^^</p>]]></content>\n        <author>\n            <name>LylyPeste</name>\n            <uri>https://mastoot.fr/ap/users/115638147166549222</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Abandoned hydro powerplant and control room, Portugal - (Urban Exploration) Urbex & Abandoned Places - fliegerjohn]]></title>\n        <id>https://peertube2.cpy.re/w/sP2nwN487kPdT8UhtEgLXe;threadId=182640</id>\n        <link href=\"https://peertube2.cpy.re/w/sP2nwN487kPdT8UhtEgLXe;threadId=182640\"/>\n        <updated>2025-12-09T22:01:50.256Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a class=\"u-url mention\" data-user=\"B15LMMcL1FaBILuBFY\" href=\"https://lostpod.space/accounts/obsidianurbex\" rel=\"noopener noreferrer\" target=\"_blank\">@<span>obsidianurbex</span></a></span> Amazing! 😍</p>\n]]></content>\n        <author>\n            <name>fliegerjohn</name>\n            <uri>https://akk.datenkastl.de/users/fliegerjohn</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Hanpan challenge with Baran v2 - Olivier.L]]></title>\n        <id>https://peertube2.cpy.re/w/noZGjd6NKUDVsvLdugH3Yv;threadId=182508</id>\n        <link href=\"https://peertube2.cpy.re/w/noZGjd6NKUDVsvLdugH3Yv;threadId=182508\"/>\n        <updated>2025-12-09T20:36:50.304Z</updated>\n        <content type=\"html\"><![CDATA[<p>@couleurart Hey ! Merci pour ton commentaire 😃<br />\nOui, j'ai poursuivie. Il faut que je mette cette vidéo à jour du coup...</p>\n]]></content>\n        <author>\n            <name>Olivier.L</name>\n            <uri>https://indymotion.fr/accounts/olivier.l</uri>\n        </author>\n    </entry>\n</feed>"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "nightly": {
                    "value": {
                      "version": "https://jsonfeed.org/version/1",
                      "title": "PeerTube Nightly",
                      "home_page_url": "https://peertube2.cpy.re",
                      "feed_url": "https://peertube2.cpy.re/feeds/video-comments.json?scope=local",
                      "description": "This instance is a test instance of the PeerTube project. It is updated to the latest commit in the develop branch every business day, 8pm CET.",
                      "icon": "https://peertube2.cpy.re/lazy-static/avatars/177f70c4-ddef-4bb6-bc96-b00d5e2a0e05.png",
                      "items": [
                        {
                          "id": "https://peertube2.cpy.re/w/t9RtmdSD5QNC9FWw4hGXLt;threadId=182645",
                          "content_html": "<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> un scandal de conflit d'intérêt à dénoncer. Soutenez <a href=\"https://bloomassociation.org/bloom-porte-plainte-contre-le-rapporteur-du-premier-omnibus-jorgen-warborn-pour-conflit-dinterets-sur-fond-dingerence-etrangere/\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://</span><span>bloomassociation.org/bloom-por</span><span>te-plainte-contre-le-rapporteur-du-premier-omnibus-jorgen-warborn-pour-conflit-dinterets-sur-fond-dingerence-etrangere/</span></a></p>",
                          "url": "https://peertube2.cpy.re/w/t9RtmdSD5QNC9FWw4hGXLt;threadId=182645",
                          "title": "Parlement européen :  la droite et l’extrême droite au service des multinationales - Arsène",
                          "date_modified": "2025-12-15T21:13:25.000Z",
                          "author": {
                            "name": "Arsène",
                            "url": "https://framapiaf.org/users/rsn"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/qR759Sx8bHWbzdhYS6EpG7;threadId=182642",
                          "content_html": "<p>@carla@hessen.social Indeed, some lovely old machines in here</p>\n",
                          "url": "https://peertube2.cpy.re/w/qR759Sx8bHWbzdhYS6EpG7;threadId=182642",
                          "title": "Old sign makers with machines & abandoned printing equipment, Manchester - (Urban Exploration) Urbex - ObsidianUrbex",
                          "date_modified": "2025-12-15T20:51:38.349Z",
                          "author": {
                            "name": "ObsidianUrbex",
                            "url": "https://lostpod.space/accounts/obsidianurbex"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/qR759Sx8bHWbzdhYS6EpG7;threadId=182642",
                          "content_html": "<p><span><a href=\"https://lostpod.space/accounts/obsidianurbex\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>obsidianurbex</span></a></span> What a waste of useful things</p>",
                          "url": "https://peertube2.cpy.re/w/qR759Sx8bHWbzdhYS6EpG7;threadId=182642",
                          "title": "Old sign makers with machines & abandoned printing equipment, Manchester - (Urban Exploration) Urbex - carla",
                          "date_modified": "2025-12-15T19:35:12.000Z",
                          "author": {
                            "name": "carla",
                            "url": "https://hessen.social/users/carla"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/sP2nwN487kPdT8UhtEgLXe;threadId=182640",
[...]
