{
  "openapi": "3.0.0",
  "info": {
    "title": "PeerTube",
    "version": "7.1.0",
    "contact": {
      "name": "PeerTube Community",
      "url": "https://joinpeertube.org"
    },
    "license": {
      "name": "AGPLv3.0",
      "url": "https://github.com/Chocobozzz/PeerTube/blob/master/LICENSE"
    },
    "x-logo": {
      "url": "https://joinpeertube.org/img/brand.png",
      "altText": "PeerTube Project Homepage"
    },
    "description": "The PeerTube API is built on HTTP(S) and is RESTful. You can use your favorite\nHTTP/REST library for your programming language to use PeerTube. The spec API is fully compatible with\n[openapi-generator](https://github.com/OpenAPITools/openapi-generator/wiki/API-client-generator-HOWTO)\n which generates a client SDK in the language of your choice - we generate some client SDKs automatically:\n\n- [Python](https://framagit.org/framasoft/peertube/clients/python)\n - [Go](https://framagit.org/framasoft/peertube/clients/go)\n- [Kotlin](https://framagit.org/framasoft/peertube/clients/kotlin)\n \nSee the [REST API quick start](https://docs.joinpeertube.org/api/rest-getting-started) for a few\nexamples of using the PeerTube API.\n\n# Authentication\n\nWhen you sign up for an account on a PeerTube instance, you are given the possibility\n to generate sessions on it, and authenticate there using an access token. Only __one\naccess token can currently be used at a time__.\n\n## Roles\n\nAccounts are given permissions based on their role. There are three roles on\nPeerTube: Administrator, Moderator, and User. See the [roles guide](https://docs.joinpeertube.org/admin/managing-users#roles) for a detail of their permissions.\n\n# Errors\n\nThe API uses standard HTTP status codes to indicate the success or failure\nof the API call, completed by a [RFC7807-compliant](https://tools.ietf.org/html/rfc7807) response body.\n\n```\nHTTP 1.1 404 Not Found\nContent-Type: application/problem+json; charset=utf-8\n\n{\n  \"detail\": \"Video not found\",\n  \"docs\": \"https://docs.joinpeertube.org/api-rest-reference.html#operation/getVideo\",\n  \"status\": 404,\n  \"title\": \"Not Found\",\n  \"type\": \"about:blank\"\n}\n```\n\nWe provide error `type` (following RFC7807) and `code` (internal PeerTube code) values for [a growing number of cases](https://github.com/Chocobozzz/PeerTube/blob/develop/packages/models/src/server/server-error-code.enum.ts),\n but it is still optional. Types are used to disambiguate errors that bear the same status code\nand are non-obvious:\n\n```\nHTTP 1.1 403 Forbidden\nContent-Type: application/problem+json; charset=utf-8\n\n{\n  \"detail\": \"Cannot get this video regarding follow constraints\",\n  \"docs\": \"https://docs.joinpeertube.org/api-rest-reference.html#operation/getVideo\",\n  \"status\": 403,\n  \"title\": \"Forbidden\",\n  \"type\": \"https://docs.joinpeertube.org/api-rest-reference.html#section/Errors/does_not_respect_follow_constraints\"\n}\n```\n\nHere a 403 error could otherwise mean that the video is private or blocklisted.\n\n### Validation errors\n\nEach parameter is evaluated on its own against a set of rules before the route validator\nproceeds with potential testing involving parameter combinations. Errors coming from validation\nerrors appear earlier and benefit from a more detailed error description:\n\n```\nHTTP 1.1 400 Bad Request\nContent-Type: application/problem+json; charset=utf-8\n\n{\n  \"detail\": \"Incorrect request parameters: id\",\n  \"docs\": \"https://docs.joinpeertube.org/api-rest-reference.html#operation/getVideo\",\n  \"instance\": \"/api/v1/videos/9c9de5e8-0a1e-484a-b099-e80766180\",\n  \"invalid-params\": {\n    \"id\": {\n      \"location\": \"params\",\n      \"msg\": \"Invalid value\",\n      \"param\": \"id\",\n      \"value\": \"9c9de5e8-0a1e-484a-b099-e80766180\"\n    }\n  },\n  \"status\": 400,\n  \"title\": \"Bad Request\",\n  \"type\": \"about:blank\"\n}\n```\n\nWhere `id` is the name of the field concerned by the error, within the route definition.\n`invalid-params.<field>.location` can be either 'params', 'body', 'header', 'query' or 'cookies', and\n`invalid-params.<field>.value` reports the value that didn't pass validation whose `invalid-params.<field>.msg`\n is about.\n\n### Deprecated error fields\n\nSome fields could be included with previous versions. They are still included but their use is deprecated:\n- `error`: superseded by `detail`\n\n# Rate limits\n\nWe are rate-limiting all endpoints of PeerTube's API. Custom values can be set by administrators:\n\n| Endpoint (prefix: `/api/v1`) | Calls         | Time frame   |\n|------------------------------|---------------|--------------|\n | `/*`                         | 50            | 10 seconds   |\n| `POST /users/token`          | 15            | 5 minutes    |\n| `POST /users/register`       | 2<sup>*</sup> | 5 minutes    |\n| `POST /users/ask-send-verify-email` | 3      | 5 minutes    |\n\nDepending on the endpoint, <sup>*</sup>failed requests are not taken into account. A service\nlimit is announced by a `429 Too Many Requests` status code.\n\nYou can get details about the current state of your rate limit by reading the\nfollowing headers:\n\n| Header                  | Description                                                |\n|-------------------------|------------------------------------------------------------|\n | `X-RateLimit-Limit`     | Number of max requests allowed in the current time period  |\n| `X-RateLimit-Remaining` | Number of remaining requests in the current time period    |\n| `X-RateLimit-Reset`     | Timestamp of end of current time period as UNIX timestamp  |\n| `Retry-After`           | Seconds to delay after the first `429` is received         |\n\n# CORS\n\nThis API features [Cross-Origin Resource Sharing (CORS)](https://fetch.spec.whatwg.org/),\nallowing cross-domain communication from the browser for some routes:\n\n| Endpoint                    |\n|------------------------- ---|\n| `/api/*`                    |\n| `/download/*`               |\n| `/lazy-static/*`            |\n| `/.well-known/webfinger`    |\n\nIn addition, all routes serving ActivityPub are CORS-enabled for all origins.\n",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Chocobozzz/PeerTube/develop/support/doc/api/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://peertube2.cpy.re",
      "description": "Live Test Server (live data - latest nightly version)"
    },
    {
      "url": "https://peertube3.cpy.re",
      "description": "Live Test Server (live data - latest RC version)"
    },
    {
      "url": "https://peertube.cpy.re",
      "description": "Live Test Server (live data - stable version)"
    }
  ],
  "paths": {
    "/static/web-videos/{filename}": {
      "get": {
        "tags": [
          "Static Video Files"
        ],
        "summary": "Get public Web Video file",
        "description": "**PeerTube >= 6.0**",
        "parameters": [
          {
            "$ref": "#/components/parameters/staticFilename"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "404": {
            "description": "not found"
          }
        }
      }
    },
    "/static/web-videos/private/{filename}": {
      "get": {
        "tags": [
          "Static Video Files"
        ],
        "summary": "Get private Web Video file",
        "description": "**PeerTube >= 6.0**",
        "parameters": [
          {
            "$ref": "#/components/parameters/staticFilename"
          },
          {
            "$ref": "#/components/parameters/videoFileToken"
          }
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "403": {
            "description": "invalid auth"
          },
          "404": {
            "description": "not found"
          }
        }
      }
    },
    "/static/streaming-playlists/hls/{filename}": {
      "get": {
        "tags": [
          "Static Video Files"
        ],
        "summary": "Get public HLS video file",
        "parameters": [
          {
            "$ref": "#/components/parameters/staticFilename"
          }
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "403": {
            "description": "invalid auth"
          },
          "404": {
            "description": "not found"
          }
        }
      }
    },
    "/static/streaming-playlists/hls/private/{filename}": {
      "get": {
        "tags": [
          "Static Video Files"
        ],
        "summary": "Get private HLS video file",
        "parameters": [
          {
            "$ref": "#/components/parameters/staticFilename"
          },
          {
            "$ref": "#/components/parameters/videoFileToken"
          },
          {
            "$ref": "#/components/parameters/reinjectVideoFileToken"
          }
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "403": {
            "description": "invalid auth"
          },
          "404": {
            "description": "not found"
          }
        }
      }
    },
    "/download/videos/generate/:videoId": {
      "get": {
        "tags": [
          "Video Download"
        ],
        "summary": "Download video file",
        "description": "Generate a mp4 container that contains at most 1 video stream and at most 1 audio stream. Mainly used to merge the HLS audio only video file and the HLS video only resolution file.",
        "parameters": [
          {
            "name": "videoId",
            "in": "path",
            "required": true,
            "description": "The video id",
            "schema": {
              "$ref": "#/components/schemas/Video/properties/id"
            }
          },
          {
            "name": "videoFileIds",
            "in": "query",
            "required": true,
            "description": "streams of video files to mux in the output",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "$ref": "#/components/parameters/videoFileToken"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/feeds/video-comments.{format}": {
      "get": {
        "tags": [
          "Video Feeds"
        ],
        "summary": "Comments on videos feeds",
        "operationId": "getSyndicatedComments",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "description": "format expected (we focus on making `rss` the most featureful ; it serves [Media RSS](https://www.rssboard.org/media-rss))",
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "rss",
                "rss2",
                "atom",
                "atom1",
                "json",
                "json1"
              ]
            }
          },
          {
            "name": "videoId",
            "in": "query",
            "description": "limit listing comments to a specific video",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "description": "limit listing comments to videos of a specific account",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountName",
            "in": "query",
            "description": "limit listing comments to videos of a specific account",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "videoChannelId",
            "in": "query",
            "description": "limit listing comments to videos of a specific video channel",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "videoChannelName",
            "in": "query",
            "description": "limit listing comments to videos of a specific video channel",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "default": "max-age=900"
                }
              }
            },
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VideoCommentsForXML"
                },
                "examples": {
                  "nightly": {
                    "value": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<rss version=\"2.0\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:content=\"http://purl.org/rss/1.0/modules/content/\" xmlns:atom=\"http://www.w3.org/2005/Atom\">\n    <channel>\n        <title>PeerTube Nightly</title>\n        <link>https://peertube2.cpy.re</link>\n        <description>This instance is a test instance of the PeerTube project. It is updated to the latest commit in the develop branch every business day, 8pm CET.</description>\n        <lastBuildDate>Mon, 13 Oct 2025 20:34:47 GMT</lastBuildDate>\n        <docs>https://validator.w3.org/feed/docs/rss2.html</docs>\n        <generator>PeerTube - https://peertube2.cpy.re</generator>\n        <image>\n            <title>PeerTube Nightly</title>\n            <url>https://peertube2.cpy.re/lazy-static/avatars/177f70c4-ddef-4bb6-bc96-b00d5e2a0e05.png</url>\n            <link>https://peertube2.cpy.re</link>\n        </image>\n        <copyright>All rights reserved, unless otherwise specified in the terms specified at https://peertube2.cpy.re/about and potential licenses granted by each content's rightholder.</copyright>\n        <atom:link href=\"https://peertube2.cpy.re/feeds/video-comments.xml?scope=local\" rel=\"self\" type=\"application/rss+xml\"/>\n        <item>\n            <title><![CDATA[Nicolas Hulot Lumexplore2017 - tif_inégalitéS.capitalisme.TTdroites.écocide.5g.pub.nuc.gafam-CRIMES]]></title>\n            <link>https://peertube2.cpy.re/w/7H2EzsXKXajx8tZFaci7u6;threadId=182174</link>\n            <guid>https://peertube2.cpy.re/w/7H2EzsXKXajx8tZFaci7u6;threadId=182174</guid>\n            <pubDate>Mon, 13 Oct 2025 11:17:10 GMT</pubDate>\n            <content:encoded><![CDATA[<p>[[On rappellera néanmoins que ce type est une grosse m. _ _ À \"tous\" les niveaux]]</p>\n]]></content:encoded>\n            <dc:creator>tif_inégalitéS.capitalisme.TTdroites.écocide.5g.pub.nuc.gafam-CRIMES</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[9 La lessive bio - tif_inégalitéS.capitalisme.TTdroites.écocide.5g.pub.nuc.gafam-CRIMES]]></title>\n            <link>https://peertube2.cpy.re/w/orAVGRkaNLvwnonip14Ve7;threadId=182172</link>\n            <guid>https://peertube2.cpy.re/w/orAVGRkaNLvwnonip14Ve7;threadId=182172</guid>\n            <pubDate>Mon, 13 Oct 2025 11:14:15 GMT</pubDate>\n            <content:encoded><![CDATA[<p>et c'est une bouteille en verre...</p>\n]]></content:encoded>\n            <dc:creator>tif_inégalitéS.capitalisme.TTdroites.écocide.5g.pub.nuc.gafam-CRIMES</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Intel changes stance on Open Source, LibrePhone project: Linux Weekly News - Azufre36]]></title>\n            <link>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182171</link>\n            <guid>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182171</guid>\n            <pubDate>Mon, 13 Oct 2025 10:14:44 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Firefox already had different profiles, you can access them on about:profiles and execute the profile manager with \"firefox -p\". Now they are doing it more cute and chromium like but it was perfecly usable for years.</p>\n<p>Thanks for your weekly news. Good video!</p>\n]]></content:encoded>\n            <dc:creator>Azufre36</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[PDP-11 - System Overview [Tape 01] - Commit Companion]]></title>\n            <link>https://peertube2.cpy.re/w/4yhCyroWuZJZTZfSRM4wmE;threadId=182170</link>\n            <guid>https://peertube2.cpy.re/w/4yhCyroWuZJZTZfSRM4wmE;threadId=182170</guid>\n            <pubDate>Mon, 13 Oct 2025 08:37:40 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Hey! That is a cool doc movie. Can you tell me if there are any docs like this for the pdp11/94</p>\n]]></content:encoded>\n            <dc:creator>Commit Companion</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Intel changes stance on Open Source, LibrePhone project: Linux Weekly News - skillissue]]></title>\n            <link>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182169</link>\n            <guid>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182169</guid>\n            <pubDate>Sun, 12 Oct 2025 23:59:47 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Well, If I was to buy a PC now I would go full AMD, they are goats</p>\n]]></content:encoded>\n            <dc:creator>skillissue</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Stygmate - Le Roi De Ménilmontant - Stygmate]]></title>\n            <link>https://peertube2.cpy.re/w/4Rym2vrS3jStny7KYXZEqD;threadId=182165</link>\n            <guid>https://peertube2.cpy.re/w/4Rym2vrS3jStny7KYXZEqD;threadId=182165</guid>\n            <pubDate>Sun, 12 Oct 2025 12:28:07 GMT</pubDate>\n            <content:encoded><![CDATA[<p>@ron.sagaton@kodcast.com Merci beaucoup ! oui,  c'est pas forcement la forme qui importe, c'est le fond, et puis tous les gouts sont dans la nature 😃 amitié</p>\n]]></content:encoded>\n            <dc:creator>Stygmate</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Crête & Moustache : la Live Session - Ron Sagaton]]></title>\n            <link>https://peertube2.cpy.re/w/4QDzGQxY7nXEZBT8vVpvsL;threadId=182166</link>\n            <guid>https://peertube2.cpy.re/w/4QDzGQxY7nXEZBT8vVpvsL;threadId=182166</guid>\n            <pubDate>Sun, 12 Oct 2025 02:45:48 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Super découverte. Merci ! C'est propre !</p>\n]]></content:encoded>\n            <dc:creator>Ron Sagaton</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Stygmate - Le Roi De Ménilmontant - Ron Sagaton]]></title>\n            <link>https://peertube2.cpy.re/w/4Rym2vrS3jStny7KYXZEqD;threadId=182165</link>\n            <guid>https://peertube2.cpy.re/w/4Rym2vrS3jStny7KYXZEqD;threadId=182165</guid>\n            <pubDate>Sun, 12 Oct 2025 02:34:16 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Pas mon style de musique mais on défend les mêmes valeurs. Bravo pour le clip et le texte.</p>\n]]></content:encoded>\n            <dc:creator>Ron Sagaton</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Intel changes stance on Open Source, LibrePhone project: Linux Weekly News - crimsonfall]]></title>\n            <link>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182164</link>\n            <guid>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182164</guid>\n            <pubDate>Sun, 12 Oct 2025 00:19:22 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> \nI wonder what this means for the intel WiFi drivers. Surely intel won’t see those as something that their competitors use against them right?</p>]]></content:encoded>\n            <dc:creator>crimsonfall</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[2025-06-28-incheve - 𝚛𝚊𝚝]]></title>\n            <link>https://peertube2.cpy.re/w/tZESw7C9KRxtLaketY1QYG;threadId=182163</link>\n            <guid>https://peertube2.cpy.re/w/tZESw7C9KRxtLaketY1QYG;threadId=182163</guid>\n            <pubDate>Sat, 11 Oct 2025 21:06:19 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://toobnix.org/accounts/tanakian\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>tanakian</span></a></span> 👌</p>]]></content:encoded>\n            <dc:creator>𝚛𝚊𝚝</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Rima Hassan :  \"Les Palestiniens n'accepteront pas de se laisser diriger, surtout après un génocide\" - La méduse du radeau]]></title>\n            <link>https://peertube2.cpy.re/w/furu362YaezXPsgXvzHsEN;threadId=182161</link>\n            <guid>https://peertube2.cpy.re/w/furu362YaezXPsgXvzHsEN;threadId=182161</guid>\n            <pubDate>Sat, 11 Oct 2025 19:49:54 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> </p><p>Et si, pour changer, les gens la fermaient et laissaient les Palestinien·ne·s décider pour eux·elles-mêmes ?</p><p>Quand on est prétendument de gauche, cela devrait être la base de la base, non ?</p>]]></content:encoded>\n            <dc:creator>La méduse du radeau</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Des machines qui retirent directement le CO2 de l’atmosphère (DACCS) - florent]]></title>\n            <link>https://peertube2.cpy.re/w/gS7vmTbnVR9A1f5kB95vFa;threadId=182157</link>\n            <guid>https://peertube2.cpy.re/w/gS7vmTbnVR9A1f5kB95vFa;threadId=182157</guid>\n            <pubDate>Sat, 11 Oct 2025 19:43:03 GMT</pubDate>\n            <content:encoded><![CDATA[<p>@Tacitus@masto.bike Vous avez vu la vidéo en entier ? Le sujet est évoqué.</p>\n]]></content:encoded>\n            <dc:creator>florent</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Idir & Manu Chao + Khalida Messaoudi - A tulawin - 一護]]></title>\n            <link>https://peertube2.cpy.re/w/uH35fc9vzhtMXNozKsyHaC;threadId=182156</link>\n            <guid>https://peertube2.cpy.re/w/uH35fc9vzhtMXNozKsyHaC;threadId=182156</guid>\n            <pubDate>Sat, 11 Oct 2025 19:33:33 GMT</pubDate>\n            <content:encoded><![CDATA[<p>nice</p>\n]]></content:encoded>\n            <dc:creator>一護</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Rima Hassan :  \"Les Palestiniens n'accepteront pas de se laisser diriger, surtout après un génocide\" - millerebonds]]></title>\n            <link>https://peertube2.cpy.re/w/furu362YaezXPsgXvzHsEN;threadId=182149</link>\n            <guid>https://peertube2.cpy.re/w/furu362YaezXPsgXvzHsEN;threadId=182149</guid>\n            <pubDate>Sat, 11 Oct 2025 19:08:51 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.antopie.org/accounts/yx.yx\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>yx.yx</span></a></span> <span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> La monnaie dette est également un crime contre la vie et l'humanité</p>]]></content:encoded>\n            <dc:creator>millerebonds</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Intel changes stance on Open Source, LibrePhone project: Linux Weekly News - Apollo]]></title>\n            <link>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182154</link>\n            <guid>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182154</guid>\n            <pubDate>Sat, 11 Oct 2025 17:21:16 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> 10:39 This whole situation is really strange. The CDU/CSU are usually all for surveillance state laws. The CSU even uses Palantir software in Bavaria against its own citizens. It’s a miracle that these two parties are positioning themselves like this in public.</p>]]></content:encoded>\n            <dc:creator>Apollo</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[STYGMATE - Enfant Désordre Et Pourri [clip] - Ron Sagaton]]></title>\n            <link>https://peertube2.cpy.re/w/cXQ5ST9SNL3q9scS51YCFC;threadId=182153</link>\n            <guid>https://peertube2.cpy.re/w/cXQ5ST9SNL3q9scS51YCFC;threadId=182153</guid>\n            <pubDate>Sat, 11 Oct 2025 17:09:54 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Original. Bravo pour la trompette !</p>\n]]></content:encoded>\n            <dc:creator>Ron Sagaton</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[NixOS en machine virtuelle. Bilan au bout d'un mois. - mrdev023]]></title>\n            <link>https://peertube2.cpy.re/w/vZ4bTyJfdgJTFynXh1BL98;threadId=182151</link>\n            <guid>https://peertube2.cpy.re/w/vZ4bTyJfdgJTFynXh1BL98;threadId=182151</guid>\n            <pubDate>Sat, 11 Oct 2025 12:38:52 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Après si tu passes sur la version nixos-unstable comme je l'ai fait. Tu as une version rolling release, mais avec la stabilité de NixOS surtout qu'avant de valider une version unstable. NixOS vérifie que le système fonctionne avec des tests automatisés.<br />\n<a href=\"https://hydra.nixos.org/job/nixos/trunk-combined/tested#tabs-constituents\" target=\"_blank\" rel=\"noopener noreferrer\">https://hydra.nixos.org/job/nixos/trunk-combined/tested#tabs-constituents</a></p>\n<p>Ils testent même plasma et gnome.</p>\n]]></content:encoded>\n            <dc:creator>mrdev023</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Intel changes stance on Open Source, LibrePhone project: Linux Weekly News - Agathokles Martinios]]></title>\n            <link>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182150</link>\n            <guid>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182150</guid>\n            <pubDate>Sat, 11 Oct 2025 12:35:25 GMT</pubDate>\n            <content:encoded><![CDATA[<p><em>Microsoft forcing online accounts</em></p>\n<p>Obligatory \"2025 Year of the Linux Desktop\" comment.</p>\n]]></content:encoded>\n            <dc:creator>Agathokles Martinios</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Rima Hassan :  \"Les Palestiniens n'accepteront pas de se laisser diriger, surtout après un génocide\" - tif_inégalitéS.capitalisme.TTdroites.écocide.5g.pub.nuc.gafam-CRIMES]]></title>\n            <link>https://peertube2.cpy.re/w/furu362YaezXPsgXvzHsEN;threadId=182149</link>\n            <guid>https://peertube2.cpy.re/w/furu362YaezXPsgXvzHsEN;threadId=182149</guid>\n            <pubDate>Sat, 11 Oct 2025 11:51:17 GMT</pubDate>\n            <content:encoded><![CDATA[<p>LA cause de l'horreur, de la merde... le capitalisme !!!!!!!!!!!!!!!! _ _ _ _ _ _ _ abolissons ce crime absolu contre la vie et l'humanité ! _ sinon c'est déjà mort</p>\n]]></content:encoded>\n            <dc:creator>tif_inégalitéS.capitalisme.TTdroites.écocide.5g.pub.nuc.gafam-CRIMES</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Android without Google: Volla Phone Quintus & Volla OS - Coach]]></title>\n            <link>https://peertube2.cpy.re/w/rupHv17eDSj1bUbDzgunGC;threadId=182145</link>\n            <guid>https://peertube2.cpy.re/w/rupHv17eDSj1bUbDzgunGC;threadId=182145</guid>\n            <pubDate>Sat, 11 Oct 2025 06:53:54 GMT</pubDate>\n            <content:encoded><![CDATA[<p>I just love the Volla Phone! Bought the Tablet as well.</p>\n]]></content:encoded>\n            <dc:creator>Coach</dc:creator>\n        </item>\n    </channel>\n</rss>"
                  }
                }
              },
              "application/rss+xml": {
                "schema": {
                  "$ref": "#/components/schemas/VideoCommentsForXML"
                },
                "examples": {
                  "nightly": {
                    "value": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<rss version=\"2.0\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:content=\"http://purl.org/rss/1.0/modules/content/\" xmlns:atom=\"http://www.w3.org/2005/Atom\">\n    <channel>\n        <title>PeerTube Nightly</title>\n        <link>https://peertube2.cpy.re</link>\n        <description>This instance is a test instance of the PeerTube project. It is updated to the latest commit in the develop branch every business day, 8pm CET.</description>\n        <lastBuildDate>Mon, 13 Oct 2025 20:34:47 GMT</lastBuildDate>\n        <docs>https://validator.w3.org/feed/docs/rss2.html</docs>\n        <generator>PeerTube - https://peertube2.cpy.re</generator>\n        <image>\n            <title>PeerTube Nightly</title>\n            <url>https://peertube2.cpy.re/lazy-static/avatars/177f70c4-ddef-4bb6-bc96-b00d5e2a0e05.png</url>\n            <link>https://peertube2.cpy.re</link>\n        </image>\n        <copyright>All rights reserved, unless otherwise specified in the terms specified at https://peertube2.cpy.re/about and potential licenses granted by each content's rightholder.</copyright>\n        <atom:link href=\"https://peertube2.cpy.re/feeds/video-comments.xml?scope=local\" rel=\"self\" type=\"application/rss+xml\"/>\n        <item>\n            <title><![CDATA[Nicolas Hulot Lumexplore2017 - tif_inégalitéS.capitalisme.TTdroites.écocide.5g.pub.nuc.gafam-CRIMES]]></title>\n            <link>https://peertube2.cpy.re/w/7H2EzsXKXajx8tZFaci7u6;threadId=182174</link>\n            <guid>https://peertube2.cpy.re/w/7H2EzsXKXajx8tZFaci7u6;threadId=182174</guid>\n            <pubDate>Mon, 13 Oct 2025 11:17:10 GMT</pubDate>\n            <content:encoded><![CDATA[<p>[[On rappellera néanmoins que ce type est une grosse m. _ _ À \"tous\" les niveaux]]</p>\n]]></content:encoded>\n            <dc:creator>tif_inégalitéS.capitalisme.TTdroites.écocide.5g.pub.nuc.gafam-CRIMES</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[9 La lessive bio - tif_inégalitéS.capitalisme.TTdroites.écocide.5g.pub.nuc.gafam-CRIMES]]></title>\n            <link>https://peertube2.cpy.re/w/orAVGRkaNLvwnonip14Ve7;threadId=182172</link>\n            <guid>https://peertube2.cpy.re/w/orAVGRkaNLvwnonip14Ve7;threadId=182172</guid>\n            <pubDate>Mon, 13 Oct 2025 11:14:15 GMT</pubDate>\n            <content:encoded><![CDATA[<p>et c'est une bouteille en verre...</p>\n]]></content:encoded>\n            <dc:creator>tif_inégalitéS.capitalisme.TTdroites.écocide.5g.pub.nuc.gafam-CRIMES</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Intel changes stance on Open Source, LibrePhone project: Linux Weekly News - Azufre36]]></title>\n            <link>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182171</link>\n            <guid>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182171</guid>\n            <pubDate>Mon, 13 Oct 2025 10:14:44 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Firefox already had different profiles, you can access them on about:profiles and execute the profile manager with \"firefox -p\". Now they are doing it more cute and chromium like but it was perfecly usable for years.</p>\n<p>Thanks for your weekly news. Good video!</p>\n]]></content:encoded>\n            <dc:creator>Azufre36</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[PDP-11 - System Overview [Tape 01] - Commit Companion]]></title>\n            <link>https://peertube2.cpy.re/w/4yhCyroWuZJZTZfSRM4wmE;threadId=182170</link>\n            <guid>https://peertube2.cpy.re/w/4yhCyroWuZJZTZfSRM4wmE;threadId=182170</guid>\n            <pubDate>Mon, 13 Oct 2025 08:37:40 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Hey! That is a cool doc movie. Can you tell me if there are any docs like this for the pdp11/94</p>\n]]></content:encoded>\n            <dc:creator>Commit Companion</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Intel changes stance on Open Source, LibrePhone project: Linux Weekly News - skillissue]]></title>\n            <link>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182169</link>\n            <guid>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182169</guid>\n            <pubDate>Sun, 12 Oct 2025 23:59:47 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Well, If I was to buy a PC now I would go full AMD, they are goats</p>\n]]></content:encoded>\n            <dc:creator>skillissue</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Stygmate - Le Roi De Ménilmontant - Stygmate]]></title>\n            <link>https://peertube2.cpy.re/w/4Rym2vrS3jStny7KYXZEqD;threadId=182165</link>\n            <guid>https://peertube2.cpy.re/w/4Rym2vrS3jStny7KYXZEqD;threadId=182165</guid>\n            <pubDate>Sun, 12 Oct 2025 12:28:07 GMT</pubDate>\n            <content:encoded><![CDATA[<p>@ron.sagaton@kodcast.com Merci beaucoup ! oui,  c'est pas forcement la forme qui importe, c'est le fond, et puis tous les gouts sont dans la nature 😃 amitié</p>\n]]></content:encoded>\n            <dc:creator>Stygmate</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Crête & Moustache : la Live Session - Ron Sagaton]]></title>\n            <link>https://peertube2.cpy.re/w/4QDzGQxY7nXEZBT8vVpvsL;threadId=182166</link>\n            <guid>https://peertube2.cpy.re/w/4QDzGQxY7nXEZBT8vVpvsL;threadId=182166</guid>\n            <pubDate>Sun, 12 Oct 2025 02:45:48 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Super découverte. Merci ! C'est propre !</p>\n]]></content:encoded>\n            <dc:creator>Ron Sagaton</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Stygmate - Le Roi De Ménilmontant - Ron Sagaton]]></title>\n            <link>https://peertube2.cpy.re/w/4Rym2vrS3jStny7KYXZEqD;threadId=182165</link>\n            <guid>https://peertube2.cpy.re/w/4Rym2vrS3jStny7KYXZEqD;threadId=182165</guid>\n            <pubDate>Sun, 12 Oct 2025 02:34:16 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Pas mon style de musique mais on défend les mêmes valeurs. Bravo pour le clip et le texte.</p>\n]]></content:encoded>\n            <dc:creator>Ron Sagaton</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Intel changes stance on Open Source, LibrePhone project: Linux Weekly News - crimsonfall]]></title>\n            <link>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182164</link>\n            <guid>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182164</guid>\n            <pubDate>Sun, 12 Oct 2025 00:19:22 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> \nI wonder what this means for the intel WiFi drivers. Surely intel won’t see those as something that their competitors use against them right?</p>]]></content:encoded>\n            <dc:creator>crimsonfall</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[2025-06-28-incheve - 𝚛𝚊𝚝]]></title>\n            <link>https://peertube2.cpy.re/w/tZESw7C9KRxtLaketY1QYG;threadId=182163</link>\n            <guid>https://peertube2.cpy.re/w/tZESw7C9KRxtLaketY1QYG;threadId=182163</guid>\n            <pubDate>Sat, 11 Oct 2025 21:06:19 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://toobnix.org/accounts/tanakian\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>tanakian</span></a></span> 👌</p>]]></content:encoded>\n            <dc:creator>𝚛𝚊𝚝</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Rima Hassan :  \"Les Palestiniens n'accepteront pas de se laisser diriger, surtout après un génocide\" - La méduse du radeau]]></title>\n            <link>https://peertube2.cpy.re/w/furu362YaezXPsgXvzHsEN;threadId=182161</link>\n            <guid>https://peertube2.cpy.re/w/furu362YaezXPsgXvzHsEN;threadId=182161</guid>\n            <pubDate>Sat, 11 Oct 2025 19:49:54 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> </p><p>Et si, pour changer, les gens la fermaient et laissaient les Palestinien·ne·s décider pour eux·elles-mêmes ?</p><p>Quand on est prétendument de gauche, cela devrait être la base de la base, non ?</p>]]></content:encoded>\n            <dc:creator>La méduse du radeau</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Des machines qui retirent directement le CO2 de l’atmosphère (DACCS) - florent]]></title>\n            <link>https://peertube2.cpy.re/w/gS7vmTbnVR9A1f5kB95vFa;threadId=182157</link>\n            <guid>https://peertube2.cpy.re/w/gS7vmTbnVR9A1f5kB95vFa;threadId=182157</guid>\n            <pubDate>Sat, 11 Oct 2025 19:43:03 GMT</pubDate>\n            <content:encoded><![CDATA[<p>@Tacitus@masto.bike Vous avez vu la vidéo en entier ? Le sujet est évoqué.</p>\n]]></content:encoded>\n            <dc:creator>florent</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Idir & Manu Chao + Khalida Messaoudi - A tulawin - 一護]]></title>\n            <link>https://peertube2.cpy.re/w/uH35fc9vzhtMXNozKsyHaC;threadId=182156</link>\n            <guid>https://peertube2.cpy.re/w/uH35fc9vzhtMXNozKsyHaC;threadId=182156</guid>\n            <pubDate>Sat, 11 Oct 2025 19:33:33 GMT</pubDate>\n            <content:encoded><![CDATA[<p>nice</p>\n]]></content:encoded>\n            <dc:creator>一護</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Rima Hassan :  \"Les Palestiniens n'accepteront pas de se laisser diriger, surtout après un génocide\" - millerebonds]]></title>\n            <link>https://peertube2.cpy.re/w/furu362YaezXPsgXvzHsEN;threadId=182149</link>\n            <guid>https://peertube2.cpy.re/w/furu362YaezXPsgXvzHsEN;threadId=182149</guid>\n            <pubDate>Sat, 11 Oct 2025 19:08:51 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.antopie.org/accounts/yx.yx\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>yx.yx</span></a></span> <span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> La monnaie dette est également un crime contre la vie et l'humanité</p>]]></content:encoded>\n            <dc:creator>millerebonds</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Intel changes stance on Open Source, LibrePhone project: Linux Weekly News - Apollo]]></title>\n            <link>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182154</link>\n            <guid>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182154</guid>\n            <pubDate>Sat, 11 Oct 2025 17:21:16 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> 10:39 This whole situation is really strange. The CDU/CSU are usually all for surveillance state laws. The CSU even uses Palantir software in Bavaria against its own citizens. It’s a miracle that these two parties are positioning themselves like this in public.</p>]]></content:encoded>\n            <dc:creator>Apollo</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[STYGMATE - Enfant Désordre Et Pourri [clip] - Ron Sagaton]]></title>\n            <link>https://peertube2.cpy.re/w/cXQ5ST9SNL3q9scS51YCFC;threadId=182153</link>\n            <guid>https://peertube2.cpy.re/w/cXQ5ST9SNL3q9scS51YCFC;threadId=182153</guid>\n            <pubDate>Sat, 11 Oct 2025 17:09:54 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Original. Bravo pour la trompette !</p>\n]]></content:encoded>\n            <dc:creator>Ron Sagaton</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[NixOS en machine virtuelle. Bilan au bout d'un mois. - mrdev023]]></title>\n            <link>https://peertube2.cpy.re/w/vZ4bTyJfdgJTFynXh1BL98;threadId=182151</link>\n            <guid>https://peertube2.cpy.re/w/vZ4bTyJfdgJTFynXh1BL98;threadId=182151</guid>\n            <pubDate>Sat, 11 Oct 2025 12:38:52 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Après si tu passes sur la version nixos-unstable comme je l'ai fait. Tu as une version rolling release, mais avec la stabilité de NixOS surtout qu'avant de valider une version unstable. NixOS vérifie que le système fonctionne avec des tests automatisés.<br />\n<a href=\"https://hydra.nixos.org/job/nixos/trunk-combined/tested#tabs-constituents\" target=\"_blank\" rel=\"noopener noreferrer\">https://hydra.nixos.org/job/nixos/trunk-combined/tested#tabs-constituents</a></p>\n<p>Ils testent même plasma et gnome.</p>\n]]></content:encoded>\n            <dc:creator>mrdev023</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Intel changes stance on Open Source, LibrePhone project: Linux Weekly News - Agathokles Martinios]]></title>\n            <link>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182150</link>\n            <guid>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182150</guid>\n            <pubDate>Sat, 11 Oct 2025 12:35:25 GMT</pubDate>\n            <content:encoded><![CDATA[<p><em>Microsoft forcing online accounts</em></p>\n<p>Obligatory \"2025 Year of the Linux Desktop\" comment.</p>\n]]></content:encoded>\n            <dc:creator>Agathokles Martinios</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Rima Hassan :  \"Les Palestiniens n'accepteront pas de se laisser diriger, surtout après un génocide\" - tif_inégalitéS.capitalisme.TTdroites.écocide.5g.pub.nuc.gafam-CRIMES]]></title>\n            <link>https://peertube2.cpy.re/w/furu362YaezXPsgXvzHsEN;threadId=182149</link>\n            <guid>https://peertube2.cpy.re/w/furu362YaezXPsgXvzHsEN;threadId=182149</guid>\n            <pubDate>Sat, 11 Oct 2025 11:51:17 GMT</pubDate>\n            <content:encoded><![CDATA[<p>LA cause de l'horreur, de la merde... le capitalisme !!!!!!!!!!!!!!!! _ _ _ _ _ _ _ abolissons ce crime absolu contre la vie et l'humanité ! _ sinon c'est déjà mort</p>\n]]></content:encoded>\n            <dc:creator>tif_inégalitéS.capitalisme.TTdroites.écocide.5g.pub.nuc.gafam-CRIMES</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Android without Google: Volla Phone Quintus & Volla OS - Coach]]></title>\n            <link>https://peertube2.cpy.re/w/rupHv17eDSj1bUbDzgunGC;threadId=182145</link>\n            <guid>https://peertube2.cpy.re/w/rupHv17eDSj1bUbDzgunGC;threadId=182145</guid>\n            <pubDate>Sat, 11 Oct 2025 06:53:54 GMT</pubDate>\n            <content:encoded><![CDATA[<p>I just love the Volla Phone! Bought the Tablet as well.</p>\n]]></content:encoded>\n            <dc:creator>Coach</dc:creator>\n        </item>\n    </channel>\n</rss>"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VideoCommentsForXML"
                },
                "examples": {
                  "nightly": {
                    "value": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<rss version=\"2.0\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:content=\"http://purl.org/rss/1.0/modules/content/\" xmlns:atom=\"http://www.w3.org/2005/Atom\">\n    <channel>\n        <title>PeerTube Nightly</title>\n        <link>https://peertube2.cpy.re</link>\n        <description>This instance is a test instance of the PeerTube project. It is updated to the latest commit in the develop branch every business day, 8pm CET.</description>\n        <lastBuildDate>Mon, 13 Oct 2025 20:34:47 GMT</lastBuildDate>\n        <docs>https://validator.w3.org/feed/docs/rss2.html</docs>\n        <generator>PeerTube - https://peertube2.cpy.re</generator>\n        <image>\n            <title>PeerTube Nightly</title>\n            <url>https://peertube2.cpy.re/lazy-static/avatars/177f70c4-ddef-4bb6-bc96-b00d5e2a0e05.png</url>\n            <link>https://peertube2.cpy.re</link>\n        </image>\n        <copyright>All rights reserved, unless otherwise specified in the terms specified at https://peertube2.cpy.re/about and potential licenses granted by each content's rightholder.</copyright>\n        <atom:link href=\"https://peertube2.cpy.re/feeds/video-comments.xml?scope=local\" rel=\"self\" type=\"application/rss+xml\"/>\n        <item>\n            <title><![CDATA[Nicolas Hulot Lumexplore2017 - tif_inégalitéS.capitalisme.TTdroites.écocide.5g.pub.nuc.gafam-CRIMES]]></title>\n            <link>https://peertube2.cpy.re/w/7H2EzsXKXajx8tZFaci7u6;threadId=182174</link>\n            <guid>https://peertube2.cpy.re/w/7H2EzsXKXajx8tZFaci7u6;threadId=182174</guid>\n            <pubDate>Mon, 13 Oct 2025 11:17:10 GMT</pubDate>\n            <content:encoded><![CDATA[<p>[[On rappellera néanmoins que ce type est une grosse m. _ _ À \"tous\" les niveaux]]</p>\n]]></content:encoded>\n            <dc:creator>tif_inégalitéS.capitalisme.TTdroites.écocide.5g.pub.nuc.gafam-CRIMES</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[9 La lessive bio - tif_inégalitéS.capitalisme.TTdroites.écocide.5g.pub.nuc.gafam-CRIMES]]></title>\n            <link>https://peertube2.cpy.re/w/orAVGRkaNLvwnonip14Ve7;threadId=182172</link>\n            <guid>https://peertube2.cpy.re/w/orAVGRkaNLvwnonip14Ve7;threadId=182172</guid>\n            <pubDate>Mon, 13 Oct 2025 11:14:15 GMT</pubDate>\n            <content:encoded><![CDATA[<p>et c'est une bouteille en verre...</p>\n]]></content:encoded>\n            <dc:creator>tif_inégalitéS.capitalisme.TTdroites.écocide.5g.pub.nuc.gafam-CRIMES</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Intel changes stance on Open Source, LibrePhone project: Linux Weekly News - Azufre36]]></title>\n            <link>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182171</link>\n            <guid>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182171</guid>\n            <pubDate>Mon, 13 Oct 2025 10:14:44 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Firefox already had different profiles, you can access them on about:profiles and execute the profile manager with \"firefox -p\". Now they are doing it more cute and chromium like but it was perfecly usable for years.</p>\n<p>Thanks for your weekly news. Good video!</p>\n]]></content:encoded>\n            <dc:creator>Azufre36</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[PDP-11 - System Overview [Tape 01] - Commit Companion]]></title>\n            <link>https://peertube2.cpy.re/w/4yhCyroWuZJZTZfSRM4wmE;threadId=182170</link>\n            <guid>https://peertube2.cpy.re/w/4yhCyroWuZJZTZfSRM4wmE;threadId=182170</guid>\n            <pubDate>Mon, 13 Oct 2025 08:37:40 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Hey! That is a cool doc movie. Can you tell me if there are any docs like this for the pdp11/94</p>\n]]></content:encoded>\n            <dc:creator>Commit Companion</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Intel changes stance on Open Source, LibrePhone project: Linux Weekly News - skillissue]]></title>\n            <link>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182169</link>\n            <guid>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182169</guid>\n            <pubDate>Sun, 12 Oct 2025 23:59:47 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Well, If I was to buy a PC now I would go full AMD, they are goats</p>\n]]></content:encoded>\n            <dc:creator>skillissue</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Stygmate - Le Roi De Ménilmontant - Stygmate]]></title>\n            <link>https://peertube2.cpy.re/w/4Rym2vrS3jStny7KYXZEqD;threadId=182165</link>\n            <guid>https://peertube2.cpy.re/w/4Rym2vrS3jStny7KYXZEqD;threadId=182165</guid>\n            <pubDate>Sun, 12 Oct 2025 12:28:07 GMT</pubDate>\n            <content:encoded><![CDATA[<p>@ron.sagaton@kodcast.com Merci beaucoup ! oui,  c'est pas forcement la forme qui importe, c'est le fond, et puis tous les gouts sont dans la nature 😃 amitié</p>\n]]></content:encoded>\n            <dc:creator>Stygmate</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Crête & Moustache : la Live Session - Ron Sagaton]]></title>\n            <link>https://peertube2.cpy.re/w/4QDzGQxY7nXEZBT8vVpvsL;threadId=182166</link>\n            <guid>https://peertube2.cpy.re/w/4QDzGQxY7nXEZBT8vVpvsL;threadId=182166</guid>\n            <pubDate>Sun, 12 Oct 2025 02:45:48 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Super découverte. Merci ! C'est propre !</p>\n]]></content:encoded>\n            <dc:creator>Ron Sagaton</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Stygmate - Le Roi De Ménilmontant - Ron Sagaton]]></title>\n            <link>https://peertube2.cpy.re/w/4Rym2vrS3jStny7KYXZEqD;threadId=182165</link>\n            <guid>https://peertube2.cpy.re/w/4Rym2vrS3jStny7KYXZEqD;threadId=182165</guid>\n            <pubDate>Sun, 12 Oct 2025 02:34:16 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Pas mon style de musique mais on défend les mêmes valeurs. Bravo pour le clip et le texte.</p>\n]]></content:encoded>\n            <dc:creator>Ron Sagaton</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Intel changes stance on Open Source, LibrePhone project: Linux Weekly News - crimsonfall]]></title>\n            <link>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182164</link>\n            <guid>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182164</guid>\n            <pubDate>Sun, 12 Oct 2025 00:19:22 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> \nI wonder what this means for the intel WiFi drivers. Surely intel won’t see those as something that their competitors use against them right?</p>]]></content:encoded>\n            <dc:creator>crimsonfall</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[2025-06-28-incheve - 𝚛𝚊𝚝]]></title>\n            <link>https://peertube2.cpy.re/w/tZESw7C9KRxtLaketY1QYG;threadId=182163</link>\n            <guid>https://peertube2.cpy.re/w/tZESw7C9KRxtLaketY1QYG;threadId=182163</guid>\n            <pubDate>Sat, 11 Oct 2025 21:06:19 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://toobnix.org/accounts/tanakian\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>tanakian</span></a></span> 👌</p>]]></content:encoded>\n            <dc:creator>𝚛𝚊𝚝</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Rima Hassan :  \"Les Palestiniens n'accepteront pas de se laisser diriger, surtout après un génocide\" - La méduse du radeau]]></title>\n            <link>https://peertube2.cpy.re/w/furu362YaezXPsgXvzHsEN;threadId=182161</link>\n            <guid>https://peertube2.cpy.re/w/furu362YaezXPsgXvzHsEN;threadId=182161</guid>\n            <pubDate>Sat, 11 Oct 2025 19:49:54 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> </p><p>Et si, pour changer, les gens la fermaient et laissaient les Palestinien·ne·s décider pour eux·elles-mêmes ?</p><p>Quand on est prétendument de gauche, cela devrait être la base de la base, non ?</p>]]></content:encoded>\n            <dc:creator>La méduse du radeau</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Des machines qui retirent directement le CO2 de l’atmosphère (DACCS) - florent]]></title>\n            <link>https://peertube2.cpy.re/w/gS7vmTbnVR9A1f5kB95vFa;threadId=182157</link>\n            <guid>https://peertube2.cpy.re/w/gS7vmTbnVR9A1f5kB95vFa;threadId=182157</guid>\n            <pubDate>Sat, 11 Oct 2025 19:43:03 GMT</pubDate>\n            <content:encoded><![CDATA[<p>@Tacitus@masto.bike Vous avez vu la vidéo en entier ? Le sujet est évoqué.</p>\n]]></content:encoded>\n            <dc:creator>florent</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Idir & Manu Chao + Khalida Messaoudi - A tulawin - 一護]]></title>\n            <link>https://peertube2.cpy.re/w/uH35fc9vzhtMXNozKsyHaC;threadId=182156</link>\n            <guid>https://peertube2.cpy.re/w/uH35fc9vzhtMXNozKsyHaC;threadId=182156</guid>\n            <pubDate>Sat, 11 Oct 2025 19:33:33 GMT</pubDate>\n            <content:encoded><![CDATA[<p>nice</p>\n]]></content:encoded>\n            <dc:creator>一護</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Rima Hassan :  \"Les Palestiniens n'accepteront pas de se laisser diriger, surtout après un génocide\" - millerebonds]]></title>\n            <link>https://peertube2.cpy.re/w/furu362YaezXPsgXvzHsEN;threadId=182149</link>\n            <guid>https://peertube2.cpy.re/w/furu362YaezXPsgXvzHsEN;threadId=182149</guid>\n            <pubDate>Sat, 11 Oct 2025 19:08:51 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.antopie.org/accounts/yx.yx\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>yx.yx</span></a></span> <span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> La monnaie dette est également un crime contre la vie et l'humanité</p>]]></content:encoded>\n            <dc:creator>millerebonds</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Intel changes stance on Open Source, LibrePhone project: Linux Weekly News - Apollo]]></title>\n            <link>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182154</link>\n            <guid>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182154</guid>\n            <pubDate>Sat, 11 Oct 2025 17:21:16 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> 10:39 This whole situation is really strange. The CDU/CSU are usually all for surveillance state laws. The CSU even uses Palantir software in Bavaria against its own citizens. It’s a miracle that these two parties are positioning themselves like this in public.</p>]]></content:encoded>\n            <dc:creator>Apollo</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[STYGMATE - Enfant Désordre Et Pourri [clip] - Ron Sagaton]]></title>\n            <link>https://peertube2.cpy.re/w/cXQ5ST9SNL3q9scS51YCFC;threadId=182153</link>\n            <guid>https://peertube2.cpy.re/w/cXQ5ST9SNL3q9scS51YCFC;threadId=182153</guid>\n            <pubDate>Sat, 11 Oct 2025 17:09:54 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Original. Bravo pour la trompette !</p>\n]]></content:encoded>\n            <dc:creator>Ron Sagaton</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[NixOS en machine virtuelle. Bilan au bout d'un mois. - mrdev023]]></title>\n            <link>https://peertube2.cpy.re/w/vZ4bTyJfdgJTFynXh1BL98;threadId=182151</link>\n            <guid>https://peertube2.cpy.re/w/vZ4bTyJfdgJTFynXh1BL98;threadId=182151</guid>\n            <pubDate>Sat, 11 Oct 2025 12:38:52 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Après si tu passes sur la version nixos-unstable comme je l'ai fait. Tu as une version rolling release, mais avec la stabilité de NixOS surtout qu'avant de valider une version unstable. NixOS vérifie que le système fonctionne avec des tests automatisés.<br />\n<a href=\"https://hydra.nixos.org/job/nixos/trunk-combined/tested#tabs-constituents\" target=\"_blank\" rel=\"noopener noreferrer\">https://hydra.nixos.org/job/nixos/trunk-combined/tested#tabs-constituents</a></p>\n<p>Ils testent même plasma et gnome.</p>\n]]></content:encoded>\n            <dc:creator>mrdev023</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Intel changes stance on Open Source, LibrePhone project: Linux Weekly News - Agathokles Martinios]]></title>\n            <link>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182150</link>\n            <guid>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182150</guid>\n            <pubDate>Sat, 11 Oct 2025 12:35:25 GMT</pubDate>\n            <content:encoded><![CDATA[<p><em>Microsoft forcing online accounts</em></p>\n<p>Obligatory \"2025 Year of the Linux Desktop\" comment.</p>\n]]></content:encoded>\n            <dc:creator>Agathokles Martinios</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Rima Hassan :  \"Les Palestiniens n'accepteront pas de se laisser diriger, surtout après un génocide\" - tif_inégalitéS.capitalisme.TTdroites.écocide.5g.pub.nuc.gafam-CRIMES]]></title>\n            <link>https://peertube2.cpy.re/w/furu362YaezXPsgXvzHsEN;threadId=182149</link>\n            <guid>https://peertube2.cpy.re/w/furu362YaezXPsgXvzHsEN;threadId=182149</guid>\n            <pubDate>Sat, 11 Oct 2025 11:51:17 GMT</pubDate>\n            <content:encoded><![CDATA[<p>LA cause de l'horreur, de la merde... le capitalisme !!!!!!!!!!!!!!!! _ _ _ _ _ _ _ abolissons ce crime absolu contre la vie et l'humanité ! _ sinon c'est déjà mort</p>\n]]></content:encoded>\n            <dc:creator>tif_inégalitéS.capitalisme.TTdroites.écocide.5g.pub.nuc.gafam-CRIMES</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Android without Google: Volla Phone Quintus & Volla OS - Coach]]></title>\n            <link>https://peertube2.cpy.re/w/rupHv17eDSj1bUbDzgunGC;threadId=182145</link>\n            <guid>https://peertube2.cpy.re/w/rupHv17eDSj1bUbDzgunGC;threadId=182145</guid>\n            <pubDate>Sat, 11 Oct 2025 06:53:54 GMT</pubDate>\n            <content:encoded><![CDATA[<p>I just love the Volla Phone! Bought the Tablet as well.</p>\n]]></content:encoded>\n            <dc:creator>Coach</dc:creator>\n        </item>\n    </channel>\n</rss>"
                  }
                }
              },
              "application/atom+xml": {
                "schema": {
                  "$ref": "#/components/schemas/VideoCommentsForXML"
                },
                "examples": {
                  "nightly": {
                    "value": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<feed xmlns=\"http://www.w3.org/2005/Atom\">\n    <id>https://peertube2.cpy.re</id>\n    <title>PeerTube Nightly</title>\n    <updated>2025-10-13T20:34:47.922Z</updated>\n    <generator>PeerTube - https://peertube2.cpy.re</generator>\n    <link rel=\"alternate\" href=\"https://peertube2.cpy.re\"/>\n    <link rel=\"self\" href=\"https://peertube2.cpy.re/feeds/video-comments.atom?scope=local\"/>\n    <subtitle>This instance is a test instance of the PeerTube project. It is updated to the latest commit in the develop branch every business day, 8pm CET.</subtitle>\n    <logo>https://peertube2.cpy.re/lazy-static/avatars/177f70c4-ddef-4bb6-bc96-b00d5e2a0e05.png</logo>\n    <icon>https://peertube2.cpy.re/lazy-static/avatars/abace30f-69ad-4ff2-a954-dea06c5db6eb.png</icon>\n    <rights>All rights reserved, unless otherwise specified in the terms specified at https://peertube2.cpy.re/about and potential licenses granted by each content's rightholder.</rights>\n    <entry>\n        <title type=\"html\"><![CDATA[Nicolas Hulot Lumexplore2017 - tif_inégalitéS.capitalisme.TTdroites.écocide.5g.pub.nuc.gafam-CRIMES]]></title>\n        <id>https://peertube2.cpy.re/w/7H2EzsXKXajx8tZFaci7u6;threadId=182174</id>\n        <link href=\"https://peertube2.cpy.re/w/7H2EzsXKXajx8tZFaci7u6;threadId=182174\"/>\n        <updated>2025-10-13T11:17:10.502Z</updated>\n        <content type=\"html\"><![CDATA[<p>[[On rappellera néanmoins que ce type est une grosse m. _ _ À \"tous\" les niveaux]]</p>\n]]></content>\n        <author>\n            <name>tif_inégalitéS.capitalisme.TTdroites.écocide.5g.pub.nuc.gafam-CRIMES</name>\n            <uri>https://video.antopie.org/accounts/yx.yx</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[9 La lessive bio - tif_inégalitéS.capitalisme.TTdroites.écocide.5g.pub.nuc.gafam-CRIMES]]></title>\n        <id>https://peertube2.cpy.re/w/orAVGRkaNLvwnonip14Ve7;threadId=182172</id>\n        <link href=\"https://peertube2.cpy.re/w/orAVGRkaNLvwnonip14Ve7;threadId=182172\"/>\n        <updated>2025-10-13T11:14:15.098Z</updated>\n        <content type=\"html\"><![CDATA[<p>et c'est une bouteille en verre...</p>\n]]></content>\n        <author>\n            <name>tif_inégalitéS.capitalisme.TTdroites.écocide.5g.pub.nuc.gafam-CRIMES</name>\n            <uri>https://video.antopie.org/accounts/yx.yx</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Intel changes stance on Open Source, LibrePhone project: Linux Weekly News - Azufre36]]></title>\n        <id>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182171</id>\n        <link href=\"https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182171\"/>\n        <updated>2025-10-13T10:14:44.007Z</updated>\n        <content type=\"html\"><![CDATA[<p>Firefox already had different profiles, you can access them on about:profiles and execute the profile manager with \"firefox -p\". Now they are doing it more cute and chromium like but it was perfecly usable for years.</p>\n<p>Thanks for your weekly news. Good video!</p>\n]]></content>\n        <author>\n            <name>Azufre36</name>\n            <uri>https://video.hardlimit.com/accounts/azufre36</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[PDP-11 - System Overview [Tape 01] - Commit Companion]]></title>\n        <id>https://peertube2.cpy.re/w/4yhCyroWuZJZTZfSRM4wmE;threadId=182170</id>\n        <link href=\"https://peertube2.cpy.re/w/4yhCyroWuZJZTZfSRM4wmE;threadId=182170\"/>\n        <updated>2025-10-13T08:37:40.506Z</updated>\n        <content type=\"html\"><![CDATA[<p>Hey! That is a cool doc movie. Can you tell me if there are any docs like this for the pdp11/94</p>\n]]></content>\n        <author>\n            <name>Commit Companion</name>\n            <uri>https://tube.fulda.social/accounts/comcom</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Intel changes stance on Open Source, LibrePhone project: Linux Weekly News - skillissue]]></title>\n        <id>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182169</id>\n        <link href=\"https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182169\"/>\n        <updated>2025-10-12T23:59:47.070Z</updated>\n        <content type=\"html\"><![CDATA[<p>Well, If I was to buy a PC now I would go full AMD, they are goats</p>\n]]></content>\n        <author>\n            <name>skillissue</name>\n            <uri>https://spectra.video/accounts/skillissue</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Stygmate - Le Roi De Ménilmontant - Stygmate]]></title>\n        <id>https://peertube2.cpy.re/w/4Rym2vrS3jStny7KYXZEqD;threadId=182165</id>\n        <link href=\"https://peertube2.cpy.re/w/4Rym2vrS3jStny7KYXZEqD;threadId=182165\"/>\n        <updated>2025-10-12T12:28:07.555Z</updated>\n        <content type=\"html\"><![CDATA[<p>@ron.sagaton@kodcast.com Merci beaucoup ! oui,  c'est pas forcement la forme qui importe, c'est le fond, et puis tous les gouts sont dans la nature 😃 amitié</p>\n]]></content>\n        <author>\n            <name>Stygmate</name>\n            <uri>https://www.yiny.org/accounts/stygmate</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Crête & Moustache : la Live Session - Ron Sagaton]]></title>\n        <id>https://peertube2.cpy.re/w/4QDzGQxY7nXEZBT8vVpvsL;threadId=182166</id>\n        <link href=\"https://peertube2.cpy.re/w/4QDzGQxY7nXEZBT8vVpvsL;threadId=182166\"/>\n        <updated>2025-10-12T02:45:48.996Z</updated>\n        <content type=\"html\"><![CDATA[<p>Super découverte. Merci ! C'est propre !</p>\n]]></content>\n        <author>\n            <name>Ron Sagaton</name>\n            <uri>https://kodcast.com/accounts/ron.sagaton</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Stygmate - Le Roi De Ménilmontant - Ron Sagaton]]></title>\n        <id>https://peertube2.cpy.re/w/4Rym2vrS3jStny7KYXZEqD;threadId=182165</id>\n        <link href=\"https://peertube2.cpy.re/w/4Rym2vrS3jStny7KYXZEqD;threadId=182165\"/>\n        <updated>2025-10-12T02:34:16.830Z</updated>\n        <content type=\"html\"><![CDATA[<p>Pas mon style de musique mais on défend les mêmes valeurs. Bravo pour le clip et le texte.</p>\n]]></content>\n        <author>\n            <name>Ron Sagaton</name>\n            <uri>https://kodcast.com/accounts/ron.sagaton</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Intel changes stance on Open Source, LibrePhone project: Linux Weekly News - crimsonfall]]></title>\n        <id>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182164</id>\n        <link href=\"https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182164\"/>\n        <updated>2025-10-12T00:19:22.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> \nI wonder what this means for the intel WiFi drivers. Surely intel won’t see those as something that their competitors use against them right?</p>]]></content>\n        <author>\n            <name>crimsonfall</name>\n            <uri>https://mas.to/users/crimsonfall</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[2025-06-28-incheve - 𝚛𝚊𝚝]]></title>\n        <id>https://peertube2.cpy.re/w/tZESw7C9KRxtLaketY1QYG;threadId=182163</id>\n        <link href=\"https://peertube2.cpy.re/w/tZESw7C9KRxtLaketY1QYG;threadId=182163\"/>\n        <updated>2025-10-11T21:06:19.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://toobnix.org/accounts/tanakian\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>tanakian</span></a></span> 👌</p>]]></content>\n        <author>\n            <name>𝚛𝚊𝚝</name>\n            <uri>https://social.sdf.org/users/rat</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Rima Hassan :  \"Les Palestiniens n'accepteront pas de se laisser diriger, surtout après un génocide\" - La méduse du radeau]]></title>\n        <id>https://peertube2.cpy.re/w/furu362YaezXPsgXvzHsEN;threadId=182161</id>\n        <link href=\"https://peertube2.cpy.re/w/furu362YaezXPsgXvzHsEN;threadId=182161\"/>\n        <updated>2025-10-11T19:49:54.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> </p><p>Et si, pour changer, les gens la fermaient et laissaient les Palestinien·ne·s décider pour eux·elles-mêmes ?</p><p>Quand on est prétendument de gauche, cela devrait être la base de la base, non ?</p>]]></content>\n        <author>\n            <name>La méduse du radeau</name>\n            <uri>https://piaille.fr/users/4n0nym3</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Des machines qui retirent directement le CO2 de l’atmosphère (DACCS) - florent]]></title>\n        <id>https://peertube2.cpy.re/w/gS7vmTbnVR9A1f5kB95vFa;threadId=182157</id>\n        <link href=\"https://peertube2.cpy.re/w/gS7vmTbnVR9A1f5kB95vFa;threadId=182157\"/>\n        <updated>2025-10-11T19:43:03.872Z</updated>\n        <content type=\"html\"><![CDATA[<p>@Tacitus@masto.bike Vous avez vu la vidéo en entier ? Le sujet est évoqué.</p>\n]]></content>\n        <author>\n            <name>florent</name>\n            <uri>https://skeptikon.fr/accounts/florent</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Idir & Manu Chao + Khalida Messaoudi - A tulawin - 一護]]></title>\n        <id>https://peertube2.cpy.re/w/uH35fc9vzhtMXNozKsyHaC;threadId=182156</id>\n        <link href=\"https://peertube2.cpy.re/w/uH35fc9vzhtMXNozKsyHaC;threadId=182156\"/>\n        <updated>2025-10-11T19:33:33.256Z</updated>\n        <content type=\"html\"><![CDATA[<p>nice</p>\n]]></content>\n        <author>\n            <name>一護</name>\n            <uri>https://spectra.video/accounts/ichigo</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Rima Hassan :  \"Les Palestiniens n'accepteront pas de se laisser diriger, surtout après un génocide\" - millerebonds]]></title>\n        <id>https://peertube2.cpy.re/w/furu362YaezXPsgXvzHsEN;threadId=182149</id>\n        <link href=\"https://peertube2.cpy.re/w/furu362YaezXPsgXvzHsEN;threadId=182149\"/>\n        <updated>2025-10-11T19:08:51.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://video.antopie.org/accounts/yx.yx\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>yx.yx</span></a></span> <span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> La monnaie dette est également un crime contre la vie et l'humanité</p>]]></content>\n        <author>\n            <name>millerebonds</name>\n            <uri>https://framapiaf.org/users/millerebonds</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Intel changes stance on Open Source, LibrePhone project: Linux Weekly News - Apollo]]></title>\n        <id>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182154</id>\n        <link href=\"https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182154\"/>\n        <updated>2025-10-11T17:21:16.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> 10:39 This whole situation is really strange. The CDU/CSU are usually all for surveillance state laws. The CSU even uses Palantir software in Bavaria against its own citizens. It’s a miracle that these two parties are positioning themselves like this in public.</p>]]></content>\n        <author>\n            <name>Apollo</name>\n            <uri>https://nrw.social/users/apollo</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[STYGMATE - Enfant Désordre Et Pourri [clip] - Ron Sagaton]]></title>\n        <id>https://peertube2.cpy.re/w/cXQ5ST9SNL3q9scS51YCFC;threadId=182153</id>\n        <link href=\"https://peertube2.cpy.re/w/cXQ5ST9SNL3q9scS51YCFC;threadId=182153\"/>\n        <updated>2025-10-11T17:09:54.849Z</updated>\n        <content type=\"html\"><![CDATA[<p>Original. Bravo pour la trompette !</p>\n]]></content>\n        <author>\n            <name>Ron Sagaton</name>\n            <uri>https://kodcast.com/accounts/ron.sagaton</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[NixOS en machine virtuelle. Bilan au bout d'un mois. - mrdev023]]></title>\n        <id>https://peertube2.cpy.re/w/vZ4bTyJfdgJTFynXh1BL98;threadId=182151</id>\n        <link href=\"https://peertube2.cpy.re/w/vZ4bTyJfdgJTFynXh1BL98;threadId=182151\"/>\n        <updated>2025-10-11T12:38:52.437Z</updated>\n        <content type=\"html\"><![CDATA[<p>Après si tu passes sur la version nixos-unstable comme je l'ai fait. Tu as une version rolling release, mais avec la stabilité de NixOS surtout qu'avant de valider une version unstable. NixOS vérifie que le système fonctionne avec des tests automatisés.<br />\n<a href=\"https://hydra.nixos.org/job/nixos/trunk-combined/tested#tabs-constituents\" target=\"_blank\" rel=\"noopener noreferrer\">https://hydra.nixos.org/job/nixos/trunk-combined/tested#tabs-constituents</a></p>\n<p>Ils testent même plasma et gnome.</p>\n]]></content>\n        <author>\n            <name>mrdev023</name>\n            <uri>https://peertube.stream/accounts/mrdev023</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Intel changes stance on Open Source, LibrePhone project: Linux Weekly News - Agathokles Martinios]]></title>\n        <id>https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182150</id>\n        <link href=\"https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182150\"/>\n        <updated>2025-10-11T12:35:25.091Z</updated>\n        <content type=\"html\"><![CDATA[<p><em>Microsoft forcing online accounts</em></p>\n<p>Obligatory \"2025 Year of the Linux Desktop\" comment.</p>\n]]></content>\n        <author>\n            <name>Agathokles Martinios</name>\n            <uri>https://tilvids.com/accounts/amartinios</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Rima Hassan :  \"Les Palestiniens n'accepteront pas de se laisser diriger, surtout après un génocide\" - tif_inégalitéS.capitalisme.TTdroites.écocide.5g.pub.nuc.gafam-CRIMES]]></title>\n        <id>https://peertube2.cpy.re/w/furu362YaezXPsgXvzHsEN;threadId=182149</id>\n        <link href=\"https://peertube2.cpy.re/w/furu362YaezXPsgXvzHsEN;threadId=182149\"/>\n        <updated>2025-10-11T11:51:17.068Z</updated>\n        <content type=\"html\"><![CDATA[<p>LA cause de l'horreur, de la merde... le capitalisme !!!!!!!!!!!!!!!! _ _ _ _ _ _ _ abolissons ce crime absolu contre la vie et l'humanité ! _ sinon c'est déjà mort</p>\n]]></content>\n        <author>\n            <name>tif_inégalitéS.capitalisme.TTdroites.écocide.5g.pub.nuc.gafam-CRIMES</name>\n            <uri>https://video.antopie.org/accounts/yx.yx</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Android without Google: Volla Phone Quintus & Volla OS - Coach]]></title>\n        <id>https://peertube2.cpy.re/w/rupHv17eDSj1bUbDzgunGC;threadId=182145</id>\n        <link href=\"https://peertube2.cpy.re/w/rupHv17eDSj1bUbDzgunGC;threadId=182145\"/>\n        <updated>2025-10-11T06:53:54.634Z</updated>\n        <content type=\"html\"><![CDATA[<p>I just love the Volla Phone! Bought the Tablet as well.</p>\n]]></content>\n        <author>\n            <name>Coach</name>\n            <uri>https://peertube.tv/accounts/coach</uri>\n        </author>\n    </entry>\n</feed>"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "nightly": {
                    "value": {
                      "version": "https://jsonfeed.org/version/1",
                      "title": "PeerTube Nightly",
                      "home_page_url": "https://peertube2.cpy.re",
                      "feed_url": "https://peertube2.cpy.re/feeds/video-comments.json?scope=local",
                      "description": "This instance is a test instance of the PeerTube project. It is updated to the latest commit in the develop branch every business day, 8pm CET.",
                      "icon": "https://peertube2.cpy.re/lazy-static/avatars/177f70c4-ddef-4bb6-bc96-b00d5e2a0e05.png",
                      "items": [
                        {
                          "id": "https://peertube2.cpy.re/w/7H2EzsXKXajx8tZFaci7u6;threadId=182174",
                          "content_html": "<p>[[On rappellera néanmoins que ce type est une grosse m. _ _ À \"tous\" les niveaux]]</p>\n",
                          "url": "https://peertube2.cpy.re/w/7H2EzsXKXajx8tZFaci7u6;threadId=182174",
                          "title": "Nicolas Hulot Lumexplore2017 - tif_inégalitéS.capitalisme.TTdroites.écocide.5g.pub.nuc.gafam-CRIMES",
                          "date_modified": "2025-10-13T11:17:10.502Z",
                          "author": {
                            "name": "tif_inégalitéS.capitalisme.TTdroites.écocide.5g.pub.nuc.gafam-CRIMES",
                            "url": "https://video.antopie.org/accounts/yx.yx"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/orAVGRkaNLvwnonip14Ve7;threadId=182172",
                          "content_html": "<p>et c'est une bouteille en verre...</p>\n",
                          "url": "https://peertube2.cpy.re/w/orAVGRkaNLvwnonip14Ve7;threadId=182172",
                          "title": "9 La lessive bio - tif_inégalitéS.capitalisme.TTdroites.écocide.5g.pub.nuc.gafam-CRIMES",
                          "date_modified": "2025-10-13T11:14:15.098Z",
                          "author": {
                            "name": "tif_inégalitéS.capitalisme.TTdroites.écocide.5g.pub.nuc.gafam-CRIMES",
                            "url": "https://video.antopie.org/accounts/yx.yx"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182171",
                          "content_html": "<p>Firefox already had different profiles, you can access them on about:profiles and execute the profile manager with \"firefox -p\". Now they are doing it more cute and chromium like but it was perfecly usable for years.</p>\n<p>Thanks for your weekly news. Good video!</p>\n",
                          "url": "https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182171",
                          "title": "Intel changes stance on Open Source, LibrePhone project: Linux Weekly News - Azufre36",
                          "date_modified": "2025-10-13T10:14:44.007Z",
                          "author": {
                            "name": "Azufre36",
                            "url": "https://video.hardlimit.com/accounts/azufre36"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/4yhCyroWuZJZTZfSRM4wmE;threadId=182170",
                          "content_html": "<p>Hey! That is a cool doc movie. Can you tell me if there are any docs like this for the pdp11/94</p>\n",
                          "url": "https://peertube2.cpy.re/w/4yhCyroWuZJZTZfSRM4wmE;threadId=182170",
                          "title": "PDP-11 - System Overview [Tape 01] - Commit Companion",
                          "date_modified": "2025-10-13T08:37:40.506Z",
                          "author": {
                            "name": "Commit Companion",
                            "url": "https://tube.fulda.social/accounts/comcom"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182169",
                          "content_html": "<p>Well, If I was to buy a PC now I would go full AMD, they are goats</p>\n",
                          "url": "https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182169",
                          "title": "Intel changes stance on Open Source, LibrePhone project: Linux Weekly News - skillissue",
                          "date_modified": "2025-10-12T23:59:47.070Z",
                          "author": {
                            "name": "skillissue",
                            "url": "https://spectra.video/accounts/skillissue"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/4Rym2vrS3jStny7KYXZEqD;threadId=182165",
                          "content_html": "<p>@ron.sagaton@kodcast.com Merci beaucoup ! oui,  c'est pas forcement la forme qui importe, c'est le fond, et puis tous les gouts sont dans la nature 😃 amitié</p>\n",
                          "url": "https://peertube2.cpy.re/w/4Rym2vrS3jStny7KYXZEqD;threadId=182165",
                          "title": "Stygmate - Le Roi De Ménilmontant - Stygmate",
                          "date_modified": "2025-10-12T12:28:07.555Z",
                          "author": {
                            "name": "Stygmate",
                            "url": "https://www.yiny.org/accounts/stygmate"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/4QDzGQxY7nXEZBT8vVpvsL;threadId=182166",
                          "content_html": "<p>Super découverte. Merci ! C'est propre !</p>\n",
                          "url": "https://peertube2.cpy.re/w/4QDzGQxY7nXEZBT8vVpvsL;threadId=182166",
                          "title": "Crête & Moustache : la Live Session - Ron Sagaton",
                          "date_modified": "2025-10-12T02:45:48.996Z",
                          "author": {
                            "name": "Ron Sagaton",
                            "url": "https://kodcast.com/accounts/ron.sagaton"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/4Rym2vrS3jStny7KYXZEqD;threadId=182165",
                          "content_html": "<p>Pas mon style de musique mais on défend les mêmes valeurs. Bravo pour le clip et le texte.</p>\n",
                          "url": "https://peertube2.cpy.re/w/4Rym2vrS3jStny7KYXZEqD;threadId=182165",
                          "title": "Stygmate - Le Roi De Ménilmontant - Ron Sagaton",
                          "date_modified": "2025-10-12T02:34:16.830Z",
                          "author": {
                            "name": "Ron Sagaton",
                            "url": "https://kodcast.com/accounts/ron.sagaton"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182164",
                          "content_html": "<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> \nI wonder what this means for the intel WiFi drivers. Surely intel won’t see those as something that their competitors use against them right?</p>",
                          "url": "https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182164",
                          "title": "Intel changes stance on Open Source, LibrePhone project: Linux Weekly News - crimsonfall",
                          "date_modified": "2025-10-12T00:19:22.000Z",
                          "author": {
                            "name": "crimsonfall",
                            "url": "https://mas.to/users/crimsonfall"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/tZESw7C9KRxtLaketY1QYG;threadId=182163",
                          "content_html": "<p><span><a href=\"https://toobnix.org/accounts/tanakian\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>tanakian</span></a></span> 👌</p>",
                          "url": "https://peertube2.cpy.re/w/tZESw7C9KRxtLaketY1QYG;threadId=182163",
                          "title": "2025-06-28-incheve - 𝚛𝚊𝚝",
                          "date_modified": "2025-10-11T21:06:19.000Z",
                          "author": {
                            "name": "𝚛𝚊𝚝",
                            "url": "https://social.sdf.org/users/rat"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/furu362YaezXPsgXvzHsEN;threadId=182161",
                          "content_html": "<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> </p><p>Et si, pour changer, les gens la fermaient et laissaient les Palestinien·ne·s décider pour eux·elles-mêmes ?</p><p>Quand on est prétendument de gauche, cela devrait être la base de la base, non ?</p>",
                          "url": "https://peertube2.cpy.re/w/furu362YaezXPsgXvzHsEN;threadId=182161",
                          "title": "Rima Hassan :  \"Les Palestiniens n'accepteront pas de se laisser diriger, surtout après un génocide\" - La méduse du radeau",
                          "date_modified": "2025-10-11T19:49:54.000Z",
                          "author": {
                            "name": "La méduse du radeau",
                            "url": "https://piaille.fr/users/4n0nym3"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/gS7vmTbnVR9A1f5kB95vFa;threadId=182157",
                          "content_html": "<p>@Tacitus@masto.bike Vous avez vu la vidéo en entier ? Le sujet est évoqué.</p>\n",
                          "url": "https://peertube2.cpy.re/w/gS7vmTbnVR9A1f5kB95vFa;threadId=182157",
                          "title": "Des machines qui retirent directement le CO2 de l’atmosphère (DACCS) - florent",
                          "date_modified": "2025-10-11T19:43:03.872Z",
                          "author": {
                            "name": "florent",
                            "url": "https://skeptikon.fr/accounts/florent"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/uH35fc9vzhtMXNozKsyHaC;threadId=182156",
                          "content_html": "<p>nice</p>\n",
                          "url": "https://peertube2.cpy.re/w/uH35fc9vzhtMXNozKsyHaC;threadId=182156",
                          "title": "Idir & Manu Chao + Khalida Messaoudi - A tulawin - 一護",
                          "date_modified": "2025-10-11T19:33:33.256Z",
                          "author": {
                            "name": "一護",
                            "url": "https://spectra.video/accounts/ichigo"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/furu362YaezXPsgXvzHsEN;threadId=182149",
                          "content_html": "<p><span><a href=\"https://video.antopie.org/accounts/yx.yx\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>yx.yx</span></a></span> <span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> La monnaie dette est également un crime contre la vie et l'humanité</p>",
                          "url": "https://peertube2.cpy.re/w/furu362YaezXPsgXvzHsEN;threadId=182149",
                          "title": "Rima Hassan :  \"Les Palestiniens n'accepteront pas de se laisser diriger, surtout après un génocide\" - millerebonds",
                          "date_modified": "2025-10-11T19:08:51.000Z",
                          "author": {
                            "name": "millerebonds",
                            "url": "https://framapiaf.org/users/millerebonds"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182154",
                          "content_html": "<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>thelinuxexperiment</span></a></span> 10:39 This whole situation is really strange. The CDU/CSU are usually all for surveillance state laws. The CSU even uses Palantir software in Bavaria against its own citizens. It’s a miracle that these two parties are positioning themselves like this in public.</p>",
                          "url": "https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182154",
                          "title": "Intel changes stance on Open Source, LibrePhone project: Linux Weekly News - Apollo",
                          "date_modified": "2025-10-11T17:21:16.000Z",
                          "author": {
                            "name": "Apollo",
                            "url": "https://nrw.social/users/apollo"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/cXQ5ST9SNL3q9scS51YCFC;threadId=182153",
                          "content_html": "<p>Original. Bravo pour la trompette !</p>\n",
                          "url": "https://peertube2.cpy.re/w/cXQ5ST9SNL3q9scS51YCFC;threadId=182153",
                          "title": "STYGMATE - Enfant Désordre Et Pourri [clip] - Ron Sagaton",
                          "date_modified": "2025-10-11T17:09:54.849Z",
                          "author": {
                            "name": "Ron Sagaton",
                            "url": "https://kodcast.com/accounts/ron.sagaton"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/vZ4bTyJfdgJTFynXh1BL98;threadId=182151",
                          "content_html": "<p>Après si tu passes sur la version nixos-unstable comme je l'ai fait. Tu as une version rolling release, mais avec la stabilité de NixOS surtout qu'avant de valider une version unstable. NixOS vérifie que le système fonctionne avec des tests automatisés.<br />\n<a href=\"https://hydra.nixos.org/job/nixos/trunk-combined/tested#tabs-constituents\" target=\"_blank\" rel=\"noopener noreferrer\">https://hydra.nixos.org/job/nixos/trunk-combined/tested#tabs-constituents</a></p>\n<p>Ils testent même plasma et gnome.</p>\n",
                          "url": "https://peertube2.cpy.re/w/vZ4bTyJfdgJTFynXh1BL98;threadId=182151",
                          "title": "NixOS en machine virtuelle. Bilan au bout d'un mois. - mrdev023",
                          "date_modified": "2025-10-11T12:38:52.437Z",
                          "author": {
                            "name": "mrdev023",
                            "url": "https://peertube.stream/accounts/mrdev023"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182150",
                          "content_html": "<p><em>Microsoft forcing online accounts</em></p>\n<p>Obligatory \"2025 Year of the Linux Desktop\" comment.</p>\n",
                          "url": "https://peertube2.cpy.re/w/9ZftGfqRSQR4cZuuFr77pe;threadId=182150",
                          "title": "Intel changes stance on Open Source, LibrePhone project: Linux Weekly News - Agathokles Martinios",
                          "date_modified": "2025-10-11T12:35:25.091Z",
                          "author": {
                            "name": "Agathokles Martinios",
                            "url": "https://tilvids.com/accounts/amartinios"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/furu362YaezXPsgXvzHsEN;threadId=182149",
                          "content_html": "<p>LA cause de l'horreur, de la merde... le capitalisme !!!!!!!!!!!!!!!! _ _ _ _ _ _ _ abolissons ce crime absolu contre la vie et l'humanité ! _ sinon c'est déjà mort</p>\n",
                          "url": "https://peertube2.cpy.re/w/furu362YaezXPsgXvzHsEN;threadId=182149",
                          "title": "Rima Hassan :  \"Les Palestiniens n'accepteront pas de se laisser diriger, surtout après un génocide\" - tif_inégalitéS.capitalisme.TTdroites.écocide.5g.pub.nuc.gafam-CRIMES",
                          "date_modified": "2025-10-11T11:51:17.068Z",
                          "author": {
                            "name": "tif_inégalitéS.capitalisme.TTdroites.écocide.5g.pub.nuc.gafam-CRIMES",
                            "url": "https://video.antopie.org/accounts/yx.yx"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/rupHv17eDSj1bUbDzgunGC;threadId=182145",
                          "content_html": "<p>I just love the Volla Phone! Bought the Tablet as well.</p>\n",
                          "url": "https://peertube2.cpy.re/w/rupHv17eDSj1bUbDzgunGC;threadId=182145",
                          "title": "Android without Google: Volla Phone Quintus & Volla OS - Coach",
                          "date_modified": "2025-10-11T06:53:54.634Z",
                          "author": {
                            "name": "Coach",
                            "url": "https://peertube.tv/accounts/coach"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "x-summary": "field inconsistencies",
            "description": "Arises when:\n  - videoId filter is mixed with a channel filter\n"
          },
          "404": {
            "description": "video, video channel or account not found"
          },
          "406": {
            "description": "accept header unsupported"
          }
        }
      }
    },
    "/feeds/videos.{format}": {
      "get": {
        "tags": [
          "Video Feeds"
        ],
        "summary": "Common videos feeds",
        "operationId": "getSyndicatedVideos",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "description": "format expected (we focus on making `rss` the most featureful ; it serves [Media RSS](https://www.rssboard.org/media-rss))",
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "rss",
                "rss2",
                "atom",
                "atom1",
                "json",
                "json1"
              ]
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "description": "limit listing to a specific account",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountName",
            "in": "query",
            "description": "limit listing to a specific account",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "videoChannelId",
            "in": "query",
            "description": "limit listing to a specific video channel",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "videoChannelName",
            "in": "query",
            "description": "limit listing to a specific video channel",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/nsfw"
          },
          {
            "$ref": "#/components/parameters/isLocal"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/privacyOneOf"
          },
          {
            "$ref": "#/components/parameters/hasHLSFiles"
          },
          {
            "$ref": "#/components/parameters/hasWebVideoFiles"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "default": "max-age=900"
                }
              }
            },
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VideosForXML"
                },
                "examples": {
                  "nightly": {
[...]
