{
  "openapi": "3.0.3",
  "info": {
    "title": "Octorate Connect API",
    "version": "1.0.0",
    "description": "Octorate channel manager and property management API. Manage properties, rooms, reservations, rates, and availability.",
    "x-jentic-source-url": "https://api.octorate.com/connect/"
  },
  "servers": [{"url": "https://api.octorate.com/connect"}],
  "tags": [{"name": "Properties"}, {"name": "Rooms"}, {"name": "Reservations"}, {"name": "Rates"}, {"name": "Availability"}],
  "paths": {
    "/properties": {
      "get": {
        "operationId": "listProperties",
        "summary": "List all properties",
        "tags": ["Properties"],
        "parameters": [
          {"name": "page", "in": "query", "schema": {"type": "integer", "default": 1}, "required": false},
          {"name": "limit", "in": "query", "schema": {"type": "integer", "default": 20}, "required": false}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PropertyListResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/properties/{propertyId}": {
      "get": {
        "operationId": "getProperty",
        "summary": "Get a specific property",
        "tags": ["Properties"],
        "parameters": [{"name": "propertyId", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Property"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/properties/{propertyId}/rooms": {
      "get": {
        "operationId": "listRooms",
        "summary": "List rooms for a property",
        "tags": ["Rooms"],
        "parameters": [{"name": "propertyId", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RoomListResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/properties/{propertyId}/reservations": {
      "get": {
        "operationId": "listReservations",
        "summary": "List reservations for a property",
        "tags": ["Reservations"],
        "parameters": [
          {"name": "propertyId", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "from", "in": "query", "schema": {"type": "string", "format": "date"}, "required": false},
          {"name": "to", "in": "query", "schema": {"type": "string", "format": "date"}, "required": false},
          {"name": "status", "in": "query", "schema": {"type": "string", "enum": ["confirmed", "cancelled", "pending"]}, "required": false}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ReservationListResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "createReservation",
        "summary": "Create a new reservation",
        "tags": ["Reservations"],
        "parameters": [{"name": "propertyId", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ReservationInput"}}}},
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Reservation"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/properties/{propertyId}/reservations/{reservationId}": {
      "get": {
        "operationId": "getReservation",
        "summary": "Get a specific reservation",
        "tags": ["Reservations"],
        "parameters": [
          {"name": "propertyId", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "reservationId", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Reservation"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "put": {
        "operationId": "updateReservation",
        "summary": "Update a reservation",
        "tags": ["Reservations"],
        "parameters": [
          {"name": "propertyId", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "reservationId", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ReservationInput"}}}},
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Reservation"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "delete": {
        "operationId": "cancelReservation",
        "summary": "Cancel a reservation",
        "tags": ["Reservations"],
        "parameters": [
          {"name": "propertyId", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "reservationId", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Reservation"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/properties/{propertyId}/rates": {
      "get": {
        "operationId": "listRates",
        "summary": "List rate plans for a property",
        "tags": ["Rates"],
        "parameters": [{"name": "propertyId", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateListResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "put": {
        "operationId": "updateRates",
        "summary": "Update rates for a property",
        "tags": ["Rates"],
        "parameters": [{"name": "propertyId", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateUpdateInput"}}}},
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateListResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/properties/{propertyId}/availability": {
      "get": {
        "operationId": "getAvailability",
        "summary": "Get availability for a property",
        "tags": ["Availability"],
        "parameters": [
          {"name": "propertyId", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "from", "in": "query", "required": true, "schema": {"type": "string", "format": "date"}},
          {"name": "to", "in": "query", "required": true, "schema": {"type": "string", "format": "date"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AvailabilityResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "put": {
        "operationId": "updateAvailability",
        "summary": "Update availability for a property",
        "tags": ["Availability"],
        "parameters": [{"name": "propertyId", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AvailabilityUpdateInput"}}}},
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AvailabilityResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Property": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "name": {"type": "string"},
          "address": {"type": "string"},
          "city": {"type": "string"},
          "country": {"type": "string"},
          "currency": {"type": "string"},
          "timezone": {"type": "string"}
        }
      },
      "PropertyListResponse": {
        "type": "object",
        "properties": {
          "data": {"type": "array", "items": {"$ref": "#/components/schemas/Property"}},
          "total": {"type": "integer"},
          "page": {"type": "integer"}
        }
      },
      "Room": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "name": {"type": "string"},
          "type": {"type": "string"},
          "maxGuests": {"type": "integer"},
          "baseRate": {"type": "number"}
        }
      },
      "RoomListResponse": {
        "type": "object",
        "properties": {
          "data": {"type": "array", "items": {"$ref": "#/components/schemas/Room"}},
          "total": {"type": "integer"},
          "page": {"type": "integer"}
        }
      },
      "Reservation": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "propertyId": {"type": "string"},
          "roomId": {"type": "string"},
          "guestName": {"type": "string"},
          "checkIn": {"type": "string", "format": "date"},
          "checkOut": {"type": "string", "format": "date"},
          "status": {"type": "string", "enum": ["confirmed", "cancelled", "pending"]},
          "totalAmount": {"type": "number"},
          "createdAt": {"type": "string", "format": "date-time"}
        }
      },
      "ReservationInput": {
        "type": "object",
        "required": ["roomId", "guestName", "checkIn", "checkOut"],
        "properties": {
          "roomId": {"type": "string"},
          "guestName": {"type": "string"},
          "guestEmail": {"type": "string", "format": "email"},
          "checkIn": {"type": "string", "format": "date"},
          "checkOut": {"type": "string", "format": "date"},
          "adults": {"type": "integer", "default": 1},
          "children": {"type": "integer", "default": 0}
        }
      },
      "ReservationListResponse": {
        "type": "object",
        "properties": {
          "data": {"type": "array", "items": {"$ref": "#/components/schemas/Reservation"}},
          "total": {"type": "integer"},
          "page": {"type": "integer"}
        }
      },
      "Rate": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "roomId": {"type": "string"},
          "date": {"type": "string", "format": "date"},
          "price": {"type": "number"},
          "currency": {"type": "string"}
        }
      },
      "RateListResponse": {
        "type": "object",
        "properties": {
          "data": {"type": "array", "items": {"$ref": "#/components/schemas/Rate"}},
          "total": {"type": "integer"},
          "page": {"type": "integer"}
        }
      },
      "RateUpdateInput": {
        "type": "object",
        "properties": {
          "roomId": {"type": "string"},
          "rates": {"type": "array", "items": {"type": "object", "properties": {"date": {"type": "string", "format": "date"}, "price": {"type": "number"}}}}
        }
      },
      "AvailabilityResponse": {
        "type": "object",
        "properties": {
          "propertyId": {"type": "string"},
          "availability": {"type": "array", "items": {"type": "object", "properties": {"roomId": {"type": "string"}, "date": {"type": "string", "format": "date"}, "available": {"type": "boolean"}, "quantity": {"type": "integer"}}}}
        }
      },
      "AvailabilityUpdateInput": {
        "type": "object",
        "properties": {
          "roomId": {"type": "string"},
          "updates": {"type": "array", "items": {"type": "object", "properties": {"date": {"type": "string", "format": "date"}, "available": {"type": "boolean"}, "quantity": {"type": "integer"}}}}
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {"type": "string", "enum": ["error"]},
          "code": {"type": "string"},
          "message": {"type": "string"}
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {"type": "http", "scheme": "bearer", "bearerFormat": "JWT"}
    }
  },
  "security": [{"bearerAuth": []}]
}