{
  "openapi": "3.0.3",
  "info": {
    "title": "Basin API",
    "version": "1.0.0",
    "description": "Basin is a form backend service that collects form submissions via simple HTML forms or API calls. The API allows you to manage forms, retrieve submissions, create and manage spam filters, configure email notifications, webhooks, and autoresponders.",
    "x-jentic-source-url": "https://usebasin.com/api_docs/index.html"
  },
  "servers": [
    {
      "url": "https://usebasin.com/api",
      "description": "Basin API"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Forms",
      "description": "Form management"
    },
    {
      "name": "Submissions",
      "description": "Form submissions"
    },
    {
      "name": "SpamFilters",
      "description": "Spam filter management"
    },
    {
      "name": "Emails",
      "description": "Email notification configuration"
    },
    {
      "name": "Webhooks",
      "description": "Webhook configuration"
    },
    {
      "name": "Autoresponders",
      "description": "Autoresponder configuration"
    }
  ],
  "paths": {
    "/forms": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "List Forms",
        "operationId": "listForms",
        "description": "Returns a list of all forms associated with the authenticated account.",
        "responses": {
          "200": {
            "description": "List of forms"
          }
        }
      }
    },
    "/forms/{form_id}": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Get Form",
        "operationId": "getForm",
        "description": "Returns details for a specific form.",
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Form details"
          }
        }
      }
    },
    "/forms/{form_id}/submissions": {
      "get": {
        "tags": [
          "Submissions"
        ],
        "summary": "List Submissions",
        "operationId": "listSubmissions",
        "description": "Returns a paginated list of submissions for a specific form.",
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of submissions"
          }
        }
      }
    },
    "/forms/{form_id}/submissions/{submission_id}": {
      "get": {
        "tags": [
          "Submissions"
        ],
        "summary": "Get Submission",
        "operationId": "getSubmission",
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Submission details"
          }
        }
      },
      "delete": {
        "tags": [
          "Submissions"
        ],
        "summary": "Delete Submission",
        "operationId": "deleteSubmission",
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Submission deleted"
          }
        }
      }
    },
    "/forms/{form_id}/spam_filters": {
      "get": {
        "tags": [
          "SpamFilters"
        ],
        "summary": "List Spam Filters",
        "operationId": "listSpamFilters",
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of spam filters"
          }
        }
      },
      "post": {
        "tags": [
          "SpamFilters"
        ],
        "summary": "Create Spam Filter",
        "operationId": "createSpamFilter",
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "field": {
                    "type": "string"
                  },
                  "filter_type": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Spam filter created"
          }
        }
      }
    },
    "/forms/{form_id}/spam_filters/{filter_id}": {
      "delete": {
        "tags": [
          "SpamFilters"
        ],
        "summary": "Delete Spam Filter",
        "operationId": "deleteSpamFilter",
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Filter deleted"
          }
        }
      }
    },
    "/forms/{form_id}/emails": {
      "get": {
        "tags": [
          "Emails"
        ],
        "summary": "List Email Notifications",
        "operationId": "listEmails",
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of email notification configs"
          }
        }
      },
      "post": {
        "tags": [
          "Emails"
        ],
        "summary": "Create Email Notification",
        "operationId": "createEmail",
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "to": {
                    "type": "string"
                  },
                  "subject": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Email notification created"
          }
        }
      }
    },
    "/forms/{form_id}/emails/{email_id}": {
      "put": {
        "tags": [
          "Emails"
        ],
        "summary": "Update Email Notification",
        "operationId": "updateEmail",
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "to": {
                    "type": "string"
                  },
                  "subject": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email notification updated"
          }
        }
      },
      "delete": {
        "tags": [
          "Emails"
        ],
        "summary": "Delete Email Notification",
        "operationId": "deleteEmail",
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Email notification deleted"
          }
        }
      }
    },
    "/forms/{form_id}/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List Webhooks",
        "operationId": "listWebhooks",
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of webhooks"
          }
        }
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create Webhook",
        "operationId": "createWebhook",
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created"
          }
        }
      }
    },
    "/forms/{form_id}/webhooks/{webhook_id}": {
      "put": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update Webhook",
        "operationId": "updateWebhook",
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook updated"
          }
        }
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete Webhook",
        "operationId": "deleteWebhook",
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted"
          }
        }
      }
    },
    "/forms/{form_id}/autoresponders": {
      "get": {
        "tags": [
          "Autoresponders"
        ],
        "summary": "List Autoresponders",
        "operationId": "listAutoresponders",
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of autoresponders"
          }
        }
      },
      "post": {
        "tags": [
          "Autoresponders"
        ],
        "summary": "Create Autoresponder",
        "operationId": "createAutoresponder",
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subject": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string"
                  },
                  "from_name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Autoresponder created"
          }
        }
      }
    },
    "/forms/{form_id}/autoresponders/{autoresponder_id}": {
      "put": {
        "tags": [
          "Autoresponders"
        ],
        "summary": "Update Autoresponder",
        "operationId": "updateAutoresponder",
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "autoresponder_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subject": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Autoresponder updated"
          }
        }
      },
      "delete": {
        "tags": [
          "Autoresponders"
        ],
        "summary": "Delete Autoresponder",
        "operationId": "deleteAutoresponder",
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "autoresponder_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Autoresponder deleted"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Bearer token. Pass as 'Bearer <your_api_key>'."
      }
    }
  }
}