{
  "openapi": "3.0.3",
  "info": {
    "title": "Climbo API",
    "version": "1.0.0",
    "description": "Climbo 2.0 is a white-label review management platform that helps businesses collect, manage, and showcase online reviews. The API provides both Agency Mode and Clients Mode endpoints for managing clients, locations, reviews, templates, campaigns, contacts, and feedback.",
    "x-jentic-source-url": "https://climbo.readme.io"
  },
  "servers": [
    {
      "url": "https://api.climbo.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/client": {
      "post": {
        "operationId": "addClient",
        "summary": "Add client",
        "description": "Create a new client in agency mode",
        "tags": [
          "Agency - Clients"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClientRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Client created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          }
        }
      }
    },
    "/client/{client_id}": {
      "get": {
        "operationId": "getClient",
        "summary": "Get client",
        "description": "Retrieve a specific client by ID",
        "tags": [
          "Agency - Clients"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "login_link",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Include a login link in the response"
          }
        ],
        "responses": {
          "200": {
            "description": "Client details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteClient",
        "summary": "Delete client",
        "description": "Remove a client",
        "tags": [
          "Agency - Clients"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Client deleted"
          }
        }
      }
    },
    "/client/{client_id}/change-plan": {
      "post": {
        "operationId": "changeClientPlan",
        "summary": "Change client plan",
        "description": "Modify a client's subscription plan",
        "tags": [
          "Agency - Clients"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "plan_id"
                ],
                "properties": {
                  "plan_id": {
                    "type": "string",
                    "description": "The new plan ID to assign"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plan changed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          }
        }
      }
    },
    "/client/{client_id}/change-status": {
      "post": {
        "operationId": "changeClientStatus",
        "summary": "Change client status",
        "description": "Update a client's status",
        "tags": [
          "Agency - Clients"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "status"
                ],
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "trialing",
                      "unpaid",
                      "paused"
                    ],
                    "description": "The new status for the client"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status changed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          }
        }
      }
    },
    "/clients": {
      "get": {
        "operationId": "listClients",
        "summary": "List clients",
        "description": "Retrieve all clients with optional filters and pagination",
        "tags": [
          "Agency - Clients"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "plan_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by plan ID"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "trialing",
                "unpaid",
                "paused",
                "canceled",
                "incomplete",
                "incomplete_expired",
                "past_due"
              ]
            },
            "description": "Filter by client status"
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by email"
          }
        ],
        "responses": {
          "200": {
            "description": "List of clients",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Client"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/plan/{plan_id}": {
      "get": {
        "operationId": "getPlan",
        "summary": "Get plan",
        "description": "Fetch individual plan details",
        "tags": [
          "Agency - Plans"
        ],
        "parameters": [
          {
            "name": "plan_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plan details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plan"
                }
              }
            }
          }
        }
      }
    },
    "/plans": {
      "get": {
        "operationId": "listPlans",
        "summary": "List plans",
        "description": "List all available plans with pagination",
        "tags": [
          "Agency - Plans"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of plans",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Plan"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/webhook/subscribe": {
      "post": {
        "operationId": "createWebhookSubscription",
        "summary": "Create webhook subscription",
        "description": "Register a webhook with URL and event types",
        "tags": [
          "Agency - Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url",
                  "events"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "The webhook callback URL"
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of event types to subscribe to"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook subscription created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/unsubscribe/{webhook_id}": {
      "delete": {
        "operationId": "deleteWebhookSubscription",
        "summary": "Delete webhook subscription",
        "description": "Remove a webhook subscription",
        "tags": [
          "Agency - Webhooks"
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook subscription deleted"
          }
        }
      }
    },
    "/business": {
      "get": {
        "operationId": "getBusiness",
        "summary": "Get business",
        "description": "Retrieve business information",
        "tags": [
          "Clients - Business"
        ],
        "responses": {
          "200": {
            "description": "Business information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Business"
                }
              }
            }
          }
        }
      }
    },
    "/business/billing": {
      "get": {
        "operationId": "getBusinessBilling",
        "summary": "Get business billing",
        "description": "Access billing details for the business",
        "tags": [
          "Clients - Business"
        ],
        "responses": {
          "200": {
            "description": "Billing details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/locations": {
      "post": {
        "operationId": "addLocation",
        "summary": "Add location",
        "description": "Add a new location",
        "tags": [
          "Clients - Locations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLocationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Location created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          }
        }
      }
    },
    "/locations/{id}": {
      "get": {
        "operationId": "getLocation",
        "summary": "Get location",
        "description": "Get location details",
        "tags": [
          "Clients - Locations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Location details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          }
        }
      }
    },
    "/templates": {
      "get": {
        "operationId": "listTemplates",
        "summary": "List templates",
        "description": "List message templates",
        "tags": [
          "Clients - Templates"
        ],
        "responses": {
          "200": {
            "description": "List of templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Template"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createTemplate",
        "summary": "Create template",
        "description": "Create a custom template",
        "tags": [
          "Clients - Templates"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Template created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          }
        }
      }
    },
    "/templates/{id}": {
      "get": {
        "operationId": "getTemplate",
        "summary": "Get template",
        "description": "Retrieve template details",
        "tags": [
          "Clients - Templates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteTemplate",
        "summary": "Delete template",
        "description": "Remove a template",
        "tags": [
          "Clients - Templates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Template deleted"
          }
        }
      }
    },
    "/campaigns": {
      "get": {
        "operationId": "listCampaigns",
        "summary": "List campaigns",
        "description": "List all campaigns",
        "tags": [
          "Clients - Campaigns"
        ],
        "responses": {
          "200": {
            "description": "List of campaigns",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Campaign"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{id}": {
      "get": {
        "operationId": "getCampaign",
        "summary": "Get campaign",
        "description": "Get campaign data",
        "tags": [
          "Clients - Campaigns"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCampaign",
        "summary": "Delete campaign",
        "description": "Delete a campaign",
        "tags": [
          "Clients - Campaigns"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Campaign deleted"
          }
        }
      }
    },
    "/campaigns/send": {
      "post": {
        "operationId": "sendCampaign",
        "summary": "Send campaign",
        "description": "Execute a campaign",
        "tags": [
          "Clients - Campaigns"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "campaign_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign sent"
          }
        }
      }
    },
    "/reviews": {
      "get": {
        "operationId": "listReviews",
        "summary": "List reviews",
        "description": "List all reviews",
        "tags": [
          "Clients - Reviews"
        ],
        "responses": {
          "200": {
            "description": "List of reviews",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Review"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reviews/reply": {
      "post": {
        "operationId": "replyToReview",
        "summary": "Reply to review",
        "description": "Respond to a review",
        "tags": [
          "Clients - Reviews"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "review_id",
                  "reply"
                ],
                "properties": {
                  "review_id": {
                    "type": "string"
                  },
                  "reply": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reply sent"
          }
        }
      }
    },
    "/feedbacks": {
      "get": {
        "operationId": "listFeedbacks",
        "summary": "List feedbacks",
        "description": "List feedback entries",
        "tags": [
          "Clients - Feedback"
        ],
        "responses": {
          "200": {
            "description": "List of feedback entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Feedback"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/feedbacks/reply": {
      "post": {
        "operationId": "replyToFeedback",
        "summary": "Reply to feedback",
        "description": "Reply to a feedback entry",
        "tags": [
          "Clients - Feedback"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "feedback_id",
                  "reply"
                ],
                "properties": {
                  "feedback_id": {
                    "type": "string"
                  },
                  "reply": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reply sent"
          }
        }
      }
    },
    "/sites": {
      "get": {
        "operationId": "listSites",
        "summary": "List review sites",
        "description": "Retrieve connected review platforms",
        "tags": [
          "Clients - Review Sites"
        ],
        "responses": {
          "200": {
            "description": "List of connected review sites",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReviewSite"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addSite",
        "summary": "Add review site",
        "description": "Add a review platform",
        "tags": [
          "Clients - Review Sites"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "platform": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Review site added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewSite"
                }
              }
            }
          }
        }
      }
    },
    "/sites/{id}": {
      "delete": {
        "operationId": "deleteSite",
        "summary": "Delete review site",
        "description": "Remove a review site",
        "tags": [
          "Clients - Review Sites"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Review site deleted"
          }
        }
      }
    },
    "/contacts": {
      "get": {
        "operationId": "listContacts",
        "summary": "List contacts",
        "description": "List all contacts",
        "tags": [
          "Clients - Contacts"
        ],
        "responses": {
          "200": {
            "description": "List of contacts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addContact",
        "summary": "Add contact",
        "description": "Add a new contact",
        "tags": [
          "Clients - Contacts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContactRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          }
        }
      }
    },
    "/invites": {
      "post": {
        "operationId": "sendInvites",
        "summary": "Send invitations",
        "description": "Send review invitations",
        "tags": [
          "Clients - Invites"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contacts": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of contact IDs to invite"
                  },
                  "template_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invitations sent"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateClientRequest": {
        "type": "object",
        "required": [
          "email",
          "plan_id"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email of the customer"
          },
          "plan_id": {
            "type": "string",
            "description": "Plan ID to associate to the customer"
          },
          "user_name": {
            "type": "string",
            "description": "Name of the customer"
          },
          "password": {
            "type": "string",
            "minLength": 8,
            "description": "Must be at least 8 characters"
          },
          "welcome": {
            "type": "string",
            "description": "Enables welcome email dispatch with login link",
            "default": "true"
          }
        }
      },
      "Client": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "business_name": {
            "type": "string"
          },
          "user_name": {
            "type": "string"
          },
          "plan_id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "source": {
            "type": "string",
            "enum": [
              "climbo"
            ]
          },
          "location_count": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "incomplete",
              "trialing",
              "incomplete_expired",
              "active",
              "past_due",
              "canceled",
              "unpaid",
              "paused"
            ]
          }
        }
      },
      "Plan": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Business": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          }
        }
      },
      "CreateLocationRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "content": {
            "type": "string"
          }
        }
      },
      "CreateTemplateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "content": {
            "type": "string"
          }
        }
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "Review": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "rating": {
            "type": "number"
          },
          "content": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "platform": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Feedback": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ReviewSite": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "platform": {
            "type": "string"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "CreateContactRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header",
        "description": "API key for authentication"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Business"
    },
    {
      "name": "Campaigns"
    },
    {
      "name": "Client"
    },
    {
      "name": "Clients"
    },
    {
      "name": "Contacts"
    },
    {
      "name": "Feedbacks"
    },
    {
      "name": "Invites"
    },
    {
      "name": "Locations"
    },
    {
      "name": "Plan"
    },
    {
      "name": "Plans"
    },
    {
      "name": "Reviews"
    },
    {
      "name": "Sites"
    },
    {
      "name": "Templates"
    },
    {
      "name": "Webhook"
    }
  ]
}