{
  "openapi": "3.0.3",
  "info": {
    "title": "Vertafore API",
    "version": "1.0.0",
    "description": "Insurance agency management software API",
    "x-jentic-source-url": "https://developer.vertafore.com"
  },
  "servers": [
    {
      "url": "https://api.vertafore.com"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    "Claims",
    "Clients",
    "Policies"
  ],
  "paths": {
    "/policies": {
      "get": {
        "summary": "List policies",
        "description": "List policies",
        "tags": [
          "Policies"
        ],
        "operationId": "listPolicies",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/policies/{policyId}": {
      "get": {
        "summary": "Get policy",
        "description": "Get policy",
        "tags": [
          "Policies"
        ],
        "operationId": "getPolicy",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "policyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/clients": {
      "get": {
        "summary": "List clients",
        "description": "List clients",
        "tags": [
          "Clients"
        ],
        "operationId": "listClients",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/claims": {
      "post": {
        "summary": "Create claim",
        "description": "Create claim",
        "tags": [
          "Claims"
        ],
        "operationId": "createClaim",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      }
    }
  }
}