{
  "openapi": "3.0.3",
  "info": {
    "title": "ValidaCFDI API",
    "version": "1.0.0",
    "description": "ValidaCFDI API for validating Mexican electronic invoices (CFDI), checking RFC risk status, and PDF validation.",
    "x-jentic-source-url": "https://valida-cfdi.com.mx/docs/api"
  },
  "servers": [
    { "url": "https://api.valida-cfdi.com.mx" }
  ],
  "paths": {
    "/validate": {
      "post": {
        "operationId": "validateCfdi", "summary": "Validate CFDI by UUID", "description": "Validate a CFDI electronic invoice by its UUID.", "tags": ["Validation"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidateInput" } } } },
        "responses": {
          "200": { "description": "Validation result", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidationResult" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        },
        "security": [{ "apiKeyAuth": [] }]
      }
    },
    "/validate/pdf": {
      "post": {
        "operationId": "validateCfdiPdf", "summary": "Validate CFDI from PDF", "description": "Validate a CFDI by uploading the PDF document.", "tags": ["Validation"],
        "requestBody": { "required": true, "content": { "multipart/form-data": { "schema": { "type": "object", "properties": { "file": { "type": "string", "format": "binary" } } } } } },
        "responses": {
          "200": { "description": "Validation result", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidationResult" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        },
        "security": [{ "apiKeyAuth": [] }]
      }
    },
    "/rfc-risk/{rfc}": {
      "get": {
        "operationId": "checkRfcRisk", "summary": "Check RFC risk status", "description": "Verify an RFC against the EFOS (blacklisted taxpayers) list.", "tags": ["RFC"],
        "parameters": [{ "name": "rfc", "in": "path", "required": true, "description": "RFC identifier to check", "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Risk assessment data", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RfcRiskResult" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        },
        "security": [{ "apiKeyAuth": [] }]
      }
    },
    "/zapier/test": {
      "get": {
        "operationId": "testConnection", "summary": "Test API connection", "tags": ["Utilities"],
        "responses": {
          "200": { "description": "Connection confirmed", "content": { "application/json": { "schema": { "type": "object", "properties": { "status": { "type": "string" } } } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        },
        "security": [{ "apiKeyAuth": [] }]
      }
    },
    "/zapier/actions/validate-cfdi": {
      "post": {
        "operationId": "validateCfdiZapier", "summary": "Validate CFDI (Zapier)", "tags": ["Zapier Actions"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidateInput" } } } },
        "responses": {
          "200": { "description": "Validation result", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidationResult" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        },
        "security": [{ "apiKeyAuth": [] }]
      }
    },
    "/zapier/actions/validate-pdf": {
      "post": {
        "operationId": "validatePdfZapier", "summary": "Validate PDF (Zapier)", "tags": ["Zapier Actions"],
        "requestBody": { "required": true, "content": { "multipart/form-data": { "schema": { "type": "object", "properties": { "file": { "type": "string", "format": "binary" } } } } } },
        "responses": {
          "200": { "description": "Validation result", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidationResult" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        },
        "security": [{ "apiKeyAuth": [] }]
      }
    }
  },
  "components": {
    "schemas": {
      "ValidateInput": { "type": "object", "required": ["uuid"], "properties": { "uuid": { "type": "string", "description": "CFDI UUID" }, "rfc_emisor": { "type": "string", "description": "Issuer RFC" }, "rfc_receptor": { "type": "string", "description": "Receiver RFC" }, "total": { "type": "number", "description": "Invoice total amount" } } },
      "ValidationResult": { "type": "object", "properties": { "valid": { "type": "boolean" }, "status": { "type": "string" }, "cfdi_data": { "type": "object", "properties": { "uuid": { "type": "string" }, "rfc_emisor": { "type": "string" }, "rfc_receptor": { "type": "string" }, "total": { "type": "number" } } }, "validation_timestamp": { "type": "string", "format": "date-time" }, "errors": { "type": "array", "items": { "type": "string" } } } },
      "RfcRiskResult": { "type": "object", "properties": { "rfc": { "type": "string" }, "risk_status": { "type": "string" }, "listed": { "type": "boolean" }, "details": { "type": "string" } } },
      "ErrorResponse": { "type": "object", "properties": { "status": { "type": "string", "enum": ["error"] }, "code": { "type": "string" }, "message": { "type": "string" } } }
    },
    "securitySchemes": {
      "apiKeyAuth": { "type": "apiKey", "in": "header", "name": "X-API-Key" }
    }
  },
  "security": [{ "apiKeyAuth": [] }]
}
