{
  "openapi": "3.0.3",
  "info": {
    "title": "Bridge MLS Listings API",
    "version": "1.0.0",
    "description": "Bridge Listing Output platform provides a modern RESTful API for accessing MLS listing data. The API normalizes data to the RESO data dictionary standard and provides access to MLS listings from partners across the US and Canada. Authentication uses password and access token methods.",
    "x-jentic-source-url": "https://www.zillowgroup.com/developers/api/mls-broker-data/mls-listings/",
    "contact": {
      "name": "Bridge Interactive Support",
      "email": "support@bridgeinteractive.com"
    }
  },
  "servers": [
    {
      "url": "https://api.bridgedataoutput.com/api/v2",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/listings": {
      "get": {
        "summary": "Search MLS listings",
        "description": "Search and retrieve MLS property listings with various filters",
        "operationId": "searchListings",
        "tags": ["Listings"],
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "description": "API access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "description": "Filter by city name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Filter by state code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "postalCode",
            "in": "query",
            "description": "Filter by postal code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by listing status",
            "schema": {
              "type": "string",
              "enum": ["Active", "Pending", "Sold", "Withdrawn"]
            }
          },
          {
            "name": "minPrice",
            "in": "query",
            "description": "Minimum listing price",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "maxPrice",
            "in": "query",
            "description": "Maximum listing price",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "bedrooms",
            "in": "query",
            "description": "Number of bedrooms",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "bathrooms",
            "in": "query",
            "description": "Number of bathrooms",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of MLS listings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "listings": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Listing"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/listings/{listingId}": {
      "get": {
        "summary": "Get listing details",
        "description": "Retrieve detailed information for a specific MLS listing",
        "operationId": "getListingById",
        "tags": ["Listings"],
        "parameters": [
          {
            "name": "listingId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the listing",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "description": "API access token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listing details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          },
          "404": {
            "description": "Listing not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/properties/{mlsNumber}": {
      "get": {
        "summary": "Get property by MLS number",
        "description": "Retrieve property information using the MLS listing number",
        "operationId": "getPropertyByMlsNumber",
        "tags": ["Properties"],
        "parameters": [
          {
            "name": "mlsNumber",
            "in": "path",
            "required": true,
            "description": "The MLS number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "description": "API access token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Property details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Property"
                }
              }
            }
          },
          "404": {
            "description": "Property not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/agents": {
      "get": {
        "summary": "Search agents",
        "description": "Search for real estate agents in the MLS system",
        "operationId": "searchAgents",
        "tags": ["Agents"],
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "description": "API access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Agent name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "licenseNumber",
            "in": "query",
            "description": "Agent license number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of agents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "agents": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Agent"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/offices": {
      "get": {
        "summary": "Search offices",
        "description": "Search for real estate offices in the MLS system",
        "operationId": "searchOffices",
        "tags": ["Offices"],
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "description": "API access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Office name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "description": "Office city",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of offices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "offices": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Office"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication with access token"
      }
    },
    "schemas": {
      "Listing": {
        "type": "object",
        "properties": {
          "listingId": {
            "type": "string",
            "description": "Unique listing identifier"
          },
          "mlsNumber": {
            "type": "string",
            "description": "MLS listing number"
          },
          "status": {
            "type": "string",
            "enum": ["Active", "Pending", "Sold", "Withdrawn"]
          },
          "listPrice": {
            "type": "number",
            "description": "Current list price"
          },
          "address": {
            "type": "object",
            "properties": {
              "streetNumber": {
                "type": "string"
              },
              "streetName": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "state": {
                "type": "string"
              },
              "postalCode": {
                "type": "string"
              },
              "country": {
                "type": "string"
              }
            }
          },
          "propertyType": {
            "type": "string"
          },
          "bedrooms": {
            "type": "integer"
          },
          "bathrooms": {
            "type": "number"
          },
          "squareFeet": {
            "type": "number"
          },
          "lotSize": {
            "type": "number"
          },
          "yearBuilt": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "photos": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "listingDate": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Property": {
        "type": "object",
        "properties": {
          "propertyId": {
            "type": "string"
          },
          "mlsNumber": {
            "type": "string"
          },
          "address": {
            "type": "object",
            "properties": {
              "streetNumber": {
                "type": "string"
              },
              "streetName": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "state": {
                "type": "string"
              },
              "postalCode": {
                "type": "string"
              }
            }
          },
          "propertyType": {
            "type": "string"
          },
          "characteristics": {
            "type": "object",
            "properties": {
              "bedrooms": {
                "type": "integer"
              },
              "bathrooms": {
                "type": "number"
              },
              "squareFeet": {
                "type": "number"
              },
              "lotSize": {
                "type": "number"
              },
              "yearBuilt": {
                "type": "integer"
              }
            }
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Agent": {
        "type": "object",
        "properties": {
          "agentId": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "licenseNumber": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "officeId": {
            "type": "string"
          }
        }
      },
      "Office": {
        "type": "object",
        "properties": {
          "officeId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "type": "object",
            "properties": {
              "street": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "state": {
                "type": "string"
              },
              "postalCode": {
                "type": "string"
              }
            }
          },
          "phone": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "string",
            "description": "Error code"
          },
          "details": {
            "type": "object",
            "description": "Additional error details"
          }
        },
        "required": ["error"]
      }
    }
  },
  "tags": [
    {
      "name": "Listings",
      "description": "MLS listing operations"
    },
    {
      "name": "Properties",
      "description": "Property information operations"
    },
    {
      "name": "Agents",
      "description": "Real estate agent operations"
    },
    {
      "name": "Offices",
      "description": "Real estate office operations"
    }
  ]
}