{
  "openapi": "3.0.3",
  "info": {
    "title": "MagicSlides API",
    "version": "1.0.0",
    "description": "MagicSlides generates AI-powered presentations from topics, summaries, YouTube videos, websites, PDFs, and documents.",
    "x-jentic-source-url": "https://www.magicslides.app/magicslides-api/docs"
  },
  "servers": [
    {
      "url": "https://api.magicslides.app/public/api"
    }
  ],
  "paths": {
    "/ppt-from-text": {
      "post": {
        "operationId": "createPptFromText",
        "summary": "Create presentation (unified)",
        "description": "Unified endpoint for all input types: topics, summaries, YouTube, websites, PDFs, DOCX.",
        "tags": [
          "Presentations"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PptFromTextRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Presentation generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PresentationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/ppt_from_topic": {
      "post": {
        "operationId": "createPptFromTopic",
        "summary": "Create from topic (deprecated)",
        "deprecated": true,
        "tags": [
          "Presentations"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PptFromTopicRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Presentation generated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/ppt_from_summery": {
      "post": {
        "operationId": "createPptFromSummary",
        "summary": "Create from summary (deprecated)",
        "deprecated": true,
        "tags": [
          "Presentations"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PptFromSummaryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Presentation generated"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/ppt_from_youtube": {
      "post": {
        "operationId": "createPptFromYoutube",
        "summary": "Create from YouTube (deprecated)",
        "deprecated": true,
        "tags": [
          "Presentations"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PptFromYoutubeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Presentation generated"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PptFromTextRequest": {
        "type": "object",
        "properties": {
          "apiKey": {
            "type": "string"
          },
          "topic": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "youtubeURL": {
            "type": "string"
          },
          "websiteURL": {
            "type": "string"
          },
          "pdfURL": {
            "type": "string"
          },
          "docxURL": {
            "type": "string"
          },
          "template": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "slideCount": {
            "type": "integer"
          },
          "aiImages": {
            "type": "boolean"
          },
          "model": {
            "type": "string",
            "enum": [
              "gemini",
              "gpt-4"
            ]
          }
        }
      },
      "PptFromTopicRequest": {
        "type": "object",
        "properties": {
          "topic": {
            "type": "string"
          },
          "template": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "slideCount": {
            "type": "integer"
          }
        }
      },
      "PptFromSummaryRequest": {
        "type": "object",
        "properties": {
          "msSummaryText": {
            "type": "string"
          },
          "template": {
            "type": "string"
          },
          "slideCount": {
            "type": "integer"
          }
        }
      },
      "PptFromYoutubeRequest": {
        "type": "object",
        "properties": {
          "youtubeURL": {
            "type": "string"
          },
          "template": {
            "type": "string"
          },
          "slideCount": {
            "type": "integer"
          }
        }
      },
      "PresentationResponse": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "body",
        "name": "apiKey",
        "description": "API key passed in request body"
      }
    }
  },
  "security": []
}