{
  "openapi": "3.0.3",
  "info": {
    "title": "EBANX Payment API",
    "version": "1.0.0",
    "description": "EBANX payment API for processing payments in Latin America, including SPEI (Mexico), PIX (Brazil), and other local payment methods.",
    "x-jentic-source-url": "https://ebanx.github.io/dev-academy/docs/payments/guides/accept-payments/api/mexico/spei/"
  },
  "servers": [
    {
      "url": "https://sandbox.ebanx.com",
      "description": "Sandbox"
    },
    {
      "url": "https://api.ebanx.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/ws/direct": {
      "post": {
        "operationId": "createDirectPayment",
        "summary": "Create direct payment",
        "description": "Initiate a payment request to generate a payment voucher with transfer details",
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DirectPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectPaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "integration_key"
      }
    },
    "schemas": {
      "DirectPaymentRequest": {
        "type": "object",
        "required": [
          "integration_key",
          "operation",
          "payment"
        ],
        "properties": {
          "integration_key": {
            "type": "string"
          },
          "operation": {
            "type": "string"
          },
          "payment": {
            "$ref": "#/components/schemas/PaymentDetails"
          }
        }
      },
      "PaymentDetails": {
        "type": "object",
        "required": [
          "name",
          "email",
          "country",
          "payment_type_code",
          "merchant_payment_code",
          "currency_code",
          "amount_total"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "payment_type_code": {
            "type": "string"
          },
          "merchant_payment_code": {
            "type": "string"
          },
          "currency_code": {
            "type": "string"
          },
          "amount_total": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          }
        }
      },
      "DirectPaymentResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "payment": {
            "type": "object",
            "properties": {
              "spei_url": {
                "type": "string"
              },
              "clabe_account": {
                "type": "string"
              },
              "clabe_reference": {
                "type": "string"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}