{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "Algopix API",
      "url": "https://api.algopix.com/v3"
    },
    {
      "description": "Algopix staging API",
      "url": "https://api-staging.algopix.com/v3"
    }
  ],
  "info": {
    "contact": {
      "email": "dani@algopix.com",
      "name": "Dani Avitz"
    },
    "description": "Search retail products based on keywords and other attributes.",
    "version": "1.0.1",
    "title": "Multi Item Search",
    "termsOfService": "https://algopix.com/policies",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/TestOrg1233322/asyncApi-multiSearch-request/1.0.1/swagger.json"
  },
  "tags": [
    {
      "name": "api",
      "description": "Algopix multi item search"
    }
  ],
  "paths": {
    "/multiItemsSearchAsync": {
      "get": {
        "summary": " information about retail products, searched based on keywords and other attributes.",
        "operationId": "search",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "keywords",
            "in": "query",
            "description": "Item keywords used to search for products.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "color",
            "in": "query",
            "description": "Search products by color. Products with matching color will receive a higher score.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "brand",
            "in": "query",
            "description": "Search products by Brand. Products with matching brand will receive a higher score.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "googleGbCategoryId",
            "in": "query",
            "description": "Search products by google product category. Products with matching categories recieve a higher score. Id of a google product category as described [here](https://support.google.com/merchants/answer/6324436?hl=en).  \n For an extensive list of the available categories see [here](https://www.google.com/basepages/producttype/taxonomy-with-ids.en-GB.txt)",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "amazonSearchIndex",
            "in": "query",
            "description": "The product category to search. For more information and an extensive list of the possible values, see [here](https://docs.aws.amazon.com/AWSECommerceService/latest/DG/LocaleUS.html)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amazonCategoryId",
            "in": "query",
            "description": " Search products by amazon browse node id. Products associated with the amazon browse node recieve a higher score. Browse nodes are positive integers identifying a product category.  \n For more information on amazon browse nodes see [here](https://docs.aws.amazon.com/AWSECommerceService/latest/DG/BrowseNodes.html)  \n Specifying a browse node requires a `searchindex` to be set. Browse node work with every `searchindex`, **except for** _All_ and _Blended_.",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "minPrice",
            "in": "query",
            "description": " the minimum price of a products to return by the search",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "maxPrice",
            "in": "query",
            "description": " the maximum price of a products to return by the search",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "currencyCode",
            "in": "query",
            "description": "The currency code of the specified minPrice & maxPrice parameters. the currencyCode parameter should comply with [ISO 4217](https://www.ibm.com/support/knowledgecenter/en/SSZLC2_7.0.0/com.ibm.commerce.payments.developer.doc/refs/rpylerl2mst97.htm) currency codes. Currently supported currency codes: USD, EUR, CAD. defaults to USD if not specified",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      },
      "appId": {
        "type": "apiKey",
        "in": "header",
        "name": "X-APP-ID"
      }
    },
    "responses": {
      "Success": {
        "description": "Successfull search"
      },
      "Unauthorized": {
        "description": "Bearer Token is not valid."
      },
      "BadRequest": {
        "description": "Bad Request, probably response doesnt match the schema."
      }
    }
  }
}