{
  "openapi": "3.0.3",
  "info": {
    "title": "Auphonic API",
    "version": "2.0.0",
    "description": "Auphonic is an automatic audio post-production service. The API allows you to create productions, upload audio files, query service information, and manage presets and output files.",
    "x-jentic-source-url": "https://auphonic.com/help/api/index.html",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://auphonic.com/api",
      "description": "Production"
    }
  ],
  "security": [
    {
      "basicAuth": []
    },
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/productions.json": {
      "get": {
        "operationId": "listProductions",
        "tags": [
          "Productions"
        ],
        "summary": "List all productions",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductionsList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List all productions"
      },
      "post": {
        "operationId": "createProduction",
        "tags": [
          "Productions"
        ],
        "summary": "Create a new production",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a new production"
      }
    },
    "/production/{uuid}.json": {
      "get": {
        "operationId": "getProduction",
        "tags": [
          "Productions"
        ],
        "summary": "Get a production by UUID",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a production by UUID"
      },
      "post": {
        "operationId": "updateProduction",
        "tags": [
          "Productions"
        ],
        "summary": "Update a production",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update a production"
      },
      "delete": {
        "operationId": "deleteProduction",
        "tags": [
          "Productions"
        ],
        "summary": "Delete a production",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a production"
      }
    },
    "/production/{uuid}/start.json": {
      "post": {
        "operationId": "startProduction",
        "tags": [
          "Productions"
        ],
        "summary": "Start processing a production",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Start processing a production"
      }
    },
    "/production/{uuid}/reset.json": {
      "post": {
        "operationId": "resetProduction",
        "tags": [
          "Productions"
        ],
        "summary": "Reset a production status",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Reset a production status"
      }
    },
    "/production/{uuid}/upload.json": {
      "post": {
        "operationId": "uploadAudio",
        "tags": [
          "Productions"
        ],
        "summary": "Upload an audio file to a production",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "input_file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Upload an audio file to a production"
      }
    },
    "/presets.json": {
      "get": {
        "operationId": "listPresets",
        "tags": [
          "Presets"
        ],
        "summary": "List all presets",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PresetsList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List all presets"
      },
      "post": {
        "operationId": "createPreset",
        "tags": [
          "Presets"
        ],
        "summary": "Create a preset",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PresetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PresetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a preset"
      }
    },
    "/preset/{uuid}.json": {
      "get": {
        "operationId": "getPreset",
        "tags": [
          "Presets"
        ],
        "summary": "Get a preset by UUID",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PresetResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a preset by UUID"
      },
      "post": {
        "operationId": "updatePreset",
        "tags": [
          "Presets"
        ],
        "summary": "Update a preset",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PresetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PresetResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update a preset"
      },
      "delete": {
        "operationId": "deletePreset",
        "tags": [
          "Presets"
        ],
        "summary": "Delete a preset",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a preset"
      }
    },
    "/user.json": {
      "get": {
        "operationId": "getUser",
        "tags": [
          "Account"
        ],
        "summary": "Get the current user account info",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get the current user account info"
      }
    },
    "/info/output_file_endings.json": {
      "get": {
        "operationId": "listOutputFileEndings",
        "tags": [
          "Info"
        ],
        "summary": "List available output file endings",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoListResponse"
                }
              }
            }
          }
        },
        "description": "List available output file endings"
      }
    },
    "/info/production_status.json": {
      "get": {
        "operationId": "listProductionStatuses",
        "tags": [
          "Info"
        ],
        "summary": "List production status codes",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoListResponse"
                }
              }
            }
          }
        },
        "description": "List production status codes"
      }
    },
    "/info/service_types.json": {
      "get": {
        "operationId": "listServiceTypes",
        "tags": [
          "Info"
        ],
        "summary": "List supported service types (e.g. SFTPs, storage, publishing platforms)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoListResponse"
                }
              }
            }
          }
        },
        "description": "List supported service types (e.g. SFTPs, storage, publishing platforms)"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic authentication with Auphonic username and password"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth2 Bearer token"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error_code": {
            "type": "integer"
          },
          "error_message": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "status_string": {
            "type": "string"
          }
        }
      },
      "OutputFile": {
        "type": "object",
        "properties": {
          "format": {
            "type": "string"
          },
          "bitrate": {
            "type": "string"
          },
          "mono": {
            "type": "boolean"
          },
          "suffix": {
            "type": "string"
          },
          "filename": {
            "type": "string"
          },
          "download_url": {
            "type": "string"
          }
        }
      },
      "ProductionRequest": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          },
          "preset": {
            "type": "string",
            "description": "Preset UUID"
          },
          "input_file": {
            "type": "string",
            "description": "URL to input audio file"
          },
          "output_files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputFile"
            }
          },
          "algorithms": {
            "$ref": "#/components/schemas/Algorithms"
          },
          "is_multitrack": {
            "type": "boolean"
          },
          "tracks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Track"
            }
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "artist": {
            "type": "string"
          },
          "album": {
            "type": "string"
          },
          "track": {
            "type": "string"
          },
          "genre": {
            "type": "string"
          },
          "year": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          }
        }
      },
      "Algorithms": {
        "type": "object",
        "properties": {
          "normloudness": {
            "type": "boolean"
          },
          "denoise": {
            "type": "boolean"
          },
          "denoiseamount": {
            "type": "number"
          },
          "dehum": {
            "type": "boolean"
          },
          "hipfilter": {
            "type": "boolean"
          },
          "gate": {
            "type": "boolean"
          }
        }
      },
      "Track": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "input_file": {
            "type": "string"
          },
          "algorithms": {
            "$ref": "#/components/schemas/Algorithms"
          }
        }
      },
      "Production": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "status_string": {
            "type": "string"
          },
          "creation_time": {
            "type": "string",
            "format": "date-time"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          },
          "output_files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputFile"
            }
          },
          "error_message": {
            "type": "string"
          }
        }
      },
      "ProductionResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "status_string": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/Production"
          }
        }
      },
      "ProductionsList": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Production"
            }
          }
        }
      },
      "PresetRequest": {
        "type": "object",
        "properties": {
          "preset_name": {
            "type": "string"
          },
          "output_files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputFile"
            }
          },
          "algorithms": {
            "$ref": "#/components/schemas/Algorithms"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        }
      },
      "Preset": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          },
          "preset_name": {
            "type": "string"
          },
          "creation_time": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PresetResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "data": {
            "$ref": "#/components/schemas/Preset"
          }
        }
      },
      "PresetsList": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Preset"
            }
          }
        }
      },
      "UserResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "data": {
            "type": "object",
            "properties": {
              "username": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "credits": {
                "type": "number"
              },
              "purchase_credits": {
                "type": "number"
              }
            }
          }
        }
      },
      "InfoListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Account",
      "description": "Operations related to Account"
    },
    {
      "name": "Info",
      "description": "Operations related to Info"
    },
    {
      "name": "Presets",
      "description": "Operations related to Presets"
    },
    {
      "name": "Productions",
      "description": "Operations related to Productions"
    }
  ]
}
