{
  "openapi": "3.0.3",
  "info": {
    "title": "Azupay Payments API",
    "description": "Azupay developer API for payment requests, payments, account enquiries, balance, clients, and API key management in Australia via NPP/PayTo.",
    "version": "1.0",
    "x-jentic-source-url": "https://developer.azupay.com.au/"
  },
  "servers": [
    {
      "url": "https://api.azupay.com.au/v1",
      "description": "Production"
    },
    {
      "url": "https://api-uat.azupay.com.au/v1",
      "description": "UAT / Testing"
    }
  ],
  "paths": {
    "/paymentRequest": {
      "post": {
        "operationId": "createPaymentRequest",
        "summary": "Create a payment request",
        "tags": [
          "Payment Requests"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment request created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequestCreated"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/paymentRequest/{paymentRequestId}": {
      "get": {
        "operationId": "getPaymentRequest",
        "summary": "Get a payment request",
        "tags": [
          "Payment Requests"
        ],
        "parameters": [
          {
            "name": "paymentRequestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment request status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequestStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Payment request not found"
          }
        }
      },
      "delete": {
        "operationId": "deletePaymentRequest",
        "summary": "Delete a payment request",
        "tags": [
          "Payment Requests"
        ],
        "parameters": [
          {
            "name": "paymentRequestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment request deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/paymentRequest/{paymentRequestId}/refund": {
      "post": {
        "operationId": "refundPaymentRequest",
        "summary": "Refund a payment request",
        "tags": [
          "Payment Requests"
        ],
        "parameters": [
          {
            "name": "paymentRequestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Refund initiated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/paymentRequest/search": {
      "post": {
        "operationId": "searchPaymentRequests",
        "summary": "Search payment requests",
        "tags": [
          "Payment Requests"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequestSearch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentRequestStatus"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/payment": {
      "post": {
        "operationId": "makePayment",
        "summary": "Make a payment",
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/payment/{paymentId}": {
      "get": {
        "operationId": "getPayment",
        "summary": "Get a payment",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/payment/search": {
      "post": {
        "operationId": "searchPayments",
        "summary": "Search payments",
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentStatus"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/accountEnquiry": {
      "post": {
        "operationId": "checkAccountEnquiry",
        "summary": "Check account BSB for NPP and PayTo reachability",
        "tags": [
          "Account Enquiry"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountEnquiryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account enquiry result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountEnquiryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/payIDEnquiry": {
      "post": {
        "operationId": "checkPayIDEnquiry",
        "summary": "Check PayID status",
        "tags": [
          "Account Enquiry"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayIDEnquiryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PayID enquiry result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayIDEnquiryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/accountCheck": {
      "post": {
        "operationId": "confirmAccount",
        "summary": "Confirm BSB/account number and payee name",
        "tags": [
          "Account Enquiry"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountCheckRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account check result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountCheckResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/balance": {
      "get": {
        "operationId": "getBalance",
        "summary": "Get current balance",
        "tags": [
          "Balance"
        ],
        "responses": {
          "200": {
            "description": "Current balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "balance": {
                      "type": "number",
                      "description": "Current balance in AUD"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/reports": {
      "get": {
        "operationId": "getReports",
        "summary": "Get reports",
        "tags": [
          "Reports"
        ],
        "responses": {
          "200": {
            "description": "Reports retrieved"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/clients": {
      "post": {
        "operationId": "createClient",
        "summary": "Create or replace a client",
        "tags": [
          "Clients"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClientRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/apiKeys": {
      "post": {
        "operationId": "createApiKeys",
        "summary": "Create API keys for sub-merchants",
        "tags": [
          "API Keys"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "operationId": "listApiKeys",
        "summary": "List API keys",
        "tags": [
          "API Keys"
        ],
        "responses": {
          "200": {
            "description": "API keys list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiKeyResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/apiKeys/{keyId}": {
      "get": {
        "operationId": "getApiKey",
        "summary": "Get a single API key",
        "tags": [
          "API Keys"
        ],
        "parameters": [
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "patch": {
        "operationId": "updateApiKey",
        "summary": "Update an API key",
        "tags": [
          "API Keys"
        ],
        "parameters": [
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "enabled"
                ],
                "properties": {
                  "enabled": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Secret key passed in the Authorization header"
      }
    },
    "schemas": {
      "CreatePaymentRequestBody": {
        "type": "object",
        "required": [
          "clientId",
          "clientTransactionId",
          "paymentDescription"
        ],
        "properties": {
          "clientId": {
            "type": "string",
            "minLength": 5,
            "maxLength": 50
          },
          "clientTransactionId": {
            "type": "string",
            "minLength": 3,
            "maxLength": 100
          },
          "paymentDescription": {
            "type": "string",
            "minLength": 5,
            "maxLength": 140
          },
          "payID": {
            "type": "string",
            "minLength": 5,
            "maxLength": 50,
            "format": "email"
          },
          "payIDSuffix": {
            "type": "string",
            "minLength": 5,
            "maxLength": 50
          },
          "paymentAmount": {
            "type": "number",
            "minimum": 0.01,
            "description": "Amount in AUD"
          },
          "multiPayment": {
            "type": "boolean"
          },
          "paymentExpiryDatetime": {
            "type": "string",
            "format": "date-time"
          },
          "payerNotificationEmail": {
            "type": "string",
            "maxLength": 140
          },
          "payerNotificationMobile": {
            "type": "string",
            "maxLength": 20,
            "description": "Must start with +61"
          },
          "paymentNotification": {
            "type": "object",
            "properties": {
              "paymentNotificationEndpointUrl": {
                "type": "string",
                "format": "uri"
              },
              "paymentNotificationAuthorizationHeaderValue": {
                "type": "string"
              }
            }
          },
          "recurringPaymentAmount": {
            "type": "number"
          },
          "recurringPaymentFrequency": {
            "type": "string",
            "enum": [
              "FORTNIGHTLY",
              "MONTHLY",
              "QUARTERLY",
              "WEEKLY",
              "ANNUAL",
              "ADHOC",
              "DAILY"
            ]
          },
          "recurringPaymentType": {
            "type": "string",
            "enum": [
              "FIXED",
              "VARIABLE"
            ]
          }
        }
      },
      "PaymentRequestCreated": {
        "type": "object",
        "properties": {
          "paymentRequestId": {
            "type": "string"
          },
          "payID": {
            "type": "string"
          },
          "checkoutUrl": {
            "type": "string",
            "format": "uri"
          },
          "virtualBsb": {
            "type": "string",
            "pattern": "^\\d{6}$"
          },
          "virtualAccountNumber": {
            "type": "string"
          }
        }
      },
      "PaymentRequestStatus": {
        "type": "object",
        "properties": {
          "paymentRequestId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "WAITING",
              "EXPIRED",
              "COMPLETE",
              "RETURN_IN_PROGRESS",
              "RETURN_COMPLETE",
              "RETURN_FAILED"
            ]
          },
          "createdDateTime": {
            "type": "string",
            "format": "date-time"
          },
          "completedDatetime": {
            "type": "string",
            "format": "date-time"
          },
          "amountReceived": {
            "type": "number"
          },
          "settledBy": {
            "type": "string",
            "enum": [
              "PayID",
              "PayTo",
              "BSBAndAccountNumber"
            ]
          },
          "nppTransactionId": {
            "type": "string"
          },
          "payerInformation": {
            "type": "object",
            "properties": {
              "bsb": {
                "type": "string"
              },
              "accountNumber": {
                "type": "string"
              },
              "fullLegalAccountName": {
                "type": "string"
              }
            }
          }
        }
      },
      "PaymentRequestSearch": {
        "type": "object",
        "properties": {
          "clientTransactionId": {
            "type": "string",
            "minLength": 5,
            "maxLength": 100
          },
          "payID": {
            "type": "string",
            "format": "email"
          },
          "fromDate": {
            "type": "string",
            "format": "date-time"
          },
          "toDate": {
            "type": "string",
            "format": "date-time"
          },
          "clientBranch": {
            "type": "string",
            "minLength": 5,
            "maxLength": 50
          },
          "searchByDateType": {
            "type": "string",
            "enum": [
              "CREATED_DESC",
              "COMPLETED_DESC"
            ]
          }
        }
      },
      "CreatePaymentBody": {
        "type": "object",
        "required": [
          "clientPaymentId",
          "payeeName",
          "paymentAmount",
          "paymentDescription",
          "paymentNotification"
        ],
        "properties": {
          "clientPaymentId": {
            "type": "string",
            "minLength": 5,
            "maxLength": 100
          },
          "payeeName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 140
          },
          "paymentAmount": {
            "type": "string",
            "description": "Amount in AUD format"
          },
          "paymentDescription": {
            "type": "string",
            "minLength": 5,
            "maxLength": 280
          },
          "payID": {
            "type": "string",
            "minLength": 5,
            "maxLength": 50
          },
          "payIDType": {
            "type": "string",
            "enum": [
              "PHONE",
              "EMAIL",
              "ABN",
              "ORG"
            ]
          },
          "bsb": {
            "type": "string",
            "pattern": "^\\d{6}$"
          },
          "accountNumber": {
            "type": "string",
            "minLength": 4,
            "maxLength": 12
          },
          "paymentReference": {
            "type": "string",
            "maxLength": 35
          },
          "ultimatePayerName": {
            "type": "string",
            "maxLength": 140
          },
          "paymentNotification": {
            "type": "object",
            "properties": {
              "paymentNotificationEndpointUrl": {
                "type": "string",
                "format": "uri"
              },
              "paymentNotificationAuthorizationHeaderValue": {
                "type": "string"
              }
            }
          }
        }
      },
      "PaymentStatus": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "CREATED",
              "SETTLED",
              "FAILED",
              "PENDING",
              "RETURNED"
            ]
          },
          "createdDatetime": {
            "type": "string",
            "format": "date-time"
          },
          "currentBalance": {
            "type": "number"
          }
        }
      },
      "AccountEnquiryRequest": {
        "type": "object",
        "required": [
          "bsb"
        ],
        "properties": {
          "bsb": {
            "type": "string",
            "pattern": "^\\d{6}$"
          },
          "accountNumber": {
            "type": "string"
          },
          "accountName": {
            "type": "string"
          }
        }
      },
      "AccountEnquiryResponse": {
        "type": "object",
        "properties": {
          "nppReachable": {
            "type": "boolean"
          },
          "paytoReachable": {
            "type": "boolean"
          },
          "accountServices": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "validBsb": {
            "type": "boolean"
          },
          "validAccountNumber": {
            "type": "boolean"
          },
          "bic11": {
            "type": "string"
          }
        }
      },
      "PayIDEnquiryRequest": {
        "type": "object",
        "required": [
          "payID",
          "payIDType"
        ],
        "properties": {
          "payID": {
            "type": "string",
            "minLength": 5,
            "maxLength": 50
          },
          "payIDType": {
            "type": "string",
            "enum": [
              "PHONE",
              "EMAIL",
              "ABN",
              "ORG"
            ]
          },
          "bsb": {
            "type": "string"
          },
          "accountNumber": {
            "type": "string"
          },
          "accountName": {
            "type": "string"
          }
        }
      },
      "PayIDEnquiryResponse": {
        "type": "object",
        "properties": {
          "paytoReachable": {
            "type": "boolean"
          },
          "aliasName": {
            "type": "string"
          },
          "validAccountName": {
            "type": "boolean"
          }
        }
      },
      "AccountCheckRequest": {
        "type": "object",
        "required": [
          "accountCheckId",
          "bsb",
          "accountNumber",
          "accountName",
          "purposeCode",
          "additionalDetails"
        ],
        "properties": {
          "accountCheckId": {
            "type": "string",
            "minLength": 5,
            "maxLength": 100
          },
          "bsb": {
            "type": "string",
            "pattern": "^\\d{6}$"
          },
          "accountNumber": {
            "type": "string",
            "minLength": 4,
            "maxLength": 12
          },
          "accountName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 140
          },
          "purposeCode": {
            "type": "string",
            "enum": [
              "PYMT",
              "PAYE",
              "MAND",
              "PIRQ",
              "VADR"
            ]
          },
          "additionalDetails": {
            "type": "object",
            "required": [
              "endUserId",
              "endUserSessionId"
            ],
            "properties": {
              "endUserId": {
                "type": "string"
              },
              "endUserSessionId": {
                "type": "string"
              }
            }
          }
        }
      },
      "AccountCheckResponse": {
        "type": "object",
        "properties": {
          "accountCheckResultCode": {
            "type": "string"
          },
          "accountCheckResult": {
            "type": "string"
          },
          "displayAccountName": {
            "type": "string"
          },
          "errorReasonCode": {
            "type": "string"
          },
          "errorReasonDescription": {
            "type": "string"
          },
          "retryAdvice": {
            "type": "boolean"
          }
        }
      },
      "CreateClientRequest": {
        "type": "object",
        "required": [
          "clientTransactionId",
          "legalName",
          "abn",
          "settlementAccountFullLegalName",
          "defaultPaymentExpiryDuration",
          "payIDDomains"
        ],
        "properties": {
          "clientTransactionId": {
            "type": "string",
            "maxLength": 36
          },
          "legalName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50
          },
          "tradingName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50
          },
          "abn": {
            "type": "string",
            "pattern": "^\\d{11}$"
          },
          "settlementAccountFullLegalName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50
          },
          "defaultPaymentExpiryDuration": {
            "type": "integer",
            "minimum": 60,
            "description": "Expiry duration in minutes"
          },
          "payIDDomains": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "domain": {
                  "type": "string"
                },
                "merchantName": {
                  "type": "string"
                }
              }
            }
          },
          "settlementAccountBSB": {
            "type": "string"
          },
          "settlementAccountNumber": {
            "type": "string"
          },
          "settlementPayID": {
            "type": "string",
            "format": "email"
          },
          "dashboardUserEmail": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "ClientResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "topUpPayId": {
            "type": "string"
          },
          "keys": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "keyId": {
                  "type": "string"
                },
                "bcryptKeyHash": {
                  "type": "string"
                },
                "key": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "CreateApiKeyRequest": {
        "type": "object",
        "required": [
          "permissions"
        ],
        "properties": {
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "RestAPI/POST/paymentRequest"
            ]
          },
          "generateHMAC": {
            "type": "boolean"
          }
        }
      },
      "ApiKeyResponse": {
        "type": "object",
        "properties": {
          "keyID": {
            "type": "string"
          },
          "apiKey": {
            "type": "string"
          },
          "hmacKey": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "permittedOperations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Accountcheck"
    },
    {
      "name": "Accountenquiry"
    },
    {
      "name": "Apikeys"
    },
    {
      "name": "Balance"
    },
    {
      "name": "Clients"
    },
    {
      "name": "Payidenquiry"
    },
    {
      "name": "Payment"
    },
    {
      "name": "Paymentrequest"
    },
    {
      "name": "Reports"
    }
  ]
}