{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "name": "Edward Wilde"
    },
    "description": "Catchpoint API - OpenAPI Specification",
    "title": "Catchpoint API",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ewilde/Catchpoint/1.0.0"
  },
  "servers": [
    {
      "url": "https://io.catchpoint.com/"
    }
  ],
  "paths": {
    "/ui/api/v1/tests": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/testResult"
                  },
                  "type": "array"
                }
              }
            },
            "description": "test response"
          }
        },
        "tags": [
          "ui"
        ],
        "description": "Retrieve tests and filter them according to divisionId, productId, parentFolderId, statusId, name, url, type, monitor, pageNumber and pageSize.",
        "operationId": "get_ui_api_v1_tests"
      }
    },
    "/ui/api/v1/tests/{id}": {
      "get": {
        "parameters": [
          {
            "description": "Id of test to retrieve",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/test"
                }
              }
            },
            "description": "test response"
          }
        },
        "tags": [
          "ui"
        ],
        "description": "GET /ui/api/v1/tests/{id}",
        "operationId": "get_ui_api_v1_tests_id"
      },
      "post": {
        "parameters": [
          {
            "description": "To create a new test, use test id “0”",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/testModifyResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "test response"
          }
        },
        "tags": [
          "ui"
        ],
        "description": "Modify a test's detail based on Id. To create a new test, use test id “0” in the request JSON and endpoint url. The startTime and endTime should be in UTC Timezone.",
        "operationId": "post_ui_api_v1_tests_id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/test"
              }
            }
          },
          "description": "The details of the test to create or modify",
          "required": true
        }
      }
    },
    "/ui/api/v1/tests/{id}/allSections": {
      "get": {
        "parameters": [
          {
            "description": "ID of the test to fetch",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/testAllSections"
                }
              }
            },
            "description": "test response"
          }
        },
        "tags": [
          "ui"
        ],
        "description": "GET /ui/api/v1/tests/{id}/allSections",
        "operationId": "get_ui_api_v1_tests_id_allSections"
      }
    }
  },
  "components": {
    "schemas": {
      "item": {
        "properties": {
          "id": {
            "description": "Id.",
            "format": "int32",
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "type": "object"
      },
      "test": {
        "description": "Request object used to modify a test",
        "properties": {
          "additional_settings": {
            "properties": {
              "cache_TLD_query_levels": {
                "type": "boolean"
              },
              "calculate_page_speed_score": {
                "type": "boolean"
              },
              "capture_filmstrip": {
                "type": "boolean"
              },
              "capture_http_headers": {
                "type": "object"
              },
              "capture_meta_data": {
                "type": "object"
              },
              "capture_response_content": {
                "type": "object"
              },
              "capture_test_end_screenshot": {
                "type": "object"
              },
              "disable_paris_traceroute_mode": {
                "type": "boolean"
              },
              "disable_recursive_resolution": {
                "type": "boolean"
              },
              "do_not_follow_30x_redirects": {
                "type": "boolean"
              },
              "edns_subset": {
                "type": "string"
              },
              "enable_adblock_extension": {
                "type": "boolean"
              },
              "enable_data_push_api": {
                "type": "boolean"
              },
              "enable_host_data_collection": {
                "type": "boolean"
              },
              "enable_host_name_identification": {
                "type": "object"
              },
              "enable_ping_(ICMP)_monitor": {
                "type": "boolean"
              },
              "enable_ping_(TCP)_monitor": {
                "type": "boolean"
              },
              "enable_ping_(UDP)_monitor": {
                "type": "boolean"
              },
              "enable_spdy": {
                "type": "boolean"
              },
              "enable_traceroute_(ICMP)_monitor": {
                "type": "boolean"
              },
              "enable_traceroute_(TCP)_monitor": {
                "type": "boolean"
              },
              "enable_traceroute_(UDP)_monitor": {
                "type": "boolean"
              },
              "enable_zone_data_collection": {
                "type": "boolean"
              },
              "enforce_failure_if_longer_than": {
                "type": "integer"
              },
              "favor_NS_servers_with_lower_round_trip_time": {
                "type": "boolean"
              },
              "film_strip_frequency": {
                "type": "integer"
              },
              "ignore_ssl_failures": {
                "type": "boolean"
              },
              "on_NS_server_failure_retry_next_NS_server_on_the_same_level": {
                "type": "boolean"
              },
              "stop_test_on_document_complete": {
                "type": "boolean"
              },
              "stop_test_post_document_complete_after_no_activity_for": {
                "type": "integer"
              },
              "treat_40X_or_50X_http_response_as_successful_test_run": {
                "type": "boolean"
              },
              "viewport_height": {
                "type": "integer"
              },
              "viewport_width": {
                "type": "integer"
              }
            },
            "type": "object"
          },
          "advanced_settings": {
            "properties": {
              "gateway_address/host": {
                "type": "string"
              },
              "on_failure": {
                "properties": {
                  "debug_primary_host": {
                    "type": "boolean"
                  },
                  "debug_referenced_host": {
                    "type": "boolean"
                  },
                  "verify_test": {
                    "type": "boolean"
                  }
                },
                "type": "object"
              }
            },
            "type": "object"
          },
          "alert_section": {
            "properties": {
              "inheritance_type": {
                "type": "object"
              }
            },
            "type": "object"
          },
          "apdex_threshold": {
            "type": "integer"
          },
          "apdex_tolerating_threshold": {
            "type": "integer"
          },
          "authentication": {
            "type": "object"
          },
          "bcc": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "cc": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "change_date": {
            "format": "date-time",
            "type": "string"
          },
          "delete_file_post_successful_upload": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "division_id": {
            "type": "integer"
          },
          "dns_query_type": {
            "type": "object"
          },
          "dns_server": {
            "type": "string"
          },
          "end": {
            "format": "date-time",
            "type": "string"
          },
          "expiration_contact_group_id": {
            "type": "integer"
          },
          "expiration_contact_id": {
            "type": "integer"
          },
          "from": {
            "type": "string"
          },
          "har_content": {
            "type": "string"
          },
          "har_description": {
            "type": "string"
          },
          "http_method": {
            "type": "object"
          },
          "id": {
            "format": "int32",
            "type": "integer"
          },
          "indexes": {
            "items": {
              "type": "object"
            },
            "type": "array"
          },
          "insight_section": {
            "properties": {
              "inheritance_type": {
                "type": "object"
              }
            },
            "type": "object"
          },
          "message": {
            "type": "string"
          },
          "mobile_playback_source": {
            "type": "object"
          },
          "monitor": {
            "$ref": "#/components/schemas/item"
          },
          "name": {
            "type": "string"
          },
          "parent_folder_id": {
            "type": "integer"
          },
          "playback_Source": {
            "type": "object"
          },
          "post_data": {
            "type": "string"
          },
          "post_data_format": {
            "type": "object"
          },
          "product_id": {
            "type": "integer"
          },
          "protocol": {
            "type": "object"
          },
          "request_data": {
            "type": "string"
          },
          "request_section": {
            "properties": {
              "inheritance_type": {
                "type": "object"
              }
            },
            "type": "object"
          },
          "request_type": {
            "items": {
              "type": "object"
            },
            "type": "array"
          },
          "schedule_section": {
            "properties": {
              "inheritance_type": {
                "type": "object"
              }
            },
            "type": "object"
          },
          "script": {
            "type": "string"
          },
          "simulate": {
            "type": "object"
          },
          "start": {
            "format": "date-time",
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/item"
          },
          "subject": {
            "type": "string"
          },
          "test_domain": {
            "type": "string"
          },
          "test_html": {
            "type": "string"
          },
          "test_location": {
            "type": "string"
          },
          "test_type": {
            "$ref": "#/components/schemas/item"
          },
          "test_url": {
            "type": "string"
          },
          "to": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "upload_size": {
            "type": "integer"
          },
          "use_passive_connection": {
            "type": "boolean"
          },
          "username": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "testAllSections": {
        "description": "A test object complete with all information",
        "properties": {
          "additional_settings": {
            "properties": {
              "calculate_page_speed_score": {
                "type": "boolean"
              },
              "capture_http_headers": {
                "$ref": "#/components/schemas/item"
              },
              "capture_response_content": {
                "$ref": "#/components/schemas/item"
              },
              "capture_test_end_screenshot": {
                "$ref": "#/components/schemas/item"
              }
            },
            "type": "object"
          },
          "advanced_settings": {
            "properties": {
              "on_failure": {
                "properties": {
                  "verify_test": {
                    "type": "boolean"
                  }
                },
                "type": "object"
              }
            },
            "type": "object"
          },
          "alert_section": {
            "properties": {
              "inheritance_type": {
                "$ref": "#/components/schemas/item"
              }
            },
            "type": "object"
          },
          "change_date": {
            "type": "string"
          },
          "division_id": {
            "format": "int32",
            "type": "integer"
          },
          "http_method": {
            "$ref": "#/components/schemas/item"
          },
          "id": {
            "description": "Id.",
            "format": "int32",
            "type": "integer"
          },
          "insight_section": {
            "properties": {
              "inheritance_type": {
                "$ref": "#/components/schemas/item"
              }
            },
            "type": "object"
          },
          "monitor": {
            "$ref": "#/components/schemas/item"
          },
          "name": {
            "type": "string"
          },
          "product_id": {
            "format": "int32",
            "type": "integer"
          },
          "request_section": {
            "properties": {
              "inheritance_type": {
                "$ref": "#/components/schemas/item"
              }
            },
            "type": "object"
          },
          "schedule_section": {
            "properties": {
              "inheritance_type": {
                "$ref": "#/components/schemas/item"
              },
              "network_type": {
                "$ref": "#/components/schemas/item"
              },
              "nodes": {
                "items": {
                  "properties": {
                    "id": {
                      "description": "Id.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "$ref": "#/components/schemas/item"
                    }
                  },
                  "type": "object"
                },
                "type": "array"
              },
              "run_type": {
                "properties": {
                  "frequency": {
                    "$ref": "#/components/schemas/item"
                  },
                  "node_distribution": {
                    "$ref": "#/components/schemas/item"
                  },
                  "run_on": {
                    "$ref": "#/components/schemas/item"
                  }
                },
                "type": "object"
              }
            },
            "type": "object"
          },
          "start": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/item"
          },
          "test_url": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "testModifyResponse": {
        "description": "Returned from modifying the response",
        "properties": {
          "id": {
            "type": "integer"
          },
          "section": {
            "$ref": "#/components/schemas/item"
          },
          "status": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "testResult": {
        "description": "A test object from a search result",
        "properties": {
          "change_date": {
            "type": "string"
          },
          "division_id": {
            "format": "int32",
            "type": "integer"
          },
          "frequency": {
            "$ref": "#/components/schemas/item"
          },
          "id": {
            "description": "Id.",
            "format": "int32",
            "type": "integer"
          },
          "monitors": {
            "items": {
              "$ref": "#/components/schemas/item"
            },
            "type": "array"
          },
          "name": {
            "type": "string"
          },
          "product_id": {
            "format": "int32",
            "type": "integer"
          },
          "status": {
            "$ref": "#/components/schemas/item"
          },
          "type": {
            "$ref": "#/components/schemas/item"
          }
        },
        "type": "object"
      }
    }
  },
  "tags": [
    {
      "name": "ui"
    }
  ]
}